Repository Azure/azure-rest-api-specs, pull requests merged in 2018-08, with the labels that each got.

#3478 BotService Preview: new API version for MsTeams and CheckNameavailability
  specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/botservice.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/examples/CheckNameAvailability.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/examples/CreateBot.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/examples/DeleteBot.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/examples/DeleteChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/examples/DeleteConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/examples/GetBot.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/examples/GetChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/examples/GetConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/examples/GetOperations.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/examples/ListBotsByResourceGroup.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/examples/ListBotsBySubscription.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/examples/ListChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/examples/ListChannelsByBotService.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/examples/ListConnectionsByBotService.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/examples/ListServiceProviders.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/examples/PutChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/examples/PutConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/examples/UpdateBot.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/examples/UpdateChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/examples/UpdateConnection.json
  specification/botservice/resource-manager/readme.md
Labels: ARMSignedOff

#3558 Service Endpoint Policies Swagger
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/ServiceEndpointPolicyCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/ServiceEndpointPolicyCreateWithDefinition.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/ServiceEndpointPolicyDefinitionCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/ServiceEndpointPolicyDefinitionDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/ServiceEndpointPolicyDefinitionGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/ServiceEndpointPolicyDefinitionList.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/ServiceEndpointPolicyDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/ServiceEndpointPolicyGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/ServiceEndpointPolicyList.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/ServiceEndpointPolicyListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/VirtualNetworkCreateServiceEndpointPolicy.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/serviceEndpointPolicy.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/virtualNetwork.json
  specification/network/resource-manager/readme.md
Labels: ARMSignedOff

#3515 Add extended properties to recommendation model
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#3506 Fix AzureStack swagger specs lint errors
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/AzureStack.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/CustomerSubscription.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/Product.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/Registration.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/examples/CustomerSubscription/Get.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/examples/CustomerSubscription/List.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/examples/CustomerSubscription/Put.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/examples/Product/Get.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/examples/Product/List.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/examples/Registration/Delete.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/examples/Registration/Get.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/examples/Registration/List.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/examples/Registration/Patch.json
Labels: ARMSignedOff

#3545 Add enableTcpReset property to load balancer
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/InboundNatRuleCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/InboundNatRuleGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/InboundNatRuleList.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/LoadBalancerCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/LoadBalancerCreateWithInboundNatPool.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/LoadBalancerGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/LoadBalancerList.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/LoadBalancerListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/LoadBalancerLoadBalancingRuleGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/LoadBalancerLoadBalancingRuleList.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/loadBalancer.json
Labels: ARMSignedOff

#3522 Add api to list usages of Azure SignalR resources
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2018-03-01-preview/examples/ListUsagesByLocation.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2018-03-01-preview/signalr.json
Labels: ARMSignedOff

#3605 Adding documentation for R4001
  documentation/openapi-authoring-automated-guidelines.md
Labels: Documentation-Only

#3613 [AKS] fix CredentialResult value format
  specification/containerservices/resource-manager/Microsoft.ContainerService/stable/2018-03-31/managedClusters.json
Labels: potential-sdk-breaking-change

#3588 Introducing UsageDetails and Aggregated Cost by Managment Group Scope. Also updated some existing examples to include missing billingperiod in billingPeriodId Property.
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/AggregatedCostByManagementGroup.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/AggregatedCostForBillingPeriodByManagementGroup.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/BalancesByBillingAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/MarketplacesByBillingAccountList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/MarketplacesByDepartmentList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/MarketplacesByEnrollmentAccountList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/MarketplacesList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/PriceSheet.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/UsageDetailsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/UsageDetailsListByBillingAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/UsageDetailsListByDepartment.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/UsageDetailsListByEnrollmentAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/UsageDetailsListByManagementGroup.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/UsageDetailsListFilterByTag.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/UsageDetailsListForBillingPeriodByManagementGroup.json
Labels: ARMSignedOff

#3624 Updating SourceControlSyncJobs and SourceControlSyncJobStreams properties and examples.
  specification/automation/resource-manager/Microsoft.Automation/preview/2017-05-15-preview/examples/sourceControlSyncJob/createSourceControlSyncJob.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2017-05-15-preview/examples/sourceControlSyncJob/getAllSourceControlSyncJobs.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2017-05-15-preview/examples/sourceControlSyncJob/getSourceControlSyncJob.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2017-05-15-preview/examples/sourceControlSyncJobStreams/getSourceControlSyncJobStreams.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2017-05-15-preview/examples/sourceControlSyncJobStreams/getSourceControlSyncJobStreamsByStreamId.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2017-05-15-preview/sourceControlSyncJob.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2017-05-15-preview/sourceControlSyncJobStreams.json
Labels: potential-sdk-breaking-change

#3548 Adding hardware security modules RP with dedicated HSM swagger
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2018-10-31-preview/dedicatedhsm.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2018-10-31-preview/examples/DedicatedHsm_CreateOrUpdate.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2018-10-31-preview/examples/DedicatedHsm_Delete.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2018-10-31-preview/examples/DedicatedHsm_Get.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2018-10-31-preview/examples/DedicatedHsm_ListByResourceGroup.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2018-10-31-preview/examples/DedicatedHsm_ListBySubscription.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2018-10-31-preview/examples/DedicatedHsm_Update.json
  specification/hardwaresecuritymodules/resource-manager/readme.md
Labels: ARMSignedOff

#3498 [Serial Console] Add API documentation for Azure Serial Console
  CODEOWNERS
  profiles/ResourceSchemas.md
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/stable/2018-05-01/examples/DisableConsoleExamples.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/stable/2018-05-01/examples/EnableConsoleExamples.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/stable/2018-05-01/examples/GetConsoleDisabledExamples.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/stable/2018-05-01/examples/GetOperationsExample.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/stable/2018-05-01/serialconsole.json
  specification/serialconsole/resource-manager/readme.md
  specification/serialconsole/resource-manager/readme.python.md
Labels: ARMSignedOff

#3599 Added NetworkConfigurationDiagnostic rest API + example
  specification/network/resource-manager/Microsoft.Network/stable/2018-06-01/examples/NetworkWatcherNetworkConfigurationDiagnostic.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-06-01/examples/NetworkWatcherQueryConnectionMonitors.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-06-01/networkWatcher.json
Labels: ARMSignedOff

#3592 Add/Edit Outbound Rule on Load Balancer and Examples
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/LoadBalancerCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/LoadBalancerCreateStandardSku.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/LoadBalancerCreateWithInboundNatPool.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/LoadBalancerCreateWithZones.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/LoadBalancerGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/LoadBalancerList.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/LoadBalancerListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/LoadBalancerUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/NetworkInterfaceLoadBalancerList.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/UsageList.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/loadBalancer.json
Labels: potential-sdk-breaking-change

#3560 WebApps - Add BackupName to backup API models
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/WebApps.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#3644 Add serverSecurityAlertPolicies APIs for MySQL servers
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2017-12-01/examples/ServerSecurityAlertsCreateMax.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2017-12-01/examples/ServerSecurityAlertsCreateMin.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2017-12-01/examples/ServerSecurityAlertsGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2017-12-01/mysql.json
Labels: WaitForARMFeedback

#3617 Azure container registry build feature GA API specification and examples.
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2018-09-01/containerregistry_build.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2018-09-01/examples/RegistriesGetBuildSourceUploadUrl.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2018-09-01/examples/RegistriesScheduleRun.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2018-09-01/examples/RegistriesScheduleRun_BuildTask.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2018-09-01/examples/RegistriesScheduleRun_QuickTaskRun.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2018-09-01/examples/RegistriesScheduleRun_Task.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2018-09-01/examples/RunsCancel.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2018-09-01/examples/RunsGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2018-09-01/examples/RunsGetLogSasUrl.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2018-09-01/examples/RunsList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2018-09-01/examples/RunsUpdate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2018-09-01/examples/TasksCreate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2018-09-01/examples/TasksDelete.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2018-09-01/examples/TasksGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2018-09-01/examples/TasksGetDetails.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2018-09-01/examples/TasksList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2018-09-01/examples/TasksUpdate.json
  specification/containerregistry/resource-manager/readme.md
  specification/containerregistry/resource-manager/readme.nodejs.md
Labels: ARMSignedOff

#3711 Update required properties for Outbound Rules
  documentation/swagger-checklist.md
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/loadBalancer.json
Labels: DoNotMerge, potential-sdk-breaking-change

#3724 Use CommonTypes definition instead of creating our own in Microsoft.StorageSync Resource Provider swagger spec
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-04-02/examples/ServerEndpoints_Update.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-04-02/examples/StorageSyncServices_Update.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-04-02/storagesync.json
Labels: ARMSignedOff

#3511 Introducing new API for Azure Security Center Settings
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/Settings/GetSetting_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/Settings/GetSettings_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/Settings/UpdateSetting_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/security.json
Labels: ARMSignedOff, DoNotMerge

#3640 Reports API moved from stable to preview version with addition of documentation of a couple of new APIs
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-08-01-preview/costmanagement.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-08-01-preview/examples/Report.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-08-01-preview/examples/ReportCreateOrUpdate.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-08-01-preview/examples/ReportDelete.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-08-01-preview/examples/ReportExecution.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-08-01-preview/examples/ReportExecutionList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-08-01-preview/examples/ReportList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2018-05-31/examples/ReportConfig.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2018-05-31/examples/ReportConfigCreateOrUpdate.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2018-05-31/examples/ReportConfigDelete.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2018-05-31/examples/ReportConfigList.json
Labels: ARMSignedOff

#3716 Microsoft.ResourceGraph public preview spec
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/examples/OperationsList.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/examples/ResourcesAliasQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/examples/ResourcesBasicQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/examples/ResourcesComplexQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/examples/ResourcesFacetQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/examples/ResourcesFilterQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/examples/ResourcesFirstPageQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/examples/ResourcesNextPageQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/examples/ResourcesPropertiesQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/examples/ResourcesQueryOptions.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/examples/ResourcesRandomPageQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/examples/ResourcesSummarizeQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/resourcegraph.json
  specification/resourcegraph/resource-manager/readme.md
Labels: ARMSignedOff

#3685 Support for pipeline templates in microsoft.visualstudio RP
  specification/visualstudio/resource-manager/Microsoft.VisualStudio/preview/2018-08-01-preview/PipelineTemplates.json
  specification/visualstudio/resource-manager/Microsoft.VisualStudio/preview/2018-08-01-preview/Projects.json
  specification/visualstudio/resource-manager/Microsoft.VisualStudio/preview/2018-08-01-preview/examples/CreateProjectResource.json
  specification/visualstudio/resource-manager/Microsoft.VisualStudio/preview/2018-08-01-preview/examples/GetPipelineTemplates_List.json
  specification/visualstudio/resource-manager/Microsoft.VisualStudio/preview/2018-08-01-preview/examples/GetProjectResource.json
  specification/visualstudio/resource-manager/Microsoft.VisualStudio/preview/2018-08-01-preview/examples/GetProjectResources_List.json
  specification/visualstudio/resource-manager/Microsoft.VisualStudio/preview/2018-08-01-preview/examples/UpdateProjectResource.json
Labels: Reassign

#3567 Expose DMS online migration scenarios for public preview
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/datamigration.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/Commands.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/Common.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/ConnectToSourceMySqlTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/ConnectToSourceSqlServerTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/ConnectToTargetAzureDbForMySqlTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/ConnectToTargetSqlDbTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/ConnectToTargetSqlMITask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/ConnectToTargetSqlSqlDbSyncTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/GetTdeCertificatesSqlTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/GetUserTablesSqlSyncTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/GetUserTablesSqlTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/MigrateMySqlAzureDbForMySqlSyncTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/MigratePostgreSqlAzureDbForPostgreSqlSyncTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/MigrateSchemaSqlServerSqlDbTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/MigrateSqlServerSqlDbSyncTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/MigrateSqlServerSqlDbTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/MigrateSqlServerSqlMITask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/MigrationValidation.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/Projects.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/ResourceSkus.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/Services.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/Tasks.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/TasksCommon.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/ValidateMigrationInputSqlServerSqlMITask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/ValidateSyncMigrationInputSqlServerTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/examples/Operations_List.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/examples/Projects_CreateOrUpdate.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/examples/Projects_Delete.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/examples/Projects_Get.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/examples/Projects_List.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/examples/Projects_Update.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/examples/ResourceSkus_ListSkus.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/examples/Services_CheckChildrenNameAvailability.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/examples/Services_CheckNameAvailability.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/examples/Services_CheckStatus.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/examples/Services_CreateOrUpdate.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/examples/Services_Delete.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/examples/Services_Get.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/examples/Services_List.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/examples/Services_ListByResourceGroup.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/examples/Services_ListSkus.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/examples/Services_NestedCheckNameAvailability.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/examples/Services_Start.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/examples/Services_Stop.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/examples/Services_Update.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/examples/Tasks_Cancel.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/examples/Tasks_Command.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/examples/Tasks_CreateOrUpdate.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/examples/Tasks_Delete.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/examples/Tasks_Get.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/examples/Tasks_List.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/examples/Tasks_Update.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/examples/Usages_List.json
  specification/datamigration/resource-manager/readme.md
Labels: ARMSignedOff

#3746 Renamed BuildTask to FileTask and RunTask to EncodedTask in Azure Container registry Build GA swagger
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2018-09-01/containerregistry_build.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2018-09-01/examples/RegistriesScheduleRun_EncodedTaskRun.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2018-09-01/examples/RegistriesScheduleRun_FileTaskRun.json
Labels: potential-sdk-breaking-change

#3749 Fixing the spec for DSCConfigurations.
  specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/dscConfiguration.json
  specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/examples/getDscConfigurationContent.json
Labels: potential-sdk-breaking-change

#3758 change payload-flattening-threshold from 2 to 1
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-04-02/storagesync.json
  specification/storagesync/resource-manager/readme.md
Labels: potential-sdk-breaking-change

#3780 Adding LinkedResourceType and HostedWorkloads to Network Interface
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/networkInterface.json
Labels: WaitForARMFeedback

#3731 #Network Added Trusted root certificate changes to new API version
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/applicationGateway.json
Labels: WaitForARMFeedback

#3757 Added the replica count API change to Shared Image Gallery swagger file.
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-06-01/examples/CreateOrUpdateASimpleGalleryImageVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-06-01/examples/GetAGalleryImageVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-06-01/examples/GetAGalleryImageVersionWithReplicationStatus.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-06-01/examples/ListGalleryImageVersionsInAGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-06-01/gallery.json
Labels: potential-sdk-breaking-change
