Repository Azure/azure-rest-api-specs, pull requests merged in 2018-10, with the labels that each got.

#3216 Add mysql replica APIs into spec
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2017-12-01/examples/ReplicasListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2017-12-01/examples/ServerCreateReplicaMode.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2017-12-01/examples/ServerGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2017-12-01/mysql.json
Labels: ARMSignedOff

#3915 Add Information Protection APIs
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/InformationProtectionPolicies/CreateOrUpdateInformationProtectionPolicy_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/InformationProtectionPolicies/GetCustomInformationProtectionPolicy_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/InformationProtectionPolicies/GetEffectiveInformationProtectionPolicy_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/InformationProtectionPolicies/ListInformationProtectionPolicies_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/security.json
Labels: WaitForARMFeedback

#3855 add swagger for new Azure Blueprint ResourceProvider
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/blueprint.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/examples/ARMTemplateArtifact_Create.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/examples/ARMTemplateArtifact_Delete.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/examples/ARMTemplateArtifact_Get.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/examples/Artifact_List.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/examples/BlueprintAssignment_Create.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/examples/BlueprintAssignment_Delete.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/examples/BlueprintAssignment_Get.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/examples/BlueprintAssignment_List.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/examples/Blueprint_Create.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/examples/Blueprint_Delete.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/examples/Blueprint_Get.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/examples/Blueprint_List.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/examples/OperationsList.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/examples/PolicyAssignmentArtifact_Create.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/examples/PolicyAssignmentArtifact_Delete.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/examples/PolicyAssignmentArtifact_Get.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/examples/RoleAssignmentArtifact_Create.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/examples/RoleAssignmentArtifact_Delete.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/examples/RoleAssignmentArtifact_Get.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/examples/SealedARMTemplateArtifact_Get.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/examples/SealedArtifact_List.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/examples/SealedBlueprint_Delete.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/examples/SealedBlueprint_Get.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/examples/SealedBlueprint_List.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/examples/SealedBlueprint_Publish.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/examples/SealedPolicyAssignmentArtifact_Get.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2017-11-11-preview/examples/SealedRoleAssignmentArtifact_Get.json
  specification/blueprint/resource-manager/readme.md
Labels: ARMSignedOff

#4016 Add Multi Resource Alert changes for Metric Alert API
  specification/monitor/resource-manager/microsoft.insights/stable/2018-03-01/examples/createOrUpdateMetricAlertMultipleResource.json
  specification/monitor/resource-manager/microsoft.insights/stable/2018-03-01/examples/createOrUpdateMetricAlertResourceGroup.json
  specification/monitor/resource-manager/microsoft.insights/stable/2018-03-01/examples/createOrUpdateMetricAlertSingleResource.json
  specification/monitor/resource-manager/microsoft.insights/stable/2018-03-01/examples/createOrUpdateMetricAlertSubscription.json
  specification/monitor/resource-manager/microsoft.insights/stable/2018-03-01/examples/getMetricAlertMultipleResource.json
  specification/monitor/resource-manager/microsoft.insights/stable/2018-03-01/examples/getMetricAlertResourceGroup.json
  specification/monitor/resource-manager/microsoft.insights/stable/2018-03-01/examples/getMetricAlertSingleResource.json
  specification/monitor/resource-manager/microsoft.insights/stable/2018-03-01/examples/getMetricAlertSubscription.json
  specification/monitor/resource-manager/microsoft.insights/stable/2018-03-01/metricAlert_API.json
Labels: ARMSignedOff

#4060 Add APIs for tumbling window rerun trigger
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Trigger.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/RerunTriggers_Cancel.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/RerunTriggers_Create.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/RerunTriggers_ListByTrigger.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/RerunTriggers_Start.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/RerunTriggers_Stop.json
Labels: ARMSignedOff

#4100 Suppression rule for Microsoft.Resources
  specification/resources/resource-manager/readme.md
Labels: ARMSignedOff

#4017 Fix the runbook resource schema issues
  specification/automation/resource-manager/Microsoft.Automation/stable/2018-06-30/runbook.json
Labels: potential-sdk-breaking-change

#3773 GraphRBAC
  specification/graphrbac/data-plane/stable/1.6/graphrbac.json
Labels: DoNotMerge

#3712 Container Service - Add OpenShift support
  specification/containerservices/resource-manager/Microsoft.ContainerService/preview/2018-09-30-preview/examples/OpenShiftManagedClustersCreate_Update.json
  specification/containerservices/resource-manager/Microsoft.ContainerService/preview/2018-09-30-preview/examples/OpenShiftManagedClustersDelete.json
  specification/containerservices/resource-manager/Microsoft.ContainerService/preview/2018-09-30-preview/examples/OpenShiftManagedClustersGet.json
  specification/containerservices/resource-manager/Microsoft.ContainerService/preview/2018-09-30-preview/examples/OpenShiftManagedClustersUpdateTags.json
  specification/containerservices/resource-manager/Microsoft.ContainerService/preview/2018-09-30-preview/openShiftManagedClusters.json
  specification/containerservices/resource-manager/readme.go.md
  specification/containerservices/resource-manager/readme.md
Labels: ARMSignedOff

#3426 Add topology Rest API
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/Topology/GetTopologySubscriptionLocation_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/Topology/GetTopologySubscription_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/Topology/GetTopology_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/security.json
Labels: ARMSignedOff

#4069 Introducing New Version 2018-10-01 for Consumption API
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/AggregatedCostByManagementGroup.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/AggregatedCostByManagementGroupFilterByDate.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/AggregatedCostForBillingPeriodByManagementGroup.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/BalancesByBillingAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/BalancesByBillingAccountForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/Budget.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/BudgetsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/ChargesForBillingPeriodByDepartment.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/ChargesForBillingPeriodByEnrollmentAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/ChargesListForDepartment.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/ChargesListForDepartmentFilterByStartEndDate.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/ChargesListForEnrollmentAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/ChargesListForEnrollmentAccountFilterByStartEndDate.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/CreateOrUpdateBudget.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/DeleteBudget.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/ForecastsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/ForecastsListFilterByDates.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/ForecastsListFilterByGrain.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/MarketplacesByBillingAccountList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/MarketplacesByBillingAccountListForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/MarketplacesByDepartmentList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/MarketplacesByDepartment_ListByBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/MarketplacesByEnrollmentAccountList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/MarketplacesByEnrollmentAccounts_ListByBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/MarketplacesList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/MarketplacesListForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/PriceSheet.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/PriceSheetExpand.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/PriceSheetForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/ReservationDetails.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/ReservationDetailsWithReservationId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/ReservationRecommendationsFilterByScopeLookBackPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/ReservationRecommendationsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/ReservationSummariesDaily.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/ReservationSummariesDailyWithReservationId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/ReservationSummariesMonthly.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/ReservationSummariesMonthlyWithReservationId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/Tags.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/UsageDetailsExpand.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/UsageDetailsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/UsageDetailsListByBillingAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/UsageDetailsListByDepartment.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/UsageDetailsListByEnrollmentAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/UsageDetailsListByManagementGroup.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/UsageDetailsListFilterByTag.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/UsageDetailsListForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/UsageDetailsListForBillingPeriodByBillingAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/UsageDetailsListForBillingPeriodByDepartment.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/UsageDetailsListForBillingPeriodByEnrollmentAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/UsageDetailsListForBillingPeriodByManagementGroup.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/UsageDetailsListForBillingPeriodGroupByTag.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/UsageDetailsListGroupByTagDate.json
  specification/consumption/resource-manager/readme.md
Labels: ARMSignedOff, Approved-OkToMerge

#3634 ManagedInstance api for restoredDroppableDatabases (restoredDroppableManagedDatabases)
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/GetRestorableDroppedManagedDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/RestorableDroppedManagedDatabaseListByManagedInstance.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/restorableDroppedManagedDatabases.json
Labels: ARMSignedOff

#4222 Forecast support in query api - Preview
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/costmanagement.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/BillingAccountDimensionsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/BillingAccountDimensionsListExpandAndTop.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/BillingAccountDimensionsListWithFilter.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/BillingAccountQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/BillingAccountQueryForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/BillingAccountQueryGroupingUsage.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/BillingAccountQueryUsage.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/DepartmentDimensionsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/DepartmentDimensionsListExpandAndTop.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/DepartmentDimensionsListWithFilter.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/DepartmentQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/DepartmentQueryForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/DepartmentQueryGroupingUsage.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/DepartmentQueryUsage.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/EnrollmentAccountDimensionsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/EnrollmentAccountDimensionsListExpandAndTop.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/EnrollmentAccountDimensionsListWithFilter.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/EnrollmentAccountQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/EnrollmentAccountQueryForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/EnrollmentAccountQueryGroupingUsage.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/EnrollmentAccountQueryUsage.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/ManagementGroupDimensionsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/ManagementGroupDimensionsListExpandAndTop.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/ManagementGroupDimensionsListWithFilter.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/ManagementGroupQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/ManagementGroupQueryForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/ManagementGroupQueryGroupingUsage.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/ManagementGroupQueryUsage.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/ResourceGroupDimensionsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/ResourceGroupQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/ResourceGroupQueryForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/ResourceGroupQueryUsage.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/SubscriptionDimensionsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/SubscriptionQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/SubscriptionQueryForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/examples/SubscriptionQueryUsage.json
Labels: Reassign

#4056 New resource: Add Alert resource type to cost-management
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-08-01-preview/costmanagement.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-08-01-preview/examples/Alert.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-08-01-preview/examples/AlertList.json
Labels: ARMSignedOff

#4237 Support two apiversion for container service
  specification/containerservices/resource-manager/Microsoft.ContainerService/preview/2018-08-01-preview/examples/ManagedClustersCreate_Update.json
  specification/containerservices/resource-manager/Microsoft.ContainerService/preview/2018-08-01-preview/examples/ManagedClustersDelete.json
  specification/containerservices/resource-manager/Microsoft.ContainerService/preview/2018-08-01-preview/examples/ManagedClustersGet.json
  specification/containerservices/resource-manager/Microsoft.ContainerService/preview/2018-08-01-preview/examples/ManagedClustersGetAccessProfile.json
  specification/containerservices/resource-manager/Microsoft.ContainerService/preview/2018-08-01-preview/examples/ManagedClustersGetUpgradeProfile.json
  specification/containerservices/resource-manager/Microsoft.ContainerService/preview/2018-08-01-preview/examples/ManagedClustersList.json
  specification/containerservices/resource-manager/Microsoft.ContainerService/preview/2018-08-01-preview/examples/ManagedClustersListByResourceGroup.json
  specification/containerservices/resource-manager/Microsoft.ContainerService/preview/2018-08-01-preview/examples/ManagedClustersListClusterCredentialResult.json
  specification/containerservices/resource-manager/Microsoft.ContainerService/preview/2018-08-01-preview/examples/ManagedClustersUpdateTags.json
  specification/containerservices/resource-manager/Microsoft.ContainerService/preview/2018-08-01-preview/managedClusters.json
  specification/containerservices/resource-manager/readme.go.md
  specification/containerservices/resource-manager/readme.md
Labels: ARMSignedOff, potential-sdk-breaking-change

#4242 dedicatedhsm: fix invalid references in readme.md
  specification/hardwaresecuritymodules/resource-manager/readme.md
Labels: ARMSignedOff

#4268 add armRoleReceiver to ActionGroup API and update API version to 2018-09-01
  specification/monitor/resource-manager/microsoft.insights/stable/2018-09-01/actionGroups_API.json
  specification/monitor/resource-manager/microsoft.insights/stable/2018-09-01/examples/createOrUpdateActionGroup.json
  specification/monitor/resource-manager/microsoft.insights/stable/2018-09-01/examples/deleteActionGroup.json
  specification/monitor/resource-manager/microsoft.insights/stable/2018-09-01/examples/enableReceiver.json
  specification/monitor/resource-manager/microsoft.insights/stable/2018-09-01/examples/getActionGroup.json
  specification/monitor/resource-manager/microsoft.insights/stable/2018-09-01/examples/listActionGroups.json
  specification/monitor/resource-manager/microsoft.insights/stable/2018-09-01/examples/patchActionGroup.json
  specification/monitor/resource-manager/readme.md
Labels: ARMSignedOff, potential-sdk-breaking-change

#4254 ServiceBus : Added namespace Migrate API reported in ARMs Fundamental dashboard
  specification/servicebus/resource-manager/Microsoft.ServiceBus/stable/2017-04-01/examples/NameSpaces/SBNamespaceMigrate.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/stable/2017-04-01/servicebus.json
Labels: ARMSignedOff

#4303 Reverting change: Replacing PartialSync for IncrementalSync for sync type and updating examples.
  specification/automation/resource-manager/Microsoft.Automation/preview/2017-05-15-preview/examples/sourceControlSyncJob/getAllSourceControlSyncJobs.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2017-05-15-preview/examples/sourceControlSyncJob/getSourceControlSyncJob.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2017-05-15-preview/sourceControlSyncJob.json
Labels: Automation, potential-sdk-breaking-change

#4248 enableHttpCorrelationHeaders property is added to the Diagnostic entity
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-06-01-preview/apimdiagnostics.json
Labels: DoNotMerge

#4295 Fix network trace API REST format
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/WebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples/GetWebSiteNetworkTraceOperationV2.json
Labels: ARMSignedOff

#4320 Changes to add operation id for outbound rules
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/LoadBalancerOutboundRuleGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/LoadBalancerOutboundRuleList.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/loadBalancer.json
Labels: ARMSignedOff

#4316 Support for SRP BlobServiceProperties API
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-07-01/blob.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-07-01/examples/BlobServicesGet.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-07-01/examples/BlobServicesPut.json
  specification/storage/resource-manager/readme.md
Labels: ARMSignedOff

#4257 [DO NOT MERGE] VA List Api version edit
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/databaseVulnerabilityAssessments.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/DatabaseVulnerabilityAssessmentCreateContainerSasKeyMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/DatabaseVulnerabilityAssessmentCreateStorageAccessKeyMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/DatabaseVulnerabilityAssessmentListByDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/examples/ManagedDatabaseVulnerabilityAssessmentListByDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/managedDatabaseVulnerabilityAssessments.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/DatabaseVulnerabilityAssessment.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/ManagedDatabaseVulnerabilityAssessments.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/DatabaseVulnerabilityAssessmentCreateContainerSasKeyMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/DatabaseVulnerabilityAssessmentCreateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/DatabaseVulnerabilityAssessmentCreateStorageAccessKeyMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/DatabaseVulnerabilityAssessmentDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/DatabaseVulnerabilityAssessmentGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedDatabaseVulnerabilityAssessmentCreateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedDatabaseVulnerabilityAssessmentCreateMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedDatabaseVulnerabilityAssessmentDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedDatabaseVulnerabilityAssessmentGet.json
Labels: Reassign

#4357 Add Devtestlabs/2018-09-15
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/DTL.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/Labs_ClaimAnyVm.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/Labs_CreateEnvironment.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/Labs_CreateOrUpdate.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/Labs_Delete.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/Labs_GenerateUploadUri.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/Labs_Get.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/Labs_ListByResourceGroup.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/Labs_ListBySubscription.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/Labs_Update.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/ProviderOperations_List.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/VirtualMachines_Claim.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/VirtualMachines_CreateOrUpdate.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/VirtualMachines_Delete.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/VirtualMachines_Get.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/VirtualMachines_GetRdpFileContents.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/VirtualMachines_List.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/VirtualMachines_Redeploy.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/VirtualMachines_Resize.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/VirtualMachines_Restart.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/VirtualMachines_Start.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/VirtualMachines_Stop.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/VirtualMachines_UnClaim.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/VirtualMachines_Update.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/VirtualNetworks_CreateOrUpdate.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/VirtualNetworks_Delete.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/VirtualNetworks_Get.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/VirtualNetworks_List.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/VirtualNetworks_Update.json
  specification/devtestlabs/resource-manager/readme.go.md
  specification/devtestlabs/resource-manager/readme.md
  specification/devtestlabs/resource-manager/readme.ruby.md
Labels: ARMSignedOff
