Repository Azure/azure-rest-api-specs, pull requests merged in 2018-03, with the labels that each got.

#2537 Swagger completeness for Redis Cache
  specification/redis/resource-manager/Microsoft.Cache/stable/2017-10-01/examples/RedisCacheCheckNameAvailability.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2017-10-01/examples/RedisCacheListUpgradeNotifications.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2017-10-01/examples/RedisCachePatchSchedulesCreateOrUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2017-10-01/examples/RedisCachePatchSchedulesDelete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2017-10-01/examples/RedisCachePatchSchedulesGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2017-10-01/redis.json
Labels: ARMSignedOff

#2580 Add missing type specifier to enum definition.
  specification/web/resource-manager/Microsoft.Web/stable/2016-03-01/CommonDefinitions.json
Labels: potential-sdk-breaking-change

#2446 Azure migrate GA and public preview rest api specs.
  specification/migrate/resource-manager/Microsoft.Migrate/2017-11-11-preview/examples/AssessedMachines_Get.json
  specification/migrate/resource-manager/Microsoft.Migrate/2017-11-11-preview/examples/AssessedMachines_ListByAssessment.json
  specification/migrate/resource-manager/Microsoft.Migrate/2017-11-11-preview/examples/Assessments_Create.json
  specification/migrate/resource-manager/Microsoft.Migrate/2017-11-11-preview/examples/Assessments_Delete.json
  specification/migrate/resource-manager/Microsoft.Migrate/2017-11-11-preview/examples/Assessments_Get.json
  specification/migrate/resource-manager/Microsoft.Migrate/2017-11-11-preview/examples/Assessments_GetReportDownloadUrl.json
  specification/migrate/resource-manager/Microsoft.Migrate/2017-11-11-preview/examples/Assessments_ListByGroup.json
  specification/migrate/resource-manager/Microsoft.Migrate/2017-11-11-preview/examples/Assessments_ListByProject.json
  specification/migrate/resource-manager/Microsoft.Migrate/2017-11-11-preview/examples/Groups_Create.json
  specification/migrate/resource-manager/Microsoft.Migrate/2017-11-11-preview/examples/Groups_Delete.json
  specification/migrate/resource-manager/Microsoft.Migrate/2017-11-11-preview/examples/Groups_Get.json
  specification/migrate/resource-manager/Microsoft.Migrate/2017-11-11-preview/examples/Groups_ListByProject.json
  specification/migrate/resource-manager/Microsoft.Migrate/2017-11-11-preview/examples/Machines_Get.json
  specification/migrate/resource-manager/Microsoft.Migrate/2017-11-11-preview/examples/Machines_ListByProject.json
  specification/migrate/resource-manager/Microsoft.Migrate/2017-11-11-preview/examples/Operations_List.json
  specification/migrate/resource-manager/Microsoft.Migrate/2017-11-11-preview/examples/Projects_Create.json
  specification/migrate/resource-manager/Microsoft.Migrate/2017-11-11-preview/examples/Projects_Delete.json
  specification/migrate/resource-manager/Microsoft.Migrate/2017-11-11-preview/examples/Projects_Get.json
  specification/migrate/resource-manager/Microsoft.Migrate/2017-11-11-preview/examples/Projects_GetKeys.json
  specification/migrate/resource-manager/Microsoft.Migrate/2017-11-11-preview/examples/Projects_List.json
  specification/migrate/resource-manager/Microsoft.Migrate/2017-11-11-preview/examples/Projects_Update.json
  specification/migrate/resource-manager/Microsoft.Migrate/2017-11-11-preview/migrate.json
  specification/migrate/resource-manager/Microsoft.Migrate/2018-02-02/examples/AssessedMachines_Get.json
  specification/migrate/resource-manager/Microsoft.Migrate/2018-02-02/examples/AssessedMachines_ListByAssessment.json
  specification/migrate/resource-manager/Microsoft.Migrate/2018-02-02/examples/Assessments_Create.json
  specification/migrate/resource-manager/Microsoft.Migrate/2018-02-02/examples/Assessments_Delete.json
  specification/migrate/resource-manager/Microsoft.Migrate/2018-02-02/examples/Assessments_Get.json
  specification/migrate/resource-manager/Microsoft.Migrate/2018-02-02/examples/Assessments_GetReportDownloadUrl.json
  specification/migrate/resource-manager/Microsoft.Migrate/2018-02-02/examples/Assessments_ListByGroup.json
  specification/migrate/resource-manager/Microsoft.Migrate/2018-02-02/examples/Assessments_ListByProject.json
  specification/migrate/resource-manager/Microsoft.Migrate/2018-02-02/examples/Groups_Create.json
  specification/migrate/resource-manager/Microsoft.Migrate/2018-02-02/examples/Groups_Delete.json
  specification/migrate/resource-manager/Microsoft.Migrate/2018-02-02/examples/Groups_Get.json
  specification/migrate/resource-manager/Microsoft.Migrate/2018-02-02/examples/Groups_ListByProject.json
  specification/migrate/resource-manager/Microsoft.Migrate/2018-02-02/examples/Machines_Get.json
  specification/migrate/resource-manager/Microsoft.Migrate/2018-02-02/examples/Machines_ListByProject.json
  specification/migrate/resource-manager/Microsoft.Migrate/2018-02-02/examples/Operations_List.json
  specification/migrate/resource-manager/Microsoft.Migrate/2018-02-02/examples/Projects_Create.json
  specification/migrate/resource-manager/Microsoft.Migrate/2018-02-02/examples/Projects_Delete.json
  specification/migrate/resource-manager/Microsoft.Migrate/2018-02-02/examples/Projects_Get.json
  specification/migrate/resource-manager/Microsoft.Migrate/2018-02-02/examples/Projects_GetKeys.json
  specification/migrate/resource-manager/Microsoft.Migrate/2018-02-02/examples/Projects_List.json
  specification/migrate/resource-manager/Microsoft.Migrate/2018-02-02/examples/Projects_Update.json
  specification/migrate/resource-manager/Microsoft.Migrate/2018-02-02/migrate.json
  specification/migrate/resource-manager/readme.md
Labels: ARMSignedOff

#2558 Add DNS 2017-10-01 API version
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/dns.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/CreateOrUpdateAAAARecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/CreateOrUpdateARecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/CreateOrUpdateCNAMERecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/CreateOrUpdateCaaRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/CreateOrUpdateMXRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/CreateOrUpdateNSRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/CreateOrUpdatePTRRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/CreateOrUpdateSOARecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/CreateOrUpdateSRVRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/CreateOrUpdateTXTRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/CreateOrUpdateZone.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/DeleteAAAARecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/DeleteARecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/DeleteCNAMERecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/DeleteCaaRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/DeleteMXRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/DeleteNSRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/DeletePTRRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/DeleteSRVRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/DeleteTXTRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/DeleteZone.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/GetAAAARecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/GetARecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/GetCNAMERecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/GetCaaRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/GetMXRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/GetNSRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/GetPTRRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/GetSOARecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/GetSRVRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/GetTXTRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/GetZone.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/ListAAAARecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/ListARecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/ListCNAMERecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/ListCaaRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/ListMXRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/ListNSRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/ListPTRRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/ListRecordSetsByZone.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/ListSOARecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/ListSRVRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/ListTXTRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/ListZonesByResourceGroup.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/ListZonesBySubscription.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/PatchAAAARecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/PatchARecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/PatchCNAMERecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/PatchCaaRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/PatchMXRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/PatchNSRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/PatchPTRRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/PatchSOARecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/PatchSRVRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/PatchTXTRecordset.json
  specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/PatchZone.json
  specification/dns/resource-manager/readme.md
Labels: ARMSignedOff

#2552 Adding ZRS support for snapshots, new apiversion 2018-04-01
  specification/compute/resource-manager/Microsoft.Compute/stable/2017-12-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-04-01/disk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-04-01/examples/CreateAManagedDiskByCopyingASnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-04-01/examples/CreateAManagedDiskByImportingAnUnmanagedBlobFromADifferentSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-04-01/examples/CreateAManagedDiskByImportingAnUnmanagedBlobFromTheSameSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-04-01/examples/CreateAManagedDiskFromAPlatformImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-04-01/examples/CreateAManagedDiskFromAnExistingManagedDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-04-01/examples/CreateASnapshotByImportingAnUnmanagedBlobFromADifferentSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-04-01/examples/CreateASnapshotByImportingAnUnmanagedBlobFromTheSameSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-04-01/examples/CreateASnapshotFromAnExistingSnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-04-01/examples/CreateAnEmptyManagedDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-04-01/examples/GetInformationAboutAManagedDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-04-01/examples/GetInformationAboutASnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-04-01/examples/ListManagedDisksInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-04-01/examples/ListManagedDisksInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-04-01/examples/ListSnapshotsInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-04-01/examples/ListSnapshotsInASubscription.json
  specification/compute/resource-manager/readme.md
Labels: WaitForARMFeedback, potential-sdk-breaking-change

#2389 Add swagger for dataWarehouseUserActivities API
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/dataWarehouseUserActivities.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/GetDataWarehouseUserActivities.json
  specification/sql/resource-manager/readme.md
Labels: Approved-OkToMerge

#2541 Adding OperationalInsights Purge, PurgeStatus operations
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2015-03-20/OperationalInsights.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2015-03-20/examples/WorkspacesPurge.json
Labels: ARMSignedOff

#2602 Remove EntityViewParameter from Entities Call
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2018-01-01-preview/management.json
Labels: ARMSignedOff

#2594 Add Microsoft.Databricks workspaces swagger
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2018-04-01/databricks.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2018-04-01/examples/WorkspaceCreate.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2018-04-01/examples/WorkspaceDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2018-04-01/examples/WorkspaceGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2018-04-01/examples/WorkspaceUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2018-04-01/examples/WorkspacesListByResourceGroup.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2018-04-01/examples/WorkspacesListBySubscription.json
  specification/databricks/resource-manager/readme.md
Labels: ARMSignedOff

#2584 Adding Container Exec Spec
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2018-02-01-preview/containerInstance.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2018-02-01-preview/examples/ContainerExecStart.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2018-02-01-preview/examples/ContainerGroupAsyncOperation.json
  specification/containerinstance/resource-manager/readme.md
Labels: ARMSignedOff

#2587 Adding changes to support Private DNS Public Preview
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/dns.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/CreateOrUpdateAAAARecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/CreateOrUpdateARecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/CreateOrUpdateCNAMERecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/CreateOrUpdateCaaRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/CreateOrUpdateMXRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/CreateOrUpdateNSRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/CreateOrUpdatePTRRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/CreateOrUpdatePrivateZone.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/CreateOrUpdateSOARecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/CreateOrUpdateSRVRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/CreateOrUpdateTXTRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/CreateOrUpdateZone.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/DeleteAAAARecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/DeleteARecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/DeleteCNAMERecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/DeleteCaaRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/DeleteMXRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/DeleteNSRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/DeletePTRRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/DeleteSRVRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/DeleteTXTRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/DeleteZone.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/GetAAAARecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/GetARecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/GetCNAMERecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/GetCaaRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/GetMXRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/GetNSRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/GetPTRRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/GetSOARecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/GetSRVRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/GetTXTRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/GetZone.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/ListAAAARecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/ListARecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/ListCNAMERecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/ListCaaRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/ListMXRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/ListNSRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/ListPTRRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/ListRecordSetsByZone.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/ListSOARecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/ListSRVRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/ListTXTRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/ListZonesByResourceGroup.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/ListZonesBySubscription.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/PatchAAAARecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/PatchARecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/PatchCNAMERecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/PatchCaaRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/PatchMXRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/PatchNSRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/PatchPTRRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/PatchSOARecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/PatchSRVRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/PatchTXTRecordset.json
  specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/examples/PatchZone.json
  specification/dns/resource-manager/readme.md
Labels: ARMSignedOff

#2567 [Network-2018-02-01] DDoS Protection Plan resource
  specification/network/resource-manager/Microsoft.Network/stable/2018-02-01/ddosProtectionPlan.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-02-01/examples/DdosProtectionPlanCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-02-01/examples/DdosProtectionPlanDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-02-01/examples/DdosProtectionPlanGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-02-01/examples/DdosProtectionPlanList.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-02-01/examples/DdosProtectionPlanListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-02-01/virtualNetwork.json
  specification/network/resource-manager/readme.md
Labels: ARMSignedOff

#2625 Added Tags filter for budgets and updated the api version
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-03-31/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-03-31/examples/Budget.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-03-31/examples/BudgetsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-03-31/examples/CreateOrUpdateBudget.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-03-31/examples/DeleteBudget.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-03-31/examples/MarketplacesList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-03-31/examples/MarketplacesListForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-03-31/examples/PriceSheet.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-03-31/examples/PriceSheetExpand.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-03-31/examples/PriceSheetForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-03-31/examples/ReservationDetails.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-03-31/examples/ReservationDetailsWithReservationId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-03-31/examples/ReservationSummariesDaily.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-03-31/examples/ReservationSummariesDailyWithReservationId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-03-31/examples/ReservationSummariesMonthly.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-03-31/examples/ReservationSummariesMonthlyWithReservationId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-03-31/examples/UsageDetailsExpand.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-03-31/examples/UsageDetailsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-03-31/examples/UsageDetailsListForBillingPeriod.json
  specification/consumption/resource-manager/readme.md
Labels: ARMSignedOff

#2643 Group DPSCertificate->List with other operations
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2017-11-15/iotdps.json
Labels: potential-sdk-breaking-change

#2652 Make OSDisk in storage profile for VMImages optional
  specification/compute/resource-manager/Microsoft.Compute/stable/2017-12-01/compute.json
Labels: ARMSignedOff

#2542 Adding 2018-01-22 version for ProvisioningServices and IotHubs
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/DPSCertificateCreateOrUpdate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/DPSCheckNameAvailability.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/DPSCreate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/DPSDelete.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/DPSDeleteCertificate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/DPSGenerateVerificationCode.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/DPSGet.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/DPSGetCertificate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/DPSGetCertificates.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/DPSGetKey.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/DPSGetOperationResult.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/DPSGetValidSku.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/DPSListByResourceGroup.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/DPSListBySubscription.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/DPSListKeys.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/DPSOperations.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/DPSPatch.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/DPSUpdate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/DPSVerifyCertificate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2018-01-22/iotdps.json
  specification/deviceprovisioningservices/resource-manager/readme.md
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/checkNameAvailability.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/iothub_certificatescreateorupdate.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/iothub_certificatesdelete.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/iothub_certverify.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/iothub_createOrUpdate.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/iothub_createconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/iothub_delete.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/iothub_deleteconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/iothub_exportdevices.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/iothub_generateverificationcode.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/iothub_get.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/iothub_getcertificate.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/iothub_getconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/iothub_getjob.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/iothub_getkey.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/iothub_getskus.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/iothub_importdevices.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/iothub_listbyrg.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/iothub_listbysubscription.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/iothub_listcertificates.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/iothub_listehgroups.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/iothub_listjobs.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/iothub_listkeys.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/iothub_operations.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/iothub_patch.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/iothub_quotametrics.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-01-22/examples/iothub_stats.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-01-22/iothub.json
  specification/iothub/resource-manager/readme.md
Labels: ARMSignedOff

#2272 Adding preview version of Event Hubs Cluster to Azure REST API specs.
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/EventHubCluster.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/Clusters/ClusterGet.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/Clusters/ClusterPatch.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/Clusters/ClusterQuotaConfigurationGet.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/Clusters/ClusterQuotaConfigurationPatch.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/Clusters/ClustersListByResourceGroup.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/Clusters/ClustersListBySubscription.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/Operations_List.json
  specification/eventhub/resource-manager/readme.md
Labels: ARMSignedOff

#2256 Adding API Specs for Long Term Retention V2
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/LongTermRetentionBackupDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/LongTermRetentionBackupGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/LongTermRetentionBackupListByDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/LongTermRetentionBackupListByLocation.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/LongTermRetentionBackupListByServer.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/LongTermRetentionPolicyCreateOrUpdate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/LongTermRetentionPolicyGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/longTermRetention.json
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff

#2675 [SwaggerSpec update - Time Series Insights] Added optional parameter to reference data set create/update
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2017-11-15/timeseriesinsights.json
Labels: ARMSignedOff

#2588 Add Microsoft.Web ResourceHealthMetadata swagger
  specification/web/resource-manager/Microsoft.Web/stable/2016-03-01/CommonDefinitions.json
  specification/web/resource-manager/Microsoft.Web/stable/2016-03-01/ResourceHealthMetadata.json
  specification/web/resource-manager/Microsoft.Web/stable/2016-03-01/examples/GetResourceHealthMetadataBySite.json
  specification/web/resource-manager/Microsoft.Web/stable/2016-03-01/examples/ListResourceHealthMetadataByResourceGroup.json
  specification/web/resource-manager/Microsoft.Web/stable/2016-03-01/examples/ListResourceHealthMetadataBySite.json
  specification/web/resource-manager/Microsoft.Web/stable/2016-03-01/examples/ListResourceHealthMetadataBySubscription.json
  specification/web/resource-manager/readme.md
Labels: ARMSignedOff, Approved-OkToMerge

#2679 Added reservation recommendations and tags
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-03-31/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-03-31/examples/ReservationRecommendationsFilterByScopeLookBackPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-03-31/examples/ReservationRecommendationsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-03-31/examples/UsageDetailsExpand.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-03-31/examples/UsageDetailsListFilterByTag.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-03-31/examples/UsageDetailsListForBillingPeriodGroupByTag.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-03-31/examples/UsageDetailsListGroupByTagDate.json
  specification/consumption/resource-manager/readme.md
Labels: potential-sdk-breaking-change

#2670 Move subscriptionId to global
  specification/resources/resource-manager/Microsoft.Resources/stable/2016-06-01/subscriptions.json
Labels: potential-sdk-breaking-change

#2428 added missing Swagger
  specification/compute/resource-manager/Microsoft.Compute/stable/2017-12-01/compute.json
Labels: ARMSignedOff, Reviewed-FeedbackProvided

#2535 Update subscription creation ARM API in Microsoft.Subscription RP
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2018-03-01-preview/examples/createSubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2018-03-01-preview/examples/getOperations.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2018-03-01-preview/examples/getSubscriptionOperations.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2018-03-01-preview/subscriptions.json
  specification/subscription/resource-manager/Microsoft.Subscription/stable/2016-06-01/subscriptions.json
  specification/subscription/resource-manager/readme.md
Labels: ARMSignedOff

#2678 Fix some of the error in ARM swagger spec
  specification/resources/resource-manager/Microsoft.Authorization/preview/2015-10-01-preview/policy.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2015-01-01/locks.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2016-04-01/policy.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2015-11-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2016-02-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2016-07-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2016-09-01/links.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2016-09-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2017-05-10/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2018-02-01/resources.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#2620 [Monitoring] Add metric alerts api 2018-03-01
  specification/monitor/resource-manager/microsoft.insights/stable/2018-03-01/examples/UpdateMetricAlert.json
  specification/monitor/resource-manager/microsoft.insights/stable/2018-03-01/examples/createOrUpdateMetricAlert.json
  specification/monitor/resource-manager/microsoft.insights/stable/2018-03-01/examples/deleteMetricAlert.json
  specification/monitor/resource-manager/microsoft.insights/stable/2018-03-01/examples/getMetricAlert.json
  specification/monitor/resource-manager/microsoft.insights/stable/2018-03-01/examples/getMetricAlertStatus.json
  specification/monitor/resource-manager/microsoft.insights/stable/2018-03-01/examples/getMetricAlertStatusByName.json
  specification/monitor/resource-manager/microsoft.insights/stable/2018-03-01/examples/listMetricAlert.json
  specification/monitor/resource-manager/microsoft.insights/stable/2018-03-01/metricAlert_API.json
  specification/monitor/resource-manager/readme.md
Labels: ARMSignedOff

#2703 Azure Validator Suppression of R3023 OperationsAPIImplementation
  specification/service-map/resource-manager/readme.md
Labels: ARMSignedOff

#2664 Fix for https://github.com/Azure/azure-rest-api-specs/issues/1697#iss…
  specification/web/resource-manager/Microsoft.Web/stable/2016-08-01/WebApps.json
Labels: WaitForARMFeedback, potential-sdk-breaking-change

#2654 Adding ListKeys support for Automation Account
  specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/account.json
  specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/definitions.json
  specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/examples/listAutomationAccountKeys.json
Labels: ARMSignedOff

#2749 Adding TestJob suppression linting issues
  specification/automation/resource-manager/readme.md
Labels: ARMSignedOff

#2687 Runbook Linting issues fixed
  specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/runbook.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#2576 Issues resource with Comments and Attachments subresources were added
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/apimapis.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/examples/ApiManagementCreateApiIssue.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/examples/ApiManagementCreateApiIssueAttachment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/examples/ApiManagementCreateApiIssueComment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/examples/ApiManagementDeleteApiIssue.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/examples/ApiManagementDeleteApiIssueAttachment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/examples/ApiManagementDeleteApiIssueComment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/examples/ApiManagementGetApiIssue.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/examples/ApiManagementGetApiIssueAttachment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/examples/ApiManagementGetApiIssueComment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/examples/ApiManagementHeadApiIssue.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/examples/ApiManagementHeadApiIssueAttachment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/examples/ApiManagementHeadApiIssueComment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/examples/ApiManagementListApiIssueAttachments.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/examples/ApiManagementListApiIssueComments.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/examples/ApiManagementListApiIssues.json
Labels: ARMSignedOff, Approved-OkToMerge

#2763 NetworkWatcher: Added new parameters to QueryConnectionMonitorResult and ConnectivityCheckRequest
  specification/network/resource-manager/Microsoft.Network/stable/2018-02-01/examples/NetworkWatcherConnectionMonitorQuery.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-02-01/networkWatcher.json
Labels: potential-sdk-breaking-change

#2778 ContainerInstance: Adding April Swagger For GA
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-04-01/containerInstance.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-04-01/examples/ContainerExecStart.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-04-01/examples/ContainerGroupUsage.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-04-01/examples/ContainerGroupsCreateOrUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-04-01/examples/ContainerGroupsDelete.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-04-01/examples/ContainerGroupsGet_Failed.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-04-01/examples/ContainerGroupsGet_Succeeded.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-04-01/examples/ContainerGroupsList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-04-01/examples/ContainerGroupsListByResourceGroup.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-04-01/examples/ContainerGroupsUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-04-01/examples/ContainerLogsList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-04-01/examples/OperationsList.json
  specification/containerinstance/resource-manager/readme.md
Labels: ARMSignedOff
