Repository Azure/azure-rest-api-specs, pull requests merged in 2018-11, with the labels that each got.

#4371 Adding property to VirtualNetworkRule for Cosmos DB
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBDatabaseAccountCreateMax.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBDatabaseAccountCreateMulti.json
Labels: WaitForARMFeedback

#4374 [Networkwatcer] add FlowLogFormatParameters
  specification/network/resource-manager/Microsoft.Network/stable/2018-10-01/networkWatcher.json
Labels: Reassign

#3979 Managed Instance short term retention
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/ManagedBackupShortTermRetention.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/ManagedRestorableDroppedDatabaseBackupShortTermRetenion.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/GetListManagedShortTermRetentionPolicy.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/GetListManagedShortTermRetentionPolicyRestorableDropped.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/GetManagedShortTermRetentionPolicy.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/GetManagedShortTermRetentionPolicyRestorableDropped.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/UpdateManagedShortTermRetentionPolicy.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/UpdateManagedShortTermRetentionPolicyRestorableDropped.json
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff

#4314 Update swagger documetation to mark Collation property as writable.
  specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/examples/ManagedInstanceCreateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/managedInstances.json
Labels: Reassign

#4330 Swagger closure for Azure Migration Hub Operations
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/Machines_Get.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/Machines_List.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/MigrateErrors_Delete.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/MigrateErrors_Get.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/MigrateErrors_List.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/MigrateProjects_Delete.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/MigrateProjects_Get.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/MigrateProjects_Patch.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/MigrateProjects_Put.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/MigrateProjects_RefreshSummary.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/MigrateProjects_RegisterTool.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/Operations_List.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/Solutions_Delete.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/Solutions_Get.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/Solutions_GetConfig.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/Solutions_List.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/Solutions_Patch.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/Solutions_Put.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/migrate.json
  specification/migrateprojects/resource-manager/readme.md
  specification/migrateprojects/resource-manager/readme.nodejs.md
Labels: WaitForARMFeedback

#4416 Adding ManagedInstanceVulnerabilityAssessments and ServerVulnerabilit…
  specification/sql/resource-manager/readme.md
Labels: Reassign

#4106 Add Allowed Connections REST API
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/AllowedConnections/GetAllowedConnectionsSubscriptionLocation_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/AllowedConnections/GetAllowedConnectionsSubscription_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/AllowedConnections/GetAllowedConnections_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/security.json
Labels: ARMSignedOff

#4423 Azure Container Instance: Add start container group API
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-10-01/containerInstance.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-10-01/examples/ContainerGroupsStart.json
Labels: ARMSignedOff

#4440 Added missing PATCH operation to Api Issue resource
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-06-01-preview/apimapis.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-06-01-preview/examples/ApiManagementUpdateApiIssue.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2018-01-01/apimapis.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2018-01-01/examples/ApiManagementUpdateApiIssue.json
Labels: ARMSignedOff

#4331 Application Gateway - Adds Rewrite rule set for Header CRUD
  specification/network/resource-manager/Microsoft.Network/stable/2018-10-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-10-01/examples/ApplicationGatewayCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-10-01/examples/ApplicationGatewayGet.json
Labels: ARM-overdue, Reassign, WaitForARMFeedback

#4469 Supression rules for TagValue and TagDetails
  specification/resources/resource-manager/readme.md
Labels: ARMSignedOff

#4332 Add 2 missing endpoints to newest versions Microsoft.Logic
  specification/logic/resource-manager/Microsoft.Logic/preview/2018-07-01-preview/examples/WorkflowRunActionRepetitionsRequestHistories_Get.json
  specification/logic/resource-manager/Microsoft.Logic/preview/2018-07-01-preview/examples/WorkflowRunActionRepetitionsRequestHistories_List.json
  specification/logic/resource-manager/Microsoft.Logic/preview/2018-07-01-preview/examples/WorkflowRunActionRequestHistories_Get.json
  specification/logic/resource-manager/Microsoft.Logic/preview/2018-07-01-preview/examples/WorkflowRunActionRequestHistories_List.json
  specification/logic/resource-manager/Microsoft.Logic/preview/2018-07-01-preview/logic.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/WorkflowRunActionRepetitionsRequestHistories_Get.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/WorkflowRunActionRepetitionsRequestHistories_List.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/WorkflowRunActionRequestHistories_Get.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/WorkflowRunActionRequestHistories_List.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/logic.json
Labels: ARMSignedOff

#4449 [HDInsight] - Support KV URL
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/cluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/examples/RotateLinuxHadoopClusterDiskEncryptionKey.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2018-06-01-preview/cluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2018-06-01-preview/examples/RotateLinuxHadoopClusterDiskEncryptionKey.json
Labels: WaitForARMFeedback

#4385 New Swagger specification for Microsoft.SqlVirtualMachine Resource Provider.
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2017-03-01-preview/examples/CreateOrUpdateAvailabilityGroupListener.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2017-03-01-preview/examples/CreateOrUpdateSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2017-03-01-preview/examples/CreateOrUpdateSqlVirtualMachineMAX.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2017-03-01-preview/examples/CreateOrUpdateSqlVirtualMachineMIN.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2017-03-01-preview/examples/CreateOrUpdateVirtualMachineWithVMGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2017-03-01-preview/examples/DeleteAvailabilityGroupListener.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2017-03-01-preview/examples/DeleteSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2017-03-01-preview/examples/DeleteSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2017-03-01-preview/examples/GetAvailabilityGroupListener.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2017-03-01-preview/examples/GetSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2017-03-01-preview/examples/GetSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2017-03-01-preview/examples/ListByGroupAvailabilityGroupListener.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2017-03-01-preview/examples/ListByResourceGroupSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2017-03-01-preview/examples/ListByResourceGroupSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2017-03-01-preview/examples/ListOperation.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2017-03-01-preview/examples/ListSubscriptionSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2017-03-01-preview/examples/ListSubscriptionSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2017-03-01-preview/examples/UpdateSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2017-03-01-preview/examples/UpdateSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2017-03-01-preview/sqlvm.json
  specification/sqlvirtualmachine/resource-manager/readme.md
Labels: WaitForARMFeedback

#4450 Master
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2018-11-01-preview/examples/createSubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2018-11-01-preview/examples/getOperations.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2018-11-01-preview/examples/getSubscriptionOperation.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2018-11-01-preview/subscriptions.json
  specification/subscription/resource-manager/readme.md
Labels: ARMSignedOff

#4499 Change the suppress type name
  specification/resources/resource-manager/readme.md
Labels: ARMSignedOff

#4387 Application gateway Identity and Keyvault support
  specification/network/resource-manager/Microsoft.Network/stable/2018-10-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-10-01/examples/ApplicationGatewayCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-10-01/network.json
Labels: Reassign, WaitForARMFeedback

#4393 DataBox : Swagger and example changes for next version of client DLL
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/databox.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/AvailableSkusPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/BookShipmentPickupPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/JobsCancelPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/JobsCreate.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/JobsDelete.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/JobsGet.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/JobsGet1.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/JobsGet2.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/JobsGet3.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/JobsGet4.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/JobsGet5.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/JobsList.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/JobsListByResourceGroup.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/JobsListCredentials.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/JobsPatch.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/OperationsGet.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/ValidateAddressPost.json
  specification/databox/resource-manager/readme.md
Labels: ARMSignedOff

#4495 [Microsoft.Billing]: Updating swagger with rename changes required.
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-08-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-08-01-preview/examples/AcceptTransfer.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-08-01-preview/examples/BillingPeriodsGet.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-08-01-preview/examples/BillingPeriodsList.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-08-01-preview/examples/CancelTransfer.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-08-01-preview/examples/DeclineTransfer.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-08-01-preview/examples/EnrollmentAccountsGet.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-08-01-preview/examples/EnrollmentAccountsList.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-08-01-preview/examples/GetRecipientTransfer.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-08-01-preview/examples/GetTransfer.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-08-01-preview/examples/InitiateTransfer.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-08-01-preview/examples/InvoicesExpand.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-08-01-preview/examples/InvoicesGet.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-08-01-preview/examples/InvoicesGetLatest.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-08-01-preview/examples/InvoicesList.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-08-01-preview/examples/ListRecipientTransfers.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-08-01-preview/examples/ListTransfers.json
Labels: ARMSignedOff

#4501 Add type for DeploymentExtend and ResourceGroup
  specification/resources/resource-manager/Microsoft.Resources/stable/2018-05-01/resources.json
Labels: ARMSignedOff

#4526 Deprecate old version of RDBMS
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-04-30-preview/examples/CheckNameAvailability.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-04-30-preview/examples/ConfigurationCreateOrUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-04-30-preview/examples/ConfigurationGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-04-30-preview/examples/ConfigurationListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-04-30-preview/examples/DatabaseCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-04-30-preview/examples/DatabaseDelete.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-04-30-preview/examples/DatabaseGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-04-30-preview/examples/DatabaseListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-04-30-preview/examples/FirewallRuleCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-04-30-preview/examples/FirewallRuleDelete.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-04-30-preview/examples/FirewallRuleGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-04-30-preview/examples/FirewallRuleListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-04-30-preview/examples/LogFileListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-04-30-preview/examples/OperationList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-04-30-preview/examples/PerformanceTiersList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-04-30-preview/examples/PerformanceTiersListByLocation.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-04-30-preview/examples/ServerCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-04-30-preview/examples/ServerDelete.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-04-30-preview/examples/ServerGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-04-30-preview/examples/ServerList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-04-30-preview/examples/ServerListByResourceGroup.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-04-30-preview/examples/ServerUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-04-30-preview/mysql.json
  specification/mysql/resource-manager/readme.go.md
  specification/mysql/resource-manager/readme.md
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-04-30-preview/examples/CheckNameAvailability.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-04-30-preview/examples/ConfigurationCreateOrUpdate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-04-30-preview/examples/ConfigurationGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-04-30-preview/examples/ConfigurationListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-04-30-preview/examples/DatabaseCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-04-30-preview/examples/DatabaseDelete.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-04-30-preview/examples/DatabaseGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-04-30-preview/examples/DatabaseListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-04-30-preview/examples/FirewallRuleCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-04-30-preview/examples/FirewallRuleDelete.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-04-30-preview/examples/FirewallRuleGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-04-30-preview/examples/FirewallRuleListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-04-30-preview/examples/LogFileListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-04-30-preview/examples/OperationList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-04-30-preview/examples/PerformanceTiersList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-04-30-preview/examples/PerformanceTiersListByLocation.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-04-30-preview/examples/ServerCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-04-30-preview/examples/ServerDelete.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-04-30-preview/examples/ServerGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-04-30-preview/examples/ServerList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-04-30-preview/examples/ServerListByResourceGroup.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-04-30-preview/examples/ServerUpdate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-04-30-preview/postgresql.json
  specification/postgresql/resource-manager/readme.go.md
  specification/postgresql/resource-manager/readme.md
Labels: potential-sdk-breaking-change

#4587 Fix type-o in adhybridhealthservice model
  specification/adhybridhealthservice/resource-manager/Microsoft.ADHybridHealthService/stable/2014-01-01/ADHybridHealthService.json
  specification/adhybridhealthservice/resource-manager/readme.go.md
  specification/adhybridhealthservice/resource-manager/readme.md
Labels: potential-sdk-breaking-change

#4565 Microsoft.StorageSync - Fix Issue 4559 and other known problems with preview version
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2018-10-01/examples/RegisteredServers_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2018-10-01/examples/RegisteredServers_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2018-10-01/examples/RegisteredServers_ListByStorageSyncService.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2018-10-01/storagesync.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#4445 Updating PUT notificationSettings api
  specification/workloadmonitor/resource-manager/microsoft.workloadmonitor/preview/2018-08-31-preview/Microsoft.WorkloadMonitor.json
  specification/workloadmonitor/resource-manager/microsoft.workloadmonitor/preview/2018-08-31-preview/examples/Components_Get.json
  specification/workloadmonitor/resource-manager/microsoft.workloadmonitor/preview/2018-08-31-preview/examples/Components_ListByResource.json
  specification/workloadmonitor/resource-manager/microsoft.workloadmonitor/preview/2018-08-31-preview/examples/MonitorInstances_Get.json
  specification/workloadmonitor/resource-manager/microsoft.workloadmonitor/preview/2018-08-31-preview/examples/MonitorInstances_ListByResource.json
  specification/workloadmonitor/resource-manager/microsoft.workloadmonitor/preview/2018-08-31-preview/examples/NotificationSettings_Get.json
  specification/workloadmonitor/resource-manager/microsoft.workloadmonitor/preview/2018-08-31-preview/examples/NotificationSettings_ListByResource.json
  specification/workloadmonitor/resource-manager/microsoft.workloadmonitor/preview/2018-08-31-preview/examples/NotificationSettings_Update.json
  specification/workloadmonitor/resource-manager/readme.md
Labels: ARMSignedOff

#4483 [Portal Generated] Review request for Microsoft.Media to add version 2018-07-01
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2018-07-01/AccountFilters.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2018-07-01/Accounts.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2018-07-01/AssetsAndAssetFilters.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2018-07-01/ContentKeyPolicies.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2018-07-01/Encoding.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2018-07-01/StreamingPoliciesAndStreamingLocators.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2018-07-01/examples/jobs-list-all-filter-by-created.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2018-07-01/examples/jobs-list-all-filter-by-lastmodified.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2018-07-01/examples/jobs-list-all-filter-by-name-and-state.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2018-07-01/examples/jobs-list-all-filter-by-name.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2018-07-01/examples/jobs-list-all-filter-by-state-eq.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2018-07-01/examples/jobs-list-all-filter-by-state-ne.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2018-07-01/examples/transforms-list-all-filter-by-created.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2018-07-01/examples/transforms-list-all-filter-by-lastmodified.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2018-07-01/examples/transforms-list-all-filter-by-name.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2018-07-01/examples/transforms-list-all.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2018-07-01/streamingservice.json
  specification/mediaservices/resource-manager/readme.md
Labels: potential-sdk-breaking-change

#4600 Fix the ARM R2062 error for Microsoft.Resources
  specification/resources/resource-manager/Microsoft.Resources/stable/2018-05-01/resources.json
Labels: potential-sdk-breaking-change

#4630 Suppress the error because TagDetails is not an Azure resource
  specification/resources/resource-manager/readme.md
Labels: ARMSignedOff

#4506 [ACR] Add network rule set properties, empty resource group validation
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2017-06-01-preview/containerregistry.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2017-03-01/containerregistry.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2017-10-01/containerregistry.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2018-09-01/containerregistry_build.json
Labels: ARMSignedOff, potential-sdk-breaking-change
