Repository Azure/azure-rest-api-specs, pull requests merged in 2018-07, with the labels that each got.

#3323 Suppress RequiredPropertiesMissingInResourceModel for AzureFirewall
  specification/network/resource-manager/readme.md
Labels: ARMSignedOff

#3183 User identities in a new dictionary property
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-06-01/compute.json
Labels: ARMSignedOff

#3324 ApplicationInsights: Uses plural for operation group name
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/componentAnnotations_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/componentWorkItemConfigs_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/favorites_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/workbooks_API.json
  specification/applicationinsights/resource-manager/microsoft.insights/stable/2015-05-01/analyticsItems_API.json
  specification/applicationinsights/resource-manager/readme.md
Labels: potential-sdk-breaking-change

#2950 Created newer version (2018-06-17-preview) of workbook resource type
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-06-17-preview/examples/WorkbookAdd.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-06-17-preview/examples/WorkbookDelete.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-06-17-preview/examples/WorkbookGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-06-17-preview/examples/WorkbookUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-06-17-preview/examples/WorkbooksList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-06-17-preview/workbookOperations_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-06-17-preview/workbooks_API.json
  specification/applicationinsights/resource-manager/readme.md
Labels: ARMSignedOff

#3094 add Azure Container Registry policies api and update OperationDefinition
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2017-10-01/containerregistry.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2017-10-01/examples/RegistryListPolicies.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2017-10-01/examples/RegistryUpdatePolicies.json
Labels: ARMSignedOff

#3351 [Cognitive Services] unify client class names, enable customizing endpoints.
  specification/cognitiveservices/data-plane/AutoSuggest/stable/v1.0/AutoSuggest.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/ComputerVision.json
  specification/cognitiveservices/data-plane/CustomImageSearch/stable/v1.0/CustomImageSearch.json
  specification/cognitiveservices/data-plane/CustomVision/Prediction/stable/v2.0/Prediction.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v2.0/Training.json
  specification/cognitiveservices/data-plane/CustomWebSearch/stable/v1.0/CustomSearch.json
  specification/cognitiveservices/data-plane/EntitySearch/stable/v1.0/EntitySearch.json
  specification/cognitiveservices/data-plane/Face/stable/v1.0/Face.json
  specification/cognitiveservices/data-plane/ImageSearch/stable/v1.0/ImageSearch.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/stable/v2.0/LUIS-Authoring.json
  specification/cognitiveservices/data-plane/LUIS/Runtime/stable/v2.0/LUIS-Runtime.json
  specification/cognitiveservices/data-plane/NewsSearch/stable/v1.0/NewsSearch.json
  specification/cognitiveservices/data-plane/SpellCheck/stable/V1.0/SpellCheck.json
  specification/cognitiveservices/data-plane/TextAnalytics/stable/v2.0/TextAnalytics.json
  specification/cognitiveservices/data-plane/VideoSearch/stable/v1.0/VideoSearch.json
  specification/cognitiveservices/data-plane/VisualSearch/preview/v1.0/VisualSearch.json
  specification/cognitiveservices/data-plane/WebSearch/stable/v1.0/WebSearch.json
Labels: potential-sdk-breaking-change

#3283 Add userAssignedIdentities
  specification/resources/resource-manager/Microsoft.Resources/stable/2018-05-01/examples/PutUserAssignedIdentity.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2018-05-01/resources.json
Labels: ARMSignedOff

#3295 Swagger for diagnostic settings and association resource types
  specification/monitor/resource-manager/microsoft.insights/preview/2018-06-01-preview/examples/createOrUpdateGuestDiagnosticSettings.json
  specification/monitor/resource-manager/microsoft.insights/preview/2018-06-01-preview/examples/createOrUpdateGuestDiagnosticSettingsAssociation.json
  specification/monitor/resource-manager/microsoft.insights/preview/2018-06-01-preview/examples/deleteGuestDiagnosticSettingsAssociation.json
  specification/monitor/resource-manager/microsoft.insights/preview/2018-06-01-preview/examples/getGuestDiagnosticSettings.json
  specification/monitor/resource-manager/microsoft.insights/preview/2018-06-01-preview/examples/getGuestDiagnosticSettingsAssociation.json
  specification/monitor/resource-manager/microsoft.insights/preview/2018-06-01-preview/examples/updateGuestDiagnosticSettingsAssociation.json
  specification/monitor/resource-manager/microsoft.insights/preview/2018-06-01-preview/guestDiagnosticSettingsAssociation_API.json
  specification/monitor/resource-manager/microsoft.insights/preview/2018-06-01-preview/guestDiagnosticSettings_API.json
  specification/monitor/resource-manager/microsoft.insights/stable/2016-09-01/examples/updateServiceDiagnosticSetting.json
Labels: ARMSignedOff

#3363 Remove 4xx responses and change schema to file
  specification/automation/resource-manager/Microsoft.Automation/preview/2017-05-15-preview/job.json
  specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/runbook.json
Labels: potential-sdk-breaking-change

#3357 Adding new properties to Consumption Usage Details
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/BalancesByBillingAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/BalancesByBillingAccountForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/Budget.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/BudgetsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/CostTags.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/CreateOrUpdateBudget.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/CreateOrUpdateCostTags.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/DeleteBudget.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/ForecastsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/ForecastsListFilterByDates.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/ForecastsListFilterByGrain.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/MarketplacesByBillingAccountList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/MarketplacesByBillingAccountListForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/MarketplacesByDepartmentList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/MarketplacesByDepartment_ListByBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/MarketplacesByEnrollmentAccountList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/MarketplacesByEnrollmentAccounts_ListByBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/MarketplacesList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/MarketplacesListForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/PriceSheet.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/PriceSheetExpand.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/PriceSheetForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/ReservationDetails.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/ReservationDetailsWithReservationId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/ReservationRecommendationsFilterByScopeLookBackPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/ReservationRecommendationsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/ReservationSummariesDaily.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/ReservationSummariesDailyWithReservationId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/ReservationSummariesMonthly.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/ReservationSummariesMonthlyWithReservationId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/Tags.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/UsageDetailsExpand.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/UsageDetailsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/UsageDetailsListByBillingAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/UsageDetailsListByDepartment.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/UsageDetailsListByEnrollmentAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/UsageDetailsListFilterByTag.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/UsageDetailsListForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/UsageDetailsListForBillingPeriodByBillingAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/UsageDetailsListForBillingPeriodByDepartment.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/UsageDetailsListForBillingPeriodByEnrollmentAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/UsageDetailsListForBillingPeriodGroupByTag.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-06-30/examples/UsageDetailsListGroupByTagDate.json
  specification/consumption/resource-manager/readme.md
Labels: ARMSignedOff

#3409 [App Insights] Fix unnecessary "produces" messing up some autorest clients.
  specification/applicationinsights/data-plane/microsoft.insights/preview/2018-04-20/swagger.json
  specification/applicationinsights/data-plane/microsoft.insights/preview/v1/AppInsights.json
Labels: Reassign

#3195 Add new backup discovery API. Fix error codes for source control API,…
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/AppServiceEnvironments.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/AppServicePlans.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/CommonDefinitions.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/DeletedWebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/Diagnostics.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/ResourceProvider.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/WebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples/Diagnostics_GetHostingEnvironmentDetectorResponse.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples/Diagnostics_GetSiteDetectorResponse.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples/Diagnostics_GetSiteDetectorResponseSlot.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples/Diagnostics_ListHostingEnvironmentDetectorResponses.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples/Diagnostics_ListSiteDetectorResponses.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples/Diagnostics_ListSiteDetectorResponsesSlot.json
Labels: ARMSignedOff, review

#3389 Azure Service Fabric Mesh Preview 2018-07-01 REST API specification
  specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-07-01-preview/examples/ApplicationCreateOrUpdate.json
  specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-07-01-preview/examples/ApplicationDelete.json
  specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-07-01-preview/examples/ApplicationGet.json
  specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-07-01-preview/examples/ApplicationsByResourceGroup.json
  specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-07-01-preview/examples/ApplicationsBySubscriptionId.json
  specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-07-01-preview/examples/ContainerLogsList.json
  specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-07-01-preview/examples/NetworkCreateOrUpdate.json
  specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-07-01-preview/examples/NetworkDelete.json
  specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-07-01-preview/examples/NetworkGet.json
  specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-07-01-preview/examples/NetworksByResourceGroup.json
  specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-07-01-preview/examples/NetworksBySubscriptionId.json
  specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-07-01-preview/examples/ReplicaGet.json
  specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-07-01-preview/examples/ReplicasGetAll.json
  specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-07-01-preview/examples/ServiceGet.json
  specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-07-01-preview/examples/ServiceList.json
  specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-07-01-preview/examples/VolumeCreate.json
  specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-07-01-preview/examples/VolumeDelete.json
  specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-07-01-preview/examples/VolumeGet.json
  specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-07-01-preview/examples/VolumesByResourceGroup.json
  specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-07-01-preview/examples/VolumesBySubscriptionId.json
  specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-07-01-preview/servicefabricmesh.json
  specification/servicefabricmesh/resource-manager/readme.md
  specification/servicefabricmesh/resource-manager/readme.nodejs.md
  specification/servicefabricmesh/resource-manager/readme.ruby.md
Labels: ARMSignedOff

#3139 Suppress Operations API Implemenetation Error
  specification/trafficmanager/resource-manager/readme.md
Labels: review

#3395 Added BackupValidateOperation API
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2016-12-01/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2017-07-01/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2017-07-01/examples/AzureIaasVm/ValidateOperation_RestoreDisk.json
Labels: potential-sdk-breaking-change

#3440 Enable Computer Vision Client to customize endpoint.
  specification/cognitiveservices/data-plane/ComputerVision/readme.nodejs.md
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/ComputerVision.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/examples/SuccessfulAnalyzeWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/examples/SuccessfulAnalyzeWithUrl.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/examples/SuccessfulDescribeWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/examples/SuccessfulDescribeWithUrl.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/examples/SuccessfulDomainModelWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/examples/SuccessfulDomainModelWithUrl.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/examples/SuccessfulGenerateThumbnailWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/examples/SuccessfulGenerateThumbnailWithUrl.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/examples/SuccessfulGetTextOperationResult.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/examples/SuccessfulListDomainModels.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/examples/SuccessfulOcrWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/examples/SuccessfulOcrWithUrl.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/examples/SuccessfulRecognizeTextWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/examples/SuccessfulRecognizeTextWithUrl.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/examples/SuccessfulTagWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/examples/SuccessfulTagWithUrl.json
Labels: potential-sdk-breaking-change

#3448 Add connection state events and update LifeCycleEvents
  specification/eventgrid/data-plane/Microsoft.Devices/stable/2018-01-01/IotHub.json
Labels: potential-sdk-breaking-change

#3456 Changing Entity Index to integer
  specification/cognitiveservices/data-plane/LUIS/Runtime/stable/v2.0/LUIS-Runtime.json
Labels: potential-sdk-breaking-change

#3486 ComputerVision: bug fixes for /describe and /analyze [breaking]
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/ComputerVision.json
Labels: potential-sdk-breaking-change

#3463 [Storage] Set the SignedResource as optional in ListServiceSAS
  specification/storage/resource-manager/Microsoft.Storage/preview/2018-03-01-preview/storage.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-02-01/storage.json
Labels: WaitForARMFeedback

#3520 Introduce Publicipprefix to swagger
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/PublicIpPrefixCreateCustomizedValues.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/PublicIpPrefixCreateDefaults.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/PublicIpPrefixDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/PublicIpPrefixGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/PublicIpPrefixList.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/PublicIpPrefixListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/PublicIpPrefixUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/publicIpAddress.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/publicIpPrefix.json
  specification/network/resource-manager/readme.md
Labels: ARMSignedOff, Network
