Repository Azure/azure-rest-api-specs, pull requests merged in 2018-09, with the labels that each got.

#3737 Grlin/Adding Principal Type to RA
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-09-01-preview/authorization-RoleBasedCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-09-01-preview/examples/DeleteRoleAssignmentById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-09-01-preview/examples/DeleteRoleAssignmentByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-09-01-preview/examples/DeleteRoleDefinition.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-09-01-preview/examples/GetAllProviderOperations.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-09-01-preview/examples/GetAllRoleAssignments.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-09-01-preview/examples/GetPermissions.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-09-01-preview/examples/GetProviderOperationsRP.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-09-01-preview/examples/GetResourcePermissions.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-09-01-preview/examples/GetRoleAssignmentById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-09-01-preview/examples/GetRoleAssignmentByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-09-01-preview/examples/GetRoleAssignmentByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-09-01-preview/examples/GetRoleAssignmentsForResource.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-09-01-preview/examples/GetRoleAssignmentsForResourceGroup.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-09-01-preview/examples/GetRoleDefinitionAtScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-09-01-preview/examples/GetRoleDefinitionById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-09-01-preview/examples/GetRoleDefinitionByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-09-01-preview/examples/PutRoleAssignment.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-09-01-preview/examples/PutRoleAssignmentById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-09-01-preview/examples/PutRoleDefinition.json
  specification/authorization/resource-manager/readme.md
Labels: ARMSignedOff

#3796 Microsoft.ResourceGraph - Promote additionalProperties to a dictionary
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/resourcegraph.json
Labels: Reassign

#3762 New Cmdlets for Management.Sql to allow customers to add TDE keys and set TDE protector for managed instances
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/ManagedInstanceEncryptionProtectors.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/ManagedInstanceKeys.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/examples/ManagedInstanceEncryptionProtectorCreateOrUpdateKeyVault.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/examples/ManagedInstanceEncryptionProtectorCreateOrUpdateServiceManaged.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/examples/ManagedInstanceEncryptionProtectorGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/examples/ManagedInstanceEncryptionProtectorList.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/examples/ManagedInstanceKeyCreateOrUpdate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/examples/ManagedInstanceKeyDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/examples/ManagedInstanceKeyGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/examples/ManagedInstanceKeyList.json
  specification/sql/resource-manager/readme.md
Labels: ARM-overdue

#3577 Add Bot Framework Enterprise Channel resources.
  specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/botservice.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/examples/CreateEnterpriseChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/examples/DeleteEnterpriseChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/examples/EnterpriseChannelCheckNameAvailability.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/examples/GetEnterpriseChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/examples/ListEnterpriseChannelsByResourceGroup.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/examples/UpdateEnterpriseChannel.json
  specification/botservice/resource-manager/readme.python.md
Labels: ARMSignedOff, Reassign

#3805 Adding support for delegations on a subnet
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/availableDelegations.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/AvailableDelegationsResourceGroupGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/AvailableDelegationsSubscriptionGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/SubnetCreateWithDelegation.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/SubnetGetWithDelegation.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VirtualNetworkCreateSubnetWithDelegation.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VirtualNetworkGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VirtualNetworkGetWithSubnetDelegation.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/virtualNetwork.json
  specification/network/resource-manager/readme.md
Labels: Changes Required

#3649 Microsot.Network/virtualnetworkgateways Reset VPN Client Shared Key
  specification/network/resource-manager/Microsoft.Network/stable/2018-06-01/examples/VirtualNetworkGatewayResetVpnClientSharedKey.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-06-01/virtualNetworkGateway.json
Labels: ARMSignedOff

#3766 Adding swagger for new api-version consumption 2018-08-31
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/AggregatedCostByManagementGroup.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/AggregatedCostByManagementGroupFilterByDate.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/AggregatedCostForBillingPeriodByManagementGroup.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/BalancesByBillingAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/BalancesByBillingAccountForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/Budget.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/BudgetsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/ChargesForBillingPeriodByDepartment.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/ChargesForBillingPeriodByEnrollmentAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/ChargesListForDepartment.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/ChargesListForDepartmentFilterByStartEndDate.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/ChargesListForEnrollmentAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/ChargesListForEnrollmentAccountFilterByStartEndDate.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/CreateOrUpdateBudget.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/DeleteBudget.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/ForecastsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/ForecastsListFilterByDates.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/ForecastsListFilterByGrain.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/MarketplacesByBillingAccountList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/MarketplacesByBillingAccountListForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/MarketplacesByDepartmentList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/MarketplacesByDepartment_ListByBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/MarketplacesByEnrollmentAccountList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/MarketplacesByEnrollmentAccounts_ListByBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/MarketplacesList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/MarketplacesListForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/PriceSheet.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/PriceSheetExpand.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/PriceSheetForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/ReservationDetails.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/ReservationDetailsWithReservationId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/ReservationRecommendationsFilterByScopeLookBackPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/ReservationRecommendationsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/ReservationSummariesDaily.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/ReservationSummariesDailyWithReservationId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/ReservationSummariesMonthly.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/ReservationSummariesMonthlyWithReservationId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/Tags.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/UsageDetailsExpand.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/UsageDetailsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/UsageDetailsListByBillingAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/UsageDetailsListByDepartment.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/UsageDetailsListByEnrollmentAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/UsageDetailsListByManagementGroup.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/UsageDetailsListFilterByTag.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/UsageDetailsListForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/UsageDetailsListForBillingPeriodByBillingAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/UsageDetailsListForBillingPeriodByDepartment.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/UsageDetailsListForBillingPeriodByEnrollmentAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/UsageDetailsListForBillingPeriodByManagementGroup.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/UsageDetailsListForBillingPeriodGroupByTag.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-08-31/examples/UsageDetailsListGroupByTagDate.json
  specification/consumption/resource-manager/readme.md
Labels: ARMSignedOff

#3801 Container Instance: Adding September Update
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-09-01/containerInstance.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-09-01/examples/ContainerExec.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-09-01/examples/ContainerGroupUsage.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-09-01/examples/ContainerGroupsCreateOrUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-09-01/examples/ContainerGroupsDelete.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-09-01/examples/ContainerGroupsGet_Failed.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-09-01/examples/ContainerGroupsGet_Succeeded.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-09-01/examples/ContainerGroupsList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-09-01/examples/ContainerGroupsListByResourceGroup.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-09-01/examples/ContainerGroupsRestart.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-09-01/examples/ContainerGroupsStop.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-09-01/examples/ContainerGroupsUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-09-01/examples/ContainerListLogs.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-09-01/examples/OperationsList.json
  specification/containerinstance/resource-manager/readme.go.md
  specification/containerinstance/resource-manager/readme.md
  specification/containerinstance/resource-manager/readme.ruby.md
Labels: ARMSignedOff

#3739 Rename TargetUrls to TargetFqdns for Azure Firewall Application Rules
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/azureFirewall.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/AzureFirewallGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/AzureFirewallListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/AzureFirewallListBySubscription.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/AzureFirewallPut.json
Labels: ARMSignedOff, Reassign, potential-sdk-breaking-change

#3806 Add Network Profile swagger and examples
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/NetworkProfileCreateConfigOnly.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/NetworkProfileDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/NetworkProfileGetConfigOnly.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/NetworkProfileGetWithContainerNic.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/NetworkProfileList.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/NetworkProfileListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/NetworkProfileUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/networkProfile.json
  specification/network/resource-manager/readme.md
Labels: ARMSignedOff

#3808 Add new OsType parameters for Microsoft.Web/availablestacks
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/Provider.json
Labels: ARMSignedOff

#3715 Brooklyn Ignite Swagger changes
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/P2SVpnGatewayDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/P2SVpnGatewayGenerateVpnProfile.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/P2SVpnGatewayGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/P2SVpnGatewayList.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/P2SVpnGatewayListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/P2SVpnGatewayPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/P2SVpnGatewayUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/P2SVpnServerConfigurationDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/P2SVpnServerConfigurationGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/P2SVpnServerConfigurationList.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/P2SVpnServerConfigurationPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VirtualHubGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VirtualHubList.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VirtualHubListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VirtualHubPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VirtualHubUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VirtualNetworkGatewayConnectionCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VirtualNetworkGatewayConnectionGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VirtualNetworkGatewayConnectionUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VirtualNetworkGatewayConnectionsList.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VirtualWanSupportedSecurityProviders.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VpnConnectionGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VpnConnectionList.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VpnConnectionPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VpnGatewayGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VpnGatewayList.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VpnGatewayListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VpnGatewayPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VpnSiteGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VpnSiteList.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VpnSiteListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VpnSitePut.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VpnSiteUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/virtualNetworkGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/virtualWan.json
Labels: ARMSignedOff

#3857 Swagger changes
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/InterfaceEndpointCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/InterfaceEndpointDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/InterfaceEndpointGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/NetworkInterfaceTapConfigurationCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/NetworkInterfaceTapConfigurationGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/NetworkInterfaceTapConfigurationList.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/ServiceEndpointPolicyCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/ServiceEndpointPolicyCreateWithDefinition.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/ServiceEndpointPolicyGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/ServiceEndpointPolicyList.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/ServiceEndpointPolicyListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VirtualNetworkTapCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VirtualNetworkTapGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VirtualNetworkTapList.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VirtualNetworkTapListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VirtualNetworkTapUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/interfaceEndpoint.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/networkInterface.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/serviceEndpointPolicy.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/virtualNetworkTap.json
Labels: Network

#3771 [App Insights/Operational Insights] Add GET /query operation, fix operationId inconsistency
  specification/applicationinsights/data-plane/microsoft.insights/preview/2018-04-20/examples/query-get.json
  specification/applicationinsights/data-plane/microsoft.insights/preview/2018-04-20/swagger.json
  specification/applicationinsights/data-plane/microsoft.insights/preview/v1/AppInsights.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/preview/2017-10-01/swagger.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/stable/v1/OperationalInsights.json
Labels: potential-sdk-breaking-change

#3754 ServiceBus: 2018-01-01 Preview - for managing Namespace, IPFilter Rules, VirtualNetworkRules and Zone Redundant
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2018-01-01-preview/examples/NameSpaces/IPFilterRule/SBNameSpaceIPFilterRuleListAll.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2018-01-01-preview/examples/NameSpaces/IPFilterRule/SBNameSpaceIpFilterRuleCreateorUpdate.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2018-01-01-preview/examples/NameSpaces/IPFilterRule/SBNameSpaceIpFilterRuleDelete.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2018-01-01-preview/examples/NameSpaces/IPFilterRule/SBNameSpaceIpFilterRuleGet.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2018-01-01-preview/examples/NameSpaces/IPFilterRule/SBNameSpaceIpFilterRuleUpdate.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2018-01-01-preview/examples/NameSpaces/SBNameSpaceCreate.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2018-01-01-preview/examples/NameSpaces/SBNameSpaceDelete.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2018-01-01-preview/examples/NameSpaces/SBNameSpaceGet.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2018-01-01-preview/examples/NameSpaces/SBNameSpaceList.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2018-01-01-preview/examples/NameSpaces/SBNameSpaceListByResourceGroup.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2018-01-01-preview/examples/NameSpaces/SBNameSpaceUpdate.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2018-01-01-preview/examples/NameSpaces/VirtualNetworkRule/SBNameSpaceVirtualNetworkRuleCreateorUpdate.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2018-01-01-preview/examples/NameSpaces/VirtualNetworkRule/SBNameSpaceVirtualNetworkRuleDelete.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2018-01-01-preview/examples/NameSpaces/VirtualNetworkRule/SBNameSpaceVirtualNetworkRuleGet.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2018-01-01-preview/examples/NameSpaces/VirtualNetworkRule/SBNameSpaceVirtualNetworkRuleListAll.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2018-01-01-preview/examples/NameSpaces/VirtualNetworkRule/SBNameSpaceVirtualNetworkRuleupdate.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2018-01-01-preview/servicebus-preview.json
  specification/servicebus/resource-manager/readme.md
Labels: ARMSignedOff

#3854 Swagger spec for disk.json + compute.json 2018-06
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-06-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-06-01/disk.json
  specification/compute/resource-manager/readme.md
Labels: ARMSignedOff

#3886 Fix incorrect url and clarify subscription-level disable (unsure why this came with so many commits)
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/stable/2018-05-01/serialconsole.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#3863 Add creation parameters to StorageSync ResourceProvider for SDK
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-04-02/examples/CloudEndpoints_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-04-02/examples/CloudEndpoints_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-04-02/examples/CloudEndpoints_ListBySyncGroup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-04-02/storagesync.json
Labels: potential-sdk-breaking-change

#3891 Update Microsoft.Backup.Admin API version 2018-09-01
  specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/preview/2018-09-01/Backup.json
  specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/preview/2018-09-01/BackupLocations.json
  specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/preview/2018-09-01/Backups.json
  specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/preview/2018-09-01/examples/BackupLocations/Backup.json
  specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/preview/2018-09-01/examples/BackupLocations/Get.json
  specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/preview/2018-09-01/examples/BackupLocations/List.json
  specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/preview/2018-09-01/examples/BackupLocations/Update.json
  specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/preview/2018-09-01/examples/Backups/Get.json
  specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/preview/2018-09-01/examples/Backups/List.json
  specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/preview/2018-09-01/examples/Backups/Restore.json
  specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/preview/2018-09-01/examples/Operations/List.json
  specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/stable/2016-05-01/Backup.json
  specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/stable/2016-05-01/BackupLocations.json
  specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/stable/2016-05-01/Backups.json
  specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/stable/2016-05-01/examples/BackupLocations/Backup.json
  specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/stable/2016-05-01/examples/BackupLocations/Get.json
  specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/stable/2016-05-01/examples/BackupLocations/List.json
  specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/stable/2016-05-01/examples/BackupLocations/Update.json
  specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/stable/2016-05-01/examples/Backups/Get.json
  specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/stable/2016-05-01/examples/Backups/List.json
  specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/stable/2016-05-01/examples/Backups/Restore.json
  specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/stable/2016-05-01/examples/Operations/List.json
  specification/azsadmin/resource-manager/backup/readme.md
Labels: Azure Stack

#3885 specs changes for azure databox ga
  specification/databox/resource-manager/Microsoft.DataBox/preview/2018-01-01/examples/JobsBookShipmentPickUp.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2018-01-01/examples/JobsCancel.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2018-01-01/examples/JobsCreate.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2018-01-01/examples/JobsDelete.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2018-01-01/examples/JobsDownloadShippingLabelUri.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2018-01-01/examples/JobsGetCopyLogsUri.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2018-01-01/examples/JobsList.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2018-01-01/examples/JobsListByResourceGroup.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2018-01-01/examples/JobsListSecrets.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2018-01-01/examples/JobsReportIssue.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2018-01-01/examples/JobsUpdate.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/databox.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/AvailableSkusPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/BookShipmentPickupPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/JobsCancelPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/JobsCreate.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/JobsDelete.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/JobsGet.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/JobsGet1.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/JobsGet2.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/JobsGet3.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/JobsGet4.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/JobsGet5.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/JobsList.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/JobsListByResourceGroup.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/JobsListCredentials.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/JobsPatch.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/OperationsGet.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/examples/ValidateAddressPost.json
  specification/databox/resource-manager/readme.md
  specification/databox/resource-manager/readme.nodejs.md
Labels: ARMSignedOff

#3889 update machine learning compute portion of the machine learning services swagger
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2018-03-01-preview/examples/createBasicAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2018-03-01-preview/examples/createBasicBatchAICompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2018-03-01-preview/examples/createBasicDataFactoryCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2018-03-01-preview/examples/getAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2018-03-01-preview/examples/getBatchAICompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2018-03-01-preview/examples/getComputes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2018-03-01-preview/examples/systemUpdateCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2018-03-01-preview/examples/updateAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2018-03-01-preview/examples/updateBatchAICompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2018-03-01-preview/machineLearningServices.json
Labels: ARMSignedOff

#3969 Change operationId of Microsoft.Authorization
  specification/resources/resource-manager/Microsoft.Authorization/stable/2016-09-01/locks.json
Labels: potential-sdk-breaking-change

#3973 Front Door publicpreview
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/README.md
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/assets/frontdoor.svg
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/CheckFrontdoorNameAvailability.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/CheckFrontdoorNameAvailabilityWithSubscription.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorBackendPoolCreate.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorBackendPoolDelete.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorBackendPoolGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorBackendPoolList.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorCreate.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorDelete.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorDisableHttps.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorEnableHttps.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorFrontendEndpointCreate.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorFrontendEndpointDelete.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorFrontendEndpointGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorFrontendEndpointList.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorHealthProbeSettingsCreate.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorHealthProbeSettingsDelete.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorHealthProbeSettingsGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorHealthProbeSettingsList.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorList.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorListAll.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorLoadBalancingSettingsCreate.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorLoadBalancingSettingsDelete.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorLoadBalancingSettingsGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorLoadBalancingSettingsList.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorOperationsList.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorPurgeContent.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorRoutingRuleCreate.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorRoutingRuleDelete.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorRoutingRuleGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorRoutingRuleList.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/FrontdoorValidateCustomDomain.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/WafListPolicies.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/WafPolicyCreateOrUpdate.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/WafPolicyDelete.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/WafPolicyGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/frontdoor.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/network.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/webapplicationfirewall.json
  specification/frontdoor/resource-manager/readme.md
  specification/frontdoor/resource-manager/readme.nodejs.md
  specification/frontdoor/resource-manager/readme.python.md
Labels: ARMSignedOff

#3974 Removing reportconfig paths from stable version, as they are in previ…
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2018-08-31/costmanagement.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2018-08-31/examples/ReportConfig.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2018-08-31/examples/ReportConfigCreateOrUpdate.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2018-08-31/examples/ReportConfigDelete.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2018-08-31/examples/ReportConfigList.json
Labels: ARMSignedOff

#3987 Add swagger spec for "Microsoft.Authorization/denyAssignments"
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-07-01-preview/authorization-DenyAssignmentGetCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-07-01-preview/examples/GetAllDenyAssignments.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-07-01-preview/examples/GetDenyAssignmentById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-07-01-preview/examples/GetDenyAssignmentByNameId.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-07-01-preview/examples/GetDenyAssignmentByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-07-01-preview/examples/GetDenyAssignmentsForResource.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-07-01-preview/examples/GetDenyAssignmentsForResourceGroup.json
  specification/authorization/resource-manager/readme.md
Labels: ARMSignedOff

#4007 Do not omit type and name while serializing the resource object.
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-04-01/trafficmanager.json
Labels: ARMSignedOff

#3976 Microsoft.PolicyInsights/remediations API
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/PolicyTrackedResources_ListOperations.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_CancelManagementGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_CancelResourceGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_CancelResourceScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_CancelSubscriptionScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_CreateManagementGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_CreateResourceGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_CreateResourceScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_CreateSubscriptionScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_CreateSubscriptionScope_AllProperties.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_DeleteManagementGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_DeleteResourceGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_DeleteResourceScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_DeleteSubscriptionScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_GetManagementGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_GetResourceGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_GetResourceScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_GetSubscriptionScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_ListDeploymentsManagementGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_ListDeploymentsResourceGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_ListDeploymentsResourceScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_ListDeploymentsSubscriptionScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_ListManagementGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_ListManagementGroupScope_WithQuery.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_ListResourceGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_ListResourceGroupScope_WithQuery.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_ListResourceScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_ListResourceScope_WithQuery.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_ListSubscriptionScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/Remediations_ListSubscriptionScope_WithQuery.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/policyTrackedResources.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/remediations.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2018-04-04/policyEvents.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2018-04-04/policyStates.json
  specification/policyinsights/resource-manager/readme.md
Labels: ARM-overdue

#3713 Created specs for python 2 packages
  .gitignore
  specification/automation/resource-manager/Microsoft.Automation/stable/2018-06-30/examples/createOrUpdatePython2Package.json
  specification/automation/resource-manager/Microsoft.Automation/stable/2018-06-30/examples/deletePython2Package.json
  specification/automation/resource-manager/Microsoft.Automation/stable/2018-06-30/examples/getPython2Package.json
  specification/automation/resource-manager/Microsoft.Automation/stable/2018-06-30/examples/listPython2PackagesByAutomationAccount.json
  specification/automation/resource-manager/Microsoft.Automation/stable/2018-06-30/examples/updatePython2Package.json
  specification/automation/resource-manager/Microsoft.Automation/stable/2018-06-30/python2package.json
  specification/automation/resource-manager/readme.md
Labels: ARMReviewInProgress, WaitForARMFeedback

#3909 Protection intent changes and bug fixes
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2016-12-01/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2016-12-01/examples/AzureIaasVm/StopProtection.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2016-12-01/examples/AzureIaasVm/TriggerRestore_ALR.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2016-12-01/examples/AzureIaasVm/TriggerRestore_RestoreDisks.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2017-07-01/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2017-07-01/examples/AzureIaasVm/ConfigureProtectionViaExtensionRouting.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2017-07-01/examples/AzureIaasVm/ExtensionRoutingBackupProtectedItemsInContainer_Get.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2017-07-01/examples/AzureWorkload/BackupProtectionIntent_Delete.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2017-07-01/examples/AzureWorkload/BackupProtectionIntent_Get.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2017-07-01/examples/AzureWorkload/BackupProtectionIntent_List.json
Labels: ARMSignedOff, potential-sdk-breaking-change
