Repository Azure/azure-rest-api-specs, pull requests merged in 2019-04, with the labels that each got.

#5491 Adding customerAdminGroupId to OSA cluster swagger spec
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2018-09-30-preview/examples/OpenShiftManagedClustersCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2018-09-30-preview/examples/OpenShiftManagedClustersGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2018-09-30-preview/examples/OpenShiftManagedClustersList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2018-09-30-preview/examples/OpenShiftManagedClustersListByResourceGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2018-09-30-preview/examples/OpenShiftManagedClustersUpdateTags.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2018-09-30-preview/openShiftManagedClusters.json
Labels: ARMSignedOff

#5477 [HDInsight] - Update configuration related APIs
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/cluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/configurations.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/examples/GetLinuxHadoopScriptExecutionHistory.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/examples/HDI_Clusters_GetGatewaySettings.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/examples/HDI_Clusters_UpdateGatewaySettings_Enable.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/examples/HDI_Configurations_Get.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/examples/HDI_Configurations_List.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2018-06-01-preview/cluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2018-06-01-preview/configurations.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2018-06-01-preview/examples/GetLinuxHadoopScriptExecutionHistory.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2018-06-01-preview/examples/HDI_Clusters_GetGatewaySettings.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2018-06-01-preview/examples/HDI_Clusters_UpdateGatewaySettings_Enable.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2018-06-01-preview/examples/HDI_Configurations_Get.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2018-06-01-preview/examples/HDI_Configurations_List.json
  specification/hdinsight/resource-manager/readme.md
Labels: ARMSignedOff, potential-sdk-breaking-change

#5462 #5326 Fix the criteria definition
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-04-16/scheduledQueryRule_API.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#5535 Fix model type regression
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/blueprintDefinition.json
Labels: potential-sdk-breaking-change

#5522 SRP Apr19 API supporting automatic snapshot feature
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/blob.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/BlobContainersClearLegalHold.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/BlobContainersDelete.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/BlobContainersDeleteImmutabilityPolicy.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/BlobContainersExtendImmutabilityPolicy.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/BlobContainersGet.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/BlobContainersGetImmutabilityPolicy.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/BlobContainersList.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/BlobContainersLockImmutabilityPolicy.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/BlobContainersPatch.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/BlobContainersPut.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/BlobContainersPutImmutabilityPolicy.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/BlobContainersSetLegalHold.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/BlobServicesGet.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/BlobServicesPut.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/OperationsList.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/SKUList.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountCheckNameAvailability.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountCreate.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountDelete.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountDeleteManagementPolicy.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountFailover.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountGetManagementPolicy.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountGetProperties.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountList.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountListAccountSAS.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountListByResourceGroup.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountListKeys.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountListLocationUsage.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountListServiceSAS.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountRegenerateKey.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountRevokeUserDelegationKeys.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountSetManagementPolicy.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountUpdate.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/storage.json
  specification/storage/resource-manager/readme.md
Labels: ARMSignedOff

#5546 Added specs for Agreements API in version 2018-11-01-preview
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/examples/AgreementByName.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/examples/AgreementsListByBillingAccountName.json
Labels: ARMSignedOff

#5472 [Hub Generated] Review request for Microsoft.Batch to add version 2019-04-01
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/BatchManagement.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/ApplicationCreate.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/ApplicationDelete.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/ApplicationGet.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/ApplicationList.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/ApplicationPackageActivate.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/ApplicationPackageCreate.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/ApplicationPackageDelete.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/ApplicationPackageGet.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/ApplicationPackageList.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/ApplicationUpdate.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/BatchAccountCreate_BYOS.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/BatchAccountCreate_Default.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/BatchAccountDelete.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/BatchAccountGet.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/BatchAccountGetKeys.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/BatchAccountList.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/BatchAccountListByResourceGroup.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/BatchAccountRegenerateKey.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/BatchAccountSynchronizeAutoStorageKeys.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/BatchAccountUpdate.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/CertificateCancelDeletion.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/CertificateCreate_Full.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/CertificateCreate_Minimal.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/CertificateCreate_MinimalCer.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/CertificateDelete.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/CertificateGet.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/CertificateGetWithDeletionError.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/CertificateList.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/CertificateListWithFilter.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/CertificateUpdate.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/LocationCheckNameAvailability_AlreadyExists.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/LocationCheckNameAvailability_Available.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/LocationGetQuotas.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/PoolCreate_CustomImage.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/PoolCreate_FullExample.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/PoolCreate_MinimalCloudServiceConfiguration.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/PoolCreate_MinimalVirtualMachineConfiguration.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/PoolCreate_VirtualMachineConfiguration.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/PoolDelete.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/PoolDisableAutoScale.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/PoolGet.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/PoolList.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/PoolListWithFilter.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/PoolStopResize.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/PoolUpdate_EnableAutoScale.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/PoolUpdate_OtherProperties.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/PoolUpdate_RemoveStartTask.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/examples/PoolUpdate_ResizePool.json
  specification/batch/resource-manager/readme.md
Labels: ARMSignedOff

#5513 [Hub Generated] Review request for Microsoft.VirtualMachineImages to add version preview/2019-05-01-preview
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-05-01-preview/examples/CreateImageTemplate.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-05-01-preview/examples/CreateImageTemplateWithUserAssignedIdentity.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-05-01-preview/examples/DeleteImageTemplate.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-05-01-preview/examples/GetImageTemplate.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-05-01-preview/examples/GetRunOutput.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-05-01-preview/examples/ListImageTemplates.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-05-01-preview/examples/ListImageTemplatesByRg.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-05-01-preview/examples/ListRunOutputs.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-05-01-preview/examples/RemoveImageTemplateIdentity.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-05-01-preview/examples/RunImageTemplate.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-05-01-preview/examples/UpdateImageTemplateTags.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-05-01-preview/examples/UpdateImageTemplateToRemoveIdentities.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-05-01-preview/imagebuilder.json
  specification/imagebuilder/resource-manager/readme.md
Labels: ARMSignedOff

#5553 [Azure Search] Introduce the minimumPrecision parameter for Entity recognition skill
  specification/search/data-plane/Microsoft.Azure.Search.Service/preview/2017-11-11-preview/examples/SearchServiceCreateOrUpdateSkillset.json
  specification/search/data-plane/Microsoft.Azure.Search.Service/preview/2017-11-11-preview/examples/SearchServiceCreateSkillset.json
  specification/search/data-plane/Microsoft.Azure.Search.Service/preview/2017-11-11-preview/examples/SearchServiceGetSkillset.json
  specification/search/data-plane/Microsoft.Azure.Search.Service/preview/2017-11-11-preview/examples/SearchServiceListSkillsets.json
  specification/search/data-plane/Microsoft.Azure.Search.Service/preview/2017-11-11-preview/searchservice.json
Labels: potential-sdk-breaking-change

#5403 [Hub Generated] Review request for Microsoft.Capacity to add version 2019-04-01
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/CalculateReservationOrder.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/GetAppliedReservations.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/GetCatalog.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/GetOperations.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/GetReservationDetails.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/GetReservationOrderDetails.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/GetReservationOrders.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/GetReservationRevisions.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/GetReservations.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/MergeReservations.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/PurchaseReservationOrder.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/SplitReservation.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/UpdateReservation.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/reservations.json
  specification/reservations/resource-manager/readme.md
Labels: ARMSignedOff

#5435 Creating stable version for settings type
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/examples/Settings/GetSetting_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/examples/Settings/GetSettings_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/examples/Settings/UpdateSetting_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/settings.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff

#5492 Add api version 2019-03-01 for Microsoft.Compute
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateACustomImageScaleSetFromAnUnmanagedGeneralizedOsImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateACustomImageVmFromAnUnmanagedGeneralizedOsImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateALinuxVmWithoutExtensions.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateALinuxVmWithoutGuestAgent.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAPlatformImageScaleSetWithUnmanagedOsDisks.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAPlatformImageVmWithUnmanagedOsAndDataDisks.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAScaleSetFromACustomImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAScaleSetWithAMarketplaceImagePlan.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAScaleSetWithAnAzureApplicationGateway.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAScaleSetWithAnAzureLoadBalancer.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAScaleSetWithBootDiagnostics.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAScaleSetWithDiffOsDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAScaleSetWithEmptyDataDisksOnEachVm.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAScaleSetWithPasswordAuthentication.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAScaleSetWithPremiumStorage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAScaleSetWithSshAuthentication.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAScaleSetWithVMsInDifferentZones.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateASnapshotByImportingAnUnmanagedBlobFromADifferentSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateASnapshotByImportingAnUnmanagedBlobFromTheSameSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateASnapshotFromAnExistingSnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAVmFromACustomImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAVmInAnAvailabilitySet.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAVmWithADiffOsDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAVmWithAMarketplaceImagePlan.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAVmWithBootDiagnostics.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAVmWithEmptyDataDisks.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAVmWithPasswordAuthentication.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAVmWithPremiumStorage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAVmWithSshAuthentication.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAWindowsVmWithoutExtensions.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAWindowsVmWithoutGuestAgent.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAnAvailabilitySet.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAnImageFromABlob.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAnImageFromAManagedDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAnImageFromASnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAnImageFromAVM.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAnImageThatIncludesADataDiskFromABlob.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAnImageThatIncludesADataDiskFromAManagedDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAnImageThatIncludesADataDiskFromASnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/GetInformationAboutASnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/GetInformationAboutAnImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/ListAvailabilitySetsInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/ListImagesInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/ListImagesInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/ListSnapshotsInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/ListSnapshotsInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/ListVirtualMachinesInASubscriptionByLocation.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/LogAnalyticsRequestRateByInterval.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/LogAnalyticsThrottledRequests.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/ReimageVirtualMachine.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/VMScaleSetExtensionRollingUpgrade.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/VirtualMachineRunCommand.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/VirtualMachineRunCommandGet.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/VirtualMachineRunCommandList.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/runCommands.json
  specification/compute/resource-manager/readme.md
Labels: ARMSignedOff

#5528 [Compute] Add new API Version and field (StorageAccountType) to SharedImageGallery swagger spec
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateOrUpdateASimpleGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateOrUpdateASimpleGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateOrUpdateASimpleGalleryImageVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/DeleteAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/DeleteAGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/DeleteAGalleryImageVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/GetAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/GetAGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/GetAGalleryImageVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/GetAGalleryImageVersionWithReplicationStatus.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/ListGalleriesInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/ListGalleriesInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/ListGalleryImageVersionsInAGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/ListGalleryImagesInAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/gallery.json
  specification/compute/resource-manager/readme.md
Labels: ARMSignedOff

#5560 Add new ApiVersion 2019-03-01 and add optional flag 'skipShutdown' for existing Poweroff API
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/compute.json
  specification/compute/resource-manager/readme.md
Labels: ARMSignedOff

#5557 Container Services: Add API version 2019-04-30 for Azure RedHat OpenShift
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-04-30/examples/OpenShiftManagedClustersCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-04-30/examples/OpenShiftManagedClustersDelete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-04-30/examples/OpenShiftManagedClustersGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-04-30/examples/OpenShiftManagedClustersList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-04-30/examples/OpenShiftManagedClustersListByResourceGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-04-30/examples/OpenShiftManagedClustersUpdateTags.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-04-30/openShiftManagedClusters.json
  specification/containerservice/resource-manager/readme.go.md
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: ARMSignedOff

#5544 [Hub Generated] Review request for Microsoft.Devices to add version preview/2019-03-22-preview
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/IotHub_ManualFailover.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/checkNameAvailability.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_certificatescreateorupdate.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_certificatesdelete.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_certverify.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_createOrUpdate.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_createconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_delete.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_deleteconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_exportdevices.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_generateverificationcode.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_get.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_getcertificate.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_getconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_getjob.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_getkey.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_getskus.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_importdevices.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_listbyrg.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_listbysubscription.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_listcertificates.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_listehgroups.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_listjobs.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_listkeys.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_operations.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_patch.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_quotametrics.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_routingendpointhealth.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_stats.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_testallroutes.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_testnewroute.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_usages.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/iothub.json
  specification/iothub/resource-manager/readme.md
Labels: ARMSignedOff, DoNotMerge

#5469 Add operation result objects
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/ApplicationOperationResults.json
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/ComputeOperationResults.json
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/NetworkOperationResults.json
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/StorageOperationResults.json
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/examples/ApplicationOperationResult/Get.json
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/examples/ApplicationOperationResult/List.json
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/examples/ComputeOperationResult/Get.json
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/examples/ComputeOperationResult/List.json
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/examples/NetworkOperationResult/Get.json
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/examples/NetworkOperationResult/List.json
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/examples/StorageOperationResult/Get.json
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/examples/StorageOperationResult/List.json
  specification/azsadmin/resource-manager/fabric/readme.md
Labels: ARMReviewMeetingRequired, WaitForARMFeedback

#5313 Addition of HybridDataManager
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/DataManagers_Create-PUT-example-41.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/DataManagers_Delete-DELETE-example-41.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/DataManagers_Get-GET-example-41.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/DataManagers_List-GET-example-21.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/DataManagers_ListByResourceGroup-GET-example-31.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/DataManagers_Update-PATCH-example-43.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/DataServices_Get-GET-example-62.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/DataServices_ListByDataManager-GET-example-51.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/DataStoreTypes_Get-GET-example-182.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/DataStoreTypes_Get-GET-example-183.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/DataStoreTypes_ListByDataManager-GET-example-171.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/DataStores_CreateOrUpdate_DataSink-PUT-example-162.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/DataStores_CreateOrUpdate_DataSource-PUT-example-162.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/DataStores_Delete_DataSink-DELETE-example-161.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/DataStores_Delete_DataSource-DELETE-example-161.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/DataStores_Get-GET-example-161.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/DataStores_Get-GET-example-162.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/DataStores_ListByDataManager-GET-example-151.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/JobDefinitions_CreateOrUpdate-PUT-example-83.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/JobDefinitions_Delete-DELETE-example-81.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/JobDefinitions_Get-GET-example-81.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/JobDefinitions_ListByDataManager-GET-example-191.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/JobDefinitions_ListByDataService-GET-example-71.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/JobDefinitions_Run-POST-example-132.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/Jobs_Cancel-POST-example-111.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/Jobs_Get-GET-example-101.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/Jobs_ListByDataManager-GET-example-201.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/Jobs_ListByDataService-GET-example-141.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/Jobs_ListByJobDefinition-GET-example-91.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/Jobs_Resume-POST-example-121.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/Operations_List-GET-example-11.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/PublicKeys_Get-GET-example-222.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/examples/PublicKeys_ListByDataManager-GET-example-211.json
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/hybriddata.json
  specification/hybriddatamanager/resource-manager/readme.go.md
  specification/hybriddatamanager/resource-manager/readme.md
  specification/hybriddatamanager/resource-manager/readme.nodejs.md
  specification/hybriddatamanager/resource-manager/readme.ruby.md
  specification/hybriddatamanager/resource-manager/readme.typescript.md
Labels: ARM-overdue

#5572 Added missing "x-ms-long-running-operation-options"
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/applicationSecurityGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/azureFirewall.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/ddosCustomPolicy.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/ddosProtectionPlan.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/expressRouteCircuit.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/expressRouteCrossConnection.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/expressRouteGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/expressRoutePort.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/interfaceEndpoint.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/loadBalancer.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/networkInterface.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/networkSecurityGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/networkWatcher.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/publicIpAddress.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/publicIpPrefix.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/routeFilter.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/routeTable.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/serviceEndpointPolicy.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/virtualNetwork.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/virtualNetworkGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/virtualNetworkTap.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/virtualWan.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/webapplicationfirewall.json
Labels: ARMSignedOff

#5408 [Hub Generated] Review request for Microsoft.PolicyInsights to add version 2018-07-01-preview
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/examples/PolicyStates_QueryResourceScopeExpandPolicyEvaluationDetails.json
  specification/policyinsights/resource-manager/readme.md
Labels: ARMSignedOff

#5500 Added metrics baseline API
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-03-01/examples/metricBaselines.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-03-01/metricBaselines_API.json
  specification/monitor/resource-manager/readme.md
Labels: ARMSignedOff, potential-sdk-breaking-change

#5613 [Hub Generated] Review request for Microsoft.ApiManagement to add version stable/2019-01-01
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/apimapis.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/apimdeployment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/apimnotifications.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/examples/ApiManagementCreateMultiRegionServiceWithCustomHostname.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/examples/ApiManagementCreateService.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/examples/ApiManagementCreateServiceHavingMsi.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/examples/ApiManagementCreateServiceWithSystemCertificates.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/examples/ApiManagementGetApiExportInOpenApi2dot0.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/examples/ApiManagementGetApiExportInOpenApi3dot0.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/examples/ApiManagementHeadNotificationRecipientEmail.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/examples/ApiManagementHeadNotificationRecipientUser.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/examples/ApiManagementTenantConfigurationDeploy.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/examples/ApiManagementTenantConfigurationSave.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/examples/ApiManagementTenantConfigurationValidate.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/examples/ApiManagementUserToken.json
Labels: potential-sdk-breaking-change

#5614 Add new API convertToSinglePlacementGroup for VM Scale Set.
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/compute.json
Labels: ARMSignedOff

#5620 4253190 [Microsoft.Update.Admin] Resources missing from OpenApi Spec
  specification/azsadmin/resource-manager/update/Microsoft.Update.Admin/preview/2016-05-01/UpdateRuns.json
Labels: ARMSignedOff

#5579 Add new Nat Gateway resource
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/examples/NatGatewayCreateOrUpdate.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/examples/NatGatewayDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/examples/NatGatewayGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/examples/NatGatewayList.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/examples/NatGatewayListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/examples/NatGatewayUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/natGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/virtualNetwork.json
  specification/network/resource-manager/readme.md
Labels: ARMSignedOff

#5552 Add application gateway backendHealthOnDemand Operation
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/examples/ApplicationGatewayBackendHealthTest.json
Labels: ARMSignedOff

#5646 [Hub Generated] Review request for Microsoft.Azure.Search.Service to add version preview/2017-11-11-preview
  specification/search/data-plane/Microsoft.Azure.Search.Service/preview/2017-11-11-preview/searchservice.json
Labels: potential-sdk-breaking-change

#5171 ManagedDatabase get schemas,tables,columns API
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/DatabaseSchema.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/ManagedDatabaseSchema.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/DatabaseColumnGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/DatabaseColumnListByTable.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/DatabaseSchemaGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/DatabaseSchemaListByDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/DatabaseTableGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/DatabaseTableListBySchema.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedDatabaseColumnGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedDatabaseColumnListByTable.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedDatabaseSchemaGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedDatabaseSchemaListByDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedDatabaseTableGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedDatabaseTableListBySchema.json
Labels: ARMSignedOff

#5083 Sensitivity labels: Disable/Enable recommended sensitivity labels
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/SensitivityLabels.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/RecommendedColumnSensitivityLabelDisable.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/RecommendedColumnSensitivityLabelEnable.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedDatabaseRecommendedColumnSensitivityLabelDisable.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedDatabaseRecommendedColumnSensitivityLabelEnable.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/managedDatabaseSensitivityLabels.json
Labels: ARMSignedOff

#5495 [Hub Generated] Review request for Microsoft.IoTCentral to add version 2018-09-01
  specification/iotcentral/resource-manager/Microsoft.IoTCentral/stable/2018-09-01/examples/Apps_Templates.json
  specification/iotcentral/resource-manager/Microsoft.IoTCentral/stable/2018-09-01/iotcentral.json
Labels: ARMSignedOff

#5523 Add SQL, Mongo, Table, Cassandra APIs
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBCassandraKeyspaceCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBCassandraKeyspaceDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBCassandraKeyspaceGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBCassandraKeyspaceList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBCassandraTableCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBCassandraTableDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBCassandraTableGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBCassandraTableList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBDatabaseAccountCreateMulti.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBGremlinContainerCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBGremlinContainerDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBGremlinContainerGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBGremlinContainerList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBGremlinDatabaseCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBGremlinDatabaseDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBGremlinDatabaseGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBGremlinDatabaseList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBMongoCollectionCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBMongoCollectionDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBMongoCollectionGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBMongoCollectionList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBMongoDatabaseCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBMongoDatabaseDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBMongoDatabaseGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBMongoDatabaseList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBSqlContainerCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBSqlContainerDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBSqlContainerGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBSqlContainerList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBSqlDatabaseCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBSqlDatabaseDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBSqlDatabaseGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBSqlDatabaseList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBTableCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBTableDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBTableGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBTableList.json
  specification/cosmos-db/resource-manager/readme.md
Labels: ARM-overdue, WaitForARMFeedback

#5451 [Hub Generated] Review request for Microsoft.ResourceGraph to add version 2018-09-01-preview
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/examples/ResourceChangeDetails.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/examples/ResourceChanges.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/examples/ResourceChangesFirstPage.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/examples/ResourceChangesNextPage.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/resourcegraph.json
  specification/resourcegraph/resource-manager/readme.md
Labels: ARMSignedOff

#5720 Dev batch microsoft.batch 2019 04 01- Fix swagger spec incorrect nullable property
  specification/batch/resource-manager/Microsoft.Batch/stable/2019-04-01/BatchManagement.json
Labels: ARMSignedOff, WaitForInternalTeamReview

#5655 VnetInfo CertBlob format changed to string
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/CommonDefinitions.json
Labels: potential-sdk-breaking-change

#5727 Updated the operation id for Billing spec
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/billing.json
Labels: ARMSignedOff

#5683 Initial stable version
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-05-01/examples/Accounts_CreateOrUpdate.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-05-01/examples/Accounts_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-05-01/examples/Accounts_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-05-01/examples/Accounts_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-05-01/examples/Accounts_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-05-01/examples/CheckFilePathAvailability.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-05-01/examples/CheckNameAvailability.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-05-01/examples/MountTargets_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-05-01/examples/Pools_CreateOrUpdate.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-05-01/examples/Pools_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-05-01/examples/Pools_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-05-01/examples/Pools_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-05-01/examples/Pools_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-05-01/examples/Snapshots_Create.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-05-01/examples/Snapshots_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-05-01/examples/Snapshots_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-05-01/examples/Snapshots_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-05-01/examples/Snapshots_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-05-01/examples/Volumes_CreateOrUpdate.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-05-01/examples/Volumes_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-05-01/examples/Volumes_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-05-01/examples/Volumes_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-05-01/examples/Volumes_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-05-01/netapp.json
  specification/netapp/resource-manager/readme.csharp.md
  specification/netapp/resource-manager/readme.md
Labels: ARM-overdue, WaitForARMFeedback

#5732 [Hub Generated] Review request for Microsoft.ApiManagement to add version stable/2019-01-01
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/apimanagement.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/apimapis.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/apimpolicies.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/apimproducts.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/examples/ApiManagementCreateApiRevisionFromExistingApi.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/examples/ApiManagementGetPolicy.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/examples/ApiManagementGetPolicyFormat.json
Labels: ARMSignedOff

#5740 Add hyperVGeneration enum property to ImageProperties
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/compute.json
Labels: ARMSignedOff

#5760 Sqldb serverless
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/databases.json
Labels: ARMSignedOff

#5161 Added swagger spec for Microsoft.DynamicsTelemetry preview
  specification/dynamicstelemetry/resource-manager/Microsoft.DynamicsTelemetry/preview/2019-01-24/dynamicstelemetry.json
  specification/dynamicstelemetry/resource-manager/Microsoft.DynamicsTelemetry/preview/2019-01-24/examples/Operations_List.json
Labels: ARMSignedOff

#5769 Updating the schema to adhere to the new design changes
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/examples/HanaInstances_EnableMonitoring.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/hanaonazure.json
Labels: potential-sdk-breaking-change

#5743 Personalizer v1.0 preview
  specification/cognitiveservices/data-plane/Personalizer/preview/v1.0/Personalizer.json
  specification/cognitiveservices/data-plane/Personalizer/preview/v1.0/examples/Evaluations_Create.json
  specification/cognitiveservices/data-plane/Personalizer/preview/v1.0/examples/Evaluations_Delete.json
  specification/cognitiveservices/data-plane/Personalizer/preview/v1.0/examples/Evaluations_Get.json
  specification/cognitiveservices/data-plane/Personalizer/preview/v1.0/examples/Evaluations_List.json
  specification/cognitiveservices/data-plane/Personalizer/preview/v1.0/examples/Events_Activate.json
  specification/cognitiveservices/data-plane/Personalizer/preview/v1.0/examples/Events_Rank.json
  specification/cognitiveservices/data-plane/Personalizer/preview/v1.0/examples/Events_Reward.json
  specification/cognitiveservices/data-plane/Personalizer/preview/v1.0/examples/Log_Delete.json
  specification/cognitiveservices/data-plane/Personalizer/preview/v1.0/examples/Log_GetProperties.json
  specification/cognitiveservices/data-plane/Personalizer/preview/v1.0/examples/Model_Delete.json
  specification/cognitiveservices/data-plane/Personalizer/preview/v1.0/examples/Model_Get.json
  specification/cognitiveservices/data-plane/Personalizer/preview/v1.0/examples/Model_GetProperties.json
  specification/cognitiveservices/data-plane/Personalizer/preview/v1.0/examples/Policy_Delete.json
  specification/cognitiveservices/data-plane/Personalizer/preview/v1.0/examples/Policy_Get.json
  specification/cognitiveservices/data-plane/Personalizer/preview/v1.0/examples/Policy_Update.json
  specification/cognitiveservices/data-plane/Personalizer/preview/v1.0/examples/ServiceConfiguration_Get.json
  specification/cognitiveservices/data-plane/Personalizer/preview/v1.0/examples/ServiceConfiguration_Update.json
  specification/cognitiveservices/data-plane/Personalizer/readme.md
Labels: WaitingForAzureAPIBoard

#5591 [Datafactory] Adding getFeatureValue API in factory scope
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/Datasets_Get.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/ExposureControl_GetFeatureValueByFactory.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/Factories_Get.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/IntegrationRuntimeObjectMetadata_Get.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/IntegrationRuntimes_Get.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/IntegrationRuntimes_Start.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/IntegrationRuntimes_Stop.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/LinkedServices_Get.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/Pipelines_Get.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/RerunTriggers_Cancel.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/RerunTriggers_Create.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/RerunTriggers_ListByTrigger.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/RerunTriggers_Start.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/RerunTriggers_Stop.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/Triggers_Get.json
Labels: ARMSignedOff, Reassign

#5744 Rename Gremlin container by graph
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBCassandraKeyspaceCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBCassandraKeyspaceDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBCassandraKeyspaceGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBCassandraTableCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBCassandraTableDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBCassandraTableGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBCassandraTableList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBGremlinDatabaseCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBGremlinDatabaseDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBGremlinDatabaseGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBGremlinGraphCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBGremlinGraphDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBGremlinGraphGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBGremlinGraphList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBMongoDBCollectionCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBMongoDBCollectionDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBMongoDBCollectionGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBMongoDBCollectionList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBMongoDBDatabaseCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBMongoDBDatabaseDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBMongoDBDatabaseGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBMongoDBDatabaseList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBSqlContainerCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBSqlContainerDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBSqlContainerGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBSqlContainerList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBSqlDatabaseCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBSqlDatabaseDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBSqlDatabaseGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBTableCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBTableDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBTableGet.json
  specification/cosmos-db/resource-manager/readme.md
Labels: potential-sdk-breaking-change

#5565 Adding Create, Delete and List Namespaces Endpoints for Event Hubs Cluster Resource
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/EventHub-preview.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/Clusters/ClusterDelete.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/Clusters/ClusterPut.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/Clusters/ListAvailableClustersGet.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/Clusters/ListNamespacesInClusterGet.json
Labels: ARMSignedOff

#5733 [SRP] Expose lease container in Apr19 API.
  specification/storage/resource-manager/Microsoft.Storage/preview/2018-03-01-preview/examples/BlobContainersLease_Acquire.json
  specification/storage/resource-manager/Microsoft.Storage/preview/2018-03-01-preview/examples/BlobContainersLease_Break.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-07-01/examples/BlobContainersLease_Acquire.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-07-01/examples/BlobContainersLease_Break.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/BlobContainersLease_Acquire.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/BlobContainersLease_Break.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/blob.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/BlobContainersLease_Acquire.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/BlobContainersLease_Break.json
Labels: ARMSignedOff

#5677 Add dynamic metric alert api
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-03-01/examples/UpdateMetricAlert.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-03-01/examples/createOrUpdateDynamicMetricAlertMultipleResource.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-03-01/examples/createOrUpdateDynamicMetricAlertSingleResource.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-03-01/examples/createOrUpdateMetricAlertSingleResource.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-03-01/examples/getDynamicMetricAlertMultipleResource.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-03-01/examples/getDynamicMetricAlertSingleResource.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-03-01/examples/getMetricAlertSingleResource.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-03-01/examples/listMetricAlert.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-03-01/metricAlert_API.json
Labels: potential-sdk-breaking-change
