Repository Azure/azure-rest-api-specs, pull requests merged in 2019-05, with the labels that each got.

#5757 Add list_by_scope
  specification/resources/resource-manager/Microsoft.Authorization/stable/2016-09-01/locks.json
Labels: ARMSignedOff

#5824 [Hub Generated] Review request for Microsoft.ApiManagement to add version stable/2019-01-01
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/apimapis.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/definitions.json
Labels: potential-sdk-breaking-change

#5833 Add checkIdentityHealth api in Microsoft.Subscription.Admin RP.
  specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/Subscriptions.json
  specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/examples/Subscriptions/CheckIdentityHealth.json
Labels: WaitForARMFeedback

#5209 Add cancel and rename subscription API
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2018-11-01-preview/subscriptions.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-03-01-preview/examples/cancelSubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-03-01-preview/examples/getOperations.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-03-01-preview/examples/renameSubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-03-01-preview/subscriptions.json
  specification/subscription/resource-manager/readme.md
Labels: ARMSignedOff

#5819 Update list-orchestrator for api spec 2019-04-01
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-04-01/examples/ContainerServiceListOrchestrators.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-04-01/location.json
  specification/containerservice/resource-manager/readme.md
Labels: ARMSignedOff

#5622 [Hub Generated] Review request for Microsoft.Consumption to add version preview/2019-04-01-preview
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/AggregatedCostByManagementGroup.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/AggregatedCostByManagementGroupFilterByDate.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/AggregatedCostForBillingPeriodByManagementGroup.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/BalancesByBillingAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/BalancesByBillingAccountForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/Budget.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/BudgetsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/ChargesForBillingPeriodByDepartment.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/ChargesForBillingPeriodByEnrollmentAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/CreateOrUpdateBudget.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/DeleteBudget.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/ForecastsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/ForecastsListFilterByDates.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/ForecastsListFilterByGrain.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/MarketplacesByBillingAccountList.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/MarketplacesByBillingAccountListForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/MarketplacesByDepartmentList.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/MarketplacesByDepartment_ListByBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/MarketplacesByEnrollmentAccountList.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/MarketplacesByEnrollmentAccounts_ListByBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/MarketplacesByManagementGroupList.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/MarketplacesByManagementGroup_ListForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/MarketplacesList.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/MarketplacesListForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/PriceSheet.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/PriceSheetExpand.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/PriceSheetForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/ReservationDetails.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/ReservationDetailsWithReservationId.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/ReservationRecommendationsFilterByScopeLookBackPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/ReservationRecommendationsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/ReservationSummariesDaily.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/ReservationSummariesDailyWithReservationId.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/ReservationSummariesMonthly.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/ReservationSummariesMonthlyWithReservationId.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/Tags.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/UsageDetailsDownload.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/UsageDetailsDownloadByMetricUsage.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/UsageDetailsExpand.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/UsageDetailsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/UsageDetailsListByBillingAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/UsageDetailsListByDepartment.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/UsageDetailsListByEnrollmentAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/UsageDetailsListByManagementGroup.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/UsageDetailsListByMetricActualCost.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/UsageDetailsListByMetricAmortizedCost.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/UsageDetailsListByMetricUsage.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/UsageDetailsListFilterByTag.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/UsageDetailsListForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/UsageDetailsListForBillingPeriodByBillingAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/UsageDetailsListForBillingPeriodByDepartment.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/UsageDetailsListForBillingPeriodByEnrollmentAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-04-01-preview/examples/UsageDetailsListForBillingPeriodByManagementGroup.json
  specification/consumption/resource-manager/readme.md
Labels: ARMSignedOff

#5750 [Hub Generated] Review request for Microsoft.AlertsManagement to add version preview/2019-05-05-preview
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/AlertsManagement.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples/ActionRules_Create_SuppressionRule.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples/ActionRules_Delete.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples/ActionRules_GetById.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples/ActionRules_List_ResourceGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples/ActionRules_List_Subscription.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples/ActionRules_Patch.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples/Alerts_ChangeState.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples/Alerts_GetById.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples/Alerts_History.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples/Alerts_List.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples/Alerts_Summary.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples/SmartGroups_ChangeState.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples/SmartGroups_GetById.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples/SmartGroups_History.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples/SmartGroups_List.json
  specification/alertsmanagement/resource-manager/readme.md
Labels: ARMSignedOff

#5837 Add locations/operationsStatus resource type in Microsoft.Subscriptio…
  specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/Location.json
  specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/Subscriptions.json
  specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/examples/Location/GetOperationsStatus.json
Labels: Azure Stack

#5847 Add manifests resource type to Azure Stack Resource Manager Subscript…
  specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/Manifest.json
  specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/examples/Manifest/Get.json
  specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/examples/Manifest/List.json
  specification/azsadmin/resource-manager/subscriptions/readme.md
Labels: WaitForARMFeedback

#5834 [Microsoft.ResourceHealth] Add metadata api
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2018-08-01/ResourceHealth.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2018-08-01/examples/Events_ListBySingleResource.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2018-08-01/examples/Events_ListBySubscriptionId.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2018-08-01/examples/Metadata_GetMetadataEntity.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2018-08-01/examples/Metadata_ListMetadata.json
  specification/resourcehealth/resource-manager/readme.md
Labels: ARMSignedOff

#5562 Support nextLink for list container request.
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/blob.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/BlobContainersList.json
Labels: Changes Required

#5826 [Microsoft.Advisor] Add metadata api
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/examples/GetRecommendationMetadataEntity.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/examples/ListRecommendationMetadata.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/feedback.md
Labels: ARMSignedOff

#5818 Remove Put from FabricLocation which was removed from the product ove…
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/FabricLocation.json
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/examples/FabricLocation/Put.json
Labels: Azure Stack, potential-sdk-breaking-change

#5648 Added data connection check name availability operation
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-01-21/examples/KustoClustersCheckNameAvailability.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-01-21/examples/KustoDataConnectionValidation.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-01-21/examples/KustoDataConnectionsCheckNameAvailability.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-01-21/examples/KustoDataConnectionsCreateOrUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-01-21/examples/KustoDataConnectionsUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-01-21/examples/KustoDatabasesCheckNameAvailability.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-01-21/kusto.json
Labels: ARMSignedOff

#5870 Update Application Insights Schema to support WorkItemConfig operations
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/componentWorkItemConfigs_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/WorkItemConfigCreate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/WorkItemConfigDelete.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/WorkItemConfigGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/WorkItemConfigUpdate.json
Labels: ARMSignedOff

#5905 Add location based deleted Web Apps
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/DeletedWebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples/GetDeletedWebAppByLocation.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples/ListDeletedWebAppsByLocation.json
Labels: ARMSignedOff

#5883 [Network]: get virtualnetwork gateway vpn connection health
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/examples/VirtualNetworkGatewayGetVpnclientConnectionHealth.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/virtualNetworkGateway.json
Labels: ARM-overdue, WaitForARMFeedback

#5911 Add new nested resource Microsoft.AAD/DomainServices/ReplicaSets
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2017-06-01/domainservices.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2017-06-01/examples/CreateReplicaSet.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2017-06-01/examples/DeleteReplicaSet.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2017-06-01/examples/GetReplicaSet.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2017-06-01/examples/ListReplicaSetsByDomainService.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2017-06-01/examples/UpdateReplicaSet.json
Labels: ARMSignedOff

#5931 [Cogs OCR] Remove optional `mode` parameter from CognitiveService OCR preview API for GA preparation
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/Ocr.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/examples/SuccessfulBatchReadFileWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/examples/SuccessfulBatchReadFileWithUrl.json
Labels: WaitingForAzureAPIBoard, potential-sdk-breaking-change

#5912 [Hub Generated] Review request for Microsoft.Aadiam to add version stable/2017-04-01
  specification/azureactivedirectory/resource-manager/Microsoft.Aadiam/stable/2017-04-01/azureactivedirectory.json
  specification/azureactivedirectory/resource-manager/Microsoft.Aadiam/stable/2017-04-01/examples/createOrUpdateDiagnosticSetting.json
  specification/azureactivedirectory/resource-manager/Microsoft.Aadiam/stable/2017-04-01/examples/deleteDiagnosticSetting.json
  specification/azureactivedirectory/resource-manager/Microsoft.Aadiam/stable/2017-04-01/examples/getDiagnosticSetting.json
  specification/azureactivedirectory/resource-manager/Microsoft.Aadiam/stable/2017-04-01/examples/listDiagnosticSettings.json
  specification/azureactivedirectory/resource-manager/Microsoft.Aadiam/stable/2017-04-01/examples/listDiagnosticSettingsCategories.json
  specification/azureactivedirectory/resource-manager/Microsoft.Aadiam/stable/2017-04-01/examples/listOperations.json
  specification/azureactivedirectory/resource-manager/readme.csharp.md
  specification/azureactivedirectory/resource-manager/readme.go.md
  specification/azureactivedirectory/resource-manager/readme.md
  specification/azureactivedirectory/resource-manager/readme.python.md
  specification/azureactivedirectory/resource-manager/readme.ruby.md
  specification/azureactivedirectory/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#5909 Update of Mixed Reality Azure Resource Management
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/common.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/examples/proxy/CheckNameAvailabilityForLocalUniqueness.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/examples/proxy/ExposingAvailableOperations.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/examples/remote-rendering/Delete.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/examples/remote-rendering/Get.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/examples/remote-rendering/GetByResourceGroup.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/examples/remote-rendering/GetBySubscription.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/examples/remote-rendering/GetKeys.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/examples/remote-rendering/Patch.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/examples/remote-rendering/Put.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/examples/remote-rendering/RegenerateKey.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/examples/spatial-anchors/Delete.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/examples/spatial-anchors/Get.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/examples/spatial-anchors/GetByResourceGroup.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/examples/spatial-anchors/GetBySubscription.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/examples/spatial-anchors/GetKeys.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/examples/spatial-anchors/Patch.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/examples/spatial-anchors/Put.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/examples/spatial-anchors/RegenerateKey.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/proxy.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/remote-rendering.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/spatial-anchors.json
  specification/mixedreality/resource-manager/readme.md
Labels: ARMReviewMeetingRequired, WaitForARMFeedback

#5866 [Hub Generated] Review request for Microsoft.CostManagement to add version preview/2019-03-01-preview
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/costmanagement.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/ExternalBillingAccountForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/ShowbackRuleGet.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/ShowbackRulePut.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/ShowbackRulesList.json
  specification/cost-management/resource-manager/readme.go.md
  specification/cost-management/resource-manager/readme.md
Labels: ARMSignedOff

#5543 Swagger and Examples for the new Scoped tokens feature of Azure Container registry
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-05-01-preview/containerregistry_scopemap.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-05-01-preview/examples/RegistryGenerateCredentials.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-05-01-preview/examples/ScopeMapCreate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-05-01-preview/examples/ScopeMapDelete.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-05-01-preview/examples/ScopeMapGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-05-01-preview/examples/ScopeMapList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-05-01-preview/examples/ScopeMapUpdate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-05-01-preview/examples/TokenCreate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-05-01-preview/examples/TokenDelete.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-05-01-preview/examples/TokenGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-05-01-preview/examples/TokenList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-05-01-preview/examples/TokenUpdate.json
  specification/containerregistry/resource-manager/readme.go.md
  specification/containerregistry/resource-manager/readme.md
  specification/containerregistry/resource-manager/readme.nodejs.md
  specification/containerregistry/resource-manager/readme.python.md
  specification/containerregistry/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#5838 [Hub Generated] Review request for Microsoft.Insights to add version stable/2018-09-01
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-09-01/baseline_API.json
Labels: ARMSignedOff

#6007 MySQL intelligent performance APIs
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/AdvisorsGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/AdvisorsListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/CheckNameAvailability.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/ConfigurationCreateOrUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/ConfigurationGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/ConfigurationListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/DatabaseCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/DatabaseDelete.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/DatabaseGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/DatabaseListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/FirewallRuleCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/FirewallRuleDelete.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/FirewallRuleGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/FirewallRuleListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/LogFileListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/OperationList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/PerformanceTiersListByLocation.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/QueryTextsGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/QueryTextsListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/RecommendedActionSessionCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/RecommendedActionSessionOperationStatus.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/RecommendedActionSessionResult.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/RecommendedActionsGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/RecommendedActionsListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/ReplicasListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/ServerCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/ServerCreateGeoRestoreMode.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/ServerCreatePointInTimeRestore.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/ServerCreateReplicaMode.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/ServerDelete.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/ServerGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/ServerList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/ServerListByResourceGroup.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/ServerRestart.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/ServerSecurityAlertsCreateMax.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/ServerSecurityAlertsCreateMin.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/ServerSecurityAlertsGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/ServerUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/TopQueryStatisticsGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/TopQueryStatisticsListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/VirtualNetworkRulesCreateOrUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/VirtualNetworkRulesDelete.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/VirtualNetworkRulesGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/VirtualNetworkRulesList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/WaitStatisticsGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/WaitStatisticsListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/mysql.json
  specification/mysql/resource-manager/readme.md
Labels: ARMSignedOff

#5944 [Hub Generated] Review request for Microsoft.AlertsManagement to add version stable/2019-03-01
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/AlertsManagement.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/examples/Alerts_ChangeState.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/examples/Alerts_GetById.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/examples/Alerts_History.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/examples/Alerts_List.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/examples/Alerts_Summary.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/examples/SmartGroups_ChangeState.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/examples/SmartGroups_GetById.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/examples/SmartGroups_History.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/examples/SmartGroups_List.json
  specification/alertsmanagement/resource-manager/readme.md
Labels: ARMSignedOff

#6039 Adding payment methods API at billing account scope
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/examples/PaymentMethodsListByBillingAccount.json
Labels: WaitForARMFeedback

#5752 [Datafactory] add missing ssis entity types
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/IntegrationRuntime.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/IntegrationRuntimeObjectMetadata_Get.json
Labels: ARMSignedOff

#5949 set hard limit on resourceName for AKS managed cluster.
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2017-07-01/containerService.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-04-01/examples/AgentPoolsCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-04-01/examples/AgentPoolsDelete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-04-01/examples/AgentPoolsGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-04-01/examples/AgentPoolsList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-04-01/managedClusters.json
Labels: ARMSignedOff

#6010 ARM spec review for validateAddress for BillingRP
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/examples/BillingAccountValidateAddress.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/examples/BillingAccountValidateAddressInvalid.json
Labels: ARMSignedOff

#6093 Fix api version for subscription
  specification/resources/resource-manager/Microsoft.Resources/stable/2018-06-01/subscriptions.json
Labels: ARMSignedOff

#6023 Swagger support for Bastion Host
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/bastionHost.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/examples/BastionHostDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/examples/BastionHostGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/examples/BastionHostListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/examples/BastionHostListBySubscription.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/examples/BastionHostPut.json
  specification/network/resource-manager/readme.md
Labels: ARMSignedOff

#6084 Specs for ServiceTags resource
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/examples/ServiceTagsList.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/serviceTags.json
  specification/network/resource-manager/readme.md
Labels: ARMSignedOff

#5945 Add Create HanaInstance API
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/examples/HanaInstances_Create.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/examples/HanaInstances_Get.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/examples/HanaInstances_List.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/examples/HanaInstances_ListByResourceGroup.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/examples/HanaInstances_PatchTags.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/examples/HanaInstances_PatchTags_Delete.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/hanaonazure.json
Labels: ARMSignedOff

#5854 [ACR] Add "19-05-01" GA specification for Microsoft.ContainerRegistry
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/containerregistry.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/examples/ImportImageByManifestDigest.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/examples/ImportImageByTag.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/examples/ImportImageFromPublicRegistry.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/examples/RegistryCheckNameAvailable.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/examples/RegistryCheckNameNotAvailable.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/examples/RegistryCreate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/examples/RegistryDelete.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/examples/RegistryGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/examples/RegistryList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/examples/RegistryListByResourceGroup.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/examples/RegistryListCredentials.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/examples/RegistryListUsages.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/examples/RegistryRegenerateCredential.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/examples/RegistryUpdate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/examples/ReplicationCreate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/examples/ReplicationDelete.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/examples/ReplicationGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/examples/ReplicationList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/examples/ReplicationUpdate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/examples/WebhookCreate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/examples/WebhookDelete.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/examples/WebhookGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/examples/WebhookGetCallbackConfig.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/examples/WebhookList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/examples/WebhookListEvents.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/examples/WebhookPing.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/examples/WebhookUpdate.json
  specification/containerregistry/resource-manager/readme.go.md
  specification/containerregistry/resource-manager/readme.md
  specification/containerregistry/resource-manager/readme.nodejs.md
  specification/containerregistry/resource-manager/readme.python.md
  specification/containerregistry/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#6045 MariaDB intelligent performance
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/AdvisorsGet.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/AdvisorsListByServer.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/CheckNameAvailability.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/ConfigurationCreateOrUpdate.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/ConfigurationGet.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/ConfigurationListByServer.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/DatabaseCreate.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/DatabaseDelete.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/DatabaseGet.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/DatabaseListByServer.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/FirewallRuleCreate.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/FirewallRuleDelete.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/FirewallRuleGet.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/FirewallRuleListByServer.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/LogFileListByServer.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/OperationList.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/PerformanceTiersListByLocation.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/QueryTextsGet.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/QueryTextsListByServer.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/RecommendedActionSessionCreate.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/RecommendedActionSessionOperationStatus.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/RecommendedActionSessionResult.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/RecommendedActionsGet.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/RecommendedActionsListByServer.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/ReplicasListByServer.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/ServerCreate.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/ServerCreateGeoRestoreMode.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/ServerCreatePointInTimeRestore.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/ServerCreateReplicaMode.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/ServerDelete.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/ServerGet.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/ServerList.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/ServerListByResourceGroup.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/ServerRestart.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/ServerSecurityAlertsCreateMax.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/ServerSecurityAlertsCreateMin.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/ServerSecurityAlertsGet.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/ServerUpdate.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/TopQueryStatisticsGet.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/TopQueryStatisticsListByServer.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/VirtualNetworkRulesCreateOrUpdate.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/VirtualNetworkRulesDelete.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/VirtualNetworkRulesGet.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/VirtualNetworkRulesList.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/WaitStatisticsGet.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/WaitStatisticsListByServer.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/mariadb.json
  specification/mariadb/resource-manager/readme.md
Labels: ARMSignedOff

#6067 [Microsoft.Advisor] Add applicableScenarios property to metadata entity properties. (API is not live yet)
  cSpell.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/advisor.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/examples/GetRecommendationMetadataEntity.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-04-19/examples/ListRecommendationMetadata.json
Labels: ARMSignedOff

#6068 [Microsoft.ResourceHealth] Add applicableScenarios property to metadata entity properties (API is not live yet)
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2018-08-01/ResourceHealth.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2018-08-01/examples/Metadata_GetMetadataEntity.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2018-08-01/examples/Metadata_ListMetadata.json
Labels: ARMSignedOff

#6056 [Cogs OCR] Fix bugs in OCR swagger file
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/Ocr.json
Labels: potential-sdk-breaking-change

#6143 [Hub Generated] Review request for Microsoft.Media to add version stable/2018-07-01
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2018-07-01/Encoding.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2018-07-01/examples/transforms-update.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2018-07-01/streamingservice.json
  specification/mediaservices/resource-manager/readme.md
Labels: potential-sdk-breaking-change

#5976 Microsoft.HanaOnAzure: Add Delete HanaInstance API
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/examples/HanaInstances_Delete.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/hanaonazure.json
Labels: ARMSignedOff

#6054 Spec for LineOfCredit API and other corrections
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/examples/AddRoleAssignmentToBillingAccount.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/examples/AddRoleAssignmentToBillingProfile.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/examples/AddRoleAssignmentToInvoiceSection.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/examples/CreateInvoiceSection.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/examples/IncreaseLineOfCreditBySubscription.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/examples/LineOfCreditBySubscription.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/examples/UpdateBillingProfile.json
Labels: ARMSignedOff, Breaking Change Review

#5844 Add CreateFromJson POST operation to ScaleUnit
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/ScaleUnit.json
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/examples/ScaleUnit/CreateFromJson.json
Labels: Reassign

#6041 [Hub Generated] Review request for Microsoft.Billing to add version preview/2018-11-01-preview
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/examples/UpdateBillingAccount.json
Labels: ARMSignedOff

#6090 [Hub Generated] Review request for Microsoft.Billing to add version preview/2018-11-01-preview
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/examples/ValidateAddressInvalid.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/examples/ValidateAddressValid.json
Labels: ARMSignedOff
