Repository Azure/azure-rest-api-specs, pull requests merged in 2019-07, with the labels that each got.

#6244 [Hub Generated] Review request for Microsoft.HealthcareApis to add version preview/2018-08-20-preview
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2018-08-20-preview/examples/MoveResourcesPost.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2018-08-20-preview/examples/ServiceCreate.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2018-08-20-preview/examples/ServiceGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2018-08-20-preview/examples/ServiceList.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2018-08-20-preview/examples/ServiceListByResourceGroup.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2018-08-20-preview/examples/ServicePatch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2018-08-20-preview/healthcare-apis.json
  specification/healthcareapis/resource-manager/readme.go.md
  specification/healthcareapis/resource-manager/readme.md
  specification/healthcareapis/resource-manager/readme.python.md
Labels: ARMSignedOff

#6446 changed eventhub namespace to eventhubs
  specification/eventhub/resource-manager/readme.java.md
  specification/eventhub/resource-manager/readme.md
Labels: potential-sdk-breaking-change

#4481 Swagger closure for Azure Migration Hub
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/DatabaseInstances_Get.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/DatabaseInstances_List.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/Databases_Get.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/Databases_List.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/Machines_Get.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/Machines_List.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/MigrateEvents_Delete.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/MigrateEvents_Get.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/MigrateEvents_List.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/MigrateProjects_Delete.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/MigrateProjects_Get.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/MigrateProjects_Patch.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/MigrateProjects_Put.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/MigrateProjects_RefreshSummary.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/MigrateProjects_RegisterTool.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/Operations_List.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/Solutions_CleanupData.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/Solutions_Delete.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/Solutions_Get.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/Solutions_GetConfig.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/Solutions_List.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/Solutions_Patch.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/examples/Solutions_Put.json
  specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/migrate.json
  specification/migrateprojects/resource-manager/readme.md
  specification/migrateprojects/resource-manager/readme.nodejs.md
Labels: ARMSignedOff

#5571 Adding the Microsoft.Security VulnerabilityAssessment API.
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/ServerVulnerabilityAssessments/CreateServerVulnerabilityAssessments_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/ServerVulnerabilityAssessments/DeleteServerVulnerabilityAssessments_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/ServerVulnerabilityAssessments/GetServerVulnerabilityAssessments_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/ServerVulnerabilityAssessments/ListByExtendedResourceServerVulnerabilityAssessments_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/serverVulnerabilityAssessments.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff

#6426 Changes to the JIT API for Firewall Support
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/jitNetworkAccessPolicies.json
Labels: ARMSignedOff

#6479 [Hub Generated] Review request for Microsoft.Devices to add version preview/2019-03-22-preview
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_createOrUpdate.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/examples/iothub_get.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2019-03-22-preview/iothub.json
Labels: ARMSignedOff

#6486 Add PATCH to Azure Firewall supported operations
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/azureFirewall.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/AzureFirewallUpdateTags.json
Labels: ARMSignedOff

#6332 PrivateEndpoint & PrivateLinkService APIs update
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/availablePrivateEndpointTypes.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/examples/AutoApprovedPrivateLinkServicesGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/examples/AutoApprovedPrivateLinkServicesResourceGroupGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/examples/AvailablePrivateEndpointTypesGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/examples/AvailablePrivateEndpointTypesResourceGroupGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/examples/CheckPrivateLinkServiceVisibility.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/examples/CheckPrivateLinkServiceVisibilityByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/examples/PrivateLinkServiceCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/examples/PrivateLinkServiceGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/examples/PrivateLinkServiceList.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/examples/PrivateLinkServiceListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/examples/PrivateLinkServiceUpdatePrivateEndpointConnection.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/privateEndpoint.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/privateLinkService.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/virtualNetwork.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/availablePrivateEndpointTypes.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/AutoApprovedPrivateLinkServicesGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/AutoApprovedPrivateLinkServicesResourceGroupGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/AvailablePrivateEndpointTypesGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/AvailablePrivateEndpointTypesResourceGroupGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/CheckPrivateLinkServiceVisibility.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/CheckPrivateLinkServiceVisibilityByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/PrivateLinkServiceCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/PrivateLinkServiceGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/PrivateLinkServiceList.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/PrivateLinkServiceListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/PrivateLinkServiceUpdatePrivateEndpointConnection.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/privateEndpoint.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/privateLinkService.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/virtualNetwork.json
  specification/network/resource-manager/readme.md
Labels: ARMSignedOff

#6475 Dev/ccelik/dedicated host swagger
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateOrUpdateADedicatedHost.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateOrUpdateADedicatedHostGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/GetADedicatedHost.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/GetADedicatedHostGroup.json
  specification/compute/resource-manager/readme.md
Labels: ARM-overdue, WaitForARMFeedback

#6527 Deprecate preview API versions for Microsoft.DevSpaces
  specification/devspaces/resource-manager/Microsoft.DevSpaces/preview/2018-06-01-preview/devspaces.json
  specification/devspaces/resource-manager/Microsoft.DevSpaces/preview/2018-06-01-preview/examples/ContainerHostMappingsGetContainerHostMapping_example.json
  specification/devspaces/resource-manager/Microsoft.DevSpaces/preview/2018-06-01-preview/examples/ControllersCreate_example.json
  specification/devspaces/resource-manager/Microsoft.DevSpaces/preview/2018-06-01-preview/examples/ControllersDelete_example.json
  specification/devspaces/resource-manager/Microsoft.DevSpaces/preview/2018-06-01-preview/examples/ControllersGet_example.json
  specification/devspaces/resource-manager/Microsoft.DevSpaces/preview/2018-06-01-preview/examples/ControllersListByResourceGroup_example.json
  specification/devspaces/resource-manager/Microsoft.DevSpaces/preview/2018-06-01-preview/examples/ControllersListConnectionDetails_example.json
  specification/devspaces/resource-manager/Microsoft.DevSpaces/preview/2018-06-01-preview/examples/ControllersList_example.json
  specification/devspaces/resource-manager/Microsoft.DevSpaces/preview/2018-06-01-preview/examples/ControllersUpdate_example.json
  specification/devspaces/resource-manager/Microsoft.DevSpaces/preview/2019-01-01-preview/devspaces.json
  specification/devspaces/resource-manager/Microsoft.DevSpaces/preview/2019-01-01-preview/examples/ContainerHostMappingsGetContainerHostMapping_example.json
  specification/devspaces/resource-manager/Microsoft.DevSpaces/preview/2019-01-01-preview/examples/ControllersCreate_example.json
  specification/devspaces/resource-manager/Microsoft.DevSpaces/preview/2019-01-01-preview/examples/ControllersDelete_example.json
  specification/devspaces/resource-manager/Microsoft.DevSpaces/preview/2019-01-01-preview/examples/ControllersGet_example.json
  specification/devspaces/resource-manager/Microsoft.DevSpaces/preview/2019-01-01-preview/examples/ControllersListByResourceGroup_example.json
  specification/devspaces/resource-manager/Microsoft.DevSpaces/preview/2019-01-01-preview/examples/ControllersListConnectionDetails_example.json
  specification/devspaces/resource-manager/Microsoft.DevSpaces/preview/2019-01-01-preview/examples/ControllersList_example.json
  specification/devspaces/resource-manager/Microsoft.DevSpaces/preview/2019-01-01-preview/examples/ControllersUpdate_example.json
  specification/devspaces/resource-manager/readme.go.md
  specification/devspaces/resource-manager/readme.md
Labels: WaitForARMFeedback

#6365 Failover database and elastic pool swagger changes
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/FailoverDatabases.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/FailoverElasticPools.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/FailoverDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/FailoverElasticPool.json
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff

#6459 Adding new resource type for alerts meta data
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/AlertsManagement.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples/AlertsMetaData_MonitorService.json
Labels: ARMSignedOff

#6525 Restore default tag to stable version of the API - package-2018-07
  specification/mediaservices/resource-manager/readme.md
Labels: potential-sdk-breaking-change

#6411 WaitForARMFeedback: GalleryApplication API
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateOrUpdateASimpleGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateOrUpdateASimpleGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/DeleteAGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/DeleteAGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/GetAGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/GetAGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/GetAGalleryApplicationVersionWithReplicationStatus.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/ListGalleryApplicationVersionsInAGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/ListGalleryApplicationsInAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/gallery.json
Labels: ARMSignedOff

#6583 Add RP Data Share to specification folder [Public Preview]
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/DataShare.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/Accounts_Create.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/Accounts_Delete.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/Accounts_Get.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/Accounts_ListByResourceGroup.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/Accounts_ListBySubscription.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/Accounts_Update.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/ConsumerInvitations_Get.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/ConsumerInvitations_ListInvitations.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/ConsumerInvitations_RejectInvitation.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/ConsumerSourceDataSets_ListByShareSubscription.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/DataSetMappings_Create.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/DataSetMappings_Delete.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/DataSetMappings_Get.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/DataSetMappings_ListByShareSubscription.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/DataSets_Create.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/DataSets_Delete.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/DataSets_Get.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/DataSets_ListByShare.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/Invitations_Create.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/Invitations_Delete.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/Invitations_Get.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/Invitations_ListByShare.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/Operations_List.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/ProviderShareSubscriptions_GetByShare.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/ProviderShareSubscriptions_ListByShare.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/ProviderShareSubscriptions_Reinstate.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/ProviderShareSubscriptions_Revoke.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/ShareSubscriptions_CancelSynchronization.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/ShareSubscriptions_Create.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/ShareSubscriptions_Delete.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/ShareSubscriptions_Get.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/ShareSubscriptions_ListByAccount.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/ShareSubscriptions_ListSourceShareSynchronizationSettings.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/ShareSubscriptions_ListSynchronizationDetails.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/ShareSubscriptions_ListSynchronizations.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/ShareSubscriptions_Synchronize.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/Shares_Create.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/Shares_Delete.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/Shares_Get.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/Shares_ListByAccount.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/Shares_ListSynchronizationDetails.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/Shares_ListSynchronizations.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/SynchronizationSettings_Create.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/SynchronizationSettings_Delete.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/SynchronizationSettings_Get.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/SynchronizationSettings_ListByShare.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/Triggers_Create.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/Triggers_Delete.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/Triggers_Get.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/Triggers_ListByShareSubscription.json
  specification/datashare/resource-manager/readme.go.md
  specification/datashare/resource-manager/readme.md
Labels: ARMSignedOff

#6539 [Hub Generated] Review request for Microsoft.Capacity to add version preview/2019-04-01
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/GetReservationDetails.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/reservations.json
Labels: ARMSignedOff

#6456 Adding objects necessary for mapping Oracle schemas and tables to PostgreSQL databases and tables
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/OracleAzureDbPostgreSqlSyncTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/Tasks.json
Labels: ARMSignedOff

#6578 [Datafactory] Add three new connectors
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff

#6445 Add subscription scope to assessment metadata API
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/assessmentsMetadata.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/AssessmentsMetadata/GetAssessmentsMetadata_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/AssessmentsMetadata/GetAssessmentsMetadata_subscription_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/AssessmentsMetadata/ListAssessmentsMetadata_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/AssessmentsMetadata/ListAssessmentsMetadata_subscription_example.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff, DoNotMerge

#6566 Adding new property to Peering: connection identifier.
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-06-01-preview/examples/CreateDirectPeering.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-06-01-preview/examples/CreateExchangePeering.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-06-01-preview/examples/CreatePeerAsn.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-06-01-preview/examples/DeletePeerAsn.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-06-01-preview/examples/DeletePeering.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-06-01-preview/examples/GetPeerAsn.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-06-01-preview/examples/GetPeering.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-06-01-preview/examples/ListDirectPeeringLocations.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-06-01-preview/examples/ListExchangePeeringLocations.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-06-01-preview/examples/ListLegacyPeerings.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-06-01-preview/examples/ListPeerAsnsBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-06-01-preview/examples/ListPeeringOperations.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-06-01-preview/examples/ListPeeringsByResourceGroup.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-06-01-preview/examples/ListPeeringsBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-06-01-preview/examples/UpdatePeeringTags.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-06-01-preview/peering.json
  specification/peering/resource-manager/readme.md
  specification/peering/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#6160 Adding resource definition for IoTSecuritySolutionsAnalytics
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/IoTSecuritySolutions/UpdateIoTSecuritySolution_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityAggregatedAlertList_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityAggregatedAlert_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityAnalyticsList_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityAnalytics_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityRecommendationList_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityRecommendation_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/IoTSecuritySolutionsAnalytics/PostIoTSecuritySolutionsSecurityAggregatedAlertDismiss_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/iotSecuritySolutionAnalytics.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/iotSecuritySolutions.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff

#6470 [Hub Generated] Review request for Microsoft.Portal to add version preview/2015-08-01-preview
  specification/portal/resource-manager/Microsoft.Portal/preview/2015-08-01-preview/examples/createOrUpdateDashboard.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2015-08-01-preview/examples/deleteDashboard.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2015-08-01-preview/examples/getDashboard.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2015-08-01-preview/examples/listDashboardsByResourceGroup.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2015-08-01-preview/examples/listDashboardsBySubscription.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2015-08-01-preview/examples/operationsList.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2015-08-01-preview/examples/updateDashboard.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2015-08-01-preview/portal.json
  specification/portal/resource-manager/readme.go.md
  specification/portal/resource-manager/readme.md
  specification/portal/resource-manager/readme.python.md
  specification/portal/resource-manager/readme.ruby.md
Labels: ARMSignedOff

#6571 Add resource group based LTR API
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/LongTermRetentionBackupDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/ResourceGroupBasedLongTermRetentionBackupDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/ResourceGroupBasedLongTermRetentionBackupGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/ResourceGroupBasedLongTermRetentionBackupListByDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/ResourceGroupBasedLongTermRetentionBackupListByLocation.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/ResourceGroupBasedLongTermRetentionBackupListByServer.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/longTermRetention.json
Labels: ARM-overdue, WaitForARMFeedback

#6122 Adding AWS CloudTrail to swagger
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/dataConnectors/GetAmazonWebServicesCloudTrailById.json
Labels: ARMSignedOff

#6591 Enable sub/nitegupt
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-03-01-preview/examples/enableSubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-03-01-preview/examples/getOperations.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-03-01-preview/subscriptions.json
Labels: ARMSignedOff

#6592 chore: jsonfmt network
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/examples/ApplicationGatewayNoCertificatesCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/examples/AutoApprovedPrivateLinkServicesGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/examples/AutoApprovedPrivateLinkServicesResourceGroupGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/virtualNetwork.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/AutoApprovedPrivateLinkServicesGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/AutoApprovedPrivateLinkServicesResourceGroupGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/VpnSitePut.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/virtualNetwork.json
Labels: Reassign

#6528 Adding VpnSiteLink and VpnSiteLinkConnection properties.
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/VpnConnectionGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/VpnConnectionList.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/VpnConnectionPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/VpnGatewayGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/VpnGatewayList.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/VpnGatewayListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/VpnGatewayPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/VpnSiteGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/VpnSiteLinkConnectionGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/VpnSiteLinkConnectionList.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/VpnSiteLinkGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/VpnSiteLinkListByVpnSite.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/VpnSiteList.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/VpnSiteListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/VpnSitePut.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/virtualWan.json
Labels: ARMSignedOff

#6577 Add SSIS changes
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/ConnectToSourceSqlServerTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/ConnectToTargetSqlMITask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/MigrateSsisTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/Tasks.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/TasksCommon.json
  specification/datamigration/resource-manager/readme.md
Labels: ARMSignedOff

#6550 Adding cassandra connector properties for cosmos db C* account -
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/cosmos-db.json
Labels: WaitForARMFeedback, potential-sdk-breaking-change

#6568 support teradata dataset in adf
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff

#6607 [Datafactory] Add three new connectors
  custom-words.txt
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff

#6610 [Hub Generated] Review request for Microsoft.Resources to add version stable/2019-06-01
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-06-01/examples/GetSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-06-01/examples/GetSubscriptions.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-06-01/subscriptions.json
  specification/resources/resource-manager/readme.md
Labels: ARMSignedOff

#6627 chore: jsonfmt sql
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/ResourceGroupBasedLongTermRetentionBackupDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/ResourceGroupBasedLongTermRetentionBackupGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/ResourceGroupBasedLongTermRetentionBackupListByDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/ResourceGroupBasedLongTermRetentionBackupListByLocation.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/ResourceGroupBasedLongTermRetentionBackupListByServer.json
Labels: Mgmt

#6612 Dev/ccelik/dedicatedhostswagger
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/GetADedicatedHost.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/LogAnalyticsRequestRateByInterval.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/LogAnalyticsThrottledRequests.json
Labels: ARMSignedOff

#6551 [Bug fix] Remove read-only constraint for management policy, and change properties types from integer to number
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/BlobContainersDelete.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountCreate.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountDelete.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountDeleteManagementPolicy.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountFailover.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/storage.json
Labels: ARMSignedOff

#6548 SSIS File System Support
  specification/datafactory/resource-manager/Microsoft.DataFactory/preview/2017-09-01-preview/entityTypes/Pipeline.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff

#6587 Fixing incorrectly formatted Cosmos DB list keys response
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBDatabaseAccountListKeys.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#6400 Add new API version 2019-07-01 for SIG swagger spec
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/CreateOrUpdateASimpleGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/CreateOrUpdateASimpleGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/CreateOrUpdateASimpleGalleryImageVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/CreateOrUpdateASimpleGalleryImageVersionWithSnapshotsAsSource.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/DeleteAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/DeleteAGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/DeleteAGalleryImageVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/GetAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/GetAGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/GetAGalleryImageVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/GetAGalleryImageVersionWithReplicationStatus.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/GetAGalleryImageVersionWithSnapshotsAsSource.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/ListGalleriesInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/ListGalleriesInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/ListGalleryImageVersionsInAGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/ListGalleryImagesInAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/gallery.json
  specification/compute/resource-manager/readme.go.md
  specification/compute/resource-manager/readme.md
Labels: ARMSignedOff

#6575 Introducing new version API 2019-05-01-preview with adding a new filter for usageDetails called publisherType
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/AggregatedCostByManagementGroup.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/AggregatedCostByManagementGroupFilterByDate.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/AggregatedCostForBillingPeriodByManagementGroup.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/BalancesByBillingAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/BalancesByBillingAccountForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/Budget.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/BudgetsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/ChargesForBillingPeriodByDepartment.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/ChargesForBillingPeriodByEnrollmentAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/CreateOrUpdateBudget.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/DeleteBudget.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/ForecastsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/ForecastsListFilterByDates.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/ForecastsListFilterByGrain.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/MarketplacesByBillingAccountList.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/MarketplacesByBillingAccountListForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/MarketplacesByDepartmentList.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/MarketplacesByDepartment_ListByBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/MarketplacesByEnrollmentAccountList.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/MarketplacesByEnrollmentAccounts_ListByBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/MarketplacesByManagementGroupList.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/MarketplacesByManagementGroup_ListForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/MarketplacesList.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/MarketplacesListForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/PriceSheet.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/PriceSheetExpand.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/PriceSheetForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/ReservationDetails.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/ReservationDetailsWithReservationId.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/ReservationRecommendationsFilterByScopeLookBackPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/ReservationRecommendationsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/ReservationSummariesDaily.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/ReservationSummariesDailyWithReservationId.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/ReservationSummariesMonthly.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/ReservationSummariesMonthlyWithReservationId.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/Tags.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/UsageDetailsDownload.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/UsageDetailsDownloadByMetricUsage.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/UsageDetailsExpand.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/UsageDetailsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/UsageDetailsListByBillingAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/UsageDetailsListByDepartment.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/UsageDetailsListByEnrollmentAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/UsageDetailsListByManagementGroup.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/UsageDetailsListByMetricActualCost.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/UsageDetailsListByMetricAmortizedCost.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/UsageDetailsListByMetricUsage.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/UsageDetailsListFilterByTag.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/UsageDetailsListForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/UsageDetailsListForBillingPeriodByBillingAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/UsageDetailsListForBillingPeriodByDepartment.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/UsageDetailsListForBillingPeriodByEnrollmentAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/preview/2019-05-01-preview/examples/UsageDetailsListForBillingPeriodByManagementGroup.json
  specification/consumption/resource-manager/readme.md
Labels: ARMSignedOff

#6625 chore: jsonfmt security
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/applicationWhitelistings.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/ApplicationWhitelistings/GetApplicationWhitelistingsGroup_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/ApplicationWhitelistings/GetApplicationWhitelistingsSubscription_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/ApplicationWhitelistings/PutApplicationWhitelistings_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/IoTSecuritySolutions/UpdateIoTSecuritySolution_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityAggregatedAlertList_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityAggregatedAlert_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/iotSecuritySolutionAnalytics.json
Labels: Mgmt

#6631 [DataFactory]Add Binary Dataset in swagger
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff

#6630 Adding specification for 2019-07-01-preview version for Peering.
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/examples/CheckServiceProviderAvailability.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/examples/CreateDirectPeering.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/examples/CreateExchangePeering.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/examples/CreatePeerAsn.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/examples/CreatePeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/examples/CreatePeeringServicePrefix.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/examples/DeletePeerAsn.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/examples/DeletePeering.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/examples/DeletePeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/examples/DeletePeeringServicePrefix.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/examples/GetPeerAsn.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/examples/GetPeering.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/examples/GetPeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/examples/GetPeeringServicePrefix.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/examples/ListDirectPeeringLocations.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/examples/ListExchangePeeringLocations.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/examples/ListLegacyPeerings.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/examples/ListPeerAsnsBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/examples/ListPeeringOperations.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/examples/ListPeeringServiceLocations.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/examples/ListPeeringServiceProviders.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/examples/ListPeeringServicesByResourceGroup.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/examples/ListPeeringServicesBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/examples/ListPeeringsByResourceGroup.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/examples/ListPeeringsBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/examples/ListPrefixesByPeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/examples/UpdatePeeringServiceTags.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/examples/UpdatePeeringTags.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-07-01-preview/peering.json
  specification/peering/resource-manager/readme.md
Labels: ARMSignedOff

#6623 [Hub Generated] Review request for Microsoft.DevTestLab to add version stable/2018-09-15
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/DTL.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/Labs_ClaimAnyVm.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/Labs_CreateEnvironment.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/Labs_Delete.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/VirtualMachines_Claim.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/VirtualMachines_Delete.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/VirtualMachines_Redeploy.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/VirtualMachines_Resize.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/VirtualMachines_Restart.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/VirtualMachines_Start.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/VirtualMachines_Stop.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/VirtualMachines_UnClaim.json
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/examples/VirtualNetworks_Delete.json
Labels: ARMSignedOff

#6617 [DataFactory]Add AzurePostgreSql Sink and Oracle/SapTable/Netezza Partitions and Several Relational sets
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff, WaitForARMFeedback

#6643 [Hub Generated] Review request for Microsoft.Portal to add version preview/2019-01-01-preview
  specification/portal/resource-manager/Microsoft.Portal/preview/2019-01-01-preview/examples/createOrUpdateDashboard.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2019-01-01-preview/examples/deleteDashboard.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2019-01-01-preview/examples/getDashboard.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2019-01-01-preview/examples/listDashboardsByResourceGroup.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2019-01-01-preview/examples/listDashboardsBySubscription.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2019-01-01-preview/examples/operationsList.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2019-01-01-preview/examples/updateDashboard.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2019-01-01-preview/portal.json
  specification/portal/resource-manager/readme.go.md
  specification/portal/resource-manager/readme.md
  specification/portal/resource-manager/readme.ruby.md
Labels: ARMSignedOff

#5993 IoTHub: added java readme
  specification/iothub/resource-manager/readme.java.md
  specification/iothub/resource-manager/readme.md
Labels: IotHub

#6478 Add new property for CORS settings
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/examples/Operations_List.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/examples/SignalR_CheckNameAvailability.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/examples/SignalR_CreateOrUpdate.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/examples/SignalR_Delete.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/examples/SignalR_Get.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/examples/SignalR_ListByResourceGroup.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/examples/SignalR_ListBySubscription.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/examples/SignalR_ListKeys.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/examples/SignalR_RegenerateKey.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/examples/SignalR_Restart.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/examples/SignalR_Update.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/examples/Usages_List.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/signalr.json
Labels: ARMSignedOff

#6563 Michal dev security microsoft.security 2017 08 01 preview
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/IoTSecuritySolutions/CreateIoTSecuritySolution_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/IoTSecuritySolutions/GetIoTSecuritySolution_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/IoTSecuritySolutions/GetIoTSecuritySolutionsListByIotHubAndRg_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/IoTSecuritySolutions/GetIoTSecuritySolutionsListByIotHub_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/IoTSecuritySolutions/GetIoTSecuritySolutionsListByRg_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/IoTSecuritySolutions/GetIoTSecuritySolutionsList_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/IoTSecuritySolutions/UpdateIoTSecuritySolution_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/iotSecuritySolutions.json
Labels: ARMSignedOff

#6708 Add swagger specification for firewall policy resource
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/azureFirewall.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/AzureFirewallPutInHub.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/FirewallPolicyDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/FirewallPolicyGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/FirewallPolicyListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/FirewallPolicyListBySubscription.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/FirewallPolicyPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/FirewallPolicyRuleGroupDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/FirewallPolicyRuleGroupGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/FirewallPolicyRuleGroupList.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/FirewallPolicyRuleGroupPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/FirewallPolicyUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/firewallPolicy.json
  specification/network/resource-manager/readme.md
Labels: WaitForARMFeedback

#6645 Add missing tenant-level provider list operation to SDK
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-05-10/resources.json
Labels: ARMSignedOff

#6626 chore: jsonfmt securityinsights
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/dataConnectors/GetAmazonWebServicesCloudTrailById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/dataConnectors/GetDataConnectors.json
Labels: Mgmt

#6766 Set IoTSecuritySolutions & IoTSecuritySolutionAnalytics API as stable
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutions/CreateIoTSecuritySolution.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutions/DeleteIoTSecuritySolution.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutions/GetIoTSecuritySolution.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutions/GetIoTSecuritySolutionsList.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutions/GetIoTSecuritySolutionsListByIotHub.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutions/GetIoTSecuritySolutionsListByIotHubAndRg.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutions/GetIoTSecuritySolutionsListByRg.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutions/UpdateIoTSecuritySolution.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityAggregatedAlert.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityAggregatedAlertList.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityAnalytics.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityAnalyticsList.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityRecommendation.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityRecommendationList.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutionsAnalytics/PostIoTSecuritySolutionsSecurityAggregatedAlertDismiss.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/iotSecuritySolutionAnalytics.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/iotSecuritySolutions.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff
