Repository Azure/azure-rest-api-specs, pull requests merged in 2019-02, with the labels that each got.

#4902 Adding new api-version to Microsoft.Security Alerts resource
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/Alerts/GetAlertResourceGroupLocation_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/Alerts/GetAlertSubscriptionLocation_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/Alerts/GetAlertsResourceGroupLocation_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/Alerts/GetAlertsResourceGroup_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/Alerts/GetAlertsSubscription_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/Alerts/GetAlertsSubscriptionsLocation_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/security.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/examples/Alerts/GetAlertResourceGroupLocation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/examples/Alerts/GetAlertSubscriptionLocation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/examples/Alerts/GetAlertsResourceGroupLocation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/examples/Alerts/GetAlertsResourceGroup_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/examples/Alerts/GetAlertsSubscription_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/examples/Alerts/GetAlertsSubscriptionsLocation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/examples/Alerts/UpdateAlertResourceGroupLocation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/examples/Alerts/UpdateAlertSubscriptionLocation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/security.json
Labels: ARMSignedOff, review

#4866 Update compute.json to add ProtectFromScaleIn property to VMScaleSetVM properties
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-10-01/compute.json
Labels: DoNotMerge, review

#5127 PR - Introduce new API version (2019-01-01) with new (Export-related APIs) introduced
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/costmanagement.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/BillingAccountDimensionsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/BillingAccountDimensionsListExpandAndTop.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/BillingAccountDimensionsListWithFilter.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/BillingAccountQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/BillingAccountQueryGrouping.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/DepartmentDimensionsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/DepartmentDimensionsListExpandAndTop.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/DepartmentDimensionsListWithFilter.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/DepartmentQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/DepartmentQueryGrouping.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/EnrollmentAccountDimensionsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/EnrollmentAccountDimensionsListExpandAndTop.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/EnrollmentAccountDimensionsListWithFilter.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/EnrollmentAccountQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/EnrollmentAccountQueryGrouping.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/Export.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ExportByBillingAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ExportByDepartment.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ExportByEnrollmentAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ExportCreateOrUpdate.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ExportCreateOrUpdateByBillingAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ExportCreateOrUpdateByDepartment.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ExportCreateOrUpdateByEnrollmentAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ExportDelete.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ExportDeleteByBillingAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ExportDeleteByDepartment.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ExportDeleteByEnrollmentAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ExportExecution.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ExportExecutionByBillingAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ExportExecutionByDepartment.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ExportExecutionByEnrollmentAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ExportExecutionList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ExportExecutionListByBillingAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ExportExecutionListByDepartment.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ExportExecutionListByEnrollmentAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ExportList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ExportListByBillingAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ExportListByDepartment.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ExportListByEnrollmentAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ManagementGroupDimensionsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ManagementGroupDimensionsListExpandAndTop.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ManagementGroupDimensionsListWithFilter.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ManagementGroupQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ManagementGroupQueryGrouping.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ResourceGroupDimensionsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ResourceGroupQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/ResourceGroupQueryGrouping.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/SubscriptionDimensionsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/SubscriptionQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/examples/SubscriptionQueryGrouping.json
  specification/cost-management/resource-manager/readme.go.md
  specification/cost-management/resource-manager/readme.md
Labels: ARMSignedOff

#5113 Update for Get Application Gateway Server Variables APIs
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/examples/ApplicationGatewayAvailableRequestHeadersGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/examples/ApplicationGatewayAvailableResponseHeadersGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/examples/ApplicationGatewayAvailableServerVariablesGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/examples/ApplicationGatewayCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/examples/ApplicationGatewayGet.json
  specification/network/resource-manager/readme.go.md
  specification/network/resource-manager/readme.md
  specification/network/resource-manager/readme.python.md
  specification/network/resource-manager/readme.ruby.md
Labels: ARMSignedOff, potential-sdk-breaking-change

#5144 [Azure Search] Add transform directives for C# generation
  specification/search/data-plane/Microsoft.Azure.Search.Data/preview/2017-11-11-preview/searchindex.json
  specification/search/data-plane/Microsoft.Azure.Search.Data/readme.md
Labels: potential-sdk-breaking-change

#5162 Deprecate KC/KS SKUs
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-01-21/examples/KustoClustersListResourceSkus.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-01-21/kusto.json
Labels: potential-sdk-breaking-change

#4978 Add version 2018-06-01 with pricing configuration (second time)
  specification/security/resource-manager/Microsoft.Security/stable/2018-06-01/examples/Pricings/GetPricingByName_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2018-06-01/examples/Pricings/ListPricings_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2018-06-01/examples/Pricings/PutPricingByName_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2018-06-01/security.json
Labels: ARM-overdue, ARMChangesRequested, WaitForARMFeedback, WaitingForAzureAPIBoard, review

#5140 [Event-Grid Maps] Add Maps publisher schema to EventGrid data-plane
  specification/eventgrid/data-plane/Microsoft.Maps/stable/2018-01-01/Maps.json
  specification/eventgrid/data-plane/readme.md
Labels: potential-sdk-breaking-change

#5143 Threat Intel changes for Azure Firewall
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/azureFirewall.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/examples/AzureFirewallGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/examples/AzureFirewallListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/examples/AzureFirewallListBySubscription.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/examples/AzureFirewallPut.json
Labels: WaitForARMFeedback

#5111 [App Service] Update swagger spec for ANT80
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/AppServicePlans.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/CommonDefinitions.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/Provider.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/Recommendations.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/ResourceProvider.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/WebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-11-01/Certificates.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-11-01/examples/CreateOrUpdateCertificate.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-11-01/examples/DeleteCertificate.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-11-01/examples/GetCertificate.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-11-01/examples/ListCertificates.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-11-01/examples/ListCertificatesByResourceGroup.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-11-01/examples/PatchCertificate.json
  specification/web/resource-manager/readme.md
Labels: ARM-overdue, WaitForARMFeedback, potential-sdk-breaking-change

#5156 including orchestratorVersion and provisioning state for agent pool
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-02-01/examples/ManagedClustersCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-02-01/examples/ManagedClustersGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-02-01/examples/ManagedClustersList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-02-01/examples/ManagedClustersListByResourceGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-02-01/examples/ManagedClustersUpdateTags.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-02-01/managedClusters.json
  specification/containerservice/resource-manager/readme.go.md
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: ARMSignedOff

#5173 Adding all ASI RP APIs
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/actions/CreateActionOfAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/actions/DeleteActionOfAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/actions/GetActionOfAlertRuleById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/actions/GetAllActionsByAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/alertRules/CreateScheduledAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/alertRules/GetScheduledAlertRuleById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/alertRules/GetScheduledAlertRules.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/bookmarks/CreateBookmark.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/bookmarks/DeleteBookmark.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/bookmarks/GetBookmarkById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/bookmarks/GetBookmarks.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/cases/CreateCase.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/cases/DeleteCase.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/cases/GetCaseById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/cases/GetCases.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/dataConnectors/CreateOfficeDataConnetor.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/dataConnectors/GetAzureActiveDirectoryById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/dataConnectors/GetAzureSecurityCenterById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/dataConnectors/GetDataConnectors.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/dataConnectors/GetMicrosoftCloudAppSecurityById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/dataConnectors/GetOfficeDataConnetorById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/dataConnectors/GetThreatIntelligenceById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/entities/GetAccountEntityById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/entities/GetEntities.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/entities/GetFileEntityById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/entities/GetHostEntityById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/officeConsents/DeleteOfficeConsents.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/officeConsents/GetOfficeConsents.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/officeConsents/GetOfficeConsentsById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/settings/GetFusionSettings.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/settings/GetUebaSettings.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/settings/UpdateUebaSettings.json
Labels: ARMSignedOff

#5126 Add cognitive service AnomalyFinder
  specification/cognitiveservices/data-plane/AnomalyFinder/readme.go.md
  specification/cognitiveservices/data-plane/AnomalyFinder/readme.md
  specification/cognitiveservices/data-plane/AnomalyFinder/readme.nodejs.md
  specification/cognitiveservices/data-plane/AnomalyFinder/readme.python.md
  specification/cognitiveservices/data-plane/AnomalyFinder/readme.ruby.md
  specification/cognitiveservices/data-plane/AnomalyFinder/readme.typescript.md
  specification/cognitiveservices/data-plane/AnomalyFinder/stable/v2.0/AnomalyFinder.json
  specification/cognitiveservices/data-plane/AnomalyFinder/stable/v2.0/examples/EntireDetect.json
  specification/cognitiveservices/data-plane/AnomalyFinder/stable/v2.0/examples/LastDetect.json
Labels: WaitForARMFeedback

#5218 [DataFactory] Swagger changes for ADF newly released features:
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: potential-sdk-breaking-change

#5188 [Cogs Face] Remove Face API reference of Gender::genderless to avoid confusion.
  specification/cognitiveservices/data-plane/Face/stable/v1.0/Face.json
Labels: potential-sdk-breaking-change

#5222 Add an Operations API for Commitment Plan RP
  specification/machinelearning/resource-manager/Microsoft.MachineLearning/preview/2016-05-01-preview/commitmentPlans.json
Labels: ARMSignedOff

#5221 Add suppresses for Machine Learning Commitment Plan RP
  specification/machinelearning/resource-manager/readme.md
Labels: ARMSignedOff

#5233 Review request for Microsoft.StorageSync to update 2019-02-01 with support for parallel upload and download sync status tracking
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2019-02-01/examples/CloudEndpoints_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2019-02-01/examples/CloudEndpoints_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2019-02-01/examples/CloudEndpoints_ListBySyncGroup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2019-02-01/examples/ServerEndpoints_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2019-02-01/examples/ServerEndpoints_ListBySyncGroup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2019-02-01/examples/ServerEndpoints_Update.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2019-02-01/storagesync.json
Labels: ARMSignedOff

#5214 [DataFactory] Adding new properties to Databricks LS and custom activity
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff

#5038 [Ready to MERGE] Swagger for Tenant Properties API
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-03-01-preview/billing.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/examples/TenantsGet.json
Labels: ARMSignedOff, DoNotMerge

#5197 Azure Security Center - break-to-composite v1
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/alerts.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/allowedConnections.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/discoveredSecuritySolutions.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/externalSecuritySolutions.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/jitNetworkAccessPolicies.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/locations.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/operations.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/security.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/tasks.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/topologies.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/advancedThreatProtectionSettings.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/autoProvisioningSettings.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/compliances.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/informationProtectionPolicies.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/pricings.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/security.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/securityContacts.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/settings.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/workspaceSettings.json
  specification/security/resource-manager/Microsoft.Security/stable/2018-06-01/pricings.json
  specification/security/resource-manager/Microsoft.Security/stable/2018-06-01/security.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/alerts.json
  specification/security/resource-manager/common/v1/types.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff, potential-sdk-breaking-change

#5250 fix: profile/2019-03-01-hybrid.json
  profile/2019-03-01-hybrid.json
Labels: Reassign

#5258 Public Preview of Mixed Reality Cloud Service
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-02-28-preview/examples/CheckLocalNameAvailability.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-02-28-preview/examples/GetOperationList.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-02-28-preview/examples/SpatialAnchorsAccount/Delete.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-02-28-preview/examples/SpatialAnchorsAccount/Get.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-02-28-preview/examples/SpatialAnchorsAccount/GetByResourceGroup.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-02-28-preview/examples/SpatialAnchorsAccount/GetBySubscription.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-02-28-preview/examples/SpatialAnchorsAccount/GetKeys.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-02-28-preview/examples/SpatialAnchorsAccount/Patch.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-02-28-preview/examples/SpatialAnchorsAccount/Put.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-02-28-preview/examples/SpatialAnchorsAccount/RegenerateKey.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-02-28-preview/mixedreality.json
  specification/mixedreality/resource-manager/readme.md
Labels: WaitForARMFeedback

#5244 Elastic Server Restart
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2017-12-01/examples/ServerRestart.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2017-12-01/mysql.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2017-12-01/examples/ServerRestart.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2017-12-01/postgresql.json
Labels: ARMSignedOff

#5123 [WaitForARMFeedback] Add api get_services_by_subscription of Azure Search
  specification/search/resource-manager/Microsoft.Search/stable/2015-08-19/examples/SearchListServicesBySubscription.json
  specification/search/resource-manager/Microsoft.Search/stable/2015-08-19/search.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#5284 Fix JavaScript configuration for ARM Private DNS SDK
  specification/privatedns/resource-manager/readme.md
  specification/privatedns/resource-manager/readme.nodejs.md
  specification/privatedns/resource-manager/readme.typescript.md
Labels: Reassign

#5055 Add private preview API for Azure Image Builder
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2018-02-01-preview/examples/CreateImageTemplate.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2018-02-01-preview/examples/DeleteImageTemplate.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2018-02-01-preview/examples/GetImageTemplate.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2018-02-01-preview/examples/GetRunOutput.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2018-02-01-preview/examples/ListImageTemplates.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2018-02-01-preview/examples/ListImageTemplatesByRg.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2018-02-01-preview/examples/ListRunOutputs.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2018-02-01-preview/examples/RunImageTemplate.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2018-02-01-preview/examples/UpdateImageTemplateTags.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2018-02-01-preview/imagebuilder.json
  specification/imagebuilder/resource-manager/readme.go.md
  specification/imagebuilder/resource-manager/readme.md
  specification/imagebuilder/resource-manager/readme.nodejs.md
  specification/imagebuilder/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#5263 Updating Blueprint spec to include resource group tags
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/blueprintDefinition.json
Labels: ARMSignedOff

#5217 Add Showback model
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/costmanagement.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/ShowbackRule.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/ShowbackRulePut.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/ShowbackRulesList.json
Labels: ARMSignedOff

#5248 Adding Swagger and examples for VirtualClusters operation group
  specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/examples/VirtualClusterDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/examples/VirtualClusterGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/examples/VirtualClusterList.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/examples/VirtualClusterListByResourceGroup.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/examples/VirtualClusterUpdate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/virtualclusters.json
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff

#5290 changes to improve documentation of endpoint health statuses for routing
  specification/iothub/resource-manager/Microsoft.Devices/preview/2018-12-01-preview/iothub.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2018-04-01/iothub.json
Labels: IotHub
