Repository Azure/azure-rest-api-specs, pull requests merged in 2019-08, with the labels that each got.

#6731 [Hub Generated] Review request for Microsoft.Capacity to add version preview/2019-04-01
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2018-06-01/examples/MergeReservations.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2018-06-01/examples/SplitReservation.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2018-06-01/examples/UpdateReservation.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/GetReservationDetails.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/MergeReservations.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/SplitReservation.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/UpdateReservation.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/reservations.json
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2017-11-01/examples/MergeReservations.json
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2017-11-01/examples/SplitReservation.json
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2017-11-01/examples/UpdateReservation.json
Labels: ARMSignedOff

#6629 Container Registries Data-plane API 07/2019
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-07-15/containerregistry.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-07-15/examples/CreateManifest.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-07-15/examples/DeleteAcrRepository.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-07-15/examples/DeleteAcrTag.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-07-15/examples/DeleteManifest.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-07-15/examples/GetAccessToken.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-07-15/examples/GetAcrManifestAttributes.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-07-15/examples/GetAcrManifests.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-07-15/examples/GetAcrRepositoryAttributes.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-07-15/examples/GetAcrTagAttributes.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-07-15/examples/GetAcrTags.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-07-15/examples/GetDockerRegistryV2Support.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-07-15/examples/GetManifest.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-07-15/examples/GetRepositories.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-07-15/examples/GetTagList.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-07-15/examples/PostAccessToken.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-07-15/examples/PostRefreshToken.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-07-15/examples/UpdateAcrManifestAttributes.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-07-15/examples/UpdateAcrRepository.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-07-15/examples/UpdateAcrTagAttributes.json
  specification/containerregistry/data-plane/readme.go.md
  specification/containerregistry/data-plane/readme.md
Labels: Container Registry, DataPlane

#6740 Fix typos in Network's examples
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/ExpressRouteCircuitCreateOnExpressRoutePort.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/HubVirtualNetworkConnectionGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/HubVirtualNetworkConnectionList.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/RouteFilterCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/RouteFilterGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/RouteFilterList.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/RouteFilterListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/RouteFilterRuleCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/RouteFilterRuleGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/RouteFilterRuleListByRouteFilter.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/RouteFilterRuleUpdate.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/RouteFilterUpdate.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/ServiceCommunityList.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/VirtualHubList.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/VirtualHubListByResourceGroup.json
Labels: Reassign

#6779 [Azure Search] Correct the definition of WebApiSkill
  specification/search/data-plane/Microsoft.Azure.Search.Service/stable/2019-05-06/searchservice.json
Labels: potential-sdk-breaking-change

#6683 Add terminate profile and scheduled events profile to Microsoft.Compute
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAScaleSetWithTerminateScheduledEventEnabled.json
Labels: ARMSignedOff

#6695 Make patch operations async for VNGs and VNG Connections
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/VirtualNetworkGatewayConnectionUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/VirtualNetworkGatewayUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/virtualNetworkGateway.json
Labels: ARMSignedOff

#6702 RosettaNet Process configuration apis
  custom-words.txt
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/IntegrationAccountBatchConfigurationsCreateOrUpdate.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/IntegrationAccountsListKeyVaultKeys.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/IntegrationAccountsLogTrackingEvent.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/OperationsList.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/RosettaNetProcessConfigurationsCreateOrUpdate.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/RosettaNetProcessConfigurationsDelete.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/RosettaNetProcessConfigurationsGet.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/RosettaNetProcessConfigurationsListByIntegrationAccounts.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/WorkflowRunActionsGet.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/WorkflowRunActionsList.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/WorkflowRunsList.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/WorkflowTriggerHistoriesGet.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/WorkflowTriggerHistoriesList.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/WorkflowTriggersGetSchemaJson.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/WorkflowTriggersRun.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/WorkflowTriggersSetState.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/WorkflowVersionsGet.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/WorkflowVersionsList.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/WorkflowsCreateOrUpdate.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/WorkflowsGet.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/WorkflowsListByResourceGroup.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/WorkflowsListBySubscription.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/WorkflowsMove.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/WorkflowsUpdate.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/WorkflowsValidateByLocation.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/WorkflowsValidateByResourceGroup.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/logic.json
Labels: ARMSignedOff

#6730 add HyperVGeneation in GetVMImage
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/compute.json
Labels: ARMSignedOff

#6628 chore: jsonfmt subscription
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2018-11-01-preview/subscriptions.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-03-01-preview/examples/enableSubscription.json
Labels: Mgmt

#6825 [Hub Generated] Review request for Microsoft.Portal to add version preview/2018-10-01-preview
  specification/portal/resource-manager/Microsoft.Portal/preview/2018-10-01-preview/examples/createOrUpdateDashboard.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2018-10-01-preview/examples/deleteDashboard.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2018-10-01-preview/examples/getDashboard.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2018-10-01-preview/examples/listDashboardsByResourceGroup.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2018-10-01-preview/examples/listDashboardsBySubscription.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2018-10-01-preview/examples/operationsList.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2018-10-01-preview/examples/updateDashboard.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2018-10-01-preview/portal.json
  specification/portal/resource-manager/readme.go.md
  specification/portal/resource-manager/readme.md
  specification/portal/resource-manager/readme.ruby.md
Labels: ARMSignedOff

#6813 [Azure Stack] Mark the properties of Drive and Volume as readonly
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2019-05-01/Drive.json
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2019-05-01/Volume.json
Labels: potential-sdk-breaking-change

#6845 Revert enable sub/nitegupt
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-03-01-preview/examples/enableSubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-03-01-preview/subscriptions.json
Labels: ARMSignedOff

#6620 [Hub Generated] Review request for Microsoft.Consumption to add version stable/2019-05-01
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/AggregatedCostByManagementGroup.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/AggregatedCostByManagementGroupFilterByDate.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/AggregatedCostForBillingPeriodByManagementGroup.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/BalancesByBillingAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/BalancesByBillingAccountForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/Budget.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/BudgetsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/ChargesForBillingPeriodByDepartment.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/ChargesForBillingPeriodByEnrollmentAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/ChargesListForDepartmentFilterByStartEndDate.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/ChargesListForEnrollmentAccountFilterByStartEndDate.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/CreateOrUpdateBudget.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/DeleteBudget.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/ForecastsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/ForecastsListFilterByDates.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/ForecastsListFilterByGrain.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/MarketplacesByBillingAccountList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/MarketplacesByBillingAccountListForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/MarketplacesByDepartmentList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/MarketplacesByDepartment_ListByBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/MarketplacesByEnrollmentAccountList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/MarketplacesByEnrollmentAccounts_ListByBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/MarketplacesByManagementGroupList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/MarketplacesByManagementGroup_ListForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/MarketplacesList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/MarketplacesListForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/PriceSheet.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/PriceSheetExpand.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/PriceSheetForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/ReservationDetails.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/ReservationDetailsByBillingAccountId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/ReservationDetailsWithReservationId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/ReservationRecommendationsByBillingAccountList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/ReservationRecommendationsFilterByScopeLookBackPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/ReservationRecommendationsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/ReservationSummariesDaily.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/ReservationSummariesDailyWithBillingAccountId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/ReservationSummariesDailyWithReservationId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/ReservationSummariesMonthly.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/ReservationSummariesMonthlyWithBillingAccountId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/ReservationSummariesMonthlyWithReservationId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/Tags.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/UsageDetailsExpand.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/UsageDetailsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/UsageDetailsListByBillingAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/UsageDetailsListByDepartment.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/UsageDetailsListByEnrollmentAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/UsageDetailsListByManagementGroup.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/UsageDetailsListByMetricActualCost.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/UsageDetailsListByMetricAmortizedCost.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/UsageDetailsListByMetricUsage.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/UsageDetailsListFilterByTag.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/UsageDetailsListForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/UsageDetailsListForBillingPeriodByBillingAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/UsageDetailsListForBillingPeriodByDepartment.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/UsageDetailsListForBillingPeriodByEnrollmentAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/UsageDetailsListForBillingPeriodByManagementGroup.json
  specification/consumption/resource-manager/readme.md
Labels: ARMSignedOff

#6820 [DataFactory]Add AzureMySqlSink and two datasets
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff

#6720 Add deployment APIs at tenant scope
  specification/common-types/resource-management/v1/types.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-07-01/examples/CreateResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-07-01/examples/ExportResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-07-01/examples/ExportResourceGroupWithFiltering.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-07-01/examples/PutDeploymentAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-07-01/examples/PutDeploymentAtScope.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-07-01/examples/PutDeploymentAtTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-07-01/examples/PutDeploymentWithOnErrorDeploymentLastSuccessful.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-07-01/examples/PutDeploymentWithOnErrorDeploymentSpecificDeployment.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-07-01/resources.json
  specification/resources/resource-manager/readme.csharp.md
  specification/resources/resource-manager/readme.md
  specification/resources/resource-manager/readme.python.md
Labels: ARMSignedOff

#6613 Moving sfrp release 2019-03-01 to stable
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/application.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/cluster.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ApplicationDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ApplicationGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ApplicationListOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ApplicationPatchOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ApplicationPutOperation_example_max.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ApplicationPutOperation_example_min.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ApplicationTypeNameDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ApplicationTypeNameGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ApplicationTypeNameListOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ApplicationTypeNamePutOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ApplicationTypeVersionDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ApplicationTypeVersionGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ApplicationTypeVersionListOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ApplicationTypeVersionPutOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ClusterDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ClusterGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ClusterListByResourceGroupOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ClusterListOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ClusterPatchOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ClusterPutOperation_example_max.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ClusterPutOperation_example_min.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ClusterVersionsGetByEnvironment_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ClusterVersionsGet_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ClusterVersionsListByEnvironment.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ClusterVersionsList_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ServiceDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ServiceGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ServiceListOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ServicePatchOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ServicePutOperation_example_max.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/examples/ServicePutOperation_example_min.json
  specification/servicefabric/resource-manager/readme.go.md
  specification/servicefabric/resource-manager/readme.md
  specification/servicefabric/resource-manager/readme.ruby.md
Labels: ARM-Review-Issue, ARMSignedOff

#6865 [Azure Search] Add Translate and Conditional skills, and recursive skill inputs (for shaper)
  specification/search/data-plane/Microsoft.Azure.Search.Service/stable/2019-05-06/searchservice.json
Labels: potential-sdk-breaking-change

#6895 Adding Health Probe Method, Health Probe Enabled, SendRecvTimeoutseconds, and MinimumTLSVersion
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/README.md
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/assets/frontdoor.svg
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/CheckFrontdoorNameAvailability.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/CheckFrontdoorNameAvailabilityWithSubscription.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorBackendPoolCreate.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorBackendPoolDelete.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorBackendPoolGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorBackendPoolList.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorCreate.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorDelete.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorDisableHttps.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorEnableHttps.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorFrontendEndpointCreate.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorFrontendEndpointDelete.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorFrontendEndpointGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorFrontendEndpointList.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorHealthProbeSettingsCreate.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorHealthProbeSettingsDelete.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorHealthProbeSettingsGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorHealthProbeSettingsList.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorList.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorListAll.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorLoadBalancingSettingsCreate.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorLoadBalancingSettingsDelete.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorLoadBalancingSettingsGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorLoadBalancingSettingsList.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorPurgeContent.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorRedirectRoutingRuleCreate.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorRedirectRoutingRuleGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorRoutingRuleCreate.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorRoutingRuleDelete.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorRoutingRuleGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorRoutingRuleList.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/examples/FrontdoorValidateCustomDomain.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/frontdoor.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-05-01/network.json
Labels: ARMSignedOff

#6761 Cases swagger updates
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/cases/CreateCase.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/cases/GetCaseById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/cases/GetCases.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/cases/comments/CreateCaseComment.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/cases/comments/GetAllCaseComments.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/cases/comments/GetCaseCommentById.json
Labels: ARMSignedOff

#6197 Updating the skus names and clarified capacity description
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-01-21/kusto.json
Labels: ARMSignedOff

#6859 [Hub Generated] Review request for Microsoft.ContainerService to add version stable/2019-08-01
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-08-01/examples/AgentPoolsCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-08-01/examples/AgentPoolsDelete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-08-01/examples/AgentPoolsGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-08-01/examples/AgentPoolsGetAgentPoolAvailableVersions.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-08-01/examples/AgentPoolsGetUpgradeProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-08-01/examples/AgentPoolsList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-08-01/examples/ContainerServiceListOrchestrators.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-08-01/examples/ManagedClustersCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-08-01/examples/ManagedClustersDelete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-08-01/examples/ManagedClustersGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-08-01/examples/ManagedClustersGetAccessProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-08-01/examples/ManagedClustersGetUpgradeProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-08-01/examples/ManagedClustersList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-08-01/examples/ManagedClustersListByResourceGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-08-01/examples/ManagedClustersListClusterCredentialResult.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-08-01/examples/ManagedClustersResetAADProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-08-01/examples/ManagedClustersResetServicePrincipalProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-08-01/examples/ManagedClustersUpdateTags.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-08-01/location.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-08-01/managedClusters.json
  specification/containerservice/resource-manager/readme.go.md
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: ARMSignedOff

#6716 Update definition of ApplicationGatewayOnDemandProbe
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/examples/ApplicationGatewayAvailableSslOptionsGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/examples/ApplicationGatewayAvailableSslOptionsPredefinedPoliciesGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/examples/ApplicationGatewayAvailableSslOptionsPredefinedPolicyGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/examples/ApplicationGatewayBackendHealthTest.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/examples/ApplicationGatewayBackendHealthTest.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/ApplicationGatewayBackendHealthTest.json
Labels: ARMSignedOff

#6905 Enable API swagger
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-03-01-preview/examples/enableSubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-03-01-preview/subscriptions.json
Labels: ARMSignedOff

#6819 Add table option to copy sink
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff

#6894 Modify some PE/PLS properties for update
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/privateEndpoint.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/privateLinkService.json
Labels: ARMSignedOff

#6904 Adding swagger spec for unprepare subnet
  custom-words.txt
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/SubnetUnprepareNetworkPolicies.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/virtualNetwork.json
Labels: ARMSignedOff

#6893 [DataFactory] Event Trigger Subscription APIs
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/Triggers_GetEventSubscriptionStatus.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/Triggers_SubscribeToEvents.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/Triggers_UnsubscribeFromEvents.json
Labels: ARMSignedOff

#6818 Adding non mandatory fields in ProtectedItem and AzureVmWorkloadProte…
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2016-12-01/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2017-07-01/bms.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#6915 PR - [DataFactory]Add json dataset support in ADF
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#6942 Adding alertRuleTemplates swagger spec to securityInsight
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/alertRuleTemplates/GetAlertRuleTemplateById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/alertRuleTemplates/GetAlertRuleTemplates.json
Labels: ARMSignedOff

#6968 Mark ownerEmail as required properties for workspace RP
  specification/machinelearning/resource-manager/Microsoft.MachineLearning/stable/2016-04-01/examples/CreateWorkspace.json
  specification/machinelearning/resource-manager/Microsoft.MachineLearning/stable/2016-04-01/workspaces.json
Labels: ARMSignedOff

#6940 Add validation transfer API for Microsoft.Billing.
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/ValidateTransfer.json
Labels: ARMSignedOff

#6934 [Azure Search] Introduce a few breaking changes in swagger specifications
  specification/search/data-plane/Microsoft.Azure.Search.Service/stable/2019-05-06/examples/SearchServiceCreateOrUpdateSkillset.json
  specification/search/data-plane/Microsoft.Azure.Search.Service/stable/2019-05-06/examples/SearchServiceCreateSkillset.json
  specification/search/data-plane/Microsoft.Azure.Search.Service/stable/2019-05-06/examples/SearchServiceGetIndexerStatus.json
  specification/search/data-plane/Microsoft.Azure.Search.Service/stable/2019-05-06/examples/SearchServiceGetSkillset.json
  specification/search/data-plane/Microsoft.Azure.Search.Service/stable/2019-05-06/examples/SearchServiceListSkillsets.json
  specification/search/data-plane/Microsoft.Azure.Search.Service/stable/2019-05-06/searchservice.json
Labels: WaitingForAzureAPIBoard, potential-sdk-breaking-change

#6839 Added Key Vault ID for GET and LIST SapMonitor
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/examples/SapMonitors_Get.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/examples/SapMonitors_List.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/examples/SapMonitors_PatchTags.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/examples/SapMonitors_PatchTags_Delete.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/hanaonazure.json
Labels: ARMSignedOff

#6961 Adding low priority and variable pricing feature for standalone VMs. Added priority, eviction policy and billing profile to VirtualMachineProperties. Also, adding optional billing profile to VMSS Create and Update APIs.
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/compute.json
Labels: ARMSignedOff

#6976 Add CV API v2.1 for gore support
  specification/cognitiveservices/data-plane/ComputerVision/readme.go.md
  specification/cognitiveservices/data-plane/ComputerVision/readme.md
  specification/cognitiveservices/data-plane/ComputerVision/readme.ruby.md
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.1/ComputerVision.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.1/Ocr.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.1/examples/SuccessfulAnalyzeImageByDomainWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.1/examples/SuccessfulAnalyzeImageByDomainWithUrl.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.1/examples/SuccessfulAnalyzeImageWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.1/examples/SuccessfulAnalyzeImageWithUrl.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.1/examples/SuccessfulBatchReadFileWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.1/examples/SuccessfulBatchReadFileWithUrl.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.1/examples/SuccessfulDescribeImageWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.1/examples/SuccessfulDescribeImageWithUrl.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.1/examples/SuccessfulDetectObjectsWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.1/examples/SuccessfulDetectObjectsWithUrl.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.1/examples/SuccessfulGenerateThumbnailWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.1/examples/SuccessfulGenerateThumbnailWithUrl.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.1/examples/SuccessfulGetAreaOfInterestWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.1/examples/SuccessfulGetAreaOfInterestWithUrl.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.1/examples/SuccessfulGetReadOperationResult.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.1/examples/SuccessfulGetTextOperationResult.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.1/examples/SuccessfulListModels.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.1/examples/SuccessfulRecognizePrintedTextWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.1/examples/SuccessfulRecognizePrintedTextWithUrl.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.1/examples/SuccessfulRecognizeTextWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.1/examples/SuccessfulRecognizeTextWithUrl.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.1/examples/SuccessfulTagImageWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.1/examples/SuccessfulTagImageWithUrl.json
Labels: AzureAPIBoardSignedOff, WaitingForAzureAPIBoard

#6886 2019-08-01-preview Peering Service
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/examples/CheckServiceProviderAvailability.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/examples/CreateDirectPeering.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/examples/CreateExchangePeering.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/examples/CreatePeerAsn.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/examples/CreatePeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/examples/CreatePeeringServicePrefix.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/examples/DeletePeerAsn.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/examples/DeletePeering.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/examples/DeletePeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/examples/DeletePeeringServicePrefix.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/examples/GetPeerAsn.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/examples/GetPeering.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/examples/GetPeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/examples/GetPeeringServicePrefix.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/examples/ListDirectPeeringLocations.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/examples/ListExchangePeeringLocations.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/examples/ListLegacyPeerings.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/examples/ListPeerAsnsBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/examples/ListPeeringOperations.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/examples/ListPeeringServiceLocations.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/examples/ListPeeringServiceProviders.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/examples/ListPeeringServicesByResourceGroup.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/examples/ListPeeringServicesBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/examples/ListPeeringsByResourceGroup.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/examples/ListPeeringsBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/examples/ListPrefixesByPeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/examples/UpdatePeeringServiceTags.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/examples/UpdatePeeringTags.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/peering.json
  specification/peering/resource-manager/readme.go.md
  specification/peering/resource-manager/readme.md
  specification/peering/resource-manager/readme.ruby.md
Labels: ARMSignedOff

#6432 [Ready To Merge] SSH and Quota changes
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/examples/ListUsages.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/examples/ListVMSizesResult.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/examples/amlComputeListNodes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/examples/createBasicAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/examples/createBasicAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/examples/createBasicDataFactoryCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/examples/createWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/examples/deleteCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/examples/deleteWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/examples/getAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/examples/getAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/examples/getComputes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/examples/getWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/examples/getWorkspacesByResourceGroup.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/examples/getWorkspacesBySubscription.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/examples/listKeysAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/examples/listWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/examples/patchAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/examples/resyncWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/examples/updateAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/examples/updateAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/examples/updateWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/machineLearningServices.json
  specification/machinelearningservices/resource-manager/readme.go.md
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff

#7006 [ACR] Update policy schema with default values.
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/containerregistry.json
Labels: WaitForARMFeedback

#6995 [Hub Generated] Review request for Microsoft.Capacity to add version preview/2019-04-01
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/GetAvailableScope.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/reservations.json
Labels: ARMSignedOff

#6742 [Hub Generated] Azure Site Recovery (ASR) - Azure Disk Encryption OnePass support changes.
  specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryServices/stable/2018-07-10/service.json
Labels: ARMSignedOff

#6994 Adding support to the LogicApps Workflow Run Delete operation (New).
  specification/logic/resource-manager/Microsoft.Logic/preview/2018-07-01-preview/examples/WorkflowRuns_Delete.json
  specification/logic/resource-manager/Microsoft.Logic/preview/2018-07-01-preview/logic.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/examples/WorkflowRuns_Delete.json
  specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/logic.json
Labels: ARMSignedOff

#7014 Align File swagger with the Blob swagger
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/file.json
Labels: ARMSignedOff

#6948 Add ARM resources specs for 2019-08-01
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-08-01/examples/CreateResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-08-01/examples/ExportResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-08-01/examples/ExportResourceGroupWithFiltering.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-08-01/examples/PutDeploymentAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-08-01/examples/PutDeploymentAtScope.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-08-01/examples/PutDeploymentAtTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-08-01/examples/PutDeploymentWithOnErrorDeploymentLastSuccessful.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-08-01/examples/PutDeploymentWithOnErrorDeploymentSpecificDeployment.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-08-01/resources.json
  specification/resources/resource-manager/readme.csharp.md
  specification/resources/resource-manager/readme.md
  specification/resources/resource-manager/readme.python.md
Labels: ARMSignedOff

#6672 Adding revalidate API for SQL and managed instance encryption protectors
  custom-words.txt
  specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/encryptionProtectors.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/examples/EncryptionProtectorRevalidate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/ManagedInstanceEncryptionProtectors.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/examples/ManagedInstanceEncryptionProtectorRevalidate.json
Labels: ARMSignedOff, DoNotMerge

#7046 Add new API for calculate template hash
  specification/resources/resource-manager/Microsoft.Resources/stable/2015-11-01/examples/CalculateTemplateHash.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2015-11-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2016-02-01/examples/CalculateTemplateHash.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2016-02-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2016-07-01/examples/CalculateTemplateHash.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2016-07-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2016-09-01/examples/CalculateTemplateHash.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2016-09-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2017-05-10/examples/CalculateTemplateHash.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2017-05-10/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2018-02-01/examples/CalculateTemplateHash.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2018-02-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2018-05-01/examples/CalculateTemplateHash.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2018-05-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-03-01/examples/CalculateTemplateHash.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-03-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-05-01/examples/CalculateTemplateHash.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-05-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-05-10/examples/CalculateTemplateHash.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-05-10/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-07-01/examples/CalculateTemplateHash.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-07-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-08-01/examples/CalculateTemplateHash.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-08-01/resources.json
Labels: ARMSignedOff

#6997 Move to stable version
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2019-09-16/examples/CheckNameAvailabilityPost.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2019-09-16/examples/OperationResultsGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2019-09-16/examples/OperationsList.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2019-09-16/examples/ServiceCreate.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2019-09-16/examples/ServiceCreateMinimum.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2019-09-16/examples/ServiceDelete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2019-09-16/examples/ServiceGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2019-09-16/examples/ServiceList.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2019-09-16/examples/ServiceListByResourceGroup.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2019-09-16/examples/ServicePatch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2019-09-16/healthcare-apis.json
  specification/healthcareapis/resource-manager/readme.go.md
  specification/healthcareapis/resource-manager/readme.md
Labels: ARMSignedOff

#7052 Eventhub: added NetworkRuleSets list API
  specification/eventhub/resource-manager/Microsoft.EventHub/stable/2017-04-01/EventHub.json
  specification/eventhub/resource-manager/Microsoft.EventHub/stable/2017-04-01/examples/NameSpaces/VirtualNetworkRule/EHNetworkRuleSetList.json
Labels: ARMSignedOff

#6469 Adding Maintenance RP, Private Preview PR https://github.com/Azure/azure-rest-api-specs-pr/pull/482
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2018-06-01-preview/Maintenance.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2018-06-01-preview/examples/ApplyUpdates_CreateOrUpdate.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2018-06-01-preview/examples/ApplyUpdates_CreateOrUpdateParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2018-06-01-preview/examples/ApplyUpdates_Get.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2018-06-01-preview/examples/ApplyUpdates_GetParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2018-06-01-preview/examples/ConfigurationAssignments_CreateOrUpdate.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2018-06-01-preview/examples/ConfigurationAssignments_CreateOrUpdateParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2018-06-01-preview/examples/ConfigurationAssignments_Delete.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2018-06-01-preview/examples/ConfigurationAssignments_DeleteParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2018-06-01-preview/examples/ConfigurationAssignments_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2018-06-01-preview/examples/ConfigurationAssignments_ListParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2018-06-01-preview/examples/MaintenanceConfigurations_CreateOrUpdateForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2018-06-01-preview/examples/MaintenanceConfigurations_DeleteForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2018-06-01-preview/examples/MaintenanceConfigurations_GetForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2018-06-01-preview/examples/MaintenanceConfigurations_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2018-06-01-preview/examples/MaintenanceConfigurations_UpdateForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2018-06-01-preview/examples/Operations_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2018-06-01-preview/examples/Updates_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2018-06-01-preview/examples/Updates_ListParent.json
  specification/maintenance/resource-manager/readme.md
  specification/maintenance/resource-manager/readme.nodejs.md
  specification/maintenance/resource-manager/readme.ruby.md
Labels: ARMSignedOff

#6727 Add PrivateEndpointConnection Swagger
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/PrivateEndpointConnections.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/PrivateEndpointConnectionDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/PrivateEndpointConnectionGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/PrivateEndpointConnectionList.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/PrivateEndpointConnectionUpdate.json
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff
