Repository Azure/azure-rest-api-specs, pull requests merged in 2019-09, with the labels that each got.

#6969 support Express Custom Setup
  custom-words.txt
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/IntegrationRuntime.json
Labels: ARMSignedOff

#6366 [READY TO MERGE] Adding workspace level quota management APIs in version 2019-06-01
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/examples/ListWorkspaceQuotasByVMFamily.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/examples/updateQuota.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/machineLearningServices.json
Labels: ARMSignedOff, DoNotMerge

#7060 Estebanreyl/data plane 08 2019
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/containerregistry.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/CancelBlobUpload.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/CheckBlob.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/CheckBlobChunk.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/CreateManifest.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/DeleteAcrRepository.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/DeleteBlob.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/DeleteManifest.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/DeleteTag.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/EndBlobUpload.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/GetAccessToken.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/GetBlob.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/GetBlobChunk.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/GetBlobStatus.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/GetDockerRegistryV2Support.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/GetManifest.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/GetManifestAttributes.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/GetManifestList.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/GetRepositoryAttributes.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/GetRepositoryList.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/GetTagAttributes.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/GetTagList.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/MountBlob.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/PostAccessToken.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/PostRefreshToken.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/StartBlobUpload.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/UpdateManifestAttributes.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/UpdateRepositoryAttributes.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/UpdateTagAttributes.json
  specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/examples/UploadBlob.json
  specification/containerregistry/data-plane/readme.go.md
  specification/containerregistry/data-plane/readme.md
Labels: WaitingForAzureAPIBoard

#7040 [Data Factory]Add ORC Dataset/Copy Source/Copy Sink
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff

#7044 Added documentation for patch api call used to update tags
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/bastionHost.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/BastionHostUpdateTags.json
Labels: ARMSignedOff

#7089 New Skus and Generations for VirtualNetworkVpnGateways
  package.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/VirtualNetworkGatewayGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/VirtualNetworkGatewayList.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/VirtualNetworkGatewayUpdate.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/VirtualNetworkGatewayUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/virtualNetworkGateway.json
Labels: ARMSignedOff

#6883 Create swagger definitions for new Microsoft.OperationalInsights reso…
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/Clusters.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/examples/ClustersCreate.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/examples/ClustersDelete.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/examples/ClustersGet.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/examples/ClustersListByResourceGroup.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/examples/ClustersSubscriptionList.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/examples/ClustersUpdate.json
  specification/operationalinsights/resource-manager/readme.md
Labels: ARMSignedOff

#7005 Add Virtual Router top level resource. Add Identity under Microsoft.Network/ExpressRoutePort and MacSecConfig under Microsoft.Network/ExpressRouteLink
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/VirtualRouterDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/VirtualRouterGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/VirtualRouterListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/VirtualRouterListBySubscription.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/VirtualRouterPeeringDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/VirtualRouterPeeringGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/VirtualRouterPeeringList.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/VirtualRouterPeeringPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/VirtualRouterPeeringUpdate.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/VirtualRouterPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/VirtualRouterUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/expressRoutePort.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/virtualRouter.json
  specification/network/resource-manager/readme.md
Labels: ARMSignedOff

#6932 [Hub Generated] Review request for Microsoft.Devices to add version stable/2019-03-22
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/IotHub_ManualFailover.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/checkNameAvailability.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_certificatescreateorupdate.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_certificatesdelete.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_certverify.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_createOrUpdate.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_createconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_delete.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_deleteconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_exportdevices.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_generateverificationcode.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_get.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_getcertificate.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_getconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_getjob.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_getkey.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_getskus.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_importdevices.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_listbyrg.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_listbysubscription.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_listcertificates.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_listehgroups.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_listjobs.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_listkeys.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_operations.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_patch.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_quotametrics.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_routingendpointhealth.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_stats.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_testallroutes.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_testnewroute.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/examples/iothub_usages.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2019-03-22/iothub.json
  specification/iothub/resource-manager/readme.md
Labels: ARMSignedOff

#7080 Fixed required properties in TrafficAnalyticsProperties: networkWatce…
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/networkWatcher.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#7066 Eddelrio/network august release
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/VirtualNetworkGatewayConnectionCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/VirtualNetworkGatewayConnectionGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/VirtualNetworkGatewayConnectionUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/VirtualNetworkGatewayConnectionsList.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/VirtualNetworkGatewaysListConnections.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/virtualNetworkGateway.json
Labels: ARMSignedOff

#6992 Microsoft.Insights Log Analytics Query Pack Resource
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-09-01-preview/QueryPackQueries_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-09-01-preview/QueryPacks_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-09-01-preview/examples/QueryPackQueriesDelete.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-09-01-preview/examples/QueryPackQueriesGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-09-01-preview/examples/QueryPackQueriesList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-09-01-preview/examples/QueryPackQueriesPut.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-09-01-preview/examples/QueryPackQueriesSearch.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-09-01-preview/examples/QueryPacksCreate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-09-01-preview/examples/QueryPacksDelete.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-09-01-preview/examples/QueryPacksGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-09-01-preview/examples/QueryPacksList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-09-01-preview/examples/QueryPacksListByResourceGroup.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-09-01-preview/examples/QueryPacksUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-09-01-preview/examples/QueryPacksUpdateTagsOnly.json
  specification/applicationinsights/resource-manager/readme.md
Labels: ARMSignedOff

#7075 Support for changes in ConnectionMonitor API
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/NetworkWatcherConnectionMonitorUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/networkWatcher.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/networkWatcherConnectionMonitorV1.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/NetworkWatcherConnectionMonitorCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/NetworkWatcherConnectionMonitorDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/NetworkWatcherConnectionMonitorList.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/NetworkWatcherConnectionMonitorQuery.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/NetworkWatcherConnectionMonitorStart.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/NetworkWatcherConnectionMonitorStop.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/networkWatcher.json
  specification/network/resource-manager/readme.md
Labels: ARMSignedOff

#7049 Add change feed properties to 2019-04-01 Storage.
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/blob.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/BlobServicesGet.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/BlobServicesList.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/BlobServicesPut.json
Labels: ARMSignedOff

#7020 New API version 2019-07-01 for ANF
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-07-01/examples/Accounts_CreateOrUpdate.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-07-01/examples/Accounts_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-07-01/examples/Accounts_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-07-01/examples/Accounts_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-07-01/examples/Accounts_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-07-01/examples/CheckFilePathAvailability.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-07-01/examples/CheckNameAvailability.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-07-01/examples/MountTargets_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-07-01/examples/Pools_CreateOrUpdate.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-07-01/examples/Pools_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-07-01/examples/Pools_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-07-01/examples/Pools_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-07-01/examples/Pools_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-07-01/examples/Snapshots_Create.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-07-01/examples/Snapshots_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-07-01/examples/Snapshots_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-07-01/examples/Snapshots_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-07-01/examples/Snapshots_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-07-01/examples/Volumes_CreateOrUpdate.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-07-01/examples/Volumes_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-07-01/examples/Volumes_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-07-01/examples/Volumes_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-07-01/examples/Volumes_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-07-01/netapp.json
  specification/netapp/resource-manager/readme.go.md
  specification/netapp/resource-manager/readme.java.md
  specification/netapp/resource-manager/readme.md
Labels: ARMSignedOff

#7131 Added priority field in the request routing rule
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/ApplicationGatewayCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/ApplicationGatewayGet.json
Labels: ARMSignedOff

#6964 Billing RP spec changes for listInvoiceSectionsWithCreateSubscription…
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/InvoiceSectionsListWithCreateSubPermission.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/ProductCancelByBillingAccount.json
Labels: ARMChangesRequested, WaitForARMFeedback

#7118 Update ARM resource properties in Microsoft.Update.Admin
  specification/azsadmin/resource-manager/update/Microsoft.Update.Admin/preview/2016-05-01/Updates.json
Labels: potential-sdk-breaking-change

#7047 Improve API documentation and add DeviceSecurityGroups to stable API
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/deviceSecurityGroups.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/DeviceSecurityGroups/DeleteDeviceSecurityGroups_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/DeviceSecurityGroups/GetDeviceSecurityGroups_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/DeviceSecurityGroups/ListDeviceSecurityGroups_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/DeviceSecurityGroups/PutDeviceSecurityGroups_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutions/CreateIoTSecuritySolution.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutions/GetIoTSecuritySolutionsList.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutions/GetIoTSecuritySolutionsListByIotHub.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutions/GetIoTSecuritySolutionsListByIotHubAndRg.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutions/GetIoTSecuritySolutionsListByRg.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutions/UpdateIoTSecuritySolution.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityAnalyticsList.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/iotSecuritySolutionAnalytics.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/iotSecuritySolutions.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff

#7120 Rename errorResponse to align with other RPs
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/file.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#7050 ServiceBus: added NetworkRuleSets list API
  specification/servicebus/resource-manager/Microsoft.ServiceBus/stable/2017-04-01/examples/NameSpaces/VirtualNetworkRule/SBNetworkRuleSetList.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/stable/2017-04-01/servicebus.json
Labels: ARMSignedOff

#6844 Orphan property removed
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/definitions.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#7161 Update StorageSync 2019-06-01 protocol with cloud tiering and recall status
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-06-01/examples/CloudEndpoints_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-06-01/examples/RegisteredServers_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-06-01/examples/ServerEndpoints_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-06-01/examples/ServerEndpoints_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-06-01/examples/ServerEndpoints_ListBySyncGroup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-06-01/examples/SyncGroups_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-06-01/storagesync.json
Labels: ARMSignedOff

#7187 Cases API Deprecation Note
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
Labels: ARMSignedOff

#7157 Add purge API details.
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/components_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/ComponentsCreate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/ComponentsUpdate.json
Labels: ARMSignedOff

#7210 Amaga/update customer policy
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/CustomerPolicy.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/UpdateCustomerPolicy.json
Labels: ARMSignedOff

#7032 Support DataLakeStorage 10-31-19 version
  specification/storage/data-plane/Microsoft.StorageDataLake/stable/2019-10-31/DataLakeStorage.json
  specification/storage/data-plane/readme.go.md
  specification/storage/data-plane/readme.md
Labels: AzureAPIBoardSignedOff

#7130 Adding kinds for AlertRules endpoints, updating AlertRuleTemplates endpoints
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/alertRuleTemplates/GetAlertRuleTemplateById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/alertRuleTemplates/GetAlertRuleTemplates.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/alertRules/CreateFusionAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/alertRules/CreateMicrosoftSecurityIncidentCreationAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/alertRules/CreateScheduledAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/alertRules/DeleteAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/alertRules/GetAllAlertRules.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/alertRules/GetFusionAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/alertRules/GetMicrosoftSecurityIncidentCreationAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/alertRules/GetScheduledAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/alertRules/GetScheduledAlertRules.json
Labels: ARMSignedOff

#7172 Adding SQL managedDatabases swagger for API v2018-06-01-preview
  custom-words.txt
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedDatabaseCompleteExternalRestore.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedDatabaseCreateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedDatabaseCreateMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedDatabaseCreatePointInTimeRestore.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedDatabaseCreateRecovery.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedDatabaseCreateRestoreExternalBackup.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedDatabaseDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedDatabaseGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedDatabaseListByManagedInstance.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedDatabaseRestoreDetails.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedDatabaseUpdateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedDatabaseUpdateMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/managedDatabases.json
  specification/sql/resource-manager/readme.md
Labels: DoNotMerge

#7220 [AFD WAF] Add defaultState and defaultAction to managed rule set definitions
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-03-01/examples/WafListManagedRuleSets.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-03-01/webapplicationfirewall.json
Labels: ARMSignedOff

#7206 [Hub Generated] Review request for Microsoft.Capacity to add version preview/2019-04-01
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/CalculateReservationOrder.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/GetCatalog.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/GetReservationDetails.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/GetReservationOrderDetails.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/GetReservationOrderDetailsWithExpandPlanInformation.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/GetReservationOrders.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/GetReservationRevisions.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/GetReservations.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/MergeReservations.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/PurchaseReservationOrder.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/SplitReservation.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/UpdateReservation.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/reservations.json
Labels: ARMSignedOff

#7236 Fix eligibility typo
  cSpell.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-03-31-preview/definitions/TasksCommon.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/TasksCommon.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/stable/2018-04-19/definitions/TasksCommon.json
Labels: ARMSignedOff

#7219 [Hub Generated] Review request for Microsoft.Kusto to add version stable/2019-09-07
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/examples/KustoClustersCheckNameAvailability.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/examples/KustoClustersCreateOrUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/examples/KustoClustersDelete.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/examples/KustoClustersGet.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/examples/KustoClustersList.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/examples/KustoClustersListByResourceGroup.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/examples/KustoClustersListResourceSkus.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/examples/KustoClustersListSkus.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/examples/KustoClustersStart.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/examples/KustoClustersStop.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/examples/KustoClustersUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/examples/KustoDataConnectionValidation.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/examples/KustoDataConnectionsCheckNameAvailability.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/examples/KustoDataConnectionsCreateOrUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/examples/KustoDataConnectionsDelete.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/examples/KustoDataConnectionsGet.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/examples/KustoDataConnectionsListByDatabase.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/examples/KustoDataConnectionsUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/examples/KustoDatabaseAddPrincipals.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/examples/KustoDatabaseListPrincipals.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/examples/KustoDatabaseRemovePrincipals.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/examples/KustoDatabasesCheckNameAvailability.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/examples/KustoDatabasesCreateOrUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/examples/KustoDatabasesDelete.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/examples/KustoDatabasesGet.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/examples/KustoDatabasesListByCluster.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/examples/KustoDatabasesUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/examples/KustoOperationsList.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/kusto.json
  specification/azure-kusto/resource-manager/readme.go.md
  specification/azure-kusto/resource-manager/readme.md
  specification/azure-kusto/resource-manager/readme.python.md
  specification/azure-kusto/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#7217 fix getting agent pool available versions api path
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-06-01/examples/AgentPoolsGetAgentPoolAvailableVersions.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-06-01/managedClusters.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-08-01/examples/AgentPoolsGetAgentPoolAvailableVersions.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-08-01/managedClusters.json
Labels: ARMSignedOff

#7248 Virtual Network BGP Communities
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/VirtualNetworkCreateWithBgpCommunities.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/virtualNetwork.json
Labels: ARMSignedOff

#7171 Changed swagger to fit the new return value from actions controller
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/actions/CreateActionOfAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/actions/GetActionOfAlertRuleById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/actions/GetAllActionsByAlertRule.json
Labels: ARMSignedOff

#7191 Define "relations" API as a sub-resource of cases and bookmarks. Allows users to define and maintain relationships between cases and bookmarks across various user scenarios
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/bookmarks/GetBookmarks.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/bookmarks/relations/CreateBookmarkRelation.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/bookmarks/relations/DeleteBookmarkRelation.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/bookmarks/relations/GetAllBookmarkRelations.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/bookmarks/relations/GetBookmarkRelationByName.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/cases/relations/CreateCaseRelation.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/cases/relations/DeleteCaseRelation.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/cases/relations/GetAllCaseRelations.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/cases/relations/GetCaseRelationByName.json
Labels: ARMSignedOff

#6878 VMware by Virtustream API 2019-08-09-preview
  custom-words.txt
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/Clusters_CreateOrUpdate.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/Clusters_Delete.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/Clusters_Get.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/Clusters_List.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/Clusters_Update.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/Operations_List.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/PrivateClouds_CreateOrUpdate.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/PrivateClouds_Delete.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/PrivateClouds_Get.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/PrivateClouds_List.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/PrivateClouds_ListAdminCredentials.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/PrivateClouds_ListInSubscription.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/PrivateClouds_Update.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/vmwarevirtustream.json
  specification/vmwarevirtustream/resource-manager/readme.csharp.md
  specification/vmwarevirtustream/resource-manager/readme.md
  specification/vmwarevirtustream/resource-manager/readme.python.md
  specification/vmwarevirtustream/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#7238 Virtual Wan point to site feature redesign:-
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/GenerateVirtualWanVpnServerConfigurationVpnProfile.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/GetVirtualWanVpnServerConfigurations.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/P2SVpnGatewayGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/P2SVpnGatewayGetConnectionHealth.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/P2SVpnGatewayGetConnectionHealthDetailed.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/P2SVpnGatewayList.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/P2SVpnGatewayListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/P2SVpnGatewayPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/P2SVpnGatewayUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/P2SVpnServerConfigurationDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/P2SVpnServerConfigurationGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/P2SVpnServerConfigurationList.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/P2SVpnServerConfigurationPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/VpnServerConfigurationDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/VpnServerConfigurationGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/VpnServerConfigurationList.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/VpnServerConfigurationListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/VpnServerConfigurationPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/VpnServerConfigurationUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/virtualWan.json
Labels: ARMSignedOff

#7251 Restoring quota patch overwritten during 2019-06-01 version update
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/machineLearningServices.json
Labels: ARMSignedOff

#7074 Custom vision 3 1
  custom-words.txt
  specification/cognitiveservices/data-plane/CustomVision/Training/readme.md
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/Training.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/CreateImageRegions.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/CreateImageTags.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/CreateImagesFromData.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/CreateImagesFromFiles.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/CreateImagesFromPredictions.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/CreateImagesFromUrls.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/CreateProject.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/CreateTag.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/DeleteImageRegions.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/DeleteImageTags.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/DeleteImages.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/DeleteIteration.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/DeletePrediction.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/DeleteProject.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/DeleteTag.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/ExportIteration.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/GetDomain.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/GetDomains.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/GetExports.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/GetImagePerformanceCount.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/GetImagePerformances.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/GetImageRegionProposals.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/GetImagesByIds.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/GetIteration.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/GetIterationPerformance.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/GetIterations.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/GetProject.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/GetProjects.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/GetTag.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/GetTaggedImageCount.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/GetTaggedImages.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/GetTags.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/GetUntaggedImageCount.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/GetUntaggedImages.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/PublishIteration.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/QueryPredictions.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/QuerySuggestedImageCount.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/QuerySuggestedImages.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/QuickTestImage.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/QuickTestImageUrl.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/SuggestTagsAndRegions.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/TrainProject.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/UnpublishIteration.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/UpdateIteration.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/UpdateProject.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.1/examples/UpdateTag.json
Labels: WaitingForAzureAPIBoard

#7293 Added DiskEnryptionSet property in the managed disk parameters for the VM/VMSS
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/CreateAScalesetWithDiskEncryptionSetResource.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/CreateAVmWithDiskEncryptionSetResource.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/CreateAnImageFromABlobWithDiskEncryptionSet.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/CreateAnImageFromAManagedDiskWithDiskEncryptionSet.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/CreateAnImageFromASnapshotWithDiskEncryptionSet.json
Labels: DoNotMerge, WaitForARMFeedback

#7247 Initial 2019-09-01-preview for LVA
  specification/mediaservices/resource-manager/Microsoft.Media/preview/2019-09-01-preview/Common.json
  specification/mediaservices/resource-manager/Microsoft.Media/preview/2019-09-01-preview/MediaGraphs.json
  specification/mediaservices/resource-manager/Microsoft.Media/preview/2019-09-01-preview/examples/media-graph-create.json
  specification/mediaservices/resource-manager/Microsoft.Media/preview/2019-09-01-preview/examples/media-graph-delete.json
  specification/mediaservices/resource-manager/Microsoft.Media/preview/2019-09-01-preview/examples/media-graph-get-by-name.json
  specification/mediaservices/resource-manager/Microsoft.Media/preview/2019-09-01-preview/examples/media-graph-list-all.json
  specification/mediaservices/resource-manager/Microsoft.Media/preview/2019-09-01-preview/examples/media-graph-start.json
  specification/mediaservices/resource-manager/Microsoft.Media/preview/2019-09-01-preview/examples/media-graph-stop.json
  specification/mediaservices/resource-manager/Microsoft.Media/preview/2019-09-01-preview/examples/operation-result-get.json
  specification/mediaservices/resource-manager/Microsoft.Media/preview/2019-09-01-preview/examples/operation-status-get.json
  specification/mediaservices/resource-manager/readme.md
Labels: ARMSignedOff

#7243 Add ProtectionMode to Microsoft.Security applicationWhitelistings
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/applicationWhitelistings.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/ApplicationWhitelistings/GetApplicationWhitelistingsGroup_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/ApplicationWhitelistings/GetApplicationWhitelistingsSubscription_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/ApplicationWhitelistings/PutApplicationWhitelistings_example.json
Labels: ARMSignedOff

#7088 [Data Factory] data flow + debug session API swagger
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/DataFlow.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/DataFlowDebugSession_AddDataFlow.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/DataFlowDebugSession_Create.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/DataFlowDebugSession_Delete.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/DataFlowDebugSession_ExecuteCommand.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/DataFlowDebugSession_QueryByFactory.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/DataFlows_Create.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/DataFlows_Delete.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/DataFlows_Get.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/DataFlows_ListByFactory.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/DataFlows_Update.json
Labels: ARMSignedOff, DoNotMerge

#7266 Firewall Manager Feature Swagger Updates for Public Preview
  custom-words.txt
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/azureFirewall.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/AzureFirewallGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/AzureFirewallGetWithZones.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/AzureFirewallPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/AzureFirewallPutInHub.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/AzureFirewallPutWithZones.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/firewallPolicy.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/virtualWan.json
Labels: ARMSignedOff

#7275 Adding the structure of urlConfiguration in rewriteRuleActionSet
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/ApplicationGatewayCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/ApplicationGatewayGet.json
Labels: ARMSignedOff

#7201 Add Sql StoredProcedures, UDFs and Triggers for CosmosDB resources
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlStoredProcedureCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlStoredProcedureDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlStoredProcedureGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlStoredProcedureList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlTriggerCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlTriggerDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlTriggerGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlTriggerList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlUserDefinedFunctionCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlUserDefinedFunctionDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlUserDefinedFunctionGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlUserDefinedFunctionList.json
Labels: ARMSignedOff

#7285 Added Data Connectors check requirements to security insights.
  custom-words.txt
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/dataConnectors/CheckRequirementsAzureActiveDirectory.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/dataConnectors/CheckRequirementsAzureSecurityCenter.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/dataConnectors/CheckRequirementsMicrosoftCloudAppSecurity.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/dataConnectors/CheckRequirementsThreatIntelligence.json
Labels: ARMSignedOff

#7237 [SRP] Add nextLink to StorageAccountList
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountList.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/storage.json
Labels: ARMSignedOff

#7235 [Hub Generated] Review request for Microsoft.Consumption to add version stable/2019-06-01
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/AggregatedCostByManagementGroup.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/AggregatedCostByManagementGroupFilterByDate.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/AggregatedCostForBillingPeriodByManagementGroup.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/BalancesByBillingAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/BalancesByBillingAccountForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/Budget.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/BudgetsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/ChargesForBillingPeriodByDepartment.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/ChargesForBillingPeriodByEnrollmentAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/ChargesListForDepartmentFilterByStartEndDate.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/ChargesListForEnrollmentAccountFilterByStartEndDate.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/CreateOrUpdateBudget.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/DeleteBudget.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/ForecastsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/ForecastsListFilterByDates.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/ForecastsListFilterByGrain.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/MarketplacesByBillingAccountList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/MarketplacesByBillingAccountListForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/MarketplacesByDepartmentList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/MarketplacesByDepartment_ListByBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/MarketplacesByEnrollmentAccountList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/MarketplacesByEnrollmentAccounts_ListByBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/MarketplacesByManagementGroupList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/MarketplacesByManagementGroup_ListForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/MarketplacesList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/MarketplacesListForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/PriceSheet.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/PriceSheetExpand.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/PriceSheetForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/ReservationDetails.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/ReservationDetailsByBillingAccountId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/ReservationDetailsWithReservationId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/ReservationRecommendationsByBillingAccountList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/ReservationRecommendationsFilterByScopeLookBackPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/ReservationRecommendationsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/ReservationSummariesDaily.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/ReservationSummariesDailyWithBillingAccountId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/ReservationSummariesDailyWithReservationId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/ReservationSummariesMonthly.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/ReservationSummariesMonthlyWithBillingAccountId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/ReservationSummariesMonthlyWithReservationId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/ReservationTransactionsListByBillingAccountId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/Tags.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/UsageDetailsExpand.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/UsageDetailsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/UsageDetailsListByBillingAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/UsageDetailsListByDepartment.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/UsageDetailsListByEnrollmentAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/UsageDetailsListByManagementGroup.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/UsageDetailsListByMetricActualCost.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/UsageDetailsListByMetricAmortizedCost.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/UsageDetailsListByMetricUsage.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/UsageDetailsListFilterByTag.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/UsageDetailsListForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/UsageDetailsListForBillingPeriodByBillingAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/UsageDetailsListForBillingPeriodByDepartment.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/UsageDetailsListForBillingPeriodByEnrollmentAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-06-01/examples/UsageDetailsListForBillingPeriodByManagementGroup.json
  specification/consumption/resource-manager/readme.md
Labels: ARMSignedOff

#7254 Added /whatIf operation to deployments at resource group and subscription scope
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-07-01/examples/PostDeploymentWhatIfOnResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-07-01/examples/PostDeploymentWhatIfOnSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-07-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-08-01/examples/PostDeploymentWhatIfOnResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-08-01/examples/PostDeploymentWhatIfOnSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-08-01/resources.json
Labels: ARMSignedOff

#7134 Adding the specs for GA version of Events API
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/stable/2018-07-01/ResourceHealth.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/stable/2018-07-01/examples/AvailabilityStatus_GetByResource.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/stable/2018-07-01/examples/AvailabilityStatuses_List.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/stable/2018-07-01/examples/AvailabilityStatuses_ListByResourceGroup.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/stable/2018-07-01/examples/AvailabilityStatuses_ListBySubscriptionId.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/stable/2018-07-01/examples/Events_ListBySingleResource.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/stable/2018-07-01/examples/Events_ListBySubscriptionId.json
  specification/resourcehealth/resource-manager/readme.md
Labels: ARMSignedOff

#7101 [Re-open of #6422] Introducing subAssessments type (Microsoft.Security provider)
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/SubAssessments/GetSubAssessment_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/SubAssessments/ListSubAssessments_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/SubAssessments/ListSubscriptionSubAssessments_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/subAssessments.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff

#7326 [SRP] Add new storage account property largeFileSharesState
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/storage.json
Labels: ARMSignedOff

#7298 Jit api add justification
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/JitNetworkAccessPolicies/GetJitNetworkAccessPoliciesResourceGroupLocation_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/JitNetworkAccessPolicies/GetJitNetworkAccessPoliciesResourceGroup_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/JitNetworkAccessPolicies/GetJitNetworkAccessPoliciesSubscriptionLocation_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/JitNetworkAccessPolicies/GetJitNetworkAccessPoliciesSubscription_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/JitNetworkAccessPolicies/GetJitNetworkAccessPolicy_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/JitNetworkAccessPolicies/InitiateJitNetworkAccessPolicy_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/jitNetworkAccessPolicies.json
Labels: ARMSignedOff

#7317 Databox stable/2019-09-01 API Version
  specification/databox/resource-manager/Microsoft.DataBox/stable/2019-09-01/databox.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2019-09-01/examples/AvailableSkusPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2019-09-01/examples/AvailableSkusPostByResourceGroup.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2019-09-01/examples/BookShipmentPickupPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2019-09-01/examples/JobsCancelPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2019-09-01/examples/JobsCreate.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2019-09-01/examples/JobsDelete.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2019-09-01/examples/JobsGet.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2019-09-01/examples/JobsGet1.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2019-09-01/examples/JobsGet2.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2019-09-01/examples/JobsGet3.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2019-09-01/examples/JobsGet4.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2019-09-01/examples/JobsGet5.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2019-09-01/examples/JobsList.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2019-09-01/examples/JobsListByResourceGroup.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2019-09-01/examples/JobsListCredentials.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2019-09-01/examples/JobsPatch.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2019-09-01/examples/OperationsGet.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2019-09-01/examples/RegionConfiguration.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2019-09-01/examples/ValidateAddressPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2019-09-01/examples/ValidateInputs.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2019-09-01/examples/ValidateInputsByResourceGroup.json
  specification/databox/resource-manager/readme.go.md
  specification/databox/resource-manager/readme.md
  specification/databox/resource-manager/readme.ruby.md
Labels: ARMSignedOff

#7301 fix ResourceWithEtag not to contain inheritance to fix the multiple i…
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
Labels: ARMSignedOff

#7325 [Data Factory] Add data flow compute property in IR.
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/IntegrationRuntime.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/DataFlowDebugSession_AddDataFlow.json
Labels: ARMSignedOff

#7308 [DataFactory]Add AzureFileStorage and GoogleCloudStorage
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff
