Repository Azure/azure-rest-api-specs, pull requests merged in 2019-11, with the labels that each got.

#7267 [Ready-To-Merge]Dev mlservices 2019 11 01 - private repo pr Azure/azure-rest-api-specs-pr#902
  specification/machinelearning/resource-manager/Microsoft.MachineLearning/stable/2019-10-01/examples/CreateWorkspace.json
  specification/machinelearning/resource-manager/Microsoft.MachineLearning/stable/2019-10-01/examples/DeleteWorkspace.json
  specification/machinelearning/resource-manager/Microsoft.MachineLearning/stable/2019-10-01/examples/GetWorkspace.json
  specification/machinelearning/resource-manager/Microsoft.MachineLearning/stable/2019-10-01/examples/ListWorkspaceKeys.json
  specification/machinelearning/resource-manager/Microsoft.MachineLearning/stable/2019-10-01/examples/ListWorkspaceResourceGroup.json
  specification/machinelearning/resource-manager/Microsoft.MachineLearning/stable/2019-10-01/examples/ListWorkspaces.json
  specification/machinelearning/resource-manager/Microsoft.MachineLearning/stable/2019-10-01/examples/ResyncStorageKeys.json
  specification/machinelearning/resource-manager/Microsoft.MachineLearning/stable/2019-10-01/examples/UpdateWorkspace.json
  specification/machinelearning/resource-manager/Microsoft.MachineLearning/stable/2019-10-01/workspaces.json
  specification/machinelearning/resource-manager/readme.go.md
  specification/machinelearning/resource-manager/readme.md
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/ListSkus.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/ListUsages.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/ListVMSizesResult.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/ListWorkspaceFeatures.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/ListWorkspaceQuotasByVMFamily.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/amlComputeListNodes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/createBasicAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/createBasicAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/createBasicDataFactoryCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/createWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/deleteCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/deleteWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/getAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/getAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/getComputes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/getWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/getWorkspacesByResourceGroup.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/getWorkspacesBySubscription.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/listKeysAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/listWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/patchAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/resyncWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/updateAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/updateAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/updateQuota.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/updateWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/machineLearningServices.json
  specification/machinelearningservices/resource-manager/readme.go.md
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff, Approved-OkToMerge

#7635 fix missing status code in SignalR
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/examples/SignalR_CreateOrUpdate.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/signalr.json
  specification/signalr/resource-manager/readme.md
Labels: ARMSignedOff

#7643 updating with warm store features
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2018-08-15-preview/examples/EnvironmentsPatchSkuCapacity.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2018-08-15-preview/timeseriesinsights.json
Labels: ARMSignedOff

#7540 [Hub Generated] Review request for Microsoft.Subscription: Removed an unused API to make things simple, also corrected examples
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2018-11-01-preview/examples/createCspSubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2018-11-01-preview/examples/createSubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2018-11-01-preview/examples/createSubscriptionUnderBillingProfile.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2018-11-01-preview/subscriptions.json
Labels: ARMSignedOff

#7682 [Datafactory] Add reportStatusOnCallBack property to webhook activity
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff

#7653 [Hub Generated] Review request for Microsoft.Consumption to add version stable/2019-10-01
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/examples/ReservationTransactionsListByBillingAccountId.json
Labels: ARMSignedOff

#7689 [Routing Preference] Adding routing preferences API changes, private repo PR# 973
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json
Labels: potential-sdk-breaking-change

#7611 [Hub Generated] Review request for Microsoft.Insights to add version preview/2019-10-17-preview
  custom-words.txt
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/WorkbookTemplateAdd.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/WorkbookTemplateDelete.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/WorkbookTemplateGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/WorkbookTemplateUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/WorkbookTemplatesList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/workbookTemplates_API.json
  specification/applicationinsights/resource-manager/readme.md
Labels: ARMSignedOff

#7063 Swagger changes for Microsoft.Migrate namespace
  custom-words.txt
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/AssessedMachines_Get.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/AssessedMachines_ListByAssessment.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/AssessmentOptions_Get.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/AssessmentOptions_List.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/Assessments_Create.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/Assessments_Delete.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/Assessments_Get.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/Assessments_GetReportDownloadUrl.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/Assessments_ListByGroup.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/Assessments_ListByProject.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/Groups_Create.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/Groups_Delete.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/Groups_Get.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/Groups_ListByProject.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/HyperVCollectors_Create.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/HyperVCollectors_Delete.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/HyperVCollectors_Get.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/HyperVCollectors_ListByProject.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/Machines_Get.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/Machines_ListByProject.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/Operations_List.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/ProjectsInSubscription_List.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/Projects_Create.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/Projects_Delete.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/Projects_Get.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/Projects_List.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/Projects_Update.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/VMwareCollectors_Create.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/VMwareCollectors_Delete.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/VMwareCollectors_Get.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/VMwareCollectors_ListByProject.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/migrate.json
  specification/migrate/resource-manager/readme.md
Labels: ARMSignedOff

#7205 add PreferredIPVersion to ConnectivityCheck
  specification/network/resource-manager/Microsoft.Network/stable/2019-09-01/examples/NetworkWatcherConnectivityCheck.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-09-01/networkWatcher.json
Labels: ARMSignedOff

#7714 [Routing Preference] : Updated the Flatten property and added example . Linked to PR#7689
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/StorageAccountCreate.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/StorageAccountGetProperties.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/StorageAccountList.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/StorageAccountUpdate.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json
Labels: potential-sdk-breaking-change

#7283 Add 'unmaskedIpLoggingStatus' to IotSecuritySolution
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutions/CreateIoTSecuritySolution.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutions/GetIoTSecuritySolution.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutions/GetIoTSecuritySolutionsList.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutions/GetIoTSecuritySolutionsListByIotHub.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutions/GetIoTSecuritySolutionsListByIotHubAndRg.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutions/GetIoTSecuritySolutionsListByRg.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutions/UpdateIoTSecuritySolution.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/iotSecuritySolutions.json
Labels: ARMSignedOff

#7377 AdministratorName parameter should take value which is defined in enum
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/ManagedInstanceAdministratorCreate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/ManagedInstanceAdministratorGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/ManagedInstanceAdministratorListByInstance.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/ManagedInstanceAdministratorUpdate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/managedInstanceAdministrators.json
Labels: ARMSignedOff

#7212 Add new version for Microsoft.Solutions
  specification/resources/resource-manager/Microsoft.Solutions/stable/2019-07-01/examples/createOrUpdateApplication.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2019-07-01/examples/createOrUpdateApplicationDefinition.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2019-07-01/examples/getApplication.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2019-07-01/examples/getApplicationDefinition.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2019-07-01/examples/listApplicationDefinitionsByResourceGroup.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2019-07-01/examples/listApplicationsByResourceGroup.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2019-07-01/examples/listSolutionsOperations.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2019-07-01/managedapplications.json
  specification/resources/resource-manager/readme.go.md
  specification/resources/resource-manager/readme.md
  specification/resources/resource-manager/readme.ruby.md
Labels: ARMSignedOff

#7717 Microsoft.PolicyInsights/remediations 2019-07-01
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_CancelManagementGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_CancelResourceGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_CancelResourceScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_CancelSubscriptionScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_CreateManagementGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_CreateResourceGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_CreateResourceScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_CreateSubscriptionScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_CreateSubscriptionScope_AllProperties.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_DeleteManagementGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_DeleteResourceGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_DeleteResourceScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_DeleteSubscriptionScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_GetManagementGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_GetResourceGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_GetResourceScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_GetSubscriptionScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_ListDeploymentsManagementGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_ListDeploymentsResourceGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_ListDeploymentsResourceScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_ListDeploymentsSubscriptionScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_ListManagementGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_ListManagementGroupScope_WithQuery.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_ListResourceGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_ListResourceGroupScope_WithQuery.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_ListResourceScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_ListResourceScope_WithQuery.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_ListSubscriptionScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/examples/Remediations_ListSubscriptionScope_WithQuery.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-07-01/remediations.json
  specification/policyinsights/resource-manager/readme.md
Labels: ARMSignedOff, Reassign

#7752 fix swagger completeness issue
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/alerts.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/alerts.json
Labels: ARMSignedOff

#7655 [Hub Generated] Review request for Microsoft.VirtualMachineImages to add version preview/2019-05-01-preview
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-05-01-preview/examples/CreateImageTemplate.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-05-01-preview/examples/CreateImageTemplateWithUserAssignedIdentity.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-05-01-preview/examples/GetImageTemplate.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-05-01-preview/examples/ListImageTemplates.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-05-01-preview/examples/ListImageTemplatesByRg.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-05-01-preview/examples/UpdateImageTemplateTags.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-05-01-preview/examples/UpdateImageTemplateToRemoveIdentities.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-05-01-preview/imagebuilder.json
  specification/imagebuilder/resource-manager/readme.md
Labels: ARMSignedOff

#7760 FRv2.0-preview: minor updates
  specification/cognitiveservices/data-plane/FormRecognizer/preview/v2.0/FormRecognizer.json
  specification/cognitiveservices/data-plane/FormRecognizer/preview/v2.0/examples/DeleteModel.json
Labels: AzureAPIBoardSignedOff

#7745 Adding "proximityPlacementGroup" property in "VirtualMachineScaleSetUpdateProperties". Adding "includeColocationStatus" optional flag as part of Get ProximityPlacementGroup URL
  custom-words.txt
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-04-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-06-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-10-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/compute.json
Labels: ARMSignedOff

#7728 Update swagger spec to add existing log analytics workspace
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/examples/SapMonitors_Create.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/hanaonazure.json
Labels: ARMSignedOff

#7771 [Compute] Add patch spec for SharedImageGallery
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/UpdateASimpleGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/UpdateASimpleGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/UpdateASimpleGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/UpdateASimpleGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/UpdateASimpleGalleryImageVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/gallery.json
Labels: ARMSignedOff

#7724 Compute Swagger spec update :- Add the missing PATCH for VmssExtension operation
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/compute.json
Labels: ARMSignedOff

#7769 Microsoft.Billing Adding billingSubscriptions/invoices
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/BillingSubscriptionInvoice.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/BillingSubscriptionInvoicesList.json
Labels: ARMSignedOff

#7777 [Azure Search] Add access condition to skillset operations
  specification/search/data-plane/Microsoft.Azure.Search.Service/stable/2019-05-06/searchservice.json
  specification/search/data-plane/Microsoft.Azure.Search.Service/track1/preview/2019-05-06-preview/searchservice.json
Labels: potential-sdk-breaking-change

#7793 Updating request and response properties to match with actual API response
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/ReservationTransactionsListByBillingAccount.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/ReservationTransactionsListByBillingProfile.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/ReservationTransactionsListByCustomer.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/ReservationTransactionsListByInvoiceSection.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/Transaction.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/TransactionsListByBillingAccount.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/TransactionsListByBillingProfile.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/TransactionsListByCustomer.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/TransactionsListByInvoiceSection.json
Labels: ARMSignedOff

#7805 Fix Microsoft.policyInsights/policyMetadata query parameter
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-10-01/policyMetadata.json
Labels: ARMSignedOff

#7784 [Hub Generated] Review request for Microsoft.CustomerLockbox to add version preview/2018-02-28-preview
  specification/customerlockbox/resource-manager/Microsoft.CustomerLockbox/preview/2018-02-28-preview/customerlockbox.json
  specification/customerlockbox/resource-manager/Microsoft.CustomerLockbox/preview/2018-02-28-preview/examples/Operations_List.json
  specification/customerlockbox/resource-manager/Microsoft.CustomerLockbox/preview/2018-02-28-preview/examples/Requests_Get_InSubscription.json
  specification/customerlockbox/resource-manager/Microsoft.CustomerLockbox/preview/2018-02-28-preview/examples/Requests_List.json
  specification/customerlockbox/resource-manager/Microsoft.CustomerLockbox/preview/2018-02-28-preview/examples/Requests_List_FilterByStatus.json
  specification/customerlockbox/resource-manager/Microsoft.CustomerLockbox/preview/2018-02-28-preview/examples/Requests_UpdateStatus.json
  specification/customerlockbox/resource-manager/readme.csharp.md
  specification/customerlockbox/resource-manager/readme.go.md
  specification/customerlockbox/resource-manager/readme.md
  specification/customerlockbox/resource-manager/readme.python.md
  specification/customerlockbox/resource-manager/readme.ruby.md
  specification/customerlockbox/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#7794 Adding MaxLength Validation to eventHubName
  specification/eventhub/resource-manager/Microsoft.EventHub/stable/2017-04-01/EventHub.json
Labels: ARMSignedOff

#7133 Add Text Analytics V3.0-Preview.1
  custom-words.txt
  specification/cognitiveservices/data-plane/TextAnalytics/preview/v3.0-preview.1/TextAnalytics.json
  specification/cognitiveservices/data-plane/TextAnalytics/preview/v3.0-preview.1/examples/SuccessfulEntitiesRequest.json
  specification/cognitiveservices/data-plane/TextAnalytics/preview/v3.0-preview.1/examples/SuccessfulEntityLinkingRequest.json
  specification/cognitiveservices/data-plane/TextAnalytics/preview/v3.0-preview.1/examples/SuccessfulEntityPIIRequest.json
  specification/cognitiveservices/data-plane/TextAnalytics/preview/v3.0-preview.1/examples/SuccessfulKeyPhrasesRequest.json
  specification/cognitiveservices/data-plane/TextAnalytics/preview/v3.0-preview.1/examples/SuccessfulLanguagesRequest.json
  specification/cognitiveservices/data-plane/TextAnalytics/preview/v3.0-preview.1/examples/SuccessfulSentimentRequest.json
  specification/cognitiveservices/data-plane/TextAnalytics/readme.md
Labels: AzureAPIBoardSignedOff

#7123 Panwang/taskruns
  custom-words.txt
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/containerregistry_build.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/TaskRunsCreate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/TaskRunsDelete.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/TaskRunsGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/TaskRunsList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/TaskRunsUpdate.json
Labels: ARMSignedOff

#7768 Add Provider Share Subscription DTO to include ProviderEmail
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/DataShare.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/ProviderShareSubscriptions_GetByShare.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/ProviderShareSubscriptions_ListByShare.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/ProviderShareSubscriptions_Reinstate.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/ProviderShareSubscriptions_Revoke.json
  specification/datashare/resource-manager/Microsoft.DataShare/stable/2019-11-01/DataShare.json
  specification/datashare/resource-manager/Microsoft.DataShare/stable/2019-11-01/examples/ProviderShareSubscriptions_GetByShare.json
  specification/datashare/resource-manager/Microsoft.DataShare/stable/2019-11-01/examples/ProviderShareSubscriptions_ListByShare.json
  specification/datashare/resource-manager/Microsoft.DataShare/stable/2019-11-01/examples/ProviderShareSubscriptions_Reinstate.json
  specification/datashare/resource-manager/Microsoft.DataShare/stable/2019-11-01/examples/ProviderShareSubscriptions_Revoke.json
  specification/datashare/resource-manager/readme.md
  specification/resources/resource-manager/Microsoft.Solutions/stable/2019-07-01/examples/createOrUpdateApplication.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2019-07-01/examples/createOrUpdateApplicationDefinition.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2019-07-01/examples/getApplication.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2019-07-01/examples/getApplicationDefinition.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2019-07-01/examples/listApplicationDefinitionsByResourceGroup.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2019-07-01/examples/listApplicationsByResourceGroup.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2019-07-01/managedapplications.json
  specification/search/data-plane/Microsoft.Azure.Search.Service/stable/2019-05-06/searchservice.json
  specification/search/data-plane/Microsoft.Azure.Search.Service/track1/preview/2019-05-06-preview/searchservice.json
Labels: ARMSignedOff

#7799 add AKS listClusterMonitoringUserCredential API
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-10-01/managedClusters.json
Labels: ARMSignedOff

#7753 Resources: fix api-version from method property to client property
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-08-01/resources.json
Labels: ARMSignedOff

#7761 [Hub Generated] Review request for Microsoft.Cache to add version preview/2019-07-01-preview
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01-preview/examples/RedisCacheCheckNameAvailability.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01-preview/examples/RedisCacheCreate.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01-preview/examples/RedisCacheDelete.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01-preview/examples/RedisCacheExport.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01-preview/examples/RedisCacheFirewallRuleCreate.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01-preview/examples/RedisCacheFirewallRuleDelete.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01-preview/examples/RedisCacheFirewallRuleGet.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01-preview/examples/RedisCacheFirewallRulesList.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01-preview/examples/RedisCacheForceReboot.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01-preview/examples/RedisCacheGet.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01-preview/examples/RedisCacheImport.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01-preview/examples/RedisCacheLinkedServer_Create.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01-preview/examples/RedisCacheLinkedServer_Delete.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01-preview/examples/RedisCacheLinkedServer_Get.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01-preview/examples/RedisCacheLinkedServer_List.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01-preview/examples/RedisCacheList.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01-preview/examples/RedisCacheListByResourceGroup.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01-preview/examples/RedisCacheListKeys.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01-preview/examples/RedisCacheListUpgradeNotifications.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01-preview/examples/RedisCachePatchSchedulesCreateOrUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01-preview/examples/RedisCachePatchSchedulesDelete.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01-preview/examples/RedisCachePatchSchedulesGet.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01-preview/examples/RedisCachePatchSchedulesList.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01-preview/examples/RedisCacheRegenerateKey.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01-preview/examples/RedisCacheUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01-preview/redis.json
  specification/redis/resource-manager/readme.md
Labels: ARMSignedOff

#7716 Swagger specifications for 2019-10-01 Tags API for resources and subscriptions
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/examples/CalculateTemplateHash.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/examples/CreateResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/examples/ExportResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/examples/ExportResourceGroupWithFiltering.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/examples/GetTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/examples/GetTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/examples/PostDeploymentWhatIfOnResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/examples/PostDeploymentWhatIfOnSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/examples/PutDeploymentAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/examples/PutDeploymentAtScope.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/examples/PutDeploymentAtTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/examples/PutDeploymentWithOnErrorDeploymentLastSuccessful.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/examples/PutDeploymentWithOnErrorDeploymentSpecificDeployment.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/examples/PutTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/examples/PutTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/resources.json
  specification/resources/resource-manager/readme.csharp.md
  specification/resources/resource-manager/readme.md
  specification/resources/resource-manager/readme.python.md
Labels: ARMSignedOff

#7663 Adding incident info to GetBookmarks
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/bookmarks/GetBookmarkById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/bookmarks/GetBookmarks.json
Labels: ARMSignedOff

#7773 Update MySqlLinkedServiceTypeProperties and PostgreSqlLinkedServiceTy…
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/readme.md
Labels: WaitForARMFeedback

#7349 [Hub Generated] Review request for Microsoft.Sql to add WorkloadGroups and WorkloadClasifiers to API 2019-06-01-preview
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/WorkloadClassifiers.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/WorkloadGroups.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/examples/CreateOrUpdateWorkloadClassifierMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/examples/CreateOrUpdateWorkloadClassifierMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/examples/CreateOrUpdateWorkloadGroupMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/examples/CreateOrUpdateWorkloadGroupMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/examples/DeleteWorkloadClassifier.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/examples/DeleteWorkloadGroup.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/examples/GetWorkloadClassifier.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/examples/GetWorkloadClassifierList.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/examples/GetWorkloadGroup.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/examples/GetWorkloadGroupList.json
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff

#7747 virtual wan/gateway disconnect vpn connections
  specification/network/resource-manager/Microsoft.Network/stable/2019-11-01/examples/P2sVpnGatewaysDisconnectP2sVpnConnections.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-11-01/examples/VirtualNetworkGatewaysDisconnectP2sVpnConnections.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-11-01/virtualNetworkGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-11-01/virtualWan.json
Labels: ARMSignedOff

#7851 Adding management IP configuration for Azure Firewall
  specification/network/resource-manager/Microsoft.Network/stable/2019-11-01/azureFirewall.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-11-01/examples/AzureFirewallGetWithMgmtSubnet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-11-01/examples/AzureFirewallListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-11-01/examples/AzureFirewallListBySubscription.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-11-01/examples/AzureFirewallPutWithMgmtSubnet.json
Labels: ARMSignedOff

#7652 Add new API version for Server AAD Admin
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/ServerAzureADAdministrators.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/AdministratorCreateOrUpdate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/AdministratorDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/AdministratorGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/AdministratorList.json
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff

#7758 Change "required" property from "false" to "true" for parameters in request body
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Apps_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Apps_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Apps_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Apps_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Bindings_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Bindings_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Deployments_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Deployments_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Services_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Services_RegenerateTestKey.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Services_Update.json
Labels: ARMSignedOff

#7442 [CDN] Copy changes from API version 2019-04-15 into 2019-06-15-preview.
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/cdn.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/cdnwebapplicationfirewall.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/CustomDomains_EnableCustomHttpsUsingBYOC.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/CustomDomains_EnableCustomHttpsUsingCDNManagedCertificate.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/WafListPolicies.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/WafPatchPolicy.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/WafPolicyCreateOrUpdate.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/WafPolicyGet.json
Labels: ARMSignedOff
