Repository Azure/azure-rest-api-specs, pull requests merged in 2019-01, with the labels that each got.

#4916 Get Application Gateway Server Variables APIs
  specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/examples/ApplicationGatewayAvailableRequestHeadersGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/examples/ApplicationGatewayAvailableResponseHeadersGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/examples/ApplicationGatewayAvailableServerVariablesGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/examples/NetworkWatcherNetworkConfigurationDiagnostic.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/network.json
  specification/network/resource-manager/readme.md
Labels: ARMSignedOff, review

#4969 Settings API - changed the kind to work with .net nuget
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/security.json
Labels: review

#4961 Update Get.json
  specification/azsadmin/resource-manager/storage/Microsoft.Storage.Admin/preview/2015-12-01/examples/Quotas/Get.json
Labels: review

#4972 fixed case of operation ID to fix docs generation and have common naming
  specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/serviceEndpointPolicy.json
Labels: review

#4981 Fixed tag value first letter casing
  specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/serviceEndpointPolicy.json
Labels: review

#4897 December network release -- ARM feedback
  specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/ddosCustomPolicy.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/examples/DdosCustomPolicyCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/examples/DdosCustomPolicyDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/examples/DdosCustomPolicyGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/examples/DdosCustomPolicyUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/publicIpAddress.json
Labels: ARMChangesRequested, WaitForARMFeedback, review

#4983 Microsoft.StorageSync : Change from preview to stable for 2018-10-01 ApiVersion
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/CloudEndpoints_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/CloudEndpoints_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/CloudEndpoints_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/CloudEndpoints_ListBySyncGroup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/CloudEndpoints_PostBackup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/CloudEndpoints_PostRestore.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/CloudEndpoints_PreBackup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/CloudEndpoints_PreRestore.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/CloudEndpoints_RestoreHeatbeat.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/Operations_List.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/RegisteredServers_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/RegisteredServers_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/RegisteredServers_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/RegisteredServers_ListByStorageSyncService.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/RegisteredServers_TriggerRollover.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/ServerEndpoints_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/ServerEndpoints_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/ServerEndpoints_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/ServerEndpoints_ListBySyncGroup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/ServerEndpoints_Recall.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/ServerEndpoints_Update.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/StorageSyncServiceCheckNameAvailability_AlreadyExists.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/StorageSyncServiceCheckNameAvailability_Available.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/StorageSyncServices_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/StorageSyncServices_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/StorageSyncServices_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/StorageSyncServices_ListByResourceGroup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/StorageSyncServices_ListBySubscription.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/StorageSyncServices_Update.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/SyncGroups_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/SyncGroups_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/SyncGroups_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/SyncGroups_ListByStorageSyncService.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/Workflows_Abort.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/Workflows_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/examples/Workflows_ListByStorageSyncService.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01/storagesync.json
  specification/storagesync/resource-manager/readme.go.md
  specification/storagesync/resource-manager/readme.md
Labels: review

#4939 [Azure Data Factory] Change Ssis activity property type to support expression
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: review

#4985 fixed example according to request in
  specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/examples/ExpressRouteGatewayGet.json
Labels: review

#4988 Python conf Network 2018-11
  specification/network/resource-manager/readme.python.md
Labels: review

#4979 [AKS] add empty resource group validation
  specification/containerservices/resource-manager/Microsoft.ContainerService/preview/2018-08-01-preview/managedClusters.json
  specification/containerservices/resource-manager/Microsoft.ContainerService/preview/2018-09-30-preview/openShiftManagedClusters.json
  specification/containerservices/resource-manager/Microsoft.ContainerService/stable/2018-03-31/managedClusters.json
Labels: review

#4993 Fix postgresql sku values in examples
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-12-01-preview/examples/ServerCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2017-12-01/examples/ServerCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2017-12-01/examples/ServerCreateGeoRestoreMode.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2017-12-01/examples/ServerCreatePointInTimeRestore.json
Labels: review

#4952 Swagger and examples for Microsoft.DataBoxEdge RP
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/edgegateway.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/AlertGet.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/AlertGetAllInDevice.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/BandwidthScheduleDelete.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/BandwidthScheduleGet.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/BandwidthScheduleGetAllInDevice.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/BandwidthSchedulePut.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/DataBoxEdgeDeviceDelete.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/DataBoxEdgeDeviceGetByName.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/DataBoxEdgeDeviceGetByResourceGroup.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/DataBoxEdgeDeviceGetBySubscription.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/DataBoxEdgeDevicePatch.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/DataBoxEdgeDevicePut.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/DownloadUpdatesPost.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/ExtendedInfoPost.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/ExtendedInfoPut.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/InstallUpdatesPost.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/NetworkSettingsGet.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/OperationsGet.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/OperationsStatusGet.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/OrderDelete.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/OrderGet.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/OrderGetAllInDevice.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/OrderPut.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/RoleDelete.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/RoleGet.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/RoleGetAllInDevice.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/RolePut.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/SACDelete.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/SACGet.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/SACGetAllInDevice.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/SACPut.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/ScanForUpdatesPost.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/SecuritySettingsUpdatePost.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/ShareDelete.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/ShareGet.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/ShareGetAllInDevice.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/SharePut.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/ShareRefreshPost.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/TriggerDelete.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/TriggerGet.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/TriggerGetAllInDevice.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/TriggerPut.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/UpdateSummaryGet.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/UpdateSummaryPost.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/UploadCertificatePost.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/UserDelete.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/UserGet.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/UserGetAllInDevice.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/examples/UserPut.json
  specification/edgegateway/resource-manager/readme.go.md
  specification/edgegateway/resource-manager/readme.md
  specification/edgegateway/resource-manager/readme.nodejs.md
  specification/edgegateway/resource-manager/readme.ruby.md
  specification/edgegateway/resource-manager/readme.typescript.md
Labels: review

#4991 fixing invalid paths in frontdoor
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/frontdoor.json
Labels: review

#4996 add max bound for application gateway autoscale config
  specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/applicationGateway.json
Labels: review

#4960 Update List.json
  specification/azsadmin/resource-manager/storage/Microsoft.Storage.Admin/preview/2015-12-01/examples/Quotas/List.json
Labels: review

#4948 [AKS]: Remove 200/OK response from reset SP/AAD api
  specification/containerservices/resource-manager/Microsoft.ContainerService/preview/2018-08-01-preview/examples/ManagedClustersResetAADProfile.json
  specification/containerservices/resource-manager/Microsoft.ContainerService/preview/2018-08-01-preview/examples/ManagedClustersResetServicePrincipalProfile.json
  specification/containerservices/resource-manager/Microsoft.ContainerService/preview/2018-08-01-preview/managedClusters.json
  specification/containerservices/resource-manager/Microsoft.ContainerService/stable/2018-03-31/examples/ManagedClustersResetAADProfile.json
  specification/containerservices/resource-manager/Microsoft.ContainerService/stable/2018-03-31/examples/ManagedClustersResetServicePrincipalProfile.json
  specification/containerservices/resource-manager/Microsoft.ContainerService/stable/2018-03-31/managedClusters.json
Labels: potential-sdk-breaking-change, review

#4980 [AKS] fix schema and example validation warnings
  specification/containerservices/resource-manager/Microsoft.ContainerService/preview/2018-08-01-preview/managedClusters.json
  specification/containerservices/resource-manager/Microsoft.ContainerService/stable/2018-03-31/managedClusters.json
Labels: review

#5016 [LogicApps] Fix more acronyms that don't match API
  specification/logic/resource-manager/Microsoft.Logic/preview/2018-07-01-preview/logic.json
  specification/logic/resource-manager/readme.md
Labels: potential-sdk-breaking-change

#4590 modeling assignmentOperations with api-version 2018-11-01
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/assignmentOperation.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/BlueprintAssignmentOperation_Get.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/BlueprintAssignmentOperation_List.json
  specification/blueprint/resource-manager/readme.go.md
  specification/blueprint/resource-manager/readme.md
Labels: ARMSignedOff

#4987 Add version 2018-11-27-preview to Microsoft.Insights
  specification/monitor/resource-manager/Microsoft.Insights/preview/2018-11-27-preview/examples/getOnboardingStatusResourceGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2018-11-27-preview/examples/getOnboardingStatusSingleVM.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2018-11-27-preview/examples/getOnboardingStatusSingleVMUnknown.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2018-11-27-preview/examples/getOnboardingStatusSubscription.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2018-11-27-preview/examples/getOnboardingStatusVMScaleSet.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2018-11-27-preview/vmInsightsOnboarding_API.json
  specification/monitor/resource-manager/readme.md
  specification/monitor/resource-manager/readme.python.md
Labels: ARMSignedOff, review

#4945 Support managementGroup and subscription scopes in Blueprint API version 2018-11-01
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/blueprintAssignment.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/blueprintDefinition.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/BlueprintAssignment_Create.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/BlueprintAssignment_Delete.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/BlueprintAssignment_Get.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/BlueprintAssignment_List.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/managementGroupBPDef/ARMTemplateArtifact_Create.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/managementGroupBPDef/ARMTemplateArtifact_Delete.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/managementGroupBPDef/ARMTemplateArtifact_Get.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/managementGroupBPDef/Artifact_List.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/managementGroupBPDef/Blueprint_Create.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/managementGroupBPDef/Blueprint_Delete.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/managementGroupBPDef/Blueprint_Get.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/managementGroupBPDef/Blueprint_List.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/managementGroupBPDef/PolicyAssignmentArtifact_Create.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/managementGroupBPDef/PolicyAssignmentArtifact_Delete.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/managementGroupBPDef/PolicyAssignmentArtifact_Get.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/managementGroupBPDef/RoleAssignmentArtifact_Create.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/managementGroupBPDef/RoleAssignmentArtifact_Delete.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/managementGroupBPDef/RoleAssignmentArtifact_Get.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/managementGroupBPDef/SealedARMTemplateArtifact_Get.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/managementGroupBPDef/SealedArtifact_List.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/managementGroupBPDef/SealedBlueprint_Delete.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/managementGroupBPDef/SealedBlueprint_Get.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/managementGroupBPDef/SealedBlueprint_List.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/managementGroupBPDef/SealedBlueprint_Publish.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/managementGroupBPDef/SealedPolicyAssignmentArtifact_Get.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/managementGroupBPDef/SealedRoleAssignmentArtifact_Get.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/subscriptionBPDef/ARMTemplateArtifact_Create.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/subscriptionBPDef/ARMTemplateArtifact_Delete.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/subscriptionBPDef/ARMTemplateArtifact_Get.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/subscriptionBPDef/Artifact_List.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/subscriptionBPDef/Blueprint_Create.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/subscriptionBPDef/Blueprint_Delete.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/subscriptionBPDef/Blueprint_Get.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/subscriptionBPDef/Blueprint_List.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/subscriptionBPDef/PolicyAssignmentArtifact_Create.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/subscriptionBPDef/PolicyAssignmentArtifact_Delete.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/subscriptionBPDef/PolicyAssignmentArtifact_Get.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/subscriptionBPDef/RoleAssignmentArtifact_Create.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/subscriptionBPDef/RoleAssignmentArtifact_Delete.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/subscriptionBPDef/RoleAssignmentArtifact_Get.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/subscriptionBPDef/SealedARMTemplateArtifact_Get.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/subscriptionBPDef/SealedArtifact_List.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/subscriptionBPDef/SealedBlueprint_Delete.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/subscriptionBPDef/SealedBlueprint_Get.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/subscriptionBPDef/SealedBlueprint_List.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/subscriptionBPDef/SealedBlueprint_Publish.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/subscriptionBPDef/SealedPolicyAssignmentArtifact_Get.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/subscriptionBPDef/SealedRoleAssignmentArtifact_Get.json
  specification/blueprint/resource-manager/readme.md
Labels: ARMSignedOff, review

#5019 [DataFactory]Support schema property for dataset
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/Datasets_Create.json
Labels: potential-sdk-breaking-change

#4970 Creating first and basic swagger for new RP of ASI (Azure Security In…
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/CreateAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/GetAlertRuleById.json
  specification/securityinsights/resource-manager/readme.go.md
  specification/securityinsights/resource-manager/readme.md
  specification/securityinsights/resource-manager/readme.nodejs.md
  specification/securityinsights/resource-manager/readme.python.md
  specification/securityinsights/resource-manager/readme.typescript.md
Labels: review

#4986 For preview api: Change type of Ssis actitvity to support expression
  specification/datafactory/resource-manager/Microsoft.DataFactory/preview/2017-09-01-preview/entityTypes/Pipeline.json
Labels: ARMSignedOff

#4958 Add exposure control APIs according to the ARM compliance requirement.
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/ExposureControl_GetFeatureValue.json
Labels: ARMSignedOff, review

#4994 Fix mysql sku values
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-12-01-preview/examples/ServerCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2017-12-01/examples/ServerCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2017-12-01/examples/ServerCreateGeoRestoreMode.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2017-12-01/examples/ServerCreatePointInTimeRestore.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2017-12-01/examples/ServerCreateReplicaMode.json
Labels: review

#5021 [Hub Generated] Review request for Microsoft.CostManagement to add version 2019-03-01-preview
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/costmanagement.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/BillingAccountDimensionsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/BillingAccountDimensionsListExpandAndTop.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/BillingAccountDimensionsListWithFilter.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/BillingAccountForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/BillingAccountQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/BillingAccountQueryGrouping.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/CloudConnectorDelete.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/CloudConnectorGet.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/CloudConnectorGetExpand.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/CloudConnectorList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/CloudConnectorPatch.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/CloudConnectorPut.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/DepartmentDimensionsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/DepartmentDimensionsListExpandAndTop.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/DepartmentDimensionsListWithFilter.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/DepartmentForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/DepartmentQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/DepartmentQueryGrouping.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/EnrollmentAccountDimensionsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/EnrollmentAccountDimensionsListExpandAndTop.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/EnrollmentAccountDimensionsListWithFilter.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/EnrollmentAccountForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/EnrollmentAccountQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/EnrollmentAccountQueryGrouping.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/ExternalBillingAccountExternalSubscriptionList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/ExternalBillingAccountGet.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/ExternalBillingAccountList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/ExternalSubscriptionGet.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/ExternalSubscriptionList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/ManagementGroupDimensionsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/ManagementGroupDimensionsListExpandAndTop.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/ManagementGroupDimensionsListWithFilter.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/ManagementGroupExternalSubscriptionList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/ManagementGroupExternalSubscriptionPut.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/ManagementGroupForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/ManagementGroupGetEntities.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/ManagementGroupQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/ManagementGroupQueryGrouping.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/ResourceGroupDimensionsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/ResourceGroupForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/ResourceGroupQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/SubscriptionDimensionsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/SubscriptionForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/SubscriptionQuery.json
  specification/cost-management/resource-manager/readme.md
Labels: ARMSignedOff

#4976 Generating latest spec
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2016-08-10/operations.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2016-12-01/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2016-12-01/examples/Common/BackupStorageConfig_Put.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2017-07-01/bms.json
Labels: ARMSignedOff

#5060 Remove webhook activity
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#4827 Enum updates to support Hourly reports
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-08-01-preview/costmanagement.json
Labels: ARMSignedOff

#4947 Managed Instance GeoRestore Cmds
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/ManagedDatabaseCreateRecovery.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/examples/GetRecoverableManagedDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/examples/ListRecoverableManagedDatabasesByServer.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/recoverableManagedDatabases.json
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff, DoNotMerge, review

#4950 [DO NOT MERGE] Add software update specs
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/preview/2018-06-30-preview/examples/getSoftwareUpdate.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/preview/2018-06-30-preview/examples/getSoftwareUpdateProfile.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/preview/2018-06-30-preview/examples/listSoftwareUpdates.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/preview/2018-06-30-preview/guestconfiguration.json
  specification/guestconfiguration/resource-manager/readme.md
Labels: ARMSignedOff, review

#4898 adding ekg swagger files
  specification/EnterpriseKnowledgeGraph/resource-manager/Microsoft.EnterpriseKnowledgeGraph/preview/2018-12-03/EnterpriseKnowledgeGraphSwagger.json
  specification/EnterpriseKnowledgeGraph/resource-manager/Microsoft.EnterpriseKnowledgeGraph/preview/2018-12-03/examples/CreateEnterpriseKnowledgeGraph.json
  specification/EnterpriseKnowledgeGraph/resource-manager/Microsoft.EnterpriseKnowledgeGraph/preview/2018-12-03/examples/DeleteEnterpriseKnowledgeGraph.json
  specification/EnterpriseKnowledgeGraph/resource-manager/Microsoft.EnterpriseKnowledgeGraph/preview/2018-12-03/examples/GetEnterpriseKnowledgeGraph.json
  specification/EnterpriseKnowledgeGraph/resource-manager/Microsoft.EnterpriseKnowledgeGraph/preview/2018-12-03/examples/GetOperations.json
  specification/EnterpriseKnowledgeGraph/resource-manager/Microsoft.EnterpriseKnowledgeGraph/preview/2018-12-03/examples/ListEnterpriseKnowledgeGraphByResourceGroup.json
  specification/EnterpriseKnowledgeGraph/resource-manager/Microsoft.EnterpriseKnowledgeGraph/preview/2018-12-03/examples/ListEnterpriseKnowledgeGraphBySubscription.json
  specification/EnterpriseKnowledgeGraph/resource-manager/Microsoft.EnterpriseKnowledgeGraph/preview/2018-12-03/examples/UpdateEnterpriseKnowledgeGraph.json
  specification/EnterpriseKnowledgeGraph/resource-manager/readme.go.md
  specification/EnterpriseKnowledgeGraph/resource-manager/readme.md
Labels: ARMSignedOff, review

#5084 Creates the "real" API for Scheduled Alert Rules
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/CreateAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/CreateScheduledAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/DeleteScheduledAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/GetAlertRuleById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/GetScheduledAlertRuleById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/GetScheduledAlertRules.json
Labels: ARMSignedOff

#5109 Add Helm Events to ACR Schema for Event Grid
  specification/eventgrid/data-plane/Microsoft.ContainerRegistry/stable/2018-01-01/ContainerRegistry.json
Labels: ARMSignedOff
