Repository Azure/azure-rest-api-specs, pull requests merged in 2019-03, with the labels that each got.

#5266 Add globalReachEnabled, Add Get and list for peer express route circuit connections. Remove allowGlobalReach
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/examples/ExpressRouteCircuitConnectionList.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/examples/PeerExpressRouteCircuitConnectionGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/examples/PeerExpressRouteCircuitConnectionList.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/expressRouteCircuit.json
Labels: ARMChangesRequested, WaitForARMFeedback

#5243 Network: fix descriptions & remove unused/duplicate definitions
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/azureFirewall.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/expressRouteCircuit.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/network.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/publicIpPrefix.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/serviceEndpointPolicy.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/virtualNetworkGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/virtualWan.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#5292 new application insignts api version for unified schema in action
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-03-01/actionGroups_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-03-01/examples/createOrUpdateActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-03-01/examples/deleteActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-03-01/examples/enableReceiver.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-03-01/examples/getActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-03-01/examples/listActionGroups.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-03-01/examples/patchActionGroup.json
  specification/monitor/resource-manager/readme.md
Labels: ARMSignedOff

#5042 Dev adhybridhealthservice microsoft.ad hybrid health service 2014 01 01 binilkk
  specification/adhybridhealthservice/resource-manager/Microsoft.ADHybridHealthService/stable/2014-01-01/ADHybridHealthService.json
  specification/adhybridhealthservice/resource-manager/Microsoft.ADHybridHealthService/stable/2014-01-01/examples/RiskyIpDownload.json
Labels: ARMSignedOff

#5095 Update Swagger Files For ManagedInstanceAdministrator
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/ManagedInstanceAdministratorCreate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/ManagedInstanceAdministratorDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/ManagedInstanceAdministratorGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/ManagedInstanceAdministratorListByInstance.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/ManagedInstanceAdministratorUpdate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/managedInstanceAdministrators.json
Labels: ARMSignedOff

#5137 [Hub Generated] Review request for Microsoft.Web to add version 2018-02-01
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/AppServiceEnvironments.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples/GetInboundNetworkDependenciesEndpoints.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples/GetOutboundNetworkDependenciesEndpoints.json
Labels: ARMSignedOff

#5320 Fix Hosting Environment Network Dependencies pagination
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/AppServiceEnvironments.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples/GetInboundNetworkDependenciesEndpoints.json
  specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/examples/GetOutboundNetworkDependenciesEndpoints.json
Labels: potential-sdk-breaking-change

#5225 Adding instance pools swagger
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/CreateOrUpdateInstancePoolMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/CreateOrUpdateInstancePoolMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/DeleteInstancePool.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/GetInstancePool.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ListInstancePoolsByResourceGroup.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ListInstancePoolsBySubscriptionId.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/PatchInstancePool.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/instancePools.json
Labels: ARMSignedOff

#5232 [DiskRP] Adding swagger spec for 09-30-2018
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-06-01/examples/CreateAProximityPlacementGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-06-01/examples/DeleteAProximityPlacementGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-06-01/examples/GetAProximityPlacementGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-06-01/examples/ListProximityPlacementGroupsInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-06-01/examples/ListProximityPlacementGroupsInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-06-01/examples/PatchAProximityPlacementGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-09-30/disk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-09-30/examples/CreateAManagedDiskByCopyingASnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-09-30/examples/CreateAManagedDiskByImportingAnUnmanagedBlobFromADifferentSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-09-30/examples/CreateAManagedDiskByImportingAnUnmanagedBlobFromTheSameSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-09-30/examples/CreateAManagedDiskFromAPlatformImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-09-30/examples/CreateAManagedDiskFromAnExistingManagedDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-09-30/examples/CreateASnapshotByImportingAnUnmanagedBlobFromADifferentSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-09-30/examples/CreateASnapshotByImportingAnUnmanagedBlobFromTheSameSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-09-30/examples/CreateASnapshotFromAnExistingSnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-09-30/examples/CreateAnEmptyManagedDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-09-30/examples/GetInformationAboutAManagedDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-09-30/examples/GetInformationAboutASnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-09-30/examples/ListManagedDisksInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-09-30/examples/ListManagedDisksInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-09-30/examples/ListSnapshotsInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-09-30/examples/ListSnapshotsInASubscription.json
  specification/compute/resource-manager/readme.md
Labels: ARMSignedOff

#5314 [Computer Vision] Add read to CV OCR API.
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/Ocr.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/examples/SuccessfulBatchReadFileWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/examples/SuccessfulBatchReadFileWithUrl.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/examples/SuccessfulReadOperationResult.json
Labels: WaitForARMFeedback

#5311 [Hub Generated] Review request for Microsoft.Consumption to add version 2019-01-01
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-01-01/consumption.json
Labels: potential-sdk-breaking-change

#5341 Add WAF as a top level resource
  azure-pipelines.yml
  scripts/swagger-to-sdk.sh
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/examples/WafPolicyCreateOrUpdate.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/examples/WafListAllPolicies.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/examples/WafListPolicies.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/examples/WafPolicyCreateOrUpdate.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/examples/WafPolicyDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/examples/WafPolicyGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/webapplicationfirewall.json
  specification/network/resource-manager/readme.md
Labels: WaitForARMFeedback

#5277 Remove AzureDataLakeStoreCosmosStructuredStreamDataset since it's internal only
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
Labels: Reassign, potential-sdk-breaking-change

#5322 Microsoft.DataBoxEdge RP: Corrected comments of trigger and extendedinfo APIs, corrected examples
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2019-03-01/edgegateway.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2019-03-01/examples/ExtendedInfoPost.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2019-03-01/examples/ExtendedInfoPut.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2019-03-01/examples/ShareDelete.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2019-03-01/examples/ShareGet.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2019-03-01/examples/ShareGetAllInDevice.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2019-03-01/examples/SharePut.json
  specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2019-03-01/examples/ShareRefreshPost.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#5300 SRP Swagger changes for 2018-11-01
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/blob.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/BlobContainersClearLegalHold.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/BlobContainersDelete.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/BlobContainersDeleteImmutabilityPolicy.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/BlobContainersExtendImmutabilityPolicy.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/BlobContainersGet.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/BlobContainersGetImmutabilityPolicy.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/BlobContainersList.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/BlobContainersLockImmutabilityPolicy.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/BlobContainersPatch.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/BlobContainersPut.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/BlobContainersPutImmutabilityPolicy.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/BlobContainersSetLegalHold.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/BlobServicesGet.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/BlobServicesPut.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/OperationsList.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/SKUList.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/StorageAccountCheckNameAvailability.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/StorageAccountCreate.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/StorageAccountDelete.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/StorageAccountDeleteManagementPolicy.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/StorageAccountFailover.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/StorageAccountGetManagementPolicy.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/StorageAccountGetProperties.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/StorageAccountList.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/StorageAccountListAccountSAS.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/StorageAccountListByResourceGroup.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/StorageAccountListKeys.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/StorageAccountListLocationUsage.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/StorageAccountListServiceSAS.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/StorageAccountRegenerateKey.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/StorageAccountSetManagementPolicy.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/examples/StorageAccountUpdate.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/storage.json
  specification/storage/resource-manager/readme.md
Labels: ARMSignedOff

#5340 Add filter to StreamingLocator and Streaming presets.
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2018-07-01/Encoding.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2018-07-01/StreamingPoliciesAndStreamingLocators.json
Labels: potential-sdk-breaking-change

#5352 Implementing agentpool API
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-02-01/examples/AgentPoolsCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-02-01/examples/AgentPoolsDelete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-02-01/examples/AgentPoolsGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-02-01/examples/AgentPoolsList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-02-01/managedClusters.json
  specification/containerservice/resource-manager/readme.python.md
Labels: ARMSignedOff

#5416 Luis swagger fixes
  specification/cognitiveservices/data-plane/LUIS/Authoring/stable/v2.0/LUIS-Authoring.json
Labels: potential-sdk-breaking-change

#5241 [Hub Generated] Review request for Microsoft.MachineLearning to add version 2017-01-01
  specification/machinelearning/resource-manager/Microsoft.MachineLearning/stable/2017-01-01/webservices.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#5370 Update to Release 3.5 standard (pre GA)
  specification/netapp/resource-manager/Microsoft.NetApp/preview/2017-08-15/examples/Accounts_CreateOrUpdate.json
  specification/netapp/resource-manager/Microsoft.NetApp/preview/2017-08-15/examples/Accounts_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/preview/2017-08-15/examples/Accounts_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/preview/2017-08-15/examples/Accounts_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/preview/2017-08-15/examples/Accounts_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/preview/2017-08-15/examples/MountTargets_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/preview/2017-08-15/examples/Pools_CreateOrUpdate.json
  specification/netapp/resource-manager/Microsoft.NetApp/preview/2017-08-15/examples/Pools_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/preview/2017-08-15/examples/Pools_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/preview/2017-08-15/examples/Pools_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/preview/2017-08-15/examples/Pools_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/preview/2017-08-15/examples/Snapshots_Create.json
  specification/netapp/resource-manager/Microsoft.NetApp/preview/2017-08-15/examples/Snapshots_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/preview/2017-08-15/examples/Snapshots_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/preview/2017-08-15/examples/Snapshots_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/preview/2017-08-15/examples/Snapshots_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/preview/2017-08-15/examples/Volumes_CreateOrUpdate.json
  specification/netapp/resource-manager/Microsoft.NetApp/preview/2017-08-15/examples/Volumes_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/preview/2017-08-15/examples/Volumes_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/preview/2017-08-15/examples/Volumes_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/preview/2017-08-15/examples/Volumes_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/preview/2017-08-15/netapp.json
Labels: potential-sdk-breaking-change

#5364 EventHub: Added NetwrokruleSet API
  specification/eventhub/resource-manager/Microsoft.EventHub/stable/2017-04-01/EventHub.json
  specification/eventhub/resource-manager/Microsoft.EventHub/stable/2017-04-01/examples/NameSpaces/VirtualNetworkRule/EHNetworkRuleSetCreate.json
  specification/eventhub/resource-manager/Microsoft.EventHub/stable/2017-04-01/examples/NameSpaces/VirtualNetworkRule/EHNetworkRuleSetGet.json
Labels: ARMSignedOff

#5382 Set typeproperties to be not required for some datasets
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
Labels: potential-sdk-breaking-change

#5361 Servicebus : NetworkruleSet
  specification/servicebus/resource-manager/Microsoft.ServiceBus/stable/2017-04-01/examples/NameSpaces/VirtualNetworkRule/SBNetworkRuleSetCreate.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/stable/2017-04-01/examples/NameSpaces/VirtualNetworkRule/SBNetworkRuleSetGet.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/stable/2017-04-01/servicebus.json
Labels: ARMSignedOff

#5096 Adding swagger spec for healthcareapis resource manager and examples.
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2018-08-20-preview/examples/CheckNameAvailabilityPost.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2018-08-20-preview/examples/MoveResourcesPost.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2018-08-20-preview/examples/OperationResultsGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2018-08-20-preview/examples/OperationsList.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2018-08-20-preview/examples/ServiceCreate.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2018-08-20-preview/examples/ServiceDelete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2018-08-20-preview/examples/ServiceGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2018-08-20-preview/examples/ServiceList.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2018-08-20-preview/examples/ServiceListByResourceGroup.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2018-08-20-preview/examples/ServicePatch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2018-08-20-preview/healthcare-apis.json
  specification/healthcareapis/resource-manager/readme.go.md
  specification/healthcareapis/resource-manager/readme.md
  specification/healthcareapis/resource-manager/readme.nodejs.md
  specification/healthcareapis/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#5366 Kusto: Suppress R2016 warning
  specification/azure-kusto/resource-manager/readme.md
Labels: ARMSignedOff

#5343 Adding Specifications for Peering
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-03-01-preview/examples/CreateDirectPeering.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-03-01-preview/examples/CreateExchangePeering.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-03-01-preview/examples/CreatePeerAsn.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-03-01-preview/examples/DeletePeerAsn.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-03-01-preview/examples/DeletePeering.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-03-01-preview/examples/GetPeerAsn.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-03-01-preview/examples/GetPeering.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-03-01-preview/examples/ListDirectPeeringLocations.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-03-01-preview/examples/ListExchangePeeringLocations.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-03-01-preview/examples/ListLegacyPeerings.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-03-01-preview/examples/ListPeerAsnsBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-03-01-preview/examples/ListPeeringOperations.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-03-01-preview/examples/ListPeeringsByResourceGroup.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-03-01-preview/examples/ListPeeringsBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-03-01-preview/examples/UpdatePeeringTags.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2019-03-01-preview/peering.json
  specification/peering/resource-manager/readme.csharp.md
  specification/peering/resource-manager/readme.go.md
  specification/peering/resource-manager/readme.java.md
  specification/peering/resource-manager/readme.md
  specification/peering/resource-manager/readme.nodejs.md
  specification/peering/resource-manager/readme.python.md
  specification/peering/resource-manager/readme.ruby.md
  specification/peering/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#5091 3 new APIs added to SignalR service and rename the sample files
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/examples/Operations_List.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/examples/SignalR_CheckNameAvailability.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/examples/SignalR_CreateOrUpdate.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/examples/SignalR_Delete.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/examples/SignalR_Get.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/examples/SignalR_ListByResourceGroup.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/examples/SignalR_ListBySubscription.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/examples/SignalR_ListKeys.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/examples/SignalR_RegenerateKey.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/examples/SignalR_Restart.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/examples/SignalR_Update.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/examples/Usages_List.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/signalr.json
  specification/signalr/resource-manager/readme.md
Labels: ARMSignedOff

#5452 Fixed typos
  specification/managedservices/resource-manager/Microsoft.ManagedServices/preview/2018-06-01-preview/managedservices.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#5431 New operations for adhealth
  specification/adhybridhealthservice/resource-manager/Microsoft.ADHybridHealthService/stable/2014-01-01/ADHybridHealthService.json
  specification/adhybridhealthservice/resource-manager/Microsoft.ADHybridHealthService/stable/2014-01-01/examples/ConnectorMetadata.json
Labels: ARMSignedOff

#5183 New security Regulatory compliance API
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/RegulatoryCompliance/getRegulatoryComplianceAssessmentList_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/RegulatoryCompliance/getRegulatoryComplianceAssessment_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/RegulatoryCompliance/getRegulatoryComplianceControlList_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/RegulatoryCompliance/getRegulatoryComplianceControl_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/RegulatoryCompliance/getRegulatoryComplianceStandardList_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/RegulatoryCompliance/getRegulatoryComplianceStandard_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/regulatoryCompliance.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff

#4968 Security: 2017-08-01-preview - Introduce IoT security groups resource
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/JitNetworkAccessPolicies/InvokeJitNetworkAccessPolicy_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/deviceSecurityGroups.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/DeviceSecurityGroups/DeleteDeviceSecurityGroups_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/DeviceSecurityGroups/GetDeviceSecurityGroups_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/DeviceSecurityGroups/ListDeviceSecurityGroups_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/DeviceSecurityGroups/PutDeviceSecurityGroups_example.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff, review

#4932 Adding the NorthSouth API for Public Preview
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/adaptiveNetworkHardenings.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/AdaptiveNetworkHardenings/EnforceAdaptiveNetworkHardeningRules_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/AdaptiveNetworkHardenings/GetAdaptiveNetworkHardening_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/AdaptiveNetworkHardenings/ListByExtendedResourceAdaptiveNetworkHardenings_example.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff, review

#5381 [Cogs Face] Align with latest released version of Face API with feature of multiple recognition models.
  specification/cognitiveservices/data-plane/Face/stable/v1.0/Face.json
  specification/cognitiveservices/data-plane/Face/stable/v1.0/examples/CreateNewFaceList.json
  specification/cognitiveservices/data-plane/Face/stable/v1.0/examples/CreateNewLargeFaceList.json
  specification/cognitiveservices/data-plane/Face/stable/v1.0/examples/CreateNewLargePersonGroup.json
  specification/cognitiveservices/data-plane/Face/stable/v1.0/examples/CreateNewPersonGroup.json
  specification/cognitiveservices/data-plane/Face/stable/v1.0/examples/DetectWithStream.json
  specification/cognitiveservices/data-plane/Face/stable/v1.0/examples/DetectWithUrl.json
  specification/cognitiveservices/data-plane/Face/stable/v1.0/examples/GetFaceList.json
  specification/cognitiveservices/data-plane/Face/stable/v1.0/examples/GetLargeFaceList.json
  specification/cognitiveservices/data-plane/Face/stable/v1.0/examples/GetLargePersonGroup.json
  specification/cognitiveservices/data-plane/Face/stable/v1.0/examples/GetLargePersonGroupPerson.json
  specification/cognitiveservices/data-plane/Face/stable/v1.0/examples/GetPersonGroup.json
  specification/cognitiveservices/data-plane/Face/stable/v1.0/examples/GetPersonGroupPerson.json
  specification/cognitiveservices/data-plane/Face/stable/v1.0/examples/ListFaceLists.json
  specification/cognitiveservices/data-plane/Face/stable/v1.0/examples/ListLargeFaceLists.json
  specification/cognitiveservices/data-plane/Face/stable/v1.0/examples/ListLargePersonGroupPersons.json
  specification/cognitiveservices/data-plane/Face/stable/v1.0/examples/ListLargePersonGroups.json
  specification/cognitiveservices/data-plane/Face/stable/v1.0/examples/ListPersonGroups.json
  specification/cognitiveservices/data-plane/Face/stable/v1.0/examples/UpdateLargePersonGroup.json
  specification/cognitiveservices/data-plane/Face/stable/v1.0/examples/UpdatePersonGroup.json
  specification/cognitiveservices/data-plane/Face/stable/v1.0/examples/UpdatePersonGroupPersonFace.json
Labels: DoNotMerge, potential-sdk-breaking-change

#5384 Swagger Changes For Alerts and Alerts Summary as extension resources
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-03-01-preview/AlertsManagement.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-03-01-preview/examples/Alerts_ChangeState.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-03-01-preview/examples/Alerts_GetById.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-03-01-preview/examples/Alerts_History.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-03-01-preview/examples/Alerts_List.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-03-01-preview/examples/Alerts_Summary.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-03-01-preview/examples/SmartGroups_ChangeState.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-03-01-preview/examples/SmartGroups_GetById.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-03-01-preview/examples/SmartGroups_History.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-03-01-preview/examples/SmartGroups_List.json
Labels: ARMSignedOff

#5289 [Hub Generated] Review request for Microsoft.VirtualMachineImages to add version 2019-02-01-preview
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-02-01-preview/examples/CreateImageTemplate.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-02-01-preview/examples/DeleteImageTemplate.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-02-01-preview/examples/GetImageTemplate.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-02-01-preview/examples/GetRunOutput.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-02-01-preview/examples/ListImageTemplates.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-02-01-preview/examples/ListImageTemplatesByRg.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-02-01-preview/examples/ListRunOutputs.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-02-01-preview/examples/RunImageTemplate.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-02-01-preview/examples/UpdateImageTemplateTags.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/preview/2019-02-01-preview/imagebuilder.json
  specification/imagebuilder/resource-manager/readme.go.md
  specification/imagebuilder/resource-manager/readme.md
Labels: ARMSignedOff

#5432 [Hub Generated] Review request for Microsoft.ResourceGraph to add version 2019-04-01
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2019-04-01/examples/OperationsList.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2019-04-01/examples/ResourcesAliasQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2019-04-01/examples/ResourcesBasicQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2019-04-01/examples/ResourcesComplexQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2019-04-01/examples/ResourcesFacetQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2019-04-01/examples/ResourcesFilterQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2019-04-01/examples/ResourcesFirstPageQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2019-04-01/examples/ResourcesNextPageQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2019-04-01/examples/ResourcesPropertiesQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2019-04-01/examples/ResourcesQueryOptions.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2019-04-01/examples/ResourcesRandomPageQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2019-04-01/examples/ResourcesSummarizeQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2019-04-01/resourcegraph.json
  specification/resourcegraph/resource-manager/readme.md
Labels: ARMSignedOff

#5347 Remove deprecated property from VMScaleSetVM properties
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-10-01/compute.json
Labels: ARMChangesRequested, ARMSignedOff, WaitForARMFeedback, potential-sdk-breaking-change

#5468 [Datafactory] Webhook activity
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff

#5234 Security: 2017-08-01-preview - Introduce IoT security solution resource
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/IoTSecuritySolutions/CreateIoTSecuritySolution_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/IoTSecuritySolutions/DeleteIoTSecuritySolution_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/IoTSecuritySolutions/GetIoTSecuritySolution_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/IoTSecuritySolutions/GetIoTSecuritySolutionsListByIotHubAndRg_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/IoTSecuritySolutions/GetIoTSecuritySolutionsListByIotHub_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/IoTSecuritySolutions/GetIoTSecuritySolutionsListByRg_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/IoTSecuritySolutions/GetIoTSecuritySolutionsList_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/IoTSecuritySolutions/UpdateIoTSecuritySolution_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/iotSecuritySolutions.json
Labels: ARMSignedOff

#5223 Updated VNet Gateways operations: Fix for #4642
  specification/network/resource-manager/Microsoft.Network/stable/2017-06-01/virtualNetworkGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2017-08-01/virtualNetworkGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2017-09-01/virtualNetworkGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2017-10-01/virtualNetworkGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2017-11-01/virtualNetworkGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-01-01/virtualNetworkGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-02-01/examples/VirtualNetworkGatewayGenerateVpnClientPackage.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-02-01/virtualNetworkGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-04-01/examples/VirtualNetworkGatewayGenerateVpnClientPackage.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-04-01/virtualNetworkGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-06-01/examples/VirtualNetworkGatewayGenerateVpnClientPackage.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-06-01/virtualNetworkGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/examples/VirtualNetworkGatewayGenerateVpnClientPackage.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/virtualNetworkGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/examples/VirtualNetworkGatewayGenerateVpnClientPackage.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/virtualNetworkGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-10-01/examples/VirtualNetworkGatewayGenerateVpnClientPackage.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-10-01/virtualNetworkGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/examples/VirtualNetworkGatewayGenerateVpnClientPackage.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/virtualNetworkGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/examples/VirtualNetworkGatewayGenerateVpnClientPackage.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/virtualNetworkGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/virtualNetworkGateway.json
Labels: potential-sdk-breaking-change

#5470 Blueprints API update for excludedPrincipals and whoIsBlueprint
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/assignmentOperation.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/blueprintAssignment.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/blueprintDefinition.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/WhoIsBlueprint_Action.json
  specification/blueprint/resource-manager/readme.md
  specification/blueprint/resource-manager/readme.python.md
  specification/blueprint/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#5486 [Hub Generated] Review request for Microsoft.Billing to add version 2018-11-01-preview
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/examples/ElevateInvoiceSection.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/examples/InvoiceSectionsListByBillingProfileName.json
Labels: ARMSignedOff

#5466 [Hub Generated] Review request for Microsoft.HanaOnAzure to add version 2017-11-03-preview
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/examples/HanaInstances_Monitoring.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/hanaonazure.json
Labels: ARM-overdue, Changes Required, WaitForARMFeedback

#5465 Adding windowsProfile and maxAgentPools property in the new 2019-04-01 api version
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-04-01/examples/ManagedClustersCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-04-01/examples/ManagedClustersGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-04-01/examples/ManagedClustersList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-04-01/examples/ManagedClustersListByResourceGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-04-01/managedClusters.json
  specification/containerservice/resource-manager/readme.go.md
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: potential-sdk-breaking-change
