Repository Azure/azure-rest-api-specs, pull requests merged in 2019-12, with the labels that each got.

#7790 Fix response structure
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBCassandraKeyspaceCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBCassandraKeyspaceGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBCassandraKeyspaceList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBCassandraTableCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBCassandraTableGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBCassandraTableList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBGremlinDatabaseCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBGremlinDatabaseGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBGremlinDatabaseList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBGremlinGraphCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBGremlinGraphGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBGremlinGraphList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBMongoDBCollectionCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBMongoDBCollectionGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBMongoDBCollectionList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBMongoDBDatabaseCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBMongoDBDatabaseGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBMongoDBDatabaseList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlContainerCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlContainerGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlContainerList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlDatabaseCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlDatabaseGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlDatabaseList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlStoredProcedureCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlStoredProcedureGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlStoredProcedureList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlTriggerCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlTriggerGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlTriggerList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlUserDefinedFunctionCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlUserDefinedFunctionGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlUserDefinedFunctionList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBTableCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBTableGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBTableList.json
Labels: ARMSignedOff

#7866 Update IntegrationRuntime: add new optional property for public ip feature
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/IntegrationRuntime.json
Labels: ARMSignedOff

#7865 Update Salesforce LinkedService Add ApiVersion
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
Labels: ARMSignedOff

#7860 [DataFactory]Support partition of SAP HANA
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff

#7806 PostgreSQL, MySQL, MariaDB Swagger for the data encryption key api's …
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-preview/mariadb.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/mariadb.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2020-01-01-privatepreview/DataEncryptionKeys.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2020-01-01-privatepreview/examples/ServerKeyCreateOrUpdate.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2020-01-01-privatepreview/examples/ServerKeyDelete.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2020-01-01-privatepreview/examples/ServerKeyGet.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2020-01-01-privatepreview/examples/ServerKeyList.json
  specification/mariadb/resource-manager/readme.md
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-12-01-preview/mysql.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/mysql.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-01-01-privatepreview/DataEncryptionKeys.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-01-01-privatepreview/examples/ServerKeyCreateOrUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-01-01-privatepreview/examples/ServerKeyDelete.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-01-01-privatepreview/examples/ServerKeyGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-01-01-privatepreview/examples/ServerKeyList.json
  specification/mysql/resource-manager/readme.md
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-12-01-preview/postgresql.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-01-01-privatepreview/DataEncryptionKeys.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-01-01-privatepreview/examples/ServerKeyCreateOrUpdate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-01-01-privatepreview/examples/ServerKeyDelete.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-01-01-privatepreview/examples/ServerKeyGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-01-01-privatepreview/examples/ServerKeyList.json
  specification/postgresql/resource-manager/readme.md
Labels: ARMSignedOff

#7853 fix for enum naming error in github issue #7822
  specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/Manifest.json
Labels: ARMSignedOff

#7354 Updated Azure Stack Bridge API Descriptions
  specification/azsadmin/resource-manager/azurebridge/Microsoft.AzureBridge.Admin/preview/2016-01-01/AzureBridge.json
  specification/azsadmin/resource-manager/azurebridge/Microsoft.AzureBridge.Admin/preview/2016-01-01/DownloadedProduct.json
  specification/azsadmin/resource-manager/azurebridge/Microsoft.AzureBridge.Admin/preview/2016-01-01/Product.json
  specification/azsadmin/resource-manager/azurebridge/Microsoft.AzureBridge.Admin/preview/2016-01-01/examples/DownloadedProduct/Put.json
  specification/azsadmin/resource-manager/azurebridge/Microsoft.AzureBridge.Admin/preview/2016-01-01/examples/Product/download.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/Product.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/examples/Product/GetPost.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/examples/Product/ListPost.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/examples/Product/UploadLog.json
Labels: ARMSignedOff

#7624 Adding Personalizer stable/v1.0 APIs
  specification/cognitiveservices/data-plane/Personalizer/readme.md
  specification/cognitiveservices/data-plane/Personalizer/stable/v1.0/Personalizer.json
  specification/cognitiveservices/data-plane/Personalizer/stable/v1.0/examples/Evaluations_Create.json
  specification/cognitiveservices/data-plane/Personalizer/stable/v1.0/examples/Evaluations_Delete.json
  specification/cognitiveservices/data-plane/Personalizer/stable/v1.0/examples/Evaluations_Get.json
  specification/cognitiveservices/data-plane/Personalizer/stable/v1.0/examples/Evaluations_List.json
  specification/cognitiveservices/data-plane/Personalizer/stable/v1.0/examples/Events_Activate.json
  specification/cognitiveservices/data-plane/Personalizer/stable/v1.0/examples/Events_Reward.json
  specification/cognitiveservices/data-plane/Personalizer/stable/v1.0/examples/Log_Delete.json
  specification/cognitiveservices/data-plane/Personalizer/stable/v1.0/examples/Log_GetProperties.json
  specification/cognitiveservices/data-plane/Personalizer/stable/v1.0/examples/Model_Get.json
  specification/cognitiveservices/data-plane/Personalizer/stable/v1.0/examples/Model_GetProperties.json
  specification/cognitiveservices/data-plane/Personalizer/stable/v1.0/examples/Model_Reset.json
  specification/cognitiveservices/data-plane/Personalizer/stable/v1.0/examples/Policy_Get.json
  specification/cognitiveservices/data-plane/Personalizer/stable/v1.0/examples/Policy_Reset.json
  specification/cognitiveservices/data-plane/Personalizer/stable/v1.0/examples/Policy_Update.json
  specification/cognitiveservices/data-plane/Personalizer/stable/v1.0/examples/Rank.json
  specification/cognitiveservices/data-plane/Personalizer/stable/v1.0/examples/ServiceConfiguration_Get.json
  specification/cognitiveservices/data-plane/Personalizer/stable/v1.0/examples/ServiceConfiguration_Update.json
Labels: AzureAPIBoardSignedOff

#7797 Create proxy.json
  specification/hdinsight/hdinsight-kafka-rest-proxy/proxy.json
Labels: WaitingForAzureAPIBoard

#7622 Assessment metadata API (Azure Security Center)
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/assessmentMetadata.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/AssessmentsMetadata/CreateAssessmentsMetadata_subscription_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/AssessmentsMetadata/DeleteAssessmentsMetadata_subscription_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/AssessmentsMetadata/GetAssessmentsMetadata_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/AssessmentsMetadata/GetAssessmentsMetadata_subscription_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/AssessmentsMetadata/ListAssessmentsMetadata_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/AssessmentsMetadata/ListAssessmentsMetadata_subscription_example.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff

#7873 Add the subscription diagnostic settings API
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/examples/createOrUpdateSubscriptionDiagnosticSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/examples/deleteSubscriptionDiagnosticSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/examples/getSubscriptionDiagnosticSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/examples/listSubscriptionDiagnosticSettings.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/subscriptionDiagnosticsSettings_API.json
  specification/monitor/resource-manager/readme.md
Labels: ARMSignedOff

#7539 Dev ApplicationInsights microsoft.insights 2019
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/components_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/ComponentsCreate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/ComponentsGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/ComponentsList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/ComponentsListByResourceGroup.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/ComponentsUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/ComponentsUpdateTagsOnly.json
Labels: ARMSignedOff, Application Insights

#7903 Update GoogleAdWords and GoogleBigQuery clientId for fix issue
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
Labels: ARMSignedOff

#7872 databricks: switching `parameters` to be a proper struct
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2018-04-01/databricks.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2018-04-01/examples/WorkspaceCreate.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2018-04-01/examples/WorkspaceCreateWithParameters.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2018-04-01/examples/WorkspaceGetParameters.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2018-04-01/examples/WorkspaceUpdate.json
Labels: ARMSignedOff

#7521 Add data plane API swagger for attestation
  custom-words.txt
  specification/attestation/data-plane/Microsoft.Attestation/preview/2018-09-01-preview/attestation.json
  specification/attestation/data-plane/Microsoft.Attestation/preview/2018-09-01-preview/examples/Get_Policy.json
  specification/attestation/data-plane/Microsoft.Attestation/preview/2018-09-01-preview/examples/Reset_Policy.json
  specification/attestation/data-plane/Microsoft.Attestation/preview/2018-09-01-preview/examples/Set_Policy.json
  specification/attestation/data-plane/Microsoft.Attestation/preview/2018-09-01-preview/examples/UpdatePolicy.json
  specification/attestation/data-plane/readme.md
  specification/attestation/data-plane/readme.python.md
Labels: AzureAPIBoardSignedOff

#7633 [Data Factory]Add property 'prefix' for Azure Blob source
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#7876 support sftp sink
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff

#7859 [Search] Rename CognitiveServices to CognitiveServicesAccount
  specification/search/data-plane/Microsoft.Azure.Search.Service/stable/2019-05-06/searchservice.json
Labels: Search

#7839 [Hub Generated] Review request for Microsoft.Resources to add version stable/2019-11-01
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-11-01/examples/GetLocations.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-11-01/examples/GetSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-11-01/examples/GetSubscriptions.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-11-01/subscriptions.json
  specification/resources/resource-manager/readme.md
Labels: ARMSignedOff

#7817 Dev containerservice microsoft.container service 2019 11 01
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-11-01/examples/AgentPoolsCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-11-01/examples/ManagedClustersCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-11-01/examples/ManagedClustersGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-11-01/managedClusters.json
  specification/containerservice/resource-manager/readme.md
Labels: ARMSignedOff

#7882 Update examples for Images in 2019-07-01 version according to the upd…
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/CreateAnImageFromABlob.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/CreateAnImageFromAManagedDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/CreateAnImageFromASnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/CreateAnImageFromAVM.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/CreateAnImageThatIncludesADataDiskFromABlob.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/CreateAnImageThatIncludesADataDiskFromAManagedDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/CreateAnImageThatIncludesADataDiskFromASnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/GetInformationAboutAnImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/UpdateImage.json
Labels: ARMSignedOff

#7898 [READY FOR REVIEW] Upgrade version to 2020-01-01 and Implement Private Link APIs
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/ListSkus.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/ListUsages.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/ListVMSizesResult.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/ListWorkspaceFeatures.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/ListWorkspaceQuotasByVMFamily.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/amlComputeListNodes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/createBasicAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/createBasicAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/createBasicDataFactoryCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/createWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/deleteCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/deleteWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/getAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/getAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/getComputes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/getWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/getWorkspacesByResourceGroup.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/getWorkspacesBySubscription.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/listKeysAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/listWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/patchAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/resyncWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/updateAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/updateAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/updateQuota.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/updateWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/workspaceDeletePrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/workspaceGetPrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/workspaceListPrivateLinkResources.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/workspacePutPrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/machineLearningServices.json
  specification/machinelearningservices/resource-manager/readme.go.md
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff

#7871 DeploymentManager API 2019-11-preview
  custom-words.txt
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/deploymentmanager.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/artifactsource_createorupdate.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/artifactsource_createorupdate_artifactroot.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/artifactsource_delete.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/artifactsource_get.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/artifactsources_list.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/operations_list.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/rollout_createorupdate.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/rollout_delete.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/rollout_get.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/rollout_post_cancel.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/rollout_post_restart.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/rollouts_list.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/service_createorupdate.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/service_delete.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/service_get.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/services_list.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/servicetopologies_list.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/servicetopology_createorupdate.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/servicetopology_createorupdate_noartifactsource.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/servicetopology_delete.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/servicetopology_get.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/serviceunit_createorupdate.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/serviceunit_createorupdate_noartifactsource.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/serviceunit_delete.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/serviceunit_get.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/serviceunits_list.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/step_delete.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/step_get.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/step_health_check_createorupdate.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/step_wait_createorupdate.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/examples/steps_list.json
  specification/deploymentmanager/resource-manager/readme.go.md
  specification/deploymentmanager/resource-manager/readme.md
  specification/deploymentmanager/resource-manager/readme.ruby.md
Labels: ARMSignedOff

#7814 Corrected the patch request as per actual implementation and rest API standards
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/billing.json
Labels: ARMSignedOff

#7930 Dev containerservice microsoft.container service 2019 11 01
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-11-01/examples/AgentPoolsCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-11-01/examples/AgentPoolsDelete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-11-01/examples/AgentPoolsGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-11-01/examples/AgentPoolsGetAgentPoolAvailableVersions.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-11-01/examples/AgentPoolsGetUpgradeProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-11-01/examples/AgentPoolsList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-11-01/examples/ManagedClustersCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-11-01/examples/ManagedClustersDelete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-11-01/examples/ManagedClustersGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-11-01/examples/ManagedClustersGetAccessProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-11-01/examples/ManagedClustersGetUpgradeProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-11-01/examples/ManagedClustersList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-11-01/examples/ManagedClustersListByResourceGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-11-01/examples/ManagedClustersListClusterCredentialResult.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-11-01/examples/ManagedClustersResetAADProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-11-01/examples/ManagedClustersResetServicePrincipalProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-11-01/examples/ManagedClustersRotateClusterCertificates.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-11-01/examples/ManagedClustersUpdateTags.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-11-01/managedClusters.json
  specification/containerservice/resource-manager/readme.md
Labels: ARMSignedOff

#7913 Add encryption in DiskUpdateProperties and SnapshotUpdateProperties
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/disk.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#7928 Update description for grace period and remove property from Automati…
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-10-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-10-01/examples/CreateAScaleSetWithAutomaticRepairs.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateAScaleSetWithAutomaticRepairs.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/CreateAScaleSetWithAutomaticRepairs.json
Labels: ARMSignedOff

#7888 [Hub Generated] Review request for Microsoft.WindowsESU to add version preview/2019-09-16-preview
  custom-words.txt
  specification/windowsesu/resource-manager/Microsoft.WindowsESU/preview/2019-09-16-preview/examples/CreateMultipleActivationKey.json
  specification/windowsesu/resource-manager/Microsoft.WindowsESU/preview/2019-09-16-preview/examples/DeleteMultipleActivationKey.json
  specification/windowsesu/resource-manager/Microsoft.WindowsESU/preview/2019-09-16-preview/examples/GetMultipleActivationKey.json
  specification/windowsesu/resource-manager/Microsoft.WindowsESU/preview/2019-09-16-preview/examples/ListMultipleActivationKeys.json
  specification/windowsesu/resource-manager/Microsoft.WindowsESU/preview/2019-09-16-preview/examples/ListMultipleActivationKeysByResourceGroup.json
  specification/windowsesu/resource-manager/Microsoft.WindowsESU/preview/2019-09-16-preview/examples/ListOperations.json
  specification/windowsesu/resource-manager/Microsoft.WindowsESU/preview/2019-09-16-preview/examples/UpdateMultipleActivationKey.json
  specification/windowsesu/resource-manager/Microsoft.WindowsESU/preview/2019-09-16-preview/windowsesu.json
  specification/windowsesu/resource-manager/readme.csharp.md
  specification/windowsesu/resource-manager/readme.go.md
  specification/windowsesu/resource-manager/readme.md
  specification/windowsesu/resource-manager/readme.python.md
  specification/windowsesu/resource-manager/readme.ruby.md
  specification/windowsesu/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#7699 Policy Updates for new version
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/AzureIaasVm/BackupPolicies_List.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/AzureIaasVm/BackupProtectedItems_List.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/AzureIaasVm/ClassicCompute_ProtectedItem_Get.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/AzureIaasVm/Compute_ProtectedItem_Get.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/AzureIaasVm/ConfigureProtection.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/AzureIaasVm/ProtectedItemOperationResults.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/AzureIaasVm/ProtectionPolicies_CreateOrUpdate_Complex.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/AzureIaasVm/ProtectionPolicies_CreateOrUpdate_Simple.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/AzureIaasVm/ProtectionPolicies_Get.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/AzureIaasVm/ProtectionPolicyOperationResults_Get.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/AzureIaasVm/RecoveryPoints_Get.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/AzureIaasVm/RecoveryPoints_List.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/AzureIaasVm/StopProtection.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/AzureIaasVm/TriggerRestore_ALR.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/AzureIaasVm/TriggerRestore_RestoreDisks.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/AzureIaasVm/ValidateOperation_RestoreDisk.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/AzureWorkload/BackupPolicies_List.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/AzureWorkload/ProtectionPolicies_CreateOrUpdate_Complex.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/Common/BackupResourceVaultConfigs_Get.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/Common/BackupResourceVaultConfigs_Patch.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/Common/CancelJobOperationResult.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/Common/ExportJobsOperationResult.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/Common/GetJobDetails.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/Common/ListJobs.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/Common/ListJobsWithAllSupportedFilters.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/Common/ListJobsWithStartTimeAndEndTimeFilters.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/Common/ProtectedItem_Delete.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/Common/TriggerCancelJob.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/examples/Common/TriggerExportJobs.json
  specification/recoveryservicesbackup/resource-manager/readme.md
Labels: ARMSignedOff

#7971 [Blueprints] Parameter value model update and add managedResources property
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/blueprintAssignment.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/blueprintDefinition.json
Labels: ARMSignedOff

#7949 Added location capabilities (supported editions) for Instance Pools
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/capabilities.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/LocationCapabilityListByLocation.json
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff

#7932 [DataFactory] Support map complex values to string in copy activity
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff

#7938 Fix Microsoft.Authorization/policy* help generation issues
  specification/resources/resource-manager/Microsoft.Authorization/stable/2019-09-01/examples/createOrUpdatePolicyDefinitionAdvancedParams.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2019-09-01/policyAssignments.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2019-09-01/policyDefinitions.json
Labels: ARMSignedOff

#7883 [Hub Generated] Review request for Microsoft.ContainerRegistry to add version preview/2019-12-01-preview
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/containerregistry.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/ImportImageByManifestDigest.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/ImportImageByTag.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/ImportImageFromPublicRegistry.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/RegistryCheckNameAvailable.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/RegistryCheckNameNotAvailable.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/RegistryCreate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/RegistryDelete.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/RegistryGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/RegistryList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/RegistryListByResourceGroup.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/RegistryListCredentials.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/RegistryListUsages.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/RegistryRegenerateCredential.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/RegistryUpdate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/ReplicationCreate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/ReplicationDelete.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/ReplicationGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/ReplicationList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/ReplicationUpdate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/WebhookCreate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/WebhookDelete.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/WebhookGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/WebhookGetCallbackConfig.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/WebhookList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/WebhookListEvents.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/WebhookPing.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/WebhookUpdate.json
  specification/containerregistry/resource-manager/readme.go.md
  specification/containerregistry/resource-manager/readme.java.md
  specification/containerregistry/resource-manager/readme.md
  specification/containerregistry/resource-manager/readme.nodejs.md
  specification/containerregistry/resource-manager/readme.python.md
  specification/containerregistry/resource-manager/readme.ruby.md
  specification/containerregistry/resource-manager/readme.typescript.md
Labels: ARM-Review-Issue, ARMSignedOff

#7901 Microsoft.AAD/DomainService: Add 2020-01-01 api-version
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2020-01-01/domainservices.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2020-01-01/examples/CreateDomainService.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2020-01-01/examples/DeleteDomainService.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2020-01-01/examples/GetDomainService.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2020-01-01/examples/GetOperations.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2020-01-01/examples/ListDomainServicesByResourceGroup.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2020-01-01/examples/ListDomainServicesBySubscription.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2020-01-01/examples/UpdateDomainService.json
  specification/domainservices/resource-manager/readme.md
Labels: ARMSignedOff

#7335 ServiceBus: Added Namespace properties for BYOK
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2018-01-01-preview/servicebus-preview.json
Labels: ARMSignedOff

#7961 Honoring Disk encryption set Id as input for VMWare to Azure and Hype…
  specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryServices/stable/2018-07-10/service.json
Labels: ARMSignedOff, WaitForARMFeedback

#7889 [Hub Generated] Review request for Microsoft.Advisor to add version stable/2020-01-01
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2020-01-01/advisor.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2020-01-01/examples/CreateConfiguration.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2020-01-01/examples/CreateSuppression.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2020-01-01/examples/DeleteSuppression.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2020-01-01/examples/EmptyResponse.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2020-01-01/examples/GenerateRecommendations.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2020-01-01/examples/GetRecommendationDetail.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2020-01-01/examples/GetRecommendationMetadataEntity.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2020-01-01/examples/GetSuppressionDetail.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2020-01-01/examples/ListConfigurations.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2020-01-01/examples/ListRecommendationMetadata.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2020-01-01/examples/ListRecommendations.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2020-01-01/examples/ListSuppressions.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2020-01-01/feedback.md
  specification/advisor/resource-manager/readme.md
Labels: ARMSignedOff

#7895 [Security][Automations] Remove "x-ms-discriminator-value" from Inherited Models
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/automations.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/Automations/GetAutomationResourceGroup_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/Automations/GetAutomationsResourceGroup_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/Automations/GetAutomationsSubscription_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/Automations/PutAutomation_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/Automations/PutDisableAutomation_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/Automations/ValidateAutomation_example.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff

#7941 Adding the specs for Emerging Issues API
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2018-08-01/ResourceHealth.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2018-08-01/examples/EmergingIssues_Get.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2018-08-01/examples/EmergingIssues_List.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/stable/2017-07-01/examples/EmergingIssues_Get.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/stable/2017-07-01/examples/EmergingIssues_List.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/stable/2017-07-01/resourcehealth.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/stable/2018-07-01/ResourceHealth.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/stable/2018-07-01/examples/EmergingIssues_Get.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/stable/2018-07-01/examples/EmergingIssues_List.json
Labels: ARMSignedOff

#7881 Added connection monitor to networkWatcher swagger
  custom-words.txt
  specification/network/resource-manager/Microsoft.Network/stable/2019-11-01/examples/NetworkWatcherConnectionMonitorCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-11-01/examples/NetworkWatcherConnectionMonitorDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-11-01/examples/NetworkWatcherConnectionMonitorGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-11-01/examples/NetworkWatcherConnectionMonitorList.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-11-01/examples/NetworkWatcherConnectionMonitorQuery.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-11-01/examples/NetworkWatcherConnectionMonitorStart.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-11-01/examples/NetworkWatcherConnectionMonitorStop.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-11-01/examples/NetworkWatcherConnectionMonitorUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-11-01/examples/NetworkWatcherConnectionMonitorV2Create.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-11-01/networkWatcher.json
  specification/network/resource-manager/readme.md
Labels: ARMSignedOff

#7989 ProximityPlacementGroup definition update for colocation status
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/compute.json
Labels: ARMSignedOff

#6142 [Cog Service AnomalyDetector] add more apis
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.0/AnomalyDetector.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.0/examples/ChangePointDetect.json
  specification/cognitiveservices/data-plane/AnomalyDetector/readme.md
Labels: WaitingForAzureAPIBoard

#7678 Assessments API (Azure Security Center)
  custom-words.txt
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/assessments.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/Assessments/DeleteAssessment_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/Assessments/GetAssessmentWithExpand_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/Assessments/GetAssessment_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/Assessments/ListAssessments_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/Assessments/PutAssessment_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/subAssessments.json
  specification/security/resource-manager/common/v1/types.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff

#8021 AzureSiteRecovery - Adding new properties for test failover and resource rename.
  specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryServices/stable/2018-07-10/service.json
Labels: ARMSignedOff
