Repository Azure/azure-rest-api-specs, pull requests merged in 2019-06, with the labels that each got.

#6146 [Hub Generated] Review request for Microsoft.SqlVirtualMachine to add version preview/2017-03-01-preview
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2017-03-01-preview/examples/CreateOrUpdateAvailabilityGroupListener.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2017-03-01-preview/examples/CreateOrUpdateSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2017-03-01-preview/examples/CreateOrUpdateSqlVirtualMachineMAX.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2017-03-01-preview/examples/CreateOrUpdateVirtualMachineWithVMGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2017-03-01-preview/examples/UpdateSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2017-03-01-preview/examples/UpdateSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2017-03-01-preview/sqlvm.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#6075 [Hub Generated] Review request for Microsoft.Billing to add version preview/2018-11-01-preview
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/examples/TransferBillingSubscription.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/examples/TransferProduct.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/examples/ValidateProductTransferFailure.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/examples/ValidateProductTransferSuccess.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/examples/ValidateSubscriptionTransferFailure.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/examples/ValidateSubscriptionTransferSuccess.json
Labels: ARMSignedOff

#6148 [Resource Graph] result format option added
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2019-04-01/resourcegraph.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#5956 [Hub Generated] Review request for Microsoft.CostManagement to add version preview/2019-04-01-preview
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-04-01-preview/costmanagement.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-04-01-preview/examples/Budget.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-04-01-preview/examples/BudgetsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-04-01-preview/examples/CreateOrUpdateBudget.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-04-01-preview/examples/DeleteBudget.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-04-01-preview/examples/PrivateView.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-04-01-preview/examples/PrivateViewCreateOrUpdate.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-04-01-preview/examples/PrivateViewDelete.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-04-01-preview/examples/PrivateViewList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-04-01-preview/examples/ViewByResourceGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-04-01-preview/examples/ViewCreateOrUpdateByResourceGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-04-01-preview/examples/ViewDeleteByResourceGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-04-01-preview/examples/ViewListByResourceGroup.json
  specification/cost-management/resource-manager/readme.md
Labels: ARMSignedOff

#6086 Essential corrections to R4 standard swagger for GA
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-05-01/examples/Pools_CreateOrUpdate.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-05-01/examples/Volumes_CreateOrUpdate.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-05-01/examples/Volumes_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-05-01/netapp.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#6124 Add SmartDetectorAlertRules swagger
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/SmartDetectorAlertRulesApi.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/examples/SmartDetectorAlertRule_CreateOrUpdate.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/examples/SmartDetectorAlertRule_Delete.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/examples/SmartDetectorAlertRule_Get.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/examples/SmartDetectorAlertRule_List.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/examples/SmartDetectorAlertRule_ListByResourceGroup.json
  specification/alertsmanagement/resource-manager/readme.md
Labels: ARMSignedOff

#6161 [AzureSearch] Revert exposing Skill.Name in the swagger spec
  specification/search/data-plane/Microsoft.Azure.Search.Service/stable/2019-05-06/examples/SearchServiceCreateOrUpdateSkillset.json
  specification/search/data-plane/Microsoft.Azure.Search.Service/stable/2019-05-06/searchservice.json
Labels: potential-sdk-breaking-change

#6219 Add elevateAccess to Microsoft.Authorization
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2015-07-01/authorization-ElevateAccessCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2015-07-01/examples/ElevateAccess.json
  specification/authorization/resource-manager/readme.md
Labels: ARMSignedOff

#6243 [SRP] Default value change for account property supportsHttpsTrafficOnly
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountCreate.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/storage.json
Labels: ARMSignedOff

#5918 [Hub Generated] Review request for FrontDoor WAF to add version 2019-03-01 stable
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-03-01/examples/WafListManagedRuleSets.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-03-01/examples/WafListPolicies.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-03-01/examples/WafPolicyCreateOrUpdate.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-03-01/examples/WafPolicyDelete.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-03-01/examples/WafPolicyGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-03-01/network.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-03-01/webapplicationfirewall.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-04-01/webapplicationfirewall.json
  specification/frontdoor/resource-manager/readme.md
Labels: ARMSignedOff, potential-sdk-breaking-change

#5943 Add APIs for throughput read and update
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBCassandraKeyspaceThroughputGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBCassandraKeyspaceThroughputUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBCassandraTableThroughputGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBCassandraTableThroughputUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBGremlinDatabaseThroughputGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBGremlinDatabaseThroughputUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBGremlinGraphThroughputGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBGremlinGraphThroughputUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBMongoDBCollectionThroughputGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBMongoDBCollectionThroughputUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBMongoDBDatabaseThroughputGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBMongoDBDatabaseThroughputUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBSqlContainerThroughputGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBSqlContainerThroughputUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBSqlDatabaseThroughputGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBSqlDatabaseThroughputUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBTableThroughputGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/examples/CosmosDBTableThroughputUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/feedback.md
Labels: ARMSignedOff, WaitingForAzureAPIBoard

#6204 [Datafactory] ADLS Gen 2 support for HDI BYOC and vNet support for HDI on demand
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
Labels: ARMSignedOff

#6250 [SRP] Remove azureFilesAadIntegration and add AzureFilesIdentityBased Authentication in storage account properties
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountCreate.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountGetProperties.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountList.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountListByResourceGroup.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountUpdate.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/storage.json
Labels: ARMSignedOff

#6198 Updated swagger spec for stable/2018-05-05 version
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2018-05-05/AlertsManagement.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#6141 added new resource to securityinsights- entityQueries
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/aggregations/GetCasesAggregations.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/bookmarks/CreateBookmark.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/bookmarks/GetBookmarkById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/bookmarks/GetBookmarks.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/cases/CreateCase.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/cases/GetCaseById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/cases/GetCases.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/entities/GetAccountEntityById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/entities/GetEntities.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/entities/GetFileEntityById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/entities/GetHostEntityById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/entityQueries/GetEntityQueries.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/entityQueries/GetEntityQueryById.json
Labels: ARMSignedOff

#5962 [Hub Generated] Review request for Microsoft.Billing to add version preview/2018-11-01-preview
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/examples/CreateBillingProfile.json
Labels: ARMSignedOff

#6232 removing resource group name from PrepareNetworkPoliciesRequest
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/virtualNetwork.json
Labels: ARMSignedOff

#5885 Swagger API for Azure CDN WebApplicationFirewallPolicy resource
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/cdn.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/cdnwebapplicationfirewall.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/CheckNameAvailability.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/CheckNameAvailabilityWithSubscription.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/CustomDomains_Create.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/CustomDomains_Delete.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/CustomDomains_DisableCustomHttps.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/CustomDomains_EnableCustomHttpsUsingBYOC.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/CustomDomains_EnableCustomHttpsUsingCDNManagedCertificate.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/CustomDomains_Get.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/CustomDomains_ListByEndpoint.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/EdgeNodes_List.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/Endpoints_Create.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/Endpoints_Delete.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/Endpoints_Get.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/Endpoints_ListByProfile.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/Endpoints_ListResourceUsage.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/Endpoints_LoadContent.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/Endpoints_PurgeContent.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/Endpoints_Start.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/Endpoints_Stop.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/Endpoints_Update.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/Endpoints_ValidateCustomDomain.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/Operations_List.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/Origins_Get.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/Origins_ListByEndpoint.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/Origins_Update.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/Profiles_Create.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/Profiles_Delete.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/Profiles_GenerateSsoUri.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/Profiles_Get.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/Profiles_List.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/Profiles_ListByResourceGroup.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/Profiles_ListResourceUsage.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/Profiles_ListSupportedOptimizationTypes.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/Profiles_Update.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/ResourceUsage_List.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/ValidateProbe.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/WafListManagedRuleSets.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/WafListPolicies.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/WafPatchPolicy.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/WafPolicyCreateOrUpdate.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/WafPolicyDelete.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/WafPolicyGet.json
  specification/cdn/resource-manager/readme.go.md
  specification/cdn/resource-manager/readme.md
Labels: ARMSignedOff

#5450 Fixing GetServerVariables APIs for 2018-11-01
  specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/examples/ApplicationGatewayAvailableRequestHeadersGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/examples/ApplicationGatewayAvailableResponseHeadersGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/examples/ApplicationGatewayAvailableServerVariablesGet.json
Labels: ARMSignedOff, Reassign, potential-sdk-breaking-change

#6064 A series of Public swagger update (modification)
  specification/datafactory/resource-manager/Microsoft.DataFactory/preview/2017-09-01-preview/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/preview/2017-09-01-preview/entityTypes/IntegrationRuntime.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/preview/2017-09-01-preview/entityTypes/Pipeline.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/IntegrationRuntime.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff, Breaking Change Review

#5917 Add managementGroups/{id}/descendants route to allow pagination of descendants
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2018-03-01-preview/examples/GetDescendants.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2018-03-01-preview/management.json
Labels: ARMSignedOff

#6347 Add CheckDomainAvailability resource type.
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2017-04-18/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2017-04-18/examples/CheckDomainAvailability.json
Labels: ARMSignedOff

#6233 submit attestation REST API swagger .json file for review
  specification/attestation/resource-manager/Microsoft.Attestation/2018-09-01-preview/attestation.json
  specification/attestation/resource-manager/Microsoft.Attestation/2018-09-01-preview/examples/Create_AttestationProvider.json
  specification/attestation/resource-manager/Microsoft.Attestation/2018-09-01-preview/examples/Delete_AttestationProvider.json
  specification/attestation/resource-manager/Microsoft.Attestation/2018-09-01-preview/examples/Get_AttestationProvider.json
  specification/attestation/resource-manager/Microsoft.Attestation/2018-09-01-preview/examples/Get_AttestationProvidersList.json
  specification/attestation/resource-manager/Microsoft.Attestation/2018-09-01-preview/examples/Get_AttestationProvidersListByResourceGroup.json
  specification/attestation/resource-manager/Microsoft.Attestation/2018-09-01-preview/examples/Operations_List.json
  specification/attestation/resource-manager/readme.md
Labels: ARMSignedOff

#5894 Instance pool usages
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ListInstancePoolUsage.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ListInstancePoolUsageExpanded.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/usages.json
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff

#6218 Nithin/action group webhooks with azure active directory integration
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-06-01/actionGroups_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-06-01/examples/createOrUpdateActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-06-01/examples/deleteActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-06-01/examples/enableReceiver.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-06-01/examples/getActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-06-01/examples/listActionGroups.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-06-01/examples/patchActionGroup.json
  specification/monitor/resource-manager/readme.go.md
  specification/monitor/resource-manager/readme.md
Labels: ARMSignedOff

#6284 ContainerService 2019-06-01 API
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-06-01/examples/AgentPoolsCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-06-01/examples/AgentPoolsDelete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-06-01/examples/AgentPoolsGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-06-01/examples/AgentPoolsGetAgentPoolAvailableVersions.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-06-01/examples/AgentPoolsGetUpgradeProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-06-01/examples/AgentPoolsList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-06-01/examples/ContainerServiceListOrchestrators.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-06-01/examples/ManagedClustersCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-06-01/examples/ManagedClustersDelete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-06-01/examples/ManagedClustersGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-06-01/examples/ManagedClustersGetAccessProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-06-01/examples/ManagedClustersGetUpgradeProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-06-01/examples/ManagedClustersList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-06-01/examples/ManagedClustersListByResourceGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-06-01/examples/ManagedClustersListClusterCredentialResult.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-06-01/examples/ManagedClustersResetAADProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-06-01/examples/ManagedClustersResetServicePrincipalProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-06-01/examples/ManagedClustersUpdateTags.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-06-01/location.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-06-01/managedClusters.json
  specification/containerservice/resource-manager/readme.go.md
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: ARMSignedOff

#6361 [Hub Generated] Review request for Microsoft.Security to add version preview/2017-08-01-preview
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/iotSecuritySolutions.json
Labels: potential-sdk-breaking-change

#6346 (Public swagger update) Add TeradataSource,TeradataPartitionSettings,TeradataTableDataset,TeradataTableDatasetTypeProperties
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff

#6196 [Hub Generated] Review request for Microsoft.VMwareCloudSimple to add version stable/2019-04-01
  custom-words.txt
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/CreateDedicatedCloudNode.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/CreateDedicatedCloudService.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/CreateVirtualMachine.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/DeleteDedicatedCloudNode.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/DeleteDedicatedCloudService.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/DeleteVirtualMachine.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/GetDedicatedCloudNode.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/GetDedicatedCloudService.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/GetFailedOperationResult.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/GetOperationResult.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/GetPrivateCloud.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/GetResourcePool.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/GetVirtualMachine.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/GetVirtualMachineTemplate.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/GetVirtualNetwork.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/ListAvailabilities.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/ListDedicatedCloudNodes.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/ListDedicatedCloudServices.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/ListOperations.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/ListPrivateCloudInLocation.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/ListRGDedicatedCloudNodes.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/ListRGDedicatedCloudServices.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/ListRGVirtualMachines.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/ListResourcePools.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/ListUsages.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/ListVirtualMachineTemplates.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/ListVirtualMachines.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/ListVirtualNetworks.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/PatchDedicatedCloudNode.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/PatchDedicatedService.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/PatchVirtualMachine.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/StartVirtualMachine.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/StopInBodyVirtualMachine.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/examples/StopInQueryVirtualMachine.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/vmwarecloudsimple.json
  specification/vmwarecloudsimple/resource-manager/readme.csharp.md
  specification/vmwarecloudsimple/resource-manager/readme.go.md
  specification/vmwarecloudsimple/resource-manager/readme.java.md
  specification/vmwarecloudsimple/resource-manager/readme.md
  specification/vmwarecloudsimple/resource-manager/readme.python.md
  specification/vmwarecloudsimple/resource-manager/readme.ruby.md
  specification/vmwarecloudsimple/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#6367 Update compute.json to include hyperVGeneration property for Virtua…
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/compute.json
Labels: ARMSignedOff

#6399 [Blueprints] Add published blueprint object to the payload to support change notes
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/blueprintDefinition.json
Labels: ARMSignedOff

#6158 HDI add autoscale feature support
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/cluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/examples/CreateHDInsightClusterWithAutoscaleConfig.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/examples/HDI_Clusters_UpdateGatewaySettings_Enable.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/cluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/examples/CreateHDInsightClusterWithAutoscaleConfig.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/examples/HDI_Clusters_UpdateGatewaySettings_Enable.json
Labels: ARMSignedOff, HDInsight

#6428 Add start & shutdown Hana APIs to swagger spec.
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/examples/HanaInstances_Shutdown.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/examples/HanaInstances_Start.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/hanaonazure.json
Labels: ARMSignedOff

#6454 Adding flag to support non-dynamic destination types while exporting to LogAnalytics. Adding new metric units. Fixing some documentation issues.
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/diagnosticsSettings_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/examples/createOrUpdateDiagnosticSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-01-01/metricDefinitions_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-01-01/metrics_API.json
Labels: potential-sdk-breaking-change

#6409 Added SAP monitor resource type to HanaOnAzure RP
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/examples/SapMonitors_Create.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/examples/SapMonitors_Delete.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/examples/SapMonitors_Get.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/examples/SapMonitors_List.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/examples/SapMonitors_PatchTags.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/examples/SapMonitors_PatchTags_Delete.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/hanaonazure.json
Labels: ARMSignedOff

#6380 Updating service.json to add few properties to VMNicDetails and VMNicInputDetails
  specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryServices/stable/2018-07-10/service.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#6396 fix public swagger issues
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#6395 NetApp update swagger for R4.5
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-06-01/examples/Accounts_CreateOrUpdate.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-06-01/examples/Accounts_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-06-01/examples/Accounts_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-06-01/examples/Accounts_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-06-01/examples/Accounts_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-06-01/examples/CheckFilePathAvailability.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-06-01/examples/CheckNameAvailability.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-06-01/examples/MountTargets_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-06-01/examples/Pools_CreateOrUpdate.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-06-01/examples/Pools_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-06-01/examples/Pools_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-06-01/examples/Pools_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-06-01/examples/Pools_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-06-01/examples/Snapshots_Create.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-06-01/examples/Snapshots_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-06-01/examples/Snapshots_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-06-01/examples/Snapshots_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-06-01/examples/Snapshots_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-06-01/examples/Volumes_CreateOrUpdate.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-06-01/examples/Volumes_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-06-01/examples/Volumes_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-06-01/examples/Volumes_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-06-01/examples/Volumes_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-06-01/netapp.json
  specification/netapp/resource-manager/readme.md
Labels: ARMSignedOff

#6038 [ACR] Support Overriding Task parameters, support for ContinuationToken [NEW preview API VERSION]
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/containerregistry_build.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/ManagedIdentity/TasksCreate_WithSystemAndUserIdentities.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/ManagedIdentity/TasksCreate_WithSystemIdentity.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/ManagedIdentity/TasksCreate_WithUserIdentities.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/ManagedIdentity/TasksUpdate_WithKeyVaultCustomCredentials.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/ManagedIdentity/TasksUpdate_WithMSICustomCredentials.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/RegistriesGetBuildSourceUploadUrl.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/RegistriesScheduleRun.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/RegistriesScheduleRun_EncodedTaskRun.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/RegistriesScheduleRun_FileTaskRun.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/RegistriesScheduleRun_FileTask_WithCustomCredentials.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/RegistriesScheduleRun_Task.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/RegistriesScheduleRun_WithCustomCredentials.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/RunsCancel.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/RunsGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/RunsGetLogSasUrl.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/RunsList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/RunsUpdate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/TasksCreate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/TasksDelete.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/TasksGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/TasksGetDetails.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/TasksList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/TasksUpdate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/TasksUpdate_WithOpaqueCustomCredentials.json
  specification/containerregistry/resource-manager/readme.go.md
  specification/containerregistry/resource-manager/readme.java.md
  specification/containerregistry/resource-manager/readme.md
  specification/containerregistry/resource-manager/readme.nodejs.md
  specification/containerregistry/resource-manager/readme.python.md
  specification/containerregistry/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#6360 [HDInsight] Add ListBillingSpecs API to HDInsight's stable and preview version
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/examples/HDI_Locations_ListBillingSpecs.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/locations.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/examples/HDI_Locations_ListBillingSpecs.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/locations.json
Labels: ARMSignedOff, HDInsight, WaitForARMFeedback

#6402 Microsoft.Resources API update to 2019-05-10
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-05-10/examples/CreateResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-05-10/examples/ExportResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-05-10/examples/ExportResourceGroupWithFiltering.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-05-10/examples/PutDeploymentAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-05-10/examples/PutDeploymentWithOnErrorDeploymentLastSuccessful.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-05-10/examples/PutDeploymentWithOnErrorDeploymentSpecificDeployment.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-05-10/resources.json
  specification/resources/resource-manager/readme.csharp.md
  specification/resources/resource-manager/readme.md
  specification/resources/resource-manager/readme.python.md
Labels: ARMSignedOff
