Repository Azure/azure-rest-api-specs, pull requests merged in 2020-07, with the labels that each got.

#9988 PersonalDesktopAssignmentType optional
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-01-23-preview/desktopvirtualization.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-09-24-preview/desktopvirtualization.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-12-10-preview/desktopvirtualization.json
Labels: WaitForARMFeedback

#8881 alerts management separating error responses with same name
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2018-05-05-preview/AlertsManagement.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2018-11-02-privatepreview/AlertsManagement.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-03-01-preview/AlertsManagement.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/AlertsManagement.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2018-05-05/AlertsManagement.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/AlertsManagement.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/SmartDetectorAlertRulesApi.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-06-01/SmartDetectorAlertRulesApi.json
Labels: ARMSignedOff

#9965 Application Gateway Mutual Authentication Support
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/ApplicationGatewayCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/ApplicationGatewayGet.json
Labels: ARMSignedOff

#9592 Add preview APIs for deploying Azure machine learning services
  custom-words.txt
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/ListSkus.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/ListUsages.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/ListVMSizesResult.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/ListWorkspaceFeatures.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/ListWorkspaceQuotasByVMFamily.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/amlComputeListNodes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/createBasicAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/createBasicAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/createBasicDataFactoryCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/createLinkedWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/createOrUpdateService.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/createWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/deleteCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/deleteLinkedWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/deleteService.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/deleteWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/getAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/getAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/getComputes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/getLinkedWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/getService.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/getServices.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/getWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/getWorkspacesByResourceGroup.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/getWorkspacesBySubscription.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/listKeysAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/listLinkedWorkspaces.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/listWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/patchAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/resyncWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/updateAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/updateAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/updateQuota.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/updateWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/workspaceDeletePrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/workspaceGetPrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/workspaceListPrivateLinkResources.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/workspacePutPrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/machineLearningServices.json
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff

#9815 [Hub Generated] Review request for Microsoft.Billing to add version preview/2019-10-01-preview
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/ValidateDetachPaymentMethodEligibilityFailure.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/ValidateDetachPaymentMethodEligibilitySuccess.json
Labels: Approved-OkToMerge

#9835 updated confluent readme for input files & removed phone number property
  specification/confluent/resource-manager/Microsoft.Confluent/preview/2020-03-01-preview/confluent.json
  specification/confluent/resource-manager/Microsoft.Confluent/preview/2020-03-01-preview/examples/OrganizationOperations_List.json
  specification/confluent/resource-manager/Microsoft.Confluent/preview/2020-03-01-preview/examples/Organization_Create.json
  specification/confluent/resource-manager/Microsoft.Confluent/preview/2020-03-01-preview/examples/Organization_Delete.json
  specification/confluent/resource-manager/Microsoft.Confluent/preview/2020-03-01-preview/examples/Organization_Get.json
  specification/confluent/resource-manager/Microsoft.Confluent/preview/2020-03-01-preview/examples/Organization_ListByResourceGroup.json
  specification/confluent/resource-manager/Microsoft.Confluent/preview/2020-03-01-preview/examples/Organization_ListBySubscription.json
  specification/confluent/resource-manager/Microsoft.Confluent/preview/2020-03-01-preview/examples/Organization_Update.json
  specification/confluent/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange

#9894 [HDInsight] Support encryption in transit feature:
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/cluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/examples/CreateHDInsightClusterWithEncryptionInTransit.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/cluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/examples/CreateHDInsightClusterWithEncryptionInTransit.json
Labels: Approved-BreakingChange

#9866 Inherent Tracked Resource and Proxy Resource from common types
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2020-02-07-preview/hanaonazure.json
Labels: Approved-BreakingChange

#9859 add Microsoft.AVS 2020-03-20 API spec
  specification/vmware/resource-manager/Microsoft.AVS/stable/2020-03-20/examples/Authorizations_CreateOrUpdate.json
  specification/vmware/resource-manager/Microsoft.AVS/stable/2020-03-20/examples/Authorizations_Delete.json
  specification/vmware/resource-manager/Microsoft.AVS/stable/2020-03-20/examples/Authorizations_Get.json
  specification/vmware/resource-manager/Microsoft.AVS/stable/2020-03-20/examples/Authorizations_List.json
  specification/vmware/resource-manager/Microsoft.AVS/stable/2020-03-20/examples/Clusters_CreateOrUpdate.json
  specification/vmware/resource-manager/Microsoft.AVS/stable/2020-03-20/examples/Clusters_Delete.json
  specification/vmware/resource-manager/Microsoft.AVS/stable/2020-03-20/examples/Clusters_Get.json
  specification/vmware/resource-manager/Microsoft.AVS/stable/2020-03-20/examples/Clusters_List.json
  specification/vmware/resource-manager/Microsoft.AVS/stable/2020-03-20/examples/Clusters_Update.json
  specification/vmware/resource-manager/Microsoft.AVS/stable/2020-03-20/examples/HcxEnterpriseSites_CreateOrUpdate.json
  specification/vmware/resource-manager/Microsoft.AVS/stable/2020-03-20/examples/HcxEnterpriseSites_Delete.json
  specification/vmware/resource-manager/Microsoft.AVS/stable/2020-03-20/examples/HcxEnterpriseSites_Get.json
  specification/vmware/resource-manager/Microsoft.AVS/stable/2020-03-20/examples/HcxEnterpriseSites_List.json
  specification/vmware/resource-manager/Microsoft.AVS/stable/2020-03-20/examples/Locations_CheckQuotaAvailability.json
  specification/vmware/resource-manager/Microsoft.AVS/stable/2020-03-20/examples/Locations_CheckTrialAvailability.json
  specification/vmware/resource-manager/Microsoft.AVS/stable/2020-03-20/examples/Operations_List.json
  specification/vmware/resource-manager/Microsoft.AVS/stable/2020-03-20/examples/PrivateClouds_CreateOrUpdate.json
  specification/vmware/resource-manager/Microsoft.AVS/stable/2020-03-20/examples/PrivateClouds_Delete.json
  specification/vmware/resource-manager/Microsoft.AVS/stable/2020-03-20/examples/PrivateClouds_Get.json
  specification/vmware/resource-manager/Microsoft.AVS/stable/2020-03-20/examples/PrivateClouds_List.json
  specification/vmware/resource-manager/Microsoft.AVS/stable/2020-03-20/examples/PrivateClouds_ListAdminCredentials.json
  specification/vmware/resource-manager/Microsoft.AVS/stable/2020-03-20/examples/PrivateClouds_ListInSubscription.json
  specification/vmware/resource-manager/Microsoft.AVS/stable/2020-03-20/examples/PrivateClouds_Update.json
  specification/vmware/resource-manager/Microsoft.AVS/stable/2020-03-20/vmware.json
  specification/vmware/resource-manager/readme.go.md
  specification/vmware/resource-manager/readme.java.md
  specification/vmware/resource-manager/readme.md
Labels: ARMSignedOff

#9938 Updating Microsoft.Insights swagger spec to include api-version for Management groups
  specification/monitor/resource-manager/Microsoft.Insights/preview/2020-01-01-preview/examples/createOrUpdateManagementGroupDiagnosticSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2020-01-01-preview/examples/deleteManagementGroupDiagnosticSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2020-01-01-preview/examples/getManagementGroupDiagnosticSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2020-01-01-preview/examples/listManagementGroupDiagnosticSettings.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2020-01-01-preview/managementGroupDiagnosticSettings_API.json
  specification/monitor/resource-manager/readme.md
  specification/monitor/resource-manager/readme.python.md
Labels: ARMSignedOff

#9873 Add swagger spec for Synapse Sql Gen3 resources
  custom-words.txt
  specification/synapse/common/v1/types.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/examples/DeleteSqlDatabase.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/examples/DeleteSqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/examples/GetAvailableOperations.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/examples/GetAzureAsyncOperationHeader.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/examples/GetLocationHeader.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/examples/GetSqlDatabase.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/examples/GetSqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/examples/ListSqlDatabasesByWorkspace.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/examples/ListSqlPoolsByWorkspace.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/examples/PatchSqlDatabase.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/examples/PatchSqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/examples/PutSqlDatabase.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/examples/PutSqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/operations.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/sqlDatabase.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/sqlPool.json
  specification/synapse/resource-manager/readme.md
Labels: ARMSignedOff

#9960 Added PATCH flowLog API and example
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/NetworkWatcherFlowLogUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/networkWatcher.json
Labels: ARMSignedOff

#9998 Template Specs: Dropping "Model" suffix from TemplateSpec and TemplateSpecVersion
  specification/resources/resource-manager/Microsoft.Resources/preview/2019-06-01-preview/templateSpecs.json
  specification/resources/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange

#9691 Updating MI operations swagger
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/GetManagedInstanceOperation.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ListManagedInstanceOperations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/managedInstanceOperations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/examples/GetManagedInstanceOperation.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/examples/ListManagedInstanceOperations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/managedInstanceOperations.json
Labels: ARMSignedOff, Approved-OkToMerge

#9821 Fix checkPirvateLinkServiceVisibility in 2020-06-01
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/CheckPrivateLinkServiceVisibility.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/CheckPrivateLinkServiceVisibilityByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/privateLinkService.json
Labels: ARMChangesRequested, WaitForARMFeedback

#9886 Managed Services General API Fixes
  specification/managedservices/resource-manager/Microsoft.ManagedServices/preview/2020-02-01-preview/examples/GetMarketplaceRegistrationDefinition.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/preview/2020-02-01-preview/examples/GetMarketplaceRegistrationDefinitions.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/preview/2020-02-01-preview/managedservices.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/stable/2019-09-01/examples/GetMarketplaceRegistrationDefinition.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/stable/2019-09-01/examples/GetMarketplaceRegistrationDefinitions.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/stable/2019-09-01/managedservices.json
Labels: Approved-BreakingChange

#10030 Update bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/bms.json
Labels: Approved-BreakingChange, potential-sdk-breaking-change

#10038 fix schema generation failure for securityinsights
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/SecurityInsights.json
Labels: Approved-BreakingChange

#9832 add VpnGatewaypacketCapture api
  custom-words.txt
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/VpnConnectionStartPacketCapture.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/VpnConnectionStartPacketCaptureFilterData.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/VpnConnectionStopPacketCapture.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/VpnGatewayStartPacketCapture.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/VpnGatewayStartPacketCaptureFilterData.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/VpnGatewayStopPacketCapture.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/virtualWan.json
Labels: ARMSignedOff

#9971 [Hub Generated] Review request for Microsoft.Authorization to add version preview/2020-04-01-preview
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-04-01-preview/authorization-RoleAssignmentsCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-04-01-preview/examples/DeleteRoleAssignmentById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-04-01-preview/examples/DeleteRoleAssignmentByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-04-01-preview/examples/GetAllRoleAssignments.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-04-01-preview/examples/GetRoleAssignmentById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-04-01-preview/examples/GetRoleAssignmentByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-04-01-preview/examples/GetRoleAssignmentByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-04-01-preview/examples/GetRoleAssignmentsForResource.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-04-01-preview/examples/GetRoleAssignmentsForResourceGroup.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-04-01-preview/examples/PutRoleAssignment.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-04-01-preview/examples/PutRoleAssignmentById.json
  specification/authorization/resource-manager/readme.md
Labels: ARMSignedOff

#9987 MSI/ClientCert support in SignalR service
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2020-07-01-preview/examples/Operations_List.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2020-07-01-preview/examples/SignalRPrivateEndpointConnections_Delete.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2020-07-01-preview/examples/SignalRPrivateEndpointConnections_Get.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2020-07-01-preview/examples/SignalRPrivateEndpointConnections_Update.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2020-07-01-preview/examples/SignalRPrivateLinkResources_List.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2020-07-01-preview/examples/SignalR_CheckNameAvailability.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2020-07-01-preview/examples/SignalR_CreateOrUpdate.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2020-07-01-preview/examples/SignalR_Delete.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2020-07-01-preview/examples/SignalR_Get.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2020-07-01-preview/examples/SignalR_ListByResourceGroup.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2020-07-01-preview/examples/SignalR_ListBySubscription.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2020-07-01-preview/examples/SignalR_ListKeys.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2020-07-01-preview/examples/SignalR_RegenerateKey.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2020-07-01-preview/examples/SignalR_Restart.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2020-07-01-preview/examples/SignalR_Update.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2020-07-01-preview/examples/Usages_List.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2020-07-01-preview/signalr.json
  specification/signalr/resource-manager/readme.go.md
  specification/signalr/resource-manager/readme.java.md
  specification/signalr/resource-manager/readme.md
  specification/signalr/resource-manager/readme.ruby.md
Labels: ARMSignedOff

#9799 [Ready For Review]a new version with CRUD operations on workspaces/connections
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/ListSkus.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/ListUsages.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/ListVMSizesResult.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/ListWorkspaceFeatures.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/ListWorkspaceQuotasByVMFamily.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/amlComputeListNodes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/createBasicAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/createBasicAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/createBasicDataFactoryCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/createComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/createComputeInstanceMinimal.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/createWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/createWorkspaceConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/deleteCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/deleteWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/deleteWorkspaceConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/getAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/getAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/getComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/getComputes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/getWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/getWorkspaceConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/getWorkspacesByResourceGroup.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/getWorkspacesBySubscription.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/listKeysAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/listWorkspaceConnections.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/listWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/patchAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/restartComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/resyncWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/startComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/stopComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/updateAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/updateAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/updateQuota.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/updateWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/workspaceDeletePrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/workspaceGetPrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/workspaceListPrivateLinkResources.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/workspacePrepareNotebook.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/workspacePutPrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/machineLearningServices.json
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff

#10075 {HDInsight}Remove encryptionAtHost property
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/cluster.json
Labels: Approved-BreakingChange

#10072 Remove all premium firewall policy properties (private preview feature)
  specification/network/resource-manager/Microsoft.Network/stable/2020-03-01/firewallPolicy.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/firewallPolicy.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/firewallPolicy.json
Labels: Approved-BreakingChange

#9929 Kusto 2020-06-14 API version
  custom-words.txt
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoAttachedDatabaseConfigurationsCreateOrUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoAttachedDatabaseConfigurationsDelete.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoAttachedDatabaseConfigurationsGet.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoAttachedDatabaseConfigurationsListByCluster.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoClusterAddLanguageExtensions.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoClusterDetachFollowerDatabases.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoClusterListFollowerDatabases.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoClusterListLanguageExtensions.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoClusterPrincipalAssignmentsCheckNameAvailability.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoClusterPrincipalAssignmentsCreateOrUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoClusterPrincipalAssignmentsDelete.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoClusterPrincipalAssignmentsGet.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoClusterPrincipalAssignmentsList.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoClusterRemoveLanguageExtensions.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoClustersCheckNameAvailability.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoClustersCreateOrUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoClustersDelete.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoClustersDiagnoseVirtualNetwork.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoClustersGet.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoClustersList.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoClustersListByResourceGroup.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoClustersListResourceSkus.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoClustersListSkus.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoClustersStart.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoClustersStop.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoClustersUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoDataConnectionValidation.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoDataConnectionsCheckNameAvailability.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoDataConnectionsCreateOrUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoDataConnectionsDelete.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoDataConnectionsGet.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoDataConnectionsListByDatabase.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoDataConnectionsUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoDatabaseAddPrincipals.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoDatabaseListPrincipals.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoDatabasePrincipalAssignmentsCheckNameAvailability.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoDatabasePrincipalAssignmentsCreateOrUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoDatabasePrincipalAssignmentsDelete.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoDatabasePrincipalAssignmentsGet.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoDatabasePrincipalAssignmentsList.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoDatabaseRemovePrincipals.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoDatabasesCheckNameAvailability.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoDatabasesCreateOrUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoDatabasesDelete.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoDatabasesGet.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoDatabasesListByCluster.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoDatabasesUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/examples/KustoOperationsList.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-06-14/kusto.json
  specification/azure-kusto/resource-manager/readme.go.md
  specification/azure-kusto/resource-manager/readme.md
Labels: ARMSignedOff, Approved-OkToMerge

#9573 Add new api version for SecurityAlertPolicies for Orcas
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/stable/2018-06-01/ServerSecurityAlertPolicies.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/stable/2018-06-01/mariadb.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/stable/2020-01-01/ServerSecurityAlertPolicies.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/stable/2020-01-01/examples/ServerSecurityAlertsCreate.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/stable/2020-01-01/examples/ServerSecurityAlertsGet.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/stable/2020-01-01/examples/ServerSecurityAlertsListByServer.json
  specification/mariadb/resource-manager/readme.md
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2017-12-01/ServerSecurityAlertPolicies.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2017-12-01/mysql.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2020-01-01/ServerSecurityAlertPolicies.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2020-01-01/examples/ServerSecurityAlertsCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2020-01-01/examples/ServerSecurityAlertsGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2020-01-01/examples/ServerSecurityAlertsListByServer.json
  specification/mysql/resource-manager/readme.md
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2017-12-01/ServerSecurityAlertPolicies.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2017-12-01/postgresql.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2020-01-01/ServerSecurityAlertPolicies.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2020-01-01/examples/ServerSecurityAlertsCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2020-01-01/examples/ServerSecurityAlertsGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2020-01-01/examples/ServerSecurityAlertsListByServer.json
  specification/postgresql/resource-manager/readme.md
Labels: ARMSignedOff

#10083 Update CODEOWNERS
  CODEOWNERS
Labels: WaitForARMFeedback

#10054 [DataFactory]Add QuickBooks connectionProperties property
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
Labels: WaitForARMFeedback

#10052 [DataFactory]SFMarketCloud add connectionProperties property
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
Labels: WaitForARMFeedback

#10056 [DataFactory] Xero add connectionProperties property
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
Labels: WaitForARMFeedback

#10057 [DataFactory]Zoho add connectionProperties property
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
Labels: WaitForARMFeedback

#9909 expressRouteProviderPort changes
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/expressRouteProviderPortGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/expressRouteProviderPortList.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/expressRouteProviderPortListByLocation.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/expressRouteCrossConnection.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/expressRouteProviderPort.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/network.json
  specification/network/resource-manager/readme.md
Labels: ARMSignedOff

#10008 Remove obsolete azuredata resources
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/azuredata.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/CreateOrUpdateHybridDataManager.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/CreateOrUpdateSqlInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/DeleteHybridDataManager.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/DeleteSqlInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/GetHybridDataManager.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/GetSqlInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/ListByResourceGroupHybridDataManager.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/ListByResourceGroupSqlInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/ListSubscriptionHybridDataManager.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/ListSubscriptionSqlIInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/UpdateHybridDataManager.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/UpdateSqlInstance.json
Labels: ARMSignedOff, Approved-BreakingChange

#9185 Check Resource Name added to swagger
  specification/resources/resource-manager/Microsoft.Resources/stable/2015-11-01/examples/CheckResourceName.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2015-11-01/subscriptions.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2016-06-01/examples/CheckResourceName.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2016-06-01/subscriptions.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2018-06-01/examples/CheckResourceName.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2018-06-01/subscriptions.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-06-01/examples/CheckResourceName.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-06-01/subscriptions.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-11-01/examples/CheckResourceName.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-11-01/subscriptions.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-01-01/examples/CheckResourceName.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-01-01/subscriptions.json
  specification/resources/resource-manager/readme.md
Labels: ARMSignedOff, SuppressionTrack

#9954 Adding swagger updates to support the new NRP resource "DSCP Configuration"
  custom-words.txt
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/dscpConfiguration.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/DscpConfigurationCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/DscpConfigurationDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/DscpConfigurationGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/DscpConfigurationList.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/DscpConfigurationListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/NetworkInterfaceGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/networkInterface.json
  specification/network/resource-manager/readme.md
Labels: ARMSignedOff

#9948 set readonly for id, name, type.
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/machineLearningServices.json
Labels: Approved-BreakingChange

#9974 Adding the TSI GA api-version (2020-05-15)
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples/AccessPoliciesCreate.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples/AccessPoliciesDelete.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples/AccessPoliciesGet.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples/AccessPoliciesListByEnvironment.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples/AccessPoliciesPatchRoles.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples/EnvironmentsCreate.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples/EnvironmentsDelete.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples/EnvironmentsGet.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples/EnvironmentsListByResourceGroup.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples/EnvironmentsListBySubscription.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples/EnvironmentsPatchTags.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples/EventSourcesCreateEventHub.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples/EventSourcesDelete.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples/EventSourcesGetEventHub.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples/EventSourcesListByEnvironment.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples/EventSourcesPatchTags.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples/Operation_List.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples/ReferenceDataSetsCreate.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples/ReferenceDataSetsDelete.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples/ReferenceDataSetsGet.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples/ReferenceDataSetsListByEnvironment.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/examples/ReferenceDataSetsPatchTags.json
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/timeseriesinsights.json
  specification/timeseriesinsights/resource-manager/readme.go.md
  specification/timeseriesinsights/resource-manager/readme.md
Labels: ARMSignedOff

#10089 [HDInsight]Add autoscale api to allow customer to update autoscale configuration
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/cluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/examples/DisableClusterAutoScale.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/examples/EnableOrUpdateAutoScaleWithLoadBasedConfiguration.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/examples/EnableOrUpdateAutoScaleWithScheduleBasedConfiguration.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/cluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/examples/DisableClusterAutoScale.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/examples/EnableOrUpdateAutoScaleWithLoadBasedConfiguration.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/examples/EnableOrUpdateAutoScaleWithScheduleBasedConfiguration.json
Labels: ARMSignedOff

#10080 [Microsoft.ApiManagement][2019-12-01] Content management resources
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-12-01/apimanagement.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-12-01/apimcontenttypes.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-12-01/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-12-01/examples/ApiManagementCreateContentItem.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-12-01/examples/ApiManagementCreateContentType.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-12-01/examples/ApiManagementGetContentItem.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-12-01/examples/ApiManagementGetContentType.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-12-01/examples/ApiManagementListContentItems.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-12-01/examples/ApiManagementListContentTypes.json
  specification/apimanagement/resource-manager/readme.md
Labels: ARMSignedOff

#10129 [Hub Generated] Review request for Microsoft.Marketplace to add version stable/2020-01-01
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2020-01-01/Marketplace.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2020-01-01/examples/GetPrivateStorePrivateOffer.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2020-01-01/examples/GetPrivateStorePrivateOffers.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2020-01-01/examples/UpdatePrivateStorePrivateOffer.json
Labels: ARMSignedOff

#10153 Add support for addressprefix in NVA and enableVirtualRouterRouteProp…
  custom-words.txt
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/NetworkVirtualApplianceGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/NetworkVirtualApplianceListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/NetworkVirtualApplianceListBySubscription.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/NetworkVirtualAppliancePut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/NetworkVirtualApplianceUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/VirtualHubGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/VirtualHubList.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/VirtualHubListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/VirtualHubPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/VirtualHubUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/networkVirtualAppliance.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/virtualWan.json
Labels: WaitForARMFeedback

#10105 Add common v2/types.json to fix the ErrorResponse Schema
  specification/common-types/resource-management/v2/types.json
Labels: WaitForARMFeedback

#10009 Advisor microsoft.advisor 2020 07 01 preview
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2020-07-01-preview/advisor.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2020-07-01-preview/examples/GetAdvisorScoreDetail.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2020-07-01-preview/examples/ListAdvisorScore.json
  specification/advisor/resource-manager/readme.md
Labels: ARMSignedOff

#10126 Make origin a ProxyResource instead of TrackedResource
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2019-12-31/cdn.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2019-12-31/examples/Origins_Create.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2019-12-31/examples/Origins_Get.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2019-12-31/examples/Origins_ListByEndpoint.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2019-12-31/examples/Origins_Update.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-03-31/cdn.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-03-31/examples/Origins_Create.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-03-31/examples/Origins_Get.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-03-31/examples/Origins_ListByEndpoint.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-03-31/examples/Origins_Update.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-04-15/cdn.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-04-15/examples/Origins_Create.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-04-15/examples/Origins_Get.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-04-15/examples/Origins_ListByEndpoint.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-04-15/examples/Origins_Update.json
Labels: Approved-BreakingChange

#9828 Refinement: added x-ms-enum for tags patch operation
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/resources.json
Labels: ARMSignedOff, Reviewed-ChangesRequired

#10176 [Hub Generated] Review request for Microsoft.Marketplace to add version stable/2020-01-01
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2020-01-01/Marketplace.json
Labels: Approved-BreakingChange

#10100 Azure Security Center - Adaptive Application Control - Rename 'whitelist'
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/applicationWhitelistings.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/ApplicationWhitelistings/DeleteAdaptiveApplicationControls_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/ApplicationWhitelistings/GetAdaptiveApplicationControlsGroup_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/ApplicationWhitelistings/GetAdaptiveApplicationControlsSubscription_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/ApplicationWhitelistings/PutAdaptiveApplicationControls_example.json
Labels: Approved-BreakingChange

#10059 Adding new version 2020-07-01-preview for DataMove
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2020-07-01/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2020-07-01/examples/BackupDataMove/BackupDataMoveOperationStatus_Get.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2020-07-01/examples/BackupDataMove/PrepareDataMoveOperationResult_Get.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2020-07-01/examples/BackupDataMove/PrepareDataMove_Post.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2020-07-01/examples/BackupDataMove/TriggerDataMove_Post.json
  specification/recoveryservicesbackup/resource-manager/readme.md
Labels: ARMSignedOff

#10180 [Hub Generated] Review request for Microsoft.Maintenance to add version preview/2020-07-01-preview
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2020-07-01-preview/Maintenance.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2020-07-01-preview/examples/ApplyUpdates_CreateOrUpdate.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2020-07-01-preview/examples/ApplyUpdates_CreateOrUpdateParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2020-07-01-preview/examples/ApplyUpdates_Get.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2020-07-01-preview/examples/ApplyUpdates_GetParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2020-07-01-preview/examples/ConfigurationAssignments_CreateOrUpdate.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2020-07-01-preview/examples/ConfigurationAssignments_CreateOrUpdateParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2020-07-01-preview/examples/ConfigurationAssignments_Delete.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2020-07-01-preview/examples/ConfigurationAssignments_DeleteParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2020-07-01-preview/examples/ConfigurationAssignments_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2020-07-01-preview/examples/ConfigurationAssignments_ListParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2020-07-01-preview/examples/MaintenanceConfigurations_CreateOrUpdateForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2020-07-01-preview/examples/MaintenanceConfigurations_DeleteForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2020-07-01-preview/examples/MaintenanceConfigurations_GetForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2020-07-01-preview/examples/MaintenanceConfigurations_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2020-07-01-preview/examples/MaintenanceConfigurations_UpdateForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2020-07-01-preview/examples/Operations_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2020-07-01-preview/examples/Updates_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2020-07-01-preview/examples/Updates_ListParent.json
  specification/maintenance/resource-manager/readme.md
Labels: ARMSignedOff

#10046 Microsoft.Management 2020-05-01 apiversion
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/AddManagementGroupSubscription.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/CheckManagementGroupNameAvailability.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/DeleteHierarchySettings.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/DeleteManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/GetAllSubscriptionsFromManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/GetDescendants.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/GetEntities.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/GetHierarchySettings.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/GetManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/GetManagementGroupWithExpand.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/GetManagementGroupWithExpandAndRecurse.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/GetSubscriptionFromManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/ListHierarchySettings.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/ListManagementGroups.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/PatchHierarchySettings.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/PatchManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/PutHierarchySettings.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/PutManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/RemoveManagementGroupSubscription.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/StartTenantBackfillRequest.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/TenantBackfillStatusRequest.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/management.json
  specification/managementgroups/resource-manager/readme.go.md
  specification/managementgroups/resource-manager/readme.md
Labels: ARMSignedOff

#8606 Change storagecache name max length from 31 to 80
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2019-11-01/storagecache.json
Labels: Approved-BreakingChange

#10141 Fix duplicate parameters for CDN API versions with WAF.
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2019-06-15/cdnwebapplicationfirewall.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-03-31/cdnwebapplicationfirewall.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-04-15/cdnwebapplicationfirewall.json
Labels: Approved-BreakingChange

#10085 Service Fabric - add managedcluster and nodetype specs 2020-01-01-preview
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/ClusterVersionsListByOS_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/DeleteNodes_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/ManagedClusterDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/ManagedClusterGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/ManagedClusterListByResourceGroupOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/ManagedClusterListBySubscriptionOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/ManagedClusterPatchOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/ManagedClusterPutOperation_example_max.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/ManagedClusterPutOperation_example_min.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/NodeTypeDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/NodeTypeGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/NodeTypeListOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/NodeTypePatchOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/NodeTypePutOperation_example_max.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/NodeTypePutOperation_example_min.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/Operations_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/ReimageNodes_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/RestartNodes_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/managedcluster.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/nodetype.json
  specification/servicefabric/resource-manager/readme.md
Labels: ARMSignedOff

#9949 Fixing migrate swagger issues
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/Groups_UpdateMachines.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/migrate.json
  specification/migrate/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange

#10171 [Synapse] - Update swagger spec for Synapse Sql Gen3 resources
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/sqlDatabase.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/sqlPool.json
  specification/synapse/resource-manager/readme.md
Labels: Approved-BreakingChange

#10214 [Synapse] - Update Operations.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/examples/GetAzureAsyncOperationHeader.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/operations.json
  specification/synapse/resource-manager/readme.md
Labels: Approved-BreakingChange

#8493 [Azure Security Center] Adding a new version to SecurityContact
  specification/security/resource-manager/Microsoft.Security/preview/2020-01-01-preview/examples/SecurityContacts/CreateSecurityContact_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-01-01-preview/examples/SecurityContacts/DeleteSecurityContact_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-01-01-preview/examples/SecurityContacts/GetSecurityContact_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-01-01-preview/examples/SecurityContacts/GetSecurityContactsSubscription_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-01-01-preview/securityContacts.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff, DoNotMerge

#10133 [Ready-To-Merge] Machinelearningservices microsoft.machine learning services 2020 05 15 preview
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/ListSkus.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/ListUsages.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/ListVMSizesResult.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/ListWorkspaceFeatures.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/ListWorkspaceQuotasByVMFamily.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/amlComputeListNodes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/createBasicAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/createBasicAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/createBasicDataFactoryCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/createLinkedWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/createOrUpdateService.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/createWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/deleteCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/deleteLinkedWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/deleteService.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/deleteWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/getAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/getAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/getComputes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/getLinkedWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/getService.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/getServices.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/getWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/getWorkspacesByResourceGroup.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/getWorkspacesBySubscription.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/listKeysAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/listLinkedWorkspaces.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/listWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/patchAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/resyncWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/updateAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/updateAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/updateQuota.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/updateWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/workspaceDeletePrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/workspaceGetPrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/workspaceListPrivateLinkResources.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/workspacePutPrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/machineLearningServices.json
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff

#10215 add acrUseManagedIdentityCreds and acrUserManagedIdentityID propertie…
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/CommonDefinitions.json
Labels: ARMSignedOff

#10232 Merge Microsoft.HybridNetwork from RPSaaSMaster to master.
  custom-words.txt
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/common.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/device.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/CreateVendorSkuPreview.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/DeleteVendorSkuPreview.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/DeviceCreate.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/DeviceDelete.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/DeviceGet.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/DeviceListAll.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/DeviceListAllByResourceGroup.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/DeviceListRegistrationKey.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/DeviceUpdateTags.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/GetOperations.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/GetVendorSkuPreview.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/GetVendorSkuPreviews.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/VendorCreate.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/VendorDelete.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/VendorGet.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/VendorListAll.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/VendorSkuCreate.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/VendorSkuDelete.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/VendorSkuGet.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/VendorSkuListAll.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/VendorVnfCreate.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/VendorVnfGet.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/VendorVnfList.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/VirtualNetworkFunctionCreate.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/VirtualNetworkFunctionDelete.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/VirtualNetworkFunctionGet.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/VirtualNetworkFunctionGetSkuDetails.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/VirtualNetworkFunctionListByResourceGroup.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/VirtualNetworkFunctionListBySubscription.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/VirtualNetworkFunctionSkuList.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/VirtualNetworkFunctionUpdateTags.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/examples/VirtualNetworkFunctionVendorAndSkuList.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/operations.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/vendor.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/virtualNetworkFunction.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2020-01-01-preview/virtualNetworkFunctionVendors.json
  specification/hybridnetwork/resource-manager/readme.csharp.md
  specification/hybridnetwork/resource-manager/readme.go.md
  specification/hybridnetwork/resource-manager/readme.md
  specification/hybridnetwork/resource-manager/readme.python.md
  specification/hybridnetwork/resource-manager/readme.ruby.md
  specification/hybridnetwork/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#10158 [Data Factory] Support newClusterLogDestination property and allow object type for folderpath property
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
Labels: Approved-BreakingChange

#10164 [Ready-To-Merge] Swagger changes for Stop and Start new api to MySQL and MariaDB .
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/stable/2020-01-01/Servers.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/stable/2020-01-01/examples/ServerStart.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/stable/2020-01-01/examples/ServerStop.json
  specification/mariadb/resource-manager/readme.cli.md
  specification/mariadb/resource-manager/readme.md
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2020-01-01/Servers.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2020-01-01/examples/ServerStart.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2020-01-01/examples/ServerStop.json
  specification/mysql/resource-manager/readme.cli.md
  specification/mysql/resource-manager/readme.md
Labels: ARMSignedOff

#10136 Updated Managed resource group to be non-readonly
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/CreateOrUpdateWorkspace.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/workspace.json
Labels: Approved-BreakingChange

#10211 [Datashare]Add sorting and filter options to the API's
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/DataShare.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/DataSetMappings_ListByShareSubscription.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/DataSets_ListByShare.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/Invitations_ListByShare.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/ShareSubscriptions_ListByAccount.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/ShareSubscriptions_ListSynchronizationDetails.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/ShareSubscriptions_ListSynchronizations.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/Shares_ListByAccount.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/Shares_ListSynchronizationDetails.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/examples/Shares_ListSynchronizations.json
Labels: ARMSignedOff

#9742 Anf 567 anf swagger restapi to2020 02 01 no snapshotpolicy
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/examples/Accounts_CreateOrUpdate.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/examples/Accounts_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/examples/Accounts_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/examples/Accounts_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/examples/Accounts_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/examples/CheckFilePathAvailability.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/examples/CheckNameAvailability.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/examples/Pools_CreateOrUpdate.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/examples/Pools_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/examples/Pools_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/examples/Pools_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/examples/Pools_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/examples/Snapshots_Create.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/examples/Snapshots_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/examples/Snapshots_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/examples/Snapshots_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/examples/Snapshots_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/examples/Volumes_AuthorizeReplication.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/examples/Volumes_BreakReplication.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/examples/Volumes_CreateOrUpdate.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/examples/Volumes_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/examples/Volumes_DeleteReplication.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/examples/Volumes_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/examples/Volumes_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/examples/Volumes_ReplicationStatus.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/examples/Volumes_ResyncReplication.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/examples/Volumes_Revert.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/examples/Volumes_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/netapp.json
  specification/netapp/resource-manager/readme.go.md
  specification/netapp/resource-manager/readme.java.md
  specification/netapp/resource-manager/readme.md
Labels: ARMSignedOff

#10073 Adding AML Workspace ID Property
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2018-04-01/databricks.json
Labels: Approved-BreakingChange

#10177 Add Location property to ExportPipeline and ImportPipeline
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/containerregistry.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/ExportPipelineCreate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/ExportPipelineGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/ExportPipelineList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/ImportPipelineCreate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/ImportPipelineGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/ImportPipelineList.json
Labels: Approved-BreakingChange

#10069 Remove all premium firewall policy properties (private)
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/firewallPolicy.json
Labels: Approved-BreakingChange, Reviewed-ChangesRequired

#10101 Dev monitor microsoft.insights 2020 05 01 preview
  specification/monitor/resource-manager/Microsoft.Insights/preview/2020-05-01-preview/examples/createOrUpdateScheduledQueryRule.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2020-05-01-preview/examples/createOrUpdateScheduledQueryRuleResourceGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2020-05-01-preview/examples/createOrUpdateScheduledQueryRuleSubscription.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2020-05-01-preview/examples/deleteScheduledQueryRule.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2020-05-01-preview/examples/getScheduledQueryRule.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2020-05-01-preview/examples/listScheduledQueryRulesByResourceGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2020-05-01-preview/examples/listScheduledQueryRulesBySubscription.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2020-05-01-preview/examples/patchScheduledQueryRule.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2020-05-01-preview/scheduledQueryRule_API.json
  specification/monitor/resource-manager/readme.md
Labels: ARMSignedOff

#10247 Managed Clusters Generate SDK
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/ManagedClusterDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/ManagedClusterGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/ManagedClusterPatchOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/ManagedClusterPutOperation_example_max.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/NodeTypeDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/managedcluster.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/nodetype.json
  specification/servicefabric/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange

#10263 Update dataController onPremise property
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/azuredata.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/CreateOrUpdateDataController.json
Labels: Approved-BreakingChange, Approved-OkToMerge

#10173 [Hub Generated] Review request for Microsoft.Insights to add version preview/2018-06-17-preview
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-06-17-preview/workbooks_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/workbookTemplates_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/workbooks_API.json
  specification/applicationinsights/resource-manager/readme.md
Labels: Approved-BreakingChange

#10209 [Datashare]Add sorting query parameters
  specification/datashare/resource-manager/Microsoft.DataShare/stable/2019-11-01/DataShare.json
  specification/datashare/resource-manager/Microsoft.DataShare/stable/2019-11-01/examples/DataSetMappings_ListByShareSubscription.json
  specification/datashare/resource-manager/Microsoft.DataShare/stable/2019-11-01/examples/DataSets_Delete.json
  specification/datashare/resource-manager/Microsoft.DataShare/stable/2019-11-01/examples/DataSets_ListByShare.json
  specification/datashare/resource-manager/Microsoft.DataShare/stable/2019-11-01/examples/Invitations_ListByShare.json
  specification/datashare/resource-manager/Microsoft.DataShare/stable/2019-11-01/examples/ShareSubscriptions_ListByAccount.json
  specification/datashare/resource-manager/Microsoft.DataShare/stable/2019-11-01/examples/ShareSubscriptions_ListSynchronizationDetails.json
  specification/datashare/resource-manager/Microsoft.DataShare/stable/2019-11-01/examples/ShareSubscriptions_ListSynchronizations.json
  specification/datashare/resource-manager/Microsoft.DataShare/stable/2019-11-01/examples/Shares_ListByAccount.json
  specification/datashare/resource-manager/Microsoft.DataShare/stable/2019-11-01/examples/Shares_ListSynchronizationDetails.json
  specification/datashare/resource-manager/Microsoft.DataShare/stable/2019-11-01/examples/Shares_ListSynchronizations.json
  specification/datashare/resource-manager/readme.md
Labels: potential-sdk-breaking-change

#9953 Migrate TaskRun to ProxyResource.
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/containerregistry_build.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/TaskRunsCreate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/TaskRunsGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/TaskRunsGetDetails.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/TaskRunsList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/TaskRunsUpdate.json
Labels: Approved-BreakingChange

#10268 Fix sfrp 2020-01-01-preview
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/NodeTypeListOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/NodeTypePatchOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/NodeTypePutOperation_example_max.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/managedcluster.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/nodetype.json
Labels: ARMSignedOff, Approved-BreakingChange

#9941 Databricks Swagger Changes for Double Encryption
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2018-04-01/databricks.json
Labels: Approved-BreakingChange

#10256 [Datafactory] Add Support for Cancel Trigger Run Api
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/TriggerRuns_Cancel.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/artifacts.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/examples/TriggerRuns_Cancel.json
Labels: ARMSignedOff

#10041 Add On Premise Sql Resource Details
  specification/security/resource-manager/common/v1/types.json
Labels: ARMSignedOff

#10243 Update Microsoft.Resources swagger to include new alias contract
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/examples/GetNamedProviderAtTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/resources.json
Labels: ARMSignedOff

#10124 Dev storageimportexport microsoft.import export 2016 11 01
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/stable/2020-08-01/examples/CreateExportJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/stable/2020-08-01/examples/CreateJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/stable/2020-08-01/examples/DeleteJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/stable/2020-08-01/examples/GetExportJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/stable/2020-08-01/examples/GetJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/stable/2020-08-01/examples/GetLocation.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/stable/2020-08-01/examples/ListBitLockerKeys.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/stable/2020-08-01/examples/ListJobsInResourceGroup.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/stable/2020-08-01/examples/ListJobsInSubscription.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/stable/2020-08-01/examples/ListLocations.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/stable/2020-08-01/examples/ListOperations.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/stable/2020-08-01/examples/UpdateExportJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/stable/2020-08-01/examples/UpdateJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/stable/2020-08-01/storageimportexport.json
  specification/storageimportexport/resource-manager/readme.go.md
  specification/storageimportexport/resource-manager/readme.md
Labels: ARMSignedOff

#10280 Fix api 2020-01-01-preview dataDiskSizeGB parameter name
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/ManagedClusterVersionsListByOS_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/NodeTypeGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/NodeTypeListOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/NodeTypePatchOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/NodeTypePutOperation_example_max.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/NodeTypePutOperation_example_min.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/managedcluster.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/nodetype.json
Labels: ARMSignedOff, Approved-BreakingChange

#9258 [CosmosDB] Migration support of existing containers/databases to autoscale
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-03-01/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-03-01/examples/CosmosDBCassandraKeyspaceMigrateToAutoscale.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-03-01/examples/CosmosDBCassandraKeyspaceMigrateToManualThroughput.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-03-01/examples/CosmosDBCassandraTableMigrateToAutoscale.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-03-01/examples/CosmosDBCassandraTableMigrateToManualThroughput.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-03-01/examples/CosmosDBGremlinDatabaseMigrateToAutoscale.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-03-01/examples/CosmosDBGremlinDatabaseMigrateToManualThroughput.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-03-01/examples/CosmosDBGremlinGraphMigrateToAutoscale.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-03-01/examples/CosmosDBGremlinGraphMigrateToManualThroughput.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-03-01/examples/CosmosDBMongoDBCollectionMigrateToAutoscale.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-03-01/examples/CosmosDBMongoDBCollectionMigrateToManualThroughput.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-03-01/examples/CosmosDBMongoDBDatabaseMigrateToAutoscale.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-03-01/examples/CosmosDBMongoDBDatabaseMigrateToManualThroughput.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-03-01/examples/CosmosDBSqlContainerMigrateToAutoscale.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-03-01/examples/CosmosDBSqlContainerMigrateToManualThroughput.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-03-01/examples/CosmosDBSqlDatabaseMigrateToAutoscale.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-03-01/examples/CosmosDBSqlDatabaseMigrateToManualThroughput.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-03-01/examples/CosmosDBTableMigrateToAutoscale.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-03-01/examples/CosmosDBTableMigrateToManualThroughput.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/examples/CosmosDBCassandraKeyspaceMigrateToAutoscale.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/examples/CosmosDBCassandraKeyspaceMigrateToManualThroughput.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/examples/CosmosDBCassandraTableMigrateToAutoscale.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/examples/CosmosDBCassandraTableMigrateToManualThroughput.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/examples/CosmosDBGremlinDatabaseMigrateToAutoscale.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/examples/CosmosDBGremlinDatabaseMigrateToManualThroughput.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/examples/CosmosDBGremlinGraphMigrateToAutoscale.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/examples/CosmosDBGremlinGraphMigrateToManualThroughput.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/examples/CosmosDBMongoDBCollectionMigrateToAutoscale.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/examples/CosmosDBMongoDBCollectionMigrateToManualThroughput.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/examples/CosmosDBMongoDBDatabaseMigrateToAutoscale.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/examples/CosmosDBMongoDBDatabaseMigrateToManualThroughput.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/examples/CosmosDBSqlContainerMigrateToAutoscale.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/examples/CosmosDBSqlContainerMigrateToManualThroughput.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/examples/CosmosDBSqlDatabaseMigrateToAutoscale.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/examples/CosmosDBSqlDatabaseMigrateToManualThroughput.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/examples/CosmosDBTableMigrateToAutoscale.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/examples/CosmosDBTableMigrateToManualThroughput.json
Labels: ARMSignedOff, SuppressionTrack

#10302 [Hub Generated] Review request for Microsoft.AppPlatform to add version preview/2019-05-01-preview
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Bindings_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Bindings_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/CustomDomains_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/CustomDomains_Patch.json
Labels: Approved-BreakingChange

#10020 Added swagger files for PostgreSQL Flexible Server preview
  custom-words.txt
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/CheckNameAvailability.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/ConfigurationGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/ConfigurationListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/CustomerMaintenanceWindowCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/CustomerMaintenanceWindowDelete.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/CustomerMaintenanceWindowGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/CustomerMaintenanceWindowListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/FirewallRuleCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/FirewallRuleDelete.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/FirewallRuleGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/FirewallRuleListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/OperationList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/ServerCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/ServerCreatePointInTimeRestore.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/ServerDelete.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/ServerGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/ServerGetWithVnet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/ServerList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/ServerListByResourceGroup.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/ServerRestart.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/ServerStart.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/ServerStop.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/ServerUpdate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/postgresql.json
  specification/postgresql/resource-manager/readme.md
Labels: ARMSignedOff
