Repository Azure/azure-rest-api-specs, pull requests merged in 2020-09, with the labels that each got.

#10000 Alertmanagement
  specification/alertsmanagement/resource-manager/readme.md
  specification/alertsmanagement/resource-manager/readme.trenton.md
Labels: Reviewed-ChangesRequired

#10591 Fix managementgroup output-folders in go SDK
  specification/managementgroups/resource-manager/readme.go.md
Labels: CI-BreakingChange-Python

#10195 Mofnmodel
  custom-words.txt
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2-preview/examples/securitydomaindownloadpost-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2-preview/examples/securitydomaintransferkey-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2-preview/examples/securitydomainuploadoperation-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2-preview/securitydomain.json
Labels: WaitForARMFeedback, potential-sdk-breaking-change

#10656 HybridCompute: update readme.java.md
  specification/hybridcompute/resource-manager/readme.java.md
Labels: CI-BreakingChange-Python

#10665 [Azure Cognitive Search] Simple fixes in swagger to correct typos
  specification/search/resource-manager/Microsoft.Search/preview/2020-08-01-preview/search.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-03-13/search.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/search.json
Labels: CI-BreakingChange-Python

#10619 [Hub Generated] Review request for Microsoft.Devices to add version stable/2020-08-01
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/IotHub_ManualFailover.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/checkNameAvailability.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_certificatescreateorupdate.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_certificatesdelete.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_certverify.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_createOrUpdate.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_createconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_delete.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_deleteconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_deleteprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_exportdevices.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_generateverificationcode.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_get.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_getcertificate.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_getconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_getjob.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_getkey.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_getprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_getprivatelinkresources.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_getskus.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_importdevices.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_listbyrg.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_listbysubscription.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_listcertificates.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_listehgroups.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_listjobs.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_listkeys.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_listprivateendpointconnections.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_listprivatelinkresources.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_operations.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_patch.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_quotametrics.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_routingendpointhealth.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_stats.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_testallroutes.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_testnewroute.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_updateprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/examples/iothub_usages.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/iothub.json
  specification/iothub/resource-manager/readme.md
Labels: ARMSignedOff

#10678 Fix Digital Twins public preview swagger to match service behavior
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/digitaltwins.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/ModelAdd.json
Labels: Approved-BreakingChange, Approved-OkToMerge

#10652 Dev/ayang/backup storage redundancy
  specification/sql/resource-manager/readme.md
Labels: CI-BreakingChange-Python

#10664 Make instance view readOnly
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2020-08-02/HybridCompute.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python

#10675 add properties to LinkedServiceProps
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/createLinkedService.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/getLinkedService.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/listLinkedServices.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/machineLearningServices.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python

#10463 Updating ThreatIntelligence api
  custom-words.txt
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/threatintelligence/AppendTagsThreatIntelligence.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/threatintelligence/CollectThreatIntelligenceMetrics.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/threatintelligence/CreateThreatIntelligence.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/threatintelligence/DeleteThreatIntelligence.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/threatintelligence/GetThreatIntelligence.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/threatintelligence/GetThreatIntelligenceById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/threatintelligence/QueryThreatIntelligence.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/threatintelligence/ReplaceTagsThreatIntelligence.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/threatintelligence/UpsertThreatIntelligence.json
  specification/securityinsights/resource-manager/readme.go.md
  specification/securityinsights/resource-manager/readme.md
Labels: ARMSignedOff

#10687 Add 'preview' to versionKind enum
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/iotDefenderSettings.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python

#10693 fix identity enum value
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/createBasicAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/getAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/updateAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/machineLearningServices.json
Labels: CI-BreakingChange-Python

#10618 Robga/exemption
  specification/resources/resource-manager/Microsoft.Authorization/preview/2020-07-01-preview/examples/createOrUpdatePolicyExemption.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2020-07-01-preview/examples/deletePolicyExemption.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2020-07-01-preview/examples/getPolicyExemption.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2020-07-01-preview/examples/listPolicyExemptionsForManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2020-07-01-preview/examples/listPolicyExemptionsForResource.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2020-07-01-preview/examples/listPolicyExemptionsForResourceGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2020-07-01-preview/examples/listPolicyExemptionsForSubscription.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2020-07-01-preview/policyExemptions.json
  specification/resources/resource-manager/readme.md
Labels: ARMSignedOff

#10607 API Management Service Deleted Services Resource
  custom-words.txt
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/apimdeletedservices.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/apimdeployment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementDeletedServicesListBySubscription.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementDeletedServicesPurge.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementGetDeletedServiceByName.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementUndelete.json
  specification/apimanagement/resource-manager/readme.md
Labels: 2020-06-01-preview, API Management, ARMSignedOff, CI-BreakingChange-Python, Reviewed-ChangesRequired

#10679 [Compute] Update readme.python.md
  specification/compute/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2

#10483 Added Microsoft.AlertsManagement/resourceHealth
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2020-08-04-preview/AlertsManagement.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2020-08-04-preview/examples/createOrUpdateResourceHealthAlert.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2020-08-04-preview/examples/deleteResourceHealthAlert.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2020-08-04-preview/examples/getResourceHealthAlert.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2020-08-04-preview/examples/listResourceHealthAlerts.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2020-08-04-preview/examples/patchResourceHealthAlert.json
  specification/alertsmanagement/resource-manager/readme.md
Labels: ARMSignedOff

#10114 [Hub Generated] Review request for Microsoft.Devices to add version stable/2020-03-01
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-03-01/examples/DPSCertificateCreateOrUpdate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-03-01/examples/DPSCheckNameAvailability.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-03-01/examples/DPSCreate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-03-01/examples/DPSCreateOrUpdatePrivateEndpointConnection.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-03-01/examples/DPSDelete.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-03-01/examples/DPSDeleteCertificate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-03-01/examples/DPSDeletePrivateEndpointConnection.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-03-01/examples/DPSGenerateVerificationCode.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-03-01/examples/DPSGet.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-03-01/examples/DPSGetCertificate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-03-01/examples/DPSGetCertificates.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-03-01/examples/DPSGetKey.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-03-01/examples/DPSGetOperationResult.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-03-01/examples/DPSGetPrivateEndpointConnection.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-03-01/examples/DPSGetPrivateLinkResources.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-03-01/examples/DPSGetValidSku.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-03-01/examples/DPSListByResourceGroup.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-03-01/examples/DPSListBySubscription.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-03-01/examples/DPSListKeys.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-03-01/examples/DPSListPrivateEndpointConnections.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-03-01/examples/DPSListPrivateLinkResources.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-03-01/examples/DPSOperations.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-03-01/examples/DPSPatch.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-03-01/examples/DPSVerifyCertificate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-03-01/iotdps.json
  specification/deviceprovisioningservices/resource-manager/readme.md
Labels: ARMSignedOff

#9030 [Azure Stack] Updates to Azs.Fabric.Admin spec for autorest config
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/Common.json
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/FileShare.json
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2018-10-01/StorageSubSystem.json
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2019-05-01/Drive.json
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2019-05-01/NasCluster.json
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2019-05-01/Volume.json
  specification/azsadmin/resource-manager/fabric/readme.azsautogen.md
  specification/azsadmin/resource-manager/fabric/readme.md
Labels: BreakingChangeReviewRequired

#10703 Add api-version of hybridcompute to go SDK
  specification/hybridcompute/resource-manager/readme.go.md
Labels: CI-BreakingChange-Python

#10387 Update delete pe connection to long running
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/ListSkus.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/examples/workspaceDeletePrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-06-01/machineLearningServices.json
Labels: ARMSignedOff, AzureAPIBoardSignedOff, BreakingChangeReviewRequired, CI-BreakingChange-Python

#10658 tag: package-2020-08
  specification/hybridcompute/resource-manager/readme.md
Labels: CI-BreakingChange-Python

#10603 Add TenantConfiguration API to the Microsoft.Portal provider (version 2019-01-01-preview)
  specification/portal/resource-manager/Microsoft.Portal/preview/2019-01-01-preview/examples/TenantConfiguration/CreateOrUpdateTenantConfiguration.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2019-01-01-preview/examples/TenantConfiguration/DeleteTenantConfiguration.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2019-01-01-preview/examples/TenantConfiguration/GetListOfTenantConfigurations.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2019-01-01-preview/examples/TenantConfiguration/GetTenantConfiguration.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2019-01-01-preview/tenantConfiguration.json
  specification/portal/resource-manager/readme.md
Labels: ARMSignedOff

#10466 Add new api version for gallery.json and add sharing profile support
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/AddToSharingProfileInAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/CreateOrUpdateASimpleGallery.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/CreateOrUpdateASimpleGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/CreateOrUpdateASimpleGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/CreateOrUpdateASimpleGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/CreateOrUpdateASimpleGalleryImageVersion.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/CreateOrUpdateASimpleGalleryImageVersionWithSnapshotsAsSource.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/CreateOrUpdateASimpleGalleryImageVersionWithVHD.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/CreateOrUpdateASimpleGalleryWithSharingProfile.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/DeleteAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/DeleteAGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/DeleteAGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/DeleteAGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/DeleteAGalleryImageVersion.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/GetAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/GetAGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/GetAGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/GetAGalleryApplicationVersionWithReplicationStatus.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/GetAGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/GetAGalleryImageVersion.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/GetAGalleryImageVersionWithReplicationStatus.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/GetAGalleryImageVersionWithSnapshotsAsSource.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/GetAGalleryImageVersionWithVhdAsSource.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/GetAGalleryWithSelectPermissions.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/GetASharedGallery.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/GetASharedGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/GetASharedGalleryImageVersion.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/ListGalleriesInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/ListGalleriesInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/ListGalleryApplicationVersionsInAGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/ListGalleryApplicationsInAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/ListGalleryImageVersionsInAGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/ListGalleryImagesInAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/ListSharedGalleries.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/ListSharedGalleryImageVersions.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/ListSharedGalleryImages.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/ResetSharingProfileInAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/UpdateASimpleGallery.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/UpdateASimpleGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/UpdateASimpleGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/UpdateASimpleGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/examples/UpdateASimpleGalleryImageVersion.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/gallery.json
  specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/sharedGallery.json
  specification/compute/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2

#10370 CMK and Log Template
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/containerregistry_build.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/ManagedIdentity/TasksCreate_WithSystemAndUserIdentities.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/ManagedIdentity/TasksCreate_WithSystemIdentity.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/ManagedIdentity/TasksCreate_WithUserIdentities.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/ManagedIdentity/TasksUpdate_WithKeyVaultCustomCredentials.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/ManagedIdentity/TasksUpdate_WithMSICustomCredentials.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/RegistriesScheduleRun_WithLogTemplate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/RunsGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/RunsList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/RunsUpdate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/TasksCreate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/TasksCreate_QuickTask.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/TasksGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/TasksGetDetails.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/TasksList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/TasksUpdate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/TasksUpdate_QuickTask.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/TasksUpdate_WithOpaqueCustomCredentials.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python

#10709 fix to make parameter optional
  specification/subscription/resource-manager/Microsoft.Subscription/stable/2020-09-01/subscriptions.json
Labels: CI-BreakingChange-Python

#10384 network/2020-05-01: adding the missing web application firewall files
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/WafListAllPolicies.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/WafListPolicies.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/WafPolicyCreateOrUpdate.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/WafPolicyDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/WafPolicyGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/webapplicationfirewall.json
  specification/network/resource-manager/readme.md
Labels: CI-BreakingChange-Python

#10708 Update Readmes for Python for Automanage
  custom-words.txt
  specification/automanage/resource-manager/Microsoft.Automanage/common/v1/definitions.json
  specification/automanage/resource-manager/Microsoft.Automanage/preview/2020-06-30-preview/automanage.json
  specification/automanage/resource-manager/Microsoft.Automanage/preview/2020-06-30-preview/examples/createOrUpdateAccount.json
  specification/automanage/resource-manager/Microsoft.Automanage/preview/2020-06-30-preview/examples/createOrUpdateConfigurationProfilePreference.json
  specification/automanage/resource-manager/readme.md
  specification/automanage/resource-manager/readme.python.md
Labels: Approved-BreakingChange

#10706 [Hub Generated] Review request for Microsoft.Portal to add version preview/2020-09-01-preview
  specification/portal/resource-manager/Microsoft.Portal/preview/2020-09-01-preview/examples/TenantConfiguration/CreateOrUpdateTenantConfiguration.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2020-09-01-preview/examples/TenantConfiguration/DeleteTenantConfiguration.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2020-09-01-preview/examples/TenantConfiguration/GetListOfTenantConfigurations.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2020-09-01-preview/examples/TenantConfiguration/GetTenantConfiguration.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2020-09-01-preview/examples/createOrUpdateDashboard.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2020-09-01-preview/examples/deleteDashboard.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2020-09-01-preview/examples/getDashboard.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2020-09-01-preview/examples/listDashboardsByResourceGroup.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2020-09-01-preview/examples/listDashboardsBySubscription.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2020-09-01-preview/examples/operationsList.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2020-09-01-preview/examples/updateDashboard.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2020-09-01-preview/portal.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2020-09-01-preview/tenantConfiguration.json
  specification/portal/resource-manager/readme.md
Labels: ARMSignedOff

#10738 Set publicNetworkAccess to read only in MySQL Flexible Server swagger
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ServerCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ServerGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ServerGetWithVnet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ServerUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ServerUpdateWithCustomerMaintenanceWindow.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/mysql.json
Labels: Approved-BreakingChange

#10682 Network: update readme.java.md
  specification/network/resource-manager/readme.java.md
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#8531 codegen onboard df for cli
  specification/datafactory/resource-manager/readme.az.md
  specification/datafactory/resource-manager/readme.cli.md
  specification/datafactory/resource-manager/readme.md
  specification/datafactory/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python

#10635 Eventhub: Added PrivateEndpointConnection API
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/AvailableClusterRegions-preview.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/Clusters-preview.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/NameSpaces/PrivateEndPointConnectionCreate.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/NameSpaces/PrivateEndPointConnectionDelete.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/NameSpaces/PrivateEndPointConnectionGet.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/NameSpaces/PrivateEndPointConnectionList.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/NameSpaces/PrivateLinkResourcesGet.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/ipfilterrules-preview.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/namespaces-preview.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/networkrulessets-preview.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/operations-preview.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/quotaConfiguration-preview.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/virtualnetworkrules-preview.json
  specification/eventhub/resource-manager/Microsoft.EventHub/stable/2017-04-01/AuthorizationRules.json
  specification/eventhub/resource-manager/Microsoft.EventHub/stable/2017-04-01/CheckNameAvailability.json
  specification/eventhub/resource-manager/Microsoft.EventHub/stable/2017-04-01/consumergroups.json
  specification/eventhub/resource-manager/Microsoft.EventHub/stable/2017-04-01/disasterRecoveryConfigs.json
  specification/eventhub/resource-manager/Microsoft.EventHub/stable/2017-04-01/eventhubs.json
  specification/eventhub/resource-manager/Microsoft.EventHub/stable/2017-04-01/namespaces.json
  specification/eventhub/resource-manager/Microsoft.EventHub/stable/2017-04-01/networkRuleSets.json
  specification/eventhub/resource-manager/Microsoft.EventHub/stable/2017-04-01/operations.json
  specification/eventhub/resource-manager/Microsoft.EventHub/stable/2017-04-01/sku.json
  specification/eventhub/resource-manager/common/v1/definitions.json
  specification/eventhub/resource-manager/readme.md
Labels: ARMSignedOff

#10735 Dev deviceprovisioningservices microsoft.devices 2020 09 01 preview
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2020-09-01-preview/examples/DPSCertificateCreateOrUpdate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2020-09-01-preview/examples/DPSCheckNameAvailability.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2020-09-01-preview/examples/DPSCreate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2020-09-01-preview/examples/DPSCreateOrUpdatePrivateEndpointConnection.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2020-09-01-preview/examples/DPSDelete.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2020-09-01-preview/examples/DPSDeleteCertificate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2020-09-01-preview/examples/DPSDeletePrivateEndpointConnection.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2020-09-01-preview/examples/DPSGenerateVerificationCode.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2020-09-01-preview/examples/DPSGet.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2020-09-01-preview/examples/DPSGetCertificate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2020-09-01-preview/examples/DPSGetCertificates.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2020-09-01-preview/examples/DPSGetKey.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2020-09-01-preview/examples/DPSGetOperationResult.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2020-09-01-preview/examples/DPSGetPrivateEndpointConnection.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2020-09-01-preview/examples/DPSGetPrivateLinkResources.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2020-09-01-preview/examples/DPSGetValidSku.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2020-09-01-preview/examples/DPSListByResourceGroup.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2020-09-01-preview/examples/DPSListBySubscription.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2020-09-01-preview/examples/DPSListKeys.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2020-09-01-preview/examples/DPSListPrivateEndpointConnections.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2020-09-01-preview/examples/DPSListPrivateLinkResources.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2020-09-01-preview/examples/DPSOperations.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2020-09-01-preview/examples/DPSPatch.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2020-09-01-preview/examples/DPSVerifyCertificate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2020-09-01-preview/iotdps.json
  specification/deviceprovisioningservices/resource-manager/readme.md
Labels: ARMSignedOff

#10728 Service fabric 2020-01-01-preview remove unsupported reversproxy and useTestExtension
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/ManagedClusterPatchOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/examples/ManagedClusterPutOperation_example_max.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/managedcluster.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2020-01-01-preview/nodetype.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python

#10654 Adding ComputeInstance to preview swagger
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/createComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/createComputeInstanceMinimal.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/getComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/restartComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/startComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/stopComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/machineLearningServices.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python

#10736 [Merge from master] Add InboundSecurityRule, virtualRouterPeerAdvertisedRoute and virtualRouterPeerLearnedRoute
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/InboundSecurityRulePut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/NetworkVirtualApplianceGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/NetworkVirtualApplianceListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/NetworkVirtualApplianceListBySubscription.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/NetworkVirtualAppliancePut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/VirtualRouterPeerListAdvertisedRoute.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/VirtualRouterPeerListLearnedRoute.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/networkVirtualAppliance.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/virtualWan.json
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#10752 Remove weekly and monthly options from replicationSchedule
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-08-01/netapp.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-10-01/netapp.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-11-01/netapp.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/netapp.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/netapp.json
Labels: CI-BreakingChange-Python

#10677 [Hub Generated] Review request for Microsoft.BareMetalInfrastructure to add version preview/2020-08-06-preview
  custom-words.txt
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2020-08-06-preview/baremetalinfrastructure.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2020-08-06-preview/examples/AzureBareMetalInstances_Delete.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2020-08-06-preview/examples/AzureBareMetalInstances_Get.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2020-08-06-preview/examples/AzureBareMetalInstances_List.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2020-08-06-preview/examples/AzureBareMetalInstances_ListBySubscription.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2020-08-06-preview/examples/AzureBareMetalInstances_PatchTags.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2020-08-06-preview/examples/AzureBareMetalInstances_PatchTags_Delete.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2020-08-06-preview/examples/AzureBareMetalInstances_Restart.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2020-08-06-preview/examples/AzureBareMetalInstances_Shutdown.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2020-08-06-preview/examples/AzureBareMetalInstances_Start.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2020-08-06-preview/examples/AzureBareMetalOperations_List.json
  specification/baremetalinfrastructure/resource-manager/readme.csharp.md
  specification/baremetalinfrastructure/resource-manager/readme.go.md
  specification/baremetalinfrastructure/resource-manager/readme.md
  specification/baremetalinfrastructure/resource-manager/readme.python.md
  specification/baremetalinfrastructure/resource-manager/readme.ruby.md
  specification/baremetalinfrastructure/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#10726 Spark Compute Isolation enabled
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/bigDataPool.json
Labels: Approved-BreakingChange

#10517 Update batch sdk comments
  custom-words.txt
  specification/batch/data-plane/Microsoft.Batch/stable/2020-03-01.11.0/BatchService.json
Labels: WaitForARMFeedback

#9035 [Azure Stack] Updates to Azs.AzureBridge.Admin spec
  specification/azsadmin/resource-manager/azurebridge/Microsoft.AzureBridge.Admin/preview/2016-01-01/Activation.json
  specification/azsadmin/resource-manager/azurebridge/Microsoft.AzureBridge.Admin/preview/2016-01-01/AzureBridge.json
  specification/azsadmin/resource-manager/azurebridge/Microsoft.AzureBridge.Admin/preview/2016-01-01/DownloadedProduct.json
  specification/azsadmin/resource-manager/azurebridge/Microsoft.AzureBridge.Admin/preview/2016-01-01/Product.json
  specification/azsadmin/resource-manager/azurebridge/Microsoft.AzureBridge.Admin/preview/2016-01-01/examples/Activation/Create.json
  specification/azsadmin/resource-manager/azurebridge/Microsoft.AzureBridge.Admin/preview/2016-01-01/examples/Activation/Delete.json
  specification/azsadmin/resource-manager/azurebridge/Microsoft.AzureBridge.Admin/preview/2016-01-01/examples/Activation/Get.json
  specification/azsadmin/resource-manager/azurebridge/Microsoft.AzureBridge.Admin/preview/2016-01-01/examples/Activation/List.json
  specification/azsadmin/resource-manager/azurebridge/Microsoft.AzureBridge.Admin/preview/2016-01-01/examples/DownloadedProduct/Delete.json
  specification/azsadmin/resource-manager/azurebridge/Microsoft.AzureBridge.Admin/preview/2016-01-01/examples/DownloadedProduct/Get.json
  specification/azsadmin/resource-manager/azurebridge/Microsoft.AzureBridge.Admin/preview/2016-01-01/examples/DownloadedProduct/List.json
  specification/azsadmin/resource-manager/azurebridge/Microsoft.AzureBridge.Admin/preview/2016-01-01/examples/DownloadedProduct/Put.json
  specification/azsadmin/resource-manager/azurebridge/Microsoft.AzureBridge.Admin/preview/2016-01-01/examples/Product/Get.json
  specification/azsadmin/resource-manager/azurebridge/Microsoft.AzureBridge.Admin/preview/2016-01-01/examples/Product/List.json
  specification/azsadmin/resource-manager/azurebridge/Microsoft.AzureBridge.Admin/preview/2016-01-01/examples/Product/download.json
  specification/azsadmin/resource-manager/azurebridge/readme.azsautogen.md
  specification/azsadmin/resource-manager/azurebridge/readme.md
Labels: Approved-BreakingChange

#10640 Connected machine az cli
  specification/hybridcompute/resource-manager/readme.az.md
  specification/hybridcompute/resource-manager/readme.cli.md
  specification/hybridcompute/resource-manager/readme.md
Labels: CI-BreakingChange-Python, WaitForARMFeedback

#10276 Try Fix Billing Swagger
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-03-01-preview/billingV2.json
Labels: Approved-BreakingChange

#10648 Incident entities
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/incidents/entities/GetAllIncidentEntities.json
Labels: ARMSignedOff

#10641 OperationNameFormat property added to Diagnostic contract
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/definitions.json
Labels: 2020-06-01-preview, API Management, CI-BreakingChange-Python

#10653 [Hub Generated] Review request for Microsoft.DigitalTwins to add version stable/2020-10-31
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-10-31/digitaltwins.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-10-31/examples/DigitalTwinsCheckNameAvailability_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-10-31/examples/DigitalTwinsDelete_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-10-31/examples/DigitalTwinsEndpointDelete_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-10-31/examples/DigitalTwinsEndpointGet_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-10-31/examples/DigitalTwinsEndpointPut_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-10-31/examples/DigitalTwinsEndpointsGet_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-10-31/examples/DigitalTwinsGet_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-10-31/examples/DigitalTwinsListByResourceGroup_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-10-31/examples/DigitalTwinsList_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-10-31/examples/DigitalTwinsOperationsList_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-10-31/examples/DigitalTwinsPatch_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-10-31/examples/DigitalTwinsPut_example.json
  specification/digitaltwins/resource-manager/readme.go.md
  specification/digitaltwins/resource-manager/readme.java.md
  specification/digitaltwins/resource-manager/readme.md
  specification/digitaltwins/resource-manager/readme.python.md
  specification/digitaltwins/resource-manager/readme.ruby.md
Labels: ARMSignedOff

#10710 Updating readme for MySQL and PostgreSQL to include new flexible server namespace
  specification/mysql/resource-manager/readme.az.md
  specification/mysql/resource-manager/readme.go.md
  specification/mysql/resource-manager/readme.md
  specification/mysql/resource-manager/readme.python.md
  specification/postgresql/resource-manager/readme.az.md
  specification/postgresql/resource-manager/readme.go.md
  specification/postgresql/resource-manager/readme.md
  specification/postgresql/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python

#10753 [NetAppFiles]Anf 6195 swagger restapi to2020 06 01 bugfix
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Accounts_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/SnapshotPolicies_Create.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/SnapshotPolicies_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/SnapshotPolicies_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/SnapshotPolicies_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/netapp.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python, LintRuleCandidate

#10781 Update workbooks api to include sourceId
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-06-17-preview/examples/WorkbookAdd.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-06-17-preview/examples/WorkbookGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-06-17-preview/examples/WorkbooksList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-06-17-preview/workbooks_API.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python

#10789 add alias for auto_rev_minor_version to fix az CLI linter error
  specification/hybridcompute/resource-manager/readme.cli.md
Labels: CI-BreakingChange-Python

#10705 Add new resource to Microsoft.Sql "ServerTrustGroup".
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/ServerTrustGroups.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ServerTrustGroupCreate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ServerTrustGroupDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ServerTrustGroupGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ServerTrustGroupList.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ServerTrustGroupListByManagedInstance.json
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python

#10766 Adding request body for listcredential for Microsoft.Kubernetes
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2020-01-01-preview/connectedClusters.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2020-01-01-preview/examples/ConnectedClustersListClusterCredentialsResultNonAad.json
Labels: CI-BreakingChange-Python

#10771 [Hub Generated] Review request for Microsoft.Security to add version stable/2019-08-01
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IotAlerts/GetIoTAlertList.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IotRecommendations/GetIoTRecommendationList.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/iotAlerts.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/iotRecommendations.json
Labels: CI-BreakingChange-Python, potential-sdk-breaking-change

#10796 Remove LiveVideoAnalytics Swagger and samples from Azure repo, as thi…
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0/LiveVideoAnalytics.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0/examples/GraphInstanceDelete.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0/examples/GraphInstanceGet.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0/examples/GraphInstanceList.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0/examples/GraphInstanceSet.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0/examples/GraphInstanceStateChange.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0/examples/GraphTopologyDelete.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0/examples/GraphTopologyGet.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0/examples/GraphTopologyList.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0/examples/GraphTopologySet.json
  specification/mediaservices/data-plane/readme.md
Labels: ReadyForSDKReview

#10722 Add Metrics Advisor API Properties.
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2017-04-18/cognitiveservices.json
Labels: Approved-OkToMerge

#10755 [Microsoft.ApiManagement][2019-12-01] Content management resources: Collapsed the reference to metadata.
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-12-01/examples/ApiManagementGetContentType.json
Labels: CI-BreakingChange-Python

#10754 Update provisioningStatus field name for assignment
  specification/automanage/resource-manager/Microsoft.Automanage/preview/2020-06-30-preview/automanage.json
  specification/automanage/resource-manager/Microsoft.Automanage/preview/2020-06-30-preview/examples/createOrUpdateConfigurationProfileAssignment.json
  specification/automanage/resource-manager/Microsoft.Automanage/preview/2020-06-30-preview/examples/getConfigurationProfileAssignment.json
  specification/automanage/resource-manager/Microsoft.Automanage/preview/2020-06-30-preview/examples/listConfigurationProfileAssignments.json
  specification/automanage/resource-manager/Microsoft.Automanage/preview/2020-06-30-preview/examples/listConfigurationProfileAssignmentsBySubscription.json
Labels: Approved-BreakingChange

#10487 [ASR][V2A-RCM] Add new properties and provider specific models for V2A RCM.
  custom-words.txt
  specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryServices/stable/2018-07-10/service.json
Labels: LintRuleCandidate, Reviewed-ChangesRequired

#10699 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2019-11-01
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/costmanagement.exports.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/costmanagement.json
  specification/cost-management/resource-manager/readme.md
Labels: Approved-BreakingChange, CI-BreakingChange-Python

#10768 Bump up version number for "old" preview api
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/azuredata.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/CreateOrUpdateDataController.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/CreateOrUpdatePostgresInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/CreateOrUpdateSqlManagedInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/CreateOrUpdateSqlServerInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/DeleteDataController.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/DeletePostgresInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/DeleteSqlManagedInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/DeleteSqlServerInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/GetDataController.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/GetPostgresInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/GetSqlManagedInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/GetSqlServerInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/ListByResourceGroupDataController.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/ListByResourceGroupPostgresInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/ListByResourceGroupSqlManagedInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/ListByResourceGroupSqlServerInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/ListSubscriptionDataController.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/ListSubscriptionPostgresInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/ListSubscriptionSqlManagedInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/ListSubscriptionSqlServerInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/UpdateDataController.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/UpdatePostgresInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/UpdateSqlManagedInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/UpdateSqlServerInstance.json
  specification/azuredata/resource-manager/readme.md
Labels: ARMSignedOff

#10719 updated apispec
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/DelegatedNetwork.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/examples/delegatedNetworkControllerListByRG.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/examples/delegatedNetworkControllerListBySub.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/examples/delegatedSubnetListByRG.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/examples/delegatedSubnetListBySub.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/examples/deleteDelegatedSubnet.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/examples/getController.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/examples/getDelegatedSubnet.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/examples/patchController.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/examples/patchDelegatedSubnet.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/examples/putController.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/examples/putDelegatedSubnet.json
Labels: Approved-BreakingChange

#10784 [DeploymentScripts] New stable api-version
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-10-01/deploymentScripts.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-10-01/examples/DeploymentScripts_Create.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-10-01/examples/DeploymentScripts_Create_No_UserManagedIdentity.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-10-01/examples/DeploymentScripts_Create_Using_Custom_Aci_Name.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-10-01/examples/DeploymentScripts_Create_Using_Existing_StorageAccount.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-10-01/examples/DeploymentScripts_Delete.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-10-01/examples/DeploymentScripts_Get.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-10-01/examples/DeploymentScripts_GetLogs.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-10-01/examples/DeploymentScripts_GetLogsDefault.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-10-01/examples/DeploymentScripts_GetLogsDefaultWithTail.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-10-01/examples/DeploymentScripts_ListByResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-10-01/examples/DeploymentScripts_ListBySubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-10-01/examples/DeploymentScripts_Min_Create.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-10-01/examples/DeploymentScripts_Update.json
  specification/resources/resource-manager/readme.md
  specification/resources/resource-manager/readme.python.md
Labels: ARMSignedOff

#10389 [Hub Generated] Review request for Microsoft.AlertsManagement to add version stable/2019-03-01
  CODEOWNERS
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/AlertsManagement.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/examples/AlertsMetaData_MonitorService.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/examples/SmartGroups_ChangeState.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/examples/SmartGroups_GetById.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/examples/SmartGroups_History.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/examples/SmartGroups_List.json
Labels: ARMSignedOff, Approved-BreakingChange

#10811 [NetAppFiles]Corrected case in operation ids
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/netapp.json
Labels: Approved-BreakingChange, Approved-OkToMerge

#10426 Document IMDS version 2020-06-01
  custom-words.txt
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2020-06-01/examples/GetAttestedData.json
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2020-06-01/examples/GetIdentityInfo.json
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2020-06-01/examples/GetIdentityToken.json
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2020-06-01/examples/GetInstanceMetadata.json
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2020-06-01/imds.json
  specification/imds/data-plane/readme.md
Labels: AzureAPIBoardSignedOff, WaitForARMFeedback

#10838 Powerplatformrp
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/enterprisePolicy.json
Labels: Approved-BreakingChange

#10644 Add Datasets and datastores API swagger
  cSpell.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/createOrUpdateAdlsDatastore.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/createOrUpdateAdlsGen2Datastore.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/createOrUpdateBlobDatastore.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/createOrUpdateDataset.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/createOrUpdateDbfsDatastore.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/createOrUpdateFileDatastore.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/createOrUpdateMySqlDatastore.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/createOrUpdatePostgreSqlDatastore.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/createOrUpdateSqlDatastore.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/deleteDataset.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/deleteDatastore.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/getDataset.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/getDatasets.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/getDatastore.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/getDatastores.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/machineLearningServices.json
Labels: ARMSignedOff, CI-BreakingChange-Python

#10669 [Hub Generated] Review request for Microsoft.Consumption to add version stable/2019-10-01
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/examples/ReservationDetailsByBillingProfileIdReservationId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/examples/ReservationSummariesMonthlyWithBillingProfileIdReservationId.json
Labels: CI-BreakingChange-Python

#10813 Remove maximum for DedicatedHostGroup
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/compute.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2

#10774 aligned deivceSecurityGroups to stable
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/deviceSecurityGroups.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/DeviceSecurityGroups/PutDeviceSecurityGroups_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/DeviceSecurityGroups/PutDeviceSecurityGroups_example.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python, potential-sdk-breaking-change

#10432 [SQL][V20200801] Adding new API version with named replica and maintenance
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/databases.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/elasticPools.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/CreateDatabaseCopyMode.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/CreateDatabaseDefaultMode.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/CreateDatabaseMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/CreateDatabaseNamedReplica.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/CreateDatabasePITRMode.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/CreateDatabaseRecoveryMode.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/CreateDatabaseRestoreMode.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/CreateDatabaseRestoreMode2.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/CreateDatabaseSecondaryMode.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/CreateDwDatabaseByServiceObjective.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/CreateVCoreDatabaseByServiceObjective.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/CreateVCoreDatabaseBySkuNameCapacity.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/DeleteDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/ElasticPoolCreateOrUpdateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/ElasticPoolCreateOrUpdateMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/ElasticPoolDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/ElasticPoolGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/ElasticPoolListByServer.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/ElasticPoolUpdateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/ElasticPoolUpdateMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/FailoverDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/FailoverElasticPool.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/GetVCoreDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/ListDatabasesByElasticPool.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/ListVCoreDatabasesByServer.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/PatchVCoreDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/PauseDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/RenameDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/ResumeDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/UpgradeDataWarehouse.json
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff

#10331 [Microsoft.ApiManagement][2020-06-01-preview] Change Network Status response contract
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/apimnetworkstatus.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementServiceGetNetworkStatus.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementServiceGetNetworkStatusByLocation.json
Labels: 2020-06-01-preview, API Management, CI-BreakingChange-Python

#10849 Powerplatformrp
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/enterprisePolicy.json
Labels: Approved-BreakingChange

#10794 [datafactory] add support for azure databricks delta lake
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: CI-BreakingChange-Python

#10802 Add type "Local gateway" to virtualNetworkGateway
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/virtualNetworkGateway.json
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#10831 Add tier property to public ip prefix
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/examples/PublicIpPrefixCreateCustomizedValues.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/publicIpPrefix.json
Labels: CI-BreakingChange-Python

#10833 Removed object from NatGateway CreateOrUpdate Response
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/NatGatewayCreateOrUpdate.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/natGateway.json
Labels: CI-BreakingChange-Python-Track2

#10834 Removed object from nat gateway create or update response july release
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/examples/NatGatewayCreateOrUpdate.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/natGateway.json
Labels: CI-BreakingChange-Python

#10852 Powerplatformrp
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/enterprisePolicy.json
Labels: Approved-BreakingChange

#10727 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2020-06-01
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2020-06-01/costmanagement.exports.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2020-06-01/costmanagement.json
  specification/cost-management/resource-manager/readme.md
Labels: Approved-BreakingChange, CI-BreakingChange-Python

#10845 Microsoft.Kubernetes Remove Cert Based Auth from ListClusterUserCredentials POST Action
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2020-01-01-preview/connectedClusters.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2020-01-01-preview/examples/ConnectedClustersListClusterCredentialsResultNonAad.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python

#10804 Fixed S360 issues related to ARM & SDK swagger linting errors for Microsoft.Solutions.
  specification/resources/resource-manager/Microsoft.Solutions/preview/2020-08-21-preview/examples/deleteApplicationDefinition.json
  specification/resources/resource-manager/Microsoft.Solutions/preview/2020-08-21-preview/managedapplications.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2018-06-01/examples/createOrUpdateApplication.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2018-06-01/examples/createOrUpdateApplicationDefinition.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2018-06-01/examples/deleteApplicationDefinition.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2018-06-01/examples/getApplication.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2018-06-01/examples/getApplicationDefinition.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2018-06-01/examples/listApplicationDefinitionsByResourceGroup.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2018-06-01/examples/listApplicationsByResourceGroup.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2018-06-01/examples/listSolutionsOperations.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2018-06-01/managedapplications.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2019-07-01/examples/deleteApplicationDefinition.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2019-07-01/managedapplications.json
Labels: Approved-BreakingChange

#10829 Fixed ActionRule's polymorphism via discriminator
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/ActionRules.json
Labels: Approved-BreakingChange

#10815 DataFactory: Update Rest Sink properties based on ship room comments.
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python

#10891 [Hub Generated] Review request for Microsoft.Insights to add version preview/2020-05-01-preview
  specification/monitor/resource-manager/Microsoft.Insights/preview/2020-05-01-preview/scheduledQueryRule_API.json
  specification/monitor/resource-manager/readme.python.md
Labels: Approved-BreakingChange, Approved-OkToMerge, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#10904 Update SDKAutomation.yml for Azure Pipelines
  .azure-pipelines/SDKAutomation.yml
Labels: DoNotMerge

#10775 Operationalinsights/data export delete all tables param
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/examples/DataExportCreateOrUpdate.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/examples/DataExportGet.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/examples/DataExportListByWorkspace.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/DataExports.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/examples/DataExportCreateOrUpdate.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/examples/DataExportGet.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/examples/DataExportListByWorkspace.json
Labels: Approved-BreakingChange, WaitForARMFeedback, customer-reported

#10816 Add location info for cross region compute feature
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/machineLearningServices.json
Labels: CI-BreakingChange-Python

#10749 Add api-version of 2019-10-01/comsuption to go SDK
  specification/consumption/resource-manager/readme.go.md
Labels: CI-BreakingChange-Python

#10585 Dev billing microsoft.billing 2019 10 01 preview
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-03-01-preview/billingV2.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/MultipleBillingSubscriptionInvoiceDownload.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/MultipleInvoiceDownload.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/MultipleModernInvoiceDownload.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/billing.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/examples/BillingSubscriptionInvoiceDownload.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/examples/ModernInvoiceDownload.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/examples/MultipleBillingSubscriptionInvoiceDownload.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/examples/MultipleModernInvoiceDownload.json
Labels: ARMSignedOff, CI-BreakingChange-Python, ReadyForSDKReview

#10756 [Do Not Merge][Really To Review] add a new apis
  custom-words.txt
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/getTransitivePEUsages.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/listWorkspaceNotebookKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/machineLearningServices.json
Labels: ARMSignedOff, CI-BreakingChange-Python

#10908 Revert "[Do Not Merge][Really To Review] add a new apis"
  custom-words.txt
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/getTransitivePEUsages.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/listWorkspaceNotebookKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/machineLearningServices.json
Labels: CI-BreakingChange-Python

#10780 Add firewall policy premium feature properties
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/examples/FirewallPolicyGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/examples/FirewallPolicyListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/examples/FirewallPolicyListBySubscription.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/examples/FirewallPolicyPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/firewallPolicy.json
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, Reviewed-ChangesRequired, customer-reported

#10906 {Storage} add fix for readme track2 python
  specification/storage/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#10868 [Microsoft.Storage] Adding support for ResourceAccessRules
  specification/storage/resource-manager/Microsoft.Storage/preview/2020-08-01-preview/examples/StorageAccountGetProperties.json
  specification/storage/resource-manager/Microsoft.Storage/preview/2020-08-01-preview/examples/StorageAccountGetPropertiesCMKEnabled.json
  specification/storage/resource-manager/Microsoft.Storage/preview/2020-08-01-preview/examples/StorageAccountList.json
  specification/storage/resource-manager/Microsoft.Storage/preview/2020-08-01-preview/examples/StorageAccountUpdate.json
  specification/storage/resource-manager/Microsoft.Storage/preview/2020-08-01-preview/storage.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#10814 Initial preview version of swagger for Monitor Exporters
  specification/applicationinsights/data-plane/Monitor.Exporters/preview/2020-09-15_Preview/examples/track.json
  specification/applicationinsights/data-plane/Monitor.Exporters/preview/2020-09-15_Preview/swagger.json
  specification/applicationinsights/data-plane/Monitor.Exporters/readme.md
Labels: Client, Monitor

#10795 Additional changes for az CLI
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2020-08-02/HybridCompute.json
  specification/hybridcompute/resource-manager/readme.cli.md
Labels: CI-BreakingChange-Python

#10493 Cosmos DB - Adding APIs for Role Definition and Role Assignment
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBSqlRoleAssignmentCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBSqlRoleAssignmentDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBSqlRoleAssignmentGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBSqlRoleAssignmentList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBSqlRoleDefinitionCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBSqlRoleDefinitionDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBSqlRoleDefinitionGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBSqlRoleDefinitionList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/rbac.json
  specification/cosmos-db/resource-manager/readme.md
Labels: ARMSignedOff

#10879 [AKS] Swagger Bugfix: upgradeNodeImageVersion should be an agent pools operation
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-07-01/managedClusters.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-09-01/managedClusters.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python

#10900 Support create storage account with extendedLocation
  specification/storage/resource-manager/Microsoft.Storage/preview/2020-08-01-preview/examples/StorageAccountCreate.json
  specification/storage/resource-manager/Microsoft.Storage/preview/2020-08-01-preview/storage.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#10731 Fix operations API
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2020-03-01-preview/azurestackhci.json
Labels: Approved-BreakingChange

#10770 PostgreSQL Flexible Server Preview Swagger API changes
  specification/mysql/resource-manager/readme.md
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/CapabilitiesByLocation.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/CheckNameAvailability.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/ConfigurationGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/ConfigurationListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/ConfigurationUpdate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/FirewallRuleCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/FirewallRuleDelete.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/FirewallRuleGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/FirewallRuleListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/OperationList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/ServerCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/ServerCreatePointInTimeRestore.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/ServerDelete.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/ServerGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/ServerGetWithVnet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/ServerList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/ServerListByResourceGroup.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/ServerRestart.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/ServerStart.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/ServerStop.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/ServerUpdate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/ServerUpdateWithCustomerMaintenanceWindow.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/VirtualNetworkSubnetUsage.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/postgresql.json
  specification/postgresql/resource-manager/readme.go.md
  specification/postgresql/resource-manager/readme.md
  specification/postgresql/resource-manager/readme.python.md
Labels: ARMSignedOff, customer-reported

#10842 Fix some bad output-folder for go SDK
  specification/appconfiguration/resource-manager/readme.go.md
  specification/baremetalinfrastructure/resource-manager/readme.go.md
  specification/billing/resource-manager/readme.go.md
  specification/cdn/resource-manager/readme.go.md
  specification/containerservice/resource-manager/readme.go.md
  specification/cosmos-db/resource-manager/readme.go.md
  specification/hdinsight/resource-manager/readme.go.md
  specification/keyvault/data-plane/readme.go.md
  specification/operationalinsights/resource-manager/readme.go.md
  specification/policyinsights/resource-manager/readme.go.md
  specification/servicefabric/resource-manager/readme.go.md
  specification/storage/resource-manager/readme.go.md
  specification/trafficmanager/resource-manager/readme.go.md
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, DoNotMerge

#10925 Add Microsoft.AutonomousDevelopmentPlatform 2020-07-01-preview
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2020-07-01-preview/adp.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2020-07-01-preview/examples/AdpAccountDelete.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2020-07-01-preview/examples/AdpAccountGet.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2020-07-01-preview/examples/AdpAccountPatch.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2020-07-01-preview/examples/AdpAccountPut.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2020-07-01-preview/examples/AdpAccountsList.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2020-07-01-preview/examples/AdpAccountsListByResourceGroup.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2020-07-01-preview/examples/AdpDataPoolDelete.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2020-07-01-preview/examples/AdpDataPoolGet.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2020-07-01-preview/examples/AdpDataPoolPatch.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2020-07-01-preview/examples/AdpDataPoolPut.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2020-07-01-preview/examples/AdpDataPoolsList.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2020-07-01-preview/examples/AdpOperationsList.json
  specification/adp/resource-manager/readme.az.md
  specification/adp/resource-manager/readme.cli.md
  specification/adp/resource-manager/readme.csharp.md
  specification/adp/resource-manager/readme.go.md
  specification/adp/resource-manager/readme.md
  specification/adp/resource-manager/readme.python.md
  specification/adp/resource-manager/readme.ruby.md
  specification/adp/resource-manager/readme.typescript.md
Labels: In-Review, Reviewed-ChangesRequired

#10937 add scmMinTlsVersion
  specification/web/resource-manager/Microsoft.Web/stable/2020-06-01/CommonDefinitions.json
Labels: customer-reported

#10912 Added format to integers
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/networkWatcher.json
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#10934 [Hub Generated] Review request for Microsoft.Portal to add version preview/2020-09-01-preview
  specification/portal/resource-manager/Microsoft.Portal/preview/2020-09-01-preview/portal.json
Labels: ARMSignedOff, Approved-BreakingChange

#10828 Update QnAMaker.json - response code correction
  specification/cognitiveservices/data-plane/QnAMaker/stable/v4.0/QnAMaker.json
  specification/cognitiveservices/data-plane/QnAMaker/stable/v4.0/examples/SuccessfulRepKb.json
  specification/cognitiveservices/data-plane/QnAMaker/stable/v4.0/examples/SuccessfulSetEpSettings.json
  specification/cognitiveservices/data-plane/QnAMaker/stable/v4.0/examples/SuccessfulUpdKb.json
Labels: Approved-BreakingChange, Approved-OkToMerge, customer-reported

#10836 [Microsoft.StorageSync] Introduce 2020-09-01 API version
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/CloudEndpoints_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/CloudEndpoints_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/CloudEndpoints_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/CloudEndpoints_ListBySyncGroup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/CloudEndpoints_PostBackup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/CloudEndpoints_PostRestore.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/CloudEndpoints_PreBackup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/CloudEndpoints_PreRestore.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/CloudEndpoints_RestoreHeatbeat.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/CloudEndpoints_TriggerChangeDetection.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/OperationStatus_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/Operations_List.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/PrivateEndpointConnections_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/PrivateEndpointConnections_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/PrivateEndpointConnections_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/PrivateEndpointConnections_ListByStorageSyncService.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/PrivateLinkResources_List.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/RegisteredServers_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/RegisteredServers_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/RegisteredServers_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/RegisteredServers_ListByStorageSyncService.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/RegisteredServers_TriggerRollover.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/ServerEndpoints_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/ServerEndpoints_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/ServerEndpoints_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/ServerEndpoints_ListBySyncGroup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/ServerEndpoints_Recall.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/ServerEndpoints_Update.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/StorageSyncServiceCheckNameAvailability_AlreadyExists.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/StorageSyncServiceCheckNameAvailability_Available.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/StorageSyncServices_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/StorageSyncServices_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/StorageSyncServices_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/StorageSyncServices_ListByResourceGroup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/StorageSyncServices_ListBySubscription.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/StorageSyncServices_Update.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/SyncGroups_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/SyncGroups_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/SyncGroups_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/SyncGroups_ListByStorageSyncService.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/Workflows_Abort.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/Workflows_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/examples/Workflows_ListByStorageSyncService.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2020-09-01/storagesync.json
  specification/storagesync/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python

#10956 add publicNetworkAccess property to datafactory
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json
Labels: CI-BreakingChange-Python, potential-sdk-breaking-change

#10806 added incident alerts and incident bookmarks APIs
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/incidents/GetAllIncidentAlerts.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/incidents/GetAllIncidentBookmarks.json
Labels: ARMSignedOff, customer-reported

#10810 Microsoft.Security/iotDefenderSettings (2020-08-06-preview)
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/examples/IotDefenderSettings/Get.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/examples/IotDefenderSettings/List.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/examples/IotDefenderSettings/Put.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/iotDefenderSettings.json
Labels: Approved-BreakingChange, Approved-OkToMerge, CI-BreakingChange-Python

#10861 Add sdk_customization.md
  documentation/sdkautomation/sdk_customization.md
Labels: DoNotMerge
