Repository Azure/azure-rest-api-specs, pull requests merged in 2020-05, with the labels that each got.

#9002 Added properties that were missed in 2019-11-01-preview API version.
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2019-11-01-preview/appconfiguration.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2019-11-01-preview/examples/ConfigurationStoresCreate.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2019-11-01-preview/examples/ConfigurationStoresCreateWithIdentity.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2019-11-01-preview/examples/ConfigurationStoresGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2019-11-01-preview/examples/ConfigurationStoresList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2019-11-01-preview/examples/ConfigurationStoresListByResourceGroup.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2019-11-01-preview/examples/ConfigurationStoresUpdate.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2019-11-01-preview/examples/ConfigurationStoresUpdateWithIdentity.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2019-11-01-preview/examples/PrivateLinkResourceGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2019-11-01-preview/examples/PrivateLinkResourcesListByConfigurationStore.json
Labels: Approved-BreakingChange, Approved-OkToMerge

#9143 Nasingla/stableversion
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-10-01-preview/examples/createLegacySubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-10-01-preview/examples/createSubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-10-01-preview/examples/renameSubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-10-01-preview/subscriptions.json
Labels: ARMSignedOff

#9227 [PendingArmReview] Fixed Settings API
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/examples/Settings/GetSetting_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/examples/Settings/GetSettings_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/examples/Settings/UpdateSetting_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/settings.json
Labels: ARMSignedOff, Approved-OkToMerge, potential-sdk-breaking-change

#9245 EventHub : 2018-01-01-preview Cluster SKU Name change
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/Clusters-preview.json
Labels: ARMSignedOff

#9299 [Hub Generated] Review request for Microsoft.KubernetesConfiguration to add version preview/2019-11-01-preview
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2019-11-01-preview/kubernetesconfiguration.json
  specification/kubernetesconfiguration/resource-manager/readme.md
Labels: Approved-BreakingChange, ReadyForSDKReview

#9297 [Hub Generated] Review request for Microsoft.VirtualMachineImages to add version stable/2020-02-14
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/CancelImageBuild.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/CreateImageTemplateLinux.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/CreateImageTemplateWindows.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/CreateImageTemplateWithUserAssignedIdentity.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/GetImageTemplate.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/ListImageTemplates.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/ListImageTemplatesByRg.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/RunImageTemplate.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/UpdateImageTemplateTags.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/imagebuilder.json
Labels: ARMSignedOff, Approved-BreakingChange

#9162 Add property 'minTlsVersion' to IoTHubProperties
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-03-01/examples/iothub_createOrUpdate.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-03-01/examples/iothub_get.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-03-01/iothub.json
  specification/iothub/resource-manager/readme.go.md
  specification/iothub/resource-manager/readme.java.md
  specification/iothub/resource-manager/readme.python.md
Labels: ARMSignedOff, potential-sdk-breaking-change

#9263 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2019-11-01
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/costmanagement.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/BillingAccountAlerts.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/BillingAccountForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/BillingProfileAlerts.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/BillingProfileForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/DepartmentAlerts.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/DepartmentForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/EnrollmentAccountAlerts.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/EnrollmentAccountForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExternalBillingAccountAlerts.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExternalBillingAccountForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExternalSubscriptionAlerts.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExternalSubscriptionForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/InvoiceSectionAlerts.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/InvoiceSectionForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ResourceGroupAlerts.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ResourceGroupForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/SubscriptionAlerts.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/SubscriptionForecast.json
Labels: ARMSignedOff

#9268 Custom dns servers for Virtual Wan P2SVpnGateway
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/P2SVpnGatewayGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/P2SVpnGatewayGetConnectionHealth.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/P2SVpnGatewayList.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/P2SVpnGatewayListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/P2SVpnGatewayPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/P2SVpnGatewayUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/virtualWan.json
Labels: ARMSignedOff

#9314 Add TLS Termination support for FirewallPolicy
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/firewallPolicy.json
Labels: ARMSignedOff

#9206 Add HubRouteTables specs to virtualWan.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/ExpressRouteConnectionCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/ExpressRouteConnectionGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/ExpressRouteConnectionList.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/ExpressRouteGatewayListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/ExpressRouteGatewayListBySubscription.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/HubRouteTableDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/HubRouteTableGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/HubRouteTableList.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/HubRouteTablePut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/HubVirtualNetworkConnectionGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/HubVirtualNetworkConnectionList.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/VirtualHubList.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/VirtualHubListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/VpnConnectionGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/VpnConnectionList.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/VpnConnectionPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/VpnGatewayGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/VpnGatewayList.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/VpnGatewayListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/VpnGatewayPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/VpnGatewayReset.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/VpnGatewayUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/virtualWan.json
Labels: ARMSignedOff

#9165 Frontdoor new API version 2020-05-01
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/assets/frontdoor.svg
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/examples/CheckFrontdoorNameAvailability.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/examples/CheckFrontdoorNameAvailabilityWithSubscription.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FrontdoorCreate.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FrontdoorDelete.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FrontdoorDisableHttps.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FrontdoorEnableHttps.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FrontdoorFrontendEndpointGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FrontdoorFrontendEndpointList.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FrontdoorGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FrontdoorList.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FrontdoorListAll.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FrontdoorPurgeContent.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FrontdoorRulesEngineCreate.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FrontdoorRulesEngineDelete.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FrontdoorRulesEngineGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FrontdoorRulesEngineList.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FrontdoorValidateCustomDomain.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/frontdoor.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/frontdoor.specs.md
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/network.json
  specification/frontdoor/resource-manager/readme.go.md
  specification/frontdoor/resource-manager/readme.md
Labels: ARMSignedOff

#9321 EventHub : Corrected Readme.md for Multi-API/Profile support
  specification/eventhub/resource-manager/readme.md
Labels: ARMSignedOff

#8662 Add Pipeline Resources for Image Transfer
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/containerregistry.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/ExportPipelineCreate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/ExportPipelineDelete.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/ExportPipelineGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/ExportPipelineList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/ImportPipelineCreate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/ImportPipelineDelete.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/ImportPipelineGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/ImportPipelineList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/PipelineRunCreate_Export.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/PipelineRunCreate_Import.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/PipelineRunDelete.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/PipelineRunGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/PipelineRunList.json
Labels: ARMSignedOff

#9298 Add private endpoint support for Cognitive Services.
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2017-04-18/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2017-04-18/examples/DeletePrivateEndpointConnection.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2017-04-18/examples/GetPrivateEndpointConnection.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2017-04-18/examples/ListPrivateLinkResources.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2017-04-18/examples/PutPrivateEndpointConnection.json
Labels: Approved-BreakingChange

#9325 Update deploymentScripts.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2019-10-01-preview/deploymentScripts.json
Labels: ARMSignedOff

#8879 Adding userassigned identities for compute
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/ListSkus.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/ListUsages.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/ListVMSizesResult.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/ListWorkspaceFeatures.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/ListWorkspaceQuotasByVMFamily.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/amlComputeListNodes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/createBasicAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/createBasicAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/createBasicDataFactoryCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/createWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/deleteCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/deleteWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/getAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/getAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/getComputes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/getWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/getWorkspacesByResourceGroup.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/getWorkspacesBySubscription.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/listKeysAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/listWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/patchAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/resyncWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/updateAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/updateAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/updateQuota.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/updateWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/workspaceDeletePrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/workspaceGetPrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/workspaceListPrivateLinkResources.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/workspacePutPrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/machineLearningServices.json
  specification/machinelearningservices/resource-manager/readme.go.md
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff

#9303 microsoft.insights - change 2018-05-01 folder name to 2018-05-01-preview for schema auto generation
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-05-01-preview/componentProactiveDetection_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-05-01-preview/components_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-05-01-preview/examples/ComponentsCreate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-05-01-preview/examples/ComponentsDelete.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-05-01-preview/examples/ComponentsGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-05-01-preview/examples/ComponentsList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-05-01-preview/examples/ComponentsListByResourceGroup.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-05-01-preview/examples/ComponentsPurge.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-05-01-preview/examples/ComponentsPurgeStatus.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-05-01-preview/examples/ComponentsUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-05-01-preview/examples/ComponentsUpdateTagsOnly.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-05-01-preview/examples/ProactiveDetectionConfigurationGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-05-01-preview/examples/ProactiveDetectionConfigurationUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-05-01-preview/examples/ProactiveDetectionConfigurationsList.json
  specification/applicationinsights/resource-manager/readme.md
Labels: ARMSignedOff

#9365 Revert commit:- CustomDnsServer optional param added for P2SVpnGateway resource from April release.
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/P2SVpnGatewayGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/P2SVpnGatewayGetConnectionHealth.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/P2SVpnGatewayList.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/P2SVpnGatewayListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/P2SVpnGatewayPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/P2SVpnGatewayUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/virtualWan.json
Labels: Approved-BreakingChange

#9216 [Hub Generated] Review request for Microsoft.ResourceGraph to add version preview/2018-09-01-preview
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/graphquery.json
Labels: WaitForARMFeedback

#9338 Updated code owner for storage
  CODEOWNERS
Labels: WaitForARMFeedback

#9033 [Azure Stack] Updates to Azs.Commerce.Admin spec for autorest config
  specification/azsadmin/resource-manager/commerce/Microsoft.Commerce.Admin/preview/2015-06-01-preview/Commerce.json
  specification/azsadmin/resource-manager/commerce/readme.azsautogen.md
  specification/azsadmin/resource-manager/commerce/readme.md
Labels: Approved-BreakingChange

#9335 EventHub: added optional keyVersion property in KeyVaultProperties
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/namespaces-preview.json
Labels: ARMSignedOff, Approved-BreakingChange

#8854 Adding the new resource type PrivateLinkForAzureAD
  custom-words.txt
  specification/azureactivedirectory/resource-manager/Microsoft.Aadiam/preview/2020-03-01-preview/examples/AzureADPrivateLinkPolicyCreate.json
  specification/azureactivedirectory/resource-manager/Microsoft.Aadiam/preview/2020-03-01-preview/examples/AzureADPrivateLinkPolicyDelete.json
  specification/azureactivedirectory/resource-manager/Microsoft.Aadiam/preview/2020-03-01-preview/examples/AzureADPrivateLinkPolicyGet.json
  specification/azureactivedirectory/resource-manager/Microsoft.Aadiam/preview/2020-03-01-preview/examples/AzureADPrivateLinkPolicyList.json
  specification/azureactivedirectory/resource-manager/Microsoft.Aadiam/preview/2020-03-01-preview/examples/AzureADPrivateLinkPolicyListBySubscription.json
  specification/azureactivedirectory/resource-manager/Microsoft.Aadiam/preview/2020-03-01-preview/examples/AzureADPrivateLinkPolicyMinCreate.json
  specification/azureactivedirectory/resource-manager/Microsoft.Aadiam/preview/2020-03-01-preview/examples/AzureADPrivateLinkPolicyUpdate.json
  specification/azureactivedirectory/resource-manager/Microsoft.Aadiam/preview/2020-03-01-preview/examples/AzureADPrivateLinkResourceGet.json
  specification/azureactivedirectory/resource-manager/Microsoft.Aadiam/preview/2020-03-01-preview/examples/AzureADPrivateLinkResourceListGet.json
  specification/azureactivedirectory/resource-manager/Microsoft.Aadiam/preview/2020-03-01-preview/privateLinkForAzureAD.json
  specification/azureactivedirectory/resource-manager/Microsoft.Aadiam/preview/2020-03-01-preview/privateLinkResources.json
  specification/azureactivedirectory/resource-manager/readme.md
Labels: ARMSignedOff

#8383 [Hub Generated] Review request for Microsoft.Insights to add version preview/2020-02-10-preview
  custom-words.txt
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-02-10-preview/WebTestResults_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-02-10-preview/examples/Operations_List.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-02-10-preview/examples/WebTestResultsTestResultFile.json
  specification/applicationinsights/resource-manager/readme.md
Labels: ARMSignedOff

#9315 Fix the format of shareUsageBytes to show larger file share size
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/file.json
Labels: Approved-BreakingChange

#9327 Update modelAsString to true for Frondoor APIs 2020-01-01 and 2020-05-01
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-01-01/frontdoor.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/frontdoor.json
Labels: Approved-BreakingChange, ReadyForSDKReview

#9304 [Hub Generated] Review request for Microsoft.DigitalTwins to add version preview/2020-03-01-preview
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/preview/2020-03-01-preview/digitaltwins.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/preview/2020-03-01-preview/examples/DigitalTwinsDelete_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/preview/2020-03-01-preview/examples/DigitalTwinsGet_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/preview/2020-03-01-preview/examples/DigitalTwinsListByResourceGroup_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/preview/2020-03-01-preview/examples/DigitalTwinsList_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/preview/2020-03-01-preview/examples/DigitalTwinsPatch_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/preview/2020-03-01-preview/examples/DigitalTwinsPut_example.json
Labels: ReadyForSDKReview

#8630 On boarding Solutions to latest stable API version
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/discoveredSecuritySolutions.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/DiscoveredSecuritySolutions/GetDiscoveredSecuritySolutionResourceGroupLocation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/DiscoveredSecuritySolutions/GetDiscoveredSecuritySolutionsSubscriptionLocation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/DiscoveredSecuritySolutions/GetDiscoveredSecuritySolutionsSubscription_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/ExternalSecuritySolutions/GetExternalSecuritySolution_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/ExternalSecuritySolutions/GetExternalSecuritySolutionsSubscriptionLocation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/ExternalSecuritySolutions/GetExternalSecuritySolutionsSubscription_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/externalSecuritySolutions.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff, DoNotMerge

#9360 Revert "Add 'capabilities' field to Cognitive Services account properties. (#9309)"
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2017-04-18/cognitiveservices.json
Labels: Approved-BreakingChange

#9197 Add resource type sqlServerInstances
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/azuredata.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/CreateOrUpdateSqlServerInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/DeleteSqlServerInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/GetSqlServerInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/ListByResourceGroupSqlServerInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/ListSubscriptionSqlServerInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/UpdateSqlServerInstance.json
Labels: ARMSignedOff, WaitForARMFeedback

#8981 [Hub Generated] Review request for Microsoft.ChangeAnalysis to add version preview/2020-04-01-preview
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/preview/2020-04-01-preview/changeanalysis.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/preview/2020-04-01-preview/examples/ConfigurationProfileCreate.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/preview/2020-04-01-preview/examples/ConfigurationProfileCreateWithIdentity.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/preview/2020-04-01-preview/examples/ConfigurationProfileDelete.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/preview/2020-04-01-preview/examples/ConfigurationProfileGet.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/preview/2020-04-01-preview/examples/ConfigurationProfileUpdate.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/preview/2020-04-01-preview/examples/ConfigurationProfileUpdateWithIdentity.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/preview/2020-04-01-preview/examples/OperationsList.json
  specification/changeanalysis/resource-manager/readme.csharp.md
  specification/changeanalysis/resource-manager/readme.go.md
  specification/changeanalysis/resource-manager/readme.md
  specification/changeanalysis/resource-manager/readme.python.md
  specification/changeanalysis/resource-manager/readme.ruby.md
  specification/changeanalysis/resource-manager/readme.typescript.md
Labels: ARMSignedOff, Approved-OkToMerge, SuppressionTrack

#9332 Datr m
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-01-23-preview/desktopvirtualization.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-09-24-preview/desktopvirtualization.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-12-10-preview/desktopvirtualization.json
  specification/desktopvirtualization/resource-manager/readme.go.md
  specification/desktopvirtualization/resource-manager/readme.java.md
  specification/desktopvirtualization/resource-manager/readme.md
  specification/desktopvirtualization/resource-manager/readme.ruby.md
Labels: Approved-BreakingChange, ReadyForSDKReview

#9326 Allow empty access policies array in HealthcareApis
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2018-08-20-preview/healthcare-apis.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2019-09-16/healthcare-apis.json
Labels: Breaking Change Review

#9259 SDK support for Table and Queue Storage Services
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/QueueOperationDelete.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/QueueOperationGet.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/QueueOperationList.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/QueueOperationPatch.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/QueueOperationPut.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/QueueOperationPutWithMetadata.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/QueueServicesGet.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/QueueServicesList.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/QueueServicesPut.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/TableOperationDelete.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/TableOperationGet.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/TableOperationPatch.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/TableOperationPut.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/TableOperationQuery.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/TableServicesGet.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/TableServicesList.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/TableServicesPut.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/queue.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/table.json
  specification/storage/resource-manager/readme.md
Labels: ARMSignedOff

#8840 [ACR] add regionEndpointEnabled to replication properties and replicationUpdateParameters
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/containerregistry.json
Labels: ARMSignedOff

#9288 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2019-11-01
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/costmanagement.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/PrivateView.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/PrivateViewCreateOrUpdate.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/PrivateViewDelete.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/PrivateViewList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ViewByResourceGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ViewCreateOrUpdateByResourceGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ViewDeleteByResourceGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ViewListByResourceGroup.json
Labels: ARMSignedOff

#9307 add Microsoft.AVS 2019-08-09-preview API spec
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/Clusters_CreateOrUpdate.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/Clusters_Delete.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/Clusters_Get.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/Clusters_List.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/Clusters_Update.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/Locations_CheckQuotaAvailability.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/Operations_List.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/PrivateClouds_CreateOrUpdate.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/PrivateClouds_Delete.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/PrivateClouds_Get.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/PrivateClouds_List.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/PrivateClouds_ListAdminCredentials.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/PrivateClouds_ListInSubscription.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/PrivateClouds_Update.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/vmware.json
  specification/vmware/resource-manager/readme.csharp.md
  specification/vmware/resource-manager/readme.md
  specification/vmware/resource-manager/readme.python.md
  specification/vmware/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#9361 Add 2020-04-01 API specification for Microsoft.Peering
  custom-words.txt
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/CheckServiceProviderAvailability.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/CreateDirectPeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/CreateExchangePeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/CreatePeerAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/CreatePeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/CreatePeeringServicePrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/CreatePeeringWithExchangeRouteServer.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/CreateRegisteredAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/CreateRegisteredPrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/DeletePeerAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/DeletePeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/DeletePeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/DeletePeeringServicePrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/DeleteRegisteredAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/DeleteRegisteredPrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/GetPeerAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/GetPeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/GetPeeringReceivedRoutes.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/GetPeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/GetPeeringServicePrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/GetRegisteredAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/GetRegisteredPrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/ListDirectPeeringLocations.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/ListExchangePeeringLocations.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/ListLegacyPeerings.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/ListPeerAsnsBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/ListPeeringOperations.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/ListPeeringServiceCountriesBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/ListPeeringServiceLocationsBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/ListPeeringServiceProviders.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/ListPeeringServicesByResourceGroup.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/ListPeeringServicesBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/ListPeeringsByResourceGroup.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/ListPeeringsBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/ListPrefixesByPeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/ListRegisteredAsnsByPeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/ListRegisteredPrefixesByPeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/UpdatePeeringServiceTags.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/examples/UpdatePeeringTags.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2020-04-01/peering.json
  specification/peering/resource-manager/readme.go.md
  specification/peering/resource-manager/readme.java.md
  specification/peering/resource-manager/readme.md
  specification/peering/resource-manager/readme.ruby.md
Labels: ARMSignedOff

#9404 A2A: Adding new properties and correcting few fields for zone to zone replication
  specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryServices/stable/2018-07-10/service.json
Labels: potential-sdk-breaking-change

#8935 Moved storage private link related models into common types
  custom-words.txt
  specification/common-types/resource-management/v1/privatelinks.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json
Labels: ReadyForSDKReview

#9402 EventGrid: Update 2020-04-01-preview swagger to include new properties per customer's feedback
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/EventGrid.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#9411 [Hub Generated] Review request for Microsoft.VirtualMachineImages to add version stable/2020-02-14
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/UpdateImageTemplateToUpdateIdentity.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/imagebuilder.json
Labels: ARMSignedOff, Approved-BreakingChange, potential-sdk-breaking-change

#8959 [Azure Stack] Updates to Azs.Storage.Admin spec
  specification/azsadmin/resource-manager/storage/Microsoft.Storage.Admin/preview/2019-08-08/examples/StorageAccounts/Undelete.json
  specification/azsadmin/resource-manager/storage/Microsoft.Storage.Admin/preview/2019-08-08/settings.json
  specification/azsadmin/resource-manager/storage/Microsoft.Storage.Admin/preview/2019-08-08/storage.json
  specification/azsadmin/resource-manager/storage/Microsoft.Storage.Admin/preview/2019-08-08/storageaccounts.json
  specification/azsadmin/resource-manager/storage/readme.azsautogen.md
Labels: Approved-BreakingChange, ReadyForSDKReview

#9401 Add DeletedWorkspaces API
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/Workspaces.json
Labels: ARMSignedOff

#9228 Adding 200 response in CreateOrUpdate api
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2018-03-01-preview/examples/CreateOrUpdate.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2018-03-01-preview/signalr.json
  specification/signalr/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange

#9240 Updated README tag version
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2020-02-07-preview/examples/HanaOperations_List.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2020-02-07-preview/examples/ProviderInstances_Create.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2020-02-07-preview/hanaonazure.json
  specification/hanaonazure/resource-manager/readme.md
Labels: ARMSignedOff, potential-sdk-breaking-change

#8495 Update bookmark relations API
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/actions/CreateActionOfAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/alertRules/CreateFusionAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/bookmarks/CreateBookmark.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/bookmarks/relations/CreateBookmarkRelation.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/bookmarks/relations/GetAllBookmarkRelations.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/bookmarks/relations/GetBookmarkRelationByName.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/cases/relations/CreateCaseRelation.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/dataConnectors/CreateOfficeDataConnetor.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/settings/UpdateUebaSettings.json
Labels: ARMSignedOff

#9449 Fixed invalid parameter reference
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-02-10-preview/WebTestResults_API.json
Labels: ARMSignedOff

#9451 [Hub Generated] Review request for Microsoft.VirtualMachineImages to add version stable/2020-02-14
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/UpdateImageTemplateToRemoveIdentities.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/imagebuilder.json
Labels: Approved-BreakingChange

#8182 Add API for maintenance policy id
  specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/examples/ManagedInstanceCreateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/examples/ManagedInstanceGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/examples/ManagedInstanceList.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/examples/ManagedInstanceListByResourceGroup.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/examples/ManagedInstanceUpdateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/examples/ManagedInstanceUpdateMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/managedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedInstanceCreateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedInstanceGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedInstanceList.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedInstanceListByInstancePool.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedInstanceListByResourceGroup.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedInstanceUpdateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedInstanceUpdateMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/managedInstances.json
Labels: ARMSignedOff

#9331 Add a max surge upgrade setting
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-04-01/examples/AgentPoolsGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-04-01/examples/ManagedClustersGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-04-01/managedClusters.json
Labels: ARMSignedOff

#9412 [AKS] Apply patch from 0301 API version to 0401
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-03-01/examples/ManagedClustersCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-03-01/managedClusters.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-04-01/managedClusters.json
Labels: Approved-BreakingChange

#9215 [Hub Generated] Review request for Microsoft.ResourceGraph to add version stable/2019-04-01
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2019-04-01/resourcegraph.json
Labels: ARMSignedOff, Approved-BreakingChange, potential-sdk-breaking-change

#9310 added app service schema
  specification/eventgrid/data-plane/Microsoft.Web/stable/2018-01-01/Web.json
  specification/eventgrid/data-plane/readme.md
Labels: WaitingForAzureAPIBoard

#8235 Added new SecureScore API to Microsoft.Security
  specification/security/resource-manager/Microsoft.Security/preview/2020-01-01-preview/examples/secureScoreControlDefinitions/ListSecureScoreControlDefinitions_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-01-01-preview/examples/secureScoreControlDefinitions/ListSecureScoreControlDefinitions_subscription_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-01-01-preview/examples/secureScores/GetSecureScoresSingle_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-01-01-preview/examples/secureScores/ListSecureScoreControlsForNameWithExpand_builtin_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-01-01-preview/examples/secureScores/ListSecureScoreControlsForName_builtin_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-01-01-preview/examples/secureScores/ListSecureScoreControls_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-01-01-preview/examples/secureScores/ListSecureScores_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-01-01-preview/secureScore.json
  specification/security/resource-manager/common/v1/types.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff

#9414 Fix operation Ids for Metadata, so they show up correctly in the REST…
  specification/applicationinsights/data-plane/Microsoft.Insights/preview/2018-04-20/swagger.json
  specification/applicationinsights/data-plane/Microsoft.Insights/preview/v1/AppInsights.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/preview/2017-10-01/swagger.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/stable/v1/OperationalInsights.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/AvailableServiceTiers.json
Labels: ARMSignedOff

#9085 Updated default tag to latest stable version.
  specification/search/resource-manager/Microsoft.Search/stable/2020-03-13/examples/CreateOrUpdateSharedPrivateLinkResource.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-03-13/examples/UpdatePrivateEndpointConnection.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-03-13/search.json
  specification/search/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, Approved-OkToMerge

#9357 Add VirtualHubBgpConnections, VirtualHubIpConfigurations, NetworkVirtualApplianceSites child resources
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/NetworkVirtualApplianceGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/NetworkVirtualApplianceListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/NetworkVirtualApplianceListBySubscription.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/NetworkVirtualAppliancePut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/NetworkVirtualApplianceSiteDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/NetworkVirtualApplianceSiteGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/NetworkVirtualApplianceSiteList.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/NetworkVirtualApplianceSitePut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/NetworkVirtualApplianceSkuGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/NetworkVirtualApplianceSkuList.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/NetworkVirtualApplianceUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/VirtualHubBgpConnectionDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/VirtualHubBgpConnectionGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/VirtualHubBgpConnectionList.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/VirtualHubBgpConnectionPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/VirtualHubGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/VirtualHubIpConfigurationDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/VirtualHubIpConfigurationGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/VirtualHubIpConfigurationList.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/VirtualHubIpConfigurationPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/VirtualHubList.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/VirtualHubListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/VirtualHubPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/VirtualHubUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/networkVirtualAppliance.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/virtualWan.json
Labels: ARMSignedOff

#7292 Create swagger for a new API: AutoDismissAlertsRules
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/alertsSuppressionRules.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/AlertsSuppressionRules/DeleteAlertsSuppressionRule_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/AlertsSuppressionRules/GetAlertsSuppressionRule_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/AlertsSuppressionRules/GetAlertsSuppressionRulesWithAlertType_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/AlertsSuppressionRules/GetAlertsSuppressionRules_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/AlertsSuppressionRules/PutAlertsSuppressionRule_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/alerts.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/examples/Alerts/GetAlertsResourceGroupLocationWithAutoDismissRule_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/examples/Alerts/GetAlertsResourceGroupWithAutoDismissRule_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/examples/Alerts/GetAlertsSubscriptionWithAutoDismissRule_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/examples/Alerts/GetAlertsSubscriptionsLocationWithAutoDismissRule_example.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff, WaitForARMFeedback

#9094 pricing tier swagger
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Services_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Services_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Services_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Services_ListBySubscription.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Services_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Sku_List.json
Labels: ARMSignedOff

#9476 Add MSI property to Remote Rendering Account
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/examples/remote-rendering/Get.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/examples/remote-rendering/GetByResourceGroup.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/examples/remote-rendering/GetBySubscription.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/examples/remote-rendering/Patch.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/examples/remote-rendering/Put.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/remote-rendering.json
Labels: Approved-BreakingChange, WaitForARMFeedback

#8773 Support Infrastructure Encryption - secondary layer of encryption at …
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/StorageAccountCreate.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json
Labels: ARMSignedOff

#9502 Merge Mixed Reality Changes to Master
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/examples/remote-rendering/Get.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/examples/remote-rendering/GetByResourceGroup.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/examples/remote-rendering/GetBySubscription.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/examples/remote-rendering/Patch.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/examples/remote-rendering/Put.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/remote-rendering.json
  specification/mixedreality/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange

#9025 [Hub Generated] Review request for Microsoft.ResourceGraph to add version preview/2020-04-01-preview
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/examples/GraphQueryAdd.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/examples/GraphQueryDelete.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/examples/GraphQueryGet.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/examples/GraphQueryList.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/examples/GraphQueryUpdate.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/examples/OperationsList.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/examples/ResourceChangeDetails.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/examples/ResourceChanges.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/examples/ResourceChangesFirstPage.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/examples/ResourceChangesNextPage.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/examples/ResourcesBasicQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/examples/ResourcesComplexQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/examples/ResourcesFacetQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/examples/ResourcesFilterQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/examples/ResourcesFirstPageQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/examples/ResourcesMgBasicQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/examples/ResourcesNextPageQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/examples/ResourcesPropertiesQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/examples/ResourcesRandomPageQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/examples/ResourcesSummarizeQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/examples/ResourcesTenantBasicQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/graphquery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/resourcegraph.json
  specification/resourcegraph/resource-manager/readme.md
Labels: ARMSignedOff, SuppressionTrack, potential-sdk-breaking-change

#9355 Eyes on setting
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/settings/DeleteEyesOnSetting.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/settings/GetAllSettings.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/settings/GetEyesOnSetting.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/settings/GetUebaSettings.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/settings/UpdateEyesOnSetting.json
Labels: ARMSignedOff

#9058 [Ready For Review] Add APIs for preparing Azure Notebook from AML workspace, and return required info to user for notebook initialization
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/createWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/getWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/listWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/updateAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/updateAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/workspacePrepareNotebook.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/machineLearningServices.json
Labels: ARMSignedOff, Approved-BreakingChange

#9540 [Hub Generated] Review request for Microsoft.AlertsManagement to add version preview/2019-05-05-preview
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/AlertsManagement.json
Labels: Approved-BreakingChange

#9545 EventGrid: Update 2020-04-01-preview swagger to use enum as string for parentType
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/EventGrid.json
Labels: Approved-BreakingChange

#9492 [AMS] update AMS stable version to include Edge list api
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2018-07-01/Accounts.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2018-07-01/examples/accounts-list-media-edge-policies.json
Labels: ARMSignedOff, ReadyForSDKReview

#9461 DNS Proxy support for Firewall Policy
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FirewallPolicyGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FirewallPolicyListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FirewallPolicyListBySubscription.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FirewallPolicyPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/firewallPolicy.json
Labels: ARMSignedOff

#8994 Link workspace
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/ListSkus.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/ListUsages.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/ListVMSizesResult.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/ListWorkspaceFeatures.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/ListWorkspaceQuotasByVMFamily.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/amlComputeListNodes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/createBasicAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/createBasicAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/createBasicDataFactoryCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/createLinkedWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/createWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/deleteCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/deleteLinkedWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/deleteWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/getAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/getAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/getComputes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/getLinkedWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/getWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/getWorkspacesByResourceGroup.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/getWorkspacesBySubscription.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/listKeysAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/listLinkedWorkspaces.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/listWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/patchAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/resyncWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/updateAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/updateAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/updateQuota.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/updateWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/workspaceDeletePrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/workspaceGetPrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/workspaceListPrivateLinkResources.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/workspacePutPrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/machineLearningServices.json
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff

#9491 Add capabilities for cognitive services.
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2017-04-18/cognitiveservices.json
Labels: ARMSignedOff

#9465 Added operations api in Microsoft.OffAzure GA version
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/Operations_List.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/migrate.json
Labels: ARMSignedOff

#9519 Adding osType and vmImage parameters **WaitForARMFeedback**
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/createBasicAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/getAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/machineLearningServices.json
Labels: ARMSignedOff

#9555 Issue 6660 - Added api-version parameter under convertToSinglePlacementGroup for VMSS
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/compute.json
Labels: Approved-BreakingChange

#9500 [Hub Generated] Review request for Microsoft.Kusto to add version stable/2020-02-15
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/kusto.json
Labels: Approved-BreakingChange

#9517 Update secureScore.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-01-01-preview/secureScore.json
Labels: ARMSignedOff, Approved-BreakingChange, Approved-OkToMerge

#9459 [Hub Generated] Review request for Microsoft.DigitalTwins to add version preview/2020-03-01-preview
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/preview/2020-03-01-preview/digitaltwins.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/preview/2020-03-01-preview/examples/DigitalTwinsIoTHubDelete_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/preview/2020-03-01-preview/examples/DigitalTwinsIoTHubGet_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/preview/2020-03-01-preview/examples/DigitalTwinsIoTHubPut_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/preview/2020-03-01-preview/examples/DigitalTwinsIoTHubsGet_example.json
Labels: ARMSignedOff

#9505 Operationalinsights tables, wokspace capping and sku
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/Tables.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/Workspaces.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/examples/TablesGet.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/examples/TablesList.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/examples/TablesUpdate.json
  specification/operationalinsights/resource-manager/readme.md
Labels: ARMSignedOff

#8913 [Hub Generated] Review request for Microsoft.ManagedServices to add version preview/2020-02-01-preview
  specification/managedservices/resource-manager/Microsoft.ManagedServices/preview/2020-02-01-preview/examples/DeleteRegistrationAssignment.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/preview/2020-02-01-preview/examples/DeleteRegistrationDefinition.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/preview/2020-02-01-preview/examples/GetMarketplaceRegistrationDefinition.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/preview/2020-02-01-preview/examples/GetMarketplaceRegistrationDefinitions.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/preview/2020-02-01-preview/examples/GetOperations.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/preview/2020-02-01-preview/examples/GetRegistrationAssignment.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/preview/2020-02-01-preview/examples/GetRegistrationAssignments.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/preview/2020-02-01-preview/examples/GetRegistrationDefinition.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/preview/2020-02-01-preview/examples/GetRegistrationDefinitions.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/preview/2020-02-01-preview/examples/PutRegistrationAssignment.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/preview/2020-02-01-preview/examples/PutRegistrationDefinition.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/preview/2020-02-01-preview/managedservices.json
  specification/managedservices/resource-manager/readme.md
Labels: ARMSignedOff

#9426 Add reboot parameters.
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01/examples/RedisCacheForceReboot.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01/examples/RedisCacheGet.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01/redis.json
Labels: ARMSignedOff, Redis Cache

#8966 Azure Spring Cloud: Support API to enable/disable MSI
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Apps_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Apps_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Apps_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Apps_Update.json
Labels: ARMSignedOff, Approved-BreakingChange

#9377 [Azure SignalR service]Support Private Link and add new api-version
  custom-words.txt
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2020-05-01/examples/Operations_List.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2020-05-01/examples/SignalRPrivateEndpointConnections_Delete.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2020-05-01/examples/SignalRPrivateEndpointConnections_Get.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2020-05-01/examples/SignalRPrivateEndpointConnections_Update.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2020-05-01/examples/SignalRPrivateLinkResources_List.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2020-05-01/examples/SignalR_CheckNameAvailability.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2020-05-01/examples/SignalR_CreateOrUpdate.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2020-05-01/examples/SignalR_Delete.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2020-05-01/examples/SignalR_Get.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2020-05-01/examples/SignalR_ListByResourceGroup.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2020-05-01/examples/SignalR_ListBySubscription.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2020-05-01/examples/SignalR_ListKeys.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2020-05-01/examples/SignalR_RegenerateKey.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2020-05-01/examples/SignalR_Restart.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2020-05-01/examples/SignalR_Update.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2020-05-01/examples/Usages_List.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2020-05-01/signalr.json
  specification/signalr/resource-manager/readme.go.md
  specification/signalr/resource-manager/readme.java.md
  specification/signalr/resource-manager/readme.md
  specification/signalr/resource-manager/readme.ruby.md
Labels: ARMSignedOff

#9386 Added new properties to ConnectivityHop
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/networkWatcher.json
Labels: ARMSignedOff

#9508 Changes for EA invoice scenarios
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/BillingAccountInvoice.json
Labels: ARMSignedOff, Approved-BreakingChange

#9583 documentation updates
  specification/security/resource-manager/Microsoft.Security/preview/2020-01-01-preview/examples/secureScoreControlDefinitions/ListSecureScoreControlDefinitions_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-01-01-preview/examples/secureScoreControlDefinitions/ListSecureScoreControlDefinitions_subscription_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-01-01-preview/examples/secureScores/GetSecureScoresSingle_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-01-01-preview/examples/secureScores/ListSecureScoreControlsForNameWithExpand_builtin_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-01-01-preview/examples/secureScores/ListSecureScores_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-01-01-preview/secureScore.json
Labels: ARMSignedOff, Approved-BreakingChange

#9356 Rename Firewall Policy child resource RuleGroup to RuleCollectionGroup
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FirewallPolicyGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FirewallPolicyListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FirewallPolicyListBySubscription.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FirewallPolicyPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FirewallPolicyRuleCollectionGroupDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FirewallPolicyRuleCollectionGroupGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FirewallPolicyRuleCollectionGroupList.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FirewallPolicyRuleCollectionGroupPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FirewallPolicyRuleCollectionGroupWithIpGroupsGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FirewallPolicyRuleCollectionGroupWithIpGroupsList.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FirewallPolicyRuleCollectionGroupWithIpGroupsPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/firewallPolicy.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#9345 Move python track1 sdk generation to release/v3 branch
  specificationRepositoryConfiguration.json
Labels: DoNotMerge

#9554 Creating Labeler for Compute Updates
  .github/computeReviewLabeler.yml
  .github/workflows/computeReviewLabeler.yml
  CODEOWNERS
Labels: ARMSignedOff

#9591 Remove ISO8601 date format, ad current implementation uses another fo…
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/AvailableServiceTiers.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/Workspaces.json
Labels: ARMSignedOff

#9458 [Hub Generated] Review request for Microsoft.AzureActiveDirectory to add version preview/2020-05-01-preview
  custom-words.txt
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2020-05-01-preview/cpim.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2020-05-01-preview/examples/GuestUsagesCreate.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2020-05-01-preview/examples/GuestUsagesDelete.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2020-05-01-preview/examples/GuestUsagesGet.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2020-05-01-preview/examples/GuestUsagesResourceGroupGet.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2020-05-01-preview/examples/GuestUsagesSubscriptionGet.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2020-05-01-preview/examples/GuestUsagesUpdate.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2020-05-01-preview/examples/OperationsList.json
  specification/cpim/resource-manager/readme.csharp.md
  specification/cpim/resource-manager/readme.go.md
  specification/cpim/resource-manager/readme.md
  specification/cpim/resource-manager/readme.python.md
  specification/cpim/resource-manager/readme.ruby.md
  specification/cpim/resource-manager/readme.typescript.md
Labels: ARMSignedOff, Reviewed-ChangesRequired

#9560 Multiple Public IPs support for Azure Firewall in Virtual Hub
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/azureFirewall.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/AzureFirewallPutInHub.json
Labels: ARMSignedOff

#9524 Auto patch swagger change
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/examples/CreateAVmWithPatchSettingModeOfAutomaticByOS.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/examples/CreateAVmWithPatchSettingModeOfAutomaticByPlatform.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/examples/CreateAVmWithPatchSettingModeOfManual.json
Labels: ARMSignedOff

#9250 Add basicpublishingcredentialspolicies to Microsoft.Web 2019-08-01
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/CommonDefinitions.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/WebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/GetPublishingCredentialsPolicy.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/ListPublishingCredentialsPolicies.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/UpdatePublishingCredentialsPolicy.json
Labels: ARMSignedOff, Approved-BreakingChange, Approved-OkToMerge

#9618 checkTrialAvailability endpoint for Microsoft.AVS
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/Locations_CheckTrialAvailability.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/vmware.json
Labels: ARMSignedOff

#9434 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2019-11-01
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/costmanagement.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/DismissResourceGroupAlerts.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/DismissSubscriptionAlerts.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/SingleResourceGroupAlert.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/SingleSubscriptionAlert.json
Labels: ARMSignedOff

#9566 add alert link to security alert arm model
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/entities/GetSecurityAlertEntityById.json
Labels: ARMSignedOff

#9596 EventHub: fixed the Cluster PUT API
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/AvailableClusterRegions-preview.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/Clusters-preview.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/Clusters/ClusterGet.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/Clusters/ClusterPatch.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/Clusters/ClusterPut.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/Clusters/ClustersListByResourceGroup.json
Labels: ARMSignedOff

#9482 Swagger for the new ARM resource PrivateLinkHub
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/CreateOrUpdatePrivateLinkHub.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/DeletePrivateLinkHub.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/GetPrivateLinkHub.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/ListPrivateLinkHubsInResourceGroup.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/ListPrivateLinkHubsInSubscription.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/UpdatePrivateLinkHub.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/privatelinkhub.json
  specification/synapse/resource-manager/readme.md
Labels: ARMSignedOff

#9536 VirtualWan: Hubvnet Connection related changes
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/HubVirtualNetworkConnectionDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/HubVirtualNetworkConnectionGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/HubVirtualNetworkConnectionList.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/HubVirtualNetworkConnectionPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/VirtualHubGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/VirtualHubList.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/VirtualHubListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/VirtualHubPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/VirtualHubUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/virtualWan.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#9609 Destination FQDNs in FirewallPolicy for network rules.
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/firewallPolicy.json
Labels: ARMSignedOff

#9097 Move serverVulnerabilityAssessment API to stable-2020-01-01
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/ServerVulnerabilityAssessments/CreateServerVulnerabilityAssessments_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/ServerVulnerabilityAssessments/DeleteServerVulnerabilityAssessments_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/ServerVulnerabilityAssessments/GetServerVulnerabilityAssessments_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/ServerVulnerabilityAssessments/ListByExtendedResourceServerVulnerabilityAssessments_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/serverVulnerabilityAssessments.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff

#9595 update GC Swagger spec to match with most recent service interface
  custom-words.txt
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/common/v1/definitions.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2018-11-20/examples/createOrUpdateGuestConfigurationHCRPAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2018-11-20/examples/deleteGuestConfigurationHCRPAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2018-11-20/examples/getGuestConfigurationHCRPAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2018-11-20/examples/getGuestConfigurationHCRPAssignmentReportById.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2018-11-20/examples/listAllGuestConfigurationHCRPAssignmentReports.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2018-11-20/examples/listGuestConfigurationHCRPAssignments.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2018-11-20/guestconfiguration.json
Labels: ARMSignedOff, Approved-BreakingChange

#9520 Adding DisallowedConfiguration property to VirtualMachineImageProperties
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/compute.json
Labels: ARMSignedOff

#9385 VirtualHub : Add Routing State and expose Effective Routes Api
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/EffectiveRoutesListForConnection.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/EffectiveRoutesListForRouteTable.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/EffectiveRoutesListForVirtualHub.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/VirtualHubGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/VirtualHubList.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/VirtualHubListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/VirtualHubPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/virtualWan.json
Labels: WaitForARMFeedback

#9418 [Hub Generated] Review request for Microsoft.Consumption to add version stable/2019-10-01
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/examples/Budget.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/examples/BudgetsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/examples/CreateOrUpdateBudget.json
Labels: ARMSignedOff, Approved-BreakingChange, Approved-OkToMerge, potential-sdk-breaking-change
