Repository Azure/azure-rest-api-specs, pull requests merged in 2020-06, with the labels that each got.

#9580 Revert "Fix Parameter Description for validate resource move (#8524)"
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/resources.json
Labels: Approved-BreakingChange

#9651 Correcting the invoice download request to accept downloadToken as per code and similar to other download operations. These APIs are not live yet.
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/billing.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/examples/InvoiceDownload.json
Labels: Approved-BreakingChange

#9666 Added SecurityProfile to support Host Encryption for VM and Scaleset resources - Changes reviewed in PR: 9366
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/examples/CreateAScaleSetWithEncryptionAtHost.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/examples/CreateAVmWithEncryptionAtHost.json
Labels: WaitForARMFeedback

#9542 Update API specs 2020-05-01
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FrontdoorCreate.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FrontdoorGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FrontdoorList.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/examples/FrontdoorListAll.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/examples/WafListManagedRuleSets.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/examples/WafListPolicies.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/examples/WafPolicyCreateOrUpdate.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/examples/WafPolicyDelete.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/examples/WafPolicyGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/frontdoor.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/webapplicationfirewall.json
  specification/frontdoor/resource-manager/readme.md
Labels: ARMSignedOff, potential-sdk-breaking-change

#9247 Remove lt rv1 WaitForARMFeedback
  specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/backupLongTermRetentionPolicies.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/backupLongTermRetentionVaults.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/examples/BackupLongTermRetentionPolicyGet.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/examples/BackupLongTermRetentionPolicyList.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/examples/BackupLongTermRetentionPolicyUpdate.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/examples/BackupLongTermRetentionVaultGet.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/examples/BackupLongTermRetentionVaultList.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/examples/BackupLongTermRetentionVaultUpdate.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/examples/OperationList.json
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff, potential-sdk-breaking-change

#9460 Adding new RetrieveBootDiagnosticsData.POST API. VM/VMSS managed boot diagnostics changes with examples.
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/examples/CreateAScaleSetWithManagedBootDiagnostics.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/examples/CreateAVmWithManagedBootDiagnostics.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/examples/RetrieveBootDiagnosticsDataVMScaleSetVM.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/examples/RetrieveBootDiagnosticsDataVirtualMachine.json
Labels: ARMSignedOff

#9602 Update allowed range for nodeCount
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/bigDataPool.json
Labels: ARMSignedOff, Approved-BreakingChange

#9667 [Hub Generated] Review request for Microsoft.DigitalTwins to add version preview/2020-03-01-preview
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/preview/2020-03-01-preview/digitaltwins.json
Labels: ARMSignedOff, Approved-BreakingChange

#9687 align eTag with server
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/DataSources.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/SavedSearches.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/examples/DataSourcesCreate.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/examples/DataSourcesGet.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/examples/DataSourcesListByWorkspace.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/examples/SavedSearchesListByWorkspace.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/examples/WorkspacesSavedSearchesCreateOrUpdate.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/examples/WorkspacesSavedSearchesGet.json
Labels: ARMSignedOff, Approved-BreakingChange

#9654 IngestionMode Flag
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-05-01-preview/components_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-05-01-preview/examples/ComponentsCreate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-05-01-preview/examples/ComponentsGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-05-01-preview/examples/ComponentsList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-05-01-preview/examples/ComponentsListByResourceGroup.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-05-01-preview/examples/ComponentsUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-05-01-preview/examples/ComponentsUpdateTagsOnly.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-02-02-preview/components_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-02-02-preview/examples/ComponentsCreate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-02-02-preview/examples/ComponentsGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-02-02-preview/examples/ComponentsList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-02-02-preview/examples/ComponentsListByResourceGroup.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-02-02-preview/examples/ComponentsUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-02-02-preview/examples/ComponentsUpdateTagsOnly.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/components_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/ComponentsCreate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/ComponentsGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/ComponentsList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/ComponentsListByResourceGroup.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/ComponentsUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/ComponentsUpdateTagsOnly.json
Labels: ARMSignedOff

#9422 Update property range due to tier sensitive.
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/appplatform.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#9568 Update GraphQuery location property readOnly=false
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/graphquery.json
Labels: Approved-BreakingChange

#9622 Azure Digital Twins 2020-05-31-preview
  custom-words.txt
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/digitaltwins.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/CreateRelationshipAdvancedExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/CreateRelationshipBasicExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/DeleteModel.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/DeleteRelationship.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/DeleteTwin.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/EventRouteDelete.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/EventRouteGet.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/EventRoutePut.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/EventRoutePutWithFilter.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/EventRoutesList.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/GetComponent.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/GetIncomingRelationship.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/GetRelationship.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/GetRelationshipById.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/GetRelationshipByRelationshipName.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/GetTwin.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/ModelAdd.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/ModelGetById.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/ModelGetByIdWithIncludeModelDefinition.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/ModelUpdateDecommissioned.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/ModelsGet.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/ModelsGetWithDependenciesAndIncludeModelDefinition.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/PatchComponentAdvancedExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/PatchComponentBasicExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/PatchRelationshipAdvancedExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/PatchRelationshipBasicExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/PatchTwinAdvancedExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/PatchTwinBasicExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/PutTwinAdvancedExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/PutTwinBasicExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/QueryFirstPage.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/QueryJoin.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/QueryNextPage.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/SendTelemetry.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2020-05-31-preview/examples/SendTelemetryFromComponent.json
  specification/digitaltwins/data-plane/readme.csharp.md
  specification/digitaltwins/data-plane/readme.go.md
  specification/digitaltwins/data-plane/readme.md
  specification/digitaltwins/data-plane/readme.python.md
  specification/digitaltwins/data-plane/readme.ruby.md
  specification/digitaltwins/data-plane/readme.typescript.md
Labels: AzureAPIBoardSignedOff

#9680 New API version for Iot Hub Get Endpoint Health
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/IotHub_ManualFailover.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/checkNameAvailability.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_certificatescreateorupdate.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_certificatesdelete.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_certverify.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_createOrUpdate.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_createconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_delete.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_deleteconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_deleteprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_exportdevices.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_generateverificationcode.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_get.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_getcertificate.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_getconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_getjob.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_getkey.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_getprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_getprivatelinkresources.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_getskus.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_importdevices.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_listbyrg.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_listbysubscription.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_listcertificates.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_listehgroups.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_listjobs.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_listkeys.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_listprivateendpointconnections.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_listprivatelinkresources.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_operations.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_patch.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_quotametrics.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_routingendpointhealth.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_stats.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_testallroutes.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_testnewroute.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_updateprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/examples/iothub_usages.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-04-01/iothub.json
  specification/iothub/resource-manager/readme.md
Labels: ARMSignedOff

#9490 Application Gateway Private Link Support
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/ApplicationGatewayCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/ApplicationGatewayGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/ApplicationGatewayPrivateEndpointConnectionDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/ApplicationGatewayPrivateEndpointConnectionGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/ApplicationGatewayPrivateEndpointConnectionList.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/ApplicationGatewayPrivateEndpointConnectionUpdate.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/ApplicationGatewayPrivateLinkResourceList.json
Labels: ARMSignedOff

#9657 [Hub Generated] Review request for Microsoft.Databricks to add version stable/2018-04-01
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2018-04-01/databricks.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2018-04-01/examples/WorkspaceVirtualNetPeeringGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2018-04-01/examples/WorkspaceVirtualNetPeeringList.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2018-04-01/examples/WorkspaceVirtualNetworkPeeringCreateOrUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2018-04-01/examples/WorkspaceVirtualNetworkPeeringDelete.json
Labels: ARMSignedOff

#9724 Removing duplicate autoQuotaIncreaseState from supportTicketAction.
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-07-19/examples/getAutoQuotaIncreaseStatus.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-07-19/examples/putAutoQuotaIncrease.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-07-19/examples/putAutoQuotaIncreaseTurnOff.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-07-19/quota.json
Labels: Approved-BreakingChange

#9702 Changing aspects/opinions to optional properties from required proper…
  specification/cognitiveservices/data-plane/TextAnalytics/preview/v3.1-preview.1/TextAnalytics.json
Labels: WaitForARMFeedback

#9732 Adding the missing api-version parameter for move and validate move APIs. It is already part of the examples.
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/billing.json
Labels: Approved-BreakingChange

#9682 Add nvaSku property for NetworkVirtualAppliance
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/NetworkVirtualApplianceGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/NetworkVirtualApplianceListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/NetworkVirtualApplianceListBySubscription.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/NetworkVirtualAppliancePut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/NetworkVirtualApplianceUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/networkVirtualAppliance.json
Labels: ARMSignedOff

#9585 Added the allowed values to $select, $expand and $filter queries unde…
  specification/compute/resource-manager/Microsoft.Compute/stable/2015-06-15/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2016-03-30/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2017-03-30/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2017-03-30/examples/ListAvailabilitySetsInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2017-12-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2017-12-01/examples/ListAvailabilitySetsInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-04-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-04-01/examples/ListAvailabilitySetsInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-06-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-06-01/examples/ListAvailabilitySetsInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-10-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-10-01/examples/ListAvailabilitySetsInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/ListAvailabilitySetsInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/ListAvailabilitySetsInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/ListAvailabilitySetsInASubscription.json
Labels: computeReview

#9552 DiskRP Swagger changes for 2020-05-01
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/disk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/CreateADiskAccess.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/CreateADiskEncryptionSet.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/CreateAManagedDiskByCopyingASnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/CreateAManagedDiskByImportingAnUnmanagedBlobFromADifferentSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/CreateAManagedDiskByImportingAnUnmanagedBlobFromTheSameSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/CreateAManagedDiskFromAPlatformImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/CreateAManagedDiskFromAnExistingManagedDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/CreateAManagedDiskWithDiskAccess.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/CreateAManagedDiskWithDiskEncryptionSet.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/CreateAManagedUploadDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/CreateASnapshotByImportingAnUnmanagedBlobFromADifferentSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/CreateASnapshotByImportingAnUnmanagedBlobFromTheSameSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/CreateASnapshotFromAnExistingSnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/CreateAnEmptyManagedDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/DeleteADiskAccess.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/DeleteADiskEncryptionSet.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/GetDiskAccessPrivateLinkResources.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/GetInformationAboutADiskAccess.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/GetInformationAboutADiskAccessWithPrivateEndpoints.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/GetInformationAboutADiskEncryptionSet.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/GetInformationAboutAManagedDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/GetInformationAboutASnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/ListDiskAccessesInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/ListDiskAccessesInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/ListDiskEncryptionSetsInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/ListDiskEncryptionSetsInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/ListManagedDisksInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/ListManagedDisksInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/ListSnapshotsInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/ListSnapshotsInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/UpdateADiskAccess.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/UpdateADiskEncryptionSet.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/examples/UpdateAManagedDiskToRemoveDiskAccess.json
  specification/compute/resource-manager/readme.md
Labels: ARMSignedOff

#9487 [Resources] Add new API version
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/examples/CalculateTemplateHash.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/examples/CreateResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/examples/ExportResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/examples/ExportResourceGroupWithFiltering.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/examples/GetTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/examples/GetTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/examples/PostDeploymentWhatIfOnResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/examples/PostDeploymentWhatIfOnSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/examples/PutDeploymentAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/examples/PutDeploymentAtScope.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/examples/PutDeploymentAtTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/examples/PutDeploymentResourceGroupTemplateSpecsWithId.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/examples/PutDeploymentSubscriptionTemplateSpecsWithId.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/examples/PutDeploymentWithOnErrorDeploymentLastSuccessful.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/examples/PutDeploymentWithOnErrorDeploymentSpecificDeployment.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/examples/PutTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/examples/PutTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/resources.json
  specification/resources/resource-manager/readme.csharp.md
  specification/resources/resource-manager/readme.java.md
  specification/resources/resource-manager/readme.md
  specification/resources/resource-manager/readme.python.md
Labels: ARMSignedOff

#9275 Add AssessPatches API
  custom-words.txt
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/examples/VirtualMachineAssessPatches.json
Labels: ARMSignedOff

#9733 [HDInsight]Fix Error Response Structure
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/examples/GetClusterVirtualMachines.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/virtualMachines.json
Labels: ARMSignedOff

#9701 Add PPG
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-06-01/examples/AgentPoolsCreate_PPG.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-06-01/examples/ManagedClustersCreate_PPG.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-06-01/managedClusters.json
  specification/containerservice/resource-manager/readme.go.md
  specification/containerservice/resource-manager/readme.java.md
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: ARMSignedOff

#9778 Adding swagger for Template Specs
  specification/resources/resource-manager/Microsoft.Resources/preview/2019-06-01-preview/examples/TemplateSpecVersionsCreate.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2019-06-01-preview/examples/TemplateSpecVersionsDelete.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2019-06-01-preview/examples/TemplateSpecVersionsGet.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2019-06-01-preview/examples/TemplateSpecVersionsList.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2019-06-01-preview/examples/TemplateSpecVersionsPatch.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2019-06-01-preview/examples/TemplateSpecsCreate.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2019-06-01-preview/examples/TemplateSpecsDelete.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2019-06-01-preview/examples/TemplateSpecsGet.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2019-06-01-preview/examples/TemplateSpecsListByResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2019-06-01-preview/examples/TemplateSpecsListBySubscription.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2019-06-01-preview/examples/TemplateSpecsPatch.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2019-06-01-preview/templateSpecs.json
  specification/resources/resource-manager/readme.csharp.md
  specification/resources/resource-manager/readme.md
Labels: ARMSignedOff

#9763 add tags type
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-12-10-preview/desktopvirtualization.json
Labels: Approved-BreakingChange

#9688 Support for Proximity placement group and Availability zone as input for VMWare to Azure and Hyper-V to Azure replications in Site Recovery Service
  specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryServices/stable/2018-07-10/service.json
Labels: ARMSignedOff

#9706 add new API for private endpoint connections on AKS
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-06-01/examples/PrivateEndpointConnectionsDelete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-06-01/examples/PrivateEndpointConnectionsGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-06-01/examples/PrivateEndpointConnectionsList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-06-01/examples/PrivateEndpointConnectionsUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-06-01/managedClusters.json
Labels: ARMSignedOff

#9319 Adding ExtensionsTimeBudget to new Api Version
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/examples/CreateAScaleSetWithExtensionsTimeBudget.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/examples/CreateAVmWithExtensionsTimeBudget.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/examples/GetVirtualMachine.json
Labels: ARMSignedOff

#9794 Updates to LoadBalancer swagger
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/LBBackendAddressPoolWithBackendAddressesPutWithNICIPConfiguration.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/loadBalancer.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/LBBackendAddressPoolWithBackendAddressesPutWithNICIPConfiguration.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/loadBalancer.json
Labels: ARMSignedOff

#9696 [Hub Generated] Review request for Microsoft.BotService to add version stable/2020-06-02
  custom-words.txt
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/botservice.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/CheckNameAvailability.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/CreateBot.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/DeleteBot.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/DeleteChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/DeleteConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/DeleteDirectLineSpeechChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/DirectlineRegenerateKeys.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/GetAlexaChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/GetBot.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/GetChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/GetConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/GetDirectLineSpeechChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/GetLineChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/GetOperations.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/ListBotsByResourceGroup.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/ListBotsBySubscription.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/ListChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/ListChannelsByBotService.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/ListConnectionsByBotService.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/ListServiceProviders.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/PutAlexaChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/PutChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/PutConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/PutDirectLineSpeechChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/PutLineChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/UpdateAlexaChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/UpdateBot.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/UpdateChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/UpdateConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/UpdateDirectLineSpeechChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/UpdateLineChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/WebChatRegenerateKeys.json
  specification/botservice/resource-manager/readme.md
Labels: ARMSignedOff

#9716 [Ready For Review] Add APIs for preparing Azure Notebook to newer version
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/createWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/getWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/listWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/workspacePrepareNotebook.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/machineLearningServices.json
Labels: ARMSignedOff, Approved-BreakingChange, potential-sdk-breaking-change

#9777 Adding required attributes to location and properties
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/Registration.json
Labels: ARMSignedOff, Approved-OkToMerge

#9642 ApiManagement - fix quota patch contracts
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-12-01/apimquotas.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-12-01/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-12-01/examples/ApiManagementUpdateQuotaCounterKey.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-12-01/examples/ApiManagementUpdateQuotaCounterKeyByQuotaPeriod.json
Labels: API Management, Approved-BreakingChange

#8911 Managed Instance failover swagger
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/FailoverManagedInstance.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/examples/FailoverManagedInstance.json
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff

#9771 Added enableAzureRBAC property in ManagedClusterAADProfile
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-06-01/examples/ManagedClustersCreate_UpdateWithEnableAzureRBAC.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-06-01/managedClusters.json
Labels: ARMSignedOff

#9670 [Hub Generated] Review request for Microsoft.Consumption to add version stable/2019-10-01
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/examples/ReservationTransactionsListByBillingProfileId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/examples/ReservationTransactionsListByEnrollmentNumber.json
Labels: ARMSignedOff, Approved-BreakingChange

#9808 Approved 2020-06 API version to support Live Metrics token generation.
  custom-words.txt
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-06-02-preview/examples/LiveTokenGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-06-02-preview/examples/Operations_List.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-06-02-preview/livetoken_API.json
  specification/applicationinsights/resource-manager/readme.md
  specification/applicationinsights/resource-manager/readme.python.md
Labels: ARMSignedOff

#9746 Cosmos DB remove 404 response on databaseAccounts GET
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-03-01/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-03-01/examples/CosmosDBDatabaseAccountGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/examples/CosmosDBDatabaseAccountGet.json
Labels: Approved-BreakingChange

#8664 Updated APNS related documentation for 2017-04-01 version
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/notificationhubs.json
Labels: Approved-OkToMerge

#9737 Add swagger definition for user assigned identity
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-06-01/examples/ManagedClustersCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-06-01/managedClusters.json
Labels: ARMSignedOff

#9839 [VirtualWan] Fix bug where list items where marked as subResources
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/virtualWan.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/virtualWan.json
Labels: Approved-BreakingChange

#9700 remove VMwareVirtustream
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/CheckQuotaAvailability.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/Clusters_CreateOrUpdate.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/Clusters_Delete.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/Clusters_Get.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/Clusters_List.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/Clusters_Update.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/Operations_List.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/PrivateClouds_CreateOrUpdate.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/PrivateClouds_Delete.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/PrivateClouds_Get.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/PrivateClouds_List.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/PrivateClouds_ListAdminCredentials.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/PrivateClouds_ListInSubscription.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/PrivateClouds_Update.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/vmwarevirtustream.json
  specification/vmwarevirtustream/resource-manager/readme.csharp.md
  specification/vmwarevirtustream/resource-manager/readme.md
  specification/vmwarevirtustream/resource-manager/readme.python.md
  specification/vmwarevirtustream/resource-manager/readme.typescript.md
Labels: Approved-BreakingChange

#8895 CloudShell -- create stable 2018-10-01 and preview 2020-04-01 swagger apis
  custom-words.txt
  specification/cloudshell/resource-manager/Microsoft.Portal/stable/2018-10-01/CloudShell.json
  specification/cloudshell/resource-manager/Microsoft.Portal/stable/2018-10-01/examples/DeleteConsole.json
  specification/cloudshell/resource-manager/Microsoft.Portal/stable/2018-10-01/examples/DeleteConsole_Location.json
  specification/cloudshell/resource-manager/Microsoft.Portal/stable/2018-10-01/examples/DeleteUserSettings.json
  specification/cloudshell/resource-manager/Microsoft.Portal/stable/2018-10-01/examples/DeleteUserSettings_Location.json
  specification/cloudshell/resource-manager/Microsoft.Portal/stable/2018-10-01/examples/GetConsole.json
  specification/cloudshell/resource-manager/Microsoft.Portal/stable/2018-10-01/examples/GetConsole_Location.json
  specification/cloudshell/resource-manager/Microsoft.Portal/stable/2018-10-01/examples/GetUserSettings.json
  specification/cloudshell/resource-manager/Microsoft.Portal/stable/2018-10-01/examples/GetUserSettings_Location.json
  specification/cloudshell/resource-manager/Microsoft.Portal/stable/2018-10-01/examples/KeepAlive.json
  specification/cloudshell/resource-manager/Microsoft.Portal/stable/2018-10-01/examples/KeepAlive_Location.json
  specification/cloudshell/resource-manager/Microsoft.Portal/stable/2018-10-01/examples/PatchUserSettings.json
  specification/cloudshell/resource-manager/Microsoft.Portal/stable/2018-10-01/examples/PatchUserSettings_Location.json
  specification/cloudshell/resource-manager/Microsoft.Portal/stable/2018-10-01/examples/PutConsole.json
  specification/cloudshell/resource-manager/Microsoft.Portal/stable/2018-10-01/examples/PutConsole_Location.json
  specification/cloudshell/resource-manager/Microsoft.Portal/stable/2018-10-01/examples/PutUserSettings.json
  specification/cloudshell/resource-manager/Microsoft.Portal/stable/2018-10-01/examples/PutUserSettings_Location.json
  specification/cloudshell/resource-manager/readme.md
Labels: ARMSignedOff, SuppressionTrack

#9722 New vWAN resource properties
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/virtualWan.json
Labels: ARMSignedOff

#9827 [Hub Generated] Review request for Microsoft.Billing EA Auth to version preview/2019-10-01-preview
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/BillingAccountEaPermissionsList.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/BillingAccountEaRoleAssignment.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/BillingAccountEaRoleAssignmentDelete.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/BillingAccountEaRoleAssignmentList.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/BillingAccountEaRoleDefinition.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/BillingAccountEaRoleDefinitionsList.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/DepartmentPermissionsList.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/DepartmentRoleAssignment.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/DepartmentRoleAssignmentDelete.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/DepartmentRoleAssignmentList.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/DepartmentRoleDefinition.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/DepartmentRoleDefinitionsList.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/EnrollmentAccountPermissionsList.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/EnrollmentAccountRoleAssignment.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/EnrollmentAccountRoleAssignmentDelete.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/EnrollmentAccountRoleAssignmentList.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/EnrollmentAccountRoleDefinition.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/EnrollmentAccountRoleDefinitionsList.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/PutEnrollmentAccountSubscriptionCreatorRoleAssignment.json
Labels: ARMSignedOff

#9819 Update Attestation control plane swagger to include 2 new defaultprovider API
  specification/attestation/resource-manager/Microsoft.Attestation/preview/2018-09-01-preview/attestation.json
  specification/attestation/resource-manager/Microsoft.Attestation/preview/2018-09-01-preview/examples/Get_DefaultProviderByLocation.json
  specification/attestation/resource-manager/Microsoft.Attestation/preview/2018-09-01-preview/examples/Get_DefaultProviders.json
Labels: ARMSignedOff

#9868 BUG FIX: Fixed HopLink properties: context should be a dictionary, uint32 from…
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/networkWatcher.json
Labels: Approved-BreakingChange, WaitForARMFeedback

#9882 LaMigrationDate
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-02-02-preview/components_API.json
Labels: WaitForARMFeedback

#9838 [Hub Generated] Review request for Microsoft.ContainerInstance to add version stable/2019-12-01
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2019-12-01/containerInstance.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2019-12-01/examples/CachedImagesList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2019-12-01/examples/CapabilitiesList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2019-12-01/examples/ContainerExec.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2019-12-01/examples/ContainerGroupUsage.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2019-12-01/examples/ContainerGroupsCreateOrUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2019-12-01/examples/ContainerGroupsDelete.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2019-12-01/examples/ContainerGroupsGet_Failed.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2019-12-01/examples/ContainerGroupsGet_Succeeded.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2019-12-01/examples/ContainerGroupsList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2019-12-01/examples/ContainerGroupsListByResourceGroup.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2019-12-01/examples/ContainerGroupsRestart.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2019-12-01/examples/ContainerGroupsStart.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2019-12-01/examples/ContainerGroupsStop.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2019-12-01/examples/ContainerGroupsUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2019-12-01/examples/ContainerListLogs.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2019-12-01/examples/OperationsList.json
  specification/containerinstance/resource-manager/readme.csharp.md
  specification/containerinstance/resource-manager/readme.go.md
  specification/containerinstance/resource-manager/readme.java.md
  specification/containerinstance/resource-manager/readme.md
  specification/containerinstance/resource-manager/readme.ruby.md
Labels: ARMSignedOff

#9723 **WaitForARMFeedback**" Adding isolatedNetwork parameters
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/createBasicAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/getAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/machineLearningServices.json
Labels: ARMSignedOff

#9725 **WaitForARMFeedback** add enableNodePublicIp to AMLCompute
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/createBasicAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/getAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/machineLearningServices.json
Labels: ARMSignedOff

#9831 [SRP]Adding allowBlobPublicAccess and minimumTlsVersion property for June19 and April19
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountCreate.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/StorageAccountUpdate.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/storage.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/StorageAccountCreate.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/StorageAccountUpdate.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json
Labels: ARMSignedOff, Approved-BreakingChange

#9849 Operational insights delete wrong lines data export
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/DataExports.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/examples/DataExportGet.json
Labels: Approved-BreakingChange

#9218 new Batch Document Translation API Preview 1.0
  custom-words.txt
  specification/cognitiveservices/data-plane/TranslatorText/preview/v1.0-preview.1/TranslatorBatch.json
  specification/cognitiveservices/data-plane/TranslatorText/preview/v1.0-preview.1/examples/batch.json
  specification/cognitiveservices/data-plane/TranslatorText/preview/v1.0-preview.1/examples/cancel.json
  specification/cognitiveservices/data-plane/TranslatorText/preview/v1.0-preview.1/examples/document.json
  specification/cognitiveservices/data-plane/TranslatorText/preview/v1.0-preview.1/examples/documents.json
  specification/cognitiveservices/data-plane/TranslatorText/preview/v1.0-preview.1/examples/format.json
  specification/cognitiveservices/data-plane/TranslatorText/preview/v1.0-preview.1/examples/glossary.json
  specification/cognitiveservices/data-plane/TranslatorText/preview/v1.0-preview.1/examples/operation.json
  specification/cognitiveservices/data-plane/TranslatorText/preview/v1.0-preview.1/examples/operations.json
  specification/cognitiveservices/data-plane/TranslatorText/preview/v1.0-preview.1/examples/storage.json
  specification/cognitiveservices/data-plane/TranslatorText/readme.md
Labels: AzureAPIBoardSignedOff

#9888 Xynoclafe/2020 06 version
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/resources.json
  specification/resources/resource-manager/readme.java.md
Labels: Approved-BreakingChange

#9829 Added code changes for generating letter of authorization
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/GenerateExpressRoutePortsLOA.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/expressRoutePort.json
Labels: ARMSignedOff

#9833 Make patch operations async for VirtualWAN VpnGateways and P2SVpnGateways.
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/P2SVpnGatewayUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/VpnGatewayUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/virtualWan.json
Labels: ARMSignedOff

#9415 Add new parameters
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-01-23-preview/desktopvirtualization.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-01-23-preview/examples/ActiveApplication_ListBySessionHost.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-01-23-preview/examples/ApplicationGroupAssignment_WorkspaceLevelList.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-01-23-preview/examples/HostPool_Create.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-01-23-preview/examples/HostPool_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-01-23-preview/examples/HostPool_List.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-01-23-preview/examples/HostPool_ListByResourceGroup.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-01-23-preview/examples/HostPool_Update.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-01-23-preview/examples/SessionHost_Delete.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-01-23-preview/examples/SessionHost_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-01-23-preview/examples/SessionHost_List.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-01-23-preview/examples/SessionHost_Update.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-09-24-preview/desktopvirtualization.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-09-24-preview/examples/ActiveApplication_ListBySessionHost.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-09-24-preview/examples/ApplicationGroupAssignment_WorkspaceLevelList.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-09-24-preview/examples/HostPool_Create.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-09-24-preview/examples/HostPool_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-09-24-preview/examples/HostPool_List.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-09-24-preview/examples/HostPool_ListByResourceGroup.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-09-24-preview/examples/HostPool_Update.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-12-10-preview/desktopvirtualization.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-12-10-preview/examples/ActiveApplication_ListBySessionHost.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-12-10-preview/examples/ApplicationGroupAssignment_WorkspaceLevelList.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-12-10-preview/examples/HostPool_Create.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-12-10-preview/examples/HostPool_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-12-10-preview/examples/HostPool_List.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-12-10-preview/examples/HostPool_ListByResourceGroup.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-12-10-preview/examples/HostPool_Update.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-12-10-preview/examples/SessionHost_Delete.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-12-10-preview/examples/SessionHost_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-12-10-preview/examples/SessionHost_List.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-12-10-preview/examples/SessionHost_Update.json
Labels: Approved-BreakingChange

#9869 CMK Support for Databricks
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2018-04-01/databricks.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2018-04-01/examples/DisableEncryption.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2018-04-01/examples/EnableEncryption.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2018-04-01/examples/PrepareEncryption.json
Labels: Approved-BreakingChange, potential-sdk-breaking-change

#9874 Removing read only property to allow update operations as per the actual implementation
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/billing.json
Labels: Approved-BreakingChange

#9653 [Hub Generated] Review request for Microsoft.Security to add version stable/2019-08-01
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityAggregatedAlert.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityAggregatedAlertList.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityAnalytics.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityAnalyticsList.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityRecommendation.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityRecommendationList.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IotAlertTypes/GetIoTAlertType.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IotAlertTypes/GetIoTAlertTypeList.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IotAlerts/GetIoTAlert.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IotAlerts/GetIoTAlertList.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/iotAlertTypes.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/iotAlerts.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff

#9800 Add 202 to operation checkPrivateLinkServiceVisibility
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/examples/CheckPrivateLinkServiceVisibility.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/examples/CheckPrivateLinkServiceVisibilityByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/privateLinkService.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/CheckPrivateLinkServiceVisibility.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/examples/CheckPrivateLinkServiceVisibilityByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/privateLinkService.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/CheckPrivateLinkServiceVisibility.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/examples/CheckPrivateLinkServiceVisibilityByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/privateLinkService.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/CheckPrivateLinkServiceVisibility.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/examples/CheckPrivateLinkServiceVisibilityByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/privateLinkService.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-09-01/examples/CheckPrivateLinkServiceVisibility.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-09-01/examples/CheckPrivateLinkServiceVisibilityByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-09-01/privateLinkService.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-11-01/examples/CheckPrivateLinkServiceVisibility.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-11-01/examples/CheckPrivateLinkServiceVisibilityByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-11-01/privateLinkService.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-12-01/examples/CheckPrivateLinkServiceVisibility.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-12-01/examples/CheckPrivateLinkServiceVisibilityByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-12-01/privateLinkService.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-03-01/examples/CheckPrivateLinkServiceVisibility.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-03-01/examples/CheckPrivateLinkServiceVisibilityByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-03-01/privateLinkService.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/CheckPrivateLinkServiceVisibility.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/examples/CheckPrivateLinkServiceVisibilityByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/privateLinkService.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/CheckPrivateLinkServiceVisibility.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/CheckPrivateLinkServiceVisibilityByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/privateLinkService.json
Labels: ARMSignedOff

#9973 [READY FOR REVIEW]AML workspace delete should be async
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2018-03-01-preview/examples/deleteWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2018-03-01-preview/examples/updateAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2018-03-01-preview/examples/updateBatchAICompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2018-03-01-preview/machineLearningServices.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/deleteWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/updateAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/updateAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/machineLearningServices.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/examples/deleteWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-04-01-preview/machineLearningServices.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2018-11-19/examples/deleteWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2018-11-19/examples/updateAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2018-11-19/examples/updateAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2018-11-19/machineLearningServices.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-05-01/examples/deleteWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-05-01/examples/updateAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-05-01/examples/updateAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-05-01/machineLearningServices.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/examples/deleteWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/examples/updateAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/examples/updateAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/machineLearningServices.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/deleteWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/updateAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/examples/updateAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/machineLearningServices.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/deleteWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/updateAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/examples/updateAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/machineLearningServices.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/deleteWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/machineLearningServices.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/examples/deleteWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-04-01/machineLearningServices.json
Labels: Approved-BreakingChange

#9565 Add version 2020-02-02-preview to SecurityAlertPolicies APIs
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/DatabaseSecurityAlertPolicies.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/ManagedServerSecurityAlertPolicies.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/ServerSecurityAlertPolicies.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/DatabaseSecurityAlertCreate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/DatabaseSecurityAlertGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/DatabaseSecurityAlertListByDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedServerSecurityAlertCreate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedServerSecurityAlertGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedServerSecurityAlertListByInstance.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ServerSecurityAlertsCreate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ServerSecurityAlertsGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ServerSecurityAlertsListByServer.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/operations.json
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff

#9845 [Hub Generated] Review request for Microsoft.IoTCentral to add version stable/2018-09-01
  specification/iotcentral/resource-manager/Microsoft.IoTCentral/stable/2018-09-01/iotcentral.json
Labels: WaitForARMFeedback

#9659 [HDInsight] Update swagger to support private link feature
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/cluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/examples/CreateHDInsightClusterWithCustomNetworkSettings.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/cluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/examples/CreateHDInsightClusterWithCustomNetworkSettings.json
Labels: Approved-BreakingChange

#9942 [Resources] Add support for MG and tenant level What-If
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/examples/PostDeploymentWhatIfOnManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/examples/PostDeploymentWhatIfOnTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/examples/PostDeploymentWhatIfOnManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/examples/PostDeploymentWhatIfOnTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/resources.json
Labels: ARMSignedOff

#9697 [AMS] Adding New LVA Edge Swagger file to azure media services data p…
  custom-words.txt
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0.0/LiveVideoAnalytics.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0.0/examples/GraphInstanceDelete.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0.0/examples/GraphInstanceGet.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0.0/examples/GraphInstanceList.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0.0/examples/GraphInstanceSet.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0.0/examples/GraphInstanceStateChange.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0.0/examples/GraphTopologyDelete.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0.0/examples/GraphTopologyGet.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0.0/examples/GraphTopologyList.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0.0/examples/GraphTopologySet.json
  specification/mediaservices/data-plane/readme.md
Labels: ReadyForSDKReview

#9969 Enabling linked delete behavior for Blueprint Assignment
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/blueprintAssignment.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/managementGroupBPAssignment/BlueprintAssignment_Delete_AndDeleteChildren.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples/subscriptionBPAssignment/BlueprintAssignment_Delete_AndDeleteChildren.json
Labels: ARMSignedOff

#9957 add new properties to the swagger spec
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2020-06-25/examples/createOrUpdateGuestConfigurationAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2020-06-25/examples/createOrUpdateGuestConfigurationHCRPAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2020-06-25/examples/deleteGuestConfigurationAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2020-06-25/examples/deleteGuestConfigurationHCRPAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2020-06-25/examples/getGuestConfigurationAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2020-06-25/examples/getGuestConfigurationAssignmentReportById.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2020-06-25/examples/getGuestConfigurationHCRPAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2020-06-25/examples/getGuestConfigurationHCRPAssignmentReportById.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2020-06-25/examples/listAllGuestConfigurationAssignmentReports.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2020-06-25/examples/listAllGuestConfigurationHCRPAssignmentReports.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2020-06-25/examples/listGuestConfigurationAssignments.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2020-06-25/examples/listGuestConfigurationHCRPAssignments.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2020-06-25/examples/listOperations.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2020-06-25/guestconfiguration.json
  specification/guestconfiguration/resource-manager/readme.md
Labels: ARMSignedOff

#9937 Fixing few properties for DiskRP Api Version 2020-05-01
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/disk.json
Labels: WaitForARMFeedback

#9164 Add sql managed instance
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/azuredata.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/CreateOrUpdateDataController.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/CreateOrUpdateSqlManagedInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/DeleteDataController.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/DeleteSqlManagedInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/GetDataController.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/GetSqlManagedInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/ListByResourceGroupDataController.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/ListByResourceGroupSqlManagedInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/ListSubscriptionDataController.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/ListSubscriptionSqlManagedInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/UpdateDataController.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/UpdateSqlManagedInstance.json
Labels: ARMSignedOff

#9990 update the lva version and few C# autorest parameters
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0/LiveVideoAnalytics.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0/examples/GraphInstanceDelete.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0/examples/GraphInstanceGet.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0/examples/GraphInstanceList.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0/examples/GraphInstanceSet.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0/examples/GraphInstanceStateChange.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0/examples/GraphTopologyDelete.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0/examples/GraphTopologyGet.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0/examples/GraphTopologyList.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/1.0/examples/GraphTopologySet.json
  specification/mediaservices/data-plane/readme.md
Labels: ReadyForSDKReview
