Repository Azure/azure-rest-api-specs, pull requests merged in 2020-08, with the labels that each got.

#10251 New Api version 2020-06-15- fixing certificate put/get issues with ARM
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/IotHub_ManualFailover.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/checkNameAvailability.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_certificatescreateorupdate.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_certificatesdelete.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_certverify.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_createOrUpdate.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_createconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_delete.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_deleteconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_deleteprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_exportdevices.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_generateverificationcode.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_get.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_getcertificate.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_getconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_getjob.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_getkey.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_getprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_getprivatelinkresources.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_getskus.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_importdevices.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_listbyrg.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_listbysubscription.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_listcertificates.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_listehgroups.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_listjobs.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_listkeys.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_listprivateendpointconnections.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_listprivatelinkresources.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_operations.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_patch.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_quotametrics.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_routingendpointhealth.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_stats.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_testallroutes.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_testnewroute.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_updateprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/examples/iothub_usages.json
  specification/iothub/resource-manager/Microsoft.Devices/stable/2020-06-15/iothub.json
  specification/iothub/resource-manager/readme.md
Labels: ARMSignedOff

#10205 Alias Put Subscription API
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-10-01-preview/examples/createAlias.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-10-01-preview/examples/deleteAlias.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-10-01-preview/examples/getAlias.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-10-01-preview/examples/listAlias.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-10-01-preview/subscriptions.json
Labels: ARMSignedOff, Reviewed-ChangesRequired

#10313 Add network profile in Spring payload.
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Services_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Services_CreateOrUpdate_VNetInjection.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Services_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Services_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Services_ListBySubscription.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Services_Update.json
Labels: Approved-BreakingChange, DoNotMerge

#9841 Notebooks swagger spec
  custom-words.txt
  specification/notebooks/resource-manager/Microsoft.Notebooks/preview/2019-10-11-preview/examples/NBResourceCreate.json
  specification/notebooks/resource-manager/Microsoft.Notebooks/preview/2019-10-11-preview/examples/NBResourceDelete.json
  specification/notebooks/resource-manager/Microsoft.Notebooks/preview/2019-10-11-preview/examples/NBResourceGet.json
  specification/notebooks/resource-manager/Microsoft.Notebooks/preview/2019-10-11-preview/examples/NBResourceList.json
  specification/notebooks/resource-manager/Microsoft.Notebooks/preview/2019-10-11-preview/examples/NBResourceListCredentials.json
  specification/notebooks/resource-manager/Microsoft.Notebooks/preview/2019-10-11-preview/examples/NBResourcePEDelete.json
  specification/notebooks/resource-manager/Microsoft.Notebooks/preview/2019-10-11-preview/examples/NBResourcePEUpdate.json
  specification/notebooks/resource-manager/Microsoft.Notebooks/preview/2019-10-11-preview/notebooks.json
  specification/notebooks/resource-manager/Microsoft.Notebooks/preview/2019-10-11-preview/readme.cli.md
  specification/notebooks/resource-manager/Microsoft.Notebooks/preview/2019-10-11-preview/readme.md
  specification/notebooks/resource-manager/Microsoft.Notebooks/preview/2019-10-11-preview/readme.python.md
Labels: ARMSignedOff

#10332 Add preAttack tactic to swagger
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
Labels: Approved-BreakingChange

#10325 Network june release revert - reverting changes which are not deployed from NRP side yet.
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/expressRouteProviderPortGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/expressRouteProviderPortList.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/expressRouteProviderPortListByLocation.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/expressRouteCrossConnection.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/expressRouteProviderPort.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/network.json
  specification/network/resource-manager/readme.md
Labels: ARMSignedOff

#10150 Adding swagger files for 2020-02-02-preview API version for ManagedInstance operation group
  custom-words.txt
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceCreateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceCreateMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceList.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceListByInstancePool.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceListByResourceGroup.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceUpdateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceUpdateMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/managedInstances.json
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff, Approved-OkToMerge

#10216 Adding swagger change for virtual machine patching instance view
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/examples/GetVirtualMachineInstanceView.json
Labels: ARMSignedOff, Approved-BreakingChange

#10294 [AKS] Use POST operation for node image version
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-07-01/examples/AgentPoolsUpgradeNodeImageVersion.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-07-01/examples/ManagedClustersCreate_PPG.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-07-01/examples/ManagedClustersCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-07-01/examples/ManagedClustersCreate_UpdateWithAHUB.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-07-01/examples/ManagedClustersCreate_UpdateWithEnableAzureRBAC.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-07-01/managedClusters.json
Labels: ARMSignedOff

#9883 [Public-Preview] Review request for Microsoft.Migrate to add version …
  specification/regionmove/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/examples/MoveCollection_Update.json
  specification/regionmove/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/examples/MoveCollections_Commit.json
  specification/regionmove/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/examples/MoveCollections_Create.json
  specification/regionmove/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/examples/MoveCollections_Delete.json
  specification/regionmove/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/examples/MoveCollections_Discard.json
  specification/regionmove/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/examples/MoveCollections_Get.json
  specification/regionmove/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/examples/MoveCollections_InitiateMove.json
  specification/regionmove/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/examples/MoveCollections_ListMoveCollectionsByResourceGroup.json
  specification/regionmove/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/examples/MoveCollections_ListMoveCollectionsBySubscription.json
  specification/regionmove/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/examples/MoveCollections_Prepare.json
  specification/regionmove/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/examples/MoveCollections_ResolveDependencies.json
  specification/regionmove/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/examples/MoveResources_Create.json
  specification/regionmove/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/examples/MoveResources_Delete.json
  specification/regionmove/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/examples/MoveResources_Get.json
  specification/regionmove/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/examples/MoveResources_List.json
  specification/regionmove/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/examples/OperationsDiscovery_Get.json
  specification/regionmove/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/examples/UnresolvedDependencies_Get.json
  specification/regionmove/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/regionmovecollection.json
  specification/regionmove/resource-manager/readme.csharp.md
  specification/regionmove/resource-manager/readme.go.md
  specification/regionmove/resource-manager/readme.md
  specification/regionmove/resource-manager/readme.python.md
  specification/regionmove/resource-manager/readme.ruby.md
  specification/regionmove/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#10121 [HDInsight]-Add descriptions for sparkjob related definition.
  specification/hdinsight/data-plane/Microsoft.HDInsight/preview/2018-11-01-preview/livySpark.json
Labels: ARMSignedOff

#10330 [Monitor] Added DataCollectionRules in 2019-11-01-preview
  custom-words.txt
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-11-01-preview/dataCollectionRuleAssociations_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-11-01-preview/dataCollectionRules_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-11-01-preview/examples/DataCollectionRuleAssociationsCreate.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-11-01-preview/examples/DataCollectionRuleAssociationsDelete.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-11-01-preview/examples/DataCollectionRuleAssociationsGet.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-11-01-preview/examples/DataCollectionRuleAssociationsListByResource.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-11-01-preview/examples/DataCollectionRuleAssociationsListByRule.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-11-01-preview/examples/DataCollectionRulesCreate.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-11-01-preview/examples/DataCollectionRulesDelete.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-11-01-preview/examples/DataCollectionRulesGet.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-11-01-preview/examples/DataCollectionRulesListByResourceGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-11-01-preview/examples/DataCollectionRulesListBySubscription.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-11-01-preview/examples/DataCollectionRulesUpdate.json
  specification/monitor/resource-manager/readme.md
Labels: ARMSignedOff

#10125 Add 6 lint rules feedback by ARM to the guideline
  documentation/openapi-authoring-automated-guidelines.md
Labels: ARMSignedOff

#10301 [DataShare] sort definitions in the 2019 version
  specification/datashare/resource-manager/Microsoft.DataShare/stable/2019-11-01/DataShare.json
Labels: WaitForARMFeedback

#10297 [Hub Generated] Review request for Microsoft.Capacity to add version preview/2019-04-01
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/reservations.json
Labels: Approved-BreakingChange, AzureAPIBoardSignedOff, SuppressionTrack

#9407 Add V2020-02-02-Preview ShortTermRetention API Specification of SQL DB
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/GetShortTermRetentionPolicy.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ListShortTermRetentionPoliciesByDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/UpdateShortTermRetentionPolicy.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/shortTermRetentionPolicies.json
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff

#10355 [Hub Generated] Review request for Microsoft.SecurityInsights to add version preview/2019-01-01-preview
  custom-words.txt
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/watchlists/CreateWatchlist.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/watchlists/DeleteWatchlist.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/watchlists/GetWatchlistByAlias.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/watchlists/GetWatchlists.json
Labels: WaitForARMFeedback

#10287 Added swagger files for MySQL Flexible Server preview
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/CheckNameAvailability.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ConfigurationGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ConfigurationUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ConfigurationsListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/DatabaseCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/DatabaseDelete.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/DatabaseGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/DatabasesListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/FirewallRuleCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/FirewallRuleDelete.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/FirewallRuleGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/FirewallRulesListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/MaintenanceWindowCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/MaintenanceWindowDelete.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/MaintenanceWindowGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/MaintenanceWindowsListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/OperationsList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ReplicasListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ServerCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ServerCreateReplica.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ServerCreateWithPointInTimeRestore.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ServerDelete.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ServerGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ServerGetWithVnet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ServerRestart.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ServerStart.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ServerStop.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ServerUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ServersList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ServersListByResourceGroup.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/mysql.json
  specification/mysql/resource-manager/readme.md
Labels: ARMSignedOff, Approved-OkToMerge

#10327 EventHub: Added Optional property trustedServiceAccessEnabled to Networkruleset
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/networkrulessets-preview.json
Labels: Approved-BreakingChange

#10353 [Synapse] Support long running operation for Integration Runtime
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/IntegrationRuntimes_Create.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/IntegrationRuntimes_Delete.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/integrationRuntime.json
Labels: Approved-BreakingChange

#10305 [Hub Generated] Review request for Microsoft.OffAzure to add version stable/2020-07-07
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/HyperVCluster_Create.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/HyperVCluster_Get.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/HyperVCluster_ListBySite.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/HyperVHost_Create.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/HyperVHost_Get.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/HyperVHost_ListBySite.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/HyperVMachine_Get.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/HyperVMachines_ListBySite.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/HyperVOperationsStatus_Get.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/HyperVRunAsAccount_Get.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/HyperVRunAsAccounts_ListBySite.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/HyperVSiteHealthSummary_Post.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/HyperVSiteSummary_Post.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/HyperVSite_Create.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/HyperVSite_Delete.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/HyperVSite_Get.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/HyperVSite_Patch.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/HyperVSite_Refresh.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/MasterSite_Create.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/MasterSite_Delete.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/MasterSite_Get.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/MasterSite_Patch.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/MasterSites_List.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/MasterSites_ListBySubscription.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/Operations_List.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/VMwareMachine_Get.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/VMwareMachines_ListBySite.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/VMwareOperationsStatus_Get.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/VMwareRunAsAccount_Get.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/VMwareRunAsAccount_ListBySite.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/VMwareSiteHealthSummary_Post.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/VMwareSiteSummary_Post.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/VMwareSite_Create.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/VMwareSite_Delete.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/VMwareSite_Get.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/VMwareSite_Patch.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/VMwareSite_Refresh.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/VMwareVcenter_Create.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/VMwareVcenter_Delete.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/VMwareVcenter_Get.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/examples/VMwareVcenter_ListBySite.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-07-07/migrate.json
  specification/migrate/resource-manager/readme.go.md
  specification/migrate/resource-manager/readme.md
Labels: ARMSignedOff

#10284 Add support in API Management for Availability Zones
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/apimdeployment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementCreateServiceInZones.json
Labels: 2020-06-01-preview, API Management, ARMSignedOff

#10316 [Datafactory] Add Support for Query EC List API
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/ExposureControl_QueryFeatureValuesByFactory.json
Labels: ARMSignedOff

#10191 [Datafactory] Add Support for Managed Private Endpoints and Virtual Networks Resources
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/ManagedPrivateEndpoint.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/ManagedVirtualNetwork.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/ManagedPrivateEndpoints_Create.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/ManagedPrivateEndpoints_Delete.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/ManagedPrivateEndpoints_Get.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/ManagedPrivateEndpoints_ListByFactory.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/ManagedVirtualNetworks_Create.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/ManagedVirtualNetworks_Get.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/ManagedVirtualNetworks_ListByFactory.json
Labels: ARMSignedOff, Approved-OkToMerge

#10204 Add cors rule in request/response for Cosmos DB
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBDatabaseAccountCreateMax.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBDatabaseAccountCreateMin.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBDatabaseAccountGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBDatabaseAccountList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBDatabaseAccountListByResourceGroup.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBDatabaseAccountPatch.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/examples/CosmosDBDatabaseAccountCreateMax.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/examples/CosmosDBDatabaseAccountCreateMin.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/examples/CosmosDBDatabaseAccountGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/examples/CosmosDBDatabaseAccountList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/examples/CosmosDBDatabaseAccountListByResourceGroup.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/examples/CosmosDBDatabaseAccountPatch.json
Labels: Approved-BreakingChange

#10405 Update operationId names
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/resourcegraph.json
Labels: Approved-BreakingChange

#10408 [DataFactory] Rollback source/sink level staging
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/DataFlow.json
Labels: Approved-BreakingChange

#10292 [Microsoft.ApiManagement][2020-06-01-preview] Gateway hostname configuration protocol settings
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementCreateGatewayHostnameConfiguration.json
Labels: 2020-06-01-preview, API Management, ARMSignedOff

#10380 Fix `identity` in servicebus swagger
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2018-01-01-preview/servicebus-preview.json
Labels: Approved-BreakingChange

#10319 [Hub Generated] Review request for Microsoft.Maps to add Creator resource under version preview/2020-02-01-preview
  specification/maps/resource-manager/Microsoft.Maps/preview/2020-02-01-preview/examples/CreateMapsCreator.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2020-02-01-preview/examples/DeleteMapsCreator.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2020-02-01-preview/examples/GetMapsCreator.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2020-02-01-preview/examples/GetOperations.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2020-02-01-preview/examples/ListMapsCreatorsByAccount.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2020-02-01-preview/examples/UpdateMapsCreator.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2020-02-01-preview/maps-management.json
  specification/maps/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python

#10028 [Hub Generated] Review request for Microsoft.AlertsManagement to add version preview/2019-05-05-preview
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/AlertsManagement.json
Labels: Approved-BreakingChange

#10310 Adding Anaytical Storage TTL for Sql container
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/cosmos-db.json
  specification/cosmos-db/resource-manager/readme.md
Labels: CI-BreakingChange-Python

#10437 [HDInsight] Add encryptionAtHost property
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/cluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/examples/CreateHDInsightClusterWithEncryptionAtHost.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/cluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/examples/CreateHDInsightClusterWithEncryptionAtHost.json
Labels: Approved-BreakingChange

#10401 Eventhub: Updating the EventHubNameParameter max length to 256
  specification/eventhub/resource-manager/Microsoft.EventHub/common/v1/definitions.json
Labels: Approved-OkToMerge

#10344 Add Automanage resource provider preview
  custom-words.txt
  specification/automanage/resource-manager/Microsoft.Automanage/common/v1/definitions.json
  specification/automanage/resource-manager/Microsoft.Automanage/preview/2020-06-30-preview/automanage.json
  specification/automanage/resource-manager/Microsoft.Automanage/preview/2020-06-30-preview/examples/createOrUpdateAccount.json
  specification/automanage/resource-manager/Microsoft.Automanage/preview/2020-06-30-preview/examples/createOrUpdateConfigurationProfileAssignment.json
  specification/automanage/resource-manager/Microsoft.Automanage/preview/2020-06-30-preview/examples/createOrUpdateConfigurationProfilePreference.json
  specification/automanage/resource-manager/Microsoft.Automanage/preview/2020-06-30-preview/examples/deleteAccount.json
  specification/automanage/resource-manager/Microsoft.Automanage/preview/2020-06-30-preview/examples/deleteConfigurationProfileAssignment.json
  specification/automanage/resource-manager/Microsoft.Automanage/preview/2020-06-30-preview/examples/deleteConfigurationProfilePreference.json
  specification/automanage/resource-manager/Microsoft.Automanage/preview/2020-06-30-preview/examples/getAccount.json
  specification/automanage/resource-manager/Microsoft.Automanage/preview/2020-06-30-preview/examples/getConfigurationProfileAssignment.json
  specification/automanage/resource-manager/Microsoft.Automanage/preview/2020-06-30-preview/examples/getConfigurationProfilePreference.json
  specification/automanage/resource-manager/Microsoft.Automanage/preview/2020-06-30-preview/examples/listAccountsByResourceGroup.json
  specification/automanage/resource-manager/Microsoft.Automanage/preview/2020-06-30-preview/examples/listAccountsBySubscription.json
  specification/automanage/resource-manager/Microsoft.Automanage/preview/2020-06-30-preview/examples/listConfigurationProfileAssignments.json
  specification/automanage/resource-manager/Microsoft.Automanage/preview/2020-06-30-preview/examples/listConfigurationProfileAssignmentsBySubscription.json
  specification/automanage/resource-manager/Microsoft.Automanage/preview/2020-06-30-preview/examples/listConfigurationProfilePreferencesByResourceGroup.json
  specification/automanage/resource-manager/Microsoft.Automanage/preview/2020-06-30-preview/examples/listConfigurationProfilePreferencesBySubscription.json
  specification/automanage/resource-manager/Microsoft.Automanage/preview/2020-06-30-preview/examples/listOperations.json
  specification/automanage/resource-manager/Microsoft.Automanage/preview/2020-06-30-preview/examples/updateAccount.json
  specification/automanage/resource-manager/Microsoft.Automanage/preview/2020-06-30-preview/examples/updateConfigurationProfilePreference.json
  specification/automanage/resource-manager/readme.az.md
  specification/automanage/resource-manager/readme.cli.md
  specification/automanage/resource-manager/readme.go.md
  specification/automanage/resource-manager/readme.md
  specification/automanage/resource-manager/readme.python.md
  specification/automanage/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#8914 [Azure Stack] Updates to User-Subscriptions Spec
  specification/azsadmin/resource-manager/user-subscriptions/Microsoft.Subscriptions/preview/2015-11-01/Subscriptions.json
  specification/azsadmin/resource-manager/user-subscriptions/Microsoft.Subscriptions/preview/2015-11-01/examples/Subscriptions/Create.json
  specification/azsadmin/resource-manager/user-subscriptions/readme.md
Labels: Approved-BreakingChange

#10446 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2020-06-01
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2020-06-01/costmanagement.json
Labels: CI-BreakingChange-Python

#10392 Fix discriminator issues in storagecache 2020-03-01
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-03-01/storagecache.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python

#10321 Creating Stable version from Preview version
  specification/subscription/resource-manager/Microsoft.Subscription/stable/2020-09-01/examples/cancelSubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/stable/2020-09-01/examples/createAlias.json
  specification/subscription/resource-manager/Microsoft.Subscription/stable/2020-09-01/examples/deleteAlias.json
  specification/subscription/resource-manager/Microsoft.Subscription/stable/2020-09-01/examples/enableSubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/stable/2020-09-01/examples/getAlias.json
  specification/subscription/resource-manager/Microsoft.Subscription/stable/2020-09-01/examples/getOperations.json
  specification/subscription/resource-manager/Microsoft.Subscription/stable/2020-09-01/examples/listAlias.json
  specification/subscription/resource-manager/Microsoft.Subscription/stable/2020-09-01/examples/renameSubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/stable/2020-09-01/subscriptions.json
  specification/subscription/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python

#10471 Refactor the readme.md for go SDK in hybridcompute
  specification/hybridcompute/resource-manager/readme.go.md
  specification/hybridcompute/resource-manager/readme.md
Labels: CI-BreakingChange-Python

#10458 Fixing bug in PrepareDataMoveResponse Class
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2020-07-01/bms.json
  specification/recoveryservicesbackup/resource-manager/readme.md
Labels: Approved-BreakingChange, CI-BreakingChange-Python

#10398 Adding optional backup storage redundancy parameter to 2020-02-02-preview ManagedInstance swagger
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceCreateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceList.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceListByInstancePool.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceListByResourceGroup.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/managedInstances.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python

#10421 AzureML 2020-09-01-preview codejobs
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/ListSkus.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/ListUsages.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/ListVMSizesResult.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/ListWorkspaceFeatures.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/ListWorkspaceQuotasByVMFamily.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/amlComputeListNodes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/createBasicAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/createBasicAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/createBasicDataFactoryCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/createLinkedWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/createOrUpdateCodeJob.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/createOrUpdateService.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/createWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/deleteCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/deleteLinkedWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/deleteService.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/deleteWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/getAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/getAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/getCodeJob.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/getComputes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/getLinkedWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/getService.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/getServices.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/getWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/getWorkspacesByResourceGroup.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/getWorkspacesBySubscription.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/listCodeJobs.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/listKeysAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/listLinkedWorkspaces.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/listWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/patchAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/resyncWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/updateAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/updateAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/updateQuota.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/updateWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/workspaceDeletePrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/workspaceGetPrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/workspaceListPrivateLinkResources.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/workspacePutPrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/jobs.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/machineLearningServices.json
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python

#10382 [2019-10-01-preview] Fixes and additional improvements for Public Preview
  specification/regionmove/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/examples/MoveCollections_Create.json
  specification/regionmove/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/examples/MoveResources_Create.json
  specification/regionmove/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/examples/MoveResources_Get.json
  specification/regionmove/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/regionmovecollection.json
Labels: Approved-BreakingChange

#10320 [Hub Generated] Review request for Microsoft.AppPlatform to add version stable/2020-07-01
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Apps_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Apps_Delete.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Apps_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Apps_GetResourceUploadUrl.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Apps_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Apps_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Apps_ValidateDomain.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Bindings_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Bindings_Delete.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Bindings_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Bindings_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Bindings_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Certificates_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Certificates_Delete.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Certificates_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Certificates_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/ConfigServers_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/ConfigServers_UpdatePatch.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/ConfigServers_UpdatePut.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/CustomDomains_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/CustomDomains_Delete.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/CustomDomains_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/CustomDomains_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/CustomDomains_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Deployments_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Deployments_Delete.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Deployments_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Deployments_GetLogFileUrl.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Deployments_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Deployments_ListForCluster.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Deployments_Restart.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Deployments_Start.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Deployments_Stop.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Deployments_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/MonitoringSettings_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/MonitoringSettings_UpdatePatch.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/MonitoringSettings_UpdatePut.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Operations_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Services_CheckNameAvailability.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Services_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Services_CreateOrUpdate_VNetInjection.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Services_Delete.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Services_DisableTestEndpoint.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Services_EnableTestEndpoint.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Services_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Services_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Services_ListBySubscription.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Services_ListTestKeys.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Services_RegenerateTestKey.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Services_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Skus_List.json
  specification/appplatform/resource-manager/readme.go.md
  specification/appplatform/resource-manager/readme.java.md
  specification/appplatform/resource-manager/readme.md
  specification/appplatform/resource-manager/readme.python.md
  specification/appplatform/resource-manager/readme.ruby.md
Labels: ARMSignedOff

#10472 Add api-version 2019-07-01-preview of redis to go SDK
  specification/redis/resource-manager/readme.go.md
Labels: CI-BreakingChange-Python

#10485 Changing the name of parameter for backup storage type for Managed Instance to original value storageAccountType
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceCreateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceList.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceListByInstancePool.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceListByResourceGroup.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/managedInstances.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python

#10363 [Monitor] Update readme.md all-api-versions tags
  specification/monitor/resource-manager/readme.md
Labels: Approved-OkToMerge

#10468 Updated the resource settings models of following tracked NRP resources
  specification/regionmove/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/regionmovecollection.json
  specification/regionmove/resource-manager/readme.azureresourceschema.md
  specification/regionmove/resource-manager/readme.go.md
Labels: Approved-BreakingChange

#10460 Update HybridCompute generation docs
  specification/hybridcompute/resource-manager/readme.csharp.md
  specification/hybridcompute/resource-manager/readme.go.md
  specification/hybridcompute/resource-manager/readme.java.md
  specification/hybridcompute/resource-manager/readme.md
  specification/hybridcompute/resource-manager/readme.python.md
  specification/hybridcompute/resource-manager/readme.ruby.md
  specification/hybridcompute/resource-manager/readme.typescript.md
Labels: CI-BreakingChange-Python

#10439 Fix parameter name
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-10-01-preview/examples/createAlias.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-10-01-preview/subscriptions.json
Labels: Approved-BreakingChange

#10406 API changes to enumerate bastion hosts accessible from given virtual network
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/VirtualNetworkGetBastionHosts.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/virtualNetwork.json
Labels: ARMSignedOff, CI-BreakingChange-Python

#10341 Modified the names for PostgreSQL Flexible server.
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/ConfigurationUpdate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/ServerCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/ServerCreatePointInTimeRestore.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/ServerGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/ServerGetWithVnet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/ServerList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/ServerListByResourceGroup.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/ServerUpdate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/postgresql.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python

#10413 [Hub Generated] Review request for Microsoft.AlertsManagement to add version preview/2019-05-05-preview
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/ActionRules.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/AlertsManagement.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/SmartGroups.json
  specification/alertsmanagement/resource-manager/readme.md
Labels: Approved-BreakingChange

#10306 Support UserAssigned MSI for CosmosDB
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBDatabaseAccountCreateMax.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBDatabaseAccountPatch.json
Labels: WaitForARMFeedback

#10465 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2020-06-01
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2020-06-01/costmanagement.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python

#10404 Micrsoft.DelegatedNetwork RP RestAPI spec
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/DelegatedNetwork.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/examples/delegatedNetworkControllerListByRG.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/examples/delegatedNetworkControllerListBySub.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/examples/delegatedNetworkOperationsList.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/examples/delegatedSubnetListByRG.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/examples/delegatedSubnetListBySub.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/examples/deleteController.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/examples/deleteDelegatedSubnet.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/examples/getController.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/examples/getDelegatedSubnet.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/examples/patchController.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/examples/patchDelegatedSubnet.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/examples/putController.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/examples/putDelegatedSubnet.json
  specification/dnc/resource-manager/readme.go.md
  specification/dnc/resource-manager/readme.md
Labels: ARMSignedOff

#10267 Add appearance/multi-page selection feature for v3.1-preview.2
  specification/cognitiveservices/data-plane/ComputerVision/preview/v3.1-preview.2/Ocr.json
  specification/cognitiveservices/data-plane/ComputerVision/preview/v3.1-preview.2/examples/SuccessfulGetReadResult.json
  specification/cognitiveservices/data-plane/ComputerVision/preview/v3.1-preview.2/examples/SuccessfulReadWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/preview/v3.1-preview.2/examples/SuccessfulReadWithUrl.json
  specification/cognitiveservices/data-plane/ComputerVision/readme.go.md
  specification/cognitiveservices/data-plane/ComputerVision/readme.md
Labels: Approved-OkToMerge, CI-BreakingChange-Python

#10208 DiskRP swagger change for api version 2020-06-30
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/disk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/CreateADiskAccess.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/CreateADiskEncryptionSet.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/CreateAManagedDiskByCopyingASnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/CreateAManagedDiskByImportingAnUnmanagedBlobFromADifferentSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/CreateAManagedDiskByImportingAnUnmanagedBlobFromTheSameSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/CreateAManagedDiskFromAPlatformImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/CreateAManagedDiskFromAnExistingManagedDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/CreateAManagedDiskWithDiskAccess.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/CreateAManagedDiskWithDiskEncryptionSet.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/CreateAManagedDiskWithLogicalSectorSize.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/CreateAManagedUploadDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/CreateASnapshotByImportingAnUnmanagedBlobFromADifferentSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/CreateASnapshotByImportingAnUnmanagedBlobFromTheSameSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/CreateASnapshotFromAnExistingSnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/CreateAnEmptyManagedDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/DeleteADiskAccess.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/DeleteADiskEncryptionSet.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/GetDiskAccessPrivateLinkResources.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/GetInformationAboutADiskAccess.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/GetInformationAboutADiskAccessWithPrivateEndpoints.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/GetInformationAboutADiskEncryptionSet.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/GetInformationAboutAManagedDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/GetInformationAboutASnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/ListDiskAccessesInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/ListDiskAccessesInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/ListDiskEncryptionSetAssociatedResources.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/ListDiskEncryptionSetsInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/ListDiskEncryptionSetsInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/ListManagedDisksInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/ListManagedDisksInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/ListSnapshotsInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/ListSnapshotsInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/UpdateADiskAccess.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/UpdateADiskEncryptionSet.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/examples/UpdateAManagedDiskToRemoveDiskAccess.json
  specification/compute/resource-manager/readme.md
Labels: ARMSignedOff

#10407 [Hub Generated] Review request for Microsoft.CostManagement to add version preview/2020-03-01-preview
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-03-01-preview/costallocation.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-03-01-preview/examples/CostAllocationRuleCheckNameAvailability.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-03-01-preview/examples/CostAllocationRuleCreate.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-03-01-preview/examples/CostAllocationRuleCreateTag.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-03-01-preview/examples/CostAllocationRuleDelete.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-03-01-preview/examples/CostAllocationRuleGet.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-03-01-preview/examples/CostAllocationRulesList.json
  specification/cost-management/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python

#10524 Minor fix in flowLog URI + updated examples for connection monitor
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/examples/NetworkWatcherConnectionMonitorCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/examples/NetworkWatcherConnectionMonitorGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/examples/NetworkWatcherConnectionMonitorList.json
Labels: CI-BreakingChange-Python

#10508 Microsoft.AAD: Add OuContainer Swagger
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2017-06-01/examples/CreateOuContainer.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2017-06-01/examples/DeleteOuContainer.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2017-06-01/examples/GetOuContainer.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2017-06-01/examples/ListOuContainers.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2017-06-01/examples/UpdateOuContainer.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2017-06-01/oucontainer.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2020-01-01/examples/CreateOuContainer.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2020-01-01/examples/DeleteOuContainer.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2020-01-01/examples/GetOuContainer.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2020-01-01/examples/ListOuContainers.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2020-01-01/examples/UpdateOuContainer.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2020-01-01/oucontainer.json
  specification/domainservices/resource-manager/readme.md
Labels: ARMSignedOff

#10365 OperationalInsights: DataCollectorLogs new api support.
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/DataCollectorLogs.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/examples/DataCollectorLogsDelete.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/examples/DataCollectorLogsGet.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/examples/DataCollectorLogsListByWorkspace.json
  specification/operationalinsights/resource-manager/readme.md
Labels: ARMSignedOff

#10434 Add virtual hub bgp connections subresources virtualRouterPeerAdverti…
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/VirtualRouterPeerListAdvertisedRoute.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/VirtualRouterPeerListLearnedRoute.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/virtualWan.json
Labels: ARMSignedOff

#10425 [NetAppFiles]Anf 6195 swagger restapi to2020 06 01
  custom-words.txt
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/netapp.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Accounts_CreateOrUpdate.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Accounts_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Accounts_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Accounts_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Accounts_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/BackupPolicies_Create.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/BackupPolicies_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/BackupPolicies_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/BackupPolicies_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/BackupPolicies_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Backups_Account_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Backups_Account_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Backups_Account_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Backups_Create.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Backups_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Backups_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Backups_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Backups_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/CheckFilePathAvailability.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/CheckNameAvailability.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/CheckQuotaAvailability.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Pools_CreateOrUpdate.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Pools_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Pools_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Pools_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Pools_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/SnapshotPolicies_Create.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/SnapshotPolicies_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/SnapshotPolicies_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/SnapshotPolicies_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/SnapshotPolicies_ListVolumes.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/SnapshotPolicies_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Snapshots_Create.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Snapshots_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Snapshots_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Snapshots_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Snapshots_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Vaults_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Volumes_AuthorizeReplication.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Volumes_BreakReplication.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Volumes_CreateOrUpdate.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Volumes_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Volumes_DeleteReplication.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Volumes_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Volumes_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Volumes_PoolChange.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Volumes_ReInitializeReplication.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Volumes_ReplicationStatus.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Volumes_ResyncReplication.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Volumes_Revert.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/examples/Volumes_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/netapp.json
  specification/netapp/resource-manager/readme.go.md
  specification/netapp/resource-manager/readme.java.md
  specification/netapp/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python

#10452 Add NVA subresource InboundSecurityRules with PUT operation
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/InboundSecurityRulePut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/NetworkVirtualApplianceGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/NetworkVirtualApplianceListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/NetworkVirtualApplianceListBySubscription.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/examples/NetworkVirtualAppliancePut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/networkVirtualAppliance.json
Labels: ARMSignedOff

#10454 Add SubAssessment event source type and edit automations PUT examples
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/automations.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/Automations/PutAutomationAllAssessments_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/examples/Automations/PutAutomationHighSeverityAssessments_example.json
  specification/security/resource-manager/common/v1/types.json
Labels: Approved-BreakingChange

#10529 Update LB and PIP with new global load balancing properties
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/examples/LoadBalancerCreateGlobalTier.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/examples/PublicIpAddressCreateCustomizedValues.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/loadBalancer.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/publicIpAddress.json
  specification/network/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python

#10462 Adding swagger docs for existing myworkbooks API's
  custom-words.txt
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/MyWorkbookAdd.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/MyWorkbookDelete.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/MyWorkbookGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/MyWorkbookUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/MyWorkbooksList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/myworkbooks_API.json
  specification/applicationinsights/resource-manager/readme.go.md
  specification/applicationinsights/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python

#10400 Track sync timestamps in Microsoft.AzureStackHCI/clusters
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2020-03-01-preview/azurestackhci.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2020-03-01-preview/examples/CreateCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2020-03-01-preview/examples/GetCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2020-03-01-preview/examples/ListClusters.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2020-03-01-preview/examples/ListClustersByResourceGroup.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2020-03-01-preview/examples/UpdateCluster.json
Labels: ARMSignedOff, Approved-BreakingChange

#8550 .NET support in Microsoft.AppPlatform
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/RuntimeVersions_ListRuntimeVersions.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/RuntimeVersions_ListRuntimeVersions.json
Labels: ARMSignedOff, Approved-BreakingChange

#10557 Hybridcompute - removed reconnect api
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-07-30-preview/HybridCompute.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-07-30-preview/examples/DELETEExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-07-30-preview/examples/GETExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-07-30-preview/examples/LISTExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-07-30-preview/examples/Machines_CreateOrUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-07-30-preview/examples/Machines_Delete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-07-30-preview/examples/Machines_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-07-30-preview/examples/Machines_ListByResourceGroup.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-07-30-preview/examples/Machines_ListBySubscription.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-07-30-preview/examples/Machines_Update.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-07-30-preview/examples/PUTExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-07-30-preview/examples/UpdateExtension.json
  specification/hybridcompute/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python

#10568 [Hub Generated] Review request for Microsoft.Solutions to add version preview/2020-08-21-preview
  specification/resources/resource-manager/Microsoft.Solutions/preview/2020-08-21-preview/examples/createOrUpdateApplication.json
  specification/resources/resource-manager/Microsoft.Solutions/preview/2020-08-21-preview/examples/createOrUpdateApplicationDefinition.json
  specification/resources/resource-manager/Microsoft.Solutions/preview/2020-08-21-preview/examples/getApplication.json
  specification/resources/resource-manager/Microsoft.Solutions/preview/2020-08-21-preview/examples/getApplicationDefinition.json
  specification/resources/resource-manager/Microsoft.Solutions/preview/2020-08-21-preview/examples/listApplicationDefinitionsByResourceGroup.json
  specification/resources/resource-manager/Microsoft.Solutions/preview/2020-08-21-preview/examples/listApplicationsByResourceGroup.json
  specification/resources/resource-manager/Microsoft.Solutions/preview/2020-08-21-preview/examples/listSolutionsOperations.json
  specification/resources/resource-manager/Microsoft.Solutions/preview/2020-08-21-preview/managedapplications.json
  specification/resources/resource-manager/readme.md
Labels: ARMSignedOff

#10403 [Cognitive Services] Advertise List PrivateLinkConnections.
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2017-04-18/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2017-04-18/examples/ListPrivateEndpointConnections.json
Labels: ARMSignedOff

#10522 Changes to Micrososfot.AzureData PREVIEW api
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/azuredata.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/CreateOrUpdateSqlManagedInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/GetDataController.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/GetSqlManagedInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/ListByResourceGroupDataController.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/ListByResourceGroupSqlManagedInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/ListSubscriptionDataController.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/ListSubscriptionSqlManagedInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/UpdateDataController.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/UpdateSqlManagedInstance.json
Labels: Approved-BreakingChange, potential-sdk-breaking-change

#10548 add api for private link resources
  custom-words.txt
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-09-01/examples/PrivateLinkResourcesList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-09-01/examples/ResolvePrivateLinkServiceId.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-09-01/managedClusters.json
Labels: WaitForARMFeedback

#10545 Replace linkedWorkspaces with linkedService in 2020-09-01-preview
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/ListSkus.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/ListUsages.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/ListVMSizesResult.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/ListWorkspaceFeatures.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/ListWorkspaceQuotasByVMFamily.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/amlComputeListNodes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/createBasicAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/createBasicAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/createBasicDataFactoryCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/createLinkedService.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/createOrUpdateService.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/createWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/deleteCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/deleteLinkedService.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/deleteService.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/deleteWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/getAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/getAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/getComputes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/getLinkedService.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/getService.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/getServices.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/getWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/getWorkspacesByResourceGroup.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/getWorkspacesBySubscription.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/listKeysAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/listLinkedServices.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/listWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/patchAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/resyncWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/updateAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/updateAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/updateQuota.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/updateWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/workspaceDeletePrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/workspaceGetPrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/workspaceListPrivateLinkResources.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/workspacePutPrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/machineLearningServices.json
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff

#10534 Adding properties for AvailabilityZone and Gen2 support
  specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryServices/stable/2018-01-10/service.json
Labels: ARMSignedOff

#10455 Swagger changes for server upgrade new api to MySQL
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2020-01-01/Servers.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2020-01-01/examples/ServerUpgrade.json
  specification/mysql/resource-manager/readme.cli.md
Labels: ARMSignedOff

#10572 [Anomaly Detector] Rename operations and fix path casing
  custom-words.txt
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.0/AnomalyDetector.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python

#10582 [Hub Generated] Review request for Microsoft.Cache to add version stable/2018-03-01
  specification/redis/resource-manager/Microsoft.Cache/preview/2019-07-01/redis.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/redis.json
Labels: CI-BreakingChange-Python

#10605 network python readme change
  specification/network/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python

#10491 Adding express route port authorization apis
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/examples/ExpressRouteCircuitCreateOnExpressRoutePort.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/examples/ExpressRoutePortAuthorizationCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/examples/ExpressRoutePortAuthorizationDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/examples/ExpressRoutePortAuthorizationGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/examples/ExpressRoutePortAuthorizationList.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/expressRouteCircuit.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/expressRoutePort.json
Labels: ARMSignedOff, CI-BreakingChange-Python

#10428 Add 2020-02-02-preview related to new ImportExport API
  CODEOWNERS
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ExportDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ExportDatabaseWithNetworkIsolation.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ImportDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ImportDatabaseWithNetworkIsolation.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ImportNewDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ImportNewDatabaseWithNetworkIsolation.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/importexport.json
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python

#10624 update link context to type dictionary
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/networkWatcher.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/networkWatcher.json
Labels: CI-BreakingChange-Python, WaitForARMFeedback

#10620 cherry-pick hop link context change from https://github.com/Azure/azure-rest-api-specs/pull/9868 to 2020-06-01 version
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/networkWatcher.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python, WaitForARMFeedback

#10490 Put billing role assignments dev billing microsoft.billing 2019 10 01 preview
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/PutAdministratorRoleAssignment.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/PutEnrollmentDepartmentAdministratorRoleAssignment.json
Labels: CI-BreakingChange-Python

#10555 Added Start and Stop operation, plus PowerState to swagger spec
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-09-01/examples/ManagedClustersStart.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-09-01/examples/ManagedClustersStop.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-09-01/managedClusters.json
Labels: ARMSignedOff

#10621 hybridcompute-create a stable version
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2020-08-02/HybridCompute.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2020-08-02/examples/DELETEExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2020-08-02/examples/GETExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2020-08-02/examples/LISTExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2020-08-02/examples/Machines_CreateOrUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2020-08-02/examples/Machines_Delete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2020-08-02/examples/Machines_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2020-08-02/examples/Machines_ListByResourceGroup.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2020-08-02/examples/Machines_ListBySubscription.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2020-08-02/examples/Machines_Update.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2020-08-02/examples/PUTExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2020-08-02/examples/UpdateExtension.json
  specification/hybridcompute/resource-manager/readme.md
Labels: ARMSignedOff

#10617 Robga/policy
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/createOrUpdatePolicyDefinition.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/createOrUpdatePolicyDefinitionAdvancedParams.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/createOrUpdatePolicyDefinitionAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/createOrUpdatePolicySetDefinition.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/createOrUpdatePolicySetDefinitionAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/createOrUpdatePolicySetDefinitionWithGroups.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/createOrUpdatePolicySetDefinitionWithGroupsAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/createPolicyAssignment.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/createPolicyAssignmentById.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/createPolicyAssignmentWithIdentity.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/createPolicyAssignmentWithIdentityById.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/createPolicyAssignmentWithoutEnforcement.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/deletePolicyAssignment.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/deletePolicyAssignmentById.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/deletePolicyDefinition.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/deletePolicyDefinitionAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/deletePolicySetDefinition.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/deletePolicySetDefinitionAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/getBuiltInPolicySetDefinition.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/getBuiltinPolicyDefinition.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/getPolicyAssignment.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/getPolicyAssignmentById.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/getPolicyAssignmentWithIdentity.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/getPolicyAssignmentWithIdentityById.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/getPolicyDefinition.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/getPolicyDefinitionAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/getPolicySetDefinition.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/getPolicySetDefinitionAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/listBuiltInPolicyDefinitions.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/listBuiltInPolicySetDefinitions.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/listPolicyAssignments.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/listPolicyAssignmentsForManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/listPolicyAssignmentsForResource.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/listPolicyAssignmentsForResourceGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/listPolicyDefinitions.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/listPolicyDefinitionsByManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/listPolicySetDefinitions.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/examples/listPolicySetDefinitionsByManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/policyAssignments.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/policyDefinitions.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/policySetDefinitions.json
  specification/resources/resource-manager/readme.md
Labels: ARMSignedOff

#10424 Adding support of Export, Cmk and BYOK features with version upgrade.
  specification/databox/resource-manager/Microsoft.DataBox/stable/2020-04-01/databox.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2020-04-01/examples/AvailableSkusPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2020-04-01/examples/BookShipmentPickupPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2020-04-01/examples/JobsCancelPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2020-04-01/examples/JobsCreate.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2020-04-01/examples/JobsCreateDevicePassword.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2020-04-01/examples/JobsCreateExport.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2020-04-01/examples/JobsDelete.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2020-04-01/examples/JobsGet.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2020-04-01/examples/JobsGetCmk.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2020-04-01/examples/JobsGetExport.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2020-04-01/examples/JobsList.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2020-04-01/examples/JobsListByResourceGroup.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2020-04-01/examples/JobsListCredentials.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2020-04-01/examples/JobsPatch.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2020-04-01/examples/JobsPatchCmk.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2020-04-01/examples/OperationsGet.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2020-04-01/examples/RegionConfiguration.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2020-04-01/examples/RegionConfigurationByResourceGroup.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2020-04-01/examples/ValidateAddressPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2020-04-01/examples/ValidateInputs.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2020-04-01/examples/ValidateInputsByResourceGroup.json
  specification/databox/resource-manager/readme.azureresourceschema.md
  specification/databox/resource-manager/readme.go.md
  specification/databox/resource-manager/readme.md
  specification/databox/resource-manager/readme.python.md
  specification/databox/resource-manager/readme.ruby.md
Labels: ARMSignedOff

#10602 [2020-06-01-preview] Update Oauth Server secrets Contract
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/apimauthorizationservers.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementAuthorizationServerListSecrets.json
Labels: 2020-06-01-preview, API Management, ARMSignedOff, CI-BreakingChange-Python, potential-sdk-breaking-change

#10626 [Hub Generated] Review request for Microsoft.Devices to add version preview/2020-07-10-preview
  specification/iothub/resource-manager/Microsoft.Devices/preview/2020-07-10-preview/iothub.json
Labels: Approved-BreakingChange

#10610 Atchub pe preview microsoft.hybrid compute 2020 08 15 preview
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/HybridCompute.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/examples/DELETEExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/examples/GETExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/examples/LISTExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/examples/Machines_CreateOrUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/examples/Machines_Delete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/examples/Machines_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/examples/Machines_ListByResourceGroup.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/examples/Machines_ListBySubscription.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/examples/Machines_Update.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/examples/PUTExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/examples/PrivateEndpointConnectionDelete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/examples/PrivateEndpointConnectionGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/examples/PrivateEndpointConnectionList.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/examples/PrivateEndpointConnectionUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/examples/PrivateLinkScopePrivateLinkResourceGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/examples/PrivateLinkScopePrivateLinkResourceListGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/examples/PrivateLinkScopedResourceDelete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/examples/PrivateLinkScopedResourceGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/examples/PrivateLinkScopedResourceList.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/examples/PrivateLinkScopedResourceUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/examples/PrivateLinkScopesCreate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/examples/PrivateLinkScopesDelete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/examples/PrivateLinkScopesGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/examples/PrivateLinkScopesList.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/examples/PrivateLinkScopesListByResourceGroup.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/examples/PrivateLinkScopesUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/examples/PrivateLinkScopesUpdateTagsOnly.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/examples/UpdateExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2020-08-15-preview/privateLinkScopes.json
  specification/hybridcompute/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python

#10556 Add swagger for ManagedInstanceAzureADOnlyAPI
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/ManagedInstanceAzureADOnlyAuthentications.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceAzureADOnlyAuthCreateOrUpdate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceAzureADOnlyAuthDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceAzureADOnlyAuthGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceAzureADOnlyAuthListByInstance.json
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python

#8805 [Hub Generated] Review request for Microsoft.Security to add version stable/2020-01-01
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/alerts.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/Alerts/GetAlertResourceGroupLocation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/Alerts/GetAlertSubscriptionLocation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/Alerts/GetAlertsResourceGroupLocation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/Alerts/GetAlertsResourceGroup_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/Alerts/GetAlertsSubscription_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/Alerts/GetAlertsSubscriptionsLocation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/Alerts/UpdateAlertResourceGroupLocation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/Alerts/UpdateAlertResourceGroupLocation_resolve_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/Alerts/UpdateAlertSubscriptionLocation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/Alerts/UpdateAlertSubscriptionLocation_resolve_example.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff, Approved-OkToMerge

#10627 Marking the movestatus/moveresourcerror properties as readonly.
  specification/regionmove/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/regionmovecollection.json
Labels: Approved-BreakingChange
