Repository Azure/azure-rest-api-specs, pull requests merged in 2020-02, with the labels that each got.

#8167 GA Version - 2020-01-01 for version - 2019-10-01-preview
  specification/subscription/resource-manager/Microsoft.Subscription/stable/2020-01-01/examples/cancelSubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/stable/2020-01-01/examples/createCspSubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/stable/2020-01-01/examples/createLegacySubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/stable/2020-01-01/examples/createSubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/stable/2020-01-01/examples/enableSubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/stable/2020-01-01/examples/getOperations.json
  specification/subscription/resource-manager/Microsoft.Subscription/stable/2020-01-01/examples/getSubscriptionOperation.json
  specification/subscription/resource-manager/Microsoft.Subscription/stable/2020-01-01/examples/renameSubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/stable/2020-01-01/subscriptions.json
  specification/subscription/resource-manager/readme.md
Labels: ARMSignedOff

#8270 Add new Microsoft.Network NetworkVirtualAppliance resource
  specification/network/resource-manager/Microsoft.Network/stable/2019-12-01/examples/NetworkVirtualApplianceDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-12-01/examples/NetworkVirtualApplianceGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-12-01/examples/NetworkVirtualApplianceListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-12-01/examples/NetworkVirtualApplianceListBySubscription.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-12-01/examples/NetworkVirtualAppliancePut.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-12-01/examples/NetworkVirtualApplianceUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-12-01/networkVirtualAppliance.json
  specification/network/resource-manager/readme.md
Labels: ARMSignedOff

#8279 add developer portal url
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-06-01-preview/examples/ApiManagementServiceDeleteService.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementServiceDeleteService.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/apimdeployment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/examples/ApiManagementCreateService.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/examples/ApiManagementCreateServiceWithSystemCertificates.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/examples/ApiManagementListServiceBySubscription.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/examples/ApiManagementRestoreService.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/examples/ApiManagementServiceDeleteService.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/examples/ApiManagementServiceGetMultiRegionInternalVnet.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/examples/ApiManagementServiceGetService.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/examples/ApiManagementServiceGetServiceHavingMsi.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/examples/ApiManagementUpdateServiceDisableTls10.json
Labels: API Management, ARMSignedOff

#7528 Angos/msi extensionresource
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2015-08-31-preview/ManagedIdentity.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2015-08-31-preview/examples/SystemAssignedIdentityGet.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2018-11-30/ManagedIdentity.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2018-11-30/examples/SystemAssignedIdentityGet.json
  specification/msi/resource-manager/readme.md
Labels: ARMSignedOff

#7783 [SQL] Add Private Endpoint Connections to Server Properties
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/examples/CheckNameAvailabilityServerAlreadyExists.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/examples/CheckNameAvailabilityServerAvailable.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/examples/CheckNameAvailabilityServerInvalid.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/examples/ServerCreate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/examples/ServerDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/examples/ServerGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/examples/ServerList.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/examples/ServerListByResourceGroup.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/examples/ServerUpdate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/servers.json
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff

#8271 Diagnostic Contract Fix
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementGetApiDiagnostic.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementGetDiagnostic.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementListApiDiagnostics.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementListDiagnostics.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/definitions.json
Labels: API Management, ARMSignedOff

#8286 private link scope default resource type -JEDI
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateEndpointConnectionDelete.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateEndpointConnectionGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateEndpointConnectionList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateEndpointConnectionUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopePrivateLinkResourceGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopePrivateLinkResourceListGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopesCreate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopesDelete.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopesGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopesList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopesListByResourceGroup.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopesUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopesUpdateTagsOnly.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/privateLinkScopes_API.json
  specification/applicationinsights/resource-manager/readme.md
Labels: ARMSignedOff

#8231 [Microsoft.StorageSync] Add new cloud tiering status for 2019-10-01 protocol
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/ServerEndpoints_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/ServerEndpoints_ListBySyncGroup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/storagesync.json
  specification/storagesync/resource-manager/readme.go.md
  specification/storagesync/resource-manager/readme.md
Labels: ARMSignedOff

#8287 [Hub Generated] Review request for Microsoft.Maps to add version preview/2020-02-01-preview
  specification/maps/resource-manager/Microsoft.Maps/preview/2020-02-01-preview/examples/CreateAccount.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2020-02-01-preview/examples/CreatePrivateAtlas.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2020-02-01-preview/examples/DeleteAccount.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2020-02-01-preview/examples/DeletePrivateAtlas.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2020-02-01-preview/examples/GetAccount.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2020-02-01-preview/examples/GetOperations.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2020-02-01-preview/examples/GetPrivateAtlas.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2020-02-01-preview/examples/ListAccountsByResourceGroup.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2020-02-01-preview/examples/ListAccountsBySubscription.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2020-02-01-preview/examples/ListKeys.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2020-02-01-preview/examples/ListPrivateAtlasByAccount.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2020-02-01-preview/examples/RegenerateKey.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2020-02-01-preview/examples/UpdateAccount.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2020-02-01-preview/examples/UpdatePrivateAtlas.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2020-02-01-preview/maps-management.json
  specification/maps/resource-manager/readme.go.md
  specification/maps/resource-manager/readme.md
Labels: ARMSignedOff

#8311 Microsoft.insights Remove PrivateLinkScope API from AppInsights (moved to AzureMonitor on different PR)
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateEndpointConnectionDelete.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateEndpointConnectionGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateEndpointConnectionList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateEndpointConnectionUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopePrivateLinkResourceGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopePrivateLinkResourceListGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopesCreate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopesDelete.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopesGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopesList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopesListByResourceGroup.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopesUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopesUpdateTagsOnly.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/privateLinkScopes_API.json
  specification/applicationinsights/resource-manager/readme.md
Labels: ARMSignedOff

#8310 Microsoft.insights PrivateLinkScope API for Azure Monitor (Moved from ApplicationInsights)
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateEndpointConnectionDelete.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateEndpointConnectionGet.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateEndpointConnectionList.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateEndpointConnectionUpdate.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopePrivateLinkResourceGet.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopePrivateLinkResourceListGet.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopedResourceDelete.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopedResourceGet.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopedResourceList.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopedResourceUpdate.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopesCreate.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopesDelete.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopesGet.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopesList.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopesListByResourceGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopesUpdate.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/PrivateLinkScopesUpdateTagsOnly.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/privateLinkScopes_API.json
  specification/monitor/resource-manager/readme.md
Labels: ARMSignedOff

#8312 Add trigger evalation API to swagger
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-10-01/examples/PolicyStates_TriggerResourceGroupEvaluation.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-10-01/examples/PolicyStates_TriggerSubscriptionEvaluation.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-10-01/policyStates.json
Labels: ARMSignedOff

#8264 Document stable ATP settings API
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/advancedThreatProtectionSettings.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/examples/AdvancedThreatProtection/GetAdvancedThreatProtectionSettings_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/examples/AdvancedThreatProtection/PutAdvancedThreatProtectionSettings_example.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff

#7583 Add PGSQL to AzurePGSQL swagger changes
  custom-words.txt
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/Common.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/ConnectToSourceSqlServerTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/MigrateMySqlAzureDbForMySqlSyncTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/MigratePostgreSqlAzureDbForPostgreSqlSyncTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/MigrateSqlServerSqlDbSyncTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/MigrateSqlServerSqlDbTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/MigrateSqlServerSqlMITask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/MigrateSqlServerSqlMiSyncTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/MigrateSsisTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/MongoDbTasks.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/OracleAzureDbPostgreSqlSyncTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/Tasks.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/TasksCommon.json
Labels: ARMSignedOff

#8302 [Datafactory] Add startFromFailure for create run with recovery mode
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json
Labels: ARMSignedOff

#6903 [DataFactory] modify apis for rerunTrigger
  custom-words.txt
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Trigger.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/RerunTriggers_Cancel.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/RerunTriggers_Create.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/RerunTriggers_Start.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/RerunTriggers_Stop.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/Triggers_QueryByFactory.json
Labels: ARMSignedOff

#8319 [BillingRP] New API to list transactions by invoice
  custom-words.txt
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/TransactionsListByInvoice.json
Labels: ARMSignedOff

#7483 Swagger changes for adding a new API version in Backup
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2018-12-20/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2018-12-20/examples/AzureIaasVm/BackupAadProperties_Get.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2018-12-20/examples/AzureIaasVm/BackupProtectedItems_List.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2018-12-20/examples/AzureIaasVm/GetAccessToken_Get.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2018-12-20/examples/AzureIaasVm/GetCrrJob_Post.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2018-12-20/examples/AzureIaasVm/GetCrrOperationResults_Get.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2018-12-20/examples/AzureIaasVm/GetCrrOperationStatus_Get.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2018-12-20/examples/AzureIaasVm/ListCrrJobs_Post.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2018-12-20/examples/AzureIaasVm/RecoveryPoints_List.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2018-12-20/examples/AzureIaasVm/TriggerCrossRegionRestore_Post.json
  specification/recoveryservicesbackup/resource-manager/readme.md
Labels: ARMSignedOff

#8143 [Security Center] Add support for verified partners in assessments
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/assessmentMetadata.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/assessments.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/Assessments/DeleteAssessment_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/Assessments/GetAssessmentWithExpand_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/Assessments/GetAssessment_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/Assessments/ListAssessments_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/Assessments/PutAssessment_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/AssessmentsMetadata/CreateAssessmentsMetadata_subscription_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/AssessmentsMetadata/DeleteAssessmentsMetadata_subscription_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/AssessmentsMetadata/GetAssessmentsMetadata_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/AssessmentsMetadata/GetAssessmentsMetadata_subscription_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/AssessmentsMetadata/ListAssessmentsMetadata_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/AssessmentsMetadata/ListAssessmentsMetadata_subscription_example.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff

#8342 Spot Pool Change
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-02-01/examples/AgentPoolsCreate_Spot.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-02-01/managedClusters.json
  specification/containerservice/resource-manager/readme.go.md
  specification/containerservice/resource-manager/readme.java.md
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: ARMSignedOff

#8166 Removing Incorrect parameters
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-10-01-preview/examples/createLegacySubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-10-01-preview/examples/createSubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-10-01-preview/subscriptions.json
Labels: ARMSignedOff

#8146 Add the stable api version of Azure Sentinel api
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/examples/actions/CreateActionOfAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/examples/actions/DeleteActionOfAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/examples/actions/GetActionOfAlertRuleById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/examples/actions/GetAllActionsByAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/examples/alertRules/CreateFusionAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/examples/alertRules/CreateMicrosoftSecurityIncidentCreationAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/examples/alertRules/CreateScheduledAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/examples/alertRules/DeleteAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/examples/alertRules/GetAllAlertRules.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/examples/alertRules/GetFusionAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/examples/alertRules/GetMicrosoftSecurityIncidentCreationAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/examples/alertRules/GetScheduledAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/examples/dataConnectors/CreateOfficeDataConnetor.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/examples/dataConnectors/DeleteOfficeDataConnetor.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/examples/dataConnectors/GetAmazonWebServicesCloudTrailById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/examples/dataConnectors/GetAzureActiveDirectoryById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/examples/dataConnectors/GetAzureAdvancedThreatProtectionById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/examples/dataConnectors/GetAzureSecurityCenterById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/examples/dataConnectors/GetDataConnectors.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/examples/dataConnectors/GetMicrosoftCloudAppSecurityById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/examples/dataConnectors/GetMicrosoftDefenderAdvancedThreatProtectionById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/examples/dataConnectors/GetOfficeDataConnetorById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/examples/dataConnectors/GetThreatIntelligenceById.json
  specification/securityinsights/resource-manager/readme.md
Labels: ARMSignedOff

#8372 [Peering] Readme file typo fixed.
  specification/peering/resource-manager/readme.md
Labels: ARMSignedOff

#8098 [DevSpaces]: Add targetContainerHostApiServerFqdn to controller resource
  specification/devspaces/resource-manager/Microsoft.DevSpaces/stable/2019-04-01/devspaces.json
  specification/devspaces/resource-manager/Microsoft.DevSpaces/stable/2019-04-01/examples/ControllersCreate_example.json
  specification/devspaces/resource-manager/Microsoft.DevSpaces/stable/2019-04-01/examples/ControllersGet_example.json
  specification/devspaces/resource-manager/Microsoft.DevSpaces/stable/2019-04-01/examples/ControllersListByResourceGroup_example.json
  specification/devspaces/resource-manager/Microsoft.DevSpaces/stable/2019-04-01/examples/ControllersList_example.json
  specification/devspaces/resource-manager/Microsoft.DevSpaces/stable/2019-04-01/examples/ControllersUpdate_example.json
  specification/devspaces/resource-manager/readme.md
Labels: ARMSignedOff

#8343 Add networkMode to AKS 20200201 API
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-02-01/managedClusters.json
Labels: ARMSignedOff

#8350 AutoScaler Profile Change
  custom-words.txt
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-02-01/examples/ManagedClustersCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-02-01/managedClusters.json
  specification/containerservice/resource-manager/readme.md
Labels: ARMSignedOff

#8341 ApiManagement - namedValue secrets and createContracts with required properties
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/apimidentityprovider.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/apimnamedvalues.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/apimopenidconnectproviders.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/apimportalsettings.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementCreateAuthorizationServer.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementCreateIdentityProvider.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementCreateNamedValue.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementCreateOpenIdConnectProvider.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementCreateSubscription.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementListNamedValues.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementListSecretsNamedValue.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementListSecretsPortalSettingsValidationKey.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementPortalSettingsGetDelegation.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementPortalSettingsPutDelegation.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementUpdateNamedValue.json
Labels: API Management, ARMSignedOff

#8357 [Security Center] Minor fixes to new assessments version
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/assessmentMetadata.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/assessments.json
Labels: ARMSignedOff

#8358 Add minimalTlsVersion MI/SQL DB property
  specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/managedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/servers.json
Labels: ARMSignedOff

#8370 add cli.md for storagesync
  specification/storagesync/resource-manager/readme.cli.md
Labels: Changes Required

#8388 Microsoft.ContainerService API Version 2020-02-01
  custom-words.txt
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-02-01/examples/AgentPoolsCreate_Spot.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-02-01/examples/AgentPoolsCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-02-01/examples/AgentPoolsDelete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-02-01/examples/AgentPoolsGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-02-01/examples/AgentPoolsGetAgentPoolAvailableVersions.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-02-01/examples/AgentPoolsGetUpgradeProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-02-01/examples/AgentPoolsList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-02-01/examples/ManagedClustersCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-02-01/examples/ManagedClustersDelete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-02-01/examples/ManagedClustersGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-02-01/examples/ManagedClustersGetAccessProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-02-01/examples/ManagedClustersGetUpgradeProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-02-01/examples/ManagedClustersList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-02-01/examples/ManagedClustersListByResourceGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-02-01/examples/ManagedClustersListClusterCredentialResult.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-02-01/examples/ManagedClustersResetAADProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-02-01/examples/ManagedClustersResetServicePrincipalProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-02-01/examples/ManagedClustersRotateClusterCertificates.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-02-01/examples/ManagedClustersUpdateTags.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-02-01/managedClusters.json
  specification/containerservice/resource-manager/readme.go.md
  specification/containerservice/resource-manager/readme.java.md
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: ARMSignedOff

#8381 Add encryption scope API to 2019-06-01.
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/StorageAccountEncryptionScopeList.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/StorageAccountGetEncryptionScope.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/StorageAccountPatchEncryptionScope.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/StorageAccountPutEncryptionScope.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json
Labels: ARMSignedOff

#8384 Add missing properties from list tenants API
  specification/resources/resource-manager/Microsoft.Resources/stable/2018-06-01/subscriptions.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-06-01/subscriptions.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-11-01/subscriptions.json
Labels: ARMSignedOff

#8373 [Blueprints] Swagger model update for documentation
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/blueprintAssignment.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/blueprintDefinition.json
Labels: ARMSignedOff

#8391 changed quantity from string to double
  specification/azsadmin/resource-manager/commerce/Microsoft.Commerce.Admin/preview/2015-06-01-preview/Commerce.json
Labels: WaitForARMFeedback, potential-sdk-breaking-change

#8322 2020 01 01 updates
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-01-01/examples/FrontdoorCreate.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-01-01/examples/FrontdoorGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-01-01/examples/FrontdoorList.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-01-01/examples/FrontdoorListAll.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-01-01/examples/FrontdoorRulesEngineDelete.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-01-01/frontdoor.json
Labels: ARMSignedOff

#8364 [Compute] Add new gallery API version and new encryption fields
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/CreateOrUpdateASimpleGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/CreateOrUpdateASimpleGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/CreateOrUpdateASimpleGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/CreateOrUpdateASimpleGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/CreateOrUpdateASimpleGalleryImageVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/CreateOrUpdateASimpleGalleryImageVersionWithSnapshotsAsSource.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/DeleteAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/DeleteAGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/DeleteAGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/DeleteAGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/DeleteAGalleryImageVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/GetAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/GetAGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/GetAGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/GetAGalleryApplicationVersionWithReplicationStatus.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/GetAGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/GetAGalleryImageVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/GetAGalleryImageVersionWithReplicationStatus.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/GetAGalleryImageVersionWithSnapshotsAsSource.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/ListGalleriesInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/ListGalleriesInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/ListGalleryApplicationVersionsInAGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/ListGalleryApplicationsInAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/ListGalleryImageVersionsInAGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/ListGalleryImagesInAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/UpdateASimpleGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/UpdateASimpleGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/UpdateASimpleGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/UpdateASimpleGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/UpdateASimpleGalleryImageVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/gallery.json
  specification/compute/resource-manager/readme.md
Labels: ARMSignedOff

#8359 [Hub Generated] Review request for Microsoft.Maps to add version preview/2020-02-01-preview
  specification/common-types/resource-management/v1/types.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2020-02-01-preview/examples/GetAccount.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2020-02-01-preview/maps-management.json
  specification/maps/resource-manager/readme.md
Labels: ARMSignedOff

#8400 [Resources] Update Microsoft.Resources swagger to match service behavior
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/resources.json
Labels: ARMSignedOff

#8130 Update AlertRuleTemplates data sources
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/alertRuleTemplates/GetAlertRuleTemplateById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/alertRuleTemplates/GetAlertRuleTemplates.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/alertRules/CreateMicrosoftSecurityIncidentCreationAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/alertRules/GetAllAlertRules.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/alertRules/GetMicrosoftSecurityIncidentCreationAlertRule.json
Labels: ARMSignedOff

#8404 [Blueprints] ParameterValue property update
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/blueprintAssignment.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/blueprintDefinition.json
Labels: ARMSignedOff

#8420 Add documentation for expandable resource-list properties
  specification/resources/resource-manager/Microsoft.Resources/stable/2015-11-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2016-02-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2016-07-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2016-09-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2017-05-10/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2018-02-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2018-05-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-03-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-05-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-05-10/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-07-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-08-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/resources.json
  specification/resources/resource-manager/readme.md
Labels: ARMSignedOff

#8440 [ACR] swagger updates for private links
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/containerregistry.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/PrivateEndpointConnectionCreateOrUpdate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/PrivateEndpointConnectionDelete.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/PrivateEndpointConnectionGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/PrivateEndpointConnectionList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/RegistryListPrivateLinkResources.json
Labels: ARMSignedOff

#8336 add cli.md for databox
  specification/databox/resource-manager/readme.cli.md
Labels: Approved-OkToMerge

#8254 Make Throughput as a strong type in the option object
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-12-12/cosmos-db.json
Labels: ARMSignedOff

#8439 Updating PostgreSQL/MySQL/MariaDB readme.md
  specification/mariadb/resource-manager/readme.md
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2017-12-01/mysql.json
  specification/mysql/resource-manager/readme.md
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2017-12-01/postgresql.json
  specification/postgresql/resource-manager/readme.md
Labels: Approved-OkToMerge

#8426 added sku to managed cluster api
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-03-01/examples/ManagedClustersCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-03-01/managedClusters.json
Labels: ARMSignedOff

#8339 Add Nas Cluster API in Spec
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2019-05-01/NasCluster.json
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2019-05-01/examples/NasCluster/Get.json
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2019-05-01/examples/NasCluster/List.json
  specification/azsadmin/resource-manager/fabric/readme.md
Labels: ARMSignedOff

#8437 Add grouping configuration
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/alertRules/CreateScheduledAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/alertRules/GetAllAlertRules.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/alertRules/GetScheduledAlertRule.json
Labels: ARMSignedOff

#8059 Add DB2 ConnectionString Property
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
Labels: ARMSignedOff

#8410 [DataFactory] add an option for SFTP to support direct upload
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff

#8416 Salesforce add apiVersion and set security token optional
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
Labels: ARMSignedOff

#8296 VMware by Virtustream API 2019-08-09-preview
  custom-words.txt
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/Clusters_CreateOrUpdate.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/Clusters_Delete.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/Clusters_Get.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/Clusters_List.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/Clusters_Update.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/Operations_List.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/PrivateClouds_CreateOrUpdate.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/PrivateClouds_Delete.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/PrivateClouds_Get.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/PrivateClouds_List.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/PrivateClouds_ListAdminCredentials.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/PrivateClouds_ListInSubscription.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/PrivateClouds_Update.json
  specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/vmwarevirtustream.json
  specification/vmwarevirtustream/resource-manager/readme.csharp.md
  specification/vmwarevirtustream/resource-manager/readme.python.md
  specification/vmwarevirtustream/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#8293 AvailableServiceTiers and CapacityReservation
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2015-11-01-preview/OperationalInsights.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2015-03-20/OperationalInsights.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2015-03-20/examples/WorkspacesAvailableServiceTiers.json
Labels: Approved-OkToMerge

#8428 CosmosDB autopilot support
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-12-12/cosmos-db.json
  specification/cosmos-db/resource-manager/readme.csharp.md
  specification/cosmos-db/resource-manager/readme.md
Labels: WaitForARMFeedback

#8467 [WaitForARMFeedback] ACR Repostiory Based permissions - AAD for Token
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-05-01-preview/containerregistry_scopemap.json
Labels: WaitForARMFeedback

#8461 [ACR] Swagger updates for dataendpoints and cmk
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/containerregistry.json
Labels: WaitForARMFeedback

#8340 Add 2019-06-01-preview API version for AAD Admin on Azure SQL Server
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/ServerAzureADAdministrators.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/examples/AdministratorCreateOrUpdate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/examples/AdministratorDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/examples/AdministratorGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/examples/AdministratorList.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/examples/DisableAzureADOnlyAuthUpdate.json
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff

#8458 [Hub Generated] Review request for Microsoft.KeyVault to add version stable/2019-09-01
  CODEOWNERS
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2018-02-14-preview/examples/deleteVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2018-02-14-preview/examples/purgeDeletedVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2018-02-14-preview/keyvault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/keyvault.json
Labels: ARMSignedOff

#7947 [Data Factory]Add additionalColumns/dataConsistency/sessionLog/isolationLevel/expiryDateTime/fileListPath in ADF public swagger
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff

#8237 [Securityinsight] Add DnsDomain to AccountEntityProperties
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/entities/GetAccountEntityById.json
Labels: ARMSignedOff

#7997 Swagger closure for Azure Migration Discovery service GA
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/HyperVCluster_Create.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/HyperVCluster_Get.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/HyperVCluster_ListBySite.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/HyperVHost_Create.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/HyperVHost_Get.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/HyperVHost_ListBySite.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/HyperVMachine_Get.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/HyperVMachines_ListBySite.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/HyperVOperationsStatus_Get.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/HyperVRunAsAccount_Get.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/HyperVRunAsAccounts_ListBySite.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/HyperVSiteHealthSummary_Post.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/HyperVSiteSummary_Post.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/HyperVSite_Create.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/HyperVSite_Delete.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/HyperVSite_Get.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/HyperVSite_Patch.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/HyperVSite_Refresh.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/VMwareMachine_Get.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/VMwareMachines_ListBySite.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/VMwareOperationsStatus_Get.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/VMwareRunAsAccount_Get.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/VMwareRunAsAccount_ListBySite.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/VMwareSiteHealthSummary_Post.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/VMwareSiteSummary_Post.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/VMwareSite_Create.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/VMwareSite_Delete.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/VMwareSite_Get.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/VMwareSite_Patch.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/VMwareSite_Refresh.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/VMwareVcenter_Create.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/VMwareVcenter_Delete.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/VMwareVcenter_Get.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/examples/VMwareVcenter_ListBySite.json
  specification/migrate/resource-manager/Microsoft.OffAzure/stable/2020-01-01/migrate.json
  specification/migrate/resource-manager/readme.go.md
  specification/migrate/resource-manager/readme.md
Labels: ARMSignedOff

#8281 2020-02-01-preview for Media Services LVA
  specification/mediaservices/resource-manager/Microsoft.Media/preview/2020-02-01-preview/MediaGraphs.json
  specification/mediaservices/resource-manager/Microsoft.Media/preview/2020-02-01-preview/examples/media-graph-create-clear-source.json
  specification/mediaservices/resource-manager/Microsoft.Media/preview/2020-02-01-preview/examples/media-graph-create-encrypted-source.json
  specification/mediaservices/resource-manager/Microsoft.Media/preview/2020-02-01-preview/examples/media-graph-delete.json
  specification/mediaservices/resource-manager/Microsoft.Media/preview/2020-02-01-preview/examples/media-graph-get-by-name.json
  specification/mediaservices/resource-manager/Microsoft.Media/preview/2020-02-01-preview/examples/media-graph-list-all.json
  specification/mediaservices/resource-manager/Microsoft.Media/preview/2020-02-01-preview/examples/media-graph-start.json
  specification/mediaservices/resource-manager/Microsoft.Media/preview/2020-02-01-preview/examples/media-graph-stop.json
  specification/mediaservices/resource-manager/Microsoft.Media/preview/2020-02-01-preview/examples/operation-result-get.json
  specification/mediaservices/resource-manager/Microsoft.Media/preview/2020-02-01-preview/examples/operation-status-get.json
  specification/mediaservices/resource-manager/readme.md
Labels: ARMSignedOff

#8240 [Hub Generated] Review request for Microsoft.AzureStack to add version stable/2017-06-01
  custom-words.txt
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/AzureStack.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/examples/CloudManifestFile/Get.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/examples/CloudManifestFile/List.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/examples/Operation/List.json
Labels: ARMSignedOff

#8485 Adding allowProtectedAppendWrites support for Immutability Policy
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/BlobContainersGetImmutabilityPolicy.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/BlobContainersPutImmutabilityPolicy.json
Labels: ARMSignedOff

#8436 Rename unknown classification to undetermined classification
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
Labels: ARMSignedOff

#8455 2020 01 01 updates to rules engine caching behavior
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-01-01/examples/FrontdoorCreate.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-01-01/examples/FrontdoorGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-01-01/examples/FrontdoorList.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-01-01/examples/FrontdoorListAll.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-01-01/examples/FrontdoorRulesEngineCreate.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-01-01/examples/FrontdoorRulesEngineGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-01-01/examples/FrontdoorRulesEngineList.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-01-01/frontdoor.json
Labels: Approved-OkToMerge

#8492 add cli.md for postgresql
  specification/postgresql/resource-manager/readme.cli.md
Labels: Approved-OkToMerge

#8498 [SRP] Add blob service property for container soft delete
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json
Labels: ARMSignedOff

#8481 [Deployment Scripts] Deployment scripts error model update
  specification/resources/resource-manager/Microsoft.Resources/preview/2019-10-01-preview/deploymentScripts.json
Labels: ARMSignedOff

#8268 Include Tags in GetSubscription and Deployment APIs
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/examples/PutDeploymentAtScope.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/examples/PutDeploymentAtTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-11-01/examples/GetSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-11-01/examples/GetSubscriptions.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-11-01/subscriptions.json
Labels: ARMSignedOff

#8517 Update Microsoft.Peering 2020-01-01-preview API specification
  specification/peering/resource-manager/Microsoft.Peering/preview/2020-01-01-preview/examples/CreatePeeringWithExchangeRouteServer.json
  specification/peering/resource-manager/Microsoft.Peering/preview/2020-01-01-preview/peering.json
Labels: ARMSignedOff

#8195 [DiskRP] Swagger changes for API version 2019-11-01
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-11-01/disk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-11-01/examples/CreateADiskEncryptionSet.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-11-01/examples/CreateAManagedDiskByCopyingASnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-11-01/examples/CreateAManagedDiskByImportingAnUnmanagedBlobFromADifferentSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-11-01/examples/CreateAManagedDiskByImportingAnUnmanagedBlobFromTheSameSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-11-01/examples/CreateAManagedDiskFromAPlatformImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-11-01/examples/CreateAManagedDiskFromAnExistingManagedDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-11-01/examples/CreateAManagedUploadDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-11-01/examples/CreateASnapshotByImportingAnUnmanagedBlobFromADifferentSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-11-01/examples/CreateASnapshotByImportingAnUnmanagedBlobFromTheSameSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-11-01/examples/CreateASnapshotFromAnExistingSnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-11-01/examples/CreateAnEmptyManagedDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-11-01/examples/DeleteADiskEncryptionSet.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-11-01/examples/GetInformationAboutADiskEncryptionSet.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-11-01/examples/GetInformationAboutAManagedDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-11-01/examples/GetInformationAboutASnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-11-01/examples/ListDiskEncryptionSetsInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-11-01/examples/ListDiskEncryptionSetsInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-11-01/examples/ListManagedDisksInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-11-01/examples/ListManagedDisksInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-11-01/examples/ListSnapshotsInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-11-01/examples/ListSnapshotsInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-11-01/examples/UpdateADiskEncryptionSet.json
  specification/compute/resource-manager/readme.md
Labels: ARMSignedOff

#8288 Add case and incident tactics
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/cases/CreateCase.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/cases/GetCaseById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/cases/GetCases.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/incidents/CreateIncident.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/incidents/GetIncidentById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/incidents/GetIncidents.json
Labels: ARMSignedOff

#8344 async operation status for privatelink scopes - JEDI urgent
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/examples/privateLinkScopeOperationStatuses.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/privateLinkScopes_API.json
Labels: ARMSignedOff

#8368 Add DELETE API to Microsoft.Security applicationWhitelistings
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/applicationWhitelistings.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/examples/ApplicationWhitelistings/DeleteApplicationWhitelistings_example.json
Labels: ARMSignedOff

#8525 [DeploymentScripts] Updated readme file to account for python sdk
  specification/resources/resource-manager/readme.md
  specification/resources/resource-manager/readme.python.md
Labels: ARMSignedOff

#8418 [BillingRP] Adding additional fields to Invoicing and Agreement APIs
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/AgreementByName.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/AgreementsListByBillingAccount.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/BillingAccountInvoicesList.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/Invoice.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/examples/InvoicesListByBillingProfile.json
Labels: ARMSignedOff

#8429 Add managed AAD section in containerservice
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-03-01/managedClusters.json
Labels: ARMSignedOff
