Repository Azure/azure-rest-api-specs, pull requests merged in 2020-12, with the labels that each got.

#11776 [EntityQueries] - Adding EntityQueryKind to EntityQueries and changing Properties to Expansion properties
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/entityQueries/GetEntityQueries.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/entityQueries/GetExpansionEntityQueryById.json
Labels: Approved-BreakingChange

#11853 Fix the titles of Azure Stack HCI examples
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2020-10-01/azurestackhci.json
Labels: CI-BreakingChange-Go

#10923 Add some profile tag for go SDK to serve the new profile 2020-09-01
  specification/compute/resource-manager/readme.go.md
  specification/iothub/resource-manager/readme.go.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#11807 Fix examples for Network Status and Deleted Services
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/apimdeletedservices.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementServiceGetNetworkStatus.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementServiceGetNetworkStatusByLocation.json
Labels: API Management, CI-BreakingChange-Go, CI-BreakingChange-Python

#11806 adding throttle analytics export API two new filters
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/examples/LogAnalyticsThrottledRequests.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#11768 VMGuestPatch Updates: Updated patch status in VMInstanceView, properties in AssessPatches API and patch settings in Windows and Linux Configuration in VMModel
  custom-words.txt
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateALinuxVmWithPatchSettingModeOfAutomaticByPlatform.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateALinuxVmWithPatchSettingModeOfImageDefault.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateAWindowsVmWithPatchSettingModeOfAutomaticByOS.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateAWindowsVmWithPatchSettingModeOfAutomaticByPlatform.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateAWindowsVmWithPatchSettingModeOfAutomaticByPlatformAndEnableHotPatchingTrue.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateAWindowsVmWithPatchSettingModeOfManual.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/GetVirtualMachineInstanceView.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/VirtualMachineAssessPatches.json
Labels: ARMSignedOff, CI-BreakingChange-Go

#11860 add timeout support for Synapse notebook and job def
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/entityTypes/Pipeline.json
Labels: WaitForARMFeedback

#11751 [Synapse] - Add missing API version parameter
  specification/synapse/data-plane/Microsoft.Synapse/preview/2020-08-01-preview/checkAccessSynapseRbac.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2020-08-01-preview/examples/CheckAccessSynapseRbac.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2020-08-01-preview/roleAssignments.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2020-08-01-preview/roleDefinitions.json
Labels: BreakingChangeReviewRequired

#11657 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2019-11-01
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/costmanagement.exports.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportByBillingAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportByDepartment.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportByEnrollmentAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportByManagementGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportByResourceGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportBySubscription.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportCreateOrUpdateByBillingAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportCreateOrUpdateByDepartment.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportCreateOrUpdateByEnrollmentAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportCreateOrUpdateByManagementGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportCreateOrUpdateByResourceGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportCreateOrUpdateBySubscription.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportExecutionListByBillingAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportExecutionListByDepartment.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportExecutionListByEnrollmentAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportExecutionListByManagementGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportExecutionListByResourceGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportExecutionListBySubscription.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportListByBillingAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportListByDepartment.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportListByEnrollmentAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportListByManagementGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportListByResourceGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportListBySubscription.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python

#11874 Include API Version '2020-10-01-preview' with CloudServices Swagger in readme.azureresourceschema.md
  specification/compute/resource-manager/readme.azureresourceschema.md
Labels: CI-BreakingChange-Python

#11867 add maps track2 config
  specification/maps/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#11866 add labservices track2 config
  specification/labservices/resource-manager/readme.md
Labels: CI-BreakingChange-Go, Lab Services

#11888 Fixing issue 11848
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/examples/Common/BackupResourceVaultConfigs_Get.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/examples/Common/BackupResourceVaultConfigs_Patch.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/examples/Common/BackupResourceVaultConfigs_Put.json
  specification/recoveryservicesbackup/resource-manager/readme.md
Labels: Approved-BreakingChange, CI-BreakingChange-Python, NewApiVersionRequired

#11815 VPN NAT for Virtual WAN feature changes
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/examples/NatRuleDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/examples/NatRuleGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/examples/NatRuleList.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/examples/NatRulePut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/examples/VpnGatewayGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/examples/VpnGatewayList.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/examples/VpnGatewayListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/examples/VpnGatewayPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/examples/VpnGatewayReset.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/examples/VpnGatewayUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/virtualWan.json
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-BreakingChange-Python

#11296 Iot sites and sensor zones
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/examples/IotSensors/Get.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/examples/IotSensors/List.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/examples/IotSensors/Put.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/examples/IotSites/Delete.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/examples/IotSites/Get.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/examples/IotSites/List.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/examples/IotSites/Put.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/iotSensors.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/iotSites.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python

#11894 add support track2 config
  specification/support/resource-manager/readme.python.md
Labels: Support

#11638 Fix Analysis Services for Swagger Completeness
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2016-05-16/analysisservices.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-07-14/analysisservices.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, NewApiVersionRequired, customer-reported

#11920 fix the output folder for profile 2020-09-01 of compute
  specification/compute/resource-manager/readme.go.md
Labels: CI-BreakingChange-Python

#11885 Update DomainServices: Add missing property
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2017-06-01/domainservices.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2020-01-01/domainservices.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go

#11712 Microsoft.Authorization 2020-09-01 policy entity APIs
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/createOrUpdatePolicyDefinition.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/createOrUpdatePolicyDefinitionAdvancedParams.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/createOrUpdatePolicyDefinitionAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/createOrUpdatePolicySetDefinition.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/createOrUpdatePolicySetDefinitionAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/createOrUpdatePolicySetDefinitionWithGroups.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/createOrUpdatePolicySetDefinitionWithGroupsAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/createPolicyAssignment.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/createPolicyAssignmentById.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/createPolicyAssignmentNonComplianceMessages.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/createPolicyAssignmentWithIdentity.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/createPolicyAssignmentWithIdentityById.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/createPolicyAssignmentWithoutEnforcement.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/deletePolicyAssignment.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/deletePolicyAssignmentById.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/deletePolicyDefinition.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/deletePolicyDefinitionAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/deletePolicySetDefinition.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/deletePolicySetDefinitionAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/getBuiltInPolicySetDefinition.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/getBuiltinPolicyDefinition.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/getPolicyAssignment.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/getPolicyAssignmentById.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/getPolicyAssignmentWithIdentity.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/getPolicyAssignmentWithIdentityById.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/getPolicyDefinition.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/getPolicyDefinitionAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/getPolicySetDefinition.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/getPolicySetDefinitionAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/listBuiltInPolicyDefinitions.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/listBuiltInPolicySetDefinitions.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/listPolicyAssignments.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/listPolicyAssignmentsForManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/listPolicyAssignmentsForResource.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/listPolicyAssignmentsForResourceGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/listPolicyDefinitions.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/listPolicyDefinitionsByManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/listPolicySetDefinitions.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/examples/listPolicySetDefinitionsByManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/policyAssignments.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/policyDefinitions.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/policySetDefinitions.json
  specification/resources/resource-manager/readme.azureresourceschema.md
  specification/resources/resource-manager/readme.go.md
  specification/resources/resource-manager/readme.java.md
  specification/resources/resource-manager/readme.md
  specification/resources/resource-manager/readme.python.md
Labels: ARMSignedOff, CI-BreakingChange-Python

#11703 Defender for iot/8670818 sites and sensors
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/examples/IotSensors/Get.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/examples/IotSensors/List.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/examples/IotSensors/Put.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/iotSensors.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-Python, DoNotMerge

#11880 Fix 2019-06-01-preview/FailoverManagedInstance.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/FailoverManagedInstance.json
  specification/sql/resource-manager/readme.azureresourceschema.md
Labels: CI-BreakingChange-Python

#11255 Change Appearance format to v3.2-preview.2
  specification/cognitiveservices/data-plane/ComputerVision/preview/v3.2-preview.2/Ocr.json
  specification/cognitiveservices/data-plane/ComputerVision/preview/v3.2-preview.2/examples/SuccessfulGetReadResult.json
  specification/cognitiveservices/data-plane/ComputerVision/preview/v3.2-preview.2/examples/SuccessfulReadWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/preview/v3.2-preview.2/examples/SuccessfulReadWithUrl.json
  specification/cognitiveservices/data-plane/ComputerVision/readme.md
Labels: AzureAPIBoardSignedOff

#11738 Portal revision API
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/apimanagement.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/apimportalrevisions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementCreatePortalRevision.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementGetPortalRevision.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementHeadPortalRevision.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementListPortalRevisions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementUpdatePortalRevision.json
  specification/apimanagement/resource-manager/readme.md
Labels: 2020-06-01-preview, API Management, ARMSignedOff, Approved-OkToMerge, CI-BreakingChange-Go, CI-BreakingChange-Python

#11753 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2020-06-01
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2020-06-01/costmanagement.exports.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-Python

#11763 Update description to indicate force delete is in preview
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/examples/ForceDeleteVirtualMachine.json
Labels: CI-BreakingChange-Python

#11506 [Hub Generated] Review request for Microsoft.Authorization to add version preview/2020-04-01-preview
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-01-01-preview/authorization-ProviderOperationsCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-01-01-preview/authorization-RoleAssignmentsCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-01-01-preview/authorization-RoleDefinitionsCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-07-01-preview/authorization-DenyAssignmentGetCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-04-01-preview/authorization-RoleAssignmentsCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-04-01-preview/examples/DeleteRoleAssignmentByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-04-01-preview/examples/GetAllRoleAssignments.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-04-01-preview/examples/GetRoleAssignmentByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-04-01-preview/examples/GetRoleAssignmentByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-04-01-preview/examples/GetRoleAssignmentsForResourceGroup.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-04-01-preview/examples/PutRoleAssignment.json
  specification/authorization/resource-manager/readme.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#10867 [DataFactory]: Add CMK Properties
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python

#10612 Add missing properties in appplatform preview API
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Deployments_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Deployments_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Deployments_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Deployments_ListClusterAllDeployments.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Deployments_Update.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#11923 add storagesync track2 config
  specification/storagesync/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python, StorageSync

#11933 Add edge zone parameters for networking resources and add extendedLocation property to customIpPrefix
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/cloudServiceNetworkInterface.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/cloudServicePublicIpAddress.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/customIpPrefix.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/examples/CustomIpPrefixCreateCustomizedValues.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/examples/LoadBalancerCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/examples/NetworkInterfaceCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/examples/PublicIpAddressCreateCustomizedValues.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/examples/PublicIpPrefixCreateCustomizedValues.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/examples/VirtualNetworkCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/loadBalancer.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/networkInterface.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/publicIpAddress.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/publicIpPrefix.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/virtualNetwork.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/virtualWan.json
Labels: CI-BreakingChange-Python

#11040 Update keyvault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/keyvault.json
Labels: Approved-OkToMerge

#11865 azure-sdk-for-java automation config enable track2
  specificationRepositoryConfiguration.json
Labels: DoNotMerge

#11925 add attestation track2 config
  specification/attestation/resource-manager/readme.python.md
Labels: Attestation, CI-BreakingChange-Python

#11859 Update references for OpenAPI
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/apimapis.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-12-01/apimapis.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-12-01/definitions.json
Labels: CI-BreakingChange-Python

#11383 Modifying the summary response to contain the field on which summary is done
  specification/resourcemover/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/resourcemovercollection.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go

#11844 add databricks track2 config
  specification/databricks/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go, Data Bricks

#11156 Fix problematic inheritance structure in security
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/Settings/UpdateSetting_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/settings.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/settings.json
Labels: BreakingChangeReviewRequired, CI-BreakingChange-Python

#11919 Add location parameter to Loadbalancer Backend Address Pool Properties Format
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/loadBalancer.json
Labels: CI-BreakingChange-Python

#11770 Update description to indicate VMSS changes are in preview along with example and port VM force delete changes to this version
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/ForceDeleteVirtualMachine.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/ForceDeleteVirtualMachineScaleSetVM.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/ForceDeleteVirtualMachineScaleSets.json
Labels: CI-BreakingChange-Go

#11971 add maintenance track2 config
  specification/maintenance/resource-manager/readme.python.md
Labels: Maintenance

#11941 add datashare track2 config
  specification/datashare/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python, Data Share

#11896 Revert "Remove api-version in recoveryservicebackup"
  specification/recoveryservicesbackup/resource-manager/readme.go.md
Labels: CI-BreakingChange-Python

#11839 Fix swagger correctness.
  specification/resourcemover/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/resourcemovercollection.json
Labels: CI-BreakingChange-Go

#11890 add api-version of network for go SDK
  specification/network/resource-manager/readme.go.md
Labels: CI-BreakingChange-Python

#11972 add managedservices track2 config
  specification/managedservices/resource-manager/readme.python.md
Labels: ManagedServices

#11836 Add new DevOps API swagger
  custom-words.txt
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/ServerDevOpsAudit.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/ServerDevOpsAuditCreateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/ServerDevOpsAuditCreateMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/ServerDevOpsAuditGet.json
  specification/sql/resource-manager/common/v1/types.json
  specification/sql/resource-manager/readme.md
Labels: CI-BreakingChange-Python, Reviewed-ChangesRequired, customer-reported

#11876 Add DNS API's to AVS 2020-07-17-preview
  specification/vmware/resource-manager/Microsoft.AVS/preview/2020-07-17-preview/examples/WorkloadNetworks_CreateDnsServices.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2020-07-17-preview/examples/WorkloadNetworks_CreateDnsZones.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2020-07-17-preview/examples/WorkloadNetworks_DeleteDnsServices.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2020-07-17-preview/examples/WorkloadNetworks_DeleteDnsZones.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2020-07-17-preview/examples/WorkloadNetworks_GetDnsServices.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2020-07-17-preview/examples/WorkloadNetworks_GetDnsZones.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2020-07-17-preview/examples/WorkloadNetworks_ListDnsServices.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2020-07-17-preview/examples/WorkloadNetworks_ListDnsZones.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2020-07-17-preview/examples/WorkloadNetworks_UpdateDnsServices.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2020-07-17-preview/examples/WorkloadNetworks_UpdateDnsZones.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2020-07-17-preview/vmware.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python, NewApiVersionRequired

#11027 Eventhub: Added APIs to 2018-01-01-preview API version
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/AuthorizationRules.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/CheckNameAvailability.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/consumergroups.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/disasterRecoveryConfigs.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/eventhubs.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/ConsumerGroup/EHConsumerGroupCreate.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/ConsumerGroup/EHConsumerGroupDelete.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/ConsumerGroup/EHConsumerGroupGet.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/ConsumerGroup/EHConsumerGroupListByEventHub.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/EHOperations_List.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/EHRegionsListBySkuBasic.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/EHRegionsListBySkuStandard.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/EventHubs/EHEventHubAuthorizationRuleCreate.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/EventHubs/EHEventHubAuthorizationRuleDelete.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/EventHubs/EHEventHubAuthorizationRuleGet.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/EventHubs/EHEventHubAuthorizationRuleListAll.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/EventHubs/EHEventHubAuthorizationRuleListKey.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/EventHubs/EHEventHubAuthorizationRuleRegenerateKey.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/EventHubs/EHEventHubCreate.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/EventHubs/EHEventHubDelete.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/EventHubs/EHEventHubGet.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/EventHubs/EHEventHubListByNameSpace.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/NameSpaces/EHNameSpaceAuthorizationRuleCreate.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/NameSpaces/EHNameSpaceAuthorizationRuleDelete.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/NameSpaces/EHNameSpaceAuthorizationRuleGet.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/NameSpaces/EHNameSpaceAuthorizationRuleListAll.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/NameSpaces/EHNameSpaceAuthorizationRuleListKey.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/NameSpaces/EHNameSpaceAuthorizationRuleRegenerateKey.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/NameSpaces/EHNameSpaceCheckNameAvailability.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/disasterRecoveryConfigs/EHAliasAuthorizationRuleGet.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/disasterRecoveryConfigs/EHAliasAuthorizationRuleListAll.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/disasterRecoveryConfigs/EHAliasAuthorizationRuleListKey.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/disasterRecoveryConfigs/EHAliasBreakPairing.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/disasterRecoveryConfigs/EHAliasCheckNameAvailability.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/disasterRecoveryConfigs/EHAliasCreate.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/disasterRecoveryConfigs/EHAliasDelete.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/disasterRecoveryConfigs/EHAliasFailOver.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/disasterRecoveryConfigs/EHAliasGet.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/disasterRecoveryConfigs/EHAliasList.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/operations.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/sku.json
  specification/eventhub/resource-manager/readme.md
Labels: ARMSignedOff

#11576 invalid dash char in mediaservices 2019-05-01-preview
  specification/mediaservices/resource-manager/Microsoft.Media/preview/2019-05-01-preview/streamingservice.json
Labels: CI-BreakingChange-Go

#11966 [JEDI feature] Update listHosts response to include new optional properties added for BYOK auto rotation
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/virtualMachines.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#11990 Changing SecurityType from SecureBoot to TrustedLaunch
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateAScaleSetWithUefiSettings.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateAVmWithUefiSettings.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#11960 Update ResourceIdentity reference and remove ManagedInstanceMetric
  specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/servers.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/ManagedInstanceAdministrators.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/Servers.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/ManagedInstancesListMetricDefinitions.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/ManagedInstancesListMetrics.json
  specification/sql/resource-manager/common/v1/types.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-Python

#12004 add databoxedge track2 config
  specification/databoxedge/resource-manager/readme.python.md
Labels: DataBox Edge

#11943 add hanaonazure track2 config
  specification/hanaonazure/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python

#11761 add botservice track2 config
  specification/botservice/resource-manager/readme.python.md
Labels: Bot Service, CI-BreakingChange-Go, CI-BreakingChange-Python

#11842 add databox track2 config
  specification/databox/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go, DataBox

#11855 [Datadog] Fix swagger KPIs
  specification/datadog/resource-manager/Microsoft.Datadog/preview/2020-02-01-preview/datadog.json
Labels: Approved-BreakingChange, Approved-OkToMerge, CI-BreakingChange-Python

#11906 fix storage account nextLinkName
  specification/storage/resource-manager/Microsoft.Storage/preview/2020-08-01-preview/storage.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#11995 LVA: move LVA swaggers 2.0 version from private repo to public repo f…
  custom-words.txt
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/2.0.0/LiveVideoAnalytics.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/2.0.0/LiveVideoAnalyticsSdkDefinitions.json
  specification/mediaservices/data-plane/readme.md
Labels: ReadyForSDKReview

#11949 Update DeploymentScripts swagger to address swagger correctness issues
  specification/resources/resource-manager/Microsoft.Resources/preview/2019-10-01-preview/deploymentScripts.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-10-01/deploymentScripts.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python

#11931 Azure CDN : Update default tag version
  specification/cdn/resource-manager/readme.md
Labels: CI-BreakingChange-Python

#12028 [Synapse] Support long running operation for managed identity sql control
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/workspace.json
Labels: CI-BreakingChange-Go

#11918 Update Blueprints swagger files for live validation linter errors
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/assignmentOperation.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/blueprintAssignment.json
  specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/blueprintDefinition.json
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired

#11428 CosmosDB Restoreable APIs for SQL and MongoDB database account
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBRestorableDatabaseAccountGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBRestorableDatabaseAccountList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBRestorableDatabaseAccountNoLocationList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBRestorableMongodbCollectionList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBRestorableMongodbDatabaseList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBRestorableMongodbResourceList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBRestorableSqlContainerList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBRestorableSqlDatabaseList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBRestorableSqlResourceList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/restorable.json
  specification/cosmos-db/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-BreakingChange-Python

#12062 Add orchestrationMode to VMSS properties
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/compute.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#10445 Addendum | Access Reviews reviewer and stats APIs
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-05-01-preview/authorization-AccessReviewCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-05-01-preview/examples/AccessReviewInstanceAcceptRecommendations.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-05-01-preview/examples/AccessReviewInstanceApplyDecisions.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-05-01-preview/examples/AccessReviewInstanceResetDecisions.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-05-01-preview/examples/AccessReviewInstanceSendReminders.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-05-01-preview/examples/DeleteAccessReviewScheduleDefinition.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-05-01-preview/examples/GetAccessReviewDefaultSettings.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-05-01-preview/examples/GetAccessReviewInstance.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-05-01-preview/examples/GetAccessReviewInstanceAssignedForMyApproval.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-05-01-preview/examples/GetAccessReviewInstanceDecisions.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-05-01-preview/examples/GetAccessReviewInstanceMyDecisionById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-05-01-preview/examples/GetAccessReviewInstanceMyDecisions.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-05-01-preview/examples/GetAccessReviewInstances.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-05-01-preview/examples/GetAccessReviewInstancesAssignedForMyApproval.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-05-01-preview/examples/GetAccessReviewScheduleDefinition.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-05-01-preview/examples/GetAccessReviewScheduleDefinitions.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-05-01-preview/examples/GetAccessReviewScheduleDefinitionsAssignedForMyApproval.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-05-01-preview/examples/PatchAccessReviewInstanceMyDecisionById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-05-01-preview/examples/PutAccessReviewDefaultSettings.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-05-01-preview/examples/PutAccessReviewScheduleDefinition.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-05-01-preview/examples/StopAccessReviewInstance.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-05-01-preview/examples/StopAccessReviewScheduleDefinition.json
  specification/authorization/resource-manager/readme.azureresourceschema.md
  specification/authorization/resource-manager/readme.java.md
  specification/authorization/resource-manager/readme.md
  specification/authorization/resource-manager/readme.python.md
  specification/authorization/resource-manager/readme.ruby.md
Labels: ARMSignedOff

#11901 Update swagger with new properties
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2020-08-04-preview/ResourceHealthAlertRules.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2020-08-04-preview/examples/createOrUpdateResourceHealthAlertRule.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2020-08-04-preview/examples/getResourceHealthAlertRule.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2020-08-04-preview/examples/listResourceHealthAlertRules.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2020-08-04-preview/examples/patchResourceHealthAlertRule.json
Labels: Approved-BreakingChange

#12018 Updating installPatchesinput parameter in installPatches API
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/compute.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#10820 Add AppAssignedTo API
  specification/graphrbac/data-plane/Microsoft.GraphRbac/stable/1.6/graphrbac.json
Labels: CI-BreakingChange-Python

#11809 [Hub Generated] Review request for Microsoft.Devices to add version preview/2020-09-01-preview
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2020-09-01-preview/iotdps.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#11778 Grouping configuration - Add FileHash
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
Labels: CI-BreakingChange-Go

#11785 Move QueryPacks to OperationalInsights
  specification/applicationinsights/resource-manager/readme.azureresourceschema.md
  specification/applicationinsights/resource-manager/readme.md
  specification/applicationinsights/resource-manager/readme.python.md
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-09-01-preview/QueryPackQueries_API.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-09-01-preview/QueryPacks_API.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-09-01-preview/examples/QueryPackQueriesDelete.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-09-01-preview/examples/QueryPackQueriesGet.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-09-01-preview/examples/QueryPackQueriesList.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-09-01-preview/examples/QueryPackQueriesPut.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-09-01-preview/examples/QueryPackQueriesSearch.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-09-01-preview/examples/QueryPackQueriesUpdate.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-09-01-preview/examples/QueryPacksCreate.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-09-01-preview/examples/QueryPacksDelete.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-09-01-preview/examples/QueryPacksGet.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-09-01-preview/examples/QueryPacksList.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-09-01-preview/examples/QueryPacksListByResourceGroup.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-09-01-preview/examples/QueryPacksUpdate.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-09-01-preview/examples/QueryPacksUpdateTagsOnly.json
  specification/operationalinsights/resource-manager/readme.azureresourceschema.md
  specification/operationalinsights/resource-manager/readme.go.md
  specification/operationalinsights/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python

#12023 add hybridkubernetes track2 config
  specification/hybridkubernetes/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python

#11940 add customproviders track2 version
  specification/customproviders/resource-manager/readme.python.md
Labels: Custom Providers

#12026 add managementgroups track2 config
  specification/managementgroups/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python

#12068 [HDInsight] JEDI: Support compute isolation
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/cluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/examples/CreateHDInsightClusterWithComputeIsolationProperties.json
Labels: Approved-BreakingChange

#11463 Add support for Redis Cache API version 2020-06-01 to SDK for Go
  specification/redis/resource-manager/readme.go.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#11915 Sensor Threat Intelligence Package Update
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/examples/IotSensors/TriggerTiPackageUpdate.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/iotSensors.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-Python, NewApiVersionRequired

#11850 added new api version for Tables resource
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-10-01/Tables.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-10-01/examples/TablesGet.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-10-01/examples/TablesList.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-10-01/examples/TablesUpdate.json
  specification/operationalinsights/resource-manager/readme.md
Labels: customer-reported

#12042 Add Encryption to Synapse Workspace Patch properties
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/CreateOrUpdateWorkspace.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/UpdateWorkspace.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/workspace.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-Python

#11292 Azure ad b2c tenant resource management APIs swagger, merge into public repo
  custom-words.txt
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2019-01-01-preview/cpimTenant.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2019-01-01-preview/examples/OperationsList.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2019-01-01-preview/examples/checkNameAvailability-available.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2019-01-01-preview/examples/checkNameAvailability-taken.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2019-01-01-preview/examples/createTenant.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2019-01-01-preview/examples/deleteTenant.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2019-01-01-preview/examples/getAsyncOperationStatus.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2019-01-01-preview/examples/getTenant.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2019-01-01-preview/examples/listTenantsByResourceGroup.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2019-01-01-preview/examples/listTenantsBySubscription.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2019-01-01-preview/examples/updateTenant.json
  specification/cpim/resource-manager/readme.csharp.md
  specification/cpim/resource-manager/readme.go.md
  specification/cpim/resource-manager/readme.md
  specification/cpim/resource-manager/readme.python.md
  specification/cpim/resource-manager/readme.ruby.md
  specification/cpim/resource-manager/readme.typescript.md
  specification/cpim/resource-manager/reeadme.azureresourceschema.md
Labels: ARMSignedOff

#10345 trenton config for avs
  specification/vmware/resource-manager/readme.trenton.md
Labels: CI-BreakingChange-Python

#11330 add scheduler track2 config
  specification/scheduler/resource-manager/readme.md
Labels: Scheduler

#11762 add costmanagement track2 config
  specification/cost-management/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python, Cost Management

#11526 Draft PR for PostgreSQLHSC
  custom-words.txt
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/CheckNameAvailability.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/ConfigurationGet.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/ConfigurationListByServer.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/ConfigurationListByServerGroup.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/ConfigurationUpdate.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/FirewallRuleCreate.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/FirewallRuleDelete.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/FirewallRuleGet.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/FirewallRuleListByServerGroup.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/OperationList.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/RoleCreate.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/RoleDelete.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/RoleListByServerGroup.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/ServerGet.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/ServerGroupAddNode.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/ServerGroupCreate.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/ServerGroupCreatePITR.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/ServerGroupDelete.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/ServerGroupGet.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/ServerGroupList.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/ServerGroupListByResourceGroup.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/ServerGroupRestart.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/ServerGroupScaleCompute.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/ServerGroupScaleStorage.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/ServerGroupStart.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/ServerGroupStop.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/ServerGroupUpdate.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/ServerGroupUpdateMaintenanceWindow.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/ServerListByServerGroup.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/postgresqlhsc.json
  specification/postgresqlhsc/resource-manager/readme.az.md
  specification/postgresqlhsc/resource-manager/readme.azureresourceschema.md
  specification/postgresqlhsc/resource-manager/readme.cli.md
  specification/postgresqlhsc/resource-manager/readme.csharp.md
  specification/postgresqlhsc/resource-manager/readme.go.md
  specification/postgresqlhsc/resource-manager/readme.java.md
  specification/postgresqlhsc/resource-manager/readme.md
  specification/postgresqlhsc/resource-manager/readme.nodejs.md
  specification/postgresqlhsc/resource-manager/readme.python.md
  specification/postgresqlhsc/resource-manager/readme.ruby.md
  specification/postgresqlhsc/resource-manager/readme.typescript.md
Labels: ARMSignedOff, Approved-OkToMerge, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#12103 removed systemData from Table API
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-10-01/Tables.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-10-01/examples/TablesGet.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-10-01/examples/TablesUpdate.json
Labels: Approved-BreakingChange, customer-reported

#11572 Support for Listing IKE Security Associations for Virtual Network Gateway Connections
  custom-words.txt
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/examples/VirtualNetworkGatewayConnectionGetIkeSas.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/virtualNetworkGateway.json
Labels: ARMSignedOff, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, Reviewed-FeedbackProvided

#11884 New API: QPI Reset
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/stable/2018-06-01/QueryPerformanceInsights.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/stable/2018-06-01/examples/QueryPerformanceInsightResetData.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2018-06-01/QueryPerformanceInsights.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2018-06-01/examples/QueryPerformanceInsightResetData.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2018-06-01/QueryPerformanceInsights.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2018-06-01/examples/QueryPerformanceInsightResetData.json
  specification/postgresql/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python, NewApiVersionRequired

#11598 Update VirtualMachineSizeTypes enum description to add deprecation note and recommended usage to get up-to-date sizes using APIs
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/compute.json
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#12020 [Hub Generated] Review request for Microsoft.Advisor to add version stable/2020-01-01
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2020-01-01/advisor.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2020-01-01/examples/CreateSuppression.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2020-01-01/examples/GetSuppressionDetail.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go

#12006 Azure Healthbot - new API for async support and new tier
  specification/healthbot/resource-manager/Microsoft.HealthBot/preview/2020-12-08-preview/examples/CheckNameAvailability.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/preview/2020-12-08-preview/examples/GetOperations.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/preview/2020-12-08-preview/examples/ListBotsByResourceGroup.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/preview/2020-12-08-preview/examples/ListBotsBySubscription.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/preview/2020-12-08-preview/examples/ResourceCreationPut.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/preview/2020-12-08-preview/examples/ResourceDeletionDelete.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/preview/2020-12-08-preview/examples/ResourceInfoGet.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/preview/2020-12-08-preview/examples/ResourceUpdatePatch.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/preview/2020-12-08-preview/healthbot.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2020-12-08/examples/CheckNameAvailability.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2020-12-08/examples/GetOperations.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2020-12-08/examples/ListBotsByResourceGroup.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2020-12-08/examples/ListBotsBySubscription.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2020-12-08/examples/ResourceCreationPut.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2020-12-08/examples/ResourceDeletionDelete.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2020-12-08/examples/ResourceInfoGet.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2020-12-08/examples/ResourceUpdatePatch.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2020-12-08/healthbot.json
  specification/healthbot/resource-manager/readme.az.md
  specification/healthbot/resource-manager/readme.cli.md
  specification/healthbot/resource-manager/readme.md
Labels: ARMSignedOff

#11930 Capacity RP Quota APIs for GA
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2020-10-25/examples/getComputeOneSkuUsages.json
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2020-10-25/examples/getComputeUsages.json
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2020-10-25/examples/getMachineLearningServicesUsages.json
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2020-10-25/examples/getQuotaRequestStatusById.json
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2020-10-25/examples/getQuotaRequestStatusFailed.json
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2020-10-25/examples/getQuotaRequestStatusInProgress.json
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2020-10-25/examples/getQuotaRequestsHistory.json
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2020-10-25/examples/patchComputeQuotaRequest.json
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2020-10-25/examples/putComputeOneSkuQuotaRequest.json
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2020-10-25/examples/putMachineLearningServicesQuotaRequestDedicated.json
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2020-10-25/examples/putMachineLearningServicesQuotaRequestLowPriority.json
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2020-10-25/quota.json
  specification/reservations/resource-manager/readme.azureresourceschema.md
  specification/reservations/resource-manager/readme.go.md
  specification/reservations/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python

#12080 Adding Azure-AsyncOperation header
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2020-10-01-preview/examples/CalculateExchange.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2020-10-01-preview/examples/Exchange.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2020-10-01-preview/reservations.json
Labels: CI-BreakingChange-Python

#11970 add hybridcompute track2 config
  specification/hybridcompute/resource-manager/readme.python.md
Labels: Approved-OkToMerge, CI-BreakingChange-Python

#11521 add marketplaceordering config
  specification/marketplaceordering/resource-manager/readme.md
Labels: Marketplace Ordering

#10996 [Hub Generated] Review request for Microsoft.DigitalTwins to add version stable/2020-12-01
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/digitaltwins.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/DigitalTwinsCheckNameAvailability_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/DigitalTwinsDelete_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/DigitalTwinsDelete_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/DigitalTwinsEndpointDelete_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/DigitalTwinsEndpointDelete_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/DigitalTwinsEndpointGet_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/DigitalTwinsEndpointGet_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/DigitalTwinsEndpointPut_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/DigitalTwinsEndpointPut_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/DigitalTwinsEndpointsGet_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/DigitalTwinsEndpointsGet_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/DigitalTwinsGet_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/DigitalTwinsGet_WithPrivateEndpointConnection_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/DigitalTwinsGet_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/DigitalTwinsListByResourceGroup_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/DigitalTwinsList_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/DigitalTwinsOperationsList_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/DigitalTwinsPatch_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/DigitalTwinsPatch_WithPublicNetworkAccess.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/DigitalTwinsPatch_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/DigitalTwinsPut_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/DigitalTwinsPut_WithPublicNetworkAccess.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/DigitalTwinsPut_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/PrivateEndpointConnectionByConnectionName_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/PrivateEndpointConnectionDelete_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/PrivateEndpointConnectionPut_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/PrivateEndpointConnectionsList_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/PrivateLinkResourcesByGroupId_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2020-12-01/examples/PrivateLinkResourcesList_example.json
  specification/digitaltwins/resource-manager/readme.azureresourceschema.md
  specification/digitaltwins/resource-manager/readme.go.md
  specification/digitaltwins/resource-manager/readme.java.md
  specification/digitaltwins/resource-manager/readme.md
  specification/digitaltwins/resource-manager/readme.python.md
  specification/digitaltwins/resource-manager/readme.ruby.md
Labels: ARMSignedOff

#12117 [Hub Generated] Review request for Microsoft.Advisor to add version preview/2020-07-01-preview
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2020-07-01-preview/advisor.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2020-07-01-preview/examples/GetAdvisorScoreDetail.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2020-07-01-preview/examples/ListAdvisorScore.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go

#12135 Update pull_request_assignment.yml
  .github/pull_request_assignment.yml
Labels: Approved-OkToMerge

#11976 [Hub Generated] Review request for Microsoft.BotService to add version stable/2020-06-02
  custom-words.txt
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/botservice.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/CreateBot.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/GetBot.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/GetConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/GetLineChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/ListBotsByResourceGroup.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/ListBotsBySubscription.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/ListChannelsByBotService.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/ListConnectionsByBotService.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/PutConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/PutLineChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/UpdateBot.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/UpdateConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/UpdateLineChannel.json
  specification/botservice/resource-manager/readme.md
Labels: CI-BreakingChange-Python

#11790 [Hub Generated] Review request for Microsoft.MixedReality to add version preview/2020-04-06-preview
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/examples/proxy/CheckNameAvailabilityForLocalUniqueness.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/proxy.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python

#12119 aks: add enableEncryptionAtHost in v20201201 api-version
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/AgentPoolsCreate_EnableEncryptionAtHost.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/ManagedClustersCreate_EnableEncryptionAtHost.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/managedClusters.json
Labels: WaitForARMFeedback

#12085 Add ImageFeatures to the PIR consumption APIs
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/compute.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#12140 add subscription track2 config
  specification/subscription/resource-manager/readme.python.md
Labels: Subscription

#11847 add kusto track2 config
  specification/azure-kusto/resource-manager/readme.python.md
Labels: Approved-OkToMerge, CI-BreakingChange-Python

#12099 Microsoft.AutonomousDevelopmentPlatform: Add actionType to Operation
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2020-07-01-preview/adp.json
Labels: Approved-BreakingChange

#12008 Sync set x-ms-client-name
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/compute.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#12009 Sync: Update vmssExtension to use Subresource
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateOrUpdateVirtualMachineScaleSetVMExtensions.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/GetVirtualMachineScaleSetVMExtensions.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/ListVirtualMachineScaleSetVMExtensions.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/UpdateVirtualMachineScaleSetVMExtensions.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#12010 Sync: VM and VMSS licenseType description update, allows value to be updated
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/compute.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#12012 Sync: adding throttle analytics export API two new filters
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/LogAnalyticsThrottledRequests.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#11994 Fix Swagger Correctness and Linting Issues for Microsoft.AAD/DomainServices
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2017-06-01/domainservices.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2020-01-01/domainservices.json
  specification/domainservices/resource-manager/readme.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#12153 Add back ManagedDatabaseRestoreDetails specs to v4 SDK
  specification/sql/resource-manager/readme.md
Labels: CI-BreakingChange-Go

#12041 remove AVS 2019-08-09-preview
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/Clusters_CreateOrUpdate.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/Clusters_Delete.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/Clusters_Get.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/Clusters_List.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/Clusters_Update.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/Locations_CheckQuotaAvailability.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/Locations_CheckTrialAvailability.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/Operations_List.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/PrivateClouds_CreateOrUpdate.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/PrivateClouds_Delete.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/PrivateClouds_Get.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/PrivateClouds_List.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/PrivateClouds_ListAdminCredentials.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/PrivateClouds_ListInSubscription.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/examples/PrivateClouds_Update.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2019-08-09-preview/vmware.json
  specification/vmware/resource-manager/readme.azureresourceschema.md
  specification/vmware/resource-manager/readme.go.md
  specification/vmware/resource-manager/readme.java.md
  specification/vmware/resource-manager/readme.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python

#12123 Azure Sentinel Dynamics365 data connector preview
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/dataConnectors/CheckRequirementsDynamics365.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/dataConnectors/CreateDynamics365DataConnetor.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/dataConnectors/GetDataConnectors.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/dataConnectors/GetDynamics365DataConnectorById.json
Labels: CI-BreakingChange-Go, customer-reported

#11875 Commint new examples and paths
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/entities/GetQueries.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/entities/insights/PostGetInsights.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, customer-reported

#11833 [Hub Generated] Review request for Microsoft.AlertsManagement to add version stable/2019-06-01
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-06-01/SmartDetectorAlertRulesApi.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-06-01/examples/SmartDetectorAlertRule_CreateOrUpdate.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-06-01/examples/SmartDetectorAlertRule_Get.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-06-01/examples/SmartDetectorAlertRule_List.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-06-01/examples/SmartDetectorAlertRule_ListByResourceGroup.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, NewApiVersionRequired

#12163 add custom node config for sysctls/logging
  custom-words.txt
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/AgentPoolsCreate_CustomNodeConfig.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/managedClusters.json
Labels: BreakingChangeReviewRequired, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#11900 lastUpdatedDate for templates
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/alertRuleTemplates/GetAlertRuleTemplateById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/alertRuleTemplates/GetAlertRuleTemplates.json
Labels: CI-BreakingChange-Go, customer-reported

#11823 [Hub Generated] Review request for Microsoft.AppPlatform to add version preview/2020-11-01-preview
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Apps_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Apps_Delete.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Apps_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Apps_GetResourceUploadUrl.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Apps_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Apps_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Apps_ValidateDomain.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Bindings_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Bindings_Delete.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Bindings_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Bindings_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Bindings_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Certificates_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Certificates_Delete.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Certificates_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Certificates_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/ConfigServers_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/ConfigServers_UpdatePatch.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/ConfigServers_UpdatePut.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/ConfigServers_Validate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/CustomDomains_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/CustomDomains_Delete.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/CustomDomains_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/CustomDomains_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/CustomDomains_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Deployments_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Deployments_Delete.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Deployments_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Deployments_GetLogFileUrl.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Deployments_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Deployments_ListForCluster.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Deployments_Restart.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Deployments_Start.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Deployments_Stop.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Deployments_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/MonitoringSettings_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/MonitoringSettings_UpdatePatch.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/MonitoringSettings_UpdatePut.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Operations_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/RuntimeVersions_ListRuntimeVersions.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Services_CheckNameAvailability.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Services_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Services_CreateOrUpdate_VNetInjection.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Services_Delete.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Services_DisableTestEndpoint.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Services_EnableTestEndpoint.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Services_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Services_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Services_ListBySubscription.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Services_ListTestKeys.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Services_RegenerateTestKey.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Services_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Skus_List.json
  specification/appplatform/resource-manager/readme.azureresourceschema.md
  specification/appplatform/resource-manager/readme.go.md
  specification/appplatform/resource-manager/readme.java.md
  specification/appplatform/resource-manager/readme.md
  specification/appplatform/resource-manager/readme.python.md
  specification/appplatform/resource-manager/readme.ruby.md
Labels: ARMSignedOff

#12113 [Hub Generated] Review request for Microsoft.Consumption to add version stable/2019-10-01
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/consumption.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python

#12185 [ASC.Automations] Add new data type "RegulatoryComplianceAssessment"
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/automations.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#12186 add datalake store track2 config
  specification/datalake-store/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, Data Lake Store

#12191 Extending recovery network input in replication intent API
  specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryServices/stable/2018-07-10/service.json
Labels: ARMSignedOff, customer-reported

#12141 add operationsmanagement track2 config
  specification/operationsmanagement/resource-manager/readme.python.md
Labels: Operations Management

#12210 Sync: Update runCommands.json for RunCommand resource
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateOrUpdateRunCommand.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateOrUpdateVirtualMachineScaleSetVMRunCommands.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/DeleteRunCommand.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/DeleteVirtualMachineScaleSetVMRunCommands.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/GetRunCommand.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/GetVirtualMachineScaleSetVMRunCommands.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/ListRunCommandsInVM.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/ListVirtualMachineScaleSetVMRunCommands.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/UpdateRunCommand.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/UpdateVirtualMachineScaleSetVMRunCommands.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/runCommands.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#12201 Adding new properties to response body
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2020-10-01-preview/examples/CalculateExchange.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2020-10-01-preview/examples/Exchange.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2020-10-01-preview/reservations.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python

#12064 [Hub Generated] Review request for Microsoft.ContainerService to add version stable/2020-12-01
  custom-words.txt
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/AgentPoolsCreate_CustomNodeConfig.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/AgentPoolsCreate_EnableEncryptionAtHost.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/AgentPoolsCreate_Ephemeral.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/AgentPoolsCreate_PPG.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/AgentPoolsCreate_Spot.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/AgentPoolsCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/AgentPoolsDelete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/AgentPoolsGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/AgentPoolsGetAgentPoolAvailableVersions.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/AgentPoolsGetUpgradeProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/AgentPoolsList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/AgentPoolsUpgradeNodeImageVersion.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/AgentPools_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/MaintenanceConfigurationsCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/MaintenanceConfigurationsDelete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/MaintenanceConfigurationsGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/MaintenanceConfigurationsList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/ManagedClustersCreate_EnableEncryptionAtHost.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/ManagedClustersCreate_PPG.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/ManagedClustersCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/ManagedClustersCreate_UpdateWithAHUB.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/ManagedClustersCreate_UpdateWithEnableAzureRBAC.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/ManagedClustersDelete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/ManagedClustersGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/ManagedClustersGetAccessProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/ManagedClustersGetUpgradeProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/ManagedClustersList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/ManagedClustersListByResourceGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/ManagedClustersListClusterCredentialResult.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/ManagedClustersResetAADProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/ManagedClustersResetServicePrincipalProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/ManagedClustersRotateClusterCertificates.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/ManagedClustersStart.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/ManagedClustersStop.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/ManagedClustersUpdateTags.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/PrivateEndpointConnectionsDelete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/PrivateEndpointConnectionsGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/PrivateEndpointConnectionsList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/PrivateEndpointConnectionsUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/PrivateLinkResourcesList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/examples/ResolvePrivateLinkServiceId.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/managedClusters.json
  specification/containerservice/resource-manager/readme.azureresourceschema.md
  specification/containerservice/resource-manager/readme.go.md
  specification/containerservice/resource-manager/readme.java.md
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: ARMSignedOff, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#12090 Add autorest.az configurations for azure monitor control service
  specification/monitor/resource-manager/readme.az.md
  specification/monitor/resource-manager/readme.md
  specification/monitor/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2

#12166 add logic track2 config
  specification/logic/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python

#11759 add alertsmanagement track2 config
  specification/alertsmanagement/resource-manager/readme.md
Labels: Alerts Management, CI-BreakingChange-Go

#11892 add signalr track2 config
  specification/signalr/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python, SignalR, no-recent-activity

#11498 add cognitiveservice track2 config
  specification/cognitiveservices/resource-manager/readme.python.md
Labels: Cognitive Services, Reviewed-ChangesRequired

#12183 add machinglearningservices track2 config
  specification/machinelearningservices/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python, Machine Learning

#12187 add apimanagement track2 config
  specification/apimanagement/resource-manager/readme.python.md
Labels: API Management, CI-BreakingChange-Python

#12046 add serialconsole track2 config
  specification/serialconsole/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python

#12160 Update TransparentDataEncryption Group Name
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/DatabaseSecurityAlertPolicies.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/ManagedDatabaseRestoreDetails.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/ManagedDatabases.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/TransparentDataEncryptions.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/DatabaseAutomaticTuning.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/DatabaseSecurityAlertPolicies.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/ManagedDatabaseRestoreDetails.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/ManagedDatabases.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/ServerDevOpsAudit.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/TransparentDataEncryptions.json
  specification/sql/resource-manager/readme.md
Labels: CI-BreakingChange-Go

#12216 delete duplicated part in readme.python.md
  specification/containerservice/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#12124 Required changes for Azure HealthBot swagger
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2020-12-08/examples/CheckNameAvailability.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2020-12-08/healthbot.json
  specification/healthbot/resource-manager/readme.az.md
  specification/healthbot/resource-manager/readme.csharp.md
  specification/healthbot/resource-manager/readme.go.md
  specification/healthbot/resource-manager/readme.md
  specification/healthbot/resource-manager/readme.python.md
  specification/healthbot/resource-manager/readme.typescript.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#12224 [Hub Generated] Review request for Microsoft.IoTCentral to add version stable/2018-09-01
  specification/iotcentral/resource-manager/Microsoft.IoTCentral/stable/2018-09-01/examples/Apps_Templates.json
  specification/iotcentral/resource-manager/Microsoft.IoTCentral/stable/2018-09-01/iotcentral.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python

#11585 Adding new api version to devops RP
  specification/devops/resource-manager/Microsoft.DevOps/preview/2020-07-13-preview/devops.json
  specification/devops/resource-manager/Microsoft.DevOps/preview/2020-07-13-preview/examples/CreateAzurePipeline-Sample-AspNet-WindowsWebApp.json
  specification/devops/resource-manager/Microsoft.DevOps/preview/2020-07-13-preview/examples/CreateGitHubPipeline-Sample-AspNet-WindowsWebApp.json
  specification/devops/resource-manager/Microsoft.DevOps/preview/2020-07-13-preview/examples/DeletePipeline.json
  specification/devops/resource-manager/Microsoft.DevOps/preview/2020-07-13-preview/examples/GetPipeline.json
  specification/devops/resource-manager/Microsoft.DevOps/preview/2020-07-13-preview/examples/ListOperations.json
  specification/devops/resource-manager/Microsoft.DevOps/preview/2020-07-13-preview/examples/ListPipelineTemplateDefinitions.json
  specification/devops/resource-manager/Microsoft.DevOps/preview/2020-07-13-preview/examples/ListPipelinesByResourceGroup.json
  specification/devops/resource-manager/Microsoft.DevOps/preview/2020-07-13-preview/examples/ListPipelinesBySubscription.json
  specification/devops/resource-manager/Microsoft.DevOps/preview/2020-07-13-preview/examples/UpdateAzurePipeline.json
  specification/devops/resource-manager/readme.azureresourceschema.md
  specification/devops/resource-manager/readme.go.md
  specification/devops/resource-manager/readme.md
  specification/devops/resource-manager/readme.python.md
  specification/devops/resource-manager/readme.ruby.md
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired

#12177 Remove swagger and examples because the controller will be used for private preview.
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/HybridLinks.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/HybridLinkCreate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/HybridLinkDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/HybridLinkGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/HybridLinkListByInstance.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/HybridLinkUpdate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/HybridLinks.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/HybridLinkCreate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/HybridLinkDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/HybridLinkGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/HybridLinkListByInstance.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/HybridLinkUpdate.json
  specification/sql/resource-manager/readme.md
Labels: CI-BreakingChange-Go, customer-reported

#11407 [Hub Generated] Review request for Microsoft.StorageCache to add version stable/2020-10-01
  custom-words.txt
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-10-01/examples/AscOperations_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-10-01/examples/Caches_CreateOrUpdate.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-10-01/examples/Caches_CreateOrUpdate_ldap_only.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-10-01/examples/Caches_DebugInfo.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-10-01/examples/Caches_Delete.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-10-01/examples/Caches_Flush.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-10-01/examples/Caches_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-10-01/examples/Caches_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-10-01/examples/Caches_ListByResourceGroup.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-10-01/examples/Caches_Start.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-10-01/examples/Caches_Stop.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-10-01/examples/Caches_Update.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-10-01/examples/Caches_Update_ldap_only.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-10-01/examples/Caches_UpgradeFirmware.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-10-01/examples/Operations_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-10-01/examples/Skus_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-10-01/examples/StorageTargets_CreateOrUpdate.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-10-01/examples/StorageTargets_CreateOrUpdate_NoJunctions.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-10-01/examples/StorageTargets_Delete.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-10-01/examples/StorageTargets_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-10-01/examples/StorageTargets_ListByCache.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-10-01/examples/UsageModels_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-10-01/storagecache.json
  specification/storagecache/resource-manager/readme.azureresourceschema.md
  specification/storagecache/resource-manager/readme.go.md
  specification/storagecache/resource-manager/readme.java.md
  specification/storagecache/resource-manager/readme.md
  specification/storagecache/resource-manager/readme.ruby.md
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python

#12162 Swagger Linting Fix
  specification/powerbidedicated/resource-manager/Microsoft.PowerBIdedicated/stable/2017-10-01/examples/createCapacity.json
  specification/powerbidedicated/resource-manager/Microsoft.PowerBIdedicated/stable/2017-10-01/powerbidedicated.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, CI-FixRequiredOnFailure

#12032 [SQL][V20180601] Updating LocationCapabilities spec
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/LocationCapabilities.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/LocationCapabilityListByLocation.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/LocationCapabilities.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/LocationCapabilityListByLocation.json
  specification/sql/resource-manager/readme.md
Labels: CI-BreakingChange-Go

#12225 [Fix] GetIkeSas returns result as string
  custom-words.txt
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/examples/VirtualNetworkGatewayConnectionGetIkeSas.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/virtualNetworkGateway.json
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#12245 update rdbms track2 config
  specification/mariadb/resource-manager/readme.md
  specification/mysql/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python

#12081 [Microsoft.GraphRbac] Add and Remove Owner for Service Principal
  specification/graphrbac/data-plane/Microsoft.GraphRbac/stable/1.6/graphrbac.json
Labels: CI-BreakingChange-Python

#12145 Location based routing for VMSS (newest API version)
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/ListVirtualMachineScaleSetsInASubscriptionByLocation.json
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#11810 [Hub Generated] Review request for Microsoft.MixedReality to add version stable/2020-05-01
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2020-05-01/examples/proxy/CheckNameAvailabilityForLocalUniqueness.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2020-05-01/proxy.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2020-05-01/spatial-anchors.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python

#11769 [Hub Generated] Review request for Microsoft.MixedReality to add version preview/2019-12-02-preview
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/examples/proxy/CheckNameAvailabilityForLocalUniqueness.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/proxy.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/remote-rendering.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/spatial-anchors.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python
