Repository Azure/azure-rest-api-specs, pull requests merged in 2020-03, with the labels that each got.

#8483 Added reference on flowLogs to NetworkSecurityGroup
  specification/network/resource-manager/Microsoft.Network/stable/2019-12-01/networkSecurityGroup.json
Labels: ARMSignedOff

#8480 Adding nested "properties":{ "properties": { for ARM template.
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-07-19/examples/getBatchAIUsages.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-07-19/examples/getComputeOneSkuUsages.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-07-19/examples/getComputeUsages.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-07-19/examples/getMsSqlUsages.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-07-19/examples/patchComputeQuotaRequest.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-07-19/examples/putComputeOneSkuQuotaRequest.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-07-19/quota.json
Labels: ARMSignedOff

#7920 [Hub Generated] Review request for Microsoft.Insights to add version stable/2018-03-01
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-03-01/examples/createOrUpdateWebTestMetricAlert.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-03-01/examples/getWebTestMetricAlert.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-03-01/metricAlert_API.json
Labels: ARMSignedOff

#8395 [IoTCentral] change error details definition
  specification/iotcentral/resource-manager/Microsoft.IoTCentral/stable/2018-09-01/iotcentral.json
Labels: ARMSignedOff

#8539 [DeploymentScripts] Add tail query string
  specification/resources/resource-manager/Microsoft.Resources/preview/2019-10-01-preview/deploymentScripts.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2019-10-01-preview/examples/DeploymentScripts_GetLogsDefaultWithTail.json
Labels: ARMSignedOff

#8238 Adding Expand to Bookmark
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/bookmarks/expand/PostExpandBookmark.json
Labels: ARMSignedOff

#8568 Supporting linked storage accounts new api for operationalinsights.
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/OperationalInsights.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/examples/LinkedStorageAccountsCreate.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/examples/LinkedStorageAccountsDelete.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/examples/LinkedStorageAccountsGet.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/examples/LinkedStorageAccountsListByWorkspace.json
Labels: ARMSignedOff

#8464 Restrict Azure Firewall name length to 1-56 characters
  specification/network/resource-manager/Microsoft.Network/stable/2019-12-01/azureFirewall.json
Labels: ARMSignedOff

#8382 [FrontDoor WAF] Add RuleSetId to Managed Rule Set Definitions API
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-03-01/examples/WafListManagedRuleSets.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-03-01/webapplicationfirewall.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-10-01/examples/WafListManagedRuleSets.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-10-01/webapplicationfirewall.json
Labels: ARMSignedOff

#8456 Update spec to match existing provider API
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/resources.json
Labels: ARMSignedOff

#8537 [Hub Generated] Review request for Microsoft.Consumption to add version stable/2019-10-01
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/examples/ReservationSummariesDailyWithBillingProfileId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/examples/ReservationTransactionsListByBillingAccountId.json
Labels: ARMSignedOff, Approved-OkToMerge

#8316 Update swapper for 1: new agentpool rp 2. new api GetDetails in taskrun
  custom-words.txt
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/containerregistry_build.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/AgentPoolsCreate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/AgentPoolsDelete.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/AgentPoolsGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/AgentPoolsGetQueueStatus.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/AgentPoolsList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/AgentPoolsUpdate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/examples/TaskRunsGetDetails.json
Labels: ARMSignedOff

#8408 Remove $filter for VirtualMachineImages_List operation
  specification/compute/resource-manager/Microsoft.Compute/preview/2016-04-30-preview/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2015-06-15/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2016-03-30/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2017-03-30/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2017-12-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-04-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-06-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2018-10-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/compute.json
Labels: ARMSignedOff

#8536 [Hub Generated] Review request for Microsoft.Batch to add version stable/2020-03-01
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/BatchManagement.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/ApplicationCreate.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/ApplicationDelete.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/ApplicationGet.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/ApplicationList.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/ApplicationPackageActivate.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/ApplicationPackageCreate.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/ApplicationPackageDelete.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/ApplicationPackageGet.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/ApplicationPackageList.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/ApplicationUpdate.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/BatchAccountCreate_BYOS.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/BatchAccountCreate_Default.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/BatchAccountCreate_Private.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/BatchAccountDelete.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/BatchAccountGet.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/BatchAccountGetKeys.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/BatchAccountList.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/BatchAccountListByResourceGroup.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/BatchAccountRegenerateKey.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/BatchAccountSynchronizeAutoStorageKeys.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/BatchAccountUpdate.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/CertificateCancelDeletion.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/CertificateCreate_Full.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/CertificateCreate_Minimal.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/CertificateCreate_MinimalCer.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/CertificateDelete.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/CertificateGet.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/CertificateGetWithDeletionError.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/CertificateList.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/CertificateListWithFilter.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/CertificateUpdate.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/LocationCheckNameAvailability_AlreadyExists.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/LocationCheckNameAvailability_Available.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/LocationGetQuotas.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/PoolCreate_CustomImage.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/PoolCreate_FullExample.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/PoolCreate_MinimalCloudServiceConfiguration.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/PoolCreate_MinimalVirtualMachineConfiguration.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/PoolCreate_NoPublicIPAddresses.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/PoolCreate_PublicIPs.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/PoolCreate_VirtualMachineConfiguration.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/PoolDelete.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/PoolDisableAutoScale.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/PoolGet.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/PoolList.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/PoolListWithFilter.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/PoolStopResize.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/PoolUpdate_EnableAutoScale.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/PoolUpdate_OtherProperties.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/PoolUpdate_RemoveStartTask.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/PoolUpdate_ResizePool.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/PrivateEndpointConnectionGet.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/PrivateEndpointConnectionUpdate.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/PrivateEndpointConnectionsList.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/PrivateLinkResourceGet.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2020-03-01/examples/PrivateLinkResourcesList.json
  specification/batch/resource-manager/readme.go.md
  specification/batch/resource-manager/readme.md
Labels: ARMSignedOff

#8393 ApiManagement - revert required property in openidconnectprovider
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/apimopenidconnectproviders.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/definitions.json
Labels: API Management, ARMSignedOff

#8443 Adding new API version for Management Groups RP
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-02-01/examples/AddManagementGroupSubscription.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-02-01/examples/CheckManagementGroupNameAvailability.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-02-01/examples/DeleteHierarchySettings.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-02-01/examples/DeleteManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-02-01/examples/GetDescendants.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-02-01/examples/GetEntities.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-02-01/examples/GetHierarchySettings.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-02-01/examples/GetManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-02-01/examples/GetManagementGroupWithExpand.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-02-01/examples/GetManagementGroupWithExpandAndRecurse.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-02-01/examples/ListHierarchySettings.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-02-01/examples/ListManagementGroups.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-02-01/examples/PatchHierarchySettings.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-02-01/examples/PatchManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-02-01/examples/PutHierarchySettings.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-02-01/examples/PutManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-02-01/examples/RemoveManagementGroupSubscription.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-02-01/examples/StartTenantBackfillRequest.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-02-01/examples/TenantBackfillStatusRequest.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-02-01/management.json
  specification/managementgroups/resource-manager/readme.go.md
  specification/managementgroups/resource-manager/readme.md
Labels: ARMSignedOff

#8532 Minor description updates and added DeliveryRuleAction for origingrou…
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2019-12-31/cdn.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2019-12-31/examples/Origins_Create.json
Labels: ARMSignedOff

#8600 Update 2020-04-01-preview swagger and add additional example files
  custom-words.txt
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/EventGrid.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/Domains_CreateOrUpdate.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/Domains_Update.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/EventChannels_CreateOrUpdate.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/EventChannels_Delete.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/EventChannels_Get.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/EventChannels_ListByPartnerNamespace.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/ExtensionTopics_Get.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerNamespaces_CreateOrUpdate.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerNamespaces_Delete.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerNamespaces_Get.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerNamespaces_ListByResourceGroup.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerNamespaces_ListBySubscription.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerNamespaces_ListSharedAccessKeys.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerNamespaces_RegenerateKey.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerNamespaces_Update.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerRegistrations_CreateOrUpdate.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerRegistrations_Delete.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerRegistrations_Get.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerRegistrations_List.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerRegistrations_ListByResourceGroup.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerRegistrations_ListBySubscription.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerRegistrations_Update.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerTopicEventSubscriptions_CreateOrUpdate.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerTopicEventSubscriptions_Delete.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerTopicEventSubscriptions_Get.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerTopicEventSubscriptions_GetFullUrl.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerTopicEventSubscriptions_ListByPartnerTopic.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerTopicEventSubscriptions_Update.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerTopics_Activate.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerTopics_Deactivate.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerTopics_Delete.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerTopics_Get.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerTopics_ListByResourceGroup.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerTopics_ListBySubscription.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerTopics_Update.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PrivateEndpointConnections_Delete.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PrivateEndpointConnections_Get.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PrivateEndpointConnections_ListByResource.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PrivateEndpointConnections_Update.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PrivateLinkResources_Get.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PrivateLinkResources_ListByResource.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/SystemTopicEventSubscriptions_CreateOrUpdate.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/SystemTopicEventSubscriptions_Delete.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/SystemTopicEventSubscriptions_Get.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/SystemTopicEventSubscriptions_GetFullUrl.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/SystemTopicEventSubscriptions_ListBySystemTopic.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/SystemTopicEventSubscriptions_Update.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/SystemTopics_CreateOrUpdate.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/SystemTopics_Delete.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/SystemTopics_Get.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/SystemTopics_ListByResourceGroup.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/SystemTopics_ListBySubscription.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/SystemTopics_Update.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/Topics_CreateOrUpdate.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/Topics_Update.json
Labels: ARMSignedOff

#8513 [Cognitive Services] Support Identity, Encryption, UserOwnedStorage
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2017-04-18/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2017-04-18/examples/CreateAccount.json
Labels: ARMSignedOff

#8534 add agentpool mode property
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-03-01/examples/AgentPoolsCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-03-01/examples/ManagedClustersCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-03-01/managedClusters.json
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: ARMSignedOff

#8450 API update for new AI component sub resource - linked storage accounts
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-03-01-preview/componentLinkedStorageAccounts_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-03-01-preview/examples/ComponentLinkedStorageAccountsCreateAndUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-03-01-preview/examples/ComponentLinkedStorageAccountsDelete.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-03-01-preview/examples/ComponentLinkedStorageAccountsGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-03-01-preview/examples/ComponentLinkedStorageAccountsUpdate.json
  specification/applicationinsights/resource-manager/readme.md
Labels: ARMSignedOff

#8618 Add ApiVersion Microsoft.StorageSync 2019-10-01
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/CloudEndpoints_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/CloudEndpoints_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/CloudEndpoints_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/CloudEndpoints_ListBySyncGroup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/CloudEndpoints_PostBackup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/CloudEndpoints_PostRestore.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/CloudEndpoints_PreBackup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/CloudEndpoints_PreRestore.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/CloudEndpoints_RestoreHeatbeat.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/CloudEndpoints_TriggerChangeDetection.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/OperationStatus_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/Operations_List.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/RegisteredServers_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/RegisteredServers_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/RegisteredServers_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/RegisteredServers_ListByStorageSyncService.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/RegisteredServers_TriggerRollover.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/ServerEndpoints_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/ServerEndpoints_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/ServerEndpoints_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/ServerEndpoints_ListBySyncGroup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/ServerEndpoints_Recall.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/ServerEndpoints_Update.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/StorageSyncServiceCheckNameAvailability_AlreadyExists.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/StorageSyncServiceCheckNameAvailability_Available.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/StorageSyncServices_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/StorageSyncServices_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/StorageSyncServices_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/StorageSyncServices_ListByResourceGroup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/StorageSyncServices_ListBySubscription.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/StorageSyncServices_Update.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/SyncGroups_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/SyncGroups_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/SyncGroups_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/SyncGroups_ListByStorageSyncService.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/Workflows_Abort.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/Workflows_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/examples/Workflows_ListByStorageSyncService.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-10-01/storagesync.json
  specification/storagesync/resource-manager/readme.go.md
  specification/storagesync/resource-manager/readme.md
Labels: WaitForARMFeedback

#8615 Add RunStatusChanged EventGrid event schema published by Azure Machi…
  specification/eventgrid/data-plane/Microsoft.MachineLearningServices/stable/2018-01-01/MachineLearningServices.json
Labels: potential-sdk-breaking-change

#8390 CMK support for VMware migration and addition of few properties for VMware DR monitoring
  specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryServices/stable/2018-01-10/examples/ReplicationMigrationItems_Create.json
  specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryServices/stable/2018-01-10/examples/ReplicationMigrationItems_Resync.json
  specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryServices/stable/2018-01-10/service.json
  specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryServices/stable/2018-07-10/examples/ReplicationMigrationItems_Create.json
  specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryServices/stable/2018-07-10/examples/TargetComputeSizes_ListByReplicationProtectedItems.json
  specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryServices/stable/2018-07-10/service.json
Labels: ARMSignedOff

#8497 Virtual Network Gateway new Properties in BgpSettings
  specification/network/resource-manager/Microsoft.Network/stable/2019-12-01/examples/VirtualNetworkGatewayGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-12-01/examples/VirtualNetworkGatewayReset.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-12-01/examples/VirtualNetworkGatewayUpdate.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-12-01/examples/VirtualNetworkGatewayUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-12-01/virtualNetworkGateway.json
Labels: ARMSignedOff

#8477 FirewallPolicy with IpGroups
  specification/network/resource-manager/Microsoft.Network/stable/2019-12-01/examples/FirewallPolicyRuleGroupWithIpGroupsGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-12-01/examples/FirewallPolicyRuleGroupWithIpGroupsList.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-12-01/examples/FirewallPolicyRuleGroupWithIpGroupsPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-12-01/firewallPolicy.json
Labels: ARMSignedOff

#8609 [CosmosDB] Renaming all references to autopilot
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-12-12/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-03-01/cosmos-db.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#8571 add extra autoscaler flag support
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-03-01/managedClusters.json
Labels: WaitForARMFeedback

#8529 [Hub Generated] Review request for Microsoft.Advisor to add version stable/2020-01-01
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2020-01-01/advisor.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2020-01-01/examples/GetRecommendationDetail.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2020-01-01/examples/ListRecommendations.json
Labels: ARMSignedOff

#8670 FQDN support for LocalNetworkGateway and VpnSiteLinks
  specification/network/resource-manager/Microsoft.Network/stable/2019-12-01/examples/LocalNetworkGatewayCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-12-01/examples/VpnSitePut.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-12-01/virtualNetworkGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-12-01/virtualWan.json
Labels: ARMSignedOff

#8567 Added classification BenignPositive to incident's classification
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
Labels: ARMSignedOff

#8608 [READY FOR REVIEW] Azure ML API new version 2020-03-01 with private link properties
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/ListSkus.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/ListUsages.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/ListVMSizesResult.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/ListWorkspaceFeatures.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/ListWorkspaceQuotasByVMFamily.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/amlComputeListNodes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/createBasicAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/createBasicAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/createBasicDataFactoryCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/createWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/deleteCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/deleteWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/getAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/getAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/getComputes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/getWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/getWorkspacesByResourceGroup.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/getWorkspacesBySubscription.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/listKeysAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/listWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/patchAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/resyncWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/updateAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/updateAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/updateQuota.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/updateWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/workspaceDeletePrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/workspaceGetPrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/workspaceListPrivateLinkResources.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/examples/workspacePutPrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-03-01/machineLearningServices.json
  specification/machinelearningservices/resource-manager/readme.go.md
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff, Approved-OkToMerge

#8471 Azure SIte Recovery - Adding support for renaming target nics in A2A replicated items
  specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryServices/stable/2018-07-10/service.json
Labels: ARMSignedOff

#8551 Microsoft.Support RP: Swagger and examples for stable version
  custom-words.txt
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/CheckNameAvailabilityForSupportTicketCommunication.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/CheckNameAvailabilityWithSubscription.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/CreateBatchQuotaTicketForSpecificBatchAccountForActiveJobs.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/CreateBatchQuotaTicketForSpecificBatchAccountForDedicatedCores.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/CreateBatchQuotaTicketForSpecificBatchAccountForLowPriorityCores.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/CreateBatchQuotaTicketForSpecificBatchAccountForPools.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/CreateBatchQuotaTicketForSubscription.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/CreateBillingSupportTicketForSubscription.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/CreateCoresQuotaTicketForSubscription.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/CreateGenericQuotaTicket.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/CreateMachineLearningQuotaTicketForDedicatedCores.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/CreateMachineLearningQuotaTicketForLowPriorityCores.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/CreateSqlDatabaseQuotaTicketForDTUs.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/CreateSqlDatabaseQuotaTicketForServers.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/CreateSqlDatawarehouseQuotaTicketForDTUs.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/CreateSqlDatawarehouseQuotaTicketForServers.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/CreateSubMgmtSupportTicketForSubscription.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/CreateSupportTicketCommunication.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/CreateTechnicalSupportTicketForSubscription.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/GetCommunicationDetailsForSubscriptionSupportTicket.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/GetProblemClassification.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/GetService.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/GetSubscriptionSupportTicketDetails.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/ListCommunicationsForSubscriptionSupportTicket.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/ListOperations.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/ListProblemClassifications.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/ListServices.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/ListSupportTicketsBySubscription.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/ListSupportTicketsCreatedOnOrAfterAndInOpenStateBySubscription.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/ListSupportTicketsInOpenStateBySubscription.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/ListWebCommunicationsForSubscriptionSupportTicket.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/ListWebCommunicationsForSubscriptionSupportTicketCreatedOnOrAfter.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/UpdateContactDetailsOfSupportTicketForSubscription.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/UpdateSeverityOfSupportTicketForSubscription.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/UpdateStatusOfSupportTicketForSubscription.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/support.json
  specification/support/resource-manager/readme.go.md
  specification/support/resource-manager/readme.java.md
  specification/support/resource-manager/readme.md
  specification/support/resource-manager/readme.ruby.md
Labels: ARMSignedOff

#8040 Add a new kusto version with changes
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoAttachedDatabaseConfigurationsCreateOrUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoAttachedDatabaseConfigurationsDelete.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoAttachedDatabaseConfigurationsGet.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoAttachedDatabaseConfigurationsListByCluster.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoClusterAddLanguageExtensions.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoClusterDetachFollowerDatabases.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoClusterListFollowerDatabases.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoClusterListLanguageExtensions.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoClusterPrincipalAssignmentsCheckNameAvailability.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoClusterPrincipalAssignmentsCreateOrUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoClusterPrincipalAssignmentsDelete.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoClusterPrincipalAssignmentsGet.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoClusterPrincipalAssignmentsList.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoClusterRemoveLanguageExtensions.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoClustersCheckNameAvailability.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoClustersCreateOrUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoClustersDelete.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoClustersDiagnoseVirtualNetwork.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoClustersGet.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoClustersList.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoClustersListByResourceGroup.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoClustersListResourceSkus.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoClustersListSkus.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoClustersStart.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoClustersStop.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoClustersUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoDataConnectionValidation.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoDataConnectionsCheckNameAvailability.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoDataConnectionsCreateOrUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoDataConnectionsDelete.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoDataConnectionsGet.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoDataConnectionsListByDatabase.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoDataConnectionsUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoDatabaseAddPrincipals.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoDatabaseListPrincipals.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoDatabasePrincipalAssignmentsCheckNameAvailability.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoDatabasePrincipalAssignmentsCreateOrUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoDatabasePrincipalAssignmentsDelete.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoDatabasePrincipalAssignmentsGet.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoDatabasePrincipalAssignmentsList.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoDatabaseRemovePrincipals.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoDatabasesCheckNameAvailability.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoDatabasesCreateOrUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoDatabasesDelete.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoDatabasesGet.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoDatabasesListByCluster.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoDatabasesUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/examples/KustoOperationsList.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/kusto.json
  specification/azure-kusto/resource-manager/readme.go.md
  specification/azure-kusto/resource-manager/readme.md
Labels: ARMSignedOff, DoNotMerge

#8705 OSSRDBMS swagger minor fixes
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2017-12-01/mysql.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2017-12-01/postgresql.json
Labels: Approved-OkToMerge

#8671 Better representation for userassignedidentity
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/apimdeployment.json
Labels: API Management, ARMSignedOff

#8194 Add DisplayNamesExcludeFilter
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
Labels: ARMSignedOff

#8580 Onboarding adaptiveNetworkHardenings, topologies and allowedConnections to a new stable API version - 2020-01-01
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/adaptiveNetworkHardenings.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/allowedConnections.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/AdaptiveNetworkHardenings/EnforceAdaptiveNetworkHardeningRules_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/AdaptiveNetworkHardenings/GetAdaptiveNetworkHardening_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/AdaptiveNetworkHardenings/ListByExtendedResourceAdaptiveNetworkHardenings_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/AllowedConnections/GetAllowedConnectionsSubscriptionLocation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/AllowedConnections/GetAllowedConnectionsSubscription_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/AllowedConnections/GetAllowedConnections_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/Topology/GetTopologySubscriptionLocation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/Topology/GetTopologySubscription_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/Topology/GetTopology_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/topologies.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff

#8332 add apptype support in usercreate contract
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/definitions.json
Labels: API Management, ARMSignedOff

#8684 PolicyInsights: Add policy version columns
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-10-01/examples/PolicyStates_QueryManagementGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-10-01/examples/PolicyStates_QueryNestedResourceScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-10-01/examples/PolicyStates_QueryResourceGroupLevelPolicyAssignmentScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-10-01/examples/PolicyStates_QueryResourceGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-10-01/examples/PolicyStates_QueryResourceScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-10-01/examples/PolicyStates_QueryResourceScopeExpandPolicyEvaluationDetails.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-10-01/examples/PolicyStates_QuerySubscriptionLevelNestedResourceScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-10-01/examples/PolicyStates_QuerySubscriptionLevelPolicyAssignmentScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-10-01/examples/PolicyStates_QuerySubscriptionLevelPolicyDefinitionScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-10-01/examples/PolicyStates_QuerySubscriptionLevelPolicySetDefinitionScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-10-01/examples/PolicyStates_QuerySubscriptionLevelResourceScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-10-01/examples/PolicyStates_QuerySubscriptionScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-10-01/policyStates.json
Labels: ARMSignedOff

#8617 [DataFactory]Add Snowflake LinkedService/Source/Sink/Dataset
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff

#8586 [DataFactory]Server is not always required for SAP HANA
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
Labels: ARMSignedOff

#7886 Adding notebook workspaces API to Cosmos Swagger
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBNotebookWorkspaceCreate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBNotebookWorkspaceDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBNotebookWorkspaceGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBNotebookWorkspaceList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBNotebookWorkspaceListConnectionInfo.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBNotebookWorkspaceRegenerateAuthToken.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBNotebookWorkspaceStart.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/notebook.json
  specification/cosmos-db/resource-manager/readme.md
Labels: ARMSignedOff

#8663 Add sshPublicKey resource
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/CreateAnSshPublicKey.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/GenerateSshKeyPair.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/GetAnSshPublicKey.json
Labels: WaitForARMFeedback

#8592 [Hub Generated] Review request for Microsoft.Web to add version stable/2019-08-01
  custom-words.txt
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/CommonDefinitions.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/StaticSites.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/CreateOrUpdateStaticSite.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/CreateOrUpdateStaticSiteBuildFunctionAppSettings.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/CreateOrUpdateStaticSiteCustomDomain.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/CreateOrUpdateStaticSiteFunctionAppSettings.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/CreateUserRolesInvitationLink.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/DeleteStaticSite.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/DeleteStaticSiteBuild.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/DeleteStaticSiteCustomDomain.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/DeleteStaticSiteUser.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/DetachStaticSite.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/GetAllStaticSites.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/GetStaticSite.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/GetStaticSiteBuild.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/GetStaticSiteBuilds.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/GetStaticSiteCustomDomains.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/GetStaticSites.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/ListStaticSiteBuildFunctionAppSettings.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/ListStaticSiteBuildFunctions.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/ListStaticSiteFunctionAppSettings.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/ListStaticSiteFunctions.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/ListStaticSiteSecrets.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/ListStaticSiteUsers.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/PatchStaticSite.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/ResetStaticSiteApiKey.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/UpdateStaticSiteUser.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/ValidateStaticSiteCustomDomain.json
  specification/web/resource-manager/readme.md
Labels: ARMSignedOff

#8282 [Microsoft.ApiManagement][2019-12-01-preview] Gateway resources
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/apimanagement.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/apimgateways.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementCreateGateway.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementCreateGatewayApi.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementCreateGatewayHostnameConfiguration.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementDeleteGateway.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementDeleteGatewayApi.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementDeleteGatewayHostnameConfiguration.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementGatewayGenerateToken.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementGatewayListKeys.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementGatewayRegenerateKey.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementGetGateway.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementGetGatewayHostnameConfiguration.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementHeadGateway.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementHeadGatewayApi.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementHeadGatewayHostnameConfiguration.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementListGatewayApis.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementListGatewayHostnameConfigurations.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementListGateways.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementUpdateGateway.json
  specification/apimanagement/resource-manager/readme.md
Labels: API Management, ARMSignedOff

#8709 Adding PublicNetworkAccess, InfrastructureEncryption, ResourceIdentity as Server Create/Update property for PostgreSQL/MySQL/MariaDB
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/stable/2018-06-01/mariadb.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2017-12-01/mysql.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2017-12-01/postgresql.json
Labels: ARMSignedOff

#8585 [Storage CMK Key Vault Key Auto Rotation] Add read-only properties for current versioned key in use and last rotation timestamp.
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/StorageAccountEnableCMK.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/StorageAccountGetPropertiesCMKEnabled.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/StorageAccountList.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json
Labels: ARMSignedOff

#7402 [Computer Vision] Create CV API v3.0-preview
  specification/cognitiveservices/data-plane/ComputerVision/preview/v3.0-preview/Ocr.json
  specification/cognitiveservices/data-plane/ComputerVision/preview/v3.0-preview/examples/SuccessfulGetReadResult.json
  specification/cognitiveservices/data-plane/ComputerVision/preview/v3.0-preview/examples/SuccessfulReadWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/preview/v3.0-preview/examples/SuccessfulReadWithUrl.json
  specification/cognitiveservices/data-plane/ComputerVision/readme.go.md
  specification/cognitiveservices/data-plane/ComputerVision/readme.md
Labels: DoNotMerge

#8369 PrivateLinkResources for Microsoft.Automation
  specification/automation/resource-manager/Microsoft.Automation/preview/2020-01-13-preview/examples/PrivateEndpointConnectionDelete.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2020-01-13-preview/examples/PrivateEndpointConnectionGet.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2020-01-13-preview/examples/PrivateEndpointConnectionListGet.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2020-01-13-preview/examples/PrivateEndpointConnectionUpdate.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2020-01-13-preview/examples/PrivateLinkResourceGet.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2020-01-13-preview/examples/PrivateLinkResourceListGet.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2020-01-13-preview/privateEndpointConnection.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2020-01-13-preview/privateLinkResources.json
  specification/automation/resource-manager/readme.md
Labels: ARMSignedOff

#8760 Model enums that may change in the future as strings
  specification/search/data-plane/Microsoft.Azure.Search.Service/preview/2019-05-06-preview/searchservice.json
Labels: Search

#8596 Update Kafka REST proxy consumer API response in swagger spec
  specification/hdinsight/hdinsight-kafka-rest-proxy/proxy.json
Labels: ARMSignedOff

#8783 Fix missing type in netapp, update on PR 8170 - ANF-4290ClarifyMsftChangeToANFSwagger
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-11-01/netapp.json
Labels: ARMSignedOff

#8689 Support SSIS package store
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/IntegrationRuntime.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff

#8587 Added Swagger for some New API related to Private Endpoint work
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/PrivateEndpointConnection/DeletePrivateEndpointConnection.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/PrivateEndpointConnection/GetPrivateEndpointConnection.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/PrivateEndpointConnection/GetPrivateEndpointConnectionOperationStatus.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/PrivateEndpointConnection/PutPrivateEndpointConnection.json
  specification/recoveryservicesbackup/resource-manager/readme.md
Labels: ARMSignedOff

#8788 Add unregister feature api in Microsoft.Features swagger spec
  specification/resources/resource-manager/Microsoft.Features/stable/2015-12-01/examples/unregisterFeature.json
  specification/resources/resource-manager/Microsoft.Features/stable/2015-12-01/features.json
Labels: ARMSignedOff

#8721 Adding SecurityPartnerProvider Resource
  specification/network/resource-manager/Microsoft.Network/stable/2020-03-01/examples/SecurityPartnerProviderDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-03-01/examples/SecurityPartnerProviderGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-03-01/examples/SecurityPartnerProviderListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-03-01/examples/SecurityPartnerProviderListBySubscription.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-03-01/examples/SecurityPartnerProviderPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-03-01/examples/SecurityPartnerProviderUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-03-01/securityPartnerProvider.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-03-01/virtualWan.json
  specification/network/resource-manager/readme.md
Labels: ARMSignedOff

#8528 Donaliu/20200207 sap monitor
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2020-02-07-preview/examples/ProviderInstances_Create.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2020-02-07-preview/examples/ProviderInstances_Delete.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2020-02-07-preview/examples/ProviderInstances_Get.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2020-02-07-preview/examples/ProviderInstances_List.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2020-02-07-preview/examples/SapMonitors_Create.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2020-02-07-preview/examples/SapMonitors_Delete.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2020-02-07-preview/examples/SapMonitors_Get.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2020-02-07-preview/examples/SapMonitors_List.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2020-02-07-preview/examples/SapMonitors_PatchTags.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2020-02-07-preview/examples/SapMonitors_PatchTags_Delete.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2020-02-07-preview/hanaonazure.json
  specification/hanaonazure/resource-manager/readme.md
Labels: Approved-OkToMerge

#8452 [NEED ARM SIGN-OFF] Adding new API version for ComputeInstance preview
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/ListSkus.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/ListUsages.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/ListVMSizesResult.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/ListWorkspaceFeatures.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/ListWorkspaceQuotasByVMFamily.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/amlComputeListNodes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/createBasicAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/createBasicAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/createBasicDataFactoryCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/createComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/createComputeInstanceMinimal.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/createWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/deleteCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/deleteWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/getAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/getAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/getComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/getComputes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/getWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/getWorkspacesByResourceGroup.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/getWorkspacesBySubscription.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/listKeysAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/listWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/patchAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/restartComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/resyncWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/startComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/stopComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/updateAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/updateAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/updateQuota.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/updateWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/workspaceDeletePrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/workspaceGetPrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/workspaceListPrivateLinkResources.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/examples/workspacePutPrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-02-18-preview/machineLearningServices.json
  specification/machinelearningservices/resource-manager/readme.go.md
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff

#8748 AzureFirewall User Tags Update
  specification/network/resource-manager/Microsoft.Network/stable/2020-03-01/azureFirewall.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-03-01/examples/AzureFirewallUpdateTags.json
Labels: ARMSignedOff

#8723 [Hub Generated] Review request for Microsoft.VirtualMachineImages to add version stable/2020-02-14
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/CancelImageBuild.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/CreateImageTemplateLinux.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/CreateImageTemplateWindows.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/CreateImageTemplateWithUserAssignedIdentity.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/DeleteImageTemplate.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/GetImageTemplate.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/GetRunOutput.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/ListImageTemplates.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/ListImageTemplatesByRg.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/ListRunOutputs.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/RunImageTemplate.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/UpdateImageTemplateTags.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/UpdateImageTemplateToRemoveIdentities.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/imagebuilder.json
  specification/imagebuilder/resource-manager/readme.md
Labels: ARMSignedOff

#8806 Change AI linked storage data source type to enum
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-03-01-preview/componentLinkedStorageAccounts_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-03-01-preview/examples/ComponentLinkedStorageAccountsCreateAndUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-03-01-preview/examples/ComponentLinkedStorageAccountsDelete.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-03-01-preview/examples/ComponentLinkedStorageAccountsGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-03-01-preview/examples/ComponentLinkedStorageAccountsUpdate.json
Labels: ARMSignedOff, Approved-BreakingChange

#8771 [DeploymentScripts] Inclusion of ContainerGroupName
  specification/resources/resource-manager/Microsoft.Resources/preview/2019-10-01-preview/deploymentScripts.json
Labels: ARMSignedOff

#8595 Add support for default encryption scope & block encryption scope override for blob container APIs.
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/examples/BlobContainersPutDefaultEncryptionScope.json
Labels: ARM-overdue, ARMSignedOff, Approved-BreakingChange

#8700 Add support for ip filter rules in DPS
  custom-words.txt
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-01-01/examples/DPSCertificateCreateOrUpdate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-01-01/examples/DPSCheckNameAvailability.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-01-01/examples/DPSCreate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-01-01/examples/DPSDelete.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-01-01/examples/DPSDeleteCertificate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-01-01/examples/DPSGenerateVerificationCode.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-01-01/examples/DPSGet.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-01-01/examples/DPSGetCertificate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-01-01/examples/DPSGetCertificates.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-01-01/examples/DPSGetKey.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-01-01/examples/DPSGetOperationResult.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-01-01/examples/DPSGetValidSku.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-01-01/examples/DPSListByResourceGroup.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-01-01/examples/DPSListBySubscription.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-01-01/examples/DPSListKeys.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-01-01/examples/DPSOperations.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-01-01/examples/DPSPatch.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-01-01/examples/DPSVerifyCertificate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-01-01/iotdps.json
  specification/deviceprovisioningservices/resource-manager/readme.md
Labels: ARMSignedOff

#8677 Update informationProtectionPolicies.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/InformationProtectionPolicies/CreateOrUpdateInformationProtectionPolicy_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/informationProtectionPolicies.json
Labels: ARMSignedOff, Approved-BreakingChange

#8795 Azure Red Hat OpenShift v2020-04-30
  custom-words.txt
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2020-04-30/examples/OpenShiftClusters_CreateOrUpdate.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2020-04-30/examples/OpenShiftClusters_Delete.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2020-04-30/examples/OpenShiftClusters_Get.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2020-04-30/examples/OpenShiftClusters_List.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2020-04-30/examples/OpenShiftClusters_ListByResourceGroup.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2020-04-30/examples/OpenShiftClusters_ListCredentials.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2020-04-30/examples/OpenShiftClusters_Update.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2020-04-30/examples/Operations_List.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2020-04-30/redhatopenshift.json
  specification/redhatopenshift/resource-manager/readme.go.md
  specification/redhatopenshift/resource-manager/readme.md
  specification/redhatopenshift/resource-manager/readme.python.md
Labels: ARMSignedOff

#8836 Microsoft.OperationalInsights: Typo, upper case and other minor corrections.
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/OperationalInsights.json
Labels: Approved-BreakingChange

#8582 [Hub Generated] Review request for Microsoft.Resources to add version stable/2020-01-01
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-01-01/examples/GetLocations.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-01-01/examples/GetSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-01-01/examples/GetSubscriptions.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-01-01/examples/GetTenants.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-01-01/subscriptions.json
  specification/resources/resource-manager/readme.md
Labels: ARMSignedOff

#8629 remove private link related apis
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2015-11-01-preview/OperationalInsights.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2015-11-01-preview/examples/PrivateEndpointConnectionDelete.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2015-11-01-preview/examples/PrivateEndpointConnectionGet.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2015-11-01-preview/examples/PrivateEndpointConnectionList.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2015-11-01-preview/examples/PrivateEndpointConnectionUpdate.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2015-11-01-preview/examples/WorkspacePrivateLinkResourceGet.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2015-11-01-preview/examples/WorkspacePrivateLinkResourceListGet.json
Labels: ARMSignedOff

#8843 Add readonly property - reference to private link scoped resources
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/components_API.json
Labels: ARMSignedOff

#8701 Add IpAllocation resource for Hypernet IP management.
  custom-words.txt
  specification/network/resource-manager/Microsoft.Network/stable/2020-03-01/examples/IpAllocationCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-03-01/examples/IpAllocationDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-03-01/examples/IpAllocationGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-03-01/examples/IpAllocationList.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-03-01/examples/IpAllocationListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-03-01/examples/IpAllocationUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-03-01/ipAllocation.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-03-01/virtualNetwork.json
  specification/network/resource-manager/readme.md
Labels: ARMSignedOff

#8628 [Synapse Management] Update sqlPool.json and add integrationRuntime.json
  cSpell.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/IntegrationRuntimeNodes_Delete.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/IntegrationRuntimeNodes_Get.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/IntegrationRuntimeNodes_GetIpAddress.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/IntegrationRuntimeNodes_Update.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/IntegrationRuntimeObjectMetadata_Get.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/IntegrationRuntimeObjectMetadata_Refresh.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/IntegrationRuntimes_Create.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/IntegrationRuntimes_Delete.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/IntegrationRuntimes_Get.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/IntegrationRuntimes_GetConnectionInfo.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/IntegrationRuntimes_GetMonitoringData.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/IntegrationRuntimes_GetStatus.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/IntegrationRuntimes_ListAuthKeys.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/IntegrationRuntimes_ListByWorkspace.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/IntegrationRuntimes_RegenerateAuthKey.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/IntegrationRuntimes_Start.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/IntegrationRuntimes_Stop.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/IntegrationRuntimes_SyncCredentials.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/IntegrationRuntimes_Update.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/IntegrationRuntimes_Upgrade.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/UpdateSqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/integrationRuntime.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/sqlPool.json
  specification/synapse/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, potential-sdk-breaking-change

#8839 [DeploymentScripts] Added SystemData support
  specification/resources/resource-manager/Microsoft.Resources/preview/2019-10-01-preview/deploymentScripts.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2019-10-01-preview/examples/DeploymentScripts_Create.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2019-10-01-preview/examples/DeploymentScripts_Get.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2019-10-01-preview/examples/DeploymentScripts_ListByResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2019-10-01-preview/examples/DeploymentScripts_ListBySubscription.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2019-10-01-preview/examples/DeploymentScripts_Min_Create.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2019-10-01-preview/examples/DeploymentScripts_Update.json
  specification/resources/resource-manager/readme.md
Labels: ARMSignedOff

#8732 [Hub Generated] Review request for Microsoft.CostManagement to add version preview/2019-03-01-preview
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/costmanagement.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/CheckEligibilityPost.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/examples/ShowbackRulePut.json
Labels: ARMSignedOff, potential-sdk-breaking-change

#8738 Introducing force policy association feature
  specification/network/resource-manager/Microsoft.Network/stable/2020-03-01/applicationGateway.json
Labels: ARMSignedOff

#8848 Version Iteration for new Releases
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/common.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/examples/proxy/CheckNameAvailabilityForLocalUniqueness.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/examples/proxy/ExposingAvailableOperations.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/examples/remote-rendering/Delete.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/examples/remote-rendering/Get.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/examples/remote-rendering/GetByResourceGroup.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/examples/remote-rendering/GetBySubscription.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/examples/remote-rendering/ListKeys.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/examples/remote-rendering/Patch.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/examples/remote-rendering/Put.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/examples/remote-rendering/RegenerateKey.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/proxy.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/remote-rendering.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2020-05-01/common.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2020-05-01/examples/proxy/CheckNameAvailabilityForLocalUniqueness.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2020-05-01/examples/proxy/ExposingAvailableOperations.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2020-05-01/examples/spatial-anchors/Delete.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2020-05-01/examples/spatial-anchors/Get.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2020-05-01/examples/spatial-anchors/GetByResourceGroup.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2020-05-01/examples/spatial-anchors/GetBySubscription.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2020-05-01/examples/spatial-anchors/ListKeys.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2020-05-01/examples/spatial-anchors/Patch.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2020-05-01/examples/spatial-anchors/Put.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2020-05-01/examples/spatial-anchors/RegenerateKey.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2020-05-01/proxy.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2020-05-01/spatial-anchors.json
  specification/mixedreality/resource-manager/readme.md
Labels: ARMSignedOff

#8799 added jit files to stable 2020-01-01 security api version
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/JitNetworkAccessPolicies/CreateJitNetworkAccessPolicy_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/JitNetworkAccessPolicies/DeleteJitNetworkAccessPolicy_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/JitNetworkAccessPolicies/GetJitNetworkAccessPoliciesResourceGroupLocation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/JitNetworkAccessPolicies/GetJitNetworkAccessPoliciesResourceGroup_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/JitNetworkAccessPolicies/GetJitNetworkAccessPoliciesSubscriptionLocation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/JitNetworkAccessPolicies/GetJitNetworkAccessPoliciesSubscription_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/JitNetworkAccessPolicies/GetJitNetworkAccessPolicy_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/JitNetworkAccessPolicies/InitiateJitNetworkAccessPolicy_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/jitNetworkAccessPolicies.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff

#8674 Update cluster and linked services API
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2015-11-01-preview/LinkedServices.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2015-11-01-preview/OperationalInsights.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/Clusters.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/LinkedServices.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/examples/ClustersCreate.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/examples/ClustersGet.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/examples/ClustersListByResourceGroup.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/examples/ClustersSubscriptionList.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/examples/ClustersUpdate.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/examples/LinkedServicesCreate.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/examples/LinkedServicesDelete.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/examples/LinkedServicesGet.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/examples/LinkedServicesListByWorkspace.json
  specification/operationalinsights/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange

#8434 add a new API version for component with a new properties
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-02-02-preview/components_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-02-02-preview/examples/ComponentsCreate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-02-02-preview/examples/ComponentsDelete.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-02-02-preview/examples/ComponentsGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-02-02-preview/examples/ComponentsList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-02-02-preview/examples/ComponentsListByResourceGroup.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-02-02-preview/examples/ComponentsPurge.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-02-02-preview/examples/ComponentsPurgeStatus.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-02-02-preview/examples/ComponentsUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-02-02-preview/examples/ComponentsUpdateTagsOnly.json
  specification/applicationinsights/resource-manager/readme.md
Labels: ARMSignedOff
