Repository Azure/azure-rest-api-specs, pull requests merged in 2021-02, with the labels that each got.

#12746 [Hub Generated] Review request for Microsoft.Insights to add version stable/2018-09-01
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-09-01/calculateBaseline_API.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#12663 update cosmos readme.java.md
  specification/cosmos-db/resource-manager/readme.java.md
Labels: CI-BreakingChange-Python

#12728 Update comment.yml
  .github/comment.yml
Labels: Approved-Avocado

#12741 [Hub Generated] Review request for Microsoft.Consumption to add version stable/2019-10-01
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/consumption.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, FixS360

#12720 cli onboard mixedreality
  specification/mixedreality/resource-manager/readme.az.md
  specification/mixedreality/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#12707 added 2014-04-01 version
  specification/monitor/resource-manager/Microsoft.Insights/stable/2014-04-01/alertRules_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2014-04-01/examples/createOrUpdateAlertRule.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2014-04-01/examples/deleteAlertRule.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2014-04-01/examples/getAlertRule.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2014-04-01/examples/listAlertRule.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2014-04-01/examples/listAlertRuleBySubscription.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2014-04-01/examples/patchAlertRule.json
  specification/monitor/resource-manager/readme.md
Labels: Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#12750 update assignement
  .github/pull_request_assignment.yml
Labels: Approved-Avocado

#12751 hide CheckNameAvailabilityLocal
  specification/mixedreality/resource-manager/readme.cli.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#12305 Support for Listing IKE Security Associations for VPN Link Connections
  specification/network/resource-manager/Microsoft.Network/stable/2020-11-01/examples/VpnSiteLinkConnectionGetIkeSas.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-11-01/virtualWan.json
Labels: ARMSignedOff, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#12701 minor fixes
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/readme.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, FixS360, Reviewed-FeedbackProvided

#11868 add media track2 config
  specification/mediaservices/resource-manager/readme.md
  specification/mediaservices/resource-manager/readme.python.md
Labels: Media Services, no-recent-activity

#12529 DBForPostgreSQL fixing s360 violations
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2018-06-01/QueryPerformanceInsights.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2018-06-01/examples/QueryTextsGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2018-06-01/examples/QueryTextsListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2018-06-01/examples/TopQueryStatisticsGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2018-06-01/examples/TopQueryStatisticsListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2018-06-01/examples/WaitStatisticsGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2018-06-01/examples/WaitStatisticsListByServer.json
Labels: ARMChangesRequested, ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python, NewApiVersionRequired

#12458 [Hub Generated] Review request for Microsoft.MixedReality to add version preview/2019-02-28-preview
  specification/mixedreality/data-plane/Microsoft.MixedReality/preview/2019-02-28-preview/examples/GetToken.json
  specification/mixedreality/data-plane/Microsoft.MixedReality/preview/2019-02-28-preview/mr-sts.json
Labels: BreakingChangeReviewRequired

#12625 Added 'Subnet' property to LoadBalancerBackendAddress
  specification/network/resource-manager/Microsoft.Network/stable/2020-11-01/loadBalancer.json
Labels: CI-BreakingChange-Python

#12636 Fix minor issues in policy exemptions
  specification/resources/resource-manager/Microsoft.Authorization/preview/2020-07-01-preview/policyExemptions.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/policyAssignments.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/policyDefinitions.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/policySetDefinitions.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/dataPolicyManifests.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/policyAssignments.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/policyDefinitions.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/policySetDefinitions.json
  specification/resources/resource-manager/readme.go.md
  specification/resources/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#12622 [Hub Generated] Review request for Microsoft.DocumentDB to add version preview/2020-06-01-preview
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBDatabaseAccountCreateMax.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBDatabaseAccountCreateMin.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBDatabaseAccountGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBDatabaseAccountList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBDatabaseAccountListByResourceGroup.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBDatabaseAccountPatch.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python

#12495 Marketplace miberezi 2020
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2020-12-01/Marketplace.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2020-12-01/examples/AcknowledgeNotification.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2020-12-01/examples/AdminRequestApprovalsList.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2020-12-01/examples/CreateApprovalRequest.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2020-12-01/examples/GetAdminRequestApproval.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2020-12-01/examples/GetApprovalRequestsList.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2020-12-01/examples/GetRequestApproval.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2020-12-01/examples/NotificationsState.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2020-12-01/examples/QueryRequestApproval.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2020-12-01/examples/UpdateAdminRequestApproval.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2020-12-01/examples/WithdrawPlan.json
  specification/marketplace/resource-manager/readme.azureresourceschema.md
  specification/marketplace/resource-manager/readme.md
Labels: ARMSignedOff

#12690 acr: updating existing version to fix swagger quality issue in s360
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/containerregistry.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/examples/OperationList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2020-11-01-preview/containerregistry.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2020-11-01-preview/examples/OperationList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2017-10-01/containerregistry.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2017-10-01/examples/OperationList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/containerregistry.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-05-01/examples/OperationList.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, FixS360

#12715 Support for ResetConnection for VNG and VPN Link connections
  custom-words.txt
  specification/network/resource-manager/Microsoft.Network/stable/2020-11-01/examples/VirtualNetworkGatewayConnectionReset.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-11-01/examples/VpnSiteLinkConnectionReset.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-11-01/virtualNetworkGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-11-01/virtualWan.json
Labels: ARMSignedOff, CI-BreakingChange-Python

#12557 Fix Swagger Correctness for Threat Intelligence APIs
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/threatintelligence/QueryThreatIntelligence.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go

#12522 Update Microsoft.DocumentDB 2020-06-01-preview with new descriptions and examples
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBRestorableDatabaseAccountGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBRestorableDatabaseAccountList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBRestorableDatabaseAccountNoLocationList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/restorable.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python

#12651 Fix Swagger Correctness Issues For HealthcareApis
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2018-08-20-preview/examples/OperationsList.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2018-08-20-preview/examples/ServiceCreate.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2018-08-20-preview/healthcare-apis.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2019-09-16/examples/OperationResultsGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2019-09-16/examples/OperationsList.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2019-09-16/healthcare-apis.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2020-03-15/examples/OperationResultsGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2020-03-15/examples/OperationsList.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2020-03-15/healthcare-apis.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2020-03-30/examples/OperationsList.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2020-03-30/examples/ServicePatch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2020-03-30/healthcare-apis.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, FixS360

#12756 Add 2020-10-01-preview-only to python.md
  specification/compute/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go

#12769 Revert "[DataFactory]Set servicePrincipalId,servicePrincipalKey and tenant to be optional from AzureDataExplorerLinkedServiceTypeProperties"
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#12727 update python track2 config for redisenterprise
  specification/redisenterprise/resource-manager/readme.md
  specification/redisenterprise/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2

#12118 Revert "Revert: spec changes for Library Management in bigDataPool (#…
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/bigDataPool.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go

#12724 update synapse readme.java.md
  specification/synapse/resource-manager/readme.java.md
Labels: CI-BreakingChange-Go

#12488 Fix issues in mgmt group swaggers which result in problematic SDKs
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-02-01/examples/PatchManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-02-01/examples/PutManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-02-01/management.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/management.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, FixS360

#12583 chore: missing closing quote in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Approved-Avocado, customer-reported

#12797 Remove CloudService from stable release
  specification/compute/resource-manager/readme.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#12803 Resource health 2021 01 01 pre
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2021-01-01/ResourceHealth.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2021-01-01/examples/PotentialOutages_Get.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2021-01-01/examples/PotentialOutages_List.json
Labels: ARMSignedOff

#12675 Adding Redis Version to PUT request
  specification/redis/resource-manager/Microsoft.Cache/stable/2020-12-01/examples/RedisCacheCreate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2020-12-01/redis.json
Labels: CI-BreakingChange-Python

#12784 Go SDK stable release tag
  specification/compute/resource-manager/readme.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#10874 Adding LabelingJob to preview swagger
  custom-words.txt
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/createOrUpdateLabelingJob.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/deleteLabelingJob.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/getLabelingJob.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/listLabelingJobs.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/jobs.json
  specification/machinelearningservices/resource-manager/readme.azureresourceschema.md
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python, customer-reported

#12397 Remove scope from marketplace registration definitions operations
  specification/managedservices/resource-manager/Microsoft.ManagedServices/preview/2020-02-01-preview/examples/GetMarketplaceRegistrationDefinitionAtTenantScope.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/preview/2020-02-01-preview/examples/GetMarketplaceRegistrationDefinitionsAtTenantScope.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/preview/2020-02-01-preview/managedservices.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/stable/2019-09-01/examples/GetMarketplaceRegistrationDefinitionAtTenantScope.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/stable/2019-09-01/examples/GetMarketplaceRegistrationDefinitionsAtTenantScope.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/stable/2019-09-01/managedservices.json
Labels: Approved-BreakingChange, NewApiVersionRequired

#12747 Adklinge/add is legacy log analytics rule
  specification/monitor/resource-manager/Microsoft.Insights/preview/2020-05-01-preview/scheduledQueryRule_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-04-16/scheduledQueryRule_API.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, FixS360

#12805 Revert "Go SDK stable release tag"
  specification/compute/resource-manager/readme.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#12621 APIM Missing Operations reported in S360
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/apimapis.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/apimdeployment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/apimportalsettings.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/apimreports.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/apimtenant.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/apimusers.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementGetUserSubscription.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementListOperations.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementListPortalSettings.json
  specification/apimanagement/resource-manager/readme.md
Labels: API Management, ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python, FixS360, NewApiVersionRequired

#12811 [Resourcemover] Delelte python track1 configuration
  specification/resourcemover/resource-manager/readme.md
  specification/resourcemover/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go

#12662 Swagger Correctness Fixes MachineLearningServices
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-15-preview/examples/getAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/examples/getAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/machineLearningServices.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-08-01/machineLearningServices.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python, FixS360

#12810 Swagger correctness: Mark readonly properties
  specification/databoxedge/resource-manager/Microsoft.DataBoxEdge/preview/2020-09-01-preview/databoxedge.json
  specification/databoxedge/resource-manager/Microsoft.DataBoxEdge/stable/2020-09-01/databoxedge.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python, FixS360

#12434 cleanup spec for autorest
  specification/mixedreality/data-plane/Microsoft.MixedReality/preview/2021-01-01-preview/examples/CreateConversion.json
  specification/mixedreality/data-plane/Microsoft.MixedReality/preview/2021-01-01-preview/examples/CreateSession.json
  specification/mixedreality/data-plane/Microsoft.MixedReality/preview/2021-01-01-preview/examples/GetConversion.json
  specification/mixedreality/data-plane/Microsoft.MixedReality/preview/2021-01-01-preview/examples/GetSession.json
  specification/mixedreality/data-plane/Microsoft.MixedReality/preview/2021-01-01-preview/examples/ListConversions.json
  specification/mixedreality/data-plane/Microsoft.MixedReality/preview/2021-01-01-preview/examples/ListSessions.json
  specification/mixedreality/data-plane/Microsoft.MixedReality/preview/2021-01-01-preview/examples/StopSession.json
  specification/mixedreality/data-plane/Microsoft.MixedReality/preview/2021-01-01-preview/examples/UpdateSession.json
  specification/mixedreality/data-plane/Microsoft.MixedReality/preview/2021-01-01-preview/mr-arr.json
Labels: BreakingChangeReviewRequired

#12817 update translator text readmes for python
  specification/cognitiveservices/data-plane/TranslatorText/readme.md
  specification/cognitiveservices/data-plane/TranslatorText/readme.python.md
Labels: CI-BreakingChange-Go

#12819 Sync: Add FPGA support to new release
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateAScaleSetFromWithFpgaNetworkInterface.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#12765 [Hub Generated] Review request for Microsoft.ContainerInstance to add version stable/2021-03-01
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2021-03-01/containerInstance.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2021-03-01/examples/CachedImagesList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2021-03-01/examples/CapabilitiesList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2021-03-01/examples/ContainerAttach.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2021-03-01/examples/ContainerExec.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2021-03-01/examples/ContainerGroupUsage.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2021-03-01/examples/ContainerGroupsCreateOrUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2021-03-01/examples/ContainerGroupsDelete.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2021-03-01/examples/ContainerGroupsGet_Failed.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2021-03-01/examples/ContainerGroupsGet_Succeeded.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2021-03-01/examples/ContainerGroupsList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2021-03-01/examples/ContainerGroupsListByResourceGroup.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2021-03-01/examples/ContainerGroupsRestart.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2021-03-01/examples/ContainerGroupsStart.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2021-03-01/examples/ContainerGroupsStop.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2021-03-01/examples/ContainerGroupsUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2021-03-01/examples/ContainerListLogs.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2021-03-01/examples/OperationsList.json
  specification/containerinstance/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python

#12731 Resource mover new api version 2021-01-01
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-01-01/examples/MoveCollections_BulkRemove.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-01-01/examples/MoveCollections_Commit.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-01-01/examples/MoveCollections_Create.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-01-01/examples/MoveCollections_Delete.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-01-01/examples/MoveCollections_Discard.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-01-01/examples/MoveCollections_Get.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-01-01/examples/MoveCollections_InitiateMove.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-01-01/examples/MoveCollections_ListMoveCollectionsByResourceGroup.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-01-01/examples/MoveCollections_ListMoveCollectionsBySubscription.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-01-01/examples/MoveCollections_Prepare.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-01-01/examples/MoveCollections_ResolveDependencies.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-01-01/examples/MoveCollections_Update.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-01-01/examples/MoveResources_Create.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-01-01/examples/MoveResources_Delete.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-01-01/examples/MoveResources_Get.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-01-01/examples/MoveResources_List.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-01-01/examples/OperationsDiscovery_Get.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-01-01/examples/RequiredFor_Get.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-01-01/examples/UnresolvedDependencies_Get.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-01-01/resourcemovercollection.json
  specification/resourcemover/resource-manager/readme.azureresourceschema.md
  specification/resourcemover/resource-manager/readme.go.md
  specification/resourcemover/resource-manager/readme.java.md
  specification/resourcemover/resource-manager/readme.md
  specification/resourcemover/resource-manager/readme.nodejs.md
  specification/resourcemover/resource-manager/readme.ruby.md
  specification/resourcemover/resource-manager/readme.typescript.md
Labels: ARMSignedOff, Approved-LintDiff, CI-BreakingChange-Go, CI-FixRequiredOnFailure

#12639 [Service Fabric Managed Clusters] 2021-01-01-preview
  custom-words.txt
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ApplicationDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ApplicationGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ApplicationListOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ApplicationPatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ApplicationPutOperation_example_max.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ApplicationPutOperation_example_min.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ApplicationTypeNameDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ApplicationTypeNameGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ApplicationTypeNameListOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ApplicationTypeNamePatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ApplicationTypeNamePutOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ApplicationTypeVersionDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ApplicationTypeVersionGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ApplicationTypeVersionListOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ApplicationTypeVersionPatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ApplicationTypeVersionPutOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/DeleteNodes_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ManagedClusterDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ManagedClusterGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ManagedClusterListByResourceGroupOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ManagedClusterListBySubscriptionOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ManagedClusterPatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ManagedClusterPutOperation_example_max.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ManagedClusterPutOperation_example_min.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/NodeTypeDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/NodeTypeGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/NodeTypeListOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/NodeTypePatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/NodeTypePutOperation_example_max.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/NodeTypePutOperation_example_min.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/Operations_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ReimageNodes_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/RestartNodes_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ServiceDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ServiceGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ServiceListOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ServicePatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ServicePutOperation_example_max.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ServicePutOperation_example_min.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/managedapplication.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/managedcluster.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/nodetype.json
  specification/servicefabricmanagedclusters/resource-manager/readme.azureresourceschema.md
  specification/servicefabricmanagedclusters/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python

#12388 [NetAppFiles] Anf 9085 update swagger rest api to 2020 11 01
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Accounts_CreateOrUpdate.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Accounts_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Accounts_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Accounts_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Accounts_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/BackupPolicies_Create.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/BackupPolicies_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/BackupPolicies_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/BackupPolicies_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/BackupPolicies_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Backups_Account_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Backups_Account_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Backups_Account_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Backups_Create.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Backups_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Backups_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Backups_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Backups_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/CheckFilePathAvailability.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/CheckNameAvailability.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/CheckQuotaAvailability.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Pools_CreateOrUpdate.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Pools_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Pools_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Pools_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Pools_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/SnapshotPolicies_Create.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/SnapshotPolicies_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/SnapshotPolicies_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/SnapshotPolicies_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/SnapshotPolicies_ListVolumes.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/SnapshotPolicies_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Snapshots_Create.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Snapshots_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Snapshots_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Snapshots_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Snapshots_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Vaults_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Volumes_AuthorizeReplication.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Volumes_BreakReplication.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Volumes_CreateOrUpdate.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Volumes_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Volumes_DeleteReplication.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Volumes_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Volumes_List.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Volumes_PoolChange.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Volumes_ReInitializeReplication.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Volumes_ReplicationStatus.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Volumes_ResyncReplication.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Volumes_Revert.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Volumes_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/netapp.json
  specification/netapp/resource-manager/readme.azureresourceschema.md
  specification/netapp/resource-manager/readme.go.md
  specification/netapp/resource-manager/readme.java.md
  specification/netapp/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2

#12783 Fix links to schema files in x-ms-examples docs
  documentation/x-ms-examples.md
Labels: customer-reported

#12541 Swagger correctness issue fix(Additional Property not allowed)
  cSpell.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2020-11-01/databox.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, FixS360

#12659 add query parameter to Namedvalue and Certificate
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/apimcertificates.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/apimnamedvalues.json
Labels: API Management, Approved-BreakingChange, CI-BreakingChange-Python, NewApiVersionRequired

#12598 OSSRDBMS FlexMySQL - Fixing swagger completeness and correctness errors
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-preview/examples/CapabilitiesByLocationList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-preview/examples/ConfigurationsBatchUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-preview/mysql.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/CapabilitiesByLocationList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ConfigurationsBatchUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/mysql.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python, NewApiVersionRequired

#12802 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2019-11-01
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/costmanagement.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/BillingAccountForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/BillingProfileForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/DepartmentForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/EnrollmentAccountForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/InvoiceSectionForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ResourceGroupForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/SubscriptionForecast.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python, FixS360

#12758 Added missing properties to classic alerts response
  specification/monitor/resource-manager/Microsoft.Insights/stable/2014-04-01/alertRules_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2016-03-01/alertRules_API.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, FixS360

#12833 [T2] python track2 for applicationinsights
  specification/applicationinsights/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2

#12830 Add 2021 package to go.md
  specification/mixedreality/resource-manager/readme.go.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#12836 Add compute package-2020-10-01-preview
  specification/compute/resource-manager/readme.go.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, Compute

#12835 [T2] python track2 config for costmanagement
  specification/cost-management/resource-manager/readme.md
  specification/cost-management/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#12809 Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: Approved-Avocado

#12556 Swagger Correctness changes for Sentinel Bookmarks
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/SecurityInsights.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, FixS360

#12847 Readme updates with new versions
  specification/hybridkubernetes/resource-manager/readme.azureresourceschema.md
  specification/hybridkubernetes/resource-manager/readme.go.md
  specification/hybridkubernetes/resource-manager/readme.java.md
  specification/hybridkubernetes/resource-manager/readme.ruby.md
Labels: CI-BreakingChange-Python

#12562 [SignalR]update descriptions to be more neutral
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2020-07-01-preview/signalr.json
Labels: CI-BreakingChange-Python

#12778 update mixedreality readme.java.md
  specification/mixedreality/resource-manager/readme.java.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#12282 add app attribute enable end to end tls
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Apps_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Apps_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Apps_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Apps_Update.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, FixS360

#12693 typo: teh -> the
  cSpell.json
  specification/search/resource-manager/Microsoft.Search/stable/2015-08-19/search.json
Labels: Approved-OkToMerge, customer-reported

#12475 [Hub Generated] Review request for Microsoft.KeyVault to add version stable/2019-09-01
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/keyvault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/providers.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/secrets.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#12839 readme.az.md for compute
  specification/compute/resource-manager/readme.az.md
  specification/compute/resource-manager/readme.cli.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, Compute

#12604 chore: Add prettier overrides for other JSON files
  .prettierrc.json
  documentation/samplefiles/Microsoft.YourServiceName/stable/YYYY-MM-DD/YourServiceName.json
  documentation/sdkautomation/GenerateInputSchema.json
  documentation/sdkautomation/GenerateOutputSchema.json
  documentation/sdkautomation/InstallInstructionScriptOutputSchema.json
  documentation/sdkautomation/SpecConfigSchema.json
  documentation/sdkautomation/SwaggerToSdkConfigSchema.json
  documentation/swagger-bootstrap.json
  profile/2019-03-01-hybrid.json
  profile/2020-09-01-hybrid.json
Labels: Approved-Avocado, customer-reported

#12871 change breaking change check list in PR
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Approved-Avocado

#12799 Add stable version of common model swagger for Azure Communication Services
  specification/communication/data-plane/Microsoft.CommunicationServicesCommon/stable/2021-03-07/common.json
  specification/communication/data-plane/Microsoft.CommunicationServicesIdentity/stable/2021-03-07/CommunicationIdentity.json
  specification/communication/data-plane/readme.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#12716 [mt][document translator] Update swagger title for each method
  specification/cognitiveservices/data-plane/TranslatorText/preview/v1.0-preview.1/TranslatorBatch.json
Labels: CI-BreakingChange-Go

#12709 [Hub Generated] Review request for Microsoft.AzureStack to add version preview/2020-06-01-preview
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/AzureStack.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/CustomerSubscription.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/LinkedSubscription.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/Product.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/Registration.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/examples/CloudManifestFile/Get.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/examples/CloudManifestFile/List.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/examples/CustomerSubscription/Delete.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/examples/CustomerSubscription/Get.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/examples/CustomerSubscription/List.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/examples/CustomerSubscription/Put.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/examples/LinkedSubscription/Delete.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/examples/LinkedSubscription/Get.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/examples/LinkedSubscription/List.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/examples/LinkedSubscription/ListBySubscription.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/examples/LinkedSubscription/Patch.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/examples/LinkedSubscription/Put.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/examples/Operation/List.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/examples/Product/Get.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/examples/Product/GetPost.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/examples/Product/List.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/examples/Product/ListPost.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/examples/Product/Post.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/examples/Product/UploadLog.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/examples/Registration/Delete.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/examples/Registration/Get.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/examples/Registration/List.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/examples/Registration/Patch.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/examples/Registration/Post.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/examples/Registration/Put.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/examples/RemoteManagement/Post.json
  specification/azurestack/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-BreakingChange-Python

#12872 Updating the error response class in Backup API Version 2021-01-01
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/bms.json
Labels: ARMSignedOff, Approved-BreakingChange

#12800 Fixing the Default Error Response for 2020-06-01-preview APIs
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/rbac.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/restorable.json
  specification/cosmos-db/resource-manager/readme.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#12851 new readme file for resourcemover
  specification/resourcemover/resource-manager/readme.typescript.md
Labels: CI-BreakingChange-Go

#12826 Fix a bug in name mismatch
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/virtualNetworkGateway.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, NewApiVersionRequired

#12831 [T2] python track2 config for frontdoor
  specification/frontdoor/resource-manager/readme.md
  specification/frontdoor/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#12821 Fix AAS Swagger Correctness v5
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2016-05-16/analysisservices.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/analysisservices.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, FixS360

#12850 Update PR Assignment for CNY
  .github/pull_request_assignment.yml
Labels: Approved-Avocado

#12752 APIM SKUs API
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/apimskus.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementListSku.json
  specification/apimanagement/resource-manager/readme.md
Labels: API Management, ARMSignedOff, CI-BreakingChange-Python

#12619 [Hub Generated] Review request for Microsoft.KeyVault to add version preview/2020-04-01-preview
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/examples/createVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/examples/listOperations.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/examples/updateVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/keyvault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/providers.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, FixS360

#12832 [T2] python track2 config for privatedns
  specification/privatedns/resource-manager/readme.md
  specification/privatedns/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2

#12890 Copy of [Microsoft.ApiManagement][2020-06-01-preview] Gateway certificate authorities
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-06-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/apimgateways.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementCreateGatewayCertificateAuthority.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementDeleteGatewayCertificateAuthority.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementGetGatewayCertificateAuthority.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementHeadGatewayCertificateAuthority.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementListGatewayCertificateAuthorities.json
  specification/apimanagement/resource-manager/readme.md
Labels: API Management, ARMSignedOff, Approved-BreakingChange, NewApiVersionRequired

#12618 [Hub Generated] Review request for Microsoft.KeyVault to add version stable/2019-09-01
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/createVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/listOperations.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/updateVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/keyvault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/providers.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, FixS360

#12737 Added Extensible Enum for Health Relation Types - Dev cognitiveservices text analytics v3.1 preview.4
  specification/cognitiveservices/data-plane/TextAnalytics/preview/v3.1-preview.4/TextAnalytics.json
Labels: potential-sdk-breaking-change

#12884 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2019-11-01
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/costmanagement.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python, FixS360

#12829 [Hub Generated] Review request for Microsoft.Cache to add version stable/2021-03-01
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2021-03-01/examples/OperationsStatusGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2021-03-01/examples/RedisEnterpriseCreate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2021-03-01/examples/RedisEnterpriseDatabasesCreate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2021-03-01/examples/RedisEnterpriseDatabasesDelete.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2021-03-01/examples/RedisEnterpriseDatabasesExport.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2021-03-01/examples/RedisEnterpriseDatabasesGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2021-03-01/examples/RedisEnterpriseDatabasesImport.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2021-03-01/examples/RedisEnterpriseDatabasesListByCluster.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2021-03-01/examples/RedisEnterpriseDatabasesListKeys.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2021-03-01/examples/RedisEnterpriseDatabasesRegenerateKey.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2021-03-01/examples/RedisEnterpriseDatabasesUpdate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2021-03-01/examples/RedisEnterpriseDelete.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2021-03-01/examples/RedisEnterpriseDeletePrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2021-03-01/examples/RedisEnterpriseGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2021-03-01/examples/RedisEnterpriseGetPrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2021-03-01/examples/RedisEnterpriseList.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2021-03-01/examples/RedisEnterpriseListByResourceGroup.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2021-03-01/examples/RedisEnterpriseListPrivateEndpointConnections.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2021-03-01/examples/RedisEnterpriseListPrivateLinkResources.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2021-03-01/examples/RedisEnterprisePutPrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2021-03-01/examples/RedisEnterpriseUpdate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2021-03-01/redisenterprise.json
  specification/redisenterprise/resource-manager/readme.go.md
  specification/redisenterprise/resource-manager/readme.md
  specification/redisenterprise/resource-manager/readme.python.md
  specification/redisenterprise/resource-manager/readme.ruby.md
  specification/redisenterprise/resource-manager/readme.typescript.md
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, WaitForARMFeedback

#12798 Fix minor issues for AFDX public preview
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-09-01/afdx.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-09-01/cdn.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-09-01/examples/LogAnalytics_GetLogAnalyticsMetrics.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-09-01/examples/RuleSets_Create.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, FixS360

#12766 Datr/reg info and enums
  custom-words.txt
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/desktopvirtualization.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/ApplicationGroup_Create.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/ApplicationGroup_Delete.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/ApplicationGroup_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/ApplicationGroup_ListByResourceGroup.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/ApplicationGroup_ListBySubscription.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/ApplicationGroup_Update.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/Application_Create.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/Application_Delete.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/Application_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/Application_List.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/Application_Update.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/Desktop_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/Desktop_List.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/Desktop_Update.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/HostPool_Create.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/HostPool_Delete.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/HostPool_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/HostPool_List.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/HostPool_ListByResourceGroup.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/HostPool_Update.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/HostPools_RetrieveRegistrationToken_Post.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/MsixImage_Expand_Post.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/MsixPackage_Create.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/MsixPackage_Delete.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/MsixPackage_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/MsixPackage_List.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/MsixPackage_Update.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/OperationDescription_List.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/ScalingPlan_Create.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/ScalingPlan_Delete.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/ScalingPlan_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/ScalingPlan_ListByHostPool.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/ScalingPlan_ListByResourceGroup.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/ScalingPlan_ListBySubscription.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/ScalingPlan_Update.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/SessionHost_Delete.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/SessionHost_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/SessionHost_List.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/SessionHost_Update.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/StartMenuItem_List.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/UserSession_Delete.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/UserSession_Disconnect_Post.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/UserSession_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/UserSession_List.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/UserSession_ListByHostPool.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/UserSession_SendMessage_Post.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/Workspace_Create.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/Workspace_Delete.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/Workspace_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/Workspace_ListByResourceGroup.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/Workspace_ListBySubscription.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/examples/Workspace_Update.json
  specification/desktopvirtualization/resource-manager/readme.azureresourceschema.md
  specification/desktopvirtualization/resource-manager/readme.go.md
  specification/desktopvirtualization/resource-manager/readme.java.md
  specification/desktopvirtualization/resource-manager/readme.md
  specification/desktopvirtualization/resource-manager/readme.ruby.md
Labels: ARMSignedOff, Approved-OkToMerge

#12815 Update PIM specs for Documentation changes
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/RoleAssignmentSchedule.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/RoleAssignmentScheduleInstance.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/RoleAssignmentScheduleRequest.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/RoleEligibilitySchedule.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/RoleEligibilityScheduleInstance.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/RoleEligibilityScheduleRequest.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/RoleManagementPolicy.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/RoleManagementPolicyAssignment.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/GetRoleManagementPolicyByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/PutRoleManagementPolicyAssignment.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#12899 [Hub Generated] Public private branch 'dev-maintenance-Microsoft.Maintenance-2021-04-01-preview'
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/Maintenance.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/examples/ApplyUpdatesResourceGroup_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/examples/ApplyUpdates_CreateOrUpdate.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/examples/ApplyUpdates_CreateOrUpdateParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/examples/ApplyUpdates_Get.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/examples/ApplyUpdates_GetParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/examples/ApplyUpdates_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/examples/ConfigurationAssignmentsResultWithinSubscription_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/examples/ConfigurationAssignments_CreateOrUpdate.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/examples/ConfigurationAssignments_CreateOrUpdateParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/examples/ConfigurationAssignments_Delete.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/examples/ConfigurationAssignments_DeleteParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/examples/ConfigurationAssignments_Get.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/examples/ConfigurationAssignments_GetParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/examples/ConfigurationAssignments_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/examples/ConfigurationAssignments_ListParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/examples/MaintenanceConfigurationsResourceGroup_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/examples/MaintenanceConfigurations_CreateOrUpdateForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/examples/MaintenanceConfigurations_DeleteForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/examples/MaintenanceConfigurations_GetForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/examples/MaintenanceConfigurations_GetForResource_GuestOSPatchLinux.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/examples/MaintenanceConfigurations_GetForResource_GuestOSPatchWindows.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/examples/MaintenanceConfigurations_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/examples/MaintenanceConfigurations_UpdateForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/examples/Operations_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/examples/PublicMaintenanceConfigurations_GetForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/examples/PublicMaintenanceConfigurations_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/examples/Updates_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/examples/Updates_ListParent.json
  specification/maintenance/resource-manager/readme.md
Labels: ARMSignedOff

#12913 Add missing packages to readme.go.md files
  specification/compute/resource-manager/readme.go.md
  specification/cosmos-db/resource-manager/readme.go.md
  specification/sql/resource-manager/readme.go.md
  specification/synapse/data-plane/readme.go.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#12779 [Fix modeler Four error] remove duplicated schema
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/timeseriesinsights.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#12852 [NetAppFiles] Urgent bug fix, backup response, remove systemData(not in response yet)
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/examples/Backups_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/netapp.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2

#12487 Update contract for anomaly detector
  specification/cognitiveservices/data-plane/AnomalyDetector/readme.go.md
  specification/cognitiveservices/data-plane/AnomalyDetector/readme.md
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.0/AnomalyDetector.json
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.0/examples/ChangePointDetect.json
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.0/examples/EntireDetect.json
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.0/examples/LastDetect.json
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-BreakingChange-Python

#12896 Fixes ExampleId type and incorrect ArmTokenParameter name
  specification/cognitiveservices/data-plane/LUIS/Authoring/preview/v3.0/LUIS-Authoring.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/stable/v2.0/LUIS-Authoring.json
Labels: CI-BreakingChange-Go

#12863 KeyVault: Feature/update security domain spec
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2-preview/examples/securitydomaindownloadpost-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2-preview/examples/securitydomainuploadoperation-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2-preview/securitydomain.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.3-preview/examples/securitydomaindownloadpost-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.3-preview/examples/securitydomainuploadoperation-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.3-preview/securitydomain.json
  specification/keyvault/data-plane/readme.md
Labels: BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-FixRequiredOnFailure, NewApiVersionRequired

#12922 Update library.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/library.json
Labels: customer-reported

#12900 Azure Data Share: Remove UserAssigned MSI
  specification/datashare/resource-manager/Microsoft.DataShare/stable/2020-09-01/DataShare.json
Labels: Approved-OkToMerge, CI-BreakingChange-Python, FixS360

#12895 Fixed case of property overrideQueryTimeRange
  specification/monitor/resource-manager/Microsoft.Insights/preview/2020-05-01-preview/scheduledQueryRule_API.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, FixS360

#12111 [Ready For Review] New version 20210101
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/ListSkus.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/ListUsages.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/ListVMSizesResult.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/ListWorkspaceFeatures.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/ListWorkspaceQuotasByVMFamily.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/amlComputeListNodes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/createBasicAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/createBasicAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/createBasicDataFactoryCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/createComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/createComputeInstanceMinimal.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/createOrUpdateService.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/createWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/createWorkspaceConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/deleteCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/deleteService.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/deleteWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/deleteWorkspaceConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/getAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/getAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/getComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/getComputes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/getService.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/getServices.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/getWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/getWorkspaceConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/getWorkspacesByResourceGroup.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/getWorkspacesBySubscription.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/listKeysAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/listNotebookAccessToken.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/listNotebookKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/listStorageAccountKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/listWorkspaceConnections.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/listWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/patchAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/restartComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/resyncWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/startComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/stopComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/updateAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/updateAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/updateQuota.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/updateWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/workspaceDeletePrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/workspaceGetPrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/workspaceListPrivateLinkResources.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/workspacePrepareNotebook.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/workspacePutPrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/machineLearningServices.json
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python, DoNotMerge, NewApiVersionRequired

#12777 Fixing RI s360 Flagged corrections in 2019-10-01 version
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/examples/ReservationRecommendationsByBillingProfile.json
Labels: Approved-BreakingChange, Approved-LintDiff, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, CI-FixRequiredOnFailure, FixS360

#12204 Fix TimeSeriesInsights swagger issues
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/timeseriesinsights.json
  specification/timeseriesinsights/resource-manager/readme.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python

#12681 [Hub Generated] Review request for Microsoft.Media to add version stable/2020-05-01
  custom-words.txt
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2020-05-01/AccountFilters.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2020-05-01/Accounts.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2020-05-01/AssetsAndAssetFilters.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2020-05-01/ContentKeyPolicies.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2020-05-01/Encoding.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2020-05-01/StreamingPoliciesAndStreamingLocators.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2020-05-01/examples/jobs-create.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2020-05-01/examples/jobs-get-by-name.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2020-05-01/examples/jobs-list-all-filter-by-created.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2020-05-01/examples/jobs-list-all-filter-by-lastmodified.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2020-05-01/examples/jobs-list-all-filter-by-name-and-state.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2020-05-01/examples/jobs-list-all-filter-by-name.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2020-05-01/examples/jobs-list-all-filter-by-state-eq.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2020-05-01/examples/jobs-list-all-filter-by-state-ne.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2020-05-01/examples/jobs-list-all.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2020-05-01/examples/jobs-update.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2020-05-01/examples/liveevent-create.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2020-05-01/examples/liveevent-update.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2020-05-01/examples/transforms-create.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2020-05-01/examples/transforms-get-by-name.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2020-05-01/examples/transforms-list-all-filter-by-created.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2020-05-01/examples/transforms-list-all-filter-by-lastmodified.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2020-05-01/examples/transforms-list-all-filter-by-name.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2020-05-01/examples/transforms-list-all.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2020-05-01/examples/transforms-update.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2020-05-01/streamingservice.json
Labels: ARMSignedOff, CI-BreakingChange-Go

#11579 [Hub Generated] Review request for Microsoft.Insights to add version stable/2020-10-01
  specification/monitor/resource-manager/Microsoft.Insights/stable/2020-10-01/activityLogAlerts_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2020-10-01/examples/ActivityLogAlertRule_CreateOrUpdate.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2020-10-01/examples/ActivityLogAlertRule_CreateOrUpdateRuleWithAnyOfCondition.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2020-10-01/examples/ActivityLogAlertRule_CreateOrUpdateRuleWithContainsAny.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2020-10-01/examples/ActivityLogAlertRule_Delete.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2020-10-01/examples/ActivityLogAlertRule_Get.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2020-10-01/examples/ActivityLogAlertRule_ListByResourceGroupName.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2020-10-01/examples/ActivityLogAlertRule_ListBySubscriptionId.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2020-10-01/examples/ActivityLogAlertRule_Update.json
  specification/monitor/resource-manager/readme.az.md
  specification/monitor/resource-manager/readme.azureresourceschema.md
  specification/monitor/resource-manager/readme.md
  specification/monitor/resource-manager/readme.python.md
Labels: ARMSignedOff, Approved-LintDiff, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, DoNotMerge

#12265 Edit securityContact swagger for 2020-01-01
  specification/security/resource-manager/Microsoft.Security/preview/2020-01-01-preview/examples/SecurityContacts/CreateSecurityContact_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-01-01-preview/securityContacts.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python

#12259 Dev cost management microsoft.cost management 2020 12 01 preview new
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/costmanagement.generatedetailedcostreport.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/GenerateDetailedCostReportByBillingAccountLegacyAndBillingPeriod.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/GenerateDetailedCostReportByBillingProfileAndInvoiceId.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/GenerateDetailedCostReportByBillingProfileAndInvoiceIdAndCustomerId.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/GenerateDetailedCostReportByCustomerAndTimePeriod.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/GenerateDetailedCostReportBySubscriptionAndTimePeriod.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/GenerateDetailedCostReportOperationResultsBySubscriptionScope.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/GenerateDetailedCostReportOperationStatusBySubscriptionScope.json
  specification/cost-management/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python

#12939 Azure Data Share: Modify Proxy & Default DTOs for systemdata (2020-09-01)
  specification/datashare/resource-manager/Microsoft.DataShare/stable/2020-09-01/DataShare.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, FixS360

#12926 ContainerInstance: update readme.java.md
  specification/containerinstance/resource-manager/readme.java.md
Labels: CI-BreakingChange-Python

#12920 User/altom/arr docs improvement
  specification/mixedreality/data-plane/Microsoft.MixedReality/preview/2021-01-01-preview/mr-arr.json
Labels: BreakingChangeReviewRequired

#12925 Fix library configuration bug in bigDataPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/bigDataPool.json
Labels: Approved-OkToMerge, BreakingChangeReviewRequired, CI-BreakingChange-Go, customer-reported

#12881 Update CommunicationTurn swagger and add CommunicationIdentity swagger to preview folder
  specification/communication/data-plane/Microsoft.CommunicationServicesIdentity/preview/2021-02-22-preview1/CommunicationIdentity.json
  specification/communication/data-plane/Microsoft.CommunicationServicesIdentity/preview/2021-02-22-preview1/examples/CreateIdentity.json
  specification/communication/data-plane/Microsoft.CommunicationServicesIdentity/preview/2021-02-22-preview1/examples/DeleteIdentity.json
  specification/communication/data-plane/Microsoft.CommunicationServicesIdentity/preview/2021-02-22-preview1/examples/IssueAccessToken.json
  specification/communication/data-plane/Microsoft.CommunicationServicesIdentity/preview/2021-02-22-preview1/examples/RevokeAccessTokens.json
  specification/communication/data-plane/Microsoft.CommunicationServicesTurn/preview/2021-02-22-preview1/CommunicationTurn.json
  specification/communication/data-plane/readme.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#12979 Adding MixedReality version 2021-03-01-preview and new ObjectAnchors branding.
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/common.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/examples/object-anchors/Delete.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/examples/object-anchors/Get.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/examples/object-anchors/GetByResourceGroup.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/examples/object-anchors/GetBySubscription.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/examples/object-anchors/ListKeys.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/examples/object-anchors/Patch.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/examples/object-anchors/Put.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/examples/object-anchors/RegenerateKey.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/examples/proxy/CheckNameAvailabilityForLocalUniqueness.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/examples/proxy/ExposingAvailableOperations.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/examples/remote-rendering/Delete.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/examples/remote-rendering/Get.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/examples/remote-rendering/GetByResourceGroup.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/examples/remote-rendering/GetBySubscription.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/examples/remote-rendering/ListKeys.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/examples/remote-rendering/Patch.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/examples/remote-rendering/Put.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/examples/remote-rendering/RegenerateKey.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/examples/spatial-anchors/Delete.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/examples/spatial-anchors/Get.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/examples/spatial-anchors/GetByResourceGroup.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/examples/spatial-anchors/GetBySubscription.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/examples/spatial-anchors/ListKeys.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/examples/spatial-anchors/Patch.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/examples/spatial-anchors/Put.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/examples/spatial-anchors/RegenerateKey.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/object-anchors.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/proxy.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/remote-rendering.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2021-03-01-preview/spatial-anchors.json
  specification/mixedreality/resource-manager/readme.azureresourceschema.md
  specification/mixedreality/resource-manager/readme.go.md
  specification/mixedreality/resource-manager/readme.md
Labels: CI-BreakingChange-Go, WaitForARMFeedback

#12814 Microsoft.data protection
  custom-words.txt
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2020-01-01-alpha/dataprotection.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2020-01-01-alpha/examples/OperationGroupGet.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/dataprotection.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/BackupInstanceOperations/DeleteBackupInstance.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/BackupInstanceOperations/GetBackupInstance.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/BackupInstanceOperations/GetRecoveryPoint.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/BackupInstanceOperations/ListBackupInstances.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/BackupInstanceOperations/ListRecoveryPoints.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/BackupInstanceOperations/PutBackupInstance.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/BackupInstanceOperations/TriggerBackup.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/BackupInstanceOperations/TriggerRehydrate.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/BackupInstanceOperations/TriggerRestore.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/BackupInstanceOperations/TriggerRestoreAsFiles.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/BackupInstanceOperations/TriggerRestoreWithRehydration.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/BackupInstanceOperations/ValidateForBackup.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/BackupInstanceOperations/ValidateRestore.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/CheckfeatureSupport.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/GetOperationResult.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/GetOperationStatus.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/JobCRUD/GetExportJobsOperationResult.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/JobCRUD/GetJob.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/JobCRUD/ListJobs.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/JobCRUD/TriggerExportJobs.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/PolicyCRUD/CreateOrUpdateBackupPolicy.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/PolicyCRUD/DeleteBackupPolicy.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/PolicyCRUD/GetBackupPolicy.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/PolicyCRUD/ListBackupPolicy.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/VaultCRUD/CheckBackupVaultsNameAvailability.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/VaultCRUD/DeleteBackupVault.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/VaultCRUD/GetBackupVault.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/VaultCRUD/GetBackupVaultWithMSI.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/VaultCRUD/GetBackupVaultsInResourceGroup.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/VaultCRUD/GetBackupVaultsInSubscription.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/VaultCRUD/GetOperationResultPatch.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/VaultCRUD/PatchBackupVault.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/VaultCRUD/PutBackupVault.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/VaultCRUD/PutBackupVaultWithMSI.json
  specification/dataprotection/resource-manager/readme.az.md
  specification/dataprotection/resource-manager/readme.azureresourceschema.md
  specification/dataprotection/resource-manager/readme.cli.md
  specification/dataprotection/resource-manager/readme.csharp.md
  specification/dataprotection/resource-manager/readme.go.md
  specification/dataprotection/resource-manager/readme.java.md
  specification/dataprotection/resource-manager/readme.md
  specification/dataprotection/resource-manager/readme.nodejs.md
  specification/dataprotection/resource-manager/readme.python.md
  specification/dataprotection/resource-manager/readme.ruby.md
  specification/dataprotection/resource-manager/readme.typescript.md
Labels: ARMSignedOff, CI-BreakingChange-Python

#12908 s360 fixes for MixedReality 2020-05-01 and 2020-04-06-preview swagger
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/common.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/proxy.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2020-04-06-preview/remote-rendering.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2020-05-01/common.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2020-05-01/proxy.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2020-05-01/spatial-anchors.json
  specification/mixedreality/resource-manager/readme.md
Labels: Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-Python, FixS360

#12932 Swagger correctness and completeness for RecoveryServices
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/examples/CheckNameAvailability_Available.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/examples/CheckNameAvailability_NotAvailable.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/examples/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/examples/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/examples/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/examples/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/examples/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/examples/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/examples/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/examples/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/examples/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/examples/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/examples/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/examples/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/examples/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/examples/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/examples/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/examples/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/examples/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/examples/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/examples/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/examples/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/examples/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/examples/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/examples/UpdateVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/registeredidentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/replicationusages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/vaults.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-10-01/vaultusages.json
  specification/recoveryservices/resource-manager/readme.md
Labels: ARMSignedOff, FixS360

#12972 Fix cosmos-db package-2020-09 output-folder
  specification/cosmos-db/resource-manager/readme.go.md
Labels: CI-BreakingChange-Go

#13001 acr: updating existing version to fix swagger quality issue in s360
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/containerregistry.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2020-11-01-preview/containerregistry.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, FixS360

#12918 [Datadog] Sync swagger from azure-rest-api-specs-pr RPSaaSMaster branch
  specification/datadog/resource-manager/Microsoft.Datadog/preview/2020-02-01-preview/datadog.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, DoNotMerge

#12940 fix typo for bold formatting
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/compute.json
Labels: Approved-OkToMerge, CI-BreakingChange-Go, Compute

#12943 Update redisenterprise readme files for C#, Azure CLI, and Azure Resource Manager Schema
  specification/redisenterprise/resource-manager/readme.az.md
  specification/redisenterprise/resource-manager/readme.azureresourceschema.md
  specification/redisenterprise/resource-manager/readme.cli.md
  specification/redisenterprise/resource-manager/readme.csharp.md
  specification/redisenterprise/resource-manager/readme.go.md
  specification/redisenterprise/resource-manager/readme.md
Labels: Approved-OkToMerge

#12967 Request to update Redis Enterprise version stable/2021-03-01
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2021-03-01/examples/OperationsStatusGet.json
Labels: Approved-OkToMerge

#12963 OMode ModelAsString update to make it nullable and rearrangements to avoid breaking change in .Net
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/compute.json
Labels: Approved-OkToMerge, CI-BreakingChange-Go, Compute

#12938 Open API change for Managed Hsm private endpoints feature
  custom-words.txt
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/ManagedHsm_deletePrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/ManagedHsm_getPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/ManagedHsm_listPrivateLinkResources.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/ManagedHsm_putPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/managedHsm.json
  specification/keyvault/resource-manager/readme.md
Labels: Approved-OkToMerge, CI-BreakingChange-Go, WaitForARMFeedback

#12876 [Hub Generated] Review request for Microsoft.AzureStack to add version stable/2016-01-01
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2016-01-01/AzureStack.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2016-01-01/Product.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2016-01-01/Registration.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2016-01-01/examples/Operation/List.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2016-01-01/examples/Product/Get.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2016-01-01/examples/Product/GetPost.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2016-01-01/examples/Product/List.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2016-01-01/examples/Product/ListPost.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2016-01-01/examples/Product/Post.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2016-01-01/examples/Product/UploadLog.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2016-01-01/examples/Registration/Delete.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2016-01-01/examples/Registration/Get.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2016-01-01/examples/Registration/List.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2016-01-01/examples/Registration/Patch.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2016-01-01/examples/Registration/Post.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2016-01-01/examples/Registration/Put.json
  specification/azurestack/resource-manager/readme.md
Labels: ARMSignedOff, Approved-Avocado, Approved-BreakingChange, Approved-LintDiff, Approved-ModelValidation, Approved-OkToMerge, Approved-SemanticValidation, CI-BreakingChange-Go, CI-BreakingChange-Python, FixS360

#12680 ProviderHub: Swagger doc update
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2020-11-20/examples/CheckinManifest.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2020-11-20/examples/CustomRollouts_CreateOrUpdate.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2020-11-20/examples/NotificationRegistrations_CreateOrUpdate.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2020-11-20/examples/Operations_CreateOrUpdate.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2020-11-20/examples/ProviderRegistrations_CreateOrUpdate.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2020-11-20/examples/ProviderRegistrations_ListByResourceGroup.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2020-11-20/examples/ResourceTypeRegistrations_CreateOrUpdate.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2020-11-20/examples/ResourceTypeRegistrations_Delete.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2020-11-20/examples/Skus_CreateOrUpdate.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2020-11-20/examples/Skus_CreateOrUpdateNestedResourceTypeFirst.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2020-11-20/examples/Skus_CreateOrUpdateNestedResourceTypeSecond.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2020-11-20/examples/Skus_CreateOrUpdateNestedResourceTypeThird.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2020-11-20/providerhub.json
  specification/providerhub/resource-manager/readme.az.md
  specification/providerhub/resource-manager/readme.cli.md
  specification/providerhub/resource-manager/readme.go.md
  specification/providerhub/resource-manager/readme.java.md
  specification/providerhub/resource-manager/readme.md
  specification/providerhub/resource-manager/readme.python.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, FixS360

#12277 Add ADLS Gen2 data source type
  custom-words.txt
  specification/search/data-plane/Azure.Search/preview/2020-06-30-Preview/searchservice.json
  specification/search/data-plane/Azure.Search/preview/2020-06-30/searchservice.json
Labels: no-recent-activity

#13008 add missing packages to readme.go.md
  specification/monitor/resource-manager/readme.go.md
  specification/web/resource-manager/readme.go.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#12825 [Hub Generated] Review request for Microsoft.ContainerInstance to add version stable/2021-03-01
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2021-03-01/containerInstance.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2021-03-01/examples/ContainerGroupsStart.json
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python, NewApiVersionRequired

#12555 [Hub Generated] Review request for Microsoft.Consumption to add version stable/2019-10-01
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/consumption.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-Python

#12691 Add 2020-03-01-preview version to Authorization
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/authorization-ClassicAdminCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/authorization-DenyAssignmentGetCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/authorization-ElevateAccessCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/authorization-PermissionsCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/authorization-ProviderOperationsCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/authorization-RoleAssignmentsCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/authorization-RoleDefinitionsCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/common-types.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/ClassicAdministrators_List.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/DenyAssignments_CreateById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/DenyAssignments_CreateForResource.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/DenyAssignments_CreateForResourceGroup.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/DenyAssignments_CreateForSubscription.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/DenyAssignments_Delete.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/DenyAssignments_DeleteById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/DenyAssignments_Get.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/DenyAssignments_GetById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/DenyAssignments_ListForResource.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/DenyAssignments_ListForResourceGroup.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/DenyAssignments_ListForScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/DenyAssignments_ListForSubscription.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/GlobalAdministrator_ElevateAccess.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/Permissions_ListForResource.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/Permissions_ListForResourceGroup.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/Permissions_ListForSubscription.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/ProviderOperations_List.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/ProviderOperations_ListForRP.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleAssignments_CreateById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleAssignments_CreateForResource.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleAssignments_CreateForResourceGroup.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleAssignments_CreateForSubscription.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleAssignments_Delete.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleAssignments_DeleteById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleAssignments_Get.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleAssignments_GetById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleAssignments_ListForResource.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleAssignments_ListForResourceGroup.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleAssignments_ListForScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleAssignments_ListForSubscription.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleDefinitions_CreateById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleDefinitions_CreateForResource.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleDefinitions_CreateForResourceGroup.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleDefinitions_CreateForSubscription.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleDefinitions_Delete.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleDefinitions_DeleteById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleDefinitions_Get.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleDefinitions_GetById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleDefinitions_ListForResource.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleDefinitions_ListForResourceGroup.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleDefinitions_ListForScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleDefinitions_ListForSubscription.json
  specification/authorization/resource-manager/readme.md
Labels: ARMSignedOff

#12108 Exposing RoleAssignmentApproval APIs
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-01-01-preview/authorization-RoleAssignmentApprovalCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-01-01-preview/examples/GetRoleAssignmentApprovalById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-01-01-preview/examples/GetRoleAssignmentApprovalStepById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-01-01-preview/examples/GetRoleAssignmentApprovalSteps.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-01-01-preview/examples/GetRoleAssignmentApprovals.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-01-01-preview/examples/PatchRoleAssignmentApprovalStepById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-01-01-preview/examples/PutRoleAssignmentApprovalStepById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-01-01-preview/examples/ScopeGetRoleAssignmentApprovalById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-01-01-preview/examples/ScopeGetRoleAssignmentApprovalStepById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-01-01-preview/examples/ScopeGetRoleAssignmentApprovalSteps.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-01-01-preview/examples/ScopeGetRoleAssignmentApprovals.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-01-01-preview/examples/ScopePatchRoleAssignmentApprovalStepById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-01-01-preview/examples/ScopePutRoleAssignmentApprovalStepById.json
  specification/authorization/resource-manager/readme.azureresourceschema.md
  specification/authorization/resource-manager/readme.java.md
  specification/authorization/resource-manager/readme.md
  specification/authorization/resource-manager/readme.python.md
  specification/authorization/resource-manager/readme.ruby.md
Labels: ARMSignedOff

#11789 Cognitive Services: Add missing descriptions for errors
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2017-04-18/cognitiveservices.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#13034 {storage} Add new api version in readme
  specification/storage/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, Storage

#12490 [Hub Generated] Review request for Microsoft.ImportExport to add version preview/2021-01-01
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples/CreateExportJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples/CreateJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples/DeleteJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples/GetExportJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples/GetJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples/GetLocation.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples/ListBitLockerKeys.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples/ListJobsInResourceGroup.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples/ListJobsInSubscription.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples/ListLocations.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples/ListOperations.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples/UpdateExportJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/examples/UpdateJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/preview/2021-01-01/storageimportexport.json
  specification/storageimportexport/resource-manager/readme.md
Labels: ARMSignedOff, no-recent-activity

#13018 Incorrect tag specified assume it was a copy and paste error
  specification/batch/data-plane/readme.go.md
Labels: customer-reported

#13036 Fix content-type in examples for ACS AUTH REST API version2 and GA
  specification/communication/data-plane/Microsoft.CommunicationServicesIdentity/preview/2020-07-20-preview2/examples/IssueToken.json
  specification/communication/data-plane/Microsoft.CommunicationServicesIdentity/stable/2021-03-07/examples/IssueAccessToken.json
Labels: FixS360

#13040 Azure Data Share: Fix linter errors on x-ms-enum names
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/DataShare.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2020-10-01-preview/DataShare.json
  specification/datashare/resource-manager/Microsoft.DataShare/stable/2019-11-01/DataShare.json
  specification/datashare/resource-manager/Microsoft.DataShare/stable/2020-09-01/DataShare.json
Labels: CI-BreakingChange-Python, FixS360

#12367 ANF-8872 Fix examples for integers
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-06-01/netapp.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-07-01/netapp.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-08-01/netapp.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-10-01/netapp.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-11-01/netapp.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-02-01/netapp.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-03-01/netapp.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-05-01/netapp.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-06-01/netapp.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-07-01/netapp.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-08-01/netapp.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-09-01/netapp.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, FixS360

#12858 [Service Fabric Managed Clusters] Adding missing property ClusterUpgradeCadence
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/examples/ManagedClusterPutOperation_example_max.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/managedapplication.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/managedcluster.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/preview/2021-01-01-preview/nodetype.json
  specification/servicefabricmanagedclusters/resource-manager/readme.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python

#12748 [Hub Generated] Review request for Microsoft.AlertsManagement to add version preview/2021-01-01-preview
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-01-01-preview/AlertsManagement.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-01-01-preview/MigrateFromSmartDetections.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-01-01-preview/examples/migrateFromSmartDetectionStartMigration.json
  specification/alertsmanagement/resource-manager/readme.md
Labels: ARMSignedOff

#12928 User
  specification/automation/resource-manager/Microsoft.Automation/preview/2020-01-13-preview/account.json
Labels: BreakingChangeReviewRequired, WaitForARMFeedback, customer-reported

#12975 s360 in 2020-03-01 remove empty schema in actions to match the RP.
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-03-01/examples/Caches_Delete.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-03-01/examples/Caches_Flush.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-03-01/examples/Caches_Start.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-03-01/examples/Caches_Stop.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-03-01/examples/Caches_UpgradeFirmware.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-03-01/examples/StorageTargets_Delete.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-03-01/storagecache.json
Labels: Approved-OkToMerge, CI-BreakingChange-Go, FixS360

#13017 Add Mohit-Chakraborty to search/data-plane/ owner
  CODEOWNERS
Labels: Approved-OkToMerge

#13005 Adding new properties isPrimary and replicasPerPrimary
  specification/redis/resource-manager/Microsoft.Cache/stable/2020-12-01/examples/RedisCacheCreate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2020-12-01/examples/RedisCacheGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2020-12-01/examples/RedisCacheList.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2020-12-01/examples/RedisCacheUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2020-12-01/redis.json
Labels: CI-BreakingChange-Python, Reviewed-ChangesRequired, Waiting-PleaseCompleteChecklist

#13048 Updating AzureCommunicationServices Chat Events Schema for MRI->CommunicationIdentifier transition
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/AzureCommunicationServices.json
Labels: CI-BreakingChange-Go

#12570 fixing NRP networking resource properties
  custom-words.txt
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/networkInterface.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/privateEndpoint.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/publicIpAddress.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/publicIpPrefix.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/serviceTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/virtualNetwork.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/networkInterface.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/publicIpAddress.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/publicIpPrefix.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/virtualNetwork.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, FixS360, ReadyForSDKReview, review

#13033 [Hub Generated] Review request for Microsoft.KeyVault to add version stable/2019-09-01
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/checkVaultNameAvailability.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/createKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/createSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/createVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/createVaultWithNetworkAcls.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/deletePrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/deleteVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/getDeletedVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/getKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/getKeyVersion.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/getPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/getSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/getVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/listDeletedVaults.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/listKeyVersions.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/listKeys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/listOperations.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/listPrivateLinkResources.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/listVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/listVaultByResourceGroup.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/listVaultBySubscription.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/purgeDeletedVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/putPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/updateAccessPoliciesAdd.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/updateSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/updateVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/keyvault.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, FixS360

#13055 update description for netapp
  specification/netapp/resource-manager/readme.java.md
  specification/netapp/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2

#12767 EventGrid: Fix multiple linter and swagger correctness/completeness issues for latest preview and stable API versions
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/EventGrid.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/DomainTopics_Delete.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/Domains_Delete.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerNamespaces_Delete.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/PartnerTopicEventSubscriptions_Delete.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/SystemTopicEventSubscriptions_Delete.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/examples/SystemTopics_Delete.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-10-15-preview/EventGrid.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-10-15-preview/examples/DomainTopics_Delete.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-10-15-preview/examples/Domains_Delete.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/stable/2020-06-01/EventGrid.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/stable/2020-06-01/examples/DomainTopics_Delete.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/stable/2020-06-01/examples/Domains_Delete.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, FixS360
