Repository Azure/azure-rest-api-specs, pull requests merged in 2021-01, with the labels that each got.

#12262 [Hub Generated] Review request for Microsoft.Advisor to add version stable/2020-01-01
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2020-01-01/advisor.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go

#12122 add resourcegraph track2 config
  specification/resourcegraph/resource-manager/readme.python.md
Labels: Resource Graph

#12027 add reservations track2 config
  specification/reservations/resource-manager/readme.md
Labels: CI-BreakingChange-Python

#12246 Fix swagger correctness errors
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/examples/IotAlerts/GetIoTAlert.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/examples/IotAlerts/GetIoTAlertList.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/iotAlerts.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/deviceSecurityGroups.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/DeviceSecurityGroups/PutDeviceSecurityGroups_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutions/CreateIoTSecuritySolution.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutions/GetIoTSecuritySolution.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutions/GetIoTSecuritySolutionsList.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutions/GetIoTSecuritySolutionsListByIotHub.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutions/GetIoTSecuritySolutionsListByIotHubAndRg.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutions/GetIoTSecuritySolutionsListByRg.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IoTSecuritySolutions/UpdateIoTSecuritySolution.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IotAlerts/GetIoTAlert.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/examples/IotAlerts/GetIoTAlertList.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/iotAlerts.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/iotSecuritySolutionAnalytics.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/iotSecuritySolutions.json
  specification/security/resource-manager/common/v1/types.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python

#12196 [Hub Generated] Review request for Microsoft.Consumption to add version stable/2019-10-01
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/examples/Tags.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python

#12176 AAS - Swagger Linting and Correctness Fix
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/preview/2017-08-01-beta/analysisservices.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/preview/2017-08-01-beta/examples/createServer.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2016-05-16/analysisservices.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-07-14/analysisservices.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/analysisservices.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples/createServer.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go

#12045 add redhatopenshift track2 config
  specification/redhatopenshift/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python

#12215 Add missing properties of SecurityRule, Route and RouteTable
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/networkSecurityGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/routeTable.json
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#12194 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2019-10-01
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/examples/Tags.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-Python

#11495 add relay track2 config
  specification/relay/resource-manager/readme.python.md
Labels: Relay

#11628 add automation track2 config
  specification/automation/resource-manager/readme.python.md
Labels: Automation

#12015 Azure Remote Rendering REST API swagger file - for review
  custom-words.txt
  specification/mixedreality/data-plane/Microsoft.MixedReality/preview/2021-01-01-preview/examples/CreateConversion.json
  specification/mixedreality/data-plane/Microsoft.MixedReality/preview/2021-01-01-preview/examples/CreateSession.json
  specification/mixedreality/data-plane/Microsoft.MixedReality/preview/2021-01-01-preview/examples/GetConversion.json
  specification/mixedreality/data-plane/Microsoft.MixedReality/preview/2021-01-01-preview/examples/GetSession.json
  specification/mixedreality/data-plane/Microsoft.MixedReality/preview/2021-01-01-preview/examples/ListConversions.json
  specification/mixedreality/data-plane/Microsoft.MixedReality/preview/2021-01-01-preview/examples/ListSessions.json
  specification/mixedreality/data-plane/Microsoft.MixedReality/preview/2021-01-01-preview/examples/StopSession.json
  specification/mixedreality/data-plane/Microsoft.MixedReality/preview/2021-01-01-preview/examples/UpdateSession.json
  specification/mixedreality/data-plane/Microsoft.MixedReality/preview/2021-01-01-preview/mr-arr.json
  specification/mixedreality/data-plane/readme.md
Labels: no-recent-activity

#12253 minor changes to swagger
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/2.0.0/LiveVideoAnalytics.json
Labels: BreakingChangeReviewRequired

#12236 Add addons to AVS 2020-07-17-preview
  specification/vmware/resource-manager/Microsoft.AVS/preview/2020-07-17-preview/examples/Addons_CreateOrUpdate.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2020-07-17-preview/examples/Addons_Delete.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2020-07-17-preview/examples/Addons_Get.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2020-07-17-preview/examples/Addons_List.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2020-07-17-preview/vmware.json
  specification/vmware/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, DoNotMerge, NewApiVersionRequired

#12133 Azs api bug fix
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2020-10-01/ComputeOperationResults.json
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2020-10-01/examples/ComputeOperationResult/Get.json
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2020-10-01/examples/ComputeOperationResult/List.json
  specification/azsadmin/resource-manager/fabric/readme.md
Labels: ARMSignedOff

#12031 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2019-11-01
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/costmanagement.exports.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/costmanagement.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/BillingAccountForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/BillingAccountQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/BillingProfileForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/DepartmentForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/DepartmentQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/EnrollmentAccountForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/EnrollmentAccountQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportByBillingAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportByDepartment.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportByEnrollmentAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportByManagementGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportByResourceGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportBySubscription.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportCreateOrUpdateByBillingAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportCreateOrUpdateByDepartment.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportCreateOrUpdateByEnrollmentAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportCreateOrUpdateByManagementGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportCreateOrUpdateByResourceGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportCreateOrUpdateBySubscription.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportExecutionListByBillingAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportExecutionListByDepartment.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportExecutionListByEnrollmentAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportExecutionListByManagementGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportExecutionListByResourceGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportExecutionListBySubscription.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportListByBillingAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportListByDepartment.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportListByEnrollmentAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportListByManagementGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportListByResourceGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExportListBySubscription.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExternalBillingAccountForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExternalBillingAccountsQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExternalSubscriptionForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExternalSubscriptionsQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/InvoiceSectionForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCABillingAccountQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCABillingProfileQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCACustomerQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCAInvoiceSectionQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ManagementGroupQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/PrivateView.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/PrivateViewCreateOrUpdate.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/PrivateViewList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ResourceGroupForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ResourceGroupQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/SubscriptionForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/SubscriptionQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ViewByResourceGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ViewCreateOrUpdateByResourceGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ViewListByResourceGroup.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python, Reviewed-ChangesRequired

#12101 swagger correctness fix
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2020-07-01-preview/signalr.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2020-05-01/examples/SignalR_CreateOrUpdate.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2020-05-01/examples/SignalR_Update.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2020-05-01/signalr.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python

#12222 Remove gallery preview version 2020-09-30 from stable release
  specification/compute/resource-manager/readme.md
Labels: CI-BreakingChange-Python

#12232 [Hub Generated] Review request for Microsoft.Insights to add version stable/2019-03-01
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-03-01/metricBaselines_API.json
  specification/monitor/resource-manager/readme.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, NewApiVersionRequired

#12288 Update examples with correct location, sub id and policy name
  specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/examples/ManagedInstanceCreateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/examples/ManagedInstanceGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/examples/ManagedInstanceList.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/examples/ManagedInstanceListByResourceGroup.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/examples/ManagedInstanceUpdateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/examples/ManagedInstanceUpdateMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedInstanceCreateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedInstanceGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedInstanceList.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedInstanceListByInstancePool.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedInstanceListByResourceGroup.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedInstanceUpdateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/examples/ManagedInstanceUpdateMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceCreateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceList.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceListByInstancePool.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceListByResourceGroup.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceUpdateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceUpdateMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/ManagedInstanceCreateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/ManagedInstanceGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/ManagedInstanceList.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/ManagedInstanceListByInstancePool.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/ManagedInstanceListByResourceGroup.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/ManagedInstanceUpdateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/ManagedInstanceUpdateMin.json
Labels: CI-BreakingChange-Go, customer-reported

#12209 Feature/riteshc/swagger correctness mhsm fixes
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/examples/ManagedHsm_Get.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/managedHsm.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#12121 Adding 'Constrained Resource' Changes to pipeline steps
  custom-words.txt
  specification/datacollaboration/resource-manager/Microsoft.DataCollaboration/preview/2020-05-04-preview/DataCollaboration.json
  specification/datacollaboration/resource-manager/Microsoft.DataCollaboration/preview/2020-05-04-preview/examples/ConstrainedResources_CreateOrUpdate.json
  specification/datacollaboration/resource-manager/Microsoft.DataCollaboration/preview/2020-05-04-preview/examples/ConstrainedResources_Delete.json
  specification/datacollaboration/resource-manager/Microsoft.DataCollaboration/preview/2020-05-04-preview/examples/ConstrainedResources_Get.json
  specification/datacollaboration/resource-manager/Microsoft.DataCollaboration/preview/2020-05-04-preview/examples/ConstrainedResources_ListByWorkspace.json
  specification/datacollaboration/resource-manager/Microsoft.DataCollaboration/preview/2020-05-04-preview/examples/ConstrainedResources_SynapseSparkPool_CreateOrUpdate.json
  specification/datacollaboration/resource-manager/Microsoft.DataCollaboration/preview/2020-05-04-preview/examples/PipelineRuns_Get.json
  specification/datacollaboration/resource-manager/Microsoft.DataCollaboration/preview/2020-05-04-preview/examples/PipelineRuns_ListByWorkspace.json
  specification/datacollaboration/resource-manager/Microsoft.DataCollaboration/preview/2020-05-04-preview/examples/PipelineStepRuns_Get.json
  specification/datacollaboration/resource-manager/Microsoft.DataCollaboration/preview/2020-05-04-preview/examples/PipelineStepRuns_ListByPipelineRun.json
  specification/datacollaboration/resource-manager/Microsoft.DataCollaboration/preview/2020-05-04-preview/examples/PipelineSteps_CreateOrUpdate.json
  specification/datacollaboration/resource-manager/Microsoft.DataCollaboration/preview/2020-05-04-preview/examples/PipelineSteps_Get.json
  specification/datacollaboration/resource-manager/Microsoft.DataCollaboration/preview/2020-05-04-preview/examples/PipelineSteps_ListByPipeline.json
  specification/datacollaboration/resource-manager/Microsoft.DataCollaboration/preview/2020-05-04-preview/examples/PipelineSteps_SynapseSpark_CreateOrUpdate.json
  specification/datacollaboration/resource-manager/Microsoft.DataCollaboration/preview/2020-05-04-preview/examples/Pipelines_Run.json
  specification/datacollaboration/resource-manager/readme.md
Labels: ARMSignedOff

#11961 [Hub Generated] Review request for Microsoft.Authorization to add version stable/2020-09-01
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/policyAssignments.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/policyDefinitions.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/policySetDefinitions.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/dataPolicyManifests.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/policyAssignments.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/policyDefinitions.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/policySetDefinitions.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#12291 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2019-11-01
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/costmanagement.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/PrivateViewList.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python

#11821 Added all private endpoint APIs
  specification/attestation/resource-manager/Microsoft.Attestation/stable/2020-10-01/attestation.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python, Reviewed-ChangesRequired

#12234 [Hub Generated] Review request for Microsoft.Insights to add version preview/2017-11-01-preview
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-11-01-preview/baseline_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-11-01-preview/calculateBaseline_API.json
  specification/monitor/resource-manager/readme.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, NewApiVersionRequired

#12233 [Hub Generated] Review request for Microsoft.Insights to add version stable/2018-09-01
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-09-01/baseline_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-09-01/calculateBaseline_API.json
  specification/monitor/resource-manager/readme.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, NewApiVersionRequired

#12242 [Text Analytics] Add AnalyzeJobMetadata
  specification/cognitiveservices/data-plane/TextAnalytics/preview/v3.1-preview.3/TextAnalytics.json
Labels: BreakingChangeReviewRequired

#11938 Synapse Spark API updates
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-11-01-preview/sparkJob.json
Labels: BreakingChangeReviewRequired

#12292 [Media] New required property and descriptions
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/2.0.0/LiveVideoAnalytics.json
  specification/mediaservices/data-plane/LiveVideoAnalytics.Edge/preview/2.0.0/LiveVideoAnalyticsSdkDefinitions.json
Labels: BreakingChangeReviewRequired

#12279 OSSRDBMS -Fixing swagger linting errors
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-preview/mariadb.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-12-01-preview/mysql.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2017-12-01/mysql.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-12-01-preview/postgresql.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2017-12-01/postgresql.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python, NewApiVersionRequired, customer-reported

#12211 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2019-11-01
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/costmanagement.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/BillingAccountQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/BillingAccountQueryGrouping.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/DepartmentQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/DepartmentQueryGrouping.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/EnrollmentAccountQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/EnrollmentAccountQueryGrouping.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCABillingAccountQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCABillingAccountQueryGrouping.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCABillingProfileQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCABillingProfileQueryGrouping.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCACustomerQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCACustomerQueryGrouping.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCAInvoiceSectionQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCAInvoiceSectionQueryGrouping.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ManagementGroupQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ManagementGroupQueryGrouping.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ResourceGroupQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ResourceGroupQueryGrouping.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/SubscriptionQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/SubscriptionQueryGrouping.json
Labels: Approved-BreakingChange

#11353 [Hub Generated] Review request for Microsoft.Network to add version stable/2020-11-01
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-11-01/examples/WafListManagedRuleSets.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-11-01/examples/WafListPolicies.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-11-01/examples/WafPolicyCreateOrUpdate.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-11-01/examples/WafPolicyDelete.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-11-01/examples/WafPolicyGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-11-01/network.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-11-01/webapplicationfirewall.json
  specification/frontdoor/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-BreakingChange-Python

#12250 Support for FPGA network interface on network profile for VM scale set
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/examples/CreateAScaleSetFromWithFpgaNetworkInterface.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python, customer-reported

#11795 [Hub Generated] Review request for Microsoft.SecurityInsights to add version preview/2019-01-01-preview
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/watchlists/CreateWatchlist.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/watchlists/CreateWatchlistItem.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/watchlists/DeleteWatchlistItem.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go

#11259 [Hub Generated] Review request for Microsoft.Quantum to add version preview/2019-11-04-preview
  custom-words.txt
  specification/quantum/data-plane/Microsoft.Quantum/preview/2019-11-04-preview/examples/jobDelete.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2019-11-04-preview/examples/jobGet.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2019-11-04-preview/examples/jobList.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2019-11-04-preview/examples/jobPut.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2019-11-04-preview/examples/providerStatus.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2019-11-04-preview/examples/storageGet.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2019-11-04-preview/quantum.json
  specification/quantum/data-plane/readme.csharp.md
  specification/quantum/data-plane/readme.java.md
  specification/quantum/data-plane/readme.md
  specification/quantum/data-plane/readme.nodejs.md
  specification/quantum/data-plane/readme.python.md
  specification/quantum/data-plane/readme.typescript.md
Labels: CI-BreakingChange-Python

#12226 [2020-06-01-preview] Update certificate add refreshSecret operation
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/apimcertificates.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementRefreshCertificate.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, NewApiVersionRequired, Reviewed-ChangesRequired

#12270 [Hub Generated] Review request for Microsoft.Advisor to add version stable/2020-01-01
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2020-01-01/advisor.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go

#12295 VMGuestPatch: Reverting WindowsPatchSettings back to patchSettings and adding [Preview Feature] tag to all preview properties for vm guest patch
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/compute.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#12318 [Hub Generated] Review request for Microsoft.IoTCentral to add version stable/2018-09-01
  specification/iotcentral/resource-manager/Microsoft.IoTCentral/stable/2018-09-01/examples/Apps_Get.json
  specification/iotcentral/resource-manager/Microsoft.IoTCentral/stable/2018-09-01/examples/Apps_ListByResourceGroup.json
  specification/iotcentral/resource-manager/Microsoft.IoTCentral/stable/2018-09-01/examples/Apps_ListBySubscription.json
  specification/iotcentral/resource-manager/Microsoft.IoTCentral/stable/2018-09-01/iotcentral.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, NewApiVersionRequired

#12223 [2020-06-01-preview] Update namedvalue add refreshSecret operation
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/apimnamedvalues.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementRefreshNamedValue.json
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-BreakingChange-Python, NewApiVersionRequired

#12306 AAS - Fix Swagger Correctness Issue
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/preview/2017-08-01-beta/analysisservices.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/preview/2017-08-01-beta/examples/listGatewayStatus.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2016-05-16/analysisservices.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-07-14/analysisservices.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/analysisservices.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples/listGatewayStatus.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go

#12301 Move sentinel office teams to stable
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/examples/dataConnectors/CreateOfficeDataConnetor.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/examples/dataConnectors/GetOfficeDataConnetorById.json
Labels: CI-BreakingChange-Go

#12311 aks: generate 2021-02-01 sdk
  specification/containerservice/resource-manager/readme.azureresourceschema.md
  specification/containerservice/resource-manager/readme.go.md
  specification/containerservice/resource-manager/readme.java.md
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, ReadyForSDKReview

#12212 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2019-11-01
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/costmanagement.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/BillingAccountDimensionsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/BillingAccountDimensionsListExpandAndTop.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/BillingAccountDimensionsListWithFilter.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/DepartmentDimensionsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/DepartmentDimensionsListExpandAndTop.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/DepartmentDimensionsListWithFilter.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/EnrollmentAccountDimensionsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/EnrollmentAccountDimensionsListExpandAndTop.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/EnrollmentAccountDimensionsListWithFilter.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCABillingAccountDimensionsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCABillingAccountDimensionsListExpandAndTop.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCABillingAccountDimensionsListWithFilter.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCABillingProfileDimensionsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCABillingProfileDimensionsListExpandAndTop.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCABillingProfileDimensionsListWithFilter.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCACustomerDimensionsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCACustomerDimensionsListExpandAndTop.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCACustomerDimensionsListWithFilter.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCAInvoiceSectionDimensionsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCAInvoiceSectionDimensionsListExpandAndTop.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCAInvoiceSectionDimensionsListWithFilter.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ManagementGroupDimensionsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ManagementGroupDimensionsListExpandAndTop.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ManagementGroupDimensionsListWithFilter.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ResourceGroupDimensionsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/SubscriptionDimensionsList.json
Labels: Approved-BreakingChange

#11643 Add api-version monitor to go SDK
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-03-01-preview/activityLogAlerts_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/diagnosticsSettingsCategories_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/diagnosticsSettings_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/metricDefinitions_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/metrics_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/subscriptionDiagnosticsSettings_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-11-01-preview/baseline_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-11-01-preview/calculateBaseline_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-12-01-preview/metricNamespaces_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2018-06-01-preview/guestDiagnosticSettingsAssociation_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2018-06-01-preview/guestDiagnosticSettings_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2018-11-27-preview/vmInsightsOnboarding_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/privateLinkScopes_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-11-01-preview/dataCollectionRuleAssociations_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-11-01-preview/dataCollectionRules_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2020-01-01-preview/managementGroupDiagnosticSettings_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2020-05-01-preview/scheduledQueryRule_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2015-04-01/activityLogs_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2015-04-01/autoscale_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2015-04-01/eventCategories_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2015-04-01/operations_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2015-04-01/tenantActivityLogs_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2015-07-01/serviceDiagnosticsSettings_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2016-03-01/alertRulesIncidents_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2016-03-01/alertRules_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2016-03-01/logProfiles_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2016-03-01/metricDefinitions_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2016-09-01/metrics_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2016-09-01/serviceDiagnosticsSettings_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2017-04-01/actionGroups_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2017-04-01/activityLogAlerts_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-01-01/metricDefinitions_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-01-01/metrics_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-03-01/actionGroups_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-03-01/metricAlert_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-04-16/scheduledQueryRule_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-09-01/actionGroups_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-09-01/baseline_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-09-01/calculateBaseline_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-03-01/actionGroups_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-03-01/metricBaselines_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-06-01/actionGroups_API.json
  specification/monitor/resource-manager/readme.go.md
  specification/monitor/resource-manager/readme.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, DoNotMerge

#12192 remove unnecessary bool enums
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2020-10-01-preview/kubernetesconfiguration.json
Labels: CI-BreakingChange-Python

#11946 add healthcareapis track2 config
  specification/healthcareapis/resource-manager/readme.python.md
Labels: no-recent-activity

#11294 Adding Force Deletion Query Parameter for Resource Group Delete
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/examples/ForceDeleteVMsInResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/resources.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, Reviewed-ChangesRequired

#9790 [Hub Generated] Review request for Microsoft.Insights to add version stable/2018-03-01
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-03-01/metricAlert_API.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, DoNotMerge

#12109 [Hub Generated] Review request for Microsoft.SerialConsole to add version stable/2018-05-01
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/stable/2018-05-01/examples/CreateSerialPort.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/stable/2018-05-01/examples/DeleteSerialPort.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/stable/2018-05-01/examples/GetSerialPort.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/stable/2018-05-01/examples/ListSerialPort.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/stable/2018-05-01/examples/ListSerialPortSubscription.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/stable/2018-05-01/examples/SerialPortConnectVM.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/stable/2018-05-01/examples/SerialPortConnectVMSS.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/stable/2018-05-01/serialport.json
  specification/serialconsole/resource-manager/readme.azureresourceschema.md
  specification/serialconsole/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired

#12356 [network ]update tag 2020-08 for Python
  specification/network/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python

#12349 [Security Center Automations] Add Secure Scores and Regulatory Compliance snapshot event sources
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/automations.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#12240 add MetricDimension properties to AVS
  specification/vmware/resource-manager/Microsoft.AVS/preview/2020-07-17-preview/vmware.json
  specification/vmware/resource-manager/Microsoft.AVS/stable/2020-03-20/vmware.json
  specification/vmware/resource-manager/readme.md
Labels: Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-Python

#12248 Supporting User MSI and CMK in RS Vault CRUD Operation
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/CheckNameAvailability_Available.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/CheckNameAvailability_NotAvailable.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/examples/UpdateVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/registeredidentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/replicationusages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/vaults.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2020-02-02/vaultusages.json
  specification/recoveryservices/resource-manager/readme.md
Labels: ARMSignedOff

#12309 aks: add `allowNetworkPluginKubenet` field to `ManagedClusterPodIdentityProfile`
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2021-02-01/examples/ManagedClustersCreate_PodIdentity.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2021-02-01/managedClusters.json
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, Reviewed-ChangesRequired

#12333 Microsoft.Automation swagger linter-check fix for sdk generation
  specification/automation/resource-manager/Microsoft.Automation/preview/2020-01-13-preview/privateEndpointConnection.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2020-01-13-preview/privateLinkResources.json
Labels: BreakingChangeReviewRequired, CI-BreakingChange-Python, CI-FixRequiredOnFailure

#12231 [Hub Generated] Review request for Microsoft.Insights to add version stable/2018-03-01
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-03-01/metricAlert_API.json
  specification/monitor/resource-manager/readme.md
Labels: Approved-BreakingChange, Approved-OkToMerge, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#12366 Add entity linking task to analyze
  specification/cognitiveservices/data-plane/TextAnalytics/preview/v3.1-preview.4/TextAnalytics.json
Labels: CI-FixRequiredOnFailure

#12275 Added move validation enum values & fix S360 linting issues
  specification/billing/resource-manager/Microsoft.Billing/preview/2017-02-27-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2017-04-24-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-03-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-03-01-preview/billingV2.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/examples/AcceptTransfer.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/examples/InitiateTransfer.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/billing.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python

#12286 Adding default values to fix correctness issue
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2020-07-01-preview/signalr.json
  specification/signalr/resource-manager/Microsoft.SignalRService/stable/2020-05-01/signalr.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#12094 Updating WindowsIot Swagger Issues (S360 Swagger Linting)
  specification/windowsiot/resource-manager/Microsoft.WindowsIoT/stable/2019-06-01/WindowsIotServices.json
  specification/windowsiot/resource-manager/Microsoft.WindowsIoT/stable/2019-06-01/examples/Service_Create.json
  specification/windowsiot/resource-manager/Microsoft.WindowsIoT/stable/2019-06-01/examples/Service_Delete.json
  specification/windowsiot/resource-manager/Microsoft.WindowsIoT/stable/2019-06-01/examples/Service_Update.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go

#12144 Azure Red Hat OpenShift 2021 01 31 preview API
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/preview/2021-01-31-preview/examples/OpenShiftClusters_CreateOrUpdate.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/preview/2021-01-31-preview/examples/OpenShiftClusters_Delete.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/preview/2021-01-31-preview/examples/OpenShiftClusters_Get.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/preview/2021-01-31-preview/examples/OpenShiftClusters_List.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/preview/2021-01-31-preview/examples/OpenShiftClusters_ListAdminKubeconfig.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/preview/2021-01-31-preview/examples/OpenShiftClusters_ListByResourceGroup.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/preview/2021-01-31-preview/examples/OpenShiftClusters_ListCredentials.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/preview/2021-01-31-preview/examples/OpenShiftClusters_Update.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/preview/2021-01-31-preview/examples/Operations_List.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/preview/2021-01-31-preview/redhatopenshift.json
  specification/redhatopenshift/resource-manager/readme.azureresourceschema.md
  specification/redhatopenshift/resource-manager/readme.go.md
  specification/redhatopenshift/resource-manager/readme.md
  specification/redhatopenshift/resource-manager/readme.python.md
Labels: ARMSignedOff

#11746 Users/tolee/workbooks s360 compliance
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-10-20/examples/MyWorkbookDelete.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-10-20/examples/MyWorkbookUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-10-20/examples/MyWorkbooksList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-10-20/examples/MyWorkbooksList2.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-10-20/examples/WorkbookDelete.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-10-20/examples/WorkbookManagedUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-10-20/examples/WorkbookUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-10-20/examples/WorkbooksList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-10-20/myworkbooks_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-10-20/workbooks_API.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired

#12219 [Fix Broken S360 Issues][HDInsight]Fix S360 issues batch1
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/cluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/locations.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#12379 SignalR service re-order Paths and definitions
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2020-07-01-preview/signalr.json
Labels: CI-BreakingChange-Python

#12214 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2020-06-01
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2020-06-01/costmanagement.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#12302 S360: Add server security alerts list by server
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-preview/examples/ServerSecurityAlertsListByServer.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-preview/mariadb.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/stable/2018-06-01/ServerSecurityAlertPolicies.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/stable/2018-06-01/examples/ServerSecurityAlertsListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-12-01-preview/examples/ServerSecurityAlertsListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-12-01-preview/mysql.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2017-12-01/ServerSecurityAlertPolicies.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2017-12-01/examples/ServerSecurityAlertsListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-12-01-preview/examples/ServerSecurityAlertsGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-12-01-preview/examples/ServerSecurityAlertsListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-12-01-preview/postgresql.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2017-12-01/ServerSecurityAlertPolicies.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2017-12-01/examples/ServerSecurityAlertsListByServer.json
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, NewApiVersionRequired

#12369 Revert Gallery Application API from 2020-12-01 Compute Rest API release
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateAScaleSetWithApplicationProfile.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateAVmWithApplicationProfile.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/GetVirtualMachine.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#11869 [Hub Generated] Review request for Microsoft.KeyVault to add version preview/2020-04-01-preview
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/common.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/examples/createVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/examples/createVaultWithNetworkAcls.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/examples/deleteVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/examples/getDeletedVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/examples/getPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/examples/getVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/examples/listDeletedVaults.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/examples/listOperations.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/examples/listVaultByResourceGroup.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/examples/listVaultBySubscription.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/examples/purgeDeletedVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/examples/putPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/examples/updateAccessPoliciesAdd.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/examples/updateVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/keyvault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/providers.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/secrets.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#11607 [Hub Generated] Review request for Microsoft.KeyVault to add version stable/2019-09-01
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/createVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/createVaultWithNetworkAcls.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/deleteVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/getDeletedVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/getPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/getVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/listDeletedVaults.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/listOperations.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/listVaultByResourceGroup.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/listVaultBySubscription.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/purgeDeletedVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/putPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/updateAccessPoliciesAdd.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/updateVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/keyvault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/providers.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/secrets.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#12344 Opinion Mining API changes for Preview.4
  specification/cognitiveservices/data-plane/TextAnalytics/preview/v3.1-preview.4/TextAnalytics.json
  specification/cognitiveservices/data-plane/TextAnalytics/preview/v3.1-preview.4/examples/SuccessfulSentimentRequest.json
  specification/cognitiveservices/data-plane/TextAnalytics/readme.md
Labels: CI-FixRequiredOnFailure, WaitForARMFeedback

#12017 Add documentation for unchanged value
  specification/search/data-plane/Azure.Search/preview/2020-06-30-Preview/searchservice.json
  specification/search/data-plane/Azure.Search/preview/2020-06-30/searchservice.json
Labels: no-recent-activity

#12307 One final private link connection fix, hopefully the last
  specification/attestation/resource-manager/Microsoft.Attestation/stable/2020-10-01/attestation.json
  specification/attestation/resource-manager/Microsoft.Attestation/stable/2020-10-01/examples/AttestationProviderDeletePrivateEndpointConnection.json
  specification/attestation/resource-manager/Microsoft.Attestation/stable/2020-10-01/examples/AttestationProviderGetPrivateEndpointConnection.json
  specification/attestation/resource-manager/Microsoft.Attestation/stable/2020-10-01/examples/AttestationProviderListPrivateEndpointConnections.json
  specification/attestation/resource-manager/Microsoft.Attestation/stable/2020-10-01/examples/AttestationProviderPutPrivateEndpointConnection.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python, CI-FixRequiredOnFailure, NewApiVersionRequired

#12374 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2019-11-01
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/costmanagement.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ViewListByResourceGroup.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python

#12312 Update readme config for confluent
  specification/confluent/resource-manager/readme.az.md
  specification/confluent/resource-manager/readme.cli.md
  specification/confluent/resource-manager/readme.md
  specification/confluent/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#12290 rotate passwords for AVS 2020-07-17-preview
  specification/vmware/resource-manager/Microsoft.AVS/preview/2020-07-17-preview/examples/PrivateClouds_RotateNsxtPassword.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2020-07-17-preview/examples/PrivateClouds_RotateVcenterPassword.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2020-07-17-preview/examples/PrivateClouds_Update.json
  specification/vmware/resource-manager/Microsoft.AVS/preview/2020-07-17-preview/vmware.json
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, NewApiVersionRequired

#12281 Updated SDK documentation and Updated Reservation API version to previous SDK release version.
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2020-10-25/quota.json
  specification/reservations/resource-manager/readme.go.md
  specification/reservations/resource-manager/readme.md
Labels: CI-BreakingChange-Python

#12131 ApiManagement - certificates in backends
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementCreateBackendServiceFabric.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementGetBackend.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementListBackends.json
Labels: 2020-06-01-preview, API Management, CI-BreakingChange-Python

#12293 Fix ARM Errors and update the swagger files.
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/BlobAuditing.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/DatabaseOperations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/DatabaseUsages.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/Databases.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/ElasticPools.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/LongTermRetentionBackups.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/ManagedDatabaseQueries.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/ManagedDatabases.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/RecoverableManagedDatabases.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/ReplicationLinks.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/ServerDevOpsAudit.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/ServerOperations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/Servers.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/TimeZones.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ManagedInstanceUpdateMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ServerDevOpsAuditCreateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ServerDevOpsAuditCreateMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ServerDevOpsAuditGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/ServerDevOpsAuditSettingsList.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/BlobAuditing.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/DatabaseExtensions.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/DatabaseOperations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/DatabaseUsages.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/Databases.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/ElasticPools.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/LongTermRetentionBackups.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/ManagedDatabaseQueries.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/ManagedDatabases.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/ManagedInstanceEncryptionProtectors.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/RecoverableManagedDatabases.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/ReplicationLinks.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/ServerOperations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/Servers.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/TimeZones.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/CreateOrUpdateDatabaseExtensions.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/GetDatabaseExtensions.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/ListDatabaseExtensions.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/ManagedInstanceUpdateMin.json
  specification/sql/resource-manager/readme.md
Labels: BreakingChangeReviewRequired, CI-BreakingChange-Go

#12198 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2019-11-01
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/costmanagement.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/BillingAccountForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/BillingAccountQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/BillingAccountQueryGrouping.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/BillingProfileForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/DepartmentForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/DepartmentQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/DepartmentQueryGrouping.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/EnrollmentAccountForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/EnrollmentAccountQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/EnrollmentAccountQueryGrouping.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExternalBillingAccountForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExternalBillingAccountsQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExternalSubscriptionForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ExternalSubscriptionsQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/InvoiceSectionForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCABillingAccountQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCABillingAccountQueryGrouping.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCABillingProfileQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCABillingProfileQueryGrouping.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCACustomerQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCACustomerQueryGrouping.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCAInvoiceSectionQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/MCAInvoiceSectionQueryGrouping.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ManagementGroupQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ManagementGroupQueryGrouping.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ResourceGroupForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ResourceGroupQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/ResourceGroupQueryGrouping.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/SubscriptionForecast.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/SubscriptionQuery.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/SubscriptionQueryGrouping.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python

#11202 DiskRP Swagger for 09/30
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/disk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ApprovePrivateEndpointConnection.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateADiskAccess.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateADiskEncryptionSet.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateADiskEncryptionSetWithKeyVaultFromADifferentSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateAManagedDiskByCopyingASnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateAManagedDiskByImportingAnUnmanagedBlobFromADifferentSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateAManagedDiskByImportingAnUnmanagedBlobFromTheSameSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateAManagedDiskFromAPlatformImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateAManagedDiskFromAnExistingManagedDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateAManagedDiskWithDiskAccess.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateAManagedDiskWithDiskEncryptionSet.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateAManagedDiskWithLogicalSectorSize.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateAManagedUploadDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateASnapshotByImportingAnUnmanagedBlobFromADifferentSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateASnapshotByImportingAnUnmanagedBlobFromTheSameSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateASnapshotFromAnExistingSnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateAnEmptyManagedDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateAnEmptyManagedDiskInExtendedLocation.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateOrUpdateABurstingEnabledManagedDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/DeleteADiskAccess.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/DeleteADiskEncryptionSet.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/DeleteAPrivateEndpointConnection.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetDiskAccessPrivateLinkResources.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetDiskRestorePointResources.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetInformationAboutADiskAccess.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetInformationAboutADiskAccessWithPrivateEndpoints.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetInformationAboutADiskEncryptionSet.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetInformationAboutAManagedDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetInformationAboutAPrivateEndpointConnection.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetInformationAboutASnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListDiskAccessesInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListDiskAccessesInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListDiskEncryptionSetAssociatedResources.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListDiskEncryptionSetsInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListDiskEncryptionSetsInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListDiskRestorePointsInVmRestorePoint.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListManagedDisksInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListManagedDisksInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListPrivateEndpointConnectionsInADiskAccess.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListSnapshotsInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListSnapshotsInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/UpdateADiskAccess.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/UpdateADiskEncryptionSet.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/UpdateAManagedDiskToAddPurchasePlan.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/UpdateAManagedDiskToDisableBursting.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/UpdateAManagedDiskToRemoveDiskAccess.json
  specification/compute/resource-manager/readme.md
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2-preview/examples/DeleteRoleDefinition-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2-preview/examples/GetRoleDefinition-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2-preview/examples/PutRoleDefinition-example.json
Labels: ARMSignedOff, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#12429 Add new api-version 2020-08-01 of network to go sdk
  specification/network/resource-manager/readme.go.md
Labels: CI-BreakingChange-Python

#11516 add advisor track2 config
  specification/advisor/resource-manager/readme.md
Labels: Advisor, CI-BreakingChange-Go, no-recent-activity

#11887 add powerbidedicated track2 config
  specification/powerbidedicated/resource-manager/readme.python.md
Labels: PowerBI, no-recent-activity

#12422 AAS - Fix Swagger Correctness Issue v3
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/preview/2017-08-01-beta/analysisservices.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2016-05-16/analysisservices.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-07-14/analysisservices.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/analysisservices.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go

#12206 Resource health 2021 01 01 pre
  custom-words.txt
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2021-01-01/ResourceHealth.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2021-01-01/examples/PotentialOutages_Get.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2021-01-01/examples/PotentialOutages_List.json
Labels: ARMSignedOff

#11902 Updating to use common types and fixing Service 360 violation.
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/preview/2020-04-01-preview/changeanalysis.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#12361 AKS: add fqdnSubdomain for private cluster with custom private dns zone
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2021-02-01/examples/ManagedClustersCreate_PrivateClusterFQDNSubdomain.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2021-02-01/managedClusters.json
Labels: CI-BreakingChange-Python-Track2

#12432 [Hub Generated] Review request for Microsoft.Insights to add version stable/2018-09-01
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-09-01/calculateBaseline_API.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#12317 Correct swagger spec for error responses.
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/examples/HanaInstances_Create.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/examples/SapMonitors_Create.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/hanaonazure.json
  specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2020-02-07-preview/hanaonazure.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python

#12280 Fix the response model for QueryEntitiesWithPartitionAndRowKey
  specification/cosmos-db/data-plane/Microsoft.Tables/preview/2019-02-02/examples/TableQueryEntitiesWithPartitionAndRowKey.json
  specification/cosmos-db/data-plane/Microsoft.Tables/preview/2019-02-02/examples/TableQueryEntityWithPartitionAndRowKey.json
  specification/cosmos-db/data-plane/Microsoft.Tables/preview/2019-02-02/table.json
Labels: BreakingChangeReviewRequired, NewApiVersionRequired

#12435 [communication] Add MicrosoftTeamsUser identifier kind and make id optional
  specification/communication/data-plane/Microsoft.CommunicationServicesCommon/preview/2020-11-19-preview1/common.json
Labels: BreakingChangeReviewRequired

#12424 Added missing APIs in Synapse Swagger.
  custom-words.txt
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/bigDataPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/CreateOrUpdateGeoBackupPolicies.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/CreateOrUpdateMaintenanceWindows.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/DataMaskingRuleGet.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/GetMaintenanceWindowOptions.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/GetMaintenanceWindows.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/GetPrivateLinkHubPrivateLinkResource.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/ListPrivateLinkHubPrivateLinkResources.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/SensitivityLabelsCurrentUpdate.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/examples/SensitivityLabelsRecommendedUpdate.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/privateLinkResources.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/sqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/workspace.json
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, NewApiVersionRequired

#12347 [Hub Generated] Review request for Microsoft.Consumption to add version stable/2019-10-01
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/examples/ForecastsListFilterByDates.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/examples/ForecastsListFilterByGrain.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python

#12371 [Hub Generated] Review request for Microsoft.Insights to add version stable/2018-03-01
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-03-01/metricAlert_API.json
  specification/monitor/resource-manager/readme.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#11870 add netapp track2 config
  specification/netapp/resource-manager/readme.md
  specification/netapp/resource-manager/readme.python.md
Labels: NetApp

#12462 syncing changes from 2020-06-01-preview api
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/apimcertificates.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/apimnamedvalues.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementRefreshCertificate.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementRefreshNamedValue.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python, NewApiVersionRequired

#12413 Dev monitor microsoft.insights 2016 03 01
  specification/monitor/resource-manager/Microsoft.Insights/stable/2016-03-01/alertRules_API.json
  specification/monitor/resource-manager/readme.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, NewApiVersionRequired

#11266 [Hub Generated] Review request for Microsoft.Quantum to add version preview/2019-11-04-preview
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2019-11-04-preview/examples/offeringsList.json
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2019-11-04-preview/examples/quantumWorkspacesDelete.json
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2019-11-04-preview/examples/quantumWorkspacesGet.json
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2019-11-04-preview/examples/quantumWorkspacesListResourceGroup.json
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2019-11-04-preview/examples/quantumWorkspacesListSubscription.json
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2019-11-04-preview/examples/quantumWorkspacesPatch.json
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2019-11-04-preview/examples/quantumWorkspacesPut.json
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2019-11-04-preview/quantum.json
  specification/quantum/resource-manager/readme.csharp.md
  specification/quantum/resource-manager/readme.go.md
  specification/quantum/resource-manager/readme.md
  specification/quantum/resource-manager/readme.python.md
  specification/quantum/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#12468 Add ThreatIntelligence and MLBehaviorAnalytics to our swagger
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
Labels: CI-BreakingChange-Go

#12142 Swagger changes for Edge Order Service
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/2020-12-01-preview/edgeorder.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/2020-12-01-preview/examples/AddressCreate.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/2020-12-01-preview/examples/AddressDelete.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/2020-12-01-preview/examples/AddressGetByName.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/2020-12-01-preview/examples/AddressPatch.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/2020-12-01-preview/examples/AddressesGetAtResourceGrouplevel.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/2020-12-01-preview/examples/AddressesGetAtSubscriptionLevel.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/2020-12-01-preview/examples/ListConfigurations.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/2020-12-01-preview/examples/ListOperations.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/2020-12-01-preview/examples/ListProductFamilies.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/2020-12-01-preview/examples/ListProductFamiliesMetadata.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/2020-12-01-preview/examples/OrderCancel.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/2020-12-01-preview/examples/OrderCollectionCreate.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/2020-12-01-preview/examples/OrderCollectionDelete.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/2020-12-01-preview/examples/OrderCollectionGet.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/2020-12-01-preview/examples/OrderCollectionListAtRGLevel.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/2020-12-01-preview/examples/OrderCollectionListAtSubscriptionLevel.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/2020-12-01-preview/examples/OrderCollectionUpdate.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/2020-12-01-preview/examples/OrderCreate.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/2020-12-01-preview/examples/OrderDelete.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/2020-12-01-preview/examples/OrderGet.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/2020-12-01-preview/examples/OrderGetByRG.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/2020-12-01-preview/examples/OrderGetBySubscription.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/2020-12-01-preview/examples/OrderReturn.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/2020-12-01-preview/examples/OrderUpdate.json
  specification/edgeorder/resource-manager/readme.md
Labels: ARMSignedOff

#12398 Fixing swagger correctness issues for Resource Mover Service
  specification/resourcemover/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/resourcemovercollection.json
Labels: CI-BreakingChange-Go

#12189 RMS - Adding changes to fix the correctness validation issues.
  specification/resourcemover/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/resourcemovercollection.json
Labels: CI-BreakingChange-Go

#12195 [Hub Generated] Review request for Microsoft.KubernetesConfiguration to add version preview/2020-10-01-preview
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2020-10-01-preview/kubernetesconfiguration.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python

#12159 Azure CDN : Change casing for subscription ID and API version
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-09-01/afdx.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-09-01/cdn.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-09-01/cdnwebapplicationfirewall.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go

#12433 [Hub Generated] Review request for Microsoft.BotService to add version stable/2020-06-02
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/botservice.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/examples/GetConnection.json
  specification/botservice/resource-manager/readme.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python, NewApiVersionRequired

#12348 Remove containerService.json from new release
  specification/compute/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#12444 [Hub Generated] Review request for Microsoft.Network to add version stable/2020-11-01
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-11-01/examples/WafListPolicies.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-11-01/examples/WafPolicyCreateOrUpdate.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-11-01/examples/WafPolicyGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-11-01/webapplicationfirewall.json
Labels: CI-BreakingChange-Python

#12440 Datr/remove unusedsso contextfriendly name
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2020-11-10-preview/desktopvirtualization.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2020-11-10-preview/examples/HostPool_Create.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2020-11-10-preview/examples/HostPool_Delete.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2020-11-10-preview/examples/HostPool_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2020-11-10-preview/examples/HostPool_List.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2020-11-10-preview/examples/HostPool_ListByResourceGroup.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2020-11-10-preview/examples/HostPool_Update.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2020-11-10-preview/examples/OperationDescription_List.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2020-11-10-preview/examples/StartMenuItem_List.json
  specification/desktopvirtualization/resource-manager/readme.azureresourceschema.md
  specification/desktopvirtualization/resource-manager/readme.go.md
  specification/desktopvirtualization/resource-manager/readme.java.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#12415 Fixed the operationId of get/put/delete action
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/SecurityInsights.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go

#12125 [Hub Generated] Review request for Microsoft.HealthcareApis to add version stable/2021-01-11
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2021-01-11/examples/CheckNameAvailabilityPost.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2021-01-11/examples/OperationResultsGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2021-01-11/examples/OperationsList.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2021-01-11/examples/PrivateLinkResourceGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2021-01-11/examples/PrivateLinkResourcesListByService.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2021-01-11/examples/ServiceCreate.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2021-01-11/examples/ServiceCreateMinimum.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2021-01-11/examples/ServiceCreatePrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2021-01-11/examples/ServiceDelete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2021-01-11/examples/ServiceDeletePrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2021-01-11/examples/ServiceGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2021-01-11/examples/ServiceGetPrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2021-01-11/examples/ServiceList.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2021-01-11/examples/ServiceListByResourceGroup.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2021-01-11/examples/ServiceListPrivateEndpointConnections.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2021-01-11/examples/ServicePatch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2021-01-11/healthcare-apis.json
  specification/healthcareapis/resource-manager/readme.azureresourceschema.md
  specification/healthcareapis/resource-manager/readme.md
Labels: ARMSignedOff, Approved-OkToMerge

#12493 [Fix broken S360 Issues][HDInsight] Fix S360 issues batch2
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/applications.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/cluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/examples/DeleteApplication.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/examples/DeleteExtension.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/examples/DeleteLinuxHadoopCluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/examples/DeleteScriptAction.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/examples/DisableLinuxClusterMonitoring.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/extensions.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/operations.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/scriptActions.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#12337 [Hub Generated] Review request for Microsoft.MixedReality to add version stable/2021-01-01
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2021-01-01/common.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2021-01-01/examples/proxy/CheckNameAvailabilityForLocalUniqueness.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2021-01-01/examples/proxy/ExposingAvailableOperations.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2021-01-01/examples/remote-rendering/Delete.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2021-01-01/examples/remote-rendering/Get.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2021-01-01/examples/remote-rendering/GetByResourceGroup.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2021-01-01/examples/remote-rendering/GetBySubscription.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2021-01-01/examples/remote-rendering/ListKeys.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2021-01-01/examples/remote-rendering/Patch.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2021-01-01/examples/remote-rendering/Put.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2021-01-01/examples/remote-rendering/RegenerateKey.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2021-01-01/examples/spatial-anchors/Delete.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2021-01-01/examples/spatial-anchors/Get.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2021-01-01/examples/spatial-anchors/GetByResourceGroup.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2021-01-01/examples/spatial-anchors/GetBySubscription.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2021-01-01/examples/spatial-anchors/ListKeys.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2021-01-01/examples/spatial-anchors/Patch.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2021-01-01/examples/spatial-anchors/Put.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2021-01-01/examples/spatial-anchors/RegenerateKey.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2021-01-01/proxy.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2021-01-01/remote-rendering.json
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2021-01-01/spatial-anchors.json
  specification/mixedreality/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-BreakingChange-Python

#12474 Add Anomaly as a kind to alertRule kinds
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
Labels: CI-BreakingChange-Go

#12518 [Synapse] - Add 202 response scheme and LRO for job definition and SQL script
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/artifacts.json
Labels: BreakingChangeReviewRequired

#12523 Edit Gallery feature to correspond to backend CRP api
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/CreateOrUpdateASimpleGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/GetAGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/GetAGalleryApplicationVersionWithReplicationStatus.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/ListGalleryApplicationVersionsInAGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/UpdateASimpleGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/gallery.json
Labels: BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#12512 [Hub Generated] Review request for Microsoft.Insights to add version stable/2019-03-01
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-03-01/examples/metricBaselines.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-03-01/metricBaselines_API.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#11937 [Hub Generated] Review request for Microsoft.AzureStack to add version stable/2017-06-01
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/AzureStack.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/CustomerSubscription.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/Product.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/Registration.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/examples/Product/GetPost.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/examples/Product/ListPost.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/examples/Product/UploadLog.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/examples/RemoteManagement/Post.json
  specification/azurestack/resource-manager/readme.azureresourceschema.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, NewApiVersionRequired, Reviewed-ChangesRequired

#12511 Purview update public network access and patch API
  specification/purview/resource-manager/Microsoft.Purview/preview/2020-12-01-preview/examples/Accounts_CreateOrUpdate.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2020-12-01-preview/examples/Accounts_Delete.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2020-12-01-preview/examples/Accounts_Get.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2020-12-01-preview/examples/Accounts_ListByResourceGroup.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2020-12-01-preview/examples/Accounts_ListBySubscription.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2020-12-01-preview/examples/Accounts_Update.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2020-12-01-preview/purview.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#12314 [Hub Generated] Review request for Microsoft.Insights to add version stable/2018-09-01
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-09-01/examples/metricBaselines.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-09-01/metricBaselines_API.json
  specification/monitor/resource-manager/readme.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#12188 add eventgrid track2 config
  specification/eventgrid/resource-manager/readme.python.md
Labels: no-recent-activity

#12438 Fixed old gallery application version properties
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/CreateOrUpdateASimpleGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/GetAGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/GetAGalleryApplicationVersionWithReplicationStatus.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/examples/ListGalleryApplicationVersionsInAGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/gallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/CreateOrUpdateASimpleGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/GetAGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/GetAGalleryApplicationVersionWithReplicationStatus.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/ListGalleryApplicationVersionsInAGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/UpdateASimpleGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/gallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/CreateOrUpdateASimpleGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/GetAGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/GetAGalleryApplicationVersionWithReplicationStatus.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/ListGalleryApplicationVersionsInAGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/UpdateASimpleGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/gallery.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python

#12345 [Datadog] Add api version parameter
  specification/datadog/resource-manager/Microsoft.Datadog/preview/2020-02-01-preview/datadog.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python

#12452 Revert Gallery 2020-09-30 version from latest release
  specification/compute/resource-manager/readme.md
Labels: CI-BreakingChange-Python

#12531 AAS - Fix Swagger Correctness Issue V4
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2016-05-16/analysisservices.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-07-14/analysisservices.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/analysisservices.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/examples/createServer.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go

#12129 [Hub Generated] Review request for Microsoft.ContainerInstance to add version stable/2020-11-01
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2020-11-01/containerInstance.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2020-11-01/examples/ContainerAttach.json
Labels: CI-BreakingChange-Python

#12385 Operational insights data exports make tables name as required
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/OperationalInsights.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/DataExports.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-08-01/DataExports.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python, WaitForARMFeedback

#12504 Adding deep fetch swagger support for getUnresolvedDependencies api
  specification/resourcemover/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/resourcemovercollection.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, NewApiVersionRequired

#12521 Fix DiskRP Swagger "Type doesn't exist in PrivateEndpointConnection" error
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/disk.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#12533 [Hub Generated] Review request for Microsoft.Cdn to add version stable/2020-09-01
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-09-01/cdnwebapplicationfirewall.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go

#12476 Fix cases aggregations swagger corrections
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/aggregations/GetCasesAggregations.json
Labels: CI-BreakingChange-Go

#12506 Azure Resource Mover Swagger fixes
  specification/resourcemover/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/resourcemovercollection.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go

#12392 PII Types for 3.1-Preview.4
  specification/cognitiveservices/data-plane/TextAnalytics/preview/v3.1-preview.4/TextAnalytics.json
Labels: CI-FixRequiredOnFailure

#12403 Communication Chat - Update WIP preview version (2020-11-01-preview3)
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2020-11-01-preview3/communicationserviceschat.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2020-11-01-preview3/examples/Conversations_ListChatReadReceiptsWithPageSize.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2020-11-01-preview3/examples/Conversations_SendChatReadReceipt.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2020-11-01-preview3/examples/Messages_DeleteChatMessage.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2020-11-01-preview3/examples/Messages_GetChatMessage.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2020-11-01-preview3/examples/Messages_ListChatMessagesWithPageSize.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2020-11-01-preview3/examples/Messages_SendChatMessage.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2020-11-01-preview3/examples/Messages_SendTypingNotification.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2020-11-01-preview3/examples/Messages_UpdateChatMessage.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2020-11-01-preview3/examples/Participants_AddChatParticipants.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2020-11-01-preview3/examples/Participants_ListChatParticipantsWithPageSize.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2020-11-01-preview3/examples/Participants_RemoveChatParticipant.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2020-11-01-preview3/examples/Threads_CreateChatThread.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2020-11-01-preview3/examples/Threads_CreateChatThreadWithRepeatabilityRequestId.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2020-11-01-preview3/examples/Threads_DeleteChatThread.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2020-11-01-preview3/examples/Threads_GetChatThread.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2020-11-01-preview3/examples/Threads_ListChatThreadsWithPageSize.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2020-11-01-preview3/examples/Threads_UpdateChatThreadTopic.json
Labels: BreakingChangeReviewRequired, NewApiVersionRequired

#12560 [Batch] Fix: Readded incorrectly removed Location/Retry-After headers
  specification/batch/resource-manager/Microsoft.Batch/stable/2021-01-01/BatchManagement.json
Labels: CI-BreakingChange-Python

#11070 [Hub Generated] Review request for Microsoft.ResourceGraph to add version preview/2020-04-01-preview
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/examples/GraphQueryAdd.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/examples/GraphQueryGet.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/examples/GraphQueryList.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/examples/GraphQueryUpdate.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/graphquery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/examples/GraphQueryAdd.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/examples/GraphQueryGet.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/examples/GraphQueryList.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/examples/GraphQueryUpdate.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/examples/ResourcesHistoryGet.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/graphquery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/resourcechanges.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/resourcegraph.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-04-01-preview/resourceshistory.json
  specification/resourcegraph/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go

#12190 Adding patch operation in 2019-03-01 API
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/SmartDetectorAlertRulesApi.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/examples/SmartDetectorAlertRule_Patch.json
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go

#12586 typo: Gorup -> Group
  specification/applicationinsights/resource-manager/readme.cli.md
Labels: customer-reported

#12505 No snat firewall policy
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-11-01/webapplicationfirewall.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-11-01/examples/FirewallPolicyGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-11-01/examples/FirewallPolicyListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-11-01/examples/FirewallPolicyListBySubscription.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-11-01/examples/FirewallPolicyPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-11-01/firewallPolicy.json
Labels: CI-BreakingChange-Python

#12564 [Hub Generated] Review request for Microsoft.BotService to add version stable/2020-06-02
  specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/botservice.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python

#12585 fix: operatoin -> operation
  specification/applicationinsights/resource-manager/readme.cli.md
Labels: customer-reported

#12563 Enable Batch python track2 pipeline
  specification/batch/resource-manager/readme.md
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#12514 RMS - Adding key vault and DES resource settings.
  specification/resourcemover/resource-manager/Microsoft.Migrate/preview/2019-10-01-preview/resourcemovercollection.json
Labels: CI-BreakingChange-Go

#12603 chore: Update cSpell to v5
  package-lock.json
  package.json
Labels: customer-reported

#12571 Added examples for Microsoft.Solutions 2018-06-01 for S360 item.
  specification/resources/resource-manager/Microsoft.Solutions/stable/2018-06-01/examples/createOrUpdateApplicationById.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2018-06-01/examples/deleteApplication.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2018-06-01/examples/deleteApplicationById.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2018-06-01/examples/getApplicationById.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2018-06-01/examples/listApplicationsBySubscription.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2018-06-01/examples/updateApplication.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2018-06-01/examples/updateApplicationById.json
  specification/resources/resource-manager/Microsoft.Solutions/stable/2018-06-01/managedapplications.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#12616 Health descritpion and naming updates
  specification/cognitiveservices/data-plane/TextAnalytics/preview/v3.1-preview.4/TextAnalytics.json
Labels: CI-FixRequiredOnFailure

#12414 Model role scope, permissions, and role type as enum values
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2-preview/rbac.json
Labels: CI-BreakingChange-Go

#12623 Update to 2020-12 readme reqs
  specification/compute/resource-manager/readme.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#12354 Add missing entities
  custom-words.txt
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/entities/GetMailClusterEntityById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/entities/GetMailMessageEntityById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/entities/GetMailboxEntityById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/entities/GetSubmissionMailEntityById.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, LintRuleCandidate
