Repository Azure/azure-rest-api-specs, pull requests merged in 2021-04, with the labels that each got.

#12995 Hailiu/bot service web app settings
  custom-words.txt
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/botservice.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/CheckNameAvailability.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/CreateBot.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/DeleteBot.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/DeleteChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/DeleteConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/DeleteDirectLineSpeechChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/DirectlineRegenerateKeys.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/GetAlexaChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/GetBot.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/GetChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/GetConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/GetDirectLineSpeechChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/GetHostSettings.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/GetLineChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/GetOperations.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/ListBotsByResourceGroup.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/ListBotsBySubscription.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/ListChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/ListChannelsByBotService.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/ListConnectionsByBotService.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/ListServiceProviders.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/PutAlexaChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/PutChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/PutConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/PutDirectLineSpeechChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/PutLineChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/UpdateAlexaChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/UpdateBot.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/UpdateChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/UpdateConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/UpdateDirectLineSpeechChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/UpdateLineChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/WebChatRegenerateKeys.json
  specification/botservice/resource-manager/readme.azureresourceschema.md
  specification/botservice/resource-manager/readme.md
Labels: ARMSignedOff, Reviewed-ChangesRequired

#13681 [Hub Generated] Review request for Microsoft.HybridCompute to add version preview/2021-03-25-preview
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-03-25-preview/HybridCompute.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-03-25-preview/examples/DELETEExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-03-25-preview/examples/GETExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-03-25-preview/examples/LISTExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-03-25-preview/examples/Machines_CreateOrUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-03-25-preview/examples/Machines_Delete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-03-25-preview/examples/Machines_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-03-25-preview/examples/Machines_ListByResourceGroup.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-03-25-preview/examples/Machines_ListBySubscription.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-03-25-preview/examples/Machines_Update.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-03-25-preview/examples/PUTExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-03-25-preview/examples/PrivateEndpointConnectionDelete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-03-25-preview/examples/PrivateEndpointConnectionGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-03-25-preview/examples/PrivateEndpointConnectionList.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-03-25-preview/examples/PrivateEndpointConnectionUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-03-25-preview/examples/PrivateLinkScopePrivateLinkResourceGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-03-25-preview/examples/PrivateLinkScopePrivateLinkResourceListGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-03-25-preview/examples/PrivateLinkScopesCreate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-03-25-preview/examples/PrivateLinkScopesDelete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-03-25-preview/examples/PrivateLinkScopesGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-03-25-preview/examples/PrivateLinkScopesGetValidation.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-03-25-preview/examples/PrivateLinkScopesGetValidationForMachine.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-03-25-preview/examples/PrivateLinkScopesList.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-03-25-preview/examples/PrivateLinkScopesListByResourceGroup.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-03-25-preview/examples/PrivateLinkScopesUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-03-25-preview/examples/PrivateLinkScopesUpdateTagsOnly.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-03-25-preview/examples/UpdateExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-03-25-preview/privateLinkScopes.json
  specification/hybridcompute/resource-manager/readme.azureresourceschema.md
  specification/hybridcompute/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python

#13730 chore: Resort dictionary from bad merge
  custom-words.txt
Labels: customer-reported

#13739 Fix container service tags.
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2021-03-01/managedClusters.json
Labels: FixS360

#13576 New Partner APIs for ordering service
  specification/edgeorderpartner/resource-manager/Microsoft.EdgeOrderPartner/preview/2020-12-01-preview/edgeorderpartner.json
  specification/edgeorderpartner/resource-manager/Microsoft.EdgeOrderPartner/preview/2020-12-01-preview/examples/ListOperationsPartner.json
  specification/edgeorderpartner/resource-manager/Microsoft.EdgeOrderPartner/preview/2020-12-01-preview/examples/ManageInventoryMetadata.json
  specification/edgeorderpartner/resource-manager/Microsoft.EdgeOrderPartner/preview/2020-12-01-preview/examples/ManageLink.json
  specification/edgeorderpartner/resource-manager/Microsoft.EdgeOrderPartner/preview/2020-12-01-preview/examples/SearchInventories.json
  specification/edgeorderpartner/resource-manager/Microsoft.EdgeOrderPartner/preview/2020-12-01-preview/examples/SearchInventoriesDetails.json
  specification/edgeorderpartner/resource-manager/readme.azureresourceschema.md
  specification/edgeorderpartner/resource-manager/readme.md
Labels: ARMSignedOff, customer-reported

#13759 [Compute] Update readme.python.md
  specification/compute/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, Compute

#13758 add some missing tags for go SDK release
  specification/cost-management/resource-manager/readme.go.md
  specification/resourcegraph/resource-manager/readme.go.md
  specification/synapse/resource-manager/readme.go.md
  specification/web/resource-manager/readme.go.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#13724 [datafactory] add sql always encrypted settings
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
Labels: CI-BreakingChange-Go

#13673 chore: Ignore Ruleproperties in specific version
  cSpell.json
Labels: customer-reported

#13363 Issues/communicationautorest
  specification/communication/data-plane/Microsoft.CommunicationServicesAdministration/readme.csharp.md
  specification/communication/data-plane/Microsoft.CommunicationServicesAdministration/readme.md
  specification/communication/data-plane/Microsoft.CommunicationServicesAdministration/readme.python.md
  specification/communication/data-plane/Microsoft.CommunicationServicesAdministration/readme.ruby.md
  specification/communication/data-plane/Microsoft.CommunicationServicesAdministration/readme.typescript.md
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/readme.csharp.md
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/readme.md
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/readme.python.md
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/readme.ruby.md
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/readme.typescript.md
  specification/communication/data-plane/Microsoft.CommunicationServicesCommon/readme.csharp.md
  specification/communication/data-plane/Microsoft.CommunicationServicesCommon/readme.md
  specification/communication/data-plane/Microsoft.CommunicationServicesCommon/readme.python.md
  specification/communication/data-plane/Microsoft.CommunicationServicesCommon/readme.ruby.md
  specification/communication/data-plane/Microsoft.CommunicationServicesCommon/readme.typescript.md
  specification/communication/data-plane/Microsoft.CommunicationServicesIdentity/readme.csharp.md
  specification/communication/data-plane/Microsoft.CommunicationServicesIdentity/readme.md
  specification/communication/data-plane/Microsoft.CommunicationServicesIdentity/readme.python.md
  specification/communication/data-plane/Microsoft.CommunicationServicesIdentity/readme.ruby.md
  specification/communication/data-plane/Microsoft.CommunicationServicesIdentity/readme.typescript.md
  specification/communication/data-plane/Microsoft.CommunicationServicesPhoneNumbers/readme.csharp.md
  specification/communication/data-plane/Microsoft.CommunicationServicesPhoneNumbers/readme.md
  specification/communication/data-plane/Microsoft.CommunicationServicesPhoneNumbers/readme.python.md
  specification/communication/data-plane/Microsoft.CommunicationServicesPhoneNumbers/readme.ruby.md
  specification/communication/data-plane/Microsoft.CommunicationServicesPhoneNumbers/readme.typescript.md
  specification/communication/data-plane/Microsoft.CommunicationServicesSms/readme.csharp.md
  specification/communication/data-plane/Microsoft.CommunicationServicesSms/readme.md
  specification/communication/data-plane/Microsoft.CommunicationServicesSms/readme.python.md
  specification/communication/data-plane/Microsoft.CommunicationServicesSms/readme.ruby.md
  specification/communication/data-plane/Microsoft.CommunicationServicesSms/readme.typescript.md
  specification/communication/data-plane/Microsoft.CommunicationServicesTurn/readme.csharp.md
  specification/communication/data-plane/Microsoft.CommunicationServicesTurn/readme.md
  specification/communication/data-plane/Microsoft.CommunicationServicesTurn/readme.python.md
  specification/communication/data-plane/Microsoft.CommunicationServicesTurn/readme.ruby.md
  specification/communication/data-plane/Microsoft.CommunicationServicesTurn/readme.typescript.md
  specification/communication/data-plane/readme.md
Labels: Approved-Avocado

#13762 Add missing default error response
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/secrets.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#13745 [Synapse] change DaysOfWeek to DayOfWeek
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/entityTypes/Pipeline.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/entityTypes/Trigger.json
Labels: BreakingChangeReviewRequired

#13735 Adding swagger to Microsoft.Billing 2020-05-01 for list billing account and billing profile reservations
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/billing.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/examples/ReservationsListByBillingAccount.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/examples/ReservationsListByBillingProfile.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-Python, FixS360, NewApiVersionRequired

#12941 [resources] Fix resource multiapi submodule
  specification/resources/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go

#13707 [mt][translator][document][batch] Update to release version v1.0
  specification/cognitiveservices/data-plane/TranslatorText/readme.md
  specification/cognitiveservices/data-plane/TranslatorText/stable/v1.0/TranslatorBatch.json
  specification/cognitiveservices/data-plane/TranslatorText/stable/v1.0/examples/batch.json
  specification/cognitiveservices/data-plane/TranslatorText/stable/v1.0/examples/cancel.json
  specification/cognitiveservices/data-plane/TranslatorText/stable/v1.0/examples/document.json
  specification/cognitiveservices/data-plane/TranslatorText/stable/v1.0/examples/documents.json
  specification/cognitiveservices/data-plane/TranslatorText/stable/v1.0/examples/format.json
  specification/cognitiveservices/data-plane/TranslatorText/stable/v1.0/examples/glossary.json
  specification/cognitiveservices/data-plane/TranslatorText/stable/v1.0/examples/operation.json
  specification/cognitiveservices/data-plane/TranslatorText/stable/v1.0/examples/operations.json
  specification/cognitiveservices/data-plane/TranslatorText/stable/v1.0/examples/storage.json
Labels: WaitForARMFeedback

#13590 Add event schemas for Microsoft.PolicyInsights
  specification/eventgrid/data-plane/Microsoft.PolicyInsights/stable/2018-01-01/PolicyInsights.json
  specification/eventgrid/data-plane/readme.md
Labels: CI-BreakingChange-Go

#13661 Pprp
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/enterprisePolicy.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/getEnterprisePolicy.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/listSubnetsByEnterprisePolicy.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/subnetGet.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/subnetUpdate.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/privateLinkResources.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/subnetResources.json
  specification/powerplatform/resource-manager/readme.md
Labels: Approved-BreakingChange, Approved-LintDiff, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-FixRequiredOnFailure, NewApiVersionRequired

#13647 Support Inplace phase 2 API's for AzureDataShare
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2020-10-01-preview/DataShare.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2020-10-01-preview/examples/DataSetMappings_ADLSGen2StorageAccount_Create.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2020-10-01-preview/examples/DataSetMappings_BlobStorageAccount_Create.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2020-10-01-preview/examples/DataSets_ADLSGen2StorageAccount_Create.json
  specification/datashare/resource-manager/Microsoft.DataShare/preview/2020-10-01-preview/examples/DataSets_BlobStorageAccount_Create.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python

#13729 [NetAppFiles] Fix protocolType example
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-11-01/netapp.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-12-01/netapp.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#13256 [Hub Generated] Review request for Microsoft.AppPlatform to add version preview/2021-03-03-preview
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Apps_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Apps_Delete.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Apps_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Apps_GetResourceUploadUrl.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Apps_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Apps_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Apps_ValidateDomain.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Bindings_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Bindings_Delete.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Bindings_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Bindings_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Bindings_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Certificates_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Certificates_Delete.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Certificates_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Certificates_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/ConfigServers_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/ConfigServers_UpdatePatch.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/ConfigServers_UpdatePut.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/ConfigServers_Validate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/CustomDomains_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/CustomDomains_Delete.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/CustomDomains_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/CustomDomains_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/CustomDomains_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Deployments_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Deployments_Delete.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Deployments_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Deployments_GetLogFileUrl.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Deployments_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Deployments_ListForCluster.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Deployments_Restart.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Deployments_Start.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Deployments_Stop.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Deployments_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/MonitoringSettings_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/MonitoringSettings_UpdatePatch.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/MonitoringSettings_UpdatePut.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Operations_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/RuntimeVersions_ListRuntimeVersions.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Services_CheckNameAvailability.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Services_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Services_CreateOrUpdate_VNetInjection.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Services_Delete.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Services_DisableTestEndpoint.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Services_EnableTestEndpoint.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Services_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Services_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Services_ListBySubscription.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Services_ListTestKeys.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Services_RegenerateTestKey.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Services_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-03-03-preview/examples/Skus_List.json
  specification/appplatform/resource-manager/readme.md
Labels: ARMSignedOff

#13561 Adding space between Identities in Enum
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/iothub.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/iothub.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#13639 Swagger for NRP's VipSwap operation
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/examples/LoadBalancersSwapPublicIpAddresses.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/loadBalancer.json
Labels: CI-BreakingChange-Go, Network

#13354 Updated the models to include systemData and removed the supression f…
  specification/purview/resource-manager/Microsoft.Purview/preview/2020-12-01-preview/purview.json
  specification/purview/resource-manager/readme.go.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, FixS360, NewApiVersionRequired

#13790 t2 synapse readme config
  specification/synapse/resource-manager/readme.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#13782 update OperationalInsights package for SDK release
  specification/operationalinsights/resource-manager/readme.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#13786 reference old versions of other apis
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/authorization-ClassicAdminCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/authorization-DenyAssignmentGetCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/authorization-ElevateAccessCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/authorization-PermissionsCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/authorization-ProviderOperationsCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/authorization-RoleDefinitionsCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/ClassicAdministrators_List.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/DenyAssignments_CreateById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/DenyAssignments_CreateForResource.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/DenyAssignments_CreateForResourceGroup.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/DenyAssignments_CreateForSubscription.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/DenyAssignments_Delete.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/DenyAssignments_DeleteById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/DenyAssignments_Get.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/DenyAssignments_GetById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/DenyAssignments_ListForResource.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/DenyAssignments_ListForResourceGroup.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/DenyAssignments_ListForScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/DenyAssignments_ListForSubscription.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/GlobalAdministrator_ElevateAccess.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/Permissions_ListForResource.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/Permissions_ListForResourceGroup.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/Permissions_ListForSubscription.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/ProviderOperations_List.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/ProviderOperations_ListForRP.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleDefinitions_CreateById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleDefinitions_CreateForResource.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleDefinitions_CreateForResourceGroup.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleDefinitions_CreateForSubscription.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleDefinitions_Delete.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleDefinitions_DeleteById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleDefinitions_Get.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleDefinitions_GetById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleDefinitions_ListForResource.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleDefinitions_ListForResourceGroup.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleDefinitions_ListForScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleDefinitions_ListForSubscription.json
  specification/authorization/resource-manager/readme.md
Labels: CI-BreakingChange-Go, FixS360

#13780 Eiot sensors type alignment for new provider
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Sensors/Get.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Sensors/List.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Sensors/Put.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/sensors.json
Labels: Approved-BreakingChange, NewApiVersionRequired

#12107 Add SQL DB v5 SDK
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/DatabaseAdvisors.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/ServerAdvisors.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/DatabaseAdvisors.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/DatabaseOperations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/DatabaseUsages.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/InstanceFailoverGroups.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/ServerAdvisors.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/backups_legacy.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/examples/ElasticPoolDatabaseActivityList.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/replicationLinks_legacy.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/sql.core_legacy.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/usages_legacy.json
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff, Approved-LintDiff, CI-BreakingChange-Go, CI-BreakingChange-Python, CI-FixRequiredOnFailure, FixS360, NewApiVersionRequired

#13765 Fix Lint error
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/common.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/secrets.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#13791 Dev weather microsoft.maps 1.0
  specification/maps/data-plane/Microsoft.Maps/DEM/preview/1.0/elevation.json
  specification/maps/data-plane/Microsoft.Maps/Data/preview/1.0/data.json
  specification/maps/data-plane/Microsoft.Maps/Dataset/preview/1.0/dataset.json
  specification/maps/data-plane/Microsoft.Maps/DwgConversion/preview/1.0/dwgconversion.json
  specification/maps/data-plane/Microsoft.Maps/Feedback/preview/1.0/feedback.json
  specification/maps/data-plane/Microsoft.Maps/Geolocation/preview/1.0/geolocation.json
  specification/maps/data-plane/Microsoft.Maps/Mobility/preview/1.0/mobility.json
  specification/maps/data-plane/Microsoft.Maps/Render/preview/1.0/render.json
  specification/maps/data-plane/Microsoft.Maps/Render/preview/2.0/render.json
  specification/maps/data-plane/Microsoft.Maps/Route/preview/1.0/route.json
  specification/maps/data-plane/Microsoft.Maps/Search/preview/1.0/search.json
  specification/maps/data-plane/Microsoft.Maps/Spatial/preview/1.0/spatial.json
  specification/maps/data-plane/Microsoft.Maps/Tileset/preview/1.0/tileset.json
  specification/maps/data-plane/Microsoft.Maps/Timezone/preview/1.0/timezone.json
  specification/maps/data-plane/Microsoft.Maps/Traffic/preview/1.0/traffic.json
  specification/maps/data-plane/Microsoft.Maps/Weather/preview/1.0/weather.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#13505 [Hub Generated] Review request for Microsoft.InstanceMetadataService to add version stable/2020-09-01
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2020-09-01/examples/GetAttestedData.json
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2020-09-01/examples/GetIdentityInfo.json
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2020-09-01/examples/GetIdentityToken.json
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2020-09-01/examples/GetInstanceMetadata.json
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2020-09-01/imds.json
  specification/imds/data-plane/readme.md
Labels: ARMSignedOff

#13503 Iot new device
  custom-words.txt
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/devices.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Devices/Get.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Devices/List.json
  specification/iotsecurity/resource-manager/readme.md
Labels: ARMSignedOff

#13655 Cplat sharedgallery2020 09 30
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/AddToSharingProfileInAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateOrUpdateASimpleGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateOrUpdateASimpleGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateOrUpdateASimpleGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateOrUpdateASimpleGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateOrUpdateASimpleGalleryImageVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateOrUpdateASimpleGalleryImageVersionWithImageVersionAsSource.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateOrUpdateASimpleGalleryImageVersionWithSnapshotsAsSource.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateOrUpdateASimpleGalleryImageVersionWithVHD.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateOrUpdateASimpleGalleryImageVersionWithVMAsSource.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateOrUpdateASimpleGalleryWithSharingProfile.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/DeleteAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/DeleteAGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/DeleteAGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/DeleteAGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/DeleteAGalleryImageVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetAGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetAGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetAGalleryApplicationVersionWithReplicationStatus.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetAGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetAGalleryImageVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetAGalleryImageVersionWithReplicationStatus.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetAGalleryImageVersionWithSnapshotsAsSource.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetAGalleryImageVersionWithVhdAsSource.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetAGalleryWithSelectPermissions.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetASharedGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetASharedGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetASharedGalleryImageVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListGalleriesInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListGalleriesInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListGalleryApplicationVersionsInAGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListGalleryApplicationsInAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListGalleryImageVersionsInAGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListGalleryImagesInAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListSharedGalleries.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListSharedGalleryImageVersions.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListSharedGalleryImages.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ResetSharingProfileInAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/UpdateASimpleGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/UpdateASimpleGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/UpdateASimpleGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/UpdateASimpleGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/UpdateASimpleGalleryImageVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/UpdateASimpleGalleryImageVersionWithoutSourceId.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/gallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/sharedGallery.json
  specification/compute/resource-manager/readme.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, Compute

#13609 [Hub Generated] Review request for Microsoft.CostManagement to add version preview/2020-12-01-preview
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/costmanagement.exports.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportCreateOrUpdateByBillingAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportCreateOrUpdateByDepartment.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportCreateOrUpdateByEnrollmentAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportCreateOrUpdateByManagementGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportCreateOrUpdateByResourceGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportCreateOrUpdateBySubscription.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportDeleteByBillingAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportDeleteByDepartment.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportDeleteByEnrollmentAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportDeleteByManagementGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportDeleteByResourceGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportDeleteBySubscription.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportGetByBillingAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportGetByDepartment.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportGetByEnrollmentAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportGetByManagementGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportGetByResourceGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportGetBySubscription.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportRunByBillingAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportRunByDepartment.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportRunByEnrollmentAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportRunByManagementGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportRunByResourceGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportRunBySubscription.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportRunHistoryGetByBillingAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportRunHistoryGetByDepartment.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportRunHistoryGetByEnrollmentAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportRunHistoryGetByManagementGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportRunHistoryGetByResourceGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportRunHistoryGetBySubscription.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportsGetByBillingAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportsGetByDepartment.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportsGetByEnrollmentAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportsGetByManagementGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportsGetByResourceGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/ExportsGetBySubscription.json
  specification/cost-management/resource-manager/readme.azureresourceschema.md
  specification/cost-management/resource-manager/readme.md
Labels: ARMSignedOff

#13771 FixS360 | Microsoft.Billing
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/billing.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/examples/BillingAccountsListWithExpandForEnrollmentDetails.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, FixS360, NewApiVersionRequired

#13267 [Hub Generated] Review request for Microsoft.DocumentDB to add version preview/2021-03-01-preview
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2021-03-01-preview/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2021-03-01-preview/examples/CosmosDBLocationGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2021-03-01-preview/examples/CosmosDBLocationList.json
Labels: ARMSignedOff, Approved-BreakingChange, Approved-LintDiff, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, NewApiVersionRequired

#13810 storagesync readme t2 config
  specification/storagesync/resource-manager/readme.md
  specification/storagesync/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python

#13439 Updated SAS swagger with latest changes.
  custom-words.txt
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/ImportCollectors_Create.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/ImportCollectors_Delete.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/ImportCollectors_Get.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/ImportCollectors_ListByProject.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/PrivateEndpointConnections_Create.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/PrivateEndpointConnections_Delete.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/PrivateEndpointConnections_Get.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/PrivateEndpointConnections_ListByProject.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/PrivateLinkResources_Get.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/PrivateLinkResources_ListByProject.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/ServerCollectors_Create.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/ServerCollectors_Delete.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/ServerCollectors_Get.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/examples/ServerCollectors_ListByProject.json
  specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/migrate.json
  specification/migrate/resource-manager/readme.md
Labels: Approved-BreakingChange, NewApiVersionRequired, Reviewed-ChangesRequired

#13796 Dev weather microsoft.maps 1.0
  specification/maps/data-plane/Microsoft.Maps/Weather/preview/1.0/weather.json
Labels: BreakingChangeReviewRequired

#13822 Fixing linting errors for MHSM R4036 - ImplementPrivateEndpointAPIs
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/ManagedHsm_ListPrivateEndpointConnectionsByResource.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/managedHsm.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#13262 Fixed issue #9593
  specification/attestation/resource-manager/Microsoft.Attestation/stable/2018-09-01-preview/attestation.json
  specification/attestation/resource-manager/Microsoft.Attestation/stable/2020-10-01/attestation.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python

#13800 [Hub Generated] Review request for Microsoft.Consumption to add version stable/2019-05-01
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/Budget.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/BudgetsList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/examples/CreateOrUpdateBudget.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, FixS360, NewApiVersionRequired

#13788 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2019-11-01
  cSpell.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/costmanagement.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/Setting.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/SettingsCreateOrUpdate.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/SettingsList.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python, FixS360, NewApiVersionRequired

#13813 azurestack wave4 t2 config
  specification/azurestack/resource-manager/readme.md
  specification/azurestack/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#13490 Added Microsoft.AppConfiguration 2021-03-01-preview API version.
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2021-03-01-preview/appconfiguration.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2021-03-01-preview/examples/CheckNameAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2021-03-01-preview/examples/CheckNameNotAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2021-03-01-preview/examples/ConfigurationStoresCreate.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2021-03-01-preview/examples/ConfigurationStoresCreateKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2021-03-01-preview/examples/ConfigurationStoresCreatePrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2021-03-01-preview/examples/ConfigurationStoresCreateWithIdentity.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2021-03-01-preview/examples/ConfigurationStoresCreateWithLocalAuthDisabled.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2021-03-01-preview/examples/ConfigurationStoresDelete.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2021-03-01-preview/examples/ConfigurationStoresDeleteKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2021-03-01-preview/examples/ConfigurationStoresDeletePrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2021-03-01-preview/examples/ConfigurationStoresGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2021-03-01-preview/examples/ConfigurationStoresGetKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2021-03-01-preview/examples/ConfigurationStoresGetPrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2021-03-01-preview/examples/ConfigurationStoresList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2021-03-01-preview/examples/ConfigurationStoresListByResourceGroup.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2021-03-01-preview/examples/ConfigurationStoresListKeyValues.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2021-03-01-preview/examples/ConfigurationStoresListKeys.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2021-03-01-preview/examples/ConfigurationStoresListPrivateEndpointConnections.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2021-03-01-preview/examples/ConfigurationStoresRegenerateKey.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2021-03-01-preview/examples/ConfigurationStoresUpdate.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2021-03-01-preview/examples/ConfigurationStoresUpdateDisableLocalAuth.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2021-03-01-preview/examples/ConfigurationStoresUpdateWithIdentity.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2021-03-01-preview/examples/PrivateLinkResourceGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2021-03-01-preview/examples/PrivateLinkResourcesListByConfigurationStore.json
  specification/appconfiguration/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#13693 Add missing property fileStorageSkuName into MySQL Flexible Server spec
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-preview/examples/ReplicasListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-preview/examples/ServerCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-preview/examples/ServerCreateReplica.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-preview/examples/ServerCreateWithPointInTimeRestore.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-preview/examples/ServerGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-preview/examples/ServerGetWithVnet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-preview/examples/ServerUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-preview/examples/ServerUpdateWithCustomerMaintenanceWindow.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-preview/examples/ServersList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-preview/examples/ServersListByResourceGroup.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-preview/mysql.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ReplicasListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ServerCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ServerCreateReplica.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ServerCreateWithPointInTimeRestore.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ServerGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ServerGetWithVnet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ServerUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ServerUpdateWithCustomerMaintenanceWindow.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ServersList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/examples/ServersListByResourceGroup.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2020-07-01-privatepreview/mysql.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, FixS360

#13175 [Sentine][Data connectors][Fix correctness bug]
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/dataConnectors/GetDataConnectors.json
Labels: CI-BreakingChange-Go, FixS360, Reviewed-ChangesRequired

#13757 Explicitly define KeyCreationTime in Feb21
  specification/storage/resource-manager/Microsoft.Storage/stable/2021-02-01/storage.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, FixS360, Storage

#13835 Add suppression for SystemData
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/listPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/keyvault.json
  specification/keyvault/resource-manager/readme.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#13585 Dev keyvault microsoft.key vault 2021 04 01 preview
  custom-words.txt
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/common.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/DeletedManagedHsm_Get.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/DeletedManagedHsm_List.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/DeletedManagedHsm_Purge.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/ManagedHsm_CreateOrUpdate.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/ManagedHsm_Delete.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/ManagedHsm_Get.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/ManagedHsm_ListByResourceGroup.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/ManagedHsm_ListBySubscription.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/ManagedHsm_ListPrivateEndpointConnectionsByResource.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/ManagedHsm_Update.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/ManagedHsm_deletePrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/ManagedHsm_getPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/ManagedHsm_listPrivateLinkResources.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/ManagedHsm_putPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/checkVaultNameAvailability.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/createSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/createVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/createVaultWithNetworkAcls.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/deletePrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/deleteVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/getDeletedVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/getPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/getSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/getVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/listDeletedVaults.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/listOperations.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/listPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/listPrivateLinkResources.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/listSecrets.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/listVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/listVaultByResourceGroup.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/listVaultBySubscription.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/purgeDeletedVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/putPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/updateAccessPoliciesAdd.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/updateSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/updateVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/keyvault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/managedHsm.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/providers.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/secrets.json
  specification/keyvault/resource-manager/readme.azureresourceschema.md
  specification/keyvault/resource-manager/readme.md
  specification/keyvault/resource-manager/readme.python.md
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, Reviewed-ChangesRequired

#13799 Add device principal type
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/authorization-RoleAssignmentsCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/common-types.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/RoleAssignments_CreateById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/RoleAssignments_CreateForResource.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/RoleAssignments_CreateForResourceGroup.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/RoleAssignments_CreateForSubscription.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/RoleAssignments_Delete.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/RoleAssignments_DeleteById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/RoleAssignments_Get.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/RoleAssignments_GetById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/RoleAssignments_ListForResource.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/RoleAssignments_ListForResourceGroup.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/RoleAssignments_ListForScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/RoleAssignments_ListForSubscription.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/RoleAssignments_ValidateByIdInvalid.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/RoleAssignments_ValidateByIdValid.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/RoleAssignments_ValidateInvalid.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/RoleAssignments_ValidateValid.json
  specification/authorization/resource-manager/readme.md
Labels: CI-BreakingChange-Go

#13750 Added CheckNameAvailability, Identity, systemData, used ErrorResponse v2 in DeviceUpdate
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/preview/2020-03-01-preview/deviceupdate.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/preview/2020-03-01-preview/examples/Accounts/Accounts_Create.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/preview/2020-03-01-preview/examples/Accounts/Accounts_Update.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/preview/2020-03-01-preview/examples/CheckNameAvailability_AlreadyExists.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/preview/2020-03-01-preview/examples/CheckNameAvailability_Available.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/preview/2020-03-01-preview/examples/Instances/Instances_Create.json
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, FixS360, NewApiVersionRequired

#13772 [Hub Generated] Review request for Microsoft.CostManagement to add version preview/2020-12-01-preview
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-12-01-preview/examples/GenerateDetailedCostReportBySubscriptionAndTimePeriod.json
Labels: CI-BreakingChange-Python

#13811 [Hub Generated] Public private branch 'stuartko/Mar21_NewTSVersion'
  specification/resources/resource-manager/Microsoft.Resources/preview/2021-03-01-preview/examples/TemplateSpecVersionsCreate.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2021-03-01-preview/examples/TemplateSpecVersionsDelete.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2021-03-01-preview/examples/TemplateSpecVersionsGet.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2021-03-01-preview/examples/TemplateSpecVersionsList.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2021-03-01-preview/examples/TemplateSpecVersionsPatch.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2021-03-01-preview/examples/TemplateSpecsCreate.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2021-03-01-preview/examples/TemplateSpecsDelete.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2021-03-01-preview/examples/TemplateSpecsGet.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2021-03-01-preview/examples/TemplateSpecsListByResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2021-03-01-preview/examples/TemplateSpecsListBySubscription.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2021-03-01-preview/examples/TemplateSpecsPatch.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2021-03-01-preview/templateSpecs.json
  specification/resources/resource-manager/readme.md
Labels: CI-BreakingChange-Go

#13644 typo: implmentation -> implementation
  specification/billing/resource-manager/readme.az.md
  specification/synapse/resource-manager/readme.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python, customer-reported

#13866 Sync: Merge master 2020-12-01 compute.json changes to 2021-03
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/compute.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, Compute

#12981 Azure ML new API version 20210401
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/ListSkus.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/ListUsages.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/ListVMSizesResult.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/ListWorkspaceFeatures.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/ListWorkspaceQuotasByVMFamily.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/amlComputeListNodes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/createBasicAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/createBasicAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/createBasicDataFactoryCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/createComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/createComputeInstanceMinimal.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/createOrUpdateService.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/createWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/createWorkspaceConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/deleteCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/deleteService.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/deleteWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/deleteWorkspaceConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/getAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/getAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/getComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/getComputes.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/getService.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/getServices.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/getWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/getWorkspaceConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/getWorkspacesByResourceGroup.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/getWorkspacesBySubscription.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/listKeysAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/listNotebookAccessToken.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/listNotebookKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/listStorageAccountKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/listWorkspaceConnections.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/listWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/patchAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/restartComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/resyncWorkspaceKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/startComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/stopComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/updateAKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/updateAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/updateQuota.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/updateWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/workspaceDeletePrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/workspaceGetPrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/workspaceListPrivateLinkResources.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/workspacePrepareNotebook.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/examples/workspacePutPrivateEndpointConnection.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/machineLearningServices.json
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python, DoNotMerge

#13855 Fix Integer format: S360 swagger lint issues in 2021-02-01
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-02-01-preview/DatabaseVulnerabilityAssessmentRuleBaselines.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-02-01-preview/ElasticPools.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-02-01-preview/JobExecutions.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-02-01-preview/JobStepExecutions.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-02-01-preview/JobTargetExecutions.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-02-01-preview/ManagedDatabaseSecurityEvents.json
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-BreakingChange-Python, SQL

#13833 datashare readme t2 config
  specification/datashare/resource-manager/readme.md
  specification/datashare/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#13868 chore: resort custom-words.txt from bad merge
  custom-words.txt
Labels: customer-reported

#13712 [Hub Generated] Review request for Microsoft.Insights to add version preview/2020-10-05-preview
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-10-05-preview/examples/WebTestCreateBasic.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-10-05-preview/examples/WebTestCreateStandard.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-10-05-preview/webTests_API.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired

#13269 [Hub Generated] Review request for Microsoft.Insights to add version preview/2021-03-03-preview
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2021-03-03-preview/diagnosticServicesToken_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2021-03-03-preview/examples/DiagnosticServicesReadOnlyTokenPost.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2021-03-03-preview/examples/DiagnosticServicesReadWriteTokenPost.json
  specification/applicationinsights/resource-manager/readme.md
Labels: ARMSignedOff

#13879 add configuration for vmware
  specification/vmware/resource-manager/readme.terraform.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#13880 hanaonazure t2 readme config
  specification/hanaonazure/resource-manager/readme.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#13500 [Synapse] - Remove x-ms-azure-resource
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-03-01/firewallRule.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-03-01/sqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-03-01/workspace.json
Labels: CI-BreakingChange-Go

#13664 Juniwang/sr202010401preview
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-04-01-preview/examples/Operations_List.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-04-01-preview/examples/SignalRPrivateEndpointConnections_Delete.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-04-01-preview/examples/SignalRPrivateEndpointConnections_Get.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-04-01-preview/examples/SignalRPrivateEndpointConnections_List.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-04-01-preview/examples/SignalRPrivateEndpointConnections_Update.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-04-01-preview/examples/SignalRPrivateLinkResources_List.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-04-01-preview/examples/SignalRSharedPrivateLinkResources_CreateOrUpdate.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-04-01-preview/examples/SignalRSharedPrivateLinkResources_Delete.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-04-01-preview/examples/SignalRSharedPrivateLinkResources_Get.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-04-01-preview/examples/SignalRSharedPrivateLinkResources_List.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-04-01-preview/examples/SignalR_CheckNameAvailability.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-04-01-preview/examples/SignalR_CreateOrUpdate.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-04-01-preview/examples/SignalR_Delete.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-04-01-preview/examples/SignalR_Get.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-04-01-preview/examples/SignalR_ListByResourceGroup.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-04-01-preview/examples/SignalR_ListBySubscription.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-04-01-preview/examples/SignalR_ListKeys.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-04-01-preview/examples/SignalR_RegenerateKey.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-04-01-preview/examples/SignalR_Restart.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-04-01-preview/examples/SignalR_Update.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-04-01-preview/examples/Usages_List.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-04-01-preview/signalr.json
  specification/signalr/resource-manager/readme.azureresourceschema.md
  specification/signalr/resource-manager/readme.go.md
  specification/signalr/resource-manager/readme.java.md
  specification/signalr/resource-manager/readme.md
  specification/signalr/resource-manager/readme.ruby.md
Labels: ARMSignedOff, CI-BreakingChange-Python

#13876 add datashare terraform configuration
  specification/datashare/resource-manager/readme.terraform.md
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#13881 storage readme t2 config
  specification/storage/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go, Storage

#13641 typo: APIkeys -> APIKeys
  specification/applicationinsights/resource-manager/readme.cli.md
Labels: customer-reported

#13826 Allow release_policy to be nullable
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.3-preview/keys.json
Labels: CI-BreakingChange-Go

#13872 Fix type of Anserws and Captions
  specification/search/data-plane/Azure.Search/preview/2020-06-30-Preview/searchindex.json
Labels: BreakingChangeReviewRequired

#13841 [Synapse] - library_append API adds comp parameter
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/examples/Library_Append.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/library.json
Labels: BreakingChangeReviewRequired

#13190 Remove 200 response from async operation
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2-preview/examples/securitydomaindownloadpost-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2-preview/securitydomain.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.3-preview/examples/securitydomaindownloadpost-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.3-preview/securitydomain.json
Labels: CI-BreakingChange-Go, NewApiVersionRequired

#11779 Add minimal TLS version support for the MariaDB service
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-preview/mariadb.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/mariadb.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/stable/2018-06-01/examples/ServerCreate.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/stable/2018-06-01/examples/ServerGet.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/stable/2018-06-01/examples/ServerList.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/stable/2018-06-01/mariadb.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, NewApiVersionRequired, customer-reported

#13877 add con figuration for databoxedge
  specification/databoxedge/resource-manager/readme.terraform.md
Labels: CI-BreakingChange-Python

#13878 add configuration for resourcemover
  specification/resourcemover/resource-manager/readme.terraform.md
Labels: CI-BreakingChange-Go

#13305 Dev dfp microsoft.dfp 2021 02 01 privatepreview
  specification/dfp/resource-manager/Microsoft.Dynamics365Fraudprotection/preview/2021-02-01-preview/dfp.json
  specification/dfp/resource-manager/Microsoft.Dynamics365Fraudprotection/preview/2021-02-01-preview/examples/ListOperations.json
  specification/dfp/resource-manager/Microsoft.Dynamics365Fraudprotection/preview/2021-02-01-preview/examples/checkNameAvailability.json
  specification/dfp/resource-manager/Microsoft.Dynamics365Fraudprotection/preview/2021-02-01-preview/examples/createInstance.json
  specification/dfp/resource-manager/Microsoft.Dynamics365Fraudprotection/preview/2021-02-01-preview/examples/deleteInstance.json
  specification/dfp/resource-manager/Microsoft.Dynamics365Fraudprotection/preview/2021-02-01-preview/examples/getInstance.json
  specification/dfp/resource-manager/Microsoft.Dynamics365Fraudprotection/preview/2021-02-01-preview/examples/listInstancesInResourceGroup.json
  specification/dfp/resource-manager/Microsoft.Dynamics365Fraudprotection/preview/2021-02-01-preview/examples/listInstancesInSubscription.json
  specification/dfp/resource-manager/Microsoft.Dynamics365Fraudprotection/preview/2021-02-01-preview/examples/updateInstance.json
  specification/dfp/resource-manager/readme.az.md
  specification/dfp/resource-manager/readme.azureresourceschema.md
  specification/dfp/resource-manager/readme.cli.md
  specification/dfp/resource-manager/readme.csharp.md
  specification/dfp/resource-manager/readme.go.md
  specification/dfp/resource-manager/readme.md
  specification/dfp/resource-manager/readme.python.md
  specification/dfp/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#13492 Remove name check from client side
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-08-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-10-01/deploymentScripts.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-10-01/resources.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go

#13900 Allowed dash in Instance and Account name in DeviceUpdate
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/preview/2020-03-01-preview/deviceupdate.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#13817 [Hub Generated] Review request for Microsoft.ResourceHealth to add version stable/2018-07-01
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/stable/2018-07-01/ResourceHealth.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/stable/2018-07-01/examples/Events_ListBySubscriptionId.json
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired

#13803 Add EligibleChildResources resource for PIM + update examples
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/EligibleChildResources.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/RoleAssignmentSchedule.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/RoleAssignmentScheduleInstance.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/RoleAssignmentScheduleRequest.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/RoleEligibilitySchedule.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/RoleEligibilityScheduleInstance.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/RoleEligibilityScheduleRequest.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/RoleManagementPolicy.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/GetEligibleChildResourcesByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/GetRoleAssignmentScheduleRequestByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/GetRoleAssignmentScheduleRequestByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/GetRoleEligibilityScheduleRequestByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/GetRoleEligibilityScheduleRequestByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/GetRoleManagementPolicyAssignmentByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/GetRoleManagementPolicyAssignmentByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/GetRoleManagementPolicyByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/GetRoleManagementPolicyByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/PatchPartialRoleManagementPolicy.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/PatchRoleManagementPolicy.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/PutRoleAssignmentScheduleRequest.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/PutRoleEligibilityScheduleRequest.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/examples/PutRoleManagementPolicyAssignment.json
  specification/authorization/resource-manager/readme.csharp.md
  specification/authorization/resource-manager/readme.go.md
  specification/authorization/resource-manager/readme.java.md
  specification/authorization/resource-manager/readme.md
  specification/authorization/resource-manager/readme.python.md
  specification/authorization/resource-manager/readme.ruby.md
  specification/authorization/resource-manager/readme.typescript.md
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-BreakingChange-Python, NewApiVersionRequired

#13906 refine readme.go.md
  specification/streamanalytics/resource-manager/readme.go.md
Labels: CI-BreakingChange-Python

#13860 [Service Fabric Managed Clusters] adding api version 2020-05-01
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ApplicationDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ApplicationGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ApplicationListOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ApplicationPatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ApplicationPutOperation_example_max.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ApplicationPutOperation_example_min.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ApplicationTypeNameDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ApplicationTypeNameGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ApplicationTypeNameListOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ApplicationTypeNamePatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ApplicationTypeNamePutOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ApplicationTypeVersionDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ApplicationTypeVersionGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ApplicationTypeVersionListOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ApplicationTypeVersionPatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ApplicationTypeVersionPutOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/DeleteNodes_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ManagedClusterDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ManagedClusterGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ManagedClusterListByResourceGroupOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ManagedClusterListBySubscriptionOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ManagedClusterPatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ManagedClusterPutOperation_example_max.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ManagedClusterPutOperation_example_min.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ManagedClusterVersionGetByEnvironment_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ManagedClusterVersionGet_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ManagedClusterVersionListByEnvironment.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ManagedClusterVersionList_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/NodeTypeDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/NodeTypeGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/NodeTypeListOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/NodeTypePatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/NodeTypePutOperation_example_max.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/NodeTypePutOperation_example_min.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/Operations_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ReimageNodes_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/RestartNodes_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ServiceDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ServiceGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ServiceListOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ServicePatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ServicePutOperation_example_max.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ServicePutOperation_example_min.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/managedapplication.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/managedcluster.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/nodetype.json
  specification/servicefabricmanagedclusters/resource-manager/readme.azureresourceschema.md
  specification/servicefabricmanagedclusters/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, WaitForReviewRevisit

#13895 Task 9639284: Swagger changes for new UK agreement templates
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/billing.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python, FixS360

#13923 dns t2 readme config
  specification/dns/resource-manager/readme.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#12013 add current readmes for generating python form recognizer
  specification/cognitiveservices/data-plane/FormRecognizer/readme.md
  specification/cognitiveservices/data-plane/FormRecognizer/readme.python.md
Labels: Cognitive - Form Recognizer

#13924 [Hub Generated] Review request for Microsoft.KeyVault to add version preview/2021-04-01-preview
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/keyvault.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#13925 [Hub Generated] Review request for Microsoft.KeyVault to add version preview/2020-04-01-preview
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/keyvault.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#13867 Update event description to include the event name
  specification/eventgrid/data-plane/Microsoft.AppConfiguration/stable/2018-01-01/AppConfiguration.json
  specification/eventgrid/data-plane/Microsoft.Cache/stable/2018-01-01/RedisCache.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/AzureCommunicationServices.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/EventGrid.json
  specification/eventgrid/data-plane/Microsoft.EventHub/stable/2018-01-01/EventHub.json
  specification/eventgrid/data-plane/Microsoft.KeyVault/stable/2018-01-01/KeyVault.json
  specification/eventgrid/data-plane/Microsoft.MachineLearningServices/stable/2018-01-01/MachineLearningServices.json
  specification/eventgrid/data-plane/Microsoft.Media/stable/2018-01-01/MediaServices.json
  specification/eventgrid/data-plane/Microsoft.Resources/stable/2018-01-01/Resources.json
  specification/eventgrid/data-plane/Microsoft.Storage/stable/2018-01-01/Storage.json
  specification/eventgrid/data-plane/Microsoft.Web/stable/2018-01-01/Web.json
  specification/eventgrid/data-plane/readme.md
Labels: CI-FixRequiredOnFailure, FixS360

#13915 [Document Translator] update operation names
  specification/cognitiveservices/data-plane/TranslatorText/preview/v1.0-preview.1/TranslatorBatch.json
  specification/cognitiveservices/data-plane/TranslatorText/preview/v1.0-preview.1/examples/batch.json
  specification/cognitiveservices/data-plane/TranslatorText/stable/v1.0/TranslatorBatch.json
  specification/cognitiveservices/data-plane/TranslatorText/stable/v1.0/examples/batch.json
Labels: BreakingChangeReviewRequired

#13946 Revert "Task 9639284: Swagger changes for new UK agreement templates"
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/billing.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#11599 Adding new preview API for promotions
  specification/billing/resource-manager/Microsoft.Billing/preview/2020-11-01-preview/billingPromotions.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2020-11-01-preview/examples/GetPromotions.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2020-11-01-preview/examples/PromotionActivation.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2020-11-01-preview/examples/PromotionCheckEligibility.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2020-11-01-preview/examples/PromotionDetails.json
  specification/billing/resource-manager/readme.go.md
  specification/billing/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python, FixS360, customer-reported

#13709 Add Extensions Async API and other fixes
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/common/2021-05-01-preview/definitions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/examples/CreateExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/examples/CreateSourceControlConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/examples/DeleteExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/examples/GetAsyncOperationStatus.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/examples/GetExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/examples/GetSourceControlConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/examples/ListAsyncOperationStatus.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/examples/ListExtensions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/examples/ListSourceControlConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/examples/OperationsList.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/examples/UpdateExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/extensions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/kubernetesconfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2021-03-01/kubernetesconfiguration.json
  specification/kubernetesconfiguration/resource-manager/readme.azureresourceschema.md
  specification/kubernetesconfiguration/resource-manager/readme.go.md
  specification/kubernetesconfiguration/resource-manager/readme.java.md
  specification/kubernetesconfiguration/resource-manager/readme.ruby.md
Labels: ARMSignedOff, CI-BreakingChange-Python

#13683 Exposing undocumented Databricks workspace properties for fixing S360 issues
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2018-04-01/databricks.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python, FixS360, NewApiVersionRequired

#13910 hybridcompute readme t2 config
  specification/hybridcompute/resource-manager/readme.md
  specification/hybridcompute/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#13909 web readme t2 config
  specification/web/resource-manager/readme.md
  specification/web/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2

#13834 Add x-ms-api-version for resource
  specification/resources/resource-manager/Microsoft.Resources/stable/2016-02-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2016-09-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2017-05-10/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2018-02-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2018-05-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-03-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-05-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-05-10/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-07-01/resources.json
Labels: CI-BreakingChange-Go

#13914 Removed Reason from CheckNameAvailability_Available.json in DeviceUpdate
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/preview/2020-03-01-preview/examples/CheckNameAvailability_Available.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, FixS360

#13768 Update StaticSite.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/StaticSites.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/examples/CreateOrUpdateStaticSite.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/examples/GetAllStaticSites.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/examples/GetStaticSite.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/examples/GetStaticSiteBuild.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/examples/GetStaticSiteBuilds.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/examples/GetStaticSites.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/examples/PatchStaticSite.json
  specification/web/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, NewApiVersionRequired

#13819 Add $(multiapi) to QnA Maker's readme.md
  specification/cognitiveservices/data-plane/QnAMaker/readme.md
Labels: CI-BreakingChange-Python

#13960 Add missing usage.json to v5 sdk tag
  specification/sql/resource-manager/readme.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python, SQL, WaitForARMFeedback

#13306 [Hub Generated] Review request for Microsoft.Kusto to add version stable/2021-01-01
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoAttachedDatabaseConfigurationsCreateOrUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoAttachedDatabaseConfigurationsDelete.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoAttachedDatabaseConfigurationsGet.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoAttachedDatabaseConfigurationsListByCluster.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoClusterAddLanguageExtensions.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoClusterDetachFollowerDatabases.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoClusterListFollowerDatabases.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoClusterListLanguageExtensions.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoClusterPrincipalAssignmentsCheckNameAvailability.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoClusterPrincipalAssignmentsCreateOrUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoClusterPrincipalAssignmentsDelete.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoClusterPrincipalAssignmentsGet.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoClusterPrincipalAssignmentsList.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoClusterRemoveLanguageExtensions.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoClustersCheckNameAvailability.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoClustersCreateOrUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoClustersDelete.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoClustersDiagnoseVirtualNetwork.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoClustersGet.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoClustersList.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoClustersListByResourceGroup.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoClustersListResourceSkus.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoClustersListSkus.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoClustersStart.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoClustersStop.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoClustersUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoDataConnectionValidationAsync.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoDataConnectionsCheckNameAvailability.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoDataConnectionsCreateOrUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoDataConnectionsDelete.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoDataConnectionsGet.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoDataConnectionsListByDatabase.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoDataConnectionsUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoDatabaseAddPrincipals.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoDatabaseListPrincipals.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoDatabasePrincipalAssignmentsCheckNameAvailability.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoDatabasePrincipalAssignmentsCreateOrUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoDatabasePrincipalAssignmentsDelete.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoDatabasePrincipalAssignmentsGet.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoDatabasePrincipalAssignmentsList.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoDatabaseReadonlyUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoDatabaseRemovePrincipals.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoDatabasesCheckNameAvailability.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoDatabasesCreateOrUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoDatabasesDelete.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoDatabasesGet.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoDatabasesListByCluster.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoDatabasesUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoOperationResultsGet.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoOperationsList.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoScriptsCheckNameAvailability.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoScriptsCreateOrUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoScriptsDelete.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoScriptsGet.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoScriptsListByDatabase.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/examples/KustoScriptsUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2021-01-01/kusto.json
  specification/azure-kusto/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#13969 Remove 'required' from extended location
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/network.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, Network

#13974 resource t2 readme config
  specification/resources/resource-manager/readme.md
  specification/resources/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go

#13789 Added new API and API version for private DNS zone suffix
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-03-31-privatepreview/PrivateDnsZone.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-03-31-privatepreview/examples/GetPrivateDnsZoneSuffix.json
  specification/postgresql/resource-manager/readme.md
Labels: ARMSignedOff

#13979 machinelearningservices - fix service name for Java
  specification/machinelearningservices/resource-manager/readme.md
Labels: CI-BreakingChange-Python

#13716 Add optional param - private DNS zone to server API
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/ServerCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/ServerCreatePointInTimeRestore.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/ServerGetWithVnet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/ServerUpdate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/ServerUpdateWithCustomerMaintenanceWindow.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/postgresql.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/ServerCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/ServerCreatePointInTimeRestore.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/ServerGetWithVnet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/ServerUpdate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/ServerUpdateWithCustomerMaintenanceWindow.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/postgresql.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/ServerGroupCreate.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/ServerGroupGet.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/ServerGroupList.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/ServerGroupListByResourceGroup.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/postgresqlhsc.json
  specification/postgresqlhsc/resource-manager/readme.go.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, NewApiVersionRequired

#13913 Additional 7.3-preview parameter name clean up
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.3-preview/examples/export-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.3-preview/examples/release-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.3-preview/keys.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, NewApiVersionRequired

#13973 Enable multivariate anomaly detection
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview/AnomalyDetector.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview/MultivariateAnomalyDetector.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview/examples/ChangePointDetect.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview/examples/DeleteModel.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview/examples/DetectAnomaly.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview/examples/EntireDetect.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview/examples/ExportModel.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview/examples/GetModel.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview/examples/GetResult.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview/examples/LastDetect.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview/examples/ListModel.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview/examples/TrainModel.json
  specification/cognitiveservices/data-plane/AnomalyDetector/readme.md
  specification/cognitiveservices/data-plane/AnomalyDetector/readme.python.md
  specification/cognitiveservices/data-plane/AnomalyDetector/readme.ruby.md
Labels: CI-BreakingChange-Python

#13911 [Azure Search] Add Knowledge Store feature to swagger
  specification/search/data-plane/Azure.Search/preview/2019-05-06-preview/examples/SearchServiceCreateSkillset.json
  specification/search/data-plane/Azure.Search/preview/2019-05-06-preview/searchservice.json
  specification/search/data-plane/Azure.Search/preview/2020-06-30-Preview/examples/SearchServiceCreateSkillset.json
  specification/search/data-plane/Azure.Search/preview/2020-06-30-Preview/searchservice.json
  specification/search/data-plane/Azure.Search/preview/2020-06-30/examples/SearchServiceCreateSkillset.json
  specification/search/data-plane/Azure.Search/preview/2020-06-30/searchservice.json
Labels: Approved-BreakingChange, NewApiVersionRequired

#13990 [AzureSearch] Make skillset count optional, and add it to 2020 GA Swagger
  specification/search/data-plane/Azure.Search/preview/2019-05-06-preview/searchservice.json
  specification/search/data-plane/Azure.Search/preview/2020-06-30-Preview/searchservice.json
  specification/search/data-plane/Azure.Search/preview/2020-06-30/searchservice.json
Labels: Approved-BreakingChange, NewApiVersionRequired

#13939 Adding support for message properties in ACS Chat
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-04-05-preview6/communicationserviceschat.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-04-05-preview6/examples/Conversations_ListChatReadReceiptsWithPageSize.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-04-05-preview6/examples/Conversations_SendChatReadReceipt.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-04-05-preview6/examples/Messages_DeleteChatMessage.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-04-05-preview6/examples/Messages_GetChatMessage.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-04-05-preview6/examples/Messages_ListChatMessagesWithPageSize.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-04-05-preview6/examples/Messages_SendChatMessage.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-04-05-preview6/examples/Messages_SendTypingNotification.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-04-05-preview6/examples/Messages_UpdateChatMessage.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-04-05-preview6/examples/Participants_AddChatParticipants.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-04-05-preview6/examples/Participants_ListChatParticipantsWithPageSize.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-04-05-preview6/examples/Participants_RemoveChatParticipant.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-04-05-preview6/examples/Threads_CreateChatThread.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-04-05-preview6/examples/Threads_CreateChatThreadWithIdempotencyToken.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-04-05-preview6/examples/Threads_DeleteChatThread.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-04-05-preview6/examples/Threads_GetChatThread.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-04-05-preview6/examples/Threads_ListChatThreadsWithPageSize.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-04-05-preview6/examples/Threads_UpdateChatThreadTopic.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/readme.md
Labels: Communication

#13956 Added async operation support for PATCH operation
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2021-04-01-preview/connectedClusters.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2021-04-01-preview/examples/UpdateClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2021-04-01-preview/examples/UpdateClusterPrivateLinkExample.json
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired

#13109 Expose autoMitigate flag
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-04-16/scheduledQueryRule_API.json
Labels: Approved-BreakingChange, Approved-ModelValidation, CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, DoNotMerge

#13820 Swagger Documentation for Outbound Firewall Rules
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-02-01-preview/OutboundFirewallRules.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-02-01-preview/Servers.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-02-01-preview/examples/OutboundFirewallRuleCreate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-02-01-preview/examples/OutboundFirewallRuleDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-02-01-preview/examples/OutboundFirewallRuleGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-02-01-preview/examples/OutboundFirewallRuleList.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-02-01-preview/examples/ServerCreate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-02-01-preview/examples/ServerGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-02-01-preview/examples/ServerGetWithExpandEqualsAdministrators.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-02-01-preview/examples/ServerList.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-02-01-preview/examples/ServerListByResourceGroup.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-02-01-preview/examples/ServerListByResourceGroupWithExpandEqualsAdministrators.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-02-01-preview/examples/ServerListWithExpandEqualsAdministrators.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-02-01-preview/examples/ServerUpdate.json
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff, Approved-LintDiff, CI-BreakingChange-Go, CI-BreakingChange-Python, CI-FixRequiredOnFailure, SQL

#13994 fix typo in Synapse
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-04-01-preview/workspace.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-03-01/workspace.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#13999 OperationalInsights - update readme files for cli extension update
  specification/operationalinsights/resource-manager/readme.az.md
  specification/operationalinsights/resource-manager/readme.cli.md
  specification/operationalinsights/resource-manager/readme.md
Labels: CI-BreakingChange-Go

#13957 [Cognitive Services Metrics Advisor] add missing required for allOf entities
  specification/cognitiveservices/data-plane/MetricsAdvisor/preview/v1.0/MetricsAdvisor.json
  specification/cognitiveservices/data-plane/MetricsAdvisor/preview/v1.0/examples/createDataFeed.json
  specification/cognitiveservices/data-plane/MetricsAdvisor/preview/v1.0/examples/getDataFeedById.json
  specification/cognitiveservices/data-plane/MetricsAdvisor/preview/v1.0/examples/listDataFeeds.json
Labels: BreakingChangeReviewRequired

#13903 Fix operation results contract for Tenant Git operations
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/examples/ApiManagementTenantAccessSyncState.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/examples/ApiManagementTenantConfigurationDeploy.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/examples/ApiManagementTenantConfigurationSave.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/examples/ApiManagementTenantConfigurationValidate.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2020-12-01/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2020-12-01/examples/ApiManagementTenantAccessSyncState.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2020-12-01/examples/ApiManagementTenantConfigurationDeploy.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2020-12-01/examples/ApiManagementTenantConfigurationSave.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2020-12-01/examples/ApiManagementTenantConfigurationValidate.json
Labels: API Management, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go

#13992 Dev kubernetesconfiguration microsoft.kubernetes configuration 2021 05 01 preview
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/common/2021-05-01-preview/definitions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/examples/CreateExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/examples/CreateSourceControlConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/examples/DeleteExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/examples/GetAsyncOperationStatus.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/examples/GetExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/examples/GetSourceControlConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/examples/ListAsyncOperationStatus.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/examples/ListExtensions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/examples/ListSourceControlConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/examples/OperationsList.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/examples/UpdateExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/extensions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/kubernetesconfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2021-03-01/kubernetesconfiguration.json
  specification/kubernetesconfiguration/resource-manager/readme.azureresourceschema.md
  specification/kubernetesconfiguration/resource-manager/readme.go.md
  specification/kubernetesconfiguration/resource-manager/readme.java.md
  specification/kubernetesconfiguration/resource-manager/readme.ruby.md
Labels: ARMSignedOff, CI-BreakingChange-Python

#13980 iothub t2 readme config
  specification/iothub/resource-manager/readme.md
  specification/iothub/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#13985 Making Offer details and User Details required properties
  specification/confluent/resource-manager/Microsoft.Confluent/preview/2021-03-01-preview/confluent.json
  specification/confluent/resource-manager/readme.md
  specification/confluent/resource-manager/readme.python.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go

#14008 cosmosdb t1 config del
  specification/cosmos-db/resource-manager/readme.md
  specification/cosmos-db/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go

#13892 Fixing issue with missing filter documentation in Access Review APIs
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-03-01-preview/authorization-AccessReviewCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-03-01-preview/examples/GetAccessReviewInstanceAssignedForMyApproval.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-03-01-preview/examples/GetAccessReviewInstancesAssignedForMyApproval.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-03-01-preview/examples/GetAccessReviewScheduleDefinitionsAssignedForMyApproval.json
  specification/authorization/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, NewApiVersionRequired

#14014 Fix example file's cred issue in 2017-10-01-preview
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/examples/ManagedInstanceTdeCertificate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/examples/SqlTdeCertificateCreate.json
Labels: CI-BreakingChange-Python, FixS360, SQL

#13961 [Service Fabric Managed Clusters] fix api 2020_05_01
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ManagedClusterVersionGetByEnvironment_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ManagedClusterVersionGet_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ManagedClusterVersionListByEnvironment.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/ManagedClusterVersionList_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/examples/NodeTypePutOperation_example_max.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/managedapplication.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/managedcluster.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabricManagedClusters/stable/2021-05-01/nodetype.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, NewApiVersionRequired

#13784 [Hub Generated] Review request for Microsoft.BotService to add version stable/2021-03-01
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/botservice.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/CreateBot.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/GetBot.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/ListBotsByResourceGroup.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/ListBotsBySubscription.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/UpdateBot.json
Labels: Approved-BreakingChange, NewApiVersionRequired

#13941 APIM: improve developer portal operations docs
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/apimcontenttypes.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/apimportalrevisions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2020-12-01/apimcontenttypes.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2020-12-01/apimportalrevisions.json
Labels: API Management, CI-BreakingChange-Python, FixS360

#13943 Hotfix on extended location hierarchy for virtual network local gateway
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/virtualNetworkGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/virtualNetworkGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-11-01/virtualNetworkGateway.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, FixS360, Network, NewApiVersionRequired

#13563 [Hub Generated] Review request for Microsoft.SecurityInsights to add version preview/2021-03-01-preview
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/Watchlists.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/examples/watchlists/CreateWatchlist.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/examples/watchlists/CreateWatchlistAndWatchlistItems.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/examples/watchlists/CreateWatchlistItem.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/examples/watchlists/DeleteWatchlist.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/examples/watchlists/DeleteWatchlistItem.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/examples/watchlists/GetWatchlistByAlias.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/examples/watchlists/GetWatchlistItemById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/examples/watchlists/GetWatchlistItems.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/examples/watchlists/GetWatchlists.json
  specification/securityinsights/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go

#13888 [Hub Generated] Review request for Microsoft.RecoveryServices to add version stable/2021-03-01
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/examples/CheckNameAvailability_Available.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/examples/CheckNameAvailability_NotAvailable.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/examples/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/examples/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/examples/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/examples/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/examples/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/examples/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/examples/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/examples/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/examples/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/examples/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/examples/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/examples/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/examples/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/examples/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/examples/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/examples/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/examples/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/examples/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/examples/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/examples/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/examples/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/examples/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/examples/UpdateVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/registeredidentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/replicationusages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/vaults.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-03-01/vaultusages.json
  specification/recoveryservices/resource-manager/readme.md
  specification/recoveryservicesbackup/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python

#13677 Updated required and default fields in Action Groups spec
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-03-01/actionGroups_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-06-01/actionGroups_API.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, FixS360

#13944 Remove AML Compute File Server
  specification/batchai/resource-manager/Microsoft.BatchAI/stable/2018-05-01/BatchAI.json
  specification/batchai/resource-manager/Microsoft.BatchAI/stable/2018-05-01/examples/DeleteFileServer.json
  specification/batchai/resource-manager/Microsoft.BatchAI/stable/2018-05-01/examples/GetCluster.json
  specification/batchai/resource-manager/Microsoft.BatchAI/stable/2018-05-01/examples/GetFileServer.json
  specification/batchai/resource-manager/Microsoft.BatchAI/stable/2018-05-01/examples/ListOperation.json
  specification/batchai/resource-manager/Microsoft.BatchAI/stable/2018-05-01/examples/PutCluster.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go

#13967 Cost Management: Reservation Recommendations API: Add multiple missing properties in specs
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/consumption.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-Python, NewApiVersionRequired

#13864 Hotfix extended location parameter hierarchy
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/virtualNetworkGateway.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, Network

#13971 TaskStepProperties swagger fix
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-04-01/containerregistry_build.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-04-01/examples/ManagedIdentity/TasksCreate_WithSystemAndUserIdentities.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-04-01/examples/ManagedIdentity/TasksCreate_WithSystemIdentity.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-04-01/examples/ManagedIdentity/TasksCreate_WithUserIdentities.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-04-01/examples/ManagedIdentity/TasksUpdate_WithKeyVaultCustomCredentials.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-04-01/examples/ManagedIdentity/TasksUpdate_WithMSICustomCredentials.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-04-01/examples/TasksCreate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-04-01/examples/TasksUpdate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-04-01/examples/TasksUpdate_WithOpaqueCustomCredentials.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, FixS360

#14039 Adding "assignmentState" property to scope model in access review APIs
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-03-01-preview/authorization-AccessReviewCalls.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-Python, NewApiVersionRequired

#14043 iothub readme.python package version change
  specification/iothub/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#14061 azure-kusto and iothub readme.go.md update version
  specification/azure-kusto/resource-manager/readme.go.md
  specification/iothub/resource-manager/readme.go.md
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#13958 package-templatespecs-2021-03-preview tag added (python)
  specification/resources/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#14058 Use 2014-04-01 replication link specs in V5 SDK
  specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/replicationLinks_legacy.json
  specification/sql/resource-manager/readme.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python, SQL, WaitForARMFeedback

#14029 automanage readme t1 del
  specification/automanage/resource-manager/readme.md
  specification/automanage/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2

#13904 add missing reference
  specification/web/resource-manager/readme.md
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#14063 databoxedge readme modification
  specification/databoxedge/resource-manager/readme.md
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#13635 [Hub Generated] Review request for Microsoft.RecoveryServices to add version stable/2021-02-10
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/examples/CheckNameAvailability_Available.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/examples/CheckNameAvailability_NotAvailable.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/examples/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/examples/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/examples/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/examples/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/examples/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/examples/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/examples/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/examples/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/examples/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/examples/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/examples/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/examples/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/examples/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/examples/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/examples/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/examples/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/examples/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/examples/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/examples/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/examples/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/examples/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/examples/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/examples/UpdateVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/registeredidentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/replicationusages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/vaults.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-02-10/vaultusages.json
  specification/recoveryservices/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python, FixS360

#13968 Cost Management: Reservation Recommendation Details API: Change etag --> eTag in specs
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/consumption.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, FixS360, NewApiVersionRequired

#14017 Update the name and format of a parameter for randomnumbers
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.3-preview/keys.json
Labels: BreakingChangeReviewRequired, CI-FixRequiredOnFailure

#13849 Amalladi/extendedlocation update
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/preview/2020-07-15-privatepreview/customlocations.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/preview/2020-07-15-privatepreview/examples/CustomLocationsCreate_Update.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/preview/2020-07-15-privatepreview/examples/CustomLocationsDelete.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/preview/2020-07-15-privatepreview/examples/CustomLocationsGet.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/preview/2020-07-15-privatepreview/examples/CustomLocationsGetEnabledResourceType.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/preview/2020-07-15-privatepreview/examples/CustomLocationsListByResourceGroup.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/preview/2020-07-15-privatepreview/examples/CustomLocationsListBySubscription.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/preview/2020-07-15-privatepreview/examples/CustomLocationsListEnabledResourceTypes.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/preview/2020-07-15-privatepreview/examples/CustomLocationsListOperations.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/preview/2020-07-15-privatepreview/examples/CustomLocationsPatch.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/preview/2021-03-15-preview/customlocations.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/preview/2021-03-15-preview/examples/CustomLocationsCreate_Update.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/preview/2021-03-15-preview/examples/CustomLocationsListEnabledResourceTypes.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/preview/2021-03-15-preview/examples/CustomLocationsPatch.json
  specification/extendedlocation/resource-manager/readme.go.md
  specification/extendedlocation/resource-manager/readme.md
  specification/extendedlocation/resource-manager/readme.python.md
  specification/extendedlocation/resource-manager/readme.ruby.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired

#14075 maps t2 config
  specification/maps/resource-manager/readme.md
Labels: CI-BreakingChange-Python

#14047 Revert "signalr only track2"
  specification/signalr/resource-manager/readme.md
  specification/signalr/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python
