Repository Azure/azure-rest-api-specs, pull requests merged in 2021-10, with the labels that each got.

#16130 Use newest common types to align with rest of Azure
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-10-01/AlertRules.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-10-01/Incidents.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-10-01/ThreatIntelligence.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-10-01/Watchlists.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-10-01/operations.json
  specification/securityinsights/resource-manager/common/2.0/types.json
Labels: CI-BreakingChange-Go

#16214 [Hub Generated] Review request for Microsoft.Cache to add version stable/2020-12-01
  specification/redis/resource-manager/Microsoft.Cache/stable/2020-06-01/redis.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2020-12-01/redis.json
Labels: CI-BreakingChange-Go, FixS360, Approved-SdkBreakingChange-Go

#16224 VNet Encryption: Add nic flag, vnet property, vnet peering property
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/NetworkInterfaceCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/NetworkInterfaceGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/NetworkInterfaceList.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/NetworkInterfaceListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/NetworkInterfaceUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/VirtualNetworkCreateWithEncryption.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/VirtualNetworkPeeringCreateWithRemoteVirtualNetworkEncryption.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/VirtualNetworkPeeringGetWithRemoteVirtualNetworkEncryption.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/VirtualNetworkPeeringListWithRemoteVirtualNetworkEncryption.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/networkInterface.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/virtualNetwork.json
Labels: Network, CI-BreakingChange-Go

#16255 Robga/policy
  specification/resources/resource-manager/Microsoft.Authorization/stable/2021-07-01/examples/createOrUpdatePolicyExemption.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2021-07-01/examples/createOrUpdatePolicyPricing.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2021-07-01/examples/deletePolicyExemption.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2021-07-01/examples/deletePolicyPricing.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2021-07-01/examples/getPolicyExemption.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2021-07-01/examples/getPolicyPricing.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2021-07-01/examples/listPolicyExemptionsForManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2021-07-01/examples/listPolicyExemptionsForResource.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2021-07-01/examples/listPolicyExemptionsForResourceGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2021-07-01/examples/listPolicyExemptionsForSubscription.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2021-07-01/examples/listPolicyPricingsForManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2021-07-01/examples/listPolicyPricingsForSubscription.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2021-07-01/policyExemptions.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2021-07-01/policyPricings.json
  specification/resources/resource-manager/readme.go.md
  specification/resources/resource-manager/readme.java.md
  specification/resources/resource-manager/readme.md
  specification/resources/resource-manager/readme.python.md
Labels: ARMSignedOff, CI-BreakingChange-Go

#15907 [Web PubSub] Add new API version for GA
  specification/webpubsub/data-plane/WebPubSub/stable/2021-10-01/webpubsub.json
  specification/webpubsub/data-plane/readme.md
Labels: APIStewardshipBoard-ReviewRequested

#16132 [Hub Generated] Review request for Microsoft.Cache to add version stable/2020-12-01
  specification/redis/resource-manager/Microsoft.Cache/stable/2020-06-01/redis.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2020-12-01/redis.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, FixS360

#16272 Remove references to IANA and preview documentation tag from geolocation.json
  specification/maps/data-plane/Geolocation/preview/1.0/geolocation.json
  specification/maps/data-plane/Microsoft.Maps/Geolocation/preview/1.0/geolocation.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, FalsePositive-BreakingChange

#16077 [Hub Generated] Review request for Search to add version preview/1.0
  specification/maps/data-plane/Search/preview/1.0/search.json
Labels: Approved-BreakingChange, NewApiVersionRequired

#16239 [Hub Generated] Review request for Microsoft.Security to add version preview/2021-07-01-preview
  specification/security/resource-manager/Microsoft.Security/preview/2021-07-01-preview/customAssessmentAutomation.json
  specification/security/resource-manager/Microsoft.Security/preview/2021-07-01-preview/examples/CustomAssessmentAutomations/customAssessmentAutomationCreate_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2021-07-01-preview/examples/CustomAssessmentAutomations/customAssessmentAutomationGet_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2021-07-01-preview/examples/CustomAssessmentAutomations/customAssessmentAutomationListByResourceGroup_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2021-07-01-preview/examples/CustomAssessmentAutomations/customAssessmentAutomationListBySubscription_example.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, NewApiVersionRequired, CI-BreakingChange-Go

#15621 [DPS] DataPlane API Review
  custom-words.txt
  specification/deviceprovisioningservices/data-plane/Microsoft.Devices/stable/2021-10-01/service.json
  specification/deviceprovisioningservices/data-plane/readme.csharp.md
  specification/deviceprovisioningservices/data-plane/readme.md
Labels: Reviewed-ChangesRequested, CI-FixRequiredOnFailure, Approved-LintDiff

#16162 [Azure Maps] Swagger improvement for Elevation + other minor fixes [Hub Generated]
  specification/maps/data-plane/Common/preview/1.0/common.json
  specification/maps/data-plane/DEM/preview/1.0/elevation.json
  specification/maps/data-plane/DEM/preview/1.0/examples/PostDataForPoints.json
  specification/maps/data-plane/DEM/preview/1.0/examples/PostDataForPolyline.json
  specification/maps/data-plane/Geolocation/preview/1.0/geolocation.json
  specification/maps/data-plane/Route/preview/1.0/route.json
  specification/maps/data-plane/Search/preview/1.0/search.json
  specification/maps/data-plane/Traffic/preview/1.0/traffic.json
  specification/maps/data-plane/Weather/preview/1.0/weather.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, FalsePositive-BreakingChange
