Repository Azure/azure-rest-api-specs, pull requests merged in 2021-03, with the labels that each got.

#11542 update python config guide
  documentation/code-gen/configure-python-sdk.md
  documentation/samplefiles/readme.python.md
Labels: no-recent-activity

#13043 Fix Threat Intelligence Swagger Correctness S360
  custom-words.txt
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, FixS360

#12730 Workspaces: Swagger correctness
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-08-01/Workspaces.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-10-01/Workspaces.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, FixS360

#13113 Introducing System data
  specification/databox/resource-manager/Microsoft.DataBox/stable/2020-11-01/databox.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python, FixS360

#12244 PowerBIDedicated - Add new API Version
  specification/powerbidedicated/resource-manager/Microsoft.PowerBIdedicated/stable/2021-01-01/autoScaleVCores.json
  specification/powerbidedicated/resource-manager/Microsoft.PowerBIdedicated/stable/2021-01-01/examples/checkNameAvailability.json
  specification/powerbidedicated/resource-manager/Microsoft.PowerBIdedicated/stable/2021-01-01/examples/createAutoScaleVCore.json
  specification/powerbidedicated/resource-manager/Microsoft.PowerBIdedicated/stable/2021-01-01/examples/createCapacity.json
  specification/powerbidedicated/resource-manager/Microsoft.PowerBIdedicated/stable/2021-01-01/examples/deleteAutoScaleVCore.json
  specification/powerbidedicated/resource-manager/Microsoft.PowerBIdedicated/stable/2021-01-01/examples/deleteCapacity.json
  specification/powerbidedicated/resource-manager/Microsoft.PowerBIdedicated/stable/2021-01-01/examples/getAutoScaleVCore.json
  specification/powerbidedicated/resource-manager/Microsoft.PowerBIdedicated/stable/2021-01-01/examples/getCapacity.json
  specification/powerbidedicated/resource-manager/Microsoft.PowerBIdedicated/stable/2021-01-01/examples/listAutoScaleVCoresInResourceGroup.json
  specification/powerbidedicated/resource-manager/Microsoft.PowerBIdedicated/stable/2021-01-01/examples/listAutoScaleVCoresInSubscription.json
  specification/powerbidedicated/resource-manager/Microsoft.PowerBIdedicated/stable/2021-01-01/examples/listCapacitiesInResourceGroup.json
  specification/powerbidedicated/resource-manager/Microsoft.PowerBIdedicated/stable/2021-01-01/examples/listCapacitiesInSubscription.json
  specification/powerbidedicated/resource-manager/Microsoft.PowerBIdedicated/stable/2021-01-01/examples/listSKUsForExisting.json
  specification/powerbidedicated/resource-manager/Microsoft.PowerBIdedicated/stable/2021-01-01/examples/listSKUsForNew.json
  specification/powerbidedicated/resource-manager/Microsoft.PowerBIdedicated/stable/2021-01-01/examples/resumeCapacity.json
  specification/powerbidedicated/resource-manager/Microsoft.PowerBIdedicated/stable/2021-01-01/examples/suspendCapacity.json
  specification/powerbidedicated/resource-manager/Microsoft.PowerBIdedicated/stable/2021-01-01/examples/updateAutoScaleVCore.json
  specification/powerbidedicated/resource-manager/Microsoft.PowerBIdedicated/stable/2021-01-01/examples/updateCapacity.json
  specification/powerbidedicated/resource-manager/Microsoft.PowerBIdedicated/stable/2021-01-01/powerbidedicated.json
  specification/powerbidedicated/resource-manager/readme.azureresourceschema.md
  specification/powerbidedicated/resource-manager/readme.go.md
  specification/powerbidedicated/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-BreakingChange-Python, WaitForARMFeedback

#13183 Add auth type property to vng config
  specification/network/resource-manager/Microsoft.Network/stable/2020-11-01/virtualNetworkGateway.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, Network

#9805 [Hub Generated] Review request for Microsoft.KubernetesConfiguration to add version preview/2020-07-01-preview
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2020-07-01-preview/examples/CreateExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2020-07-01-preview/examples/CreateSourceControlConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2020-07-01-preview/examples/DeleteExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2020-07-01-preview/examples/DeleteSourceControlConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2020-07-01-preview/examples/GetExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2020-07-01-preview/examples/GetSourceControlConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2020-07-01-preview/examples/ListExtensions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2020-07-01-preview/examples/ListSourceControlConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2020-07-01-preview/examples/OperationsList.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2020-07-01-preview/examples/UpdateExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2020-07-01-preview/extensions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2020-07-01-preview/kubernetesconfiguration.json
  specification/kubernetesconfiguration/resource-manager/readme.go.md
  specification/kubernetesconfiguration/resource-manager/readme.java.md
  specification/kubernetesconfiguration/resource-manager/readme.md
  specification/kubernetesconfiguration/resource-manager/readme.ruby.md
Labels: ARMSignedOff, Kubernetes Configuration

#13200 Fix a malformed field.
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2021-03-01-preview/managedCassandra.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#13150 [Quantum] Addressing swagger completeness and correctness errors
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2019-11-04-preview/examples/offeringsList.json
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2019-11-04-preview/examples/quantumWorkspacesCheckNameAvailability.json
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2019-11-04-preview/examples/quantumWorkspacesGet.json
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2019-11-04-preview/examples/quantumWorkspacesListResourceGroup.json
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2019-11-04-preview/examples/quantumWorkspacesListSubscription.json
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2019-11-04-preview/examples/quantumWorkspacesPatch.json
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2019-11-04-preview/examples/quantumWorkspacesPut.json
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2019-11-04-preview/quantum.json
Labels: ARMSignedOff, Approved-BreakingChange, FixS360, WaitForARMFeedback

#13172 ADP: fix cli codegen
  specification/adp/resource-manager/readme.az.md
  specification/adp/resource-manager/readme.cli.md
Labels: CI-BreakingChange-Python-Track2

#13122 [text analytics] fix pii entity categories
  specification/cognitiveservices/data-plane/TextAnalytics/preview/v3.1-preview.4/TextAnalytics.json
Labels: BreakingChangeReviewRequired

#12958 Support new StorageAccountTypes Premium_ZRS, StandardSSD_ZRS
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/compute.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, Compute, customer-reported

#12991 Add sites, sensors and onPremiseSensors resources
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/OnPremiseSensors/Delete.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/OnPremiseSensors/DownloadActivation.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/OnPremiseSensors/DownloadResetPassword.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/OnPremiseSensors/Get.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/OnPremiseSensors/List.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/OnPremiseSensors/Put.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Sensors/Delete.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Sensors/DownloadActivation.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Sensors/DownloadResetPassword.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Sensors/Get.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Sensors/List.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Sensors/Put.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Sensors/TriggerTiPackageUpdate.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Sites/Delete.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Sites/Get.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Sites/List.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Sites/Put.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/onPremiseSensors.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/sensors.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/sites.json
  specification/iotsecurity/resource-manager/readme.azureresourceschema.md
  specification/iotsecurity/resource-manager/readme.md
Labels: ARMSignedOff

#12912 [Hub Generated] Review request for Microsoft.Devices to add version stable/2020-01-01
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-01-01/examples/DPSCertificateCreateOrUpdate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-01-01/examples/DPSGetCertificate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-01-01/examples/DPSGetCertificates.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-01-01/examples/DPSVerifyCertificate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-01-01/iotdps.json
Labels: Approved-OkToMerge, FixS360

#13205 fix window closed. remove s360 comments.
  .github/comment.yml
Labels: Approved-Avocado

#13184 Add SystemData
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2020-10-01/azurestackhci.json
Labels: FixS360

#13174 [DataFactory] Add UAMI to Identity
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json
Labels: CI-BreakingChange-Go

#13069 [Iothub] Added new routing source [version 2021-02-01-preview]
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/IotHub_ManualFailover.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/checkNameAvailability.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_certificatescreateorupdate.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_certificatesdelete.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_certverify.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_createOrUpdate.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_createconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_delete.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_deleteconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_deleteprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_exportdevices.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_generateverificationcode.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_get.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_getcertificate.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_getconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_getjob.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_getkey.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_getprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_getprivatelinkresources.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_getskus.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_importdevices.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_listbyrg.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_listbysubscription.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_listcertificates.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_listehgroups.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_listjobs.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_listkeys.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_listprivateendpointconnections.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_listprivatelinkresources.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_operations.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_patch.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_quotametrics.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_routingendpointhealth.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_stats.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_testallroutes.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_testnewroute.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_updateprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/examples/iothub_usages.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-02-01-preview/iothub.json
  specification/iothub/resource-manager/readme.md
Labels: ARMSignedOff

#13094 [NetAppFiles] Remove name from pool
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-07-01/netapp.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2019-11-01/netapp.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, FixS360

#13223 Update python track2 sdk for deviceupdate
  specification/deviceupdate/resource-manager/readme.md
  specification/deviceupdate/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2

#13059 Added subscriptionId and resourceGroupName in Server properties
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/ServerCreatePointInTimeRestore.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/postgresql.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/ServerCreatePointInTimeRestore.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/postgresql.json
Labels: CI-BreakingChange-Python

#13120 Fix swagger KPI issue on additional property "tenantId" in deployment script with api-version 2020-10-01
  specification/resources/resource-manager/Microsoft.Resources/preview/2019-10-01-preview/deploymentScripts.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-10-01/deploymentScripts.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, FixS360

#13126 S360 - insert missing API version.
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/Endpoint-DELETE-External.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/Endpoint-GET-External-WithGeoMapping.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/Endpoint-GET-External-WithLocation.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/Endpoint-GET-External-WithSubnetMapping.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/Endpoint-PATCH-External-Target.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/Endpoint-PUT-External-WithCustomHeaders.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/Endpoint-PUT-External-WithGeoMapping.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/Endpoint-PUT-External-WithLocation.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/Endpoint-PUT-External-WithSubnetMapping.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/GeographicHierarchy-GET-default.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/HeatMap-GET-With-Null-Values.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/HeatMap-GET-With-TopLeft-BotRight.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/HeatMap-GET.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/NameAvailabilityTest_NameAvailable-POST-example-21.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/NameAvailabilityTest_NameNotAvailable-POST-example-23.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/Profile-DELETE.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/Profile-GET-ByResourceGroup.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/Profile-GET-BySubscription.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/Profile-GET-WithEndpoints.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/Profile-GET-WithTrafficViewDisabled.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/Profile-GET-WithTrafficViewEnabled.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/Profile-PATCH-MonitorConfig.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/Profile-PUT-MultiValue.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/Profile-PUT-NoEndpoints.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/Profile-PUT-WithAliasing.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/Profile-PUT-WithCustomHeaders.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/Profile-PUT-WithEndpoints.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/Profile-PUT-WithNestedEndpoints.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/TrafficManagerUserMetricsKeys-DELETE.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/TrafficManagerUserMetricsKeys-GET.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/examples/TrafficManagerUserMetricsKeys-PUT.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-08-01/trafficmanager.json
  specification/trafficmanager/resource-manager/readme.azureresourceschema.md
  specification/trafficmanager/resource-manager/readme.go.md
  specification/trafficmanager/resource-manager/readme.md
  specification/trafficmanager/resource-manager/readme.ruby.md
Labels: ARMSignedOff, FixS360

#13083 Update redisenterprise readme files for Azure CLI
  specification/redisenterprise/resource-manager/readme.az.md
  specification/redisenterprise/resource-manager/readme.cli.md
Labels: CI-BreakingChange-Python-Track2

#13097 [Hub Generated] Review request for Microsoft.Consumption to add version stable/2019-10-01
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/consumption.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, FixS360

#13240 [deviceupdate] make changes to readme in time for first release
  specification/deviceupdate/data-plane/readme.python.md
Labels: CI-BreakingChange-Python

#12855 Peering new api version 2021-01-01
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/CheckServiceProviderAvailability.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/CreateDirectPeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/CreateExchangePeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/CreatePeerAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/CreatePeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/CreatePeeringServicePrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/CreatePeeringWithExchangeRouteServer.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/CreateRegisteredAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/CreateRegisteredPrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/DeletePeerAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/DeletePeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/DeletePeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/DeletePeeringServicePrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/DeleteRegisteredAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/DeleteRegisteredPrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/GetPeerAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/GetPeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/GetPeeringReceivedRoutes.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/GetPeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/GetPeeringServicePrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/GetRegisteredAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/GetRegisteredPrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/ListCdnPeeringPrefixes.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/ListDirectPeeringLocations.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/ListExchangePeeringLocations.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/ListLegacyPeerings.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/ListPeerAsnsBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/ListPeeringOperations.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/ListPeeringServiceCountriesBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/ListPeeringServiceLocationsBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/ListPeeringServiceProviders.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/ListPeeringServicesByResourceGroup.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/ListPeeringServicesBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/ListPeeringsByResourceGroup.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/ListPeeringsBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/ListPrefixesByPeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/ListRegisteredAsnsByPeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/ListRegisteredPrefixesByPeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/UpdatePeeringServiceTags.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/examples/UpdatePeeringTags.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/peering.json
  specification/peering/resource-manager/readme.azureresourceschema.md
  specification/peering/resource-manager/readme.go.md
  specification/peering/resource-manager/readme.java.md
  specification/peering/resource-manager/readme.md
  specification/peering/resource-manager/readme.ruby.md
Labels: ARMSignedOff, CI-BreakingChange-Python

#12822 [Hub Generated] Review request for Microsoft.Consumption to add version stable/2019-10-01
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/consumption.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python, FixS360

#13241 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2019-11-01
  custom-words.txt
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/costmanagement.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/Setting.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/SettingsCreateOrUpdate.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/SettingsDelete.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/examples/SettingsList.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python, NewApiVersionRequired

#12739 [Hub Generated] Review request for Face to add version stable/v1.0
  specification/cognitiveservices/data-plane/Face/stable/v1.0/Face.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#13263 Update credential scope for Python.
  specification/deviceupdate/data-plane/readme.python.md
Labels: CI-BreakingChange-Python

#13244 Fix parent class of ClusterResource and DataCenterResource in .NET SDK
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2021-03-01-preview/managedCassandra.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, WaitForARMFeedback

#12567 read replica added
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/ServerGroupCreateReadReplica.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/ServerGroupGet.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/ServerGroupList.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/ServerGroupListByResourceGroup.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/postgresqlhsc.json
Labels: ARMSignedOff, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#13004 add force delete query parameter for delegatedSubnets resource
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/common-types.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/controller.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/delegatedSubnets.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/operations.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2020-08-08-preview/orchestrators.json
  specification/dnc/resource-manager/readme.azureresourceschema.md
  specification/dnc/resource-manager/readme.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, NewApiVersionRequired

#13236 Renaming operations to fix s360 violations
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2018-06-01/PerformanceRecommendations.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2018-06-01/examples/RecommendedActionSessionStart.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python, NewApiVersionRequired

#13280 [Hub Generated] Review request for Microsoft.Consumption to add version stable/2019-10-01
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/consumption.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python, FixS360

#13204 Add authHeaders to HTTP/REST/OData Linked Service, add MultiFactor to SFTP authenticationType
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
Labels: CI-BreakingChange-Go

#13295 add a version in readmepython
  specification/network/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, Network

#12875 [Hub Generated] Review request for Microsoft.StorageCache to add version stable/2021-03-01
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2021-03-01/examples/AscOperations_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2021-03-01/examples/Caches_CreateOrUpdate.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2021-03-01/examples/Caches_CreateOrUpdate_ldap_only.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2021-03-01/examples/Caches_DebugInfo.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2021-03-01/examples/Caches_Delete.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2021-03-01/examples/Caches_Flush.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2021-03-01/examples/Caches_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2021-03-01/examples/Caches_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2021-03-01/examples/Caches_ListByResourceGroup.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2021-03-01/examples/Caches_Start.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2021-03-01/examples/Caches_Stop.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2021-03-01/examples/Caches_Update.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2021-03-01/examples/Caches_Update_ldap_only.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2021-03-01/examples/Caches_UpgradeFirmware.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2021-03-01/examples/Operations_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2021-03-01/examples/Skus_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2021-03-01/examples/StorageTargets_CreateOrUpdate.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2021-03-01/examples/StorageTargets_CreateOrUpdate_BlobNfs.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2021-03-01/examples/StorageTargets_CreateOrUpdate_NoJunctions.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2021-03-01/examples/StorageTargets_Delete.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2021-03-01/examples/StorageTargets_DnsRefresh.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2021-03-01/examples/StorageTargets_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2021-03-01/examples/StorageTargets_ListByCache.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2021-03-01/examples/UsageModels_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2021-03-01/storagecache.json
  specification/storagecache/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-BreakingChange-Python

#12999 AAS - Fix Swagger Correctness v6
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/analysisservices.json
Labels: ARMChangesRequested, ARMSignedOff, BreakingChangeReviewRequired, CI-BreakingChange-Go, FixS360

#12944 added clientId to byos api response schema
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-10-20/workbooks_API.json
Labels: FixS360

#12581 typo: identifer -> identifier
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2018-01-01/apimapis.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/preview/2020-02-01-preview/managedservices.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/stable/2019-09-01/managedservices.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2015-04-01/Domains.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2018-02-01/Domains.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2019-08-01/Domains.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2020-06-01/Domains.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2020-09-01/Domains.json
Labels: Approved-ModelValidation, CI-BreakingChange-Python, customer-reported

#12866 PowerBiDedicated - Fix Swagger Correctness Issue V1
  specification/powerbidedicated/resource-manager/Microsoft.PowerBIdedicated/stable/2017-10-01/powerbidedicated.json
Labels: Approved-BreakingChange, Approved-OkToMerge, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, FixS360

#12753 mgmt compute update readme.java.md
  specification/compute/resource-manager/readme.java.md
Labels: CI-BreakingChange-Go, no-recent-activity

#13294 Pprp
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/common/v1/definitions.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/enterprisePolicy.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/PrivateEndpointConnectionGet.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/PrivateEndpointConnectionListGet.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/PrivateEndpointConnectionUpdate.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/PrivateLinkResourceGet.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/PrivateLinkResourceListGet.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/createOrUpdateEnterprisePolicy.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/getEnterprisePolicy.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/subnetGet.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/subnetUpdate.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/updateEnterprisePolicy.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/privateEndpointConnection.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/privateLinkResources.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/subnetResources.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, Reviewed-ChangesRequired

#13279 Add optional read-only property kind to ServiceEndpointPolicy
  specification/network/resource-manager/Microsoft.Network/stable/2020-11-01/serviceEndpointPolicy.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, Network

#13206 Adding recoveryservices swagger for api-version 2021-01-01
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/examples/CheckNameAvailability_Available.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/examples/CheckNameAvailability_NotAvailable.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/examples/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/examples/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/examples/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/examples/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/examples/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/examples/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/examples/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/examples/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/examples/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/examples/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/examples/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/examples/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/examples/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/examples/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/examples/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/examples/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/examples/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/examples/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/examples/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/examples/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/examples/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/examples/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/examples/UpdateVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/registeredidentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/replicationusages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/vaults.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2021-01-01/vaultusages.json
  specification/recoveryservices/resource-manager/readme.azureresourceschema.md
  specification/recoveryservices/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python

#12757 Created a new Microsoft.SecurityInsights preview version - Added onboarding & Offboarding endpoints
  custom-words.txt
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/Settings.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/examples/settings/DeleteEyesOnSetting.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/examples/settings/GetAllSettings.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/examples/settings/GetEyesOnSetting.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/examples/settings/Offboard.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/examples/settings/Onboard.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/examples/settings/UpdateEyesOnSetting.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/operations.json
  specification/securityinsights/resource-manager/common/1.0/types.json
  specification/securityinsights/resource-manager/readme.azureresourceschema.md
  specification/securityinsights/resource-manager/readme.go.md
  specification/securityinsights/resource-manager/readme.md
Labels: ARMSignedOff, Approved-OkToMerge, CI-BreakingChange-Go, FixS360, customer-reported

#13139 [Hub Generated] Review request for Microsoft.Insights to clean up 2019-11-01-preview (under "window to fix broken")
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-11-01-preview/dataCollectionRuleAssociations_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-11-01-preview/dataCollectionRules_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-11-01-preview/examples/DataCollectionRulesCreate.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-11-01-preview/examples/DataCollectionRulesGet.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-11-01-preview/examples/DataCollectionRulesListByResourceGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-11-01-preview/examples/DataCollectionRulesListBySubscription.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-11-01-preview/examples/DataCollectionRulesUpdate.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, FixS360

#13299 Removing read-only for applicationName and resourceUsageId
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2019-11-04-preview/quantum.json
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired

#13235 Microsoft.DataProtection swagger changes
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/dataprotection.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/examples/BackupInstanceOperations/GetBackupInstance.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/examples/BackupInstanceOperations/ListBackupInstances.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/examples/BackupInstanceOperations/PutBackupInstance.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/examples/BackupInstanceOperations/TriggerBackup.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/examples/BackupInstanceOperations/TriggerRestore.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/examples/BackupInstanceOperations/TriggerRestoreAsFiles.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/examples/BackupInstanceOperations/TriggerRestoreWithRehydration.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/examples/BackupInstanceOperations/ValidateForBackup.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/examples/BackupInstanceOperations/ValidateRestore.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/examples/GetOperationResult.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/examples/VaultCRUD/GetBackupVault.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/examples/VaultCRUD/GetBackupVaultWithMSI.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/examples/VaultCRUD/GetBackupVaultsInResourceGroup.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/examples/VaultCRUD/GetBackupVaultsInSubscription.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/examples/VaultCRUD/GetOperationResultPatch.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/examples/VaultCRUD/PatchBackupVault.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/examples/VaultCRUD/PutBackupVault.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/examples/VaultCRUD/PutBackupVaultWithMSI.json
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python, FixS360, NewApiVersionRequired

#13201 Add new lint rules documentation
  documentation/openapi-authoring-automated-guidelines.md
Labels: CI-BreakingChange-Go

#13325 fix the validation errors
  specification/sql/resource-manager/readme.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python, SQL, WaitForARMFeedback

#13208 Updates Compute.json HyperVGeneration description in ImageProperties
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/compute.json
Labels: CI-BreakingChange-Go, Compute

#13242 EventGrid: Fix remaining swagger correctness issues
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-10-15-preview/EventGrid.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/stable/2020-06-01/EventGrid.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, FixS360

#13231 Update ResourceMover readme.az.md for CLI code generation
  specification/resourcemover/resource-manager/readme.az.md
Labels: CI-BreakingChange-Go

#13257 [Data Factory]Add AAD auth for CosmosDb to ADF public swagger
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
Labels: CI-BreakingChange-Go

#13275 New Microsoft.Insights api version 2021-02-01-preview
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-02-01-preview/examples/createOrUpdateScheduledQueryRule.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-02-01-preview/examples/createOrUpdateScheduledQueryRuleResourceGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-02-01-preview/examples/createOrUpdateScheduledQueryRuleSubscription.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-02-01-preview/examples/deleteScheduledQueryRule.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-02-01-preview/examples/getScheduledQueryRule.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-02-01-preview/examples/listScheduledQueryRulesByResourceGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-02-01-preview/examples/listScheduledQueryRulesBySubscription.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-02-01-preview/examples/patchScheduledQueryRule.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-02-01-preview/scheduledQueryRule_API.json
  specification/monitor/resource-manager/readme.md
Labels: ARMSignedOff, Approved-LintDiff, CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure

#12575 removing undocumented alert rule types
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
Labels: BreakingChangeReviewRequired, CI-BreakingChange-Go, FixS360

#13282 Added new routes for Deleted ManagedHsm for Soft Delete Feature
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/DeletedManagedHsm_Get.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/DeletedManagedHsm_List.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/DeletedManagedHsm_Purge.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/managedHsm.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, WaitForARMFeedback

#13087 Adding Communication Chat 2021-01-27-preview4
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-01-27-preview4/communicationserviceschat.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-01-27-preview4/examples/Conversations_ListChatReadReceiptsWithPageSize.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-01-27-preview4/examples/Conversations_SendChatReadReceipt.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-01-27-preview4/examples/Messages_DeleteChatMessage.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-01-27-preview4/examples/Messages_GetChatMessage.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-01-27-preview4/examples/Messages_ListChatMessagesWithPageSize.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-01-27-preview4/examples/Messages_SendChatMessage.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-01-27-preview4/examples/Messages_SendTypingNotification.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-01-27-preview4/examples/Messages_UpdateChatMessage.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-01-27-preview4/examples/Participants_AddChatParticipants.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-01-27-preview4/examples/Participants_ListChatParticipantsWithPageSize.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-01-27-preview4/examples/Participants_RemoveChatParticipant.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-01-27-preview4/examples/Threads_CreateChatThread.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-01-27-preview4/examples/Threads_CreateChatThreadWithRepeatabilityRequestId.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-01-27-preview4/examples/Threads_DeleteChatThread.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-01-27-preview4/examples/Threads_GetChatThread.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-01-27-preview4/examples/Threads_ListChatThreadsWithPageSize.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-01-27-preview4/examples/Threads_UpdateChatThreadTopic.json
  specification/communication/data-plane/readme.md
Labels: Communication

#13252 Api tos license contact parameter schema
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/definitions.json
Labels: 2021-01-01-preview, API Management, CI-BreakingChange-Python

#13248 Addressing Ri Reco Swagger issues
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/consumption.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python, FixS360

#13338 20210304 depth rename network
  specification/network/resource-manager/readme.az.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, Network

#11912 Changes for websocket entities
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/apimapis.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/examples/ApiManagementCreateWebsocketApi.json
Labels: 2021-01-01-preview, API Management, CI-BreakingChange-Python

#13331 aks: add azure keyvault secrets provider addon spec
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2021-02-01/examples/ManagedClustersCreate_AzureKeyvaultSecretsProvider.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2021-02-01/managedClusters.json
Labels: Reviewed-ChangesRequired

#13291 [DataFactory]Update AzureDataExplorer and AzureStorage LinkedService
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
Labels: CI-BreakingChange-Go, WaitForARMFeedback

#13342 {HDInsight}Fix some roundtrip S360 issues in api version 2015-03-01-preview
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/applications.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/cluster.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python, FixS360

#13196 [Hub Generated] Review request for Microsoft.KeyVault to add version stable/2019-09-01
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/createVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/createVaultWithNetworkAcls.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/getVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/listVaultByResourceGroup.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/listVaultBySubscription.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/examples/updateVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/keys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/keyvault.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, FixS360

#13347 free tls changes and updated examples
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/apimdeployment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/examples/ApiManagementCreateService.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/examples/ApiManagementCreateServiceHavingMsi.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/examples/ApiManagementCreateServiceInVnetWithPublicIP.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/examples/ApiManagementCreateServiceInZones.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/examples/ApiManagementCreateServiceWithCustomHostnameKeyVault.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/examples/ApiManagementCreateServiceWithSystemCertificates.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/examples/ApiManagementCreateServiceWithUserAssignedIdentity.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/examples/ApiManagementServiceGetMultiRegionInternalVnet.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/examples/ApiManagementServiceGetService.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/examples/ApiManagementServiceGetServiceHavingMsi.json
Labels: 2021-01-01-preview, API Management, CI-BreakingChange-Python

#13356 Gateway Load Balancer to January release
  specification/network/resource-manager/Microsoft.Network/stable/2021-01-01/examples/LoadBalancerCreateGatewayLoadBalancerConsumer.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-01-01/examples/LoadBalancerCreateGatewayLoadBalancerProviderWithOneBackendPool.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-01-01/examples/LoadBalancerCreateGatewayLoadBalancerProviderWithTwoBackendPool.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-01-01/examples/NetworkInterfaceCreateGatewayLoadBalancerConsumer.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-01-01/loadBalancer.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-01-01/networkInterface.json
  specification/network/resource-manager/readme.cli.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, Network, WaitForARMFeedback, customer-reported

#13383 add go sdk config for network and storagecache
  specification/network/resource-manager/readme.go.md
  specification/storagecache/resource-manager/readme.go.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#13119 Authorization - Add roleassignmentmetrics calls and fix correctness issues
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2019-08-01-preview/authorization-UsageMetricsCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2019-08-01-preview/examples/RoleAssignmentMetrics_GetForSubscription.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/authorization-RoleAssignmentsCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleAssignments_CreateById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleAssignments_CreateForResource.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleAssignments_CreateForResourceGroup.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-03-01-preview/examples/RoleAssignments_CreateForSubscription.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-04-01-preview/authorization-RoleAssignmentsCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-04-01-preview/examples/PutRoleAssignment.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-04-01-preview/examples/PutRoleAssignmentById.json
  specification/authorization/resource-manager/readme.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, FixS360, NewApiVersionRequired, WaitForARMFeedback

#13229 Operations API - added missing property (s360 bug)
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/operations.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/SecurityInsights.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, FixS360

#13370 Diyakobo/add location field
  specification/saas/resource-manager/Microsoft.SaaS/preview/2018-03-01-beta/examples/OperationResults/Get.json
  specification/saas/resource-manager/Microsoft.SaaS/preview/2018-03-01-beta/examples/saasSubscriptionLevel/SaasPut.json
  specification/saas/resource-manager/Microsoft.SaaS/preview/2018-03-01-beta/saas.json
Labels: Approved-BreakingChange, FixS360, NewApiVersionRequired

#13155 Microsoft.Compute: Add new stable API version 2021-03-01 for CloudServices resource
  custom-words.txt
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/cloudService.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/CreateCloudServiceWithMultiRole.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/CreateCloudServiceWithSingleRole.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/CreateCloudServiceWithSingleRoleAndCertificate.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/CreateCloudServiceWithSingleRoleAndRDP.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/DeleteCloudService.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/DeleteCloudServiceRoleInstance.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/DeleteCloudServiceRoleInstances.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/GetCloudServiceInstanceViewWithMultiRole.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/GetCloudServiceOSFamily.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/GetCloudServiceOSVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/GetCloudServiceRole.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/GetCloudServiceRoleInstance.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/GetCloudServiceUpdateDomain.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/GetCloudServiceWithMultiRoleAndRDP.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/GetInstanceViewOfCloudServiceRoleInstance.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/ListCloudServiceOSFamilies.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/ListCloudServiceOSVersions.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/ListCloudServiceRoles.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/ListCloudServiceRolesInstances.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/ListCloudServiceUpdateDomains.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/ListCloudServicesInResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/ListCloudServicesInSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/PowerOffCloudService.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/RebuildCloudServiceRoleInstance.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/RebuildCloudServiceRoleInstances.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/ReimageCloudServiceRoleInstance.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/ReimageCloudServiceRoleInstances.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/RestartCloudServiceRoleInstance.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/RestartCloudServiceRoleInstances.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/StartCloudService.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/UpdateCloudServiceToIncludeTags.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/UpdateCloudServiceUpdateDomain.json
  specification/compute/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Compute, computeReview

#13218 2021 preview eh
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/AuthorizationRules.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/CheckNameAvailability.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/consumergroups.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/disasterRecoveryConfigs.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/eventhubs.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/ConsumerGroup/EHConsumerGroupCreate.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/ConsumerGroup/EHConsumerGroupDelete.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/ConsumerGroup/EHConsumerGroupGet.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/ConsumerGroup/EHConsumerGroupListByEventHub.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/EHOperations_List.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/EventHubs/EHEventHubAuthorizationRuleCreate.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/EventHubs/EHEventHubAuthorizationRuleDelete.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/EventHubs/EHEventHubAuthorizationRuleGet.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/EventHubs/EHEventHubAuthorizationRuleListAll.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/EventHubs/EHEventHubAuthorizationRuleListKey.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/EventHubs/EHEventHubAuthorizationRuleRegenerateKey.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/EventHubs/EHEventHubCreate.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/EventHubs/EHEventHubDelete.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/EventHubs/EHEventHubGet.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/EventHubs/EHEventHubListByNameSpace.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/NameSpaces/EHNameSpaceAuthorizationRuleCreate.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/NameSpaces/EHNameSpaceAuthorizationRuleDelete.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/NameSpaces/EHNameSpaceAuthorizationRuleGet.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/NameSpaces/EHNameSpaceAuthorizationRuleListAll.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/NameSpaces/EHNameSpaceAuthorizationRuleListKey.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/NameSpaces/EHNameSpaceAuthorizationRuleRegenerateKey.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/NameSpaces/EHNameSpaceCheckNameAvailability.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/NameSpaces/EHNameSpaceCreate.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/NameSpaces/EHNameSpaceDelete.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/NameSpaces/EHNameSpaceGet.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/NameSpaces/EHNameSpaceList.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/NameSpaces/EHNameSpaceListByResourceGroup.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/NameSpaces/EHNameSpaceUpdate.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/NameSpaces/PrivateEndPointConnectionCreate.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/NameSpaces/PrivateEndPointConnectionDelete.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/NameSpaces/PrivateEndPointConnectionGet.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/NameSpaces/PrivateEndPointConnectionList.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/NameSpaces/PrivateLinkResourcesGet.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/NameSpaces/VirtualNetworkRule/EHNetworkRuleSetCreate.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/NameSpaces/VirtualNetworkRule/EHNetworkRuleSetGet.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/disasterRecoveryConfigs/EHAliasAuthorizationRuleGet.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/disasterRecoveryConfigs/EHAliasAuthorizationRuleListAll.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/disasterRecoveryConfigs/EHAliasAuthorizationRuleListKey.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/disasterRecoveryConfigs/EHAliasBreakPairing.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/disasterRecoveryConfigs/EHAliasCheckNameAvailability.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/disasterRecoveryConfigs/EHAliasCreate.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/disasterRecoveryConfigs/EHAliasDelete.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/disasterRecoveryConfigs/EHAliasFailOver.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/disasterRecoveryConfigs/EHAliasGet.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/examples/disasterRecoveryConfigs/EHAliasList.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/namespaces-preview.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/networkrulessets-preview.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/operations.json
  specification/eventhub/resource-manager/common/v1/definitions.json
  specification/eventhub/resource-manager/readme.md
  specification/eventhub/resource-manager/readme.python.md
Labels: ARMSignedOff, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#13360 [Quantum] Fixing correctness issue regarding the CheckNameAvailability
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2019-11-04-preview/examples/quantumWorkspacesCheckNameAvailability.json
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2019-11-04-preview/quantum.json
Labels: FixS360

#13304 Deprecate arc data services resource types
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/azuredata.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/CreateOrUpdateDataController.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/CreateOrUpdatePostgresInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/CreateOrUpdateSqlManagedInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/CreateOrUpdateSqlServerInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/DeleteDataController.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/DeletePostgresInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/DeleteSqlManagedInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/DeleteSqlServerInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/GetDataController.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/GetPostgresInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/GetSqlManagedInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/GetSqlServerInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/ListByResourceGroupDataController.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/ListByResourceGroupPostgresInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/ListByResourceGroupSqlManagedInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/ListByResourceGroupSqlServerInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/ListSubscriptionDataController.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/ListSubscriptionPostgresInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/ListSubscriptionSqlManagedInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/ListSubscriptionSqlServerInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/UpdateDataController.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/UpdatePostgresInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/UpdateSqlManagedInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/examples/UpdateSqlServerInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/azuredata.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/CreateOrUpdateDataController.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/CreateOrUpdatePostgresInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/CreateOrUpdateSqlManagedInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/CreateOrUpdateSqlServerInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/DeleteDataController.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/DeletePostgresInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/DeleteSqlManagedInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/DeleteSqlServerInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/GetDataController.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/GetPostgresInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/GetSqlManagedInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/GetSqlServerInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/ListByResourceGroupDataController.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/ListByResourceGroupPostgresInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/ListByResourceGroupSqlManagedInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/ListByResourceGroupSqlServerInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/ListSubscriptionDataController.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/ListSubscriptionPostgresInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/ListSubscriptionSqlManagedInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/ListSubscriptionSqlServerInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/UpdateDataController.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/UpdatePostgresInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/UpdateSqlManagedInstance.json
  specification/azuredata/resource-manager/Microsoft.AzureData/preview/2020-09-08-preview/examples/UpdateSqlServerInstance.json
  specification/azuredata/resource-manager/readme.azureresourceschema.md
  specification/azuredata/resource-manager/readme.md
  specification/azuredata/resource-manager/readme.python.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#13344 IoT Sensor types
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/examples/IotSensors/Get.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/examples/IotSensors/List.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/examples/IotSensors/Put.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/iotSensors.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, NewApiVersionRequired

#13285 Add new ChangeAnalysis /resourceChange and /changes API version 2021-04-01
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/stable/2021-04-01/changeanalysis.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/stable/2021-04-01/examples/ChangesListChangesByResourceGroup.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/stable/2021-04-01/examples/ChangesListChangesBySubscription.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/stable/2021-04-01/examples/OperationsList.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/stable/2021-04-01/examples/ResourceChangesList.json
  specification/changeanalysis/resource-manager/readme.md
Labels: ARMSignedOff

#13368 Add Amazon S3 Compatible and Oracle Cloud Storage connectors
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: CI-BreakingChange-Go

#13378 [Hub Generated] Review request for Microsoft.Consumption to add version stable/2019-10-01
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/consumption.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, FixS360, NewApiVersionRequired

#13394 Fix broken links
  specification/cognitiveservices/data-plane/Face/stable/v1.0/Face.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#12694 typo: metdata
  cSpell.json
  custom-words.txt
Labels: customer-reported

#13334 Microsoft.DataProtection swagger changes
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/dataprotection.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/examples/BackupInstanceOperations/FindRestorableTimeRanges.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/examples/GetOperationResult.json
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python, NewApiVersionRequired, customer-reported

#13348 Updates for SystemData.
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/common/v1/definitions.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/enterprisePolicy.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/createOrUpdateEnterprisePolicy.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/getEnterprisePolicy.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/listEnterprisePoliciesByResourceGroup.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/listEnterprisePoliciesBySubscription.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/listOperations.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/listSubnetsByEnterprisePolicy.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/subnetGet.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/subnetUpdate.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/updateEnterprisePolicy.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/privateEndpointConnection.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/privateLinkResources.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/subnetResources.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, NewApiVersionRequired

#13408 Adding CallRecording event to ACS Eventgrid Schema and adding tag field to SMSDeliveryReportReceived event
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/AzureCommunicationServices.json
Labels: CI-BreakingChange-Go

#13388 [NetAppFiles] Fix allowLocalNfsUsersWithLdap propertyName
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2020-12-01/netapp.json
Labels: ARMSignedOff, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, FixS360

#13316 Update Automations Docs to clarify RuleSets Operator usage
  package-lock.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/automations.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#13330 [Datadog] Add 2021-03-01 stable version
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/datadog.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/ApiKeys_GetDefaultKey.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/ApiKeys_List.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/ApiKeys_SetDefaultKey.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/Hosts_List.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/LinkedResources_List.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/MarketplaceAgreements_Create.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/MarketplaceAgreements_List.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/MonitoredResources_List.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/Monitors_Create.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/Monitors_Delete.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/Monitors_Get.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/Monitors_List.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/Monitors_ListByResourceGroup.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/Monitors_Update.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/Operations_List.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/RefreshSetPassword_Get.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/SingleSignOnConfigurations_CreateOrUpdate.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/SingleSignOnConfigurations_Get.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/SingleSignOnConfigurations_List.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/TagRules_CreateOrUpdate.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/TagRules_Get.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/TagRules_List.json
  specification/datadog/resource-manager/readme.azureresourceschema.md
  specification/datadog/resource-manager/readme.go.md
  specification/datadog/resource-manager/readme.java.md
  specification/datadog/resource-manager/readme.md
  specification/datadog/resource-manager/readme.python.md
  specification/datadog/resource-manager/readme.ruby.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python, WaitForARMFeedback

#13396 containerinstance track2 configure
  specification/containerinstance/resource-manager/readme.md
  specification/containerinstance/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#13227 change trenton to terraform
  specification/alertsmanagement/resource-manager/readme.terraform.md
  specification/attestation/resource-manager/readme.md
  specification/attestation/resource-manager/readme.terraform.md
  specification/customproviders/resource-manager/readme.md
  specification/customproviders/resource-manager/readme.terraform.md
  specification/databoxedge/resource-manager/readme.terraform.md
  specification/datashare/resource-manager/readme.terraform.md
  specification/datashare/resource-manager/readme.trenton.md
  specification/devops/resource-manager/readme.md
  specification/logic/resource-manager/readme.md
  specification/netapp/resource-manager/readme.md
  specification/resourcegraph/resource-manager/readme.md
  specification/resourcemover/resource-manager/readme.terraform.md
  specification/resourcemover/resource-manager/readme.trenton.md
  specification/resources/resource-manager/readme.terraform.md
  specification/vmware/resource-manager/readme.terraform.md
  specification/windowsiot/resource-manager/readme.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#13317 [Hub Generated] Review request for Microsoft.Logz to add version preview/2020-10-01-preview
  custom-words.txt
  specification/logz/resource-manager/Microsoft.Logz/preview/2020-10-01-preview/examples/MonitoredResources_List.json
  specification/logz/resource-manager/Microsoft.Logz/preview/2020-10-01-preview/examples/Monitors_Create.json
  specification/logz/resource-manager/Microsoft.Logz/preview/2020-10-01-preview/examples/Monitors_Delete.json
  specification/logz/resource-manager/Microsoft.Logz/preview/2020-10-01-preview/examples/Monitors_Get.json
  specification/logz/resource-manager/Microsoft.Logz/preview/2020-10-01-preview/examples/Monitors_List.json
  specification/logz/resource-manager/Microsoft.Logz/preview/2020-10-01-preview/examples/Monitors_ListByResourceGroup.json
  specification/logz/resource-manager/Microsoft.Logz/preview/2020-10-01-preview/examples/Monitors_Update.json
  specification/logz/resource-manager/Microsoft.Logz/preview/2020-10-01-preview/examples/Operations_List.json
  specification/logz/resource-manager/Microsoft.Logz/preview/2020-10-01-preview/examples/SingleSignOnConfigurations_CreateOrUpdate.json
  specification/logz/resource-manager/Microsoft.Logz/preview/2020-10-01-preview/examples/SingleSignOnConfigurations_Get.json
  specification/logz/resource-manager/Microsoft.Logz/preview/2020-10-01-preview/examples/SingleSignOnConfigurations_List.json
  specification/logz/resource-manager/Microsoft.Logz/preview/2020-10-01-preview/examples/SubAccountTagRules_CreateOrUpdate.json
  specification/logz/resource-manager/Microsoft.Logz/preview/2020-10-01-preview/examples/SubAccountTagRules_Delete.json
  specification/logz/resource-manager/Microsoft.Logz/preview/2020-10-01-preview/examples/SubAccountTagRules_Get.json
  specification/logz/resource-manager/Microsoft.Logz/preview/2020-10-01-preview/examples/SubAccountTagRules_List.json
  specification/logz/resource-manager/Microsoft.Logz/preview/2020-10-01-preview/examples/SubAccount_Create.json
  specification/logz/resource-manager/Microsoft.Logz/preview/2020-10-01-preview/examples/SubAccount_Delete.json
  specification/logz/resource-manager/Microsoft.Logz/preview/2020-10-01-preview/examples/SubAccount_Get.json
  specification/logz/resource-manager/Microsoft.Logz/preview/2020-10-01-preview/examples/SubAccount_ListByResourceGroup.json
  specification/logz/resource-manager/Microsoft.Logz/preview/2020-10-01-preview/examples/SubAccount_MonitoredResources_List.json
  specification/logz/resource-manager/Microsoft.Logz/preview/2020-10-01-preview/examples/SubAccount_Update.json
  specification/logz/resource-manager/Microsoft.Logz/preview/2020-10-01-preview/examples/TagRules_CreateOrUpdate.json
  specification/logz/resource-manager/Microsoft.Logz/preview/2020-10-01-preview/examples/TagRules_Delete.json
  specification/logz/resource-manager/Microsoft.Logz/preview/2020-10-01-preview/examples/TagRules_Get.json
  specification/logz/resource-manager/Microsoft.Logz/preview/2020-10-01-preview/examples/TagRules_List.json
  specification/logz/resource-manager/Microsoft.Logz/preview/2020-10-01-preview/logz.json
  specification/logz/resource-manager/readme.az.md
  specification/logz/resource-manager/readme.azureresourceschema.md
  specification/logz/resource-manager/readme.cli.md
  specification/logz/resource-manager/readme.csharp.md
  specification/logz/resource-manager/readme.go.md
  specification/logz/resource-manager/readme.md
  specification/logz/resource-manager/readme.python.md
  specification/logz/resource-manager/readme.typescript.md
Labels: CI-BreakingChange-Python-Track2

#13418 Fix monitor client name in python track2
  specification/monitor/resource-manager/readme.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#13024 Add Microsoft.Communication resource manager version 2020-08-20
  specification/communication/resource-manager/Microsoft.Communication/stable/2020-08-20/CommunicationService.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2020-08-20/examples/checkNameAvailabilityAvailable.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2020-08-20/examples/checkNameAvailabilityUnavailable.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2020-08-20/examples/createOrUpdate.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2020-08-20/examples/delete.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2020-08-20/examples/get.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2020-08-20/examples/getOperationStatus.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2020-08-20/examples/linkNotificationHub.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2020-08-20/examples/listByResourceGroup.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2020-08-20/examples/listBySubscription.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2020-08-20/examples/listKeys.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2020-08-20/examples/regenerateKey.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2020-08-20/examples/update.json
  specification/communication/resource-manager/readme.azureresourceschema.md
  specification/communication/resource-manager/readme.go.md
  specification/communication/resource-manager/readme.java.md
  specification/communication/resource-manager/readme.md
  specification/communication/resource-manager/readme.python.md
Labels: ARMSignedOff, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, Communication

#13412 Fix parameter enum from `getAccess` to `gitAccess`
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/apimanagement.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/apimtenant.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/examples/ApiManagementGetTenantGitAccess.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2020-12-01/apimanagement.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2020-12-01/apimtenant.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2020-12-01/examples/ApiManagementGetTenantGitAccess.json
Labels: 2021-01-01-preview, API Management, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python, FixS360

#13426 [Communication] Remove async response from RegenerateKey
  specification/communication/resource-manager/Microsoft.Communication/stable/2020-08-20/CommunicationService.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2020-08-20/examples/regenerateKey.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, Communication, NewApiVersionRequired

#13403 Update Face README.python.md
  specification/cognitiveservices/data-plane/Face/readme.python.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#13397 EventGrid (2020-06-10 and 2020-10-15-preview): Swagger Correctness --- Fix swagger for setting readonly for privateEndpointConnections for topic, domain properties
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-10-15-preview/EventGrid.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/stable/2020-06-01/EventGrid.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, FixS360

#12584 fix: Renamed spec files and incorrect cSpell ignores
  cSpell.json
  custom-words.txt
Labels: customer-reported

#12442 Move shared gallery to stable folder, and update blob as source template
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/AddToSharingProfileInAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateOrUpdateASimpleGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateOrUpdateASimpleGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateOrUpdateASimpleGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateOrUpdateASimpleGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateOrUpdateASimpleGalleryImageVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateOrUpdateASimpleGalleryImageVersionWithImageVersionAsSource.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateOrUpdateASimpleGalleryImageVersionWithSnapshotsAsSource.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateOrUpdateASimpleGalleryImageVersionWithVHD.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateOrUpdateASimpleGalleryImageVersionWithVMAsSource.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/CreateOrUpdateASimpleGalleryWithSharingProfile.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/DeleteAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/DeleteAGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/DeleteAGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/DeleteAGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/DeleteAGalleryImageVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetAGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetAGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetAGalleryApplicationVersionWithReplicationStatus.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetAGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetAGalleryImageVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetAGalleryImageVersionWithReplicationStatus.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetAGalleryImageVersionWithSnapshotsAsSource.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetAGalleryImageVersionWithVhdAsSource.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetAGalleryWithSelectPermissions.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetASharedGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetASharedGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/GetASharedGalleryImageVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListGalleriesInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListGalleriesInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListGalleryApplicationVersionsInAGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListGalleryApplicationsInAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListGalleryImageVersionsInAGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListGalleryImagesInAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListSharedGalleries.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListSharedGalleryImageVersions.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ListSharedGalleryImages.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/ResetSharingProfileInAGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/UpdateASimpleGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/UpdateASimpleGalleryApplication.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/UpdateASimpleGalleryApplicationVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/UpdateASimpleGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/UpdateASimpleGalleryImageVersion.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/examples/UpdateASimpleGalleryImageVersionWithoutSourceId.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/gallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/sharedGallery.json
  specification/compute/resource-manager/readme.md
Labels: Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-Python, FixS360

#13430 Azure Data Share : Update readme.md tag to the latest package 2020-09-01
  specification/datashare/resource-manager/readme.md
Labels: CI-BreakingChange-Python, WaitForARMFeedback

#13345 Adding AAD based security principal for PublicPreview
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2020-12-01-preview/confidentialledger.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2020-12-01-preview/examples/ConfidentialLedger_Create.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2020-12-01-preview/examples/ConfidentialLedger_Get.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2020-12-01-preview/examples/ConfidentialLedger_List.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2020-12-01-preview/examples/ConfidentialLedger_ListBySub.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2020-12-01-preview/examples/ConfidentialLedger_Update.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python, NewApiVersionRequired

#12796 DiskRP Swagger changes for 2020-12-01
  custom-words.txt
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/disk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/ApprovePrivateEndpointConnection.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateADiskAccess.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateADiskEncryptionSet.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateADiskEncryptionSetWithKeyVaultFromADifferentSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateAManagedDiskByCopyingASnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateAManagedDiskByImportingAnUnmanagedBlobFromADifferentSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateAManagedDiskByImportingAnUnmanagedBlobFromTheSameSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateAManagedDiskFromAPlatformImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateAManagedDiskFromAnExistingManagedDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateAManagedDiskWithDiskAccess.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateAManagedDiskWithDiskEncryptionSet.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateAManagedDiskWithLogicalSectorSize.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateAManagedDiskWithSSDZRSAccountType.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateAManagedDiskWithSecurityProfile.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateAManagedUploadDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateASnapshotByImportingAnUnmanagedBlobFromADifferentSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateASnapshotByImportingAnUnmanagedBlobFromTheSameSubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateASnapshotFromAnExistingSnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateAnEmptyManagedDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateAnEmptyManagedDiskInExtendedLocation.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateOrUpdateABurstingEnabledManagedDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/DeleteADiskAccess.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/DeleteADiskEncryptionSet.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/DeleteAPrivateEndpointConnection.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/GetDiskAccessPrivateLinkResources.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/GetDiskRestorePointResources.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/GetInformationAboutADiskAccess.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/GetInformationAboutADiskAccessWithPrivateEndpoints.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/GetInformationAboutADiskEncryptionSet.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/GetInformationAboutAManagedDisk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/GetInformationAboutAPrivateEndpointConnection.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/GetInformationAboutASnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/ListDiskAccessesInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/ListDiskAccessesInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/ListDiskEncryptionSetAssociatedResources.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/ListDiskEncryptionSetsInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/ListDiskEncryptionSetsInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/ListDiskRestorePointsInVmRestorePoint.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/ListManagedDisksInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/ListManagedDisksInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/ListPrivateEndpointConnectionsInADiskAccess.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/ListSnapshotsInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/ListSnapshotsInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/UpdateADiskAccess.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/UpdateADiskEncryptionSet.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/UpdateADiskEncryptionSetWithRotationToLatestKeyVersionEnabled.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/UpdateADiskEncryptionSetWithRotationToLatestKeyVersionEnabledInProgress.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/UpdateAManagedDiskToAddPurchasePlan.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/UpdateAManagedDiskToAddSupportsHibernation.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/UpdateAManagedDiskToChangeTier.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/UpdateAManagedDiskToDisableBursting.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/UpdateAManagedDiskToRemoveDiskAccess.json
  specification/compute/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Compute, DoNotMerge

#12954 Bug fix to support ARM template deployments
  specification/storagepool/resource-manager/Microsoft.StoragePool/preview/2020-03-15-preview/examples/DiskPools_Put.json
  specification/storagepool/resource-manager/Microsoft.StoragePool/preview/2020-03-15-preview/examples/IscsiTargets_Put.json
  specification/storagepool/resource-manager/Microsoft.StoragePool/preview/2020-03-15-preview/storagepool.json
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, NewApiVersionRequired

#13414 [Hub Generated] Review request for Microsoft.Consumption to add version stable/2019-11-01
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-11-01/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-11-01/examples/ReservationRecommendationsByBillingProfile.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, FixS360, NewApiVersionRequired

#13435 attestation track2 configure
  specification/attestation/resource-manager/readme.md
  specification/attestation/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2

#13438 Enable python track2 sdk in automaiton
  specification/automation/resource-manager/readme.md
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#13367 T2 DNS, modify readme.python.md
  specification/dns/resource-manager/readme.md
  specification/dns/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#13404 Address Private Endpoint validation issues in V3, V2 and V1 SDK tags
  specification/sql/resource-manager/readme.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python, SQL

#13428 [CosmosDB] Remove ReadOnly tag for PublicNetworkAccess property
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2021-03-01-preview/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2021-03-01-preview/examples/CosmosDBDatabaseAccountCreateMax.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#13319 Add Workbooks_ListBySubscription Definition
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-10-20/examples/WorkbooksList2.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-10-20/workbooks_API.json
Labels: Approved-BreakingChange, FixS360, NewApiVersionRequired

#13433 apimanagement track2 configure
  specification/apimanagement/resource-manager/readme.md
Labels: API Management, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#13326 Auth locks examples
  specification/resources/resource-manager/Microsoft.Authorization/stable/2016-09-01/examples/ListProviderOperations.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2016-09-01/examples/ManagementLocks_CreateOrUpdateAtResourceGroupLevel.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2016-09-01/examples/ManagementLocks_CreateOrUpdateAtResourceLevel.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2016-09-01/examples/ManagementLocks_CreateOrUpdateAtScope.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2016-09-01/examples/ManagementLocks_CreateOrUpdateAtSubscriptionLevel.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2016-09-01/examples/ManagementLocks_DeleteAtResourceGroupLevel.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2016-09-01/examples/ManagementLocks_DeleteAtResourceLevel.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2016-09-01/examples/ManagementLocks_DeleteAtScope.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2016-09-01/examples/ManagementLocks_DeleteAtSubscriptionLevel.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2016-09-01/examples/ManagementLocks_GetAtResourceGroupLevel.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2016-09-01/examples/ManagementLocks_GetAtResourceLevel.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2016-09-01/examples/ManagementLocks_GetAtScope.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2016-09-01/examples/ManagementLocks_GetAtSubscriptionLevel.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2016-09-01/examples/ManagementLocks_ListAtResourceGroupLevel.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2016-09-01/examples/ManagementLocks_ListAtResourceLevel.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2016-09-01/examples/ManagementLocks_ListAtScope.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2016-09-01/examples/ManagementLocks_ListAtSubscriptionLevel.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2016-09-01/locks.json
Labels: CI-BreakingChange-Go, FixS360

#13091 Microsoft.IoTSecurity - Add locations and deviceSecurityGroups
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/deviceGroups.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/DeviceGroups/Delete.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/DeviceGroups/Get.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/DeviceGroups/List.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/DeviceGroups/Put.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Locations/Get.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Locations/List.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/locations.json
  specification/iotsecurity/resource-manager/common/1.0/types.json
  specification/iotsecurity/resource-manager/readme.md
Labels: ARMSignedOff

#13312 typo: Microsft -> Microsoft
  documentation/Getting started with OpenAPI specifications.md
Labels: customer-reported

#13436 Updating azure-rest-api-specs\specification\compute\resource-manager\readme.az.md
  specification/compute/resource-manager/readme.az.md
Labels: CI-BreakingChange-Go, Compute

#13181 Fix borken link Update openapi-authoring-automated-guidelines.md
  documentation/openapi-authoring-automated-guidelines.md
Labels: no-recent-activity

#13472 databox readme t2 config
  specification/databox/resource-manager/readme.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#13450 Add new properties to KeyPhraseExtraction and LanguageDetections skills
  specification/search/data-plane/Azure.Search/preview/2019-05-06-preview/searchservice.json
  specification/search/data-plane/Azure.Search/preview/2020-06-30-Preview/searchservice.json
  specification/search/data-plane/Azure.Search/preview/2020-06-30/searchservice.json
  specification/search/data-plane/Azure.Search/stable/2019-05-06/searchservice.json
  specification/search/data-plane/Microsoft.Azure.Search.Service/preview/2017-11-11-preview/searchservice.json
  specification/search/data-plane/Microsoft.Azure.Search.Service/preview/2019-05-06-preview/searchservice.json
  specification/search/data-plane/Microsoft.Azure.Search.Service/stable/2019-05-06/searchservice.json
Labels: NewApiVersionRequired

#12924 Update Synapse with ADF swagger changes/2019-06-01-preview
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/artifacts.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/entityTypes/DataFlow.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/entityTypes/Dataset.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/entityTypes/Notebook.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/entityTypes/Pipeline.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/entityTypes/SparkJobDefinition.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/entityTypes/Trigger.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/examples/SparkJobDefinitions_Create.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/examples/SparkJobDefinitions_Delete.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/examples/SparkJobDefinitions_Update.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/examples/SqlScripts_Create.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/examples/SqlScripts_Delete.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/examples/SqlScripts_Update.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/library.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/integrationRuntime.json
Labels: BreakingChangeReviewRequired, CI-BreakingChange-Go, NewApiVersionRequired

#13243 [IotHub] Adding user assigned capability for customer provided endpoints [2021-03-03-preview]
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/IotHub_ManualFailover.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/checkNameAvailability.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_certificatescreateorupdate.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_certificatesdelete.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_certverify.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_createOrUpdate.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_createconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_delete.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_deleteconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_deleteprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_exportdevices.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_generateverificationcode.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_get.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_getcertificate.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_getconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_getjob.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_getkey.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_getprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_getprivatelinkresources.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_getskus.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_importdevices.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_listbyrg.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_listbysubscription.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_listcertificates.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_listehgroups.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_listjobs.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_listkeys.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_listprivateendpointconnections.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_listprivatelinkresources.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_operations.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_patch.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_quotametrics.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_routingendpointhealth.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_stats.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_testallroutes.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_testnewroute.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_updateprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/examples/iothub_usages.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-03-03-preview/iothub.json
  specification/iothub/resource-manager/readme.md
Labels: ARMSignedOff

#13431 typo: FSlogix -> FSLogix
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-01-14-preview/desktopvirtualization.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-02-01-preview/desktopvirtualization.json
Labels: customer-reported

#12775 [Fix modeler Four error] change produce type
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/preview/2020-04-01-preview/changeanalysis.json
Labels: no-recent-activity

#12738 GetOwnershipIdentifier Swagger
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/apimdeployment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementServiceGetDomainOwnershipIdentifier.json
Labels: API Management, ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python, NewApiVersionRequired

#13111 new hybridkubernetes readme.typescript.md file
  specification/hybridkubernetes/resource-manager/readme.typescript.md
Labels: CI-BreakingChange-Python

#13380 Add 2021-03-01 API version with the GA version changes
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2021-03-01/examples/OperationsList.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2021-03-01/examples/ResourcesBasicQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2021-03-01/examples/ResourcesComplexQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2021-03-01/examples/ResourcesFacetQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2021-03-01/examples/ResourcesFilterQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2021-03-01/examples/ResourcesFirstPageQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2021-03-01/examples/ResourcesMgBasicQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2021-03-01/examples/ResourcesNextPageQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2021-03-01/examples/ResourcesPropertiesQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2021-03-01/examples/ResourcesRandomPageQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2021-03-01/examples/ResourcesSummarizeQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2021-03-01/examples/ResourcesTenantBasicQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2021-03-01/resourcegraph.json
  specification/resourcegraph/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go

#13493 add go sdk config for apimanagement
  specification/apimanagement/resource-manager/readme.go.md
Labels: API Management, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#13434 iotDefenderSettings - Add onboardingKind property
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/defenderSettings.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/DefenderSettings/Get.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/DefenderSettings/List.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/DefenderSettings/Put.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/examples/IotDefenderSettings/Get.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/examples/IotDefenderSettings/List.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/examples/IotDefenderSettings/Put.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/iotDefenderSettings.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, NewApiVersionRequired, WaitForARMFeedback

#13485 Fix event mapping and add a missing field
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/AzureCommunicationServices.json
Labels: CI-BreakingChange-Go

#13376 add 202 status for restart
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/examples/restartComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/machineLearningServices.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python, NewApiVersionRequired

#13446 Add the march public preview API version of extended location
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/preview/2021-03-15-preview/customlocations.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/preview/2021-03-15-preview/examples/CustomLocationsCreate_Update.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/preview/2021-03-15-preview/examples/CustomLocationsDelete.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/preview/2021-03-15-preview/examples/CustomLocationsGet.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/preview/2021-03-15-preview/examples/CustomLocationsListByResourceGroup.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/preview/2021-03-15-preview/examples/CustomLocationsListBySubscription.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/preview/2021-03-15-preview/examples/CustomLocationsListEnabledResourceTypes.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/preview/2021-03-15-preview/examples/CustomLocationsListOperations.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/preview/2021-03-15-preview/examples/CustomLocationsPatch.json
  specification/extendedlocation/resource-manager/readme.azureresourceschema.md
  specification/extendedlocation/resource-manager/readme.csharp.md
  specification/extendedlocation/resource-manager/readme.go.md
  specification/extendedlocation/resource-manager/readme.md
  specification/extendedlocation/resource-manager/readme.python.md
  specification/extendedlocation/resource-manager/readme.ruby.md
  specification/extendedlocation/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#13457 Cumulative changes to DeviceUpdate
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/preview/2020-03-01-preview/deviceupdate.json
  specification/deviceupdate/resource-manager/readme.go.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, FixS360

#13249 [DataFactory] Add privateEndpointConnection apis
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/ApproveRejectPrivateEndpointConnection.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/DeletePrivateEndpointConnection.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/GetPrivateEndpointConnection.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/GetPrivateLinkResources.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/PrivateEndPointConnections_ListByFactory.json
Labels: ARMSignedOff, Approved-BreakingChange, Approved-LintDiff, CI-BreakingChange-Go, CI-FixRequiredOnFailure, NewApiVersionRequired

#13496 Gateway Load Balancer to Feb release branch
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/examples/LoadBalancerCreateGatewayLoadBalancerConsumer.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/examples/LoadBalancerCreateGatewayLoadBalancerProviderWithOneBackendPool.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/examples/LoadBalancerCreateGatewayLoadBalancerProviderWithTwoBackendPool.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/examples/NetworkInterfaceCreateGatewayLoadBalancerConsumer.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/loadBalancer.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/networkInterface.json
  specification/network/resource-manager/readme.cli.md
Labels: CI-BreakingChange-Go, Network, customer-reported

#13456 Swagger change for CustomIpPrefix. Adding four new attributes.
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/customIpPrefix.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/examples/CustomIpPrefixCreateCustomizedValues.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/examples/CustomIpPrefixGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/examples/CustomIpPrefixList.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/examples/CustomIpPrefixListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/examples/CustomIpPrefixUpdateTags.json
Labels: CI-BreakingChange-Go, Network

#13258 [Hub Generated] Review request for Microsoft.Elastic to add version preview/2020-07-01-preview
  custom-words.txt
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2020-07-01-preview/elastic.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2020-07-01-preview/examples/DeploymentInfo_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2020-07-01-preview/examples/MonitoredResources_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2020-07-01-preview/examples/Monitors_Create.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2020-07-01-preview/examples/Monitors_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2020-07-01-preview/examples/Monitors_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2020-07-01-preview/examples/Monitors_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2020-07-01-preview/examples/Monitors_ListByResourceGroup.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2020-07-01-preview/examples/Monitors_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2020-07-01-preview/examples/Operations_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2020-07-01-preview/examples/TagRules_CreateOrUpdate.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2020-07-01-preview/examples/TagRules_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2020-07-01-preview/examples/TagRules_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2020-07-01-preview/examples/TagRules_List.json
  specification/elastic/resource-manager/readme.az.md
  specification/elastic/resource-manager/readme.azureresourceschema.md
  specification/elastic/resource-manager/readme.cli.md
  specification/elastic/resource-manager/readme.csharp.md
  specification/elastic/resource-manager/readme.go.md
  specification/elastic/resource-manager/readme.md
  specification/elastic/resource-manager/readme.python.md
  specification/elastic/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#13459 DomainServices: Add 2021-03-01 api-version with 2 new properties
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2021-03-01/domainservices.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2021-03-01/examples/CreateDomainService.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2021-03-01/examples/CreateOuContainer.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2021-03-01/examples/DeleteDomainService.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2021-03-01/examples/DeleteOuContainer.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2021-03-01/examples/GetDomainService.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2021-03-01/examples/GetOperations.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2021-03-01/examples/GetOuContainer.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2021-03-01/examples/ListDomainServicesByResourceGroup.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2021-03-01/examples/ListDomainServicesBySubscription.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2021-03-01/examples/ListOuContainers.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2021-03-01/examples/UpdateDomainService.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2021-03-01/examples/UpdateOuContainer.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2021-03-01/oucontainer.json
  specification/domainservices/resource-manager/readme.md
Labels: ARMSignedOff

#13464 Adding Communication Chat API preview5
  custom-words.txt
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-03-01-preview5/communicationserviceschat.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-03-01-preview5/examples/Conversations_ListChatReadReceiptsWithPageSize.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-03-01-preview5/examples/Conversations_SendChatReadReceipt.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-03-01-preview5/examples/Messages_DeleteChatMessage.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-03-01-preview5/examples/Messages_GetChatMessage.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-03-01-preview5/examples/Messages_ListChatMessagesWithPageSize.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-03-01-preview5/examples/Messages_SendChatMessage.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-03-01-preview5/examples/Messages_SendTypingNotification.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-03-01-preview5/examples/Messages_UpdateChatMessage.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-03-01-preview5/examples/Participants_AddChatParticipants.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-03-01-preview5/examples/Participants_ListChatParticipantsWithPageSize.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-03-01-preview5/examples/Participants_RemoveChatParticipant.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-03-01-preview5/examples/Threads_CreateChatThread.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-03-01-preview5/examples/Threads_CreateChatThreadWithIdempotencyToken.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-03-01-preview5/examples/Threads_DeleteChatThread.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-03-01-preview5/examples/Threads_GetChatThread.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-03-01-preview5/examples/Threads_ListChatThreadsWithPageSize.json
  specification/communication/data-plane/Microsoft.CommunicationServicesChat/preview/2021-03-01-preview5/examples/Threads_UpdateChatThreadTopic.json
  specification/communication/data-plane/readme.md
Labels: Communication

#13477 ResourceGuard Proxy related changes for MFA MUA
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/preview/2021-02-01-preview/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/preview/2021-02-01-preview/examples/ResourceGuardProxyCRUD/DeleteResourceGuardProxy.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/preview/2021-02-01-preview/examples/ResourceGuardProxyCRUD/GetResourceGuardProxy.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/preview/2021-02-01-preview/examples/ResourceGuardProxyCRUD/ListResourceGuardProxy.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/preview/2021-02-01-preview/examples/ResourceGuardProxyCRUD/PutResourceGuardProxy.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/preview/2021-02-01-preview/examples/ResourceGuardProxyCRUD/UnlockDeleteResourceGuardProxy.json
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired

#13533 typo: Semantic and Model Violation Reference file
  documentation/Semantic-and-Model-Violations-Reference.md
Labels: customer-reported

#13516 reservation readme t2 config
  specification/reservations/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2

#13538 typo: paramter in applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-09-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-11-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2019-12-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-03-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-04-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/applicationGateway.json
Labels: Network, customer-reported

#13481 VPN NAT for Virtual Network Gateway feature changes(networkFeb)
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/examples/VirtualNetworkGatewayConnectionCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/examples/VirtualNetworkGatewayConnectionGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/examples/VirtualNetworkGatewayConnectionUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/examples/VirtualNetworkGatewayConnectionsList.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/examples/VirtualNetworkGatewayGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/examples/VirtualNetworkGatewayList.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/examples/VirtualNetworkGatewayNatRuleDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/examples/VirtualNetworkGatewayNatRuleGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/examples/VirtualNetworkGatewayNatRuleList.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/examples/VirtualNetworkGatewayNatRulePut.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/examples/VirtualNetworkGatewayReset.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/examples/VirtualNetworkGatewayUpdate.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/examples/VirtualNetworkGatewayUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/virtualNetworkGateway.json
  specification/network/resource-manager/readme.python.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Network

#13536 fix: Resort and dudupe dictionary from bad merge
  custom-words.txt
Labels: customer-reported

#13194 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2019-11-01
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/costmanagement.json
Labels: CI-BreakingChange-Python, FixS360

#13461 update the disk.json version for the 2021-03-01
  specification/compute/resource-manager/readme.md
Labels: CI-BreakingChange-Go, Compute

#13297 Threis/cv 32 ga
  specification/cognitiveservices/data-plane/ComputerVision/readme.go.md
  specification/cognitiveservices/data-plane/ComputerVision/readme.md
  specification/cognitiveservices/data-plane/ComputerVision/readme.ruby.md
  specification/cognitiveservices/data-plane/ComputerVision/stable/v3.2/ComputerVision.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v3.2/Ocr.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v3.2/examples/SuccessfulAnalyzeImageByDomainWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v3.2/examples/SuccessfulAnalyzeImageByDomainWithUrl.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v3.2/examples/SuccessfulAnalyzeImageWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v3.2/examples/SuccessfulAnalyzeImageWithUrl.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v3.2/examples/SuccessfulDescribeImageWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v3.2/examples/SuccessfulDescribeImageWithUrl.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v3.2/examples/SuccessfulDetectObjectsWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v3.2/examples/SuccessfulDetectObjectsWithUrl.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v3.2/examples/SuccessfulGenerateThumbnailWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v3.2/examples/SuccessfulGenerateThumbnailWithUrl.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v3.2/examples/SuccessfulGetAreaOfInterestWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v3.2/examples/SuccessfulGetAreaOfInterestWithUrl.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v3.2/examples/SuccessfulGetReadResult.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v3.2/examples/SuccessfulListModels.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v3.2/examples/SuccessfulReadWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v3.2/examples/SuccessfulReadWithUrl.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v3.2/examples/SuccessfulRecognizePrintedTextWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v3.2/examples/SuccessfulRecognizePrintedTextWithUrl.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v3.2/examples/SuccessfulTagImageWithStream.json
  specification/cognitiveservices/data-plane/ComputerVision/stable/v3.2/examples/SuccessfulTagImageWithUrl.json
Labels: CI-BreakingChange-Python

#13545 [DNC] Stable release 03_15_21
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/stable/2021-03-15/common-types.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/stable/2021-03-15/controller.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/stable/2021-03-15/delegatedSubnets.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/stable/2021-03-15/examples/controllerListByRG.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/stable/2021-03-15/examples/controllerListBySub.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/stable/2021-03-15/examples/delegatedNetworkOperationsList.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/stable/2021-03-15/examples/delegatedSubnetListByRG.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/stable/2021-03-15/examples/delegatedSubnetListBySub.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/stable/2021-03-15/examples/deleteController.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/stable/2021-03-15/examples/deleteDelegatedSubnet.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/stable/2021-03-15/examples/deleteOrchestrator.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/stable/2021-03-15/examples/getController.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/stable/2021-03-15/examples/getDelegatedSubnet.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/stable/2021-03-15/examples/getOrchestrator.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/stable/2021-03-15/examples/orchestratorInstanceListByRG.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/stable/2021-03-15/examples/orchestratorInstanceListBySub.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/stable/2021-03-15/examples/patchController.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/stable/2021-03-15/examples/patchDelegatedSubnet.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/stable/2021-03-15/examples/patchOrchestrator.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/stable/2021-03-15/examples/putController.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/stable/2021-03-15/examples/putDelegatedSubnet.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/stable/2021-03-15/examples/putOrchestrator.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/stable/2021-03-15/operations.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/stable/2021-03-15/orchestrators.json
  specification/dnc/resource-manager/readme.azureresourceschema.md
  specification/dnc/resource-manager/readme.go.md
  specification/dnc/resource-manager/readme.java.md
  specification/dnc/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go
