Repository Azure/azure-rest-api-specs, pull requests merged in 2021-12, with the labels that each got.

#16893 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2021-10-01
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2021-10-01/costmanagement.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2021-10-01/examples/PrivateView.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2021-10-01/examples/PrivateViewCreateOrUpdate.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2021-10-01/examples/PrivateViewList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2021-10-01/examples/ViewByResourceGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2021-10-01/examples/ViewCreateOrUpdateByResourceGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2021-10-01/examples/ViewListByResourceGroup.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, NewApiVersionRequired, CI-FixRequiredOnFailure

#16778 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2021-10-01
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2021-10-01/costmanagement.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, NewApiVersionRequired, CI-FixRequiredOnFailure, FixS360, CI-BreakingChange-Go-V2

#16925 Track2 modify readme.go.md 5
  specification/hanaonazure/resource-manager/readme.go.md
  specification/hanaonazure/resource-manager/readme.md
  specification/hardwaresecuritymodules/resource-manager/readme.go.md
  specification/hardwaresecuritymodules/resource-manager/readme.md
  specification/healthbot/resource-manager/readme.go.md
  specification/healthbot/resource-manager/readme.md
  specification/healthcareapis/resource-manager/readme.go.md
  specification/healthcareapis/resource-manager/readme.md
  specification/hybridconnectivity/resource-manager/readme.go.md
  specification/hybridconnectivity/resource-manager/readme.md
  specification/hybriddatamanager/resource-manager/readme.go.md
  specification/hybriddatamanager/resource-manager/readme.md
  specification/hybridkubernetes/resource-manager/readme.go.md
  specification/hybridkubernetes/resource-manager/readme.md
  specification/hybridnetwork/resource-manager/readme.go.md
  specification/hybridnetwork/resource-manager/readme.md
  specification/iotcentral/resource-manager/readme.go.md
  specification/iotcentral/resource-manager/readme.md
  specification/iotsecurity/resource-manager/readme.go.md
  specification/iotsecurity/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go

#16664 [Maps] Review request for Geocode to add version preview/2021-11-01-preview
  custom-words.txt
  specification/maps/data-plane/Search/preview/2021-11-01-preview/examples/ForwardGeocoding.json
  specification/maps/data-plane/Search/preview/2021-11-01-preview/examples/ForwardGeocodingBatch.json
  specification/maps/data-plane/Search/preview/2021-11-01-preview/examples/ForwardGeocodingByAddressLine.json
  specification/maps/data-plane/Search/preview/2021-11-01-preview/geocoding.json
  specification/maps/data-plane/Search/readme.md
Labels: APIStewardshipBoard-SignedOff

#16932 [Synapse] Add tag for data plane SDK Dec. release
  specification/synapse/data-plane/readme.md
Labels: Synapses

#16786 [Synapse] Add x-nullable:true for StoredProcedureParameter
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: Synapses

#16852 [Synapse] Fix for parameter in Notebook activity
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: Synapses

#16636 DiskRP Swagger changes for Remote Restore Point scenarios
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-08-01/disk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-08-01/examples/GetDiskRestorePointWhenSourceResourceIsFromDifferentRegion.json
Labels: Compute, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-Go-V2

#16903 Bug Fix - Fixing a type error in the suppression directive usage
  specification/azsadmin/resource-manager/compute/readme.md
Labels: CI-FixRequiredOnFailure

#16813 Add VMSS filter to List VMs
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/compute.json
Labels: Compute, customer-reported, CI-BreakingChange-Go, CI-FixRequiredOnFailure

#16832 Add LRO property for deletion-jobs API
  specification/cognitiveservices/data-plane/Language/stable/2021-10-01/questionanswering-authoring.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#16956 Revert "Add VMSS filter to List VMs"
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/compute.json
Labels: Compute

#16667 Zone mappings fix
  specification/resources/resource-manager/Microsoft.Resources/stable/2021-01-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2021-04-01/resources.json
Labels: Approved-BreakingChange, no-recent-activity, BreakingChangeReviewRequired, NewApiVersionRequired, CI-BreakingChange-Go, CI-FixRequiredOnFailure, FixS360

#16942 add message of the day for Linux nodes
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2021-11-01-preview/examples/AgentPoolsCreate_MessageOfTheDay.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2021-11-01-preview/managedClusters.json
Labels: CI-BreakingChange-Go

#16746 Microsoft.Insights - Update monitor to latest package 2021-09
  specification/monitor/resource-manager/readme.md
Labels: no-recent-activity, CI-BreakingChange-Go, CI-FixRequiredOnFailure

#16940 Remove OperationsHealth.json spec files and corresponding example files
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/OperationsHealth.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-02-02-preview/examples/OperationsHealthListByLocation.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/OperationsHealth.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/examples/OperationsHealthListByLocation.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-11-01-preview/OperationsHealth.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-11-01-preview/examples/OperationsHealthListByLocation.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-02-01-preview/OperationsHealth.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-02-01-preview/examples/OperationsHealthListByLocation.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-05-01-preview/OperationsHealth.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-05-01-preview/examples/OperationsHealthListByLocation.json
  specification/sql/resource-manager/readme.md
Labels: SQL, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-Go-V2, Approved-SdkBreakingChange-Go-V2

#16949 Track2 modify readme.go.md 6
  specification/kubernetesconfiguration/resource-manager/readme.go.md
  specification/kubernetesconfiguration/resource-manager/readme.md
  specification/labservices/resource-manager/readme.go.md
  specification/labservices/resource-manager/readme.md
  specification/m365securityandcompliance/resource-manager/readme.go.md
  specification/m365securityandcompliance/resource-manager/readme.md
  specification/maintenance/resource-manager/readme.go.md
  specification/maintenance/resource-manager/readme.md
  specification/managedservices/resource-manager/readme.go.md
  specification/managedservices/resource-manager/readme.md
  specification/managementpartner/resource-manager/readme.go.md
  specification/managementpartner/resource-manager/readme.md
  specification/maps/resource-manager/readme.go.md
  specification/maps/resource-manager/readme.md
  specification/mariadb/resource-manager/readme.go.md
  specification/mariadb/resource-manager/readme.md
  specification/marketplace/resource-manager/readme.go.md
  specification/marketplace/resource-manager/readme.md
  specification/marketplaceordering/resource-manager/readme.go.md
  specification/marketplaceordering/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go

#16953 Fixing s360 correctness items
  custom-words.txt
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2021-10-01/bms.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, NewApiVersionRequired, CI-BreakingChange-Go, FixS360, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python

#16972 [python] Fix CI failure for `SecurityInsights`
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-09-01-preview/common/EntityTypes.json
Labels: CI-BreakingChange-Go, CI-FixRequiredOnFailure

#16915 Updating Managed Identity type enum with space to make it consistent with RP behaviour
  specification/common-types/resource-management/v4/managedidentity.json
Labels: ARMSignedOff

#16930 [Azure Maps] Add the boundingBox type to Search
  specification/maps/data-plane/Search/preview/1.0/search.json
Labels: Approved-BreakingChange, CI-FixRequiredOnFailure, Approved-SdkBreakingChange-Python, FalsePositive-BreakingChange

#16967 adding data plane apis for load test service
  custom-words.txt
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/AppComponent_CreateOrUpdateAppComponents_MaximumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/AppComponent_CreateOrUpdateAppComponents_MinimumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/AppComponent_DeleteAppComponent_MaximumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/AppComponent_DeleteAppComponent_MinimumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/AppComponent_GetAppComponentByName_MaximumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/AppComponent_GetAppComponentByName_MinimumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/AppComponent_GetAppComponent_MaximumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/AppComponent_GetAppComponent_MinimumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/File_FileValidate_MaximumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/ServerMetrics_CreateOrUpdateServerMetricsConfig_MaximumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/ServerMetrics_CreateOrUpdateServerMetricsConfig_MinimumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/ServerMetrics_DeleteServerMetrics_MaximumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/ServerMetrics_DeleteServerMetrics_MinimumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/ServerMetrics_GetServerDefaultMetrics_MaximumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/ServerMetrics_GetServerDefaultMetrics_MinimumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/ServerMetrics_GetServerMetricsByName_MaximumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/ServerMetrics_GetServerMetricsByName_MinimumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/ServerMetrics_GetServerMetrics_MaximumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/ServerMetrics_GetServerMetrics_MinimumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/ServerMetrics_ListSupportedResourceType_MaximumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/ServerMetrics_ListSupportedResourceType_MinimumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/TestRun_CreateAndUpdateTest_MaximumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/TestRun_CreateAndUpdateTest_MinimumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/TestRun_DeleteTestRun_MaximumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/TestRun_DeleteTestRun_MinimumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/TestRun_GetAppTestRunsSearch_MaximumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/TestRun_GetAppTestRunsSearch_MinimumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/TestRun_GetTestRunClientMetricsFilters_MaximumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/TestRun_GetTestRunClientMetricsFilters_MinimumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/TestRun_GetTestRunClientMetrics_MaximumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/TestRun_GetTestRunClientMetrics_MinimumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/TestRun_GetTestRunFile_MaximumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/TestRun_GetTestRunFile_MinimumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/TestRun_GetTestRun_MaximumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/TestRun_GetTestRun_MinimumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/TestRun_StopTestRun_MaximumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/TestRun_StopTestRun_MinimumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/Test_CreateOrUpdateTest_MaximumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/Test_CreateOrUpdateTest_MinimumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/Test_DeleteLoadTest_MaximumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/Test_DeleteLoadTest_MinimumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/Test_DeleteTestFile_MaximumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/Test_DeleteTestFile_MinimumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/Test_GetAllTestFiles_MaximumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/Test_GetAllTestFiles_MinimumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/Test_GetLoadTest_MaximumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/Test_GetLoadTest_MinimumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/Test_GetTestFile_MaximumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/Test_GetTestFile_MinimumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/Test_ListLoadTestSearch_MaximumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/Test_ListLoadTestSearch_MinimumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/examples/Test_UploadTestFile_MaximumSet_Gen.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2021-07-01-preview/loadtestservice.json
  specification/loadtestservice/data-plane/readme.md
Labels: CI-FixRequiredOnFailure

#16706 [Hub Generated] Review request for Microsoft.Maps/Microsoft.Maps to add version preview/2.0
  specification/maps/data-plane/Microsoft.Maps/Data/preview/2.0/data.json
  specification/maps/data-plane/Microsoft.Maps/Data/preview/2.0/examples/Update.json
  specification/maps/data-plane/Microsoft.Maps/Data/preview/2.0/examples/Upload.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-FixRequiredOnFailure

#16973 Track2 modify readme.go.md 8
  specification/recoveryservicesbackup/resource-manager/readme.go.md
  specification/recoveryservicesbackup/resource-manager/readme.md
  specification/recoveryservicessiterecovery/resource-manager/readme.go.md
  specification/recoveryservicessiterecovery/resource-manager/readme.md
  specification/redhatopenshift/resource-manager/readme.go.md
  specification/redhatopenshift/resource-manager/readme.md
  specification/redisenterprise/resource-manager/readme.go.md
  specification/redisenterprise/resource-manager/readme.md
  specification/reservations/resource-manager/readme.go.md
  specification/reservations/resource-manager/readme.md
  specification/resourcegraph/resource-manager/readme.go.md
  specification/resourcegraph/resource-manager/readme.md
  specification/securityinsights/resource-manager/readme.go.md
  specification/securityinsights/resource-manager/readme.md
  specification/serialconsole/resource-manager/readme.go.md
  specification/serialconsole/resource-manager/readme.md
  specification/servicefabricmesh/resource-manager/readme.go.md
  specification/servicefabricmesh/resource-manager/readme.md
  specification/servicelinker/resource-manager/readme.go.md
  specification/servicelinker/resource-manager/readme.md
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go

#16585 Datafactory duplicate schema issue
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/DataFlow.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/ManagedPrivateEndpoint.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/ManagedVirtualNetwork.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Trigger.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go

#16946 [Communication] Adding 2022-02-01 NetworkTraversal API version for General Availability
  specification/communication/data-plane/NetworkTraversal/readme.md
  specification/communication/data-plane/NetworkTraversal/stable/2022-02-01/CommunicationNetworkTraversal.json
  specification/communication/data-plane/NetworkTraversal/stable/2022-02-01/examples/IssueRelayConfiguration.json
Labels: Approved-OkToMerge

#17011 Removed x-ms-content-type from File Rename
  specification/storage/data-plane/Microsoft.FileStorage/preview/2021-04-10/file.json
Labels: Approved-BreakingChange, CI-FixRequiredOnFailure

#16880 Update Azure Stream Analytics CLI to 0.1.1
  specification/streamanalytics/resource-manager/readme.az.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-Go-V2

#16979 Utkarshjain/elastic
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-09-01-preview/elastic.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-09-01-preview/examples/DeploymentInfo_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-09-01-preview/examples/ExternalUserInfo.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-09-01-preview/examples/MonitoredResources_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-09-01-preview/examples/Monitors_Create.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-09-01-preview/examples/Monitors_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-09-01-preview/examples/Monitors_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-09-01-preview/examples/Monitors_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-09-01-preview/examples/Monitors_ListByResourceGroup.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-09-01-preview/examples/Monitors_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-09-01-preview/examples/Operations_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-09-01-preview/examples/TagRules_CreateOrUpdate.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-09-01-preview/examples/TagRules_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-09-01-preview/examples/TagRules_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-09-01-preview/examples/TagRules_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-09-01-preview/examples/VMCollection_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-09-01-preview/examples/VMHost_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-09-01-preview/examples/VMIngestion_Details.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-10-01-preview/elastic.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-10-01-preview/examples/DeploymentInfo_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-10-01-preview/examples/ExternalUserInfo.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-10-01-preview/examples/Monitor_Upgrade.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-10-01-preview/examples/MonitoredResources_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-10-01-preview/examples/Monitors_Create.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-10-01-preview/examples/Monitors_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-10-01-preview/examples/Monitors_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-10-01-preview/examples/Monitors_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-10-01-preview/examples/Monitors_ListByResourceGroup.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-10-01-preview/examples/Monitors_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-10-01-preview/examples/Operations_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-10-01-preview/examples/TagRules_CreateOrUpdate.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-10-01-preview/examples/TagRules_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-10-01-preview/examples/TagRules_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-10-01-preview/examples/TagRules_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-10-01-preview/examples/UpgradableVersions_Details.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-10-01-preview/examples/VMCollection_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-10-01-preview/examples/VMHost_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-10-01-preview/examples/VMIngestion_Details.json
  specification/elastic/resource-manager/readme.csharp.md
  specification/elastic/resource-manager/readme.go.md
  specification/elastic/resource-manager/readme.md
  specification/elastic/resource-manager/readme.python.md
  specification/elastic/resource-manager/readme.ruby.md
  specification/elastic/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#16707 Updating SUSE image aliases to current offers
  arm-compute/quickstart-templates/aliases.json
Labels: customer-reported

#16909 change js codegen config
  specificationRepositoryConfiguration.json
Labels: Approved-BreakingChange, CI-FixRequiredOnFailure

#17019 Address PR comments
  specification/web/resource-manager/Microsoft.Web/stable/2021-03-01/WebApps.json
Labels: CI-BreakingChange-Go, CI-FixRequiredOnFailure

#16975 arnavshringi-patch-1
  specification/confluent/resource-manager/Microsoft.Confluent/preview/2021-03-01-preview/confluent.json
  specification/confluent/resource-manager/Microsoft.Confluent/preview/2021-09-01-preview/confluent.json
Labels: CI-BreakingChange-Go

#16267 Fixed description of ConditionalOperator
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-04-16/scheduledQueryRule_API.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation

#16986 Fix in JobSupportedAction
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2021-10-01/bms.json
  specification/recoveryservicesbackup/resource-manager/readme.md
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go

#16983 Adding 2021-12-01-preview version for Microsoft.DataProtection (from latest stable version)
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/dataprotection.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/BackupInstanceOperations/DeleteBackupInstance.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/BackupInstanceOperations/FindRestorableTimeRanges.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/BackupInstanceOperations/GetBackupInstance.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/BackupInstanceOperations/GetRecoveryPoint.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/BackupInstanceOperations/ListBackupInstances.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/BackupInstanceOperations/ListRecoveryPoints.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/BackupInstanceOperations/PutBackupInstance.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/BackupInstanceOperations/TriggerBackup.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/BackupInstanceOperations/TriggerRehydrate.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/BackupInstanceOperations/TriggerRestore.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/BackupInstanceOperations/TriggerRestoreAsFiles.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/BackupInstanceOperations/TriggerRestoreWithRehydration.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/BackupInstanceOperations/ValidateForBackup.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/BackupInstanceOperations/ValidateRestore.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/CheckfeatureSupport.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/GetOperationResult.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/GetOperationStatus.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/JobCRUD/GetExportJobsOperationResult.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/JobCRUD/GetJob.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/JobCRUD/ListJobs.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/JobCRUD/TriggerExportJobs.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/Operations/List.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/PolicyCRUD/CreateOrUpdateBackupPolicy.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/PolicyCRUD/DeleteBackupPolicy.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/PolicyCRUD/GetBackupPolicy.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/PolicyCRUD/ListBackupPolicy.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/ResourceGuardCRUD/DeleteResourceGuard.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/ResourceGuardCRUD/GetDefaultBackupSecurityPINRequests.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/ResourceGuardCRUD/GetDefaultDeleteProtectedItemRequests.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/ResourceGuardCRUD/GetDefaultDeleteResourceGuardProxyRequests.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/ResourceGuardCRUD/GetDefaultDisableSoftDeleteRequests.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/ResourceGuardCRUD/GetDefaultUpdateProtectedItemRequests.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/ResourceGuardCRUD/GetDefaultUpdateProtectionPolicyRequests.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/ResourceGuardCRUD/GetResourceGuard.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/ResourceGuardCRUD/GetResourceGuardsInResourceGroup.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/ResourceGuardCRUD/GetResourceGuardsInSubscription.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/ResourceGuardCRUD/ListBackupSecurityPINRequests.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/ResourceGuardCRUD/ListDeleteProtectedItemRequests.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/ResourceGuardCRUD/ListDeleteResourceGuardProxyRequests.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/ResourceGuardCRUD/ListDisableSoftDeleteRequests.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/ResourceGuardCRUD/ListUpdateProtectedItemRequests.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/ResourceGuardCRUD/ListUpdateProtectionPolicyRequests.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/ResourceGuardCRUD/PatchResourceGuard.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/ResourceGuardCRUD/PutResourceGuard.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/VaultCRUD/CheckBackupVaultsNameAvailability.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/VaultCRUD/DeleteBackupVault.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/VaultCRUD/GetBackupVault.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/VaultCRUD/GetBackupVaultWithMSI.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/VaultCRUD/GetBackupVaultsInResourceGroup.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/VaultCRUD/GetBackupVaultsInSubscription.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/VaultCRUD/GetOperationResultPatch.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/VaultCRUD/PatchBackupVault.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/VaultCRUD/PutBackupVault.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-12-01-preview/examples/VaultCRUD/PutBackupVaultWithMSI.json
  specification/dataprotection/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-FixRequiredOnFailure

#17018 Add batch tag imagebuilder package-2021-10
  specification/imagebuilder/resource-manager/readme.go.md
Labels: CI-BreakingChange-Python-Track2

#16937 Add version 2018-04-02 into IMDS Swagger
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2018-04-02/examples/getIdentityInfo.json
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2018-04-02/examples/getIdentityToken.json
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2018-04-02/examples/getInstanceMetadata.json
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2018-04-02/imds.json
  specification/imds/data-plane/readme.md
Labels: CI-FixRequiredOnFailure

#17000 [Go] Track2 modify readme.go.md 9
  specification/hybridcompute/resource-manager/readme.go.md
  specification/hybridcompute/resource-manager/readme.md
  specification/machinelearningservices/resource-manager/readme.go.md
  specification/machinelearningservices/resource-manager/readme.md
  specification/signalr/resource-manager/readme.go.md
  specification/signalr/resource-manager/readme.md
  specification/storagecache/resource-manager/readme.go.md
  specification/storagecache/resource-manager/readme.md
  specification/storageimportexport/resource-manager/readme.go.md
  specification/storageimportexport/resource-manager/readme.md
  specification/storagepool/resource-manager/readme.go.md
  specification/storagepool/resource-manager/readme.md
  specification/storagesync/resource-manager/readme.go.md
  specification/storagesync/resource-manager/readme.md
  specification/subscription/resource-manager/readme.go.md
  specification/subscription/resource-manager/readme.md
  specification/support/resource-manager/readme.go.md
  specification/support/resource-manager/readme.md
  specification/synapse/resource-manager/readme.go.md
  specification/synapse/resource-manager/readme.md
  specification/testbase/resource-manager/readme.go.md
  specification/testbase/resource-manager/readme.md
Labels: CI-BreakingChange-Python, CI-BreakingChange-Go

#16971 Track2 modify readme.go.md 7
  specification/mixedreality/resource-manager/readme.go.md
  specification/mixedreality/resource-manager/readme.md
  specification/netapp/resource-manager/readme.go.md
  specification/netapp/resource-manager/readme.md
  specification/peering/resource-manager/readme.go.md
  specification/peering/resource-manager/readme.md
  specification/postgresqlhsc/resource-manager/readme.go.md
  specification/postgresqlhsc/resource-manager/readme.md
  specification/powerbidedicated/resource-manager/readme.go.md
  specification/powerbidedicated/resource-manager/readme.md
  specification/powerbiembedded/resource-manager/readme.go.md
  specification/powerbiembedded/resource-manager/readme.md
  specification/providerhub/resource-manager/readme.go.md
  specification/providerhub/resource-manager/readme.md
  specification/purview/resource-manager/readme.go.md
  specification/purview/resource-manager/readme.md
  specification/quantum/resource-manager/readme.go.md
  specification/quantum/resource-manager/readme.md
  specification/quota/resource-manager/readme.go.md
  specification/quota/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go

#17002 [Go] track2 modify readme.go.md 10
  specification/trafficmanager/resource-manager/readme.go.md
  specification/trafficmanager/resource-manager/readme.md
  specification/videoanalyzer/resource-manager/readme.go.md
  specification/videoanalyzer/resource-manager/readme.md
  specification/visualstudio/resource-manager/readme.go.md
  specification/visualstudio/resource-manager/readme.md
  specification/vmware/resource-manager/readme.go.md
  specification/vmware/resource-manager/readme.md
  specification/vmwarecloudsimple/resource-manager/readme.go.md
  specification/vmwarecloudsimple/resource-manager/readme.md
  specification/webpubsub/resource-manager/readme.go.md
  specification/webpubsub/resource-manager/readme.md
  specification/windowsesu/resource-manager/readme.go.md
  specification/windowsesu/resource-manager/readme.md
  specification/windowsiot/resource-manager/readme.go.md
  specification/windowsiot/resource-manager/readme.md
  specification/workloadmonitor/resource-manager/readme.go.md
  specification/workloadmonitor/resource-manager/readme.md
Labels: CI-BreakingChange-Python, CI-BreakingChange-Go, CI-FixRequiredOnFailure

#16882 Review request for Microsoft.BotService to update version stable/2021-03-01
  specification/botservice/resource-manager/Microsoft.BotService/preview/2021-05-01-preview/botservice.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2021-05-01-preview/examples/ListChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/botservice.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/examples/ListChannel.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, NewApiVersionRequired, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-Go-V2, Approved-SdkBreakingChange-Go-V2

#17039 [Go] Add other resources module name
  specification/resources/resource-manager/readme.go.md
Labels: CI-BreakingChange-Go

#16997 [Updating Swagger with missing properties]Adding missing advanced filters
  specification/eventgrid/resource-manager/Microsoft.EventGrid/stable/2021-12-01/EventGrid.json
Labels: CI-BreakingChange-Go

#16943 [Maps][Search V2] Update Geocoding api name
  specification/maps/data-plane/Search/preview/2021-11-01-preview/geocoding.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#17046 [CosmosDB] Fixing example bug for documentation in CassandraView APIs apiVersion's[ 2021-07-01-preview, 2021-10-15-preview]
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2021-07-01-preview/examples/CosmosDBCassandraViewCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2021-07-01-preview/examples/CosmosDBCassandraViewGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2021-07-01-preview/examples/CosmosDBCassandraViewList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2021-10-15-preview/examples/CosmosDBCassandraViewCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2021-10-15-preview/examples/CosmosDBCassandraViewGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2021-10-15-preview/examples/CosmosDBCassandraViewList.json
Labels: CI-BreakingChange-Go, FixS360

#17028 add `x-ms-enum` for sql
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-11-01-preview/BlobAuditing.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2020-11-01-preview/SyncGroups.json
Labels: SQL, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-Go-V2, Approved-SdkBreakingChange-Go-V2

#15496 [DO NOT MERGE]Dev resourcemover microsoft.migrate 2021 08 01
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-08-01/examples/MoveCollections_BulkRemove.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-08-01/examples/MoveCollections_Commit.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-08-01/examples/MoveCollections_Create.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-08-01/examples/MoveCollections_Delete.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-08-01/examples/MoveCollections_Discard.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-08-01/examples/MoveCollections_Get.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-08-01/examples/MoveCollections_InitiateMove.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-08-01/examples/MoveCollections_ListMoveCollectionsByResourceGroup.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-08-01/examples/MoveCollections_ListMoveCollectionsBySubscription.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-08-01/examples/MoveCollections_Prepare.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-08-01/examples/MoveCollections_ResolveDependencies.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-08-01/examples/MoveCollections_Update.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-08-01/examples/MoveResources_Create.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-08-01/examples/MoveResources_Delete.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-08-01/examples/MoveResources_Get.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-08-01/examples/MoveResources_List.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-08-01/examples/OperationsDiscovery_Get.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-08-01/examples/RequiredFor_Get.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-08-01/examples/UnresolvedDependencies_Get.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2021-08-01/resourcemovercollection.json
  specification/resourcemover/resource-manager/readme.md
Labels: ARMSignedOff, DoNotMerge, CI-BreakingChange-Go, CI-FixRequiredOnFailure

#17030 CosmosDB: Fix resource IDs in SqlContainer examples
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBSqlContainerCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBSqlContainerGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2020-06-01-preview/examples/CosmosDBSqlContainerList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2021-03-01-preview/examples/CosmosDBSqlContainerCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2021-03-01-preview/examples/CosmosDBSqlContainerGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2021-03-01-preview/examples/CosmosDBSqlContainerList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2021-04-01-preview/examples/CosmosDBSqlContainerCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2021-04-01-preview/examples/CosmosDBSqlContainerGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2021-04-01-preview/examples/CosmosDBSqlContainerList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2021-07-01-preview/examples/CosmosDBSqlContainerCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2021-07-01-preview/examples/CosmosDBSqlContainerGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2021-07-01-preview/examples/CosmosDBSqlContainerList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2021-10-15-preview/examples/CosmosDBSqlContainerCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2021-10-15-preview/examples/CosmosDBSqlContainerGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2021-10-15-preview/examples/CosmosDBSqlContainerList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlContainerCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlContainerGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/examples/CosmosDBSqlContainerList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-12-12/examples/CosmosDBSqlContainerCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-12-12/examples/CosmosDBSqlContainerGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-12-12/examples/CosmosDBSqlContainerList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-03-01/examples/CosmosDBSqlContainerCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-03-01/examples/CosmosDBSqlContainerGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-03-01/examples/CosmosDBSqlContainerList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/examples/CosmosDBSqlContainerCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/examples/CosmosDBSqlContainerGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/examples/CosmosDBSqlContainerList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-09-01/examples/CosmosDBSqlContainerCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-09-01/examples/CosmosDBSqlContainerGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-09-01/examples/CosmosDBSqlContainerList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2021-01-15/examples/CosmosDBSqlContainerCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2021-01-15/examples/CosmosDBSqlContainerGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2021-01-15/examples/CosmosDBSqlContainerList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2021-03-15/examples/CosmosDBSqlContainerCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2021-03-15/examples/CosmosDBSqlContainerGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2021-03-15/examples/CosmosDBSqlContainerList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2021-04-15/examples/CosmosDBSqlContainerCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2021-04-15/examples/CosmosDBSqlContainerGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2021-04-15/examples/CosmosDBSqlContainerList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2021-05-15/examples/CosmosDBSqlContainerCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2021-05-15/examples/CosmosDBSqlContainerGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2021-05-15/examples/CosmosDBSqlContainerList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2021-06-15/examples/CosmosDBSqlContainerCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2021-06-15/examples/CosmosDBSqlContainerGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2021-06-15/examples/CosmosDBSqlContainerList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2021-10-15/examples/CosmosDBSqlContainerCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2021-10-15/examples/CosmosDBSqlContainerGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2021-10-15/examples/CosmosDBSqlContainerList.json
Labels: customer-reported, CI-BreakingChange-Go

#17054 config readme.python
  specification/automanage/resource-manager/readme.md
  specification/automanage/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2

#17042 [Microsoft.DeviceUpdate] Private Link - Added Network RP required properties
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/preview/2020-03-01-preview/deviceupdate.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/preview/2020-03-01-preview/examples/Accounts/Accounts_Create.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/preview/2020-03-01-preview/examples/Accounts/Accounts_Get.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/preview/2020-03-01-preview/examples/Accounts/Accounts_List.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/preview/2020-03-01-preview/examples/Accounts/Accounts_Update.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/preview/2020-03-01-preview/examples/Operations_List.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/preview/2020-03-01-preview/examples/PrivateEndpointConnections/PrivateEndpointConnection_CreateOrUpdate.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/preview/2020-03-01-preview/examples/PrivateEndpointConnections/PrivateEndpointConnection_Get.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/preview/2020-03-01-preview/examples/PrivateEndpointConnections/PrivateEndpointConnection_ListByAccount.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/preview/2020-03-01-preview/privatelinks.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, NewApiVersionRequired, CI-FixRequiredOnFailure

#17016 datafactory, clean directive
  specification/datafactory/resource-manager/readme.java.md
  specification/datafactory/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go

#16715 Schema resource added in REST API Spec for api-version 2021-08-01
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/apimanagement.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/apimschema.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/examples/ApiManagementCreateGlobalSchema1.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/examples/ApiManagementCreateGlobalSchema2.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/examples/ApiManagementDeleteGlobalSchema.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/examples/ApiManagementGetGlobalSchema1.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/examples/ApiManagementGetGlobalSchema2.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/examples/ApiManagementHeadGlobalSchema.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/examples/ApiManagementListGlobalSchemas.json
  specification/apimanagement/resource-manager/readme.md
Labels: Approved-OkToMerge, ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, NewApiVersionRequired, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python

#17060 Remove Preview PrometheusRuleGroups resource type
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/PrometheusRuleGroups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples/createOrUpdatePrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples/deletePrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples/getPrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples/listPrometheusRuleGroups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples/patchPrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/readme.md
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-Go-V2

#16895 [AKS] feat: add python SDK generation for 1001/1101-preview api
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go

#17080 videoanalyzer-readme-update
  specification/videoanalyzer/resource-manager/readme.md
Labels: CI-BreakingChange-Go, Approved-SdkBreakingChange-Go

#16947 Adding UAMI properties to the swagger
  specification/purview/resource-manager/Microsoft.Purview/preview/2020-12-01-preview/examples/DefaultAccounts_Get.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2020-12-01-preview/examples/DefaultAccounts_Remove.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2020-12-01-preview/examples/DefaultAccounts_Set.json
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples/DefaultAccounts_Get.json
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples/DefaultAccounts_Remove.json
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/examples/DefaultAccounts_Set.json
  specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/purview.json
Labels: Approved-BreakingChange, NewApiVersionRequired, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go

#17093 change delete audio routing group response to 200 ok
  specification/communication/data-plane/CallingServer/preview/2021-11-15-preview/communicationservicescallingserver.json
  specification/communication/data-plane/CallingServer/preview/2021-11-15-preview/examples/CallConnections_DeleteAudioRoutingGroup.json
Labels: CI-FixRequiredOnFailure

#16963 Microsoft.DigitalTwins: add new Data Plane API Version 2021-06-30-preview
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/digitaltwins.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/CreateRelationshipAdvancedExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/CreateRelationshipBasicExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/DeleteModel.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/DeleteRelationship.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/DeleteTwin.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/EventRouteDelete.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/EventRouteGet.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/EventRoutePut.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/EventRoutePutWithFilter.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/EventRoutesList.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/GetComponent.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/GetIncomingRelationship.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/GetRelationship.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/GetRelationshipById.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/GetRelationshipByRelationshipName.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/GetTwin.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/ModelAdd.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/ModelGetById.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/ModelGetByIdWithIncludeModelDefinition.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/ModelUpdateDecommissioned.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/ModelsGet.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/ModelsGetWithDependenciesAndIncludeModelDefinition.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/PatchComponentAdvancedExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/PatchComponentBasicExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/PatchRelationshipAdvancedExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/PatchRelationshipBasicExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/PatchTwinAdvancedExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/PatchTwinBasicExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/PutTwinAdvancedExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/PutTwinBasicExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/QueryFirstPage.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/QueryJoin.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/QueryNextPage.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/SendTelemetry.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2021-06-30-preview/examples/SendTelemetryFromComponent.json
  specification/digitaltwins/data-plane/readme.go.md
  specification/digitaltwins/data-plane/readme.java.md
  specification/digitaltwins/data-plane/readme.md
  specification/digitaltwins/data-plane/readme.python.md
Labels: CI-FixRequiredOnFailure

#17084 Update headers in example for Microsoft.AppPlatform
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Apps_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Deployments_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/examples/Services_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Apps_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Bindings_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/ConfigServers_UpdatePatch.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/ConfigServers_Validate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/CustomDomains_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Deployments_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/MonitoringSettings_UpdatePatch.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/examples/Services_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-06-01-preview/examples/Apps_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-06-01-preview/examples/Bindings_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-06-01-preview/examples/ConfigServers_UpdatePatch.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-06-01-preview/examples/ConfigServers_Validate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-06-01-preview/examples/CustomDomains_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-06-01-preview/examples/Deployments_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-06-01-preview/examples/Deployments_Update_CustomContainer.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-06-01-preview/examples/MonitoringSettings_UpdatePatch.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-06-01-preview/examples/Services_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-09-01-preview/examples/Apps_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-09-01-preview/examples/Bindings_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-09-01-preview/examples/ConfigServers_UpdatePatch.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-09-01-preview/examples/ConfigServers_Validate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-09-01-preview/examples/CustomDomains_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-09-01-preview/examples/Deployments_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-09-01-preview/examples/Deployments_Update_CustomContainer.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-09-01-preview/examples/MonitoringSettings_UpdatePatch.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-09-01-preview/examples/Services_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Apps_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Bindings_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/ConfigServers_UpdatePatch.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/ConfigServers_Validate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/CustomDomains_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Deployments_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/MonitoringSettings_UpdatePatch.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Services_Update.json
Labels: CI-BreakingChange-Python-Track2

#17055 Add `x-ms-enum` extension to keyvault
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-06-01-preview/keyvault.json
Labels: CI-BreakingChange-Go, Approved-SdkBreakingChange-Go

#17081 capacity reservation group preview in AKS
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2021-11-01-preview/examples/AgentPoolsAssociate_CRG.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2021-11-01-preview/examples/ManagedClustersAssociate_CRG.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2021-11-01-preview/managedClusters.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go

#16221 Azure Notification Hubs Revert Namespace List Keys Change
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/examples/Namespaces/NHNameSpaceAuthorizationRuleListKey.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/notificationhubs.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-Go-V2, Approved-SdkBreakingChange-Go-V2

#15828 [Hub Generated] Review request for Microsoft.Cache to add version stable/2021-06-01
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCacheCheckNameAvailability.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCacheCreate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCacheDelete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCacheDeletePrivateEndpointConnection.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCacheExport.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCacheFirewallRuleCreate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCacheFirewallRuleDelete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCacheFirewallRuleGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCacheFirewallRulesList.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCacheForceReboot.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCacheGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCacheGetPrivateEndpointConnection.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCacheImport.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCacheLinkedServer_Create.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCacheLinkedServer_Delete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCacheLinkedServer_Get.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCacheLinkedServer_List.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCacheList.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCacheListByResourceGroup.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCacheListKeys.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCacheListPrivateEndpointConnections.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCacheListPrivateLinkResources.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCacheListUpgradeNotifications.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCachePatchSchedulesCreateOrUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCachePatchSchedulesDelete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCachePatchSchedulesGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCachePatchSchedulesList.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCachePutPrivateEndpointConnection.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCacheRegenerateKey.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisCacheUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/redis.json
  specification/redis/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-Go-V2

#17027 add `x-ms-enum` to storage
  specification/storage/resource-manager/Microsoft.Storage/stable/2021-06-01/blob.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2021-06-01/file.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2021-06-01/queue.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2021-06-01/table.json
Labels: Storage, BreakingChangeReviewRequired, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go

#17087 Added metadata to File and Directory Rename
  specification/storage/data-plane/Microsoft.FileStorage/preview/2021-04-10/file.json
Labels: Approved-BreakingChange, NewApiVersionRequired

#17052 added propertied to classicaccount which contains the media services …
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2021-11-10-preview/examples/ViClassicAccounts.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2021-11-10-preview/vi.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired

#17078 Add ActionType according to arm-rpc
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-06-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-09-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/appplatform.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, NewApiVersionRequired, FixS360

#17071 Fixing spellcheck and updating readme files
  cSpell.json
  specification/confluent/resource-manager/readme.go.md
  specification/confluent/resource-manager/readme.java.md
  specification/confluent/resource-manager/readme.md
  specification/confluent/resource-manager/readme.ruby.md
Labels: CI-BreakingChange-Go, Approved-SdkBreakingChange-Go

#17044 Creating new version( 2021-11-15) for passive stamp
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2021-11-15/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2021-11-15/examples/AzureIaasVm/BackupAadProperties_Get.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2021-11-15/examples/AzureIaasVm/BackupProtectedItems_List.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2021-11-15/examples/AzureIaasVm/GetAccessToken_Get.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2021-11-15/examples/AzureIaasVm/GetCrrJob_Post.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2021-11-15/examples/AzureIaasVm/GetCrrOperationResults_Get.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2021-11-15/examples/AzureIaasVm/GetCrrOperationStatus_Get.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2021-11-15/examples/AzureIaasVm/ListCrrJobs_Post.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2021-11-15/examples/AzureIaasVm/RecoveryPoints_List.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2021-11-15/examples/AzureIaasVm/TriggerCrossRegionRestore_IdentityBasedRestoreDetails_Post.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2021-11-15/examples/AzureIaasVm/TriggerCrossRegionRestore_Post.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2021-11-15/examples/Common/BackupProtectedItem_UsageSummary_Get.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2021-11-15/examples/Common/BackupProtectionContainers_UsageSummary_Get.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2021-11-15/examples/Common/BackupStorageConfig_Get.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2021-11-15/examples/Common/BackupStorageConfig_Patch.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2021-11-15/examples/Common/BackupStorageConfig_Put.json
  specification/recoveryservicesbackup/resource-manager/readme.md
Labels: WaitForARMFeedback, Approved-BreakingChange, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-LintDiff

#17111 Add batch tag for release track1
  specification/automanage/resource-manager/readme.go.md
  specification/network/resource-manager/readme.go.md
  specification/recoveryservices/resource-manager/readme.go.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go

#16988 Adding 202 response code VM Patch operation....
  specification/connectedvmware/resource-manager/Microsoft.ConnectedVMwarevSphere/preview/2020-10-01-preview/connectedvmware.json
  specification/connectedvmware/resource-manager/Microsoft.ConnectedVMwarevSphere/preview/2020-10-01-preview/examples/UpdateVirtualMachine.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#17099 [Go]Track2 modify readme.go.md 11
  specification/customproviders/resource-manager/readme.go.md
  specification/customproviders/resource-manager/readme.md
  specification/datadog/resource-manager/readme.go.md
  specification/datadog/resource-manager/readme.md
  specification/logz/resource-manager/readme.go.md
  specification/logz/resource-manager/readme.md
  specification/saas/resource-manager/readme.go.md
  specification/saas/resource-manager/readme.md
Labels: CI-BreakingChange-Go

#16944 Remove custom `ResourceGroupNameParameter` and replace them with the one from common-types
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-03-01-preview/activityLogAlerts_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2018-06-01-preview/guestDiagnosticSettingsAssociation_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2018-06-01-preview/guestDiagnosticSettings_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/privateLinkScopes_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2020-05-01-preview/scheduledQueryRule_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/autoscale_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2014-04-01/alertRules_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2014-04-01/autoscale_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2015-04-01/autoscale_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2016-03-01/alertRulesIncidents_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2016-03-01/alertRules_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2017-04-01/actionGroups_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2017-04-01/activityLogAlerts_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-03-01/actionGroups_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-03-01/metricAlert_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-04-16/scheduledQueryRule_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-09-01/actionGroups_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-03-01/actionGroups_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-06-01/actionGroups_API.json
  specification/monitor/resource-manager/readme.go.md
  specification/monitor/resource-manager/readme.md
Labels: CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation

#17061 Update Go readme SecurityInsights
  specification/securityinsights/resource-manager/readme.go.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-Go-V2, Approved-SdkBreakingChange-Go-V2

#16544 Remove impossible state from example
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/GetVirtualMachineInstanceView.json
Labels: Compute, DoNotMerge, CI-BreakingChange-Go, CI-FixRequiredOnFailure

#16622 Added CVM settings for version 2021-11-01
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/CreateAScaleSetWithSecurityTypeConfidentialVM.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/CreateAVmWithSecurityTypeConfidentialVM.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/CreateAVmWithSecurityTypeConfidentialVMWithCustomerManagedKeys.json
Labels: Compute, DoNotMerge, CI-BreakingChange-Go, CI-FixRequiredOnFailure

#16723 Added vm size properties for vm scale set
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/CreateOrUpdateAScaleSetWithVMSizeProperties.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/GetVirtualMachineScaleSetVMWithVMSizeProperties.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/GetVirtualMachineWithVMSizeProperties.json
Labels: Compute, DoNotMerge, CI-BreakingChange-Go

#16590 Spec for ProtectedSettingsFromKeyVault and AllowExtensionOperations
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-07-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-07-01/examples/compute/CreateAScaleSetWithProtectedSettingsFromKeyVault.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-07-01/examples/compute/UpdateVMExtension.json
Labels: Compute, DoNotMerge, BreakingChangeReviewRequired, NewApiVersionRequired, CI-BreakingChange-Go, CI-FixRequiredOnFailure

#16535 Add repair action to automatic repairs api
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/CreateAScaleSetWithAutomaticRepairs.json
Labels: Compute, DoNotMerge, customer-reported, CI-BreakingChange-Go, CI-FixRequiredOnFailure

#16737 DedicatedHost Reboot Feature
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/DedicatedHostRestart.json
Labels: Compute, DoNotMerge, CI-BreakingChange-Go, CI-FixRequiredOnFailure

#17041 Adding the new paramaters zone/placementGroupId to forceRecoveryServi…
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/compute.json
Labels: Compute, customer-reported, CI-BreakingChange-Go

#17091 Add Community Gallery image id support
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/CreateAVmFromACommunityGalleryImage.json
Labels: Compute, CI-BreakingChange-Go

#17119 Added ParentId response header to File/Directory rename
  specification/storage/data-plane/Microsoft.FileStorage/preview/2021-04-10/file.json
Labels: Approved-BreakingChange

#16482 Update compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/compute.json
Labels: Compute, DoNotMerge, CI-BreakingChange-Go, CI-FixRequiredOnFailure, FixS360, CI-BreakingChange-Go-V2

#16957 add vmss filter to list
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/compute.json
Labels: Compute, CI-BreakingChange-Go

#17121 Revert "Spec for ProtectedSettingsFromKeyVault and AllowExtensionOperations"
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-07-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-07-01/examples/compute/CreateAScaleSetWithProtectedSettingsFromKeyVault.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-07-01/examples/compute/UpdateVMExtensionWithSuppressFailureEnabled.json
Labels: Compute

#17124 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2021-10-01
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2021-10-01/costmanagement.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2021-10-01/examples/PrivateView.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2021-10-01/examples/PrivateViewCreateOrUpdate.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2021-10-01/examples/PrivateViewList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2021-10-01/examples/ViewByResourceGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2021-10-01/examples/ViewCreateOrUpdateByResourceGroup.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2021-10-01/examples/ViewListByResourceGroup.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, NewApiVersionRequired, CI-FixRequiredOnFailure

#17045 Update Swagger spec for VMSS Packet Capture - Add additional properties
  specification/network/resource-manager/Microsoft.Network/stable/2021-06-01/networkWatcher.json
Labels: Network, CI-BreakingChange-Go

#17001 [DataFactory] Add connectionProperties in GoogleAdWordsLinkedServiceTypeProperties
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2021-06-01-preview/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
Labels: Approved-BreakingChange, NewApiVersionRequired, CI-BreakingChange-Go

#17143 update sql default tag to composite-v5
  specification/sql/resource-manager/readme.md
Labels: SQL, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2

#17072 Fix ContentCertificateProperties live validation error
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-09-01-preview/appplatform.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, FixS360, Approved-SdkBreakingChange-Python

#17139 [Azure Data Factory] Support UAMI M2
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/IntegrationRuntime.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
Labels: Approved-BreakingChange, NewApiVersionRequired

#16985 [Recoveryservicesbackup]python config
  specification/recoveryservicesbackup/resource-manager/readme.md
  specification/recoveryservicesbackup/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go, ReviewedFromRecoveryServices-backup

#17148 Update AudioGroup and CallLocator in swagger file
  specification/communication/data-plane/CallingServer/preview/2021-11-15-preview/communicationservicescallingserver.json
  specification/communication/data-plane/CallingServer/preview/2021-11-15-preview/examples/CallConnections_CreateAudioGroup.json
  specification/communication/data-plane/CallingServer/preview/2021-11-15-preview/examples/CallConnections_DeleteAudioGroup.json
  specification/communication/data-plane/CallingServer/preview/2021-11-15-preview/examples/CallConnections_GetAudioGroups.json
  specification/communication/data-plane/CallingServer/preview/2021-11-15-preview/examples/CallConnections_UpdateAudioGroup.json
Labels: CI-FixRequiredOnFailure

#17086 Add IoT data connector
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-10-01-preview/dataConnectors.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-10-01-preview/examples/dataConnectors/CheckRequirementsIoT.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-10-01-preview/examples/dataConnectors/GetIoTById.json
Labels: Approved-OkToMerge, ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-Go-V2

#17150 Update description for MSI client id in keyvault contract
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-04-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-12-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2020-12-01/definitions.json
Labels: API Management, BreakingChangeReviewRequired, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#17105 Dev oep microsoft.open energy platform 2021 06 01 preview
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/preview/2021-06-01-preview/examples/Locations_CheckNameAvailability.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/preview/2021-06-01-preview/examples/OepResource_Create.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/preview/2021-06-01-preview/examples/OepResource_Delete.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/preview/2021-06-01-preview/examples/OepResource_Get.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/preview/2021-06-01-preview/examples/OepResource_ListByResourceGroup.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/preview/2021-06-01-preview/examples/OepResource_ListBySubscriptionId.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/preview/2021-06-01-preview/examples/OepResource_Update.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/preview/2021-06-01-preview/examples/Operations_List.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/preview/2021-06-01-preview/oep.json
  specification/oep/resource-manager/readme.az.md
  specification/oep/resource-manager/readme.cli.md
  specification/oep/resource-manager/readme.csharp.md
  specification/oep/resource-manager/readme.go.md
  specification/oep/resource-manager/readme.md
  specification/oep/resource-manager/readme.python.md
  specification/oep/resource-manager/readme.typescript.md
Labels: ARMSignedOff, CI-FixRequiredOnFailure

#17165 Rename Hold & Resume Audio operations
  specification/communication/data-plane/CallingServer/preview/2021-11-15-preview/communicationservicescallingserver.json
  specification/communication/data-plane/CallingServer/preview/2021-11-15-preview/examples/CallConnections_AddParticipantToDefaultAudioGroup.json
  specification/communication/data-plane/CallingServer/preview/2021-11-15-preview/examples/CallConnections_RemoveParticipantFromDefaultAudioGroup.json
Labels: CI-FixRequiredOnFailure

#17056 Add `x-ms-enum` to web RP
  specification/web/resource-manager/Microsoft.Web/stable/2021-02-01/Provider.json
Labels: DoNotMerge, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-Go-V2

#17175 [Go] Track2 modify readme.go.md 13
  specification/applicationinsights/resource-manager/readme.go.md
  specification/applicationinsights/resource-manager/readme.md
  specification/imagebuilder/resource-manager/readme.go.md
  specification/imagebuilder/resource-manager/readme.md
  specification/web/resource-manager/readme.go.md
Labels: CI-BreakingChange-Python-Track2

#17128 Add latest version of monitor to go track 1 SDK
  specification/monitor/resource-manager/readme.go.md
  specification/monitor/resource-manager/readme.md
Labels: CI-FixRequiredOnFailure, CI-BreakingChange-Go-V2, Approved-SdkBreakingChange-Go-V2

#17116 [Synapse] Azure Synapse Correctness
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/bigDataPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/CreateSqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/UpdateSqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/integrationRuntime.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/sqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/sqlServer.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/workspace.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/bigDataPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/CreateIpFirewallRule.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/CreateSqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/UpdateSqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/firewallRule.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/integrationRuntime.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/sqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/sqlServer.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/workspace.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, CI-FixRequiredOnFailure, FixS360, Synapses, CI-BreakingChange-Go-V2

#17154 [Hub Generated] Public private branch 'dev-recoveryservices-Microsoft.RecoveryServices-2021-11-01-preview'
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/examples/CheckNameAvailability_Available.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/examples/CheckNameAvailability_NotAvailable.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/examples/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/examples/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/examples/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/examples/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/examples/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/examples/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/examples/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/examples/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/examples/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/examples/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/examples/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/examples/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/examples/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/examples/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/examples/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/examples/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/examples/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/examples/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/examples/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/examples/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/examples/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/examples/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/examples/UpdateVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/registeredidentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/replicationusages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/vaults.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2021-11-01-preview/vaultusages.json
  specification/recoveryservices/resource-manager/readme.md
Labels: ARMSignedOff

#17151 [Azure Maps] Search: Fix wrong types and descriptions
  specification/maps/data-plane/Search/preview/1.0/search.json
Labels: Approved-BreakingChange

#17185 feat: fix build agent pool swagger
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2022-01-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2022-01-01-preview/examples/BuildServiceAgentPool_UpdatePut.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, FixS360, CI-BreakingChange-Go-V2, Approved-SdkBreakingChange-Go-V2

#16920 S360 - Swagger Correctness - Microsoft.ResourceHealth
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2020-05-01-preview/ResourceHealth.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2020-05-01-preview/examples/AvailabilityStatus_GetByResource.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2020-05-01-preview/examples/AvailabilityStatuses_List.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2020-05-01-preview/examples/AvailabilityStatuses_ListByResourceGroup.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2020-05-01-preview/examples/AvailabilityStatuses_ListBySubscriptionId.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2020-05-01-preview/examples/Operations_List.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/stable/2020-05-01/examples/AvailabilityStatus_GetByResource.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/stable/2020-05-01/examples/AvailabilityStatuses_List.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/stable/2020-05-01/examples/AvailabilityStatuses_ListByResourceGroup.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/stable/2020-05-01/examples/AvailabilityStatuses_ListBySubscriptionId.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, FixS360

#17162 [Hub Generated] Review request for Microsoft.AlertsManagement to add version stable/2021-08-08
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/AlertProcessingRules.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples/AlertProcessingRules_Create_or_update_add_action_group_all_alerts_in_subscription.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples/AlertProcessingRules_Create_or_update_add_two_action_groups_all_Sev0_Sev1_two_resource_groups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples/AlertProcessingRules_Create_or_update_remove_all_action_groups_from_specific_alert_rule.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples/AlertProcessingRules_Create_or_update_remove_all_action_groups_outside_business_hours.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples/AlertProcessingRules_Create_or_update_remove_all_action_groups_recurring_maintenance_window.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples/AlertProcessingRules_Create_or_update_remove_all_action_groups_specific_VM_one-off_maintenance_window.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples/AlertProcessingRules_Delete.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples/AlertProcessingRules_GetById.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples/AlertProcessingRules_List_ResourceGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples/AlertProcessingRules_List_Subscription.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/examples/AlertProcessingRules_Patch.json
  specification/alertsmanagement/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, Approved-SdkBreakingChange-Python, CI-BreakingChange-Go-V2

#17191 Add batch tag for streamanalytics readme.go.md
  specification/streamanalytics/resource-manager/readme.go.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2

#17195 S360 - fixing pending 3 Swagger KPIs
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/stable/2020-05-01/ResourceHealth.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/stable/2020-05-01/examples/Operations_List.json
Labels: ARMSignedOff, Approved-BreakingChange, NewApiVersionRequired, FixS360
