Repository Azure/azure-rest-api-specs, pull requests merged in 2021-06, with the labels that each got.

#14604 Hdinsight t2 config
  specification/hdinsight/resource-manager/readme.md
  specification/hdinsight/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#14337 Add 2020Public version
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-02-02/components_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-02-02/examples/ComponentsCreate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-02-02/examples/ComponentsDelete.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-02-02/examples/ComponentsGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-02-02/examples/ComponentsList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-02-02/examples/ComponentsListByResourceGroup.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-02-02/examples/ComponentsPurge.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-02-02/examples/ComponentsPurgeStatus.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-02-02/examples/ComponentsUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-02-02/examples/ComponentsUpdateTagsOnly.json
  specification/applicationinsights/resource-manager/readme.md
  specification/applicationinsights/resource-manager/readme.python.md
Labels: ARMSignedOff

#14574 Add Eventgrid schema for Storage.BlobInventoryCompleted event
  specification/eventgrid/data-plane/Microsoft.Storage/stable/2018-01-01/Storage.json
Labels: CI-BreakingChange-Go, customer-reported

#14530 Updating Call Recording Event with updated Recording chunk schema
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/AzureCommunicationServices.json
Labels: CI-BreakingChange-Go

#14606 [Metrics Advisor] remove invalid granularity enum value; remove 'required' on secrets
  specification/cognitiveservices/data-plane/MetricsAdvisor/preview/v1.0/MetricsAdvisor.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#14600 Cost Management: Add typescript support and add more aggregation functions
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/costmanagement.exports.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/costmanagement.json
  specification/cost-management/resource-manager/readme.typescript.md
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, customer-reported

#14481 [Hub Generated] Review request for Microsoft.HybridCompute to add version preview/2021-05-17-preview
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/HybridCompute.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/examples/DELETEExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/examples/Extensions_Upgrade.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/examples/GETExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/examples/LISTExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/examples/Machines_CreateOrUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/examples/Machines_Delete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/examples/Machines_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/examples/Machines_ListByResourceGroup.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/examples/Machines_ListBySubscription.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/examples/Machines_Update.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/examples/PUTExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/examples/PrivateEndpointConnectionDelete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/examples/PrivateEndpointConnectionGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/examples/PrivateEndpointConnectionList.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/examples/PrivateEndpointConnectionUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/examples/PrivateLinkScopePrivateLinkResourceGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/examples/PrivateLinkScopePrivateLinkResourceListGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/examples/PrivateLinkScopesCreate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/examples/PrivateLinkScopesDelete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/examples/PrivateLinkScopesGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/examples/PrivateLinkScopesGetValidation.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/examples/PrivateLinkScopesGetValidationForMachine.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/examples/PrivateLinkScopesList.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/examples/PrivateLinkScopesListByResourceGroup.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/examples/PrivateLinkScopesUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/examples/PrivateLinkScopesUpdateTagsOnly.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/examples/UpdateExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-05-17-preview/privateLinkScopes.json
  specification/hybridcompute/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python

#14608 Mariadb t2 config
  specification/mariadb/resource-manager/readme.md
  specification/mariadb/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go

#14613 Batchai t2 config
  specification/batchai/resource-manager/readme.md
  specification/batchai/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#14505 Added BeginGetAccess and EndGetAccess for diskRestorePoint to 2020-12-01
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/disk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/BeginGetAccessDiskRestorePoint.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/EndGetAccessDiskRestorePoint.json
Labels: Approved-BreakingChange, Approved-SdkBreakingChange-Go, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, Compute, NewApiVersionRequired, WaitForARMFeedback

#14635 add gosdk version in readme.go.md
  specification/cosmos-db/resource-manager/readme.go.md
Labels: CI-BreakingChange-Go

#14436 Adding new properties in IotHubProperties with new API version 2021-07-01-preview
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/IotHub_ManualFailover.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/checkNameAvailability.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_certificatescreateorupdate.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_certificatesdelete.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_certverify.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_createOrUpdate.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_createconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_delete.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_deleteconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_deleteprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_exportdevices.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_generateverificationcode.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_get.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_getcertificate.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_getconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_getjob.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_getkey.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_getprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_getprivatelinkresources.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_getskus.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_importdevices.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_listbyrg.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_listbysubscription.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_listcertificates.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_listehgroups.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_listjobs.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_listkeys.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_listprivateendpointconnections.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_listprivatelinkresources.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_operations.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_patch.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_quotametrics.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_routingendpointhealth.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_stats.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_testallroutes.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_testnewroute.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_updateprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/examples/iothub_usages.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/iothub.json
  specification/iothub/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go

#14434 Add missing property etag for 2020-04-01-preview version.
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/keyvault.json
Labels: CI-BreakingChange-Go

#14628 [EventGrid] Add "FarmBeats" prefix to two enums
  specification/eventgrid/data-plane/Microsoft.AgFoodPlatform/stable/2018-01-01/AzureFarmBeats.json
Labels: CI-BreakingChange-Go

#14561 Update available SKUs for CognitiveServices->Text Analytics #14180
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2017-04-18/examples/CheckSkuAvailability.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2017-04-18/examples/GetSkus.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#14328 EventHub: Changes to Fix Swagger Correctness
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/Clusters-preview.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/namespaces-preview.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/namespaces-preview.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, FixS360

#14304 Added 202 response code for patch async operations
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2021-04-01-preview/connectedClusters.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2021-04-01-preview/examples/UpdateClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2021-04-01-preview/examples/UpdateClusterPrivateLinkExample.json
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired

#14367 Azure key vault import keys json to 2021-04-01-preview
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/createKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/getKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/getKeyVersion.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/listKeyVersions.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/listKeys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/keys.json
  specification/keyvault/resource-manager/readme.md
Labels: Approved-Avocado, Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, NewApiVersionRequired

#14655 AKS: add listcredentials param in 2021-05-01 api
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2021-05-01/managedClusters.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, NewApiVersionRequired

#14607 [Hub Generated] Public private branch 'dev-monitor-Microsoft.Insights-2021-02-01-preview'
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-02-01-preview/scheduledQueryRule_API.json
Labels: Approved-OkToMerge, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, FixS360

#14133 [AzureStack] [Admin API] Compute ScaleUnit Open API Spec
  specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/preview/2015-12-01-preview/Compute.json
  specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/preview/2015-12-01-preview/PlatformImages.json
  specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/preview/2015-12-01-preview/VMExtensions.json
  specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/preview/2015-12-01-preview/examples/Operations/List.json
  specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/preview/2018-07-30-preview/DiskMigrationJobs.json
  specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/preview/2018-07-30-preview/Disks.json
  specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/preview/2018-07-30-preview/examples/DiskMigrationJobs/Create.json
  specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/stable/2021-01-01/Quotas.json
  specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/stable/2021-03-30/ScaleUnits.json
  specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/stable/2021-03-30/examples/ScaleUnits/Get.json
  specification/azsadmin/resource-manager/compute/readme.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-FixRequiredOnFailure

#14687 Update the API version for Servers so that it works with OutboundFirewallRules
  specification/sql/resource-manager/readme.md
Labels: Approved-OkToMerge, Approved-SdkBreakingChange-Go, CI-BreakingChange-Go, SQL

#14453 Update Parameters Documentation for Reservation Summaries API
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/examples/ReservationSummariesMonthlyWithBillingAccountId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/examples/ReservationSummariesMonthlyWithBillingProfileId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/examples/ReservationSummariesMonthlyWithBillingProfileIdReservationId.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#14653 PostgreSQL Flexible Server GA Swagger API changes
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/CapabilitiesByLocation.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/CheckNameAvailability.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/ConfigurationGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/ConfigurationListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/ConfigurationUpdate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/FirewallRuleCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/FirewallRuleDelete.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/FirewallRuleGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/FirewallRuleListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/OperationList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/ServerCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/ServerCreatePointInTimeRestore.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/ServerDelete.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/ServerGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/ServerGetWithVnet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/ServerList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/ServerListByResourceGroup.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/ServerRestart.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/ServerRestartWithFailover.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/ServerStart.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/ServerStop.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/ServerUpdate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/ServerUpdateWithCustomerMaintenanceWindow.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/VirtualNetworkSubnetUsage.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/postgresql.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/Databases.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/PrivateDnsZone.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/CapabilitiesByLocation.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/CheckNameAvailability.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/ConfigurationGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/ConfigurationListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/ConfigurationUpdate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/DatabaseCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/DatabaseDelete.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/DatabaseGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/DatabasesListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/FirewallRuleCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/FirewallRuleDelete.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/FirewallRuleGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/FirewallRuleListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/GetPrivateDnsZoneSuffix.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/OperationList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/ServerCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/ServerCreatePointInTimeRestore.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/ServerDelete.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/ServerGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/ServerGetWithVnet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/ServerList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/ServerListByResourceGroup.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/ServerRestart.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/ServerRestartWithFailover.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/ServerStart.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/ServerStop.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/ServerUpdate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/ServerUpdateWithCustomerMaintenanceWindow.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/VirtualNetworkSubnetUsage.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/postgresql.json
  specification/postgresql/resource-manager/readme.go.md
  specification/postgresql/resource-manager/readme.md
  specification/postgresql/resource-manager/readme.python.md
Labels: ARMSignedOff

#14674 Adding "kind" property to Enterprise Policy model
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/enterprisePolicy.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/createOrUpdateEnterprisePolicy.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/getEnterprisePolicy.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/listEnterprisePoliciesByResourceGroup.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/listEnterprisePoliciesBySubscription.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/updateEnterprisePolicy.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired

#14586 [Hub Generated] Review request for Microsoft.Support to add version preview/2021-06-01-preview
  specification/support/resource-manager/Microsoft.Support/preview/2021-06-01-preview/examples/ListOperations.json
  specification/support/resource-manager/Microsoft.Support/preview/2021-06-01-preview/examples/LookUpResourceId.json
  specification/support/resource-manager/Microsoft.Support/preview/2021-06-01-preview/supportResourceIdDetails.json
  specification/support/resource-manager/readme.md
Labels: ARMSignedOff

#14665 Changes in operation ids
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/dataprotection.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/examples/BackupInstanceOperations/FindRestorableTimeRanges.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/examples/Operations/List.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/dataprotection.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/BackupInstanceOperations/FindRestorableTimeRanges.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/Operations/List.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go

#14495 [Spring Cloud] Add ToBeExportedForShoebox for MetricDimension definition.
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-06-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/appplatform.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, FixS360, NewApiVersionRequired

#14380 [Hub Generated] Review request for Microsoft.SecurityInsights to remove unused endpoints under Settings
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/Settings.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/examples/settings/Offboard.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/examples/settings/Onboard.json
Labels: ARMSignedOff, Approved-BreakingChange, Approved-SdkBreakingChange-Go, BreakingChangeReviewRequired, CI-BreakingChange-Go

#14444 Fix temporaryDist default value issue
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/appplatform.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#14710 Copied Test Base from Private:RPSaaSMaster
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/CustomerEventCreate.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/CustomerEventDelete.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/CustomerEventGet.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/CustomerEventsList.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/EmailEventGet.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/EmailEventsList.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/TestBaseAccountCreate.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/TestBaseAccountGet.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/TestBaseAccountSKUsList.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/TestBaseAccountUpdate.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/TestBaseAccountsList.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/TestBaseAccountsListBySubscription.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/TestResultGet.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/TestResultsList.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/TestSummariesList.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/TestSummaryGet.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/testbase.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired

#14556 Fixes for FaceAPI
  specification/cognitiveservices/data-plane/Face/preview/v1.0-preview/Face.json
  specification/cognitiveservices/data-plane/Face/preview/v1.0-preview/examples/AddPersonDirectoryPersonFaceFromStream.json
  specification/cognitiveservices/data-plane/Face/preview/v1.0-preview/examples/AddPersonDirectoryPersonFaceFromUrl.json
  specification/cognitiveservices/data-plane/Face/preview/v1.0-preview/examples/CreateNewDynamicPersonGroup.json
  specification/cognitiveservices/data-plane/Face/preview/v1.0-preview/examples/CreateNewPersonDirectoryPerson.json
  specification/cognitiveservices/data-plane/Face/preview/v1.0-preview/examples/DeleteDynamicPersonGroup.json
  specification/cognitiveservices/data-plane/Face/preview/v1.0-preview/examples/DeletePersonDirectoryPerson.json
  specification/cognitiveservices/data-plane/Face/preview/v1.0-preview/examples/DeletePersonDirectoryPersonFace.json
  specification/cognitiveservices/data-plane/Face/preview/v1.0-preview/examples/UpdateDynamicPersonGroup.json
  specification/cognitiveservices/data-plane/Face/stable/v1.0/Face.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, FixS360

#14501 Update READMEs.
  specification/cognitiveservices/data-plane/ComputerVision/readme.md
  specification/cognitiveservices/data-plane/Personalizer/readme.md
  specification/cognitiveservices/data-plane/Personalizer/readme.python.md
  specification/servicefabric/data-plane/readme.python.md
Labels: CI-BreakingChange-Python

#14713 [Hub Generated] Removed Microsoft.AgFoodPlatform Event Grid Events
  specification/eventgrid/data-plane/Microsoft.AgFoodPlatform/stable/2018-01-01/AzureFarmBeats.json
  specification/eventgrid/data-plane/readme.md
Labels: CI-BreakingChange-Go

#14609 Update swagger for Azure Monitor metrics query
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-12-01-preview/metricNamespaces_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-01-01/metricDefinitions_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-01-01/metrics_API.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, NewApiVersionRequired

#14664 Add zoneRedundant and inbound IP properties to Microsoft.Web
  specification/web/resource-manager/Microsoft.Web/stable/2021-02-01/AppServiceEnvironments.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-02-01/AppServicePlans.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-02-01/CommonDefinitions.json
Labels: customer-reported

#14712 [NetAppFiles] 2021-04-01 fix, remove default from unixPermissions
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2021-04-01/netapp.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#14346 Added DW Gen3 SqlPool Pause and Resume swagger
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/examples/PostSqlPoolActivate.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/examples/PostSqlPoolDeactivate.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/sqlPool.json
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, NewApiVersionRequired, customer-reported

#14648 Move swagger from private repo to public repo
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2021-06-01-preview/azurearcdata.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2021-06-01-preview/examples/CreateOrUpdateDataController.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2021-06-01-preview/examples/CreateOrUpdatePostgresInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2021-06-01-preview/examples/CreateOrUpdateSqlManagedInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2021-06-01-preview/examples/CreateOrUpdateSqlServerInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2021-06-01-preview/examples/DeleteDataController.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2021-06-01-preview/examples/DeletePostgresInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2021-06-01-preview/examples/DeleteSqlManagedInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2021-06-01-preview/examples/DeleteSqlServerInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2021-06-01-preview/examples/GetDataController.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2021-06-01-preview/examples/GetPostgresInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2021-06-01-preview/examples/GetSqlManagedInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2021-06-01-preview/examples/GetSqlServerInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2021-06-01-preview/examples/ListByResourceGroupDataController.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2021-06-01-preview/examples/ListByResourceGroupPostgresInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2021-06-01-preview/examples/ListByResourceGroupSqlManagedInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2021-06-01-preview/examples/ListByResourceGroupSqlServerInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2021-06-01-preview/examples/ListOperation.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2021-06-01-preview/examples/ListSubscriptionDataController.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2021-06-01-preview/examples/ListSubscriptionPostgresInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2021-06-01-preview/examples/ListSubscriptionSqlManagedInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2021-06-01-preview/examples/ListSubscriptionSqlServerInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2021-06-01-preview/examples/UpdateDataController.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2021-06-01-preview/examples/UpdatePostgresInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2021-06-01-preview/examples/UpdateSqlManagedInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2021-06-01-preview/examples/UpdateSqlServerInstance.json
  specification/azurearcdata/resource-manager/readme.azureresourceschema.md
  specification/azurearcdata/resource-manager/readme.csharp.md
  specification/azurearcdata/resource-manager/readme.go.md
  specification/azurearcdata/resource-manager/readme.md
  specification/azurearcdata/resource-manager/readme.python.md
  specification/azurearcdata/resource-manager/readme.ruby.md
  specification/azurearcdata/resource-manager/readme.typescript.md
Labels: FixS360

#14707 update description of filter and metric names
  custom-words.txt
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-01-01/metrics_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-09-01/baseline_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-09-01/metricBaselines_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-03-01/metricBaselines_API.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#14637 Dhaiman aad flag added to la workspace
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-10-01/Workspaces.json
Labels: CI-BreakingChange-Go, NewApiVersionRequired, WaitForARMFeedback

#14137 [Hub Generated] Review request for Microsoft.KeyVault to add version preview/2021-04-01-preview
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/createVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/createVaultWithNetworkAcls.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/deleteVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/purgeDeletedVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/updateAccessPoliciesAdd.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/updateVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/keyvault.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, NewApiVersionRequired

#14656 2021-01-01 minor updates
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-01-01/peering.json
  specification/peering/resource-manager/readme.go.md
Labels: CI-BreakingChange-Python, FixS360

#14313 [Azure Cognitive Search][Resource Manager]: Add Swagger API for 2021-04-01-Preview API version
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/CreateOrUpdateSharedPrivateLinkResource.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/DeletePrivateEndpointConnection.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/DeleteSharedPrivateLinkResource.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/GetPrivateEndpointConnection.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/GetSharedPrivateLinkResource.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/ListPrivateEndpointConnectionsByService.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/ListSharedPrivateLinkResourcesByService.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/ListSupportedPrivateLinkResources.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/SearchCheckNameAvailability.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/SearchCreateOrUpdateService.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/SearchCreateOrUpdateServiceAuthOptions.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/SearchCreateOrUpdateServiceDisableLocalAuth.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/SearchCreateOrUpdateServiceToAllowAccessFromPrivateEndpoints.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/SearchCreateOrUpdateServiceToAllowAccessFromPublicCustomIPs.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/SearchCreateOrUpdateServiceWithCmkEnforcement.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/SearchCreateOrUpdateServiceWithDataExfiltration.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/SearchCreateOrUpdateServiceWithIdentity.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/SearchCreateOrUpdateWithSemanticSearch.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/SearchCreateQueryKey.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/SearchDeleteQueryKey.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/SearchDeleteService.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/SearchGetAdminKeys.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/SearchGetService.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/SearchListQueryKeysBySearchService.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/SearchListServicesByResourceGroup.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/SearchListServicesBySubscription.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/SearchRegenerateAdminKey.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/SearchUpdateService.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/SearchUpdateServiceAuthOptions.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/SearchUpdateServiceDisableLocalAuth.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/SearchUpdateServiceToAllowAccessFromPrivateEndpoints.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/SearchUpdateServiceToAllowAccessFromPublicCustomIPs.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/SearchUpdateServiceToRemoveIdentity.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/SearchUpdateServiceWithCmkEnforcement.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/SearchUpdateServiceWithDataExfiltration.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/SearchUpdateServiceWithSemanticSearch.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/examples/UpdatePrivateEndpointConnection.json
  specification/search/resource-manager/Microsoft.Search/preview/2021-04-01-preview/search.json
  specification/search/resource-manager/readme.go.md
  specification/search/resource-manager/readme.md
  specification/search/resource-manager/readme.ruby.md
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-FixRequiredOnFailure

#14709 [aks] java mgmt, add required JSONs
  specification/containerservice/resource-manager/readme.java.md
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#14472 [Hub Generated] Review request for Microsoft.AzureStack to add version preview/2020-06-01-preview
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/Registration.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/preview/2020-06-01-preview/examples/Registration/ListBySubscription.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2016-01-01/Registration.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2016-01-01/examples/Registration/ListBySubscription.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/Registration.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/examples/Registration/ListBySubscription.json
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, FixS360, NewApiVersionRequired

#14407 [StorageSync] Publish 2020-09-01 as stable API version
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/CloudEndpoints_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/CloudEndpoints_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/CloudEndpoints_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/CloudEndpoints_ListBySyncGroup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/CloudEndpoints_PostBackup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/CloudEndpoints_PostRestore.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/CloudEndpoints_PreBackup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/CloudEndpoints_PreRestore.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/CloudEndpoints_RestoreHeatbeat.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/CloudEndpoints_TriggerChangeDetection.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/OperationStatus_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/Operations_List.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/PrivateEndpointConnections_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/PrivateEndpointConnections_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/PrivateEndpointConnections_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/PrivateEndpointConnections_ListByStorageSyncService.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/PrivateLinkResources_List.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/RegisteredServers_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/RegisteredServers_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/RegisteredServers_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/RegisteredServers_ListByStorageSyncService.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/RegisteredServers_TriggerRollover.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/ServerEndpoints_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/ServerEndpoints_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/ServerEndpoints_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/ServerEndpoints_ListBySyncGroup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/ServerEndpoints_Recall.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/ServerEndpoints_Update.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/StorageSyncServiceCheckNameAvailability_AlreadyExists.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/StorageSyncServiceCheckNameAvailability_Available.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/StorageSyncServices_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/StorageSyncServices_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/StorageSyncServices_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/StorageSyncServices_ListByResourceGroup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/StorageSyncServices_ListBySubscription.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/StorageSyncServices_Update.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/SyncGroups_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/SyncGroups_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/SyncGroups_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/SyncGroups_ListByStorageSyncService.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/Workflows_Abort.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/Workflows_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/examples/Workflows_ListByStorageSyncService.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2020-09-01/storagesync.json
  specification/storagesync/resource-manager/readme.go.md
  specification/storagesync/resource-manager/readme.md
  specification/storagesync/resource-manager/readme.ruby.md
Labels: ARMSignedOff, CI-BreakingChange-Python

#14726 Added fpga gpu nodes size family
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-05-01/bigDataPool.json
Labels: CI-BreakingChange-Go

#14718 Force delete optional parameter for orchestrator resource
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/stable/2021-03-15/orchestrators.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, NewApiVersionRequired

#14659 refactoring EntityQueries - extracting common to EntityDefinitions
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/EntityDefinitions.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/EntityQueries.json
Labels: CI-BreakingChange-Go

#14746 Added support for optional user display name in typing notifications …
  specification/communication/data-plane/Chat/preview/2021-04-05-preview6/communicationserviceschat.json
  specification/communication/data-plane/Chat/preview/2021-04-05-preview6/examples/Messages_SendTypingNotification.json
Labels: NewApiVersionRequired

#14697 Resource group name fix
  specification/common-types/resource-management/v1/types.json
  specification/common-types/resource-management/v2/types.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#14756 [Hub Generated] Public private branch 'databricks-privatelink'
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2021-04-01-preview/databricks.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2021-04-01-preview/examples/ListPrivateEndpointConnections.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2021-04-01-preview/examples/ListPrivateLinkResources.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2021-04-01-preview/examples/OperationsList.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2021-04-01-preview/examples/PrivateEndpointConnectionsDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2021-04-01-preview/examples/PrivateEndpointConnectionsGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2021-04-01-preview/examples/PrivateEndpointConnectionsUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2021-04-01-preview/examples/PrivateLinkResourcesGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2021-04-01-preview/examples/WorkspaceGetParameters.json
  specification/databricks/resource-manager/readme.go.md
  specification/databricks/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired

#14773 fix missing type object issues
  specification/common-types/resource-management/v1/privatelinks.json
  specification/common-types/resource-management/v1/types.json
  specification/common-types/resource-management/v2/privatelinks.json
  specification/common-types/resource-management/v2/types.json
Labels: BreakingChangeReviewRequired

#14104 [Hub Generated] Review request for Microsoft.Insights to add version preview/2017-09-01-preview
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-09-01-preview/examples/GetMetric.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-09-01-preview/examples/GetMetricDefinitions.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-09-01-preview/examples/GetMetricMetadata.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-09-01-preview/examples/OperationList.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-09-01-preview/metricDefinitions_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-09-01-preview/metrics_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-09-01-preview/operations_API.json
  specification/monitor/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, FixS360

#14085 [Hub Generated] Review request for Microsoft.Insights to add version stable/2016-06-01
  specification/monitor/resource-manager/Microsoft.Insights/stable/2016-06-01/examples/GetMetric.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2016-06-01/examples/OperationList.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2016-06-01/metrics_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2016-06-01/operations_API.json
  specification/monitor/resource-manager/readme.md
Labels: Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, FixS360

#14082 [Hub Generated] Review request for Microsoft.Insights to add version stable/2019-07-01
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-07-01/examples/GetMetric.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-07-01/examples/GetMetricError.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-07-01/examples/GetMetricMetadata.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-07-01/examples/OperationList.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-07-01/metrics_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-07-01/operations_API.json
  specification/monitor/resource-manager/readme.md
Labels: Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, FixS360

#14599 Add alerts and recommendations resources
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-07-01-preview/alertTypes.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-07-01-preview/alerts.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-07-01-preview/examples/AlertTypes/GetAlertType.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-07-01-preview/examples/AlertTypes/GetAlertTypeList.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-07-01-preview/examples/Alerts/GetAlert.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-07-01-preview/examples/Alerts/GetAlertList.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-07-01-preview/examples/RecommendationTypes/GetRecommendationType.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-07-01-preview/examples/RecommendationTypes/GetRecommendationTypeList.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-07-01-preview/examples/Recommendations/GetRecommendation.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-07-01-preview/examples/Recommendations/GetRecommendationList.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-07-01-preview/recommendationTypes.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-07-01-preview/recommendations.json
  specification/iotsecurity/resource-manager/readme.md
Labels: ARMSignedOff, NewApiVersionRequired

#14757 Change the definition of StorageAccountType in VMSSManagedDiskParameters
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/compute.json
Labels: CI-BreakingChange-Go, Compute

#13988 Remove maxSizeBytes property from Synapse v3 database GET and PUT
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/examples/GetSqlDatabase.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/examples/ListSqlDatabasesByWorkspace.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/examples/PatchSqlDatabase.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/examples/PutSqlDatabase.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/sqlDatabase.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python

#14500 New SIP routing API version preview/2021-05-01-preview
  specification/communication/data-plane/SipRouting/preview/2021-05-01-preview/communicationservicessiprouting.json
  specification/communication/data-plane/SipRouting/preview/2021-05-01-preview/examples/GetSipConfiguration.json
  specification/communication/data-plane/SipRouting/preview/2021-05-01-preview/examples/PatchSipConfiguration.json
  specification/communication/data-plane/SipRouting/readme.csharp.md
  specification/communication/data-plane/SipRouting/readme.md
  specification/communication/data-plane/SipRouting/readme.python.md
  specification/communication/data-plane/SipRouting/readme.ruby.md
  specification/communication/data-plane/SipRouting/readme.typescript.md
Labels: ReviewRequested-AzureAPIStewardshipTeam

#14725 Add FSPG GA location capability API with geo backup and restore support
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/CapabilitiesByLocation.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/postgresql.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/CapabilitiesByLocation.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/postgresql.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, Reviewed-ChangesRequired

#14676 Security t2
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/applicationWhitelistings.json
  specification/security/resource-manager/readme.md
  specification/security/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#14590 SignalR new Api version 2021-06-01-preview
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/Operations_List.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/SignalRPrivateEndpointConnections_Delete.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/SignalRPrivateEndpointConnections_Get.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/SignalRPrivateEndpointConnections_List.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/SignalRPrivateEndpointConnections_Update.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/SignalRPrivateLinkResources_List.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/SignalRSharedPrivateLinkResources_CreateOrUpdate.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/SignalRSharedPrivateLinkResources_Delete.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/SignalRSharedPrivateLinkResources_Get.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/SignalRSharedPrivateLinkResources_List.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/SignalR_CheckNameAvailability.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/SignalR_CreateOrUpdate.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/SignalR_Delete.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/SignalR_Get.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/SignalR_ListByResourceGroup.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/SignalR_ListBySubscription.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/SignalR_ListKeys.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/SignalR_RegenerateKey.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/SignalR_Restart.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/SignalR_Update.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/Usages_List.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/signalr.json
  specification/signalr/resource-manager/readme.go.md
  specification/signalr/resource-manager/readme.java.md
  specification/signalr/resource-manager/readme.md
  specification/signalr/resource-manager/readme.ruby.md
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-BreakingChange-Python

#14744 Update ReplicationLinks.json in 2021-02-01-preview
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-02-01-preview/ReplicationLinks.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-02-01-preview/examples/ReplicationLinkGet.json
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, Approved-OkToMerge, Approved-SdkBreakingChange-Go, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, SQL

#14641 [Bug] - remove apiVersion from securityInsights common and targeting the ApiVersionParameter in the common-type
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/operations.json
  specification/securityinsights/resource-manager/common/1.0/types.json
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go

#14811 [datafactory] mgmt, java, fix swagger
  specification/datafactory/resource-manager/readme.java.md
Labels: CI-BreakingChange-Python-Track2

#14815 Devices ot fields
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/devices.json
Labels: Approved-BreakingChange, NewApiVersionRequired

#14452 Added missing updatable properties in ConfigurationStorePropertiesUpdateParameters
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2021-03-01-preview/appconfiguration.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, NewApiVersionRequired

#14769 fixed resource type definition for Microsoft.ApiManagement/service/apis/schemas
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/definitions.json
Labels: API Management, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#14789 Updating Swagger Correctness
  specification/windowsiot/resource-manager/Microsoft.WindowsIoT/stable/2019-06-01/WindowsIotServices.json
  specification/windowsiot/resource-manager/Microsoft.WindowsIoT/stable/2019-06-01/examples/OperationsList.json
  specification/windowsiot/resource-manager/readme.go.md
Labels: Approved-BreakingChange, CI-BreakingChange-Go, FixS360, NewApiVersionRequired

#14543 Adding Communication CallingServer API preview 0.
  custom-words.txt
  specification/communication/data-plane/CallingServer/preview/2021-06-15-preview/communicationservicescallingserver.json
  specification/communication/data-plane/CallingServer/preview/2021-06-15-preview/examples/CallConnections_AddParticipant.json
  specification/communication/data-plane/CallingServer/preview/2021-06-15-preview/examples/CallConnections_CancelAllMediaOperations.json
  specification/communication/data-plane/CallingServer/preview/2021-06-15-preview/examples/CallConnections_CreateCall.json
  specification/communication/data-plane/CallingServer/preview/2021-06-15-preview/examples/CallConnections_HangupCall.json
  specification/communication/data-plane/CallingServer/preview/2021-06-15-preview/examples/CallConnections_PlayAudio.json
  specification/communication/data-plane/CallingServer/preview/2021-06-15-preview/examples/CallConnections_RemoveParticipant.json
  specification/communication/data-plane/CallingServer/preview/2021-06-15-preview/examples/ServerCalls_AddParticipant.json
  specification/communication/data-plane/CallingServer/preview/2021-06-15-preview/examples/ServerCalls_GetRecordingProperties.json
  specification/communication/data-plane/CallingServer/preview/2021-06-15-preview/examples/ServerCalls_JoinCall.json
  specification/communication/data-plane/CallingServer/preview/2021-06-15-preview/examples/ServerCalls_PauseRecording.json
  specification/communication/data-plane/CallingServer/preview/2021-06-15-preview/examples/ServerCalls_PlayAudio.json
  specification/communication/data-plane/CallingServer/preview/2021-06-15-preview/examples/ServerCalls_RemoveParticipant.json
  specification/communication/data-plane/CallingServer/preview/2021-06-15-preview/examples/ServerCalls_ResumeRecording.json
  specification/communication/data-plane/CallingServer/preview/2021-06-15-preview/examples/ServerCalls_StartRecording.json
  specification/communication/data-plane/CallingServer/preview/2021-06-15-preview/examples/ServerCalls_StopRecording.json
  specification/communication/data-plane/CallingServer/readme.csharp.md
  specification/communication/data-plane/CallingServer/readme.md
Labels: ReviewRequested-AzureAPIStewardshipTeam

#14514 Update swagger for Azure Monitor logs query
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/preview/2021-05-19_Preview/OperationalInsights.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/preview/2021-05-19_Preview/examples/batch-query-example.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/preview/2021-05-19_Preview/examples/metadata-get.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/preview/2021-05-19_Preview/examples/metadata-post.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/preview/2021-05-19_Preview/examples/oms-get-cross-workspace-example.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/preview/2021-05-19_Preview/examples/oms-get-example.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/preview/2021-05-19_Preview/examples/oms-post-cross-workspace-example.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/preview/2021-05-19_Preview/examples/oms-post-example.json
  specification/operationalinsights/data-plane/readme.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, NewApiVersionRequired, WaitForARMFeedback

#14485 adding new api version 2021-05-01-preview
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/diagnosticsSettingsCategories_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/diagnosticsSettings_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/createOrUpdateDiagnosticSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/createOrUpdateManagementGroupDiagnosticSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/createOrUpdateSubscriptionDiagnosticSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/deleteDiagnosticSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/deleteManagementGroupDiagnosticSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/deleteSubscriptionDiagnosticSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/getDiagnosticSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/getDiagnosticSettingsCategory.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/getManagementGroupDiagnosticSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/getSubscriptionDiagnosticSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/listDiagnosticSettings.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/listDiagnosticSettingsCategories.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/listManagementGroupDiagnosticSettings.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/listSubscriptionDiagnosticSettings.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/managementGroupDiagnosticSettings_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/subscriptionDiagnosticsSettings_API.json
  specification/monitor/resource-manager/readme.md
  specification/monitor/resource-manager/readme.python.md
Labels: ARMSignedOff, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, customer-reported

#14841 add sql tag to readme.go.md
  specification/sql/resource-manager/readme.go.md
Labels: Approved-SdkBreakingChange-Go, CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, SQL

#14766 Create "2021-06-01-preview" api-version for Azure Attestation service (private endpoint required changes)
  specification/attestation/resource-manager/Microsoft.Attestation/preview/2021-06-01-preview/attestation.json
  specification/attestation/resource-manager/Microsoft.Attestation/preview/2021-06-01-preview/examples/AttestationProviderDeletePrivateEndpointConnection.json
  specification/attestation/resource-manager/Microsoft.Attestation/preview/2021-06-01-preview/examples/AttestationProviderGetPrivateEndpointConnection.json
  specification/attestation/resource-manager/Microsoft.Attestation/preview/2021-06-01-preview/examples/AttestationProviderListPrivateEndpointConnections.json
  specification/attestation/resource-manager/Microsoft.Attestation/preview/2021-06-01-preview/examples/AttestationProviderListPrivateLinkResources.json
  specification/attestation/resource-manager/Microsoft.Attestation/preview/2021-06-01-preview/examples/AttestationProviderPutPrivateEndpointConnection.json
  specification/attestation/resource-manager/Microsoft.Attestation/preview/2021-06-01-preview/examples/Create_AttestationProvider.json
  specification/attestation/resource-manager/Microsoft.Attestation/preview/2021-06-01-preview/examples/Delete_AttestationProvider.json
  specification/attestation/resource-manager/Microsoft.Attestation/preview/2021-06-01-preview/examples/Get_AttestationProvider.json
  specification/attestation/resource-manager/Microsoft.Attestation/preview/2021-06-01-preview/examples/Get_AttestationProvidersList.json
  specification/attestation/resource-manager/Microsoft.Attestation/preview/2021-06-01-preview/examples/Get_AttestationProvidersListByResourceGroup.json
  specification/attestation/resource-manager/Microsoft.Attestation/preview/2021-06-01-preview/examples/Get_DefaultProviderByLocation.json
  specification/attestation/resource-manager/Microsoft.Attestation/preview/2021-06-01-preview/examples/Get_DefaultProviders.json
  specification/attestation/resource-manager/Microsoft.Attestation/preview/2021-06-01-preview/examples/Operations_List.json
  specification/attestation/resource-manager/Microsoft.Attestation/preview/2021-06-01-preview/examples/Update_AttestationProvider.json
  specification/attestation/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#14662 [Private Link] Private Endpoint Ipconfigurations swagger for 2021-03-01
  specification/network/resource-manager/Microsoft.Network/stable/2021-03-01/examples/PrivateEndpointCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-03-01/examples/PrivateEndpointCreateForManualApproval.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-03-01/examples/PrivateEndpointGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-03-01/examples/PrivateEndpointGetForManualApproval.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-03-01/examples/PrivateEndpointList.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-03-01/examples/PrivateEndpointListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-03-01/privateEndpoint.json
Labels: CI-BreakingChange-Go, Network

#14542 Update Azure Monitor readme.{go/python}.md with the latest specs
  specification/monitor/resource-manager/Microsoft.Insights/stable/2021-04-01/dataCollectionEndpoints_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2021-04-01/dataCollectionRuleAssociations_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2021-04-01/dataCollectionRules_API.json
  specification/monitor/resource-manager/readme.csharp.md
  specification/monitor/resource-manager/readme.go.md
  specification/monitor/resource-manager/readme.md
  specification/monitor/resource-manager/readme.python.md
Labels: BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#14602 Add Browse API to Purview.Catalog
  specification/purview/data-plane/Azure.Analytics.Purview.Catalog/preview/2021-05-01-preview/examples/Discovery_Browse_EntityType.json
  specification/purview/data-plane/Azure.Analytics.Purview.Catalog/preview/2021-05-01-preview/examples/Discovery_Browse_Path.json
  specification/purview/data-plane/Azure.Analytics.Purview.Catalog/preview/2021-05-01-preview/purviewcatalog.json
Labels: NewApiVersionRequired

#14581 Fix example errors
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2020-09-01/examples/Devices_CreateOrUpdateGroup.json
Labels: CI-BreakingChange-Python

#14636 [Hub Generated] Review request for Microsoft.EventGrid to add version stable/2018-01-01
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/AzureCommunicationServices.json
Labels: CI-BreakingChange-Go

#14480 Add new api version for Microsoft.AzureStackHCI
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-01-01-preview/arcSettings.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-01-01-preview/clusters.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-01-01-preview/examples/CreateCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-01-01-preview/examples/DeleteArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-01-01-preview/examples/DeleteCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-01-01-preview/examples/DeleteExtension.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-01-01-preview/examples/GetArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-01-01-preview/examples/GetCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-01-01-preview/examples/GetExtension.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-01-01-preview/examples/ListArcSettingsByCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-01-01-preview/examples/ListClustersByResourceGroup.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-01-01-preview/examples/ListClustersBySubscription.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-01-01-preview/examples/ListExtensionsByArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-01-01-preview/examples/PatchExtension.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-01-01-preview/examples/PutArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-01-01-preview/examples/PutExtension.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-01-01-preview/examples/UpdateCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-01-01-preview/extensions.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-01-01-preview/operations.json
  specification/azurestackhci/resource-manager/readme.md
Labels: ARMSignedOff, Approved-OkToMerge, CI-BreakingChange-Python-Track2

#14863 [resources] delete useless track1 configuration for python
  specification/resources/resource-manager/readme.md
  specification/resources/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go

#14861 Eventhub t1 del
  specification/eventgrid/resource-manager/readme.md
  specification/eventgrid/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#13623 Quota API extension model for Quota RP (New RP providing Capacity RP's quota APIs as ARM extension)
  specification/quota/resource-manager/Microsoft.Quota/preview/2021-03-15-preview/examples/GetOperations.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2021-03-15-preview/examples/getComputeOneSkuUsages.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2021-03-15-preview/examples/getComputeUsages.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2021-03-15-preview/examples/getMachineLearningServicesUsages.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2021-03-15-preview/examples/getQuotaRequestStatusById.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2021-03-15-preview/examples/getQuotaRequestStatusFailed.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2021-03-15-preview/examples/getQuotaRequestStatusInProgress.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2021-03-15-preview/examples/getQuotaRequestsHistory.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2021-03-15-preview/examples/metadata/getQuotaRPMetadata.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2021-03-15-preview/examples/patchComputeQuotaRequest.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2021-03-15-preview/examples/putComputeOneSkuQuotaRequest.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2021-03-15-preview/examples/putMachineLearningServicesQuotaRequestDedicated.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2021-03-15-preview/examples/putMachineLearningServicesQuotaRequestLowPriority.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2021-03-15-preview/quota.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2021-03-15/examples/GetOperations.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2021-03-15/examples/getComputeOneSkuUsages.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2021-03-15/examples/getComputeUsages.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2021-03-15/examples/getMachineLearningServicesUsages.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2021-03-15/examples/getQuotaRequestStatusById.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2021-03-15/examples/getQuotaRequestStatusFailed.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2021-03-15/examples/getQuotaRequestStatusInProgress.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2021-03-15/examples/getQuotaRequestsHistory.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2021-03-15/examples/metadata/getQuotaRPMetadata.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2021-03-15/examples/patchComputeQuotaRequest.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2021-03-15/examples/putComputeOneSkuQuotaRequest.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2021-03-15/examples/putMachineLearningServicesQuotaRequestDedicated.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2021-03-15/examples/putMachineLearningServicesQuotaRequestLowPriority.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2021-03-15/quota.json
  specification/quota/resource-manager/readme.az.md
  specification/quota/resource-manager/readme.azureresourceschema.md
  specification/quota/resource-manager/readme.cli.md
  specification/quota/resource-manager/readme.go.md
  specification/quota/resource-manager/readme.java.md
  specification/quota/resource-manager/readme.md
  specification/quota/resource-manager/readme.nodejs.md
  specification/quota/resource-manager/readme.python.md
  specification/quota/resource-manager/readme.ruby.md
  specification/quota/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#14884 Servicebus t1 del
  specification/servicebus/resource-manager/readme.md
  specification/servicebus/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2

#14893 Added 'required' property for some of the types
  specification/communication/data-plane/CallingServer/preview/2021-06-15-preview/communicationservicescallingserver.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#14227 Add 202 response to LinkedServices
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-08-01/LinkedServices.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-08-01/examples/LinkedServicesCreate.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-08-01/examples/LinkedServicesDelete.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-10-01/Clusters.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-10-01/examples/ClustersDelete.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#14770 [DataFacory]Update avroCompressionCodec and orcCompressionCodec from string to object
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#14716 [Hub Generated] Review request for Microsoft.Insights to add version stable/2018-01-01
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/metrics_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-01-01/examples/GetMetricDefinitions.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-01-01/examples/GetMetricDefinitionsMetricClass.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-01-01/examples/GetMetricError.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-01-01/metricDefinitions_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-01-01/metrics_API.json
  specification/monitor/resource-manager/readme.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, FixS360, NewApiVersionRequired

#14797 [Hub Generated] Review request for Microsoft.HybridCompute to add version preview/2021-06-10-preview
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/HybridCompute.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/examples/DELETEExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/examples/Extensions_Upgrade.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/examples/GETExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/examples/LISTExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/examples/Machines_CreateOrUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/examples/Machines_Delete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/examples/Machines_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/examples/Machines_ListByResourceGroup.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/examples/Machines_ListBySubscription.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/examples/Machines_Update.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/examples/PUTExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/examples/PrivateEndpointConnectionDelete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/examples/PrivateEndpointConnectionGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/examples/PrivateEndpointConnectionList.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/examples/PrivateEndpointConnectionUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/examples/PrivateLinkScopePrivateLinkResourceGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/examples/PrivateLinkScopePrivateLinkResourceListGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/examples/PrivateLinkScopesCreate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/examples/PrivateLinkScopesDelete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/examples/PrivateLinkScopesGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/examples/PrivateLinkScopesGetValidation.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/examples/PrivateLinkScopesGetValidationForMachine.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/examples/PrivateLinkScopesList.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/examples/PrivateLinkScopesListByResourceGroup.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/examples/PrivateLinkScopesUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/examples/PrivateLinkScopesUpdateTagsOnly.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/examples/UpdateExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2021-06-10-preview/privateLinkScopes.json
  specification/hybridcompute/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python

#14782 Fix PublicIP Sku property names
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/examples/CreateAVmWithNetworkInterfaceConfiguration.json
Labels: Approved-BreakingChange, Approved-SdkBreakingChange-Go, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, Compute, NewApiVersionRequired

#14868 Webpubsub 2021-06-01-preview
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/Operations_List.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/Usages_List.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/WebPubSubPrivateEndpointConnections_Delete.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/WebPubSubPrivateEndpointConnections_Get.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/WebPubSubPrivateEndpointConnections_List.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/WebPubSubPrivateEndpointConnections_Update.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/WebPubSubPrivateLinkResources_List.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/WebPubSubSharedPrivateLinkResources_CreateOrUpdate.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/WebPubSubSharedPrivateLinkResources_Delete.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/WebPubSubSharedPrivateLinkResources_Get.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/WebPubSubSharedPrivateLinkResources_List.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/WebPubSub_CheckNameAvailability.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/WebPubSub_CreateOrUpdate.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/WebPubSub_Delete.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/WebPubSub_Get.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/WebPubSub_ListByResourceGroup.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/WebPubSub_ListBySubscription.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/WebPubSub_ListKeys.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/WebPubSub_RegenerateKey.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/WebPubSub_Restart.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/WebPubSub_Update.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/webpubsub.json
  specification/webpubsub/resource-manager/readme.go.md
  specification/webpubsub/resource-manager/readme.java.md
  specification/webpubsub/resource-manager/readme.md
  specification/webpubsub/resource-manager/readme.ruby.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2

#14714 Adding iperf APIs
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/IntelligentPerformance.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/QueryPerformanceInsights.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/AdvisorsGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/AdvisorsListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/QueryPerformanceInsightResetData.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/QueryTextsGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/QueryTextsListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/RecommendedActionsListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/TopQueryStatisticsListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/WaitStatisticsListByServer.json
  specification/postgresql/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, NewApiVersionRequired

#14763 Added FPGA and GPU Node type family for all stable versions
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-04-01-preview/bigDataPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2020-12-01/bigDataPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-03-01/bigDataPool.json
Labels: CI-BreakingChange-Go, Synapses

#14883 Add schema definition fix from 2021-01-01-preview to 2021-04-01-preview
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-04-01-preview/definitions.json
Labels: API Management, CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#14658 Updating Agreements.json to comply with S360 alerts
  specification/marketplaceordering/resource-manager/Microsoft.MarketplaceOrdering/stable/2015-06-01/Agreements.json
  specification/marketplaceordering/resource-manager/Microsoft.MarketplaceOrdering/stable/2015-06-01/examples/CancelMarketplaceTerms.json
  specification/marketplaceordering/resource-manager/Microsoft.MarketplaceOrdering/stable/2015-06-01/examples/GetAgreementMarketplaceTerms.json
  specification/marketplaceordering/resource-manager/Microsoft.MarketplaceOrdering/stable/2015-06-01/examples/ListMarketplaceTerms.json
  specification/marketplaceordering/resource-manager/Microsoft.MarketplaceOrdering/stable/2015-06-01/examples/SignMarketplaceTerms.json
Labels: Approved-BreakingChange, Approved-LintDiff, BreakingChangeReviewRequired, CI-BreakingChange-Go, NewApiVersionRequired, Reviewed-ChangesRequired

#14890 add Go SDK track 2 information to authorization RP
  specification/authorization/resource-manager/readme.go.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python

#14869 fix api tag
  specification/signalr/resource-manager/readme.md
Labels: CI-BreakingChange-Python

#14692 Add SpotRestorePolicy to CRP's VM Scale Set Resource
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-04-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-04-01/examples/CreateAScaleSetWithSpotRestorePolicy.json
Labels: CI-BreakingChange-Go, Compute

#14875 Removed flatten workspace features for .NET SDK generation
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-08-01/SavedSearches.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-10-01/Workspaces.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#14765 [Hub Generated] Review request for Microsoft.ResourceGraph to add version preview/2021-06-01-preview
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2021-06-01-preview/examples/OperationsList.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2021-06-01-preview/examples/ResourcesBasicQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2021-06-01-preview/examples/ResourcesComplexQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2021-06-01-preview/examples/ResourcesFacetQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2021-06-01-preview/examples/ResourcesFilterQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2021-06-01-preview/examples/ResourcesFirstPageQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2021-06-01-preview/examples/ResourcesHistoryGet.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2021-06-01-preview/examples/ResourcesHistoryMgsGet.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2021-06-01-preview/examples/ResourcesMgBasicQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2021-06-01-preview/examples/ResourcesNextPageQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2021-06-01-preview/examples/ResourcesPropertiesQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2021-06-01-preview/examples/ResourcesRandomPageQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2021-06-01-preview/examples/ResourcesSummarizeQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2021-06-01-preview/examples/ResourcesTenantBasicQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2021-06-01-preview/resourcegraph.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2021-06-01-preview/resourceshistory.json
  specification/resourcegraph/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#14374 Add Security Settings new API version supporting AlertSyncSettings
  specification/security/resource-manager/Microsoft.Security/stable/2021-06-01/examples/Settings/GetSetting_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2021-06-01/examples/Settings/GetSettings_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2021-06-01/examples/Settings/UpdateSetting_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2021-06-01/settings.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, Approved-SdkBreakingChange-Go, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python

#13993 Remove all APIs from PREVIEW RP Microsoft.IotSpaces
  specification/iotspaces/resource-manager/Microsoft.IoTSpaces/preview/2017-10-01-preview/examples/IoTSpacesCheckNameAvailability_example.json
  specification/iotspaces/resource-manager/Microsoft.IoTSpaces/preview/2017-10-01-preview/examples/IoTSpacesDelete_example.json
  specification/iotspaces/resource-manager/Microsoft.IoTSpaces/preview/2017-10-01-preview/examples/IoTSpacesGet_example.json
  specification/iotspaces/resource-manager/Microsoft.IoTSpaces/preview/2017-10-01-preview/examples/IoTSpacesListByResourceGroup_example.json
  specification/iotspaces/resource-manager/Microsoft.IoTSpaces/preview/2017-10-01-preview/examples/IoTSpacesList_example.json
  specification/iotspaces/resource-manager/Microsoft.IoTSpaces/preview/2017-10-01-preview/examples/IoTSpacesOperationsList_example.json
  specification/iotspaces/resource-manager/Microsoft.IoTSpaces/preview/2017-10-01-preview/examples/IoTSpacesPatch_example.json
  specification/iotspaces/resource-manager/Microsoft.IoTSpaces/preview/2017-10-01-preview/examples/IoTSpacesPut_example.json
  specification/iotspaces/resource-manager/Microsoft.IoTSpaces/preview/2017-10-01-preview/iotspaces.json
Labels: ARMSignedOff, Approved-BreakingChange, Approved-LintDiff, BreakingChangeReviewRequired, CI-BreakingChange-Go

#14838 [Service Fabric] adding api version 2021-06-01
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/application.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/cluster.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ApplicationDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ApplicationGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ApplicationListOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ApplicationPatchOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ApplicationPutOperation_example_max.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ApplicationPutOperation_example_min.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ApplicationTypeNameDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ApplicationTypeNameGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ApplicationTypeNameListOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ApplicationTypeNamePutOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ApplicationTypeVersionDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ApplicationTypeVersionGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ApplicationTypeVersionListOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ApplicationTypeVersionPutOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ClusterDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ClusterGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ClusterListByResourceGroupOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ClusterListOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ClusterPatchOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ClusterPutOperation_example_max.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ClusterPutOperation_example_min.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ClusterVersionsGetByEnvironment_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ClusterVersionsGet_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ClusterVersionsListByEnvironment.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ClusterVersionsList_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ListUpgradableVersionsMinMax_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ListUpgradableVersionsPath_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ServiceDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ServiceGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ServiceListOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ServicePatchOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ServicePutOperation_example_max.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/examples/ServicePutOperation_example_min.json
  specification/servicefabric/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#14920 [rdbms] Update readme.python.md
  specification/postgresql/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2

#14948 Add missing properties of ServiceEndpointPolicy
  specification/network/resource-manager/Microsoft.Network/stable/2021-03-01/serviceEndpointPolicy.json
Labels: CI-BreakingChange-Go, Network, NewApiVersionRequired

#14640 Changed modelAsString for SecurityType param in Microsoft.Compute spec to true
  specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/compute.json
Labels: CI-BreakingChange-Go, Compute

#14951 Updating default api version with 2021-04-01-preview version
  specification/hybridkubernetes/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2

#14942 Dev monitor microsoft.insights 2021 02 01 preview custom properties
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-02-01-preview/examples/createOrUpdateScheduledQueryRule.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-02-01-preview/examples/createOrUpdateScheduledQueryRuleResourceGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-02-01-preview/examples/createOrUpdateScheduledQueryRuleSubscription.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-02-01-preview/examples/getScheduledQueryRule.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-02-01-preview/examples/listScheduledQueryRulesByResourceGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-02-01-preview/examples/listScheduledQueryRulesBySubscription.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-02-01-preview/examples/patchScheduledQueryRule.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-02-01-preview/scheduledQueryRule_API.json
  specification/monitor/resource-manager/readme.md
Labels: Approved-BreakingChange, Approved-LintDiff, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, NewApiVersionRequired

#14858 FixS360 | Microsoft.Billing
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/billing.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, FixS360, NewApiVersionRequired

#14968 [python] readme.python.md configuration for `monitor` and `network`
  specification/monitor/resource-manager/readme.md
  specification/monitor/resource-manager/readme.python.md
  specification/network/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#14967 add tag to readme.go.md
  specification/azurestackhci/resource-manager/readme.go.md
  specification/cosmos-db/resource-manager/readme.go.md
Labels: CI-BreakingChange-Go

#14758 Modify Swagger to fix the problem of automatically generating ugly names in track 2
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2021-07-01/managedClusters.json
  specification/containerservice/resource-manager/readme.go.md
  specification/containerservice/resource-manager/readme.java.md
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#15000 [python] track2 config for alertsmanagement,applicationinsights,attestation,batch,cost-managemen…
  specification/alertsmanagement/resource-manager/readme.md
  specification/alertsmanagement/resource-manager/readme.python.md
  specification/applicationinsights/resource-manager/readme.md
  specification/applicationinsights/resource-manager/readme.python.md
  specification/attestation/resource-manager/readme.md
  specification/attestation/resource-manager/readme.python.md
  specification/batch/resource-manager/readme.md
  specification/batch/resource-manager/readme.python.md
  specification/cost-management/resource-manager/readme.md
  specification/cost-management/resource-manager/readme.python.md
  specification/databox/resource-manager/readme.md
  specification/databox/resource-manager/readme.python.md
  specification/netapp/resource-manager/readme.md
  specification/netapp/resource-manager/readme.python.md
  specification/search/resource-manager/readme.md
  specification/synapse/resource-manager/readme.md
  specification/synapse/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#14958 add new service tag details api
  custom-words.txt
  specification/network/resource-manager/Microsoft.Network/stable/2021-03-01/examples/ServiceTagInformationListResult.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-03-01/examples/ServiceTagInformationListResultWithNoAddressPrefixes.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-03-01/examples/ServiceTagInformationListResultWithTagname.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-03-01/serviceTags.json
Labels: CI-BreakingChange-Go

#14909 [DataBox] Bump the api version to add new values for enums for JobStageStatus
  cSpell.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-05-01/databox.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-05-01/examples/AvailableSkusPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-05-01/examples/BookShipmentPickupPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-05-01/examples/JobMitigate.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-05-01/examples/JobsCancelPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-05-01/examples/JobsCreate.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-05-01/examples/JobsCreateDevicePassword.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-05-01/examples/JobsCreateDoubleEncryption.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-05-01/examples/JobsCreateExport.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-05-01/examples/JobsCreateWithUserAssignedIdentity.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-05-01/examples/JobsDelete.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-05-01/examples/JobsGet.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-05-01/examples/JobsGetCmk.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-05-01/examples/JobsGetCopyStuck.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-05-01/examples/JobsGetExport.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-05-01/examples/JobsGetWaitingForAction.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-05-01/examples/JobsList.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-05-01/examples/JobsListByResourceGroup.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-05-01/examples/JobsListCredentials.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-05-01/examples/JobsPatch.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-05-01/examples/JobsPatchCmk.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-05-01/examples/JobsPatchSystemAssignedToUserAssigned.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-05-01/examples/OperationsGet.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-05-01/examples/RegionConfiguration.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-05-01/examples/RegionConfigurationByResourceGroup.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-05-01/examples/ValidateAddressPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-05-01/examples/ValidateInputs.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-05-01/examples/ValidateInputsByResourceGroup.json
  specification/databox/resource-manager/readme.cli.md
  specification/databox/resource-manager/readme.go.md
  specification/databox/resource-manager/readme.java.md
  specification/databox/resource-manager/readme.md
  specification/databox/resource-manager/readme.python.md
  specification/databox/resource-manager/readme.ruby.md
Labels: ARMSignedOff, Approved-SdkBreakingChange-Go, CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#14790 Add Load distribution policy and global configuration to AppGW
  specification/network/resource-manager/Microsoft.Network/stable/2021-03-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-03-01/examples/ApplicationGatewayCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-03-01/examples/ApplicationGatewayGet.json
Labels: CI-BreakingChange-Go, Network, Reviewed-ChangesRequired

#15001 [python]track2 config
  specification/appplatform/resource-manager/readme.md
  specification/appplatform/resource-manager/readme.python.md
  specification/azurestack/resource-manager/readme.md
  specification/azurestack/resource-manager/readme.python.md
  specification/customproviders/resource-manager/readme.md
  specification/customproviders/resource-manager/readme.python.md
  specification/datamigration/resource-manager/readme.python.md
  specification/datashare/resource-manager/readme.md
  specification/datashare/resource-manager/readme.python.md
  specification/dns/resource-manager/readme.md
  specification/dns/resource-manager/readme.python.md
  specification/frontdoor/resource-manager/readme.md
  specification/frontdoor/resource-manager/readme.python.md
  specification/hanaonazure/resource-manager/readme.md
  specification/hanaonazure/resource-manager/readme.python.md
  specification/healthcareapis/resource-manager/readme.md
  specification/healthcareapis/resource-manager/readme.python.md
  specification/hybridcompute/resource-manager/readme.md
  specification/hybridcompute/resource-manager/readme.python.md
  specification/labservices/resource-manager/readme.md
  specification/labservices/resource-manager/readme.python.md
  specification/maintenance/resource-manager/readme.md
  specification/maintenance/resource-manager/readme.python.md
  specification/powerbidedicated/resource-manager/readme.md
  specification/powerbidedicated/resource-manager/readme.python.md
  specification/privatedns/resource-manager/readme.md
  specification/privatedns/resource-manager/readme.python.md
  specification/storagesync/resource-manager/readme.md
  specification/storagesync/resource-manager/readme.python.md
  specification/support/resource-manager/readme.md
  specification/support/resource-manager/readme.python.md
  specification/timeseriesinsights/resource-manager/readme.md
  specification/timeseriesinsights/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2

#14998 Microsoft.Insights - Fix .NET SDK generation
  specification/monitor/resource-manager/readme.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#14985 [PostgreSQL] Flexible server typescript readme file update
  specification/postgresql/resource-manager/readme.typescript.md
Labels: CI-BreakingChange-Python-Track2

#14914 [DataFactory] Add properties pipelineName and pipelineRunId to PipelineRunInvokedBy definition
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json
Labels: Approved-BreakingChange, Approved-SdkBreakingChange-Go, CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, NewApiVersionRequired

#14290 [AzureStack] [Admin API] ACR Admin swagger spec changes
  specification/azsadmin/resource-manager/containerregistry/Microsoft.ContainerRegistry.Admin/preview/2019-11-01-preview/capacity.json
  specification/azsadmin/resource-manager/containerregistry/Microsoft.ContainerRegistry.Admin/preview/2019-11-01-preview/configuration.json
  specification/azsadmin/resource-manager/containerregistry/Microsoft.ContainerRegistry.Admin/preview/2019-11-01-preview/examples/Configuration/DeleteConfiguration.json
  specification/azsadmin/resource-manager/containerregistry/Microsoft.ContainerRegistry.Admin/preview/2019-11-01-preview/examples/Configuration/GetCapacity.json
  specification/azsadmin/resource-manager/containerregistry/Microsoft.ContainerRegistry.Admin/preview/2019-11-01-preview/examples/Configuration/GetConfiguration.json
  specification/azsadmin/resource-manager/containerregistry/Microsoft.ContainerRegistry.Admin/preview/2019-11-01-preview/examples/Configuration/ListCapacity.json
  specification/azsadmin/resource-manager/containerregistry/Microsoft.ContainerRegistry.Admin/preview/2019-11-01-preview/examples/Configuration/ListConfiguration.json
  specification/azsadmin/resource-manager/containerregistry/Microsoft.ContainerRegistry.Admin/preview/2019-11-01-preview/examples/Configuration/PutConfiguration.json
  specification/azsadmin/resource-manager/containerregistry/Microsoft.ContainerRegistry.Admin/preview/2019-11-01-preview/examples/Operations/List.json
  specification/azsadmin/resource-manager/containerregistry/Microsoft.ContainerRegistry.Admin/preview/2019-11-01-preview/examples/Quotas/CreateOrUpdate.json
  specification/azsadmin/resource-manager/containerregistry/Microsoft.ContainerRegistry.Admin/preview/2019-11-01-preview/examples/Quotas/Delete.json
  specification/azsadmin/resource-manager/containerregistry/Microsoft.ContainerRegistry.Admin/preview/2019-11-01-preview/examples/Quotas/Get.json
  specification/azsadmin/resource-manager/containerregistry/Microsoft.ContainerRegistry.Admin/preview/2019-11-01-preview/examples/Quotas/List.json
  specification/azsadmin/resource-manager/containerregistry/Microsoft.ContainerRegistry.Admin/preview/2019-11-01-preview/examples/Setup/Get.json
  specification/azsadmin/resource-manager/containerregistry/Microsoft.ContainerRegistry.Admin/preview/2019-11-01-preview/examples/Setup/Start.json
  specification/azsadmin/resource-manager/containerregistry/Microsoft.ContainerRegistry.Admin/preview/2019-11-01-preview/examples/registries/List.json
  specification/azsadmin/resource-manager/containerregistry/Microsoft.ContainerRegistry.Admin/preview/2019-11-01-preview/operations.json
  specification/azsadmin/resource-manager/containerregistry/Microsoft.ContainerRegistry.Admin/preview/2019-11-01-preview/quotas.json
  specification/azsadmin/resource-manager/containerregistry/Microsoft.ContainerRegistry.Admin/preview/2019-11-01-preview/registries.json
  specification/azsadmin/resource-manager/containerregistry/Microsoft.ContainerRegistry.Admin/preview/2019-11-01-preview/setup.json
  specification/azsadmin/resource-manager/containerregistry/readme.azsautogen.md
  specification/azsadmin/resource-manager/containerregistry/readme.md
Labels: ARMChangesRequested

#14988 Add new parameter sshPublicKey to network virtual appliance
  specification/network/resource-manager/Microsoft.Network/stable/2021-03-01/networkVirtualAppliance.json
Labels: CI-BreakingChange-Go, Network

#15012 Update SecurityInsights metadata preview API
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/Metadata.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/examples/metadata/GetAllMetadata.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/examples/metadata/GetAllMetadataOData.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/examples/metadata/GetMetadata.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/examples/metadata/PatchMetadata.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/examples/metadata/PutMetadata.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/examples/metadata/PutMetadataMinimal.json
Labels: BreakingChangeReviewRequired, CI-BreakingChange-Go, FixS360

#15019 [monitor] readme, limit the ResourceGroupNameParameter directive to package-2021-04
  specification/monitor/resource-manager/readme.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#14839 [Synapse] - Update sql pool v3 specs
  specification/synapse/common/v1/types.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/operations.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/sqlDatabase.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2020-04-01-preview/sqlPool.json
Labels: Approved-Avocado, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, NewApiVersionRequired, Synapses

#15022 Gotagapimana
  specification/apimanagement/resource-manager/readme.go.md
Labels: API Management, CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2

#14919 New search 2021-04-30-preview dataplane version
  custom-words.txt
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchIndexAutocompleteDocumentsGet.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchIndexAutocompleteDocumentsPost.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchIndexCountDocuments.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchIndexGetDocument.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchIndexIndexDocuments.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchIndexSearchDocumentsGet.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchIndexSearchDocumentsPost.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchIndexSuggestDocumentsGet.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchIndexSuggestDocumentsPost.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceCreateDataSource.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceCreateIndex.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceCreateIndexer.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceCreateOrUpdateDataSource.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceCreateOrUpdateIndex.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceCreateOrUpdateIndexer.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceCreateOrUpdateSkillset.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceCreateOrUpdateSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceCreateSkillset.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceCreateSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceDeleteDataSource.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceDeleteIndex.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceDeleteIndexer.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceDeleteSkillset.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceDeleteSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceGetDataSource.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceGetIndex.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceGetIndexStatistics.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceGetIndexer.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceGetIndexerStatus.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceGetServiceStatistics.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceGetSkillset.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceGetSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceIndexAnalyze.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceListDataSources.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceListIndexers.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceListIndexes.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceListSkillsets.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceListSynonymMaps.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceResetIndexer.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/examples/SearchServiceRunIndexer.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/searchindex.json
  specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/searchservice.json
  specification/search/data-plane/Azure.Search/readme.md
Labels: NewApiVersionRequired

#14703 Peering api 2021-06-01
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/CheckServiceProviderAvailability.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/CreateDirectPeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/CreateExchangePeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/CreateOrUpdateConnectionMonitorTest.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/CreatePeerAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/CreatePeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/CreatePeeringServicePrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/CreatePeeringWithExchangeRouteServer.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/CreateRegisteredAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/CreateRegisteredPrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/DeleteConnectionMonitorTest.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/DeletePeerAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/DeletePeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/DeletePeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/DeletePeeringServicePrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/DeleteRegisteredAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/DeleteRegisteredPrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/GetConnectionMonitorTest.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/GetPeerAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/GetPeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/GetPeeringReceivedRoutes.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/GetPeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/GetPeeringServicePrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/GetRegisteredAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/GetRegisteredPrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/InitializeConnectionMonitor.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/ListCdnPeeringPrefixes.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/ListConnectionMonitorTestsByPeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/ListDirectPeeringLocations.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/ListExchangePeeringLocations.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/ListLegacyPeerings.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/ListPeerAsnsBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/ListPeeringOperations.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/ListPeeringServiceCountriesBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/ListPeeringServiceLocationsBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/ListPeeringServiceProviders.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/ListPeeringServicesByResourceGroup.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/ListPeeringServicesBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/ListPeeringsByResourceGroup.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/ListPeeringsBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/ListPrefixesByPeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/ListRegisteredAsnsByPeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/ListRegisteredPrefixesByPeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/LookingGlassInvokeCommand.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/UpdatePeeringServiceTags.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/examples/UpdatePeeringTags.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2021-06-01/peering.json
  specification/peering/resource-manager/readme.go.md
  specification/peering/resource-manager/readme.java.md
  specification/peering/resource-manager/readme.md
  specification/peering/resource-manager/readme.ruby.md
Labels: ARMSignedOff, CI-BreakingChange-Python

#14588 Introduce go SDK track 2 configurations for monitor
  specification/monitor/resource-manager/readme.go.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2

#14992 moving swagger to stable
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2020-07-01/elastic.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2020-07-01/examples/DeploymentInfo_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2020-07-01/examples/MonitoredResources_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2020-07-01/examples/Monitors_Create.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2020-07-01/examples/Monitors_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2020-07-01/examples/Monitors_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2020-07-01/examples/Monitors_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2020-07-01/examples/Monitors_ListByResourceGroup.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2020-07-01/examples/Monitors_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2020-07-01/examples/Operations_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2020-07-01/examples/TagRules_CreateOrUpdate.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2020-07-01/examples/TagRules_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2020-07-01/examples/TagRules_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2020-07-01/examples/TagRules_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2020-07-01/examples/VMCollection_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2020-07-01/examples/VMHost_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2020-07-01/examples/VMIngestion_Details.json
  specification/elastic/resource-manager/readme.go.md
  specification/elastic/resource-manager/readme.md
Labels: ARMSignedOff

#14933 [Hub Generated] Review request for Microsoft.Insights to add version preview/2017-12-01-preview
  specification/monitor/resource-manager/readme.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-Python-Track2, FixS360

#14987 Bump dependencies
  azure-pipelines.yml
  package-lock.json
  package.json
  scripts/prettier-swagger-plugin.ts
  test/syntax.ts
  tsconfig.json
Labels: Approved-Avocado

#15023 iotDefenderSettings - New onboarding modes and optional-readonly evaluationEndTime property
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/defenderSettings.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/DefenderSettings/Get.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/examples/IotDefenderSettings/Get.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-08-06-preview/iotDefenderSettings.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, NewApiVersionRequired

#14870 add all apis to 2020 readme
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2017-10-01/examples/CurrentPricingPlanCreateAndUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2017-10-01/examples/CurrentPricingPlanUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-03-01-preview/componentLinkedStorageAccounts_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-06-02-preview/livetoken_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-02-02/components_API.json
  specification/applicationinsights/resource-manager/readme.go.md
  specification/applicationinsights/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, NewApiVersionRequired

#14736 Microsoft.Features: Add new API version 2021-07-01
  specification/resources/resource-manager/Microsoft.Features/stable/2021-07-01/SubscriptionFeatureRegistration.json
  specification/resources/resource-manager/Microsoft.Features/stable/2021-07-01/examples/FeatureRegistration/SubscriptionFeatureRegistrationDELETE.json
  specification/resources/resource-manager/Microsoft.Features/stable/2021-07-01/examples/FeatureRegistration/SubscriptionFeatureRegistrationGET.json
  specification/resources/resource-manager/Microsoft.Features/stable/2021-07-01/examples/FeatureRegistration/SubscriptionFeatureRegistrationLIST.json
  specification/resources/resource-manager/Microsoft.Features/stable/2021-07-01/examples/FeatureRegistration/SubscriptionFeatureRegistrationLISTALL.json
  specification/resources/resource-manager/Microsoft.Features/stable/2021-07-01/examples/FeatureRegistration/SubscriptionFeatureRegistrationPUT.json
  specification/resources/resource-manager/Microsoft.Features/stable/2021-07-01/examples/getFeature.json
  specification/resources/resource-manager/Microsoft.Features/stable/2021-07-01/examples/listFeaturesOperations.json
  specification/resources/resource-manager/Microsoft.Features/stable/2021-07-01/examples/listProviderFeatures.json
  specification/resources/resource-manager/Microsoft.Features/stable/2021-07-01/examples/listSubscriptionFeatures.json
  specification/resources/resource-manager/Microsoft.Features/stable/2021-07-01/examples/registerFeature.json
  specification/resources/resource-manager/Microsoft.Features/stable/2021-07-01/examples/unregisterFeature.json
  specification/resources/resource-manager/Microsoft.Features/stable/2021-07-01/features.json
  specification/resources/resource-manager/readme.csharp.md
  specification/resources/resource-manager/readme.go.md
  specification/resources/resource-manager/readme.java.md
  specification/resources/resource-manager/readme.md
  specification/resources/resource-manager/readme.python.md
  specification/resources/resource-manager/readme.ruby.md
Labels: ARMSignedOff, Approved-SdkBreakingChange-Go, CI-BreakingChange-Go, CI-BreakingChange-Python
