Repository Azure/azure-rest-api-specs, pull requests merged in 2022-04, with the labels that each got.

#18459 2020-10-01 GA release of PIM specs
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/EligibleChildResources.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/RoleAssignmentSchedule.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/RoleAssignmentScheduleInstance.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/RoleAssignmentScheduleRequest.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/RoleEligibilitySchedule.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/RoleEligibilityScheduleInstance.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/RoleEligibilityScheduleRequest.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/RoleManagementPolicy.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/RoleManagementPolicyAssignment.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/common-types.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples/CancelRoleAssignmentScheduleRequestByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples/CancelRoleEligibilityScheduleRequestByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples/DeleteRoleManagementPolicy.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples/DeleteRoleManagementPolicyAssignment.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples/GetEligibleChildResourcesByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples/GetRoleAssignmentScheduleByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples/GetRoleAssignmentScheduleInstanceByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples/GetRoleAssignmentScheduleInstancesByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples/GetRoleAssignmentScheduleRequestByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples/GetRoleAssignmentScheduleRequestByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples/GetRoleAssignmentSchedulesByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples/GetRoleEligibilityScheduleByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples/GetRoleEligibilityScheduleInstanceByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples/GetRoleEligibilityScheduleInstancesByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples/GetRoleEligibilityScheduleRequestByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples/GetRoleEligibilityScheduleRequestByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples/GetRoleEligibilitySchedulesByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples/GetRoleManagementPolicyAssignmentByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples/GetRoleManagementPolicyAssignmentByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples/GetRoleManagementPolicyByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples/GetRoleManagementPolicyByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples/PatchPartialRoleManagementPolicy.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples/PatchRoleManagementPolicy.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples/PutRoleAssignmentScheduleRequest.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples/PutRoleEligibilityScheduleRequest.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples/PutRoleManagementPolicyAssignment.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples/ValidateRoleAssignmentScheduleRequestByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/examples/ValidateRoleEligibilityScheduleRequestByName.json
  specification/authorization/resource-manager/readme.md
  specification/authorization/resource-manager/readme.python.md
Labels: ARMSignedOff, CI-BreakingChange-Go-V2

#18138 KubernetesConfiguration 2022-04-02-preview version changes
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-04-02-preview/examples/CreateExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-04-02-preview/examples/CreateExtensionWithPlan.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-04-02-preview/examples/DeleteExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-04-02-preview/examples/GetExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-04-02-preview/examples/GetExtensionAsyncOperationStatus.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-04-02-preview/examples/ListExtensions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-04-02-preview/examples/PatchExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-04-02-preview/examples/PrivateEndpointConnectionDelete.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-04-02-preview/examples/PrivateEndpointConnectionGet.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-04-02-preview/examples/PrivateEndpointConnectionList.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-04-02-preview/examples/PrivateEndpointConnectionUpdate.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-04-02-preview/examples/PrivateLinkScopePrivateLinkResourceGet.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-04-02-preview/examples/PrivateLinkScopePrivateLinkResourceListGet.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-04-02-preview/examples/PrivateLinkScopesCreate.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-04-02-preview/examples/PrivateLinkScopesDelete.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-04-02-preview/examples/PrivateLinkScopesGet.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-04-02-preview/examples/PrivateLinkScopesList.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-04-02-preview/examples/PrivateLinkScopesListByResourceGroup.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-04-02-preview/examples/PrivateLinkScopesUpdate.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-04-02-preview/examples/PrivateLinkScopesUpdateTagsOnly.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-04-02-preview/extensions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-04-02-preview/privateLinkScopes.json
  specification/kubernetesconfiguration/resource-manager/readme.go.md
  specification/kubernetesconfiguration/resource-manager/readme.java.md
  specification/kubernetesconfiguration/resource-manager/readme.md
  specification/kubernetesconfiguration/resource-manager/readme.python.md
  specification/kubernetesconfiguration/resource-manager/readme.ruby.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2

#18168 Swagger changes for new Predict API in Advisor RP
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2022-02-01-preview/examples/OperationsList.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2022-02-01-preview/examples/Predict.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2022-02-01-preview/predictRecommendation.json
  specification/advisor/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go-V2

#18490 Update v5 SDK tag for IPV6 firewall rules API 2021-11-01
  specification/sql/resource-manager/readme.md
Labels: SQL, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18073 [Microsoft.Resources] Added missing error property to deployment properties
  specification/resources/resource-manager/Microsoft.Resources/stable/2015-11-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2016-02-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2016-07-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2016-09-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2017-05-10/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2018-02-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2018-05-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-03-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-05-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-05-10/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-07-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2019-08-01/resources.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, CI-FixRequiredOnFailure, Approved-LintDiff, Approved-ModelValidation, CI-BreakingChange-Go-V2

#18469 {azure-rest-api-specs} Add possible values for DomainValidationMethod
  specification/web/resource-manager/Microsoft.Web/stable/2021-01-15/Certificates.json
Labels: FixS360, CI-BreakingChange-JavaScript

#18460 Carry fwd Microsoft.CertificateRegistration and Microsoft.DomainRegis…
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-03-01/AppServiceCertificateOrders.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-03-01/CertificateOrdersDiagnostics.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-03-01/CertificateRegistrationProvider.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-03-01/examples/CreateAppServiceCertificate.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-03-01/examples/CreateAppServiceCertificateOrder.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-03-01/examples/DeleteAppServiceCertificate.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-03-01/examples/DeleteAppServiceCertificateOrder.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-03-01/examples/Diagnostics_GetAppServiceCertificateOrderDetectorResponse.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-03-01/examples/Diagnostics_ListAppServiceCertificateOrderDetectorResponse.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-03-01/examples/GetAppServiceCertificate.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-03-01/examples/GetAppServiceCertificateOrder.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-03-01/examples/ListAppServiceCertificateOrdersByResourceGroup.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-03-01/examples/ListAppServiceCertificateOrdersBySubscription.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-03-01/examples/ListCertificatesByAppServiceCertificateOrder.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-03-01/examples/ListOperations.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-03-01/examples/ReissueAppServiceCertificateOrder.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-03-01/examples/RenewAppServiceCertificateOrder.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-03-01/examples/ResendAppServiceCertificateOrderEmail.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-03-01/examples/ResendDomainOwnershipVerificationEmail.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-03-01/examples/RetrieveCertificateEmailHistory.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-03-01/examples/RetrieveCertificateOrderActions.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-03-01/examples/RetrieveSiteSeal.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-03-01/examples/UpdateAppServiceCertificate.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-03-01/examples/UpdateAppServiceCertificateOrder.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-03-01/examples/ValidateAppServiceCertificatePurchaseInformationBySubscription.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-03-01/examples/VerifyDomainOwnership.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-03-01/DomainRegistrationProvider.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-03-01/Domains.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-03-01/TopLevelDomains.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-03-01/examples/CheckDomainAvailability.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-03-01/examples/CreateAppServiceDomain.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-03-01/examples/CreateAppServiceDomainOwnershipIdentifier.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-03-01/examples/DeleteAppServiceDomain.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-03-01/examples/DeleteAppServiceDomainOwnershipIdentifier.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-03-01/examples/GetDomain.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-03-01/examples/GetDomainControlCenterSsoRequest.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-03-01/examples/GetDomainOwnershipIdentifier.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-03-01/examples/GetTopLevelDomain.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-03-01/examples/ListDomainOwnershipIdentifiers.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-03-01/examples/ListDomainRecommendations.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-03-01/examples/ListDomainsByResourceGroup.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-03-01/examples/ListDomainsBySubscription.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-03-01/examples/ListOperations.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-03-01/examples/ListTopLevelDomainAgreements.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-03-01/examples/ListTopLevelDomains.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-03-01/examples/RenewDomain.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-03-01/examples/TransferOutDomain.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-03-01/examples/UpdateAppServiceDomain.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-03-01/examples/UpdateAppServiceDomainOwnershipIdentifier.json
  specification/web/resource-manager/readme.md
Labels: Approved-BreakingChange, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18522 Add AutoGeneratedDomainNameLabelScope
  specification/dashboard/resource-manager/Microsoft.Dashboard/preview/2021-09-01-preview/examples/Grafana_Create.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/preview/2021-09-01-preview/examples/Grafana_Get.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/preview/2021-09-01-preview/examples/Grafana_List.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/preview/2021-09-01-preview/examples/Grafana_ListByResourceGroup.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/preview/2021-09-01-preview/examples/Grafana_Update.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/preview/2021-09-01-preview/grafana.json
Labels: Approved-BreakingChange, NewApiVersionRequired

#17973 Add xms-ids for PowerBIPrivateLinks
  specification/powerbiprivatelinks/resource-manager/Microsoft.PowerBI/stable/2020-06-01/powerbiprivatelinks.json
Labels: CI-BreakingChange-Go-V2

#17965 Add xms-ids for PolicyInsights
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/policyTrackedResources.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-10-01/policyEvents.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-10-01/policyMetadata.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-10-01/policyStates.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2020-07-01/checkPolicyRestrictions.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2021-01-01/attestations.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2021-10-01/remediations.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript

#17972 Add xms-ids for PowerBIEmbedded
  specification/powerbiembedded/resource-manager/Microsoft.PowerBI/stable/2016-01-29/powerbiembedded.json
Labels: CI-FixRequiredOnFailure, Approved-ModelValidation, CI-BreakingChange-Go-V2

#18507 Changing AD structure so the secret can be created properly
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2022-03-01-preview/examples/CreateOrUpdateSqlManagedInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2022-03-01-preview/examples/GetSqlManagedInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2022-03-01-preview/examples/ListByResourceGroupSqlManagedInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2022-03-01-preview/examples/ListSubscriptionSqlManagedInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2022-03-01-preview/examples/UpdateSqlManagedInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2022-03-01-preview/sqlManagedInstances.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go-V2

#18537 [Hub Generated] Review request for Microsoft.AzureStackHCI to add version stable/2022-03-01
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-03-01/arcSettings.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-03-01/clusters.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-03-01/examples/CreateArcIdentity.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-03-01/examples/CreateCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-03-01/examples/CreateClusterIdentity.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-03-01/examples/DeleteArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-03-01/examples/DeleteCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-03-01/examples/DeleteExtension.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-03-01/examples/GeneratePassword.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-03-01/examples/GetArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-03-01/examples/GetCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-03-01/examples/GetExtension.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-03-01/examples/ListArcSettingsByCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-03-01/examples/ListClustersByResourceGroup.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-03-01/examples/ListClustersBySubscription.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-03-01/examples/ListExtensionsByArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-03-01/examples/ListOperations.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-03-01/examples/PatchExtension.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-03-01/examples/PutArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-03-01/examples/PutExtension.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-03-01/examples/UpdateCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-03-01/examples/UploadCertificate.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-03-01/extensions.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-03-01/operations.json
  specification/azurestackhci/resource-manager/readme.md
Labels: CI-BreakingChange-Go-V2

#18296 Added Data Lake Path Create Bundle
  specification/storage/data-plane/Azure.Storage.Files.DataLake/preview/2020-06-12/DataLakeStorage.json
  specification/storage/data-plane/Azure.Storage.Files.DataLake/preview/2020-10-02/DataLakeStorage.json
  specification/storage/data-plane/Azure.Storage.Files.DataLake/preview/2021-04-10/DataLakeStorage.json
  specification/storage/data-plane/Azure.Storage.Files.DataLake/preview/2021-06-08/DataLakeStorage.json
Labels: NewApiVersionRequired

#18528 Updating minor documentation for the changes checked in PR: 18076
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/dedicatedHost.json
Labels: Compute, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18524 Update specificationRepositoryConfiguration.json
  specificationRepositoryConfiguration.json
Labels: Approved-BreakingChange, CI-FixRequiredOnFailure, Approved-ModelValidation, Approved-SemanticValidation

#18510 [CDN][2021-06-01] Update API example files for Azure Front Door Standard/Premium resources (#18418)
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/AFDCustomDomains_Create.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/AFDCustomDomains_Get.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/AFDCustomDomains_ListByProfile.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/AFDCustomDomains_Update.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/AFDEndpoints_Create.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/AFDEndpoints_Get.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/AFDEndpoints_ListByProfile.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/AFDEndpoints_PurgeContent.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/AFDEndpoints_Update.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/AFDOriginGroups_Create.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/AFDOriginGroups_Update.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/AFDOrigins_Create.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/AFDOrigins_Get.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/AFDOrigins_ListByOriginGroup.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/AFDOrigins_Update.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/AFDProfiles_ListResourceUsage.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/Profiles_Create.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/Profiles_Get.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/Profiles_List.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/Profiles_ListByResourceGroup.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/Profiles_Update.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/Routes_Get.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/Routes_ListByEndpoint.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/RuleSets_ListResourceUsage.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/Rules_Create.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/Rules_Get.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/Rules_ListByRuleSet.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/Rules_Update.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/Secrets_ListByProfile.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/SecurityPolicies_Create.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/SecurityPolicies_Get.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/SecurityPolicies_ListByProfile.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/SecurityPolicies_Patch.json
Labels: CI-BreakingChange-Go-V2, FixSwaggerExample

#18306 [Hub Generated] Review request for Microsoft.RecoveryServices to add version stable/2022-02-01
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/examples/CheckNameAvailability_Available.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/examples/CheckNameAvailability_NotAvailable.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/examples/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/examples/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/examples/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/examples/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/examples/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/examples/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/examples/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/examples/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/examples/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/examples/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/examples/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/examples/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/examples/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/examples/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/examples/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/examples/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/examples/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/examples/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/examples/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/examples/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/examples/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/examples/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/examples/UpdateVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/registeredidentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/replicationusages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/vaults.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/vaultusages.json
  specification/recoveryservices/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go-V2

#18436 Add List Secrets for Dapr Components
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/DaprComponents.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/DaprComponents_ListSecrets.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, NewApiVersionRequired

#18448 Removing unused property from ArcData\SqlServerInstance resource type - was in 2022-03-01-preview version only
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2022-03-01-preview/examples/CreateOrUpdateSqlServerInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2022-03-01-preview/examples/GetSqlServerInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2022-03-01-preview/examples/ListByResourceGroupSqlServerInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2022-03-01-preview/examples/ListSubscriptionSqlServerInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2022-03-01-preview/examples/UpdateSqlServerInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2022-03-01-preview/sqlServerInstances.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go-V2

#18506 Update MFE property descriptions to indicate if the property is required
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2021-03-01-preview/mfe.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2

#18453 AVS PublicCloud availability is immutable
  specification/vmware/resource-manager/Microsoft.AVS/stable/2021-12-01/vmware.json
  specification/vmware/resource-manager/readme.md
Labels: CI-FixRequiredOnFailure, FixS360, Approved-ModelValidation, CI-BreakingChange-Go-V2

#18557 Add Unhealthy CustomDomainStatus for StaticSites
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/StaticSites.json
Labels: CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18564 Add API properties and example JSON for Web App Routing of IngressProfile
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersCreate_IngressProfile_WebAppRouting.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/managedClusters.json
Labels: WaitForARMFeedback, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2

#18357 Update readmes for the 2022-03-01 dev branch of container service
  specification/containerservice/resource-manager/readme.go.md
  specification/containerservice/resource-manager/readme.java.md
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2

#18498 Small fixes to swagger in Microsoft.Sql AdvancedThreatProtectionSetti…
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-11-01-preview/ServerAdvancedThreatProtectionSettings.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-11-01-preview/examples/DatabaseAdvancedThreatProtectionSettingsListByDatabase.json
Labels: SQL, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18566 Added x-ms-identifier to fix swagger linting s360
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2020-07-01-preview/elastic.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-09-01-preview/elastic.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-10-01-preview/elastic.json
Labels: FixS360, CI-BreakingChange-Go-V2

#18358 Update readmes for the 2022-03-02-preview dev branch of container service
  specification/containerservice/resource-manager/readme.go.md
  specification/containerservice/resource-manager/readme.java.md
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, CI-BreakingChange-Go-V2

#18421 update Synaspe link connection input file to tag
  specification/synapse/data-plane/readme.md
Labels: Synapses

#18541 Merge Cognitive Services - Language version 2022-03-01-preview
  custom-words.txt
  specification/cognitiveservices/data-plane/Language/preview/2022-03-01-preview/analyzeconversations.json
  specification/cognitiveservices/data-plane/Language/preview/2022-03-01-preview/common.json
  specification/cognitiveservices/data-plane/Language/preview/2022-03-01-preview/examples/SuccessfulAnalyzeTextJobsCancelRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2022-03-01-preview/examples/SuccessfulAnalyzeTextJobsMultipleTaskStatusRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2022-03-01-preview/examples/SuccessfulAnalyzeTextJobsMultipleTaskSubmitRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2022-03-01-preview/examples/SuccessfulEntityLinkingRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2022-03-01-preview/examples/SuccessfulEntityRecognitionRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2022-03-01-preview/examples/SuccessfulKeyPhraseExtractionRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2022-03-01-preview/examples/SuccessfulLanguageDetectionRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2022-03-01-preview/examples/SuccessfulPiiEntityRecognitionRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2022-03-01-preview/examples/SuccessfulSentimentAnalysisRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2022-03-01-preview/examples/conversations/Conversation_project.json
  specification/cognitiveservices/data-plane/Language/preview/2022-03-01-preview/examples/conversations/Orchestrator_arbitration.json
  specification/cognitiveservices/data-plane/Language/preview/2022-03-01-preview/examples/conversations/Orchestrator_direct_target.json
  specification/cognitiveservices/data-plane/Language/preview/2022-03-01-preview/textanalytics.json
  specification/cognitiveservices/data-plane/Language/readme.md
Labels: Approved-BreakingChange, CI-FixRequiredOnFailure, Approved-Avocado, Approved-LintDiff

#18447 [OperationalInsights] Rename 'eTag' property to 'etag'
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2021-06-01/Workspaces.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, FixS360, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18576 Revert "Added flush conn to nsg"
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/NetworkSecurityGroupCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/networkSecurityGroup.json
Labels: Network, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18574 Fixing typo in response of idps private ip range feature
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/firewallPolicy.json
Labels: Network, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#17896 Add xms-ids for netapp
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2021-08-01/netapp.json
Labels: CI-BreakingChange-Go-V2

#18381 Agentpool alias minor version 2022-03-02-preview
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/AgentPoolsAssociate_CRG.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/AgentPoolsCreate_CustomNodeConfig.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/AgentPoolsCreate_DedicatedHostGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/AgentPoolsCreate_EnableEncryptionAtHost.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/AgentPoolsCreate_EnableFIPS.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/AgentPoolsCreate_EnableUltraSSD.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/AgentPoolsCreate_Ephemeral.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/AgentPoolsCreate_GPUMIG.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/AgentPoolsCreate_MessageOfTheDay.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/AgentPoolsCreate_OSSKU.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/AgentPoolsCreate_PPG.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/AgentPoolsCreate_Snapshot.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/AgentPoolsCreate_Spot.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/AgentPoolsCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/AgentPoolsCreate_WasmWasi.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/AgentPoolsGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/AgentPoolsList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/AgentPoolsUpgradeNodeImageVersion.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/AgentPools_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersAssociate_CRG.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersCreate_DedicatedHostGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersCreate_DisableRunCommand.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersCreate_DualStackNetworking.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersCreate_EnableEncryptionAtHost.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersCreate_EnableUltraSSD.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersCreate_EnabledFIPS.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersCreate_GPUMIG.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersCreate_HTTPProxy.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersCreate_ManagedNATGateway.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersCreate_NodePublicIPPrefix.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersCreate_OSSKU.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersCreate_PPG.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersCreate_PodIdentity.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersCreate_PrivateClusterFQDNSubdomain.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersCreate_PrivateClusterPublicFQDN.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersCreate_SecurityProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersCreate_Snapshot.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersCreate_UpdateWindowsGmsa.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersCreate_UpdateWithAHUB.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersCreate_UpdateWithEnableAzureRBAC.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersCreate_UpdateWithEnableNamespaceResources.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersCreate_UserAssignedNATGateway.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersListByResourceGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/ManagedClustersUpdateTags.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/managedClusters.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2

#18149 [BotService] Add OutlookChannel to channelNames
  specification/botservice/resource-manager/Microsoft.BotService/preview/2021-05-01-preview/botservice.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python, CI-BreakingChange-Go-V2

#18589 [Go]Add batch tag 04/07/22
  specification/authorization/resource-manager/readme.go.md
  specification/redisenterprise/resource-manager/readme.go.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2

#18540 Added fileImports.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/FileImports.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/examples/fileImports/CreateFileImport.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/examples/fileImports/DeleteFileImport.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/examples/fileImports/GetFileImportById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/examples/fileImports/GetFileImports.json
  specification/securityinsights/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18037 Add multidimensional Root Cause Analysis APIs in Anomaly Detector Service
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/AnomalyDetector.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/MultivariateAnomalyDetector.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/RootCauseAnalysis.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/ChangePointDetect.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/CreateRootCauseAnalysisDataSet.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/CreateRootCauseAnalysisInferenceTask.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/CreateRootCauseAnalysisInstance.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/CreateRootCauseAnalysisTrainingTask.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/DeleteModel.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/DeleteRootCauseAnalysisDataByPartitionId.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/DeleteRootCauseAnalysisDataByTimeRange.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/DeleteRootCauseAnalysisDataSet.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/DeleteRootCauseAnalysisInstance.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/DeleteRootCauseAnalysisModel.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/DetectAnomaly.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/EntireDetect.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/ExportModel.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/GetModel.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/GetResult.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/GetRootCauseAnalysisDataSet.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/GetRootCauseAnalysisInferenceState.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/GetRootCauseAnalysisInstance.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/GetRootCauseAnalysisTrainingState.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/LastDetect.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/LastDetectAnomaly.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/ListModel.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/ListRootCauseAnalysisDataMetaByTimeRange.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/ListRootCauseAnalysisDataMetaByTimestamp.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/ListRootCauseAnalysisDataSets.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/ListRootCauseAnalysisInstances.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/ListRootCauseAnalysisKinds.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/ListRootCauseAnalysisTrainingStates.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/TrainModel.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/UploadRootCauseAnalysisDataByBlock.json
  specification/cognitiveservices/data-plane/AnomalyDetector/preview/v1.1-preview.2/examples/UploadRootCauseAnalysisDataByPartition.json
  specification/cognitiveservices/data-plane/AnomalyDetector/readme.md
Labels: APIStewardshipBoard-SignedOff

#17516 Dev kubernetesconfiguration microsoft.kubernetes configuration 2022 01 15 preview
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-01-15-preview/examples/ClusterExtensionType_Get.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-01-15-preview/examples/ClusterExtensionTypes_List.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-01-15-preview/examples/ExtensionTypeVersions_List.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-01-15-preview/examples/LocationExtensionTypes_List.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-01-15-preview/extensionTypes.json
  specification/kubernetesconfiguration/resource-manager/readme.go.md
  specification/kubernetesconfiguration/resource-manager/readme.java.md
  specification/kubernetesconfiguration/resource-manager/readme.md
  specification/kubernetesconfiguration/resource-manager/readme.python.md
  specification/kubernetesconfiguration/resource-manager/readme.ruby.md
Labels: Approved-OkToMerge, ARMSignedOff, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, CI-BreakingChange-Go-V2, Approved-SdkBreakingChange-Go-V2

#18464 Add new Provisioning state for reservations
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2017-11-01/reservations.json
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2021-07-01/reservations.json
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2022-03-01/reservations.json
Labels: customer-reported, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, NewApiVersionRequired, CI-BreakingChange-Go-V2

#18613 [Hub Generated] Publish private branch 'appplatform/release/s202'
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2021-09-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2022-01-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2022-03-01-preview/appplatform.json
Labels: CI-BreakingChange-Go-V2

#18590 feat: add ManagedCluster StorageProfile in 0302preview
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/managedClusters.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2

#18596 S360 linting issue removed enum from ApiVersionParameter
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2020-07-01-preview/elastic.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-09-01-preview/elastic.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2021-10-01-preview/elastic.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2020-07-01/elastic.json
Labels: Approved-BreakingChange, FixS360, CI-BreakingChange-Go-V2, Approved-SdkBreakingChange-Go-V2

#18615 [operaioninsights][python]Update readme.md
  specification/operationalinsights/resource-manager/readme.md
Labels: CI-BreakingChange-Go-V2

#18513 change to create PR under bot azure-sdk
  specificationRepositoryConfiguration.json
Labels: CI-FixRequiredOnFailure

#18614 add API version 2022-05-01
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2022-05-01/examples/DeleteLink.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2022-05-01/examples/GetConfigurations.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2022-05-01/examples/Link.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2022-05-01/examples/LinkList.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2022-05-01/examples/OperationsList.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2022-05-01/examples/PatchLink.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2022-05-01/examples/PutLink.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2022-05-01/examples/PutLinkWithSecretStore.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2022-05-01/examples/PutLinkWithServiceEndpoint.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2022-05-01/examples/ValidateLinkSuccess.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2022-05-01/servicelinker.json
  specification/servicelinker/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2

#18594 feat: add ManagedCluster StorageProfile in 0301
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-03-01/managedClusters.json
Labels: CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, CI-BreakingChange-Go-V2, Approved-SdkBreakingChange-Go-V2

#18502 [SQL] Add EndpointCertificates API to V5 SDK tag
  specification/sql/resource-manager/readme.md
Labels: SQL, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18619 Update readme.python.md
  specification/postgresqlhsc/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2

#18503 Add dapr AppInsights connection string
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ManagedEnvironments_CreateOrUpdate.json
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, NewApiVersionRequired, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript

#18621 [Monitor] Update readme
  specification/monitor/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript

#18598 [Synapse] Make ParameterValueSpecification reference consistent
  specification/synapse/data-plane/Microsoft.Synapse/preview/2021-12-01-preview/linkConnections.json
Labels: Approved-BreakingChange, NewApiVersionRequired, FixS360, Synapses

#18548 Swagger change for ignore-pod-disruption-budget
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/examples/AgentPoolsDelete_IgnorePodDisruptionBudget.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/managedClusters.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2

#18534 [Hub Generated] Review request for Microsoft.LoadTestService to add version preview/2022-04-15-preview
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2022-04-15-preview/examples/LoadTests_CreateOrUpdate.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2022-04-15-preview/examples/LoadTests_Delete.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2022-04-15-preview/examples/LoadTests_Get.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2022-04-15-preview/examples/LoadTests_ListByResourceGroup.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2022-04-15-preview/examples/LoadTests_ListBySubscription.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2022-04-15-preview/examples/LoadTests_Update.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2022-04-15-preview/examples/Operations_List.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2022-04-15-preview/loadtestservice.json
  specification/loadtestservice/resource-manager/readme.md
  specification/loadtestservice/resource-manager/readme.ruby.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18544 add effectiveNoProxy for AKS
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/managedClusters.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2

#18573 Swagger correctness: Fix readonly properties & add additional cluster witness properties
  specification/databoxedge/resource-manager/Microsoft.DataBoxEdge/preview/2021-06-01-preview/databoxedge.json
  specification/databoxedge/resource-manager/Microsoft.DataBoxEdge/stable/2021-06-01/databoxedge.json
  specification/databoxedge/resource-manager/Microsoft.DataBoxEdge/stable/2022-03-01/databoxedge.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, FixS360

#18567 Replace common type definitions with references since 2022-03-02-preview for Microsoft.ContainerService
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-03-02-preview/managedClusters.json
  specification/containerservice/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18377 Update costmanagement.pricesheets.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2022-02-01-preview/costmanagement.pricesheets.json
Labels: CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, CI-BreakingChange-Go-V2

#18397 Update EventGrid.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/EventGrid.json
Labels: CI-FixRequiredOnFailure

#18627 Adding VnetRouteAllEnabled, VnetImagePullEnabled, VnetContentShareEnabled site properties to CommonDefinitions
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/CommonDefinitions.json
Labels: CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18641 config azurestackhci readme.java
  specification/azurestackhci/resource-manager/readme.java.md
Labels: Mgmt, CI-BreakingChange-Go-V2

#18617 [ContainerService] [postgresql] [Solutions]Change track2 to python
  specification/containerservice/resource-manager/readme.python.md
  specification/postgresql/resource-manager/readme.python.md
  specification/solutions/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2

#18588 Active Directory connector automatic mode properties
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2022-03-01-preview/activeDirectoryConnectors.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2022-03-01-preview/examples/CreateOrUpdateActiveDirectoryConnector.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2022-03-01-preview/examples/GetActiveDirectoryConnector.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2022-03-01-preview/examples/ListByDataControllerActiveDirectoryConnector.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go-V2

#17883 Service Fabric Managed Clusters - api version 2022-02-01-preview
  custom-words.txt
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ApplicationDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ApplicationGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ApplicationListOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ApplicationPatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ApplicationPutOperation_example_max.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ApplicationPutOperation_example_min.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ApplicationTypeNameDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ApplicationTypeNameGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ApplicationTypeNameListOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ApplicationTypeNamePatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ApplicationTypeNamePutOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ApplicationTypeVersionDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ApplicationTypeVersionGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ApplicationTypeVersionListOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ApplicationTypeVersionPatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ApplicationTypeVersionPutOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/DeleteNodes_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/Long_running_operation_result.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/Long_running_operation_status_failed.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/Long_running_operation_status_succeeded.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ManagedClusterDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ManagedClusterGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ManagedClusterListByResourceGroupOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ManagedClusterListBySubscriptionOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ManagedClusterPatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ManagedClusterPutOperation_example_max.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ManagedClusterPutOperation_example_min.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ManagedClusterVersionGetByEnvironment_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ManagedClusterVersionGet_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ManagedClusterVersionListByEnvironment.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ManagedClusterVersionList_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/NodeTypeDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/NodeTypeGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/NodeTypeListOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/NodeTypePatchOperationAutoScale_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/NodeTypePatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/NodeTypePutOperationAutoScale_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/NodeTypePutOperationStateless_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/NodeTypePutOperation_example_max.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/NodeTypePutOperation_example_min.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/NodeTypeSkusListOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/Operations_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ReimageNodes_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/RestartNodes_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ServiceDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ServiceGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ServiceListOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ServicePatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ServicePutOperation_example_max.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/ServicePutOperation_example_min.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/managedAzResiliencyStatusPost_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/managedUnsupportedVMSizesGet_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/examples/managedUnsupportedVMSizesList_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/managedapplication.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/managedcluster.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-02-01-preview/nodetype.json
  specification/servicefabricmanagedclusters/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2

#18514 [Azure Data Factory] Support rest-based connectors in ADF
  custom-words.txt
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
Labels: customer-reported, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go-V2

#18568 Replace common type definitions with references since 2022-03-01 for Microsoft.ContainerService
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-03-01/managedClusters.json
  specification/containerservice/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18582 Add zoneredundancy property
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ContainerApps_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ContainerApps_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ContainerApps_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ContainerApps_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ManagedEnvironments_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ManagedEnvironments_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ManagedEnvironments_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ManagedEnvironments_ListBySubscription.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, NewApiVersionRequired, CI-BreakingChange-JavaScript

#18279 Skumar/rch metadata api
  package-lock.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/stable/2018-07-01/ResourceHealth.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/stable/2018-07-01/examples/Metadata_GetEntity.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/stable/2018-07-01/examples/Metadata_List.json
Labels: customer-reported, Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, CI-FixRequiredOnFailure, Approved-LintDiff, Approved-ModelValidation, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18640 Add lastUpdateDataUtc to version 2020-01-01 of the api
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/AlertRules.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, NewApiVersionRequired, FixS360, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18402 Cognitive Services Language GA API 2022-05-01 Swagger
  specification/cognitiveservices/data-plane/Language/readme.md
  specification/cognitiveservices/data-plane/Language/stable/2022-05-01/common.json
  specification/cognitiveservices/data-plane/Language/stable/2022-05-01/examples/SuccessfulAnalyzeTextJobsCancelRequest.json
  specification/cognitiveservices/data-plane/Language/stable/2022-05-01/examples/SuccessfulAnalyzeTextJobsMultipleTaskStatusRequest.json
  specification/cognitiveservices/data-plane/Language/stable/2022-05-01/examples/SuccessfulAnalyzeTextJobsMultipleTaskSubmitRequest.json
  specification/cognitiveservices/data-plane/Language/stable/2022-05-01/examples/SuccessfulEntityLinkingRequest.json
  specification/cognitiveservices/data-plane/Language/stable/2022-05-01/examples/SuccessfulEntityRecognitionRequest.json
  specification/cognitiveservices/data-plane/Language/stable/2022-05-01/examples/SuccessfulKeyPhraseExtractionRequest.json
  specification/cognitiveservices/data-plane/Language/stable/2022-05-01/examples/SuccessfulLanguageDetectionRequest.json
  specification/cognitiveservices/data-plane/Language/stable/2022-05-01/examples/SuccessfulPiiEntityRecognitionRequest.json
  specification/cognitiveservices/data-plane/Language/stable/2022-05-01/examples/SuccessfulSentimentAnalysisRequest.json
  specification/cognitiveservices/data-plane/Language/stable/2022-05-01/textanalytics.json
Labels: customer-reported, Approved-BreakingChange, CI-FixRequiredOnFailure

#18636 [Synapse] extract common definition for `CloudError`
  specification/synapse/common/v1/types.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/artifacts.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/library.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2021-06-01-preview/artifacts.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2021-06-01-preview/sparkConfigurations.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2021-12-01-preview/linkConnections.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/artifacts.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/dataflows.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/datasets.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/library.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/linkedServices.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/notebooks.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/pipelines.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/sparkJobDefinitions.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/sqlScripts.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/triggers.json
  specification/synapse/data-plane/readme.md
Labels: CI-FixRequiredOnFailure, Synapses

#18477 Traz rozner/rebranding api docs from asc to mdfc
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/locations.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/operations.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/tasks.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/compliances.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/pricings.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/securityContacts.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/settings.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/assessmentMetadata.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/assessments.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/automations.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/regulatoryCompliance.json
  specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/subAssessments.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-01-01-preview/connectors.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-01-01-preview/secureScore.json
  specification/security/resource-manager/Microsoft.Security/preview/2020-01-01-preview/securityContacts.json
  specification/security/resource-manager/Microsoft.Security/stable/2017-08-01/complianceResults.json
  specification/security/resource-manager/Microsoft.Security/stable/2018-06-01/pricings.json
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/settings.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/assessmentMetadata.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/assessments.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/secureScore.json
  specification/security/resource-manager/Microsoft.Security/stable/2021-06-01/assessmentMetadata.json
  specification/security/resource-manager/Microsoft.Security/stable/2021-06-01/assessments.json
  specification/security/resource-manager/Microsoft.Security/stable/2021-06-01/settings.json
  specification/security/resource-manager/Microsoft.Security/stable/2021-07-01/settings.json
  specification/security/resource-manager/Microsoft.Security/stable/2022-03-01/pricings.json
Labels: CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, FixS360, CI-BreakingChange-Go-V2

#18508 Adding identity to RegistryCredentials
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/ContainerApps.json
Labels: Reviewed-FeedbackProvided, Approved-BreakingChange, CI-BreakingChange-Python-Track2, NewApiVersionRequired, CI-BreakingChange-JavaScript

#18658 Add templateVersion to stable version 2021-10-01 of securityInsights api
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-10-01/AlertRules.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, NewApiVersionRequired, FixS360, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18649 [keyvault] - sync 7.3 stable changes to 7.4-preview.1
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/examples/export-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/keys.json
Labels: CI-FixRequiredOnFailure, Approved-Avocado

#18549 Add Ftp/Remote debug properties to Ase network config
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/AppServiceEnvironments.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/CommonDefinitions.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_ApproveOrRejectPrivateEndpointConnection.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_ChangeVnet.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_CreateOrUpdate.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_CreateOrUpdateMultiRolePool.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_CreateOrUpdateWorkerPool.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_Delete.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_DeletePrivateEndpointConnection.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_Get.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_GetAseV3NetworkingConfiguration.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_GetDiagnosticsItem.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_GetMultiRolePool.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_GetPrivateEndpointConnection.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_GetPrivateEndpointConnectionList.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_GetPrivateLinkResources.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_GetVipInfo.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_GetWorkerPool.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_List.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_ListAppServicePlans.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_ListByResourceGroup.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_ListCapacities.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_ListDiagnostics.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_ListMultiRoleMetricDefinitions.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_ListMultiRolePoolInstanceMetricDefinitions.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_ListMultiRolePoolSkus.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_ListMultiRolePools.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_ListMultiRoleUsages.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_ListOperations.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_ListUsages.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_ListWebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_ListWebWorkerMetricDefinitions.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_ListWebWorkerUsages.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_ListWorkerPoolInstanceMetricDefinitions.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_ListWorkerPoolSkus.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_ListWorkerPools.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_Reboot.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_Resume.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_Suspend.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_Update.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_UpdateAseNetworkingConfiguration.json
Labels: customer-reported, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18684 update service linker readme for sdk generation
  specification/servicelinker/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2

#18672 [Go] Add directive eventhub,servicebus
  specification/eventhub/resource-manager/readme.go.md
  specification/servicebus/resource-manager/readme.go.md
Labels: CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18159 Swagger support for PPG Intent
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/CreateOrUpdateAProximityPlacementGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/GetAProximityPlacementGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/ListProximityPlacementGroupsInAResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/ListProximityPlacementGroupsInASubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/examples/proximityPlacementGroupExamples/ProximityPlacementGroup_CreateOrUpdate.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/examples/proximityPlacementGroupExamples/ProximityPlacementGroup_Get.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/examples/proximityPlacementGroupExamples/ProximityPlacementGroup_ListByResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/examples/proximityPlacementGroupExamples/ProximityPlacementGroup_ListBySubscription.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/proximityPlacementGroup.json
Labels: Compute, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, NewApiVersionRequired, CI-FixRequiredOnFailure, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18687 update servicelinker enum name
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2022-05-01/servicelinker.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2

#18646 Adding new input enum value to Microsoft.Capacity version 2022-03-01
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2022-03-01/reservations.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2

#18591 [resources][python] update configuration
  specification/resources/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go-V2

#18683 Update Microsoft.Resources tag for SDK Generation
  specification/resources/resource-manager/readme.md
Labels: Approved-BreakingChange

#18580 Updated May-1 preview to include changes from March-1 preview
  specification/cognitiveservices/data-plane/Language/preview/2022-05-01-preview/analyzeconversations.json
  specification/cognitiveservices/data-plane/Language/preview/2022-05-01-preview/common.json
  specification/cognitiveservices/data-plane/Language/preview/2022-05-01-preview/examples/SuccessfulAnalyzeTextJobsCancelRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2022-05-01-preview/examples/SuccessfulAnalyzeTextJobsMultipleTaskStatusRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2022-05-01-preview/examples/SuccessfulAnalyzeTextJobsMultipleTaskSubmitRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2022-05-01-preview/examples/SuccessfulEntityLinkingRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2022-05-01-preview/examples/SuccessfulEntityRecognitionRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2022-05-01-preview/examples/SuccessfulKeyPhraseExtractionRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2022-05-01-preview/examples/SuccessfulLanguageDetectionRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2022-05-01-preview/examples/SuccessfulPiiEntityRecognitionRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2022-05-01-preview/examples/SuccessfulSentimentAnalysisRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2022-05-01-preview/examples/conversations/Conversation_project.json
  specification/cognitiveservices/data-plane/Language/preview/2022-05-01-preview/examples/conversations/Orchestrator_arbitration.json
  specification/cognitiveservices/data-plane/Language/preview/2022-05-01-preview/examples/conversations/Orchestrator_direct_target.json
  specification/cognitiveservices/data-plane/Language/preview/2022-05-01-preview/textanalytics.json
Labels: Approved-BreakingChange, CI-FixRequiredOnFailure

#18583 Update April-1 preview with changes from March-1 preview
  custom-words.txt
  specification/cognitiveservices/data-plane/Language/preview/2022-04-01-preview/common.json
  specification/cognitiveservices/data-plane/Language/preview/2022-04-01-preview/examples/SuccessfulAnalyzeTextJobsCancelRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2022-04-01-preview/textanalytics.json
  specification/cognitiveservices/data-plane/Language/readme.md
Labels: CI-FixRequiredOnFailure

#18676 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2021-10-01
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2021-10-01/common-types.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2021-10-01/costmanagement.exports.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2021-10-01/costmanagement.generatedetailedcostreport.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2021-10-01/costmanagement.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2021-10-01/examples/OperationList.json
Labels: BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, CI-BreakingChange-Go-V2, Approved-SdkBreakingChange-Go-V2

#18685 [Resources] config readme.python
  specification/resources/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go-V2

#18702 Revert latest APIs which are not ready for downstream clients
  specification/sql/resource-manager/readme.md
Labels: SQL, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, Approved-Avocado, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18701 Revert to tag: package-composite-v5
  specification/sql/resource-manager/readme.md
Labels: SQL, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, Approved-Avocado, CI-BreakingChange-JavaScript

#18629 [Hub Generated] Publish private branch 'stuartko/Jan22_TSBuiltInsWithApiVersionBump'
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-02-01/examples/BuiltInTemplateSpecVersionsGet.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-02-01/examples/BuiltInTemplateSpecVersionsList.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-02-01/examples/BuiltInTemplateSpecsGet.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-02-01/examples/BuiltInTemplateSpecsList.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-02-01/examples/TemplateSpecVersionsCreate.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-02-01/examples/TemplateSpecVersionsDelete.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-02-01/examples/TemplateSpecVersionsGet.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-02-01/examples/TemplateSpecVersionsList.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-02-01/examples/TemplateSpecVersionsPatch.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-02-01/examples/TemplateSpecsCreate.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-02-01/examples/TemplateSpecsDelete.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-02-01/examples/TemplateSpecsGet.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-02-01/examples/TemplateSpecsListByResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-02-01/examples/TemplateSpecsListBySubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-02-01/examples/TemplateSpecsPatch.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-02-01/templateSpecs.json
  specification/resources/resource-manager/readme.md
  specification/resources/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go-V2

#18432 Update resource association swagger
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NspAssociationDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NspAssociationGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NspAssociationList.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NspAssociationPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NspProfileGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NspProfileList.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NspProfilePut.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/networkSecurityPerimeter.json
Labels: Network, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, NewApiVersionRequired, CI-FixRequiredOnFailure, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18663 Revert file imports
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/FileImports.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/examples/fileImports/CreateFileImport.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/examples/fileImports/DeleteFileImport.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/examples/fileImports/GetFileImportById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/examples/fileImports/GetFileImports.json
  specification/securityinsights/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18715 Update readmes for the 2022-04-01 dev branch of container service
  specification/containerservice/resource-manager/readme.go.md
  specification/containerservice/resource-manager/readme.java.md
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript

#18714 Update readmes for the 2022-04-02-preview dev branch of container service
  specification/containerservice/resource-manager/readme.go.md
  specification/containerservice/resource-manager/readme.java.md
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: CI-BreakingChange-JavaScript

#18692 Update Operation ID for Microsoft.Resources/changes for docs
  specification/resources/resource-manager/Microsoft.Resources/preview/2022-03-01-preview/changes.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#18458 [Hub Generated] Review request for Microsoft.HybridCompute to add version stable/2022-03-10
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/HybridCompute.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples/DELETEExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples/Extensions_Upgrade.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples/GETExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples/LISTExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples/Machines_CreateOrUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples/Machines_Delete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples/Machines_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples/Machines_ListByResourceGroup.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples/Machines_ListBySubscription.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples/Machines_Update.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples/Operations_List.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples/PUTExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples/PrivateEndpointConnectionDelete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples/PrivateEndpointConnectionGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples/PrivateEndpointConnectionList.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples/PrivateEndpointConnectionUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples/PrivateLinkScopePrivateLinkResourceGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples/PrivateLinkScopePrivateLinkResourceListGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples/PrivateLinkScopesCreate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples/PrivateLinkScopesDelete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples/PrivateLinkScopesGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples/PrivateLinkScopesGetValidation.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples/PrivateLinkScopesGetValidationForMachine.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples/PrivateLinkScopesList.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples/PrivateLinkScopesListByResourceGroup.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples/PrivateLinkScopesUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples/PrivateLinkScopesUpdateTagsOnly.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/examples/UpdateExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/privateLinkScopes.json
  specification/hybridcompute/resource-manager/readme.az.md
  specification/hybridcompute/resource-manager/readme.cli.md
  specification/hybridcompute/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-FixRequiredOnFailure, Approved-Avocado, CI-BreakingChange-Go-V2, Approved-SdkBreakingChange-Go-V2

#18297 [Hub Generated] Review request for Microsoft.Education to add version preview/2021-12-01-preview
  specification/education/resource-manager/Microsoft.Education/preview/2021-12-01-preview/education.json
  specification/education/resource-manager/Microsoft.Education/preview/2021-12-01-preview/examples/CreateLab.json
  specification/education/resource-manager/Microsoft.Education/preview/2021-12-01-preview/examples/CreateStudent.json
  specification/education/resource-manager/Microsoft.Education/preview/2021-12-01-preview/examples/DeleteLab.json
  specification/education/resource-manager/Microsoft.Education/preview/2021-12-01-preview/examples/DeleteStudent.json
  specification/education/resource-manager/Microsoft.Education/preview/2021-12-01-preview/examples/GenerateInviteCode.json
  specification/education/resource-manager/Microsoft.Education/preview/2021-12-01-preview/examples/GetOperations.json
  specification/education/resource-manager/Microsoft.Education/preview/2021-12-01-preview/examples/Grant.json
  specification/education/resource-manager/Microsoft.Education/preview/2021-12-01-preview/examples/GrantDefaultList.json
  specification/education/resource-manager/Microsoft.Education/preview/2021-12-01-preview/examples/GrantDefaultListIncludeAllocatedBudget.json
  specification/education/resource-manager/Microsoft.Education/preview/2021-12-01-preview/examples/GrantIncludeAllocatedBudget.json
  specification/education/resource-manager/Microsoft.Education/preview/2021-12-01-preview/examples/GrantList.json
  specification/education/resource-manager/Microsoft.Education/preview/2021-12-01-preview/examples/GrantListIncludeAllocatedBudget.json
  specification/education/resource-manager/Microsoft.Education/preview/2021-12-01-preview/examples/JoinRequest.json
  specification/education/resource-manager/Microsoft.Education/preview/2021-12-01-preview/examples/JoinRequestApproveAndDeny.json
  specification/education/resource-manager/Microsoft.Education/preview/2021-12-01-preview/examples/JoinRequestList.json
  specification/education/resource-manager/Microsoft.Education/preview/2021-12-01-preview/examples/Lab.json
  specification/education/resource-manager/Microsoft.Education/preview/2021-12-01-preview/examples/LabIncludeBudget.json
  specification/education/resource-manager/Microsoft.Education/preview/2021-12-01-preview/examples/LabList.json
  specification/education/resource-manager/Microsoft.Education/preview/2021-12-01-preview/examples/LabListIncludeBudget.json
  specification/education/resource-manager/Microsoft.Education/preview/2021-12-01-preview/examples/LabListWithInvoiceSectionName.json
  specification/education/resource-manager/Microsoft.Education/preview/2021-12-01-preview/examples/LabListWithInvoiceSectionNameIncludeBudget.json
  specification/education/resource-manager/Microsoft.Education/preview/2021-12-01-preview/examples/RedeemCode.json
  specification/education/resource-manager/Microsoft.Education/preview/2021-12-01-preview/examples/Student.json
  specification/education/resource-manager/Microsoft.Education/preview/2021-12-01-preview/examples/StudentLab.json
  specification/education/resource-manager/Microsoft.Education/preview/2021-12-01-preview/examples/StudentLabList.json
  specification/education/resource-manager/Microsoft.Education/preview/2021-12-01-preview/examples/StudentList.json
  specification/education/resource-manager/readme.az.md
  specification/education/resource-manager/readme.cli.md
  specification/education/resource-manager/readme.csharp.md
  specification/education/resource-manager/readme.go.md
  specification/education/resource-manager/readme.md
  specification/education/resource-manager/readme.python.md
  specification/education/resource-manager/readme.typescript.md
Labels: ARMSignedOff, CI-FixRequiredOnFailure

#18730 [network][python]Update readme.python.md
  specification/network/resource-manager/readme.python.md
Labels: Network, CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript

#17382 [Purview - Scanning] adds new version for scanning 2022-02-01-preview
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/ClassificationRules_CreateOrUpdate.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/ClassificationRules_Delete.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/ClassificationRules_Get.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/ClassificationRules_ListAll.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/ClassificationRules_ListVersionsByClassificationRuleName.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/ClassificationRules_TagClassificationVersion.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/Credential_CreateOrUpdate.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/Credential_Delete.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/Credential_Get.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/Credential_ListAll.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/DataSources_CreateOrUpdate.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/DataSources_Delete.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/DataSources_Get.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/DataSources_ListAll.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/Filters_CreateOrUpdate.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/Filters_Get.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/KeyVaultConnections_Create.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/KeyVaultConnections_Delete.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/KeyVaultConnections_Get.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/KeyVaultConnections_ListAll.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/ScanResult_CancelScan.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/ScanResult_ListScanHistory.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/ScanResult_RunScan.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/ScanRulesets_CreateOrUpdate.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/ScanRulesets_Delete.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/ScanRulesets_Get.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/ScanRulesets_ListAll.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/Scans_CreateOrUpdate.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/Scans_Delete.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/Scans_Get.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/Scans_ListByDataSource.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/SystemScanRulesets_Get.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/SystemScanRulesets_GetByVersion.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/SystemScanRulesets_GetLatest.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/SystemScanRulesets_ListAll.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/SystemScanRulesets_ListVersionsByDataSource.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/Triggers_CreateTrigger.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/Triggers_DeleteTrigger.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/examples/Triggers_GetTrigger.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-02-01-preview/scanningService.json
  specification/purview/data-plane/readme.md
Labels: NewApiVersionRequired, CI-FixRequiredOnFailure, Approved-Avocado, APIStewardshipBoard-SignedOff, Purview

#18265 Operator connect API
  custom-words.txt
  specification/communication/data-plane/OperatorConnect/preview/2022-06-01-preview/examples/CreateConsent.json
  specification/communication/data-plane/OperatorConnect/preview/2022-06-01-preview/examples/GetConsent.json
  specification/communication/data-plane/OperatorConnect/preview/2022-06-01-preview/examples/GetConsents.json
  specification/communication/data-plane/OperatorConnect/preview/2022-06-01-preview/examples/GetOperators.json
  specification/communication/data-plane/OperatorConnect/preview/2022-06-01-preview/examples/UpdateConsent.json
  specification/communication/data-plane/OperatorConnect/preview/2022-06-01-preview/operatorconnect.json
  specification/communication/data-plane/OperatorConnect/readme.md
  specification/communication/data-plane/OperatorConnect/readme.typescript.md
Labels: APIStewardshipBoard-SignedOff

#17847 [Language API 2022-05-01-Preview]Conversation API Async - Conversational Summarization and Conversational PII
  specification/cognitiveservices/data-plane/Language/preview/2022-05-01-preview/analyzeconversations.json
  specification/cognitiveservices/data-plane/Language/preview/2022-05-01-preview/common.json
  specification/cognitiveservices/data-plane/Language/preview/2022-05-01-preview/examples/conversations/SuccessfulConversationPIISubmit.json
  specification/cognitiveservices/data-plane/Language/preview/2022-05-01-preview/examples/conversations/SuccessfulConversationPIITaskStatusRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2022-05-01-preview/examples/conversations/SuccessfulConversationSummarizationTaskStatusRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2022-05-01-preview/examples/conversations/SuccessfulConversationSummarySubmit.json
  specification/cognitiveservices/data-plane/Language/preview/2022-05-01-preview/textanalytics.json
  specification/cognitiveservices/data-plane/Language/readme.md
Labels: CI-FixRequiredOnFailure

#18104 Fixed wrong example payload for IoT central rest API - /deviceTemplats PUT
  specification/iotcentral/data-plane/Microsoft.IoTCentral/stable/1.0/examples/devicetemplates_create.json
Labels: customer-reported

#18729 Remove breaking api-version required parameter
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/firewallPolicy.json
Labels: Network, customer-reported, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18416 Remove read-only flag of ExpressRoute Gateway connections
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/virtualWan.json
Labels: Network, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18417 Remove read-only flag of ExpressRoute Gateway connections
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/virtualWan.json
Labels: Network, Approved-BreakingChange, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18698 Kipartha/execution details action start end
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2021-09-15-preview/examples/GetAExperimentExecutionDetails.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2021-09-15-preview/examples/ListExperimentExecutionsDetails.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2021-09-15-preview/types/experiments.json
Labels: WaitForARMFeedback, ARMSignedOff

#18703 Allow non-Latin characters in Experiment name
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2021-09-15-preview/types/experiments.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#18156 Add new apis for test button feature
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-04-01/actionGroups_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/createOrUpdateActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/deleteActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/enableReceiver.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/getActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/getTestNotifications.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/getTestNotificationsAtResourceGroupLevel.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/listActionGroups.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/patchActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/postTestNotifications.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/postTestNotificationsAtResourceGroupLevel.json
  specification/monitor/resource-manager/readme.md
Labels: WaitForARMFeedback, CI-BreakingChange-Python-Track2, Approved-LintDiff, Approved-ModelValidation, Approved-SdkBreakingChange-Python, CI-BreakingChange-Go-V2, Approved-SdkBreakingChange-Go-V2, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript

#18542 SCVMM public preview API spec
  custom-words.txt
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/CreateAvailabilitySet.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/CreateCheckpointVirtualMachine.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/CreateCloud.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/CreateInventoryItem.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/CreateVMMServer.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/CreateVirtualMachine.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/CreateVirtualMachineTemplate.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/CreateVirtualNetwork.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/DeleteAvailabilitySet.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/DeleteCheckpointVirtualMachine.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/DeleteCloud.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/DeleteInventoryItem.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/DeleteVMMServer.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/DeleteVirtualMachine.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/DeleteVirtualMachineTemplate.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/DeleteVirtualNetwork.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/GetAvailabilitySet.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/GetCloud.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/GetInventoryItem.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/GetVMMServer.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/GetVirtualMachine.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/GetVirtualMachineTemplate.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/GetVirtualNetwork.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/ListAvailabilitySetsByResourceGroup.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/ListAvailabilitySetsBySubscription.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/ListCloudsByResourceGroup.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/ListCloudsBySubscription.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/ListInventoryItemsByVMMServer.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/ListOperations.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/ListVMMServersByResourceGroup.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/ListVMMServersBySubscription.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/ListVirtualMachineTemplatesByResourceGroup.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/ListVirtualMachineTemplatesBySubscription.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/ListVirtualMachinesByResourceGroup.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/ListVirtualMachinesBySubscription.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/ListVirtualNetworksByResourceGroup.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/ListVirtualNetworksBySubscription.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/RestartVirtualMachine.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/RestoreCheckpointVirtualMachine.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/StartVirtualMachine.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/StopVirtualMachine.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/UpdateAvailabilitySet.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/UpdateCloud.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/UpdateVMMServer.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/UpdateVirtualMachine.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/UpdateVirtualMachineTemplate.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/examples/UpdateVirtualNetwork.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/preview/2020-06-05-preview/scvmm.json
  specification/scvmm/resource-manager/readme.azureresourceschema.md
  specification/scvmm/resource-manager/readme.csharp.md
  specification/scvmm/resource-manager/readme.go.md
  specification/scvmm/resource-manager/readme.java.md
  specification/scvmm/resource-manager/readme.md
  specification/scvmm/resource-manager/readme.python.md
  specification/scvmm/resource-manager/readme.ruby.md
  specification/scvmm/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#18697 [Datafactory] Fix add failactivity in synapse
  specification/synapse/data-plane/Microsoft.Synapse/preview/2021-06-01-preview/entityTypes/Pipeline.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: Approved-LintDiff, Synapses

#18713 Add groupids in privateLinkConnections property in *response only*
  specification/automation/resource-manager/Microsoft.Automation/common/v1/definitions.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2020-01-13-preview/examples/PrivateEndpointConnectionGet.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2020-01-13-preview/examples/PrivateEndpointConnectionListGet.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2020-01-13-preview/examples/PrivateEndpointConnectionUpdate.json
  specification/automation/resource-manager/Microsoft.Automation/stable/2019-06-01/schedule.json
Labels: customer-reported, CI-BreakingChange-Python-Track2

#18748 desktopvirtualization: generating the 2022-02 sdk
  specification/desktopvirtualization/resource-manager/readme.go.md
Labels: customer-reported

#18735 add NetworkPluginMode to ManagedCluster
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-04-02-preview/managedClusters.json
Labels: CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript

#18745 Introduce stable version of Microsoft.Resources/changes
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-05-01/changes.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-05-01/examples/GetChange.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-05-01/examples/ListChanges.json
  specification/resources/resource-manager/readme.md
Labels: ARMSignedOff, CI-FixRequiredOnFailure, Approved-Avocado

#18762 [synapse][mgmt] extract common definition for `CloudError`
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/integrationRuntime.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/sqlPool.json
Labels: CI-FixRequiredOnFailure, Approved-ModelValidation, Synapses

#18764 [Synapse] extract common definition for `CloudError`(part 2)
  specification/synapse/data-plane/Microsoft.Synapse/preview/2021-06-01-preview/dataflows.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2021-06-01-preview/datasets.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2021-06-01-preview/library.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2021-06-01-preview/linkedServices.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2021-06-01-preview/notebooks.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2021-06-01-preview/pipelines.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2021-06-01-preview/sparkJobDefinitions.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2021-06-01-preview/sqlScripts.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2021-06-01-preview/triggers.json
Labels: Approved-BreakingChange, CI-FixRequiredOnFailure, Approved-LintDiff, Approved-ModelValidation, Synapses

#18295 Adding Identity to VirtualMachineScaleSetVM
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/virtualMachineScaleSet.json
Labels: Compute, DoNotMerge, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18165 [Crash Consistent RestorePoints] Making consistencyMode input parameter for RestorePoint
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/restorePoint.json
Labels: Compute, DoNotMerge, customer-reported, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18592 [RestorePoints] Fixing instanceView
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/restorePoint.json
Labels: Compute, WaitForARMFeedback, DoNotMerge, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18433 VMSS Flex Disk deleteOption changes
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/virtualMachineScaleSet.json
Labels: Compute, DoNotMerge, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18487 Fix vm extension location bug
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/virtualMachine.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/common.json
Labels: Compute, ARMSignedOff, DoNotMerge, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18609 Update properties for VMApps, CRP
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/computeRPCommon.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/examples/virtualMachineExamples/VirtualMachine_Create_WithApplicationProfile.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithApplicationProfile.json
Labels: Compute, DoNotMerge, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18581 GuestPatching: Adding AutomaticByPlatformSettings (in VMSS and VM model) and useRollingUpgradePolicy (in VMSS model) properties
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/computeRPCommon.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/examples/virtualMachineExamples/VirtualMachine_Create_LinuxVmWithAutomaticByPlatformSettings.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/examples/virtualMachineExamples/VirtualMachine_Create_WindowsVmWithAutomaticByPlatformSettings.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSets_List_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSets_Update_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/virtualMachine.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/virtualMachineScaleSet.json
Labels: Compute, DoNotMerge, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18323 AzureStackHub FabricLocation new API
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/stable/2022-03-01/FabricLocation.json
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/stable/2022-03-01/examples/FabricLocation/Get.json
  specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/stable/2022-03-01/examples/FabricLocation/List.json
  specification/azsadmin/resource-manager/fabric/readme.azsautogen.md
  specification/azsadmin/resource-manager/fabric/readme.md
Labels: WaitForARMFeedback, ARMSignedOff, Approved-BreakingChange

#18482 [Hub Generated] Review request for Microsoft.Notebooks to add version preview/2019-10-11-preview
  specification/notebooks/resource-manager/Microsoft.Notebooks/preview/2019-10-11-preview/examples/NBResourceCreate.json
  specification/notebooks/resource-manager/Microsoft.Notebooks/preview/2019-10-11-preview/examples/NBResourceDelete.json
  specification/notebooks/resource-manager/Microsoft.Notebooks/preview/2019-10-11-preview/examples/NBResourceGet.json
  specification/notebooks/resource-manager/Microsoft.Notebooks/preview/2019-10-11-preview/examples/NBResourceList.json
  specification/notebooks/resource-manager/Microsoft.Notebooks/preview/2019-10-11-preview/examples/NBResourceListCredentials.json
  specification/notebooks/resource-manager/Microsoft.Notebooks/preview/2019-10-11-preview/examples/NBResourcePEDelete.json
  specification/notebooks/resource-manager/Microsoft.Notebooks/preview/2019-10-11-preview/examples/NBResourcePEUpdate.json
  specification/notebooks/resource-manager/Microsoft.Notebooks/preview/2019-10-11-preview/examples/NBResourcePatch.json
  specification/notebooks/resource-manager/Microsoft.Notebooks/preview/2019-10-11-preview/notebooks.json
  specification/notebooks/resource-manager/Microsoft.Notebooks/preview/2019-10-11-preview/readme.cli.md
  specification/notebooks/resource-manager/Microsoft.Notebooks/preview/2019-10-11-preview/readme.md
  specification/notebooks/resource-manager/Microsoft.Notebooks/preview/2019-10-11-preview/readme.python.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-FixRequiredOnFailure, Approved-Avocado

#18603 [Hub Generated] Review request for Microsoft.MixedReality to add version stable/2021-01-01
  specification/mixedreality/resource-manager/Microsoft.MixedReality/stable/2021-01-01/proxy.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, FixS360

#18763 [Go] Add batch tag 04/21/22
  specification/network/resource-manager/readme.go.md
  specification/reservations/resource-manager/readme.go.md
  specification/resources/resource-manager/readme.go.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#17920 Healthcareapis microsoft.healthcare apis 2022 01 31 preview
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/CheckNameAvailabilityPost.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/OperationResultsGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/OperationsList.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/dicomservices/DicomServices_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/dicomservices/DicomServices_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/dicomservices/DicomServices_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/dicomservices/DicomServices_List.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/dicomservices/DicomServices_Patch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/fhirservices/FhirServices_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/fhirservices/FhirServices_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/fhirservices/FhirServices_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/fhirservices/FhirServices_List.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/fhirservices/FhirServices_Patch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/iotconnectors/iotconnector_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/iotconnectors/iotconnector_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/iotconnectors/iotconnector_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/iotconnectors/iotconnector_List.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/iotconnectors/iotconnector_Patch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/iotconnectors/iotconnector_fhirdestination_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/iotconnectors/iotconnector_fhirdestination_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/iotconnectors/iotconnector_fhirdestination_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/iotconnectors/iotconnector_fhirdestination_List.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/legacy/PrivateLinkResourceGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/legacy/PrivateLinkResourcesListByService.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/legacy/ServiceCreate.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/legacy/ServiceCreateMinimum.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/legacy/ServiceCreatePrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/legacy/ServiceDelete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/legacy/ServiceDeletePrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/legacy/ServiceGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/legacy/ServiceGetPrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/legacy/ServiceList.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/legacy/ServiceListByResourceGroup.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/legacy/ServiceListPrivateEndpointConnections.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/legacy/ServicePatch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/privatelink/PrivateLinkResourcesListByWorkspace.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/privatelink/WorkspaceCreatePrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/privatelink/WorkspaceDeletePrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/privatelink/WorkspaceGetPrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/privatelink/WorkspaceListPrivateEndpointConnections.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/privatelink/WorkspacePrivateLinkResourceGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/workspaces/Workspaces_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/workspaces/Workspaces_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/workspaces/Workspaces_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/workspaces/Workspaces_ListByResourceGroup.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/workspaces/Workspaces_ListBySubscription.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/examples/workspaces/Workspaces_Patch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2022-01-31-preview/healthcare-apis.json
  specification/healthcareapis/resource-manager/readme.md
Labels: Approved-OkToMerge, ARMSignedOff, CI-BreakingChange-Python-Track2

#18559 removing shortcodes specification since shortcode apis are not intend…
  specification/communication/data-plane/ShortCodes/preview/2021-10-25-preview/examples/DeleteUSProgramBriefAsync.json
  specification/communication/data-plane/ShortCodes/preview/2021-10-25-preview/examples/GetShortCodesAsync.json
  specification/communication/data-plane/ShortCodes/preview/2021-10-25-preview/examples/GetUSProgramBriefAsync.json
  specification/communication/data-plane/ShortCodes/preview/2021-10-25-preview/examples/GetUSProgramBriefsAsync.json
  specification/communication/data-plane/ShortCodes/preview/2021-10-25-preview/examples/SubmitUSProgramBriefAsync.json
  specification/communication/data-plane/ShortCodes/preview/2021-10-25-preview/examples/UpsertUSProgramBriefAsync.json
  specification/communication/data-plane/ShortCodes/preview/2021-10-25-preview/shortcodes.json
  specification/communication/data-plane/ShortCodes/readme.csharp.md
  specification/communication/data-plane/ShortCodes/readme.md
  specification/communication/data-plane/ShortCodes/readme.typescript.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-FixRequiredOnFailure

#17480 Microsoft.Relay API version 2021-11-01
  custom-words.txt
  specification/relay/resource-manager/Microsoft.Relay/common/v1/definitions.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/Namespaces.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/NetworkRuleSets.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/authorizationRules.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/HybridConnection/RelayHybridConnectionAuthorizationRuleCreate.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/HybridConnection/RelayHybridConnectionAuthorizationRuleDelete.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/HybridConnection/RelayHybridConnectionAuthorizationRuleGet.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/HybridConnection/RelayHybridConnectionAuthorizationRuleListAll.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/HybridConnection/RelayHybridConnectionAuthorizationRuleListKey.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/HybridConnection/RelayHybridConnectionAuthorizationRuleRegenerateKey.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/HybridConnection/RelayHybridConnectionCreate.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/HybridConnection/RelayHybridConnectionGet.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/HybridConnection/RelayHybridConnectionListAll.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/HybridConnection/RelayHybridconnectionDelete.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/NameSpaces/RelayNameSpaceAuthorizationRuleCreate.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/NameSpaces/RelayNameSpaceAuthorizationRuleDelete.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/NameSpaces/RelayNameSpaceAuthorizationRuleGet.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/NameSpaces/RelayNameSpaceAuthorizationRuleListAll.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/NameSpaces/RelayNameSpaceAuthorizationRuleListKey.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/NameSpaces/RelayNameSpaceAuthorizationRuleRegenerateKey.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/NameSpaces/RelayNameSpaceCheckNameAvailability.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/NameSpaces/RelayNameSpaceCreate.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/NameSpaces/RelayNameSpaceDelete.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/NameSpaces/RelayNameSpaceGet.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/NameSpaces/RelayNameSpaceListByResourceGroup.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/NameSpaces/RelayNameSpaceListBySubscription.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/NameSpaces/RelayNameSpaceUpdate.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/PrivateEndpointConnections/OperationStatusPrivateEndpointConnectionsGet.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/PrivateEndpointConnections/PrivateEndpointConnectionsCreate.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/PrivateEndpointConnections/PrivateEndpointConnectionsDelete.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/PrivateEndpointConnections/PrivateEndpointConnectionsGet.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/PrivateEndpointConnections/PrivateEndpointConnectionsList.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/PrivateEndpointConnections/PrivateLinkResourcesGet.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/PrivateEndpointConnections/PrivateLinkResourcesList.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/Relay/RelayAuthorizationRuleCreate.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/Relay/RelayAuthorizationRuleDelete.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/Relay/RelayAuthorizationRuleGet.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/Relay/RelayAuthorizationRuleListAll.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/Relay/RelayAuthorizationRuleListKey.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/Relay/RelayAuthorizationRuleRegenerateKey.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/Relay/RelayCreate.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/Relay/RelayDelete.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/Relay/RelayGet.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/Relay/RelayListAll.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/RelayOperations_List.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/VirtualNetworkRules/RelayNetworkRuleSetCreate.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/VirtualNetworkRules/RelayNetworkRuleSetGet.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/hybridConnections.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/operations.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/wcfRelays.json
  specification/relay/resource-manager/readme.csharp.md
  specification/relay/resource-manager/readme.go.md
  specification/relay/resource-manager/readme.java.md
  specification/relay/resource-manager/readme.md
  specification/relay/resource-manager/readme.python.md
  specification/relay/resource-manager/readme.ruby.md
  specification/relay/resource-manager/readme.typescript.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, Approved-Avocado, Approved-SdkBreakingChange-Python, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18679 add securityMLAnalyticsSettings to securityInsights
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/SecurityMLAnalyticsSettings.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/examples/securityMLAnalyticsSettings/CreateAnomalySecurityMLAnalyticsSetting.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/examples/securityMLAnalyticsSettings/DeleteSecurityMLAnalyticsSetting.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/examples/securityMLAnalyticsSettings/GetAllSecurityMLAnalyticsSettings.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/examples/securityMLAnalyticsSettings/GetAnomalySecurityMLAnalyticsSetting.json
  specification/securityinsights/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript

#17948 [Hub Generated] Review request for Microsoft.Devices to add version stable/2022-02-05
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2022-02-05/examples/DPSCertificateCreateOrUpdate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2022-02-05/examples/DPSCheckNameAvailability.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2022-02-05/examples/DPSCreate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2022-02-05/examples/DPSCreateOrUpdatePrivateEndpointConnection.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2022-02-05/examples/DPSDelete.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2022-02-05/examples/DPSDeleteCertificate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2022-02-05/examples/DPSDeletePrivateEndpointConnection.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2022-02-05/examples/DPSGenerateVerificationCode.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2022-02-05/examples/DPSGet.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2022-02-05/examples/DPSGetCertificate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2022-02-05/examples/DPSGetCertificates.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2022-02-05/examples/DPSGetKey.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2022-02-05/examples/DPSGetOperationResult.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2022-02-05/examples/DPSGetPrivateEndpointConnection.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2022-02-05/examples/DPSGetPrivateLinkResources.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2022-02-05/examples/DPSGetValidSku.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2022-02-05/examples/DPSListByResourceGroup.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2022-02-05/examples/DPSListBySubscription.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2022-02-05/examples/DPSListKeys.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2022-02-05/examples/DPSListPrivateEndpointConnections.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2022-02-05/examples/DPSListPrivateLinkResources.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2022-02-05/examples/DPSOperations.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2022-02-05/examples/DPSPatch.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2022-02-05/examples/DPSVerifyCertificate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2022-02-05/iotdps.json
  specification/deviceprovisioningservices/resource-manager/readme.md
Labels: Approved-OkToMerge, WaitForARMFeedback, Approved-BreakingChange, CI-FixRequiredOnFailure, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18794 [Monitor] config readme and python
  specification/monitor/resource-manager/readme.md
  specification/monitor/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18664 [CosmosDB] Apis to redistribute throughput among physical partitions
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2022-02-15-preview/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2022-02-15-preview/examples/CosmosDBMongoDBCollectionRedistributeThroughput.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2022-02-15-preview/examples/CosmosDBMongoDBCollectionRetrieveThroughputDistribution.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2022-02-15-preview/examples/CosmosDBSqlContainerRedistributeThroughput.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2022-02-15-preview/examples/CosmosDBSqlContainerRetrieveThroughputDistribution.json
Labels: ARMSignedOff, Approved-BreakingChange, NewApiVersionRequired

#18795 [Network] Config readme python
  specification/network/resource-manager/readme.python.md
Labels: Network, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18788 Remove unused enum from Microsoft.Resources/changes
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-05-01/changes.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#18611 Lots API Description Update
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/consumption.json
Labels: no-recent-activity, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18705 [AKS] Add properties for apiserver-vnet-integration
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-04-02-preview/managedClusters.json
Labels: CI-BreakingChange-JavaScript

#18809 added PremiumV2_LRS
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/computeRPCommon.json
Labels: Compute, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18793 [DataFactory]Added privateEndpoint property Into PrivateLinkConnectionApprovalRequest
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/ApproveRejectPrivateEndpointConnection.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired

#18708 Update for AKS trusted access feature
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-04-02-preview/examples/TrustedAccessRoleBindings_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-04-02-preview/examples/TrustedAccessRoleBindings_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-04-02-preview/examples/TrustedAccessRoleBindings_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-04-02-preview/examples/TrustedAccessRoleBindings_List.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-04-02-preview/examples/TrustedAccessRoles_List.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-04-02-preview/managedClusters.json
Labels: CI-BreakingChange-JavaScript

#18678 Add app diag to 2022-05-01
  custom-words.txt
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/Diagnostics.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/ContainerAppsDiagnostics_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/ContainerAppsDiagnostics_List.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/ManagedEnvironmentDiagnostics_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/ManagedEnvironmentDiagnostics_List.json
  specification/app/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript

#18378 Dev recoveryservices microsoft.recovery services 2022 01 31 preview
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/examples/Capabilities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/examples/CheckNameAvailability_Available.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/examples/CheckNameAvailability_NotAvailable.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/examples/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/examples/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/examples/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/examples/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/examples/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/examples/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/examples/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/examples/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/examples/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/examples/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/examples/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/examples/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/examples/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/examples/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/examples/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/examples/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/examples/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/examples/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/examples/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/examples/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/examples/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/examples/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/examples/UpdateVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/registeredidentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/replicationusages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/vaults.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-01-31-preview/vaultusages.json
  specification/recoveryservices/resource-manager/readme.md
Labels: ARMSignedOff

#18781 Fixing linting issue
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2021-12-01/confluent.json
Labels: Approved-BreakingChange, FixS360

#18818 add storage profile into managedcluster in 0401
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-04-01/managedClusters.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript

#18706 OSSKU supports Windows options
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-04-02-preview/examples/AgentPoolsCreate_WindowsOSSKU.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-04-02-preview/managedClusters.json
Labels: CI-BreakingChange-JavaScript

#18680 Add privacyStatement/Uri to communtiy gallery image
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-01-03/GalleryRP/communityGallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-01-03/GalleryRP/examples/communityGalleryExamples/CommunityGalleryImage_Get.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-01-03/GalleryRP/gallery.json
Labels: Compute, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18551 [Hub Generated] Publish private branch 'dev-orbital-Microsoft.Orbital-2021-04-04-preview'
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/AvailableContactsList.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/AvailableGroundStationGet.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/AvailableGroundStationsByCapabilityList.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/ContactCreate.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/ContactDelete.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/ContactGet.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/ContactProfileCreate.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/ContactProfileDelete.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/ContactProfileGet.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/ContactProfileUpdateTag.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/ContactProfilesByResourceGroupList.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/ContactProfilesBySubscriptionList.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/ContactsBySpacecraftNameList.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/OperationResultsGet.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/OperationsList.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/SpacecraftCreate.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/SpacecraftDelete.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/SpacecraftGet.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/SpacecraftUpdateTags.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/SpacecraftsByResourceGroupList.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/SpacecraftsBySubscriptionList.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/orbital.json
  specification/orbital/resource-manager/readme.md
  specification/orbital/resource-manager/readme.python.md
Labels: Approved-OkToMerge, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, CI-BreakingChange-Go-V2, Approved-SdkBreakingChange-Go-V2

#18174 [Hub Generated] Review request for Microsoft.Consumption to add version stable/2021-10-01
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/examples/ReservationTransactionsListByEnrollmentNumber.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-11-01/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-11-01/examples/ReservationDetailsByBillingAccountId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-11-01/examples/ReservationDetailsByBillingProfileId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-11-01/examples/ReservationDetailsByBillingProfileIdReservationId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-11-01/examples/ReservationRecommendationDetailsByBillingAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-11-01/examples/ReservationRecommendationDetailsByBillingProfile.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-11-01/examples/ReservationRecommendationDetailsByResourceGroup.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-11-01/examples/ReservationRecommendationDetailsBySubscription.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-11-01/examples/ReservationRecommendationsByBillingAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-11-01/examples/ReservationRecommendationsByBillingProfile.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-11-01/examples/ReservationRecommendationsByResourceGroup.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-11-01/examples/ReservationRecommendationsBySubscription.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-11-01/examples/ReservationRecommendationsFilterBySubscriptionForScopeLookBackPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-11-01/examples/ReservationSummariesDailyWithBillingAccountId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-11-01/examples/ReservationSummariesDailyWithBillingProfileId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-11-01/examples/ReservationSummariesMonthlyWithBillingAccountId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-11-01/examples/ReservationSummariesMonthlyWithBillingProfileId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-11-01/examples/ReservationSummariesMonthlyWithBillingProfileIdReservationId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-11-01/examples/ReservationTransactionsListByEnrollmentNumber.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/ReservationDetailsByBillingAccountId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/ReservationDetailsByBillingProfileId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/ReservationDetailsByBillingProfileIdReservationId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/ReservationRecommendationDetailsByBillingAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/ReservationRecommendationDetailsByBillingProfile.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/ReservationRecommendationDetailsByResourceGroup.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/ReservationRecommendationDetailsBySubscription.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/ReservationRecommendationsByBillingAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/ReservationRecommendationsByBillingProfile.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/ReservationRecommendationsByResourceGroup.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/ReservationRecommendationsBySubscription.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/ReservationRecommendationsFilterBySubscriptionForScopeLookBackPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/ReservationSummariesDailyWithBillingAccountId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/ReservationSummariesDailyWithBillingProfileId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/ReservationSummariesMonthlyWithBillingAccountId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/ReservationSummariesMonthlyWithBillingProfileId.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/ReservationSummariesMonthlyWithBillingProfileIdReservationId.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2021-10-01/costmanagement.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, Approved-ModelValidation, Approved-SdkBreakingChange-Python, CI-BreakingChange-Go-V2, Approved-SdkBreakingChange-Go-V2, CI-BreakingChange-JavaScript
