Repository Azure/azure-rest-api-specs, pull requests merged in 2022-10, with the labels that each got.

#20857 add certs/domains new version folders and readme required changes
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-09-01/AppServiceCertificateOrders.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-09-01/CertificateOrdersDiagnostics.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-09-01/CertificateRegistrationProvider.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-09-01/examples/CreateAppServiceCertificate.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-09-01/examples/CreateAppServiceCertificateOrder.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-09-01/examples/DeleteAppServiceCertificate.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-09-01/examples/DeleteAppServiceCertificateOrder.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-09-01/examples/Diagnostics_GetAppServiceCertificateOrderDetectorResponse.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-09-01/examples/Diagnostics_ListAppServiceCertificateOrderDetectorResponse.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-09-01/examples/GetAppServiceCertificate.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-09-01/examples/GetAppServiceCertificateOrder.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-09-01/examples/ListAppServiceCertificateOrdersByResourceGroup.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-09-01/examples/ListAppServiceCertificateOrdersBySubscription.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-09-01/examples/ListCertificatesByAppServiceCertificateOrder.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-09-01/examples/ListOperations.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-09-01/examples/ReissueAppServiceCertificateOrder.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-09-01/examples/RenewAppServiceCertificateOrder.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-09-01/examples/ResendAppServiceCertificateOrderEmail.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-09-01/examples/ResendDomainOwnershipVerificationEmail.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-09-01/examples/RetrieveCertificateEmailHistory.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-09-01/examples/RetrieveCertificateOrderActions.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-09-01/examples/RetrieveSiteSeal.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-09-01/examples/UpdateAppServiceCertificate.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-09-01/examples/UpdateAppServiceCertificateOrder.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-09-01/examples/ValidateAppServiceCertificatePurchaseInformationBySubscription.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2022-09-01/examples/VerifyDomainOwnership.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-09-01/DomainRegistrationProvider.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-09-01/Domains.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-09-01/TopLevelDomains.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-09-01/examples/CheckDomainAvailability.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-09-01/examples/CreateAppServiceDomain.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-09-01/examples/CreateAppServiceDomainOwnershipIdentifier.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-09-01/examples/DeleteAppServiceDomain.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-09-01/examples/DeleteAppServiceDomainOwnershipIdentifier.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-09-01/examples/GetDomain.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-09-01/examples/GetDomainControlCenterSsoRequest.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-09-01/examples/GetDomainOwnershipIdentifier.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-09-01/examples/GetTopLevelDomain.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-09-01/examples/ListDomainOwnershipIdentifiers.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-09-01/examples/ListDomainRecommendations.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-09-01/examples/ListDomainsByResourceGroup.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-09-01/examples/ListDomainsBySubscription.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-09-01/examples/ListOperations.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-09-01/examples/ListTopLevelDomainAgreements.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-09-01/examples/ListTopLevelDomains.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-09-01/examples/RenewDomain.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-09-01/examples/TransferOutDomain.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-09-01/examples/UpdateAppServiceDomain.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-09-01/examples/UpdateAppServiceDomainOwnershipIdentifier.json
  specification/web/resource-manager/readme.md
Labels: WaitForARMFeedback, Web Apps, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest

#20950 Added licenseType and ServerlCal to licenseType
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2022-03-01-preview/sqlServerInstances.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, resource-manager, RPaaS, BreakingChangeReviewRequired

#20954 Swagger Fix for DppResourceGuardProxy operations in Microsoft.DataProtection 2022-09-01-preview version
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2022-09-01-preview/dataprotection.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, resource-manager, BreakingChangeReviewRequired

#20924 Dev azurestackhci microsoft.azure stack hci 2022 10 01
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/arcSettings.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/clusters.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/CreateArcIdentity.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/CreateCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/CreateClusterIdentity.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/DeleteArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/DeleteCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/DeleteExtension.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/ExtendSoftwareAssuranceBenefit.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/GeneratePassword.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/GetArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/GetCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/GetExtension.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/GetOffer.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/GetPublisher.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/GetSku.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/GetUpdateRuns.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/GetUpdateSummaries.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/GetUpdates.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/ListArcSettingsByCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/ListClustersByResourceGroup.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/ListClustersBySubscription.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/ListExtensionsByArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/ListOffersByCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/ListOffersByPublisher.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/ListOperations.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/ListPublishersByCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/ListSkusByOffer.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/ListUpdateRuns.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/ListUpdateSummaries.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/ListUpdates.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/PatchArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/PatchExtension.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/PostUpdates.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/PutArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/PutExtension.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/UpdateCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/examples/UploadCertificate.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/extensions.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/offers.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/operations.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/publishers.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/skus.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/updateRuns.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/updateSummaries.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-10-01/updates.json
  specification/azurestackhci/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, ARMReview, resource-manager, ReadyForApiTest, SuppressionReviewRequired, RPaaS

#20936 [MarketplaceOrdering] [S360] Add missing Operations example
  specification/marketplaceordering/resource-manager/Microsoft.MarketplaceOrdering/stable/2021-01-01/Agreements.json
  specification/marketplaceordering/resource-manager/Microsoft.MarketplaceOrdering/stable/2021-01-01/examples/OperationsList.json
Labels: FixSwaggerExample, resource-manager

#20749 Users/v sparatala/merge allx ms mutability
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-04-01-preview/examples/KustoPoolDataConnectionsUpdate.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-04-01-preview/examples/KustoPoolDatabasesUpdate.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-04-01-preview/examples/KustoPoolsUpdate.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/bigDataPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/CreateOrUpdateManagedIdentitySqlControlSettings.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/DataWarehouseQueriesSteps.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/DeleteBigDataPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/DeleteSqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/GetDatawareHouseQueries.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/GetLocationHeaderResultWithSqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/KustoPoolDataConnectionsUpdate.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/KustoPoolDatabasesUpdate.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/KustoPoolsUpdate.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/keys.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/sqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/sqlServer.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/workspace.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/bigDataPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/CreateOrUpdateManagedIdentitySqlControlSettings.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/DeleteBigDataPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/DeleteSqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/GetLocationHeaderResultWithSqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/keys.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/sqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/sqlServer.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/workspace.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, Synapses, CI-BreakingChange-JavaScript, resource-manager, SuppressionReviewRequired, BreakingChangeReviewRequired

#20870 Fix Labelled Utterance Id type
  specification/cognitiveservices/data-plane/LUIS/Authoring/preview/v3.0/LUIS-Authoring.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/preview/v3.0/examples/apps/SuccessfulDownloadApplicationQueryLogsRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/preview/v3.0/examples/model/SuccessfulDeleteCompositeEntityModelRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/preview/v3.0/examples/model/SuccessfulDeleteHierarchicalEntityModelRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/preview/v3.0/examples/model/SuccessfulGetApplicationVersionCompositeEntityInfosRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/preview/v3.0/examples/model/SuccessfulGetApplicationVersionHierarchicalEntityInfosRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/preview/v3.0/examples/model/SuccessfulGetCompositeEntityInfoRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/preview/v3.0/examples/model/SuccessfulGetHierarchicalChildEntityInfoRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/preview/v3.0/examples/model/SuccessfulGetHierarchicalEntityInfoRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/preview/v3.0/examples/model/SuccessfulUpdateCompositeEntityModelRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/stable/v2.0/LUIS-Authoring.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/stable/v2.0/examples/apps/SuccessfulDownloadApplicationQueryLogsRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/stable/v2.0/examples/apps/SuccessfulGetApplicationQueryLogsRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/stable/v2.0/examples/model/SuccessfulAddPrebuiltEntityExtractorsRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/stable/v2.0/examples/model/SuccessfulCreateCompositeEntityExtractorRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/stable/v2.0/examples/model/SuccessfulCreateHierarchicalEntityExtractorRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/stable/v2.0/examples/model/SuccessfulDeleteCompositeEntityModelRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/stable/v2.0/examples/model/SuccessfulDeleteHierarchicalEntityModelRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/stable/v2.0/examples/model/SuccessfulGetApplicationVersionCompositeEntityInfosRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/stable/v2.0/examples/model/SuccessfulGetApplicationVersionHierarchicalEntityInfosRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/stable/v2.0/examples/model/SuccessfulGetCompositeEntityInfoRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/stable/v2.0/examples/model/SuccessfulGetHierarchicalChildEntityInfoRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/stable/v2.0/examples/model/SuccessfulGetHierarchicalEntityInfoRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/stable/v2.0/examples/model/SuccessfulUpdateCompositeEntityModelRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/stable/v3.0/LUIS-Authoring.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/stable/v3.0/examples/apps/SuccessfulDownloadApplicationQueryLogsRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/stable/v3.0/examples/model/SuccessfulDeleteCompositeEntityModelRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/stable/v3.0/examples/model/SuccessfulDeleteHierarchicalEntityModelRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/stable/v3.0/examples/model/SuccessfulGetApplicationVersionCompositeEntityInfosRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/stable/v3.0/examples/model/SuccessfulGetApplicationVersionHierarchicalEntityInfosRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/stable/v3.0/examples/model/SuccessfulGetCompositeEntityInfoRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/stable/v3.0/examples/model/SuccessfulGetHierarchicalChildEntityInfoRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/stable/v3.0/examples/model/SuccessfulGetHierarchicalEntityInfoRequest.json
  specification/cognitiveservices/data-plane/LUIS/Authoring/stable/v3.0/examples/model/SuccessfulUpdateCompositeEntityModelRequest.json
Labels: Cognitive Services, customer-reported, Approved-BreakingChange, CI-FixRequiredOnFailure, data-plane, BreakingChangeReviewRequired

#20890 [Public/Global - Microsoft Azure Attestation Service] Adding August 2022 public Microsoft Attestation API version
  custom-words.txt
  specification/attestation/data-plane/Microsoft.Attestation/stable/2022-08-01/attestation.json
  specification/attestation/data-plane/Microsoft.Attestation/stable/2022-08-01/examples/Add_PolicyCertificate.json
  specification/attestation/data-plane/Microsoft.Attestation/stable/2022-08-01/examples/AttestOpenEnclave.json
  specification/attestation/data-plane/Microsoft.Attestation/stable/2022-08-01/examples/AttestSevSnpVm.json
  specification/attestation/data-plane/Microsoft.Attestation/stable/2022-08-01/examples/AttestSgxEnclave.json
  specification/attestation/data-plane/Microsoft.Attestation/stable/2022-08-01/examples/AttestVbsEnclave.json
  specification/attestation/data-plane/Microsoft.Attestation/stable/2022-08-01/examples/Get_Certs.json
  specification/attestation/data-plane/Microsoft.Attestation/stable/2022-08-01/examples/Get_MetadataConfiguration.json
  specification/attestation/data-plane/Microsoft.Attestation/stable/2022-08-01/examples/Get_Policy.json
  specification/attestation/data-plane/Microsoft.Attestation/stable/2022-08-01/examples/Get_PolicyCertificates.json
  specification/attestation/data-plane/Microsoft.Attestation/stable/2022-08-01/examples/Remove_PolicyCertificate.json
  specification/attestation/data-plane/Microsoft.Attestation/stable/2022-08-01/examples/Reset_Policy.json
  specification/attestation/data-plane/Microsoft.Attestation/stable/2022-08-01/examples/Set_Policy.json
  specification/attestation/data-plane/readme.md
Labels: CI-FixRequiredOnFailure, data-plane, SuppressionReviewRequired

#20957 Microsoft.DevCenter update OperationStatus model to match arm contract to fix LiveValidation
  specification/devcenter/resource-manager/Microsoft.DevCenter/preview/2022-08-01-preview/devcenter.json
  specification/devcenter/resource-manager/Microsoft.DevCenter/preview/2022-08-01-preview/examples/OperationStatus_Get.json
  specification/devcenter/resource-manager/Microsoft.DevCenter/preview/2022-09-01-preview/devcenter.json
  specification/devcenter/resource-manager/Microsoft.DevCenter/preview/2022-09-01-preview/examples/OperationStatus_Get.json
Labels: Approved-BreakingChange, FixS360, resource-manager, RPaaS, NewApiVersionRequired, BreakingChangeReviewRequired

#20905 [Reservations][S360] Fixing reservation property by adding swapProperties
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2022-03-01/examples/GetReservationDetails.json
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2022-03-01/examples/GetReservationRevisions.json
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2022-03-01/examples/GetReservationsFromOrder.json
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2022-03-01/reservations.json
Labels: Approved-BreakingChange, FixS360, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired

#20837 Remove x-ms-external property for Redis 2022-05-01 and 2021-06-01 API versions
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/redis.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-05-01/redis.json
Labels: Redis Cache, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager, ReadyForApiTest, SuppressionReviewRequired

#20921 Introduce Microsoft.Resources/snapshots
  specification/resources/resource-manager/Microsoft.Resources/preview/2022-11-01-preview/examples/GetSnapshot.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2022-11-01-preview/examples/ListSnapshots.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2022-11-01-preview/snapshots.json
  specification/resources/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-Avocado, ARMReview, resource-manager, SuppressionReviewRequired

#20480 Files invalid XML
  specification/storage/data-plane/Microsoft.FileStorage/preview/2021-12-02/file.json
Labels: Storage, CI-FixRequiredOnFailure, data-plane, BreakingChangeReviewRequired

#20607 ADLS Gen 2 Append and Flush Lease Operations
  specification/storage/data-plane/Azure.Storage.Files.DataLake/preview/2021-06-08/DataLakeStorage.json
Labels: Storage, data-plane

#21005 shuffle readme tags
  specification/machinelearningservices/resource-manager/readme.md
Labels: CI-FixRequiredOnFailure, Approved-Avocado, Approved-LintDiff

#21007 conflict resolution
  specification/machinelearningservices/resource-manager/readme.md
Labels: CI-FixRequiredOnFailure, Approved-Avocado, Approved-LintDiff

#21014 Microsoft.MachineLearningServices - Update readme.md
  specification/machinelearningservices/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager

#20904 [Microsoft.SoftwarePlan][s360] Removing read only property from example's request body
  specification/softwareplan/resource-manager/Microsoft.SoftwarePlan/stable/2019-12-01/examples/PatchHybridUseBenefit.json
  specification/softwareplan/resource-manager/Microsoft.SoftwarePlan/stable/2019-12-01/examples/PutHybridUseBenefit.json
Labels: CI-FixRequiredOnFailure, FixS360, resource-manager

#20887 Added Path and Properties
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/KustoPoolPrivateLinkResourcesList.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/kustoPool.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-LintDiff, Approved-ModelValidation, Synapses, CI-BreakingChange-JavaScript, ARMReview, resource-manager, SuppressionReviewRequired, NewApiVersionRequired

#20748 Users/v sparatala/merge all v2 to v1
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/IntegrationRuntimeObjectMetadata_List.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/PauseSqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/ResumeSqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/integrationRuntime.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/sqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/IntegrationRuntimeObjectMetadata_List.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/PauseSqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/ResumeSqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/integrationRuntime.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/sqlPool.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Synapses, CI-BreakingChange-JavaScript, resource-manager, SuppressionReviewRequired, BreakingChangeReviewRequired

#20977 Publish Microsoft.SecurityDevOps namespace.
  custom-words.txt
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsConnectorCreateOrUpdate.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsConnectorDelete.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsConnectorGet.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsConnectorListByResourceGroup.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsConnectorListBySubscription.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsConnectorStatsGet.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsConnectorUpdate.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsOrgCreateOrUpdate.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsOrgGet.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsOrgList.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsOrgUpdate.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsProjectCreateOrUpdate.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsProjectGet.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsProjectList.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsProjectUpdate.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsRepoCreateOrUpdate.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsRepoGet.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsRepoList.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsRepoListByConnector.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsRepoUpdate.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubConnectorCreateOrUpdate.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubConnectorDelete.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubConnectorGet.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubConnectorListByResourceGroup.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubConnectorListBySubscription.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubConnectorStatsGet.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubConnectorUpdate.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubOwnerCreateOrUpdate.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubOwnerGet.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubOwnerList.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubOwnerUpdate.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubRepoCreateOrUpdate.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubRepoGet.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubRepoList.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubRepoListByConnector.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubRepoUpdate.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/OperationsList.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/securitydevops.json
  specification/securitydevops/resource-manager/readme.az.md
  specification/securitydevops/resource-manager/readme.cli.md
  specification/securitydevops/resource-manager/readme.csharp.md
  specification/securitydevops/resource-manager/readme.go.md
  specification/securitydevops/resource-manager/readme.md
  specification/securitydevops/resource-manager/readme.python.md
  specification/securitydevops/resource-manager/readme.typescript.md
Labels: WaitForARMFeedback, ARMReview, resource-manager, ReadyForApiTest, SuppressionReviewRequired, RPaaS

#21023 Use common types for specs and count as readonly
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimanagement.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimapis.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimapisByTags.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimapiversionsets.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimauthorizationproviders.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimauthorizationservers.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimbackends.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimcaches.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimcertificates.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimconnectivitycheck.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimcontenttypes.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimdeletedservices.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimdeployment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimdiagnostics.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimemailtemplates.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimgateways.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimgroups.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimidentityprovider.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimissues.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimloggers.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimnamedvalues.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimnetworkstatus.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimnotifications.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimopenidconnectproviders.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimoutbounddependency.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimpolicies.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimpolicydescriptions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimpolicyfragments.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimportalconfigs.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimportalrevisions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimportalsettings.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimprivatelink.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimproducts.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimproductsByTags.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimquotas.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimregions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimreports.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimschema.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimsettings.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimskus.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimsubscriptions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimtagresources.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimtags.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimtenant.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimusers.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/definitions.json
Labels: API Management

#21025 Sasolank/more review comments
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimbackends.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimdeployment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimdiagnostics.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/definitions.json
Labels: API Management, 2022-04-01-preview

#20861 Loadtest sdk params
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/loadtestservice.json
  specification/loadtestservice/data-plane/readme.md
Labels: data-plane, ReadyForApiTest

#20009 Dev maps creator dataset 2022 09 01 preview
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/dataset.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/dataset/Dataset_Append_ConversionId.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/dataset/Dataset_Append_Udid.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/dataset/Dataset_Create_ConversionId.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/dataset/Dataset_Create_Udid.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/dataset/Dataset_Delete.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/dataset/Dataset_GetDetails.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/dataset/Dataset_GetOperation.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/dataset/Dataset_GetOperationStillRunning.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/dataset/Dataset_List.json
  specification/maps/data-plane/Creator/readme.md
Labels: WaitForARMFeedback, APIStewardshipBoard-ReviewRequested, Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, ARMReview, resource-manager, data-plane, SuppressionReviewRequired, RPaaS, NewApiVersionRequired

#20995 Custom CA Trust updates for 20220902 preview version
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/examples/ManagedClustersCreate_EnableCustomCATrust.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/managedClusters.json
  specification/containerservice/resource-manager/readme.md
Labels: ARMSignedOff, Container Service, CI-BreakingChange-Go, CI-FixRequiredOnFailure, ARMReview, resource-manager, data-plane, SuppressionReviewRequired, RPaaS

#20846 change outboundIPAddresses to outboundIpAddresses
  specification/app/resource-manager/Microsoft.App/preview/2022-01-01-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/ContainerApps.json
  specification/app/resource-manager/readme.typescript.md
Labels: Approved-BreakingChange, FixS360, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired

#20939 Containerservice 2022 09 02 preview fleet
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/examples/FleetMembers_Create.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/examples/FleetMembers_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/examples/FleetMembers_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/examples/FleetMembers_List.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/examples/Fleets_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/examples/Fleets_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/examples/Fleets_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/examples/Fleets_ListByResourceGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/examples/Fleets_ListBySub.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/examples/Fleets_ListCredentialsResult.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/examples/Fleets_PatchTags.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/fleets.json
  specification/containerservice/resource-manager/readme.md
Labels: ARMSignedOff, Container Service, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest

#20942 first commit for new api version
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-11-01/AzureTrafficCollector.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-11-01/examples/AzureTrafficCollectorCreate.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-11-01/examples/AzureTrafficCollectorDelete.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-11-01/examples/AzureTrafficCollectorGet.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-11-01/examples/AzureTrafficCollectorUpdateTags.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-11-01/examples/AzureTrafficCollectorsByResourceGroupList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-11-01/examples/AzureTrafficCollectorsBySubscriptionList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-11-01/examples/CollectorPoliciesList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-11-01/examples/CollectorPolicyCreate.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-11-01/examples/CollectorPolicyDelete.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-11-01/examples/CollectorPolicyGet.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-11-01/examples/CollectorPolicyUpdateTags.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-11-01/examples/OperationsList.json
  specification/networkfunction/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired

#20964 Upgrading Scheduled Actions API to GA
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/common-types.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/costmanagement.generatecostdetailsreport.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/examples/OperationList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/examples/scheduledActions/checkNameAvailability-private-scheduledAction.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/examples/scheduledActions/checkNameAvailability-shared-scheduledAction.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/examples/scheduledActions/scheduledAction-createOrUpdate-private.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/examples/scheduledActions/scheduledAction-createOrUpdate-shared.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/examples/scheduledActions/scheduledAction-delete-private.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/examples/scheduledActions/scheduledAction-delete-shared.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/examples/scheduledActions/scheduledAction-execute-private.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/examples/scheduledActions/scheduledAction-execute-shared.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/examples/scheduledActions/scheduledAction-get-private.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/examples/scheduledActions/scheduledAction-get-shared.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/examples/scheduledActions/scheduledAction-insightAlert-createOrUpdate-shared.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/examples/scheduledActions/scheduledActions-list-private.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/examples/scheduledActions/scheduledActions-list-shared.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/examples/scheduledActions/scheduledActions-listWithFilter-private.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/examples/scheduledActions/scheduledActions-listWithFilter-shared.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/scheduledActions.json
  specification/cost-management/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired

#20955 Add networkProfile.ebpfDataplane field to 20220902preview API
  custom-words.txt
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/managedClusters.json
Labels: Container Service, CI-BreakingChange-Go, resource-manager

#20949 Add API Spec for HostNetwork NSG Control
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/managedClusters.json
Labels: Container Service, CI-BreakingChange-Go, CI-FixRequiredOnFailure, resource-manager

#20611 Added Mssql FirewallPolicy Rule Application Protocol Type
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/firewallPolicy.json
Labels: Network, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#20548 Add restler config to improve coverage of appconfig traffic validation
  custom-words.txt
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/restler/annotations.json
Labels: CI-FixRequiredOnFailure, Approved-Avocado, Approved-ModelValidation, Approved-SemanticValidation, resource-manager

#20973 Adds a SaaS NVA swagger changes
  custom-words.txt
  specification/network/resource-manager/Microsoft.Network/stable/2022-07-01/examples/NetworkVirtualApplianceSaaSPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-07-01/networkVirtualAppliance.json
Labels: Network, ARMSignedOff, customer-reported, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, ARMReview, resource-manager, data-plane, SuppressionReviewRequired, RPaaS

#20952 Update readmes for the 2022-09-01 dev branch of container service
  specification/containerservice/resource-manager/readme.java.md
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: Container Service, CI-BreakingChange-Go, resource-manager

#20951 Update readmes for the 2022-09-02-preview dev branch of container service
  specification/containerservice/resource-manager/readme.java.md
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: Container Service, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#20960 Update readme.python.md
  specification/compute/resource-manager/readme.python.md
Labels: Compute, CI-BreakingChange-Python-Track2, resource-manager, SuppressionReviewRequired

#20926 [Network] Update readme.python.md
  specification/network/resource-manager/readme.python.md
Labels: Network, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#20931 [S360 fix ]add default value to containerAPP model
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/DaprComponents.json
  specification/app/resource-manager/readme.python.md
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, FixS360, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#21044 [app] Fix default vaule for `"type" " "boolean"`
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/ContainerApps.json
  specification/app/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#20991 Reverse integrate from oct preview release
  dev/cognitiveservices/data-plane/Language/analyzeconversations-authoring.json
  dev/cognitiveservices/data-plane/Language/analyzeconversations.json
  dev/cognitiveservices/data-plane/Language/analyzetext-authoring.json
  dev/cognitiveservices/data-plane/Language/analyzetext.json
  dev/cognitiveservices/data-plane/Language/common.json
  dev/cognitiveservices/data-plane/Language/questionanswering-authoring.json
  dev/cognitiveservices/data-plane/Language/questionanswering.json
Labels: Cognitive Services, Approved-BreakingChange, CI-FixRequiredOnFailure, Approved-LintDiff

#21050 Readonly revert for Resource Collection as it was breaking change
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/definitions.json
Labels: API Management, 2022-04-01-preview

#21051 Revert remaining readonly on collection property count
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/definitions.json
Labels: API Management, 2022-04-01-preview

#20672 Update policy assignments and exemptions api-version to support selectors and overrides
  specification/resources/resource-manager/Microsoft.Authorization/common/v1/types.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-07-01-preview/examples/createOrUpdatePolicyExemption.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-07-01-preview/examples/createOrUpdatePolicyExemptionWithResourceSelectors.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-07-01-preview/examples/deletePolicyExemption.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-07-01-preview/examples/getPolicyExemption.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-07-01-preview/examples/getPolicyExemptionWithResourceSelectors.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-07-01-preview/examples/listPolicyExemptionsForManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-07-01-preview/examples/listPolicyExemptionsForResource.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-07-01-preview/examples/listPolicyExemptionsForResourceGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-07-01-preview/examples/listPolicyExemptionsForSubscription.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-07-01-preview/examples/updatePolicyExemptionWithResourceSelectors.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-07-01-preview/policyExemptions.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2022-06-01/examples/createPolicyAssignment.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2022-06-01/examples/createPolicyAssignmentById.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2022-06-01/examples/createPolicyAssignmentNonComplianceMessages.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2022-06-01/examples/createPolicyAssignmentWithIdentity.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2022-06-01/examples/createPolicyAssignmentWithIdentityById.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2022-06-01/examples/createPolicyAssignmentWithOverrides.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2022-06-01/examples/createPolicyAssignmentWithResourceSelectors.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2022-06-01/examples/createPolicyAssignmentWithUserAssignedIdentity.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2022-06-01/examples/createPolicyAssignmentWithoutEnforcement.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2022-06-01/examples/deletePolicyAssignment.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2022-06-01/examples/deletePolicyAssignmentById.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2022-06-01/examples/getPolicyAssignment.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2022-06-01/examples/getPolicyAssignmentById.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2022-06-01/examples/getPolicyAssignmentWithIdentity.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2022-06-01/examples/getPolicyAssignmentWithIdentityById.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2022-06-01/examples/getPolicyAssignmentWithOverrides.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2022-06-01/examples/getPolicyAssignmentWithResourceSelectors.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2022-06-01/examples/getPolicyAssignmentWithUserAssignedIdentity.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2022-06-01/examples/listPolicyAssignments.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2022-06-01/examples/listPolicyAssignmentsForManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2022-06-01/examples/listPolicyAssignmentsForResource.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2022-06-01/examples/listPolicyAssignmentsForResourceGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2022-06-01/examples/updatePolicyAssignmentWithIdentity.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2022-06-01/examples/updatePolicyAssignmentWithIdentityById.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2022-06-01/examples/updatePolicyAssignmentWithOverrides.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2022-06-01/examples/updatePolicyAssignmentWithResourceSelectors.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2022-06-01/examples/updatePolicyAssignmentWithUserAssignedIdentity.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2022-06-01/policyAssignments.json
  specification/resources/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-Avocado, Approved-LintDiff, ARMReview, resource-manager, SuppressionReviewRequired

#21047 [authorization] python config
  specification/authorization/resource-manager/readme.md
  specification/authorization/resource-manager/readme.python.md
Labels: Authorization, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#21057 Fix tag in readme for the 2022-09-02-preview dev branch of container service
  specification/containerservice/resource-manager/readme.md
Labels: Container Service, resource-manager

#20502 [Hub Generated] Review request for Microsoft.HybridCompute to add version preview/2022-08-11-preview
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/HybridCompute.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/DELETEExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/ExtensionMetadata_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/ExtensionMetadata_List.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/Extensions_Upgrade.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/GETExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/LISTExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/Machines_CreateOrUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/Machines_Delete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/Machines_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/Machines_ListByResourceGroup.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/Machines_ListBySubscription.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/Machines_Update.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/Operations_List.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/PUTExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/PrivateEndpointConnectionDelete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/PrivateEndpointConnectionGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/PrivateEndpointConnectionList.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/PrivateEndpointConnectionUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/PrivateLinkScopePrivateLinkResourceGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/PrivateLinkScopePrivateLinkResourceListGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/PrivateLinkScopesCreate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/PrivateLinkScopesDelete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/PrivateLinkScopesGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/PrivateLinkScopesGetValidation.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/PrivateLinkScopesGetValidationForMachine.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/PrivateLinkScopesList.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/PrivateLinkScopesListByResourceGroup.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/PrivateLinkScopesUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/PrivateLinkScopesUpdateTagsOnly.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/examples/UpdateExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-08-11-preview/privateLinkScopes.json
  specification/hybridcompute/resource-manager/readme.go.md
  specification/hybridcompute/resource-manager/readme.md
  specification/hybridcompute/resource-manager/readme.python.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, SuppressionReviewRequired, BreakingChangeReviewRequired

#20987 [Hub Generated] Review request for Microsoft.RecoveryServices to add version stable/2022-09-10
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/examples/CheckNameAvailability_Available.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/examples/CheckNameAvailability_NotAvailable.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/examples/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/examples/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/examples/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/examples/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/examples/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/examples/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/examples/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/examples/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/examples/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/examples/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/examples/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/examples/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/examples/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/examples/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/examples/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/examples/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/examples/PATCHVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/examples/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/examples/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/examples/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/examples/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/examples/PUTVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/examples/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/examples/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/examples/UpdateVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/registeredidentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/replicationusages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/vaults.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/vaultusages.json
  specification/recoveryservices/resource-manager/readme.md
Labels: RecoveryServices, resource-manager, ReadyForApiTest

#21070 Change to camel casing for "accesspolicies"
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimauthorizationproviders.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/examples/ApiManagementCreateAuthorizationAccessPolicy.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/examples/ApiManagementGetAuthorizationAccessPolicy.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/examples/ApiManagementListAuthorizationAccessPolicies.json
Labels: API Management, WaitForARMFeedback, CI-FixRequiredOnFailure, ARMReview, resource-manager, ReadyForApiTest

#21046 Feature/cognitiveservices/anomalydetector/mvad
  custom-words.txt
  specification/cognitiveservices/data-plane/AnomalyDetector/readme.md
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/MultivariateAnomalyDetector.json
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/UnivariateAnomalyDetector.json
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/examples/ChangePointDetect.json
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/examples/DeleteModel.json
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/examples/DetectAnomaly.json
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/examples/EntireDetect.json
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/examples/GetModel.json
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/examples/GetResult.json
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/examples/LastDetect.json
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/examples/LastDetectAnomaly.json
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/examples/ListModel.json
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/examples/TrainModel.json
Labels: Cognitive Services, CI-FixRequiredOnFailure, data-plane

#21072 [securitydevops]Update readme.python.md
  specification/securitydevops/resource-manager/readme.python.md
Labels: resource-manager, RPaaS

#20944 SecurityMLAnalyticsSettings to Microsoft.SecurityInsights-2022-11-01-stable
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2022-11-01/SecurityMLAnalyticsSettings.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2022-11-01/examples/securityMLAnalyticsSettings/CreateAnomalySecurityMLAnalyticsSetting.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2022-11-01/examples/securityMLAnalyticsSettings/DeleteSecurityMLAnalyticsSetting.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2022-11-01/examples/securityMLAnalyticsSettings/GetAllSecurityMLAnalyticsSettings.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2022-11-01/examples/securityMLAnalyticsSettings/GetAnomalySecurityMLAnalyticsSetting.json
  specification/securityinsights/resource-manager/readme.md
Labels: ARMSignedOff, CI-FixRequiredOnFailure, ARMReview, resource-manager, ReadyForApiTest

#21034 Add AppState and LatestReadyRevisionName
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ContainerApps_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ContainerApps_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ContainerApps_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ContainerApps_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ContainerApps_Patch.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ContainerApps_TcpApp_CreateOrUpdate.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#20835 [Nginx] make the operation id from Create to CreateOrUpdate
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2022-08-01/swagger.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager, ReadyForApiTest, RPSaaS

#20855 [Hub Generated] Review request for Microsoft.Consumption to add version stable/2019-10-01
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/examples/ChargesForBillingPeriodByDepartment.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/examples/ChargesForBillingPeriodByEnrollmentAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/examples/ChargesListForDepartmentFilterByStartEndDate.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/examples/ChargesListForEnrollmentAccountFilterByStartEndDate.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, FixS360, Approved-ModelValidation, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager, NewApiVersionRequired, BreakingChangeReviewRequired

#20577 New swagger version - Add new rules API to privatestore
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/Marketplace.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/AcknowledgeNotification.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/AdminRequestApprovalsList.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/AnyExistingOffersInTheCollections.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/ApproveAllItems.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/BillingAccounts.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/BulkCollectionsAction.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/CollectionsToSubscriptionsMapping.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/CreateApprovalRequest.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/CreatePrivateStoreCollection.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/DeletePrivateStore.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/DeletePrivateStoreCollection.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/DeletePrivateStoreOffer.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/DisableApproveAllItems.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/FetchAllSubscriptionsInTenant.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/GetAdminRequestApproval.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/GetApprovalRequestsList.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/GetCollectionRules.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/GetOperations.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/GetPrivateStore.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/GetPrivateStoreCollection.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/GetPrivateStoreCollectionOffer.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/GetPrivateStoreCollectionsList.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/GetPrivateStoreOffers.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/GetPrivateStores.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/GetRequestApproval.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/ListNewPlansNotifications.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/ListStopSellOffersPlansNotifications.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/ListSubscriptionsContext.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/NotificationsState.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/PostPrivateStoreCollection.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/PostPrivateStoreCollectionOffer.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/PrivateStoreOffer_update.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/PrivateStores_update.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/QueryApprovedPlans.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/QueryOffers.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/QueryRequestApproval.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/QueryUserOffers.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/QueryUserRules.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/SetCollectionRules.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/TransferOffers.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/UpdateAdminRequestApproval.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/UpsertOfferWithMultiContext.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-09-01/examples/WithdrawPlan.json
  specification/marketplace/resource-manager/readme.md
Labels: ARMSignedOff, CI-FixRequiredOnFailure, ARMReview, resource-manager, ReadyForApiTest

#19797 [Purview - API Scanning] API Review 2022-07-01-preview
  custom-words.txt
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/ClassificationRules_CreateOrUpdate.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/ClassificationRules_Delete.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/ClassificationRules_Get.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/ClassificationRules_ListAll.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/ClassificationRules_ListVersionsByClassificationRuleName.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/ClassificationRules_TagClassificationVersion.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/Credential_CreateOrUpdate.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/Credential_Delete.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/Credential_Get.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/Credential_ListAll.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/DataSources_CreateOrUpdate.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/DataSources_Delete.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/DataSources_Get.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/DataSources_ListAll.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/Filters_CreateOrUpdate.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/Filters_Get.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/IntegrationRuntimes_CreateOrReplace.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/IntegrationRuntimes_Delete.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/IntegrationRuntimes_DisableInteractiveQuery.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/IntegrationRuntimes_EnableInteractiveQuery.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/IntegrationRuntimes_Get.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/IntegrationRuntimes_ListAuthKeys.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/IntegrationRuntimes_ListByAccount.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/IntegrationRuntimes_RegenerateAuthKey.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/IntegrationRuntimes_Status.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/KeyVaultConnections_Create.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/KeyVaultConnections_Delete.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/KeyVaultConnections_Get.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/KeyVaultConnections_ListAll.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/ManagedVirtualNetworks_CreateOrReplace.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/ManagedVirtualNetworks_CreateOrReplacePrivateEndpoint.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/ManagedVirtualNetworks_DeletePrivateEndpoint.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/ManagedVirtualNetworks_Get.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/ManagedVirtualNetworks_GetPrivateEndpoint.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/ManagedVirtualNetworks_ListByAccount.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/ManagedVirtualNetworks_ListPrivateEndpointsByAccount.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/ScanResult_CancelScan.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/ScanResult_ListScanHistory.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/ScanResult_RunScan.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/ScanRulesets_CreateOrUpdate.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/ScanRulesets_Delete.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/ScanRulesets_Get.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/ScanRulesets_ListAll.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/Scans_CreateOrUpdate.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/Scans_Delete.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/Scans_Get.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/Scans_ListByCollection.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/Scans_ListByDataSource.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/SystemScanRulesets_Get.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/SystemScanRulesets_GetByVersion.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/SystemScanRulesets_GetLatest.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/SystemScanRulesets_ListAll.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/SystemScanRulesets_ListVersionsByDataSource.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/Triggers_CreateTrigger.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/Triggers_DeleteTrigger.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/examples/Triggers_GetTrigger.json
  specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2022-07-01-preview/scanningService.json
  specification/purview/data-plane/readme.md
Labels: CI-FixRequiredOnFailure, APIStewardshipBoard-SignedOff, Purview, ARMReview, data-plane

#20978 Network Swagger (Public IP Addresses) Documentation Fix
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/publicIpAddress.json
Labels: Network, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, FixS360, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#20911 Update workflow.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-04-01-preview/workflow.json
Labels: CI-FixRequiredOnFailure, Approved-LintDiff, resource-manager

#20945 generate swagger file for replicationLink V20220801
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/ReplicationLinks.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/examples/ReplicationLinkFailover.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/examples/ReplicationLinkFailoverAllowDataLoss.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/examples/ReplicationLinkGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/examples/ReplicationLinkListByDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/examples/ReplicationLinkListByServer.json
Labels: SQL, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager

#20879 [DataFactory] Add properties to spark job activity
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: Data Factory, DoNotMerge, Approved-BreakingChange, CI-BreakingChange-Go, Synapses, ShiftLeftViolation, resource-manager, data-plane, ReadyForApiTest, SuppressionReviewRequired, NewApiVersionRequired, BreakingChangeReviewRequired

#21089 Fix example for LIST API Schema
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/examples/ApiManagementListApiSchemas.json
Labels: API Management, 2022-04-01-preview

#20937 settings-specs
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/backuprestore.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/certificates.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/common.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/examples/ListSettings-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/examples/UpdateSetting-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/examples/securitydomaindownloadpost-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/keys.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/rbac.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/secrets.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/securitydomain.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/settings.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/storage.json
  specification/keyvault/data-plane/readme.md
Labels: KeyVault, CI-FixRequiredOnFailure, data-plane

#21087 Add AppState and LatestReadyRevisionName (#21034)
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ContainerApps_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ContainerApps_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ContainerApps_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ContainerApps_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ContainerApps_Patch.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ContainerApps_TcpApp_CreateOrUpdate.json
Labels: CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#20827 Dev/iliaskhan/update blob api version
  specification/sql/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager, ReadyForApiTest

#20562 [MLC] re-mark disableLocalAuth property from readonly to mutability
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2022-05-01/machineLearningServices.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2022-10-01/machineLearningServices.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, FixS360, Approved-ModelValidation, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#21093 Add fleet 0702 base for change comparison
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/examples/FleetMembers_Create.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/examples/FleetMembers_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/examples/FleetMembers_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/examples/FleetMembers_List.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/examples/Fleets_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/examples/Fleets_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/examples/Fleets_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/examples/Fleets_ListByResourceGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/examples/Fleets_ListBySub.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/examples/Fleets_ListCredentialsResult.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/examples/Fleets_PatchTags.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/fleets.json
  specification/containerservice/resource-manager/readme.md
Labels: WaitForARMFeedback, Container Service, ARMReview, resource-manager, ReadyForApiTest

#21098 resolve parameter location of workflow for devhub
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-04-01-preview/workflow.json
Labels: CI-BreakingChange-Go, resource-manager

#20910 [DeveloperHub] config readme.python
  specification/developerhub/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go, resource-manager, ReadyForApiTest

#20993 [NetAppFiles] Bugfix Add missing api-version parameter
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/Accounts_RenewCredentials.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/VolumeGroups_Create.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/VolumeGroups_Get.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/netapp.json
Labels: Approved-BreakingChange, FixS360, resource-manager, BreakingChangeReviewRequired

#21094 [Go] redis add directive
  specification/redis/resource-manager/readme.go.md
Labels: Redis Cache, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager, SuppressionReviewRequired

#21099 Fixing examples on 2020-05-01 to fix s360 linting alert.
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/billingOperations.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/examples/BillingSubscriptionInvoice.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/examples/BillingSubscriptionInvoicesList.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/examples/BillingSubscriptionsListByBillingAccount.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/examples/BillingSubscriptionsListByBillingProfile.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/examples/BillingSubscriptionsListByCustomer.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/examples/BillingSubscriptionsListByInvoiceSection.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/examples/GetOperations.json
Labels: Billing, CI-FixRequiredOnFailure, resource-manager

#20856 [Hub Generated] Review request for Microsoft.Consumption to add version stable/2021-10-01
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/ChargesForBillingPeriodByDepartment.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/ChargesForBillingPeriodByEnrollmentAccount.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/ChargesListForDepartmentFilterByStartEndDate.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/ChargesListForEnrollmentAccountFilterByStartEndDate.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, FixS360, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager, NewApiVersionRequired, BreakingChangeReviewRequired

#21104 ster/fleet-09-02-preview-dnsprefix
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-09-02-preview/fleets.json
Labels: Container Service, resource-manager

#21109 upgrade to v3 for common types
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimapis.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimapisByTags.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimapiversionsets.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimauthorizationproviders.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimauthorizationservers.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimbackends.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimcaches.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimcertificates.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimconnectivitycheck.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimcontenttypes.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimdeletedservices.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimdeployment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimdiagnostics.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimemailtemplates.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimgateways.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimgroups.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimidentityprovider.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimissues.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimloggers.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimnamedvalues.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimnetworkstatus.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimnotifications.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimopenidconnectproviders.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimoutbounddependency.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimpolicies.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimpolicydescriptions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimpolicyfragments.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimportalconfigs.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimportalrevisions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimportalsettings.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimprivatelink.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimproducts.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimproductsByTags.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimquotas.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimregions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimreports.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimschema.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimsettings.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimskus.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimsubscriptions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimtagresources.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimtags.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimtenant.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimusers.json
  specification/apimanagement/resource-manager/readme.md
Labels: API Management, CI-FixRequiredOnFailure, resource-manager, 2022-04-01-preview, BreakingChangeReviewRequired

#21092 Remove entity id
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/certificates.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/examples/CreateKey-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/examples/GetCertificate-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/examples/GetCertificateVersions-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/examples/GetCertificates-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/examples/GetKey-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/examples/GetKeys-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/examples/GetSecret-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/examples/GetSecrets-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/keys.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/secrets.json
Labels: KeyVault, CI-FixRequiredOnFailure, data-plane

#21119 Sync operation and attributes descriptions with 7.3
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/certificates.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/keys.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/secrets.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/storage.json
Labels: KeyVault, CI-FixRequiredOnFailure, data-plane

#20999 [Hub Generated] Review request for Microsoft.InstanceMetadataService to add version stable/2021-11-01
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2021-11-01/examples/GetAttestedData.json
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2021-11-01/examples/GetIdentityInfo.json
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2021-11-01/examples/GetIdentityToken.json
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2021-11-01/examples/GetInstanceMetadata.json
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2021-11-01/imds.json
  specification/imds/data-plane/readme.md
Labels: Approved-OkToMerge, data-plane

#20763 Update fabricbot.json
  .github/fabricbot.json
Labels: ReadyForApiTest

#20384 Add privatedns scenarios package-2020-06
  specification/privatedns/resource-manager/Microsoft.Network/stable/2020-06-01/scenarios/privatedns.yaml
  specification/privatedns/resource-manager/Microsoft.Network/stable/2020-06-01/scenarios/templates/Create_NetworkAndSubnet.json
  specification/privatedns/resource-manager/readme.test.md
Labels: CI-BreakingChange-Go, resource-manager, ReadyForApiTest

#20430 Add cosmos scenarios package-2022-05
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2022-05-15/scenarios/cassandraresources.yaml
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2022-05-15/scenarios/databaseaccounts.yaml
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2022-05-15/scenarios/gremlinresources.yaml
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2022-05-15/scenarios/mongodbresources.yaml
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2022-05-15/scenarios/notebookworkspaces.yaml
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2022-05-15/scenarios/privateendpointconnections.yaml
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2022-05-15/scenarios/service.yaml
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2022-05-15/scenarios/sqlresources.yaml
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2022-05-15/scenarios/tableresources.yaml
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2022-05-15/scenarios/templates/Create_PrivateEndpoint.json
  specification/cosmos-db/resource-manager/readme.test.md
Labels: Cosmos, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager, ReadyForApiTest

#21061 Fix lint error
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/CreateOrUpdateWorkspace.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/DeleteIpFirewallRule.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/DeletePrivateEndpointConnection.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/firewallRule.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, FixS360, Synapses, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, resource-manager, SuppressionReviewRequired

#21102 Fix IntegrationRuntimes_ListByWorkspace Semantic Model validation error
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/IntegrationRuntimeObjectMetadata_Refresh.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/IntegrationRuntimes_Delete.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/IntegrationRuntimes_DisableInteractiveQuery.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/IntegrationRuntimes_EnableInteractiveQuery.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/IntegrationRuntimes_Start.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/IntegrationRuntimes_Stop.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/integrationRuntime.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Synapses, CI-BreakingChange-JavaScript, resource-manager, SuppressionReviewRequired, NewApiVersionRequired, BreakingChangeReviewRequired

#21043 {HDInsight} Fix Linter errors
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/examples/HDI_Locations_ValidateClusterCreateRequest.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/examples/ListHDInsightOperations.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/operations.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/HDI_Locations_ValidateClusterCreateRequest.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/ListHDInsightOperations.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/operations.json
Labels: HDInsight, CI-FixRequiredOnFailure, FixS360, resource-manager, SuppressionReviewRequired

#20101 [BUG] Compute ProtectedSettingsFromKeyVault
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-03-01/examples/virtualMachineExamples/VirtualMachines_ListAll_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-03-01/examples/virtualMachineExamples/VirtualMachines_List_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-03-01/virtualMachine.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-03-01/virtualMachineScaleSet.json
Labels: Compute, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager, SuppressionReviewRequired, BreakingChangeReviewRequired

#21103 [Network] Add back net sdk track 1 config
  specification/network/resource-manager/readme.md
Labels: Network, resource-manager

#21125 revert common types v3/types.json
  specification/common-types/resource-management/v3/types.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#21124 remove privatepreview and beta versions
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-05-10-beta/appcomplianceautomation.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-05-10-beta/examples/OperationResults_Get.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-05-10-beta/examples/Operations_List.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-05-10-beta/examples/Report_CreateOrUpdate.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-05-10-beta/examples/Report_Delete.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-05-10-beta/examples/Report_Get.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-05-10-beta/examples/Report_Update.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-05-10-beta/examples/Reports_List.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-05-10-beta/examples/Snapshot_ComplianceDetailedPdfReport_Download.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-05-10-beta/examples/Snapshot_CompliancePdfReport_Download.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-05-10-beta/examples/Snapshot_ComplianceReport_Download.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-05-10-beta/examples/Snapshot_Get.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-05-10-beta/examples/Snapshot_ResourceList_Download.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-05-10-beta/examples/Snapshots_List.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-05-10-privatepreview/appcomplianceautomation.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-05-10-privatepreview/examples/OperationResults_Get.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-05-10-privatepreview/examples/Operations_List.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-05-10-privatepreview/examples/Report_CreateOrUpdate.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-05-10-privatepreview/examples/Report_Delete.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-05-10-privatepreview/examples/Report_Get.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-05-10-privatepreview/examples/Report_Update.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-05-10-privatepreview/examples/Reports_List.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-05-10-privatepreview/examples/Snapshot_ComplianceReport_Download.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-05-10-privatepreview/examples/Snapshot_Get.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-05-10-privatepreview/examples/Snapshot_ResourceList_Download.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-05-10-privatepreview/examples/Snapshots_List.json
  specification/appcomplianceautomation/resource-manager/readme.md
Labels: resource-manager, RPaaS

#21037 [fix S360] add missing property to REVISIONS/REPLICAS/
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ContainerApps_Patch.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ManagedEnvironments_GetAuthToken.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ManagedEnvironments_Patch.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/ContainerAppsRevisions.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ContainerApps_Patch.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ManagedEnvironments_Patch.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, FixS360, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager, NewApiVersionRequired, BreakingChangeReviewRequired

#21129 Sync python sdk config change from main
  specification/network/resource-manager/readme.python.md
Labels: Network, CI-BreakingChange-JavaScript, resource-manager

#20733 [Hub Generated] Review request for Microsoft.StreamAnalytics to add version preview/2021-10-01-preview
  specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/preview/2021-10-01-preview/examples/StreamingJob_Scale.json
  specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/preview/2021-10-01-preview/streamingjobs.json
  specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/stable/2020-03-01/examples/StreamingJob_Scale.json
  specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/stable/2020-03-01/streamingjobs.json
Labels: Stream Analytics, Approved-BreakingChange, FixS360, resource-manager, BreakingChangeReviewRequired

#21133 Updated description of the script source to remove inline from the list
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-10-01-preview/machineLearningServices.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2022-10-01/machineLearningServices.json
Labels: CI-FixRequiredOnFailure, FixS360, Approved-ModelValidation, CI-BreakingChange-JavaScript, resource-manager

#21116 Fix RoundTrip error
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/kustoPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/sqlServer.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/workspace.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/bigDataPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/integrationRuntime.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/sqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/sqlServer.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/workspace.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Synapses, CI-BreakingChange-JavaScript, resource-manager, SuppressionReviewRequired

#21142 Release recoveryservicesbackup microsoft.recovery services 2022 09 01 preview
  specification/recoveryservicesbackup/resource-manager/readme.md
  specification/recoveryservicesbackup/resource-manager/readme.python.md
Labels: Recovery Services Backup, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager

#20769 Remove adminPassword from RestorePointCollections_Update_MaximumSet_Gen.json in 2022-03-01
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-03-01/examples/restorePointExamples/RestorePointCollections_Update_MaximumSet_Gen.json
Labels: Compute, FixS360, CI-BreakingChange-JavaScript, resource-manager

#21040 [Hub Generated] Review request for Microsoft.Network to add version preview/2021-02-01-preview
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NspLinkDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NspLinkGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NspLinkList.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NspLinkPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NspLinkReconcile.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NspLinkReferenceDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NspLinkReferenceGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NspLinkReferenceList.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NspLinkReferenceReconcile.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/networkSecurityPerimeter.json
Labels: Network, ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, NewApiVersionRequired

#21151 modify folder name in typescript.md
  specification/developerhub/resource-manager/readme.typescript.md
Labels: resource-manager

#21152 Release appcomplianceautomation microsoft.app compliance automation 2022 11 16 preview resolve comments 2
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-11-16-preview/appcomplianceautomation.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-11-16-preview/examples/OperationResults_Get.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-11-16-preview/examples/Report_CreateOrUpdate.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-11-16-preview/examples/Report_Get.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-11-16-preview/examples/Report_Update.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-11-16-preview/examples/Reports_List.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-11-16-preview/examples/Snapshot_ComplianceDetailedPdfReport_Download.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-11-16-preview/examples/Snapshot_CompliancePdfReport_Download.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-11-16-preview/examples/Snapshot_ComplianceReport_Download.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-11-16-preview/examples/Snapshot_Get.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-11-16-preview/examples/Snapshot_ResourceList_Download.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-11-16-preview/examples/Snapshots_List.json
Labels: resource-manager, RPaaS

#20903 Fix swagger issues for cdn preview version
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2022-05-01-preview/cdn.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2022-05-01-preview/examples/Profiles_MigrationCommit.json
Labels: Network - CDN, Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager, ReadyForApiTest, SuppressionReviewRequired, BreakingChangeReviewRequired

#21161 set sasUri x-ms-secret to true
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-11-16-preview/appcomplianceautomation.json
Labels: resource-manager, RPaaS

#20778 [Hub Generated] Review request for Microsoft.ManagedServices to add version stable/2022-10-01
  specification/managedservices/resource-manager/Microsoft.ManagedServices/stable/2022-10-01/examples/DeleteRegistrationAssignment.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/stable/2022-10-01/examples/DeleteRegistrationDefinition.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/stable/2022-10-01/examples/GetMarketplaceRegistrationDefinition.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/stable/2022-10-01/examples/GetMarketplaceRegistrationDefinitionAtTenantScope.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/stable/2022-10-01/examples/GetMarketplaceRegistrationDefinitions.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/stable/2022-10-01/examples/GetMarketplaceRegistrationDefinitionsAtTenantScope.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/stable/2022-10-01/examples/GetOperations.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/stable/2022-10-01/examples/GetOperationsWithScope.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/stable/2022-10-01/examples/GetRegistrationAssignment.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/stable/2022-10-01/examples/GetRegistrationAssignments.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/stable/2022-10-01/examples/GetRegistrationAssignmentsWithManagedByTenantIdEqFilter.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/stable/2022-10-01/examples/GetRegistrationAssignmentsWithManagedByTenantIdInFilter.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/stable/2022-10-01/examples/GetRegistrationDefinition.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/stable/2022-10-01/examples/GetRegistrationDefinitions.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/stable/2022-10-01/examples/GetRegistrationDefinitionsWithManagedByTenantIdEqFilter.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/stable/2022-10-01/examples/GetRegistrationDefinitionsWithManagedByTenantIdInFilter.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/stable/2022-10-01/examples/PutRegistrationAssignment.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/stable/2022-10-01/examples/PutRegistrationDefinition.json
  specification/managedservices/resource-manager/Microsoft.ManagedServices/stable/2022-10-01/managedservices.json
  specification/managedservices/resource-manager/readme.md
Labels: CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, resource-manager

#20792 [Hub Generated] Review request for Microsoft.ResourceGraph to add version stable/2022-10-01
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2022-10-01/examples/OperationsList.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2022-10-01/examples/ResourcesBasicQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2022-10-01/examples/ResourcesComplexQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2022-10-01/examples/ResourcesFacetQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2022-10-01/examples/ResourcesFilterQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2022-10-01/examples/ResourcesFirstPageQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2022-10-01/examples/ResourcesMgBasicQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2022-10-01/examples/ResourcesNextPageQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2022-10-01/examples/ResourcesPropertiesQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2022-10-01/examples/ResourcesRandomPageQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2022-10-01/examples/ResourcesSummarizeQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2022-10-01/examples/ResourcesTenantBasicQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2022-10-01/resourcegraph.json
  specification/resourcegraph/resource-manager/readme.go.md
  specification/resourcegraph/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, resource-manager, ReadyForApiTest

#20144 Add Cmk Payload to Common Types
  specification/common-types/resource-management/v4/customermanagedkeys.json
Labels: ARMSignedOff, ARMReview

#20646 Add entry to CODEOWNERS for Code Signing and Purview service
  CODEOWNERS
Labels: ReadyForApiTest

#20281 Added Blob Cold Tier
  specification/storage/data-plane/Microsoft.BlobStorage/preview/2021-12-02/blob.json
Labels: Storage, data-plane, BreakingChangeReviewRequired

#21113 12997638: Custom Block Response support for AppGW WAF
  specification/network/resource-manager/Microsoft.Network/stable/2022-07-01/examples/WafListAllPolicies.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-07-01/examples/WafListPolicies.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-07-01/examples/WafPolicyCreateOrUpdate.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-07-01/examples/WafPolicyGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-07-01/webapplicationfirewall.json
Labels: Network, ARMSignedOff, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#21091 S360 swagger correctness - added missing property totalCount
  specification/billing/resource-manager/Microsoft.Billing/stable/2021-10-01/billingSubscription.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2021-10-01/examples/BillingSubscriptionsListByBillingAccount.json
Labels: Billing, Approved-BreakingChange, resource-manager, BreakingChangeReviewRequired

#21076 Fix breaking change azureADOnlyAuthentication property from read only…
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/workspace.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/workspace.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Synapses, CI-BreakingChange-JavaScript, resource-manager, SuppressionReviewRequired

#20272 Add 2022-08-01-preview version to Microsoft.SignalRService/SignalR
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/Operations_List.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/SignalRCustomCertificates_CreateOrUpdate.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/SignalRCustomCertificates_Delete.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/SignalRCustomCertificates_Get.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/SignalRCustomCertificates_List.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/SignalRCustomDomains_CreateOrUpdate.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/SignalRCustomDomains_Delete.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/SignalRCustomDomains_Get.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/SignalRCustomDomains_List.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/SignalRPrivateEndpointConnections_Delete.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/SignalRPrivateEndpointConnections_Get.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/SignalRPrivateEndpointConnections_List.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/SignalRPrivateEndpointConnections_Update.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/SignalRPrivateLinkResources_List.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/SignalRSharedPrivateLinkResources_CreateOrUpdate.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/SignalRSharedPrivateLinkResources_Delete.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/SignalRSharedPrivateLinkResources_Get.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/SignalRSharedPrivateLinkResources_List.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/SignalR_CheckNameAvailability.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/SignalR_CreateOrUpdate.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/SignalR_Delete.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/SignalR_Get.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/SignalR_ListByResourceGroup.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/SignalR_ListBySubscription.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/SignalR_ListKeys.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/SignalR_ListSkus.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/SignalR_RegenerateKey.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/SignalR_Restart.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/SignalR_Update.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/Usages_List.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/signalr.json
  specification/signalr/resource-manager/readme.go.md
  specification/signalr/resource-manager/readme.java.md
  specification/signalr/resource-manager/readme.md
  specification/signalr/resource-manager/readme.ruby.md
Labels: ARMSignedOff, CI-FixRequiredOnFailure, Approved-Avocado, FixS360, ARMReview, resource-manager, ReadyForApiTest, SuppressionReviewRequired

#21118 Add Recommendations API Spec
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-11-01-preview/Recommendations.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-11-01-preview/examples/recommendations/GetRecommendation.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-11-01-preview/examples/recommendations/GetRecommendations.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-11-01-preview/examples/recommendations/PatchRecommendation.json
  specification/securityinsights/resource-manager/readme.md
Labels: ARMSignedOff, CI-FixRequiredOnFailure, ARMReview, resource-manager, ReadyForApiTest

#21175 Sri/recommendation details
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/consumption.json
Labels: CI-BreakingChange-JavaScript, resource-manager

#20467 [Hub Generated] Publish private branch 'eventListener'
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/Operations_List.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/Usages_List.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSubCustomCertificates_CreateOrUpdate.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSubCustomCertificates_Delete.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSubCustomCertificates_Get.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSubCustomCertificates_List.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSubCustomDomains_CreateOrUpdate.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSubCustomDomains_Delete.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSubCustomDomains_Get.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSubCustomDomains_List.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSubHubs_CreateOrUpdate.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSubHubs_Delete.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSubHubs_Get.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSubHubs_List.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSubPrivateEndpointConnections_Delete.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSubPrivateEndpointConnections_Get.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSubPrivateEndpointConnections_List.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSubPrivateEndpointConnections_Update.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSubPrivateLinkResources_List.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSubSharedPrivateLinkResources_CreateOrUpdate.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSubSharedPrivateLinkResources_Delete.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSubSharedPrivateLinkResources_Get.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSubSharedPrivateLinkResources_List.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSub_CheckNameAvailability.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSub_CreateOrUpdate.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSub_Delete.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSub_Get.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSub_ListByResourceGroup.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSub_ListBySubscription.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSub_ListKeys.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSub_ListSkus.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSub_RegenerateKey.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSub_Restart.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/examples/WebPubSub_Update.json
  specification/webpubsub/resource-manager/Microsoft.SignalRService/preview/2022-08-01-preview/webpubsub.json
  specification/webpubsub/resource-manager/readme.go.md
  specification/webpubsub/resource-manager/readme.java.md
  specification/webpubsub/resource-manager/readme.md
  specification/webpubsub/resource-manager/readme.ruby.md
Labels: ARMSignedOff, DoNotMerge, FixS360, ARMReview, resource-manager, ReadyForApiTest, SuppressionReviewRequired

#21213 Fix incorrect ID path
  specification/automanage/resource-manager/Microsoft.Automanage/stable/2022-05-04/examples/createOrUpdateConfigurationProfileAssignment.json
  specification/automanage/resource-manager/Microsoft.Automanage/stable/2022-05-04/examples/createOrUpdateConfigurationProfileHCIAssignment.json
  specification/automanage/resource-manager/Microsoft.Automanage/stable/2022-05-04/examples/createOrUpdateConfigurationProfileHCRPAssignment.json
Labels: resource-manager

#21219 [Go] update elasticsan readme.go.md
  specification/elasticsan/resource-manager/readme.go.md
Labels: resource-manager

#21218 Cherry picked resurrected verification
  specification/network/resource-manager/readme.md
Labels: Network, resource-manager

#21126 Add swagger for client cert & CORS policy
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ContainerApps_CreateOrUpdate.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#20212 Dev postgresql microsoft.d bfor postgre sql 2022 03 08 preview
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/Administrators.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/Backups.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/Capabilities.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/CheckNameAvailability.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/Configuration.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/Databases.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/FirewallRules.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/FlexibleServers.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/Operations.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/PrivateDnsZone.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/ServerStartStopRestart.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/VirtualNetwork.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/common-types.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/AdministratorAdd.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/AdministratorDelete.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/AdministratorGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/AdministratorsListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/BackupGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/BackupListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/CapabilitiesByLocation.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/CheckNameAvailability.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/CheckNameAvailabilityLocationBased.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ConfigurationGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ConfigurationListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ConfigurationUpdate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/DatabaseCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/DatabaseDelete.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/DatabaseGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/DatabasesListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/FirewallRuleCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/FirewallRuleDelete.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/FirewallRuleGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/FirewallRuleListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/GetPrivateDnsZoneSuffix.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/OperationList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ServerCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ServerCreateGeoRestore.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ServerCreatePointInTimeRestore.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ServerCreateReplica.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ServerCreateWithAadAuthEnabled.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ServerCreateWithDataEncryptionEnabled.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ServerDelete.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ServerGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ServerGetWithVnet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ServerList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ServerListByResourceGroup.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ServerRestart.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ServerRestartWithFailover.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ServerStart.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ServerStop.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ServerUpdate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ServerUpdateWithAadAuthEnabled.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ServerUpdateWithCustomerMaintenanceWindow.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ServerUpdateWithDataEncryptionEnabled.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ServerUpdateWithMajorVersionUpgrade.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/VirtualNetworkSubnetUsage.json
  specification/postgresql/resource-manager/readme.go.md
  specification/postgresql/resource-manager/readme.md
  specification/postgresql/resource-manager/readme.python.md
  specification/postgresql/resource-manager/readme.typescript.md
Labels: ARMSignedOff, PostgreSQL, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired

#21215 Fix ApiVersion for Anomaly Detector
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/MultivariateAnomalyDetector.json
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/UnivariateAnomalyDetector.json
Labels: Cognitive Services, CI-FixRequiredOnFailure, data-plane

#21030 Rename the operation ID for /:analyze-conversations path
  dev/cognitiveservices/data-plane/Language/analyzeconversations.json
  dev/cognitiveservices/data-plane/Language/questionanswering-authoring.json
Labels: potential-sdk-breaking-change, Cognitive Services, Approved-BreakingChange, CI-FixRequiredOnFailure

#21182 Disable purge protection in examples
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/ManagedHsm_CreateOrUpdate.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/ManagedHsm_Get.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/ManagedHsm_ListByResourceGroup.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/ManagedHsm_ListBySubscription.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/ManagedHsm_Update.json
Labels: KeyVault, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#21237 change ProvisioningState Cancelled to Canceled, and some descriptions
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-11-16-preview/appcomplianceautomation.json
Labels: resource-manager, RPaaS

#20804 Network Watcher S360 Correctness Fix
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkWatcherCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkWatcherGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkWatcherList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkWatcherListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkWatcherUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/networkWatcher.json
Labels: Network, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager, ReadyForApiTest, NewApiVersionRequired

#21205 Automation rules 2022-11-01 - alert & update triggers
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2022-11-01/AutomationRules.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2022-11-01/examples/automationRules/AutomationRules_CreateOrUpdate.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2022-11-01/examples/automationRules/AutomationRules_Get.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2022-11-01/examples/automationRules/AutomationRules_List.json
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, ARMReview, resource-manager

#20825 Search api data plane suggestions facets
  specification/marketplacecatalog/data-plane/Search/preview/2022-09-25-preview/examples/Facets_Get.json
  specification/marketplacecatalog/data-plane/Search/preview/2022-09-25-preview/examples/Search_Get.json
  specification/marketplacecatalog/data-plane/Search/preview/2022-09-25-preview/examples/SuggestionsProducts_Get.json
  specification/marketplacecatalog/data-plane/Search/preview/2022-09-25-preview/search.json
  specification/marketplacecatalog/data-plane/Search/readme.md
  specification/marketplacecatalog/data-plane/readme.md
Labels: WaitForReviewRevisit, data-plane, ReadyForApiTest

#21167 Storage STG 85/86
  specification/storage/data-plane/Azure.Storage.Files.DataLake/preview/2021-06-08/DataLakeStorage.json
  specification/storage/data-plane/Microsoft.BlobStorage/preview/2021-12-02/blob.json
  specification/storage/data-plane/Microsoft.BlobStorage/readme.md
  specification/storage/data-plane/Microsoft.FileStorage/preview/2021-12-02/file.json
  specification/storage/data-plane/Microsoft.FileStorage/readme.md
Labels: Storage, Approved-BreakingChange, data-plane

#20647 [Hub Generated] Review request for Microsoft.ConfidentialLedger to add version preview/2022-09-08-preview
  custom-words.txt
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2022-09-08-preview/confidentialledger.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2022-09-08-preview/examples/CheckNameAvailability.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2022-09-08-preview/examples/ConfidentialLedger_Create.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2022-09-08-preview/examples/ConfidentialLedger_Delete.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2022-09-08-preview/examples/ConfidentialLedger_Get.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2022-09-08-preview/examples/ConfidentialLedger_List.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2022-09-08-preview/examples/ConfidentialLedger_ListBySub.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2022-09-08-preview/examples/ConfidentialLedger_Update.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2022-09-08-preview/examples/ManagedCCF_Create.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2022-09-08-preview/examples/ManagedCCF_Delete.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2022-09-08-preview/examples/ManagedCCF_Get.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2022-09-08-preview/examples/ManagedCCF_List.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2022-09-08-preview/examples/ManagedCCF_ListBySub.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2022-09-08-preview/examples/ManagedCCF_Update.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2022-09-08-preview/examples/Operations_Get.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2022-09-08-preview/managedccf.json
  specification/confidentialledger/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, new-api-version

#20294 [Hub Generated] Publish private branch 'RPSaaSMaster-easm-data-plane'
  custom-words.txt
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-04-01-preview/easm.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-04-01-preview/examples/Assets_Export.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-04-01-preview/examples/Assets_Get.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-04-01-preview/examples/Assets_Links.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-04-01-preview/examples/Assets_List.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-04-01-preview/examples/Assets_Update.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-04-01-preview/examples/DiscoGroups_Get.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-04-01-preview/examples/DiscoGroups_List.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-04-01-preview/examples/DiscoGroups_ListRuns.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-04-01-preview/examples/DiscoGroups_Put.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-04-01-preview/examples/DiscoGroups_Remove.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-04-01-preview/examples/DiscoGroups_Run.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-04-01-preview/examples/DiscoTemplates_Get.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-04-01-preview/examples/DiscoTemplates_List.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-04-01-preview/examples/Reports_Snapshot.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-04-01-preview/examples/Reports_Summarize.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-04-01-preview/examples/SavedFilters_Get.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-04-01-preview/examples/SavedFilters_List.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-04-01-preview/examples/SavedFilters_Put.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-04-01-preview/examples/SavedFilters_Remove.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-04-01-preview/examples/Tasks_Cancel.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-04-01-preview/examples/Tasks_Download.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-04-01-preview/examples/Tasks_Get.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-04-01-preview/examples/Tasks_List.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-04-01-preview/examples/Workspaces_Get.json
  specification/riskiq/data-plane/readme.md
Labels: data-plane, RPaaS, new-api-version

#21230 Update operation IDs for Key Vault settings
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/settings.json
Labels: KeyVault, Approved-BreakingChange, data-plane, BreakingChangeReviewRequired

#21199 [CosmosDB] DTS: Add CosmosDBMongo enum
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2022-08-15-preview/dataTransferService.json
Labels: Cosmos, Approved-BreakingChange, resource-manager, BreakingChangeReviewRequired

#20934 [Hub Generated] Review request for Microsoft.RecoveryServices to add version preview/2022-09-30-preview
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/examples/Capabilities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/examples/CheckNameAvailability_Available.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/examples/CheckNameAvailability_NotAvailable.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/examples/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/examples/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/examples/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/examples/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/examples/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/examples/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/examples/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/examples/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/examples/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/examples/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/examples/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/examples/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/examples/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/examples/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/examples/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/examples/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/examples/PATCHVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/examples/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/examples/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/examples/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/examples/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/examples/PUTVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/examples/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/examples/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/examples/UpdateVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/registeredidentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/replicationusages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/vaults.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2022-09-30-preview/vaultusages.json
  specification/recoveryservices/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, RecoveryServices, ARMReview, resource-manager, ReadyForApiTest, SuppressionReviewRequired, new-api-version

#21074 Release appcomplianceautomation microsoft.app compliance automation 2022 11 16 preview 1
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-11-16-preview/appcomplianceautomation.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-11-16-preview/examples/Operations_List.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-11-16-preview/examples/Report_CreateOrUpdate.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-11-16-preview/examples/Report_Delete.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-11-16-preview/examples/Report_Get.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-11-16-preview/examples/Report_Update.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-11-16-preview/examples/Reports_List.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-11-16-preview/examples/Snapshot_ComplianceDetailedPdfReport_Download.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-11-16-preview/examples/Snapshot_CompliancePdfReport_Download.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-11-16-preview/examples/Snapshot_ComplianceReport_Download.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-11-16-preview/examples/Snapshot_Get.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-11-16-preview/examples/Snapshot_ResourceList_Download.json
  specification/appcomplianceautomation/resource-manager/Microsoft.AppComplianceAutomation/preview/2022-11-16-preview/examples/Snapshots_List.json
  specification/appcomplianceautomation/resource-manager/readme.az.md
  specification/appcomplianceautomation/resource-manager/readme.cli.md
  specification/appcomplianceautomation/resource-manager/readme.csharp.md
  specification/appcomplianceautomation/resource-manager/readme.go.md
  specification/appcomplianceautomation/resource-manager/readme.md
  specification/appcomplianceautomation/resource-manager/readme.python.md
  specification/appcomplianceautomation/resource-manager/readme.typescript.md
Labels: Approved-OkToMerge, ARMSignedOff, DoNotMerge, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, commitAfterSignedOff, CI-MissingBaseCommit

#21255 [Hub Generated] Publish private branch 'datafactory/v-jinpan/Script'
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: Data Factory, Approved-BreakingChange, CI-BreakingChange-Go, resource-manager, NewApiVersionRequired

#20026 Add specs for microsoft.monitor RP
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2021-06-03-preview/examples/MonitoringAccountsCreate.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2021-06-03-preview/examples/MonitoringAccountsDelete.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2021-06-03-preview/examples/MonitoringAccountsGet.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2021-06-03-preview/examples/MonitoringAccountsListByResourceGroup.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2021-06-03-preview/examples/MonitoringAccountsListBySubscription.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2021-06-03-preview/examples/MonitoringAccountsUpdate.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2021-06-03-preview/examples/OperationsGet.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2021-06-03-preview/monitoringAccounts_API.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2021-06-03-preview/operations_API.json
  specification/monitor/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit

#21249 Add alert definition navigation property to alert configuration
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2022-08-01-preview/RoleManagementAlerts.json
Labels: Authorization, Approved-BreakingChange, CI-BreakingChange-Go, resource-manager, NewApiVersionRequired

#20893 Cadl repo structure guidelines
  CONTRIBUTING.md
  README.md
  documentation/cadl-structure-guidelines.md
Labels: CI-FixRequiredOnFailure

#20868 devhub: fixing the constant name to be unique
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-04-01-preview/workflow.json
Labels: customer-reported, Approved-BreakingChange, CI-BreakingChange-Go, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired

#20293 [Hub Generated] Publish private branch 'RPSaaSMaster-easm'
  custom-words.txt
  specification/riskiq/resource-manager/Microsoft.Easm/preview/2022-04-01-preview/easm.json
  specification/riskiq/resource-manager/Microsoft.Easm/preview/2022-04-01-preview/examples/Labels_CreateAndUpdate.json
  specification/riskiq/resource-manager/Microsoft.Easm/preview/2022-04-01-preview/examples/Labels_Delete.json
  specification/riskiq/resource-manager/Microsoft.Easm/preview/2022-04-01-preview/examples/Labels_GetByWorkspace.json
  specification/riskiq/resource-manager/Microsoft.Easm/preview/2022-04-01-preview/examples/Labels_ListByWorkspace.json
  specification/riskiq/resource-manager/Microsoft.Easm/preview/2022-04-01-preview/examples/Labels_Update.json
  specification/riskiq/resource-manager/Microsoft.Easm/preview/2022-04-01-preview/examples/Operations_List.json
  specification/riskiq/resource-manager/Microsoft.Easm/preview/2022-04-01-preview/examples/Workspaces_CreateAndUpdate.json
  specification/riskiq/resource-manager/Microsoft.Easm/preview/2022-04-01-preview/examples/Workspaces_Delete.json
  specification/riskiq/resource-manager/Microsoft.Easm/preview/2022-04-01-preview/examples/Workspaces_Get.json
  specification/riskiq/resource-manager/Microsoft.Easm/preview/2022-04-01-preview/examples/Workspaces_ListByResourceGroup.json
  specification/riskiq/resource-manager/Microsoft.Easm/preview/2022-04-01-preview/examples/Workspaces_ListBySubscription.json
  specification/riskiq/resource-manager/Microsoft.Easm/preview/2022-04-01-preview/examples/Workspaces_Update.json
  specification/riskiq/resource-manager/readme.md
Labels: ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version

#21060 fix s360 for accountId in databox-v2022-02-01
  specification/databox/resource-manager/Microsoft.DataBox/stable/2021-12-01/databox.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-02-01/databox.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, FixS360, Approved-SdkBreakingChange-Go, resource-manager, NewApiVersionRequired, BreakingChangeReviewRequired

#21201 [Hub Generated] Review request for Microsoft.InstanceMetadataService to add version stable/2021-11-15
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2021-11-15/examples/GetAttestedData.json
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2021-11-15/examples/GetIdentityInfo.json
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2021-11-15/examples/GetIdentityToken.json
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2021-11-15/examples/GetInstanceMetadata.json
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2021-11-15/imds.json
  specification/imds/data-plane/readme.md
Labels: data-plane, SuppressionReviewRequired, new-api-version

#19934 Created common type v4 where changed string to uuid
  specification/common-types/resource-management/v4/privatelinks.json
  specification/common-types/resource-management/v4/types.json
Labels: ARMSignedOff, ARMReview

#20762 [Azure Web PubSub] Release 2022-11-01
  specification/webpubsub/data-plane/WebPubSub/stable/2022-11-01/examples/HealthApi_GetServiceStatus.json
  specification/webpubsub/data-plane/WebPubSub/stable/2022-11-01/examples/WebPubSub_AddConnectionToGroup.json
  specification/webpubsub/data-plane/WebPubSub/stable/2022-11-01/examples/WebPubSub_AddUserToGroup.json
  specification/webpubsub/data-plane/WebPubSub/stable/2022-11-01/examples/WebPubSub_CheckPermission.json
  specification/webpubsub/data-plane/WebPubSub/stable/2022-11-01/examples/WebPubSub_CloseAllConnections.json
  specification/webpubsub/data-plane/WebPubSub/stable/2022-11-01/examples/WebPubSub_CloseConnection.json
  specification/webpubsub/data-plane/WebPubSub/stable/2022-11-01/examples/WebPubSub_CloseGroupConnections.json
  specification/webpubsub/data-plane/WebPubSub/stable/2022-11-01/examples/WebPubSub_CloseUserConnections.json
  specification/webpubsub/data-plane/WebPubSub/stable/2022-11-01/examples/WebPubSub_ConnectionExists.json
  specification/webpubsub/data-plane/WebPubSub/stable/2022-11-01/examples/WebPubSub_GenerateClientToken.json
  specification/webpubsub/data-plane/WebPubSub/stable/2022-11-01/examples/WebPubSub_GrantPermission.json
  specification/webpubsub/data-plane/WebPubSub/stable/2022-11-01/examples/WebPubSub_GroupExists.json
  specification/webpubsub/data-plane/WebPubSub/stable/2022-11-01/examples/WebPubSub_RemoveConnectionFromAllGroups.json
  specification/webpubsub/data-plane/WebPubSub/stable/2022-11-01/examples/WebPubSub_RemoveConnectionFromGroup.json
  specification/webpubsub/data-plane/WebPubSub/stable/2022-11-01/examples/WebPubSub_RemoveUserFromAllGroups.json
  specification/webpubsub/data-plane/WebPubSub/stable/2022-11-01/examples/WebPubSub_RemoveUserFromGroup.json
  specification/webpubsub/data-plane/WebPubSub/stable/2022-11-01/examples/WebPubSub_RevokePermission.json
  specification/webpubsub/data-plane/WebPubSub/stable/2022-11-01/examples/WebPubSub_SendToAll.json
  specification/webpubsub/data-plane/WebPubSub/stable/2022-11-01/examples/WebPubSub_SendToConnection.json
  specification/webpubsub/data-plane/WebPubSub/stable/2022-11-01/examples/WebPubSub_SendToGroup.json
  specification/webpubsub/data-plane/WebPubSub/stable/2022-11-01/examples/WebPubSub_SendToUser.json
  specification/webpubsub/data-plane/WebPubSub/stable/2022-11-01/examples/WebPubSub_UserExists.json
  specification/webpubsub/data-plane/WebPubSub/stable/2022-11-01/webpubsub.json
  specification/webpubsub/data-plane/readme.md
Labels: Approved-BreakingChange, ARMReview, data-plane, ReadyForApiTest, BreakingChangeReviewRequired

#21250 Add missing properties to 2022-04-01 files
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/authorization-DenyAssignmentCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/authorization-RoleDefinitionsCalls.json
Labels: Authorization, Approved-BreakingChange, CI-BreakingChange-Go, FixS360, resource-manager

#21153 [NetApp] BugFix location header in Examples
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/Accounts_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/BackupPolicies_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/Backups_Account_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/Backups_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/Pools_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/Pools_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/SnapshotPolicies_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/Snapshots_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/Snapshots_SingleFileRestore.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/Snapshots_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/Subvolumes_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/Subvolumes_Metadata.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/Subvolumes_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/VolumeGroups_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/VolumeQuotaRules_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/VolumeQuotaRules_Update.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/Volumes_AuthorizeReplication.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/Volumes_BreakReplication.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/Volumes_Delete.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/Volumes_DeleteReplication.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/Volumes_FinalizeRelocation.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/Volumes_PoolChange.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/Volumes_ReInitializeReplication.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/Volumes_ReestablishReplication.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/Volumes_Relocate.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/Volumes_ResetCifsPassword.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/Volumes_ResyncReplication.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/Volumes_Revert.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/Volumes_RevertRelocation.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-05-01/examples/Volumes_Update.json
Labels: resource-manager

#21100 Update containerservice scenarios package-2022-06
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-06-01/scenarios/basic.yaml
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-06-01/scenarios/managedClusters.yaml
  specification/containerservice/resource-manager/readme.test.md
Labels: Container Service, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager, ReadyForApiTest

#21305 {AzureRecoveryServices} fixes Azure/azure-rest-api-specs#21000
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/bms.json
Labels: Recovery Services Backup, CI-FixRequiredOnFailure, Approved-ModelValidation, resource-manager

#21308 [Hub Generated] Publish private branch 'release-trafficmanager-Microsoft.Network-2022-04-01-preview'
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/Endpoint-DELETE-External.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/Endpoint-GET-External-WithGeoMapping.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/Endpoint-GET-External-WithLocation.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/Endpoint-GET-External-WithSubnetMapping.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/Endpoint-PATCH-External-Target.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/Endpoint-PUT-External-WithAlwaysServe.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/Endpoint-PUT-External-WithCustomHeaders.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/Endpoint-PUT-External-WithGeoMapping.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/Endpoint-PUT-External-WithLocation.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/Endpoint-PUT-External-WithSubnetMapping.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/GeographicHierarchy-GET-default.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/HeatMap-GET-With-Null-Values.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/HeatMap-GET-With-TopLeft-BotRight.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/HeatMap-GET.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/NameAvailabilityTest_NameAvailable-POST-example-21.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/NameAvailabilityTest_NameNotAvailable-POST-example-23.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/Profile-DELETE.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/Profile-GET-ByResourceGroup.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/Profile-GET-BySubscription.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/Profile-GET-WithEndpoints.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/Profile-GET-WithTrafficViewDisabled.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/Profile-GET-WithTrafficViewEnabled.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/Profile-PATCH-MonitorConfig.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/Profile-PUT-MultiValue.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/Profile-PUT-NoEndpoints.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/Profile-PUT-WithAliasing.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/Profile-PUT-WithCustomHeaders.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/Profile-PUT-WithEndpoints.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/Profile-PUT-WithNestedEndpoints.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/TrafficManagerUserMetricsKeys-DELETE.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/TrafficManagerUserMetricsKeys-GET.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/examples/TrafficManagerUserMetricsKeys-PUT.json
  specification/trafficmanager/resource-manager/Microsoft.Network/preview/2022-04-01-preview/trafficmanager.json
  specification/trafficmanager/resource-manager/readme.md
Labels: WaitForARMFeedback, Network - Traffic Manager, CI-FixRequiredOnFailure, Approved-Avocado, ARMReview, resource-manager, new-api-version

#21317 Added docs for Append and Flush leasing operations
  specification/storage/data-plane/Microsoft.StorageDataLake/stable/2019-12-12/DataLakeStorage.json
Labels: Storage, CI-FixRequiredOnFailure, data-plane, BreakingChangeReviewRequired

#21298 AD APIVersion Swagger
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/MultivariateAnomalyDetector.json
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/UnivariateAnomalyDetector.json
Labels: Cognitive Services, CI-FixRequiredOnFailure, data-plane

#21086 [Azure DevCenter] Update operation groups to improve SDK codegen
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/devbox.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/devcenter.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/environments.json
Labels: Approved-BreakingChange, CI-FixRequiredOnFailure, APIStewardshipBoard-SignedOff, data-plane, BreakingChangeReviewRequired
