Repository Azure/azure-rest-api-specs, pull requests merged in 2022-06, with the labels that each got.

#18936 Update README.md
  README.md
Labels: Documentation-Only

#19239 Lzevthub
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/createOrUpdateDiagnosticSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/createOrUpdateDiagnosticSettingCategory.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/createOrUpdateManagementGroupDiagnosticSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/createOrUpdateManagementGroupDiagnosticSettingCategory.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/createOrUpdateSubscriptionDiagnosticSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/createOrUpdateSubscriptionDiagnosticSettingCategory.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/getDiagnosticSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/getDiagnosticSettingCategory.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/getManagementGroupDiagnosticSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/getManagementGroupDiagnosticSettingCategory.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/getSubscriptionDiagnosticSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/getSubscriptionDiagnosticSettingCategory.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/listManagementGroupDiagnosticSettings.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/listManagementGroupDiagnosticSettingsCategory.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/listSubscriptionDiagnosticSettings.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/examples/listSubscriptionDiagnosticSettingsCategory.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript

#19010 Corect duplicate parent references in timeseriesinsights@2018-08-15-preview
  specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2018-08-15-preview/timeseriesinsights.json
Labels: CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure

#18531 NSP API changes
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NSPCheckMembersPost.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NetworkSecurityPerimeterGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NetworkSecurityPerimeterList.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NetworkSecurityPerimeterListAll.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NetworkSecurityPerimeterPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NspAccessRuleReconcile.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NspAssociationProxyDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NspProfileGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NspProfileList.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NspProfilePut.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/QueryNSP.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/networkSecurityPerimeter.json
Labels: Network, ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, NewApiVersionRequired, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript, ARMReview

#19219 Expose some missing query parameters and add some examples
  specification/purview/data-plane/Azure.Analytics.Purview.Catalog/preview/2022-03-01-preview/examples/Glossary_ExportGlossaryTermsAsCsv.json
  specification/purview/data-plane/Azure.Analytics.Purview.Catalog/preview/2022-03-01-preview/examples/Glossary_GetGlossaryTerm_WithoutAssets.json
  specification/purview/data-plane/Azure.Analytics.Purview.Catalog/preview/2022-03-01-preview/examples/Glossary_GetImportCSVOperationStatus.json
  specification/purview/data-plane/Azure.Analytics.Purview.Catalog/preview/2022-03-01-preview/examples/Glossary_GetImportCSVOperationStatusByGloassaryName.json
  specification/purview/data-plane/Azure.Analytics.Purview.Catalog/preview/2022-03-01-preview/purviewcatalog.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, CI-FixRequiredOnFailure, Approved-ModelValidation

#18980 Adding a new operation to get a list of VMImages in an edgezone by Ed…
  custom-words.txt
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/examples/virtualMachineImageExamples/VirtualMachineImagesEdgeZone_ListByEdgeZone_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/examples/virtualMachineImageExamples/VirtualMachineImagesEdgeZone_ListByEdgeZone_MinimumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/virtualMachineImage.json
Labels: ARMSignedOff, customer-reported, Approved-BreakingChange, NewApiVersionRequired, CI-BreakingChange-Go-V2, Approved-SdkBreakingChange-Go-V2, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview

#19278 [Mgmt] Remove global configuration "multiapi"
  specification/applicationinsights/resource-manager/readme.python.md
  specification/authorization/resource-manager/readme.python.md
  specification/digitaltwins/resource-manager/readme.python.md
  specification/dns/resource-manager/readme.python.md
  specification/kubernetesconfiguration/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2

#19274 [Compute]Config readme.python.md for 2022-03-02
  specification/compute/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#19281 [Mgmt][Compute] Remove global configuration "multiapi"
  specification/compute/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#19273 [Mgmt] Remove global configuration "multiapi"
  specification/iothub/resource-manager/readme.python.md
  specification/monitor/resource-manager/readme.python.md
  specification/msi/resource-manager/readme.python.md
  specification/redhatopenshift/resource-manager/readme.python.md
  specification/resourcehealth/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript

#19280 [Mgmt] Remove global configuration "multiapi"
  specification/appplatform/resource-manager/readme.python.md
  specification/databox/resource-manager/readme.python.md
  specification/eventhub/resource-manager/readme.python.md
  specification/servicebus/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, ShiftLeftViolation

#19313 Fix description in all API versions
  specification/app/resource-manager/Microsoft.App/preview/2022-01-01-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/ManagedEnvironments.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript

#19204 change URL format for hostName description
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json
Labels: Data Factory

#19224 Add ManagedServerDnsAlias to readme file
  specification/sql/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript

#18862 Removes location property from load balancer backend address pool properties
  specification/network/resource-manager/Microsoft.Network/stable/2020-11-01/loadBalancer.json
Labels: Network, customer-reported, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, FixS360, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#19037 Credit APIs- add credit expired event
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/consumption.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#19155 [Service Bus] 2021-11-01 - Adding status code 202 to Private endpoints PUT
  specification/servicebus/resource-manager/Microsoft.ServiceBus/stable/2021-11-01/examples/NameSpaces/PrivateEndPointConnectionCreate.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/stable/2021-11-01/namespace-preview.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go-V2

#19325 Update default tag to 2021-10-01-preview in the readme.md
  specification/communication/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, Approved-Avocado, Approved-SdkBreakingChange-Python, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript

#19304 updating the response format for OEP DDP APIs
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/preview/2022-04-04-preview/examples/EnergyServices_AddPartition_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/preview/2022-04-04-preview/examples/EnergyServices_ListPartitions_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/preview/2022-04-04-preview/examples/EnergyServices_RemovePartition_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/preview/2022-04-04-preview/oep.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, CI-BreakingChange-Go-V2, Approved-SdkBreakingChange-Go-V2

#19327 Yifanzhou/fix error response
  specification/purview/data-plane/Azure.Analytics.Purview.Catalog/preview/2022-03-01-preview/purviewcatalog.json
Labels: CI-FixRequiredOnFailure, Approved-ModelValidation

#19333 Revert "Add ManagedServerDnsAlias to readme file"
  specification/sql/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, Approved-Avocado, CI-BreakingChange-JavaScript

#19247 [DataFactory]Add support OAuth2ClientCredential auth in RestSevice
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2021-06-01-preview/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
Labels: Approved-BreakingChange, NewApiVersionRequired

#19259 Fork/web ant97 2022 03 01
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/WebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/GetSiteDeploymentStatus.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/GetSiteDeploymentStatusSlot.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/ListSiteDeploymentStatus.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/ListSiteDeploymentStatusSlot.json
  specification/web/resource-manager/readme.md
Labels: ARMSignedOff, CI-FixRequiredOnFailure, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript, ARMReview

#19054 Add traffic info to revisions api
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/ContainerAppsRevisions.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/Revisions_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/Revisions_List.json
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript, ARMReview

#19311 Update cloud service swagger file and examples
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-04-04/CloudServiceRP/cloudService.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-04-04/CloudServiceRP/examples/CloudServiceRoleInstance_Get_InstanceView.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-04-04/CloudServiceRP/examples/CloudServiceRoleInstance_Reimage_ByCloudService.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-04-04/CloudServiceRP/examples/CloudServiceRoleInstance_Restart.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-04-04/CloudServiceRP/examples/CloudServiceRoleInstance_Restart_ByCloudService.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-04-04/CloudServiceRP/examples/CloudService_Create_WithMultiRole.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-04-04/CloudServiceRP/examples/CloudService_Create_WithSingleRole.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-04-04/CloudServiceRP/examples/CloudService_Create_WithSingleRoleAndCertificate.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-04-04/CloudServiceRP/examples/CloudService_Create_WithSingleRoleAndRDP.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-04-04/CloudServiceRP/examples/CloudService_Get_WithMultiRoleAndRDP.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-04-04/CloudServiceRP/examples/CloudService_List_ByResourceGroup.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-04-04/CloudServiceRP/examples/CloudService_List_BySubscription.json
Labels: BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#19225 [NetAppFiles] Code generation Fix for csharp autorest codegen
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2021-08-01/netapp.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2021-10-01/netapp.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-01-01/netapp.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#19340 Add new parameter noInternetAdvertise to CustomIPPrefix
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/customIpPrefix.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/CustomIpPrefixList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/CustomIpPrefixListAll.json
Labels: CI-BreakingChange-JavaScript

#19352 PublicNetworkAccess Swagger Change
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/CommonDefinitions.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/StaticSites.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/WebApps.json
  specification/web/resource-manager/readme.md
Labels: WaitForARMFeedback, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript, ARMReview

#18728 [Hub Generated] Review request for Microsoft.DigitalTwins to add version stable/2022-05-31
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/digitaltwins.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/DigitalTwinsCheckNameAvailability_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/DigitalTwinsDelete_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/DigitalTwinsDelete_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/DigitalTwinsEndpointDelete_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/DigitalTwinsEndpointDelete_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/DigitalTwinsEndpointGet_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/DigitalTwinsEndpointGet_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/DigitalTwinsEndpointPut_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/DigitalTwinsEndpointPut_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/DigitalTwinsEndpointsGet_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/DigitalTwinsEndpointsGet_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/DigitalTwinsGet_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/DigitalTwinsGet_WithPrivateEndpointConnection_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/DigitalTwinsGet_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/DigitalTwinsListByResourceGroup_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/DigitalTwinsList_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/DigitalTwinsOperationsList_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/DigitalTwinsPatch_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/DigitalTwinsPatch_WithPublicNetworkAccess.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/DigitalTwinsPatch_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/DigitalTwinsPut_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/DigitalTwinsPut_WithPublicNetworkAccess.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/DigitalTwinsPut_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/PrivateEndpointConnectionByConnectionName_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/PrivateEndpointConnectionDelete_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/PrivateEndpointConnectionPut_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/PrivateEndpointConnectionsList_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/PrivateLinkResourcesByGroupId_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/PrivateLinkResourcesList_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/TimeSeriesDatabaseConnectionsDelete_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/TimeSeriesDatabaseConnectionsGet_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/TimeSeriesDatabaseConnectionsList_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-05-31/examples/TimeSeriesDatabaseConnectionsPut_example.json
  specification/digitaltwins/resource-manager/readme.go.md
  specification/digitaltwins/resource-manager/readme.java.md
  specification/digitaltwins/resource-manager/readme.md
  specification/digitaltwins/resource-manager/readme.python.md
Labels: ARMSignedOff

#19215 Route Server Integration feature swagger changes
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/azureFirewall.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/AzureFirewallListLearnedIPPrefixes.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/firewallPolicy.json
Labels: Reviewed-ChangesRequested, ARMSignedOff, CI-BreakingChange-JavaScript

#18131 [Hub Generated] Review request for Microsoft.Marketplace to add version stable/2022-03-01
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/Marketplace.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/AcknowledgeNotification.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/AdminRequestApprovalsList.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/AnyExistingOffersInTheCollections.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/ApproveAllItems.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/BillingAccounts.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/BulkCollectionsAction.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/CollectionsToSubscriptionsMapping.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/CreateApprovalRequest.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/CreatePrivateStoreCollection.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/DeletePrivateStore.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/DeletePrivateStoreCollection.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/DeletePrivateStoreOffer.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/DisableApproveAllItems.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/FetchAllSubscriptionsInTenant.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/GetAdminRequestApproval.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/GetApprovalRequestsList.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/GetOperations.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/GetPrivateStore.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/GetPrivateStoreCollection.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/GetPrivateStoreCollectionOffer.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/GetPrivateStoreCollectionsList.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/GetPrivateStoreOffers.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/GetPrivateStores.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/GetRequestApproval.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/ListNewPlansNotifications.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/ListStopSellOffersPlansNotifications.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/ListSubscriptionsContext.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/NotificationsState.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/PostPrivateStoreCollection.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/PostPrivateStoreCollectionOffer.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/PrivateStoreOffer_update.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/PrivateStores_update.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/QueryApprovedPlans.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/QueryOffers.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/QueryRequestApproval.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/QueryUserOffers.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/TransferOffers.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/UpdateAdminRequestApproval.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/UpsertOfferWithMultiContext.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/WithdrawPlan.json
  specification/marketplace/resource-manager/readme.md
Labels: Approved-OkToMerge, ARMSignedOff, NewApiVersionRequired

#18827 microsoft.storagecache 2022-05-01
  custom-words.txt
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/AscOperations_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/AscResourceUsages_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/Caches_CreateOrUpdate.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/Caches_CreateOrUpdate_ldap_only.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/Caches_DebugInfo.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/Caches_Delete.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/Caches_Flush.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/Caches_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/Caches_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/Caches_ListByResourceGroup.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/Caches_Start.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/Caches_Stop.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/Caches_Update.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/Caches_Update_ldap_only.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/Caches_UpgradeFirmware.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/Operations_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/PausePrimingJob.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/ResumePrimingJob.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/Skus_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/SpaceAllocation_Post.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/StartPrimingJob.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/StopPrimingJob.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/StorageTargets_CreateOrUpdate.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/StorageTargets_CreateOrUpdate_BlobNfs.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/StorageTargets_CreateOrUpdate_NoJunctions.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/StorageTargets_Delete.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/StorageTargets_DnsRefresh.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/StorageTargets_Flush.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/StorageTargets_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/StorageTargets_Invalidate.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/StorageTargets_ListByCache.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/StorageTargets_Resume.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/StorageTargets_Suspend.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/examples/UsageModels_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2022-05-01/storagecache.json
  specification/storagecache/resource-manager/readme.md
Labels: Approved-OkToMerge, ARMSignedOff, CI-FixRequiredOnFailure, Approved-ModelValidation

#18882 Microsoft.DBForPostgreSQL/Flexible servers 2022-01-20-preview
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/Databases.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/PrivateDnsZone.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/BackupGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/BackupListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/CapabilitiesByLocation.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/CheckNameAvailability.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/ConfigurationGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/ConfigurationListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/ConfigurationUpdate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/DatabaseCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/DatabaseDelete.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/DatabaseGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/DatabasesListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/FirewallRuleCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/FirewallRuleDelete.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/FirewallRuleGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/FirewallRuleListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/GetPrivateDnsZoneSuffix.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/OperationList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/ServerCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/ServerCreatePointInTimeRestore.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/ServerDelete.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/ServerGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/ServerGetWithVnet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/ServerList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/ServerListByResourceGroup.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/ServerRestart.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/ServerRestartWithFailover.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/ServerStart.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/ServerStop.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/ServerUpdate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/ServerUpdateWithCustomerMaintenanceWindow.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/VirtualNetworkSubnetUsage.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/postgresql.json
  specification/postgresql/resource-manager/readme.md
  specification/postgresql/resource-manager/readme.python.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python

#19298 Append with Flush
  specification/storage/data-plane/Azure.Storage.Files.DataLake/preview/2021-06-08/DataLakeStorage.json
Labels: Approved-BreakingChange, NewApiVersionRequired, CI-FixRequiredOnFailure

#19361 Add Slot types for CloudServiceNetworkProfile
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-04-04/CloudServiceRP/cloudService.json
Labels: CI-FixRequiredOnFailure

#19348 ADDED DEFAULT VALUE TO accountId in
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2021-10-18-preview/vi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2021-10-27-preview/vi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2021-11-10-preview/vi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/vi.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#19353 Rename operation to upload
  specification/monitor/data-plane/ingestion/preview/2021-11-01-preview/DataCollectionRules.json
Labels: BreakingChangeReviewRequired

#18691 Add specs for Hosting Environment Maintenance Control
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/AppServiceEnvironments.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/CommonDefinitions.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_TestUpgradeAvailableNotification.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_Upgrade.json
Labels: ARMSignedOff, CI-FixRequiredOnFailure, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#19382 update wrong enum value for customipprefix
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/customIpPrefix.json
Labels: CI-BreakingChange-JavaScript, ARMReview

#18604 Added logic apps operations
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/WebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/WorkflowRunActionRepetitionsRequestHistories_Get.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/WorkflowRunActionRepetitionsRequestHistories_List.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/WorkflowRunActionRepetitions_Get.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/WorkflowRunActionRepetitions_List.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/WorkflowRunActionRepetitions_ListExpressionTraces.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/WorkflowRunActionScopeRepetitions_Get.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/WorkflowRunActionScopeRepetitions_List.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/WorkflowRunActions_Get.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/WorkflowRunActions_List.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/WorkflowRunActions_ListExpressionTraces.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/WorkflowRuns_Cancel.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/WorkflowRuns_Get.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/WorkflowRuns_List.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/WorkflowTriggerHistories_Get.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/WorkflowTriggerHistories_List.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/WorkflowTriggerHistories_Resubmit.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/WorkflowTriggers_Get.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/WorkflowTriggers_GetSchemaJson.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/WorkflowTriggers_List.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/WorkflowTriggers_ListCallbackUrl.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/WorkflowTriggers_Run.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/WorkflowVersions_Get.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/WorkflowVersions_List.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/Workflows_RegenerateAccessKey.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/Workflows_Validate.json
Labels: CI-FixRequiredOnFailure

#19360 Add httpReadBufferSize to dapr config in Microsoft.App-2022-05-01
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/ContainerApps_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/ContainerApps_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/ContainerApps_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/ContainerApps_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/ContainerApps_Patch.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript

#19335 [Hub Generated] Publish private branch 'brfole/devhub-spec'
  custom-words.txt
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-04-01-preview/examples/GitHubOAuth.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-04-01-preview/examples/GitHubOAuthCallback.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-04-01-preview/examples/GitHubOAuth_List.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-04-01-preview/examples/Operation_List.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-04-01-preview/examples/Workflow_CreateOrUpdate.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-04-01-preview/examples/Workflow_Delete.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-04-01-preview/examples/Workflow_Get.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-04-01-preview/examples/Workflow_List.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-04-01-preview/examples/Workflow_ListByResourceGroup.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-04-01-preview/examples/Workflow_UpdateTags.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-04-01-preview/workflow.json
  specification/developerhub/resource-manager/readme.md
Labels: ARMReview

#18964 Fix examples for compute default tag:package-2021-12-01
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-07-01/examples/skus/ListAvailableResourceSkusWithExtendedLocations.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-10-01/examples/gallery/GetAGalleryImageVersionWithSnapshotsAsSource.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/CapacityReservationGroups_Update_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/CapacityReservations_Update_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/CreateOrUpdateAVmWithVMSizeProperties.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/DedicatedHostGroups_Update_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/DedicatedHosts_Update_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/ForceDeleteVirtualMachine.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/ForceDeleteVirtualMachineScaleSetVM.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/ForceDeleteVirtualMachineScaleSets.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/VirtualMachineScaleSetVMs_Update_MaximumSet_Gen.json
Labels: Compute, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript, FixSwaggerExample

#18673 APIM - Revert accidental changes
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-04-01-preview/examples/ApiManagementGetPolicyFormat.json
Labels: API Management

#19389 [Go] Add go track2 config
  specification/addons/resource-manager/readme.go.md
  specification/addons/resource-manager/readme.md
  specification/commerce/resource-manager/readme.go.md
  specification/commerce/resource-manager/readme.md
  specification/customer-insights/resource-manager/readme.go.md
  specification/customer-insights/resource-manager/readme.md
  specification/datamigration/resource-manager/readme.go.md
  specification/datamigration/resource-manager/readme.md
  specification/dnc/resource-manager/readme.go.md
  specification/dnc/resource-manager/readme.md
  specification/engagementfabric/resource-manager/readme.go.md
  specification/engagementfabric/resource-manager/readme.md
  specification/iotspaces/resource-manager/readme.go.md
  specification/managednetwork/resource-manager/readme.go.md
  specification/managednetwork/resource-manager/readme.md
  specification/migrate/resource-manager/readme.go.md
  specification/migrate/resource-manager/readme.md
  specification/powerplatform/resource-manager/readme.go.md
  specification/powerplatform/resource-manager/readme.md
  specification/resourceconnector/resource-manager/readme.go.md
  specification/resourceconnector/resource-manager/readme.md
  specification/storSimple1200Series/resource-manager/readme.go.md
  specification/storSimple1200Series/resource-manager/readme.md
  specification/storsimple8000series/resource-manager/readme.go.md
  specification/storsimple8000series/resource-manager/readme.md
  specification/timeseriesinsights/resource-manager/readme.go.md
  specification/timeseriesinsights/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2

#19390 [NetAppFiles] Bugfix Add missing x-ms-pageable to new operation
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-01-01/netapp.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#19299 Updated ExplicitProxySettings to ExplicitProxy on Firewall Policy ver…
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/FirewallPolicyGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/FirewallPolicyPatch.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/FirewallPolicyPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/firewallPolicy.json
Labels: CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#19391 Added Nic entity type and IoT Device properties to EntityTypes.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-07-01-preview/common/EntityTypes.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-07-01-preview/examples/entities/GetIoTDeviceEntityById.json
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript, ARMReview

#19402 Bug Fix: Update internal Constructors setting to False
  specification/labservices/resource-manager/Microsoft.LabServices/preview/2021-10-01-preview/LabServices.json
  specification/labservices/resource-manager/Microsoft.LabServices/preview/2021-10-01-preview/OperationResults.json
  specification/labservices/resource-manager/Microsoft.LabServices/preview/2021-11-15-preview/LabServices.json
  specification/labservices/resource-manager/Microsoft.LabServices/preview/2021-11-15-preview/OperationResults.json
Labels: CI-BreakingChange-Python-Track2

#19417 Add default accountid
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2021-10-27-preview/vi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2021-11-10-preview/vi.json
Labels: BreakingChangeReviewRequired, NewApiVersionRequired, FixS360

#19401 Add new version0526 public
  custom-words.txt
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-05-26/examples/FluidRelayContainers_Delete.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-05-26/examples/FluidRelayContainers_Get.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-05-26/examples/FluidRelayContainers_ListByFluidRelayServer.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-05-26/examples/FluidRelayServerOperations.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-05-26/examples/FluidRelayServers_CreateOrUpdate.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-05-26/examples/FluidRelayServers_CreateWithAmi.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-05-26/examples/FluidRelayServers_CreateWithCmk.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-05-26/examples/FluidRelayServers_Delete.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-05-26/examples/FluidRelayServers_Get.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-05-26/examples/FluidRelayServers_GetKeys.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-05-26/examples/FluidRelayServers_ListByResourceGroup.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-05-26/examples/FluidRelayServers_ListBySubscription.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-05-26/examples/FluidRelayServers_ListKeys.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-05-26/examples/FluidRelayServers_RegenerateKeys.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-05-26/examples/FluidRelayServers_Update.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-05-26/fluidrelay.json
  specification/fluidrelay/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, ARMReview

#19398 Adding swagger for Microsoft.Security 2022-01-01-preview
  specification/security/resource-manager/Microsoft.Security/preview/2022-01-01-preview/examples/GovernanceAssignments/DeleteGovernanceAssignment_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-01-01-preview/examples/GovernanceAssignments/GetGovernanceAssignment_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-01-01-preview/examples/GovernanceAssignments/ListGovernanceAssignments_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-01-01-preview/examples/GovernanceAssignments/PutGovernanceAssignment_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-01-01-preview/examples/GovernanceRules/DeleteGovernanceRule_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-01-01-preview/examples/GovernanceRules/DeleteSecurityConnectorGovernanceRule_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-01-01-preview/examples/GovernanceRules/GetGovernanceRuleExecuteStatus_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-01-01-preview/examples/GovernanceRules/GetGovernanceRule_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-01-01-preview/examples/GovernanceRules/GetSecurityConnectorGovernanceRuleExecuteStatus_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-01-01-preview/examples/GovernanceRules/GetSecurityConnectorGovernanceRule_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-01-01-preview/examples/GovernanceRules/ListBySecurityConnectorGovernanceRules_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-01-01-preview/examples/GovernanceRules/ListBySubscriptionGovernanceRules_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-01-01-preview/examples/GovernanceRules/PostGovernanceRule_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-01-01-preview/examples/GovernanceRules/PostSecurityConnectorGovernanceRule_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-01-01-preview/examples/GovernanceRules/PutGovernanceRule_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-01-01-preview/examples/GovernanceRules/PutSecurityConnectorGovernanceRule_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-01-01-preview/governanceAssignments.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-01-01-preview/governanceRules.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview

#19152 Fix exmaples for network default tag: package-2021-08
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/ApplicationGatewayCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/ApplicationGatewayGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/ApplicationGatewayPrivateEndpointConnectionUpdate.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/AzureFirewallPutWithAdditionalProperties.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/BastionSessionDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/DscpConfigurationGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/DscpConfigurationList.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/DscpConfigurationListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/ExpressRouteCircuitPeeringCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/ExpressRouteCircuitPeeringList.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/HubRouteTableList.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/HubVirtualNetworkConnectionList.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/NetworkWatcherPacketCaptureCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/PrivateLinkServiceUpdatePrivateEndpointConnection.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/ServiceTagInformationListResultWithNoAddressPrefixes.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/VirtualHubRouteTableV2List.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/VirtualNetworkGatewayConnectionReset.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/VirtualNetworkGatewayNatRuleList.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/VirtualWANGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/VirtualWANList.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/VirtualWANListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/VirtualWANPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/VirtualWANUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/VmssNetworkInterfaceGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/VmssNetworkInterfaceIpConfigGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/VmssNetworkInterfaceIpConfigList.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/VmssNetworkInterfaceList.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/VmssPublicIpGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/VmssPublicIpListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/VmssVmNetworkInterfaceList.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/VmssVmPublicIpList.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/VpnSiteLinkConnectionReset.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/VpnSiteList.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/VpnSiteListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/VpnSiteUpdateTags.json
Labels: Network

#19422 Update readmes for the 2022-06-02-preview dev branch of container service
  specification/containerservice/resource-manager/readme.go.md
  specification/containerservice/resource-manager/readme.java.md
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: CI-BreakingChange-JavaScript

#19421 Update readmes for the 2022-06-01 dev branch of container service
  specification/containerservice/resource-manager/readme.go.md
  specification/containerservice/resource-manager/readme.java.md
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2

#19367 {AzureCXP} fixes Azure/azure-sdk-for-python#24694
  specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/runbook.json
  specification/automation/resource-manager/Microsoft.Automation/stable/2018-06-30/runbook.json
  specification/automation/resource-manager/Microsoft.Automation/stable/2019-06-01/runbook.json
Labels: CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, Approved-ModelValidation, Approved-SdkBreakingChange-Python

#19293 [Marketplace Catalog - Search] resource manager api
  specification/marketplacecatalog/resource-manager/Search/readme.md
  specification/marketplacecatalog/resource-manager/Search/stable/2022-02-02/examples/Operations_Get.json
  specification/marketplacecatalog/resource-manager/Search/stable/2022-02-02/examples/Search_Post.json
  specification/marketplacecatalog/resource-manager/Search/stable/2022-02-02/search.json
  specification/marketplacecatalog/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview

#19365 {OperationalInsight} Ingestion value was removed from the DataSourceT…
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-08-01/LinkedStorageAccounts.json
Labels: CI-BreakingChange-JavaScript

#19388 Update automation rules alert trigger swagger
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-07-01-preview/AutomationRules.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-07-01-preview/examples/automationRules/AutomationRules_CreateOrUpdate.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-07-01-preview/examples/automationRules/AutomationRules_Get.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-07-01-preview/examples/automationRules/AutomationRules_List.json
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript, ARMReview

#19442 modify putLab in labservices example
  specification/labservices/resource-manager/Microsoft.LabServices/preview/2021-11-15-preview/examples/Labs/putLab.json
Labels: CI-BreakingChange-Python-Track2

#19384 [Hub Generated] Review request for Microsoft.KubernetesConfiguration to add version stable/2022-07-01
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-07-01/examples/CreateExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-07-01/examples/CreateFluxConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-07-01/examples/CreateFluxConfigurationWithAzureBlob
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-07-01/examples/CreateFluxConfigurationWithBucket.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-07-01/examples/CreateSourceControlConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-07-01/examples/DeleteExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-07-01/examples/DeleteFluxConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-07-01/examples/DeleteSourceControlConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-07-01/examples/GetExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-07-01/examples/GetExtensionAsyncOperationStatus.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-07-01/examples/GetFluxConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-07-01/examples/GetFluxConfigurationAsyncOperationStatus.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-07-01/examples/GetSourceControlConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-07-01/examples/ListAsyncOperationStatus.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-07-01/examples/ListExtensions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-07-01/examples/ListFluxConfigurations.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-07-01/examples/ListSourceControlConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-07-01/examples/OperationsList.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-07-01/examples/PatchExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-07-01/examples/PatchFluxConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-07-01/extensions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-07-01/fluxconfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-07-01/kubernetesconfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-07-01/operations.json
  specification/kubernetesconfiguration/resource-manager/readme.go.md
  specification/kubernetesconfiguration/resource-manager/readme.java.md
  specification/kubernetesconfiguration/resource-manager/readme.md
  specification/kubernetesconfiguration/resource-manager/readme.python.md
  specification/kubernetesconfiguration/resource-manager/readme.ruby.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, ARMReview

#18978 [PostgreSQL] Adding a new privatepreview version for fast-provisioning feature
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-privatepreview/examples/GetCachedServerName.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-privatepreview/getCachedServerName.json
  specification/postgresql/resource-manager/readme.go.md
  specification/postgresql/resource-manager/readme.md
  specification/postgresql/resource-manager/readme.python.md
  specification/postgresql/resource-manager/readme.typescript.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, ARMReview

#18555 Add oauthInfo to creation data model.
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/examples/sourcecontrols/CreateSourceControl.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/examples/sourcecontrols/GetSourceControlById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/examples/sourcecontrols/GetSourceControls.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#19091 [Hub Generated] Review request for Microsoft.Network to add version stable/2022-05-01
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2022-05-01/examples/WafListManagedRuleSets.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2022-05-01/examples/WafListPolicies.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2022-05-01/examples/WafPolicyCreateOrUpdate.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2022-05-01/examples/WafPolicyDelete.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2022-05-01/examples/WafPolicyGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2022-05-01/examples/WafPolicyPatch.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2022-05-01/network.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2022-05-01/webapplicationfirewall.json
  specification/frontdoor/resource-manager/readme.md
Labels: Approved-OkToMerge, ARMSignedOff, ARMReview

#19444 Update billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/billing.json
Labels: CI-FixRequiredOnFailure, Approved-ModelValidation

#19455 Sync with Synapse: LinkedServiceReference
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
Labels: CI-BreakingChange-Go

#19475 Adds numberOfWorkers to app service plan
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/AppServicePlans.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/CommonDefinitions.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/GetAppServicePlan.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/ListAppServicePlans.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/ListAppServicePlansByResourceGroup.json
  specification/web/resource-manager/readme.md
Labels: CI-FixRequiredOnFailure

#19490 Updating to fix workflow errors
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/WebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/WorkflowVersions_List.json
Labels: CI-FixRequiredOnFailure

#19462 Fix prettier errors for Virtual Hub Router Scale Units
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/VirtualHubGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/VirtualHubList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/VirtualHubListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/VirtualHubPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/VirtualHubUpdateTags.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript

#19474 Network, change back vmss api-version to 2018-10-01
  specification/network/resource-manager/readme.java.md
Labels: CI-BreakingChange-Python-Track2

#19454 [Hub Generated] Review request for Microsoft.DBforMySQL to add version preview/2021-12-01-preview
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/Backups.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/Configurations.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/Databases.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/FirewallRules.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/FlexibleServers.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/LogFiles.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/ServiceOperations.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/BackupGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/BackupPut.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/BackupsListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/CapabilitiesByLocationList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/CheckNameAvailability.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/CheckVirtualNetworkSubnetUsage.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/ConfigurationGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/ConfigurationUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/ConfigurationsBatchUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/ConfigurationsListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/DatabaseCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/DatabaseDelete.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/DatabaseGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/DatabasesListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/FirewallRuleCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/FirewallRuleDelete.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/FirewallRuleGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/FirewallRulesListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/GetPrivateDnsZoneSuffix.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/LogFilesListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/OperationsList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/ReplicasListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/ServerCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/ServerCreateReplica.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/ServerCreateWithBYOK.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/ServerCreateWithPointInTimeRestore.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/ServerDelete.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/ServerFailover.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/ServerGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/ServerGetWithVnet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/ServerRestart.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/ServerStart.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/ServerStop.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/ServerUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/ServerUpdateWithBYOK.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/ServerUpdateWithCustomerMaintenanceWindow.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/ServersList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/ServersListByResourceGroup.json
  specification/mysql/resource-manager/readme.go.md
  specification/mysql/resource-manager/readme.md
  specification/mysql/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview

#19448 Checkin Microsoft.Dashboard 2022-05-01-preview
  specification/dashboard/resource-manager/Microsoft.Dashboard/preview/2022-05-01-preview/examples/Grafana_Create.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/preview/2022-05-01-preview/examples/Grafana_Delete.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/preview/2022-05-01-preview/examples/Grafana_Get.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/preview/2022-05-01-preview/examples/Grafana_List.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/preview/2022-05-01-preview/examples/Grafana_ListByResourceGroup.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/preview/2022-05-01-preview/examples/Grafana_Update.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/preview/2022-05-01-preview/examples/Operations_List.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/preview/2022-05-01-preview/examples/PrivateEndpointConnections_Approve.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/preview/2022-05-01-preview/examples/PrivateEndpointConnections_Delete.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/preview/2022-05-01-preview/examples/PrivateEndpointConnections_Get.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/preview/2022-05-01-preview/examples/PrivateEndpointConnections_List.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/preview/2022-05-01-preview/examples/PrivateLinkResources_Get.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/preview/2022-05-01-preview/examples/PrivateLinkResources_List.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/preview/2022-05-01-preview/grafana.json
  specification/dashboard/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Go-V2, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview

#19485 Add new version0601
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-06-01/examples/FluidRelayContainers_Delete.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-06-01/examples/FluidRelayContainers_Get.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-06-01/examples/FluidRelayContainers_ListByFluidRelayServer.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-06-01/examples/FluidRelayServerOperations.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-06-01/examples/FluidRelayServers_CreateOrUpdate.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-06-01/examples/FluidRelayServers_CreateWithAmi.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-06-01/examples/FluidRelayServers_CreateWithCmk.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-06-01/examples/FluidRelayServers_Delete.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-06-01/examples/FluidRelayServers_Get.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-06-01/examples/FluidRelayServers_ListByResourceGroup.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-06-01/examples/FluidRelayServers_ListBySubscription.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-06-01/examples/FluidRelayServers_ListKeys.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-06-01/examples/FluidRelayServers_RegenerateKeys.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-06-01/examples/FluidRelayServers_Update.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-06-01/fluidrelay.json
  specification/fluidrelay/resource-manager/readme.go.md
  specification/fluidrelay/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, Approved-Avocado, ARMReview

#19493 modify machinelearningexperimentation swwager
  specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/machineLearningExperimentation.json
  specification/machinelearningexperimentation/resource-manager/readme.go.md
Labels: CI-FixRequiredOnFailure, Approved-ModelValidation

#19471 Dev sqlvirtualmachine microsoft.sql virtual machine 2022 02 01
  custom-words.txt
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2022-02-01/examples/CreateOrUpdateAvailabilityGroupListener.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2022-02-01/examples/CreateOrUpdateAvailabilityGroupListenerWithMultiSubnet.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2022-02-01/examples/CreateOrUpdateSqlVirtualMachineAutomatedBackupWeekly.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2022-02-01/examples/CreateOrUpdateSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2022-02-01/examples/CreateOrUpdateSqlVirtualMachineMAX.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2022-02-01/examples/CreateOrUpdateSqlVirtualMachineMIN.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2022-02-01/examples/CreateOrUpdateSqlVirtualMachineStorageConfigurationEXTEND.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2022-02-01/examples/CreateOrUpdateSqlVirtualMachineStorageConfigurationNEW.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2022-02-01/examples/CreateOrUpdateVirtualMachineWithVMGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2022-02-01/examples/DeleteAvailabilityGroupListener.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2022-02-01/examples/DeleteSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2022-02-01/examples/DeleteSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2022-02-01/examples/GetAvailabilityGroupListener.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2022-02-01/examples/GetSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2022-02-01/examples/GetSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2022-02-01/examples/ListByGroupAvailabilityGroupListener.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2022-02-01/examples/ListByResourceGroupSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2022-02-01/examples/ListByResourceGroupSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2022-02-01/examples/ListBySqlVirtualMachineGroupSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2022-02-01/examples/ListOperation.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2022-02-01/examples/ListSubscriptionSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2022-02-01/examples/ListSubscriptionSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2022-02-01/examples/RedeploySqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2022-02-01/examples/StartAssessmentOnSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2022-02-01/examples/UpdateSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2022-02-01/examples/UpdateSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2022-02-01/sqlvm.json
  specification/sqlvirtualmachine/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, ARMReview

#19518 java ADF, avoid unnecessary breaking changes in SDK
  specification/datafactory/resource-manager/readme.java.md
Labels: CI-BreakingChange-Go

#19415 Fix small logical mistake in automation rules examples
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/examples/automationRules/AutomationRules_CreateOrUpdate.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/examples/automationRules/AutomationRules_Get.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/examples/automationRules/AutomationRules_List.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-06-01-preview/examples/automationRules/AutomationRules_CreateOrUpdate.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-06-01-preview/examples/automationRules/AutomationRules_Get.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-06-01-preview/examples/automationRules/AutomationRules_List.json
  specification/securityinsights/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript

#19529 Add key management service profile of a managed cluster for version 2022-06-01
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-06-01/managedClusters.json
Labels: CI-BreakingChange-Python-Track2

#19507 Removed conflicting resource definition and added reference to CommonDefinitions.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/WebApps.json
Labels: CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript

#19510 Add NetworkPlugin none option to 2022-06-01
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-06-01/managedClusters.json
Labels: CI-BreakingChange-Python-Track2

#18435 [Hub Generated] Review request for Microsoft.Media to add version stable/2021-11-01
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2021-11-01/Accounts.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2021-11-01/examples/accounts-check-name-availability.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2021-11-01/examples/accounts-delete.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2021-11-01/examples/accounts-get-by-name.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2021-11-01/examples/accounts-list-all-accounts.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2021-11-01/examples/accounts-list-media-edge-policies.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2021-11-01/examples/accounts-subscription-list-all-accounts.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2021-11-01/examples/accounts-sync-storage-keys.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2021-11-01/examples/async-accounts-create.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2021-11-01/examples/async-accounts-update.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2021-11-01/examples/media-service-operation-result-by-id.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2021-11-01/examples/media-service-operation-status-by-id-non-terminal-state-failed.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2021-11-01/examples/media-service-operation-status-by-id-non-terminal-state.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2021-11-01/examples/media-service-operation-status-by-id-terminal-state.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2021-11-01/examples/operations-list-all.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2021-11-01/examples/private-endpoint-connection-delete.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2021-11-01/examples/private-endpoint-connection-get-by-name.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2021-11-01/examples/private-endpoint-connection-list.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2021-11-01/examples/private-endpoint-connection-put.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2021-11-01/examples/private-link-resources-get-by-name.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2021-11-01/examples/private-link-resources-list.json
  specification/mediaservices/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, NewApiVersionRequired, CI-BreakingChange-Go, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#19548 [Hub Generated] Publish private branch 'dev-msi-Microsoft.ManagedIdentity-2022-01-31-preview-federated-identities'
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2022-01-31-preview/ManagedIdentity.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2022-01-31-preview/examples/FederatedIdentityCredentialCreate.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2022-01-31-preview/examples/FederatedIdentityCredentialDelete.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2022-01-31-preview/examples/FederatedIdentityCredentialGet.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2022-01-31-preview/examples/FederatedIdentityCredentialList.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2022-01-31-preview/examples/IdentityCreate.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2022-01-31-preview/examples/IdentityDelete.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2022-01-31-preview/examples/IdentityGet.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2022-01-31-preview/examples/IdentityListAssociatedResources.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2022-01-31-preview/examples/IdentityListByResourceGroup.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2022-01-31-preview/examples/IdentityListBySubscription.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2022-01-31-preview/examples/IdentityUpdate.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2022-01-31-preview/examples/MsiOperationsList.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2022-01-31-preview/examples/SystemAssignedIdentityGet.json
  specification/msi/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview

#19541 Containerservice 2022 06 02 preview fleet
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-06-02-preview/examples/FleetMembers_Create.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-06-02-preview/examples/FleetMembers_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-06-02-preview/examples/FleetMembers_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-06-02-preview/examples/FleetMembers_List.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-06-02-preview/examples/Fleets_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-06-02-preview/examples/Fleets_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-06-02-preview/examples/Fleets_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-06-02-preview/examples/Fleets_ListByResourceGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-06-02-preview/examples/Fleets_ListBySub.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-06-02-preview/examples/Fleets_PatchTags.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-06-02-preview/fleets.json
  specification/containerservice/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview

#19445 Dev sqlvirtualmachine microsoft.sql virtual machine 2022 02 01 preview
  custom-words.txt
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-02-01-preview/examples/CreateOrUpdateAvailabilityGroupListener.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-02-01-preview/examples/CreateOrUpdateAvailabilityGroupListenerWithMultiSubnet.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-02-01-preview/examples/CreateOrUpdateSqlVirtualMachineAutomatedBackupWeekly.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-02-01-preview/examples/CreateOrUpdateSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-02-01-preview/examples/CreateOrUpdateSqlVirtualMachineMAX.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-02-01-preview/examples/CreateOrUpdateSqlVirtualMachineMIN.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-02-01-preview/examples/CreateOrUpdateSqlVirtualMachineStorageConfigurationEXTEND.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-02-01-preview/examples/CreateOrUpdateSqlVirtualMachineStorageConfigurationNEW.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-02-01-preview/examples/CreateOrUpdateVirtualMachineWithVMGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-02-01-preview/examples/DeleteAvailabilityGroupListener.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-02-01-preview/examples/DeleteSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-02-01-preview/examples/DeleteSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-02-01-preview/examples/GetAvailabilityGroupListener.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-02-01-preview/examples/GetSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-02-01-preview/examples/GetSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-02-01-preview/examples/ListByGroupAvailabilityGroupListener.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-02-01-preview/examples/ListByResourceGroupSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-02-01-preview/examples/ListByResourceGroupSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-02-01-preview/examples/ListBySqlVirtualMachineGroupSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-02-01-preview/examples/ListOperation.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-02-01-preview/examples/ListSubscriptionSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-02-01-preview/examples/ListSubscriptionSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-02-01-preview/examples/RedeploySqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-02-01-preview/examples/StartAssessmentOnSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-02-01-preview/examples/UpdateSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-02-01-preview/examples/UpdateSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-02-01-preview/sqlvm.json
  specification/sqlvirtualmachine/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, ARMReview

#19400 adminPassword of VM/VMSS should be x-ms-secret
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/RestorePointCollections_Update_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/VirtualMachineScaleSetVMs_List_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/VirtualMachineScaleSetVMs_Update_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/VirtualMachineScaleSets_ListAll_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/VirtualMachineScaleSets_List_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/VirtualMachineScaleSets_Update_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/VirtualMachines_ListAll_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/VirtualMachines_List_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/computeRPCommon.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/examples/virtualMachineExamples/VirtualMachines_ListAll_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/examples/virtualMachineExamples/VirtualMachines_List_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetVMs_List_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetVMs_Update_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSets_ListAll_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSets_List_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSets_Update_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/virtualMachineScaleSet.json
Labels: CI-BreakingChange-Go

#19392 [Hub Generated] Add missing listProducts API to documentation
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2016-01-01/Product.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/Product.json
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, FixS360, ARMReview

#19536 Updating descriptions and examples
  custom-words.txt
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/AvailableContactsList.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/AvailableGroundStationGet.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/AvailableGroundStationsByCapabilityList.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/ContactCreate.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/ContactDelete.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/ContactGet.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/ContactProfileCreate.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/ContactProfileDelete.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/ContactProfileGet.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/ContactProfileUpdateTag.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/ContactProfilesByResourceGroupList.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/ContactProfilesBySubscriptionList.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/ContactsBySpacecraftNameList.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/OperationResultsGet.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/OperationsList.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/SpacecraftCreate.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/SpacecraftDelete.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/SpacecraftGet.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/SpacecraftUpdateTags.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/SpacecraftsByResourceGroupList.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/examples/SpacecraftsBySubscriptionList.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01/orbital.json
  specification/orbital/resource-manager/readme.go.md
Labels: Approved-OkToMerge, CI-FixRequiredOnFailure

#19372 Add nonce field to Attestation APIs.
  specification/attestation/data-plane/Microsoft.Attestation/stable/2020-10-01/attestation.json
Labels: Approved-BreakingChange, NewApiVersionRequired, CI-FixRequiredOnFailure, Approved-ModelValidation

#19560 Updated nextLink object to be correctly tagged
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/WebApps.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-JavaScript

#19562 [ManagementGroups] Update readme.python.md
  specification/managementgroups/resource-manager/readme.md
  specification/managementgroups/resource-manager/readme.python.md
Labels: CI-BreakingChange-JavaScript

#19532 {ContainerInstance} fixes Azure/azure-rest-api-specs#19195
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2021-10-01/containerInstance.json
Labels: bug, potential-sdk-breaking-change

#19570 Fix a spelling mistake on the paths.
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2021-11-01/Accounts.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2021-11-01/examples/async-accounts-create.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2021-11-01/examples/async-accounts-update.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2021-11-01/examples/media-service-operation-status-by-id-non-terminal-state-failed.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2021-11-01/examples/media-service-operation-status-by-id-non-terminal-state.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2021-11-01/examples/media-service-operation-status-by-id-terminal-state.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, NewApiVersionRequired, CI-BreakingChange-JavaScript

#19060 [Maps] add preview statement to Data V2 APIs
  specification/maps/data-plane/Creator/preview/2.0/data.json
Labels: CI-FixRequiredOnFailure, Approved-ModelValidation

#19552 change to secure link
  specification/datafactory/resource-manager/Microsoft.DataFactory/preview/2017-09-01-preview/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
Labels: CI-BreakingChange-Go, FixS360

#19576 Update version of py sdk to b04
  specification/chaos/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2

#19549 [Hub Generated] Publish private branch 'dev-security-Microsoft.Security-2022-05-01-preview'
  specification/security/resource-manager/Microsoft.Security/preview/2022-05-01-preview/examples/SecurityConnectors/DeleteSecurityConnector_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-05-01-preview/examples/SecurityConnectors/GetSecurityConnectorSingleResource_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-05-01-preview/examples/SecurityConnectors/GetSecurityConnectorsResourceGroup_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-05-01-preview/examples/SecurityConnectors/GetSecurityConnectorsSubscription_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-05-01-preview/examples/SecurityConnectors/PatchSecurityConnector_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-05-01-preview/examples/SecurityConnectors/PutSecurityConnector_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-05-01-preview/securityConnectors.json
  specification/security/resource-manager/readme.md
Labels: Approved-OkToMerge, ARMSignedOff, ARMReview

#19567 [SQL] Add Managed Instance DNS alias swagger to readme file
  specification/sql/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript

#19582 Fix violated rule R4041 for 2022-06-02-preview managedCluster swagger
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-06-02-preview/managedClusters.json
  specification/containerservice/resource-manager/readme.md
Labels: BreakingChangeReviewRequired, CI-BreakingChange-JavaScript

#19581 Fix violated rule R4041 for 2022-06-01 managedCluster swagger
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-06-01/managedClusters.json
  specification/containerservice/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2

#19579 [Go] OperationStatuses_Get rename to AssetTrackOperationStatuses_Get
  specification/mediaservices/resource-manager/readme.go.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript

#19575 Fix s360 errors in Reservation APIs
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/examples/ReservationRecommendationsByBillingProfile.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, CI-FixRequiredOnFailure, FixS360, Approved-ModelValidation, CI-BreakingChange-JavaScript

#19312 [Hub Generated] Review request for Microsoft.Consumption to add version stable/2021-10-01
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/examples/CreditSummaryByBillingProfile.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/examples/CreditSummaryByCustomer.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/MarketplacesByBillingAccountList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/MarketplacesByBillingAccountListForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/MarketplacesByDepartmentList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/MarketplacesByDepartment_ListByBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/MarketplacesByEnrollmentAccountList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/MarketplacesByEnrollmentAccounts_ListByBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/MarketplacesByManagementGroupList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/MarketplacesByManagementGroup_ListForBillingPeriod.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/MarketplacesList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/examples/MarketplacesListForBillingPeriod.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, Approved-ModelValidation, CI-BreakingChange-JavaScript

#19600 update compute
  specification/compute/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go

#19598 update RI transactions description
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/consumption.json
Labels: CI-BreakingChange-JavaScript

#19538 Fix name and displayName issues
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-10-01/examples/DeleteManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-10-01/examples/GetAllSubscriptionsFromManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-10-01/examples/ListOperations.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-10-01/management.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2021-04-01/examples/AddManagementGroupSubscription.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2021-04-01/examples/GetAllSubscriptionsFromManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2021-04-01/management.json
Labels: Approved-BreakingChange, NewApiVersionRequired, CI-BreakingChange-Go, FixS360, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript

#19450 Dev cost management microsoft.cost management 2022 06 01 preview
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2022-06-01-preview/examples/checkNameAvailability-private-scheduledAction.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2022-06-01-preview/examples/checkNameAvailability-shared-scheduledAction.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2022-06-01-preview/examples/scheduledAction-createOrUpdate-private.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2022-06-01-preview/examples/scheduledAction-createOrUpdate-shared.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2022-06-01-preview/examples/scheduledAction-delete-private.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2022-06-01-preview/examples/scheduledAction-delete-shared.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2022-06-01-preview/examples/scheduledAction-execute-private.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2022-06-01-preview/examples/scheduledAction-execute-shared.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2022-06-01-preview/examples/scheduledAction-get-private.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2022-06-01-preview/examples/scheduledAction-get-shared.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2022-06-01-preview/examples/scheduledAction-insightAlert-createOrUpdate-shared.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2022-06-01-preview/examples/scheduledActions-list-private.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2022-06-01-preview/examples/scheduledActions-list-shared.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2022-06-01-preview/examples/scheduledActions-listWithFilter-private.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2022-06-01-preview/examples/scheduledActions-listWithFilter-shared.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2022-06-01-preview/scheduledActions.json
  specification/cost-management/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, ARMReview

#19587 add node restriction to swagger
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-06-02-preview/managedClusters.json
Labels: BreakingChangeReviewRequired, CI-BreakingChange-JavaScript

#19559 aks fleet list credentials api
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-06-02-preview/examples/Fleets_ListCredentialsResult.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-06-02-preview/fleets.json
Labels: WaitForARMFeedback, CI-BreakingChange-JavaScript, ARMReview

#19627 Updated 2022-01-01 enableAcceleratedNetworking property description
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/networkInterface.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript

#18790 Microsoft.DigitalTwins - add stable data-plane API version 2022-05-31
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/digitaltwins.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/CreateRelationshipAdvancedExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/CreateRelationshipBasicExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/DeleteModel.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/DeleteRelationship.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/DeleteTwin.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/EventRouteDelete.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/EventRouteGet.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/EventRoutePut.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/EventRoutePutWithFilter.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/EventRoutesList.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/GetComponent.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/GetIncomingRelationship.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/GetRelationship.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/GetRelationshipById.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/GetRelationshipByRelationshipName.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/GetTwin.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/ModelAdd.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/ModelGetById.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/ModelGetByIdWithIncludeModelDefinition.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/ModelUpdateDecommissioned.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/ModelsGet.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/ModelsGetWithDependenciesAndIncludeModelDefinition.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/PatchComponentAdvancedExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/PatchComponentBasicExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/PatchRelationshipAdvancedExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/PatchRelationshipBasicExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/PatchTwinAdvancedExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/PatchTwinBasicExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/PutTwinAdvancedExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/PutTwinBasicExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/QueryFirstPage.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/QueryJoin.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/QueryNextPage.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/SendTelemetry.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/examples/SendTelemetryFromComponent.json
  specification/digitaltwins/data-plane/readme.go.md
  specification/digitaltwins/data-plane/readme.md
  specification/digitaltwins/data-plane/readme.python.md
Labels: Digital Twins, CI-FixRequiredOnFailure, Approved-ModelValidation, APIStewardshipBoard-SignedOff, API Review Scoping

#19547 GA AKS support for Dedicated Host Group
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-06-01/examples/AgentPoolsCreate_DedicatedHostGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-06-01/examples/ManagedClustersCreate_DedicatedHostGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-06-01/managedClusters.json
Labels: CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python

#19577 Change default value for privateendpointnetworkpolicy to disabled
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/virtualNetwork.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript

#19554 Fixing S360
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/GetReservationDetails.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/GetReservationOrderDetails.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/GetReservationOrderDetailsWithExpandPlanInformation.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/GetReservationOrders.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/GetReservationRevisions.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/GetReservations.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/examples/UpdateReservation.json
  specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-04-01/reservations.json
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2022-03-01/reservations.json
Labels: Approved-BreakingChange, NewApiVersionRequired, FixS360

#19636 update_web
  specification/web/resource-manager/readme.md
  specification/web/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript

#16919 Exposing membershipType property from Access review APIs
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/authorization-AccessReviewCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/AccessReviewInstanceAcceptRecommendations.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/AccessReviewInstanceApplyDecisions.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/AccessReviewInstanceRecordAllDecisions.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/AccessReviewInstanceResetDecisions.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/AccessReviewInstanceSendReminders.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/DeleteAccessReviewHistoryDefinition.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/DeleteAccessReviewScheduleDefinition.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/GetAccessReviewDefaultSettings.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/GetAccessReviewHistoryDefinition.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/GetAccessReviewHistoryDefinitionInstances.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/GetAccessReviewHistoryDefinitions.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/GetAccessReviewInstance.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/GetAccessReviewInstanceAssignedForMyApproval.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/GetAccessReviewInstanceContactedReviewers.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/GetAccessReviewInstanceDecisions.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/GetAccessReviewInstanceMyDecisionById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/GetAccessReviewInstanceMyDecisions.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/GetAccessReviewInstances.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/GetAccessReviewInstancesAssignedForMyApproval.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/GetAccessReviewScheduleDefinition.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/GetAccessReviewScheduleDefinitions.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/GetAccessReviewScheduleDefinitionsAssignedForMyApproval.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/PatchAccessReviewInstanceMyDecisionById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/PostAccessReviewHistoryDefinitionInstance.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/PutAccessReviewDefaultSettings.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/PutAccessReviewHistoryDefinition.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/PutAccessReviewInstance.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/PutAccessReviewScheduleDefinition.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/StopAccessReviewInstance.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/StopAccessReviewScheduleDefinition.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/examples/TenantLevelGetAccessReviewInstanceContactedReviewers.json
  specification/authorization/resource-manager/readme.java.md
  specification/authorization/resource-manager/readme.md
  specification/authorization/resource-manager/readme.python.md
  specification/authorization/resource-manager/readme.ruby.md
Labels: ARMSignedOff, CI-BreakingChange-Go

#19573 microsoft.automanage 2022-05-04 remove overrides
  specification/automanage/resource-manager/Microsoft.Automanage/stable/2022-05-04/automanage.json
  specification/automanage/resource-manager/Microsoft.Automanage/stable/2022-05-04/examples/createOrUpdateConfigurationProfile.json
  specification/automanage/resource-manager/Microsoft.Automanage/stable/2022-05-04/examples/createOrUpdateConfigurationProfileAssignment.json
  specification/automanage/resource-manager/Microsoft.Automanage/stable/2022-05-04/examples/createOrUpdateConfigurationProfileHCIAssignment.json
  specification/automanage/resource-manager/Microsoft.Automanage/stable/2022-05-04/examples/createOrUpdateConfigurationProfileHCRPAssignment.json
  specification/automanage/resource-manager/Microsoft.Automanage/stable/2022-05-04/examples/createOrUpdateConfigurationProfileVersion.json
  specification/automanage/resource-manager/Microsoft.Automanage/stable/2022-05-04/examples/getConfigurationProfile.json
  specification/automanage/resource-manager/Microsoft.Automanage/stable/2022-05-04/examples/getConfigurationProfileAssignment.json
  specification/automanage/resource-manager/Microsoft.Automanage/stable/2022-05-04/examples/getConfigurationProfileHCIAssignment.json
  specification/automanage/resource-manager/Microsoft.Automanage/stable/2022-05-04/examples/getConfigurationProfileHCRPAssignment.json
  specification/automanage/resource-manager/Microsoft.Automanage/stable/2022-05-04/examples/getConfigurationProfileVersion.json
  specification/automanage/resource-manager/Microsoft.Automanage/stable/2022-05-04/examples/listConfigurationProfileAssignmentsByClusterName.json
  specification/automanage/resource-manager/Microsoft.Automanage/stable/2022-05-04/examples/listConfigurationProfileAssignmentsByMachineName.json
  specification/automanage/resource-manager/Microsoft.Automanage/stable/2022-05-04/examples/listConfigurationProfileAssignmentsByResourceGroup.json
  specification/automanage/resource-manager/Microsoft.Automanage/stable/2022-05-04/examples/listConfigurationProfileAssignmentsBySubscription.json
  specification/automanage/resource-manager/Microsoft.Automanage/stable/2022-05-04/examples/listConfigurationProfileAssignmentsByVirtualMachines.json
  specification/automanage/resource-manager/Microsoft.Automanage/stable/2022-05-04/examples/listConfigurationProfileVersions.json
  specification/automanage/resource-manager/Microsoft.Automanage/stable/2022-05-04/examples/listConfigurationProfilesByResourceGroup.json
  specification/automanage/resource-manager/Microsoft.Automanage/stable/2022-05-04/examples/listConfigurationProfilesBySubscription.json
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, NewApiVersionRequired, CI-BreakingChange-Go, FixS360, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python
