Repository Azure/azure-rest-api-specs, pull requests merged in 2022-07, with the labels that each got.

#19566 [Hub Generated] Review request for Microsoft.Cache to add aof-backup-enabled and authnotrequired configs in version stable/2020-12-01 and stable/2021-06-01
  cSpell.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2020-12-01/examples/RedisOperations_List.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2020-12-01/redis.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/examples/RedisOperations_List.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/redis.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, FixS360

#19537 Removed maximum constraint for offerthroughput
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2019-09-16/healthcare-apis.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2020-03-15/healthcare-apis.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2020-03-30/healthcare-apis.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2021-01-11/healthcare-apis.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2021-11-01/healthcare-apis.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/healthcare-apis.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, FixS360

#19416 [OperationalInsights] workspace and component purge
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-02-02/components_API.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-08-01/WorkspacePurge.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-08-01/examples/WorkspacesPurgeResourceId.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-JavaScript

#19492 Device Update for IoT Hub swagger changes from SDK client library review.
  package-lock.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2022-07-01-preview/deviceupdate.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2022-07-01-preview/examples/DeviceManagement_DeleteDeploymentForDeviceClassSubgroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2022-07-01-preview/examples/DeviceManagement_DeleteDeviceClassSubgroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2022-07-01-preview/examples/DeviceManagement_GetBestUpdatesForDeviceClassSubgroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2022-07-01-preview/examples/DeviceManagement_GetDeploymentForDeviceClassSubgroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2022-07-01-preview/examples/DeviceManagement_GetDeviceClassSubgroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2022-07-01-preview/examples/DeviceManagement_GetLogCollection.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2022-07-01-preview/examples/DeviceManagement_GetLogCollectionDetailedStatus.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2022-07-01-preview/examples/DeviceManagement_GetUpdateComplianceForGroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2022-07-01-preview/examples/DeviceManagement_ListDeviceStatesForDeviceClassSubgroupDeployment.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2022-07-01-preview/examples/DeviceManagement_ListLogCollections.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2022-07-01-preview/examples/DeviceManagement_StartLogCollection.json
Labels: BreakingChangeReviewRequired, CI-FixRequiredOnFailure

#19148 [Hub Generated] Review request for Microsoft.Insights to add version stable/2022-06-15
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-06-15/examples/WebTestCreate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-06-15/examples/WebTestCreateStandard.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-06-15/examples/WebTestDelete.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-06-15/examples/WebTestGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-06-15/examples/WebTestList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-06-15/examples/WebTestListByComponent.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-06-15/examples/WebTestListByResourceGroup.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-06-15/examples/WebTestUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-06-15/examples/WebTestUpdateTagsOnly.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-06-15/webTests_API.json
  specification/applicationinsights/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-Go-V2

#19665 Defender updates
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-06-01/examples/ManagedClustersCreate_SecurityProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-06-01/managedClusters.json
Labels: BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript

#19190 Add confidence score in healthcare relation and example.
  dev/cognitiveservices/data-plane/Language/analyzetext.json
  dev/cognitiveservices/data-plane/Language/examples/text/SuccessfulHealthcareRequest.json
Labels: APIStewardshipBoard-ReviewRequested, customer-reported

#19556 S360 Fixes for Microsoft.StreamAnalytics
  specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/common/v1/definitions.json
  specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/preview/2020-03-01-preview/clusters.json
  specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/preview/2021-10-01-preview/examples/Input_Create_Reference_File.json
  specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/preview/2021-10-01-preview/inputs.json
  specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/preview/2021-10-01-preview/streamingjobs.json
  specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/preview/2021-10-01-preview/transformations.json
  specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/stable/2020-03-01/clusters.json
  specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/stable/2020-03-01/examples/Input_Create_GatewayMessageBus.json
  specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/stable/2020-03-01/examples/Input_Create_Reference_File.json
  specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/stable/2020-03-01/examples/Output_Create_GatewayMessageBus.json
  specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/stable/2020-03-01/inputs.json
  specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/stable/2020-03-01/outputs.json
  specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/stable/2020-03-01/streamingjobs.json
  specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/stable/2020-03-01/transformations.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, CI-FixRequiredOnFailure

#19443 Dev security microsoft.security 2022 07 01 preview for Applications resource
  specification/security/resource-manager/Microsoft.Security/preview/2022-07-01-preview/applications.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-07-01-preview/examples/Applications/DeleteApplication_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-07-01-preview/examples/Applications/DeleteSecurityConnectorApplication_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-07-01-preview/examples/Applications/GetApplication_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-07-01-preview/examples/Applications/GetSecurityConnectorApplication_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-07-01-preview/examples/Applications/ListBySecurityConnectorApplications_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-07-01-preview/examples/Applications/ListBySubscriptionApplications_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-07-01-preview/examples/Applications/PutApplication_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-07-01-preview/examples/Applications/PutSecurityConnectorApplication_example.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview

#19484 Swagger correctness action items
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/sqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/workspace.json
Labels: CI-BreakingChange-Go, CI-FixRequiredOnFailure, FixS360, Approved-ModelValidation, CI-BreakingChange-JavaScript

#19673 modify policy in readme.md
  specification/resources/resource-manager/readme.typescript.md
Labels: CI-BreakingChange-Go

#19374 Minor updates
  specification/batch/resource-manager/Microsoft.Batch/stable/2022-06-01/BatchManagement.json
Labels: ARMSignedOff, CI-BreakingChange-Go, FixS360, Approved-SdkBreakingChange-Go

#19682 modify links
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/dedicatedHost.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2021-04-01-preview/databricks.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2018-09-01-preview/deploymentmanager.json
  specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/deploymentmanager.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, Approved-SemanticValidation, Approved-SdkBreakingChange-Go

#19618 Updated RI Usage details API description
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/consumption.json
Labels: CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript

#19709 update resources readme.python
  specification/resources/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go

#19679 Update CommunityGalleryInfo
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-10-01/gallery.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-01-03/GalleryRP/gallery.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, FixS360, Approved-SdkBreakingChange-Go

#19099 [Hub Generated] Review request for Microsoft.HybridCompute to add version preview/2022-05-10-preview
  package-lock.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/HybridCompute.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples/DELETEExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples/Extensions_Upgrade.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples/GETExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples/LISTExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples/Machines_CreateOrUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples/Machines_Delete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples/Machines_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples/Machines_ListByResourceGroup.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples/Machines_ListBySubscription.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples/Machines_Update.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples/Operations_List.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples/PUTExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples/PrivateEndpointConnectionDelete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples/PrivateEndpointConnectionGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples/PrivateEndpointConnectionList.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples/PrivateEndpointConnectionUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples/PrivateLinkScopePrivateLinkResourceGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples/PrivateLinkScopePrivateLinkResourceListGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples/PrivateLinkScopesCreate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples/PrivateLinkScopesDelete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples/PrivateLinkScopesGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples/PrivateLinkScopesGetValidation.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples/PrivateLinkScopesGetValidationForMachine.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples/PrivateLinkScopesList.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples/PrivateLinkScopesListByResourceGroup.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples/PrivateLinkScopesUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples/PrivateLinkScopesUpdateTagsOnly.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/examples/UpdateExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/privateLinkScopes.json
  specification/hybridcompute/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-Avocado, Approved-ModelValidation, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview

#19121 HWG new api swagger
  specification/automation/resource-manager/Microsoft.Automation/stable/2022-01-31/deletedAutomationAccount.json
  specification/automation/resource-manager/Microsoft.Automation/stable/2022-01-31/examples/getDeletedAutomationAccount.json
  specification/automation/resource-manager/Microsoft.Automation/stable/2022-02-22/examples/deleteHybridRunbookWorkerGroup.json
  specification/automation/resource-manager/Microsoft.Automation/stable/2022-02-22/examples/getHybridRunbookWorkerGroup.json
  specification/automation/resource-manager/Microsoft.Automation/stable/2022-02-22/examples/listHybridRunbookWorkerGroup.json
  specification/automation/resource-manager/Microsoft.Automation/stable/2022-02-22/examples/putHybridRunbookWorkerGroup.json
  specification/automation/resource-manager/Microsoft.Automation/stable/2022-02-22/examples/updateHybridRunbookWorkerGroup.json
  specification/automation/resource-manager/Microsoft.Automation/stable/2022-02-22/hybridRunbookWorkerGroup.json
  specification/automation/resource-manager/readme.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, NewApiVersionRequired, CI-BreakingChange-Go, CI-BreakingChange-Go-V2

#19648 [Hub Generated] Publish private branch 'jelautma/Replace-2021-10-01-preview-with-2022-07-01-preview'
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/CommunicationServices.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/Domains.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/EmailServices.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/examples/communicationServices/checkNameAvailabilityAvailable.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/examples/communicationServices/checkNameAvailabilityUnavailable.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/examples/communicationServices/createOrUpdate.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/examples/communicationServices/delete.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/examples/communicationServices/get.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/examples/communicationServices/linkNotificationHub.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/examples/communicationServices/listByResourceGroup.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/examples/communicationServices/listBySubscription.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/examples/communicationServices/listKeys.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/examples/communicationServices/operationsList.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/examples/communicationServices/regenerateKey.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/examples/communicationServices/update.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/examples/domains/cancelVerification.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/examples/domains/createOrUpdate.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/examples/domains/delete.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/examples/domains/get.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/examples/domains/initiateVerification.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/examples/domains/listByEmailService.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/examples/domains/update.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/examples/emailServices/createOrUpdate.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/examples/emailServices/delete.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/examples/emailServices/get.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/examples/emailServices/getVerifiedExchangeOnlineDomains.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/examples/emailServices/listByResourceGroup.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/examples/emailServices/listBySubscription.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2022-07-01-preview/examples/emailServices/update.json
  specification/communication/resource-manager/readme.md
Labels: FixS360, CI-BreakingChange-JavaScript

#19482 [Hub Generated] Review request for Microsoft.Maintenance to add version preview/2022-07-01-preview
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/Maintenance.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/examples/ApplyUpdatesResourceGroup_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/examples/ApplyUpdates_CreateOrUpdate.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/examples/ApplyUpdates_CreateOrUpdateParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/examples/ApplyUpdates_Get.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/examples/ApplyUpdates_GetParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/examples/ApplyUpdates_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/examples/ConfigurationAssignmentsResultWithinSubscription_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/examples/ConfigurationAssignments_CreateOrUpdate.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/examples/ConfigurationAssignments_CreateOrUpdateParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/examples/ConfigurationAssignments_Delete.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/examples/ConfigurationAssignments_DeleteParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/examples/ConfigurationAssignments_Get.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/examples/ConfigurationAssignments_GetParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/examples/ConfigurationAssignments_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/examples/ConfigurationAssignments_ListParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/examples/MaintenanceConfigurationsResourceGroup_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/examples/MaintenanceConfigurations_CreateOrUpdateForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/examples/MaintenanceConfigurations_DeleteForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/examples/MaintenanceConfigurations_GetForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/examples/MaintenanceConfigurations_GetForResource_GuestOSPatchLinux.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/examples/MaintenanceConfigurations_GetForResource_GuestOSPatchWindows.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/examples/MaintenanceConfigurations_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/examples/MaintenanceConfigurations_UpdateForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/examples/Operations_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/examples/PublicMaintenanceConfigurations_GetForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/examples/PublicMaintenanceConfigurations_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/examples/Updates_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/examples/Updates_ListParent.json
  specification/maintenance/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview

#19678 Added file imports
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-08-01-preview/FileImports.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-08-01-preview/examples/fileImports/CreateFileImport.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-08-01-preview/examples/fileImports/DeleteFileImport.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-08-01-preview/examples/fileImports/GetFileImportById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-08-01-preview/examples/fileImports/GetFileImports.json
  specification/securityinsights/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript, ARMReview

#19617 Document read-only system id property for Power Platform account and enterprise policy resources
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/account.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/enterprisePolicy.json
Labels: Approved-BreakingChange, NewApiVersionRequired, FixS360

#19654 add x-ms-enum for enum param
  specification/web/resource-manager/Microsoft.Web/stable/2021-03-01/Provider.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript

#19697 Swagger Changes for Access Connector Public Preview
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/accessconnector.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/databricks.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/AccessConnectorCreateOrUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/AccessConnectorDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/AccessConnectorGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/AccessConnectorPatchUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/AccessConnectorsListByResourceGroup.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/AccessConnectorsListBySubscriptionId.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/DisableEncryption.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/EnableEncryption.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/ListPrivateEndpointConnections.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/ListPrivateLinkResources.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/OperationsList.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/OutboundNetworkDependenciesEndpointsList.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/PrepareEncryption.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/PrivateEndpointConnectionsDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/PrivateEndpointConnectionsGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/PrivateEndpointConnectionsUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/PrivateLinkResourcesGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/WorkspaceCreate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/WorkspaceCreateWithParameters.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/WorkspaceDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/WorkspaceGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/WorkspaceGetParameters.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/WorkspaceUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/WorkspaceVirtualNetPeeringGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/WorkspaceVirtualNetPeeringList.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/WorkspaceVirtualNetworkPeeringCreateOrUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/WorkspaceVirtualNetworkPeeringDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/WorkspacesListByResourceGroup.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/examples/WorkspacesListBySubscription.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview/vnetpeering.json
  specification/databricks/resource-manager/readme.md
Labels: WaitForARMFeedback, CI-BreakingChange-Python-Track2, ARMReview

#19470 Add unassign job route
  custom-words.txt
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/communicationservicejobrouter.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/Jobs_UnassignJob.json
Labels: APIStewardshipBoard-ReviewRequested, NewApiVersionRequired

#19395 [Hub Generated] Review request for Microsoft.KeyVault to add version stable/2022-07-01
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/common.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/DeletedManagedHsm_Get.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/DeletedManagedHsm_List.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/DeletedManagedHsm_Purge.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/ManagedHsm_CreateOrUpdate.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/ManagedHsm_Delete.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/ManagedHsm_Get.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/ManagedHsm_ListByResourceGroup.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/ManagedHsm_ListBySubscription.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/ManagedHsm_ListPrivateEndpointConnectionsByResource.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/ManagedHsm_Update.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/ManagedHsm_checkMhsmNameAvailability.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/ManagedHsm_deletePrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/ManagedHsm_getPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/ManagedHsm_listPrivateLinkResources.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/ManagedHsm_putPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/checkVaultNameAvailability.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/createKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/createSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/createVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/createVaultWithNetworkAcls.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/deletePrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/deleteVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/getDeletedVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/getKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/getKeyVersion.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/getPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/getSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/getVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/listDeletedVaults.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/listKeyVersions.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/listKeys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/listOperations.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/listPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/listPrivateLinkResources.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/listSecrets.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/listVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/listVaultByResourceGroup.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/listVaultBySubscription.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/purgeDeletedVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/putPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/updateAccessPoliciesAdd.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/updateSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/examples/updateVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/keys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/keyvault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/managedHsm.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/providers.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/secrets.json
  specification/keyvault/resource-manager/readme.md
Labels: Approved-OkToMerge, ARMSignedOff, CI-BreakingChange-JavaScript, ARMReview

#19712 [policheck] fix swagger examples for web service
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2015-04-01/examples/ListTopLevelDomainAgreements.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2018-02-01/examples/ListTopLevelDomainAgreements.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2019-08-01/examples/ListTopLevelDomainAgreements.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2020-06-01/examples/ListTopLevelDomainAgreements.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2020-09-01/examples/ListTopLevelDomainAgreements.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2020-10-01/examples/ListTopLevelDomainAgreements.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2020-12-01/examples/ListTopLevelDomainAgreements.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2021-01-01/examples/ListTopLevelDomainAgreements.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2021-01-15/examples/ListTopLevelDomainAgreements.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2021-02-01/examples/ListTopLevelDomainAgreements.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2021-03-01/examples/ListTopLevelDomainAgreements.json
  specification/web/resource-manager/Microsoft.DomainRegistration/stable/2022-03-01/examples/ListTopLevelDomainAgreements.json
Labels: CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation

#19715 [policheck] fix swagger examples for mysql service
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-12-01-preview/examples/ConfigurationListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/examples/ConfigurationListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2017-12-01/examples/ConfigurationListByServer.json
Labels: Approved-ModelValidation

#19728 Sync x-mx-enum change from 2021-03-01
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/Provider.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-JavaScript

#19634 MICROSOFT.SERVICEFABRICMESH(Atlas) Swagger Correctness Fix
  specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-07-01-preview/examples/ApplicationDelete.json
  specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-07-01-preview/servicefabricmesh.json
  specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-09-01-preview/servicefabricmesh.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, CI-FixRequiredOnFailure, FixS360, Approved-ModelValidation

#19143 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2022-05-01
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-05-01/common-types.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-05-01/costmanagement.generatecostdetailsreport.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-05-01/examples/CostDetailsOperationResultsBySubscriptionScope.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-05-01/examples/GenerateCostDetailsReportByBillingAccountEnterpriseAgreementCustomerAndBillingPeriod.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-05-01/examples/GenerateCostDetailsReportByBillingProfileAndInvoiceId.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-05-01/examples/GenerateCostDetailsReportByBillingProfileAndInvoiceIdAndCustomerId.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-05-01/examples/GenerateCostDetailsReportByCustomerAndTimePeriod.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-05-01/examples/GenerateCostDetailsReportByDepartmentsAndTimePeriod.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-05-01/examples/GenerateCostDetailsReportByEnrollmentAccountsAndTimePeriod.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-05-01/examples/GenerateCostDetailsReportBySubscriptionAndTimePeriod.json
  specification/cost-management/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, ARMReview

#19716 [policheck] fix swagger examples for mariadb service
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-preview/examples/ConfigurationListByServer.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/ConfigurationListByServer.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/stable/2018-06-01/examples/ConfigurationListByServer.json
Labels: CI-FixRequiredOnFailure, Approved-ModelValidation

#19268 Enable custom skypetoken expiration in the new 2021-10-01 version
  specification/communication/data-plane/Identity/readme.md
  specification/communication/data-plane/Identity/stable/2022-10-01/CommunicationIdentity.json
  specification/communication/data-plane/Identity/stable/2022-10-01/examples/CreateIdentity.json
  specification/communication/data-plane/Identity/stable/2022-10-01/examples/DeleteIdentity.json
  specification/communication/data-plane/Identity/stable/2022-10-01/examples/ExchangeTeamsUserAccessToken.json
  specification/communication/data-plane/Identity/stable/2022-10-01/examples/IssueAccessToken.json
  specification/communication/data-plane/Identity/stable/2022-10-01/examples/RevokeAccessTokens.json
Labels: APIStewardshipBoard-SignedOff

#19661 (PostgreSQL) fixes Azure/azure-sdk-for-go#18506
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/postgresql.json
Labels: potential-sdk-breaking-change, CI-BreakingChange-Python-Track2

#19734 add DisableTcpStateTracking on nic
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/NetworkInterfaceCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/NetworkInterfaceGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/NetworkInterfaceList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/NetworkInterfaceListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/NetworkInterfaceUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/networkInterface.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript

#19698 Adding new VIP Swap APIs to support extension resource design
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/cloudServiceSwap.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/CloudServiceSwapGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/CloudServiceSwapList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/CloudServiceSwapPut.json
  specification/network/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-LintDiff, CI-BreakingChange-JavaScript, ARMReview

#19125 [Service Bus] - Adding status code 202 to Private endpoints PUT
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2022-01-01-preview/examples/NameSpaces/PrivateEndPointConnectionCreate.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2022-01-01-preview/namespace-preview.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go-V2, ARMReview

#19755 Revert "[Service Bus] - Adding status code 202 to Private endpoints PUT"
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2022-01-01-preview/examples/NameSpaces/PrivateEndPointConnectionCreate.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2022-01-01-preview/namespace-preview.json
Labels: Approved-BreakingChange, NewApiVersionRequired, CI-FixRequiredOnFailure

#19752 [Confidential Ledger] Post Board Review Changes
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/stable/2022-05-13/confidentialledger.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/stable/2022-05-13/examples/identity/GetLedgerIdentity.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/stable/2022-05-13/examples/ledger/CreateLedgerEntry.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/stable/2022-05-13/examples/ledger/ListCollections.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/stable/2022-05-13/examples/ledger/ListConsortiumMembers.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/stable/2022-05-13/identityservice.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript

#19383 Adding x-ms-enum type extension for enums
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2015-08-01/AppServiceCertificateOrders.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2018-02-01/AppServiceCertificateOrders.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2019-08-01/AppServiceCertificateOrders.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2020-06-01/AppServiceCertificateOrders.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2020-09-01/AppServiceCertificateOrders.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2020-10-01/AppServiceCertificateOrders.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2020-12-01/AppServiceCertificateOrders.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2021-01-01/AppServiceCertificateOrders.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2021-01-15/AppServiceCertificateOrders.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2021-02-01/AppServiceCertificateOrders.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2021-03-01/AppServiceCertificateOrders.json
  specification/web/resource-manager/readme.md
Labels: FixS360, Approved-SdkBreakingChange-Go, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#19605 Fix swagger file with missed API and properties
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/ServiceOperations.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/CheckVirtualNetworkSubnetUsage.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2021-05-01/examples/CheckVirtualNetworkSubnetUsage.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2021-05-01/mysql.json
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, CI-FixRequiredOnFailure, FixS360

#19663 Marketplace - fix swagger
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/Marketplace.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/ApproveAllItems.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/CreatePrivateStoreCollection.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/DisableApproveAllItems.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/GetPrivateStoreCollection.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/GetPrivateStoreCollectionsList.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2022-03-01/examples/UpsertOfferWithMultiContext.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, CI-BreakingChange-Go, FixS360, Approved-SdkBreakingChange-Go

#19775 [Confidential Ledger] Identity Service (Now Certificate Client) Naming Updates
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/stable/2022-05-13/identityservice.json
Labels: CI-FixRequiredOnFailure

#19769 [DataFactory] Add synapse spark activities
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, CI-BreakingChange-Go, CI-FixRequiredOnFailure, ShiftLeftViolation

#19749 Added ContentCrc64 to Block Blob Upload
  specification/storage/data-plane/Microsoft.BlobStorage/preview/2021-08-06/blob.json
Labels: Approved-BreakingChange, NewApiVersionRequired

#19721 [Hub Generated] Review request for Microsoft.DocumentDB to add version preview/2022-05-15-preview
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2022-05-15-preview/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2022-05-15-preview/examples/CosmosDBRestorableMongodbResourceList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2022-05-15-preview/examples/CosmosDBRestorableSqlResourceList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2022-05-15-preview/restorable.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go

#19730 Manual trigger API alignment - mark mandatory param as required
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-10-01-preview/AutomationRules.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-10-01-preview/Settings.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-01-01-preview/AutomationRules.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-01-01-preview/Settings.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-04-01-preview/AutomationRules.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-04-01-preview/Settings.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/AutomationRules.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-06-01-preview/AutomationRules.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-07-01-preview/AutomationRules.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, FixS360, CI-BreakingChange-JavaScript

#19783 sterbrec - address fleet comments - Microsoft.ContainerService - 2022-06-02-preview
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-06-02-preview/examples/FleetMembers_Create.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-06-02-preview/examples/FleetMembers_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-06-02-preview/examples/Fleets_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-06-02-preview/fleets.json
Labels: CI-BreakingChange-JavaScript

#19713 [policheck] fix swagger examples for applicationinsights service
  specification/applicationinsights/data-plane/Microsoft.Insights/preview/2018-04-20/examples/events-get-by-type.json
  specification/applicationinsights/data-plane/Microsoft.Insights/preview/v1/examples/events-get-by-type.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/WebTestLocationsList.json
Labels: CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation

#19675 Addressing REST API Stewardship review and adding kind property to polymorphic identifier model
  specification/communication/data-plane/Common/readme.md
  specification/communication/data-plane/Common/stable/2022-07-13/common.json
Labels: CI-FixRequiredOnFailure

#19748 Add idleShutdownSetting to Compute Instances
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-06-01-preview/examples/Compute/updateIdleShutdownSetting.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-06-01-preview/machineLearningServices.json
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, ARMReview

#19792 'metrics' property added to diagnostics contract
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-04-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-12-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2020-12-01/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/definitions.json
Labels: CI-BreakingChange-Go, Approved-SdkBreakingChange-Go

#19787 Add missing `x-ms-long-running-operation-options` for delete operations in fleet-related API
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-06-02-preview/fleets.json
Labels: CI-BreakingChange-JavaScript

#19740 Add mfe.json 2022-06-01-preview changes
  custom-words.txt
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-06-01-preview/examples/Job/AutoMLJob/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-06-01-preview/examples/Job/AutoMLJob/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-06-01-preview/examples/Job/AutoMLJob/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-06-01-preview/examples/LabelingJob/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-06-01-preview/examples/LabelingJob/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-06-01-preview/examples/LabelingJob/exportLabels.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-06-01-preview/examples/LabelingJob/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-06-01-preview/examples/LabelingJob/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-06-01-preview/examples/LabelingJob/pause.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-06-01-preview/examples/LabelingJob/resume.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-06-01-preview/examples/Schedule/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-06-01-preview/examples/Schedule/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-06-01-preview/examples/Schedule/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-06-01-preview/examples/Schedule/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-06-01-preview/mfe.json
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-LintDiff, Approved-ModelValidation, CI-BreakingChange-JavaScript, ARMReview

#19680 Sync latest swagger files to 2022 02 01 preview
  custom-words.txt
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/DatabaseExtensions.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/DatabaseOperations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/DatabaseSqlVulnerabilityAssessmentScanResult.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/DatabaseSqlVulnerabilityAssessmentScans.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/DatabaseUsages.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/Databases.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/DistributedAvailabilityGroups.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/ElasticPools.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/EncryptionProtectors.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/InstanceFailoverGroups.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/LongTermRetentionPolicies.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/ManagedDatabaseRestoreDetails.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/ManagedDatabaseTransparentDataEncryption.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/ManagedDatabases.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/ManagedInstanceEncryptionProtectors.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/ManagedInstanceKeys.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/ManagedInstanceLongTermRetentionPolicies.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/ManagedServerDnsAliases.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/ReplicationLinks.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/ServerDevOpsAudit.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/ServerKeys.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/ServerTrustCertificates.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/Servers.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/SqlVulnerabilityAssessmentScanResult.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/SqlVulnerabilityAssessmentScans.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/SyncAgents.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/SyncGroups.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/SyncMembers.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/TimeZones.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/TransparentDataEncryptions.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/VirtualClusters.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/DatabaseAuditingSettingsList.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/DatabaseBlobAuditingGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/DatabaseSqlVulnerabilityAssessmentScan.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/DatabaseSqlVulnerabilityAssessmentScanRecordsListByDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ManagedDatabaseCancelMove.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ManagedDatabaseCompleteMove.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ManagedDatabaseStartMoveMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ManagedDatabaseStartMoveMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ManagedInstanceEncryptionProtectorCreateOrUpdateKeyVault.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ManagedInstanceEncryptionProtectorGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ManagedInstanceTimeZoneListByLocation.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ManagedServerDnsAliasGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ManagedServerDnsAliasList.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ReplicationLinkDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ServerTrustCertificatesCreate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ServerTrustCertificatesGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ServerTrustCertificatesListByInstance.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/SqlVulnerabilityAssessmentScan.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/SqlVulnerabilityAssessmentScanRecordsListByDatabase.json
Labels: CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, Approved-Avocado, Approved-LintDiff, CI-BreakingChange-JavaScript

#19692 Adding Microsoft.Dashboard stable 2022-08-01 API version
  specification/dashboard/resource-manager/Microsoft.Dashboard/stable/2022-08-01/examples/Grafana_Create.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/stable/2022-08-01/examples/Grafana_Delete.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/stable/2022-08-01/examples/Grafana_Get.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/stable/2022-08-01/examples/Grafana_List.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/stable/2022-08-01/examples/Grafana_ListByResourceGroup.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/stable/2022-08-01/examples/Grafana_Update.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/stable/2022-08-01/examples/Operations_List.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/stable/2022-08-01/examples/PrivateEndpointConnections_Approve.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/stable/2022-08-01/examples/PrivateEndpointConnections_Delete.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/stable/2022-08-01/examples/PrivateEndpointConnections_Get.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/stable/2022-08-01/examples/PrivateEndpointConnections_List.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/stable/2022-08-01/examples/PrivateLinkResources_Get.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/stable/2022-08-01/examples/PrivateLinkResources_List.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/stable/2022-08-01/grafana.json
  specification/dashboard/resource-manager/readme.md
Labels: Approved-OkToMerge, ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, ARMReview

#19799 Copy the legacy API contracts to 2022 02 01 preview
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/DataMaskingPolicies.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/DataMaskingRules.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/GeoBackupPolicies.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/RecoverableDatabases.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/ServerUsages.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/DataMaskingPolicyCreateOrUpdateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/DataMaskingPolicyCreateOrUpdateMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/DataMaskingPolicyGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/DataMaskingRuleCreateOrUpdateDefaultMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/DataMaskingRuleCreateOrUpdateDefaultMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/DataMaskingRuleCreateOrUpdateNumber.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/DataMaskingRuleCreateOrUpdateText.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/DataMaskingRuleListByDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/GeoBackupPoliciesCreateOrUpdate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/GeoBackupPoliciesGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/GeoBackupPoliciesList.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/RecoverableDatabaseGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/RecoverableDatabaseList.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ServerUsageList.json
  specification/sql/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, Approved-Avocado, CI-BreakingChange-JavaScript

#19816 Revert "[Security] change to multiapi"
  specification/security/resource-manager/readme.md
  specification/security/resource-manager/readme.python.md
Labels: CI-FixRequiredOnFailure

#19733 Move Long running Create Operation from Location based to Azure-AsyncOperation Header
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimdeployment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/examples/ApiManagementCreateMultiRegionServiceWithCustomHostname.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/examples/ApiManagementCreateService.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/examples/ApiManagementCreateServiceHavingMsi.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/examples/ApiManagementCreateServiceInVnetWithPublicIP.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/examples/ApiManagementCreateServiceInZones.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/examples/ApiManagementCreateServiceWithCustomHostnameKeyVault.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/examples/ApiManagementCreateServiceWithSystemCertificates.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/examples/ApiManagementCreateServiceWithUserAssignedIdentity.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/examples/ApiManagementUndelete.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python

#19572 Add api-version 2022-06-01 to Microsoft.AzureStack RP
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2022-06-01/AzureStack.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2022-06-01/CustomerSubscription.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2022-06-01/Product.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2022-06-01/Registration.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2022-06-01/examples/CloudManifestFile/Get.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2022-06-01/examples/CloudManifestFile/List.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2022-06-01/examples/CustomerSubscription/Delete.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2022-06-01/examples/CustomerSubscription/Get.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2022-06-01/examples/CustomerSubscription/List.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2022-06-01/examples/CustomerSubscription/Put.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2022-06-01/examples/DeploymentLicense/Post.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2022-06-01/examples/Operation/List.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2022-06-01/examples/Product/Get.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2022-06-01/examples/Product/GetPost.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2022-06-01/examples/Product/List.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2022-06-01/examples/Product/ListPost.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2022-06-01/examples/Product/Post.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2022-06-01/examples/Product/UploadLog.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2022-06-01/examples/Registration/Delete.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2022-06-01/examples/Registration/Get.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2022-06-01/examples/Registration/List.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2022-06-01/examples/Registration/ListBySubscription.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2022-06-01/examples/Registration/Patch.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2022-06-01/examples/Registration/Post.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2022-06-01/examples/Registration/Put.json
  specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2022-06-01/examples/RemoteManagement/Post.json
  specification/azurestack/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, Approved-Avocado, Approved-SdkBreakingChange-Python, ARMReview

#19735 Fix a couple issues with existing swaggers
  package-lock.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-04-01/actionGroups_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/getTestNotifications.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/getTestNotificationsAtResourceGroupLevel.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/postTestNotifications.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/postTestNotificationsAtResourceGroupLevel.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/actionGroups_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/getTestNotifications.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/getTestNotificationsAtActionGroupResourceLevel.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/getTestNotificationsAtResourceGroupLevel.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/postTestNotifications.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/postTestNotificationsAtActionGroupResourceLevel.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/postTestNotificationsAtResourceGroupLevel.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, NewApiVersionRequired, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript

#19822 [Security] change to multiapi
  specification/security/resource-manager/readme.md
  specification/security/resource-manager/readme.python.md
Labels: CI-FixRequiredOnFailure

#19683 Fix Synapse: Add SheetIndex in Datasets
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Dataset.json
Labels: Approved-BreakingChange, NewApiVersionRequired

#19588 Updated the descriptions of the InitTimeData and RunTimeData definiti…
  custom-words.txt
  specification/attestation/data-plane/Microsoft.Attestation/stable/2020-10-01/attestation.json
Labels: CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure

#19836 Adding Encrytpion Scope Documentation for DFS endpoint
  specification/storage/data-plane/Microsoft.StorageDataLake/stable/2019-12-12/DataLakeStorage.json
Labels: BreakingChangeReviewRequired, CI-FixRequiredOnFailure

#19839 Updated x-ms-permissions parameter description
  specification/storage/data-plane/Microsoft.StorageDataLake/stable/2019-12-12/DataLakeStorage.json
Labels: BreakingChangeReviewRequired, CI-FixRequiredOnFailure

#19750 [Azure.Communication.Services][JobRouter] Modify swagger after SDK review
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/communicationservicejobrouter.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/ClassificationPolicies_CreateClassificationPolicy.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/ClassificationPolicies_DeleteClassificationPolicy.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/ClassificationPolicies_GetClassificationPolicy.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/ClassificationPolicies_ListClassificationPoliciesWithPageSize.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/ClassificationPolicies_UpdateClassificationPolicy.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/DistributionPolicies_CreateDistributionPolicy.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/DistributionPolicies_DeleteDistributionPolicy.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/DistributionPolicies_GetDistributionPolicy.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/DistributionPolicies_ListDistributionPoliciesWithPageSize.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/DistributionPolicies_UpdateDistributionPolicy.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/ExceptionPolicies_CreateExceptionPolicy.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/ExceptionPolicies_DeleteExceptionPolicy.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/ExceptionPolicies_GetExceptionPolicy.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/ExceptionPolicies_ListExceptionPoliciesWithPageSize.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/ExceptionPolicies_UpdateExceptionPolicy.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/Jobs_CloseJob.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/Jobs_CompleteJob.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/Jobs_CreateJob.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/Jobs_DeleteJob.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/Jobs_GetInQueuePosition.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/Jobs_GetJob.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/Jobs_GetJobsWithPageSize.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/Jobs_ReclassifyJob.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/Jobs_RequestJobCancel.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/Jobs_UnassignJob.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/Jobs_UpdateJob.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/Offers_AcceptJobOffer.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/Offers_DeclineJobOffer.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/Queues_CreateQueue.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/Queues_DeleteQueue.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/Queues_GetQueue.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/Queues_GetQueueStatistics.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/Queues_ListQueuesWithPageSize.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/Queues_UpdateQueue.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/Workers_CreateWorker.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/Workers_DeleteWorker.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/Workers_DeregisterActiveWorker.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/Workers_DeregisterInactiveWorker.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/Workers_GetAvailableWorkersByChannel.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/Workers_GetWorker.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/Workers_GetWorkersWithPageSize.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/Workers_RegisterWorker.json
  specification/communication/data-plane/JobRouter/preview/2022-07-18-preview/examples/Workers_UpdateWorker.json
  specification/communication/data-plane/JobRouter/readme.md
Labels: FixS360

#19774 [Hub Generated] Publish private branch 'jakebillings/bump-default-version'
  specification/extendedlocation/resource-manager/readme.md
Labels: CI-BreakingChange-JavaScript

#19805 [Hub Generated] Review request for Microsoft.Chaos to add version preview/2022-07-01-preview
  specification/chaos/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go

#19732 [Hub Generated] Publish private branch 'jiyu/appconfig_1101'
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/appconfiguration.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/CheckNameAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/CheckNameNotAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/ConfigurationStoresCreate.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/ConfigurationStoresCreateKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/ConfigurationStoresCreatePrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/ConfigurationStoresCreateReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/ConfigurationStoresCreateWithIdentity.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/ConfigurationStoresCreateWithLocalAuthDisabled.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/ConfigurationStoresDelete.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/ConfigurationStoresDeleteKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/ConfigurationStoresDeletePrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/ConfigurationStoresDeleteReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/ConfigurationStoresGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/ConfigurationStoresGetKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/ConfigurationStoresGetPrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/ConfigurationStoresGetReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/ConfigurationStoresList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/ConfigurationStoresListByResourceGroup.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/ConfigurationStoresListKeyValues.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/ConfigurationStoresListKeys.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/ConfigurationStoresListPrivateEndpointConnections.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/ConfigurationStoresListReplicas.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/ConfigurationStoresRegenerateKey.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/ConfigurationStoresUpdate.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/ConfigurationStoresUpdateDisableLocalAuth.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/ConfigurationStoresUpdateWithIdentity.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/DeletedConfigurationStoresGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/DeletedConfigurationStoresList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/DeletedConfigurationStoresPurge.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/PrivateLinkResourceGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/PrivateLinkResourcesListByConfigurationStore.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/RegionalCheckNameAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2022-03-01-preview/examples/RegionalCheckNameNotAvailable.json
  specification/appconfiguration/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, ARMReview

#19837 add icon
  scripts/resource/message.png
  scripts/resource/readme.md
Labels: CI-FixRequiredOnFailure, Approved-Avocado

#19496 Dev tongwu healthcareapis microsoft.healthcare apis stable 2022 06 01
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/CheckNameAvailabilityPost.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/OperationResultsGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/OperationsList.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/dicomservices/DicomServices_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/dicomservices/DicomServices_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/dicomservices/DicomServices_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/dicomservices/DicomServices_List.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/dicomservices/DicomServices_Patch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/fhirservices/FhirServices_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/fhirservices/FhirServices_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/fhirservices/FhirServices_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/fhirservices/FhirServices_List.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/fhirservices/FhirServices_Patch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/iotconnectors/iotconnector_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/iotconnectors/iotconnector_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/iotconnectors/iotconnector_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/iotconnectors/iotconnector_List.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/iotconnectors/iotconnector_Patch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/iotconnectors/iotconnector_fhirdestination_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/iotconnectors/iotconnector_fhirdestination_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/iotconnectors/iotconnector_fhirdestination_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/iotconnectors/iotconnector_fhirdestination_List.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/legacy/PrivateLinkResourceGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/legacy/PrivateLinkResourcesListByService.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/legacy/ServiceCreate.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/legacy/ServiceCreateMinimum.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/legacy/ServiceCreatePrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/legacy/ServiceDelete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/legacy/ServiceDeletePrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/legacy/ServiceGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/legacy/ServiceGetPrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/legacy/ServiceList.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/legacy/ServiceListByResourceGroup.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/legacy/ServiceListPrivateEndpointConnections.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/legacy/ServicePatch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/privatelink/PrivateLinkResourcesListByWorkspace.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/privatelink/WorkspaceCreatePrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/privatelink/WorkspaceDeletePrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/privatelink/WorkspaceGetPrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/privatelink/WorkspaceListPrivateEndpointConnections.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/privatelink/WorkspacePrivateLinkResourceGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/workspaces/Workspaces_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/workspaces/Workspaces_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/workspaces/Workspaces_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/workspaces/Workspaces_ListByResourceGroup.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/workspaces/Workspaces_ListBySubscription.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/examples/workspaces/Workspaces_Patch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/healthcare-apis.json
  specification/healthcareapis/resource-manager/readme.md
Labels: Approved-OkToMerge, ARMSignedOff, ARMReview

#19763 Adding status code 202 to Private endpoints PUT
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2022-01-01-preview/examples/NameSpaces/PrivateEndPointConnectionCreate.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2022-01-01-preview/namespace-preview.json
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-FixRequiredOnFailure, Approved-LintDiff

#19849 [Security] Remove wrong configuration in `readme.md` to fix pipeline
  specification/security/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript

#19857 Updated x-ms-permissions description again
  specification/storage/data-plane/Microsoft.StorageDataLake/stable/2019-12-12/DataLakeStorage.json
Labels: BreakingChangeReviewRequired, CI-FixRequiredOnFailure

#19825 Robocopy Language stable 2021-10-01
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/SuccessfulQueryKnowledgebases.json
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/SuccessfulQueryText.json
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/authoring/SuccessfulCreateProject.json
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/authoring/SuccessfulDeleteProject.json
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/authoring/SuccessfulGetProject.json
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/authoring/SuccessfulGetQnas.json
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/authoring/SuccessfulGetSources.json
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/authoring/SuccessfulGetSynonyms.json
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/authoring/SuccessfulProjectDeleteJobStatus.json
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/authoring/SuccessfulProjectDeployJobStatus.json
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/authoring/SuccessfulProjectExportJobStatus.json
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/authoring/SuccessfulProjectImportJobStatus.json
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/authoring/SuccessfulProjectListDeployments.json
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/authoring/SuccessfulProjectSubmitDeployJob.json
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/authoring/SuccessfulProjectSubmitExportJob.json
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/authoring/SuccessfulProjectSubmitImportJob.json
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/authoring/SuccessfulProjectsListProjects.json
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/authoring/SuccessfulUpdateActiveLearningFeedback.json
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/authoring/SuccessfulUpdateQnas.json
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/authoring/SuccessfulUpdateQnasJobStatus.json
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/authoring/SuccessfulUpdateSources.json
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/authoring/SuccessfulUpdateSourcesJobStatus.json
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/authoring/SuccessfulUpdateSynonyms.json
  dev/cognitiveservices/data-plane/Language/questionanswering-authoring.json
  dev/cognitiveservices/data-plane/Language/questionanswering.json
  dev/cognitiveservices/data-plane/Language/readme.md
Labels: CI-FixRequiredOnFailure

#19835 [Language Text] Update swagger titles
  dev/cognitiveservices/data-plane/Language/analyzetext.json
  specification/cognitiveservices/data-plane/Language/preview/2021-11-01-preview/analyzetext.json
  specification/cognitiveservices/data-plane/Language/preview/2022-02-01-preview/analyzetext.json
  specification/cognitiveservices/data-plane/Language/preview/2022-03-01-preview/analyzetext.json
  specification/cognitiveservices/data-plane/Language/preview/2022-05-15-preview/analyzetext-authoring.json
  specification/cognitiveservices/data-plane/Language/preview/2022-05-15-preview/analyzetext.json
  specification/cognitiveservices/data-plane/Language/readme.md
  specification/cognitiveservices/data-plane/Language/stable/2022-05-01/analyzetext-authoring.json
  specification/cognitiveservices/data-plane/Language/stable/2022-05-01/analyzetext.json
Labels: Approved-BreakingChange, CI-FixRequiredOnFailure

#19725 Swagger API Spec Update for adding Low Disk Mode to Storage Sync
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples/ServerEndpoints_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples/ServerEndpoints_ListBySyncGroup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/storagesync.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-ModelValidation, CI-BreakingChange-JavaScript

#19520 [Maps - Render & Spatial Services] add v2022-08-01
  specification/maps/data-plane/Render/readme.md
  specification/maps/data-plane/Render/stable/2022-08-01/examples/Render_GetCopyrightCaption.json
  specification/maps/data-plane/Render/stable/2022-08-01/examples/Render_GetCopyrightForTile.json
  specification/maps/data-plane/Render/stable/2022-08-01/examples/Render_GetCopyrightForWorld.json
  specification/maps/data-plane/Render/stable/2022-08-01/examples/Render_GetCopyrightFromBoundingBox.json
  specification/maps/data-plane/Render/stable/2022-08-01/examples/Render_GetMapAttribution.json
  specification/maps/data-plane/Render/stable/2022-08-01/examples/Render_GetMapStateTile.json
  specification/maps/data-plane/Render/stable/2022-08-01/examples/Render_GetMapStaticImage.json
  specification/maps/data-plane/Render/stable/2022-08-01/examples/Render_GetMapTile.json
  specification/maps/data-plane/Render/stable/2022-08-01/examples/Render_GetMapTileset.json
  specification/maps/data-plane/Render/stable/2022-08-01/render.json
  specification/maps/data-plane/Spatial/readme.md
  specification/maps/data-plane/Spatial/stable/2022-08-01/examples/Spatial_GetBuffer.json
  specification/maps/data-plane/Spatial/stable/2022-08-01/examples/Spatial_GetClosestPoint.json
  specification/maps/data-plane/Spatial/stable/2022-08-01/examples/Spatial_GetGeofence.json
  specification/maps/data-plane/Spatial/stable/2022-08-01/examples/Spatial_GetGreatCircleDistance.json
  specification/maps/data-plane/Spatial/stable/2022-08-01/examples/Spatial_GetPointInPolygon.json
  specification/maps/data-plane/Spatial/stable/2022-08-01/examples/Spatial_PostBuffer.json
  specification/maps/data-plane/Spatial/stable/2022-08-01/examples/Spatial_PostClosestPoint.json
  specification/maps/data-plane/Spatial/stable/2022-08-01/examples/Spatial_PostGeofence.json
  specification/maps/data-plane/Spatial/stable/2022-08-01/examples/Spatial_PostPointInPolygon.json
  specification/maps/data-plane/Spatial/stable/2022-08-01/spatial.json
Labels: CI-FixRequiredOnFailure

#19330 update appconfiguration
  specification/appconfiguration/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go

#19862 Merging Dynatrace swagger in stable folder
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/dynatrace.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_CreateOrUpdate_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_CreateOrUpdate_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_Delete_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_Delete_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_GetAccountCredentials_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_GetAccountCredentials_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_GetSSODetails_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_GetSSODetails_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_GetVMHostPayload_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_GetVMHostPayload_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_Get_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_Get_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_ListAppServices_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_ListAppServices_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_ListByResourceGroup_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_ListByResourceGroup_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_ListBySubscriptionId_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_ListBySubscriptionId_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_ListHosts_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_ListHosts_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_ListLinkableEnvironments_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_ListLinkableEnvironments_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_ListMonitoredResources_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_ListMonitoredResources_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_Update_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_Update_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Operations_List_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Operations_List_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/SingleSignOn_CreateOrUpdate_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/SingleSignOn_CreateOrUpdate_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/SingleSignOn_Get_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/SingleSignOn_Get_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/SingleSignOn_List_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/SingleSignOn_List_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/TagRules_CreateOrUpdate_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/TagRules_CreateOrUpdate_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/TagRules_Delete_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/TagRules_Delete_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/TagRules_Get_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/TagRules_Get_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/TagRules_List_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/TagRules_List_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/TagRules_Update_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/TagRules_Update_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/readme.go.md
  specification/dynatrace/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview

#19871 Update readmes for the 2022-07-01 dev branch of container service
  specification/containerservice/resource-manager/readme.go.md
  specification/containerservice/resource-manager/readme.java.md
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript

#19872 Update readmes for the 2022-07-02-preview dev branch of container service
  specification/containerservice/resource-manager/readme.go.md
  specification/containerservice/resource-manager/readme.java.md
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: CI-BreakingChange-JavaScript

#19788 [CDN] Fix customDomains property type in Endpoint
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/cdn.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, FixS360, CI-BreakingChange-JavaScript

#19866 Adding Microsoft.Sql AdvancedThreatProtectionSettings APIs for MI on v5 tag for 2022-02-01-preview
  specification/sql/resource-manager/readme.md
Labels: CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript

#19876 Add latest StorageMover updates
  specification/storagemover/resource-manager/Microsoft.StorageMover/preview/2022-07-01-preview/examples/Agents_CreateOrUpdate.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/preview/2022-07-01-preview/examples/Agents_Get.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/preview/2022-07-01-preview/examples/Agents_List.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/preview/2022-07-01-preview/examples/Agents_Update.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/preview/2022-07-01-preview/examples/Endpoints_List.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/preview/2022-07-01-preview/examples/JobRuns_Get.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/preview/2022-07-01-preview/examples/JobRuns_List.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/preview/2022-07-01-preview/storagemover.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired

#19878 Moving files from azure-rest-spec-pr to azure-rest-spec repo after api review
  custom-words.txt
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-03-01-preview/azureopenai.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-03-01-preview/examples/cancel_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-03-01-preview/examples/delete_deployment.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-03-01-preview/examples/delete_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-03-01-preview/examples/delete_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-03-01-preview/examples/get_deployment.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-03-01-preview/examples/get_deployments.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-03-01-preview/examples/get_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-03-01-preview/examples/get_file_content.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-03-01-preview/examples/get_files.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-03-01-preview/examples/get_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-03-01-preview/examples/get_finetune_events.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-03-01-preview/examples/get_finetunes.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-03-01-preview/examples/get_model_base.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-03-01-preview/examples/get_model_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-03-01-preview/examples/get_models.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-03-01-preview/examples/import_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-03-01-preview/examples/patch_deployment_less_capacity.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-03-01-preview/examples/post_deployment.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-03-01-preview/examples/post_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-03-01-preview/examples/upload_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-06-01-preview/azureopenai.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-06-01-preview/examples/cancel_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-06-01-preview/examples/delete_deployment.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-06-01-preview/examples/delete_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-06-01-preview/examples/delete_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-06-01-preview/examples/get_deployment.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-06-01-preview/examples/get_deployments.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-06-01-preview/examples/get_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-06-01-preview/examples/get_file_content.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-06-01-preview/examples/get_files.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-06-01-preview/examples/get_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-06-01-preview/examples/get_finetune_events.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-06-01-preview/examples/get_finetunes.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-06-01-preview/examples/get_model_base.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-06-01-preview/examples/get_model_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-06-01-preview/examples/get_models.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-06-01-preview/examples/import_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-06-01-preview/examples/patch_deployment_less_capacity.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-06-01-preview/examples/post_classification_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-06-01-preview/examples/post_deployment.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-06-01-preview/examples/post_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-06-01-preview/examples/upload_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/readme.md
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2022-03-01-preview/inference.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2022-06-01-preview/inference.json
Labels: CI-FixRequiredOnFailure, Approved-Avocado, Approved-ModelValidation, Approved-SemanticValidation

#19875 Add example of Azure KeyVault Secrets Provider Addon for 2022-07-01
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-07-01/examples/ManagedClustersCreate_AzureKeyvaultSecretsProvider.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-07-01/managedClusters.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript

#19874 Add example of Azure KeyVault Secrets Provider Addon for 2022-07-02-preview
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-07-02-preview/examples/ManagedClustersCreate_AzureKeyvaultSecretsProvider.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-07-02-preview/managedClusters.json
Labels: BreakingChangeReviewRequired, CI-BreakingChange-JavaScript

#19858 Removed static IP allocation only from examples
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2020-04-01-preview/examples/InboundEndpoint_Get.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2020-04-01-preview/examples/InboundEndpoint_List.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2020-04-01-preview/examples/InboundEndpoint_Patch.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2020-04-01-preview/examples/InboundEndpoint_Put.json
  specification/dnsresolver/resource-manager/Microsoft.Network/stable/2022-07-01/examples/InboundEndpoint_Get.json
  specification/dnsresolver/resource-manager/Microsoft.Network/stable/2022-07-01/examples/InboundEndpoint_List.json
  specification/dnsresolver/resource-manager/Microsoft.Network/stable/2022-07-01/examples/InboundEndpoint_Patch.json
  specification/dnsresolver/resource-manager/Microsoft.Network/stable/2022-07-01/examples/InboundEndpoint_Put.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2

#19903 Update securityinsights readme.python
  specification/securityinsights/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript

#19660 Fix lint errors in Synapse trigger.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Trigger.json
Labels: CI-BreakingChange-Go, CI-FixRequiredOnFailure, ShiftLeftViolation

#19781 Updating Swagger Spec for MLC for CustomServices
  custom-words.txt
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-06-01-preview/examples/Compute/createOrUpdate/ComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-06-01-preview/examples/Compute/get/ComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-06-01-preview/examples/Compute/updateCustomServices.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-06-01-preview/machineLearningServices.json
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, ARMReview

#19884 add x-ms-identifiers for labservices
  specification/labservices/resource-manager/Microsoft.LabServices/preview/2021-11-15-preview/Skus.json
Labels: CI-BreakingChange-Python-Track2

#19764 add to description of OS state
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-01/ComputeRP/image.json
Labels: CI-BreakingChange-Go, CI-FixRequiredOnFailure

#19767 [Hub Generated] Review request for Microsoft.KeyVault to add version preview/2021-06-01-preview
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/ManagedHsm_Update.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/managedHsm.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-06-01-preview/managedHsm.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-11-01-preview/examples/ManagedHsm_Update.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-11-01-preview/managedHsm.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2021-10-01/examples/ManagedHsm_Update.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2021-10-01/managedHsm.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/managedHsm.json
Labels: ARMSignedOff, FixS360, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview

#19846 [Microsoft.DeviceUpdate] Adding first stable API version
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/deviceupdate.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/examples/Accounts/Accounts_Create.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/examples/Accounts/Accounts_Delete.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/examples/Accounts/Accounts_Get.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/examples/Accounts/Accounts_Head.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/examples/Accounts/Accounts_List.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/examples/Accounts/Accounts_Update.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/examples/CheckNameAvailability_AlreadyExists.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/examples/CheckNameAvailability_Available.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/examples/Instances/Instances_Create.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/examples/Instances/Instances_Delete.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/examples/Instances/Instances_Get.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/examples/Instances/Instances_Head.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/examples/Instances/Instances_ListByAccount.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/examples/Instances/Instances_Update.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/examples/Operations_List.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/examples/PrivateEndpointConnectionProxies/PrivateEndpointConnectionProxy_CreateOrUpdate.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/examples/PrivateEndpointConnectionProxies/PrivateEndpointConnectionProxy_Delete.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/examples/PrivateEndpointConnectionProxies/PrivateEndpointConnectionProxy_Get.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/examples/PrivateEndpointConnectionProxies/PrivateEndpointConnectionProxy_ListByAccount.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/examples/PrivateEndpointConnectionProxies/PrivateEndpointConnectionProxy_PrivateEndpointUpdate.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/examples/PrivateEndpointConnectionProxies/PrivateEndpointConnectionProxy_Validate.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/examples/PrivateEndpointConnections/PrivateEndpointConnection_CreateOrUpdate.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/examples/PrivateEndpointConnections/PrivateEndpointConnection_Delete.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/examples/PrivateEndpointConnections/PrivateEndpointConnection_Get.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/examples/PrivateEndpointConnections/PrivateEndpointConnection_ListByAccount.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/examples/PrivateLinkResources/PrivateLinkResources_Get.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/examples/PrivateLinkResources/PrivateLinkResources_ListByAccount.json
  specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/stable/2022-10-01/privatelinks.json
  specification/deviceupdate/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview

#19856 KustoPool: Add aadObjectId property
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/KustoPoolDatabasePrincipalAssignmentsCreateOrUpdate.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/KustoPoolDatabasePrincipalAssignmentsGet.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/KustoPoolDatabasePrincipalAssignmentsList.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/KustoPoolPrincipalAssignmentsCreateOrUpdate.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/KustoPoolPrincipalAssignmentsGet.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/KustoPoolPrincipalAssignmentsList.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/kustoPool.json
Labels: Approved-BreakingChange, NewApiVersionRequired, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, CI-BreakingChange-JavaScript

#19917 Updata securityinsights readme.python
  specification/securityinsights/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript

#19607 modify readme.typescript.md for compute package
  specification/compute/resource-manager/readme.typescript.md
Labels: CI-BreakingChange-Go

#19578 Dev gubalasu frontdoor microsoft.network 2021 06 01
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2021-06-01/assets/frontdoor.svg
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2021-06-01/examples/CheckFrontdoorNameAvailability.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2021-06-01/examples/CheckFrontdoorNameAvailabilityWithSubscription.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2021-06-01/examples/FrontdoorCreate.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2021-06-01/examples/FrontdoorDelete.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2021-06-01/examples/FrontdoorDisableHttps.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2021-06-01/examples/FrontdoorEnableHttps.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2021-06-01/examples/FrontdoorFrontendEndpointGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2021-06-01/examples/FrontdoorFrontendEndpointList.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2021-06-01/examples/FrontdoorGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2021-06-01/examples/FrontdoorList.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2021-06-01/examples/FrontdoorListAll.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2021-06-01/examples/FrontdoorPurgeContent.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2021-06-01/examples/FrontdoorRulesEngineCreate.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2021-06-01/examples/FrontdoorRulesEngineDelete.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2021-06-01/examples/FrontdoorRulesEngineGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2021-06-01/examples/FrontdoorRulesEngineList.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2021-06-01/examples/FrontdoorValidateCustomDomain.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2021-06-01/examples/WafListManagedRuleSets.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2021-06-01/examples/WafListPolicies.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2021-06-01/examples/WafPolicyCreateOrUpdate.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2021-06-01/examples/WafPolicyDelete.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2021-06-01/examples/WafPolicyGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2021-06-01/frontdoor.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2021-06-01/frontdoor.specs.md
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2021-06-01/network.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2021-06-01/webapplicationfirewall.json
  specification/frontdoor/resource-manager/readme.md
Labels: ARMSignedOff

#19757 Add MITRE support to alert rules models
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2022-08-01/AlertRules.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2022-08-01/Incidents.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2022-08-01/common/AlertTypes.json
Labels: ARMSignedOff, ARMReview

#19885 Updated Examples for Server Endpoints in Storage Sync
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples/ServerEndpoints_ListBySyncGroup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples/ServerEndpoints_Update.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript

#19923 Update securityinsights readme.python
  specification/securityinsights/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript

#19928 Append with Flush public rest docs
  specification/storage/data-plane/Microsoft.StorageDataLake/stable/2019-12-12/DataLakeStorage.json
Labels: BreakingChangeReviewRequired, CI-FixRequiredOnFailure

#19930 ADLS public rest docs spelling issues
  specification/storage/data-plane/Microsoft.StorageDataLake/stable/2019-12-12/DataLakeStorage.json
Labels: BreakingChangeReviewRequired

#19337 Service Fabric Managed Clusters - api version 2022-06-01-preview
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ApplicationDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ApplicationGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ApplicationListOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ApplicationPatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ApplicationPutOperation_example_max.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ApplicationPutOperation_example_min.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ApplicationTypeNameDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ApplicationTypeNameGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ApplicationTypeNameListOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ApplicationTypeNamePatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ApplicationTypeNamePutOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ApplicationTypeVersionDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ApplicationTypeVersionGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ApplicationTypeVersionListOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ApplicationTypeVersionPatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ApplicationTypeVersionPutOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/DeleteNodes_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/Long_running_operation_result.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/Long_running_operation_status_failed.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/Long_running_operation_status_succeeded.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ManagedClusterDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ManagedClusterGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ManagedClusterListByResourceGroupOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ManagedClusterListBySubscriptionOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ManagedClusterPatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ManagedClusterPutOperation_example_max.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ManagedClusterPutOperation_example_min.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ManagedClusterVersionGetByEnvironment_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ManagedClusterVersionGet_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ManagedClusterVersionListByEnvironment.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ManagedClusterVersionList_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/NodeTypeDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/NodeTypeGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/NodeTypeListOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/NodeTypePatchOperationAutoScale_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/NodeTypePatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/NodeTypePutOperationAutoScale_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/NodeTypePutOperationDedicatedHost_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/NodeTypePutOperationStateless_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/NodeTypePutOperation_example_max.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/NodeTypePutOperation_example_min.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/NodeTypeSkusListOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/Operations_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ReimageNodes_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/RestartNodes_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ServiceDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ServiceGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ServiceListOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ServicePatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ServicePutOperation_example_max.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/ServicePutOperation_example_min.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/managedAzResiliencyStatusPost_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/managedUnsupportedVMSizesGet_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/examples/managedUnsupportedVMSizesList_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/managedapplication.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/managedcluster.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-06-01-preview/nodetype.json
  specification/servicefabricmanagedclusters/resource-manager/readme.md
Labels: ARMSignedOff, CI-FixRequiredOnFailure, ARMReview

#19904 move ADH GA type to preview
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-07-02-preview/managedClusters.json
Labels: FixS360, CI-BreakingChange-JavaScript

#19893 Add encryption property to workspace update parameters
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-06-01-preview/machineLearningServices.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go

#19808 Add PostgreSQL v14 to api spec
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/postgresql.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-privatepreview/getCachedServerName.json
Labels: CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python

#19936 add overlay vpa swagger
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-07-02-preview/managedClusters.json
Labels: BreakingChangeReviewRequired

#19895 Adding Databases, ReplicationLinks APIs for SQL DB on v5 tag for 2022-02-01
  specification/sql/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript

#19964 Add enum value to OutputDataDeliveryMode
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-06-01-preview/mfe.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation

#19968 add x-ms-identifiers for intune
  specification/intune/resource-manager/Microsoft.Intune/preview/2015-01-14-preview/intune.json
Labels: CI-FixRequiredOnFailure, Approved-ModelValidation, Approved-SemanticValidation

#19973 Update postgresql readme.python.md
  specification/postgresql/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2

#19945 Fix definition for customDomainAnalysisResult
  specification/app/resource-manager/Microsoft.App/preview/2022-01-01-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2022-01-01-preview/examples/ContainerApps_ListCustomHostNameAnalysis.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ContainerApps_ListCustomHostNameAnalysis.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, NewApiVersionRequired, CI-BreakingChange-Go, FixS360, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python

#19937 [Hub Generated] Publish private branch 'daorozcoABACGA'
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/authorization-DenyAssignmentCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/authorization-ProviderOperationsCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/authorization-RoleAssignmentsCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/authorization-RoleDefinitionsCalls.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/common-types.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples/DeleteRoleDefinition.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples/GetAllDenyAssignments.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples/GetAllProviderOperations.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples/GetDenyAssignmentById.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples/GetDenyAssignmentByNameId.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples/GetDenyAssignmentByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples/GetDenyAssignmentsForResource.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples/GetDenyAssignmentsForResourceGroup.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples/GetPermissions.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples/GetProviderOperationsRP.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples/GetResourcePermissions.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples/GetRoleDefinitionAtScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples/GetRoleDefinitionById.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples/GetRoleDefinitionByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples/PutRoleDefinition.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples/RoleAssignments_CreateById.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples/RoleAssignments_CreateForResource.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples/RoleAssignments_CreateForResourceGroup.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples/RoleAssignments_CreateForSubscription.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples/RoleAssignments_Delete.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples/RoleAssignments_DeleteById.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples/RoleAssignments_Get.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples/RoleAssignments_GetById.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples/RoleAssignments_ListForResource.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples/RoleAssignments_ListForResourceGroup.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples/RoleAssignments_ListForScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/examples/RoleAssignments_ListForSubscription.json
  specification/authorization/resource-manager/readme.csharp.md
  specification/authorization/resource-manager/readme.md
Labels: BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-FixRequiredOnFailure

#19938 Description for DNS Name Reuse Policy
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2021-10-01/containerInstance.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript

#19970 Added osName to 2022-05-10-preview
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2022-05-10-preview/HybridCompute.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, NewApiVersionRequired, CI-BreakingChange-Go, CI-BreakingChange-JavaScript

#19907 add soft delete related properties
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-06-01-preview/machineLearningServices.json
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, ARMReview

#19944 introduce a composite tag for monitor
  specification/monitor/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript

#19971 Swagger API for Operation Abort
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-07-02-preview/examples/AgentPoolsAbortOperation.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-07-02-preview/examples/ManagedClustersAbortOperation.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-07-02-preview/managedClusters.json
Labels: ARMSignedOff, ARMReview

#19942 Update some crypto documentation.
  specification/keyvault/data-plane/Microsoft.KeyVault/stable/7.3/keys.json
Labels: KeyVault

#20005 Remove SoftDeleteEnabled.
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-06-01-preview/machineLearningServices.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#19811 Update description text for type=apiKey, name=subscription-key
  specification/maps/data-plane/Creator/preview/1.0/spatial.json
  specification/maps/data-plane/Creator/preview/2.0/alias.json
  specification/maps/data-plane/Creator/preview/2.0/data.json
  specification/maps/data-plane/Creator/preview/2.0/dataset.json
  specification/maps/data-plane/Creator/preview/2.0/dwgconversion.json
  specification/maps/data-plane/Creator/preview/2.0/featurestate.json
  specification/maps/data-plane/Creator/preview/2.0/tileset.json
  specification/maps/data-plane/Creator/preview/2.0/wfs.json
  specification/maps/data-plane/DEM/preview/1.0/elevation.json
  specification/maps/data-plane/Geolocation/preview/1.0/geolocation.json
  specification/maps/data-plane/Microsoft.Maps/Alias/preview/2.0/alias.json
  specification/maps/data-plane/Microsoft.Maps/DEM/preview/1.0/elevation.json
  specification/maps/data-plane/Microsoft.Maps/Data/preview/1.0/data.json
  specification/maps/data-plane/Microsoft.Maps/Data/preview/2.0/data.json
  specification/maps/data-plane/Microsoft.Maps/Dataset/preview/2.0/dataset.json
  specification/maps/data-plane/Microsoft.Maps/DwgConversion/preview/2.0/dwgconversion.json
  specification/maps/data-plane/Microsoft.Maps/FeatureState/preview/2.0/featurestate.json
  specification/maps/data-plane/Microsoft.Maps/Feedback/preview/1.0/feedback.json
  specification/maps/data-plane/Microsoft.Maps/Geolocation/preview/1.0/geolocation.json
  specification/maps/data-plane/Microsoft.Maps/Render/preview/1.0/render.json
  specification/maps/data-plane/Microsoft.Maps/Render/preview/2.0/render.json
  specification/maps/data-plane/Microsoft.Maps/Render/preview/2.1/render.json
  specification/maps/data-plane/Microsoft.Maps/Route/preview/1.0/route.json
  specification/maps/data-plane/Microsoft.Maps/Search/preview/1.0/search.json
  specification/maps/data-plane/Microsoft.Maps/Spatial/preview/1.0/spatial.json
  specification/maps/data-plane/Microsoft.Maps/Tileset/preview/2.0/tileset.json
  specification/maps/data-plane/Microsoft.Maps/Timezone/preview/1.0/timezone.json
  specification/maps/data-plane/Microsoft.Maps/Traffic/preview/1.0/traffic.json
  specification/maps/data-plane/Microsoft.Maps/WFS/preview/2.0/wfs.json
  specification/maps/data-plane/Microsoft.Maps/Weather/preview/1.0/weather.json
  specification/maps/data-plane/Render/preview/1.0/render.json
  specification/maps/data-plane/Render/preview/2.0/render.json
  specification/maps/data-plane/Render/preview/2.1/render.json
  specification/maps/data-plane/Route/preview/1.0/route.json
  specification/maps/data-plane/Search/preview/1.0/search.json
  specification/maps/data-plane/Timezone/preview/1.0/timezone.json
  specification/maps/data-plane/Traffic/preview/1.0/traffic.json
  specification/maps/data-plane/Weather/preview/1.0/weather.json
  specification/maps/data-plane/Weather/stable/1.1/weather.json
Labels: CI-FixRequiredOnFailure, Approved-ModelValidation

#19992 [Hub Generated] Review request for Microsoft.StorageMover to add version preview/2022-07-01-preview
  specification/storagemover/resource-manager/Microsoft.StorageMover/preview/2022-07-01-preview/examples/Agents_Delete.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/preview/2022-07-01-preview/examples/Endpoints_Delete.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/preview/2022-07-01-preview/examples/JobDefinitions_CreateOrUpdate.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/preview/2022-07-01-preview/examples/JobDefinitions_Delete.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/preview/2022-07-01-preview/examples/JobDefinitions_Get.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/preview/2022-07-01-preview/examples/JobDefinitions_List.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/preview/2022-07-01-preview/examples/JobDefinitions_Update.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/preview/2022-07-01-preview/examples/Projects_Delete.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/preview/2022-07-01-preview/examples/StorageMovers_Delete.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/preview/2022-07-01-preview/storagemover.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, resource-manager

#19987 Fix description on disableTcpState tracking
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/networkInterface.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript

#19888 Network function
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-08-01/AzureTrafficCollector.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-08-01/examples/AzureTrafficCollectorCreate.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-08-01/examples/AzureTrafficCollectorDelete.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-08-01/examples/AzureTrafficCollectorGet.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-08-01/examples/AzureTrafficCollectorUpdateTags.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-08-01/examples/AzureTrafficCollectorsByResourceGroupList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-08-01/examples/AzureTrafficCollectorsBySubscriptionList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-08-01/examples/CollectorPoliciesList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-08-01/examples/CollectorPolicyCreate.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-08-01/examples/CollectorPolicyDelete.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-08-01/examples/CollectorPolicyGet.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-08-01/examples/OperationsList.json
  specification/networkfunction/resource-manager/readme.md
  specification/networkfunction/resource-manager/readme.ruby.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, ARMReview

#19456 Fix source control status code.
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/SourceControls.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/SourceControls_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/SourceControls.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/SourceControls_CreateOrUpdate.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, NewApiVersionRequired, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript

#19782 Add SAN for certificate
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/Certificate_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/Certificate_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/Certificates_ListByManagedEnvironment.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/Certificates_Patch.json
Labels: CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager

#19974 Enable Dapr AI Connection string for Microsoft.App connected environment
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/ConnectedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ConnectedEnvironments_CreateOrUpdate.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript, resource-manager

#20011 Update network readme.python.md
  specification/network/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#19976 AKS OSSKU supports Windows options
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-07-01/examples/AgentPoolsCreate_WindowsOSSKU.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-07-01/managedClusters.json
Labels: CI-BreakingChange-Python-Track2

#20013 Add SAN for certificate
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/Certificate_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/Certificate_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/Certificates_ListByManagedEnvironment.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/Certificates_Patch.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ConnectedEnvironmentsCertificate_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ConnectedEnvironmentsCertificate_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ConnectedEnvironmentsCertificates_ListByConnectedEnvironment.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ConnectedEnvironmentsCertificates_Patch.json
Labels: CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager

#20019 [Microsoft.DeviceUpdate] Fixed suppressions in readme.md
  specification/deviceupdate/resource-manager/readme.md
Labels: FixS360, resource-manager

#19975 Fix operationId value
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/postgresql.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python
