Repository Azure/azure-rest-api-specs, pull requests merged in 2022-08, with the labels that each got.

#19873 Haitao/secured by perimeter0702
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-07-02-preview/managedClusters.json
Labels: DoNotMerge, resource-manager

#19916 Add support for ImageCleaner on AKS
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-07-02-preview/managedClusters.json
Labels: BreakingChangeReviewRequired

#19954 Added new managed database swagger and example
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-05-01-preview/ManagedDatabases.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-05-01-preview/examples/ManagedDatabaseCreateCrossSubscriptionPointInTimeRestore.json
Labels: CI-BreakingChange-JavaScript

#19932 Add BillingType Property to ExpressRoutePorts
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/ExpressRoutePortCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/ExpressRoutePortGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/ExpressRoutePortList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/ExpressRoutePortListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/ExpressRoutePortUpdateLink.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/ExpressRoutePortUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/expressRoutePort.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript

#19850 modify link in batchmanagement.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2022-06-01/BatchManagement.json
Labels: CI-BreakingChange-Go

#19864 Add zone redundancy preference field to workloadmonitor
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/workloadmonitor/monitors_Create.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/workloadmonitor/monitors_Get.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/workloadmonitor/monitors_List.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/workloadmonitor/monitors_ListByRG.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/workloadmonitor/monitors_PatchTags.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/workloadmonitor/monitors_PatchTags_Delete.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/monitors.json
Labels: Approved-BreakingChange, NewApiVersionRequired

#20057 Schema Definition Ordering Change
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-06-01-preview/mfe.json
Labels: CI-FixRequiredOnFailure, Approved-ModelValidation, resource-manager

#20059 modify appcontainers readme.typescript.md
  specification/app/resource-manager/readme.typescript.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#19901 Fix violated rule R4010: Add default error response for AgentPools_GetAvailableAgentPoolVersions in 2022-07-01
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-07-01/managedClusters.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript

#19890 [Hub Generated] Review request for Microsoft.Consumption to add version stable/2021-10-01
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/consumption.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript

#19902 Fix violated rule R4010: Add default error response for AgentPools_GetAvailableAgentPoolVersions in 2022-07-02-preview
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-07-02-preview/managedClusters.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript

#19949 Flexible MySQL: add APIs for AAD administrator
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/AzureADAdministrator.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/AzureADAdministratorCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/AzureADAdministratorDelete.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/AzureADAdministratorGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/AzureADAdministratorsListByServer.json
  specification/mysql/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, CI-FixRequiredOnFailure, ARMReview

#20064 [Monitor] Update readme.md
  specification/monitor/resource-manager/readme.md
  specification/monitor/resource-manager/readme.python.md
Labels: Monitor, CI-BreakingChange-Go, resource-manager

#19269 Communication Services - Rooms APIspecification
  cSpell.json
  specification/communication/data-plane/Rooms/preview/2022-02-01-preview/communicationservicesrooms.json
  specification/communication/data-plane/Rooms/preview/2022-02-01-preview/examples/Rooms_AddParticipants.json
  specification/communication/data-plane/Rooms/preview/2022-02-01-preview/examples/Rooms_CreateRoom.json
  specification/communication/data-plane/Rooms/preview/2022-02-01-preview/examples/Rooms_DeleteRoom.json
  specification/communication/data-plane/Rooms/preview/2022-02-01-preview/examples/Rooms_GetParticipants.json
  specification/communication/data-plane/Rooms/preview/2022-02-01-preview/examples/Rooms_GetRoom.json
  specification/communication/data-plane/Rooms/preview/2022-02-01-preview/examples/Rooms_RemoveParticipants.json
  specification/communication/data-plane/Rooms/preview/2022-02-01-preview/examples/Rooms_UpdateParticipants.json
  specification/communication/data-plane/Rooms/preview/2022-02-01-preview/examples/Rooms_UpdateRoom.json
  specification/communication/data-plane/Rooms/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane

#20072 Add Grafana integrations
  specification/dashboard/resource-manager/Microsoft.Dashboard/stable/2022-08-01/examples/Grafana_Create.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/stable/2022-08-01/examples/Grafana_Get.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/stable/2022-08-01/examples/Grafana_List.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/stable/2022-08-01/examples/Grafana_ListByResourceGroup.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/stable/2022-08-01/examples/Grafana_Update.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/stable/2022-08-01/grafana.json
Labels: Approved-BreakingChange, NewApiVersionRequired, CI-BreakingChange-Go, resource-manager

#19766 add Virtual network gateway policy group api
  custom-words.txt
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/virtualNetworkGateway.json
Labels: Reviewed-ChangesRequested, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#20050 enablePrivateLinkFastPath property for VirtualNetworkGatewayConnectio…
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/ExpressRouteConnectionCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/ExpressRouteConnectionGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/ExpressRouteConnectionList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/virtualNetworkGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/virtualWan.json
Labels: Network, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#17877 Creating new API version for Alerts API
  specification/security/resource-manager/Microsoft.Security/stable/2022-01-01/alerts.json
  specification/security/resource-manager/Microsoft.Security/stable/2022-01-01/examples/Alerts/GetAlertResourceGroupLocation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2022-01-01/examples/Alerts/GetAlertSubscriptionLocation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2022-01-01/examples/Alerts/GetAlertsResourceGroupLocation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2022-01-01/examples/Alerts/GetAlertsResourceGroup_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2022-01-01/examples/Alerts/GetAlertsSubscription_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2022-01-01/examples/Alerts/GetAlertsSubscriptionsLocation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2022-01-01/examples/Alerts/SimulateAlerts_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2022-01-01/examples/Alerts/UpdateAlertResourceGroupLocation_activate_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2022-01-01/examples/Alerts/UpdateAlertResourceGroupLocation_dismiss_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2022-01-01/examples/Alerts/UpdateAlertResourceGroupLocation_inProgress_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2022-01-01/examples/Alerts/UpdateAlertResourceGroupLocation_resolve_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2022-01-01/examples/Alerts/UpdateAlertSubscriptionLocation_activate_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2022-01-01/examples/Alerts/UpdateAlertSubscriptionLocation_dismiss_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2022-01-01/examples/Alerts/UpdateAlertSubscriptionLocation_inProgress_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2022-01-01/examples/Alerts/UpdateAlertSubscriptionLocation_resolve_example.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#19912 [Cognitive Services - Personalizer version 2022-09-01-preview]
  custom-words.txt
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/Personalizer.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/Evaluations_Create.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/Evaluations_Delete.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/Evaluations_Get.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/Evaluations_List.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/Events_Activate.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/Events_Reward.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/FeatureImportances_Create.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/FeatureImportances_Delete.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/FeatureImportances_Get.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/FeatureImportances_List.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/Log_Delete.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/Log_GetProperties.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/Log_Interactions.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/Log_Observations.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/Model_Get.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/Model_GetProperties.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/Model_Import.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/Model_Reset.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/MultiSlotEvents_Activate.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/MultiSlotEvents_Reward.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/MultiSlot_Rank.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/Policy_Get.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/Policy_Reset.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/Policy_Update.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/Rank.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/ServiceConfiguration_ApplyFromEvaluation.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/ServiceConfiguration_Get.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/ServiceConfiguration_Update.json
  specification/cognitiveservices/data-plane/Personalizer/readme.md
Labels: Approved-BreakingChange, data-plane

#20066 ManagedDatabaseMoveOperations: Initial commit
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-05-01-preview/ManagedDatabaseMoveOperations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-05-01-preview/examples/ManagedDatabaseMoveOperationResultGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-05-01-preview/examples/ManagedDatabaseMoveOperationResultList.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-05-01-preview/examples/ManagedDatabaseMoveOperationResultListLastOperations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-05-01-preview/examples/ManagedDatabaseMoveOperationResultListMax.json
  specification/sql/resource-manager/readme.md
Labels: SQL, ARMSignedOff, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#19966 add x-ms-identifiers for hybridnetwork
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2022-01-01-preview/common.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2022-01-01-preview/networkFunction.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2022-01-01-preview/networkFunctionVendor.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2022-01-01-preview/vendor.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2022-01-01-preview/vendorNetworkFunction.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python

#20027 Support for Per Rule Actions in Application Gateway WAF
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/WafPolicyCreateOrUpdate.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/WafPolicyGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/webapplicationfirewall.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#20108 [Servicebus] Update readme.python.md
  specification/servicebus/resource-manager/readme.python.md
Labels: Service Bus, CI-BreakingChange-Python-Track2, resource-manager

#20033 Add ColoLocation to ExpressRoutePort result
  custom-words.txt
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/ExpressRouteLinkGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/ExpressRouteLinkList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/ExpressRoutePortGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/ExpressRoutePortList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/ExpressRoutePortListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/expressRoutePort.json
Labels: Network, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#19759 Users/subraman/createuaispec
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/accessconnector.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/databricks.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/AccessConnectorCreateOrUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/AccessConnectorCreateOrUpdateWithUserAssigned.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/AccessConnectorDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/AccessConnectorGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/AccessConnectorPatchUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/AccessConnectorsListByResourceGroup.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/AccessConnectorsListBySubscriptionId.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/DisableEncryption.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/EnableEncryption.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/ListPrivateEndpointConnections.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/ListPrivateLinkResources.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/OperationsList.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/OutboundNetworkDependenciesEndpointsList.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/PrepareEncryption.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/PrivateEndpointConnectionsDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/PrivateEndpointConnectionsGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/PrivateEndpointConnectionsUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/PrivateLinkResourcesGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/WorkspaceCreate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/WorkspaceCreateWithParameters.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/WorkspaceDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/WorkspaceGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/WorkspaceGetParameters.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/WorkspaceUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/WorkspaceVirtualNetPeeringGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/WorkspaceVirtualNetPeeringList.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/WorkspaceVirtualNetworkPeeringCreateOrUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/WorkspaceVirtualNetworkPeeringDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/WorkspacesListByResourceGroup.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/WorkspacesListBySubscription.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/vnetpeering.json
  specification/databricks/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, ARMReview

#20049 Dev advisor microsoft.advisor 2022 09 01
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-09-01/advisor.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-09-01/examples/CreateConfiguration.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-09-01/examples/CreateSuppression.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-09-01/examples/DeleteSuppression.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-09-01/examples/EmptyResponse.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-09-01/examples/GenerateRecommendations.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-09-01/examples/GetRecommendationDetail.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-09-01/examples/GetRecommendationMetadataEntity.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-09-01/examples/GetSuppressionDetail.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-09-01/examples/ListConfigurations.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-09-01/examples/ListRecommendationMetadata.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-09-01/examples/ListRecommendations.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-09-01/examples/ListSuppressions.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-09-01/examples/OperationsList.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-09-01/examples/Predict.json
  specification/advisor/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager

#19965 Add Azure Monitor Metrics (Prometheus) Profile
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-07-02-preview/managedClusters.json
Labels: BreakingChangeReviewRequired, resource-manager

#20109 Add custom domain configuration for managed environment
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/ManagedEnvironments_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/ManagedEnvironments_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/ManagedEnvironments_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/ManagedEnvironments_ListBySubscription.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript, resource-manager

#20104 [Go]network add directive ExplicitProxy rename to ExplicitProxySettings
  specification/network/resource-manager/readme.go.md
Labels: Network, CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript, resource-manager

#19589 ARM ID annotations for Batch
  specification/batch/resource-manager/Microsoft.Batch/stable/2021-01-01/BatchManagement.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2021-06-01/BatchManagement.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2022-01-01/BatchManagement.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2022-06-01/BatchManagement.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation

#19593 ARM ID annotations for Cosmos DB
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2021-05-15/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2021-06-15/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2021-10-15/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2022-05-15/cosmos-db.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2

#19592 ARM ID annotations for ContainerService
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-01-02-preview/managedClusters.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2021-05-01/managedClusters.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2021-07-01/managedClusters.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2021-08-01/managedClusters.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2021-09-01/managedClusters.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2021-10-01/managedClusters.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-01-01/managedClusters.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-02-01/managedClusters.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-03-01/managedClusters.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-04-01/managedClusters.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-06-01/managedClusters.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, CI-BreakingChange-JavaScript

#19594 ARM ID annotations for MySQL
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2021-05-01/mysql.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#19590 ARM ID annotations for EventGrid
  specification/eventgrid/resource-manager/Microsoft.EventGrid/stable/2020-06-01/EventGrid.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/stable/2021-12-01/EventGrid.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/stable/2022-06-15/EventGrid.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#19595 ARM ID annotations for Postgres
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/postgresql.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2

#19596 ARM ID Annotations for Redis
  specification/redis/resource-manager/Microsoft.Cache/stable/2020-12-01/redis.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/redis.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#20014 [Synapse] Sync LinkConnection for Synapse Link
  specification/synapse/data-plane/Microsoft.Synapse/preview/2022-08-01-preview/examples/LinkConnection_CreateOrUpdate.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2022-08-01-preview/examples/LinkConnection_Delete.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2022-08-01-preview/examples/LinkConnection_EditTables.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2022-08-01-preview/examples/LinkConnection_Get.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2022-08-01-preview/examples/LinkConnection_GetDetailedStatus.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2022-08-01-preview/examples/LinkConnection_ListLinkTables.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2022-08-01-preview/examples/LinkConnection_QueryTableStatus.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2022-08-01-preview/examples/LinkConnection_Start.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2022-08-01-preview/examples/LinkConnection_Stop.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2022-08-01-preview/examples/LinkConnection_UpdateLandingZoneCredential.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2022-08-01-preview/examples/LinkConnections_ListByWorkspace.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2022-08-01-preview/linkConnections.json
  specification/synapse/data-plane/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane

#19677 Dev cost management microsoft.cost management 2020 08 01 preview
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-08-01-preview/costmanagement.insights.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2020-08-01-preview/examples/GetInsights.json
  specification/cost-management/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, resource-manager

#20092 Migrate to net track2 for some resource-manager readmes batch 2
  specification/apimanagement/resource-manager/readme.md
  specification/authorization/resource-manager/readme.md
  specification/azurestackhci/resource-manager/readme.md
  specification/batch/resource-manager/readme.md
  specification/cognitiveservices/resource-manager/readme.md
  specification/compute/resource-manager/readme.md
  specification/containerinstance/resource-manager/readme.md
  specification/containerregistry/resource-manager/readme.md
  specification/datafactory/resource-manager/readme.md
  specification/guestconfiguration/resource-manager/readme.md
  specification/hdinsight/resource-manager/readme.md
  specification/iothub/resource-manager/readme.md
  specification/logic/resource-manager/readme.md
  specification/mediaservices/resource-manager/readme.md
  specification/migrate/resource-manager/readme.md
  specification/mysql/resource-manager/readme.md
  specification/notificationhubs/resource-manager/readme.md
  specification/postgresql/resource-manager/readme.md
  specification/redis/resource-manager/readme.md
  specification/redisenterprise/resource-manager/readme.md
  specification/servicefabric/resource-manager/readme.md
  specification/sqlvirtualmachine/resource-manager/readme.md
  specification/streamanalytics/resource-manager/readme.md
Labels: Compute, Service Fabric, Batch, Container Registry, Cognitive Services, Authorization, Logic App, Media Services, Notification Hub, Redis Cache, HDInsight, API Management, Data Factory, DoNotMerge, Container Instances, MySQL, PostgreSQL, Stream Analytics, CI-BreakingChange-Python-Track2, IoTHub, CI-BreakingChange-Go, ShiftLeftViolation, resource-manager

#20127 [Managedapplication]Update readme.python.md
  specification/solutions/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go, CI-FixRequiredOnFailure, resource-manager

#20132 Fix descriptions for some api methods and fix the casing for the detector API url path
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/AuthConfigs.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/Diagnostics.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/SourceControls.json
Labels: BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, FixS360, CI-BreakingChange-JavaScript, resource-manager

#20133 Fixdescriptions on microsoft.app 2022 06 01 preview
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/AuthConfigs.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/ConnectedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/Diagnostics.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/SourceControls.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/AuthConfigs.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/Diagnostics.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/SourceControls.json
Labels: BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, FixS360, CI-BreakingChange-JavaScript, resource-manager

#19439 Updating Microsoft.Security\Pricing API Documentation
  specification/security/resource-manager/Microsoft.Security/stable/2022-03-01/examples/Pricings/ListPricings_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2022-03-01/pricings.json
Labels: Approved-BreakingChange, no-recent-activity, BreakingChangeReviewRequired, NewApiVersionRequired

#20106 deviceprovisioningservices: updating the Swagger Tags to match the Operation ID Prefix
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2022-02-05/iotdps.json
Labels: customer-reported, resource-manager

#20143 Update connectedvmware readme.python.md
  specification/connectedvmware/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, resource-manager

#20122 [Hub Generated] Publish private branch 'imagebuilder/master'
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/CreateImageTemplateLinux.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/CreateImageTemplateWindows.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/GetImageTemplate.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/ListImageTemplates.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/ListImageTemplatesByRg.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/ListRunOutputs.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/OperationsList.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/UpdateImageTemplateTags.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/examples/UpdateImageTemplateToRemoveIdentities.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/imagebuilder.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2021-10-01/examples/CreateImageTemplateLinux.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2021-10-01/examples/CreateImageTemplateWindows.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2021-10-01/examples/GetImageTemplate.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2021-10-01/examples/ListImageTemplates.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2021-10-01/examples/ListImageTemplatesByRg.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2021-10-01/examples/ListRunOutputs.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2021-10-01/examples/UpdateImageTemplateTags.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2021-10-01/examples/UpdateImageTemplateToRemoveIdentities.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2022-02-14/examples/CreateImageTemplateLinux.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2022-02-14/examples/CreateImageTemplateWindows.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2022-02-14/examples/GetImageTemplate.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2022-02-14/examples/ListImageTemplates.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2022-02-14/examples/ListImageTemplatesByRg.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2022-02-14/examples/UpdateImageTemplateTags.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2022-02-14/examples/UpdateImageTemplateToRemoveIdentities.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2022-02-14/imagebuilder.json
Labels: resource-manager

#19910 [Hub Generated] Review request for Microsoft.DBforMySQL to fix wrong properties in data encryption
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/FlexibleServers.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/ServerCreateWithBYOK.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/ServerUpdateWithBYOK.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2021-05-01/examples/ServerCreateWithBYOK.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2021-05-01/examples/ServerUpdateWithBYOK.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2021-05-01/mysql.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, resource-manager

#19985 DDoS Per IP SKU + Custom Policy Deprecation Swagger PR
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/ddosCustomPolicy.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/ddosProtectionPlan.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/DdosCustomPolicyCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/DdosCustomPolicyGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/DdosCustomPolicyUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/DdosProtectionPlanCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/DdosProtectionPlanGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/DdosProtectionPlanList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/DdosProtectionPlanListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/DdosProtectionPlanUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/PublicIpAddressCreateCustomizedValues.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/PublicIpAddressCreateDns.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/PublicIpAddressGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/PublicIpAddressGetDdosProtectionStatus.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/PublicIpAddressList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/PublicIpAddressListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/PublicIpAddressUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/VirtualNetworkGetDdosProtectionStatus.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/publicIpAddress.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/virtualNetwork.json
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#20001 Adding UnhealthyThreshold Property to LB Probes - bhavanabheem
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/LoadBalancerCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/LoadBalancerCreateGatewayLoadBalancerConsumer.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/LoadBalancerCreateGatewayLoadBalancerProviderWithOneBackendPool.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/LoadBalancerCreateGatewayLoadBalancerProviderWithTwoBackendPool.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/LoadBalancerCreateGlobalTier.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/LoadBalancerCreateStandardSku.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/LoadBalancerCreateWithOutboundRules.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/LoadBalancerCreateWithZones.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/LoadBalancerGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/LoadBalancerGetInboundNatRulePortMapping.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/LoadBalancerList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/LoadBalancerListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/LoadBalancerProbeGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/LoadBalancerProbeList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/LoadBalancerUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/NetworkInterfaceLoadBalancerList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/loadBalancer.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#20044 Added `secretsStoreComponent` in 2022-06-01 spec
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/ManagedEnvironmentsDaprComponents.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/DaprComponents_CreateOrUpdate_SecretStoreComponent.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/DaprComponents_CreateOrUpdate_Secrets.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/DaprComponents_Get_SecretStoreComponent.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/DaprComponents_Get_Secrets.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/DaprComponents_List.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#19687 Dev botservice microsoft.bot service 2022 06 15 preview
  custom-words.txt
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/botservice.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/CheckNameAvailability.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/CreateBot.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/CreateEmailSignInUrl.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/DeleteBot.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/DeleteChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/DeleteConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/DeleteDirectLineSpeechChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/DeletePrivateEndpointConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/DirectlineRegenerateKeys.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/GetAlexaChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/GetBot.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/GetChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/GetConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/GetDirectLineSpeechChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/GetHostSettings.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/GetLineChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/GetOperations.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/GetPrivateEndpointConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/ListBotsByResourceGroup.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/ListBotsBySubscription.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/ListChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/ListChannelsByBotService.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/ListConnectionsByBotService.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/ListPrivateEndpointConnections.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/ListPrivateLinkResources.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/ListQnAMakerEndpointKeys.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/ListServiceProviders.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/OperationResultsGet.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/PutAlexaChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/PutChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/PutConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/PutDirectLineSpeechChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/PutEmailChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/PutLineChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/PutPrivateEndpointConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/UpdateAlexaChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/UpdateBot.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/UpdateChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/UpdateConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/UpdateDirectLineSpeechChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/UpdateLineChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/WebChatRegenerateKeys.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/privatelinks.json
  specification/botservice/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, ARMReview, resource-manager

#20081 change response code
  specification/app/resource-manager/Microsoft.App/preview/2022-01-01-preview/SourceControls.json
  specification/app/resource-manager/Microsoft.App/preview/2022-01-01-preview/examples/SourceControls_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/SourceControls.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/SourceControls_CreateOrUpdate.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, NewApiVersionRequired, CI-BreakingChange-Go, FixS360, resource-manager

#20002 Fixerrorresponseschema
  specification/app/resource-manager/Microsoft.App/preview/2022-01-01-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2022-01-01-preview/examples/ContainerApps_ListCustomHostNameAnalysisErrorResponse.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ContainerApps_ListCustomHostNameAnalysisErrorResponse.json
Labels: Reviewed-FeedbackProvided, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, NewApiVersionRequired, CI-BreakingChange-Go, FixS360, resource-manager

#20149 Add custom domain configuration for managed environment
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ManagedEnvironments_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ManagedEnvironments_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ManagedEnvironments_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ManagedEnvironments_ListBySubscription.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript, resource-manager

#20151 [Keyvault] Update readme.python.md
  specification/keyvault/resource-manager/readme.python.md
Labels: KeyVault, CI-BreakingChange-JavaScript, resource-manager

#19815 Dev peering microsoft.peering 2022 06 01
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/CheckServiceProviderAvailability.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/CreateDirectPeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/CreateExchangePeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/CreateOrUpdateConnectionMonitorTest.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/CreatePeerAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/CreatePeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/CreatePeeringServicePrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/CreatePeeringWithExchangeRouteServer.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/CreateRegisteredAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/CreateRegisteredPrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/DeleteConnectionMonitorTest.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/DeletePeerAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/DeletePeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/DeletePeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/DeletePeeringServicePrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/DeleteRegisteredAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/DeleteRegisteredPrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/GetConnectionMonitorTest.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/GetPeerAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/GetPeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/GetPeeringReceivedRoutes.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/GetPeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/GetPeeringServicePrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/GetRegisteredAsn.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/GetRegisteredPrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/InitializeConnectionMonitor.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/ListCdnPeeringPrefixes.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/ListConnectionMonitorTestsByPeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/ListDirectPeeringLocations.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/ListExchangePeeringLocations.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/ListLegacyPeerings.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/ListPeerAsnsBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/ListPeeringOperations.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/ListPeeringServiceCountriesBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/ListPeeringServiceLocationsBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/ListPeeringServiceProviders.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/ListPeeringServicesByResourceGroup.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/ListPeeringServicesBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/ListPeeringsByResourceGroup.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/ListPeeringsBySubscription.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/ListPrefixesByPeeringService.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/ListRegisteredAsnsByPeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/ListRegisteredPrefixesByPeering.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/LookingGlassInvokeCommand.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/UpdatePeeringServiceTags.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/UpdatePeeringTags.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/examples/ValidateRegisteredPrefix.json
  specification/peering/resource-manager/Microsoft.Peering/stable/2022-06-01/peering.json
  specification/peering/resource-manager/readme.go.md
  specification/peering/resource-manager/readme.java.md
  specification/peering/resource-manager/readme.md
  specification/peering/resource-manager/readme.ruby.md
Labels: Approved-OkToMerge, ARMSignedOff, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, ARMReview, resource-manager

#20154 fix delete response
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-08-01-preview/FileImports.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-08-01-preview/examples/fileImports/DeleteFileImport.json
Labels: CI-BreakingChange-Python-Track2, resource-manager

#19889 [Hub Generated] Review request for Creator to add version preview/2022-09-01-preview
  custom-words.txt
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/mapconfiguration/MapConfiguration_Create.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/mapconfiguration/MapConfiguration_Delete.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/mapconfiguration/MapConfiguration_Get.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/mapconfiguration/MapConfiguration_GetOperation.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/mapconfiguration/MapConfiguration_GetOperationStillRunning.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/mapconfiguration/MapConfiguration_List.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/style/Style_Delete.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/style/Style_Export.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/style/Style_GetOperation.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/style/Style_GetOperationStillRunning.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/style/Style_Import.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/style/Style_List.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/tileset/Tileset_Create.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/tileset/Tileset_Delete.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/tileset/Tileset_Get.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/tileset/Tileset_GetConfiguration.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/tileset/Tileset_GetOperation.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/tileset/Tileset_GetOperationStillRunning.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/tileset/Tileset_List.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/tileset/Tileset_ValidateConfiguration.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/mapconfiguration.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/style.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/tileset.json
  specification/maps/data-plane/Creator/readme.md
Labels: data-plane

#19891 [Hub Generated] Review request for Microsoft.Media to add version stable/2022-08-01
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2022-08-01/examples/async-operation-result.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2022-08-01/examples/liveevent-allocate.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2022-08-01/examples/liveevent-create.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2022-08-01/examples/liveevent-delete.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2022-08-01/examples/liveevent-list-all.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2022-08-01/examples/liveevent-list-by-name.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2022-08-01/examples/liveevent-operation-location.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2022-08-01/examples/liveevent-reset.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2022-08-01/examples/liveevent-start.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2022-08-01/examples/liveevent-stop.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2022-08-01/examples/liveevent-update.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2022-08-01/examples/liveoutput-create.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2022-08-01/examples/liveoutput-delete.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2022-08-01/examples/liveoutput-list-all.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2022-08-01/examples/liveoutput-list-by-name.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2022-08-01/examples/liveoutput-operation-location.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2022-08-01/examples/streamingendpoint-create.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2022-08-01/examples/streamingendpoint-delete.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2022-08-01/examples/streamingendpoint-list-all.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2022-08-01/examples/streamingendpoint-list-by-name.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2022-08-01/examples/streamingendpoint-list-skus.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2022-08-01/examples/streamingendpoint-operation-location.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2022-08-01/examples/streamingendpoint-scale.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2022-08-01/examples/streamingendpoint-start.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2022-08-01/examples/streamingendpoint-stop.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2022-08-01/examples/streamingendpoint-update.json
  specification/mediaservices/resource-manager/Microsoft.Media/stable/2022-08-01/streamingservice.json
  specification/mediaservices/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager

#19886 Add additional Dapr options (2022-06-01-preview)
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ContainerApps_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ContainerApps_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ContainerApps_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ContainerApps_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ContainerApps_Patch.json
Labels: CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager

#19410 Add additional Dapr options (2022-05-01)
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/ContainerApps_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/ContainerApps_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/ContainerApps_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/ContainerApps_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/ContainerApps_Patch.json
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#20157 change the name of a new enumeration in storage's latest api-version
  specification/storage/resource-manager/Microsoft.Storage/stable/2022-05-01/blob.json
  specification/storage/resource-manager/readme.go.md
Labels: Storage, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager

#18743 [Hub Generated] Review request for Microsoft.Devices to add version preview/2022-04-30-preview
  custom-words.txt
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/IotHub_ManualFailover.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/checkNameAvailability.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_certificatescreateorupdate.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_certificatesdelete.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_certverify.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_createOrUpdate.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_createconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_delete.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_deleteconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_deleteprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_exportdevices.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_generateverificationcode.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_get.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_getcertificate.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_getconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_getjob.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_getkey.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_getprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_getprivatelinkresources.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_getskus.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_importdevices.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_listbyrg.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_listbysubscription.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_listcertificates.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_listehgroups.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_listjobs.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_listkeys.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_listprivateendpointconnections.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_listprivatelinkresources.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_operations.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_patch.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_quotametrics.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_routingendpointhealth.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_stats.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_testallroutes.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_testnewroute.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_updateprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/examples/iothub_usages.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-04-30-preview/iothub.json
  specification/iothub/resource-manager/readme.md
Labels: Approved-OkToMerge, ARMSignedOff, CI-BreakingChange-Go-V2, resource-manager

#20163 Update readme.python.md
  specification/servicebus/resource-manager/readme.python.md
Labels: Service Bus, resource-manager

#19959 add x-ms-identifiers for healthbot
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2021-06-10/healthbot.json
Labels: CI-BreakingChange-Python-Track2

#20128 make required field changes
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/elasticsan.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/ElasticSans_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/ElasticSans_Create_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/ElasticSans_Delete_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/ElasticSans_Delete_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/ElasticSans_Get_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/ElasticSans_Get_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/ElasticSans_ListByResourceGroup_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/ElasticSans_ListByResourceGroup_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/ElasticSans_ListBySubscription_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/ElasticSans_ListBySubscription_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/ElasticSans_Update_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/ElasticSans_Update_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/Operations_List_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/Operations_List_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/Skus_List_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/VolumeGroups_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/VolumeGroups_Create_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/VolumeGroups_Delete_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/VolumeGroups_Delete_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/VolumeGroups_Get_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/VolumeGroups_Get_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/VolumeGroups_ListByElasticSan_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/VolumeGroups_ListByElasticSan_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/VolumeGroups_Update_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/VolumeGroups_Update_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/Volumes_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/Volumes_Create_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/Volumes_Delete_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/Volumes_Delete_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/Volumes_Get_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/Volumes_Get_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/Volumes_ListByVolumeGroup_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/Volumes_ListByVolumeGroup_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/Volumes_Update_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2021-11-20-preview/examples/Volumes_Update_MinimumSet_Gen.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, resource-manager

#20187 [Hub Generated] Publish private branch 'datafactory/binluwang/swaggeredit'
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json
Labels: Data Factory, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, resource-manager

#20188 [cosmosdb][python] Fix weird model name
  specification/cosmos-db/resource-manager/readme.python.md
Labels: Cosmos, CI-BreakingChange-JavaScript, resource-manager

#20121 Dev labservices microsoft.lab services 2022 08 01
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/Images.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/LabPlans.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/LabServices.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/Labs.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/OperationResults.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/Schedules.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/Skus.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/Usages.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/Users.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/VirtualMachines.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/Images/getImage.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/Images/listImages.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/Images/patchImage.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/Images/putImage.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/LabPlans/deleteLabPlan.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/LabPlans/getLabPlan.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/LabPlans/listLabPlans.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/LabPlans/listResourceGroupLabPlans.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/LabPlans/patchLabPlan.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/LabPlans/putLabPlan.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/LabPlans/saveImageVirtualMachine.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/LabServices/listOperations.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/Labs/deleteLab.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/Labs/getLab.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/Labs/listLabs.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/Labs/listResourceGroupLabs.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/Labs/patchLab.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/Labs/publishLab.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/Labs/putLab.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/Labs/syncLab.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/OperationResults/getOperationResult.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/Schedules/deleteSchedule.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/Schedules/getSchedule.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/Schedules/listSchedule.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/Schedules/patchSchedule.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/Schedules/putSchedule.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/Skus/listSkus.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/Usages/getUsages.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/Users/deleteUser.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/Users/getUser.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/Users/inviteUser.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/Users/listUser.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/Users/patchUser.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/Users/putUser.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/VirtualMachines/getVirtualMachine.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/VirtualMachines/listVirtualMachine.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/VirtualMachines/redeployVirtualMachine.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/VirtualMachines/reimageVirtualMachine.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/VirtualMachines/resetPasswordVirtualMachine.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/VirtualMachines/startVirtualMachine.json
  specification/labservices/resource-manager/Microsoft.LabServices/stable/2022-08-01/examples/VirtualMachines/stopVirtualMachine.json
  specification/labservices/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, Approved-Avocado, ARMReview, resource-manager

#19523 Summarization API for 2022-10-01-preview
  custom-words.txt
  dev/cognitiveservices/data-plane/Language/analyzeconversations.json
  dev/cognitiveservices/data-plane/Language/analyzetext.json
  dev/cognitiveservices/data-plane/Language/common.json
  dev/cognitiveservices/data-plane/Language/examples/conversations/SuccessfulConversationPIISubmit.json
  dev/cognitiveservices/data-plane/Language/examples/conversations/SuccessfulConversationSummarizationTaskResult.json
  dev/cognitiveservices/data-plane/Language/examples/conversations/SuccessfulConversationSummarizationTaskSubmit.json
  dev/cognitiveservices/data-plane/Language/examples/text/SuccessfulAbstractiveSummarizationTaskResult.json
  dev/cognitiveservices/data-plane/Language/examples/text/SuccessfulAbstractiveSummarizationTaskSubmit.json
  dev/cognitiveservices/data-plane/Language/readme.md
Labels: APIStewardshipBoard-SignedOff

#20213 [iothub] Update readme.python.md
  specification/iothub/resource-manager/readme.python.md
Labels: IoTHub, resource-manager

#19841 adding ip-restriction feat
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ContainerApps_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ContainerApps_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ContainerApps_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ContainerApps_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ContainerApps_Patch.json
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#19958 Adding diskControllerTypes and optimizedForFrequentAttach to resources
  custom-words.txt
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2022-07-02/disk.json
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2022-07-02/diskRPCommon.json
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2022-07-02/examples/diskExamples/Disk_Create_PerformancePlus.json
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2022-07-02/examples/diskExamples/Disk_Create_WithOptimizedForFrequentAttach.json
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2022-07-02/examples/diskExamples/Disk_Create_WithUltraSSD_ReadOnly.json
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2022-07-02/examples/diskExamples/Disk_Update_AddDiskControllerTypes.json
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2022-07-02/examples/diskExamples/Disk_Update_DisableOptimizedForFrequentAttach.json
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2022-07-02/examples/snapshotExamples/Snapshot_GetIncrementalSnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2022-07-02/snapshot.json
Labels: CI-FixRequiredOnFailure, resource-manager

#20159 Fixed error code typo
  specification/storage/data-plane/Microsoft.BlobStorage/preview/2021-08-06/blob.json
Labels: Storage, Approved-BreakingChange, BreakingChangeReviewRequired, data-plane

#20231 modify path in connectedvmware readme.typescript.md
  specification/connectedvmware/resource-manager/readme.typescript.md
Labels: customer-reported, CI-BreakingChange-Python-Track2, resource-manager

#20037 [Synapse] Move some trigger related definitions from artifacts.json to triggers.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2021-06-01-preview/artifacts.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2021-06-01-preview/triggers.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/artifacts.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/triggers.json
Labels: Synapses, data-plane

#20200 Registries public preview 2022-10-01-preview
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-10-01-preview/examples/Registries/createOrUpdate-SystemCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-10-01-preview/examples/Registries/createOrUpdate-UserCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-10-01-preview/examples/Registries/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-10-01-preview/examples/Registries/get-SystemCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-10-01-preview/examples/Registries/get-UserCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-10-01-preview/examples/Registries/list-SystemCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-10-01-preview/examples/Registries/list-UserCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-10-01-preview/examples/Registries/listBySubscription.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-10-01-preview/examples/Registries/update-SystemCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-10-01-preview/examples/Registries/update-UserCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-10-01-preview/machineLearningServices.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-10-01-preview/mfe.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-10-01-preview/registries.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-10-01-preview/workspaceFeatures.json
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff, CI-FixRequiredOnFailure, Approved-ModelValidation, ARMReview, resource-manager

#20030 new api
  custom-words.txt
  specification/marketplacecatalog/resource-manager/Microsoft.Marketplace/readme.md
  specification/marketplacecatalog/resource-manager/Microsoft.Marketplace/stable/2022-07-31/examples/EdgeZonesProducts_List.json
  specification/marketplacecatalog/resource-manager/Microsoft.Marketplace/stable/2022-07-31/examples/Operations_Get.json
  specification/marketplacecatalog/resource-manager/Microsoft.Marketplace/stable/2022-07-31/marketplacecatalog.json
Labels: WaitForARMFeedback, ARMSignedOff, ARMReview, resource-manager

#20145 Microsoft.Network/proximityPlacementGroups => Microsoft.Compute/proxi…
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2021-05-01/managedClusters.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2021-07-01/managedClusters.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2021-08-01/managedClusters.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2021-09-01/managedClusters.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2021-10-01/managedClusters.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-01-01/managedClusters.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-02-01/managedClusters.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-03-01/managedClusters.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-04-01/managedClusters.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-06-01/managedClusters.json
Labels: customer-reported, Container Service, CI-FixRequiredOnFailure, Approved-ModelValidation, resource-manager

#20023 Device Update for IoT Hub GA service update
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/deviceupdate.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_CreateOrUpdateDeployment.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_DeleteDeployment.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_DeleteDeploymentForDeviceClassSubgroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_DeleteDeviceClass.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_DeleteDeviceClassSubgroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_DeleteGroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_GetBestUpdatesForDeviceClassSubgroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_GetDeployment.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_GetDeploymentForDeviceClassSubgroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_GetDeploymentStatus.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_GetDevice.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_GetDeviceClass.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_GetDeviceClassSubgroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_GetDeviceClassSubgroupDeploymentStatus.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_GetDeviceClassSubgroupUpdateCompliance.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_GetDeviceModule.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_GetGroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_GetLogCollection.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_GetLogCollectionDetailedStatus.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_GetOperation.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_GetUpdateCompliance.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_GetUpdateComplianceForGroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_ImportDevices.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_ListBestUpdatesForGroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_ListDeploymentsForDeviceClassSubgroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_ListDeploymentsForGroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_ListDeviceClassSubgroupsForGroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_ListDeviceClasses.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_ListDeviceHealth.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_ListDeviceStatesForDeviceClassSubgroupDeployment.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_ListDevices.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_ListGroups.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_ListInstallableUpdatesForDeviceClass.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_ListLogCollections.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_ListOperations.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_RetryDeployment.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_StartLogCollection.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_StopDeployment.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceManagement_UpdateDeviceClass.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceUpdate_DeleteUpdate.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceUpdate_GetFile.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceUpdate_GetOperation.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceUpdate_GetUpdate.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceUpdate_ImportUpdate.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceUpdate_ListFiles.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceUpdate_ListNames.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceUpdate_ListOperations.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceUpdate_ListProviders.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceUpdate_ListUpdates.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/stable/2022-10-01/examples/DeviceUpdate_ListVersions.json
  specification/deviceupdate/data-plane/readme.md
  specification/deviceupdate/data-plane/readme.python.md
Labels: APIStewardshipBoard-SignedOff, data-plane

#20250 Corrected a response of AcceptOwnershipStatus by adding provisioningState field
  specification/subscription/resource-manager/Microsoft.Subscription/stable/2021-10-01/examples/acceptOwnershipStatus.json
  specification/subscription/resource-manager/Microsoft.Subscription/stable/2021-10-01/subscriptions.json
Labels: Approved-BreakingChange, NewApiVersionRequired, FixS360, resource-manager

#20261 Remove Traffic Labels from revisions because they haven't been impelemented
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/ContainerAppsRevisions.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/Revisions_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/Revisions_List.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/ContainerAppsRevisions.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/Revisions_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/Revisions_List.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript, resource-manager

#20260 Remove traffic labels element from revisions because it hasn't been implemented
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/ContainerAppsRevisions.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/Revisions_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/Revisions_List.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript, resource-manager

#20130 added java sdk generation for reservations api (Microsoft.Capacity)
  specification/reservations/resource-manager/readme.md
Labels: Approved-OkToMerge, resource-manager

#20185 Add NGINX.NGINXPLUS swagger version 2022-08-01
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2022-08-01/examples/Certificates_CreateOrUpdate.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2022-08-01/examples/Certificates_Delete.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2022-08-01/examples/Certificates_Get.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2022-08-01/examples/Certificates_List.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2022-08-01/examples/Configurations_CreateOrUpdate.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2022-08-01/examples/Configurations_Delete.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2022-08-01/examples/Configurations_Get.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2022-08-01/examples/Configurations_List.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2022-08-01/examples/Deployments_Create.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2022-08-01/examples/Deployments_Delete.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2022-08-01/examples/Deployments_Get.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2022-08-01/examples/Deployments_List.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2022-08-01/examples/Deployments_ListByResourceGroup.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2022-08-01/examples/Deployments_Update.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2022-08-01/examples/Operations_List.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2022-08-01/swagger.json
  specification/nginx/resource-manager/readme.java.md
  specification/nginx/resource-manager/readme.md
Labels: ARMReview, resource-manager

#20114 ManagedDatabases 2022-05-01-preview update: ManagedDatabaseStatus
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-05-01-preview/ManagedDatabases.json
Labels: SQL, ARMSignedOff, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#20099 Managed Instance Long Term Retention Policy v20220501
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-05-01-preview/ManagedInstanceLongTermRetentionPolicies.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-05-01-preview/examples/ManagedInstanceLongTermRetentionPolicyDelete.json
Labels: SQL, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager

#20209 [Hub Generated] Review request for Microsoft.SqlVirtualMachine to add version preview/2022-07-01-preview
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-07-01-preview/examples/CreateOrUpdateAvailabilityGroupListener.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-07-01-preview/examples/CreateOrUpdateAvailabilityGroupListenerWithMultiSubnet.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-07-01-preview/examples/CreateOrUpdateSqlVirtualMachineAutomatedBackupWeekly.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-07-01-preview/examples/CreateOrUpdateSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-07-01-preview/examples/CreateOrUpdateSqlVirtualMachineMAX.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-07-01-preview/examples/CreateOrUpdateSqlVirtualMachineMIN.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-07-01-preview/examples/CreateOrUpdateSqlVirtualMachineStorageConfigurationEXTEND.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-07-01-preview/examples/CreateOrUpdateSqlVirtualMachineStorageConfigurationNEW.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-07-01-preview/examples/CreateOrUpdateVirtualMachineWithVMGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-07-01-preview/examples/DeleteAvailabilityGroupListener.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-07-01-preview/examples/DeleteSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-07-01-preview/examples/DeleteSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-07-01-preview/examples/GetAvailabilityGroupListener.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-07-01-preview/examples/GetSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-07-01-preview/examples/GetSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-07-01-preview/examples/ListByGroupAvailabilityGroupListener.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-07-01-preview/examples/ListByResourceGroupSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-07-01-preview/examples/ListByResourceGroupSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-07-01-preview/examples/ListBySqlVirtualMachineGroupSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-07-01-preview/examples/ListOperation.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-07-01-preview/examples/ListSubscriptionSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-07-01-preview/examples/ListSubscriptionSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-07-01-preview/examples/RedeploySqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-07-01-preview/examples/StartAssessmentOnSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-07-01-preview/examples/UpdateSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-07-01-preview/examples/UpdateSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2022-07-01-preview/sqlvm.json
  specification/sqlvirtualmachine/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager

#20280 Added 2021-12-02 service version for blobs
  specification/storage/data-plane/Microsoft.BlobStorage/preview/2021-12-02/blob.json
  specification/storage/data-plane/Microsoft.BlobStorage/readme.md
Labels: Storage, data-plane

#20193 Add property for tcp apps
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ContainerApps_TcpApp_CreateOrUpdate.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript, resource-manager

#20277 Update the CLU runtime swagger resolution kinds to match the service implementation
  dev/cognitiveservices/data-plane/Language/analyzeconversations.json
  specification/cognitiveservices/data-plane/Language/preview/2022-03-01-preview/analyzeconversations.json
  specification/cognitiveservices/data-plane/Language/preview/2022-05-15-preview/analyzeconversations.json
  specification/cognitiveservices/data-plane/Language/stable/2022-05-01/analyzeconversations.json
Labels: Cognitive Services, Approved-BreakingChange, BreakingChangeReviewRequired, data-plane, Cognitive - Language

#19984 Workbooks correctness
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2021-08-01/examples/WorkbookManagedUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2021-08-01/examples/WorkbookUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2021-08-01/workbooks_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/WorkbookManagedUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/WorkbookUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/workbooks_API.json
  specification/applicationinsights/resource-manager/readme.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go, FixS360, Approved-SdkBreakingChange-Go, resource-manager

#19855 Add Init Containers to common definitions
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ContainerApps_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ContainerApps_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ContainerApps_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ContainerApps_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ContainerApps_Patch.json
Labels: CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, FixS360, CI-BreakingChange-JavaScript, resource-manager

#20300 [Hub Generated] Review request for Microsoft.MachineLearningServices to add version preview/2022-06-01-preview
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-06-01-preview/mfe.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, FixS360, Approved-ModelValidation, CI-BreakingChange-JavaScript, resource-manager

#20291 ACSS API Titles/Descriptions scrub
  custom-words.txt
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/SAPVirtualInstance.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Create_WithOSConfig_Distributed.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Create_WithOSConfig_HA_AvSet.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Create_WithOSConfig_HA_AvZone.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Create_WithOSConfig_SingleServer.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Install_Distributed.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Install_SingleServer.json
Labels: CI-BreakingChange-Go, resource-manager

#20305 [Nginx] Specify host and schemes
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2021-05-01-preview/swagger.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2022-08-01/swagger.json
Labels: Approved-OkToMerge, resource-manager

#20301 Property to enable/disable OCSP revocation check on client certificate
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/ApplicationGatewayCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/ApplicationGatewayGet.json
Labels: Network, BreakingChangeReviewRequired, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#19920 [Hub Generated] Review request for Microsoft.AlertsManagement to add version preview/2019-05-05-preview
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/ActionRules.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, NewApiVersionRequired, FixS360, Approved-SdkBreakingChange-Python

#20243 Merging agrifood RP latest swagger for public preview readiness.
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/agfood.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/Extensions_Create.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/Extensions_Delete.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/Extensions_Get.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/Extensions_ListByFarmBeats.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/Extensions_Update.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/FarmBeatsExtensions_Get.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/FarmBeatsExtensions_List.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/FarmBeatsModels_CreateOrUpdate.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/FarmBeatsModels_Delete.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/FarmBeatsModels_Get.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/FarmBeatsModels_GetOperationResult.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/FarmBeatsModels_ListByResourceGroup.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/FarmBeatsModels_ListBySubscription.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/FarmBeatsModels_Update.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/FarmBeatsModels_UpdateWithSensor.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/Locations_CheckNameAvailability_AlreadyExists.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/Locations_CheckNameAvailability_Available.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/Operations_List.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/PrivateEndpointConnections_CreateOrUpdate.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/PrivateEndpointConnections_Delete.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/PrivateEndpointConnections_Get.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/PrivateEndpointConnections_ListByResource.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/PrivateLinkResources_Get.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/PrivateLinkResources_ListByResource.json
  specification/agrifood/resource-manager/readme.md
  specification/agrifood/resource-manager/readme.python.md
Labels: BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, resource-manager

#20118 Dev resources microsoft.authorization 2022 08 01 preview akhe
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-08-01-preview/examples/createOrUpdateVariable.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-08-01-preview/examples/createOrUpdateVariableAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-08-01-preview/examples/createOrUpdateVariableValue.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-08-01-preview/examples/createOrUpdateVariableValueAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-08-01-preview/examples/deleteVariable.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-08-01-preview/examples/deleteVariableAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-08-01-preview/examples/deleteVariableValue.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-08-01-preview/examples/deleteVariableValueAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-08-01-preview/examples/getVariable.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-08-01-preview/examples/getVariableAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-08-01-preview/examples/getVariableValue.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-08-01-preview/examples/getVariableValueAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-08-01-preview/examples/listVariableValuesForManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-08-01-preview/examples/listVariableValuesForSubscription.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-08-01-preview/examples/listVariablesForManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-08-01-preview/examples/listVariablesForSubscription.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-08-01-preview/policyVariableValues.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-08-01-preview/policyVariables.json
  specification/resources/resource-manager/readme.md
Labels: ARMSignedOff, CI-FixRequiredOnFailure, resource-manager

#20224 clarify register management group operation
  specification/resources/resource-manager/Microsoft.Resources/stable/2021-04-01/resources.json
Labels: CI-FixRequiredOnFailure, Approved-ModelValidation, resource-manager

#20237 MI standby replica
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-05-01-preview/InstanceFailoverGroups.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-05-01-preview/examples/InstanceFailoverGroupCreateOrUpdate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-05-01-preview/examples/InstanceFailoverGroupFailover.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-05-01-preview/examples/InstanceFailoverGroupForceFailoverAllowDataLoss.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-05-01-preview/examples/InstanceFailoverGroupGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-05-01-preview/examples/InstanceFailoverGroupList.json
Labels: SQL, ARMSignedOff, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#19926 New API Path added "datawarehousequeries" in sqlpool
  custom-words.txt
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/GetDatawareHouseQueries.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/sqlPool.json
  specification/synapse/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, NewApiVersionRequired, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-Avocado, FixS360, Approved-ModelValidation, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#20317 fix(apim): Add missing 'metrics' property to diagnostics contract in 2022-04-01-preview
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/definitions.json
Labels: API Management, CI-BreakingChange-Python-Track2, resource-manager

#20039 Enable custom skypetoken expiration for a 2nd API in the new 2022-10-01 version
  specification/communication/data-plane/Identity/stable/2022-10-01/CommunicationIdentity.json
  specification/communication/data-plane/Identity/stable/2022-10-01/examples/CreateIdentity.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, data-plane

#20318 Auto Language Detection feature returning DetectedLanguage object instead of just string
  dev/cognitiveservices/data-plane/Language/analyzetext.json
Labels: Cognitive Services

#20320 Making nextLink optional for Dynatrace.Observability
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/dynatrace.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_ListAppServices_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_ListHosts_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_ListMonitoredResources_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/dynatrace.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_ListAppServices_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_ListHosts_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2021-09-01/examples/Monitors_ListMonitoredResources_MinimumSet_Gen.json
Labels: resource-manager

#20147 swagger correctness
  custom-words.txt
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/bigDataPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/CreateOrUpdateBigDataPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/DeleteBigDataPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/GetBigDataPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/ListBigDataPoolsInWorkspace.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/SparkConfiguration_Get.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/SparkConfigurations_ListByWorkspace.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/UpdateBigDataPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/sparkConfiguration.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/bigDataPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/CreateOrUpdateBigDataPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/DeleteBigDataPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/GetBigDataPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/ListBigDataPoolsInWorkspace.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/UpdateBigDataPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/library.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, Synapses, CI-BreakingChange-JavaScript, resource-manager

#20337 [Hub Generated] Publish private branch 'datafactory/mash/feature/GoogleSheets/swaggerNew'
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
Labels: Data Factory, CI-BreakingChange-Go, resource-manager

#20140 Feature/barakkinarti/2022 07 20 preview
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViAccountCheckNameAvailabilityFree.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViAccountCheckNameAvailabilityTaken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViAccountDelete.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViAccountGet.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViAccountPatch/ViAccountPatch1.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViAccountPatch/ViAccountPatch2.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViAccountPatch/ViAccountPatch3.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViAccountPatch/ViAccountPatch4.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViAccountPatch/ViAccountPatch5.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViAccountPatch/ViAccountPatch6.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViAccountPatch/ViAccountPatch7.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViAccountPatch/ViAccountPatch8.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViAccountPut/ViAccountPut1.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViAccountPut/ViAccountPut10.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViAccountPut/ViAccountPut2.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViAccountPut/ViAccountPut3.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViAccountPut/ViAccountPut4.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViAccountPut/ViAccountPut5.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViAccountPut/ViAccountPut6.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViAccountPut/ViAccountPut7.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViAccountPut/ViAccountPut8.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViAccountPut/ViAccountPut9.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViAccountsList.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViAccountsListByResourceGroup.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViClassicAccounts.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViGenerateAccessToken/ViGenerateAccountContributerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViGenerateAccessToken/ViGenerateAccountReaderAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViGenerateAccessToken/ViGenerateProjectContributerAccessToken1.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViGenerateAccessToken/ViGenerateProjectContributerAccessToken2.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViGenerateAccessToken/ViGenerateProjectReaderAccessToken1.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViGenerateAccessToken/ViGenerateProjectReaderAccessToken2.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViGenerateAccessToken/ViGenerateVideoContributerAccessToken1.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViGenerateAccessToken/ViGenerateVideoContributerAccessToken2.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViGenerateAccessToken/ViGenerateVideoReaderAccessToken1.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViGenerateAccessToken/ViGenerateVideoReaderAccessToken2.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViGenerateRestrictedViewerAccessToken/ViGenerateAccountRestrictedViewerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViGenerateRestrictedViewerAccessToken/ViGenerateProjectRestrictedViewerAccessToken1.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViGenerateRestrictedViewerAccessToken/ViGenerateProjectRestrictedViewerAccessToken2.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViGenerateRestrictedViewerAccessToken/ViGenerateVideoRestrictedViewerAccessToken1.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViGenerateRestrictedViewerAccessToken/ViGenerateVideoRestrictedViewerAccessToken2.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViListUserClassicAccounts.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/examples/ViOperationsList.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-07-20-preview/vi.json
  specification/vi/resource-manager/readme.md
Labels: ARMSignedOff, resource-manager

#20119 [Hub Generated] Publish private branch 'dev-devcenter-Microsoft.DevCenter-2022-03-01-preview'
  custom-words.txt
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/devbox.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/devcenter.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/environments.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/Artifacts_ListByEnvironment.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/Artifacts_ListByPath.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/CatalogItemVersions_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/CatalogItemVersions_ListByProject.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/CatalogItems_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/CatalogItems_ListByProject.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/DevBoxes_Create.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/DevBoxes_Delete.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/DevBoxes_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/DevBoxes_GetRemoteConnection.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/DevBoxes_List.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/DevBoxes_ListByUserByProject.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/DevBoxes_Start.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/DevBoxes_Stop.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/EnvironmentTypes_ListByProject.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/Environments_CreateByCatalogItem.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/Environments_CreateWithAutoExpire.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/Environments_CustomAction.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/Environments_Delete.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/Environments_DeleteAction.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/Environments_DeployAction.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/Environments_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/Environments_ListByProject.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/Environments_ListByProjectByUser.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/Environments_Patch.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/Pools_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/Pools_List.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/Projects_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/Projects_ListByDevCenter.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/Schedules_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-03-01-preview/examples/Schedules_List.json
  specification/devcenter/data-plane/readme.csharp.md
  specification/devcenter/data-plane/readme.java.md
  specification/devcenter/data-plane/readme.md
  specification/devcenter/data-plane/readme.nodejs.md
  specification/devcenter/data-plane/readme.python.md
Labels: data-plane

#19671 Add network scenario
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/scenarios/applicationGateway.yaml
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/scenarios/applicationSecurityGroup.yaml
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/scenarios/bastionhosts.yaml
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/scenarios/ddosProtectionPlan.yaml
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/scenarios/expressRouteCircuit.yaml
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/scenarios/expressRouteGateway.yaml
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/scenarios/firewall.yaml
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/scenarios/iPGroup.yaml
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/scenarios/loadBalancer.yaml
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/scenarios/loadBalancerBackendAddressPool.yaml
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/scenarios/localGateway.yaml
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/scenarios/natGateway.yaml
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/scenarios/networkinterface.yaml
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/scenarios/peering.yaml
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/scenarios/profile.yaml
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/scenarios/publicIPAddress.yaml
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/scenarios/publicIpPrefix.yaml
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/scenarios/routeTable.yaml
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/scenarios/securityGroupRule.yaml
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/scenarios/securityGroups.yaml
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/scenarios/serviceEndpointPolicy.yaml
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/scenarios/subnets.yaml
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/scenarios/virtaulWan.yaml
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/scenarios/virtualHub.yaml
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/scenarios/virtualNetwork.yaml
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/scenarios/watcher.yaml
  specification/network/resource-manager/readme.test.md
Labels: CI-BreakingChange-Go, resource-manager

#20266 Add new parameter asn, geo and expressRouteAdvertise to CustomIPPrefix for new 2022-05-01 nrp sdk version
  custom-words.txt
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/customIpPrefix.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/CustomIpPrefixGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/CustomIpPrefixList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/CustomIpPrefixListAll.json
Labels: Network, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#20333 apim /PUT apis import add translateRequiredQueryParameters
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/apimapis.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/examples/ApiManagementCreateApiUsingOai3ImportWithTranslateRequiredQueryParametersConduct.json
Labels: API Management, CI-BreakingChange-Python-Track2, resource-manager

#20354 Update recoveryservicesbackup readme.python.md
  specification/recoveryservicesbackup/resource-manager/readme.python.md
Labels: Recovery Services Backup, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#20351 Updated Inbound NAT Pool and Nat Rule description
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/loadBalancer.json
Labels: Network, resource-manager

#20353 Add section on improving RESTler coverage to Swagger accuracy report.
  documentation/ci-fix.md
  documentation/swagger-accuracy-report.md
Labels: customer-reported

#20378 mgmt monitor, add readme.java.md
  specification/monitor/resource-manager/readme.java.md
  specification/monitor/resource-manager/readme.md
Labels: Monitor, Mgmt, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#20321 [SQL] 2022-05-01 DistributedAvailabilityGroups SetRole specs
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-05-01-preview/DistributedAvailabilityGroups.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-05-01-preview/examples/DistributedAvailabilityGroupsSetRole.json
Labels: SQL, ARMSignedOff, CI-FixRequiredOnFailure, Approved-Avocado, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#19894 Remove default ReturnFaceId for Face Detection
  specification/cognitiveservices/data-plane/Face/preview/v1.0-preview/Face.json
  specification/cognitiveservices/data-plane/Face/stable/v1.0/Face.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, data-plane

#20255 Added TrustedServiceByPassConfiguration in workspace
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/CreateOrUpdateTrustedServiceByPassConfiguration.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/workspace.json
Labels: ARMSignedOff, Approved-BreakingChange, NewApiVersionRequired, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-Avocado, Approved-ModelValidation, Synapses, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#20386 Update readme.python.md
  specification/deviceupdate/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, resource-manager

#20339 [Language] Add script parameter to Language Detection response
  dev/cognitiveservices/data-plane/Language/analyzetext.json
  dev/cognitiveservices/data-plane/Language/examples/text/SuccessfulLanguageDetectionRequest.json
Labels: Cognitive Services

#19953 Add package-composite-v5 tag to SqlVulnerabilityAssessment API
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/SqlVulnerabilityAssessmentBaseline.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/SqlVulnerabilityAssessmentRuleBaseline.json
  specification/sql/resource-manager/readme.go.md
  specification/sql/resource-manager/readme.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager

#20358 set disableLocalAuth to be read-only in swagger
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2022-05-01/machineLearningServices.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, FixS360, CI-BreakingChange-JavaScript, resource-manager

#20365 Add New Reco API Version
  specification/recommendationsservice/resource-manager/Microsoft.RecommendationsService/preview/2022-03-01-preview/examples/Accounts_CheckNameAvailabilityAvailable.json
  specification/recommendationsservice/resource-manager/Microsoft.RecommendationsService/preview/2022-03-01-preview/examples/Accounts_CheckNameAvailabilityUnavailable.json
  specification/recommendationsservice/resource-manager/Microsoft.RecommendationsService/preview/2022-03-01-preview/examples/Accounts_CreateOrUpdate.json
  specification/recommendationsservice/resource-manager/Microsoft.RecommendationsService/preview/2022-03-01-preview/examples/Accounts_CreateOrUpdateWithManagedIdentity.json
  specification/recommendationsservice/resource-manager/Microsoft.RecommendationsService/preview/2022-03-01-preview/examples/Accounts_Delete.json
  specification/recommendationsservice/resource-manager/Microsoft.RecommendationsService/preview/2022-03-01-preview/examples/Accounts_Get.json
  specification/recommendationsservice/resource-manager/Microsoft.RecommendationsService/preview/2022-03-01-preview/examples/Accounts_GetStatus_ModelingExists.json
  specification/recommendationsservice/resource-manager/Microsoft.RecommendationsService/preview/2022-03-01-preview/examples/Accounts_GetStatus_NoModelingExists.json
  specification/recommendationsservice/resource-manager/Microsoft.RecommendationsService/preview/2022-03-01-preview/examples/Accounts_ListByResourceGroup.json
  specification/recommendationsservice/resource-manager/Microsoft.RecommendationsService/preview/2022-03-01-preview/examples/Accounts_ListBySubscription.json
  specification/recommendationsservice/resource-manager/Microsoft.RecommendationsService/preview/2022-03-01-preview/examples/Accounts_Update.json
  specification/recommendationsservice/resource-manager/Microsoft.RecommendationsService/preview/2022-03-01-preview/examples/Accounts_UpdateWithManagedIdentity.json
  specification/recommendationsservice/resource-manager/Microsoft.RecommendationsService/preview/2022-03-01-preview/examples/Modeling_CreateOrUpdate.json
  specification/recommendationsservice/resource-manager/Microsoft.RecommendationsService/preview/2022-03-01-preview/examples/Modeling_Delete.json
  specification/recommendationsservice/resource-manager/Microsoft.RecommendationsService/preview/2022-03-01-preview/examples/Modeling_Get.json
  specification/recommendationsservice/resource-manager/Microsoft.RecommendationsService/preview/2022-03-01-preview/examples/Modeling_ListByAccountResource.json
  specification/recommendationsservice/resource-manager/Microsoft.RecommendationsService/preview/2022-03-01-preview/examples/Modeling_Update.json
  specification/recommendationsservice/resource-manager/Microsoft.RecommendationsService/preview/2022-03-01-preview/examples/OperationStatuses_Get.json
  specification/recommendationsservice/resource-manager/Microsoft.RecommendationsService/preview/2022-03-01-preview/examples/Operations_List.json
  specification/recommendationsservice/resource-manager/Microsoft.RecommendationsService/preview/2022-03-01-preview/examples/ServiceEndpoints_CreateOrUpdate.json
  specification/recommendationsservice/resource-manager/Microsoft.RecommendationsService/preview/2022-03-01-preview/examples/ServiceEndpoints_Delete.json
  specification/recommendationsservice/resource-manager/Microsoft.RecommendationsService/preview/2022-03-01-preview/examples/ServiceEndpoints_Get.json
  specification/recommendationsservice/resource-manager/Microsoft.RecommendationsService/preview/2022-03-01-preview/examples/ServiceEndpoints_ListByAccountResource.json
  specification/recommendationsservice/resource-manager/Microsoft.RecommendationsService/preview/2022-03-01-preview/examples/ServiceEndpoints_Update.json
  specification/recommendationsservice/resource-manager/Microsoft.RecommendationsService/preview/2022-03-01-preview/recommendationsservice.json
  specification/recommendationsservice/resource-manager/readme.md
Labels: resource-manager

#20401 [DeviceUpdate] Update readme.python.md
  specification/deviceupdate/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, resource-manager

#20402 Add ARM ID annotations for the 2022-08-02-preview dev branch of container service
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-08-02-preview/managedClusters.json
Labels: Container Service, resource-manager

#20387 Update readmes for the 2022-08-01 dev branch of container service
  specification/containerservice/resource-manager/readme.go.md
  specification/containerservice/resource-manager/readme.java.md
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: Container Service, CI-BreakingChange-Python-Track2, resource-manager

#20388 Update readmes for the 2022-08-02-preview dev branch of container service
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-08-02-preview/examples/FleetMembers_Create.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-08-02-preview/examples/FleetMembers_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-08-02-preview/examples/FleetMembers_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-08-02-preview/examples/FleetMembers_List.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-08-02-preview/examples/Fleets_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-08-02-preview/examples/Fleets_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-08-02-preview/examples/Fleets_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-08-02-preview/examples/Fleets_ListByResourceGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-08-02-preview/examples/Fleets_ListBySub.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-08-02-preview/examples/Fleets_ListCredentialsResult.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-08-02-preview/examples/Fleets_PatchTags.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-08-02-preview/fleets.json
  specification/containerservice/resource-manager/readme.go.md
  specification/containerservice/resource-manager/readme.java.md
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: Container Service, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-Avocado, resource-manager

#20406 Update container app provisioningstate
  specification/app/resource-manager/Microsoft.App/preview/2022-01-01-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/ContainerApps.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#20411 Update container app provisioningstate
  specification/app/resource-manager/Microsoft.App/preview/2022-01-01-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/ContainerApps.json
Labels: BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, NewApiVersionRequired, CI-BreakingChange-JavaScript, resource-manager

#20306 [CLU Runtime] Introduce RegexKey type to the CLU ExtraInformation polymorphic list.
  dev/cognitiveservices/data-plane/Language/analyzeconversations.json
Labels: Cognitive Services

#20326 [Cognitive Services - Language] Generate-QuestionAnswers API
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/generate/SuccessfulQAGenerationJobStatus.json
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/generate/SuccessfulQAGenerationJobStatus_URL.json
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/generate/SuccessfulQAGenerationJobStatus_useMarkedAnswer.json
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/generate/SuccessfulSubmitQAGenerationJob.json
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/generate/SuccessfulSubmitQAGenerationJob_URL.json
  dev/cognitiveservices/data-plane/Language/examples/questionanswering/generate/SuccessfulSubmitQAGenerationJob_useMarkedAnswer.json
  dev/cognitiveservices/data-plane/Language/questionanswering-generate.json
  dev/cognitiveservices/data-plane/Language/readme.md
Labels: Cognitive Services, CI-FixRequiredOnFailure, Approved-Avocado

#20407 AKS agent pool properties add AgentPoolWindowsProfile and DisableOutboundNAT
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-08-02-preview/examples/AgentPoolsCreate_WindowsDisableOutboundNAT.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-08-02-preview/managedClusters.json
Labels: Container Service, CI-BreakingChange-Go, resource-manager

#20422 Add eventGroupingSettings to NRT alert rules
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-09-01-preview/AlertRules.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-09-01-preview/examples/alertRules/CreateNrtAlertRule.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-09-01-preview/examples/alertRules/GetNrtAlertRule.json
Labels: BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, resource-manager

#20171 Added guardrails profile to specs
  custom-words.txt
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-08-02-preview/examples/GuardrailsVersions_List.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-08-02-preview/managedClusters.json
Labels: DoNotMerge, Container Service, CI-BreakingChange-Go, resource-manager

#20420 [AKS] add "Mariner" for AKS os sku
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-08-02-preview/managedClusters.json
Labels: Container Service, CI-BreakingChange-Go, resource-manager

#20257 Update AutomationRules.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-09-01-preview/AutomationRules.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-09-01-preview/examples/automationRules/AutomationRules_Get.json
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, ARMReview, resource-manager

#20423 mgmt monitor, revert CategoryType
  specification/monitor/resource-manager/readme.java.md
Labels: Monitor, Mgmt, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#20356 Added "isDevopsAuditEnabled" to sqlServer json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/GetWorkspaceManagedSqlServerBlobAuditingSettings.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/sqlServer.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/GetWorkspaceManagedSqlServerBlobAuditingSettings.json
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, CI-BreakingChange-Go, Synapses, CI-BreakingChange-JavaScript, resource-manager

#19955 [SQL] Bump ManagedDatabaseRestoreDetails and ManagedDatabase version in v5 tag
  specification/sql/resource-manager/readme.md
Labels: CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, Approved-SdkBreakingChange-JavaScript, resource-manager

#20329 [Cognitive Services - Language] Add documentType parameter and possible enums for healthcare
  dev/cognitiveservices/data-plane/Language/analyzetext.json
Labels: Cognitive Services, customer-reported

#20390 Updated response body to "SqlPoolOperationResults_GetLocationHeaderRe…
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/GetLocationHeaderResultWithSqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/GetLocationHeaderResultWithSqlPool.json
Labels: CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, Synapses, CI-BreakingChange-JavaScript, resource-manager

#20332 GoogleSheets Synapse Swagger changes
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
Labels: Synapses, data-plane

#20439 Files 2021-12-02 version
  specification/storage/data-plane/Microsoft.FileStorage/preview/2021-12-02/file.json
  specification/storage/data-plane/Microsoft.FileStorage/readme.md
Labels: Storage, BreakingChangeReviewRequired, data-plane

#20415 Added ModelRetrainDays field to ServiceConfiguration get and update
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/Personalizer.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/ServiceConfiguration_Get.json
  specification/cognitiveservices/data-plane/Personalizer/preview/2022-09-01-preview/examples/ServiceConfiguration_Update.json
Labels: Cognitive Services, Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, data-plane

#20283 [Hub Generated] Review request for Microsoft.HybridContainerService to add version preview/2022-05-01-preview
  custom-words.txt
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/CreateHybridIdentityMetadata.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/DeleteAgentPool.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/DeleteHybridIdentityMetadata.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/DeleteProvisionedCluster.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/DeleteStorageSpace.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/DeleteVirtualNetwork.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/GetAgentPool.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/GetHybridIdentityMetadata.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/GetProvisionedCluster.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/GetStorageSpace.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/GetVirtualNetwork.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/HybridIdentityMetadataListByCluster.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/ListAgentPoolByProvisionedCluster.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/ListOperations.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/ListOrchestrators.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/ListProvisionedClusterByResourceGroup.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/ListProvisionedClusterBySubscription.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/ListStorageSpaceByResourceGroup.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/ListStorageSpaceBySubscription.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/ListVMSkus.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/ListVirtualNetworkByResourceGroup.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/ListVirtualNetworkBySubscription.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/PutAgentPool.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/PutProvisionedCluster.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/PutStorageSpace.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/PutVirtualNetwork.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/UpdateAgentPool.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/UpdateProvisionedCluster.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/UpdateStorageSpace.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/examples/UpdateVirtualNetwork.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/provisionedClusters.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/storageSpaces.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-05-01-preview/virtualNetworks.json
  specification/hybridaks/resource-manager/readme.az.md
  specification/hybridaks/resource-manager/readme.cli.md
  specification/hybridaks/resource-manager/readme.csharp.md
  specification/hybridaks/resource-manager/readme.go.md
  specification/hybridaks/resource-manager/readme.md
  specification/hybridaks/resource-manager/readme.python.md
  specification/hybridaks/resource-manager/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager

#19962 add x-ms-identifiers for hybriddatamanager
  specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2019-06-01/hybriddata.json
Labels: resource-manager

#20446 add KubeProxyConfig to AKS NetworkProfile
  custom-words.txt
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-08-02-preview/managedClusters.json
Labels: Container Service, resource-manager
