Repository Azure/azure-rest-api-specs, pull requests merged in 2022-11, with the labels that each got.

#21206 [Security] Add directive definition to csharp to avoid .Net conflicts
  specification/security/resource-manager/Microsoft.Security/preview/2022-07-01-preview/applications.json
  specification/security/resource-manager/readme.csharp.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#21326 Pmiller/nodeosupgradechannel
  custom-words.txt
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/managedClusters.json
Labels: ARMSignedOff, Container Service, CI-FixRequiredOnFailure, Approved-ModelValidation, ARMReview, resource-manager, new-api-version, CI-MissingBaseCommit

#20958 Jatehr/cost management pricesheets
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/common-types.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/costmanagement.benefits.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/costmanagement.generatedetailedcostreport.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/costmanagement.pricesheets.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/examples/BenefitRecommendationsByRecommendationId.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/examples/PricesheetDownload.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/examples/PricesheetDownloadByBillingProfile.json
  specification/cost-management/resource-manager/readme.go.md
  specification/cost-management/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired

#20802 [Hub Generated] Publish private branch 'nreisch-componentPolicyStates-Microsoft.PolicyInsights-2022-04-01'
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-10-01/examples/Operations_ListOperations.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-10-01/examples/PolicyStates_TriggerResourceGroupEvaluation.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-10-01/examples/PolicyStates_TriggerSubscriptionEvaluation.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-10-01/operations.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-10-01/policyStates.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2022-04-01/componentPolicyStates.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2022-04-01/examples/ComponentPolicyStates_QueryNestedResourceScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2022-04-01/examples/ComponentPolicyStates_QueryResourceGroupLevelPolicyAssignmentScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2022-04-01/examples/ComponentPolicyStates_QueryResourceGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2022-04-01/examples/ComponentPolicyStates_QueryResourceGroupScopeGroupByComponentTypeWithAggregate.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2022-04-01/examples/ComponentPolicyStates_QueryResourceScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2022-04-01/examples/ComponentPolicyStates_QueryResourceScopeExpandPolicyEvaluationDetails.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2022-04-01/examples/ComponentPolicyStates_QueryResourceScopeFilterByComponentId.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2022-04-01/examples/ComponentPolicyStates_QueryResourceScopeGroupByComponentTypeWithAggregate.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2022-04-01/examples/ComponentPolicyStates_QuerySubscriptionLevelPolicyAssignmentScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2022-04-01/examples/ComponentPolicyStates_QuerySubscriptionLevelPolicyDefinitionScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2022-04-01/examples/ComponentPolicyStates_QuerySubscriptionScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2022-04-01/examples/ComponentPolicyStates_QuerySubscriptionScopeGroupByComponentTypeWithAggregate.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2022-04-01/examples/Operations_ListOperations.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2022-04-01/operations.json
  specification/policyinsights/resource-manager/readme.go.md
  specification/policyinsights/resource-manager/readme.md
Labels: ARMSignedOff, Policy Insights, Approved-BreakingChange, CI-BreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, SuppressionReviewRequired, new-api-version

#21234 Fixes to 2022-03-08-preview for PostgreSQL flexible server
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/FlexibleServers.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ServerCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ServerCreateGeoRestore.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ServerCreatePointInTimeRestore.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ServerCreateReplica.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ServerCreateWithAadAuthEnabled.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ServerCreateWithDataEncryptionEnabled.json
Labels: PostgreSQL, Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-LintDiff, Approved-SdkBreakingChange-Go, resource-manager, BreakingChangeReviewRequired

#21316 Batch 2022-10-01 control plane fix
  specification/batch/resource-manager/Microsoft.Batch/stable/2022-10-01/BatchManagement.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2022-10-01/examples/PoolCreate_CloudServiceConfiguration.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2022-10-01/examples/PoolGet.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2022-10-01/examples/PoolList.json
Labels: Batch, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#19272 Updating Microsoft.Maps/DataRegistry from version preview/2.0 to preview/2022-12-01
  specification/maps/data-plane/Common/preview/1.0/common.json
  specification/maps/data-plane/DataRegistry/preview/2022-12-01-preview/dataregistry.json
  specification/maps/data-plane/DataRegistry/preview/2022-12-01-preview/examples/DataRegistries_GetContent.json
  specification/maps/data-plane/DataRegistry/preview/2022-12-01-preview/examples/DataRegistries_GetDataRegistryCompleted.json
  specification/maps/data-plane/DataRegistry/preview/2022-12-01-preview/examples/DataRegistries_GetDataRegistryFailed.json
  specification/maps/data-plane/DataRegistry/preview/2022-12-01-preview/examples/DataRegistries_GetOperationCompleted.json
  specification/maps/data-plane/DataRegistry/preview/2022-12-01-preview/examples/DataRegistries_GetOperationFailed.json
  specification/maps/data-plane/DataRegistry/preview/2022-12-01-preview/examples/DataRegistries_GetOperationStillRunning.json
  specification/maps/data-plane/DataRegistry/preview/2022-12-01-preview/examples/DataRegistries_List.json
  specification/maps/data-plane/DataRegistry/preview/2022-12-01-preview/examples/DataRegistries_RegisterOrReplace.json
  specification/maps/data-plane/DataRegistry/preview/2022-12-01-preview/examples/DataRegistries_Unregister.json
  specification/maps/data-plane/DataRegistry/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, new-api-version, CI-MissingBaseCommit

#21364 Update descriptions
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/costmanagement.benefits.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/examples/BenefitRecommendationsByBillingAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/examples/BenefitUtilizationSummaries/SavingsPlan-BillingAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/examples/BenefitUtilizationSummaries/SavingsPlan-BillingProfile.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/examples/BenefitUtilizationSummaries/SavingsPlan-SavingsPlanId-Monthly.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/examples/BenefitUtilizationSummaries/SavingsPlan-SavingsPlanOrderId-Daily.json
Labels: CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, resource-manager

#21360 Hotfix for adding timex property to TemporalSpanResolution object in October preview API
  dev/cognitiveservices/data-plane/Language/common.json
  specification/cognitiveservices/data-plane/Language/preview/2022-10-01-preview/common.json
Labels: Cognitive Services, Approved-BreakingChange, CI-FixRequiredOnFailure, Approved-LintDiff, data-plane, Cognitive - Language, NewApiVersionRequired

#21028 [Public/Global - Microsoft Azure Attestation Service] Adding September 2022 preview Microsoft Attestation API version
  custom-words.txt
  specification/attestation/data-plane/Microsoft.Attestation/preview/2022-09-01-preview/attestation.json
  specification/attestation/data-plane/Microsoft.Attestation/preview/2022-09-01-preview/examples/Add_PolicyCertificate.json
  specification/attestation/data-plane/Microsoft.Attestation/preview/2022-09-01-preview/examples/AttestOpenEnclave.json
  specification/attestation/data-plane/Microsoft.Attestation/preview/2022-09-01-preview/examples/AttestSevSnpVm.json
  specification/attestation/data-plane/Microsoft.Attestation/preview/2022-09-01-preview/examples/AttestSgxEnclave.json
  specification/attestation/data-plane/Microsoft.Attestation/preview/2022-09-01-preview/examples/AttestVbsEnclave.json
  specification/attestation/data-plane/Microsoft.Attestation/preview/2022-09-01-preview/examples/Get_Certs.json
  specification/attestation/data-plane/Microsoft.Attestation/preview/2022-09-01-preview/examples/Get_MetadataConfiguration.json
  specification/attestation/data-plane/Microsoft.Attestation/preview/2022-09-01-preview/examples/Get_Policy.json
  specification/attestation/data-plane/Microsoft.Attestation/preview/2022-09-01-preview/examples/Get_PolicyCertificates.json
  specification/attestation/data-plane/Microsoft.Attestation/preview/2022-09-01-preview/examples/Get_TcbBaselines.json
  specification/attestation/data-plane/Microsoft.Attestation/preview/2022-09-01-preview/examples/Remove_PolicyCertificate.json
  specification/attestation/data-plane/Microsoft.Attestation/preview/2022-09-01-preview/examples/Reset_Policy.json
  specification/attestation/data-plane/Microsoft.Attestation/preview/2022-09-01-preview/examples/Set_Policy.json
  specification/attestation/data-plane/readme.md
Labels: data-plane, new-api-version, CI-MissingBaseCommit

#21114 [Language] Rename DocumentType to HealthcareDocumentType
  dev/cognitiveservices/data-plane/Language/analyzetext.json
Labels: Cognitive Services, CI-FixRequiredOnFailure, BreakingChangeReviewRequired

#21382 [Language] Rename DocumentType to HealthcareDocumentType
  specification/cognitiveservices/data-plane/Language/preview/2022-10-01-preview/analyzetext.json
Labels: Cognitive Services, CI-FixRequiredOnFailure, data-plane, Cognitive - Language, BreakingChangeReviewRequired

#21204 Fixing completeness from 2022-09-01-preview
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2022-10-01-preview/dataprotection.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2022-10-01-preview/examples/BackupInstanceOperations/ListBackupInstancesExtensionRouting.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2022-10-01-preview/examples/DeletedBackupInstanceOperations/GetDeletedBackupInstance.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2022-10-01-preview/examples/DeletedBackupInstanceOperations/ListDeletedBackupInstances.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2022-10-01-preview/examples/DeletedBackupInstanceOperations/UndeleteDeletedBackupInstance.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2022-10-01-preview/examples/ResourceGuardProxyCRUD/DeleteResourceGuardProxy.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2022-10-01-preview/examples/ResourceGuardProxyCRUD/GetResourceGuardProxy.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2022-10-01-preview/examples/ResourceGuardProxyCRUD/ListResourceGuardProxy.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2022-10-01-preview/examples/ResourceGuardProxyCRUD/PutResourceGuardProxy.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2022-10-01-preview/examples/ResourceGuardProxyCRUD/UnlockDeleteResourceGuardProxy.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, FixS360, Approved-SdkBreakingChange-Go, ARMReview, resource-manager, ReadyForApiTest, NewApiVersionRequired, BreakingChangeReviewRequired

#21318 Add examples for operations list api in 2020-03-13, 2020-08-01
  specification/search/resource-manager/Microsoft.Search/stable/2020-03-13/examples/OperationsList.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-03-13/search.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/examples/OperationsList.json
  specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/search.json
Labels: Search, CI-BreakingChange-Go, FixS360, Approved-SdkBreakingChange-Go, resource-manager

#21300 Fixing Documentation +Bugs on PublicIPAddress & DdosProtectionPlan Resources
  specification/network/resource-manager/Microsoft.Network/stable/2022-07-01/ddosProtectionPlan.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-07-01/examples/DdosProtectionPlanCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-07-01/examples/DdosProtectionPlanDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-07-01/examples/DdosProtectionPlanGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-07-01/examples/DdosProtectionPlanList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-07-01/examples/DdosProtectionPlanListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-07-01/examples/DdosProtectionPlanUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-07-01/examples/PublicIpAddressDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-07-01/examples/PublicIpAddressGetDdosProtectionStatus.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-07-01/publicIpAddress.json
Labels: Network, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#21365 Update readme for python in containerservice
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: Container Service, resource-manager

#20791 Utkarshjain/elastic private repo sync 09 2022
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-05-05-preview/elastic.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-05-05-preview/examples/AllTrafficFilters_list.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-05-05-preview/examples/AssociateTrafficFilter_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-05-05-preview/examples/AssociatedFiltersForDeployment_list.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-05-05-preview/examples/DeploymentInfo_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-05-05-preview/examples/DetachAndDeleteTrafficFilter_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-05-05-preview/examples/DetachTrafficFilters_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-05-05-preview/examples/ExternalUserInfo.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-05-05-preview/examples/IPTrafficFilter_Create.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-05-05-preview/examples/Monitor_Upgrade.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-05-05-preview/examples/MonitoredResources_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-05-05-preview/examples/Monitors_Create.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-05-05-preview/examples/Monitors_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-05-05-preview/examples/Monitors_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-05-05-preview/examples/Monitors_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-05-05-preview/examples/Monitors_ListByResourceGroup.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-05-05-preview/examples/Monitors_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-05-05-preview/examples/Operations_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-05-05-preview/examples/PrivateLinkTrafficFilters_Create.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-05-05-preview/examples/TagRules_CreateOrUpdate.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-05-05-preview/examples/TagRules_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-05-05-preview/examples/TagRules_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-05-05-preview/examples/TagRules_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-05-05-preview/examples/TrafficFilters_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-05-05-preview/examples/UpgradableVersions_Details.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-05-05-preview/examples/VMCollection_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-05-05-preview/examples/VMHost_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-05-05-preview/examples/VMIngestion_Details.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-07-01-preview/elastic.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-07-01-preview/examples/AllTrafficFilters_list.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-07-01-preview/examples/AssociateTrafficFilter_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-07-01-preview/examples/AssociatedFiltersForDeployment_list.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-07-01-preview/examples/DeploymentInfo_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-07-01-preview/examples/DetachAndDeleteTrafficFilter_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-07-01-preview/examples/DetachTrafficFilters_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-07-01-preview/examples/ExternalUserInfo.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-07-01-preview/examples/IPTrafficFilter_Create.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-07-01-preview/examples/Monitor_Upgrade.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-07-01-preview/examples/MonitoredResources_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-07-01-preview/examples/Monitors_Create.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-07-01-preview/examples/Monitors_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-07-01-preview/examples/Monitors_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-07-01-preview/examples/Monitors_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-07-01-preview/examples/Monitors_ListByResourceGroup.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-07-01-preview/examples/Monitors_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-07-01-preview/examples/Operations_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-07-01-preview/examples/PrivateLinkTrafficFilters_Create.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-07-01-preview/examples/TagRules_CreateOrUpdate.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-07-01-preview/examples/TagRules_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-07-01-preview/examples/TagRules_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-07-01-preview/examples/TagRules_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-07-01-preview/examples/TrafficFilters_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-07-01-preview/examples/UpgradableVersions_Details.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-07-01-preview/examples/VMCollection_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-07-01-preview/examples/VMHost_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2022-07-01-preview/examples/VMIngestion_Details.json
  specification/elastic/resource-manager/readme.go.md
  specification/elastic/resource-manager/readme.md
  specification/elastic/resource-manager/readme.python.md
  specification/elastic/resource-manager/readme.ruby.md
Labels: ARMSignedOff, CI-FixRequiredOnFailure, ARMReview, resource-manager, ReadyForApiTest, RPSaaS, RPaaS

#21039 Add autoIoScaling property in MySQL get/update payload
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/FlexibleServers.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/ServerGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2021-12-01-preview/examples/ServerUpdate.json
Labels: MySQL, customer-reported, Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, resource-manager, NewApiVersionRequired

#18152 Publish Microsoft.AzureStackHCI 2021-07-01-preview
  custom-words.txt
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/common.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/DeleteGalleryImage.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/DeleteNetworkInterface.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/DeleteVirtualHardDisk.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/DeleteVirtualMachine.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/DeleteVirtualNetwork.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/GetGalleryImage.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/GetNetworkInterface.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/GetVirtualHardDisk.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/GetVirtualMachine.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/GetVirtualNetwork.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/ListGalleryImageByResourceGroup.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/ListGalleryImageBySubscription.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/ListNetworkInterfaceByResourceGroup.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/ListNetworkInterfaceBySubscription.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/ListOperations.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/ListVirtualHardDiskByResourceGroup.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/ListVirtualHardDiskBySubscription.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/ListVirtualMachineByResourceGroup.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/ListVirtualMachineBySubscription.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/ListVirtualNetworkByResourceGroup.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/ListVirtualNetworkBySubscription.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/PutGalleryImage.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/PutNetworkInterface.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/PutVirtualHardDisk.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/PutVirtualMachine.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/PutVirtualNetwork.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/RestartVirtualMachine.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/StartVirtualMachine.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/StopVirtualMachine.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/UpdateGalleryImage.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/UpdateNetworkInterface.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/UpdateVirtualHardDisk.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/UpdateVirtualMachine.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/examples/UpdateVirtualNetwork.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/galleryImages.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/networkInterfaces.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/operations.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/virtualHardDisks.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/virtualMachines.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-07-01-preview/virtualNetworks.json
  specification/azurestackhci/resource-manager/readme.go.md
  specification/azurestackhci/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, ARMReview, resource-manager, ReadyForApiTest, RPaaS, Approved-Suppression, SuppressionReviewRequired, new-api-version, CI-MissingBaseCommit

#21170 Add API Doc for Schema Registry Version 2022-10 API
  specification/schemaregistry/data-plane/Microsoft.EventHub/stable/2022-10/examples/OperationSchema_GetById.json
  specification/schemaregistry/data-plane/Microsoft.EventHub/stable/2022-10/examples/OperationSchema_GetByVersion.json
  specification/schemaregistry/data-plane/Microsoft.EventHub/stable/2022-10/examples/OperationSchema_GetSchemaGroups.json
  specification/schemaregistry/data-plane/Microsoft.EventHub/stable/2022-10/examples/OperationSchema_GetSchemaVersions.json
  specification/schemaregistry/data-plane/Microsoft.EventHub/stable/2022-10/examples/OperationSchema_QueryIdByContent.json
  specification/schemaregistry/data-plane/Microsoft.EventHub/stable/2022-10/examples/OperationSchema_Register.json
  specification/schemaregistry/data-plane/Microsoft.EventHub/stable/2022-10/schemaregistry.json
  specification/schemaregistry/data-plane/readme.md
Labels: data-plane, new-api-version, CI-MissingBaseCommit

#21398 Fix conversation summarization doc gen
  dev/cognitiveservices/data-plane/Language/analyzeconversations.json
  specification/cognitiveservices/data-plane/Language/preview/2022-10-01-preview/analyzeconversations.json
Labels: Cognitive Services, Approved-BreakingChange, Approved-LintDiff, Approved-ModelValidation, data-plane, Cognitive - Language, BreakingChangeReviewRequired

#18141 Resource centric query for logs
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/preview/2022-10-27_Preview/OperationalInsights.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/preview/2022-10-27_Preview/examples/batch-query-example.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/preview/2022-10-27_Preview/examples/la-get-cross-workspace-example.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/preview/2022-10-27_Preview/examples/la-get-example.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/preview/2022-10-27_Preview/examples/la-get-resource-centric-example.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/preview/2022-10-27_Preview/examples/la-post-cross-workspace-example.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/preview/2022-10-27_Preview/examples/la-post-example.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/preview/2022-10-27_Preview/examples/la-post-resource-centric-example.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/preview/2022-10-27_Preview/examples/metadata-get.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/preview/2022-10-27_Preview/examples/metadata-post.json
  specification/operationalinsights/data-plane/readme.md
Labels: Approved-BreakingChange, CI-FixRequiredOnFailure, Approved-ModelValidation, data-plane, BreakingChangeReviewRequired, new-api-version, CI-MissingBaseCommit

#21337 Add MaintenanceWindow into MaintenanceConfigurationProperties
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/examples/MaintenanceConfigurationsCreate_Update_MaintenanceWindow.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/examples/MaintenanceConfigurationsDelete_MaintenanceWindow.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/examples/MaintenanceConfigurationsGet_MaintenanceWindow.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/examples/MaintenanceConfigurationsList_MaintenanceWindow.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/managedClusters.json
Labels: Container Service, CI-FixRequiredOnFailure, Approved-ModelValidation, resource-manager

#20745 Azure Relay - added missing publicNetworkAccess at NetwrokRuleSet level
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/NetworkRuleSets.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/operations.json
  specification/relay/resource-manager/readme.typescript.md
Labels: Relay, customer-reported, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript, resource-manager, NewApiVersionRequired

#21081 update containerregistry scenarios package-2022-02-preview
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/scenarios/containerregistry_build.yaml
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2022-02-01-preview/scenarios/basic.yaml
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2022-02-01-preview/scenarios/containerregistry.yaml
  specification/containerregistry/resource-manager/readme.test.md
Labels: Container Registry, resource-manager

#21407 [Security] update Readme
  specification/security/resource-manager/readme.md
  specification/security/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#21128 Added Response Schema for Runbook Operation
  specification/automation/resource-manager/Microsoft.Automation/stable/2018-06-30/examples/replaceRunbookDraftContent.json
  specification/automation/resource-manager/Microsoft.Automation/stable/2018-06-30/examples/undoDraftEditToLastKnownPublishedState.json
  specification/automation/resource-manager/Microsoft.Automation/stable/2018-06-30/examples/updateRunbook.json
  specification/automation/resource-manager/Microsoft.Automation/stable/2022-08-08/examples/replaceRunbookDraftContent.json
  specification/automation/resource-manager/Microsoft.Automation/stable/2022-08-08/examples/undoDraftEditToLastKnownPublishedState.json
  specification/automation/resource-manager/Microsoft.Automation/stable/2022-08-08/runbook.json
  specification/automation/resource-manager/readme.md
Labels: Automation, customer-reported, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager, BreakingChangeReviewRequired, Approved-Suppression, SuppressionReviewRequired

#21315 Add readme SDK changes
  specification/loadtestservice/data-plane/readme.md
Labels: CI-FixRequiredOnFailure, Load Test Service, data-plane

#19819 [Do not Merge] Eventgrid to CADL
  specification/eventgrid/data-plane/cadl/ApiManagement.cadl
  specification/eventgrid/data-plane/cadl/AppConfiguration.cadl
  specification/eventgrid/data-plane/cadl/AzureCommunicationServiceCore.cadl
  specification/eventgrid/data-plane/cadl/AzureCommunicationServices.cadl
  specification/eventgrid/data-plane/cadl/ContainerRegistry.cadl
  specification/eventgrid/data-plane/cadl/ContainerService.cadl
  specification/eventgrid/data-plane/cadl/EventGrid.cadl
  specification/eventgrid/data-plane/cadl/EventHub.cadl
  specification/eventgrid/data-plane/cadl/HealthcareApis.cadl
  specification/eventgrid/data-plane/cadl/IotHub.cadl
  specification/eventgrid/data-plane/cadl/KeyVault.cadl
  specification/eventgrid/data-plane/cadl/MachineLearningServices.cadl
  specification/eventgrid/data-plane/cadl/Maps.cadl
  specification/eventgrid/data-plane/cadl/MediaServices.cadl
  specification/eventgrid/data-plane/cadl/PolicyInsights.cadl
  specification/eventgrid/data-plane/cadl/RedisCache.cadl
  specification/eventgrid/data-plane/cadl/Resources.cadl
  specification/eventgrid/data-plane/cadl/ServiceBus.cadl
  specification/eventgrid/data-plane/cadl/SignalRService.cadl
  specification/eventgrid/data-plane/cadl/Storage.cadl
  specification/eventgrid/data-plane/cadl/Web.cadl
  specification/eventgrid/data-plane/cadl/main.cadl
  specification/eventgrid/data-plane/cadl/package-lock.json
  specification/eventgrid/data-plane/cadl/package.json
  specification/eventgrid/data-plane/import_models.py
Labels: CI-FixRequiredOnFailure, Cadl, data-plane

#21410 Remove lro flag
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/MultivariateAnomalyDetector.json
Labels: Cognitive Services, CI-FixRequiredOnFailure, data-plane, BreakingChangeReviewRequired

#21299 Adding a how to link for creating dataset with GeoJSON
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/dataset.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/dataset/Dataset_List.json
Labels: CI-FixRequiredOnFailure, Maps, data-plane

#20683 Release desktopvirtualization microsoft.desktop virtualization 2022 09 09
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/desktopvirtualization.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/ApplicationGroup_Create.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/ApplicationGroup_Delete.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/ApplicationGroup_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/ApplicationGroup_ListByResourceGroup.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/ApplicationGroup_ListBySubscription.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/ApplicationGroup_Update.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/Application_Create.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/Application_Delete.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/Application_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/Application_List.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/Application_Update.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/Desktop_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/Desktop_List.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/Desktop_Update.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/HostPool_Create.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/HostPool_Delete.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/HostPool_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/HostPool_List.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/HostPool_ListByResourceGroup.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/HostPool_Update.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/HostPools_RetrieveRegistrationToken_Post.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/MsixImage_Expand_Post.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/MsixPackage_Create.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/MsixPackage_Delete.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/MsixPackage_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/MsixPackage_List.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/MsixPackage_Update.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/OperationDescription_List.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/ScalingPlanPooledSchedule_Create.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/ScalingPlanPooledSchedule_Delete.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/ScalingPlanPooledSchedule_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/ScalingPlanPooledSchedule_List.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/ScalingPlanPooledSchedule_Update.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/ScalingPlan_Create.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/ScalingPlan_Delete.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/ScalingPlan_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/ScalingPlan_ListByHostPool.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/ScalingPlan_ListByResourceGroup.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/ScalingPlan_ListBySubscription.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/ScalingPlan_Update.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/SessionHost_Delete.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/SessionHost_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/SessionHost_List.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/SessionHost_Update.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/StartMenuItem_List.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/UserSession_Delete.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/UserSession_Disconnect_Post.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/UserSession_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/UserSession_List.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/UserSession_ListByHostPool.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/UserSession_SendMessage_Post.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/Workspace_Create.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/Workspace_Delete.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/Workspace_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/Workspace_ListByResourceGroup.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/Workspace_ListBySubscription.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2022-09-09/examples/Workspace_Update.json
  specification/desktopvirtualization/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, CI-MissingBaseCommit

#21402 Fix ARM ID format for samples
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/examples/AgentPoolsAssociate_CRG.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/examples/AgentPoolsCreate_PPG.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/examples/ManagedClustersAssociate_CRG.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/examples/ManagedClustersCreate_PPG.json
Labels: Container Service, CI-FixRequiredOnFailure, Approved-ModelValidation, resource-manager

#21419 Add Dec API Registries Swagger
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-12-01-preview/examples/Registries/createOrUpdate-SystemCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-12-01-preview/examples/Registries/createOrUpdate-UserCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-12-01-preview/examples/Registries/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-12-01-preview/examples/Registries/get-SystemCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-12-01-preview/examples/Registries/list-SystemCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-12-01-preview/examples/Registries/listBySubscription.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-12-01-preview/examples/Registries/update-SystemCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-12-01-preview/examples/Registries/update-UserCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-12-01-preview/registries.json
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#21406 Fix the wrong value of queryId in MariaDB example files
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/QueryTextsGet.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/stable/2018-06-01/examples/QueryTextsGet.json
Labels: CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, resource-manager

#21366 Update readmes for the 2022-10-02-preview dev branch of container service
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/examples/FleetMembers_Create.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/examples/FleetMembers_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/examples/FleetMembers_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/examples/FleetMembers_List.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/examples/Fleets_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/examples/Fleets_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/examples/Fleets_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/examples/Fleets_ListByResourceGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/examples/Fleets_ListBySub.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/examples/Fleets_ListCredentialsResult.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/examples/Fleets_PatchTags.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/fleets.json
  specification/containerservice/resource-manager/readme.java.md
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: Container Service, CI-BreakingChange-JavaScript, resource-manager

#21158 [Hub Generated] Review request for Microsoft.ContainerInstance to add version stable/2022-09-01
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2022-09-01/containerInstance.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2022-09-01/examples/CachedImagesList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2022-09-01/examples/CapabilitiesList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2022-09-01/examples/ContainerAttach.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2022-09-01/examples/ContainerExec.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2022-09-01/examples/ContainerGroupEncryptionProperties.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2022-09-01/examples/ContainerGroupExtensions.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2022-09-01/examples/ContainerGroupUsage.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2022-09-01/examples/ContainerGroupsCreateOrUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2022-09-01/examples/ContainerGroupsDelete.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2022-09-01/examples/ContainerGroupsGet_Failed.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2022-09-01/examples/ContainerGroupsGet_Succeeded.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2022-09-01/examples/ContainerGroupsList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2022-09-01/examples/ContainerGroupsListByResourceGroup.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2022-09-01/examples/ContainerGroupsRestart.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2022-09-01/examples/ContainerGroupsStart.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2022-09-01/examples/ContainerGroupsStop.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2022-09-01/examples/ContainerGroupsUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2022-09-01/examples/ContainerListLogs.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2022-09-01/examples/OperationsList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2022-09-01/examples/SubnetServiceAssociationLinkDelete.json
  specification/containerinstance/resource-manager/readme.md
Labels: ARMSignedOff, Container Instances, CI-BreakingChange-Go, ARMReview, resource-manager, ReadyForApiTest, new-api-version

#20918 EventGrid - AzureHealthcareApis swagger update for GA
  specification/eventgrid/data-plane/Microsoft.HealthcareApis/stable/2018-01-01/HealthcareApis.json
  specification/eventgrid/data-plane/Microsoft.HealthcareApis/stable/2018-01-01/examples/cloud-events-schema/dicom_image_created.json
  specification/eventgrid/data-plane/Microsoft.HealthcareApis/stable/2018-01-01/examples/cloud-events-schema/dicom_image_deleted.json
  specification/eventgrid/data-plane/Microsoft.HealthcareApis/stable/2018-01-01/examples/cloud-events-schema/fhir_resource_created.json
  specification/eventgrid/data-plane/Microsoft.HealthcareApis/stable/2018-01-01/examples/cloud-events-schema/fhir_resource_deleted.json
  specification/eventgrid/data-plane/Microsoft.HealthcareApis/stable/2018-01-01/examples/cloud-events-schema/fhir_resource_updated.json
  specification/eventgrid/data-plane/Microsoft.HealthcareApis/stable/2018-01-01/examples/event-grid-schema/dicom_image_created.json
  specification/eventgrid/data-plane/Microsoft.HealthcareApis/stable/2018-01-01/examples/event-grid-schema/dicom_image_deleted.json
Labels: DoNotMerge, Event Grid, CI-FixRequiredOnFailure, data-plane

#21430 Fix Registries Swagger
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-12-01-preview/registries.json
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#21362 Updating abort apis response to make it long running
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/examples/AgentPoolsAbortOperation.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/examples/ManagedClustersAbortOperation.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/managedClusters.json
Labels: Container Service, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager

#21436 Added missed virtualNetwork property to load balancer backend address pool
  specification/network/resource-manager/Microsoft.Network/stable/2022-07-01/loadBalancer.json
Labels: Network, Approved-BreakingChange, CI-FixRequiredOnFailure, Approved-ModelValidation, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager, NewApiVersionRequired

#21350 Model validation fixes
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-11-01-preview/examples/dataConnectors/CheckRequirementsIoT.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-11-01-preview/examples/dataConnectors/GetIoTById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-11-01-preview/examples/incidents/comments/DeleteIncidentComment.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-11-01-preview/examples/securityMLAnalyticsSettings/DeleteSecurityMLAnalyticsSetting.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-11-01-preview/examples/securityMLAnalyticsSettings/GetAllSecurityMLAnalyticsSettings.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-11-01-preview/examples/securityMLAnalyticsSettings/GetAnomalySecurityMLAnalyticsSetting.json
Labels: resource-manager

#20473 StorageAccount Pricing bundle with subPlan
  specification/security/resource-manager/Microsoft.Security/stable/2022-03-01/examples/Pricings/ListPricings_example.json
Labels: no-recent-activity, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#21446 Fix abort location url in example
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/examples/AgentPoolsAbortOperation.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/examples/ManagedClustersAbortOperation.json
Labels: Container Service, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#21443 Update ci-fix.md
  documentation/ci-fix.md
Labels: Approved-Avocado

#21292 OperationalInsights 2022-10-01: Changing retentionInDaysAsDefault to boolean.
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2022-10-01/Tables.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2022-10-01/examples/TablesDelete.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2022-10-01/examples/TablesGet.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2022-10-01/examples/TablesList.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2022-10-01/examples/TablesUpsert.json
Labels: Monitor - Operational Insights, WaitForARMFeedback, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired

#21264 [s360 fix] add default value to $.properties.template.scale.maxReplicas
  specification/app/resource-manager/Microsoft.App/preview/2022-01-01-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/CommonDefinitions.json
Labels: Approved-BreakingChange, FixS360, resource-manager, BreakingChangeReviewRequired

#21427 {HDInsight} Fix S360 Swagger Correctness errors
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/cluster.json
Labels: HDInsight, CI-FixRequiredOnFailure, FixS360, Approved-ModelValidation, resource-manager

#21464 Fix certificate password format of env custom domain for 2022-11-01-preview
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/Certificate_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ContainerApps_GetAuthToken.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ManagedEnvironments_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ManagedEnvironments_Delete.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ManagedEnvironments_GetAuthToken.json
Labels: CI-BreakingChange-Go, CI-FixRequiredOnFailure, resource-manager

#21463 Fix password format of env domain for 2022-10-01
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/Certificate_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ContainerApps_GetAuthToken.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ManagedEnvironments_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ManagedEnvironments_Delete.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ManagedEnvironments_GetAuthToken.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, ARMReview, resource-manager, new-api-version, CI-MissingBaseCommit

#21460 [Hub Generated] Publish private branch 'datafactory/sochat/AddCredReg_Swagger'
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/Credentials_Create.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/Credentials_Delete.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/Credentials_Get.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/Credentials_ListByFactory.json
Labels: ARMSignedOff, Data Factory, Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, ARMReview, resource-manager, NewApiVersionRequired

#21473 S360 swagger correctness fix missing version
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/CommonDefinitions.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, resource-manager, BreakingChangeReviewRequired

#21322 [Hub Generated] Review request for Microsoft.InstanceMetadataService to add version stable/2021-12-13
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2021-12-13/examples/GetAttestedData.json
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2021-12-13/examples/GetIdentityInfo.json
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2021-12-13/examples/GetIdentityToken.json
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2021-12-13/examples/GetInstanceMetadata.json
  specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2021-12-13/imds.json
  specification/imds/data-plane/readme.md
Labels: data-plane, Approved-Suppression, SuppressionReviewRequired, new-api-version

#21375 Deprecate Devops RP
  specification/devops/resource-manager/Microsoft.DevOps/preview/2019-07-01-preview/devops.json
  specification/devops/resource-manager/Microsoft.DevOps/preview/2020-07-13-preview/devops.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, resource-manager, BreakingChangeReviewRequired

#21327 Refactor the latest stable redisEnterprise swagger using common-types v3 parameters
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2022-01-01/examples/OperationsList.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2022-01-01/examples/RedisEnterpriseDatabasesCreateWithGeoReplication.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2022-01-01/examples/RedisEnterpriseDatabasesForceUnlink.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2022-01-01/examples/RedisEnterpriseUpdate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2022-01-01/redisenterprise.json
Labels: resource-manager

#21483 Remove AppState property as we decided to postpone it
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ContainerApps_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ContainerApps_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ContainerApps_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ContainerApps_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ContainerApps_Patch.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ContainerApps_TcpApp_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/Replicas_List.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/Revisions_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/Revisions_List.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/Revisions_Restart.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, resource-manager

#21485 Update readme.python.md
  specification/hybridaks/resource-manager/readme.python.md
Labels: resource-manager, RPaaS

#20681 Adding resourceconnector - Appliance GA API version
  custom-words.txt
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/stable/2022-10-27/appliances.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/stable/2022-10-27/examples/AppliancesCreate_Update.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/stable/2022-10-27/examples/AppliancesDelete.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/stable/2022-10-27/examples/AppliancesGet.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/stable/2022-10-27/examples/AppliancesListByResourceGroup.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/stable/2022-10-27/examples/AppliancesListBySubscription.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/stable/2022-10-27/examples/AppliancesListClusterUserCredential.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/stable/2022-10-27/examples/AppliancesListKeys.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/stable/2022-10-27/examples/AppliancesListOperations.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/stable/2022-10-27/examples/AppliancesPatch.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/stable/2022-10-27/examples/TelemetryConfig.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/stable/2022-10-27/examples/UpgradeGraph.json
  specification/resourceconnector/resource-manager/readme.go.md
  specification/resourceconnector/resource-manager/readme.md
  specification/resourceconnector/resource-manager/readme.ruby.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit

#21461 Fix format of cert password for env custom domain
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/Certificate_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ContainerApps_GetAuthToken.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ManagedEnvironments_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ManagedEnvironments_Delete.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ManagedEnvironments_GetAuthToken.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, resource-manager, BreakingChangeReviewRequired

#21488 [Desktopvirtualization] Update readme.python.md
  specification/desktopvirtualization/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, resource-manager

#21489 Updated operationId values to conform to tree hierarchy generation rules
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/routeset.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/wayfind.json
Labels: Approved-BreakingChange, CI-FixRequiredOnFailure, Approved-ModelValidation, APIStewardshipBoard-SignedOff, Maps, data-plane, BreakingChangeReviewRequired

#21497 Version AD
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/cadl/main.cadl
Labels: Cognitive Services, Cadl, data-plane

#21484 Remove AppState property as we decided to postpone it
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ManagedEnvironments_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/Replicas_List.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/Revisions_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/Revisions_List.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/Revisions_Restart.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/Certificate_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ContainerApps_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ContainerApps_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ContainerApps_GetAuthToken.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ContainerApps_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ContainerApps_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ContainerApps_Patch.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ContainerApps_TcpApp_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ManagedEnvironments_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ManagedEnvironments_Delete.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ManagedEnvironments_GetAuthToken.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/Replicas_List.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/Revisions_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/Revisions_List.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/Revisions_Restart.json
Labels: CI-BreakingChange-Go, CI-FixRequiredOnFailure, resource-manager

#21434 Correct EntityLinking, PII, Conv PII, Healthcare Result API reference Documentation and fix healthcare auto language detection for october
  dev/cognitiveservices/data-plane/Language/analyzeconversations.json
  dev/cognitiveservices/data-plane/Language/analyzetext.json
  specification/cognitiveservices/data-plane/Language/preview/2022-10-01-preview/analyzeconversations.json
  specification/cognitiveservices/data-plane/Language/preview/2022-10-01-preview/analyzetext.json
Labels: Cognitive Services, customer-reported, Approved-BreakingChange, CI-FixRequiredOnFailure, Approved-ModelValidation, data-plane, Cognitive - Language, BreakingChangeReviewRequired

#21504 [GO]add batch directive
  specification/batch/resource-manager/readme.go.md
Labels: Batch, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#21478 fix S360 swagger correctness errors
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ContainerApps_Patch.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ManagedEnvironments_Patch.json
Labels: CI-BreakingChange-Go, resource-manager

#21472 s360 swagger correctness fixes
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ContainerApps_Patch.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ManagedEnvironments_Patch.json
Labels: CI-BreakingChange-Go, resource-manager

#20768 AAD Domain Services: add 09-01-2022 API version
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2022-09-01/domainservices.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2022-09-01/examples/CreateDomainService.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2022-09-01/examples/CreateOuContainer.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2022-09-01/examples/DeleteDomainService.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2022-09-01/examples/DeleteOuContainer.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2022-09-01/examples/GetDomainService.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2022-09-01/examples/GetOperations.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2022-09-01/examples/GetOuContainer.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2022-09-01/examples/ListDomainServicesByResourceGroup.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2022-09-01/examples/ListDomainServicesBySubscription.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2022-09-01/examples/ListOuContainers.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2022-09-01/examples/UpdateDomainService.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2022-09-01/examples/UpdateOuContainer.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2022-09-01/oucontainer.json
  specification/domainservices/resource-manager/readme.go.md
  specification/domainservices/resource-manager/readme.md
Labels: ARMSignedOff, customer-reported, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit

#21452 Fix for Swagger Correctness issue in DataProtection 2022-10-01-preview version
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2022-10-01-preview/dataprotection.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2022-05-01/dataprotection.json
Labels: Approved-BreakingChange, resource-manager, BreakingChangeReviewRequired

#20404 Form Recognizer 2022-08-31
  specification/cognitiveservices/data-plane/FormRecognizer/readme.md
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/FormRecognizer.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/examples/AnalyzeDocument_Base64.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/examples/AnalyzeDocument_Url.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/examples/AuthorizeCopyDocumentModel.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/examples/BuildDocumentModel.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/examples/ComposeDocumentModel.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/examples/CopyDocumentModelTo.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/examples/DeleteDocumentModel.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/examples/GetAnalyzeDocumentResult.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/examples/GetDocumentModel_Custom.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/examples/GetDocumentModel_Prebuilt.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/examples/GetDocumentModels.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/examples/GetOperation.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/examples/GetOperations.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/examples/GetResourceDetails.json
Labels: Cognitive Services, Cognitive - Form Recognizer, data-plane

#21501 [Tables] Adjust some enum settings to the latest autorest
  specification/cosmos-db/data-plane/Microsoft.Tables/preview/2019-02-02/table.json
  specification/cosmos-db/data-plane/readme.python.md
Labels: DataPlane, Cosmos, Tables, CI-FixRequiredOnFailure, data-plane

#21374 Changed format of NextLink to Uri in Common Types v4
  specification/common-types/resource-management/v4/types.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#21513 Resourceconnector : Remove stable folder for go sdk output
  specification/resourceconnector/resource-manager/readme.go.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#21451 added x-ms-mutability for sku
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2020-05-12-preview/agfood.json
Labels: customer-reported, Approved-BreakingChange, resource-manager, NewApiVersionRequired

#19960 add x-ms-identifiers for healthcareapi
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-06-01/healthcare-apis.json
Labels: resource-manager

#21320 Add circuit breaker to the backend contract
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-09-01-preview/definitions.json
Labels: API Management, ARMSignedOff, customer-reported, Approved-BreakingChange, CI-BreakingChange-Python, CI-FixRequiredOnFailure, ARMReview, resource-manager, data-plane, RPaaS, BreakingChangeReviewRequired, SuppressionReviewRequired, new-api-version, CI-MissingBaseCommit

#21522 Update endpoint example for azure openai.
  custom-words.txt
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-03-01-preview/azureopenai.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2022-06-01-preview/azureopenai.json
Labels: Cognitive Services, data-plane

#21475 Sync authHeaders in RestService From DataFactory To Synapse
  specification/synapse/data-plane/Microsoft.Synapse/preview/2021-06-01-preview/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
Labels: Approved-BreakingChange, Synapses, data-plane, NewApiVersionRequired

#21188 Ariflakhani/add plan is system extension property
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/examples/CreateExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/examples/CreateExtensionWithPlan.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/examples/CreateFluxConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/examples/CreateFluxConfigurationWithAzureBlob
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/examples/CreateFluxConfigurationWithBucket.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/examples/CreateSourceControlConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/examples/DeleteExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/examples/DeleteFluxConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/examples/DeleteSourceControlConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/examples/GetExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/examples/GetExtensionAsyncOperationStatus.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/examples/GetExtensionWithPlan.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/examples/GetFluxConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/examples/GetFluxConfigurationAsyncOperationStatus.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/examples/GetSourceControlConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/examples/ListAsyncOperationStatus.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/examples/ListExtensions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/examples/ListFluxConfigurations.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/examples/ListSourceControlConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/examples/OperationsList.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/examples/PatchExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/examples/PatchFluxConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/extensions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/fluxconfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/kubernetesconfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/operations.json
  specification/kubernetesconfiguration/resource-manager/readme.go.md
  specification/kubernetesconfiguration/resource-manager/readme.java.md
  specification/kubernetesconfiguration/resource-manager/readme.md
  specification/kubernetesconfiguration/resource-manager/readme.python.md
  specification/kubernetesconfiguration/resource-manager/readme.ruby.md
Labels: ARMChangesRequested, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, CI-MissingBaseCommit

#21286 [Hub Generated] Review request for Microsoft.ResourceHealth to add version preview/2022-05-01
  custom-words.txt
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-05-01-preview/ResourceHealth.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-05-01-preview/examples/AvailabilityStatus_GetByResource.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-05-01-preview/examples/AvailabilityStatuses_List.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-05-01-preview/examples/AvailabilityStatuses_ListByResourceGroup.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-05-01-preview/examples/AvailabilityStatuses_ListBySubscriptionId.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-05-01-preview/examples/Event_GetBySubscriptionIdAndTrackingId.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-05-01-preview/examples/Event_GetByTenantIdAndTrackingId.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-05-01-preview/examples/Events_ListBySingleResource.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-05-01-preview/examples/Events_ListBySubscriptionId.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-05-01-preview/examples/Events_ListByTenantId.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-05-01-preview/examples/ImpactedResources_Get.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-05-01-preview/examples/ImpactedResources_ListBySubscriptionId_ListByEventId.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-05-01-preview/examples/Operations_List.json
  specification/resourcehealth/resource-manager/readme.md
Labels: Approved-LintDiff, resource-manager

#21356 [Hub Generated] Review request for Microsoft.LoadTestService to add version stable/2022-12-01
  specification/common-types/resource-management/v5/managedidentity.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples/LoadTests_CreateOrUpdate.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples/LoadTests_Delete.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/examples/LoadTests_Update.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/loadtestservice.json
  specification/loadtestservice/resource-manager/readme.az.md
  specification/loadtestservice/resource-manager/readme.csharp.md
  specification/loadtestservice/resource-manager/readme.go.md
  specification/loadtestservice/resource-manager/readme.md
  specification/loadtestservice/resource-manager/readme.python.md
  specification/loadtestservice/resource-manager/readme.ruby.md
  specification/loadtestservice/resource-manager/readme.typescript.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, FixS360, Approved-SdkBreakingChange-Go, Load Test Service, ARMReview, resource-manager, ReadyForApiTest, RPaaS, NewApiVersionRequired, new-api-version

#21424 Add Replicas_ListByServer to postgres flexible server 2022-03-08-preview
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/Administrators.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/FlexibleServers.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/Replicas.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/AdministratorAdd.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/ReplicasListByServer.json
  specification/postgresql/resource-manager/readme.md
Labels: ARMSignedOff, PostgreSQL, Approved-BreakingChange, CI-FixRequiredOnFailure, Approved-LintDiff, ARMReview, resource-manager

#20363 Users/prjayasw/agrifoodrp
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/agfood.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/Extensions_Create.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/Extensions_CreateOrUpdate.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/Extensions_Delete.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/Extensions_Update.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, NewApiVersionRequired, BreakingChangeReviewRequired

#21340 [Microsoft.BillingBenefits] Adding 2022-11-01 stable version
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/stable/2022-11-01/billingbenefits.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/stable/2022-11-01/examples/OperationsGet.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/stable/2022-11-01/examples/ReservationOrderAliasCreate.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/stable/2022-11-01/examples/ReservationOrderAliasGet.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/stable/2022-11-01/examples/SavingsPlanItemExpandedGet.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/stable/2022-11-01/examples/SavingsPlanItemGet.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/stable/2022-11-01/examples/SavingsPlanOrderAliasCreate.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/stable/2022-11-01/examples/SavingsPlanOrderAliasCreateSingleScope.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/stable/2022-11-01/examples/SavingsPlanOrderAliasGet.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/stable/2022-11-01/examples/SavingsPlanOrderElevate.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/stable/2022-11-01/examples/SavingsPlanOrderExpandedGet.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/stable/2022-11-01/examples/SavingsPlanOrderGet.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/stable/2022-11-01/examples/SavingsPlanOrderList.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/stable/2022-11-01/examples/SavingsPlanUpdate.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/stable/2022-11-01/examples/SavingsPlanValidatePurchase.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/stable/2022-11-01/examples/SavingsPlanValidateUpdate.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/stable/2022-11-01/examples/SavingsPlansInOrderList.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/stable/2022-11-01/examples/SavingsPlansList.json
  specification/billingbenefits/resource-manager/readme.az.md
  specification/billingbenefits/resource-manager/readme.cli.md
  specification/billingbenefits/resource-manager/readme.csharp.md
  specification/billingbenefits/resource-manager/readme.go.md
  specification/billingbenefits/resource-manager/readme.md
  specification/billingbenefits/resource-manager/readme.python.md
  specification/billingbenefits/resource-manager/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, SuppressionReviewRequired, new-api-version, CI-MissingBaseCommit

#21207 fix naming consistency of `recoveryservicessiterecovery@2022-09-10`
  specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryServices/stable/2022-09-10/service.json
Labels: Recovery Services Site-Recovery, ARMChangesRequested, customer-reported, LintRuleCandidate, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, Approved-ModelValidation, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, BreakingChangeReviewRequired

#21203 New API version for Microsoft.Resources stable/2022-09-01
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/CalculateTemplateHash.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/CreateResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/DeleteTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/DeleteTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/ExportResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/ExportResourceGroupWithFiltering.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/ForceDeleteVMsAndVMSSInResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/ForceDeleteVMsInResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/GetNamedProviderAtTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/GetProvider.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/GetProviderPermissions.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/GetProviderResourceTypes.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/GetProviders.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/GetTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/GetTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/PatchTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/PatchTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/PostDeploymentWhatIfOnManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/PostDeploymentWhatIfOnResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/PostDeploymentWhatIfOnSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/PostDeploymentWhatIfOnTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/PutDeploymentAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/PutDeploymentAtScope.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/PutDeploymentAtTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/PutDeploymentResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/PutDeploymentResourceGroupTemplateSpecsWithId.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/PutDeploymentSubscriptionTemplateSpecsWithId.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/PutDeploymentWithOnErrorDeploymentLastSuccessful.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/PutDeploymentWithOnErrorDeploymentSpecificDeployment.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/PutTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/examples/PutTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-09-01/resources.json
  specification/resources/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-LintDiff, Approved-ModelValidation, CI-BreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired, SuppressionReviewRequired, new-api-version, CI-MissingBaseCommit

#21341 Network Watcher S360 Correctness Fix for 2022-05-01
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/NetworkWatcherCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/NetworkWatcherGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/NetworkWatcherList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/NetworkWatcherListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/examples/NetworkWatcherUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/networkWatcher.json
Labels: Reviewed-ChangesRequested, Network, Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, resource-manager, NewApiVersionRequired

#21454 [Hub Generated] Publish private branch 'release-devcenter-Microsoft.DevCenter-2022-11-11-preview'
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/devbox.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/devcenter.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/environments.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/CatalogItemVersions_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/CatalogItemVersions_ListByProject.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/CatalogItems_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/CatalogItems_ListByProject.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/DevBoxes_Create.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/DevBoxes_Delete.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/DevBoxes_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/DevBoxes_GetRemoteConnection.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/DevBoxes_List.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/DevBoxes_ListByUserByProject.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/DevBoxes_Start.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/DevBoxes_Stop.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/EnvironmentTypes_ListByProject.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/Environments_CreateByCatalogItem.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/Environments_CreateWithAutoExpire.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/Environments_CustomAction.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/Environments_Delete.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/Environments_DeployAction.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/Environments_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/Environments_ListByProject.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/Environments_ListByProjectByUser.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/Environments_Patch.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/Pools_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/Pools_List.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/Projects_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/Projects_ListByDevCenter.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/Schedules_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/Schedules_List.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/UpcomingActions_Delay.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/UpcomingActions_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/UpcomingActions_List.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2022-11-11-preview/examples/UpcomingActions_Skip.json
  specification/devcenter/data-plane/readme.md
Labels: data-plane, Approved-Suppression, new-api-version

#21508 Adding new API version 2022-11-01-preview
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-01-preview/examples/IotHub_ManualFailover.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-01-preview/examples/iothub_createOrUpdate.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-01-preview/examples/iothub_delete.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-01-preview/examples/iothub_get.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-01-preview/examples/iothub_listbyrg.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-01-preview/examples/iothub_listbysubscription.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-01-preview/examples/iothub_stats.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-01-preview/iothub.json
Labels: IoTHub, CI-FixRequiredOnFailure, resource-manager, SuppressionReviewRequired

#21517 Correct benefit recommendations example
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/examples/BenefitRecommendationsByBillingAccount.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#21549 [Resource Health] Update readme.python.md
  specification/resourcehealth/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#20717 DataBox API version upgrade to 2022-09-01
  cSpell.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/databox.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/examples/AvailableSkusPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/examples/BookShipmentPickupPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/examples/JobMitigate.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/examples/JobsCancelPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/examples/JobsCreate.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/examples/JobsCreateDevicePassword.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/examples/JobsCreateDoubleEncryption.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/examples/JobsCreateExport.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/examples/JobsCreateWithUserAssignedIdentity.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/examples/JobsDelete.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/examples/JobsGet.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/examples/JobsGetCmk.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/examples/JobsGetCopyStuck.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/examples/JobsGetExport.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/examples/JobsGetWaitingForAction.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/examples/JobsList.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/examples/JobsListByResourceGroup.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/examples/JobsListCredentials.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/examples/JobsPatch.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/examples/JobsPatchCmk.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/examples/JobsPatchSystemAssignedToUserAssigned.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/examples/MarkDevicesShipped.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/examples/OperationsGet.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/examples/RegionConfiguration.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/examples/RegionConfigurationByResourceGroup.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/examples/ValidateAddressPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/examples/ValidateInputs.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/examples/ValidateInputsByResourceGroup.json
  specification/databox/resource-manager/readme.go.md
  specification/databox/resource-manager/readme.java.md
  specification/databox/resource-manager/readme.md
  specification/databox/resource-manager/readme.python.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit

#21519 [Microsoft.Security] Migrate APIs from Microsoft.ApiSecurity RP (currently in private preview) to Microsoft.Security RP
  custom-words.txt
  specification/security/resource-manager/Microsoft.Security/preview/2022-11-20-preview/apiCollections.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-11-20-preview/examples/ApiCollections/APICollectionOffboarding_Delete_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-11-20-preview/examples/ApiCollections/APICollectionOnboarding_Create_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-11-20-preview/examples/ApiCollections/APICollection_Get_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-11-20-preview/examples/ApiCollections/APICollection_List_example.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit

#21066 QnA Cadl tryout
  specification/cognitiveservices/Language.QnAGenerate/cadl-output-mock/microsoftcognitivelanguageservicegeneratequestionandanswerpairs/__init__.py
  specification/cognitiveservices/Language.QnAGenerate/cadl-output-mock/microsoftcognitivelanguageservicegeneratequestionandanswerpairs/_client.py
  specification/cognitiveservices/Language.QnAGenerate/cadl-output-mock/microsoftcognitivelanguageservicegeneratequestionandanswerpairs/_configuration.py
  specification/cognitiveservices/Language.QnAGenerate/cadl-output-mock/microsoftcognitivelanguageservicegeneratequestionandanswerpairs/_model_base.py
  specification/cognitiveservices/Language.QnAGenerate/cadl-output-mock/microsoftcognitivelanguageservicegeneratequestionandanswerpairs/_patch.py
  specification/cognitiveservices/Language.QnAGenerate/cadl-output-mock/microsoftcognitivelanguageservicegeneratequestionandanswerpairs/_serialization.py
  specification/cognitiveservices/Language.QnAGenerate/cadl-output-mock/microsoftcognitivelanguageservicegeneratequestionandanswerpairs/_vendor.py
  specification/cognitiveservices/Language.QnAGenerate/cadl-output-mock/microsoftcognitivelanguageservicegeneratequestionandanswerpairs/_version.py
  specification/cognitiveservices/Language.QnAGenerate/cadl-output-mock/microsoftcognitivelanguageservicegeneratequestionandanswerpairs/aio/__init__.py
  specification/cognitiveservices/Language.QnAGenerate/cadl-output-mock/microsoftcognitivelanguageservicegeneratequestionandanswerpairs/aio/_client.py
  specification/cognitiveservices/Language.QnAGenerate/cadl-output-mock/microsoftcognitivelanguageservicegeneratequestionandanswerpairs/aio/_configuration.py
  specification/cognitiveservices/Language.QnAGenerate/cadl-output-mock/microsoftcognitivelanguageservicegeneratequestionandanswerpairs/aio/_patch.py
  specification/cognitiveservices/Language.QnAGenerate/cadl-output-mock/microsoftcognitivelanguageservicegeneratequestionandanswerpairs/aio/operations/__init__.py
  specification/cognitiveservices/Language.QnAGenerate/cadl-output-mock/microsoftcognitivelanguageservicegeneratequestionandanswerpairs/aio/operations/_operations.py
  specification/cognitiveservices/Language.QnAGenerate/cadl-output-mock/microsoftcognitivelanguageservicegeneratequestionandanswerpairs/aio/operations/_patch.py
  specification/cognitiveservices/Language.QnAGenerate/cadl-output-mock/microsoftcognitivelanguageservicegeneratequestionandanswerpairs/models/__init__.py
  specification/cognitiveservices/Language.QnAGenerate/cadl-output-mock/microsoftcognitivelanguageservicegeneratequestionandanswerpairs/models/_enums.py
  specification/cognitiveservices/Language.QnAGenerate/cadl-output-mock/microsoftcognitivelanguageservicegeneratequestionandanswerpairs/models/_models.py
  specification/cognitiveservices/Language.QnAGenerate/cadl-output-mock/microsoftcognitivelanguageservicegeneratequestionandanswerpairs/models/_patch.py
  specification/cognitiveservices/Language.QnAGenerate/cadl-output-mock/microsoftcognitivelanguageservicegeneratequestionandanswerpairs/operations/__init__.py
  specification/cognitiveservices/Language.QnAGenerate/cadl-output-mock/microsoftcognitivelanguageservicegeneratequestionandanswerpairs/operations/_operations.py
  specification/cognitiveservices/Language.QnAGenerate/cadl-output-mock/microsoftcognitivelanguageservicegeneratequestionandanswerpairs/operations/_patch.py
  specification/cognitiveservices/Language.QnAGenerate/cadl-output-mock/microsoftcognitivelanguageservicegeneratequestionandanswerpairs/py.typed
  specification/cognitiveservices/Language.QnAGenerate/cadl-output-mock/openapi.json
  specification/cognitiveservices/Language.QnAGenerate/cadl-output-mock/output.yaml
  specification/cognitiveservices/Language.QnAGenerate/cadl-output-mock/setup.py
  specification/cognitiveservices/Language.QnAGenerate/cadl-project.yaml
  specification/cognitiveservices/Language.QnAGenerate/examples/SuccesfulSubmitQAGeneration_URL.json
  specification/cognitiveservices/Language.QnAGenerate/examples/SuccesfullQAGenerationJob_UseMarkedAnswer.json
  specification/cognitiveservices/Language.QnAGenerate/examples/SuccessfulQAGenerationJobStatus_URL.json
  specification/cognitiveservices/Language.QnAGenerate/examples/SuccessfulQAGenerationJobStatus_UseMarkedAnswer.json
  specification/cognitiveservices/Language.QnAGenerate/main.cadl
  specification/cognitiveservices/Language.QnAGenerate/models.cadl
  specification/cognitiveservices/Language.QnAGenerate/package-lock.json
  specification/cognitiveservices/Language.QnAGenerate/package.json
  specification/cognitiveservices/Language.QnAGenerate/routes.cadl
Labels: Cognitive Services, customer-reported, CI-FixRequiredOnFailure, Cadl, new-api-version, CI-MissingBaseCommit

#21117 Loadtest stableapis
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/CreateAndUpdateTestRun.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/CreateOrUpdateTest.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/CreateOrUpdateTestAppComponent.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/CreateOrUpdateTestRunAppComponent.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/CreateOrUpdateTestRunServerMetricsConfig.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/CreateOrUpdateTestServerMetricsConfig.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/DeleteLoadTest.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/DeleteTestFile.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/DeleteTestRun.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/GetAllTestFiles.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/GetLoadTest.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/GetMetricDimensionValues.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/GetTestAppComponent.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/GetTestFile.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/GetTestRun.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/GetTestRunAppComponent.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/GetTestRunFile.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/GetTestRunMetrics.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/GetTestRunMetricsDefinitions.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/GetTestRunMetricsNamespaces.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/GetTestRunServerMetricsConfig.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/GetTestServerMetricsConfig.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/ListLoadTestSearch.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/ListTestRunsSearch.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/StopTestRun.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/UploadTestFile.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/loadtestservice.json
  specification/loadtestservice/data-plane/readme.md
Labels: APIStewardshipBoard-SignedOff, Load Test Service, data-plane, new-api-version, CI-MissingBaseCommit

#21381 Remove x-ms-client-flatten property
  specification/automanage/resource-manager/Microsoft.Automanage/stable/2022-05-04/automanage.json
Labels: CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager

#21559 Abort api response fix
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/examples/AgentPoolsAbortOperation.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/examples/ManagedClustersAbortOperation.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/managedClusters.json
Labels: Container Service, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#21561 Fix the validator error
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-08-01-preview/policyVariableValues.json
  specification/resources/resource-manager/Microsoft.Authorization/preview/2022-08-01-preview/policyVariables.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2020-09-01/dataPolicyManifests.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2021-06-01/policyAssignments.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2021-06-01/policyDefinitions.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2021-06-01/policySetDefinitions.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#21526 Duplicate the BaseResolution in analyze-text and analyze-conversations
  dev/cognitiveservices/data-plane/Language/analyzeconversations.json
  dev/cognitiveservices/data-plane/Language/analyzetext.json
  dev/cognitiveservices/data-plane/Language/common.json
  specification/cognitiveservices/data-plane/Language/preview/2022-10-01-preview/analyzeconversations.json
  specification/cognitiveservices/data-plane/Language/preview/2022-10-01-preview/analyzetext.json
  specification/cognitiveservices/data-plane/Language/preview/2022-10-01-preview/common.json
  specification/cognitiveservices/data-plane/Language/stable/2022-05-01/analyzeconversations.json
Labels: Cognitive Services, Approved-BreakingChange, CI-FixRequiredOnFailure, Approved-ModelValidation, data-plane, Cognitive - Language, NewApiVersionRequired, BreakingChangeReviewRequired

#21176 Adding exhaustive hostType values and cores to Microsoft.AzureArcData\sqlServerInstance resource
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2022-03-01-preview/sqlServerInstances.json
Labels: Approved-OkToMerge, no-recent-activity, CI-BreakingChange-Python-Track2, resource-manager, RPaaS

#21293 Updated agfood.json for privatelinks
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/agfood.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/Extensions_CreateOrUpdate.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/Extensions_Delete.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/Extensions_Get.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/Extensions_ListByFarmBeats.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/FarmBeatsExtensions_Get.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/FarmBeatsExtensions_List.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/FarmBeatsModels_CreateOrUpdate.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/FarmBeatsModels_Get.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/FarmBeatsModels_ListByResourceGroup.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/FarmBeatsModels_ListBySubscription.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/FarmBeatsModels_Update.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/FarmBeatsModels_UpdateWithSensor.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/Operations_List.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/PrivateEndpointConnections_Delete.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/PrivateLinkResources_Get.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/PrivateLinkResources_ListByResource.json
Labels: Approved-BreakingChange, FixS360, CI-BreakingChange-JavaScript, resource-manager, NewApiVersionRequired, BreakingChangeReviewRequired

#21558 doc and example fixes
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/wayfind/Wayfind_GetPath.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/examples/wayfind/Wayfinding_GetPath.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/wayfind.json
Labels: Approved-BreakingChange, CI-FixRequiredOnFailure, Approved-SemanticValidation, FalsePositive-BreakingChange, Maps, data-plane

#21552 snowflake swagger
  specification/synapse/data-plane/Microsoft.Synapse/preview/2021-06-01-preview/entityTypes/Pipeline.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: Approved-BreakingChange, Synapses, data-plane, BreakingChangeReviewRequired

#21574 Feature/cognitiveservices/openai cadl
  specification/cognitiveservices/OpenAI.Authoring/cadl-output/2022-06-01-preview/openapi.json
  specification/cognitiveservices/OpenAI.Authoring/common.cadl
  specification/cognitiveservices/OpenAI.Authoring/deployment.cadl
  specification/cognitiveservices/OpenAI.Authoring/file.cadl
  specification/cognitiveservices/OpenAI.Authoring/finetune.cadl
  specification/cognitiveservices/OpenAI.Authoring/model.routes.cadl
  specification/cognitiveservices/OpenAI.Authoring/models/deployment.models.cadl
  specification/cognitiveservices/OpenAI.Authoring/models/file.models.cadl
  specification/cognitiveservices/OpenAI.Authoring/models/finetune.models.cadl
  specification/cognitiveservices/OpenAI.Authoring/models/model.models.cadl
  specification/cognitiveservices/OpenAI.Authoring/serviceCustomizations.cadl
Labels: Cognitive Services, Cadl

#21550 [Cognitive Services / Language] Dynamic classification `class` to `classifications`
  dev/cognitiveservices/data-plane/Language/analyzetext.json
  dev/cognitiveservices/data-plane/Language/examples/text/SuccessfuDynamicClassificationRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2022-10-01-preview/analyzetext.json
  specification/cognitiveservices/data-plane/Language/preview/2022-10-01-preview/examples/text/SuccessfuDynamicClassificationRequest.json
Labels: Cognitive Services, Approved-BreakingChange, CI-FixRequiredOnFailure, Approved-ModelValidation, data-plane, Cognitive - Language, BreakingChangeReviewRequired

#21575 Cadl dpg add convenience api
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/cadl/client.cadl
Labels: Cognitive Services, Cadl, data-plane

#21599 Update readme.python.md
  specification/networkfunction/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#21600 [Resource] Update readme.python.md
  specification/resources/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#21408 [service connector]add api version 2022-11-01-preview
  custom-words.txt
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/examples/ConfigurationNamesList.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/examples/ConnectorDryrunCreate.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/examples/ConnectorDryrunDelete.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/examples/ConnectorDryrunGet.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/examples/ConnectorDryrunList.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/examples/ConnectorDryrunUpdate.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/examples/ConnectorList.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/examples/Connectors.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/examples/DeleteConnector.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/examples/DeleteDryrun.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/examples/DeleteLinker.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/examples/GenerateConfigurations.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/examples/GetConfigurations.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/examples/GetDryrun.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/examples/Linker.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/examples/LinkerGenerateConfigurations.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/examples/LinkerList.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/examples/ListDryrun.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/examples/OperationsList.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/examples/PatchConnector.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/examples/PatchDryrun.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/examples/PatchLinker.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/examples/PutConnector.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/examples/PutDryrun.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/examples/PutLinker.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/examples/ValidateConnectorSuccess.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/examples/ValidateLinkerSuccess.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/servicelinker.json
  specification/servicelinker/resource-manager/readme.md
Labels: Approved-OkToMerge, DoNotMerge, ShiftLeftViolation, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, CI-MissingBaseCommit

#21594 Linter Validation
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/SparkConfiguration_Get.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/SparkConfigurations_ListByWorkspace.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, FixS360, Synapses, CI-BreakingChange-JavaScript, resource-manager

#21602 [Go] loadtestservice rename module-name
  specification/loadtestservice/resource-manager/readme.go.md
Labels: Load Test Service, resource-manager, RPaaS

#21566 Minor fix on billingBeneifts
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/stable/2022-11-01/billingbenefits.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/stable/2022-11-01/examples/ReservationOrderAliasCreate.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/stable/2022-11-01/examples/ReservationOrderAliasGet.json
Labels: ARMSignedOff, Approved-BreakingChange, ARMReview, resource-manager, BreakingChangeReviewRequired

#20374 [Hub Generated] Review request for Microsoft.DigitalTwins to add version stable/2022-10-31
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/digitaltwins.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/DigitalTwinsCheckNameAvailability_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/DigitalTwinsDelete_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/DigitalTwinsDelete_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/DigitalTwinsEndpointDelete_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/DigitalTwinsEndpointDelete_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/DigitalTwinsEndpointGet_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/DigitalTwinsEndpointGet_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/DigitalTwinsEndpointPut_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/DigitalTwinsEndpointPut_WithUserIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/DigitalTwinsEndpointPut_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/DigitalTwinsEndpointsGet_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/DigitalTwinsEndpointsGet_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/DigitalTwinsGet_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/DigitalTwinsGet_WithPrivateEndpointConnection_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/DigitalTwinsGet_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/DigitalTwinsListByResourceGroup_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/DigitalTwinsList_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/DigitalTwinsOperationsList_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/DigitalTwinsPatch_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/DigitalTwinsPatch_WithPublicNetworkAccess.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/DigitalTwinsPatch_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/DigitalTwinsPut_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/DigitalTwinsPut_WithPublicNetworkAccess.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/DigitalTwinsPut_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/PrivateEndpointConnectionByConnectionName_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/PrivateEndpointConnectionDelete_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/PrivateEndpointConnectionPut_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/PrivateEndpointConnectionsList_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/PrivateLinkResourcesByGroupId_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/PrivateLinkResourcesList_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/TimeSeriesDatabaseConnectionsDelete_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/TimeSeriesDatabaseConnectionsGet_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/TimeSeriesDatabaseConnectionsList_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/TimeSeriesDatabaseConnectionsPut_WithUserIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2022-10-31/examples/TimeSeriesDatabaseConnectionsPut_example.json
  specification/digitaltwins/resource-manager/readme.md
Labels: Approved-OkToMerge, ARMSignedOff, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, new-api-version

#21623 {containerregistry} Fix #21603: Mention anonymous pull access is a pr…
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2022-02-01-preview/containerregistry.json
Labels: Container Registry, CI-FixRequiredOnFailure, Approved-ModelValidation, resource-manager

#21554 Add Kind for managed environment
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/ManagedEnvironments.json
Labels: resource-manager

#20711 Add monitor scenarios package-2022-06
  specification/monitor/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/scenarios/privateLinkScopes.yaml
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-09-01-preview/scenarios/dataCollectionEndpoints.yaml
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-09-01-preview/scenarios/dataCollectionRules.yaml
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-09-01-preview/scenarios/templates/Create_ContainerService.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2021-09-01-preview/scenarios/templates/Create_OperationalInsightsWorkspaces.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2015-04-01/scenarios/autoscale.yaml
  specification/monitor/resource-manager/Microsoft.Insights/stable/2015-04-01/scenarios/templates/Create_NetworkAndSubnet.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2015-04-01/scenarios/templates/Create_NetworkInterface.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2015-04-01/scenarios/templates/Create_VMSS.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2016-03-01/scenarios/logProfiles.yaml
  specification/monitor/resource-manager/Microsoft.Insights/stable/2016-03-01/scenarios/templates/Create_StorageAccount.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-03-01/scenarios/metricAlerts.yaml
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-03-01/scenarios/templates/Create_NetworkAndSubnet.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-03-01/scenarios/templates/Create_NetworkInterface.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-03-01/scenarios/templates/Create_VirtualMachine.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-04-16/scenarios/scheduledQueryRules.yaml
  specification/monitor/resource-manager/Microsoft.Insights/stable/2018-04-16/scenarios/templates/Create_OperationalInsightsWorkspaces.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2020-10-01/scenarios/activityLogAlerts.yaml
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/scenarios/actionGroups.yaml
  specification/monitor/resource-manager/readme.test.md
Labels: Monitor, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager

#20604 Add servicebus scenarios package-2022-01-preview
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2022-01-01-preview/scenarios/disasterrecoveryconfigs.yaml
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2022-01-01-preview/scenarios/migrationconfigs.yaml
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2022-01-01-preview/scenarios/namespaces.yaml
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2022-01-01-preview/scenarios/queues.yaml
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2022-01-01-preview/scenarios/topics.yaml
  specification/servicebus/resource-manager/readme.test.md
Labels: Service Bus, CI-BreakingChange-Python-Track2, resource-manager

#21612 Loadtest stableapis
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/CreateAndUpdateTestRun.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/CreateOrUpdateTest.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/CreateOrUpdateTestAppComponents.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/CreateOrUpdateTestRunAppComponents.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/DeleteTest.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/GetTest.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/GetTestFile.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/GetTestRun.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/GetTestRunFile.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/ListMetricDimensionValues.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/ListTestAppComponents.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/ListTestFiles.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/ListTestRunAppComponents.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/ListTestRunMetrics.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/ListTestRunMetricsDefinitions.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/ListTestRunMetricsNamespaces.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/ListTestRunServerMetricsConfig.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/ListTestRuns.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/ListTestServerMetricsConfig.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/ListTests.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/StopTestRun.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/UploadTestFile.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/loadtestservice.json
Labels: Approved-BreakingChange, Load Test Service, data-plane, NewApiVersionRequired, BreakingChangeReviewRequired

#21589 Add kind for managed environment
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ManagedEnvironments_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ManagedEnvironments_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ManagedEnvironments_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ManagedEnvironments_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ManagedEnvironments_Patch.json
Labels: CI-BreakingChange-Go, resource-manager

#21265 Add redis scenarios package-2022-05
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-05-01/scenarios/redis.yaml
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-05-01/scenarios/templates/Create_NetworkAndSubnet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-05-01/scenarios/templates/Create_PrivateEndpoint.json
  specification/redis/resource-manager/readme.test.md
Labels: Redis Cache, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#21238 Add apimanagement scenarios package-2021-08
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/scenarios/apimapis.yaml
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/scenarios/apimapiversionsets.yaml
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/scenarios/apimauthorizationservers.yaml
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/scenarios/apimcaches.yaml
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/scenarios/apimdeployment.yaml
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/scenarios/apimgateways.yaml
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/scenarios/apimgroups.yaml
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/scenarios/apimidentityprovider.yaml
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/scenarios/apimnamedvalues.yaml
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/scenarios/apimnotifications.yaml
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/scenarios/apimopenidconnectproviders.yaml
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/scenarios/apimpolicies.yaml
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/scenarios/apimportalrevisions.yaml
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/scenarios/apimportalsettings.yaml
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/scenarios/apimprivatelink.yaml
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/scenarios/apimproducts.yaml
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/scenarios/apimreports.yaml
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/scenarios/apimschema.yaml
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/scenarios/apimsubscriptions.yaml
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/scenarios/apimtags.yaml
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/scenarios/apimtenant.yaml
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/scenarios/apimusers.yaml
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/scenarios/templates/Create_PrivateEndpoint.json
  specification/apimanagement/resource-manager/readme.test.md
Labels: API Management, resource-manager

#21636 Node os upgrade desc fix
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-10-02-preview/managedClusters.json
Labels: Container Service, CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript, resource-manager

#21448 [Hub Generated] Review request for Microsoft.RecoveryServices to add version stable/2022-10-01
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples/Capabilities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples/CheckNameAvailability_Available.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples/CheckNameAvailability_NotAvailable.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples/PATCHVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples/PUTVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/examples/UpdateVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/registeredidentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/replicationusages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/vaults.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-10-01/vaultusages.json
  specification/recoveryservices/resource-manager/readme.md
Labels: ARMSignedOff, RecoveryServices, ARMReview, resource-manager, ReadyForApiTest, new-api-version

#21235 Purview policy store devops policies api specs
  specification/purview/data-plane/Azure.Analytics.Purview.DevopsPolicies/preview/2022-11-01-preview/examples/DevopsPolicy_List.json
  specification/purview/data-plane/Azure.Analytics.Purview.DevopsPolicies/preview/2022-11-01-preview/examples/DevopsSqlPerfMonitorPolicy_CreateOrReplace.json
  specification/purview/data-plane/Azure.Analytics.Purview.DevopsPolicies/preview/2022-11-01-preview/examples/DevopsSqlPerfMonitorPolicy_Delete.json
  specification/purview/data-plane/Azure.Analytics.Purview.DevopsPolicies/preview/2022-11-01-preview/examples/DevopsSqlPerfMonitorPolicy_Get.json
  specification/purview/data-plane/Azure.Analytics.Purview.DevopsPolicies/preview/2022-11-01-preview/examples/DevopsSqlSecurityAuditorPolicy_CreateOrReplace.json
  specification/purview/data-plane/Azure.Analytics.Purview.DevopsPolicies/preview/2022-11-01-preview/examples/DevopsSqlSecurityAuditorPolicy_Delete.json
  specification/purview/data-plane/Azure.Analytics.Purview.DevopsPolicies/preview/2022-11-01-preview/examples/DevopsSqlSecurityAuditorPolicy_Get.json
  specification/purview/data-plane/Azure.Analytics.Purview.DevopsPolicies/preview/2022-11-01-preview/purviewDevopsPolicy.json
  specification/purview/data-plane/readme.md
Labels: Purview, data-plane, new-api-version, CI-MissingBaseCommit

#21647 Add cadl-csharp parameters for AnomalyDetector
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/cadl/cadl-project.yaml
Labels: Cognitive Services, data-plane

#21649 [Go] add go repo in readme.md
  specification/devcenter/resource-manager/readme.md
Labels: CI-BreakingChange-Python, CI-BreakingChange-Go, resource-manager, RPaaS

#21240 [Synapse]add new apis of Pause/Resume for Synapse Link
  specification/synapse/data-plane/Microsoft.Synapse/preview/2022-12-01-preview/examples/LinkConnection_CreateOrUpdate.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2022-12-01-preview/examples/LinkConnection_Delete.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2022-12-01-preview/examples/LinkConnection_EditTables.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2022-12-01-preview/examples/LinkConnection_Get.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2022-12-01-preview/examples/LinkConnection_GetDetailedStatus.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2022-12-01-preview/examples/LinkConnection_ListLinkTables.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2022-12-01-preview/examples/LinkConnection_Pause.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2022-12-01-preview/examples/LinkConnection_QueryTableStatus.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2022-12-01-preview/examples/LinkConnection_Resume.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2022-12-01-preview/examples/LinkConnection_Start.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2022-12-01-preview/examples/LinkConnection_Stop.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2022-12-01-preview/examples/LinkConnection_UpdateLandingZoneCredential.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2022-12-01-preview/examples/LinkConnections_ListByWorkspace.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2022-12-01-preview/linkConnections.json
  specification/synapse/data-plane/readme.md
Labels: Synapses, APIStewardshipBoard-SignedOff, data-plane, new-api-version, CI-MissingBaseCommit

#21635 [Hub Generated] Publish private branch 'servicelinker/update-readme-apiversion'
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/servicelinker.json
  specification/servicelinker/resource-manager/readme.md
Labels: CI-BreakingChange-Go, resource-manager, RPaaS

#21415 Adding Managed Instance ServerConfigurationOptions API
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/ServerConfigurationOptions.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/examples/ServerConfigurationOptionGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/examples/ServerConfigurationOptionList.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/examples/ServerConfigurationOptionUpdate.json
  specification/sql/resource-manager/readme.md
Labels: Reviewed-ChangesRequested, SQL, ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-LintDiff, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#21462 cdn scenarios package-2021-06
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/scenarios/afdx.yaml
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/scenarios/cdn.yaml
Labels: Network - CDN, no-recent-activity

#21409 operationalinsights scenarios package-2022-02
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2021-12-01-preview/scenarios/workspaces.yaml
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-08-01/scenarios/dataExports.yaml
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-08-01/scenarios/datasources.yaml
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-08-01/scenarios/intelligencePacks.yaml
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-08-01/scenarios/linkedServices.yaml
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-08-01/scenarios/linkedStorageAccounts.yaml
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-08-01/scenarios/savedSearches.yaml
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-08-01/scenarios/storageInsightConfigs.yaml
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-08-01/scenarios/templates/Create_EventhubNamespace.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-08-01/scenarios/templates/Create_StorageAccount.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2021-06-01/scenarios/clusters.yaml
  specification/operationalinsights/resource-manager/readme.test.md
Labels: Monitor - Operational Insights, no-recent-activity, CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript, resource-manager

#21346 eventgrid scenarios package-2022-06
  specification/eventgrid/resource-manager/Microsoft.EventGrid/stable/2022-06-15/scenarios/EventGrid.yaml
  specification/eventgrid/resource-manager/Microsoft.EventGrid/stable/2022-06-15/scenarios/templates/Create_EventHubs.json
  specification/eventgrid/resource-manager/Microsoft.EventGrid/stable/2022-06-15/scenarios/templates/Create_PrivateEndpoint.json
  specification/eventgrid/resource-manager/readme.test.md
Labels: Event Grid, no-recent-activity, resource-manager

#21648 adding auth status property to circuit
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/ExpressRouteCircuitCreateOnExpressRoutePort.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/expressRouteCircuit.json
Labels: Network, CI-FixRequiredOnFailure, Approved-ModelValidation, CI-BreakingChange-JavaScript, resource-manager

#21653 Remove readonly flag on schedules property for CI
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-12-01-preview/machineLearningServices.json
Labels: WaitForARMFeedback, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired

#21604 ACSS Swagger Changes in PUT SVI API and child resources
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/SAPVirtualInstance.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPApplicationServerInstances_Create_HA_AvSet.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPApplicationServerInstances_Delete.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPCentralInstances_Create_HA_AvSet.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPCentralInstances_Delete.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPDatabaseInstances_Create_HA_AvSet.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPDatabaseInstances_Delete.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Create_DiskDetails_Distributed.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Create_DiskDetails_HA_AvSet.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Create_DiskDetails_HA_AvZone.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Create_DiskDetails_SingleServer.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Create_Distributed_CreateTrans.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Create_Distributed_MountTrans.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Create_Distributed_SkipTransMount.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Delete.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Start.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Stop.json
Labels: DoNotMerge, Approved-BreakingChange, CI-BreakingChange-Go, resource-manager, RPaaS, NewApiVersionRequired

#21662 Revert "ACSS Swagger Changes in PUT SVI API and child resources"
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/SAPVirtualInstance.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPApplicationServerInstances_Create_HA_AvSet.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPApplicationServerInstances_Delete.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPCentralInstances_Create_HA_AvSet.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPCentralInstances_Delete.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPDatabaseInstances_Create_HA_AvSet.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPDatabaseInstances_Delete.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Create_DiskDetails_Distributed.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Create_DiskDetails_HA_AvSet.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Create_DiskDetails_HA_AvZone.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Create_DiskDetails_SingleServer.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Create_Distributed_CreateTrans.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Create_Distributed_MountTrans.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Create_Distributed_SkipTransMount.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Delete.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Start.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Stop.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, Approved-SemanticValidation, resource-manager, RPaaS, BreakingChangeReviewRequired

#21520 {AzureContainerApps} fixes Azure/azure-rest-api-specs#21354
  specification/app/resource-manager/Microsoft.App/preview/2022-01-01-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/ManagedEnvironments.json
Labels: Approved-BreakingChange, CI-FixRequiredOnFailure, Approved-ModelValidation, resource-manager, NewApiVersionRequired, BreakingChangeReviewRequired

#21551 {AzureDataProtection} fixes Azure/azure-rest-api-specs#21183
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2022-05-01/dataprotection.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, resource-manager, BreakingChangeReviewRequired

#21290 {AzureRecoveryServices} fixes Azure/azure-rest-api-specs#20953
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2021-12-01/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/bms.json
Labels: Recovery Services Backup, Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#21686 Make model-namespace false for .net
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/cadl/cadl-project.yaml
Labels: Cognitive Services, data-plane

#21681 [Network] Update readme.python.md
  specification/network/resource-manager/readme.python.md
Labels: Network, CI-BreakingChange-JavaScript, resource-manager

#21685 [EventHubs]: Adding missing descriptions
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2022-01-01-preview/SchemaRegistry.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2022-01-01-preview/namespaces-preview.json
  specification/eventhub/resource-manager/Microsoft.EventHub/stable/2021-11-01/SchemaRegistry.json
  specification/eventhub/resource-manager/Microsoft.EventHub/stable/2021-11-01/namespaces-preview.json
Labels: Event Hubs, CI-FixRequiredOnFailure, Approved-ModelValidation, resource-manager

#21572 Face PersonDirectory argument type mismatch fix
  specification/cognitiveservices/data-plane/Face/preview/v1.0-preview/Face.json
Labels: Cognitive Services, Approved-BreakingChange, data-plane, BreakingChangeReviewRequired

#21680 [AnomalyDetector] Archboard feedback
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/cadl/multivariate/models.cadl
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/cadl/multivariate/routes.cadl
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/cadl/univariate/models.cadl
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/cadl/univariate/routes.cadl
Labels: Cognitive Services, Cadl, data-plane

#21704 Added new file version
  specification/storage/data-plane/Microsoft.FileStorage/preview/2022-11-02/file.json
  specification/storage/data-plane/Microsoft.FileStorage/readme.md
Labels: Storage, data-plane, new-api-version, CI-MissingBaseCommit

#21625 Databox - Remove optional properties from required list
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-09-01/databox.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, FixS360, resource-manager, BreakingChangeReviewRequired

#21706 [Digitaltwins] Update readme.python.md
  specification/digitaltwins/resource-manager/readme.python.md
Labels: resource-manager

#21703 New PrivateEndpointLocation attribute
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/privateLinkService.json
Labels: Network, customer-reported, CI-FixRequiredOnFailure, Approved-ModelValidation, CI-BreakingChange-JavaScript, resource-manager

#21608 Fix response of API: List of advertised/learned BGP routes
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/VirtualRouterPeerListAdvertisedRoute.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/VirtualRouterPeerListLearnedRoute.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/virtualWan.json
Labels: Network, Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, FixS360, Approved-ModelValidation, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#21617 [Hub Generated] Review request for Microsoft.Network to update version preview/2021-02-01-preview for NSP Link feature
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NspAccessRuleReconcile.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NspLinkGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NspLinkList.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NspLinkPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NspLinkReferenceGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NspLinkReferenceList.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/networkSecurityPerimeter.json
Labels: Network, Approved-BreakingChange, CI-BreakingChange-JavaScript, resource-manager, NewApiVersionRequired, BreakingChangeReviewRequired
