Repository Azure/azure-rest-api-specs, pull requests merged in 2022-05, with the labels that each got.

#18851 [Hub Generated] Review request for Microsoft.AzureStackHCI to add version stable/2022-05-01
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/arcSettings.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/clusters.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples/CreateArcIdentity.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples/CreateCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples/CreateClusterIdentity.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples/DeleteArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples/DeleteCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples/DeleteExtension.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples/GeneratePassword.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples/GetArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples/GetCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples/GetExtension.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples/ListArcSettingsByCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples/ListClustersByResourceGroup.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples/ListClustersBySubscription.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples/ListExtensionsByArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples/ListOperations.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples/PatchArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples/PatchExtension.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples/PutArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples/PutExtension.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples/UpdateCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/examples/UploadCertificate.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/extensions.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01/operations.json
  specification/azurestackhci/resource-manager/readme.md
Labels: ARMSignedOff, ARMChangesRequested, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, CI-BreakingChange-Go-V2, Approved-SdkBreakingChange-Go-V2, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript

#18874 Align SKU descriptions
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/Settings.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18884 capatalize NetworkPluginMode name
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-04-02-preview/managedClusters.json
Labels: CI-BreakingChange-JavaScript

#18824 New stable version for ga
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-04-21/examples/FluidRelayContainers_Delete.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-04-21/examples/FluidRelayContainers_Get.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-04-21/examples/FluidRelayContainers_ListByFluidRelayServer.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-04-21/examples/FluidRelayServerOperations.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-04-21/examples/FluidRelayServers_CreateOrUpdate.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-04-21/examples/FluidRelayServers_CreateWithAmi.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-04-21/examples/FluidRelayServers_CreateWithCmk.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-04-21/examples/FluidRelayServers_Delete.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-04-21/examples/FluidRelayServers_Get.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-04-21/examples/FluidRelayServers_GetKeys.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-04-21/examples/FluidRelayServers_ListByResourceGroup.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-04-21/examples/FluidRelayServers_ListBySubscription.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-04-21/examples/FluidRelayServers_ListKeys.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-04-21/examples/FluidRelayServers_RegenerateKeys.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-04-21/examples/FluidRelayServers_Update.json
  specification/fluidrelay/resource-manager/Microsoft.FluidRelay/stable/2022-04-21/fluidrelay.json
  specification/fluidrelay/resource-manager/readme.md
Labels: ARMSignedOff

#18721 fix execution details correctness - S360.
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2021-09-15-preview/examples/GetAExperimentExecutionDetails.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2021-09-15-preview/examples/ListExperimentExecutionsDetails.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2021-09-15-preview/types/experiments.json
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, FixS360, CI-BreakingChange-Go-V2

#18830 aks: add enableCustomCATrust in v20220402-preview api-version
  custom-words.txt
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-04-02-preview/examples/AgentPoolsCreate_EnableCustomCATrust.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-04-02-preview/examples/ManagedClustersCreate_EnableCustomCATrust.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2022-04-02-preview/managedClusters.json
Labels: CI-BreakingChange-JavaScript

#18868 Add new Azure Compute Gallery image ids to ImageDiskReference for PutDisk Support in 2022-03-02 Api Version
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-02/DiskRP/disk.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-02/DiskRP/diskRPCommon.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-02/DiskRP/examples/diskExamples/Disk_Create_FromAnAzureComputeGalleryCommunityImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-02/DiskRP/examples/diskExamples/Disk_Create_FromAnAzureComputeGalleryDirectSharedImage.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-02/DiskRP/examples/diskExamples/Disk_Create_FromAnAzureComputeGalleryImage.json
Labels: Compute, CI-BreakingChange-Python-Track2

#18546 Append with Flush
  specification/storage/data-plane/Azure.Storage.Files.DataLake/preview/2021-06-08/DataLakeStorage.json
Labels: no-recent-activity, NewApiVersionRequired, CI-FixRequiredOnFailure

#18630 Update AutomationRules.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/AutomationRules.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/examples/automationRules/AutomationRules_CreateOrUpdate.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/examples/automationRules/AutomationRules_Get.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/examples/automationRules/AutomationRules_List.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/examples/manualTrigger/Incidents_RunPlaybook.json
Labels: ARMSignedOff, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript

#18839 Correct Probe enums
  specification/app/resource-manager/Microsoft.App/preview/2022-01-01-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2022-01-01-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2022-01-01-preview/examples/ContainerApps_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ContainerApps_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ContainerApps_Patch.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript

#18700 [PostgreSQL] Adding a new privatepreview version for fast-provisioning feature
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-privatepreview/examples/GetCachedServerName.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-privatepreview/getCachedServerName.json
  specification/postgresql/resource-manager/readme.go.md
  specification/postgresql/resource-manager/readme.md
  specification/postgresql/resource-manager/readme.python.md
  specification/postgresql/resource-manager/readme.typescript.md
Labels: CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python

#18783 Add support for Standby Geo
  custom-words.txt
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/Databases.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/ReplicationLinks.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/CreateDatabaseStandbyMode.json
Labels: SQL, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript

#18915 Revert "[PostgreSQL] Adding a new privatepreview version for fast-provisioning feature"
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-privatepreview/examples/GetCachedServerName.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-privatepreview/getCachedServerName.json
  specification/postgresql/resource-manager/readme.go.md
  specification/postgresql/resource-manager/readme.md
  specification/postgresql/resource-manager/readme.python.md
  specification/postgresql/resource-manager/readme.typescript.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2

#18916 remove a tag with errors
  specification/securityinsights/resource-manager/readme.go.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18917 [Appcontainers] change app to appcontainers in readme.python
  specification/app/resource-manager/readme.python.md
Labels: CI-BreakingChange-JavaScript

#18773 Update compute.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/compute.json
Labels: Compute, CI-BreakingChange-Python-Track2

#17957 Add Azure Edge Order CLI settings
  specification/edgeorder/resource-manager/readme.az.md
Labels: CI-BreakingChange-Go-V2

#18722 Adds settings and advancedSettings to gallery application version
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-01-03/GalleryRP/examples/galleryExamples/GalleryApplicationVersion_Create.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-01-03/GalleryRP/examples/galleryExamples/GalleryApplicationVersion_Get_WithReplicationStatus.json
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-01-03/GalleryRP/gallery.json
Labels: Compute, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#17710 Thediris/fhir preview clean
  specification/cognitiveservices/data-plane/Language/preview/2022-04-01-preview/textanalytics.json
Labels: CI-FixRequiredOnFailure

#17872 [Communication Services - JobRouter] Initial commit
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/communicationservicejobrouter.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/ClassificationPolicies_CreateClassificationPolicy.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/ClassificationPolicies_DeleteClassificationPolicy.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/ClassificationPolicies_GetClassificationPolicy.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/ClassificationPolicies_ListClassificationPoliciesWithPageSize.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/ClassificationPolicies_UpdateClassificationPolicy.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/DistributionPolicies_CreateDistributionPolicy.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/DistributionPolicies_DeleteDistributionPolicy.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/DistributionPolicies_GetDistributionPolicy.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/DistributionPolicies_ListDistributionPoliciesWithPageSize.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/DistributionPolicies_UpdateDistributionPolicy.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/ExceptionPolicies_CreateExceptionPolicy.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/ExceptionPolicies_DeleteExceptionPolicy.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/ExceptionPolicies_GetExceptionPolicy.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/ExceptionPolicies_ListExceptionPoliciesWithPageSize.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/ExceptionPolicies_UpdateExceptionPolicy.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/Jobs_CloseJob.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/Jobs_CompleteJob.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/Jobs_CreateJob.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/Jobs_DeleteJob.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/Jobs_GetInQueuePosition.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/Jobs_GetJob.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/Jobs_GetJobsWithPageSize.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/Jobs_ReclassifyJob.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/Jobs_RequestJobCancel.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/Jobs_UpdateJob.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/Offers_AcceptJobOffer.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/Offers_DeclineJobOffer.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/Queues_CreateQueue.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/Queues_DeleteQueue.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/Queues_GetQueue.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/Queues_GetQueueStatistics.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/Queues_ListQueuesWithPageSize.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/Queues_UpdateQueue.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/Workers_CreateWorker.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/Workers_DeleteWorker.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/Workers_DeregisterActiveWorker.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/Workers_DeregisterInactiveWorker.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/Workers_GetAvailableWorkersByChannel.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/Workers_GetWorker.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/Workers_GetWorkersWithPageSize.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/Workers_RegisterWorker.json
  specification/communication/data-plane/JobRouter/preview/2021-10-20-preview2/examples/Workers_UpdateWorker.json
  specification/communication/data-plane/JobRouter/readme.md
  specification/communication/data-plane/JobRouter/readme.typescript.md
Labels: WaitForARMFeedback, ARMChangesRequested, APIStewardship-ChangesRequested

#18867 [CosmosDB] [AdjustThroughput API] Add 200 responses to the APIs
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2022-02-15-preview/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2022-02-15-preview/examples/CosmosDBMongoDBCollectionRedistributeThroughput.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2022-02-15-preview/examples/CosmosDBMongoDBCollectionRetrieveThroughputDistribution.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2022-02-15-preview/examples/CosmosDBSqlContainerRedistributeThroughput.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2022-02-15-preview/examples/CosmosDBSqlContainerRetrieveThroughputDistribution.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2

#17811 Guest Configuration: Add new API version - 2022-01-25 for SET scenario
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2022-01-25/examples/createOrUpdateGuestConfigurationAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2022-01-25/examples/createOrUpdateGuestConfigurationHCRPAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2022-01-25/examples/deleteGuestConfigurationAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2022-01-25/examples/deleteGuestConfigurationHCRPAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2022-01-25/examples/deleteGuestConfigurationVMSSAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2022-01-25/examples/getGuestConfigurationAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2022-01-25/examples/getGuestConfigurationAssignmentReportById.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2022-01-25/examples/getGuestConfigurationHCRPAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2022-01-25/examples/getGuestConfigurationHCRPAssignmentReportById.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2022-01-25/examples/getVMSSGuestConfigurationAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2022-01-25/examples/getVMSSGuestConfigurationAssignmentReportById.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2022-01-25/examples/listAllGuestConfigurationAssignmentReports.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2022-01-25/examples/listAllGuestConfigurationHCRPAssignmentReports.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2022-01-25/examples/listAllVMSSGuestConfigurationAssignmentReports.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2022-01-25/examples/listGuestConfigurationAssignments.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2022-01-25/examples/listGuestConfigurationHCRPAssignments.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2022-01-25/examples/listOperations.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2022-01-25/examples/listRGGuestConfigurationAssignments.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2022-01-25/examples/listSubGuestConfigurationAssignments.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2022-01-25/examples/listVMSSGuestConfigurationAssignments.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2022-01-25/guestconfiguration.json
  specification/guestconfiguration/resource-manager/readme.go.md
  specification/guestconfiguration/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired

#18811 [App Configuration] Promote 2022-05-01 stable version
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/appconfiguration.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/CheckNameAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/CheckNameNotAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/ConfigurationStoresCreate.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/ConfigurationStoresCreateKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/ConfigurationStoresCreatePrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/ConfigurationStoresCreateWithIdentity.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/ConfigurationStoresCreateWithLocalAuthDisabled.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/ConfigurationStoresDelete.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/ConfigurationStoresDeleteKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/ConfigurationStoresDeletePrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/ConfigurationStoresGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/ConfigurationStoresGetKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/ConfigurationStoresGetPrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/ConfigurationStoresList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/ConfigurationStoresListByResourceGroup.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/ConfigurationStoresListKeyValues.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/ConfigurationStoresListKeys.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/ConfigurationStoresListPrivateEndpointConnections.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/ConfigurationStoresRegenerateKey.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/ConfigurationStoresUpdate.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/ConfigurationStoresUpdateDisableLocalAuth.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/ConfigurationStoresUpdateWithIdentity.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/DeletedConfigurationStoresGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/DeletedConfigurationStoresList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/DeletedConfigurationStoresPurge.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/PrivateLinkResourceGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/PrivateLinkResourcesListByConfigurationStore.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/RegionalCheckNameAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/RegionalCheckNameNotAvailable.json
  specification/appconfiguration/resource-manager/readme.md
Labels: ARMSignedOff, CI-FixRequiredOnFailure, Approved-Avocado

#18918 [Hub Generated] Review request for Microsoft.LoadTestService to update examples and description in the existing versions
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2021-12-01-preview/examples/LoadTests_CreateOrUpdate.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2021-12-01-preview/examples/LoadTests_Update.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2021-12-01-preview/loadtestservice.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2022-04-15-preview/examples/LoadTests_CreateOrUpdate.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2022-04-15-preview/examples/LoadTests_Update.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2022-04-15-preview/loadtestservice.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript

#18736 Add readonly "action" property to NetworkRuleSetIpRule definition
  specification/iotcentral/resource-manager/Microsoft.IoTCentral/preview/2021-11-01-preview/iotcentral.json
Labels: Approved-BreakingChange, NewApiVersionRequired, FixS360, CI-BreakingChange-JavaScript

#18894 modify api version of ReplicationLinks in swagger file
  specification/sql/resource-manager/readme.md
Labels: SQL, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, Approved-Avocado, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18825 [DataFactory]Add support for running staging on multiple sources in parallel
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired

#18908 [Synapse]Add support for running staging on multiple sources in parallel
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: Approved-BreakingChange, NewApiVersionRequired, Synapses

#18671 Feature/t misrael/2022 04 13 preview
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViAccountCheckNameAvailabilityFree.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViAccountCheckNameAvailabilityTaken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViAccountDelete.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViAccountGet.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViAccountPatch/ViAccountPatch1.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViAccountPatch/ViAccountPatch2.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViAccountPatch/ViAccountPatch3.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViAccountPatch/ViAccountPatch4.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViAccountPatch/ViAccountPatch5.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViAccountPatch/ViAccountPatch6.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViAccountPatch/ViAccountPatch7.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViAccountPatch/ViAccountPatch8.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViAccountPut/ViAccountPut1.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViAccountPut/ViAccountPut10.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViAccountPut/ViAccountPut2.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViAccountPut/ViAccountPut3.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViAccountPut/ViAccountPut4.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViAccountPut/ViAccountPut5.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViAccountPut/ViAccountPut6.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViAccountPut/ViAccountPut7.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViAccountPut/ViAccountPut8.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViAccountPut/ViAccountPut9.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViAccountsList.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViAccountsListByResourceGroup.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViClassicAccounts.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViGenerateAccessToken/ViGenerateAccountContributerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViGenerateAccessToken/ViGenerateAccountReaderAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViGenerateAccessToken/ViGenerateProjectContributerAccessToken1.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViGenerateAccessToken/ViGenerateProjectContributerAccessToken2.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViGenerateAccessToken/ViGenerateProjectReaderAccessToken1.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViGenerateAccessToken/ViGenerateProjectReaderAccessToken2.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViGenerateAccessToken/ViGenerateVideoContributerAccessToken1.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViGenerateAccessToken/ViGenerateVideoContributerAccessToken2.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViGenerateAccessToken/ViGenerateVideoReaderAccessToken1.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViGenerateAccessToken/ViGenerateVideoReaderAccessToken2.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViListUserClassicAccounts.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/examples/ViOperationsList.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/vi.json
  specification/vi/resource-manager/readme.design.md
  specification/vi/resource-manager/readme.md
  specification/vi/resource-manager/readme.terraform.md
Labels: ARMSignedOff

#18791 Add isManagedIdentityInUse property to DevOps Audit Api
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/ServerDevOpsAudit.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ServerDevOpsAuditGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ServerDevOpsAuditSettingsList.json
Labels: SQL, ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript

#18647 Review request for Microsoft.RecoveryServices to add version stable/2022-03-01
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/examples/CheckNameAvailability_Available.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/examples/CheckNameAvailability_NotAvailable.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/examples/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/examples/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/examples/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/examples/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/examples/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/examples/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/examples/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/examples/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/examples/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/examples/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/examples/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/examples/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/examples/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/examples/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/examples/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/examples/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/examples/PATCHVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/examples/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/examples/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/examples/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/examples/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/examples/PUTVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/examples/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/examples/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/examples/UpdateVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/registeredidentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/replicationusages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/vaults.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/vaultusages.json
  specification/recoveryservices/resource-manager/readme.md
Labels: ARMSignedOff

#18983 [Language/2022-04-01] Make FHIR input enum an extensible enum
  specification/cognitiveservices/data-plane/Language/preview/2022-04-01-preview/textanalytics.json
Labels: FixS360

#18971 [Hub Generated] Publish private branch 'servicelinker/naji/swaggerEnum'
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2022-05-01/examples/ValidateLinkSuccess.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2022-05-01/servicelinker.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript, ShiftLeftViolation

#18981 Update MachineLearningServices 2022-02-01-preview description and examples
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-02-01-preview/mfe.json
Labels: CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, Approved-ModelValidation

#18890 Adding Dynatrace.Observability swagger version 2021-09-01-preview
  custom-words.txt
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/dynatrace.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_CreateOrUpdate_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_CreateOrUpdate_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_Delete_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_Delete_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_GetAccountCredentials_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_GetAccountCredentials_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_GetSSODetails_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_GetSSODetails_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_GetVMHostPayload_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_GetVMHostPayload_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_Get_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_Get_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_ListAppServices_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_ListAppServices_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_ListByResourceGroup_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_ListByResourceGroup_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_ListBySubscriptionId_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_ListBySubscriptionId_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_ListHosts_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_ListHosts_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_ListLinkableEnvironments_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_ListLinkableEnvironments_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_ListMonitoredResources_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_ListMonitoredResources_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_Update_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_Update_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Operations_List_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Operations_List_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/SingleSignOn_CreateOrUpdate_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/SingleSignOn_CreateOrUpdate_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/SingleSignOn_Get_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/SingleSignOn_Get_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/SingleSignOn_List_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/SingleSignOn_List_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/TagRules_CreateOrUpdate_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/TagRules_CreateOrUpdate_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/TagRules_Delete_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/TagRules_Delete_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/TagRules_Get_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/TagRules_Get_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/TagRules_List_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/TagRules_List_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/TagRules_Update_MaximumSet_Gen.json
  specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/TagRules_Update_MinimumSet_Gen.json
  specification/dynatrace/resource-manager/readme.az.md
  specification/dynatrace/resource-manager/readme.cli.md
  specification/dynatrace/resource-manager/readme.csharp.md
  specification/dynatrace/resource-manager/readme.go.md
  specification/dynatrace/resource-manager/readme.md
  specification/dynatrace/resource-manager/readme.python.md
  specification/dynatrace/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#18885 [Hub Generated] Review request for Microsoft.Insights to add version stable/2022-06-01
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/actionGroups_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/createOrUpdateActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/deleteActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/enableReceiver.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/getActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/getTestNotifications.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/getTestNotificationsAtActionGroupResourceLevel.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/getTestNotificationsAtResourceGroupLevel.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/listActionGroups.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/patchActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/postTestNotifications.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/postTestNotificationsAtActionGroupResourceLevel.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/postTestNotificationsAtResourceGroupLevel.json
  specification/monitor/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18901 Swagger fix for MUA for RSV and Dpp
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2022-04-01/dataprotection.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2022-02-01/examples/ResourceGuardProxyCRUD/PutResourceGuardProxy.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-FixRequiredOnFailure

#18992 fix: wrong api version for network latest version
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/vmssNetworkInterface.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/vmssPublicIpAddress.json
Labels: Network, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18856 Azure Event Grid 2021-12-01: Add missing isDataAction property from operation resource to address s360 LPI
  specification/eventgrid/resource-manager/Microsoft.EventGrid/stable/2021-12-01/EventGrid.json
Labels: Approved-BreakingChange, NewApiVersionRequired, FixS360, CI-BreakingChange-JavaScript

#18895 Add missing pagination support for listing nested event subscription resources
  specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2021-10-15-preview/EventGrid.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, NewApiVersionRequired, CI-BreakingChange-JavaScript

#18858 Yuliu2/add purview configuration
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/Factories_Get.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/Factories_List.json
Labels: Approved-BreakingChange, NewApiVersionRequired

#19018 [Hub Generated] Publish private branch 'servicelinker/nullable'
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2022-05-01/servicelinker.json
Labels: CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript, ShiftLeftViolation

#19005 Change the parameter names to unblock Terraform release
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/AuthConfigs.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/ContainerAppsRevisions.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/DaprComponents.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/ManagedEnvironmentsStorages.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/SourceControls.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/AuthConfigs_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/AuthConfigs_Delete.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/AuthConfigs_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/Certificate_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/Certificate_Delete.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/Certificate_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/Certificates_CheckNameAvailability.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/Certificates_ListByManagedEnvironment.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/Certificates_Patch.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ContainerApps_CheckNameAvailability.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ContainerApps_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ContainerApps_Delete.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ContainerApps_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ContainerApps_ListSecrets.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ContainerApps_Patch.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/DaprComponents_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/DaprComponents_Delete.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/DaprComponents_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/DaprComponents_ListSecrets.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ManagedEnvironmentsStorages_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ManagedEnvironmentsStorages_Delete.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ManagedEnvironmentsStorages_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ManagedEnvironmentsStorages_List.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ManagedEnvironments_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ManagedEnvironments_Delete.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ManagedEnvironments_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ManagedEnvironments_Patch.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/Replicas_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/Revisions_Activate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/Revisions_Deactivate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/Revisions_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/Revisions_Restart.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/SourceControls_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/SourceControls_Delete.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/SourceControls_Get.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript

#19011 Updated Explicit proxy settings by adding one boolean field to it
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/FirewallPolicyGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/FirewallPolicyPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/firewallPolicy.json
Labels: Network, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#19024 Swagger example/spec for Managed Database Restore Details V2022-02-01 API
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/ManagedDatabaseRestoreDetails.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ManagedDatabaseRestoreDetails.json
Labels: SQL, CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript, ARMReview

#18956 [DataFactory]Add support for running staging on multiple sources in parallel
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: Approved-BreakingChange, NewApiVersionRequired

#18977 [Microsoft.KubernetesConfiguration] Add 200 OK to PATCH apis
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-03-01/examples/PatchExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-03-01/examples/PatchFluxConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-03-01/extensions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-03-01/fluxconfiguration.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, FixS360

#19014 Fix definition for customhostnameesult
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2022-05-01/examples/ContainerApps_ListCustomHostNameAnalysis.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript

#19041 API for provider port
  custom-words.txt
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/expressRouteProviderPort.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/expressRouteProviderPortList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/expressRouteProviderPort.json
  specification/network/resource-manager/readme.md
Labels: Network, customer-reported, CI-FixRequiredOnFailure, Approved-LintDiff, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#19038 [Microsoft.KubernetesConfiguration] Add 200 response to Extension PATCH
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-04-02-preview/examples/PatchExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-04-02-preview/extensions.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, FixS360

#18870 Fix S360 items for FSPG swagger
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/Databases.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/DatabaseCreate.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/DatabaseDelete.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/DatabaseGet.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/DatabasesListByServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/CapabilitiesByLocation.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/VirtualNetworkSubnetUsage.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/postgresql.json
  specification/postgresql/resource-manager/readme.md
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, NewApiVersionRequired, FixS360, Approved-SdkBreakingChange-Python

#18996 Migrate to net track2 for some resource-manager readmes
  specification/appconfiguration/resource-manager/readme.md
  specification/connectedvmware/resource-manager/readme.md
  specification/dashboard/resource-manager/readme.md
  specification/desktopvirtualization/resource-manager/readme.md
  specification/deviceupdate/resource-manager/readme.md
  specification/dnsresolver/resource-manager/readme.md
  specification/edgeorder/resource-manager/readme.md
  specification/elasticsan/resource-manager/readme.md
  specification/eventhub/resource-manager/readme.md
  specification/extendedlocation/resource-manager/readme.md
  specification/fluidrelay/resource-manager/readme.md
  specification/hybridconnectivity/resource-manager/readme.md
  specification/iotcentral/resource-manager/readme.md
  specification/keyvault/resource-manager/readme.md
  specification/machinelearningservices/resource-manager/readme.md
  specification/monitor/resource-manager/readme.md
  specification/network/resource-manager/readme.md
  specification/reservations/resource-manager/readme.md
  specification/resources/resource-manager/readme.md
  specification/servicebus/resource-manager/readme.md
  specification/servicelinker/resource-manager/readme.md
  specification/sql/resource-manager/readme.md
  specification/storage/resource-manager/readme.md
  specification/storagepool/resource-manager/readme.md
  specification/web/resource-manager/readme.md
  specification/webpubsub/resource-manager/readme.md
Labels: CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript, ShiftLeftViolation

#19058 [recoveryservicesbackup] Update readme.python.md
  specification/recoveryservicesbackup/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2

#18820 AMS v2 public preview
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/Operations_List.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/workloadmonitor/Db2ProviderInstances_Create.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/workloadmonitor/Db2ProviderInstances_Get.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/workloadmonitor/MsSqlServerProviderInstance_Create.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/workloadmonitor/MsSqlServerProviderInstance_Get.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/workloadmonitor/NetWeaverProviderInstances_Create.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/workloadmonitor/NetWeaverProviderInstances_Get.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/workloadmonitor/PrometheusHaClusterProviderInstances_Create.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/workloadmonitor/PrometheusHaClusterProviderInstances_Get.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/workloadmonitor/PrometheusOSProviderInstances_Create.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/workloadmonitor/PrometheusOSProviderInstances_Get.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/workloadmonitor/ProviderInstances_Create.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/workloadmonitor/ProviderInstances_Delete.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/workloadmonitor/ProviderInstances_Get.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/workloadmonitor/ProviderInstances_List.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/workloadmonitor/monitors_Create.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/workloadmonitor/monitors_Delete.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/workloadmonitor/monitors_Get.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/workloadmonitor/monitors_List.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/workloadmonitor/monitors_ListByRG.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/workloadmonitor/monitors_PatchTags.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/workloadmonitor/monitors_PatchTags_Delete.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/monitors.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/operations.json
  specification/workloads/resource-manager/readme.az.md
  specification/workloads/resource-manager/readme.cli.md
  specification/workloads/resource-manager/readme.csharp.md
  specification/workloads/resource-manager/readme.go.md
  specification/workloads/resource-manager/readme.md
  specification/workloads/resource-manager/readme.python.md
  specification/workloads/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#18854 remove unused SystemData from databoxedge 2022-04-01-preview
  specification/databoxedge/resource-manager/Microsoft.DataBoxEdge/preview/2022-04-01-preview/databoxedge.json
Labels: no-recent-activity, CI-BreakingChange-Go-V2

#18831 Update aliases.json
  arm-compute/quickstart-templates/aliases.json
Labels: no-recent-activity

#19077 [Databricks] [Labservices] update client name
  specification/databricks/resource-manager/readme.python.md
  specification/labservices/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2

#18927 Azure Traffic Collector changes
  custom-words.txt
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/preview/2021-09-01-preview/AzureTrafficCollector.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/preview/2021-09-01-preview/examples/AzureTrafficCollectorCreate.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/preview/2021-09-01-preview/examples/AzureTrafficCollectorDelete.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/preview/2021-09-01-preview/examples/AzureTrafficCollectorGet.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/preview/2021-09-01-preview/examples/AzureTrafficCollectorUpdateTags.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/preview/2021-09-01-preview/examples/AzureTrafficCollectorsByResourceGroupList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/preview/2021-09-01-preview/examples/AzureTrafficCollectorsBySubscriptionList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/preview/2021-09-01-preview/examples/CollectorPoliciesList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/preview/2021-09-01-preview/examples/CollectorPolicyCreate.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/preview/2021-09-01-preview/examples/CollectorPolicyDelete.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/preview/2021-09-01-preview/examples/CollectorPolicyGet.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/preview/2021-09-01-preview/examples/OperationsList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-05-01/AzureTrafficCollector.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-05-01/examples/AzureTrafficCollectorCreate.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-05-01/examples/AzureTrafficCollectorDelete.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-05-01/examples/AzureTrafficCollectorGet.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-05-01/examples/AzureTrafficCollectorUpdateTags.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-05-01/examples/AzureTrafficCollectorsByResourceGroupList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-05-01/examples/AzureTrafficCollectorsBySubscriptionList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-05-01/examples/CollectorPoliciesList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-05-01/examples/CollectorPolicyCreate.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-05-01/examples/CollectorPolicyDelete.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-05-01/examples/CollectorPolicyGet.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/stable/2022-05-01/examples/OperationsList.json
  specification/networkfunction/resource-manager/readme.csharp.md
  specification/networkfunction/resource-manager/readme.go.md
  specification/networkfunction/resource-manager/readme.md
  specification/networkfunction/resource-manager/readme.python.md
  specification/networkfunction/resource-manager/readme.ruby.md
  specification/networkfunction/resource-manager/readme.typescript.md
Labels: ARMSignedOff

#19061 format cdn pramter type string to enum
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/cdn.json
Labels: CI-FixRequiredOnFailure, FixS360, CI-BreakingChange-Go-V2, Approved-SdkBreakingChange-Go-V2

#19047 Updating version to latest SDK which is being released
  specification/recoveryservicesbackup/resource-manager/readme.md
  specification/recoveryservicesbackup/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, Approved-Avocado, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#19080 Update readmes for the 2022-05-01 dev branch of container service
  specification/containerservice/resource-manager/readme.go.md
  specification/containerservice/resource-manager/readme.java.md
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2

#19081 Update readmes for the 2022-05-02-preview dev branch of container service
  specification/containerservice/resource-manager/readme.go.md
  specification/containerservice/resource-manager/readme.java.md
  specification/containerservice/resource-manager/readme.md
  specification/containerservice/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go-V2

#18553 [Microsoft.Web] Add CustomDnsSuffixConfiguration to ASE
  custom-words.txt
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/AppServiceEnvironments.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/CommonDefinitions.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/DeleteAseCustomDnsSuffixConfiguration.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/GetAseCustomDnsSuffixConfiguration.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/UpdateAseCustomDnsSuffixConfiguration.json
Labels: ARMSignedOff, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#19006 Adding x-ms-long-running-operation for patch
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2022-03-01-preview/azurearcdata.json
Labels: Reviewed-FeedbackProvided, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2

#19094 [Compute] Config readme.python
  specification/compute/resource-manager/readme.python.md
Labels: Compute, CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript

#18949 Fix supply chain security
  scripts/datacontainer/Dockerfile
Labels: CI-FixRequiredOnFailure, Approved-Avocado

#19007 Making Application Gateway rule priority a required field
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/ApplicationGatewayCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/ApplicationGatewayList.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/ApplicationGatewayListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/ApplicationGatewayUpdateTags.json
Labels: Network, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#19059 Service Bus : Added Missing publicNetworkAccess property
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2022-01-01-preview/namespace-preview.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, CI-BreakingChange-Go-V2

#19096 Update Dockerfile
  scripts/datacontainer/Dockerfile
Labels: CI-FixRequiredOnFailure, Approved-Avocado

#19101 Revert "Making Application Gateway rule priority a required field"
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/ApplicationGatewayCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/ApplicationGatewayList.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/ApplicationGatewayListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/examples/ApplicationGatewayUpdateTags.json
Labels: Network, CI-BreakingChange-JavaScript

#18500 rebranding api docs from asc to mdfc
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/adaptiveNetworkHardenings.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/allowedConnections.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/applicationWhitelistings.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/discoveredSecuritySolutions.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/externalSecuritySolutions.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/jitNetworkAccessPolicies.json
  specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/topologies.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/adaptiveNetworkHardenings.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/allowedConnections.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/applicationWhitelistings.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/discoveredSecuritySolutions.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/externalSecuritySolutions.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/jitNetworkAccessPolicies.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/securitySolutionsReferenceData.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/serverVulnerabilityAssessments.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/topologies.json
  specification/security/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, Approved-ModelValidation, Approved-SemanticValidation

#18643 2022-06-01-preview Operator Connect
  specification/communication/data-plane/PhoneNumbers/preview/2022-06-01-preview/examples/DeleteOperation.json
  specification/communication/data-plane/PhoneNumbers/preview/2022-06-01-preview/examples/GetOperation.json
  specification/communication/data-plane/PhoneNumbers/preview/2022-06-01-preview/examples/GetPhoneNumber.json
  specification/communication/data-plane/PhoneNumbers/preview/2022-06-01-preview/examples/GetPhoneNumberSearchResult.json
  specification/communication/data-plane/PhoneNumbers/preview/2022-06-01-preview/examples/GetPhoneNumbers.json
  specification/communication/data-plane/PhoneNumbers/preview/2022-06-01-preview/examples/PurchasePhoneNumbers.json
  specification/communication/data-plane/PhoneNumbers/preview/2022-06-01-preview/examples/ReleasePhoneNumber.json
  specification/communication/data-plane/PhoneNumbers/preview/2022-06-01-preview/examples/SearchPhoneNumbers.json
  specification/communication/data-plane/PhoneNumbers/preview/2022-06-01-preview/examples/UpdatePhoneNumberCapabilities.json
  specification/communication/data-plane/PhoneNumbers/preview/2022-06-01-preview/phonenumbers.json
  specification/communication/data-plane/PhoneNumbers/readme.md
Labels: Approved-BreakingChange

#18925 Add AppGW WAF matchvariable operators
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/webapplicationfirewall.json
Labels: Network, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#18970 Fix examples for network default tag: package-2021-05
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/ApplicationGatewayCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/ApplicationGatewayGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/ApplicationGatewayPrivateEndpointConnectionUpdate.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/AzureFirewallPutWithAdditionalProperties.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/BastionSessionDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/DscpConfigurationGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/DscpConfigurationList.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/DscpConfigurationListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/ExpressRouteCircuitPeeringCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/ExpressRouteCircuitPeeringList.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/HubRouteTableList.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/HubVirtualNetworkConnectionList.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/PrivateLinkServiceUpdatePrivateEndpointConnection.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/ServiceTagInformationListResultWithNoAddressPrefixes.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/VirtualHubRouteTableV2List.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/VirtualNetworkGatewayConnectionReset.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/VirtualNetworkGatewayNatRuleList.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/VirtualWANGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/VirtualWANList.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/VirtualWANListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/VirtualWANPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/VirtualWANUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/VpnSiteLinkConnectionReset.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/VpnSiteList.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/VpnSiteListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/examples/VpnSiteUpdateTags.json
Labels: Network, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript, FixSwaggerExample

#19130 [Go] orbital fix renamed enum Status
  specification/orbital/resource-manager/readme.go.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2

#19118 [EventHub]: Adding status code 202 to Private endpoints PUT
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2022-01-01-preview/examples/NameSpaces/PrivateEndPointConnectionCreate.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2022-01-01-preview/namespaces-preview.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, ARMReview

#19136 [KeyVault] Update readme.python.md
  specification/keyvault/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2

#19069 Add Stable mgmt for Confidential Ledger
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/stable/2022-05-13/confidentialledger.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/stable/2022-05-13/examples/CheckNameAvailability.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/stable/2022-05-13/examples/ConfidentialLedger_Create.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/stable/2022-05-13/examples/ConfidentialLedger_Delete.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/stable/2022-05-13/examples/ConfidentialLedger_Get.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/stable/2022-05-13/examples/ConfidentialLedger_List.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/stable/2022-05-13/examples/ConfidentialLedger_ListBySub.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/stable/2022-05-13/examples/ConfidentialLedger_Update.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/stable/2022-05-13/examples/Operations_Get.json
  specification/confidentialledger/resource-manager/readme.csharp.md
  specification/confidentialledger/resource-manager/readme.go.md
  specification/confidentialledger/resource-manager/readme.md
  specification/confidentialledger/resource-manager/readme.python.md
  specification/confidentialledger/resource-manager/readme.ruby.md
  specification/confidentialledger/resource-manager/readme.typescript.md
Labels: CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python

#18563 Add Stack HCI CLI settings
  specification/azurestackhci/resource-manager/readme.az.md
Labels: CI-BreakingChange-Go-V2

#19089 Microsoft.Sql - adding Managed Instance AdvancedThreatProtection APIs
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/ManagedDatabaseAdvancedThreatProtectionSettings.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/ManagedInstanceAdvancedThreatProtectionSettings.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ManagedDatabaseAdvancedThreatProtectionSettingsCreateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ManagedDatabaseAdvancedThreatProtectionSettingsCreateMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ManagedDatabaseAdvancedThreatProtectionSettingsGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ManagedDatabaseAdvancedThreatProtectionSettingsListByDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ManagedInstanceAdvancedThreatProtectionSettingsCreateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ManagedInstanceAdvancedThreatProtectionSettingsCreateMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ManagedInstanceAdvancedThreatProtectionSettingsGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ManagedInstanceAdvancedThreatProtectionSettingsListByInstance.json
  specification/sql/resource-manager/readme.md
Labels: SQL, ARMSignedOff, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, Approved-Avocado, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript, ARMReview

#19131 Add VirtualHub Router autoscale configuration
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/VirtualHubGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/VirtualHubList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/VirtualHubListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/VirtualHubPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/VirtualHubUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/virtualWan.json
Labels: Network, ARMSignedOff

#19138 [Go]Add batch tag 05/19
  specification/azureactivedirectory/resource-manager/readme.go.md
  specification/azurestackhci/resource-manager/readme.go.md
  specification/recoveryservicesbackup/resource-manager/readme.go.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript

#19019 Application Gateway Routing Rule priority changes
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/applicationGateway.json
Labels: Network, Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#19135 Application Gateway Routing Rule priority changes
  specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/applicationGateway.json
Labels: Network, Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, CI-BreakingChange-JavaScript

#18961 Fix examples for resources default tag: package-resources-2021-04
  specification/resources/resource-manager/Microsoft.Resources/stable/2021-04-01/examples/ForceDeleteVMsAndVMSSInResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2021-04-01/examples/ForceDeleteVMsInResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2021-04-01/examples/PostDeploymentWhatIfOnManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2021-04-01/examples/PostDeploymentWhatIfOnResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2021-04-01/examples/PostDeploymentWhatIfOnSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2021-04-01/examples/PostDeploymentWhatIfOnTenant.json
Labels: FixSwaggerExample

#19160 Changed CopyCompletionError enum name to not conflict with the CopyCompletionError object in GET response
  specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-02/DiskRP/diskRPCommon.json
Labels: Compute, customer-reported

#18439 [Hub Generated] Review request for Microsoft.DataFactory to add version stable/2018-06-01
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/GlobalParameter.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/GlobalParameters_Create.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/GlobalParameters_Delete.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/GlobalParameters_Get.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/GlobalParameters_ListByFactory.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/examples/GlobalParameters_Update.json
Labels: WaitForARMFeedback, Approved-BreakingChange, BreakingChangeReviewRequired, NewApiVersionRequired, Approved-SdkBreakingChange-Go

#19049 adding stable version and preview 0.1 version
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/0.1-preview/common.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/0.1-preview/confidentialledger.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/0.1-preview/examples/identity/GetLedgerIdentity.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/0.1-preview/examples/ledger/CreateOrUpdateUser.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/0.1-preview/examples/ledger/DeleteUser.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/0.1-preview/examples/ledger/GetConsortiumMembers.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/0.1-preview/examples/ledger/GetConstitution.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/0.1-preview/examples/ledger/GetCurrentLedgerEntry.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/0.1-preview/examples/ledger/GetEnclaveQuotes.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/0.1-preview/examples/ledger/GetLedgerEntries.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/0.1-preview/examples/ledger/GetLedgerEntry.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/0.1-preview/examples/ledger/GetReceipt.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/0.1-preview/examples/ledger/GetTransactionStatus.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/0.1-preview/examples/ledger/GetUser.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/0.1-preview/examples/ledger/PostLedgerEntry.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/0.1-preview/identityservice.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/stable/2022-05-13/common.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/stable/2022-05-13/confidentialledger.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/stable/2022-05-13/examples/identity/GetLedgerIdentity.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/stable/2022-05-13/examples/ledger/CreateOrUpdateUser.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/stable/2022-05-13/examples/ledger/DeleteUser.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/stable/2022-05-13/examples/ledger/GetConsortiumMembers.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/stable/2022-05-13/examples/ledger/GetConstitution.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/stable/2022-05-13/examples/ledger/GetCurrentLedgerEntry.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/stable/2022-05-13/examples/ledger/GetEnclaveQuotes.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/stable/2022-05-13/examples/ledger/GetLedgerEntry.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/stable/2022-05-13/examples/ledger/GetReceipt.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/stable/2022-05-13/examples/ledger/GetTransactionStatus.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/stable/2022-05-13/examples/ledger/GetUser.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/stable/2022-05-13/examples/ledger/ListCollections.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/stable/2022-05-13/examples/ledger/ListLedgerEntries.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/stable/2022-05-13/examples/ledger/PostLedgerEntry.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/stable/2022-05-13/identityservice.json
  specification/confidentialledger/data-plane/notes.md
  specification/confidentialledger/data-plane/readme.csharp.md
  specification/confidentialledger/data-plane/readme.go.md
  specification/confidentialledger/data-plane/readme.md
  specification/confidentialledger/data-plane/readme.python.md
  specification/confidentialledger/data-plane/readme.ruby.md
  specification/confidentialledger/data-plane/readme.typescript.md
Labels: APIStewardshipBoard-ReviewRequested, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure

#18855 [Hub Generated] Review request for Microsoft.HealthcareApis to add version stable/2022-05-15
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/CheckNameAvailabilityPost.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/OperationResultsGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/OperationsList.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/dicomservices/DicomServices_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/dicomservices/DicomServices_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/dicomservices/DicomServices_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/dicomservices/DicomServices_List.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/dicomservices/DicomServices_Patch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/fhirservices/FhirServices_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/fhirservices/FhirServices_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/fhirservices/FhirServices_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/fhirservices/FhirServices_List.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/fhirservices/FhirServices_Patch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/iotconnectors/iotconnector_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/iotconnectors/iotconnector_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/iotconnectors/iotconnector_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/iotconnectors/iotconnector_List.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/iotconnectors/iotconnector_Patch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/iotconnectors/iotconnector_fhirdestination_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/iotconnectors/iotconnector_fhirdestination_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/iotconnectors/iotconnector_fhirdestination_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/iotconnectors/iotconnector_fhirdestination_List.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/legacy/PrivateLinkResourceGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/legacy/PrivateLinkResourcesListByService.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/legacy/ServiceCreate.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/legacy/ServiceCreateMinimum.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/legacy/ServiceCreatePrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/legacy/ServiceDelete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/legacy/ServiceDeletePrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/legacy/ServiceGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/legacy/ServiceGetPrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/legacy/ServiceList.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/legacy/ServiceListByResourceGroup.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/legacy/ServiceListPrivateEndpointConnections.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/legacy/ServicePatch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/privatelink/PrivateLinkResourcesListByWorkspace.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/privatelink/WorkspaceCreatePrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/privatelink/WorkspaceDeletePrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/privatelink/WorkspaceGetPrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/privatelink/WorkspaceListPrivateEndpointConnections.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/privatelink/WorkspacePrivateLinkResourceGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/workspaces/Workspaces_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/workspaces/Workspaces_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/workspaces/Workspaces_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/workspaces/Workspaces_ListByResourceGroup.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/workspaces/Workspaces_ListBySubscription.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/examples/workspaces/Workspaces_Patch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2022-05-15/healthcare-apis.json
  specification/healthcareapis/resource-manager/readme.md
Labels: ARMSignedOff

#19175 Latest updates added
  custom-words.txt
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/CommunicationServices.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/Domains.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/EmailServices.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/examples/communicationServices/checkNameAvailabilityAvailable.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/examples/communicationServices/checkNameAvailabilityUnavailable.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/examples/communicationServices/createOrUpdate.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/examples/communicationServices/delete.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/examples/communicationServices/get.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/examples/communicationServices/linkNotificationHub.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/examples/communicationServices/listByResourceGroup.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/examples/communicationServices/listBySubscription.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/examples/communicationServices/listKeys.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/examples/communicationServices/operationsList.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/examples/communicationServices/regenerateKey.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/examples/communicationServices/update.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/examples/domains/cancelVerification.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/examples/domains/createOrUpdate.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/examples/domains/delete.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/examples/domains/get.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/examples/domains/initiateVerification.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/examples/domains/listByEmailService.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/examples/domains/update.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/examples/emailServices/createOrUpdate.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/examples/emailServices/delete.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/examples/emailServices/get.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/examples/emailServices/getVerifiedExchangeOnlineDomains.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/examples/emailServices/listByResourceGroup.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/examples/emailServices/listBySubscription.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2021-10-01-preview/examples/emailServices/update.json
  specification/communication/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure

#18846 Fix operationIds in RP education
  specification/education/resource-manager/Microsoft.Education/preview/2021-12-01-preview/education.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired

#18770 Add ManagedInstanceDTCs APIs
  custom-words.txt
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/ManagedInstanceDtcs.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ManagedInstanceDtcGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ManagedInstanceDtcList.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ManagedInstanceDtcUpdateEnableDtc.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ManagedInstanceDtcUpdateMax.json
  specification/sql/resource-manager/readme.md
Labels: SQL, ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript, ARMReview

#19034 [Hub Generated] Publish private branch 'jakebillings/add-matching-resource-sync-rule'
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/preview/2021-08-31-preview/customlocations.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/preview/2021-08-31-preview/examples/CustomLocationsFindTargetResourceGroup.json
Labels: WaitForARMFeedback, Approved-BreakingChange, NewApiVersionRequired, FixS360, ARMReview

#18896 [Hub Generated] Review request for Microsoft.VirtualMachineImages to add version stable/2022-02-14
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2022-02-14/examples/CancelImageBuild.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2022-02-14/examples/CreateImageTemplateLinux.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2022-02-14/examples/CreateImageTemplateWindows.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2022-02-14/examples/DeleteImageTemplate.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2022-02-14/examples/GetImageTemplate.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2022-02-14/examples/GetRunOutput.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2022-02-14/examples/ListImageTemplates.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2022-02-14/examples/ListImageTemplatesByRg.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2022-02-14/examples/ListRunOutputs.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2022-02-14/examples/OperationsList.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2022-02-14/examples/RunImageTemplate.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2022-02-14/examples/UpdateImageTemplateTags.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2022-02-14/examples/UpdateImageTemplateToRemoveIdentities.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2022-02-14/imagebuilder.json
  specification/imagebuilder/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Go-V2, Approved-SdkBreakingChange-Go-V2, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview

#19067 [ProviderHub] S360 linter issue
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2020-11-20/providerhub.json
Labels: FixS360, CI-BreakingChange-Go-V2, ShiftLeftViolation

#19000 remove swagger-to-sdk in dataplane swagger except the azure-sdk-for-net-track2
  specification/appconfiguration/data-plane/readme.md
  specification/applicationinsights/data-plane/readme.md
  specification/attestation/data-plane/readme.md
  specification/batch/data-plane/readme.md
  specification/cognitiveservices/data-plane/AnomalyDetector/readme.md
  specification/cognitiveservices/data-plane/AutoSuggest/readme.md
  specification/cognitiveservices/data-plane/ComputerVision/readme.md
  specification/cognitiveservices/data-plane/ContentModerator/readme.md
  specification/cognitiveservices/data-plane/CustomImageSearch/readme.md
  specification/cognitiveservices/data-plane/CustomVision/Prediction/readme.md
  specification/cognitiveservices/data-plane/CustomVision/Training/readme.md
  specification/cognitiveservices/data-plane/CustomWebSearch/readme.md
  specification/cognitiveservices/data-plane/EntitySearch/readme.md
  specification/cognitiveservices/data-plane/Face/readme.md
  specification/cognitiveservices/data-plane/FormRecognizer/readme.md
  specification/cognitiveservices/data-plane/ImageSearch/readme.md
  specification/cognitiveservices/data-plane/LUIS/Authoring/readme.md
  specification/cognitiveservices/data-plane/LUIS/Runtime/readme.md
  specification/cognitiveservices/data-plane/Language/readme.md
  specification/cognitiveservices/data-plane/LocalSearch/readme.md
  specification/cognitiveservices/data-plane/NewsSearch/readme.md
  specification/cognitiveservices/data-plane/Personalizer/readme.md
  specification/cognitiveservices/data-plane/QnAMaker/readme.md
  specification/cognitiveservices/data-plane/SpeakerRecognition/Identification/readme.md
  specification/cognitiveservices/data-plane/SpeakerRecognition/Verification/readme.md
  specification/cognitiveservices/data-plane/SpellCheck/readme.md
  specification/cognitiveservices/data-plane/TextAnalytics/readme.md
  specification/cognitiveservices/data-plane/TranslatorText/readme.md
  specification/cognitiveservices/data-plane/VideoSearch/readme.md
  specification/cognitiveservices/data-plane/VisualSearch/readme.md
  specification/cognitiveservices/data-plane/WebSearch/readme.md
  specification/containerregistry/data-plane/readme.md
  specification/datalake-analytics/data-plane/readme.md
  specification/datalake-store/data-plane/readme.md
  specification/deviceprovisioningservices/data-plane/readme.md
  specification/deviceupdate/data-plane/readme.md
  specification/digitaltwins/data-plane/readme.md
  specification/eventgrid/data-plane/readme.md
  specification/graphrbac/data-plane/readme.md
  specification/hdinsight/data-plane/readme.md
  specification/imds/data-plane/readme.md
  specification/iotcentral/data-plane/readme.md
  specification/maps/data-plane/Creator/readme.md
  specification/maps/data-plane/DEM/readme.md
  specification/maps/data-plane/Geolocation/readme.md
  specification/maps/data-plane/Render/readme.md
  specification/maps/data-plane/Route/readme.md
  specification/maps/data-plane/Timezone/readme.md
  specification/maps/data-plane/Traffic/readme.md
  specification/maps/data-plane/Weather/readme.md
  specification/monitor/data-plane/readme.md
  specification/operationalinsights/data-plane/readme.md
  specification/quantum/data-plane/readme.md
  specification/servicefabric/data-plane/readme.md
  specification/videoanalyzer/data-plane/readme.md
  specification/webpubsub/data-plane/readme.md
Labels: CI-FixRequiredOnFailure, Approved-LintDiff

#19165 Minor changes due to update of the DevOps API version (2022-02-01-preview)
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/ServerDevOpsAudit.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ServerDevOpsAuditCreateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ServerDevOpsAuditCreateMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ServerDevOpsAuditGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/ServerDevOpsAuditList.json
Labels: SQL, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#19184 Introduce new preview api-version 2022-05-01-preview for Microsoft.Kubernetes
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2022-05-01-preview/connectedClusters.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2022-05-01-preview/examples/ConnectedClustersListClusterCredentialResultCSPAAD.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2022-05-01-preview/examples/ConnectedClustersListClusterCredentialResultCSPToken.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2022-05-01-preview/examples/ConnectedClustersListClusterCredentialResultHPAAD.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2022-05-01-preview/examples/ConnectedClustersListClusterCredentialResultHPToken.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2022-05-01-preview/examples/CreateClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2022-05-01-preview/examples/CreateClusterPrivateLinkExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2022-05-01-preview/examples/DeleteClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2022-05-01-preview/examples/GetClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2022-05-01-preview/examples/GetClustersByResourceGroupExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2022-05-01-preview/examples/GetClustersBySubscriptionExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2022-05-01-preview/examples/ListConnectedClusterOperationsExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2022-05-01-preview/examples/UpdateClusterExample.json
  specification/hybridkubernetes/resource-manager/readme.go.md
  specification/hybridkubernetes/resource-manager/readme.java.md
  specification/hybridkubernetes/resource-manager/readme.md
  specification/hybridkubernetes/resource-manager/readme.ruby.md
Labels: Approved-OkToMerge, ARMSignedOff

#19183 swagger changes for new ssl policies in Application Gateway
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/applicationGateway.json
Labels: Network, customer-reported, CI-BreakingChange-JavaScript

#17969 Add xms-ids for postgresql
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/postgresql.json
Labels: CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, CI-BreakingChange-Go-V2

#18169 LoadTest Service: new preview api version
  custom-words.txt
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/CreateAndUpdateTestRun.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/CreateOrUpdateAppComponents.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/CreateOrUpdateServerMetricsConfig.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/CreateOrUpdateTest.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/DeleteAppComponent.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/DeleteLoadTest.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/DeleteServerMetrics.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/DeleteTestFile.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/DeleteTestRun.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/GetAllTestFiles.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/GetAppComponent.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/GetAppComponentByName.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/GetLoadTest.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/GetServerDefaultMetrics.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/GetServerMetrics.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/GetServerMetricsByName.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/GetTestFile.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/GetTestRun.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/GetTestRunClientMetrics.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/GetTestRunClientMetricsFilters.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/GetTestRunFile.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/ListLoadTestSearch.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/ListSupportedResourceType.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/ListTestRunsSearch.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/StopTestRun.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/UploadTestFile.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/loadtestservice.json
  specification/loadtestservice/data-plane/readme.md
Labels: Load Test Service

#18492 add readme.java.md and modify readme files
  specification/fluidrelay/resource-manager/readme.java.md
  specification/fluidrelay/resource-manager/readme.md
  specification/fluidrelay/resource-manager/readme.typescript.md
Labels: CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python

#18962 Fix examples for keyvault default tag: package-preview-2021-11
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-11-01-preview/examples/deletePrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-11-01-preview/examples/getPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-11-01-preview/examples/listPrivateLinkResources.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-11-01-preview/examples/putPrivateEndpointConnection.json
Labels: FixSwaggerExample

#19214 Add azure-sdk-for-net-track2 in private repo
  specificationRepositoryConfiguration.json
Labels: CI-FixRequiredOnFailure

#19180 Fix lro in disable and enable cdn https
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/cdn.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/CustomDomains_DisableCustomHttps.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/CustomDomains_EnableCustomHttpsUsingBYOC.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/CustomDomains_EnableCustomHttpsUsingCDNManagedCertificate.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, FixS360, Approved-SdkBreakingChange-Python, CI-BreakingChange-Go-V2, Approved-SdkBreakingChange-Go-V2, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript

#19123 Add PRLabels to CODEOWNERS
  .github/fabricbot.json
  CODEOWNERS
Labels: Approved-BreakingChange

#19216 Adding Microsoft.Sql AdvancedThreatProtectionSettings APIs on v5 tag for 2021-11-01-preview
  specification/sql/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript

#19202 Update Swagger Spec for VMSS Packet Capture
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/networkWatcher.json
Labels: Network, CI-BreakingChange-JavaScript

#19156 [Relay] Adding status code 202 to Private endpoints PUT
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/Namespaces.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/PrivateEndpointConnections/PrivateEndpointConnectionsCreate.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript

#18838 [Hub Generated] Review request for Microsoft.SqlVirtualMachine to add version preview/2021-11-01-preview
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2021-11-01-preview/sqlvm.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, FixS360, CI-BreakingChange-Go-V2

#18656 [Hub Generated] Review request for Microsoft.AlertsManagement to add version stable/2019-03-01
  package-lock.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-03-01-preview/AlertsManagement.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-03-01-preview/examples/Alerts_ChangeState.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-03-01-preview/examples/Alerts_GetById.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-03-01-preview/examples/Alerts_History.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-03-01-preview/examples/Alerts_List.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-03-01-preview/examples/Alerts_Summary.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-03-01-preview/examples/SmartGroups_ChangeState.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-03-01-preview/examples/SmartGroups_GetById.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-03-01-preview/examples/SmartGroups_History.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-03-01-preview/examples/SmartGroups_List.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/AlertsManagement.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples/Alerts_ChangeState.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/examples/Operations_List.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/AlertsManagement.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/examples/Alerts_ChangeState.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/examples/Operations_List.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, CI-BreakingChange-Python-Track2, NewApiVersionRequired, CI-FixRequiredOnFailure, Approved-Avocado

#19203 Update Swagger spec for Connection Monitor VMSS
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/networkWatcher.json
Labels: Network, CI-BreakingChange-JavaScript

#18652 update etag and kind type
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/WorkbookAdd.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/WorkbookDelete.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/WorkbookGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/WorkbookGet1.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/WorkbookManagedAdd.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/WorkbookManagedGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/WorkbookManagedUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/WorkbookRevisionGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/WorkbookRevisionsList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/WorkbookUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/WorkbooksList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/WorkbooksList2.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/WorkbooksListSub.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/examples/WorkbooksManagedList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2022-04-01/workbooks_API.json
  specification/applicationinsights/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, BreakingChangeReviewRequired, FixS360, CI-BreakingChange-Go-V2, ARMReview

#18804 Add new Sql VA API
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/DatabaseSqlVulnerabilityAssessmentBaselines.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/DatabaseSqlVulnerabilityAssessmentExecuteScan.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/DatabaseSqlVulnerabilityAssessmentRuleBaselines.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/DatabaseSqlVulnerabilityAssessmentScanResult.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/DatabaseSqlVulnerabilityAssessmentScans.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/DatabaseSqlVulnerabilityAssessmentsSettings.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/SqlVulnerabilityAssessmentBaseline.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/SqlVulnerabilityAssessmentExecuteScan.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/SqlVulnerabilityAssessmentRuleBaseline.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/SqlVulnerabilityAssessmentScanResult.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/SqlVulnerabilityAssessmentScans.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/SqlVulnerabilityAssessmentsSettings.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/DatabaseSqlVulnerabilityAssessmentBaselineAdd.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/DatabaseSqlVulnerabilityAssessmentBaselineAddLatest.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/DatabaseSqlVulnerabilityAssessmentBaselineGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/DatabaseSqlVulnerabilityAssessmentBaselineListBySqlVulnerabilityAssessment.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/DatabaseSqlVulnerabilityAssessmentGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/DatabaseSqlVulnerabilityAssessmentListByDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/DatabaseSqlVulnerabilityAssessmentListScansResults.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/DatabaseSqlVulnerabilityAssessmentRuleBaselineCreate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/DatabaseSqlVulnerabilityAssessmentRuleBaselineDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/DatabaseSqlVulnerabilityAssessmentRuleBaselineGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/DatabaseSqlVulnerabilityAssessmentRuleBaselineListByBaseline.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/DatabaseSqlVulnerabilityAssessmentScan.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/DatabaseSqlVulnerabilityAssessmentScanRecordsListByDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/DatabaseSqlVulnerabilityAssessmentScansExecute.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/DatabaseSqlVulnerabilityAssessmentScansResults.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/SqlVulnerabilityAssessmentBaselineAdd.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/SqlVulnerabilityAssessmentBaselineAddLatest.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/SqlVulnerabilityAssessmentBaselineGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/SqlVulnerabilityAssessmentBaselineListBySqlVulnerabilityAssessment.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/SqlVulnerabilityAssessmentCreate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/SqlVulnerabilityAssessmentDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/SqlVulnerabilityAssessmentGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/SqlVulnerabilityAssessmentListByServer.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/SqlVulnerabilityAssessmentListScansResults.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/SqlVulnerabilityAssessmentRuleBaselineCreate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/SqlVulnerabilityAssessmentRuleBaselineDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/SqlVulnerabilityAssessmentRuleBaselineGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/SqlVulnerabilityAssessmentRuleBaselineListByBaseline.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/SqlVulnerabilityAssessmentScan.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/SqlVulnerabilityAssessmentScanRecordsListByDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/SqlVulnerabilityAssessmentScansExecute.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/examples/SqlVulnerabilityAssessmentScansResults.json
  specification/sql/resource-manager/readme.md
Labels: SQL, ARMSignedOff, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, Approved-Avocado, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript, ARMReview

#19230 Update descriptions with Todos for 2022-02-01-preview
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-02-01-preview/mfe.json
Labels: CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, Approved-ModelValidation, CI-BreakingChange-Go-V2

#19085 Add flushConnection to NSG
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkSecurityGroupCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/networkSecurityGroup.json
Labels: Network, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#19169 Merge NetworkManger into 2022-01-01
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerActiveConnectivityConfigurationsList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerActiveSecurityAdminRulesList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerAdminRuleCollectionDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerAdminRuleCollectionGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerAdminRuleCollectionList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerAdminRuleCollectionPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerAdminRuleDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerAdminRuleGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerAdminRuleList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerAdminRulePut.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerCommitPost.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerConnectionManagementGroupDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerConnectionManagementGroupGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerConnectionManagementGroupList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerConnectionManagementGroupPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerConnectionSubscriptionDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerConnectionSubscriptionGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerConnectionSubscriptionList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerConnectionSubscriptionPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerConnectivityConfigurationDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerConnectivityConfigurationGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerConnectivityConfigurationList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerConnectivityConfigurationPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerDefaultAdminRuleGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerDefaultAdminRulePut.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerDeploymentStatusList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerEffectiveConnectivityConfigurationsList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerEffectiveSecurityAdminRulesList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerGroupDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerGroupGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerGroupList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerGroupPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerPatch.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerScopeConnectionDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerScopeConnectionGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerScopeConnectionList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerScopeConnectionPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerSecurityAdminConfigurationDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerSecurityAdminConfigurationGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerSecurityAdminConfigurationList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerSecurityAdminConfigurationPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerStaticMemberDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerStaticMemberGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerStaticMemberList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/examples/NetworkManagerStaticMemberPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/network.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/networkManager.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/networkManagerActiveConfiguration.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/networkManagerConnection.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/networkManagerConnectivityConfiguration.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/networkManagerEffectiveConfiguration.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/networkManagerGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/networkManagerScopeConnection.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/networkManagerSecurityAdminConfiguration.json
  specification/network/resource-manager/readme.md
Labels: Network, ARMSignedOff, CI-BreakingChange-JavaScript, ARMReview

#19103 ACI: Correct the type of httpHeaders object->array of object
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2020-11-01/containerInstance.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2021-03-01/containerInstance.json
Labels: Approved-BreakingChange, BreakingChangeReviewRequired, FixS360

#19243 mgmt, fix machinelearning java config
  specification/machinelearningservices/resource-manager/readme.java.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2

#19248 mgmt, imagebuilder, rename java method validate
  specification/imagebuilder/resource-manager/readme.java.md
  specification/imagebuilder/resource-manager/readme.md
Labels: CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript

#19251 dropped x-ms-secret propert from accesstoken definitions
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2022-04-13-preview/vi.json
Labels: ARMSignedOff

#19237 [Confidential Ledger] Skip URL encoding path parameter in autogen
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/stable/2022-05-13/confidentialledger.json
Labels: Approved-BreakingChange, CI-FixRequiredOnFailure

#19250 update applicationinsights
  specification/applicationinsights/resource-manager/readme.md
  specification/applicationinsights/resource-manager/readme.python.md
Labels: CI-BreakingChange-Go-V2

#19264 [Go] rename machinelearning go module-name
  specification/machinelearningservices/resource-manager/readme.go.md
Labels: CI-BreakingChange-Python-Track2

#19232 ACSS & PHP public preview - version 1 and AMS V2 docs changes
  custom-words.txt
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/SAPVirtualInstance.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/commonTypes.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/Skus_List.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/phpworkloads/PhpWorkloads_CreateOrUpdate.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/phpworkloads/PhpWorkloads_Delete.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/phpworkloads/PhpWorkloads_Get.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/phpworkloads/PhpWorkloads_ListByResourceGroup.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/phpworkloads/PhpWorkloads_ListBySubscription.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/phpworkloads/PhpWorkloads_Update.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/phpworkloads/WordpressInstances_CreateOrUpdate.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/phpworkloads/WordpressInstances_Delete.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/phpworkloads/WordpressInstances_Get.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/phpworkloads/WordpressInstances_List.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPApplicationServerInstances_Create.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPApplicationServerInstances_Delete.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPApplicationServerInstances_Get.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPApplicationServerInstances_List.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPApplicationServerInstances_Update.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPAvailabilityZoneDetails_eastus.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPAvailabilityZoneDetails_northeurope.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPCentralInstances_Create.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPCentralInstances_Delete.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPCentralInstances_Get.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPCentralInstances_List.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPCentralInstances_Update.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPDatabaseInstances_Create.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPDatabaseInstances_Delete.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPDatabaseInstances_Get.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPDatabaseInstances_List.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPDatabaseInstances_Update.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPDiskConfigurations_NonProd.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPDiskConfigurations_Prod.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPSizingRecommendations_S4HANA_Distributed.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPSizingRecommendations_S4HANA_HA_AvSet.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPSizingRecommendations_S4HANA_HA_AvZone.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPSizingRecommendations_S4HANA_SingleServer.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPSupportedSkus_Distributed.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPSupportedSkus_DistributedHA_AvSet.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPSupportedSkus_DistributedHA_AvZone.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPSupportedSkus_SingleServer.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Create_Distributed.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Create_HA_AvSet.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Create_HA_AvZone.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Create_SingleServer.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Create_WithOSConfig_Distributed.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Create_WithOSConfig_HA_AvSet.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Create_WithOSConfig_HA_AvZone.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Create_WithOSConfig_SingleServer.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Delete.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Get.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_ListByResourceGroup.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_ListBySubscription.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Start.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Stop.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/examples/sapvirtualinstances/SAPVirtualInstances_Update.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/monitors.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/phpWorkloads.json
  specification/workloads/resource-manager/Microsoft.Workloads/preview/2021-12-01-preview/skus.json
  specification/workloads/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, NewApiVersionRequired, ARMReview

#19263 [CDN] Fix typo
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/cdnwebapplicationfirewall.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go-V2, CI-BreakingChange-JavaScript
