Repository Azure/azure-rest-api-specs, pull requests merged in 2023-10, with the labels that each got.

#25944 [Search] 2023-10-01-preview API Review feedback fixes - update swagger to reflect api renaming
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchIndexSearchDocumentsPost.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceCreateIndex.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceCreateOrUpdateIndex.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceGetIndex.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/searchindex.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/searchservice.json
Labels: Approved-BreakingChange, data-plane, BreakingChangeReviewRequired

#26022 Add deprecation banner to Azure Maps Render V1
  specification/maps/data-plane/Render/preview/1.0/render.json
Labels: data-plane, MergeRequested

#26007 Aug Preview 2023: Add serverless compute settings
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-08-01-preview/workspaceRP.json
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, MergeRequested

#26012 Oct 2023: add serverless compute settings
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/machineLearningServices.json
Labels: potential-sdk-breaking-change, ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired, MergeRequested

#26056 update directive on the open api spec
  specification/chaos/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#26055 Adds an optional object property `customerDataStorage` to the `Microsoft.Chaos/experiments` resource-type
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/CreateUpdateExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/GetExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/ListExperimentsInAResourceGroup.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/ListExperimentsInASubscription.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/UpdateExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/types/experiments.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager

#26080 updated provisioningState
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/CreateUpdateExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/types/experiments.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#26070 Revert IsPartialRP changes for 2023-08-01
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2023-08-01-preview/dataprotection.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2023-08-01-preview/examples/BackupInstanceOperations/GetRecoveryPoint.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2023-08-01-preview/examples/BackupInstanceOperations/ListRecoveryPoints.json
Labels: customer-reported, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#25969 Adding New ExpressRoute Gateway SKU: ErGwScale
  specification/network/resource-manager/Microsoft.Network/stable/2023-06-01/virtualNetworkGateway.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#25746 Azure Digital Twins: Add 2023-10-31 for Delete Jobs
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/digitaltwins.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/CreateRelationshipAdvancedExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/CreateRelationshipBasicExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/DeleteJobGet.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/DeleteJobList.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/DeleteJobPost.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/DeleteModel.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/DeleteRelationship.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/DeleteTwin.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/EventRouteDelete.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/EventRouteGet.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/EventRoutePut.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/EventRoutePutWithFilter.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/EventRoutesList.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/GetComponent.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/GetIncomingRelationship.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/GetRelationship.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/GetRelationshipById.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/GetRelationshipByRelationshipName.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/GetTwin.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/ImportJobCancel.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/ImportJobDelete.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/ImportJobGet.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/ImportJobList.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/ImportJobPut.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/ModelAdd.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/ModelGetById.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/ModelGetByIdWithIncludeModelDefinition.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/ModelUpdateDecommissioned.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/ModelsGet.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/ModelsGetWithDependenciesAndIncludeModelDefinition.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/PatchComponentAdvancedExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/PatchComponentBasicExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/PatchRelationshipAdvancedExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/PatchRelationshipBasicExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/PatchTwinAdvancedExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/PatchTwinBasicExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/PutTwinAdvancedExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/PutTwinBasicExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/QueryFirstPage.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/QueryJoin.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/QueryNextPage.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/SendTelemetry.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/SendTelemetryFromComponent.json
  specification/digitaltwins/data-plane/readme.md
  specification/digitaltwins/data-plane/readme.python.md
Labels: APIStewardshipBoard-SignedOff, data-plane, new-api-version, CI-MissingBaseCommit

#25770 [Tables] Update readme.python.md
  specification/cosmos-db/data-plane/readme.python.md
Labels: no-recent-activity, data-plane

#25631 Update microsoft.app 2023-08-01-preview for new DaprSubscription API feature
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/ManagedEnvironmentsDaprSubscriptions.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/DaprSubscriptions_CreateOrUpdate_BulkSubscribeAndScopes.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/DaprSubscriptions_CreateOrUpdate_DefaultRoute.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/DaprSubscriptions_CreateOrUpdate_RouteRulesAndMetadata.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/DaprSubscriptions_Delete.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/DaprSubscriptions_Get_BulkSubscribeAndScopes.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/DaprSubscriptions_Get_DefaultRoute.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/DaprSubscriptions_Get_RouteRulesAndMetadata.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/DaprSubscriptions_List.json
  specification/app/resource-manager/readme.md
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, MergeRequested

#25868 Adding workload profile & resource config to Site
  specification/web/resource-manager/Microsoft.Web/stable/2023-01-01/CommonDefinitions.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-01-01/examples/CreateOrUpdateWebApp.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-01-01/examples/GetWebApp.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-01-01/examples/ListWebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-01-01/examples/ListWebAppsByResourceGroup.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-01-01/examples/UpdateWebApp.json
Labels: ARMSignedOff, ARMReview, resource-manager, IDCDevDiv, MergeRequested

#26004 [IC3 ACS - Auth] <stable/2023-08-01> Remove Idempotency Swagger
  specification/communication/data-plane/Identity/readme.md
  specification/communication/data-plane/Identity/stable/2023-08-01/CommunicationIdentity.json
  specification/communication/data-plane/Identity/stable/2023-08-01/examples/CreateIdentity.json
  specification/communication/data-plane/Identity/stable/2023-08-01/examples/DeleteIdentity.json
  specification/communication/data-plane/Identity/stable/2023-08-01/examples/ExchangeTeamsUserAccessToken.json
  specification/communication/data-plane/Identity/stable/2023-08-01/examples/IssueAccessToken.json
  specification/communication/data-plane/Identity/stable/2023-08-01/examples/RevokeAccessTokens.json
Labels: Approved-BreakingChange, data-plane, BreakingChangeReviewRequired

#26035 Add PrivateAccesses Resource
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/CreateOrUpdateAPrivateAccess.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/DeleteAPrivateAccess.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/GetAPrivateAccess.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/GetAPrivateAccess_WithPrivateEndpoint.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/ListPrivateAccessInAResourceGroup.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/ListPrivateAccessInASubscription.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/PrivateAccessPrivateEndpointConnection_Delete.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/PrivateAccessPrivateEndpointConnection_Get.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/PrivateAccessPrivateEndpointConnection_ListByPrivateAccess.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/PrivateAccessPrivateLinkResources_Get.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/privateAccesses.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/types/privateAccesses.json
  specification/chaos/resource-manager/readme.md
Labels: Approved-LintDiff, CI-BreakingChange-JavaScript, resource-manager

#26100 updated createUpdateExperiment
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/CreateUpdateExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/experiments.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#25270 [Hub Generated] Review request for Microsoft.Resources to add version stable/2023-08-01
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-08-01/deploymentScripts.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-08-01/examples/DeploymentScripts_Create.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-08-01/examples/DeploymentScripts_Create_No_UserManagedIdentity.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-08-01/examples/DeploymentScripts_Create_Using_Custom_Aci_Name.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-08-01/examples/DeploymentScripts_Create_Using_Custom_Aci_Name_With_SubnetIds.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-08-01/examples/DeploymentScripts_Create_Using_Existing_StorageAccount.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-08-01/examples/DeploymentScripts_Delete.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-08-01/examples/DeploymentScripts_Get.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-08-01/examples/DeploymentScripts_GetLogs.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-08-01/examples/DeploymentScripts_GetLogsDefault.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-08-01/examples/DeploymentScripts_GetLogsDefaultWithTail.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-08-01/examples/DeploymentScripts_ListByResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-08-01/examples/DeploymentScripts_ListBySubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-08-01/examples/DeploymentScripts_Min_Create.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-08-01/examples/DeploymentScripts_Update.json
  specification/resources/resource-manager/readme.md
  specification/resources/resource-manager/readme.python.md
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-Avocado, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired, new-api-version, MergeRequested

#25902 Support log streaming on build resource
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/Builds.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Builds_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Builds_CreateOrUpdate_NoConfig.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Builds_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Builds_ListAuthToken.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Builds_ListByBuilderResource.json
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, MergeRequested

#24153 User/osaghaso/adding router job
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/AzureCommunicationServices.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_cancelled.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_classification_failed.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_classified.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_closed.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_completed.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_deleted.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_exception_triggered.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_queued.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_received.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_scheduling_failed.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_unassigned.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_waiting_for_activation.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_worker_selectors_expired.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_worker_deleted.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_worker_deregistered.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_worker_offer_accepted.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_worker_offer_declined.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_worker_offer_expired.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_worker_offer_issued.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_worker_offer_revoked.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_worker_registered.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_cancelled.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_classification_failed.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_classified.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_closed.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_completed.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_deleted.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_exception_triggered.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_queued.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_received.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_scheduling_failed.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_unassigned.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_waiting_for_activation.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_worker_selectors_expired.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_worker_deleted.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_worker_deregistered.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_worker_offer_accepted.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_worker_offer_declined.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_worker_offer_expired.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_worker_offer_issued.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_worker_offer_revoked.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_worker_registered.json
Labels: Event Grid, data-plane

#25476 Purview policy listing ARM control plane API.
  specification/purviewpolicy/resource-manager/Microsoft.Purview/preview/2023-06-01-preview/examples/Operations_List.json
  specification/purviewpolicy/resource-manager/Microsoft.Purview/preview/2023-06-01-preview/examples/PolicyList.json
  specification/purviewpolicy/resource-manager/Microsoft.Purview/preview/2023-06-01-preview/policy.json
  specification/purviewpolicy/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit, new-rp-namespace, CI-NewRPNamespaceWithoutRPaaS, MergeRequested

#25938 Conor joplin search microsoft.search 2023 11 01
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/CreateOrUpdateSharedPrivateLinkResource.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/DeletePrivateEndpointConnection.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/DeleteSharedPrivateLinkResource.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/GetPrivateEndpointConnection.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/GetQuotaUsage.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/GetQuotaUsagesList.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/GetSharedPrivateLinkResource.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/ListPrivateEndpointConnectionsByService.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/ListSharedPrivateLinkResourcesByService.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/ListSupportedPrivateLinkResources.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/OperationsList.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/SearchCheckNameAvailability.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/SearchCreateOrUpdateService.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/SearchCreateOrUpdateServiceAuthOptions.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/SearchCreateOrUpdateServiceDisableLocalAuth.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/SearchCreateOrUpdateServiceToAllowAccessFromPrivateEndpoints.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/SearchCreateOrUpdateServiceToAllowAccessFromPublicCustomIPs.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/SearchCreateOrUpdateServiceWithCmkEnforcement.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/SearchCreateOrUpdateServiceWithIdentity.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/SearchCreateOrUpdateWithSemanticSearch.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/SearchCreateQueryKey.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/SearchDeleteQueryKey.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/SearchDeleteService.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/SearchGetAdminKeys.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/SearchGetService.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/SearchListQueryKeysBySearchService.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/SearchListServicesByResourceGroup.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/SearchListServicesBySubscription.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/SearchRegenerateAdminKey.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/SearchUpdateService.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/SearchUpdateServiceAuthOptions.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/SearchUpdateServiceDisableLocalAuth.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/SearchUpdateServiceToAllowAccessFromPrivateEndpoints.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/SearchUpdateServiceToAllowAccessFromPublicCustomIPs.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/SearchUpdateServiceToRemoveIdentity.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/SearchUpdateServiceWithCmkEnforcement.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/SearchUpdateServiceWithSemanticSearch.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/UpdatePrivateEndpointConnection.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/search.json
  specification/search/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit, MergeRequested

#25952 [Hub Generated] Review request for Microsoft.Communication to add version preview/2023-06-01-preview
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/CommunicationServices.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/Domains.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/EmailServices.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/SenderUsernames.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/SuppressionLists.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/communicationServices/checkNameAvailabilityAvailable.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/communicationServices/checkNameAvailabilityUnavailable.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/communicationServices/createOrUpdate.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/communicationServices/createOrUpdateWithSystemAssignedIdentity.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/communicationServices/delete.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/communicationServices/get.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/communicationServices/linkNotificationHub.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/communicationServices/listByResourceGroup.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/communicationServices/listBySubscription.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/communicationServices/listKeys.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/communicationServices/operationsList.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/communicationServices/regenerateKey.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/communicationServices/update.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/communicationServices/updateRemoveSystemIdentity.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/communicationServices/updateWithSystemAndUserIdentity.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/communicationServices/updateWithSystemAssignedIdentity.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/communicationServices/updateWithUserAssignedIdentity.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/domains/cancelVerification.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/domains/createOrUpdate.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/domains/delete.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/domains/get.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/domains/initiateVerification.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/domains/listByEmailService.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/domains/update.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/emailServices/createOrUpdate.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/emailServices/delete.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/emailServices/get.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/emailServices/getVerifiedExchangeOnlineDomains.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/emailServices/listByResourceGroup.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/emailServices/listBySubscription.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/emailServices/update.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/senderUsernames/createOrUpdate.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/senderUsernames/delete.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/senderUsernames/get.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/senderUsernames/listByDomain.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/suppressionLists/createOrUpdateAddress.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/suppressionLists/createOrUpdateSuppressionList.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/suppressionLists/deleteAddress.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/suppressionLists/deleteSuppressionList.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/suppressionLists/getAddress.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/suppressionLists/getAddresses.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/suppressionLists/getSuppressionList.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/examples/suppressionLists/getSuppressionLists.json
  specification/communication/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, MergeRequested

#26120 Add new OSSKU "WindowsAnnual" for AKS Windows Annual Channel feature
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-09-02-preview/managedClusters.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager, BreakingChangeReviewRequired

#26034 add VirtualMachines agent pool type
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-09-02-preview/examples/AgentPoolsCreate_VirtualMachines.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-09-02-preview/examples/ManagedClustersCreate_VirtualMachines.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-09-02-preview/managedClusters.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager, BreakingChangeReviewRequired

#26072 GPU Profile and Properties for AKS Windows (and Linux) GPU Feature
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-09-02-preview/managedClusters.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager, BreakingChangeReviewRequired

#26046 Add AgentPoolUpgradeSettings.nodeSoakDurationInMinutes
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-09-02-preview/managedClusters.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager, BreakingChangeReviewRequired

#26123 Update format for trustedaccess sourceResourceId in Microsoft.ContainerService 2023-09-02-preview api
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-09-02-preview/managedClusters.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager, BreakingChangeReviewRequired

#26126 Update python & java readmes for ContainerService/aks 2023-09-02-preview
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/readme.java.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#25859 [Hub Generated] Review request for Microsoft.AzureStackHCI to add version stable/2023-08-01
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/arcSettings.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/clusters.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/ConsentAndInstallDefaultExtensions.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/CreateArcIdentity.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/CreateCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/CreateClusterIdentity.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/DeleteArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/DeleteCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/DeleteExtension.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/DeleteUpdateRuns.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/DeleteUpdateSummaries.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/DeleteUpdates.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/ExtendSoftwareAssuranceBenefit.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/Extensions_Upgrade.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/GeneratePassword.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/GetArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/GetCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/GetExtension.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/GetOffer.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/GetPublisher.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/GetSku.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/GetUpdateRuns.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/GetUpdateSummaries.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/GetUpdates.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/InitializeDisableProcess.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/ListArcSettingsByCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/ListClustersByResourceGroup.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/ListClustersBySubscription.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/ListExtensionsByArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/ListOffersByCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/ListOffersByPublisher.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/ListOperations.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/ListPublishersByCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/ListSkusByOffer.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/ListUpdateRuns.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/ListUpdateSummaries.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/ListUpdates.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/PatchArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/PatchExtension.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/PostUpdates.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/PutArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/PutExtension.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/PutUpdateRuns.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/PutUpdateSummaries.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/PutUpdates.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/UpdateCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/examples/UploadCertificate.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/extensions.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/offers.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/operations.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/publishers.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/skus.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/updateRuns.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/updateSummaries.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-08-01/updates.json
  specification/azurestackhci/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, Approved-Suppression, SuppressionReviewRequired, new-api-version, MergeRequested, EP-Edge-ARMSignedOff

#26028 Add enterprise new skus
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-10-01-preview/examples/OperationsList.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-10-01-preview/examples/OperationsStatusGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-10-01-preview/examples/RedisEnterpriseCheckNameAvailability.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-10-01-preview/examples/RedisEnterpriseCreate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-10-01-preview/examples/RedisEnterpriseDatabasesCreate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-10-01-preview/examples/RedisEnterpriseDatabasesCreateWithGeoReplication.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-10-01-preview/examples/RedisEnterpriseDatabasesDelete.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-10-01-preview/examples/RedisEnterpriseDatabasesExport.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-10-01-preview/examples/RedisEnterpriseDatabasesFlush.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-10-01-preview/examples/RedisEnterpriseDatabasesForceUnlink.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-10-01-preview/examples/RedisEnterpriseDatabasesGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-10-01-preview/examples/RedisEnterpriseDatabasesImport.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-10-01-preview/examples/RedisEnterpriseDatabasesListByCluster.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-10-01-preview/examples/RedisEnterpriseDatabasesListKeys.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-10-01-preview/examples/RedisEnterpriseDatabasesRegenerateKey.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-10-01-preview/examples/RedisEnterpriseDatabasesUpdate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-10-01-preview/examples/RedisEnterpriseDelete.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-10-01-preview/examples/RedisEnterpriseDeletePrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-10-01-preview/examples/RedisEnterpriseGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-10-01-preview/examples/RedisEnterpriseGetPrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-10-01-preview/examples/RedisEnterpriseList.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-10-01-preview/examples/RedisEnterpriseListByResourceGroup.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-10-01-preview/examples/RedisEnterpriseListPrivateEndpointConnections.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-10-01-preview/examples/RedisEnterpriseListPrivateLinkResources.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-10-01-preview/examples/RedisEnterprisePutPrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-10-01-preview/examples/RedisEnterpriseSkusList.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-10-01-preview/examples/RedisEnterpriseUpdate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-10-01-preview/redisenterprise.json
  specification/redisenterprise/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit, IDCDevDiv, MergeRequested

#26139 Add azure communication messages service
  specification/communication/data-plane/Messages/preview/2023-08-24-preview/CommunicationServicesMessages.json
  specification/communication/data-plane/Messages/preview/2023-08-24-preview/examples/DownloadMedia.json
  specification/communication/data-plane/Messages/preview/2023-08-24-preview/examples/GetTemplates.json
  specification/communication/data-plane/Messages/preview/2023-08-24-preview/examples/SendMessage.json
  specification/communication/data-plane/Messages/readme.md
Labels: Approved-LintDiff, APIStewardshipBoard-SignedOff, data-plane

#25861 [AppConfiguration] Filtering key-values by tags: API Version 2023-11-01
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/appconfiguration.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/CheckKeyValue.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/CheckKeyValue_IfMatch.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/CheckKeyValue_IfNoneMatch.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/CheckKeyValues.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/CheckKeyValues_IfMatch.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/CheckKeyValues_IfNoneMatch.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/CheckKeys.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/CheckLabels.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/CheckRevisions.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/CheckSnapshot.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/CheckSnapshot_IfMatch.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/CheckSnapshot_IfNoneMatch.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/CheckSnapshots.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/CreateSnapshot.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/DeleteKeyValue.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/DeleteKeyValue_IfMatch.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/DeleteLock.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/DeleteLock_IfMatch.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/GetKeyValue.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/GetKeyValue_IfMatch.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/GetKeyValue_IfNoneMatch.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/GetKeyValues.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/GetKeyValues_IfMatch.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/GetKeyValues_IfNoneMatch.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/GetKeys.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/GetLabels.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/GetOperationStatus.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/GetRevisions.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/GetSnapshot.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/GetSnapshot_Failed.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/GetSnapshot_IfMatch.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/GetSnapshot_IfNoneMatch.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/GetSnapshots.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/PutKeyValue.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/PutKeyValue_IfMatch.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/PutLock.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/PutLock_IfMatch.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/UpdateSnapshot.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/examples/UpdateSnapshot_IfMatch.json
  specification/appconfiguration/data-plane/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, new-api-version, CI-MissingBaseCommit

#25441 [Hub Generated] Review request for Microsoft.BotService to add version stable/2022-09-15
  custom-words.txt
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/botservice.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/CheckNameAvailability.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/CreateBot.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/CreateEmailSignInUrl.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/DeleteBot.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/DeleteChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/DeleteConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/DeleteDirectLineSpeechChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/DeletePrivateEndpointConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/DirectlineRegenerateKeys.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/GetAlexaChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/GetBot.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/GetChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/GetConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/GetDirectLineSpeechChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/GetHostSettings.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/GetLineChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/GetNetworkSecurityPerimeterConfiguration.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/GetOperations.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/GetPrivateEndpointConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/ListBotsByResourceGroup.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/ListBotsBySubscription.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/ListChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/ListChannelsByBotService.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/ListConnectionsByBotService.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/ListNetworkSecurityPerimeterConfigurations.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/ListPrivateEndpointConnections.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/ListPrivateLinkResources.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/ListQnAMakerEndpointKeys.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/ListServiceProviders.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/OperationResultsGet.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/PutAlexaChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/PutChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/PutConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/PutDirectLineSpeechChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/PutEmailChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/PutLineChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/PutPrivateEndpointConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/ReconcileNetworkSecurityPerimeterConfiguration.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/UpdateAlexaChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/UpdateBot.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/UpdateChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/UpdateConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/UpdateDirectLineSpeechChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/UpdateLineChannel.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/examples/WebChatRegenerateKeys.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/networksecurityperimeter.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/privatelinks.json
  specification/botservice/resource-manager/readme.md
Labels: Compute, Network, Storage, KeyVault, Service Fabric, Data Lake Analytics, Batch, Analysis Services, Network - CDN, Container Registry, Customer Insights, Devtestlab, Cognitive Services, Authorization, Event Hubs, Logic App, Machine Learning, Media Services, Notification Hub, Monitor - Operational Insights, Recovery Services Backup, Redis Cache, Scheduler, Search, Insights, Relay, Service Bus, Intune, HDInsight, Automation, API Management, SQL, Monitor, Operations Management, WaitForARMFeedback, Data Factory, BatchAI, Billing, Container Instances, Cosmos, Data Migration, Event Grid, Import Export, Mobile Engagement, MySQL, Policy Insights, PostgreSQL, Recovery Services Site-Recovery, Service Map, Storsimple, Stream Analytics, TimeseriesInsights, Data Lake Store, Machine Learning Compute, Profile, Network - DNS, Network - Traffic Manager, Subscription, Web Apps, StorageSync, Alerts Management, Peering, Container Service, IoTHub, CI-BreakingChange-Go, Synapses, Approved-SdkBreakingChange-Go, Purview, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, RecoveryServices, Load Test Service, Device Update, ARMReview, Maps, resource-manager, Cognitive - Language, new-api-version, ArcReview, MergeRequested, Monitor - Exporter

#26137 update examples for delete job POST
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-10-31/examples/DeleteJobPost.json
Labels: data-plane

#26047 Add NodeAutoProvisioning to AKS preview API
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-09-02-preview/examples/ManagedClustersCreate_NodeAutoProvisioning.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-09-02-preview/managedClusters.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager, BreakingChangeReviewRequired

#26127 Update agentpool related API to adopt unified query parameter
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2023-09-01/managedClusters.json
Labels: CI-BreakingChange-Python-Track2, resource-manager, BreakingChangeReviewRequired

#26125 Update python & java readmes for ContainerService/aks 2023-09-01
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/readme.java.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/readme.python.md
Labels: CI-BreakingChange-Python-Track2, resource-manager

#26043 [AKS] Add trustedAccessRoles and trustedAccessRoleBindings into Microsoft.ContainerService 2023-09-01 api
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2023-09-01/examples/TrustedAccessRoleBindings_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2023-09-01/examples/TrustedAccessRoleBindings_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2023-09-01/examples/TrustedAccessRoleBindings_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2023-09-01/examples/TrustedAccessRoleBindings_List.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2023-09-01/examples/TrustedAccessRoles_List.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2023-09-01/managedClusters.json
Labels: CI-BreakingChange-Python-Track2, resource-manager

#26111 Update serviceBinds with clientType and customizedKeys
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/ContainerApps_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/ContainerApps_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/ContainerApps_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/ContainerApps_Patch.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#26107 Adds new Dapr Component Resiliency Feature to existing version `Release app microsoft.app 2023 08 01 preview`
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/ManagedEnvironmentsDaprComponentResiliencyPolicies.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/DaprComponentResiliencyPolicies_Delete.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/DaprComponentResiliencyPolicies_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/DaprComponentResiliencyPolicies_List.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/DaprComponentResiliencyPolicy_CreateOrUpdate_AllOptions.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/DaprComponentResiliencyPolicy_CreateOrUpdate_OutboundOnly.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/DaprComponentResiliencyPolicy_CreateOrUpdate_SparseOptions.json
  specification/app/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#25930 add more build result information in build resource
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2023-11-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2023-11-01-preview/examples/BuildService_CreateOrUpdateBuild.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#26151 Add AIToolchainOperator to AKS preview API
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-09-02-preview/examples/ManagedClustersCreate_EnableAIToolchainOperator.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-09-02-preview/managedClusters.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager, BreakingChangeReviewRequired

#26152 Fix typo in examples for AKS 2023-09-02-preview
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-09-02-preview/managedClusters.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager, BreakingChangeReviewRequired

#25923 Add apiTryOutEnabledState for api protal
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2023-11-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2023-11-01-preview/examples/ApiPortals_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2023-11-01-preview/examples/ApiPortals_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2023-11-01-preview/examples/ApiPortals_List.json
Labels: no-recent-activity, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#25986 [OpenAI] Refactor project structure
  custom-words.txt
  specification/cognitiveservices/OpenAI.Inference/examples/2023-09-01-preview/audio_transcription_object.json
  specification/cognitiveservices/OpenAI.Inference/main.tsp
  specification/cognitiveservices/OpenAI.Inference/models/audio/audio_transcription.tsp
  specification/cognitiveservices/OpenAI.Inference/models/audio/audio_translation.tsp
  specification/cognitiveservices/OpenAI.Inference/models/audio/common.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/azure_chat_extensions.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/azure_cognitive_search_options.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/chat_completions.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/common.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/completions_create.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/functions.tsp
  specification/cognitiveservices/OpenAI.Inference/models/embeddings_create.tsp
  specification/cognitiveservices/OpenAI.Inference/models/images/common.tsp
  specification/cognitiveservices/OpenAI.Inference/models/images/images.tsp
  specification/cognitiveservices/OpenAI.Inference/routes.tsp
  specification/cognitiveservices/OpenAI.Inference/routes/audio_transcription.tsp
  specification/cognitiveservices/OpenAI.Inference/routes/audio_translation.tsp
  specification/cognitiveservices/OpenAI.Inference/routes/common.tsp
  specification/cognitiveservices/OpenAI.Inference/routes/completions.tsp
  specification/cognitiveservices/OpenAI.Inference/routes/embeddings.tsp
  specification/cognitiveservices/OpenAI.Inference/routes/images.tsp
  specification/cognitiveservices/OpenAI.Inference/tspconfig.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-06-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-07-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-08-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-09-01-preview/examples/audio_transcription_object.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-09-01-preview/generated.json
Labels: data-plane

#26148 Update documentation
  .github/PULL_REQUEST_TEMPLATE/control_plane_template.md
  .github/PULL_REQUEST_TEMPLATE/data_plane_template.md
  CONTRIBUTING.md
  documentation/FAQ.md
  documentation/ci-fix.md
  documentation/onboard-dpg-in-sdkautomation/README.md
  documentation/openapi-authoring-automated-guidelines.md
Labels: Central-EngSys

#26163 ServiceBus: correcting the order of forwardDeadLetteredMessagesTo
  specification/servicebus/data-plane/Microsoft.ServiceBus/stable/2021-05/servicebus.json
Labels: data-plane

#26160 Changing innerError to innererror. Fix ttl examples
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/AzureCommunicationServices.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_classification_failed.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_classified.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_queued.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_received.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_scheduling_failed.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_waiting_for_activation.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_worker_selectors_expired.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_classification_failed.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_classified.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_queued.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_received.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_scheduling_failed.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_waiting_for_activation.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_worker_selectors_expired.json
Labels: data-plane, BreakingChangeReviewRequired

#25893 Add version 2023-10-01-preview for Purview.Workflow
  cSpell.json
  specification/purview/data-plane/Azure.Analytics.Purview.Workflow/preview/2023-10-01-preview/examples/ApproveApproval.json
  specification/purview/data-plane/Azure.Analytics.Purview.Workflow/preview/2023-10-01-preview/examples/CancelWorkflowRun.json
  specification/purview/data-plane/Azure.Analytics.Purview.Workflow/preview/2023-10-01-preview/examples/CreateOrReplaceWorkflow.json
  specification/purview/data-plane/Azure.Analytics.Purview.Workflow/preview/2023-10-01-preview/examples/DeleteWorkflow.json
  specification/purview/data-plane/Azure.Analytics.Purview.Workflow/preview/2023-10-01-preview/examples/GetWorkflow.json
  specification/purview/data-plane/Azure.Analytics.Purview.Workflow/preview/2023-10-01-preview/examples/GetWorkflowRun.json
  specification/purview/data-plane/Azure.Analytics.Purview.Workflow/preview/2023-10-01-preview/examples/GetWorkflowTask.json
  specification/purview/data-plane/Azure.Analytics.Purview.Workflow/preview/2023-10-01-preview/examples/ListWorkflowRuns.json
  specification/purview/data-plane/Azure.Analytics.Purview.Workflow/preview/2023-10-01-preview/examples/ListWorkflowTasks.json
  specification/purview/data-plane/Azure.Analytics.Purview.Workflow/preview/2023-10-01-preview/examples/ListWorkflows.json
  specification/purview/data-plane/Azure.Analytics.Purview.Workflow/preview/2023-10-01-preview/examples/ReassignWorkflowTask.json
  specification/purview/data-plane/Azure.Analytics.Purview.Workflow/preview/2023-10-01-preview/examples/RejectApproval.json
  specification/purview/data-plane/Azure.Analytics.Purview.Workflow/preview/2023-10-01-preview/examples/SubmitUserRequests.json
  specification/purview/data-plane/Azure.Analytics.Purview.Workflow/preview/2023-10-01-preview/examples/UpdateTaskRequest.json
  specification/purview/data-plane/Azure.Analytics.Purview.Workflow/preview/2023-10-01-preview/examples/ValidateWorkflow.json
  specification/purview/data-plane/Azure.Analytics.Purview.Workflow/preview/2023-10-01-preview/purviewWorkflow.json
  specification/purview/data-plane/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, new-api-version, CI-MissingBaseCommit

#25732 Add API spec for ContainerApp Resiliency
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/AppResiliency.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/AppResiliency_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/AppResiliency_Delete.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/AppResiliency_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/AppResiliency_List.json
  specification/app/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#25837 Enable standby secondary creation on partner server for SQL DB FailoverGroup 2023-05-01-preview
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/FailoverGroups.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/FailoverGroupCreateOrUpdateStandbySecondary.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/FailoverGroupUpdateStandbySecondary.json
Labels: ARMSignedOff, customer-reported, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired, MergeRequested

#26082 [Hub Generated] Review request for Microsoft.StorageSync to add version stable/2022-09-01
  specification/common-types/resource-management/v5/types.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/CloudEndpoints_AfsShareMetadataCertificatePublicKeys.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/CloudEndpoints_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/CloudEndpoints_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/CloudEndpoints_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/CloudEndpoints_ListBySyncGroup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/CloudEndpoints_PostBackup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/CloudEndpoints_PostRestore.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/CloudEndpoints_PreBackup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/CloudEndpoints_PreRestore.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/CloudEndpoints_RestoreHeatbeat.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/CloudEndpoints_TriggerChangeDetection.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/LocationOperationStatus_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/OperationStatus_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/Operations_List.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/PrivateEndpointConnections_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/PrivateEndpointConnections_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/PrivateEndpointConnections_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/PrivateEndpointConnections_ListByStorageSyncService.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/PrivateLinkResources_List.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/RegisteredServers_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/RegisteredServers_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/RegisteredServers_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/RegisteredServers_ListByStorageSyncService.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/RegisteredServers_TriggerRollover.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/RegisteredServers_Update.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/ServerEndpoints_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/ServerEndpoints_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/ServerEndpoints_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/ServerEndpoints_ListBySyncGroup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/ServerEndpoints_Recall.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/ServerEndpoints_Update.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/StorageSyncServiceCheckNameAvailability_AlreadyExists.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/StorageSyncServiceCheckNameAvailability_Available.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/StorageSyncServices_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/StorageSyncServices_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/StorageSyncServices_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/StorageSyncServices_ListByResourceGroup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/StorageSyncServices_ListBySubscription.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/StorageSyncServices_Update.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/SyncGroups_Create.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/SyncGroups_Delete.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/SyncGroups_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/SyncGroups_ListByStorageSyncService.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/Workflows_Abort.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/Workflows_Get.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/Workflows_ListByStorageSyncService.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/storagesync.json
  specification/storagesync/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, MergeRequested

#26176 Update async delete example
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/PrivateAccessPrivateEndpointConnection_Delete.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/privateAccesses.json
Labels: resource-manager

#25803 Address ARM reviewer comment for community gallery
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/communityGallery.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/communityGalleryExamples/CommunityGalleryImageVersion_Get.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/communityGalleryExamples/CommunityGalleryImage_Get.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/communityGalleryExamples/CommunityGallery_Get.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/CommunityGallery_Get.json
Labels: resource-manager

#26098 Updating Managed Instance swagger for 2023-05-01-preview
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/ManagedInstances.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired, MergeRequested

#26121 [MachineLearningService]Add featurestore property to stable version
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/machineLearningServices.json
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, ARMReview, resource-manager, BreakingChangeReviewRequired, MergeRequested

#26058 Fixed examples for gateway load balancer
  specification/network/resource-manager/Microsoft.Network/stable/2023-06-01/examples/LoadBalancerCreateGatewayLoadBalancerProviderWithOneBackendPool.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-06-01/examples/LoadBalancerCreateGatewayLoadBalancerProviderWithTwoBackendPool.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#26172 Added directives for JAVA SDK release for 2023-04-01 RecoveryServicesBackup
  specification/recoveryservicesbackup/resource-manager/readme.java.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest

#26193 address comments
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/privateAccesses.json
Labels: CI-BreakingChange-JavaScript, resource-manager

#26149 Add support for JSChallenge action in Application Gateway Web application Firewall
  specification/network/resource-manager/Microsoft.Network/stable/2023-06-01/examples/WafPolicyCreateOrUpdate.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-06-01/examples/WafPolicyGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-06-01/webapplicationfirewall.json
Labels: ARMSignedOff, customer-reported, Approved-LintDiff, ARMReview, resource-manager, MergeRequested

#26140 Update readme.go.md
  specification/resources/resource-manager/readme.go.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#24147 NSP Patch API Swagger Changes (AzCoreIDC)
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NetworkSecurityPerimeterPatch.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/examples/NspAccessRuleReconcile.json
  specification/network/resource-manager/Microsoft.Network/preview/2021-02-01-preview/networkSecurityPerimeter.json
Labels: Network, ARMSignedOff, Approved-BreakingChange, Approved-LintDiff, ARMReview, resource-manager, NewApiVersionRequired, MergeRequested

#23813 Microsoft.KeyVault 2023-07-01 Add changes for Trusted Access Mode
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/common.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/DeletedManagedHsm_Get.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/DeletedManagedHsm_List.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/DeletedManagedHsm_Purge.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/ManagedHsm_CreateOrUpdate.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/ManagedHsm_Delete.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/ManagedHsm_Get.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/ManagedHsm_ListByResourceGroup.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/ManagedHsm_ListBySubscription.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/ManagedHsm_ListPrivateEndpointConnectionsByResource.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/ManagedHsm_ListRegionsByResource.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/ManagedHsm_Update.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/ManagedHsm_checkMhsmNameAvailability.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/ManagedHsm_deletePrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/ManagedHsm_getPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/ManagedHsm_listPrivateLinkResources.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/ManagedHsm_putPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/checkVaultNameAvailability.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/createKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/createSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/createVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/createVaultWithNetworkAcls.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/deletePrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/deleteVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/getDeletedVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/getKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/getKeyVersion.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/getPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/getSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/getVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/listDeletedVaults.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/listKeyVersions.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/listKeys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/listOperations.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/listPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/listPrivateLinkResources.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/listSecrets.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/listVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/listVaultByResourceGroup.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/listVaultBySubscription.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/managedHsmCreateKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/managedHsmGetKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/managedHsmGetKeyVersion.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/managedHsmListKeyVersions.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/managedHsmListKeys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/purgeDeletedVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/putPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/updateAccessPoliciesAdd.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/updateSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/examples/updateVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/keys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/keysManagedHsm.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/keyvault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/managedHsm.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/providers.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-07-01/secrets.json
  specification/keyvault/resource-manager/readme.md
  specification/keyvault/resource-manager/readme.python.md
Labels: KeyVault, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, commitAfterSignedOff, CI-MissingBaseCommit

#26200 [TypeSpec] Upgrade to 0.49.0
  package-lock.json
  package.json
  specification/codesigning/data-plane/Azure.CodeSigning/preview/2023-06-15-preview/azure.codesigning.json
  specification/containerservice/Fleet.Management/fleet.tsp
  specification/containerservice/Fleet.Management/fleetmember.tsp
  specification/containerservice/Fleet.Management/helpers.tsp
  specification/containerservice/Fleet.Management/main.tsp
  specification/containerservice/Fleet.Management/update/common.tsp
  specification/containerservice/Fleet.Management/update/run.tsp
  specification/containerservice/Fleet.Management/update/strategy.tsp
  specification/containerstorage/ContainerStorage.Management/main.tsp
  specification/eventgrid/Azure.Messaging.EventGrid/main.tsp
  specification/eventgrid/data-plane/Microsoft.EventGrid/preview/2023-06-01-preview/EventGrid.json
  specification/mpcnetworkfunction/MpcNetworkFunction.Management/networkfunction.tsp
  specification/networkanalytics/NetworkAnalytics.Management/main.tsp
  specification/sphere/Sphere.Management/common.tsp
  specification/sphere/Sphere.Management/device.tsp
  specification/sphere/Sphere.Management/deviceGroup.tsp
  specification/sphere/Sphere.Management/image.tsp
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/cadl/communicationsgateway.cadl
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/cadl/operatorvoicemail.cadl
Labels: DoNotMerge, ARMChangesRequested, ShiftLeftViolation, ARMReview, Cadl, resource-manager, data-plane, BreakingChangeReviewRequired

#26205 fix specification/azurestackhci/resource-manager/readme.md error
  specification/azurestackhci/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS

#25690 Swagger API changes to support PUT and PATCH to update replication link type
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/ReplicationLinks.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/ReplicationLinkCreateOrUpdate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/ReplicationLinkUpdate.json
Labels: ARMSignedOff, customer-reported, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired

#26108 [IC3 ACS - Auth] <stable/2023-10-01> Granular Tokens Scopes
  specification/communication/data-plane/Identity/readme.md
  specification/communication/data-plane/Identity/stable/2023-10-01/CommunicationIdentity.json
  specification/communication/data-plane/Identity/stable/2023-10-01/examples/CreateIdentity.json
  specification/communication/data-plane/Identity/stable/2023-10-01/examples/DeleteIdentity.json
  specification/communication/data-plane/Identity/stable/2023-10-01/examples/ExchangeTeamsUserAccessToken.json
  specification/communication/data-plane/Identity/stable/2023-10-01/examples/IssueAccessToken.json
  specification/communication/data-plane/Identity/stable/2023-10-01/examples/RevokeAccessTokens.json
Labels: APIStewardshipBoard-SignedOff, data-plane, new-api-version

#26179 Updates for experiments for GA
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/examples/CreateUpdateExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/experiments.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/types/experiments.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#26207 Update readme.python.md
  specification/resourcehealth/resource-manager/readme.python.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, ARMReview, resource-manager, ReadyForApiTest

#26185 [Hub Generated] Publish private branch 'prateekyadavMS-maintenance-prateek-Microsoft.Maintenance-2023-09-01-preview'
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/Maintenance.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/ApplyUpdatesResourceGroup_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/ApplyUpdates_CreateOrUpdate.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/ApplyUpdates_CreateOrUpdateOnly_NoCancellation.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/ApplyUpdates_CreateOrUpdateParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/ApplyUpdates_CreateOrUpdate_CancelMaintenance.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/ApplyUpdates_Get.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/ApplyUpdates_GetParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/ApplyUpdates_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/ConfigurationAssignmentsForResourceGroup_CreateOrUpdate.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/ConfigurationAssignmentsForResourceGroup_Delete.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/ConfigurationAssignmentsForResourceGroup_Get.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/ConfigurationAssignmentsForResourceGroup_UpdateForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/ConfigurationAssignmentsForSubscriptions_CreateOrUpdate.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/ConfigurationAssignmentsForSubscriptions_Delete.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/ConfigurationAssignmentsForSubscriptions_Get.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/ConfigurationAssignmentsForSubscriptions_UpdateForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/ConfigurationAssignmentsResultWithinSubscription_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/ConfigurationAssignments_CreateOrUpdate.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/ConfigurationAssignments_CreateOrUpdateParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/ConfigurationAssignments_Delete.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/ConfigurationAssignments_DeleteParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/ConfigurationAssignments_Get.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/ConfigurationAssignments_GetParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/ConfigurationAssignments_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/ConfigurationAssignments_ListParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/MaintenanceConfigurationsResourceGroup_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/MaintenanceConfigurations_CreateOrUpdateForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/MaintenanceConfigurations_DeleteForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/MaintenanceConfigurations_GetForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/MaintenanceConfigurations_GetForResource_GuestOSPatchLinux.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/MaintenanceConfigurations_GetForResource_GuestOSPatchWindows.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/MaintenanceConfigurations_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/MaintenanceConfigurations_UpdateForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/Operations_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/PublicMaintenanceConfigurations_GetForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/PublicMaintenanceConfigurations_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/Updates_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/examples/Updates_ListParent.json
  specification/maintenance/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version

#26201 updating auth for call automation api specs to use hmac
  specification/communication/data-plane/CallAutomation/preview/2023-06-15-preview/communicationservicescallautomation.json
  specification/communication/data-plane/CallAutomation/stable/2023-03-06/communicationservicescallautomation.json
Labels: data-plane, MergeRequested

#26243 Add experiment schema enforced quota limits
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/types/experiments.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#26221 Added x-ms-file-request-intent to File PutRangeFromUrl
  specification/storage/data-plane/Microsoft.FileStorage/preview/2023-08-03/file.json
Labels: Approved-BreakingChange, data-plane

#26177 Brrusino/experiment create update fix
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/CreateOrUpdateAPrivateAccess.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/DeleteAPrivateAccess.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/GetAPrivateAccess.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/GetAPrivateAccess_WithPrivateEndpoint.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/ListPrivateAccessInAResourceGroup.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/ListPrivateAccessInASubscription.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/PrivateAccessPrivateEndpointConnection_Delete.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/PrivateAccessPrivateEndpointConnection_Get.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/PrivateAccessPrivateEndpointConnection_ListByPrivateAccess.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/PrivateAccessPrivateLinkResources_Get.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/privateAccesses.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/types/privateAccesses.json
  specification/chaos/resource-manager/readme.md
Labels: Compute, Network, Storage, KeyVault, Service Fabric, Data Lake Analytics, Batch, Analysis Services, Network - CDN, Container Registry, Customer Insights, Devtestlab, Cognitive Services, Authorization, Event Hubs, Logic App, Machine Learning, Media Services, Notification Hub, Monitor - Operational Insights, Recovery Services Backup, Redis Cache, Scheduler, Search, Insights, Relay, Service Bus, Intune, HDInsight, Automation, API Management, SQL, Monitor, Operations Management, Data Factory, BatchAI, Billing, Container Instances, Cosmos, Data Migration, Event Grid, Import Export, Mobile Engagement, MySQL, Policy Insights, PostgreSQL, Recovery Services Site-Recovery, Service Map, Storsimple, Stream Analytics, TimeseriesInsights, Data Lake Store, Machine Learning Compute, Profile, Network - DNS, Network - Traffic Manager, Subscription, Web Apps, StorageSync, Alerts Management, Peering, Container Service, IoTHub, Synapses, Purview, RecoveryServices, Load Test Service, Device Update, Maps, resource-manager, Cognitive - Language, ArcReview, Monitor - Exporter

#26130 Add referenced route paths to resolve the S360 issue
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2023-07-01-preview/afdx.json
Labels: ARMSignedOff, Approved-BreakingChange, FixS360, ARMReview, resource-manager, ReadyForApiTest, NewApiVersionRequired, BreakingChangeReviewRequired, MergeRequested

#25440 VI stable/2024-01-01 - AMSless accounts
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2024-01-01/examples/ViAccountCheckNameAvailabilityFree.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2024-01-01/examples/ViAccountCheckNameAvailabilityTaken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2024-01-01/examples/ViAccountDelete.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2024-01-01/examples/ViAccountGet.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2024-01-01/examples/ViAccountPatch/PatchAccountWithSystemAssignedMi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2024-01-01/examples/ViAccountPatch/PatchAccountWithUserAssignedMi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2024-01-01/examples/ViAccountPut/ConnectClassicAccountToArmAccountUsingSystemAssignedMI.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2024-01-01/examples/ViAccountPut/ConnectClassicAccountToArmAccountUsingUserAssignedMi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2024-01-01/examples/ViAccountPut/CreateOrUpdateAccountWithSystemAssignedMi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2024-01-01/examples/ViAccountPut/CreateOrUpdateAccountWithUserAssignedMi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2024-01-01/examples/ViAccountsList.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2024-01-01/examples/ViAccountsListByResourceGroup.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2024-01-01/examples/ViGenerateAccessToken/ViGenerateAccountContributerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2024-01-01/examples/ViGenerateAccessToken/ViGenerateAccountReaderAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2024-01-01/examples/ViGenerateAccessToken/ViGenerateProjectContributerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2024-01-01/examples/ViGenerateAccessToken/ViGenerateProjectReaderAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2024-01-01/examples/ViGenerateAccessToken/ViGenerateVideoContributerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2024-01-01/examples/ViGenerateAccessToken/ViGenerateVideoReaderAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2024-01-01/examples/ViGenerateRestrictedViewerAccessToken/ViGenerateAccountRestrictedViewerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2024-01-01/examples/ViGenerateRestrictedViewerAccessToken/ViGenerateProjectRestrictedViewerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2024-01-01/examples/ViGenerateRestrictedViewerAccessToken/ViGenerateVideoRestrictedViewerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2024-01-01/examples/ViOperationsList.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2024-01-01/vi.json
  specification/vi/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, new-api-version, CI-MissingBaseCommit, MergeRequested

#25498 [Cognitive Services - Azure AI Content Safety] GA Restful API
  specification/cognitiveservices/ContentSafety/examples/2023-04-30-preview/AnalyzeImage.json
  specification/cognitiveservices/ContentSafety/examples/2023-04-30-preview/AnalyzeText.json
  specification/cognitiveservices/ContentSafety/examples/2023-10-01/AddOrUpdateBlocklistItems.json
  specification/cognitiveservices/ContentSafety/examples/2023-10-01/AnalyzeImage.json
  specification/cognitiveservices/ContentSafety/examples/2023-10-01/AnalyzeText.json
  specification/cognitiveservices/ContentSafety/examples/2023-10-01/CreateOrUpdateTextBlocklist.json
  specification/cognitiveservices/ContentSafety/examples/2023-10-01/DeleteTextBlocklist.json
  specification/cognitiveservices/ContentSafety/examples/2023-10-01/GetTextBlocklist.json
  specification/cognitiveservices/ContentSafety/examples/2023-10-01/GetTextBlocklistItem.json
  specification/cognitiveservices/ContentSafety/examples/2023-10-01/ListTextBlocklistItems.json
  specification/cognitiveservices/ContentSafety/examples/2023-10-01/ListTextBlocklists.json
  specification/cognitiveservices/ContentSafety/examples/2023-10-01/RemoveBlocklistItems.json
  specification/cognitiveservices/ContentSafety/main.tsp
  specification/cognitiveservices/ContentSafety/models.tsp
  specification/cognitiveservices/ContentSafety/routes.tsp
  specification/cognitiveservices/ContentSafety/tspconfig.yaml
  specification/cognitiveservices/data-plane/ContentSafety/readme.md
  specification/cognitiveservices/data-plane/ContentSafety/stable/2023-10-01/contentsafety.json
  specification/cognitiveservices/data-plane/ContentSafety/stable/2023-10-01/examples/AddOrUpdateBlocklistItems.json
  specification/cognitiveservices/data-plane/ContentSafety/stable/2023-10-01/examples/AnalyzeImage.json
  specification/cognitiveservices/data-plane/ContentSafety/stable/2023-10-01/examples/AnalyzeText.json
  specification/cognitiveservices/data-plane/ContentSafety/stable/2023-10-01/examples/CreateOrUpdateTextBlocklist.json
  specification/cognitiveservices/data-plane/ContentSafety/stable/2023-10-01/examples/DeleteTextBlocklist.json
  specification/cognitiveservices/data-plane/ContentSafety/stable/2023-10-01/examples/GetTextBlocklist.json
  specification/cognitiveservices/data-plane/ContentSafety/stable/2023-10-01/examples/GetTextBlocklistItem.json
  specification/cognitiveservices/data-plane/ContentSafety/stable/2023-10-01/examples/ListTextBlocklistItems.json
  specification/cognitiveservices/data-plane/ContentSafety/stable/2023-10-01/examples/ListTextBlocklists.json
  specification/cognitiveservices/data-plane/ContentSafety/stable/2023-10-01/examples/RemoveBlocklistItems.json
Labels: Approved-LintDiff, Approved-ModelValidation, APIStewardshipBoard-SignedOff, data-plane

#26265 Replaced disallowed HTML chars and added a missing connection string value
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/searchindex.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/searchservice.json
  specification/search/data-plane/Azure.Search/stable/2023-11-01/searchindex.json
  specification/search/data-plane/Azure.Search/stable/2023-11-01/searchservice.json
Labels: data-plane

#26128 [Synapse]Sync Credential CRUD From DataFactory To Synapse
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/credential.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/examples/Credentials_Create.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/examples/Credentials_Delete.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/examples/Credentials_Get.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/examples/Credentials_ListByWorkspace.json
  specification/synapse/data-plane/readme.md
Labels: Approved-BreakingChange, data-plane, BreakingChangeReviewRequired

#26188 Add api version 2023-10-01-preview of Azure OpenAI
  custom-words.txt
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/azureopenai.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/examples/cancel_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/examples/cancel_finetuning_job.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/examples/delete_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/examples/delete_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/examples/delete_finetuning_job.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/examples/delete_images_operation.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/examples/get_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/examples/get_file_content.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/examples/get_files.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/examples/get_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/examples/get_finetune_events.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/examples/get_finetunes.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/examples/get_finetuning_job.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/examples/get_finetuning_job_events.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/examples/get_finetuning_jobs.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/examples/get_images_operation.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/examples/get_ingestion_job.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/examples/get_ingestion_jobs.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/examples/get_model_base.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/examples/get_model_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/examples/get_models.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/examples/import_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/examples/post_classification_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/examples/post_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/examples/post_finetuning_job.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/examples/post_images_generate.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/examples/put_ingestion_job.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/examples/upload_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/readme.md
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-10-01-preview/inference.json
Labels: Approved-BreakingChange, APIStewardshipBoard-SignedOff, data-plane, BreakingChangeReviewRequired

#26274 Added x-ms-file-request-intent to File Put Range from URL to match main
  specification/storage/data-plane/Microsoft.FileStorage/preview/2024-02-04/file.json
Labels: data-plane

#26268 string updates for renamed features and services
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/searchindex.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/searchservice.json
  specification/search/data-plane/Azure.Search/stable/2023-11-01/searchindex.json
  specification/search/data-plane/Azure.Search/stable/2023-11-01/searchservice.json
Labels: data-plane

#26259 search readme.go.md add directive
  specification/search/resource-manager/readme.go.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#26258 [Cognitive Services - Azure AI Content Safety] Fix aacs ga contract
  specification/cognitiveservices/ContentSafety/models.tsp
  specification/cognitiveservices/data-plane/ContentSafety/stable/2023-10-01/contentsafety.json
Labels: Approved-BreakingChange, Approved-ModelValidation, data-plane, BreakingChangeReviewRequired

#26271 Chaos swap expand to post
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/examples/DetailsExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/experiments.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/types/common.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/types/experiments.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#26252 API review fixes and added custom context
  specification/communication/data-plane/CallAutomation/stable/2023-10-15/communicationservicescallautomation.json
  specification/communication/data-plane/CallAutomation/stable/2023-10-15/examples/CallConnection_AddParticipant.json
  specification/communication/data-plane/CallAutomation/stable/2023-10-15/examples/CallConnection_CancelAddParticipant.json
  specification/communication/data-plane/CallAutomation/stable/2023-10-15/examples/CallConnection_Mute.json
  specification/communication/data-plane/CallAutomation/stable/2023-10-15/examples/CallConnection_RemoveParticipant.json
  specification/communication/data-plane/CallAutomation/stable/2023-10-15/examples/CallConnection_TransferToParticipant.json
  specification/communication/data-plane/CallAutomation/stable/2023-10-15/examples/CallMedia_Play.json
  specification/communication/data-plane/CallAutomation/stable/2023-10-15/examples/CallMedia_Recognize.json
  specification/communication/data-plane/CallAutomation/stable/2023-10-15/examples/CallMedia_SendDtmfTones.json
  specification/communication/data-plane/CallAutomation/stable/2023-10-15/examples/CallMedia_StartContinuousDtmfRecognition.json
  specification/communication/data-plane/CallAutomation/stable/2023-10-15/examples/CallMedia_StopContinuousDtmfRecognition.json
Labels: data-plane

#25992 Added NFS Snapshot Support
  specification/storage/data-plane/Microsoft.FileStorage/preview/2024-02-04/file.json
Labels: ARMChangesRequested, no-recent-activity, ARMReview, resource-manager, data-plane, RPaaS, BreakingChangeReviewRequired, SuppressionReviewRequired, new-api-version, CI-MissingBaseCommit, new-rp-namespace, CI-RpaaSRPNotInPrivateRepo

#24951 [Hub Generated] Review request for Microsoft.DevHub to add version stable/2023-08-01
  specification/developerhub/resource-manager/Microsoft.DevHub/stable/2023-08-01/examples/GeneratePreviewArtifacts.json
  specification/developerhub/resource-manager/Microsoft.DevHub/stable/2023-08-01/examples/GitHubOAuth.json
  specification/developerhub/resource-manager/Microsoft.DevHub/stable/2023-08-01/examples/GitHubOAuthCallback.json
  specification/developerhub/resource-manager/Microsoft.DevHub/stable/2023-08-01/examples/GitHubOAuth_List.json
  specification/developerhub/resource-manager/Microsoft.DevHub/stable/2023-08-01/examples/Operation_List.json
  specification/developerhub/resource-manager/Microsoft.DevHub/stable/2023-08-01/examples/Workflow_CreateOrUpdate.json
  specification/developerhub/resource-manager/Microsoft.DevHub/stable/2023-08-01/examples/Workflow_CreateOrUpdate_WithArtifactGen.json
  specification/developerhub/resource-manager/Microsoft.DevHub/stable/2023-08-01/examples/Workflow_Delete.json
  specification/developerhub/resource-manager/Microsoft.DevHub/stable/2023-08-01/examples/Workflow_Get.json
  specification/developerhub/resource-manager/Microsoft.DevHub/stable/2023-08-01/examples/Workflow_List.json
  specification/developerhub/resource-manager/Microsoft.DevHub/stable/2023-08-01/examples/Workflow_ListByResourceGroup.json
  specification/developerhub/resource-manager/Microsoft.DevHub/stable/2023-08-01/examples/Workflow_UpdateTags.json
  specification/developerhub/resource-manager/Microsoft.DevHub/stable/2023-08-01/workflow.json
  specification/developerhub/resource-manager/readme.md
Labels: ARMSignedOff, APIStewardshipBoard-SignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, MergeRequested

#25860 [Hub Generated] Review request for Microsoft.AlertsManagement to add version preview/2023-08-01-preview
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2023-08-01-preview/AlertRuleRecommendations.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2023-08-01-preview/examples/AlertRuleRecommendations_GetByResource_MAC.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2023-08-01-preview/examples/AlertRuleRecommendations_GetByResource_VM.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2023-08-01-preview/examples/AlertRuleRecommendations_GetBySubscription_MAC.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2023-08-01-preview/examples/AlertRuleRecommendations_GetBySubscription_VM.json
  specification/alertsmanagement/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, MergeRequested

#25977 Added new version 2024-03-01 of API Center resource manager.
  custom-words.txt
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/apicenter.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/ApiDefinitions_CreateOrUpdate.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/ApiDefinitions_Delete.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/ApiDefinitions_ExportSpecification.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/ApiDefinitions_Get.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/ApiDefinitions_Head.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/ApiDefinitions_ImportSpecification.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/ApiDefinitions_List.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/ApiVersions_CreateOrUpdate.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/ApiVersions_Delete.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/ApiVersions_Get.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/ApiVersions_Head.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/ApiVersions_List.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/Apis_CreateOrUpdate.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/Apis_Delete.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/Apis_Get.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/Apis_Head.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/Apis_List.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/Deployments_CreateOrUpdate.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/Deployments_Delete.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/Deployments_Get.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/Deployments_Head.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/Deployments_List.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/Environments_CreateOrUpdate.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/Environments_Delete.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/Environments_Get.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/Environments_Head.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/Environments_List.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/MetadataSchemas_CreateOrUpdate.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/MetadataSchemas_Delete.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/MetadataSchemas_Get.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/MetadataSchemas_Head.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/MetadataSchemas_List.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/Operations_List.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/Services_CreateOrUpdate.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/Services_Delete.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/Services_ExportMetadataSchema.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/Services_Get.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/Services_ListByResourceGroup.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/Services_ListBySubscription.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/Services_Update.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/Workspaces_CreateOrUpdate.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/Workspaces_Delete.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/Workspaces_Get.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/Workspaces_Head.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/examples/Workspaces_List.json
  specification/apicenter/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-LintDiff, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, CI-MissingBaseCommit, MergeRequested

#26248 DDoS - Fixing Swagger Validation Issues on DDoSCustomPolicy
  specification/network/resource-manager/Microsoft.Network/stable/2023-06-01/ddosCustomPolicy.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-06-01/examples/DdosCustomPolicyDelete.json
Labels: ARMSignedOff, Approved-LintDiff, FixS360, ARMReview, resource-manager, MergeRequested

#26276 [TypeSpec Validation] trigger on only specification/<service-family>
  eng/scripts/Get-TypeSpec-Folders.ps1
Labels: Central-EngSys

#25991 Publish Microsoft Maps Search 2023-06-01
  specification/maps/data-plane/Common/stable/2023-06-01/common.json
  specification/maps/data-plane/Search/readme.md
  specification/maps/data-plane/Search/stable/2023-06-01/examples/ForwardGeocoding.json
  specification/maps/data-plane/Search/stable/2023-06-01/examples/ForwardGeocodingBatch.json
  specification/maps/data-plane/Search/stable/2023-06-01/examples/ForwardGeocodingByAddressLine.json
  specification/maps/data-plane/Search/stable/2023-06-01/examples/ForwardGeocodingByQuery.json
  specification/maps/data-plane/Search/stable/2023-06-01/examples/ForwardGeocodingFindLandmarkByQuery.json
  specification/maps/data-plane/Search/stable/2023-06-01/examples/GetPolygon.json
  specification/maps/data-plane/Search/stable/2023-06-01/examples/ReverseGeocoding.json
  specification/maps/data-plane/Search/stable/2023-06-01/examples/ReverseGeocodingBatch.json
  specification/maps/data-plane/Search/stable/2023-06-01/search.json
Labels: data-plane

#26189 devcenter: `devCenterUri` should be a read only field
  specification/devcenter/resource-manager/Microsoft.DevCenter/stable/2023-04-01/devcenter.json
Labels: ARMSignedOff, customer-reported, ARMReview, resource-manager, ReadyForApiTest, RPaaS

#26196 Add extendedlocation for job
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ConnectedEnvironments_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ConnectedEnvironments_Delete.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ConnectedEnvironments_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ConnectedEnvironments_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/examples/ConnectedEnvironments_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2023-05-02-preview/examples/ConnectedEnvironments_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/Jobs.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/ConnectedEnvironments_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/ContainerApps_CreateOrUpdate_ConnectedEnvironment.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Job_CreateorUpdate_ConnectedEnvironment.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/examples/ConnectedEnvironments_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2023-05-01/examples/ConnectedEnvironments_Get.json
Labels: ARMSignedOff, ARMReview, resource-manager

#26198 Fix Python SDK failure for Dapr log level config
  specification/web/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager

#26245 Removing source to cloud patching from 08-01-preview branch
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/Patches.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Patches_Apply.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Patches_Delete.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Patches_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Patches_ListByBuilderResource.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Patches_Skip_Configure.json
  specification/app/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager

#25984 stable version for Microsoft.Confluent rp
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2023-08-22/confluent.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2023-08-22/examples/Access_ClusterList.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2023-08-22/examples/Access_EnvironmentList.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2023-08-22/examples/Access_InvitationsList.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2023-08-22/examples/Access_InviteUser.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2023-08-22/examples/Access_RoleBindingList.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2023-08-22/examples/Access_ServiceAccountsList.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2023-08-22/examples/Access_UsersList.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2023-08-22/examples/MarketplaceAgreements_Create.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2023-08-22/examples/MarketplaceAgreements_List.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2023-08-22/examples/OrganizationOperations_List.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2023-08-22/examples/Organization_Create.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2023-08-22/examples/Organization_Delete.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2023-08-22/examples/Organization_Get.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2023-08-22/examples/Organization_ListByResourceGroup.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2023-08-22/examples/Organization_ListBySubscription.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2023-08-22/examples/Organization_Update.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2023-08-22/examples/Validations_ValidateOrganizations.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2023-08-22/examples/Validations_ValidateOrganizationsV2.json
  specification/confluent/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, Approved-LintDiff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, CI-MissingBaseCommit, IDCDevDiv, MergeRequested

#26109 [Hub Generated] Review request for Microsoft.ScVmm to add version stable/2023-10-07
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/CreateAvailabilitySet.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/CreateCheckpointVirtualMachineInstance.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/CreateCloud.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/CreateInventoryItem.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/CreateVMInstanceGuestAgent.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/CreateVMMServer.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/CreateVirtualMachineInstance.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/CreateVirtualMachineTemplate.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/CreateVirtualNetwork.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/DeleteAvailabilitySet.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/DeleteCheckpointVirtualMachineInstance.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/DeleteCloud.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/DeleteInventoryItem.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/DeleteVMInstanceGuestAgent.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/DeleteVMMServer.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/DeleteVirtualMachineInstance.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/DeleteVirtualMachineTemplate.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/DeleteVirtualNetwork.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/GetAvailabilitySet.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/GetCloud.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/GetInventoryItem.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/GetVMInstanceGuestAgent.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/GetVMMServer.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/GetVirtualMachineInstance.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/GetVirtualMachineTemplate.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/GetVirtualNetwork.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/GetVmInstanceHybridIdentityMetadata.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/HybridIdentityMetadata_ListByVmInstance.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/ListAvailabilitySetsByResourceGroup.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/ListAvailabilitySetsBySubscription.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/ListCloudsByResourceGroup.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/ListCloudsBySubscription.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/ListInventoryItemsByVMMServer.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/ListOperations.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/ListVMMServersByResourceGroup.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/ListVMMServersBySubscription.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/ListVirtualMachineInstances.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/ListVirtualMachineTemplatesByResourceGroup.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/ListVirtualMachineTemplatesBySubscription.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/ListVirtualNetworksByResourceGroup.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/ListVirtualNetworksBySubscription.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/RestartVirtualMachineInstance.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/RestoreCheckpointVirtualMachineInstance.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/StartVirtualMachineInstance.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/StopVirtualMachineInstance.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/UpdateAvailabilitySet.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/UpdateCloud.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/UpdateVMMServer.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/UpdateVirtualMachineInstance.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/UpdateVirtualMachineTemplate.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/UpdateVirtualNetwork.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/VMInstanceGuestAgent_ListByVm.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/scvmm.json
  specification/scvmm/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, MergeRequested, AzCoreIDC, AzCoreIDCSignedOff

#26322 [TypeSpec Validation] Ensure "All" pipeline fails if no specs are validated
  eng/scripts/Validate-TypeSpec.ps1
Labels: Central-EngSys

#26262 [NVA] Internet Ingress Parameters
  specification/network/resource-manager/Microsoft.Network/stable/2023-06-01/examples/NetworkVirtualApplianceGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-06-01/examples/NetworkVirtualAppliancePut.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-06-01/networkVirtualAppliance.json
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager

#26332 update details to getExecutionDetails
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/examples/DetailsExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/experiments.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#26250 Cognitive Services 2023-10-01-preview updated
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2023-10-01-preview/cognitiveservices.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#26183 [Microsoft.DeviceRegistry] Added spec for Microsoft.DeviceRegistry RP version 2023-11-01-preview
  custom-words.txt
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/asset.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/assetendpointprofile.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/Get_OperationStatus.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/List_Operations.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/assetEndpointProfiles/Create_AssetEndpointProfile.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/assetEndpointProfiles/Delete_AssetEndpointProfile.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/assetEndpointProfiles/Get_AssetEndpointProfile.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/assetEndpointProfiles/List_AssetEndpointProfiles_ResourceGroup.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/assetEndpointProfiles/List_AssetEndpointProfiles_Subscription.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/assetEndpointProfiles/Update_AssetEndpointProfile.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/assets/Create_Asset_With_ExternalAssetId.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/assets/Create_Asset_Without_DisplayName.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/assets/Create_Asset_Without_ExternalAssetId.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/assets/Delete_Asset.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/assets/Get_Asset.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/assets/Get_Asset_With_SyncStatus.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/assets/List_Assets_ResourceGroup.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/assets/List_Assets_Subscription.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/assets/Update_Asset.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/operations.json
  specification/deviceregistry/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, CI-MissingBaseCommit, new-rp-namespace, MergeRequested

#26014 Add Preview API version with Kind and features hybridkubernetes microsoft.kubernetes 2023 11 01 preview
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2023-11-01-preview/connectedClusters.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2023-11-01-preview/examples/ConnectedClustersListClusterCredentialResultCSPAAD.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2023-11-01-preview/examples/ConnectedClustersListClusterCredentialResultCSPToken.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2023-11-01-preview/examples/ConnectedClustersListClusterCredentialResultHPAAD.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2023-11-01-preview/examples/ConnectedClustersListClusterCredentialResultHPToken.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2023-11-01-preview/examples/CreateClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2023-11-01-preview/examples/CreateClusterPrivateLinkExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2023-11-01-preview/examples/CreateCluster_KindExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2023-11-01-preview/examples/DeleteClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2023-11-01-preview/examples/GetClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2023-11-01-preview/examples/GetClustersByResourceGroupExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2023-11-01-preview/examples/GetClustersBySubscriptionExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2023-11-01-preview/examples/GetProvisionedClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2023-11-01-preview/examples/ListConnectedClusterOperationsExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2023-11-01-preview/examples/UpdateClusterExample.json
  specification/hybridkubernetes/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, RPaaS, Approved-Suppression, SuppressionReviewRequired, new-api-version, CI-MissingBaseCommit, MergeRequested, EP-Edge-ARMReview

#25970 deprecate ingestionSettings
  specification/security/resource-manager/Microsoft.Security/preview/2021-01-15-preview/examples/IngestionSettings/CreateIngestionSetting_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2021-01-15-preview/examples/IngestionSettings/DeleteIngestionSetting_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2021-01-15-preview/examples/IngestionSettings/GetIngestionSetting_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2021-01-15-preview/examples/IngestionSettings/GetIngestionSettings_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2021-01-15-preview/examples/IngestionSettings/ListConnectionStrings_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2021-01-15-preview/examples/IngestionSettings/ListTokensIngestionSetting_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2021-01-15-preview/ingestionSettings.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested

#26300 [Hub Generated] Review request for Azure.Analytics.Purview.DataMap to add version stable/2023-09-01
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/stable/2023-09-01/purviewdatamap.json
Labels: data-plane

#26254 update examples for private link
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-06-01-preview/FlexibleServers.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/PrivateLink/stable/2023-06-30/examples/PrivateEndpointConnectionGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/PrivateLink/stable/2023-06-30/examples/PrivateEndpointConnectionList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/PrivateLink/stable/2023-06-30/examples/PrivateEndpointConnectionUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/PrivateLink/stable/2023-06-30/examples/PrivateLinkResourcesGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/PrivateLink/stable/2023-06-30/examples/PrivateLinkResourcesList.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#26191 New version 2023-06-30 for DBForMySQL
  specification/mysql/resource-manager/Microsoft.DBforMySQL/AAD/stable/2023-06-30/AzureADAdministrator.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/AAD/stable/2023-06-30/examples/AzureADAdministratorCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/AAD/stable/2023-06-30/examples/AzureADAdministratorDelete.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/AAD/stable/2023-06-30/examples/AzureADAdministratorGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/AAD/stable/2023-06-30/examples/AzureADAdministratorsListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/stable/2023-06-30/BackupAndExport.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/stable/2023-06-30/Backups.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/stable/2023-06-30/examples/BackupAndExport.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/stable/2023-06-30/examples/BackupGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/stable/2023-06-30/examples/BackupPut.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/stable/2023-06-30/examples/BackupsListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/stable/2023-06-30/examples/ValidateBackup.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Configurations/stable/2023-06-30/Configurations.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Configurations/stable/2023-06-30/examples/ConfigurationCreateOrUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Configurations/stable/2023-06-30/examples/ConfigurationGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Configurations/stable/2023-06-30/examples/ConfigurationUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Configurations/stable/2023-06-30/examples/ConfigurationsBatchUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Configurations/stable/2023-06-30/examples/ConfigurationsListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Databases/stable/2023-06-30/Databases.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Databases/stable/2023-06-30/examples/DatabaseCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Databases/stable/2023-06-30/examples/DatabaseDelete.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Databases/stable/2023-06-30/examples/DatabaseGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Databases/stable/2023-06-30/examples/DatabasesListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Firewall/stable/2023-06-30/FirewallRules.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Firewall/stable/2023-06-30/examples/FirewallRuleCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Firewall/stable/2023-06-30/examples/FirewallRuleDelete.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Firewall/stable/2023-06-30/examples/FirewallRuleGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Firewall/stable/2023-06-30/examples/FirewallRulesListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/stable/2023-06-30/FlexibleServers.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/stable/2023-06-30/examples/CutoverMigration.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/stable/2023-06-30/examples/ReplicasListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/stable/2023-06-30/examples/ServerCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/stable/2023-06-30/examples/ServerCreateReplica.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/stable/2023-06-30/examples/ServerCreateWithBYOK.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/stable/2023-06-30/examples/ServerCreateWithPointInTimeRestore.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/stable/2023-06-30/examples/ServerDelete.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/stable/2023-06-30/examples/ServerFailover.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/stable/2023-06-30/examples/ServerGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/stable/2023-06-30/examples/ServerGetWithVnet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/stable/2023-06-30/examples/ServerResetGtid.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/stable/2023-06-30/examples/ServerRestart.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/stable/2023-06-30/examples/ServerStart.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/stable/2023-06-30/examples/ServerStop.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/stable/2023-06-30/examples/ServerUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/stable/2023-06-30/examples/ServerUpdateWithBYOK.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/stable/2023-06-30/examples/ServerUpdateWithCustomerMaintenanceWindow.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/stable/2023-06-30/examples/ServersList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/stable/2023-06-30/examples/ServersListByResourceGroup.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/LogFiles/stable/2023-06-30/LogFiles.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/LogFiles/stable/2023-06-30/examples/LogFilesListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/stable/2023-06-30/ServiceOperations.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/stable/2023-06-30/examples/CapabilitiesByLocationList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/stable/2023-06-30/examples/CapabilitySetByLocation.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/stable/2023-06-30/examples/CapabilitySetListByLocation.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/stable/2023-06-30/examples/CheckNameAvailability.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/stable/2023-06-30/examples/CheckVirtualNetworkSubnetUsage.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/stable/2023-06-30/examples/GetPrivateDnsZoneSuffix.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/stable/2023-06-30/examples/OperationResults_Get.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/stable/2023-06-30/examples/OperationsList.json
  specification/mysql/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested

#26213 [Microsoft.Workloads] Updated the pattern to accomodate the previously created resources
  specification/workloads/resource-manager/Microsoft.Workloads/SAPVirtualInstance/preview/2023-10-01-preview/SAPVirtualInstance.json
Labels: ARMSignedOff, Approved-BreakingChange, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, MergeRequested

#26338 Updating readme to stable version
  specification/paloaltonetworks/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, ARMReview, resource-manager, ReadyForApiTest, RPaaS, IDCDevDiv, MergeRequested

#26327 azure search data plane string changes requested by PM
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/searchservice.json
  specification/search/data-plane/Azure.Search/stable/2023-11-01/searchservice.json
Labels: data-plane

#22458 [SavingsPlan] Update 2023-04-01 billing swagger with SavingsPlan API paths
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/billingSavingsPlan.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/listSavingsPlansInOrderByBillingAccount.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/savingsPlanGetByBillingAccount.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/savingsPlanGetExpandRenewPropertiesByBillingAccount.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/savingsPlanOrderExpandedScheduleGetByBillingAccount.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/savingsPlanOrderGetByBillingAccount.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/savingsPlanOrderListByBillingAccount.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/savingsPlanUpdateByBillingAccount.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/savingsPlanValidateUpdateByBillingAccount.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/savingsPlansListByBillingAccount.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/types.json
  specification/billing/resource-manager/readme.md
Labels: Billing, CI-FixRequiredOnFailure, resource-manager, SuppressionReviewRequired

#24797 resolve flatten issue
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-12-27/HybridCompute.json
Labels: ARMSignedOff, customer-reported, Approved-BreakingChange, CI-BreakingChange-Go, FixS360, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, ArcSignedOff, MergeRequested

#26230 Microsoft.Billing | Update acceptanceMode Enum values to match with API response
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/billing.json
Labels: ARMSignedOff, Approved-BreakingChange, FixS360, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#26295 String changes for rebranding at Ignite
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/search.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#26296 Reverting MI change for readme to fix merge conflict with main
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, MergeRequested

#26308 [Hub Generated] Publish private branch 'edgemrketplace202308preview'
  specification/edgemarketplace/resource-manager/Microsoft.EdgeMarketplace/preview/2023-08-01-preview/examples/GenerateAccessToken.json
  specification/edgemarketplace/resource-manager/Microsoft.EdgeMarketplace/preview/2023-08-01-preview/examples/GetAccessToken.json
  specification/edgemarketplace/resource-manager/Microsoft.EdgeMarketplace/preview/2023-08-01-preview/examples/GetOffer.json
  specification/edgemarketplace/resource-manager/Microsoft.EdgeMarketplace/preview/2023-08-01-preview/examples/GetPublisher.json
  specification/edgemarketplace/resource-manager/Microsoft.EdgeMarketplace/preview/2023-08-01-preview/examples/ListOffers.json
  specification/edgemarketplace/resource-manager/Microsoft.EdgeMarketplace/preview/2023-08-01-preview/examples/ListOffersBySubscription.json
  specification/edgemarketplace/resource-manager/Microsoft.EdgeMarketplace/preview/2023-08-01-preview/examples/ListOperations.json
  specification/edgemarketplace/resource-manager/Microsoft.EdgeMarketplace/preview/2023-08-01-preview/examples/ListPublishers.json
  specification/edgemarketplace/resource-manager/Microsoft.EdgeMarketplace/preview/2023-08-01-preview/examples/ListPublishersBySubscription.json
  specification/edgemarketplace/resource-manager/Microsoft.EdgeMarketplace/preview/2023-08-01-preview/offers.json
  specification/edgemarketplace/resource-manager/Microsoft.EdgeMarketplace/preview/2023-08-01-preview/operations.json
  specification/edgemarketplace/resource-manager/Microsoft.EdgeMarketplace/preview/2023-08-01-preview/publishers.json
  specification/edgemarketplace/resource-manager/readme.az.md
  specification/edgemarketplace/resource-manager/readme.azureresourceschema.md
  specification/edgemarketplace/resource-manager/readme.csharp.md
  specification/edgemarketplace/resource-manager/readme.go.md
  specification/edgemarketplace/resource-manager/readme.java.md
  specification/edgemarketplace/resource-manager/readme.md
  specification/edgemarketplace/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, new-rp-namespace, MergeRequested

#22538 BillingRP AssociatedTenants and BillingRequests
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/associatedTenant.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/billingRequest.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/PaymentMethodAtBillingAccount_List.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/associatedTenantsCreateOrUpdate.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/associatedTenantsDelete.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/associatedTenantsGet.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/associatedTenantsListByBillingAccount.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/billingRequestsCreateOrUpdate.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/billingRequestsGet.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/billingRequestsListByBillingAccount.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/billingRequestsListByBillingProfile.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/billingRequestsListByCustomer.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/billingRequestsListByInvoiceSection.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/billingRequestsListByUser.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/billingRequestsListByUserWithFilter.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/savingsPlanUpdateByBillingAccount.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/payments.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/types.json
  specification/billing/resource-manager/readme.md
Labels: CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager

#26337 mgmt, recoveryservicesdatareplication, java config
  specification/recoveryservicesdatareplication/resource-manager/readme.java.md
  specification/recoveryservicesdatareplication/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired

#26101 microsoft.chaos 2023-10-27-preview
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/capabilities.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/capabilityTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/CancelExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/CreateUpdateCapability.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/CreateUpdateExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/CreateUpdateTarget.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/DeleteCapability.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/DeleteExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/DeleteTarget.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/GetCapability.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/GetCapabilityType.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/GetExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/GetExperimentExecutionDetails.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/GetExperimentStatus.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/GetOperationStatus.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/GetTarget.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/GetTargetType.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/ListCapabilities.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/ListCapabilityTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/ListExperimentExecutionsDetails.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/ListExperimentStatuses.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/ListExperimentsInAResourceGroup.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/ListExperimentsInASubscription.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/ListTargetTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/ListTargets.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/StartExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/UpdateExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/experiments.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/operationStatuses.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/operations.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/targetTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/targets.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/types/capabilities.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/types/capabilityTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/types/common.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/types/experiments.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/types/targetTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/types/targets.json
  specification/chaos/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit, MergeRequested

#26227 Add diagnostic routes to Container App Jobs
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/Diagnostics.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Job_GetDetector.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Job_ListDetectors.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Job_ProxyGet.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#26351 java containerservice mgmt, add directive to rename nonResourceURLs to nonResourceUrls
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/readme.java.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, ShiftLeftViolation, ARMReview, resource-manager, ReadyForApiTest

#26321 [TypeSpec Validation] Fixes "trigger on only specification/<service-family> (#26276)"
  eng/scripts/Get-TypeSpec-Folders.ps1
Labels: data-plane, Central-EngSys

#25221 Adding AzureLargeInstance preview API (new API version for new Type - AzureLargeInstance)
  custom-words.txt
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2023-07-20-preview/azurelargeinstance.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2023-07-20-preview/examples/AzureLargeInstanceOperations_List.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2023-07-20-preview/examples/AzureLargeInstance_Get.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2023-07-20-preview/examples/AzureLargeInstance_ListByResourceGroup.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2023-07-20-preview/examples/AzureLargeInstance_ListBySubscription.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2023-07-20-preview/examples/AzureLargeInstance_PatchTags.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2023-07-20-preview/examples/AzureLargeInstance_PatchTags_Delete.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2023-07-20-preview/examples/AzureLargeInstance_Restart.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2023-07-20-preview/examples/AzureLargeInstance_Shutdown.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2023-07-20-preview/examples/AzureLargeInstance_Start.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2023-07-20-preview/examples/AzureLargeStorageInstance_Get.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2023-07-20-preview/examples/AzureLargeStorageInstance_ListByResourceGroup.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2023-07-20-preview/examples/AzureLargeStorageInstance_ListBySubscription.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2023-07-20-preview/examples/AzureLargeStorageInstance_PatchTags.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2023-07-20-preview/examples/AzureLargeStorageInstance_PatchTags_Delete.json
  specification/azurelargeinstance/resource-manager/readme.az.md
  specification/azurelargeinstance/resource-manager/readme.cli.md
  specification/azurelargeinstance/resource-manager/readme.csharp.md
  specification/azurelargeinstance/resource-manager/readme.go.md
  specification/azurelargeinstance/resource-manager/readme.md
  specification/azurelargeinstance/resource-manager/readme.python.md
  specification/azurelargeinstance/resource-manager/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, Approved-Suppression, SuppressionReviewRequired, new-api-version, CI-MissingBaseCommit, new-rp-namespace, CI-NewRPNamespaceWithoutRPaaS, MergeRequested

#26202 [Hub Generated] Publish private branch 'archidda-azureintegrationspaces-Microsoft.IntegrationSpaces-2023-11-14-preview'
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/ApplicationResources_CreateOrUpdate.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/ApplicationResources_Delete.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/ApplicationResources_Get.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/ApplicationResources_ListByApplication.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/ApplicationResources_Patch.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/Applications_CreateOrUpdate.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/Applications_Delete.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/Applications_DeleteBusinessProcessDevelopmentArtifact.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/Applications_Get.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/Applications_GetBusinessProcessDevelopmentArtifact.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/Applications_ListBusinessProcessDevelopmentArtifacts.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/Applications_ListBySpace.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/Applications_Patch.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/Applications_SaveBusinessProcessDevelopmentArtifact.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/Applications_ValidateBusinessProcessDevelopmentArtifact.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/BusinessProcessVersions_Get.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/BusinessProcessVersions_ListByBusinessProcess.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/BusinessProcesses_CreateOrUpdate.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/BusinessProcesses_Delete.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/BusinessProcesses_Get.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/BusinessProcesses_ListByApplication.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/BusinessProcesses_Patch.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/InfrastructureResources_CreateOrUpdate.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/InfrastructureResources_Delete.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/InfrastructureResources_Get.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/InfrastructureResources_ListBySpace.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/InfrastructureResources_Patch.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/Operations_List.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/Spaces_CreateOrUpdate.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/Spaces_Delete.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/Spaces_Get.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/Spaces_ListByResourceGroup.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/Spaces_ListBySubscription.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/examples/Spaces_Patch.json
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/openapi.json
  specification/azureintegrationspaces/resource-manager/readme.az.md
  specification/azureintegrationspaces/resource-manager/readme.cli.md
  specification/azureintegrationspaces/resource-manager/readme.csharp.md
  specification/azureintegrationspaces/resource-manager/readme.go.md
  specification/azureintegrationspaces/resource-manager/readme.md
  specification/azureintegrationspaces/resource-manager/readme.python.md
  specification/azureintegrationspaces/resource-manager/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, new-rp-namespace, MergeRequested

#26363 Update readme.python.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/readme.python.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, ShiftLeftViolation, ARMReview, resource-manager, ReadyForApiTest

#26364 Update readme.python.md
  specification/connectedvmware/resource-manager/readme.python.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest, RPaaS

#26366 Fix the name of enumeration type nodeOSUpgradeChannel for ContainerService/aks
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-09-02-preview/managedClusters.json
Labels: CI-BreakingChange-Python-Track2, resource-manager

#26303 SQL: removing spaces from the model name for `IPv6 FirewallRule` since model names can't contain spaces
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-08-01-preview/IPv6FirewallRules.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-11-01-preview/IPv6FirewallRules.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/IPv6FirewallRules.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-05-01-preview/IPv6FirewallRules.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/IPv6FirewallRules.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-02-01-preview/IPv6FirewallRules.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2021-11-01/IPv6FirewallRules.json
Labels: ARMSignedOff, customer-reported, Approved-BreakingChange, CI-BreakingChange-Go, Approved-LintDiff, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired

#25958 Add additional OData query parameters + mark some properties as `Expandable`
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-10-01-preview/ContentPackages.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-10-01-preview/ContentProductPackages.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-10-01-preview/ContentProductTemplates.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-10-01-preview/ContentTemplates.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-10-01-preview/common/ContentCommonTypes.json
  specification/securityinsights/resource-manager/common/2.0/types.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, RPaaS, NewApiVersionRequired, MergeRequested

#25973 Add missing Enums required in 2023-06-28-preview
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-06-28-preview/confidentialledger.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-06-28-preview/examples/ConfidentialLedger_Create.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-06-28-preview/examples/ConfidentialLedger_Get.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-06-28-preview/examples/ConfidentialLedger_List.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-06-28-preview/examples/ConfidentialLedger_ListBySub.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-06-28-preview/examples/ConfidentialLedger_Update.json
Labels: ARMSignedOff, Approved-BreakingChange, ARMReview, resource-manager, ReadyForApiTest, RPaaS, NewApiVersionRequired, MergeRequested

#26345 [Communication] Review request for managed identity stable api version 2023 04 01
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/CommunicationServices.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/Domains.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/EmailServices.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/SenderUsernames.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/communicationServices/checkNameAvailabilityAvailable.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/communicationServices/checkNameAvailabilityUnavailable.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/communicationServices/createOrUpdate.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/communicationServices/createOrUpdateWithSystemAssignedIdentity.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/communicationServices/delete.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/communicationServices/get.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/communicationServices/linkNotificationHub.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/communicationServices/listByResourceGroup.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/communicationServices/listBySubscription.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/communicationServices/listKeys.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/communicationServices/operationsList.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/communicationServices/regenerateKey.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/communicationServices/update.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/communicationServices/updateRemoveSystemIdentity.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/communicationServices/updateWithSystemAndUserIdentity.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/communicationServices/updateWithSystemAssignedIdentity.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/communicationServices/updateWithUserAssignedIdentity.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/domains/cancelVerification.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/domains/createOrUpdate.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/domains/delete.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/domains/get.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/domains/initiateVerification.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/domains/listByEmailService.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/domains/update.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/emailServices/createOrUpdate.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/emailServices/delete.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/emailServices/get.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/emailServices/getVerifiedExchangeOnlineDomains.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/emailServices/listByResourceGroup.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/emailServices/listBySubscription.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/emailServices/update.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/senderUsernames/createOrUpdate.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/senderUsernames/delete.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/senderUsernames/get.json
  specification/communication/resource-manager/Microsoft.Communication/stable/2023-04-01/examples/senderUsernames/listByDomain.json
  specification/communication/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, CI-MissingBaseCommit, MergeRequested

#26387 Update python & java readmes for ContainerService/aks 2023-10-02-preview
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/readme.java.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/readme.python.md
Labels: CI-BreakingChange-Python-Track2, resource-manager

#26166 Test framework for tsv
  eng/tools/TypeSpecValidation/.mocharc.yaml
  eng/tools/TypeSpecValidation/cmd/tsv.js
  eng/tools/TypeSpecValidation/package.json
  eng/tools/TypeSpecValidation/src/index.ts
  eng/tools/TypeSpecValidation/src/rule.ts
  eng/tools/TypeSpecValidation/src/rules/compile.ts
  eng/tools/TypeSpecValidation/src/rules/folder-structure.ts
  eng/tools/TypeSpecValidation/src/rules/format.ts
  eng/tools/TypeSpecValidation/src/rules/git-diff.ts
  eng/tools/TypeSpecValidation/src/rules/linter-ruleset.ts
  eng/tools/TypeSpecValidation/src/rules/npm-prefix.ts
  eng/tools/TypeSpecValidation/src/tsv-host.ts
  eng/tools/TypeSpecValidation/src/tsv-runner-host.ts
  eng/tools/TypeSpecValidation/src/utils.ts
  eng/tools/TypeSpecValidation/test/compile.test.ts
  eng/tools/TypeSpecValidation/test/folder-structure.test.ts
  eng/tools/TypeSpecValidation/test/git-diff.test.ts
  eng/tools/TypeSpecValidation/test/tsv-test-host.ts
  package-lock.json
Labels: Central-EngSys

#26408 revert readme
  specification/chaos/resource-manager/readme.md
Labels: resource-manager

#26255 Chaos Microsoft.Chaos 2023-11-01 stable
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/capabilities.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/capabilityTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/examples/CancelExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/examples/CreateUpdateCapability.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/examples/CreateUpdateExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/examples/CreateUpdateTarget.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/examples/DeleteCapability.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/examples/DeleteExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/examples/DeleteTarget.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/examples/DetailsExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/examples/GetCapability.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/examples/GetCapabilityType.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/examples/GetExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/examples/GetExperimentExecution.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/examples/GetOperationStatus.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/examples/GetTarget.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/examples/GetTargetType.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/examples/ListCapabilities.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/examples/ListCapabilityTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/examples/ListExperimentExecutions.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/examples/ListExperimentsInAResourceGroup.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/examples/ListExperimentsInASubscription.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/examples/ListTargetTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/examples/ListTargets.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/examples/StartExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/examples/UpdateExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/experiments.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/operationStatuses.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/operations.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/targetTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/targets.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/types/capabilities.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/types/capabilityTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/types/common.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/types/experiments.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/types/targetTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/types/targets.json
  specification/chaos/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit, MergeRequested

#26409 fix readme file
  specification/chaos/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, ARMReview, resource-manager, ReadyForApiTest

#26049 [DevCenter] Add 2023-10-01-preview dataplane API version
  custom-words.txt
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/devbox.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/devcenter.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/environments.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/Catalogs_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/Catalogs_ListByProject.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/DevBoxActions_Delay.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/DevBoxActions_DelayMultiple.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/DevBoxActions_DelayMultipleWithError.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/DevBoxActions_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/DevBoxActions_List.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/DevBoxActions_Skip.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/DevBoxOperations_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/DevBoxOperations_List.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/DevBoxes_Create.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/DevBoxes_CreateCustomizationGroup.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/DevBoxes_Delete.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/DevBoxes_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/DevBoxes_GetCustomizationGroup.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/DevBoxes_GetCustomizationTaskLog.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/DevBoxes_GetRemoteConnection.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/DevBoxes_List.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/DevBoxes_ListByUserByProject.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/DevBoxes_ListCustomizationGroupsWithTasks.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/DevBoxes_ListCustomizationGroupsWithoutTasks.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/DevBoxes_Repair.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/DevBoxes_Restart.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/DevBoxes_Start.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/DevBoxes_Stop.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/EnvironmentActions_Delay.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/EnvironmentActions_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/EnvironmentActions_List.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/EnvironmentActions_Skip.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/EnvironmentDefinitions_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/EnvironmentDefinitions_ListByCatalog.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/EnvironmentDefinitions_ListByProject.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/EnvironmentOperations_GetByEnvironment.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/EnvironmentOperations_GetLogs.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/EnvironmentOperations_ListByEnvironment.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/EnvironmentTypes_ListByProject.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/Environments_CreateByEnvironmentDefinition.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/Environments_Delete.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/Environments_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/Environments_GetOutputs.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/Environments_ListByProject.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/Environments_ListByProjectByUser.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/Environments_Patch.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/Pools_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/Pools_List.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/Projects_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/Projects_GetCustomizationTaskDefinition.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/Projects_ListByDevCenter.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/Projects_ListCustomizationTaskDefinitions.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/Projects_ValidateCustomizationTasksFailure.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/Projects_ValidateCustomizationTasksSuccess.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/Schedules_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/Schedules_List.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/examples/Schedules_ListByProject.json
  specification/devcenter/data-plane/readme.md
Labels: AzureAPIBoardSignedOff, Approved-BreakingChange, Approved-LintDiff, APIStewardshipBoard-SignedOff, data-plane, BreakingChangeReviewRequired, new-api-version, CI-MissingBaseCommit

#26348 [Synapse]Fix Credential OperationId Not Unified Issue
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/credential.json
Labels: Approved-BreakingChange, data-plane, BreakingChangeReviewRequired

#26377 [TypeSpec Validation] Path normalization on Windows
  eng/tools/TypeSpecValidation/src/index.ts
Labels: Central-EngSys

#26314 [TypeSpec Validation] Must emit "@azure-tools/typespec-autorest" by default
  eng/tools/TypeSpecValidation/src/index.ts
  eng/tools/TypeSpecValidation/src/rules/compile.ts
  eng/tools/TypeSpecValidation/src/rules/emit-autorest.ts
  eng/tools/TypeSpecValidation/src/tsv-host.ts
  eng/tools/TypeSpecValidation/src/tsv-runner-host.ts
  eng/tools/TypeSpecValidation/test/compile.test.ts
  eng/tools/TypeSpecValidation/test/emit-autorest.ts
  eng/tools/TypeSpecValidation/test/tsv-test-host.ts
Labels: resource-manager, data-plane

#25655 [Hub Generated] Review request for Microsoft.Security to add version preview/2023-10-01-preview
  custom-words.txt
  specification/security/resource-manager/Microsoft.Security/preview/2023-10-01-preview/examples/SecurityConnectors/DeleteSecurityConnector_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-10-01-preview/examples/SecurityConnectors/GetSecurityConnectorSingleResource_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-10-01-preview/examples/SecurityConnectors/GetSecurityConnectorsResourceGroup_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-10-01-preview/examples/SecurityConnectors/GetSecurityConnectorsSubscription_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-10-01-preview/examples/SecurityConnectors/PatchSecurityConnector_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-10-01-preview/examples/SecurityConnectors/PutSecurityConnector_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-10-01-preview/securityConnectors.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, new-api-version, MergeRequested

#25789 [DataFactory] Update Google AdWords linked service
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ShiftLeftViolation, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested

#25976 Fixed Swagger correctness for SourceControls API
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-10-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-10-01-preview/examples/repositories/GetRepositories.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-10-01-preview/examples/sourcecontrols/DeleteSourceControl.json
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, MergeRequested

#26374 Rename log level num for dapr
  specification/web/resource-manager/Microsoft.Web/stable/2023-01-01/CommonDefinitions.json
  specification/web/resource-manager/readme.python.md
  specification/web/resource-manager/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#26390 NetworkWatcher resolve swagger model validation error (LRO) in example files for pipeline run failure.
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/NetworkWatcherConnectionMonitorDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/NetworkWatcherConnectionMonitorStart.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/NetworkWatcherConnectionMonitorStop.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/NetworkWatcherDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/NetworkWatcherFlowLogDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/NetworkWatcherPacketCaptureDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/NetworkWatcherPacketCaptureStop.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#26391 java mgmt applicationinsights, input file for releasing stable version
  specification/applicationinsights/resource-manager/readme.java.md
  specification/applicationinsights/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#26219 [Search] Fix 10-01-Preview and 11-01 GA swaggers
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceCreateIndex.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceCreateOrUpdateIndex.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceGetIndex.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/searchservice.json
  specification/search/data-plane/Azure.Search/stable/2023-11-01/searchservice.json
Labels: Approved-BreakingChange, data-plane

#26434 Synapse Oct. release exclude credential APIs
  specification/synapse/data-plane/readme.md
Labels: data-plane
