Repository Azure/azure-rest-api-specs, pull requests merged in 2023-02, with the labels that each got.

#22354 [Hub Generated] Publish private branch 'dev-msi-Microsoft.ManagedIdentity-2018-11-30'
  specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2023-01-31/ManagedIdentity.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2023-01-31/examples/FederatedIdentityCredentialCreate.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2023-01-31/examples/FederatedIdentityCredentialDelete.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2023-01-31/examples/FederatedIdentityCredentialGet.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2023-01-31/examples/FederatedIdentityCredentialList.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2023-01-31/examples/IdentityCreate.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2023-01-31/examples/IdentityDelete.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2023-01-31/examples/IdentityGet.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2023-01-31/examples/IdentityListByResourceGroup.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2023-01-31/examples/IdentityListBySubscription.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2023-01-31/examples/IdentityUpdate.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2023-01-31/examples/MsiOperationsList.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2023-01-31/examples/SystemAssignedIdentityGet.json
  specification/msi/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, ARMReview, resource-manager, ReadyForApiTest, new-api-version

#21895 Azure Databricks Adding Support for GA API Version
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-02-01/databricks.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-02-01/examples/DisableEncryption.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-02-01/examples/EnableEncryption.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-02-01/examples/ListPrivateEndpointConnections.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-02-01/examples/ListPrivateLinkResources.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-02-01/examples/OperationsList.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-02-01/examples/OutboundNetworkDependenciesEndpointsList.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-02-01/examples/PrepareEncryption.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-02-01/examples/PrivateEndpointConnectionsDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-02-01/examples/PrivateEndpointConnectionsGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-02-01/examples/PrivateEndpointConnectionsUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-02-01/examples/PrivateLinkResourcesGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-02-01/examples/WorkspaceCreate.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-02-01/examples/WorkspaceCreateWithParameters.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-02-01/examples/WorkspaceDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-02-01/examples/WorkspaceGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-02-01/examples/WorkspaceGetParameters.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-02-01/examples/WorkspaceManagedDiskEncryptionCreate.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-02-01/examples/WorkspaceManagedDiskEncryptionGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-02-01/examples/WorkspaceManagedDiskEncryptionUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-02-01/examples/WorkspaceUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-02-01/examples/WorkspaceVirtualNetPeeringGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-02-01/examples/WorkspaceVirtualNetPeeringList.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-02-01/examples/WorkspaceVirtualNetworkPeeringCreateOrUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-02-01/examples/WorkspaceVirtualNetworkPeeringDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-02-01/examples/WorkspacesListByResourceGroup.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-02-01/examples/WorkspacesListBySubscription.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-02-01/vnetpeering.json
  specification/databricks/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit

#22365 Make auth status readonly
  specification/network/resource-manager/Microsoft.Network/stable/2022-09-01/examples/ExpressRouteCircuitARPTableList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-09-01/examples/ExpressRouteCircuitAuthorizationDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-09-01/examples/ExpressRouteCircuitConnectionDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-09-01/examples/ExpressRouteCircuitDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-09-01/examples/ExpressRouteCircuitPeeringDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-09-01/examples/ExpressRouteCircuitRouteTableList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-09-01/examples/ExpressRouteCircuitRouteTableSummaryList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-09-01/expressRouteCircuit.json
Labels: Network, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager

#22120 Swagger Correctness
  specification/synapse/common/v1/types.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/bigDataPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/CreateSqlPoolRestorePoints.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/DeleteSqlPoolWorkloadGroup.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/DeleteSqlPoolWorkloadGroupWorkloadClassifer.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/ExecuteSqlPoolVulnerabilityAssessmentScans.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/GetWorkspace.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/IntegrationRuntimes_GetStatus.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/KustoOperationsList.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/KustoPoolAttachedDatabaseConfigurationsDelete.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/KustoPoolDataConnectionValidation.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/KustoPoolDataConnectionsDelete.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/KustoPoolDatabasePrincipalAssignmentsDelete.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/KustoPoolDatabasesDelete.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/KustoPoolFollowerDatabasesDetach.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/KustoPoolLanguageExtensionsAdd.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/KustoPoolLanguageExtensionsRemove.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/KustoPoolPrincipalAssignmentsDelete.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/KustoPoolsDelete.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/KustoPoolsStart.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/KustoPoolsStop.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/examples/UpdateSqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/integrationRuntime.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/workspace.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/bigDataPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/CreateSqlPoolRestorePoints.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/DeleteSqlPoolWorkloadGroup.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/DeleteSqlPoolWorkloadGroupWorkloadClassifer.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/ExecuteSqlPoolVulnerabilityAssessmentScans.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/GetBigDataPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/GetLocationHeaderResultWithSqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/GetSqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/GetWorkspace.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/UpdateSqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/sqlPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/workspace.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-LintDiff, Synapses, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#22401 Update readme.python.md
  specification/storagemover/resource-manager/readme.python.md
Labels: resource-manager, RPaaS

#22355 {AzurePostgresql} fixes Azure/azure-rest-api-specs#22302 fix the regex for serverName property
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/common-types.json
  specification/postgresql/resource-manager/types/common-types.json
Labels: PostgreSQL, Approved-BreakingChange, CI-BreakingChange-Go, resource-manager, BreakingChangeReviewRequired

#22049 Add new API version for databox 2022-10-01
  custom-words.txt
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/databox.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/examples/AvailableSkusPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/examples/BookShipmentPickupPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/examples/JobMitigate.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/examples/JobsCancelPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/examples/JobsCreate.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/examples/JobsCreateDevicePassword.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/examples/JobsCreateDoubleEncryption.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/examples/JobsCreateExport.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/examples/JobsCreateWithUserAssignedIdentity.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/examples/JobsDelete.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/examples/JobsGet.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/examples/JobsGetCmk.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/examples/JobsGetCopyStuck.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/examples/JobsGetExport.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/examples/JobsGetWaitingForAction.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/examples/JobsList.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/examples/JobsListByResourceGroup.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/examples/JobsListCredentials.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/examples/JobsPatch.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/examples/JobsPatchCmk.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/examples/JobsPatchSystemAssignedToUserAssigned.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/examples/MarkDevicesShipped.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/examples/OperationsGet.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/examples/RegionConfiguration.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/examples/RegionConfigurationByResourceGroup.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/examples/ValidateAddressPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/examples/ValidateInputs.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-10-01/examples/ValidateInputsByResourceGroup.json
  specification/databox/resource-manager/readme.go.md
  specification/databox/resource-manager/readme.java.md
  specification/databox/resource-manager/readme.md
  specification/databox/resource-manager/readme.python.md
Labels: ARMSignedOff, customer-reported, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, CI-MissingBaseCommit

#22408 Fix PutRequestResponseScheme error
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/postgresqlhsc.json
  specification/postgresqlhsc/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager, BreakingChangeReviewRequired

#22415 Add newly required visibility flag
  specification/cognitiveservices/AnomalyDetector/multivariate/models.cadl
Labels: Cognitive Services

#22417 `@visibility` decorator to `deploymentId`
  specification/cognitiveservices/OpenAI.Inference/main.cadl
  specification/cognitiveservices/OpenAI.Inference/package-lock.json
  specification/cognitiveservices/OpenAI.Inference/package.json
Labels: Cognitive Services, Cadl

#22388 Update DocumentedDetected to object instead of string in Custom Healthcare
  dev/cognitiveservices/data-plane/Language/analyzetext.json
  dev/cognitiveservices/data-plane/Language/examples/text/SuccessfulCustomHealthcarePostRequest.json
  dev/cognitiveservices/data-plane/Language/examples/text/SuccessfulCustomHealthcareTaskStatusRequest.json
Labels: Cognitive Services, Approved-BreakingChange, CI-FixRequiredOnFailure, BreakingChangeReviewRequired

#22392 [Hub Generated] Review request for Microsoft.CostManagement to add version preview/2022-10-05-preview
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2022-10-05-preview/examples/settings-createOrUpdate.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2022-10-05-preview/settings.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, resource-manager

#22419 [Hub Generated] Review request for Microsoft.CostManagement to add version preview/2022-10-01-preview
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2022-10-01-preview/examples/settings-createOrUpdate.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2022-10-01-preview/settings.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, resource-manager

#22421 Update readme.python.md
  specification/msi/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, resource-manager

#22303 Swagger Correctness BigDataPool
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/bigDataPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/bigDataPool.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, Synapses, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#22422 Update readme.python.md
  specification/servicebus/resource-manager/readme.python.md
Labels: Service Bus, resource-manager

#22154 Dev keyvault microsoft.key vault 2022 02 01 preview swagger completeness
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/common.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/DeletedManagedHsm_Get.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/DeletedManagedHsm_List.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/DeletedManagedHsm_Purge.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/ManagedHsm_CreateOrUpdate.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/ManagedHsm_Delete.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/ManagedHsm_Get.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/ManagedHsm_ListByResourceGroup.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/ManagedHsm_ListBySubscription.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/ManagedHsm_ListPrivateEndpointConnectionsByResource.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/ManagedHsm_Update.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/ManagedHsm_checkMhsmNameAvailability.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/ManagedHsm_deletePrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/ManagedHsm_getPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/ManagedHsm_listPrivateLinkResources.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/ManagedHsm_putPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/checkVaultNameAvailability.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/createKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/createSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/createVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/createVaultWithNetworkAcls.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/deletePrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/deleteVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/getDeletedVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/getKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/getKeyVersion.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/getPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/getSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/getVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/listDeletedVaults.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/listKeyVersions.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/listKeys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/listOperations.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/listPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/listPrivateLinkResources.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/listSecrets.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/listVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/listVaultByResourceGroup.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/listVaultBySubscription.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/purgeDeletedVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/putPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/updateAccessPoliciesAdd.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/updateSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/examples/updateVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/keys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/keyvault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/managedHsm.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/providers.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/secrets.json
  specification/keyvault/resource-manager/readme.md
Labels: KeyVault, ARMSignedOff, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, ARMReview, resource-manager, SuppressionReviewRequired, new-api-version, CI-MissingBaseCommit

#22352 Fix Runbook Name patter as per public doc
  specification/automation/resource-manager/Microsoft.Automation/stable/2022-08-08/runbook.json
Labels: Approved-OkToMerge, Automation, customer-reported, Approved-BreakingChange, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, resource-manager, BreakingChangeReviewRequired

#22255 Adding StandardSSD_LRS as a valid Storage Account Type to TargetExtendedLocations
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2021-10-01/gallery.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-01-03/gallery.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-03-03/gallery.json
Labels: Compute, Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, Approved-SdkBreakingChange-Go, resource-manager

#22404 Sync authType and containerUri in BlobService From DataFactory To Synapse
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
Labels: Approved-BreakingChange, Synapses, data-plane, NewApiVersionRequired

#22339 Fix S360 swagger error, certificateId not required
  specification/app/resource-manager/Microsoft.App/preview/2022-01-01-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ContainerApps_ListCustomHostNameAnalysisErrorResponse.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/ContainerApps.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, FixS360, resource-manager

#19882 [Hub Generated] Publish private branch 'user/jimmyca/fixAppConfigSpec'
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/appconfiguration.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/ConfigurationStoresDelete.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/ConfigurationStoresDeleteKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/ConfigurationStoresDeletePrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/ConfigurationStoresListKeyValues.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/ConfigurationStoresUpdatePrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/DeletedConfigurationStoresPurge.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2022-05-01/examples/OperationsList.json
  specification/appconfiguration/resource-manager/readme.md
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired, SuppressionReviewRequired

#22437 Update Reservation details description
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/consumption.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#20839 [Hub Generated] Review request for Microsoft.KeyVault to add version stable/2022-11-01
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/common.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/DeletedManagedHsm_Get.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/DeletedManagedHsm_List.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/DeletedManagedHsm_Purge.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/ManagedHsm_CreateOrUpdate.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/ManagedHsm_Delete.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/ManagedHsm_Get.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/ManagedHsm_ListByResourceGroup.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/ManagedHsm_ListBySubscription.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/ManagedHsm_ListPrivateEndpointConnectionsByResource.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/ManagedHsm_Update.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/ManagedHsm_checkMhsmNameAvailability.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/ManagedHsm_deletePrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/ManagedHsm_getPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/ManagedHsm_listPrivateLinkResources.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/ManagedHsm_putPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/checkVaultNameAvailability.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/createKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/createSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/createVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/createVaultWithNetworkAcls.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/deletePrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/deleteVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/getDeletedVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/getKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/getKeyVersion.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/getPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/getSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/getVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/listDeletedVaults.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/listKeyVersions.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/listKeys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/listOperations.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/listPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/listPrivateLinkResources.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/listSecrets.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/listVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/listVaultByResourceGroup.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/listVaultBySubscription.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/managedHsmCreateKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/managedHsmGetKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/managedHsmGetKeyVersion.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/managedHsmListKeyVersions.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/managedHsmListKeys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/purgeDeletedVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/putPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/updateAccessPoliciesAdd.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/updateSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/examples/updateVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/keys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/keysManagedHsm.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/keyvault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/managedHsm.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/providers.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/secrets.json
  specification/keyvault/resource-manager/readme.md
Labels: KeyVault, ARMSignedOff, CI-BreakingChange-Go, Approved-ModelValidation, CI-BreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, SuppressionReviewRequired, new-api-version

#22438 [Hub Generated] Publish private branch 'datafactory/v-jinpan/SHIR'
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/IntegrationRuntime.json
Labels: Approved-OkToMerge, Data Factory, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager, NewApiVersionRequired

#22259 Fix runningOperationIds data type
  specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/networkWatcher.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/networkWatcher.json
Labels: Network, Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, resource-manager, BreakingChangeReviewRequired

#22443 [Hub Generated] Publish private branch 'datafactory/yangcai/container-uri-authentication-type-added'
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
Labels: Data Factory, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager, NewApiVersionRequired

#22350 update typescript.md in dataprotection
  specification/dataprotection/resource-manager/readme.typescript.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#22449 Removing `Models` namespace from C# classes
  specification/cognitiveservices/OpenAI.Inference/cadl-project.yaml
Labels: Cognitive Services

#22439 AOAI: fix CompletionsUsage model
  specification/cognitiveservices/OpenAI.Inference/models/completions.create.cadl
Labels: Cognitive Services, Cadl

#22364 OpenAI Preview
  specification/cognitiveservices/OpenAI.Authoring/README.md
  specification/cognitiveservices/OpenAI.Authoring/cadl-output/2022-06-01-preview/openapi.json
  specification/cognitiveservices/OpenAI.Authoring/cadl-output/openapi.json
  specification/cognitiveservices/OpenAI.Authoring/cadl-project.yaml
  specification/cognitiveservices/OpenAI.Authoring/common.cadl
  specification/cognitiveservices/OpenAI.Authoring/deployment.cadl
  specification/cognitiveservices/OpenAI.Authoring/file.cadl
  specification/cognitiveservices/OpenAI.Authoring/finetune.cadl
  specification/cognitiveservices/OpenAI.Authoring/main.cadl
  specification/cognitiveservices/OpenAI.Authoring/model.routes.cadl
  specification/cognitiveservices/OpenAI.Authoring/models/deployment.models.cadl
  specification/cognitiveservices/OpenAI.Authoring/models/file.models.cadl
  specification/cognitiveservices/OpenAI.Authoring/models/finetune.models.cadl
  specification/cognitiveservices/OpenAI.Authoring/models/model.models.cadl
  specification/cognitiveservices/OpenAI.Authoring/package-lock.json
  specification/cognitiveservices/OpenAI.Authoring/package.json
  specification/cognitiveservices/OpenAI.Authoring/serviceCustomizations.cadl
  specification/cognitiveservices/OpenAI.Authoring/swagger-to-cadl.sh
  specification/cognitiveservices/OpenAI.Inference/README.md
  specification/cognitiveservices/OpenAI.Inference/cadl-project.yaml
  specification/cognitiveservices/OpenAI.Inference/main.cadl
  specification/cognitiveservices/OpenAI.Inference/models/completions.create.cadl
  specification/cognitiveservices/OpenAI.Inference/models/embeddings.create.cadl
  specification/cognitiveservices/OpenAI.Inference/package-lock.json
  specification/cognitiveservices/OpenAI.Inference/package.json
  specification/cognitiveservices/OpenAI.Inference/routes.cadl
Labels: Cognitive Services, DataPlane, CI-FixRequiredOnFailure, Cadl, new-api-version, CI-MissingBaseCommit

#21916 Add container apps job specs
  custom-words.txt
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/Jobs.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/Job_CreateorUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/Job_Delete.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/Job_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/Job_ListSecrets.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/Job_Patch.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/Job_Start.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/Job_Stop.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/Jobs_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/Jobs_ListBySubscription.json
  specification/app/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, ARMReview, resource-manager, new-api-version, CI-MissingBaseCommit

#22465 MVAD, update cadl-project.yaml to include cadl-java emitter
  specification/cognitiveservices/AnomalyDetector/cadl-project.yaml
Labels: Cognitive Services

#22468 Added ExtendedLocation to IaasVMRestoreRequest
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/bms.json
Labels: Recovery Services Backup, resource-manager

#22457 Add support for State flag in Custom Rule
  specification/network/resource-manager/Microsoft.Network/stable/2022-09-01/examples/WafListAllPolicies.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-09-01/examples/WafListPolicies.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-09-01/examples/WafPolicyCreateOrUpdate.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-09-01/examples/WafPolicyDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-09-01/examples/WafPolicyGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-09-01/webapplicationfirewall.json
Labels: Network, Approved-BreakingChange, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#22414 Add Feature Store support for MachineLearningService in API Version 2022-12-01-preview
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-12-01-preview/machineLearningServices.json
Labels: Approved-BreakingChange, resource-manager, NewApiVersionRequired

#22423 Clean properties which are never used
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ManagedEnvironments_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ManagedEnvironments_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ManagedEnvironments_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ManagedEnvironments_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ManagedEnvironments_Patch.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#22418 Add ConfirmConsentCode to APIM RP
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2022-08-01/apimauthorizationproviders.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2022-08-01/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2022-08-01/examples/ApiManagementPostAuthorizationConfirmConsentCodeRequest.json
Labels: API Management, ARMSignedOff, Approved-BreakingChange, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired, 2022-08-01

#22483 Fixed swagger lint error in rpSoftDelete
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/bms.json
Labels: Recovery Services Backup, resource-manager

#21033 Service Fabric Managed Clusters - api version 2022-10-01-preview
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ApplicationDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ApplicationGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ApplicationListOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ApplicationPatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ApplicationPutOperation_example_max.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ApplicationPutOperation_example_min.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ApplicationTypeNameDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ApplicationTypeNameGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ApplicationTypeNameListOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ApplicationTypeNamePatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ApplicationTypeNamePutOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ApplicationTypeVersionDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ApplicationTypeVersionGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ApplicationTypeVersionListOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ApplicationTypeVersionPatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ApplicationTypeVersionPutOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/DeleteNodes_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/Long_running_operation_result.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/Long_running_operation_status_failed.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/Long_running_operation_status_succeeded.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ManagedClusterDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ManagedClusterGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ManagedClusterListByResourceGroupOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ManagedClusterListBySubscriptionOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ManagedClusterPatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ManagedClusterPutOperation_example_max.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ManagedClusterPutOperation_example_min.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ManagedClusterVersionGetByEnvironment_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ManagedClusterVersionGet_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ManagedClusterVersionListByEnvironment.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ManagedClusterVersionList_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/NodeTypeDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/NodeTypeGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/NodeTypeListOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/NodeTypePatchOperationAutoScale_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/NodeTypePatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/NodeTypePutOperationAutoScale_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/NodeTypePutOperationCustomImage_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/NodeTypePutOperationDedicatedHost_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/NodeTypePutOperationStateless_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/NodeTypePutOperation_example_max.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/NodeTypePutOperation_example_min.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/NodeTypeSkusListOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/Operations_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ReimageNodes_UD_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ReimageNodes_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/RestartNodes_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ServiceDeleteOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ServiceGetOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ServiceListOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ServicePatchOperation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ServicePutOperation_example_max.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/ServicePutOperation_example_min.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/managedAzResiliencyStatusPost_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/managedUnsupportedVMSizesGet_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/examples/managedUnsupportedVMSizesList_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/managedapplication.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/managedcluster.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2022-10-01-preview/nodetype.json
  specification/servicefabricmanagedclusters/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, SuppressionReviewRequired, new-api-version, CI-MissingBaseCommit

#22484 Remove generateConvenienceAPI parameter of openai
  specification/cognitiveservices/OpenAI.Inference/cadl-project.yaml
Labels: Cognitive Services

#22486 [Go] qumulo config readme.go.md
  specification/liftrqumulo/resource-manager/readme.go.md
  specification/liftrqumulo/resource-manager/readme.md
Labels: resource-manager, RPaaS

#22488 Renaming definitions from Bulk Jobs to Import Jobs
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2023-02-27-preview/digitaltwins.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2023-02-27-preview/examples/ImportJobCancel.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2023-02-27-preview/examples/ImportJobDelete.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2023-02-27-preview/examples/ImportJobGet.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2023-02-27-preview/examples/ImportJobList.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/preview/2023-02-27-preview/examples/ImportJobPut.json
Labels: Approved-BreakingChange, data-plane, BreakingChangeReviewRequired

#22495 Update rooms json examples according to new changes
  specification/communication/data-plane/Rooms/preview/2023-01-01-preview/examples/Rooms_AddParticipants.json
  specification/communication/data-plane/Rooms/preview/2023-01-01-preview/examples/Rooms_GetParticipants.json
  specification/communication/data-plane/Rooms/preview/2023-01-01-preview/examples/Rooms_RemoveAllParticipants.json
  specification/communication/data-plane/Rooms/preview/2023-01-01-preview/examples/Rooms_RemoveParticipants.json
  specification/communication/data-plane/Rooms/preview/2023-01-01-preview/examples/Rooms_UpdateParticipants.json
Labels: data-plane

#22498 Update participant collection
  specification/communication/data-plane/Rooms/preview/2023-01-01-preview/communicationservicesrooms.json
  specification/communication/data-plane/Rooms/preview/2023-01-01-preview/examples/Rooms_GetParticipants.json
Labels: data-plane

#20644 New api version for resource mover 2022-08-01
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2022-08-01/examples/MoveCollections_BulkRemove.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2022-08-01/examples/MoveCollections_Commit.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2022-08-01/examples/MoveCollections_Create.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2022-08-01/examples/MoveCollections_Delete.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2022-08-01/examples/MoveCollections_Discard.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2022-08-01/examples/MoveCollections_Get.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2022-08-01/examples/MoveCollections_InitiateMove.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2022-08-01/examples/MoveCollections_ListMoveCollectionsByResourceGroup.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2022-08-01/examples/MoveCollections_ListMoveCollectionsBySubscription.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2022-08-01/examples/MoveCollections_Prepare.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2022-08-01/examples/MoveCollections_ResolveDependencies.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2022-08-01/examples/MoveCollections_Update.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2022-08-01/examples/MoveResources_Create.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2022-08-01/examples/MoveResources_Delete.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2022-08-01/examples/MoveResources_Get.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2022-08-01/examples/MoveResources_List.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2022-08-01/examples/OperationsDiscovery_Get.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2022-08-01/examples/RequiredFor_Get.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2022-08-01/examples/UnresolvedDependencies_Get.json
  specification/resourcemover/resource-manager/Microsoft.Migrate/stable/2022-08-01/resourcemovercollection.json
  specification/resourcemover/resource-manager/readme.md
Labels: ARMSignedOff, customer-reported, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit

#22506 Fix LRO header model validation
  specification/network/resource-manager/Microsoft.Network/stable/2022-09-01/examples/ApplicationGatewayBackendHealthGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-09-01/examples/ApplicationGatewayBackendHealthTest.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-09-01/examples/ApplicationGatewayDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-09-01/examples/ApplicationGatewayPrivateEndpointConnectionDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-09-01/examples/ApplicationGatewayStart.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-09-01/examples/ApplicationGatewayStop.json
Labels: Network, customer-reported, CI-FixRequiredOnFailure, Approved-ModelValidation, CI-BreakingChange-JavaScript, resource-manager

#22435 Disambiguate names for HashiCorp
  specification/keyvault/data-plane/Microsoft.KeyVault/stable/7.4/certificates.json
  specification/keyvault/data-plane/Microsoft.KeyVault/stable/7.4/keys.json
  specification/keyvault/data-plane/readme.md
Labels: KeyVault, CI-FixRequiredOnFailure, Approved-ModelValidation, data-plane, BreakingChangeReviewRequired

#22494 [Rooms] Removed roomJoinPolicy and renamed RoleType to Role
  specification/communication/data-plane/Rooms/preview/2023-01-01-preview/communicationservicesrooms.json
  specification/communication/data-plane/Rooms/preview/2023-01-01-preview/examples/Rooms_CreateRoom.json
  specification/communication/data-plane/Rooms/preview/2023-01-01-preview/examples/Rooms_GetRoom.json
  specification/communication/data-plane/Rooms/preview/2023-01-01-preview/examples/Rooms_UpdateRoom.json
Labels: CI-FixRequiredOnFailure, data-plane

#22151 Add new status code for application gateway custom error page
  specification/network/resource-manager/Microsoft.Network/stable/2022-09-01/applicationGateway.json
Labels: Network, ARMSignedOff, customer-reported, Approved-BreakingChange, CI-FixRequiredOnFailure, Approved-ModelValidation, CI-BreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired

#22513 Added Title Property to RoomModel, CreateRoomRequest, UpdateRoomRequest
  specification/communication/data-plane/Rooms/preview/2023-01-01-preview/communicationservicesrooms.json
  specification/communication/data-plane/Rooms/preview/2023-01-01-preview/examples/Rooms_CreateRoom.json
  specification/communication/data-plane/Rooms/preview/2023-01-01-preview/examples/Rooms_GetRoom.json
  specification/communication/data-plane/Rooms/preview/2023-01-01-preview/examples/Rooms_UpdateRoom.json
Labels: data-plane

#22341 update Site schema with container app enviornment
  specification/web/resource-manager/Microsoft.Web/stable/2022-09-01/CommonDefinitions.json
Labels: Web Apps, CI-BreakingChange-Go, resource-manager

#22501 Rename Azure Database Migration Service to Azure Database Migration Service to Azure Database Migration Service (classic)
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/datamigration.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/Commands.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/Common.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/ConnectToSourceMySqlTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/ConnectToSourcePostgreSqlSyncTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/ConnectToSourceSqlServerTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/ConnectToTargetAzureDbForMySqlTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/ConnectToTargetAzureDbForPostgreSqlSyncTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/ConnectToTargetSqlDbTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/ConnectToTargetSqlMITask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/ConnectToTargetSqlMiSyncTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/ConnectToTargetSqlSqlDbSyncTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/Files.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/GetTdeCertificatesSqlTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/GetUserTablesMySqlTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/GetUserTablesSqlSyncTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/GetUserTablesSqlTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/MigrateMySqlAzureDbForMySqlOfflineTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/MigrateMySqlAzureDbForMySqlSyncTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/MigratePostgreSqlAzureDbForPostgreSqlSyncTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/MigrateSchemaSqlServerSqlDbTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/MigrateSqlServerSqlDbSyncTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/MigrateSqlServerSqlDbTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/MigrateSqlServerSqlMITask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/MigrateSqlServerSqlMiSyncTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/MigrateSsisTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/MigrationValidation.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/MongoDbTasks.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/OracleAzureDbPostgreSqlSyncTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/Projects.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/ResourceSkus.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/ServiceFeatureOCITask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/ServiceTasks.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/Services.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/Tasks.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/TasksCommon.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/ValidateMigrationInputSqlServerSqlMITask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/ValidateMigrationInputSqlServerSqlMiSyncTask.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2022-03-30-preview/definitions/ValidateSyncMigrationInputSqlServerTask.json
Labels: Data Migration, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, resource-manager

#22328 Update all variations of "MonitoringAccount" to "AzureMonitorWorkspaces"
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2021-06-03-preview/examples/AzureMonitorWorkspacesCreate.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2021-06-03-preview/examples/AzureMonitorWorkspacesDelete.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2021-06-03-preview/examples/AzureMonitorWorkspacesGet.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2021-06-03-preview/examples/AzureMonitorWorkspacesListByResourceGroup.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2021-06-03-preview/examples/AzureMonitorWorkspacesListBySubscription.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2021-06-03-preview/examples/AzureMonitorWorkspacesUpdate.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2021-06-03-preview/examples/OperationsGet.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2021-06-03-preview/monitoringAccounts_API.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2021-06-03-preview/operations_API.json
  specification/monitor/resource-manager/readme.go.md
Labels: Monitor, ARMSignedOff, Approved-BreakingChange, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired

#22410 DataBox Version upgrade-2022-12-01
  cSpell.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/databox.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/examples/AvailableSkusPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/examples/BookShipmentPickupPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/examples/JobMitigate.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/examples/JobsCancelPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/examples/JobsCreate.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/examples/JobsCreateDevicePassword.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/examples/JobsCreateDoubleEncryption.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/examples/JobsCreateExport.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/examples/JobsCreateWithUserAssignedIdentity.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/examples/JobsDelete.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/examples/JobsGet.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/examples/JobsGetCmk.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/examples/JobsGetCopyStuck.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/examples/JobsGetExport.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/examples/JobsGetWaitingForAction.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/examples/JobsList.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/examples/JobsListByResourceGroup.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/examples/JobsListCredentials.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/examples/JobsPatch.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/examples/JobsPatchCmk.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/examples/JobsPatchSystemAssignedToUserAssigned.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/examples/MarkDevicesShipped.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/examples/OperationsGet.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/examples/RegionConfiguration.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/examples/RegionConfigurationByResourceGroup.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/examples/ValidateAddressPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/examples/ValidateInputs.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/examples/ValidateInputsByResourceGroup.json
  specification/databox/resource-manager/readme.go.md
  specification/databox/resource-manager/readme.java.md
  specification/databox/resource-manager/readme.md
  specification/databox/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit

#22342 [Hub Generated] Publish private branch 'servicelinker/qianwens/118'
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2022-11-01-preview/servicelinker.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, resource-manager, RPaaS, BreakingChangeReviewRequired

#22451 Storage STG 87
  specification/storage/data-plane/Azure.Storage.Files.DataLake/preview/2021-06-08/DataLakeStorage.json
  specification/storage/data-plane/Microsoft.FileStorage/preview/2022-11-02/file.json
  specification/storage/data-plane/Microsoft.FileStorage/readme.md
Labels: Storage, Approved-BreakingChange, data-plane, BreakingChangeReviewRequired, new-api-version, CI-MissingBaseCommit

#22539 Revert all changes in the 2022-02-01 swagger
  specification/communication/data-plane/Rooms/preview/2022-02-01-preview/communicationservicesrooms.json
Labels: CI-FixRequiredOnFailure, data-plane

#22541 Update readme.python.md
  specification/commerce/resource-manager/readme.python.md
Labels: resource-manager

#22547 Update readme.python.md
  specification/commerce/resource-manager/readme.python.md
Labels: resource-manager

#22545 Update readme.python.md
  specification/databox/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#22548 Update readme.python.md
  specification/dns/resource-manager/readme.python.md
Labels: Network - DNS, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#22550 [Databoxedge] Update readme.python.md
  specification/databoxedge/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#22511 [Hub Generated] Publish private branch 'chrissmiller-devcenter-Microsoft.DevCenter-2023-01-01-preview'
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/devbox.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/devcenter.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/environments.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/Catalogs_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/Catalogs_ListByProject.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/DevBoxActions_Delay.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/DevBoxActions_DelayMultiple.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/DevBoxActions_DelayMultipleWithError.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/DevBoxActions_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/DevBoxActions_List.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/DevBoxActions_Skip.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/DevBoxes_Create.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/DevBoxes_Delete.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/DevBoxes_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/DevBoxes_GetRemoteConnection.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/DevBoxes_List.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/DevBoxes_ListByUserByProject.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/DevBoxes_Restart.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/DevBoxes_Start.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/DevBoxes_Stop.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/EnvironmentDefinitions_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/EnvironmentDefinitions_ListByCatalog.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/EnvironmentDefinitions_ListByProject.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/EnvironmentTypes_ListByProject.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/Environments_CreateByEnvironmentDefinition.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/Environments_Delete.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/Environments_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/Environments_ListByProject.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/Environments_ListByProjectByUser.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/Pools_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/Pools_List.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/Projects_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/Projects_ListByDevCenter.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/Schedules_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-01-01-preview/examples/Schedules_List.json
  specification/devcenter/data-plane/readme.md
Labels: CI-FixRequiredOnFailure, Approved-LintDiff, data-plane, new-api-version

#22476 DomainServices: Add default value for newly added "SyncScope" property
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2022-09-01/domainservices.json
  specification/domainservices/resource-manager/Microsoft.AAD/stable/2022-12-01/domainservices.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, FixS360, Approved-SdkBreakingChange-Go, resource-manager, BreakingChangeReviewRequired

#22279 Task 16820869: Remove subscription and resource group level test noti…
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-01-01/actionGroups_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-01-01/examples/createOrUpdateActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-01-01/examples/deleteActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-01-01/examples/enableReceiver.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-01-01/examples/getActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-01-01/examples/getTestNotificationsAtActionGroupResourceLevel.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-01-01/examples/listActionGroups.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-01-01/examples/patchActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-01-01/examples/postTestNotificationsAtActionGroupResourceLevel.json
  specification/monitor/resource-manager/readme.md
Labels: Monitor, Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-Avocado, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired, new-api-version, CI-MissingBaseCommit

#22537 [2022-08-01] Fix Linter Errors
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2022-08-01/apimanagement.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2022-08-01/apimapis.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2022-08-01/apimcontenttypes.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2022-08-01/apimdeletedservices.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2022-08-01/apimdeployment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2022-08-01/apimdocumentations.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2022-08-01/apimpolicyfragments.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2022-08-01/apimportalconfigs.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2022-08-01/apimproducts.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2022-08-01/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2022-08-01/examples/ApiManagementCreatePortalConfig.json
Labels: API Management, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired, 2022-08-01

#22566 [Edgeorder] Update readme.python.md
  specification/edgeorder/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#22567 [Kubernetesconfiguration] Update readme.python.md
  specification/kubernetesconfiguration/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#22568 [Appplatform] Update readme.python.md
  specification/appplatform/resource-manager/readme.python.md
Labels: DoNotMerge, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, ShiftLeftViolation, resource-manager

#22569 [ContainerRegistry] Update readme.python.md
  specification/containerregistry/resource-manager/readme.python.md
Labels: Container Registry, CI-BreakingChange-JavaScript, resource-manager

#22571 Update readme.python.md
  specification/databoxedge/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#22573 update python.md for multiapi packages
  specification/appconfiguration/resource-manager/readme.python.md
  specification/applicationinsights/resource-manager/readme.python.md
  specification/authorization/resource-manager/readme.python.md
  specification/compute/resource-manager/readme.python.md
  specification/containerservice/resource-manager/readme.python.md
  specification/digitaltwins/resource-manager/readme.python.md
  specification/eventhub/resource-manager/readme.python.md
  specification/extendedlocation/resource-manager/readme.python.md
  specification/iothub/resource-manager/readme.python.md
  specification/keyvault/resource-manager/readme.python.md
  specification/monitor/resource-manager/readme.python.md
  specification/msi/resource-manager/readme.python.md
  specification/network/resource-manager/readme.python.md
  specification/redhatopenshift/resource-manager/readme.python.md
  specification/resourcehealth/resource-manager/readme.python.md
  specification/resources/resource-manager/readme.python.md
  specification/security/resource-manager/readme.python.md
  specification/servicebus/resource-manager/readme.python.md
  specification/solutions/resource-manager/readme.python.md
  specification/storage/resource-manager/readme.python.md
  specification/web/resource-manager/readme.python.md
Labels: Compute, Network, Storage, KeyVault, Authorization, Event Hubs, Insights, Service Bus, Monitor, DoNotMerge, Web Apps, Container Service, IoTHub, ShiftLeftViolation

#22577 revert default API in python.md for containerservice
  specification/containerservice/resource-manager/readme.python.md
Labels: DoNotMerge, Container Service, ShiftLeftViolation, resource-manager

#22323 [Purview Workflow]Remove workflow dsar api
  cSpell.json
  specification/purview/data-plane/Azure.Analytics.Purview.Workflow/preview/2022-05-01-preview/examples/ClaimDSARTaskRequest.json
  specification/purview/data-plane/Azure.Analytics.Purview.Workflow/preview/2022-05-01-preview/examples/GetWorkflowTask.json
  specification/purview/data-plane/Azure.Analytics.Purview.Workflow/preview/2022-05-01-preview/examples/ListWorkflowTasks.json
  specification/purview/data-plane/Azure.Analytics.Purview.Workflow/preview/2022-05-01-preview/examples/ReleaseDSARTaskRequest.json
  specification/purview/data-plane/Azure.Analytics.Purview.Workflow/preview/2022-05-01-preview/examples/UpdateTaskRequest.json
  specification/purview/data-plane/Azure.Analytics.Purview.Workflow/preview/2022-05-01-preview/purviewWorkflow.json
Labels: Approved-BreakingChange, Purview, data-plane, BreakingChangeReviewRequired

#21581 media: fixing the Swagger Tag for consistency
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2020-05-01/streamingservice.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2021-06-01/streamingservice.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2021-11-01/streamingservice.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-08-01/streamingservice.json
Labels: Media Services, customer-reported, CI-FixRequiredOnFailure, Approved-ModelValidation, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager

#22589 Add required request body for patch room
  specification/communication/data-plane/Rooms/preview/2023-01-01-preview/communicationservicesrooms.json
  specification/communication/data-plane/Rooms/preview/2023-01-01-preview/examples/Rooms_UpdateRoom.json
Labels: CI-FixRequiredOnFailure, data-plane

#21026 [Hub Generated] Review request for Microsoft.Cache to add version preview/2022-11-01-preview
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2022-11-01-preview/examples/OperationsList.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2022-11-01-preview/examples/OperationsStatusGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2022-11-01-preview/examples/RedisEnterpriseCreate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2022-11-01-preview/examples/RedisEnterpriseDatabasesCreate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2022-11-01-preview/examples/RedisEnterpriseDatabasesCreateWithGeoReplication.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2022-11-01-preview/examples/RedisEnterpriseDatabasesDelete.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2022-11-01-preview/examples/RedisEnterpriseDatabasesExport.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2022-11-01-preview/examples/RedisEnterpriseDatabasesForceUnlink.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2022-11-01-preview/examples/RedisEnterpriseDatabasesGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2022-11-01-preview/examples/RedisEnterpriseDatabasesImport.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2022-11-01-preview/examples/RedisEnterpriseDatabasesListByCluster.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2022-11-01-preview/examples/RedisEnterpriseDatabasesListKeys.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2022-11-01-preview/examples/RedisEnterpriseDatabasesRegenerateKey.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2022-11-01-preview/examples/RedisEnterpriseDatabasesUpdate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2022-11-01-preview/examples/RedisEnterpriseDelete.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2022-11-01-preview/examples/RedisEnterpriseDeletePrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2022-11-01-preview/examples/RedisEnterpriseGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2022-11-01-preview/examples/RedisEnterpriseGetPrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2022-11-01-preview/examples/RedisEnterpriseList.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2022-11-01-preview/examples/RedisEnterpriseListByResourceGroup.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2022-11-01-preview/examples/RedisEnterpriseListPrivateEndpointConnections.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2022-11-01-preview/examples/RedisEnterpriseListPrivateLinkResources.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2022-11-01-preview/examples/RedisEnterprisePutPrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2022-11-01-preview/examples/RedisEnterpriseSkusList.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2022-11-01-preview/examples/RedisEnterpriseUpdate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2022-11-01-preview/redisenterprise.json
  specification/redisenterprise/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, new-api-version

#19724 Dev storagecache microsoft.storage cache 2023 03 01 preview
  custom-words.txt
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/amlfilesystem.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/AscOperations_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/AscResourceUsages_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/Caches_CreateOrUpdate.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/Caches_CreateOrUpdate_ldap_only.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/Caches_DebugInfo.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/Caches_Delete.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/Caches_Flush.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/Caches_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/Caches_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/Caches_ListByResourceGroup.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/Caches_Start.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/Caches_Stop.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/Caches_Update.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/Caches_Update_ldap_only.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/Caches_UpgradeFirmware.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/Operations_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/PausePrimingJob.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/ResumePrimingJob.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/Skus_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/SpaceAllocation_Post.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/StartPrimingJob.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/StopPrimingJob.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/StorageTargets_CreateOrUpdate.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/StorageTargets_CreateOrUpdate_BlobNfs.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/StorageTargets_CreateOrUpdate_NoJunctions.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/StorageTargets_Delete.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/StorageTargets_DnsRefresh.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/StorageTargets_Flush.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/StorageTargets_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/StorageTargets_Invalidate.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/StorageTargets_ListByCache.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/StorageTargets_RestoreDefaults.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/StorageTargets_Resume.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/StorageTargets_Suspend.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/UsageModels_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/amlFilesystems_Archive.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/amlFilesystems_CancelArchive.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/amlFilesystems_CreateOrUpdate.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/amlFilesystems_Delete.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/amlFilesystems_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/amlFilesystems_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/amlFilesystems_ListByResourceGroup.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/amlFilesystems_Update.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/checkAmlFSSubnets.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/examples/getRequiredAmlFSSubnetsSize.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/preview/2023-03-01-preview/storagecache.json
  specification/storagecache/resource-manager/readme.md
Labels: Approved-OkToMerge, ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-LintDiff, CI-BreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired, new-api-version, CI-MissingBaseCommit

#22430 Api freshness variable changed
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/agfood.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/Extensions_CreateOrUpdate.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/Extensions_Get.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#21825 Sm long running operation
  custom-words.txt
  specification/maps/data-plane/Common/preview/1.0/common.json
  specification/maps/data-plane/Common/preview/2022-09-01-preview/common.json
  specification/maps/data-plane/Creator/preview/2.0/data.json
  specification/maps/data-plane/Creator/preview/2.0/dataset.json
  specification/maps/data-plane/Creator/preview/2.0/dwgconversion.json
  specification/maps/data-plane/Creator/preview/2.0/tileset.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/dataset.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/mapconfiguration.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/routeset.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/style.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/tileset.json
  specification/maps/data-plane/Microsoft.Maps/Data/preview/1.0/data.json
  specification/maps/data-plane/Microsoft.Maps/Data/preview/2.0/data.json
  specification/maps/data-plane/Microsoft.Maps/Dataset/preview/2.0/dataset.json
  specification/maps/data-plane/Microsoft.Maps/DwgConversion/preview/2.0/dwgconversion.json
  specification/maps/data-plane/Microsoft.Maps/Route/preview/1.0/examples/PostMatrixRouteCalculate.json
  specification/maps/data-plane/Microsoft.Maps/Route/preview/1.0/route.json
  specification/maps/data-plane/Microsoft.Maps/Search/preview/1.0/search.json
  specification/maps/data-plane/Microsoft.Maps/Spatial/preview/1.0/spatial.json
  specification/maps/data-plane/Microsoft.Maps/Tileset/preview/2.0/tileset.json
  specification/maps/data-plane/Microsoft.Maps/Traffic/preview/1.0/traffic.json
  specification/maps/data-plane/Route/preview/1.0/examples/PostRouteMatrix.json
  specification/maps/data-plane/Route/preview/1.0/route.json
  specification/maps/data-plane/Search/preview/1.0/search.json
Labels: CI-FixRequiredOnFailure, Approved-ModelValidation, Maps, data-plane

#22489 Description fix for OnlineDeployment GetLogs.
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2022-12-01-preview/mfe.json
Labels: CI-FixRequiredOnFailure, Approved-ModelValidation, CI-BreakingChange-JavaScript, resource-manager

#21191 [Hub Generated] Review request for Microsoft.Media/Streaming to add version stable/2022-11-01
  custom-words.txt
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/async-operation-result.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/liveevent-allocate.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/liveevent-create.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/liveevent-delete.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/liveevent-get-status.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/liveevent-get-stream-events.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/liveevent-get-track-events.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/liveevent-list-all.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/liveevent-list-by-name.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/liveevent-operation-location.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/liveevent-reset.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/liveevent-start.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/liveevent-stop.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/liveevent-update.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/liveoutput-create.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/liveoutput-delete.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/liveoutput-list-all.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/liveoutput-list-by-name.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/liveoutput-operation-location.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/streamingendpoint-create.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/streamingendpoint-delete.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/streamingendpoint-list-all.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/streamingendpoint-list-by-name.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/streamingendpoint-list-skus.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/streamingendpoint-operation-location.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/streamingendpoint-scale.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/streamingendpoint-start.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/streamingendpoint-stop.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/examples/streamingendpoint-update.json
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/scenarios/StreamingTests.yaml
  specification/mediaservices/resource-manager/Microsoft.Media/Streaming/stable/2022-11-01/streamingservice.json
  specification/mediaservices/resource-manager/readme.md
  specification/mediaservices/resource-manager/readme.test.md
Labels: Media Services, ARMSignedOff, DoNotMerge, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-LintDiff, CI-BreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, SuppressionReviewRequired, new-api-version

#22559 [Storage] Swagger fix for `x-ms-creation-time` header on blob download
  specification/storage/data-plane/Microsoft.BlobStorage/preview/2021-12-02/blob.json
Labels: Storage, data-plane

#22609 Update authorization description and remove format in Endpoint
  specification/communication/data-plane/Rooms/preview/2023-01-01-preview/communicationservicesrooms.json
Labels: data-plane

#22608 Updated Rooms API Specification Per Internal Review
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/communicationservicesrooms.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_AddParticipants.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_CreateRoom.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_DeleteRoom.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_GetParticipants.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_GetRoom.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_RemoveAllParticipants.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_RemoveParticipants.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_UpdateParticipants.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_UpdateRoom.json
  specification/communication/data-plane/Rooms/readme.md
Labels: CI-FixRequiredOnFailure, data-plane

#22621 Clean up and fix communication error in spec
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/communicationservicesrooms.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_DeleteRoom.json
Labels: CI-FixRequiredOnFailure, data-plane

#22218 Adding computerName, osName, osVersion and hyperVGeneration missing p…
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/virtualMachineScaleSet.json
Labels: Compute, customer-reported, Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, resource-manager, NewApiVersionRequired

#22627 [DataProtection] Update readme.python.md for update title
  specification/dataprotection/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#22416 Adding User Assigned MI Support for Azure Databricks Access Connector
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/accessconnector.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/AccessConnectorCreateOrUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/AccessConnectorCreateOrUpdateWithUserAssigned.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/AccessConnectorDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/AccessConnectorGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/AccessConnectorPatchUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/AccessConnectorsListByResourceGroup.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-10-01-preview/examples/AccessConnectorsListBySubscriptionId.json
  specification/databricks/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit

#22463 [Hub Generated] Review request for Microsoft.AlertsManagement to add version preview/2023-01-01-preview
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2023-01-01-preview/AlertRuleRecommendations.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2023-01-01-preview/examples/AlertRuleRecommendations_GetByResource_VM.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2023-01-01-preview/examples/AlertRuleRecommendations_GetBySubscription_VM.json
Labels: Approved-BreakingChange, Alerts Management, CI-BreakingChange-Go, resource-manager, BreakingChangeReviewRequired

#22618 Replace the legacy RecoverableDatabases with the latest version: 2022-08-01-preview in v5 SDK
  specification/sql/resource-manager/readme.md
Labels: SQL, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-Avocado, CI-BreakingChange-JavaScript, resource-manager

#22508 Update description of AAD
  custom-words.txt
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-03-01-preview/dataConnectors.json
Labels: CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager

#22349 [AgriFood] Adding Nov 2022 API version update with STAC Feature GET and Search APIs
  custom-words.txt
  specification/agrifood/data-plane/Microsoft.AgFoodPlatform/preview/2022-11-01-preview/agfood.json
  specification/agrifood/data-plane/Microsoft.AgFoodPlatform/preview/2022-11-01-preview/examples/Scenes_CreateSatelliteDataIngestionJob.json
  specification/agrifood/data-plane/Microsoft.AgFoodPlatform/preview/2022-11-01-preview/examples/Scenes_GetStacFeature.json
  specification/agrifood/data-plane/Microsoft.AgFoodPlatform/preview/2022-11-01-preview/examples/Scenes_List.json
  specification/agrifood/data-plane/Microsoft.AgFoodPlatform/preview/2022-11-01-preview/examples/Scenes_SearchFeatures.json
  specification/agrifood/data-plane/Microsoft.AgFoodPlatform/preview/2022-11-01-preview/examples/Sensors_CreateOrUpdate.json
  specification/agrifood/data-plane/Microsoft.AgFoodPlatform/preview/2022-11-01-preview/examples/Sensors_Get.json
  specification/agrifood/data-plane/Microsoft.AgFoodPlatform/preview/2022-11-01-preview/examples/Sensors_List.json
  specification/agrifood/data-plane/Microsoft.AgFoodPlatform/preview/2022-11-01-preview/examples/WeatherData_Get.json
Labels: Approved-BreakingChange, APIStewardshipBoard-SignedOff, data-plane, BreakingChangeReviewRequired

#22640 Removed Rooms Title
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/communicationservicesrooms.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_CreateRoom.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_GetRoom.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_UpdateRoom.json
Labels: data-plane

#22641 Add a new participant model with role as optional
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/communicationservicesrooms.json
Labels: data-plane

#22534 Update EG events guidelines
  specification/eventgrid/data-plane/readme.md
Labels: Event Grid, data-plane

#22591 EASM 2022-11-01-preview version.
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-11-01-preview/easm.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-11-01-preview/examples/Assets_Get.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-11-01-preview/examples/Assets_List.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-11-01-preview/examples/Assets_Update.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-11-01-preview/examples/DiscoveryGroups_Delete.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-11-01-preview/examples/DiscoveryGroups_Get.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-11-01-preview/examples/DiscoveryGroups_List.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-11-01-preview/examples/DiscoveryGroups_ListRuns.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-11-01-preview/examples/DiscoveryGroups_Put.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-11-01-preview/examples/DiscoveryGroups_Run.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-11-01-preview/examples/DiscoveryGroups_Validate.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-11-01-preview/examples/DiscoveryTemplates_Get.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-11-01-preview/examples/DiscoveryTemplates_List.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-11-01-preview/examples/Reports_Billable.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-11-01-preview/examples/Reports_Snapshot.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-11-01-preview/examples/Reports_Summary_Assets.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-11-01-preview/examples/Reports_Summary_Assets_GroupBy.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-11-01-preview/examples/Reports_Summary_Assets_GroupBy_SegmentBy.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-11-01-preview/examples/Reports_Summary_MetricCategories.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-11-01-preview/examples/Reports_Summary_Metrics.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-11-01-preview/examples/SavedFilters_Delete.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-11-01-preview/examples/SavedFilters_Get.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-11-01-preview/examples/SavedFilters_List.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-11-01-preview/examples/SavedFilters_Put.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-11-01-preview/examples/Tasks_Cancel.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-11-01-preview/examples/Tasks_Get.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2022-11-01-preview/examples/Tasks_List.json
  specification/riskiq/data-plane/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, RPaaS, new-api-version, CI-MissingBaseCommit

#22322 Add missing Entity Types and Relation Types
  dev/cognitiveservices/data-plane/Language/analyzetext.json
Labels: Cognitive Services, Approved-BreakingChange, BreakingChangeReviewRequired

#22240 2022-06-01 version for pricesheets and operations API
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2022-06-01/consumption.pricesheets.operations.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2022-06-01/examples/OperationList.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2022-06-01/examples/PriceSheet.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2022-06-01/examples/PriceSheetExpand.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2022-06-01/examples/PriceSheetForBillingPeriod.json
  specification/consumption/resource-manager/readme.md
Labels: Reviewed-ChangesRequested, ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-LintDiff, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, new-api-version, CI-MissingBaseCommit

#22391 Advisor 2022 10 01
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-10-01/advisor.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-10-01/examples/CreateConfiguration.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-10-01/examples/CreateSuppression.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-10-01/examples/DeleteSuppression.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-10-01/examples/EmptyResponse.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-10-01/examples/GenerateRecommendations.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-10-01/examples/GetAdvisorScoreDetail.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-10-01/examples/GetRecommendationDetail.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-10-01/examples/GetRecommendationMetadataEntity.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-10-01/examples/GetSuppressionDetail.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-10-01/examples/ListAdvisorScore.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-10-01/examples/ListConfigurations.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-10-01/examples/ListRecommendationMetadata.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-10-01/examples/ListRecommendations.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-10-01/examples/ListSuppressions.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-10-01/examples/OperationsList.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2022-10-01/examples/Predict.json
  specification/advisor/resource-manager/readme.go.md
  specification/advisor/resource-manager/readme.md
Labels: Approved-OkToMerge, ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit

#22292 Update Microsoft.Sql ARM API with "format: arm-id" where appropriate and x-ms-secret where appropriate
  specification/sql/resource-manager/Microsoft.Sql/stable/2021-11-01/DatabaseExtensions.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2021-11-01/DatabaseSecurityAlertPolicies.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2021-11-01/DatabaseVulnerabilityAssessments.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2021-11-01/Databases.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2021-11-01/FailoverGroups.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2021-11-01/JobAgents.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2021-11-01/ManagedDatabases.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2021-11-01/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2021-11-01/ServerSecurityAlertPolicies.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2021-11-01/ServerVulnerabilityAssessments.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2021-11-01/Servers.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2021-11-01/SyncAgents.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2021-11-01/SyncGroups.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2021-11-01/SyncMembers.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2021-11-01/VirtualNetworkRules.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2021-11-01/examples/DatabaseSecurityAlertCreateMax.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2021-11-01/examples/DatabaseSecurityAlertCreateMin.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2021-11-01/examples/DatabaseSecurityAlertGet.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2021-11-01/examples/DatabaseSecurityAlertListByDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2021-11-01/examples/ServerSecurityAlertsCreateMax.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2021-11-01/examples/ServerSecurityAlertsCreateMin.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2021-11-01/examples/ServerSecurityAlertsGet.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2021-11-01/examples/ServerSecurityAlertsListByServer.json
Labels: SQL, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, FalsePositive-BreakingChange, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#22644 Adding new API version contract changes to 2023-03-01
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2023-03-01/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2023-03-01/examples/CreditSummaryByBillingProfile.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2023-03-01/examples/EventsListByBillingProfile.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2023-03-01/examples/LotsListByBillingProfile.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2023-03-01/examples/LotsListByCustomer.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2023-03-01/examples/LotsListByCustomerWithFilters.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#22614 mediaservices microsoft.media 2023 01 01: Add Minimum TLS Version property
  specification/mediaservices/resource-manager/Microsoft.Media/Accounts/stable/2023-01-01/Accounts.json
  specification/mediaservices/resource-manager/Microsoft.Media/Accounts/stable/2023-01-01/examples/accounts-check-name-availability.json
  specification/mediaservices/resource-manager/Microsoft.Media/Accounts/stable/2023-01-01/examples/accounts-delete.json
  specification/mediaservices/resource-manager/Microsoft.Media/Accounts/stable/2023-01-01/examples/accounts-get-by-name.json
  specification/mediaservices/resource-manager/Microsoft.Media/Accounts/stable/2023-01-01/examples/accounts-list-all-accounts.json
  specification/mediaservices/resource-manager/Microsoft.Media/Accounts/stable/2023-01-01/examples/accounts-list-media-edge-policies.json
  specification/mediaservices/resource-manager/Microsoft.Media/Accounts/stable/2023-01-01/examples/accounts-subscription-list-all-accounts.json
  specification/mediaservices/resource-manager/Microsoft.Media/Accounts/stable/2023-01-01/examples/accounts-sync-storage-keys.json
  specification/mediaservices/resource-manager/Microsoft.Media/Accounts/stable/2023-01-01/examples/async-accounts-create-managed-identity.json
  specification/mediaservices/resource-manager/Microsoft.Media/Accounts/stable/2023-01-01/examples/async-accounts-create.json
  specification/mediaservices/resource-manager/Microsoft.Media/Accounts/stable/2023-01-01/examples/async-accounts-update.json
  specification/mediaservices/resource-manager/Microsoft.Media/Accounts/stable/2023-01-01/examples/media-service-operation-result-by-id.json
  specification/mediaservices/resource-manager/Microsoft.Media/Accounts/stable/2023-01-01/examples/media-service-operation-status-by-id-non-terminal-state-failed.json
  specification/mediaservices/resource-manager/Microsoft.Media/Accounts/stable/2023-01-01/examples/media-service-operation-status-by-id-non-terminal-state.json
  specification/mediaservices/resource-manager/Microsoft.Media/Accounts/stable/2023-01-01/examples/media-service-operation-status-by-id-terminal-state.json
  specification/mediaservices/resource-manager/Microsoft.Media/Accounts/stable/2023-01-01/examples/operations-list-all.json
  specification/mediaservices/resource-manager/Microsoft.Media/Accounts/stable/2023-01-01/examples/private-endpoint-connection-delete.json
  specification/mediaservices/resource-manager/Microsoft.Media/Accounts/stable/2023-01-01/examples/private-endpoint-connection-get-by-name.json
  specification/mediaservices/resource-manager/Microsoft.Media/Accounts/stable/2023-01-01/examples/private-endpoint-connection-list.json
  specification/mediaservices/resource-manager/Microsoft.Media/Accounts/stable/2023-01-01/examples/private-endpoint-connection-put.json
  specification/mediaservices/resource-manager/Microsoft.Media/Accounts/stable/2023-01-01/examples/private-link-resources-get-by-name.json
  specification/mediaservices/resource-manager/Microsoft.Media/Accounts/stable/2023-01-01/examples/private-link-resources-list.json
  specification/mediaservices/resource-manager/Microsoft.Media/Accounts/stable/2023-01-01/scenarios/AccountTests.yaml
  specification/mediaservices/resource-manager/readme.md
  specification/mediaservices/resource-manager/readme.test.md
Labels: Media Services, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit

#22426 Fix S360 certificateId not required.
  specification/app/resource-manager/Microsoft.App/preview/2022-01-01-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/examples/ContainerApps_GetAuthToken.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/examples/ContainerApps_ListCustomHostNameAnalysisErrorResponse.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/ContainerApps.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#22578 [Hub Generated] Review request for Microsoft.AzureStackHCI to add version stable/2023-02-01
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/arcSettings.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/clusters.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/CreateArcIdentity.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/CreateCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/CreateClusterIdentity.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/DeleteArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/DeleteCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/DeleteExtension.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/DeleteUpdateRuns.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/DeleteUpdateSummaries.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/DeleteUpdates.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/ExtendSoftwareAssuranceBenefit.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/Extensions_Upgrade.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/GeneratePassword.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/GetArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/GetCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/GetExtension.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/GetOffer.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/GetPublisher.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/GetSku.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/GetUpdateRuns.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/GetUpdateSummaries.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/GetUpdates.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/ListArcSettingsByCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/ListClustersByResourceGroup.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/ListClustersBySubscription.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/ListExtensionsByArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/ListOffersByCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/ListOffersByPublisher.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/ListOperations.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/ListPublishersByCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/ListSkusByOffer.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/ListUpdateRuns.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/ListUpdateSummaries.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/ListUpdates.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/PatchArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/PatchExtension.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/PostUpdates.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/PutArcSetting.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/PutExtension.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/PutUpdateRuns.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/PutUpdateSummaries.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/PutUpdates.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/UpdateCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/examples/UploadCertificate.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/extensions.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/offers.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/operations.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/publishers.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/skus.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/updateRuns.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/updateSummaries.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-02-01/updates.json
  specification/azurestackhci/resource-manager/readme.md
Labels: WaitForARMFeedback, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, RPaaS, new-api-version, ArcReview

#22617 Add managedResourceGroupTags to registries Feb 2023 Preview swagger
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/registries.json
Labels: CI-BreakingChange-JavaScript, resource-manager

#22479 [Hub Generated] Review request for Microsoft.ResourceHealth to add version preview/2022-10-01-preview
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-10-01-preview/ResourceHealth.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-10-01-preview/examples/AvailabilityStatus_GetByResource.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-10-01-preview/examples/AvailabilityStatuses_List.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-10-01-preview/examples/AvailabilityStatuses_ListByResourceGroup.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-10-01-preview/examples/AvailabilityStatuses_ListBySubscriptionId.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-10-01-preview/examples/EmergingIssues_Get.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-10-01-preview/examples/EmergingIssues_List.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-10-01-preview/examples/Event_GetBySubscriptionIdAndTrackingId.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-10-01-preview/examples/Event_GetByTenantIdAndTrackingId.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-10-01-preview/examples/Event_fetchDetailsBySubscriptionIdAndTrackingId.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-10-01-preview/examples/Event_fetchDetailsByTenantIdAndTrackingId.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-10-01-preview/examples/Events_ListBySingleResource.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-10-01-preview/examples/Events_ListBySubscriptionId.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-10-01-preview/examples/Events_ListByTenantId.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-10-01-preview/examples/ImpactedResources_Get.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-10-01-preview/examples/ImpactedResources_GetByTenantId.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-10-01-preview/examples/ImpactedResources_ListBySubscriptionId_ListByEventId.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-10-01-preview/examples/ImpactedResources_ListByTenantId_ListByEventId.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-10-01-preview/examples/Metadata_GetEntity.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-10-01-preview/examples/Metadata_List.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-10-01-preview/examples/Operations_List.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-10-01-preview/examples/SecurityAdvisoryImpactedResources_ListBySubscriptionId_ListByEventId.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2022-10-01-preview/examples/SecurityAdvisoryImpactedResources_ListByTenantId_ListByEventId.json
  specification/resourcehealth/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-Avocado, Approved-LintDiff, CI-BreakingChange-JavaScript, ARMReview, resource-manager, new-api-version

#22666 [python] rename generated sdk folder `loadtestservice` to `loadtesting`
  specification/loadtestservice/resource-manager/readme.python.md
Labels: Load Test Service, resource-manager, RPaaS

#22509 Fix missing resource id in application gateway list example
  specification/network/resource-manager/Microsoft.Network/stable/2022-09-01/examples/ApplicationGatewayList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-09-01/examples/ApplicationGatewayListAll.json
Labels: Network, customer-reported, CI-FixRequiredOnFailure, Approved-ModelValidation, CI-BreakingChange-JavaScript, resource-manager

#22651 createdDataTime replaced with createdAt
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/communicationservicesrooms.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_CreateRoom.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_GetRoom.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_UpdateRoom.json
Labels: data-plane

#22676 Remove Rooms 2023-01-01 version to clean up
  specification/communication/data-plane/Rooms/preview/2023-01-01-preview/communicationservicesrooms.json
  specification/communication/data-plane/Rooms/preview/2023-01-01-preview/examples/Rooms_AddParticipants.json
  specification/communication/data-plane/Rooms/preview/2023-01-01-preview/examples/Rooms_CreateRoom.json
  specification/communication/data-plane/Rooms/preview/2023-01-01-preview/examples/Rooms_DeleteRoom.json
  specification/communication/data-plane/Rooms/preview/2023-01-01-preview/examples/Rooms_GetParticipants.json
  specification/communication/data-plane/Rooms/preview/2023-01-01-preview/examples/Rooms_GetRoom.json
  specification/communication/data-plane/Rooms/preview/2023-01-01-preview/examples/Rooms_RemoveAllParticipants.json
  specification/communication/data-plane/Rooms/preview/2023-01-01-preview/examples/Rooms_RemoveParticipants.json
  specification/communication/data-plane/Rooms/preview/2023-01-01-preview/examples/Rooms_UpdateParticipants.json
  specification/communication/data-plane/Rooms/preview/2023-01-01-preview/examples/Rooms_UpdateRoom.json
Labels: data-plane

#22679 Update for compatibility with 0.40.0
  specification/cognitiveservices/AnomalyDetector/client.cadl
Labels: Cognitive Services, Cadl

#22680 Update to be compatible with 0.40.0
  specification/cognitiveservices/OpenAI.Inference/routes.cadl
Labels: Cognitive Services, Cadl

#22682 Remove bad examples
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_RemoveAllParticipants.json
Labels: data-plane

#22669 Add Swagger API changes required for progress-reporting related changes in DatabaseOperations
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/DatabaseOperations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/examples/ListDatabaseOperations.json
Labels: SQL, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#22159 Update Swagger for Static Web Apps database connections
  specification/web/resource-manager/Microsoft.Web/stable/2022-09-01/StaticSites.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-09-01/examples/CreateOrUpdateStaticSiteBuildDatabaseConnection.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-09-01/examples/CreateOrUpdateStaticSiteDatabaseConnection.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-09-01/examples/DeleteStaticSiteBuildDatabaseConnection.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-09-01/examples/DeleteStaticSiteDatabaseConnection.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-09-01/examples/GetStaticSiteBuildDatabaseConnection.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-09-01/examples/GetStaticSiteBuildDatabaseConnectionWithDetails.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-09-01/examples/GetStaticSiteBuildDatabaseConnections.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-09-01/examples/GetStaticSiteBuildDatabaseConnectionsWithDetails.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-09-01/examples/GetStaticSiteDatabaseConnection.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-09-01/examples/GetStaticSiteDatabaseConnectionWithDetails.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-09-01/examples/GetStaticSiteDatabaseConnections.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-09-01/examples/GetStaticSiteDatabaseConnectionsWithDetails.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-09-01/examples/PatchStaticSiteBuildDatabaseConnection.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-09-01/examples/PatchStaticSiteDatabaseConnection.json
Labels: ARMSignedOff, Web Apps, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#22623 Add necessary prerequisite to register the API
  specification/resources/resource-manager/Microsoft.Resources/stable/2020-01-01/subscriptions.json
Labels: CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, CI-BreakingChange-JavaScript, resource-manager

#22675 Traffic Controller - Updated examples
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/AssociationDelete.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/AssociationGet.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/AssociationPatch.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/AssociationPut.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/AssociationsGet.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/FrontendDelete.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/FrontendGet.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/FrontendPatch.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/FrontendPut.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/FrontendsGet.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/OperationsList.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/TrafficControllerDelete.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/TrafficControllerGet.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/TrafficControllerPatch.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/TrafficControllerPut.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/TrafficControllersGet.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/TrafficControllersGetList.json
Labels: resource-manager

#22652 Add properties for secrets from KV
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/ContainerApps.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager

#21643 [Hub Generated] Review request for Microsoft.DigitalTwins to add version stable/2023-01-31
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/digitaltwins.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/DigitalTwinsCheckNameAvailability_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/DigitalTwinsDelete_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/DigitalTwinsDelete_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/DigitalTwinsEndpointDelete_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/DigitalTwinsEndpointDelete_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/DigitalTwinsEndpointGet_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/DigitalTwinsEndpointGet_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/DigitalTwinsEndpointPut_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/DigitalTwinsEndpointPut_WithUserIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/DigitalTwinsEndpointPut_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/DigitalTwinsEndpointsGet_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/DigitalTwinsEndpointsGet_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/DigitalTwinsGet_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/DigitalTwinsGet_WithPrivateEndpointConnection_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/DigitalTwinsGet_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/DigitalTwinsListByResourceGroup_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/DigitalTwinsList_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/DigitalTwinsOperationsList_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/DigitalTwinsPatch_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/DigitalTwinsPatch_WithPublicNetworkAccess.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/DigitalTwinsPatch_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/DigitalTwinsPut_WithIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/DigitalTwinsPut_WithPublicNetworkAccess.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/DigitalTwinsPut_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/PrivateEndpointConnectionByConnectionName_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/PrivateEndpointConnectionDelete_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/PrivateEndpointConnectionPut_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/PrivateEndpointConnectionsList_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/PrivateLinkResourcesByGroupId_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/PrivateLinkResourcesList_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/TimeSeriesDatabaseConnectionsDelete_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/TimeSeriesDatabaseConnectionsGet_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/TimeSeriesDatabaseConnectionsList_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/TimeSeriesDatabaseConnectionsPut_WithUserIdentity_example.json
  specification/digitaltwins/resource-manager/Microsoft.DigitalTwins/stable/2023-01-31/examples/TimeSeriesDatabaseConnectionsPut_example.json
  specification/digitaltwins/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version

#22642 Update roleManagementAlertOperations properties
  custom-words.txt
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2022-08-01-preview/RoleManagementAlerts.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2022-08-01-preview/examples/GetAlertOperationById.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2022-08-01-preview/examples/GetAlertOperations.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2022-08-01-preview/examples/RefreshAlert.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2022-08-01-preview/examples/RefreshAllAlerts.json
Labels: Authorization, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager, BreakingChangeReviewRequired

#22700 Change batch to use package-2021-06-03-preview-only
  specification/monitor/resource-manager/readme.md
  specification/monitor/resource-manager/readme.python.md
Labels: Monitor, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#22507 {AzureConsumption} fixes Azure/azure-rest-api-specs#22446 tiny typo in description
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/consumption.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#22708 Update readme.python.md
  specification/storagemover/resource-manager/readme.python.md
Labels: resource-manager, RPaaS

#22709 update sample
  specification/storage/resource-manager/Microsoft.Storage/stable/2022-09-01/examples/BlobContainersDeleteImmutabilityPolicy.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2022-09-01/examples/BlobContainersExtendImmutabilityPolicy.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2022-09-01/examples/BlobContainersLockImmutabilityPolicy.json
Labels: Storage, CI-BreakingChange-JavaScript, resource-manager

#22711 Update readme.python.md
  specification/voiceservices/resource-manager/readme.python.md
Labels: DoNotMerge, ShiftLeftViolation, resource-manager, RPaaS

#22563 Moving Swagger to stable folder creating folder structure
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/NewRelic.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Accounts_List_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Accounts_List_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Monitors_CreateOrUpdate_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Monitors_Delete_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Monitors_Delete_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Monitors_GetMetricRules_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Monitors_GetMetricRules_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Monitors_GetMetricStatus_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Monitors_GetMetricStatus_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Monitors_Get_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Monitors_ListAppServices_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Monitors_ListAppServices_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Monitors_ListByResourceGroup_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Monitors_ListBySubscription_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Monitors_ListHosts_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Monitors_ListHosts_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Monitors_ListMonitoredResources_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Monitors_ListMonitoredResources_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Monitors_SwitchBilling_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Monitors_SwitchBilling_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Monitors_Update_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Monitors_VmHostPayload_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Monitors_VmHostPayload_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Operations_List_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Operations_List_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Organizations_List_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Organizations_List_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Plans_List_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Plans_List_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/TagRules_CreateOrUpdate_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/TagRules_CreateOrUpdate_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/TagRules_Delete_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/TagRules_Delete_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/TagRules_Get_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/TagRules_Get_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/TagRules_ListByNewRelicMonitorResource_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/TagRules_ListByNewRelicMonitorResource_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/TagRules_Update_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/TagRules_Update_MinimumSet_Gen.json
  specification/newrelic/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, Cadl, resource-manager, ReadyForApiTest, RPaaS, new-api-version, CI-MissingBaseCommit

#22168 Updating OperationResults Model and examples
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2020-05-12-preview/agfood.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2020-05-12-preview/examples/OperationResults_Get.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/agfood.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2021-09-01-preview/examples/OperationResults_Get.json
Labels: Approved-OkToMerge, ARMSignedOff, customer-reported, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired

#22325 [Hub Generated] Review request for Microsoft.ConfidentialLedger to add version preview/2023-01-26-preview
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-01-26-preview/confidentialledger.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-01-26-preview/examples/CheckNameAvailability.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-01-26-preview/examples/ConfidentialLedger_Create.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-01-26-preview/examples/ConfidentialLedger_Delete.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-01-26-preview/examples/ConfidentialLedger_Get.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-01-26-preview/examples/ConfidentialLedger_List.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-01-26-preview/examples/ConfidentialLedger_ListBySub.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-01-26-preview/examples/ConfidentialLedger_Update.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-01-26-preview/examples/ManagedCCF_Create.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-01-26-preview/examples/ManagedCCF_Delete.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-01-26-preview/examples/ManagedCCF_Get.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-01-26-preview/examples/ManagedCCF_List.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-01-26-preview/examples/ManagedCCF_ListBySub.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-01-26-preview/examples/ManagedCCF_Update.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-01-26-preview/examples/Operations_Get.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-01-26-preview/managedccf.json
  specification/confidentialledger/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version

#22701 [app-config] Update descriptions of the properties
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/preview/2022-11-01-preview/appconfiguration.json
Labels: data-plane

#22594 Add specs for start, stop & executions for Container Apps Jobs
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/Jobs.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/Job_Executions.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/Job_Start.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/Job_Stop_Execution.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/Job_Stop_Multiple.json
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#22702 Revert Standard_Basic sku type for Application Gateway
  specification/network/resource-manager/Microsoft.Network/stable/2022-07-01/applicationGateway.json
Labels: Network, customer-reported, Approved-BreakingChange, CI-FixRequiredOnFailure, Approved-ModelValidation, resource-manager, BreakingChangeReviewRequired

#22270 Ramoka/mgrp 0928 s360
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2021-04-01/examples/ListHierarchySettings.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2021-04-01/examples/ListManagementGroups.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2021-04-01/management.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, FixS360, resource-manager, BreakingChangeReviewRequired

#22718 [Hub Generated] Publish private branch 'main'
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-03-01-preview/examples/createOrUpdateTenantActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-03-01-preview/examples/deleteTenantActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-03-01-preview/examples/getTenantActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-03-01-preview/examples/listTenantActionGroups.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-03-01-preview/examples/patchTenantActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-03-01-preview/tenantActionGroups_API.json
  specification/monitor/resource-manager/readme.md
Labels: Monitor, ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-LintDiff, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, new-api-version

#22316 Purview Share V2 Specs - Data plane
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/examples/ReceivedShares_ActivateTenantEmailRegistration.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/examples/ReceivedShares_CreateOrReplace.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/examples/ReceivedShares_CreateOrReplaceAdlsGen2Account.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/examples/ReceivedShares_CreateOrReplaceBlobAccount.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/examples/ReceivedShares_Delete.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/examples/ReceivedShares_Get.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/examples/ReceivedShares_GetAdlsGen2Account.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/examples/ReceivedShares_GetBlobAccount.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/examples/ReceivedShares_ListAttached.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/examples/ReceivedShares_ListDetached.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/examples/ReceivedShares_RegisterTenantEmailRegistration.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/examples/SentShares_CreateInvitation.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/examples/SentShares_CreateOrReplace.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/examples/SentShares_CreateOrReplaceAdlsGen2Account.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/examples/SentShares_CreateOrReplaceBlobAccount.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/examples/SentShares_CreateServiceInvitation.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/examples/SentShares_CreateUserInvitation.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/examples/SentShares_Delete.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/examples/SentShares_DeleteInvitation.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/examples/SentShares_Get.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/examples/SentShares_GetAdlsGen2Account.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/examples/SentShares_GetBlobAccount.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/examples/SentShares_GetInvitation.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/examples/SentShares_GetServiceInvitation.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/examples/SentShares_GetUserInvitation.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/examples/SentShares_List.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/examples/SentShares_ListInvitations.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/examples/SentShares_NotifyUserInvitation.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-02-15-preview/share.json
  specification/purview/data-plane/readme.md
Labels: Approved-BreakingChange, APIStewardshipBoard-SignedOff, APIStewardship-ChangesRequested, Purview, data-plane, BreakingChangeReviewRequired

#22688 mount secret as volume arm changes
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/CommonDefinitions.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#22705 Update new API version
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-01-preview/examples/sqlVulnerabilityAssessmentScanOperations/ArcMachineScans_Get.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-01-preview/examples/sqlVulnerabilityAssessmentScanOperations/ArcMachineScans_GetLatest.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-01-preview/examples/sqlVulnerabilityAssessmentScanOperations/ArcMachineScans_List.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-01-preview/sqlVulnerabilityAssessmentsScanOperations.json
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#22456 updating to feb 2023 preview
  custom-words.txt
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Job/AutoMLJob/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Job/AutoMLJob/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Job/AutoMLJob/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Job/CommandJob/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Job/CommandJob/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Job/CommandJob/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Job/SweepJob/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Job/SweepJob/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Job/SweepJob/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Registry/DataContainer/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Registry/DataContainer/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Registry/DataContainer/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Registry/DataContainer/registryList.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Registry/DataVersionBase/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Registry/DataVersionBase/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Registry/DataVersionBase/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Registry/DataVersionBase/registryList.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Workspace/FeaturesetContainer/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Workspace/FeaturesetContainer/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Workspace/FeaturesetContainer/getEntity.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Workspace/FeaturesetContainer/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Workspace/FeaturesetVersion/backfill.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Workspace/FeaturesetVersion/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Workspace/FeaturesetVersion/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Workspace/FeaturesetVersion/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Workspace/FeaturesetVersion/getFeature.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Workspace/FeaturesetVersion/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Workspace/FeaturesetVersion/listFeatures.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Workspace/FeaturesetVersion/listMaterializationJobs.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Workspace/FeaturestoreEntityContainer/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Workspace/FeaturestoreEntityContainer/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Workspace/FeaturestoreEntityContainer/getEntity.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Workspace/FeaturestoreEntityContainer/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Workspace/FeaturestoreEntityVersion/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Workspace/FeaturestoreEntityVersion/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Workspace/FeaturestoreEntityVersion/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Workspace/FeaturestoreEntityVersion/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Workspace/ModelVersion/package.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/mfe.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-FixRequiredOnFailure, Approved-LintDiff, Approved-ModelValidation, CI-BreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired

#22628 Add flush rest api specs
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/examples/OperationsList.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/examples/OperationsStatusGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/examples/RedisEnterpriseCreate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/examples/RedisEnterpriseDatabasesCreate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/examples/RedisEnterpriseDatabasesCreateWithGeoReplication.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/examples/RedisEnterpriseDatabasesDelete.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/examples/RedisEnterpriseDatabasesExport.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/examples/RedisEnterpriseDatabasesFlush.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/examples/RedisEnterpriseDatabasesForceUnlink.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/examples/RedisEnterpriseDatabasesGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/examples/RedisEnterpriseDatabasesImport.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/examples/RedisEnterpriseDatabasesListByCluster.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/examples/RedisEnterpriseDatabasesListKeys.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/examples/RedisEnterpriseDatabasesRegenerateKey.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/examples/RedisEnterpriseDatabasesUpdate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/examples/RedisEnterpriseDelete.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/examples/RedisEnterpriseDeletePrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/examples/RedisEnterpriseGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/examples/RedisEnterpriseGetPrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/examples/RedisEnterpriseList.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/examples/RedisEnterpriseListByResourceGroup.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/examples/RedisEnterpriseListPrivateEndpointConnections.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/examples/RedisEnterpriseListPrivateLinkResources.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/examples/RedisEnterprisePutPrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/examples/RedisEnterpriseSkusList.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/examples/RedisEnterpriseUpdate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/redisenterprise.json
  specification/redisenterprise/resource-manager/readme.md
Labels: ARMSignedOff, CI-FixRequiredOnFailure, Approved-LintDiff, ARMReview, resource-manager, new-api-version, CI-MissingBaseCommit

#22736 [resources] Update readme.python.md
  specification/resources/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#22699 Renamed ShareFileRequestIntent and made it an extensible enum
  specification/storage/data-plane/Microsoft.FileStorage/preview/2022-11-02/file.json
Labels: Storage, Approved-BreakingChange, data-plane, BreakingChangeReviewRequired

#22593 Fix Encryption context documentation
  specification/storage/data-plane/Microsoft.StorageDataLake/stable/2019-12-12/DataLakeStorage.json
Labels: Storage, customer-reported, CI-FixRequiredOnFailure, data-plane, BreakingChangeReviewRequired

#22452 Update readme
  specification/riskiq/resource-manager/readme.md
  specification/riskiq/resource-manager/readme.python.md
Labels: resource-manager, RPaaS

#22723 Remove id field which is not part of this api
  specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/examples/ServerAdminCreateUpdate.json
Labels: Reviewed-ChangesRequested, SQL, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, CI-BreakingChange-JavaScript, resource-manager

#22715 Update Sql Vulnerability Assessment Scans API - Adding an additional property to the response
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/DatabaseSqlVulnerabilityAssessmentScans.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/SqlVulnerabilityAssessmentScans.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/examples/DatabaseSqlVulnerabilityAssessmentScan.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/examples/DatabaseSqlVulnerabilityAssessmentScanRecordsListByDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/examples/SqlVulnerabilityAssessmentScan.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/examples/SqlVulnerabilityAssessmentScanRecordsListByDatabase.json
Labels: Approved-OkToMerge, SQL, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#22722 [digitaltwins] Update autorest config for resource-management to include new API tag
  specification/digitaltwins/resource-manager/readme.go.md
  specification/digitaltwins/resource-manager/readme.java.md
  specification/digitaltwins/resource-manager/readme.md
  specification/digitaltwins/resource-manager/readme.python.md
Labels: resource-manager

#22588 ManagedNetwork Support and paramter parttern update for WorkspaceRP
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/machineLearningServices.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired

#22763 Update readme.python.md
  specification/voiceservices/resource-manager/readme.python.md
Labels: ShiftLeftViolation, resource-manager, RPaaS

#22706 Remove bing phishing feed msti connector
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-03-01-preview/dataConnectors.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-03-01-preview/examples/dataConnectors/CheckRequirementsMicrosoftThreatIntelligence.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-03-01-preview/examples/dataConnectors/CreateMicrosoftThreatIntelligenceDataConnector.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-03-01-preview/examples/dataConnectors/DeleteMicrosoftThreatIntelligenceDataConnector.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-03-01-preview/examples/dataConnectors/GetMicrosoftThreatIntelligenceById.json
Labels: customer-reported, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager
