Repository Azure/azure-rest-api-specs, pull requests merged in 2023-12, with the labels that each got.

#26894 Update readme.python.md
  specification/edgemarketplace/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS

#26910 Setting the response type for AttachDetach API spec to StorageProfile
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-09-01/examples/virtualMachineExamples/VirtualMachine_AttachDetachDataDisks_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-09-01/examples/virtualMachineExamples/VirtualMachine_AttachDetachDataDisks_MinimumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-09-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetVM_AttachDetachDataDisks_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-09-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetVM_AttachDetachDataDisks_MinimumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-09-01/virtualMachine.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-09-01/virtualMachineScaleSet.json
Labels: customer-reported, resource-manager

#26917 Update control_plane_template.md: improve guidance on getting help
  .github/PULL_REQUEST_TEMPLATE/control_plane_template.md
Labels: Central-EngSys

#26865 [Hub Generated] Publish private branch 'datafactory/dfandel/swagger_change'
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff, Approved-BreakingChange, ARMReview, resource-manager, ReadyForApiTest, NewApiVersionRequired

#26603 [Hub Generated] Review request for Microsoft.DevCenter to add version preview/2023-10-01-preview
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/devbox.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2023-10-01-preview/environments.json
Labels: Approved-BreakingChange, data-plane, BreakingChangeReviewRequired

#26612 [HDInsight] Update hilo examples
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-06-01-preview/examples/CreateAutoscaleCluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-06-01-preview/examples/GetCluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-06-01-preview/examples/ListClustersByClusterPoolName.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-06-01-preview/examples/PatchCluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-06-01-preview/examples/ResizeCluster.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#26017 [ACS - Chat] GA Attachments to ChatMessage
  specification/communication/data-plane/Chat/readme.md
  specification/communication/data-plane/Chat/stable/2023-11-07/communicationserviceschat.json
  specification/communication/data-plane/Chat/stable/2023-11-07/examples/Conversations_ListChatReadReceiptsWithPageSize.json
  specification/communication/data-plane/Chat/stable/2023-11-07/examples/Conversations_SendChatReadReceipt.json
  specification/communication/data-plane/Chat/stable/2023-11-07/examples/Messages_DeleteChatMessage.json
  specification/communication/data-plane/Chat/stable/2023-11-07/examples/Messages_GetChatMessage.json
  specification/communication/data-plane/Chat/stable/2023-11-07/examples/Messages_ListChatMessagesWithPageSize.json
  specification/communication/data-plane/Chat/stable/2023-11-07/examples/Messages_SendChatMessage.json
  specification/communication/data-plane/Chat/stable/2023-11-07/examples/Messages_SendTypingNotification.json
  specification/communication/data-plane/Chat/stable/2023-11-07/examples/Messages_UpdateChatMessage.json
  specification/communication/data-plane/Chat/stable/2023-11-07/examples/Participants_AddChatParticipants.json
  specification/communication/data-plane/Chat/stable/2023-11-07/examples/Participants_ListChatParticipantsWithPageSize.json
  specification/communication/data-plane/Chat/stable/2023-11-07/examples/Participants_RemoveChatParticipant.json
  specification/communication/data-plane/Chat/stable/2023-11-07/examples/Threads_CreateChatThread.json
  specification/communication/data-plane/Chat/stable/2023-11-07/examples/Threads_CreateChatThreadWithIdempotencyToken.json
  specification/communication/data-plane/Chat/stable/2023-11-07/examples/Threads_DeleteChatThread.json
  specification/communication/data-plane/Chat/stable/2023-11-07/examples/Threads_GetChatThread.json
  specification/communication/data-plane/Chat/stable/2023-11-07/examples/Threads_ListChatThreadsWithPageSize.json
  specification/communication/data-plane/Chat/stable/2023-11-07/examples/Threads_UpdateChatThreadTopic.json
Labels: APIStewardshipBoard-ReviewRequested, Approved-BreakingChange, APIStewardshipBoard-SignedOff, data-plane, BreakingChangeReviewRequired, new-api-version

#26900 Adding base commit for new API Preview Version 2023-07-31-preview
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2023-07-31-preview/ManagedIdentity.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2023-07-31-preview/examples/FederatedIdentityCredentialCreate.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2023-07-31-preview/examples/FederatedIdentityCredentialDelete.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2023-07-31-preview/examples/FederatedIdentityCredentialGet.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2023-07-31-preview/examples/FederatedIdentityCredentialList.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2023-07-31-preview/examples/IdentityCreate.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2023-07-31-preview/examples/IdentityDelete.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2023-07-31-preview/examples/IdentityGet.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2023-07-31-preview/examples/IdentityListByResourceGroup.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2023-07-31-preview/examples/IdentityListBySubscription.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2023-07-31-preview/examples/IdentityUpdate.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2023-07-31-preview/examples/MsiOperationsList.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2023-07-31-preview/examples/SystemAssignedIdentityGet.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2023-07-31-preview/examples/TokenRevocation.json
  specification/msi/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit, MergeRequested

#26670 fix example api version
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/GetApplicationGatewayWafDynamicManifests.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/GetApplicationGatewayWafDynamicManifestsDefault.json
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, MergeRequested

#26936 Update readme.python.md
  specification/network/resource-manager/readme.python.md
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager

#26721 [TypeSpec Validation] tsv folder path standardization
  eng/tools/typespec-validation/src/index.ts
  eng/tools/typespec-validation/src/rules/folder-structure.ts
  eng/tools/typespec-validation/src/rules/npm-prefix.ts
  eng/tools/typespec-validation/src/tsv-host.ts
  eng/tools/typespec-validation/src/tsv-runner-host.ts
  eng/tools/typespec-validation/src/utils.ts
  eng/tools/typespec-validation/test/emit-autorest.test.ts
  eng/tools/typespec-validation/test/folder-structure.test.ts
  eng/tools/typespec-validation/test/tsv-test-host.ts
  eng/tools/typespec-validation/test/util.test.ts
Labels: Central-EngSys

#26846 fix swagger definition.
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/IntegrationRuntime.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff, ShiftLeftViolation, ARMReview, resource-manager, data-plane, ReadyForApiTest, MergeRequested

#26820 Add the memory MB parameter for LocationCapabilities.json for 2023-08-01-preview api version
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-08-01-preview/LocationCapabilities.json
Labels: ARMSignedOff, customer-reported, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired, MergeRequested

#26817 [NetAppFiles] Update rest to 2023-07-01
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2023-07-01/netapp.json
  specification/netapp/resource-manager/readme.go.md
  specification/netapp/resource-manager/readme.java.md
  specification/netapp/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired, MergeRequested

#26635 Remove Azure.CodeSigning service from specifications
  specification/codesigning/CodeSigning/examples/2023-06-15-preview/CertificateProfileOperations_GetCodeSigningStatus.json
  specification/codesigning/CodeSigning/examples/2023-06-15-preview/CertificateProfileOperations_GetSignRootCertificate.json
  specification/codesigning/CodeSigning/examples/2023-06-15-preview/CertificateProfileOperations_ListSignEkus.json
  specification/codesigning/CodeSigning/examples/2023-06-15-preview/CertificateProfileOperations_Sign.json
  specification/codesigning/CodeSigning/main.tsp
  specification/codesigning/CodeSigning/tspconfig.yaml
  specification/codesigning/data-plane/Azure.CodeSigning/preview/2023-06-15-preview/azure.codesigning.json
  specification/codesigning/data-plane/Azure.CodeSigning/preview/2023-06-15-preview/examples/CertificateProfileOperations_GetCodeSigningStatus.json
  specification/codesigning/data-plane/Azure.CodeSigning/preview/2023-06-15-preview/examples/CertificateProfileOperations_GetSignRootCertificate.json
  specification/codesigning/data-plane/Azure.CodeSigning/preview/2023-06-15-preview/examples/CertificateProfileOperations_ListSignEkus.json
  specification/codesigning/data-plane/Azure.CodeSigning/preview/2023-06-15-preview/examples/CertificateProfileOperations_Sign.json
  specification/codesigning/data-plane/readme.md
Labels: Approved-BreakingChange

#26831 [PostgreSQL] Add 202 as valid response for PUT for Advanced Threat Protection API
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-06-01-preview/ThreatProtection.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-06-01-preview/examples/ServerThreatProtectionSettingsCreateOrUpdate.json
  specification/postgresql/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, FixS360, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, Approved-Suppression, SuppressionReviewRequired, MergeRequested

#26737 Azure OpenAI: TypeSpec updates for 2023-12-01-preview
  specification/cognitiveservices/OpenAI.Inference/client.tsp
  specification/cognitiveservices/OpenAI.Inference/client/custom_visibility.tsp
  specification/cognitiveservices/OpenAI.Inference/examples/2023-12-01-preview/audio_transcription_object.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-12-01-preview/audio_transcription_text.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-12-01-preview/audio_translation_object.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-12-01-preview/audio_translation_text.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-12-01-preview/chat_completions.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-12-01-preview/completions.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-12-01-preview/embeddings.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-12-01-preview/extensions_chat_completions_aml_index.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-12-01-preview/extensions_chat_completions_azure_search_advanced.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-12-01-preview/extensions_chat_completions_azure_search_image_vector.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-12-01-preview/extensions_chat_completions_azure_search_minimum.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-12-01-preview/extensions_chat_completions_cosmos_db.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-12-01-preview/extensions_chat_completions_elasticsearch.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-12-01-preview/extensions_chat_completions_pinecone.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-12-01-preview/get_image_operation_status.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-12-01-preview/image_generation.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-12-01-preview/start_generate_image.json
  specification/cognitiveservices/OpenAI.Inference/main.tsp
  specification/cognitiveservices/OpenAI.Inference/models/audio/audio_transcription.tsp
  specification/cognitiveservices/OpenAI.Inference/models/audio/audio_translation.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/azure_chat_extensions.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/azure_cognitive_search_options.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/azure_content_filtering.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/chat_completions.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/chat_messages.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/common.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/completions_create.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/extensions/oyd/authentication.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/extensions/oyd/azure_cognitive_search_options.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/extensions/oyd/azure_cosmosdb_options.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/extensions/oyd/azure_machinelearning_index_options.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/extensions/oyd/common_options.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/extensions/oyd/elasticsearch_options.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/extensions/oyd/pinecone_options.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/extensions/oyd/vector_search.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/functions.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/tools.tsp
  specification/cognitiveservices/OpenAI.Inference/models/images/common.tsp
  specification/cognitiveservices/OpenAI.Inference/models/images/images.tsp
  specification/cognitiveservices/OpenAI.Inference/routes/common.tsp
  specification/cognitiveservices/OpenAI.Inference/routes/images.tsp
  specification/cognitiveservices/OpenAI.Inference/tspconfig.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-06-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-07-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-08-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-12-01-preview/examples/get_image_operation_status.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-12-01-preview/examples/start_generate_image.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-12-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/stable/2023-05-15/generated.json
Labels: data-plane, BreakingChangeReviewRequired, OpenAI, TypeSpec

#26967 Azure OpenAI: 2023-12-01-preview TypeSpec fix for ChatMessageImageContentItem
  specification/cognitiveservices/OpenAI.Inference/models/completions/chat_messages.tsp
Labels: TypeSpec

#26799 Rearrange Parameters in mfe.json-Jan 2024 Preview
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/mfe.json
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, MergeRequested

#26701 Swagger Correctness missing Cache property
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/bigDataPool.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/bigDataPool.json
Labels: ARMSignedOff, customer-reported, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-LintDiff, Approved-ModelValidation, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired, MergeRequested

#26934 [Hub Generated] Publish private branch 'rbandi124-maintenance-Microsoft.Maintenance-2023-10-01-preview'
  custom-words.txt
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/Maintenance.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/ApplyUpdatesResourceGroup_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/ApplyUpdates_CreateOrUpdate.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/ApplyUpdates_CreateOrUpdateOnly_NoCancellation.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/ApplyUpdates_CreateOrUpdateParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/ApplyUpdates_CreateOrUpdate_CancelMaintenance.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/ApplyUpdates_Get.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/ApplyUpdates_GetParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/ApplyUpdates_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/ConfigurationAssignmentsForResourceGroup_CreateOrUpdate.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/ConfigurationAssignmentsForResourceGroup_Delete.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/ConfigurationAssignmentsForResourceGroup_Get.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/ConfigurationAssignmentsForResourceGroup_UpdateForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/ConfigurationAssignmentsForSubscriptions_CreateOrUpdate.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/ConfigurationAssignmentsForSubscriptions_Delete.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/ConfigurationAssignmentsForSubscriptions_Get.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/ConfigurationAssignmentsForSubscriptions_UpdateForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/ConfigurationAssignmentsResultWithinSubscription_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/ConfigurationAssignments_CreateOrUpdate.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/ConfigurationAssignments_CreateOrUpdateParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/ConfigurationAssignments_Delete.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/ConfigurationAssignments_DeleteParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/ConfigurationAssignments_Get.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/ConfigurationAssignments_GetParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/ConfigurationAssignments_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/ConfigurationAssignments_ListParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/MaintenanceConfigurationsResourceGroup_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/MaintenanceConfigurations_CreateOrUpdateForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/MaintenanceConfigurations_DeleteForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/MaintenanceConfigurations_GetForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/MaintenanceConfigurations_GetForResource_GuestOSPatchLinux.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/MaintenanceConfigurations_GetForResource_GuestOSPatchWindows.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/MaintenanceConfigurations_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/MaintenanceConfigurations_UpdateForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/Operations_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/PublicMaintenanceConfigurations_GetForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/PublicMaintenanceConfigurations_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/ScheduledEvents_Acknowledge.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/Updates_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/examples/Updates_ListParent.json
  specification/maintenance/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, MergeRequested

#26931 Review request for Migrate/Microsoft.Migrate to add a property in stable version 2023-03-15
  specification/migrate/resource-manager/Microsoft.Migrate/AssessmentProjects/stable/2023-03-15/examples/SqlAssessmentV2SummaryOperations_Get_MaximumSet_Gen.json
  specification/migrate/resource-manager/Microsoft.Migrate/AssessmentProjects/stable/2023-03-15/examples/SqlAssessmentV2SummaryOperations_ListBySqlAssessmentV2_MaximumSet_Gen.json
  specification/migrate/resource-manager/Microsoft.Migrate/AssessmentProjects/stable/2023-03-15/migrate.json
Labels: ARMSignedOff, Approved-BreakingChange, ARMReview, resource-manager, ReadyForApiTest, NewApiVersionRequired, MergeRequested

#26960 [OpenAI] Update type for ChatCompletionsNamedFunctionToolSelection.name
  specification/cognitiveservices/OpenAI.Inference/models/completions/tools.tsp
Labels: TypeSpec

#26995 STG93 Blob Swagger
  specification/storage/data-plane/Microsoft.BlobStorage/preview/2024-05-04/blob.json
Labels: data-plane

#26996 STG93 Blob Swagger Version Updates
  specification/storage/data-plane/Microsoft.BlobStorage/preview/2024-05-04/blob.json
  specification/storage/data-plane/Microsoft.BlobStorage/readme.md
Labels: data-plane

#26822 DataBox API Version Upgrade to 2023-12-01
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/databox.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/examples/AvailableSkusPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/examples/BookShipmentPickupPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/examples/JobMitigate.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/examples/JobsCancelPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/examples/JobsCreate.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/examples/JobsCreateDevicePassword.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/examples/JobsCreateDoubleEncryption.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/examples/JobsCreateExport.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/examples/JobsCreateWithUserAssignedIdentity.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/examples/JobsDelete.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/examples/JobsGet.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/examples/JobsGetCmk.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/examples/JobsGetCopyStuck.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/examples/JobsGetExport.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/examples/JobsGetWaitingForAction.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/examples/JobsList.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/examples/JobsListByResourceGroup.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/examples/JobsListCredentials.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/examples/JobsPatch.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/examples/JobsPatchCmk.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/examples/JobsPatchSystemAssignedToUserAssigned.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/examples/MarkDevicesShipped.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/examples/OperationsGet.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/examples/RegionConfiguration.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/examples/RegionConfigurationByResourceGroup.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/examples/ValidateAddressPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/examples/ValidateInputs.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2023-12-01/examples/ValidateInputsByResourceGroup.json
  specification/databox/resource-manager/readme.go.md
  specification/databox/resource-manager/readme.java.md
  specification/databox/resource-manager/readme.md
  specification/databox/resource-manager/readme.python.md
Labels: ARMSignedOff, customer-reported, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit, MergeRequested

#26974 Update readme.python.md
  specification/compute/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#26943 Add option for Application Configuration Service refresh interval
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/ConfigurationServices_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/ConfigurationServices_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/ConfigurationServices_List.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#26946 feat: Add Java 21
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/RuntimeVersions_ListRuntimeVersions.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#26933 add buildpacks version
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/BuildServiceBuilder_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/BuildServiceBuilder_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/BuildServiceBuilder_List.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#26600 [Hub Generated] Publish private branch 'davidcho23-resources-Microsoft.Resources-2023-11-01'
  custom-words.txt
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/bicepClient.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/DecompileBicep.json
  specification/resources/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-Avocado, Approved-LintDiff, Approved-SdkBreakingChange-Go, ARMReview, resource-manager, new-api-version, MergeRequested

#26854 Add "MakeBackupsImmutable" and "BackupStorageAccessTier" properties to LTRPolicies swagger file
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/LongTermRetentionBackups.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/LongTermRetentionPolicies.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/LongTermRetentionPolicyCreateOrUpdate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/LongTermRetentionPolicyGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/LongTermRetentionPolicyListByDatabase.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested

#26972 Updated privateEndpointNetworkPolicies Enums
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/virtualNetwork.json
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, Approved-LintDiff, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, MergeRequested

#26966 Update package dotnet sdk tag
  specification/security/resource-manager/readme.md
  specification/security/resource-manager/result.txt
  specification/security/resource-manager/tmp.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#27024 add arm resource type and remove the 204 response for async operations
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2023-12-01/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2023-12-01/examples/Services_FlushVnetDnsSetting.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#26993 [OpenAI] system_fingerprint is optional
  specification/cognitiveservices/OpenAI.Inference/models/completions/chat_completions.tsp
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-12-01-preview/generated.json
Labels: data-plane, TypeSpec

#27037 [TypeSpec] Upgrade azure-core and autorest to 0.37.1
  package-lock.json
  package.json
  specification/cognitiveservices/data-plane/HealthInsights/preview/2023-03-01-preview/openapi.json
Labels: Approved-BreakingChange, Approved-ModelValidation, data-plane, TypeSpec

#26733 Update Builds.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/Builds.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#26765 [Hub Generated] Review request for Microsoft.Kubernetes to add version stable/2024-01-01
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/stable/2024-01-01/connectedClusters.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/stable/2024-01-01/examples/ConnectedClustersListClusterCredentialResultCSPAAD.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/stable/2024-01-01/examples/ConnectedClustersListClusterCredentialResultCSPToken.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/stable/2024-01-01/examples/ConnectedClustersListClusterCredentialResultHPAAD.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/stable/2024-01-01/examples/ConnectedClustersListClusterCredentialResultHPToken.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/stable/2024-01-01/examples/CreateClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/stable/2024-01-01/examples/CreateClusterPrivateLinkExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/stable/2024-01-01/examples/CreateCluster_KindExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/stable/2024-01-01/examples/DeleteClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/stable/2024-01-01/examples/GetClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/stable/2024-01-01/examples/GetClustersByResourceGroupExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/stable/2024-01-01/examples/GetClustersBySubscriptionExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/stable/2024-01-01/examples/GetProvisionedClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/stable/2024-01-01/examples/ListConnectedClusterOperationsExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/stable/2024-01-01/examples/UpdateClusterExample.json
  specification/hybridkubernetes/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, MergeRequested

#26947 Enable NFS Azure file for managed environment
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/ManagedEnvironmentsStorages.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/ContainerApps_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/ContainerApps_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/Job_CreateorUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/Job_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/ManagedEnvironmentsStorages_CreateOrUpdate_NfsAzureFile.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/ManagedEnvironmentsStorages_Get_NfsAzureFile.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/ManagedEnvironmentsStorages_List.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#25499 [Hub Generated] Publish private branch 'et13-appconfiguration-Microsoft.AppConfiguration-2023-08-01-preview'
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/appconfiguration.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/CheckNameAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/CheckNameNotAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/ConfigurationStoresCreate.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/ConfigurationStoresCreateKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/ConfigurationStoresCreateReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/ConfigurationStoresCreateSnapshot.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/ConfigurationStoresCreateWithDataPlaneProxy.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/ConfigurationStoresCreateWithIdentity.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/ConfigurationStoresCreateWithLocalAuthDisabled.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/ConfigurationStoresDelete.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/ConfigurationStoresDeleteKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/ConfigurationStoresDeletePrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/ConfigurationStoresDeleteReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/ConfigurationStoresGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/ConfigurationStoresGetKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/ConfigurationStoresGetPrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/ConfigurationStoresGetReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/ConfigurationStoresGetSnapshot.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/ConfigurationStoresList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/ConfigurationStoresListByResourceGroup.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/ConfigurationStoresListKeys.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/ConfigurationStoresListPrivateEndpointConnections.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/ConfigurationStoresListReplicas.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/ConfigurationStoresRegenerateKey.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/ConfigurationStoresUpdate.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/ConfigurationStoresUpdateDisableLocalAuth.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/ConfigurationStoresUpdatePrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/ConfigurationStoresUpdateWithIdentity.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/DeletedConfigurationStoresGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/DeletedConfigurationStoresList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/DeletedConfigurationStoresPurge.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/OperationsList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/PrivateLinkResourceGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/PrivateLinkResourcesListByConfigurationStore.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/RegionalCheckNameAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-08-01-preview/examples/RegionalCheckNameNotAvailable.json
  specification/appconfiguration/resource-manager/readme.go.md
  specification/appconfiguration/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, Approved-Suppression, SuppressionReviewRequired, new-api-version, MergeRequested

#26978 [Hub Generated] Publish private branch 'junwg/CNV-API-1'
  custom-words.txt
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/create_consent.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/create_consent_with_multipart_form.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/create_endpoint.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/create_model.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/create_multi_style_model.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/create_personalvoice.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/create_personalvoice_with_multipart_form.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/create_project.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/create_trainingset.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/delete_consent.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/delete_endpoint.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/delete_model.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/delete_personalvoice.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/delete_project.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/delete_trainingset.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/get_base_models.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/get_consent.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/get_consents.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/get_endpoint.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/get_endpoints.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/get_model.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/get_models.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/get_operation.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/get_personalvoice.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/get_personalvoices.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/get_project.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/get_projects.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/get_recipes.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/get_trainingset.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/get_trainingsets.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/resume_endpoint.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/suspend_endpoint.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/upload_trainingset.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/texttospeech.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane

#24625 [Hub Generated] Review request for Microsoft.Security to add version stable/2024-01-01
  specification/security/resource-manager/Microsoft.Security/stable/2024-01-01/examples/Pricings/DeleteResourcePricing_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-01-01/examples/Pricings/GetPricingByNameCloudPosture_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-01-01/examples/Pricings/GetPricingByNameContainers_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-01-01/examples/Pricings/GetPricingByNameDns_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-01-01/examples/Pricings/GetPricingByNameStorageAccounts_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-01-01/examples/Pricings/GetPricingByNameVirtualMachines_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-01-01/examples/Pricings/GetResourcePricingByNameVirtualMachines_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-01-01/examples/Pricings/ListPricingsWithPlanFilter_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-01-01/examples/Pricings/ListPricings_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-01-01/examples/Pricings/ListResourcePricings_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-01-01/examples/Pricings/PutPricingByNamePartialSuccess_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-01-01/examples/Pricings/PutPricingByName_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-01-01/examples/Pricings/PutPricingVMsByName_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-01-01/examples/Pricings/PutResourcePricingByNameVirtualMachines_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-01-01/pricings.json
  specification/security/resource-manager/common/v1/types.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-Avocado, Approved-LintDiff, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired, Approved-Suppression, SuppressionReviewRequired, new-api-version

#27056 fixed private link resource get and list
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/PrivateLinkResources_Get.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/PrivateLinkResources_List.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/maps-management.json
Labels: CI-BreakingChange-JavaScript, resource-manager

#26694 [Hub Generated] Review request for Microsoft.OperationalInsights to add version stable/2023-09-01
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2023-09-01/Operations.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2023-09-01/Workspaces.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2023-09-01/examples/OperationsListByTenant.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2023-09-01/examples/WorkspacesCreate.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2023-09-01/examples/WorkspacesDelete.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2023-09-01/examples/WorkspacesGet.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2023-09-01/examples/WorkspacesListByResourceGroup.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2023-09-01/examples/WorkspacesSubscriptionList.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2023-09-01/examples/WorkspacesUpdate.json
  specification/operationalinsights/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, new-api-version, MergeRequested

#26698 [Hub Generated] Review request for Microsoft.OperationalInsights to add version stable/2022-10-01
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2022-10-01/Clusters.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2022-10-01/Tables.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2022-10-01/examples/ClustersCreate.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2022-10-01/examples/ClustersDelete.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2022-10-01/examples/ClustersGet.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2022-10-01/examples/ClustersListByResourceGroup.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2022-10-01/examples/ClustersSubscriptionList.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2022-10-01/examples/ClustersUpdate.json
  specification/operationalinsights/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested

#27041 Update language specific readme.md for 2024-01-01-preview api version
  specification/appplatform/resource-manager/readme.go.md
  specification/appplatform/resource-manager/readme.python.md
  specification/appplatform/resource-manager/readme.ruby.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#27063 Cherry latest stable branch change to preview API version
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/Apms_Delete.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/ApplicationAccelerators_Delete.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/ApplicationLiveView_Delete.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/BuildService_DeleteBuild.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/ContainerRegistries_Delete.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/CustomizedAccelerators_Delete.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/DevToolPortal_Delete.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/Services_FlushVnetDnsSetting.json
Labels: resource-manager

#27031 [SupportSubTechniques] - Add sub techniques to swagger.
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-12-01-preview/AlertRules.json
Labels: ARMSignedOff, customer-reported, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, resource-manager

#27070 [ServiceBus] correlationFilter properties should be type 'object'
  specification/servicebus/data-plane/Microsoft.ServiceBus/stable/2021-05/servicebus.json
Labels: Approved-BreakingChange, data-plane

#27046 move HealthInsights from CogServices to AI
  specification/ai/HealthInsights/.gitignore
  specification/ai/HealthInsights/HealthInsights.Common/model.common.request.tsp
  specification/ai/HealthInsights/HealthInsights.Common/model.common.response.tsp
  specification/ai/HealthInsights/HealthInsights.Common/model.common.shared.tsp
  specification/ai/HealthInsights/HealthInsights.Common/primitives.tsp
  specification/ai/HealthInsights/HealthInsights.OncoPhenotype/client.tsp
  specification/ai/HealthInsights/HealthInsights.OncoPhenotype/model.oncophenotype.tsp
  specification/ai/HealthInsights/HealthInsights.OncoPhenotype/route.oncophenotype.tsp
  specification/ai/HealthInsights/HealthInsights.OncoPhenotype/tspconfig.yaml
  specification/ai/HealthInsights/HealthInsights.OpenAPI/examples/2023-03-01-preview/SuccessfulOncoPhenotypeRequest.json
  specification/ai/HealthInsights/HealthInsights.OpenAPI/examples/2023-03-01-preview/SuccessfulOncoPhenotypeResponse.json
  specification/ai/HealthInsights/HealthInsights.OpenAPI/examples/2023-03-01-preview/SuccessfulTrialMatcherRequest.json
  specification/ai/HealthInsights/HealthInsights.OpenAPI/examples/2023-03-01-preview/SuccessfulTrialMatcherResponse.json
  specification/ai/HealthInsights/HealthInsights.OpenAPI/main.tsp
  specification/ai/HealthInsights/HealthInsights.OpenAPI/service.tsp
  specification/ai/HealthInsights/HealthInsights.OpenAPI/tspconfig.yaml
  specification/ai/HealthInsights/HealthInsights.TrialMatcher/client.tsp
  specification/ai/HealthInsights/HealthInsights.TrialMatcher/model.trialmatcher.tsp
  specification/ai/HealthInsights/HealthInsights.TrialMatcher/route.trialmatcher.tsp
  specification/ai/HealthInsights/HealthInsights.TrialMatcher/tspconfig.yaml
  specification/ai/HealthInsights/service.tsp
  specification/ai/data-plane/HealthInsights/preview/2023-03-01-preview/examples/SuccessfulOncoPhenotypeRequest.json
  specification/ai/data-plane/HealthInsights/preview/2023-03-01-preview/examples/SuccessfulOncoPhenotypeResponse.json
  specification/ai/data-plane/HealthInsights/preview/2023-03-01-preview/examples/SuccessfulTrialMatcherRequest.json
  specification/ai/data-plane/HealthInsights/preview/2023-03-01-preview/examples/SuccessfulTrialMatcherResponse.json
  specification/ai/data-plane/HealthInsights/preview/2023-03-01-preview/openapi.json
  specification/ai/data-plane/HealthInsights/readme.md
Labels: Approved-BreakingChange, Approved-ModelValidation

#27060 Update custom voice API samples.
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/create_personalvoice.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/upload_trainingset.json
Labels: data-plane

#27017 Adding the 2024-01-01 API Version of Microsoft.HybridContainerService
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/CreateHybridIdentityMetadata.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/DeleteAgentPool.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/DeleteHybridIdentityMetadata.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/DeleteKubernetesVersions.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/DeleteProvisionedClusterInstance.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/DeleteVirtualNetwork.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/DeleteVmSkus.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/GetAgentPool.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/GetHybridIdentityMetadata.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/GetKubernetesVersions.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/GetProvisionedClusterInstance.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/GetVirtualNetwork.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/GetVmSkus.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/HybridIdentityMetadataListByCluster.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/ListAgentPoolByProvisionedClusterInstance.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/ListKubernetesVersions.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/ListOperations.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/ListProvisionedClusterInstances.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/ListVirtualNetworkByResourceGroup.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/ListVirtualNetworkBySubscription.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/ListVmSkus.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/ProvisionedClusterInstanceGetUpgradeProfile.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/ProvisionedClusterInstanceListAdminKubeconfig.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/ProvisionedClusterInstanceListUserKubeconfig.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/PutAgentPool.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/PutKubernetesVersions.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/PutProvisionedClusterInstance.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/PutVirtualNetwork.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/PutVmSkus.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/examples/UpdateVirtualNetwork.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/provisionedClusterInstances.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/stable/2024-01-01/virtualNetworks.json
  specification/hybridaks/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-LintDiff, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, RPaaS, new-api-version, CI-MissingBaseCommit, MergeRequested

#27025 [ApiManagement] Suppress error schema issue
  specification/apimanagement/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired, 2023-05-01-preview-APIM

#26937 Add TLS 1.3 to valid TLS version: Autogenerated swagger for rest-api
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/Servers.json
Labels: ARMSignedOff, Approved-BreakingChange, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested

#26981 update datadog swagger examples to fix parameter name mismatch issue
  specification/datadog/resource-manager/Microsoft.Datadog/preview/2020-02-01-preview/examples/ApiKeys_SetDefaultKey.json
  specification/datadog/resource-manager/Microsoft.Datadog/preview/2020-02-01-preview/examples/MarketplaceAgreements_Create.json
  specification/datadog/resource-manager/Microsoft.Datadog/preview/2020-02-01-preview/examples/Monitors_Create.json
  specification/datadog/resource-manager/Microsoft.Datadog/preview/2020-02-01-preview/examples/Monitors_Update.json
  specification/datadog/resource-manager/Microsoft.Datadog/preview/2020-02-01-preview/examples/SingleSignOnConfigurations_CreateOrUpdate.json
  specification/datadog/resource-manager/Microsoft.Datadog/preview/2020-02-01-preview/examples/TagRules_CreateOrUpdate.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/ApiKeys_SetDefaultKey.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/MarketplaceAgreements_Create.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/Monitors_Create.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/Monitors_Update.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/SingleSignOnConfigurations_CreateOrUpdate.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/TagRules_CreateOrUpdate.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-06-01/examples/ApiKeys_SetDefaultKey.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-06-01/examples/MarketplaceAgreements_Create.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-06-01/examples/Monitors_Create.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-06-01/examples/Monitors_Update.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-06-01/examples/SingleSignOnConfigurations_CreateOrUpdate.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-06-01/examples/TagRules_CreateOrUpdate.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/examples/ApiKeys_SetDefaultKey.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/examples/MarketplaceAgreements_Create.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/examples/Monitors_Create.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/examples/Monitors_Update.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/examples/SingleSignOnConfigurations_CreateOrUpdate.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/examples/TagRules_CreateOrUpdate.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/ApiKeys_SetDefaultKey.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/MarketplaceAgreements_Create.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/MonitoredSubscriptions_CreateorUpdate.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/MonitoredSubscriptions_Update.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/Monitors_Create.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/Monitors_Update.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/SingleSignOnConfigurations_CreateOrUpdate.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/TagRules_CreateOrUpdate.json
Labels: ARMSignedOff, Approved-ModelValidation, ARMReview, resource-manager, RPaaS

#26983 update parameter value in kusto swagger examples
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2023-08-15/examples/KustoClustersCreateOrUpdate.json
Labels: ARMSignedOff, ShiftLeftViolation, ARMReview, resource-manager, ReadyForApiTest

#26984 update location value in cdn swagger examples
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/WafListPolicies.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/WafPatchPolicy.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/WafPolicyCreateOrUpdate.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2019-06-15-preview/examples/WafPolicyGet.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2022-05-01-preview/examples/WafListPolicies.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2022-05-01-preview/examples/WafPatchPolicy.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2022-05-01-preview/examples/WafPolicyCreateOrUpdate.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2022-05-01-preview/examples/WafPolicyGet.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2022-11-01-preview/examples/WafListPolicies.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2022-11-01-preview/examples/WafPatchPolicy.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2022-11-01-preview/examples/WafPolicyCreateOrUpdate.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2022-11-01-preview/examples/WafPolicyGet.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2023-07-01-preview/examples/WafListPolicies.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2023-07-01-preview/examples/WafPatchPolicy.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2023-07-01-preview/examples/WafPolicyCreateOrUpdate.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2023-07-01-preview/examples/WafPolicyGet.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2019-06-15/examples/WafListPolicies.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2019-06-15/examples/WafPatchPolicy.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2019-06-15/examples/WafPolicyCreateOrUpdate.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2019-06-15/examples/WafPolicyGet.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-03-31/examples/WafListPolicies.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-03-31/examples/WafPatchPolicy.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-03-31/examples/WafPolicyCreateOrUpdate.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-03-31/examples/WafPolicyGet.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-04-15/examples/WafListPolicies.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-04-15/examples/WafPatchPolicy.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-04-15/examples/WafPolicyCreateOrUpdate.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-04-15/examples/WafPolicyGet.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-09-01/examples/WafListPolicies.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-09-01/examples/WafPatchPolicy.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-09-01/examples/WafPolicyCreateOrUpdate.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-09-01/examples/WafPolicyGet.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/WafListPolicies.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/WafPatchPolicy.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/WafPolicyCreateOrUpdate.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/examples/WafPolicyGet.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2023-05-01/examples/WafListPolicies.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2023-05-01/examples/WafPatchPolicy.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2023-05-01/examples/WafPolicyCreateOrUpdate.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2023-05-01/examples/WafPolicyGet.json
Labels: ARMSignedOff, Approved-ModelValidation, ARMReview, resource-manager

#27083 Fix OperationID for PolicyRestriction Create and Update Calls
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/apimpolicyrestrictions.json
Labels: WaitForARMFeedback, CI-BreakingChange-JavaScript, ARMReview, resource-manager, 2023-05-01-preview-APIM

#26801 [Hub Generated] Review request for Creator to add version stable/2023-07-01
  specification/maps/data-plane/Creator/preview/2.0/dwgconversion.json
  specification/maps/data-plane/Creator/stable/2023-07-01/dwgconversion.json
Labels: Approved-ModelValidation, data-plane

#27002 [TypeSpecValidation] bug fix: drive letter inconsistency for windows
  eng/tools/typespec-validation/src/utils.ts
  eng/tools/typespec-validation/test/npm-prefix.test.ts
  eng/tools/typespec-validation/test/tsv-test-host.ts
  eng/tools/typespec-validation/test/util.test.ts
Labels: Central-EngSys

#27021 [Azure OpenAI] Add miscellaneous customizations for .NET
  specification/cognitiveservices/OpenAI.Inference/client/custom_visibility.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/chat_completions.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/completions_create.tsp
  specification/cognitiveservices/OpenAI.Inference/models/embeddings_create.tsp
Labels: TypeSpec

#27018 [Azure OpenAI] Add .NET-scoped customizations to the models and enums of the audio API
  specification/cognitiveservices/OpenAI.Inference/client/custom_visibility.tsp
  specification/cognitiveservices/OpenAI.Inference/models/audio/audio_transcription.tsp
  specification/cognitiveservices/OpenAI.Inference/models/audio/audio_translation.tsp
Labels: data-plane, TypeSpec

#27039 Add metadata Into StoreWriteSettings For Bug Fix
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: ARMSignedOff, Approved-BreakingChange, ShiftLeftViolation, ARMReview, resource-manager, data-plane, ReadyForApiTest, NewApiVersionRequired

#27088 [TypeSpec] Update autorest and openapi3 for hotfixes
  package-lock.json
  package.json
  specification/cognitiveservices/OpenAI.Inference/client/custom_visibility.tsp
Labels: TypeSpec

#26146 Azure AI Vision - Image Analysis TypeSpec files
  specification/ai/ImageAnalysis/client.tsp
  specification/ai/ImageAnalysis/examples/2023-10-01/AnalyzeFromBuffer_MaximumSet.json
  specification/ai/ImageAnalysis/examples/2023-10-01/AnalyzeFromUrl_MaximumSet.json
  specification/ai/ImageAnalysis/main.tsp
  specification/ai/ImageAnalysis/models.tsp
  specification/ai/ImageAnalysis/routes.tsp
  specification/ai/ImageAnalysis/tspconfig.yaml
  specification/ai/data-plane/ImageAnalysis/readme.md
  specification/ai/data-plane/ImageAnalysis/stable/2023-10-01/examples/AnalyzeFromBuffer_MaximumSet.json
  specification/ai/data-plane/ImageAnalysis/stable/2023-10-01/examples/AnalyzeFromUrl_MaximumSet.json
  specification/ai/data-plane/ImageAnalysis/stable/2023-10-01/generated.json
Labels: data-plane, TypeSpec

#27047 Update privatelink references for cloudhsm.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2023-12-10-preview/cloudhsm.json
  specification/hardwaresecuritymodules/resource-manager/readme.go.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#27095 Update readme.md
  specification/appplatform/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#26958 Short lived app support
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/Apps_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/Apps_CreateOrUpdate_VNetInjection.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/Apps_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/Apps_Get_VNetInjection.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/Apps_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/Apps_List_VNetInjection.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#27081 fix(healthinsights): add @lroResult
  specification/ai/HealthInsights/HealthInsights.OncoPhenotype/model.oncophenotype.tsp
  specification/ai/HealthInsights/HealthInsights.TrialMatcher/model.trialmatcher.tsp
Labels: TypeSpec

#26830 [Hub Generated] Review request for Microsoft.Maintenance to add version stable/2023-04-01
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/Maintenance.json
Labels: ARMSignedOff, Approved-BreakingChange, FixS360, ARMReview, resource-manager, BreakingChangeReviewRequired, MergeRequested

#26959 Support certificate from key vault - Azure container app
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/Certificate_CreateOrUpdate_FromKeyVault.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#26992 Changing input body object type of ApproveOrRejectPrivateEndpointConnection API for Microsoft.Web
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/WebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/ApproveRejectSitePrivateEndpointConnection.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-06-01/WebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-06-01/examples/ApproveRejectSitePrivateEndpointConnection.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-09-01/WebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-09-01/examples/ApproveRejectSitePrivateEndpointConnection.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-10-01/WebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-10-01/examples/ApproveRejectSitePrivateEndpointConnection.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/AppServiceEnvironments.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/StaticSites.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/WebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/examples/ApproveRejectSitePrivateEndpointConnection.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/examples/ApproveRejectSitePrivateEndpointConnectionSlot.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-01-01/AppServiceEnvironments.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-01-01/StaticSites.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-01-01/WebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-01-01/examples/ApproveRejectSitePrivateEndpointConnection.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-01-01/examples/ApproveRejectSitePrivateEndpointConnectionSlot.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-01-15/AppServiceEnvironments.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-01-15/StaticSites.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-01-15/WebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-01-15/examples/ApproveRejectSitePrivateEndpointConnection.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-01-15/examples/ApproveRejectSitePrivateEndpointConnectionSlot.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-02-01/AppServiceEnvironments.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-02-01/StaticSites.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-02-01/WebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-02-01/examples/ApproveRejectSitePrivateEndpointConnection.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-02-01/examples/ApproveRejectSitePrivateEndpointConnectionSlot.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-03-01/AppServiceEnvironments.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-03-01/StaticSites.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-03-01/WebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-03-01/examples/ApproveRejectSitePrivateEndpointConnection.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-03-01/examples/ApproveRejectSitePrivateEndpointConnectionSlot.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/AppServiceEnvironments.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/StaticSites.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/WebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/AppServiceEnvironments_ApproveOrRejectPrivateEndpointConnection.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/ApproveRejectSitePrivateEndpointConnection.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/examples/ApproveRejectSitePrivateEndpointConnectionSlot.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-09-01/AppServiceEnvironments.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-09-01/StaticSites.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-09-01/WebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-09-01/examples/ApproveRejectSitePrivateEndpointConnection.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-09-01/examples/ApproveRejectSitePrivateEndpointConnectionSlot.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-01-01/AppServiceEnvironments.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-01-01/StaticSites.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-01-01/WebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-01-01/examples/ApproveRejectSitePrivateEndpointConnection.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-01-01/examples/ApproveRejectSitePrivateEndpointConnectionSlot.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, FixS360, Approved-ModelValidation, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired, MergeRequested

#27094 use consistent v5 for pe
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/maps-management.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#27102 [SDK Tooling] Add Modeler to be lenient
  specification/apimanagement/resource-manager/readme.go.md
  specification/apimanagement/resource-manager/readme.java.md
  specification/apimanagement/resource-manager/readme.md
  specification/apimanagement/resource-manager/readme.nodejs.md
  specification/apimanagement/resource-manager/readme.python.md
  specification/apimanagement/resource-manager/readme.typescript.md
Labels: WaitForARMFeedback, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#27071 Bug fix found during powershell testing
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2023-11-01-preview/desktopvirtualization.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#27051 Fix x-ms-odata in 2023-10-01 metrics API
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-10-01/metrics_API.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#26671 Service Fabric - API version 2023-11-01-preview
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/application.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/cluster.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ApplicationDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ApplicationGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ApplicationListOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ApplicationPatchOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ApplicationPutOperation_example_max.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ApplicationPutOperation_example_min.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ApplicationPutOperation_recreate_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ApplicationTypeNameDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ApplicationTypeNameGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ApplicationTypeNameListOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ApplicationTypeNamePutOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ApplicationTypeVersionDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ApplicationTypeVersionGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ApplicationTypeVersionListOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ApplicationTypeVersionPutOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ClusterDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ClusterGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ClusterListByResourceGroupOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ClusterListOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ClusterPatchOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ClusterPutOperation_example_max.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ClusterPutOperation_example_min.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ClusterVersionsGetByEnvironment_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ClusterVersionsGet_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ClusterVersionsListByEnvironment.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ClusterVersionsList_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ListUpgradableVersionsMinMax_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ListUpgradableVersionsPath_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/Operations_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ServiceDeleteOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ServiceGetOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ServiceListOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ServicePatchOperation_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ServicePutOperation_example_max.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/ServicePutOperation_example_min.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/UnsupportedVMSizesGet_example.json
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2023-11-01-preview/examples/UnsupportedVMSizesList_example.json
  specification/servicefabric/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit, MergeRequested

#27043 Update readme.python.md
  specification/hardwaresecuritymodules/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#27080 Update server.json version to 2023-05-01 has tls 1.3 as valid input
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#26238 [Hub Generated] Review request for Microsoft.RecoveryServices to add version stable/2023-08-01
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/Capabilities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/CheckNameAvailability_Available.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/CheckNameAvailability_NotAvailable.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/PATCHVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/PATCHVault_WithRedundancySettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/PUTVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/PUTVault_WithRedundancySettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/examples/UpdateVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/registeredidentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/replicationusages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/vaults.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-08-01/vaultusages.json
  specification/recoveryservices/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, MergeRequested, AzCoreIDC, AzCoreIDCSignedOff

#27005 Added NonPersistedTPM to DiskSecurityType for ConfidentialVM
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2023-10-02/diskRPCommon.json
Labels: resource-manager

#26971 Swagger changes for provisioned bandwidth copy speed feature
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2023-10-02/diskRPCommon.json
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2023-10-02/examples/snapshotExamples/Snapshot_Create_EnhancedProvisionedBandwidthCopySpeed.json
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2023-10-02/snapshot.json
Labels: resource-manager

#27107 Addressed review comments
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2023-11-15-preview/examples/CosmosDBManagedCassandraCommandAsync.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2023-11-15-preview/examples/CosmosDBManagedCassandraCommandResultList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2023-11-15-preview/examples/CosmosDBManagedCassandraListCommand.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2023-11-15-preview/managedCassandra.json
Labels: resource-manager

#27065 Managed resource group settings for registries
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/registries.json
Labels: ARMSignedOff, ARMReview, resource-manager

#27122 Remove additionalProperty for MI Cassandra CommandPublicResource
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2023-11-15-preview/managedCassandra.json
Labels: resource-manager

#27121 Fix Tooling as we cannot have 2 different models for Resource , ProxyResoure and ErrorResponse
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/apimpolicyrestrictionsvalidation.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/definitions.json
  specification/apimanagement/resource-manager/readme.go.md
  specification/apimanagement/resource-manager/readme.java.md
  specification/apimanagement/resource-manager/readme.md
  specification/apimanagement/resource-manager/readme.nodejs.md
  specification/apimanagement/resource-manager/readme.python.md
  specification/apimanagement/resource-manager/readme.typescript.md
Labels: WaitForARMFeedback, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, ARMReview, resource-manager, SuppressionReviewRequired, 2023-05-01-preview-APIM

#27118 Update custom voice API samples.
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/examples/upload_trainingset.json
Labels: data-plane

#27125 Revert readWrite change for MI Cassandra
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2023-11-15-preview/examples/CosmosDBManagedCassandraCommandResultList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2023-11-15-preview/examples/CosmosDBManagedCassandraListCommand.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2023-11-15-preview/managedCassandra.json
Labels: resource-manager

#26294 Add new phone numbers version for Number Lookup GA
  specification/communication/data-plane/PhoneNumbers/readme.md
  specification/communication/data-plane/PhoneNumbers/stable/2024-03-01/examples/DeleteOperation.json
  specification/communication/data-plane/PhoneNumbers/stable/2024-03-01/examples/GetAreaCodes.json
  specification/communication/data-plane/PhoneNumbers/stable/2024-03-01/examples/GetCountries.json
  specification/communication/data-plane/PhoneNumbers/stable/2024-03-01/examples/GetLocalities.json
  specification/communication/data-plane/PhoneNumbers/stable/2024-03-01/examples/GetOfferings.json
  specification/communication/data-plane/PhoneNumbers/stable/2024-03-01/examples/GetOperation.json
  specification/communication/data-plane/PhoneNumbers/stable/2024-03-01/examples/GetPhoneNumber.json
  specification/communication/data-plane/PhoneNumbers/stable/2024-03-01/examples/GetPhoneNumberSearchResult.json
  specification/communication/data-plane/PhoneNumbers/stable/2024-03-01/examples/GetPhoneNumbers.json
  specification/communication/data-plane/PhoneNumbers/stable/2024-03-01/examples/PurchasePhoneNumbers.json
  specification/communication/data-plane/PhoneNumbers/stable/2024-03-01/examples/ReleasePhoneNumber.json
  specification/communication/data-plane/PhoneNumbers/stable/2024-03-01/examples/SearchOperatorInformation.json
  specification/communication/data-plane/PhoneNumbers/stable/2024-03-01/examples/SearchPhoneNumbers.json
  specification/communication/data-plane/PhoneNumbers/stable/2024-03-01/examples/UpdatePhoneNumberCapabilities.json
  specification/communication/data-plane/PhoneNumbers/stable/2024-03-01/phonenumbers.json
Labels: data-plane

#27115 Update readme.python.md
  specification/offazurespringboot/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS

#26809 Revert client tag to package-composite-v5
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#26945 Dev maps microsoft.maps 2023 12 01 preview
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/AccountListSAS.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/CreateAccount.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/CreateAccountEncryption.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/CreateAccountGen2.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/CreateAccountManagedIdentity.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/CreateMapsCreator.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/DeleteAccount.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/DeleteMapsCreator.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/GetAccount.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/GetMapsCreator.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/GetOperations.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/ListAccountsByResourceGroup.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/ListAccountsBySubscription.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/ListKeys.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/ListMapsCreatorsByAccount.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/PrivateEndpointConnections_Create.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/PrivateEndpointConnections_Delete.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/PrivateEndpointConnections_Get.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/PrivateEndpointConnections_ListByAccount.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/PrivateLinkResources_Get.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/PrivateLinkResources_List.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/RegenerateKey.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/UpdateAccount.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/UpdateAccountEncryption.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/UpdateAccountGen2.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/UpdateAccountManagedIdentity.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/UpdateMapsCreator.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/maps-management.json
  specification/maps/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-LintDiff, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired, new-api-version, CI-MissingBaseCommit, MergeRequested

#26938 Add testEndpointAuthState to AppResourceProperties
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/Apps_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/Apps_CreateOrUpdate_VNetInjection.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/Apps_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/Apps_Get_VNetInjection.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/Apps_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/Apps_List_VNetInjection.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/Apps_SetActiveDeployments.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/Apps_Update.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/Apps_Update_VNetInjection.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#27110 fix readme tag
  specification/appplatform/resource-manager/readme.go.md
  specification/appplatform/resource-manager/readme.md
  specification/appplatform/resource-manager/readme.ruby.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, ShiftLeftViolation, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#27123 Gauravbang/astro stable folder
  specification/liftrastronomer/resource-manager/Astronomer.Astro/stable/2023-08-01/astronomer.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/stable/2023-08-01/examples/Operations_List_MaximumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/stable/2023-08-01/examples/Organizations_CreateOrUpdate_MaximumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/stable/2023-08-01/examples/Organizations_Delete_MaximumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/stable/2023-08-01/examples/Organizations_Get_MaximumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/stable/2023-08-01/examples/Organizations_ListByResourceGroup_MaximumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/stable/2023-08-01/examples/Organizations_ListBySubscription_MaximumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/stable/2023-08-01/examples/Organizations_Update_MaximumSet_Gen.json
  specification/liftrastronomer/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, CI-MissingBaseCommit, TypeSpec, MergeRequested

#27114 Add otlp configuration and includeSystemTelemetry
  cSpell.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/ManagedEnvironments_CreateOrUpdate.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#26964 Java Component Apis
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/JavaComponents.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/JavaComponents_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/JavaComponents_CreateOrUpdate_ServiceBind.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/JavaComponents_Delete.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/JavaComponents_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/JavaComponents_Get_ServiceBind.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/JavaComponents_List.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/JavaComponents_List_ServiceBind.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/JavaComponents_Patch.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/JavaComponents_Patch_ServiceBind.json
  specification/app/resource-manager/readme.md
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, MergeRequested

#27116 Add azureml schedule trigger once arm API contract in 2024-01-01-preview
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/examples/Schedule/trigger.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#27045 Add SalesforceV2 and SalesforceCloudServiceV2 Definition
  custom-words.txt
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Dataset.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: ARMSignedOff, Approved-LintDiff, ShiftLeftViolation, ARMReview, resource-manager, data-plane, MergeRequested

#27108 Fix product type in 1pp sku example
  specification/marketplacecatalog/data-plane/Products/preview/2023-05-01-preview/examples/PublicSkus_List.json
Labels: data-plane

#27150 Batch: Remove explicit null from trusted launch example
  specification/batch/data-plane/Microsoft.Batch/stable/2023-11-01.18.0/examples/PoolAdd_SecurityProfile.json
Labels: data-plane

#27136 apply changes of 11-01-stable version to the 12-01-preview
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-12-01-preview/ContentProductPackages.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-12-01-preview/ContentProductTemplates.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#26634 Initial implementation of Azure developer signing dataplane service
  custom-words.txt
  specification/developersigning/DeveloperSigning/examples/2023-06-15-preview/CertificateProfileOperations_GetSignRootCertificate.json
  specification/developersigning/DeveloperSigning/examples/2023-06-15-preview/CertificateProfileOperations_GetSigningStatus.json
  specification/developersigning/DeveloperSigning/examples/2023-06-15-preview/CertificateProfileOperations_ListExtendedKeyUsages.json
  specification/developersigning/DeveloperSigning/examples/2023-06-15-preview/CertificateProfileOperations_Sign.json
  specification/developersigning/DeveloperSigning/main.tsp
  specification/developersigning/DeveloperSigning/tspconfig.yaml
  specification/developersigning/data-plane/Azure.Developer.Signing/preview/2023-06-15-preview/azure.developer.signing.json
  specification/developersigning/data-plane/Azure.Developer.Signing/preview/2023-06-15-preview/examples/CertificateProfileOperations_GetSignRootCertificate.json
  specification/developersigning/data-plane/Azure.Developer.Signing/preview/2023-06-15-preview/examples/CertificateProfileOperations_GetSigningStatus.json
  specification/developersigning/data-plane/Azure.Developer.Signing/preview/2023-06-15-preview/examples/CertificateProfileOperations_ListExtendedKeyUsages.json
  specification/developersigning/data-plane/Azure.Developer.Signing/preview/2023-06-15-preview/examples/CertificateProfileOperations_Sign.json
  specification/developersigning/data-plane/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, Approved-Suppression, SuppressionReviewRequired, new-api-version, CI-MissingBaseCommit, TypeSpec

#26891 Creator readme
  specification/maps/data-plane/Creator/readme.md
Labels: data-plane, Approved-Suppression, SuppressionReviewRequired

#27135 [Hub Generated] Publish private branch 'devlie-deviceupdate-Microsoft.DeviceUpdate-2023-10-01'
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/deviceupdate.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_CreateOrUpdateDeployment.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_DeleteDeployment.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_DeleteDeploymentForDeviceClassSubgroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_DeleteDeviceClass.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_DeleteDeviceClassSubgroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_DeleteGroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_GetBestUpdatesForDeviceClassSubgroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_GetDeployment.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_GetDeploymentForDeviceClassSubgroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_GetDeploymentStatus.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_GetDevice.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_GetDeviceClass.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_GetDeviceClassSubgroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_GetDeviceClassSubgroupDeploymentStatus.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_GetDeviceClassSubgroupUpdateCompliance.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_GetDeviceModule.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_GetGroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_GetLogCollection.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_GetLogCollectionDetailedStatus.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_GetOperationStatus.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_GetUpdateCompliance.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_GetUpdateComplianceForGroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_ImportDevices.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_ListBestUpdatesForGroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_ListDeploymentsForDeviceClassSubgroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_ListDeploymentsForGroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_ListDeviceClassSubgroupsForGroup.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_ListDeviceClasses.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_ListDeviceStatesForDeviceClassSubgroupDeployment.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_ListDevices.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_ListGroups.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_ListHealthOfDevices.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_ListInstallableUpdatesForDeviceClass.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_ListLogCollections.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_ListOperationStatuses.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_RetryDeployment.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_StartLogCollection.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_StopDeployment.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceManagement_UpdateDeviceClass.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceUpdate_DeleteUpdate.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceUpdate_GetFile.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceUpdate_GetOperationStatus.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceUpdate_GetUpdate.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceUpdate_ImportUpdate.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceUpdate_ListFiles.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceUpdate_ListNames.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceUpdate_ListOperationStatuses.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceUpdate_ListProviders.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceUpdate_ListUpdates.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/DeviceUpdate_ListVersions.json
  specification/deviceupdate/data-plane/Microsoft.DeviceUpdate/preview/2023-10-01-preview/examples/InstanceManagement_GetLimits.json
  specification/deviceupdate/data-plane/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, new-api-version

#26873 Release release sentinel securityinsights microsoft.security insights 2023 11 01
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/AlertRules.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/ContentPackages.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/ContentProductPackages.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/ContentProductTemplates.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/ContentTemplates.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/Watchlists.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/common/ContentCommonTypes.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/examples/contentPackages/GetPackageById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/examples/contentPackages/GetPackages.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/examples/contentPackages/GetProductPackageById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/examples/contentPackages/GetProductPackages.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/examples/contentPackages/InstallPackage.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/examples/contentPackages/UninstallPackage.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/examples/contentTemplates/DeleteTemplate.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/examples/contentTemplates/GetProductTemplateById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/examples/contentTemplates/GetProductTemplates.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/examples/contentTemplates/GetTemplateById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/examples/contentTemplates/GetTemplates.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/examples/contentTemplates/InstallTemplate.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/examples/repositories/GetRepositories.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/examples/sourcecontrols/CreateSourceControl.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/examples/sourcecontrols/DeleteSourceControl.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/examples/sourcecontrols/GetSourceControlById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/examples/sourcecontrols/GetSourceControls.json
  specification/securityinsights/resource-manager/common/2.0/types.json
  specification/securityinsights/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, Approved-LintDiff, Approved-SdkBreakingChange-Go, ARMReview, resource-manager, MergeRequested

#27161 add directive to avoid breaking change
  specification/deviceupdate/resource-manager/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS

#27092 Container Apps: Add circuit breakers to Dapr Component Resiliency
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/DaprComponentResiliencyPolicies_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/DaprComponentResiliencyPolicies_List.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/DaprComponentResiliencyPolicy_CreateOrUpdate_AllOptions.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/DaprComponentResiliencyPolicy_CreateOrUpdate_OutboundOnly.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/DaprComponentResiliencyPolicy_CreateOrUpdate_SparseOptions.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#27015 add property bag to job execution template
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/Jobs.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/Job_Execution_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/Job_Executions_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/Job_Stop_Multiple.json
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, ARMReview, resource-manager, MergeRequested

#26724 add property targetPortHttpScheme and update examples
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/ContainerApps_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/ContainerApps_CreateOrUpdate_ConnectedEnvironment.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/ContainerApps_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/ContainerApps_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/ContainerApps_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/ContainerApps_Patch.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/ContainerApps_Start.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/ContainerApps_Stop.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#27151 remove validateSessionHostUpdate endpoint
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2023-11-01-preview/desktopvirtualization.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2023-11-01-preview/examples/SessionHostManagements_ValidateSessionHostUpdate_Post.json
Labels: ARMSignedOff, Approved-BreakingChange, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested

#27157 [Container Apps] Add DotNetComponents configuration
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/DotNetComponents.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/DotNetComponents_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/DotNetComponents_CreateOrUpdate_ServiceBind.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/DotNetComponents_Delete.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/DotNetComponents_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/DotNetComponents_Get_ServiceBind.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/DotNetComponents_List.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/DotNetComponents_List_ServiceBind.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/DotNetComponents_Patch.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/DotNetComponents_Patch_ServiceBind.json
  specification/app/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-LintDiff, Approved-SdkBreakingChange-Go, ARMReview, resource-manager

#26965 Update MySql & Mariadb LinkedService.json with new properties
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ShiftLeftViolation, ARMReview, resource-manager, data-plane, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested

#26798 Replace "GuardrailsProfile" with "SafeguardsProfile", add ListSafeguardsVersions entities
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-11-02-preview/examples/GetSafeguardsVersions.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-11-02-preview/examples/ListSafeguardsVersions.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-11-02-preview/managedClusters.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#27181 Add support for environment managed identity
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/ManagedEnvironments_CreateOrUpdate.json
Labels: ARMSignedOff, ARMReview, resource-manager

#27196 revert short lived app API
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/Apps_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/Apps_CreateOrUpdate_VNetInjection.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/Apps_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/Apps_Get_VNetInjection.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/Apps_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-01-01-preview/examples/Apps_List_VNetInjection.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#27197 Fix synapse swagger bug.
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Dataset.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: data-plane

#27182 Add otlp configuration headers
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/ManagedEnvironments_CreateOrUpdate.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#27141 [Synapse]Sync compute settings From DataFactory To Synapse
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: Approved-BreakingChange, data-plane, BreakingChangeReviewRequired, MergeRequested

#27195 Update readme.python.md
  specification/compute/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#27204 Add owner for CDN
  CODEOWNERS
Labels: MergeRequested

#27187 Fix typo in example
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/ManagedEnvironments_CreateOrUpdate.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#27175 Add VnetBackupRestoreEnabled property to the latest API Version
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/CommonDefinitions.json
Labels: ARMSignedOff, ARMReview, resource-manager
