Repository Azure/azure-rest-api-specs, pull requests merged in 2023-03, with the labels that each got.

#22491 Updated verbs and routes for workflowsConnections
  specification/web/resource-manager/Microsoft.Web/stable/2022-09-01/WebApps.json
Labels: ARMSignedOff, Web Apps, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#22839 Add definition for ElasticWebAppScaleLimit
  specification/web/resource-manager/Microsoft.Web/stable/2022-09-01/CommonDefinitions.json
Labels: Web Apps, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager

#22814 [Hub Generated] Review request for Microsoft.HybridContainerService to add version preview/2022-09-01-preview
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/CreateHybridIdentityMetadata.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/DeleteAgentPool.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/DeleteHybridIdentityMetadata.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/DeleteProvisionedCluster.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/DeleteStorageSpace.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/DeleteVirtualNetwork.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/GetAgentPool.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/GetHybridIdentityMetadata.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/GetProvisionedCluster.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/GetStorageSpace.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/GetVirtualNetwork.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/HybridIdentityMetadataListByCluster.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/ListAgentPoolByProvisionedCluster.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/ListOperations.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/ListOrchestrators.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/ListProvisionedClusterByResourceGroup.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/ListProvisionedClusterBySubscription.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/ListStorageSpaceByResourceGroup.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/ListStorageSpaceBySubscription.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/ListVMSkus.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/ListVirtualNetworkByResourceGroup.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/ListVirtualNetworkBySubscription.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/ProvisionedClustersGetUpgradeProfile.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/ProvisionedClustersUpgradeNodeImageVersionForEntireCluster.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/PutAgentPool.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/PutProvisionedCluster.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/PutStorageSpace.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/PutVirtualNetwork.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/UpdateAgentPool.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/UpdateProvisionedCluster.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/UpdateStorageSpace.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/examples/UpdateVirtualNetwork.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/provisionedClusters.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/storageSpaces.json
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2022-09-01-preview/virtualNetworks.json
  specification/hybridaks/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, RPaaS, new-api-version

#22819 [Hub Generated] Publish private branch 'azure-kusto/devCM'
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2022-11-11/examples/KustoClustersCreateOrUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2022-11-11/kusto.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2022-12-29/examples/KustoClustersCreateOrUpdate.json
  specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2022-12-29/kusto.json
  specification/azure-kusto/resource-manager/readme.test.md
Labels: Approved-OkToMerge, Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#22583 Data Registry API display name modification
  specification/maps/data-plane/DataRegistry/preview/2022-12-01-preview/dataregistry.json
Labels: Approved-BreakingChange, CI-FixRequiredOnFailure, Approved-LintDiff, Maps, data-plane, BreakingChangeReviewRequired

#22844 Container Apps Jobs Execution History - Refactor
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/Jobs.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/Job_Executions_Get.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager

#22380 add friendly name to workload profiles
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ContainerApps_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ContainerApps_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ContainerApps_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ContainerApps_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ContainerApps_Patch.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ManagedEnvironments_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ManagedEnvironments_CustomInfrastructureResourceGroup_Create.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ManagedEnvironments_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ManagedEnvironments_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ManagedEnvironments_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ManagedEnvironments_Patch.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#22836 Creator 2023 03 01 preview conversion
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/dwgconversion.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/examples/conversion/Conversion_Conversion.json
Labels: Approved-BreakingChange, Maps, data-plane, BreakingChangeReviewRequired

#22841 Update description of alerts.json
  specification/security/resource-manager/Microsoft.Security/stable/2022-01-01/alerts.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, CI-BreakingChange-JavaScript, resource-manager

#22804 Guest Config add missing operation
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2022-01-25/examples/createOrUpdateGuestConfigurationVMSSAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2022-01-25/guestconfiguration.json
Labels: Approved-BreakingChange, FixS360, resource-manager, NewApiVersionRequired

#22080 api-version 2022-11-01 orbital
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-11-01/examples/AvailableContactsList.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-11-01/examples/AvailableGroundStationsByCapabilityList.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-11-01/examples/ContactCreate.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-11-01/examples/ContactDelete.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-11-01/examples/ContactGet.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-11-01/examples/ContactProfileCreate.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-11-01/examples/ContactProfileDelete.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-11-01/examples/ContactProfileGet.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-11-01/examples/ContactProfileUpdateTag.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-11-01/examples/ContactProfilesByResourceGroupList.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-11-01/examples/ContactProfilesBySubscriptionList.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-11-01/examples/ContactsBySpacecraftNameList.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-11-01/examples/OperationResultsGet.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-11-01/examples/OperationsList.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-11-01/examples/SpacecraftCreate.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-11-01/examples/SpacecraftDelete.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-11-01/examples/SpacecraftGet.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-11-01/examples/SpacecraftUpdateTags.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-11-01/examples/SpacecraftsByResourceGroupList.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-11-01/examples/SpacecraftsBySubscriptionList.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-11-01/orbital.json
  specification/orbital/resource-manager/readme.md
Labels: Approved-OkToMerge, ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-Avocado, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, commitAfterSignedOff, CI-MissingBaseCommit

#22857 Fix billing meter and available workload profiles examples
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/AvailableWorkloadProfiles_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/BillingMeters_Get.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#21523 [Hub Generated] Review request for Microsoft.DBforPostgreSQL to add version preview/2022-05-01-privatepreview
  custom-words.txt
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-05-01-preview/Migrations.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-05-01-preview/Operations.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-05-01-preview/examples/CheckMigrationNameAvailability.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-05-01-preview/examples/Migrations_Create.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-05-01-preview/examples/Migrations_Delete.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-05-01-preview/examples/Migrations_Get.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-05-01-preview/examples/Migrations_ListByTargetServer.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-05-01-preview/examples/Migrations_Update.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-05-01-preview/examples/OperationList.json
  specification/postgresql/resource-manager/readme.md
Labels: ARMSignedOff, PostgreSQL, Approved-BreakingChange, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version

#22493 Adding API version 2023-01-15-preview for Failover Group resource type
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/activeDirectoryConnectors.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/azurearcdata.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/common.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/dataControllers.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/CreateOrUpdateActiveDirectoryConnector.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/CreateOrUpdateArcSqlServerDatabase.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/CreateOrUpdateDataController.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/CreateOrUpdateFailoverGroup.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/CreateOrUpdatePostgresInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/CreateOrUpdateSqlManagedInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/CreateOrUpdateSqlServerInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/DeleteActiveDirectoryConnector.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/DeleteArcSqlServerDatabase.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/DeleteDataController.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/DeleteFailoverGroup.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/DeletePostgresInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/DeleteSqlManagedInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/DeleteSqlServerInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/GetActiveDirectoryConnector.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/GetArcSqlServerDatabase.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/GetDataController.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/GetFailoverGroup.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/GetPostgresInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/GetSqlManagedInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/GetSqlServerInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/ListByDataControllerActiveDirectoryConnector.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/ListByResourceGroupDataController.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/ListByResourceGroupPostgresInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/ListByResourceGroupSqlManagedInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/ListByResourceGroupSqlServerInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/ListBySqlManagedInstanceFailoverGroup.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/ListBySqlServerInstanceDatabase.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/ListOperation.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/ListSubscriptionDataController.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/ListSubscriptionPostgresInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/ListSubscriptionSqlManagedInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/ListSubscriptionSqlServerInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/UpdateDataController.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/UpdatePostgresInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/UpdateSqlManagedInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/UpdateSqlServerDatabase.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/examples/UpdateSqlServerInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/failoverGroups.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/operations.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/postgresInstances.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/sqlManagedInstances.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/sqlServerDatabases.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/sqlServerInstances.json
  specification/azurearcdata/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, new-api-version, CI-MissingBaseCommit

#22799 {AzureSQLVM} fixes Azure/azure-rest-api-specs#22768 Fix the enums under AgReplica
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2022-02-01/sqlvm.json
Labels: Approved-BreakingChange, CI-FixRequiredOnFailure, Approved-ModelValidation, resource-manager, BreakingChangeReviewRequired

#22373 [Hub Generated] Publish private branch 'release-graphservicesprod-Microsoft.GraphServices-2022-09-22-preview'
  package.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/preview/2022-09-22-preview/examples/Accounts_Create.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/preview/2022-09-22-preview/examples/Accounts_Delete.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/preview/2022-09-22-preview/examples/Accounts_Get.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/preview/2022-09-22-preview/examples/Accounts_List.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/preview/2022-09-22-preview/examples/Accounts_List_Sub.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/preview/2022-09-22-preview/examples/Accounts_Update.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/preview/2022-09-22-preview/examples/Operations_List.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/preview/2022-09-22-preview/graphservicesprod.json
  specification/graphservicesprod/resource-manager/readme.cli.md
  specification/graphservicesprod/resource-manager/readme.csharp.md
  specification/graphservicesprod/resource-manager/readme.md
  specification/graphservicesprod/resource-manager/readme.python.md
  specification/graphservicesprod/resource-manager/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, new-rp-namespace

#22848 Added changes for security type
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/bms.json
Labels: Recovery Services Backup, customer-reported, resource-manager

#22871 Updade readme
  specification/security/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, Approved-Avocado, resource-manager

#22877 [Hub Generated] Publish private branch 'voiceservices/fix-examples'
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/cadl/examples/2023-01-31/NameAvailability_CheckLocal.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/stable/2023-01-31/examples/CommunicationsGateways_CreateOrUpdate.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/stable/2023-01-31/examples/CommunicationsGateways_Update.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/stable/2023-01-31/examples/NameAvailability_CheckLocal.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/stable/2023-01-31/examples/TestLines_CreateOrUpdate.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/stable/2023-01-31/examples/TestLines_Get.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/stable/2023-01-31/examples/TestLines_ListByCommunicationsGateway.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/stable/2023-01-31/examples/TestLines_Update.json
Labels: CI-BreakingChange-Go, resource-manager

#19539 Creator Features 2023-03-01-preview
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/examples/features/Features_Create.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/examples/features/Features_Delete.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/examples/features/Features_Get.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/examples/features/Features_GetApiDefinition.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/examples/features/Features_GetCollection.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/examples/features/Features_GetCollectionDefinition.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/examples/features/Features_GetCollections.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/examples/features/Features_GetItems.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/examples/features/Features_GetLandingPage.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/examples/features/Features_ListConformance.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/examples/features/Features_Replace.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/examples/features/Features_Update.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/features.json
  specification/maps/data-plane/Creator/readme.md
Labels: Approved-BreakingChange, APIStewardshipBoard-SignedOff, data-plane, NewApiVersionRequired, new-api-version, CI-MissingBaseCommit

#22840 [Azure App Configuration] Update swagger to include LRO header for snapshot create.
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/preview/2022-11-01-preview/appconfiguration.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/preview/2022-11-01-preview/examples/CreateSnapshot.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/preview/2022-11-01-preview/examples/GetSnapshot.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/preview/2022-11-01-preview/examples/GetSnapshot_Failed.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/preview/2022-11-01-preview/examples/GetSnapshot_IfMatch.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/preview/2022-11-01-preview/examples/GetSnapshot_IfNoneMatch.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/preview/2022-11-01-preview/examples/GetSnapshots.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/preview/2022-11-01-preview/examples/UpdateSnapshot.json
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/preview/2022-11-01-preview/examples/UpdateSnapshot_IfMatch.json
Labels: Approved-BreakingChange, data-plane, BreakingChangeReviewRequired

#22331 [ACS - Chat] Add Attachments to ChatMessage
  custom-words.txt
  specification/communication/data-plane/Chat/preview/2023-04-01-preview/communicationserviceschat.json
  specification/communication/data-plane/Chat/preview/2023-04-01-preview/examples/Conversations_ListChatReadReceiptsWithPageSize.json
  specification/communication/data-plane/Chat/preview/2023-04-01-preview/examples/Conversations_SendChatReadReceipt.json
  specification/communication/data-plane/Chat/preview/2023-04-01-preview/examples/Messages_DeleteChatMessage.json
  specification/communication/data-plane/Chat/preview/2023-04-01-preview/examples/Messages_GetChatMessage.json
  specification/communication/data-plane/Chat/preview/2023-04-01-preview/examples/Messages_ListChatMessagesWithPageSize.json
  specification/communication/data-plane/Chat/preview/2023-04-01-preview/examples/Messages_SendChatMessage.json
  specification/communication/data-plane/Chat/preview/2023-04-01-preview/examples/Messages_SendTypingNotification.json
  specification/communication/data-plane/Chat/preview/2023-04-01-preview/examples/Messages_UpdateChatMessage.json
  specification/communication/data-plane/Chat/preview/2023-04-01-preview/examples/Participants_AddChatParticipants.json
  specification/communication/data-plane/Chat/preview/2023-04-01-preview/examples/Participants_ListChatParticipantsWithPageSize.json
  specification/communication/data-plane/Chat/preview/2023-04-01-preview/examples/Participants_RemoveChatParticipant.json
  specification/communication/data-plane/Chat/preview/2023-04-01-preview/examples/Threads_CreateChatThread.json
  specification/communication/data-plane/Chat/preview/2023-04-01-preview/examples/Threads_CreateChatThreadWithIdempotencyToken.json
  specification/communication/data-plane/Chat/preview/2023-04-01-preview/examples/Threads_DeleteChatThread.json
  specification/communication/data-plane/Chat/preview/2023-04-01-preview/examples/Threads_GetChatThread.json
  specification/communication/data-plane/Chat/preview/2023-04-01-preview/examples/Threads_ListChatThreadsWithPageSize.json
  specification/communication/data-plane/Chat/preview/2023-04-01-preview/examples/Threads_UpdateChatThreadTopic.json
  specification/communication/data-plane/Chat/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane

#22881 [Hub Generated] Review request for Microsoft.KeyVault to add version stable/7.4
  specification/keyvault/data-plane/Microsoft.KeyVault/stable/7.4/examples/ListSettings-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/stable/7.4/settings.json
Labels: KeyVault, Approved-BreakingChange, data-plane, BreakingChangeReviewRequired

#22622 Patch reservations microsoft.capacity 2022 11 01
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2022-11-01/examples/Return.json
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2022-11-01/reservations.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, FixS360, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#22879 Maps Creator 2023-03-01-preview - Merge Feature Branch
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/alias.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/dataset.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/dwgconversion.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/examples/conversion/Conversion_Conversion.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/examples/features/Features_Create.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/examples/features/Features_Delete.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/examples/features/Features_Get.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/examples/features/Features_GetApiDefinition.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/examples/features/Features_GetCollection.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/examples/features/Features_GetCollectionDefinition.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/examples/features/Features_GetCollections.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/examples/features/Features_GetItems.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/examples/features/Features_GetLandingPage.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/examples/features/Features_ListConformance.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/examples/features/Features_Replace.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/examples/features/Features_Update.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/features.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/featurestate.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/mapconfiguration.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/routeset.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/style.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/tileset.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/wayfind.json
  specification/maps/data-plane/Creator/readme.md
Labels: Approved-BreakingChange, Maps, data-plane, BreakingChangeReviewRequired

#22859 Update current feature branch with the changes from DevEx review
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/communicationservicesrooms.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_AddParticipants.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_PatchParticipants.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_RemoveParticipants.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_UpdateParticipants.json
Labels: CI-FixRequiredOnFailure, data-plane, BreakingChangeReviewRequired

#22637 UsageV3 S360 Updates
  specification/commerce/resource-manager/Microsoft.Commerce/preview/2015-06-01-preview/commerce.json
  specification/commerce/resource-manager/Microsoft.Commerce/preview/2015-06-01-preview/examples/GetUsageAggregatesList.json
Labels: ARMSignedOff, Approved-BreakingChange, Swagger Cleanup, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-LintDiff, FixS360, ARMReview, resource-manager, BreakingChangeReviewRequired

#22863 [Network] Update readme.python.md
  specification/network/resource-manager/readme.python.md
Labels: Network, CI-BreakingChange-JavaScript, resource-manager

#22888 Minor Fixes for TrafficController 2022-10-01-preview
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/TrafficController.cadl
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/AssociationGet.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/AssociationPatch.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/AssociationPut.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/AssociationsGet.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/preview/2022-10-01-preview/TrafficController.json
Labels: Approved-BreakingChange, FixS360, Cadl, resource-manager, BreakingChangeReviewRequired

#22883 fix: redisenterprise API for customer managed keys
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/redisenterprise.json
Labels: Approved-BreakingChange, resource-manager, BreakingChangeReviewRequired

#22895 Update readme.python.md
  specification/workloads/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, resource-manager, RPaaS

#22747 [ACS -SIP Routing] GA [Hub Generated] Review request for SipRouting to add version stable/2021-05-01
  specification/communication/data-plane/SipRouting/readme.md
  specification/communication/data-plane/SipRouting/stable/2023-03-01/communicationservicessiprouting.json
  specification/communication/data-plane/SipRouting/stable/2023-03-01/examples/GetSipConfiguration.json
  specification/communication/data-plane/SipRouting/stable/2023-03-01/examples/UpdateSipConfiguration.json
Labels: data-plane

#22886 Sort models in alphabetical order
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/communicationservicesrooms.json
Labels: data-plane, BreakingChangeReviewRequired

#22784 Staging Branch Gate Fixes and Schema Bug Fix for ModelPackage
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Job/AutoMLJob/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Job/AutoMLJob/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Job/AutoMLJob/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Job/CommandJob/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Job/CommandJob/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Job/CommandJob/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Job/SweepJob/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Job/SweepJob/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Job/SweepJob/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Registry/DataContainer/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/examples/Registry/DataVersionBase/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/mfe.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-FixRequiredOnFailure, Approved-ModelValidation, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#22748 [Hub Generated] Review request for Microsoft.ProfessionalService to add version preview/2023-07-01-preview
  specification/professionalservice/resource-manager/Microsoft.ProfessionalService/preview/2023-07-01-preview/examples/Operation/GetOperation.json
  specification/professionalservice/resource-manager/Microsoft.ProfessionalService/preview/2023-07-01-preview/examples/Operation/GetRpOperations.json
  specification/professionalservice/resource-manager/Microsoft.ProfessionalService/preview/2023-07-01-preview/examples/ProfessionalService/ProfessionalServiceDelete.json
  specification/professionalservice/resource-manager/Microsoft.ProfessionalService/preview/2023-07-01-preview/examples/ProfessionalService/ProfessionalServiceGet.json
  specification/professionalservice/resource-manager/Microsoft.ProfessionalService/preview/2023-07-01-preview/examples/ProfessionalService/ProfessionalServiceGetAllInAzureSubscription.json
  specification/professionalservice/resource-manager/Microsoft.ProfessionalService/preview/2023-07-01-preview/examples/ProfessionalService/ProfessionalServiceGetAllInResourceGroup.json
  specification/professionalservice/resource-manager/Microsoft.ProfessionalService/preview/2023-07-01-preview/examples/ProfessionalService/ProfessionalServicePutIndefiniteTerm.json
  specification/professionalservice/resource-manager/Microsoft.ProfessionalService/preview/2023-07-01-preview/examples/ProfessionalService/ProfessionalServicePutWithTerm.json
  specification/professionalservice/resource-manager/Microsoft.ProfessionalService/preview/2023-07-01-preview/examples/ProfessionalService/ProfessionalServiceUnsubscribe.json
  specification/professionalservice/resource-manager/Microsoft.ProfessionalService/preview/2023-07-01-preview/professionalservice.json
  specification/professionalservice/resource-manager/readme.csharp.md
  specification/professionalservice/resource-manager/readme.go.md
  specification/professionalservice/resource-manager/readme.md
  specification/professionalservice/resource-manager/readme.python.md
  specification/professionalservice/resource-manager/readme.typescript.md
Labels: ARMSignedOff, CI-FixRequiredOnFailure, Approved-LintDiff, ARMReview, resource-manager, new-api-version, new-rp-namespace, CI-NewRPNamespaceWithoutRPaaS

#22917 Remove old swaggers from default tag
  specification/security/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript

#22797 [Hub Generated] Review request for Microsoft.Security to add version preview/2023-02-01-preview
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-01-preview/examples/sqlVulnerabilityAssessmentScanOperations/ArcMachineScans_Get.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-01-preview/examples/sqlVulnerabilityAssessmentScanOperations/ArcMachineScans_GetLatest.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-01-preview/examples/sqlVulnerabilityAssessmentScanOperations/ArcMachineScans_List.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-01-preview/examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ArcMachineBaselineRules_Add.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-01-preview/examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ArcMachineBaselineRules_AddLatest.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-01-preview/examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ArcMachineBaselineRules_Delete.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-01-preview/examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ArcMachineBaselineRules_Get.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-01-preview/examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ArcMachineBaselineRules_List.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-01-preview/examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ArcMachineBaselineRules_Put.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-01-preview/examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ArcMachineBaselineRules_PutLatest.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-01-preview/examples/sqlVulnerabilityAssessmentsScanResultsOperations/ArcMachineScanResults_Get.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-01-preview/examples/sqlVulnerabilityAssessmentsScanResultsOperations/ArcMachineScanResults_GetLatest.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-01-preview/examples/sqlVulnerabilityAssessmentsScanResultsOperations/ArcMachineScanResults_List.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-01-preview/examples/sqlVulnerabilityAssessmentsScanResultsOperations/ArcMachineScanResults_ListLatest.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-01-preview/sqlVulnerabilityAssessmentsBaselineRuleOperations.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-01-preview/sqlVulnerabilityAssessmentsScanOperations.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-01-preview/sqlVulnerabilityAssessmentsScanResultsOperations.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, new-api-version

#21476 [CPX-Marketplace-Catalog] 2023-01-01-preview
  custom-words.txt
  specification/marketplacecatalog/data-plane/Products/preview/2023-01-01-preview/examples/PublicProducts_List.json
  specification/marketplacecatalog/data-plane/Products/preview/2023-01-01-preview/examples/SinglePublicProduct_Get.json
  specification/marketplacecatalog/data-plane/Products/preview/2023-01-01-preview/products.json
  specification/marketplacecatalog/data-plane/readme.md
Labels: customer-reported, data-plane, new-api-version, CI-MissingBaseCommit, Marketplace Catalog

#22272 Add email events to event grid
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/AzureCommunicationServices.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/chat_message_deleted.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/email_delivery_report_received.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/email_engagement_tracking_report_received.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/email_delivery_report_received.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/email_engagement_tracking_report_received.json
Labels: Event Grid, CI-FixRequiredOnFailure, data-plane

#22713 Sync Gen2 sas auth swagger to synapse
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
Labels: Approved-BreakingChange, Synapses, data-plane, NewApiVersionRequired

#22931 Merge Healthcare changes for 2023-04-01 into 2023-04-15-preview
  dev/cognitiveservices/data-plane/Language/analyzetext.json
Labels: Cognitive Services, Approved-BreakingChange, BreakingChangeReviewRequired

#22926 Removed locale from link in Swagger
  specification/workloads/resource-manager/Microsoft.Workloads/stable/2023-04-01/SAPVirtualInstance.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager, RPaaS

#22912 Update readme.python.md
  specification/graphservicesprod/resource-manager/readme.python.md
Labels: resource-manager, RPaaS

#22592 change loadtesting catalog
  specification/loadtestservice/resource-manager/readme.typescript.md
Labels: no-recent-activity, Load Test Service, resource-manager, RPaaS

#22939 update metric version
  specification/monitor/resource-manager/readme.md
Labels: Monitor, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager

#22944 [Go] config graphservicesprod readme.go.md
  specification/graphservicesprod/resource-manager/readme.go.md
  specification/graphservicesprod/resource-manager/readme.md
Labels: resource-manager, RPaaS

#22924 Storage Mover: Fix Projects Create Example
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-03-01/examples/Projects_CreateOrUpdate.json
Labels: resource-manager

#22950 Unified Vision service 3/7 public preview release
  custom-words.txt
  specification/cognitiveservices/data-plane/UnifiedVision/preview/2023-02-01-preview/UnifiedVision.json
  specification/cognitiveservices/data-plane/UnifiedVision/preview/2023-02-01-preview/examples/AnalyzeImageFromImageStream_CustomModel.json
  specification/cognitiveservices/data-plane/UnifiedVision/preview/2023-02-01-preview/examples/AnalyzeImage_CustomModel.json
  specification/cognitiveservices/data-plane/UnifiedVision/preview/2023-02-01-preview/examples/Datasets_Get.json
  specification/cognitiveservices/data-plane/UnifiedVision/preview/2023-02-01-preview/examples/Datasets_List.json
  specification/cognitiveservices/data-plane/UnifiedVision/preview/2023-02-01-preview/examples/Datasets_Unregister.json
  specification/cognitiveservices/data-plane/UnifiedVision/preview/2023-02-01-preview/examples/Datasets_Update.json
  specification/cognitiveservices/data-plane/UnifiedVision/preview/2023-02-01-preview/examples/ImageRetrieval_VectorizeImage.json
  specification/cognitiveservices/data-plane/UnifiedVision/preview/2023-02-01-preview/examples/ImageRetrieval_VectorizeImageFromImageStream.json
  specification/cognitiveservices/data-plane/UnifiedVision/preview/2023-02-01-preview/examples/ImageRetrieval_VectorizeText.json
  specification/cognitiveservices/data-plane/UnifiedVision/preview/2023-02-01-preview/examples/ModelEvaluations_Create.json
  specification/cognitiveservices/data-plane/UnifiedVision/preview/2023-02-01-preview/examples/ModelEvaluations_Delete.json
  specification/cognitiveservices/data-plane/UnifiedVision/preview/2023-02-01-preview/examples/ModelEvaluations_Get.json
  specification/cognitiveservices/data-plane/UnifiedVision/preview/2023-02-01-preview/examples/ModelEvaluations_List.json
  specification/cognitiveservices/data-plane/UnifiedVision/preview/2023-02-01-preview/examples/Models_CancelTraining.json
  specification/cognitiveservices/data-plane/UnifiedVision/preview/2023-02-01-preview/examples/Models_Create.json
  specification/cognitiveservices/data-plane/UnifiedVision/preview/2023-02-01-preview/examples/Models_Delete.json
  specification/cognitiveservices/data-plane/UnifiedVision/preview/2023-02-01-preview/examples/Models_Get.json
  specification/cognitiveservices/data-plane/UnifiedVision/preview/2023-02-01-preview/examples/Models_List.json
  specification/cognitiveservices/data-plane/UnifiedVision/preview/2023-02-01-preview/examples/RegisterDataset_ImageClassification.json
  specification/cognitiveservices/data-plane/UnifiedVision/preview/2023-02-01-preview/examples/Segment_BackgroundRemoval_FromImageStream.json
  specification/cognitiveservices/data-plane/UnifiedVision/preview/2023-02-01-preview/examples/Segment_BackgroundRemoval_FromImageUrl.json
  specification/cognitiveservices/data-plane/UnifiedVision/preview/2023-02-01-preview/examples/Segment_ForegroundMatting_FromImageStream.json
  specification/cognitiveservices/data-plane/UnifiedVision/preview/2023-02-01-preview/examples/Segment_ForegroundMatting_FromImageUrl.json
  specification/cognitiveservices/data-plane/UnifiedVision/readme.md
Labels: Cognitive Services, APIStewardshipBoard-SignedOff, data-plane

#22805 Update snapshot status selector to take multiple statuses.
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/preview/2022-11-01-preview/appconfiguration.json
Labels: Approved-BreakingChange, data-plane, BreakingChangeReviewRequired

#22932 Healthcare changes for 2023-04-15-preview
  dev/cognitiveservices/data-plane/Language/analyzetext.json
Labels: Cognitive Services, Approved-BreakingChange, BreakingChangeReviewRequired

#22854 odata fixes for ApiWikis and ProductWikis Api
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2022-08-01/apimapis.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2022-08-01/apimdocumentations.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2022-08-01/apimproducts.json
Labels: API Management, Approved-BreakingChange, resource-manager, NewApiVersionRequired

#22964 update typescript.md for graphservices
  specification/graphservicesprod/resource-manager/readme.typescript.md
Labels: resource-manager, RPaaS

#22619 [Hub Generated] Review request for Microsoft.Insights to add version stable/2022-06-01
  custom-words.txt
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/dataCollectionEndpoints_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/dataCollectionRuleAssociations_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/dataCollectionRules_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/DataCollectionEndpointsCreate.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/DataCollectionEndpointsDelete.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/DataCollectionEndpointsGet.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/DataCollectionEndpointsListByResourceGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/DataCollectionEndpointsListBySubscription.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/DataCollectionEndpointsUpdate.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/DataCollectionRuleAssociationsCreate.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/DataCollectionRuleAssociationsDelete.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/DataCollectionRuleAssociationsGet.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/DataCollectionRuleAssociationsListByDataCollectionEndpoint.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/DataCollectionRuleAssociationsListByResource.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/DataCollectionRuleAssociationsListByRule.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/DataCollectionRulesCreate.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/DataCollectionRulesDelete.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/DataCollectionRulesGet.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/DataCollectionRulesListByResourceGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/DataCollectionRulesListBySubscription.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/examples/DataCollectionRulesUpdate.json
  specification/monitor/resource-manager/readme.md
Labels: Monitor, ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, NewApiVersionRequired

#22965 [monitor] update readme.python.md
  specification/monitor/resource-manager/readme.md
  specification/monitor/resource-manager/readme.python.md
Labels: Monitor, resource-manager

#22813 {HDInsight} Fix S360 Swagger Linter items - Error R2010
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/ChangeHttpConnectivityDisable.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/ChangeHttpConnectivityEnable.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/CreateHDInsightClusterWithAutoscaleConfig.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/CreateHDInsightClusterWithAvailabilityZones.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/CreateHDInsightClusterWithComputeIsolationProperties.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/CreateHDInsightClusterWithCustomNetworkProperties.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/CreateHDInsightClusterWithEncryptionAtHost.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/CreateHDInsightClusterWithEncryptionInTransit.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/CreateHDInsightClusterWithTLS12.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/CreateKafkaClusterWithKafkaRestProxy.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/CreateLinuxHadoopAdlsGen2.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/CreateLinuxHadoopSecureHadoop.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/CreateLinuxHadoopSshPassword.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/CreateLinuxHadoopSshPublicKey.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/CreateLinuxSparkSshPassword.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/DeleteApplication.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/DeleteExtension.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/DeleteLinuxHadoopCluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/DeletePrivateEndpointConnection.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/DisableClusterAutoScale.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/DisableLinuxClusterAzureMonitor.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/DisableLinuxClusterMonitoring.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/EnableOrUpdateAutoScaleWithLoadBasedConfiguration.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/EnableOrUpdateAutoScaleWithScheduleBasedConfiguration.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/HDI_Clusters_UpdateClusterIdentityCertificate.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/HDI_Clusters_UpdateGatewaySettings_Enable.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/PostExecuteScriptAction.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/ResizeLinuxHadoopCluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/RestartVirtualMachinesOperation.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/examples/RotateLinuxHadoopClusterDiskEncryptionKey.json
Labels: HDInsight, FixS360, resource-manager

#22936 Add new get rooms list API
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/communicationservicesrooms.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Participants_List.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Participants_Patch.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_Create.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_Delete.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_Get.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_List.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_Update.json
Labels: CI-FixRequiredOnFailure, data-plane, BreakingChangeReviewRequired

#22968 Update format of repeatability-first-sent
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/communicationservicesrooms.json
Labels: CI-FixRequiredOnFailure, data-plane, BreakingChangeReviewRequired

#22963 Added RI Tranastions query parameters to billing account scope. Updat…
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2023-03-01/consumption.json
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2023-03-01/examples/ReservationTransactionsListByEnrollmentNumber.json
  specification/consumption/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager

#22973 Fix linter error s360 item for Microsoft.CostManagement/Scheduled actions
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/scheduledActions.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, resource-manager

#22943 {AzurePostgreSQL} fixes Azure/azure-rest-api-specs#22851 Data encryption type enum should be SystemManaged
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-12-01/FlexibleServers.json
Labels: PostgreSQL, Approved-BreakingChange, CI-BreakingChange-Go, resource-manager

#22910 [S360 fix] Add details field to ErrorResponse
  specification/marketplaceordering/resource-manager/Microsoft.MarketplaceOrdering/stable/2015-06-01/Agreements.json
  specification/marketplaceordering/resource-manager/Microsoft.MarketplaceOrdering/stable/2015-06-01/examples/CancelMarketplaceTerms.json
  specification/marketplaceordering/resource-manager/Microsoft.MarketplaceOrdering/stable/2015-06-01/examples/GetAgreementMarketplaceTerms.json
  specification/marketplaceordering/resource-manager/Microsoft.MarketplaceOrdering/stable/2015-06-01/examples/GetMarketplaceTerms.json
  specification/marketplaceordering/resource-manager/Microsoft.MarketplaceOrdering/stable/2015-06-01/examples/ListMarketplaceTerms.json
  specification/marketplaceordering/resource-manager/Microsoft.MarketplaceOrdering/stable/2015-06-01/examples/OperationsList.json
  specification/marketplaceordering/resource-manager/Microsoft.MarketplaceOrdering/stable/2015-06-01/examples/SetMarketplaceTerms.json
  specification/marketplaceordering/resource-manager/Microsoft.MarketplaceOrdering/stable/2015-06-01/examples/SignMarketplaceTerms.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, resource-manager, NewApiVersionRequired

#22899 Update Microsoft.Sql ManagedInstance 2022-11-01-preview Swagger Docs
  custom-words.txt
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/JobExecutions.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/JobStepExecutions.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/JobTargetExecutions.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/ManagedInstanceDtcs.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/ServerConfigurationOptions.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/examples/ManagedInstanceDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/examples/ManagedInstanceGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/examples/ManagedInstanceGetWithExpandEqualsAdministrators.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/examples/ManagedInstanceList.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/examples/ManagedInstanceListByInstancePool.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/examples/ManagedInstanceListByInstancePoolWithExpandEqualsAdministrators.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/examples/ManagedInstanceListByResourceGroup.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/examples/ManagedInstanceListByResourceGroupWithExpandEqualsAdministrators.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/examples/ManagedInstanceListWithExpandEqualsAdministrators.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/examples/ManagedInstanceRemoveMaintenanceConfiguration.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/examples/ManagedInstanceUpdateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/examples/ManagedInstanceUpdateMin.json
Labels: SQL, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, FixS360, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#22955 Update descriptions for Microsoft.DBforPostgreSQL for version stable/2022-11-08
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/ClusterAddNode.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/ClusterCreate.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/ClusterCreatePITR.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/ClusterCreateReadReplica.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/ClusterGet.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/ClusterList.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/ClusterListByResourceGroup.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/ClusterPromoteReadReplica.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/ClusterRestart.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/ClusterScaleCompute.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/ClusterScaleStorage.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/ClusterStart.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/ClusterStop.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/ClusterUpdate.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/ClusterUpdateMaintenanceWindow.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/ConfigurationGet.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/ConfigurationGetCoordinator.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/ConfigurationGetNode.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/ConfigurationListByCluster.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/ConfigurationListByServer.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/ConfigurationUpdateCoordinator.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/ConfigurationUpdateNode.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/PrivateEndpointConnectionCreateOrUpdate.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/PrivateEndpointConnectionsDelete.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/PrivateEndpointConnectionsGet.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/PrivateEndpointConnectionsListByCluster.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/PrivateLinkResourceListByCluster.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/PrivateLinkResourcesGet.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/ServerGet.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/ServerListByCluster.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/postgresqlhsc.json
Labels: CI-BreakingChange-Python-Track2, resource-manager, SuppressionReviewRequired

#22110 Huangc 2022 11 15 preview
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/IotHub_ManualFailover.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_createOrUpdate.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_get.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_stats.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/iothub.json
Labels: IoTHub, resource-manager, new-api-version, CI-MissingBaseCommit

#22650 PaymentAPIs
  custom-words.txt
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/PaymentMethodAtBillingAccount_Get.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/PaymentMethodAtBillingAccount_List.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/PaymentMethodAtBillingProfile_Get.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/PaymentMethodAtBillingProfile_List.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/PaymentMethodOwnedByUser_Delete.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/PaymentMethodOwnedByUser_Get.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/PaymentMethodOwnedByUser_List.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/payments.json
  specification/billing/resource-manager/readme.md
Labels: Billing, CI-BreakingChange-JavaScript, resource-manager

#22820 NetworkCloud 2022-12-12-preview add approved preview corrections
  specification/networkcloud/resource-manager/Microsoft.NetworkCloud/preview/2022-12-12-preview/examples/Consoles_Patch.json
  specification/networkcloud/resource-manager/Microsoft.NetworkCloud/preview/2022-12-12-preview/examples/HybridAksClusters_Create.json
  specification/networkcloud/resource-manager/Microsoft.NetworkCloud/preview/2022-12-12-preview/examples/L2Networks_Create.json
  specification/networkcloud/resource-manager/Microsoft.NetworkCloud/preview/2022-12-12-preview/networkcloud.json
Labels: Approved-BreakingChange, resource-manager, RPaaS, BreakingChangeReviewRequired

#22989 Update readme.python.md
  specification/recoveryservicesbackup/resource-manager/readme.python.md
Labels: Recovery Services Backup, resource-manager

#22986 Update DateTime to ISO-8601 format in example file
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/examples/ListDatabaseOperations.json
Labels: SQL, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#22998 Update SoftDelete/FeatureStore changes to MachineLearningService 2023-02-01-preview
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/machineLearningServices.json
Labels: Approved-BreakingChange, resource-manager, NewApiVersionRequired

#22661 Update comment.yml
  .github/comment.yml
Labels: no-recent-activity

#22697 [DO NOT MERGE] Add Archive option to LTR Policy for SQL DB
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/LongTermRetentionPolicies.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/examples/LongTermRetentionPolicyCreateOrUpdate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/examples/LongTermRetentionPolicyGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/examples/LongTermRetentionPolicyListByDatabase.json
Labels: SQL, ARMSignedOff, customer-reported, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, ARMReview, Cadl, resource-manager, data-plane, RPaaS, new-api-version, CI-MissingBaseCommit, CI-RpaaSRPNotInPrivateRepo

#22992 Update swagger documentation for Managed Instance start-stop actions
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/examples/StartManagedInstance.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/examples/StopManagedInstance.json
Labels: SQL, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#23005 [Hub Generated] Publish private branch 'roni93-security-Microsoft.Security-2023-02-01-preview'
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-01-preview/examples/HealthReports/GetHealthReport_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-01-preview/examples/HealthReports/ListHealthReports_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-01-preview/healthReports.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-LintDiff, CI-BreakingChange-JavaScript, ARMReview, resource-manager, NewApiVersionRequired

#23002 Update readme file to include previous version
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/communicationservicesrooms.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_List.json
  specification/communication/data-plane/Rooms/readme.md
Labels: data-plane, BreakingChangeReviewRequired

#22960 Add NetworkSecurityPerimeterConfigurations Swagger
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/NetworkSecurityPerimeterConfigurations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/examples/NetworkSecurityPerimeterConfigurationsGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/examples/NetworkSecurityPerimeterConfigurationsListByServer.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/examples/NetworkSecurityPerimeterConfigurationsReconcile.json
  specification/sql/resource-manager/readme.md
Labels: SQL, ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-LintDiff, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#22875 {AzureNetwork} fixes Azure/azure-rest-api-specs#20256 Fix for applicationGatewayIpConfigurations, property
  specification/network/resource-manager/Microsoft.Network/stable/2022-09-01/virtualNetwork.json
Labels: Network, Approved-BreakingChange, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#22874 {AzureNetwork} fixes Azure/azure-rest-api-specs#22448 Making priority required
  specification/network/resource-manager/Microsoft.Network/stable/2022-09-01/examples/NetworkSecurityGroupDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-09-01/examples/NetworkSecurityGroupRuleDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-09-01/networkSecurityGroup.json
Labels: Network, Approved-BreakingChange, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#22625 [Hub Generated] Publish private branch 'kim-soohwan-keyvault-mhsm-Microsoft.KeyVault-2023-02-01'
  custom-words.txt
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/common.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/DeletedManagedHsm_Get.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/DeletedManagedHsm_List.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/DeletedManagedHsm_Purge.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/ManagedHsm_CreateOrUpdate.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/ManagedHsm_Delete.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/ManagedHsm_Get.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/ManagedHsm_ListByResourceGroup.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/ManagedHsm_ListBySubscription.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/ManagedHsm_ListPrivateEndpointConnectionsByResource.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/ManagedHsm_ListRegionsByResource.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/ManagedHsm_Update.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/ManagedHsm_checkMhsmNameAvailability.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/ManagedHsm_deletePrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/ManagedHsm_getPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/ManagedHsm_listPrivateLinkResources.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/ManagedHsm_putPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/checkVaultNameAvailability.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/createKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/createSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/createVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/createVaultWithNetworkAcls.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/deletePrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/deleteVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/getDeletedVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/getKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/getKeyVersion.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/getPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/getSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/getVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/listDeletedVaults.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/listKeyVersions.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/listKeys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/listOperations.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/listPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/listPrivateLinkResources.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/listSecrets.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/listVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/listVaultByResourceGroup.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/listVaultBySubscription.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/managedHsmCreateKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/managedHsmGetKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/managedHsmGetKeyVersion.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/managedHsmListKeyVersions.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/managedHsmListKeys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/purgeDeletedVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/putPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/updateAccessPoliciesAdd.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/updateSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/examples/updateVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/keys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/keysManagedHsm.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/keyvault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/managedHsm.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/providers.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/secrets.json
  specification/keyvault/resource-manager/readme.md
  specification/keyvault/resource-manager/readme.python.md
Labels: KeyVault, ARMSignedOff, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, new-api-version

#23006 Update operation Id for Get Job Executions
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/Jobs.json
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#23032 Update readme.python.md
  specification/keyvault/resource-manager/readme.python.md
Labels: KeyVault, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#23031 Update readme.python.md
  specification/security/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#22868 {AzureServiceFabric} fixes Azure/azure-rest-api-specs#22806 The ClusterVersion API redirects to invalid link
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2021-06-01/cluster.json
Labels: Service Fabric, resource-manager

#23033 Update readme.python.md
  specification/web/resource-manager/readme.python.md
Labels: Web Apps, CI-BreakingChange-JavaScript, resource-manager

#23015 [Hub Generated] Publish private branch 'main'
  custom-words.txt
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/cadl/custom_operations.cadl
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/cadl/main.cadl
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/cadl/package.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/containerstorage.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/Operations_List_MaximumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/Operations_List_MinimumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/Pools_CreateOrUpdate_MaximumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/Pools_CreateOrUpdate_MinimumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/Pools_Delete_MaximumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/Pools_Delete_MinimumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/Pools_Get_MaximumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/Pools_Get_MinimumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/Pools_ListByResourceGroup_MaximumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/Pools_ListByResourceGroup_MinimumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/Pools_ListBySubscription_MaximumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/Pools_ListBySubscription_MinimumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/Pools_Update_MaximumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/Pools_Update_MinimumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/VolumeSnapshots_CreateOrUpdate_MaximumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/VolumeSnapshots_CreateOrUpdate_MinimumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/VolumeSnapshots_Delete_MaximumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/VolumeSnapshots_Delete_MinimumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/VolumeSnapshots_Get_MaximumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/VolumeSnapshots_Get_MinimumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/VolumeSnapshots_ListByPool_MaximumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/VolumeSnapshots_ListByPool_MinimumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/VolumeSnapshots_Update_MaximumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/VolumeSnapshots_Update_MinimumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/Volumes_CreateOrUpdate_MaximumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/Volumes_CreateOrUpdate_MinimumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/Volumes_Delete_MaximumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/Volumes_Delete_MinimumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/Volumes_Get_MaximumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/Volumes_Get_MinimumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/Volumes_ListByPool_MaximumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/Volumes_ListByPool_MinimumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/Volumes_Update_MaximumSet_Gen.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-03-01-preview/examples/Volumes_Update_MinimumSet_Gen.json
  specification/containerstorage/resource-manager/readme.az.md
  specification/containerstorage/resource-manager/readme.go.md
  specification/containerstorage/resource-manager/readme.md
  specification/containerstorage/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, Cadl, resource-manager, ReadyForApiTest, new-api-version, new-rp-namespace, CI-NewRPNamespaceWithoutRPaaS

#22981 [monitor] update readme.python.md
  specification/applicationinsights/resource-manager/readme.md
  specification/applicationinsights/resource-manager/readme.python.md
Labels: Monitor, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#23014 Single directives
  specification/consumption/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager, SuppressionReviewRequired

#23000 [Hub Generated] Publish private branch 'dev-graphservicesprod-Microsoft.GraphServices-2022-09-22-preview'
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/preview/2022-09-22-preview/examples/Accounts_Create.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/preview/2022-09-22-preview/examples/Accounts_Get.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/preview/2022-09-22-preview/examples/Accounts_List.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/preview/2022-09-22-preview/examples/Accounts_List_Sub.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/preview/2022-09-22-preview/examples/Accounts_Update.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/preview/2022-09-22-preview/graphservicesprod.json
Labels: Approved-BreakingChange, resource-manager, RPaaS, BreakingChangeReviewRequired

#23059 Update eTag property description
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/scheduledActions.json
Labels: resource-manager

#22527 Marketplace version 2023-01-01
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/Marketplace.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/AcknowledgeNotification.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/AdminRequestApprovalsList.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/AnyExistingOffersInTheCollections.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/ApproveAllItems.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/BillingAccounts.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/BulkCollectionsAction.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/CollectionsToSubscriptionsMapping.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/CreateApprovalRequest.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/CreatePrivateStoreCollection.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/DeletePrivateStore.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/DeletePrivateStoreCollection.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/DeletePrivateStoreOffer.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/DisableApproveAllItems.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/FetchAllSubscriptionsInTenant.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/GetAdminRequestApproval.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/GetApprovalRequestsList.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/GetCollectionRules.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/GetOperations.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/GetPrivateStore.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/GetPrivateStoreCollection.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/GetPrivateStoreCollectionOffer.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/GetPrivateStoreCollectionOffersWithFullContext.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/GetPrivateStoreCollectionsList.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/GetPrivateStoreOffers.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/GetPrivateStores.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/GetRequestApproval.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/ListNewPlansNotifications.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/ListStopSellOffersPlansNotifications.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/ListSubscriptionsContext.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/NotificationsState.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/PostPrivateStoreCollection.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/PostPrivateStoreCollectionOffer.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/PrivateStoreOffer_update.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/PrivateStores_update.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/QueryApprovedPlans.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/QueryOffers.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/QueryRequestApproval.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/QueryUserOffers.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/QueryUserRules.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/SetCollectionRules.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/TransferOffers.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/UpdateAdminRequestApproval.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/UpsertOfferWithMultiContext.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2023-01-01/examples/WithdrawPlan.json
  specification/marketplace/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit

#22575 [Hub Generated] Review request for Microsoft.Insights to add version preview/2023-01-01-preview
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-01-01-preview/activityLogAlerts_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-01-01-preview/examples/ActivityLogAlertRule_CreateOrUpdate.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-01-01-preview/examples/ActivityLogAlertRule_CreateOrUpdateRuleWithAnyOfCondition.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-01-01-preview/examples/ActivityLogAlertRule_CreateOrUpdateRuleWithContainsAny.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-01-01-preview/examples/ActivityLogAlertRule_CreateOrUpdateTenantLevelServiceHealthRule.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-01-01-preview/examples/ActivityLogAlertRule_Delete.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-01-01-preview/examples/ActivityLogAlertRule_Get.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-01-01-preview/examples/ActivityLogAlertRule_ListByResourceGroupName.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-01-01-preview/examples/ActivityLogAlertRule_ListBySubscriptionId.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-01-01-preview/examples/ActivityLogAlertRule_Update.json
  specification/monitor/resource-manager/readme.md
Labels: Monitor, ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-Avocado, Approved-LintDiff, CI-BreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired, new-api-version

#22807 Edit description of orderBy
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-07-01/metrics_API.json
Labels: Monitor, CI-FixRequiredOnFailure, Approved-ModelValidation, resource-manager

#22995 Revert of changes related to Provisioning state enum
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/JobExecutions.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/JobStepExecutions.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/JobTargetExecutions.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/ManagedInstanceDtcs.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/ServerConfigurationOptions.json
Labels: SQL, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#22492 [Hub Generated] Review request for Microsoft.RecoveryServices to add version stable/2023-02-01
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/Capabilities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/CheckNameAvailability_Available.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/CheckNameAvailability_NotAvailable.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/PATCHVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/PUTVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/UpdateVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/registeredidentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/replicationusages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/vaults.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/vaultusages.json
  specification/recoveryservices/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, RecoveryServices, ARMReview, resource-manager, ReadyForApiTest, new-api-version

#22866 Adding Budgets API translated from 2022-10-01 stable version of Micro…
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2023-04-01-preview/costmanagement.budgets.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2023-04-01-preview/examples/Budgets/Budget.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2023-04-01-preview/examples/Budgets/BudgetsList.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2023-04-01-preview/examples/Budgets/CreateOrUpdateBudget.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2023-04-01-preview/examples/Budgets/DeleteBudget.json
  specification/cost-management/resource-manager/readme.go.md
  specification/cost-management/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-FixRequiredOnFailure, ARMReview, resource-manager, SuppressionReviewRequired

#23077 Add servers arcAutoProvisioning configuration
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-01-preview/securityConnectors.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager

#22396 Adding changes for Language Authoring 2023-04-01 to dev folder
  dev/cognitiveservices/data-plane/Language/analyzeconversations-authoring.json
  dev/cognitiveservices/data-plane/Language/analyzetext-authoring.json
  dev/cognitiveservices/data-plane/Language/examples/analyzeconversations-authoring/SuccessfulAssignDeploymentResources.json
  dev/cognitiveservices/data-plane/Language/examples/analyzeconversations-authoring/SuccessfulDeleteDeploymentFromResources.json
  dev/cognitiveservices/data-plane/Language/examples/analyzeconversations-authoring/SuccessfulDeployProject.json
  dev/cognitiveservices/data-plane/Language/examples/analyzeconversations-authoring/SuccessfulGetAssignDeploymentResourcesStatus.json
  dev/cognitiveservices/data-plane/Language/examples/analyzeconversations-authoring/SuccessfulGetDeleteDeploymentFromResourcesStatus.json
  dev/cognitiveservices/data-plane/Language/examples/analyzeconversations-authoring/SuccessfulGetDeployment.json
  dev/cognitiveservices/data-plane/Language/examples/analyzeconversations-authoring/SuccessfulGetModel.json
  dev/cognitiveservices/data-plane/Language/examples/analyzeconversations-authoring/SuccessfulGetUnassignDeploymentResourcesStatus.json
  dev/cognitiveservices/data-plane/Language/examples/analyzeconversations-authoring/SuccessfulListAssignedResourceDeployments.json
  dev/cognitiveservices/data-plane/Language/examples/analyzeconversations-authoring/SuccessfulListDeploymentResources.json
  dev/cognitiveservices/data-plane/Language/examples/analyzeconversations-authoring/SuccessfulListDeployments.json
  dev/cognitiveservices/data-plane/Language/examples/analyzeconversations-authoring/SuccessfulListModels.json
  dev/cognitiveservices/data-plane/Language/examples/analyzeconversations-authoring/SuccessfulUnassignDeploymentResources.json
  dev/cognitiveservices/data-plane/Language/examples/analyzetext-authoring/SuccessfulAssignDeploymentResources.json
  dev/cognitiveservices/data-plane/Language/examples/analyzetext-authoring/SuccessfulDeleteDeploymentFromResources.json
  dev/cognitiveservices/data-plane/Language/examples/analyzetext-authoring/SuccessfulDeployProject.json
  dev/cognitiveservices/data-plane/Language/examples/analyzetext-authoring/SuccessfulGetAssignDeploymentResourcesStatus.json
  dev/cognitiveservices/data-plane/Language/examples/analyzetext-authoring/SuccessfulGetDeleteDeploymentFromResourcesStatus.json
  dev/cognitiveservices/data-plane/Language/examples/analyzetext-authoring/SuccessfulGetDeployment.json
  dev/cognitiveservices/data-plane/Language/examples/analyzetext-authoring/SuccessfulGetModel.json
  dev/cognitiveservices/data-plane/Language/examples/analyzetext-authoring/SuccessfulGetUnassignDeploymentResourcesStatus.json
  dev/cognitiveservices/data-plane/Language/examples/analyzetext-authoring/SuccessfulListAssignedResourceDeployments.json
  dev/cognitiveservices/data-plane/Language/examples/analyzetext-authoring/SuccessfulListDeploymentResources.json
  dev/cognitiveservices/data-plane/Language/examples/analyzetext-authoring/SuccessfulListDeployments.json
  dev/cognitiveservices/data-plane/Language/examples/analyzetext-authoring/SuccessfulListModels.json
  dev/cognitiveservices/data-plane/Language/examples/analyzetext-authoring/SuccessfulUnassignDeploymentResources.json
Labels: Cognitive Services, Approved-BreakingChange, BreakingChangeReviewRequired

#23083 Updating Microsoft.Web api to remove duplicate workflowState definition
  specification/web/resource-manager/Microsoft.Web/stable/2022-09-01/WebApps.json
Labels: Web Apps, Approved-BreakingChange, FixS360, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#23084 Updated workflowstate to be a reference
  specification/web/resource-manager/Microsoft.Web/stable/2023-01-01/WebApps.json
Labels: Web Apps, Approved-BreakingChange, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#23090 Create Room should take a map of participants
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/communicationservicesrooms.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_Create.json
Labels: CI-FixRequiredOnFailure, data-plane, BreakingChangeReviewRequired

#22979 Azure Communication Services Email API for GA
  specification/communication/data-plane/Email/readme.md
  specification/communication/data-plane/Email/stable/2023-03-31/CommunicationServicesEmail.json
  specification/communication/data-plane/Email/stable/2023-03-31/examples/GetOperationStatusReturnsFailedTerminalStatus.json
  specification/communication/data-plane/Email/stable/2023-03-31/examples/GetOperationStatusReturnsNonTerminalStatus.json
  specification/communication/data-plane/Email/stable/2023-03-31/examples/GetOperationStatusReturnsSuccessTerminalStatus.json
  specification/communication/data-plane/Email/stable/2023-03-31/examples/SendEmail.json
Labels: data-plane

#22790 Limit top incidents resource types
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/Cases.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/Incidents.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-09-01-preview/Incidents.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-10-01-preview/Incidents.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-01-01-preview/Incidents.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-04-01-preview/Incidents.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/Incidents.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-06-01-preview/Incidents.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-07-01-preview/Incidents.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-08-01-preview/Incidents.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-09-01-preview/Incidents.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-10-01-preview/Incidents.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-11-01-preview/Incidents.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-12-01-preview/Incidents.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-02-01-preview/Incidents.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/SecurityInsights.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-04-01/Incidents.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-10-01/Incidents.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2022-08-01/Incidents.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2022-11-01/Incidents.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-02-01/Incidents.json
Labels: FixS360, Approved-ModelValidation, Approved-SemanticValidation, CI-BreakingChange-JavaScript, resource-manager

#22067 [Hub Generated] Review request for Microsoft.Devices to add version preview/2022-11-15-preview
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/IotHub_ManualFailover.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/checkNameAvailability.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_certificatescreateorupdate.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_certificatesdelete.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_certverify.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_createOrUpdate.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_createconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_delete.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_deleteconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_deleteprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_exportdevices.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_generateverificationcode.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_get.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_getcertificate.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_getconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_getjob.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_getkey.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_getprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_getprivatelinkresources.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_getskus.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_importdevices.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_listbyrg.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_listbysubscription.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_listcertificates.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_listehgroups.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_listjobs.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_listkeys.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_listprivateendpointconnections.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_listprivatelinkresources.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_operations.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_patch.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_quotametrics.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_routingendpointhealth.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_stats.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_testallroutes.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_testnewroute.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_updateprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/examples/iothub_usages.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2022-11-15-preview/iothub.json
  specification/iothub/resource-manager/readme.md
Labels: IoTHub, resource-manager, new-api-version

#23039 [Stable] Bring Back schedule shutdown MLC models
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-04-01/machineLearningServices.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#23040 [Preview] Bring Back Scheduled Shutdown MLC models
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-04-01-preview/examples/Compute/createOrUpdate/ComputeInstanceWithSchedules.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-04-01-preview/machineLearningServices.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#23069 [Stable Oct GA] Bring Back Scheduled Shutdown MLC models
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2022-10-01/machineLearningServices.json
Labels: Approved-BreakingChange, CI-FixRequiredOnFailure, Approved-ModelValidation, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#22677 Update Microsoft.Sql ARM API with "format: arm-id" where appropriate and x-ms-secret where appropriate
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/DatabaseExtensions.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/DatabaseSecurityAlertPolicies.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/DatabaseVulnerabilityAssessments.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/Databases.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/FailoverGroups.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/JobAgents.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/ManagedDatabases.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/ServerSecurityAlertPolicies.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/ServerVulnerabilityAssessments.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/Servers.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/SyncAgents.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/SyncGroups.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/SyncMembers.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/VirtualNetworkRules.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/examples/DatabaseSecurityAlertCreateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/examples/DatabaseSecurityAlertCreateMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/examples/DatabaseSecurityAlertGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/examples/DatabaseSecurityAlertListByDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/examples/ManagedDatabaseCancelMove.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/examples/ManagedDatabaseCompleteMove.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/examples/ManagedDatabaseStartMoveMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/examples/ManagedDatabaseStartMoveMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/examples/ServerSecurityAlertsCreateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/examples/ServerSecurityAlertsCreateMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/examples/ServerSecurityAlertsGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/examples/ServerSecurityAlertsListByServer.json
Labels: SQL, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#22284 [Hub Generated] Review request for Microsoft.AlertsManagement to add version stable/2023-03-01
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2023-03-01/PrometheusRuleGroups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2023-03-01/examples/createOrUpdatePrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2023-03-01/examples/deletePrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2023-03-01/examples/getPrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2023-03-01/examples/listPrometheusRuleGroups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2023-03-01/examples/listSubscriptionPrometheusRuleGroups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2023-03-01/examples/patchPrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, Alerts Management, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version

#22850 Limit top incidents resource types in new 2023-03-01-preview API version
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-03-01-preview/Incidents.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, FixS360, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#23098 Add vmScanners to defenderForServersGcpOffering configuration
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-01-preview/securityConnectors.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager

#22999 Custom Summarization Runtime API
  dev/cognitiveservices/data-plane/Language/analyzeconversations.json
  dev/cognitiveservices/data-plane/Language/analyzetext.json
  dev/cognitiveservices/data-plane/Language/common.json
  dev/cognitiveservices/data-plane/Language/examples/conversations/SuccessfulCustomConversationSummarizationTaskResult.json
  dev/cognitiveservices/data-plane/Language/examples/conversations/SuccessfulCustomConversationSummarizationTaskSubmit.json
  dev/cognitiveservices/data-plane/Language/examples/text/SuccessfulCustomAbstractiveSummarizationTaskResult.json
  dev/cognitiveservices/data-plane/Language/examples/text/SuccessfulCustomAbstractiveSummarizationTaskSubmit.json
Labels: Cognitive Services, Approved-BreakingChange, CI-FixRequiredOnFailure, BreakingChangeReviewRequired

#23017 update workloadProfile to workloadProfileName
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/Jobs.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ContainerApps_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ContainerApps_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ContainerApps_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ContainerApps_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/examples/ContainerApps_Patch.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired

#22949 Adding None as allowed values for TLS
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/Servers.json
Labels: SQL, customer-reported, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#23036 upgrade AnomalyDetector to use typespec library 0.41.0
  custom-words.txt
  specification/cognitiveservices/AnomalyDetector/cadl-project.yaml
  specification/cognitiveservices/AnomalyDetector/client.tsp
  specification/cognitiveservices/AnomalyDetector/main.tsp
  specification/cognitiveservices/AnomalyDetector/multivariate/models.tsp
  specification/cognitiveservices/AnomalyDetector/multivariate/routes.tsp
  specification/cognitiveservices/AnomalyDetector/package.json
  specification/cognitiveservices/AnomalyDetector/tspconfig.yaml
  specification/cognitiveservices/AnomalyDetector/univariate/models.tsp
  specification/cognitiveservices/AnomalyDetector/univariate/routes.tsp
Labels: Cognitive Services, Cadl

#23038 upgrade openapi to typespec library 0.41.0
  custom-words.txt
  specification/cognitiveservices/OpenAI.Authoring/common.tsp
  specification/cognitiveservices/OpenAI.Authoring/deployment.tsp
  specification/cognitiveservices/OpenAI.Authoring/file.tsp
  specification/cognitiveservices/OpenAI.Authoring/finetune.tsp
  specification/cognitiveservices/OpenAI.Authoring/main.tsp
  specification/cognitiveservices/OpenAI.Authoring/model.routes.tsp
  specification/cognitiveservices/OpenAI.Authoring/models/deployment.models.tsp
  specification/cognitiveservices/OpenAI.Authoring/models/file.models.tsp
  specification/cognitiveservices/OpenAI.Authoring/models/finetune.models.tsp
  specification/cognitiveservices/OpenAI.Authoring/models/model.models.tsp
  specification/cognitiveservices/OpenAI.Authoring/package-lock.json
  specification/cognitiveservices/OpenAI.Authoring/package.json
  specification/cognitiveservices/OpenAI.Authoring/serviceCustomizations.tsp
  specification/cognitiveservices/OpenAI.Authoring/tspconfig.yaml
  specification/cognitiveservices/OpenAI.Inference/main.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions.create.tsp
  specification/cognitiveservices/OpenAI.Inference/models/embeddings.create.tsp
  specification/cognitiveservices/OpenAI.Inference/package-lock.json
  specification/cognitiveservices/OpenAI.Inference/package.json
  specification/cognitiveservices/OpenAI.Inference/routes.tsp
  specification/cognitiveservices/OpenAI.Inference/tspconfig.yaml
Labels: Cognitive Services, Cadl

#23049 Refactor cache swagger to deduplicate SkuName enum definitions.
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/redisenterprise.json
Labels: Approved-BreakingChange, resource-manager, BreakingChangeReviewRequired

#23122 [Hub Generated] Publish private branch 'datafactory/anjshar/adfNewSwaggerUpdateForIR'
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/IntegrationRuntime.json
Labels: Approved-OkToMerge, Data Factory, Approved-BreakingChange, resource-manager, NewApiVersionRequired

#23126 Adding a custom tag with older streaming for C#SDK
  specification/mediaservices/resource-manager/readme.md
Labels: Media Services, resource-manager

#23072 removing mcas from examples in MDC settings api docs as intergration …
  specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/examples/Settings/GetSettings_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/alerts.json
  specification/security/resource-manager/Microsoft.Security/stable/2021-06-01/examples/Settings/GetSettings_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2021-06-01/examples/Settings/UpdateSetting_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2021-07-01/examples/Settings/GetSetting_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2021-07-01/examples/Settings/GetSettings_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2021-07-01/examples/Settings/UpdateSetting_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2021-11-01/alerts.json
  specification/security/resource-manager/Microsoft.Security/stable/2022-05-01/examples/Settings/GetSetting_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2022-05-01/examples/Settings/GetSettings_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2022-05-01/examples/Settings/UpdateSetting_example.json
Labels: Approved-OkToMerge, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, resource-manager

#23076 Add support for ChatGPT to Azure OpenAI authoring APIs
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-03-15-preview/azureopenai.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-03-15-preview/examples/cancel_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-03-15-preview/examples/delete_deployment.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-03-15-preview/examples/delete_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-03-15-preview/examples/delete_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-03-15-preview/examples/get_deployment.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-03-15-preview/examples/get_deployments.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-03-15-preview/examples/get_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-03-15-preview/examples/get_file_content.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-03-15-preview/examples/get_files.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-03-15-preview/examples/get_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-03-15-preview/examples/get_finetune_events.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-03-15-preview/examples/get_finetunes.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-03-15-preview/examples/get_model_base.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-03-15-preview/examples/get_model_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-03-15-preview/examples/get_models.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-03-15-preview/examples/import_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-03-15-preview/examples/patch_deployment_less_capacity.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-03-15-preview/examples/post_classification_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-03-15-preview/examples/post_deployment.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-03-15-preview/examples/post_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-03-15-preview/examples/upload_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/readme.md
Labels: Cognitive Services, Approved-BreakingChange, data-plane, BreakingChangeReviewRequired

#23100 Update operation ids for Microsoft.DBforPostgreSQL for version stable/2022-11-08
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/postgresqlhsc.json
  specification/postgresqlhsc/resource-manager/readme.md
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager, BreakingChangeReviewRequired, SuppressionReviewRequired

#22860 clarify when reserved is required
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/AppServicePlans.json
Labels: Web Apps, CI-BreakingChange-JavaScript, resource-manager

#23108 [Microsoft.MachineLearningServices] Add minLength:1 prop to required strings in 2023-04-01-preview
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-04-01-preview/mfe.json
Labels: Approved-BreakingChange, Approved-ModelValidation, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#23109 [Microsoft.MachineLearningServices] Add minLength:1 prop to required strings in 2023-04-01
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-04-01/mfe.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#23148 [Go] newrelic config readme.go.md
  specification/newrelic/resource-manager/readme.go.md
Labels: resource-manager, RPaaS

#23134 Workspace Manager Members
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/WorkspaceManagerMembers.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/workspaceManagerMembers/CreateOrUpdateWorkspaceManagerMember.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/workspaceManagerMembers/DeleteWorkspaceManagerMember.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/workspaceManagerMembers/GetAllWorkspaceManagerMembers.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/workspaceManagerMembers/GetWorkspaceManagerMember.json
  specification/securityinsights/resource-manager/readme.md
Labels: WaitForARMFeedback, CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#22540 Feature/room api2023
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/communicationservicesrooms.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Participants_List.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Participants_Update.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_Create.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_Delete.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_Get.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_List.json
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/examples/Rooms_Update.json
  specification/communication/data-plane/Rooms/readme.md
Labels: CI-FixRequiredOnFailure, Approved-ModelValidation, data-plane, BreakingChangeReviewRequired

#23080 [Language Text] Delete Dynamic Classification from v2022-10-01-preview
  dev/cognitiveservices/data-plane/Language/analyzetext.json
  dev/cognitiveservices/data-plane/Language/examples/text/SuccessfuDynamicClassificationRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2022-10-01-preview/analyzetext.json
  specification/cognitiveservices/data-plane/Language/preview/2022-10-01-preview/examples/text/SuccessfuDynamicClassificationRequest.json
Labels: Cognitive Services, Approved-BreakingChange, data-plane, Cognitive - Language, BreakingChangeReviewRequired

#23166 Fnuarnav containerinstance microsoft.container instance 2023 05 01
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/containerInstance.json
Labels: Container Instances

#23169 Fnuarnav containerinstance microsoft.container instance 2023 05 01
  custom-words.txt
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/containerInstance.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/examples/ContainerGroupsCreatePriority.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/examples/ContainerGroupsGetPriority.json
Labels: Container Instances

#23170 Fnuarnav containerinstance microsoft.container instance 2023 05 01
  specification/containerinstance/resource-manager/readme.md
Labels: Container Instances

#22996 [Hub Generated] Review request for Microsoft.Communication to add version preview/2023-03-01-preview
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/CommunicationServices.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/Domains.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/EmailServices.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/SenderUsernames.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/communicationServices/checkNameAvailabilityAvailable.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/communicationServices/checkNameAvailabilityUnavailable.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/communicationServices/createOrUpdate.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/communicationServices/delete.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/communicationServices/get.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/communicationServices/linkNotificationHub.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/communicationServices/listByResourceGroup.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/communicationServices/listBySubscription.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/communicationServices/listKeys.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/communicationServices/operationsList.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/communicationServices/regenerateKey.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/communicationServices/update.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/domains/cancelVerification.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/domains/createOrUpdate.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/domains/delete.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/domains/get.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/domains/initiateVerification.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/domains/listByEmailService.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/domains/update.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/emailServices/createOrUpdate.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/emailServices/delete.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/emailServices/get.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/emailServices/getVerifiedExchangeOnlineDomains.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/emailServices/listByResourceGroup.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/emailServices/listBySubscription.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/emailServices/update.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/senderUsernames/createOrUpdate.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/senderUsernames/delete.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/senderUsernames/get.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-03-01-preview/examples/senderUsernames/listByDomain.json
  specification/communication/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version

#22862 Enable Azure PowerShell CI for liftrqumulo
  specification/liftrqumulo/resource-manager/readme.md
Labels: no-recent-activity, resource-manager, RPaaS

#23061 add parameter enableDataIsolation to workspace properties
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-04-01-preview/examples/Workspace/create.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-04-01-preview/machineLearningServices.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#23101 update description of geocoding api
  specification/maps/data-plane/Search/preview/2022-09-01-preview/search.json
  specification/maps/data-plane/Search/preview/2022-12-01-preview/search.json
Labels: APIStewardshipBoard-SignedOff, Maps, data-plane

#23099 G3 G4 SKU removal
  specification/mobilenetwork/resource-manager/Microsoft.MobileNetwork/stable/2022-11-01/common.json
Labels: Approved-OkToMerge, Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager, RPaaS, BreakingChangeReviewRequired

#23174 [Hub Generated] Fixing examples for Linter errors for version stable/2020-10-25
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2020-10-25/examples/getComputeOneSkuUsages.json
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2020-10-25/examples/getComputeUsages.json
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2020-10-25/examples/getMachineLearningServicesUsages.json
  specification/reservations/resource-manager/Microsoft.Capacity/stable/2020-10-25/examples/getQuotaRequestStatusInProgress.json
Labels: resource-manager

#23137 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2022-10-01
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/costmanagement.generatecostdetailsreport.json
Labels: CI-BreakingChange-Go, resource-manager

#23001 Fixes for Features APIs' descriptions
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/features.json
Labels: Approved-BreakingChange, Maps, data-plane, BreakingChangeReviewRequired

#23057 add data-plane ServiceBus swagger to main
  custom-words.txt
  specification/servicebus/data-plane/Microsoft.ServiceBus/stable/2021-05/servicebus.json
  specification/servicebus/data-plane/readme.md
Labels: Service Bus, data-plane, SuppressionReviewRequired

#23058 Make failover group status type object to fix resource sync
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-01-15-preview/failoverGroups.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-03-15-preview/failoverGroups.json
Labels: Approved-BreakingChange, resource-manager, RPaaS, BreakingChangeReviewRequired

#23187 [Go] paloaltonnetworks readme.go.md config
  specification/paloaltonetworks/resource-manager/readme.go.md
  specification/paloaltonetworks/resource-manager/readme.md
Labels: resource-manager, RPaaS

#23133 Workspace manager configurations
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/WorkspaceManagerConfigurations.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/workspaceManagerConfigurations/CreateOrUpdateWorkspaceManagerConfiguration.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/workspaceManagerConfigurations/DeleteWorkspaceManagerConfiguration.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/workspaceManagerConfigurations/GetAllWorkspaceManagerConfigurations.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/workspaceManagerConfigurations/GetWorkspaceManagerConfiguration.json
  specification/securityinsights/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#23146 Edit description of properties.provisioningState
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2021-10-01/remediations.json
Labels: Policy Insights, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager

#22990 [Cognitive Services - Health Insights] CADL revision for public preview
  custom-words.txt
  specification/cognitiveservices/HealthInsights/.gitignore
  specification/cognitiveservices/HealthInsights/healthinsights.common/model.common.request.tsp
  specification/cognitiveservices/HealthInsights/healthinsights.common/model.common.response.tsp
  specification/cognitiveservices/HealthInsights/healthinsights.common/model.common.shared.tsp
  specification/cognitiveservices/HealthInsights/healthinsights.common/primitives.tsp
  specification/cognitiveservices/HealthInsights/healthinsights.oncophenotype/client.tsp
  specification/cognitiveservices/HealthInsights/healthinsights.oncophenotype/model.oncophenotype.tsp
  specification/cognitiveservices/HealthInsights/healthinsights.oncophenotype/route.oncophenotype.tsp
  specification/cognitiveservices/HealthInsights/healthinsights.oncophenotype/tspconfig.yaml
  specification/cognitiveservices/HealthInsights/healthinsights.openapi/examples/2023-03-01-preview/SuccessfulOncoPhenotypeRequest.json
  specification/cognitiveservices/HealthInsights/healthinsights.openapi/examples/2023-03-01-preview/SuccessfulOncoPhenotypeResponse.json
  specification/cognitiveservices/HealthInsights/healthinsights.openapi/examples/2023-03-01-preview/SuccessfulTrialMatcherRequest.json
  specification/cognitiveservices/HealthInsights/healthinsights.openapi/examples/2023-03-01-preview/SuccessfulTrialMatcherResponse.json
  specification/cognitiveservices/HealthInsights/healthinsights.openapi/main.tsp
  specification/cognitiveservices/HealthInsights/healthinsights.openapi/service.tsp
  specification/cognitiveservices/HealthInsights/healthinsights.openapi/tspconfig.yaml
  specification/cognitiveservices/HealthInsights/healthinsights.trialmatcher/client.tsp
  specification/cognitiveservices/HealthInsights/healthinsights.trialmatcher/model.trialmatcher.tsp
  specification/cognitiveservices/HealthInsights/healthinsights.trialmatcher/route.trialmatcher.tsp
  specification/cognitiveservices/HealthInsights/healthinsights.trialmatcher/tspconfig.yaml
  specification/cognitiveservices/HealthInsights/package.json
  specification/cognitiveservices/HealthInsights/service.tsp
  specification/cognitiveservices/data-plane/HealthInsights/preview/2023-03-01-preview/examples/SuccessfulOncoPhenotypeRequest.json
  specification/cognitiveservices/data-plane/HealthInsights/preview/2023-03-01-preview/examples/SuccessfulOncoPhenotypeResponse.json
  specification/cognitiveservices/data-plane/HealthInsights/preview/2023-03-01-preview/examples/SuccessfulTrialMatcherRequest.json
  specification/cognitiveservices/data-plane/HealthInsights/preview/2023-03-01-preview/examples/SuccessfulTrialMatcherResponse.json
  specification/cognitiveservices/data-plane/HealthInsights/preview/2023-03-01-preview/openapi.json
  specification/cognitiveservices/data-plane/HealthInsights/readme.md
Labels: Cognitive Services, CI-FixRequiredOnFailure, Cadl, data-plane, SuppressionReviewRequired

#23130 Workspace manager assignments
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/WorkspaceManagerAssignments.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/workspaceManagerAssignments/CreateJob.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/workspaceManagerAssignments/CreateOrUpdateWorkspaceManagerAssignment.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/workspaceManagerAssignments/DeleteJob.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/workspaceManagerAssignments/DeleteWorkspaceManagerAssignment.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/workspaceManagerAssignments/GetAllJobs.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/workspaceManagerAssignments/GetAllWorkspaceManagerAssignments.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/workspaceManagerAssignments/GetJob.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/workspaceManagerAssignments/GetWorkspaceManagerAssignment.json
  specification/securityinsights/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager

#23185 [network] generate with only path and body params positional
  specification/network/resource-manager/readme.python.md
Labels: Network, CI-BreakingChange-JavaScript, resource-manager

#22911 [Hub Generated] Review request for Microsoft.SaaS to add version preview/2018-03-01-beta
  specification/saas/resource-manager/Microsoft.SaaS/preview/2018-03-01-beta/examples/saasSubscriptionLevel/ResourceMove.json
  specification/saas/resource-manager/Microsoft.SaaS/preview/2018-03-01-beta/examples/saasSubscriptionLevel/SaasDelete.json
  specification/saas/resource-manager/Microsoft.SaaS/preview/2018-03-01-beta/examples/saasSubscriptionLevel/SaasPatch.json
  specification/saas/resource-manager/Microsoft.SaaS/preview/2018-03-01-beta/examples/saasSubscriptionLevel/SaasPut.json
  specification/saas/resource-manager/Microsoft.SaaS/preview/2018-03-01-beta/examples/saasSubscriptionLevel/SaasUnsubscribe.json
  specification/saas/resource-manager/Microsoft.SaaS/preview/2018-03-01-beta/examples/saasV2/SaasPatch.json
  specification/saas/resource-manager/Microsoft.SaaS/preview/2018-03-01-beta/saas.json
Labels: Approved-BreakingChange, FixS360, resource-manager, NewApiVersionRequired, BreakingChangeReviewRequired

#23056 [Hub Generated] Review request for Microsoft.Help to add version preview/2023-01-01-preview
  specification/help/resource-manager/Microsoft.Help/preview/2023-01-01-preview/examples/CheckNameAvailabilityForDiagnosticWhenNameIsAvailable.json
  specification/help/resource-manager/Microsoft.Help/preview/2023-01-01-preview/examples/CheckNameAvailabilityForDiagnosticWhenNameIsNotAvailable.json
  specification/help/resource-manager/Microsoft.Help/preview/2023-01-01-preview/examples/CreateDiagnosticForKeyVaultResource.json
  specification/help/resource-manager/Microsoft.Help/preview/2023-01-01-preview/examples/GetDiagnosticForKeyVaultResource.json
  specification/help/resource-manager/Microsoft.Help/preview/2023-01-01-preview/examples/ListDiscoverySolutionsForKeyVaultResource.json
  specification/help/resource-manager/Microsoft.Help/preview/2023-01-01-preview/examples/ListOperations.json
  specification/help/resource-manager/Microsoft.Help/preview/2023-01-01-preview/help.json
  specification/help/resource-manager/readme.csharp.md
  specification/help/resource-manager/readme.go.md
  specification/help/resource-manager/readme.md
  specification/help/resource-manager/readme.python.md
  specification/help/resource-manager/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, SuppressionReviewRequired, new-api-version, new-rp-namespace, CI-NewRPNamespaceWithoutRPaaS

#22788 Microsoft.AppConfiguration: Add new 2023-03-01 version
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/appconfiguration.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/CheckNameAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/CheckNameNotAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/ConfigurationStoresCreate.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/ConfigurationStoresCreateKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/ConfigurationStoresCreateReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/ConfigurationStoresCreateWithIdentity.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/ConfigurationStoresCreateWithLocalAuthDisabled.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/ConfigurationStoresDelete.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/ConfigurationStoresDeleteKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/ConfigurationStoresDeletePrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/ConfigurationStoresDeleteReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/ConfigurationStoresGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/ConfigurationStoresGetKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/ConfigurationStoresGetPrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/ConfigurationStoresGetReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/ConfigurationStoresList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/ConfigurationStoresListByResourceGroup.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/ConfigurationStoresListKeys.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/ConfigurationStoresListPrivateEndpointConnections.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/ConfigurationStoresListReplicas.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/ConfigurationStoresRegenerateKey.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/ConfigurationStoresUpdate.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/ConfigurationStoresUpdateDisableLocalAuth.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/ConfigurationStoresUpdatePrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/ConfigurationStoresUpdateWithIdentity.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/DeletedConfigurationStoresGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/DeletedConfigurationStoresList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/DeletedConfigurationStoresPurge.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/OperationsList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/PrivateLinkResourceGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/PrivateLinkResourcesListByConfigurationStore.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/RegionalCheckNameAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/examples/RegionalCheckNameNotAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/scenarios/basic.yaml
  specification/appconfiguration/resource-manager/readme.md
  specification/appconfiguration/resource-manager/readme.test.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-LintDiff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit

#23135 Workspace manager groups
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/WorkspaceManagerGroups.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/workspaceManagerGroups/CreateOrUpdateWorkspaceManagerGroup.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/workspaceManagerGroups/DeleteWorkspaceManagerGroup.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/workspaceManagerGroups/GetAllWorkspaceManagerGroups.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/workspaceManagerGroups/GetWorkspaceManagerGroup.json
  specification/securityinsights/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager
