Repository Azure/azure-rest-api-specs, pull requests merged in 2023-05, with the labels that each got.

#23754 Update to match service behavior
  specification/eventgrid/Azure.Messaging.EventGrid/main.tsp
Labels: Event Grid

#23769 Adding New readonly property hsmPlatform to the Key Attributes
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.5-preview.1/keys.json
Labels: KeyVault, CI-FixRequiredOnFailure, data-plane

#23784 Add api version 2023-05-15 for OpenAI
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/readme.md
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/stable/2023-05-15/azureopenai.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/stable/2023-05-15/examples/cancel_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/stable/2023-05-15/examples/delete_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/stable/2023-05-15/examples/delete_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/stable/2023-05-15/examples/get_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/stable/2023-05-15/examples/get_file_content.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/stable/2023-05-15/examples/get_files.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/stable/2023-05-15/examples/get_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/stable/2023-05-15/examples/get_finetune_events.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/stable/2023-05-15/examples/get_finetunes.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/stable/2023-05-15/examples/get_model_base.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/stable/2023-05-15/examples/get_model_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/stable/2023-05-15/examples/get_models.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/stable/2023-05-15/examples/import_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/stable/2023-05-15/examples/post_classification_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/stable/2023-05-15/examples/post_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/stable/2023-05-15/examples/upload_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/stable/2023-05-15/inference.json
Labels: Cognitive Services, Approved-BreakingChange, CI-FixRequiredOnFailure, data-plane, BreakingChangeReviewRequired

#23782 Update readme.python.md
  specification/monitor/resource-manager/readme.python.md
Labels: Monitor, CI-BreakingChange-Go, resource-manager

#23735 Storage STG 88
  specification/storage/data-plane/Microsoft.FileStorage/preview/2023-01-03/file.json
  specification/storage/data-plane/Microsoft.FileStorage/readme.md
Labels: Storage, data-plane, new-api-version, CI-MissingBaseCommit

#23614 Traffic Controller v2023-05-01-preview
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/TrafficController.tsp
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/AssociationDelete.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/AssociationGet.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/AssociationPatch.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/AssociationPut.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/AssociationsGet.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/FrontendDelete.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/FrontendGet.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/FrontendPatch.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/FrontendPut.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/FrontendsGet.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/OperationsList.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/TrafficControllerDelete.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/TrafficControllerGet.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/TrafficControllerPatch.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/TrafficControllerPut.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/TrafficControllersGet.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/examples/TrafficControllersGetList.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/preview/2023-05-01-preview/TrafficController.json
  specification/servicenetworking/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, ARMReview, Cadl, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit

#23505 Add 'artifactTags' and 'disclaimer' field for shared gallery and community gallery.
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/communityGallery.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/communityGalleryExamples/CommunityGalleryImageVersion_Get.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/communityGalleryExamples/CommunityGalleryImageVersion_List.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/communityGalleryExamples/CommunityGalleryImage_Get.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/communityGalleryExamples/CommunityGalleryImage_List.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/communityGalleryExamples/CommunityGallery_Get.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/sharedGalleryExamples/SharedGalleryImageVersion_Get.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/sharedGalleryExamples/SharedGalleryImageVersions_List.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/sharedGalleryExamples/SharedGalleryImage_Get.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/sharedGalleryExamples/SharedGalleryImages_List.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/sharedGalleryExamples/SharedGallery_Get.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/sharedGalleryExamples/SharedGallery_List.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/sharedGallery.json
Labels: Compute, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, resource-manager

#23771 [Hub Generated] Review request for Microsoft.AlertsManagement to add version stable/2019-03-01
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/examples/Alerts_List.json
Labels: Alerts Management, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#23795 Alprosms cost management microsoft.cost management 2023 04 01 preview
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2023-04-01-preview/costmanagement.generatedetailedcostreport.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2023-04-01-preview/examples/GenerateDetailedCostReportOperationStatusBySubscriptionScope.json
  specification/cost-management/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, ARMReview, resource-manager, SuppressionReviewRequired

#23787 Update Monitors_CreateOrUpdate_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Monitors_CreateOrUpdate_MaximumSet_Gen.json
Labels: ARMSignedOff, ARMReview, resource-manager, Liftr

#23809 Update readme.python.md
  specification/resourcehealth/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#23778 Update App Configuration management plane API description
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2023-03-01/appconfiguration.json
Labels: Approved-OkToMerge, resource-manager

#23790 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2022-10-01
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/common-types.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/examples/GenerateDetailedCostReportOperationStatusBySubscriptionScope.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, FixS360, resource-manager, BreakingChangeReviewRequired

#23190 CosmosDB Mongo RBAC fix MongoRoleDefinitionType
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2022-08-15-preview/examples/CosmosDBMongoDBRoleDefinitionCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2022-08-15-preview/examples/CosmosDBMongoDBRoleDefinitionGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2022-08-15-preview/examples/CosmosDBMongoDBRoleDefinitionList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2022-08-15-preview/mongorbac.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2022-11-15-preview/examples/CosmosDBMongoDBRoleDefinitionCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2022-11-15-preview/examples/CosmosDBMongoDBRoleDefinitionGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2022-11-15-preview/examples/CosmosDBMongoDBRoleDefinitionList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2022-11-15-preview/mongorbac.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2023-03-01-preview/examples/CosmosDBMongoDBRoleDefinitionCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2023-03-01-preview/examples/CosmosDBMongoDBRoleDefinitionGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2023-03-01-preview/examples/CosmosDBMongoDBRoleDefinitionList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2023-03-01-preview/mongorbac.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2022-08-15/examples/CosmosDBMongoDBRoleDefinitionCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2022-08-15/examples/CosmosDBMongoDBRoleDefinitionGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2022-08-15/examples/CosmosDBMongoDBRoleDefinitionList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2022-08-15/mongorbac.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2022-11-15/examples/CosmosDBMongoDBRoleDefinitionCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2022-11-15/examples/CosmosDBMongoDBRoleDefinitionGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2022-11-15/examples/CosmosDBMongoDBRoleDefinitionList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2022-11-15/mongorbac.json
Labels: Cosmos, Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, resource-manager, BreakingChangeReviewRequired

#23586 Fix example
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2022-08-08/examples/ResourceDeletionDelete.json
Labels: Approved-OkToMerge, FixS360, resource-manager

#23593 Adding new statuses and a property to EmailDeliveryReportReceived Event
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/AzureCommunicationServices.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/email_delivery_report_received.json
Labels: data-plane

#23774 Update OpenAI tspconfig to include Java emitter config
  specification/cognitiveservices/OpenAI.Inference/models/embeddings.create.tsp
  specification/cognitiveservices/OpenAI.Inference/tspconfig.yaml
Labels: Cognitive Services

#23779 New Azure Cognitive Search API version 2023-07-01-Preview
  custom-words.txt
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchIndexAutocompleteDocumentsGet.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchIndexAutocompleteDocumentsPost.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchIndexCountDocuments.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchIndexGetDocument.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchIndexIndexDocuments.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchIndexSearchDocumentsGet.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchIndexSearchDocumentsPost.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchIndexSuggestDocumentsGet.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchIndexSuggestDocumentsPost.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceCreateAlias.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceCreateDataSource.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceCreateIndex.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceCreateIndexer.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceCreateOrUpdateAlias.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceCreateOrUpdateDataSource.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceCreateOrUpdateIndex.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceCreateOrUpdateIndexer.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceCreateOrUpdateSkillset.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceCreateOrUpdateSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceCreateSkillset.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceCreateSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceDeleteAlias.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceDeleteDataSource.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceDeleteIndex.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceDeleteIndexer.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceDeleteSkillset.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceDeleteSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceGetAlias.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceGetDataSource.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceGetIndex.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceGetIndexStatistics.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceGetIndexer.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceGetIndexerStatus.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceGetServiceStatistics.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceGetSkillset.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceGetSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceIndexAnalyze.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceListAliases.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceListDataSources.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceListIndexers.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceListIndexes.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceListSkillsets.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceListSynonymMaps.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceResetDocs.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceResetIndexer.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceResetSkills.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/examples/SearchServiceRunIndexer.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/searchindex.json
  specification/search/data-plane/Azure.Search/preview/2023-07-01-Preview/searchservice.json
  specification/search/data-plane/Azure.Search/readme.md
Labels: Search, Approved-BreakingChange, data-plane, BreakingChangeReviewRequired, SuppressionReviewRequired, new-api-version, CI-MissingBaseCommit

#23726 API 2023-04-01: A new property "storage-subscription-id" added in redisConfiguration
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheAsyncOperationStatus.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheCheckNameAvailability.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheCreate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheCreateDefaultVersion.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheCreateLatestVersion.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheDelete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheDeletePrivateEndpointConnection.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheExport.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheFirewallRuleCreate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheFirewallRuleDelete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheFirewallRuleGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheFirewallRulesList.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheForceReboot.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheGetPrivateEndpointConnection.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheImport.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheLinkedServer_Create.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheLinkedServer_Delete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheLinkedServer_Get.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheLinkedServer_List.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheList.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheListByResourceGroup.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheListKeys.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheListPrivateEndpointConnections.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheListPrivateLinkResources.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheListUpgradeNotifications.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheOperations.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCachePatchSchedulesCreateOrUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCachePatchSchedulesDelete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCachePatchSchedulesGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCachePatchSchedulesList.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCachePutPrivateEndpointConnection.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheRegenerateKey.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/examples/RedisCacheUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/redis.json
  specification/redis/resource-manager/readme.md
Labels: Redis Cache, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit

#23776 Update AppServicePlans.json
  specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/AppServicePlans.json
Labels: Approved-OkToMerge, Web Apps, resource-manager

#23827 Update readme.python.md
  specification/paloaltonetworks/resource-manager/readme.python.md
Labels: resource-manager, RPaaS

#23785 feat(apim): Provide capability to use custom hostname for Configuration API v2
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-03-01-preview/apimdeployment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-03-01-preview/examples/ApiManagementBackupWithAccessKey.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-03-01-preview/examples/ApiManagementCreateMultiRegionServiceWithCustomHostname.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-03-01-preview/examples/ApiManagementCreateServiceWithCustomHostnameKeyVault.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-03-01-preview/examples/ApiManagementListServiceBySubscription.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-03-01-preview/examples/ApiManagementListServiceBySubscriptionAndResourceGroup.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-03-01-preview/examples/ApiManagementRestoreWithAccessKey.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-03-01-preview/examples/ApiManagementServiceGetService.json
Labels: Approved-OkToMerge, API Management, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager, 2023-03-01-preview

#23745 [Hub Generated] Review request for Microsoft.Cache to add version preview/2023-05-01-preview
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheAccessPolicyAssignmentCreateUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheAccessPolicyAssignmentDelete.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheAccessPolicyAssignmentGet.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheAccessPolicyAssignmentList.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheAccessPolicyCreateUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheAccessPolicyDelete.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheAccessPolicyGet.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheAccessPolicyList.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheAsyncOperationStatus.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheCheckNameAvailability.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheCreate.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheCreateDefaultVersion.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheCreateLatestVersion.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheDelete.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheDeletePrivateEndpointConnection.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheExport.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheFirewallRuleCreate.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheFirewallRuleDelete.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheFirewallRuleGet.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheFirewallRulesList.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheForceReboot.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheGet.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheGetPrivateEndpointConnection.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheImport.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheLinkedServer_Create.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheLinkedServer_Delete.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheLinkedServer_Get.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheLinkedServer_List.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheList.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheListByResourceGroup.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheListKeys.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheListPrivateEndpointConnections.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheListPrivateLinkResources.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheListUpgradeNotifications.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheOperations.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCachePatchSchedulesCreateOrUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCachePatchSchedulesDelete.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCachePatchSchedulesGet.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCachePatchSchedulesList.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCachePutPrivateEndpointConnection.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheRegenerateKey.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/redis.json
  specification/redis/resource-manager/readme.md
Labels: Approved-OkToMerge, Redis Cache, ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-LintDiff, CI-BreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version

#23431 Adding incoming call events to swagger
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/AzureCommunicationServices.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/incoming_call.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/incoming_call.json
Labels: Event Grid, CI-FixRequiredOnFailure, data-plane

#23757 Update sample for TypeSpec compiler v0.43.0
  specification/contosowidgetmanager/Contoso.WidgetManager.Shared/main.tsp
  specification/contosowidgetmanager/Contoso.WidgetManager/tspconfig.yaml
  specification/contosowidgetmanager/data-plane/Azure.Contoso.WidgetManager/preview/2022-11-01-preview/widgets.json
Labels: data-plane

#23834 Fix cost management examples with long paths
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2023-04-01-preview/costmanagement.budgets.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2023-04-01-preview/examples/Budgets/CreateOrUpdate/ReservationUtilization/EA/BillingAccountEA-AlertRule-ReservationIdFilter.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2023-04-01-preview/examples/Budgets/CreateOrUpdate/ReservationUtilization/EA/BillingAccountEA-AlertRule-ReservedResourceTypeFilter.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2023-04-01-preview/examples/Budgets/CreateOrUpdate/ReservationUtilization/EA/BillingAccountEA-AlertRule.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2023-04-01-preview/examples/Budgets/CreateOrUpdate/ReservationUtilization/MCA/BillingProfile-AlertRule-ReservationIdFilter.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2023-04-01-preview/examples/Budgets/CreateOrUpdate/ReservationUtilization/MCA/BillingProfile-AlertRule-ReservedResourceTypeFilter.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2023-04-01-preview/examples/Budgets/CreateOrUpdate/ReservationUtilization/MCA/BillingProfile-AlertRule.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2023-04-01-preview/examples/Budgets/CreateOrUpdate/ReservationUtilization/MCA/Customer-AlertRule-ReservationIdFilter.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2023-04-01-preview/examples/Budgets/CreateOrUpdate/ReservationUtilization/MCA/Customer-AlertRule-ReservedResourceTypeFilter.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2023-04-01-preview/examples/Budgets/CreateOrUpdate/ReservationUtilization/MCA/Customer-AlertRule.json
Labels: CI-BreakingChange-Go, resource-manager

#23805 [Language] Remove non-GA DocumentDetectedLanguage object
  dev/cognitiveservices/data-plane/Language/analyzetext.json
  specification/cognitiveservices/data-plane/Language/stable/2023-04-01/analyzetext.json
Labels: Cognitive Services, Approved-BreakingChange, data-plane, Cognitive - Language, BreakingChangeReviewRequired

#23806 Fix topContributorCount to be optional with default of 10
  specification/cognitiveservices/AnomalyDetector/multivariate/models.tsp
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/openapi.json
Labels: Cognitive Services, Approved-BreakingChange, data-plane, BreakingChangeReviewRequired

#23767 Swagger change for mtls and runningState
  custom-words.txt
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/ContainerAppsRevisions.json
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/examples/ManagedEnvironments_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/examples/ManagedEnvironments_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/examples/Revisions_Get.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#23799 feat(rp): Added flags to enable/disable portals
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-03-01-preview/apimdeployment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-03-01-preview/examples/ApiManagementCreateServiceWithDeveloperPortal.json
Labels: API Management, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager, 2023-03-01-preview

#23841 [Go] config readme.go.md
  specification/networkcloud/resource-manager/readme.go.md
  specification/networkcloud/resource-manager/readme.md
Labels: resource-manager, RPaaS

#23812 s360Items
  specification/marketplacenotifications/resource-manager/Microsoft.MarketplaceNotifications/stable/2021-03-03/examples/GetReviewsNotification.json
  specification/marketplacenotifications/resource-manager/Microsoft.MarketplaceNotifications/stable/2021-03-03/examples/GetReviewsNotificationsOperations.json
Labels: customer-reported, FixS360, FixSwaggerExample, resource-manager

#23819 Add "serviceName" to ListIngressGatewayCredentialsRequest
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/stable/2023-03-15/examples/EndpointsPostListIngressGatewayCredentials.json
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/stable/2023-03-15/hybridconnectivity.json
Labels: Approved-OkToMerge, Approved-BreakingChange, resource-manager, RPaaS, NewApiVersionRequired

#23811 Update readme for Microsofr.Security - separate Vulnerability Assessment API changes in a different tag
  specification/security/resource-manager/readme.md
Labels: Approved-OkToMerge, ARMSignedOff, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager

#23832 [Hub Generated] Publish private branch 'dev-maintenance-Microsoft.Maintenance-2023-04-01'
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/Maintenance.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ApplyUpdatesResourceGroup_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ApplyUpdates_CreateOrUpdate.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ApplyUpdates_CreateOrUpdateParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ApplyUpdates_Get.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ApplyUpdates_GetParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ApplyUpdates_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignmentsForResourceGroup_CreateOrUpdate.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignmentsForResourceGroup_Delete.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignmentsForResourceGroup_Get.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignmentsForResourceGroup_UpdateForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignmentsForSubscriptions_CreateOrUpdate.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignmentsForSubscriptions_Delete.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignmentsForSubscriptions_Get.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignmentsForSubscriptions_UpdateForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignmentsResultWithinSubscription_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignments_CreateOrUpdate.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignments_CreateOrUpdateParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignments_Delete.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignments_DeleteParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignments_Get.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignments_GetParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignments_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignments_ListParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/MaintenanceConfigurationsResourceGroup_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/MaintenanceConfigurations_CreateOrUpdateForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/MaintenanceConfigurations_DeleteForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/MaintenanceConfigurations_GetForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/MaintenanceConfigurations_GetForResource_GuestOSPatchLinux.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/MaintenanceConfigurations_GetForResource_GuestOSPatchWindows.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/MaintenanceConfigurations_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/MaintenanceConfigurations_UpdateForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/Operations_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/PublicMaintenanceConfigurations_GetForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/PublicMaintenanceConfigurations_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/Updates_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/Updates_ListParent.json
  specification/maintenance/resource-manager/readme.cli.md
  specification/maintenance/resource-manager/readme.md
Labels: Approved-OkToMerge, ARMSignedOff, DoNotMerge, Approved-BreakingChange, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, SuppressionReviewRequired, new-api-version

#23797 Update security description and examples for Search service
  specification/maps/data-plane/Search/preview/1.0/search.json
  specification/maps/data-plane/Search/preview/2021-11-01-preview/examples/ForwardGeocodingByAddressLine.json
  specification/maps/data-plane/Search/preview/2021-11-01-preview/geocoding.json
  specification/maps/data-plane/Search/preview/2022-02-01-preview/examples/ForwardGeocodingByAddressLine.json
  specification/maps/data-plane/Search/preview/2022-02-01-preview/geocoding.json
  specification/maps/data-plane/Search/preview/2022-09-01-preview/examples/ForwardGeocodingByAddressLine.json
  specification/maps/data-plane/Search/preview/2022-09-01-preview/search.json
  specification/maps/data-plane/Search/preview/2022-12-01-preview/examples/ForwardGeocodingByAddressLine.json
  specification/maps/data-plane/Search/preview/2022-12-01-preview/search.json
Labels: CI-FixRequiredOnFailure, Maps, data-plane

#23801 [AppConfiguration][Unreleased] Update snapshot composition_type enum values.
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/preview/2022-11-01-preview/appconfiguration.json
Labels: Approved-BreakingChange, data-plane, BreakingChangeReviewRequired

#21808 Add swagger for UploadIndicatorsAPI (Data Plane)
  custom-words.txt
  specification/securityinsights/data-plane/Microsoft.SecurityInsights/preview/2022-12-01-preview/ThreatIntelligence.json
  specification/securityinsights/data-plane/Microsoft.SecurityInsights/preview/2022-12-01-preview/examples/threatintelligence/UploadThreatIntelligence.json
  specification/securityinsights/data-plane/readme.md
Labels: APIStewardshipBoard-ReviewRequested, APIStewardshipBoard-SignedOff, data-plane, SuppressionReviewRequired, new-api-version, CI-MissingBaseCommit, new-rp-namespace

#23789 [Hub Generated] Review request for Microsoft.Insights to add version preview/2023-05-01-preview
  specification/monitor/data-plane/Microsoft.Insights/preview/2023-05-01-preview/examples/MetricBatchExample.json
  specification/monitor/data-plane/Microsoft.Insights/preview/2023-05-01-preview/metricBatch.json
  specification/monitor/data-plane/readme.md
Labels: Monitor, data-plane, new-api-version

#23865 Removing unwanted variable Customheader
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/AzureCommunicationServices.json
Labels: Event Grid

#23835 Update 2023-05-01-preview version with changes from 2023-04-01 version.
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheExport.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/examples/RedisCacheImport.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/redis.json
Labels: Redis Cache, Approved-BreakingChange, FixS360, resource-manager, NewApiVersionRequired, BreakingChangeReviewRequired

#23850 Update readme.python.md
  specification/network/resource-manager/readme.python.md
Labels: Network, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#23840 [Hub Generated] Publish private branch 'mengai/cm-vnext-image'
  custom-words.txt
  specification/cognitiveservices/ContentSafety/examples/2023-04-30-preview/AddBlockItems.json
  specification/cognitiveservices/ContentSafety/examples/2023-04-30-preview/AnalyzeImage.json
  specification/cognitiveservices/ContentSafety/examples/2023-04-30-preview/AnalyzeText.json
  specification/cognitiveservices/ContentSafety/examples/2023-04-30-preview/CreateOrUpdateTextBlocklist.json
  specification/cognitiveservices/ContentSafety/examples/2023-04-30-preview/DeleteTextBlocklist.json
  specification/cognitiveservices/ContentSafety/examples/2023-04-30-preview/GetTextBlocklist.json
  specification/cognitiveservices/ContentSafety/examples/2023-04-30-preview/GetTextBlocklistItem.json
  specification/cognitiveservices/ContentSafety/examples/2023-04-30-preview/ListTextBlocklistItems.json
  specification/cognitiveservices/ContentSafety/examples/2023-04-30-preview/ListTextBlocklists.json
  specification/cognitiveservices/ContentSafety/examples/2023-04-30-preview/RemoveBlockItems.json
  specification/cognitiveservices/ContentSafety/main.tsp
  specification/cognitiveservices/ContentSafety/models.tsp
  specification/cognitiveservices/ContentSafety/routes.tsp
  specification/cognitiveservices/ContentSafety/tspconfig.yaml
  specification/cognitiveservices/data-plane/ContentSafety/preview/2023-04-30-preview/contentsafety.json
  specification/cognitiveservices/data-plane/ContentSafety/preview/2023-04-30-preview/examples/AddBlockItems.json
  specification/cognitiveservices/data-plane/ContentSafety/preview/2023-04-30-preview/examples/AnalyzeImage.json
  specification/cognitiveservices/data-plane/ContentSafety/preview/2023-04-30-preview/examples/AnalyzeText.json
  specification/cognitiveservices/data-plane/ContentSafety/preview/2023-04-30-preview/examples/CreateOrUpdateTextBlocklist.json
  specification/cognitiveservices/data-plane/ContentSafety/preview/2023-04-30-preview/examples/DeleteTextBlocklist.json
  specification/cognitiveservices/data-plane/ContentSafety/preview/2023-04-30-preview/examples/GetTextBlocklist.json
  specification/cognitiveservices/data-plane/ContentSafety/preview/2023-04-30-preview/examples/GetTextBlocklistItem.json
  specification/cognitiveservices/data-plane/ContentSafety/preview/2023-04-30-preview/examples/ListTextBlocklistItems.json
  specification/cognitiveservices/data-plane/ContentSafety/preview/2023-04-30-preview/examples/ListTextBlocklists.json
  specification/cognitiveservices/data-plane/ContentSafety/preview/2023-04-30-preview/examples/RemoveBlockItems.json
  specification/cognitiveservices/data-plane/ContentSafety/readme.md
Labels: Cognitive Services, CI-FixRequiredOnFailure, Approved-LintDiff, APIStewardshipBoard-SignedOff, data-plane

#23839 add network when updating server
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2022-09-30-preview/FlexibleServers.json
Labels: Approved-OkToMerge, MySQL, Approved-BreakingChange, ARMReview, resource-manager, NewApiVersionRequired, BreakingChangeReviewRequired

#23853 [Hub Generated] Publish private branch 'datafactory/zehuachen/MongoDbAtlasSwaggerUpdate'
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
Labels: Approved-OkToMerge, Data Factory, Approved-BreakingChange, resource-manager, NewApiVersionRequired

#23870 mongoDbAtlas Swagger Update
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
Labels: Synapses, data-plane, NewApiVersionRequired

#23867 Improve `prettier` troubleshooting doc: add `npx tsc`.
  documentation/ci-fix.md
Labels: resource-manager

#23886 Matteberhart/merging main for readme
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/costmanagement.benefits.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/BenefitUtilizationSummariesOperationResultsByBillingAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/BenefitUtilizationSummariesOperationResultsByBillingProfile.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/BenefitUtilizationSummariesOperationResultsByReservation.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/BenefitUtilizationSummariesOperationResultsByReservationOrder.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/BenefitUtilizationSummariesOperationResultsBySavingsPlan.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/BenefitUtilizationSummariesOperationResultsBySavingsPlanOrder.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/GenerateBenefitUtilizationSummariesReportByBillingAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/GenerateBenefitUtilizationSummariesReportByBillingProfile.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/GenerateBenefitUtilizationSummariesReportByReservation.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/GenerateBenefitUtilizationSummariesReportByReservationOrder.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/GenerateBenefitUtilizationSummariesReportBySavingsPlan.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/GenerateBenefitUtilizationSummariesReportBySavingsPlanOrder.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#23594 [Azure Maps] Data V2 and Data Registry API description update
  specification/maps/data-plane/Creator/preview/2.0/data.json
  specification/maps/data-plane/DataRegistry/preview/2022-12-01-preview/dataregistry.json
Labels: CI-FixRequiredOnFailure, data-plane

#23868 Removal of the "service in preview" description for SapVirtualInstances and Monitors resource types for 2023-04-01 api-version
  specification/workloads/resource-manager/Microsoft.Workloads/stable/2023-04-01/SAPVirtualInstance.json
  specification/workloads/resource-manager/Microsoft.Workloads/stable/2023-04-01/monitors.json
Labels: Approved-OkToMerge, resource-manager, RPaaS

#23896 Fixed double header issue
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/NetworkVirtualAppliancePut.json
Labels: Approved-OkToMerge, Network, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#23786 feat(apim): Provide capability to disable legacy configuration API
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-03-01-preview/apimdeployment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-03-01-preview/examples/ApiManagementCreateServiceWithoutLegacyConfigurationApi.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-03-01-preview/examples/ApiManagementListServiceBySubscription.json
Labels: Approved-OkToMerge, API Management, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager, 2023-03-01-preview

#23905 Added new version of Data Lake swagger
  specification/storage/data-plane/Azure.Storage.Files.DataLake/preview/2023-05-03/DataLakeStorage.json
  specification/storage/data-plane/Azure.Storage.Files.DataLake/readme.md
Labels: Storage, data-plane, BreakingChangeReviewRequired

#23907 Added new Files swagger
  specification/storage/data-plane/Microsoft.FileStorage/preview/2023-08-03/file.json
  specification/storage/data-plane/Microsoft.FileStorage/readme.md
Labels: Storage, data-plane

#23528 Added fileFormat to GrantAccessData for DD snapshots
  custom-words.txt
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2023-01-02/diskRPCommon.json
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2023-01-02/examples/diskExamples/Disk_BeginGetAccess.json
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2023-01-02/examples/diskRestorePointExamples/DiskRestorePoint_BeginGetAccess.json
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2023-01-02/examples/snapshotExamples/Snapshot_BeginGetAccess.json
Labels: Compute, ARMSignedOff, customer-reported, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, ARMReview, resource-manager

#23917 [EGv2] Editing unused variables
  specification/eventgrid/Azure.Messaging.EventGrid/main.tsp
Labels: Event Grid

#23836 Rename property in sample ContosoWidgetManager
  specification/contosowidgetmanager/Contoso.WidgetManager.Shared/main.tsp
  specification/contosowidgetmanager/Contoso.WidgetManager/examples/2022-11-01-preview/Widgets_CreateOrUpdateWidgetSample.json
  specification/contosowidgetmanager/Contoso.WidgetManager/examples/2022-11-01-preview/Widgets_GetWidgetOperationStatusSample.json
  specification/contosowidgetmanager/Contoso.WidgetManager/examples/2022-11-01-preview/Widgets_ListWidgetsSample.json
  specification/contosowidgetmanager/data-plane/Azure.Contoso.WidgetManager/preview/2022-11-01-preview/examples/Widgets_CreateOrUpdateWidgetSample.json
  specification/contosowidgetmanager/data-plane/Azure.Contoso.WidgetManager/preview/2022-11-01-preview/examples/Widgets_GetWidgetOperationStatusSample.json
  specification/contosowidgetmanager/data-plane/Azure.Contoso.WidgetManager/preview/2022-11-01-preview/examples/Widgets_ListWidgetsSample.json
  specification/contosowidgetmanager/data-plane/Azure.Contoso.WidgetManager/preview/2022-11-01-preview/widgets.json
Labels: Approved-BreakingChange, data-plane, BreakingChangeReviewRequired

#23923 Revert "[Hub Generated] Publish private branch 'dev-maintenance-Microsoft.Maintenance-2023-04-01'"
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/Maintenance.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ApplyUpdatesResourceGroup_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ApplyUpdates_CreateOrUpdate.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ApplyUpdates_CreateOrUpdateParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ApplyUpdates_Get.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ApplyUpdates_GetParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ApplyUpdates_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignmentsForResourceGroup_CreateOrUpdate.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignmentsForResourceGroup_Delete.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignmentsForResourceGroup_Get.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignmentsForResourceGroup_UpdateForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignmentsForSubscriptions_CreateOrUpdate.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignmentsForSubscriptions_Delete.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignmentsForSubscriptions_Get.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignmentsForSubscriptions_UpdateForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignmentsResultWithinSubscription_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignments_CreateOrUpdate.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignments_CreateOrUpdateParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignments_Delete.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignments_DeleteParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignments_Get.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignments_GetParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignments_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/ConfigurationAssignments_ListParent.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/MaintenanceConfigurationsResourceGroup_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/MaintenanceConfigurations_CreateOrUpdateForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/MaintenanceConfigurations_DeleteForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/MaintenanceConfigurations_GetForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/MaintenanceConfigurations_GetForResource_GuestOSPatchLinux.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/MaintenanceConfigurations_GetForResource_GuestOSPatchWindows.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/MaintenanceConfigurations_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/MaintenanceConfigurations_UpdateForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/Operations_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/PublicMaintenanceConfigurations_GetForResource.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/PublicMaintenanceConfigurations_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/Updates_List.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/examples/Updates_ListParent.json
  specification/maintenance/resource-manager/readme.cli.md
  specification/maintenance/resource-manager/readme.md
Labels: Approved-OkToMerge, Approved-BreakingChange, resource-manager, BreakingChangeReviewRequired

#23934 Adding x-ms-secret to the report urls
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/costmanagement.benefits.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#23909 [Cognitive Services Language] TA April preview SpeedUnit spelling fix
  dev/cognitiveservices/data-plane/Language/analyzetext.json
Labels: Cognitive Services, Approved-BreakingChange, BreakingChangeReviewRequired

#23936 [EGv2] Version dependency on Azure.Core
  specification/eventgrid/Azure.Messaging.EventGrid/main.tsp
Labels: Event Grid

#23938 Remove operation results
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/costmanagement.benefits.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/BenefitUtilizationSummariesOperationResultsByBillingAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/BenefitUtilizationSummariesOperationResultsByBillingProfile.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/BenefitUtilizationSummariesOperationResultsByReservation.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/BenefitUtilizationSummariesOperationResultsByReservationOrder.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/BenefitUtilizationSummariesOperationResultsBySavingsPlan.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/BenefitUtilizationSummariesOperationResultsBySavingsPlanOrder.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, resource-manager

#23895 Fixed double header issue
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/NetworkVirtualAppliancePut.json
Labels: Approved-OkToMerge, Network, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#23901 [Hub Generated] Publish private branch 'vaibmishra/onboardStorageResource'
  custom-words.txt
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/stable/2023-04-06/baremetalinfrastructure.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/stable/2023-04-06/examples/AzureBareMetalInstances_Get.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/stable/2023-04-06/examples/AzureBareMetalInstances_ListByResourceGroup.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/stable/2023-04-06/examples/AzureBareMetalInstances_ListBySubscription.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/stable/2023-04-06/examples/AzureBareMetalInstances_PatchTags.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/stable/2023-04-06/examples/AzureBareMetalInstances_PatchTags_Delete.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/stable/2023-04-06/examples/AzureBareMetalOperations_List.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/stable/2023-04-06/examples/AzureBareMetalStorageInstances_Create.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/stable/2023-04-06/examples/AzureBareMetalStorageInstances_Delete.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/stable/2023-04-06/examples/AzureBareMetalStorageInstances_Get.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/stable/2023-04-06/examples/AzureBareMetalStorageInstances_ListByResourceGroup.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/stable/2023-04-06/examples/AzureBareMetalStorageInstances_ListBySubscription.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/stable/2023-04-06/examples/AzureBareMetalStorageInstances_PatchTags.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/stable/2023-04-06/examples/AzureBareMetalStorageInstances_PatchTags_Delete.json
  specification/baremetalinfrastructure/resource-manager/readme.go.md
  specification/baremetalinfrastructure/resource-manager/readme.md
  specification/baremetalinfrastructure/resource-manager/readme.ruby.md
Labels: Approved-OkToMerge, WaitForARMFeedback, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, ARMReview, resource-manager, ReadyForApiTest, new-api-version

#23497 Add ContainerApp Start/Stop for 2023-04-01-preview
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/examples/ContainerApps_Start.json
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/examples/ContainerApps_Stop.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, ARMReview, Cadl, resource-manager, data-plane, RPaaS, BreakingChangeReviewRequired, SuppressionReviewRequired, new-api-version, CI-MissingBaseCommit

#23960 [EventGrid] Deliveryattempt change
  specification/eventgrid/Azure.Messaging.EventGrid/main.tsp
Labels: Event Grid

#23955 Using commony type error response
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/costmanagement.benefits.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#23965 [TypeSpec-Clean]: Content-safety changes
  specification/cognitiveservices/ContentSafety/routes.tsp
  specification/cognitiveservices/ContentSafety/tspconfig.yaml
  specification/cognitiveservices/data-plane/ContentSafety/preview/2023-04-30-preview/contentsafety.json
Labels: Cognitive Services, data-plane

#23966 [TypeSpec-Clean]: Updating HealthInsights
  specification/cognitiveservices/HealthInsights/healthinsights.common/model.common.response.tsp
  specification/cognitiveservices/HealthInsights/healthinsights.common/primitives.tsp
  specification/cognitiveservices/HealthInsights/healthinsights.oncophenotype/route.oncophenotype.tsp
  specification/cognitiveservices/HealthInsights/healthinsights.openapi/tspconfig.yaml
  specification/cognitiveservices/HealthInsights/healthinsights.trialmatcher/route.trialmatcher.tsp
Labels: Cognitive Services

#23970 [TypeSpec-Clean] Updates for OpenAi.Inference
  specification/cognitiveservices/OpenAI.Inference/models/chat.completions.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions.create.tsp
  specification/cognitiveservices/OpenAI.Inference/routes.tsp
  specification/cognitiveservices/OpenAI.Inference/tspconfig.yaml
Labels: Cognitive Services

#23697 Added builders and builds resource type api specifications
  specification/app/resource-manager/Microsoft.App/preview/2023-05-01-preview/Builders.json
  specification/app/resource-manager/Microsoft.App/preview/2023-05-01-preview/Builds.json
  specification/app/resource-manager/Microsoft.App/preview/2023-05-01-preview/examples/Builders_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2023-05-01-preview/examples/Builders_Delete.json
  specification/app/resource-manager/Microsoft.App/preview/2023-05-01-preview/examples/Builders_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2023-05-01-preview/examples/Builders_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/preview/2023-05-01-preview/examples/Builders_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/preview/2023-05-01-preview/examples/Builders_Update.json
  specification/app/resource-manager/Microsoft.App/preview/2023-05-01-preview/examples/Builds_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2023-05-01-preview/examples/Builds_CreateOrUpdate_NoConfig.json
  specification/app/resource-manager/Microsoft.App/preview/2023-05-01-preview/examples/Builds_Delete.json
  specification/app/resource-manager/Microsoft.App/preview/2023-05-01-preview/examples/Builds_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2023-05-01-preview/examples/Builds_ListByBuilderResource.json
  specification/app/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-LintDiff, CI-BreakingChange-JavaScript, ARMReview, resource-manager, SuppressionReviewRequired

#23714 Add new test notification APIs for Tenant Action Groups
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-05-01-preview/examples/createOrUpdateTenantActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-05-01-preview/examples/deleteTenantActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-05-01-preview/examples/getTenantActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-05-01-preview/examples/getTestNotificationsAtTenantActionGroupResourceLevel.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-05-01-preview/examples/listTenantActionGroups.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-05-01-preview/examples/patchTenantActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-05-01-preview/examples/postTestNotificationsAtTenantActionGroupResourceLevel.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-05-01-preview/tenantActionGroups_API.json
  specification/monitor/resource-manager/readme.md
Labels: Approved-OkToMerge, Monitor, ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit

#23989 update mysql readme.typescript
  specification/mysql/resource-manager/readme.typescript.md
Labels: MySQL, CI-BreakingChange-Go, resource-manager

#23572 excludeDuplicateEvents query False
  specification/agrifood/data-plane/Microsoft.AgFoodPlatform/preview/2023-04-01-preview/agfood.json
Labels: Approved-OkToMerge, Approved-BreakingChange, data-plane, BreakingChangeReviewRequired

#23972 [TypeSpec-Clean]: Updates for AnomalyDetector
  specification/cognitiveservices/AnomalyDetector/tspconfig.yaml
Labels: Cognitive Services

#23780 Trustedmode backuprestore
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.5-preview.1/backuprestore.json
Labels: KeyVault, CI-FixRequiredOnFailure, data-plane, BreakingChangeReviewRequired

#23800 feat(apim): Add new tracing API
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-03-01-preview/apimgateways.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-03-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-03-01-preview/examples/ApiManagementGatewayInvalidateDebugCredentials.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-03-01-preview/examples/ApiManagementGatewayListDebugCredentials.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-03-01-preview/examples/ApiManagementGatewayListTrace.json
Labels: Approved-OkToMerge, API Management, ARMSignedOff, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, ARMReview, resource-manager, 2023-03-01-preview

#23903 [Hub Generated] Publish private branch 'datafactory/dev/wanyang/nbactivity-sparkconfig'
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: Approved-OkToMerge, Data Factory, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, FixS360, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager, NewApiVersionRequired

#24007 [Go] resourcehealth add directive
  specification/resourcehealth/resource-manager/readme.go.md
Labels: CI-BreakingChange-Go, resource-manager

#23995 [EventGrid] Remove internal
  specification/eventgrid/Azure.Messaging.EventGrid/client.tsp
Labels: Event Grid

#23969 [TypeSpec-Clean] Update OpenAI.Authoring
  specification/cognitiveservices/OpenAI.Authoring/cadl-output/2022-06-01-preview/openapi.json
  specification/cognitiveservices/OpenAI.Authoring/cadl-output/openapi.json
  specification/cognitiveservices/OpenAI.Authoring/common.tsp
  specification/cognitiveservices/OpenAI.Authoring/deployment.tsp
  specification/cognitiveservices/OpenAI.Authoring/file.tsp
  specification/cognitiveservices/OpenAI.Authoring/finetune.tsp
  specification/cognitiveservices/OpenAI.Authoring/main.tsp
  specification/cognitiveservices/OpenAI.Authoring/model.routes.tsp
  specification/cognitiveservices/OpenAI.Authoring/models/deployment.models.tsp
  specification/cognitiveservices/OpenAI.Authoring/models/file.models.tsp
  specification/cognitiveservices/OpenAI.Authoring/models/finetune.models.tsp
  specification/cognitiveservices/OpenAI.Authoring/models/model.models.tsp
  specification/cognitiveservices/OpenAI.Authoring/serviceCustomizations.tsp
  specification/cognitiveservices/OpenAI.Authoring/swagger-to-cadl.sh
  specification/cognitiveservices/OpenAI.Authoring/tspconfig.yaml
Labels: Cognitive Services, Approved-BreakingChange, BreakingChangeReviewRequired

#23470 [Hub Generated] Review request for Microsoft.Databricks to add version stable/2023-05-01
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-05-01/accessconnector.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-05-01/examples/AccessConnectorCreateOrUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-05-01/examples/AccessConnectorCreateOrUpdateWithUserAssigned.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-05-01/examples/AccessConnectorDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-05-01/examples/AccessConnectorGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-05-01/examples/AccessConnectorPatchUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-05-01/examples/AccessConnectorsListByResourceGroup.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2023-05-01/examples/AccessConnectorsListBySubscriptionId.json
  specification/databricks/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest, new-api-version

#23973 [TypeSpec Update]: Update Versions and Anomaly Detector
  package-lock.json
  package.json
  specification/cognitiveservices/AnomalyDetector/multivariate/routes.tsp
  specification/cognitiveservices/AnomalyDetector/univariate/routes.tsp
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/openapi.json
Labels: Cognitive Services, Approved-BreakingChange, data-plane, BreakingChangeReviewRequired

#23676 Microsoft.KubernetesConfiguration to add preview and stable version 2023-05-01
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/common/2023-05-01-preview/definitions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/common/2023-05-01-preview/parameters.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2023-05-01-preview/examples/GetExtensionType.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2023-05-01-preview/examples/GetExtensionTypeByLocation.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2023-05-01-preview/examples/GetExtensionTypeVersion.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2023-05-01-preview/examples/GetExtensionTypeVersionByLocation.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2023-05-01-preview/examples/ListExtensionTypeVersions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2023-05-01-preview/examples/ListExtensionTypeVersionsByLocation.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2023-05-01-preview/examples/ListExtensionTypes.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2023-05-01-preview/examples/ListExtensionTypesByLocation.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2023-05-01-preview/extensionTypes.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/examples/CreateExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/examples/CreateExtensionWithPlan.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/examples/CreateFluxConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/examples/CreateFluxConfigurationWithAzureBlob
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/examples/CreateFluxConfigurationWithBucket.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/examples/CreateSourceControlConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/examples/DeleteExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/examples/DeleteFluxConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/examples/DeleteSourceControlConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/examples/GetExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/examples/GetExtensionAsyncOperationStatus.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/examples/GetExtensionWithPlan.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/examples/GetFluxConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/examples/GetFluxConfigurationAsyncOperationStatus.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/examples/GetSourceControlConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/examples/ListAsyncOperationStatus.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/examples/ListExtensions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/examples/ListFluxConfigurations.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/examples/ListSourceControlConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/examples/OperationsList.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/examples/PatchExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/examples/PatchFluxConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/extensions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/fluxconfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/kubernetesconfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/operations.json
  specification/kubernetesconfiguration/resource-manager/readme.go.md
  specification/kubernetesconfiguration/resource-manager/readme.java.md
  specification/kubernetesconfiguration/resource-manager/readme.md
  specification/kubernetesconfiguration/resource-manager/readme.python.md
  specification/kubernetesconfiguration/resource-manager/readme.ruby.md
Labels: Approved-OkToMerge, ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, CI-MissingBaseCommit

#23741 Updating the name for Storage Account Type for Edgzones
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-03-03/gallery.json
Labels: Compute, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#23891 Add new source controls properties
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/SourceControls.json
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/examples/SourceControls_CreateOrUpdate.json
Labels: Approved-OkToMerge, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, resource-manager

#24003 [Hub Generated] Publish private branch 'datafactory/v-jinpan/FixTrack2'
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: Approved-OkToMerge, Data Factory, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager, NewApiVersionRequired

#24027 update sample parameter
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/preview/2022-09-22-preview/examples/Accounts_Create.json
Labels: resource-manager

#23849 feat(apim): Add ability to create and update new OData api
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-03-01-preview/apimapis.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-03-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-03-01-preview/examples/ApiManagementCreateODataApi.json
Labels: Approved-OkToMerge, API Management, ARMSignedOff, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, ARMReview, resource-manager, 2023-03-01-preview

#23956 [Hub Generated] Review request for Microsoft.Help to add version stable/2023-06-01
  specification/help/resource-manager/Microsoft.Help/stable/2023-06-01/examples/CheckNameAvailabilityForDiagnosticWhenNameIsAvailable.json
  specification/help/resource-manager/Microsoft.Help/stable/2023-06-01/examples/CheckNameAvailabilityForDiagnosticWhenNameIsNotAvailable.json
  specification/help/resource-manager/Microsoft.Help/stable/2023-06-01/examples/CreateDiagnosticForKeyVaultResource.json
  specification/help/resource-manager/Microsoft.Help/stable/2023-06-01/examples/GetDiagnosticForKeyVaultResource.json
  specification/help/resource-manager/Microsoft.Help/stable/2023-06-01/examples/ListDiscoverySolutionsForKeyVaultResource.json
  specification/help/resource-manager/Microsoft.Help/stable/2023-06-01/examples/ListOperations.json
  specification/help/resource-manager/Microsoft.Help/stable/2023-06-01/help.json
  specification/help/resource-manager/readme.md
Labels: Approved-OkToMerge, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version

#23810 Change event trigger replica properties to executions, add polling in…
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/Jobs.json
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/examples/Job_CreateorUpdate_EventTrigger.json
Labels: CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager

#24047 Update readme.python.md
  specification/resourcehealth/resource-manager/readme.python.md
Labels: Approved-OkToMerge, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#24033 [OpenAI] Enable sync stack and not generate tests folder in tspconfig.yaml
  specification/cognitiveservices/OpenAI.Inference/tspconfig.yaml
Labels: Cognitive Services

#24052 update values of OperatorNumberType enum
  specification/communication/data-plane/PhoneNumbers/preview/2023-05-01-preview/phonenumbers.json
Labels: Approved-BreakingChange, data-plane, BreakingChangeReviewRequired

#23952 SIP-Update formatting of security section
  specification/communication/data-plane/SipRouting/preview/2023-04-01-preview/communicationservicessiprouting.json
  specification/communication/data-plane/SipRouting/preview/2023-04-01-preview/examples/GetSipConfiguration.json
  specification/communication/data-plane/SipRouting/preview/2023-04-01-preview/examples/GetSipConfigurationWithExpand.json
  specification/communication/data-plane/SipRouting/preview/2023-04-01-preview/examples/UpdateSipConfiguration.json
  specification/communication/data-plane/SipRouting/stable/2023-03-01/communicationservicessiprouting.json
  specification/communication/data-plane/SipRouting/stable/2023-03-01/examples/GetSipConfiguration.json
  specification/communication/data-plane/SipRouting/stable/2023-03-01/examples/UpdateSipConfiguration.json
Labels: data-plane

#24039 [OpenAI] Update properties back from optional to nullable
  specification/cognitiveservices/OpenAI.Inference/models/chat.completions.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions.create.tsp
Labels: Cognitive Services

#23949 [Synapse] Update type for [WebActivityAuthentication]-[resource] property to keep pace with adf
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/entityTypes/Pipeline.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2021-06-01-preview/entityTypes/Pipeline.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: Synapses, data-plane, BreakingChangeReviewRequired

#23616 Add data-plane 2023-06-30 for Azure Digital Twins
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/digitaltwins.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/CreateRelationshipAdvancedExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/CreateRelationshipBasicExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/DeleteModel.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/DeleteRelationship.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/DeleteTwin.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/EventRouteDelete.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/EventRouteGet.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/EventRoutePut.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/EventRoutePutWithFilter.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/EventRoutesList.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/GetComponent.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/GetIncomingRelationship.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/GetRelationship.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/GetRelationshipById.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/GetRelationshipByRelationshipName.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/GetTwin.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/ImportJobCancel.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/ImportJobDelete.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/ImportJobGet.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/ImportJobList.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/ImportJobPut.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/ModelAdd.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/ModelGetById.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/ModelGetByIdWithIncludeModelDefinition.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/ModelUpdateDecommissioned.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/ModelsGet.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/ModelsGetWithDependenciesAndIncludeModelDefinition.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/PatchComponentAdvancedExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/PatchComponentBasicExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/PatchRelationshipAdvancedExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/PatchRelationshipBasicExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/PatchTwinAdvancedExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/PatchTwinBasicExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/PutTwinAdvancedExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/PutTwinBasicExample.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/QueryFirstPage.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/QueryJoin.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/QueryNextPage.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/SendTelemetry.json
  specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2023-06-30/examples/SendTelemetryFromComponent.json
  specification/digitaltwins/data-plane/readme.md
  specification/digitaltwins/data-plane/readme.python.md
Labels: APIStewardshipBoard-SignedOff, data-plane, new-api-version, CI-MissingBaseCommit

#24016 Add tag for dotnet sdk generation
  specification/security/resource-manager/readme.md
Labels: Approved-OkToMerge, resource-manager

#23816 Add single execution history endpoint, refactor copy paste code for j…
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/Jobs.json
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/examples/Job_Execution_Get.json
Labels: Approved-OkToMerge, ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#23900 Add 2022-09-30-preview for service operations in MySQL
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/preview/2022-09-30-preview/ServiceOperations.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/preview/2022-09-30-preview/examples/CapabilitiesByLocationList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/preview/2022-09-30-preview/examples/CheckNameAvailability.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/preview/2022-09-30-preview/examples/CheckVirtualNetworkSubnetUsage.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/preview/2022-09-30-preview/examples/GetPrivateDnsZoneSuffix.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/preview/2022-09-30-preview/examples/OperationsList.json
  specification/mysql/resource-manager/readme.md
Labels: Approved-OkToMerge, ARMSignedOff, MySQL, Approved-BreakingChange, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired

#23929 [PostgreSQL] Allow network property to be updated during PG flexible server update
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-12-01/FlexibleServers.json
Labels: Approved-OkToMerge, PostgreSQL, Approved-BreakingChange, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, resource-manager, BreakingChangeReviewRequired

#23983 2023-03-01-preview : Optional Migration parameter for no downtime
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-03-01-preview/apimdeployment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-03-01-preview/examples/ApiManagementServiceMigrateToStv2.json
Labels: Approved-OkToMerge, API Management, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager, 2023-03-01-preview

#24061 [Hub Generated] Review request for Microsoft.BareMetalInfrastructure to add version stable/2023-04-06
  specification/baremetalinfrastructure/resource-manager/readme.typescript.md
Labels: Approved-OkToMerge, resource-manager

#24078 [EGv2] remove maxWaitTime
  specification/eventgrid/Azure.Messaging.EventGrid/main.tsp
Labels: Event Grid

#23147 [Defender (RiskIQ) - EASM] Api version 2023-03-01-preview
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/easm.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/Assets_Get.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/Assets_List.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/Assets_Update.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/DataConnections_Delete.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/DataConnections_Get.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/DataConnections_List.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/DataConnections_Put.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/DataConnections_Validate.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/DiscoveryGroups_Get.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/DiscoveryGroups_List.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/DiscoveryGroups_ListRuns.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/DiscoveryGroups_Put.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/DiscoveryGroups_Run.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/DiscoveryGroups_Validate.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/DiscoveryTemplates_Get.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/DiscoveryTemplates_List.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/Reports_Billable.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/Reports_Snapshot.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/Reports_Summary_Assets.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/Reports_Summary_Assets_GroupBy.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/Reports_Summary_Assets_GroupBy_SegmentBy.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/Reports_Summary_MetricCategories.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/Reports_Summary_Metrics.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/SavedFilters_Delete.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/SavedFilters_Get.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/SavedFilters_List.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/SavedFilters_Put.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/Tasks_Cancel.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/Tasks_Get.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/Tasks_List.json
  specification/riskiq/data-plane/readme.md
Labels: APIStewardshipBoard-SignedOff, Cadl, data-plane, RPaaS, SuppressionReviewRequired, new-api-version, CI-MissingBaseCommit

#24067 delete directive in network typescript.md
  specification/network/resource-manager/readme.typescript.md
Labels: Network, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#24031 Adding new version 2023-05-01-preview for adding an additional parameter in "MarketplaceSaaSInfo" response
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/elastic.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/AllTrafficFilters_list.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/AssociateTrafficFilter_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/AssociatedFiltersForDeployment_list.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/DeploymentInfo_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/DetachAndDeleteTrafficFilter_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/DetachTrafficFilters_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/ElasticVersions_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/ExternalUserInfo.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/IPTrafficFilter_Create.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/Monitor_Upgrade.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/MonitoredResources_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/Monitors_Create.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/Monitors_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/Monitors_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/Monitors_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/Monitors_ListByResourceGroup.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/Monitors_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/Operations_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/Organizations_GetApiKey.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/PrivateLinkTrafficFilters_Create.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/TagRules_CreateOrUpdate.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/TagRules_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/TagRules_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/TagRules_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/TrafficFilters_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/UpgradableVersions_Details.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/VMCollection_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/VMHost_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-05-01-preview/examples/VMIngestion_Details.json
  specification/elastic/resource-manager/readme.md
Labels: Approved-OkToMerge, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, CI-MissingBaseCommit

#24085 [Hub Generated] Publish private branch 'datafactory/v-jinpan/FixO365'
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: Approved-OkToMerge, Data Factory, resource-manager

#24020 [Hub Generated] Review request for Microsoft.CostManagement to add version stable/2022-10-01
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2023-04-01-preview/costmanagement.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/costmanagement.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/costmanagement.json
Labels: Approved-OkToMerge, Approved-BreakingChange, resource-manager, BreakingChangeReviewRequired

#23932 Add springboard properties
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/examples/ContainerApps_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/examples/ContainerApps_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/examples/ContainerApps_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/examples/ContainerApps_Patch.json
Labels: Approved-OkToMerge, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#23585 User solutions authenticated API
  custom-words.txt
  specification/marketplacecatalog/resource-manager/Solutions/preview/2023-03-01-preview/examples/CreateUserSolution.json
  specification/marketplacecatalog/resource-manager/Solutions/preview/2023-03-01-preview/examples/GetUserSolution.json
  specification/marketplacecatalog/resource-manager/Solutions/preview/2023-03-01-preview/examples/GetUserSolutions.json
  specification/marketplacecatalog/resource-manager/Solutions/preview/2023-03-01-preview/examples/Operations_Get.json
  specification/marketplacecatalog/resource-manager/Solutions/preview/2023-03-01-preview/examples/RemoveUserSolution.json
  specification/marketplacecatalog/resource-manager/Solutions/preview/2023-03-01-preview/solutions.json
  specification/marketplacecatalog/resource-manager/Solutions/readme.md
Labels: Approved-OkToMerge, ARMSignedOff, CI-FixRequiredOnFailure, Approved-LintDiff, ARMReview, resource-manager, ReadyForApiTest, commitAfterSignedOff

#24069 Adding Failover Groups API for SQL DB on v5 tag for 2022-11-01
  specification/sql/resource-manager/readme.md
Labels: Approved-OkToMerge, SQL, resource-manager

#23670 [Synapse Platform Service - Synase Link] add ActionOnExistingTargetTable properties of synapse link
  specification/synapse/data-plane/Microsoft.Synapse/preview/2023-04-18-preview/examples/LinkConnection_CreateOrUpdate.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2023-04-18-preview/examples/LinkConnection_Delete.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2023-04-18-preview/examples/LinkConnection_EditTables.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2023-04-18-preview/examples/LinkConnection_Get.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2023-04-18-preview/examples/LinkConnection_GetDetailedStatus.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2023-04-18-preview/examples/LinkConnection_ListLinkTables.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2023-04-18-preview/examples/LinkConnection_Pause.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2023-04-18-preview/examples/LinkConnection_QueryTableStatus.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2023-04-18-preview/examples/LinkConnection_Resume.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2023-04-18-preview/examples/LinkConnection_Start.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2023-04-18-preview/examples/LinkConnection_Stop.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2023-04-18-preview/examples/LinkConnection_UpdateLandingZoneCredential.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2023-04-18-preview/examples/LinkConnections_ListByWorkspace.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2023-04-18-preview/linkConnections.json
  specification/synapse/data-plane/readme.md
Labels: Synapses, APIStewardshipBoard-SignedOff, data-plane, new-api-version, CI-MissingBaseCommit

#24080 [Egv2] Encode param
  specification/eventgrid/Azure.Messaging.EventGrid/main.tsp
Labels: Event Grid

#23533 Additional model validation fixes in GalleryRP
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/GalleryImage_Create.json
Labels: Compute, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#24098 [EGv2] Fix pipeline
  custom-words.txt
  specification/eventgrid/data-plane/Microsoft.EventGrid/preview/2023-06-01-preview/EventGrid.json
  specification/eventgrid/data-plane/readme.md
Labels: Event Grid, data-plane

#23204 EventGridv2 TypeSpec Api Preview
  custom-words.txt
  specification/eventgrid/Azure.Messaging.EventGrid/main.tsp
  specification/eventgrid/Azure.Messaging.EventGrid/tspconfig.yaml
  specification/eventgrid/data-plane/Microsoft.EventGrid/preview/2023-06-01-preview/EventGrid.json
  specification/eventgrid/data-plane/readme.md
Labels: Event Grid, CI-FixRequiredOnFailure, data-plane, new-api-version, CI-MissingBaseCommit, TypeSpec

#23948 Adding missing customerName property to fix S360 swagger correctness
  specification/billing/resource-manager/Microsoft.Billing/stable/2021-10-01/billingSubscription.json
Labels: Approved-OkToMerge, Billing, Approved-BreakingChange, FixS360, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#23661 Tianxinliu/20230501
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/CheckDomainAvailability.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/CheckSkuAvailability.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/CreateAccount.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/CreateAccountMin.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/CreateSharedCommitmentPlan.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/CreateSharedCommitmentPlanAssociation.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/DeleteAccount.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/DeleteCommitmentPlan.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/DeleteDeployment.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/DeletePrivateEndpointConnection.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/DeleteSharedCommitmentPlan.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/DeleteSharedCommitmentPlanAssociation.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/GetAccount.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/GetCommitmentPlan.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/GetDeletedAccount.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/GetDeployment.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/GetOperations.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/GetPrivateEndpointConnection.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/GetSharedCommitmentPlan.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/GetSharedCommitmentPlanAssociation.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/GetSkus.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/GetUsages.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/ListAccountModels.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/ListAccountsByResourceGroup.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/ListAccountsBySubscription.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/ListCommitmentPlans.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/ListCommitmentTiers.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/ListDeletedAccountsBySubscription.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/ListDeployments.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/ListKeys.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/ListModels.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/ListPrivateEndpointConnections.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/ListPrivateLinkResources.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/ListSharedCommitmentPlanAssociations.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/ListSharedCommitmentPlansByResourceGroup.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/ListSharedCommitmentPlansBySubscription.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/ListSkus.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/ListUsages.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/PurgeDeletedAccount.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/PutCommitmentPlan.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/PutDeployment.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/PutPrivateEndpointConnection.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/RegenerateKey.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/UpdateAccount.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2023-05-01/examples/UpdateSharedCommitmentPlan.json
  specification/cognitiveservices/resource-manager/readme.md
Labels: Approved-OkToMerge, Cognitive Services, ARMSignedOff, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit

#24071 Edited description for additional nics
  specification/network/resource-manager/Microsoft.Network/stable/2023-02-01/networkVirtualAppliance.json
Labels: Approved-OkToMerge, Network, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#23942 Add "Warning" to the EP HealthStatus field
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/enterprisePolicy.json
Labels: Approved-OkToMerge, Approved-BreakingChange, CI-BreakingChange-Go, resource-manager, BreakingChangeReviewRequired

#23993 Purview Share Test Api Specification Update - Version 2023-05-30-preview
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/ReceivedShares_ActivateTenantEmailRegistration.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/ReceivedShares_CreateOrReplace.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/ReceivedShares_CreateOrReplaceAdlsGen2Account.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/ReceivedShares_CreateOrReplaceBlobAccount.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/ReceivedShares_Delete.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/ReceivedShares_Get.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/ReceivedShares_GetAdlsGen2Account.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/ReceivedShares_GetBlobAccount.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/ReceivedShares_ListAttached.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/ReceivedShares_ListDetached.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/ReceivedShares_RegisterTenantEmailRegistration.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/SentShares_CreateInvitation.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/SentShares_CreateOrReplace.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/SentShares_CreateOrReplaceAdlsGen2Account.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/SentShares_CreateOrReplaceBlobAccount.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/SentShares_CreateServiceInvitation.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/SentShares_CreateUserInvitation.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/SentShares_Delete.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/SentShares_DeleteInvitation.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/SentShares_Get.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/SentShares_GetAdlsGen2Account.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/SentShares_GetBlobAccount.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/SentShares_GetInvitation.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/SentShares_GetServiceInvitation.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/SentShares_GetUserInvitation.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/SentShares_List.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/SentShares_ListInvitations.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/SentShares_NotifyUserInvitation.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/examples/ShareResources_List.json
  specification/purview/data-plane/Azure.Analytics.Purview.Share/preview/2023-05-30-preview/share.json
  specification/purview/data-plane/readme.md
Labels: APIStewardshipBoard-SignedOff, Purview, data-plane

#24088 mgmt, resources subscriptions, revert SubscriptionIdParameter x-ms-parameter-location
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-12-01/subscriptions.json
Labels: Approved-OkToMerge, Approved-BreakingChange, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#24068 [Synapse]Add OutputColumn Object For Office365Source outputColumns
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: Synapses, data-plane

#24120 [OpenAI] Suppress null warnings
  specification/cognitiveservices/OpenAI.Inference/models/chat.completions.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions.create.tsp
Labels: Cognitive Services

#24001 [Hub Generated] Publish private branch 'amatukmolina-graphservicesprod-Microsoft.GraphServices-2023-04-13'
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/stable/2023-04-13/examples/Accounts_Create.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/stable/2023-04-13/examples/Accounts_Delete.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/stable/2023-04-13/examples/Accounts_Get.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/stable/2023-04-13/examples/Accounts_List.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/stable/2023-04-13/examples/Accounts_List_Sub.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/stable/2023-04-13/examples/Accounts_Update.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/stable/2023-04-13/examples/Operations_List.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/stable/2023-04-13/graphservicesprod.json
  specification/graphservicesprod/resource-manager/readme.md
Labels: Approved-OkToMerge, ARMSignedOff, CI-BreakingChange-Python-Track2, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version

#23876 Update LRO final state via operation and change integer format for Cosmos DB for PostgreSQL
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/postgresqlhsc.json
Labels: Approved-OkToMerge, Approved-BreakingChange, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, resource-manager, BreakingChangeReviewRequired

#24135 [keyvault] update python config
  specification/keyvault/resource-manager/readme.python.md
Labels: KeyVault, resource-manager

#24137 [keyvault] Update readme.python.md
  specification/keyvault/resource-manager/readme.python.md
Labels: KeyVault, resource-manager

#24086 Modify ipv6 firewall rules swagger file of 2022-11-01
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/IPv6FirewallRules.json
  specification/sql/resource-manager/readme.md
Labels: SQL, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-LintDiff, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#24139 added x-ms-mutability for VulnerabilityAssessmentRecurringScansProper…
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/sqlServer.json
Labels: CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, Synapses, CI-BreakingChange-JavaScript, resource-manager

#24097 Adding new preview version for DNC API to expose optional "purpose" parameter when creating a controller
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2023-05-18-preview/common-types.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2023-05-18-preview/controller.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2023-05-18-preview/delegatedSubnets.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2023-05-18-preview/examples/controllerListByRG.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2023-05-18-preview/examples/controllerListBySub.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2023-05-18-preview/examples/delegatedNetworkOperationsList.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2023-05-18-preview/examples/delegatedSubnetListByRG.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2023-05-18-preview/examples/delegatedSubnetListBySub.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2023-05-18-preview/examples/deleteController.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2023-05-18-preview/examples/deleteDelegatedSubnet.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2023-05-18-preview/examples/deleteOrchestrator.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2023-05-18-preview/examples/getController.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2023-05-18-preview/examples/getDelegatedSubnet.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2023-05-18-preview/examples/getOrchestrator.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2023-05-18-preview/examples/orchestratorInstanceListByRG.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2023-05-18-preview/examples/orchestratorInstanceListBySub.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2023-05-18-preview/examples/patchController.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2023-05-18-preview/examples/patchDelegatedSubnet.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2023-05-18-preview/examples/patchOrchestrator.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2023-05-18-preview/examples/putController.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2023-05-18-preview/examples/putDelegatedSubnet.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2023-05-18-preview/examples/putOrchestrator.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2023-05-18-preview/operations.json
  specification/dnc/resource-manager/Microsoft.DelegatedNetwork/preview/2023-05-18-preview/orchestrators.json
  specification/dnc/resource-manager/readme.go.md
  specification/dnc/resource-manager/readme.java.md
  specification/dnc/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager

#24140 Update sqlServer.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/sqlServer.json
Labels: CI-FixRequiredOnFailure, Approved-ModelValidation, Synapses, CI-BreakingChange-JavaScript, resource-manager

#24089 Added final state-async operation
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/DeleteIpFirewallRule.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/DeletePrivateLinkHub.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/PrivateEndpointConnectionsPrivateLinkHub_Get.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/ReplaceAllIpFirewallRules.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/examples/WorkspaceManagedSqlServerEncryptionProtectorRevalidate.json
  specification/synapse/resource-manager/Microsoft.Synapse/stable/2021-06-01/privatelinkhub.json
Labels: CI-BreakingChange-Go, Synapses, CI-BreakingChange-JavaScript, resource-manager

#24044 Fixing container service warning and arm-types reference
  eng/pipelines/typespec-ci.yml
  specification/containerservice/Fleet.Management/fleet.tsp
  specification/containerservice/Fleet.Management/tspconfig.yaml
Labels: Container Service

#24082 [TypeSpec]: Fix Traffic Controller cadl
  eng/pipelines/typespec-ci.yml
  specification/servicenetworking/ServiceNetworking.Management/examples/AssociationDelete.json
  specification/servicenetworking/ServiceNetworking.Management/examples/AssociationGet.json
  specification/servicenetworking/ServiceNetworking.Management/examples/AssociationPatch.json
  specification/servicenetworking/ServiceNetworking.Management/examples/AssociationPut.json
  specification/servicenetworking/ServiceNetworking.Management/examples/AssociationsGet.json
  specification/servicenetworking/ServiceNetworking.Management/examples/FrontendDelete.json
  specification/servicenetworking/ServiceNetworking.Management/examples/FrontendGet.json
  specification/servicenetworking/ServiceNetworking.Management/examples/FrontendPatch.json
  specification/servicenetworking/ServiceNetworking.Management/examples/FrontendPut.json
  specification/servicenetworking/ServiceNetworking.Management/examples/FrontendsGet.json
  specification/servicenetworking/ServiceNetworking.Management/examples/OperationsList.json
  specification/servicenetworking/ServiceNetworking.Management/examples/TrafficControllerDelete.json
  specification/servicenetworking/ServiceNetworking.Management/examples/TrafficControllerGet.json
  specification/servicenetworking/ServiceNetworking.Management/examples/TrafficControllerPatch.json
  specification/servicenetworking/ServiceNetworking.Management/examples/TrafficControllerPut.json
  specification/servicenetworking/ServiceNetworking.Management/examples/TrafficControllersGet.json
  specification/servicenetworking/ServiceNetworking.Management/examples/TrafficControllersGetList.json
  specification/servicenetworking/ServiceNetworking.Management/main.tsp
  specification/servicenetworking/ServiceNetworking.Management/tspconfig.yaml
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/cadl/package.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/preview/2023-05-01-preview/TrafficController.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/preview/2023-05-01-preview/examples/AssociationDelete.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/preview/2023-05-01-preview/examples/AssociationGet.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/preview/2023-05-01-preview/examples/AssociationPatch.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/preview/2023-05-01-preview/examples/AssociationPut.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/preview/2023-05-01-preview/examples/AssociationsGet.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/preview/2023-05-01-preview/examples/FrontendDelete.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/preview/2023-05-01-preview/examples/FrontendGet.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/preview/2023-05-01-preview/examples/FrontendPatch.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/preview/2023-05-01-preview/examples/FrontendPut.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/preview/2023-05-01-preview/examples/FrontendsGet.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/preview/2023-05-01-preview/examples/OperationsList.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/preview/2023-05-01-preview/examples/TrafficControllerDelete.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/preview/2023-05-01-preview/examples/TrafficControllerGet.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/preview/2023-05-01-preview/examples/TrafficControllerPatch.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/preview/2023-05-01-preview/examples/TrafficControllerPut.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/preview/2023-05-01-preview/examples/TrafficControllersGet.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/preview/2023-05-01-preview/examples/TrafficControllersGetList.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, resource-manager

#23781 Fix InvalidOperationForDatabaseNotInReplicationRelationship
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/DatabaseOperations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/DatabaseUsages.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/Databases.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/DistributedAvailabilityGroups.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/FailoverGroups.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/InstanceFailoverGroups.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/ManagedDatabaseMoveOperations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/ManagedDatabases.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/ReplicationLinks.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/examples/FailoverGroupDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/examples/FailoverGroupFailover.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/examples/FailoverGroupForceFailoverAllowDataLoss.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/examples/FailoverGroupUpdate.json
Labels: Approved-OkToMerge, SQL, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, FixS360, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager

#24029 [Hub Generated] Review request for Microsoft.Advisor to add version stable/2023-01-01
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2023-01-01/examples/CreateConfiguration.json
Labels: Approved-OkToMerge, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager

#22357 [Hub Generated] Review request for Microsoft.Network to add version stable/2022-04-01
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/Endpoint-DELETE-External.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/Endpoint-GET-External-WithGeoMapping.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/Endpoint-GET-External-WithLocation.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/Endpoint-GET-External-WithSubnetMapping.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/Endpoint-PATCH-External-Target.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/Endpoint-PUT-External-WithAlwaysServe.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/Endpoint-PUT-External-WithCustomHeaders.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/Endpoint-PUT-External-WithGeoMapping.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/Endpoint-PUT-External-WithLocation.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/Endpoint-PUT-External-WithSubnetMapping.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/GeographicHierarchy-GET-default.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/HeatMap-GET-With-Null-Values.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/HeatMap-GET-With-TopLeft-BotRight.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/HeatMap-GET.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/NameAvailabilityTest_NameAvailable-POST-example-21.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/NameAvailabilityTest_NameNotAvailable-POST-example-23.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/NameAvailabilityV2Test_NameAvailable-POST-example-21.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/NameAvailabilityV2Test_NameNotAvailable-POST-example-23.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/Profile-DELETE.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/Profile-GET-ByResourceGroup.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/Profile-GET-BySubscription.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/Profile-GET-WithEndpoints.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/Profile-GET-WithTrafficViewDisabled.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/Profile-GET-WithTrafficViewEnabled.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/Profile-PATCH-MonitorConfig.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/Profile-PUT-MultiValue.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/Profile-PUT-NoEndpoints.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/Profile-PUT-WithAliasing.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/Profile-PUT-WithCustomHeaders.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/Profile-PUT-WithEndpoints.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/Profile-PUT-WithNestedEndpoints.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/TrafficManagerUserMetricsKeys-DELETE.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/TrafficManagerUserMetricsKeys-GET.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/examples/TrafficManagerUserMetricsKeys-PUT.json
  specification/trafficmanager/resource-manager/Microsoft.Network/stable/2022-04-01/trafficmanager.json
  specification/trafficmanager/resource-manager/readme.md
Labels: Approved-OkToMerge, ARMSignedOff, Network - Traffic Manager, ARMReview, resource-manager, ReadyForApiTest, new-api-version

#24166 Fix jobName parameter
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/Jobs.json
Labels: customer-reported, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, FixS360, CI-BreakingChange-JavaScript, resource-manager

#24161 [Hub Generated] Review request for Search to add version preview/2022-12-01-preview
  specification/maps/data-plane/Search/preview/2022-12-01-preview/search.json
Labels: Maps, data-plane

#24079 [HealthInsights] Publish Private branch prajwalkumar/healthinsights
  specification/cognitiveservices/HealthInsights/healthinsights.openapi/examples/2023-03-01-preview/SuccessfulOncoPhenotypeRequest.json
  specification/cognitiveservices/HealthInsights/healthinsights.openapi/examples/2023-03-01-preview/SuccessfulOncoPhenotypeResponse.json
Labels: Approved-OkToMerge, Cognitive Services

#24111 [Hub Generated] Review request for Microsoft.RecoveryServices to add version stable/2023-04-01
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/Capabilities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/CheckNameAvailability_Available.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/CheckNameAvailability_NotAvailable.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/PATCHVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/PUTVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/UpdateVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/registeredidentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/replicationusages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/vaults.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/vaultusages.json
  specification/recoveryservices/resource-manager/readme.md
Labels: Approved-OkToMerge, ARMSignedOff, RecoveryServices, ARMReview, resource-manager, ReadyForApiTest, new-api-version

#23928 [Hub Generated] Publish private branch 'voiceservices/api-release'
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/cadl/communicationsgateway.cadl
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/cadl/examples/2023-03-01-preview/NameAvailability_CheckLocal.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/cadl/examples/2023-04-03/CommunicationsGateways_CreateOrUpdate.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/cadl/examples/2023-04-03/CommunicationsGateways_Delete.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/cadl/examples/2023-04-03/CommunicationsGateways_Get.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/cadl/examples/2023-04-03/CommunicationsGateways_ListByResourceGroup.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/cadl/examples/2023-04-03/CommunicationsGateways_ListBySubscription.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/cadl/examples/2023-04-03/CommunicationsGateways_Update.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/cadl/examples/2023-04-03/NameAvailability_CheckLocal.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/cadl/examples/2023-04-03/Operations_List.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/cadl/examples/2023-04-03/TestLines_CreateOrUpdate.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/cadl/examples/2023-04-03/TestLines_Delete.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/cadl/examples/2023-04-03/TestLines_Get.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/cadl/examples/2023-04-03/TestLines_ListByCommunicationsGateway.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/cadl/examples/2023-04-03/TestLines_Update.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/cadl/operatorvoicemail.cadl
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/cadl/package.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/cadl/voiceservices.cadl
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/stable/2023-04-03/examples/CommunicationsGateways_CreateOrUpdate.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/stable/2023-04-03/examples/CommunicationsGateways_Delete.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/stable/2023-04-03/examples/CommunicationsGateways_Get.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/stable/2023-04-03/examples/CommunicationsGateways_ListByResourceGroup.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/stable/2023-04-03/examples/CommunicationsGateways_ListBySubscription.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/stable/2023-04-03/examples/CommunicationsGateways_Update.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/stable/2023-04-03/examples/NameAvailability_CheckLocal.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/stable/2023-04-03/examples/Operations_List.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/stable/2023-04-03/examples/TestLines_CreateOrUpdate.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/stable/2023-04-03/examples/TestLines_Delete.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/stable/2023-04-03/examples/TestLines_Get.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/stable/2023-04-03/examples/TestLines_ListByCommunicationsGateway.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/stable/2023-04-03/examples/TestLines_Update.json
  specification/voiceservices/resource-manager/Microsoft.VoiceServices/stable/2023-04-03/voiceservices.json
  specification/voiceservices/resource-manager/readme.csharp.md
  specification/voiceservices/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, ARMReview, Cadl, resource-manager, ReadyForApiTest, RPaaS, new-api-version

#24179 Revert "[HealthInsights] Publish Private branch prajwalkumar/healthinsights (#24079)"
  specification/cognitiveservices/HealthInsights/healthinsights.openapi/examples/2023-03-01-preview/SuccessfulOncoPhenotypeRequest.json
  specification/cognitiveservices/HealthInsights/healthinsights.openapi/examples/2023-03-01-preview/SuccessfulOncoPhenotypeResponse.json
Labels: Cognitive Services

#24093 add mi refresh API
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-02-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-02-01-preview/examples/ManagedInstanceCreateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-02-01-preview/examples/ManagedInstanceCreateMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-02-01-preview/examples/ManagedInstanceGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-02-01-preview/examples/ManagedInstanceGetWithExpandEqualsAdministrators.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-02-01-preview/examples/ManagedInstanceList.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-02-01-preview/examples/ManagedInstanceListByInstancePool.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-02-01-preview/examples/ManagedInstanceListByInstancePoolWithExpandEqualsAdministrators.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-02-01-preview/examples/ManagedInstanceListByResourceGroup.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-02-01-preview/examples/ManagedInstanceListByResourceGroupWithExpandEqualsAdministrators.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-02-01-preview/examples/ManagedInstanceListWithExpandEqualsAdministrators.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-02-01-preview/examples/ManagedInstanceRemoveMaintenanceConfiguration.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-02-01-preview/examples/ManagedInstanceUpdateMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-02-01-preview/examples/RefreshExternalGovernanceStatusMI.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-02-01-preview/examples/StartManagedInstance.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-02-01-preview/examples/StopManagedInstance.json
Labels: Approved-OkToMerge, SQL, ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired

#24185 Remove pattern restrictions to prevent regression for old servers not matching the pattern
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/FailoverGroups.json
Labels: SQL, Approved-BreakingChange, CI-FixRequiredOnFailure, Approved-LintDiff, resource-manager, BreakingChangeReviewRequired

#23091 callautomation/2023-03-06-ga1
  specification/communication/data-plane/CallAutomation/readme.md
  specification/communication/data-plane/CallAutomation/stable/2023-03-06/communicationservicescallautomation.json
  specification/communication/data-plane/CallAutomation/stable/2023-03-06/examples/AnswerCall.json
  specification/communication/data-plane/CallAutomation/stable/2023-03-06/examples/CallConnection_AddParticipant.json
  specification/communication/data-plane/CallAutomation/stable/2023-03-06/examples/CallConnection_GetCall.json
  specification/communication/data-plane/CallAutomation/stable/2023-03-06/examples/CallConnection_GetParticipant.json
  specification/communication/data-plane/CallAutomation/stable/2023-03-06/examples/CallConnection_GetParticipants.json
  specification/communication/data-plane/CallAutomation/stable/2023-03-06/examples/CallConnection_HangupCall.json
  specification/communication/data-plane/CallAutomation/stable/2023-03-06/examples/CallConnection_RemoveParticipant.json
  specification/communication/data-plane/CallAutomation/stable/2023-03-06/examples/CallConnection_TerminateCall.json
  specification/communication/data-plane/CallAutomation/stable/2023-03-06/examples/CallConnection_TransferToParticipant.json
  specification/communication/data-plane/CallAutomation/stable/2023-03-06/examples/CallMedia_CancelAllMediaOperations.json
  specification/communication/data-plane/CallAutomation/stable/2023-03-06/examples/CallMedia_Play.json
  specification/communication/data-plane/CallAutomation/stable/2023-03-06/examples/CallMedia_Recognize.json
  specification/communication/data-plane/CallAutomation/stable/2023-03-06/examples/CallRecording_GetRecordingProperties.json
  specification/communication/data-plane/CallAutomation/stable/2023-03-06/examples/CallRecording_PauseRecording.json
  specification/communication/data-plane/CallAutomation/stable/2023-03-06/examples/CallRecording_ResumeRecording.json
  specification/communication/data-plane/CallAutomation/stable/2023-03-06/examples/CallRecording_StartRecording.json
  specification/communication/data-plane/CallAutomation/stable/2023-03-06/examples/CallRecording_StopRecording.json
  specification/communication/data-plane/CallAutomation/stable/2023-03-06/examples/CreateCall.json
  specification/communication/data-plane/CallAutomation/stable/2023-03-06/examples/RedirectCall.json
  specification/communication/data-plane/CallAutomation/stable/2023-03-06/examples/RejectCall.json
Labels: APIStewardshipBoard-SignedOff, data-plane

#24073 Update IpAllocationDelete.json to fix the Linter Error
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/IpAllocationDelete.json
Labels: Approved-OkToMerge, Network, CI-BreakingChange-Go, FixS360, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager
