Repository Azure/azure-rest-api-specs, pull requests merged in 2023-04, with the labels that each got.

#23332 Changes in shippingAddress and encryptionPreferences as a part of S360
  specification/databox/resource-manager/Microsoft.DataBox/stable/2022-12-01/databox.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, FixS360, resource-manager, NewApiVersionRequired

#23085 Add Registries 2023-04-01 Swagger
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-04-01/examples/Registries/createOrUpdate-SystemCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-04-01/examples/Registries/createOrUpdate-UserCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-04-01/examples/Registries/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-04-01/examples/Registries/get-SystemCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-04-01/examples/Registries/get-UserCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-04-01/examples/Registries/list-SystemCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-04-01/examples/Registries/list-UserCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-04-01/examples/Registries/listBySubscription.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-04-01/examples/Registries/removeRegions.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-04-01/examples/Registries/update-SystemCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-04-01/examples/Registries/update-UserCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-04-01/registries.json
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff, WaitForReviewRevisit, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, Approved-LintDiff, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#23359 Add circuit breaker to the backend contract (#21320)
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-09-01-preview/definitions.json
Labels: API Management, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager, 2022-09-01-preview

#23326 stv2.1 support for APIM
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-09-01-preview/apimdeployment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-09-01-preview/examples/ApiManagementCreateServiceInVnetWithPublicIP.json
Labels: API Management, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager, 2022-09-01-preview

#23294 Fix bug where ReplicationRoles was exposing unsupported roles
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/FlexibleServers.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-12-01/FlexibleServers.json
Labels: PostgreSQL, Approved-BreakingChange, CI-BreakingChange-Go, resource-manager, BreakingChangeReviewRequired

#23382 remove 'selector' and 'selectorMatchOperator' from ApplicationGatewayFirewallExclutions
  specification/network/resource-manager/readme.java.md
Labels: Network, Mgmt, CI-BreakingChange-JavaScript, resource-manager

#22648 [Hub Generated] Review request for Microsoft.Devices to add version preview/2023-03-01-preview
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2023-03-01-preview/examples/DPSCertificateCreateOrUpdate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2023-03-01-preview/examples/DPSCheckNameAvailability.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2023-03-01-preview/examples/DPSCreate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2023-03-01-preview/examples/DPSCreateOrUpdatePrivateEndpointConnection.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2023-03-01-preview/examples/DPSDelete.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2023-03-01-preview/examples/DPSDeleteCertificate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2023-03-01-preview/examples/DPSDeletePrivateEndpointConnection.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2023-03-01-preview/examples/DPSGenerateVerificationCode.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2023-03-01-preview/examples/DPSGet.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2023-03-01-preview/examples/DPSGetCertificate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2023-03-01-preview/examples/DPSGetCertificates.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2023-03-01-preview/examples/DPSGetKey.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2023-03-01-preview/examples/DPSGetOperationResult.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2023-03-01-preview/examples/DPSGetPrivateEndpointConnection.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2023-03-01-preview/examples/DPSGetPrivateLinkResources.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2023-03-01-preview/examples/DPSGetValidSku.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2023-03-01-preview/examples/DPSListByResourceGroup.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2023-03-01-preview/examples/DPSListBySubscription.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2023-03-01-preview/examples/DPSListKeys.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2023-03-01-preview/examples/DPSListPrivateEndpointConnections.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2023-03-01-preview/examples/DPSListPrivateLinkResources.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2023-03-01-preview/examples/DPSOperations.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2023-03-01-preview/examples/DPSPatch.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2023-03-01-preview/examples/DPSUpdate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2023-03-01-preview/examples/DPSVerifyCertificate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2023-03-01-preview/iotdps.json
  specification/deviceprovisioningservices/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-LintDiff, CI-BreakingChange-JavaScript, ARMReview, resource-manager, new-api-version

#23257 Update IpAllocationDelete.json to fix the Linter Error
  specification/network/resource-manager/Microsoft.Network/stable/2022-09-01/examples/IpAllocationDelete.json
Labels: Network, FixS360, CI-BreakingChange-JavaScript, resource-manager

#23393 seal single value enum
  specification/keyvault/resource-manager/readme.python.md
Labels: KeyVault, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#23394 Update readme.python.md
  specification/compute/resource-manager/readme.python.md
Labels: Compute, CI-BreakingChange-Go, resource-manager

#23285 [HUB] update team configuration related properties
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-04-01-preview/machineLearningServices.json
Labels: Approved-BreakingChange, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#23151 sentinel content hub package and template API
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/ContentPackages.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/ContentProductPackages.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/ContentProductTemplates.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/ContentTemplates.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/common/ContentCommonTypes.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/contentPackages/GetPackageById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/contentPackages/GetPackages.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/contentPackages/GetProductPackageById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/contentPackages/GetProductPackages.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/contentPackages/InstallPackage.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/contentPackages/UninstallPackage.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/contentTemplates/DeleteTemplate.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/contentTemplates/GetProductTemplateById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/contentTemplates/GetProductTemplates.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/contentTemplates/GetTemplateById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/contentTemplates/GetTemplates.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/contentTemplates/InstallTemplate.json
  specification/securityinsights/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#23395 [Go] add directive
  specification/billingbenefits/resource-manager/readme.go.md
  specification/blueprint/resource-manager/readme.go.md
  specification/iotsecurity/resource-manager/readme.go.md
  specification/powerbiprivatelinks/resource-manager/readme.go.md
  specification/recoveryservicessiterecovery/resource-manager/readme.go.md
  specification/search/resource-manager/readme.go.md
Labels: Search, Import Export, Recovery Services Site-Recovery, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#22946 Release redis microsoft.cache 2023 05 01
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01/examples/RedisCacheAccessPolicyAssignmentCreateUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01/examples/RedisCacheAccessPolicyAssignmentDelete.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01/examples/RedisCacheAccessPolicyAssignmentGet.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01/examples/RedisCacheAccessPolicyAssignmentList.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01/examples/RedisCacheAccessPolicyCreateUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01/examples/RedisCacheAccessPolicyDelete.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01/examples/RedisCacheAccessPolicyGet.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01/examples/RedisCacheAccessPolicyList.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01/redis.json
Labels: Redis Cache, ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired

#23358 Accept "preview" in the description
  specification/eventgrid/data-plane/readme.md
Labels: Event Grid, data-plane

#23378 MVAD edit pass
  specification/cognitiveservices/AnomalyDetector/main.tsp
  specification/cognitiveservices/AnomalyDetector/multivariate/models.tsp
  specification/cognitiveservices/AnomalyDetector/multivariate/routes.tsp
  specification/cognitiveservices/AnomalyDetector/univariate/models.tsp
  specification/cognitiveservices/AnomalyDetector/univariate/routes.tsp
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/openapi.json
Labels: Cognitive Services, Approved-BreakingChange, CI-FixRequiredOnFailure, Approved-LintDiff, Approved-ModelValidation, data-plane, BreakingChangeReviewRequired

#23231 Adding Definition for Microsoft Translation service
  cSpell.json
  specification/translation/Azure.AI.TextTranslation/examples/3.0/FindSentenceBoundaries_MaximumSet_Gen.json
  specification/translation/Azure.AI.TextTranslation/examples/3.0/FindSentenceBoundaries_MinimumSet_Gen.json
  specification/translation/Azure.AI.TextTranslation/examples/3.0/GetLanguages_MaximumSet_Gen.json
  specification/translation/Azure.AI.TextTranslation/examples/3.0/GetLanguages_MinimumSet_Gen.json
  specification/translation/Azure.AI.TextTranslation/examples/3.0/LookupDictionaryEntries_MaximumSet_Gen.json
  specification/translation/Azure.AI.TextTranslation/examples/3.0/LookupDictionaryEntries_MinimumSet_Gen.json
  specification/translation/Azure.AI.TextTranslation/examples/3.0/LookupDictionaryExamples_MaximumSet_Gen.json
  specification/translation/Azure.AI.TextTranslation/examples/3.0/LookupDictionaryExamples_MinimumSet_Gen.json
  specification/translation/Azure.AI.TextTranslation/examples/3.0/Translate_MaximumSet_Gen.json
  specification/translation/Azure.AI.TextTranslation/examples/3.0/Translate_MinimumSet_Gen.json
  specification/translation/Azure.AI.TextTranslation/examples/3.0/Transliterate_MaximumSet_Gen.json
  specification/translation/Azure.AI.TextTranslation/examples/3.0/Transliterate_MinimumSet_Gen.json
  specification/translation/Azure.AI.TextTranslation/main.tsp
  specification/translation/Azure.AI.TextTranslation/models-breaksentence.tsp
  specification/translation/Azure.AI.TextTranslation/models-dictionary.tsp
  specification/translation/Azure.AI.TextTranslation/models-languages.tsp
  specification/translation/Azure.AI.TextTranslation/models-shared.tsp
  specification/translation/Azure.AI.TextTranslation/models-translate.tsp
  specification/translation/Azure.AI.TextTranslation/models-transliterate.tsp
  specification/translation/Azure.AI.TextTranslation/package.json
  specification/translation/Azure.AI.TextTranslation/routes.tsp
  specification/translation/Azure.AI.TextTranslation/tspconfig.yaml
  specification/translation/data-plane/Azure.AI.TextTranslation/readme.md
  specification/translation/data-plane/Azure.AI.TextTranslation/stable/v3.0/examples/FindSentenceBoundaries_MinimumSet_Gen.json
  specification/translation/data-plane/Azure.AI.TextTranslation/stable/v3.0/examples/GetLanguages_MinimumSet_Gen.json
  specification/translation/data-plane/Azure.AI.TextTranslation/stable/v3.0/examples/LookupDictionaryEntries_MinimumSet_Gen.json
  specification/translation/data-plane/Azure.AI.TextTranslation/stable/v3.0/examples/LookupDictionaryExamples_MinimumSet_Gen.json
  specification/translation/data-plane/Azure.AI.TextTranslation/stable/v3.0/examples/Translate_MinimumSet_Gen.json
  specification/translation/data-plane/Azure.AI.TextTranslation/stable/v3.0/examples/Transliterate_MinimumSet_Gen.json
  specification/translation/data-plane/Azure.AI.TextTranslation/stable/v3.0/openapi.json
Labels: data-plane, new-api-version, CI-MissingBaseCommit

#23410 Add Azure-AsyncOperation header to async operations
  specification/dashboard/resource-manager/Microsoft.Dashboard/stable/2022-08-01/examples/Grafana_Create.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/stable/2022-08-01/examples/Grafana_Delete.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/stable/2022-08-01/examples/Grafana_Update.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/stable/2022-08-01/examples/PrivateEndpointConnections_Approve.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/stable/2022-08-01/examples/PrivateEndpointConnections_Delete.json
  specification/dashboard/resource-manager/Microsoft.Dashboard/stable/2022-08-01/grafana.json
Labels: FixS360, resource-manager, RPaaS

#23171 [Hub Generated] Review request for Microsoft.Chaos to add version preview/2023-04-01-preview
  package-lock.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/capabilities.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/capabilityTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/examples/CancelAExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/examples/CreateOrUpdateACapability.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/examples/CreateOrUpdateAExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/examples/CreateOrUpdateATarget.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/examples/DeleteACapability.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/examples/DeleteAExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/examples/DeleteATarget.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/examples/GetACapability.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/examples/GetACapabilityType.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/examples/GetAExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/examples/GetAExperimentExecutionDetails.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/examples/GetAExperimentStatus.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/examples/GetATarget.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/examples/GetATargetType.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/examples/ListCapabilities.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/examples/ListCapabilityTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/examples/ListExperimentExecutionsDetails.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/examples/ListExperimentStatuses.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/examples/ListExperimentsInAResourceGroup.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/examples/ListExperimentsInASubscription.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/examples/ListTargetTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/examples/ListTargets.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/examples/PatchExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/examples/StartAExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/experiments.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/operations.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/targetTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/targets.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/types/capabilities.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/types/capabilityTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/types/common.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/types/experiments.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/types/targetTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-04-01-preview/types/targets.json
  specification/chaos/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, ARMReview, resource-manager, ReadyForApiTest, new-api-version

#22236 [Hub Generated] Review request for Microsoft.AzureActiveDirectory to add version preview/2023-01-18-preview
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2023-01-18-preview/examples/GuestUsagesCreate.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2023-01-18-preview/examples/GuestUsagesDelete.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2023-01-18-preview/examples/GuestUsagesGet.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2023-01-18-preview/examples/GuestUsagesResourceGroupGet.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2023-01-18-preview/examples/GuestUsagesSubscriptionGet.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2023-01-18-preview/examples/GuestUsagesUpdate.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2023-01-18-preview/examples/OperationsList.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2023-01-18-preview/examples/checkNameAvailability-available.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2023-01-18-preview/examples/checkNameAvailability-taken.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2023-01-18-preview/examples/createTenant.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2023-01-18-preview/examples/deleteTenant.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2023-01-18-preview/examples/getTenant.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2023-01-18-preview/examples/listTenantsByResourceGroup.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2023-01-18-preview/examples/listTenantsBySubscription.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2023-01-18-preview/examples/updateTenant.json
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2023-01-18-preview/externalIdentities.json
  specification/cpim/resource-manager/readme.md
Labels: ARMSignedOff, CI-FixRequiredOnFailure, Approved-Avocado, ARMReview, resource-manager

#23272 Add new API version for Microsoft.Resources/changes (2023-03-01-preview)
  specification/resources/resource-manager/Microsoft.Resources/preview/2023-03-01-preview/changes.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2023-03-01-preview/examples/GetChange.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2023-03-01-preview/examples/ListChanges.json
  specification/resources/resource-manager/readme.md
Labels: Approved-OkToMerge, ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit

#23363 [Hub Generated] Review request for Microsoft.Commerce to add version preview/2015-06-01-preview
  specification/commerce/resource-manager/Microsoft.Commerce/preview/2015-06-01-preview/commerce.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, FixS360, Approved-SdkBreakingChange-Go, resource-manager, BreakingChangeReviewRequired

#23142 Stacks/2022 08 01 preview
  custom-words.txt
  specification/resources/resource-manager/Microsoft.Resources/preview/2022-08-01-preview/deploymentStacks.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2022-08-01-preview/examples/DeploymentStackExportTemplate.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2022-08-01-preview/examples/DeploymentStackManagementGroupCreate.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2022-08-01-preview/examples/DeploymentStackManagementGroupDelete.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2022-08-01-preview/examples/DeploymentStackManagementGroupExportTemplate.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2022-08-01-preview/examples/DeploymentStackManagementGroupGet.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2022-08-01-preview/examples/DeploymentStackManagementGroupList.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2022-08-01-preview/examples/DeploymentStackResourceGroupCreate.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2022-08-01-preview/examples/DeploymentStackResourceGroupDelete.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2022-08-01-preview/examples/DeploymentStackResourceGroupGet.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2022-08-01-preview/examples/DeploymentStackResourceGroupList.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2022-08-01-preview/examples/DeploymentStackSubscriptionCreate.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2022-08-01-preview/examples/DeploymentStackSubscriptionDelete.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2022-08-01-preview/examples/DeploymentStackSubscriptionExportTemplate.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2022-08-01-preview/examples/DeploymentStackSubscriptionGet.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2022-08-01-preview/examples/DeploymentStackSubscriptionList.json
  specification/resources/resource-manager/readme.md
  specification/resources/resource-manager/readme.python.md
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-Avocado, Approved-LintDiff, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, SuppressionReviewRequired, new-api-version, CI-MissingBaseCommit

#23328 added quota request example for Azure Lab Services
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/examples/CreateALSQuotaRequestForSubscription.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/support.json
Labels: resource-manager

#23396 [Hub Generated] Publish private branch 'datafactory/liudan7/AdlsSwaggerSupportExpression'
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: Data Factory, Approved-BreakingChange, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#23411 update workspace get operation example with managenetwork included
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-04-01-preview/examples/Workspace/get.json
Labels: CI-BreakingChange-JavaScript, resource-manager

#23309 Update minimum snapshot retention period.
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/preview/2022-11-01-preview/appconfiguration.json
Labels: Approved-BreakingChange, data-plane, BreakingChangeReviewRequired

#23055 Create stable version of log analytics query swagger
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/stable/2022-10-27/OperationalInsights.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/stable/2022-10-27/examples/batch-query-example.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/stable/2022-10-27/examples/la-get-cross-workspace-example.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/stable/2022-10-27/examples/la-get-example.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/stable/2022-10-27/examples/la-get-resource-centric-example.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/stable/2022-10-27/examples/la-post-cross-workspace-example.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/stable/2022-10-27/examples/la-post-example.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/stable/2022-10-27/examples/la-post-resource-centric-example.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/stable/2022-10-27/examples/metadata-get.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/stable/2022-10-27/examples/metadata-post.json
  specification/operationalinsights/data-plane/readme.md
Labels: Monitor - Operational Insights, data-plane, BreakingChangeReviewRequired, new-api-version, CI-MissingBaseCommit

#23427 Fixes for 2023-04-01-preview API version
  specification/agrifood/data-plane/Microsoft.AgFoodPlatform/preview/2023-04-01-preview/agfood.json
  specification/agrifood/data-plane/Microsoft.AgFoodPlatform/preview/2023-04-01-preview/examples/FarmOperations_CreateDataIngestionJob.json
  specification/agrifood/data-plane/Microsoft.AgFoodPlatform/preview/2023-04-01-preview/examples/FarmOperations_GetDataIngestionJobDetails.json
Labels: customer-reported, Approved-BreakingChange, data-plane, BreakingChangeReviewRequired

#23168 Convert sample project to TypeSpec
  README.md
  documentation/typespec-structure-guidelines.md
  package-lock.json
  package.json
  specification/contosowidgetmanager/Contoso.WidgetManager.Shared/main.tsp
  specification/contosowidgetmanager/Contoso.WidgetManager/cadl-project.yaml
  specification/contosowidgetmanager/Contoso.WidgetManager/main.tsp
  specification/contosowidgetmanager/Contoso.WidgetManager/tspconfig.yaml
  specification/contosowidgetmanager/data-plane/Azure.Contoso.WidgetManager/preview/2022-11-01-preview/widgets.json
  specification/contosowidgetmanager/data-plane/readme.md
Labels: Approved-BreakingChange, Cadl, data-plane, BreakingChangeReviewRequired, SuppressionReviewRequired

#22832 MGRP S360 Vuln
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/DeleteManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/ListHierarchySettings.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/ListManagementGroups.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/ListOperations.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/management.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-10-01/examples/GetAllSubscriptionsFromManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-10-01/examples/ListHierarchySettings.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-10-01/examples/ListManagementGroups.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-10-01/management.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2021-04-01/examples/AddManagementGroupSubscription.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2021-04-01/examples/GetAllSubscriptionsFromManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2021-04-01/management.json
Labels: Approved-BreakingChange, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#23420 Release sentinel 2023 04 01 preview
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/ThreatIntelligence.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/common/EntityTypes.json
Labels: CI-BreakingChange-JavaScript, resource-manager

#23441 Azure Orbital - swagger fix for api-version 2022-11-01
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-11-01/examples/OperationResultsGet.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-11-01/orbital.json
Labels: FixS360, resource-manager

#23390 Fixed PrometheusRuleGroups examples
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples/createOrUpdatePrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples/deletePrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples/getPrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples/listPrometheusRuleGroups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples/listSubscriptionPrometheusRuleGroups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples/patchPrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2023-03-01/examples/createOrUpdatePrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2023-03-01/examples/deletePrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2023-03-01/examples/getPrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2023-03-01/examples/listPrometheusRuleGroups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2023-03-01/examples/listSubscriptionPrometheusRuleGroups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2023-03-01/examples/patchPrometheusRuleGroup.json
Labels: Alerts Management, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, resource-manager

#23460 [Hub Generated] Review request for Route to add version preview/2023-08-01-preview
  specification/maps/data-plane/Route/preview/2023-08-01-preview/route.json
Labels: bug, Maps, data-plane

#23434 Mvad update
  specification/cognitiveservices/AnomalyDetector/examples/v1.1/ChangePointDetect.json
  specification/cognitiveservices/AnomalyDetector/examples/v1.1/DetectAnomaly.json
  specification/cognitiveservices/AnomalyDetector/examples/v1.1/EntireDetect.json
  specification/cognitiveservices/AnomalyDetector/examples/v1.1/LastDetect.json
  specification/cognitiveservices/AnomalyDetector/examples/v1.1/LastDetectAnomaly.json
  specification/cognitiveservices/AnomalyDetector/examples/v1.1/TrainModel.json
  specification/cognitiveservices/AnomalyDetector/main.tsp
  specification/cognitiveservices/AnomalyDetector/multivariate/models.tsp
  specification/cognitiveservices/AnomalyDetector/multivariate/routes.tsp
  specification/cognitiveservices/AnomalyDetector/tspconfig.yaml
  specification/cognitiveservices/AnomalyDetector/univariate/models.tsp
  specification/cognitiveservices/AnomalyDetector/univariate/routes.tsp
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/examples/ChangePointDetect.json
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/examples/DetectAnomaly.json
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/examples/EntireDetect.json
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/examples/LastDetect.json
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/examples/LastDetectAnomaly.json
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/examples/TrainModel.json
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/openapi.json
Labels: Cognitive Services, Approved-BreakingChange, data-plane, BreakingChangeReviewRequired

#23473 Fnuarnav containerinstance microsoft.container instance 2023 05 01
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples/createOrUpdatePrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples/deletePrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples/getPrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples/listPrometheusRuleGroups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples/listSubscriptionPrometheusRuleGroups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples/patchPrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2023-03-01/examples/createOrUpdatePrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2023-03-01/examples/deletePrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2023-03-01/examples/getPrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2023-03-01/examples/listPrometheusRuleGroups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2023-03-01/examples/listSubscriptionPrometheusRuleGroups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2023-03-01/examples/patchPrometheusRuleGroup.json
  specification/cognitiveservices/AnomalyDetector/examples/v1.1/ChangePointDetect.json
  specification/cognitiveservices/AnomalyDetector/examples/v1.1/DetectAnomaly.json
  specification/cognitiveservices/AnomalyDetector/examples/v1.1/EntireDetect.json
  specification/cognitiveservices/AnomalyDetector/examples/v1.1/LastDetect.json
  specification/cognitiveservices/AnomalyDetector/examples/v1.1/LastDetectAnomaly.json
  specification/cognitiveservices/AnomalyDetector/examples/v1.1/TrainModel.json
  specification/cognitiveservices/AnomalyDetector/main.tsp
  specification/cognitiveservices/AnomalyDetector/multivariate/models.tsp
  specification/cognitiveservices/AnomalyDetector/multivariate/routes.tsp
  specification/cognitiveservices/AnomalyDetector/tspconfig.yaml
  specification/cognitiveservices/AnomalyDetector/univariate/models.tsp
  specification/cognitiveservices/AnomalyDetector/univariate/routes.tsp
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/examples/ChangePointDetect.json
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/examples/DetectAnomaly.json
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/examples/EntireDetect.json
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/examples/LastDetect.json
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/examples/LastDetectAnomaly.json
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/examples/TrainModel.json
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/openapi.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/examples/OperationsList.json
  specification/containerinstance/resource-manager/readme.md
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/DeleteManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/ListHierarchySettings.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/ListManagementGroups.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/examples/ListOperations.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-05-01/management.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-10-01/examples/GetAllSubscriptionsFromManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-10-01/examples/ListHierarchySettings.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-10-01/examples/ListManagementGroups.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2020-10-01/management.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2021-04-01/examples/AddManagementGroupSubscription.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2021-04-01/examples/GetAllSubscriptionsFromManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/stable/2021-04-01/management.json
  specification/maps/data-plane/Route/preview/2023-08-01-preview/route.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-11-01/examples/OperationResultsGet.json
  specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-11-01/orbital.json
Labels: Cognitive Services, Container Instances, Alerts Management, Maps

#22828 [Hub Generated] Review request for Microsoft.DevHub to add version preview/2022-10-11-preview
  custom-words.txt
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-10-11-preview/examples/GeneratePreviewArtifacts.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-10-11-preview/examples/GitHubOAuth.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-10-11-preview/examples/GitHubOAuthCallback.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-10-11-preview/examples/GitHubOAuth_List.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-10-11-preview/examples/Operation_List.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-10-11-preview/examples/Workflow_CreateOrUpdate.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-10-11-preview/examples/Workflow_CreateOrUpdate_WithArtifactGen.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-10-11-preview/examples/Workflow_Delete.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-10-11-preview/examples/Workflow_Get.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-10-11-preview/examples/Workflow_List.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-10-11-preview/examples/Workflow_ListByResourceGroup.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-10-11-preview/examples/Workflow_UpdateTags.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-10-11-preview/workflow.json
  specification/developerhub/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, new-api-version

#23463 fix typo
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/ContentPackages.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/ContentProductPackages.json
Labels: CI-BreakingChange-JavaScript, resource-manager

#23208 Update readme.python.md
  specification/resourceconnector/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#23105 fixing async response type for machinelearningservices-2023-02-01-preview
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/mfe.json
Labels: ARMSignedOff, CI-FixRequiredOnFailure, Approved-LintDiff, Approved-ModelValidation, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#23477 Fix lint error for Datadog RP
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/Monitors_Delete.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-06-01/examples/Monitors_Delete.json
Labels: resource-manager

#23484 Fnuarnav containerinstance microsoft.container instance 2023 05 01
  CODEOWNERS
  custom-words.txt
  specification/containerinstance/resource-manager/readme.md
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2021-03-01/examples/Monitors_Delete.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-06-01/examples/Monitors_Delete.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-10-11-preview/examples/GeneratePreviewArtifacts.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-10-11-preview/examples/GitHubOAuth.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-10-11-preview/examples/GitHubOAuthCallback.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-10-11-preview/examples/GitHubOAuth_List.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-10-11-preview/examples/Operation_List.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-10-11-preview/examples/Workflow_CreateOrUpdate.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-10-11-preview/examples/Workflow_CreateOrUpdate_WithArtifactGen.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-10-11-preview/examples/Workflow_Delete.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-10-11-preview/examples/Workflow_Get.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-10-11-preview/examples/Workflow_List.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-10-11-preview/examples/Workflow_ListByResourceGroup.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-10-11-preview/examples/Workflow_UpdateTags.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2022-10-11-preview/workflow.json
  specification/developerhub/resource-manager/readme.md
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-02-01-preview/mfe.json
  specification/newrelic/NewRelic.Management/examples/Monitors_SwitchBilling_MaximumSet_Gen.json
  specification/newrelic/NewRelic.Management/examples/Monitors_SwitchBilling_MinimumSet_Gen.json
  specification/newrelic/NewRelic.Management/main.cadl
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2022-07-01-preview/NewRelic.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2022-07-01-preview/examples/Monitors_SwitchBilling_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2022-07-01-preview/examples/Monitors_SwitchBilling_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/NewRelic.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Monitors_SwitchBilling_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Monitors_SwitchBilling_MinimumSet_Gen.json
  specification/resourceconnector/resource-manager/readme.python.md
Labels: Cognitive Services, Container Instances, Alerts Management, Maps

#23114 Azure Firewall Packet Capture API. Cancelled PR from 2022-09-01 and created for 2022-11-01
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/azureFirewall.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/AzureFirewallPacketCapture.json
Labels: Network, ARMSignedOff, CI-FixRequiredOnFailure, Approved-ModelValidation, CI-BreakingChange-JavaScript, ARMReview, resource-manager

#23478 Update readme.python.md
  specification/security/resource-manager/readme.md
  specification/security/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#23435 Updating specs for PAN
  specification/paloaltonetworks/resource-manager/PaloAltoNetworks.Cloudngfw/preview/2022-08-29-preview/PaloAltoNetworks.Cloudngfw.json
  specification/paloaltonetworks/resource-manager/PaloAltoNetworks.Cloudngfw/preview/2022-08-29-preview/examples/FirewallStatus_Get_MaximumSet_Gen.json
  specification/paloaltonetworks/resource-manager/PaloAltoNetworks.Cloudngfw/preview/2022-08-29-preview/examples/FirewallStatus_Get_MinimumSet_Gen.json
  specification/paloaltonetworks/resource-manager/PaloAltoNetworks.Cloudngfw/preview/2022-08-29-preview/examples/FirewallStatus_ListByFirewalls_MaximumSet_Gen.json
  specification/paloaltonetworks/resource-manager/PaloAltoNetworks.Cloudngfw/preview/2022-08-29-preview/examples/FirewallStatus_ListByFirewalls_MinimumSet_Gen.json
Labels: WaitForARMFeedback, Approved-BreakingChange, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired

#23342 Fix api-version in examples
  specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/stable/2021-09-01/examples/DiskMigrationJobs/Cancel.json
  specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/stable/2021-09-01/examples/DiskMigrationJobs/Create.json
  specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/stable/2021-09-01/examples/DiskMigrationJobs/Get.json
  specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/stable/2021-09-01/examples/DiskMigrationJobs/List.json
  specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/stable/2021-09-01/examples/Disks/Get.json
  specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/stable/2021-09-01/examples/Disks/List.json
Labels: FixS360, resource-manager

#23403 Add 202 status code for PrivateEndpointConnections_Delete
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2022-11-01-preview/examples/RedisEnterpriseDeletePrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2022-11-01-preview/redisenterprise.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, FixS360, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#23401 Add 202 status code for PrivateEndpointConnections_Delete
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/examples/RedisEnterpriseDeletePrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-03-01-preview/redisenterprise.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, FixS360, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#23476 Support terminationGracePeriodSeconds for container app
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/CommonDefinitions.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#22497 Benefit Summaries Async
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/costmanagement.benefits.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/BenefitUtilizationSummariesOperationResultsByBillingAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/BenefitUtilizationSummariesOperationResultsByBillingProfile.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/BenefitUtilizationSummariesOperationResultsByReservation.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/BenefitUtilizationSummariesOperationResultsByReservationOrder.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/BenefitUtilizationSummariesOperationResultsBySavingsPlan.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/BenefitUtilizationSummariesOperationResultsBySavingsPlanOrder.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/GenerateBenefitUtilizationSummariesReportByBillingAccount.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/GenerateBenefitUtilizationSummariesReportByBillingProfile.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/GenerateBenefitUtilizationSummariesReportByReservation.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/GenerateBenefitUtilizationSummariesReportByReservationOrder.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/GenerateBenefitUtilizationSummariesReportBySavingsPlan.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/BenefitUtilizationSummaries/Async/GenerateBenefitUtilizationSummariesReportBySavingsPlanOrder.json
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, ARMReview, resource-manager

#23428 [Hub Generated] Review request for Microsoft.KeyVault to add version stable/2023-02-01
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/examples/ManagedHsm_Update.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/managedHsm.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/managedHsm.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-06-01-preview/managedHsm.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-11-01-preview/managedHsm.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/managedHsm.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2021-10-01/managedHsm.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/managedHsm.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/managedHsm.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/managedHsm.json
Labels: KeyVault, Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#23404 Add 202 status code for PrivateEndpointConnections_Delete
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2022-01-01/examples/RedisEnterpriseDeletePrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2022-01-01/redisenterprise.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, FixS360, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#23362 Alexprosak microsoft.cost management 2023 04 01 preview
  specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2023-04-01-preview/costmanagement.budgets.json
  specification/cost-management/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-Avocado, ARMReview, resource-manager

#23493 [CDN] Add missing default values to fix swagger quality issue in s360 for 2020-09-01 and 2021-06-01
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-09-01/afdx.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-09-01/cdn.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/afdx.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/cdn.json
Labels: Network - CDN, Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, FixS360, Approved-ModelValidation, Approved-SdkBreakingChange-Go, resource-manager, BreakingChangeReviewRequired

#23019 Remove <br> syntax from many descriptions in CRP swagger files
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-03-01/availabilitySet.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-03-01/capacityReservation.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-03-01/computeRPCommon.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-03-01/dedicatedHost.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-03-01/image.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-03-01/proximityPlacementGroup.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-03-01/virtualMachine.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-03-01/virtualMachineScaleSet.json
Labels: Compute, DoNotMerge, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, FixS360, resource-manager

#23078 remove ID from Update objects that do not have ID
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-03-01/virtualMachineScaleSet.json
Labels: Compute, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, resource-manager, BreakingChangeReviewRequired

#23106 Add securityPostureReference
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-03-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithSecurityPostureReference.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-03-01/virtualMachineScaleSet.json
Labels: Compute, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#23303 [RestorePoints] Adding Encryption, Source Details, HyperVGeneration and WriteAccelerated for Restore Point
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-03-01/restorePoint.json
Labels: Compute, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#23409 Add optional parameter hibernate to vmss deallocate api
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-03-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Deallocate_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-03-01/virtualMachineScaleSet.json
Labels: Compute, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#23516 Fixing example in Microsoft.ResourceGraph 2020-09-01-preview
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2020-09-01-preview/examples/ResourceChangesNextPage.json
Labels: CI-BreakingChange-Go, FixS360, resource-manager

#23502 added location for set of examples
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/NetworkInterfaceDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/NetworkInterfaceEffectiveNSGList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/NetworkInterfaceEffectiveRouteTableList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/NetworkInterfaceTapConfigurationDelete.json
Labels: Network, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#23407 [Hub Generated] Review request for Microsoft.Help to add version preview/2023-01-01-preview
  specification/help/resource-manager/readme.go.md
  specification/help/resource-manager/readme.md
  specification/help/resource-manager/readme.python.md
  specification/help/resource-manager/readme.typescript.md
Labels: resource-manager

#23498 Fix inconsistent issues for Azure Bot Service
  specification/botservice/resource-manager/Microsoft.BotService/preview/2021-05-01-preview/botservice.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2021-05-01-preview/examples/GetConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2021-05-01-preview/examples/ListConnectionsByBotService.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2021-05-01-preview/examples/PutConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2021-05-01-preview/examples/UpdateConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/botservice.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/GetConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/ListConnectionsByBotService.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/PutConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/examples/UpdateConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2022-09-15/botservice.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2022-09-15/examples/GetConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2022-09-15/examples/ListConnectionsByBotService.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2022-09-15/examples/PutConnection.json
  specification/botservice/resource-manager/Microsoft.BotService/stable/2022-09-15/examples/UpdateConnection.json
Labels: Approved-BreakingChange, CI-FixRequiredOnFailure, Approved-LintDiff, FixS360, resource-manager, NewApiVersionRequired

#23523 Update tspconfig.yaml for python
  specification/cognitiveservices/AnomalyDetector/tspconfig.yaml
Labels: Cognitive Services

#23211 update containerregistry readme.typescript.md
  specification/containerregistry/resource-manager/readme.typescript.md
Labels: Container Registry, CI-BreakingChange-JavaScript, resource-manager

#23492 [Hub Generated] Review request for Microsoft.AlertsManagement to add version stable/2023-03-01
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples/createOrUpdatePrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples/getPrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples/listPrometheusRuleGroups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples/listSubscriptionPrometheusRuleGroups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-07-22-preview/examples/patchPrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2023-03-01/examples/createOrUpdatePrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2023-03-01/examples/getPrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2023-03-01/examples/listPrometheusRuleGroups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2023-03-01/examples/listSubscriptionPrometheusRuleGroups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2023-03-01/examples/patchPrometheusRuleGroup.json
Labels: Alerts Management, FixS360, resource-manager

#23526 updating examples
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/CreateAndUpdateTestRun.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/CreateOrUpdateTest.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/GetLoadTest.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/GetTestRun.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/ListLoadTestSearch.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/ListTestRunsSearch.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2022-06-01-preview/examples/StopTestRun.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/CreateAndUpdateTestRun.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/CreateOrUpdateTest.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/CreateOrUpdateTestAppComponents.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/CreateOrUpdateTestRunAppComponents.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/CreateOrUpdateTestRunServerMetricsConfig.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/CreateOrUpdateTestServerMetricsConfig.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/GetTest.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/GetTestRun.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/ListTestAppComponents.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/ListTestRunAppComponents.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/ListTestRunServerMetricsConfig.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/ListTestRuns.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/ListTestServerMetricsConfig.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/ListTests.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/StopTestRun.json
Labels: Load Test Service, data-plane

#23454 Sync ADF Adls swagger change of expression suport to synapse
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: Approved-BreakingChange, Synapses, data-plane, BreakingChangeReviewRequired

#23429 Change Entry objects' title property in Feed back to Object.
  specification/servicebus/data-plane/Microsoft.ServiceBus/stable/2021-05/servicebus.json
Labels: Service Bus, Approved-BreakingChange, data-plane

#23197 ModelValidation fixes for GalleryRP 2022-08-03
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/CommunityGallery_Create.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/CommunityGallery_Get.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/GalleryApplicationVersion_Get_WithReplicationStatus.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/GalleryApplication_Get.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/GalleryApplication_ListByGallery.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/GalleryImageVersion_Create.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/GalleryImageVersion_Create_WithCommunityImageVersionAsSource.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/GalleryImageVersion_Create_WithImageVersionAsSource.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/GalleryImageVersion_Create_WithShallowReplicationMode.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/GalleryImageVersion_Create_WithSnapshotsAsSource.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/GalleryImageVersion_Create_WithTargetExtendedLocations.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/GalleryImageVersion_Create_WithVHD.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/GalleryImageVersion_Create_WithVmAsSource.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/GalleryImageVersion_Get.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/GalleryImageVersion_Get_WithReplicationStatus.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/GalleryImageVersion_Get_WithSnapshotsAsSource.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/GalleryImageVersion_Get_WithVhdAsSource.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/GalleryImageVersion_ListByGalleryImage.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/GalleryImage_Create.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/GalleryImage_Get.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/GalleryImage_ListByGallery.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/Gallery_Create.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/Gallery_Create_SoftDeletionEnabled.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/Gallery_Create_WithSharingProfile.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/Gallery_Get.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/Gallery_Get_WithExpandSharingProfileGroups.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/galleryExamples/Gallery_Get_WithSelectPermissions.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, FixS360, resource-manager

#23280 Add new events for Storage StorageTasks
  specification/eventgrid/data-plane/Microsoft.Storage/stable/2018-01-01/Storage.json
  specification/eventgrid/data-plane/Microsoft.Storage/stable/2018-01-01/examples/cloud-events-schema/storage_task_completed.json
  specification/eventgrid/data-plane/Microsoft.Storage/stable/2018-01-01/examples/cloud-events-schema/storage_task_queued.json
  specification/eventgrid/data-plane/Microsoft.Storage/stable/2018-01-01/examples/event-grid-schema/storage_task_completed.json
  specification/eventgrid/data-plane/Microsoft.Storage/stable/2018-01-01/examples/event-grid-schema/storage_task_queued.json
Labels: Event Grid, customer-reported, data-plane

#23336 [Hub Generated] Review request for Microsoft.Insights to add version preview/2023-03-01-preview
  custom-words.txt
  specification/monitor/data-plane/Microsoft.Insights/preview/2023-03-01-preview/examples/MetricBatchExample.json
  specification/monitor/data-plane/Microsoft.Insights/preview/2023-03-01-preview/metricBatch.json
  specification/monitor/data-plane/readme.md
Labels: Monitor, data-plane, new-api-version

#23313 Update costmanagement.generatedetailedcostreport.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/common-types.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/costmanagement.generatedetailedcostreport.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/examples/GenerateDetailedCostReportOperationStatusBySubscriptionScope.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, FixS360, ARMReview, resource-manager, BreakingChangeReviewRequired

#23466 [Servicebus] Adding schema for status code 201 for Disaster-recovery and Migration
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2022-01-01-preview/DisasterRecoveryConfig.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2022-01-01-preview/examples/Migrationconfigurations/SBMigrationconfigurationCreateAndStartMigration.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2022-01-01-preview/examples/disasterRecoveryConfigs/SBAliasCreate.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2022-01-01-preview/migrationconfigs.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2022-10-01-preview/DisasterRecoveryConfig.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2022-10-01-preview/examples/Migrationconfigurations/SBMigrationconfigurationCreateAndStartMigration.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2022-10-01-preview/examples/disasterRecoveryConfigs/SBAliasCreate.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2022-10-01-preview/migrationconfigs.json
Labels: Service Bus, resource-manager

#23474 [Eventhubs] Adding schema for status code 201 for Disaster-recovery
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2022-01-01-preview/disasterRecoveryConfigs.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2022-01-01-preview/examples/disasterRecoveryConfigs/EHAliasCreate.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2022-10-01-preview/disasterRecoveryConfigs.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2022-10-01-preview/examples/disasterRecoveryConfigs/EHAliasCreate.json
Labels: Event Hubs, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, resource-manager

#23485 Review request for Microsoft.ContainerInstance to add version stable/2023-05-01
  custom-words.txt
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/containerInstance.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/examples/CachedImagesList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/examples/CapabilitiesList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/examples/ContainerAttach.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/examples/ContainerExec.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/examples/ContainerGroupCreateConfidential.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/examples/ContainerGroupEncryptionProperties.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/examples/ContainerGroupExtensions.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/examples/ContainerGroupUsage.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/examples/ContainerGroupsCreateOrUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/examples/ContainerGroupsCreatePriority.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/examples/ContainerGroupsDelete.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/examples/ContainerGroupsGetPriority.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/examples/ContainerGroupsGet_Failed.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/examples/ContainerGroupsGet_Succeeded.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/examples/ContainerGroupsList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/examples/ContainerGroupsListByResourceGroup.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/examples/ContainerGroupsRestart.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/examples/ContainerGroupsStart.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/examples/ContainerGroupsStop.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/examples/ContainerGroupsUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/examples/ContainerListLogs.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/examples/OperationsList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/examples/SubnetServiceAssociationLinkDelete.json
  specification/containerinstance/resource-manager/readme.md
Labels: ARMSignedOff, Container Instances, CI-FixRequiredOnFailure, Approved-Avocado, ARMReview, resource-manager, new-api-version, CI-MissingBaseCommit

#23540 Update readme.python.md
  specification/help/resource-manager/readme.python.md
Labels: resource-manager

#23495 Update 2023-03-01 to sync with RPSaaSMaster
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-03-01/clusters.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-03-01/examples/GetCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-03-01/examples/ListClustersByResourceGroup.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-03-01/examples/ListClustersBySubscription.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2023-03-01/examples/UpdateCluster.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, resource-manager, RPaaS, NewApiVersionRequired, BreakingChangeReviewRequired, ArcReview

#23338 Adding auxiliary sku property on nic
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/networkInterface.json
Labels: Network, Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#23522 Changes for Additional nic and corrections
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/NetworkVirtualApplianceDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/NetworkVirtualApplianceGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/NetworkVirtualAppliancePut.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/NetworkVirtualApplianceSiteDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/networkVirtualAppliance.json
Labels: Network, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#23543 [EventHub] NSP contract Inherits the ProxyResource definition instead of Resource
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2022-10-01-preview/namespaces-preview.json
Labels: Event Hubs, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript, resource-manager, NewApiVersionRequired

#23538 [EventGrid Typespec] Move @internal to client.tsp
  specification/eventgrid/Azure.Messaging.EventGrid/client.tsp
  specification/eventgrid/Azure.Messaging.EventGrid/main.tsp
Labels: Event Grid

#22466 Support Custom Sentiment Analysis task (LRO) in AnalyzeText Language API
  dev/cognitiveservices/data-plane/Language/analyzetext.json
  dev/cognitiveservices/data-plane/Language/examples/text/SuccessfulCustomSentimentAnalysisTaskStatusRequest.json
  dev/cognitiveservices/data-plane/Language/examples/text/SuccessfulCustomSentimentAnalysisTaskSubmit.json
Labels: Cognitive Services, CI-FixRequiredOnFailure, APIStewardshipBoard-SignedOff, CI-BreakingChange-JavaScript, BreakingChangeReviewRequired

#23536 Adding new API for inspection limit feature
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/WafListAllPolicies.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/WafListPolicies.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/WafPolicyCreateOrUpdate.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/WafPolicyGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/webapplicationfirewall.json
Labels: Network, customer-reported, Approved-BreakingChange, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#23544 fix lro final-state-via and revert change of ErrorResponse
  specification/mysql/resource-manager/Microsoft.DBforMySQL/AAD/stable/2022-01-01/AzureADAdministrator.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/stable/2022-01-01/Backups.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Configurations/preview/2021-12-01-preview/Configurations.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Configurations/stable/2022-01-01/Configurations.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Databases/stable/2022-01-01/Databases.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Firewall/stable/2022-01-01/FirewallRules.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2021-12-01-preview/FlexibleServers.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/stable/2022-01-01/FlexibleServers.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/LogFiles/stable/2022-01-01/LogFiles.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/stable/2022-01-01/ServiceOperations.json
Labels: MySQL, Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-LintDiff, resource-manager, BreakingChangeReviewRequired

#23554 Fixed headers for examples
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/NetworkInterfaceDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/NetworkInterfaceEffectiveNSGList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/NetworkInterfaceEffectiveRouteTableList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/NetworkInterfaceTapConfigurationDelete.json
Labels: Network, CI-BreakingChange-JavaScript, resource-manager

#23412 [Microsoft.StorageSync] Fix S360 swagger linter errors reported for API version 2022-06-01
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples/CloudEndpoints_PostBackup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples/CloudEndpoints_PostRestore.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples/CloudEndpoints_PreBackup.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples/CloudEndpoints_PreRestore.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-06-01/examples/CloudEndpoints_TriggerChangeDetection.json
Labels: StorageSync, CI-BreakingChange-Python-Track2, FixS360, Approved-SdkBreakingChange-Python, resource-manager

#23535 Fix s360 for Cost management/ScheduledActions error response
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2022-10-01/common-types.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, resource-manager

#23559 Update readme.python.md
  specification/liftrqumulo/resource-manager/readme.python.md
Labels: resource-manager, RPaaS

#23560 fix wrong update for s360
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2021-12-01-preview/FlexibleServers.json
Labels: MySQL, Approved-BreakingChange, resource-manager, BreakingChangeReviewRequired

#23343 Fixing APIs in 2023-02-01-preview
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-02-01-preview/elastic.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-02-01-preview/examples/ElasticVersions_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-02-01-preview/examples/Organizations_GetApiKey.json
Labels: ARMSignedOff, Approved-BreakingChange, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired

#22789 [Hub Generated] Review request for Microsoft.PolicyInsights to add version stable/2023-03-01
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2023-03-01/checkPolicyRestrictions.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2023-03-01/examples/PolicyRestrictions_CheckAtManagementGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2023-03-01/examples/PolicyRestrictions_CheckAtResourceGroupScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2023-03-01/examples/PolicyRestrictions_CheckAtResourceGroupScopeIncludeAuditEffect.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2023-03-01/examples/PolicyRestrictions_CheckAtSubscriptionScope.json
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2023-03-01/examples/PolicyRestrictions_CheckAtSubscriptionScopeIncludeAuditEffect.json
  specification/policyinsights/resource-manager/readme.md
Labels: ARMSignedOff, Policy Insights, Approved-BreakingChange, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, new-api-version

#23555 Fix response of API: List of advertised/learned BGP routes
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/VirtualRouterPeerListAdvertisedRoute.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/VirtualRouterPeerListLearnedRoute.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/virtualWan.json
Labels: Network, CI-BreakingChange-Go, CI-FixRequiredOnFailure, FixS360, Approved-ModelValidation, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#23531 Update readme.md
  specification/vmware/resource-manager/readme.md
Labels: resource-manager

#23438 [NetAppFiles]Anf 26457 s360 linting remove backup policy details
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2022-09-01/netapp.json
Labels: CI-BreakingChange-Python-Track2, FixS360, resource-manager

#23067 Add new preview version 2022-09-30-preview for private link
  specification/mysql/resource-manager/Microsoft.DBforMySQL/PrivateLink/preview/2022-09-30-preview/PrivateEndpointConnections.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/PrivateLink/preview/2022-09-30-preview/PrivateLinkResources.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/PrivateLink/preview/2022-09-30-preview/examples/PrivateEndpointConnectionDelete.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/PrivateLink/preview/2022-09-30-preview/examples/PrivateEndpointConnectionGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/PrivateLink/preview/2022-09-30-preview/examples/PrivateEndpointConnectionList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/PrivateLink/preview/2022-09-30-preview/examples/PrivateEndpointConnectionUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/PrivateLink/preview/2022-09-30-preview/examples/PrivateLinkResourcesGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/PrivateLink/preview/2022-09-30-preview/examples/PrivateLinkResourcesList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/common-types/v1/common-types.json
  specification/mysql/resource-manager/readme.md
Labels: ARMSignedOff, MySQL, Approved-BreakingChange, WaitForReviewRevisit, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-LintDiff, ARMReview, resource-manager, BreakingChangeReviewRequired, new-api-version, CI-MissingBaseCommit

#23557 Add managed identities parameters for blobs, add treatFailureAsDeploymentFailure flag for Run Command
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-03-01/computeRPCommon.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-03-01/examples/runCommandExamples/VirtualMachineRunCommand_CreateOrUpdate.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-03-01/examples/runCommandExamples/VirtualMachineRunCommand_Get.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-03-01/examples/runCommandExamples/VirtualMachineRunCommand_List.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-03-01/examples/runCommandExamples/VirtualMachineRunCommand_Update.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-03-01/examples/runCommandExamples/VirtualMachineScaleSetVMRunCommand_CreateOrUpdate.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-03-01/examples/runCommandExamples/VirtualMachineScaleSetVMRunCommand_Get.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-03-01/examples/runCommandExamples/VirtualMachineScaleSetVMRunCommand_List.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-03-01/examples/runCommandExamples/VirtualMachineScaleSetVMRunCommand_Update.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-03-01/runCommand.json
Labels: Compute, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#23534 Make role required in participantProperties
  specification/communication/data-plane/Rooms/preview/2023-03-31-preview/communicationservicesrooms.json
Labels: Approved-BreakingChange, CI-FixRequiredOnFailure, Approved-ModelValidation, data-plane, BreakingChangeReviewRequired

#23565 [Typspec EG] Rename client
  specification/eventgrid/Azure.Messaging.EventGrid/main.tsp
Labels: Event Grid

#23539 [EventGrid Typespec] breaking changes with april release of typespec
  specification/eventgrid/Azure.Messaging.EventGrid/main.tsp
Labels: Event Grid

#23552 AuxiliarySku on Nic
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/networkInterface.json
Labels: Network, Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#23276 Create new version 2022-09-30-preview for MySQL
  custom-words.txt
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/preview/2022-09-30-preview/BackupAndExport.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/preview/2022-09-30-preview/Backups.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/preview/2022-09-30-preview/examples/BackupAndExport.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/preview/2022-09-30-preview/examples/BackupGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/preview/2022-09-30-preview/examples/BackupPut.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/preview/2022-09-30-preview/examples/BackupsListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/preview/2022-09-30-preview/examples/ValidateBackup.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Configurations/preview/2021-12-01-preview/Configurations.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2022-09-30-preview/FlexibleServers.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2022-09-30-preview/examples/ReplicasListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2022-09-30-preview/examples/ServerCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2022-09-30-preview/examples/ServerCreateReplica.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2022-09-30-preview/examples/ServerCreateWithBYOK.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2022-09-30-preview/examples/ServerCreateWithPointInTimeRestore.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2022-09-30-preview/examples/ServerDelete.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2022-09-30-preview/examples/ServerFailover.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2022-09-30-preview/examples/ServerGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2022-09-30-preview/examples/ServerGetWithVnet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2022-09-30-preview/examples/ServerResetGtid.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2022-09-30-preview/examples/ServerRestart.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2022-09-30-preview/examples/ServerStart.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2022-09-30-preview/examples/ServerStop.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2022-09-30-preview/examples/ServerUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2022-09-30-preview/examples/ServerUpdateWithBYOK.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2022-09-30-preview/examples/ServerUpdateWithCustomerMaintenanceWindow.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2022-09-30-preview/examples/ServersList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2022-09-30-preview/examples/ServersListByResourceGroup.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/common-types/v1/common-types.json
  specification/mysql/resource-manager/readme.go.md
  specification/mysql/resource-manager/readme.java.md
  specification/mysql/resource-manager/readme.md
  specification/mysql/resource-manager/readme.python.md
Labels: ARMSignedOff, DoNotMerge, MySQL, Approved-BreakingChange, WaitForReviewRevisit, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-Avocado, Approved-LintDiff, ARMReview, resource-manager, BreakingChangeReviewRequired, new-api-version, CI-MissingBaseCommit

#23577 Changing Readme Basic info Tag for MGMT SDK GA PLR
  specification/newrelic/resource-manager/readme.md
Labels: resource-manager, RPaaS

#23584 Update Monitors_Delete_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2022-07-01-preview/examples/Monitors_Delete_MinimumSet_Gen.json
Labels: resource-manager

#23556 Update proximityPlacementGroup.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-03-01/proximityPlacementGroup.json
Labels: Compute, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#23590 Found all diffs in 2022-10-01 version added since branching
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/common-types.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/costmanagement.generatecostdetailsreport.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/costmanagement.generatedetailedcostreport.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/GenerateCostDetailsReportByBillingAccountEnterpriseAgreementCustomerAndBillingPeriod.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/GenerateCostDetailsReportByBillingProfileAndInvoiceId.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/GenerateCostDetailsReportByBillingProfileAndInvoiceIdAndCustomerId.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/GenerateCostDetailsReportByCustomerAndTimePeriod.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/GenerateCostDetailsReportByDepartmentsAndTimePeriod.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/GenerateCostDetailsReportByEnrollmentAccountsAndTimePeriod.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/GenerateCostDetailsReportBySubscriptionAndTimePeriod.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/examples/GenerateDetailedCostReportOperationStatusBySubscriptionScope.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/scheduledActions.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, resource-manager

#23589 migrated latest pr from incorrect branch
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/privateLinkService.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#23292 [Hub Generated] Review request for Microsoft.Resources to add version stable/2022-12-01
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-12-01/examples/CheckResourceName.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-12-01/examples/GetLocations.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-12-01/examples/GetLocationsWithExtendedLocations.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-12-01/examples/GetSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-12-01/examples/GetSubscriptions.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-12-01/examples/GetTenants.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-12-01/examples/PostCheckZonePeers.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2022-12-01/subscriptions.json
  specification/resources/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-Avocado, Approved-LintDiff, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired, new-api-version

#23569 [Hub Generated] Review request for Microsoft.Consumption to add version stable/2023-03-01
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2023-03-01/consumption.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#23479 [Hub Generated] Publish private branch 'datafactory/eldasilva/updateSwagger'
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: Data Factory, Approved-BreakingChange, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, resource-manager, NewApiVersionRequired

#23173 Changes for NVA connection
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/NetworkVirtualApplianceConnectionDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/NetworkVirtualApplianceConnectionGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/NetworkVirtualApplianceConnectionList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/NetworkVirtualApplianceConnectionPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/NetworkVirtualApplianceGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/networkVirtualAppliance.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/virtualWan.json
Labels: Network, ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-ModelValidation, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired

#23596 Synced wity RPSaaSMaster
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2023-03-15-preview/sqlAvailabilityGroups.json
Labels: resource-manager, RPaaS

#23595 Bastion S360 for 2022-11 version
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/bastionHost.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/BastionHostDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/BastionHostGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/BastionHostListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/BastionHostListBySubscription.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/BastionHostPatch.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/BastionHostPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/BastionSessionsList.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/BastionShareableLinkCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/examples/BastionShareableLinkDelete.json
Labels: CI-BreakingChange-JavaScript, resource-manager

#23107 [Hub Generated] Review request for Microsoft.Monitor to add version stable/2023-04-03
  specification/monitor/resource-manager/Microsoft.Monitor/stable/2023-04-03/examples/AzureMonitorWorkspacesCreate.json
  specification/monitor/resource-manager/Microsoft.Monitor/stable/2023-04-03/examples/AzureMonitorWorkspacesDelete.json
  specification/monitor/resource-manager/Microsoft.Monitor/stable/2023-04-03/examples/AzureMonitorWorkspacesGet.json
  specification/monitor/resource-manager/Microsoft.Monitor/stable/2023-04-03/examples/AzureMonitorWorkspacesListByResourceGroup.json
  specification/monitor/resource-manager/Microsoft.Monitor/stable/2023-04-03/examples/AzureMonitorWorkspacesListBySubscription.json
  specification/monitor/resource-manager/Microsoft.Monitor/stable/2023-04-03/examples/AzureMonitorWorkspacesUpdate.json
  specification/monitor/resource-manager/Microsoft.Monitor/stable/2023-04-03/examples/OperationsGet.json
  specification/monitor/resource-manager/Microsoft.Monitor/stable/2023-04-03/monitoringAccounts_API.json
  specification/monitor/resource-manager/Microsoft.Monitor/stable/2023-04-03/operations_API.json
  specification/monitor/resource-manager/readme.go.md
  specification/monitor/resource-manager/readme.md
Labels: Monitor, ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version

#23423 {AzurePostgresql} PostgreSQL flexibleServers doesn't support creation of 'SystemAssigned' resource identity
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-12-01/FlexibleServers.json
Labels: PostgreSQL, Approved-BreakingChange, CI-BreakingChange-Go, resource-manager, BreakingChangeReviewRequired

#23551 [Hub Generated] Review request for Microsoft.ConfidentialLedger to add version preview/2023-01-26-preview
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-01-26-preview/confidentialledger.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-01-26-preview/examples/ConfidentialLedger_Create.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-01-26-preview/examples/ConfidentialLedger_Get.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-01-26-preview/examples/ConfidentialLedger_List.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-01-26-preview/examples/ConfidentialLedger_ListBySub.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-01-26-preview/examples/ConfidentialLedger_Update.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, resource-manager, RPaaS, BreakingChangeReviewRequired

#23598 mgmt, add generate-async-methods for postgresqlflexibleserver
  specification/postgresql/resource-manager/readme.java.md
Labels: CI-BreakingChange-Go, resource-manager

#23605 Changed enum name
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-03-01/costmanagement.benefits.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#23501 [Hub Generated] Review request for Microsoft.Easm to add version preview/2023-04-01-preview
  specification/riskiq/resource-manager/Microsoft.Easm/preview/2023-04-01-preview/easm.json
  specification/riskiq/resource-manager/Microsoft.Easm/preview/2023-04-01-preview/examples/Labels_CreateAndUpdate.json
  specification/riskiq/resource-manager/Microsoft.Easm/preview/2023-04-01-preview/examples/Labels_Delete.json
  specification/riskiq/resource-manager/Microsoft.Easm/preview/2023-04-01-preview/examples/Labels_GetByWorkspace.json
  specification/riskiq/resource-manager/Microsoft.Easm/preview/2023-04-01-preview/examples/Labels_ListByWorkspace.json
  specification/riskiq/resource-manager/Microsoft.Easm/preview/2023-04-01-preview/examples/Labels_Update.json
  specification/riskiq/resource-manager/Microsoft.Easm/preview/2023-04-01-preview/examples/Operations_List.json
  specification/riskiq/resource-manager/Microsoft.Easm/preview/2023-04-01-preview/examples/Tasks_GetByWorkspace.json
  specification/riskiq/resource-manager/Microsoft.Easm/preview/2023-04-01-preview/examples/Workspaces_CreateAndUpdate.json
  specification/riskiq/resource-manager/Microsoft.Easm/preview/2023-04-01-preview/examples/Workspaces_Delete.json
  specification/riskiq/resource-manager/Microsoft.Easm/preview/2023-04-01-preview/examples/Workspaces_Get.json
  specification/riskiq/resource-manager/Microsoft.Easm/preview/2023-04-01-preview/examples/Workspaces_ListByResourceGroup.json
  specification/riskiq/resource-manager/Microsoft.Easm/preview/2023-04-01-preview/examples/Workspaces_ListBySubscription.json
  specification/riskiq/resource-manager/Microsoft.Easm/preview/2023-04-01-preview/examples/Workspaces_Update.json
  specification/riskiq/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, RPaaS, new-api-version

#23440 [Hub Generated] Review request for Microsoft.Advisor to add version stable/2023-01-01
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2023-01-01/advisor.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2023-01-01/examples/CreateConfiguration.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2023-01-01/examples/CreateSuppression.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2023-01-01/examples/DeleteSuppression.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2023-01-01/examples/EmptyResponse.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2023-01-01/examples/GenerateRecommendations.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2023-01-01/examples/GetAdvisorScoreDetail.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2023-01-01/examples/GetRecommendationDetail.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2023-01-01/examples/GetRecommendationMetadataEntity.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2023-01-01/examples/GetSuppressionDetail.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2023-01-01/examples/ListAdvisorScore.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2023-01-01/examples/ListConfigurations.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2023-01-01/examples/ListRecommendationMetadata.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2023-01-01/examples/ListRecommendations.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2023-01-01/examples/ListSuppressions.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2023-01-01/examples/OperationsList.json
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2023-01-01/examples/Predict.json
  specification/advisor/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version

#23622 Update readme.python.md
  specification/resources/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-JavaScript, resource-manager

#23602 Adding description in getOrganizationApiKey
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2023-02-01-preview/elastic.json
Labels: resource-manager, RPaaS

#23580 add default value for s360 issue
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2021-12-01-preview/FlexibleServers.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/stable/2022-01-01/FlexibleServers.json
Labels: Approved-BreakingChange, CI-BreakingChange-Go, FixS360, resource-manager, NewApiVersionRequired

#23621 Update readme.python.md
  specification/compute/resource-manager/readme.python.md
Labels: Compute, resource-manager

#23617 Add replica/container running state
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/ContainerAppsRevisions.json
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/examples/Replicas_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/examples/Replicas_List.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#23599 mgmt, paloaltonetworks, customize service name
  specification/paloaltonetworks/resource-manager/readme.java.md
Labels: resource-manager, RPaaS

#23618 Delete Dataplane package.json and update to 0.43
  package.json
  specification/cognitiveservices/AnomalyDetector/package.json
  specification/cognitiveservices/HealthInsights/package.json
  specification/cognitiveservices/OpenAI.Authoring/package.json
  specification/cognitiveservices/OpenAI.Inference/package.json
  specification/translation/Azure.AI.TextTranslation/package.json
Labels: Cognitive Services

#22933 [Hub Generated] Review request for Microsoft.HybridCompute to add version preview/2023-03-15-preview
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/HybridCompute.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/DELETEExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/ExtensionMetadata_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/ExtensionMetadata_List.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/Extensions_Upgrade.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/GETAgentVersions.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/GETExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/GETLatestAgentVersion.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/GETNetworkProfile.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/GetHybridIdentityMetadata.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/HybridIdentityMetadata_ListByVirtualMachines.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/LISTExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/Machines_CreateOrUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/Machines_Delete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/Machines_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/Machines_ListByResourceGroup.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/Machines_ListBySubscription.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/Machines_Update.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/Operations_List.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/PUTExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/PrivateEndpointConnectionDelete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/PrivateEndpointConnectionGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/PrivateEndpointConnectionList.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/PrivateEndpointConnectionUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/PrivateLinkScopePrivateLinkResourceGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/PrivateLinkScopePrivateLinkResourceListGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/PrivateLinkScopesCreate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/PrivateLinkScopesDelete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/PrivateLinkScopesGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/PrivateLinkScopesGetValidation.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/PrivateLinkScopesGetValidationForMachine.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/PrivateLinkScopesList.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/PrivateLinkScopesListByResourceGroup.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/PrivateLinkScopesUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/PrivateLinkScopesUpdateTagsOnly.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/examples/UpdateExtension.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-03-15-preview/privateLinkScopes.json
  specification/hybridcompute/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, ArcReview, ArcSignedOff

#23632 [Eventhub] Description added for eventhub schema registry for api-version=2022-10-01-preview
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2022-10-01-preview/SchemaRegistry.json
Labels: Event Hubs, CI-BreakingChange-JavaScript, resource-manager

#23631 BillingStatistics 2023-05-01-preview
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-05-01-preview/BillingStatistics.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-05-01-preview/examples/billingStatistics/GetAllBillingStatistics.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-05-01-preview/examples/billingStatistics/GetBillingStatistic.json
  specification/securityinsights/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-FixRequiredOnFailure, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager

#23643 Update exmaples Stable Folder
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2022-07-01/examples/Monitors_Delete_MinimumSet_Gen.json
Labels: resource-manager

#23447 added missing securityContext field to 2022-10-01-preview and 2023-01-01-preview swagger
  custom-words.txt
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2022-10-01-preview/containerInstance.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2023-02-01-preview/containerInstance.json
Labels: Container Instances, Approved-BreakingChange, CI-BreakingChange-Go, FixS360, resource-manager, NewApiVersionRequired

#23641 mgmt java, add "timeCreated" to "VirtualMachineScaleSetVMProperties"
  specification/compute/resource-manager/readme.java.md
Labels: Compute, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#23639 Update readme.python.md
  specification/applicationinsights/resource-manager/readme.python.md
Labels: Insights, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#23397 [Hub Generated] Review request for Microsoft.Security to add version preview/2023-02-15-preview
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-15-preview/examples/SensitivitySettings/GetSensitivitySettingsList_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-15-preview/examples/SensitivitySettings/GetSensitivitySettings_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-15-preview/examples/SensitivitySettings/PutSensitivitySettings_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2023-02-15-preview/sensitivitySettings.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-LintDiff, CI-BreakingChange-JavaScript, ARMReview, resource-manager, new-api-version

#23644 [Go] security add directive
  specification/security/resource-manager/readme.go.md
Labels: CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#23600 Fixing live validation correctness error for BackupProtectableItems_List
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples/PrivateEndpointConnection/GetPrivateEndpointConnection.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2023-01-01/examples/PrivateEndpointConnection/PutPrivateEndpointConnection.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/PrivateEndpointConnection/GetPrivateEndpointConnection.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2023-02-01/examples/PrivateEndpointConnection/PutPrivateEndpointConnection.json
Labels: Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#23619 Sync ADF changes into Synapses: Add setSystemVariable
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: Approved-BreakingChange, Synapses, data-plane, NewApiVersionRequired

#23564 Release microsoft.network 2022 11 01
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/webapplicationfirewall.json
Labels: Network, Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#23637 Minor fixes for Turkey name change and missing x-ms-identifier
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/DatabaseVulnerabilityAssessmentRuleBaselines.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/examples/ManagedInstanceTimeZoneListByLocation.json
Labels: Approved-OkToMerge, SQL, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, resource-manager

#23646 Align with the right api-version
  specification/marketplacecatalog/resource-manager/Microsoft.Marketplace/stable/2022-07-31/examples/EdgeZonesProducts_List.json
  specification/marketplacecatalog/resource-manager/Microsoft.Marketplace/stable/2022-07-31/examples/Operations_Get.json
  specification/marketplacecatalog/resource-manager/Microsoft.Marketplace/stable/2022-07-31/marketplacecatalog.json
Labels: FixS360, resource-manager

#23656 Fix example name
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01/redis.json
Labels: Redis Cache, resource-manager, BreakingChangeReviewRequired

#23663 Remove the minimum number for the option field requestBodyInspectLimitInKB
  specification/network/resource-manager/Microsoft.Network/stable/2022-11-01/webapplicationfirewall.json
Labels: Approved-OkToMerge, Network, Approved-BreakingChange, CI-BreakingChange-Go, CI-FixRequiredOnFailure, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#21754 Support for Microsoft.HybridCloud 2023-01-01-preview API
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/preview/2023-01-01-preview/examples/CloudConnectionCreate.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/preview/2023-01-01-preview/examples/CloudConnectionDelete.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/preview/2023-01-01-preview/examples/CloudConnectionGet.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/preview/2023-01-01-preview/examples/CloudConnectionUpdateTags.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/preview/2023-01-01-preview/examples/CloudConnectionsByResourceGroupList.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/preview/2023-01-01-preview/examples/CloudConnectionsBySubscriptionList.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/preview/2023-01-01-preview/examples/CloudConnectorCreate.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/preview/2023-01-01-preview/examples/CloudConnectorDelete.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/preview/2023-01-01-preview/examples/CloudConnectorDiscoverResources.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/preview/2023-01-01-preview/examples/CloudConnectorGet.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/preview/2023-01-01-preview/examples/CloudConnectorUpdateTags.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/preview/2023-01-01-preview/examples/CloudConnectorsByResourceGroupList.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/preview/2023-01-01-preview/examples/CloudConnectorsBySubscriptionList.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/preview/2023-01-01-preview/examples/OperationGroupGet.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/preview/2023-01-01-preview/hybridCloud.json
  specification/hybridcloud/resource-manager/readme.az.md
  specification/hybridcloud/resource-manager/readme.cli.md
  specification/hybridcloud/resource-manager/readme.go.md
  specification/hybridcloud/resource-manager/readme.md
  specification/hybridcloud/resource-manager/readme.python.md
  specification/hybridcloud/resource-manager/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit, new-rp-namespace, CI-NewRPNamespaceWithoutRPaaS, 2023-01-01-preview

#23563 [Hub Generated] Review request for Microsoft.StorageCache to add version stable/2023-05-01
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/amlfilesystem.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/AscOperations_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/AscResourceUsages_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/Caches_CreateOrUpdate.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/Caches_CreateOrUpdate_ldap_only.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/Caches_DebugInfo.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/Caches_Delete.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/Caches_Flush.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/Caches_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/Caches_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/Caches_ListByResourceGroup.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/Caches_Start.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/Caches_Stop.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/Caches_Update.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/Caches_Update_ldap_only.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/Caches_UpgradeFirmware.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/Operations_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/PausePrimingJob.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/ResumePrimingJob.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/Skus_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/SpaceAllocation_Post.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/StartPrimingJob.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/StopPrimingJob.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/StorageTargets_CreateOrUpdate.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/StorageTargets_CreateOrUpdate_BlobNfs.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/StorageTargets_CreateOrUpdate_NoJunctions.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/StorageTargets_Delete.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/StorageTargets_DnsRefresh.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/StorageTargets_Flush.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/StorageTargets_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/StorageTargets_Invalidate.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/StorageTargets_ListByCache.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/StorageTargets_RestoreDefaults.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/StorageTargets_Resume.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/StorageTargets_Suspend.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/UsageModels_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/amlFilesystems_Archive.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/amlFilesystems_CancelArchive.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/amlFilesystems_CreateOrUpdate.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/amlFilesystems_Delete.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/amlFilesystems_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/amlFilesystems_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/amlFilesystems_ListByResourceGroup.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/amlFilesystems_Update.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/checkAmlFSSubnets.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/examples/getRequiredAmlFSSubnetsSize.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/storagecache.json
  specification/storagecache/resource-manager/readme.md
Labels: ARMSignedOff, DoNotMerge, Approved-BreakingChange, CI-BreakingChange-Go, Approved-LintDiff, CI-BreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired, new-api-version

#23655 Gauravkumar1491 resources microsoft.resources 2022 12 01 update readme.md
  specification/resources/resource-manager/readme.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-Avocado, CI-BreakingChange-JavaScript, resource-manager

#23679 Update readme.python.md
  specification/networkcloud/resource-manager/readme.python.md
Labels: resource-manager, RPaaS

#23623 add constraint for servername
  specification/mysql/resource-manager/Microsoft.DBforMySQL/AAD/preview/2021-12-01-preview/AzureADAdministrator.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/AAD/stable/2022-01-01/AzureADAdministrator.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/preview/2021-12-01-preview/Backups.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/stable/2022-01-01/Backups.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Configurations/preview/2021-12-01-preview/Configurations.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Configurations/stable/2022-01-01/Configurations.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Databases/preview/2021-12-01-preview/Databases.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Databases/stable/2022-01-01/Databases.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Firewall/preview/2021-12-01-preview/FirewallRules.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Firewall/stable/2022-01-01/FirewallRules.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2021-12-01-preview/FlexibleServers.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/stable/2022-01-01/FlexibleServers.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/LogFiles/preview/2021-12-01-preview/LogFiles.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/LogFiles/stable/2022-01-01/LogFiles.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/preview/2021-12-01-preview/ServiceOperations.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/stable/2022-01-01/ServiceOperations.json
Labels: MySQL, Approved-BreakingChange, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, resource-manager, BreakingChangeReviewRequired

#23448 [Hub Generated] Review request for Chat to add version preview/2023-07-01-preview
  specification/communication/data-plane/Chat/preview/2023-07-01-preview/communicationserviceschat.json
  specification/communication/data-plane/Chat/preview/2023-07-01-preview/examples/Threads_CreateChatThread.json
  specification/communication/data-plane/Chat/preview/2023-07-01-preview/examples/Threads_GetChatThread.json
Labels: Approved-BreakingChange, data-plane, BreakingChangeReviewRequired
