Repository Azure/azure-rest-api-specs, pull requests merged in 2023-09, with the labels that each got.

#25586 Update readme.python.md
  specification/network/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#25634 Update readme.go.md
  specification/appplatform/resource-manager/readme.go.md
  specification/appplatform/resource-manager/readme.python.md
  specification/appplatform/resource-manager/readme.ruby.md
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#25616 sweep over pipeline component
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-08-01-preview/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#25652 Update readme.python.md
  specification/solutions/resource-manager/readme.python.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, ARMReview, resource-manager, ReadyForApiTest, RPaaS

#25393 [Event Grid] [AppConfiguration] Add snapshot events support
  specification/eventgrid/data-plane/Microsoft.AppConfiguration/stable/2018-01-01/AppConfiguration.json
  specification/eventgrid/data-plane/Microsoft.AppConfiguration/stable/2018-01-01/examples/cloud-events-schema/snapshot_created.json
  specification/eventgrid/data-plane/Microsoft.AppConfiguration/stable/2018-01-01/examples/cloud-events-schema/snapshot_modified.json
  specification/eventgrid/data-plane/Microsoft.AppConfiguration/stable/2018-01-01/examples/event-grid-schema/snapshot_created.json
  specification/eventgrid/data-plane/Microsoft.AppConfiguration/stable/2018-01-01/examples/event-grid-schema/snapshot_modified.json
Labels: customer-reported, data-plane

#25526 Event Grid MQTT System events
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/EventGrid.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/SystemEvents.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/examples/cloud-events-schema/client_created_or_updated.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/examples/cloud-events-schema/client_deleted.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/examples/cloud-events-schema/clientsession_connected.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/examples/cloud-events-schema/clientsession_disconnected.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/examples/event-grid-schema/client_created_or_updated.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/examples/event-grid-schema/client_deleted.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/examples/event-grid-schema/clientsession_connected.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/examples/event-grid-schema/clientsession_disconnected.json
  specification/eventgrid/data-plane/readme.md
Labels: data-plane

#25573 Security Center: update pricings version in dotnet tag
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#25659 Add 'artifactTags' and 'disclaimer' field for shared gallery and community gallery
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/communityGallery.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/communityGalleryExamples/CommunityGalleryImageVersion_Get.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/communityGalleryExamples/CommunityGalleryImageVersion_List.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/communityGalleryExamples/CommunityGalleryImage_Get.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/communityGalleryExamples/CommunityGalleryImage_List.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/communityGalleryExamples/CommunityGallery_Get.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/sharedGalleryExamples/SharedGalleryImageVersion_Get.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/sharedGalleryExamples/SharedGalleryImageVersions_List.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/sharedGalleryExamples/SharedGalleryImage_Get.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/sharedGalleryExamples/SharedGalleryImages_List.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/sharedGalleryExamples/SharedGallery_Get.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/examples/sharedGalleryExamples/SharedGallery_List.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/sharedGallery.json
Labels: resource-manager

#25677 Revert api portal try out feature
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2023-09-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2023-09-01-preview/examples/ApiPortals_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2023-09-01-preview/examples/ApiPortals_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2023-09-01-preview/examples/ApiPortals_List.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#25678 Update readme.python.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/readme.python.md
Labels: ARMSignedOff, ShiftLeftViolation, ARMReview, resource-manager, ReadyForApiTest

#25676 Update readme.python.md
  specification/containerregistry/resource-manager/readme.python.md
Labels: ARMSignedOff, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest

#25215 [Hub Generated] Review request for Microsoft.Cache to add version stable/2023-08-01
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheAccessPolicyAssignmentCreateUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheAccessPolicyAssignmentDelete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheAccessPolicyAssignmentGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheAccessPolicyAssignmentList.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheAccessPolicyCreateUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheAccessPolicyDelete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheAccessPolicyGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheAccessPolicyList.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheAsyncOperationStatus.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheCheckNameAvailability.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheCreate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheCreateDefaultVersion.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheCreateLatestVersion.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheDelete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheDeletePrivateEndpointConnection.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheExport.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheFirewallRuleCreate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheFirewallRuleDelete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheFirewallRuleGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheFirewallRulesList.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheFlush.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheForceReboot.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheGetPrivateEndpointConnection.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheImport.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheLinkedServer_Create.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheLinkedServer_Delete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheLinkedServer_Get.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheLinkedServer_List.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheList.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheListByResourceGroup.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheListKeys.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheListPrivateEndpointConnections.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheListPrivateLinkResources.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheListUpgradeNotifications.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheOperations.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCachePatchSchedulesCreateOrUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCachePatchSchedulesDelete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCachePatchSchedulesGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCachePatchSchedulesList.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCachePutPrivateEndpointConnection.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheRegenerateKey.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/examples/RedisCacheUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/redis.json
  specification/redis/resource-manager/readme.go.md
  specification/redis/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, IDCDevDiv, MergeRequested

#24974 [Hub Generated] Review request for Microsoft.DataReplication to add version preview/2021-02-16-preview
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/CheckNameAvailability.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/DeploymentPreflight.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/DraOperationStatus_Get.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/Dra_Create.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/Dra_Delete.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/Dra_Get.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/Dra_List.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/EmailConfiguration_Create.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/EmailConfiguration_Get.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/EmailConfiguration_List.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/Event_Get.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/Event_List.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/FabricOperationsStatus_Get.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/Fabric_Create.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/Fabric_Delete.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/Fabric_Get.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/Fabric_List.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/Fabric_ListBySubscription.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/Fabric_Update.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/Operations_List.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/PolicyOperationStatus_Get.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/Policy_Create.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/Policy_Delete.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/Policy_Get.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/Policy_List.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/ProtectedItemOperationStatus_Get.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/ProtectedItem_Create.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/ProtectedItem_Delete.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/ProtectedItem_Get.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/ProtectedItem_List.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/ProtectedItem_PlannedFailover.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/RecoveryPoints_Get.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/RecoveryPoints_List.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/ReplicationExtensionOperationStatus_Get.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/ReplicationExtension_Create.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/ReplicationExtension_Delete.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/ReplicationExtension_Get.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/ReplicationExtension_List.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/VaultOperationStatus_Get.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/Vault_Create.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/Vault_Delete.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/Vault_Get.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/Vault_List.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/Vault_ListBySubscription.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/Vault_Update.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/WorkflowOperationStatus_Get.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/Workflow_Get.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/examples/Workflow_List.json
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/preview/2021-02-16-preview/recoveryservicesdatareplication.json
  specification/recoveryservicesdatareplication/resource-manager/readme.az.md
  specification/recoveryservicesdatareplication/resource-manager/readme.cli.md
  specification/recoveryservicesdatareplication/resource-manager/readme.csharp.md
  specification/recoveryservicesdatareplication/resource-manager/readme.go.md
  specification/recoveryservicesdatareplication/resource-manager/readme.md
  specification/recoveryservicesdatareplication/resource-manager/readme.python.md
  specification/recoveryservicesdatareplication/resource-manager/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, new-rp-namespace, CI-NewRPNamespaceWithoutRPaaS, MergeRequested

#25060 [Hub Generated] Review request for Microsoft.NotificationHubs to add version stable/2023-09-01
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/NHOperationsList.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/Namespaces/AuthorizationRuleCreateOrUpdate.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/Namespaces/AuthorizationRuleDelete.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/Namespaces/AuthorizationRuleGet.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/Namespaces/AuthorizationRuleList.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/Namespaces/AuthorizationRuleListKeys.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/Namespaces/AuthorizationRuleRegenerateKey.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/Namespaces/CheckAvailability.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/Namespaces/CreateOrUpdate.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/Namespaces/Delete.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/Namespaces/Get.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/Namespaces/ListByResourceGroup.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/Namespaces/ListBySubscription.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/Namespaces/PnsCredentialsGet.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/Namespaces/PrivateEndpointConnectionDelete.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/Namespaces/PrivateEndpointConnectionGet.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/Namespaces/PrivateEndpointConnectionList.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/Namespaces/PrivateEndpointConnectionUpdate.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/Namespaces/PrivateLinkResourceGet.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/Namespaces/PrivateLinkResourceList.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/Namespaces/Update.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/NotificationHubs/AuthorizationRuleCreateOrUpdate.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/NotificationHubs/AuthorizationRuleDelete.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/NotificationHubs/AuthorizationRuleGet.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/NotificationHubs/AuthorizationRuleList.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/NotificationHubs/AuthorizationRuleListKeys.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/NotificationHubs/AuthorizationRuleRegenerateKey.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/NotificationHubs/CheckAvailability.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/NotificationHubs/CreateOrUpdate.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/NotificationHubs/DebugSend.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/NotificationHubs/Delete.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/NotificationHubs/Get.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/NotificationHubs/List.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/NotificationHubs/PnsCredentialsGet.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/examples/NotificationHubs/Update.json
  specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2023-09-01/notificationhubs.json
  specification/notificationhubs/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-Avocado, Approved-LintDiff, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired, new-api-version, MergeRequested

#25171 Base commit of SCOM MI PP 20230707 version
  specification/scom/resource-manager/Microsoft.Scom/preview/2023-07-07-preview/examples/Instance_Create.json
  specification/scom/resource-manager/Microsoft.Scom/preview/2023-07-07-preview/examples/Instance_Delete.json
  specification/scom/resource-manager/Microsoft.Scom/preview/2023-07-07-preview/examples/Instance_Get.json
  specification/scom/resource-manager/Microsoft.Scom/preview/2023-07-07-preview/examples/Instance_LinkLogAnalytics.json
  specification/scom/resource-manager/Microsoft.Scom/preview/2023-07-07-preview/examples/Instance_Scale.json
  specification/scom/resource-manager/Microsoft.Scom/preview/2023-07-07-preview/examples/Instance_UnlinkLogAnalytics.json
  specification/scom/resource-manager/Microsoft.Scom/preview/2023-07-07-preview/examples/Instance_Update.json
  specification/scom/resource-manager/Microsoft.Scom/preview/2023-07-07-preview/examples/Instance_UpdateLogAnalytics.json
  specification/scom/resource-manager/Microsoft.Scom/preview/2023-07-07-preview/examples/Instances_ListByResourceGroup.json
  specification/scom/resource-manager/Microsoft.Scom/preview/2023-07-07-preview/examples/Instances_ListBySubscription.json
  specification/scom/resource-manager/Microsoft.Scom/preview/2023-07-07-preview/examples/Instances_PatchServers.json
  specification/scom/resource-manager/Microsoft.Scom/preview/2023-07-07-preview/examples/ManagedGateway_CreateOrUpdate.json
  specification/scom/resource-manager/Microsoft.Scom/preview/2023-07-07-preview/examples/ManagedGateway_Delete.json
  specification/scom/resource-manager/Microsoft.Scom/preview/2023-07-07-preview/examples/ManagedGateway_Get.json
  specification/scom/resource-manager/Microsoft.Scom/preview/2023-07-07-preview/examples/ManagedGateways_ListByResourceGroup.json
  specification/scom/resource-manager/Microsoft.Scom/preview/2023-07-07-preview/examples/MonitoredResource_CreateOrUpdate.json
  specification/scom/resource-manager/Microsoft.Scom/preview/2023-07-07-preview/examples/MonitoredResource_Delete.json
  specification/scom/resource-manager/Microsoft.Scom/preview/2023-07-07-preview/examples/MonitoredResource_Get.json
  specification/scom/resource-manager/Microsoft.Scom/preview/2023-07-07-preview/examples/MonitoredResources_ListByResourceGroup.json
  specification/scom/resource-manager/Microsoft.Scom/preview/2023-07-07-preview/examples/Operations_List.json
  specification/scom/resource-manager/Microsoft.Scom/preview/2023-07-07-preview/managedGateways.json
  specification/scom/resource-manager/Microsoft.Scom/preview/2023-07-07-preview/monitoredResources.json
  specification/scom/resource-manager/Microsoft.Scom/preview/2023-07-07-preview/scom.json
  specification/scom/resource-manager/readme.az.md
  specification/scom/resource-manager/readme.azureresourceschema.md
  specification/scom/resource-manager/readme.cli.md
  specification/scom/resource-manager/readme.csharp.md
  specification/scom/resource-manager/readme.go.md
  specification/scom/resource-manager/readme.md
  specification/scom/resource-manager/readme.python.md
  specification/scom/resource-manager/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, Approved-Suppression, SuppressionReviewRequired, new-api-version, CI-MissingBaseCommit, new-rp-namespace, MergeRequested

#25193 roleAssignmentID added to solutions properties
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2023-06-01-preview/agfood.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2023-06-01-preview/examples/Solutions_CreateOrUpdate.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2023-06-01-preview/examples/Solutions_Get.json
  specification/agrifood/resource-manager/Microsoft.AgFoodPlatform/preview/2023-06-01-preview/examples/Solutions_List.json
  specification/agrifood/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, NewApiVersionRequired, MergeRequested

#25442 Pauld/re add build and builder
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/Builders.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/Builds.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Builders_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Builders_Delete.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Builders_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Builders_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Builders_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Builders_Update.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Builds_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Builds_CreateOrUpdate_NoConfig.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Builds_Delete.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Builds_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Builds_ListByBuilderResource.json
  specification/app/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired, MergeRequested

#25522 Add 2023 failover group API to composite v5 tag (re-submit)
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#25667 Dogfood API spec for M365CustomerKey RP
  specification/m365customerkey/resource-manager/Microsoft.M365CustomerKey/preview/2023-09-01-preview/customerkey.json
  specification/m365customerkey/resource-manager/Microsoft.M365CustomerKey/preview/2023-09-01-preview/examples/EncryptionScenarios_CreateOrUpdate.json
  specification/m365customerkey/resource-manager/Microsoft.M365CustomerKey/preview/2023-09-01-preview/examples/EncryptionScenarios_Delete.json
  specification/m365customerkey/resource-manager/Microsoft.M365CustomerKey/preview/2023-09-01-preview/examples/EncryptionScenarios_Get.json
  specification/m365customerkey/resource-manager/Microsoft.M365CustomerKey/preview/2023-09-01-preview/examples/EncryptionScenarios_ListByResourceGroup.json
  specification/m365customerkey/resource-manager/Microsoft.M365CustomerKey/preview/2023-09-01-preview/examples/EncryptionScenarios_ListBySubscription.json
  specification/m365customerkey/resource-manager/Microsoft.M365CustomerKey/preview/2023-09-01-preview/examples/EncryptionScenarios_Update.json
  specification/m365customerkey/resource-manager/Microsoft.M365CustomerKey/preview/2023-09-01-preview/examples/Operations_List.json
  specification/m365customerkey/resource-manager/readme.md
Labels: resource-manager

#24902 Adding JobPrivateEndpoints API to version 2023-05-01-preview
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/JobPrivateEndpoints.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/CreateOrUpdateJobPrivateEndpoint.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/DeleteJobPrivateEndpoint.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/GetJobPrivateEndpoint.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/ListJobPrivateEndpointsByAgent.json
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff, customer-reported, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-LintDiff, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, new-api-version, CI-MissingBaseCommit, MergeRequested

#24905 [hold on]add directive in containerregistry ts.md
  specification/containerregistry/resource-manager/readme.typescript.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest

#25675 [typespec-next] Add linter rules to tspconfig.yaml
  specification/codesigning/CodeSigning/tspconfig.yaml
  specification/cognitiveservices/AnomalyDetector/main.tsp
  specification/cognitiveservices/AnomalyDetector/multivariate/models.tsp
  specification/cognitiveservices/AnomalyDetector/multivariate/routes.tsp
  specification/cognitiveservices/AnomalyDetector/tspconfig.yaml
  specification/cognitiveservices/ContentSafety/tspconfig.yaml
  specification/cognitiveservices/HealthInsights/healthinsights.common/model.common.response.tsp
  specification/cognitiveservices/HealthInsights/healthinsights.oncophenotype/tspconfig.yaml
  specification/cognitiveservices/HealthInsights/healthinsights.openapi/tspconfig.yaml
  specification/cognitiveservices/HealthInsights/healthinsights.trialmatcher/tspconfig.yaml
  specification/cognitiveservices/OpenAI.Inference/tspconfig.yaml
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/openapi.json
  specification/cognitiveservices/data-plane/HealthInsights/preview/2023-03-01-preview/openapi.json
  specification/confidentialledger/Microsoft.ManagedCcf/proposals.tsp
  specification/confidentialledger/Microsoft.ManagedCcf/tspconfig.yaml
  specification/containerservice/Fleet.Management/helpers.tsp
  specification/containerservice/Fleet.Management/tspconfig.yaml
  specification/containerstorage/ContainerStorage.Management/main.tsp
  specification/containerstorage/ContainerStorage.Management/tspconfig.yaml
  specification/contosowidgetmanager/Contoso.WidgetManager/tspconfig.yaml
  specification/eventgrid/Azure.Messaging.EventGrid/tspconfig.yaml
  specification/mpcnetworkfunction/mpcnetworkfunction.Management/networkfunction.tsp
  specification/mpcnetworkfunction/mpcnetworkfunction.Management/tspconfig.yaml
  specification/playwrighttesting/PlaywrightTesting/tspconfig.yaml
  specification/servicenetworking/ServiceNetworking.Management/tspconfig.yaml
  specification/sphere/Sphere.Management/tspconfig.yaml
  specification/translation/Azure.AI.TextTranslation/tspconfig.yaml
Labels: data-plane, BreakingChangeReviewRequired

#25705 Fix prettier config to work locally and in unified pipeline
  .prettierrc.json
  scripts/prettier-swagger-plugin.js
Labels: data-plane

#24621 Add async user removal response
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/apimusers.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementDeleteUser.json
Labels: API Management, ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, 2023-05-01-preview-APIM, MergeRequested

#24659 changing api DELETE operation to async
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/apimapis.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementDeleteApi.json
Labels: API Management, ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired, 2023-05-01-preview-APIM, MergeRequested

#25383 Fixing swagger correctness issue in BackupStatusResponse
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/bms.json
Labels: ARMSignedOff, Approved-BreakingChange, FixS360, ARMReview, resource-manager, ReadyForApiTest, NewApiVersionRequired, MergeRequested, AzCoreIDC

#25519 [MachineLearning]Try fixing some lint error in 10-01 version
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/Notebook/prepare.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/machineLearningServices.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, ARMReview, resource-manager, BreakingChangeReviewRequired, MergeRequested

#25681 Mjmadhu playwrighttesting microsoft.azure playwright service 2023 10 01 preview data plane
  specification/playwrighttesting/PlaywrightTesting/examples/2023-10-01-preview/AccessKeys_DeleteAccessKey.json
  specification/playwrighttesting/PlaywrightTesting/examples/2023-10-01-preview/AccessTokens_CreateAccessToken.json
  specification/playwrighttesting/PlaywrightTesting/examples/2023-10-01-preview/AccessTokens_DeleteAccessToken.json
  specification/playwrighttesting/PlaywrightTesting/examples/2023-10-01-preview/AccessTokens_GetAccessToken.json
  specification/playwrighttesting/PlaywrightTesting/examples/2023-10-01-preview/AccessTokens_ListAccessTokens.json
  specification/playwrighttesting/PlaywrightTesting/examples/2023-10-01-preview/Accounts_GetAccount.json
  specification/playwrighttesting/PlaywrightTesting/main.tsp
  specification/playwrighttesting/data-plane/Microsoft.PlaywrightTesting.AuthManager/preview/2023-10-01-preview/examples/AccessKeys_DeleteAccessKey.json
  specification/playwrighttesting/data-plane/Microsoft.PlaywrightTesting.AuthManager/preview/2023-10-01-preview/examples/AccessTokens_CreateAccessToken.json
  specification/playwrighttesting/data-plane/Microsoft.PlaywrightTesting.AuthManager/preview/2023-10-01-preview/examples/AccessTokens_DeleteAccessToken.json
  specification/playwrighttesting/data-plane/Microsoft.PlaywrightTesting.AuthManager/preview/2023-10-01-preview/examples/AccessTokens_GetAccessToken.json
  specification/playwrighttesting/data-plane/Microsoft.PlaywrightTesting.AuthManager/preview/2023-10-01-preview/examples/AccessTokens_ListAccessTokens.json
  specification/playwrighttesting/data-plane/Microsoft.PlaywrightTesting.AuthManager/preview/2023-10-01-preview/examples/Accounts_GetAccount.json
  specification/playwrighttesting/data-plane/Microsoft.PlaywrightTesting.AuthManager/preview/2023-10-01-preview/playwrighttesting.json
Labels: Approved-BreakingChange, data-plane, BreakingChangeReviewRequired

#25671 Add Recipient Email Address for Email Engagement Tracking Report Received event
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/AzureCommunicationServices.json
Labels: data-plane

#25720 add API to list all server versions
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2023-09-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2023-09-01-preview/examples/Services_ListSupportedServerVersions.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#25722 certificate - use enum for autoSync
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2023-09-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2023-09-01-preview/examples/Certificates_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2023-09-01-preview/examples/Certificates_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2023-09-01-preview/examples/Certificates_List.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#25724 Update appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2023-09-01-preview/appplatform.json
Labels: CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#25723 certificate - rename enum
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2023-09-01-preview/appplatform.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager, BreakingChangeReviewRequired

#25717 Added mobo resource configuration to common-types.
  custom-words.txt
  specification/common-types/resource-management/v5/mobo.json
Labels: MergeRequested

#25467 Add V5 tag for Servers API version 2023-02-01
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#25485 Davidgrebb redisenterprise microsoft.cache 2023 08 01 preview 3
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-08-01-preview/examples/OperationsList.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-08-01-preview/examples/OperationsStatusGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-08-01-preview/examples/RedisEnterpriseCheckNameAvailability.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-08-01-preview/examples/RedisEnterpriseCreate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-08-01-preview/examples/RedisEnterpriseDatabasesCreate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-08-01-preview/examples/RedisEnterpriseDatabasesCreateWithGeoReplication.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-08-01-preview/examples/RedisEnterpriseDatabasesDelete.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-08-01-preview/examples/RedisEnterpriseDatabasesExport.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-08-01-preview/examples/RedisEnterpriseDatabasesFlush.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-08-01-preview/examples/RedisEnterpriseDatabasesForceUnlink.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-08-01-preview/examples/RedisEnterpriseDatabasesGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-08-01-preview/examples/RedisEnterpriseDatabasesImport.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-08-01-preview/examples/RedisEnterpriseDatabasesListByCluster.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-08-01-preview/examples/RedisEnterpriseDatabasesListKeys.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-08-01-preview/examples/RedisEnterpriseDatabasesRegenerateKey.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-08-01-preview/examples/RedisEnterpriseDatabasesUpdate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-08-01-preview/examples/RedisEnterpriseDelete.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-08-01-preview/examples/RedisEnterpriseDeletePrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-08-01-preview/examples/RedisEnterpriseGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-08-01-preview/examples/RedisEnterpriseGetPrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-08-01-preview/examples/RedisEnterpriseList.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-08-01-preview/examples/RedisEnterpriseListByResourceGroup.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-08-01-preview/examples/RedisEnterpriseListPrivateEndpointConnections.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-08-01-preview/examples/RedisEnterpriseListPrivateLinkResources.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-08-01-preview/examples/RedisEnterprisePutPrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-08-01-preview/examples/RedisEnterpriseSkusList.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-08-01-preview/examples/RedisEnterpriseUpdate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2023-08-01-preview/redisenterprise.json
  specification/redisenterprise/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit, MergeRequested

#25736 [security] Update readme.python.md
  specification/security/resource-manager/readme.md
  specification/security/resource-manager/readme.python.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest

#25737 resourcehealth readme.go.md
  specification/resourcehealth/resource-manager/readme.go.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, ARMReview, resource-manager, ReadyForApiTest

#25451 API spec changes for PSTN Dialout for Rooms
  custom-words.txt
  specification/communication/data-plane/Rooms/preview/2023-10-30-preview/communicationservicesrooms.json
  specification/communication/data-plane/Rooms/preview/2023-10-30-preview/examples/Participants_List.json
  specification/communication/data-plane/Rooms/preview/2023-10-30-preview/examples/Participants_Update.json
  specification/communication/data-plane/Rooms/preview/2023-10-30-preview/examples/Rooms_Create.json
  specification/communication/data-plane/Rooms/preview/2023-10-30-preview/examples/Rooms_Delete.json
  specification/communication/data-plane/Rooms/preview/2023-10-30-preview/examples/Rooms_Get.json
  specification/communication/data-plane/Rooms/preview/2023-10-30-preview/examples/Rooms_List.json
  specification/communication/data-plane/Rooms/preview/2023-10-30-preview/examples/Rooms_Update.json
  specification/communication/data-plane/Rooms/readme.md
Labels: Approved-BreakingChange, CI-FixRequiredOnFailure, Approved-ModelValidation, APIStewardshipBoard-SignedOff, data-plane, BreakingChangeReviewRequired

#24518 [Hub Generated] Review request for Microsoft.HybridCompute to add version preview/2023-06-20-preview
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/HybridCompute.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/AgentVersion_GetLatest.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/AgentVersions_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/HybridIdentityMetadata_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/HybridIdentityMetadata_ListByVirtualMachines.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/NetworkProfile_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/Operations_List.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/extension/ExtensionMetadata_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/extension/ExtensionMetadata_List.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/extension/Extension_CreateOrUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/extension/Extension_Delete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/extension/Extension_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/extension/Extension_List.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/extension/Extension_Update.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/extension/Extensions_Upgrade.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/license/License_CreateOrUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/license/License_Delete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/license/License_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/license/License_ListByResourceGroup.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/license/License_ListBySubscription.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/license/License_Update.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/license/License_ValidateLicense.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/licenseProfile/LicenseProfile_CreateOrUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/licenseProfile/LicenseProfile_Delete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/licenseProfile/LicenseProfile_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/licenseProfile/LicenseProfile_List.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/licenseProfile/LicenseProfile_Update.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/machine/Machine_AssessPatches.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/machine/Machine_InstallPatches.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/machine/Machines_CreateOrUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/machine/Machines_Delete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/machine/Machines_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/machine/Machines_Get_LicenseProfileInstanceView.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/machine/Machines_ListByResourceGroup.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/machine/Machines_ListBySubscription.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/machine/Machines_Update.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/privateEndpoint/PrivateEndpointConnection_Delete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/privateEndpoint/PrivateEndpointConnection_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/privateEndpoint/PrivateEndpointConnection_List.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/privateEndpoint/PrivateEndpointConnection_Update.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/privateLinkScope/PrivateLinkScopePrivateLinkResource_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/privateLinkScope/PrivateLinkScopePrivateLinkResource_ListGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/privateLinkScope/PrivateLinkScopes_Create.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/privateLinkScope/PrivateLinkScopes_Delete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/privateLinkScope/PrivateLinkScopes_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/privateLinkScope/PrivateLinkScopes_GetValidation.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/privateLinkScope/PrivateLinkScopes_GetValidationForMachine.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/privateLinkScope/PrivateLinkScopes_List.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/privateLinkScope/PrivateLinkScopes_ListByResourceGroup.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/privateLinkScope/PrivateLinkScopes_Update.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/examples/privateLinkScope/PrivateLinkScopes_UpdateTagsOnly.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/privateLinkScopes.json
  specification/hybridcompute/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-LintDiff, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, new-api-version, ArcReview, ArcSignedOff, MergeRequested

#25709 [Fleet] Add VMSize to hub profile
  specification/containerservice/Fleet.Management/examples/2023-08-15-preview/Fleets_CreateOrUpdate.json
  specification/containerservice/Fleet.Management/examples/2023-08-15-preview/Fleets_Get.json
  specification/containerservice/Fleet.Management/examples/2023-08-15-preview/Fleets_ListByResourceGroup.json
  specification/containerservice/Fleet.Management/examples/2023-08-15-preview/Fleets_ListBySub.json
  specification/containerservice/Fleet.Management/examples/2023-08-15-preview/Fleets_PatchTags.json
  specification/containerservice/Fleet.Management/fleet.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/examples/Fleets_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/examples/Fleets_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/examples/Fleets_ListByResourceGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/examples/Fleets_ListBySub.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/examples/Fleets_PatchTags.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/fleets.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#25757 Mgmt containerregistry, add readOnly
  specification/containerregistry/resource-manager/readme.java.md
Labels: resource-manager, ReadyForApiTest

#25316 Ensure all common-types files are included in the latest version (v5)
  specification/common-types/resource-management/v5/customermanagedkeys.json
  specification/common-types/resource-management/v5/managedidentitywithdelegation.json
  specification/common-types/resource-management/v5/privatelinks.json
Labels: ARMSignedOff, MergeRequested

#25350 Add OT and AI config
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/ManagedEnvironments_CreateOrUpdate.json
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, MergeRequested

#25445 [Hub Generated] Review request for Microsoft.PlaywrightTesting to add version preview/2023-10-01-preview
  specification/playwrighttesting/PlaywrightTesting.Management/examples/Accounts_CreateOrUpdate.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/Accounts_Delete.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/Accounts_Get.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/Accounts_ListByResourceGroup.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/Accounts_ListBySubscription.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/Accounts_Update.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/Operations_List.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/Quotas_Get.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/Quotas_ListBySubscription.json
  specification/playwrighttesting/PlaywrightTesting.Management/main.tsp
  specification/playwrighttesting/PlaywrightTesting.Management/tspconfig.yaml
  specification/playwrighttesting/PlaywrightTesting/examples/2023-10-01-preview/AccessKeys_DeleteAccessKey.json
  specification/playwrighttesting/PlaywrightTesting/examples/2023-10-01-preview/AccessTokens_CreateAccessToken.json
  specification/playwrighttesting/PlaywrightTesting/examples/2023-10-01-preview/AccessTokens_DeleteAccessToken.json
  specification/playwrighttesting/PlaywrightTesting/examples/2023-10-01-preview/AccessTokens_GetAccessToken.json
  specification/playwrighttesting/PlaywrightTesting/examples/2023-10-01-preview/AccessTokens_ListAccessTokens.json
  specification/playwrighttesting/PlaywrightTesting/examples/2023-10-01-preview/Accounts_GetAccount.json
  specification/playwrighttesting/PlaywrightTesting/main.tsp
  specification/playwrighttesting/data-plane/Microsoft.PlaywrightTesting.AuthManager/preview/2023-10-01-preview/examples/AccessKeys_DeleteAccessKey.json
  specification/playwrighttesting/data-plane/Microsoft.PlaywrightTesting.AuthManager/preview/2023-10-01-preview/examples/AccessTokens_CreateAccessToken.json
  specification/playwrighttesting/data-plane/Microsoft.PlaywrightTesting.AuthManager/preview/2023-10-01-preview/examples/AccessTokens_DeleteAccessToken.json
  specification/playwrighttesting/data-plane/Microsoft.PlaywrightTesting.AuthManager/preview/2023-10-01-preview/examples/AccessTokens_GetAccessToken.json
  specification/playwrighttesting/data-plane/Microsoft.PlaywrightTesting.AuthManager/preview/2023-10-01-preview/examples/AccessTokens_ListAccessTokens.json
  specification/playwrighttesting/data-plane/Microsoft.PlaywrightTesting.AuthManager/preview/2023-10-01-preview/examples/Accounts_GetAccount.json
  specification/playwrighttesting/data-plane/Microsoft.PlaywrightTesting.AuthManager/preview/2023-10-01-preview/playwrighttesting.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2023-10-01-preview/examples/Accounts_CreateOrUpdate.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2023-10-01-preview/examples/Accounts_Delete.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2023-10-01-preview/examples/Accounts_Get.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2023-10-01-preview/examples/Accounts_ListByResourceGroup.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2023-10-01-preview/examples/Accounts_ListBySubscription.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2023-10-01-preview/examples/Accounts_Update.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2023-10-01-preview/examples/Operations_List.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2023-10-01-preview/examples/Quotas_Get.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2023-10-01-preview/examples/Quotas_ListBySubscription.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2023-10-01-preview/playwrighttesting.json
  specification/playwrighttesting/resource-manager/readme.az.md
  specification/playwrighttesting/resource-manager/readme.cli.md
  specification/playwrighttesting/resource-manager/readme.csharp.md
  specification/playwrighttesting/resource-manager/readme.go.md
  specification/playwrighttesting/resource-manager/readme.md
  specification/playwrighttesting/resource-manager/readme.python.md
  specification/playwrighttesting/resource-manager/readme.typescript.md
Labels: ARMSignedOff, Approved-BreakingChange, Approved-ModelValidation, APIStewardshipBoard-SignedOff, ARMReview, resource-manager, data-plane, BreakingChangeReviewRequired, new-api-version, new-rp-namespace, MergeRequested

#25508 add optional field scanResultsEventGridTopicResourceId
  specification/security/resource-manager/Microsoft.Security/preview/2022-12-01-preview/defenderForStorageSettings.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-12-01-preview/examples/DefenderForStorage/GetDefenderForStorageSettings_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2022-12-01-preview/examples/DefenderForStorage/PutDefenderForStorageSettings_example.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, NewApiVersionRequired, MergeRequested

#25766 [Fleet] Add portal FQDN to fleet hub profile
  specification/containerservice/Fleet.Management/examples/2023-08-15-preview/Fleets_CreateOrUpdate.json
  specification/containerservice/Fleet.Management/examples/2023-08-15-preview/Fleets_Get.json
  specification/containerservice/Fleet.Management/examples/2023-08-15-preview/Fleets_ListByResourceGroup.json
  specification/containerservice/Fleet.Management/examples/2023-08-15-preview/Fleets_ListBySub.json
  specification/containerservice/Fleet.Management/examples/2023-08-15-preview/Fleets_PatchTags.json
  specification/containerservice/Fleet.Management/fleet.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/examples/Fleets_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/examples/Fleets_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/examples/Fleets_ListByResourceGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/examples/Fleets_ListBySub.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/examples/Fleets_PatchTags.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/fleets.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#25765 adding queue settings to Oct 2023 stable api version
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager

#25775 Remove job priority from October Stable Version
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager

#25517 Use format: arm-id in Redis and RedisEnterprise where appropriate
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-04-01/redis.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2023-07-01/redisenterprise.json
Labels: ARMSignedOff, Approved-BreakingChange, FixS360, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested

#25764 fix case sensitive naming
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-06-20-preview/HybridCompute.json
Labels: ARMSignedOff, Approved-BreakingChange, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, ArcSignedOff

#25714 Remove redundant "rotate" from Keys API
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.3-preview/keys.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/keys.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.5-preview.1/keys.json
  specification/keyvault/data-plane/Microsoft.KeyVault/stable/7.3/keys.json
  specification/keyvault/data-plane/Microsoft.KeyVault/stable/7.4/keys.json
  specification/keyvault/data-plane/readme.md
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/keys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-06-01-preview/keys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-11-01-preview/keys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2022-02-01-preview/keys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-07-01/keys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/keys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2022-11-01/keysManagedHsm.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/keys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2023-02-01/keysManagedHsm.json
  specification/keyvault/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, ARMReview, resource-manager, data-plane, ReadyForApiTest, BreakingChangeReviewRequired

#25638 DAG API 2023-05-01 for MI First
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/DistributedAvailabilityGroups.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/DistributedAvailabilityGroupsCreateMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/DistributedAvailabilityGroupsCreateMin.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/DistributedAvailabilityGroupsGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/DistributedAvailabilityGroupsListByInstance.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired

#25704 Update MI Cassandra preview swagger
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2023-09-15-preview/examples/CosmosDBManagedCassandraBackup.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2023-09-15-preview/examples/CosmosDBManagedCassandraBackupsList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2023-09-15-preview/examples/CosmosDBManagedCassandraStatus.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2023-09-15-preview/managedCassandra.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#25773 Add OpenAI api version 2023-09-01-preview
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-09-01-preview/azureopenai.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-09-01-preview/examples/cancel_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-09-01-preview/examples/delete_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-09-01-preview/examples/delete_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-09-01-preview/examples/delete_images_operation.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-09-01-preview/examples/get_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-09-01-preview/examples/get_file_content.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-09-01-preview/examples/get_files.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-09-01-preview/examples/get_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-09-01-preview/examples/get_finetune_events.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-09-01-preview/examples/get_finetunes.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-09-01-preview/examples/get_images_operation.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-09-01-preview/examples/get_model_base.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-09-01-preview/examples/get_model_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-09-01-preview/examples/get_models.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-09-01-preview/examples/import_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-09-01-preview/examples/post_classification_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-09-01-preview/examples/post_finetune.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-09-01-preview/examples/post_images_generate.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-09-01-preview/examples/upload_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/readme.md
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-09-01-preview/inference.json
Labels: data-plane, BreakingChangeReviewRequired

#25769 Address ARM reviewer comment
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/communityGallery.json
Labels: resource-manager

#25794 Add uri format to CommunityGalleryMetadata
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2022-08-03/communityGallery.json
Labels: resource-manager

#25797 [TypeSpec] Upgrade to 0.48.0
  package-lock.json
  package.json
  specification/codesigning/CodeSigning/tspconfig.yaml
  specification/codesigning/data-plane/Azure.CodeSigning/preview/2023-06-15-preview/azure.codesigning.json
  specification/cognitiveservices/AnomalyDetector/main.tsp
  specification/cognitiveservices/AnomalyDetector/multivariate/models.tsp
  specification/cognitiveservices/AnomalyDetector/multivariate/routes.tsp
  specification/cognitiveservices/AnomalyDetector/tspconfig.yaml
  specification/cognitiveservices/ContentSafety/tspconfig.yaml
  specification/cognitiveservices/HealthInsights/healthinsights.common/model.common.response.tsp
  specification/cognitiveservices/HealthInsights/healthinsights.oncophenotype/tspconfig.yaml
  specification/cognitiveservices/HealthInsights/healthinsights.openapi/tspconfig.yaml
  specification/cognitiveservices/HealthInsights/healthinsights.trialmatcher/tspconfig.yaml
  specification/cognitiveservices/OpenAI.Inference/tspconfig.yaml
  specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/openapi.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-06-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-07-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-08-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/stable/2022-12-01/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/stable/2023-05-15/generated.json
  specification/cognitiveservices/data-plane/ContentSafety/preview/2023-04-30-preview/contentsafety.json
  specification/cognitiveservices/data-plane/HealthInsights/preview/2023-03-01-preview/openapi.json
  specification/confidentialledger/Microsoft.ManagedCcf/proposals.tsp
  specification/confidentialledger/Microsoft.ManagedCcf/tspconfig.yaml
  specification/confidentialledger/data-plane/Microsoft.ManagedCcf/preview/2023-06-01-preview/mccfgov.json
  specification/containerservice/Fleet.Management/helpers.tsp
  specification/containerservice/Fleet.Management/tspconfig.yaml
  specification/containerstorage/ContainerStorage.Management/main.tsp
  specification/containerstorage/ContainerStorage.Management/tspconfig.yaml
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-07-01-preview/containerstorage.json
  specification/contosowidgetmanager/Contoso.WidgetManager/tspconfig.yaml
  specification/contosowidgetmanager/data-plane/Azure.Contoso.WidgetManager/preview/2022-11-01-preview/widgets.json
  specification/eventgrid/Azure.Messaging.EventGrid/tspconfig.yaml
  specification/eventgrid/data-plane/Microsoft.EventGrid/preview/2023-06-01-preview/EventGrid.json
  specification/mpcnetworkfunction/mpcnetworkfunction.Management/networkfunction.tsp
  specification/mpcnetworkfunction/mpcnetworkfunction.Management/tspconfig.yaml
  specification/playwrighttesting/PlaywrightTesting/tspconfig.yaml
  specification/playwrighttesting/data-plane/Microsoft.PlaywrightTesting.AuthManager/preview/2023-10-01-preview/playwrighttesting.json
  specification/servicenetworking/ServiceNetworking.Management/tspconfig.yaml
  specification/sphere/Sphere.Management/tspconfig.yaml
  specification/sphere/resource-manager/Microsoft.AzureSphere/preview/2022-09-01-preview/azuresphere.json
  specification/translation/Azure.AI.TextTranslation/tspconfig.yaml
  specification/translation/data-plane/Azure.AI.TextTranslation/stable/v3.0/openapi.json
Labels: ARMChangesRequested, ARMReview, resource-manager, data-plane, RPaaS, BreakingChangeReviewRequired

#25788 Search move GA swagger 2020-06-30 from preview to stable folder
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchIndexAutocompleteDocumentsGet.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchIndexAutocompleteDocumentsPost.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchIndexCountDocuments.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchIndexGetDocument.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchIndexIndexDocuments.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchIndexSearchDocumentsGet.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchIndexSearchDocumentsPost.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchIndexSuggestDocumentsGet.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchIndexSuggestDocumentsPost.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceCreateDataSource.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceCreateIndex.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceCreateIndexer.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceCreateOrUpdateDataSource.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceCreateOrUpdateIndex.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceCreateOrUpdateIndexer.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceCreateOrUpdateSkillset.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceCreateOrUpdateSynonymMap.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceCreateSkillset.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceCreateSynonymMap.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceDeleteDataSource.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceDeleteIndex.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceDeleteIndexer.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceDeleteSkillset.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceDeleteSynonymMap.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceGetDataSource.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceGetIndex.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceGetIndexStatistics.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceGetIndexer.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceGetIndexerStatus.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceGetServiceStatistics.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceGetSkillset.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceGetSynonymMap.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceIndexAnalyze.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceListDataSources.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceListIndexers.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceListIndexes.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceListSkillsets.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceListSynonymMaps.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceResetIndexer.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/examples/SearchServiceRunIndexer.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/searchindex.json
  specification/search/data-plane/Azure.Search/stable/2020-06-30/searchservice.json
Labels: customer-reported, data-plane, BreakingChangeReviewRequired

#25805 [Fleet] Move VMSize into AgentProfile
  specification/containerservice/Fleet.Management/examples/2023-08-15-preview/Fleets_CreateOrUpdate.json
  specification/containerservice/Fleet.Management/examples/2023-08-15-preview/Fleets_Get.json
  specification/containerservice/Fleet.Management/examples/2023-08-15-preview/Fleets_ListByResourceGroup.json
  specification/containerservice/Fleet.Management/examples/2023-08-15-preview/Fleets_ListBySub.json
  specification/containerservice/Fleet.Management/examples/2023-08-15-preview/Fleets_PatchTags.json
  specification/containerservice/Fleet.Management/fleet.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/examples/Fleets_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/examples/Fleets_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/examples/Fleets_ListByResourceGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/examples/Fleets_ListBySub.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/examples/Fleets_PatchTags.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/fleets.json
Labels: resource-manager

#25787 Update readme.python.md
  specification/playwrighttesting/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#25808 Update readme.python.md
  specification/recoveryservicesdatareplication/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#25657 [Azure Cognitive Search] New API version 2023-10-01-Preview
  custom-words.txt
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchIndexAutocompleteDocumentsGet.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchIndexAutocompleteDocumentsPost.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchIndexCountDocuments.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchIndexGetDocument.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchIndexIndexDocuments.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchIndexSearchDocumentsGet.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchIndexSearchDocumentsPost.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchIndexSuggestDocumentsGet.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchIndexSuggestDocumentsPost.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceCreateAlias.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceCreateDataSource.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceCreateIndex.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceCreateIndexer.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceCreateOrUpdateAlias.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceCreateOrUpdateDataSource.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceCreateOrUpdateIndex.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceCreateOrUpdateIndexer.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceCreateOrUpdateSkillset.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceCreateOrUpdateSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceCreateSkillset.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceCreateSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceDeleteAlias.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceDeleteDataSource.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceDeleteIndex.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceDeleteIndexer.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceDeleteSkillset.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceDeleteSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceGetAlias.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceGetDataSource.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceGetIndex.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceGetIndexStatistics.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceGetIndexer.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceGetIndexerStatus.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceGetServiceStatistics.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceGetSkillset.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceGetSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceIndexAnalyze.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceListAliases.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceListDataSources.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceListIndexers.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceListIndexes.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceListSkillsets.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceListSynonymMaps.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceResetDocs.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceResetIndexer.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceResetSkills.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/examples/SearchServiceRunIndexer.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/searchindex.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/searchservice.json
  specification/search/data-plane/Azure.Search/readme.md
Labels: Approved-BreakingChange, APIStewardshipBoard-SignedOff, FalsePositive-BreakingChange, data-plane, new-api-version, CI-MissingBaseCommit

#25284 Introduce new SkuTypes
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/apimdeployment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateServiceSkuv2Service.json
Labels: API Management, ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired, 2023-05-01-preview-APIM, MergeRequested

#25600 add asm- prefix to upgrades field on mesh ops (preview)
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-06-02-preview/examples/ManagedClustersGet_MeshRevisionProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-06-02-preview/examples/ManagedClustersGet_MeshUpgradeProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-06-02-preview/examples/ManagedClustersList_MeshRevisionProfiles.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-06-02-preview/examples/ManagedClustersList_MeshUpgradeProfiles.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-07-02-preview/examples/ManagedClustersGet_MeshRevisionProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-07-02-preview/examples/ManagedClustersGet_MeshUpgradeProfile.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-07-02-preview/examples/ManagedClustersList_MeshRevisionProfiles.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-07-02-preview/examples/ManagedClustersList_MeshUpgradeProfiles.json
Labels: ARMSignedOff, ShiftLeftViolation, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#25772 Adding the x-ms-pageable extension for rulestack POST list APIs.
  specification/paloaltonetworks/resource-manager/PaloAltoNetworks.Cloudngfw/preview/2023-09-01-preview/PaloAltoNetworks.Cloudngfw.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, IDCDevDiv, MergeRequested

#25642 [Hub Generated] Review request for Microsoft.RecoveryServices to add version stable/2023-06-01
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/examples/Capabilities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/examples/CheckNameAvailability_Available.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/examples/CheckNameAvailability_NotAvailable.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/examples/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/examples/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/examples/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/examples/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/examples/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/examples/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/examples/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/examples/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/examples/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/examples/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/examples/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/examples/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/examples/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/examples/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/examples/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/examples/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/examples/PATCHVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/examples/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/examples/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/examples/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/examples/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/examples/PUTVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/examples/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/examples/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/examples/UpdateVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/registeredidentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/replicationusages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/vaults.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2023-06-01/vaultusages.json
  specification/recoveryservices/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, MergeRequested, AzCoreIDC

#25623 [Hub Generated] Review request for Microsoft.PortalServices to add version preview/2023-01-01-preview
  specification/portalservices/resource-manager/Microsoft.PortalServices/extensions/preview/2023-01-01-preview/examples/OperationsList.json
  specification/portalservices/resource-manager/Microsoft.PortalServices/extensions/preview/2023-01-01-preview/examples/portalTenantCompileFile.json
  specification/portalservices/resource-manager/Microsoft.PortalServices/extensions/preview/2023-01-01-preview/extensions.json
  specification/portalservices/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired

#25689 adding job step and target group apis to version 2023-05-01-preview
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/JobSteps.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/JobTargetGroups.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/CreateOrUpdateJobStepMin.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired

#25619 Adding MachineLearningService workspace resource publish API and registry datareference API
  custom-words.txt
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/DataReference/getBlobReferenceSAS.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/Workspace/CodeVersion/publish.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/Workspace/ComponentVersion/publish.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/Workspace/DataVersionBase/publish.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/Workspace/EnvironmentVersion/publish.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/Workspace/ModelVersion/publish.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/mfe.json
Labels: WaitForARMFeedback, CI-BreakingChange-Go, ARMReview, resource-manager

#25822 [Fleet] Fix readme.md for 0815
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/readme.md
Labels: resource-manager

#25781 Add service bind properties to dapr component
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/ConnectedEnvironmentsDaprComponents_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/ConnectedEnvironmentsDaprComponents_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/ConnectedEnvironmentsDaprComponents_List.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/DaprComponents_CreateOrUpdate_SecretStoreComponent.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/DaprComponents_CreateOrUpdate_Secrets.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/DaprComponents_Get_SecretStoreComponent.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/DaprComponents_Get_Secrets.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/DaprComponents_List.json
Labels: ARMSignedOff, customer-reported, ARMReview, resource-manager, MergeRequested

#25754 Add SSO and RootAccess
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-08-01-preview/examples/Compute/createOrUpdate/ComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-08-01-preview/examples/Compute/get/ComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-08-01-preview/machineLearningServices.json
Labels: ARMSignedOff, Approved-BreakingChange, ARMReview, resource-manager, BreakingChangeReviewRequired, MergeRequested

#25748 Workspace Manager Member S360 Corrective Change
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/WorkspaceManagerMembers.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/workspaceManagerMembers/CreateOrUpdateWorkspaceManagerMember.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/workspaceManagerMembers/GetAllWorkspaceManagerMembers.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/examples/workspaceManagerMembers/GetWorkspaceManagerMember.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-05-01-preview/WorkspaceManagerMembers.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-05-01-preview/examples/workspaceManagerMembers/CreateOrUpdateWorkspaceManagerMember.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-05-01-preview/examples/workspaceManagerMembers/GetAllWorkspaceManagerMembers.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-05-01-preview/examples/workspaceManagerMembers/GetWorkspaceManagerMember.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-06-01-preview/WorkspaceManagerMembers.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-06-01-preview/examples/workspaceManagerMembers/CreateOrUpdateWorkspaceManagerMember.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-06-01-preview/examples/workspaceManagerMembers/GetAllWorkspaceManagerMembers.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-06-01-preview/examples/workspaceManagerMembers/GetWorkspaceManagerMember.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-07-01-preview/WorkspaceManagerMembers.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-07-01-preview/examples/workspaceManagerMembers/CreateOrUpdateWorkspaceManagerMember.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-07-01-preview/examples/workspaceManagerMembers/GetAllWorkspaceManagerMembers.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-07-01-preview/examples/workspaceManagerMembers/GetWorkspaceManagerMember.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-08-01-preview/WorkspaceManagerMembers.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-08-01-preview/examples/workspaceManagerMembers/CreateOrUpdateWorkspaceManagerMember.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-08-01-preview/examples/workspaceManagerMembers/GetAllWorkspaceManagerMembers.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-08-01-preview/examples/workspaceManagerMembers/GetWorkspaceManagerMember.json
Labels: ARMSignedOff, Approved-BreakingChange, FixS360, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested

#25699 ARG Query Generation API in 2023-09-01-preview
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2023-09-01-preview/examples/OperationsList.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2023-09-01-preview/examples/ResourcesBasicQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2023-09-01-preview/examples/ResourcesComplexQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2023-09-01-preview/examples/ResourcesFacetQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2023-09-01-preview/examples/ResourcesFilterQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2023-09-01-preview/examples/ResourcesFirstPageQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2023-09-01-preview/examples/ResourcesGenerateQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2023-09-01-preview/examples/ResourcesGenerateQueryNoGeneration.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2023-09-01-preview/examples/ResourcesGenerateQueryWithHistory.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2023-09-01-preview/examples/ResourcesMgBasicQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2023-09-01-preview/examples/ResourcesNextPageQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2023-09-01-preview/examples/ResourcesPropertiesQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2023-09-01-preview/examples/ResourcesRandomPageQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2023-09-01-preview/examples/ResourcesSummarizeQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2023-09-01-preview/examples/ResourcesTenantBasicQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2023-09-01-preview/resourcecopilot.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2023-09-01-preview/resourcegraph.json
  specification/resourcegraph/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest, Approved-Suppression, SuppressionReviewRequired, new-api-version, CI-MissingBaseCommit, MergeRequested

#25554 [ACR] Mark all endpoints as deprecated for 3 oldest preview API's
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2016-06-27-preview/containerregistry.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2017-06-01-preview/containerregistry.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2018-02-01-preview/containerregistry_build.json
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-ModelValidation, Approved-SemanticValidation, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, MergeRequested

#25539 updating location capabilities for 2023-05-01-preview
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/LocationCapabilities.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/LocationCapabilityListByLocation.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired, MergeRequested

#25841 ignore unfound packages
  eng/scripts/Get-TypeSpec-Folders.ps1
Labels: Central-EngSys

#25814 add EnvironmentVariables in sparkjob
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-08-01-preview/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#25472 [Hub Generated] Review request for Microsoft.AlertsManagement to add version preview/2023-07-12-preview
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2023-07-12-preview/AlertsManagement.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2023-07-12-preview/examples/AlertsMetaData_MonitorService.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2023-07-12-preview/examples/Alerts_ChangeState.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2023-07-12-preview/examples/Alerts_GetById.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2023-07-12-preview/examples/Alerts_GetEnrichments.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2023-07-12-preview/examples/Alerts_History.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2023-07-12-preview/examples/Alerts_List.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2023-07-12-preview/examples/Alerts_ListEnrichments.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2023-07-12-preview/examples/Alerts_Summary.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2023-07-12-preview/examples/Operations_List.json
  specification/alertsmanagement/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-Avocado, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, Approved-Suppression, SuppressionReviewRequired, new-api-version, MergeRequested

#25785 Add model monitor 2023-08-01-preview changes
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-08-01-preview/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#25840 Billing/2023 04 01
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/PaymentMethodAtBillingAccount_Get.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/PaymentMethodAtBillingAccount_List.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/PaymentMethodAtBillingProfile_Get.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/PaymentMethodAtBillingProfile_List.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/PaymentMethodOwnedByUser_Get.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/PaymentMethodOwnedByUser_List.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/payments.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/types.json
Labels: resource-manager

#25846 Remove verbose output for skipped typespec packages for tsv
  eng/scripts/Get-TypeSpec-Folders.ps1
Labels: Central-EngSys

#25672 Add missing api version for python sdk.
  specification/containerregistry/resource-manager/readme.python.md
Labels: ARMSignedOff, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest

#25854 java configure, mgmt, playwright, client name
  specification/playwrighttesting/resource-manager/readme.java.md
  specification/playwrighttesting/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#25835 Updated Rooms Readme to use latest API version as default
  specification/communication/data-plane/Rooms/readme.md
Labels: data-plane

#25821 Renaming MPCNetwork to follow the typespec convention
  specification/mpcnetworkfunction/MpcNetworkFunction.Management/examples/2023-05-15-preview/NetworkFunctions_CreateOrUpdate.json
  specification/mpcnetworkfunction/MpcNetworkFunction.Management/examples/2023-05-15-preview/NetworkFunctions_Delete.json
  specification/mpcnetworkfunction/MpcNetworkFunction.Management/examples/2023-05-15-preview/NetworkFunctions_Get.json
  specification/mpcnetworkfunction/MpcNetworkFunction.Management/examples/2023-05-15-preview/NetworkFunctions_ListByResourceGroup.json
  specification/mpcnetworkfunction/MpcNetworkFunction.Management/examples/2023-05-15-preview/NetworkFunctions_ListBySubscription.json
  specification/mpcnetworkfunction/MpcNetworkFunction.Management/examples/2023-05-15-preview/NetworkFunctions_UpdateTags.json
  specification/mpcnetworkfunction/MpcNetworkFunction.Management/examples/2023-05-15-preview/OperationList.json
  specification/mpcnetworkfunction/MpcNetworkFunction.Management/main.tsp
  specification/mpcnetworkfunction/MpcNetworkFunction.Management/networkfunction.tsp
  specification/mpcnetworkfunction/MpcNetworkFunction.Management/readme.txt
  specification/mpcnetworkfunction/MpcNetworkFunction.Management/tspconfig.yaml
Labels: Central-EngSys

#25810 Renaming HealthInsights to follow the typespec convention
  specification/cognitiveservices/HealthInsights/HealthInsights.Common/model.common.request.tsp
  specification/cognitiveservices/HealthInsights/HealthInsights.Common/model.common.response.tsp
  specification/cognitiveservices/HealthInsights/HealthInsights.Common/model.common.shared.tsp
  specification/cognitiveservices/HealthInsights/HealthInsights.Common/primitives.tsp
  specification/cognitiveservices/HealthInsights/HealthInsights.OncoPhenotype/client.tsp
  specification/cognitiveservices/HealthInsights/HealthInsights.OncoPhenotype/model.oncophenotype.tsp
  specification/cognitiveservices/HealthInsights/HealthInsights.OncoPhenotype/route.oncophenotype.tsp
  specification/cognitiveservices/HealthInsights/HealthInsights.OncoPhenotype/tspconfig.yaml
  specification/cognitiveservices/HealthInsights/HealthInsights.OpenAPI/examples/2023-03-01-preview/SuccessfulOncoPhenotypeRequest.json
  specification/cognitiveservices/HealthInsights/HealthInsights.OpenAPI/examples/2023-03-01-preview/SuccessfulOncoPhenotypeResponse.json
  specification/cognitiveservices/HealthInsights/HealthInsights.OpenAPI/examples/2023-03-01-preview/SuccessfulTrialMatcherRequest.json
  specification/cognitiveservices/HealthInsights/HealthInsights.OpenAPI/examples/2023-03-01-preview/SuccessfulTrialMatcherResponse.json
  specification/cognitiveservices/HealthInsights/HealthInsights.OpenAPI/main.tsp
  specification/cognitiveservices/HealthInsights/HealthInsights.OpenAPI/service.tsp
  specification/cognitiveservices/HealthInsights/HealthInsights.OpenAPI/tspconfig.yaml
  specification/cognitiveservices/HealthInsights/HealthInsights.TrialMatcher/client.tsp
  specification/cognitiveservices/HealthInsights/HealthInsights.TrialMatcher/model.trialmatcher.tsp
  specification/cognitiveservices/HealthInsights/HealthInsights.TrialMatcher/route.trialmatcher.tsp
  specification/cognitiveservices/HealthInsights/HealthInsights.TrialMatcher/tspconfig.yaml
  specification/cognitiveservices/HealthInsights/healthinsights.openapi/main.tsp
Labels: Central-EngSys

#25838 Update semantic description
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/SearchCreateOrUpdateWithSemanticSearch.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/examples/SearchUpdateServiceWithSemanticSearch.json
  specification/search/resource-manager/Microsoft.Search/stable/2023-11-01/search.json
Labels: resource-manager

#25729 Add managed Vnet to stable version
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/ManagedNetwork/createOrUpdateRule.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/ManagedNetwork/deleteRule.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/ManagedNetwork/getRule.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/ManagedNetwork/listRule.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/ManagedNetwork/provision.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/machineLearningServices.json
Labels: ARMSignedOff, Approved-BreakingChange, ARMReview, resource-manager, BreakingChangeReviewRequired, MergeRequested

#25604 [Hub Generated] Review request for Microsoft.Help to add version preview/2023-09-01-preview
  specification/help/resource-manager/Microsoft.Help/preview/2023-09-01-preview/examples/CheckNameAvailabilityForDiagnosticWhenNameIsAvailable.json
  specification/help/resource-manager/Microsoft.Help/preview/2023-09-01-preview/examples/CheckNameAvailabilityForDiagnosticWhenNameIsNotAvailable.json
  specification/help/resource-manager/Microsoft.Help/preview/2023-09-01-preview/examples/CreateDiagnosticForKeyVaultResource.json
  specification/help/resource-manager/Microsoft.Help/preview/2023-09-01-preview/examples/GetDiagnosticForKeyVaultResource.json
  specification/help/resource-manager/Microsoft.Help/preview/2023-09-01-preview/examples/ListDiscoverySolutionsAtResourceScope.json
  specification/help/resource-manager/Microsoft.Help/preview/2023-09-01-preview/examples/ListDiscoverySolutionsAtSubscriptionScope.json
  specification/help/resource-manager/Microsoft.Help/preview/2023-09-01-preview/examples/ListOperations.json
  specification/help/resource-manager/Microsoft.Help/preview/2023-09-01-preview/examples/Solution_Create.json
  specification/help/resource-manager/Microsoft.Help/preview/2023-09-01-preview/examples/Solution_Get.json
  specification/help/resource-manager/Microsoft.Help/preview/2023-09-01-preview/examples/Solution_Update.json
  specification/help/resource-manager/Microsoft.Help/preview/2023-09-01-preview/examples/Troubleshooter_Continue.json
  specification/help/resource-manager/Microsoft.Help/preview/2023-09-01-preview/examples/Troubleshooter_Create.json
  specification/help/resource-manager/Microsoft.Help/preview/2023-09-01-preview/examples/Troubleshooter_End.json
  specification/help/resource-manager/Microsoft.Help/preview/2023-09-01-preview/examples/Troubleshooter_Get.json
  specification/help/resource-manager/Microsoft.Help/preview/2023-09-01-preview/examples/Troubleshooter_Restart.json
  specification/help/resource-manager/Microsoft.Help/preview/2023-09-01-preview/help.json
  specification/help/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, MergeRequested

#25712 [TypeSpec Validation] verify folder structure
  eng/tools/TypeSpecValidation/src/rules/folder-structure.ts
Labels: Central-EngSys

#25825 fix x-ms-mutability as privateEndpointConnections is readonly
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-06-01-preview/FlexibleServers.json
Labels: ARMSignedOff, Approved-BreakingChange, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested

#25867 [Hub Generated] Review request for Microsoft.AzurePlaywrightService to add version preview/2023-10-01-preview
  specification/playwrighttesting/PlaywrightTesting.Management/main.tsp
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2023-10-01-preview/playwrighttesting.json
Labels: ARMSignedOff, Approved-BreakingChange, Approved-ModelValidation, ARMReview, resource-manager, BreakingChangeReviewRequired, MergeRequested

#25734 Azure OpenAI: minimal, partial specification for Whisper transcription/translation
  specification/cognitiveservices/OpenAI.Inference/examples/2023-09-01-preview/audio_transcription_object.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-09-01-preview/audio_transcription_text.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-09-01-preview/audio_translation_object.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-09-01-preview/audio_translation_text.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-09-01-preview/chat_completions.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-09-01-preview/completions.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-09-01-preview/embeddings.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-09-01-preview/extensions_chat_completions.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-09-01-preview/get_image_operation_status.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-09-01-preview/start_generate_image.json
  specification/cognitiveservices/OpenAI.Inference/main.tsp
  specification/cognitiveservices/OpenAI.Inference/models/audio.common.tsp
  specification/cognitiveservices/OpenAI.Inference/models/audio.transcription.tsp
  specification/cognitiveservices/OpenAI.Inference/models/audio.translation.tsp
  specification/cognitiveservices/OpenAI.Inference/routes.tsp
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-09-01-preview/examples/audio_transcription_object.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-09-01-preview/examples/audio_transcription_text.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-09-01-preview/examples/audio_translation_object.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-09-01-preview/examples/audio_translation_text.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-09-01-preview/examples/chat_completions.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-09-01-preview/examples/completions.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-09-01-preview/examples/embeddings.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-09-01-preview/examples/extensions_chat_completions.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-09-01-preview/examples/get_image_operation_status.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-09-01-preview/examples/start_generate_image.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-09-01-preview/generated.json
Labels: data-plane, NewApiVersionRequired, OpenAI

#25880 Azure OpenAI: (known preview-breaking) in-place rename of RAI prompt_filter_results
  specification/cognitiveservices/OpenAI.Inference/models/chat.completions.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions.create.tsp
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-06-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-07-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-08-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-09-01-preview/generated.json
Labels: data-plane, BreakingChangeReviewRequired, OpenAI

#25780 Add WS Vnet properties for Serverless GA
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-08-01-preview/workspaceRP.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#25552 [Hub Generated] Review request for Microsoft.AlertsManagement to add example to version stable/2023-03-01
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2023-03-01/PrometheusRuleGroups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2023-03-01/examples/createOrUpdateClusterCentricRuleGroup.json
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#25884 Updated readme.md for openapi subtype
  specification/playwrighttesting/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS

#25888 Wwendyc playwrighttesting microsoft.azure playwright service 2023 10 01 preview
  specification/playwrighttesting/PlaywrightTesting.Management/examples/Accounts_CreateOrUpdate.json
  specification/playwrighttesting/PlaywrightTesting.Management/main.tsp
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2023-10-01-preview/examples/Accounts_CreateOrUpdate.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2023-10-01-preview/playwrighttesting.json
Labels: ARMSignedOff, Approved-BreakingChange, ARMReview, resource-manager, ReadyForApiTest, RPaaS, MergeRequested

#25889 Wwendyc playwrighttesting microsoft.azure playwright service 2023 10 01 preview
  specification/playwrighttesting/PlaywrightTesting/examples/2023-10-01-preview/AccessTokens_CreateAccessToken.json
  specification/playwrighttesting/PlaywrightTesting/main.tsp
  specification/playwrighttesting/data-plane/Microsoft.PlaywrightTesting.AuthManager/preview/2023-10-01-preview/examples/AccessTokens_CreateAccessToken.json
  specification/playwrighttesting/data-plane/Microsoft.PlaywrightTesting.AuthManager/preview/2023-10-01-preview/playwrighttesting.json
Labels: Approved-BreakingChange, data-plane

#25725 Adding update to x-ms-mutability
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/elasticsan.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/VolumeGroups_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/VolumeSnapshots_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/VolumeSnapshots_Create_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/Volumes_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/Volumes_Create_MinimumSet_Gen.json
Labels: ARMSignedOff, ARMReview, resource-manager

#25892 java mgmt, managedapplications title
  specification/solutions/resource-manager/readme.java.md
  specification/solutions/resource-manager/readme.md
Labels: resource-manager, ReadyForApiTest, RPaaS

#25875 Fix serviceOperation version for 2023-06-01-preview
  specification/mysql/resource-manager/readme.md
  specification/mysql/resource-manager/readme.python.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#25907 [typespec-next] React to azure/typespec-azure#3596
  specification/codesigning/data-plane/Azure.CodeSigning/preview/2023-06-15-preview/azure.codesigning.json
Labels: data-plane, BreakingChangeReviewRequired

#25862 2023-10-01-preview API Review feedback fixes
  custom-words.txt
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/searchindex.json
  specification/search/data-plane/Azure.Search/preview/2023-10-01-Preview/searchservice.json
Labels: Approved-BreakingChange, APIStewardshipBoard-SignedOff, data-plane, BreakingChangeReviewRequired

#25897 Fix go readme for asa
  specification/appplatform/resource-manager/readme.go.md
Labels: DoNotMerge, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, ShiftLeftViolation, resource-manager

#25898 Update language specfic readme for asa
  specification/appplatform/resource-manager/readme.go.md
  specification/appplatform/resource-manager/readme.python.md
  specification/appplatform/resource-manager/readme.ruby.md
Labels: DoNotMerge, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, ShiftLeftViolation, resource-manager

#25921 Update readme.java.md
  specification/kubernetesconfiguration/resource-manager/readme.java.md
Labels: resource-manager

#25879 Fix circular reference 2023-10-01
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/machineLearningServices.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, FixS360, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired, MergeRequested

#25906 Resource to ProxyResource for preview version for aug 2023 preview
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-08-01-preview/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#25904 Resource to ProxyResource for oct 2023 api
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#25870 August-2023-preview fix circular reference
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-08-01-preview/machineLearningServices.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, FixS360, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired, MergeRequested

#25687 Release elasticsan microsoft.elastic san 2023 01 01 ga
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/elasticsan.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/ElasticSans_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/ElasticSans_Create_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/ElasticSans_Delete_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/ElasticSans_Delete_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/ElasticSans_Get_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/ElasticSans_Get_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/ElasticSans_ListByResourceGroup_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/ElasticSans_ListByResourceGroup_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/ElasticSans_ListBySubscription_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/ElasticSans_ListBySubscription_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/ElasticSans_Update_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/ElasticSans_Update_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/Operations_List_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/Operations_List_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/PrivateEndpointConnections_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/PrivateEndpointConnections_Create_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/PrivateEndpointConnections_Delete_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/PrivateEndpointConnections_Delete_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/PrivateEndpointConnections_Get_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/PrivateEndpointConnections_Get_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/PrivateEndpointConnections_List_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/PrivateEndpointConnections_List_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/PrivateLinkResources_ListByElasticSan_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/PrivateLinkResources_ListByElasticSan_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/Skus_List_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/Skus_List_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/VolumeGroups_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/VolumeGroups_Create_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/VolumeGroups_Delete_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/VolumeGroups_Delete_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/VolumeGroups_Get_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/VolumeGroups_Get_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/VolumeGroups_ListByElasticSan_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/VolumeGroups_ListByElasticSan_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/VolumeGroups_Update_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/VolumeGroups_Update_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/VolumeSnapshots_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/VolumeSnapshots_Create_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/VolumeSnapshots_Delete_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/VolumeSnapshots_Delete_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/VolumeSnapshots_Get_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/VolumeSnapshots_Get_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/VolumeSnapshots_ListByVolumeGroup_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/VolumeSnapshots_ListByVolumeGroup_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/Volumes_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/Volumes_Create_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/Volumes_Delete_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/Volumes_Delete_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/Volumes_Get_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/Volumes_Get_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/Volumes_ListByVolumeGroup_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/Volumes_ListByVolumeGroup_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/Volumes_Update_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2023-01-01/examples/Volumes_Update_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit, MergeRequested

#25629 Release web 2023 01 01
  specification/web/resource-manager/Microsoft.Web/stable/2023-01-01/ResourceProvider.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#25594 Add feature store api's to GA version
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/Feature/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/Feature/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/Workspace/FeaturesetContainer/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/Workspace/FeaturesetContainer/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/Workspace/FeaturesetContainer/getEntity.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/Workspace/FeaturesetContainer/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/Workspace/FeaturesetVersion/backfill.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/Workspace/FeaturesetVersion/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/Workspace/FeaturesetVersion/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/Workspace/FeaturesetVersion/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/Workspace/FeaturesetVersion/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/Workspace/FeaturestoreEntityContainer/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/Workspace/FeaturestoreEntityContainer/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/Workspace/FeaturestoreEntityContainer/getEntity.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/Workspace/FeaturestoreEntityContainer/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/Workspace/FeaturestoreEntityVersion/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/Workspace/FeaturestoreEntityVersion/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/Workspace/FeaturestoreEntityVersion/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/examples/Workspace/FeaturestoreEntityVersion/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#25618 Adding Provisioning,PendingCommit values in the ConfigurationState..
  specification/managednetworkfabric/resource-manager/Microsoft.ManagedNetworkFabric/stable/2023-06-15/AccessControlLists.json
  specification/managednetworkfabric/resource-manager/Microsoft.ManagedNetworkFabric/stable/2023-06-15/NetworkFabrics.json
  specification/managednetworkfabric/resource-manager/Microsoft.ManagedNetworkFabric/stable/2023-06-15/common.json
  specification/managednetworkfabric/resource-manager/Microsoft.ManagedNetworkFabric/stable/2023-06-15/examples/NetworkFabrics_upgrade_MaximumSet_Gen.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, RPaaS, MergeRequested

#25941 Add suppression for lint error
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired

#25942 Update `workflows/comment.yml`: add exponential backoff to adding `MergeRequested` label
  .github/workflows/comment.yml
Labels: Central-EngSys

#25887 [Bastion] Adding Developer Sku
  specification/network/resource-manager/Microsoft.Network/stable/2023-06-01/bastionHost.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#25446 Adding patching scenario ARM API
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/Patches.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Patches_Apply.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Patches_Delete.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Patches_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Patches_ListByBuilderResource.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/examples/Patches_Skip_Configure.json
  specification/app/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, MergeRequested

#24632 [Hub Generated] Review request for Microsoft.ConfidentialLedger to add version preview/2023-06-28-preview
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-06-28-preview/confidentialledger.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-06-28-preview/examples/CheckNameAvailability.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-06-28-preview/examples/ConfidentialLedger_Backup.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-06-28-preview/examples/ConfidentialLedger_Create.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-06-28-preview/examples/ConfidentialLedger_Delete.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-06-28-preview/examples/ConfidentialLedger_Get.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-06-28-preview/examples/ConfidentialLedger_List.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-06-28-preview/examples/ConfidentialLedger_ListBySub.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-06-28-preview/examples/ConfidentialLedger_Restore.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-06-28-preview/examples/ConfidentialLedger_Update.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-06-28-preview/examples/ManagedCCF_Backup.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-06-28-preview/examples/ManagedCCF_Create.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-06-28-preview/examples/ManagedCCF_Delete.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-06-28-preview/examples/ManagedCCF_Get.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-06-28-preview/examples/ManagedCCF_List.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-06-28-preview/examples/ManagedCCF_ListBySub.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-06-28-preview/examples/ManagedCCF_Restore.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-06-28-preview/examples/ManagedCCF_Update.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-06-28-preview/examples/Operations_Get.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2023-06-28-preview/managedccf.json
  specification/confidentialledger/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, new-api-version, MergeRequested

#25679 update typescript.md
  specification/solutions/resource-manager/readme.typescript.md
Labels: ARMSignedOff, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, RPaaS

#25829 [Recoveryservicesbackup] Add LRO to ProtectionContainers PUT
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/bms.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, FixS360, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested

#25713 [BugFix] Add "ExtendedLocation" property in IaasVMRestorePoint
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2023-04-01/examples/AzureIaasVm/RecoveryPoints_List.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, FixS360, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest, NewApiVersionRequired, MergeRequested, AzCoreIDC

#25686 Remove iotsecurity apis from public repo
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/defenderSettings.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/deviceGroups.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/devices.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/DefenderSettings/Delete.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/DefenderSettings/DownloadManagerActivation.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/DefenderSettings/Get.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/DefenderSettings/List.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/DefenderSettings/PackageDownloads.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/DefenderSettings/Put.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/DeviceGroups/Delete.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/DeviceGroups/Get.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/DeviceGroups/List.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/DeviceGroups/Put.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Devices/Get.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Devices/List.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Locations/Get.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Locations/List.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/OnPremiseSensors/Delete.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/OnPremiseSensors/DownloadActivation.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/OnPremiseSensors/DownloadResetPassword.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/OnPremiseSensors/Get.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/OnPremiseSensors/List.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/OnPremiseSensors/Put.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Operations/List.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Sensors/Delete.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Sensors/DownloadActivation.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Sensors/DownloadResetPassword.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Sensors/Get.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Sensors/List.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Sensors/Put.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Sensors/TriggerTiPackageUpdate.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Sites/Delete.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Sites/Get.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Sites/List.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/examples/Sites/Put.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/locations.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/onPremiseSensors.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/operations.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/sensors.json
  specification/iotsecurity/resource-manager/Microsoft.IoTSecurity/preview/2021-02-01-preview/sites.json
  specification/iotsecurity/resource-manager/common/1.0/types.json
  specification/iotsecurity/resource-manager/readme.go.md
  specification/iotsecurity/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, ARMReview, MergeRequested

#25666 Firewall Policy - IDPS profiles
  specification/network/resource-manager/Microsoft.Network/stable/2023-06-01/examples/FirewallPolicyPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-06-01/examples/FirewallPolicyRuleCollectionGroupWithHttpHeadersToInsert.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-06-01/firewallPolicy.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#25580 Updating Instance Pool swagger for 2023-05-01-preview
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/InstancePools.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/CreateOrUpdateInstancePoolMax.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/GetInstancePool.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/ListInstancePoolsByResourceGroup.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/ListInstancePoolsBySubscriptionId.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/PatchInstancePool.json
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, MergeRequested

#24696 APIM: Update LRO PUT operations to hybrid approach
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/apimapis.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/apimnamedvalues.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/apimpolicyfragments.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/apimportalrevisions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/apimschema.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/apimusers.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/apimworkspaces.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateApi.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateApiClone.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateApiNewVersionUsingExistingApi.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateApiRevisionFromExistingApi.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateApiSchema.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateApiUsingImportOverrideServiceUrl.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateApiUsingOai3Import.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateApiUsingOai3ImportWithTranslateRequiredQueryParametersConduct.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateApiUsingSwaggerImport.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateApiUsingWadlImport.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateApiWithMultipleAuthServers.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateApiWithMultipleOpenIdConnectProviders.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateApiWithOpenIdConnect.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateGlobalSchema1.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateGlobalSchema2.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateGraphQLApi.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateGrpcApi.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateNamedValue.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateNamedValueWithKeyVault.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateODataApi.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreatePolicyFragment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreatePortalRevision.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateSoapPassThroughApiUsingWsdlImport.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateSoapToRestApiUsingWsdlImport.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateWebsocketApi.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateWorkspaceApi.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateWorkspaceApiSchema.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateWorkspaceNamedValue.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateWorkspaceNamedValueWithKeyVault.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateWorkspacePolicyFragment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateWorkspaceSchema.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementDeleteApi.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementDeleteUser.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementRefreshNamedValue.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementRefreshWorkspaceNamedValue.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementUpdateNamedValue.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementUpdatePortalRevision.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementUpdateWorkspaceNamedValue.json
Labels: API Management, ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-FixRequiredOnFailure, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired, 2023-05-01-preview-APIM, MergeRequested

#25940 Minor fixes to CapacityReservationGroups
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-08-01-preview/mfe.json
Labels: ARMSignedOff, FixS360, ARMReview, resource-manager, MergeRequested

#25745 Remove BYO resource registry examples and add comments in description…
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-06-01-preview/examples/Registries/createOrUpdate-UserCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-06-01-preview/examples/Registries/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-06-01-preview/examples/Registries/get-UserCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-06-01-preview/examples/Registries/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-06-01-preview/examples/Registries/list-UserCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-06-01-preview/examples/Registries/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-06-01-preview/examples/Registries/removeRegions.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-06-01-preview/examples/Registries/update-UserCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-06-01-preview/examples/Registries/update.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-06-01-preview/registries.json
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#25799 Add Archive option to LTR Policy and LTR Backup for SQL DB
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/LongTermRetentionBackups.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/LongTermRetentionPolicies.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/ChangeLongTermRetentionBackupAccessTier.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/LongTermRetentionBackupDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/LongTermRetentionBackupGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/LongTermRetentionBackupListByDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/LongTermRetentionBackupListByLocation.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/LongTermRetentionBackupListByServer.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/LongTermRetentionPolicyCreateOrUpdate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/LongTermRetentionPolicyGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/LongTermRetentionPolicyListByDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/ResourceGroupBasedChangeLongTermRetentionBackupAccessTier.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/ResourceGroupBasedLongTermRetentionBackupDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/ResourceGroupBasedLongTermRetentionBackupGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/ResourceGroupBasedLongTermRetentionBackupListByDatabase.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/ResourceGroupBasedLongTermRetentionBackupListByLocation.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/ResourceGroupBasedLongTermRetentionBackupListByServer.json
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, MergeRequested

#25852 Swagger validations for serverless parameters added in SQL API
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/ElasticPools.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/LocationCapabilities.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/ElasticPoolCreateOrUpdateServerlessProperties.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/ElasticPoolUpdateServerlessProperties.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/GetElasticPoolWithServerlessProperties.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, BreakingChangeReviewRequired, MergeRequested

#25553 Add AAD support to job agents version 2023-05-01-preview
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/JobAgents.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/CreateOrUpdateJobAgentWithIdentity.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/examples/UpdateJobAgentWithIdentity.json
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, MergeRequested

#25558 Adding Type and Pool to the Backend Contract
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/definitions.json
Labels: API Management, ARMSignedOff, customer-reported, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, 2023-05-01-preview-APIM, MergeRequested

#25874 Updating enrollments account examples
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/enrollmentAccountByDepartment.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/examples/enrollmentAccountsListByDepartment.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2023-04-01/types.json
Labels: resource-manager

#25926 [Azure Maps] Data V1/V2 retirement banner
  specification/maps/data-plane/Creator/preview/2.0/data.json
  specification/maps/data-plane/Microsoft.Maps/Data/preview/1.0/data.json
Labels: data-plane

#25935 Support AAD Auth in EventGrid data plane client
  specification/eventgrid/Azure.Messaging.EventGrid/main.tsp
  specification/eventgrid/data-plane/Microsoft.EventGrid/preview/2023-06-01-preview/EventGrid.json
Labels: data-plane

#25933 Jsedlak microsoft languages
  specification/maps/data-plane/Search/preview/2021-11-01-preview/geocoding.json
  specification/maps/data-plane/Search/preview/2022-02-01-preview/geocoding.json
  specification/maps/data-plane/Search/preview/2022-09-01-preview/search.json
  specification/maps/data-plane/Search/preview/2022-12-01-preview/search.json
Labels: APIStewardshipBoard-SignedOff, data-plane

#25972 vault tier changes aks
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2023-08-01-preview/dataprotection.json
Labels: customer-reported

#24495 New API version for Microsoft.Datadog RP
  custom-words.txt
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/datadog.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/examples/ApiKeys_GetDefaultKey.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/examples/ApiKeys_List.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/examples/ApiKeys_SetDefaultKey.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/examples/Hosts_List.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/examples/LinkedResources_List.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/examples/MarketplaceAgreements_Create.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/examples/MarketplaceAgreements_List.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/examples/MonitoredResources_List.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/examples/Monitors_Create.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/examples/Monitors_Delete.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/examples/Monitors_Get.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/examples/Monitors_List.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/examples/Monitors_ListByResourceGroup.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/examples/Monitors_Update.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/examples/Operations_List.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/examples/RefreshSetPassword_Get.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/examples/SingleSignOnConfigurations_CreateOrUpdate.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/examples/SingleSignOnConfigurations_Get.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/examples/SingleSignOnConfigurations_List.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/examples/TagRules_CreateOrUpdate.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/examples/TagRules_Get.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2022-08-01/examples/TagRules_List.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/datadog.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/ApiKeys_GetDefaultKey.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/ApiKeys_List.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/ApiKeys_SetDefaultKey.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/CreationSupported_Get.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/CreationSupported_List.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/Hosts_List.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/LinkedResources_List.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/MarketplaceAgreements_Create.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/MarketplaceAgreements_List.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/MonitoredResources_List.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/MonitoredSubscriptions_CreateorUpdate.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/MonitoredSubscriptions_Delete.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/MonitoredSubscriptions_Get.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/MonitoredSubscriptions_List.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/MonitoredSubscriptions_Update.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/Monitors_Create.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/Monitors_Delete.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/Monitors_Get.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/Monitors_List.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/Monitors_ListByResourceGroup.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/Monitors_Update.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/Operations_List.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/RefreshSetPassword_Get.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/SingleSignOnConfigurations_CreateOrUpdate.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/SingleSignOnConfigurations_Get.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/SingleSignOnConfigurations_List.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/TagRules_CreateOrUpdate.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/TagRules_Get.json
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2023-01-01/examples/TagRules_List.json
  specification/datadog/resource-manager/readme.go.md
  specification/datadog/resource-manager/readme.java.md
  specification/datadog/resource-manager/readme.md
  specification/datadog/resource-manager/readme.ruby.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, CI-MissingBaseCommit, IDCDevDiv, MergeRequested

#25361 Updated preview API to add Kernel Config
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-08-01-preview/examples/Compute/createOrUpdate/ComputeInstance.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-08-01-preview/machineLearningServices.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-FixRequiredOnFailure, ARMReview, resource-manager, BreakingChangeReviewRequired, MergeRequested

#25708 Brrusino chaos microsoft.chaos 2023 09 01 preview
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/capabilities.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/capabilityTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/examples/CancelExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/examples/CreateUpdateCapability.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/examples/CreateUpdateExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/examples/CreateUpdateTarget.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/examples/DeleteCapability.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/examples/DeleteExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/examples/DeleteTarget.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/examples/GetCapability.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/examples/GetCapabilityType.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/examples/GetExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/examples/GetExperimentExecutionDetails.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/examples/GetExperimentStatus.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/examples/GetOperationStatus.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/examples/GetTarget.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/examples/GetTargetType.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/examples/ListCapabilities.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/examples/ListCapabilityTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/examples/ListExperimentExecutionsDetails.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/examples/ListExperimentStatuses.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/examples/ListExperimentsInAResourceGroup.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/examples/ListExperimentsInASubscription.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/examples/ListTargetTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/examples/ListTargets.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/examples/StartExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/examples/UpdateExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/experiments.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/operationStatuses.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/operations.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/targetTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/targets.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/types/capabilities.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/types/capabilityTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/types/common.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/types/experiments.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/types/targetTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/types/targets.json
  specification/chaos/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit, MergeRequested

#25832 [Hub Generated] Publish private branch 'InbalZim-storagemover-Microsoft.StorageMover-2023-10-01-RPSaaSMaster'
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/Agents_CreateOrUpdate.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/Agents_Delete.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/Agents_Get.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/Agents_List.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/Agents_Update.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/Endpoints_CreateOrUpdate_AzureStorageBlobContainer.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/Endpoints_CreateOrUpdate_AzureStorageSmbFileShare.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/Endpoints_CreateOrUpdate_NfsMount.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/Endpoints_CreateOrUpdate_SmbMount.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/Endpoints_Delete.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/Endpoints_Get_AzureStorageBlobContainer.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/Endpoints_Get_AzureStorageSmbFileShare.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/Endpoints_Get_NfsMount.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/Endpoints_Get_SmbMount.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/Endpoints_List.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/Endpoints_Update_AzureStorageBlobContainer.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/Endpoints_Update_AzureStorageSmbFileShare.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/Endpoints_Update_NfsMount.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/Endpoints_Update_SmbMount.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/JobDefinitions_CreateOrUpdate.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/JobDefinitions_Delete.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/JobDefinitions_Get.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/JobDefinitions_List.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/JobDefinitions_StartJob.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/JobDefinitions_StopJob.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/JobDefinitions_Update.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/JobRuns_Get.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/JobRuns_List.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/Operations_List.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/Projects_CreateOrUpdate.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/Projects_Delete.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/Projects_Get.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/Projects_List.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/Projects_Update.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/StorageMovers_CreateOrUpdate.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/StorageMovers_Delete.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/StorageMovers_Get.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/StorageMovers_List.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/StorageMovers_ListBySubscription.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/examples/StorageMovers_Update.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2023-10-01/storagemover.json
  specification/storagemover/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, new-api-version, MergeRequested

#25871 update firewall rule name regex
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Firewall/preview/2023-06-01-preview/FirewallRules.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested

#25981 Added STG92 SV 2024-02-04
  specification/storage/data-plane/Microsoft.FileStorage/preview/2024-02-04/file.json
  specification/storage/data-plane/Microsoft.FileStorage/readme.md
Labels: data-plane

#26001 remove `- repo: azure-sdk-for-go-track2` config
  specification/addons/resource-manager/readme.md
  specification/appplatform/resource-manager/readme.md
  specification/commerce/resource-manager/readme.md
  specification/communication/resource-manager/readme.md
  specification/compute/resource-manager/readme.md
  specification/customer-insights/resource-manager/readme.md
  specification/datamigration/resource-manager/readme.md
  specification/dnc/resource-manager/readme.md
  specification/engagementfabric/resource-manager/readme.md
  specification/fluidrelay/resource-manager/readme.md
  specification/liftrqumulo/resource-manager/readme.md
  specification/managednetwork/resource-manager/readme.md
  specification/managednetworkfabric/resource-manager/readme.md
  specification/migrate/resource-manager/readme.md
  specification/nginx/resource-manager/readme.md
  specification/powerplatform/resource-manager/readme.md
  specification/redhatopenshift/resource-manager/readme.md
  specification/resourceconnector/resource-manager/readme.md
  specification/securitydevops/resource-manager/readme.md
  specification/securityinsights/resource-manager/readme.md
  specification/storSimple1200Series/resource-manager/readme.md
  specification/storsimple8000series/resource-manager/readme.md
  specification/syntex/resource-manager/readme.md
  specification/timeseriesinsights/resource-manager/readme.md
  specification/trafficmanager/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, ShiftLeftViolation, ARMReview, resource-manager, ReadyForApiTest, RPaaS

#25999 Update readme.python.md
  specification/compute/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#26010 Moved Concurrent Append to latest swagger version
  specification/storage/data-plane/Azure.Storage.Files.DataLake/preview/2023-05-03/DataLakeStorage.json
Labels: data-plane, BreakingChangeReviewRequired

#25993 Thtodoro/serverless endpoints 2023 08 01 preview fix
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-08-01-preview/examples/CapacityReservationGroup/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-08-01-preview/examples/CapacityReservationGroup/update.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-08-01-preview/mfe.json
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, MergeRequested
