Repository Azure/azure-rest-api-specs, pull requests merged in 2024-10, with the labels that each got.

#30675 [Health Insights] New preview version 2024-08-01-preview
  specification/ai/HealthInsights/HealthInsights.OncoPhenotype/model.oncophenotype.tsp
  specification/ai/HealthInsights/HealthInsights.OncoPhenotype/route.oncophenotype.tsp
  specification/ai/HealthInsights/HealthInsights.OpenAPI/examples/2024-08-01-preview/SuccessfulRadiologyInsightsRequest.json
  specification/ai/HealthInsights/HealthInsights.OpenAPI/examples/2024-08-01-preview/SuccessfulRadiologyInsightsResponse.json
  specification/ai/HealthInsights/HealthInsights.OpenAPI/examples/2024-08-01-preview/SuccessfulTrialMatcherRequest.json
  specification/ai/HealthInsights/HealthInsights.OpenAPI/examples/2024-08-01-preview/SuccessfulTrialMatcherResponse.json
  specification/ai/HealthInsights/HealthInsights.OpenAPI/main.tsp
  specification/ai/HealthInsights/HealthInsights.OpenAPI/service.tsp
  specification/ai/HealthInsights/HealthInsights.PatientTimeline/model.patienttimeline.tsp
  specification/ai/HealthInsights/HealthInsights.PatientTimeline/route.patienttimeline.tsp
  specification/ai/HealthInsights/HealthInsights.TrialMatcher/model.trialmatcher.tsp
  specification/ai/HealthInsights/HealthInsights.TrialMatcher/route.trialmatcher.tsp
  specification/ai/data-plane/HealthInsights/preview/2024-08-01-preview/examples/SuccessfulRadiologyInsightsRequest.json
  specification/ai/data-plane/HealthInsights/preview/2024-08-01-preview/examples/SuccessfulRadiologyInsightsResponse.json
  specification/ai/data-plane/HealthInsights/preview/2024-08-01-preview/examples/SuccessfulTrialMatcherRequest.json
  specification/ai/data-plane/HealthInsights/preview/2024-08-01-preview/examples/SuccessfulTrialMatcherResponse.json
  specification/ai/data-plane/HealthInsights/preview/2024-08-01-preview/openapi.json
  specification/ai/data-plane/HealthInsights/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, new-api-version, TypeSpec, PublishToCustomers

#30379 Added support for NGroups operations
  cSpell.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-09-01-preview/containerInstance.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-09-01-preview/examples/CachedImagesList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-09-01-preview/examples/CapabilitiesList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-09-01-preview/examples/ContainerAttach.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-09-01-preview/examples/ContainerExec.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-09-01-preview/examples/ContainerGroupCreateConfidential.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-09-01-preview/examples/ContainerGroupEncryptionProperties.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-09-01-preview/examples/ContainerGroupExtensions.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-09-01-preview/examples/ContainerGroupUsage.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-09-01-preview/examples/ContainerGroupsCreateOrUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-09-01-preview/examples/ContainerGroupsCreatePriority.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-09-01-preview/examples/ContainerGroupsDelete.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-09-01-preview/examples/ContainerGroupsGetPriority.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-09-01-preview/examples/ContainerGroupsGet_Failed.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-09-01-preview/examples/ContainerGroupsGet_Succeeded.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-09-01-preview/examples/ContainerGroupsList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-09-01-preview/examples/ContainerGroupsListByResourceGroup.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-09-01-preview/examples/ContainerGroupsRestart.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-09-01-preview/examples/ContainerGroupsStart.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-09-01-preview/examples/ContainerGroupsStop.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-09-01-preview/examples/ContainerGroupsUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-09-01-preview/examples/ContainerListLogs.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-09-01-preview/examples/OperationsList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-09-01-preview/examples/SubnetServiceAssociationLinkDelete.json
  specification/containerinstance/resource-manager/readme.md
Labels: ARMSignedOff, Container Instances, ARMReview, resource-manager, new-api-version, PublishToCustomers

#30079 Changing the version of DistributedAvailabilityGroups API for Azure CLI development
  specification/sql/resource-manager/readme.md
Labels: SQL, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#30290 Updating the API specification for confidential ledger for custom endpoints an…
  .npmrc
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/common.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/confidentialledger.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/examples/identity/GetLedgerIdentity.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/examples/ledger/CreateLedgerEntry.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/examples/ledger/CreateOrUpdateLedgerUsers.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/examples/ledger/CreateOrUpdateUser.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/examples/ledger/CreateUserDefinedEndpoint.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/examples/ledger/DeleteUser.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/examples/ledger/DeleteUserDefinedRole.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/examples/ledger/GetConstitution.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/examples/ledger/GetCurrentLedgerEntry.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/examples/ledger/GetEnclaveQuotes.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/examples/ledger/GetLedgerEntry.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/examples/ledger/GetLedgerUsers.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/examples/ledger/GetReceipt.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/examples/ledger/GetRuntimeOptions.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/examples/ledger/GetTransactionStatus.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/examples/ledger/GetUser.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/examples/ledger/GetUserDefinedEndpoint.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/examples/ledger/GetUserDefinedEndpointsModule.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/examples/ledger/GetUserDefinedRole.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/examples/ledger/ListCollections.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/examples/ledger/ListConsortiumMembers.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/examples/ledger/ListLedgerEntries.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/examples/ledger/ListLedgerUsers.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/examples/ledger/ListUsers.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/examples/ledger/PatchRuntimeOptions.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/examples/ledger/PatchUserDefinedRole.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/examples/ledger/PutUserDefinedRole.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-08-22-preview/identityservice.json
  specification/confidentialledger/data-plane/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, new-api-version, PublishToCustomers

#30401 [SCVMM] Make the request body optional for VirtualMachineInstances/Stop
  specification/scvmm/ScVmm.Management/VirtualMachineInstance.tsp
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/scvmm.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2024-06-01/scvmm.json
  specification/scvmm/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, TypeSpec, AzCoreIDC, BreakingChange-Approved-Benign, BreakingChange-Approved-BugFix, BreakingChange-Go-Sdk-Approved, BreakingChange-JavaScript-Sdk-Suppression-Approved, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk-Suppression, PublishToCustomers

#30831 Change 'The asynchronous responses are stored for 14 days.' to 24 days.
  specification/maps/data-plane/Route/preview/1.0/route.json
  specification/maps/suppressions.yaml
Labels: Maps, data-plane, PublishToCustomers

#30848 Remove out of date codeowners
  .github/CODEOWNERS
Labels: Central-EngSys

#30798 2024-10-01-preview - Update finetuning job related contracts in oct preview api.
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/Job/FineTuningJob/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/Job/FineTuningJob/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/Job/FineTuningJob/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager

#30836 Add new api version and schema changes for resource manager in new API version 2024-09-01-preview
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/EligibleChildResources.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/RoleAssignmentSchedule.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/RoleAssignmentScheduleInstance.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/RoleAssignmentScheduleRequest.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/RoleEligibilitySchedule.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/RoleEligibilityScheduleInstance.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/RoleEligibilityScheduleRequest.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/RoleManagementPolicy.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/RoleManagementPolicyAssignment.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/common-types.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/CancelRoleAssignmentScheduleRequestByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/CancelRoleEligibilityScheduleRequestByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/DeleteRoleManagementPolicy.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/DeleteRoleManagementPolicyAssignment.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/GetEligibleChildResourcesByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/GetRoleAssignmentScheduleByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/GetRoleAssignmentScheduleInstanceByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/GetRoleAssignmentScheduleInstancesByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/GetRoleAssignmentScheduleRequestByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/GetRoleAssignmentScheduleRequestByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/GetRoleAssignmentSchedulesByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/GetRoleEligibilityScheduleByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/GetRoleEligibilityScheduleInstanceByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/GetRoleEligibilityScheduleInstancesByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/GetRoleEligibilityScheduleRequestByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/GetRoleEligibilityScheduleRequestByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/GetRoleEligibilitySchedulesByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/GetRoleManagementPolicyAssignmentByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/GetRoleManagementPolicyAssignmentByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/GetRoleManagementPolicyByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/GetRoleManagementPolicyByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/PatchPartialRoleManagementPolicy.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/PatchRoleManagementPolicy.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/PatchRoleManagementPolicyToEnablePIMOnlyMode.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/PutRoleAssignmentScheduleRequest.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/PutRoleEligibilityScheduleRequest.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/PutRoleManagementPolicyAssignment.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/ValidateRoleAssignmentScheduleRequestByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-09-01-preview/examples/ValidateRoleEligibilityScheduleRequestByName.json
  specification/authorization/resource-manager/readme.md
Labels: Authorization, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, PublishToCustomers

#30806 Onboard Liftr Neon Postgres service
  specification/liftrneon/Neon.Postgres.Management/LiftrBase.Data/main.tsp
  specification/liftrneon/Neon.Postgres.Management/LiftrBase/main.tsp
  specification/liftrneon/Neon.Postgres.Management/README.md
  specification/liftrneon/Neon.Postgres.Management/examples/2024-08-01-preview/Operations_List_MaximumSet_Gen.json
  specification/liftrneon/Neon.Postgres.Management/examples/2024-08-01-preview/Organizations_CreateOrUpdate_MaximumSet_Gen.json
  specification/liftrneon/Neon.Postgres.Management/examples/2024-08-01-preview/Organizations_Delete_MaximumSet_Gen.json
  specification/liftrneon/Neon.Postgres.Management/examples/2024-08-01-preview/Organizations_Get_MaximumSet_Gen.json
  specification/liftrneon/Neon.Postgres.Management/examples/2024-08-01-preview/Organizations_ListByResourceGroup_MaximumSet_Gen.json
  specification/liftrneon/Neon.Postgres.Management/examples/2024-08-01-preview/Organizations_ListBySubscription_MaximumSet_Gen.json
  specification/liftrneon/Neon.Postgres.Management/examples/2024-08-01-preview/Organizations_Update_MaximumSet_Gen.json
  specification/liftrneon/Neon.Postgres.Management/main.tsp
  specification/liftrneon/Neon.Postgres.Management/tspconfig.yaml
  specification/liftrneon/resource-manager/Neon.Postgres/preview/2024-08-01-preview/examples/Operations_List_MaximumSet_Gen.json
  specification/liftrneon/resource-manager/Neon.Postgres/preview/2024-08-01-preview/examples/Organizations_CreateOrUpdate_MaximumSet_Gen.json
  specification/liftrneon/resource-manager/Neon.Postgres/preview/2024-08-01-preview/examples/Organizations_Delete_MaximumSet_Gen.json
  specification/liftrneon/resource-manager/Neon.Postgres/preview/2024-08-01-preview/examples/Organizations_Get_MaximumSet_Gen.json
  specification/liftrneon/resource-manager/Neon.Postgres/preview/2024-08-01-preview/examples/Organizations_ListByResourceGroup_MaximumSet_Gen.json
  specification/liftrneon/resource-manager/Neon.Postgres/preview/2024-08-01-preview/examples/Organizations_ListBySubscription_MaximumSet_Gen.json
  specification/liftrneon/resource-manager/Neon.Postgres/preview/2024-08-01-preview/examples/Organizations_Update_MaximumSet_Gen.json
  specification/liftrneon/resource-manager/Neon.Postgres/preview/2024-08-01-preview/neon.json
  specification/liftrneon/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, new-rp-namespace, TypeSpec, IDCDevDiv, PublishToCustomers

#30731 Swagger changes for expressroute site failover simulation
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/VirtualNetworkGatewayGetFailoverAllTestsDetails.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/VirtualNetworkGatewayGetFailoverSingleTestDetails.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/VirtualNetworkGatewayStartSiteFailoverSimulation.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/VirtualNetworkGatewayStopSiteFailoverSimulation.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/virtualNetworkGateway.json
  specification/network/resource-manager/readme.md
Labels: Network, ARMSignedOff, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired, AzCoreIDC

#30856 Changed 24 days to 24 hours.
  specification/maps/data-plane/Route/preview/1.0/route.json
Labels: Maps, data-plane, PublishToCustomers

#30849 fix wrong para position for the newly added params for AOAI
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-09-01-preview/inference.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-09-01-preview/inference.yaml
Labels: Cognitive Services, data-plane, BreakingChange-Approved-Benign, PublishToCustomers

#30857 Updating Evaluation Typespec and Renaming Client using typespec
  specification/ai/Azure.AI.Client/client.tsp
  specification/ai/Azure.AI.Client/evaluations/model.tsp
  specification/ai/Azure.AI.Client/evaluations/routes.tsp
  specification/ai/data-plane/Azure.AI.Client/preview/2024-07-01-preview/azure-ai-client.json
Labels: data-plane, TypeSpec

#30666 [AML] Add capabilityHosts support in MFE
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/CapabilityHost/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/CapabilityHost/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/CapabilityHost/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/mfe.json
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired

#30485 Release search azure.search preview: 2024-11-01-preview
  cSpell.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchIndexAutocompleteDocumentsGet.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchIndexAutocompleteDocumentsPost.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchIndexCountDocuments.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchIndexGetDocument.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchIndexIndexDocuments.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchIndexSearchDocumentsGet.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchIndexSearchDocumentsPost.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchIndexSearchDocumentsSemanticGet.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchIndexSearchDocumentsSemanticPost.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchIndexSuggestDocumentsGet.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchIndexSuggestDocumentsPost.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceCreateAlias.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceCreateDataSource.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceCreateIndex.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceCreateIndexer.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceCreateOrUpdateAlias.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceCreateOrUpdateDataSource.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceCreateOrUpdateIndex.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceCreateOrUpdateIndexer.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceCreateOrUpdateSkillset.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceCreateOrUpdateSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceCreateSkillset.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceCreateSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceDeleteAlias.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceDeleteDataSource.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceDeleteIndex.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceDeleteIndexer.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceDeleteSkillset.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceDeleteSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceGetAlias.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceGetDataSource.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceGetIndex.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceGetIndexStatistics.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceGetIndexer.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceGetIndexerStatus.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceGetServiceStatistics.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceGetSkillset.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceGetSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceIndexAnalyze.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceListAliases.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceListDataSources.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceListIndexers.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceListIndexes.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceListSkillsets.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceListSynonymMaps.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceResetDocs.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceResetIndexer.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceResetSkills.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/examples/SearchServiceRunIndexer.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/searchindex.json
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/searchservice.json
  specification/search/data-plane/Azure.Search/readme.md
Labels: Search, APIStewardshipBoard-SignedOff, data-plane, BreakingChangeReviewRequired, new-api-version, BreakingChange-Approved-Previously, PublishToCustomers

#30860 Added: Note that sunrise and sunset times not returned when solar day is observed in the requested region
  specification/maps/data-plane/Timezone/preview/1.0/timezone.json
  specification/maps/suppressions.yaml
Labels: Maps, data-plane, PublishToCustomers

#30854 Microsoft.ContainerInstance: Updated the default tag in readme.md
  specification/containerinstance/resource-manager/readme.md
Labels: ARMSignedOff, Container Instances, ARMReview, resource-manager, PublishToCustomers

#30632 AOAI Fix Custom Blocklist Properties to Optional
  specification/cognitiveservices/OpenAI.Inference/models/completions/azure_content_filtering.tsp
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-04-01-preview/inference.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-04-01-preview/inference.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-05-01-preview/inference.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-05-01-preview/inference.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-07-01-preview/inference.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-07-01-preview/inference.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-08-01-preview/inference.json
Labels: Cognitive Services, data-plane, TypeSpec

#30878 Jhakulin/azure ai client agents
  specification/ai/Azure.AI.Client/agents/client.tsp
  specification/ai/Azure.AI.Client/agents/common/models.tsp
  specification/ai/Azure.AI.Client/agents/files/models.tsp
  specification/ai/Azure.AI.Client/agents/files/routes.tsp
  specification/ai/Azure.AI.Client/agents/messages/models.tsp
  specification/ai/Azure.AI.Client/agents/messages/routes.tsp
  specification/ai/Azure.AI.Client/agents/models.tsp
  specification/ai/Azure.AI.Client/agents/routes.tsp
  specification/ai/Azure.AI.Client/agents/run_steps/models.tsp
  specification/ai/Azure.AI.Client/agents/run_steps/routes.tsp
  specification/ai/Azure.AI.Client/agents/runs/models.tsp
  specification/ai/Azure.AI.Client/agents/runs/routes.tsp
  specification/ai/Azure.AI.Client/agents/streaming/events.tsp
  specification/ai/Azure.AI.Client/agents/threads/models.tsp
  specification/ai/Azure.AI.Client/agents/threads/routes.tsp
  specification/ai/Azure.AI.Client/agents/tools/models.tsp
  specification/ai/Azure.AI.Client/agents/tools/tool_resources.tsp
  specification/ai/Azure.AI.Client/agents/vector_stores/common/main.tsp
  specification/ai/Azure.AI.Client/agents/vector_stores/file_batches/models.tsp
  specification/ai/Azure.AI.Client/agents/vector_stores/file_batches/routes.tsp
  specification/ai/Azure.AI.Client/agents/vector_stores/files/models.tsp
  specification/ai/Azure.AI.Client/agents/vector_stores/files/routes.tsp
  specification/ai/Azure.AI.Client/agents/vector_stores/main.tsp
  specification/ai/Azure.AI.Client/agents/vector_stores/models.tsp
  specification/ai/Azure.AI.Client/agents/vector_stores/routes.tsp
  specification/ai/Azure.AI.Client/main.tsp
  specification/ai/Azure.AI.Client/tspconfig.yaml
  specification/ai/data-plane/Azure.AI.Client/preview/2024-07-01-preview/azure-ai-client.json
Labels: data-plane, TypeSpec

#30600 [EG] Lint Diff
  specification/eventgrid/data-plane/Microsoft.Media/stable/2018-01-01/MediaServices.json
  specification/eventgrid/data-plane/readme.md
Labels: Event Grid, data-plane, BreakingChangeReviewRequired

#30890 Update model.tsp
  specification/ai/Azure.AI.Client/evaluations/model.tsp
Labels: TypeSpec

#30773 adding onBehalfOfCallee to incoming call event
  cSpell.json
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Communication/AzureCommunicationServices.tsp
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/AzureCommunicationServices.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/incoming_call.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/incoming_call.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/GeneratedSystemEvents.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2024-01-01/GeneratedSystemEvents.json
Labels: Event Grid, data-plane, TypeSpec, PublishToCustomers

#30858 Update client.tsp
  specification/ai/HealthInsights/HealthInsights.RadiologyInsights/client.tsp
  specification/ai/HealthInsights/HealthInsights.RadiologyInsights/tspconfig.yaml
Labels: TypeSpec

#30844 {AKS}: remove `default` from ContainerServiceNetworkProfile.networkPlugin
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-09-01/managedClusters.json
Labels: Container Service, resource-manager

#30900 [PostgreSQL flexible servers] Update readme.python.md
  specification/postgresql/resource-manager/readme.python.md
Labels: ARMSignedOff, PostgreSQL, ARMReview, resource-manager, ReadyForApiTest, BreakingChange-Go-Sdk-Approved, BreakingChange-Go-Sdk, PublishToCustomers

#30823 [Microsoft.HybridConnectivity] Update `x-ms-mutalibility` to include read visibility for create only properties, operationId for one API and update 200 response model for LRO ASync operations for CLI commands
  specification/hybridconnectivity/PublicCloud.Management/examples/2024-12-01/Inventory_ListBySolutionConfiguration.json
  specification/hybridconnectivity/PublicCloud.Management/examples/2024-12-01/PublicCloudConnectors_CreateOrUpdate.json
  specification/hybridconnectivity/PublicCloud.Management/examples/2024-12-01/PublicCloudConnectors_Get.json
  specification/hybridconnectivity/PublicCloud.Management/examples/2024-12-01/PublicCloudConnectors_ListByResourceGroup.json
  specification/hybridconnectivity/PublicCloud.Management/examples/2024-12-01/PublicCloudConnectors_ListBySubscription.json
  specification/hybridconnectivity/PublicCloud.Management/examples/2024-12-01/PublicCloudConnectors_TestPermissions.json
  specification/hybridconnectivity/PublicCloud.Management/examples/2024-12-01/PublicCloudConnectors_Update.json
  specification/hybridconnectivity/PublicCloud.Management/examples/2024-12-01/SolutionConfigurations_SyncNow.json
  specification/hybridconnectivity/PublicCloud.Management/main.tsp
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/examples/Inventory_ListBySolutionConfiguration.json
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/examples/PublicCloudConnectors_CreateOrUpdate.json
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/examples/PublicCloudConnectors_Get.json
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/examples/PublicCloudConnectors_ListByResourceGroup.json
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/examples/PublicCloudConnectors_ListBySubscription.json
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/examples/PublicCloudConnectors_TestPermissions.json
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/examples/PublicCloudConnectors_Update.json
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/examples/SolutionConfigurations_SyncNow.json
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/publicCloud.json
  specification/hybridconnectivity/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-Benign, BreakingChange-Python-Sdk-Suppression-Approved, BreakingChange-Python-Sdk-Suppression, PublishToCustomers

#30665 [AML] Introduce changes for new 2024-10-01 version
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-10-01/examples/WorkspaceConnection/update.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-10-01/workspaceRP.json
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk

#30845 {AKS}: remove `default` from networkPlugin
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-09-02-preview/managedClusters.json
Labels: Container Service, resource-manager

#30791 Adding new API version 2024-10-01-preview for Microsoft.Elastic
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/elastic.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/AllTrafficFilters_list.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/AssociateTrafficFilter_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/AssociatedFiltersForDeployment_list.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/BillingInfo_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/ConnectedPartnerResources_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/DeploymentInfo_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/DetachAndDeleteTrafficFilter_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/DetachTrafficFilters_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/ElasticVersions_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/ExternalUserInfo.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/IPTrafficFilter_Create.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/Monitor_Upgrade.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/MonitoredResources_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/MonitoredSubscriptions_CreateorUpdate.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/MonitoredSubscriptions_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/MonitoredSubscriptions_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/MonitoredSubscriptions_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/MonitoredSubscriptions_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/Monitors_Create.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/Monitors_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/Monitors_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/Monitors_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/Monitors_ListByResourceGroup.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/Monitors_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/OpenAI_CreateOrUpdate.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/OpenAI_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/OpenAI_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/OpenAI_GetStatus.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/OpenAI_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/Operations_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/Organizations_GetApiKey.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/Organizations_GetElasticToAzureSubscriptionMapping.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/Organizations_Resubscribe.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/PrivateLinkTrafficFilters_Create.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/TagRules_CreateOrUpdate.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/TagRules_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/TagRules_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/TagRules_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/TrafficFilters_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/UpgradableVersions_Details.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/VMCollection_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/VMHost_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-10-01-preview/examples/VMIngestion_Details.json
  specification/elastic/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, new-api-version, IDCDevDiv, BreakingChange-Approved-UserImpact, PublishToCustomers

#30908 Updating Evaluation Schedule Typespec using typespec
  specification/ai/Azure.AI.Client/evaluations/model.tsp
  specification/ai/Azure.AI.Client/evaluations/routes.tsp
  specification/ai/data-plane/Azure.AI.Client/preview/2024-07-01-preview/azure-ai-client.json
Labels: data-plane, TypeSpec

#30892 [AOAI] Update optional details property
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-08-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-08-01-preview/inference.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-09-01-preview/inference.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-09-01-preview/inference.yaml
Labels: Cognitive Services, data-plane, TypeSpec, VersioningReviewRequired

#30922 New File swagger version
  specification/storage/data-plane/Microsoft.FileStorage/readme.md
  specification/storage/data-plane/Microsoft.FileStorage/stable/2025-05-05/file.json
Labels: Storage, data-plane

#30740 Update readme.python.md and readme.typescript.md for sdk release
  specification/resources/resource-manager/readme.python.md
  specification/resources/resource-manager/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-JavaScript-Sdk, PublishToCustomers

#30918 Add final state model to LRO operation
  specification/terraform/Microsoft.AzureTerraform.Management/routes.tsp
Labels: ARMSignedOff, TypeSpec

#30906 [App Configuration] Update readme.python.md
  specification/appconfiguration/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#30927 [Workloads SapVirtualInstances] Update tspconfig for Python SDK
  specification/workloads/Workloads.SAPVirtualInstance.Management/client.tsp
  specification/workloads/Workloads.SAPVirtualInstance.Management/tspconfig.yaml
Labels: TypeSpec, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk

#30924 Add client initialization parameters
  specification/ai/Face/client.tsp
Labels: TypeSpec, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk

#30559 Salesforce V2 Read property support pageSize
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: ARMSignedOff, ARMReview, resource-manager, data-plane, ReadyForApiTest, Versioning-Approved-Benign, VersioningReviewRequired, PublishToCustomers

#30925 mgmt, java, servicelinker, readme config
  specification/servicelinker/resource-manager/readme.java.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, PublishToCustomers

#30648 AutonomousDevelopmentPlatform Decommissioning: Remove API Specs #19649
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2020-07-01-preview/adp.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2020-07-01-preview/examples/AdpAccountDelete.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2020-07-01-preview/examples/AdpAccountGet.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2020-07-01-preview/examples/AdpAccountPatch.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2020-07-01-preview/examples/AdpAccountPut.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2020-07-01-preview/examples/AdpAccountsList.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2020-07-01-preview/examples/AdpAccountsListByResourceGroup.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2020-07-01-preview/examples/AdpDataPoolDelete.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2020-07-01-preview/examples/AdpDataPoolGet.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2020-07-01-preview/examples/AdpDataPoolPatch.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2020-07-01-preview/examples/AdpDataPoolPut.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2020-07-01-preview/examples/AdpDataPoolsList.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2020-07-01-preview/examples/AdpOperationsList.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2021-02-01-preview/adp.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2021-02-01-preview/examples/AdpAccountCheckNameAvailability.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2021-02-01-preview/examples/AdpAccountDelete.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2021-02-01-preview/examples/AdpAccountGet.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2021-02-01-preview/examples/AdpAccountPatch.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2021-02-01-preview/examples/AdpAccountPut.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2021-02-01-preview/examples/AdpAccountsList.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2021-02-01-preview/examples/AdpAccountsListByResourceGroup.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2021-02-01-preview/examples/AdpDataPoolDelete.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2021-02-01-preview/examples/AdpDataPoolGet.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2021-02-01-preview/examples/AdpDataPoolPatch.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2021-02-01-preview/examples/AdpDataPoolPut.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2021-02-01-preview/examples/AdpDataPoolsList.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2021-02-01-preview/examples/AdpOperationsList.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2021-11-01-preview/adp.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2021-11-01-preview/examples/AdpAccountCheckNameAvailability.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2021-11-01-preview/examples/AdpAccountDelete.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2021-11-01-preview/examples/AdpAccountGet.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2021-11-01-preview/examples/AdpAccountPatch.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2021-11-01-preview/examples/AdpAccountPut.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2021-11-01-preview/examples/AdpAccountsList.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2021-11-01-preview/examples/AdpAccountsListByResourceGroup.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2021-11-01-preview/examples/AdpDataPoolDelete.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2021-11-01-preview/examples/AdpDataPoolGet.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2021-11-01-preview/examples/AdpDataPoolPatch.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2021-11-01-preview/examples/AdpDataPoolPut.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2021-11-01-preview/examples/AdpDataPoolsList.json
  specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2021-11-01-preview/examples/AdpOperationsList.json
  specification/adp/resource-manager/readme.az.md
  specification/adp/resource-manager/readme.cli.md
  specification/adp/resource-manager/readme.csharp.md
  specification/adp/resource-manager/readme.go.md
  specification/adp/resource-manager/readme.md
  specification/adp/resource-manager/readme.python.md
  specification/adp/resource-manager/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager, Versioning-Approved-Benign, VersioningReviewRequired, PublishToCustomers

#30593 Remove read visibility from oracle spec models
  specification/oracle/Oracle.Database.Management/examples/2023-09-01-preview/dbNodes_action.json
  specification/oracle/Oracle.Database.Management/examples/2023-09-01/dbNodes_action.json
  specification/oracle/Oracle.Database.Management/examples/2024-06-01-preview/dbNodes_action.json
  specification/oracle/Oracle.Database.Management/examples/2024-06-01/dbNodes_action.json
  specification/oracle/Oracle.Database.Management/tspconfig.yaml
  specification/oracle/models/autonomousdatabase/autonomousDatabaseCharacterSet.tsp
  specification/oracle/models/autonomousdatabase/autonomousDatabaseNationalCharacterSet.tsp
  specification/oracle/models/autonomousdatabase/autonomousDatabaseVersion.tsp
  specification/oracle/models/exadata/dbNodes.tsp
  specification/oracle/models/exadata/dbSystemShapes.tsp
  specification/oracle/models/exadata/dnsPrivateViews.tsp
  specification/oracle/models/exadata/dnsPrivateZones.tsp
  specification/oracle/models/exadata/giVersions.tsp
  specification/oracle/models/exadata/systemVersions.tsp
  specification/oracle/resource-manager/Oracle.Database/preview/2023-09-01-preview/examples/dbNodes_action.json
  specification/oracle/resource-manager/Oracle.Database/preview/2023-09-01-preview/openapi.json
  specification/oracle/resource-manager/Oracle.Database/preview/2024-06-01-preview/examples/dbNodes_action.json
  specification/oracle/resource-manager/Oracle.Database/preview/2024-06-01-preview/openapi.json
  specification/oracle/resource-manager/Oracle.Database/stable/2023-09-01/examples/dbNodes_action.json
  specification/oracle/resource-manager/Oracle.Database/stable/2023-09-01/openapi.json
  specification/oracle/resource-manager/Oracle.Database/stable/2024-06-01/examples/dbNodes_action.json
  specification/oracle/resource-manager/Oracle.Database/stable/2024-06-01/openapi.json
  specification/oracle/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-Previously, BreakingChange-JavaScript-Sdk-Suppression-Approved, BreakingChange-JavaScript-Sdk-Suppression, PublishToCustomers

#30920 Fixing a mismatch of Enum names
  specification/batch/Azure.Batch/models.tsp
  specification/batch/data-plane/Azure.Batch/preview/2024-07-01.20.0/BatchService.json
Labels: Batch, data-plane, TypeSpec, Versioning-Approved-BugFix, VersioningReviewRequired, PublishToCustomers

#30835 Microsoft.HealthDataAIServices stable api release 2024-09-20
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-09-20/DeidServices_Create_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-09-20/DeidServices_Delete_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-09-20/DeidServices_Get_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-09-20/DeidServices_ListByResourceGroup_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-09-20/DeidServices_ListBySubscription_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-09-20/DeidServices_Update_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-09-20/Operations_List_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-09-20/Operations_List_MinimumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-09-20/PrivateEndpointConnections_Create_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-09-20/PrivateEndpointConnections_Delete_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-09-20/PrivateEndpointConnections_Get_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-09-20/PrivateEndpointConnections_ListByDeidService_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-09-20/PrivateLinks_ListByDeidService_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/main.tsp
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/stable/2024-09-20/examples/DeidServices_Create_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/stable/2024-09-20/examples/DeidServices_Delete_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/stable/2024-09-20/examples/DeidServices_Get_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/stable/2024-09-20/examples/DeidServices_ListByResourceGroup_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/stable/2024-09-20/examples/DeidServices_ListBySubscription_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/stable/2024-09-20/examples/DeidServices_Update_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/stable/2024-09-20/examples/Operations_List_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/stable/2024-09-20/examples/Operations_List_MinimumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/stable/2024-09-20/examples/PrivateEndpointConnections_Create_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/stable/2024-09-20/examples/PrivateEndpointConnections_Delete_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/stable/2024-09-20/examples/PrivateEndpointConnections_Get_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/stable/2024-09-20/examples/PrivateEndpointConnections_ListByDeidService_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/stable/2024-09-20/examples/PrivateLinks_ListByDeidService_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/stable/2024-09-20/openapi.json
  specification/healthdataaiservices/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, TypeSpec, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk, PublishToCustomers

#30416 document translation client.tsp updates for python
  specification/translation/Azure.AI.DocumentTranslation/client.tsp
  specification/translation/Azure.AI.DocumentTranslation/routes.tsp
  specification/translation/Azure.AI.DocumentTranslation/tspconfig.yaml
Labels: TypeSpec

#30871 Fixing virtualRouters and ipGroups 202 response examples
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/IpGroupsDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/VirtualRouterDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/VirtualRouterPeeringDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/IpGroupsDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/VirtualRouterDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/VirtualRouterPeeringDelete.json
Labels: Network, ARMSignedOff, ARMReview, resource-manager

#30923 Easyauth blob token store support msi to auth
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/AuthConfigs.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/AuthConfigs_BlobStorageTokenStore_ClientId_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/AuthConfigs_BlobStorageTokenStore_CreateOrUpdate.json
Labels: ARMSignedOff, ARMReview, resource-manager

#30945 java, mgmt, iotoperstions, tspconfig
  specification/iotoperations/IoTOperations.Management/client.tsp
  specification/iotoperations/IoTOperations.Management/tspconfig.yaml
Labels: TypeSpec

#30940 Turn off generated samples and test.
  specification/ai/Azure.AI.Client/endpoints/client.tsp
  specification/ai/Azure.AI.Client/tspconfig.yaml
Labels: TypeSpec

#30912 Add the MemorySizeInGb parameter to the swagger documentation for 202…
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/LocationCapabilities.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/ManagedInstances.json
Labels: SQL, ARMSignedOff, ARMReview, resource-manager

#30873 Azure fleet 2024-11-01 API updates.
  specification/azurefleet/AzureFleet.Management/examples/2024-11-01/Fleets_CreateOrUpdate.json
  specification/azurefleet/AzureFleet.Management/examples/2024-11-01/Fleets_CreateOrUpdate_MinimumSet.json
  specification/azurefleet/AzureFleet.Management/examples/2024-11-01/Fleets_Update.json
  specification/azurefleet/AzureFleet.Management/fleet.tsp
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/stable/2024-11-01/azurefleet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/stable/2024-11-01/examples/Fleets_CreateOrUpdate.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/stable/2024-11-01/examples/Fleets_CreateOrUpdate_MinimumSet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/stable/2024-11-01/examples/Fleets_Update.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-BugFix, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk, PublishToCustomers

#29512 Add backend managed identity resource property
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-09-01-preview/apimbackends.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-09-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-09-01-preview/examples/ApiManagementCreateBackendProxyBackendManagedIdentity.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-09-01-preview/examples/ApiManagementUpdateBackendProxyBackendManagedIdentity.json
  specification/apimanagement/resource-manager/sdk-suppressions.yaml
Labels: API Management, ARMSignedOff, ARMReview, resource-manager, BreakingChange-Python-Sdk-Suppression-Approved, BreakingChange-Python-Sdk-Suppression, 2024-06-01-preview

#30959 Fixed links in Weather service documentation.
  specification/maps/data-plane/Weather/stable/1.1/weather.json
Labels: Maps, data-plane, PublishToCustomers

#30756 noahdavis Microsoft.AzureDataTransfer add new API spec 2024-09-27 for FMV
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/azuredatatransfer.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/approveOrRejectConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/createOrUpdateConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/createOrUpdateFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/createOrUpdatePipeline.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/deleteConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/deleteFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/deletePipeline.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/enableOrDisableFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/generateFlowPassphrase.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/getConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/getFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/getFlowDestinationEndpointPorts.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/getFlowDestinationEndpoints.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/getFlowSourceAddresses.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/getPipeline.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/getStreamConnectionString.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/linkConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/linkFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/listConnectionsByResourceGroup.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/listConnectionsBySubscription.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/listFlowsByConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/listOperations.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/listPendingConnections.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/listPendingFlows.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/listPipelinesByResourceGroup.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/listPipelinesBySubscription.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/listSchemas.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/patchConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/patchFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/patchPipeline.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/postListApprovedSchemas.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/postValidateSchema.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/setFlowDestinationEndpointPorts.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/setFlowDestinationEndpoints.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/setFlowPassphrase.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-27/examples/setFlowSourceAddresses.json
  specification/azuredatatransfer/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, PublishToCustomers

#30955 Upgrade to typespec 0.61.0
  package-lock.json
  package.json
  specification/apicenter/ApiCenter.Management/models.tsp
  specification/awsconnector/EmrCluster.Management/main.tsp
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/main.tsp
  specification/hybridconnectivity/PublicCloud.Management/main.tsp
  specification/mongocluster/DocumentDB.MongoCluster.Management/client.tsp
  specification/networkanalytics/NetworkAnalytics.Management/main.tsp
  specification/portal/Dashboard.Management/models.tsp
  specification/portalservices/Extension.Management/models.tsp
  specification/sphere/Sphere.Management/models.tsp
  specification/vmware/Microsoft.AVS.Management/scriptExecutions.tsp
Labels: TypeSpec, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk, PipelineBotTrigger

#30894 Fix environment patch
  specification/devcenter/DevCenter/Environments/models.tsp
  specification/devcenter/DevCenter/Environments/routes.tsp
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2024-05-01-preview/devcenter.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2024-08-01-preview/devcenter.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2024-09-01-preview/devcenter.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2024-10-01-preview/devcenter.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/devcenter.json
Labels: data-plane, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-BugFix, PublishToCustomers

#30964 Fix awsconnector missing suppression
  specification/awsconnector/EmrClusterSummary.Management/main.tsp
Labels: TypeSpec, PipelineBotTrigger

#30782 Enable Async Operation for ConnectedEnvironment SubResources
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/ConnectedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/ConnectedEnvironmentsCertificates.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/ConnectedEnvironmentsDaprComponents.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/ConnectedEnvironmentsStorages.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ConnectedEnvironmentsCertificate_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ConnectedEnvironmentsCertificate_Delete.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ConnectedEnvironmentsCertificate_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ConnectedEnvironmentsCertificates_CheckNameAvailability.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ConnectedEnvironmentsCertificates_ListByConnectedEnvironment.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ConnectedEnvironmentsCertificates_Patch.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ConnectedEnvironmentsDaprComponents_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ConnectedEnvironmentsDaprComponents_Delete.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ConnectedEnvironmentsDaprComponents_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ConnectedEnvironmentsDaprComponents_List.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ConnectedEnvironmentsDaprComponents_ListSecrets.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ConnectedEnvironmentsStorages_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ConnectedEnvironmentsStorages_Delete.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ConnectedEnvironmentsStorages_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ConnectedEnvironmentsStorages_List.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ConnectedEnvironments_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ConnectedEnvironments_Delete.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ConnectedEnvironments_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ConnectedEnvironments_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ConnectedEnvironments_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ConnectedEnvironments_Patch.json
Labels: ARMSignedOff, ARMReview, resource-manager

#30958 Microsoft.ContainerService: clarify BYO Kubelet identity API
  cSpell.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-09-01/managedClusters.json
Labels: Container Service, resource-manager

#30796 Fix the diagnostic text typo
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/examples/OperationList.json
  specification/mariadb/resource-manager/Microsoft.DBforMariaDB/stable/2018-06-01/examples/OperationList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/preview/2021-12-01-preview/examples/OperationsList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/preview/2022-09-30-preview/examples/OperationsList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/preview/2023-06-01-preview/examples/OperationsList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/preview/2023-12-01-preview/examples/OperationsList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/stable/2022-01-01/examples/OperationsList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/stable/2023-06-30/examples/OperationsList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/stable/2023-12-30/examples/OperationsList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/legacy/preview/2017-12-01-preview/examples/OperationList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/legacy/preview/2018-06-01-privatepreview/examples/OperationList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/legacy/preview/2020-07-01-preview/examples/OperationsList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/legacy/preview/2020-07-01-privatepreview/examples/OperationsList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/legacy/preview/2021-05-01-preview/examples/OperationsList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/legacy/stable/2017-12-01/examples/OperationList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/legacy/stable/2021-05-01/examples/OperationsList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-12-01-preview/examples/OperationList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-preview/examples/OperationList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-02-14-privatepreview/examples/OperationList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-04-10-privatepreview/examples/OperationList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-01-preview/examples/OperationList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2021-06-15-privatepreview/examples/OperationList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-01-20-preview/examples/OperationList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/examples/OperationList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-05-01-preview/examples/OperationList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-01-preview/examples/OperationList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-06-01-preview/examples/OperationList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-12-01-preview/examples/OperationList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2024-03-01-preview/examples/OperationList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2017-12-01/examples/OperationList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/examples/OperationList.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-12-01/examples/OperationList.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/examples/OperationList.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/OperationList.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/stable/2022-11-08/examples/OperationList.json
Labels: ARMSignedOff, Approved-ModelValidation, ARMReview, resource-manager, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-JavaScript-Sdk, PublishToCustomers

#30880 DevOpsInfrastructure - stable version
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-10-19/CreateOrUpdatePool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-10-19/DeletePool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-10-19/GetPool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-10-19/ImageVersions_ListByImage.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-10-19/ListOperations.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-10-19/ListPoolsBySubscription.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-10-19/ListPoolsBySubscriptionAndResourceGroup.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-10-19/ResourceDetails_ListByPool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-10-19/Sku_ListByLocation.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-10-19/SubscriptionUsages_Usages.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-10-19/UpdatePool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/main.tsp
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/stable/2024-10-19/devopsinfrastructure.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/stable/2024-10-19/examples/CreateOrUpdatePool.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/stable/2024-10-19/examples/DeletePool.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/stable/2024-10-19/examples/GetPool.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/stable/2024-10-19/examples/ImageVersions_ListByImage.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/stable/2024-10-19/examples/ListOperations.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/stable/2024-10-19/examples/ListPoolsBySubscription.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/stable/2024-10-19/examples/ListPoolsBySubscriptionAndResourceGroup.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/stable/2024-10-19/examples/ResourceDetails_ListByPool.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/stable/2024-10-19/examples/Sku_ListByLocation.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/stable/2024-10-19/examples/SubscriptionUsages_Usages.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/stable/2024-10-19/examples/UpdatePool.json
  specification/devopsinfrastructure/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-Python-Sdk, PublishToCustomers

#30981 DevCenter: Remove redundant "devbox" string from capture and restore snapshot operation names
  specification/devcenter/DevCenter/DevBox/routes.tsp
  specification/devcenter/DevCenter/examples/2024-09-01-preview/DevBoxes_RestoreSnapshot.json
  specification/devcenter/DevCenter/examples/2024-10-01-preview/DevBoxes_CaptureSnapshot.json
  specification/devcenter/DevCenter/examples/2024-10-01-preview/DevBoxes_RestoreSnapshot.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2024-09-01-preview/devcenter.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2024-09-01-preview/examples/DevBoxes_RestoreSnapshot.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2024-10-01-preview/devcenter.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2024-10-01-preview/examples/DevBoxes_CaptureSnapshot.json
  specification/devcenter/data-plane/Microsoft.DevCenter/preview/2024-10-01-preview/examples/DevBoxes_RestoreSnapshot.json
Labels: data-plane, TypeSpec, Versioning-Approved-Benign, VersioningReviewRequired, PublishToCustomers

#30969 Adding Rest API Support for isZoneResilientProvisioningAllowed Feature
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/LocationCapabilities.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/examples/LocationCapabilityListByLocation.json
Labels: SQL, ARMSignedOff, ARMReview, resource-manager

#30985 Update request URL for agents
  specification/ai/Azure.AI.Client/main.tsp
Labels: TypeSpec

#30692 [Network] - Adding DefaultOutboundConnectivityEnabled property in networkInterface
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/networkInterface.json
Labels: Network, ARMSignedOff, ARMReview, resource-manager

#30987 Add configuration to disable the generation of C# samples
  specification/ai/Azure.AI.Client/tspconfig.yaml
Labels: TypeSpec

#30976 Microsoft.ContainerService: clarify BYO Kubelet identity API since preview API version 2024-09-02-preview
  cSpell.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-09-02-preview/managedClusters.json
Labels: resource-manager

#30974 add seccomp to kubelet config
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-09-02-preview/examples/AgentPoolsCreate_CustomNodeConfig.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-09-02-preview/managedClusters.json
Labels: Container Service, resource-manager

#30789 Add client setting for ContainerOrchestratorRuntime
  specification/kubernetesruntime/KubernetesRuntime.Management/client.tsp
  specification/kubernetesruntime/KubernetesRuntime.Management/common.tsp
  specification/kubernetesruntime/KubernetesRuntime.Management/service.tsp
  specification/kubernetesruntime/KubernetesRuntime.Management/tspconfig.yaml
  specification/kubernetesruntime/resource-manager/Microsoft.KubernetesRuntime/preview/2023-10-01-preview/kubernetesruntime.json
  specification/kubernetesruntime/resource-manager/Microsoft.KubernetesRuntime/stable/2024-03-01/kubernetesruntime.json
  specification/kubernetesruntime/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, Approved-Suppression, SuppressionReviewRequired, TypeSpec, BreakingChange-Approved-BugFix, PublishToCustomers

#30999 add typespec-ts config for computeschedule
  specification/computeschedule/ComputeSchedule.Management/tspconfig.yaml
Labels: TypeSpec, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-JavaScript-Sdk

#31003 [AI Client] add new tool definitions for Agents
  specification/ai/Azure.AI.Client/agents/tools/models.tsp
  specification/ai/Azure.AI.Client/agents/tools/tool_resources.tsp
Labels: TypeSpec

#30338 MDC: Adding 2024-07-01-preview version to SecurityConnectors API [Introducing new Docker-Hub Environment]
  specification/security/resource-manager/Microsoft.Security/preview/2024-07-01-preview/examples/SecurityConnectors/DeleteSecurityConnector_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-07-01-preview/examples/SecurityConnectors/GetSecurityConnectorSingleResource_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-07-01-preview/examples/SecurityConnectors/GetSecurityConnectorsResourceGroup_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-07-01-preview/examples/SecurityConnectors/GetSecurityConnectorsSubscription_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-07-01-preview/examples/SecurityConnectors/PatchSecurityConnector_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-07-01-preview/examples/SecurityConnectors/PutSecurityConnector_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-07-01-preview/securityConnectors.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, PublishToCustomers

#30939 Add kind, tags and patch api for serviceGroups
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/ServiceGroup_Patch.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/serviceGroups.json
Labels: ARMSignedOff, ARMReview, resource-manager

#30514 [Microsoft.DeviceRegistry] Added spec for Microsoft.DeviceRegistry RP GA version 2024-11-01
  specification/deviceregistry/DeviceRegistry.Management/assetEndpointProfiles.tsp
  specification/deviceregistry/DeviceRegistry.Management/assets.tsp
  specification/deviceregistry/DeviceRegistry.Management/discoveredAssetEndpointProfiles.tsp
  specification/deviceregistry/DeviceRegistry.Management/discoveredAssets.tsp
  specification/deviceregistry/DeviceRegistry.Management/examples/2024-11-01/Create_AssetEndpointProfile.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2024-11-01/Create_AssetEndpointProfile_With_DiscoveredAepRef.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2024-11-01/Create_Asset_With_DiscoveredAssetRef.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2024-11-01/Create_Asset_With_ExternalAssetId.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2024-11-01/Create_Asset_Without_DisplayName.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2024-11-01/Create_Asset_Without_ExternalAssetId.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2024-11-01/Delete_Asset.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2024-11-01/Delete_AssetEndpointProfile.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2024-11-01/Get_Asset.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2024-11-01/Get_AssetEndpointProfile.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2024-11-01/Get_AssetEndpointProfile_With_SyncStatus.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2024-11-01/Get_Asset_With_SyncStatus.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2024-11-01/Get_BillingContainer.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2024-11-01/Get_OperationStatus.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2024-11-01/List_AssetEndpointProfiles_ResourceGroup.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2024-11-01/List_AssetEndpointProfiles_Subscription.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2024-11-01/List_Assets_ResourceGroup.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2024-11-01/List_Assets_Subscription.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2024-11-01/List_BillingContainers_Subscription.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2024-11-01/List_Operations.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2024-11-01/Update_Asset.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2024-11-01/Update_AssetEndpointProfile.json
  specification/deviceregistry/DeviceRegistry.Management/main.tsp
  specification/deviceregistry/DeviceRegistry.Management/schemaRegistries.tsp
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2024-11-01/deviceregistry.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2024-11-01/examples/Create_AssetEndpointProfile.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2024-11-01/examples/Create_AssetEndpointProfile_With_DiscoveredAepRef.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2024-11-01/examples/Create_Asset_With_DiscoveredAssetRef.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2024-11-01/examples/Create_Asset_With_ExternalAssetId.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2024-11-01/examples/Create_Asset_Without_DisplayName.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2024-11-01/examples/Create_Asset_Without_ExternalAssetId.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2024-11-01/examples/Delete_Asset.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2024-11-01/examples/Delete_AssetEndpointProfile.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2024-11-01/examples/Get_Asset.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2024-11-01/examples/Get_AssetEndpointProfile.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2024-11-01/examples/Get_AssetEndpointProfile_With_SyncStatus.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2024-11-01/examples/Get_Asset_With_SyncStatus.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2024-11-01/examples/Get_BillingContainer.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2024-11-01/examples/Get_OperationStatus.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2024-11-01/examples/List_AssetEndpointProfiles_ResourceGroup.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2024-11-01/examples/List_AssetEndpointProfiles_Subscription.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2024-11-01/examples/List_Assets_ResourceGroup.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2024-11-01/examples/List_Assets_Subscription.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2024-11-01/examples/List_BillingContainers_Subscription.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2024-11-01/examples/List_Operations.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2024-11-01/examples/Update_Asset.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2024-11-01/examples/Update_AssetEndpointProfile.json
  specification/deviceregistry/resource-manager/readme.md
  specification/deviceregistry/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, TypeSpec, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-Go-Sdk-Suppression, PublishToCustomers

#30462 Add Large Language Model Diagnostic Settings to Diagnostic Contract
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2024-06-01-preview/definitions.json
Labels: API Management, resource-manager, BreakingChange-Go-Sdk, BreakingChange-Python-Sdk, 2024-06-01-preview

#30926 mgmt, java, fleet, tspconfig
  specification/containerservice/Fleet.Management/client.tsp
  specification/containerservice/Fleet.Management/tspconfig.yaml
Labels: Container Service, TypeSpec

#30965 [Microsoft.AwsConnector] Add s3AccessControlPolicy and remove emrClustersummary resource type in GA 2024-12-01 API version
  specification/awsconnector/EmrClusterSummary.Management/examples/2024-12-01/EmrClusterSummaries_CreateOrReplace.json
  specification/awsconnector/EmrClusterSummary.Management/examples/2024-12-01/EmrClusterSummaries_Get.json
  specification/awsconnector/EmrClusterSummary.Management/examples/2024-12-01/EmrClusterSummaries_ListByResourceGroup.json
  specification/awsconnector/EmrClusterSummary.Management/examples/2024-12-01/EmrClusterSummaries_ListBySubscription.json
  specification/awsconnector/EmrClusterSummary.Management/examples/2024-12-01/EmrClusterSummaries_Update.json
  specification/awsconnector/EmrClusterSummary.Management/main.tsp
  specification/awsconnector/S3AccessControlPolicy.Management/examples/2024-12-01/S3AccessControlPolicies_CreateOrReplace.json
  specification/awsconnector/S3AccessControlPolicy.Management/examples/2024-12-01/S3AccessControlPolicies_Delete.json
  specification/awsconnector/S3AccessControlPolicy.Management/examples/2024-12-01/S3AccessControlPolicies_Get.json
  specification/awsconnector/S3AccessControlPolicy.Management/examples/2024-12-01/S3AccessControlPolicies_ListByResourceGroup.json
  specification/awsconnector/S3AccessControlPolicy.Management/examples/2024-12-01/S3AccessControlPolicies_ListBySubscription.json
  specification/awsconnector/S3AccessControlPolicy.Management/examples/2024-12-01/S3AccessControlPolicies_Update.json
  specification/awsconnector/S3AccessControlPolicy.Management/main.tsp
  specification/awsconnector/S3AccessControlPolicy.Management/tspconfig.yaml
  specification/awsconnector/resource-manager/Microsoft.AwsConnector/stable/2024-12-01/examples/EmrClusterSummaries_CreateOrReplace.json
  specification/awsconnector/resource-manager/Microsoft.AwsConnector/stable/2024-12-01/examples/EmrClusterSummaries_Get.json
  specification/awsconnector/resource-manager/Microsoft.AwsConnector/stable/2024-12-01/examples/EmrClusterSummaries_ListByResourceGroup.json
  specification/awsconnector/resource-manager/Microsoft.AwsConnector/stable/2024-12-01/examples/EmrClusterSummaries_ListBySubscription.json
  specification/awsconnector/resource-manager/Microsoft.AwsConnector/stable/2024-12-01/examples/EmrClusterSummaries_Update.json
  specification/awsconnector/resource-manager/Microsoft.AwsConnector/stable/2024-12-01/examples/S3AccessControlPolicies_CreateOrReplace.json
  specification/awsconnector/resource-manager/Microsoft.AwsConnector/stable/2024-12-01/examples/S3AccessControlPolicies_Delete.json
  specification/awsconnector/resource-manager/Microsoft.AwsConnector/stable/2024-12-01/examples/S3AccessControlPolicies_Get.json
  specification/awsconnector/resource-manager/Microsoft.AwsConnector/stable/2024-12-01/examples/S3AccessControlPolicies_ListByResourceGroup.json
  specification/awsconnector/resource-manager/Microsoft.AwsConnector/stable/2024-12-01/examples/S3AccessControlPolicies_ListBySubscription.json
  specification/awsconnector/resource-manager/Microsoft.AwsConnector/stable/2024-12-01/examples/S3AccessControlPolicies_Update.json
  specification/awsconnector/resource-manager/Microsoft.AwsConnector/stable/2024-12-01/s3AccessControlPolicy.json
  specification/awsconnector/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-Benign, NotReadyForARMReview, PublishToCustomers, PublicCloudIntegration, MultiCloudIntegration

#30852 [Microsoft.App] Add gpu property to container resource
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ContainerApps_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ContainerApps_Kind_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/Job_CreateorUpdate.json
Labels: ARMSignedOff, ARMReview, resource-manager

#31046 fix the default size for LLM contract PATCH validation - to fix LintDiff
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2024-06-01-preview/definitions.json
Labels: API Management, 2024-06-01-preview

#30943 add host
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
Labels: ARMSignedOff, Data Factory, ARMReview, resource-manager, data-plane, ReadyForApiTest, Versioning-Approved-Benign, PublishToCustomers

#30594 [hybridkubernetes][Microsoft.Kubernetes][Preview]Added 2024-12-01-preview to support agentless connected cluster
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-12-01-preview/connectedClusters.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-12-01-preview/examples/ConnectedClustersListClusterCredentialResultCSPAAD.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-12-01-preview/examples/ConnectedClustersListClusterCredentialResultCSPToken.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-12-01-preview/examples/ConnectedClustersListClusterCredentialResultHPAAD.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-12-01-preview/examples/ConnectedClustersListClusterCredentialResultHPToken.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-12-01-preview/examples/CreateClusterAgentless_KindAWSExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-12-01-preview/examples/CreateClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-12-01-preview/examples/CreateClusterPrivateLinkExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-12-01-preview/examples/CreateCluster_KindExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-12-01-preview/examples/DeleteClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-12-01-preview/examples/GetClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-12-01-preview/examples/GetClustersByResourceGroupExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-12-01-preview/examples/GetClustersBySubscriptionExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-12-01-preview/examples/GetProvisionedClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-12-01-preview/examples/ListConnectedClusterOperationsExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-12-01-preview/examples/UpdateClusterByPatchExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-12-01-preview/examples/UpdateClusterByPutExample.json
  specification/hybridkubernetes/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, new-api-version, BreakingChange-Approved-BugFix, PublishToCustomers

#30957 [AML]Update capabilityHost schema
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager

#31065 Updating tag value
  specification/translation/data-plane/Azure.AI.DocumentTranslation/readme.md
Labels: data-plane

#31072 Added new Data Lake swagger file
  specification/storage/data-plane/Azure.Storage.Files.DataLake/readme.md
  specification/storage/data-plane/Azure.Storage.Files.DataLake/stable/2025-05-05/DataLakeStorage.json
Labels: Storage, data-plane

#30978 revision transition threshold
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ContainerApps_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ContainerApps_CreateOrUpdate_ConnectedEnvironment.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ContainerApps_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ContainerApps_Kind_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ContainerApps_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ContainerApps_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ContainerApps_Patch.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ContainerApps_SourceToCloudApp_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ContainerApps_Start.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ContainerApps_Stop.json
  specification/app/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk-Suppression-Approved, BreakingChange-Python-Sdk-Suppression

#31074 [resource] Update readme.python.md
  specification/resources/resource-manager/readme.python.md
Labels: WaitForARMFeedback, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-JavaScript-Sdk, PublishToCustomers

#31075 mgmt, java, update tspconfig for fabric
  specification/fabric/Microsoft.Fabric.Management/client.tsp
Labels: TypeSpec

#30970 Adding the final model to return for LRO calls
  specification/translation/Azure.AI.DocumentTranslation/routes.tsp
  specification/translation/Azure.AI.DocumentTranslation/tspconfig.yaml
  specification/translation/data-plane/Azure.AI.DocumentTranslation/stable/2024-05-01/openapi.json
Labels: data-plane, TypeSpec, PublishToCustomers

#31082 Added changes for throughput bucketing
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-12-01-preview/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-12-01-preview/examples/CosmosDBSqlContainerThroughputGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-12-01-preview/examples/CosmosDBSqlContainerThroughputUpdate.json
Labels: Cosmos, resource-manager

#31059 Etcriss tablerbac cosmosdb 20241201preview
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-12-01-preview/examples/CosmosDBTableRoleAssignmentCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-12-01-preview/examples/CosmosDBTableRoleAssignmentDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-12-01-preview/examples/CosmosDBTableRoleAssignmentGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-12-01-preview/examples/CosmosDBTableRoleAssignmentList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-12-01-preview/examples/CosmosDBTableRoleDefinitionCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-12-01-preview/examples/CosmosDBTableRoleDefinitionDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-12-01-preview/examples/CosmosDBTableRoleDefinitionGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-12-01-preview/examples/CosmosDBTableRoleDefinitionList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-12-01-preview/tablerbac.json
Labels: Cosmos, customer-reported, resource-manager, NotReadyForARMReview

#31030 Stable RP changes for PerRegionPerPartitionAutoscale
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2024-11-15/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2024-11-15/examples/CosmosDBDatabaseAccountCreateMax.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2024-11-15/examples/CosmosDBDatabaseAccountGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2024-11-15/examples/CosmosDBDatabaseAccountList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2024-11-15/examples/CosmosDBDatabaseAccountPatch.json
Labels: Cosmos, resource-manager

#30022 Fix Priority Mix VMSS Example
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-08-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithPriorityMixPolicy.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-11-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithPriorityMixPolicy.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-03-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithPriorityMixPolicy.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-07-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithPriorityMixPolicy.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2023-09-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithPriorityMixPolicy.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-03-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithPriorityMixPolicy.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-07-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithPriorityMixPolicy.json
Labels: Compute, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#31054 Example update: Replace AccessToken with Dummy String for MSRC Compliance
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2018-12-20/examples/AzureIaasVm/GetAccessToken_Get.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2018-12-20/examples/AzureIaasVm/TriggerCrossRegionRestore_IdentityBasedRestoreDetails_Post.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2018-12-20/examples/AzureIaasVm/TriggerCrossRegionRestore_Post.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2021-11-15/examples/AzureIaasVm/GetAccessToken_Get.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2021-11-15/examples/AzureIaasVm/TriggerCrossRegionRestore_IdentityBasedRestoreDetails_Post.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2021-11-15/examples/AzureIaasVm/TriggerCrossRegionRestore_Post.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2023-01-15/examples/AzureIaasVm/GetAccessToken_Get.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2023-01-15/examples/AzureIaasVm/TriggerCrossRegionRestore_IdentityBasedRestoreDetails_Post.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2023-01-15/examples/AzureIaasVm/TriggerCrossRegionRestore_Post.json
Labels: Recovery Services Backup, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#31076 [azurefleet] Change the name of the property
  specification/azurefleet/AzureFleet.Management/client.tsp
  specification/azurefleet/AzureFleet.Management/fleet.tsp
  specification/azurefleet/AzureFleet.Management/virtualMachineScaleSet.tsp
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2023-11-01-preview/azurefleet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2024-05-01-preview/azurefleet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/stable/2024-11-01/azurefleet.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-BugFix, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk, PublishToCustomers

#30802 [Microsoft.App] targetLabel and Labels revision mode
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/ContainerAppsLabelHistory.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/ContainerAppsRevisions.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/LabelHistory_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/LabelHistory_List.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/Revisions_Get.json
  specification/app/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk-Suppression-Approved

#30781 [Microsoft.App] Add availabilityZones property to managed environment
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ManagedEnvironments_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ManagedEnvironments_CustomInfrastructureResourceGroup_Create.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ManagedEnvironments_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ManagedEnvironments_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ManagedEnvironments_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ManagedEnvironments_Patch.json
Labels: ARMSignedOff, ARMReview, resource-manager

#30771 add ManagedIdentitySettings to session pool 2024-10-02-preview
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/SessionPools.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/SessionPools_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/SessionPools_Get.json
  specification/app/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired

#30769 [Microsoft.App] Planned Maintenance feature for managed environment
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/ManagedEnvironmentsMaintenanceConfigurations.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ManagedEnvironment_MaintenanceConfigurations_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ManagedEnvironment_MaintenanceConfigurations_Delete.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ManagedEnvironment_MaintenanceConfigurations_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/ManagedEnvironment_MaintenanceConfigurations_List.json
  specification/app/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager

#31070 Fix bug in swagger
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/workspaceRP.json
Labels: ARMSignedOff, ARMReview, resource-manager

#31049 Add deprecation message and update documentation for missing properties
  cSpell.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-09-01/costmanagement.pricesheets.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-11-01/costmanagement.pricesheets.json
  specification/cost-management/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChange-Approved-BugFix, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk-Suppression-Approved, PublishToCustomers

#31007 Add typescript configuration options for JS SDK
  specification/ai/Azure.AI.Client/tspconfig.yaml
Labels: TypeSpec

#31087 IPAM + VNV 2024-05-01 stable swagger edit
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/virtualNetwork.json
Labels: Network, ARMSignedOff, ARMReview, resource-manager

#31091 Update the configuration for C# to disable model namespace generation
  specification/ai/Azure.AI.Client/tspconfig.yaml
Labels: TypeSpec

#30862 [Microsoft.App] Advanced Ingress ACA - 2024-10-02-preview
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/ManagedEnvironmentsHttpRouteConfig.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/HttpRouteConfig_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/HttpRouteConfig_CreateOrUpdatePrefix.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/HttpRouteConfig_CreateOrUpdate_PathSepPrefix.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/HttpRouteConfig_Delete.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/HttpRouteConfig_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/HttpRouteConfig_ListByManagedEnvironment.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/examples/HttpRouteConfig_Patch.json
  specification/app/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager

#31106 change new tool name to bing grounding
  specification/ai/Azure.AI.Client/agents/tools/models.tsp
  specification/ai/Azure.AI.Client/agents/tools/tool_resources.tsp
  specification/ai/Azure.AI.Client/examples/2024-07-01-preview/Agents_CancelRun_MaximumSet_Gen.json
  specification/ai/Azure.AI.Client/examples/2024-07-01-preview/Agents_CreateAgent_MaximumSet_Gen.json
  specification/ai/Azure.AI.Client/examples/2024-07-01-preview/Agents_CreateRun_MaximumSet_Gen.json
  specification/ai/Azure.AI.Client/examples/2024-07-01-preview/Agents_CreateThreadAndRun_MaximumSet_Gen.json
  specification/ai/Azure.AI.Client/examples/2024-07-01-preview/Agents_CreateThread_MaximumSet_Gen.json
  specification/ai/Azure.AI.Client/examples/2024-07-01-preview/Agents_GetAgent_MaximumSet_Gen.json
  specification/ai/Azure.AI.Client/examples/2024-07-01-preview/Agents_GetRun_MaximumSet_Gen.json
  specification/ai/Azure.AI.Client/examples/2024-07-01-preview/Agents_GetThread_MaximumSet_Gen.json
  specification/ai/Azure.AI.Client/examples/2024-07-01-preview/Agents_ListAgents_MaximumSet_Gen.json
  specification/ai/Azure.AI.Client/examples/2024-07-01-preview/Agents_ListRuns_MaximumSet_Gen.json
  specification/ai/Azure.AI.Client/examples/2024-07-01-preview/Agents_SubmitToolOutputsToRun_MaximumSet_Gen.json
  specification/ai/Azure.AI.Client/examples/2024-07-01-preview/Agents_UpdateAgent_MaximumSet_Gen.json
  specification/ai/Azure.AI.Client/examples/2024-07-01-preview/Agents_UpdateRun_MaximumSet_Gen.json
  specification/ai/Azure.AI.Client/examples/2024-07-01-preview/Agents_UpdateThread_MaximumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Client/preview/2024-07-01-preview/azure-ai-client.json
  specification/ai/data-plane/Azure.AI.Client/preview/2024-07-01-preview/examples/Agents_CancelRun_MaximumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Client/preview/2024-07-01-preview/examples/Agents_CreateAgent_MaximumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Client/preview/2024-07-01-preview/examples/Agents_CreateRun_MaximumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Client/preview/2024-07-01-preview/examples/Agents_CreateThreadAndRun_MaximumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Client/preview/2024-07-01-preview/examples/Agents_CreateThread_MaximumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Client/preview/2024-07-01-preview/examples/Agents_GetAgent_MaximumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Client/preview/2024-07-01-preview/examples/Agents_GetRun_MaximumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Client/preview/2024-07-01-preview/examples/Agents_GetThread_MaximumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Client/preview/2024-07-01-preview/examples/Agents_ListAgents_MaximumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Client/preview/2024-07-01-preview/examples/Agents_ListRuns_MaximumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Client/preview/2024-07-01-preview/examples/Agents_SubmitToolOutputsToRun_MaximumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Client/preview/2024-07-01-preview/examples/Agents_UpdateAgent_MaximumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Client/preview/2024-07-01-preview/examples/Agents_UpdateRun_MaximumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Client/preview/2024-07-01-preview/examples/Agents_UpdateThread_MaximumSet_Gen.json
Labels: data-plane, TypeSpec

#30975 Improvements to Microsoft.AzureTerraform TypeSpec
  specification/terraform/Microsoft.AzureTerraform.Management/client.tsp
  specification/terraform/Microsoft.AzureTerraform.Management/examples/2023-07-01-preview/ExportTerraform.json
  specification/terraform/Microsoft.AzureTerraform.Management/examples/2023-07-01-preview/GetOperationStatus.json
  specification/terraform/Microsoft.AzureTerraform.Management/main.tsp
  specification/terraform/Microsoft.AzureTerraform.Management/models.tsp
  specification/terraform/Microsoft.AzureTerraform.Management/routes.tsp
  specification/terraform/Microsoft.AzureTerraform.Management/tspconfig.yaml
  specification/terraform/resource-manager/Microsoft.AzureTerraform/preview/2023-07-01-preview/examples/ExportTerraform.json
  specification/terraform/resource-manager/Microsoft.AzureTerraform/preview/2023-07-01-preview/examples/GetOperationStatus.json
  specification/terraform/resource-manager/Microsoft.AzureTerraform/preview/2023-07-01-preview/export.json
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, RPaaS, TypeSpec, Versioning-Approved-BugFix, VersioningReviewRequired, PublishToCustomers

#31110 Evaluation: Reverting change to rename id to Uri
  specification/ai/Azure.AI.Client/evaluations/model.tsp
Labels: TypeSpec

#31112 java, mgmt, Elastic, readme.java.md
  specification/elastic/resource-manager/readme.java.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, PublishToCustomers

#31113 java, mgmt, Container Orchestrator Runtime, tspconfig
  specification/kubernetesruntime/KubernetesRuntime.Management/client.tsp
  specification/kubernetesruntime/KubernetesRuntime.Management/tspconfig.yaml
Labels: TypeSpec

#31114 update config for armdataboundaries go release
  specification/resources/resource-manager/readme.go.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#31116 Fix too long path of client name for Container Orchestrator Runtime
  specification/kubernetesruntime/KubernetesRuntime.Management/client.tsp
Labels: TypeSpec

#31083 [Azure Load Testing] Fixing Typespec for SDK Generation via DPG
  specification/loadtestservice/LoadTestService/client.tsp
  specification/loadtestservice/LoadTestService/models.tsp
Labels: Load Test Service, TypeSpec

#31118 Update readme.python.md
  specification/dnsresolver/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#30797 Add ZonalAllocationPolicy property to the Redis Cache request, response - new stable API version: 2024-11-01
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheAccessPolicyAssignmentCreateUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheAccessPolicyAssignmentDelete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheAccessPolicyAssignmentGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheAccessPolicyAssignmentList.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheAccessPolicyCreateUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheAccessPolicyDelete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheAccessPolicyGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheAccessPolicyList.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheAsyncOperationStatus.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheCheckNameAvailability.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheCreate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheCreateAutomaticZonalAllocationPolicy.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheCreateDefaultVersion.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheCreateLatestVersion.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheCreateNoZonesZonalAllocationPolicy.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheCreateUserDefinedZonalAllocationPolicy.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheDelete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheDeletePrivateEndpointConnection.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheExport.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheFirewallRuleCreate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheFirewallRuleDelete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheFirewallRuleGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheFirewallRulesList.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheFlush.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheForceReboot.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheGetPrivateEndpointConnection.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheImport.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheLinkedServer_Create.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheLinkedServer_Delete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheLinkedServer_Get.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheLinkedServer_List.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheList.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheListByResourceGroup.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheListKeys.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheListPrivateEndpointConnections.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheListPrivateLinkResources.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheListUpgradeNotifications.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheOperations.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCachePatchSchedulesCreateOrUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCachePatchSchedulesDelete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCachePatchSchedulesGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCachePatchSchedulesList.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCachePutPrivateEndpointConnection.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheRegenerateKey.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/examples/RedisCacheUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-11-01/redis.json
  specification/redis/resource-manager/readme.md
Labels: Redis Cache, ARMSignedOff, DoNotMerge, NotReadyForReview, ARMReview, resource-manager, new-api-version, IDCDevDiv, PublishToCustomers

#30438 Zaowang/liftr nginx/adding 2 24 09 01 preview
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/ApiKeys_CreateOrUpdate.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/ApiKeys_Delete.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/ApiKeys_Get.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/ApiKeys_List.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Certificates_CreateOrUpdate.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Certificates_Delete.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Certificates_Get.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Certificates_List.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Configurations_Analysis.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Configurations_CreateOrUpdate.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Configurations_Delete.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Configurations_Get.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Configurations_List.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Deployments_Create.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Deployments_Delete.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Deployments_Get.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Deployments_Get_AutoScale.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Deployments_List.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Deployments_ListByResourceGroup.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Deployments_Update.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Operations_List.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/swagger.json
  specification/nginx/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, new-api-version, BreakingChange-Approved-Previously, PublishToCustomers

#30592 add extension setup API and example
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2024-09-10-preview/HybridCompute.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2024-09-10-preview/examples/extension/Extension_Setup.json
Labels: ARMSignedOff, ARMReview, resource-manager, ArcReview, ArcSignedOff

#30982 [AML]Swagger separation for GA version
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/machineLearningServices.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/workspaceRP.json
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, Approved-Suppression, SuppressionReviewRequired, BreakingChange-Approved-Benign, PublishToCustomers

#31102 [WRP]Add connection parameter
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-10-01/workspaceRP.json
Labels: ARMSignedOff, ARMReview, resource-manager, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk

#31139 java, mgmt, computefleet, client
  specification/azurefleet/AzureFleet.Management/client.tsp
Labels: TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-Python-Sdk

#31008 Add Swagger API change to add new phases in progress reporting in Dat…
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/DatabaseOperations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/examples/ListDatabaseOperations.json
Labels: SQL, ARMChangesRequested, ARMReview, resource-manager

#31111 java, mgmt, workloadssapvirtualinstance, tspconfig
  specification/workloads/Workloads.SAPVirtualInstance.Management/client.tsp
  specification/workloads/Workloads.SAPVirtualInstance.Management/tspconfig.yaml
Labels: TypeSpec, BreakingChange-Python-Sdk-Approved

#31143 add go tsp config for fabric
  specification/fabric/Microsoft.Fabric.Management/tspconfig.yaml
Labels: TypeSpec

#31013 Azure fleet API documentation update for 2024-11-01
  specification/azurefleet/AzureFleet.Management/fleet.tsp
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/stable/2024-11-01/azurefleet.json
Labels: API Management, Data Factory, ReadyForApiTest, TypeSpec, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk, PublishToCustomers

#30623 Remove FipsApprovedMode from spec and examples
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/cloudhsm.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/CloudHsmCluster_CreateOrUpdate_MaximumSet_Gen.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/CloudHsmCluster_Get_MaximumSet_Gen.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/CloudHsmCluster_ListByResourceGroup_MaximumSet_Gen.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/CloudHsmCluster_ListBySubscription_MaximumSet_Gen.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/CloudHsmCluster_Update_MaximumSet_Gen.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, VersioningReviewRequired, Versioning-Approved-BranchPolicyException, PublishToCustomers

#31156 Move Microsoft.SecretSyncController readme to correct location
  specification/ews/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, RPaaS, PublishToCustomers

#31126 add optional parameters and changes to evaluation schedule
  specification/ai/Azure.AI.Client/evaluations/model.tsp
  specification/ai/data-plane/Azure.AI.Client/preview/2024-07-01-preview/azure-ai-client.json
Labels: data-plane, TypeSpec

#31130 AVNM, IPAM, VNV updating resource name regex validation
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/ipAddressManager.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/networkManager.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/networkVerifier.json
Labels: Network, ARMSignedOff, ARMReview, resource-manager

#31157 Fixing tableRoleDefinitionId -> roleDefinitionId
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-12-01-preview/tablerbac.json
Labels: Cosmos, customer-reported, resource-manager

#31100 Fix managed service identity duplicated schema issue
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/Builders.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/Jobs.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/ManagedEnvironments.json
Labels: ARMSignedOff, ARMReview, resource-manager

#30825 [GA] Adding ETag header support in AKS RP APIs
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-09-01/examples/AgentPoolsGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-09-01/examples/AgentPoolsList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-09-01/examples/ManagedClustersGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-09-01/examples/ManagedClustersList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-09-01/managedClusters.json
Labels: Container Service, resource-manager, NotReadyForARMReview

#30972 Update Face client.tsp for java
  specification/ai/Face/client.tsp
  specification/ai/Face/tspconfig.yaml
Labels: TypeSpec

#30792 Moving sites swagger files from RPSaaSMaster private repo to public repo
  specification/edge/Microsoft.Edge.Management/examples/2024-02-01-preview/Operations_List_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.Management/examples/2024-02-01-preview/Operations_List_MinimumSet_Gen.json
  specification/edge/Microsoft.Edge.Management/main.tsp
  specification/edge/Microsoft.Edge.Management/models.tsp
  specification/edge/Microsoft.Edge.Management/tspconfig.yaml
  specification/edge/Microsoft.Edge.Shared/main.tsp
  specification/edge/Microsoft.Edge.Sites.Management/Site.tsp
  specification/edge/Microsoft.Edge.Sites.Management/examples/2024-02-01-preview/SitesBySubscription_CreateOrUpdate.json
  specification/edge/Microsoft.Edge.Sites.Management/examples/2024-02-01-preview/SitesBySubscription_Delete.json
  specification/edge/Microsoft.Edge.Sites.Management/examples/2024-02-01-preview/SitesBySubscription_Get.json
  specification/edge/Microsoft.Edge.Sites.Management/examples/2024-02-01-preview/SitesBySubscription_List.json
  specification/edge/Microsoft.Edge.Sites.Management/examples/2024-02-01-preview/SitesBySubscription_Update.json
  specification/edge/Microsoft.Edge.Sites.Management/examples/2024-02-01-preview/Sites_CreateOrUpdate.json
  specification/edge/Microsoft.Edge.Sites.Management/examples/2024-02-01-preview/Sites_Delete.json
  specification/edge/Microsoft.Edge.Sites.Management/examples/2024-02-01-preview/Sites_Get.json
  specification/edge/Microsoft.Edge.Sites.Management/examples/2024-02-01-preview/Sites_ListByResourceGroup.json
  specification/edge/Microsoft.Edge.Sites.Management/examples/2024-02-01-preview/Sites_Update.json
  specification/edge/Microsoft.Edge.Sites.Management/main.tsp
  specification/edge/Microsoft.Edge.Sites.Management/models.tsp
  specification/edge/Microsoft.Edge.Sites.Management/tspconfig.yaml
  specification/edge/resource-manager/Microsoft.Edge/edge/preview/2024-02-01-preview/examples/Operations_List_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/edge/preview/2024-02-01-preview/examples/Operations_List_MinimumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/edge/preview/2024-02-01-preview/operations.json
  specification/edge/resource-manager/Microsoft.Edge/edge/readme.az.md
  specification/edge/resource-manager/Microsoft.Edge/edge/readme.cli.md
  specification/edge/resource-manager/Microsoft.Edge/edge/readme.csharp.md
  specification/edge/resource-manager/Microsoft.Edge/edge/readme.go.md
  specification/edge/resource-manager/Microsoft.Edge/edge/readme.md
  specification/edge/resource-manager/Microsoft.Edge/edge/readme.python.md
  specification/edge/resource-manager/Microsoft.Edge/edge/readme.typescript.md
  specification/edge/resource-manager/Microsoft.Edge/sites/preview/2024-02-01-preview/examples/SitesBySubscription_CreateOrUpdate.json
  specification/edge/resource-manager/Microsoft.Edge/sites/preview/2024-02-01-preview/examples/SitesBySubscription_Delete.json
  specification/edge/resource-manager/Microsoft.Edge/sites/preview/2024-02-01-preview/examples/SitesBySubscription_Get.json
  specification/edge/resource-manager/Microsoft.Edge/sites/preview/2024-02-01-preview/examples/SitesBySubscription_List.json
  specification/edge/resource-manager/Microsoft.Edge/sites/preview/2024-02-01-preview/examples/SitesBySubscription_Update.json
  specification/edge/resource-manager/Microsoft.Edge/sites/preview/2024-02-01-preview/examples/Sites_CreateOrUpdate.json
  specification/edge/resource-manager/Microsoft.Edge/sites/preview/2024-02-01-preview/examples/Sites_Delete.json
  specification/edge/resource-manager/Microsoft.Edge/sites/preview/2024-02-01-preview/examples/Sites_Get.json
  specification/edge/resource-manager/Microsoft.Edge/sites/preview/2024-02-01-preview/examples/Sites_ListByResourceGroup.json
  specification/edge/resource-manager/Microsoft.Edge/sites/preview/2024-02-01-preview/examples/Sites_Update.json
  specification/edge/resource-manager/Microsoft.Edge/sites/preview/2024-02-01-preview/sites.json
  specification/edge/resource-manager/Microsoft.Edge/sites/readme.az.md
  specification/edge/resource-manager/Microsoft.Edge/sites/readme.cli.md
  specification/edge/resource-manager/Microsoft.Edge/sites/readme.csharp.md
  specification/edge/resource-manager/Microsoft.Edge/sites/readme.go.md
  specification/edge/resource-manager/Microsoft.Edge/sites/readme.md
  specification/edge/resource-manager/Microsoft.Edge/sites/readme.python.md
  specification/edge/resource-manager/Microsoft.Edge/sites/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, Approved-Suppression, SuppressionReviewRequired, new-api-version, new-rp-namespace, TypeSpec, PublishToCustomers

#31104 Health API changes
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/LoadBalancerHealth.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/loadBalancer.json
Labels: Network, ARMSignedOff, ARMReview, resource-manager

#31163 mgmt, java, workloads, tspconfig, override service-dir, rename model/interface for java
  specification/workloads/Workloads.SAPVirtualInstance.Management/client.tsp
  specification/workloads/Workloads.SAPVirtualInstance.Management/tspconfig.yaml
Labels: TypeSpec

#31169 remove old recurrence and add optional in correct recurrence object
  specification/ai/Azure.AI.Client/evaluations/model.tsp
  specification/ai/Azure.AI.Project/evaluations/model.tsp
  specification/ai/data-plane/Azure.AI.Client/preview/2024-07-01-preview/azure-ai-client.json
Labels: data-plane, TypeSpec

#30811 Add redis enterprise 2024-10-01 version
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/OperationsList.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/OperationsStatusGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseCreate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDatabasesCreate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDatabasesCreateWithGeoReplication.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDatabasesDelete.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDatabasesExport.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDatabasesFlush.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDatabasesForceLink.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDatabasesForceUnlink.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDatabasesGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDatabasesImport.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDatabasesListByCluster.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDatabasesListKeys.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDatabasesRegenerateKey.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDatabasesUpdate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDelete.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDeletePrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseGetPrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseList.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseListByResourceGroup.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseListPrivateEndpointConnections.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseListPrivateLinkResources.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterprisePutPrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseUpdate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/redisenterprise.json
  specification/redisenterprise/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, IDCDevDiv, BreakingChange-Approved-BugFix, PublishToCustomers

#31159 update image alias with new and remove deprecated
  arm-compute/quickstart-templates/aliases.json
Labels: PublishToCustomers

#31142 [Microsoft.App] Fix lint check issues
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/AppResiliency.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/AvailableWorkloadProfiles.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/BillingMeters.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/Builds.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/ContainerAppsBuilds.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/ContainerAppsPatches.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/Diagnostics.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/DotNetComponents.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/FunctionsExtension.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/Global.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/JavaComponents.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/LogicAppsExtension.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/ManagedEnvironmentsDaprComponentResiliencyPolicies.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/ManagedEnvironmentsDaprComponents.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/ManagedEnvironmentsDaprSubscriptions.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/ManagedEnvironmentsStorages.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/SourceControls.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/Subscriptions.json
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/Usages.json
Labels: ARMSignedOff, ARMReview, resource-manager

#31135 [AML] Fix LintDiff in staging branch
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/InferenceGroup/modifyDeltaModelsAsync.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/mfe.json
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired

#31040 Watchlists 2024-09-01
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2024-09-01/Watchlists.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2024-09-01/examples/watchlists/CreateWatchlist.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2024-09-01/examples/watchlists/CreateWatchlistAndWatchlistItems.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2024-09-01/examples/watchlists/DeleteWatchlist.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2024-09-01/examples/watchlists/GetWatchlistByAlias.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2024-09-01/examples/watchlists/GetWatchlists.json
Labels: ARMSignedOff, resource-manager, BreakingChange-Go-Sdk, BreakingChange-Python-Sdk

#31062 Update Details property of Recommended Actions API to resolve Swagger Model Validation
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/DatabaseAdvisors.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/DatabaseRecommendedActions.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/ServerAdvisors.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/examples/DatabaseRecommendedActionListExpand.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/examples/ServerRecommendedActionListExpand.json
Labels: SQL, ARMSignedOff, ARMReview, resource-manager

#31080 Update description for the following properties for SQL MI ARM REST A…
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-08-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/ManagedInstances.json
Labels: SQL, ARMSignedOff, ARMReview, resource-manager

#31165 Move java component suppression to global position
  specification/app/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager

#30903 add directive for cosmosdb
  specification/cosmos-db/resource-manager/readme.typescript.md
Labels: ARMSignedOff, Cosmos, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#31185 [Microsoft.App] Fix AppLogsConfiguration property description for 2024-10-02-preview api version
  specification/app/resource-manager/Microsoft.App/preview/2024-10-02-preview/ManagedEnvironments.json
Labels: ARMSignedOff, ARMReview, resource-manager

#31184 [Microsoft.App] Fix AppLogsConfiguration property description for existing versions
  specification/app/resource-manager/Microsoft.App/preview/2022-01-01-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2023-05-02-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/stable/2023-05-01/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/stable/2024-03-01/ManagedEnvironments.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#31199 [appplatform] Update readme.python.md
  specification/appplatform/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#31119 Lint Diff Suppression Swagger API Version 2024-05-01
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/virtualNetwork.json
  specification/network/resource-manager/readme.md
Labels: Network, ARMSignedOff, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired

#31181 Updating swagger mutability for requestedBackupStorageRedundancy in Managed Instance API
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-11-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-05-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-02-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-08-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/ManagedInstances.json
Labels: SQL, ARMSignedOff, ARMReview, resource-manager

#31162 Update swagger for microsoft.quota group quota
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/GetOperations.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/GroupQuotaLimits/ListGroupQuotaLimits-Compute.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/GroupQuotaLimitsRequests/GroupQuotaLimitsRequests_Get.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/GroupQuotaLimitsRequests/GroupQuotaLimitsRequests_List.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/GroupQuotaLimitsRequests/PatchGroupQuotaLimitsRequests-Compute.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/GroupQuotaUsages/GetGroupQuotaUsages.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/GroupQuotas/DeleteGroupQuotas.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/GroupQuotas/GetGroupQuotas.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/GroupQuotas/GetGroupQuotasList.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/GroupQuotas/PatchGroupQuotas.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/GroupQuotas/PutGroupQuotas.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/GroupQuotasEnforcement/GetGroupQuotaEnforcement.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/GroupQuotasEnforcement/ListGroupQuotaEnforcement.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/GroupQuotasEnforcement/PatchGroupQuotaEnforcement.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/GroupQuotasEnforcement/PutGroupQuotaEnforcement.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/GroupQuotasEnforcement/PutGroupQuotaEnforcementFailed.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/GroupQuotasSubscriptions/DeleteGroupQuotaSubscriptions.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/GroupQuotasSubscriptions/GetGroupQuotaSubscriptions.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/GroupQuotasSubscriptions/ListGroupQuotaSubscriptions.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/GroupQuotasSubscriptions/PatchGroupQuotasSubscription.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/GroupQuotasSubscriptions/PutGroupQuotasSubscription.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/SubscriptionQuotaAllocation/SubscriptionQuotaAllocation_List-Compute.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/SubscriptionQuotaAllocationRequests/PatchSubscriptionQuotaAllocationRequest-Compute.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/SubscriptionQuotaAllocationRequests/SubscriptionQuotaAllocationRequests_Get-Compute.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/SubscriptionQuotaAllocationRequests/SubscriptionQuotaAllocationRequests_List-Compute.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/SubscriptionRequests/SubscriptionRequests_Get.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/SubscriptionRequests/SubscriptionRequests_List.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/getComputeOneSkuQuotaLimit.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/getComputeOneSkuUsages.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/getComputeQuotaLimits.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/getComputeUsages.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/getMachineLearningServicesQuotaLimits.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/getMachineLearningServicesUsages.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/getNetworkOneSkuQuotaLimit.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/getNetworkOneSkuUsages.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/getNetworkQuotaLimits.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/getNetworkUsages.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/getQuotaRequestStatusById.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/getQuotaRequestStatusFailed.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/getQuotaRequestStatusInProgress.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/getQuotaRequestsHistory.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/patchComputeQuotaRequest.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/patchNetworkOneSkuQuotaRequest.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/putComputeOneSkuQuotaRequest.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/putMachineLearningServicesQuotaRequestLowPriority.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/putNetworkOneSkuQuotaRequest.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/examples/putNetworkOneSkuQuotaRequestStandardSkuPublicIpAddresses.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/groupquota.json
  specification/quota/resource-manager/Microsoft.Quota/preview/2024-10-15-preview/quota.json
  specification/quota/resource-manager/readme.go.md
  specification/quota/resource-manager/readme.java.md
  specification/quota/resource-manager/readme.md
  specification/quota/resource-manager/readme.python.md
  specification/quota/resource-manager/readme.ruby.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, PublishToCustomers
