Repository Azure/azure-rest-api-specs, pull requests merged in 2024-07, with the labels that each got.

#29630 Update readme.python.md
  specification/network/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#29642 MongoCluster, fix lro template PUT with 202
  specification/mongocluster/DocumentDB.MongoCluster.Management/FirewallRule.tsp
  specification/mongocluster/DocumentDB.MongoCluster.Management/PrivateEndpointConnection.tsp
Labels: TypeSpec

#29276 Remove flatten attribute to fix conflict for CLI generation tool
  specification/security/resource-manager/Microsoft.Security/preview/2022-12-01-preview/defenderForStorageSettings.json
  specification/security/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested, BreakingChange-Python-Sdk-Suppression-Approved, BreakingChange-Python-Sdk-Suppression

#29658 updated settings file
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/Settings.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/examples/settings/UpdateEyesOnSetting.json
Labels: resource-manager

#29653 Add new value 'none' to networkPolicy field
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-05-01/managedClusters.json
Labels: resource-manager

#29664 Fixed examples and property documentation in TestProfiles
  specification/loadtestservice/LoadTestService/examples/2024-05-01-preview/CreateOrUpdateTestProfile.json
  specification/loadtestservice/LoadTestService/examples/2024-05-01-preview/CreateOrUpdateTestProfileRun.json
  specification/loadtestservice/LoadTestService/examples/2024-05-01-preview/GetTestProfile.json
  specification/loadtestservice/LoadTestService/examples/2024-05-01-preview/GetTestProfileRun_Executed.json
  specification/loadtestservice/LoadTestService/examples/2024-05-01-preview/GetTestProfileRun_Executing.json
  specification/loadtestservice/LoadTestService/examples/2024-05-01-preview/ListTestProfileRuns.json
  specification/loadtestservice/LoadTestService/examples/2024-05-01-preview/ListTestProfiles.json
  specification/loadtestservice/LoadTestService/examples/2024-05-01-preview/StopTestProfileRun.json
  specification/loadtestservice/LoadTestService/models.testprofile.tsp
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-05-01-preview/examples/CreateOrUpdateTestProfile.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-05-01-preview/examples/CreateOrUpdateTestProfileRun.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-05-01-preview/examples/GetTestProfile.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-05-01-preview/examples/GetTestProfileRun_Executed.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-05-01-preview/examples/GetTestProfileRun_Executing.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-05-01-preview/examples/ListTestProfileRuns.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-05-01-preview/examples/ListTestProfiles.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-05-01-preview/examples/StopTestProfileRun.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-05-01-preview/loadtestservice.json
Labels: data-plane, TypeSpec

#29662 Update detection description
  specification/ai/Face/routes.detection.tsp
  specification/ai/data-plane/Face/preview/v1.1-preview.1/Face.json
Labels: data-plane, TypeSpec

#29462 Update Entities Controllers Lint Exceptions
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/Entities.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/EntityQueries.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/EntityQueryTemplates.json
Labels: resource-manager

#29666 update password in example to fix sdk credscan error
  specification/scvmm/ScVmm.Management/examples/2023-10-07/GuestAgents_Create_MaximumSet_Gen.json
  specification/scvmm/ScVmm.Management/examples/2023-10-07/VmmServers_CreateOrUpdate_MaximumSet_Gen.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/GuestAgents_Create_MaximumSet_Gen.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/examples/VmmServers_CreateOrUpdate_MaximumSet_Gen.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#29591 Support spring cloud gateway
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/JavaComponents.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/JavaComponents_List.json
Labels: ARMSignedOff, ARMReview, resource-manager

#29695 [azure fleet] Update tspconfig.yaml for python
  specification/azurefleet/AzureFleet.Management/tspconfig.yaml
Labels: TypeSpec

#29697 Update readme.md to remove `-track2` for python
  specification/mongocluster/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#29711 Update tspconfig.yaml
  specification/edgezones/EdgeZones.Management/tspconfig.yaml
Labels: TypeSpec

#29649 [AppServices] Add AutoGeneratedDomainNameLabelScope to Websites
  specification/web/resource-manager/Microsoft.Web/stable/2024-04-01/CommonDefinitions.json
Labels: ARMSignedOff, ARMReview, resource-manager, IDCDevDiv

#29692 [Call Automation] 2024-06-15 BETA4 #29691 - Adding OperationContext
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/communicationservicescallautomation.json
Labels: AzureAPIBoardSignedOff, data-plane, Versioning-Approved-BugFix, VersioningReviewRequired

#29325 Add new API Version 2024-06-01-preview for Microsoft.Resources\changes
  specification/resources/resource-manager/Microsoft.Resources/preview/2024-06-01-preview/changes.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2024-06-01-preview/examples/GetChange.json
  specification/resources/resource-manager/Microsoft.Resources/preview/2024-06-01-preview/examples/ListChanges.json
  specification/resources/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, Approved-Suppression, SuppressionReviewRequired, new-api-version, MergeRequested, BreakingChange-Approved-Previously, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-JavaScript-Sdk

#29515 Fix File Import Failures
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/FileImports.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/examples/fileImports/CreateFileImport.json
Labels: resource-manager

#29602 Consolidated DiskRP swagger changes for api version 2024-03-02
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2024-03-02/diskRestorePoint.json
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2024-03-02/examples/diskRestorePointExamples/DiskRestorePoint_Get.json
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2024-03-02/examples/diskRestorePointExamples/DiskRestorePoint_Get_WhenSourceResourceIsFromDifferentRegion.json
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2024-03-02/examples/diskRestorePointExamples/DiskRestorePoint_ListByVmRestorePoint.json
Labels: resource-manager

#29707 fix spread for purview datamap and translation document
  specification/purview/Azure.Analytics.Purview.DataMap/routes.tsp
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/stable/2023-09-01/purviewdatamap.json
  specification/translation/Azure.AI.DocumentTranslation/client.tsp
  specification/translation/Azure.AI.DocumentTranslation/models.tsp
  specification/translation/Azure.AI.DocumentTranslation/routes.tsp
  specification/translation/data-plane/Azure.AI.DocumentTranslation/stable/2024-05-01/openapi.json
Labels: data-plane, TypeSpec

#29723 fix body spread breaking change
  specification/ai/Face/models.session.tsp
  specification/ai/Face/routes.session.tsp
  specification/ai/data-plane/Face/preview/v1.1-preview.1/Face.json
  specification/communication/Communication.Messages/client.tsp
  specification/communication/Communication.Messages/models.tsp
  specification/communication/Communication.Messages/routes.tsp
  specification/communication/data-plane/Messages/stable/2024-02-01/communicationservicesmessages.json
  specification/riskiq/Easm/routes.tsp
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/easm.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2024-03-01-preview/easm.json
Labels: data-plane, RPaaS, TypeSpec

#29036 Updates HealthDataAiService.Deid with feedback from SDK Review Team
  cSpell.json
  specification/healthdataaiservices/HealthDataAIServices.Deidentification/client.tsp
  specification/healthdataaiservices/HealthDataAIServices.Deidentification/examples/2024-01-16-preview/CancelJob.json
  specification/healthdataaiservices/HealthDataAIServices.Deidentification/examples/2024-01-16-preview/CreateJob.json
  specification/healthdataaiservices/HealthDataAIServices.Deidentification/examples/2024-01-16-preview/Deidentify.json
  specification/healthdataaiservices/HealthDataAIServices.Deidentification/examples/2024-01-16-preview/DeleteJob.json
  specification/healthdataaiservices/HealthDataAIServices.Deidentification/examples/2024-01-16-preview/GetJob.json
  specification/healthdataaiservices/HealthDataAIServices.Deidentification/examples/2024-01-16-preview/ListJobFiles.json
  specification/healthdataaiservices/HealthDataAIServices.Deidentification/examples/2024-01-16-preview/ListJobs.json
  specification/healthdataaiservices/HealthDataAIServices.Deidentification/main.tsp
  specification/healthdataaiservices/HealthDataAIServices.Deidentification/models.tsp
  specification/healthdataaiservices/HealthDataAIServices.Deidentification/routes.tsp
  specification/healthdataaiservices/HealthDataAIServices.Deidentification/tspconfig.yaml
  specification/healthdataaiservices/data-plane/HealthDataAIServices.Deidentification/preview/2024-01-16-preview/HealthDataAIServices.Deidentification.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.Deidentification/preview/2024-01-16-preview/examples/CancelJob.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.Deidentification/preview/2024-01-16-preview/examples/CreateJob.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.Deidentification/preview/2024-01-16-preview/examples/Deidentify.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.Deidentification/preview/2024-01-16-preview/examples/DeleteJob.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.Deidentification/preview/2024-01-16-preview/examples/GetJob.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.Deidentification/preview/2024-01-16-preview/examples/ListJobFiles.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.Deidentification/preview/2024-01-16-preview/examples/ListJobs.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.Deidentification/readme.md
Labels: data-plane, TypeSpec

#29739 Update examples to use string for retry-after
  specification/communication/data-plane/Email/preview/2021-10-01-preview/examples/GetSendStatus.json
  specification/communication/data-plane/Email/preview/2021-10-01-preview/examples/SendEmail.json
  specification/communication/data-plane/Email/preview/2023-01-15-preview/examples/GetOperationStatusReturnsNonTerminalStatus.json
  specification/communication/data-plane/Email/preview/2023-01-15-preview/examples/SendEmail.json
  specification/communication/data-plane/Email/stable/2023-03-31/examples/GetOperationStatusReturnsNonTerminalStatus.json
  specification/communication/data-plane/Email/stable/2023-03-31/examples/SendEmail.json
Labels: data-plane

#29737 [DevOpsInfrastructure] Add `.Management` suffix to TypeSpec folder name
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/client.tsp
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2023-12-13-preview/CreateOrUpdatePool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2023-12-13-preview/DeletePool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2023-12-13-preview/GetPool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2023-12-13-preview/ListOperations.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2023-12-13-preview/ListPoolsBySubscription.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2023-12-13-preview/ListPoolsBySubscriptionAndResourceGroup.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2023-12-13-preview/UpdatePool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-03-26-preview/CreateOrUpdatePool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-03-26-preview/DeletePool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-03-26-preview/GetPool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-03-26-preview/ListOperations.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-03-26-preview/ListPoolsBySubscription.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-03-26-preview/ListPoolsBySubscriptionAndResourceGroup.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-03-26-preview/ResourceDetails_ListByPool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-03-26-preview/Sku_ListByLocation.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-03-26-preview/UpdatePool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-04-04-preview/CreateOrUpdatePool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-04-04-preview/DeletePool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-04-04-preview/GetPool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-04-04-preview/ImageVersions_ListByImage.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-04-04-preview/ListOperations.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-04-04-preview/ListPoolsBySubscription.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-04-04-preview/ListPoolsBySubscriptionAndResourceGroup.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-04-04-preview/ResourceDetails_ListByPool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-04-04-preview/Sku_ListByLocation.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-04-04-preview/SubscriptionUsages_Usages.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2024-04-04-preview/UpdatePool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/main.tsp
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/tspconfig.yaml
Labels: TypeSpec, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk

#29742 move directive to readme.md to avoid unnecessary breaking changes for…
  specification/liftrqumulo/resource-manager/readme.go.md
  specification/liftrqumulo/resource-manager/readme.md
  specification/liftrqumulo/resource-manager/readme.typescript.md
  specification/liftrqumulo/resource-manager/sdk-suppressions.yaml
Labels: resource-manager, ReadyForApiTest, RPaaS, BreakingChange-JavaScript-Sdk-Suppression-Approved, BreakingChange-JavaScript-Sdk-Suppression

#28483 Update fields description for VectorQuery
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/searchindex.json
Labels: data-plane

#29721 Microsoft.Fabric - Fix Delete & Update Status Codes.
  specification/fabric/Microsoft.Fabric.Management/capacity.tsp
  specification/fabric/Microsoft.Fabric.Management/examples/2023-11-01/FabricCapacities_Delete.json
  specification/fabric/Microsoft.Fabric.Management/examples/2023-11-01/FabricCapacities_Update.json
  specification/fabric/resource-manager/Microsoft.Fabric/stable/2023-11-01/examples/FabricCapacities_Delete.json
  specification/fabric/resource-manager/Microsoft.Fabric/stable/2023-11-01/examples/FabricCapacities_Update.json
  specification/fabric/resource-manager/Microsoft.Fabric/stable/2023-11-01/fabric.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-BugFix

#29634 Update mfe.json to fix out of order generation for April GA
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#29470 Add new API version (2024-06-01), and nxdomainRedirect property to VirtualNetworkLink resource
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/PrivateZoneDelete.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/PrivateZoneGet.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/PrivateZoneListInResourceGroup.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/PrivateZoneListInSubscription.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/PrivateZonePatch.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/PrivateZonePut.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetAAAADelete.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetAAAAGet.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetAAAAList.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetAAAAPatch.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetAAAAPut.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetADelete.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetAGet.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetALLList.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetAList.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetAPatch.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetAPut.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetCNAMEDelete.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetCNAMEGet.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetCNAMEList.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetCNAMEPatch.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetCNAMEPut.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetMXDelete.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetMXGet.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetMXList.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetMXPatch.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetMXPut.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetPTRDelete.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetPTRGet.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetPTRList.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetPTRPatch.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetPTRPut.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetSOAGet.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetSOAList.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetSOAPatch.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetSOAPut.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetSRVDelete.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetSRVGet.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetSRVList.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetSRVPatch.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetSRVPut.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetTXTDelete.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetTXTGet.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetTXTList.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetTXTPatch.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/RecordSetTXTPut.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/VirtualNetworkLinkDelete.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/VirtualNetworkLinkGet.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/VirtualNetworkLinkList.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/VirtualNetworkLinkPatch.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/examples/VirtualNetworkLinkPut.json
  specification/privatedns/resource-manager/Microsoft.Network/stable/2024-06-01/privatedns.json
  specification/privatedns/resource-manager/readme.go.md
  specification/privatedns/resource-manager/readme.md
  specification/privatedns/resource-manager/readme.nodejs.md
  specification/privatedns/resource-manager/readme.python.md
  specification/privatedns/resource-manager/readme.ruby.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, MergeRequested

#28741 Change default deployment for MS team channel to CommercialDeployment
  specification/botservice/resource-manager/Microsoft.BotService/preview/2023-09-15-preview/botservice.json
Labels: ARMSignedOff, customer-reported, ARMReview, resource-manager, ReadyForApiTest, MergeRequested, BreakingChange-Approved-BugFix

#29740 [Monitor] Add .Management suffix to TypeSpec folder name
  specification/monitor/Microsoft.Monitor.Management/examples/2023-10-01-preview/AzureMonitorWorkspaceCreate.json
  specification/monitor/Microsoft.Monitor.Management/examples/2023-10-01-preview/AzureMonitorWorkspaceDelete.json
  specification/monitor/Microsoft.Monitor.Management/examples/2023-10-01-preview/AzureMonitorWorkspaceGet.json
  specification/monitor/Microsoft.Monitor.Management/examples/2023-10-01-preview/AzureMonitorWorkspaceUpdate.json
  specification/monitor/Microsoft.Monitor.Management/examples/2023-10-01-preview/AzureMonitorWorkspacesListByResourceGroup.json
  specification/monitor/Microsoft.Monitor.Management/examples/2023-10-01-preview/AzureMonitorWorkspacesListBySubscription.json
  specification/monitor/Microsoft.Monitor.Management/examples/2023-10-01-preview/OperationsList.json
  specification/monitor/Microsoft.Monitor.Management/examples/2023-10-01-preview/PipelineGroupCreateSyslogs.json
  specification/monitor/Microsoft.Monitor.Management/examples/2023-10-01-preview/PipelineGroupCreateSyslogsWithCache.json
  specification/monitor/Microsoft.Monitor.Management/examples/2023-10-01-preview/PipelineGroupCreateSyslogsWithNetworking.json
  specification/monitor/Microsoft.Monitor.Management/examples/2023-10-01-preview/PipelineGroupCreateUdp.json
  specification/monitor/Microsoft.Monitor.Management/examples/2023-10-01-preview/PipelineGroupDelete.json
  specification/monitor/Microsoft.Monitor.Management/examples/2023-10-01-preview/PipelineGroupGet.json
  specification/monitor/Microsoft.Monitor.Management/examples/2023-10-01-preview/PipelineGroupListByResourceGroup.json
  specification/monitor/Microsoft.Monitor.Management/examples/2023-10-01-preview/PipelineGroupListBySubscription.json
  specification/monitor/Microsoft.Monitor.Management/examples/2023-10-01-preview/PipelineGroupUpdate.json
  specification/monitor/Microsoft.Monitor.Management/main.tsp
  specification/monitor/Microsoft.Monitor.Management/tspconfig.yaml
  specification/monitor/Microsoft.Monitor.Management/typespec/azureMonitorWorkspace.tsp
  specification/monitor/Microsoft.Monitor.Management/typespec/exporters/AzureMonitorWorkspaceLogs.tsp
  specification/monitor/Microsoft.Monitor.Management/typespec/exporters/TcpExporters.tsp
  specification/monitor/Microsoft.Monitor.Management/typespec/pipelineGroup.tsp
  specification/monitor/Microsoft.Monitor.Management/typespec/processors/BatchProcessor.tsp
  specification/monitor/Microsoft.Monitor.Management/typespec/receivers/OtlpReceiver.tsp
  specification/monitor/Microsoft.Monitor.Management/typespec/receivers/SyslogReceiver.tsp
  specification/monitor/Microsoft.Monitor.Management/typespec/receivers/TcpReceivers.tsp
  specification/monitor/Microsoft.Monitor.Management/typespec/service.tsp
Labels: TypeSpec

#29747 [VerifiedId] Add ".Management" suffix to TypeSpec folder name
  specification/verifiedid/Microsoft.VerifiedId.Management/examples/2024-01-26-preview/Authorities_CreateOrUpdate.json
  specification/verifiedid/Microsoft.VerifiedId.Management/examples/2024-01-26-preview/Authorities_Delete.json
  specification/verifiedid/Microsoft.VerifiedId.Management/examples/2024-01-26-preview/Authorities_Get.json
  specification/verifiedid/Microsoft.VerifiedId.Management/examples/2024-01-26-preview/Authorities_ListByResourceGroup.json
  specification/verifiedid/Microsoft.VerifiedId.Management/examples/2024-01-26-preview/Authorities_ListBySubscription.json
  specification/verifiedid/Microsoft.VerifiedId.Management/examples/2024-01-26-preview/Authorities_Update.json
  specification/verifiedid/Microsoft.VerifiedId.Management/examples/2024-01-26-preview/Operations_List.json
  specification/verifiedid/Microsoft.VerifiedId.Management/main.tsp
  specification/verifiedid/Microsoft.VerifiedId.Management/tspconfig.yaml
Labels: TypeSpec

#29332 Files OAuth full data plane support
  specification/storage/data-plane/Microsoft.FileStorage/stable/2024-11-04/file.json
Labels: data-plane

#29335 Premium Files Paid Bust
  specification/storage/data-plane/Microsoft.FileStorage/stable/2024-11-04/file.json
Labels: data-plane

#29342 Added support for format parameter on Share Get Permission
  specification/storage/data-plane/Microsoft.FileStorage/stable/2024-11-04/file.json
Labels: data-plane

#29755 disable flatten for informatica
  specification/informatica/Informatica.DataManagement/tspconfig.yaml
  specification/informatica/resource-manager/readme.md
  specification/informatica/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, TypeSpec

#29769 Update readme.python.md
  specification/informatica/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS

#29770 tsp, BodyParameter, fix a few missed op in OpenAI
  specification/ai/OpenAI.Assistants/vector_stores/routes.tsp
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV2/preview/2024-05-01-preview/assistants_generated.json
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV3/2024-05-01-preview/assistants_generated.yaml
  specification/cognitiveservices/OpenAI.Inference/routes/audio_speech.tsp
  specification/cognitiveservices/OpenAI.Inference/routes/completions.tsp
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-06-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-07-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-03-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-04-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-05-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/stable/2023-05-15/generated.json
Labels: Approved-LintDiff, data-plane, TypeSpec

#29521 tsp, loadtesting, remove empty visibility from FileInfo.fileName
  specification/loadtestservice/LoadTestService/models.tsp
Labels: TypeSpec

#29768 [Face] Enable stream-style-serialization
  specification/ai/Face/tspconfig.yaml
Labels: TypeSpec

#29783 [TypeSpec] Upgrade typespec-apiview to 0.4.9
  package-lock.json
  package.json
Labels: PipelineBotTrigger

#29675 Fix casing of timestamp properties
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Communication/AzureCommunicationServices.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/examples/2024-01-01/email_delivery_report_received.json
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/examples/2024-01-01/email_engagement_tracking_report_received.json
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/propertyNameOverride.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/propertyNameOverrideCsharp.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/propertyNameOverrideGo.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/propertyNameOverrideJs.tsp
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/AzureCommunicationServices.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/email_delivery_report_received.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/email_engagement_tracking_report_received.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/email_delivery_report_received.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/email_engagement_tracking_report_received.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2024-01-01/SystemEvents.json
Labels: data-plane, BreakingChangeReviewRequired, TypeSpec

#29596 Update for Import/Export with Managed Identity
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/DatabaseExtensions.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/Databases.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/Servers.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/examples/ExportDatabaseUsingDatabaseExtensionsWithManagedIdentity.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/examples/ExportDatabaseWithManagedIdentity.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/examples/ImportDatabaseWithManagedIdentity.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/examples/ImportNewDatabaseWithManagedIdentity.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#28912 adding MessageAnalysisCompletedEvent to EG SDk
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Communication/AzureCommunicationServices.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Communication/client.tsp
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/AzureCommunicationServices.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/advanced_message_analysis_completed.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/advanced_message_delivery_status_updated.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/advanced_message_received.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/advanced_message_analysis_completed.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/advanced_message_delivery_status_updated.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/advanced_message_received.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2024-01-01/SystemEvents.json
Labels: data-plane, TypeSpec

#29789 Revert "adding MessageAnalysisCompletedEvent to EG SDk"
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Communication/AzureCommunicationServices.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Communication/client.tsp
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/AzureCommunicationServices.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/advanced_message_analysis_completed.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/advanced_message_delivery_status_updated.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/advanced_message_received.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/advanced_message_analysis_completed.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/advanced_message_delivery_status_updated.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/advanced_message_received.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2024-01-01/SystemEvents.json
Labels: data-plane, TypeSpec

#29166 Added examples for new api version - 2024-04-05 in GuestConfigurationRP
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/examples/createOrUpdateGuestConfigurationAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/examples/createOrUpdateGuestConfigurationConnectedVMwarevSphereAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/examples/createOrUpdateGuestConfigurationHCRPAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/examples/createOrUpdateGuestConfigurationVMSSAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/examples/deleteGuestConfigurationAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/examples/deleteGuestConfigurationConnectedVMwarevSphereAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/examples/deleteGuestConfigurationHCRPAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/examples/deleteGuestConfigurationVMSSAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/examples/getGuestConfigurationAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/examples/getGuestConfigurationAssignmentReportById.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/examples/getGuestConfigurationConnectedVMwarevSphereAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/examples/getGuestConfigurationConnectedVMwarevSphereAssignmentReportById.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/examples/getGuestConfigurationHCRPAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/examples/getGuestConfigurationHCRPAssignmentReportById.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/examples/getVMSSGuestConfigurationAssignment.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/examples/getVMSSGuestConfigurationAssignmentReportById.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/examples/listAllGuestConfigurationAssignmentReports.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/examples/listAllGuestConfigurationConnectedVMwarevSphereAssignmentsReports.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/examples/listAllGuestConfigurationHCRPAssignmentReports.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/examples/listAllVMSSGuestConfigurationAssignmentReports.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/examples/listGuestConfigurationAssignments.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/examples/listGuestConfigurationConnectedVMwarevSphereAssignments.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/examples/listGuestConfigurationHCRPAssignments.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/examples/listOperations.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/examples/listRGGuestConfigurationAssignments.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/examples/listSubGuestConfigurationAssignments.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/examples/listVMSSGuestConfigurationAssignments.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/guestconfiguration.json
  specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/stable/2024-04-05/scenarios/GuestAssignmentTests.yaml
  specification/guestconfiguration/resource-manager/readme.go.md
  specification/guestconfiguration/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, MergeRequested

#29638 Add finetuning job with maap contracts.
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/examples/Job/FineTuningJob/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/examples/Job/FineTuningJob/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/examples/Job/FineTuningJob/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/mfe.json
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#29777 java update automation config
  specificationRepositoryConfiguration.json
Labels: Approved-ModelValidation, Approved-SemanticValidation, BreakingChange-Approved-Benign

#29759 Adding enabledFilteringCriteria field to 2024-03-01 NetworkWatcher Flowlogs
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/NetworkWatcherFlowLogCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/NetworkWatcherFlowLogGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/NetworkWatcherFlowLogList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/NetworkWatcherFlowLogUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/networkWatcher.json
Labels: ARMSignedOff, ARMReview, resource-manager

#29793 [qumulo] rename property name for python sdk
  specification/liftrqumulo/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk

#29738 [Informatica.DataManagement] Add .Management suffix to TypeSpec folder name
  specification/informatica/Informatica.DataManagement.Management/client.tsp
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/Operations_List_MaximumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/Operations_List_MinimumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/Organizations_CreateOrUpdate_MaximumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/Organizations_CreateOrUpdate_MinimumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/Organizations_Delete_MaximumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/Organizations_Delete_MinimumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/Organizations_GetAllServerlessRuntimes_MaximumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/Organizations_GetAllServerlessRuntimes_MinimumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/Organizations_GetServerlessMetadata_MaximumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/Organizations_GetServerlessMetadata_MinimumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/Organizations_Get_MaximumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/Organizations_Get_MinimumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/Organizations_ListByResourceGroup_MaximumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/Organizations_ListByResourceGroup_MinimumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/Organizations_ListBySubscription_MaximumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/Organizations_ListBySubscription_MinimumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/Organizations_Update_MaximumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/Organizations_Update_MinimumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/ServerlessRuntimes_CheckDependencies_MaximumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/ServerlessRuntimes_CheckDependencies_MinimumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/ServerlessRuntimes_CreateOrUpdate_MaximumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/ServerlessRuntimes_CreateOrUpdate_MinimumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/ServerlessRuntimes_Delete_MaximumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/ServerlessRuntimes_Get_MaximumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/ServerlessRuntimes_Get_MinimumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/ServerlessRuntimes_ListByInformaticaOrganizationResource_MaximumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/ServerlessRuntimes_ServerlessResourceById_MaximumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/ServerlessRuntimes_StartFailedServerlessRuntime_MaximumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/ServerlessRuntimes_Update_MaximumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/examples/2024-05-08/ServerlessRuntimes_Update_MinimumSet_Gen.json
  specification/informatica/Informatica.DataManagement.Management/main.tsp
  specification/informatica/Informatica.DataManagement.Management/tspconfig.yaml
Labels: TypeSpec

#29797 Fix acronym casing
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/propertyNameOverrideCsharp.tsp
Labels: TypeSpec

#29786 Fileimports fix
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/FileImports.json
Labels: resource-manager

#29322 Update powerbidedicated.json
  specification/powerbidedicated/resource-manager/Microsoft.PowerBIdedicated/stable/2017-10-01/powerbidedicated.json
Labels: Model Validation, ARMSignedOff, customer-reported, Approved-ModelValidation, ARMReview, resource-manager

#29835 Changes for breaking change in microsoft/typespec/pr/3737
  specification/machinelearningservices/AzureAI.Assets/routes.tsp
  specification/purview/Azure.Analytics.Purview.DataMap/routes.tsp
Labels: TypeSpec

#29814 Update readme.md to remove -track2 for python
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/readme.md
  specification/kubernetesruntime/resource-manager/readme.md
  specification/mysql/resource-manager/readme.md
  specification/servicelinker/resource-manager/readme.md
  specification/verifiedid/resource-manager/readme.md
Labels: WaitForARMFeedback, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-JavaScript-Sdk

#29838 java mgmt, dataprotection, hide auth headers
  specification/dataprotection/resource-manager/readme.java.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#24529 update compute typescript.md
  specification/compute/resource-manager/readme.typescript.md
  specification/compute/resource-manager/sdk-suppressions.yaml
Labels: Compute, resource-manager, ReadyForApiTest, BreakingChange-JavaScript-Sdk-Suppression-Approved, BreakingChange-JavaScript-Sdk-Suppression

#29839 easm, java sdk, tspconfig api-version=2023-03-01-preview, fix 1 BodyParameter
  specification/riskiq/Easm/routes.tsp
  specification/riskiq/Easm/tspconfig.yaml
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/easm.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2024-03-01-preview/easm.json
Labels: data-plane, RPaaS, TypeSpec, PublishToCustomers

#29820 Add stub `specs-model` tool
  .github/workflows/_reusable-eng-tools-test.yaml
  .github/workflows/specs-model-test.yaml
  .gitignore
  eng/.vscode/settings.json
  eng/README.md
  eng/tools/package.json
  eng/tools/specs-model/.prettierignore
  eng/tools/specs-model/.prettierrc.mjs
  eng/tools/specs-model/cmd/get-specs-model.js
  eng/tools/specs-model/eslint.config.js
  eng/tools/specs-model/package.json
  eng/tools/specs-model/src/getSpecsModel.ts
  eng/tools/specs-model/src/index.ts
  eng/tools/specs-model/test/getSpecsModel.test.ts
  eng/tools/specs-model/tsconfig.json
  eng/tools/suppressions/cmd/get-suppressions.js
  eng/tools/suppressions/package.json
  eng/tools/suppressions/src/suppressions.ts
  package-lock.json
Labels: PipelineBotTrigger

#29840 Fix operation id in Speech-To-Text preview API (no SDK)
  specification/cognitiveservices/data-plane/Speech/SpeechToText/preview/2024-05-15-preview/speechtotext.json
Labels: data-plane, BreakingChange-Approved-Benign, Versioning-Approved-Benign, VersioningReviewRequired, PublishToCustomers

#29663 [TypeSpecValidation] Enforce ".Management" suffix
  eng/tools/typespec-validation/src/rules/folder-structure.ts
  eng/tools/typespec-validation/test/folder-structure.test.ts
Labels: PipelineBotTrigger

#29525 fix example api version
  specification/network/resource-manager/Microsoft.Network/stable/2023-06-01/examples/GetApplicationGatewayWafDynamicManifests.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-06-01/examples/GetApplicationGatewayWafDynamicManifestsDefault.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/GetApplicationGatewayWafDynamicManifests.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/GetApplicationGatewayWafDynamicManifestsDefault.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/GetApplicationGatewayWafDynamicManifests.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/GetApplicationGatewayWafDynamicManifestsDefault.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#29716 Remove Get GlobalCommunicationsSite API from Orbital AODG APIs
  specification/orbital/resource-manager/Microsoft.Orbital/aodg/preview/2024-03-01-preview/aodg.json
  specification/orbital/resource-manager/Microsoft.Orbital/aodg/preview/2024-03-01-preview/examples/GlobalCommunicationsSiteGet.json
  specification/orbital/resource-manager/Microsoft.Orbital/aodg/stable/2024-03-01/aodg.json
  specification/orbital/resource-manager/Microsoft.Orbital/aodg/stable/2024-03-01/examples/GlobalCommunicationsSiteGet.json
Labels: ARMSignedOff, customer-reported, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-BugFix

#29826 Add Virtual Network Property PrivateEndpointsVNetPolicies
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/virtualNetwork.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#29827 Verify breaking change extend on friendlyName rework
  specification/devcenter/DevCenter/DevBox/models.tsp
  specification/devcenter/DevCenter/DevBox/routes.tsp
  specification/loadtestservice/LoadTestService.Management/models.tsp
  specification/loadtestservice/LoadTestService.Management/routes.tsp
  specification/oracle/Oracle.Database/operations/commons.tsp
Labels: TypeSpec

#29762 [EG] update utc datetime to optional
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Cache/RedisCache.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Communication/AzureCommunicationServices.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.ContainerRegistry/ContainerRegistry.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.DataBox/DataBox.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.EventGrid/EventGrid.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.EventHub/EventHub.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.MachineLearningServices/MachineLearningServices.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.PolicyInsights/PolicyInsights.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.ResourceNotifications/ResourceNotifications.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.SignalRService/SignalRService.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Storage/Storage.tsp
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/GeneratedSystemEvents.json
Labels: ARMReview, resource-manager, data-plane, ReadyForApiTest, BreakingChangeReviewRequired, TypeSpec, NotReadyForARMReview

#29749 tsp, openai-assistants, refactor BodyParameter
  specification/ai/OpenAI.Assistants/assistants/routes.tsp
  specification/ai/OpenAI.Assistants/client.tsp
  specification/ai/OpenAI.Assistants/common/models.tsp
  specification/ai/OpenAI.Assistants/messages/routes.tsp
  specification/ai/OpenAI.Assistants/runs/routes.tsp
  specification/ai/OpenAI.Assistants/threads/routes.tsp
  specification/ai/OpenAI.Assistants/vector_stores/routes.tsp
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV2/preview/2024-02-15-preview/assistants_generated.json
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV2/preview/2024-05-01-preview/assistants_generated.json
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV3/2024-02-15-preview/assistants_generated.yaml
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV3/2024-05-01-preview/assistants_generated.yaml
Labels: data-plane, TypeSpec, PublishToCustomers

#29743 tsp, openai, refactor BodyParameter
  specification/cognitiveservices/OpenAI.Inference/client.tsp
  specification/cognitiveservices/OpenAI.Inference/models/audio/audio_speech.tsp
  specification/cognitiveservices/OpenAI.Inference/models/audio/audio_transcription.tsp
  specification/cognitiveservices/OpenAI.Inference/models/audio/audio_translation.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/chat_completions.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/completions_create.tsp
  specification/cognitiveservices/OpenAI.Inference/models/embeddings_create.tsp
  specification/cognitiveservices/OpenAI.Inference/models/images/images.tsp
  specification/cognitiveservices/OpenAI.Inference/routes/audio_speech.tsp
  specification/cognitiveservices/OpenAI.Inference/routes/audio_transcription.tsp
  specification/cognitiveservices/OpenAI.Inference/routes/audio_translation.tsp
  specification/cognitiveservices/OpenAI.Inference/routes/completions.tsp
  specification/cognitiveservices/OpenAI.Inference/routes/embeddings.tsp
  specification/cognitiveservices/OpenAI.Inference/routes/images.tsp
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-06-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-07-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-03-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-04-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-05-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/stable/2022-12-01/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/stable/2023-05-15/generated.json
Labels: data-plane, TypeSpec, PublishToCustomers

#29745 Initial Creation of Azure.Health.Deidentification Dataplane API Typespec
  cSpell.json
  specification/healthdataaiservices/HealthDataAIServices.DeidServices/client.tsp
  specification/healthdataaiservices/HealthDataAIServices.DeidServices/examples/2024-07-12-preview/CancelJob.json
  specification/healthdataaiservices/HealthDataAIServices.DeidServices/examples/2024-07-12-preview/CreateJob.json
  specification/healthdataaiservices/HealthDataAIServices.DeidServices/examples/2024-07-12-preview/Deidentify.json
  specification/healthdataaiservices/HealthDataAIServices.DeidServices/examples/2024-07-12-preview/DeleteJob.json
  specification/healthdataaiservices/HealthDataAIServices.DeidServices/examples/2024-07-12-preview/GetJob.json
  specification/healthdataaiservices/HealthDataAIServices.DeidServices/examples/2024-07-12-preview/ListJobDocuments.json
  specification/healthdataaiservices/HealthDataAIServices.DeidServices/examples/2024-07-12-preview/ListJobs.json
  specification/healthdataaiservices/HealthDataAIServices.DeidServices/main.tsp
  specification/healthdataaiservices/HealthDataAIServices.DeidServices/models.tsp
  specification/healthdataaiservices/HealthDataAIServices.DeidServices/routes.tsp
  specification/healthdataaiservices/HealthDataAIServices.DeidServices/tspconfig.yaml
  specification/healthdataaiservices/data-plane/HealthDataAIServices.DeidServices/preview/2024-07-12-preview/HealthDataAIServices.DeidServices.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.DeidServices/preview/2024-07-12-preview/examples/CancelJob.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.DeidServices/preview/2024-07-12-preview/examples/CreateJob.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.DeidServices/preview/2024-07-12-preview/examples/Deidentify.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.DeidServices/preview/2024-07-12-preview/examples/DeleteJob.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.DeidServices/preview/2024-07-12-preview/examples/GetJob.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.DeidServices/preview/2024-07-12-preview/examples/ListJobDocuments.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.DeidServices/preview/2024-07-12-preview/examples/ListJobs.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.DeidServices/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, new-api-version, TypeSpec, MergeRequested, PipelineBotTrigger, PublishToCustomers

#29656 [Batch] Switch contentLength from int64 to string
  specification/batch/Azure.Batch/common.tsp
  specification/batch/Azure.Batch/examples/2024-02-01.19.0/Nodes_ListNodeFiles.json
  specification/batch/Azure.Batch/examples/2024-02-01.19.0/Tasks_ListTaskFiles.json
  specification/batch/Azure.Batch/models.tsp
  specification/batch/data-plane/Azure.Batch/preview/2024-02-01.19.0/BatchService.json
  specification/batch/data-plane/Azure.Batch/preview/2024-02-01.19.0/examples/Nodes_ListNodeFiles.json
  specification/batch/data-plane/Azure.Batch/preview/2024-02-01.19.0/examples/Tasks_ListTaskFiles.json
Labels: data-plane, TypeSpec, Versioning-Approved-BugFix, VersioningReviewRequired, PublishToCustomers

#29872 Fixed TSP validation failures
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/stable/2024-02-01/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/stable/2024-06-01/generated.json
Labels: data-plane, TypeSpec

#29876 Update PR templates: fix typo in hyperlink
  .github/PULL_REQUEST_TEMPLATE/control_plane_template.md
  .github/PULL_REQUEST_TEMPLATE/data_plane_template.md
Labels: Central-EngSys, Spec PR Tools

#29873 Remove unused customization-class from tspconfig
  specification/healthdataaiservices/HealthDataAIServices.DeidServices/tspconfig.yaml
Labels: TypeSpec

#29881 Update readme.python.md
  specification/eventhub/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#29886 Update readme.python.md
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/openshiftclusters/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#29632 Remove unsupported If-Match header value for Blob Immutability Policy operations
  specification/storage/resource-manager/Microsoft.Storage/stable/2023-05-01/blob.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#29659 Microsoft.HealthDataAIServices: New API version 2024-02-28-preview
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-02-28-preview/DeidServices_Create_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-02-28-preview/DeidServices_Delete_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-02-28-preview/DeidServices_Get_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-02-28-preview/DeidServices_ListByResourceGroup_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-02-28-preview/DeidServices_ListBySubscription_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-02-28-preview/DeidServices_Update_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-02-28-preview/Operations_List_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-02-28-preview/Operations_List_MinimumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-02-28-preview/PrivateEndpointConnections_Create_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-02-28-preview/PrivateEndpointConnections_Delete_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-02-28-preview/PrivateEndpointConnections_Get_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-02-28-preview/PrivateEndpointConnections_ListByDeidService_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-02-28-preview/PrivateLinks_ListByDeidService_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/main.tsp
  specification/healthdataaiservices/HealthDataAIServices.Management/tspconfig.yaml
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/examples/DeidServices_Create_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/examples/DeidServices_Delete_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/examples/DeidServices_Get_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/examples/DeidServices_ListByResourceGroup_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/examples/DeidServices_ListBySubscription_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/examples/DeidServices_Update_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/examples/Operations_List_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/examples/Operations_List_MinimumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/examples/PrivateEndpointConnections_Create_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/examples/PrivateEndpointConnections_Delete_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/examples/PrivateEndpointConnections_Get_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/examples/PrivateEndpointConnections_ListByDeidService_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/examples/PrivateLinks_ListByDeidService_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/openapi.json
  specification/healthdataaiservices/resource-manager/readme.az.md
  specification/healthdataaiservices/resource-manager/readme.cli.md
  specification/healthdataaiservices/resource-manager/readme.csharp.md
  specification/healthdataaiservices/resource-manager/readme.go.md
  specification/healthdataaiservices/resource-manager/readme.java.md
  specification/healthdataaiservices/resource-manager/readme.md
  specification/healthdataaiservices/resource-manager/readme.python.md
  specification/healthdataaiservices/resource-manager/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, new-rp-namespace, TypeSpec, MergeRequested

#29676 Add listRegistrationToken endpoint to latest stable and preview versions
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-04-08-preview/desktopvirtualization.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-04-08-preview/examples/HostPools_ListRegistrationToken_Post.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2024-04-03/desktopvirtualization.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2024-04-03/examples/HostPools_ListRegistrationToken_Post.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2024-04-03/examples/MsixImage_Expand_Post.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested, Versioning-Approved-Benign, VersioningReviewRequired

#29709 [DataFactory]Support ‘domain’ Property In Dynamics Family
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
Labels: ARMSignedOff, ARMReview, resource-manager, data-plane, ReadyForApiTest, BreakingChangeReviewRequired, CI-BreakingChange-DotNet, MergeRequested, BreakingChange-Approved-UserImpact, PublishToCustomers

#29775 [EventHub] Readme pkg Tag Updated
  specification/eventhub/resource-manager/readme.md
Labels: resource-manager, MergeRequested

#29909 Fix HealthDataAiService from TypeSpec update
  specification/healthdataaiservices/HealthDataAIServices.Management/main.tsp
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/openapi.json
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, RPaaS, TypeSpec, Versioning-Approved-Benign

#29888 Update readme.python.md
  specification/compute/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#29868 Update allowlist config and examples
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/WafListAllPolicies.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/WafListPolicies.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/WafPolicyCreateOrUpdate.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/WafPolicyGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/webapplicationfirewall.json
Labels: ARMSignedOff, ARMReview, resource-manager, AzCoreIDC

#29493 Remove useref and Fleet update changes
  specification/azurefleet/AzureFleet.Management/baseVirtualMachineProfile.tsp
  specification/azurefleet/AzureFleet.Management/common.tsp
  specification/azurefleet/AzureFleet.Management/examples/2023-11-01-preview/Fleets_CreateOrUpdate_MaximumSet.json
  specification/azurefleet/AzureFleet.Management/examples/2023-11-01-preview/Fleets_Get_MaximumSet.json
  specification/azurefleet/AzureFleet.Management/examples/2023-11-01-preview/Fleets_ListByResourceGroup_MaximumSet.json
  specification/azurefleet/AzureFleet.Management/examples/2023-11-01-preview/Fleets_ListBySubscription_MaximumSet.json
  specification/azurefleet/AzureFleet.Management/examples/2023-11-01-preview/Fleets_Update_MaximumSet.json
  specification/azurefleet/AzureFleet.Management/examples/2024-05-01-preview/Fleets_CreateOrUpdate.json
  specification/azurefleet/AzureFleet.Management/examples/2024-05-01-preview/Fleets_CreateOrUpdate_MinimumSet.json
  specification/azurefleet/AzureFleet.Management/examples/2024-05-01-preview/Fleets_Get.json
  specification/azurefleet/AzureFleet.Management/examples/2024-05-01-preview/Fleets_ListByResourceGroup.json
  specification/azurefleet/AzureFleet.Management/examples/2024-05-01-preview/Fleets_ListBySubscription.json
  specification/azurefleet/AzureFleet.Management/examples/2024-05-01-preview/Fleets_ListVirtualMachineScaleSets.json
  specification/azurefleet/AzureFleet.Management/examples/2024-05-01-preview/Fleets_Update.json
  specification/azurefleet/AzureFleet.Management/fleet.tsp
  specification/azurefleet/AzureFleet.Management/main.tsp
  specification/azurefleet/AzureFleet.Management/virtualMachineScaleSet.tsp
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2023-11-01-preview/azurefleet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2023-11-01-preview/examples/Fleets_CreateOrUpdate_MaximumSet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2023-11-01-preview/examples/Fleets_Get_MaximumSet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2023-11-01-preview/examples/Fleets_ListByResourceGroup_MaximumSet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2023-11-01-preview/examples/Fleets_ListBySubscription_MaximumSet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2023-11-01-preview/examples/Fleets_Update_MaximumSet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2024-05-01-preview/azurefleet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2024-05-01-preview/examples/Fleets_CreateOrUpdate.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2024-05-01-preview/examples/Fleets_CreateOrUpdate_MinimumSet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2024-05-01-preview/examples/Fleets_Get.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2024-05-01-preview/examples/Fleets_ListByResourceGroup.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2024-05-01-preview/examples/Fleets_ListBySubscription.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2024-05-01-preview/examples/Fleets_ListVirtualMachineScaleSets.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2024-05-01-preview/examples/Fleets_Update.json
  specification/azurefleet/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, Approved-Suppression, SuppressionReviewRequired, TypeSpec, MergeRequested, Versioning-Approved-BugFix, VersioningReviewRequired

#29702 Support MI Auth for Azure Table
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/sdk-suppressions.yaml
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
Labels: ARMSignedOff, ARMReview, resource-manager, data-plane, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-Benign, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-Go-Sdk-Suppression, PublishToCustomers

#29855 Nehakaushil/HttpDDoS
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/WafPolicyCreateOrUpdate.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/WafPolicyGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/webapplicationfirewall.json
Labels: ARMSignedOff, ARMReview, resource-manager

#29902 Swagger Changes for Advanced Networking Adding FQDN and TlsManagment for 2024-06-02-preview API
  cSpell.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-06-02-preview/managedClusters.json
Labels: resource-manager

#29926 Update specificationRepositoryConfiguration.json to remove track2 for python
  specificationRepositoryConfiguration.json
Labels: Approved-BreakingChange, Approved-ModelValidation, Approved-SemanticValidation, BreakingChange-Approved-Benign, BreakingChange-Approved-BugFix

#29896 Swagger Changes for Private Ingress Support in App Routing
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-06-02-preview/managedClusters.json
Labels: resource-manager

#29801 Add scale property to java component
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/JavaComponents.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/JavaComponents_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/JavaComponents_CreateOrUpdate_ServiceBind.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/JavaComponents_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/JavaComponents_Get_ServiceBind.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/JavaComponents_List.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/JavaComponents_List_ServiceBind.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/JavaComponents_Patch.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/JavaComponents_Patch_ServiceBind.json
Labels: ARMSignedOff, ARMReview, resource-manager

#29753 addding missing examples
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/elasticsan.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/ElasticSans_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/ElasticSans_Delete_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/ElasticSans_Get_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/ElasticSans_ListByResourceGroup_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/ElasticSans_ListByResourceGroup_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/ElasticSans_ListBySubscription_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/ElasticSans_ListBySubscription_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/ElasticSans_Update_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/Operations_List_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/Operations_List_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/PrivateEndpointConnections_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/PrivateEndpointConnections_Delete_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/PrivateEndpointConnections_Get_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/PrivateEndpointConnections_List_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/PrivateLinkResources_ListByElasticSan_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/Skus_List_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/Skus_List_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/VolumeGroups_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/VolumeGroups_Create_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/VolumeGroups_Delete_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/VolumeGroups_Get_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/VolumeGroups_ListByElasticSan_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/VolumeGroups_Update_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/VolumeSnapshots_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/VolumeSnapshots_Delete_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/VolumeSnapshots_Get_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/VolumeSnapshots_ListByVolumeGroup_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/Volumes_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/Volumes_Delete_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/Volumes_Get_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/Volumes_ListByVolumeGroup_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/Volumes_Update_MaximumSet_Gen.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#29830 Fix private endpoiont and private link services specs
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/CheckPrivateLinkServiceVisibility.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/CheckPrivateLinkServiceVisibilityByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateEndpointCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateEndpointCreateForManualApproval.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateEndpointCreateWithASG.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateEndpointDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateEndpointDnsZoneGroupDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateEndpointGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateEndpointGetForManualApproval.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateEndpointGetWithASG.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateEndpointList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateEndpointListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateLinkServiceCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateLinkServiceDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateLinkServiceDeletePrivateEndpointConnection.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateLinkServiceGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateLinkServiceGetPrivateEndpointConnection.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateLinkServiceList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateLinkServiceListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateLinkServiceListPrivateEndpointConnection.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateLinkServiceUpdatePrivateEndpointConnection.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/ServiceEndpointPolicyCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/ServiceEndpointPolicyCreateWithDefinition.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/ServiceEndpointPolicyDefinitionCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/ServiceEndpointPolicyDefinitionDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/ServiceEndpointPolicyDefinitionGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/ServiceEndpointPolicyDefinitionList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/ServiceEndpointPolicyDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/ServiceEndpointPolicyGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/ServiceEndpointPolicyList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/ServiceEndpointPolicyListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/ServiceEndpointPolicyUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/serviceEndpointPolicy.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#29833 Add DestinationIPAddress to Private Link Service
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/privateLinkService.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#29928 tspconfig, java, eventgrid, exclude preview from ServiceVersion
  specification/eventgrid/Azure.Messaging.EventGrid/tspconfig.yaml
Labels: TypeSpec

#29892 Review request for Microsoft.DocumentDB to modify description of burst capacity feature
  cSpell.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2023-09-15/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2023-11-15/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2024-05-15/cosmos-db.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested, AzCoreIDC

#29657 Adding ManagedResourceGroupSettings to RegistryRP in 2024-07-01-Preview
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/registries.json
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired, MergeRequested

#29384 Add SkuProfile to Compute 2024-07-01 API Version
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-07-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithSkuProfile.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-07-01/virtualMachineScaleSet.json
Labels: resource-manager, no-recent-activity, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk

#29406 Allow VMSS patch 'zones' property
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-07-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Update_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-07-01/virtualMachineScaleSet.json
Labels: resource-manager, no-recent-activity, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk, NotReadyForARMReview

#29435 add ZonalPlatformFaultDomainAlignMode
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-07-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithZonalPlatformFaultDomainAlignMode.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-07-01/virtualMachineScaleSet.json
Labels: resource-manager

#29518 Add SE policy for AVset
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-07-01/availabilitySet.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-07-01/examples/availabilitySetExamples/AvailabilitySet_Create_WithScheduledEventProfile.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-07-01/examples/availabilitySetExamples/AvailabilitySet_Get_MaximumSet_Gen.json
Labels: resource-manager, no-recent-activity

#29623 Update Examples for Generating RSA and Ed25519 SSH Key Pairs
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-07-01/examples/sshPublicKeyExamples/SshPublicKey_GenerateKeyPair_EncryptionWithEd25519.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-07-01/examples/sshPublicKeyExamples/SshPublicKey_GenerateKeyPair_EncryptionWithRSA.json
Labels: customer-reported, resource-manager

#29812 removed statement force detach not supported for vmss
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-07-01/computeRPCommon.json
Labels: customer-reported, resource-manager

#29778 [Microsoft.App] add debug endpoint on replica container
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/ContainerAppsRevisions.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/Replicas_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/Replicas_List.json
Labels: ARMSignedOff, ARMReview, resource-manager

#29652 Swagger changes to support Vertica V2 in ADF
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
Labels: ARMSignedOff, ARMReview, resource-manager, data-plane, ReadyForApiTest, MergeRequested, Versioning-Approved-BugFix, VersioningReviewRequired, PublishToCustomers

#29779 Support MI Auth for Azure File
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
Labels: ARMSignedOff, customer-reported, ARMReview, resource-manager, data-plane, ReadyForApiTest, MergeRequested, Versioning-Approved-Benign, VersioningReviewRequired, PublishToCustomers

#29660 Move Computeschedule from private to public preview
  custom-words.txt
  specification/computeschedule/ComputeSchedule.Management/examples/2024-06-01-preview/Operations_List_MaximumSet_Gen.json
  specification/computeschedule/ComputeSchedule.Management/examples/2024-06-01-preview/Operations_List_MinimumSet_Gen.json
  specification/computeschedule/ComputeSchedule.Management/examples/2024-06-01-preview/ScheduledActions_VirtualMachinesCancelOperations_MaximumSet_Gen.json
  specification/computeschedule/ComputeSchedule.Management/examples/2024-06-01-preview/ScheduledActions_VirtualMachinesCancelOperations_MinimumSet_Gen.json
  specification/computeschedule/ComputeSchedule.Management/examples/2024-06-01-preview/ScheduledActions_VirtualMachinesExecuteDeallocate_MaximumSet_Gen.json
  specification/computeschedule/ComputeSchedule.Management/examples/2024-06-01-preview/ScheduledActions_VirtualMachinesExecuteDeallocate_MinimumSet_Gen.json
  specification/computeschedule/ComputeSchedule.Management/examples/2024-06-01-preview/ScheduledActions_VirtualMachinesExecuteHibernate_MaximumSet_Gen.json
  specification/computeschedule/ComputeSchedule.Management/examples/2024-06-01-preview/ScheduledActions_VirtualMachinesExecuteHibernate_MinimumSet_Gen.json
  specification/computeschedule/ComputeSchedule.Management/examples/2024-06-01-preview/ScheduledActions_VirtualMachinesExecuteStart_MaximumSet_Gen.json
  specification/computeschedule/ComputeSchedule.Management/examples/2024-06-01-preview/ScheduledActions_VirtualMachinesExecuteStart_MinimumSet_Gen.json
  specification/computeschedule/ComputeSchedule.Management/examples/2024-06-01-preview/ScheduledActions_VirtualMachinesGetOperationStatus_MaximumSet_Gen.json
  specification/computeschedule/ComputeSchedule.Management/examples/2024-06-01-preview/ScheduledActions_VirtualMachinesGetOperationStatus_MinimumSet_Gen.json
  specification/computeschedule/ComputeSchedule.Management/examples/2024-06-01-preview/ScheduledActions_VirtualMachinesSubmitDeallocate_MaximumSet_Gen.json
  specification/computeschedule/ComputeSchedule.Management/examples/2024-06-01-preview/ScheduledActions_VirtualMachinesSubmitDeallocate_MinimumSet_Gen.json
  specification/computeschedule/ComputeSchedule.Management/examples/2024-06-01-preview/ScheduledActions_VirtualMachinesSubmitHibernate_MaximumSet_Gen.json
  specification/computeschedule/ComputeSchedule.Management/examples/2024-06-01-preview/ScheduledActions_VirtualMachinesSubmitHibernate_MinimumSet_Gen.json
  specification/computeschedule/ComputeSchedule.Management/examples/2024-06-01-preview/ScheduledActions_VirtualMachinesSubmitStart_MaximumSet_Gen.json
  specification/computeschedule/ComputeSchedule.Management/examples/2024-06-01-preview/ScheduledActions_VirtualMachinesSubmitStart_MinimumSet_Gen.json
  specification/computeschedule/ComputeSchedule.Management/main.tsp
  specification/computeschedule/ComputeSchedule.Management/models.tsp
  specification/computeschedule/ComputeSchedule.Management/routes.tsp
  specification/computeschedule/ComputeSchedule.Management/tspconfig.yaml
  specification/computeschedule/resource-manager/Microsoft.ComputeSchedule/preview/2024-06-01-preview/computeschedule.json
  specification/computeschedule/resource-manager/Microsoft.ComputeSchedule/preview/2024-06-01-preview/examples/Operations_List_MaximumSet_Gen.json
  specification/computeschedule/resource-manager/Microsoft.ComputeSchedule/preview/2024-06-01-preview/examples/Operations_List_MinimumSet_Gen.json
  specification/computeschedule/resource-manager/Microsoft.ComputeSchedule/preview/2024-06-01-preview/examples/ScheduledActions_VirtualMachinesCancelOperations_MaximumSet_Gen.json
  specification/computeschedule/resource-manager/Microsoft.ComputeSchedule/preview/2024-06-01-preview/examples/ScheduledActions_VirtualMachinesCancelOperations_MinimumSet_Gen.json
  specification/computeschedule/resource-manager/Microsoft.ComputeSchedule/preview/2024-06-01-preview/examples/ScheduledActions_VirtualMachinesExecuteDeallocate_MaximumSet_Gen.json
  specification/computeschedule/resource-manager/Microsoft.ComputeSchedule/preview/2024-06-01-preview/examples/ScheduledActions_VirtualMachinesExecuteDeallocate_MinimumSet_Gen.json
  specification/computeschedule/resource-manager/Microsoft.ComputeSchedule/preview/2024-06-01-preview/examples/ScheduledActions_VirtualMachinesExecuteHibernate_MaximumSet_Gen.json
  specification/computeschedule/resource-manager/Microsoft.ComputeSchedule/preview/2024-06-01-preview/examples/ScheduledActions_VirtualMachinesExecuteHibernate_MinimumSet_Gen.json
  specification/computeschedule/resource-manager/Microsoft.ComputeSchedule/preview/2024-06-01-preview/examples/ScheduledActions_VirtualMachinesExecuteStart_MaximumSet_Gen.json
  specification/computeschedule/resource-manager/Microsoft.ComputeSchedule/preview/2024-06-01-preview/examples/ScheduledActions_VirtualMachinesExecuteStart_MinimumSet_Gen.json
  specification/computeschedule/resource-manager/Microsoft.ComputeSchedule/preview/2024-06-01-preview/examples/ScheduledActions_VirtualMachinesGetOperationStatus_MaximumSet_Gen.json
  specification/computeschedule/resource-manager/Microsoft.ComputeSchedule/preview/2024-06-01-preview/examples/ScheduledActions_VirtualMachinesGetOperationStatus_MinimumSet_Gen.json
  specification/computeschedule/resource-manager/Microsoft.ComputeSchedule/preview/2024-06-01-preview/examples/ScheduledActions_VirtualMachinesSubmitDeallocate_MaximumSet_Gen.json
  specification/computeschedule/resource-manager/Microsoft.ComputeSchedule/preview/2024-06-01-preview/examples/ScheduledActions_VirtualMachinesSubmitDeallocate_MinimumSet_Gen.json
  specification/computeschedule/resource-manager/Microsoft.ComputeSchedule/preview/2024-06-01-preview/examples/ScheduledActions_VirtualMachinesSubmitHibernate_MaximumSet_Gen.json
  specification/computeschedule/resource-manager/Microsoft.ComputeSchedule/preview/2024-06-01-preview/examples/ScheduledActions_VirtualMachinesSubmitHibernate_MinimumSet_Gen.json
  specification/computeschedule/resource-manager/Microsoft.ComputeSchedule/preview/2024-06-01-preview/examples/ScheduledActions_VirtualMachinesSubmitStart_MaximumSet_Gen.json
  specification/computeschedule/resource-manager/Microsoft.ComputeSchedule/preview/2024-06-01-preview/examples/ScheduledActions_VirtualMachinesSubmitStart_MinimumSet_Gen.json
  specification/computeschedule/resource-manager/readme.az.md
  specification/computeschedule/resource-manager/readme.cli.md
  specification/computeschedule/resource-manager/readme.csharp.md
  specification/computeschedule/resource-manager/readme.go.md
  specification/computeschedule/resource-manager/readme.md
  specification/computeschedule/resource-manager/readme.python.md
  specification/computeschedule/resource-manager/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, new-rp-namespace, TypeSpec, MergeRequested

#29939 fix fleet pageable operation
  specification/azurefleet/AzureFleet.Management/fleet.tsp
  specification/azurefleet/AzureFleet.Management/virtualMachineScaleSet.tsp
Labels: TypeSpec

#29861 [WRP] 2024-07-01-preview change
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/examples/Endpoint/Deployment/create.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/examples/Endpoint/Deployment/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/examples/Endpoint/Deployment/getDeployments.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/examples/Endpoint/Deployment/getInWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/examples/Endpoint/getModels.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/examples/WorkspaceConnection/RaiBlocklistItem/addBulk.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/examples/WorkspaceConnection/RaiBlocklistItem/deleteBulk.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/examples/WorkspaceConnection/createDeployment.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/examples/WorkspaceConnection/getDeployment.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/examples/WorkspaceConnection/getModels.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/examples/WorkspaceConnection/listConnectionModels.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/examples/WorkspaceConnection/listDeployments.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/workspaceRP.json
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired

#29575 Updating EnableVMAgentPlatformUpdates 2024-07-01
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-07-01/computeRPCommon.json
Labels: ARMChangesRequested, resource-manager, BreakingChange-Approved-Benign

#29949 Remove EnvironmentVariable from Enum
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/BusinessApplicationAgents.json
Labels: ARMSignedOff, resource-manager

#29899 Add new Microsoft.Kubernetes preview version 2024-07-15-preview
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-15-preview/connectedClusters.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-15-preview/examples/ConnectedClustersListClusterCredentialResultCSPAAD.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-15-preview/examples/ConnectedClustersListClusterCredentialResultCSPToken.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-15-preview/examples/ConnectedClustersListClusterCredentialResultHPAAD.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-15-preview/examples/ConnectedClustersListClusterCredentialResultHPToken.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-15-preview/examples/CreateClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-15-preview/examples/CreateClusterPrivateLinkExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-15-preview/examples/CreateCluster_KindExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-15-preview/examples/DeleteClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-15-preview/examples/GetClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-15-preview/examples/GetClustersByResourceGroupExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-15-preview/examples/GetClustersBySubscriptionExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-15-preview/examples/GetProvisionedClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-15-preview/examples/ListConnectedClusterOperationsExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-15-preview/examples/UpdateClusterExample.json
  specification/hybridkubernetes/resource-manager/readme.go.md
  specification/hybridkubernetes/resource-manager/readme.java.md
  specification/hybridkubernetes/resource-manager/readme.md
  specification/hybridkubernetes/resource-manager/readme.ruby.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, MergeRequested

#29922 require gateway resource ID to be a gateway resource ID
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-01-preview/connectedClusters.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, MergeRequested, Versioning-Approved-BugFix, VersioningReviewRequired

#29933 Azure Firewall Custom Autoscale Configuration
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/azureFirewall.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/AzureFirewallGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/AzureFirewallPut.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#29940 Update readme.md to remove -track2 for python
  specification/computeschedule/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS

#29889 update Fabric typespec for MPG onboarding
  specification/fabric/Microsoft.Fabric.Management/capacity.tsp
  specification/fabric/Microsoft.Fabric.Management/client.tsp
  specification/fabric/Microsoft.Fabric.Management/models.tsp
  specification/fabric/Microsoft.Fabric.Management/tspconfig.yaml
  specification/fabric/resource-manager/Microsoft.Fabric/stable/2023-11-01/fabric.json
  specification/fabric/resource-manager/readme.md
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-BugFix

#29629 [CDN][2024-02-01] Refactor the inheritance hierarchy for rule actions and conditions to fix Pandora SDK const conflict
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2024-02-01/cdn.json
  specification/cdn/resource-manager/readme.go.md
  specification/cdn/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, Approved-ModelValidation, ARMReview, resource-manager, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-BugFix, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-JavaScript-Sdk-Suppression-Approved, BreakingChange-Go-Sdk-Suppression, BreakingChange-JavaScript-Sdk-Suppression

#29841 ARG new API Version 2024-04-01
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2024-04-01/examples/GraphQueryAdd.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2024-04-01/examples/GraphQueryDelete.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2024-04-01/examples/GraphQueryGet.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2024-04-01/examples/GraphQueryList.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2024-04-01/examples/GraphQueryUpdate.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2024-04-01/examples/OperationsList.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2024-04-01/examples/ResourcesBasicQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2024-04-01/examples/ResourcesComplexQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2024-04-01/examples/ResourcesFacetQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2024-04-01/examples/ResourcesFilterQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2024-04-01/examples/ResourcesFirstPageQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2024-04-01/examples/ResourcesMgBasicQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2024-04-01/examples/ResourcesNextPageQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2024-04-01/examples/ResourcesPropertiesQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2024-04-01/examples/ResourcesRandomPageQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2024-04-01/examples/ResourcesSummarizeQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2024-04-01/examples/ResourcesTenantBasicQuery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2024-04-01/graphquery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2024-04-01/resourcegraph.json
  specification/resourcegraph/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, MergeRequested, Versioning-Approved-BugFix

#29944 Microsoft.Monitor add missing etag attribute to /accounts
  specification/monitor/Microsoft.Monitor.Management/tspconfig.yaml
  specification/monitor/Microsoft.Monitor.Management/typespec/azureMonitorWorkspace.tsp
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2023-10-01-preview/azuremonitor.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, TypeSpec, MergeRequested, Versioning-Approved-BugFix, VersioningReviewRequired

#29963 require gateway resource ID to be a gateway resource ID
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-15-preview/connectedClusters.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, MergeRequested, Versioning-Approved-BugFix, VersioningReviewRequired

#29968 upgrade to tcgc 0.44.2 and autorest 0.44.1
  package-lock.json
  package.json
Labels: PipelineBotTrigger

#29947 Azure OpenAI - Fix security of authoring API, fix syntax error
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2024-05-01-preview/azureopenai.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2024-05-01-preview/azureopenai.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2024-05-01-preview/examples/get_ingestion_job.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2024-05-01-preview/examples/get_ingestion_job_run.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2024-05-01-preview/examples/list_ingestion_job_runs.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2024-05-01-preview/examples/put_ingestion_job_sc.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2024-05-01-preview/examples/put_ingestion_job_uc.json
Labels: data-plane

#29884 Add new SKU tier "C1" enum value for Copilot For Health.
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2024-02-01/examples/GetOperations.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2024-02-01/examples/ListBotsByResourceGroup.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2024-02-01/examples/ListBotsBySubscription.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2024-02-01/examples/ListSecrets.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2024-02-01/examples/RegenerateApiJwtSecret.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2024-02-01/examples/ResourceCreationPut.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2024-02-01/examples/ResourceDeletionDelete.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2024-02-01/examples/ResourceInfoGet.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2024-02-01/examples/ResourceUpdatePatch.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2024-02-01/healthbot.json
  specification/healthbot/resource-manager/readme.md
  specification/healthbot/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, MergeRequested, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-JavaScript-Sdk-Suppression-Approved, BreakingChange-Go-Sdk-Suppression, BreakingChange-JavaScript-Sdk-Suppression, PipelineBotTrigger

#29985 add typescript.readme.md for new services
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/openshiftclusters/readme.md
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/openshiftclusters/readme.typescript.md
  specification/servicefabricmanagedclusters/resource-manager/readme.md
  specification/servicefabricmanagedclusters/resource-manager/readme.typescript.md
Labels: resource-manager, ReadyForApiTest

#29817 Remove PATCH convenience methods on Azure.AI.ContentSafety
  specification/cognitiveservices/ContentSafety/client.tsp
Labels: TypeSpec

#29813 Remove PATCH convenience methods on Azure.Communication.Jobrouter
  specification/communication/Communication.JobRouter/client.tsp
Labels: TypeSpec

#29990 servicefabricmanagedclusters add readme.go.md
  specification/servicefabricmanagedclusters/resource-manager/readme.go.md
  specification/servicefabricmanagedclusters/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#29988 Fix example ApplicationSecurityGroupDelete.json found by Swagger Model Validation
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/ApplicationSecurityGroupDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-06-01/examples/ApplicationSecurityGroupDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/ApplicationSecurityGroupDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/ApplicationSecurityGroupDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/ApplicationSecurityGroupDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/ApplicationSecurityGroupDelete.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#29969 noHealthyBackensBehavior
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/loadBalancer.json
Labels: ARMSignedOff, ARMReview, resource-manager

#29967 [OpenAI] `v2024_07_01_preview` service release remaining points
  specification/ai/OpenAI.Assistants/README.md
  specification/ai/OpenAI.Assistants/messages/models.tsp
  specification/ai/OpenAI.Assistants/run_steps/models.tsp
  specification/ai/OpenAI.Assistants/runs/models.tsp
  specification/ai/OpenAI.Assistants/tools/models.tsp
  specification/ai/OpenAI.Assistants/tools/tool_resources.tsp
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV2/preview/2024-07-01-preview/assistants_generated.json
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV3/2024-07-01-preview/assistants_generated.yaml
  specification/cognitiveservices/OpenAI.Inference/models/completions/chat_completions.tsp
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-07-01-preview/generated.json
Labels: data-plane, TypeSpec

#29622 [TextAnalytics] [Conversations] Update method naming in client.tsp
  specification/cognitiveservices/Language.AnalyzeText/client.tsp
  specification/cognitiveservices/Language.AnalyzeText/main.tsp
  specification/cognitiveservices/Language.AnalyzeText/models/common.models.tsp
  specification/cognitiveservices/Language.AnalyzeText/models/custom.healthcare.tsp
  specification/cognitiveservices/Language.AnalyzeText/models/custom.text.tsp
  specification/cognitiveservices/Language.AnalyzeText/models/entity.linking.tsp
  specification/cognitiveservices/Language.AnalyzeText/models/entity.recognition.tsp
  specification/cognitiveservices/Language.AnalyzeText/models/healthcare.tsp
  specification/cognitiveservices/Language.AnalyzeText/models/key.phrase.extraction.tsp
  specification/cognitiveservices/Language.AnalyzeText/models/language.detection.tsp
  specification/cognitiveservices/Language.AnalyzeText/models/pii.entity.recognition.tsp
  specification/cognitiveservices/Language.AnalyzeText/models/sentiment.analysis.tsp
  specification/cognitiveservices/Language.AnalyzeText/models/summarization.tsp
  specification/cognitiveservices/Language.AnalyzeText/tspconfig.yaml
  specification/cognitiveservices/Language.Conversations/client.tsp
  specification/cognitiveservices/Language.Conversations/common.tsp
  specification/cognitiveservices/Language.Conversations/examples/2023-04-01/SuccessfulConversationSummarizationTaskResult.json
  specification/cognitiveservices/Language.Conversations/examples/2023-04-01/SuccessfulConversationSummarizationTaskStatusRequest.json
  specification/cognitiveservices/Language.Conversations/examples/2023-11-15-preview/SuccessfulConversationPIIExclusionTaskStatusRequest.json
  specification/cognitiveservices/Language.Conversations/examples/2023-11-15-preview/SuccessfulConversationPIIRedactionCharTaskStatusRequest.json
  specification/cognitiveservices/Language.Conversations/examples/2023-11-15-preview/SuccessfulConversationPIITaskStatusRequest.json
  specification/cognitiveservices/Language.Conversations/examples/2023-11-15-preview/SuccessfulConversationSentimentTaskStatusRequest.json
  specification/cognitiveservices/Language.Conversations/examples/2023-11-15-preview/SuccessfulConversationSummarizationTaskStatusRequest.json
  specification/cognitiveservices/Language.Conversations/examples/2024-05-01/SuccessfulConversationPIIExclusionTaskStatusRequest.json
  specification/cognitiveservices/Language.Conversations/examples/2024-05-01/SuccessfulConversationPIIRedactionCharTaskStatusRequest.json
  specification/cognitiveservices/Language.Conversations/examples/2024-05-01/SuccessfulConversationPIITaskStatusRequest.json
  specification/cognitiveservices/Language.Conversations/examples/2024-05-01/SuccessfulConversationSummarizationTaskResult.json
  specification/cognitiveservices/Language.Conversations/examples/2024-05-01/SuccessfulConversationSummarizationTaskStatusRequest.json
  specification/cognitiveservices/Language.Conversations/examples/2024-05-15-preview/SuccessfulConversationPIIExclusionTaskStatusRequest.json
  specification/cognitiveservices/Language.Conversations/examples/2024-05-15-preview/SuccessfulConversationPIIRedactionCharTaskStatusRequest.json
  specification/cognitiveservices/Language.Conversations/examples/2024-05-15-preview/SuccessfulConversationPIITaskStatusRequest.json
  specification/cognitiveservices/Language.Conversations/examples/2024-05-15-preview/SuccessfulConversationSummarizationTaskResult.json
  specification/cognitiveservices/Language.Conversations/examples/2024-05-15-preview/SuccessfulConversationSummarizationTaskStatusRequest.json
  specification/cognitiveservices/Language.Conversations/examples/2024-05-15-preview/SuccessfulCustomConversationSummarizationTaskResult.json
  specification/cognitiveservices/Language.Conversations/main.tsp
  specification/cognitiveservices/Language.Conversations/tspconfig.yaml
  specification/cognitiveservices/data-plane/Language/preview/2023-11-15-preview/analyzetext.json
  specification/cognitiveservices/data-plane/Language/preview/2024-05-15-preview/analyzeconversations.json
  specification/cognitiveservices/data-plane/Language/preview/2024-05-15-preview/examples/SuccessfulConversationPIIExclusionTaskStatusRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2024-05-15-preview/examples/SuccessfulConversationPIIRedactionCharTaskStatusRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2024-05-15-preview/examples/SuccessfulConversationPIITaskStatusRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2024-05-15-preview/examples/SuccessfulConversationSummarizationTaskResult.json
  specification/cognitiveservices/data-plane/Language/preview/2024-05-15-preview/examples/SuccessfulConversationSummarizationTaskStatusRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2024-05-15-preview/examples/SuccessfulCustomConversationSummarizationTaskResult.json
  specification/cognitiveservices/data-plane/Language/stable/2022-05-01/analyzeconversations.json
  specification/cognitiveservices/data-plane/Language/stable/2022-05-01/analyzetext.json
  specification/cognitiveservices/data-plane/Language/stable/2023-04-01/analyzeconversations.json
  specification/cognitiveservices/data-plane/Language/stable/2023-04-01/analyzetext.json
  specification/cognitiveservices/data-plane/Language/stable/2023-04-01/examples/SuccessfulConversationSummarizationTaskResult.json
  specification/cognitiveservices/data-plane/Language/stable/2023-04-01/examples/SuccessfulConversationSummarizationTaskStatusRequest.json
  specification/cognitiveservices/data-plane/Language/stable/2024-05-01/analyzeconversations.json
  specification/cognitiveservices/data-plane/Language/stable/2024-05-01/examples/SuccessfulConversationPIIExclusionTaskStatusRequest.json
  specification/cognitiveservices/data-plane/Language/stable/2024-05-01/examples/SuccessfulConversationPIIRedactionCharTaskStatusRequest.json
  specification/cognitiveservices/data-plane/Language/stable/2024-05-01/examples/SuccessfulConversationPIITaskStatusRequest.json
  specification/cognitiveservices/data-plane/Language/stable/2024-05-01/examples/SuccessfulConversationSummarizationTaskResult.json
  specification/cognitiveservices/data-plane/Language/stable/2024-05-01/examples/SuccessfulConversationSummarizationTaskStatusRequest.json
Labels: data-plane, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-BugFix, PublishToCustomers

#29986 fix tests api ver
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/GetApplicationGatewayWafDynamicManifests.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/GetApplicationGatewayWafDynamicManifestsDefault.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/GetApplicationGatewayWafDynamicManifests.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/GetApplicationGatewayWafDynamicManifestsDefault.json
Labels: ARMSignedOff, ARMReview, resource-manager

#29538 Update specificationRepositoryConfiguration.json
  specificationRepositoryConfiguration.json
Labels: Approved-ModelValidation, Approved-SemanticValidation

#29918 Adding 200 repsonse for Resubscribe API
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-01-01-preview/elastic.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/elastic.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/elastic.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/Organizations_Resubscribe.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/elastic.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, Liftr, IDCDevDiv, BreakingChange-Approved-BugFix

#29897 Microsoft.Security - remove deprecated pricings version 2017-08-01-preview
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/Pricings/CreatePricingsResourceGroup_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/Pricings/CreatePricingsSubscription_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/Pricings/GetPricingResourceGroup_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/Pricings/GetPricingSubscription_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/Pricings/GetPricingsResourceGroup_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/examples/Pricings/GetPricingsSubscription_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/pricings.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested, Versioning-Approved-BugFix, VersioningReviewRequired

#30005 Fix invalid versioning in client.tsp
  specification/cognitiveservices/ContentSafety/client.tsp
  specification/loadtestservice/LoadTestService/client.tsp
Labels: TypeSpec

#29955 Minor TypeSpec changes for Python
  specification/batch/Azure.Batch/common.tsp
Labels: TypeSpec

#30031 mgmt, java, servicefabricmanagedclusters readme
  specification/servicefabricmanagedclusters/resource-manager/readme.java.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#30016 Enabled type-spec/go emitter
  specification/azurefleet/AzureFleet.Management/tspconfig.yaml
  specification/edgezones/EdgeZones.Management/tspconfig.yaml
  specification/mongocluster/DocumentDB.MongoCluster.Management/tspconfig.yaml
Labels: TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-Go-Sdk

#29798 Mazinali microsoft authorization policyupdate pimonlymode 2024 02 01 preview
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/EligibleChildResources.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/RoleAssignmentSchedule.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/RoleAssignmentScheduleInstance.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/RoleAssignmentScheduleRequest.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/RoleEligibilitySchedule.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/RoleEligibilityScheduleInstance.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/RoleEligibilityScheduleRequest.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/RoleManagementPolicy.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/RoleManagementPolicyAssignment.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/common-types.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/CancelRoleAssignmentScheduleRequestByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/CancelRoleEligibilityScheduleRequestByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/DeleteRoleManagementPolicy.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/DeleteRoleManagementPolicyAssignment.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/GetEligibleChildResourcesByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/GetRoleAssignmentScheduleByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/GetRoleAssignmentScheduleInstanceByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/GetRoleAssignmentScheduleInstancesByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/GetRoleAssignmentScheduleRequestByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/GetRoleAssignmentScheduleRequestByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/GetRoleAssignmentSchedulesByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/GetRoleEligibilityScheduleByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/GetRoleEligibilityScheduleInstanceByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/GetRoleEligibilityScheduleInstancesByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/GetRoleEligibilityScheduleRequestByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/GetRoleEligibilityScheduleRequestByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/GetRoleEligibilitySchedulesByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/GetRoleManagementPolicyAssignmentByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/GetRoleManagementPolicyAssignmentByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/GetRoleManagementPolicyByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/GetRoleManagementPolicyByScope.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/PatchPartialRoleManagementPolicy.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/PatchRoleManagementPolicy.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/PatchRoleManagementPolicyToEnablePIMOnlyMode.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/PutRoleAssignmentScheduleRequest.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/PutRoleEligibilityScheduleRequest.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/PutRoleManagementPolicyAssignment.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/ValidateRoleAssignmentScheduleRequestByName.json
  specification/authorization/resource-manager/Microsoft.Authorization/preview/2024-02-01-preview/examples/ValidateRoleEligibilityScheduleRequestByName.json
  specification/authorization/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, MergeRequested

#29932 Dev/ivarandj/instance pool operations api
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/InstancePoolOperations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/examples/GetInstancePoolOperation.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/examples/ListInstancePoolOperations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/examples/ListInstancePoolOperationsEmpty.json
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#29536 Update header and query parameter for source control
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/SourceControls.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/SourceControls_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/SourceControls_Delete.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#29570 Update header and query parameter for source control
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/SourceControls.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/SourceControls_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/SourceControls_Delete.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested, BreakingChange-Approved-BugFix

#30021 Remove stream-style-serialization=false from Communication.Messages
  specification/communication/Communication.Messages/tspconfig.yaml
Labels: TypeSpec

#29880 Files Binary ACE part 2
  specification/storage/data-plane/Microsoft.FileStorage/stable/2024-11-04/file.json
Labels: data-plane

#29904 Add e2e tls to latest releases
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/CommonDefinitions.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-04-01/CommonDefinitions.json
Labels: ARMSignedOff, ARMReview, resource-manager

#29730 Add updatemachinekey api
  cSpell.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-04-01/WebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-04-01/examples/UpdateMachineKey.json
Labels: ARMSignedOff, ARMReview, resource-manager

#30041 Added FilePermissionFormat to Create Directory
  specification/storage/data-plane/Microsoft.FileStorage/stable/2024-11-04/file.json
Labels: Storage, data-plane

#30025 [TextAnalytics] Language.AnalyzeText client updates for SDK generation
  specification/cognitiveservices/Language.AnalyzeText/client.tsp
Labels: TypeSpec
