Repository Azure/azure-rest-api-specs, pull requests merged in 2024-08, with the labels that each got.

#30045 Update name of tsp.config
  specification/cognitiveservices/Language.Conversations/client.tsp
  specification/cognitiveservices/Language.Conversations/main.tsp
  specification/cognitiveservices/data-plane/Language/preview/2024-05-15-preview/analyzeconversations.json
  specification/cognitiveservices/data-plane/Language/stable/2022-05-01/analyzeconversations.json
  specification/cognitiveservices/data-plane/Language/stable/2023-04-01/analyzeconversations.json
  specification/cognitiveservices/data-plane/Language/stable/2024-05-01/analyzeconversations.json
Labels: Cognitive Services, data-plane, TypeSpec, PublishToCustomers

#30032 Update readme.python.md
  specification/compute/resource-manager/readme.python.md
Labels: Compute, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk

#30033 update python config
  specification/healthdataaiservices/HealthDataAIServices.Management/client.tsp
Labels: TypeSpec

#29822 Enable DeploymentErrors for ContainerApps
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/ContainerApps_ListByResourceGroup.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#30047 Developer/nineela/autogenerateddomainnamelabelscope edit 2
  specification/web/resource-manager/Microsoft.Web/stable/2024-04-01/CommonDefinitions.json
Labels: ARMSignedOff, Web Apps, ARMReview, resource-manager, IDCDevDiv

#30026 Add Language Analyze Documents APIs
  dev/cognitiveservices/data-plane/Language/analyzedocuments.json
  dev/cognitiveservices/data-plane/Language/examples/analyzedocuments/SuccessfulAnalyzeTextJobsCancelRequest.json
  dev/cognitiveservices/data-plane/Language/examples/analyzedocuments/SuccessfulPiiTaskResult.json
  dev/cognitiveservices/data-plane/Language/examples/analyzedocuments/SuccessfulPiiTaskSubmit.json
  dev/cognitiveservices/data-plane/Language/readme.md
  specification/cognitiveservices/data-plane/Language/preview/2023-11-15-preview/analyzedocuments.json
  specification/cognitiveservices/data-plane/Language/preview/2023-11-15-preview/examples/analyzedocuments/SuccessfulAnalyzeTextJobsCancelRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2023-11-15-preview/examples/analyzedocuments/SuccessfulPiiTaskResult.json
  specification/cognitiveservices/data-plane/Language/preview/2023-11-15-preview/examples/analyzedocuments/SuccessfulPiiTaskSubmit.json
  specification/cognitiveservices/data-plane/Language/readme.md
Labels: data-plane, Versioning-Approved-PrivatePreview, VersioningReviewRequired, PublishToCustomers

#30058 [tsp-client] Upgrade to 0.9.4
  package-lock.json
  package.json
Labels: PipelineBotTrigger

#30040 Creating a sample ARM sample project based on standard template
  specification/contosowidgetmanager/Contoso.Management/employee.tsp
  specification/contosowidgetmanager/Contoso.Management/examples/2021-10-01-preview/Employees_CreateOrUpdate.json
  specification/contosowidgetmanager/Contoso.Management/examples/2021-10-01-preview/Employees_Delete.json
  specification/contosowidgetmanager/Contoso.Management/examples/2021-10-01-preview/Employees_Get.json
  specification/contosowidgetmanager/Contoso.Management/examples/2021-10-01-preview/Employees_ListByResourceGroup.json
  specification/contosowidgetmanager/Contoso.Management/examples/2021-10-01-preview/Employees_ListBySubscription.json
  specification/contosowidgetmanager/Contoso.Management/examples/2021-10-01-preview/Employees_Update.json
  specification/contosowidgetmanager/Contoso.Management/examples/2021-10-01-preview/Operations_List.json
  specification/contosowidgetmanager/Contoso.Management/main.tsp
  specification/contosowidgetmanager/Contoso.Management/tspconfig.yaml
  specification/contosowidgetmanager/resource-manager/Microsoft.Contoso/preview/2021-10-01-preview/contoso.json
  specification/contosowidgetmanager/resource-manager/Microsoft.Contoso/preview/2021-10-01-preview/examples/Employees_CreateOrUpdate.json
  specification/contosowidgetmanager/resource-manager/Microsoft.Contoso/preview/2021-10-01-preview/examples/Employees_Delete.json
  specification/contosowidgetmanager/resource-manager/Microsoft.Contoso/preview/2021-10-01-preview/examples/Employees_Get.json
  specification/contosowidgetmanager/resource-manager/Microsoft.Contoso/preview/2021-10-01-preview/examples/Employees_ListByResourceGroup.json
  specification/contosowidgetmanager/resource-manager/Microsoft.Contoso/preview/2021-10-01-preview/examples/Employees_ListBySubscription.json
  specification/contosowidgetmanager/resource-manager/Microsoft.Contoso/preview/2021-10-01-preview/examples/Employees_Update.json
  specification/contosowidgetmanager/resource-manager/Microsoft.Contoso/preview/2021-10-01-preview/examples/Operations_List.json
  specification/contosowidgetmanager/resource-manager/readme.md
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, new-api-version, new-rp-namespace, CI-NewRPNamespaceWithoutRPaaS, TypeSpec, RPaaSException

#30061 [AML]Fix swagger bug in 07-01-preview version
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#29734 Release search azure.search preview/2024 09 01 preview
  cSpell.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchIndexAutocompleteDocumentsGet.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchIndexAutocompleteDocumentsPost.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchIndexCountDocuments.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchIndexGetDocument.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchIndexIndexDocuments.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchIndexSearchDocumentsGet.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchIndexSearchDocumentsPost.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchIndexSearchDocumentsSemanticGet.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchIndexSearchDocumentsSemanticPost.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchIndexSuggestDocumentsGet.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchIndexSuggestDocumentsPost.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceCreateAlias.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceCreateDataSource.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceCreateIndex.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceCreateIndexer.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceCreateOrUpdateAlias.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceCreateOrUpdateDataSource.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceCreateOrUpdateIndex.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceCreateOrUpdateIndexer.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceCreateOrUpdateSkillset.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceCreateOrUpdateSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceCreateSkillset.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceCreateSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceDeleteAlias.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceDeleteDataSource.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceDeleteIndex.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceDeleteIndexer.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceDeleteSkillset.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceDeleteSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceGetAlias.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceGetDataSource.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceGetIndex.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceGetIndexStatistics.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceGetIndexer.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceGetIndexerStatus.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceGetServiceStatistics.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceGetSkillset.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceGetSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceIndexAnalyze.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceListAliases.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceListDataSources.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceListIndexers.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceListIndexes.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceListSkillsets.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceListSynonymMaps.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceResetDocs.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceResetIndexer.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceResetSkills.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/examples/SearchServiceRunIndexer.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/searchindex.json
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/searchservice.json
  specification/search/data-plane/Azure.Search/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, BreakingChangeReviewRequired, new-api-version, BreakingChange-Approved-BugFix, PipelineBotTrigger, PublishToCustomers

#30087 Remove stream options as the feature is not ready yet
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-07-01-preview/inference.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-07-01-preview/inference.yaml
Labels: Cognitive Services, data-plane

#29791 Add versioning property
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/sdk-suppressions.yaml
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
Labels: ARMSignedOff, ARMReview, resource-manager, data-plane, ReadyForApiTest, Versioning-Approved-BugFix, VersioningReviewRequired, BreakingChange-JavaScript-Sdk-Suppression-Approved, BreakingChange-Python-Sdk-Suppression-Approved, BreakingChange-JavaScript-Sdk-Suppression, BreakingChange-Python-Sdk-Suppression, PublishToCustomers

#30089 update tspconfig for js
  specification/healthdataaiservices/HealthDataAIServices.Management/tspconfig.yaml
Labels: TypeSpec

#30086 [TextAnalytics] Language.AnalyzeText client updates for SDK generation
  specification/cognitiveservices/Language.AnalyzeText/client.tsp
Labels: Cognitive Services, TypeSpec

#30085 Support fqdns in PE OutboundRules in 2024-07-01-preview
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-04-01-preview/workspaceRP.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/workspaceRP.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, Versioning-Approved-BugFix, VersioningReviewRequired, PublishToCustomers

#29934 Enable stream-style-serialization in Radiology Insights
  specification/ai/HealthInsights/HealthInsights.RadiologyInsights/tspconfig.yaml
Labels: TypeSpec

#30082 Microsoft.Monitor common extendedLocation
  specification/monitor/Microsoft.Monitor.Management/typespec/azureMonitorWorkspace.tsp
  specification/monitor/Microsoft.Monitor.Management/typespec/pipelineGroup.tsp
  specification/monitor/Microsoft.Monitor.Management/typespec/service.tsp
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2023-10-01-preview/azuremonitor.json
Labels: Monitor, resource-manager, ReadyForApiTest, RPaaS, TypeSpec, Versioning-Approved-BugFix, VersioningReviewRequired, PublishToCustomers

#30084 Add AgentPoolSecurityProfile with Trusted Launch fields to July 2024-07-01 stable API
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-07-01/managedClusters.json
Labels: Container Service, resource-manager

#29330 MongoCluster Microsoft.DocumentDb 2024-06-01-preview
  specification/mongocluster/DocumentDB.MongoCluster.Management/FirewallRule.tsp
  specification/mongocluster/DocumentDB.MongoCluster.Management/MongoCluster.tsp
  specification/mongocluster/DocumentDB.MongoCluster.Management/Replica.tsp
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-06-01-preview/MongoClusters_Create.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-06-01-preview/MongoClusters_CreateGeoReplica.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-06-01-preview/MongoClusters_CreatePITR.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-06-01-preview/MongoClusters_Delete.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-06-01-preview/MongoClusters_FirewallRuleCreate.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-06-01-preview/MongoClusters_FirewallRuleDelete.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-06-01-preview/MongoClusters_FirewallRuleGet.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-06-01-preview/MongoClusters_FirewallRuleList.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-06-01-preview/MongoClusters_ForcePromoteReplica.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-06-01-preview/MongoClusters_Get.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-06-01-preview/MongoClusters_List.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-06-01-preview/MongoClusters_ListByResourceGroup.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-06-01-preview/MongoClusters_ListConnectionStrings.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-06-01-preview/MongoClusters_NameAvailability.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-06-01-preview/MongoClusters_NameAvailability_AlreadyExists.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-06-01-preview/MongoClusters_PatchDiskSize.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-06-01-preview/MongoClusters_PatchPrivateNetworkAccess.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-06-01-preview/MongoClusters_PrivateEndpointConnectionDelete.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-06-01-preview/MongoClusters_PrivateEndpointConnectionGet.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-06-01-preview/MongoClusters_PrivateEndpointConnectionList.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-06-01-preview/MongoClusters_PrivateEndpointConnectionPut.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-06-01-preview/MongoClusters_PrivateLinkResourceList.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-06-01-preview/MongoClusters_ReplicaList.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-06-01-preview/MongoClusters_ResetPassword.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-06-01-preview/MongoClusters_Update.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-06-01-preview/Operations_List.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/main.tsp
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/examples/MongoClusters_Create.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/examples/MongoClusters_CreateGeoReplica.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/examples/MongoClusters_CreatePITR.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/examples/MongoClusters_Delete.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/examples/MongoClusters_FirewallRuleCreate.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/examples/MongoClusters_FirewallRuleDelete.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/examples/MongoClusters_FirewallRuleGet.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/examples/MongoClusters_FirewallRuleList.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/examples/MongoClusters_ForcePromoteReplica.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/examples/MongoClusters_Get.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/examples/MongoClusters_List.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/examples/MongoClusters_ListByResourceGroup.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/examples/MongoClusters_ListConnectionStrings.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/examples/MongoClusters_NameAvailability.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/examples/MongoClusters_NameAvailability_AlreadyExists.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/examples/MongoClusters_PatchDiskSize.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/examples/MongoClusters_PatchPrivateNetworkAccess.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/examples/MongoClusters_PrivateEndpointConnectionDelete.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/examples/MongoClusters_PrivateEndpointConnectionGet.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/examples/MongoClusters_PrivateEndpointConnectionList.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/examples/MongoClusters_PrivateEndpointConnectionPut.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/examples/MongoClusters_PrivateLinkResourceList.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/examples/MongoClusters_ReplicaList.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/examples/MongoClusters_ResetPassword.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/examples/MongoClusters_Update.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/examples/Operations_List.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/mongoCluster.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/scenarios/basic.yaml
  specification/mongocluster/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, Approved-Suppression, SuppressionReviewRequired, new-api-version, TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-Go-Sdk, PipelineBotTrigger, PublishToCustomers

#30038 Storage STG 95
  specification/storage/data-plane/Microsoft.FileStorage/readme.md
  specification/storage/data-plane/Microsoft.FileStorage/stable/2024-11-04/file.json
Labels: Storage, APIStewardshipBoard-SignedOff, data-plane, BreakingChangeReviewRequired, new-api-version, BreakingChange-Approved-Benign, PublishToCustomers

#30110 Update client names for Language.AnalyzeText API
  specification/cognitiveservices/Language.AnalyzeText/client.tsp
Labels: Cognitive Services, TypeSpec

#30093 healthdataaiservices add go emit option in tspconfig
  specification/healthdataaiservices/HealthDataAIServices.Management/tspconfig.yaml
Labels: TypeSpec

#30117 Update access level for liveness with verify session
  specification/ai/Face/client.tsp
Labels: TypeSpec

#30122 Upgrade/typespec 0.59
  package-lock.json
  package.json
  specification/ai/DocumentIntelligence/routes.tsp
  specification/ai/Face/models.common.tsp
  specification/ai/Face/models.detect.tsp
  specification/ai/HealthInsights/HealthInsights.Common/model.common.shared.tsp
  specification/ai/ImageAnalysis/routes.tsp
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV3/2024-02-15-preview/assistants_generated.yaml
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV3/2024-05-01-preview/assistants_generated.yaml
  specification/appcomplianceautomation/AppComplianceAutomation.Management/resources/EvidenceResource.tsp
  specification/appcomplianceautomation/AppComplianceAutomation.Management/resources/ReportResource.tsp
  specification/appcomplianceautomation/AppComplianceAutomation.Management/resources/ScopingConfigurationResource.tsp
  specification/appcomplianceautomation/AppComplianceAutomation.Management/resources/SnapshotResource.tsp
  specification/appcomplianceautomation/AppComplianceAutomation.Management/resources/WebhookResource.tsp
  specification/appconfiguration/AppConfiguration/routes.tsp
  specification/batch/Azure.Batch/common.tsp
  specification/batch/Azure.Batch/routes.tsp
  specification/cognitiveservices/OpenAI.Inference/models/images/common.tsp
  specification/devcenter/DevCenter/shared/templates.tsp
  specification/developersigning/DeveloperSigning/main.tsp
  specification/deviceregistry/DeviceRegistry.Management/main.tsp
  specification/liftrqumulo/Qumulo.Storage.Management/LiftrBase.Storage/main.tsp
  specification/loadtestservice/LoadTestService/models.tsp
  specification/oracle/models/oraclesubscription/oracleSubscription.tsp
  specification/programmableconnectivity/Azure.ProgrammableConnectivity/apis/common.tsp
  specification/purview/Azure.Analytics.Purview.DataMap/models.tsp
  specification/purview/Azure.Analytics.Purview.DataMap/routes.tsp
  specification/quantum/Quantum.Workspace/common/base-operations.tsp
  specification/riskiq/Easm/models.tsp
  specification/translation/Azure.AI.DocumentTranslation/routes.tsp
  specification/translation/Azure.AI.TextTranslation/models-translate.tsp
  specification/vmware/Microsoft.AVS.Management/models.tsp
  specification/voiceservices/VoiceServices.Provisioning/main.tsp
Labels: Approved-LintDiff, data-plane, TypeSpec, PipelineBotTrigger, PublishToCustomers

#30125 Fix yml cannot load into pyyaml problem for AOAI swagger
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-05-01-preview/inference.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-07-01-preview/inference.yaml
Labels: Cognitive Services, data-plane

#30035 add `client.tsp` for `healthdataaiservice`
  specification/healthdataaiservices/HealthDataAIServices.Management/client.tsp
Labels: TypeSpec

#30094 Add driverType property to AKS AgentPoolGPUProfile
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-07-02-preview/managedClusters.json
Labels: Container Service, resource-manager

#29810 ACL Deployment Customizations
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-07-09-preview/confidentialledger.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-07-09-preview/examples/CheckNameAvailability.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-07-09-preview/examples/ConfidentialLedger_Backup.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-07-09-preview/examples/ConfidentialLedger_Create.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-07-09-preview/examples/ConfidentialLedger_Delete.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-07-09-preview/examples/ConfidentialLedger_Get.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-07-09-preview/examples/ConfidentialLedger_List.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-07-09-preview/examples/ConfidentialLedger_ListBySub.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-07-09-preview/examples/ConfidentialLedger_Restore.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-07-09-preview/examples/ConfidentialLedger_Update.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-07-09-preview/examples/ManagedCCF_Backup.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-07-09-preview/examples/ManagedCCF_Create.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-07-09-preview/examples/ManagedCCF_Delete.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-07-09-preview/examples/ManagedCCF_Get.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-07-09-preview/examples/ManagedCCF_List.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-07-09-preview/examples/ManagedCCF_ListBySub.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-07-09-preview/examples/ManagedCCF_Restore.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-07-09-preview/examples/ManagedCCF_Update.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-07-09-preview/examples/Operations_Get.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-07-09-preview/managedccf.json
  specification/confidentialledger/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, new-api-version, BreakingChange-Approved-Previously, PublishToCustomers

#30060 fix misalignment with service behavior around enum handling
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2024-05-01-preview/azureopenai.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2024-05-01-preview/azureopenai.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2024-05-01-preview/examples/get_ingestion_job.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2024-05-01-preview/examples/get_ingestion_job.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2024-05-01-preview/examples/get_ingestion_job_run.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2024-05-01-preview/examples/get_ingestion_job_run.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2024-05-01-preview/examples/list_ingestion_job_runs.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2024-05-01-preview/examples/list_ingestion_job_runs.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2024-05-01-preview/examples/list_ingestion_jobs.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2024-05-01-preview/examples/put_ingestion_job_sc.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2024-05-01-preview/examples/put_ingestion_job_sc.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2024-05-01-preview/examples/put_ingestion_job_uc.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2024-05-01-preview/examples/put_ingestion_job_uc.yaml
Labels: Cognitive Services, data-plane, BreakingChange-Approved-BugFix, VersioningReviewRequired

#29089 Add IP Mode to Websites
  specification/web/resource-manager/Microsoft.Web/stable/2024-04-01/CommonDefinitions.json
Labels: ARMSignedOff, Web Apps, ARMReview, resource-manager

#29699 New API preview version for ACS Email Inline Attachment feature
  specification/communication/data-plane/Email/preview/2024-07-01-preview/CommunicationServicesEmail.json
  specification/communication/data-plane/Email/preview/2024-07-01-preview/examples/GetOperationStatusReturnsFailedTerminalStatus.json
  specification/communication/data-plane/Email/preview/2024-07-01-preview/examples/GetOperationStatusReturnsNonTerminalStatus.json
  specification/communication/data-plane/Email/preview/2024-07-01-preview/examples/GetOperationStatusReturnsSuccessTerminalStatus.json
  specification/communication/data-plane/Email/preview/2024-07-01-preview/examples/SendEmail.json
  specification/communication/data-plane/Email/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, new-api-version, PublishToCustomers

#30115 Update keys swagger to include CKM_AES_KEY_WRAP and CKM_AES_KEY_WRAP_PAD for key wrapping
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.6-preview.1/backuprestore.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.6-preview.1/keys.json
Labels: KeyVault, data-plane, Versioning-Approved-BugFix, VersioningReviewRequired, PublishToCustomers

#28788 [Microsoft.Resources] New api-version
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/CalculateTemplateHash.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/CreateResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/DeleteTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/DeleteTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/ExportResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/ExportResourceGroupAsBicep.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/ExportResourceGroupWithFiltering.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/ForceDeleteVMsAndVMSSInResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/ForceDeleteVMsInResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/GetNamedProviderAtTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/GetProvider.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/GetProviderPermissions.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/GetProviderResourceTypes.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/GetProviders.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/GetTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/GetTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/PatchTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/PatchTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/PostDeploymentValidateOnManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/PostDeploymentValidateOnResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/PostDeploymentValidateOnScope.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/PostDeploymentValidateOnSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/PostDeploymentValidateOnTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/PostDeploymentWhatIfOnManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/PostDeploymentWhatIfOnResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/PostDeploymentWhatIfOnSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/PostDeploymentWhatIfOnTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/PutDeploymentAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/PutDeploymentAtScope.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/PutDeploymentAtTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/PutDeploymentResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/PutDeploymentResourceGroupTemplateSpecsWithId.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/PutDeploymentSubscriptionTemplateSpecsWithId.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/PutDeploymentWithOnErrorDeploymentLastSuccessful.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/PutDeploymentWithOnErrorDeploymentSpecificDeployment.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/PutTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/examples/PutTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/resources.json
  specification/resources/resource-manager/readme.md
  specification/resources/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, BreakingChangeReviewRequired, new-api-version, MergeRequested, BreakingChange-Approved-BugFix, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-JavaScript-Sdk-Suppression-Approved, BreakingChange-JavaScript-Sdk, BreakingChange-Go-Sdk-Suppression, BreakingChange-JavaScript-Sdk-Suppression, PublishToCustomers

#29956 Adding updated DatabaseOperations.json file
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/DatabaseOperations.json
Labels: SQL, ARMSignedOff, ARMReview, resource-manager, MergeRequested

#30144 Update template tspconfig.yaml for Python SDK
  specification/contosowidgetmanager/Contoso.Management/tspconfig.yaml
  specification/contosowidgetmanager/Contoso.WidgetManager/tspconfig.yaml
Labels: TypeSpec

#30159 Update tspconfig.yaml for Python SDK
  specification/healthdataaiservices/HealthDataAIServices.Management/tspconfig.yaml
Labels: TypeSpec

#30036 Fabric Capacity - Update Properties To Be Required
  specification/fabric/Microsoft.Fabric.Management/capacity.tsp
  specification/fabric/Microsoft.Fabric.Management/tspconfig.yaml
  specification/fabric/resource-manager/Microsoft.Fabric/stable/2023-11-01/fabric.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-BugFix, PublishToCustomers

#30030 Adding swagger files for minor changes related to release-sql-Microsoft.Sql-2024-05-01-preview
  cSpell.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/DatabaseEncryptionProtectorRevalidate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/DatabaseEncryptionProtectorRevert.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/DatabaseExtensions.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/DatabaseRecommendedActions.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/DatabaseUsages.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/Databases.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/DeletedServers.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/DistributedAvailabilityGroups.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ElasticPoolOperations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ElasticPools.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/EncryptionProtectors.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/FailoverGroups.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/InstanceFailoverGroups.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/JobPrivateEndpoints.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/LocationCapabilities.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ManagedDatabaseMoveOperations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ManagedDatabaseRestoreDetails.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ManagedDatabaseTransparentDataEncryption.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ManagedDatabases.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ManagedInstanceDtcs.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ManagedInstanceEncryptionProtectors.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ManagedInstanceKeys.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ManagedInstanceOperations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ManagedInstancePrivateLinkResources.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ManagedServerDnsAliases.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/NetworkSecurityPerimeterConfigurations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/PrivateLinkResources.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/RecoverableManagedDatabases.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ReplicationLinks.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ServerAdvisors.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ServerAzureADAdministrators.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ServerConfigurationOptions.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ServerConnectionPolicies.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ServerDnsAliases.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ServerKeys.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ServerOperations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ServerTrustCertificates.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ServerTrustGroups.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/Servers.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/SyncAgents.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/SyncGroups.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/SyncMembers.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/TimeZones.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/TransparentDataEncryptions.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/VirtualNetworkRules.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/examples/DistributedAvailabilityGroupsFailover.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/examples/DistributedAvailabilityGroupsGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/examples/DistributedAvailabilityGroupsListByInstance.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/examples/ManagedInstanceCreateMax.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#30153 [Storage] Add new Swagger files for STG96
  specification/storage/data-plane/Azure.Storage.Files.DataLake/readme.md
  specification/storage/data-plane/Azure.Storage.Files.DataLake/stable/2025-01-05/DataLakeStorage.json
  specification/storage/data-plane/Microsoft.BlobStorage/readme.md
  specification/storage/data-plane/Microsoft.BlobStorage/stable/2025-01-05/blob.json
  specification/storage/data-plane/Microsoft.FileStorage/readme.md
  specification/storage/data-plane/Microsoft.FileStorage/stable/2025-01-05/file.json
Labels: Storage, data-plane

#30188 Upgrade compiler, http, rest and openapi3 library to 0.59.1 fix
  package-lock.json
  package.json
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV3/2024-02-15-preview/assistants_generated.yaml
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV3/2024-05-01-preview/assistants_generated.yaml
Labels: data-plane, PipelineBotTrigger, PublishToCustomers

#30074 Add APIs to Get/Put/List shared key of vpn link connection for vwan VpnGateway
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/VpnSiteLinkConnectionDefaultSharedKeyGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/VpnSiteLinkConnectionDefaultSharedKeyList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/VpnSiteLinkConnectionDefaultSharedKeyPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/VpnSiteLinkConnectionSharedKeysGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/virtualWan.json
  specification/network/resource-manager/readme.md
Labels: Network, ARMSignedOff, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired

#30187 chore: Feedback from 8/9
  specification/iotoperations/IoTOperations.Management/models/auth.tsp
  specification/iotoperations/IoTOperations.Management/models/base.tsp
  specification/iotoperations/IoTOperations.Management/models/broker/authentications.tsp
  specification/iotoperations/IoTOperations.Management/models/dataflows/dataflowEndpoints.tsp
  specification/iotoperations/IoTOperations.Management/models/instance.tsp
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/preview/2024-08-15-preview/iotoperations.json
Labels: WaitForARMFeedback, ARMReview, resource-manager, RPaaS, TypeSpec

#30192 Add dataflow examples
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/preview/2024-08-15-preview/examples/DataFlowEndpoint_CreateOrUpdate_ADLSv2.json
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/preview/2024-08-15-preview/examples/DataFlowEndpoint_CreateOrUpdate_ADX.json
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/preview/2024-08-15-preview/examples/DataFlowEndpoint_CreateOrUpdate_AIO.json
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/preview/2024-08-15-preview/examples/DataFlowEndpoint_CreateOrUpdate_EventGrid.json
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/preview/2024-08-15-preview/examples/DataFlowEndpoint_CreateOrUpdate_EventHub.json
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/preview/2024-08-15-preview/examples/DataFlowEndpoint_CreateOrUpdate_Fabric.json
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/preview/2024-08-15-preview/examples/DataFlowEndpoint_CreateOrUpdate_Kafka.json
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/preview/2024-08-15-preview/examples/DataFlowEndpoint_CreateOrUpdate_LocalStorage.json
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/preview/2024-08-15-preview/examples/DataFlowEndpoint_CreateOrUpdate_MQTT.json
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/preview/2024-08-15-preview/examples/DataFlowProfile_CreateOrUpdate_Minimal.json
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/preview/2024-08-15-preview/examples/DataFlowProfile_CreateOrUpdate_Multi.json
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/preview/2024-08-15-preview/examples/Dataflow_CreateOrUpdate_ComplexContetualization.json
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/preview/2024-08-15-preview/examples/Dataflow_CreateOrUpdate_ComplexEventHub.json
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/preview/2024-08-15-preview/examples/Dataflow_CreateOrUpdate_FilterToTopic.json
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/preview/2024-08-15-preview/examples/Dataflow_CreateOrUpdate_SimpleEventGrid.json
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/preview/2024-08-15-preview/examples/Dataflow_CreateOrUpdate_SimpleFabric.json
Labels: WaitForARMFeedback, ARMReview, resource-manager

#30198 fix: Remove service accounts from instance
  specification/iotoperations/IoTOperations.Management/models/instance.tsp
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/preview/2024-08-15-preview/iotoperations.json
Labels: WaitForARMFeedback, ARMReview, resource-manager, RPaaS, TypeSpec

#30205 chore: Fix typos in Aio types
  specification/iotoperations/IoTOperations.Management/models/base.tsp
  specification/iotoperations/IoTOperations.Management/models/dataflows/dataflowEndpoints.tsp
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/preview/2024-08-15-preview/iotoperations.json
Labels: WaitForARMFeedback, ARMReview, resource-manager, RPaaS, TypeSpec

#29998 [Reviewed in priv repo] adding ipam, vnv and sec admin for 2024-01-01 preview
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/IpamPools_Create.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/IpamPools_Delete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/IpamPools_Get.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/IpamPools_GetPoolUsage.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/IpamPools_List.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/IpamPools_ListAssociatedResources.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/IpamPools_Update.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkManagerAdminRuleCollectionDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkManagerAdminRuleCollectionGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkManagerAdminRuleCollectionList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkManagerAdminRuleCollectionPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkManagerAdminRuleDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkManagerAdminRuleGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkManagerAdminRuleList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkManagerAdminRulePut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkManagerAdminRulePut_NetworkGroupSource.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkManagerCommitPost.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkManagerDefaultAdminRuleGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkManagerDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkManagerDeploymentStatusList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkManagerGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkManagerList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkManagerListAll.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkManagerPatch.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkManagerPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkManagerSecurityAdminConfigurationDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkManagerSecurityAdminConfigurationGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkManagerSecurityAdminConfigurationList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkManagerSecurityAdminConfigurationPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkManagerSecurityAdminConfigurationPut_ManualAggregation.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/ReachabilityAnalysisIntentDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/ReachabilityAnalysisIntentGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/ReachabilityAnalysisIntentList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/ReachabilityAnalysisIntentPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/ReachabilityAnalysisRunDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/ReachabilityAnalysisRunGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/ReachabilityAnalysisRunList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/ReachabilityAnalysisRunPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/StaticCidrs_Create.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/StaticCidrs_Delete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/StaticCidrs_Get.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/StaticCidrs_List.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/VerifierWorkspaceDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/VerifierWorkspaceGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/VerifierWorkspaceList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/VerifierWorkspacePatch.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/VerifierWorkspacePut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/ipAddressManager.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/network.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/networkManager.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/networkManagerSecurityAdminConfiguration.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/networkVerifier.json
  specification/network/resource-manager/readme.md
Labels: Network, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, Approved-Suppression, SuppressionReviewRequired, new-api-version, BreakingChange-Approved-Benign, PublishToCustomers

#30224 add customization of checknameavailibity in fabric for dotnet SDK
  specification/fabric/Microsoft.Fabric.Management/client.tsp
Labels: TypeSpec

#30225 [Fabric] add missing `@items` for paging model
  specification/fabric/Microsoft.Fabric.Management/models.tsp
Labels: TypeSpec

#30200 Update tspconfig for Python SDK
  specification/fabric/Microsoft.Fabric.Management/client.tsp
  specification/fabric/Microsoft.Fabric.Management/tspconfig.yaml
Labels: TypeSpec

#30138 Support ServicePrincipalCert Auth In RestService And SharePointOnlineList LinkedServices
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
Labels: ARMSignedOff, ARMReview, resource-manager, data-plane, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-BugFix, PublishToCustomers

#30050 Microsft.Web 2023-12-01: Add int32 format to all number types in the scaleAndConcurrency section of the functionAppConfig
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/CommonDefinitions.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-04-01/CommonDefinitions.json
  specification/web/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, Web Apps, ARMReview, resource-manager, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-Go-Sdk-Suppression

#30203 Fix Arm-id validation failure - remove format for userassigned MI
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-04-01-preview/vi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/vi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2024-01-01/vi.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, BreakingChange-Approved-BugFix, PublishToCustomers

#27798 deletedWorkbooks resource type
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2024-02-01-preview/deletedWorkbooks_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2024-02-01-preview/examples/DeletedWorkbooksList.json
  specification/applicationinsights/resource-manager/readme.go.md
  specification/applicationinsights/resource-manager/readme.md
Labels: Insights, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, PublishToCustomers

#30191 Watchlist fix lint failures
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/Watchlists.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/examples/watchlists/DeleteWatchlist.json
Labels: resource-manager

#30098 sayeedalam-microsoft microsoft portal dashboards add api version 2022 12 01 preview
  specification/portal/Dashboard.Management/examples/2022-12-01-preview/Dashboards_CreateOrUpdate.json
  specification/portal/Dashboard.Management/examples/2022-12-01-preview/Dashboards_Delete.json
  specification/portal/Dashboard.Management/examples/2022-12-01-preview/Dashboards_Get.json
  specification/portal/Dashboard.Management/examples/2022-12-01-preview/Dashboards_ListByResourceGroup.json
  specification/portal/Dashboard.Management/examples/2022-12-01-preview/Dashboards_ListBySubscription.json
  specification/portal/Dashboard.Management/examples/2022-12-01-preview/Dashboards_Update.json
  specification/portal/Dashboard.Management/examples/2022-12-01-preview/Operations_List.json
  specification/portal/Dashboard.Management/main.tsp
  specification/portal/Scripts/CopyApiVersion.ps1
  specification/portal/Scripts/GenerateSwaggerAll.ps1
  specification/portal/TenantConfiguration.Management/examples/2022-12-01-preview/ListTenantConfigurationViolations_List.json
  specification/portal/TenantConfiguration.Management/examples/2022-12-01-preview/TenantConfigurations_Create.json
  specification/portal/TenantConfiguration.Management/examples/2022-12-01-preview/TenantConfigurations_Delete.json
  specification/portal/TenantConfiguration.Management/examples/2022-12-01-preview/TenantConfigurations_Get.json
  specification/portal/TenantConfiguration.Management/examples/2022-12-01-preview/TenantConfigurations_List.json
  specification/portal/TenantConfiguration.Management/main.tsp
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/examples/Dashboards_CreateOrUpdate.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/examples/Dashboards_Delete.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/examples/Dashboards_Get.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/examples/Dashboards_ListByResourceGroup.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/examples/Dashboards_ListBySubscription.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/examples/Dashboards_Update.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/examples/ListTenantConfigurationViolations_List.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/examples/Operations_List.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/examples/TenantConfigurations_Create.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/examples/TenantConfigurations_Delete.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/examples/TenantConfigurations_Get.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/examples/TenantConfigurations_List.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/portal.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/tenantConfiguration.json
  specification/portal/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, TypeSpec, PublishToCustomers

#29895 Add new fields accessTier and previousTier to event StorageBlobTierChanged
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Storage/Storage.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Storage/client.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/examples/2018-01-01/blob_created.json
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/examples/2018-01-01/blob_tier_changed.json
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/examples/2024-01-01/blob_created.json
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/examples/2024-01-01/blob_tier_changed.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/GeneratedSystemEvents.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2024-01-01/GeneratedSystemEvents.json
  specification/eventgrid/data-plane/Microsoft.Storage/stable/2018-01-01/Storage.json
  specification/eventgrid/data-plane/Microsoft.Storage/stable/2018-01-01/examples/cloud-events-schema/blob_created.json
  specification/eventgrid/data-plane/Microsoft.Storage/stable/2018-01-01/examples/cloud-events-schema/blob_tier_changed.json
  specification/eventgrid/data-plane/Microsoft.Storage/stable/2018-01-01/examples/event-grid-schema/blob_created.json
  specification/eventgrid/data-plane/Microsoft.Storage/stable/2018-01-01/examples/event-grid-schema/blob_tier_changed.json
Labels: Compute, Network, Storage, KeyVault, Service Fabric, Data Lake Analytics, Batch, Analysis Services, Network - CDN, Container Registry, Customer Insights, Devtestlab, Cognitive Services, Authorization, Event Hubs, Logic App, Machine Learning, Media Services, Notification Hub, Monitor - Operational Insights, Recovery Services Backup, Redis Cache, Scheduler, Search, Insights, Relay, Service Bus, Intune, HDInsight, Automation, API Management, SQL, Monitor, Operations Management, Data Factory, BatchAI, Billing, Container Instances, Cosmos, Data Migration, Event Grid, Import Export, Mobile Engagement, MySQL, Policy Insights, PostgreSQL, Recovery Services Site-Recovery, Service Map, Storsimple, Stream Analytics, TimeseriesInsights, Data Lake Store, Machine Learning Compute, Profile, Network - DNS, Network - Traffic Manager, Subscription, customer-reported, Web Apps, StorageSync, Alerts Management, Peering, Container Service, IoTHub, Synapses, Purview, RecoveryServices, Load Test Service, Device Update, Maps, data-plane, Cognitive - Language, BreakingChangeReviewRequired, ArcReview, TypeSpec, Monitor - Exporter

#30072 Release standbypool microsoft.standby pool stable/2024-03-01
  specification/standbypool/StandbyPool.Management/examples/2024-03-01/Operations_List.json
  specification/standbypool/StandbyPool.Management/examples/2024-03-01/StandbyContainerGroupPoolRuntimeViews_Get.json
  specification/standbypool/StandbyPool.Management/examples/2024-03-01/StandbyContainerGroupPoolRuntimeViews_ListByStandbyPool.json
  specification/standbypool/StandbyPool.Management/examples/2024-03-01/StandbyContainerGroupPools_CreateOrUpdate.json
  specification/standbypool/StandbyPool.Management/examples/2024-03-01/StandbyContainerGroupPools_Delete.json
  specification/standbypool/StandbyPool.Management/examples/2024-03-01/StandbyContainerGroupPools_Get.json
  specification/standbypool/StandbyPool.Management/examples/2024-03-01/StandbyContainerGroupPools_ListByResourceGroup.json
  specification/standbypool/StandbyPool.Management/examples/2024-03-01/StandbyContainerGroupPools_ListBySubscription.json
  specification/standbypool/StandbyPool.Management/examples/2024-03-01/StandbyContainerGroupPools_Update.json
  specification/standbypool/StandbyPool.Management/examples/2024-03-01/StandbyVirtualMachinePoolRuntimeViews_Get.json
  specification/standbypool/StandbyPool.Management/examples/2024-03-01/StandbyVirtualMachinePoolRuntimeViews_ListByStandbyPool.json
  specification/standbypool/StandbyPool.Management/examples/2024-03-01/StandbyVirtualMachinePools_CreateOrUpdate.json
  specification/standbypool/StandbyPool.Management/examples/2024-03-01/StandbyVirtualMachinePools_Delete.json
  specification/standbypool/StandbyPool.Management/examples/2024-03-01/StandbyVirtualMachinePools_Get.json
  specification/standbypool/StandbyPool.Management/examples/2024-03-01/StandbyVirtualMachinePools_ListByResourceGroup.json
  specification/standbypool/StandbyPool.Management/examples/2024-03-01/StandbyVirtualMachinePools_ListBySubscription.json
  specification/standbypool/StandbyPool.Management/examples/2024-03-01/StandbyVirtualMachinePools_Update.json
  specification/standbypool/StandbyPool.Management/examples/2024-03-01/StandbyVirtualMachines_Get.json
  specification/standbypool/StandbyPool.Management/examples/2024-03-01/StandbyVirtualMachines_ListByStandbyVirtualMachinePoolResource.json
  specification/standbypool/StandbyPool.Management/service.tsp
  specification/standbypool/resource-manager/Microsoft.StandbyPool/stable/2024-03-01/examples/Operations_List.json
  specification/standbypool/resource-manager/Microsoft.StandbyPool/stable/2024-03-01/examples/StandbyContainerGroupPoolRuntimeViews_Get.json
  specification/standbypool/resource-manager/Microsoft.StandbyPool/stable/2024-03-01/examples/StandbyContainerGroupPoolRuntimeViews_ListByStandbyPool.json
  specification/standbypool/resource-manager/Microsoft.StandbyPool/stable/2024-03-01/examples/StandbyContainerGroupPools_CreateOrUpdate.json
  specification/standbypool/resource-manager/Microsoft.StandbyPool/stable/2024-03-01/examples/StandbyContainerGroupPools_Delete.json
  specification/standbypool/resource-manager/Microsoft.StandbyPool/stable/2024-03-01/examples/StandbyContainerGroupPools_Get.json
  specification/standbypool/resource-manager/Microsoft.StandbyPool/stable/2024-03-01/examples/StandbyContainerGroupPools_ListByResourceGroup.json
  specification/standbypool/resource-manager/Microsoft.StandbyPool/stable/2024-03-01/examples/StandbyContainerGroupPools_ListBySubscription.json
  specification/standbypool/resource-manager/Microsoft.StandbyPool/stable/2024-03-01/examples/StandbyContainerGroupPools_Update.json
  specification/standbypool/resource-manager/Microsoft.StandbyPool/stable/2024-03-01/examples/StandbyVirtualMachinePoolRuntimeViews_Get.json
  specification/standbypool/resource-manager/Microsoft.StandbyPool/stable/2024-03-01/examples/StandbyVirtualMachinePoolRuntimeViews_ListByStandbyPool.json
  specification/standbypool/resource-manager/Microsoft.StandbyPool/stable/2024-03-01/examples/StandbyVirtualMachinePools_CreateOrUpdate.json
  specification/standbypool/resource-manager/Microsoft.StandbyPool/stable/2024-03-01/examples/StandbyVirtualMachinePools_Delete.json
  specification/standbypool/resource-manager/Microsoft.StandbyPool/stable/2024-03-01/examples/StandbyVirtualMachinePools_Get.json
  specification/standbypool/resource-manager/Microsoft.StandbyPool/stable/2024-03-01/examples/StandbyVirtualMachinePools_ListByResourceGroup.json
  specification/standbypool/resource-manager/Microsoft.StandbyPool/stable/2024-03-01/examples/StandbyVirtualMachinePools_ListBySubscription.json
  specification/standbypool/resource-manager/Microsoft.StandbyPool/stable/2024-03-01/examples/StandbyVirtualMachinePools_Update.json
  specification/standbypool/resource-manager/Microsoft.StandbyPool/stable/2024-03-01/examples/StandbyVirtualMachines_Get.json
  specification/standbypool/resource-manager/Microsoft.StandbyPool/stable/2024-03-01/examples/StandbyVirtualMachines_ListByStandbyVirtualMachinePoolResource.json
  specification/standbypool/resource-manager/Microsoft.StandbyPool/stable/2024-03-01/standbypool.json
  specification/standbypool/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, TypeSpec, MergeRequested, PublishToCustomers

#30237 [Document Intelligence] Update tspconfig.yaml to add java customization
  specification/ai/DocumentIntelligence/tspconfig.yaml
Labels: TypeSpec

#30201 [HDInsight on AKS]Update wrong package tag in readme.
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/readme.md
Labels: HDInsight, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, MergeRequested, PublishToCustomers

#29887 [AppConfiguration] Fix SDK API breaking for contentType
  specification/appconfiguration/AppConfiguration/client.tsp
  specification/appconfiguration/AppConfiguration/routes.tsp
Labels: TypeSpec

#30184 Add client tsp for DevOpsInfrastructure
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/client.tsp
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/main.tsp
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/tspconfig.yaml
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/preview/2024-04-04-preview/devopsinfrastructure.json
Labels: TypeSpec, BreakingChange-Approved-BugFix

#30158 add directive for azurestackhci to resolve duplicate schemas
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/readme.go.md
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/readme.java.md
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/readme.md
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/sdk-suppressions.yaml
Labels: resource-manager, ReadyForApiTest, RPaaS, ArcReview, ArcSignedOff, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-JavaScript-Sdk-Suppression-Approved, BreakingChange-Python-Sdk-Suppression-Approved, BreakingChange-Go-Sdk-Suppression, BreakingChange-JavaScript-Sdk-Suppression, BreakingChange-Python-Sdk-Suppression, PublishToCustomers

#30240 [EventGrid] Fix formatting
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Storage/client.tsp
Labels: Event Grid

#29815 Update patch models for mongocluster
  specification/mongocluster/DocumentDB.MongoCluster.Management/MongoCluster.tsp
  specification/mongocluster/DocumentDB.MongoCluster.Management/client.tsp
  specification/mongocluster/DocumentDB.MongoCluster.Management/tspconfig.yaml
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-03-01-preview/mongoCluster.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-06-01-preview/mongoCluster.json
Labels: WaitForARMFeedback, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-Python-Sdk, PublishToCustomers

#29912 Add Initiate, Get and Accept Subscription Change Directory Api with new version.
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2024-08-01-preview/examples/acceptOwnershipStatus.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2024-08-01-preview/examples/acceptSubscriptionOwnership.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2024-08-01-preview/examples/acceptTargetDirectory.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2024-08-01-preview/examples/cancelSubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2024-08-01-preview/examples/changeTenantPolicy.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2024-08-01-preview/examples/createAlias.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2024-08-01-preview/examples/deleteAlias.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2024-08-01-preview/examples/enableSubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2024-08-01-preview/examples/getAlias.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2024-08-01-preview/examples/getBillingAccountPolicy.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2024-08-01-preview/examples/getOperations.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2024-08-01-preview/examples/getSubscriptionOperation.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2024-08-01-preview/examples/getTargetDirectory.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2024-08-01-preview/examples/getTenantPolicy.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2024-08-01-preview/examples/getTenantPolicyList.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2024-08-01-preview/examples/listAlias.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2024-08-01-preview/examples/putTargetDirectory.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2024-08-01-preview/examples/renameSubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2024-08-01-preview/examples/targetDirectoryStatus.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2024-08-01-preview/subscriptions.json
  specification/subscription/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, Approved-Suppression, SuppressionReviewRequired, new-api-version, MergeRequested, BreakingChange-Approved-Benign, PublishToCustomers

#30034 removing force detach not supported for vmss vm
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-07-01/computeRPCommon.json
Labels: Compute, ARMSignedOff, customer-reported, ARMReview, resource-manager, ReadyForApiTest, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk, PublishToCustomers

#29981 2024-04-01 GA bug fixes
  specification/billing/resource-manager/Microsoft.Billing/stable/2024-04-01/availableBalance.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2024-04-01/billingProfile.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2024-04-01/billingSavingsPlan.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2024-04-01/examples/availableBalanceGetByBillingAccount.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2024-04-01/examples/availableBalanceGetByBillingProfile.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2024-04-01/examples/paymentMethodsDeleteAtBillingProfile.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2024-04-01/invoice.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2024-04-01/invoiceSection.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2024-04-01/payment.json
  specification/billing/resource-manager/readme.typescript.md
  specification/billing/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, Billing, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, BreakingChange-Approved-BugFix, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-JavaScript-Sdk-Suppression-Approved, BreakingChange-Go-Sdk-Suppression, BreakingChange-JavaScript-Sdk-Suppression, PublishToCustomers

#29583 Olivertowers mongoclusters microsoft.document db 2024 07 01 stable
  specification/mongocluster/DocumentDB.MongoCluster.Management/MongoCluster.tsp
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-07-01/MongoClusters_Create.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-07-01/MongoClusters_CreateGeoReplica.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-07-01/MongoClusters_CreatePITR.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-07-01/MongoClusters_Delete.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-07-01/MongoClusters_FirewallRuleCreate.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-07-01/MongoClusters_FirewallRuleDelete.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-07-01/MongoClusters_FirewallRuleGet.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-07-01/MongoClusters_FirewallRuleList.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-07-01/MongoClusters_ForcePromoteReplica.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-07-01/MongoClusters_Get.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-07-01/MongoClusters_List.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-07-01/MongoClusters_ListByResourceGroup.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-07-01/MongoClusters_ListConnectionStrings.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-07-01/MongoClusters_NameAvailability.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-07-01/MongoClusters_NameAvailability_AlreadyExists.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-07-01/MongoClusters_PatchDiskSize.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-07-01/MongoClusters_PatchPrivateNetworkAccess.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-07-01/MongoClusters_PrivateEndpointConnectionDelete.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-07-01/MongoClusters_PrivateEndpointConnectionGet.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-07-01/MongoClusters_PrivateEndpointConnectionList.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-07-01/MongoClusters_PrivateEndpointConnectionPut.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-07-01/MongoClusters_PrivateLinkResourceList.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-07-01/MongoClusters_ReplicaList.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-07-01/MongoClusters_ResetPassword.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-07-01/MongoClusters_Update.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/examples/2024-07-01/Operations_List.json
  specification/mongocluster/DocumentDB.MongoCluster.Management/main.tsp
  specification/mongocluster/DocumentDB.MongoCluster.Management/tspconfig.yaml
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/stable/2024-07-01/examples/MongoClusters_Create.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/stable/2024-07-01/examples/MongoClusters_CreateGeoReplica.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/stable/2024-07-01/examples/MongoClusters_CreatePITR.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/stable/2024-07-01/examples/MongoClusters_Delete.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/stable/2024-07-01/examples/MongoClusters_FirewallRuleCreate.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/stable/2024-07-01/examples/MongoClusters_FirewallRuleDelete.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/stable/2024-07-01/examples/MongoClusters_FirewallRuleGet.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/stable/2024-07-01/examples/MongoClusters_FirewallRuleList.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/stable/2024-07-01/examples/MongoClusters_ForcePromoteReplica.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/stable/2024-07-01/examples/MongoClusters_Get.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/stable/2024-07-01/examples/MongoClusters_List.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/stable/2024-07-01/examples/MongoClusters_ListByResourceGroup.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/stable/2024-07-01/examples/MongoClusters_ListConnectionStrings.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/stable/2024-07-01/examples/MongoClusters_NameAvailability.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/stable/2024-07-01/examples/MongoClusters_NameAvailability_AlreadyExists.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/stable/2024-07-01/examples/MongoClusters_PatchDiskSize.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/stable/2024-07-01/examples/MongoClusters_PatchPrivateNetworkAccess.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/stable/2024-07-01/examples/MongoClusters_PrivateEndpointConnectionDelete.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/stable/2024-07-01/examples/MongoClusters_PrivateEndpointConnectionGet.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/stable/2024-07-01/examples/MongoClusters_PrivateEndpointConnectionList.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/stable/2024-07-01/examples/MongoClusters_PrivateEndpointConnectionPut.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/stable/2024-07-01/examples/MongoClusters_PrivateLinkResourceList.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/stable/2024-07-01/examples/MongoClusters_ReplicaList.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/stable/2024-07-01/examples/MongoClusters_ResetPassword.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/stable/2024-07-01/examples/MongoClusters_Update.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/stable/2024-07-01/examples/Operations_List.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/stable/2024-07-01/mongoCluster.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/stable/2024-07-01/scenarios/basic.yaml
  specification/mongocluster/resource-manager/readme.md
  specification/mongocluster/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, TypeSpec, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-Python-Sdk-Suppression-Approved, BreakingChange-Python-Sdk, BreakingChange-Go-Sdk-Suppression, BreakingChange-Python-Sdk-Suppression, PublishToCustomers

#30206 [OpenAI-Assistant] Update fileIds to file_ids
  specification/ai/OpenAI.Assistants/tools/tool_resources.tsp
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV2/preview/2024-05-01-preview/assistants_generated.json
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV3/2024-05-01-preview/assistants_generated.yaml
Labels: data-plane, TypeSpec, Versioning-Approved-BugFix, VersioningReviewRequired

#30250 Update client.tsp for mongocluster
  specification/mongocluster/DocumentDB.MongoCluster.Management/client.tsp
Labels: TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-Python-Sdk

#30241 Fix Arm-id validation failure - remove "allowed resources" for userassigned MI #30203
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-04-01-preview/vi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/vi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2024-01-01/vi.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, PublishToCustomers

#30254 Update client.tsp for MongoCluster
  specification/mongocluster/DocumentDB.MongoCluster.Management/client.tsp
Labels: TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-Python-Sdk

#30252 update suppression format
  specification/securityinsights/resource-manager/readme.md
Labels: resource-manager, SuppressionReviewRequired

#30242 [EG] sample format fix
  specification/eventgrid/data-plane/Microsoft.Media/stable/2018-01-01/examples/cloud-events-schema/MediaLiveEventChannelArchiveHeartbeatEvent.json
  specification/eventgrid/data-plane/Microsoft.Media/stable/2018-01-01/examples/cloud-events-schema/MediaLiveEventIngestHeartbeatEvent.json
  specification/eventgrid/data-plane/Microsoft.Media/stable/2018-01-01/examples/event-grid-schema/MediaLiveEventChannelArchiveHeartbeatEvent.json
  specification/eventgrid/data-plane/Microsoft.Media/stable/2018-01-01/examples/event-grid-schema/MediaLiveEventIngestHeartbeatEvent.json
Labels: Event Grid, data-plane, PublishToCustomers

#29178 Reorganize Face client
  specification/ai/Face/client.tsp
  specification/ai/Face/models.common.tsp
  specification/ai/Face/routes.common.tsp
  specification/ai/data-plane/Face/preview/v1.1-preview.1/Face.json
  specification/ai/data-plane/Face/preview/v1.2-preview.1/Face.json
Labels: data-plane, TypeSpec, Versioning-Approved-Benign, VersioningReviewRequired, PublishToCustomers

#30265 [mls] systemDatastoresAuthMode is missing in WorkspacePropertiesUpdateParameters
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/workspaceRP.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, Versioning-Approved-BugFix, VersioningReviewRequired, PublishToCustomers

#30248 [mls] addressPrefixes in ServiceTagDestination is incorrectly marked readOnly
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/workspaceRP.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, Versioning-Approved-BugFix, VersioningReviewRequired, PublishToCustomers

#30275 [anomaly detector] update tspconfig for SDK generation
  specification/cognitiveservices/AnomalyDetector/tspconfig.yaml
Labels: Cognitive Services, TypeSpec

#30062 Adding new BMI api version 2024-08-01-preview
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/baremetalinfrastructure.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalInstances_Create.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalInstances_Delete.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalInstances_Get.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalInstances_ListByResourceGroup.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalInstances_ListBySubscription.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalInstances_PatchTags.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalInstances_PatchTags_Delete.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalInstances_Restart.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalInstances_Shutdown.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalInstances_Start.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalOperations_List.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalStorageInstances_Create.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalStorageInstances_Delete.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalStorageInstances_Get.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalStorageInstances_ListByResourceGroup.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalStorageInstances_ListBySubscription.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalStorageInstances_PatchTags.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalStorageInstances_PatchTags_Delete.json
  specification/baremetalinfrastructure/resource-manager/readme.go.md
  specification/baremetalinfrastructure/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, BreakingChange-Approved-Benign, PublishToCustomers

#30014 Delete x-ms-format in synapse
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: Synapses, data-plane, PublishToCustomers

#30279 Create readme.java.md for ARO
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/openshiftclusters/readme.java.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#30281 Java mgmt, config for stackhci
  specification/azurestackhci/resource-manager/readme.java.md
Labels: ARMSignedOff, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest, RPaaS, ArcReview, ArcSignedOff, PublishToCustomers

#29712 Emmelia ara v3 azure backup changes hardwaresecuritymodules microsoft.hardware security modules 2024-06-30-preview
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/cloudhsm.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/dedicatedhsm.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/CloudHsmClusterPrivateEndpointConnection_Create_MaximumSet_Gen.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/CloudHsmClusterPrivateEndpointConnection_Delete_MaximumSet_Gen.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/CloudHsmClusterPrivateEndpointConnection_Get_MaximumSet_Gen.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/CloudHsmClusterPrivateEndpointConnection_ListByCloudHsmCluster_MaximumSet_Gen.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/CloudHsmClusterPrivateLinkResource_ListByCloudHsmCluster_MaximumSet_Gen.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/CloudHsmCluster_Backup_Pending_MaximumSet_Gen.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/CloudHsmCluster_CreateOrUpdate_MaximumSet_Gen.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/CloudHsmCluster_CreateOrValidate_Backup_MaximumSet_Gen.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/CloudHsmCluster_Delete_MaximumSet_Gen.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/CloudHsmCluster_Get_MaximumSet_Gen.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/CloudHsmCluster_ListByResourceGroup_MaximumSet_Gen.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/CloudHsmCluster_ListBySubscription_MaximumSet_Gen.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/CloudHsmCluster_RequestOrValidate_Restore_MaximumSet_Gen.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/CloudHsmCluster_Restore_Pending_MaximumSet_Gen.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/CloudHsmCluster_Update_MaximumSet_Gen.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/DedicatedHsm_CreateOrUpdate.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/DedicatedHsm_Delete.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/DedicatedHsm_Get.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/DedicatedHsm_ListByResourceGroup.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/DedicatedHsm_ListBySubscription.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/DedicatedHsm_Update.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/GetOutboundNetworkDependenciesEndpointsList.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/OperationsList.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/PaymentHsm_CreateOrUpdate.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/PaymentHsm_CreateOrUpdate_WithManagementProfile.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/PaymentHsm_Get.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/PaymentHsm_Get_With_2018-10-31Preview_Version.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/PaymentHsm_ListByResourceGroup.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/PaymentHsm_ListBySubscription.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/PaymentHsm_Update.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/operations.json
  specification/hardwaresecuritymodules/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, BreakingChange-Approved-Benign, PublishToCustomers

#30156 Add dockerfile path argument
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/SourceControls.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/SourceControls_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/SourceControls_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/SourceControls_ListByContainer.json
  specification/app/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, BreakingChange-Python-Sdk-Suppression-Approved, BreakingChange-Python-Sdk-Suppression

#30154 Add KEDA cooldownPeriod/pollingInterval property for Container App & Jobs
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/Jobs.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/ContainerApps_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/ContainerApps_CreateOrUpdate_ConnectedEnvironment.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/ContainerApps_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/ContainerApps_Kind_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/ContainerApps_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/ContainerApps_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/ContainerApps_ManagedBy_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/ContainerApps_Patch.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/ContainerApps_SourceToCloudApp_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/ContainerApps_Start.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/ContainerApps_TcpApp_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/Job_CreateorUpdate_EventTrigger.json
Labels: ARMSignedOff, ARMReview, resource-manager, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk

#30289 [AppConfig] Add python config
  specification/appconfiguration/AppConfiguration/client.tsp
Labels: TypeSpec

#30137 added list mahcines and get machine to swagger
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-07-01/examples/MachineGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-07-01/examples/MachineList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-07-01/managedClusters.json
Labels: customer-reported, Container Service, resource-manager

#30272 Update detection model recommendation
  specification/ai/Face/models.detect.tsp
  specification/ai/data-plane/Face/preview/v1.1-preview.1/Face.json
  specification/ai/data-plane/Face/preview/v1.2-preview.1/Face.json
Labels: data-plane, TypeSpec, PublishToCustomers

#30232 Make the header optional for source control
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/SourceControls.json
Labels: ARMSignedOff, ARMReview, resource-manager, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk

#30083 Added location headers to securityPartnerProvider delete examples
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/applicationGatewayWafDynamicManifests.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/securityPartnerProvider.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/applicationGatewayWafDynamicManifests.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/securityPartnerProvider.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/applicationGatewayWafDynamicManifests.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/SecurityPartnerProviderDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/securityPartnerProvider.json
Labels: Network, ARMSignedOff, ARMReview, resource-manager

#30280 java mgmt, mitigate machine learning services 2024-04 breaking change
  specification/machinelearningservices/resource-manager/readme.java.md
Labels: WaitForARMFeedback, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#30294 add directive for servicenetworking
  specification/servicenetworking/resource-manager/readme.typescript.md
Labels: resource-manager, ReadyForApiTest, PublishToCustomers

#29945 New Version Serial Console API
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/stable/2024-07-01/examples/CreateSerialPort.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/stable/2024-07-01/examples/DisableConsoleExamples.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/stable/2024-07-01/examples/EnableConsoleExamples.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/stable/2024-07-01/examples/GetOperationsExample.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/stable/2024-07-01/examples/GetSerialPort.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/stable/2024-07-01/examples/ListSerialPort.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/stable/2024-07-01/examples/ListSerialPortSubscription.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/stable/2024-07-01/examples/SerialConsoleStatus.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/stable/2024-07-01/examples/SerialPortConnectVM.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/stable/2024-07-01/examples/SerialPortConnectVMSS.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/stable/2024-07-01/serialconsole.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/stable/2024-07-01/serialport.json
  specification/serialconsole/resource-manager/readme.md
  specification/serialconsole/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, BreakingChange-Approved-BugFix, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-JavaScript-Sdk-Suppression-Approved, BreakingChange-Python-Sdk-Suppression-Approved, BreakingChange-Go-Sdk-Suppression, BreakingChange-JavaScript-Sdk-Suppression, BreakingChange-Python-Sdk-Suppression, PublishToCustomers

#29950 add 2024-08-01 api-version for Ms.Resources for data boundaries
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-08-01/dataBoundaries.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-08-01/examples/GetScopedDataBoundary.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-08-01/examples/GetTenantDataBoundary.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-08-01/examples/Operations_List.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-08-01/examples/PutDataBoundary.json
  specification/resources/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired, new-api-version, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-JavaScript-Sdk, PublishToCustomers

#30302 Dev sentinel securityinsights microsoft.security insights 2024 04 01 preview
  specification/securityinsights/resource-manager/readme.md
Labels: resource-manager, SuppressionReviewRequired

#30277 Remove duplicate property
  specification/billing/resource-manager/Microsoft.Billing/stable/2024-04-01/billingSavingsPlan.json
Labels: ARMSignedOff, Billing, ARMReview, resource-manager, ReadyForApiTest, BreakingChange-Approved-BugFix, PublishToCustomers

#29987 Add includeDapr in traces and include keda in metrics for container app environment
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/ManagedEnvironments_CreateOrUpdate.json
Labels: ARMSignedOff, ARMReview, resource-manager, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk

#30010 Adding new ALI api version 2024-08-01-preview
  specification/azurelargeinstance/AzureLargeInstance.Management/AzureLargeInstance.tsp
  specification/azurelargeinstance/AzureLargeInstance.Management/AzureLargeStorageInstance.tsp
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-08-01-preview/AzureLargeInstanceOperations_List.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-08-01-preview/AzureLargeInstance_Create.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-08-01-preview/AzureLargeInstance_Delete.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-08-01-preview/AzureLargeInstance_Get.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-08-01-preview/AzureLargeInstance_ListByResourceGroup.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-08-01-preview/AzureLargeInstance_ListBySubscription.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-08-01-preview/AzureLargeInstance_PatchTags.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-08-01-preview/AzureLargeInstance_PatchTags_Delete.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-08-01-preview/AzureLargeInstance_Restart.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-08-01-preview/AzureLargeInstance_Shutdown.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-08-01-preview/AzureLargeInstance_Start.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-08-01-preview/AzureLargeStorageInstance_Create.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-08-01-preview/AzureLargeStorageInstance_Delete.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-08-01-preview/AzureLargeStorageInstance_Get.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-08-01-preview/AzureLargeStorageInstance_ListByResourceGroup.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-08-01-preview/AzureLargeStorageInstance_ListBySubscription.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-08-01-preview/AzureLargeStorageInstance_PatchTags.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-08-01-preview/AzureLargeStorageInstance_PatchTags_Delete.json
  specification/azurelargeinstance/AzureLargeInstance.Management/main.tsp
  specification/azurelargeinstance/AzureLargeInstance.Management/models.tsp
  specification/azurelargeinstance/AzureLargeInstance.Management/tspconfig.yaml
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2024-08-01-preview/azurelargeinstance.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2024-08-01-preview/examples/AzureLargeInstanceOperations_List.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2024-08-01-preview/examples/AzureLargeInstance_Create.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2024-08-01-preview/examples/AzureLargeInstance_Delete.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2024-08-01-preview/examples/AzureLargeInstance_Get.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2024-08-01-preview/examples/AzureLargeInstance_ListByResourceGroup.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2024-08-01-preview/examples/AzureLargeInstance_ListBySubscription.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2024-08-01-preview/examples/AzureLargeInstance_PatchTags.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2024-08-01-preview/examples/AzureLargeInstance_PatchTags_Delete.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2024-08-01-preview/examples/AzureLargeInstance_Restart.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2024-08-01-preview/examples/AzureLargeInstance_Shutdown.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2024-08-01-preview/examples/AzureLargeInstance_Start.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2024-08-01-preview/examples/AzureLargeStorageInstance_Create.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2024-08-01-preview/examples/AzureLargeStorageInstance_Delete.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2024-08-01-preview/examples/AzureLargeStorageInstance_Get.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2024-08-01-preview/examples/AzureLargeStorageInstance_ListByResourceGroup.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2024-08-01-preview/examples/AzureLargeStorageInstance_ListBySubscription.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2024-08-01-preview/examples/AzureLargeStorageInstance_PatchTags.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2024-08-01-preview/examples/AzureLargeStorageInstance_PatchTags_Delete.json
  specification/azurelargeinstance/resource-manager/readme.md
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, BreakingChangeReviewRequired, Approved-Suppression, SuppressionReviewRequired, new-api-version, TypeSpec, MergeRequested, BreakingChange-Approved-BugFix, PipelineBotTrigger, PublishToCustomers

#30231 Fix sessionpool name parameter location
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/SessionPools.json
Labels: ARMSignedOff, ARMReview, resource-manager, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk

#30297 Allow a Set command for HybridKubernetes.
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-15-preview/connectedClusters.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-15-preview/examples/UpdateClusterByPatchExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-15-preview/examples/UpdateClusterByPutExample.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, Versioning-Approved-BugFix, VersioningReviewRequired, PublishToCustomers

#30096 Remove PFSMM as an option for PFSGroup
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/virtualNetworkGateway.json
Labels: Network, ARMSignedOff, customer-reported, ARMReview, resource-manager, PublishToCustomers

#30024 Split.IO Add 2024-07-01-preview
  specification/splitio/SplitIO.Experimentation.Management/examples/2024-07-01-preview/DataPlaneApplicationsExchangeToken.json
  specification/splitio/SplitIO.Experimentation.Management/examples/2024-07-01-preview/ExperimentationWorkspacesCreate.json
  specification/splitio/SplitIO.Experimentation.Management/examples/2024-07-01-preview/ExperimentationWorkspacesDelete.json
  specification/splitio/SplitIO.Experimentation.Management/examples/2024-07-01-preview/ExperimentationWorkspacesGet.json
  specification/splitio/SplitIO.Experimentation.Management/examples/2024-07-01-preview/ExperimentationWorkspacesListByResourceGroup.json
  specification/splitio/SplitIO.Experimentation.Management/examples/2024-07-01-preview/ExperimentationWorkspacesListBySubscription.json
  specification/splitio/SplitIO.Experimentation.Management/examples/2024-07-01-preview/ExperimentationWorkspacesUpdate.json
  specification/splitio/SplitIO.Experimentation.Management/examples/2024-07-01-preview/OperationsList.json
  specification/splitio/SplitIO.Experimentation.Management/main.tsp
  specification/splitio/SplitIO.Experimentation.Management/tspconfig.yaml
  specification/splitio/resource-manager/SplitIO.Experimentation/preview/2024-07-01-preview/examples/DataPlaneApplicationsExchangeToken.json
  specification/splitio/resource-manager/SplitIO.Experimentation/preview/2024-07-01-preview/examples/ExperimentationWorkspacesCreate.json
  specification/splitio/resource-manager/SplitIO.Experimentation/preview/2024-07-01-preview/examples/ExperimentationWorkspacesDelete.json
  specification/splitio/resource-manager/SplitIO.Experimentation/preview/2024-07-01-preview/examples/ExperimentationWorkspacesGet.json
  specification/splitio/resource-manager/SplitIO.Experimentation/preview/2024-07-01-preview/examples/ExperimentationWorkspacesListByResourceGroup.json
  specification/splitio/resource-manager/SplitIO.Experimentation/preview/2024-07-01-preview/examples/ExperimentationWorkspacesListBySubscription.json
  specification/splitio/resource-manager/SplitIO.Experimentation/preview/2024-07-01-preview/examples/ExperimentationWorkspacesUpdate.json
  specification/splitio/resource-manager/SplitIO.Experimentation/preview/2024-07-01-preview/examples/OperationsList.json
  specification/splitio/resource-manager/SplitIO.Experimentation/preview/2024-07-01-preview/splitio.json
  specification/splitio/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, Approved-Suppression, SuppressionReviewRequired, new-api-version, TypeSpec, PublishToCustomers

#30313 Update readme.md to suppress legacy LintErrors in Entities.json
  specification/securityinsights/resource-manager/readme.md
Labels: resource-manager

#30238 Add client tsp for AzureFleet
  specification/azurefleet/AzureFleet.Management/baseVirtualMachineProfile.tsp
  specification/azurefleet/AzureFleet.Management/client.tsp
  specification/azurefleet/AzureFleet.Management/examples/2023-11-01-preview/Fleets_CreateOrUpdate_MaximumSet.json
  specification/azurefleet/AzureFleet.Management/examples/2023-11-01-preview/Fleets_Get_MaximumSet.json
  specification/azurefleet/AzureFleet.Management/examples/2023-11-01-preview/Fleets_ListByResourceGroup_MaximumSet.json
  specification/azurefleet/AzureFleet.Management/examples/2023-11-01-preview/Fleets_ListBySubscription_MaximumSet.json
  specification/azurefleet/AzureFleet.Management/examples/2023-11-01-preview/Fleets_Update_MaximumSet.json
  specification/azurefleet/AzureFleet.Management/examples/2024-05-01-preview/Fleets_CreateOrUpdate.json
  specification/azurefleet/AzureFleet.Management/examples/2024-05-01-preview/Fleets_Get.json
  specification/azurefleet/AzureFleet.Management/examples/2024-05-01-preview/Fleets_ListByResourceGroup.json
  specification/azurefleet/AzureFleet.Management/examples/2024-05-01-preview/Fleets_ListBySubscription.json
  specification/azurefleet/AzureFleet.Management/examples/2024-05-01-preview/Fleets_Update.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2023-11-01-preview/azurefleet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2023-11-01-preview/examples/Fleets_CreateOrUpdate_MaximumSet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2023-11-01-preview/examples/Fleets_Get_MaximumSet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2023-11-01-preview/examples/Fleets_ListByResourceGroup_MaximumSet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2023-11-01-preview/examples/Fleets_ListBySubscription_MaximumSet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2023-11-01-preview/examples/Fleets_Update_MaximumSet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2024-05-01-preview/azurefleet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2024-05-01-preview/examples/Fleets_CreateOrUpdate.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2024-05-01-preview/examples/Fleets_Get.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2024-05-01-preview/examples/Fleets_ListByResourceGroup.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2024-05-01-preview/examples/Fleets_ListBySubscription.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2024-05-01-preview/examples/Fleets_Update.json
  specification/azurefleet/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, TypeSpec, Versioning-Approved-BugFix, VersioningReviewRequired, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-Python-Sdk-Suppression-Approved, BreakingChange-Python-Sdk, BreakingChange-Go-Sdk-Suppression, BreakingChange-Python-Sdk-Suppression, PublishToCustomers

#30103 [MySql] Split "azure-mgmt-mysqlflexibleservers" from "azure-mgmt-rdbms" for Python SDK
  specification/mysql/resource-manager/readme.python.md
Labels: ARMSignedOff, MySQL, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#30104 [postgresql] Split "azure-mgmt-postgresqlflexibleservers" from "azure-mgmt-rdbms" for Python SDK
  specification/postgresql/resource-manager/readme.python.md
Labels: ARMSignedOff, PostgreSQL, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#30316 Adding AvoidAnonymousTypes suppression to recommendations.json
  specification/securityinsights/resource-manager/readme.md
Labels: resource-manager

#30196 Update Description For Vnet Encryption
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/virtualNetwork.json
Labels: Network, ARMSignedOff, ARMReview, resource-manager

#30253 Update Spec to Match Backend - Add 200 Status Code for Resume and Suspend APIs
  specification/fabric/Microsoft.Fabric.Management/capacity.tsp
  specification/fabric/Microsoft.Fabric.Management/examples/2023-11-01/FabricCapacities_Resume.json
  specification/fabric/Microsoft.Fabric.Management/examples/2023-11-01/FabricCapacities_Suspend.json
  specification/fabric/resource-manager/Microsoft.Fabric/stable/2023-11-01/examples/FabricCapacities_Resume.json
  specification/fabric/resource-manager/Microsoft.Fabric/stable/2023-11-01/examples/FabricCapacities_Suspend.json
  specification/fabric/resource-manager/Microsoft.Fabric/stable/2023-11-01/fabric.json
  specification/fabric/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, Approved-Suppression, SuppressionReviewRequired, TypeSpec, MergeRequested, BreakingChange-Approved-BugFix, PublishToCustomers

#30067 Add CipherSuites object to support discoverability API
  specification/web/resource-manager/Microsoft.Web/stable/2024-04-01/CommonDefinitions.json
Labels: ARMSignedOff, Web Apps, ARMReview, resource-manager

#30303 fix: Fix enum in Microsoft.iotoperations@2024-08-15-preview
  specification/iotoperations/IoTOperations.Management/models/base.tsp
  specification/iotoperations/IoTOperations.Management/models/dataflows/dataflowEndpoints.tsp
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/preview/2024-08-15-preview/iotoperations.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, TypeSpec, VersioningReviewRequired, Versioning-Approved-BranchPolicyException, PublishToCustomers

#30245 [Azure Maps] Update Render Doc
  specification/maps/data-plane/Render/preview/2.0/render.json
  specification/maps/data-plane/Render/stable/2022-08-01/render.json
  specification/maps/data-plane/Render/stable/2024-04-01/render.json
Labels: Maps, data-plane, PublishToCustomers

#30318 GA Delete Machines API
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-07-01/examples/AgentPoolsDeleteMachines.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-07-01/managedClusters.json
Labels: Container Service, resource-manager, BreakingChange-Python-Sdk

#30304 Add job suspend resume
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/Jobs.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/Jobs_Resume.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/Jobs_Suspend.json
  specification/app/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, customer-reported, ARMReview, resource-manager, BreakingChange-Python-Sdk-Suppression-Approved, BreakingChange-Python-Sdk-Suppression

#30330 [recoveryservicessiterecovery] update python config
  specification/recoveryservicessiterecovery/resource-manager/readme.python.md
Labels: WaitForARMFeedback, ARMSignedOff, Recovery Services Site-Recovery, ARMReview, resource-manager, ReadyForApiTest, BreakingChange-Go-Sdk-Approved, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk, PublishToCustomers

#30261 Revert "Downgraded the version of ManagedInstances to generate .Net SDK for sql/resource manager"
  specification/sql/resource-manager/readme.md
Labels: SQL, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#30335 [mobilepacketcore] update python config
  specification/mobilepacketcore/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, PublishToCustomers

#30336 [MpcNetworkFunction] update python config
  specification/mobilepacketcore/resource-manager/readme.python.md
  specification/mpcnetworkfunction/resource-manager/readme.python.md
Labels: WaitForARMFeedback, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, PublishToCustomers

#30175 Add Microsoft.Databricks 2024-09-01-preview version
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/accessconnector.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/databricks.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/AccessConnectorCreateOrUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/AccessConnectorCreateOrUpdateWithUserAssigned.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/AccessConnectorDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/AccessConnectorGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/AccessConnectorPatchUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/AccessConnectorsListByResourceGroup.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/AccessConnectorsListBySubscriptionId.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/DisableEncryption.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/EnableEncryption.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/ListPrivateEndpointConnections.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/ListPrivateLinkResources.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/OperationsList.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/OutboundNetworkDependenciesEndpointsList.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/PrepareEncryption.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/PrivateEndpointConnectionsDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/PrivateEndpointConnectionsGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/PrivateEndpointConnectionsUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/PrivateLinkResourcesGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/WorkspaceCreate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/WorkspaceCreateWithParameters.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/WorkspaceDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/WorkspaceDeleteForceDeletion.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/WorkspaceEnhancedSecurityComplianceCreateOrUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/WorkspaceEnhancedSecurityComplianceGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/WorkspaceGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/WorkspaceGetParameters.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/WorkspaceManagedDiskEncryptionCreate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/WorkspaceManagedDiskEncryptionGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/WorkspaceManagedDiskEncryptionUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/WorkspaceUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/WorkspaceVirtualNetPeeringGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/WorkspaceVirtualNetPeeringList.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/WorkspaceVirtualNetworkPeeringCreateOrUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/WorkspaceVirtualNetworkPeeringDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/WorkspacesListByResourceGroup.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/examples/WorkspacesListBySubscription.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-09-01-preview/vnetpeering.json
  specification/databricks/resource-manager/readme.md
  specification/databricks/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, BreakingChange-Python-Sdk-Suppression-Approved, BreakingChange-Python-Sdk-Suppression, PublishToCustomers

#30043 Adding 2024-06-01-preview for nginx
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-06-01-preview/examples/Certificates_CreateOrUpdate.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-06-01-preview/examples/Certificates_Delete.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-06-01-preview/examples/Certificates_Get.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-06-01-preview/examples/Certificates_List.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-06-01-preview/examples/Configurations_Analysis.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-06-01-preview/examples/Configurations_CreateOrUpdate.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-06-01-preview/examples/Configurations_Delete.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-06-01-preview/examples/Configurations_Get.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-06-01-preview/examples/Configurations_List.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-06-01-preview/examples/Deployments_Create.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-06-01-preview/examples/Deployments_Delete.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-06-01-preview/examples/Deployments_Get.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-06-01-preview/examples/Deployments_Get_AutoScale.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-06-01-preview/examples/Deployments_List.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-06-01-preview/examples/Deployments_ListByResourceGroup.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-06-01-preview/examples/Deployments_Update.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-06-01-preview/examples/Operations_List.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-06-01-preview/swagger.json
  specification/nginx/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, PublishToCustomers

#30344 Remove outdated constrains from description
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-04-02-preview/managedClusters.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-05-02-preview/managedClusters.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-06-02-preview/managedClusters.json
Labels: ARMSignedOff, Container Service, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#30207 Add new Swagger definition to comply with Azure-CLI SDK requirements
  specification/azurefleet/AzureFleet.Management/fleet.tsp
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2023-11-01-preview/azurefleet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2024-05-01-preview/azurefleet.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, TypeSpec, Versioning-Approved-BugFix, VersioningReviewRequired, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk, PublishToCustomers

#29979 Typespec for Analyze-Documents
  specification/cognitiveservices/Language.AnalyzeDocuments/client.tsp
  specification/cognitiveservices/Language.AnalyzeDocuments/examples/2023-11-15-preview/SuccessfulAnalyzeDocumentsJobStatusTaskStatusRequest.json
  specification/cognitiveservices/Language.AnalyzeDocuments/examples/2023-11-15-preview/SuccessfulAnalyzeDocumentsJobsCancelRequest.json
  specification/cognitiveservices/Language.AnalyzeDocuments/examples/2023-11-15-preview/SuccessfulAnalyzeDocumentsJobsTaskSubmitRequest.json
  specification/cognitiveservices/Language.AnalyzeDocuments/main.tsp
  specification/cognitiveservices/Language.AnalyzeDocuments/models/common.models.tsp
  specification/cognitiveservices/Language.AnalyzeDocuments/models/pii.entity.recognition.tsp
  specification/cognitiveservices/Language.AnalyzeDocuments/models/summarization.tsp
  specification/cognitiveservices/Language.AnalyzeDocuments/tspconfig.yaml
  specification/cognitiveservices/data-plane/Language/preview/2023-11-15-preview/analyzedocuments.json
  specification/cognitiveservices/data-plane/Language/preview/2023-11-15-preview/examples/SuccessfulAnalyzeDocumentsJobStatusTaskStatusRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2023-11-15-preview/examples/SuccessfulAnalyzeDocumentsJobsCancelRequest.json
  specification/cognitiveservices/data-plane/Language/preview/2023-11-15-preview/examples/SuccessfulAnalyzeDocumentsJobsTaskSubmitRequest.json
  specification/cognitiveservices/data-plane/Language/readme.md
Labels: Cognitive Services, data-plane, TypeSpec, Versioning-Approved-BugFix, VersioningReviewRequired, PublishToCustomers

#30363 Update specs for no record check
  specification/workloads/Workloads.SAPVirtualInstance.Management/models.tsp
Labels: TypeSpec

#30366 addressing comments
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-07-01/managedClusters.json
Labels: customer-reported, Container Service, resource-manager, BreakingChange-Python-Sdk

#30340 update readme to fix Lint Diff Error
  specification/securityinsights/resource-manager/readme.md
Labels: resource-manager, SuppressionReviewRequired

#30368 Add missing client config renames for analyze documents
  specification/cognitiveservices/Language.AnalyzeDocuments/client.tsp
Labels: Cognitive Services, TypeSpec

#30375 suppress the correct file
  specification/securityinsights/resource-manager/readme.md
Labels: resource-manager, SuppressionReviewRequired

#30376 ProxyAgentSettings v2 API For creating private SDK
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-07-01/computeRPCommon.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-07-01/examples/virtualMachineExamples/VirtualMachine_Create_WithProxyAgentSettings.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-07-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithProxyAgentSettings.json
Labels: Compute, resource-manager, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk

#30386 Swagger Release 2024-03-01 - Fix Lint Diff
  specification/network/resource-manager/readme.md
Labels: Network, ARMSignedOff, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired
