Repository Azure/azure-rest-api-specs, pull requests merged in 2024-01, with the labels that each got.

#27096 Fix CNV API swagger error reported by Swagger Editor.
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/texttospeech.json
Labels: Approved-BreakingChange, data-plane

#27218 Update readme.python.md
  specification/azureintegrationspaces/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS

#27198 2023-09-01 readme update.
  specification/operationalinsights/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#25844 Add control plane Swagger for API 2023-05-01-preview
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/Accounts_AddRootCollectionAdmin.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/Accounts_CheckNameAvailability.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/Accounts_CreateOrUpdate.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/Accounts_Delete.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/Accounts_Get.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/Accounts_ListByResourceGroup.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/Accounts_ListBySubscription.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/Accounts_ListKeys.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/Accounts_Update.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/DefaultAccounts_Get.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/DefaultAccounts_Remove.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/DefaultAccounts_Set.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/Features_AccountGet.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/Features_SubscriptionGet.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/IngestionPrivateEndpointConnections_List.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/IngestionPrivateEndpointConnections_UpdateStatus.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/KafkaConfigurations_CreateOrUpdate.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/KafkaConfigurations_Delete.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/KafkaConfigurations_Get.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/KafkaConfigurations_ListByAccount.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/Operations_List.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/PrivateEndpointConnections_CreateOrUpdate.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/PrivateEndpointConnections_Delete.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/PrivateEndpointConnections_Get.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/PrivateEndpointConnections_ListByAccount.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/PrivateLinkResources_GetByGroupId.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/PrivateLinkResources_ListByAccount.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/Usages_Get.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/purview.json
  specification/purview/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, Approved-Suppression, SuppressionReviewRequired, new-api-version, CI-MissingBaseCommit, MergeRequested

#27128 Remove the locale (en-us) from URL links in the description fields. Doc impact only.
  specification/maps/data-plane/Common/preview/1.0/common.json
  specification/maps/data-plane/Common/preview/2022-09-01-preview/common.json
  specification/maps/data-plane/Common/stable/2023-06-01/common.json
  specification/maps/data-plane/Creator/preview/2.0/data.json
  specification/maps/data-plane/Creator/preview/2.0/dataset.json
  specification/maps/data-plane/Creator/preview/2.0/dwgconversion.json
  specification/maps/data-plane/Creator/preview/2.0/featurestate.json
  specification/maps/data-plane/Creator/preview/2.0/tileset.json
  specification/maps/data-plane/Creator/preview/2.0/wfs.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/dataset.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/dwgconversion.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/features.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/featurestate.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/tileset.json
  specification/maps/data-plane/Creator/stable/2023-07-01/dataset.json
  specification/maps/data-plane/Creator/stable/2023-07-01/dwgconversion.json
  specification/maps/data-plane/Creator/stable/2023-07-01/features.json
  specification/maps/data-plane/Creator/stable/2023-07-01/featurestate.json
  specification/maps/data-plane/Creator/stable/2023-07-01/tileset.json
  specification/maps/data-plane/Microsoft.Maps/Data/preview/2.0/data.json
  specification/maps/data-plane/Render/preview/1.0/render.json
  specification/maps/data-plane/Render/stable/2022-08-01/render.json
  specification/maps/data-plane/Timezone/preview/1.0/timezone.json
  specification/maps/data-plane/Traffic/preview/1.0/traffic.json
Labels: data-plane

#27111 Enable Warehouse connector and its swagger for Date Factory and Synapse
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Dataset.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: ARMSignedOff, customer-reported, ShiftLeftViolation, ARMReview, resource-manager, data-plane, ReadyForApiTest

#27089 [Hub Generated] Publish private branch 'dev-dns-vatsalya-tmlink'
  specification/dns/resource-manager/Microsoft.Network/preview/2023-07-01-preview/dns.json
  specification/dns/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/CreateOrUpdateARecordSetTrafficManagementProfile.json
Labels: ARMSignedOff, Approved-BreakingChange, ARMReview, resource-manager, ReadyForApiTest, NewApiVersionRequired, MergeRequested

#26667 Add Single Document Translator API definition
  specification/translation/Azure.AI.DocumentTranslation/client.tsp
  specification/translation/Azure.AI.DocumentTranslation/examples/2023-11-01-preview/DocumentTranslate_MaximumSet_Gen.json
  specification/translation/Azure.AI.DocumentTranslation/main.tsp
  specification/translation/Azure.AI.DocumentTranslation/tspconfig.yaml
  specification/translation/data-plane/Azure.AI.DocumentTranslation/preview/2023-11-01-preview/examples/DocumentTranslate_MaximumSet_Gen.json
  specification/translation/data-plane/Azure.AI.DocumentTranslation/preview/2023-11-01-preview/openapi.json
  specification/translation/data-plane/Azure.AI.DocumentTranslation/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, new-api-version, CI-MissingBaseCommit, TypeSpec

#27035 Remove Creator entries from the Azure Maps autorest Configuration file (readme.md)
  specification/maps/data-plane/readme.md
Labels: data-plane

#27053 Correct reference to {udid} in the description in spatial.json
  specification/maps/data-plane/Creator/preview/1.0/spatial.json
  specification/maps/data-plane/Microsoft.Maps/Spatial/preview/1.0/spatial.json
  specification/maps/data-plane/Spatial/stable/2022-08-01/spatial.json
Labels: data-plane

#27075 AAD to Entra rebranding
  specification/maps/data-plane/Creator/preview/2.0/data.json
  specification/maps/data-plane/Creator/preview/2.0/dataset.json
  specification/maps/data-plane/Creator/preview/2.0/dwgconversion.json
  specification/maps/data-plane/Creator/preview/2.0/featurestate.json
  specification/maps/data-plane/Creator/preview/2.0/tileset.json
  specification/maps/data-plane/Creator/preview/2.0/wfs.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/dataset.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/mapconfiguration.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/routeset.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/style.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/tileset.json
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/wayfind.json
  specification/maps/data-plane/DataRegistry/stable/2023-06-01/dataregistry.json
  specification/maps/data-plane/Geolocation/preview/1.0/geolocation.json
  specification/maps/data-plane/Microsoft.Maps/Data/preview/1.0/data.json
  specification/maps/data-plane/Microsoft.Maps/Data/preview/2.0/data.json
  specification/maps/data-plane/Microsoft.Maps/FeatureState/preview/2.0/featurestate.json
  specification/maps/data-plane/Microsoft.Maps/Feedback/preview/1.0/feedback.json
  specification/maps/data-plane/Microsoft.Maps/Geolocation/preview/1.0/geolocation.json
  specification/maps/data-plane/Microsoft.Maps/Render/preview/1.0/render.json
  specification/maps/data-plane/Microsoft.Maps/Render/preview/2.0/render.json
  specification/maps/data-plane/Microsoft.Maps/Route/preview/1.0/route.json
  specification/maps/data-plane/Microsoft.Maps/Search/preview/1.0/search.json
  specification/maps/data-plane/Microsoft.Maps/Spatial/preview/1.0/spatial.json
  specification/maps/data-plane/Microsoft.Maps/Tileset/preview/2.0/tileset.json
  specification/maps/data-plane/Microsoft.Maps/Timezone/preview/1.0/timezone.json
  specification/maps/data-plane/Microsoft.Maps/Traffic/preview/1.0/traffic.json
  specification/maps/data-plane/Microsoft.Maps/WFS/preview/2.0/wfs.json
  specification/maps/data-plane/Microsoft.Maps/Weather/preview/1.0/weather.json
  specification/maps/data-plane/Render/preview/1.0/render.json
  specification/maps/data-plane/Render/stable/2022-08-01/render.json
  specification/maps/data-plane/Route/preview/1.0/route.json
  specification/maps/data-plane/Search/preview/1.0/search.json
  specification/maps/data-plane/Search/stable/2023-06-01/search.json
  specification/maps/data-plane/Spatial/stable/2022-08-01/spatial.json
  specification/maps/data-plane/Timezone/preview/1.0/timezone.json
  specification/maps/data-plane/Traffic/preview/1.0/traffic.json
  specification/maps/data-plane/Weather/stable/1.1/weather.json
Labels: data-plane

#26605 [Hub Generated] Review request for Microsoft.Databricks to add version preview/2023-09-15-preview
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/databricks.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/DisableEncryption.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/EnableEncryption.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/ListPrivateEndpointConnections.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/ListPrivateLinkResources.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/OperationsList.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/OutboundNetworkDependenciesEndpointsList.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/PrepareEncryption.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/PrivateEndpointConnectionsDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/PrivateEndpointConnectionsGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/PrivateEndpointConnectionsUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/PrivateLinkResourcesGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/WorkspaceCreate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/WorkspaceCreateWithParameters.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/WorkspaceDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/WorkspaceDeleteRetainUcData.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/WorkspaceEnhancedSecurityComplianceCreateOrUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/WorkspaceEnhancedSecurityComplianceGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/WorkspaceGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/WorkspaceGetParameters.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/WorkspaceManagedDiskEncryptionCreate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/WorkspaceManagedDiskEncryptionGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/WorkspaceManagedDiskEncryptionUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/WorkspaceUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/WorkspaceVirtualNetPeeringGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/WorkspaceVirtualNetPeeringList.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/WorkspaceVirtualNetworkPeeringCreateOrUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/WorkspaceVirtualNetworkPeeringDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/WorkspacesListByResourceGroup.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/examples/WorkspacesListBySubscription.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2023-09-15-preview/vnetpeering.json
  specification/databricks/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, MergeRequested

#27042 Make ExternalNetwork NetworktoNetworkInterconnectId as Read/Write from Read only
  specification/managednetworkfabric/resource-manager/Microsoft.ManagedNetworkFabric/stable/2023-06-15/L3IsolationDomains.json
  specification/managednetworkfabric/resource-manager/Microsoft.ManagedNetworkFabric/stable/2023-06-15/examples/ExternalNetworks_Create_MaximumSet_Gen.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, MergeRequested

#27201 Update Managed Instance API version to preview 2023-05-01
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#26842 monitor/dataCollectionRules add facilityNames enum
  custom-words.txt
  specification/monitor/resource-manager/Microsoft.Insights/stable/2021-04-01/dataCollectionRules_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2022-06-01/dataCollectionRules_API.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#27267 Image Analysis TypeSpec - Fix minor typo in comments (Update: remove comment sentence)
  specification/ai/ImageAnalysis/routes.tsp
  specification/ai/data-plane/ImageAnalysis/stable/2023-10-01/generated.json
Labels: data-plane, TypeSpec

#27249 Update readme
  specification/maps/data-plane/readme.md
Labels: data-plane

#27252 Updating decription for settingType
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-11-01/settings.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#27298 documentintelligence, java, sync tspconfig with java repo
  specification/ai/DocumentIntelligence/tspconfig.yaml
Labels: TypeSpec

#27299 Fix-SpellCheckErrors-Jan24Preview
  cSpell.json
Labels: MergeRequested

#27316 Added new swagger files for 2025-01-05 Blob, File, and DFS
  specification/storage/data-plane/Azure.Storage.Files.DataLake/preview/2025-01-05/DataLakeStorage.json
  specification/storage/data-plane/Microsoft.BlobStorage/preview/2025-01-05/blob.json
  specification/storage/data-plane/Microsoft.FileStorage/preview/2025-01-05/file.json
Labels: data-plane

#27318 New files part 2
  specification/storage/data-plane/Azure.Storage.Files.DataLake/preview/2025-01-05/DataLakeStorage.json
  specification/storage/data-plane/Azure.Storage.Files.DataLake/readme.md
  specification/storage/data-plane/Microsoft.BlobStorage/preview/2025-01-05/blob.json
  specification/storage/data-plane/Microsoft.BlobStorage/readme.md
  specification/storage/data-plane/Microsoft.FileStorage/preview/2025-01-05/file.json
  specification/storage/data-plane/Microsoft.FileStorage/readme.md
Labels: data-plane

#27324 [TypeSpec Requirement] Handle specs with variable path depths
  eng/scripts/TypeSpec-Requirement.ps1
Labels: data-plane, new-api-version, CI-MissingBaseCommit

#27330 Update readme.python.md
  specification/appplatform/resource-manager/readme.python.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, ShiftLeftViolation, ARMReview, resource-manager, ReadyForApiTest

#27336 ImageAnalysis: Use property name `list` instead of `values` in some models, for Python
  specification/ai/ImageAnalysis/models.tsp
Labels: TypeSpec

#26576 Johnkoh msft azuredatatransfer microsoft.azure data transfer 2023 10 11 preview
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2023-10-11-preview/azuredatatransfer.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2023-10-11-preview/examples/approveOrRejectConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2023-10-11-preview/examples/createOrUpdateConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2023-10-11-preview/examples/createOrUpdateFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2023-10-11-preview/examples/createOrUpdatePipeline.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2023-10-11-preview/examples/deleteConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2023-10-11-preview/examples/deleteFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2023-10-11-preview/examples/deletePipeline.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2023-10-11-preview/examples/enableOrDisableFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2023-10-11-preview/examples/getConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2023-10-11-preview/examples/getFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2023-10-11-preview/examples/getPipeline.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2023-10-11-preview/examples/linkConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2023-10-11-preview/examples/linkFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2023-10-11-preview/examples/listConnectionsByResourceGroup.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2023-10-11-preview/examples/listConnectionsBySubscription.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2023-10-11-preview/examples/listFlowsByConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2023-10-11-preview/examples/listOperations.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2023-10-11-preview/examples/listPendingConnections.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2023-10-11-preview/examples/listPendingFlows.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2023-10-11-preview/examples/listPipelinesByResourceGroup.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2023-10-11-preview/examples/listPipelinesBySubscription.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2023-10-11-preview/examples/listSchemas.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2023-10-11-preview/examples/patchConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2023-10-11-preview/examples/patchFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2023-10-11-preview/examples/patchPipeline.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2023-10-11-preview/examples/postListApprovedSchemas.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2023-10-11-preview/examples/postValidateSchema.json
  specification/azuredatatransfer/resource-manager/readme.az.md
  specification/azuredatatransfer/resource-manager/readme.cli.md
  specification/azuredatatransfer/resource-manager/readme.csharp.md
  specification/azuredatatransfer/resource-manager/readme.go.md
  specification/azuredatatransfer/resource-manager/readme.md
  specification/azuredatatransfer/resource-manager/readme.python.md
  specification/azuredatatransfer/resource-manager/readme.typescript.md
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, CI-MissingBaseCommit, new-rp-namespace, MergeRequested

#27271 Minor Fixes of TypeSpec for AOAI On Your Data 2023-12-01-preview /extensions/chat/completions
  specification/cognitiveservices/OpenAI.Inference/examples/2023-08-01-preview/extensions_chat_completions.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-09-01-preview/extensions_chat_completions.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-12-01-preview/extensions_chat_completions_aml_index.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-12-01-preview/extensions_chat_completions_azure_search_advanced.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-12-01-preview/extensions_chat_completions_azure_search_image_vector.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-12-01-preview/extensions_chat_completions_azure_search_minimum.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-12-01-preview/extensions_chat_completions_cosmos_db.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-12-01-preview/extensions_chat_completions_elasticsearch.json
  specification/cognitiveservices/OpenAI.Inference/examples/2023-12-01-preview/extensions_chat_completions_pinecone.json
  specification/cognitiveservices/OpenAI.Inference/models/completions/extensions/oyd/authentication.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/extensions/oyd/azure_cognitive_search_options.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/extensions/oyd/azure_cosmosdb_options.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/extensions/oyd/azure_machinelearning_index_options.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/extensions/oyd/elasticsearch_options.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/extensions/oyd/pinecone_options.tsp
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-08-01-preview/examples/extensions_chat_completions.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-08-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-09-01-preview/examples/extensions_chat_completions.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-09-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-12-01-preview/examples/extensions_chat_completions_aml_index.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-12-01-preview/examples/extensions_chat_completions_azure_search_advanced.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-12-01-preview/examples/extensions_chat_completions_azure_search_image_vector.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-12-01-preview/examples/extensions_chat_completions_azure_search_minimum.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-12-01-preview/examples/extensions_chat_completions_cosmos_db.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-12-01-preview/examples/extensions_chat_completions_elasticsearch.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-12-01-preview/examples/extensions_chat_completions_pinecone.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-12-01-preview/generated.json
Labels: data-plane, BreakingChangeReviewRequired, TypeSpec

#27077 Update SparkFrontend_SparkBatch_Create.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/examples/SparkFrontend_SparkBatch_Create.json
Labels: data-plane

#27247 [TypeSpec Validation] add support for node 21 and drop 16
  eng/pipelines/templates/steps/npm-install.yml
  eng/tools/typespec-validation/ci.yml
  eng/tools/typespec-validation/package.json
  package-lock.json
Labels: Central-EngSys

#27248 [TypeSpec Validation] Improve error for incorrect argument
  eng/tools/typespec-validation/src/index.ts
  eng/tools/typespec-validation/src/tsv-host.ts
  eng/tools/typespec-validation/src/tsv-runner-host.ts
  eng/tools/typespec-validation/src/utils.ts
  eng/tools/typespec-validation/test/tsv-test-host.ts
Labels: Central-EngSys

#27295 Correct the version # in the primary tag in the readme (Azure Maps)
  specification/maps/data-plane/readme.md
Labels: data-plane

#27338 [TypeSpec Validation] remove job name for pipelines
  eng/pipelines/typespec-requirement.yml
  eng/pipelines/typespec-validation-all.yml
  eng/pipelines/typespec-validation.yml
  eng/tools/typespec-validation/ci.yml
Labels: Central-EngSys

#27344 Update readme.python.md
  specification/recoveryservicesbackup/resource-manager/readme.python.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest

#27352 Add private preview versions to azure-ai-content-safety feature branch
  specification/cognitiveservices/ContentSafety/examples/2023-10-30-preview/AddOrUpdateBlocklistItems.json
  specification/cognitiveservices/ContentSafety/examples/2023-10-30-preview/AnalyzeImage.json
  specification/cognitiveservices/ContentSafety/examples/2023-10-30-preview/AnalyzeText.json
  specification/cognitiveservices/ContentSafety/examples/2023-10-30-preview/CreateOrUpdateTextBlocklist.json
  specification/cognitiveservices/ContentSafety/examples/2023-10-30-preview/DeleteTextBlocklist.json
  specification/cognitiveservices/ContentSafety/examples/2023-10-30-preview/GetTextBlocklist.json
  specification/cognitiveservices/ContentSafety/examples/2023-10-30-preview/GetTextBlocklistItem.json
  specification/cognitiveservices/ContentSafety/examples/2023-10-30-preview/ListTextBlocklistItems.json
  specification/cognitiveservices/ContentSafety/examples/2023-10-30-preview/ListTextBlocklists.json
  specification/cognitiveservices/ContentSafety/examples/2023-10-30-preview/RemoveBlocklistItems.json
  specification/cognitiveservices/ContentSafety/main.tsp
  specification/cognitiveservices/ContentSafety/models.tsp
  specification/cognitiveservices/ContentSafety/routes.tsp
  specification/cognitiveservices/data-plane/ContentSafety/preview/2023-10-30-preview/contentsafety.json
  specification/cognitiveservices/data-plane/ContentSafety/preview/2023-10-30-preview/examples/AddOrUpdateBlocklistItems.json
  specification/cognitiveservices/data-plane/ContentSafety/preview/2023-10-30-preview/examples/AnalyzeImage.json
  specification/cognitiveservices/data-plane/ContentSafety/preview/2023-10-30-preview/examples/AnalyzeText.json
  specification/cognitiveservices/data-plane/ContentSafety/preview/2023-10-30-preview/examples/CreateOrUpdateTextBlocklist.json
  specification/cognitiveservices/data-plane/ContentSafety/preview/2023-10-30-preview/examples/DeleteTextBlocklist.json
  specification/cognitiveservices/data-plane/ContentSafety/preview/2023-10-30-preview/examples/GetTextBlocklist.json
  specification/cognitiveservices/data-plane/ContentSafety/preview/2023-10-30-preview/examples/GetTextBlocklistItem.json
  specification/cognitiveservices/data-plane/ContentSafety/preview/2023-10-30-preview/examples/ListTextBlocklistItems.json
  specification/cognitiveservices/data-plane/ContentSafety/preview/2023-10-30-preview/examples/ListTextBlocklists.json
  specification/cognitiveservices/data-plane/ContentSafety/preview/2023-10-30-preview/examples/RemoveBlocklistItems.json
  specification/cognitiveservices/data-plane/ContentSafety/preview/2024-01-30-preview/contentsafety.json
  specification/cognitiveservices/data-plane/ContentSafety/readme.md
Labels: data-plane, TypeSpec

#27273 Updated examples for public documentation
  specification/automation/resource-manager/Microsoft.Automation/preview/2023-05-15-preview/examples/runtimeEnvironment/createRuntimeEnvironment.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2023-05-15-preview/examples/runtimeEnvironment/getRuntimeEnvironment.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2023-05-15-preview/examples/runtimeEnvironment/listRuntimeEnvironmentsByAutomationAccount.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2023-05-15-preview/examples/runtimeEnvironment/updateRuntimeEnvironment.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2023-05-15-preview/package.json
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, ARMReview, resource-manager, ReadyForApiTest, MergeRequested, AzCoreIDCSignedOff

#26777 Azure Language add scriptCode, and enums for script Language Detection Results
  custom-words.txt
  specification/cognitiveservices/data-plane/Language/preview/2023-11-15-preview/analyzetext.json
Labels: Approved-BreakingChange, APIStewardshipBoard-SignedOff, FalsePositive-BreakingChange, data-plane

#27343 Fix broken links in Creator
  specification/maps/data-plane/Creator/preview/2022-09-01-preview/tileset.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/features.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/tileset.json
  specification/maps/data-plane/Creator/stable/2023-07-01/features.json
  specification/maps/data-plane/Creator/stable/2023-07-01/tileset.json
  specification/maps/data-plane/Render/stable/2022-08-01/render.json
Labels: data-plane

#27361 [ImageAnalysis] Fix auth implementation
  specification/ai/ImageAnalysis/main.tsp
Labels: TypeSpec

#27366 Update readme.python.md
  specification/elasticsan/resource-manager/readme.python.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest

#27340 References to the data service are changed to reference the data registry service.
  cSpell.json
  specification/maps/data-plane/Spatial/stable/2022-08-01/spatial.json
Labels: data-plane

#27145 Abaranwal ms edgeorder microsoft.edge order 2024 02 01
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/stable/2024-02-01/edgeorder.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/stable/2024-02-01/examples/CancelOrderItem.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/stable/2024-02-01/examples/CreateAddress.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/stable/2024-02-01/examples/CreateOrderItem.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/stable/2024-02-01/examples/DeleteAddressByName.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/stable/2024-02-01/examples/DeleteOrderItemByName.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/stable/2024-02-01/examples/GetAddressByName.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/stable/2024-02-01/examples/GetOrderByName.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/stable/2024-02-01/examples/GetOrderItemByName.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/stable/2024-02-01/examples/ListAddressesAtResourceGroupLevel.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/stable/2024-02-01/examples/ListAddressesAtSubscriptionLevel.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/stable/2024-02-01/examples/ListConfigurations.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/stable/2024-02-01/examples/ListOperations.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/stable/2024-02-01/examples/ListOrderAtResourceGroupLevel.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/stable/2024-02-01/examples/ListOrderAtSubscriptionLevel.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/stable/2024-02-01/examples/ListOrderItemsAtResourceGroupLevel.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/stable/2024-02-01/examples/ListOrderItemsAtSubscriptionLevel.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/stable/2024-02-01/examples/ListProductFamilies.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/stable/2024-02-01/examples/ListProductFamiliesMetadata.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/stable/2024-02-01/examples/ReturnOrderItem.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/stable/2024-02-01/examples/UpdateAddress.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/stable/2024-02-01/examples/UpdateOrderItem.json
  specification/edgeorder/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, CI-MissingBaseCommit, MergeRequested, EP-Edge-ARMReview

#27317 changed ApproveRejectSitePrivateEndpointConnection request body to ma…
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/AppServiceEnvironments.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/StaticSites.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/WebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/examples/ApproveRejectSitePrivateEndpointConnection.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/examples/ApproveRejectSitePrivateEndpointConnectionSlot.json
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager

#27371 remove the save-inputs in jobrouters
  specification/communication/Communication.JobRouter/tspconfig.yaml
Labels: TypeSpec

#27374 Update readme.python.md
  specification/recoveryservicesbackup/resource-manager/readme.python.md
Labels: CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python

#26336 Add snowflake v2 linkedService
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Dataset.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ShiftLeftViolation, ARMReview, resource-manager, data-plane, ReadyForApiTest, MergeRequested

#27384 disable model flatten
  specification/elasticsan/resource-manager/readme.md
  specification/elasticsan/resource-manager/readme.python.md
  specification/scvmm/resource-manager/readme.md
Labels: CI-BreakingChange-Go, resource-manager, RPaaS

#26875 [STG93] Add Rename Support to List Ranges
  specification/storage/data-plane/Microsoft.FileStorage/preview/2024-05-04/file.json
Labels: data-plane

#26877 [STG93] Add NFS Snapshot Support
  specification/storage/data-plane/Microsoft.FileStorage/preview/2024-05-04/file.json
Labels: data-plane

#27364 Minor fix the missing parameters for ingestion API
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2023-10-01-preview/azureopenai.json
Labels: data-plane, NewApiVersionRequired

#27370 Azure Maps - Data service documentation updates to improve the overview pages.
  specification/maps/data-plane/Creator/preview/2.0/data.json
  specification/maps/data-plane/Creator/readme.md
  specification/maps/data-plane/Microsoft.Maps/Data/preview/1.0/data.json
Labels: data-plane, Approved-Suppression

#27149 Fix broken links in user docs (description fields)
  specification/maps/data-plane/Creator/preview/2.0/dwgconversion.json
  specification/maps/data-plane/Creator/preview/2.0/tileset.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/dwgconversion.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/features.json
  specification/maps/data-plane/Creator/readme.md
  specification/maps/data-plane/Microsoft.Maps/Data/preview/2.0/data.json
  specification/maps/data-plane/Microsoft.Maps/Render/preview/2.0/render.json
  specification/maps/data-plane/Microsoft.Maps/Render/preview/2.1/render.json
  specification/maps/data-plane/Microsoft.Maps/Tileset/preview/2.0/tileset.json
  specification/maps/data-plane/Render/preview/2.0/render.json
Labels: data-plane, Approved-Suppression, SuppressionReviewRequired

#27328 Introduce prebackup and prerestore endpoints
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.6-preview.1/backuprestore.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.6-preview.1/examples/PreFullBackup-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.6-preview.1/examples/PreFullRestore-example.json
Labels: Approved-BreakingChange, data-plane

#27411 Update readme.python.md
  specification/workloads/resource-manager/Microsoft.Workloads/SAPVirtualInstance/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS

#27180 Fix headers and schema definition
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ShiftLeftViolation, ARMReview, resource-manager, ReadyForApiTest, NewApiVersionRequired, BreakingChangeReviewRequired

#27337 update duration properties with "x-ms-format" : "duration-constant"
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2023-12-01-preview/managedapplication.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2023-12-01-preview/managedcluster.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#27350 Documentation fixes for a preview API
  specification/automation/resource-manager/Microsoft.Automation/preview/2023-05-15-preview/examples/package/createOrUpdatePackage.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2023-05-15-preview/examples/package/getPackage.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2023-05-15-preview/examples/package/listPackagesByRuntimeEnvironment.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2023-05-15-preview/examples/package/updatePackage.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2023-05-15-preview/examples/runtimeEnvironment/createRuntimeEnvironment.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2023-05-15-preview/examples/runtimeEnvironment/getRuntimeEnvironment.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2023-05-15-preview/examples/runtimeEnvironment/listRuntimeEnvironmentsByAutomationAccount.json
  specification/automation/resource-manager/Microsoft.Automation/preview/2023-05-15-preview/examples/runtimeEnvironment/updateRuntimeEnvironment.json
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#27238 [Hub Generated] Publish private branch 'feature/DP-workspace-key'
  specification/quantum/data-plane/Microsoft.Quantum/preview/2023-11-13-preview/examples/jobDelete.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2023-11-13-preview/examples/jobGet.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2023-11-13-preview/examples/jobList.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2023-11-13-preview/examples/jobPatch.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2023-11-13-preview/examples/jobPut.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2023-11-13-preview/examples/providerStatus.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2023-11-13-preview/examples/quotaList.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2023-11-13-preview/examples/sessionClose.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2023-11-13-preview/examples/sessionGet.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2023-11-13-preview/examples/sessionJobsList.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2023-11-13-preview/examples/sessionList.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2023-11-13-preview/examples/sessionPut.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2023-11-13-preview/examples/storageGet.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2023-11-13-preview/examples/topLevelItemsList.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2023-11-13-preview/quantum.json
  specification/quantum/data-plane/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, new-api-version, MergeRequested

#27423 [DocumentIntelligence] Update tsp config for Python
  specification/ai/DocumentIntelligence/tspconfig.yaml
Labels: TypeSpec

#26968 [Hub Generated] Publish private branch 'feature/RP-workspace-key'
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2023-11-13-preview/examples/listKeys.json
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2023-11-13-preview/examples/offeringsList.json
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2023-11-13-preview/examples/operations.json
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2023-11-13-preview/examples/quantumWorkspacesCheckNameAvailability.json
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2023-11-13-preview/examples/quantumWorkspacesDelete.json
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2023-11-13-preview/examples/quantumWorkspacesGet.json
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2023-11-13-preview/examples/quantumWorkspacesListResourceGroup.json
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2023-11-13-preview/examples/quantumWorkspacesListSubscription.json
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2023-11-13-preview/examples/quantumWorkspacesPatch.json
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2023-11-13-preview/examples/quantumWorkspacesPut.json
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2023-11-13-preview/examples/regenerateKey.json
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2023-11-13-preview/quantum.json
  specification/quantum/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, MergeRequested

#27416 JS and Java SDK related typespec changes
  specification/communication/Communication.Messages/client.tsp
  specification/communication/Communication.Messages/examples/2024-02-01/NotificationMessages_Send.json
  specification/communication/Communication.Messages/examples/2024-02-01/Stream_DownloadMedia.json
  specification/communication/Communication.Messages/examples/2024-02-01/Template_GetTemplates.json
  specification/communication/Communication.Messages/main.tsp
  specification/communication/Communication.Messages/models.tsp
  specification/communication/Communication.Messages/routes.tsp
  specification/communication/Communication.Messages/tspconfig.yaml
  specification/communication/data-plane/Messages/stable/2024-02-01/CommunicationServicesMessages.json
  specification/communication/data-plane/Messages/stable/2024-02-01/examples/NotificationMessages_Send.json
  specification/communication/data-plane/Messages/stable/2024-02-01/examples/Stream_DownloadMedia.json
  specification/communication/data-plane/Messages/stable/2024-02-01/examples/Template_GetTemplates.json
Labels: data-plane, TypeSpec

#27424 Fixed link text for 'pricing tiers' in Azure Maps swagger files.
  specification/maps/data-plane/DataRegistry/stable/2023-06-01/dataregistry.json
  specification/maps/data-plane/Geolocation/preview/1.0/geolocation.json
  specification/maps/data-plane/Render/stable/2022-08-01/render.json
  specification/maps/data-plane/Route/preview/1.0/route.json
  specification/maps/data-plane/Search/stable/2023-06-01/search.json
  specification/maps/data-plane/Spatial/stable/2022-08-01/spatial.json
  specification/maps/data-plane/Timezone/preview/1.0/timezone.json
  specification/maps/data-plane/Traffic/preview/1.0/traffic.json
  specification/maps/data-plane/Weather/stable/1.1/weather.json
Labels: data-plane

#27323 [Fleet] UpdateRun manual skip
  custom-words.txt
  specification/containerservice/Fleet.Management/examples/2024-02-02-preview/FleetMembers_Create.json
  specification/containerservice/Fleet.Management/examples/2024-02-02-preview/FleetMembers_Delete.json
  specification/containerservice/Fleet.Management/examples/2024-02-02-preview/FleetMembers_Get.json
  specification/containerservice/Fleet.Management/examples/2024-02-02-preview/FleetMembers_ListByFleet.json
  specification/containerservice/Fleet.Management/examples/2024-02-02-preview/FleetMembers_Update.json
  specification/containerservice/Fleet.Management/examples/2024-02-02-preview/Fleets_CreateOrUpdate.json
  specification/containerservice/Fleet.Management/examples/2024-02-02-preview/Fleets_Delete.json
  specification/containerservice/Fleet.Management/examples/2024-02-02-preview/Fleets_Get.json
  specification/containerservice/Fleet.Management/examples/2024-02-02-preview/Fleets_ListByResourceGroup.json
  specification/containerservice/Fleet.Management/examples/2024-02-02-preview/Fleets_ListBySub.json
  specification/containerservice/Fleet.Management/examples/2024-02-02-preview/Fleets_ListCredentialsResult.json
  specification/containerservice/Fleet.Management/examples/2024-02-02-preview/Fleets_PatchTags.json
  specification/containerservice/Fleet.Management/examples/2024-02-02-preview/Operations_List.json
  specification/containerservice/Fleet.Management/examples/2024-02-02-preview/UpdateRuns_CreateOrUpdate.json
  specification/containerservice/Fleet.Management/examples/2024-02-02-preview/UpdateRuns_Delete.json
  specification/containerservice/Fleet.Management/examples/2024-02-02-preview/UpdateRuns_Get.json
  specification/containerservice/Fleet.Management/examples/2024-02-02-preview/UpdateRuns_ListByFleet.json
  specification/containerservice/Fleet.Management/examples/2024-02-02-preview/UpdateRuns_Skip.json
  specification/containerservice/Fleet.Management/examples/2024-02-02-preview/UpdateRuns_Start.json
  specification/containerservice/Fleet.Management/examples/2024-02-02-preview/UpdateRuns_Stop.json
  specification/containerservice/Fleet.Management/examples/2024-02-02-preview/UpdateStrategies_CreateOrUpdate.json
  specification/containerservice/Fleet.Management/examples/2024-02-02-preview/UpdateStrategies_Delete.json
  specification/containerservice/Fleet.Management/examples/2024-02-02-preview/UpdateStrategies_Get.json
  specification/containerservice/Fleet.Management/examples/2024-02-02-preview/UpdateStrategies_ListByFleet.json
  specification/containerservice/Fleet.Management/fleet.tsp
  specification/containerservice/Fleet.Management/main.tsp
  specification/containerservice/Fleet.Management/tspconfig.yaml
  specification/containerservice/Fleet.Management/update/run.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2022-09-02-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-03-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-06-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2024-02-02-preview/examples/UpdateRuns_Skip.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2024-02-02-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2023-10-15/fleets.json
Labels: resource-manager, TypeSpec

#27209 Remove spatial
  specification/maps/data-plane/Creator/preview/1.0/examples/spatial/Spatial_EvaluatePointInPolygon.json
  specification/maps/data-plane/Creator/preview/1.0/examples/spatial/Spatial_GetBuffer.json
  specification/maps/data-plane/Creator/preview/1.0/examples/spatial/Spatial_GetClosestPoint.json
  specification/maps/data-plane/Creator/preview/1.0/examples/spatial/Spatial_GetGeofence.json
  specification/maps/data-plane/Creator/preview/1.0/examples/spatial/Spatial_GetGreatCircleDistance.json
  specification/maps/data-plane/Creator/preview/1.0/examples/spatial/Spatial_PostBuffer.json
  specification/maps/data-plane/Creator/preview/1.0/examples/spatial/Spatial_PostClosestPoint.json
  specification/maps/data-plane/Creator/preview/1.0/examples/spatial/Spatial_PostGeofence.json
  specification/maps/data-plane/Creator/preview/1.0/examples/spatial/Spatial_PostPointInPolygon.json
  specification/maps/data-plane/Creator/preview/1.0/spatial.json
Labels: Approved-BreakingChange, data-plane, BreakingChangeReviewRequired

#27449 [Fleet][UpdateRun] Rename skip target
  specification/containerservice/Fleet.Management/examples/2024-02-02-preview/UpdateRuns_Skip.json
  specification/containerservice/Fleet.Management/update/run.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2024-02-02-preview/examples/UpdateRuns_Skip.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2024-02-02-preview/fleets.json
Labels: resource-manager, TypeSpec

#26774 Add scheduled events data object.
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-11-02-preview/scheduledEvents.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager

#27454 Update readme.python.md
  specification/security/resource-manager/readme.python.md
Labels: WaitForARMFeedback, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest

#27438 Update description of Custom Voice API swagger.
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/texttospeech.json
Labels: Approved-BreakingChange, data-plane

#27429 Fix for Default Value changed-Cross version Breaking change Error
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/machineLearningServices.json
Labels: ARMSignedOff, ARMReview, resource-manager

#27067 Added optional deliveryReportTimeoutInSeconds to smsSendOptions.
  specification/communication/data-plane/Sms/preview/2024-02-05-preview/communicationservicessms.json
  specification/communication/data-plane/Sms/preview/2024-02-05-preview/examples/send.json
  specification/communication/data-plane/Sms/readme.md
Labels: Approved-BreakingChange, data-plane, BreakingChangeReviewRequired

#27443 Fix broken links for Azure Maps API resulting from TOC changes.
  cSpell.json
  specification/maps/data-plane/Creator/preview/2.0/dataset.json
  specification/maps/data-plane/Creator/preview/2.0/dwgconversion.json
  specification/maps/data-plane/Creator/preview/2.0/featurestate.json
  specification/maps/data-plane/Creator/preview/2.0/tileset.json
  specification/maps/data-plane/Creator/preview/2.0/wfs.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/dataset.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/dwgconversion.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/featurestate.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/tileset.json
  specification/maps/data-plane/Creator/readme.md
  specification/maps/data-plane/Microsoft.Maps/Data/preview/2.0/data.json
  specification/maps/data-plane/Render/preview/1.0/render.json
  specification/maps/data-plane/Search/stable/2023-06-01/search.json
Labels: data-plane, Approved-Suppression, SuppressionReviewRequired

#27456 [OpenAI-Assistant] Rename some method and model names.
  specification/ai/OpenAI.Assistants/README.md
  specification/ai/OpenAI.Assistants/assistants/models.tsp
  specification/ai/OpenAI.Assistants/assistants/routes.tsp
  specification/ai/OpenAI.Assistants/client.tsp
  specification/ai/OpenAI.Assistants/common/models.tsp
  specification/ai/OpenAI.Assistants/files/models.tsp
  specification/ai/OpenAI.Assistants/files/routes.tsp
  specification/ai/OpenAI.Assistants/main.tsp
  specification/ai/OpenAI.Assistants/messages/models.tsp
  specification/ai/OpenAI.Assistants/messages/routes.tsp
  specification/ai/OpenAI.Assistants/run_steps/models.tsp
  specification/ai/OpenAI.Assistants/run_steps/routes.tsp
  specification/ai/OpenAI.Assistants/runs/models.tsp
  specification/ai/OpenAI.Assistants/runs/routes.tsp
  specification/ai/OpenAI.Assistants/threads/models.tsp
  specification/ai/OpenAI.Assistants/threads/routes.tsp
  specification/ai/OpenAI.Assistants/tools/models.tsp
Labels: TypeSpec

#26852 [Hub Generated] Review request for Microsoft.HealthcareApis to add version stable/2023-12-01
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/CheckNameAvailabilityPost.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/OperationResultsGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/OperationsList.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/dicomservices/DicomServices_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/dicomservices/DicomServices_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/dicomservices/DicomServices_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/dicomservices/DicomServices_List.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/dicomservices/DicomServices_Patch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/fhirservices/FhirServices_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/fhirservices/FhirServices_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/fhirservices/FhirServices_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/fhirservices/FhirServices_List.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/fhirservices/FhirServices_Patch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/iotconnectors/iotconnector_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/iotconnectors/iotconnector_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/iotconnectors/iotconnector_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/iotconnectors/iotconnector_List.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/iotconnectors/iotconnector_Patch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/iotconnectors/iotconnector_fhirdestination_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/iotconnectors/iotconnector_fhirdestination_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/iotconnectors/iotconnector_fhirdestination_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/iotconnectors/iotconnector_fhirdestination_List.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/legacy/PrivateLinkResourceGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/legacy/PrivateLinkResourcesListByService.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/legacy/ServiceCreate.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/legacy/ServiceCreateInDataSovereignRegionWithCmkEnabled.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/legacy/ServiceCreateMinimum.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/legacy/ServiceCreatePrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/legacy/ServiceDelete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/legacy/ServiceDeletePrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/legacy/ServiceGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/legacy/ServiceGetInDataSovereignRegionWithCmkEnabled.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/legacy/ServiceGetPrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/legacy/ServiceList.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/legacy/ServiceListByResourceGroup.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/legacy/ServiceListPrivateEndpointConnections.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/legacy/ServicePatch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/privatelink/PrivateLinkResourcesListByWorkspace.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/privatelink/WorkspaceCreatePrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/privatelink/WorkspaceDeletePrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/privatelink/WorkspaceGetPrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/privatelink/WorkspaceListPrivateEndpointConnections.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/privatelink/WorkspacePrivateLinkResourceGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/workspaces/Workspaces_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/workspaces/Workspaces_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/workspaces/Workspaces_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/workspaces/Workspaces_ListByResourceGroup.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/workspaces/Workspaces_ListBySubscription.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/examples/workspaces/Workspaces_Patch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2023-12-01/healthcare-apis.json
  specification/healthcareapis/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, new-api-version, MergeRequested

#27235 Search preview version 2024-03-01-preview
  cSpell.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchIndexAutocompleteDocumentsGet.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchIndexAutocompleteDocumentsPost.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchIndexCountDocuments.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchIndexGetDocument.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchIndexIndexDocuments.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchIndexSearchDocumentsGet.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchIndexSearchDocumentsPost.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchIndexSuggestDocumentsGet.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchIndexSuggestDocumentsPost.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceCreateAlias.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceCreateDataSource.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceCreateIndex.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceCreateIndexer.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceCreateOrUpdateAlias.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceCreateOrUpdateDataSource.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceCreateOrUpdateIndex.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceCreateOrUpdateIndexer.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceCreateOrUpdateSkillset.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceCreateOrUpdateSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceCreateSkillset.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceCreateSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceDeleteAlias.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceDeleteDataSource.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceDeleteIndex.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceDeleteIndexer.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceDeleteSkillset.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceDeleteSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceGetAlias.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceGetDataSource.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceGetIndex.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceGetIndexStatistics.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceGetIndexer.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceGetIndexerStatus.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceGetServiceStatistics.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceGetSkillset.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceGetSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceIndexAnalyze.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceListAliases.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceListDataSources.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceListIndexers.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceListIndexes.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceListSkillsets.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceListSynonymMaps.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceResetDocs.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceResetIndexer.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceResetSkills.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceRunIndexer.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/searchindex.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/searchservice.json
  specification/search/data-plane/Azure.Search/readme.md
Labels: customer-reported, Approved-BreakingChange, APIStewardshipBoard-SignedOff, data-plane, BreakingChangeReviewRequired, new-api-version, CI-MissingBaseCommit

#27484 Various improvements to `ci-fix.md`
  documentation/ci-fix.md
Labels: Central-EngSys, Spec PR Tools

#27410 Fixed typo in Add NFS Snapshot Support
  specification/storage/data-plane/Microsoft.FileStorage/preview/2024-05-04/file.json
Labels: data-plane

#27464 Update Quantum Data plane security to support SDK auto generation
  specification/quantum/data-plane/Microsoft.Quantum/preview/2023-11-13-preview/quantum.json
Labels: data-plane, MergeRequested

#27495 update examples
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/CreateSparkCluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/hdinsight.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager, RPaaS

#27412 Improve Salesforce V2 properties
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: WaitForARMFeedback, Approved-BreakingChange, ShiftLeftViolation, ARMReview, resource-manager, data-plane, ReadyForApiTest, BreakingChangeReviewRequired

#27500 Route v2 toc
  specification/maps/data-plane/readme.md
Labels: data-plane

#27357 Creator api summary
  specification/maps/data-plane/Creator/preview/2.0/alias.json
  specification/maps/data-plane/Creator/preview/2.0/dataset.json
  specification/maps/data-plane/Creator/preview/2.0/dwgconversion.json
  specification/maps/data-plane/Creator/preview/2.0/featurestate.json
  specification/maps/data-plane/Creator/preview/2.0/tileset.json
  specification/maps/data-plane/Creator/preview/2.0/wfs.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/alias.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/dwgconversion.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/featurestate.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/mapconfiguration.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/style.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/tileset.json
Labels: data-plane, Approved-Suppression, SuppressionReviewRequired

#27494 java, offazurespringboot, update title use singlar App
  specification/offazurespringboot/resource-manager/readme.java.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS

#27231 Adding 2023 09 01 for nginx
  cSpell.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2023-09-01/examples/Certificates_CreateOrUpdate.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2023-09-01/examples/Certificates_Delete.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2023-09-01/examples/Certificates_Get.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2023-09-01/examples/Certificates_List.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2023-09-01/examples/Configurations_Analysis.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2023-09-01/examples/Configurations_CreateOrUpdate.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2023-09-01/examples/Configurations_Delete.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2023-09-01/examples/Configurations_Get.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2023-09-01/examples/Configurations_List.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2023-09-01/examples/Deployments_Create.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2023-09-01/examples/Deployments_Delete.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2023-09-01/examples/Deployments_Get.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2023-09-01/examples/Deployments_List.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2023-09-01/examples/Deployments_ListByResourceGroup.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2023-09-01/examples/Deployments_Update.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2023-09-01/examples/Operations_List.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2023-09-01/swagger.json
  specification/nginx/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, new-api-version, CI-MissingBaseCommit, MergeRequested

#27520 Update readme.python.md
  specification/network/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#27511 disable model flatten for Network Analytics
  specification/networkanalytics/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest, RPaaS

#27382 Adding new preview api version for new field
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/databox.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/examples/AvailableSkusPost.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/examples/BookShipmentPickupPost.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/examples/JobMitigate.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/examples/JobsCancelPost.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/examples/JobsCreate.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/examples/JobsCreateDevicePassword.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/examples/JobsCreateDoubleEncryption.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/examples/JobsCreateExport.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/examples/JobsCreateWithUserAssignedIdentity.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/examples/JobsDelete.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/examples/JobsGet.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/examples/JobsGetCmk.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/examples/JobsGetCopyStuck.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/examples/JobsGetExport.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/examples/JobsGetWaitingForAction.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/examples/JobsList.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/examples/JobsListByResourceGroup.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/examples/JobsListCredentials.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/examples/JobsPatch.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/examples/JobsPatchCmk.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/examples/JobsPatchSystemAssignedToUserAssigned.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/examples/MarkDevicesShipped.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/examples/OperationsGet.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/examples/RegionConfiguration.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/examples/RegionConfigurationByResourceGroup.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/examples/ValidateAddressPost.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/examples/ValidateInputs.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-02-01-preview/examples/ValidateInputsByResourceGroup.json
  specification/databox/resource-manager/readme.go.md
  specification/databox/resource-manager/readme.java.md
  specification/databox/resource-manager/readme.md
  specification/databox/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit, MergeRequested

#27525 hardwaresecuritymodules readme.go.md add directive
  specification/hardwaresecuritymodules/resource-manager/readme.go.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, ARMReview, resource-manager, ReadyForApiTest

#27528 Adding barge in option to Play
  specification/communication/data-plane/CallAutomation/preview/2023-10-03-preview/communicationservicescallautomation.json
Labels: data-plane

#27296 Naming tweaks for ImageAnalysis
  specification/ai/ImageAnalysis/client.tsp
  specification/ai/ImageAnalysis/examples/2023-10-01/AnalyzeFromImageData_MaximumSet.json
  specification/ai/ImageAnalysis/routes.tsp
  specification/ai/ImageAnalysis/tspconfig.yaml
  specification/ai/data-plane/ImageAnalysis/stable/2023-10-01/examples/AnalyzeFromImageData_MaximumSet.json
  specification/ai/data-plane/ImageAnalysis/stable/2023-10-01/generated.json
Labels: Approved-BreakingChange, data-plane, BreakingChangeReviewRequired, TypeSpec

#27492 Update Route Directions API
  specification/maps/data-plane/Route/preview/2023-10-01-preview/route.json
Labels: data-plane

#27507 Added comment 'Maximum number of categorySet values supported per request is 10', and fixed links to search v1 swagger/API docs.
  cSpell.json
  specification/maps/data-plane/Search/preview/1.0/search.json
Labels: data-plane

#27481 Remove issue and pull request assignment files
  .github/issue_assignment.yml
  .github/pull_request_assignment.yml
Labels: Central-EngSys, Spec PR Tools

#27537 add data retention to 2024-03-15-preview
  specification/communication/data-plane/Chat/preview/2024-03-15-preview/communicationserviceschat.json
Labels: data-plane

#27539 turn the MRW feature off explicitly for communication jobrouter
  specification/communication/Communication.JobRouter/tspconfig.yaml
Labels: TypeSpec

#26892 Cognitive Services 2023-10-01-preview update
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2023-10-01-preview/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2023-10-01-preview/examples/GetRaiPolicy.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2023-10-01-preview/examples/ListRaiPolicies.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2023-10-01-preview/examples/PutRaiPolicy.json
Labels: ARMSignedOff, Approved-BreakingChange, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested

#27547 Adding Transcription and InterruptMediaOperations flag to Play operation
  specification/communication/data-plane/CallAutomation/preview/2024-01-22-preview/communicationservicescallautomation.json
Labels: data-plane

#27226 App Service e2e Tls
  specification/web/resource-manager/Microsoft.Web/stable/2023-01-01/CommonDefinitions.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#27519 System component added as azure arc profile.
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-02-01-preview/connectedClusters.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-02-01-preview/examples/ConnectedClustersListClusterCredentialResultCSPAAD.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-02-01-preview/examples/ConnectedClustersListClusterCredentialResultCSPToken.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-02-01-preview/examples/ConnectedClustersListClusterCredentialResultHPAAD.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-02-01-preview/examples/ConnectedClustersListClusterCredentialResultHPToken.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-02-01-preview/examples/CreateClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-02-01-preview/examples/CreateClusterPrivateLinkExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-02-01-preview/examples/CreateCluster_KindExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-02-01-preview/examples/DeleteClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-02-01-preview/examples/GetClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-02-01-preview/examples/GetClustersByResourceGroupExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-02-01-preview/examples/GetClustersBySubscriptionExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-02-01-preview/examples/GetProvisionedClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-02-01-preview/examples/ListConnectedClusterOperationsExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-02-01-preview/examples/UpdateClusterExample.json
  specification/hybridkubernetes/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, CI-MissingBaseCommit, MergeRequested

#27545 [Health Insights] Project structure updates
  specification/ai/HealthInsights/HealthInsights.Common/model.common.fhir.elements.tsp
  specification/ai/HealthInsights/HealthInsights.OncoPhenotype/client.tsp
  specification/ai/HealthInsights/HealthInsights.OpenAPI/main.tsp
  specification/ai/HealthInsights/HealthInsights.PatientTimeline/client.tsp
  specification/ai/HealthInsights/HealthInsights.RadiologyInsights/client.tsp
  specification/ai/HealthInsights/HealthInsights.RadiologyInsights/model.radiologyinsights.tsp
  specification/ai/HealthInsights/HealthInsights.TrialMatcher/client.tsp
  specification/ai/HealthInsights/examples/2023-03-01-preview/SuccessfulOncoPhenotypeRequest.json
  specification/ai/HealthInsights/examples/2023-03-01-preview/SuccessfulOncoPhenotypeResponse.json
  specification/ai/HealthInsights/examples/2023-03-01-preview/SuccessfulTrialMatcherRequest.json
  specification/ai/HealthInsights/examples/2023-03-01-preview/SuccessfulTrialMatcherResponse.json
  specification/ai/HealthInsights/examples/2023-09-01-preview/SuccessfulOncoPhenotypeRequest.json
  specification/ai/HealthInsights/examples/2023-09-01-preview/SuccessfulOncoPhenotypeResponse.json
  specification/ai/HealthInsights/examples/2023-09-01-preview/SuccessfulPatientTimelineRequest.json
  specification/ai/HealthInsights/examples/2023-09-01-preview/SuccessfulPatientTimelineResponse.json
  specification/ai/HealthInsights/examples/2023-09-01-preview/SuccessfulRadiologyInsightsRequest.json
  specification/ai/HealthInsights/examples/2023-09-01-preview/SuccessfulRadiologyInsightsResponse.json
  specification/ai/HealthInsights/examples/2023-09-01-preview/SuccessfulTrialMatcherRequest.json
  specification/ai/HealthInsights/examples/2023-09-01-preview/SuccessfulTrialMatcherResponse.json
  specification/ai/HealthInsights/main.tsp
  specification/ai/HealthInsights/service.tsp
  specification/ai/HealthInsights/tspconfig.yaml
Labels: TypeSpec

#27516 Fixed invalid type errors in bbox examples
  specification/maps/data-plane/Creator/preview/2.0/examples/wfs/WFS_GetFeatures.json
  specification/maps/data-plane/Creator/readme.md
  specification/maps/data-plane/readme.md
Labels: data-plane

#27543 enable mrw for jobrouter again
  specification/communication/Communication.JobRouter/tspconfig.yaml
Labels: TypeSpec

#27487 [OpenAI] Fix ChatCompletionsNamedFunctionToolSelection
  specification/cognitiveservices/OpenAI.Inference/models/completions/tools.tsp
Labels: TypeSpec

#27546 Add Token authentication for Single document translator API
  specification/translation/Azure.AI.DocumentTranslation/main.tsp
  specification/translation/data-plane/Azure.AI.DocumentTranslation/preview/2023-11-01-preview/openapi.json
Labels: data-plane, TypeSpec

#27360 add stable API 2024-02-01 for GA
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/devbox.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/devcenter.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/environments.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/Catalogs_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/Catalogs_ListByProject.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/DevBoxActions_Delay.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/DevBoxActions_DelayMultiple.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/DevBoxActions_DelayMultipleWithError.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/DevBoxActions_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/DevBoxActions_List.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/DevBoxActions_Skip.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/DevBoxOperations_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/DevBoxOperations_List.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/DevBoxes_Create.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/DevBoxes_Delete.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/DevBoxes_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/DevBoxes_GetRemoteConnection.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/DevBoxes_List.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/DevBoxes_ListByUserByProject.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/DevBoxes_Repair.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/DevBoxes_Restart.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/DevBoxes_Start.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/DevBoxes_Stop.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/EnvironmentActions_Delay.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/EnvironmentActions_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/EnvironmentActions_List.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/EnvironmentActions_Skip.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/EnvironmentDefinitions_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/EnvironmentDefinitions_ListByCatalog.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/EnvironmentDefinitions_ListByProject.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/EnvironmentOperations_GetByEnvironment.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/EnvironmentOperations_GetLogs.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/EnvironmentOperations_ListByEnvironment.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/EnvironmentTypes_ListByProject.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/Environments_CreateByEnvironmentDefinition.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/Environments_Delete.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/Environments_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/Environments_GetOutputs.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/Environments_ListByProject.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/Environments_ListByProjectByUser.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/Environments_Patch.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/Pools_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/Pools_List.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/Projects_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/Projects_ListByDevCenter.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/Schedules_Get.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/Schedules_List.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/examples/Schedules_ListByProject.json
  specification/devcenter/data-plane/readme.md
Labels: Approved-BreakingChange, APIStewardshipBoard-SignedOff, data-plane, BreakingChangeReviewRequired, new-api-version, CI-MissingBaseCommit

#27571 Update quantum readme to adapt new autorest
  specification/quantum/resource-manager/readme.python.md
Labels: MergeRequested

#27391 Azure Firewall Policy Save and Commit
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/FirewallPolicyDraftDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/FirewallPolicyDraftDeploy.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/FirewallPolicyDraftGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/FirewallPolicyDraftPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/FirewallPolicyRuleCollectionGroupDraftDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/FirewallPolicyRuleCollectionGroupDraftGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/FirewallPolicyRuleCollectionGroupDraftPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/firewallPolicy.json
  specification/network/resource-manager/readme.python.md
Labels: ARMSignedOff, Network - Firewall, Approved-LintDiff, ARMReview, resource-manager, MergeRequested

#27469 Add FineTuning Job contracts.
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/examples/Job/FineTuningJob/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/examples/Job/FineTuningJob/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/examples/Job/FineTuningJob/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/mfe.json
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired, MergeRequested

#27076 OpenAI: TypeSpec project for Assistants
  specification/ai/OpenAI.Assistants/.gitignore
  specification/ai/OpenAI.Assistants/README.md
  specification/ai/OpenAI.Assistants/assistants/main.tsp
  specification/ai/OpenAI.Assistants/assistants/models.tsp
  specification/ai/OpenAI.Assistants/assistants/routes.tsp
  specification/ai/OpenAI.Assistants/client.tsp
  specification/ai/OpenAI.Assistants/common/models.tsp
  specification/ai/OpenAI.Assistants/examples/2024-02-15-preview/create_assistant.json
  specification/ai/OpenAI.Assistants/files/main.tsp
  specification/ai/OpenAI.Assistants/files/models.tsp
  specification/ai/OpenAI.Assistants/files/routes.tsp
  specification/ai/OpenAI.Assistants/main.tsp
  specification/ai/OpenAI.Assistants/messages/main.tsp
  specification/ai/OpenAI.Assistants/messages/models.tsp
  specification/ai/OpenAI.Assistants/messages/routes.tsp
  specification/ai/OpenAI.Assistants/run_steps/main.tsp
  specification/ai/OpenAI.Assistants/run_steps/models.tsp
  specification/ai/OpenAI.Assistants/run_steps/routes.tsp
  specification/ai/OpenAI.Assistants/runs/main.tsp
  specification/ai/OpenAI.Assistants/runs/models.tsp
  specification/ai/OpenAI.Assistants/runs/routes.tsp
  specification/ai/OpenAI.Assistants/threads/main.tsp
  specification/ai/OpenAI.Assistants/threads/models.tsp
  specification/ai/OpenAI.Assistants/threads/routes.tsp
  specification/ai/OpenAI.Assistants/tools/models.tsp
  specification/ai/OpenAI.Assistants/tspconfig.yaml
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV2/preview/2023-02-15-preview/assistants_generated.json
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV2/preview/2024-02-15-preview/assistants_generated.json
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV2/stable/2023-11-06-beta/assistants_generated.json
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV2/stable/2023-11-06-beta/examples/create_assistant.json
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV3/2023-02-15-preview/assistants_generated.yaml
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV3/2023-11-06-beta/assistants_generated.yaml
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV3/2024-02-15-preview/assistants_generated.yaml
Labels: data-plane, new-api-version, CI-MissingBaseCommit, OpenAI, TypeSpec

#27194 Update workspaceRP 2024-01-01-preview swagger
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/examples/Endpoint/Deployment/create.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/examples/Endpoint/Deployment/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/examples/Endpoint/Deployment/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/examples/Endpoint/Deployment/getDeployments.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/examples/Endpoint/Deployment/getInWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/examples/Endpoint/create.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/examples/Endpoint/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/examples/Endpoint/getModels.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/examples/Endpoint/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/examples/Endpoint/listKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/examples/Endpoint/regenerateKey.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/examples/ManagedNetwork/createOrUpdateRule.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/examples/ManagedNetwork/getRule.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/examples/ManagedNetwork/listRule.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/examples/WorkspaceConnection/listSecrets.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/examples/WorkspaceConnection/update.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/workspaceRP.json
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired, MergeRequested

#27499 [Fleet] 2024-02-02-preview Readme files
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/readme.go.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/readme.java.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/readme.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/readme.python.md
Labels: resource-manager

#27574 [fleet] fix the final-state-via options for PATCH LROs
  specification/containerservice/Fleet.Management/fleet.tsp
  specification/containerservice/Fleet.Management/fleetmember.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-06-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2024-02-02-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2023-10-15/fleets.json
Labels: resource-manager, TypeSpec

#26887 Add new events for Storage - StorageTasks
  specification/eventgrid/data-plane/Microsoft.Storage/stable/2018-01-01/Storage.json
  specification/eventgrid/data-plane/Microsoft.Storage/stable/2018-01-01/examples/cloud-events-schema/storage_task_assignment_completed.json
  specification/eventgrid/data-plane/Microsoft.Storage/stable/2018-01-01/examples/cloud-events-schema/storage_task_assignment_queued.json
  specification/eventgrid/data-plane/Microsoft.Storage/stable/2018-01-01/examples/event-grid-schema/storage_task_assignment_completed.json
  specification/eventgrid/data-plane/Microsoft.Storage/stable/2018-01-01/examples/event-grid-schema/storage_task_assignment_queued.json
Labels: customer-reported, data-plane

#27570 Number lookup ga post review reconciliation
  specification/communication/data-plane/PhoneNumbers/stable/2024-03-01/phonenumbers.json
Labels: data-plane

#27586 update duration format to resolve .net sdk track2 error
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-02-15-preview/dataTransferService.json
Labels: CI-BreakingChange-JavaScript, resource-manager

#27448 RestoreParameter's new property: RestoreWithTTLDisabled
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-02-15-preview/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-02-15-preview/examples/CosmosDBMongoDBCollectionRestore.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-02-15-preview/examples/CosmosDBMongoDBDatabaseRestore.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-02-15-preview/examples/CosmosDBRestoreDatabaseAccountCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-02-15-preview/examples/CosmosDBSqlContainerRestore.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-02-15-preview/examples/CosmosDBSqlDatabaseRestore.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager

#27593 Rename retention policy APIs
  specification/communication/data-plane/Chat/preview/2024-03-15-preview/communicationserviceschat.json
Labels: data-plane

#27474 Remove includeSystemTelemetry from openTelemetryConfiguration
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/ManagedEnvironments_CreateOrUpdate.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#27426 Add MarketplaceSubscriptions, update ServerlessEndpoints in Microsoft.MachineLearningServices 2024-01-01-preview Staging Branch
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/examples/Workspace/MarketplaceSubscription/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/examples/Workspace/MarketplaceSubscription/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/examples/Workspace/MarketplaceSubscription/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/examples/Workspace/MarketplaceSubscription/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#27132 Mjmadhu playwrighttesting microsoft.azure playwright service 2023 10 01 preview new
  specification/playwrighttesting/PlaywrightTesting.Management/examples/2024-02-01/AccountQuotas_Get.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/2024-02-01/AccountQuotas_ListByAccount.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/2024-02-01/Accounts_CheckNameAvailability.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/2024-02-01/Accounts_CreateOrUpdate.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/2024-02-01/Accounts_Delete.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/2024-02-01/Accounts_Get.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/2024-02-01/Accounts_ListByResourceGroup.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/2024-02-01/Accounts_ListBySubscription.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/2024-02-01/Accounts_Update.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/2024-02-01/Operations_List.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/2024-02-01/Quotas_Get.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/2024-02-01/Quotas_ListBySubscription.json
  specification/playwrighttesting/PlaywrightTesting.Management/main.tsp
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/stable/2024-02-01/examples/AccountQuotas_Get.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/stable/2024-02-01/examples/AccountQuotas_ListByAccount.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/stable/2024-02-01/examples/Accounts_CheckNameAvailability.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/stable/2024-02-01/examples/Accounts_CreateOrUpdate.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/stable/2024-02-01/examples/Accounts_Delete.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/stable/2024-02-01/examples/Accounts_Get.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/stable/2024-02-01/examples/Accounts_ListByResourceGroup.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/stable/2024-02-01/examples/Accounts_ListBySubscription.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/stable/2024-02-01/examples/Accounts_Update.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/stable/2024-02-01/examples/Operations_List.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/stable/2024-02-01/examples/Quotas_Get.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/stable/2024-02-01/examples/Quotas_ListBySubscription.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/stable/2024-02-01/playwrighttesting.json
  specification/playwrighttesting/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest, RPaaS, Approved-Suppression, SuppressionReviewRequired, new-api-version, TypeSpec, MergeRequested

#27306 HDInsight: onboard new apiversion 2023-11-01-preview
  custom-words.txt
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/CreateAutoscaleCluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/CreateClusterPool.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/CreateClusterPoolWithPrivateAks.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/CreateClusterPoolWithUDRAks.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/CreateRangerCluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/CreateSparkCluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/CreateSparkClusterWithInternalIngress.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/DeleteCluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/DeleteClusterPool.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/GetCluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/GetClusterInstanceView.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/GetClusterPool.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/GetOperations.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/ListAvailableClusterPoolVersions.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/ListAvailableClusterVersions.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/ListClusterAvailableUpgrades.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/ListClusterInstanceViews.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/ListClusterJobs.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/ListClusterPoolAvailableUpgrades.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/ListClusterPools.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/ListClusterPoolsSubscription.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/ListClusterServiceConfigs.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/ListClustersByClusterPoolName.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/LocationsNameAvailability.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/PatchCluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/PatchClusterPool.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/PatchRangerCluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/ResizeCluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/RunClusterJob.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/UpgradeAKSPatchVersionForCluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/UpgradeAKSPatchVersionForClusterPool.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/UpgradeHotfixForCluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/examples/UpgradeNodeOsForClusterPool.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/hdinsight.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, RPaaS, Approved-Suppression, SuppressionReviewRequired, new-api-version, CI-MissingBaseCommit, MergeRequested

#27455 swagger changes for perregion autoscale
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-02-15-preview/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-02-15-preview/examples/CosmosDBDatabaseAccountCreateMax.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-02-15-preview/examples/CosmosDBDatabaseAccountGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-02-15-preview/examples/CosmosDBDatabaseAccountList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-02-15-preview/examples/CosmosDBDatabaseAccountPatch.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, resource-manager
