Repository Azure/azure-rest-api-specs, pull requests merged in 2024-05, with the labels that each got.

#28925 Update swagger with InterruptCallMediaOperation flag fix
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/communicationservicescallautomation.json
Labels: data-plane

#28725 Release SplitIO.Experimentation api spec from private repo RPSaaSMaster branch
  specification/splitio/SplitIO.Experimentation.Management/examples/2024-03-01-preview/DataPlaneApplicationsExchangeToken.json
  specification/splitio/SplitIO.Experimentation.Management/examples/2024-03-01-preview/ExperimentationWorkspacesCreate.json
  specification/splitio/SplitIO.Experimentation.Management/examples/2024-03-01-preview/ExperimentationWorkspacesDelete.json
  specification/splitio/SplitIO.Experimentation.Management/examples/2024-03-01-preview/ExperimentationWorkspacesGet.json
  specification/splitio/SplitIO.Experimentation.Management/examples/2024-03-01-preview/ExperimentationWorkspacesListByResourceGroup.json
  specification/splitio/SplitIO.Experimentation.Management/examples/2024-03-01-preview/ExperimentationWorkspacesListBySubscription.json
  specification/splitio/SplitIO.Experimentation.Management/examples/2024-03-01-preview/ExperimentationWorkspacesUpdate.json
  specification/splitio/SplitIO.Experimentation.Management/examples/2024-03-01-preview/OperationsList.json
  specification/splitio/SplitIO.Experimentation.Management/main.tsp
  specification/splitio/SplitIO.Experimentation.Management/tspconfig.yaml
  specification/splitio/resource-manager/SplitIO.Experimentation/preview/2024-03-01-preview/examples/DataPlaneApplicationsExchangeToken.json
  specification/splitio/resource-manager/SplitIO.Experimentation/preview/2024-03-01-preview/examples/ExperimentationWorkspacesCreate.json
  specification/splitio/resource-manager/SplitIO.Experimentation/preview/2024-03-01-preview/examples/ExperimentationWorkspacesDelete.json
  specification/splitio/resource-manager/SplitIO.Experimentation/preview/2024-03-01-preview/examples/ExperimentationWorkspacesGet.json
  specification/splitio/resource-manager/SplitIO.Experimentation/preview/2024-03-01-preview/examples/ExperimentationWorkspacesListByResourceGroup.json
  specification/splitio/resource-manager/SplitIO.Experimentation/preview/2024-03-01-preview/examples/ExperimentationWorkspacesListBySubscription.json
  specification/splitio/resource-manager/SplitIO.Experimentation/preview/2024-03-01-preview/examples/ExperimentationWorkspacesUpdate.json
  specification/splitio/resource-manager/SplitIO.Experimentation/preview/2024-03-01-preview/examples/OperationsList.json
  specification/splitio/resource-manager/SplitIO.Experimentation/preview/2024-03-01-preview/splitio.json
  specification/splitio/resource-manager/custom-words.txt
  specification/splitio/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, Approved-Suppression, SuppressionReviewRequired, new-api-version, new-rp-namespace, TypeSpec, MergeRequested

#28835 Adding api version redisenterprise microsoft.cache 2024 03 01 preview
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/examples/OperationsList.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/examples/OperationsStatusGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/examples/RedisEnterpriseCreate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/examples/RedisEnterpriseDatabasesCreate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/examples/RedisEnterpriseDatabasesCreateWithGeoReplication.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/examples/RedisEnterpriseDatabasesDelete.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/examples/RedisEnterpriseDatabasesExport.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/examples/RedisEnterpriseDatabasesFlush.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/examples/RedisEnterpriseDatabasesForceLink.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/examples/RedisEnterpriseDatabasesForceUnlink.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/examples/RedisEnterpriseDatabasesGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/examples/RedisEnterpriseDatabasesImport.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/examples/RedisEnterpriseDatabasesListByCluster.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/examples/RedisEnterpriseDatabasesListKeys.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/examples/RedisEnterpriseDatabasesRegenerateKey.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/examples/RedisEnterpriseDatabasesUpdate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/examples/RedisEnterpriseDatabasesUpgradeDBRedisVersion.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/examples/RedisEnterpriseDelete.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/examples/RedisEnterpriseDeletePrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/examples/RedisEnterpriseGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/examples/RedisEnterpriseGetPrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/examples/RedisEnterpriseList.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/examples/RedisEnterpriseListByResourceGroup.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/examples/RedisEnterpriseListPrivateEndpointConnections.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/examples/RedisEnterpriseListPrivateLinkResources.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/examples/RedisEnterprisePutPrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/examples/RedisEnterpriseUpdate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/redisenterprise.json
  specification/redisenterprise/resource-manager/readme.md
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, BreakingChangeReviewRequired, new-api-version, MergeRequested, BreakingChange-Approved-BugFix

#28734 [Hub Generated] Publish private branch 'asgar-microsoft-portalservices-Microsoft.PortalServices-CopilotSettings-2024-04-01-preview'
  specification/portalservices/CopilotSettings.Management/CopilotSettings.tsp
  specification/portalservices/CopilotSettings.Management/examples/2024-04-01-preview/CopilotSettings_CreateOrUpdate.json
  specification/portalservices/CopilotSettings.Management/examples/2024-04-01-preview/CopilotSettings_Delete.json
  specification/portalservices/CopilotSettings.Management/examples/2024-04-01-preview/CopilotSettings_Get.json
  specification/portalservices/CopilotSettings.Management/examples/2024-04-01-preview/CopilotSettings_Update.json
  specification/portalservices/CopilotSettings.Management/examples/2024-04-01-preview/Operations_List.json
  specification/portalservices/CopilotSettings.Management/howtocompile.md
  specification/portalservices/CopilotSettings.Management/main.tsp
  specification/portalservices/CopilotSettings.Management/models.tsp
  specification/portalservices/CopilotSettings.Management/tspconfig.yaml
  specification/portalservices/Extension.Management/ExtensionTenantCompileFile.tsp
  specification/portalservices/Extension.Management/client.tsp
  specification/portalservices/Extension.Management/examples/2024-04-01-preview/Operations_List.json
  specification/portalservices/Extension.Management/examples/2024-04-01-preview/PortalTenant_Compilefile.json
  specification/portalservices/Extension.Management/howtocompile.md
  specification/portalservices/Extension.Management/main.tsp
  specification/portalservices/Extension.Management/models.tsp
  specification/portalservices/Extension.Management/tspconfig.yaml
  specification/portalservices/resource-manager/Microsoft.PortalServices/copilotSettings/preview/2024-04-01-preview/copilotSettings.json
  specification/portalservices/resource-manager/Microsoft.PortalServices/copilotSettings/preview/2024-04-01-preview/examples/CopilotSettings_CreateOrUpdate.json
  specification/portalservices/resource-manager/Microsoft.PortalServices/copilotSettings/preview/2024-04-01-preview/examples/CopilotSettings_Delete.json
  specification/portalservices/resource-manager/Microsoft.PortalServices/copilotSettings/preview/2024-04-01-preview/examples/CopilotSettings_Get.json
  specification/portalservices/resource-manager/Microsoft.PortalServices/copilotSettings/preview/2024-04-01-preview/examples/CopilotSettings_Update.json
  specification/portalservices/resource-manager/Microsoft.PortalServices/copilotSettings/preview/2024-04-01-preview/examples/Operations_List.json
  specification/portalservices/resource-manager/Microsoft.PortalServices/extensions/preview/2024-04-01-preview/examples/Operations_List.json
  specification/portalservices/resource-manager/Microsoft.PortalServices/extensions/preview/2024-04-01-preview/examples/PortalTenant_Compilefile.json
  specification/portalservices/resource-manager/Microsoft.PortalServices/extensions/preview/2024-04-01-preview/extensions.json
  specification/portalservices/resource-manager/readme.md
Labels: WaitForARMFeedback, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, Approved-Suppression, SuppressionReviewRequired, new-api-version, TypeSpec, MergeRequested

#28047 Add SessionPools and Sessions
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/SessionPools.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/SessionPools_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/SessionPools_Delete.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/SessionPools_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/SessionPools_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/SessionPools_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/SessionPools_Patch.json
  specification/app/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, SuppressionReviewRequired, MergeRequested

#28819 Update documentation for UnifiedVision 2023-04-01-preview
  cSpell.json
  specification/cognitiveservices/data-plane/UnifiedVision/preview/2023-04-01-preview/UnifiedVision.json
Labels: data-plane, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-Benign

#28878 Update documentation for Custom Vision v3.2 Training API
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.2/Training.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.2/examples/CreateImagesFromFiles.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.2/examples/DeleteImageRegions.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.2/examples/GetImagePerformanceCount.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.2/examples/GetImagePerformances.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.2/examples/GetTaggedImageCount.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.2/examples/GetUntaggedImageCount.json
Labels: Approved-LintDiff, data-plane, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-Benign

#28930 Update spec PR review workflow diagram: simplify + make it also applicable to data-plane.
  .github/PULL_REQUEST_TEMPLATE/ARM_spec_pr_review_workflow_diagram.png
  .github/PULL_REQUEST_TEMPLATE/control_plane_template.md
  .github/PULL_REQUEST_TEMPLATE/data_plane_template.md
  .github/PULL_REQUEST_TEMPLATE/spec_pr_review_workflow_diagram.png
Labels: Central-EngSys, Spec PR Tools

#28620 Adding Azure Monitor Pipelines public preview.
  custom-words.txt
  specification/monitor/Microsoft.Monitor/examples/2023-10-01-preview/AzureMonitorWorkspaceCreate.json
  specification/monitor/Microsoft.Monitor/examples/2023-10-01-preview/AzureMonitorWorkspaceDelete.json
  specification/monitor/Microsoft.Monitor/examples/2023-10-01-preview/AzureMonitorWorkspaceGet.json
  specification/monitor/Microsoft.Monitor/examples/2023-10-01-preview/AzureMonitorWorkspaceUpdate.json
  specification/monitor/Microsoft.Monitor/examples/2023-10-01-preview/AzureMonitorWorkspacesListByResourceGroup.json
  specification/monitor/Microsoft.Monitor/examples/2023-10-01-preview/AzureMonitorWorkspacesListBySubscription.json
  specification/monitor/Microsoft.Monitor/examples/2023-10-01-preview/OperationsList.json
  specification/monitor/Microsoft.Monitor/examples/2023-10-01-preview/PipelineGroupCreateSyslogs.json
  specification/monitor/Microsoft.Monitor/examples/2023-10-01-preview/PipelineGroupCreateSyslogsWithCache.json
  specification/monitor/Microsoft.Monitor/examples/2023-10-01-preview/PipelineGroupCreateSyslogsWithNetworking.json
  specification/monitor/Microsoft.Monitor/examples/2023-10-01-preview/PipelineGroupCreateUdp.json
  specification/monitor/Microsoft.Monitor/examples/2023-10-01-preview/PipelineGroupDelete.json
  specification/monitor/Microsoft.Monitor/examples/2023-10-01-preview/PipelineGroupGet.json
  specification/monitor/Microsoft.Monitor/examples/2023-10-01-preview/PipelineGroupListByResourceGroup.json
  specification/monitor/Microsoft.Monitor/examples/2023-10-01-preview/PipelineGroupListBySubscription.json
  specification/monitor/Microsoft.Monitor/examples/2023-10-01-preview/PipelineGroupUpdate.json
  specification/monitor/Microsoft.Monitor/main.tsp
  specification/monitor/Microsoft.Monitor/tspconfig.yaml
  specification/monitor/Microsoft.Monitor/typespec/azureMonitorWorkspace.tsp
  specification/monitor/Microsoft.Monitor/typespec/exporters/AzureMonitorWorkspaceLogs.tsp
  specification/monitor/Microsoft.Monitor/typespec/exporters/TcpExporters.tsp
  specification/monitor/Microsoft.Monitor/typespec/pipelineGroup.tsp
  specification/monitor/Microsoft.Monitor/typespec/processors/BatchProcessor.tsp
  specification/monitor/Microsoft.Monitor/typespec/receivers/OtlpReceiver.tsp
  specification/monitor/Microsoft.Monitor/typespec/receivers/SyslogReceiver.tsp
  specification/monitor/Microsoft.Monitor/typespec/receivers/TcpReceivers.tsp
  specification/monitor/Microsoft.Monitor/typespec/service.tsp
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2023-10-01-preview/azuremonitor.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2023-10-01-preview/examples/AzureMonitorWorkspaceCreate.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2023-10-01-preview/examples/AzureMonitorWorkspaceDelete.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2023-10-01-preview/examples/AzureMonitorWorkspaceGet.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2023-10-01-preview/examples/AzureMonitorWorkspaceUpdate.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2023-10-01-preview/examples/AzureMonitorWorkspacesListByResourceGroup.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2023-10-01-preview/examples/AzureMonitorWorkspacesListBySubscription.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2023-10-01-preview/examples/OperationsList.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2023-10-01-preview/examples/PipelineGroupCreateSyslogs.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2023-10-01-preview/examples/PipelineGroupCreateSyslogsWithCache.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2023-10-01-preview/examples/PipelineGroupCreateSyslogsWithNetworking.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2023-10-01-preview/examples/PipelineGroupCreateUdp.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2023-10-01-preview/examples/PipelineGroupDelete.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2023-10-01-preview/examples/PipelineGroupGet.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2023-10-01-preview/examples/PipelineGroupListByResourceGroup.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2023-10-01-preview/examples/PipelineGroupListBySubscription.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2023-10-01-preview/examples/PipelineGroupUpdate.json
  specification/monitor/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, RPaaS, new-api-version, TypeSpec, MergeRequested, BreakingChange-Go-Sdk-Approved, BreakingChange-Go-Sdk

#28950 NSP related comments
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/networkSecurityPerimeter.json
Labels: WaitForARMFeedback, ARMReview, resource-manager

#28799 [Microsoft.HybridNetwork] Update Examples for API 2023-09-01
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/stable/2023-09-01/examples/NetworkFunctionDefinitionVersionCreate.json
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/stable/2023-09-01/examples/NetworkFunctionDefinitionVersionListByNetworkFunctionDefinitionGroup.json
Labels: WaitForARMFeedback, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#27639 Add a new data plane Upload API
  cSpell.json
  specification/securityinsights/data-plane/Microsoft.SecurityInsights/preview/2024-02-01-preview/ThreatIntelligence.json
  specification/securityinsights/data-plane/Microsoft.SecurityInsights/preview/2024-02-01-preview/examples/threatintelligence/UploadStixObjects.json
  specification/securityinsights/data-plane/readme.md
Labels: Approved-LintDiff, APIStewardshipBoard-SignedOff, data-plane, new-api-version, MergeRequested

#28957 Nits - review comments
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2024-05-15/managedCassandra.json
  specification/cosmos-db/resource-manager/readme.md
Labels: WaitForARMFeedback, ARMReview, resource-manager, SuppressionReviewRequired, BreakingChange-Go-Sdk

#28967 Remove required from npipbooleanparameter
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/databricks.json
Labels: resource-manager

#28919 add undrainableNodeBehavior property
  cSpell.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-04-02-preview/managedClusters.json
Labels: resource-manager

#28775 Add private endpoint connections for managed environment
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/ManagedEnvironmentPrivateEndpointConnections_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/ManagedEnvironmentPrivateEndpointConnections_Delete.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/ManagedEnvironmentPrivateEndpointConnections_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/ManagedEnvironmentPrivateEndpointConnections_List.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/ManagedEnvironmentPrivateLinkResources_List.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#28978 [HealthInsights] update Java/csharp model client names
  specification/ai/HealthInsights/HealthInsights.RadiologyInsights/client.tsp
Labels: TypeSpec

#28864 Added usage models for run and runStep
  specification/ai/OpenAI.Assistants/run_steps/models.tsp
  specification/ai/OpenAI.Assistants/runs/models.tsp
Labels: TypeSpec

#28993 Add BETA4 changes for transcription public preview
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/communicationservicescallautomation.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallMedia_StartTranscription.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallMedia_StopTranscription.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallMedia_UpdateTranscription.json
Labels: data-plane

#28995 Update readme.python.md
  specification/consumption/resource-manager/readme.python.md
Labels: WaitForARMFeedback, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChange-Go-Sdk-Approved, BreakingChange-Go-Sdk

#28156 Curiekim0 databricks microsoft.databricks 2024 05 01
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/accessconnector.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/databricks.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/AccessConnectorCreateOrUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/AccessConnectorCreateOrUpdateWithUserAssigned.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/AccessConnectorDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/AccessConnectorGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/AccessConnectorPatchUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/AccessConnectorsListByResourceGroup.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/AccessConnectorsListBySubscriptionId.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/DisableEncryption.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/EnableEncryption.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/ListPrivateEndpointConnections.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/ListPrivateLinkResources.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/OperationsList.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/OutboundNetworkDependenciesEndpointsList.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/PrepareEncryption.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/PrivateEndpointConnectionsDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/PrivateEndpointConnectionsGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/PrivateEndpointConnectionsUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/PrivateLinkResourcesGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/WorkspaceCreate.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/WorkspaceCreateWithParameters.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/WorkspaceDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/WorkspaceDeleteForceDeletion.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/WorkspaceEnhancedSecurityComplianceCreateOrUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/WorkspaceEnhancedSecurityComplianceGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/WorkspaceGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/WorkspaceGetParameters.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/WorkspaceManagedDiskEncryptionCreate.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/WorkspaceManagedDiskEncryptionGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/WorkspaceManagedDiskEncryptionUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/WorkspaceUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/WorkspaceVirtualNetPeeringGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/WorkspaceVirtualNetPeeringList.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/WorkspaceVirtualNetworkPeeringCreateOrUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/WorkspaceVirtualNetworkPeeringDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/WorkspacesListByResourceGroup.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/examples/WorkspacesListBySubscription.json
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/vnetpeering.json
  specification/databricks/resource-manager/readme.md
  specification/databricks/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, MergeRequested, BreakingChange-Approved-UserImpact, BreakingChange-JavaScript-Sdk-Suppression-Approved, BreakingChange-JavaScript-Sdk-Suppression

#28776 Add Missing AIServices Connection Category
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/machineLearningServices.json
Labels: ARMSignedOff, ARMReview, resource-manager, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk

#29023 [resources] fix `PolicyClient` breaking for Python SDK
  specification/resources/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk

#28718 [Microsoft.StorageActions][StorageTasks] Address SDK team feedback
  specification/storageactions/resource-manager/Microsoft.StorageActions/stable/2023-01-01/examples/storageTasksCrud/GetStorageTask.json
  specification/storageactions/resource-manager/Microsoft.StorageActions/stable/2023-01-01/examples/storageTasksCrud/PatchStorageTask.json
  specification/storageactions/resource-manager/Microsoft.StorageActions/stable/2023-01-01/examples/storageTasksCrud/PutStorageTask.json
  specification/storageactions/resource-manager/Microsoft.StorageActions/stable/2023-01-01/examples/storageTasksList/ListStorageTasksByResourceGroup.json
  specification/storageactions/resource-manager/Microsoft.StorageActions/stable/2023-01-01/examples/storageTasksList/ListStorageTasksBySubscription.json
  specification/storageactions/resource-manager/Microsoft.StorageActions/stable/2023-01-01/storageactions.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-BugFix

#28055 Improvement of Post examples
  cSpell.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/ConfigurationPolicyGroupDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/EffectiveRoutesListForConnection.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/EffectiveRoutesListForRouteTable.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/EffectiveRoutesListForVirtualHub.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/ExpressRouteConnectionDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/ExpressRouteGatewayDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/ExpressRouteGatewayUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/GenerateVirtualWanVpnServerConfigurationVpnProfile.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/GetInboundRoutes.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/GetOutboundRoutes.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/GetVirtualWanVpnServerConfigurations.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/HubRouteTableDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/HubVirtualNetworkConnectionDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/NatRuleDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/P2SVpnGatewayDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/P2SVpnGatewayGenerateVpnProfile.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/P2SVpnGatewayGetConnectionHealth.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/P2SVpnGatewayGetConnectionHealthDetailed.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/P2SVpnGatewayReset.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/P2SVpnGatewayUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/P2sVpnGatewaysDisconnectP2sVpnConnections.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/RouteMapDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/RoutingIntentDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/VirtualHubBgpConnectionDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/VirtualHubDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/VirtualHubIpConfigurationDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/VirtualHubRouteTableV2Delete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/VirtualRouterPeerListAdvertisedRoute.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/VirtualRouterPeerListLearnedRoute.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/VirtualWANDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/VirtualWANGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/VirtualWANList.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/VirtualWANListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/VirtualWANPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/VpnConnectionDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/VpnConnectionStartPacketCapture.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/VpnConnectionStartPacketCaptureFilterData.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/VpnConnectionStopPacketCapture.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/VpnGatewayDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/VpnGatewayReset.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/VpnGatewayStartPacketCapture.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/VpnGatewayStartPacketCaptureFilterData.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/VpnGatewayStopPacketCapture.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/VpnGatewayUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/VpnServerConfigurationDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/VpnSiteDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/VpnSiteLinkConnectionReset.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/VpnSiteList.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/VpnSiteListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/examples/VpnSitesConfigurationDownload.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-09-01/virtualWan.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#29020 Nits - Services.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2024-05-15/services.json
Labels: WaitForARMFeedback, ARMReview, resource-manager, BreakingChange-Go-Sdk

#29027 Adds flag to not flatten .NET scenario
  specification/quota/resource-manager/readme.md
Labels: WaitForARMFeedback, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#28984 Microsoft.Security: fix bad chars with 2023-12-01-preview
  specification/security/resource-manager/Microsoft.Security/preview/2023-12-01-preview/automations.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested, BreakingChange-Go-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-Python-Sdk

#29034 Update Threads_CreateChatThread Example
  specification/communication/data-plane/Chat/preview/2024-03-15-preview/examples/Threads_CreateChatThread.json
Labels: data-plane

#28935 Update swagger to consume subscription id in method for Discover NLP …
  specification/help/resource-manager/Microsoft.Help/preview/2024-03-01-preview/help.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#28839 revert changes for user mi
  custom-words.txt
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/NetworkWatcherFlowLogConfigure.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/NetworkWatcherFlowLogCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/NetworkWatcherFlowLogGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/NetworkWatcherFlowLogList.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/NetworkWatcherFlowLogStatusQuery.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/NetworkWatcherFlowLogUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/networkWatcher.json
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, BreakingChange-Approved-BugFix

#28784 Pdaryani recoveryservices 2024 04 30 preview
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/Capabilities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/CheckNameAvailability_Available.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/CheckNameAvailability_NotAvailable.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/PATCHVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/PATCHVault_WithRedundancySettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/PUTVault_ResourceGuardEnabled.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/PUTVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/PUTVault_WithRedundancySettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/examples/UpdateVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/registeredidentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/replicationusages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/vaults.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-04-30-preview/vaultusages.json
  specification/recoveryservices/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, MergeRequested

#28969 set `resultType` to required=true and resolution defaults to medium
  specification/maps/data-plane/Search/stable/2023-06-01/search.json
Labels: data-plane

#29018 TypeSpec changes for CSharp
  specification/batch/Azure.Batch/client.tsp
  specification/batch/Azure.Batch/common.tsp
  specification/batch/Azure.Batch/main.tsp
  specification/batch/Azure.Batch/models.tsp
  specification/batch/Azure.Batch/routes.tsp
  specification/batch/Azure.Batch/tspconfig.yaml
  specification/batch/data-plane/Azure.Batch/preview/2024-02-01.19.0/BatchService.json
Labels: data-plane, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-Benign

#28842 [Microsoft.DeviceRegistry] Fixed operationIds in examples for API version 2023-11-01-preview
  specification/deviceregistry/DeviceRegistry.Management/assetEndpointProfiles.tsp
  specification/deviceregistry/DeviceRegistry.Management/assets.tsp
  specification/deviceregistry/DeviceRegistry.Management/examples/2023-11-01-preview/Create_AssetEndpointProfile.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2023-11-01-preview/Create_Asset_With_ExternalAssetId.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2023-11-01-preview/Create_Asset_Without_DisplayName.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2023-11-01-preview/Create_Asset_Without_ExternalAssetId.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2023-11-01-preview/Delete_Asset.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2023-11-01-preview/Delete_AssetEndpointProfile.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2023-11-01-preview/Get_Asset.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2023-11-01-preview/Get_AssetEndpointProfile.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2023-11-01-preview/Get_Asset_With_SyncStatus.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2023-11-01-preview/Get_OperationStatus.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2023-11-01-preview/List_AssetEndpointProfiles_ResourceGroup.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2023-11-01-preview/List_AssetEndpointProfiles_Subscription.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2023-11-01-preview/List_Assets_ResourceGroup.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2023-11-01-preview/List_Assets_Subscription.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2023-11-01-preview/List_Operations.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2023-11-01-preview/Update_Asset.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2023-11-01-preview/Update_AssetEndpointProfile.json
  specification/deviceregistry/DeviceRegistry.Management/main.tsp
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/deviceregistry.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/Create_AssetEndpointProfile.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/Create_Asset_With_ExternalAssetId.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/Create_Asset_Without_DisplayName.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/Create_Asset_Without_ExternalAssetId.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/Delete_Asset.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/Delete_AssetEndpointProfile.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/Get_Asset.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/Get_AssetEndpointProfile.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/Get_Asset_With_SyncStatus.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/Get_OperationStatus.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/List_AssetEndpointProfiles_ResourceGroup.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/List_AssetEndpointProfiles_Subscription.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/List_Assets_ResourceGroup.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/List_Assets_Subscription.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/List_Operations.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/Update_Asset.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/Update_AssetEndpointProfile.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, TypeSpec

#28941 [Maps] change the api version of tags
  specification/maps/data-plane/Search/readme.md
  specification/maps/data-plane/readme.md
Labels: data-plane

#29062 Update readme.python.md
  specification/security/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk

#29066 update oracle readme.go.md
  specification/oracle/resource-manager/readme.go.md
  specification/oracle/resource-manager/readme.md
Labels: WaitForARMFeedback, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS

#29049 [ML] fix: Update `endpoint` type to `url` from `str` and fix base endpoint
  specification/machinelearningservices/AzureAI.Assets/main.tsp
  specification/machinelearningservices/data-plane/Microsoft.MachineLearningServices/preview/2024-04-01-preview/azure-ai-assets.json
Labels: data-plane, TypeSpec, MergeRequested

#29072 Added suppression for LroExtension
  specification/communication/data-plane/CallAutomation/readme.md
Labels: data-plane, SuppressionReviewRequired

#29052 MixSku Pool Autoscale mode API Change
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-04-02-preview/examples/AgentPoolsCreate_TypeVirtualMachines_Autoscale.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-04-02-preview/managedClusters.json
Labels: resource-manager

#29044 Add swagger defination for IMDS restriction feature
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-04-02-preview/managedClusters.json
Labels: resource-manager

#29076 update mpcnetworkfunction readme.go.md
  specification/mpcnetworkfunction/resource-manager/readme.go.md
Labels: resource-manager, ReadyForApiTest, RPaaS

#29077 cosmos add sdk-suppressions.yaml
  specification/cosmos-db/resource-manager/sdk-suppressions.yaml
Labels: WaitForARMFeedback, ARMReview, resource-manager, BreakingChange-Go-Sdk-Suppression

#29064 Refine Face existing spec
  specification/ai/Face/models.common.tsp
  specification/ai/Face/models.session.tsp
  specification/ai/Face/routes.detection.tsp
  specification/ai/Face/routes.recognition.tsp
  specification/ai/Face/tspconfig.yaml
  specification/ai/data-plane/Face/preview/v1.1-preview.1/Face.json
Labels: data-plane, TypeSpec

#29084 dpg java, contentsafety version 2023-10-01
  specification/cognitiveservices/ContentSafety/tspconfig.yaml
Labels: TypeSpec

#28294 Swagger changes for ServiceNowV2 expression app model.
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
  specification/datafactory/resource-manager/sdk-suppressions.yaml
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: ARMSignedOff, ShiftLeftViolation, ARMReview, resource-manager, data-plane, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-Benign, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-JavaScript-Sdk-Suppression-Approved, BreakingChange-Python-Sdk-Suppression-Approved, BreakingChange-Go-Sdk-Suppression, BreakingChange-JavaScript-Sdk-Suppression, BreakingChange-Python-Sdk-Suppression

#29013 Microsoft.Monitor: Bug fix to allow publicNetworkAccess state to be set through existing APIs
  specification/monitor/resource-manager/Microsoft.Monitor/stable/2023-04-03/monitoringAccounts_API.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-BugFix, BreakingChange-Go-Sdk-Approved, BreakingChange-Go-Sdk

#28413 microsoft.chaos 2024-03-22-preview api
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/capabilities.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/capabilityTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/CancelExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/CreateOrUpdateAPrivateAccess.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/CreateOrUpdateAPrivateAccess_WithPublicNetworkAccess.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/CreateUpdateCapability.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/CreateUpdateExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/CreateUpdateTarget.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/DeleteAPrivateAccess.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/DeleteCapability.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/DeleteExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/DeleteTarget.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/DetailsExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/GetAPrivateAccess.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/GetAPrivateAccess_WithPrivateEndpoint.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/GetCapability.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/GetCapabilityType.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/GetExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/GetExperimentExecution.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/GetOperationStatus.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/GetTarget.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/GetTargetType.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/ListCapabilities.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/ListCapabilityTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/ListExperimentExecutions.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/ListExperimentsInAResourceGroup.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/ListExperimentsInASubscription.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/ListPrivateAccessInAResourceGroup.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/ListPrivateAccessInASubscription.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/ListTargetTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/ListTargets.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/PrivateAccessPrivateEndpointConnection_Delete.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/PrivateAccessPrivateEndpointConnection_Get.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/PrivateAccessPrivateEndpointConnection_ListByPrivateAccess.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/PrivateAccessPrivateLinkResources_Get.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/StartExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/UpdateAPrivateAccessTags.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/examples/UpdateExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/experiments.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/operationStatuses.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/operations.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/privateAccesses.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/targetTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/targets.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/types/capabilities.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/types/capabilityTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/types/common.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/types/experiments.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/types/privateAccesses.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/types/targetTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/types/targets.json
  specification/chaos/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, BreakingChangeReviewRequired, new-api-version, MergeRequested, BreakingChange-Approved-BugFix

#29059 [Enrichment API] Remove deprecated api
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/Enrichment.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/examples/enrichment/GetGeodataByIp.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/examples/enrichment/GetWhoisByDomainName.json
  specification/securityinsights/resource-manager/readme.md
Labels: resource-manager

#28811 [ACR] Retire 3 oldest preview API versions.
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2016-06-27-preview/containerregistry.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2017-06-01-preview/containerregistry.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2017-06-01-preview/examples/RegistryCheckNameAvailable.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2017-06-01-preview/examples/RegistryCheckNameNotAvailable.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2017-06-01-preview/examples/RegistryCreate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2017-06-01-preview/examples/RegistryDelete.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2017-06-01-preview/examples/RegistryGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2017-06-01-preview/examples/RegistryList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2017-06-01-preview/examples/RegistryListByResourceGroup.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2017-06-01-preview/examples/RegistryListCredentials.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2017-06-01-preview/examples/RegistryListUsages.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2017-06-01-preview/examples/RegistryRegenerateCredential.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2017-06-01-preview/examples/RegistryUpdate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2017-06-01-preview/examples/ReplicationCreate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2017-06-01-preview/examples/ReplicationDelete.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2017-06-01-preview/examples/ReplicationGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2017-06-01-preview/examples/ReplicationList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2017-06-01-preview/examples/ReplicationUpdate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2017-06-01-preview/examples/WebhookCreate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2017-06-01-preview/examples/WebhookDelete.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2017-06-01-preview/examples/WebhookGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2017-06-01-preview/examples/WebhookGetCallbackConfig.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2017-06-01-preview/examples/WebhookList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2017-06-01-preview/examples/WebhookListEvents.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2017-06-01-preview/examples/WebhookPing.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2017-06-01-preview/examples/WebhookUpdate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2018-02-01-preview/containerregistry_build.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2018-02-01-preview/examples/BuildStepsCreate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2018-02-01-preview/examples/BuildStepsDelete.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2018-02-01-preview/examples/BuildStepsGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2018-02-01-preview/examples/BuildStepsList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2018-02-01-preview/examples/BuildStepsListBuildArguments.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2018-02-01-preview/examples/BuildStepsUpdate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2018-02-01-preview/examples/BuildTasksCreate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2018-02-01-preview/examples/BuildTasksDelete.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2018-02-01-preview/examples/BuildTasksGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2018-02-01-preview/examples/BuildTasksList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2018-02-01-preview/examples/BuildTasksListSourceRepositoryProperties.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2018-02-01-preview/examples/BuildTasksUpdate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2018-02-01-preview/examples/BuildsCancel.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2018-02-01-preview/examples/BuildsGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2018-02-01-preview/examples/BuildsGetLogLink.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2018-02-01-preview/examples/BuildsList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2018-02-01-preview/examples/BuildsUpdate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2018-02-01-preview/examples/RegistriesGetBuildSourceUploadUrl.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2018-02-01-preview/examples/RegistriesQueueBuild.json
  specification/containerregistry/resource-manager/readme.go.md
  specification/containerregistry/resource-manager/readme.java.md
  specification/containerregistry/resource-manager/readme.md
  specification/containerregistry/resource-manager/readme.python.md
  specification/containerregistry/resource-manager/readme.ruby.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-Benign

#28827 Add examples for Subnet peering and v6 Subnet peering.
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/VirtualNetworkSubnetPeeringCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/VirtualNetworkSubnetPeeringGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/VirtualNetworkSubnetPeeringSync.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/VirtualNetworkV6SubnetPeeringCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/VirtualNetworkV6SubnetPeeringGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/VirtualNetworkV6SubnetPeeringSync.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/virtualNetwork.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/VirtualNetworkSubnetPeeringCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/VirtualNetworkSubnetPeeringGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/VirtualNetworkSubnetPeeringSync.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/VirtualNetworkV6SubnetPeeringCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/VirtualNetworkV6SubnetPeeringGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/VirtualNetworkV6SubnetPeeringSync.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/virtualNetwork.json
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, MergeRequested

#28983 Review request for Microsoft.Cache to add version stable/2024-03-01
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheAccessPolicyAssignmentCreateUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheAccessPolicyAssignmentDelete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheAccessPolicyAssignmentGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheAccessPolicyAssignmentList.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheAccessPolicyCreateUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheAccessPolicyDelete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheAccessPolicyGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheAccessPolicyList.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheAsyncOperationStatus.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheCheckNameAvailability.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheCreate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheCreateDefaultVersion.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheCreateLatestVersion.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheDelete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheDeletePrivateEndpointConnection.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheExport.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheFirewallRuleCreate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheFirewallRuleDelete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheFirewallRuleGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheFirewallRulesList.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheFlush.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheForceReboot.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheGetPrivateEndpointConnection.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheImport.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheLinkedServer_Create.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheLinkedServer_Delete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheLinkedServer_Get.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheLinkedServer_List.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheList.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheListByResourceGroup.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheListKeys.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheListPrivateEndpointConnections.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheListPrivateLinkResources.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheListUpgradeNotifications.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheOperations.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCachePatchSchedulesCreateOrUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCachePatchSchedulesDelete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCachePatchSchedulesGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCachePatchSchedulesList.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCachePutPrivateEndpointConnection.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheRegenerateKey.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/examples/RedisCacheUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2024-03-01/redis.json
  specification/redis/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, IDCDevDiv, MergeRequested, BreakingChange-Approved-Benign

#28816 First ALI GA version
  specification/azurelargeinstance/AzureLargeInstance.Management/AzureLargeInstance.tsp
  specification/azurelargeinstance/AzureLargeInstance.Management/AzureLargeStorageInstance.tsp
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-04-10/AzureLargeInstanceOperations_List.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-04-10/AzureLargeInstance_Get.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-04-10/AzureLargeInstance_ListByResourceGroup.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-04-10/AzureLargeInstance_ListBySubscription.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-04-10/AzureLargeInstance_PatchTags.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-04-10/AzureLargeInstance_PatchTags_Delete.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-04-10/AzureLargeInstance_Restart.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-04-10/AzureLargeInstance_Shutdown.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-04-10/AzureLargeInstance_Start.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-04-10/AzureLargeStorageInstance_Get.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-04-10/AzureLargeStorageInstance_ListByResourceGroup.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-04-10/AzureLargeStorageInstance_ListBySubscription.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-04-10/AzureLargeStorageInstance_PatchTags.json
  specification/azurelargeinstance/AzureLargeInstance.Management/examples/2024-04-10/AzureLargeStorageInstance_PatchTags_Delete.json
  specification/azurelargeinstance/AzureLargeInstance.Management/main.tsp
  specification/azurelargeinstance/AzureLargeInstance.Management/models.tsp
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/stable/2024-04-10/azurelargeinstance.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/stable/2024-04-10/examples/AzureLargeInstanceOperations_List.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/stable/2024-04-10/examples/AzureLargeInstance_Get.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/stable/2024-04-10/examples/AzureLargeInstance_ListByResourceGroup.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/stable/2024-04-10/examples/AzureLargeInstance_ListBySubscription.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/stable/2024-04-10/examples/AzureLargeInstance_PatchTags.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/stable/2024-04-10/examples/AzureLargeInstance_PatchTags_Delete.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/stable/2024-04-10/examples/AzureLargeInstance_Restart.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/stable/2024-04-10/examples/AzureLargeInstance_Shutdown.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/stable/2024-04-10/examples/AzureLargeInstance_Start.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/stable/2024-04-10/examples/AzureLargeStorageInstance_Get.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/stable/2024-04-10/examples/AzureLargeStorageInstance_ListByResourceGroup.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/stable/2024-04-10/examples/AzureLargeStorageInstance_ListBySubscription.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/stable/2024-04-10/examples/AzureLargeStorageInstance_PatchTags.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/stable/2024-04-10/examples/AzureLargeStorageInstance_PatchTags_Delete.json
  specification/azurelargeinstance/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, TypeSpec, MergeRequested

#29095 Add none to outbound type in aks managedCluster
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-04-02-preview/managedClusters.json
Labels: WaitForARMFeedback, DoNotMerge, ShiftLeftViolation, ARMReview, resource-manager, ReadyForApiTest

#29080 [edgezones] update python config
  specification/edgezones/EdgeZones.Management/client.tsp
  specification/edgezones/EdgeZones.Management/tspconfig.yaml
Labels: TypeSpec, PipelineBotTrigger

#28958 Adding Network security perimeter common types [v5]
  specification/common-types/resource-management/v5/networksecurityperimeter.json
Labels: PipelineBotTrigger

#27738 Liran e alertsmanagement microsoft.alerts management 2024 03 01 preview
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2024-03-01-preview/AlertProcessingRules.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2024-03-01-preview/examples/AlertProcessingRules_Create_or_update_add_action_group_all_alerts_in_subscription.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2024-03-01-preview/examples/AlertProcessingRules_Create_or_update_add_correlation.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2024-03-01-preview/examples/AlertProcessingRules_Create_or_update_add_correlation_with_correlation_updates.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2024-03-01-preview/examples/AlertProcessingRules_Create_or_update_add_two_action_groups_all_Sev0_Sev1_two_resource_groups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2024-03-01-preview/examples/AlertProcessingRules_Create_or_update_remove_all_action_groups_from_specific_alert_rule.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2024-03-01-preview/examples/AlertProcessingRules_Create_or_update_remove_all_action_groups_outside_business_hours.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2024-03-01-preview/examples/AlertProcessingRules_Create_or_update_remove_all_action_groups_recurring_maintenance_window.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2024-03-01-preview/examples/AlertProcessingRules_Create_or_update_remove_all_action_groups_specific_VM_one-off_maintenance_window.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2024-03-01-preview/examples/AlertProcessingRules_Delete.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2024-03-01-preview/examples/AlertProcessingRules_GetById.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2024-03-01-preview/examples/AlertProcessingRules_List_ResourceGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2024-03-01-preview/examples/AlertProcessingRules_List_Subscription.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2024-03-01-preview/examples/AlertProcessingRules_Patch.json
  specification/alertsmanagement/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, Approved-Suppression, SuppressionReviewRequired, new-api-version, MergeRequested, BreakingChange-Approved-Previously

#29114 Update autorest emitter to 0.42.1
  package-lock.json
  package.json
Labels: PipelineBotTrigger

#29116 Marking TranslationStatus and DocumentStatus models as internal
  specification/translation/Azure.AI.DocumentTranslation/client.tsp
  specification/translation/Azure.AI.DocumentTranslation/tspconfig.yaml
Labels: TypeSpec

#28959 Fixing the Network Virtual Appliance Restart Http return code to match the REST API
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/NetworkVirtualApplianceEmptyRestart.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/NetworkVirtualApplianceSpecificRestart.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/networkVirtualAppliance.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-BugFix

#29107 Move face to sdk/vision
  specification/ai/Face/tspconfig.yaml
Labels: TypeSpec

#29121 tsp, pin to stable api-version for .net
  specification/devcenter/DevCenter/tspconfig.yaml
Labels: TypeSpec

#28963 Add 2023-05-01 FailoverGroup & ReplicationLinks API to composite v5 tag
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#28976 Downgraded the version of ManagedInstances and DistributedAvailabilit…
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#28920 [Text Translation] Model property names changes
  specification/translation/Azure.AI.TextTranslation/client.tsp
  specification/translation/Azure.AI.TextTranslation/examples/3.0/FindSentenceBoundaries_MaximumSet_Gen.json
  specification/translation/Azure.AI.TextTranslation/examples/3.0/FindSentenceBoundaries_MinimumSet_Gen.json
  specification/translation/Azure.AI.TextTranslation/examples/3.0/GetSupportedLanguages_MaximumSet_Gen.json
  specification/translation/Azure.AI.TextTranslation/examples/3.0/GetSupportedLanguages_MinimumSet_Gen.json
  specification/translation/Azure.AI.TextTranslation/examples/3.0/LookupDictionaryEntries_MaximumSet_Gen.json
  specification/translation/Azure.AI.TextTranslation/examples/3.0/LookupDictionaryEntries_MinimumSet_Gen.json
  specification/translation/Azure.AI.TextTranslation/examples/3.0/LookupDictionaryExamples_MaximumSet_Gen.json
  specification/translation/Azure.AI.TextTranslation/examples/3.0/LookupDictionaryExamples_MinimumSet_Gen.json
  specification/translation/Azure.AI.TextTranslation/examples/3.0/Translate_MaximumSet_Gen.json
  specification/translation/Azure.AI.TextTranslation/examples/3.0/Translate_MinimumSet_Gen.json
  specification/translation/Azure.AI.TextTranslation/examples/3.0/Transliterate_MaximumSet_Gen.json
  specification/translation/Azure.AI.TextTranslation/examples/3.0/Transliterate_MinimumSet_Gen.json
  specification/translation/Azure.AI.TextTranslation/main.tsp
  specification/translation/Azure.AI.TextTranslation/models-dictionary.tsp
  specification/translation/Azure.AI.TextTranslation/models-languages.tsp
  specification/translation/Azure.AI.TextTranslation/models-translate.tsp
  specification/translation/Azure.AI.TextTranslation/routes.tsp
  specification/translation/data-plane/Azure.AI.TextTranslation/stable/v3.0/examples/FindSentenceBoundaries_MaximumSet_Gen.json
  specification/translation/data-plane/Azure.AI.TextTranslation/stable/v3.0/examples/FindSentenceBoundaries_MinimumSet_Gen.json
  specification/translation/data-plane/Azure.AI.TextTranslation/stable/v3.0/examples/GetSupportedLanguages_MaximumSet_Gen.json
  specification/translation/data-plane/Azure.AI.TextTranslation/stable/v3.0/examples/GetSupportedLanguages_MinimumSet_Gen.json
  specification/translation/data-plane/Azure.AI.TextTranslation/stable/v3.0/examples/LookupDictionaryEntries_MaximumSet_Gen.json
  specification/translation/data-plane/Azure.AI.TextTranslation/stable/v3.0/examples/LookupDictionaryEntries_MinimumSet_Gen.json
  specification/translation/data-plane/Azure.AI.TextTranslation/stable/v3.0/examples/LookupDictionaryExamples_MaximumSet_Gen.json
  specification/translation/data-plane/Azure.AI.TextTranslation/stable/v3.0/examples/LookupDictionaryExamples_MinimumSet_Gen.json
  specification/translation/data-plane/Azure.AI.TextTranslation/stable/v3.0/examples/Translate_MaximumSet_Gen.json
  specification/translation/data-plane/Azure.AI.TextTranslation/stable/v3.0/examples/Translate_MinimumSet_Gen.json
  specification/translation/data-plane/Azure.AI.TextTranslation/stable/v3.0/examples/Transliterate_MaximumSet_Gen.json
  specification/translation/data-plane/Azure.AI.TextTranslation/stable/v3.0/examples/Transliterate_MinimumSet_Gen.json
  specification/translation/data-plane/Azure.AI.TextTranslation/stable/v3.0/openapi.json
Labels: data-plane, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-Benign

#29075 [Call Automation] Create Connect interface
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/communicationservicescallautomation.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/Connect.json
Labels: data-plane

#29126 Fix value deprecation
  specification/ai/OpenAI.Assistants/assistants/models.tsp
  specification/ai/OpenAI.Assistants/messages/models.tsp
  specification/ai/OpenAI.Assistants/runs/models.tsp
  specification/communication/Communication.JobRouter/models.tsp
  specification/iotoperationsmq/IoTOperationsMQ.Management/models/base.tsp
  specification/iotoperationsmq/IoTOperationsMQ.Management/models/mqttbroker.tsp
Labels: TypeSpec

#28980 [devopsinfrastructure&oracle database] disable flatten
  specification/devopsinfrastructure/resource-manager/readme.md
  specification/devopsinfrastructure/resource-manager/readme.python.md
  specification/oracle/resource-manager/readme.java.md
  specification/oracle/resource-manager/readme.md
  specification/oracle/resource-manager/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS

#29120 Update Face spec
  specification/ai/Face/models.session.tsp
  specification/ai/Face/routes.common.tsp
  specification/ai/Face/routes.detection.tsp
  specification/ai/Face/routes.persondirectory.tsp
  specification/ai/data-plane/Face/preview/v1.1-preview.1/Face.json
Labels: data-plane, TypeSpec

#29002 add componentsByReleases in UpgradeProfile
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-04-02-preview/managedClusters.json
Labels: resource-manager

#29136 tsp, face, add usage to java SDK
  specification/ai/Face/client.tsp
Labels: TypeSpec

#28940 SnapToRoads and RouteRange 2024-05-01-preview
  specification/maps/data-plane/Route/preview/2024-05-01-preview/examples/DirectionsAsyncBatch.json
  specification/maps/data-plane/Route/preview/2024-05-01-preview/examples/PostRouteDirections.json
  specification/maps/data-plane/Route/preview/2024-05-01-preview/examples/PostRouteDirectionsBatch.json
  specification/maps/data-plane/Route/preview/2024-05-01-preview/examples/PostRouteRange.json
  specification/maps/data-plane/Route/preview/2024-05-01-preview/examples/PostRouteRangeBatch.json
  specification/maps/data-plane/Route/preview/2024-05-01-preview/examples/PostSnapToRoads.json
  specification/maps/data-plane/Route/preview/2024-05-01-preview/examples/PostSnapToRoadsBatch.json
  specification/maps/data-plane/Route/preview/2024-05-01-preview/route.json
  specification/maps/data-plane/Route/readme.md
Labels: Approved-LintDiff, APIStewardshipBoard-SignedOff, data-plane, new-api-version

#29143 [Text Translation] Adding name overrides
  specification/translation/Azure.AI.TextTranslation/client.tsp
Labels: TypeSpec

#29117 Add some missing properties identified in NSP common-types
  custom-words.txt
  specification/common-types/resource-management/v5/networksecurityperimeter.json
Labels: PipelineBotTrigger

#28947 [EG] Update docs
  cSpell.json
  specification/eventgrid/Azure.Messaging.EventGrid/main.tsp
  specification/eventgrid/data-plane/Microsoft.EventGrid/preview/2023-06-01-preview/EventGrid.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/preview/2023-10-01-preview/EventGrid.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2023-11-01/EventGrid.json
Labels: data-plane, TypeSpec

#28903 feat(Workspace): Add new SkuType for Workspace
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-09-01-preview/apigateway.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-09-01-preview/examples/ApiManagementCreateWorkspacePremiumGateway.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-09-01-preview/examples/ApiManagementListGatewaysBySubscription.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-09-01-preview/examples/ApiManagementListSKUs-Gateways.json
Labels: API Management, ARMSignedOff, ARMReview, resource-manager, 2023-09-01-apim

#29079 [devopsinfrastructure] Update tspconfig.yaml
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure/client.tsp
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure/tspconfig.yaml
  specification/devopsinfrastructure/resource-manager/readme.java.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, TypeSpec

#28884 Add lakehouse table dataset schema property
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Dataset.json
Labels: ARMSignedOff, ShiftLeftViolation, ARMReview, resource-manager, data-plane, ReadyForApiTest, MergeRequested, Versioning-Approved-BugFix, VersioningReviewRequired

#29124 Document more NSP provisioning issue types.
  specification/common-types/resource-management/v5/networksecurityperimeter.json
Labels: PipelineBotTrigger

#28898 [Storage] [ADLS Docs] List Paths Continuation Token URL Encoding Docstring
  specification/storage/data-plane/Microsoft.StorageDataLake/stable/2019-12-12/DataLakeStorage.json
Labels: data-plane

#29171 [Text Translation] Override names only in specified languages
  specification/translation/Azure.AI.TextTranslation/client.tsp
Labels: TypeSpec

#29127 [BastionHost] Add 'Premium' SKU and 'enableSessionRecording' feature
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/bastionHost.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/BastionHostGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/BastionHostGetWithZones.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/BastionHostListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/BastionHostListBySubscription.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/BastionHostPatch.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/BastionHostPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/BastionHostPutWithZones.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#29081 [HDInsight on AKS] Az support on Cluster and ClusterPool
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/stable/2024-05-01/examples/ClusterUpgradeRollback.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/stable/2024-05-01/examples/CreateAutoscaleCluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/stable/2024-05-01/examples/CreateClusterPool.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/stable/2024-05-01/examples/CreateClusterPoolWithPrivateAks.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/stable/2024-05-01/examples/CreateClusterPoolWithUDRAks.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/stable/2024-05-01/examples/CreateRangerCluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/stable/2024-05-01/examples/CreateSparkCluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/stable/2024-05-01/examples/CreateSparkClusterWithInternalIngress.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/stable/2024-05-01/examples/GetCluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/stable/2024-05-01/examples/GetClusterPool.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/stable/2024-05-01/examples/ListClusterPoolsSubscription.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/stable/2024-05-01/examples/ListClustersByClusterPoolName.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/stable/2024-05-01/examples/PatchCluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/stable/2024-05-01/examples/PatchClusterPool.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/stable/2024-05-01/examples/PatchRangerCluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/stable/2024-05-01/examples/ResizeCluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/stable/2024-05-01/examples/UpgradeAKSPatchVersionForCluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/stable/2024-05-01/examples/UpgradeAKSPatchVersionForClusterPool.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/stable/2024-05-01/examples/UpgradeHotfixForCluster.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/stable/2024-05-01/examples/UpgradeNodeOsForClusterPool.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/stable/2024-05-01/hdinsight.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, MergeRequested, VersioningReviewRequired, BreakingChange-Go-Sdk-Approved, BreakingChange-Go-Sdk, Versioning-Approved-BranchPolicyException

#28478 feat)Gateway): Adding gateway config resource
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-09-01-preview/apimanagement.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-09-01-preview/apimgatewayConfigConnections.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-09-01-preview/apimworkspacelinks.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-09-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-09-01-preview/examples/ApiManagementCreateGatewayConfigConnection.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-09-01-preview/examples/ApiManagementDeleteGatewayConfigConnection.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-09-01-preview/examples/ApiManagementGetGatewayConfigConnection.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-09-01-preview/examples/ApiManagementGetWorkspaceLink.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-09-01-preview/examples/ApiManagementListGatewayConfigConnection.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-09-01-preview/examples/ApiManagementListWorkspaceLinks.json
  specification/apimanagement/resource-manager/readme.md
Labels: API Management, ARMSignedOff, ARMReview, resource-manager, 2023-09-01-apim

#29048 Adding the new response code to the 2024-01-01 version release of swagger to match the bugfix in 2023-11-01
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/NetworkVirtualApplianceEmptyRestart.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/NetworkVirtualApplianceSpecificRestart.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/networkVirtualAppliance.json
Labels: ARMSignedOff, ARMReview, resource-manager

#29189 [Text Translation] Override the from parameter in Python
  specification/translation/Azure.AI.TextTranslation/client.tsp
Labels: TypeSpec

#29194 [Text Translation] Rename to query parameter in Python
  specification/translation/Azure.AI.TextTranslation/client.tsp
Labels: TypeSpec

#29190 Release TypeSpec ARM library hotfix 0.42.1 and spec fix for UserAssignedIdentities
  package-lock.json
  package.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2023-11-01-preview/azurefleet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2024-05-01-preview/azurefleet.json
Labels: WaitForARMFeedback, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-Benign

#29161 Update Face spec for initial release
  specification/ai/Face/client.tsp
  specification/ai/Face/models.detect.tsp
  specification/ai/Face/routes.detection.tsp
  specification/ai/data-plane/Face/preview/v1.1-preview.1/Face.json
Labels: data-plane, TypeSpec

#29164 Add ZonalAllocationPolicy property to the Redis Cache request,response - new preview API version: 2024-04-01-preview
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheAccessPolicyAssignmentCreateUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheAccessPolicyAssignmentDelete.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheAccessPolicyAssignmentGet.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheAccessPolicyAssignmentList.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheAccessPolicyCreateUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheAccessPolicyDelete.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheAccessPolicyGet.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheAccessPolicyList.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheAsyncOperationStatus.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheCheckNameAvailability.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheCreate.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheCreateAutomaticZonalAllocationPolicy.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheCreateDefaultVersion.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheCreateLatestVersion.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheDelete.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheDeletePrivateEndpointConnection.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheExport.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheFirewallRuleCreate.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheFirewallRuleDelete.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheFirewallRuleGet.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheFirewallRulesList.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheFlush.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheForceReboot.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheGet.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheGetPrivateEndpointConnection.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheImport.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheLinkedServer_Create.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheLinkedServer_Delete.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheLinkedServer_Get.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheLinkedServer_List.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheList.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheListByResourceGroup.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheListKeys.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheListPrivateEndpointConnections.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheListPrivateLinkResources.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheListUpgradeNotifications.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheOperations.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCachePatchSchedulesCreateOrUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCachePatchSchedulesDelete.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCachePatchSchedulesGet.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCachePatchSchedulesList.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCachePutPrivateEndpointConnection.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheRegenerateKey.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/examples/RedisCacheUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/preview/2024-04-01-preview/redis.json
  specification/redis/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, new-api-version, IDCDevDiv, MergeRequested

#29141 Add new API version 2024-06-01-preview
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/examples/OperationsList.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/examples/OperationsStatusGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/examples/RedisEnterpriseCreate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/examples/RedisEnterpriseDatabasesCreate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/examples/RedisEnterpriseDatabasesCreateWithGeoReplication.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/examples/RedisEnterpriseDatabasesDelete.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/examples/RedisEnterpriseDatabasesExport.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/examples/RedisEnterpriseDatabasesFlush.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/examples/RedisEnterpriseDatabasesForceLink.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/examples/RedisEnterpriseDatabasesForceUnlink.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/examples/RedisEnterpriseDatabasesGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/examples/RedisEnterpriseDatabasesImport.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/examples/RedisEnterpriseDatabasesListByCluster.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/examples/RedisEnterpriseDatabasesListKeys.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/examples/RedisEnterpriseDatabasesRegenerateKey.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/examples/RedisEnterpriseDatabasesUpdate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/examples/RedisEnterpriseDatabasesUpgradeDBRedisVersion.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/examples/RedisEnterpriseDelete.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/examples/RedisEnterpriseDeletePrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/examples/RedisEnterpriseGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/examples/RedisEnterpriseGetPrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/examples/RedisEnterpriseList.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/examples/RedisEnterpriseListByResourceGroup.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/examples/RedisEnterpriseListPrivateEndpointConnections.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/examples/RedisEnterpriseListPrivateLinkResources.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/examples/RedisEnterprisePutPrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/examples/RedisEnterpriseUpdate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/redisenterprise.json
  specification/redisenterprise/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, IDCDevDiv, MergeRequested, BreakingChange-Approved-Previously

#29186 [ConfidentialLedger] Fix SDK build break for 2024-01-26-preview
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-01-26-preview/confidentialledger.json
Labels: data-plane, MergeRequested

#29213 [cognitiveservices] Use TypeSpec array (#[]) instead of tuple ([])
  specification/cognitiveservices/OpenAI.Inference/models/audio/audio_transcription.tsp
Labels: TypeSpec

#29217 update informatica readme.go.md
  specification/informatica/resource-manager/readme.go.md
Labels: resource-manager, ReadyForApiTest, RPaaS

#28863 Release new version 2024-02-01-preview for dbformysql
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/AdvancedThreatProtectionSettings.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/FlexibleServers.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/examples/AdvancedThreatProtectionSettingsGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/examples/AdvancedThreatProtectionSettingsList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/examples/AdvancedThreatProtectionSettingsPatchDisabled.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/examples/AdvancedThreatProtectionSettingsPatchEnabled.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/examples/AdvancedThreatProtectionSettingsPutDisabled.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/examples/AdvancedThreatProtectionSettingsPutEnabled.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/examples/CutoverMigration.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/examples/ReplicasListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/examples/ServerCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/examples/ServerCreateReplica.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/examples/ServerCreateWithBYOK.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/examples/ServerCreateWithPointInTimeRestore.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/examples/ServerDelete.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/examples/ServerDetachVNet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/examples/ServerFailover.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/examples/ServerGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/examples/ServerGetWithVnet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/examples/ServerResetGtid.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/examples/ServerRestart.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/examples/ServerStart.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/examples/ServerStop.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/examples/ServerUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/examples/ServerUpdateWithBYOK.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/examples/ServerUpdateWithCustomerMaintenanceWindow.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/examples/ServerValidateEstimateHighAvailability.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/examples/ServersList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-02-01-preview/examples/ServersListByResourceGroup.json
  specification/mysql/resource-manager/readme.md
  specification/mysql/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, new-api-version, MergeRequested

#29221 Update main.tsp to remove unused import
  specification/informatica/Informatica.DataManagement/main.tsp
Labels: TypeSpec

#29216 [informaticadatamanagement] Update tspconfig.yaml
  specification/informatica/Informatica.DataManagement/client.tsp
  specification/informatica/Informatica.DataManagement/tspconfig.yaml
  specification/informatica/resource-manager/readme.java.md
  specification/informatica/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, TypeSpec

#29218 java mgmt, recoveryservicesbackup, hide auth headers
  specification/recoveryservicesbackup/resource-manager/readme.java.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#29183 Updated Post APIs OperationId
  specification/help/resource-manager/Microsoft.Help/preview/2024-03-01-preview/help.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-Benign, NotReadyForARMReview

#29100 update the pattern for bookmark to fix the lintError
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/common/RelationTypes.json
Labels: resource-manager

#29196 Spot PlacementScores API Swagger update
  specification/compute/resource-manager/Microsoft.Compute/DiagnosticRP/preview/2024-06-01-preview/diagnostic.json
  specification/compute/resource-manager/Microsoft.Compute/DiagnosticRP/preview/2024-06-01-preview/examples/GenerateSpotPlacementScores.json
  specification/compute/resource-manager/Microsoft.Compute/DiagnosticRP/preview/2024-06-01-preview/examples/GetDiagnosticOperation.json
  specification/compute/resource-manager/Microsoft.Compute/DiagnosticRP/preview/2024-06-01-preview/examples/GetDiskInspection.json
  specification/compute/resource-manager/Microsoft.Compute/DiagnosticRP/preview/2024-06-01-preview/examples/GetSpotPlacementRecommender.json
  specification/compute/resource-manager/Microsoft.Compute/DiagnosticRP/preview/2024-06-01-preview/examples/GetSpotPlacementScores.json
  specification/compute/resource-manager/Microsoft.Compute/DiagnosticRP/preview/2024-06-01-preview/examples/ListDiagnostics.json
  specification/compute/resource-manager/Microsoft.Compute/DiagnosticRP/preview/2024-06-01-preview/examples/RegisterStorageConfiguration.json
  specification/compute/resource-manager/Microsoft.Compute/DiagnosticRP/preview/2024-06-01-preview/examples/RunDiskInspection.json
  specification/compute/resource-manager/Microsoft.Compute/DiagnosticRP/preview/2024-06-01-preview/examples/SpotPlacementRecommender.json
  specification/compute/resource-manager/Microsoft.Compute/DiagnosticRP/preview/2024-06-01-preview/examples/ValidateStorageConfiguration.json
  specification/compute/resource-manager/Microsoft.Compute/suppressions.yaml
  specification/compute/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, MergeRequested

#29104 Microsoft.Search RP Supports New 2024-06-01-Preview API
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/CreateOrUpdateSharedPrivateLinkResource.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/DeletePrivateEndpointConnection.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/DeleteSharedPrivateLinkResource.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/GetPrivateEndpointConnection.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/GetQuotaUsage.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/GetQuotaUsagesList.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/GetSharedPrivateLinkResource.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/ListPrivateEndpointConnectionsByService.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/ListSharedPrivateLinkResourcesByService.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/ListSupportedPrivateLinkResources.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/NetworkSecurityPerimeterConfigurationsGet.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/NetworkSecurityPerimeterConfigurationsListByService.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/NetworkSecurityPerimeterConfigurationsReconcile.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchCheckNameAvailability.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchCreateOrUpdateService.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchCreateOrUpdateServiceAuthOptions.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchCreateOrUpdateServiceDisableLocalAuth.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchCreateOrUpdateServiceToAllowAccessFromPrivateEndpoints.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchCreateOrUpdateServiceToAllowAccessFromPublicCustomIPs.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchCreateOrUpdateServiceToAllowAccessFromPublicCustomIPsAndBypass.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchCreateOrUpdateServiceWithCmkEnforcement.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchCreateOrUpdateServiceWithDataExfiltration.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchCreateOrUpdateServiceWithIdentity.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchCreateOrUpdateWithSemanticSearch.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchCreateQueryKey.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchDeleteQueryKey.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchDeleteService.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchGetAdminKeys.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchGetService.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchListOperations.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchListQueryKeysBySearchService.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchListServicesByResourceGroup.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchListServicesBySubscription.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchRegenerateAdminKey.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchUpdateService.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchUpdateServiceAuthOptions.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchUpdateServiceDisableLocalAuth.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchUpdateServiceToAllowAccessFromPrivateEndpoints.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchUpdateServiceToAllowAccessFromPublicCustomIPs.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchUpdateServiceToAllowAccessFromPublicCustomIPsAndBypass.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchUpdateServiceToRemoveIdentity.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchUpdateServiceWithCmkEnforcement.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchUpdateServiceWithDataExfiltration.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/SearchUpdateServiceWithSemanticSearch.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/examples/UpdatePrivateEndpointConnection.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-06-01-preview/search.json
  specification/search/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, MergeRequested, BreakingChange-Approved-UserImpact

#29158 Add support for SMB storage in connectedEnvironment
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/ConnectedEnvironmentsStorages.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#29083 API spec for LogicApps extension on Microsoft.App
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/LogicAppsExtension.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/LogicApps_Create.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/LogicApps_Delete.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/LogicApps_DeleteDeployWorkflowArtifacts.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/LogicApps_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/LogicApps_GetWorkflow.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/LogicApps_ListCallbackURL.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/LogicApps_ListConnections.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/LogicApps_ListWorkflows.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/LogicApps_PostDeployWorkflowArtifacts.json
  specification/app/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#29176 Adding new version "2024-05-01-preview" in Microsoft.Elastic
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/elastic.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/AllTrafficFilters_list.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/AssociateTrafficFilter_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/AssociatedFiltersForDeployment_list.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/BillingInfo_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/ConnectedPartnerResources_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/DeploymentInfo_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/DetachAndDeleteTrafficFilter_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/DetachTrafficFilters_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/ElasticVersions_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/ExternalUserInfo.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/IPTrafficFilter_Create.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/Monitor_Upgrade.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/MonitoredResources_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/MonitoredSubscriptions_CreateorUpdate.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/MonitoredSubscriptions_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/MonitoredSubscriptions_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/MonitoredSubscriptions_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/MonitoredSubscriptions_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/Monitors_Create.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/Monitors_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/Monitors_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/Monitors_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/Monitors_ListByResourceGroup.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/Monitors_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/OpenAI_CreateOrUpdate.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/OpenAI_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/OpenAI_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/OpenAI_GetStatus.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/OpenAI_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/Operations_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/Organizations_GetApiKey.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/Organizations_GetElasticToAzureSubscriptionMapping.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/PrivateLinkTrafficFilters_Create.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/TagRules_CreateOrUpdate.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/TagRules_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/TagRules_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/TagRules_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/TrafficFilters_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/UpgradableVersions_Details.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/VMCollection_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/VMHost_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-05-01-preview/examples/VMIngestion_Details.json
  specification/elastic/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, new-api-version, IDCDevDiv, MergeRequested, BreakingChange-Approved-Benign

#28723 [Call Automation] 2024-06-15 BETA4
  cSpell.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/communicationservicescallautomation.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/AnswerCall.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallConnection_AddParticipant.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallConnection_CancelAddParticipant.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallConnection_GetCall.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallConnection_GetParticipant.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallConnection_GetParticipants.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallConnection_HangupCall.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallConnection_Mute.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallConnection_RemoveParticipant.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallConnection_TerminateCall.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallConnection_TransferToParticipant.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallMedia_CancelAllMediaOperations.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallMedia_Hold.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallMedia_Play.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallMedia_Recognize.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallMedia_SendDtmfTones.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallMedia_StartContinuousDtmfRecognition.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallMedia_StartMediaStreaming.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallMedia_StartTranscription.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallMedia_StopContinuousDtmfRecognition.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallMedia_StopMediaStreaming.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallMedia_StopTranscription.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallMedia_Unhold.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallMedia_UpdateTranscription.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallRecording_GetRecordingProperties.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallRecording_PauseRecording.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallRecording_ResumeRecording.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallRecording_StartRecording.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CallRecording_StopRecording.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/Connect.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/CreateCall.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/RedirectCall.json
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/examples/RejectCall.json
  specification/communication/data-plane/CallAutomation/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, Approved-Suppression, SuppressionReviewRequired, new-api-version

#28765 Microsoft.Security 2024-05-15-preview DevOps Policy
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/CreateOrUpdateAzureDevOpsOrgs_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/CreateOrUpdateAzureDevOpsProjects_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/CreateOrUpdateAzureDevOpsRepos_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/CreateOrUpdateDevOpsConfigurationsOnboardCurrentAndFuture_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/CreateOrUpdateDevOpsConfigurationsOnboardCurrentOnly_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/CreateOrUpdateDevOpsConfigurationsOnboardSelected_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/CreateOrUpdateDevOpsPolicyAssignments_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/DeleteDevOpsConfigurations_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/DeleteDevOpsPolicyAssignments_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/GetAzureDevOpsOrgs_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/GetAzureDevOpsProjects_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/GetAzureDevOpsRepos_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/GetDevOpsConfigurationsWithCapabilities_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/GetDevOpsConfigurations_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/GetDevOpsOperationResultsFailed_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/GetDevOpsOperationResultsSucceeded_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/GetDevOpsPolicies_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/GetDevOpsPolicyAssignments_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/GetGitHubOwners_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/GetGitHubRepos_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/GetGitLabGroups_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/GetGitLabProjects_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/ListAvailableAzureDevOpsOrgs_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/ListAvailableGitHubOwners_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/ListAvailableGitLabGroups_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/ListAzureDevOpsOrgs_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/ListAzureDevOpsProjects_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/ListAzureDevOpsRepos_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/ListDevOpsConfigurations_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/ListDevOpsPolicies_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/ListDevOpsPolicyAssignments_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/ListGitHubOwners_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/ListGitHubRepos_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/ListGitLabGroups_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/ListGitLabProjects_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/ListGitLabSubgroups_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/UpdateAzureDevOpsOrgs_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/UpdateAzureDevOpsProjects_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/UpdateAzureDevOpsRepos_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/UpdateDevOpsConfigurations_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/UpdateDevOpsPolicyAssignments_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/securityConnectorsDevOps.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, BreakingChangeReviewRequired, Approved-Suppression, SuppressionReviewRequired, new-api-version, MergeRequested, BreakingChange-Approved-Benign, BreakingChange-Go-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-Python-Sdk

#29041 GA for serverlessendpoints and marketplacesubscription api
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/Workspace/MarketplaceSubscription/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/Workspace/MarketplaceSubscription/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/Workspace/MarketplaceSubscription/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/Workspace/MarketplaceSubscription/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/Workspace/ServerlessEndpoint/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/Workspace/ServerlessEndpoint/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/Workspace/ServerlessEndpoint/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/Workspace/ServerlessEndpoint/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/Workspace/ServerlessEndpoint/listKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/Workspace/ServerlessEndpoint/regenerateKeys.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/Workspace/ServerlessEndpoint/update.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/mfe.json
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired, MergeRequested, Versioning-Approved-Benign, VersioningReviewRequired

#29195 [web] Update readme.python.md
  specification/web/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#29215 hybridcompute - update readme.md for SDK commands generationadd back commands
  specification/hybridcompute/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#29253 [Microsoft.IntegrationSpaces] Making TrackingDataStores and its properties in Integration Application optional.
  specification/azureintegrationspaces/resource-manager/Microsoft.IntegrationSpaces/preview/2023-11-14-preview/openapi.json
  specification/azureintegrationspaces/suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, TypeSpec, MergeRequested

#29142 Swagger Update for API version May23
  specification/storage/resource-manager/Microsoft.Storage/stable/2023-05-01/examples/NfsV3AccountCreate.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2023-05-01/examples/StorageAccountUpdate.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2023-05-01/storage.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested, Versioning-Approved-BugFix, VersioningReviewRequired

#29122 update bizapps
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/BusinessApplicationAgents.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/examples/businessApplicationAgents/BusinessApplicationAgent_Get.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/examples/businessApplicationAgents/BusinessApplicationAgents_CreateOrUpdate.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/examples/businessApplicationAgents/BusinessApplicationAgents_List.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/examples/businessApplicationAgents/actions/ListActions.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/examples/businessApplicationAgents/actions/ReportActionStatus.json
Labels: ARMSignedOff, resource-manager

#29245 update(acns): advanced networking profile to note addition costs - 2024-04 preview
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-04-02-preview/managedClusters.json
Labels: WaitForARMFeedback, resource-manager

#29238 Add Credential Property In DynamicsCrm For New Feature
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
Labels: ARMSignedOff, ARMReview, resource-manager, data-plane, ReadyForApiTest, BreakingChangeReviewRequired, BreakingChange-Approved-BugFix, Versioning-Approved-Benign, VersioningReviewRequired

#28868 Microsoft.Network: Added NoHealthyBackendsBehavior
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/loadBalancer.json
Labels: ARMSignedOff, ARMReview, resource-manager

#29092 Add publicNetworkAccess in managed environment
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/ManagedEnvironments.json
Labels: ARMSignedOff, ARMReview, resource-manager

#29272 apply code review
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-04-02-preview/managedClusters.json
Labels: resource-manager

#29259 [mongocluster] update python config
  specification/mongocluster/DocumentDB.MongoCluster.Management/client.tsp
  specification/mongocluster/DocumentDB.MongoCluster.Management/tspconfig.yaml
  specification/mongocluster/resource-manager/readme.java.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, TypeSpec

#29229 Qfai developerhub microsoft.dev hub 2024 05 01 preview
  cSpell.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-05-01-preview/examples/GeneratePreviewArtifacts.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-05-01-preview/examples/GitHubOAuth.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-05-01-preview/examples/GitHubOAuthCallback.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-05-01-preview/examples/GitHubOAuth_List.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-05-01-preview/examples/IacProfile_CreateOrUpdate.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-05-01-preview/examples/IacProfile_Delete.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-05-01-preview/examples/IacProfile_ExportTemplate.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-05-01-preview/examples/IacProfile_Get.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-05-01-preview/examples/IacProfile_List.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-05-01-preview/examples/IacProfile_ListByResourceGroup.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-05-01-preview/examples/IacProfile_ScaleTemplate.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-05-01-preview/examples/IacProfile_SyncTemplate.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-05-01-preview/examples/IacProfile_UpdateTags.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-05-01-preview/examples/Operation_List.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-05-01-preview/examples/Workflow_CreateOrUpdate.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-05-01-preview/examples/Workflow_CreateOrUpdate_WithArtifactGen.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-05-01-preview/examples/Workflow_Delete.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-05-01-preview/examples/Workflow_Get.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-05-01-preview/examples/Workflow_List.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-05-01-preview/examples/Workflow_ListByResourceGroup.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-05-01-preview/examples/Workflow_UpdateTags.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-05-01-preview/iac.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-05-01-preview/workflow.json
  specification/developerhub/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, MergeRequested, BreakingChange-Approved-Benign

#29058 Azure Search DataPlane 2024-07-01
  specification/search/data-plane/Azure.Search/readme.md
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchIndexAutocompleteDocumentsGet.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchIndexAutocompleteDocumentsPost.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchIndexCountDocuments.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchIndexGetDocument.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchIndexIndexDocuments.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchIndexSearchDocumentsGet.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchIndexSearchDocumentsPost.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchIndexSearchDocumentsSemanticGet.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchIndexSearchDocumentsSemanticPost.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchIndexSuggestDocumentsGet.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchIndexSuggestDocumentsPost.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceCreateDataSource.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceCreateIndex.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceCreateIndexer.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceCreateOrUpdateDataSource.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceCreateOrUpdateIndex.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceCreateOrUpdateIndexer.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceCreateOrUpdateSkillset.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceCreateOrUpdateSynonymMap.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceCreateSkillset.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceCreateSynonymMap.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceDeleteDataSource.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceDeleteIndex.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceDeleteIndexer.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceDeleteSkillset.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceDeleteSynonymMap.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceGetDataSource.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceGetIndex.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceGetIndexStatistics.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceGetIndexer.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceGetIndexerStatus.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceGetServiceStatistics.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceGetSkillset.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceGetSynonymMap.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceIndexAnalyze.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceListDataSources.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceListIndexers.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceListIndexes.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceListSkillsets.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceListSynonymMaps.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceResetIndexer.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/examples/SearchServiceRunIndexer.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/searchindex.json
  specification/search/data-plane/Azure.Search/stable/2024-07-01/searchservice.json
Labels: APIStewardshipBoard-SignedOff, data-plane, BreakingChangeReviewRequired, new-api-version, BreakingChange-Approved-Benign

#29273 radiologyinsights, tspconfig, java on final-type of LRO
  specification/ai/HealthInsights/HealthInsights.RadiologyInsights/tspconfig.yaml
Labels: TypeSpec

#29093 Getting rid of redundant credential resources in dotnet sdk
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json
Labels: ARMSignedOff, Approved-ModelValidation, ShiftLeftViolation, ARMReview, resource-manager, BreakingChange-Approved-Benign, Versioning-Approved-Benign

#29279 Remove network monitoring from containerservice 2024 04 02 preview
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-04-02-preview/managedClusters.json
Labels: resource-manager

#28680 Add NSP API to multiple services under Microsoft.Insights RP
  specification/monitor/resource-manager/Microsoft.Insights/stable/2021-10-01/actionGroups_NetworkSecurityPerimeter_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2021-10-01/dataCollectionEndpoints_NetworkSecurityPerimeter_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2021-10-01/examples/NSPForActionGroups_Get.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2021-10-01/examples/NSPForActionGroups_List.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2021-10-01/examples/NSPForActionGroups_Reconcile.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2021-10-01/examples/NSPForDataCollectionEndpoints_Get.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2021-10-01/examples/NSPForDataCollectionEndpoints_List.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2021-10-01/examples/NSPForDataCollectionEndpoints_Reconcile.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2021-10-01/examples/NSPForScheduledQueryRule_Get.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2021-10-01/examples/NSPForScheduledQueryRule_List.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2021-10-01/examples/NSPForScheduledQueryRule_Reconcile.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2021-10-01/scheduledQueryRule_NetworkSecurityPerimeter_API.json
  specification/monitor/resource-manager/readme.md
  specification/monitor/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, MergeRequested, BreakingChange-Go-Sdk-Approved, BreakingChange-JavaScript-Sdk-Suppression-Approved, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk-Suppression

#28760 VirtualNetworkGatewayConnection using key vault for authentication.
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/VirtualNetworkGatewayConnectionCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/VirtualNetworkGatewayConnectionGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/VirtualNetworkGatewayGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/VirtualNetworkGatewayUpdate.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/virtualNetworkGateway.json
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, MergeRequested

#29293 Fix spec error for AOAI api ver 2024-05-01-preview
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2024-05-01-preview/azureopenai.yaml
Labels: WaitForARMFeedback, ARMReview, resource-manager, data-plane, ReadyForApiTest

#29170 Fix WorkspaceRP formatting errors
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/examples/Workspace/ComponentVersion/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/examples/Workspace/ComponentVersion/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/examples/Workspace/ComponentVersion/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/examples/Workspace/ComponentVersion/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/examples/WorkspaceConnection/listSecrets.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/examples/WorkspaceFeature/list.json
Labels: ARMSignedOff, ARMReview, resource-manager

#29294 Fix deprecated linter reference in verifiedid
  specification/verifiedid/Microsoft.VerifiedId/tspconfig.yaml
Labels: TypeSpec
