Repository Azure/azure-rest-api-specs, pull requests merged in 2024-04, with the labels that each got.

#28463 Update Tables.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-10-01/Tables.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested, BreakingChange-Go-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-Python-Sdk

#28480 [Hub Generated] Publish private branch 'main'
  specification/security/resource-manager/Microsoft.Security/preview/2020-01-01-preview/examples/Connectors/CreateUpdateAwsCredConnectorSubscription_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-03-01-preview/examples/SecurityConnectors/DeleteSecurityConnector_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-03-01-preview/examples/SecurityConnectors/GetSecurityConnectorSingleResource_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-03-01-preview/examples/SecurityConnectors/GetSecurityConnectorsResourceGroup_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-03-01-preview/examples/SecurityConnectors/GetSecurityConnectorsSubscription_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-03-01-preview/examples/SecurityConnectors/PatchSecurityConnector_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-03-01-preview/examples/SecurityConnectors/PutSecurityConnector_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-03-01-preview/securityConnectors.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired, new-api-version, MergeRequested, BreakingChange-Go-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-Python-Sdk

#28516 Fix typo in Custom Voice Swagger. InstanceVoice => PersonalVoice
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2023-12-01-preview/texttospeech.json
  specification/cognitiveservices/data-plane/Speech/TextToSpeech/preview/2024-02-01-preview/texttospeech.json
Labels: Approved-LintDiff, data-plane, BreakingChangeReviewRequired, BreakingChange-Approved-BugFix

#28345 Support for Permanent rule type to Inbound Security Rule API for Managed NVA
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/InboundSecurityRulePut.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/networkVirtualAppliance.json
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, MergeRequested

#28415 Add None Retention Policy Type
  specification/communication/data-plane/Chat/preview/2024-03-15-preview/communicationserviceschat.json
Labels: data-plane

#28494 Microsoft.StandbyPool add readme.go.md
  specification/standbypool/resource-manager/readme.go.md
  specification/standbypool/resource-manager/readme.md
Labels: ARMSignedOff, ShiftLeftViolation, ARMReview, resource-manager, ReadyForApiTest, RPaaS

#28518 Update readme.python.md
  specification/security/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChange-Go-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-Python-Sdk

#28543 Add Automatic as mananged cluster SKU enum
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-03-02-preview/managedClusters.json
Labels: resource-manager, BreakingChange-Python-Sdk

#28549 Fix JS SDK Breaking Change Error for April GA
  specification/machinelearningservices/resource-manager/readme.typescript.md
Labels: WaitForARMFeedback, ARMReview, resource-manager

#28558 Update sdk-suppressions.yaml
  specification/machinelearningservices/resource-manager/sdk-suppressions.yaml
Labels: WaitForARMFeedback, ARMReview, resource-manager, BreakingChange-Python-Sdk, BreakingChange-JavaScript-Sdk-Suppression

#28504 Release sentinel 2024 04 01 preview business applications agents
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/BusinessApplicationAgents.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/examples/businessApplicationAgents/BusinessApplicationAgent_Get.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/examples/businessApplicationAgents/BusinessApplicationAgents_CreateOrUpdate.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/examples/businessApplicationAgents/BusinessApplicationAgents_Delete.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/examples/businessApplicationAgents/BusinessApplicationAgents_List.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/examples/businessApplicationAgents/actions/ListActions.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/examples/businessApplicationAgents/actions/ReportActionStatus.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/examples/businessApplicationAgents/actions/UndoAction.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/examples/businessApplicationAgents/systems/Systems_CreateOrUpdate.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/examples/businessApplicationAgents/systems/Systems_Delete.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/examples/businessApplicationAgents/systems/Systems_Get.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/examples/businessApplicationAgents/systems/Systems_List.json
  specification/securityinsights/resource-manager/readme.md
Labels: ARMSignedOff, resource-manager, MergeRequested

#27875 Add new feature GPU and job diagnostics to 2024-03-01
  specification/app/resource-manager/Microsoft.App/stable/2024-03-01/AvailableWorkloadProfiles.json
  specification/app/resource-manager/Microsoft.App/stable/2024-03-01/Diagnostics.json
  specification/app/resource-manager/Microsoft.App/stable/2024-03-01/examples/AvailableWorkloadProfiles_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2024-03-01/examples/Job_GetDetector.json
  specification/app/resource-manager/Microsoft.App/stable/2024-03-01/examples/Job_ListDetectors.json
  specification/app/resource-manager/Microsoft.App/stable/2024-03-01/examples/Job_ProxyGet.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested, BreakingChange-Go-Sdk-Approved, BreakingChange-Go-Sdk

#28204 Add definition for 2024-03-01 exportTemplate API
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/CalculateTemplateHash.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/CreateResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/DeleteTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/DeleteTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/ExportResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/ExportResourceGroupAsBicep.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/ExportResourceGroupWithFiltering.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/ForceDeleteVMsAndVMSSInResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/ForceDeleteVMsInResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/GetNamedProviderAtTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/GetProvider.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/GetProviderPermissions.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/GetProviderResourceTypes.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/GetProviders.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/GetTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/GetTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/PatchTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/PatchTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/PostDeploymentWhatIfOnManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/PostDeploymentWhatIfOnResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/PostDeploymentWhatIfOnSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/PostDeploymentWhatIfOnTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/PutDeploymentAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/PutDeploymentAtScope.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/PutDeploymentAtTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/PutDeploymentResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/PutDeploymentResourceGroupTemplateSpecsWithId.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/PutDeploymentSubscriptionTemplateSpecsWithId.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/PutDeploymentWithOnErrorDeploymentLastSuccessful.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/PutDeploymentWithOnErrorDeploymentSpecificDeployment.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/PutTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/examples/PutTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-03-01/resources.json
  specification/resources/resource-manager/readme.md
  specification/resources/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired, new-api-version, MergeRequested, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-Go-Sdk-Suppression

#28285 Siddiavinashmsft help microsoft.help 2024 03 01 preview
  specification/help/resource-manager/Microsoft.Help/preview/2024-03-01-preview/examples/CheckNameAvailabilityForDiagnosticWhenNameIsAvailable.json
  specification/help/resource-manager/Microsoft.Help/preview/2024-03-01-preview/examples/CheckNameAvailabilityForDiagnosticWhenNameIsNotAvailable.json
  specification/help/resource-manager/Microsoft.Help/preview/2024-03-01-preview/examples/CreateDiagnosticForKeyVaultResource.json
  specification/help/resource-manager/Microsoft.Help/preview/2024-03-01-preview/examples/DiscoverSolutionsAtSubscriptionScope.json
  specification/help/resource-manager/Microsoft.Help/preview/2024-03-01-preview/examples/DiscoverSolutionsAtTenantScope.json
  specification/help/resource-manager/Microsoft.Help/preview/2024-03-01-preview/examples/GetDiagnosticForKeyVaultResource.json
  specification/help/resource-manager/Microsoft.Help/preview/2024-03-01-preview/examples/ListDiscoverySolutionsAtTenantScope.json
  specification/help/resource-manager/Microsoft.Help/preview/2024-03-01-preview/examples/ListOperations.json
  specification/help/resource-manager/Microsoft.Help/preview/2024-03-01-preview/examples/SelfHelpSolution_Get.json
  specification/help/resource-manager/Microsoft.Help/preview/2024-03-01-preview/examples/SimplifiedSolutions_Create.json
  specification/help/resource-manager/Microsoft.Help/preview/2024-03-01-preview/examples/SimplifiedSolutions_Get.json
  specification/help/resource-manager/Microsoft.Help/preview/2024-03-01-preview/examples/Solution_Create.json
  specification/help/resource-manager/Microsoft.Help/preview/2024-03-01-preview/examples/Solution_Get.json
  specification/help/resource-manager/Microsoft.Help/preview/2024-03-01-preview/examples/Solution_Update.json
  specification/help/resource-manager/Microsoft.Help/preview/2024-03-01-preview/examples/Solution_WarmUp.json
  specification/help/resource-manager/Microsoft.Help/preview/2024-03-01-preview/examples/Troubleshooter_Continue.json
  specification/help/resource-manager/Microsoft.Help/preview/2024-03-01-preview/examples/Troubleshooter_Create.json
  specification/help/resource-manager/Microsoft.Help/preview/2024-03-01-preview/examples/Troubleshooter_End.json
  specification/help/resource-manager/Microsoft.Help/preview/2024-03-01-preview/examples/Troubleshooter_Get.json
  specification/help/resource-manager/Microsoft.Help/preview/2024-03-01-preview/examples/Troubleshooter_Restart.json
  specification/help/resource-manager/Microsoft.Help/preview/2024-03-01-preview/help.json
  specification/help/resource-manager/readme.md
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, MergeRequested, BreakingChange-Approved-Previously

#28369 Add more features to 2024-03-01 which are same with 2023-05-02-preview
  specification/app/resource-manager/Microsoft.App/stable/2024-03-01/AuthConfigs.json
  specification/app/resource-manager/Microsoft.App/stable/2024-03-01/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2024-03-01/Subscriptions.json
  specification/app/resource-manager/Microsoft.App/stable/2024-03-01/Usages.json
  specification/app/resource-manager/Microsoft.App/stable/2024-03-01/examples/AuthConfigs_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2024-03-01/examples/AuthConfigs_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2024-03-01/examples/AuthConfigs_ListByContainer.json
  specification/app/resource-manager/Microsoft.App/stable/2024-03-01/examples/ContainerApps_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2024-03-01/examples/ContainerApps_Stop.json
  specification/app/resource-manager/Microsoft.App/stable/2024-03-01/examples/ManagedEnvironmentUsages_List.json
  specification/app/resource-manager/Microsoft.App/stable/2024-03-01/examples/Subscriptions_GetCustomDomainVerificationId.json
  specification/app/resource-manager/Microsoft.App/stable/2024-03-01/examples/Usages_List.json
  specification/app/resource-manager/readme.md
  specification/app/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-Go-Sdk-Suppression

#28513 Add support for workspace list connection models.
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/Workspace/listConnectionModels.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/machineLearningServices.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk

#28223 [Azure Monitor Control Service] Adding a new API version: 2023-03-11
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-03-11/dataCollectionEndpoints_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-03-11/dataCollectionRuleAssociations_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-03-11/dataCollectionRules_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-03-11/examples/DataCollectionEndpointsCreate.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-03-11/examples/DataCollectionEndpointsDelete.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-03-11/examples/DataCollectionEndpointsGet.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-03-11/examples/DataCollectionEndpointsListByResourceGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-03-11/examples/DataCollectionEndpointsListBySubscription.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-03-11/examples/DataCollectionEndpointsPatch.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-03-11/examples/DataCollectionEndpointsUpdate.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-03-11/examples/DataCollectionRuleAssociationsCreate.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-03-11/examples/DataCollectionRuleAssociationsCreateEndpointAssoc.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-03-11/examples/DataCollectionRuleAssociationsDelete.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-03-11/examples/DataCollectionRuleAssociationsGet.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-03-11/examples/DataCollectionRuleAssociationsListByDataCollectionEndpoint.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-03-11/examples/DataCollectionRuleAssociationsListByResource.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-03-11/examples/DataCollectionRuleAssociationsListByRule.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-03-11/examples/DataCollectionRulesCreate.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-03-11/examples/DataCollectionRulesCreateAgentSettings.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-03-11/examples/DataCollectionRulesCreateEmbeddedDCE.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-03-11/examples/DataCollectionRulesCreateEnrichment.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-03-11/examples/DataCollectionRulesDelete.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-03-11/examples/DataCollectionRulesGet.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-03-11/examples/DataCollectionRulesListByResourceGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-03-11/examples/DataCollectionRulesListBySubscription.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-03-11/examples/DataCollectionRulesUpdate.json
  specification/monitor/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, MergeRequested, BreakingChange-Go-Sdk-Approved, BreakingChange-Go-Sdk

#28567 Remove default visibility for new resources
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure/main.tsp
  specification/networkanalytics/NetworkAnalytics.Management/main.tsp
  specification/playwrighttesting/PlaywrightTesting.Management/main.tsp
  specification/sphere/Sphere.Management/certificate.tsp
  specification/sphere/Sphere.Management/deployment.tsp
  specification/sphere/Sphere.Management/image.tsp
  specification/sphere/resource-manager/Microsoft.AzureSphere/stable/2024-04-01/azuresphere.json
  specification/vmware/Microsoft.AVS/models.tsp
Labels: resource-manager, RPaaS, TypeSpec

#28482 Add OAuth as an auth type
  specification/ai/ImageAnalysis/examples/2023-10-01/AnalyzeFromImageData_MaximumSet.json
  specification/ai/ImageAnalysis/examples/2023-10-01/AnalyzeFromUrl_MaximumSet.json
  specification/ai/ImageAnalysis/main.tsp
  specification/ai/ImageAnalysis/routes.tsp
  specification/ai/data-plane/ImageAnalysis/stable/2023-10-01/examples/AnalyzeFromImageData_MaximumSet.json
  specification/ai/data-plane/ImageAnalysis/stable/2023-10-01/examples/AnalyzeFromUrl_MaximumSet.json
  specification/ai/data-plane/ImageAnalysis/stable/2023-10-01/generated.json
Labels: data-plane, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-Benign

#28566 Update create function app examples for Flex Consumption
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/examples/CreateOrUpdateFunctionAppFlexConsumption.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/examples/CreateOrUpdateFunctionAppFlexConsumptionWithDetails.json
Labels: ARMSignedOff, ARMReview, resource-manager, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk

#28584 [TypeSpecRequirement] Lazy install powershell-yaml
  eng/scripts/TypeSpec-Requirement.ps1
Labels: WaitForARMFeedback, ARMReview, resource-manager

#28365 Microsoft.Security securityConnectorsDevOps 2024-04-01
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/CreateOrUpdateAzureDevOpsOrgs_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/CreateOrUpdateAzureDevOpsProjects_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/CreateOrUpdateAzureDevOpsRepos_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/CreateOrUpdateDevOpsConfigurationsOnboardCurrentAndFuture_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/CreateOrUpdateDevOpsConfigurationsOnboardCurrentOnly_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/CreateOrUpdateDevOpsConfigurationsOnboardSelected_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/DeleteDevOpsConfigurations_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/GetAzureDevOpsOrgs_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/GetAzureDevOpsProjects_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/GetAzureDevOpsRepos_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/GetDevOpsConfigurationsWithCapabilities_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/GetDevOpsConfigurations_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/GetDevOpsOperationResultsFailed_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/GetDevOpsOperationResultsSucceeded_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/GetGitHubOwners_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/GetGitHubRepos_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/GetGitLabGroups_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/GetGitLabProjects_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/ListAvailableAzureDevOpsOrgs_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/ListAvailableGitHubOwners_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/ListAvailableGitLabGroups_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/ListAzureDevOpsOrgs_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/ListAzureDevOpsProjects_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/ListAzureDevOpsRepos_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/ListDevOpsConfigurations_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/ListGitHubOwners_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/ListGitHubRepos_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/ListGitLabGroups_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/ListGitLabProjects_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/ListGitLabSubgroups_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/UpdateAzureDevOpsOrgs_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/UpdateAzureDevOpsProjects_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/UpdateAzureDevOpsRepos_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/examples/SecurityConnectorsDevOps/UpdateDevOpsConfigurations_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-04-01/securityConnectorsDevOps.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, MergeRequested, BreakingChange-Go-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-Go-Sdk, BreakingChange-Python-Sdk, BreakingChange-Go-Sdk-Suppression

#28372 EventHub swagger Correction 2023-01-01-preview
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2023-01-01-preview/examples/NameSpaces/NamespaceWithGeoDRCreate.json
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2023-01-01-preview/namespaces-preview.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested, BreakingChange-Approved-Benign

#28565 [Communication] [Chat] 2024 03 01 preview
  specification/communication/data-plane/Chat/preview/2024-03-01-preview/communicationserviceschat.json
  specification/communication/data-plane/Chat/preview/2024-03-01-preview/examples/Conversations_ListChatReadReceiptsWithPageSize.json
  specification/communication/data-plane/Chat/preview/2024-03-01-preview/examples/Conversations_SendChatReadReceipt.json
  specification/communication/data-plane/Chat/preview/2024-03-01-preview/examples/Messages_DeleteChatMessage.json
  specification/communication/data-plane/Chat/preview/2024-03-01-preview/examples/Messages_GetChatMessage.json
  specification/communication/data-plane/Chat/preview/2024-03-01-preview/examples/Messages_ListChatMessagesWithPageSize.json
  specification/communication/data-plane/Chat/preview/2024-03-01-preview/examples/Messages_SendChatMessage.json
  specification/communication/data-plane/Chat/preview/2024-03-01-preview/examples/Messages_SendTypingNotification.json
  specification/communication/data-plane/Chat/preview/2024-03-01-preview/examples/Messages_UpdateChatMessage.json
  specification/communication/data-plane/Chat/preview/2024-03-01-preview/examples/Participants_AddChatParticipants.json
  specification/communication/data-plane/Chat/preview/2024-03-01-preview/examples/Participants_ListChatParticipantsWithPageSize.json
  specification/communication/data-plane/Chat/preview/2024-03-01-preview/examples/Participants_RemoveChatParticipant.json
  specification/communication/data-plane/Chat/preview/2024-03-01-preview/examples/Threads_CreateChatThread.json
  specification/communication/data-plane/Chat/preview/2024-03-01-preview/examples/Threads_CreateChatThreadWithIdempotencyToken.json
  specification/communication/data-plane/Chat/preview/2024-03-01-preview/examples/Threads_DeleteChatThread.json
  specification/communication/data-plane/Chat/preview/2024-03-01-preview/examples/Threads_GetChatThread.json
  specification/communication/data-plane/Chat/preview/2024-03-01-preview/examples/Threads_ListChatThreadsWithPageSize.json
  specification/communication/data-plane/Chat/preview/2024-03-01-preview/examples/Threads_UpdateChatThreadTopic.json
  specification/communication/data-plane/Chat/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, new-api-version, MergeRequested

#28581 [ML]Update the location of connection ids
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/Workspace/listConnectionModels.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/machineLearningServices.json
Labels: ARMSignedOff, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, BreakingChange-Python-Sdk

#27614 [Azure AI - Health Insights] - Typespec revision for Health Insights API V3 (Radiology Insights)
  specification/ai/HealthInsights/HealthInsights.Common/model.common.request.tsp
  specification/ai/HealthInsights/HealthInsights.Common/model.common.response.tsp
  specification/ai/HealthInsights/HealthInsights.Common/model.common.shared.tsp
  specification/ai/HealthInsights/HealthInsights.Common/primitives.tsp
  specification/ai/HealthInsights/HealthInsights.OncoPhenotype/client.tsp
  specification/ai/HealthInsights/HealthInsights.OncoPhenotype/route.oncophenotype.tsp
  specification/ai/HealthInsights/HealthInsights.OncoPhenotype/tspconfig.yaml
  specification/ai/HealthInsights/HealthInsights.OpenAPI/examples/2024-04-01/SuccessfulRadiologyInsightsRequest.json
  specification/ai/HealthInsights/HealthInsights.OpenAPI/examples/2024-04-01/SuccessfulRadiologyInsightsResponse.json
  specification/ai/HealthInsights/HealthInsights.OpenAPI/main.tsp
  specification/ai/HealthInsights/HealthInsights.OpenAPI/service.tsp
  specification/ai/HealthInsights/HealthInsights.PatientTimeline/client.tsp
  specification/ai/HealthInsights/HealthInsights.PatientTimeline/route.patienttimeline.tsp
  specification/ai/HealthInsights/HealthInsights.PatientTimeline/tspconfig.yaml
  specification/ai/HealthInsights/HealthInsights.RadiologyInsights/client.tsp
  specification/ai/HealthInsights/HealthInsights.RadiologyInsights/model.radiologyinsights.tsp
  specification/ai/HealthInsights/HealthInsights.RadiologyInsights/route.radiologyinsights.tsp
  specification/ai/HealthInsights/HealthInsights.RadiologyInsights/tspconfig.yaml
  specification/ai/HealthInsights/HealthInsights.TrialMatcher/client.tsp
  specification/ai/HealthInsights/HealthInsights.TrialMatcher/route.trialmatcher.tsp
  specification/ai/HealthInsights/HealthInsights.TrialMatcher/tspconfig.yaml
  specification/ai/data-plane/HealthInsights/readme.md
  specification/ai/data-plane/HealthInsights/stable/2024-04-01/examples/SuccessfulRadiologyInsightsRequest.json
  specification/ai/data-plane/HealthInsights/stable/2024-04-01/examples/SuccessfulRadiologyInsightsResponse.json
  specification/ai/data-plane/HealthInsights/stable/2024-04-01/openapi.json
Labels: APIStewardshipBoard-SignedOff, data-plane, new-api-version, CI-MissingBaseCommit, TypeSpec

#28589 [HealthInsights] Update header ordering
  specification/ai/data-plane/HealthInsights/stable/2024-04-01/openapi.json
Labels: data-plane, TypeSpec

#28587 Fix model name
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/AzureCommunicationServices.json
Labels: data-plane, BreakingChangeReviewRequired

#28593 Update control_plane_template.md: add https://aka.ms/brch
  .github/PULL_REQUEST_TEMPLATE/control_plane_template.md
Labels: Central-EngSys

#27977 Add detailed job execution to api
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/Jobs.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/Job_Executions_Get.json
Labels: ARMSignedOff, customer-reported, ARMReview, resource-manager, MergeRequested

#28464 Update the `specification` directory structure article
  README.md
  documentation/directory-structure.md
Labels: Central-EngSys

#28502 feat(retina): add advanced networking to api spec for 2024-03-02-preview api
  cSpell.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-03-02-preview/managedClusters.json
Labels: resource-manager, BreakingChange-Python-Sdk

#28530 Update summary & description field for Render service
  cSpell.json
  specification/maps/data-plane/Render/preview/1.0/render.json
  specification/maps/data-plane/Render/stable/2022-08-01/examples/Render_GetCopyrightCaption.json
  specification/maps/data-plane/Render/stable/2022-08-01/examples/Render_GetCopyrightForTile.json
  specification/maps/data-plane/Render/stable/2022-08-01/examples/Render_GetCopyrightForWorld.json
  specification/maps/data-plane/Render/stable/2022-08-01/examples/Render_GetCopyrightFromBoundingBox.json
  specification/maps/data-plane/Render/stable/2022-08-01/examples/Render_GetMapAttribution.json
  specification/maps/data-plane/Render/stable/2022-08-01/examples/Render_GetMapTileset.json
  specification/maps/data-plane/Render/stable/2022-08-01/render.json
Labels: data-plane

#28544 Add async request: Bug 7123273
  specification/maps/data-plane/Route/preview/1.0/route.json
  specification/maps/data-plane/Search/preview/1.0/search.json
Labels: data-plane

#28602 Azure Maps Weather Service: Updated links to go to specific section in concepts article.
  cSpell.json
  specification/maps/data-plane/Weather/stable/1.1/weather.json
Labels: data-plane

#28542 Updates that impact the Creator articles and overview page in the docs.
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/features.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/featurestate.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/routeset.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/tileset.json
Labels: data-plane

#28606 Fixups to dir structure docs
  README.md
  documentation/directory-structure.md
  documentation/typespec-structure-guidelines.md
Labels: Central-EngSys, Spec PR Tools

#28628 Update tspconfig.yaml
  specification/eventgrid/Azure.Messaging.EventGrid/tspconfig.yaml
Labels: TypeSpec

#28632 Adding ETags to AKS RP APIs
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-03-02-preview/examples/AgentPoolsGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-03-02-preview/examples/AgentPoolsList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-03-02-preview/examples/ManagedClustersGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-03-02-preview/examples/ManagedClustersList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-03-02-preview/managedClusters.json
Labels: resource-manager, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk

#28573 [Microsoft.App] optimize java agent related properties
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/ContainerApps_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/ContainerApps_CreateOrUpdate_ConnectedEnvironment.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/ContainerApps_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/ContainerApps_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/ContainerApps_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/ContainerApps_Patch.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/ContainerApps_Start.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/ContainerApps_Stop.json
Labels: ARMChangesRequested, ARMReview, resource-manager, data-plane, RPaaS, SuppressionReviewRequired, new-api-version, new-rp-namespace, CI-RpaaSRPNotInPrivateRepo, TypeSpec

#28080 Add redirect URI to num-ver, and remove numbers from 2nd call
  specification/programmableconnectivity/Azure.ProgrammableConnectivity/apis/number.tsp
  specification/programmableconnectivity/Azure.ProgrammableConnectivity/examples/2024-02-09-preview/NumberVerification_VerifyWithCode_MaximumSet_Gen.json
  specification/programmableconnectivity/Azure.ProgrammableConnectivity/examples/2024-02-09-preview/NumberVerification_VerifyWithoutCode_MaximumSet_Gen.json
  specification/programmableconnectivity/data-plane/Azure.ProgrammableConnectivity/preview/2024-02-09-preview/examples/NumberVerification_VerifyWithCode_MaximumSet_Gen.json
  specification/programmableconnectivity/data-plane/Azure.ProgrammableConnectivity/preview/2024-02-09-preview/examples/NumberVerification_VerifyWithoutCode_MaximumSet_Gen.json
  specification/programmableconnectivity/data-plane/Azure.ProgrammableConnectivity/preview/2024-02-09-preview/openapi.json
Labels: Approved-OkToMerge, APIStewardshipBoard-SignedOff, data-plane, BreakingChangeReviewRequired, new-api-version, TypeSpec, BreakingChange-Approved-Benign, Versioning-Approved-BranchPolicyException

#28649 Remove Advanced from model names
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/AzureCommunicationServices.json
Labels: data-plane

#27052 ApiCenter-DataAPI 2024-02-01-preview
  specification/apicenter/ApiCenter.DataApi/examples/2024-02-01-preview/ApiDefinitions_ExportSpecification.json
  specification/apicenter/ApiCenter.DataApi/examples/2024-02-01-preview/ApiDefinitions_GetDefinition.json
  specification/apicenter/ApiCenter.DataApi/examples/2024-02-01-preview/ApiDefinitions_GetExportSpecificationOperationStatus.json
  specification/apicenter/ApiCenter.DataApi/examples/2024-02-01-preview/ApiDefinitions_ListDefinitions.json
  specification/apicenter/ApiCenter.DataApi/examples/2024-02-01-preview/ApiDeployments_GetDeployment.json
  specification/apicenter/ApiCenter.DataApi/examples/2024-02-01-preview/ApiDeployments_ListDeployments.json
  specification/apicenter/ApiCenter.DataApi/examples/2024-02-01-preview/ApiVersions_GetVersion.json
  specification/apicenter/ApiCenter.DataApi/examples/2024-02-01-preview/ApiVersions_ListVersions.json
  specification/apicenter/ApiCenter.DataApi/examples/2024-02-01-preview/Apis_Get.json
  specification/apicenter/ApiCenter.DataApi/examples/2024-02-01-preview/Apis_List.json
  specification/apicenter/ApiCenter.DataApi/examples/2024-02-01-preview/Apis_ListAll.json
  specification/apicenter/ApiCenter.DataApi/examples/2024-02-01-preview/Environments_Get.json
  specification/apicenter/ApiCenter.DataApi/examples/2024-02-01-preview/Environments_List.json
  specification/apicenter/ApiCenter.DataApi/examples/2024-02-01-preview/Environments_ListAll.json
  specification/apicenter/ApiCenter.DataApi/main.tsp
  specification/apicenter/ApiCenter.DataApi/models/api.tsp
  specification/apicenter/ApiCenter.DataApi/models/apiDefinition.tsp
  specification/apicenter/ApiCenter.DataApi/models/apiVersion.tsp
  specification/apicenter/ApiCenter.DataApi/models/deployment.tsp
  specification/apicenter/ApiCenter.DataApi/models/environment.tsp
  specification/apicenter/ApiCenter.DataApi/models/exportSpecification.tsp
  specification/apicenter/ApiCenter.DataApi/models/models.tsp
  specification/apicenter/ApiCenter.DataApi/models/workspace.tsp
  specification/apicenter/ApiCenter.DataApi/resources/Api.tsp
  specification/apicenter/ApiCenter.DataApi/resources/ApiDefinition.tsp
  specification/apicenter/ApiCenter.DataApi/resources/ApiVersion.tsp
  specification/apicenter/ApiCenter.DataApi/resources/Deployment.tsp
  specification/apicenter/ApiCenter.DataApi/resources/Environment.tsp
  specification/apicenter/ApiCenter.DataApi/resources/Workspace.tsp
  specification/apicenter/ApiCenter.DataApi/tspconfig.yaml
  specification/apicenter/data-plane/ApiCenter.DataApi/preview/2024-02-01-preview/azure.apicenter.dataapi.json
  specification/apicenter/data-plane/ApiCenter.DataApi/preview/2024-02-01-preview/examples/ApiDefinitions_ExportSpecification.json
  specification/apicenter/data-plane/ApiCenter.DataApi/preview/2024-02-01-preview/examples/ApiDefinitions_GetDefinition.json
  specification/apicenter/data-plane/ApiCenter.DataApi/preview/2024-02-01-preview/examples/ApiDefinitions_GetExportSpecificationOperationStatus.json
  specification/apicenter/data-plane/ApiCenter.DataApi/preview/2024-02-01-preview/examples/ApiDefinitions_ListDefinitions.json
  specification/apicenter/data-plane/ApiCenter.DataApi/preview/2024-02-01-preview/examples/ApiDeployments_GetDeployment.json
  specification/apicenter/data-plane/ApiCenter.DataApi/preview/2024-02-01-preview/examples/ApiDeployments_ListDeployments.json
  specification/apicenter/data-plane/ApiCenter.DataApi/preview/2024-02-01-preview/examples/ApiVersions_GetVersion.json
  specification/apicenter/data-plane/ApiCenter.DataApi/preview/2024-02-01-preview/examples/ApiVersions_ListVersions.json
  specification/apicenter/data-plane/ApiCenter.DataApi/preview/2024-02-01-preview/examples/Apis_Get.json
  specification/apicenter/data-plane/ApiCenter.DataApi/preview/2024-02-01-preview/examples/Apis_List.json
  specification/apicenter/data-plane/ApiCenter.DataApi/preview/2024-02-01-preview/examples/Apis_ListAll.json
  specification/apicenter/data-plane/ApiCenter.DataApi/preview/2024-02-01-preview/examples/Environments_Get.json
  specification/apicenter/data-plane/ApiCenter.DataApi/preview/2024-02-01-preview/examples/Environments_List.json
  specification/apicenter/data-plane/ApiCenter.DataApi/preview/2024-02-01-preview/examples/Environments_ListAll.json
  specification/apicenter/data-plane/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, Approved-Suppression, SuppressionReviewRequired, new-api-version, TypeSpec

#27761 AutoUpgrade
  specification/containerservice/Fleet.Management/examples/2024-05-02-preview/AutoUpgradeProfiles_CreateOrUpdate.json
  specification/containerservice/Fleet.Management/examples/2024-05-02-preview/AutoUpgradeProfiles_Delete.json
  specification/containerservice/Fleet.Management/examples/2024-05-02-preview/AutoUpgradeProfiles_Get.json
  specification/containerservice/Fleet.Management/examples/2024-05-02-preview/AutoUpgradeProfiles_ListByFleet.json
  specification/containerservice/Fleet.Management/main.tsp
  specification/containerservice/Fleet.Management/update/autoupgradeprofile.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2024-05-02-preview/examples/AutoUpgradeProfiles_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2024-05-02-preview/examples/AutoUpgradeProfiles_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2024-05-02-preview/examples/AutoUpgradeProfiles_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2024-05-02-preview/examples/AutoUpgradeProfiles_ListByFleet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2024-05-02-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/readme.md
Labels: resource-manager, TypeSpec, aks-fleet

#28470 Custom node image upgrade type in UpdateRun
  specification/containerservice/Fleet.Management/update/run.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2024-05-02-preview/examples/UpdateRuns_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2024-05-02-preview/fleets.json
Labels: resource-manager, TypeSpec

#28500 Connect AOAI to VI preview API version
  cSpell.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-04-01-preview/examples/ViAccountCheckNameAvailabilityFree.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-04-01-preview/examples/ViAccountCheckNameAvailabilityTaken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-04-01-preview/examples/ViAccountDelete.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-04-01-preview/examples/ViAccountGet.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-04-01-preview/examples/ViAccountPatch/PatchAccountWithSystemAssignedMi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-04-01-preview/examples/ViAccountPatch/PatchAccountWithUserAssignedMi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-04-01-preview/examples/ViAccountPut/ConnectClassicAccountToArmAccountUsingSystemAssignedMI.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-04-01-preview/examples/ViAccountPut/ConnectClassicAccountToArmAccountUsingUserAssignedMi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-04-01-preview/examples/ViAccountPut/CreateOrUpdateAccountWithSystemAssignedMi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-04-01-preview/examples/ViAccountPut/CreateOrUpdateAccountWithUserAssignedMi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-04-01-preview/examples/ViAccountsList.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-04-01-preview/examples/ViAccountsListByResourceGroup.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-04-01-preview/examples/ViGenerateAccessToken/ViGenerateAccountContributerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-04-01-preview/examples/ViGenerateAccessToken/ViGenerateAccountReaderAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-04-01-preview/examples/ViGenerateAccessToken/ViGenerateProjectContributerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-04-01-preview/examples/ViGenerateAccessToken/ViGenerateProjectReaderAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-04-01-preview/examples/ViGenerateAccessToken/ViGenerateVideoContributerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-04-01-preview/examples/ViGenerateAccessToken/ViGenerateVideoReaderAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-04-01-preview/examples/ViGenerateRestrictedViewerAccessToken/ViGenerateAccountRestrictedViewerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-04-01-preview/examples/ViGenerateRestrictedViewerAccessToken/ViGenerateProjectRestrictedViewerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-04-01-preview/examples/ViGenerateRestrictedViewerAccessToken/ViGenerateVideoRestrictedViewerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-04-01-preview/examples/ViOperationsList.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-04-01-preview/vi.json
  specification/vi/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, Approved-Suppression, SuppressionReviewRequired, new-api-version, MergeRequested

#28610 deviceregistry add readme.go.md
  specification/deviceregistry/resource-manager/readme.go.md
  specification/deviceregistry/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS

#28633 feat: Support multiple standard load balancers in 2024-03-02-preview
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-03-02-preview/examples/LoadBalancers_Create_Or_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-03-02-preview/examples/LoadBalancers_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-03-02-preview/examples/LoadBalancers_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-03-02-preview/examples/LoadBalancers_List.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-03-02-preview/examples/LoadBalancers_Rebalance.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-03-02-preview/managedClusters.json
Labels: resource-manager, BreakingChange-Python-Sdk

#28661 Update NetworkTraversal sample of IssueRelayConfiguration.json
  specification/communication/data-plane/NetworkTraversal/preview/2022-03-01-preview/examples/IssueRelayConfiguration.json
Labels: data-plane

#28655 [ Device Registry] Disable flatten
  specification/deviceregistry/resource-manager/readme.java.md
  specification/deviceregistry/resource-manager/readme.md
  specification/deviceregistry/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, TypeSpec

#28568 Revert "Make PUT/PATCH api async for function on aca (#27612)"
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/WebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/examples/DeleteWebApp.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/examples/UpdateAppSettings.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/examples/UpdateSiteConfig.json
Labels: WaitForARMFeedback, Approved-LintDiff, ARMReview, resource-manager, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk

#28346 CodeSigning RP: updated readme files
  specification/codesigning/resource-manager/readme.az.md
  specification/codesigning/resource-manager/readme.csharp.md
  specification/codesigning/resource-manager/readme.go.md
  specification/codesigning/resource-manager/readme.java.md
  specification/codesigning/resource-manager/readme.md
  specification/codesigning/resource-manager/readme.python.md
  specification/codesigning/resource-manager/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, MergeRequested

#28665 Enabling stream style serialization for Assistants Java SDK
  specification/ai/OpenAI.Assistants/tspconfig.yaml
Labels: data-plane, TypeSpec

#28669 Fix typespec for Job Router
  specification/communication/Communication.JobRouter/client.tsp
Labels: TypeSpec

#28579 hybridcompute - update readme.md for SDK commands generation
  specification/hybridcompute/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#28640 [FrontDoor] [2024-02-01]Remove incorrect default value for javascriptChallengeExpirationInMinutes
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2024-02-01/webapplicationfirewall.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-BugFix, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-JavaScript-Sdk

#28356 Hanheuljo resources microsoft.authorization 2024 04 01
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/examples/createPolicyAssignment.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/examples/createPolicyAssignmentById.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/examples/createPolicyAssignmentNonComplianceMessages.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/examples/createPolicyAssignmentWithIdentity.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/examples/createPolicyAssignmentWithIdentityById.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/examples/createPolicyAssignmentWithOverrides.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/examples/createPolicyAssignmentWithResourceSelectors.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/examples/createPolicyAssignmentWithUserAssignedIdentity.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/examples/createPolicyAssignmentWithoutEnforcement.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/examples/deletePolicyAssignment.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/examples/deletePolicyAssignmentById.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/examples/getPolicyAssignment.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/examples/getPolicyAssignmentById.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/examples/getPolicyAssignmentWithIdentity.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/examples/getPolicyAssignmentWithIdentityById.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/examples/getPolicyAssignmentWithOverrides.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/examples/getPolicyAssignmentWithResourceSelectors.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/examples/getPolicyAssignmentWithUserAssignedIdentity.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/examples/listPolicyAssignments.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/examples/listPolicyAssignmentsForManagementGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/examples/listPolicyAssignmentsForResource.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/examples/listPolicyAssignmentsForResourceGroup.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/examples/updatePolicyAssignmentWithIdentity.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/examples/updatePolicyAssignmentWithIdentityById.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/examples/updatePolicyAssignmentWithOverrides.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/examples/updatePolicyAssignmentWithResourceSelectors.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/examples/updatePolicyAssignmentWithUserAssignedIdentity.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/policyAssignments.json
  specification/resources/resource-manager/readme.md
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, new-api-version, MergeRequested

#27860 [ACS][Chat] Common SDK Version Bump
  specification/communication/data-plane/Chat/stable/2024-03-07/communicationserviceschat.json
Labels: data-plane, MergeRequested

#28681 Remove Generation of Java Tests and Samples
  specification/devcenter/DevCenter/tspconfig.yaml
Labels: TypeSpec

#28591 add operation statuses resource
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-09-01-preview/examples/ApiManagementGetOperationStatus.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-09-01-preview/operationStatuses.json
  specification/apimanagement/resource-manager/readme.md
Labels: API Management, ARMSignedOff, ARMReview, resource-manager, MergeRequested, 2023-09-01-apim

#28457 swagger changes for capacityMode changes
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/examples/CosmosDBDatabaseAccountCreateMax.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/examples/CosmosDBDatabaseAccountCreateMin.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/examples/CosmosDBDatabaseAccountGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/examples/CosmosDBDatabaseAccountList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/examples/CosmosDBDatabaseAccountListByResourceGroup.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/examples/CosmosDBDatabaseAccountPatch.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/examples/CosmosDBRestoreDatabaseAccountCreateUpdate.json
Labels: ARMSignedOff, ARMReview, resource-manager

#28685 Update readme.python.md
  specification/azurelargeinstance/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#28562 remove ArmTagsProperty from PrivateCloud
  specification/vmware/Microsoft.AVS/models.tsp
  specification/vmware/resource-manager/Microsoft.AVS/stable/2023-09-01/vmware.json
  specification/vmware/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, TypeSpec, MergeRequested, BreakingChange-Approved-BugFix, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-JavaScript-Sdk-Suppression-Approved, BreakingChange-Python-Sdk-Suppression-Approved, BreakingChange-Go-Sdk-Suppression, BreakingChange-JavaScript-Sdk-Suppression, BreakingChange-Python-Sdk-Suppression

#28662 [ML] Add missing connection APIs in 04-01-preview version
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-04-01-preview/examples/Workspace/listConnectionModels.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-04-01-preview/examples/WorkspaceConnection/RaiBlocklist/create.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-04-01-preview/examples/WorkspaceConnection/RaiBlocklist/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-04-01-preview/examples/WorkspaceConnection/RaiBlocklist/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-04-01-preview/examples/WorkspaceConnection/RaiBlocklist/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-04-01-preview/examples/WorkspaceConnection/RaiBlocklistItem/create.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-04-01-preview/examples/WorkspaceConnection/RaiBlocklistItem/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-04-01-preview/examples/WorkspaceConnection/RaiBlocklistItem/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-04-01-preview/examples/WorkspaceConnection/RaiBlocklistItem/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-04-01-preview/workspaceRP.json
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired, MergeRequested

#27662 Search preview version 2024-05-01-preview
  cSpell.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchIndexAutocompleteDocumentsGet.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchIndexAutocompleteDocumentsPost.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchIndexCountDocuments.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchIndexGetDocument.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchIndexIndexDocuments.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchIndexSearchDocumentsGet.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchIndexSearchDocumentsPost.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchIndexSuggestDocumentsGet.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchIndexSuggestDocumentsPost.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceCreateAlias.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceCreateDataSource.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceCreateIndex.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceCreateIndexer.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceCreateOrUpdateAlias.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceCreateOrUpdateDataSource.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceCreateOrUpdateIndex.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceCreateOrUpdateIndexer.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceCreateOrUpdateSkillset.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceCreateOrUpdateSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceCreateSkillset.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceCreateSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceDeleteAlias.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceDeleteDataSource.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceDeleteIndex.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceDeleteIndexer.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceDeleteSkillset.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceDeleteSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceGetAlias.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceGetDataSource.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceGetIndex.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceGetIndexStatistics.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceGetIndexer.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceGetIndexerStatus.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceGetServiceStatistics.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceGetSkillset.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceGetSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceIndexAnalyze.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceListAliases.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceListDataSources.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceListIndexers.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceListIndexes.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceListSkillsets.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceListSynonymMaps.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceResetDocs.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceResetIndexer.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceResetSkills.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/examples/SearchServiceRunIndexer.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/searchindex.json
  specification/search/data-plane/Azure.Search/preview/2024-05-01-preview/searchservice.json
  specification/search/data-plane/Azure.Search/readme.md
Labels: customer-reported, APIStewardshipBoard-SignedOff, data-plane, BreakingChangeReviewRequired, new-api-version, BreakingChange-Approved-BugFix

#28552 NSP RP changes for public preview
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/examples/NetworkSecurityPerimeterConfigurationGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/examples/NetworkSecurityPerimeterConfigurationList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/examples/NetworkSecurityPerimeterConfigurationReconcile.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/networkSecurityPerimeter.json
  specification/cosmos-db/resource-manager/readme.md
Labels: WaitForARMFeedback, ARMReview, resource-manager

#28673 mgmt, java, standbypool, update client name in readme
  specification/standbypool/resource-manager/readme.java.md
Labels: resource-manager, RPaaS

#28688 Update createOrUpdateSqlDatastore.json to remove sensitive info
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-05-01-preview/examples/createOrUpdateSqlDatastore.json
Labels: Approved-ModelValidation, resource-manager

#28702 Update readme.python.md
  specification/recoveryservicesbackup/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#28597 RecoveryServices Swagger PR for api-Version: 2024-04-01
  npx
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/Capabilities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/CheckNameAvailability_Available.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/CheckNameAvailability_NotAvailable.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/PATCHVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/PATCHVault_WithRedundancySettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/PUTVault_ResourceGuardEnabled.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/PUTVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/PUTVault_WithRedundancySettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/examples/UpdateVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/registeredidentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/replicationusages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/vaults.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-04-01/vaultusages.json
  specification/recoveryservices/resource-manager/readme.md
  specification/recoveryservices/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, MergeRequested, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-JavaScript-Sdk-Suppression-Approved, BreakingChange-Python-Sdk-Suppression-Approved, BreakingChange-Go-Sdk-Suppression, BreakingChange-JavaScript-Sdk-Suppression, BreakingChange-Python-Sdk-Suppression

#28660 [ML]Remove connection related APIs in 04-01 stable
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/Workspace/listConnectionModels.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/WorkspaceConnection/RaiBlocklist/create.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/WorkspaceConnection/RaiBlocklist/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/WorkspaceConnection/RaiBlocklist/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/WorkspaceConnection/RaiBlocklist/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/WorkspaceConnection/RaiBlocklistItem/create.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/WorkspaceConnection/RaiBlocklistItem/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/WorkspaceConnection/RaiBlocklistItem/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/WorkspaceConnection/RaiBlocklistItem/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/WorkspaceConnection/RaiPolicy/create.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/WorkspaceConnection/RaiPolicy/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/WorkspaceConnection/RaiPolicy/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/WorkspaceConnection/RaiPolicy/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/WorkspaceConnection/createDeployment.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/WorkspaceConnection/deleteDeployment.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/WorkspaceConnection/getDeployment.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/WorkspaceConnection/getModels.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/examples/WorkspaceConnection/listDeployments.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/machineLearningServices.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk

#27782 Microsoft.SqlVirtualMachine new API 2023-10-01 Stable
  cSpell.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/CreateOrUpdateAvailabilityGroupListener.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/CreateOrUpdateAvailabilityGroupListenerWithMultiSubnet.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/CreateOrUpdateSqlVirtualMachineAutomatedBackupWeekly.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/CreateOrUpdateSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/CreateOrUpdateSqlVirtualMachineMAX.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/CreateOrUpdateSqlVirtualMachineMIN.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/CreateOrUpdateSqlVirtualMachineStorageConfigurationEXTEND.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/CreateOrUpdateSqlVirtualMachineStorageConfigurationNEW.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/CreateOrUpdateSqlVirtualMachineVmIdentitySettings.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/CreateOrUpdateVirtualMachineWithVMGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/DeleteAvailabilityGroupListener.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/DeleteSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/DeleteSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/GetAvailabilityGroupListener.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/GetSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/GetSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/ListByGroupAvailabilityGroupListener.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/ListByResourceGroupSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/ListByResourceGroupSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/ListBySqlVirtualMachineGroupSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/ListOperation.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/ListSubscriptionSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/ListSubscriptionSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/RedeploySqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/StartAssessmentOnSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/StartDiskConfigAssessmentOnSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/TroubleshootSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/UpdateSqlVirtualMachine.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/examples/UpdateSqlVirtualMachineGroup.json
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/stable/2023-10-01/sqlvm.json
  specification/sqlvirtualmachine/resource-manager/readme.md
  specification/sqlvirtualmachine/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, MergeRequested, BreakingChange-Approved-BugFix, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-Go-Sdk-Suppression

#28712 Updates for beta Java Namespace client
  specification/eventgrid/Azure.Messaging.EventGrid/tspconfig.yaml
Labels: TypeSpec

#28486 Psah434 solutions microsoft.solutions 2023 12 01 preview
  specification/solutions/resource-manager/Microsoft.Solutions/preview/2023-12-01-preview/examples/createOrUpdateApplication.json
  specification/solutions/resource-manager/Microsoft.Solutions/preview/2023-12-01-preview/examples/createOrUpdateApplicationById.json
  specification/solutions/resource-manager/Microsoft.Solutions/preview/2023-12-01-preview/examples/createOrUpdateApplicationDefinition.json
  specification/solutions/resource-manager/Microsoft.Solutions/preview/2023-12-01-preview/examples/createOrUpdateJitRequest.json
  specification/solutions/resource-manager/Microsoft.Solutions/preview/2023-12-01-preview/examples/deleteApplication.json
  specification/solutions/resource-manager/Microsoft.Solutions/preview/2023-12-01-preview/examples/deleteApplicationById.json
  specification/solutions/resource-manager/Microsoft.Solutions/preview/2023-12-01-preview/examples/deleteApplicationDefinition.json
  specification/solutions/resource-manager/Microsoft.Solutions/preview/2023-12-01-preview/examples/deleteJitRequest.json
  specification/solutions/resource-manager/Microsoft.Solutions/preview/2023-12-01-preview/examples/getApplication.json
  specification/solutions/resource-manager/Microsoft.Solutions/preview/2023-12-01-preview/examples/getApplicationById.json
  specification/solutions/resource-manager/Microsoft.Solutions/preview/2023-12-01-preview/examples/getApplicationDefinition.json
  specification/solutions/resource-manager/Microsoft.Solutions/preview/2023-12-01-preview/examples/getJitRequest.json
  specification/solutions/resource-manager/Microsoft.Solutions/preview/2023-12-01-preview/examples/listAllowedUpgradePlans.json
  specification/solutions/resource-manager/Microsoft.Solutions/preview/2023-12-01-preview/examples/listApplicationDefinitionsByResourceGroup.json
  specification/solutions/resource-manager/Microsoft.Solutions/preview/2023-12-01-preview/examples/listApplicationDefinitionsBySubscription.json
  specification/solutions/resource-manager/Microsoft.Solutions/preview/2023-12-01-preview/examples/listApplicationsByResourceGroup.json
  specification/solutions/resource-manager/Microsoft.Solutions/preview/2023-12-01-preview/examples/listJitRequestsByResourceGroup.json
  specification/solutions/resource-manager/Microsoft.Solutions/preview/2023-12-01-preview/examples/listSolutionsOperations.json
  specification/solutions/resource-manager/Microsoft.Solutions/preview/2023-12-01-preview/examples/listToken.json
  specification/solutions/resource-manager/Microsoft.Solutions/preview/2023-12-01-preview/examples/portalRegistryPackage.json
  specification/solutions/resource-manager/Microsoft.Solutions/preview/2023-12-01-preview/examples/refreshApplicationPermissions.json
  specification/solutions/resource-manager/Microsoft.Solutions/preview/2023-12-01-preview/examples/updateAccess.json
  specification/solutions/resource-manager/Microsoft.Solutions/preview/2023-12-01-preview/examples/updateApplication.json
  specification/solutions/resource-manager/Microsoft.Solutions/preview/2023-12-01-preview/examples/updateApplicationById.json
  specification/solutions/resource-manager/Microsoft.Solutions/preview/2023-12-01-preview/examples/updateApplicationDefinition.json
  specification/solutions/resource-manager/Microsoft.Solutions/preview/2023-12-01-preview/examples/updateJitRequest.json
  specification/solutions/resource-manager/Microsoft.Solutions/preview/2023-12-01-preview/managedapplications.json
  specification/solutions/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, RPaaS, new-api-version, MergeRequested

#28645 tsp fix
  specification/containerservice/Fleet.Management/fleet.tsp
  specification/containerservice/Fleet.Management/helpers.tsp
  specification/containerservice/Fleet.Management/update/run.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-03-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-06-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2024-02-02-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2023-10-15/fleets.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, TypeSpec

#28618 Microsoft.Elastic updating model for a feature
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-01-01-preview/elastic.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/elastic.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, Liftr, IDCDevDiv, BreakingChange-Approved-BugFix

#28722 React to Directives bugfix
  specification/ai/OpenAI.Assistants/client.tsp
  specification/ai/OpenAI.Assistants/main.tsp
  specification/machinelearning/Azure.AI.ChatProtocol/main.tsp
Labels: TypeSpec

#28619 Removing Cluster Upgrade Window properties originally introduced in 2…
  specification/eventhub/resource-manager/Microsoft.EventHub/stable/2024-01-01/Clusters.json
  specification/eventhub/resource-manager/Microsoft.EventHub/stable/2024-01-01/eventhubs.json
  specification/eventhub/resource-manager/Microsoft.EventHub/stable/2024-01-01/examples/Clusters/ClusterGet.json
  specification/eventhub/resource-manager/Microsoft.EventHub/stable/2024-01-01/examples/Clusters/ClusterPatch.json
  specification/eventhub/resource-manager/Microsoft.EventHub/stable/2024-01-01/examples/Clusters/ClusterPut.json
  specification/eventhub/resource-manager/Microsoft.EventHub/stable/2024-01-01/examples/Clusters/ClustersListByResourceGroup.json
  specification/eventhub/resource-manager/Microsoft.EventHub/stable/2024-01-01/examples/Clusters/ClustersListBySubscription.json
  specification/eventhub/resource-manager/Microsoft.EventHub/stable/2024-01-01/examples/Clusters/TriggerUpgradeInCluster.json
  specification/eventhub/resource-manager/Microsoft.EventHub/stable/2024-01-01/examples/EventHubs/EHEventHubCreate.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-BranchPolicyException

#28644 Directions 2023-10-01-preview
  specification/maps/data-plane/Route/preview/2023-10-01-preview/route.json
Labels: data-plane, BreakingChange-Approved-BugFix, Versioning-Approved-BugFix, VersioningReviewRequired

#28416 getting rid of UAMI and SAMI creds since they will be resolved as ManagedIdentity
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Credential.json
Labels: ARMSignedOff, ShiftLeftViolation, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, BreakingChange-Approved-BugFix, BreakingChange-Approved-UserImpact, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-Go-Sdk-Suppression

#28335 Update readme.python.md
  specification/mysql/resource-manager/readme.python.md
Labels: ARMSignedOff, HoldOn, ARMReview, resource-manager, ReadyForApiTest, BreakingChange-Go-Sdk-Approved, BreakingChange-Go-Sdk

#28560 update typescript.md for postgresql
  specification/postgresql/resource-manager/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#28690 add typescript.md for deviceregistry
  specification/deviceregistry/resource-manager/readme.typescript.md
Labels: resource-manager, ReadyForApiTest, RPaaS

#28672 Add accountName for queueScaler
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/ContainerApps_CreateOrUpdate.json
Labels: ARMSignedOff, ARMReview, resource-manager

#28738 Revert "Haochidu/release web 2023 12 01/aseregion hotfix (#28018)"
  specification/web/resource-manager/Microsoft.Web/stable/2023-01-01/ResourceProvider.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/ResourceProvider.json
Labels: BreakingChange-Go-Sdk

#28686 mgmt, standbypool, update tspconfig.yaml for Java
  specification/standbypool/StandbyPool.Management/tspconfig.yaml
Labels: TypeSpec

#28642 Change property description
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2023-11-01-preview/hdinsight.json
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/stable/2024-05-01/hdinsight.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, MergeRequested, BreakingChange-Go-Sdk-Approved, BreakingChange-Go-Sdk

#28695 Add tag package-2023-11-preview
  specification/network/resource-manager/readme.md
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, MergeRequested

#28279 Publish 2024-04-15-preview version of Batch Avatar API spec
  specification/cognitiveservices/data-plane/Speech/BatchAvatar/preview/2024-04-15-preview/batchavatar.json
  specification/cognitiveservices/data-plane/Speech/BatchAvatar/preview/2024-04-15-preview/examples/create_batch_synthesis.json
  specification/cognitiveservices/data-plane/Speech/BatchAvatar/preview/2024-04-15-preview/examples/delete_batch_synthesis.json
  specification/cognitiveservices/data-plane/Speech/BatchAvatar/preview/2024-04-15-preview/examples/get_batch_syntheses.json
  specification/cognitiveservices/data-plane/Speech/BatchAvatar/preview/2024-04-15-preview/examples/get_batch_synthesis.json
  specification/cognitiveservices/data-plane/Speech/BatchAvatar/preview/2024-04-15-preview/examples/get_operation.json
  specification/cognitiveservices/data-plane/Speech/BatchAvatar/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, new-api-version, MergeRequested

#28735 Add examples for create or update entity with rich text
  specification/purview/Azure.Analytics.Purview.DataMap/examples/2023-09-01/Entity_CreateOrUpdateWithRichText.json
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/preview/2023-10-01-preview/examples/Entity_CreateOrUpdateWithRichText.json
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/preview/2023-10-01-preview/purviewdatamap.json
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/stable/2023-09-01/examples/Entity_CreateOrUpdateWithRichText.json
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/stable/2023-09-01/purviewdatamap.json
Labels: data-plane, TypeSpec, MergeRequested

#28730 Update @body to @bodyRoot and fix issue with misuse of traits
  specification/ai/DocumentIntelligence/routes.tsp
  specification/ai/HealthInsights/HealthInsights.Common/primitives.tsp
  specification/ai/ImageAnalysis/routes.tsp
  specification/ai/OpenAI.Assistants/runs/routes.tsp
  specification/apicenter/ApiCenter.Management/main.tsp
  specification/applicationinsights/ApplicationInsights.LiveMetrics/models.tsp
  specification/azurelargeinstance/AzureLargeInstance.Management/AzureLargeInstance.tsp
  specification/batch/Azure.Batch/routes.tsp
  specification/carbon/Carbon.Management/main.tsp
  specification/cognitiveservices/AnomalyDetector/multivariate/models.tsp
  specification/cognitiveservices/AnomalyDetector/multivariate/routes.tsp
  specification/cognitiveservices/AnomalyDetector/univariate/routes.tsp
  specification/cognitiveservices/ContentSafety/routes.tsp
  specification/cognitiveservices/OpenAI.Inference/models/audio/audio_speech.tsp
  specification/cognitiveservices/OpenAI.Inference/models/audio/common.tsp
  specification/communication/Communication.JobRouter/models.tsp
  specification/communication/Communication.JobRouter/routes.tsp
  specification/communication/Communication.Messages/models.tsp
  specification/confidentialledger/Microsoft.CodeTransparency/models.tsp
  specification/containerservice/Fleet.Management/helpers.tsp
  specification/devcenter/DevCenter/DevBox/routes.tsp
  specification/devcenter/DevCenter/Environments/routes.tsp
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2023-04-01/devcenter.json
  specification/developersigning/DeveloperSigning/main.tsp
  specification/eventgrid/Azure.Messaging.EventGrid/main.tsp
  specification/loadtestservice/LoadTestService.Management/customOperation.tsp
  specification/loadtestservice/LoadTestService/routes.tsp
  specification/machinelearningservices/AzureAI.Assets/routes.tsp
  specification/mobilepacketcore/MobilePacketCore.Management/common.tsp
  specification/mpcnetworkfunction/MpcNetworkFunction.Management/networkfunction.tsp
  specification/purview/Azure.Analytics.Purview.DataMap/routes.tsp
  specification/quantum/Quantum.Workspace/operations/storage.tsp
  specification/schemaregistry/SchemaRegistry/main.tsp
  specification/translation/Azure.AI.DocumentTranslation/main.tsp
  specification/translation/Azure.AI.TextTranslation/models-breaksentence.tsp
  specification/translation/Azure.AI.TextTranslation/models-dictionary.tsp
  specification/translation/Azure.AI.TextTranslation/models-translate.tsp
  specification/translation/Azure.AI.TextTranslation/models-transliterate.tsp
  specification/translation/Azure.AI.TextTranslation/routes.tsp
  specification/vmware/Microsoft.AVS/routes.tsp
  specification/voiceservices/VoiceServices.Provisioning/main.tsp
Labels: data-plane, TypeSpec

#28714 Update listKeys.json to remove sensitive data
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/examples/Workspace/listKeys.json
Labels: resource-manager, ReadyForApiTest

#28667 Example and Description update for Discover Solutions NLP
  specification/help/resource-manager/Microsoft.Help/preview/2024-03-01-preview/examples/DiscoverSolutionsAtTenantScope.json
  specification/help/resource-manager/Microsoft.Help/preview/2024-03-01-preview/help.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#28751 create sdk-suppression.yaml
  specification/web/resource-manager/sdk-suppressions.yaml
Labels: WaitForARMFeedback, ARMReview, resource-manager, BreakingChange-JavaScript-Sdk-Suppression-Approved, BreakingChange-Go-Sdk-Suppression, BreakingChange-JavaScript-Sdk-Suppression

#28607 Removing carbon files.
  specification/carbon/Carbon.Management/examples/2024-02-01-preview/carbonEmissionsDataAvailableDateRange.json
  specification/carbon/Carbon.Management/examples/2024-02-01-preview/carbonEmissionsReport.json
  specification/carbon/Carbon.Management/examples/2024-02-01-preview/listOperations.json
  specification/carbon/Carbon.Management/main.tsp
  specification/carbon/Carbon.Management/tspconfig.yaml
  specification/carbon/resource-manager/Microsoft.Carbon/preview/2024-02-01-preview/examples/carbonEmissionsDataAvailableDateRange.json
  specification/carbon/resource-manager/Microsoft.Carbon/preview/2024-02-01-preview/examples/carbonEmissionsReport.json
  specification/carbon/resource-manager/Microsoft.Carbon/preview/2024-02-01-preview/examples/listOperations.json
  specification/carbon/resource-manager/Microsoft.Carbon/preview/2024-02-01-preview/main.json
  specification/carbon/resource-manager/reaadme.go.md
  specification/carbon/resource-manager/readme.csharp.md
  specification/carbon/resource-manager/readme.go.md
  specification/carbon/resource-manager/readme.java.md
  specification/carbon/resource-manager/readme.md
  specification/carbon/resource-manager/readme.nodejs.md
  specification/carbon/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, BreakingChangeReviewRequired, TypeSpec, MergeRequested, BreakingChange-Approved-BranchPolicyException

#28750 [EG] reorder api versions
  specification/eventgrid/Azure.Messaging.EventGrid/main.tsp
Labels: TypeSpec

#28761 Update arriveAt and departAt descriptions.
  specification/maps/data-plane/Route/preview/1.0/route.json
Labels: data-plane

#28693 Remove mongoCluster swagger spec and examples for 2024-05-15-preview …
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/examples/mongo-cluster/CosmosDBMongoClusterAddNode.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/examples/mongo-cluster/CosmosDBMongoClusterCreate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/examples/mongo-cluster/CosmosDBMongoClusterCreatePITR.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/examples/mongo-cluster/CosmosDBMongoClusterDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/examples/mongo-cluster/CosmosDBMongoClusterFirewallRuleCreate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/examples/mongo-cluster/CosmosDBMongoClusterFirewallRuleDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/examples/mongo-cluster/CosmosDBMongoClusterFirewallRuleGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/examples/mongo-cluster/CosmosDBMongoClusterFirewallRuleList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/examples/mongo-cluster/CosmosDBMongoClusterGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/examples/mongo-cluster/CosmosDBMongoClusterList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/examples/mongo-cluster/CosmosDBMongoClusterListByResourceGroup.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/examples/mongo-cluster/CosmosDBMongoClusterListConnectionStrings.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/examples/mongo-cluster/CosmosDBMongoClusterNameAvailability.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/examples/mongo-cluster/CosmosDBMongoClusterNameAvailability_AlreadyExists.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/examples/mongo-cluster/CosmosDBMongoClusterUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/mongoCluster.json
  specification/cosmos-db/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#28668 Add examples for vmss ipconfig's prefix length
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/VmssNetworkInterfaceGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/VmssNetworkInterfaceIpConfigList.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/VmssNetworkInterfaceList.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#27564 Review request for Microsoft.ConfidentialLedger to add version preview/2024-01-26
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-01-26-preview/common.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-01-26-preview/confidentialledger.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-01-26-preview/examples/identity/GetLedgerIdentity.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-01-26-preview/examples/ledger/CreateLedgerEntry.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-01-26-preview/examples/ledger/CreateOrUpdateUser.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-01-26-preview/examples/ledger/DeleteUser.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-01-26-preview/examples/ledger/GetConstitution.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-01-26-preview/examples/ledger/GetCurrentLedgerEntry.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-01-26-preview/examples/ledger/GetEnclaveQuotes.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-01-26-preview/examples/ledger/GetLedgerEntry.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-01-26-preview/examples/ledger/GetReceipt.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-01-26-preview/examples/ledger/GetTransactionStatus.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-01-26-preview/examples/ledger/GetUser.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-01-26-preview/examples/ledger/ListCollections.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-01-26-preview/examples/ledger/ListConsortiumMembers.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-01-26-preview/examples/ledger/ListLedgerEntries.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-01-26-preview/examples/ledger/ListUsers.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-01-26-preview/identityservice.json
  specification/confidentialledger/data-plane/readme.md
Labels: Approved-LintDiff, APIStewardshipBoard-SignedOff, data-plane, new-api-version, Confidential Ledger, MergeRequested, BreakingChange-Approved-Previously

#28789 Update Data plane readme.md
  specification/machinelearningservices/data-plane/readme.md
Labels: data-plane

#28746 Remove pedestrian and bicycle travelMode from Azure Maps Route API.
  specification/maps/data-plane/Route/preview/1.0/route.json
Labels: data-plane, BreakingChangeReviewRequired, BreakingChange-Approved-BugFix

#28793 Update control_plane_template.md: ARM merge queue now only includes PRs that have `resource-manager` label
  .github/PULL_REQUEST_TEMPLATE/control_plane_template.md
Labels: Central-EngSys, Spec PR Tools

#28674 Cognitive Services 2023-10-01-preview Update
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2023-10-01-preview/examples/PutRaiPolicy.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#27533 Microsoft.StorageCache 2024-03-01 API
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/amlfilesystem.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/AscOperations_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/AscResourceUsages_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/Caches_CreateOrUpdate.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/Caches_CreateOrUpdate_ldap_only.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/Caches_DebugInfo.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/Caches_Delete.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/Caches_Flush.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/Caches_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/Caches_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/Caches_ListByResourceGroup.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/Caches_Start.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/Caches_Stop.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/Caches_Update.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/Caches_Update_ldap_only.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/Caches_UpgradeFirmware.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/Operations_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/PausePrimingJob.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/ResumePrimingJob.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/Skus_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/SpaceAllocation_Post.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/StartPrimingJob.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/StopPrimingJob.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/StorageTargets_CreateOrUpdate.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/StorageTargets_CreateOrUpdate_BlobNfs.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/StorageTargets_CreateOrUpdate_NoJunctions.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/StorageTargets_Delete.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/StorageTargets_DnsRefresh.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/StorageTargets_Flush.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/StorageTargets_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/StorageTargets_Invalidate.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/StorageTargets_ListByCache.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/StorageTargets_RestoreDefaults.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/StorageTargets_Resume.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/StorageTargets_Suspend.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/UsageModels_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/amlFilesystems_Archive.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/amlFilesystems_CancelArchive.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/amlFilesystems_CreateOrUpdate.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/amlFilesystems_Delete.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/amlFilesystems_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/amlFilesystems_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/amlFilesystems_ListByResourceGroup.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/amlFilesystems_Update.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/checkAmlFSSubnets.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/getRequiredAmlFSSubnetsSize.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/importJob_Update.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/importJobs_CreateOrUpdate.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/importJobs_Delete.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/importJobs_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/examples/importJobs_ListByAmlFilesystem.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/storagecache.json
  specification/storagecache/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit, MergeRequested

#28791 Update sdk-suppressions.md: add shortlink reference
  documentation/sdkautomation/sdk-suppressions.md
Labels: Central-EngSys, Spec PR Tools

#28780 java mgmt, tspconfig.yaml for deviceregistry
  specification/deviceregistry/DeviceRegistry.Management/tspconfig.yaml
Labels: TypeSpec

#28540 [CosmosDB-MICassandra] Added VPN feature properties to stable
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2024-05-15/managedCassandra.json
Labels: ARMSignedOff, ARMReview, resource-manager

#28801 Porting stable 2024-05-15 changes from Cassandra API
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/managedCassandra.json
Labels: WaitForARMFeedback, ARMReview, resource-manager

#28729 Hanheuljo resources microsoft.authorization 2024 04 01
  specification/resources/resource-manager/Microsoft.Authorization/stable/2024-04-01/policyAssignments.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, BreakingChange-Approved-BugFix

#28596 Updating Enum name and few apis to use the enum value
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/databox.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/RegionConfiguration.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/RegionConfigurationByResourceGroup.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/ValidateAddressPost.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/ValidateInputs.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/ValidateInputsByResourceGroup.json
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, BreakingChange-Approved-BranchPolicyException

#28585 DevOpsInfrastructure adding version 2024-04-04-preview
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure/examples/2024-04-04-preview/CreateOrUpdatePool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure/examples/2024-04-04-preview/DeletePool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure/examples/2024-04-04-preview/GetPool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure/examples/2024-04-04-preview/ImageVersions_ListByImage.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure/examples/2024-04-04-preview/ListOperations.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure/examples/2024-04-04-preview/ListPoolsBySubscription.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure/examples/2024-04-04-preview/ListPoolsBySubscriptionAndResourceGroup.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure/examples/2024-04-04-preview/ResourceDetails_ListByPool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure/examples/2024-04-04-preview/Sku_ListByLocation.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure/examples/2024-04-04-preview/SubscriptionUsages_ListByLocation.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure/examples/2024-04-04-preview/UpdatePool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure/main.tsp
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/preview/2024-04-04-preview/devopsinfrastructure.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/preview/2024-04-04-preview/examples/CreateOrUpdatePool.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/preview/2024-04-04-preview/examples/DeletePool.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/preview/2024-04-04-preview/examples/GetPool.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/preview/2024-04-04-preview/examples/ImageVersions_ListByImage.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/preview/2024-04-04-preview/examples/ListOperations.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/preview/2024-04-04-preview/examples/ListPoolsBySubscription.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/preview/2024-04-04-preview/examples/ListPoolsBySubscriptionAndResourceGroup.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/preview/2024-04-04-preview/examples/ResourceDetails_ListByPool.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/preview/2024-04-04-preview/examples/Sku_ListByLocation.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/preview/2024-04-04-preview/examples/SubscriptionUsages_ListByLocation.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/preview/2024-04-04-preview/examples/UpdatePool.json
  specification/devopsinfrastructure/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, TypeSpec

#28786 [OpenAI] [Assistants] PR feedback
  specification/ai/OpenAI.Assistants/client.tsp
  specification/ai/OpenAI.Assistants/main.tsp
  specification/ai/OpenAI.Assistants/streaming/events.tsp
Labels: TypeSpec

#28815 Updating model to avoid ArmResource spread
  specification/loadtestservice/LoadTestService.Management/models.tsp
Labels: TypeSpec

#28781 Remove specs for the deprecated service machinelearningexperimentation
  specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/examples/CheckNameAvailability.json
  specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/examples/CreateAccount.json
  specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/examples/CreateProject.json
  specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/examples/CreateTeamAccount.json
  specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/examples/DeleteAccount.json
  specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/examples/DeleteProject.json
  specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/examples/DeleteTeamAccount.json
  specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/examples/GetAccount.json
  specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/examples/GetProject.json
  specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/examples/GetTeamAccount.json
  specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/examples/ListAccount.json
  specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/examples/ListAccountResourceGroup.json
  specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/examples/ListTeamAccount.json
  specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/examples/ListTeamAccountResourceGroup.json
  specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/examples/ListWorkspacesByAccounts.json
  specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/examples/ListWorkspacesByTeamAccounts.json
  specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/examples/ProjectListByWorkspaces.json
  specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/examples/UpdateAccount.json
  specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/examples/UpdateProject.json
  specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/examples/UpdateTeamAccount.json
  specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/examples/WorkspaceCreate.json
  specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/examples/WorkspaceDelete.json
  specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/examples/WorkspaceGet.json
  specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/examples/WorkspaceUpdate.json
  specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/machineLearningExperimentation.json
  specification/machinelearningexperimentation/resource-manager/readme.go.md
  specification/machinelearningexperimentation/resource-manager/readme.md
  specification/machinelearningexperimentation/resource-manager/readme.nodejs.md
  specification/machinelearningexperimentation/resource-manager/readme.typescript.md
Labels: ARMSignedOff, resource-manager, BreakingChange-Approved-Benign

#28779 Remove the specs of machinelearningcompute as it was deprecated
  specification/machinelearningcompute/resource-manager/Microsoft.MachineLearningCompute/preview/2017-06-01-preview/examples/MachineLearningCompute_ListAvailableOperations.json
  specification/machinelearningcompute/resource-manager/Microsoft.MachineLearningCompute/preview/2017-06-01-preview/examples/OperationalizationClusters_CheckUpdate.json
  specification/machinelearningcompute/resource-manager/Microsoft.MachineLearningCompute/preview/2017-06-01-preview/examples/OperationalizationClusters_CreateOrUpdate.json
  specification/machinelearningcompute/resource-manager/Microsoft.MachineLearningCompute/preview/2017-06-01-preview/examples/OperationalizationClusters_Delete.json
  specification/machinelearningcompute/resource-manager/Microsoft.MachineLearningCompute/preview/2017-06-01-preview/examples/OperationalizationClusters_Get.json
  specification/machinelearningcompute/resource-manager/Microsoft.MachineLearningCompute/preview/2017-06-01-preview/examples/OperationalizationClusters_ListByResourceGroup.json
  specification/machinelearningcompute/resource-manager/Microsoft.MachineLearningCompute/preview/2017-06-01-preview/examples/OperationalizationClusters_ListBySubscription.json
  specification/machinelearningcompute/resource-manager/Microsoft.MachineLearningCompute/preview/2017-06-01-preview/examples/OperationalizationClusters_ListKeys.json
  specification/machinelearningcompute/resource-manager/Microsoft.MachineLearningCompute/preview/2017-06-01-preview/examples/OperationalizationClusters_Update.json
  specification/machinelearningcompute/resource-manager/Microsoft.MachineLearningCompute/preview/2017-06-01-preview/examples/OperationalizationClusters_UpdateSystem.json
  specification/machinelearningcompute/resource-manager/Microsoft.MachineLearningCompute/preview/2017-06-01-preview/machineLearningCompute.json
  specification/machinelearningcompute/resource-manager/Microsoft.MachineLearningCompute/preview/2017-08-01-preview/examples/MachineLearningCompute_ListAvailableOperations.json
  specification/machinelearningcompute/resource-manager/Microsoft.MachineLearningCompute/preview/2017-08-01-preview/examples/OperationalizationClusters_CheckSystemServicesUpdatesAvailable.json
  specification/machinelearningcompute/resource-manager/Microsoft.MachineLearningCompute/preview/2017-08-01-preview/examples/OperationalizationClusters_CreateOrUpdate.json
  specification/machinelearningcompute/resource-manager/Microsoft.MachineLearningCompute/preview/2017-08-01-preview/examples/OperationalizationClusters_Delete.json
  specification/machinelearningcompute/resource-manager/Microsoft.MachineLearningCompute/preview/2017-08-01-preview/examples/OperationalizationClusters_Get.json
  specification/machinelearningcompute/resource-manager/Microsoft.MachineLearningCompute/preview/2017-08-01-preview/examples/OperationalizationClusters_ListByResourceGroup.json
  specification/machinelearningcompute/resource-manager/Microsoft.MachineLearningCompute/preview/2017-08-01-preview/examples/OperationalizationClusters_ListBySubscription.json
  specification/machinelearningcompute/resource-manager/Microsoft.MachineLearningCompute/preview/2017-08-01-preview/examples/OperationalizationClusters_ListKeys.json
  specification/machinelearningcompute/resource-manager/Microsoft.MachineLearningCompute/preview/2017-08-01-preview/examples/OperationalizationClusters_Update.json
  specification/machinelearningcompute/resource-manager/Microsoft.MachineLearningCompute/preview/2017-08-01-preview/examples/OperationalizationClusters_UpdateSystemServices.json
  specification/machinelearningcompute/resource-manager/Microsoft.MachineLearningCompute/preview/2017-08-01-preview/machineLearningCompute.json
  specification/machinelearningcompute/resource-manager/readme.go.md
  specification/machinelearningcompute/resource-manager/readme.md
  specification/machinelearningcompute/resource-manager/readme.nodejs.md
  specification/machinelearningcompute/resource-manager/readme.python.md
  specification/machinelearningcompute/resource-manager/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager, BreakingChangeReviewRequired, BreakingChange-Approved-Benign

#28805 Remove the spec of Azure block chain as the service is retired
  specification/blockchain/resource-manager/Microsoft.Blockchain/preview/2018-06-01-preview/blockchain.json
  specification/blockchain/resource-manager/Microsoft.Blockchain/preview/2018-06-01-preview/examples/BlockchainMemberOperationResults_Get.json
  specification/blockchain/resource-manager/Microsoft.Blockchain/preview/2018-06-01-preview/examples/BlockchainMembers_Create.json
  specification/blockchain/resource-manager/Microsoft.Blockchain/preview/2018-06-01-preview/examples/BlockchainMembers_Delete.json
  specification/blockchain/resource-manager/Microsoft.Blockchain/preview/2018-06-01-preview/examples/BlockchainMembers_Get.json
  specification/blockchain/resource-manager/Microsoft.Blockchain/preview/2018-06-01-preview/examples/BlockchainMembers_List.json
  specification/blockchain/resource-manager/Microsoft.Blockchain/preview/2018-06-01-preview/examples/BlockchainMembers_ListAll.json
  specification/blockchain/resource-manager/Microsoft.Blockchain/preview/2018-06-01-preview/examples/BlockchainMembers_ListApiKeys.json
  specification/blockchain/resource-manager/Microsoft.Blockchain/preview/2018-06-01-preview/examples/BlockchainMembers_ListConsortiumMembers.json
  specification/blockchain/resource-manager/Microsoft.Blockchain/preview/2018-06-01-preview/examples/BlockchainMembers_ListRegenerateApiKeys.json
  specification/blockchain/resource-manager/Microsoft.Blockchain/preview/2018-06-01-preview/examples/BlockchainMembers_Update.json
  specification/blockchain/resource-manager/Microsoft.Blockchain/preview/2018-06-01-preview/examples/Locations_CheckNameAvailability.json
  specification/blockchain/resource-manager/Microsoft.Blockchain/preview/2018-06-01-preview/examples/Locations_ListConsortiums.json
  specification/blockchain/resource-manager/Microsoft.Blockchain/preview/2018-06-01-preview/examples/Operations_List.json
  specification/blockchain/resource-manager/Microsoft.Blockchain/preview/2018-06-01-preview/examples/Skus_List.json
  specification/blockchain/resource-manager/Microsoft.Blockchain/preview/2018-06-01-preview/examples/TransactionNodes_Create.json
  specification/blockchain/resource-manager/Microsoft.Blockchain/preview/2018-06-01-preview/examples/TransactionNodes_Delete.json
  specification/blockchain/resource-manager/Microsoft.Blockchain/preview/2018-06-01-preview/examples/TransactionNodes_Get.json
  specification/blockchain/resource-manager/Microsoft.Blockchain/preview/2018-06-01-preview/examples/TransactionNodes_List.json
  specification/blockchain/resource-manager/Microsoft.Blockchain/preview/2018-06-01-preview/examples/TransactionNodes_ListApiKeys.json
  specification/blockchain/resource-manager/Microsoft.Blockchain/preview/2018-06-01-preview/examples/TransactionNodes_ListRegenerateApiKeys.json
  specification/blockchain/resource-manager/Microsoft.Blockchain/preview/2018-06-01-preview/examples/TransactionNodes_Update.json
  specification/blockchain/resource-manager/readme.az.md
  specification/blockchain/resource-manager/readme.cli.md
  specification/blockchain/resource-manager/readme.csharp.md
  specification/blockchain/resource-manager/readme.go.md
  specification/blockchain/resource-manager/readme.java.md
  specification/blockchain/resource-manager/readme.md
  specification/blockchain/resource-manager/readme.python.md
  specification/blockchain/resource-manager/readme.ruby.md
  specification/blockchain/resource-manager/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager, BreakingChangeReviewRequired, BreakingChange-Approved-Benign

#28701 [Hub Generated] Publish private branch 'svc/20240401'
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/examples/ConfigurationNamesList.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/examples/ConnectorDryrunCreate.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/examples/ConnectorDryrunDelete.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/examples/ConnectorDryrunGet.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/examples/ConnectorDryrunList.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/examples/ConnectorDryrunUpdate.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/examples/ConnectorList.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/examples/Connectors.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/examples/DeleteConnector.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/examples/DeleteDryrun.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/examples/DeleteLinker.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/examples/GenerateConfigurations.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/examples/GetConfigurations.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/examples/GetDaprConfigurations.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/examples/GetDryrun.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/examples/Linker.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/examples/LinkerGenerateConfigurations.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/examples/LinkerList.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/examples/ListDryrun.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/examples/OperationsList.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/examples/PatchConnector.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/examples/PatchDryrun.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/examples/PatchLinker.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/examples/PutConnector.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/examples/PutDryrun.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/examples/PutLinker.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/examples/ValidateConnectorSuccess.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/examples/ValidateLinkerSuccess.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/servicelinker.json
  specification/servicelinker/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, MergeRequested

#22407 redis: adding the missing `notify-keyspace-events` value
  specification/redis/resource-manager/Microsoft.Cache/preview/2023-05-01-preview/redis.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/redis.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-05-01/redis.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2022-06-01/redis.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2023-08-01/redis.json
Labels: Redis Cache, ARMSignedOff, customer-reported, ARMReview, resource-manager, ReadyForApiTest, Versioning-Approved-BugFix, VersioningReviewRequired

#28812 BUG 27765797, switch order of lat/lon to lon/lat.
  specification/maps/data-plane/Search/stable/2023-06-01/search.json
Labels: data-plane

#28749 Add new API version 2023-09-01-preview for Microsoft.Insights/ActionGroups
  cSpell.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-09-01-preview/actionGroups_API.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-09-01-preview/examples/createOrUpdateActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-09-01-preview/examples/deleteActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-09-01-preview/examples/enableReceiver.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-09-01-preview/examples/getActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-09-01-preview/examples/getTestNotificationsAtActionGroupResourceLevel.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-09-01-preview/examples/listActionGroups.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-09-01-preview/examples/patchActionGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-09-01-preview/examples/postTestNotificationsAtActionGroupResourceLevel.json
  specification/monitor/resource-manager/readme.md
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, new-api-version, MergeRequested, BreakingChange-Go-Sdk-Approved, BreakingChange-Go-Sdk

#28838 Fix Python Client
  specification/devcenter/DevCenter/python-client.tsp
  specification/devcenter/DevCenter/tspconfig.yaml
Labels: TypeSpec

#28853 Adding Hold/Unhold to Beta4
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/communicationservicescallautomation.json
Labels: data-plane

#28325 Miscellaneous Fixes for Batch DataPlane TypeSpec
  specification/batch/Azure.Batch/client.tsp
  specification/batch/Azure.Batch/examples/2024-02-01.19.0/AccountListPoolNodeCounts.json
  specification/batch/Azure.Batch/examples/2024-02-01.19.0/CertificateCancelDelete.json
  specification/batch/Azure.Batch/examples/2024-02-01.19.0/CertificateCreate.json
  specification/batch/Azure.Batch/examples/2024-02-01.19.0/CertificateDelete.json
  specification/batch/Azure.Batch/examples/2024-02-01.19.0/CertificateGet.json
  specification/batch/Azure.Batch/examples/2024-02-01.19.0/CertificateList.json
  specification/batch/Azure.Batch/examples/2024-02-01.19.0/JobCreate_Complex.json
  specification/batch/Azure.Batch/examples/2024-02-01.19.0/JobScheduleCreate_Complex.json
  specification/batch/Azure.Batch/examples/2024-02-01.19.0/NodeGetRemoteDesktop.json
  specification/batch/Azure.Batch/examples/2024-02-01.19.0/NodeReimage.json
  specification/batch/Azure.Batch/examples/2024-02-01.19.0/PoolCreate_CloudServiceConfiguration.json
  specification/batch/Azure.Batch/examples/2024-02-01.19.0/PoolList_Basic.json
  specification/batch/Azure.Batch/examples/2024-02-01.19.0/PoolUpdate.json
  specification/batch/Azure.Batch/models.tsp
  specification/batch/Azure.Batch/routes.tsp
  specification/batch/data-plane/Azure.Batch/preview/2024-02-01.19.0/BatchService.json
  specification/batch/data-plane/Azure.Batch/preview/2024-02-01.19.0/examples/AccountListPoolNodeCounts.json
  specification/batch/data-plane/Azure.Batch/preview/2024-02-01.19.0/examples/CertificateCancelDelete.json
  specification/batch/data-plane/Azure.Batch/preview/2024-02-01.19.0/examples/CertificateCreate.json
  specification/batch/data-plane/Azure.Batch/preview/2024-02-01.19.0/examples/CertificateDelete.json
  specification/batch/data-plane/Azure.Batch/preview/2024-02-01.19.0/examples/CertificateGet.json
  specification/batch/data-plane/Azure.Batch/preview/2024-02-01.19.0/examples/CertificateList.json
  specification/batch/data-plane/Azure.Batch/preview/2024-02-01.19.0/examples/JobCreate_Complex.json
  specification/batch/data-plane/Azure.Batch/preview/2024-02-01.19.0/examples/JobScheduleCreate_Complex.json
  specification/batch/data-plane/Azure.Batch/preview/2024-02-01.19.0/examples/NodeGetRemoteDesktop.json
  specification/batch/data-plane/Azure.Batch/preview/2024-02-01.19.0/examples/NodeReimage.json
  specification/batch/data-plane/Azure.Batch/preview/2024-02-01.19.0/examples/PoolCreate_CloudServiceConfiguration.json
  specification/batch/data-plane/Azure.Batch/preview/2024-02-01.19.0/examples/PoolList_Basic.json
  specification/batch/data-plane/Azure.Batch/preview/2024-02-01.19.0/examples/PoolUpdate.json
Labels: data-plane, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-UserImpact

#28851 Fix Dev Center tsp
  specification/devcenter/DevCenter/DevBox/models.tsp
  specification/devcenter/DevCenter/Environments/models.tsp
  specification/devcenter/DevCenter/main.tsp
  specification/devcenter/DevCenter/python-client.tsp
  specification/devcenter/DevCenter/tspconfig.yaml
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2023-04-01/devcenter.json
  specification/devcenter/data-plane/Microsoft.DevCenter/stable/2024-02-01/devcenter.json
Labels: data-plane, TypeSpec

#28854 Mask token in examples
  specification/purview/Azure.Analytics.Purview.DataMap/examples/2023-09-01/Discovery_Query_AssetType.json
  specification/purview/Azure.Analytics.Purview.DataMap/examples/2023-09-01/Discovery_Query_Facet.json
  specification/purview/Azure.Analytics.Purview.DataMap/examples/2023-09-01/Discovery_Query_FileExtension.json
  specification/purview/Azure.Analytics.Purview.DataMap/examples/2023-09-01/Discovery_Query_Not.json
  specification/purview/Azure.Analytics.Purview.DataMap/examples/2023-09-01/Discovery_Query_PaginationContinuationPage.json
  specification/purview/Azure.Analytics.Purview.DataMap/examples/2023-09-01/Discovery_Query_PaginationFirstPage.json
  specification/purview/Azure.Analytics.Purview.DataMap/examples/2023-09-01/Discovery_Query_PaginationLastPage.json
  specification/purview/Azure.Analytics.Purview.DataMap/examples/2023-09-01/Discovery_Query_Taxonomy.json
  specification/purview/Azure.Analytics.Purview.DataMap/examples/2023-09-01/Discovery_Query_Type.json
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/preview/2023-10-01-preview/examples/Audit_Query.json
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/preview/2023-10-01-preview/examples/Discovery_Query_AssetType.json
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/preview/2023-10-01-preview/examples/Discovery_Query_Facet.json
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/preview/2023-10-01-preview/examples/Discovery_Query_FileExtension.json
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/preview/2023-10-01-preview/examples/Discovery_Query_Not.json
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/preview/2023-10-01-preview/examples/Discovery_Query_PaginationContinuationPage.json
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/preview/2023-10-01-preview/examples/Discovery_Query_PaginationFirstPage.json
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/preview/2023-10-01-preview/examples/Discovery_Query_PaginationLastPage.json
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/preview/2023-10-01-preview/examples/Discovery_Query_Taxonomy.json
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/preview/2023-10-01-preview/examples/Discovery_Query_Type.json
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/stable/2023-09-01/examples/Discovery_Query_AssetType.json
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/stable/2023-09-01/examples/Discovery_Query_Facet.json
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/stable/2023-09-01/examples/Discovery_Query_FileExtension.json
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/stable/2023-09-01/examples/Discovery_Query_Not.json
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/stable/2023-09-01/examples/Discovery_Query_PaginationContinuationPage.json
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/stable/2023-09-01/examples/Discovery_Query_PaginationFirstPage.json
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/stable/2023-09-01/examples/Discovery_Query_PaginationLastPage.json
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/stable/2023-09-01/examples/Discovery_Query_Taxonomy.json
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/stable/2023-09-01/examples/Discovery_Query_Type.json
Labels: data-plane, MergeRequested

#28843 Add new tag for app insights with GA swaggers
  specification/applicationinsights/resource-manager/readme.md
Labels: WaitForARMFeedback, ARMReview, resource-manager, ReadyForApiTest, BreakingChange-Go-Sdk

#28785 Fix comments
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-03-02-preview/managedClusters.json
Labels: resource-manager

#28860 Add api-version for Java
  specification/devcenter/DevCenter/tspconfig.yaml
Labels: TypeSpec

#28659 Add new app model properties for Sql server family connectors for Date Factory and Synapse
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
Labels: ARMSignedOff, customer-reported, ShiftLeftViolation, ARMReview, resource-manager, data-plane, ReadyForApiTest, MergeRequested, Versioning-Approved-BugFix, VersioningReviewRequired, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk

#28858 Update comment.yml: improve ARM-related guidance. For `CI-NewRPNamespaceWithoutRPaaS` etc.
  .github/comment.yml
Labels: Central-EngSys, Spec PR Tools

#28848 Added a list of possible values for obstructionsToVisibility.
  specification/maps/data-plane/Weather/stable/1.1/weather.json
Labels: data-plane

#28874 Prettier Check Fix
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/examples/Compute/createOrUpdate/AKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/examples/Compute/createOrUpdate/AmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/examples/Compute/createOrUpdate/BasicAKSCompute.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#28831 Update listWorkspaceKeys.json to remove sensitive data
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2018-03-01-preview/examples/listWorkspaceKeys.json
Labels: Approved-ModelValidation, resource-manager

#28832 add typescript.md and disable flatten for guestconfiguration
  specification/guestconfiguration/resource-manager/readme.md
  specification/guestconfiguration/resource-manager/readme.typescript.md
Labels: resource-manager, ReadyForApiTest

#28886 add new version tag for mysql
  specification/mysql/resource-manager/readme.typescript.md
Labels: resource-manager, ReadyForApiTest

#28844 clean up flagged value and replace with placeholder
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2020-07-01-preview/examples/CreateExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2020-07-01-preview/examples/GetExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2020-07-01-preview/examples/UpdateExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/examples/CreateExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/examples/GetExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-05-01-preview/examples/ListExtensions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-11-01-preview/examples/CreateExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-11-01-preview/examples/GetExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-11-01-preview/examples/ListExtensions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2021-11-01-preview/examples/PatchExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-01-01-preview/examples/CreateExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-01-01-preview/examples/GetExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-01-01-preview/examples/ListExtensions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-01-01-preview/examples/PatchExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-04-02-preview/examples/CreateExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-04-02-preview/examples/GetExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-04-02-preview/examples/ListExtensions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2022-04-02-preview/examples/PatchExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2021-09-01/examples/CreateExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2021-09-01/examples/GetExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2021-09-01/examples/ListExtensions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2021-09-01/examples/PatchExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-03-01/examples/CreateExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-03-01/examples/GetExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-03-01/examples/ListExtensions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-03-01/examples/PatchExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-07-01/examples/CreateExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-07-01/examples/GetExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-07-01/examples/ListExtensions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-07-01/examples/PatchExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/examples/CreateExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/examples/GetExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/examples/GetExtensionWithPlan.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/examples/ListExtensions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2022-11-01/examples/PatchExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/examples/CreateExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/examples/GetExtension.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/examples/GetExtensionWithPlan.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/examples/ListExtensions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/stable/2023-05-01/examples/PatchExtension.json
Labels: ARMSignedOff, Approved-ModelValidation, ARMReview, resource-manager

#28892 Updates for documentation rule updates
  specification/ai/HealthInsights/HealthInsights.OpenAPI/service.tsp
  specification/ai/ImageAnalysis/main.tsp
  specification/cognitiveservices/AnomalyDetector/main.tsp
  specification/cognitiveservices/ContentSafety/main.tsp
  specification/cognitiveservices/Language.AnalyzeText/models/sentiment.analysis.tsp
  specification/cognitiveservices/Language.Conversations/common.tsp
  specification/cognitiveservices/OpenAI.Inference/main.tsp
  specification/confidentialledger/Microsoft.CodeTransparency/models.tsp
  specification/confidentialledger/Microsoft.ManagedCcf/main.tsp
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure/main.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/main.tsp
  specification/eventgrid/Azure.Messaging.EventGrid/main.tsp
  specification/machinelearning/Azure.AI.ChatProtocol/main.tsp
  specification/schemaregistry/SchemaRegistry/main.tsp
  specification/translation/Azure.AI.TextTranslation/main.tsp
  specification/translation/Azure.AI.TextTranslation/models-translate.tsp
  specification/vmware/Microsoft.AVS/routes.tsp
Labels: TypeSpec

#28870 move common type definition to pick up from latest official typing file
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/types/capabilities.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/types/capabilityTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/types/common.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/types/experiments.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/types/privateAccesses.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/types/targetTypes.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/types/targets.json
Labels: resource-manager

#28897 Dev Center Java rename to InUnit
  specification/devcenter/DevCenter/client.tsp
Labels: TypeSpec

#28768 Update documentation for UnifiedVision 2023 GA
  specification/cognitiveservices/data-plane/UnifiedVision/stable/2023-10-01/UnifiedVision.json
Labels: data-plane, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-Benign

#28769 Update documentation for UnifiedVision 2024 GA
  specification/cognitiveservices/data-plane/UnifiedVision/stable/2024-02-01/UnifiedVision.json
Labels: data-plane, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-Benign

#28770 Update documentation for CustomVision Training 3.3
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.3/Training.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.3/examples/CreateImagesFromFiles.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.3/examples/DeleteImageRegions.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.3/examples/GetImagePerformanceCount.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.3/examples/GetImagePerformances.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.3/examples/GetTaggedImageCount.json
  specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.3/examples/GetUntaggedImageCount.json
Labels: Approved-LintDiff, data-plane, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-Benign

#28820 Update documentation for FormRecognizer 2022-08-31
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/FormRecognizer.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/examples/AnalyzeDocument_Base64.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/examples/AnalyzeDocument_Url.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/examples/AuthorizeCopyDocumentModel.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/examples/BuildDocumentModel.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/examples/ComposeDocumentModel.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/examples/CopyDocumentModelTo.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/examples/DeleteDocumentModel.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/examples/GetAnalyzeDocumentResult.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/examples/GetDocumentModel_Custom.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/examples/GetDocumentModel_Prebuilt.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/examples/GetDocumentModels.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/examples/GetOperation.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/examples/GetOperations.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/2022-08-31/examples/GetResourceDetails.json
Labels: data-plane, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-Benign

#28771 Update documentation for CustomVision Prediction 3.1
  specification/cognitiveservices/data-plane/CustomVision/Prediction/stable/v3.1/Prediction.json
Labels: data-plane, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-Benign

#28823 Update documentation for FormRecognizer v2.1
  specification/cognitiveservices/data-plane/FormRecognizer/stable/v2.1/FormRecognizer.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/v2.1/examples/AnalyzeBatch.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/v2.1/examples/AnalyzeOperationResult.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/v2.1/examples/BusinessCardBatch.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/v2.1/examples/BusinessCardBatchResult.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/v2.1/examples/ComposeModels.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/v2.1/examples/CopyModel.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/v2.1/examples/CopyModelAuthorization.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/v2.1/examples/CopyOperationResult.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/v2.1/examples/CopyOperationResultWithErrors.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/v2.1/examples/DeleteModel.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/v2.1/examples/GetModel.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/v2.1/examples/IDDocumentBatch.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/v2.1/examples/IDDocumentBatchResult.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/v2.1/examples/InvoiceBatch.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/v2.1/examples/InvoiceBatchResult.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/v2.1/examples/LayoutBatch.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/v2.1/examples/LayoutBatchResult.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/v2.1/examples/ReceiptsBatch.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/v2.1/examples/ReceiptsBatchResult.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/v2.1/examples/TrainBatch.json
  specification/cognitiveservices/data-plane/FormRecognizer/stable/v2.1/examples/TrainBatchWithSubFolders.json
Labels: data-plane, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-Benign

#28883 [Speech][BatchSynthesis] Fix some inaccurate wording in document
  specification/cognitiveservices/data-plane/Speech/BatchTextToSpeech/stable/2024-04-01/batchsynthesis.json
Labels: data-plane

#28900 fix python sdk tag for 2024-04-01-preview version
  specification/kubernetesconfiguration/resource-manager/readme.md
  specification/kubernetesconfiguration/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#27188 [Maps] Async Batch APIs for Forward/Reverse Geocode and Routing
  cSpell.json
  specification/maps/data-plane/AsyncBatchManagement/preview/2024-04-01-preview/asyncBatchManagement.json
  specification/maps/data-plane/AsyncBatchManagement/preview/2024-04-01-preview/examples/GetOperationStatusFailed.json
  specification/maps/data-plane/AsyncBatchManagement/preview/2024-04-01-preview/examples/GetOperationStatusNotStarted.json
  specification/maps/data-plane/AsyncBatchManagement/preview/2024-04-01-preview/examples/GetOperationStatusRunning.json
  specification/maps/data-plane/AsyncBatchManagement/preview/2024-04-01-preview/examples/GetOperationStatusSucceeded.json
  specification/maps/data-plane/AsyncBatchManagement/preview/2024-04-01-preview/examples/GetOperations.json
  specification/maps/data-plane/AsyncBatchManagement/readme.md
  specification/maps/data-plane/Route/preview/2024-04-01-preview/examples/DirectionsAsyncBatch.json
  specification/maps/data-plane/Route/preview/2024-04-01-preview/examples/PostRouteDirections.json
  specification/maps/data-plane/Route/preview/2024-04-01-preview/examples/PostRouteDirectionsBatch.json
  specification/maps/data-plane/Route/preview/2024-04-01-preview/route.json
  specification/maps/data-plane/Route/readme.md
  specification/maps/data-plane/Search/preview/2024-04-01-preview/examples/ForwardGeocoding.json
  specification/maps/data-plane/Search/preview/2024-04-01-preview/examples/ForwardGeocodingAsyncBatch.json
  specification/maps/data-plane/Search/preview/2024-04-01-preview/examples/ForwardGeocodingBatch.json
  specification/maps/data-plane/Search/preview/2024-04-01-preview/examples/ForwardGeocodingByAddressLine.json
  specification/maps/data-plane/Search/preview/2024-04-01-preview/examples/ForwardGeocodingByQuery.json
  specification/maps/data-plane/Search/preview/2024-04-01-preview/examples/ForwardGeocodingFindLandmarkByQuery.json
  specification/maps/data-plane/Search/preview/2024-04-01-preview/examples/GetPolygon.json
  specification/maps/data-plane/Search/preview/2024-04-01-preview/examples/ReverseGeocoding.json
  specification/maps/data-plane/Search/preview/2024-04-01-preview/examples/ReverseGeocodingAsyncBatch.json
  specification/maps/data-plane/Search/preview/2024-04-01-preview/examples/ReverseGeocodingBatch.json
  specification/maps/data-plane/Search/preview/2024-04-01-preview/search.json
  specification/maps/data-plane/Search/readme.md
  specification/maps/data-plane/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, new-api-version, CI-MissingBaseCommit

#28895 Add transcription start, stop, update, get state APIs to beta4 controller
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/communicationservicescallautomation.json
Labels: data-plane
