Repository Azure/azure-rest-api-specs, pull requests merged in 2024-06, with the labels that each got.

#29032 Add Entra ID OAuthe2 token support
  specification/ai/HealthInsights/HealthInsights.OpenAPI/service.tsp
  specification/ai/data-plane/HealthInsights/stable/2024-04-01/openapi.json
Labels: data-plane, TypeSpec

#29301 Update readme.python.md
  specification/mysql/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#29119 GA3 Changes
  specification/communication/data-plane/CallAutomation/preview/2023-10-03-preview/communicationservicescallautomation.json
Labels: data-plane

#28896 Imagebuilder API Release 2024-02-01
  custom-words.txt
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2024-02-01/examples/CancelImageBuild.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2024-02-01/examples/CreateImageTemplateLinux.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2024-02-01/examples/CreateImageTemplateWindows.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2024-02-01/examples/CreateSourceImageTrigger.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2024-02-01/examples/DeleteImageTemplate.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2024-02-01/examples/DeleteTrigger.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2024-02-01/examples/GetImageTemplate.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2024-02-01/examples/GetRunOutput.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2024-02-01/examples/GetTrigger.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2024-02-01/examples/ListImageTemplates.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2024-02-01/examples/ListImageTemplatesByRg.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2024-02-01/examples/ListRunOutputs.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2024-02-01/examples/ListTriggers.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2024-02-01/examples/OperationsList.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2024-02-01/examples/RunImageTemplate.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2024-02-01/examples/UpdateImageTemplateTags.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2024-02-01/examples/UpdateImageTemplateToRemoveIdentities.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2024-02-01/examples/UpdateImageTemplateVmProfile.json
  specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2024-02-01/imagebuilder.json
  specification/imagebuilder/resource-manager/readme.md
Labels: ARMSignedOff, DoNotMerge, ShiftLeftViolation, ARMReview, resource-manager, ReadyForApiTest, Approved-Suppression, SuppressionReviewRequired, new-api-version, MergeRequested, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-JavaScript-Sdk

#29165 Update readme.md to show up documentation for preview version
  specification/support/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk

#29309 Update readme.python.md
  specification/oracle/resource-manager/readme.md
  specification/oracle/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS

#29313 update mysql readme to remove -track2 word for python
  specification/mysql/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#29311 Add info about `SDK azure-sdk-for-*` checks and `SDK azure-powershell` to `ci-fix` doc; Clean up markdownlint rules and `ci-fix` doc.
  .markdownlint.json
  .markdownlint.jsonc
  .vscode/settings.json
  documentation/ci-fix.md
Labels: Central-EngSys, Spec PR Tools

#29153 RouteMatrix 2024-06-01-preview
  specification/maps/data-plane/Route/preview/2024-06-01-preview/examples/DirectionsAsyncBatch.json
  specification/maps/data-plane/Route/preview/2024-06-01-preview/examples/GetRouteMatrixAsyncResult.json
  specification/maps/data-plane/Route/preview/2024-06-01-preview/examples/GetRouteOperationStatusFailed.json
  specification/maps/data-plane/Route/preview/2024-06-01-preview/examples/GetRouteOperationStatusRunning.json
  specification/maps/data-plane/Route/preview/2024-06-01-preview/examples/GetRouteOperationStatusSucceeded.json
  specification/maps/data-plane/Route/preview/2024-06-01-preview/examples/PostRouteDirections.json
  specification/maps/data-plane/Route/preview/2024-06-01-preview/examples/PostRouteDirectionsBatch.json
  specification/maps/data-plane/Route/preview/2024-06-01-preview/examples/PostRouteMatrix.json
  specification/maps/data-plane/Route/preview/2024-06-01-preview/examples/PostRouteMatrixAsync.json
  specification/maps/data-plane/Route/preview/2024-06-01-preview/examples/PostRouteRange.json
  specification/maps/data-plane/Route/preview/2024-06-01-preview/examples/PostRouteRangeBatch.json
  specification/maps/data-plane/Route/preview/2024-06-01-preview/examples/PostSnapToRoads.json
  specification/maps/data-plane/Route/preview/2024-06-01-preview/examples/PostSnapToRoadsBatch.json
  specification/maps/data-plane/Route/preview/2024-06-01-preview/route.json
  specification/maps/data-plane/Route/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, Approved-Suppression, SuppressionReviewRequired, new-api-version

#29297 [OAI-Assistant] Added Missing annotation and delete unnecessary annotation
  specification/ai/OpenAI.Assistants/tools/tool_resources.tsp
  specification/ai/OpenAI.Assistants/vector_stores/files/routes.tsp
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV2/preview/2024-05-01-preview/assistants_generated.json
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV3/2024-05-01-preview/assistants_generated.yaml
Labels: data-plane, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-BugFix

#28327 Storage STG 94
  specification/storage/data-plane/Microsoft.BlobStorage/readme.md
  specification/storage/data-plane/Microsoft.BlobStorage/stable/2024-08-04/blob.json
  specification/storage/data-plane/Microsoft.FileStorage/readme.md
  specification/storage/data-plane/Microsoft.FileStorage/stable/2024-08-04/file.json
Labels: Approved-LintDiff, APIStewardshipBoard-SignedOff, data-plane, BreakingChangeReviewRequired, new-api-version, BreakingChange-Approved-Benign

#29331 Added new File swagger
  specification/storage/data-plane/Microsoft.FileStorage/readme.md
  specification/storage/data-plane/Microsoft.FileStorage/stable/2024-11-04/file.json
Labels: data-plane

#29050 Storage Task Assignment Swagger Updates
  specification/storage/resource-manager/Microsoft.Storage/stable/2023-05-01/common.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2023-05-01/examples/storageTaskAssignmentsCrud/PutStorageTaskAssignmentRequiredProperties.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2023-05-01/storageTaskAssignments.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-BugFix

#29112 [new] Update Hibernate Public Docs to remove "Feature in Preview"
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-03-01/virtualMachine.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#29341 [OpenAI-Assistants] Documentation typo
  specification/ai/OpenAI.Assistants/tools/models.tsp
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV3/2024-05-01-preview/assistants_generated.yaml
Labels: TypeSpec

#29226 Update 2023-12-01 Microsoft.Web functionAppConfig definition
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/CommonDefinitions.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-BugFix

#28891 Update `securityPostureReference` in VMScaleSet API
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-03-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithSecurityPostureReference.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-03-01/virtualMachineScaleSet.json
  specification/compute/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-BugFix, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-JavaScript-Sdk-Suppression-Approved, BreakingChange-Python-Sdk-Suppression-Approved, BreakingChange-Go-Sdk-Suppression, BreakingChange-JavaScript-Sdk-Suppression, BreakingChange-Python-Sdk-Suppression

#29328 Enable stream-stype serialization for Java Communication Job Router
  specification/communication/Communication.JobRouter/models.tsp
  specification/communication/Communication.JobRouter/tspconfig.yaml
Labels: TypeSpec

#27950 Azure Map Rendering 20240401
  specification/maps/data-plane/Render/readme.md
  specification/maps/data-plane/Render/stable/2024-04-01/examples/Render_GetCopyrightCaption.json
  specification/maps/data-plane/Render/stable/2024-04-01/examples/Render_GetCopyrightForTile.json
  specification/maps/data-plane/Render/stable/2024-04-01/examples/Render_GetCopyrightForWorld.json
  specification/maps/data-plane/Render/stable/2024-04-01/examples/Render_GetCopyrightFromBoundingBox.json
  specification/maps/data-plane/Render/stable/2024-04-01/examples/Render_GetMapAttribution.json
  specification/maps/data-plane/Render/stable/2024-04-01/examples/Render_GetMapStateTile.json
  specification/maps/data-plane/Render/stable/2024-04-01/examples/Render_GetMapStaticImage.json
  specification/maps/data-plane/Render/stable/2024-04-01/examples/Render_GetMapTile.json
  specification/maps/data-plane/Render/stable/2024-04-01/examples/Render_GetMapTileset.json
  specification/maps/data-plane/Render/stable/2024-04-01/render.json
Labels: APIStewardshipBoard-SignedOff, data-plane, BreakingChangeReviewRequired, new-api-version, BreakingChange-Approved-UserImpact

#29128 Add LeastRequestsWithTieBreaker
  specification/web/resource-manager/Microsoft.Web/stable/2024-04-01/CommonDefinitions.json
Labels: ARMSignedOff, ARMReview, resource-manager

#28875 [ACS][Communication][Chat] 2024-06-05-preview public preview API spec
  specification/communication/data-plane/Chat/preview/2024-06-05-preview/communicationserviceschat.json
  specification/communication/data-plane/Chat/preview/2024-06-05-preview/examples/Conversations_ListChatReadReceiptsWithPageSize.json
  specification/communication/data-plane/Chat/preview/2024-06-05-preview/examples/Conversations_SendChatReadReceipt.json
  specification/communication/data-plane/Chat/preview/2024-06-05-preview/examples/Images_DeleteChatImage.json
  specification/communication/data-plane/Chat/preview/2024-06-05-preview/examples/Images_GetChatImage.json
  specification/communication/data-plane/Chat/preview/2024-06-05-preview/examples/Images_UploadChatImage.json
  specification/communication/data-plane/Chat/preview/2024-06-05-preview/examples/Messages_DeleteChatMessage.json
  specification/communication/data-plane/Chat/preview/2024-06-05-preview/examples/Messages_GetChatMessage.json
  specification/communication/data-plane/Chat/preview/2024-06-05-preview/examples/Messages_ListChatMessagesWithPageSize.json
  specification/communication/data-plane/Chat/preview/2024-06-05-preview/examples/Messages_SendChatMessage.json
  specification/communication/data-plane/Chat/preview/2024-06-05-preview/examples/Messages_SendTypingNotification.json
  specification/communication/data-plane/Chat/preview/2024-06-05-preview/examples/Messages_UpdateChatMessage.json
  specification/communication/data-plane/Chat/preview/2024-06-05-preview/examples/Participants_AddChatParticipants.json
  specification/communication/data-plane/Chat/preview/2024-06-05-preview/examples/Participants_ListChatParticipantsWithPageSize.json
  specification/communication/data-plane/Chat/preview/2024-06-05-preview/examples/Participants_RemoveChatParticipant.json
  specification/communication/data-plane/Chat/preview/2024-06-05-preview/examples/Threads_CreateChatThread.json
  specification/communication/data-plane/Chat/preview/2024-06-05-preview/examples/Threads_CreateChatThreadWithIdempotencyToken.json
  specification/communication/data-plane/Chat/preview/2024-06-05-preview/examples/Threads_DeleteChatThread.json
  specification/communication/data-plane/Chat/preview/2024-06-05-preview/examples/Threads_GetChatThread.json
  specification/communication/data-plane/Chat/preview/2024-06-05-preview/examples/Threads_ListChatThreadsWithPageSize.json
  specification/communication/data-plane/Chat/preview/2024-06-05-preview/examples/Threads_UpdateChatThreadTopic.json
  specification/communication/data-plane/Chat/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, new-api-version

#29292 added networkidentifier under vnet->subet->serviceendpoint
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/SubnetCreateServiceEndpointNetworkIdentifier.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/virtualNetwork.json
Labels: ARMSignedOff, ARMReview, resource-manager

#29344 [Microsoft.DocumentDB] Bug fix for preview API Version 2024-05-15-preview
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-05-15-preview/services.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-BugFix

#29366 [EG] mark internal all
  specification/eventgrid/Azure.Messaging.EventGrid/client.tsp
  specification/eventgrid/Azure.Messaging.EventGrid/tspconfig.yaml
Labels: TypeSpec

#29246 Sentinel-2024-04-01-preview-AdvancedAutomationRulesConditionsForIncidentLabels
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/AutomationRules.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/examples/automationRules/AutomationRules_CreateOrUpdate.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/examples/automationRules/AutomationRules_Get.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/examples/automationRules/AutomationRules_List.json
Labels: ARMSignedOff, resource-manager

#28828 Nnagarajanmsft elasticsan microsoft.elastic san 2024 05 01
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/elasticsan.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/ElasticSans_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/ElasticSans_Create_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/ElasticSans_Delete_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/ElasticSans_Delete_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/ElasticSans_Get_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/ElasticSans_Get_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/ElasticSans_ListByResourceGroup_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/ElasticSans_ListByResourceGroup_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/ElasticSans_ListBySubscription_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/ElasticSans_ListBySubscription_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/ElasticSans_Update_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/ElasticSans_Update_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/Operations_List_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/Operations_List_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/PrivateEndpointConnections_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/PrivateEndpointConnections_Create_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/PrivateEndpointConnections_Delete_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/PrivateEndpointConnections_Delete_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/PrivateEndpointConnections_Get_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/PrivateEndpointConnections_Get_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/PrivateEndpointConnections_List_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/PrivateEndpointConnections_List_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/PrivateLinkResources_ListByElasticSan_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/PrivateLinkResources_ListByElasticSan_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/Skus_List_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/Skus_List_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/VolumeGroups_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/VolumeGroups_Create_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/VolumeGroups_Delete_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/VolumeGroups_Delete_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/VolumeGroups_Get_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/VolumeGroups_Get_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/VolumeGroups_ListByElasticSan_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/VolumeGroups_ListByElasticSan_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/VolumeGroups_Update_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/VolumeGroups_Update_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/VolumeSnapshots_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/VolumeSnapshots_Create_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/VolumeSnapshots_Delete_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/VolumeSnapshots_Delete_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/VolumeSnapshots_Get_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/VolumeSnapshots_Get_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/VolumeSnapshots_ListByVolumeGroup_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/VolumeSnapshots_ListByVolumeGroup_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/Volumes_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/Volumes_Create_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/Volumes_Delete_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/Volumes_Delete_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/Volumes_Get_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/Volumes_Get_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/Volumes_ListByVolumeGroup_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/Volumes_ListByVolumeGroup_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/Volumes_Update_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/stable/2024-05-01/examples/Volumes_Update_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/readme.md
  specification/elasticsan/resource-manager/readme.typescript.md
Labels: ARMSignedOff, DoNotMerge, ARMReview, resource-manager, new-api-version, MergeRequested, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-JavaScript-Sdk

#29146 update(acns): advanced networking profile to note addition costs
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-03-02-preview/managedClusters.json
Labels: ARMSignedOff, ShiftLeftViolation, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#29351 vmware, mgmt, tsp, bug fix for leaseTime to int64
  specification/vmware/Microsoft.AVS/models.tsp
  specification/vmware/resource-manager/Microsoft.AVS/stable/2023-09-01/vmware.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-BugFix

#29343 resolving conflict
  specification/network/resource-manager/readme.md
Labels: WaitForARMFeedback, ARMReview, resource-manager

#29357 Fix for PR VirtualNetworkGatewayConnection using key vault for authentication.
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/VirtualNetworkGatewayUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/virtualNetworkGateway.json
Labels: ARMSignedOff, ARMReview, resource-manager

#29367 Guptavertika/release network microsoft.network official 2024 01 01
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/SubnetCreateServiceEndpointNetworkIdentifier.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/virtualNetwork.json
Labels: ARMSignedOff, ARMReview, resource-manager

#29082 [Microsoft.StorageMover] [UploadLimitSchedule] [v2024-07-01]
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Agents_CreateOrUpdate_MaximumSet.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Agents_CreateOrUpdate_MinimumSet.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Agents_CreateOrUpdate_UploadLimitSchedule_Overnight.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Agents_Delete.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Agents_Get_MaximumSet.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Agents_Get_MinimumSet.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Agents_List_MaximumSet.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Agents_List_MinimumSet.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Agents_Update.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Endpoints_CreateOrUpdate_AzureStorageBlobContainer.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Endpoints_CreateOrUpdate_AzureStorageSmbFileShare.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Endpoints_CreateOrUpdate_NfsMount.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Endpoints_CreateOrUpdate_SmbMount.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Endpoints_Delete.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Endpoints_Get_AzureStorageBlobContainer.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Endpoints_Get_AzureStorageSmbFileShare.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Endpoints_Get_NfsMount.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Endpoints_Get_SmbMount.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Endpoints_List.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Endpoints_Update_AzureStorageBlobContainer.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Endpoints_Update_AzureStorageSmbFileShare.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Endpoints_Update_NfsMount.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Endpoints_Update_SmbMount.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/JobDefinitions_CreateOrUpdate.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/JobDefinitions_Delete.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/JobDefinitions_Get.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/JobDefinitions_List.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/JobDefinitions_StartJob.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/JobDefinitions_StopJob.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/JobDefinitions_Update.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/JobRuns_Get.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/JobRuns_List.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Operations_List.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Projects_CreateOrUpdate.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Projects_Delete.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Projects_Get.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Projects_List.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/Projects_Update.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/StorageMovers_CreateOrUpdate.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/StorageMovers_Delete.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/StorageMovers_Get.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/StorageMovers_List.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/StorageMovers_ListBySubscription.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/examples/StorageMovers_Update.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2024-07-01/storagemover.json
  specification/storagemover/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, MergeRequested

#29316 Downgraded the version of ManagedInstances to generate .Net SDK for sql/resource manager
  specification/sql/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#29350 Update 2023-12-01 Microsoft.Web functionAppConfig definition (#29226)
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/CommonDefinitions.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-04-01/CommonDefinitions.json
Labels: ARMSignedOff, ARMReview, resource-manager

#29339 Adding GET operation for Network Virtual Appliance Inbound Secuirty Rules
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/InboundSecurityRuleGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/networkVirtualAppliance.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#29354 Add SKU property to site. Add description for supported values of kin…
  specification/web/resource-manager/Microsoft.Web/stable/2024-04-01/CommonDefinitions.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-04-01/examples/GetWebApp.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-04-01/examples/GetWebAppSlot.json
Labels: ARMSignedOff, ARMReview, resource-manager

#29278 Add suppressions for AvoidAdditionalProperties
  specification/securityinsights/resource-manager/readme.md
Labels: resource-manager, SuppressionReviewRequired

#29333 User/rohinisharma/update instance info
  specification/web/resource-manager/Microsoft.Web/stable/2024-04-01/WebApps.json
Labels: ARMSignedOff, ARMReview, resource-manager

#29211 Release azuredatatransfer microsoft.azure data transfer stable/2024 05 07
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-05-07/azuredatatransfer.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-05-07/examples/approveOrRejectConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-05-07/examples/createOrUpdateConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-05-07/examples/createOrUpdateFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-05-07/examples/createOrUpdatePipeline.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-05-07/examples/deleteConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-05-07/examples/deleteFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-05-07/examples/deletePipeline.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-05-07/examples/enableOrDisableFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-05-07/examples/getConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-05-07/examples/getFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-05-07/examples/getPipeline.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-05-07/examples/linkConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-05-07/examples/linkFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-05-07/examples/listConnectionsByResourceGroup.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-05-07/examples/listConnectionsBySubscription.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-05-07/examples/listFlowsByConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-05-07/examples/listOperations.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-05-07/examples/listPendingConnections.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-05-07/examples/listPendingFlows.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-05-07/examples/listPipelinesByResourceGroup.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-05-07/examples/listPipelinesBySubscription.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-05-07/examples/listSchemas.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-05-07/examples/patchConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-05-07/examples/patchFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-05-07/examples/patchPipeline.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-05-07/examples/postListApprovedSchemas.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-05-07/examples/postValidateSchema.json
  specification/azuredatatransfer/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, MergeRequested

#29382 Adding documentation for properties
  package-lock.json
  specification/translation/Azure.AI.DocumentTranslation/models.tsp
Labels: TypeSpec, MergeRequested

#29025 Fix Account Key Type and CogServices SKU Location
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-04-01-preview/examples/Endpoint/Deployment/create.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-04-01-preview/examples/Endpoint/Deployment/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-04-01-preview/examples/Endpoint/Deployment/getDeployments.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-04-01-preview/examples/Endpoint/Deployment/getInWorkspace.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-04-01-preview/examples/WorkspaceConnection/createDeployment.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-04-01-preview/examples/WorkspaceConnection/getDeployment.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-04-01-preview/examples/WorkspaceConnection/listDeployments.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-04-01-preview/workspaceRP.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/machineLearningServices.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-BugFix

#29094 Added Stable Version changes for Saved Query API
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2019-04-01/examples/GraphQueryAdd.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2019-04-01/examples/GraphQueryDelete.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2019-04-01/examples/GraphQueryGet.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2019-04-01/examples/GraphQueryList.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2019-04-01/examples/GraphQueryUpdate.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2019-04-01/graphquery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2021-03-01/examples/GraphQueryAdd.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2021-03-01/examples/GraphQueryDelete.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2021-03-01/examples/GraphQueryGet.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2021-03-01/examples/GraphQueryList.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2021-03-01/examples/GraphQueryUpdate.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2021-03-01/graphquery.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2022-10-01/examples/GraphQueryAdd.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2022-10-01/examples/GraphQueryDelete.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2022-10-01/examples/GraphQueryGet.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2022-10-01/examples/GraphQueryList.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2022-10-01/examples/GraphQueryUpdate.json
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2022-10-01/graphquery.json
  specification/resourcegraph/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested, Versioning-Approved-BugFix, VersioningReviewRequired

#29230 Added missing continuation settings for execute dataflow activity
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: ARMSignedOff, ARMReview, resource-manager, data-plane, ReadyForApiTest, MergeRequested, Versioning-Approved-BugFix, VersioningReviewRequired

#29268 Replace apiKey with more obvious dummy value
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/APIKeysCreate.json
Labels: ARMSignedOff, customer-reported, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#29319 Update TypeSpec for DeviceRegistry
  specification/deviceregistry/DeviceRegistry.Management/assetEndpointProfiles.tsp
  specification/deviceregistry/DeviceRegistry.Management/assets.tsp
  specification/deviceregistry/DeviceRegistry.Management/client.tsp
  specification/deviceregistry/DeviceRegistry.Management/examples/2023-11-01-preview/Update_Asset.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2023-11-01-preview/Update_AssetEndpointProfile.json
  specification/deviceregistry/DeviceRegistry.Management/tspconfig.yaml
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/deviceregistry.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/Update_Asset.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/Update_AssetEndpointProfile.json
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, RPaaS, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-Benign

#29398 Revert "Update TypeSpec for DeviceRegistry"
  specification/deviceregistry/DeviceRegistry.Management/assetEndpointProfiles.tsp
  specification/deviceregistry/DeviceRegistry.Management/assets.tsp
  specification/deviceregistry/DeviceRegistry.Management/client.tsp
  specification/deviceregistry/DeviceRegistry.Management/examples/2023-11-01-preview/Update_Asset.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2023-11-01-preview/Update_AssetEndpointProfile.json
  specification/deviceregistry/DeviceRegistry.Management/tspconfig.yaml
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/deviceregistry.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/Update_Asset.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/examples/Update_AssetEndpointProfile.json
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, RPaaS, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-BugFix

#29393 [scvmm&azure fleet&oracle] update python config
  specification/azurefleet/AzureFleet.Management/client.tsp
  specification/azurefleet/AzureFleet.Management/tspconfig.yaml
  specification/oracle/Oracle.Database/client.tsp
  specification/oracle/Oracle.Database/tspconfig.yaml
  specification/scvmm/ScVmm.Management/client.tsp
  specification/scvmm/ScVmm.Management/tspconfig.yaml
Labels: TypeSpec

#28792 Release purview microsoft.purview preview/2024 04 01 preview
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/examples/Accounts_AddRootCollectionAdmin.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/examples/Accounts_CheckNameAvailability.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/examples/Accounts_CreateOrUpdate.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/examples/Accounts_Delete.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/examples/Accounts_Get.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/examples/Accounts_ListByResourceGroup.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/examples/Accounts_ListBySubscription.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/examples/Accounts_ListKeys.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/examples/Accounts_Update.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/examples/DefaultAccounts_Get.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/examples/DefaultAccounts_Remove.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/examples/DefaultAccounts_Set.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/examples/Features_AccountGet.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/examples/Features_SubscriptionGet.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/examples/IngestionPrivateEndpointConnections_List.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/examples/IngestionPrivateEndpointConnections_UpdateStatus.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/examples/KafkaConfigurations_CreateOrUpdate.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/examples/KafkaConfigurations_Delete.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/examples/KafkaConfigurations_Get.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/examples/KafkaConfigurations_ListByAccount.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/examples/Operations_List.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/examples/PrivateEndpointConnections_CreateOrUpdate.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/examples/PrivateEndpointConnections_Delete.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/examples/PrivateEndpointConnections_Get.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/examples/PrivateEndpointConnections_ListByAccount.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/examples/PrivateLinkResources_GetByGroupId.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/examples/PrivateLinkResources_ListByAccount.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/examples/Usages_Get.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2024-04-01-preview/purview.json
  specification/purview/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, MergeRequested, BreakingChange-Approved-UserImpact

#29266 Video Indexer Private Endpoint Onboarding
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/examples/PrivateEndpointConnections/PrivateEndpointConnection_CreateOrUpdate.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/examples/PrivateEndpointConnections/PrivateEndpointConnection_Delete.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/examples/PrivateEndpointConnections/PrivateEndpointConnection_Get.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/examples/PrivateEndpointConnections/PrivateEndpointConnection_ListByAccount.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/examples/PrivateLinkResources/PrivateLinkResources_Get.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/examples/PrivateLinkResources/PrivateLinkResources_ListByAccount.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/examples/ViAccountCheckNameAvailabilityFree.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/examples/ViAccountCheckNameAvailabilityTaken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/examples/ViAccountDelete.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/examples/ViAccountGet.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/examples/ViAccountPatch/PatchAccountWithSystemAssignedMi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/examples/ViAccountPatch/PatchAccountWithUserAssignedMi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/examples/ViAccountPut/ConnectClassicAccountToArmAccountUsingSystemAssignedMI.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/examples/ViAccountPut/ConnectClassicAccountToArmAccountUsingUserAssignedMi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/examples/ViAccountPut/CreateOrUpdateAccountWithSystemAssignedMi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/examples/ViAccountPut/CreateOrUpdateAccountWithUserAssignedMi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/examples/ViAccountsList.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/examples/ViAccountsListByResourceGroup.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/examples/ViGenerateAccessToken/ViGenerateAccountContributerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/examples/ViGenerateAccessToken/ViGenerateAccountReaderAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/examples/ViGenerateAccessToken/ViGenerateProjectContributerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/examples/ViGenerateAccessToken/ViGenerateProjectReaderAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/examples/ViGenerateAccessToken/ViGenerateVideoContributerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/examples/ViGenerateAccessToken/ViGenerateVideoReaderAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/examples/ViGenerateRestrictedViewerAccessToken/ViGenerateAccountRestrictedViewerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/examples/ViGenerateRestrictedViewerAccessToken/ViGenerateProjectRestrictedViewerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/examples/ViGenerateRestrictedViewerAccessToken/ViGenerateVideoRestrictedViewerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/examples/ViOperationsList.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-06-01-preview/vi.json
  specification/vi/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, Approved-Suppression, SuppressionReviewRequired, new-api-version, MergeRequested, BreakingChange-Approved-Benign

#29306 added format for OperationStatus start and end date-times
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-09-01-preview/operationStatuses.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/operationStatuses.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2024-03-22-preview/operationStatuses.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2023-11-01/operationStatuses.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2024-01-01/operationStatuses.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-BugFix

#29326 Remove Microsoft.SecurityDevOps RP
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsConnectorCreateOrUpdate.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsConnectorDelete.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsConnectorGet.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsConnectorListByResourceGroup.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsConnectorListBySubscription.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsConnectorStatsGet.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsConnectorUpdate.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsOrgCreateOrUpdate.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsOrgGet.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsOrgList.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsOrgUpdate.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsProjectCreateOrUpdate.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsProjectGet.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsProjectList.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsProjectUpdate.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsRepoCreateOrUpdate.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsRepoGet.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsRepoList.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsRepoListByConnector.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/AzureDevOpsRepoUpdate.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubConnectorCreateOrUpdate.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubConnectorDelete.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubConnectorGet.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubConnectorListByResourceGroup.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubConnectorListBySubscription.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubConnectorStatsGet.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubConnectorUpdate.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubOwnerCreateOrUpdate.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubOwnerGet.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubOwnerList.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubOwnerUpdate.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubRepoCreateOrUpdate.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubRepoGet.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubRepoList.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubRepoListByConnector.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/GitHubRepoUpdate.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/examples/OperationsList.json
  specification/securitydevops/resource-manager/Microsoft.SecurityDevOps/preview/2022-09-01-preview/securitydevops.json
  specification/securitydevops/resource-manager/readme.az.md
  specification/securitydevops/resource-manager/readme.cli.md
  specification/securitydevops/resource-manager/readme.csharp.md
  specification/securitydevops/resource-manager/readme.go.md
  specification/securitydevops/resource-manager/readme.java.md
  specification/securitydevops/resource-manager/readme.md
  specification/securitydevops/resource-manager/readme.python.md
  specification/securitydevops/resource-manager/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-Benign

#29423 Add sdk api-version for js
  specification/devcenter/DevCenter/tspconfig.yaml
Labels: TypeSpec

#29410 Updating for resource visibility change
  specification/apicenter/resource-manager/Microsoft.ApiCenter/preview/2024-03-15-preview/apicenter.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/apicenter.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2023-11-01-preview/azurefleet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2024-05-01-preview/azurefleet.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2023-07-20-preview/azurelargeinstance.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/stable/2024-04-10/azurelargeinstance.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCIVM/preview/2024-02-01-preview/stackhcivm.json
  specification/codesigning/resource-manager/Microsoft.CodeSigning/preview/2024-02-05-preview/codeSigningAccount.json
  specification/communitytraining/resource-manager/Microsoft.Community/stable/2023-11-01/CommunityTrainings.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2022-09-02-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-03-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-06-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2024-02-02-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2023-10-15/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2024-04-01/fleets.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-07-01-preview/containerstorage.json
  specification/databasewatcher/resource-manager/Microsoft.DatabaseWatcher/preview/2023-09-01-preview/Watcher.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2023-11-01-preview/deviceregistry.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/preview/2024-04-04-preview/devopsinfrastructure.json
  specification/edgezones/resource-manager/Microsoft.EdgeZones/preview/2024-04-01-preview/edgezones.json
  specification/informatica/Informatica.DataManagement/main.tsp
  specification/informatica/resource-manager/Informatica.DataManagement/stable/2024-05-08/openapi.json
  specification/iotoperationsdataprocessor/resource-manager/Microsoft.IoTOperationsDataProcessor/preview/2023-10-04-preview/openapi.json
  specification/iotoperationsmq/resource-manager/Microsoft.IoTOperationsMQ/preview/2023-10-04-preview/iotoperationsmq.json
  specification/iotoperationsorchestrator/resource-manager/Microsoft.IoTOperationsOrchestrator/preview/2023-10-04-preview/openapi.json
  specification/kubernetesruntime/resource-manager/Microsoft.KubernetesRuntime/preview/2023-10-01-preview/kubernetesruntime.json
  specification/kubernetesruntime/resource-manager/Microsoft.KubernetesRuntime/stable/2024-03-01/kubernetesruntime.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/preview/2023-08-01-preview/astronomer.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/loadtestservice.json
  specification/mobilepacketcore/resource-manager/Microsoft.MobilePacketCore/preview/2023-10-15-preview/mobilepacketcore.json
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-03-01-preview/mongoCluster.json
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2023-10-01-preview/azuremonitor.json
  specification/mpcnetworkfunction/resource-manager/Microsoft.MobilePacketCore/preview/2023-05-15-preview/networkfunction.json
  specification/networkanalytics/resource-manager/Microsoft.NetworkAnalytics/stable/2023-11-15/networkanalytics.json
  specification/oracle/resource-manager/Oracle.Database/preview/2023-09-01-preview/openapi.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2024-02-01-preview/playwrighttesting.json
  specification/portalservices/resource-manager/Microsoft.PortalServices/copilotSettings/preview/2024-04-01-preview/copilotSettings.json
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/scvmm.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/preview/2024-05-01-preview/TrafficController.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/stable/2023-11-01/TrafficController.json
  specification/sphere/resource-manager/Microsoft.AzureSphere/stable/2024-04-01/azuresphere.json
  specification/splitio/resource-manager/SplitIO.Experimentation/preview/2024-03-01-preview/splitio.json
  specification/standbypool/resource-manager/Microsoft.StandbyPool/preview/2023-12-01-preview/standbypool.json
  specification/verifiedid/resource-manager/Microsoft.VerifiedId/preview/2024-01-26-preview/verifiedid.json
  specification/vmware/resource-manager/Microsoft.AVS/stable/2023-09-01/vmware.json
  specification/workloads/resource-manager/Microsoft.Workloads/SAPDiscoverySites/preview/2023-10-01-preview/SAPDiscoverySites.json
  specification/workloads/resource-manager/Microsoft.Workloads/monitors/preview/2023-12-01-preview/monitors.json
Labels: resource-manager, RPaaS, TypeSpec, BreakingChange-JavaScript-Sdk

#29240 Security enhancement feature snowflake support storage integration
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
  specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/entityTypes/Pipeline.json
Labels: ARMSignedOff, ARMReview, resource-manager, data-plane, ReadyForApiTest, Versioning-Approved-Benign, VersioningReviewRequired

#29422 remove osOptions from AKS 2024-05-01 API
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-05-01/examples/ContainerServiceGetOSOptions.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-05-01/examples/Operation_List.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-05-01/managedClusters.json
Labels: resource-manager, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk

#29421 remove osOptions from AKS 2024-05-02-preview API
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-05-02-preview/examples/ContainerServiceGetOSOptions.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-05-02-preview/examples/Operation_List.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-05-02-preview/managedClusters.json
Labels: resource-manager, BreakingChange-Python-Sdk

#28576 Change two property types for route spec
  specification/maps/data-plane/Route/preview/1.0/route.json
Labels: customer-reported, data-plane, BreakingChangeReviewRequired, BreakingChange-Approved-BugFix

#29243 Examples Changes and move VMSS list operation inside fleets resource
  specification/azurefleet/AzureFleet.Management/examples/2023-11-01-preview/Fleets_CreateOrUpdate_MaximumSet.json
  specification/azurefleet/AzureFleet.Management/examples/2023-11-01-preview/Fleets_Get_MaximumSet.json
  specification/azurefleet/AzureFleet.Management/examples/2023-11-01-preview/Fleets_ListByResourceGroup_MaximumSet.json
  specification/azurefleet/AzureFleet.Management/examples/2023-11-01-preview/Fleets_ListBySubscription_MaximumSet.json
  specification/azurefleet/AzureFleet.Management/examples/2023-11-01-preview/Fleets_ListVirtualMachineScaleSets_MaximumSet.json
  specification/azurefleet/AzureFleet.Management/examples/2023-11-01-preview/Fleets_Update_MaximumSet.json
  specification/azurefleet/AzureFleet.Management/examples/2023-11-01-preview/VirtualMachineScaleSets_ListByFleet_MinimumSet.json
  specification/azurefleet/AzureFleet.Management/examples/2024-05-01-preview/Fleets_CreateOrUpdate.json
  specification/azurefleet/AzureFleet.Management/examples/2024-05-01-preview/Fleets_ListByResourceGroup.json
  specification/azurefleet/AzureFleet.Management/examples/2024-05-01-preview/Fleets_ListBySubscription.json
  specification/azurefleet/AzureFleet.Management/examples/2024-05-01-preview/Fleets_ListVirtualMachineScaleSets.json
  specification/azurefleet/AzureFleet.Management/examples/2024-05-01-preview/Fleets_Update.json
  specification/azurefleet/AzureFleet.Management/fleet.tsp
  specification/azurefleet/AzureFleet.Management/virtualMachineScaleSet.tsp
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2023-11-01-preview/azurefleet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2023-11-01-preview/examples/Fleets_CreateOrUpdate_MaximumSet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2023-11-01-preview/examples/Fleets_Get_MaximumSet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2023-11-01-preview/examples/Fleets_ListByResourceGroup_MaximumSet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2023-11-01-preview/examples/Fleets_ListBySubscription_MaximumSet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2023-11-01-preview/examples/Fleets_ListVirtualMachineScaleSets_MaximumSet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2023-11-01-preview/examples/Fleets_Update_MaximumSet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2023-11-01-preview/examples/VirtualMachineScaleSets_ListByFleet_MinimumSet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2024-05-01-preview/azurefleet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2024-05-01-preview/examples/Fleets_CreateOrUpdate.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2024-05-01-preview/examples/Fleets_ListByResourceGroup.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2024-05-01-preview/examples/Fleets_ListBySubscription.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2024-05-01-preview/examples/Fleets_ListVirtualMachineScaleSets.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2024-05-01-preview/examples/Fleets_Update.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, TypeSpec, MergeRequested, BreakingChange-Approved-BugFix

#29378 add preview api version missing from documentation
  specification/resourcehealth/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#29394 Update dataConnectors.json to solve ArrayMustHaveType Swagger Error
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/dataConnectors.json
Labels: resource-manager

#29427 Fixing typespec-next for June 2024 release
  specification/azurefleet/AzureFleet.Management/fleet.tsp
  specification/azurefleet/AzureFleet.Management/main.tsp
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2023-11-01-preview/azurefleet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2024-05-01-preview/azurefleet.json
  specification/containerservice/Fleet.Management/fleet.tsp
  specification/containerstorage/ContainerStorage.Management/pool.tsp
  specification/databasewatcher/DatabaseWatcher.Management/watcher.tsp
  specification/deviceregistry/DeviceRegistry.Management/main.tsp
  specification/liftrastronomer/Astronomer.Astro.Management/main.tsp
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/preview/2024-03-01-preview/mongoCluster.json
  specification/monitor/Microsoft.Monitor/typespec/azureMonitorWorkspace.tsp
  specification/monitor/Microsoft.Monitor/typespec/pipelineGroup.tsp
  specification/monitor/Microsoft.Monitor/typespec/service.tsp
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2023-10-01-preview/azuremonitor.json
  specification/networkanalytics/NetworkAnalytics.Management/main.tsp
  specification/purviewpolicy/PurviewPolicy.Management/backcompat.tsp
  specification/vmware/Microsoft.AVS/models.tsp
Labels: resource-manager, RPaaS, TypeSpec, BreakingChange-JavaScript-Sdk

#29408 tsp, avs, rename List API response schema back to ##List
  specification/vmware/Microsoft.AVS/models.tsp
  specification/vmware/Microsoft.AVS/routes.tsp
  specification/vmware/resource-manager/Microsoft.AVS/stable/2023-09-01/vmware.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, TypeSpec, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk

#29413 avs, mgmt, rename schema via directive, for SDK backward-compatibility
  specification/vmware/resource-manager/readme.go.md
  specification/vmware/resource-manager/readme.java.md
  specification/vmware/resource-manager/readme.python.md
  specification/vmware/resource-manager/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk

#29346 [Microsoft.DocumentDB] Bug fix for stable API Version 2024-05-15
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2024-05-15/services.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-BugFix, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk

#29372 update suffix to port
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/BusinessApplicationAgents.json
Labels: ARMSignedOff, resource-manager

#29395 avs, mgmt, fix incorrect tsp for dnsServices int64
  specification/vmware/Microsoft.AVS/models.tsp
  specification/vmware/resource-manager/Microsoft.AVS/stable/2023-09-01/vmware.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-BugFix, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk

#29392 tsp, avs, remove Update model to keep consistency with stable Swagger
  specification/vmware/Microsoft.AVS/models.tsp
  specification/vmware/Microsoft.AVS/routes.tsp
  specification/vmware/resource-manager/Microsoft.AVS/stable/2023-09-01/vmware.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-BugFix, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk

#29426 fix ComponentsByRelease
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-05-02-preview/managedClusters.json
Labels: resource-manager, BreakingChange-Python-Sdk

#29356 Added information to the Weather services query uri parameter
  specification/maps/data-plane/Weather/stable/1.1/weather.json
Labels: data-plane

#29417 [Storage] [ADLS Docs] Fix capitalization for etag response header in Path
  specification/storage/data-plane/Microsoft.StorageDataLake/stable/2019-12-12/DataLakeStorage.json
Labels: data-plane

#29465 Added x-ms-pageable and NextList to GetRecommendations
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/Recommendations.json
Labels: resource-manager

#29148 Deesharma/connectedclusternewversion
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-06-01-preview/connectedClusters.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-06-01-preview/examples/ConnectedClustersListClusterCredentialResultCSPAAD.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-06-01-preview/examples/ConnectedClustersListClusterCredentialResultCSPToken.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-06-01-preview/examples/ConnectedClustersListClusterCredentialResultHPAAD.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-06-01-preview/examples/ConnectedClustersListClusterCredentialResultHPToken.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-06-01-preview/examples/CreateClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-06-01-preview/examples/CreateClusterPrivateLinkExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-06-01-preview/examples/CreateCluster_KindExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-06-01-preview/examples/DeleteClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-06-01-preview/examples/GetClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-06-01-preview/examples/GetClustersByResourceGroupExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-06-01-preview/examples/GetClustersBySubscriptionExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-06-01-preview/examples/GetProvisionedClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-06-01-preview/examples/ListConnectedClusterOperationsExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-06-01-preview/examples/UpdateClusterExample.json
  specification/hybridkubernetes/resource-manager/readme.md
  specification/hybridkubernetes/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, MergeRequested, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-Python-Sdk-Suppression-Approved, BreakingChange-Go-Sdk-Suppression, BreakingChange-Python-Sdk-Suppression

#29457 Update Face API detection description
  specification/ai/Face/routes.detection.tsp
  specification/ai/data-plane/Face/preview/v1.1-preview.1/Face.json
Labels: data-plane, TypeSpec

#29455 [AppComplianceAutomation] update python config
  specification/appcomplianceautomation/AppComplianceAutomation.Management/client.tsp
Labels: TypeSpec

#29251 Add CrossConnection Name as an optional query parameter in List ExpressRoute CrossConnection
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/ExpressRouteCrossConnectionBgpPeeringDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/ExpressRouteCrossConnectionList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/ExpressRouteCrossConnectionsArpTable.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/ExpressRouteCrossConnectionsRouteTable.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/ExpressRouteCrossConnectionsRouteTableSummary.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/expressRouteCrossConnection.json
Labels: ARMSignedOff, customer-reported, ARMReview, resource-manager

#29235 Add connectionResourceUri To Circuit Authorization
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/expressRouteCircuit.json
Labels: ARMSignedOff, ARMReview, resource-manager

#29469 Changed type of networkIdentifier from PublicIPAddress to SubResource
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/virtualNetwork.json
Labels: ARMSignedOff, ARMReview, resource-manager

#29467 [Azure Load Testing] Updated FileType.URL_TEST_CONFIG_JSON to FileType.URL_TEST_CONFIG
  specification/loadtestservice/LoadTestService/models.tsp
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2023-04-01-preview/loadtestservice.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-03-01-preview/loadtestservice.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-05-01-preview/loadtestservice.json
Labels: data-plane, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-BugFix

#29477 Fix foundation types in azure fleet
  specification/azurefleet/AzureFleet.Management/fleet.tsp
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2023-11-01-preview/azurefleet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/preview/2024-05-01-preview/azurefleet.json
  specification/azurefleet/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-BugFix

#29377 Adding new version "2024-06-15-preview" in Microsoft.Elastic with Resubscribe API
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/elastic.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/AllTrafficFilters_list.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/AssociateTrafficFilter_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/AssociatedFiltersForDeployment_list.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/BillingInfo_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/ConnectedPartnerResources_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/DeploymentInfo_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/DetachAndDeleteTrafficFilter_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/DetachTrafficFilters_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/ElasticVersions_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/ExternalUserInfo.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/IPTrafficFilter_Create.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/Monitor_Upgrade.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/MonitoredResources_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/MonitoredSubscriptions_CreateorUpdate.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/MonitoredSubscriptions_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/MonitoredSubscriptions_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/MonitoredSubscriptions_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/MonitoredSubscriptions_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/Monitors_Create.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/Monitors_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/Monitors_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/Monitors_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/Monitors_ListByResourceGroup.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/Monitors_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/OpenAI_CreateOrUpdate.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/OpenAI_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/OpenAI_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/OpenAI_GetStatus.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/OpenAI_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/Operations_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/Organizations_GetApiKey.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/Organizations_GetElasticToAzureSubscriptionMapping.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/Organizations_Resubscribe.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/PrivateLinkTrafficFilters_Create.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/TagRules_CreateOrUpdate.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/TagRules_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/TagRules_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/TagRules_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/TrafficFilters_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/UpgradableVersions_Details.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/VMCollection_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/VMHost_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/preview/2024-06-15-preview/examples/VMIngestion_Details.json
  specification/elastic/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, new-api-version, Liftr, IDCDevDiv, BreakingChange-Approved-Previously

#29431 Update api description
  specification/purview/Azure.Analytics.Purview.DataMap/routes.tsp
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/preview/2023-10-01-preview/purviewdatamap.json
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/preview/2024-03-01-preview/purviewdatamap.json
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/stable/2023-09-01/purviewdatamap.json
Labels: Documentation-Only, data-plane, TypeSpec, MergeRequested

#29484 update options
  specification/eventgrid/Azure.Messaging.EventGrid/client.tsp
Labels: TypeSpec

#29479 [scvmm] disable flatten
  specification/scvmm/ScVmm.Management/tspconfig.yaml
  specification/scvmm/resource-manager/readme.python.md
Labels: WaitForARMFeedback, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-Go-Sdk

#29480 [appcomplianceautomation] title&disable flatten
  specification/appcomplianceautomation/AppComplianceAutomation.Management/tspconfig.yaml
  specification/appcomplianceautomation/resource-manager/readme.python.md
Labels: WaitForARMFeedback, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-Go-Sdk

#29476 Update tspconfig.yaml
  specification/azurefleet/AzureFleet.Management/tspconfig.yaml
Labels: TypeSpec

#29490 Update the name from ResourceProvisioningState to ProvisioningState
  specification/scvmm/ScVmm.Management/models.tsp
  specification/scvmm/resource-manager/Microsoft.ScVmm/stable/2023-10-07/scvmm.json
Labels: resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-BugFix, BreakingChange-Go-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-Python-Sdk

#29447 Update description of runId to infer customer to use new GUID for create run
  specification/synapse/data-plane/Microsoft.Synapse/preview/2022-03-01-preview/runNotebook.json
Labels: data-plane

#29508 [appconfig] Fix endpoint definition
  specification/appconfiguration/AppConfiguration/main.tsp
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/appconfiguration.json
Labels: data-plane, TypeSpec

#29491 remove python config in tspconfig.yaml
  specification/oracle/Oracle.Database/tspconfig.yaml
Labels: TypeSpec

#29522 [avs] optimize Python SDK api
  specification/vmware/resource-manager/readme.python.md
Labels: WaitForARMFeedback, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk

#28893 [AKV] Add new preview version for NSP feature
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/common.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/DeletedManagedHsm_Get.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/DeletedManagedHsm_List.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/DeletedManagedHsm_Purge.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/ManagedHsm_CreateOrUpdate.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/ManagedHsm_Delete.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/ManagedHsm_Get.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/ManagedHsm_ListByResourceGroup.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/ManagedHsm_ListBySubscription.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/ManagedHsm_ListPrivateEndpointConnectionsByResource.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/ManagedHsm_ListRegionsByResource.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/ManagedHsm_Update.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/ManagedHsm_checkMhsmNameAvailability.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/ManagedHsm_deletePrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/ManagedHsm_getPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/ManagedHsm_listPrivateLinkResources.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/ManagedHsm_putPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/checkVaultNameAvailability.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/createKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/createSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/createVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/createVaultWithNetworkAcls.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/deletePrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/deleteVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/getDeletedVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/getKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/getKeyVersion.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/getNetworkSecurityPerimeterAssociationConfiguration.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/getPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/getSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/getVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/listDeletedVaults.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/listKeyVersions.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/listKeys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/listNetworkSecurityPerimeterAssociationConfiguration.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/listOperations.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/listPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/listPrivateLinkResources.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/listSecrets.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/listVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/listVaultByResourceGroup.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/listVaultBySubscription.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/managedHsmCreateKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/managedHsmGetKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/managedHsmGetKeyVersion.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/managedHsmListKeyVersions.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/managedHsmListKeys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/purgeDeletedVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/putPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/updateAccessPoliciesAdd.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/updateSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/examples/updateVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/keys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/keysManagedHsm.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/keyvault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/managedHsm.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/providers.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2024-04-01-preview/secrets.json
  specification/keyvault/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, MergeRequested

#29520 Add data model AutoUpgradeNodeImageSelection
  specification/containerservice/Fleet.Management/update/autoupgradeprofile.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2024-05-02-preview/fleets.json
Labels: resource-manager, TypeSpec

#29526 [ACS][CallAutomation]Update AnswerCallRequest
  specification/communication/data-plane/CallAutomation/preview/2023-10-03-preview/communicationservicescallautomation.json
Labels: data-plane

#29497 [HdiOnAks] Adding PublicIpTag property to ClusterPoolNetworkProfile
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/preview/2024-05-01-preview/hdinsight.json
Labels: resource-manager, RPaaS

#29530 Update SecurityPatch Description in 05-02preview to match stable version
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-05-02-preview/managedClusters.json
Labels: resource-manager, BreakingChange-Python-Sdk

#29468 Add SecurityPatch element to NodeOsUpgradeChannel Enum
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-05-01/managedClusters.json
Labels: resource-manager, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk

#29425 fix ComponentsByRelease for AKS 2024-04-02 preview api
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-04-02-preview/managedClusters.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested, BreakingChange-Approved-BugFix

#29361 disable flatten for JS for mongocluster, deploymentstacks and appcomplianceautomation
  specification/appcomplianceautomation/resource-manager/readme.typescript.md
  specification/mongocluster/resource-manager/readme.typescript.md
  specification/resources/resource-manager/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChange-Go-Sdk-Approved, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk

#29524 Update documentation for Azure Maps Route v1 API
  specification/maps/data-plane/Route/preview/1.0/route.json
Labels: data-plane

#29473 Moving missed changes from 2023-11-01 packet capture swagger fix to l…
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/azureFirewall.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/AzureFirewallPacketCapture.json
  specification/network/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, Approved-ModelValidation, ARMReview, resource-manager, BreakingChangeReviewRequired, BreakingChange-Approved-Previously, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-Go-Sdk-Suppression

#29475 [CDN] Fix secret source URL format in example files
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2024-05-01-preview/examples/AFDProfiles_ValidateSecret.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2024-05-01-preview/examples/Secrets_CreateCustomerCertificateType.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2024-05-01-preview/examples/Secrets_CreateMtlsCertificateChainType.json
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2024-05-01-preview/examples/Secrets_CreateUrlSigningKeyType.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#29519 Changing MFE ARM Spec to add support for expirable secrets to the listsecrets API
  cSpell.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/examples/Datastore/listSecrets.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#29551 [powerbiembedded] Update readme.md
  specification/powerbiembedded/resource-manager/readme.md
  specification/powerbiembedded/resource-manager/readme.python.md
Labels: WaitForARMFeedback, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-JavaScript-Sdk

#29542 Added `stream-style-serialization: false` in `readme.java.md`.
  specification/storagemover/resource-manager/readme.java.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS

#29552 network, java directive update for op InboundSecurityRule_Get
  specification/network/resource-manager/readme.java.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#29541 Informatica - Make "marketplaceSubscriptionId" an optional field for "MarketplaceDetails"
  specification/informatica/Informatica.DataManagement/main.tsp
  specification/informatica/resource-manager/Informatica.DataManagement/stable/2024-05-08/openapi.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, TypeSpec, IDCDevDiv, MergeRequested

#29355 Introduce Microsoft Fabric ARM Rest APIs
  specification/fabric/Microsoft.Fabric.Management/capacity.tsp
  specification/fabric/Microsoft.Fabric.Management/examples/2023-11-01/FabricCapacities_CheckNameAvailability.json
  specification/fabric/Microsoft.Fabric.Management/examples/2023-11-01/FabricCapacities_CreateOrUpdate.json
  specification/fabric/Microsoft.Fabric.Management/examples/2023-11-01/FabricCapacities_Delete.json
  specification/fabric/Microsoft.Fabric.Management/examples/2023-11-01/FabricCapacities_Get.json
  specification/fabric/Microsoft.Fabric.Management/examples/2023-11-01/FabricCapacities_ListByResourceGroup.json
  specification/fabric/Microsoft.Fabric.Management/examples/2023-11-01/FabricCapacities_ListBySubscription.json
  specification/fabric/Microsoft.Fabric.Management/examples/2023-11-01/FabricCapacities_ListSkus.json
  specification/fabric/Microsoft.Fabric.Management/examples/2023-11-01/FabricCapacities_ListSkusForCapacity.json
  specification/fabric/Microsoft.Fabric.Management/examples/2023-11-01/FabricCapacities_Resume.json
  specification/fabric/Microsoft.Fabric.Management/examples/2023-11-01/FabricCapacities_Suspend.json
  specification/fabric/Microsoft.Fabric.Management/examples/2023-11-01/FabricCapacities_Update.json
  specification/fabric/Microsoft.Fabric.Management/examples/2023-11-01/Operations_List.json
  specification/fabric/Microsoft.Fabric.Management/main.tsp
  specification/fabric/Microsoft.Fabric.Management/models.tsp
  specification/fabric/Microsoft.Fabric.Management/tspconfig.yaml
  specification/fabric/resource-manager/Microsoft.Fabric/stable/2023-11-01/examples/FabricCapacities_CheckNameAvailability.json
  specification/fabric/resource-manager/Microsoft.Fabric/stable/2023-11-01/examples/FabricCapacities_CreateOrUpdate.json
  specification/fabric/resource-manager/Microsoft.Fabric/stable/2023-11-01/examples/FabricCapacities_Delete.json
  specification/fabric/resource-manager/Microsoft.Fabric/stable/2023-11-01/examples/FabricCapacities_Get.json
  specification/fabric/resource-manager/Microsoft.Fabric/stable/2023-11-01/examples/FabricCapacities_ListByResourceGroup.json
  specification/fabric/resource-manager/Microsoft.Fabric/stable/2023-11-01/examples/FabricCapacities_ListBySubscription.json
  specification/fabric/resource-manager/Microsoft.Fabric/stable/2023-11-01/examples/FabricCapacities_ListSkus.json
  specification/fabric/resource-manager/Microsoft.Fabric/stable/2023-11-01/examples/FabricCapacities_ListSkusForCapacity.json
  specification/fabric/resource-manager/Microsoft.Fabric/stable/2023-11-01/examples/FabricCapacities_Resume.json
  specification/fabric/resource-manager/Microsoft.Fabric/stable/2023-11-01/examples/FabricCapacities_Suspend.json
  specification/fabric/resource-manager/Microsoft.Fabric/stable/2023-11-01/examples/FabricCapacities_Update.json
  specification/fabric/resource-manager/Microsoft.Fabric/stable/2023-11-01/examples/Operations_List.json
  specification/fabric/resource-manager/Microsoft.Fabric/stable/2023-11-01/fabric.json
  specification/fabric/resource-manager/readme.az.md
  specification/fabric/resource-manager/readme.cli.md
  specification/fabric/resource-manager/readme.csharp.md
  specification/fabric/resource-manager/readme.go.md
  specification/fabric/resource-manager/readme.md
  specification/fabric/resource-manager/readme.python.md
  specification/fabric/resource-manager/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, new-rp-namespace, TypeSpec, MergeRequested

#29031 add new GA version: 2023-12-30 for Microsoft.DBForMySQL
  specification/mysql/resource-manager/Microsoft.DBforMySQL/AAD/stable/2023-12-30/AzureADAdministrator.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/AAD/stable/2023-12-30/examples/AzureADAdministratorCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/AAD/stable/2023-12-30/examples/AzureADAdministratorDelete.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/AAD/stable/2023-12-30/examples/AzureADAdministratorGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/AAD/stable/2023-12-30/examples/AzureADAdministratorsListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/stable/2023-12-30/BackupAndExport.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/stable/2023-12-30/Backups.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/stable/2023-12-30/LongRunningBackups.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/stable/2023-12-30/examples/BackupAndExport.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/stable/2023-12-30/examples/BackupGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/stable/2023-12-30/examples/BackupPut.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/stable/2023-12-30/examples/BackupsListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/stable/2023-12-30/examples/LongRunningBackup.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/stable/2023-12-30/examples/LongRunningBackupGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/stable/2023-12-30/examples/LongRunningBackupsListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/stable/2023-12-30/examples/ValidateBackup.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Configurations/stable/2023-12-30/Configurations.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Configurations/stable/2023-12-30/examples/ConfigurationCreateOrUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Configurations/stable/2023-12-30/examples/ConfigurationGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Configurations/stable/2023-12-30/examples/ConfigurationUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Configurations/stable/2023-12-30/examples/ConfigurationsBatchUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Configurations/stable/2023-12-30/examples/ConfigurationsListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Databases/stable/2023-12-30/Databases.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Databases/stable/2023-12-30/examples/DatabaseCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Databases/stable/2023-12-30/examples/DatabaseDelete.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Databases/stable/2023-12-30/examples/DatabaseGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Databases/stable/2023-12-30/examples/DatabasesListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Firewall/stable/2023-12-30/FirewallRules.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Firewall/stable/2023-12-30/examples/FirewallRuleCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Firewall/stable/2023-12-30/examples/FirewallRuleDelete.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Firewall/stable/2023-12-30/examples/FirewallRuleGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Firewall/stable/2023-12-30/examples/FirewallRulesListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/LogFiles/stable/2023-12-30/LogFiles.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/LogFiles/stable/2023-12-30/examples/LogFilesListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Maintenance/stable/2023-12-30/Maintenances.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Maintenance/stable/2023-12-30/examples/MaintenanceRead.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Maintenance/stable/2023-12-30/examples/MaintenanceUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Maintenance/stable/2023-12-30/examples/MaintenancesListByServer.json
  specification/mysql/resource-manager/readme.md
  specification/mysql/resource-manager/sdk-suppressions.yaml
  specification/mysql/suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-Go-Sdk-Suppression

#29558 fix docs creating bad docstrings in purview
  specification/purview/Azure.Analytics.Purview.DataMap/routes.tsp
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/stable/2023-09-01/purviewdatamap.json
Labels: data-plane, TypeSpec

#29487 Microsoft.Kubernetes to add preview version 2024-07-01-preview
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-01-preview/connectedClusters.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-01-preview/examples/ConnectedClustersListClusterCredentialResultCSPAAD.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-01-preview/examples/ConnectedClustersListClusterCredentialResultCSPToken.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-01-preview/examples/ConnectedClustersListClusterCredentialResultHPAAD.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-01-preview/examples/ConnectedClustersListClusterCredentialResultHPToken.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-01-preview/examples/CreateClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-01-preview/examples/CreateClusterPrivateLinkExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-01-preview/examples/CreateCluster_KindExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-01-preview/examples/DeleteClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-01-preview/examples/GetClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-01-preview/examples/GetClustersByResourceGroupExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-01-preview/examples/GetClustersBySubscriptionExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-01-preview/examples/GetProvisionedClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-01-preview/examples/ListConnectedClusterOperationsExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-07-01-preview/examples/UpdateClusterExample.json
  specification/hybridkubernetes/resource-manager/readme.go.md
  specification/hybridkubernetes/resource-manager/readme.java.md
  specification/hybridkubernetes/resource-manager/readme.md
  specification/hybridkubernetes/resource-manager/readme.ruby.md
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, RPaaS, new-api-version

#29445 Add Web PubSub data plane version 2024-01-01
  specification/webpubsub/data-plane/WebPubSub/stable/2024-01-01/examples/HealthApi_GetServiceStatus.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-01-01/examples/WebPubSub_AddConnectionToGroup.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-01-01/examples/WebPubSub_AddConnectionsToGroups.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-01-01/examples/WebPubSub_AddUserToGroup.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-01-01/examples/WebPubSub_CheckPermission.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-01-01/examples/WebPubSub_CloseAllConnections.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-01-01/examples/WebPubSub_CloseConnection.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-01-01/examples/WebPubSub_CloseGroupConnections.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-01-01/examples/WebPubSub_CloseUserConnections.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-01-01/examples/WebPubSub_ConnectionExists.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-01-01/examples/WebPubSub_GenerateClientToken.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-01-01/examples/WebPubSub_GrantPermission.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-01-01/examples/WebPubSub_GroupExists.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-01-01/examples/WebPubSub_RemoveConnectionFromAllGroups.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-01-01/examples/WebPubSub_RemoveConnectionFromGroup.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-01-01/examples/WebPubSub_RemoveConnectionsFromGroups.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-01-01/examples/WebPubSub_RemoveUserFromAllGroups.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-01-01/examples/WebPubSub_RemoveUserFromGroup.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-01-01/examples/WebPubSub_RevokePermission.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-01-01/examples/WebPubSub_SendToAll.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-01-01/examples/WebPubSub_SendToConnection.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-01-01/examples/WebPubSub_SendToGroup.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-01-01/examples/WebPubSub_SendToUser.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-01-01/examples/WebPubSub_UserExists.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-01-01/webpubsub.json
  specification/webpubsub/data-plane/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, new-api-version, PipelineBotTrigger

#29543 Added 2023-12-01 preview API for Azure Load Testing Control Plane
  specification/loadtestservice/LoadTestService.Management/examples/2023-12-01-preview/LoadTestMappings_CreateOrUpdate.json
  specification/loadtestservice/LoadTestService.Management/examples/2023-12-01-preview/LoadTestMappings_Delete.json
  specification/loadtestservice/LoadTestService.Management/examples/2023-12-01-preview/LoadTestMappings_Get.json
  specification/loadtestservice/LoadTestService.Management/examples/2023-12-01-preview/LoadTestMappings_List.json
  specification/loadtestservice/LoadTestService.Management/examples/2023-12-01-preview/LoadTestMappings_Update.json
  specification/loadtestservice/LoadTestService.Management/examples/2023-12-01-preview/LoadTestProfileMappings_CreateOrUpdate.json
  specification/loadtestservice/LoadTestService.Management/examples/2023-12-01-preview/LoadTestProfileMappings_Delete.json
  specification/loadtestservice/LoadTestService.Management/examples/2023-12-01-preview/LoadTestProfileMappings_Get.json
  specification/loadtestservice/LoadTestService.Management/examples/2023-12-01-preview/LoadTestProfileMappings_List.json
  specification/loadtestservice/LoadTestService.Management/examples/2023-12-01-preview/LoadTestProfileMappings_Update.json
  specification/loadtestservice/LoadTestService.Management/examples/2023-12-01-preview/LoadTests_CreateOrUpdate.json
  specification/loadtestservice/LoadTestService.Management/examples/2023-12-01-preview/LoadTests_Delete.json
  specification/loadtestservice/LoadTestService.Management/examples/2023-12-01-preview/LoadTests_Get.json
  specification/loadtestservice/LoadTestService.Management/examples/2023-12-01-preview/LoadTests_ListByResourceGroup.json
  specification/loadtestservice/LoadTestService.Management/examples/2023-12-01-preview/LoadTests_ListBySubscription.json
  specification/loadtestservice/LoadTestService.Management/examples/2023-12-01-preview/LoadTests_ListOutboundNetworkDependenciesEndpoints.json
  specification/loadtestservice/LoadTestService.Management/examples/2023-12-01-preview/LoadTests_Update.json
  specification/loadtestservice/LoadTestService.Management/examples/2023-12-01-preview/Operations_List.json
  specification/loadtestservice/LoadTestService.Management/examples/2023-12-01-preview/Quotas_CheckAvailability.json
  specification/loadtestservice/LoadTestService.Management/examples/2023-12-01-preview/Quotas_Get.json
  specification/loadtestservice/LoadTestService.Management/examples/2023-12-01-preview/Quotas_List.json
  specification/loadtestservice/LoadTestService.Management/main.tsp
  specification/loadtestservice/LoadTestService.Management/models.tsp
  specification/loadtestservice/LoadTestService.Management/routes.tsp
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2023-12-01-preview/examples/LoadTestMappings_CreateOrUpdate.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2023-12-01-preview/examples/LoadTestMappings_Delete.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2023-12-01-preview/examples/LoadTestMappings_Get.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2023-12-01-preview/examples/LoadTestMappings_List.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2023-12-01-preview/examples/LoadTestMappings_Update.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2023-12-01-preview/examples/LoadTestProfileMappings_CreateOrUpdate.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2023-12-01-preview/examples/LoadTestProfileMappings_Delete.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2023-12-01-preview/examples/LoadTestProfileMappings_Get.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2023-12-01-preview/examples/LoadTestProfileMappings_List.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2023-12-01-preview/examples/LoadTestProfileMappings_Update.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2023-12-01-preview/examples/LoadTests_CreateOrUpdate.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2023-12-01-preview/examples/LoadTests_Delete.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2023-12-01-preview/examples/LoadTests_Get.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2023-12-01-preview/examples/LoadTests_ListByResourceGroup.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2023-12-01-preview/examples/LoadTests_ListBySubscription.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2023-12-01-preview/examples/LoadTests_ListOutboundNetworkDependenciesEndpoints.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2023-12-01-preview/examples/LoadTests_Update.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2023-12-01-preview/examples/Operations_List.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2023-12-01-preview/examples/Quotas_CheckAvailability.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2023-12-01-preview/examples/Quotas_Get.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2023-12-01-preview/examples/Quotas_List.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2023-12-01-preview/loadtestservice.json
  specification/loadtestservice/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, TypeSpec, IDCDevDiv, MergeRequested

#29557 fix docs creating bad docstrings in healthinsights
  specification/ai/HealthInsights/HealthInsights.Common/model.common.fhir.elements.tsp
  specification/ai/HealthInsights/HealthInsights.TrialMatcher/model.trialmatcher.tsp
  specification/ai/data-plane/HealthInsights/stable/2024-04-01/openapi.json
Labels: data-plane, TypeSpec

#29509 Text Translation: Enable stream style serialization
  specification/translation/Azure.AI.TextTranslation/tspconfig.yaml
Labels: TypeSpec

#29579 Adding Daemonset related flags to May 2024 GA
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-05-01/managedClusters.json
Labels: resource-manager, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk

#29587 Update readme.python.md
  specification/migrate/resource-manager/readme.md
  specification/migrate/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest

#29534 [StorageTasks] Bugfix maxpagesize type
  specification/storage/resource-manager/Microsoft.Storage/stable/2023-05-01/storageTaskAssignments.json
  specification/storageactions/resource-manager/Microsoft.StorageActions/stable/2023-01-01/storageactions.json
  specification/storageactions/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-BugFix, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-Python-Sdk, BreakingChange-Go-Sdk-Suppression

#28964 Microsoft.ContainerInstance: Added API version 2024-05-01-preview
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/containerInstance.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/CachedImagesList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/CapabilitiesList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerAttach.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerExec.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupCreateConfidential.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupCreateOrUpdateStandbyPool.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupEncryptionProperties.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupExtensions.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupUsage.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsCreateOrUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsCreatePriority.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsDelete.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsGetPriority.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsGet_Failed.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsGet_Succeeded.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsListByResourceGroup.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsRestart.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsStart.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsStop.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerListLogs.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/OperationsList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/SubnetServiceAssociationLinkDelete.json
  specification/containerinstance/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, Approved-Suppression, SuppressionReviewRequired, new-api-version, MergeRequested, BreakingChange-Approved-Benign

#29595 Fix readonly and additionalProperties in OnDemand
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/TriggeredAnalyticsRuleRuns.json
  specification/securityinsights/resource-manager/readme.md
Labels: resource-manager, SuppressionReviewRequired

#29483 use body root to specify which parameter models we want to keep grouped
  specification/ai/Face/models.common.tsp
  specification/ai/Face/routes.session.tsp
  specification/ai/HealthInsights/HealthInsights.Common/model.common.shared.tsp
  specification/ai/HealthInsights/HealthInsights.OncoPhenotype/route.oncophenotype.tsp
  specification/ai/HealthInsights/HealthInsights.PatientTimeline/route.patienttimeline.tsp
  specification/ai/HealthInsights/HealthInsights.TrialMatcher/route.trialmatcher.tsp
  specification/ai/OpenAI.Assistants/assistants/routes.tsp
  specification/ai/OpenAI.Assistants/common/models.tsp
  specification/ai/OpenAI.Assistants/runs/routes.tsp
  specification/ai/OpenAI.Assistants/threads/routes.tsp
  specification/ai/OpenAI.Assistants/vector_stores/routes.tsp
  specification/ai/data-plane/Face/preview/v1.1-preview.1/Face.json
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV2/preview/2024-02-15-preview/assistants_generated.json
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV2/preview/2024-05-01-preview/assistants_generated.json
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV3/2024-02-15-preview/assistants_generated.yaml
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV3/2024-05-01-preview/assistants_generated.yaml
  specification/ai/data-plane/readme.md
  specification/cognitiveservices/OpenAI.Inference/models/completions/common.tsp
  specification/cognitiveservices/OpenAI.Inference/models/embeddings_create.tsp
  specification/cognitiveservices/OpenAI.Inference/routes/audio_transcription.tsp
  specification/cognitiveservices/OpenAI.Inference/routes/audio_translation.tsp
  specification/cognitiveservices/OpenAI.Inference/routes/completions.tsp
  specification/cognitiveservices/OpenAI.Inference/routes/embeddings.tsp
  specification/cognitiveservices/OpenAI.Inference/routes/images.tsp
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-06-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-07-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-03-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-04-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-05-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/stable/2022-12-01/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/stable/2023-05-15/generated.json
  specification/communication/Communication.Messages/models.tsp
  specification/communication/Communication.Messages/routes.tsp
  specification/communication/data-plane/Messages/stable/2024-02-01/communicationservicesmessages.json
  specification/developersigning/DeveloperSigning/main.tsp
  specification/developersigning/data-plane/Azure.Developer.Signing/preview/2023-06-15-preview/azure.developer.signing.json
  specification/programmableconnectivity/Azure.ProgrammableConnectivity/apis/common.tsp
  specification/programmableconnectivity/Azure.ProgrammableConnectivity/apis/location.tsp
  specification/programmableconnectivity/Azure.ProgrammableConnectivity/apis/network.tsp
  specification/programmableconnectivity/Azure.ProgrammableConnectivity/apis/number.tsp
  specification/programmableconnectivity/Azure.ProgrammableConnectivity/apis/simswap.tsp
  specification/programmableconnectivity/data-plane/Azure.ProgrammableConnectivity/preview/2024-02-09-preview/openapi.json
  specification/purview/Azure.Analytics.Purview.DataMap/models.tsp
  specification/purview/Azure.Analytics.Purview.DataMap/routes.tsp
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/stable/2023-09-01/purviewdatamap.json
  specification/riskiq/Easm/models.tsp
  specification/riskiq/Easm/routes.tsp
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/easm.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2024-03-01-preview/easm.json
  specification/voiceservices/VoiceServices.Provisioning/main.tsp
  specification/voiceservices/data-plane/Microsoft.VoiceServices/preview/2024-02-29-preview/swagger.json
Labels: data-plane, RPaaS, SuppressionReviewRequired, TypeSpec

#29510 hybridcompute - update readme.md and description for SDK commands generation
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2024-05-20-preview/HybridCompute.json
  specification/hybridcompute/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#29472 Add Azure async APIs to Maps data plane api-version 2023-12-01-preview
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/GetOperationResult.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/GetOperationStatus.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/examples/PrivateEndpointConnections_Update.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2023-12-01-preview/maps-management.json
  specification/maps/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested, Versioning-Approved-BugFix, VersioningReviewRequired, BreakingChange-Python-Sdk-Suppression-Approved, BreakingChange-Python-Sdk-Suppression

#29581 Quotas for DevOpsInfrastructure
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure/examples/2024-04-04-preview/SubscriptionUsages_ListByLocation.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure/examples/2024-04-04-preview/SubscriptionUsages_Usages.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure/main.tsp
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/preview/2024-04-04-preview/devopsinfrastructure.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/preview/2024-04-04-preview/examples/SubscriptionUsages_ListByLocation.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/preview/2024-04-04-preview/examples/SubscriptionUsages_Usages.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, TypeSpec, MergeRequested, BreakingChange-Approved-BugFix, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk

#29614 Revert WebApiSkill design change
  specification/search/data-plane/Azure.Search/stable/2024-07-01/searchservice.json
Labels: Search, data-plane, BreakingChangeReviewRequired, BreakingChange-Approved-Benign

#29507 Fixing swagger model validation failures
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/ExpressRoutePortAuthorizationDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/ExpressRoutePortDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/RouteFilterDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/RouteFilterRuleDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/expressRoutePort.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/routeFilter.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#29618 Oracle.Database. Removed readonly properties from required
  specification/oracle/models/autonomousdatabase/autonomousDatabaseCharacterSet.tsp
  specification/oracle/models/autonomousdatabase/autonomousDatabaseNationalCharacterSet.tsp
  specification/oracle/models/autonomousdatabase/autonomousDatabaseVersion.tsp
  specification/oracle/models/exadata/dbNodes.tsp
  specification/oracle/models/exadata/dbSystemShapes.tsp
  specification/oracle/models/exadata/dnsPrivateViews.tsp
  specification/oracle/models/exadata/dnsPrivateZones.tsp
  specification/oracle/models/exadata/giVersions.tsp
  specification/oracle/models/exadata/systemVersions.tsp
  specification/oracle/resource-manager/Oracle.Database/preview/2023-09-01-preview/openapi.json
  specification/oracle/resource-manager/Oracle.Database/stable/2023-09-01/openapi.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, TypeSpec, MergeRequested

#29597 tsp, loadtesting, update client.tsp to fix the path change issue for action operation
  specification/loadtestservice/LoadTestService/client.tsp
Labels: TypeSpec

#29605 [Informatica] Fix property type
  specification/informatica/Informatica.DataManagement/client.tsp
  specification/informatica/Informatica.DataManagement/examples/2024-05-08/Organizations_CreateOrUpdate_MaximumSet_Gen.json
  specification/informatica/Informatica.DataManagement/examples/2024-05-08/Organizations_GetAllServerlessRuntimes_MaximumSet_Gen.json
  specification/informatica/Informatica.DataManagement/examples/2024-05-08/Organizations_Get_MaximumSet_Gen.json
  specification/informatica/Informatica.DataManagement/examples/2024-05-08/Organizations_ListByResourceGroup_MaximumSet_Gen.json
  specification/informatica/Informatica.DataManagement/examples/2024-05-08/Organizations_ListBySubscription_MaximumSet_Gen.json
  specification/informatica/Informatica.DataManagement/examples/2024-05-08/Organizations_Update_MaximumSet_Gen.json
  specification/informatica/Informatica.DataManagement/examples/2024-05-08/ServerlessRuntimes_CreateOrUpdate_MaximumSet_Gen.json
  specification/informatica/Informatica.DataManagement/examples/2024-05-08/ServerlessRuntimes_Get_MaximumSet_Gen.json
  specification/informatica/Informatica.DataManagement/examples/2024-05-08/ServerlessRuntimes_ListByInformaticaOrganizationResource_MaximumSet_Gen.json
  specification/informatica/Informatica.DataManagement/examples/2024-05-08/ServerlessRuntimes_ServerlessResourceById_MaximumSet_Gen.json
  specification/informatica/Informatica.DataManagement/examples/2024-05-08/ServerlessRuntimes_Update_MaximumSet_Gen.json
  specification/informatica/Informatica.DataManagement/main.tsp
  specification/informatica/Informatica.DataManagement/tspconfig.yaml
  specification/informatica/resource-manager/Informatica.DataManagement/stable/2024-05-08/examples/Organizations_CreateOrUpdate_MaximumSet_Gen.json
  specification/informatica/resource-manager/Informatica.DataManagement/stable/2024-05-08/examples/Organizations_GetAllServerlessRuntimes_MaximumSet_Gen.json
  specification/informatica/resource-manager/Informatica.DataManagement/stable/2024-05-08/examples/Organizations_Get_MaximumSet_Gen.json
  specification/informatica/resource-manager/Informatica.DataManagement/stable/2024-05-08/examples/Organizations_ListByResourceGroup_MaximumSet_Gen.json
  specification/informatica/resource-manager/Informatica.DataManagement/stable/2024-05-08/examples/Organizations_ListBySubscription_MaximumSet_Gen.json
  specification/informatica/resource-manager/Informatica.DataManagement/stable/2024-05-08/examples/Organizations_Update_MaximumSet_Gen.json
  specification/informatica/resource-manager/Informatica.DataManagement/stable/2024-05-08/examples/ServerlessRuntimes_CreateOrUpdate_MaximumSet_Gen.json
  specification/informatica/resource-manager/Informatica.DataManagement/stable/2024-05-08/examples/ServerlessRuntimes_Get_MaximumSet_Gen.json
  specification/informatica/resource-manager/Informatica.DataManagement/stable/2024-05-08/examples/ServerlessRuntimes_ListByInformaticaOrganizationResource_MaximumSet_Gen.json
  specification/informatica/resource-manager/Informatica.DataManagement/stable/2024-05-08/examples/ServerlessRuntimes_ServerlessResourceById_MaximumSet_Gen.json
  specification/informatica/resource-manager/Informatica.DataManagement/stable/2024-05-08/examples/ServerlessRuntimes_Update_MaximumSet_Gen.json
  specification/informatica/resource-manager/Informatica.DataManagement/stable/2024-05-08/openapi.json
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, RPaaS, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-Benign, BreakingChange-Approved-BugFix

#29598 java, informatica disable emitter in tspconfig
  specification/informatica/Informatica.DataManagement/tspconfig.yaml
  specification/informatica/resource-manager/readme.java.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, TypeSpec

#29603 Fix Lro in OnDemand
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/TriggeredAnalyticsRuleRuns.json
Labels: resource-manager

#29615 [TypeSpecRequirement] Convert to GitHub Action
  .github/workflows/typespec-requirement.yaml
  eng/pipelines/typespec-requirement.yml
  eng/scripts/Logging-Functions.ps1
Labels: PipelineBotTrigger
