Repository Azure/azure-rest-api-specs, pull requests merged in 2024-02, with the labels that each got.

#27467 Adding restart network virtual appliance swagger changes
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/NetworkVirtualApplianceEmptyRestart.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/NetworkVirtualApplianceSpecificRestart.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/networkVirtualAppliance.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#27462 Adding new version 2024-01-01-preview for updating monitor Properties
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/NewRelic.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Accounts_List_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Accounts_List_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/BillingInfo_Get.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/ConnectedPartnerResources_List.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/LinkedResources_List.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/MonitoredSubscriptions_CreateorUpdate.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/MonitoredSubscriptions_Delete.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/MonitoredSubscriptions_Get.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/MonitoredSubscriptions_List.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/MonitoredSubscriptions_Update.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Monitors_CreateOrUpdate_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Monitors_Delete_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Monitors_Delete_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Monitors_GetMetricRules_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Monitors_GetMetricRules_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Monitors_GetMetricStatus_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Monitors_GetMetricStatus_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Monitors_Get_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Monitors_ListAppServices_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Monitors_ListAppServices_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Monitors_ListByResourceGroup_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Monitors_ListBySubscription_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Monitors_ListHosts_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Monitors_ListHosts_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Monitors_ListMonitoredResources_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Monitors_ListMonitoredResources_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Monitors_SwitchBilling_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Monitors_SwitchBilling_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Monitors_Update_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Monitors_VmHostPayload_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Monitors_VmHostPayload_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Operations_List_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Operations_List_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Organizations_List_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Organizations_List_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Plans_List_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/Plans_List_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/TagRules_CreateOrUpdate_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/TagRules_CreateOrUpdate_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/TagRules_Delete_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/TagRules_Delete_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/TagRules_Get_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/TagRules_Get_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/TagRules_ListByNewRelicMonitorResource_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/TagRules_ListByNewRelicMonitorResource_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/TagRules_Update_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2024-01-01-preview/examples/TagRules_Update_MinimumSet_Gen.json
  specification/newrelic/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, CI-MissingBaseCommit, Liftr, IDCDevDiv, MergeRequested

#27555 updating preview tag
  specification/servicefabric/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#27590 Cplat 2023-07-03
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2023-07-03/examples/galleryExamples/GalleryImageVersion_Create_WithVmAsSource.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2023-07-03/gallery.json
Labels: resource-manager

#27627 Adding new stable version "2024-01-01"
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/NewRelic.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Accounts_List_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Accounts_List_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/BillingInfo_Get.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/ConnectedPartnerResources_List.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/LinkedResources_List.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/MonitoredSubscriptions_CreateorUpdate.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/MonitoredSubscriptions_Delete.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/MonitoredSubscriptions_Get.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/MonitoredSubscriptions_List.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/MonitoredSubscriptions_Update.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Monitors_CreateOrUpdate_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Monitors_Delete_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Monitors_Delete_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Monitors_GetMetricRules_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Monitors_GetMetricRules_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Monitors_GetMetricStatus_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Monitors_GetMetricStatus_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Monitors_Get_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Monitors_ListAppServices_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Monitors_ListAppServices_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Monitors_ListByResourceGroup_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Monitors_ListBySubscription_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Monitors_ListHosts_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Monitors_ListHosts_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Monitors_ListMonitoredResources_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Monitors_ListMonitoredResources_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Monitors_SwitchBilling_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Monitors_SwitchBilling_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Monitors_Update_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Monitors_VmHostPayload_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Monitors_VmHostPayload_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Operations_List_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Operations_List_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Organizations_List_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Organizations_List_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Plans_List_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/Plans_List_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/TagRules_CreateOrUpdate_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/TagRules_CreateOrUpdate_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/TagRules_Delete_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/TagRules_Delete_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/TagRules_Get_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/TagRules_Get_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/TagRules_ListByNewRelicMonitorResource_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/TagRules_ListByNewRelicMonitorResource_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/TagRules_Update_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-01-01/examples/TagRules_Update_MinimumSet_Gen.json
  specification/newrelic/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, CI-MissingBaseCommit, Liftr, IDCDevDiv, MergeRequested

#27598 Update Route Directions API for AAD description
  specification/maps/data-plane/Route/preview/2023-10-01-preview/route.json
Labels: data-plane

#27251 Adding Vnet-related APIs to Swagger
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/AppServicePlans.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/CommonDefinitions.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/ResourceProvider.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/WebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/examples/AppServicePlan_GetVirtualNetworkIntegration.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/examples/AppServicePlan_GetVirtualNetworkIntegrations.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/examples/GetVirtualNetworkIntegrations.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/examples/PurgeUnusedVirtualNetworkIntegrations.json
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager

#27638 OpenAI Assistants: fix required_action function representation
  specification/ai/OpenAI.Assistants/client.tsp
  specification/ai/OpenAI.Assistants/run_steps/models.tsp
  specification/ai/OpenAI.Assistants/tools/models.tsp
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV2/preview/2024-02-15-preview/assistants_generated.json
  specification/ai/data-plane/OpenAI.Assistants/OpenApiV3/2024-02-15-preview/assistants_generated.yaml
Labels: data-plane, OpenAI, TypeSpec

#27358 Add function app config to latest Web API
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/CommonDefinitions.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/WebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/examples/CreateOrUpdateFunctionAppFlexConsumption.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/examples/CreateOrUpdateFunctionAppFlexConsumptionWithDetails.json
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager

#27641 Update specs for new operation descriptions
  cSpell.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2023-07-20-preview/azurelargeinstance.json
  specification/communitytraining/resource-manager/Microsoft.Community/stable/2023-11-01/CommunityTrainings.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2022-09-02-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-03-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-06-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2023-10-15/fleets.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-07-01-preview/containerstorage.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/preview/2023-12-13-preview/devopsinfrastructure.json
  specification/iotoperationsdataprocessor/resource-manager/Microsoft.IoTOperationsDataProcessor/preview/2023-10-04-preview/openapi.json
  specification/iotoperationsmq/resource-manager/Microsoft.IoTOperationsMQ/preview/2023-10-04-preview/iotoperationsmq.json
  specification/iotoperationsorchestrator/resource-manager/Microsoft.IoTOperationsOrchestrator/preview/2023-10-04-preview/openapi.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/preview/2023-08-01-preview/astronomer.json
  specification/mpcnetworkfunction/resource-manager/Microsoft.MobilePacketCore/preview/2023-05-15-preview/networkfunction.json
  specification/networkanalytics/resource-manager/Microsoft.NetworkAnalytics/stable/2023-11-15/networkanalytics.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2023-10-01-preview/playwrighttesting.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/stable/2024-02-01/playwrighttesting.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/stable/2023-11-01/TrafficController.json
  specification/sphere/resource-manager/Microsoft.AzureSphere/preview/2022-09-01-preview/azuresphere.json
  specification/sphere/resource-manager/Microsoft.AzureSphere/stable/2024-04-01/azuresphere.json
Labels: CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, resource-manager, TypeSpec

#27623 Revert ROUNDTRIP Rules
  documentation/Semantic-and-Model-Violations-Reference.md
  documentation/api-scenario/references/ErrorCodeReference.md
Labels: MergeRequested

#27646 healthinsights, fix tspconfig on java emitter options
  specification/ai/HealthInsights/HealthInsights.OncoPhenotype/tspconfig.yaml
  specification/ai/HealthInsights/HealthInsights.PatientTimeline/tspconfig.yaml
  specification/ai/HealthInsights/HealthInsights.RadiologyInsights/tspconfig.yaml
  specification/ai/HealthInsights/HealthInsights.TrialMatcher/tspconfig.yaml
Labels: TypeSpec

#27491 Add ControlPlaneOnly enum to ManagedClusterUpgradeSpec
  specification/containerservice/Fleet.Management/update/run.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-03-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-06-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2024-02-02-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2023-10-15/fleets.json
Labels: DoNotMerge, ShiftLeftViolation, resource-manager, TypeSpec

#27649 [astro] disable flatten
  specification/liftrastronomer/resource-manager/readme.md
  specification/liftrastronomer/resource-manager/readme.python.md
  specification/liftrastronomer/resource-manager/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS

#27611 Mjmadhu playwrighttesting microsoft.azure playwright service 2023 10 01 preview cp
  specification/playwrighttesting/PlaywrightTesting.Management/examples/2024-02-01-preview/AccountQuotas_Get.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/2024-02-01-preview/AccountQuotas_ListByAccount.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/2024-02-01-preview/Accounts_CheckNameAvailability.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/2024-02-01-preview/Accounts_CreateOrUpdate.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/2024-02-01-preview/Accounts_Delete.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/2024-02-01-preview/Accounts_Get.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/2024-02-01-preview/Accounts_ListByResourceGroup.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/2024-02-01-preview/Accounts_ListBySubscription.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/2024-02-01-preview/Accounts_Update.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/2024-02-01-preview/Operations_List.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/2024-02-01-preview/Quotas_Get.json
  specification/playwrighttesting/PlaywrightTesting.Management/examples/2024-02-01-preview/Quotas_ListBySubscription.json
  specification/playwrighttesting/PlaywrightTesting.Management/main.tsp
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2024-02-01-preview/examples/AccountQuotas_Get.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2024-02-01-preview/examples/AccountQuotas_ListByAccount.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2024-02-01-preview/examples/Accounts_CheckNameAvailability.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2024-02-01-preview/examples/Accounts_CreateOrUpdate.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2024-02-01-preview/examples/Accounts_Delete.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2024-02-01-preview/examples/Accounts_Get.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2024-02-01-preview/examples/Accounts_ListByResourceGroup.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2024-02-01-preview/examples/Accounts_ListBySubscription.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2024-02-01-preview/examples/Accounts_Update.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2024-02-01-preview/examples/Operations_List.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2024-02-01-preview/examples/Quotas_Get.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2024-02-01-preview/examples/Quotas_ListBySubscription.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2024-02-01-preview/playwrighttesting.json
  specification/playwrighttesting/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, new-api-version, CI-MissingBaseCommit, TypeSpec, MergeRequested

#27504 Update Quantum Python Readme to support new autorest
  specification/quantum/data-plane/readme.python.md
Labels: data-plane

#27601 fix Nsp link properties description
  specification/network/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/NspLinkPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2023-07-01-preview/networkSecurityPerimeter.json
  specification/network/resource-manager/Microsoft.Network/preview/2023-08-01-preview/examples/NspLinkPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2023-08-01-preview/networkSecurityPerimeter.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#27582 Introducing service group for orbital (aogs and aodg)
  specification/orbital/resource-manager/Microsoft.Orbital/aodg/preview/2024-03-01-preview/aodg.json
  specification/orbital/resource-manager/Microsoft.Orbital/aodg/preview/2024-03-01-preview/examples/EdgeSiteCreate.json
  specification/orbital/resource-manager/Microsoft.Orbital/aodg/preview/2024-03-01-preview/examples/EdgeSiteDelete.json
  specification/orbital/resource-manager/Microsoft.Orbital/aodg/preview/2024-03-01-preview/examples/EdgeSiteGet.json
  specification/orbital/resource-manager/Microsoft.Orbital/aodg/preview/2024-03-01-preview/examples/EdgeSiteUpdateTag.json
  specification/orbital/resource-manager/Microsoft.Orbital/aodg/preview/2024-03-01-preview/examples/EdgeSitesByResourceGroupList.json
  specification/orbital/resource-manager/Microsoft.Orbital/aodg/preview/2024-03-01-preview/examples/EdgeSitesBySubscriptionList.json
  specification/orbital/resource-manager/Microsoft.Orbital/aodg/preview/2024-03-01-preview/examples/GlobalCommunicationsSiteGet.json
  specification/orbital/resource-manager/Microsoft.Orbital/aodg/preview/2024-03-01-preview/examples/GlobalCommunicationsSitesBySubscriptionList.json
  specification/orbital/resource-manager/Microsoft.Orbital/aodg/preview/2024-03-01-preview/examples/GroundStationCreate.json
  specification/orbital/resource-manager/Microsoft.Orbital/aodg/preview/2024-03-01-preview/examples/GroundStationDelete.json
  specification/orbital/resource-manager/Microsoft.Orbital/aodg/preview/2024-03-01-preview/examples/GroundStationGet.json
  specification/orbital/resource-manager/Microsoft.Orbital/aodg/preview/2024-03-01-preview/examples/GroundStationUpdateTags.json
  specification/orbital/resource-manager/Microsoft.Orbital/aodg/preview/2024-03-01-preview/examples/GroundStationsBySubscription.json
  specification/orbital/resource-manager/Microsoft.Orbital/aodg/preview/2024-03-01-preview/examples/GroundStationsList.json
  specification/orbital/resource-manager/Microsoft.Orbital/aodg/preview/2024-03-01-preview/examples/L2ConnectionCreate.json
  specification/orbital/resource-manager/Microsoft.Orbital/aodg/preview/2024-03-01-preview/examples/L2ConnectionDelete.json
  specification/orbital/resource-manager/Microsoft.Orbital/aodg/preview/2024-03-01-preview/examples/L2ConnectionGet.json
  specification/orbital/resource-manager/Microsoft.Orbital/aodg/preview/2024-03-01-preview/examples/L2ConnectionUpdateTag.json
  specification/orbital/resource-manager/Microsoft.Orbital/aodg/preview/2024-03-01-preview/examples/L2ConnectionsByEdgeSiteNameList.json
  specification/orbital/resource-manager/Microsoft.Orbital/aodg/preview/2024-03-01-preview/examples/L2ConnectionsByGroundStationNameList.json
  specification/orbital/resource-manager/Microsoft.Orbital/aodg/preview/2024-03-01-preview/examples/L2ConnectionsByResourceGroupList.json
  specification/orbital/resource-manager/Microsoft.Orbital/aodg/preview/2024-03-01-preview/examples/L2ConnectionsBySubscriptionList.json
  specification/orbital/resource-manager/Microsoft.Orbital/aodg/preview/2024-03-01-preview/examples/OperationsList.json
  specification/orbital/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit, MergeRequested

#26460 TypeSpec conversion for Purview Policy
  specification/purviewpolicy/PurviewPolicy.Management/backcompat.tsp
  specification/purviewpolicy/PurviewPolicy.Management/examples/2023-06-01-preview/Operations_List_MaximumSet_Gen.json
  specification/purviewpolicy/PurviewPolicy.Management/examples/2023-06-01-preview/Operations_List_MinimumSet_Gen.json
  specification/purviewpolicy/PurviewPolicy.Management/examples/2023-06-01-preview/PurviewPolicies_List_MaximumSet_Gen.json
  specification/purviewpolicy/PurviewPolicy.Management/main.tsp
  specification/purviewpolicy/PurviewPolicy.Management/policy.tsp
  specification/purviewpolicy/PurviewPolicy.Management/tspconfig.yaml
  specification/purviewpolicy/resource-manager/Microsoft.Purview/preview/2023-06-01-preview/examples/Operations_List.json
  specification/purviewpolicy/resource-manager/Microsoft.Purview/preview/2023-06-01-preview/examples/Operations_List_MaximumSet_Gen.json
  specification/purviewpolicy/resource-manager/Microsoft.Purview/preview/2023-06-01-preview/examples/Operations_List_MinimumSet_Gen.json
  specification/purviewpolicy/resource-manager/Microsoft.Purview/preview/2023-06-01-preview/examples/PurviewPolicies_List_MaximumSet_Gen.json
  specification/purviewpolicy/resource-manager/Microsoft.Purview/preview/2023-06-01-preview/policy.json
Labels: ARMSignedOff, Approved-BreakingChange, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, TypeSpec, MergeRequested

#27647 Add bootstrap profile into 2024-01-02-preview API
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-01-02-preview/managedClusters.json
Labels: resource-manager

#27664 Update readme.md for SDK generation
  specification/liftrastronomer/resource-manager/readme.go.md
  specification/liftrastronomer/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS

#27613 disable model flatten for service Azure Large Instance&HDInsight Container
  specification/azurelargeinstance/resource-manager/readme.java.md
  specification/azurelargeinstance/resource-manager/readme.md
  specification/azurelargeinstance/resource-manager/readme.python.md
  specification/azurelargeinstance/resource-manager/readme.typescript.md
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/readme.java.md
  specification/hdinsight/resource-manager/Microsoft.HDInsight/HDInsightOnAks/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, RPaaS

#27633 Add DTS complete API
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-02-15-preview/dataTransferService.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2024-02-15-preview/examples/data-transfer-service/CosmosDBDataTransferJobComplete.json
Labels: CI-BreakingChange-JavaScript, resource-manager

#24015 [EventGrid] Microsoft.AVS/privateClouds events
  specification/eventgrid/data-plane/Microsoft.AVS/stable/2018-01-01/PrivateCloud.json
  specification/eventgrid/data-plane/Microsoft.AVS/stable/2018-01-01/examples/cloud-events-schema/cluster_updated.json
  specification/eventgrid/data-plane/Microsoft.AVS/stable/2018-01-01/examples/cloud-events-schema/privatecloud_updating.json
  specification/eventgrid/data-plane/Microsoft.AVS/stable/2018-01-01/examples/cloud-events-schema/script_execution_failed.json
  specification/eventgrid/data-plane/Microsoft.AVS/stable/2018-01-01/examples/event-grid-schema/cluster_updated.json
  specification/eventgrid/data-plane/Microsoft.AVS/stable/2018-01-01/examples/event-grid-schema/privatecloud_updating.json
  specification/eventgrid/data-plane/Microsoft.AVS/stable/2018-01-01/examples/event-grid-schema/script_execution_failed.json
  specification/eventgrid/data-plane/readme.md
Labels: Event Grid, data-plane, new-api-version, CI-MissingBaseCommit

#27671 Add IngressProfile to Stable API
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-01-01/examples/ManagedClustersCreate_IngressProfile_WebAppRouting.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-01-01/managedClusters.json
Labels: resource-manager

#27661 chore(aks): Add PodIPAllocationMode to 2024-01-02-preview
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-01-02-preview/managedClusters.json
Labels: resource-manager

#27403 Resolving 2023-05-01 swagger validation errors for Azure Firewall examples.
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/azureFirewall.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/AzureFirewallDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/AzureFirewallGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/AzureFirewallGetWithAdditionalProperties.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/AzureFirewallGetWithIpGroups.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/AzureFirewallGetWithMgmtSubnet.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/AzureFirewallGetWithZones.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/AzureFirewallListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/AzureFirewallListBySubscription.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/AzureFirewallListLearnedIPPrefixes.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/AzureFirewallPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/AzureFirewallPutWithAdditionalProperties.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/AzureFirewallPutWithIpGroups.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/AzureFirewallPutWithMgmtSubnet.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/AzureFirewallPutWithZones.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/AzureFirewallUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/IpGroupsDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VirtualRouterDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VirtualRouterPeeringDelete.json
Labels: ARMSignedOff, FixS360, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#27413 Updated the new endpoint type AzureArcNetwork and some additional properties
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/NetworkWatcherConnectionMonitorCreateWithArcNetwork.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/NetworkWatcherConnectionMonitorDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/NetworkWatcherConnectionMonitorStart.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/NetworkWatcherConnectionMonitorStop.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/NetworkWatcherDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/NetworkWatcherFlowLogDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/NetworkWatcherPacketCaptureDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/NetworkWatcherPacketCaptureStop.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/networkWatcher.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#27616 common-types bug fix: Remove maxLeng on ScopeParameter
  specification/common-types/resource-management/v4/types.json
  specification/common-types/resource-management/v5/types.json
Labels: ARMSignedOff, MergeRequested

#27684 Update clusterservice.tsp
  specification/mobilepacketcore/MobilePacketCore.Management/clusterservice.tsp
Labels: TypeSpec, MergeRequested

#27677 [TypeSpec] Upgrade to 0.53.0
  cSpell.json
  package-lock.json
  package.json
  specification/ai/data-plane/DocumentIntelligence/preview/2023-10-31-preview/DocumentIntelligence.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/apicenter.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2023-07-20-preview/azurelargeinstance.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-06-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-07-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-08-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-09-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-12-01-preview/generated.json
  specification/cognitiveservices/data-plane/ContentSafety/preview/2023-10-15-preview/contentsafety.json
  specification/cognitiveservices/data-plane/ContentSafety/stable/2023-10-01/contentsafety.json
  specification/communitytraining/resource-manager/Microsoft.Community/stable/2023-11-01/CommunityTrainings.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2022-09-02-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-03-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-06-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2023-10-15/fleets.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-07-01-preview/containerstorage.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/preview/2023-12-13-preview/devopsinfrastructure.json
  specification/iotoperationsdataprocessor/resource-manager/Microsoft.IoTOperationsDataProcessor/preview/2023-10-04-preview/openapi.json
  specification/iotoperationsmq/resource-manager/Microsoft.IoTOperationsMQ/preview/2023-10-04-preview/iotoperationsmq.json
  specification/iotoperationsorchestrator/resource-manager/Microsoft.IoTOperationsOrchestrator/preview/2023-10-04-preview/openapi.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/preview/2023-08-01-preview/astronomer.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2023-04-01-preview/loadtestservice.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/loadtestservice.json
  specification/mobilepacketcore/resource-manager/Microsoft.MobilePacketCore/preview/2023-10-15-preview/mobilepacketcore.json
  specification/mpcnetworkfunction/resource-manager/Microsoft.MobilePacketCore/preview/2023-05-15-preview/networkfunction.json
  specification/networkanalytics/resource-manager/Microsoft.NetworkAnalytics/stable/2023-11-15/networkanalytics.json
  specification/playwrighttesting/data-plane/Microsoft.PlaywrightTesting.AuthManager/preview/2023-10-01-preview/playwrighttesting.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2023-10-01-preview/playwrighttesting.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2024-02-01-preview/playwrighttesting.json
  specification/purviewpolicy/resource-manager/Microsoft.Purview/preview/2023-06-01-preview/policy.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/stable/2023-11-01/TrafficController.json
  specification/sphere/resource-manager/Microsoft.AzureSphere/preview/2022-09-01-preview/azuresphere.json
  specification/sphere/resource-manager/Microsoft.AzureSphere/stable/2024-04-01/azuresphere.json
Labels: ARMSignedOff, ARMReview, resource-manager, data-plane, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-Benign

#27685 Add clarity to Search v1 API regarding `municipality` vs. `localName`.
  specification/maps/data-plane/Search/preview/1.0/search.json
Labels: data-plane

#27607 Mvvsubbu databricks microsoft.databricks 2024 02 01 preview
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/databricks.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/DisableEncryption.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/EnableEncryption.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/ListPrivateEndpointConnections.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/ListPrivateLinkResources.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/OperationsList.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/OutboundNetworkDependenciesEndpointsList.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/PrepareEncryption.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/PrivateEndpointConnectionsDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/PrivateEndpointConnectionsGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/PrivateEndpointConnectionsUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/PrivateLinkResourcesGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceCreate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceCreateWithParameters.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceDeleteRetainUcData.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceEnhancedSecurityComplianceCreateOrUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceEnhancedSecurityComplianceGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceGetParameters.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceManagedDiskEncryptionCreate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceManagedDiskEncryptionGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceManagedDiskEncryptionUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceVirtualNetPeeringGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceVirtualNetPeeringList.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceVirtualNetworkPeeringCreateOrUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceVirtualNetworkPeeringDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspacesListByResourceGroup.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspacesListBySubscription.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/vnetpeering.json
  specification/databricks/resource-manager/readme.md
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, new-api-version, MergeRequested

#27699 Add examples for assistant apis
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/cancel_run.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/cancel_run.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/create_assistant.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/create_assistant.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/create_assistant_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/create_assistant_file.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/create_message.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/create_message.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/create_run.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/create_run.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/create_thread.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/create_thread.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/create_thread_and_run.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/create_thread_and_run.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/delete_assistant.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/delete_assistant.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/delete_assistant_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/delete_assistant_file.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/delete_thread.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/delete_thread.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/get_assistant_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/get_assistant_file.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/get_message.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/get_message.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/get_message_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/get_message_file.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/get_run.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/get_run.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/get_run_step.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/get_run_step.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/list_assistant_files.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/list_assistant_files.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/list_assistants.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/list_assistants.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/list_message_files.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/list_message_files.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/list_messages.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/list_messages.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/list_run_steps.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/list_run_steps.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/list_runs.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/list_runs.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/modify_assistant.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/modify_assistant.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/modify_message.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/modify_message.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/modify_run.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/modify_run.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/modify_thread.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/modify_thread.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/retrieve_assistant.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/retrieve_assistant.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/retrieve_thread.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/retrieve_thread.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/submit_tool_outputs_to_run.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/examples/submit_tool_outputs_to_run.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/inference.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/inference.yaml
Labels: data-plane

#27693 add directive to match parameter name
  specification/azurelargeinstance/resource-manager/readme.typescript.md
Labels: resource-manager

#27477 Release network microsoft.network official 2023 11 01
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/applicationGateway.json
Labels: ARMSignedOff, customer-reported, ARMReview, resource-manager, MergeRequested

#27706 Enrichment API
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-01-01-preview/EnrichmentWithWorkspace.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-01-01-preview/examples/enrichment/GetGeodataWithWorkspaceByIp.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-01-01-preview/examples/enrichment/GetWhoisWithWorkspaceByDomainName.json
  specification/securityinsights/resource-manager/readme.md
Labels: resource-manager

#27683 Added customizations for pagination models
  specification/ai/OpenAI.Assistants/tspconfig.yaml
Labels: TypeSpec

#27353 [Cognitive Services - Azure AI Content Safety] - [Private Preview] - Add Image Batch Detection
  cSpell.json
  specification/cognitiveservices/ContentSafety/main.tsp
  specification/cognitiveservices/ContentSafety/models.tsp
  specification/cognitiveservices/ContentSafety/routes.tsp
  specification/cognitiveservices/data-plane/ContentSafety/preview/2023-10-30-preview/contentsafety.json
  specification/cognitiveservices/data-plane/ContentSafety/preview/2024-01-30-preview/contentsafety.json
Labels: data-plane, TypeSpec

#27741 Fix incorrect tag name in comment.
  specification/contosowidgetmanager/data-plane/readme.md
Labels: data-plane

#27745 [Fleet] 2024-02-02-preview skip operation sync to async
  specification/containerservice/Fleet.Management/examples/2024-02-02-preview/UpdateRuns_Skip.json
  specification/containerservice/Fleet.Management/update/run.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2024-02-02-preview/examples/UpdateRuns_Skip.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2024-02-02-preview/fleets.json
Labels: resource-manager, TypeSpec

#27740 Replace `@projectedName("json"` -> `@encodedName("application/json"`
  specification/ai/ImageAnalysis/models.tsp
  specification/ai/OpenAI.Assistants/assistants/models.tsp
  specification/ai/OpenAI.Assistants/assistants/routes.tsp
  specification/ai/OpenAI.Assistants/common/models.tsp
  specification/ai/OpenAI.Assistants/files/models.tsp
  specification/ai/OpenAI.Assistants/files/routes.tsp
  specification/ai/OpenAI.Assistants/messages/models.tsp
  specification/ai/OpenAI.Assistants/messages/routes.tsp
  specification/ai/OpenAI.Assistants/run_steps/models.tsp
  specification/ai/OpenAI.Assistants/runs/models.tsp
  specification/ai/OpenAI.Assistants/runs/routes.tsp
  specification/ai/OpenAI.Assistants/threads/models.tsp
  specification/ai/OpenAI.Assistants/tools/models.tsp
  specification/cognitiveservices/OpenAI.Inference/models/audio/audio_transcription.tsp
  specification/cognitiveservices/OpenAI.Inference/models/audio/audio_translation.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/azure_content_filtering.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/chat_completions.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/chat_messages.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/common.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/completions_create.tsp
  specification/cognitiveservices/OpenAI.Inference/models/embeddings_create.tsp
  specification/cognitiveservices/OpenAI.Inference/models/images/images.tsp
  specification/loadtestservice/LoadTestService/models.tsp
Labels: TypeSpec

#27686 added fttraidlevel in avssummary
  specification/migrate/resource-manager/Microsoft.Migrate/AssessmentProjects/preview/2023-04-01-preview/examples/BusinessCaseAvsSummaryOperations_Get_MaximumSet_Gen.json
  specification/migrate/resource-manager/Microsoft.Migrate/AssessmentProjects/preview/2023-04-01-preview/examples/BusinessCaseAvsSummaryOperations_ListByBusinessCase_MaximumSet_Gen.json
  specification/migrate/resource-manager/Microsoft.Migrate/AssessmentProjects/preview/2023-04-01-preview/migrate.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, NewApiVersionRequired, TypeSpec, MergeRequested, AzCoreIDC, Versioning-Approved-Benign

#27750 [Fleet] 2024-02-02-preview compile with latest compiler
  package-lock.json
  package.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2022-09-02-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-03-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-06-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2024-02-02-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2023-10-15/fleets.json
Labels: resource-manager, TypeSpec

#26922 Add Azure Programmable Connectivity dataplane APIs
  custom-words.txt
  specification/programmableconnectivity/Azure.ProgrammableConnectivity/apis/common.tsp
  specification/programmableconnectivity/Azure.ProgrammableConnectivity/apis/location.tsp
  specification/programmableconnectivity/Azure.ProgrammableConnectivity/apis/network.tsp
  specification/programmableconnectivity/Azure.ProgrammableConnectivity/apis/number.tsp
  specification/programmableconnectivity/Azure.ProgrammableConnectivity/apis/simswap.tsp
  specification/programmableconnectivity/Azure.ProgrammableConnectivity/client.tsp
  specification/programmableconnectivity/Azure.ProgrammableConnectivity/examples/2024-02-09-preview/DeviceLocation_Verify_MaximumSet_Gen.json
  specification/programmableconnectivity/Azure.ProgrammableConnectivity/examples/2024-02-09-preview/DeviceNetwork_Retrieve_MaximumSet_Gen.json
  specification/programmableconnectivity/Azure.ProgrammableConnectivity/examples/2024-02-09-preview/NumberVerification_VerifyWithCode_MaximumSet_Gen.json
  specification/programmableconnectivity/Azure.ProgrammableConnectivity/examples/2024-02-09-preview/NumberVerification_VerifyWithoutCode_MaximumSet_Gen.json
  specification/programmableconnectivity/Azure.ProgrammableConnectivity/examples/2024-02-09-preview/SimSwap_Retrieve_MaximumSet_Gen.json
  specification/programmableconnectivity/Azure.ProgrammableConnectivity/examples/2024-02-09-preview/SimSwap_Verify_MaximumSet_Gen.json
  specification/programmableconnectivity/Azure.ProgrammableConnectivity/main.tsp
  specification/programmableconnectivity/Azure.ProgrammableConnectivity/tspconfig.yaml
  specification/programmableconnectivity/data-plane/Azure.ProgrammableConnectivity/preview/2024-02-09-preview/examples/DeviceLocation_Verify_MaximumSet_Gen.json
  specification/programmableconnectivity/data-plane/Azure.ProgrammableConnectivity/preview/2024-02-09-preview/examples/DeviceNetwork_Retrieve_MaximumSet_Gen.json
  specification/programmableconnectivity/data-plane/Azure.ProgrammableConnectivity/preview/2024-02-09-preview/examples/NumberVerification_VerifyWithCode_MaximumSet_Gen.json
  specification/programmableconnectivity/data-plane/Azure.ProgrammableConnectivity/preview/2024-02-09-preview/examples/NumberVerification_VerifyWithoutCode_MaximumSet_Gen.json
  specification/programmableconnectivity/data-plane/Azure.ProgrammableConnectivity/preview/2024-02-09-preview/examples/SimSwap_Retrieve_MaximumSet_Gen.json
  specification/programmableconnectivity/data-plane/Azure.ProgrammableConnectivity/preview/2024-02-09-preview/examples/SimSwap_Verify_MaximumSet_Gen.json
  specification/programmableconnectivity/data-plane/Azure.ProgrammableConnectivity/preview/2024-02-09-preview/openapi.json
  specification/programmableconnectivity/data-plane/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, Approved-Suppression, SuppressionReviewRequired, new-api-version, CI-MissingBaseCommit, TypeSpec

#27752 Corrected the "Pricing Tiers" link text
  specification/maps/data-plane/Render/preview/1.0/render.json
  specification/maps/data-plane/Search/preview/1.0/search.json
  specification/maps/data-plane/Search/stable/2023-06-01/search.json
  specification/maps/data-plane/Spatial/stable/2022-08-01/spatial.json
  specification/maps/data-plane/readme.md
Labels: Approved-LintDiff, data-plane

#27418 Updating Path Create in DataLakeStorage.json 2019-12-12
  specification/storage/data-plane/Microsoft.StorageDataLake/stable/2019-12-12/DataLakeStorage.json
Labels: customer-reported, data-plane

#27749 Convert ARM TSP from enum to union
  specification/apicenter/ApiCenter.Management/models.tsp
  specification/azurelargeinstance/AzureLargeInstance.Management/models.tsp
  specification/communitytraining/Community.Management/main.tsp
  specification/containerservice/Fleet.Management/fleet.tsp
  specification/containerservice/Fleet.Management/fleetmember.tsp
  specification/containerservice/Fleet.Management/update/run.tsp
  specification/containerservice/Fleet.Management/update/strategy.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-03-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-06-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2023-10-15/fleets.json
  specification/containerstorage/ContainerStorage.Management/main.tsp
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure/main.tsp
  specification/iotoperationsdataprocessor/IoTOperationsDataProcessor.Management/common.tsp
  specification/iotoperationsmq/IoTOperationsMQ.Management/models/base.tsp
  specification/iotoperationsmq/IoTOperationsMQ.Management/models/datalakeconnector.tsp
  specification/iotoperationsmq/IoTOperationsMQ.Management/models/kafkaconnector.tsp
  specification/iotoperationsmq/IoTOperationsMQ.Management/models/mqttbridgeconnector.tsp
  specification/iotoperationsmq/IoTOperationsMQ.Management/models/mqttbroker.tsp
  specification/iotoperationsorchestrator/IoTOperationsOrchestrator.Management/common.tsp
  specification/liftrastronomer/Astronomer.Astro.Management/LiftrBase/main.tsp
  specification/mobilepacketcore/MobilePacketCore.Management/common.tsp
  specification/mpcnetworkfunction/MpcNetworkFunction.Management/networkfunction.tsp
  specification/networkanalytics/NetworkAnalytics.Management/main.tsp
  specification/playwrighttesting/PlaywrightTesting.Management/main.tsp
  specification/playwrighttesting/PlaywrightTesting/main.tsp
  specification/purviewpolicy/PurviewPolicy.Management/policy.tsp
  specification/servicenetworking/ServiceNetworking.Management/main.tsp
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/stable/2023-11-01/TrafficController.json
  specification/sphere/Sphere.Management/common.tsp
  specification/sphere/Sphere.Management/device.tsp
  specification/sphere/Sphere.Management/deviceGroup.tsp
  specification/sphere/Sphere.Management/image.tsp
Labels: WaitForARMFeedback, DoNotMerge, ShiftLeftViolation, ARMReview, resource-manager, ReadyForApiTest, TypeSpec

#27688 Mark MOE API Contract MaxQueueWait as deprecated
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#27760 [Fleet] 2024-02-02-preview resolve conflicts
  package-lock.json
  specification/containerservice/Fleet.Management/update/run.tsp
Labels: resource-manager, TypeSpec

#27735 Adding new stable API version 2024-03-01 for Microsoft.Elastic
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/elastic.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/AllTrafficFilters_list.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/AssociateTrafficFilter_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/AssociatedFiltersForDeployment_list.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/BillingInfo_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/ConnectedPartnerResources_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/DeploymentInfo_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/DetachAndDeleteTrafficFilter_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/DetachTrafficFilters_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/ElasticVersions_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/ExternalUserInfo.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/IPTrafficFilter_Create.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/Monitor_Upgrade.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/MonitoredResources_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/Monitors_Create.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/Monitors_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/Monitors_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/Monitors_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/Monitors_ListByResourceGroup.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/Monitors_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/OpenAI_CreateOrUpdate.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/OpenAI_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/OpenAI_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/OpenAI_GetStatus.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/OpenAI_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/Operations_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/Organizations_GetApiKey.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/Organizations_GetElasticToAzureSubscriptionMapping.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/PrivateLinkTrafficFilters_Create.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/TagRules_CreateOrUpdate.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/TagRules_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/TagRules_Get.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/TagRules_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/TrafficFilters_Delete.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/UpgradableVersions_Details.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/VMCollection_Update.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/VMHost_List.json
  specification/elastic/resource-manager/Microsoft.Elastic/stable/2024-03-01/examples/VMIngestion_Details.json
  specification/elastic/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, new-api-version, Liftr, IDCDevDiv, MergeRequested, BreakingChange-Approved-Benign, Versioning-Approved-Benign

#27755 Poli check macao sar
  specification/maps/data-plane/Render/preview/1.0/examples/SuccessfulWorldCopyrightRequest.json
  specification/maps/data-plane/Render/stable/2022-08-01/examples/Render_GetCopyrightForWorld.json
  specification/maps/data-plane/Timezone/preview/1.0/examples/GetTimezoneEnumIANA.json
Labels: data-plane

#27737 Update DataConnectorDefinitions API. Removed unused properties
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-01-01-preview/dataConnectorDefinitions.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-01-01-preview/examples/dataConnectorDefinitions/CreateCustomizableDataConnectorDefinition.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-01-01-preview/examples/dataConnectorDefinitions/GetCustomizableDataConnectoeDefinitionById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-01-01-preview/examples/dataConnectorDefinitions/GetDataConnectorDefinitions.json
Labels: ARMSignedOff, resource-manager

#27736 Add new kind (RestApiPoller) to DataConnectors API
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-01-01-preview/dataConnectors.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-01-01-preview/examples/dataConnectors/GetRestApiPollerById.json
Labels: ARMSignedOff, resource-manager

#27644 [Hub Generated] Publish private branch 'eatkimchee-rpsaasmaster-fist-Microsoft.IoTFirmwareDefense-2024-01-10'
  cSpell.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/binaryHardeningResults.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/common.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/cryptoCertificates.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/cryptoKeys.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/cves.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/BinaryHardening_ListByFirmware_MaximumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/BinaryHardening_ListByFirmware_MinimumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/CryptoCertificates_ListByFirmware_MaximumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/CryptoCertificates_ListByFirmware_MinimumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/CryptoKeys_ListByFirmware_MaximumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/CryptoKeys_ListByFirmware_MinimumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Cves_ListByFirmware_MaximumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Cves_ListByFirmware_MinimumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Firmwares_Create_MaximumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Firmwares_Create_MinimumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Firmwares_Delete_MaximumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Firmwares_Delete_MinimumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Firmwares_GenerateDownloadUrl_MaximumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Firmwares_GenerateDownloadUrl_MinimumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Firmwares_GenerateFilesystemDownloadUrl_MaximumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Firmwares_GenerateFilesystemDownloadUrl_MinimumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Firmwares_Get_MaximumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Firmwares_Get_MinimumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Firmwares_ListByWorkspace_MaximumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Firmwares_ListByWorkspace_MinimumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Firmwares_Update_MaximumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Firmwares_Update_MinimumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Operations_List_MaximumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Operations_List_MinimumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/PasswordHashes_ListByFirmware_MaximumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/PasswordHashes_ListByFirmware_MinimumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/SbomComponents_ListByFirmware_MaximumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/SbomComponents_ListByFirmware_MinimumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Summaries_Get_MaximumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Summaries_Get_MinimumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Summaries_ListByFirmware_MaximumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Summaries_ListByFirmware_MinimumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Workspaces_Create_MaximumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Workspaces_Create_MinimumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Workspaces_Delete_MaximumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Workspaces_Delete_MinimumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Workspaces_GenerateUploadUrl_MaximumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Workspaces_GenerateUploadUrl_MinimumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Workspaces_Get_MaximumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Workspaces_Get_MinimumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Workspaces_ListByResourceGroup_MaximumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Workspaces_ListByResourceGroup_MinimumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Workspaces_ListBySubscription_MaximumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Workspaces_ListBySubscription_MinimumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Workspaces_Update_MaximumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/examples/Workspaces_Update_MinimumSet_Gen.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/firmwares.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/operations.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/passwordHashes.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/sbomComponents.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/summaries.json
  specification/fist/resource-manager/Microsoft.IoTFirmwareDefense/stable/2024-01-10/workspaces.json
  specification/fist/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, MergeRequested

#27769 Fixing Package Version Tag
  specification/databricks/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#27787 Fix OperationIdNounVerb rule for builds.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/Builds.json
Labels: ARMSignedOff, ARMReview, resource-manager

#27781 Add subnet peering feature properties to swagger.
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/virtualNetwork.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#27786 Fix LroErrorContent lint diff check
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/Builders.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/Builds.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/DotNetComponents.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/JavaComponents.json
  specification/app/resource-manager/readme.go.md
  specification/app/resource-manager/readme.python.md
Labels: WaitForARMFeedback, ARMReview, resource-manager

#27711 [ARM Query] Add new property enableDirectPortRateLimit to ExpressRouteCircuit resource
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/ExpressRouteCircuitCreateOnExpressRoutePort.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/expressRouteCircuit.json
Labels: ARMSignedOff, Network - ExpressRoute, ARMReview, resource-manager, MergeRequested

#27581 added 2024-01-01-preview to public repo
  cSpell.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-01-01-preview/examples/Certificates_CreateOrUpdate.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-01-01-preview/examples/Certificates_Delete.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-01-01-preview/examples/Certificates_Get.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-01-01-preview/examples/Certificates_List.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-01-01-preview/examples/Configurations_Analysis.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-01-01-preview/examples/Configurations_CreateOrUpdate.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-01-01-preview/examples/Configurations_Delete.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-01-01-preview/examples/Configurations_Get.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-01-01-preview/examples/Configurations_List.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-01-01-preview/examples/Deployments_Create.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-01-01-preview/examples/Deployments_Delete.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-01-01-preview/examples/Deployments_Get.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-01-01-preview/examples/Deployments_Get_AutoScale.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-01-01-preview/examples/Deployments_List.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-01-01-preview/examples/Deployments_ListByResourceGroup.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-01-01-preview/examples/Deployments_Update.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-01-01-preview/examples/Operations_List.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-01-01-preview/swagger.json
Labels: ARMSignedOff, Approved-Avocado, ARMReview, resource-manager, new-api-version, MergeRequested

#27774 [Hub generated spec]recoveryservices microsoft.recovery services 2024 01 01
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/Capabilities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/CheckNameAvailability_Available.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/CheckNameAvailability_NotAvailable.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/PATCHVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/PATCHVault_WithRedundancySettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/PUTVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/PUTVault_WithRedundancySettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/examples/UpdateVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/registeredidentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/replicationusages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/vaults.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-01-01/vaultusages.json
  specification/recoveryservices/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version

#27395 [Communication][Chat] Promote file attachment type from Beta -> GA
  specification/communication/data-plane/Chat/readme.md
  specification/communication/data-plane/Chat/stable/2024-03-07/communicationserviceschat.json
  specification/communication/data-plane/Chat/stable/2024-03-07/examples/Conversations_ListChatReadReceiptsWithPageSize.json
  specification/communication/data-plane/Chat/stable/2024-03-07/examples/Conversations_SendChatReadReceipt.json
  specification/communication/data-plane/Chat/stable/2024-03-07/examples/Messages_DeleteChatMessage.json
  specification/communication/data-plane/Chat/stable/2024-03-07/examples/Messages_GetChatMessage.json
  specification/communication/data-plane/Chat/stable/2024-03-07/examples/Messages_ListChatMessagesWithPageSize.json
  specification/communication/data-plane/Chat/stable/2024-03-07/examples/Messages_SendChatMessage.json
  specification/communication/data-plane/Chat/stable/2024-03-07/examples/Messages_SendTypingNotification.json
  specification/communication/data-plane/Chat/stable/2024-03-07/examples/Messages_UpdateChatMessage.json
  specification/communication/data-plane/Chat/stable/2024-03-07/examples/Participants_AddChatParticipants.json
  specification/communication/data-plane/Chat/stable/2024-03-07/examples/Participants_ListChatParticipantsWithPageSize.json
  specification/communication/data-plane/Chat/stable/2024-03-07/examples/Participants_RemoveChatParticipant.json
  specification/communication/data-plane/Chat/stable/2024-03-07/examples/Threads_CreateChatThread.json
  specification/communication/data-plane/Chat/stable/2024-03-07/examples/Threads_CreateChatThreadWithIdempotencyToken.json
  specification/communication/data-plane/Chat/stable/2024-03-07/examples/Threads_DeleteChatThread.json
  specification/communication/data-plane/Chat/stable/2024-03-07/examples/Threads_GetChatThread.json
  specification/communication/data-plane/Chat/stable/2024-03-07/examples/Threads_ListChatThreadsWithPageSize.json
  specification/communication/data-plane/Chat/stable/2024-03-07/examples/Threads_UpdateChatThreadTopic.json
Labels: APIStewardshipBoard-SignedOff, data-plane, new-api-version, CI-MissingBaseCommit

#27810 Added the summary property to the Creator swagger files for the v2 stable release
  specification/maps/data-plane/Creator/preview/2.0/alias.json
  specification/maps/data-plane/Creator/preview/2.0/dataset.json
  specification/maps/data-plane/Creator/preview/2.0/dwgconversion.json
  specification/maps/data-plane/Creator/preview/2.0/featurestate.json
  specification/maps/data-plane/Creator/preview/2.0/tileset.json
  specification/maps/data-plane/Creator/preview/2.0/wfs.json
Labels: data-plane

#27619 [TypeSpec Validation] separate error message for folder-struct
  eng/tools/typespec-validation/src/rules/folder-structure.ts
Labels: Central-EngSys

#27691 Copy databasewatcher to public repo for public preview.
  specification/databasewatcher/DatabaseWatcher.Management/baseTarget.tsp
  specification/databasewatcher/DatabaseWatcher.Management/examples/2023-09-01-preview/Operations_List_200.json
  specification/databasewatcher/DatabaseWatcher.Management/examples/2023-09-01-preview/SharedPrivateLinkResources_Create_200.json
  specification/databasewatcher/DatabaseWatcher.Management/examples/2023-09-01-preview/SharedPrivateLinkResources_Delete_200.json
  specification/databasewatcher/DatabaseWatcher.Management/examples/2023-09-01-preview/SharedPrivateLinkResources_Get_200.json
  specification/databasewatcher/DatabaseWatcher.Management/examples/2023-09-01-preview/SharedPrivateLinkResources_ListByWatcher_200.json
  specification/databasewatcher/DatabaseWatcher.Management/examples/2023-09-01-preview/Targets_CreateOrUpdate_200.json
  specification/databasewatcher/DatabaseWatcher.Management/examples/2023-09-01-preview/Targets_Delete_200.json
  specification/databasewatcher/DatabaseWatcher.Management/examples/2023-09-01-preview/Targets_Get_200.json
  specification/databasewatcher/DatabaseWatcher.Management/examples/2023-09-01-preview/Targets_ListByWatcher_200.json
  specification/databasewatcher/DatabaseWatcher.Management/examples/2023-09-01-preview/Watchers_CreateOrUpdate_200.json
  specification/databasewatcher/DatabaseWatcher.Management/examples/2023-09-01-preview/Watchers_Delete_200.json
  specification/databasewatcher/DatabaseWatcher.Management/examples/2023-09-01-preview/Watchers_Get_200.json
  specification/databasewatcher/DatabaseWatcher.Management/examples/2023-09-01-preview/Watchers_ListByResourceGroup_200.json
  specification/databasewatcher/DatabaseWatcher.Management/examples/2023-09-01-preview/Watchers_ListBySubscription_200.json
  specification/databasewatcher/DatabaseWatcher.Management/examples/2023-09-01-preview/Watchers_Start_200.json
  specification/databasewatcher/DatabaseWatcher.Management/examples/2023-09-01-preview/Watchers_Stop_200.json
  specification/databasewatcher/DatabaseWatcher.Management/examples/2023-09-01-preview/Watchers_Update_200.json
  specification/databasewatcher/DatabaseWatcher.Management/main.tsp
  specification/databasewatcher/DatabaseWatcher.Management/sharedPrivateLinkResource.tsp
  specification/databasewatcher/DatabaseWatcher.Management/sqlDbDatabaseTarget.tsp
  specification/databasewatcher/DatabaseWatcher.Management/sqlDbElasticPoolTarget.tsp
  specification/databasewatcher/DatabaseWatcher.Management/sqlMiTarget.tsp
  specification/databasewatcher/DatabaseWatcher.Management/sqlVmTarget.tsp
  specification/databasewatcher/DatabaseWatcher.Management/tspconfig.yaml
  specification/databasewatcher/DatabaseWatcher.Management/watcher.tsp
  specification/databasewatcher/resource-manager/Microsoft.DatabaseWatcher/preview/2023-09-01-preview/Watcher.json
  specification/databasewatcher/resource-manager/Microsoft.DatabaseWatcher/preview/2023-09-01-preview/examples/Operations_List_200.json
  specification/databasewatcher/resource-manager/Microsoft.DatabaseWatcher/preview/2023-09-01-preview/examples/SharedPrivateLinkResources_Create_200.json
  specification/databasewatcher/resource-manager/Microsoft.DatabaseWatcher/preview/2023-09-01-preview/examples/SharedPrivateLinkResources_Delete_200.json
  specification/databasewatcher/resource-manager/Microsoft.DatabaseWatcher/preview/2023-09-01-preview/examples/SharedPrivateLinkResources_Get_200.json
  specification/databasewatcher/resource-manager/Microsoft.DatabaseWatcher/preview/2023-09-01-preview/examples/SharedPrivateLinkResources_ListByWatcher_200.json
  specification/databasewatcher/resource-manager/Microsoft.DatabaseWatcher/preview/2023-09-01-preview/examples/Targets_CreateOrUpdate_200.json
  specification/databasewatcher/resource-manager/Microsoft.DatabaseWatcher/preview/2023-09-01-preview/examples/Targets_Delete_200.json
  specification/databasewatcher/resource-manager/Microsoft.DatabaseWatcher/preview/2023-09-01-preview/examples/Targets_Get_200.json
  specification/databasewatcher/resource-manager/Microsoft.DatabaseWatcher/preview/2023-09-01-preview/examples/Targets_ListByWatcher_200.json
  specification/databasewatcher/resource-manager/Microsoft.DatabaseWatcher/preview/2023-09-01-preview/examples/Watchers_CreateOrUpdate_200.json
  specification/databasewatcher/resource-manager/Microsoft.DatabaseWatcher/preview/2023-09-01-preview/examples/Watchers_Delete_200.json
  specification/databasewatcher/resource-manager/Microsoft.DatabaseWatcher/preview/2023-09-01-preview/examples/Watchers_Get_200.json
  specification/databasewatcher/resource-manager/Microsoft.DatabaseWatcher/preview/2023-09-01-preview/examples/Watchers_ListByResourceGroup_200.json
  specification/databasewatcher/resource-manager/Microsoft.DatabaseWatcher/preview/2023-09-01-preview/examples/Watchers_ListBySubscription_200.json
  specification/databasewatcher/resource-manager/Microsoft.DatabaseWatcher/preview/2023-09-01-preview/examples/Watchers_Start_200.json
  specification/databasewatcher/resource-manager/Microsoft.DatabaseWatcher/preview/2023-09-01-preview/examples/Watchers_Stop_200.json
  specification/databasewatcher/resource-manager/Microsoft.DatabaseWatcher/preview/2023-09-01-preview/examples/Watchers_Update_200.json
  specification/databasewatcher/resource-manager/readme.az.md
  specification/databasewatcher/resource-manager/readme.cli.md
  specification/databasewatcher/resource-manager/readme.csharp.md
  specification/databasewatcher/resource-manager/readme.go.md
  specification/databasewatcher/resource-manager/readme.md
  specification/databasewatcher/resource-manager/readme.python.md
  specification/databasewatcher/resource-manager/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, new-rp-namespace, TypeSpec, MergeRequested

#27381 Swagger changes for ServiceNowV2.
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Dataset.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: DoNotMerge, ARMChangesRequested, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, CI-BreakingChange-JavaScript, ShiftLeftViolation, ARMReview, resource-manager, data-plane, ReadyForApiTest

#27666 Enable GBQV2 connector and its swagger for Date Factory and Synapse
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Dataset.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: ARMSignedOff, customer-reported, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ShiftLeftViolation, ARMReview, resource-manager, data-plane, ReadyForApiTest, MergeRequested

#27682 Added Recommendations API 2024-01-01-preview version
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-01-01-preview/Recommendations.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-01-01-preview/examples/recommendations/GetRecommendation.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-01-01-preview/examples/recommendations/GetRecommendations.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-01-01-preview/examples/recommendations/PatchRecommendation.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-01-01-preview/examples/recommendations/ReevaluateRecommendation.json
Labels: ARMSignedOff, ARMReview, resource-manager

#27580 [DocumentIntelligence] Added .NET config
  specification/ai/DocumentIntelligence/client.tsp
  specification/ai/DocumentIntelligence/tspconfig.yaml
Labels: Cognitive - Form Recognizer, TypeSpec

#27758 [Hub Generated] Publish private branch 'jaredgorthy/avnmUDR'
  specification/network/resource-manager/Microsoft.Network/preview/2023-03-01-preview/examples/NetworkManagerRoutingConfigurationDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2023-03-01-preview/examples/NetworkManagerRoutingConfigurationGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2023-03-01-preview/examples/NetworkManagerRoutingConfigurationList.json
  specification/network/resource-manager/Microsoft.Network/preview/2023-03-01-preview/examples/NetworkManagerRoutingConfigurationPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2023-03-01-preview/examples/NetworkManagerRoutingRuleCollectionDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2023-03-01-preview/examples/NetworkManagerRoutingRuleCollectionGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2023-03-01-preview/examples/NetworkManagerRoutingRuleCollectionList.json
  specification/network/resource-manager/Microsoft.Network/preview/2023-03-01-preview/examples/NetworkManagerRoutingRuleCollectionPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2023-03-01-preview/examples/NetworkManagerRoutingRuleDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2023-03-01-preview/examples/NetworkManagerRoutingRuleGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2023-03-01-preview/examples/NetworkManagerRoutingRuleList.json
  specification/network/resource-manager/Microsoft.Network/preview/2023-03-01-preview/examples/NetworkManagerRoutingRulePut.json
  specification/network/resource-manager/Microsoft.Network/preview/2023-03-01-preview/network.json
  specification/network/resource-manager/Microsoft.Network/preview/2023-03-01-preview/networkManagerRoutingConfiguration.json
  specification/network/resource-manager/readme.md
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, new-api-version, MergeRequested

#27812 Review request for Microsoft.HealthcareApis to add version stable/2024-03-01
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/CheckNameAvailabilityPost.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/OperationResultsGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/OperationsList.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/dicomservices/DicomServices_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/dicomservices/DicomServices_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/dicomservices/DicomServices_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/dicomservices/DicomServices_List.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/dicomservices/DicomServices_Patch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/fhirservices/FhirServices_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/fhirservices/FhirServices_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/fhirservices/FhirServices_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/fhirservices/FhirServices_List.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/fhirservices/FhirServices_Patch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/iotconnectors/iotconnector_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/iotconnectors/iotconnector_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/iotconnectors/iotconnector_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/iotconnectors/iotconnector_List.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/iotconnectors/iotconnector_Patch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/iotconnectors/iotconnector_fhirdestination_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/iotconnectors/iotconnector_fhirdestination_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/iotconnectors/iotconnector_fhirdestination_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/iotconnectors/iotconnector_fhirdestination_List.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/legacy/PrivateLinkResourceGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/legacy/PrivateLinkResourcesListByService.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/legacy/ServiceCreate.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/legacy/ServiceCreateInDataSovereignRegionWithCmkEnabled.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/legacy/ServiceCreateMinimum.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/legacy/ServiceCreatePrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/legacy/ServiceDelete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/legacy/ServiceDeletePrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/legacy/ServiceGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/legacy/ServiceGetInDataSovereignRegionWithCmkEnabled.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/legacy/ServiceGetPrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/legacy/ServiceList.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/legacy/ServiceListByResourceGroup.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/legacy/ServiceListPrivateEndpointConnections.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/legacy/ServicePatch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/privatelink/PrivateLinkResourcesListByWorkspace.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/privatelink/WorkspaceCreatePrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/privatelink/WorkspaceDeletePrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/privatelink/WorkspaceGetPrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/privatelink/WorkspaceListPrivateEndpointConnections.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/privatelink/WorkspacePrivateLinkResourceGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/workspaces/Workspaces_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/workspaces/Workspaces_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/workspaces/Workspaces_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/workspaces/Workspaces_ListByResourceGroup.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/workspaces/Workspaces_ListBySubscription.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/examples/workspaces/Workspaces_Patch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2024-03-01/healthcare-apis.json
  specification/healthcareapis/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, MergeRequested

#27830 Adding new preview api version for new fields
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/databox.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/AvailableSkusPost.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/BookShipmentPickupPost.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/JobMitigate.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/JobsCancelPost.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/JobsCreate.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/JobsCreateDevicePassword.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/JobsCreateDoubleEncryption.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/JobsCreateExport.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/JobsCreateWithUserAssignedIdentity.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/JobsDelete.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/JobsGet.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/JobsGetCmk.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/JobsGetCopyStuck.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/JobsGetExport.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/JobsGetWaitingForAction.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/JobsList.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/JobsListByResourceGroup.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/JobsListCredentials.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/JobsPatch.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/JobsPatchCmk.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/JobsPatchSystemAssignedToUserAssigned.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/MarkDevicesShipped.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/OperationsGet.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/RegionConfiguration.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/RegionConfigurationByResourceGroup.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/ValidateAddressPost.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/ValidateInputs.json
  specification/databox/resource-manager/Microsoft.DataBox/preview/2024-03-01-preview/examples/ValidateInputsByResourceGroup.json
  specification/databox/resource-manager/readme.go.md
  specification/databox/resource-manager/readme.java.md
  specification/databox/resource-manager/readme.md
  specification/databox/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, MergeRequested

#27839 Add default reviewers for Azure Container Apps
  CODEOWNERS
Labels: MergeRequested

#27402 Add volume mount to job execution
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/Jobs.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/examples/Job_Start.json
Labels: ARMSignedOff, customer-reported, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, MergeRequested

#27274 Maps Microsoft.Maps 2024 01 01 preview
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-01-01-preview/examples/AccountListSAS.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-01-01-preview/examples/CreateAccountEncryption.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-01-01-preview/examples/CreateAccountGen2.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-01-01-preview/examples/CreateAccountManagedIdentity.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-01-01-preview/examples/CreateMapsCreator.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-01-01-preview/examples/DeleteAccount.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-01-01-preview/examples/DeleteMapsCreator.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-01-01-preview/examples/GetAccount.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-01-01-preview/examples/GetMapsCreator.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-01-01-preview/examples/GetOperations.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-01-01-preview/examples/ListAccountsByResourceGroup.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-01-01-preview/examples/ListAccountsBySubscription.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-01-01-preview/examples/ListKeys.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-01-01-preview/examples/ListMapsCreatorsByAccount.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-01-01-preview/examples/PrivateEndpointConnections_Create.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-01-01-preview/examples/PrivateEndpointConnections_Delete.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-01-01-preview/examples/PrivateEndpointConnections_Get.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-01-01-preview/examples/PrivateEndpointConnections_ListByAccount.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-01-01-preview/examples/PrivateLinkResources_Get.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-01-01-preview/examples/PrivateLinkResources_List.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-01-01-preview/examples/RegenerateKey.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-01-01-preview/examples/UpdateAccount.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-01-01-preview/examples/UpdateAccountEncryption.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-01-01-preview/examples/UpdateAccountGen2.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-01-01-preview/examples/UpdateAccountManagedIdentity.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-01-01-preview/examples/UpdateMapsCreator.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-01-01-preview/maps-management.json
  specification/maps/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, CI-MissingBaseCommit, MergeRequested, BreakingChange-Approved-Previously

#27879 Microsoft.Network, Azure Virtual Network Manager - Fix broken validation for required params
  specification/network/resource-manager/Microsoft.Network/preview/2023-03-01-preview/networkManagerRoutingConfiguration.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChange-Approved-BugFix

#27805 Azure Maps Search Service v2 doc issue.
  specification/maps/data-plane/Search/stable/2023-06-01/search.json
Labels: data-plane

#25509 [Hub Generated] Review request for Microsoft.DBforPostgreSQL to add version preview/2023-03-02-preview
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/CheckNameAvailability.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/ClusterAddNode.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/ClusterCreateBurstablev1.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/ClusterCreateBurstablev2.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/ClusterCreateMultiNode.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/ClusterCreatePITR.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/ClusterCreateReadReplica.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/ClusterCreateSingleNode.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/ClusterDelete.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/ClusterGet.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/ClusterList.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/ClusterListByResourceGroup.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/ClusterPromoteReadReplica.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/ClusterRestart.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/ClusterScaleCompute.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/ClusterScaleStorage.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/ClusterStart.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/ClusterStop.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/ClusterUpdate.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/ClusterUpdateMaintenanceWindow.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/ConfigurationGet.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/ConfigurationGetCoordinator.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/ConfigurationGetNode.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/ConfigurationListByCluster.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/ConfigurationListByServer.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/ConfigurationUpdateCoordinator.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/ConfigurationUpdateNode.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/FirewallRuleCreate.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/FirewallRuleDelete.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/FirewallRuleGet.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/FirewallRuleListByCluster.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/OperationList.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/PrivateEndpointConnectionCreateOrUpdate.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/PrivateEndpointConnectionsDelete.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/PrivateEndpointConnectionsGet.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/PrivateEndpointConnectionsListByCluster.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/PrivateLinkResourceListByCluster.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/PrivateLinkResourcesGet.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/RoleCreate.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/RoleDelete.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/RoleGet.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/RoleListByCluster.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/ServerGet.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/examples/ServerListByCluster.json
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/postgresqlhsc.json
  specification/postgresqlhsc/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, ARMReview, resource-manager, BreakingChangeReviewRequired, new-api-version, MergeRequested

#27882 add KIND to 2024-02-02preview
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-02-02-preview/managedClusters.json
Labels: resource-manager, MergeRequested

#27719 Azure Red Hat OpenShift New API Version 2023-11-22
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/MachinePools_CreateOrUpdate.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/MachinePools_Delete.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/MachinePools_Get.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/MachinePools_List.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/MachinePools_Update.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/OpenShiftClusters_CreateOrUpdate.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/OpenShiftClusters_Delete.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/OpenShiftClusters_Get.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/OpenShiftClusters_List.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/OpenShiftClusters_ListAdminCredentials.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/OpenShiftClusters_ListByResourceGroup.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/OpenShiftClusters_ListCredentials.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/OpenShiftClusters_Update.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/OpenShiftVersions_List.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/Operations_List.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/Secrets_CreateOrUpdate.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/Secrets_Delete.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/Secrets_Get.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/Secrets_List.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/Secrets_Update.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/SyncIdentityProviders_CreateOrUpdate.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/SyncIdentityProviders_Delete.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/SyncIdentityProviders_Get.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/SyncIdentityProviders_List.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/SyncIdentityProviders_Update.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/SyncSets_CreateOrUpdate.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/SyncSets_Delete.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/SyncSets_Get.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/SyncSets_List.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/examples/SyncSets_Update.json
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/stable/2023-11-22/redhatopenshift.json
  specification/redhatopenshift/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, MergeRequested, BreakingChange-Approved-BugFix

#27845 Update OpenAPI Hub links in CI validation tools documentation
  documentation/ci-fix.md
Labels: EngSys, Central-EngSys

#27877 Update documents.
  specification/databasewatcher/DatabaseWatcher.Management/baseTarget.tsp
  specification/databasewatcher/DatabaseWatcher.Management/sqlDbDatabaseTarget.tsp
  specification/databasewatcher/DatabaseWatcher.Management/sqlDbElasticPoolTarget.tsp
  specification/databasewatcher/DatabaseWatcher.Management/sqlMiTarget.tsp
  specification/databasewatcher/DatabaseWatcher.Management/sqlVmTarget.tsp
  specification/databasewatcher/DatabaseWatcher.Management/watcher.tsp
  specification/databasewatcher/resource-manager/Microsoft.DatabaseWatcher/preview/2023-09-01-preview/Watcher.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, TypeSpec, MergeRequested

#27853 add api change for static egress gateway in 2024-02-02-preview
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-02-02-preview/managedClusters.json
Labels: resource-manager

#27864 AzureMonitor unified profile changes
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-02-02-preview/managedClusters.json
Labels: CI-BreakingChange-Python-Track2, resource-manager

#27612 Make PUT/PATCH api async for function on aca
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/WebApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/examples/DeleteWebApp.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/examples/UpdateAppSettings.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/examples/UpdateSiteConfig.json
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, IDCDevDiv, MergeRequested

#27890 update SAPVirtualInstance readme.go.md
  specification/workloads/resource-manager/Microsoft.Workloads/SAPVirtualInstance/readme.go.md
  specification/workloads/resource-manager/Microsoft.Workloads/SAPVirtualInstance/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS

#27756 Liftr Confluent Stable version - service connectors api integration and user access mgmt
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/confluent.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/Access_ClusterList.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/Access_CreateRoleBinding.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/Access_DeleteRoleBinding.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/Access_EnvironmentList.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/Access_InvitationsList.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/Access_InviteUser.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/Access_RoleBindingList.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/Access_RoleBindingNameList.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/Access_ServiceAccountsList.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/Access_UsersList.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/MarketplaceAgreements_Create.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/MarketplaceAgreements_List.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/OrganizationOperations_List.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/Organization_ClusterList.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/Organization_Create.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/Organization_CreateClusterAPIKey.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/Organization_Delete.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/Organization_DeleteClusterAPIKey.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/Organization_EnvironmentList.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/Organization_Get.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/Organization_GetClusterAPIKey.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/Organization_GetClusterById.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/Organization_GetEnvironmentById.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/Organization_GetSchemaRegistryClusterById.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/Organization_ListByResourceGroup.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/Organization_ListBySubscription.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/Organization_ListRegions.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/Organization_ListSchemaRegistryClusters.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/Organization_Update.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/Validations_ValidateOrganizations.json
  specification/confluent/resource-manager/Microsoft.Confluent/stable/2024-02-13/examples/Validations_ValidateOrganizationsV2.json
  specification/confluent/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, Approved-Suppression, SuppressionReviewRequired, new-api-version, IDCDevDiv

#27880 Add java to eg tsp config
  specification/eventgrid/Azure.Messaging.EventGrid/client.tsp
  specification/eventgrid/Azure.Messaging.EventGrid/tspconfig.yaml
Labels: TypeSpec

#27895 APC: Make SimSwap date result optional
  specification/programmableconnectivity/Azure.ProgrammableConnectivity/apis/simswap.tsp
  specification/programmableconnectivity/data-plane/Azure.ProgrammableConnectivity/preview/2024-02-09-preview/openapi.json
Labels: Approved-BreakingChange, data-plane, TypeSpec

#27910 Add the isDefault property to the response of list supported k8s version for AKS preview/2024-02-02-preview
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-02-02-preview/examples/KubernetesVersions_List.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-02-02-preview/managedClusters.json
Labels: CI-BreakingChange-Python-Track2, resource-manager

#27909 Add the isDefault property to the response of list supported k8s version for AKS stable/2024-02-01
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-02-01/examples/KubernetesVersions_List.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-02-01/managedClusters.json
Labels: resource-manager

#27307 New preview version for MICROSOFT.DBFORMYSQL
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/preview/2023-10-01-preview/BackupAndExport.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/preview/2023-10-01-preview/Backups.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/preview/2023-10-01-preview/LongRunningBackups.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/preview/2023-10-01-preview/examples/BackupAndExport.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/preview/2023-10-01-preview/examples/BackupGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/preview/2023-10-01-preview/examples/BackupPut.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/preview/2023-10-01-preview/examples/BackupsListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/preview/2023-10-01-preview/examples/LongRunningBackup.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/preview/2023-10-01-preview/examples/LongRunningBackupGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/preview/2023-10-01-preview/examples/LongRunningBackupsListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Backups/preview/2023-10-01-preview/examples/ValidateBackup.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-12-01-preview/AdvancedThreatProtectionSettings.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-12-01-preview/FlexibleServers.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-12-01-preview/examples/AdvancedThreatProtectionSettingsGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-12-01-preview/examples/AdvancedThreatProtectionSettingsList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-12-01-preview/examples/AdvancedThreatProtectionSettingsPatchDisabled.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-12-01-preview/examples/AdvancedThreatProtectionSettingsPatchEnabled.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-12-01-preview/examples/AdvancedThreatProtectionSettingsPutDisabled.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-12-01-preview/examples/AdvancedThreatProtectionSettingsPutEnabled.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-12-01-preview/examples/CutoverMigration.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-12-01-preview/examples/ReplicasListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-12-01-preview/examples/ServerCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-12-01-preview/examples/ServerCreateReplica.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-12-01-preview/examples/ServerCreateWithBYOK.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-12-01-preview/examples/ServerCreateWithPointInTimeRestore.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-12-01-preview/examples/ServerDelete.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-12-01-preview/examples/ServerFailover.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-12-01-preview/examples/ServerGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-12-01-preview/examples/ServerGetWithVnet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-12-01-preview/examples/ServerResetGtid.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-12-01-preview/examples/ServerRestart.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-12-01-preview/examples/ServerStart.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-12-01-preview/examples/ServerStop.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-12-01-preview/examples/ServerUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-12-01-preview/examples/ServerUpdateWithBYOK.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-12-01-preview/examples/ServerUpdateWithCustomerMaintenanceWindow.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-12-01-preview/examples/ServerValidateEstimateHighAvailability.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-12-01-preview/examples/ServersList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2023-12-01-preview/examples/ServersListByResourceGroup.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Maintenance/preview/2023-10-01-preview/Maintenances.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Maintenance/preview/2023-10-01-preview/examples/MaintenanceRead.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Maintenance/preview/2023-10-01-preview/examples/MaintenanceUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/Maintenance/preview/2023-10-01-preview/examples/MaintenancesListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/preview/2023-12-01-preview/ServiceOperations.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/preview/2023-12-01-preview/examples/CapabilitiesByLocationList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/preview/2023-12-01-preview/examples/CapabilitySetByLocation.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/preview/2023-12-01-preview/examples/CapabilitySetListByLocation.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/preview/2023-12-01-preview/examples/CheckNameAvailability.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/preview/2023-12-01-preview/examples/CheckVirtualNetworkSubnetUsage.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/preview/2023-12-01-preview/examples/GetPrivateDnsZoneSuffix.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/preview/2023-12-01-preview/examples/OperationProgress_Get_BackupAndExport.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/preview/2023-12-01-preview/examples/OperationProgress_Get_ImportFromStorage.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/preview/2023-12-01-preview/examples/OperationResults_Get.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/ServiceOperations/preview/2023-12-01-preview/examples/OperationsList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/common-types/v2/common-types.json
  specification/mysql/resource-manager/readme.md
  specification/mysql/resource-manager/readme.python.md
Labels: ARMSignedOff, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired, new-api-version, CI-MissingBaseCommit, MergeRequested

#27734 New Optional properties for Attach Detach Data Disks API
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-03-01/computeRPCommon.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-03-01/examples/virtualMachineExamples/VirtualMachine_AttachDetachDataDisks_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-03-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetVM_AttachDetachDataDisks_MaximumSet_Gen.json
Labels: ARMSignedOff, resource-manager, MergeRequested

#27779 New top-level Virtual Machine property: placement
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-03-01/virtualMachine.json
Labels: ARMSignedOff, resource-manager, MergeRequested

#27829 Added the summary property to the data services
  specification/maps/data-plane/Creator/preview/2.0/data.json
  specification/maps/data-plane/DataRegistry/stable/2023-06-01/dataregistry.json
  specification/maps/data-plane/Microsoft.Maps/Data/preview/1.0/data.json
Labels: Approved-ModelValidation, data-plane

#27900 [Fleet] Use union instead of enum
  specification/containerservice/Fleet.Management/fleet.tsp
  specification/containerservice/Fleet.Management/fleetmember.tsp
  specification/containerservice/Fleet.Management/update/run.tsp
  specification/containerservice/Fleet.Management/update/strategy.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-03-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-06-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2024-02-02-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2023-10-15/fleets.json
Labels: resource-manager, TypeSpec

#27709 Relay : Updated with optional property trustedServiceAccessEnabled in NetworkRuleSet
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/NetworkRuleSets.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/VirtualNetworkRules/RelayNetworkRuleSetCreate.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2021-11-01/examples/VirtualNetworkRules/RelayNetworkRuleSetGet.json
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, NewApiVersionRequired, MergeRequested, BreakingChange-Approved-BugFix, Versioning-Approved-BugFix

#27857 Add support for Nvme placement for ephemeral OS.
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-03-01/computeRPCommon.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-03-01/examples/virtualMachineExamples/VirtualMachine_Create_WithADiffOsDiskUsingDiffDiskPlacementAsNvmeDisk.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-03-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_CreateA_WithDiffOsDiskUsingDiffDiskPlacementAsNvmeDisk.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-03-01/virtualMachine.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-03-01/virtualMachineScaleSet.json
Labels: ARMSignedOff, resource-manager, MergeRequested

#27470 [Microsoft.Marketplace][Discovery][ApiKeys] - Adding documentation for self-service discovery api keys
  specification/marketplacecatalog/resource-manager/Keys/readme.md
  specification/marketplacecatalog/resource-manager/Keys/stable/2023-01-01-preview/discoveryKeys.json
  specification/marketplacecatalog/resource-manager/Keys/stable/2023-01-01-preview/examples/CreateKey.json
  specification/marketplacecatalog/resource-manager/Keys/stable/2023-01-01-preview/examples/GetKeys.json
  specification/marketplacecatalog/resource-manager/Keys/stable/2023-01-01-preview/examples/Operations_Get.json
  specification/marketplacecatalog/resource-manager/Keys/stable/2023-01-01-preview/examples/RevokeKey.json
Labels: ARMSignedOff, customer-reported, resource-manager, ReadyForApiTest

#27933 [typespec-next] React to change in linter rule "missing-x-ms-identifiers"
  specification/apicenter/ApiCenter.Management/models.tsp
  specification/azurelargeinstance/AzureLargeInstance.Management/models.tsp
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure/main.tsp
  specification/networkanalytics/NetworkAnalytics.Management/main.tsp
  specification/purviewpolicy/PurviewPolicy.Management/policy.tsp
Labels: TypeSpec

#26412 openai, update tsp for *AsPlainText op, request as multipart/form-data, and response as text/plain
  specification/cognitiveservices/OpenAI.Inference/models/audio/common.tsp
  specification/cognitiveservices/OpenAI.Inference/routes/audio_transcription.tsp
  specification/cognitiveservices/OpenAI.Inference/routes/audio_translation.tsp
  specification/cognitiveservices/OpenAI.Inference/routes/common.tsp
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-09-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-12-01-preview/generated.json
Labels: Approved-ModelValidation, data-plane, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-BugFix

#27891 NGINX@2024-01-01-preview: Add to readme.md
  specification/nginx/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS

#27893 Add PostgreSqlV2 Connector
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Dataset.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: ARMSignedOff, ShiftLeftViolation, ARMReview, resource-manager, data-plane, ReadyForApiTest, MergeRequested

#27450 Create Api Version Microsoft.Search 2024-03-01-preview
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/CreateOrUpdateSharedPrivateLinkResource.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/DeletePrivateEndpointConnection.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/DeleteSharedPrivateLinkResource.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/GetPrivateEndpointConnection.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/GetQuotaUsage.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/GetQuotaUsagesList.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/GetSharedPrivateLinkResource.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/ListPrivateEndpointConnectionsByService.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/ListSharedPrivateLinkResourcesByService.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/ListSupportedPrivateLinkResources.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/NetworkSecurityPerimeterConfigurationsGet.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/NetworkSecurityPerimeterConfigurationsListByService.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/NetworkSecurityPerimeterConfigurationsReconcile.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchCheckNameAvailability.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchCreateOrUpdateService.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchCreateOrUpdateServiceAuthOptions.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchCreateOrUpdateServiceDisableLocalAuth.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchCreateOrUpdateServiceToAllowAccessFromPrivateEndpoints.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchCreateOrUpdateServiceToAllowAccessFromPublicCustomIPs.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchCreateOrUpdateServiceToAllowAccessFromPublicCustomIPsAndBypass.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchCreateOrUpdateServiceWithCmkEnforcement.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchCreateOrUpdateServiceWithDataExfiltration.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchCreateOrUpdateServiceWithIdentity.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchCreateOrUpdateWithSemanticSearch.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchCreateQueryKey.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchDeleteQueryKey.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchDeleteService.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchGetAdminKeys.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchGetService.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchListOperations.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchListQueryKeysBySearchService.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchListServicesByResourceGroup.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchListServicesBySubscription.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchRegenerateAdminKey.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchUpdateService.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchUpdateServiceAuthOptions.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchUpdateServiceDisableLocalAuth.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchUpdateServiceToAllowAccessFromPrivateEndpoints.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchUpdateServiceToAllowAccessFromPublicCustomIPs.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchUpdateServiceToAllowAccessFromPublicCustomIPsAndBypass.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchUpdateServiceToRemoveIdentity.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchUpdateServiceWithCmkEnforcement.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchUpdateServiceWithDataExfiltration.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/SearchUpdateServiceWithSemanticSearch.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/examples/UpdatePrivateEndpointConnection.json
  specification/search/resource-manager/Microsoft.Search/preview/2024-03-01-preview/search.json
  specification/search/resource-manager/readme.md
Labels: ARMSignedOff, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, Approved-Suppression, SuppressionReviewRequired, new-api-version, CI-MissingBaseCommit, MergeRequested, BreakingChange-Approved-Benign

#27651 Update Route Directions API
  specification/maps/data-plane/Route/preview/2023-10-01-preview/route.json
Labels: data-plane

#27720 Clean-up Data swagger files
  specification/maps/data-plane/Creator/readme.md
  specification/maps/data-plane/Data/preview/1.0/data.json
  specification/maps/data-plane/Data/preview/1.0/examples/Delete.json
  specification/maps/data-plane/Data/preview/1.0/examples/Download.json
  specification/maps/data-plane/Data/preview/1.0/examples/List.json
  specification/maps/data-plane/Data/preview/1.0/examples/Update.json
  specification/maps/data-plane/Data/preview/1.0/examples/Upload.json
  specification/maps/data-plane/Data/preview/2.0/data.json
  specification/maps/data-plane/Data/preview/2.0/examples/Data_Delete.json
  specification/maps/data-plane/Data/preview/2.0/examples/Data_Download.json
  specification/maps/data-plane/Data/preview/2.0/examples/Data_GetOperation.json
  specification/maps/data-plane/Data/preview/2.0/examples/Data_GetOperationStillRunning.json
  specification/maps/data-plane/Data/preview/2.0/examples/Data_List.json
  specification/maps/data-plane/Data/preview/2.0/examples/Data_Update.json
  specification/maps/data-plane/Data/preview/2.0/examples/Data_Upload.json
  specification/maps/data-plane/readme.md
Labels: Approved-ModelValidation, APIStewardshipBoard-SignedOff, data-plane, BreakingChangeReviewRequired, new-api-version, BreakingChange-Approved-BugFix

#27904 Fix two broken links in Route v2 (2023-10-01-preview)
  specification/maps/data-plane/Route/preview/2023-10-01-preview/route.json
Labels: data-plane

#27906 Fix two broken links in Creator Features (preview) service
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/features.json
Labels: data-plane

#27708 Addressing .net sdk comments
  specification/riskiq/Easm/examples/2023-03-01-preview/SavedFilters_CreateOrReplaceSavedFilter_MaximumSet_Gen.json
  specification/riskiq/Easm/main.tsp
  specification/riskiq/Easm/models.tsp
  specification/riskiq/Easm/routes.tsp
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/easm.json
  specification/riskiq/data-plane/Microsoft.Easm/preview/2023-03-01-preview/examples/SavedFilters_CreateOrReplaceSavedFilter_MaximumSet_Gen.json
Labels: data-plane, TypeSpec, MergeRequested

#27921 Add Cost Analysis API to 2024-02-01 GA
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-02-01/managedClusters.json
Labels: resource-manager

#27919 Java Customization for Communication Message Typespec
  specification/communication/Communication.Messages/models.tsp
  specification/communication/Communication.Messages/tspconfig.yaml
  specification/communication/data-plane/Messages/stable/2024-02-01/communicationservicesmessages.json
Labels: data-plane, TypeSpec

#27941 feat: Add slb health probe feature to the swagger
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-02-02-preview/managedClusters.json
Labels: CI-BreakingChange-Python-Track2, resource-manager

#27922 Update cost analysis doc slightly
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-02-02-preview/managedClusters.json
Labels: CI-BreakingChange-Python-Track2, resource-manager

#27873 Functions Extension endpoint for Web RP
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/FunctionsExtension.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/FunctionsExtension_Post.json
  specification/app/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#27928 Purview Documentation - Update examples for 2023-05-01-preview
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/Accounts_CreateOrUpdate.json
  specification/purview/resource-manager/Microsoft.Purview/preview/2023-05-01-preview/examples/Accounts_Update.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, MergeRequested

#27951 GeoRegions - Add FlexConsumption to the list of supported skus
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/ResourceProvider.json
Labels: ARMSignedOff, ARMReview, resource-manager

#27957 Update descriptions for "placement" property
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-03-01/virtualMachine.json
Labels: resource-manager

#27974 remove suppress that does not work
  specification/securityinsights/resource-manager/readme.md
Labels: resource-manager

#27952 [Batch] Azure Batch Data Plane 2024-02-01.19.0 update
  specification/batch/data-plane/Microsoft.Batch/stable/2024-02-01.19.0/BatchService.json
Labels: Batch, data-plane, BreakingChangeReviewRequired, BreakingChange-Approved-BugFix

#27809 Added new properties of ContinousCapture and CaptureSetting along with localpath
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/networkWatcher.json
Labels: ARMSignedOff, ARMReview, resource-manager, MergeRequested

#27884 Revert "Mvvsubbu databricks microsoft.databricks 2024 02 01 preview"
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/databricks.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/DisableEncryption.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/EnableEncryption.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/ListPrivateEndpointConnections.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/ListPrivateLinkResources.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/OperationsList.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/OutboundNetworkDependenciesEndpointsList.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/PrepareEncryption.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/PrivateEndpointConnectionsDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/PrivateEndpointConnectionsGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/PrivateEndpointConnectionsUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/PrivateLinkResourcesGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceCreate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceCreateWithParameters.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceDeleteRetainUcData.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceEnhancedSecurityComplianceCreateOrUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceEnhancedSecurityComplianceGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceGetParameters.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceManagedDiskEncryptionCreate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceManagedDiskEncryptionGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceManagedDiskEncryptionUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceVirtualNetPeeringGet.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceVirtualNetPeeringList.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceVirtualNetworkPeeringCreateOrUpdate.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspaceVirtualNetworkPeeringDelete.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspacesListByResourceGroup.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/examples/WorkspacesListBySubscription.json
  specification/databricks/resource-manager/Microsoft.Databricks/preview/2024-02-01-preview/vnetpeering.json
  specification/databricks/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, MergeRequested, BreakingChange-Approved-BugFix

#27925 Johnkoh msft azuredatatransfer microsoft.azure data transfer 2024 01 25
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-01-25/azuredatatransfer.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-01-25/examples/approveOrRejectConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-01-25/examples/createOrUpdateConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-01-25/examples/createOrUpdateFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-01-25/examples/createOrUpdatePipeline.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-01-25/examples/deleteConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-01-25/examples/deleteFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-01-25/examples/deletePipeline.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-01-25/examples/enableOrDisableFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-01-25/examples/getConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-01-25/examples/getFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-01-25/examples/getPipeline.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-01-25/examples/linkConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-01-25/examples/linkFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-01-25/examples/listConnectionsByResourceGroup.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-01-25/examples/listConnectionsBySubscription.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-01-25/examples/listFlowsByConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-01-25/examples/listOperations.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-01-25/examples/listPendingConnections.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-01-25/examples/listPendingFlows.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-01-25/examples/listPipelinesByResourceGroup.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-01-25/examples/listPipelinesBySubscription.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-01-25/examples/listSchemas.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-01-25/examples/patchConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-01-25/examples/patchFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-01-25/examples/patchPipeline.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-01-25/examples/postListApprovedSchemas.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-01-25/examples/postValidateSchema.json
  specification/azuredatatransfer/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, MergeRequested

#27935 Jmegha123 swagger changes for user mi
  custom-words.txt
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/NetworkWatcherFlowLogConfigure.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/NetworkWatcherFlowLogCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/NetworkWatcherFlowLogGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/NetworkWatcherFlowLogList.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/NetworkWatcherFlowLogStatusQuery.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/examples/NetworkWatcherFlowLogUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-11-01/networkWatcher.json
Labels: ARMSignedOff, CI-BreakingChange-JavaScript, Approved-SdkBreakingChange-JavaScript, ARMReview, resource-manager, MergeRequested

#27966 add 'enablePrivateLinks' to ServiceResource.properties.vnetAddons
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-05-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-05-01-preview/examples/Services_CreateOrUpdate_VNetInjection.json
Labels: customer-reported, resource-manager

#27216 Noneumar alertsmanagement microsoft.alerts management 2024 01 01 preview
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2024-01-01-preview/AlertsManagement.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2024-01-01-preview/examples/AlertsMetaData_MonitorService.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2024-01-01-preview/examples/Alerts_ChangeState.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2024-01-01-preview/examples/Alerts_GetById.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2024-01-01-preview/examples/Alerts_GetEnrichments.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2024-01-01-preview/examples/Alerts_History.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2024-01-01-preview/examples/Alerts_List.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2024-01-01-preview/examples/Alerts_ListEnrichments.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2024-01-01-preview/examples/Alerts_Summary.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2024-01-01-preview/examples/Operations_List.json
  specification/alertsmanagement/resource-manager/readme.md
Labels: ARMSignedOff, Approved-BreakingChange, CI-BreakingChange-Python-Track2, CI-BreakingChange-Go, Approved-SdkBreakingChange-Go, Approved-SdkBreakingChange-Python, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, CI-MissingBaseCommit, MergeRequested

#27989 Support service mi for Azure Spring Apps in api 2024-05-01-preview
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-05-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-05-01-preview/examples/Services_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-05-01-preview/examples/Services_CreateOrUpdate_Consumption.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-05-01-preview/examples/Services_CreateOrUpdate_Enterprise.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-05-01-preview/examples/Services_CreateOrUpdate_VNetInjection.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-05-01-preview/examples/Services_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-05-01-preview/examples/Services_Get_Consumption.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-05-01-preview/examples/Services_List.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-05-01-preview/examples/Services_ListBySubscription.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-05-01-preview/examples/Services_Update.json
Labels: ARMSignedOff, Approved-LintDiff, resource-manager, MergeRequested

#27990 update readme.typescript,md from edgemarketplace
  specification/edgemarketplace/resource-manager/readme.typescript.md
Labels: resource-manager, ReadyForApiTest, RPaaS

#27972 Ms security insights recommendations api 2024 01 01 preview - arm review fixes
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-01-01-preview/Recommendations.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-01-01-preview/examples/recommendations/GetRecommendation.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-01-01-preview/examples/recommendations/GetRecommendations.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-01-01-preview/examples/recommendations/PatchRecommendation.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-01-01-preview/examples/recommendations/ReevaluateRecommendation.json
Labels: WaitForARMFeedback, Approved-LintDiff, resource-manager

#27405 Add TypeSpec for Azure.Communication.Messages service
  specification/communication/Communication.Messages/.gitignore
  specification/communication/Communication.Messages/README.md
  specification/communication/Communication.Messages/client.tsp
  specification/communication/Communication.Messages/examples/2024-02-01/NotificationMessages_SendImage.json
  specification/communication/Communication.Messages/examples/2024-02-01/NotificationMessages_SendTemplate.json
  specification/communication/Communication.Messages/examples/2024-02-01/NotificationMessages_SendText.json
  specification/communication/Communication.Messages/examples/2024-02-01/Stream_GetMedia.json
  specification/communication/Communication.Messages/examples/2024-02-01/Template_ListTemplates.json
  specification/communication/Communication.Messages/main.tsp
  specification/communication/Communication.Messages/models.tsp
  specification/communication/Communication.Messages/routes.tsp
  specification/communication/Communication.Messages/tspconfig.yaml
  specification/communication/data-plane/Messages/readme.md
  specification/communication/data-plane/Messages/stable/2024-02-01/communicationservicesmessages.json
  specification/communication/data-plane/Messages/stable/2024-02-01/examples/NotificationMessages_SendImage.json
  specification/communication/data-plane/Messages/stable/2024-02-01/examples/NotificationMessages_SendTemplate.json
  specification/communication/data-plane/Messages/stable/2024-02-01/examples/NotificationMessages_SendText.json
  specification/communication/data-plane/Messages/stable/2024-02-01/examples/Stream_GetMedia.json
  specification/communication/data-plane/Messages/stable/2024-02-01/examples/Template_ListTemplates.json
Labels: APIStewardshipBoard-SignedOff, data-plane, Approved-Suppression, SuppressionReviewRequired, new-api-version, CI-MissingBaseCommit, TypeSpec

#27997 Suppressions for typespec-azure-resource-manager/no-record rule
  specification/azurelargeinstance/AzureLargeInstance.Management/models.tsp
  specification/containerservice/Fleet.Management/fleet.tsp
  specification/containerstorage/ContainerStorage.Management/main.tsp
  specification/deviceregistry/DeviceRegistry.Assets.Management/asset.tsp
  specification/iotoperationsdataprocessor/IoTOperationsDataProcessor.Management/dataset.tsp
  specification/iotoperationsdataprocessor/IoTOperationsDataProcessor.Management/pipeline.tsp
  specification/iotoperationsmq/IoTOperationsMQ.Management/models/mqttbroker.tsp
  specification/iotoperationsorchestrator/IoTOperationsOrchestrator.Management/common.tsp
  specification/iotoperationsorchestrator/IoTOperationsOrchestrator.Management/target.tsp
Labels: resource-manager, RPaaS, new-api-version, CI-RpaaSRPNotInPrivateRepo, TypeSpec
