Repository Azure/azure-rest-api-specs, pull requests merged in 2024-09, with the labels that each got.

#30357 [DataFactory]Support Iceberg Format As Sink
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Dataset.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: ARMSignedOff, ARMReview, resource-manager, data-plane, ReadyForApiTest, PublishToCustomers

#30400 Fix TypeSpec Only
  specification/fabric/Microsoft.Fabric.Management/capacity.tsp
  specification/fabric/resource-manager/Microsoft.Fabric/stable/2023-11-01/fabric.json
Labels: resource-manager, ReadyForApiTest, TypeSpec, PublishToCustomers

#30383 Fix lintdiff enum error in InstancePoolOperations API
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/InstancePoolOperations.json
Labels: SQL, ARMSignedOff, ARMReview, resource-manager

#30406 Update tspconfig.yaml for python SDK
  specification/fabric/Microsoft.Fabric.Management/tspconfig.yaml
Labels: TypeSpec

#30410 Changing Start/Stop Request body to optional for Workloads
  specification/workloads/Workloads.SAPVirtualInstance.Management/SAPApplicationServerInstance.tsp
  specification/workloads/Workloads.SAPVirtualInstance.Management/SAPCentralServerInstance.tsp
  specification/workloads/Workloads.SAPVirtualInstance.Management/SAPDatabaseInstance.tsp
  specification/workloads/Workloads.SAPVirtualInstance.Management/SAPVirtualInstance.tsp
  specification/workloads/resource-manager/Microsoft.Workloads/SAPVirtualInstance/stable/2024-09-01/SAPVirtualInstance.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, TypeSpec, AzCoreIDC, BreakingChange-Approved-BugFix, PublishToCustomers

#30293 Priyankarking redisenterprise microsoft.cache 2024 09 01 preview
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/OperationsList.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/OperationsStatusGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseAccessPolicyAssignmentCreateUpdate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseAccessPolicyAssignmentDelete.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseAccessPolicyAssignmentGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseAccessPolicyAssignmentsList.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseCreate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseDatabasesCreate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseDatabasesCreateWithGeoReplication.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseDatabasesDelete.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseDatabasesExport.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseDatabasesFlush.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseDatabasesForceLink.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseDatabasesForceUnlink.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseDatabasesGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseDatabasesImport.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseDatabasesListByCluster.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseDatabasesListKeys.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseDatabasesRegenerateKey.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseDatabasesUpdate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseDatabasesUpgradeDBRedisVersion.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseDelete.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseDeletePrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseGetPrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseList.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseListByResourceGroup.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseListPrivateEndpointConnections.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseListPrivateLinkResources.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterprisePutPrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseUpdate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/redisenterprise.json
  specification/redisenterprise/resource-manager/readme.go.md
  specification/redisenterprise/resource-manager/readme.md
  specification/redisenterprise/resource-manager/readme.python.md
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, BreakingChangeReviewRequired, new-api-version, BreakingChange-Approved-Previously, PublishToCustomers

#30257 Add List and Delete Subscription Changed Directory for new version 2024-08-01-preview.
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2024-08-01-preview/examples/deleteTargetDirectory.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2024-08-01-preview/examples/listTargetDirectory.json
  specification/subscription/resource-manager/Microsoft.Subscription/preview/2024-08-01-preview/subscriptions.json
  specification/subscription/resource-manager/readme.md
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, ReadyForApiTest, Approved-Suppression, SuppressionReviewRequired, Versioning-Approved-Benign, VersioningReviewRequired, PublishToCustomers

#30288 Add new swagger for publicCloud.json for 2024-12-01 version
  specification/hybridconnectivity/PublicCloud.Management/examples/2024-12-01/GenerateAwsTemplate_Post.json
  specification/hybridconnectivity/PublicCloud.Management/examples/2024-12-01/Inventory_Get.json
  specification/hybridconnectivity/PublicCloud.Management/examples/2024-12-01/Inventory_ListByWidget.json
  specification/hybridconnectivity/PublicCloud.Management/examples/2024-12-01/PublicCloudConnectors_CreateOrUpdate.json
  specification/hybridconnectivity/PublicCloud.Management/examples/2024-12-01/PublicCloudConnectors_Delete.json
  specification/hybridconnectivity/PublicCloud.Management/examples/2024-12-01/PublicCloudConnectors_Get.json
  specification/hybridconnectivity/PublicCloud.Management/examples/2024-12-01/PublicCloudConnectors_ListByResourceGroup.json
  specification/hybridconnectivity/PublicCloud.Management/examples/2024-12-01/PublicCloudConnectors_ListBySubscription.json
  specification/hybridconnectivity/PublicCloud.Management/examples/2024-12-01/PublicCloudConnectors_TestPermissions.json
  specification/hybridconnectivity/PublicCloud.Management/examples/2024-12-01/PublicCloudConnectors_Update.json
  specification/hybridconnectivity/PublicCloud.Management/examples/2024-12-01/SolutionConfigurations_CreateOrUpdate.json
  specification/hybridconnectivity/PublicCloud.Management/examples/2024-12-01/SolutionConfigurations_Delete.json
  specification/hybridconnectivity/PublicCloud.Management/examples/2024-12-01/SolutionConfigurations_Get.json
  specification/hybridconnectivity/PublicCloud.Management/examples/2024-12-01/SolutionConfigurations_List.json
  specification/hybridconnectivity/PublicCloud.Management/examples/2024-12-01/SolutionConfigurations_SyncNow.json
  specification/hybridconnectivity/PublicCloud.Management/examples/2024-12-01/SolutionConfigurations_Update.json
  specification/hybridconnectivity/PublicCloud.Management/examples/2024-12-01/SolutionTypes_Get.json
  specification/hybridconnectivity/PublicCloud.Management/examples/2024-12-01/SolutionTypes_ListByResourceGroup.json
  specification/hybridconnectivity/PublicCloud.Management/examples/2024-12-01/SolutionTypes_ListBySubscription.json
  specification/hybridconnectivity/PublicCloud.Management/main.tsp
  specification/hybridconnectivity/PublicCloud.Management/tspconfig.yaml
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/examples/GenerateAwsTemplate_Post.json
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/examples/Inventory_Get.json
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/examples/Inventory_ListByWidget.json
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/examples/PublicCloudConnectors_CreateOrUpdate.json
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/examples/PublicCloudConnectors_Delete.json
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/examples/PublicCloudConnectors_Get.json
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/examples/PublicCloudConnectors_ListByResourceGroup.json
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/examples/PublicCloudConnectors_ListBySubscription.json
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/examples/PublicCloudConnectors_TestPermissions.json
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/examples/PublicCloudConnectors_Update.json
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/examples/SolutionConfigurations_CreateOrUpdate.json
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/examples/SolutionConfigurations_Delete.json
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/examples/SolutionConfigurations_Get.json
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/examples/SolutionConfigurations_List.json
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/examples/SolutionConfigurations_SyncNow.json
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/examples/SolutionConfigurations_Update.json
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/examples/SolutionTypes_Get.json
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/examples/SolutionTypes_ListByResourceGroup.json
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/examples/SolutionTypes_ListBySubscription.json
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/PublicCloud/stable/2024-12-01/publicCloud.json
  specification/hybridconnectivity/resource-manager/readme.md
  specification/hybridconnectivity/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, Approved-Suppression, SuppressionReviewRequired, TypeSpec, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-Python-Sdk-Suppression-Approved, BreakingChange-Go-Sdk-Suppression, BreakingChange-Python-Sdk-Suppression, PublishToCustomers

#30422 update tspconfig.yaml for python
  specification/ai/DocumentIntelligence/tspconfig.yaml
  specification/ai/Face/tspconfig.yaml
  specification/ai/HealthInsights/HealthInsights.RadiologyInsights/tspconfig.yaml
  specification/ai/ImageAnalysis/tspconfig.yaml
  specification/apicenter/ApiCenter.DataApi/tspconfig.yaml
  specification/appconfiguration/AppConfiguration/tspconfig.yaml
  specification/applicationinsights/ApplicationInsights.LiveMetrics/tspconfig.yaml
  specification/azurefleet/AzureFleet.Management/tspconfig.yaml
  specification/batch/Azure.Batch/tspconfig.yaml
  specification/cognitiveservices/ContentSafety/tspconfig.yaml
  specification/communication/Communication.JobRouter/tspconfig.yaml
  specification/communication/Communication.Messages/tspconfig.yaml
  specification/confidentialledger/Microsoft.CodeTransparency/tspconfig.yaml
  specification/devcenter/DevCenter/tspconfig.yaml
  specification/developersigning/DeveloperSigning/tspconfig.yaml
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/tspconfig.yaml
  specification/edgezones/EdgeZones.Management/tspconfig.yaml
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/tspconfig.yaml
  specification/eventgrid/Azure.Messaging.EventGrid/tspconfig.yaml
  specification/healthdataaiservices/HealthDataAIServices.DeidServices/tspconfig.yaml
  specification/healthdataaiservices/HealthDataAIServices.Management/tspconfig.yaml
  specification/loadtestservice/LoadTestService/tspconfig.yaml
  specification/machinelearning/Azure.AI.ChatProtocol/tspconfig.yaml
  specification/machinelearningservices/AzureAI.Assets/tspconfig.yaml
  specification/mongocluster/DocumentDB.MongoCluster.Management/tspconfig.yaml
  specification/programmableconnectivity/Azure.ProgrammableConnectivity/tspconfig.yaml
  specification/purview/Azure.Analytics.Purview.DataMap/tspconfig.yaml
  specification/schemaregistry/SchemaRegistry/tspconfig.yaml
  specification/translation/Azure.AI.DocumentTranslation/tspconfig.yaml
  specification/translation/Azure.AI.TextTranslation/tspconfig.yaml
Labels: TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-Python-Sdk

#30186 Support sslMode and useSystemTrustStore for MariaDB
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
Labels: ARMSignedOff, customer-reported, ARMReview, resource-manager, data-plane, ReadyForApiTest, Versioning-Approved-BugFix, VersioningReviewRequired, PublishToCustomers

#30435 Adding CreateCallFailed event to 2024-06-15-preview api-version. Rela…
  specification/communication/data-plane/CallAutomation/preview/2024-06-15-preview/communicationservicescallautomation.json
Labels: data-plane, PublishToCustomers

#30282 Added a new field - certificateId for identity provider schema
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2024-06-01-preview/definitions.json
  specification/apimanagement/resource-manager/sdk-suppressions.yaml
Labels: API Management, ARMSignedOff, ARMReview, resource-manager, BreakingChange-Python-Sdk-Suppression-Approved, BreakingChange-Python-Sdk-Suppression, 2024-06-01-preview

#30311 Update Readme.md in standby pool
  specification/standbypool/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, PublishToCustomers

#30467 [appconfig] Rename Foundations.Error name
  specification/appconfiguration/AppConfiguration/client.tsp
Labels: TypeSpec

#30450 AGC v.2024-05-01-preview: read-only & required fix
  specification/servicenetworking/ServiceNetworking.Management/main.tsp
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/preview/2024-05-01-preview/TrafficController.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, TypeSpec, BreakingChange-Approved-BugFix, Versioning-Approved-BugFix, VersioningReviewRequired, PublishToCustomers

#30470 java, mgmt, configure tspconfig
  specification/fabric/Microsoft.Fabric.Management/tspconfig.yaml
Labels: TypeSpec

#30354 Rename Face models and clients
  specification/ai/Face/client.tsp
  specification/ai/Face/tspconfig.yaml
Labels: TypeSpec

#30474 Rename CreateLivenessWithVerifySessionJsonContent
  specification/ai/Face/client.tsp
Labels: TypeSpec

#30469 Swagger Release 2024-03-01 Lint Diff Fix
  specification/network/resource-manager/readme.md
Labels: Network, ARMSignedOff, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired

#29825 AppConfiguration 2024-05-01
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/appconfiguration.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/CheckNameAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/CheckNameNotAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresCreate.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresCreateKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresCreateReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresCreateSnapshot.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresCreateWithDataPlaneProxy.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresCreateWithIdentity.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresCreateWithLocalAuthDisabled.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresDelete.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresDeleteKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresDeletePrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresDeleteReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresGetKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresGetPrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresGetReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresGetSnapshot.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresListByResourceGroup.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresListKeys.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresListPrivateEndpointConnections.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresListReplicas.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresRegenerateKey.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresUpdate.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresUpdateDisableLocalAuth.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresUpdatePrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresUpdateWithIdentity.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/DeletedConfigurationStoresGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/DeletedConfigurationStoresList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/DeletedConfigurationStoresPurge.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/OperationsList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/PrivateLinkResourceGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/PrivateLinkResourcesListByConfigurationStore.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/RegionalCheckNameAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/RegionalCheckNameNotAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/scenarios/basic.yaml
  specification/appconfiguration/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, new-api-version, PublishToCustomers

#30327 [To unblock another team] removing tags and location as they are already defined in CommonTracke…
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/networkVerifier.json
Labels: Network, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChange-Approved-BugFix, PublishToCustomers

#30488 Add client tsp for StandybyPool
  specification/standbypool/StandbyPool.Management/client.tsp
  specification/standbypool/StandbyPool.Management/standbyContainerGroupPool.tsp
  specification/standbypool/StandbyPool.Management/standbyVM.tsp
  specification/standbypool/StandbyPool.Management/standbyVMPool.tsp
  specification/standbypool/StandbyPool.Management/tspconfig.yaml
  specification/standbypool/resource-manager/Microsoft.StandbyPool/preview/2023-12-01-preview/standbypool.json
  specification/standbypool/resource-manager/Microsoft.StandbyPool/preview/2024-03-01-preview/standbypool.json
  specification/standbypool/resource-manager/Microsoft.StandbyPool/stable/2024-03-01/standbypool.json
Labels: Approved-LintDiff, Approved-ModelValidation, resource-manager, TypeSpec, BreakingChange-Approved-BugFix, PublishToCustomers

#29572 [VideoTranslation] Initial add TypedSpec and swagger
  cSpell.json
  specification/cognitiveservices/Speech.VideoTranslation/client.tsp
  specification/cognitiveservices/Speech.VideoTranslation/examples/2024-05-20-preview/IterationOperations_CreateOrReplaceIteration.json
  specification/cognitiveservices/Speech.VideoTranslation/examples/2024-05-20-preview/IterationOperations_GetIteration.json
  specification/cognitiveservices/Speech.VideoTranslation/examples/2024-05-20-preview/IterationOperations_ListIteration.json
  specification/cognitiveservices/Speech.VideoTranslation/examples/2024-05-20-preview/OperationOperations_GetOperation.json
  specification/cognitiveservices/Speech.VideoTranslation/examples/2024-05-20-preview/TranslationOperations_CreateOrReplaceTranslation.json
  specification/cognitiveservices/Speech.VideoTranslation/examples/2024-05-20-preview/TranslationOperations_DeleteTranslation.json
  specification/cognitiveservices/Speech.VideoTranslation/examples/2024-05-20-preview/TranslationOperations_GetTranslation.json
  specification/cognitiveservices/Speech.VideoTranslation/examples/2024-05-20-preview/TranslationOperations_ListTranslation.json
  specification/cognitiveservices/Speech.VideoTranslation/main.tsp
  specification/cognitiveservices/Speech.VideoTranslation/tspconfig.yaml
  specification/cognitiveservices/data-plane/Speech/VideoTranslation/preview/2024-05-20-preview/VideoTranslation.json
  specification/cognitiveservices/data-plane/Speech/VideoTranslation/preview/2024-05-20-preview/examples/IterationOperations_CreateOrReplaceIteration.json
  specification/cognitiveservices/data-plane/Speech/VideoTranslation/preview/2024-05-20-preview/examples/IterationOperations_GetIteration.json
  specification/cognitiveservices/data-plane/Speech/VideoTranslation/preview/2024-05-20-preview/examples/IterationOperations_ListIteration.json
  specification/cognitiveservices/data-plane/Speech/VideoTranslation/preview/2024-05-20-preview/examples/OperationOperations_GetOperation.json
  specification/cognitiveservices/data-plane/Speech/VideoTranslation/preview/2024-05-20-preview/examples/TranslationOperations_CreateOrReplaceTranslation.json
  specification/cognitiveservices/data-plane/Speech/VideoTranslation/preview/2024-05-20-preview/examples/TranslationOperations_DeleteTranslation.json
  specification/cognitiveservices/data-plane/Speech/VideoTranslation/preview/2024-05-20-preview/examples/TranslationOperations_GetTranslation.json
  specification/cognitiveservices/data-plane/Speech/VideoTranslation/preview/2024-05-20-preview/examples/TranslationOperations_ListTranslation.json
  specification/cognitiveservices/data-plane/Speech/VideoTranslation/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, new-api-version, TypeSpec, PublishToCustomers

#30405 Microsoft.RecoveryServices adding version 2024-09-30-preview
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/Capabilities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/CheckNameAvailability_Available.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/CheckNameAvailability_NotAvailable.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/DeletedVaults_Get.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/DeletedVaults_GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/DeletedVaults_ListBySubscriptionId.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/DeletedVaults_Undelete.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/PATCHVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/PATCHVault_WithRedundancySettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/PUTVault_ResourceGuardEnabled.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/PUTVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/PUTVault_WithRedundancySettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/UpdateVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/registeredidentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/replicationusages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/vaults.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/vaultusages.json
  specification/recoveryservices/resource-manager/readme.md
Labels: ARMSignedOff, RecoveryServices, ARMReview, resource-manager, new-api-version, AzCoreIDC

#30517 Remove the retired Azure Maps Data Service.
  specification/maps/data-plane/readme.md
Labels: Maps, data-plane, PublishToCustomers

#30451 Update IoT Operations examples
  specification/iotoperations/IoTOperations.Management/examples/2024-08-15-preview/BrokerAuthentication_CreateOrUpdate_Complex.json
  specification/iotoperations/IoTOperations.Management/examples/2024-08-15-preview/DataflowEndpoint_CreateOrUpdate_AIO.json
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/preview/2024-08-15-preview/examples/BrokerAuthentication_CreateOrUpdate_Complex.json
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/preview/2024-08-15-preview/examples/DataflowEndpoint_CreateOrUpdate_AIO.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#30333 [developerhub] Update private preview 2024-05-01-preview
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-05-01-preview/examples/IacProfile_CreateOrUpdate.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-05-01-preview/examples/IacProfile_ExportTemplate.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-05-01-preview/examples/IacProfile_ScaleTemplate.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-05-01-preview/iac.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, Versioning-Approved-BugFix, VersioningReviewRequired, PublishToCustomers

#30528 Update readme.python.md
  specification/network/resource-manager/readme.python.md
Labels: Network, WaitForARMFeedback, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#30235 Review request for Microsoft.Security to add version stable/2024-08-01
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/customRecommedations.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/CustomRecommendations/DeleteByManagementGroupCustomRecommendation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/CustomRecommendations/DeleteBySecurityConnectorCustomRecommendation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/CustomRecommendations/DeleteBySubscriptionCustomRecommendation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/CustomRecommendations/GetByManagementGroupCustomRecommendation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/CustomRecommendations/GetBySecurityConnectorCustomRecommendation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/CustomRecommendations/GetBySubscriptionCustomRecommendation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/CustomRecommendations/ListByManagementGroupCustomRecommendations_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/CustomRecommendations/ListBySecurityConnectorCustomRecommendations_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/CustomRecommendations/ListBySubscriptionCustomRecommendations_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/CustomRecommendations/PutByManagementGroupCustomRecommendation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/CustomRecommendations/PutBySecurityConnectorCustomRecommendation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/CustomRecommendations/PutBySubscriptionCustomRecommendation_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/SecurityStandards/DeleteByManagementGroupSecurityStandard_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/SecurityStandards/DeleteBySecurityConnectorSecurityStandard_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/SecurityStandards/DeleteBySubscriptionSecurityStandard_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/SecurityStandards/GetByManagementGroupSecurityStandard_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/SecurityStandards/GetBySecurityConnectorSecurityStandard_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/SecurityStandards/GetBySubscriptionSecurityStandard_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/SecurityStandards/ListByManagementGroupSecurityStandards_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/SecurityStandards/ListBySecurityConnectorSecurityStandards_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/SecurityStandards/ListBySubscriptionSecurityStandards_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/SecurityStandards/PutByManagementGroupSecurityStandard_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/SecurityStandards/PutBySecurityConnectorSecurityStandard_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/SecurityStandards/PutBySubscriptionSecurityStandard_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/StandardAssignments/DeleteStandardAssignment.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/StandardAssignments/GetStandardAssignment.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/StandardAssignments/ListStandardAssignments.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/StandardAssignments/PutExemptionStandardAssignment.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/examples/StandardAssignments/PutStandardAssignment.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/securityStandards.json
  specification/security/resource-manager/Microsoft.Security/stable/2024-08-01/standardAssignments.json
  specification/security/resource-manager/readme.md
  specification/security/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, PublishToCustomers

#30503 Update tspconfig for Python SDK
  specification/standbypool/StandbyPool.Management/client.tsp
  specification/standbypool/StandbyPool.Management/tspconfig.yaml
  specification/standbypool/resource-manager/readme.md
  specification/standbypool/resource-manager/readme.python.md
Labels: WaitForARMFeedback, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-Python-Sdk, PublishToCustomers

#30548 Fix lro wrong return type in AppConfig
  specification/appconfiguration/AppConfiguration/routes.tsp
Labels: TypeSpec

#30489 update fabric tspconfig
  specification/fabric/Microsoft.Fabric.Management/tspconfig.yaml
Labels: TypeSpec

#30355 add typespec-ts config into tspconfig for mongocluster
  specification/mongocluster/DocumentDB.MongoCluster.Management/client.tsp
  specification/mongocluster/DocumentDB.MongoCluster.Management/tspconfig.yaml
Labels: TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-Python-Sdk

#30551 [ApplicationInsights.LiveMetrics] update tspconfig.yaml for SDK generation
  specification/applicationinsights/ApplicationInsights.LiveMetrics/tspconfig.yaml
  specification/developersigning/DeveloperSigning/tspconfig.yaml
Labels: Insights, TypeSpec

#30553 [mongocluster] Update tspconfig.yaml for SDK generation
  specification/mongocluster/DocumentDB.MongoCluster.Management/tspconfig.yaml
Labels: TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-Python-Sdk

#30550 update standbypool tspconfig
  specification/standbypool/StandbyPool.Management/client.tsp
  specification/standbypool/StandbyPool.Management/tspconfig.yaml
Labels: TypeSpec, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk

#30557 tspconfig, fix invalid service-dir
  specification/developersigning/DeveloperSigning/tspconfig.yaml
Labels: TypeSpec

#30555 Java for App Configuration, skip renaming for Error model
  specification/appconfiguration/AppConfiguration/client.tsp
Labels: TypeSpec

#30334 [Astronomer][New Version] Added optional renewalMode and endDate(readonly) fields in OfferDetails
  specification/liftrastronomer/Astronomer.Astro.Management/LiftrBase.Data/main.tsp
  specification/liftrastronomer/Astronomer.Astro.Management/LiftrBase/main.tsp
  specification/liftrastronomer/Astronomer.Astro.Management/examples/2024-08-27-preview/Operations_List_MaximumSet_Gen.json
  specification/liftrastronomer/Astronomer.Astro.Management/examples/2024-08-27-preview/Operations_List_MinimumSet_Gen.json
  specification/liftrastronomer/Astronomer.Astro.Management/examples/2024-08-27-preview/Organizations_CreateOrUpdate_MaximumSet_Gen.json
  specification/liftrastronomer/Astronomer.Astro.Management/examples/2024-08-27-preview/Organizations_Delete_MaximumSet_Gen.json
  specification/liftrastronomer/Astronomer.Astro.Management/examples/2024-08-27-preview/Organizations_Get_MaximumSet_Gen.json
  specification/liftrastronomer/Astronomer.Astro.Management/examples/2024-08-27-preview/Organizations_ListByResourceGroup_MaximumSet_Gen.json
  specification/liftrastronomer/Astronomer.Astro.Management/examples/2024-08-27-preview/Organizations_ListByResourceGroup_MinimumSet_Gen.json
  specification/liftrastronomer/Astronomer.Astro.Management/examples/2024-08-27-preview/Organizations_ListBySubscription_MaximumSet_Gen.json
  specification/liftrastronomer/Astronomer.Astro.Management/examples/2024-08-27-preview/Organizations_ListBySubscription_MinimumSet_Gen.json
  specification/liftrastronomer/Astronomer.Astro.Management/examples/2024-08-27-preview/Organizations_Update_MaximumSet_Gen.json
  specification/liftrastronomer/Astronomer.Astro.Management/examples/2024-08-27/Operations_List_MaximumSet_Gen.json
  specification/liftrastronomer/Astronomer.Astro.Management/examples/2024-08-27/Operations_List_MinimumSet_Gen.json
  specification/liftrastronomer/Astronomer.Astro.Management/examples/2024-08-27/Organizations_CreateOrUpdate_MaximumSet_Gen.json
  specification/liftrastronomer/Astronomer.Astro.Management/examples/2024-08-27/Organizations_Delete_MaximumSet_Gen.json
  specification/liftrastronomer/Astronomer.Astro.Management/examples/2024-08-27/Organizations_Get_MaximumSet_Gen.json
  specification/liftrastronomer/Astronomer.Astro.Management/examples/2024-08-27/Organizations_ListByResourceGroup_MaximumSet_Gen.json
  specification/liftrastronomer/Astronomer.Astro.Management/examples/2024-08-27/Organizations_ListByResourceGroup_MinimumSet_Gen.json
  specification/liftrastronomer/Astronomer.Astro.Management/examples/2024-08-27/Organizations_ListBySubscription_MaximumSet_Gen.json
  specification/liftrastronomer/Astronomer.Astro.Management/examples/2024-08-27/Organizations_ListBySubscription_MinimumSet_Gen.json
  specification/liftrastronomer/Astronomer.Astro.Management/examples/2024-08-27/Organizations_Update_MaximumSet_Gen.json
  specification/liftrastronomer/Astronomer.Astro.Management/main.tsp
  specification/liftrastronomer/resource-manager/Astronomer.Astro/preview/2024-08-27-preview/astronomer.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/preview/2024-08-27-preview/examples/Operations_List_MaximumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/preview/2024-08-27-preview/examples/Operations_List_MinimumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/preview/2024-08-27-preview/examples/Organizations_CreateOrUpdate_MaximumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/preview/2024-08-27-preview/examples/Organizations_Delete_MaximumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/preview/2024-08-27-preview/examples/Organizations_Get_MaximumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/preview/2024-08-27-preview/examples/Organizations_ListByResourceGroup_MaximumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/preview/2024-08-27-preview/examples/Organizations_ListByResourceGroup_MinimumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/preview/2024-08-27-preview/examples/Organizations_ListBySubscription_MaximumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/preview/2024-08-27-preview/examples/Organizations_ListBySubscription_MinimumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/preview/2024-08-27-preview/examples/Organizations_Update_MaximumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/stable/2024-08-27/astronomer.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/stable/2024-08-27/examples/Operations_List_MaximumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/stable/2024-08-27/examples/Operations_List_MinimumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/stable/2024-08-27/examples/Organizations_CreateOrUpdate_MaximumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/stable/2024-08-27/examples/Organizations_Delete_MaximumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/stable/2024-08-27/examples/Organizations_Get_MaximumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/stable/2024-08-27/examples/Organizations_ListByResourceGroup_MaximumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/stable/2024-08-27/examples/Organizations_ListByResourceGroup_MinimumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/stable/2024-08-27/examples/Organizations_ListBySubscription_MaximumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/stable/2024-08-27/examples/Organizations_ListBySubscription_MinimumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/stable/2024-08-27/examples/Organizations_Update_MaximumSet_Gen.json
  specification/liftrastronomer/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, TypeSpec, PublishToCustomers

#30007 Devhub api spec changes
  cSpell.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-08-01-preview/examples/ADOOAuthDefault.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-08-01-preview/examples/ADOOAuthInfo.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-08-01-preview/examples/ADOOAuthList.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-08-01-preview/examples/GeneratePreviewArtifacts.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-08-01-preview/examples/GitHubOAuth.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-08-01-preview/examples/GitHubOAuthCallback.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-08-01-preview/examples/GitHubOAuth_List.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-08-01-preview/examples/IacProfile_CreateOrUpdate.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-08-01-preview/examples/IacProfile_Delete.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-08-01-preview/examples/IacProfile_ExportTemplate.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-08-01-preview/examples/IacProfile_Get.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-08-01-preview/examples/IacProfile_List.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-08-01-preview/examples/IacProfile_ListByResourceGroup.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-08-01-preview/examples/IacProfile_ScaleTemplate.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-08-01-preview/examples/IacProfile_SyncTemplate.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-08-01-preview/examples/IacProfile_UpdateTags.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-08-01-preview/examples/Operation_List.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-08-01-preview/examples/Workflow_CreateOrUpdate.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-08-01-preview/examples/Workflow_CreateOrUpdate_WithArtifactGen.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-08-01-preview/examples/Workflow_Delete.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-08-01-preview/examples/Workflow_Get.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-08-01-preview/examples/Workflow_List.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-08-01-preview/examples/Workflow_ListByResourceGroup.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-08-01-preview/examples/Workflow_UpdateTags.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-08-01-preview/iac.json
  specification/developerhub/resource-manager/Microsoft.DevHub/preview/2024-08-01-preview/workflow.json
  specification/developerhub/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, Approved-Suppression, new-api-version, BreakingChange-Approved-Previously, PublishToCustomers

#30540 [AML]re-order mfe.json in 2024-10-01-preview
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager

#30464 add runningState change
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/Jobs.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/Jobs_Resume.json
Labels: ARMSignedOff, customer-reported, ARMReview, resource-manager

#30567 TI Query small fixes
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/ThreatIntelligenceCount.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/ThreatIntelligenceQuery.json
Labels: resource-manager

#30563 [Container Orchestrator Runtime] Update tspconfig for Python SDK
  specification/kubernetesruntime/KubernetesRuntime.Management/client.tsp
  specification/kubernetesruntime/KubernetesRuntime.Management/tspconfig.yaml
Labels: TypeSpec

#30576 [Computeschedule] Update tspconfig for Python SDK
  specification/computeschedule/ComputeSchedule.Management/client.tsp
  specification/computeschedule/ComputeSchedule.Management/tspconfig.yaml
Labels: TypeSpec

#30495 Uploads - Update OperationId
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2024-08-01-preview/azureopenai.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2024-08-01-preview/azureopenai.yaml
Labels: Cognitive Services, data-plane, Versioning-Approved-Benign, VersioningReviewRequired, PublishToCustomers

#30425 Liftr-NewRelic Resubscribe API - 2024-10-01 stable version
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/NewRelic.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Accounts_List_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Accounts_List_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/BillingInfo_Get.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/ConnectedPartnerResources_List.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/LinkedResources_List.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/MonitoredSubscriptions_CreateOrUpdate.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/MonitoredSubscriptions_Delete.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/MonitoredSubscriptions_Get.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/MonitoredSubscriptions_List.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/MonitoredSubscriptions_Update.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Monitors_CreateOrUpdate_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Monitors_Delete_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Monitors_Delete_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Monitors_GetMetricRules_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Monitors_GetMetricRules_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Monitors_GetMetricStatus_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Monitors_GetMetricStatus_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Monitors_Get_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Monitors_ListAppServices_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Monitors_ListAppServices_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Monitors_ListByResourceGroup_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Monitors_ListBySubscription_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Monitors_ListHosts_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Monitors_ListHosts_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Monitors_ListMonitoredResources_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Monitors_ListMonitoredResources_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Monitors_RefreshIngestionKey.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Monitors_Resubscribe.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Monitors_SwitchBilling_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Monitors_SwitchBilling_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Monitors_Update_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Monitors_VmHostPayload_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Monitors_VmHostPayload_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Operations_List_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Operations_List_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Organizations_List_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Organizations_List_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Plans_List_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/Plans_List_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/TagRules_CreateOrUpdate_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/TagRules_CreateOrUpdate_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/TagRules_Delete_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/TagRules_Delete_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/TagRules_Get_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/TagRules_Get_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/TagRules_ListByNewRelicMonitorResource_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/TagRules_ListByNewRelicMonitorResource_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/TagRules_Update_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/stable/2024-10-01/examples/TagRules_Update_MinimumSet_Gen.json
  specification/newrelic/resource-manager/readme.md
  specification/newrelic/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, RPaaS, new-api-version, IDCDevDiv, BreakingChange-Go-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-JavaScript-Sdk-Suppression-Approved, BreakingChange-Python-Sdk-Suppression-Approved, BreakingChange-Go-Sdk, BreakingChange-Python-Sdk, BreakingChange-JavaScript-Sdk-Suppression, BreakingChange-Python-Sdk-Suppression, PublishToCustomers

#30426 [Relay] 2024-01-01
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/Namespaces.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/NetworkRuleSets.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/authorizationRules.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/HybridConnection/RelayHybridConnectionAuthorizationRuleCreate.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/HybridConnection/RelayHybridConnectionAuthorizationRuleDelete.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/HybridConnection/RelayHybridConnectionAuthorizationRuleGet.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/HybridConnection/RelayHybridConnectionAuthorizationRuleListAll.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/HybridConnection/RelayHybridConnectionAuthorizationRuleListKey.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/HybridConnection/RelayHybridConnectionAuthorizationRuleRegenerateKey.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/HybridConnection/RelayHybridConnectionCreate.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/HybridConnection/RelayHybridConnectionGet.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/HybridConnection/RelayHybridConnectionListAll.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/HybridConnection/RelayHybridconnectionDelete.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/NameSpaces/RelayNameSpaceAuthorizationRuleCreate.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/NameSpaces/RelayNameSpaceAuthorizationRuleDelete.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/NameSpaces/RelayNameSpaceAuthorizationRuleGet.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/NameSpaces/RelayNameSpaceAuthorizationRuleListAll.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/NameSpaces/RelayNameSpaceAuthorizationRuleListKey.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/NameSpaces/RelayNameSpaceAuthorizationRuleRegenerateKey.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/NameSpaces/RelayNameSpaceCheckNameAvailability.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/NameSpaces/RelayNameSpaceCreate.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/NameSpaces/RelayNameSpaceDelete.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/NameSpaces/RelayNameSpaceGet.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/NameSpaces/RelayNameSpaceListByResourceGroup.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/NameSpaces/RelayNameSpaceListBySubscription.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/NameSpaces/RelayNameSpaceUpdate.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/PrivateEndpointConnections/OperationStatusPrivateEndpointConnectionsGet.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/PrivateEndpointConnections/PrivateEndpointConnectionsCreate.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/PrivateEndpointConnections/PrivateEndpointConnectionsDelete.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/PrivateEndpointConnections/PrivateEndpointConnectionsGet.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/PrivateEndpointConnections/PrivateEndpointConnectionsList.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/PrivateEndpointConnections/PrivateLinkResourcesGet.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/PrivateEndpointConnections/PrivateLinkResourcesList.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/Relay/RelayAuthorizationRuleCreate.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/Relay/RelayAuthorizationRuleDelete.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/Relay/RelayAuthorizationRuleGet.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/Relay/RelayAuthorizationRuleListAll.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/Relay/RelayAuthorizationRuleListKey.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/Relay/RelayAuthorizationRuleRegenerateKey.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/Relay/RelayCreate.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/Relay/RelayDelete.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/Relay/RelayGet.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/Relay/RelayListAll.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/RelayOperations_List.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/VirtualNetworkRules/RelayNetworkRuleSetCreate.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/examples/VirtualNetworkRules/RelayNetworkRuleSetGet.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/hybridConnections.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/operations.json
  specification/relay/resource-manager/Microsoft.Relay/stable/2024-01-01/wcfRelays.json
  specification/relay/resource-manager/readme.md
  specification/relay/resource-manager/sdk-suppressions.yaml
Labels: Relay, ARMSignedOff, ARMReview, resource-manager, new-api-version, BreakingChange-JavaScript-Sdk-Suppression-Approved, PublishToCustomers

#30097 [LCM] Update event grid schema to include cold tier stats
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Storage/Storage.tsp
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/GeneratedSystemEvents.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2024-01-01/GeneratedSystemEvents.json
  specification/eventgrid/data-plane/Microsoft.Storage/stable/2018-01-01/Storage.json
Labels: Event Grid, customer-reported, data-plane, TypeSpec, BreakingChange-Approved-Benign

#30586 Update Operation Ids due to PowerShell Requirements
  specification/workloads/Workloads.SAPVirtualInstance.Management/SAPVirtualInstance.tsp
  specification/workloads/Workloads.SAPVirtualInstance.Management/examples/2024-09-01/SapVirtualInstances_InvokeAvailabilityZoneDetails_eastus.json
  specification/workloads/Workloads.SAPVirtualInstance.Management/examples/2024-09-01/SapVirtualInstances_InvokeAvailabilityZoneDetails_northeurope.json
  specification/workloads/Workloads.SAPVirtualInstance.Management/examples/2024-09-01/SapVirtualInstances_InvokeDiskConfigurations_NonProd.json
  specification/workloads/Workloads.SAPVirtualInstance.Management/examples/2024-09-01/SapVirtualInstances_InvokeDiskConfigurations_Prod.json
  specification/workloads/Workloads.SAPVirtualInstance.Management/examples/2024-09-01/SapVirtualInstances_InvokeSapSupportedSku_Distributed.json
  specification/workloads/Workloads.SAPVirtualInstance.Management/examples/2024-09-01/SapVirtualInstances_InvokeSapSupportedSku_DistributedHA_AvSet.json
  specification/workloads/Workloads.SAPVirtualInstance.Management/examples/2024-09-01/SapVirtualInstances_InvokeSapSupportedSku_DistributedHA_AvZone.json
  specification/workloads/Workloads.SAPVirtualInstance.Management/examples/2024-09-01/SapVirtualInstances_InvokeSapSupportedSku_SingleServer.json
  specification/workloads/Workloads.SAPVirtualInstance.Management/examples/2024-09-01/SapVirtualInstances_InvokeSizingRecommendations_S4HANA_Distributed.json
  specification/workloads/Workloads.SAPVirtualInstance.Management/examples/2024-09-01/SapVirtualInstances_InvokeSizingRecommendations_S4HANA_HA_AvSet.json
  specification/workloads/Workloads.SAPVirtualInstance.Management/examples/2024-09-01/SapVirtualInstances_InvokeSizingRecommendations_S4HANA_HA_AvZone.json
  specification/workloads/Workloads.SAPVirtualInstance.Management/examples/2024-09-01/SapVirtualInstances_InvokeSizingRecommendations_S4HANA_SingleServer.json
  specification/workloads/resource-manager/Microsoft.Workloads/SAPVirtualInstance/stable/2024-09-01/SAPVirtualInstance.json
  specification/workloads/resource-manager/Microsoft.Workloads/SAPVirtualInstance/stable/2024-09-01/examples/SapVirtualInstances_InvokeAvailabilityZoneDetails_eastus.json
  specification/workloads/resource-manager/Microsoft.Workloads/SAPVirtualInstance/stable/2024-09-01/examples/SapVirtualInstances_InvokeAvailabilityZoneDetails_northeurope.json
  specification/workloads/resource-manager/Microsoft.Workloads/SAPVirtualInstance/stable/2024-09-01/examples/SapVirtualInstances_InvokeDiskConfigurations_NonProd.json
  specification/workloads/resource-manager/Microsoft.Workloads/SAPVirtualInstance/stable/2024-09-01/examples/SapVirtualInstances_InvokeDiskConfigurations_Prod.json
  specification/workloads/resource-manager/Microsoft.Workloads/SAPVirtualInstance/stable/2024-09-01/examples/SapVirtualInstances_InvokeSapSupportedSku_Distributed.json
  specification/workloads/resource-manager/Microsoft.Workloads/SAPVirtualInstance/stable/2024-09-01/examples/SapVirtualInstances_InvokeSapSupportedSku_DistributedHA_AvSet.json
  specification/workloads/resource-manager/Microsoft.Workloads/SAPVirtualInstance/stable/2024-09-01/examples/SapVirtualInstances_InvokeSapSupportedSku_DistributedHA_AvZone.json
  specification/workloads/resource-manager/Microsoft.Workloads/SAPVirtualInstance/stable/2024-09-01/examples/SapVirtualInstances_InvokeSapSupportedSku_SingleServer.json
  specification/workloads/resource-manager/Microsoft.Workloads/SAPVirtualInstance/stable/2024-09-01/examples/SapVirtualInstances_InvokeSizingRecommendations_S4HANA_Distributed.json
  specification/workloads/resource-manager/Microsoft.Workloads/SAPVirtualInstance/stable/2024-09-01/examples/SapVirtualInstances_InvokeSizingRecommendations_S4HANA_HA_AvSet.json
  specification/workloads/resource-manager/Microsoft.Workloads/SAPVirtualInstance/stable/2024-09-01/examples/SapVirtualInstances_InvokeSizingRecommendations_S4HANA_HA_AvZone.json
  specification/workloads/resource-manager/Microsoft.Workloads/SAPVirtualInstance/stable/2024-09-01/examples/SapVirtualInstances_InvokeSizingRecommendations_S4HANA_SingleServer.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, TypeSpec, AzCoreIDC, BreakingChange-Approved-BugFix, PublishToCustomers

#30453 [HDInsight] Update ClusterPatchParameters description
  specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2024-08-01-preview/cluster.json
Labels: HDInsight, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#30251 Microsoft.maps 2024 07 01 preview
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-07-01-preview/examples/AccountListSAS.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-07-01-preview/examples/CreateAccountEncryption.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-07-01-preview/examples/CreateAccountGen2.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-07-01-preview/examples/CreateAccountManagedIdentity.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-07-01-preview/examples/CreateMapsCreator.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-07-01-preview/examples/DeleteAccount.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-07-01-preview/examples/DeleteMapsCreator.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-07-01-preview/examples/GetAccount.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-07-01-preview/examples/GetMapsCreator.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-07-01-preview/examples/GetOperations.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-07-01-preview/examples/ListAccountsByResourceGroup.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-07-01-preview/examples/ListAccountsBySubscription.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-07-01-preview/examples/ListKeys.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-07-01-preview/examples/ListMapsCreatorsByAccount.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-07-01-preview/examples/RegenerateKey.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-07-01-preview/examples/UpdateAccount.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-07-01-preview/examples/UpdateAccountEncryption.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-07-01-preview/examples/UpdateAccountGen2.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-07-01-preview/examples/UpdateAccountManagedIdentity.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-07-01-preview/examples/UpdateMapsCreator.json
  specification/maps/resource-manager/Microsoft.Maps/preview/2024-07-01-preview/maps-management.json
  specification/maps/resource-manager/readme.md
  specification/maps/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, Maps, resource-manager, BreakingChangeReviewRequired, new-api-version, BreakingChange-Approved-Previously, BreakingChange-Python-Sdk-Suppression-Approved, BreakingChange-Python-Sdk-Suppression, PublishToCustomers

#30575 [VideoTranslation]Rename operation ID for translation/iteration creation API due to we don't support replace in the API.
  specification/cognitiveservices/Speech.VideoTranslation/examples/2024-05-20-preview/IterationOperations_CreateIteration.json
  specification/cognitiveservices/Speech.VideoTranslation/examples/2024-05-20-preview/TranslationOperations_CreateTranslation.json
  specification/cognitiveservices/Speech.VideoTranslation/main.tsp
  specification/cognitiveservices/data-plane/Speech/VideoTranslation/preview/2024-05-20-preview/VideoTranslation.json
  specification/cognitiveservices/data-plane/Speech/VideoTranslation/preview/2024-05-20-preview/examples/IterationOperations_CreateIteration.json
  specification/cognitiveservices/data-plane/Speech/VideoTranslation/preview/2024-05-20-preview/examples/TranslationOperations_CreateTranslation.json
Labels: Cognitive Services, data-plane, TypeSpec, Versioning-Approved-BugFix, VersioningReviewRequired, PublishToCustomers

#30614 add ignore-pod-disruption-budget option for agentpool delete
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-08-01/managedClusters.json
Labels: Container Service, resource-manager

#30418 [Microsoft.App] Add enableFips property for dedicated workload profiles
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/ManagedEnvironments_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/ManagedEnvironments_CustomInfrastructureResourceGroup_Create.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/ManagedEnvironments_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/ManagedEnvironments_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/ManagedEnvironments_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/ManagedEnvironments_Patch.json
Labels: ARMSignedOff, ARMReview, resource-manager, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk

#30620 java, webpubsub, readme config for resource-collection-associations
  specification/webpubsub/resource-manager/readme.java.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#30389 serviceGroups resourceType
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/AddManagementGroupSubscription.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/CheckManagementGroupNameAvailability.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/DeleteHierarchySettings.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/DeleteManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/GetAllSubscriptionsFromManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/GetDescendants.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/GetEntities.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/GetHierarchySettings.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/GetManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/GetManagementGroupWithAncestors.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/GetManagementGroupWithExpand.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/GetManagementGroupWithExpandAndRecurse.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/GetManagementGroupWithPath.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/GetSubscriptionFromManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/ListHierarchySettings.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/ListManagementGroups.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/ListOperations.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/PatchHierarchySettings.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/PatchManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/PutHierarchySettings.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/PutManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/RemoveManagementGroupSubscription.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/ServiceGroup_Delete.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/ServiceGroup_Get.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/ServiceGroup_ListAncestors.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/ServiceGroup_Put.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/StartTenantBackfillRequest.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/TenantBackfillStatusRequest.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/management.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/serviceGroups.json
  specification/managementgroups/resource-manager/readme.md
  specification/managementgroups/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired, new-api-version, BreakingChange-JavaScript-Sdk-Suppression-Approved, BreakingChange-Python-Sdk-Suppression-Approved, BreakingChange-JavaScript-Sdk-Suppression, BreakingChange-Python-Sdk-Suppression

#30446 [OpenAI] Added missing object field in `EmbeddingItem`
  specification/cognitiveservices/OpenAI.Inference/examples/2024-07-01-preview/generated_embeddings.json
  specification/cognitiveservices/OpenAI.Inference/models/embeddings_create.tsp
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-07-01-preview/examples/generated_embeddings.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-07-01-preview/generated.json
Labels: Cognitive Services, data-plane, TypeSpec, VersioningReviewRequired

#30602 change segment in security policies
  specification/servicenetworking/ServiceNetworking.Management/main.tsp
  specification/servicenetworking/ServiceNetworking.Management/tspconfig.yaml
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/preview/2024-05-01-preview/TrafficController.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/stable/2023-11-01/TrafficController.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-BugFix, PublishToCustomers

#30629 AOAI Uploads Documentation - Improve Documentation
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2024-08-01-preview/azureopenai.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2024-08-01-preview/azureopenai.yaml
Labels: Cognitive Services, data-plane, PublishToCustomers

#30595 [Microsoft.Monitor] PipelineGroups v2024-10-01-preview
  specification/monitor/Microsoft.Monitor.Operations.Management/examples/2024-10-01-preview/OperationsList.json
  specification/monitor/Microsoft.Monitor.Operations.Management/main.tsp
  specification/monitor/Microsoft.Monitor.Operations.Management/tspconfig.yaml
  specification/monitor/Microsoft.Monitor.Operations.Management/typespec/service.tsp
  specification/monitor/Microsoft.Monitor.PipelineGroups.Management/examples/2024-10-01-preview/PipelineGroupCreateSyslogs.json
  specification/monitor/Microsoft.Monitor.PipelineGroups.Management/examples/2024-10-01-preview/PipelineGroupCreateSyslogsWithCache.json
  specification/monitor/Microsoft.Monitor.PipelineGroups.Management/examples/2024-10-01-preview/PipelineGroupCreateSyslogsWithNetworking.json
  specification/monitor/Microsoft.Monitor.PipelineGroups.Management/examples/2024-10-01-preview/PipelineGroupCreateUdp.json
  specification/monitor/Microsoft.Monitor.PipelineGroups.Management/examples/2024-10-01-preview/PipelineGroupCreateUdpWithJsonArrayMapper.json
  specification/monitor/Microsoft.Monitor.PipelineGroups.Management/examples/2024-10-01-preview/PipelineGroupDelete.json
  specification/monitor/Microsoft.Monitor.PipelineGroups.Management/examples/2024-10-01-preview/PipelineGroupGet.json
  specification/monitor/Microsoft.Monitor.PipelineGroups.Management/examples/2024-10-01-preview/PipelineGroupListByResourceGroup.json
  specification/monitor/Microsoft.Monitor.PipelineGroups.Management/examples/2024-10-01-preview/PipelineGroupListBySubscription.json
  specification/monitor/Microsoft.Monitor.PipelineGroups.Management/examples/2024-10-01-preview/PipelineGroupUpdate.json
  specification/monitor/Microsoft.Monitor.PipelineGroups.Management/main.tsp
  specification/monitor/Microsoft.Monitor.PipelineGroups.Management/tspconfig.yaml
  specification/monitor/Microsoft.Monitor.PipelineGroups.Management/typespec/exporters/AzureMonitorWorkspaceLogs.tsp
  specification/monitor/Microsoft.Monitor.PipelineGroups.Management/typespec/exporters/TcpExporters.tsp
  specification/monitor/Microsoft.Monitor.PipelineGroups.Management/typespec/pipelineGroup.tsp
  specification/monitor/Microsoft.Monitor.PipelineGroups.Management/typespec/processors/BatchProcessor.tsp
  specification/monitor/Microsoft.Monitor.PipelineGroups.Management/typespec/receivers/OtlpReceiver.tsp
  specification/monitor/Microsoft.Monitor.PipelineGroups.Management/typespec/receivers/SyslogReceiver.tsp
  specification/monitor/Microsoft.Monitor.PipelineGroups.Management/typespec/receivers/TcpReceivers.tsp
  specification/monitor/Microsoft.Monitor.PipelineGroups.Management/typespec/service.tsp
  specification/monitor/resource-manager/Microsoft.Monitor/Operations/preview/2024-10-01-preview/examples/OperationsList.json
  specification/monitor/resource-manager/Microsoft.Monitor/Operations/preview/2024-10-01-preview/operations.json
  specification/monitor/resource-manager/Microsoft.Monitor/Operations/readme.go.md
  specification/monitor/resource-manager/Microsoft.Monitor/Operations/readme.md
  specification/monitor/resource-manager/Microsoft.Monitor/PipelineGroups/preview/2024-10-01-preview/examples/PipelineGroupCreateSyslogs.json
  specification/monitor/resource-manager/Microsoft.Monitor/PipelineGroups/preview/2024-10-01-preview/examples/PipelineGroupCreateSyslogsWithCache.json
  specification/monitor/resource-manager/Microsoft.Monitor/PipelineGroups/preview/2024-10-01-preview/examples/PipelineGroupCreateSyslogsWithNetworking.json
  specification/monitor/resource-manager/Microsoft.Monitor/PipelineGroups/preview/2024-10-01-preview/examples/PipelineGroupCreateUdp.json
  specification/monitor/resource-manager/Microsoft.Monitor/PipelineGroups/preview/2024-10-01-preview/examples/PipelineGroupCreateUdpWithJsonArrayMapper.json
  specification/monitor/resource-manager/Microsoft.Monitor/PipelineGroups/preview/2024-10-01-preview/examples/PipelineGroupDelete.json
  specification/monitor/resource-manager/Microsoft.Monitor/PipelineGroups/preview/2024-10-01-preview/examples/PipelineGroupGet.json
  specification/monitor/resource-manager/Microsoft.Monitor/PipelineGroups/preview/2024-10-01-preview/examples/PipelineGroupListByResourceGroup.json
  specification/monitor/resource-manager/Microsoft.Monitor/PipelineGroups/preview/2024-10-01-preview/examples/PipelineGroupListBySubscription.json
  specification/monitor/resource-manager/Microsoft.Monitor/PipelineGroups/preview/2024-10-01-preview/examples/PipelineGroupUpdate.json
  specification/monitor/resource-manager/Microsoft.Monitor/PipelineGroups/preview/2024-10-01-preview/pipelineGroups.json
  specification/monitor/resource-manager/Microsoft.Monitor/PipelineGroups/readme.go.md
  specification/monitor/resource-manager/Microsoft.Monitor/PipelineGroups/readme.md
Labels: Monitor, ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, RPaaS, new-api-version, TypeSpec, PipelineBotTrigger, PublishToCustomers

#30227 update machinelearning readme.typescript,md
  specification/machinelearningservices/resource-manager/readme.typescript.md
Labels: resource-manager, ReadyForApiTest, PublishToCustomers

#29991 [Reviewed in Private repo] Add new api version: 2024-06-01-preview for two new features
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/AdvancedThreatProtectionSettings.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/FlexibleServers.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/AdvancedThreatProtectionSettingsGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/AdvancedThreatProtectionSettingsList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/AdvancedThreatProtectionSettingsPatchDisabled.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/AdvancedThreatProtectionSettingsPatchEnabled.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/AdvancedThreatProtectionSettingsPutDisabled.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/AdvancedThreatProtectionSettingsPutEnabled.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/CutoverMigration.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/MaintenancePolicyPatchOptInVirtualCanary.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/MaintenancePolicyPatchOptOutVirtualCanary.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/ReplicasListByServer.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/ServerCreate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/ServerCreateReplica.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/ServerCreateWithBYOK.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/ServerCreateWithDatabasePort.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/ServerCreateWithPointInTimeRestore.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/ServerDelete.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/ServerDetachVNet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/ServerFailover.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/ServerGet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/ServerGetWithVnet.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/ServerResetGtid.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/ServerRestart.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/ServerStart.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/ServerStop.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/ServerUpdate.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/ServerUpdateWithBYOK.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/ServerUpdateWithCustomerMaintenanceWindow.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/ServerValidateEstimateHighAvailability.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/ServersList.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/examples/ServersListByResourceGroup.json
  specification/mysql/resource-manager/Microsoft.DBforMySQL/FlexibleServers/preview/2024-06-01-preview/terraform/Microsoft.DBforMySQL_flexibleServers/main.tf
  specification/mysql/resource-manager/readme.md
  specification/mysql/resource-manager/suppressions.yaml
Labels: ARMSignedOff, MySQL, ARMReview, resource-manager, new-api-version, PublishToCustomers

#30636 making changes in force detach documentation according to GA.
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-07-01/computeRPCommon.json
Labels: Compute, ARMSignedOff, customer-reported, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#30455 New RP Microsoft.AzureTerraform.Management - export Azure resources to Terraform HCL
  cSpell.json
  specification/terraform/.gitignore
  specification/terraform/Microsoft.AzureTerraform.Management/examples/2023-07-01-preview/ExportTerraform.json
  specification/terraform/Microsoft.AzureTerraform.Management/examples/2023-07-01-preview/GetOperationStatus.json
  specification/terraform/Microsoft.AzureTerraform.Management/examples/2023-07-01-preview/ListOperations.json
  specification/terraform/Microsoft.AzureTerraform.Management/main.tsp
  specification/terraform/Microsoft.AzureTerraform.Management/models.tsp
  specification/terraform/Microsoft.AzureTerraform.Management/routes.tsp
  specification/terraform/Microsoft.AzureTerraform.Management/tspconfig.yaml
  specification/terraform/resource-manager/Microsoft.AzureTerraform/preview/2023-07-01-preview/examples/ExportTerraform.json
  specification/terraform/resource-manager/Microsoft.AzureTerraform/preview/2023-07-01-preview/examples/GetOperationStatus.json
  specification/terraform/resource-manager/Microsoft.AzureTerraform/preview/2023-07-01-preview/examples/ListOperations.json
  specification/terraform/resource-manager/Microsoft.AzureTerraform/preview/2023-07-01-preview/export.json
  specification/terraform/resource-manager/Microsoft.AzureTerraform/preview/2023-07-01-preview/terraform/Microsoft.AzureTerraform/main.tf
  specification/terraform/resource-manager/Microsoft.AzureTerraform/preview/2023-07-01-preview/terraform/Microsoft.AzureTerraform_operations/main.tf
  specification/terraform/resource-manager/readme.go.md
  specification/terraform/resource-manager/readme.md
  specification/terraform/suppressions.yaml
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, RPaaS, new-api-version, new-rp-namespace, TypeSpec, PublishToCustomers

#30627 Add system data back for billingMeter
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/BillingMeters.json
Labels: ARMSignedOff, ARMReview, resource-manager, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk

#30542 [AML]re-order mfe.json in 2024-10-01 version
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-10-01/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk

#30258 Added BlobAccessTierNotSupportedForAccountType to BlobErrorCode
  specification/storage/data-plane/Microsoft.BlobStorage/stable/2025-01-05/blob.json
Labels: Storage, data-plane, no-recent-activity

#30269 Added Premium to Share Access Tier
  specification/storage/data-plane/Microsoft.FileStorage/stable/2025-01-05/file.json
Labels: Storage, data-plane, no-recent-activity

#30273 Added Binary ACE to Copy File
  specification/storage/data-plane/Microsoft.FileStorage/stable/2025-01-05/file.json
Labels: Storage, data-plane, no-recent-activity

#30649 Added Snapshot and VersionId parameters to Set/Delete Immutability Po…
  specification/storage/data-plane/Microsoft.BlobStorage/stable/2025-01-05/blob.json
Labels: Storage, data-plane

#30531 Add InferencePools resource to 2024-10-01-preview
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/InferenceGroup/getDeltaModelsStatusAsync.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/InferenceGroup/listDeltaModelsAsync.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/InferenceGroup/modifyDeltaModelsAsync.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/Workspace/InferenceEndpoint/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/Workspace/InferenceEndpoint/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/Workspace/InferenceEndpoint/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/Workspace/InferenceEndpoint/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/Workspace/InferenceEndpoint/update.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/Workspace/InferenceGroup/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/Workspace/InferenceGroup/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/Workspace/InferenceGroup/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/Workspace/InferenceGroup/getStatus.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/Workspace/InferenceGroup/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/Workspace/InferenceGroup/listSkus.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/Workspace/InferenceGroup/update.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/Workspace/InferencePool/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/Workspace/InferencePool/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/Workspace/InferencePool/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/Workspace/InferencePool/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/Workspace/InferencePool/update.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager

#30300 Files Provisioned Billing v2
  specification/storage/data-plane/Microsoft.FileStorage/stable/2025-01-05/file.json
Labels: Storage, data-plane

#30641 Fix CI check for 2024-08-02-preview
  cSpell.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/AppResiliency.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/AuthConfigs.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/AvailableWorkloadProfiles.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/Builders.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/Builds.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/ConnectedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/ConnectedEnvironmentsCertificates.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/ConnectedEnvironmentsDaprComponents.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/ConnectedEnvironmentsStorages.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/ContainerAppsBuilds.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/ContainerAppsPatches.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/Diagnostics.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/DotNetComponents.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/FunctionsExtension.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/Global.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/LogicAppsExtension.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/ManagedEnvironmentsDaprComponentResiliencyPolicies.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/ManagedEnvironmentsDaprComponents.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/ManagedEnvironmentsDaprSubscriptions.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/ManagedEnvironmentsStorages.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/Subscriptions.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/Usages.json
  specification/app/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, BreakingChange-Python-Sdk-Suppression-Approved, BreakingChange-Python-Sdk-Suppression

#30644 Move existing suppression for patch java component to new api version
  specification/app/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager

#30233 Make the header optional for source control
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/SourceControls.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, Versioning-Approved-BugFix, VersioningReviewRequired, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk, PublishToCustomers

#30647 Fix session pool error response
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/SessionPools.json
Labels: ARMSignedOff, ARMReview, resource-manager

#30583 Swagger changes to support pageSize in ServiceNowV2
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: ARMSignedOff, Data Factory, ARMReview, resource-manager, data-plane, ReadyForApiTest, Versioning-Approved-Benign, VersioningReviewRequired, PublishToCustomers

#30516 Abrinegar/azuredatatransfer/adding uri properties
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-11/azuredatatransfer.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-11/examples/approveOrRejectConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-11/examples/createOrUpdateConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-11/examples/createOrUpdateFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-11/examples/createOrUpdatePipeline.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-11/examples/deleteConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-11/examples/deleteFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-11/examples/deletePipeline.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-11/examples/enableOrDisableFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-11/examples/getConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-11/examples/getFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-11/examples/getPipeline.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-11/examples/linkConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-11/examples/linkFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-11/examples/listConnectionsByResourceGroup.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-11/examples/listConnectionsBySubscription.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-11/examples/listFlowsByConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-11/examples/listOperations.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-11/examples/listPendingConnections.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-11/examples/listPendingFlows.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-11/examples/listPipelinesByResourceGroup.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-11/examples/listPipelinesBySubscription.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-11/examples/listSchemas.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-11/examples/patchConnection.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-11/examples/patchFlow.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-11/examples/patchPipeline.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-11/examples/postListApprovedSchemas.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/stable/2024-09-11/examples/postValidateSchema.json
  specification/azuredatatransfer/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, PublishToCustomers

#30174 [Storage][STG96] Add Structured Body support for Blob, Datalake, and Files
  specification/storage/data-plane/Azure.Storage.Files.DataLake/stable/2025-01-05/DataLakeStorage.json
  specification/storage/data-plane/Microsoft.BlobStorage/stable/2025-01-05/blob.json
  specification/storage/data-plane/Microsoft.FileStorage/stable/2025-01-05/file.json
Labels: Storage, data-plane

#30671 Update client.tsp for ComputeSchedule
  specification/computeschedule/ComputeSchedule.Management/client.tsp
  specification/computeschedule/ComputeSchedule.Management/models.tsp
  specification/computeschedule/ComputeSchedule.Management/tspconfig.yaml
  specification/computeschedule/resource-manager/Microsoft.ComputeSchedule/preview/2024-08-15-preview/computeschedule.json
Labels: resource-manager, ReadyForApiTest, RPaaS, TypeSpec, BreakingChange-Approved-BugFix, Versioning-Approved-BugFix, VersioningReviewRequired, NotReadyForARMReview, PublishToCustomers

#30640 set default tag to latest API
  specification/kubernetesruntime/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, PublishToCustomers

#30702 mgmt, java, mongocluster, unpin api-version
  specification/mongocluster/DocumentDB.MongoCluster.Management/tspconfig.yaml
Labels: TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-Python-Sdk

#30664 Renaming specifications to Azure.Developer.TrustedSigning
  specification/trustedsigning/TrustedSigning/examples/2023-06-15-preview/CertificateProfileOperations_GetSignRootCertificate.json
  specification/trustedsigning/TrustedSigning/examples/2023-06-15-preview/CertificateProfileOperations_GetSigningStatus.json
  specification/trustedsigning/TrustedSigning/examples/2023-06-15-preview/CertificateProfileOperations_ListExtendedKeyUsages.json
  specification/trustedsigning/TrustedSigning/examples/2023-06-15-preview/CertificateProfileOperations_Sign.json
  specification/trustedsigning/TrustedSigning/main.tsp
  specification/trustedsigning/TrustedSigning/tspconfig.yaml
  specification/trustedsigning/data-plane/Azure.Developer.TrustedSigning/preview/2023-06-15-preview/azure.developer.trustedsigning.json
  specification/trustedsigning/data-plane/Azure.Developer.TrustedSigning/preview/2023-06-15-preview/examples/CertificateProfileOperations_GetSignRootCertificate.json
  specification/trustedsigning/data-plane/Azure.Developer.TrustedSigning/preview/2023-06-15-preview/examples/CertificateProfileOperations_GetSigningStatus.json
  specification/trustedsigning/data-plane/Azure.Developer.TrustedSigning/preview/2023-06-15-preview/examples/CertificateProfileOperations_ListExtendedKeyUsages.json
  specification/trustedsigning/data-plane/Azure.Developer.TrustedSigning/preview/2023-06-15-preview/examples/CertificateProfileOperations_Sign.json
  specification/trustedsigning/data-plane/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, Approved-Suppression, SuppressionReviewRequired, new-api-version, TypeSpec, Versioning-Approved-Benign, VersioningReviewRequired, PublishToCustomers

#30697 Creator (2023-03-01-preview) retirement banners.
  specification/maps/data-plane/Creator/preview/2.0/featurestate.json
  specification/maps/data-plane/Creator/preview/2.0/tileset.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/featurestate.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/routeset.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/style.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/tileset.json
  specification/maps/data-plane/Creator/preview/2023-03-01-preview/wayfind.json
Labels: Maps, data-plane, PublishToCustomers

#30461 [BugFix] Remove flatten property from SKU in preview resource ciamDirectories in Microsoft.AzureActiveDirectory
  specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/preview/2023-05-17-preview/externalIdentities.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#30699 fix go-sdk error
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/BusinessApplicationAgents.json
Labels: resource-manager

#30484 [AML]Split GA version workspace RP swagger to it's own file
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-10-01/machineLearningServices.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-10-01/workspaceRP.json
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk

#30437 [ADLS Docs] Update Delete Path Documentation to callout versioning
  specification/storage/data-plane/Microsoft.StorageDataLake/stable/2019-12-12/DataLakeStorage.json
Labels: Storage, data-plane

#30713 Update WL provisioning state
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/Watchlists.json
Labels: resource-manager

#30703 java mpg, compute schedule config
  specification/computeschedule/ComputeSchedule.Management/tspconfig.yaml
Labels: TypeSpec

#30725 mongocluster, java, client.tsp modify client name
  specification/mongocluster/DocumentDB.MongoCluster.Management/client.tsp
Labels: TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk

#30726 add standyby pool typespec go
  specification/standbypool/StandbyPool.Management/tspconfig.yaml
Labels: TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-Python-Sdk

#30729 [mongocluster] Update tspconfig.yaml for python
  specification/mongocluster/DocumentDB.MongoCluster.Management/tspconfig.yaml
Labels: TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-Python-Sdk

#30720 Update readme.java.md: fix desktopvirtualization breaking changes
  specification/desktopvirtualization/resource-manager/readme.java.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#30730 Update readme.python.md for release
  specification/mysql/resource-manager/readme.python.md
Labels: ARMSignedOff, MySQL, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#30626 Appended "update" @visibility to BaseResourceProperties::marketplace field
  specification/liftrastronomer/Astronomer.Astro.Management/LiftrBase/main.tsp
  specification/liftrastronomer/Astronomer.Astro.Management/examples/2023-08-01-preview/Organizations_Update_MaximumSet_Gen.json
  specification/liftrastronomer/Astronomer.Astro.Management/examples/2023-08-01/Organizations_Update_MaximumSet_Gen.json
  specification/liftrastronomer/Astronomer.Astro.Management/examples/2024-08-27-preview/Organizations_Update_MaximumSet_Gen.json
  specification/liftrastronomer/Astronomer.Astro.Management/examples/2024-08-27/Organizations_Update_MaximumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/preview/2023-08-01-preview/astronomer.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/preview/2023-08-01-preview/examples/Organizations_Update_MaximumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/preview/2024-08-27-preview/astronomer.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/preview/2024-08-27-preview/examples/Organizations_Update_MaximumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/stable/2023-08-01/astronomer.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/stable/2023-08-01/examples/Organizations_Update_MaximumSet_Gen.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/stable/2024-08-27/astronomer.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/stable/2024-08-27/examples/Organizations_Update_MaximumSet_Gen.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, TypeSpec, Versioning-Approved-Benign, VersioningReviewRequired, PublishToCustomers

#30651 [AML] 2024-10-01-preview change for workspace RP
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/WorkspaceConnection/RaiBlocklistItem/deleteBulk.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/workspaceRP.json
Labels: ARMSignedOff, ARMReview, resource-manager

#30700 [Microsoft.App] Avoid breaking change with stable 2024-03-01 api-version for diagnostics resource
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/Diagnostics.json
Labels: ARMSignedOff, ARMReview, resource-manager

#30732 Update readme.python.md for sdk release
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/readme.python.md
Labels: ARMSignedOff, Container Service, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#30708 Nguyensteven/2024 09 02 preview acns api
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-09-02-preview/managedClusters.json
Labels: Container Service, resource-manager

#30709 feat(retina): update advanced networking api in 2024-09-01
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-09-01/managedClusters.json
Labels: Container Service, resource-manager

#30695 Storage STG 96
  specification/storage/data-plane/Azure.Storage.Files.DataLake/readme.md
  specification/storage/data-plane/Azure.Storage.Files.DataLake/stable/2025-01-05/DataLakeStorage.json
  specification/storage/data-plane/Microsoft.BlobStorage/readme.md
  specification/storage/data-plane/Microsoft.BlobStorage/stable/2025-01-05/blob.json
  specification/storage/data-plane/Microsoft.FileStorage/readme.md
  specification/storage/data-plane/Microsoft.FileStorage/stable/2025-01-05/file.json
Labels: Storage, APIStewardshipBoard-SignedOff, data-plane, BreakingChangeReviewRequired, new-api-version, BreakingChange-Approved-Benign, PublishToCustomers

#30723 Add node resource group lockdown related properties
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-09-01/managedClusters.json
Labels: Container Service, resource-manager

#30745 Update tspconfig for Python SDK
  specification/iotoperations/IoTOperations.Management/client.tsp
  specification/iotoperations/IoTOperations.Management/tspconfig.yaml
Labels: TypeSpec

#30019 Kanil4664 elasticsan microsoft.elastic san 2024 06 01 preview
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/elasticsan.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/ElasticSans_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/ElasticSans_Create_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/ElasticSans_Delete_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/ElasticSans_Delete_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/ElasticSans_Get_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/ElasticSans_Get_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/ElasticSans_ListByResourceGroup_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/ElasticSans_ListByResourceGroup_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/ElasticSans_ListBySubscription_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/ElasticSans_ListBySubscription_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/ElasticSans_Update_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/ElasticSans_Update_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/Operations_List_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/Operations_List_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/PrivateEndpointConnections_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/PrivateEndpointConnections_Create_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/PrivateEndpointConnections_Delete_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/PrivateEndpointConnections_Delete_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/PrivateEndpointConnections_Get_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/PrivateEndpointConnections_Get_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/PrivateEndpointConnections_List_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/PrivateEndpointConnections_List_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/PrivateLinkResources_ListByElasticSan_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/PrivateLinkResources_ListByElasticSan_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/Skus_List_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/Skus_List_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/VolumeGroups_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/VolumeGroups_Create_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/VolumeGroups_Delete_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/VolumeGroups_Delete_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/VolumeGroups_Get_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/VolumeGroups_Get_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/VolumeGroups_ListByElasticSan_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/VolumeGroups_ListByElasticSan_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/VolumeGroups_Update_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/VolumeGroups_Update_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/VolumeSnapshots_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/VolumeSnapshots_Create_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/VolumeSnapshots_Delete_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/VolumeSnapshots_Delete_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/VolumeSnapshots_Get_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/VolumeSnapshots_Get_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/VolumeSnapshots_ListByVolumeGroup_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/VolumeSnapshots_ListByVolumeGroup_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/Volumes_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/Volumes_Create_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/Volumes_Delete_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/Volumes_Delete_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/Volumes_Get_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/Volumes_Get_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/Volumes_ListByVolumeGroup_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/Volumes_ListByVolumeGroup_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/Volumes_Update_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-06-01-preview/examples/Volumes_Update_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, PublishToCustomers

#30691 Fix default value property error for keda properties - 08.2024 release
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/CommonDefinitions.json
Labels: ARMSignedOff, ARMReview, resource-manager

#30735 Microsoft.AVS grid events review
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.AVS/AVS.tsp
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/GeneratedSystemEvents.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2024-01-01/GeneratedSystemEvents.json
Labels: Event Grid, data-plane, TypeSpec, BreakingChange-Approved-Benign

#30757 Evaluation TypeSpec
  specification/ai/Azure.AI.Client/common.tsp
  specification/ai/Azure.AI.Client/evaluations/model.tsp
  specification/ai/Azure.AI.Client/evaluations/routes.tsp
  specification/ai/data-plane/Azure.AI.Client/preview/2024-07-01-preview/azure-ai-client.json
Labels: data-plane, TypeSpec

#30749 [OpenAI] providing feedback in the form of a PR for the `v2024_08_01_preview` release
  specification/cognitiveservices/OpenAI.Inference/client.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/chat_messages.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/completions_create.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/extensions/oyd/mongodb_options.tsp
  specification/cognitiveservices/OpenAI.Inference/models/uploads.tsp
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-06-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-07-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-02-15-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-03-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-04-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-05-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-07-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-08-01-preview/examples/generated_extensions_chat_completions_azure_search_advanced.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-08-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/stable/2023-05-15/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/stable/2024-02-01/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/stable/2024-06-01/generated.json
Labels: Cognitive Services, data-plane, TypeSpec

#30736 Add typespec-csharp config for .NET SDK code generation
  specification/terraform/Microsoft.AzureTerraform.Management/tspconfig.yaml
Labels: ARMSignedOff, TypeSpec

#30744 mgmt, codesigning, update tspconfig
  specification/codesigning/CodeSigning.Management/client.tsp
  specification/codesigning/CodeSigning.Management/tspconfig.yaml
Labels: TypeSpec

#30743 [Service Linker] add 24-07-01-preview api version
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/examples/ConfigurationNamesList.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/examples/ConnectorDryrunCreate.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/examples/ConnectorDryrunDelete.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/examples/ConnectorDryrunGet.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/examples/ConnectorDryrunList.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/examples/ConnectorDryrunUpdate.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/examples/ConnectorList.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/examples/Connectors.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/examples/DeleteConnector.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/examples/DeleteDryrun.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/examples/DeleteLinker.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/examples/GenerateConfigurations.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/examples/GetConfigurations.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/examples/GetDaprConfigurations.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/examples/GetDryrun.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/examples/Linker.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/examples/LinkerGenerateConfigurations.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/examples/LinkerList.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/examples/ListDryrun.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/examples/OperationsList.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/examples/PatchConnector.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/examples/PatchDryrun.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/examples/PatchLinker.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/examples/PutConnector.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/examples/PutDryrun.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/examples/PutLinker.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/examples/ValidateConnectorSuccess.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/examples/ValidateLinkerSuccess.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/servicelinker.json
  specification/servicelinker/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, PublishToCustomers

#30768 remove examples-dir from python tspconfig
  specification/ai/DocumentIntelligence/tspconfig.yaml
  specification/ai/Face/tspconfig.yaml
  specification/ai/HealthInsights/HealthInsights.RadiologyInsights/tspconfig.yaml
  specification/ai/ImageAnalysis/tspconfig.yaml
  specification/apicenter/ApiCenter.DataApi/tspconfig.yaml
  specification/appconfiguration/AppConfiguration/tspconfig.yaml
  specification/applicationinsights/ApplicationInsights.LiveMetrics/tspconfig.yaml
  specification/azurefleet/AzureFleet.Management/tspconfig.yaml
  specification/batch/Azure.Batch/tspconfig.yaml
  specification/cognitiveservices/ContentSafety/tspconfig.yaml
  specification/communication/Communication.JobRouter/tspconfig.yaml
  specification/communication/Communication.Messages/tspconfig.yaml
  specification/computeschedule/ComputeSchedule.Management/tspconfig.yaml
  specification/confidentialledger/Microsoft.CodeTransparency/tspconfig.yaml
  specification/contosowidgetmanager/Contoso.Management/tspconfig.yaml
  specification/contosowidgetmanager/Contoso.WidgetManager/tspconfig.yaml
  specification/devcenter/DevCenter/tspconfig.yaml
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/tspconfig.yaml
  specification/edgezones/EdgeZones.Management/tspconfig.yaml
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/tspconfig.yaml
  specification/eventgrid/Azure.Messaging.EventGrid/tspconfig.yaml
  specification/fabric/Microsoft.Fabric.Management/tspconfig.yaml
  specification/healthdataaiservices/HealthDataAIServices.DeidServices/tspconfig.yaml
  specification/healthdataaiservices/HealthDataAIServices.Management/tspconfig.yaml
  specification/iotoperations/IoTOperations.Management/tspconfig.yaml
  specification/kubernetesruntime/KubernetesRuntime.Management/tspconfig.yaml
  specification/loadtestservice/LoadTestService/tspconfig.yaml
  specification/machinelearning/Azure.AI.ChatProtocol/tspconfig.yaml
  specification/machinelearningservices/AzureAI.Assets/tspconfig.yaml
  specification/mongocluster/DocumentDB.MongoCluster.Management/tspconfig.yaml
  specification/programmableconnectivity/Azure.ProgrammableConnectivity/tspconfig.yaml
  specification/purview/Azure.Analytics.Purview.DataMap/tspconfig.yaml
  specification/schemaregistry/SchemaRegistry/tspconfig.yaml
  specification/standbypool/StandbyPool.Management/tspconfig.yaml
  specification/translation/Azure.AI.DocumentTranslation/tspconfig.yaml
  specification/translation/Azure.AI.TextTranslation/tspconfig.yaml
  specification/trustedsigning/TrustedSigning/tspconfig.yaml
Labels: TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk

#30721 BilingRP subscrption api swagger update for offerId for 2024-04-01 for public repo
  specification/billing/resource-manager/Microsoft.Billing/stable/2024-04-01/billingSubscription.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2024-04-01/examples/billingSubscriptionsListByBillingProfileEA.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2024-04-01/examples/billingSubscriptionsListByEnrollmentAccount.json
Labels: ARMSignedOff, Billing, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#30772 add directive for containerservice
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/readme.typescript.md
Labels: Container Service, resource-manager, ReadyForApiTest, PublishToCustomers

#30707 DNS Resolver Release 2023-07-01-Preview with new DNS Security Policy feature
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/dnsresolver.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/dnsresolverpolicy.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsForwardingRuleset_Delete.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsForwardingRuleset_Get.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsForwardingRuleset_ListByResourceGroup.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsForwardingRuleset_ListBySubscription.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsForwardingRuleset_ListByVirtualNetwork.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsForwardingRuleset_Patch.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsForwardingRuleset_Put.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsResolverDomainList_Delete.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsResolverDomainList_Get.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsResolverDomainList_ListByResourceGroup.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsResolverDomainList_ListBySubscription.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsResolverDomainList_Patch.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsResolverDomainList_Put.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsResolverPolicyVirtualNetworkLink_Delete.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsResolverPolicyVirtualNetworkLink_Get.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsResolverPolicyVirtualNetworkLink_List.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsResolverPolicyVirtualNetworkLink_Patch.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsResolverPolicyVirtualNetworkLink_Put.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsResolverPolicy_Delete.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsResolverPolicy_Get.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsResolverPolicy_ListByResourceGroup.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsResolverPolicy_ListBySubscription.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsResolverPolicy_ListByVirtualNetwork.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsResolverPolicy_Patch.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsResolverPolicy_Put.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsResolver_Delete.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsResolver_Get.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsResolver_ListByResourceGroup.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsResolver_ListBySubscription.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsResolver_ListByVirtualNetwork.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsResolver_Patch.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsResolver_Put.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsSecurityRule_Delete.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsSecurityRule_Get.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsSecurityRule_List.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsSecurityRule_Patch.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/DnsSecurityRule_Put.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/ForwardingRule_Delete.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/ForwardingRule_Get.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/ForwardingRule_List.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/ForwardingRule_Patch.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/ForwardingRule_Put.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/InboundEndpoint_Delete.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/InboundEndpoint_Get.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/InboundEndpoint_List.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/InboundEndpoint_Patch.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/InboundEndpoint_Put.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/OutboundEndpoint_Delete.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/OutboundEndpoint_Get.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/OutboundEndpoint_List.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/OutboundEndpoint_Patch.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/OutboundEndpoint_Put.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/VirtualNetworkLink_Delete.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/VirtualNetworkLink_Get.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/VirtualNetworkLink_List.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/VirtualNetworkLink_Patch.json
  specification/dnsresolver/resource-manager/Microsoft.Network/preview/2023-07-01-preview/examples/VirtualNetworkLink_Put.json
  specification/dnsresolver/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, BreakingChange-Approved-Benign, PublishToCustomers

#30748 Add Identity to session pool registry
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/SessionPools.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/SessionPools_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/SessionPools_Get.json
Labels: ARMSignedOff, ARMReview, resource-manager

#30754 Updated `WorkspaceRP.json` to add the propety `ProvisionNetworkNow`.
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/workspaceRP.json
Labels: ARMSignedOff, ARMReview, resource-manager

#30752 Files Provisioned Billing V2 updates
  specification/storage/data-plane/Microsoft.FileStorage/stable/2025-01-05/file.json
Labels: Storage, APIStewardshipBoard-SignedOff, data-plane, BreakingChange-Approved-BugFix, PublishToCustomers

#30603 Review request for Microsoft.Devices to add version preview/2025-02-01-preview
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2025-02-01-preview/examples/DPSCertificateCreateOrUpdate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2025-02-01-preview/examples/DPSCheckNameAvailability.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2025-02-01-preview/examples/DPSCreate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2025-02-01-preview/examples/DPSCreateOrUpdatePrivateEndpointConnection.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2025-02-01-preview/examples/DPSDelete.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2025-02-01-preview/examples/DPSDeleteCertificate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2025-02-01-preview/examples/DPSDeletePrivateEndpointConnection.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2025-02-01-preview/examples/DPSGenerateVerificationCode.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2025-02-01-preview/examples/DPSGet.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2025-02-01-preview/examples/DPSGetCertificate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2025-02-01-preview/examples/DPSGetCertificates.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2025-02-01-preview/examples/DPSGetKey.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2025-02-01-preview/examples/DPSGetOperationResult.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2025-02-01-preview/examples/DPSGetPrivateEndpointConnection.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2025-02-01-preview/examples/DPSGetPrivateLinkResources.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2025-02-01-preview/examples/DPSGetValidSku.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2025-02-01-preview/examples/DPSListByResourceGroup.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2025-02-01-preview/examples/DPSListBySubscription.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2025-02-01-preview/examples/DPSListKeys.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2025-02-01-preview/examples/DPSListPrivateEndpointConnections.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2025-02-01-preview/examples/DPSListPrivateLinkResources.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2025-02-01-preview/examples/DPSOperations.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2025-02-01-preview/examples/DPSPatch.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2025-02-01-preview/examples/DPSUpdate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2025-02-01-preview/examples/DPSVerifyCertificate.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2025-02-01-preview/iotdps.json
  specification/deviceprovisioningservices/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, BreakingChange-Approved-Benign, PublishToCustomers

#30560 Add IPAM, VNV, update Security Admin and Vnet specs
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/IpamPools_Create.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/IpamPools_Delete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/IpamPools_Get.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/IpamPools_GetPoolUsage.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/IpamPools_List.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/IpamPools_ListAssociatedResources.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/IpamPools_Update.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/NetworkManagerAdminRulePut.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/NetworkManagerAdminRulePut_NetworkGroupSource.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/NetworkManagerSecurityAdminConfigurationPut_ManualAggregation.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/ReachabilityAnalysisIntentDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/ReachabilityAnalysisIntentGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/ReachabilityAnalysisIntentList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/ReachabilityAnalysisIntentPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/ReachabilityAnalysisRunDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/ReachabilityAnalysisRunGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/ReachabilityAnalysisRunList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/ReachabilityAnalysisRunPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/StaticCidrs_Create.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/StaticCidrs_Delete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/StaticCidrs_Get.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/StaticCidrs_List.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/VerifierWorkspaceDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/VerifierWorkspaceGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/VerifierWorkspaceList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/VerifierWorkspacePatch.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/VerifierWorkspacePut.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/examples/VirtualNetworkCreateWithIpamPool.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/ipAddressManager.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/network.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/networkManager.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/networkManagerSecurityAdminConfiguration.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/networkVerifier.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/virtualNetwork.json
  specification/network/resource-manager/readme.md
  specification/network/resource-manager/sdk-suppressions.yaml
Labels: Network, ARMSignedOff, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-JavaScript-Sdk-Suppression-Approved, BreakingChange-Go-Sdk-Suppression, BreakingChange-JavaScript-Sdk-Suppression

#30552 Fix PGSQL V2 missing auth type
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/sdk-suppressions.yaml
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
Labels: ARMSignedOff, ARMReview, resource-manager, data-plane, ReadyForApiTest, BreakingChangeReviewRequired, BreakingChange-Approved-BugFix, BreakingChange-JavaScript-Sdk-Suppression-Approved, BreakingChange-JavaScript-Sdk-Suppression, PublishToCustomers

#30684 New API Version From 2024-04-01, Including Total Minutes Indexed
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-09-23-preview/examples/ViAccountCheckNameAvailabilityFree.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-09-23-preview/examples/ViAccountCheckNameAvailabilityTaken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-09-23-preview/examples/ViAccountDelete.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-09-23-preview/examples/ViAccountGet.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-09-23-preview/examples/ViAccountPatch/PatchAccountWithSystemAssignedMi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-09-23-preview/examples/ViAccountPatch/PatchAccountWithUserAssignedMi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-09-23-preview/examples/ViAccountPut/ConnectClassicAccountToArmAccountUsingSystemAssignedMI.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-09-23-preview/examples/ViAccountPut/ConnectClassicAccountToArmAccountUsingUserAssignedMi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-09-23-preview/examples/ViAccountPut/CreateOrUpdateAccountWithSystemAssignedMi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-09-23-preview/examples/ViAccountPut/CreateOrUpdateAccountWithUserAssignedMi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-09-23-preview/examples/ViAccountsList.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-09-23-preview/examples/ViAccountsListByResourceGroup.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-09-23-preview/examples/ViGenerateAccessToken/ViGenerateAccountContributerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-09-23-preview/examples/ViGenerateAccessToken/ViGenerateAccountReaderAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-09-23-preview/examples/ViGenerateAccessToken/ViGenerateProjectContributerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-09-23-preview/examples/ViGenerateAccessToken/ViGenerateProjectReaderAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-09-23-preview/examples/ViGenerateAccessToken/ViGenerateVideoContributerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-09-23-preview/examples/ViGenerateAccessToken/ViGenerateVideoReaderAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-09-23-preview/examples/ViGenerateRestrictedViewerAccessToken/ViGenerateAccountRestrictedViewerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-09-23-preview/examples/ViGenerateRestrictedViewerAccessToken/ViGenerateProjectRestrictedViewerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-09-23-preview/examples/ViGenerateRestrictedViewerAccessToken/ViGenerateVideoRestrictedViewerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-09-23-preview/examples/ViOperationsList.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2024-09-23-preview/vi.json
  specification/vi/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, Approved-Suppression, SuppressionReviewRequired, new-api-version, PublishToCustomers

#30770 Add Identity to session pool 2024-08-02-preview
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/SessionPools.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/SessionPools_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/SessionPools_Get.json
Labels: ARMSignedOff, ARMReview, resource-manager

#30685 Pre GA readiness changes
  specification/codesigning/CodeSigning.Management/examples/2024-09-30-preview/CertificateProfiles_Create.json
  specification/codesigning/CodeSigning.Management/examples/2024-09-30-preview/CertificateProfiles_Delete.json
  specification/codesigning/CodeSigning.Management/examples/2024-09-30-preview/CertificateProfiles_Get.json
  specification/codesigning/CodeSigning.Management/examples/2024-09-30-preview/CertificateProfiles_ListByCodeSigningAccount.json
  specification/codesigning/CodeSigning.Management/examples/2024-09-30-preview/CertificateProfiles_RevokeCertificate.json
  specification/codesigning/CodeSigning.Management/examples/2024-09-30-preview/CodeSigningAccounts_CheckNameAvailability.json
  specification/codesigning/CodeSigning.Management/examples/2024-09-30-preview/CodeSigningAccounts_Create.json
  specification/codesigning/CodeSigning.Management/examples/2024-09-30-preview/CodeSigningAccounts_Delete.json
  specification/codesigning/CodeSigning.Management/examples/2024-09-30-preview/CodeSigningAccounts_Get.json
  specification/codesigning/CodeSigning.Management/examples/2024-09-30-preview/CodeSigningAccounts_ListByResourceGroup.json
  specification/codesigning/CodeSigning.Management/examples/2024-09-30-preview/CodeSigningAccounts_ListBySubscription.json
  specification/codesigning/CodeSigning.Management/examples/2024-09-30-preview/CodeSigningAccounts_Update.json
  specification/codesigning/CodeSigning.Management/examples/2024-09-30-preview/Operations_List.json
  specification/codesigning/CodeSigning.Management/main.tsp
  specification/codesigning/CodeSigning.Management/models.tsp
  specification/codesigning/resource-manager/Microsoft.CodeSigning/preview/2024-09-30-preview/codeSigningAccount.json
  specification/codesigning/resource-manager/Microsoft.CodeSigning/preview/2024-09-30-preview/examples/CertificateProfiles_Create.json
  specification/codesigning/resource-manager/Microsoft.CodeSigning/preview/2024-09-30-preview/examples/CertificateProfiles_Delete.json
  specification/codesigning/resource-manager/Microsoft.CodeSigning/preview/2024-09-30-preview/examples/CertificateProfiles_Get.json
  specification/codesigning/resource-manager/Microsoft.CodeSigning/preview/2024-09-30-preview/examples/CertificateProfiles_ListByCodeSigningAccount.json
  specification/codesigning/resource-manager/Microsoft.CodeSigning/preview/2024-09-30-preview/examples/CertificateProfiles_RevokeCertificate.json
  specification/codesigning/resource-manager/Microsoft.CodeSigning/preview/2024-09-30-preview/examples/CodeSigningAccounts_CheckNameAvailability.json
  specification/codesigning/resource-manager/Microsoft.CodeSigning/preview/2024-09-30-preview/examples/CodeSigningAccounts_Create.json
  specification/codesigning/resource-manager/Microsoft.CodeSigning/preview/2024-09-30-preview/examples/CodeSigningAccounts_Delete.json
  specification/codesigning/resource-manager/Microsoft.CodeSigning/preview/2024-09-30-preview/examples/CodeSigningAccounts_Get.json
  specification/codesigning/resource-manager/Microsoft.CodeSigning/preview/2024-09-30-preview/examples/CodeSigningAccounts_ListByResourceGroup.json
  specification/codesigning/resource-manager/Microsoft.CodeSigning/preview/2024-09-30-preview/examples/CodeSigningAccounts_ListBySubscription.json
  specification/codesigning/resource-manager/Microsoft.CodeSigning/preview/2024-09-30-preview/examples/CodeSigningAccounts_Update.json
  specification/codesigning/resource-manager/Microsoft.CodeSigning/preview/2024-09-30-preview/examples/Operations_List.json
  specification/codesigning/resource-manager/readme.md
  specification/codesigning/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, TypeSpec, PublishToCustomers

#30569 Added Azure Container Instance API Version 2024-10-01-preview
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-10-01-preview/containerInstance.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-10-01-preview/examples/CachedImagesList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-10-01-preview/examples/CapabilitiesList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-10-01-preview/examples/ContainerAttach.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-10-01-preview/examples/ContainerExec.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-10-01-preview/examples/ContainerGroupCreateConfidential.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-10-01-preview/examples/ContainerGroupEncryptionProperties.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-10-01-preview/examples/ContainerGroupExtensions.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-10-01-preview/examples/ContainerGroupUsage.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-10-01-preview/examples/ContainerGroupsCreateOrUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-10-01-preview/examples/ContainerGroupsCreateOrUpdateSecretReference.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-10-01-preview/examples/ContainerGroupsCreatePriority.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-10-01-preview/examples/ContainerGroupsDelete.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-10-01-preview/examples/ContainerGroupsGetPriority.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-10-01-preview/examples/ContainerGroupsGet_Failed.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-10-01-preview/examples/ContainerGroupsGet_Succeeded.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-10-01-preview/examples/ContainerGroupsList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-10-01-preview/examples/ContainerGroupsListByResourceGroup.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-10-01-preview/examples/ContainerGroupsRestart.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-10-01-preview/examples/ContainerGroupsStart.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-10-01-preview/examples/ContainerGroupsStop.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-10-01-preview/examples/ContainerGroupsUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-10-01-preview/examples/ContainerListLogs.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-10-01-preview/examples/OperationsList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-10-01-preview/examples/SubnetServiceAssociationLinkDelete.json
  specification/containerinstance/resource-manager/readme.md
Labels: ARMSignedOff, Container Instances, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired, new-api-version, PublishToCustomers
