Repository Azure/azure-rest-api-specs, pull requests merged in 2025-02, with the labels that each got.

#32426 Add "None" as a supported value for authentication type of a connection
  specification/ai/Azure.AI.Projects/connections/model.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2024-07-01-preview/azure-ai-projects.json
Labels: data-plane, TypeSpec

#32123 Add the property FirewallPublicIpAddress in ManagedNetworkSettings
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/workspaceRP.json
Labels: ARMSignedOff, ARMReview, resource-manager

#32119 Microsoft.Chaos - a few follow-up fixes after TypeSpec migration
  specification/chaos/Chaos.Management/capability.models.tsp
  specification/chaos/Chaos.Management/capabilityType.models.tsp
  specification/chaos/Chaos.Management/examples/2025-01-01/Capabilities_CreateOrUpdate.json
  specification/chaos/Chaos.Management/examples/2025-01-01/Capabilities_Delete.json
  specification/chaos/Chaos.Management/examples/2025-01-01/Capabilities_Get.json
  specification/chaos/Chaos.Management/examples/2025-01-01/Capabilities_List.json
  specification/chaos/Chaos.Management/examples/2025-01-01/CapabilityTypes_Get.json
  specification/chaos/Chaos.Management/examples/2025-01-01/CapabilityTypes_List.json
  specification/chaos/Chaos.Management/examples/2025-01-01/Experiments_Cancel.json
  specification/chaos/Chaos.Management/examples/2025-01-01/Experiments_CreateOrUpdate.json
  specification/chaos/Chaos.Management/examples/2025-01-01/Experiments_Delete.json
  specification/chaos/Chaos.Management/examples/2025-01-01/Experiments_ExecutionDetails.json
  specification/chaos/Chaos.Management/examples/2025-01-01/Experiments_Get.json
  specification/chaos/Chaos.Management/examples/2025-01-01/Experiments_GetExecution.json
  specification/chaos/Chaos.Management/examples/2025-01-01/Experiments_List.json
  specification/chaos/Chaos.Management/examples/2025-01-01/Experiments_ListAll.json
  specification/chaos/Chaos.Management/examples/2025-01-01/Experiments_ListAllExecutions.json
  specification/chaos/Chaos.Management/examples/2025-01-01/Experiments_Start.json
  specification/chaos/Chaos.Management/examples/2025-01-01/Experiments_Update.json
  specification/chaos/Chaos.Management/examples/2025-01-01/OperationStatuses_Get.json
  specification/chaos/Chaos.Management/examples/2025-01-01/Operations_List.json
  specification/chaos/Chaos.Management/examples/2025-01-01/TargetTypes_Get.json
  specification/chaos/Chaos.Management/examples/2025-01-01/TargetTypes_List.json
  specification/chaos/Chaos.Management/examples/2025-01-01/Targets_CreateOrUpdate.json
  specification/chaos/Chaos.Management/examples/2025-01-01/Targets_Delete.json
  specification/chaos/Chaos.Management/examples/2025-01-01/Targets_Get.json
  specification/chaos/Chaos.Management/examples/2025-01-01/Targets_List.json
  specification/chaos/Chaos.Management/experiment.models.tsp
  specification/chaos/Chaos.Management/experimentExecution.models.tsp
  specification/chaos/Chaos.Management/main.tsp
  specification/chaos/Chaos.Management/privateAccess.tsp
  specification/chaos/Chaos.Management/privateEndpointConnection.tsp
  specification/chaos/Chaos.Management/sdk-suppressions.yaml
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2025-01-01/examples/Capabilities_CreateOrUpdate.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2025-01-01/examples/Capabilities_Delete.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2025-01-01/examples/Capabilities_Get.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2025-01-01/examples/Capabilities_List.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2025-01-01/examples/CapabilityTypes_Get.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2025-01-01/examples/CapabilityTypes_List.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2025-01-01/examples/Experiments_Cancel.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2025-01-01/examples/Experiments_CreateOrUpdate.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2025-01-01/examples/Experiments_Delete.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2025-01-01/examples/Experiments_ExecutionDetails.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2025-01-01/examples/Experiments_Get.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2025-01-01/examples/Experiments_GetExecution.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2025-01-01/examples/Experiments_List.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2025-01-01/examples/Experiments_ListAll.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2025-01-01/examples/Experiments_ListAllExecutions.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2025-01-01/examples/Experiments_Start.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2025-01-01/examples/Experiments_Update.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2025-01-01/examples/OperationStatuses_Get.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2025-01-01/examples/Operations_List.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2025-01-01/examples/TargetTypes_Get.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2025-01-01/examples/TargetTypes_List.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2025-01-01/examples/Targets_CreateOrUpdate.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2025-01-01/examples/Targets_Delete.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2025-01-01/examples/Targets_Get.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2025-01-01/examples/Targets_List.json
  specification/chaos/resource-manager/Microsoft.Chaos/stable/2025-01-01/openapi.json
  specification/chaos/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-JavaScript-Sdk-Suppression-Approved, BreakingChange-Go-Sdk, BreakingChange-Python-Sdk, BreakingChange-JavaScript-Sdk-Suppression, PipelineBotTrigger, PublishToCustomers

#32437 Update the client name for rust
  specification/keyvault/Security.KeyVault.Keys/client.tsp
Labels: KeyVault, TypeSpec

#32436 Sync eng/common directory with azure-sdk-tools for PR 9752
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32422 [keyvault] Add customization for JS enum names
  specification/keyvault/Security.KeyVault.Keys/client.tsp
Labels: KeyVault, TypeSpec

#32439 Sync eng/common directory with azure-sdk-tools for PR 9698
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
  eng/common/pipelines/templates/steps/validate-all-packages.yml
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32446 Sync eng/common directory with azure-sdk-tools for PR 9733
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#28910 Auto export specification 2024-07-01
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/amlfilesystem.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/AscOperations_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/AscResourceUsages_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/Caches_CreateOrUpdate.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/Caches_CreateOrUpdate_ldap_only.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/Caches_DebugInfo.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/Caches_Delete.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/Caches_Flush.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/Caches_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/Caches_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/Caches_ListByResourceGroup.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/Caches_Start.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/Caches_Stop.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/Caches_Update.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/Caches_Update_ldap_only.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/Caches_UpgradeFirmware.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/Operations_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/PausePrimingJob.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/ResumePrimingJob.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/Skus_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/SpaceAllocation_Post.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/StartPrimingJob.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/StopPrimingJob.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/StorageTargets_CreateOrUpdate.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/StorageTargets_CreateOrUpdate_BlobNfs.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/StorageTargets_CreateOrUpdate_NoJunctions.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/StorageTargets_Delete.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/StorageTargets_DnsRefresh.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/StorageTargets_Flush.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/StorageTargets_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/StorageTargets_Invalidate.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/StorageTargets_ListByCache.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/StorageTargets_RestoreDefaults.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/StorageTargets_Resume.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/StorageTargets_Suspend.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/UsageModels_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/amlFilesystems_Archive.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/amlFilesystems_CancelArchive.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/amlFilesystems_CreateOrUpdate.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/amlFilesystems_Delete.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/amlFilesystems_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/amlFilesystems_List.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/amlFilesystems_ListByResourceGroup.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/amlFilesystems_Update.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/autoExportJobs_CreateOrUpdate.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/autoExportJobs_Delete.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/autoExportJobs_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/autoExportJobs_ListByAmlFilesystem.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/autoExportJobs_Update.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/checkAmlFSSubnets.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/getRequiredAmlFSSubnetsSize.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/importJob_Update.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/importJobs_CreateOrUpdate.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/importJobs_Delete.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/importJobs_Get.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/examples/importJobs_ListByAmlFilesystem.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-07-01/storagecache.json
  specification/storagecache/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, BreakingChange-Go-Sdk-Approved, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, PublishToCustomers, brownfield

#32431 Sync eng/common directory with azure-sdk-tools for PR 9747
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32452 Sync eng/common directory with azure-sdk-tools for PR 9745
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#31985 Azure Container Apps SessionPool Api Version 2025-01-01
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/SessionPools.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/SessionPools_Delete.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/SessionPools_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/SessionPools_LifecycleOnContainerExit_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/SessionPools_LifecycleTimed_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/SessionPools_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/SessionPools_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/SessionPools_Patch.json
  specification/app/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired

#32237 nsp 2024-06-01-preview
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NetworkSecurityPerimeterDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NetworkSecurityPerimeterGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NetworkSecurityPerimeterList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NetworkSecurityPerimeterListAll.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NetworkSecurityPerimeterPatch.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NetworkSecurityPerimeterPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NspAccessRuleDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NspAccessRuleGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NspAccessRuleList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NspAccessRulePut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NspAccessRuleReconcile.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NspAssociationDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NspAssociationGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NspAssociationList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NspAssociationPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NspAssociationReconcile.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NspLinkDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NspLinkGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NspLinkList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NspLinkPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NspLinkReferenceDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NspLinkReferenceGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NspLinkReferenceList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NspLoggingConfigurationDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NspLoggingConfigurationGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NspLoggingConfigurationList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NspLoggingConfigurationPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NspOperationStatusGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NspProfileDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NspProfileGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NspProfileList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/NspProfilePut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/examples/PerimeterAssociableResourcesList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/network.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-06-01-preview/networkSecurityPerimeter.json
  specification/network/resource-manager/readme.md
Labels: Network, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, Approved-Suppression, SuppressionReviewRequired, new-api-version, AzCoreIDC, PublishToCustomers, brownfield

#32455 [EngSys] [update-labels] Remove unnecessary action, move code into workflow
  .github/actions/update-labels/action.yaml
  .github/workflows/src/update-labels.js
  .github/workflows/test/update-labels.test.js
  .github/workflows/update-labels.yaml
Labels: WaitForARMFeedback, ARMReview, resource-manager, ReadyForApiTest

#32474 Add developer role to support new GPT models
  specification/ai/ModelClient/client.tsp
  specification/ai/ModelClient/models/chat_completions.tsp
  specification/ai/data-plane/AI.Model/preview/2024-05-01-preview/openapi.json
Labels: data-plane, TypeSpec

#32476 Sync eng/common directory with azure-sdk-tools for PR 9781
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32473 Fix Istio egress required fields in managedClusters.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-10-02-preview/examples/ManagedClustersCreate_AzureServiceMesh.json
Labels: Container Service, resource-manager, BreakingChange-Python-Sdk

#32482 Sync eng/common directory with azure-sdk-tools for PR 9764
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32467 [python] update configuration for monitor
  specification/monitor/resource-manager/readme.md
  specification/monitor/resource-manager/readme.python.md
Labels: Monitor, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk, PublishToCustomers

#32373 UDP tracking
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/LoadBalancerCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/LoadBalancerCreateStandardSku.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/loadBalancer.json
Labels: Network, ARMChangesRequested, ARMReview, resource-manager, BreakingChange-Go-Sdk-Approved, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk

#32491 Sync eng/common directory with azure-sdk-tools for PR 9788
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32410 adding etag support for vnet verifier and ipam
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/ipAddressManager.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/networkVerifier.json
Labels: Network, ARMSignedOff, ARMReview, resource-manager, BreakingChange-Go-Sdk-Approved, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk

#32494 [Quantum] Bug fix quantum provisioningState readonly flag
  specification/quantum/Microsoft.Quantum.Management/QuantumWorkspace.tsp
  specification/quantum/Microsoft.Quantum.Management/models.tsp
  specification/quantum/Microsoft.Quantum.Management/tspconfig.yaml
  specification/quantum/resource-manager/Microsoft.Quantum/preview/2023-11-13-preview/quantum.json
  specification/quantum/resource-manager/readme.md
Labels: WaitForARMFeedback, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, Approved-Suppression, SuppressionReviewRequired, TypeSpec, Versioning-Approved-BugFix, VersioningReviewRequired, PublishToCustomers

#32499 Sync eng/common directory with azure-sdk-tools for PR 9793
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32503 java, mgmt, Microsoft.DeviceRegistry, tspconfig
  specification/deviceregistry/DeviceRegistry.Management/tspconfig.yaml
Labels: TypeSpec

#32502 updates Face REST API landing version to v1.2 GA
  specification/ai/data-plane/Face/readme.md
Labels: data-plane, PublishToCustomers

#32523 Sync eng/common directory with azure-sdk-tools for PR 9799
  eng/common/scripts/Helpers/Package-Helpers.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32338 Refactor App Config tsp
  specification/appconfiguration/AppConfiguration/models.tsp
  specification/appconfiguration/AppConfiguration/routes.tsp
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/appconfiguration.json
Labels: data-plane, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-Benign, PublishToCustomers

#32514 run Copy-ApiVersion.ps1 script for 2025-03-01 api version
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/readme.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/AutoUpgradeProfiles_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/AutoUpgradeProfiles_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/AutoUpgradeProfiles_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/AutoUpgradeProfiles_ListByFleet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/FleetMembers_Create.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/FleetMembers_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/FleetMembers_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/FleetMembers_ListByFleet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/FleetMembers_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/Fleets_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/Fleets_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/Fleets_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/Fleets_ListByResourceGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/Fleets_ListBySub.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/Fleets_ListCredentialsResult.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/Fleets_PatchTags.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/Operations_List.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/UpdateRuns_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/UpdateRuns_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/UpdateRuns_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/UpdateRuns_ListByFleet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/UpdateRuns_Skip.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/UpdateRuns_Start.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/UpdateRuns_Stop.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/UpdateStrategies_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/UpdateStrategies_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/UpdateStrategies_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/UpdateStrategies_ListByFleet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/fleets.json
Labels: ARMSignedOff, Container Service, ARMReview, resource-manager, new-api-version, TypeSpec, PipelineBotTrigger

#32529 [containerservice] Update readme.python.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/readme.python.md
Labels: ARMSignedOff, Container Service, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#32483 Fix casing
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
  specification/datafactory/resource-manager/sdk-suppressions.yaml
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Dataset.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: ARMSignedOff, ARMReview, resource-manager, data-plane, ReadyForApiTest, BreakingChange-JavaScript-Sdk-Suppression-Approved, BreakingChange-JavaScript-Sdk-Suppression, PublishToCustomers

#32536 update tspconfig
  specification/deviceregistry/DeviceRegistry.Management/tspconfig.yaml
Labels: TypeSpec

#31978 Add number lookup GA
  specification/communication/data-plane/PhoneNumbers/readme.md
  specification/communication/data-plane/PhoneNumbers/stable/2025-02-11/examples/DeleteOperation.json
  specification/communication/data-plane/PhoneNumbers/stable/2025-02-11/examples/GetAreaCodes.json
  specification/communication/data-plane/PhoneNumbers/stable/2025-02-11/examples/GetCountries.json
  specification/communication/data-plane/PhoneNumbers/stable/2025-02-11/examples/GetLocalities.json
  specification/communication/data-plane/PhoneNumbers/stable/2025-02-11/examples/GetOfferings.json
  specification/communication/data-plane/PhoneNumbers/stable/2025-02-11/examples/GetOperation.json
  specification/communication/data-plane/PhoneNumbers/stable/2025-02-11/examples/GetPhoneNumber.json
  specification/communication/data-plane/PhoneNumbers/stable/2025-02-11/examples/GetPhoneNumberSearchResult.json
  specification/communication/data-plane/PhoneNumbers/stable/2025-02-11/examples/GetPhoneNumbers.json
  specification/communication/data-plane/PhoneNumbers/stable/2025-02-11/examples/PurchasePhoneNumbers.json
  specification/communication/data-plane/PhoneNumbers/stable/2025-02-11/examples/ReleasePhoneNumber.json
  specification/communication/data-plane/PhoneNumbers/stable/2025-02-11/examples/SearchOperatorInformation.json
  specification/communication/data-plane/PhoneNumbers/stable/2025-02-11/examples/SearchPhoneNumbers.json
  specification/communication/data-plane/PhoneNumbers/stable/2025-02-11/examples/UpdatePhoneNumberCapabilities.json
  specification/communication/data-plane/PhoneNumbers/stable/2025-02-11/phonenumbers.json
Labels: APIStewardshipBoard-SignedOff, data-plane, new-api-version, PublishToCustomers, brownfield

#32534 Update package openapi-to-typespec to 0.10.9
  package-lock.json
  package.json
Labels: PipelineBotTrigger

#31549 Adding interactive types to Advanced messaging
  specification/communication/Communication.Messages/README.md
  specification/communication/Communication.Messages/client.tsp
  specification/communication/Communication.Messages/examples/2025-01-15-preview/NotificationMessages_SendAudio.json
  specification/communication/Communication.Messages/examples/2025-01-15-preview/NotificationMessages_SendButtonInteractiveMessage.json
  specification/communication/Communication.Messages/examples/2025-01-15-preview/NotificationMessages_SendDocument.json
  specification/communication/Communication.Messages/examples/2025-01-15-preview/NotificationMessages_SendImage.json
  specification/communication/Communication.Messages/examples/2025-01-15-preview/NotificationMessages_SendListInteractiveMessage.json
  specification/communication/Communication.Messages/examples/2025-01-15-preview/NotificationMessages_SendReaction.json
  specification/communication/Communication.Messages/examples/2025-01-15-preview/NotificationMessages_SendSticker.json
  specification/communication/Communication.Messages/examples/2025-01-15-preview/NotificationMessages_SendTemplate.json
  specification/communication/Communication.Messages/examples/2025-01-15-preview/NotificationMessages_SendText.json
  specification/communication/Communication.Messages/examples/2025-01-15-preview/NotificationMessages_SendUrlInteractiveMessage.json
  specification/communication/Communication.Messages/examples/2025-01-15-preview/NotificationMessages_SendVideo.json
  specification/communication/Communication.Messages/examples/2025-01-15-preview/Stream_GetMedia.json
  specification/communication/Communication.Messages/examples/2025-01-15-preview/Template_ListTemplates.json
  specification/communication/Communication.Messages/models.tsp
  specification/communication/Communication.Messages/tspconfig.yaml
  specification/communication/data-plane/Messages/preview/2025-01-15-preview/communicationservicesmessages.json
  specification/communication/data-plane/Messages/preview/2025-01-15-preview/examples/NotificationMessages_SendAudio.json
  specification/communication/data-plane/Messages/preview/2025-01-15-preview/examples/NotificationMessages_SendButtonInteractiveMessage.json
  specification/communication/data-plane/Messages/preview/2025-01-15-preview/examples/NotificationMessages_SendDocument.json
  specification/communication/data-plane/Messages/preview/2025-01-15-preview/examples/NotificationMessages_SendImage.json
  specification/communication/data-plane/Messages/preview/2025-01-15-preview/examples/NotificationMessages_SendListInteractiveMessage.json
  specification/communication/data-plane/Messages/preview/2025-01-15-preview/examples/NotificationMessages_SendReaction.json
  specification/communication/data-plane/Messages/preview/2025-01-15-preview/examples/NotificationMessages_SendSticker.json
  specification/communication/data-plane/Messages/preview/2025-01-15-preview/examples/NotificationMessages_SendTemplate.json
  specification/communication/data-plane/Messages/preview/2025-01-15-preview/examples/NotificationMessages_SendText.json
  specification/communication/data-plane/Messages/preview/2025-01-15-preview/examples/NotificationMessages_SendUrlInteractiveMessage.json
  specification/communication/data-plane/Messages/preview/2025-01-15-preview/examples/NotificationMessages_SendVideo.json
  specification/communication/data-plane/Messages/preview/2025-01-15-preview/examples/Stream_GetMedia.json
  specification/communication/data-plane/Messages/preview/2025-01-15-preview/examples/Template_ListTemplates.json
  specification/communication/data-plane/Messages/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, new-api-version, TypeSpec, PublishToCustomers

#32457 [EngSys] Add check ARMAutoSignoffPreview
  .github/package-lock.json
  .github/package.json
  .github/src/context.js
  .github/src/label.js
  .github/test/mocks.js
  .github/workflows/arm-auto-signoff-preview.yaml
  .github/workflows/src/arm-auto-signoff-preview.js
  .github/workflows/src/changed-files.js
  .github/workflows/src/exec.js
  .github/workflows/src/git.js
  .github/workflows/test/arm-auto-signoff-preview.test.js
  .github/workflows/test/update-labels.test.js
  .github/workflows/update-labels.yaml
Labels: EngSys

#32486 New RP : Liftr WeightAndBiases RP
  specification/liftrweightsandbiases/Liftr.WeightsAndBiases.Management/.gitignore
  specification/liftrweightsandbiases/Liftr.WeightsAndBiases.Management/examples/2024-09-18-preview/Instances_CreateOrUpdate_MaximumSet_Gen.json
  specification/liftrweightsandbiases/Liftr.WeightsAndBiases.Management/examples/2024-09-18-preview/Instances_Delete_MaximumSet_Gen.json
  specification/liftrweightsandbiases/Liftr.WeightsAndBiases.Management/examples/2024-09-18-preview/Instances_Get_MaximumSet_Gen.json
  specification/liftrweightsandbiases/Liftr.WeightsAndBiases.Management/examples/2024-09-18-preview/Instances_ListByResourceGroup_MaximumSet_Gen.json
  specification/liftrweightsandbiases/Liftr.WeightsAndBiases.Management/examples/2024-09-18-preview/Instances_ListByResourceGroup_MinimumSet_Gen.json
  specification/liftrweightsandbiases/Liftr.WeightsAndBiases.Management/examples/2024-09-18-preview/Instances_ListBySubscription_MaximumSet_Gen.json
  specification/liftrweightsandbiases/Liftr.WeightsAndBiases.Management/examples/2024-09-18-preview/Instances_ListBySubscription_MinimumSet_Gen.json
  specification/liftrweightsandbiases/Liftr.WeightsAndBiases.Management/examples/2024-09-18-preview/Instances_Update_MaximumSet_Gen.json
  specification/liftrweightsandbiases/Liftr.WeightsAndBiases.Management/examples/2024-09-18-preview/Operations_List_MaximumSet_Gen.json
  specification/liftrweightsandbiases/Liftr.WeightsAndBiases.Management/examples/2024-09-18-preview/Operations_List_MinimumSet_Gen.json
  specification/liftrweightsandbiases/Liftr.WeightsAndBiases.Management/main.tsp
  specification/liftrweightsandbiases/Liftr.WeightsAndBiases.Management/tspconfig.yaml
  specification/liftrweightsandbiases/cspell.yaml
  specification/liftrweightsandbiases/resource-manager/Microsoft.WeightsAndBiases/preview/2024-09-18-preview/examples/Instances_CreateOrUpdate_MaximumSet_Gen.json
  specification/liftrweightsandbiases/resource-manager/Microsoft.WeightsAndBiases/preview/2024-09-18-preview/examples/Instances_Delete_MaximumSet_Gen.json
  specification/liftrweightsandbiases/resource-manager/Microsoft.WeightsAndBiases/preview/2024-09-18-preview/examples/Instances_Get_MaximumSet_Gen.json
  specification/liftrweightsandbiases/resource-manager/Microsoft.WeightsAndBiases/preview/2024-09-18-preview/examples/Instances_ListByResourceGroup_MaximumSet_Gen.json
  specification/liftrweightsandbiases/resource-manager/Microsoft.WeightsAndBiases/preview/2024-09-18-preview/examples/Instances_ListByResourceGroup_MinimumSet_Gen.json
  specification/liftrweightsandbiases/resource-manager/Microsoft.WeightsAndBiases/preview/2024-09-18-preview/examples/Instances_ListBySubscription_MaximumSet_Gen.json
  specification/liftrweightsandbiases/resource-manager/Microsoft.WeightsAndBiases/preview/2024-09-18-preview/examples/Instances_ListBySubscription_MinimumSet_Gen.json
  specification/liftrweightsandbiases/resource-manager/Microsoft.WeightsAndBiases/preview/2024-09-18-preview/examples/Instances_Update_MaximumSet_Gen.json
  specification/liftrweightsandbiases/resource-manager/Microsoft.WeightsAndBiases/preview/2024-09-18-preview/examples/Operations_List_MaximumSet_Gen.json
  specification/liftrweightsandbiases/resource-manager/Microsoft.WeightsAndBiases/preview/2024-09-18-preview/examples/Operations_List_MinimumSet_Gen.json
  specification/liftrweightsandbiases/resource-manager/Microsoft.WeightsAndBiases/preview/2024-09-18-preview/openapi.json
  specification/liftrweightsandbiases/resource-manager/readme.md
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, RPaaS, new-api-version, new-rp-namespace, TypeSpec, Liftr, IDCDevDiv, PublishToCustomers

#32485 Liftr ArizeAi RP
  specification/liftrarize/ArizeAi.ObservabilityEval.Management/examples/2024-10-01-preview/Operations_List_MaximumSet_Gen.json
  specification/liftrarize/ArizeAi.ObservabilityEval.Management/examples/2024-10-01-preview/Operations_List_MinimumSet_Gen.json
  specification/liftrarize/ArizeAi.ObservabilityEval.Management/examples/2024-10-01-preview/Organizations_CreateOrUpdate_MaximumSet_Gen.json
  specification/liftrarize/ArizeAi.ObservabilityEval.Management/examples/2024-10-01-preview/Organizations_Delete_MaximumSet_Gen.json
  specification/liftrarize/ArizeAi.ObservabilityEval.Management/examples/2024-10-01-preview/Organizations_Get_MaximumSet_Gen.json
  specification/liftrarize/ArizeAi.ObservabilityEval.Management/examples/2024-10-01-preview/Organizations_ListByResourceGroup_MaximumSet_Gen.json
  specification/liftrarize/ArizeAi.ObservabilityEval.Management/examples/2024-10-01-preview/Organizations_ListBySubscription_MaximumSet_Gen.json
  specification/liftrarize/ArizeAi.ObservabilityEval.Management/examples/2024-10-01-preview/Organizations_Update_MaximumSet_Gen.json
  specification/liftrarize/ArizeAi.ObservabilityEval.Management/main.tsp
  specification/liftrarize/ArizeAi.ObservabilityEval.Management/tspconfig.yaml
  specification/liftrarize/cspell.yaml
  specification/liftrarize/resource-manager/ArizeAi.ObservabilityEval/preview/2024-10-01-preview/examples/Operations_List_MaximumSet_Gen.json
  specification/liftrarize/resource-manager/ArizeAi.ObservabilityEval/preview/2024-10-01-preview/examples/Operations_List_MinimumSet_Gen.json
  specification/liftrarize/resource-manager/ArizeAi.ObservabilityEval/preview/2024-10-01-preview/examples/Organizations_CreateOrUpdate_MaximumSet_Gen.json
  specification/liftrarize/resource-manager/ArizeAi.ObservabilityEval/preview/2024-10-01-preview/examples/Organizations_Delete_MaximumSet_Gen.json
  specification/liftrarize/resource-manager/ArizeAi.ObservabilityEval/preview/2024-10-01-preview/examples/Organizations_Get_MaximumSet_Gen.json
  specification/liftrarize/resource-manager/ArizeAi.ObservabilityEval/preview/2024-10-01-preview/examples/Organizations_ListByResourceGroup_MaximumSet_Gen.json
  specification/liftrarize/resource-manager/ArizeAi.ObservabilityEval/preview/2024-10-01-preview/examples/Organizations_ListBySubscription_MaximumSet_Gen.json
  specification/liftrarize/resource-manager/ArizeAi.ObservabilityEval/preview/2024-10-01-preview/examples/Organizations_Update_MaximumSet_Gen.json
  specification/liftrarize/resource-manager/ArizeAi.ObservabilityEval/preview/2024-10-01-preview/openapi.json
  specification/liftrarize/resource-manager/readme.md
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, RPaaS, new-api-version, new-rp-namespace, TypeSpec, Liftr, IDCDevDiv, PublishToCustomers

#32430 [NetAppFiles] Bugfix Add missing response schema
  specification/netapp/resource-manager/Microsoft.NetApp/preview/2024-09-01-preview/examples/Accounts_GetChangeKeyVaultInformation.json
  specification/netapp/resource-manager/Microsoft.NetApp/preview/2024-09-01-preview/netapp.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2024-09-01/examples/Accounts_GetChangeKeyVaultInformation.json
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2024-09-01/netapp.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, BreakingChange-Approved-BugFix, PublishToCustomers, brownfield

#32413 Update sydnicatedRegistries field in registries.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/registries.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, Versioning-Approved-BugFix, VersioningReviewRequired, PipelineBotTrigger, PublishToCustomers, brownfield

#32543 updated mfe.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager, brownfield

#32099 Added support for x-ms-file-request-intent for blob copy APIs
  specification/storage/data-plane/Microsoft.BlobStorage/stable/2025-07-05/blob.json
Labels: Storage, data-plane, no-recent-activity, brownfield

#32565 Sync eng/common directory with azure-sdk-tools for PR 9810
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
  eng/common/scripts/SetTestPipelineVersion.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32568 Sync eng/common directory with azure-sdk-tools for PR 9778
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32571 [Key Vault] Modify C# customizations and config for Key Vault Administration
  specification/keyvault/Security.KeyVault.Administration/client.tsp
  specification/keyvault/Security.KeyVault.Administration/tspconfig.yaml
Labels: KeyVault, TypeSpec, PipelineBotTrigger

#32506 Update the docs and examples for public preview api
  specification/sovereign/Sovereign.Management/examples/2025-02-27-preview/LandingZoneAccountOperations_Create.json
  specification/sovereign/Sovereign.Management/examples/2025-02-27-preview/LandingZoneAccountOperations_Delete.json
  specification/sovereign/Sovereign.Management/examples/2025-02-27-preview/LandingZoneAccountOperations_Get.json
  specification/sovereign/Sovereign.Management/examples/2025-02-27-preview/LandingZoneAccountOperations_ListByResourceGroup.json
  specification/sovereign/Sovereign.Management/examples/2025-02-27-preview/LandingZoneAccountOperations_ListBySubscription.json
  specification/sovereign/Sovereign.Management/examples/2025-02-27-preview/LandingZoneAccountOperations_Update.json
  specification/sovereign/Sovereign.Management/examples/2025-02-27-preview/LandingZoneConfigurationOperations_Create.json
  specification/sovereign/Sovereign.Management/examples/2025-02-27-preview/LandingZoneConfigurationOperations_CreateCopy.json
  specification/sovereign/Sovereign.Management/examples/2025-02-27-preview/LandingZoneConfigurationOperations_Delete.json
  specification/sovereign/Sovereign.Management/examples/2025-02-27-preview/LandingZoneConfigurationOperations_GenerateLandingZone.json
  specification/sovereign/Sovereign.Management/examples/2025-02-27-preview/LandingZoneConfigurationOperations_Get.json
  specification/sovereign/Sovereign.Management/examples/2025-02-27-preview/LandingZoneConfigurationOperations_ListByResourceGroup.json
  specification/sovereign/Sovereign.Management/examples/2025-02-27-preview/LandingZoneConfigurationOperations_ListBySubscription.json
  specification/sovereign/Sovereign.Management/examples/2025-02-27-preview/LandingZoneConfigurationOperations_Update.json
  specification/sovereign/Sovereign.Management/examples/2025-02-27-preview/LandingZoneConfigurationOperations_UpdateAuthoringStatus.json
  specification/sovereign/Sovereign.Management/examples/2025-02-27-preview/LandingZoneRegistrationOperations_Create.json
  specification/sovereign/Sovereign.Management/examples/2025-02-27-preview/LandingZoneRegistrationOperations_Delete.json
  specification/sovereign/Sovereign.Management/examples/2025-02-27-preview/LandingZoneRegistrationOperations_Get.json
  specification/sovereign/Sovereign.Management/examples/2025-02-27-preview/LandingZoneRegistrationOperations_ListByResourceGroup.json
  specification/sovereign/Sovereign.Management/examples/2025-02-27-preview/LandingZoneRegistrationOperations_ListBySubscription.json
  specification/sovereign/Sovereign.Management/examples/2025-02-27-preview/LandingZoneRegistrationOperations_Update.json
  specification/sovereign/Sovereign.Management/examples/2025-02-27-preview/Operations_List.json
  specification/sovereign/Sovereign.Management/landingZoneAccountResourceProperties.tsp
  specification/sovereign/Sovereign.Management/landingZoneConfigurationResourceProperties.tsp
  specification/sovereign/Sovereign.Management/landingZoneRegistrationResourceProperties.tsp
  specification/sovereign/Sovereign.Management/main.tsp
  specification/sovereign/cspell.yaml
  specification/sovereign/resource-manager/Microsoft.Sovereign/preview/2025-02-27-preview/examples/LandingZoneAccountOperations_Create.json
  specification/sovereign/resource-manager/Microsoft.Sovereign/preview/2025-02-27-preview/examples/LandingZoneAccountOperations_Delete.json
  specification/sovereign/resource-manager/Microsoft.Sovereign/preview/2025-02-27-preview/examples/LandingZoneAccountOperations_Get.json
  specification/sovereign/resource-manager/Microsoft.Sovereign/preview/2025-02-27-preview/examples/LandingZoneAccountOperations_ListByResourceGroup.json
  specification/sovereign/resource-manager/Microsoft.Sovereign/preview/2025-02-27-preview/examples/LandingZoneAccountOperations_ListBySubscription.json
  specification/sovereign/resource-manager/Microsoft.Sovereign/preview/2025-02-27-preview/examples/LandingZoneAccountOperations_Update.json
  specification/sovereign/resource-manager/Microsoft.Sovereign/preview/2025-02-27-preview/examples/LandingZoneConfigurationOperations_Create.json
  specification/sovereign/resource-manager/Microsoft.Sovereign/preview/2025-02-27-preview/examples/LandingZoneConfigurationOperations_CreateCopy.json
  specification/sovereign/resource-manager/Microsoft.Sovereign/preview/2025-02-27-preview/examples/LandingZoneConfigurationOperations_Delete.json
  specification/sovereign/resource-manager/Microsoft.Sovereign/preview/2025-02-27-preview/examples/LandingZoneConfigurationOperations_GenerateLandingZone.json
  specification/sovereign/resource-manager/Microsoft.Sovereign/preview/2025-02-27-preview/examples/LandingZoneConfigurationOperations_Get.json
  specification/sovereign/resource-manager/Microsoft.Sovereign/preview/2025-02-27-preview/examples/LandingZoneConfigurationOperations_ListByResourceGroup.json
  specification/sovereign/resource-manager/Microsoft.Sovereign/preview/2025-02-27-preview/examples/LandingZoneConfigurationOperations_ListBySubscription.json
  specification/sovereign/resource-manager/Microsoft.Sovereign/preview/2025-02-27-preview/examples/LandingZoneConfigurationOperations_Update.json
  specification/sovereign/resource-manager/Microsoft.Sovereign/preview/2025-02-27-preview/examples/LandingZoneConfigurationOperations_UpdateAuthoringStatus.json
  specification/sovereign/resource-manager/Microsoft.Sovereign/preview/2025-02-27-preview/examples/LandingZoneRegistrationOperations_Create.json
  specification/sovereign/resource-manager/Microsoft.Sovereign/preview/2025-02-27-preview/examples/LandingZoneRegistrationOperations_Delete.json
  specification/sovereign/resource-manager/Microsoft.Sovereign/preview/2025-02-27-preview/examples/LandingZoneRegistrationOperations_Get.json
  specification/sovereign/resource-manager/Microsoft.Sovereign/preview/2025-02-27-preview/examples/LandingZoneRegistrationOperations_ListByResourceGroup.json
  specification/sovereign/resource-manager/Microsoft.Sovereign/preview/2025-02-27-preview/examples/LandingZoneRegistrationOperations_ListBySubscription.json
  specification/sovereign/resource-manager/Microsoft.Sovereign/preview/2025-02-27-preview/examples/LandingZoneRegistrationOperations_Update.json
  specification/sovereign/resource-manager/Microsoft.Sovereign/preview/2025-02-27-preview/examples/Operations_List.json
  specification/sovereign/resource-manager/Microsoft.Sovereign/preview/2025-02-27-preview/sovereign.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, TypeSpec, PipelineBotTrigger, PublishToCustomers, ARMAutoSignoffPreview

#32553 [storage] Update readme.python.md
  specification/storage/resource-manager/readme.python.md
Labels: Storage, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#32165 Azure AI Model Inference API - Embeddings and Chat Completions (#32145)
  specification/ai/ModelInference/README.md
  specification/ai/ModelInference/examples/2024-05-01-preview/GetChatCompletions_AudioModality_Gen.json
  specification/ai/ModelInference/examples/2024-05-01-preview/GetChatCompletions_MaximumSet_Gen.json
  specification/ai/ModelInference/examples/2024-05-01-preview/GetChatCompletions_MinimumSet_Gen.json
  specification/ai/ModelInference/examples/2024-05-01-preview/GetEmbeddings_MaximumSet_Gen.json
  specification/ai/ModelInference/examples/2024-05-01-preview/GetEmbeddings_MinimumSet_Gen.json
  specification/ai/ModelInference/examples/2024-05-01-preview/GetImageEmbeddings_MaximumSet_Gen.json
  specification/ai/ModelInference/examples/2024-05-01-preview/GetImageEmbeddings_MinimumSet_Gen.json
  specification/ai/ModelInference/examples/2024-05-01-preview/GetModelInfo_MaximumSet_Gen.json
  specification/ai/ModelInference/examples/2024-05-01-preview/GetModelInfo_MinimumSet_Gen.json
  specification/ai/ModelInference/main.tsp
  specification/ai/ModelInference/models/chat_completions.tsp
  specification/ai/ModelInference/models/common.tsp
  specification/ai/ModelInference/models/embeddings.tsp
  specification/ai/ModelInference/models/image_embeddings.tsp
  specification/ai/ModelInference/routes.tsp
  specification/ai/ModelInference/tspconfig.yaml
  specification/ai/cspell.yaml
  specification/ai/data-plane/ModelInference/preview/2024-05-01-preview/examples/GetChatCompletions_AudioModality_Gen.json
  specification/ai/data-plane/ModelInference/preview/2024-05-01-preview/examples/GetChatCompletions_MaximumSet_Gen.json
  specification/ai/data-plane/ModelInference/preview/2024-05-01-preview/examples/GetChatCompletions_MinimumSet_Gen.json
  specification/ai/data-plane/ModelInference/preview/2024-05-01-preview/examples/GetEmbeddings_MaximumSet_Gen.json
  specification/ai/data-plane/ModelInference/preview/2024-05-01-preview/examples/GetEmbeddings_MinimumSet_Gen.json
  specification/ai/data-plane/ModelInference/preview/2024-05-01-preview/examples/GetImageEmbeddings_MaximumSet_Gen.json
  specification/ai/data-plane/ModelInference/preview/2024-05-01-preview/examples/GetImageEmbeddings_MinimumSet_Gen.json
  specification/ai/data-plane/ModelInference/preview/2024-05-01-preview/examples/GetModelInfo_MaximumSet_Gen.json
  specification/ai/data-plane/ModelInference/preview/2024-05-01-preview/examples/GetModelInfo_MinimumSet_Gen.json
  specification/ai/data-plane/ModelInference/preview/2024-05-01-preview/openapi.json
  specification/ai/data-plane/ModelInference/preview/2024-05-01-preview/openapi.yaml
  specification/ai/data-plane/ModelInference/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, Approved-Suppression, SuppressionReviewRequired, new-api-version, TypeSpec, PipelineBotTrigger, PublishToCustomers

#32242 Remove ContainerApps and ContainerAppsRevision under Microsoft.Web
  specification/web/resource-manager/Microsoft.Web/stable/2024-04-01/ContainerApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-04-01/ContainerAppsRevisions.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-04-01/examples/ActivateRevision.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-04-01/examples/CreateOrUpdateContainerApp.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-04-01/examples/DeactivateRevision.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-04-01/examples/DeleteContainerApp.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-04-01/examples/GetContainerApp.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-04-01/examples/GetRevision.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-04-01/examples/ListContainerAppSecrets.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-04-01/examples/ListContainerAppsByResourceGroup.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-04-01/examples/ListContainerAppsBySubscription.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-04-01/examples/ListRevisions.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-04-01/examples/RestartRevision.json
  specification/web/resource-manager/readme.md
Labels: ARMSignedOff, Web Apps, ARMReview, resource-manager, BreakingChangeReviewRequired, BreakingChange-Approved-UserImpact, BreakingChange-Go-Sdk-Approved, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk, PublishToCustomers

#32459 [Application Insights] Update readme.python.md
  specification/applicationinsights/resource-manager/readme.md
  specification/applicationinsights/resource-manager/readme.python.md
Labels: Insights, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#32508 Errorresponse correction
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2024-05-01-preview/namespaces.json
  specification/eventhub/resource-manager/readme.md
Labels: Event Hubs, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, Approved-Suppression, SuppressionReviewRequired, PublishToCustomers, brownfield

#32504 [Part 1] Add Old Rules for TypeSpecValidation Tool
  eng/tools/typespec-validation/src/index.ts
  eng/tools/typespec-validation/src/rules/sdk-tspconfig-validation.ts
  eng/tools/typespec-validation/src/rules/tspconfig-java-package-dir.ts
  eng/tools/typespec-validation/src/tspconfig-rule-helper.ts
  eng/tools/typespec-validation/test/sdk-tspconfig-validation.test.ts
  eng/tools/typespec-validation/test/tspconfig.test.ts
Labels: PipelineBotTrigger

#32484 Add xff support
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/webapplicationfirewall.json
Labels: Network, ARMSignedOff, customer-reported, ARMReview, resource-manager, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-JavaScript-Sdk

#32501 Added the pipeline for spec-gen-sdk-all-specs
  eng/pipelines/spec-gen-sdk-all-specs.yml
  eng/pipelines/spec-gen-sdk.yml
  eng/pipelines/templates/stages/archetype-spec-gen-sdk.yml
  eng/tools/package.json
  eng/tools/spec-gen-sdk-runner/cmd/spec-gen-sdk-runner.js
  eng/tools/spec-gen-sdk-runner/eslint.config.js
  eng/tools/spec-gen-sdk-runner/package.json
  eng/tools/spec-gen-sdk-runner/src/commands.ts
  eng/tools/spec-gen-sdk-runner/src/index.ts
  eng/tools/spec-gen-sdk-runner/src/log.ts
  eng/tools/spec-gen-sdk-runner/src/types.ts
  eng/tools/spec-gen-sdk-runner/src/utils.ts
  eng/tools/spec-gen-sdk-runner/tsconfig.json
  eng/tools/spec-gen-sdk-runner/vite.config.ts
  eng/tools/tsconfig.json
  package-lock.json
Labels: PipelineBotTrigger

#32589 Sync eng/common directory with azure-sdk-tools for PR 9807
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32586 Sync eng/common directory with azure-sdk-tools for PR 9821
  eng/common/pipelines/templates/steps/save-package-properties.yml
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32561 Add new tag without '-only'
  specification/applicationinsights/resource-manager/readme.md
Labels: Insights, ARMSignedOff, customer-reported, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#32326 [mgmt] ImpactReporting - Switch from ArmResourcePatchSync to ArmCustomPatchSync
  specification/impact/Impact.Management/connectors.tsp
  specification/impact/resource-manager/Microsoft.Impact/preview/2024-05-01-preview/impact.json
Labels: resource-manager, ReadyForApiTest, RPaaS, TypeSpec, Versioning-Approved-Benign, VersioningReviewRequired, PublishToCustomers

#32603 [AML]add more suppression for lint diff error that we can't fix
  specification/machinelearningservices/resource-manager/readme.md
Labels: WaitForARMFeedback, ARMReview, resource-manager, SuppressionReviewRequired

#32582 Making some fields as optional via base package upgrade
  specification/liftrpinecone/Pinecone.VectorDb.Management/main.tsp
  specification/liftrpinecone/resource-manager/Pinecone.VectorDb/preview/2024-10-22-preview/openapi.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, TypeSpec, Liftr, IDCDevDiv, Versioning-Approved-BugFix, Versioning-Approved-PrivatePreview, PublishToCustomers

#31971 Microsoft.Communication 2024 09 01 preview
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/CommunicationServices.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/Domains.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/EmailServices.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/SenderUsernames.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/SmtpUsernames.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/SuppressionLists.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/communicationServices/checkNameAvailabilityAvailable.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/communicationServices/checkNameAvailabilityUnavailable.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/communicationServices/createOrUpdate.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/communicationServices/createOrUpdateWithSystemAssignedIdentity.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/communicationServices/delete.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/communicationServices/get.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/communicationServices/linkNotificationHub.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/communicationServices/listByResourceGroup.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/communicationServices/listBySubscription.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/communicationServices/listKeys.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/communicationServices/operationsList.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/communicationServices/regenerateKey.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/communicationServices/update.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/communicationServices/updateRemoveSystemIdentity.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/communicationServices/updateWithSystemAndUserIdentity.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/communicationServices/updateWithSystemAssignedIdentity.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/communicationServices/updateWithUserAssignedIdentity.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/domains/cancelVerification.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/domains/createOrUpdate.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/domains/delete.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/domains/get.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/domains/initiateVerification.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/domains/listByEmailService.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/domains/update.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/emailServices/createOrUpdate.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/emailServices/delete.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/emailServices/get.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/emailServices/getVerifiedExchangeOnlineDomains.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/emailServices/listByResourceGroup.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/emailServices/listBySubscription.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/emailServices/update.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/senderUsernames/createOrUpdate.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/senderUsernames/delete.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/senderUsernames/get.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/senderUsernames/listByDomain.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/smtpUsername/createOrUpdate.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/smtpUsername/delete.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/smtpUsername/get.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/smtpUsername/getAll.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/suppressionLists/createOrUpdateAddress.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/suppressionLists/createOrUpdateSuppressionList.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/suppressionLists/deleteAddress.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/suppressionLists/deleteSuppressionList.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/suppressionLists/getAddress.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/suppressionLists/getAddresses.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/suppressionLists/getSuppressionList.json
  specification/communication/resource-manager/Microsoft.Communication/preview/2024-09-01-preview/examples/suppressionLists/getSuppressionLists.json
  specification/communication/resource-manager/readme.md
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, RPaaS, new-api-version, PublishToCustomers, brownfield

#32602 Sync eng/common directory with azure-sdk-tools for PR 9823
  eng/common/scripts/Generate-PR-Diff.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32625 Sync eng/common directory with azure-sdk-tools for PR 9832
  eng/common/pipelines/templates/steps/save-package-properties.yml
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32601 [resource] Update readme.python.md
  specification/resources/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-JavaScript-Sdk, PublishToCustomers

#31608 jiriburant/3960455 added trunk level settings
  specification/communication/data-plane/SipRouting/preview/2024-11-15-preview/communicationservicessiprouting.json
  specification/communication/data-plane/SipRouting/preview/2024-11-15-preview/examples/GetSipConfigurationWithExpand.json
  specification/communication/data-plane/SipRouting/preview/2024-11-15-preview/examples/TestRoutesWithNumber.json
  specification/communication/data-plane/SipRouting/preview/2024-11-15-preview/examples/UpdateSipConfiguration.json
  specification/communication/data-plane/SipRouting/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, new-api-version, PublishToCustomers, brownfield

#32626 Sync eng/common directory with azure-sdk-tools for PR 9834
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32013 Adding new property to AdvancedMessageReceivedEvent
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Communication/AzureCommunicationServices.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/propertyNameOverrideGo.tsp
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/AzureCommunicationServices.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/advanced_message_received.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/advanced_message_received.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/GeneratedSystemEvents.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2024-01-01/GeneratedSystemEvents.json
Labels: Event Grid, data-plane, BreakingChangeReviewRequired, TypeSpec, PublishToCustomers, brownfield

#32630 Sync eng/common directory with azure-sdk-tools for PR 9836
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32584 Batch: Encode all long types as strings
  specification/batch/Azure.Batch/common.tsp
  specification/batch/Azure.Batch/models.tsp
  specification/batch/data-plane/Azure.Batch/preview/2024-07-01.20.0/BatchService.json
Labels: Batch, data-plane, TypeSpec, Versioning-Approved-BugFix, VersioningReviewRequired, PipelineBotTrigger, PublishToCustomers

#32621 Microsoft.Search 2025-02-01-preview Type Fix
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchListOfferings.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/search.json
Labels: Search, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, Versioning-Approved-BugFix, VersioningReviewRequired, PipelineBotTrigger, PublishToCustomers, brownfield

#32550 Release portalservices microsoft.portal services/copilot settings stable/2024 04 01
  specification/portalservices/resource-manager/Microsoft.PortalServices/copilotSettings/stable/2024-04-01/copilotSettings.json
  specification/portalservices/resource-manager/Microsoft.PortalServices/copilotSettings/stable/2024-04-01/examples/CopilotSettings_CreateOrUpdate.json
  specification/portalservices/resource-manager/Microsoft.PortalServices/copilotSettings/stable/2024-04-01/examples/CopilotSettings_Delete.json
  specification/portalservices/resource-manager/Microsoft.PortalServices/copilotSettings/stable/2024-04-01/examples/CopilotSettings_Get.json
  specification/portalservices/resource-manager/Microsoft.PortalServices/copilotSettings/stable/2024-04-01/examples/CopilotSettings_Update.json
  specification/portalservices/resource-manager/Microsoft.PortalServices/copilotSettings/stable/2024-04-01/examples/Operations_List.json
  specification/portalservices/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, TypeSpec, PublishToCustomers

#32558 Management API for agricultureplatform
  specification/agricultureplatform/AgriculturePlatform.Management/examples/2024-06-01-preview/AgriService_CreateOrUpdate_MaximumSet_Gen.json
  specification/agricultureplatform/AgriculturePlatform.Management/examples/2024-06-01-preview/AgriService_Delete_MaximumSet_Gen.json
  specification/agricultureplatform/AgriculturePlatform.Management/examples/2024-06-01-preview/AgriService_Get_MaximumSet_Gen.json
  specification/agricultureplatform/AgriculturePlatform.Management/examples/2024-06-01-preview/AgriService_ListAvailableSolutions_MaximumSet_Gen.json
  specification/agricultureplatform/AgriculturePlatform.Management/examples/2024-06-01-preview/AgriService_ListByResourceGroup_MaximumSet_Gen.json
  specification/agricultureplatform/AgriculturePlatform.Management/examples/2024-06-01-preview/AgriService_ListBySubscription_MaximumSet_Gen.json
  specification/agricultureplatform/AgriculturePlatform.Management/examples/2024-06-01-preview/AgriService_Update_MaximumSet_Gen.json
  specification/agricultureplatform/AgriculturePlatform.Management/examples/2024-06-01-preview/Operations_List_MaximumSet_Gen.json
  specification/agricultureplatform/AgriculturePlatform.Management/main.tsp
  specification/agricultureplatform/AgriculturePlatform.Management/tspconfig.yaml
  specification/agricultureplatform/cspell.yaml
  specification/agricultureplatform/resource-manager/Microsoft.AgriculturePlatform/preview/2024-06-01-preview/examples/AgriService_CreateOrUpdate_MaximumSet_Gen.json
  specification/agricultureplatform/resource-manager/Microsoft.AgriculturePlatform/preview/2024-06-01-preview/examples/AgriService_Delete_MaximumSet_Gen.json
  specification/agricultureplatform/resource-manager/Microsoft.AgriculturePlatform/preview/2024-06-01-preview/examples/AgriService_Get_MaximumSet_Gen.json
  specification/agricultureplatform/resource-manager/Microsoft.AgriculturePlatform/preview/2024-06-01-preview/examples/AgriService_ListAvailableSolutions_MaximumSet_Gen.json
  specification/agricultureplatform/resource-manager/Microsoft.AgriculturePlatform/preview/2024-06-01-preview/examples/AgriService_ListByResourceGroup_MaximumSet_Gen.json
  specification/agricultureplatform/resource-manager/Microsoft.AgriculturePlatform/preview/2024-06-01-preview/examples/AgriService_ListBySubscription_MaximumSet_Gen.json
  specification/agricultureplatform/resource-manager/Microsoft.AgriculturePlatform/preview/2024-06-01-preview/examples/AgriService_Update_MaximumSet_Gen.json
  specification/agricultureplatform/resource-manager/Microsoft.AgriculturePlatform/preview/2024-06-01-preview/examples/Operations_List_MaximumSet_Gen.json
  specification/agricultureplatform/resource-manager/Microsoft.AgriculturePlatform/preview/2024-06-01-preview/openapi.json
  specification/agricultureplatform/resource-manager/readme.az.md
  specification/agricultureplatform/resource-manager/readme.cli.md
  specification/agricultureplatform/resource-manager/readme.csharp.md
  specification/agricultureplatform/resource-manager/readme.go.md
  specification/agricultureplatform/resource-manager/readme.md
  specification/agricultureplatform/resource-manager/readme.python.md
  specification/agricultureplatform/resource-manager/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, Approved-Suppression, SuppressionReviewRequired, new-api-version, new-rp-namespace, TypeSpec, PipelineBotTrigger, PublishToCustomers

#32319 Adding 2025-01-31-preview API version for dependency map service
  specification/azuredependencymap/DependencyMap.Management/examples/2025-01-31-preview/DiscoverySources_CreateOrUpdate.json
  specification/azuredependencymap/DependencyMap.Management/examples/2025-01-31-preview/DiscoverySources_Delete.json
  specification/azuredependencymap/DependencyMap.Management/examples/2025-01-31-preview/DiscoverySources_Get.json
  specification/azuredependencymap/DependencyMap.Management/examples/2025-01-31-preview/DiscoverySources_ListByMapsResource.json
  specification/azuredependencymap/DependencyMap.Management/examples/2025-01-31-preview/DiscoverySources_ListBySubscription.json
  specification/azuredependencymap/DependencyMap.Management/examples/2025-01-31-preview/DiscoverySources_Update.json
  specification/azuredependencymap/DependencyMap.Management/examples/2025-01-31-preview/Maps_CreateOrUpdate.json
  specification/azuredependencymap/DependencyMap.Management/examples/2025-01-31-preview/Maps_Delete.json
  specification/azuredependencymap/DependencyMap.Management/examples/2025-01-31-preview/Maps_ExportDependencies.json
  specification/azuredependencymap/DependencyMap.Management/examples/2025-01-31-preview/Maps_Get.json
  specification/azuredependencymap/DependencyMap.Management/examples/2025-01-31-preview/Maps_GetConnectionsForProcessOnFocusedMachine.json
  specification/azuredependencymap/DependencyMap.Management/examples/2025-01-31-preview/Maps_GetConnectionsWithConnectedMachineForFocusedMachine.json
  specification/azuredependencymap/DependencyMap.Management/examples/2025-01-31-preview/Maps_GetDependencyViewForFocusedMachine.json
  specification/azuredependencymap/DependencyMap.Management/examples/2025-01-31-preview/Maps_ListByResourceGroup.json
  specification/azuredependencymap/DependencyMap.Management/examples/2025-01-31-preview/Maps_ListBySubscription.json
  specification/azuredependencymap/DependencyMap.Management/examples/2025-01-31-preview/Maps_Update.json
  specification/azuredependencymap/DependencyMap.Management/examples/2025-01-31-preview/Operations_List.json
  specification/azuredependencymap/DependencyMap.Management/main.tsp
  specification/azuredependencymap/DependencyMap.Management/tspconfig.yaml
  specification/azuredependencymap/resource-manager/Microsoft.DependencyMap/preview/2025-01-31-preview/dependencyMap.json
  specification/azuredependencymap/resource-manager/Microsoft.DependencyMap/preview/2025-01-31-preview/examples/DiscoverySources_CreateOrUpdate.json
  specification/azuredependencymap/resource-manager/Microsoft.DependencyMap/preview/2025-01-31-preview/examples/DiscoverySources_Delete.json
  specification/azuredependencymap/resource-manager/Microsoft.DependencyMap/preview/2025-01-31-preview/examples/DiscoverySources_Get.json
  specification/azuredependencymap/resource-manager/Microsoft.DependencyMap/preview/2025-01-31-preview/examples/DiscoverySources_ListByMapsResource.json
  specification/azuredependencymap/resource-manager/Microsoft.DependencyMap/preview/2025-01-31-preview/examples/DiscoverySources_Update.json
  specification/azuredependencymap/resource-manager/Microsoft.DependencyMap/preview/2025-01-31-preview/examples/Maps_CreateOrUpdate.json
  specification/azuredependencymap/resource-manager/Microsoft.DependencyMap/preview/2025-01-31-preview/examples/Maps_Delete.json
  specification/azuredependencymap/resource-manager/Microsoft.DependencyMap/preview/2025-01-31-preview/examples/Maps_ExportDependencies.json
  specification/azuredependencymap/resource-manager/Microsoft.DependencyMap/preview/2025-01-31-preview/examples/Maps_Get.json
  specification/azuredependencymap/resource-manager/Microsoft.DependencyMap/preview/2025-01-31-preview/examples/Maps_GetConnectionsForProcessOnFocusedMachine.json
  specification/azuredependencymap/resource-manager/Microsoft.DependencyMap/preview/2025-01-31-preview/examples/Maps_GetConnectionsWithConnectedMachineForFocusedMachine.json
  specification/azuredependencymap/resource-manager/Microsoft.DependencyMap/preview/2025-01-31-preview/examples/Maps_GetDependencyViewForFocusedMachine.json
  specification/azuredependencymap/resource-manager/Microsoft.DependencyMap/preview/2025-01-31-preview/examples/Maps_ListByResourceGroup.json
  specification/azuredependencymap/resource-manager/Microsoft.DependencyMap/preview/2025-01-31-preview/examples/Maps_ListBySubscription.json
  specification/azuredependencymap/resource-manager/Microsoft.DependencyMap/preview/2025-01-31-preview/examples/Maps_Update.json
  specification/azuredependencymap/resource-manager/Microsoft.DependencyMap/preview/2025-01-31-preview/examples/Operations_List.json
  specification/azuredependencymap/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, new-rp-namespace, TypeSpec, PublishToCustomers

#32556 [AzureCoreIDC] NSP GA Version
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NetworkSecurityPerimeterDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NetworkSecurityPerimeterGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NetworkSecurityPerimeterList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NetworkSecurityPerimeterListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NetworkSecurityPerimeterPatch.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NetworkSecurityPerimeterPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NspAccessRuleDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NspAccessRuleGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NspAccessRuleList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NspAccessRulePut.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NspAccessRuleReconcile.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NspAssociationDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NspAssociationGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NspAssociationList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NspAssociationPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NspAssociationReconcile.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NspLinkDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NspLinkGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NspLinkList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NspLinkPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NspLinkReferenceDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NspLinkReferenceGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NspLinkReferenceList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NspLoggingConfigurationDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NspLoggingConfigurationGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NspLoggingConfigurationList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NspLoggingConfigurationPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NspOperationStatusGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NspProfileDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NspProfileGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NspProfileList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NspProfilePut.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/PerimeterAssociableResourcesList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/network.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/networkSecurityPerimeter.json
  specification/network/resource-manager/readme.md
Labels: Network, ARMSignedOff, ARMReview, resource-manager, SuppressionReviewRequired, AzCoreIDC

#32458 Review request for Microsoft.Resources version stable/2024-11-01 make resource id not required
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-11-01/resources.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, BreakingChange-Approved-BugFix, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-JavaScript-Sdk, PublishToCustomers, brownfield

#32674 Remove erroneous stable specs for SourceControls
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/examples/sourcecontrols/CreateSourceControl.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/examples/sourcecontrols/DeleteSourceControl.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/examples/sourcecontrols/GetSourceControlById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/examples/sourcecontrols/GetSourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2024-03-01/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2024-03-01/examples/sourcecontrols/CreateSourceControl.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2024-03-01/examples/sourcecontrols/DeleteSourceControl.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2024-03-01/examples/sourcecontrols/GetSourceControlById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2024-03-01/examples/sourcecontrols/GetSourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2024-09-01/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2024-09-01/examples/sourcecontrols/CreateSourceControl.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2024-09-01/examples/sourcecontrols/DeleteSourceControl.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2024-09-01/examples/sourcecontrols/GetSourceControlById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2024-09-01/examples/sourcecontrols/GetSourceControls.json
Labels: BreakingChange-Approved-BugFix, brownfield

#32564 Dev sentinel securityinsights microsoft.security insights 2025 03 01
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2025-03-01/ContentProductPackages.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2025-03-01/common/ContentCommonTypes.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2025-03-01/examples/contentPackages/GetProductPackages.json
Labels: ARMChangesRequested, resource-manager, brownfield

#32687 [Storage] Add `crate-version` and rename package and crate to `azure_storage_blobs`
  specification/storage/Microsoft.BlobStorage/tspconfig.yaml
Labels: Storage, TypeSpec

#32575 updating examples
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/IpamPools_Create.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/IpamPools_Get.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/IpamPools_List.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/IpamPools_Update.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NetworkManagerConnectivityConfigurationGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NetworkManagerConnectivityConfigurationList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NetworkManagerConnectivityConfigurationPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NetworkManagerEffectiveConnectivityConfigurationsList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/VerifierWorkspaceGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/VerifierWorkspaceList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/VerifierWorkspacePatch.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/VerifierWorkspacePut.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/networkVerifier.json
Labels: Network, ARMSignedOff, ARMReview, resource-manager

#32657 update keyvalut tspconfig
  specification/keyvault/Security.KeyVault.BackupRestore/tspconfig.yaml
  specification/keyvault/Security.KeyVault.RBAC/tspconfig.yaml
  specification/keyvault/Security.KeyVault.Settings/tspconfig.yaml
Labels: KeyVault, TypeSpec, PipelineBotTrigger

#32699 [DataBoxEdge] Update readme.python.md
  specification/databoxedge/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-JavaScript-Sdk, PublishToCustomers

#32617 Add Microsoft.HealthcareApis ARM Version 2025-03-01-preview for Monitoring Storage Changes
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/CheckNameAvailabilityPost.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/OperationResultsGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/OperationsList.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/dicomservices/DicomServices_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/dicomservices/DicomServices_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/dicomservices/DicomServices_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/dicomservices/DicomServices_List.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/dicomservices/DicomServices_Patch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/fhirservices/FhirServices_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/fhirservices/FhirServices_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/fhirservices/FhirServices_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/fhirservices/FhirServices_List.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/fhirservices/FhirServices_Patch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/iotconnectors/iotconnector_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/iotconnectors/iotconnector_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/iotconnectors/iotconnector_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/iotconnectors/iotconnector_List.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/iotconnectors/iotconnector_Patch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/iotconnectors/iotconnector_fhirdestination_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/iotconnectors/iotconnector_fhirdestination_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/iotconnectors/iotconnector_fhirdestination_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/iotconnectors/iotconnector_fhirdestination_List.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/legacy/PrivateLinkResourceGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/legacy/PrivateLinkResourcesListByService.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/legacy/ServiceCreate.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/legacy/ServiceCreateInDataSovereignRegionWithCmkEnabled.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/legacy/ServiceCreateMinimum.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/legacy/ServiceCreatePrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/legacy/ServiceDelete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/legacy/ServiceDeletePrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/legacy/ServiceGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/legacy/ServiceGetInDataSovereignRegionWithCmkEnabled.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/legacy/ServiceGetPrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/legacy/ServiceList.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/legacy/ServiceListByResourceGroup.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/legacy/ServiceListPrivateEndpointConnections.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/legacy/ServicePatch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/privatelink/PrivateLinkResourcesListByWorkspace.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/privatelink/WorkspaceCreatePrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/privatelink/WorkspaceDeletePrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/privatelink/WorkspaceGetPrivateEndpointConnection.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/privatelink/WorkspaceListPrivateEndpointConnections.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/privatelink/WorkspacePrivateLinkResourceGet.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/workspaces/Workspaces_Create.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/workspaces/Workspaces_Delete.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/workspaces/Workspaces_Get.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/workspaces/Workspaces_ListByResourceGroup.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/workspaces/Workspaces_ListBySubscription.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/examples/workspaces/Workspaces_Patch.json
  specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2025-03-01-preview/healthcare-apis.json
  specification/healthcareapis/resource-manager/readme.md
Labels: ARMSignedOff, Approved-Avocado, ARMReview, resource-manager, new-api-version, PipelineBotTrigger, PublishToCustomers, brownfield

#32681 Use RunStepFileSearchToolCallResults instead of a string in search tool deserialization step during streaming.
  specification/ai/Azure.AI.Projects/agents/run_steps/models.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2024-07-01-preview/azure-ai-projects.json
Labels: data-plane, TypeSpec

#32719 Fix tcgc error due to Record<unknown>
  specification/ai/ModelClient/models/chat_completions.tsp
  specification/ai/ModelClient/models/embeddings.tsp
  specification/ai/ModelClient/models/image_embeddings.tsp
  specification/ai/ModelClient/routes.tsp
  specification/ai/data-plane/AI.Model/preview/2024-05-01-preview/openapi.json
Labels: TypeSpec

#32684 fix doc: maxSurge default value is 10% now
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-10-02-preview/managedClusters.json
Labels: Container Service, resource-manager, BreakingChange-Python-Sdk, brownfield

#32711 Deid TypeSpec cleanup
  specification/healthdataaiservices/HealthDataAIServices.DeidServices/models.tsp
  specification/healthdataaiservices/HealthDataAIServices.DeidServices/tspconfig.yaml
  specification/healthdataaiservices/data-plane/HealthDataAIServices.DeidServices/stable/2024-11-15/HealthDataAIServices.DeidServices.json
Labels: data-plane, TypeSpec, PublishToCustomers

#32724 [Batch] Data plane deprecation warnings for UsageMetrics and AuthenticationToken
  specification/batch/data-plane/Microsoft.Batch/stable/2024-07-01.20.0/BatchService.json
Labels: Batch, data-plane, PipelineBotTrigger, PublishToCustomers, brownfield

#32732 release-Chenshov/updating stable version with extension access token
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/examples/ViAccountCheckNameAvailabilityFree.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/examples/ViAccountCheckNameAvailabilityTaken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/examples/ViAccountDelete.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/examples/ViAccountGet.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/examples/ViAccountPatch/PatchAccountWithSystemAssignedMi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/examples/ViAccountPatch/PatchAccountWithUserAssignedMi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/examples/ViAccountPut/ConnectClassicAccountToArmAccountUsingSystemAssignedMI.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/examples/ViAccountPut/ConnectClassicAccountToArmAccountUsingUserAssignedMi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/examples/ViAccountPut/CreateOrUpdateAccountWithSystemAssignedMi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/examples/ViAccountPut/CreateOrUpdateAccountWithUserAssignedMi.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/examples/ViAccountsList.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/examples/ViAccountsListByResourceGroup.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/examples/ViGenerateAccessToken/ViGenerateAccountContributerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/examples/ViGenerateAccessToken/ViGenerateAccountReaderAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/examples/ViGenerateAccessToken/ViGenerateProjectContributerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/examples/ViGenerateAccessToken/ViGenerateProjectReaderAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/examples/ViGenerateAccessToken/ViGenerateVideoContributerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/examples/ViGenerateAccessToken/ViGenerateVideoReaderAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/examples/ViGenerateExtensionAccessToken/ViGenerateAccountContributerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/examples/ViGenerateExtensionAccessToken/ViGenerateAccountReaderAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/examples/ViGenerateExtensionAccessToken/ViGenerateVideoContributerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/examples/ViGenerateExtensionAccessToken/ViGenerateVideoReaderAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/examples/ViGenerateExtensionRestrictedViewerAccessToken/ViGenerateAccountRestrictedViewerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/examples/ViGenerateExtensionRestrictedViewerAccessToken/ViGenerateVideoRestrictedViewerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/examples/ViGenerateRestrictedViewerAccessToken/ViGenerateAccountRestrictedViewerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/examples/ViGenerateRestrictedViewerAccessToken/ViGenerateProjectRestrictedViewerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/examples/ViGenerateRestrictedViewerAccessToken/ViGenerateVideoRestrictedViewerAccessToken.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/examples/ViOperationsList.json
  specification/vi/resource-manager/Microsoft.VideoIndexer/stable/2025-03-01/vi.json
Labels: WaitForARMFeedback, ARMSignedOff, ARMReview, resource-manager, RPaaS, new-api-version, PipelineBotTrigger, PublishToCustomers, brownfield

#32716 Sync eng/common directory with azure-sdk-tools for PR 9862
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32745 [Container Registry] Update readme.python.md
  specification/containerregistry/resource-manager/readme.python.md
Labels: Container Registry, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#32726 [Bug Fix] Make LoadTestConfiguration Read Only for Test Run
  specification/loadtestservice/LoadTestService/examples/2022-11-01/CreateOrUpdateTestRun.json
  specification/loadtestservice/LoadTestService/examples/2023-04-01-preview/CreateOrUpdateTestRun.json
  specification/loadtestservice/LoadTestService/examples/2024-05-01-preview/CreateOrUpdateTestRun.json
  specification/loadtestservice/LoadTestService/examples/2024-07-01-preview/CreateOrUpdateTestRun.json
  specification/loadtestservice/LoadTestService/examples/2024-12-01-preview/CreateOrUpdateTestRun.json
  specification/loadtestservice/LoadTestService/models.tsp
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2023-04-01-preview/examples/CreateOrUpdateTestRun.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2023-04-01-preview/loadtestservice.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-03-01-preview/loadtestservice.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-05-01-preview/examples/CreateOrUpdateTestRun.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-05-01-preview/loadtestservice.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-07-01-preview/examples/CreateOrUpdateTestRun.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-07-01-preview/loadtestservice.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-12-01-preview/examples/CreateOrUpdateTestRun.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-12-01-preview/loadtestservice.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/examples/CreateOrUpdateTestRun.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/loadtestservice.json
Labels: Load Test Service, data-plane, TypeSpec, BreakingChange-Approved-BugFix, PublishToCustomers

#32646 Update database watcher doc strings
  specification/databasewatcher/DatabaseWatcher.Management/baseTarget.tsp
  specification/databasewatcher/DatabaseWatcher.Management/sharedPrivateLinkResource.tsp
  specification/databasewatcher/DatabaseWatcher.Management/sqlDbDatabaseTarget.tsp
  specification/databasewatcher/DatabaseWatcher.Management/sqlDbElasticPoolTarget.tsp
  specification/databasewatcher/DatabaseWatcher.Management/tspconfig.yaml
  specification/databasewatcher/resource-manager/Microsoft.DatabaseWatcher/preview/2023-09-01-preview/Watcher.json
  specification/databasewatcher/resource-manager/Microsoft.DatabaseWatcher/preview/2024-07-19-preview/Watcher.json
  specification/databasewatcher/resource-manager/Microsoft.DatabaseWatcher/preview/2024-10-01-preview/Watcher.json
  specification/databasewatcher/resource-manager/Microsoft.DatabaseWatcher/stable/2025-01-02/Watcher.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, TypeSpec, PublishToCustomers, ARMAutoSignOffPreview

#32693 fix doc: maxSurge default value is 10% now
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2024-10-01/managedClusters.json
Labels: ARMSignedOff, Container Service, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#32251 Release search azure.search preview/2025 03 01 preview
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchIndexAutocompleteDocumentsGet.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchIndexAutocompleteDocumentsPost.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchIndexCountDocuments.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchIndexGetDocument.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchIndexIndexDocuments.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchIndexSearchDocumentsGet.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchIndexSearchDocumentsPost.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchIndexSearchDocumentsSemanticGet.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchIndexSearchDocumentsSemanticPost.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchIndexSuggestDocumentsGet.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchIndexSuggestDocumentsPost.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceCreateAlias.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceCreateDataSource.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceCreateIndex.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceCreateIndexer.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceCreateOrUpdateAlias.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceCreateOrUpdateDataSource.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceCreateOrUpdateIndex.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceCreateOrUpdateIndexer.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceCreateOrUpdateSkillset.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceCreateOrUpdateSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceCreateSkillset.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceCreateSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceDeleteAlias.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceDeleteDataSource.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceDeleteIndex.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceDeleteIndexer.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceDeleteSkillset.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceDeleteSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceGetAlias.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceGetDataSource.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceGetIndex.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceGetIndexStatistics.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceGetIndexStatisticsSummaries.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceGetIndexStatsSummary.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceGetIndexer.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceGetIndexerStatus.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceGetServiceStatistics.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceGetSkillset.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceGetSynonymMap.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceIndexAnalyze.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceListAliases.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceListDataSources.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceListIndexers.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceListIndexes.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceListSkillsets.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceListSynonymMaps.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceResetDocs.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceResetIndexer.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceResetSkills.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/examples/SearchServiceRunIndexer.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/searchindex.json
  specification/search/data-plane/Azure.Search/preview/2025-03-01-preview/searchservice.json
Labels: Search, APIStewardshipBoard-SignedOff, data-plane, BreakingChangeReviewRequired, new-api-version, BreakingChange-Approved-BugFix, PipelineBotTrigger, PublishToCustomers, brownfield

#32167 New stable version for databox
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/databox.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/examples/AvailableSkusPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/examples/BookShipmentPickupPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/examples/JobMitigate.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/examples/JobsCancelPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/examples/JobsCreate.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/examples/JobsCreateDevicePassword.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/examples/JobsCreateDoubleEncryption.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/examples/JobsCreateExport.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/examples/JobsCreateWithUserAssignedIdentity.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/examples/JobsDelete.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/examples/JobsGet.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/examples/JobsGetCmk.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/examples/JobsGetCopyStuck.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/examples/JobsGetExport.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/examples/JobsGetWaitingForAction.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/examples/JobsList.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/examples/JobsListByResourceGroup.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/examples/JobsListCredentials.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/examples/JobsPatch.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/examples/JobsPatchCmk.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/examples/JobsPatchSystemAssignedToUserAssigned.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/examples/MarkDevicesShipped.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/examples/OperationsGet.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/examples/RegionConfiguration.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/examples/RegionConfigurationByResourceGroup.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/examples/ValidateAddressPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/examples/ValidateInputs.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-02-01/examples/ValidateInputsByResourceGroup.json
  specification/databox/resource-manager/readme.go.md
  specification/databox/resource-manager/readme.java.md
  specification/databox/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, new-api-version, PublishToCustomers

#32668 Add data type format
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: ARMSignedOff, ARMReview, resource-manager, data-plane, ReadyForApiTest, Versioning-Approved-Benign, VersioningReviewRequired, PublishToCustomers

#32749 [BugFix] Remove the default value for engineBuiltInIdentityType to ma…
  specification/loadtestservice/LoadTestService/models.tsp
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-12-01-preview/loadtestservice.json
Labels: Load Test Service, data-plane, TypeSpec, BreakingChange-Approved-BugFix, PublishToCustomers

#32758 enable C# samples for iotoperations
  specification/iotoperations/IoTOperations.Management/tspconfig.yaml
Labels: TypeSpec, PipelineBotTrigger

#32479 [Microsoft.DeviceRegistry] Updated API version for .NET SDK
  specification/deviceregistry/DeviceRegistry.Management/tspconfig.yaml
Labels: TypeSpec

#32764 Sync eng/common directory with azure-sdk-tools for PR 9896
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32710 Update mfe.json with contentSafetyLevel as required
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/examples/Workspace/ServerlessEndpoint/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, Versioning-Approved-BugFix, VersioningReviewRequired, PublishToCustomers, brownfield

#32762 Sync eng/common directory with azure-sdk-tools for PR 9889
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32767 Sync eng/common directory with azure-sdk-tools for PR 9895
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#31903 [Microsoft.ConfidentialLedger] [DataPlane] Add new API version preview/2024-12-09-preview
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/common.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/confidentialledger.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/identity/GetLedgerIdentity.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/CreateLedgerEntry.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/CreateOrUpdateLedgerUser.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/CreateOrUpdateUser.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/CreateOrUpdateUserDefinedFunction.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/CreateUserDefinedEndpoint.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/CreateUserDefinedRole.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/DeleteUser.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/DeleteUserDefinedFunction.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/DeleteUserDefinedRole.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/ExecuteUserDefinedFunction.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/GetConstitution.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/GetCurrentLedgerEntry.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/GetEnclaveQuotes.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/GetLedgerEntry.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/GetLedgerUser.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/GetReceipt.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/GetRuntimeOptions.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/GetTransactionStatus.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/GetUser.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/GetUserDefinedEndpoint.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/GetUserDefinedEndpointsModule.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/GetUserDefinedFunction.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/GetUserDefinedRole.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/ListCollections.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/ListConsortiumMembers.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/ListLedgerEntries.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/ListLedgerUsers.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/ListUserDefinedFunctions.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/ListUsers.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/UpdateRuntimeOptions.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/examples/ledger/UpdateUserDefinedRole.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/identityservice.json
  specification/confidentialledger/data-plane/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, new-api-version, PublishToCustomers, brownfield

#32718 Add support for URL citation, and use "agentId" instead of "assistantId" in client SDKs (wire protocol still uses "assistant_id")
  specification/ai/Azure.AI.Projects/agents/messages/models.tsp
  specification/ai/Azure.AI.Projects/agents/models.tsp
  specification/ai/Azure.AI.Projects/agents/routes.tsp
  specification/ai/Azure.AI.Projects/agents/run_steps/models.tsp
  specification/ai/Azure.AI.Projects/agents/runs/models.tsp
  specification/ai/Azure.AI.Projects/connections/model.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2024-07-01-preview/azure-ai-projects.json
Labels: data-plane, TypeSpec

#32715 Remove 'Applies to: pricing tier' from the description field. Add summary field to enhance overview page.
  specification/maps/data-plane/Route/preview/2024-07-01-preview/route.json
Labels: customer-reported, Maps, data-plane, PublishToCustomers

#32667 Nivishenker/default disabled
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/ApplicationGatewayAvailableWafRuleSetsGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/WafListAllPolicies.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/WafListPolicies.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/WafPolicyGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/webapplicationfirewall.json
Labels: Network, ARMSignedOff, ARMReview, resource-manager

#32607 model-namespace should always be `true` for .net mgmt plane
  specification/contosowidgetmanager/Contoso.Management/tspconfig.yaml
Labels: TypeSpec

#32301 [Azure Load Testing] Adding 2024-12-01-preview API version
  specification/loadtestservice/LoadTestService.Management/examples/2024-12-01-preview/LoadTestMappings_CreateOrUpdate.json
  specification/loadtestservice/LoadTestService.Management/examples/2024-12-01-preview/LoadTestMappings_Delete.json
  specification/loadtestservice/LoadTestService.Management/examples/2024-12-01-preview/LoadTestMappings_Get.json
  specification/loadtestservice/LoadTestService.Management/examples/2024-12-01-preview/LoadTestMappings_List.json
  specification/loadtestservice/LoadTestService.Management/examples/2024-12-01-preview/LoadTestMappings_Update.json
  specification/loadtestservice/LoadTestService.Management/examples/2024-12-01-preview/LoadTestProfileMappings_CreateOrUpdate.json
  specification/loadtestservice/LoadTestService.Management/examples/2024-12-01-preview/LoadTestProfileMappings_Delete.json
  specification/loadtestservice/LoadTestService.Management/examples/2024-12-01-preview/LoadTestProfileMappings_Get.json
  specification/loadtestservice/LoadTestService.Management/examples/2024-12-01-preview/LoadTestProfileMappings_List.json
  specification/loadtestservice/LoadTestService.Management/examples/2024-12-01-preview/LoadTestProfileMappings_Update.json
  specification/loadtestservice/LoadTestService.Management/examples/2024-12-01-preview/LoadTestsMaxMonthlyVirtualUserHoursLimitsResource_Get.json
  specification/loadtestservice/LoadTestService.Management/examples/2024-12-01-preview/LoadTestsMaxMonthlyVirtualUserHoursLimitsResource_Set.json
  specification/loadtestservice/LoadTestService.Management/examples/2024-12-01-preview/LoadTests_CreateOrUpdate.json
  specification/loadtestservice/LoadTestService.Management/examples/2024-12-01-preview/LoadTests_Delete.json
  specification/loadtestservice/LoadTestService.Management/examples/2024-12-01-preview/LoadTests_Get.json
  specification/loadtestservice/LoadTestService.Management/examples/2024-12-01-preview/LoadTests_ListByResourceGroup.json
  specification/loadtestservice/LoadTestService.Management/examples/2024-12-01-preview/LoadTests_ListBySubscription.json
  specification/loadtestservice/LoadTestService.Management/examples/2024-12-01-preview/LoadTests_ListOutboundNetworkDependenciesEndpoints.json
  specification/loadtestservice/LoadTestService.Management/examples/2024-12-01-preview/LoadTests_Update.json
  specification/loadtestservice/LoadTestService.Management/examples/2024-12-01-preview/Operations_List.json
  specification/loadtestservice/LoadTestService.Management/examples/2024-12-01-preview/Quotas_CheckAvailability.json
  specification/loadtestservice/LoadTestService.Management/examples/2024-12-01-preview/Quotas_Get.json
  specification/loadtestservice/LoadTestService.Management/examples/2024-12-01-preview/Quotas_List.json
  specification/loadtestservice/LoadTestService.Management/main.tsp
  specification/loadtestservice/LoadTestService.Management/models.tsp
  specification/loadtestservice/LoadTestService.Management/routes.tsp
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2024-12-01-preview/examples/LoadTestMappings_CreateOrUpdate.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2024-12-01-preview/examples/LoadTestMappings_Delete.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2024-12-01-preview/examples/LoadTestMappings_Get.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2024-12-01-preview/examples/LoadTestMappings_List.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2024-12-01-preview/examples/LoadTestMappings_Update.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2024-12-01-preview/examples/LoadTestProfileMappings_CreateOrUpdate.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2024-12-01-preview/examples/LoadTestProfileMappings_Delete.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2024-12-01-preview/examples/LoadTestProfileMappings_Get.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2024-12-01-preview/examples/LoadTestProfileMappings_List.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2024-12-01-preview/examples/LoadTestProfileMappings_Update.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2024-12-01-preview/examples/LoadTestsMaxMonthlyVirtualUserHoursLimitsResource_Get.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2024-12-01-preview/examples/LoadTestsMaxMonthlyVirtualUserHoursLimitsResource_Set.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2024-12-01-preview/examples/LoadTests_CreateOrUpdate.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2024-12-01-preview/examples/LoadTests_Delete.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2024-12-01-preview/examples/LoadTests_Get.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2024-12-01-preview/examples/LoadTests_ListByResourceGroup.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2024-12-01-preview/examples/LoadTests_ListBySubscription.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2024-12-01-preview/examples/LoadTests_ListOutboundNetworkDependenciesEndpoints.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2024-12-01-preview/examples/LoadTests_Update.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2024-12-01-preview/examples/Operations_List.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2024-12-01-preview/examples/Quotas_CheckAvailability.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2024-12-01-preview/examples/Quotas_Get.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2024-12-01-preview/examples/Quotas_List.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2024-12-01-preview/loadtestservice.json
  specification/loadtestservice/resource-manager/readme.md
  specification/loadtestservice/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, Load Test Service, ARMReview, resource-manager, ReadyForApiTest, RPaaS, Approved-Suppression, SuppressionReviewRequired, new-api-version, TypeSpec, IDCDevDiv, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk-Suppression-Approved, BreakingChange-Python-Sdk-Suppression, PipelineBotTrigger, PublishToCustomers

#32751 java, mgmt, DatabaseWatcher, client
  specification/databasewatcher/DatabaseWatcher.Management/client.tsp
Labels: TypeSpec

#32669 Support C# SDK generation.
  specification/ews/SecretSyncController.Management/tspconfig.yaml
Labels: TypeSpec, PublishToCustomers

#32691 Microsoft.Advisor New API Version (2023-09-01-preview)
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/advisor.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/assessments.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/CreateConfiguration.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/CreateSuppression.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/DeleteAssessment.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/DeleteSuppression.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/EmptyResponse.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/GenerateRecommendations.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/GetAdvisorScoreDetail.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/GetAssessment.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/GetRecommendationDetail.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/GetRecommendationMetadataEntity.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/GetSuppressionDetail.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/ListAdvisorScore.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/ListAssessmentTypes.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/ListAssessments.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/ListConfigurations.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/ListRecommendationMetadata.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/ListRecommendations.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/ListSuppressions.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/ListWorkloads.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/OperationsList.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/Predict.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/PutAssessment.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/ResiliencyReviewsGet.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/ResiliencyReviewsList.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/TriageRecommendationsApprove.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/TriageRecommendationsGet.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/TriageRecommendationsList.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/TriageRecommendationsReject.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/TriageRecommendationsReset.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/examples/UpdateTrackedRecommendation.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2023-09-01-preview/resiliencyReviews.json
  specification/advisor/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, PublishToCustomers, brownfield

#31092 Update PriorityMix VMSS Example
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithPriorityMixPolicy.json
Labels: Compute, resource-manager, no-recent-activity, BreakingChange-Go-Sdk

#31425 New top-level Virtual Machine property: placement
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/computeRPCommon.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/examples/virtualMachineExamples/VirtualMachine_Create_WithPlacement.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/virtualMachine.json
  specification/compute/resource-manager/readme.md
Labels: Compute, resource-manager, SuppressionReviewRequired, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk

#31519 Add SkuProfile VMSize Rank to Compute 2024-11-01 API Version
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithSkuProfile_Prioritized.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/virtualMachineScaleSet.json
Labels: Compute, resource-manager, no-recent-activity, BreakingChange-Go-Sdk

#31933 Adding x-ms-paths with expanded properties for VirtualMachineImages_ListWithProperties
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/virtualMachineImage.json
Labels: Compute, ARMSignedOff, resource-manager, BreakingChange-Go-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk

#31968 Add AutomaticZoneRebalancingPolicy part of ResiliencyPolicy to VMSS API V2024-11-01
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithAutomaticZoneRebalancingPolicy.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/virtualMachineScaleSet.json
Labels: Compute, resource-manager, no-recent-activity, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk

#32024 added prioritize scale in example and scale in feature
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithScaleInPolicy.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/virtualMachineScaleSet.json
Labels: Compute, resource-manager, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk, PipelineBotTrigger

#31994 Update Force Delete Description for 2024-11-01 Api Version
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/virtualMachine.json
Labels: Compute, customer-reported, resource-manager, BreakingChange-Go-Sdk

#31915 migrate vm/avset api changes
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/availabilitySet.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/examples/availabilitySetExamples/AvailabilitySet_CancelMigrationToVirtualMachineScaleSet.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/examples/availabilitySetExamples/AvailabilitySet_ConvertToVirtualMachineScaleSet.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/examples/availabilitySetExamples/AvailabilitySet_Create.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/examples/availabilitySetExamples/AvailabilitySet_Get_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/examples/availabilitySetExamples/AvailabilitySet_StartMigrationToVirtualMachineScaleSet.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/examples/availabilitySetExamples/AvailabilitySet_ValidateMigrationToVirtualMachineScaleSet.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/examples/virtualMachineExamples/VirtualMachine_MigrateToVirtualMachineScaleSet.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/virtualMachine.json
  specification/compute/resource-manager/readme.md
Labels: Compute, ARMSignedOff, resource-manager, Approved-Suppression, SuppressionReviewRequired, BreakingChange-Go-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk

#32777 added `generate-sample-project: false` in yaml file
  specification/cognitiveservices/Language.AnalyzeConversations-authoring/tspconfig.yaml
  specification/cognitiveservices/Language.AnalyzeText-authoring/tspconfig.yaml
Labels: Cognitive Services, TypeSpec

#32361 Update ProxyAgentSettings API Format
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/computeRPCommon.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/examples/virtualMachineExamples/VirtualMachine_Create_WithProxyAgentSettings.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithProxyAgentSettings.json
Labels: Compute, ARMSignedOff, resource-manager, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk, brownfield

#32531 added ResilientVMDeletionStatus to Get VMScaleSet VM API and List VMScaleSet VMs API.
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetVM_Get_WithResilientVMDeletionStatus.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetVM_List_WithResiliencyView.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/virtualMachineScaleSet.json
Labels: Compute, resource-manager, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk

#32618 Updating network api verison for networkInterfaceConfiguration on VMSS
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-07-01/virtualMachineScaleSet.json
Labels: Compute, resource-manager, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk

#32784 [keyvault] Restore JS customization
  specification/keyvault/Security.KeyVault.Administration/client.tsp
Labels: KeyVault, TypeSpec

#32794 Sync eng/common directory with azure-sdk-tools for PR 9902
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32530 [keyvault] Update readme.python.md
  specification/keyvault/resource-manager/readme.python.md
Labels: KeyVault, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PipelineBotTrigger, PublishToCustomers

#32750 [DataFactory & Synapse] Update Oracle Linked Service
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
Labels: ARMSignedOff, ARMReview, resource-manager, data-plane, ReadyForApiTest, BreakingChangeReviewRequired, BreakingChange-Approved-Benign, PublishToCustomers

#32788 Adding examples to VirtualMachineImages_ListWithProperties
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/examples/virtualMachineImageExamples/VirtualMachineImages_ListWithProperties_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/examples/virtualMachineImageExamples/VirtualMachineImages_ListWithProperties_MinimumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/virtualMachineImage.json
Labels: Compute, resource-manager, BreakingChange-Go-Sdk, NotReadyForARMReview, PipelineBotTrigger, brownfield

#32769 [Key Vault] docs.microsoft.com -> learn.microsoft.com
  specification/keyvault/Security.KeyVault.Keys/routes.tsp
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.6-preview.2/keys.json
  specification/keyvault/data-plane/Microsoft.KeyVault/stable/7.5/keys.json
Labels: KeyVault, Client, data-plane, TypeSpec, Versioning-Approved-Benign, PublishToCustomers

#32763 Add Support for Changed Spec Identification in spec-gen-sdk-runner tool
  eng/pipelines/templates/stages/archetype-spec-gen-sdk.yml
  eng/tools/spec-gen-sdk-runner/cmd/spec-gen-sdk-runner.js
  eng/tools/spec-gen-sdk-runner/eslint.config.js
  eng/tools/spec-gen-sdk-runner/src/change-files.ts
  eng/tools/spec-gen-sdk-runner/src/commands.ts
  eng/tools/spec-gen-sdk-runner/src/index.ts
  eng/tools/spec-gen-sdk-runner/src/utils.ts
Labels: PipelineBotTrigger

#32838 [Assessment] Update readme.python.md
  specification/migrate/resource-manager/Microsoft.Migrate/AssessmentProjects/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#32839 [DeviceRegistry] Update tspconfig.yaml
  specification/deviceregistry/DeviceRegistry.Management/tspconfig.yaml
Labels: TypeSpec

#32840 migration accessment, config java sdk
  specification/migrate/resource-manager/Microsoft.Migrate/AssessmentProjects/readme.java.md
  specification/migrate/resource-manager/Microsoft.Migrate/AssessmentProjects/readme.md
  specification/migrate/resource-manager/Microsoft.Migrate/MigrateProjects/readme.java.md
  specification/migrate/resource-manager/Microsoft.Migrate/MordernizeProjects/readme.java.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#32823 change to approved name
  specification/impact/Impact.Management/tspconfig.yaml
Labels: TypeSpec, PipelineBotTrigger

#31398 Add `ListConnectionsInGroup` Api
  specification/webpubsub/data-plane/WebPubSub/stable/2024-12-01/examples/HealthApi_GetServiceStatus.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-12-01/examples/WebPubSub_AddConnectionToGroup.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-12-01/examples/WebPubSub_AddConnectionsToGroups.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-12-01/examples/WebPubSub_AddUserToGroup.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-12-01/examples/WebPubSub_CheckPermission.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-12-01/examples/WebPubSub_CloseAllConnections.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-12-01/examples/WebPubSub_CloseConnection.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-12-01/examples/WebPubSub_CloseGroupConnections.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-12-01/examples/WebPubSub_CloseUserConnections.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-12-01/examples/WebPubSub_ConnectionExists.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-12-01/examples/WebPubSub_GenerateClientToken.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-12-01/examples/WebPubSub_GrantPermission.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-12-01/examples/WebPubSub_GroupExists.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-12-01/examples/WebPubSub_ListConnectionsInGroup.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-12-01/examples/WebPubSub_RemoveConnectionFromAllGroups.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-12-01/examples/WebPubSub_RemoveConnectionFromGroup.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-12-01/examples/WebPubSub_RemoveConnectionsFromGroups.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-12-01/examples/WebPubSub_RemoveUserFromAllGroups.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-12-01/examples/WebPubSub_RemoveUserFromGroup.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-12-01/examples/WebPubSub_RevokePermission.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-12-01/examples/WebPubSub_SendToAll.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-12-01/examples/WebPubSub_SendToConnection.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-12-01/examples/WebPubSub_SendToGroup.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-12-01/examples/WebPubSub_SendToUser.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-12-01/examples/WebPubSub_UserExists.json
  specification/webpubsub/data-plane/WebPubSub/stable/2024-12-01/webpubsub.json
  specification/webpubsub/data-plane/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, new-api-version, PublishToCustomers, brownfield

#32825 fix(azurearcdata): remove arm-id from sqlServerDatabases
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2024-05-01-preview/sqlServerDatabases.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, Versioning-Approved-BugFix, VersioningReviewRequired, PublishToCustomers, brownfield

#32835 SRP 2024-01-01 API Version Swagger - PV2 date-time properties fix
  specification/storage/resource-manager/Microsoft.Storage/stable/2024-01-01/examples/FileSharesGet_ProvisionedV2.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2024-01-01/examples/FileSharesList_ProvisionedV2.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2024-01-01/examples/FileSharesPatch_ProvisionedV2.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2024-01-01/file.json
Labels: Storage, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, BreakingChange-Approved-BugFix, PipelineBotTrigger, PublishToCustomers, brownfield

#32853 Sync eng/common directory with azure-sdk-tools for PR 9921
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32826 Updating previously release api with missing properties within Microsoft.DBforPostgreSQL
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2024-11-01-preview/FlexibleServers.json
  specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2024-08-01/FlexibleServers.json
Labels: ARMSignedOff, PostgreSQL, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, BreakingChange-Approved-BugFix, PublishToCustomers, brownfield

#32803 Fix AOAI wrong parameters positions
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2025-01-01-preview/inference.json
Labels: Cognitive Services, data-plane, PublishToCustomers, brownfield

#32798 Sync eng/common directory with azure-sdk-tools for PR 9888
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32829 Release BillingBenefits microsoft.billingbenefits preview/2024-11-01-preview
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/billingbenefits.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/ApplicableDiscountsList.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/DiscountCancel.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/DiscountGet.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/DiscountList.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/DiscountsCreateAffiliate.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/DiscountsCreatePrimary.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/DiscountsCreatePrimaryBackfill.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/DiscountsCreatePrimaryWithCustomPrice.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/DiscountsCreatePrimaryWithCustomPriceMultiCurrency.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/DiscountsCreatePrimaryWithPriceGuarantee.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/DiscountsDelete.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/DiscountsUpdate.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/OperationsGet.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/ReservationOrderAliasCreate.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/ReservationOrderAliasGet.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/SavingsPlanItemExpandedGet.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/SavingsPlanItemGet.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/SavingsPlanOrderAliasCreate.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/SavingsPlanOrderAliasCreateSingleScope.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/SavingsPlanOrderAliasGet.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/SavingsPlanOrderElevate.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/SavingsPlanOrderExpandedGet.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/SavingsPlanOrderGet.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/SavingsPlanOrderList.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/SavingsPlanUpdate.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/SavingsPlanValidatePurchase.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/SavingsPlanValidateUpdate.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/SavingsPlansInOrderList.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/SavingsPlansList.json
  specification/billingbenefits/resource-manager/readme.az.md
  specification/billingbenefits/resource-manager/readme.cli.md
  specification/billingbenefits/resource-manager/readme.md
  specification/billingbenefits/resource-manager/readme.python.md
  specification/billingbenefits/resource-manager/readme.typescript.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, Approved-Suppression, SuppressionReviewRequired, new-api-version, BreakingChange-Approved-BugFix, PublishToCustomers, brownfield

#32525 [Managed Online Deployment] Add contract changes to ARM repo for startupProbe property
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-10-01/examples/OnlineDeployment/ManagedOnlineDeployment/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-10-01/examples/OnlineDeployment/ManagedOnlineDeployment/update.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-10-01/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, Versioning-Approved-BugFix, VersioningReviewRequired, PipelineBotTrigger, PublishToCustomers, brownfield

#32862 Merge branch main into release-web-2024-11-01
  .github/package-lock.json
  eng/common/scripts/Package-Properties.ps1
  eng/pipelines/templates/stages/archetype-spec-gen-sdk.yml
  eng/tools/spec-gen-sdk-runner/cmd/spec-gen-sdk-runner.js
  eng/tools/spec-gen-sdk-runner/eslint.config.js
  eng/tools/spec-gen-sdk-runner/src/change-files.ts
  eng/tools/spec-gen-sdk-runner/src/commands.ts
  eng/tools/spec-gen-sdk-runner/src/index.ts
  eng/tools/spec-gen-sdk-runner/src/utils.ts
  eng/tools/typespec-validation/src/rules/sdk-tspconfig-validation.ts
  eng/tools/typespec-validation/test/sdk-tspconfig-validation.test.ts
  package-lock.json
  package.json
Labels: PipelineBotTrigger

#32321 Remove ContainerApps and ContainerAppsRevision under Microsoft.Web
  specification/web/resource-manager/Microsoft.Web/stable/2024-11-01/ContainerApps.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-11-01/ContainerAppsRevisions.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-11-01/examples/ActivateRevision.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-11-01/examples/CreateOrUpdateContainerApp.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-11-01/examples/DeactivateRevision.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-11-01/examples/DeleteContainerApp.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-11-01/examples/GetContainerApp.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-11-01/examples/GetRevision.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-11-01/examples/ListContainerAppSecrets.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-11-01/examples/ListContainerAppsByResourceGroup.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-11-01/examples/ListContainerAppsBySubscription.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-11-01/examples/ListRevisions.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-11-01/examples/RestartRevision.json
  specification/web/resource-manager/readme.md
Labels: ARMSignedOff, Web Apps, ARMReview, resource-manager, BreakingChange-Go-Sdk-Approved, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Go-Sdk

#32878 [chore] Add Container Service Fleet label to PRs touching fleet files
  .github/policies/resourceManagement.yml
Labels: PipelineBotTrigger

#32874 Stumpaudra/fleet status fields dev
  specification/containerservice/Fleet.Management/examples/2025-03-01/FleetMembers_Create.json
  specification/containerservice/Fleet.Management/examples/2025-03-01/FleetMembers_Get.json
  specification/containerservice/Fleet.Management/examples/2025-03-01/FleetMembers_ListByFleet.json
  specification/containerservice/Fleet.Management/examples/2025-03-01/FleetMembers_Update.json
  specification/containerservice/Fleet.Management/examples/2025-03-01/Fleets_CreateOrUpdate.json
  specification/containerservice/Fleet.Management/examples/2025-03-01/Fleets_Get.json
  specification/containerservice/Fleet.Management/examples/2025-03-01/Fleets_ListByResourceGroup.json
  specification/containerservice/Fleet.Management/examples/2025-03-01/Fleets_ListBySub.json
  specification/containerservice/Fleet.Management/examples/2025-03-01/Fleets_PatchTags.json
  specification/containerservice/Fleet.Management/fleet.tsp
  specification/containerservice/Fleet.Management/fleetmember.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/FleetMembers_Create.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/FleetMembers_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/FleetMembers_ListByFleet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/FleetMembers_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/Fleets_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/Fleets_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/Fleets_ListByResourceGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/Fleets_ListBySub.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/examples/Fleets_PatchTags.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/fleets.json
Labels: Container Service, resource-manager, TypeSpec, aks-fleet

#32882 add aup items
  specification/containerservice/Fleet.Management/main.tsp
  specification/containerservice/Fleet.Management/update/autoupgradeprofile.tsp
  specification/containerservice/Fleet.Management/update/run.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/fleets.json
Labels: Container Service, TypeSpec

#32876 chore: update descriptions for custom ca trust certificates in preview swagger
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2025-01-02-preview/managedClusters.json
Labels: Container Service, resource-manager, brownfield
