Repository Azure/azure-rest-api-specs, pull requests merged in 2025-01, with the labels that each got.

#31959 [python][recoveryservicesbackup] fix enum name breaking in python SDK with directive
  specification/recoveryservicesbackup/resource-manager/readme.python.md
Labels: Recovery Services Backup, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#31988 Sync eng/common directory with azure-sdk-tools for PR 9580
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#31990 resolve readme conflict
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/Capabilities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/CheckNameAvailability_Available.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/CheckNameAvailability_NotAvailable.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/PATCHVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/PATCHVault_WithRedundancySettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/PUTVault_ResourceGuardEnabled.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/PUTVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/PUTVault_WithRedundancySettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/examples/UpdateVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/registeredidentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/replicationusages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/vaults.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2024-10-01/vaultusages.json
  specification/recoveryservices/resource-manager/readme.md
Labels: ARMSignedOff, RecoveryServices, ARMReview, resource-manager, new-api-version

#31644 Add SyndicatedRegistries to registries.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/registries.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, Versioning-Approved-BugFix, VersioningReviewRequired, PublishToCustomers, brownfield

#31984 Add RunningStatus for ContainerApp
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/ContainerApps_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/ContainerApps_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/ContainerApps_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/ContainerApps_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/ContainerApps_ManagedBy_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/ContainerApps_Patch.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/ContainerApps_Start.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/ContainerApps_Stop.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/ContainerApps_TcpApp_CreateOrUpdate.json
Labels: ARMSignedOff, ARMReview, resource-manager

#31957 Enable Java Runtime in Microsoft.App 2025-01-01
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/ContainerApps_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/ContainerApps_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/ContainerApps_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/ContainerApps_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/ContainerApps_Patch.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/ContainerApps_Start.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/ContainerApps_Stop.json
Labels: ARMSignedOff, ARMReview, resource-manager

#31998 java mgmt, paloaltonetworks ngfw, fix pageable
  specification/paloaltonetworks/resource-manager/readme.java.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, PublishToCustomers

#31917 Include version attribute to the key attestation.
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.6-preview.2/examples/GetKeyAttestation-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.6-preview.2/keys.json
Labels: KeyVault, data-plane, no-recent-activity

#31952 [ACS JobRouter] Update spec with Aad Auth support
  specification/communication/Communication.JobRouter/README.md
  specification/communication/Communication.JobRouter/main.tsp
  specification/communication/data-plane/JobRouter/preview/2024-01-18-preview/communicationservicejobrouter.json
  specification/communication/data-plane/JobRouter/stable/2023-11-01/communicationservicejobrouter.json
Labels: data-plane, TypeSpec, PublishToCustomers

#32010 Event Grid System Events: 'Sms' should be capitalized (SMS) to conform to Go style guidelines.
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/propertyNameOverrideGo.tsp
Labels: Event Grid, TypeSpec

#32007 Sync eng/common directory with azure-sdk-tools for PR 9584
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#31855 Release playwrighttesting microsoft.playwright testing.auth manager 2024 12 01
  specification/playwrighttesting/PlaywrightTesting.AuthManager/examples/2024-12-01/AccessTokens_CreateOrReplace.json
  specification/playwrighttesting/PlaywrightTesting.AuthManager/examples/2024-12-01/AccessTokens_Delete.json
  specification/playwrighttesting/PlaywrightTesting.AuthManager/examples/2024-12-01/AccessTokens_Get.json
  specification/playwrighttesting/PlaywrightTesting.AuthManager/examples/2024-12-01/AccessTokens_List.json
  specification/playwrighttesting/PlaywrightTesting.AuthManager/examples/2024-12-01/Accounts_Get.json
  specification/playwrighttesting/PlaywrightTesting.AuthManager/examples/2024-12-01/Accounts_GetBrowsers.json
  specification/playwrighttesting/PlaywrightTesting.AuthManager/main.tsp
  specification/playwrighttesting/PlaywrightTesting.AuthManager/tspconfig.yaml
  specification/playwrighttesting/PlaywrightTesting.Management/main.tsp
  specification/playwrighttesting/PlaywrightTesting/examples/2023-10-01-preview/AccessTokens_DeleteAccessToken.json
  specification/playwrighttesting/PlaywrightTesting/tspconfig.yaml
  specification/playwrighttesting/data-plane/Microsoft.PlaywrightTesting.AuthManager/stable/2024-12-01/examples/AccessTokens_CreateOrReplace.json
  specification/playwrighttesting/data-plane/Microsoft.PlaywrightTesting.AuthManager/stable/2024-12-01/examples/AccessTokens_Delete.json
  specification/playwrighttesting/data-plane/Microsoft.PlaywrightTesting.AuthManager/stable/2024-12-01/examples/AccessTokens_Get.json
  specification/playwrighttesting/data-plane/Microsoft.PlaywrightTesting.AuthManager/stable/2024-12-01/examples/AccessTokens_List.json
  specification/playwrighttesting/data-plane/Microsoft.PlaywrightTesting.AuthManager/stable/2024-12-01/examples/Accounts_Get.json
  specification/playwrighttesting/data-plane/Microsoft.PlaywrightTesting.AuthManager/stable/2024-12-01/examples/Accounts_GetBrowsers.json
  specification/playwrighttesting/data-plane/Microsoft.PlaywrightTesting.AuthManager/stable/2024-12-01/playwrighttesting.json
  specification/playwrighttesting/data-plane/readme.md
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/stable/2024-12-01/playwrighttesting.json
Labels: ARMSignedOff, Approved-LintDiff, APIStewardshipBoard-SignedOff, ARMReview, resource-manager, data-plane, RPaaS, Approved-Suppression, SuppressionReviewRequired, new-api-version, TypeSpec, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk, PublishToCustomers

#31941 Add list of allowed classifications in description for Maintenance Configuration
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/Maintenance.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-09-01-preview/Maintenance.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/Maintenance.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-11-01-preview/Maintenance.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/Maintenance.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/Maintenance.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/Maintenance.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#32036 [compute] Update readme.python.md
  specification/compute/resource-manager/readme.python.md
Labels: Compute, resource-manager, PublishToCustomers

#31774 [Synapse]Sync IR Features From DataFactory
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview/integrationRuntime.json
Labels: ARMSignedOff, Synapses, ARMReview, resource-manager, ReadyForApiTest, Versioning-Approved-Benign, VersioningReviewRequired, PublishToCustomers

#32002 Making updates to ActualCapacityInfo for Inference Group Status
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/examples/Workspace/InferenceGroup/getStatus.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager

#32044 [cSpell.json] Add "eng/**" to ignorePaths
  cSpell.json
Labels: Compute, Network, Storage, KeyVault, Service Fabric, Data Lake Analytics, Batch, Analysis Services, Network - CDN, Container Registry, Customer Insights, Devtestlab, Cognitive Services, Authorization, Event Hubs, Logic App, Machine Learning, Media Services, Notification Hub, Monitor - Operational Insights, Recovery Services Backup, Redis Cache, Scheduler, Search, Insights, Relay, Service Bus, Intune, HDInsight, Automation, API Management, SQL, Monitor, Operations Management, Data Factory, BatchAI, Billing, Container Instances, Cosmos, Data Migration, Event Grid, Import Export, Mobile Engagement, MySQL, Policy Insights, PostgreSQL, Recovery Services Site-Recovery, Service Map, Storsimple, Stream Analytics, TimeseriesInsights, Data Lake Store, Machine Learning Compute, Profile, Network - DNS, Network - Traffic Manager, Subscription, Web Apps, StorageSync, Alerts Management, Peering, Container Service, IoTHub, Synapses, Purview, RecoveryServices, Load Test Service, Device Update, Maps, Cognitive - Language, ArcReview, Monitor - Exporter

#32006 Handle C# SDK Naming Requirements for Autogenerated Specs
  specification/iotoperations/IoTOperations.Management/client.tsp
Labels: TypeSpec

#30653 [Microsoft.ConfidentialLedger] Add new ARM API version preview/2024-09-19-preview
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-09-19-preview/confidentialledger.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-09-19-preview/examples/CheckNameAvailability.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-09-19-preview/examples/ConfidentialLedger_Backup.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-09-19-preview/examples/ConfidentialLedger_Create.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-09-19-preview/examples/ConfidentialLedger_Delete.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-09-19-preview/examples/ConfidentialLedger_Get.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-09-19-preview/examples/ConfidentialLedger_List.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-09-19-preview/examples/ConfidentialLedger_ListBySub.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-09-19-preview/examples/ConfidentialLedger_Restore.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-09-19-preview/examples/ConfidentialLedger_Update.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-09-19-preview/examples/ManagedCCF_Backup.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-09-19-preview/examples/ManagedCCF_Create.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-09-19-preview/examples/ManagedCCF_Delete.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-09-19-preview/examples/ManagedCCF_Get.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-09-19-preview/examples/ManagedCCF_List.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-09-19-preview/examples/ManagedCCF_ListBySub.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-09-19-preview/examples/ManagedCCF_Restore.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-09-19-preview/examples/ManagedCCF_Update.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-09-19-preview/examples/Operations_Get.json
  specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/preview/2024-09-19-preview/managedccf.json
  specification/confidentialledger/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, new-api-version, BreakingChange-Approved-Previously, PublishToCustomers, brownfield

#32047 Watchlist fix
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-10-01-preview/Watchlists.json
Labels: resource-manager

#32053 reorder TI parameter to address breaking change errors
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-10-01-preview/ThreatIntelligence.json
Labels: resource-manager

#32041 [recoveryservices] Microsoft.RecoveryServices adding version 2024-09-30-preview
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/Capabilities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/CheckNameAvailability_Available.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/CheckNameAvailability_NotAvailable.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/DeletedVaults_Get.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/DeletedVaults_GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/DeletedVaults_ListBySubscriptionId.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/DeletedVaults_Undelete.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/PATCHVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/PATCHVault_WithRedundancySettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/PUTVault_ResourceGuardEnabled.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/PUTVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/PUTVault_WithRedundancySettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/examples/UpdateVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/registeredidentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/replicationusages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/vaults.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/preview/2024-09-30-preview/vaultusages.json
  specification/recoveryservices/resource-manager/readme.md
Labels: ARMSignedOff, RecoveryServices, ARMReview, resource-manager, ReadyForApiTest, new-api-version, AzCoreIDC, PublishToCustomers, brownfield

#31695 Bugfix in Redis Enterprise Geo-replication ForceLink API spec
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/examples/RedisEnterpriseDatabasesForceLink.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-03-01-preview/redisenterprise.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/examples/RedisEnterpriseDatabasesForceLink.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-06-01-preview/redisenterprise.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/examples/RedisEnterpriseDatabasesForceLink.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/preview/2024-09-01-preview/redisenterprise.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDatabasesForceLink.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/redisenterprise.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, BreakingChange-Approved-BugFix, PublishToCustomers, brownfield

#32005 Make all response format models internal
  specification/ai/ModelClient/client.tsp
  specification/ai/ModelClient/models/chat_completions.tsp
  specification/ai/data-plane/AI.Model/preview/2024-05-01-preview/openapi.json
Labels: data-plane, TypeSpec

#32063 Rebranding of Azure AI Studio
  specification/search/data-plane/Azure.Search/preview/2024-11-01-preview/searchservice.json
Labels: Search, data-plane, PublishToCustomers, brownfield

#32061 v2023-06-01 Search Polygon Fix
  specification/maps/data-plane/Search/stable/2023-06-01/search.json
Labels: Maps, data-plane, BreakingChangeReviewRequired, BreakingChange-Approved-BugFix, PublishToCustomers, brownfield

#32086 Route 2024-07-01-preview update for RouteRange
  cSpell.json
  specification/maps/data-plane/Route/preview/2024-07-01-preview/route.json
Labels: Maps, data-plane, BreakingChange-Approved-BugFix, Versioning-Approved-BugFix, PublishToCustomers

#31643 java, OpenAI.Inference, migrate to clientNamespace
  specification/cognitiveservices/OpenAI.Inference/client.tsp
  specification/cognitiveservices/OpenAI.Inference/tspconfig.yaml
Labels: Cognitive Services, TypeSpec

#31875 Support env msi and cert from key vault
  .github/workflows/spelling.yaml
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/Certificate_CreateOrUpdate_FromKeyVault.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/ManagedEnvironments_CreateOrUpdate.json
  specification/app/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, Approved-Suppression

#31958 Support Java Components in Microsoft.App version 2025-01-01
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/JavaComponents.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/JavaComponents_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/JavaComponents_CreateOrUpdate_ServiceBind.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/JavaComponents_Delete.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/JavaComponents_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/JavaComponents_Get_ServiceBind.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/JavaComponents_List.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/JavaComponents_List_ServiceBind.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/JavaComponents_Patch.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/JavaComponents_Patch_ServiceBind.json
  specification/app/resource-manager/readme.go.md
  specification/app/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager

#31997 Update proxy resource type to v5
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/AuthConfigs.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/AvailableWorkloadProfiles.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/BillingMeters.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/ConnectedEnvironments.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/ConnectedEnvironmentsStorages.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/ContainerAppsRevisions.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/Diagnostics.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/Jobs.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/ManagedEnvironmentsStorages.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/SourceControls.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/BillingMeters_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/Certificate_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/Certificate_CreateOrUpdate_FromKeyVault.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/Certificate_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/Certificates_ListByManagedEnvironment.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/Certificates_Patch.json
  specification/app/resource-manager/Microsoft.App/stable/2025-01-01/examples/Revisions_Get.json
Labels: ARMSignedOff, ARMReview, resource-manager

#32069 [Batch] Normalize mgmt plane doc links
  specification/batch/resource-manager/Microsoft.Batch/stable/2024-07-01/BatchManagement.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2024-07-01/examples/BatchAccountListOutboundNetworkDependenciesEndpoints.json
Labels: Batch, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers, brownfield

#32070 [Batch] Normalize data plane doc links
  cSpell.json
  specification/batch/Azure.Batch/models.tsp
  specification/batch/data-plane/Azure.Batch/preview/2024-07-01.20.0/BatchService.json
  specification/batch/data-plane/Microsoft.Batch/stable/2024-07-01.20.0/BatchService.json
Labels: Batch, data-plane, TypeSpec, PublishToCustomers, brownfield

#32095 Added 2025-07-05 blob version
  specification/storage/data-plane/Microsoft.BlobStorage/readme.md
  specification/storage/data-plane/Microsoft.BlobStorage/stable/2025-07-05/blob.json
Labels: Storage, data-plane, brownfield

#32078 Make 'usage' optional in streaming response update
  specification/ai/ModelClient/models/chat_completions.tsp
  specification/ai/data-plane/AI.Model/preview/2024-05-01-preview/openapi.json
Labels: data-plane, TypeSpec

#32042 Update examples and descriptions and update ApiKeyNameParameter for Nginx swagger
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-11-01-preview/swagger.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, Versioning-Approved-Benign, VersioningReviewRequired, PublishToCustomers, brownfield

#31188 Fix the api descrption
  cSpell.json
  specification/standbypool/StandbyPool.Management/examples/2024-03-01-preview/StandbyVirtualMachines_Get.json
  specification/standbypool/StandbyPool.Management/examples/2024-03-01-preview/StandbyVirtualMachines_ListByStandbyVirtualMachinePoolResource.json
  specification/standbypool/StandbyPool.Management/examples/2024-03-01/StandbyVirtualMachines_Get.json
  specification/standbypool/StandbyPool.Management/examples/2024-03-01/StandbyVirtualMachines_ListByStandbyVirtualMachinePoolResource.json
  specification/standbypool/StandbyPool.Management/sdk-suppressions.yaml
  specification/standbypool/StandbyPool.Management/standbyVirtualMachinePoolRuntimeView.tsp
  specification/standbypool/resource-manager/Microsoft.StandbyPool/preview/2024-03-01-preview/examples/StandbyVirtualMachines_Get.json
  specification/standbypool/resource-manager/Microsoft.StandbyPool/preview/2024-03-01-preview/examples/StandbyVirtualMachines_ListByStandbyVirtualMachinePoolResource.json
  specification/standbypool/resource-manager/Microsoft.StandbyPool/preview/2024-03-01-preview/standbypool.json
  specification/standbypool/resource-manager/Microsoft.StandbyPool/stable/2024-03-01/examples/StandbyVirtualMachines_Get.json
  specification/standbypool/resource-manager/Microsoft.StandbyPool/stable/2024-03-01/examples/StandbyVirtualMachines_ListByStandbyVirtualMachinePoolResource.json
  specification/standbypool/resource-manager/Microsoft.StandbyPool/stable/2024-03-01/standbypool.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, TypeSpec, BreakingChange-JavaScript-Sdk-Suppression-Approved, BreakingChange-JavaScript-Sdk-Suppression, PublishToCustomers

#31885 Add quota apis to MFE 20250101-preview
  .github/workflows/spelling.yaml
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/examples/PTUQuota/getAvailable.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/examples/PTUQuota/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/examples/PTUQuota/listAvailable.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager, PipelineBotTrigger

#31926 Merge quota changes from 2024-10-01-preview
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/PTUQuota/getAvailable.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/PTUQuota/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/examples/PTUQuota/listAvailable.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager, PipelineBotTrigger

#32019 PlaywrightTesting -Bringing common model in shared namespace
  cSpell.json
  specification/playwrighttesting/PlaywrightTesting.AuthManager/main.tsp
  specification/playwrighttesting/PlaywrightTesting.AuthManager/tspconfig.yaml
  specification/playwrighttesting/PlaywrightTesting.Shared/main.tsp
  specification/playwrighttesting/data-plane/Microsoft.PlaywrightTesting.AuthManager/stable/2024-12-01/playwrighttesting.json
Labels: data-plane, TypeSpec, BreakingChange-Approved-BugFix, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-JavaScript-Sdk, PublishToCustomers

#31713 Update default values and descriptions for Key Vault on API Version 2024-11-01
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/common.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/DeletedManagedHsm_Get.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/DeletedManagedHsm_List.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/DeletedManagedHsm_Purge.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/ManagedHsm_CreateOrUpdate.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/ManagedHsm_Delete.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/ManagedHsm_Get.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/ManagedHsm_ListByResourceGroup.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/ManagedHsm_ListBySubscription.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/ManagedHsm_ListPrivateEndpointConnectionsByResource.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/ManagedHsm_ListRegionsByResource.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/ManagedHsm_Update.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/ManagedHsm_checkMhsmNameAvailability.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/ManagedHsm_deletePrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/ManagedHsm_getPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/ManagedHsm_listPrivateLinkResources.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/ManagedHsm_putPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/checkVaultNameAvailability.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/createKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/createSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/createVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/createVaultWithNetworkAcls.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/deletePrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/deleteVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/getDeletedVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/getKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/getKeyVersion.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/getPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/getSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/getVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/listDeletedVaults.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/listKeyVersions.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/listKeys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/listOperations.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/listPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/listPrivateLinkResources.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/listSecrets.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/listVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/listVaultByResourceGroup.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/listVaultBySubscription.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/managedHsmCreateKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/managedHsmGetKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/managedHsmGetKeyVersion.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/managedHsmListKeyVersions.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/managedHsmListKeys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/purgeDeletedVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/putPrivateEndpointConnection.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/updateAccessPoliciesAdd.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/updateSecret.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/updateVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/keys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/keysManagedHsm.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/keyvault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/managedHsm.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/providers.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/secrets.json
  specification/keyvault/resource-manager/readme.md
Labels: KeyVault, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, BreakingChange-Approved-Benign, PublishToCustomers, brownfield

#32103 Make message classes internal
  specification/ai/ModelClient/client.tsp
Labels: TypeSpec

#32098 Update Istio add-on egress gateway preview api
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-10-02-preview/examples/ManagedClustersCreate_AzureServiceMesh.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2024-10-02-preview/managedClusters.json
Labels: Container Service, resource-manager, BreakingChange-Python-Sdk

#32111 Microsoft.App 2025-01-01 remove deduplication config for go sdk
  specification/app/resource-manager/readme.go.md
Labels: ARMSignedOff, ARMReview, resource-manager

#31787 Health api 2024 07 01
  specification/network/resource-manager/Microsoft.Network/stable/2024-05-01/loadBalancer.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/loadBalancer.json
Labels: Network, ARMSignedOff, ARMReview, resource-manager, BreakingChange-Approved-BugFix, BreakingChange-Go-Sdk-Approved, BreakingChange-Go-Sdk

#32129 Sync eng/common directory with azure-sdk-tools for PR 9614
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#32117 Adding SecurityInsights AutomationRules changes for 2025-01-01-preview API version
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2025-01-01-preview/AutomationRules.json
Labels: ARMSignedOff, resource-manager, brownfield

#31546 Terraform: Update models to include ARG table selection feature and import block export feature
  cSpell.json
  specification/terraform/Microsoft.AzureTerraform.Management/models.tsp
  specification/terraform/resource-manager/Microsoft.AzureTerraform/preview/2023-07-01-preview/export.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, TypeSpec, Versioning-Approved-PrivatePreview, VersioningReviewRequired, NotReadyForARMReview, PublishToCustomers

#32150 [Storage] Update readme.python.md
  specification/storage/resource-manager/readme.python.md
Labels: Storage, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk, PublishToCustomers

#32030 [MFE][2025-01-01-preview] Add deferred safety to serverless endpoints
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/examples/Workspace/ServerlessEndpoint/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/examples/Workspace/ServerlessEndpoint/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/examples/Workspace/ServerlessEndpoint/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/examples/Workspace/ServerlessEndpoint/update.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager

#32169 Sync eng/common directory with azure-sdk-tools for PR 9635
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#32062 Feature/2025 03 01 stable
  cSpell.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/GetOperations.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/GroupQuotaLimits/ListGroupQuotaLimits-Compute.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/GroupQuotaLimitsRequests/GroupQuotaLimitsRequests_Get.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/GroupQuotaLimitsRequests/GroupQuotaLimitsRequests_List.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/GroupQuotaLimitsRequests/PatchGroupQuotaLimitsRequests-Compute.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/GroupQuotas/DeleteGroupQuotas.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/GroupQuotas/GetGroupQuotas.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/GroupQuotas/GetGroupQuotasList.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/GroupQuotas/PatchGroupQuotas.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/GroupQuotas/PutGroupQuotas.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/GroupQuotasSubscriptions/DeleteGroupQuotaSubscriptions.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/GroupQuotasSubscriptions/GetGroupQuotaSubscriptions.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/GroupQuotasSubscriptions/ListGroupQuotaSubscriptions.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/GroupQuotasSubscriptions/PatchGroupQuotasSubscription.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/GroupQuotasSubscriptions/PutGroupQuotasSubscription.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/SubscriptionQuotaAllocation/SubscriptionQuotaAllocation_List-Compute.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/SubscriptionQuotaAllocationRequests/PatchSubscriptionQuotaAllocationRequest-Compute.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/SubscriptionQuotaAllocationRequests/SubscriptionQuotaAllocationRequests_Get-Compute.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/SubscriptionQuotaAllocationRequests/SubscriptionQuotaAllocationRequests_List-Compute.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/SubscriptionRequests/SubscriptionRequests_Get.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/SubscriptionRequests/SubscriptionRequests_List.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/getComputeOneSkuQuotaLimit.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/getComputeOneSkuUsages.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/getComputeQuotaLimits.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/getComputeUsages.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/getMachineLearningServicesQuotaLimits.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/getMachineLearningServicesUsages.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/getNetworkOneSkuQuotaLimit.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/getNetworkOneSkuUsages.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/getNetworkQuotaLimits.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/getNetworkUsages.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/getQuotaRequestStatusById.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/getQuotaRequestStatusFailed.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/getQuotaRequestStatusInProgress.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/getQuotaRequestsHistory.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/patchComputeQuotaRequest.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/patchNetworkOneSkuQuotaRequest.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/putComputeOneSkuQuotaRequest.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/putMachineLearningServicesQuotaRequestLowPriority.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/putNetworkOneSkuQuotaRequest.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/examples/putNetworkOneSkuQuotaRequestStandardSkuPublicIpAddresses.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/groupquota.json
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-03-01/quota.json
  specification/quota/resource-manager/readme.md
  specification/quota/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, BreakingChange-Go-Sdk-Approved, BreakingChange-Python-Sdk-Suppression-Approved, BreakingChange-Go-Sdk, BreakingChange-Python-Sdk-Suppression, PublishToCustomers, brownfield

#32084 Release communication email 2025 01 15 preview
  cSpell.json
  specification/communication/data-plane/Email/preview/2025-01-15-preview/CommunicationServicesEmail.json
  specification/communication/data-plane/Email/preview/2025-01-15-preview/examples/GetOperationStatusReturnsFailedTerminalStatus.json
  specification/communication/data-plane/Email/preview/2025-01-15-preview/examples/GetOperationStatusReturnsNonTerminalStatus.json
  specification/communication/data-plane/Email/preview/2025-01-15-preview/examples/GetOperationStatusReturnsSuccessTerminalStatus.json
  specification/communication/data-plane/Email/preview/2025-01-15-preview/examples/SendEmail.json
  specification/communication/data-plane/Email/readme.md
Labels: APIStewardshipBoard-SignedOff, data-plane, new-api-version, PipelineBotTrigger, PublishToCustomers, brownfield

#31849 [Liftrpinecone] update tspconfig
  cSpell.json
  specification/liftrpinecone/Pinecone.VectorDb.Management/client.tsp
  specification/liftrpinecone/Pinecone.VectorDb.Management/tspconfig.yaml
Labels: TypeSpec

#30701 Add properties as required for ipampool and body as required for put …
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/IpamPools_Create.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/ipAddressManager.json
Labels: Network, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, Versioning-Approved-BugFix, VersioningReviewRequired, PublishToCustomers, brownfield

#32075 Update EnvironmentVersion with vulnerabilities object
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager

#32106 Add parent job name
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/examples/Job/CommandJob/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/examples/Job/CommandJob/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/examples/Job/CommandJob/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager

#32141 Correct tag format for Jan 25 preview
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager

#31882 Sync eng/common directory with azure-sdk-tools for PR 9529
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32185 Update TypeSpec version for January 2025 release
  package-lock.json
  package.json
Labels: PipelineBotTrigger

#31991 Azure Search Management Plane 2025-02-01-preview
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/CreateOrUpdateSharedPrivateLinkResource.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/DeletePrivateEndpointConnection.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/DeleteSharedPrivateLinkResource.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/GetPrivateEndpointConnection.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/GetQuotaUsage.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/GetQuotaUsagesList.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/GetSharedPrivateLinkResource.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/ListPrivateEndpointConnectionsByService.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/ListSharedPrivateLinkResourcesByService.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/ListSupportedPrivateLinkResources.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/NetworkSecurityPerimeterConfigurationsGet.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/NetworkSecurityPerimeterConfigurationsListByService.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/NetworkSecurityPerimeterConfigurationsReconcile.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchCheckNameAvailability.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchCreateOrUpdateService.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchCreateOrUpdateServiceAuthOptions.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchCreateOrUpdateServiceDisableLocalAuth.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchCreateOrUpdateServiceToAllowAccessFromPrivateEndpoints.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchCreateOrUpdateServiceToAllowAccessFromPublicCustomIPs.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchCreateOrUpdateServiceToAllowAccessFromPublicCustomIPsAndBypass.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchCreateOrUpdateServiceWithCmkEnforcement.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchCreateOrUpdateServiceWithDataExfiltration.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchCreateOrUpdateServiceWithIdentity.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchCreateOrUpdateWithSemanticSearch.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchCreateQueryKey.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchDeleteQueryKey.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchDeleteService.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchGetAdminKeys.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchGetService.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchListOfferings.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchListOperations.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchListQueryKeysBySearchService.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchListServicesByResourceGroup.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchListServicesBySubscription.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchRegenerateAdminKey.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchUpdateService.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchUpdateServiceAuthOptions.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchUpdateServiceDisableLocalAuth.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchUpdateServiceToAllowAccessFromPrivateEndpoints.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchUpdateServiceToAllowAccessFromPublicCustomIPs.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchUpdateServiceToAllowAccessFromPublicCustomIPsAndBypass.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchUpdateServiceToRemoveIdentity.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchUpdateServiceWithCmkEnforcement.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchUpdateServiceWithDataExfiltration.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchUpdateServiceWithSemanticSearch.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/SearchUpdateServiceWithSku.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/UpdatePrivateEndpointConnection.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/examples/UpgradeSearchServiceToLatestVersion.json
  specification/search/resource-manager/Microsoft.Search/preview/2025-02-01-preview/search.json
  specification/search/resource-manager/readme.md
Labels: Search, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, new-api-version, BreakingChange-Approved-Previously, PublishToCustomers, brownfield

#31764 Added new property SegmentCount to SMSReceived Event
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Communication/AzureCommunicationServices.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/examples/2018-01-01/sms_received.json
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/examples/2024-01-01/sms_received.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/AzureCommunicationServices.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/sms_received.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/sms_received.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/GeneratedSystemEvents.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2024-01-01/GeneratedSystemEvents.json
Labels: Event Grid, data-plane, TypeSpec, BreakingChange-Approved-Benign, PipelineBotTrigger, PublishToCustomers, brownfield

#31739 add recipientMailServerHostName to AcsEmailDeliveryReportStatusDetails of AcsEmailDeliveryReportReceivedEventData and InternetMessageId to AcsEmailDeliveryReportReceivedEventData
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Communication/AzureCommunicationServices.tsp
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/AzureCommunicationServices.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/email_delivery_report_received.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/GeneratedSystemEvents.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2024-01-01/GeneratedSystemEvents.json
Labels: Event Grid, data-plane, TypeSpec, BreakingChange-Approved-Benign, brownfield

#32205 [Eventhub] Update readme.python.md
  specification/eventhub/resource-manager/readme.python.md
Labels: Event Hubs, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#32091 Maps search 2025 01 01
  specification/maps/cspell.yaml
  specification/maps/data-plane/Search/readme.md
  specification/maps/data-plane/Search/stable/2025-01-01/examples/ForwardGeocoding.json
  specification/maps/data-plane/Search/stable/2025-01-01/examples/ForwardGeocodingBatch.json
  specification/maps/data-plane/Search/stable/2025-01-01/examples/ForwardGeocodingByAddressLine.json
  specification/maps/data-plane/Search/stable/2025-01-01/examples/ForwardGeocodingByQuery.json
  specification/maps/data-plane/Search/stable/2025-01-01/examples/ForwardGeocodingFindLandmarkByQuery.json
  specification/maps/data-plane/Search/stable/2025-01-01/examples/GetPolygon.json
  specification/maps/data-plane/Search/stable/2025-01-01/examples/ReverseGeocoding.json
  specification/maps/data-plane/Search/stable/2025-01-01/examples/ReverseGeocodingBatch.json
  specification/maps/data-plane/Search/stable/2025-01-01/search.json
Labels: APIStewardshipBoard-SignedOff, Maps, data-plane, new-api-version, PublishToCustomers, brownfield, offline-review-requested

#32195 Spell check only specification/**, match spell checking behavior with SpellCheck - All
  .github/workflows/spelling-all.yaml
  .github/workflows/spelling.yaml
Labels: PipelineBotTrigger

#32198 Sync eng/common directory with azure-sdk-tools for PR 9577
  eng/common/pipelines/templates/jobs/archetype-spec-gen-sdk.yml
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32213 Sync eng/common directory with azure-sdk-tools for PR 9650
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#31830 ProactiveDetection properties should be camel-cased
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-05-01-preview/componentProactiveDetection_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-05-01-preview/examples/ProactiveDetectionConfigurationGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-05-01-preview/examples/ProactiveDetectionConfigurationUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-05-01-preview/examples/ProactiveDetectionConfigurationsList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/componentProactiveDetection_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/ProactiveDetectionConfigurationGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/ProactiveDetectionConfigurationUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/ProactiveDetectionConfigurationsList.json
  specification/applicationinsights/resource-manager/readme.md
Labels: Insights, ARMSignedOff, customer-reported, ARMReview, resource-manager, BreakingChangeReviewRequired, Approved-Suppression, SuppressionReviewRequired, BreakingChange-Approved-BugFix, PublishToCustomers

#32181 Sync eng/common directory with azure-sdk-tools for PR 9601
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/pipelines/templates/steps/verify-readmes.yml
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32197 [EG] release version update readme
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/README.md
Labels: Event Grid

#32100 [MFE] Add AAD Auth Modes to Serverless Endpoint
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager

#32144 Sync eng/common directory with azure-sdk-tools for PR 9620
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#31603 make service name optional
  specification/ai/Azure.AI.Projects/evaluations/model.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2024-07-01-preview/azure-ai-projects.json
Labels: data-plane, TypeSpec

#32017 Add connection properties to LinkedService definitions for Greenplum …
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
Labels: ARMSignedOff, ARMReview, resource-manager, data-plane, ReadyForApiTest, Versioning-Approved-Benign, VersioningReviewRequired, PublishToCustomers

#32210 add config
  specification/liftrpinecone/Pinecone.VectorDb.Management/tspconfig.yaml
  specification/liftrpinecone/cspell.yaml
Labels: TypeSpec

#32228 liftrpinecone, java sdk config
  specification/liftrpinecone/Pinecone.VectorDb.Management/client.tsp
  specification/liftrpinecone/Pinecone.VectorDb.Management/tspconfig.yaml
  specification/liftrpinecone/cspell.yaml
Labels: TypeSpec

#32092 update JS configs for Jan release
  specification/computeschedule/ComputeSchedule.Management/tspconfig.yaml
  specification/liftrpinecone/Pinecone.VectorDb.Management/tspconfig.yaml
  specification/postgresql/resource-manager/readme.typescript.md
  specification/workloads/Workloads.SAPVirtualInstance.Management/tspconfig.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-Python-Sdk, PublishToCustomers

#32240 java mgmt, servicenetworking config
  specification/servicenetworking/ServiceNetworking.Management/client.tsp
  specification/servicenetworking/ServiceNetworking.Management/tspconfig.yaml
Labels: Approved-SdkBreakingChange-JavaScript, TypeSpec, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-JavaScript-Sdk

#32239 Sync eng/common directory with azure-sdk-tools for PR 9652
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/docgeneration/templates/matthews/styles/main.js
  eng/common/pipelines/templates/jobs/docindex.yml
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32221 Fix create vector store file API according to new service definition
  specification/ai/Azure.AI.Projects/agents/vector_stores/files/routes.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2024-07-01-preview/azure-ai-projects.json
Labels: data-plane, TypeSpec

#32193 Fix SecurityInsights SourceControls spec for all previous versions
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-09-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-10-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-01-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-04-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-05-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-06-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-07-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-08-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-09-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-10-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-11-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-12-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-02-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-03-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-04-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-05-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-06-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-07-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-08-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-09-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-10-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2023-12-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-01-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-10-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2023-11-01/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2024-03-01/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2024-09-01/SourceControls.json
Labels: resource-manager, BreakingChange-Approved-BugFix, brownfield

#32222 Add SDK options in tspconfig.yaml for Microsoft.DatabaseWatcher
  specification/databasewatcher/DatabaseWatcher.Management/tspconfig.yaml
Labels: TypeSpec

#32245 Add package openapi-to-typespec
  .github/dependabot.yml
  package-lock.json
  package.json
Labels: PipelineBotTrigger

#32219 Sync eng/common directory with azure-sdk-tools for PR 9658
  eng/common/scripts/Generate-PR-Diff.ps1
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32264 java, tspconfig for computeschedule
  specification/computeschedule/ComputeSchedule.Management/client.tsp
  specification/computeschedule/ComputeSchedule.Management/tspconfig.yaml
Labels: TypeSpec

#32247 Backward compatibility for service networking
  specification/servicenetworking/ServiceNetworking.Management/main.tsp
Labels: TypeSpec, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk, PipelineBotTrigger

#32268 [pineconevectordb] Update tspconfig.yaml
  specification/liftrpinecone/Pinecone.VectorDb.Management/tspconfig.yaml
Labels: TypeSpec

#32267 Update package openapi-to-typespec to 0.10.8
  package-lock.json
  package.json
Labels: PipelineBotTrigger

#32271 liftrpinecone, tspconfig, override service-dir for java
  specification/liftrpinecone/Pinecone.VectorDb.Management/tspconfig.yaml
Labels: TypeSpec

#32275 liftrpinecone, java config
  specification/liftrpinecone/Pinecone.VectorDb.Management/tspconfig.yaml
Labels: TypeSpec

#32066 Attempt to merge Darren's branch
  specification/ai/ModelClient/client.tsp
  specification/ai/ModelClient/examples/2024-05-01-preview/GetChatCompletions_MaximumSet_Gen.json
  specification/ai/ModelClient/examples/2024-05-01-preview/GetChatCompletions_MinimumSet_Gen.json
  specification/ai/ModelClient/examples/2024-05-01-preview/GetEmbeddings_MaximumSet_Gen.json
  specification/ai/ModelClient/examples/2024-05-01-preview/GetImageEmbeddings_MaximumSet_Gen.json
  specification/ai/ModelClient/examples/2024-05-01-preview/GetModelInfo_MaximumSet_Gen.json
  specification/ai/ModelClient/examples/2024-05-01-preview/GetModelInfo_MinimumSet_Gen.json
  specification/ai/ModelClient/models/chat_completions.tsp
  specification/ai/ModelClient/models/common.tsp
  specification/ai/ModelClient/models/image_embeddings.tsp
  specification/ai/ModelClient/routes.tsp
  specification/ai/ModelClient/tspconfig.yaml
  specification/ai/data-plane/AI.Model/preview/2024-05-01-preview/examples/GetChatCompletions_MaximumSet_Gen.json
  specification/ai/data-plane/AI.Model/preview/2024-05-01-preview/examples/GetChatCompletions_MinimumSet_Gen.json
  specification/ai/data-plane/AI.Model/preview/2024-05-01-preview/examples/GetEmbeddings_MaximumSet_Gen.json
  specification/ai/data-plane/AI.Model/preview/2024-05-01-preview/examples/GetImageEmbeddings_MaximumSet_Gen.json
  specification/ai/data-plane/AI.Model/preview/2024-05-01-preview/examples/GetModelInfo_MaximumSet_Gen.json
  specification/ai/data-plane/AI.Model/preview/2024-05-01-preview/examples/GetModelInfo_MinimumSet_Gen.json
  specification/ai/data-plane/AI.Model/preview/2024-05-01-preview/openapi.json
Labels: data-plane, TypeSpec

#32277 Sync eng/common directory with azure-sdk-tools for PR 9668
  eng/common/scripts/SemVer.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#31939 Lint diff fixes for Jan 25 preview
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired

#31802 Adding back Deid examples
  specification/healthdataaiservices/data-plane/HealthDataAIServices.DeidServices/preview/2024-07-12-preview/examples/CancelJob.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.DeidServices/preview/2024-07-12-preview/examples/CreateJob.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.DeidServices/preview/2024-07-12-preview/examples/Deidentify.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.DeidServices/preview/2024-07-12-preview/examples/DeleteJob.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.DeidServices/preview/2024-07-12-preview/examples/GetJob.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.DeidServices/preview/2024-07-12-preview/examples/ListJobDocuments.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.DeidServices/preview/2024-07-12-preview/examples/ListJobs.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.DeidServices/readme.md
Labels: data-plane, PublishToCustomers

#32287 Add new input audio content item
  specification/ai/ModelClient/models/chat_completions.tsp
  specification/ai/data-plane/AI.Model/preview/2024-05-01-preview/openapi.json
Labels: TypeSpec

#32286 Sync eng/common directory with azure-sdk-tools for PR 9656
  eng/common/pipelines/templates/jobs/archetype-spec-gen-sdk.yml
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Remove-IssueLabel.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32273 Update service-dir for pineconevectordb && update tsp config for servicenetworking
  specification/liftrpinecone/Pinecone.VectorDb.Management/tspconfig.yaml
  specification/servicenetworking/ServiceNetworking.Management/tspconfig.yaml
Labels: TypeSpec, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk, PublishToCustomers

#31826 Documented previously missing AMPLS API versions in new service subfolder
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/preview/2023-06-01-preview/examples/PrivateEndpointConnectionDelete.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/preview/2023-06-01-preview/examples/PrivateEndpointConnectionGet.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/preview/2023-06-01-preview/examples/PrivateEndpointConnectionList.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/preview/2023-06-01-preview/examples/PrivateEndpointConnectionUpdate.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/preview/2023-06-01-preview/examples/PrivateLinkScopePrivateLinkResourceGet.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/preview/2023-06-01-preview/examples/PrivateLinkScopePrivateLinkResourceListGet.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/preview/2023-06-01-preview/examples/PrivateLinkScopedResourceDelete.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/preview/2023-06-01-preview/examples/PrivateLinkScopedResourceGet.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/preview/2023-06-01-preview/examples/PrivateLinkScopedResourceList.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/preview/2023-06-01-preview/examples/PrivateLinkScopedResourceListKindFilter.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/preview/2023-06-01-preview/examples/PrivateLinkScopedResourceUpdate.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/preview/2023-06-01-preview/examples/PrivateLinkScopedResourceUpdatePlatformMetrics.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/preview/2023-06-01-preview/examples/PrivateLinkScopesCreate.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/preview/2023-06-01-preview/examples/PrivateLinkScopesDelete.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/preview/2023-06-01-preview/examples/PrivateLinkScopesGet.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/preview/2023-06-01-preview/examples/PrivateLinkScopesList.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/preview/2023-06-01-preview/examples/PrivateLinkScopesListByResourceGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/preview/2023-06-01-preview/examples/PrivateLinkScopesUpdate.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/preview/2023-06-01-preview/examples/PrivateLinkScopesUpdateTagsOnly.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/preview/2023-06-01-preview/examples/privateLinkScopeOperationStatuses.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/preview/2023-06-01-preview/privateLinkScopes_API.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/readme.go.md
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/readme.md
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/stable/2021-09-01/examples/PrivateEndpointConnectionDelete.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/stable/2021-09-01/examples/PrivateEndpointConnectionGet.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/stable/2021-09-01/examples/PrivateEndpointConnectionList.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/stable/2021-09-01/examples/PrivateEndpointConnectionUpdate.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/stable/2021-09-01/examples/PrivateLinkScopePrivateLinkResourceGet.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/stable/2021-09-01/examples/PrivateLinkScopePrivateLinkResourceListGet.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/stable/2021-09-01/examples/PrivateLinkScopedResourceDelete.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/stable/2021-09-01/examples/PrivateLinkScopedResourceGet.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/stable/2021-09-01/examples/PrivateLinkScopedResourceList.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/stable/2021-09-01/examples/PrivateLinkScopedResourceUpdate.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/stable/2021-09-01/examples/PrivateLinkScopesCreate.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/stable/2021-09-01/examples/PrivateLinkScopesDelete.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/stable/2021-09-01/examples/PrivateLinkScopesGet.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/stable/2021-09-01/examples/PrivateLinkScopesList.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/stable/2021-09-01/examples/PrivateLinkScopesListByResourceGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/stable/2021-09-01/examples/PrivateLinkScopesUpdate.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/stable/2021-09-01/examples/PrivateLinkScopesUpdateTagsOnly.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/stable/2021-09-01/examples/privateLinkScopeOperationStatuses.json
  specification/monitor/resource-manager/Microsoft.Insights/PrivateLinkScopes/stable/2021-09-01/privateLinkScopes_API.json
  specification/monitor/suppressions.yaml
Labels: Monitor, WaitForARMFeedback, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, Approved-Suppression, new-api-version, PublishToCustomers

#32285 Remove preview version for Deid
  specification/healthdataaiservices/data-plane/HealthDataAIServices.DeidServices/preview/2024-07-12-preview/HealthDataAIServices.DeidServices.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.DeidServices/preview/2024-07-12-preview/examples/CancelJob.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.DeidServices/preview/2024-07-12-preview/examples/CreateJob.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.DeidServices/preview/2024-07-12-preview/examples/Deidentify.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.DeidServices/preview/2024-07-12-preview/examples/DeleteJob.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.DeidServices/preview/2024-07-12-preview/examples/GetJob.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.DeidServices/preview/2024-07-12-preview/examples/ListJobDocuments.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.DeidServices/preview/2024-07-12-preview/examples/ListJobs.json
  specification/healthdataaiservices/data-plane/HealthDataAIServices.DeidServices/readme.md
Labels: data-plane, VersioningReviewRequired, PublishToCustomers, Versioning-Approved-Retired

#32276 Changed datamap endpoint from string to url
  specification/purview/Azure.Analytics.Purview.DataMap/main.tsp
  specification/purview/data-plane/Azure.Analytics.Purview.DataMap/stable/2023-09-01/purviewdatamap.json
Labels: customer-reported, Purview, data-plane, TypeSpec, PublishToCustomers

#32309 Sync eng/common directory with azure-sdk-tools for PR 9670
  eng/common/pipelines/templates/jobs/archetype-spec-gen-sdk.yml
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32289 [Key Vault] Add warnings to RSA_1_5 and RSA-OAEP documentation
  specification/keyvault/Security.KeyVault.Keys/examples/7.5/wrapKey-example.json
  specification/keyvault/Security.KeyVault.Keys/examples/7.6-preview.1/wrapKey-example.json
  specification/keyvault/Security.KeyVault.Keys/models.tsp
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.6-preview.1/examples/wrapKey-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.6-preview.1/keys.json
  specification/keyvault/data-plane/Microsoft.KeyVault/stable/7.5/examples/wrapKey-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/stable/7.5/keys.json
Labels: KeyVault, data-plane, TypeSpec, PublishToCustomers

#32296 [DatabaseWatcher] update tsp config
  specification/databasewatcher/DatabaseWatcher.Management/client.tsp
Labels: TypeSpec

#32313 impact, tspconfig for SDK
  specification/impact/Impact.Management/client.tsp
  specification/impact/Impact.Management/tspconfig.yaml
Labels: TypeSpec

#32311 Repurposed azure-sdk-for-net
  specificationRepositoryConfiguration.json
Labels: DoNotMerge

#32209 Update client settings to release .Net SDK for IotOperations
  specification/iotoperations/IoTOperations.Management/client.tsp
  specification/iotoperations/IoTOperations.Management/tspconfig.yaml
Labels: TypeSpec, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-JavaScript-Sdk

#31749 Update DeviceRegistry client settings for .Net SDK release
  specification/deviceregistry/DeviceRegistry.Management/client.tsp
  specification/deviceregistry/DeviceRegistry.Management/main.tsp
  specification/deviceregistry/DeviceRegistry.Management/tspconfig.yaml
Labels: TypeSpec, PublishToCustomers

#32320 Add renaming for javascript sdk
  specification/computeschedule/ComputeSchedule.Management/client.tsp
Labels: TypeSpec

#32323 enable ts config for impact
  specification/impact/Impact.Management/tspconfig.yaml
Labels: TypeSpec

#32249 [Microsoft.LoadTestService] Improvements to Load Test Service DataPlane Specs for better SDK Generation
  specification/loadtestservice/LoadTestService/examples/2024-05-01-preview/ListTestProfileRuns.json
  specification/loadtestservice/LoadTestService/models.testprofile.tsp
  specification/loadtestservice/LoadTestService/models.tsp
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2023-04-01-preview/loadtestservice.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-03-01-preview/loadtestservice.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-05-01-preview/examples/ListTestProfileRuns.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-05-01-preview/loadtestservice.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-07-01-preview/loadtestservice.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-12-01-preview/loadtestservice.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/loadtestservice.json
Labels: Load Test Service, data-plane, TypeSpec, BreakingChange-Approved-BugFix, PublishToCustomers

#31443 Add API version 2024-11-30 with support for isolationScope on user assigned identities.
  specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2024-11-30/ManagedIdentity.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2024-11-30/examples/FederatedIdentityCredentialCreate.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2024-11-30/examples/FederatedIdentityCredentialDelete.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2024-11-30/examples/FederatedIdentityCredentialGet.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2024-11-30/examples/FederatedIdentityCredentialList.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2024-11-30/examples/IdentityCreate.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2024-11-30/examples/IdentityDelete.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2024-11-30/examples/IdentityGet.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2024-11-30/examples/IdentityListByResourceGroup.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2024-11-30/examples/IdentityListBySubscription.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2024-11-30/examples/IdentityUpdate.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2024-11-30/examples/MsiOperationsList.json
  specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2024-11-30/examples/SystemAssignedIdentityGet.json
  specification/msi/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-JavaScript-Sdk, PublishToCustomers, brownfield

#32281 Update boot diagnostics api spec
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NetworkVirtualApplianceBootDiagnostics.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/networkVirtualAppliance.json
Labels: Network, ARMSignedOff, ARMReview, resource-manager, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk

#32316 Sync eng/common directory with azure-sdk-tools for PR 9681
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32305 Sync eng/common directory with azure-sdk-tools for PR 9687
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32335 Adding Rust crate information to Key Vault typespec
  specification/keyvault/Security.KeyVault.Certificates/tspconfig.yaml
  specification/keyvault/Security.KeyVault.Keys/tspconfig.yaml
Labels: KeyVault, TypeSpec

#31791 Azure Data Factory PostgreSQL Entra Support updated
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
Labels: ARMSignedOff, ARMReview, resource-manager, data-plane, ReadyForApiTest, Versioning-Approved-BugFix, VersioningReviewRequired, PublishToCustomers

#32229 Support more teradata connection properties and teradata sink
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: ARMSignedOff, ARMReview, resource-manager, data-plane, ReadyForApiTest, Versioning-Approved-Benign, VersioningReviewRequired, PublishToCustomers

#32060 [DataFactory & Synapse] Update Oracle Linked Service
  specification/datafactory/cspell.yaml
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/synapse/cspell.yaml
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
Labels: ARMSignedOff, ARMReview, resource-manager, data-plane, ReadyForApiTest, Versioning-Approved-Benign, VersioningReviewRequired, PublishToCustomers

#32261 Adding missing meterId property
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-09-01/costmanagement.pricesheets.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-11-01/costmanagement.pricesheets.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, Versioning-Approved-BugFix, PublishToCustomers, brownfield

#32280 Fix typo in vuln contract
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/mfe.json
Labels: ARMSignedOff, ARMReview, resource-manager

#31871 [TypeSpec APIView] Ensure apiview only triggers on packages directly changed by the pr
  eng/scripts/Create-APIView.ps1
Labels: TypeSpec, Central-EngSys

#32192 Adding SecurityInsights SourceControls changes for 2025-01-01-preview API version
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2025-01-01-preview/SourceControls.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2025-01-01-preview/examples/sourcecontrols/CreateSourceControl.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2025-01-01-preview/examples/sourcecontrols/GetSourceControlById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2025-01-01-preview/examples/sourcecontrols/GetSourceControls.json
Labels: ARMSignedOff, resource-manager, brownfield

#32241 Microsoft.DevOpsInfrastructure 2025-01-21
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2025-01-21/CreateOrUpdatePool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2025-01-21/DeletePool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2025-01-21/GetPool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2025-01-21/ImageVersions_ListByImage.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2025-01-21/ListOperations.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2025-01-21/ListPoolsBySubscription.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2025-01-21/ListPoolsBySubscriptionAndResourceGroup.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2025-01-21/Pools_CheckNameAvailability.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2025-01-21/ResourceDetails_ListByPool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2025-01-21/Sku_ListByLocation.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2025-01-21/SubscriptionUsages_Usages.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/examples/2025-01-21/UpdatePool.json
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/main.tsp
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/stable/2025-01-21/devopsinfrastructure.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/stable/2025-01-21/examples/CreateOrUpdatePool.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/stable/2025-01-21/examples/DeletePool.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/stable/2025-01-21/examples/GetPool.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/stable/2025-01-21/examples/ImageVersions_ListByImage.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/stable/2025-01-21/examples/ListOperations.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/stable/2025-01-21/examples/ListPoolsBySubscription.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/stable/2025-01-21/examples/ListPoolsBySubscriptionAndResourceGroup.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/stable/2025-01-21/examples/Pools_CheckNameAvailability.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/stable/2025-01-21/examples/ResourceDetails_ListByPool.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/stable/2025-01-21/examples/Sku_ListByLocation.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/stable/2025-01-21/examples/SubscriptionUsages_Usages.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/stable/2025-01-21/examples/UpdatePool.json
  specification/devopsinfrastructure/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, TypeSpec, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-JavaScript-Sdk, PublishToCustomers

#32346 Update readme.md for RPaaS
  specification/storageactions/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, PublishToCustomers

#30759 [EG] maps required/optional
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Maps/Maps.tsp
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/GeneratedSystemEvents.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2024-01-01/GeneratedSystemEvents.json
Labels: Event Grid, data-plane, TypeSpec, BreakingChange-Approved-BugFix, PublishToCustomers

#32348 [Key Vault Secrets] go cleanup client.tsp
  specification/keyvault/Security.KeyVault.Secrets/client.tsp
Labels: KeyVault, TypeSpec

#32351 Sync eng/common directory with azure-sdk-tools for PR 9699
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32295 Maps Weather: Fix Get Current Condition response schema to reflect live configuration
  specification/maps/data-plane/Weather/stable/1.1/examples/GetCurrentConditions.json
  specification/maps/data-plane/Weather/stable/1.1/weather.json
Labels: Maps, data-plane, BreakingChangeReviewRequired, BreakingChange-Approved-BugFix, PublishToCustomers, brownfield

#32362 Sync eng/common directory with azure-sdk-tools for PR 9700
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32255 Re-model preflight response to avoid breaking change in .NET SDK
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-07-01/resources.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-11-01/examples/PostDeploymentValidateOnManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-11-01/examples/PostDeploymentValidateOnResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-11-01/examples/PostDeploymentValidateOnScope.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-11-01/examples/PostDeploymentValidateOnSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-11-01/examples/PostDeploymentValidateOnTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2024-11-01/resources.json
  specification/resources/resource-manager/readme.md
  specification/resources/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, BreakingChange-Approved-BugFix, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-JavaScript-Sdk, PublishToCustomers, brownfield

#32370 Adding recording response for the callconnection id
  specification/communication/data-plane/CallAutomation/preview/2024-09-01-preview/communicationservicescallautomation.json
Labels: data-plane

#32204 Add fabric usage API to a preview version
  specification/fabric/Microsoft.Fabric.Management/capacity.tsp
  specification/fabric/Microsoft.Fabric.Management/client.tsp
  specification/fabric/Microsoft.Fabric.Management/examples/2025-01-15-preview/FabricCapacities_CheckNameAvailability.json
  specification/fabric/Microsoft.Fabric.Management/examples/2025-01-15-preview/FabricCapacities_CreateOrUpdate.json
  specification/fabric/Microsoft.Fabric.Management/examples/2025-01-15-preview/FabricCapacities_Delete.json
  specification/fabric/Microsoft.Fabric.Management/examples/2025-01-15-preview/FabricCapacities_Get.json
  specification/fabric/Microsoft.Fabric.Management/examples/2025-01-15-preview/FabricCapacities_ListByResourceGroup.json
  specification/fabric/Microsoft.Fabric.Management/examples/2025-01-15-preview/FabricCapacities_ListBySubscription.json
  specification/fabric/Microsoft.Fabric.Management/examples/2025-01-15-preview/FabricCapacities_ListSkus.json
  specification/fabric/Microsoft.Fabric.Management/examples/2025-01-15-preview/FabricCapacities_ListSkusForCapacity.json
  specification/fabric/Microsoft.Fabric.Management/examples/2025-01-15-preview/FabricCapacities_ListUsagesBySubscription.json
  specification/fabric/Microsoft.Fabric.Management/examples/2025-01-15-preview/FabricCapacities_Resume.json
  specification/fabric/Microsoft.Fabric.Management/examples/2025-01-15-preview/FabricCapacities_Suspend.json
  specification/fabric/Microsoft.Fabric.Management/examples/2025-01-15-preview/FabricCapacities_Update.json
  specification/fabric/Microsoft.Fabric.Management/examples/2025-01-15-preview/Operations_List.json
  specification/fabric/Microsoft.Fabric.Management/main.tsp
  specification/fabric/Microsoft.Fabric.Management/models.tsp
  specification/fabric/resource-manager/Microsoft.Fabric/preview/2025-01-15-preview/examples/FabricCapacities_CheckNameAvailability.json
  specification/fabric/resource-manager/Microsoft.Fabric/preview/2025-01-15-preview/examples/FabricCapacities_CreateOrUpdate.json
  specification/fabric/resource-manager/Microsoft.Fabric/preview/2025-01-15-preview/examples/FabricCapacities_Delete.json
  specification/fabric/resource-manager/Microsoft.Fabric/preview/2025-01-15-preview/examples/FabricCapacities_Get.json
  specification/fabric/resource-manager/Microsoft.Fabric/preview/2025-01-15-preview/examples/FabricCapacities_ListByResourceGroup.json
  specification/fabric/resource-manager/Microsoft.Fabric/preview/2025-01-15-preview/examples/FabricCapacities_ListBySubscription.json
  specification/fabric/resource-manager/Microsoft.Fabric/preview/2025-01-15-preview/examples/FabricCapacities_ListSkus.json
  specification/fabric/resource-manager/Microsoft.Fabric/preview/2025-01-15-preview/examples/FabricCapacities_ListSkusForCapacity.json
  specification/fabric/resource-manager/Microsoft.Fabric/preview/2025-01-15-preview/examples/FabricCapacities_ListUsagesBySubscription.json
  specification/fabric/resource-manager/Microsoft.Fabric/preview/2025-01-15-preview/examples/FabricCapacities_Resume.json
  specification/fabric/resource-manager/Microsoft.Fabric/preview/2025-01-15-preview/examples/FabricCapacities_Suspend.json
  specification/fabric/resource-manager/Microsoft.Fabric/preview/2025-01-15-preview/examples/FabricCapacities_Update.json
  specification/fabric/resource-manager/Microsoft.Fabric/preview/2025-01-15-preview/examples/Operations_List.json
  specification/fabric/resource-manager/Microsoft.Fabric/preview/2025-01-15-preview/fabric.json
  specification/fabric/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, TypeSpec, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk, PublishToCustomers

#32376 [EngSys] Convert GitHub actions to ESM, add placeholder tests
  .github/actions/setup-node-install-deps/action.yaml
  .github/actions/setup-node-npm-ci/action.yaml
  .github/actions/update-labels/action.yaml
  .github/actions/update-labels/src/update-labels.js
  .github/actions/update-labels/test/update-labels.test.js
  .github/package.json
  .github/src/context.js
  .github/test/context.test.js
  .github/workflows/SDK-Suppressions-Label.yaml
  .github/workflows/_reusable-eng-tools-test.yaml
  .github/workflows/github-test.yaml
  .github/workflows/typespec-requirement.yaml
  .github/workflows/typespec-validation-all.yaml
  .github/workflows/typespec-validation.yaml
Labels: PipelineBotTrigger

#32303 SecurityInsights Incidents - Add mergedIncidentUrl and mergedIncidentNumber + Remove CreateTeam
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2025-01-01-preview/Incidents.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2025-01-01-preview/examples/incidents/IncidentTeam/Incidents_CreateTeam.json
Labels: ARMSignedOff, customer-reported, resource-manager

#32368 Eg sysevents package updates
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/propertyNameOverride.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/propertyNameOverrideJava.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/tspconfig.yaml
Labels: Event Grid, TypeSpec

#32394 Sync eng/common directory with azure-sdk-tools for PR 9724
  eng/common/pipelines/templates/jobs/archetype-spec-gen-sdk.yml
  eng/common/pipelines/templates/stages/archetype-spec-gen-sdk.yml
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32364 Added 1es common template and updated default param values
  eng/pipelines/spec-gen-sdk.yml
  eng/pipelines/templates/stages/1es-redirect.yml
Labels: PipelineBotTrigger

#32393 Sync eng/common directory with azure-sdk-tools for PR 9732
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#32389 [TypeSpec APIView] remove client tsp as criteria for tsp project
  eng/scripts/Create-APIView.ps1
Labels: Central-EngSys

#32377 adding Missing property meterId
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2024-08-01/costmanagement.pricesheets.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, Versioning-Approved-BugFix, VersioningReviewRequired, PublishToCustomers, brownfield

#32350 Update Key Vault Service Attention mentionees
  .github/policies/resourceManagement.yml
Labels: PipelineBotTrigger

#32342 documented unsupported in description
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-04-01-preview/Maintenance.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2021-09-01-preview/Maintenance.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-07-01-preview/Maintenance.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2022-11-01-preview/Maintenance.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-09-01-preview/Maintenance.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/Maintenance.json
  specification/maintenance/resource-manager/Microsoft.Maintenance/stable/2023-04-01/Maintenance.json
Labels: ARMSignedOff, customer-reported, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers, brownfield

#32418 [Microsoft.LoadTestService] Improvements to Load Test Service DataPlane Specs for better SDK Generation
  specification/loadtestservice/LoadTestService/models.testprofile.tsp
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-05-01-preview/loadtestservice.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-07-01-preview/loadtestservice.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-12-01-preview/loadtestservice.json
Labels: Load Test Service, data-plane, TypeSpec, BreakingChange-Approved-BugFix, PublishToCustomers

#32365 Update typespec
  specification/securitycopilot/TypeSpec/SkillContext/models.tsp
  specification/securitycopilot/TypeSpec/SkillContext/routes.tsp
Labels: TypeSpec
