Repository Azure/azure-rest-api-specs, pull requests merged in 2025-10, with the labels that each got.

#37492 feat: add AKS node customization resource typespec
  specification/containerservice/NodeCustomization.Management/cspell.yaml
  specification/containerservice/NodeCustomization.Management/examples/2025-08-02-preview/NodeCustomizations_CreateOrUpdate.json
  specification/containerservice/NodeCustomization.Management/examples/2025-08-02-preview/NodeCustomizations_Delete.json
  specification/containerservice/NodeCustomization.Management/examples/2025-08-02-preview/NodeCustomizations_DeleteVersion.json
  specification/containerservice/NodeCustomization.Management/examples/2025-08-02-preview/NodeCustomizations_Get.json
  specification/containerservice/NodeCustomization.Management/examples/2025-08-02-preview/NodeCustomizations_GetVersion.json
  specification/containerservice/NodeCustomization.Management/examples/2025-08-02-preview/NodeCustomizations_ListByResourceGroup.json
  specification/containerservice/NodeCustomization.Management/examples/2025-08-02-preview/NodeCustomizations_ListBySubscription.json
  specification/containerservice/NodeCustomization.Management/examples/2025-08-02-preview/NodeCustomizations_ListVersions.json
  specification/containerservice/NodeCustomization.Management/examples/2025-08-02-preview/NodeCustomizations_Update.json
  specification/containerservice/NodeCustomization.Management/examples/2025-08-02-preview/Operations_List.json
  specification/containerservice/NodeCustomization.Management/examples/2025-09-02-preview/NodeCustomizations_CreateOrUpdate.json
  specification/containerservice/NodeCustomization.Management/examples/2025-09-02-preview/NodeCustomizations_Delete.json
  specification/containerservice/NodeCustomization.Management/examples/2025-09-02-preview/NodeCustomizations_DeleteVersion.json
  specification/containerservice/NodeCustomization.Management/examples/2025-09-02-preview/NodeCustomizations_Get.json
  specification/containerservice/NodeCustomization.Management/examples/2025-09-02-preview/NodeCustomizations_GetVersion.json
  specification/containerservice/NodeCustomization.Management/examples/2025-09-02-preview/NodeCustomizations_ListByResourceGroup.json
  specification/containerservice/NodeCustomization.Management/examples/2025-09-02-preview/NodeCustomizations_ListBySubscription.json
  specification/containerservice/NodeCustomization.Management/examples/2025-09-02-preview/NodeCustomizations_ListVersions.json
  specification/containerservice/NodeCustomization.Management/examples/2025-09-02-preview/NodeCustomizations_Update.json
  specification/containerservice/NodeCustomization.Management/examples/2025-09-02-preview/Operations_List.json
  specification/containerservice/NodeCustomization.Management/helpers.tsp
  specification/containerservice/NodeCustomization.Management/main.tsp
  specification/containerservice/NodeCustomization.Management/models.tsp
  specification/containerservice/NodeCustomization.Management/operations.tsp
  specification/containerservice/NodeCustomization.Management/tspconfig.yaml
  specification/containerservice/resource-manager/Microsoft.ContainerService/node_customization/preview/2025-08-02-preview/examples/NodeCustomizations_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/node_customization/preview/2025-08-02-preview/examples/NodeCustomizations_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/node_customization/preview/2025-08-02-preview/examples/NodeCustomizations_DeleteVersion.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/node_customization/preview/2025-08-02-preview/examples/NodeCustomizations_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/node_customization/preview/2025-08-02-preview/examples/NodeCustomizations_GetVersion.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/node_customization/preview/2025-08-02-preview/examples/NodeCustomizations_ListByResourceGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/node_customization/preview/2025-08-02-preview/examples/NodeCustomizations_ListBySubscription.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/node_customization/preview/2025-08-02-preview/examples/NodeCustomizations_ListVersions.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/node_customization/preview/2025-08-02-preview/examples/NodeCustomizations_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/node_customization/preview/2025-08-02-preview/examples/Operations_List.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/node_customization/preview/2025-08-02-preview/nodecustomization.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/node_customization/preview/2025-09-02-preview/examples/NodeCustomizations_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/node_customization/preview/2025-09-02-preview/examples/NodeCustomizations_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/node_customization/preview/2025-09-02-preview/examples/NodeCustomizations_DeleteVersion.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/node_customization/preview/2025-09-02-preview/examples/NodeCustomizations_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/node_customization/preview/2025-09-02-preview/examples/NodeCustomizations_GetVersion.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/node_customization/preview/2025-09-02-preview/examples/NodeCustomizations_ListByResourceGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/node_customization/preview/2025-09-02-preview/examples/NodeCustomizations_ListBySubscription.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/node_customization/preview/2025-09-02-preview/examples/NodeCustomizations_ListVersions.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/node_customization/preview/2025-09-02-preview/examples/NodeCustomizations_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/node_customization/preview/2025-09-02-preview/examples/Operations_List.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/node_customization/preview/2025-09-02-preview/nodecustomization.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/node_customization/readme.go.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/node_customization/readme.java.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/node_customization/readme.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/node_customization/readme.nodejs.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/node_customization/readme.python.md
Labels: ARMSignedOff, Container Service, ARMReview, resource-manager, new-api-version, TypeSpec, PublishToCustomers

#37123 Release SMS to GA
  specification/communication/data-plane/Sms/readme.md
  specification/communication/data-plane/Sms/stable/2026-01-23/communicationservicessms.json
  specification/communication/data-plane/Sms/stable/2026-01-23/examples/DeliveryReportGet.json
  specification/communication/data-plane/Sms/stable/2026-01-23/examples/OptOutAdd.json
  specification/communication/data-plane/Sms/stable/2026-01-23/examples/OptOutCheck.json
  specification/communication/data-plane/Sms/stable/2026-01-23/examples/OptOutRemove.json
  specification/communication/data-plane/Sms/stable/2026-01-23/examples/SmsSend.json
Labels: APIStewardshipBoard-SignedOff, data-plane, BreakingChangeReviewRequired, new-api-version, BreakingChange-Approved-Benign, PublishToCustomers, brownfield

#36253 Add Read Receipts and Typing Indicators for ACS Advanced Messaging
  specification/communication/Communication.Messages/client.tsp
  specification/communication/Communication.Messages/examples/2025-09-01-preview/ConversationAdministration_CreateConversation.json
  specification/communication/Communication.Messages/examples/2025-09-01-preview/ConversationAdministration_DeleteConversation.json
  specification/communication/Communication.Messages/examples/2025-09-01-preview/ConversationAdministration_GetConversation.json
  specification/communication/Communication.Messages/examples/2025-09-01-preview/ConversationAdministration_TerminateConversation.json
  specification/communication/Communication.Messages/examples/2025-09-01-preview/ConversationThread_AddParticipants.json
  specification/communication/Communication.Messages/examples/2025-09-01-preview/ConversationThread_AnalyzeConversation.json
  specification/communication/Communication.Messages/examples/2025-09-01-preview/ConversationThread_ListConversations.json
  specification/communication/Communication.Messages/examples/2025-09-01-preview/ConversationThread_ListMessages.json
  specification/communication/Communication.Messages/examples/2025-09-01-preview/ConversationThread_RemoveParticipants.json
  specification/communication/Communication.Messages/examples/2025-09-01-preview/ConversationThread_SendMessage.json
  specification/communication/Communication.Messages/examples/2025-09-01-preview/NotificationMessages_SendAudio.json
  specification/communication/Communication.Messages/examples/2025-09-01-preview/NotificationMessages_SendButtonInteractiveMessage.json
  specification/communication/Communication.Messages/examples/2025-09-01-preview/NotificationMessages_SendDocument.json
  specification/communication/Communication.Messages/examples/2025-09-01-preview/NotificationMessages_SendImage.json
  specification/communication/Communication.Messages/examples/2025-09-01-preview/NotificationMessages_SendListInteractiveMessage.json
  specification/communication/Communication.Messages/examples/2025-09-01-preview/NotificationMessages_SendReaction.json
  specification/communication/Communication.Messages/examples/2025-09-01-preview/NotificationMessages_SendReadReceipt.json
  specification/communication/Communication.Messages/examples/2025-09-01-preview/NotificationMessages_SendSticker.json
  specification/communication/Communication.Messages/examples/2025-09-01-preview/NotificationMessages_SendTemplate.json
  specification/communication/Communication.Messages/examples/2025-09-01-preview/NotificationMessages_SendText.json
  specification/communication/Communication.Messages/examples/2025-09-01-preview/NotificationMessages_SendUrlInteractiveMessage.json
  specification/communication/Communication.Messages/examples/2025-09-01-preview/NotificationMessages_SendVideo.json
  specification/communication/Communication.Messages/examples/2025-09-01-preview/Stream_GetMedia.json
  specification/communication/Communication.Messages/examples/2025-09-01-preview/Template_ListTemplates.json
  specification/communication/Communication.Messages/models.tsp
  specification/communication/Communication.Messages/routes.tsp
  specification/communication/Communication.Messages/tspconfig.yaml
  specification/communication/data-plane/Messages/preview/2025-09-01-preview/communicationservicesmessages.json
  specification/communication/data-plane/Messages/preview/2025-09-01-preview/examples/ConversationAdministration_CreateConversation.json
  specification/communication/data-plane/Messages/preview/2025-09-01-preview/examples/ConversationAdministration_DeleteConversation.json
  specification/communication/data-plane/Messages/preview/2025-09-01-preview/examples/ConversationAdministration_GetConversation.json
  specification/communication/data-plane/Messages/preview/2025-09-01-preview/examples/ConversationAdministration_TerminateConversation.json
  specification/communication/data-plane/Messages/preview/2025-09-01-preview/examples/ConversationThread_AddParticipants.json
  specification/communication/data-plane/Messages/preview/2025-09-01-preview/examples/ConversationThread_AnalyzeConversation.json
  specification/communication/data-plane/Messages/preview/2025-09-01-preview/examples/ConversationThread_ListConversations.json
  specification/communication/data-plane/Messages/preview/2025-09-01-preview/examples/ConversationThread_ListMessages.json
  specification/communication/data-plane/Messages/preview/2025-09-01-preview/examples/ConversationThread_RemoveParticipants.json
  specification/communication/data-plane/Messages/preview/2025-09-01-preview/examples/ConversationThread_SendMessage.json
  specification/communication/data-plane/Messages/preview/2025-09-01-preview/examples/NotificationMessages_SendAudio.json
  specification/communication/data-plane/Messages/preview/2025-09-01-preview/examples/NotificationMessages_SendButtonInteractiveMessage.json
  specification/communication/data-plane/Messages/preview/2025-09-01-preview/examples/NotificationMessages_SendDocument.json
  specification/communication/data-plane/Messages/preview/2025-09-01-preview/examples/NotificationMessages_SendImage.json
  specification/communication/data-plane/Messages/preview/2025-09-01-preview/examples/NotificationMessages_SendListInteractiveMessage.json
  specification/communication/data-plane/Messages/preview/2025-09-01-preview/examples/NotificationMessages_SendReaction.json
  specification/communication/data-plane/Messages/preview/2025-09-01-preview/examples/NotificationMessages_SendReadReceipt.json
  specification/communication/data-plane/Messages/preview/2025-09-01-preview/examples/NotificationMessages_SendSticker.json
  specification/communication/data-plane/Messages/preview/2025-09-01-preview/examples/NotificationMessages_SendTemplate.json
  specification/communication/data-plane/Messages/preview/2025-09-01-preview/examples/NotificationMessages_SendText.json
  specification/communication/data-plane/Messages/preview/2025-09-01-preview/examples/NotificationMessages_SendUrlInteractiveMessage.json
  specification/communication/data-plane/Messages/preview/2025-09-01-preview/examples/NotificationMessages_SendVideo.json
  specification/communication/data-plane/Messages/preview/2025-09-01-preview/examples/Stream_GetMedia.json
  specification/communication/data-plane/Messages/preview/2025-09-01-preview/examples/Template_ListTemplates.json
  specification/communication/data-plane/Messages/readme.md
Labels: DataPlane, APIStewardshipBoard-SignedOff, data-plane, new-api-version, TypeSpec, PipelineBotTrigger, PublishToCustomers

#37888 Update blob enum
  specification/storage/data-plane/Microsoft.BlobStorage/stable/2026-04-06/blob.json
Labels: Storage, data-plane, brownfield

#37896 Fix documentation generation blocking in VirtualWan.json
  specification/network/resource-manager/Microsoft.Network/stable/2025-01-01/virtualWan.json
Labels: Network, WaitForARMFeedback, ARMReview, resource-manager, brownfield

#37891 Sync eng/common directory with azure-sdk-tools for PR 10858
  eng/common/pipelines/templates/jobs/perf.yml
  eng/common/pipelines/templates/steps/detect-api-changes.yml
Labels: EngSys, Central-EngSys

#37789 Update UDR config properties for Microsoft.Network
  specification/network/resource-manager/Microsoft.Network/stable/2025-01-01/examples/NetworkManagerRoutingConfigurationGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2025-01-01/examples/NetworkManagerRoutingConfigurationList.json
  specification/network/resource-manager/Microsoft.Network/stable/2025-01-01/examples/NetworkManagerRoutingConfigurationPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2025-01-01/networkManagerRoutingConfiguration.json
Labels: Network, ARMSignedOff, ARMReview, resource-manager, brownfield

#37905 Sync eng/common directory with azure-sdk-tools for PR 12325
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Labels: EngSys, Central-EngSys

#37875 Add compare insight type
  specification/ai/Azure.AI.Projects/insights/models.tsp
Labels: TypeSpec

#37340 Application Gateway L4 Client IP Preservation Support
  specification/network/resource-manager/Microsoft.Network/stable/2025-01-01/applicationGateway.json
Labels: Network, ARMSignedOff, ARMReview, resource-manager, brownfield

#37912 Remove Java API version pin
  specification/healthdataaiservices/HealthDataAIServices.DeidServices/tspconfig.yaml
Labels: TypeSpec

#37916 Sync eng/common directory with azure-sdk-tools for PR 12337
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
Labels: EngSys, Central-EngSys

#37925 Fix Agents config
  specification/ai/Azure.AI.Agents/tspconfig.yaml
Labels: TypeSpec

#37933 Adding missing properties : Label, suggestion, Usage
  specification/ai/Azure.AI.Projects/insights/models.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-10-15-preview/azure-ai-projects.json
Labels: data-plane, TypeSpec

#37844 Add isDefaultBucket property in ThroughputBucketResource
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-11-01-preview/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-11-01-preview/examples/CosmosDBSqlContainerThroughputGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-11-01-preview/examples/CosmosDBSqlContainerThroughputUpdate.json
Labels: Cosmos, resource-manager, brownfield

#37868 Garnet cache preview specs
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-11-01-preview/examples/CosmosDBGarnetClusterCreate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-11-01-preview/examples/CosmosDBGarnetClusterDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-11-01-preview/examples/CosmosDBGarnetClusterGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-11-01-preview/examples/CosmosDBGarnetClusterListByResourceGroup.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-11-01-preview/examples/CosmosDBGarnetClusterListBySubscription.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-11-01-preview/examples/CosmosDBGarnetClusterPatch.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-11-01-preview/garnetCache.json
  specification/cosmos-db/resource-manager/readme.md
Labels: Cosmos, resource-manager, brownfield

#37853 [cdb20251015st] Add fullTextIndexes support to REST API specs
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2025-10-15/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2025-10-15/examples/CosmosDBSqlContainerCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2025-10-15/examples/CosmosDBSqlContainerGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2025-10-15/examples/CosmosDBSqlContainerList.json
Labels: Cosmos, resource-manager, BreakingChange-JavaScript-Sdk, brownfield

#37866 [cdb20251101pr] Add fullTextIndexes support to REST API specs
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-11-01-preview/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-11-01-preview/examples/CosmosDBSqlContainerCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-11-01-preview/examples/CosmosDBSqlContainerGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-11-01-preview/examples/CosmosDBSqlContainerList.json
Labels: Cosmos, resource-manager, brownfield
