Repository Azure/azure-rest-api-specs, pull requests merged in 2025-09, with the labels that each got.

#37068 [storage mover] Update client.tsp to avoid unnecessary breaking changes from python sdk
  specification/storagemover/StorageMover.Management/client.tsp
Labels: TypeSpec, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk

#37070 Add publish state to JobType
  specification/edge/Microsoft.Edge.ConfigurationManager.Management/Job.tsp
  specification/edge/resource-manager/Microsoft.Edge/configurationmanager/stable/2025-08-01/configurationmanager.json
Labels: ARMSignedOff, ARMReview, resource-manager, RPaaS, BreakingChangeReviewRequired, TypeSpec, BreakingChange-Approved-BugFix, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk, PublishToCustomers, ARMAutoSignedOff

#37077 Fix readme.md in Advisor
  specification/advisor/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired, PublishToCustomers, ARMAutoSignedOff

#36937 [edgeorder] Remove useless suppression
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/EdgeOrder/models.tsp
Labels: ARMSignedOff, ARMReview, resource-manager, TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-Python-Sdk, PublishToCustomers

#36946 [databox] Remove private decorators
  specification/databox/DataBox.Management/models.tsp
Labels: TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk, PublishToCustomers

#35643 [Bicep.Management] Fix C# names to align with original SDK
  specification/resources/Bicep.Management/client.tsp
Labels: TypeSpec, PipelineBotTrigger

#36668 [StorageTask] Bugfix for maxpagesize and output regex
  specification/storage/resource-manager/Microsoft.Storage/stable/2023-05-01/storageTaskAssignments.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2024-01-01/storageTaskAssignments.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2025-01-01/storageTaskAssignments.json
Labels: Storage, ARMSignedOff, ARMReview, resource-manager, RPaaS, BreakingChangeReviewRequired, BreakingChange-Approved-BugFix, BreakingChange-Go-Sdk-Approved, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk, PublishToCustomers, brownfield

#36818 feat(apim): Make url/protocol optional in Backend and provide examples for load balancer
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2025-03-01-preview/apimbackends.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2025-03-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2025-03-01-preview/examples/ApiManagementCreateBackendWithPriorityBasedLoadBalancer.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2025-03-01-preview/examples/ApiManagementCreateBackendWithSimpleLoadBalancer.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2025-03-01-preview/examples/ApiManagementCreateBackendWithWeightedLoadBalancer.json
Labels: API Management, resource-manager, brownfield, 2025-03-01-preview

#34804 Added Logic App Extension to stable api version
  specification/app/cspell.yaml
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/LogicAppsExtension.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/ContainerApps_Kind_FunctionApp_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/ContainerApps_Kind_WorkflowApp_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/LogicApps_Create.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/LogicApps_Delete.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/LogicApps_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/LogicApps_GetWorkflow.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/LogicApps_ListConnections.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/LogicApps_ListWorkflows.json
  specification/app/resource-manager/readme.md
Labels: WaitForARMFeedback, ARMSignedOff, resource-manager, brownfield

#37106 Fix lintdiff for Microsoft.ContainerService/aks in version preview/2025-07-02-preview
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2025-07-02-preview/managedClusters.json
Labels: Container Service, resource-manager, brownfield

#36737 feat(apim): Introduce azureRegion & preferredCarbonEmission in Backend resource
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2025-03-01-preview/apimbackends.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2025-03-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2025-03-01-preview/examples/ApiManagementCreateBackendWithAzureRegion.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2025-03-01-preview/examples/ApiManagementCreateBackendWithCarbonAwareLoadBalancer.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2025-03-01-preview/examples/ApiManagementListBackends.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2025-03-01-preview/examples/ApiManagementUpdateBackend.json
  specification/apimanagement/resource-manager/readme.md
Labels: API Management, resource-manager, brownfield, 2025-03-01-preview

#37107 Update CloudError for Microsoft.ContainerService/aks in version preview/2025-07-02-preview
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2025-07-02-preview/managedClusters.json
Labels: Container Service, resource-manager, brownfield

#37076 update compute recommander config
  specification/compute/resource-manager/Microsoft.Compute/RecommenderRP/client.tsp
  specification/compute/resource-manager/Microsoft.Compute/RecommenderRP/tspconfig.yaml
Labels: Compute, ARMSignedOff, ARMReview, resource-manager, TypeSpec, PublishToCustomers

#37113 [Fabric] Add back the stable version that was removed by mistake
  specification/fabric/Microsoft.Fabric.Management/capacity.tsp
  specification/fabric/Microsoft.Fabric.Management/main.tsp
  specification/fabric/Microsoft.Fabric.Management/models.tsp
Labels: TypeSpec

#37147 update the typespec in fabric
  specification/fabric/Microsoft.Fabric.Management/capacity.tsp
  specification/fabric/Microsoft.Fabric.Management/models.tsp
  specification/fabric/resource-manager/Microsoft.Fabric/preview/2025-01-15-preview/fabric.json
  specification/fabric/resource-manager/Microsoft.Fabric/stable/2023-11-01/fabric.json
Labels: ARMSignedOff, ARMReview, resource-manager, TypeSpec, PublishToCustomers, ARMAutoSignedOff

#37164 [Fabric] Specify the api version used for .NET SDK generation
  specification/fabric/Microsoft.Fabric.Management/tspconfig.yaml
Labels: TypeSpec

#37127 Copy HttpRouteConfig to 2025-07-01 and cleanup
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/ManagedEnvironmentsHttpRouteConfig.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/HttpRouteConfig_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/HttpRouteConfig_CreateOrUpdatePrefix.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/HttpRouteConfig_CreateOrUpdate_PathSepPrefix.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/HttpRouteConfig_Delete.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/HttpRouteConfig_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/HttpRouteConfig_ListByManagedEnvironment.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/HttpRouteConfig_Patch.json
  specification/app/resource-manager/readme.md
Labels: BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk, brownfield

#37159 Sync eng/common directory with azure-sdk-tools for PR 11974
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-PullRequest-In-ReleasePlan.ps1
Labels: EngSys, Central-EngSys

#37168 [AKS] add Flatcar ossku to preview
  specification/containerservice/cspell.yaml
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2025-08-02-preview/managedClusters.json
Labels: Container Service, resource-manager, brownfield

#37163 Adds changes for Istio CNI to 2025-08-02-preview API
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2025-08-02-preview/managedClusters.json
Labels: Container Service, resource-manager, brownfield

#37171 nguyenquang/2025 08 01 GA ACNS Advanced Network Policies API
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2025-08-01/managedClusters.json
Labels: Container Service, resource-manager, brownfield

#37188 Update CloudError for Microsoft.ContainerService/aks in version stable/2025-08-01
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2025-08-01/managedClusters.json
Labels: Container Service, resource-manager, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk, brownfield

#37185 fix readme file for linter
  specification/marketplacecatalog/resource-manager/Reviews/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, PublishToCustomers, ARMAutoSignedOff

#37174 Updated tspconfig.yaml file to generate SDK properly for python, java…
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/tspconfig.yaml
Labels: TypeSpec

#37152 Add enable firewall log and enable network monitor property.
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2025-09-01/examples/Workspace/create.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2025-09-01/examples/Workspace/update.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2025-09-01/workspaceRP.json
Labels: ARMSignedOff, ARMReview, resource-manager, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-JavaScript-Sdk, brownfield

#37156 Rectify 2024-11-01 preview API to make it backward compatible with previous API versions
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-11-01-preview/containerInstance.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-11-01-preview/examples/ContainerGroupCreateConfidential.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-11-01-preview/examples/ContainerGroupCreateOrUpdateStandbyPool.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-11-01-preview/examples/ContainerGroupEncryptionProperties.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-11-01-preview/examples/ContainerGroupExtensions.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-11-01-preview/examples/ContainerGroupProfilesDelete.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-11-01-preview/examples/ContainerGroupsCreateOrUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-11-01-preview/examples/ContainerGroupsCreateOrUpdateSecretReference.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-11-01-preview/examples/ContainerGroupsCreatePriority.json
Labels: ARMSignedOff, Container Instances, ARMReview, resource-manager, Versioning-Approved-BugFix, VersioningReviewRequired, PublishToCustomers, brownfield

#37237 Update client.tsp for Azure.ResourceManager.Resource.Bicep
  specification/resources/Bicep.Management/client.tsp
Labels: TypeSpec

#37238 [servicefabricmesh] Add readme.python.md
  specification/servicefabricmesh/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, PublishToCustomers

#37240 [hybriddatamanager] Add readme.python.md
  specification/hybriddatamanager/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, PublishToCustomers

#37252 Fix namespace to azure.ai.textanalytics
  specification/cognitiveservices/Language.AnalyzeText/main.tsp
  specification/cognitiveservices/Language.AnalyzeText/tspconfig.yaml
Labels: Cognitive Services, TypeSpec

#37041 Blob TypeSpec updates: Storage STG 100
  specification/storage/Microsoft.BlobStorage/examples/2026-02-06/placeholder.md
  specification/storage/Microsoft.BlobStorage/main.tsp
  specification/storage/Microsoft.BlobStorage/models.tsp
  specification/storage/Microsoft.BlobStorage/routes.tsp
  specification/storage/data-plane/Microsoft.BlobStorage/readme.md
  specification/storage/data-plane/Microsoft.BlobStorage/stable/2026-02-06/generated_blob.json
Labels: Storage, data-plane, TypeSpec, VersioningReviewRequired

#36936 [dns] Remove private decorators
  specification/dns/resource-manager/Microsoft.Network/Dns/DnssecConfig.tsp
  specification/dns/resource-manager/Microsoft.Network/Dns/RecordSet.tsp
  specification/dns/resource-manager/Microsoft.Network/Dns/Zone.tsp
  specification/dns/resource-manager/Microsoft.Network/Dns/legacy.tsp
  specification/dns/resource-manager/Microsoft.Network/Dns/main.tsp
  specification/dns/resource-manager/Microsoft.Network/Dns/models.tsp
  specification/dns/resource-manager/Microsoft.Network/Dns/preview/2023-07-01-preview/dns.json
Labels: ARMSignedOff, Network - DNS, ARMReview, resource-manager, TypeSpec, PublishToCustomers, ARMAutoSignedOff

#37178 fix the nvainvnet swagger
  specification/network/resource-manager/Microsoft.Network/stable/2024-10-01/networkVirtualAppliance.json
Labels: Network, ARMSignedOff, ARMReview, resource-manager, BreakingChangeReviewRequired, BreakingChange-Approved-BugFix, PublishToCustomers, brownfield

#37282 Consolidate definition of `NetworkIsolationSettings`
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-11-01-preview/Servers.json
Labels: SQL, ARMSignedOff, Approved-Avocado, ARMReview, resource-manager, PublishToCustomers, brownfield

#37017 Add stable API version 09-01 for StorageDiscovery
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/examples/2025-09-01/Operation_List.json
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/examples/2025-09-01/Report_GenerateReport.json
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/examples/2025-09-01/Report_Get.json
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/examples/2025-09-01/Report_ListByResourceGroup.json
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/examples/2025-09-01/Report_ListBySubscription.json
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/examples/2025-09-01/StorageDiscoveryWorkspaces_CreateOrUpdate.json
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/examples/2025-09-01/StorageDiscoveryWorkspaces_Delete.json
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/examples/2025-09-01/StorageDiscoveryWorkspaces_Get.json
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/examples/2025-09-01/StorageDiscoveryWorkspaces_ListByResourceGroup.json
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/examples/2025-09-01/StorageDiscoveryWorkspaces_ListBySubscription.json
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/examples/2025-09-01/StorageDiscoveryWorkspaces_Report.json
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/examples/2025-09-01/StorageDiscoveryWorkspaces_Update.json
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/versions.tsp
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/stable/2025-09-01/examples/Operation_List.json
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/stable/2025-09-01/examples/Report_GenerateReport.json
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/stable/2025-09-01/examples/Report_Get.json
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/stable/2025-09-01/examples/Report_ListByResourceGroup.json
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/stable/2025-09-01/examples/Report_ListBySubscription.json
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/stable/2025-09-01/examples/StorageDiscoveryWorkspaces_CreateOrUpdate.json
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/stable/2025-09-01/examples/StorageDiscoveryWorkspaces_Delete.json
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/stable/2025-09-01/examples/StorageDiscoveryWorkspaces_Get.json
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/stable/2025-09-01/examples/StorageDiscoveryWorkspaces_ListByResourceGroup.json
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/stable/2025-09-01/examples/StorageDiscoveryWorkspaces_ListBySubscription.json
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/stable/2025-09-01/examples/StorageDiscoveryWorkspaces_Report.json
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/stable/2025-09-01/examples/StorageDiscoveryWorkspaces_Update.json
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/stable/2025-09-01/storageDiscoveryWorkspace.json
  specification/storagediscovery/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, RPaaS, new-api-version, TypeSpec, PublishToCustomers, ARMAutoSignedOff

#37382 Add node customization profile to MC agentpool swagger with example
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2025-08-02-preview/examples/AgentPoolsCreate_NodeCustomization.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2025-08-02-preview/managedClusters.json
Labels: Container Service, resource-manager, brownfield

#37332 [recoveryservices] add client title for python
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/RecoveryServices/client.tsp
Labels: ARMSignedOff, RecoveryServices, ARMReview, resource-manager, TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk, PublishToCustomers

#37334 [Help] move subid to method level to avoid SDK breakings
  specification/help/resource-manager/Microsoft.Help/Help/back-compatible.tsp
Labels: ARMSignedOff, ARMReview, resource-manager, TypeSpec, PublishToCustomers

#36731 Add SalesforceV2 partitionOption
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Labels: ARMSignedOff, ARMReview, resource-manager, data-plane, Versioning-Approved-BugFix, VersioningReviewRequired, PublishToCustomers

#37401 [disconnectedoperations] Create client.tsp
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/client.tsp
Labels: TypeSpec

#37403 Remove `service-dir` from `typespec-java` in tspconfig
  specification/redis/Cache.Management/tspconfig.yaml
Labels: Redis Cache, TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk

#37424 Sync eng/common directory with azure-sdk-tools for PR 11931
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Labels: EngSys, Central-EngSys

#37383 Adding/expanding descriptions of some properties and updating async response for new API per review feedback
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2025-06-01-preview/azurearcdata.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2025-06-01-preview/examples/GetSqlServerInstanceManagedInstanceLinkAssessment.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2025-06-01-preview/sqlServerAvailabilityGroups.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2025-06-01-preview/sqlServerInstances.json
Labels: ARMSignedOff, ARMReview, resource-manager, RPaaS, brownfield

#37434 [quota] Update client.tsp
  specification/quota/Quota.Management/client.tsp
Labels: TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk, PublishToCustomers

#37354 [hybridkubernetes][Microsoft.Kubernetes][Preview]Added 2025-12-01-preview to update ConnectedClusterKind with GCP enum
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2025-12-01-preview/ConnectedClustersListClusterCredentialResultCSPAAD.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2025-12-01-preview/ConnectedClustersListClusterCredentialResultCSPToken.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2025-12-01-preview/ConnectedClustersListClusterCredentialResultHPAAD.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2025-12-01-preview/ConnectedClustersListClusterCredentialResultHPToken.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2025-12-01-preview/CreateClusterAgentless_KindAWSExample.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2025-12-01-preview/CreateClusterAgentless_KindGCPExample.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2025-12-01-preview/CreateClusterExample.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2025-12-01-preview/CreateClusterPrivateLinkExample.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2025-12-01-preview/CreateCluster_KindExample.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2025-12-01-preview/DeleteClusterExample.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2025-12-01-preview/GetClusterExample.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2025-12-01-preview/GetClustersByResourceGroupExample.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2025-12-01-preview/GetClustersBySubscriptionExample.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2025-12-01-preview/GetProvisionedClusterExample.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2025-12-01-preview/ListConnectedClusterOperationsExample.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2025-12-01-preview/UpdateClusterByPatchExample.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2025-12-01-preview/UpdateClusterByPutExample.json
  specification/hybridkubernetes/HybridKubernetes.Management/main.tsp
  specification/hybridkubernetes/HybridKubernetes.Management/models.tsp
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2025-12-01-preview/connectedClusters.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2025-12-01-preview/examples/ConnectedClustersListClusterCredentialResultCSPAAD.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2025-12-01-preview/examples/ConnectedClustersListClusterCredentialResultCSPToken.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2025-12-01-preview/examples/ConnectedClustersListClusterCredentialResultHPAAD.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2025-12-01-preview/examples/ConnectedClustersListClusterCredentialResultHPToken.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2025-12-01-preview/examples/CreateClusterAgentless_KindAWSExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2025-12-01-preview/examples/CreateClusterAgentless_KindGCPExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2025-12-01-preview/examples/CreateClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2025-12-01-preview/examples/CreateClusterPrivateLinkExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2025-12-01-preview/examples/CreateCluster_KindExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2025-12-01-preview/examples/DeleteClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2025-12-01-preview/examples/GetClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2025-12-01-preview/examples/GetClustersByResourceGroupExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2025-12-01-preview/examples/GetClustersBySubscriptionExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2025-12-01-preview/examples/GetProvisionedClusterExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2025-12-01-preview/examples/ListConnectedClusterOperationsExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2025-12-01-preview/examples/UpdateClusterByPatchExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2025-12-01-preview/examples/UpdateClusterByPutExample.json
  specification/hybridkubernetes/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, RPaaS, BreakingChangeReviewRequired, new-api-version, TypeSpec, BreakingChange-Approved-Previously, PublishToCustomers, ARMAutoSignedOff

#37483 Change ZoneRedundant property to bool
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2025-03-01-preview/apimdeployment.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2025-03-01-preview/examples/ApiManagementCreateServiceWithZoneRedundant.json
Labels: API Management, resource-manager, brownfield, 2025-03-01-preview

#37425 [Monitor Query Logs] .NET client updates
  specification/monitor/Monitor.Query.Logs/client.tsp
  specification/monitor/Monitor.Query.Logs/tspconfig.yaml
Labels: Monitor, TypeSpec

#37493 quota, java, backward-compatible change
  specification/quota/Quota.Management/CurrentQuotaLimitBase.tsp
  specification/quota/Quota.Management/client.tsp
Labels: TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk

#37498 fix emitter options for csharp in storageactions and portalservices
  specification/portalservices/CopilotSettings.Management/tspconfig.yaml
  specification/storageactions/StorageAction.Management/tspconfig.yaml
Labels: TypeSpec

#37499 add go config
  specification/kubernetesruntime/KubernetesRuntime.Management/tspconfig.yaml
  specification/programmableconnectivity/ProgrammableConnectivity.Management/tspconfig.yaml
Labels: TypeSpec

#37494 update powershell module version
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/tspconfig.yaml
Labels: TypeSpec

#37500 docs(apim): Provide description for carbon emission category
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2025-03-01-preview/definitions.json
Labels: API Management, resource-manager, brownfield, 2025-03-01-preview

#37536 Address review comments for MCP Tools resource API
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2025-03-01-preview/apimanagement.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2025-03-01-preview/definitions.json
Labels: API Management

#37373 Update rust specs to be compatible with tsp-client generation
  specification/keyvault/Security.KeyVault.Certificates/tspconfig.yaml
  specification/keyvault/Security.KeyVault.Keys/tspconfig.yaml
  specification/keyvault/Security.KeyVault.Secrets/tspconfig.yaml
  specification/storage/Microsoft.BlobStorage/tspconfig.yaml
Labels: TypeSpec

#37496 Fix text translation 3.0 folder path mismatch post folder restructure refactoring
  specification/translation/data-plane/TextTranslation/readme.md
Labels: data-plane, PublishToCustomers

#34950 [Azure AI Language][CQA] Add file upload api changes
  specification/cognitiveservices/Language.QuestionAnswering-authoring/examples/2025-05-15-preview/questionanswering/authoring/SuccessfulImportProjectFromFile.json
  specification/cognitiveservices/Language.QuestionAnswering-authoring/examples/2025-05-15-preview/questionanswering/authoring/SuccessfulUpdateSourcesFromFile.json
  specification/cognitiveservices/Language.QuestionAnswering-authoring/models.tsp
  specification/cognitiveservices/Language.QuestionAnswering-authoring/routes.tsp
  specification/cognitiveservices/data-plane/Language/preview/2025-05-15-preview/examples/questionanswering/authoring/SuccessfulImportProjectFromFile.json
  specification/cognitiveservices/data-plane/Language/preview/2025-05-15-preview/examples/questionanswering/authoring/SuccessfulUpdateSourcesFromFile.json
  specification/cognitiveservices/data-plane/Language/preview/2025-05-15-preview/questionanswering-authoring.json
Labels: Cognitive Services, APIStewardshipBoard-SignedOff, data-plane, TypeSpec, VersioningReviewRequired, Versioning-Approved-BranchPolicyException, PublishToCustomers

#37541 Sync eng/common directory with azure-sdk-tools for PR 12124
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Labels: EngSys, Central-EngSys

#37542 [Storage] Add `StorageErrorCode` enum to TypeSpec def
  specification/storage/Microsoft.BlobStorage/models.tsp
Labels: Storage, TypeSpec

#37524 quota, java, rename etag
  specification/quota/Quota.Management/CurrentQuotaLimitBase.tsp
  specification/quota/Quota.Management/CurrentUsagesBase.tsp
  specification/quota/Quota.Management/client.tsp
  specification/quota/Quota.Management/models.tsp
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-09-01/openapi.json
Labels: ARMSignedOff, ARMReview, resource-manager, TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk, PublishToCustomers, ARMAutoSignedOff

#36941 [hybridkubernetes] Remove private decorators
  specification/hybridkubernetes/HybridKubernetes.Management/ConnectedCluster.tsp
  specification/hybridkubernetes/HybridKubernetes.Management/client.tsp
  specification/hybridkubernetes/HybridKubernetes.Management/main.tsp
  specification/hybridkubernetes/HybridKubernetes.Management/models.tsp
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2024-12-01-preview/connectedClusters.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2025-08-01-preview/connectedClusters.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2025-12-01-preview/connectedClusters.json
Labels: ARMSignedOff, ARMReview, resource-manager, RPaaS, TypeSpec, PublishToCustomers, ARMAutoSignedOff

#37547 recoveryservice, java, mitigate breaks
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/RecoveryServices/client.tsp
Labels: ARMSignedOff, RecoveryServices, ARMReview, resource-manager, TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk, PublishToCustomers

#37550 remove the typespec config for dnsresolver RP
  specification/dnsresolver/resource-manager/Microsoft.Network/DnsResolver/tspconfig.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk, PublishToCustomers

#37554 [Autosuggest]Fix typo and add legal term to other search service
  specification/maps/data-plane/Search/preview/2025-06-01-preview/search.json
Labels: Maps, data-plane, PublishToCustomers, brownfield

#37571 Sync eng/common directory with azure-sdk-tools for PR 11868
  eng/common/instructions/azsdk-tools/create-sdk-locally.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Labels: EngSys, Central-EngSys

#37565 Update client.test for releasing Azure.ResourceManager.Hci.Vm
  specification/azurestackhci/AzureStackHCI.StackHCIVM.Management/client.tsp
  specification/azurestackhci/cspell.yaml
Labels: TypeSpec

#37590 fix example parameter
  specification/app/resource-manager/Microsoft.App/ContainerApps/preview/2025-02-02-preview/examples/LogicApps_ListCallbackURL.json
Labels: ARMSignedOff, ARMReview, resource-manager, PublishToCustomers

#37205 Refactor(serialconsole): migrate to unified folder structure
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/readme.cli.md
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/readme.go.md
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/readme.md
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/readme.python.md
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/readme.typescript.md
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/sdk-suppressions.yaml
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2018-05-01/examples/CreateSerialPort.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2018-05-01/examples/DeleteSerialPort.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2018-05-01/examples/DisableConsoleExamples.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2018-05-01/examples/EnableConsoleExamples.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2018-05-01/examples/GetOperationsExample.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2018-05-01/examples/GetSerialPort.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2018-05-01/examples/ListSerialPort.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2018-05-01/examples/ListSerialPortSubscription.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2018-05-01/examples/SerialConsoleStatus.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2018-05-01/examples/SerialPortConnectVM.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2018-05-01/examples/SerialPortConnectVMSS.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2018-05-01/serialconsole.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2018-05-01/serialport.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2023-01-01/examples/CreateSerialPort.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2023-01-01/examples/DisableConsoleExamples.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2023-01-01/examples/EnableConsoleExamples.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2023-01-01/examples/GetOperationsExample.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2023-01-01/examples/GetSerialPort.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2023-01-01/examples/ListSerialPort.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2023-01-01/examples/ListSerialPortSubscription.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2023-01-01/examples/SerialConsoleStatus.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2023-01-01/examples/SerialPortConnectVM.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2023-01-01/examples/SerialPortConnectVMSS.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2023-01-01/serialconsole.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2023-01-01/serialport.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2024-07-01/examples/CreateSerialPort.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2024-07-01/examples/DisableConsoleExamples.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2024-07-01/examples/EnableConsoleExamples.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2024-07-01/examples/GetOperationsExample.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2024-07-01/examples/GetSerialPort.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2024-07-01/examples/ListSerialPort.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2024-07-01/examples/ListSerialPortSubscription.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2024-07-01/examples/SerialConsoleStatus.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2024-07-01/examples/SerialPortConnectVM.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2024-07-01/examples/SerialPortConnectVMSS.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2024-07-01/serialconsole.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/stable/2024-07-01/serialport.json
  specification/serialconsole/resource-manager/Microsoft.SerialConsole/SerialConsole/suppressions.yaml
Labels: ARMSignedOff, Approved-Avocado, Approved-LintDiff, Approved-ModelValidation, ARMReview, resource-manager, BreakingChangeReviewRequired, BreakingChange-Approved-Benign, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-JavaScript-Sdk-Suppression-Approved, BreakingChange-Python-Sdk-Suppression-Approved, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk, BreakingChange-Go-Sdk-Suppression, BreakingChange-JavaScript-Sdk-Suppression, BreakingChange-Python-Sdk-Suppression, PublishToCustomers, FolderMigrationV2

#37208 Refactor(datacatalog): migrate to unified folder structure
  specification/datacatalog/cspell.yaml
  specification/datacatalog/resource-manager/Microsoft.DataCatalog/DataCatalog/readme.go.md
  specification/datacatalog/resource-manager/Microsoft.DataCatalog/DataCatalog/readme.md
  specification/datacatalog/resource-manager/Microsoft.DataCatalog/DataCatalog/readme.nodejs.md
  specification/datacatalog/resource-manager/Microsoft.DataCatalog/DataCatalog/readme.typescript.md
  specification/datacatalog/resource-manager/Microsoft.DataCatalog/DataCatalog/stable/2016-03-30/datacatalog.json
  specification/datacatalog/resource-manager/Microsoft.DataCatalog/DataCatalog/stable/2016-03-30/examples/CreateOrUpdateADCCatalog.json
  specification/datacatalog/resource-manager/Microsoft.DataCatalog/DataCatalog/stable/2016-03-30/examples/DeleteADCCatalog.json
  specification/datacatalog/resource-manager/Microsoft.DataCatalog/DataCatalog/stable/2016-03-30/examples/GetADCCatalog.json
  specification/datacatalog/resource-manager/Microsoft.DataCatalog/DataCatalog/stable/2016-03-30/examples/GetOperations.json
  specification/datacatalog/resource-manager/Microsoft.DataCatalog/DataCatalog/stable/2016-03-30/examples/ListADCCatalogsByResourceGroup.json
  specification/datacatalog/resource-manager/Microsoft.DataCatalog/DataCatalog/stable/2016-03-30/examples/UpdateADCCatalog.json
  specification/datacatalog/resource-manager/Microsoft.DataCatalog/DataCatalog/suppressions.yaml
Labels: ARMSignedOff, Approved-Avocado, Approved-LintDiff, Approved-ModelValidation, ARMReview, resource-manager, BreakingChangeReviewRequired, Approved-Suppression, SuppressionReviewRequired, BreakingChange-Approved-Benign, PublishToCustomers, FolderMigrationV2

#37210 Refactor(storageimportexport): migrate to unified folder structure
  specification/storageimportexport/cspell.yaml
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/preview/2021-01-01/examples/CreateExportJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/preview/2021-01-01/examples/CreateJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/preview/2021-01-01/examples/DeleteJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/preview/2021-01-01/examples/GetExportJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/preview/2021-01-01/examples/GetJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/preview/2021-01-01/examples/GetLocation.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/preview/2021-01-01/examples/ListBitLockerKeys.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/preview/2021-01-01/examples/ListJobsInResourceGroup.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/preview/2021-01-01/examples/ListJobsInSubscription.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/preview/2021-01-01/examples/ListLocations.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/preview/2021-01-01/examples/ListOperations.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/preview/2021-01-01/examples/UpdateExportJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/preview/2021-01-01/examples/UpdateJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/preview/2021-01-01/storageimportexport.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/readme.az.md
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/readme.cli.md
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/readme.go.md
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/readme.md
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/readme.nodejs.md
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/readme.python.md
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/readme.typescript.md
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/stable/2016-11-01/examples/CreateExportJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/stable/2016-11-01/examples/CreateJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/stable/2016-11-01/examples/DeleteJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/stable/2016-11-01/examples/GetExportJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/stable/2016-11-01/examples/GetJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/stable/2016-11-01/examples/GetLocation.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/stable/2016-11-01/examples/ListBitLockerKeys.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/stable/2016-11-01/examples/ListJobsInResourceGroup.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/stable/2016-11-01/examples/ListJobsInSubscription.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/stable/2016-11-01/examples/ListLocations.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/stable/2016-11-01/examples/ListOperations.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/stable/2016-11-01/examples/UpdateExportJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/stable/2016-11-01/examples/UpdateJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/stable/2016-11-01/storageimportexport.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/stable/2020-08-01/examples/CreateExportJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/stable/2020-08-01/examples/CreateJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/stable/2020-08-01/examples/DeleteJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/stable/2020-08-01/examples/GetExportJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/stable/2020-08-01/examples/GetJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/stable/2020-08-01/examples/GetLocation.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/stable/2020-08-01/examples/ListBitLockerKeys.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/stable/2020-08-01/examples/ListJobsInResourceGroup.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/stable/2020-08-01/examples/ListJobsInSubscription.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/stable/2020-08-01/examples/ListLocations.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/stable/2020-08-01/examples/ListOperations.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/stable/2020-08-01/examples/UpdateExportJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/stable/2020-08-01/examples/UpdateJob.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/stable/2020-08-01/storageimportexport.json
  specification/storageimportexport/resource-manager/Microsoft.ImportExport/StorageImportExport/suppressions.yaml
Labels: ARMSignedOff, Import Export, Approved-Avocado, Approved-LintDiff, ARMReview, resource-manager, BreakingChangeReviewRequired, BreakingChange-Approved-Benign, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk, PublishToCustomers, FolderMigrationV2

#37212 Refactor(commerce): migrate to unified folder structure
  specification/commerce/resource-manager/Microsoft.Commerce/Commerce/preview/2015-06-01-preview/commerce.json
  specification/commerce/resource-manager/Microsoft.Commerce/Commerce/preview/2015-06-01-preview/examples/GetRateCard.json
  specification/commerce/resource-manager/Microsoft.Commerce/Commerce/preview/2015-06-01-preview/examples/GetUsageAggregatesList.json
  specification/commerce/resource-manager/Microsoft.Commerce/Commerce/readme.go.md
  specification/commerce/resource-manager/Microsoft.Commerce/Commerce/readme.md
  specification/commerce/resource-manager/Microsoft.Commerce/Commerce/readme.nodejs.md
  specification/commerce/resource-manager/Microsoft.Commerce/Commerce/readme.python.md
  specification/commerce/resource-manager/Microsoft.Commerce/Commerce/readme.ruby.md
  specification/commerce/resource-manager/Microsoft.Commerce/Commerce/readme.typescript.md
  specification/commerce/resource-manager/Microsoft.Commerce/Commerce/readme_temp.md
  specification/commerce/resource-manager/Microsoft.Commerce/Commerce/suppressions.yaml
Labels: ARMSignedOff, Approved-Avocado, Approved-LintDiff, ARMReview, resource-manager, Versioning-Approved-Benign, VersioningReviewRequired, PublishToCustomers, FolderMigrationV2

#37196 refactor(education): migrate to unified folder structure
  specification/education/resource-manager/Microsoft.Education/Education/preview/2021-12-01-preview/education.json
  specification/education/resource-manager/Microsoft.Education/Education/preview/2021-12-01-preview/examples/CreateLab.json
  specification/education/resource-manager/Microsoft.Education/Education/preview/2021-12-01-preview/examples/CreateStudent.json
  specification/education/resource-manager/Microsoft.Education/Education/preview/2021-12-01-preview/examples/DeleteLab.json
  specification/education/resource-manager/Microsoft.Education/Education/preview/2021-12-01-preview/examples/DeleteStudent.json
  specification/education/resource-manager/Microsoft.Education/Education/preview/2021-12-01-preview/examples/GenerateInviteCode.json
  specification/education/resource-manager/Microsoft.Education/Education/preview/2021-12-01-preview/examples/GetOperations.json
  specification/education/resource-manager/Microsoft.Education/Education/preview/2021-12-01-preview/examples/Grant.json
  specification/education/resource-manager/Microsoft.Education/Education/preview/2021-12-01-preview/examples/GrantDefaultList.json
  specification/education/resource-manager/Microsoft.Education/Education/preview/2021-12-01-preview/examples/GrantDefaultListIncludeAllocatedBudget.json
  specification/education/resource-manager/Microsoft.Education/Education/preview/2021-12-01-preview/examples/GrantIncludeAllocatedBudget.json
  specification/education/resource-manager/Microsoft.Education/Education/preview/2021-12-01-preview/examples/GrantList.json
  specification/education/resource-manager/Microsoft.Education/Education/preview/2021-12-01-preview/examples/GrantListIncludeAllocatedBudget.json
  specification/education/resource-manager/Microsoft.Education/Education/preview/2021-12-01-preview/examples/JoinRequest.json
  specification/education/resource-manager/Microsoft.Education/Education/preview/2021-12-01-preview/examples/JoinRequestApproveAndDeny.json
  specification/education/resource-manager/Microsoft.Education/Education/preview/2021-12-01-preview/examples/JoinRequestList.json
  specification/education/resource-manager/Microsoft.Education/Education/preview/2021-12-01-preview/examples/Lab.json
  specification/education/resource-manager/Microsoft.Education/Education/preview/2021-12-01-preview/examples/LabIncludeBudget.json
  specification/education/resource-manager/Microsoft.Education/Education/preview/2021-12-01-preview/examples/LabList.json
  specification/education/resource-manager/Microsoft.Education/Education/preview/2021-12-01-preview/examples/LabListIncludeBudget.json
  specification/education/resource-manager/Microsoft.Education/Education/preview/2021-12-01-preview/examples/LabListWithInvoiceSectionName.json
  specification/education/resource-manager/Microsoft.Education/Education/preview/2021-12-01-preview/examples/LabListWithInvoiceSectionNameIncludeBudget.json
  specification/education/resource-manager/Microsoft.Education/Education/preview/2021-12-01-preview/examples/RedeemCode.json
  specification/education/resource-manager/Microsoft.Education/Education/preview/2021-12-01-preview/examples/Student.json
  specification/education/resource-manager/Microsoft.Education/Education/preview/2021-12-01-preview/examples/StudentLab.json
  specification/education/resource-manager/Microsoft.Education/Education/preview/2021-12-01-preview/examples/StudentLabList.json
  specification/education/resource-manager/Microsoft.Education/Education/preview/2021-12-01-preview/examples/StudentList.json
  specification/education/resource-manager/Microsoft.Education/Education/readme.az.md
  specification/education/resource-manager/Microsoft.Education/Education/readme.cli.md
  specification/education/resource-manager/Microsoft.Education/Education/readme.csharp.md
  specification/education/resource-manager/Microsoft.Education/Education/readme.go.md
  specification/education/resource-manager/Microsoft.Education/Education/readme.md
  specification/education/resource-manager/Microsoft.Education/Education/readme.python.md
  specification/education/resource-manager/Microsoft.Education/Education/readme.typescript.md
  specification/education/resource-manager/Microsoft.Education/Education/suppressions.yaml
Labels: ARMSignedOff, Approved-Avocado, Approved-LintDiff, ARMReview, resource-manager, BreakingChange-Approved-Benign, Versioning-Approved-Benign, VersioningReviewRequired, PublishToCustomers, FolderMigrationV2

#37286 Refactor(changeanalysis): migrate to unified folder structure
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/ChangeAnalysis/preview/2020-04-01-preview/changeanalysis.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/ChangeAnalysis/preview/2020-04-01-preview/examples/ConfigurationProfileCreate.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/ChangeAnalysis/preview/2020-04-01-preview/examples/ConfigurationProfileCreateWithIdentity.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/ChangeAnalysis/preview/2020-04-01-preview/examples/ConfigurationProfileDelete.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/ChangeAnalysis/preview/2020-04-01-preview/examples/ConfigurationProfileGet.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/ChangeAnalysis/preview/2020-04-01-preview/examples/ConfigurationProfileUpdate.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/ChangeAnalysis/preview/2020-04-01-preview/examples/ConfigurationProfileUpdateWithIdentity.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/ChangeAnalysis/preview/2020-04-01-preview/examples/OperationsList.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/ChangeAnalysis/preview/2021-04-01-preview/changeanalysis.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/ChangeAnalysis/preview/2021-04-01-preview/examples/ChangeSnapshotsGetChangeSnapshots.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/ChangeAnalysis/preview/2021-04-01-preview/examples/ChangesListChangesByResourceGroupFiltered.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/ChangeAnalysis/preview/2021-04-01-preview/examples/ChangesListChangesBySubscriptionFiltered.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/ChangeAnalysis/preview/2021-04-01-preview/examples/OperationsList.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/ChangeAnalysis/preview/2021-04-01-preview/examples/ResourceChangesList.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/ChangeAnalysis/readme.csharp.md
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/ChangeAnalysis/readme.go.md
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/ChangeAnalysis/readme.md
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/ChangeAnalysis/readme.python.md
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/ChangeAnalysis/readme.ruby.md
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/ChangeAnalysis/readme.typescript.md
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/ChangeAnalysis/stable/2021-04-01/changeanalysis.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/ChangeAnalysis/stable/2021-04-01/examples/ChangesListChangesByResourceGroup.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/ChangeAnalysis/stable/2021-04-01/examples/ChangesListChangesBySubscription.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/ChangeAnalysis/stable/2021-04-01/examples/OperationsList.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/ChangeAnalysis/stable/2021-04-01/examples/ResourceChangesList.json
  specification/changeanalysis/resource-manager/Microsoft.ChangeAnalysis/ChangeAnalysis/suppressions.yaml
Labels: ARMSignedOff, Approved-Avocado, Approved-LintDiff, Approved-ModelValidation, ARMReview, resource-manager, BreakingChangeReviewRequired, Approved-Suppression, SuppressionReviewRequired, BreakingChange-Approved-Benign, PublishToCustomers, FolderMigrationV2

#37287 Refactor(graphrbac): migrate to unified folder structure
  specification/graphrbac/data-plane/GraphRbac/readme.go.md
  specification/graphrbac/data-plane/GraphRbac/readme.md
  specification/graphrbac/data-plane/GraphRbac/readme.nodejs.md
  specification/graphrbac/data-plane/GraphRbac/readme.python.md
  specification/graphrbac/data-plane/GraphRbac/readme.ruby.md
  specification/graphrbac/data-plane/GraphRbac/readme.typescript.md
  specification/graphrbac/data-plane/GraphRbac/stable/1.6/graphrbac.json
  specification/graphrbac/data-plane/GraphRbac/suppressions.yaml
Labels: Approved-Avocado, Approved-LintDiff, Approved-ModelValidation, data-plane, BreakingChangeReviewRequired, Approved-Suppression, SuppressionReviewRequired, BreakingChange-Approved-Benign, PublishToCustomers, FolderMigrationV2

#37288 Refactor(vmwarecloudsimple): migrate to unified folder structure
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/readme.go.md
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/readme.java.md
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/readme.md
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/readme.python.md
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/readme.ruby.md
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/readme.typescript.md
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/CreateDedicatedCloudNode.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/CreateDedicatedCloudService.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/CreateVirtualMachine.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/DeleteDedicatedCloudNode.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/DeleteDedicatedCloudService.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/DeleteVirtualMachine.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/GetCustomizationPolicy.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/GetDedicatedCloudNode.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/GetDedicatedCloudService.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/GetFailedOperationResult.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/GetOperationResult.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/GetPrivateCloud.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/GetResourcePool.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/GetVirtualMachine.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/GetVirtualMachineTemplate.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/GetVirtualNetwork.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/ListAvailabilities.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/ListCustomizationPolicies.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/ListDedicatedCloudNodes.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/ListDedicatedCloudServices.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/ListOperations.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/ListPrivateCloudInLocation.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/ListRGDedicatedCloudNodes.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/ListRGDedicatedCloudServices.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/ListRGVirtualMachines.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/ListResourcePools.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/ListUsages.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/ListVirtualMachineTemplates.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/ListVirtualMachines.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/ListVirtualNetworks.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/PatchDedicatedCloudNode.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/PatchDedicatedService.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/PatchVirtualMachine.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/StartVirtualMachine.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/StopInBodyVirtualMachine.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/examples/StopInQueryVirtualMachine.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/stable/2019-04-01/vmwarecloudsimple.json
  specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/VmwareCloudSimple/suppressions.yaml
Labels: ARMSignedOff, Approved-Avocado, Approved-LintDiff, Approved-ModelValidation, ARMReview, resource-manager, BreakingChangeReviewRequired, BreakingChange-Approved-Benign, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk, PublishToCustomers, FolderMigrationV2

#37297 Refactor(hybridcloud): migrate to unified folder structure
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/HybridCloud/preview/2023-01-01-preview/examples/CloudConnectionCreate.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/HybridCloud/preview/2023-01-01-preview/examples/CloudConnectionDelete.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/HybridCloud/preview/2023-01-01-preview/examples/CloudConnectionGet.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/HybridCloud/preview/2023-01-01-preview/examples/CloudConnectionUpdateTags.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/HybridCloud/preview/2023-01-01-preview/examples/CloudConnectionsByResourceGroupList.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/HybridCloud/preview/2023-01-01-preview/examples/CloudConnectionsBySubscriptionList.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/HybridCloud/preview/2023-01-01-preview/examples/CloudConnectorCreate.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/HybridCloud/preview/2023-01-01-preview/examples/CloudConnectorDelete.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/HybridCloud/preview/2023-01-01-preview/examples/CloudConnectorDiscoverResources.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/HybridCloud/preview/2023-01-01-preview/examples/CloudConnectorGet.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/HybridCloud/preview/2023-01-01-preview/examples/CloudConnectorUpdateTags.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/HybridCloud/preview/2023-01-01-preview/examples/CloudConnectorsByResourceGroupList.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/HybridCloud/preview/2023-01-01-preview/examples/CloudConnectorsBySubscriptionList.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/HybridCloud/preview/2023-01-01-preview/examples/OperationGroupGet.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/HybridCloud/preview/2023-01-01-preview/hybridCloud.json
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/HybridCloud/readme.az.md
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/HybridCloud/readme.cli.md
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/HybridCloud/readme.go.md
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/HybridCloud/readme.md
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/HybridCloud/readme.python.md
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/HybridCloud/readme.typescript.md
  specification/hybridcloud/resource-manager/Microsoft.HybridCloud/HybridCloud/suppressions.yaml
Labels: ARMSignedOff, Approved-Avocado, Approved-LintDiff, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired, Versioning-Approved-Benign, VersioningReviewRequired, PublishToCustomers, FolderMigrationV2

#37298 Refactor(scheduler): migrate to unified folder structure
  specification/scheduler/resource-manager/Microsoft.Scheduler/Scheduler/preview/2014-08-01-preview/scheduler.json
  specification/scheduler/resource-manager/Microsoft.Scheduler/Scheduler/readme.go.md
  specification/scheduler/resource-manager/Microsoft.Scheduler/Scheduler/readme.md
  specification/scheduler/resource-manager/Microsoft.Scheduler/Scheduler/readme.python.md
  specification/scheduler/resource-manager/Microsoft.Scheduler/Scheduler/readme.ruby.md
  specification/scheduler/resource-manager/Microsoft.Scheduler/Scheduler/stable/2016-01-01/scheduler.json
  specification/scheduler/resource-manager/Microsoft.Scheduler/Scheduler/stable/2016-03-01/scheduler.json
  specification/scheduler/resource-manager/Microsoft.Scheduler/Scheduler/suppressions.yaml
Labels: Scheduler, ARMSignedOff, Approved-Avocado, Approved-LintDiff, Approved-ModelValidation, ARMReview, resource-manager, BreakingChangeReviewRequired, BreakingChange-Approved-Benign, PublishToCustomers, FolderMigrationV2

#37302 Refactor(customproviders): migrate to unified folder structure
  specification/customproviders/resource-manager/Microsoft.CustomProviders/CustomProviders/preview/2018-09-01-preview/customproviders.json
  specification/customproviders/resource-manager/Microsoft.CustomProviders/CustomProviders/preview/2018-09-01-preview/examples/createOrUpdateAssociation.json
  specification/customproviders/resource-manager/Microsoft.CustomProviders/CustomProviders/preview/2018-09-01-preview/examples/createOrUpdateCustomRP.json
  specification/customproviders/resource-manager/Microsoft.CustomProviders/CustomProviders/preview/2018-09-01-preview/examples/deleteAssociation.json
  specification/customproviders/resource-manager/Microsoft.CustomProviders/CustomProviders/preview/2018-09-01-preview/examples/deleteCustomRP.json
  specification/customproviders/resource-manager/Microsoft.CustomProviders/CustomProviders/preview/2018-09-01-preview/examples/getAllAssociations.json
  specification/customproviders/resource-manager/Microsoft.CustomProviders/CustomProviders/preview/2018-09-01-preview/examples/getAssociation.json
  specification/customproviders/resource-manager/Microsoft.CustomProviders/CustomProviders/preview/2018-09-01-preview/examples/getCustomRP.json
  specification/customproviders/resource-manager/Microsoft.CustomProviders/CustomProviders/preview/2018-09-01-preview/examples/listCustomRPsByResourceGroup.json
  specification/customproviders/resource-manager/Microsoft.CustomProviders/CustomProviders/preview/2018-09-01-preview/examples/listCustomRPsBySubscription.json
  specification/customproviders/resource-manager/Microsoft.CustomProviders/CustomProviders/preview/2018-09-01-preview/examples/operationsList.json
  specification/customproviders/resource-manager/Microsoft.CustomProviders/CustomProviders/preview/2018-09-01-preview/examples/updateCustomRP.json
  specification/customproviders/resource-manager/Microsoft.CustomProviders/CustomProviders/readme.az.md
  specification/customproviders/resource-manager/Microsoft.CustomProviders/CustomProviders/readme.cli.md
  specification/customproviders/resource-manager/Microsoft.CustomProviders/CustomProviders/readme.csharp.md
  specification/customproviders/resource-manager/Microsoft.CustomProviders/CustomProviders/readme.go.md
  specification/customproviders/resource-manager/Microsoft.CustomProviders/CustomProviders/readme.md
  specification/customproviders/resource-manager/Microsoft.CustomProviders/CustomProviders/readme.nodejs.md
  specification/customproviders/resource-manager/Microsoft.CustomProviders/CustomProviders/readme.python.md
  specification/customproviders/resource-manager/Microsoft.CustomProviders/CustomProviders/readme.ruby.md
  specification/customproviders/resource-manager/Microsoft.CustomProviders/CustomProviders/readme.terraform.md
  specification/customproviders/resource-manager/Microsoft.CustomProviders/CustomProviders/readme.typescript.md
  specification/customproviders/resource-manager/Microsoft.CustomProviders/CustomProviders/suppressions.yaml
Labels: ARMSignedOff, Approved-Avocado, Approved-LintDiff, Approved-ModelValidation, ARMReview, resource-manager, Versioning-Approved-Benign, VersioningReviewRequired, PublishToCustomers, FolderMigrationV2

#37244 refactor(powerbiprivatelinks): migrate to unified folder structure
  specification/powerbiprivatelinks/resource-manager/Microsoft.PowerBI/PowerBIPrivateLinks/readme.az.md
  specification/powerbiprivatelinks/resource-manager/Microsoft.PowerBI/PowerBIPrivateLinks/readme.csharp.md
  specification/powerbiprivatelinks/resource-manager/Microsoft.PowerBI/PowerBIPrivateLinks/readme.go.md
  specification/powerbiprivatelinks/resource-manager/Microsoft.PowerBI/PowerBIPrivateLinks/readme.md
  specification/powerbiprivatelinks/resource-manager/Microsoft.PowerBI/PowerBIPrivateLinks/readme.python.md
  specification/powerbiprivatelinks/resource-manager/Microsoft.PowerBI/PowerBIPrivateLinks/readme.typescript.md
  specification/powerbiprivatelinks/resource-manager/Microsoft.PowerBI/PowerBIPrivateLinks/stable/2020-06-01/examples/Operations_List.json
  specification/powerbiprivatelinks/resource-manager/Microsoft.PowerBI/PowerBIPrivateLinks/stable/2020-06-01/examples/PowerBIResources_Create.json
  specification/powerbiprivatelinks/resource-manager/Microsoft.PowerBI/PowerBIPrivateLinks/stable/2020-06-01/examples/PowerBIResources_Delete.json
  specification/powerbiprivatelinks/resource-manager/Microsoft.PowerBI/PowerBIPrivateLinks/stable/2020-06-01/examples/PowerBIResources_ListByResourceName.json
  specification/powerbiprivatelinks/resource-manager/Microsoft.PowerBI/PowerBIPrivateLinks/stable/2020-06-01/examples/PowerBIResources_Update.json
  specification/powerbiprivatelinks/resource-manager/Microsoft.PowerBI/PowerBIPrivateLinks/stable/2020-06-01/examples/PrivateEndpointConnections_Create.json
  specification/powerbiprivatelinks/resource-manager/Microsoft.PowerBI/PowerBIPrivateLinks/stable/2020-06-01/examples/PrivateEndpointConnections_Delete.json
  specification/powerbiprivatelinks/resource-manager/Microsoft.PowerBI/PowerBIPrivateLinks/stable/2020-06-01/examples/PrivateEndpointConnections_Get.json
  specification/powerbiprivatelinks/resource-manager/Microsoft.PowerBI/PowerBIPrivateLinks/stable/2020-06-01/examples/PrivateEndpointConnections_ListByResource.json
  specification/powerbiprivatelinks/resource-manager/Microsoft.PowerBI/PowerBIPrivateLinks/stable/2020-06-01/examples/PrivateLinkResources_Get.json
  specification/powerbiprivatelinks/resource-manager/Microsoft.PowerBI/PowerBIPrivateLinks/stable/2020-06-01/examples/PrivateLinkResources_ListByResource.json
  specification/powerbiprivatelinks/resource-manager/Microsoft.PowerBI/PowerBIPrivateLinks/stable/2020-06-01/examples/PrivateLinkServiceResourceOperationResults_Get.json
  specification/powerbiprivatelinks/resource-manager/Microsoft.PowerBI/PowerBIPrivateLinks/stable/2020-06-01/examples/PrivateLinkServices_ListByResourceGroup.json
  specification/powerbiprivatelinks/resource-manager/Microsoft.PowerBI/PowerBIPrivateLinks/stable/2020-06-01/examples/PrivateLinkServices_ListBySubscriptionId.json
  specification/powerbiprivatelinks/resource-manager/Microsoft.PowerBI/PowerBIPrivateLinks/stable/2020-06-01/powerbiprivatelinks.json
  specification/powerbiprivatelinks/resource-manager/Microsoft.PowerBI/PowerBIPrivateLinks/suppressions.yaml
Labels: ARMSignedOff, Approved-Avocado, Approved-LintDiff, Approved-ModelValidation, ARMReview, resource-manager, BreakingChangeReviewRequired, BreakingChange-Approved-Benign, PublishToCustomers, FolderMigrationV2

#37241 [Microsoft.ContainerInstance] Release 2025-09-01 Stable API Version
  specification/containerinstance/cspell.yaml
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/containerInstance.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/CachedImagesList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/CapabilitiesList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerAttach.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerExec.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupCreateConfidential.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupCreateOrUpdateStandbyPool.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupEncryptionProperties.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupExtensions.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupProfileCreateOrUpdate_CreateConfidential.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupProfileCreateOrUpdate_EncryptionProperties.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupProfileCreateOrUpdate_Extensions.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupProfileGetByRevisionNumber.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupProfileListAllRevisions.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupProfilesCreateOrUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupProfilesDelete.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupProfilesGet.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupProfilesGetPriority.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupProfilesList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupProfilesListByResourceGroup.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupProfilesPatch.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupUsage.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupsCreateOrUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupsCreateOrUpdateSecretReference.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupsCreatePriority.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupsDelete.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupsGetPriority.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupsGet_Failed.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupsGet_Succeeded.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupsList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupsListByResourceGroup.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupsRestart.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupsStart.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupsStop.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerGroupsUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/ContainerListLogs.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/OperationsList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2025-09-01/examples/SubnetServiceAssociationLinkDelete.json
  specification/containerinstance/resource-manager/readme.md
  specification/containerinstance/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, Container Instances, ARMReview, resource-manager, BreakingChangeReviewRequired, new-api-version, BreakingChange-Approved-Benign, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-JavaScript-Sdk, BreakingChange-Go-Sdk-Suppression, PublishToCustomers, brownfield

#37567 Fix versioning issue with inherited property
  specification/quantum/Quantum.Workspace/common/models-jobs.tsp
  specification/quantum/data-plane/Microsoft.Quantum/preview/2025-09-01-preview/quantum.json
Labels: data-plane, TypeSpec

#37609 feat: add swagger changes for EntraId support in AgentPoolSSHAccess
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2025-08-02-preview/managedClusters.json
Labels: Container Service, resource-manager, brownfield

#37467 keyvault, java, pin api-version to 7.6
  specification/keyvault/Security.KeyVault.Administration/tspconfig.yaml
  specification/keyvault/Security.KeyVault.Certificates/tspconfig.yaml
  specification/keyvault/Security.KeyVault.Keys/tspconfig.yaml
  specification/keyvault/Security.KeyVault.Secrets/tspconfig.yaml
Labels: KeyVault, TypeSpec

#37611 dpg, java, pin api-version in tspconfig
  specification/communication/Communication.Messages/tspconfig.yaml
  specification/healthdataaiservices/HealthDataAIServices.DeidServices/tspconfig.yaml
Labels: TypeSpec

#37556 changed go namespace
  specification/compute/resource-manager/Microsoft.Compute/RecommenderRP/tspconfig.yaml
Labels: Compute, ARMSignedOff, ARMReview, resource-manager, TypeSpec, PublishToCustomers

#37549 add config for new generator in hybridkubernetes
  specification/hybridkubernetes/HybridKubernetes.Management/back-compatible.tsp
  specification/hybridkubernetes/HybridKubernetes.Management/client.tsp
  specification/hybridkubernetes/HybridKubernetes.Management/tspconfig.yaml
  specification/storageactions/StorageAction.Management/tspconfig.yaml
Labels: TypeSpec

#37396 [dataprotection] Update client.tsp
  specification/dataprotection/resource-manager/Microsoft.DataProtection/DataProtection/client.tsp
Labels: ARMSignedOff, ARMReview, resource-manager, TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-Python-Sdk

#37356 Fix: NVAInVnet swagger for UT failures
  specification/network/resource-manager/Microsoft.Network/stable/2025-01-01/networkVirtualAppliance.json
Labels: Network, ARMSignedOff, ARMReview, resource-manager, brownfield

#37624 [DeviceRegistry] - move sdk suppressions yaml to typespec folder
  specification/deviceregistry/DeviceRegistry.Management/sdk-suppressions.yaml
Labels: BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-Go-Sdk-Suppression

#37682 Remove more useDependencies
  specification/compute/Compute.Management/main.tsp
  specification/dell/Dell.Storage.Management/LiftrBase.Storage/main.tsp
  specification/devcenter/DevCenter.Management/main.tsp
  specification/deviceregistry/DeviceRegistry.Management/main.tsp
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/main.tsp
  specification/fileshares/resource-manager/Microsoft.FileShares/FileShares/fileshares.tsp
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/MongoCluster/main.tsp
  specification/oracle/Oracle.Database.Management/versions.tsp
  specification/recoveryservicesbackup/RecoveryServices.Management/main.tsp
Labels: resource-manager, TypeSpec, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk

#37694 mgmt, java, client.tsp fix for recoveryservicesbackup
  specification/recoveryservicesbackup/RecoveryServices.Management/client.tsp
Labels: Recovery Services Backup, TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk

#37596 support async operations for PATCH calls
  specification/hybridkubernetes/HybridKubernetes.Management/ConnectedCluster.tsp
  specification/hybridkubernetes/HybridKubernetes.Management/back-compatible.tsp
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2025-12-01-preview/UpdateClusterByPatchExample.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2025-12-01-preview/connectedClusters.json
  specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/preview/2025-12-01-preview/examples/UpdateClusterByPatchExample.json
Labels: ARMSignedOff, ARMReview, resource-manager, RPaaS, TypeSpec, Versioning-Approved-BugFix, VersioningReviewRequired, PublishToCustomers, ARMAutoSignedOff

#37699 [release-app-Microsoft.App-stable-2025-07-01]Fix python review comments
  specification/app/resource-manager/Microsoft.App/ContainerApps/stable/2025-07-01/LogicAppsExtension.json
Labels: ARMSignedOff, ARMReview, resource-manager, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk, brownfield

#37681 [ORS] Swagger 2025-06-01 add priorityReplication
  specification/storage/resource-manager/Microsoft.Storage/stable/2025-06-01/examples/StorageAccountCreateObjectReplicationPolicyOnDestination.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2025-06-01/examples/StorageAccountCreateObjectReplicationPolicyOnSource.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2025-06-01/examples/StorageAccountGetObjectReplicationPolicy.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2025-06-01/examples/StorageAccountListObjectReplicationPolicies.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2025-06-01/examples/StorageAccountUpdateObjectReplicationPolicyOnDestination.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2025-06-01/examples/StorageAccountUpdateObjectReplicationPolicyOnSource.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2025-06-01/storage.json
Labels: Storage, resource-manager, RPaaS, brownfield

#36335 New Public Stable API Version 2024-03-11 for Microsoft.Insights/dataCollectionRules, Microsoft.Insights/dataCollectionEndpoints, Microsoft.Insights/dataCollectionRuleAssociations
  specification/monitor/cspell.yaml
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/dataCollectionEndpoints_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/dataCollectionRuleAssociations_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/dataCollectionRules_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/examples/DataCollectionEndpointsCreate.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/examples/DataCollectionEndpointsDelete.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/examples/DataCollectionEndpointsGet.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/examples/DataCollectionEndpointsListByResourceGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/examples/DataCollectionEndpointsListBySubscription.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/examples/DataCollectionEndpointsPatch.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/examples/DataCollectionEndpointsUpdate.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/examples/DataCollectionRuleAssociationsCreate.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/examples/DataCollectionRuleAssociationsCreateEndpointAssoc.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/examples/DataCollectionRuleAssociationsDelete.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/examples/DataCollectionRuleAssociationsGet.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/examples/DataCollectionRuleAssociationsListByDataCollectionEndpoint.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/examples/DataCollectionRuleAssociationsListByResource.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/examples/DataCollectionRuleAssociationsListByRule.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/examples/DataCollectionRulesCreate.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/examples/DataCollectionRulesCreateAgentSettings.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/examples/DataCollectionRulesCreateEmbeddedDCE.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/examples/DataCollectionRulesCreateEnrichment.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/examples/DataCollectionRulesDelete.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/examples/DataCollectionRulesGet.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/examples/DataCollectionRulesListByResourceGroup.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/examples/DataCollectionRulesListBySubscription.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/examples/DataCollectionRulesUpdate.json
  specification/monitor/resource-manager/readme.md
Labels: Monitor, ARMSignedOff, Approved-Avocado, Approved-LintDiff, ARMReview, resource-manager, RPaaS, new-api-version, PublishToCustomers, brownfield

#37629 [DeviceRegistry][2510] - update .NET sdk api version to 2025-10-01 in `tspconfig.yaml`
  specification/deviceregistry/DeviceRegistry.Management/tspconfig.yaml
Labels: TypeSpec

#35872 Release Redisenterprise microsoft.cache 2025 07 01
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/OperationsList.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/OperationsStatusGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseAccessPolicyAssignmentCreateUpdate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseAccessPolicyAssignmentDelete.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseAccessPolicyAssignmentGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseAccessPolicyAssignmentsList.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseCreate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseDatabasesCreate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseDatabasesCreateWithGeoReplication.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseDatabasesDelete.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseDatabasesExport.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseDatabasesFlush.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseDatabasesForceLink.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseDatabasesForceUnlink.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseDatabasesGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseDatabasesImport.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseDatabasesListByCluster.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseDatabasesListKeys.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseDatabasesNoClusterCacheCreate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseDatabasesNoClusterCacheUpdateClustering.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseDatabasesRegenerateKey.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseDatabasesUpdate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseDatabasesUpgradeDBRedisVersion.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseDelete.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseDeletePrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseGetPrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseList.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseListByResourceGroup.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseListPrivateEndpointConnections.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseListPrivateLinkResources.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseListSkusForScaling.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterprisePutPrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/examples/RedisEnterpriseUpdate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2025-07-01/redisenterprise.json
  specification/redisenterprise/resource-manager/readme.md
  specification/redisenterprise/resource-manager/sdk-suppressions.yaml
Labels: ARMSignedOff, DoNotMerge, ARMReview, resource-manager, BreakingChangeReviewRequired, new-api-version, IDCDevDiv, BreakingChange-Approved-UserImpact, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-Go-Sdk-Suppression-Approved, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk, BreakingChange-Go-Sdk-Suppression, PublishToCustomers, brownfield

#37752 Refactored Swagger file to use common types for shared properties
  specification/datamigration/resource-manager/Microsoft.DataMigration/stable/2025-06-30/sqlmigration.json
Labels: ARMSignedOff, Data Migration, Approved-LintDiff, ARMReview, resource-manager, BreakingChangeReviewRequired, BreakingChange-Approved-Benign, PublishToCustomers, brownfield

#37755 Fix problem for data migration
  specification/datamigration/resource-manager/Microsoft.DataMigration/stable/2025-06-30/definitions/Common.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/stable/2025-06-30/definitions/Files.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/stable/2025-06-30/definitions/Projects.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/stable/2025-06-30/definitions/Services.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/stable/2025-06-30/definitions/Tasks.json
Labels: ARMSignedOff, Data Migration, Approved-LintDiff, ARMReview, resource-manager, BreakingChange-Approved-Benign, BreakingChange-Go-Sdk-Approved, PublishToCustomers

#35239 [Microsoft.Devices] Added IotHubs API version 2025-08-01-preview
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/CreateOrReplace_Certificates_With_DeviceRegistryPolicy.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/CreateOrReplace_IoTHub_With_DeviceRegistry.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/IotHub_ManualFailover.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/checkNameAvailability.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_certificatescreateorupdate.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_certificatesdelete.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_certverify.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_createOrUpdate.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_createconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_delete.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_deleteconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_deleteprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_exportdevices.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_generateverificationcode.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_get.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_getcertificate.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_getconsumergroup.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_getjob.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_getkey.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_getprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_getprivatelinkresources.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_getskus.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_importdevices.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_listbyrg.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_listbysubscription.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_listcertificates.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_listehgroups.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_listjobs.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_listkeys.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_listprivateendpointconnections.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_listprivatelinkresources.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_operations.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_patch.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_quotametrics.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_routingendpointhealth.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_stats.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_testallroutes.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_testnewroute.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_updateprivateendpointconnection.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/iothub_usages.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/iothub.json
  specification/iothub/resource-manager/readme.md
Labels: ARMSignedOff, IoTHub, ARMReview, resource-manager, new-api-version, PipelineBotTrigger, PublishToCustomers, brownfield

#37733 Sync eng/common directory with azure-sdk-tools for PR 12238
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Labels: EngSys, Central-EngSys

#37577 Scope and default outbound access
  specification/network/resource-manager/Microsoft.Network/stable/2025-01-01/examples/LoadBalancerCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2025-01-01/examples/LoadBalancerGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2025-01-01/loadBalancer.json
  specification/network/resource-manager/Microsoft.Network/stable/2025-01-01/virtualNetwork.json
Labels: Network, ARMSignedOff, ARMReview, resource-manager, brownfield

#37766 Sync eng/common directory with azure-sdk-tools for PR 12222
  eng/common/scripts/Submit-PullRequest.ps1
Labels: EngSys, Central-EngSys

#37765 Sync eng/common directory with azure-sdk-tools for PR 12235
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
  eng/common/scripts/logging.ps1
Labels: EngSys, Central-EngSys

#37771 Updating Bing configuration parameter docstrings
  specification/ai/Azure.AI.Agents/tools/models.tsp
  specification/ai/data-plane/Azure.AI.Agents/preview/2025-05-15-preview/azure-ai-agents.json
  specification/ai/data-plane/Azure.AI.Agents/stable/2025-05-01/azure-ai-agents.json
  specification/ai/data-plane/Azure.AI.Agents/stable/v1/azure-ai-agents.json
Labels: data-plane, TypeSpec, PublishToCustomers

#37747 A temp fix for sitemanager to unblock the GA version of sitemanager
  specification/edge/Microsoft.Edge.Sites.Management/Site.tsp
  specification/edge/Microsoft.Edge.Sites.Management/client.tsp
  specification/edge/resource-manager/Microsoft.Edge/sites/preview/2024-02-01-preview/sites.json
  specification/edge/resource-manager/Microsoft.Edge/sites/preview/2025-03-01-preview/sites.json
  specification/edge/resource-manager/Microsoft.Edge/sites/stable/2025-06-01/sites.json
Labels: ARMSignedOff, ARMReview, resource-manager, RPaaS, TypeSpec, PublishToCustomers, ARMAutoSignedOff

#37540 [DevCenter] Rename our control plane swagger to differentiate from dataplane swagger
  specification/devcenter/DevCenter.Management/tspconfig.yaml
  specification/devcenter/resource-manager/Microsoft.DevCenter/preview/2025-07-01-preview/DevCenterRP.json
  specification/devcenter/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, RPaaS, Approved-Suppression, SuppressionReviewRequired, TypeSpec, Versioning-Approved-Benign, VersioningReviewRequired, PublishToCustomers

#37749 Generate .NET SDK for lambdatesthyperexecute using new management generator
  specification/liftrhyperexecute/LambdaTest.HyperExecute.Management/tspconfig.yaml
Labels: TypeSpec

#37417 Refactor(saas): migrate to unified folder structure
  specification/saas/cspell.yaml
  specification/saas/resource-manager/Microsoft.SaaS/Saas/preview/2018-03-01-beta/examples/OperationResults/Get.json
  specification/saas/resource-manager/Microsoft.SaaS/Saas/preview/2018-03-01-beta/examples/saasSubscriptionLevel/ListAccessTokenPost.json
  specification/saas/resource-manager/Microsoft.SaaS/Saas/preview/2018-03-01-beta/examples/saasSubscriptionLevel/ResourceMove.json
  specification/saas/resource-manager/Microsoft.SaaS/Saas/preview/2018-03-01-beta/examples/saasSubscriptionLevel/SaasDelete.json
  specification/saas/resource-manager/Microsoft.SaaS/Saas/preview/2018-03-01-beta/examples/saasSubscriptionLevel/SaasGet.json
  specification/saas/resource-manager/Microsoft.SaaS/Saas/preview/2018-03-01-beta/examples/saasSubscriptionLevel/SaasGetAllInAzureSubscription.json
  specification/saas/resource-manager/Microsoft.SaaS/Saas/preview/2018-03-01-beta/examples/saasSubscriptionLevel/SaasGetAllInResourceGroup.json
  specification/saas/resource-manager/Microsoft.SaaS/Saas/preview/2018-03-01-beta/examples/saasSubscriptionLevel/SaasPatch.json
  specification/saas/resource-manager/Microsoft.SaaS/Saas/preview/2018-03-01-beta/examples/saasSubscriptionLevel/SaasPut.json
  specification/saas/resource-manager/Microsoft.SaaS/Saas/preview/2018-03-01-beta/examples/saasSubscriptionLevel/SaasUnsubscribe.json
  specification/saas/resource-manager/Microsoft.SaaS/Saas/preview/2018-03-01-beta/examples/saasSubscriptionLevel/ValidateResourceMove.json
  specification/saas/resource-manager/Microsoft.SaaS/Saas/preview/2018-03-01-beta/examples/saasV1/SaaSGetApplications.json
  specification/saas/resource-manager/Microsoft.SaaS/Saas/preview/2018-03-01-beta/examples/saasV1/SaaSGetOperations.json
  specification/saas/resource-manager/Microsoft.SaaS/Saas/preview/2018-03-01-beta/examples/saasV2/ListAccessTokenPost.json
  specification/saas/resource-manager/Microsoft.SaaS/Saas/preview/2018-03-01-beta/examples/saasV2/SaaSGetAllResources.json
  specification/saas/resource-manager/Microsoft.SaaS/Saas/preview/2018-03-01-beta/examples/saasV2/SaasDelete.json
  specification/saas/resource-manager/Microsoft.SaaS/Saas/preview/2018-03-01-beta/examples/saasV2/SaasGet.json
  specification/saas/resource-manager/Microsoft.SaaS/Saas/preview/2018-03-01-beta/examples/saasV2/SaasPatch.json
  specification/saas/resource-manager/Microsoft.SaaS/Saas/preview/2018-03-01-beta/examples/saasV2/SaasPut.json
  specification/saas/resource-manager/Microsoft.SaaS/Saas/preview/2018-03-01-beta/saas.json
  specification/saas/resource-manager/Microsoft.SaaS/Saas/readme.csharp.md
  specification/saas/resource-manager/Microsoft.SaaS/Saas/readme.go.md
  specification/saas/resource-manager/Microsoft.SaaS/Saas/readme.md
  specification/saas/resource-manager/Microsoft.SaaS/Saas/readme.python.md
  specification/saas/resource-manager/Microsoft.SaaS/Saas/readme.ruby.md
  specification/saas/resource-manager/Microsoft.SaaS/Saas/readme.typescript.md
  specification/saas/resource-manager/Microsoft.SaaS/Saas/suppressions.yaml
Labels: ARMSignedOff, Approved-Avocado, Approved-LintDiff, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired, Versioning-Approved-Benign, VersioningReviewRequired, PublishToCustomers, FolderMigrationV2

#37444 Refactor(professionalservice): migrate to unified folder structure
  specification/professionalservice/resource-manager/Microsoft.ProfessionalService/ProfessionalService/preview/2023-07-01-preview/examples/Operation/GetOperation.json
  specification/professionalservice/resource-manager/Microsoft.ProfessionalService/ProfessionalService/preview/2023-07-01-preview/examples/Operation/GetRpOperations.json
  specification/professionalservice/resource-manager/Microsoft.ProfessionalService/ProfessionalService/preview/2023-07-01-preview/examples/ProfessionalService/ProfessionalServiceDelete.json
  specification/professionalservice/resource-manager/Microsoft.ProfessionalService/ProfessionalService/preview/2023-07-01-preview/examples/ProfessionalService/ProfessionalServiceGet.json
  specification/professionalservice/resource-manager/Microsoft.ProfessionalService/ProfessionalService/preview/2023-07-01-preview/examples/ProfessionalService/ProfessionalServiceGetAllInAzureSubscription.json
  specification/professionalservice/resource-manager/Microsoft.ProfessionalService/ProfessionalService/preview/2023-07-01-preview/examples/ProfessionalService/ProfessionalServiceGetAllInResourceGroup.json
  specification/professionalservice/resource-manager/Microsoft.ProfessionalService/ProfessionalService/preview/2023-07-01-preview/examples/ProfessionalService/ProfessionalServicePutIndefiniteTerm.json
  specification/professionalservice/resource-manager/Microsoft.ProfessionalService/ProfessionalService/preview/2023-07-01-preview/examples/ProfessionalService/ProfessionalServicePutWithTerm.json
  specification/professionalservice/resource-manager/Microsoft.ProfessionalService/ProfessionalService/preview/2023-07-01-preview/examples/ProfessionalService/ProfessionalServiceUnsubscribe.json
  specification/professionalservice/resource-manager/Microsoft.ProfessionalService/ProfessionalService/preview/2023-07-01-preview/professionalservice.json
  specification/professionalservice/resource-manager/Microsoft.ProfessionalService/ProfessionalService/readme.csharp.md
  specification/professionalservice/resource-manager/Microsoft.ProfessionalService/ProfessionalService/readme.go.md
  specification/professionalservice/resource-manager/Microsoft.ProfessionalService/ProfessionalService/readme.md
  specification/professionalservice/resource-manager/Microsoft.ProfessionalService/ProfessionalService/readme.python.md
  specification/professionalservice/resource-manager/Microsoft.ProfessionalService/ProfessionalService/readme.typescript.md
  specification/professionalservice/resource-manager/Microsoft.ProfessionalService/ProfessionalService/suppressions.yaml
Labels: ARMSignedOff, Approved-Avocado, Approved-LintDiff, ARMReview, resource-manager, Versioning-Approved-Benign, VersioningReviewRequired, PublishToCustomers, FolderMigrationV2

#37458 refactor(analysisservices): migrate to unified folder structure
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/preview/2017-08-01-beta/analysisservices.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/preview/2017-08-01-beta/examples/checkNameAvailability.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/preview/2017-08-01-beta/examples/createServer.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/preview/2017-08-01-beta/examples/deleteServer.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/preview/2017-08-01-beta/examples/dissociateGateway.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/preview/2017-08-01-beta/examples/getServer.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/preview/2017-08-01-beta/examples/listGatewayStatus.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/preview/2017-08-01-beta/examples/listServers.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/preview/2017-08-01-beta/examples/listServersInResourceGroup.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/preview/2017-08-01-beta/examples/listSkusForExisting.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/preview/2017-08-01-beta/examples/listSkusForNew.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/preview/2017-08-01-beta/examples/operationResults.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/preview/2017-08-01-beta/examples/operationStatuses.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/preview/2017-08-01-beta/examples/resumeServer.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/preview/2017-08-01-beta/examples/suspendServer.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/preview/2017-08-01-beta/examples/updateServer.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/readme.go.md
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/readme.md
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/readme.nodejs.md
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/readme.ruby.md
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/readme.typescript.md
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/stable/2016-05-16/analysisservices.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/stable/2016-05-16/examples/listSkusForExisting.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/stable/2016-05-16/examples/listSkusForNew.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/stable/2017-07-14/analysisservices.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/stable/2017-07-14/examples/checkNameAvailability.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/stable/2017-07-14/examples/listSkusForExisting.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/stable/2017-07-14/examples/listSkusForNew.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/stable/2017-07-14/examples/operationResults.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/stable/2017-07-14/examples/operationStatuses.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/stable/2017-08-01/analysisservices.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/stable/2017-08-01/examples/checkNameAvailability.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/stable/2017-08-01/examples/createServer.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/stable/2017-08-01/examples/deleteServer.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/stable/2017-08-01/examples/dissociateGateway.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/stable/2017-08-01/examples/getServer.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/stable/2017-08-01/examples/listGatewayStatus.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/stable/2017-08-01/examples/listServers.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/stable/2017-08-01/examples/listServersInResourceGroup.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/stable/2017-08-01/examples/listSkusForExisting.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/stable/2017-08-01/examples/listSkusForNew.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/stable/2017-08-01/examples/operationResults.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/stable/2017-08-01/examples/operationStatuses.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/stable/2017-08-01/examples/resumeServer.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/stable/2017-08-01/examples/suspendServer.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/stable/2017-08-01/examples/updateServer.json
  specification/analysisservices/resource-manager/Microsoft.AnalysisServices/AnalysisServices/suppressions.yaml
Labels: Analysis Services, ARMSignedOff, Approved-Avocado, Approved-LintDiff, Approved-ModelValidation, ARMReview, resource-manager, BreakingChangeReviewRequired, BreakingChange-Approved-Benign, PublishToCustomers, FolderMigrationV2

#37464 refactor(managednetwork): migrate to unified folder structure
  specification/managednetwork/resource-manager/Microsoft.ManagedNetwork/ManagedNetwork/preview/2019-06-01-preview/examples/ManagedNetwork/ManagedNetworksDelete.json
  specification/managednetwork/resource-manager/Microsoft.ManagedNetwork/ManagedNetwork/preview/2019-06-01-preview/examples/ManagedNetwork/ManagedNetworksGet.json
  specification/managednetwork/resource-manager/Microsoft.ManagedNetwork/ManagedNetwork/preview/2019-06-01-preview/examples/ManagedNetwork/ManagedNetworksListByResourceGroup.json
  specification/managednetwork/resource-manager/Microsoft.ManagedNetwork/ManagedNetwork/preview/2019-06-01-preview/examples/ManagedNetwork/ManagedNetworksListBySubscription.json
  specification/managednetwork/resource-manager/Microsoft.ManagedNetwork/ManagedNetwork/preview/2019-06-01-preview/examples/ManagedNetwork/ManagedNetworksPatch.json
  specification/managednetwork/resource-manager/Microsoft.ManagedNetwork/ManagedNetwork/preview/2019-06-01-preview/examples/ManagedNetwork/ManagedNetworksPut.json
  specification/managednetwork/resource-manager/Microsoft.ManagedNetwork/ManagedNetwork/preview/2019-06-01-preview/examples/ManagedNetworkGroup/ManagedNetworkGroupsDelete.json
  specification/managednetwork/resource-manager/Microsoft.ManagedNetwork/ManagedNetwork/preview/2019-06-01-preview/examples/ManagedNetworkGroup/ManagedNetworkGroupsGet.json
  specification/managednetwork/resource-manager/Microsoft.ManagedNetwork/ManagedNetwork/preview/2019-06-01-preview/examples/ManagedNetworkGroup/ManagedNetworkGroupsListByManagedNetwork.json
  specification/managednetwork/resource-manager/Microsoft.ManagedNetwork/ManagedNetwork/preview/2019-06-01-preview/examples/ManagedNetworkGroup/ManagedNetworkGroupsPut.json
  specification/managednetwork/resource-manager/Microsoft.ManagedNetwork/ManagedNetwork/preview/2019-06-01-preview/examples/ManagedNetworkPeeringPolicy/ManagedNetworkPeeringPoliciesDelete.json
  specification/managednetwork/resource-manager/Microsoft.ManagedNetwork/ManagedNetwork/preview/2019-06-01-preview/examples/ManagedNetworkPeeringPolicy/ManagedNetworkPeeringPoliciesGet.json
  specification/managednetwork/resource-manager/Microsoft.ManagedNetwork/ManagedNetwork/preview/2019-06-01-preview/examples/ManagedNetworkPeeringPolicy/ManagedNetworkPeeringPoliciesListByManagedNetwork.json
  specification/managednetwork/resource-manager/Microsoft.ManagedNetwork/ManagedNetwork/preview/2019-06-01-preview/examples/ManagedNetworkPeeringPolicy/ManagedNetworkPeeringPoliciesPut.json
  specification/managednetwork/resource-manager/Microsoft.ManagedNetwork/ManagedNetwork/preview/2019-06-01-preview/examples/ScopeAssignment/ScopeAssignmentsDelete.json
  specification/managednetwork/resource-manager/Microsoft.ManagedNetwork/ManagedNetwork/preview/2019-06-01-preview/examples/ScopeAssignment/ScopeAssignmentsGet.json
  specification/managednetwork/resource-manager/Microsoft.ManagedNetwork/ManagedNetwork/preview/2019-06-01-preview/examples/ScopeAssignment/ScopeAssignmentsList.json
  specification/managednetwork/resource-manager/Microsoft.ManagedNetwork/ManagedNetwork/preview/2019-06-01-preview/examples/ScopeAssignment/ScopeAssignmentsPut.json
  specification/managednetwork/resource-manager/Microsoft.ManagedNetwork/ManagedNetwork/preview/2019-06-01-preview/managedNetwork.json
  specification/managednetwork/resource-manager/Microsoft.ManagedNetwork/ManagedNetwork/readme.cli.md
  specification/managednetwork/resource-manager/Microsoft.ManagedNetwork/ManagedNetwork/readme.go.md
  specification/managednetwork/resource-manager/Microsoft.ManagedNetwork/ManagedNetwork/readme.md
  specification/managednetwork/resource-manager/Microsoft.ManagedNetwork/ManagedNetwork/readme.python.md
  specification/managednetwork/resource-manager/Microsoft.ManagedNetwork/ManagedNetwork/suppressions.yaml
Labels: ARMSignedOff, Approved-Avocado, Approved-LintDiff, Approved-ModelValidation, Approved-SemanticValidation, ARMReview, resource-manager, BreakingChange-Approved-Benign, Versioning-Approved-Benign, VersioningReviewRequired, PublishToCustomers, FolderMigrationV2

#37398 refactor(engagementfabric): migrate to unified folder structure
  specification/engagementfabric/resource-manager/Microsoft.EngagementFabric/EngagementFabric/preview/2018-09-01/EngagementFabric.json
  specification/engagementfabric/resource-manager/Microsoft.EngagementFabric/EngagementFabric/preview/2018-09-01/examples/AccountsCreateOrUpdateExample.json
  specification/engagementfabric/resource-manager/Microsoft.EngagementFabric/EngagementFabric/preview/2018-09-01/examples/AccountsDeleteExample.json
  specification/engagementfabric/resource-manager/Microsoft.EngagementFabric/EngagementFabric/preview/2018-09-01/examples/AccountsGetExample.json
  specification/engagementfabric/resource-manager/Microsoft.EngagementFabric/EngagementFabric/preview/2018-09-01/examples/AccountsListByResourceGroupExample.json
  specification/engagementfabric/resource-manager/Microsoft.EngagementFabric/EngagementFabric/preview/2018-09-01/examples/AccountsListChannelTypesExample.json
  specification/engagementfabric/resource-manager/Microsoft.EngagementFabric/EngagementFabric/preview/2018-09-01/examples/AccountsListExample.json
  specification/engagementfabric/resource-manager/Microsoft.EngagementFabric/EngagementFabric/preview/2018-09-01/examples/AccountsListKeysExample.json
  specification/engagementfabric/resource-manager/Microsoft.EngagementFabric/EngagementFabric/preview/2018-09-01/examples/AccountsRegenerateKeyExample.json
  specification/engagementfabric/resource-manager/Microsoft.EngagementFabric/EngagementFabric/preview/2018-09-01/examples/AccountsUpdateExample.json
  specification/engagementfabric/resource-manager/Microsoft.EngagementFabric/EngagementFabric/preview/2018-09-01/examples/ChannelsCreateOrUpdateExample.json
  specification/engagementfabric/resource-manager/Microsoft.EngagementFabric/EngagementFabric/preview/2018-09-01/examples/ChannelsDeleteExample.json
  specification/engagementfabric/resource-manager/Microsoft.EngagementFabric/EngagementFabric/preview/2018-09-01/examples/ChannelsGetExample.json
  specification/engagementfabric/resource-manager/Microsoft.EngagementFabric/EngagementFabric/preview/2018-09-01/examples/ChannelsListExample.json
  specification/engagementfabric/resource-manager/Microsoft.EngagementFabric/EngagementFabric/preview/2018-09-01/examples/CheckNameAvailabilityExample.json
  specification/engagementfabric/resource-manager/Microsoft.EngagementFabric/EngagementFabric/preview/2018-09-01/examples/OperationsListExample.json
  specification/engagementfabric/resource-manager/Microsoft.EngagementFabric/EngagementFabric/preview/2018-09-01/examples/SKUsListExample.json
  specification/engagementfabric/resource-manager/Microsoft.EngagementFabric/EngagementFabric/readme.go.md
  specification/engagementfabric/resource-manager/Microsoft.EngagementFabric/EngagementFabric/readme.md
  specification/engagementfabric/resource-manager/Microsoft.EngagementFabric/EngagementFabric/readme.nodejs.md
  specification/engagementfabric/resource-manager/Microsoft.EngagementFabric/EngagementFabric/readme.ruby.md
  specification/engagementfabric/resource-manager/Microsoft.EngagementFabric/EngagementFabric/readme.typescript.md
  specification/engagementfabric/resource-manager/Microsoft.EngagementFabric/EngagementFabric/readme_temp.md
  specification/engagementfabric/resource-manager/Microsoft.EngagementFabric/EngagementFabric/suppressions.yaml
Labels: ARMSignedOff, Approved-Avocado, Approved-LintDiff, Approved-ModelValidation, ARMReview, resource-manager, BreakingChange-Approved-Benign, Versioning-Approved-Benign, VersioningReviewRequired, PublishToCustomers, FolderMigrationV2

#37507 refactor(extendedlocation): migrate to unified folder structure
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/preview/2021-03-15-preview/customlocations.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/preview/2021-03-15-preview/examples/CustomLocationsCreate_Update.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/preview/2021-03-15-preview/examples/CustomLocationsDelete.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/preview/2021-03-15-preview/examples/CustomLocationsGet.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/preview/2021-03-15-preview/examples/CustomLocationsListByResourceGroup.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/preview/2021-03-15-preview/examples/CustomLocationsListBySubscription.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/preview/2021-03-15-preview/examples/CustomLocationsListEnabledResourceTypes.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/preview/2021-03-15-preview/examples/CustomLocationsListOperations.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/preview/2021-03-15-preview/examples/CustomLocationsPatch.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/preview/2021-08-31-preview/customlocations.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/preview/2021-08-31-preview/examples/CustomLocationsCreate_Update.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/preview/2021-08-31-preview/examples/CustomLocationsDelete.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/preview/2021-08-31-preview/examples/CustomLocationsFindTargetResourceGroup.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/preview/2021-08-31-preview/examples/CustomLocationsGet.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/preview/2021-08-31-preview/examples/CustomLocationsListByResourceGroup.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/preview/2021-08-31-preview/examples/CustomLocationsListBySubscription.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/preview/2021-08-31-preview/examples/CustomLocationsListEnabledResourceTypes.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/preview/2021-08-31-preview/examples/CustomLocationsListOperations.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/preview/2021-08-31-preview/examples/CustomLocationsPatch.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/preview/2021-08-31-preview/examples/ResourceSyncRulesCreate_Update.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/preview/2021-08-31-preview/examples/ResourceSyncRulesDelete.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/preview/2021-08-31-preview/examples/ResourceSyncRulesGet.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/preview/2021-08-31-preview/examples/ResourceSyncRulesListByCustomLocationID.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/preview/2021-08-31-preview/examples/ResourceSyncRulesPatch.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/readme.go.md
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/readme.md
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/readme.python.md
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/readme.ruby.md
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/readme.typescript.md
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/stable/2021-08-15/customlocations.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/stable/2021-08-15/examples/CustomLocationsCreate_Update.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/stable/2021-08-15/examples/CustomLocationsDelete.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/stable/2021-08-15/examples/CustomLocationsGet.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/stable/2021-08-15/examples/CustomLocationsListByResourceGroup.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/stable/2021-08-15/examples/CustomLocationsListBySubscription.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/stable/2021-08-15/examples/CustomLocationsListEnabledResourceTypes.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/stable/2021-08-15/examples/CustomLocationsListOperations.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/stable/2021-08-15/examples/CustomLocationsPatch.json
  specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/CustomLocations/suppressions.yaml
Labels: ARMSignedOff, Approved-Avocado, Approved-LintDiff, Approved-ModelValidation, ARMReview, resource-manager, BreakingChangeReviewRequired, BreakingChange-Approved-Benign, PublishToCustomers, FolderMigrationV2

#37512 refactor(networkfunction): migrate to unified folder structure
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/preview/2021-09-01-preview/AzureTrafficCollector.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/preview/2021-09-01-preview/examples/AzureTrafficCollectorCreate.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/preview/2021-09-01-preview/examples/AzureTrafficCollectorDelete.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/preview/2021-09-01-preview/examples/AzureTrafficCollectorGet.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/preview/2021-09-01-preview/examples/AzureTrafficCollectorUpdateTags.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/preview/2021-09-01-preview/examples/AzureTrafficCollectorsByResourceGroupList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/preview/2021-09-01-preview/examples/AzureTrafficCollectorsBySubscriptionList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/preview/2021-09-01-preview/examples/CollectorPoliciesList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/preview/2021-09-01-preview/examples/CollectorPolicyCreate.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/preview/2021-09-01-preview/examples/CollectorPolicyDelete.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/preview/2021-09-01-preview/examples/CollectorPolicyGet.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/preview/2021-09-01-preview/examples/OperationsList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/readme.csharp.md
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/readme.go.md
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/readme.md
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/readme.python.md
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/readme.ruby.md
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/readme.typescript.md
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-05-01/AzureTrafficCollector.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-05-01/examples/AzureTrafficCollectorCreate.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-05-01/examples/AzureTrafficCollectorDelete.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-05-01/examples/AzureTrafficCollectorGet.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-05-01/examples/AzureTrafficCollectorUpdateTags.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-05-01/examples/AzureTrafficCollectorsByResourceGroupList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-05-01/examples/AzureTrafficCollectorsBySubscriptionList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-05-01/examples/CollectorPoliciesList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-05-01/examples/CollectorPolicyCreate.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-05-01/examples/CollectorPolicyDelete.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-05-01/examples/CollectorPolicyGet.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-05-01/examples/OperationsList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-08-01/AzureTrafficCollector.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-08-01/examples/AzureTrafficCollectorCreate.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-08-01/examples/AzureTrafficCollectorDelete.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-08-01/examples/AzureTrafficCollectorGet.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-08-01/examples/AzureTrafficCollectorUpdateTags.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-08-01/examples/AzureTrafficCollectorsByResourceGroupList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-08-01/examples/AzureTrafficCollectorsBySubscriptionList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-08-01/examples/CollectorPoliciesList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-08-01/examples/CollectorPolicyCreate.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-08-01/examples/CollectorPolicyDelete.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-08-01/examples/CollectorPolicyGet.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-08-01/examples/OperationsList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-11-01/AzureTrafficCollector.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-11-01/examples/AzureTrafficCollectorCreate.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-11-01/examples/AzureTrafficCollectorDelete.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-11-01/examples/AzureTrafficCollectorGet.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-11-01/examples/AzureTrafficCollectorUpdateTags.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-11-01/examples/AzureTrafficCollectorsByResourceGroupList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-11-01/examples/AzureTrafficCollectorsBySubscriptionList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-11-01/examples/CollectorPoliciesList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-11-01/examples/CollectorPolicyCreate.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-11-01/examples/CollectorPolicyDelete.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-11-01/examples/CollectorPolicyGet.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-11-01/examples/CollectorPolicyUpdateTags.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/stable/2022-11-01/examples/OperationsList.json
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/suppressions.yaml
Labels: ARMSignedOff, Approved-Avocado, Approved-LintDiff, Approved-ModelValidation, ARMReview, resource-manager, BreakingChangeReviewRequired, BreakingChange-Approved-Benign, PublishToCustomers, FolderMigrationV2

#37447 refactor(powerplatform): migrate to unified folder structure
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/preview/2020-10-30-preview/account.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/preview/2020-10-30-preview/definitions.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/preview/2020-10-30-preview/enterprisePolicy.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/preview/2020-10-30-preview/examples/PrivateEndpointConnectionDelete.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/preview/2020-10-30-preview/examples/PrivateEndpointConnectionGet.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/preview/2020-10-30-preview/examples/PrivateEndpointConnectionListGet.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/preview/2020-10-30-preview/examples/PrivateEndpointConnectionUpdate.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/preview/2020-10-30-preview/examples/PrivateLinkResourceGet.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/preview/2020-10-30-preview/examples/PrivateLinkResourceListGet.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/preview/2020-10-30-preview/examples/createOrUpdateAccount.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/preview/2020-10-30-preview/examples/createOrUpdateEnterprisePolicy.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/preview/2020-10-30-preview/examples/deleteAccount.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/preview/2020-10-30-preview/examples/deleteEnterprisePolicy.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/preview/2020-10-30-preview/examples/getAccount.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/preview/2020-10-30-preview/examples/getEnterprisePolicy.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/preview/2020-10-30-preview/examples/listAccountsByResourceGroup.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/preview/2020-10-30-preview/examples/listAccountsBySubscription.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/preview/2020-10-30-preview/examples/listEnterprisePoliciesByResourceGroup.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/preview/2020-10-30-preview/examples/listEnterprisePoliciesBySubscription.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/preview/2020-10-30-preview/examples/listOperations.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/preview/2020-10-30-preview/examples/updateAccount.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/preview/2020-10-30-preview/examples/updateEnterprisePolicy.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/preview/2020-10-30-preview/privateEndpointConnection.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/preview/2020-10-30-preview/privateLinkResources.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/readme.csharp.md
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/readme.go.md
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/readme.md
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/readme.python.md
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/readme.ruby.md
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/readme.typescript.md
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/PowerPlatform/suppressions.yaml
  specification/powerplatform/suppressions.yaml
Labels: ARMSignedOff, Approved-Avocado, Approved-LintDiff, Approved-ModelValidation, ARMReview, resource-manager, BreakingChange-Approved-Benign, Versioning-Approved-Benign, VersioningReviewRequired, PublishToCustomers, FolderMigrationV2

#36074 [Conv Authoring] modify Python clientname 20250515preview
  specification/cognitiveservices/Language.AnalyzeConversations-authoring/client.tsp
  specification/cognitiveservices/Language.AnalyzeConversations-authoring/main.tsp
  specification/cognitiveservices/Language.AnalyzeConversations-authoring/models/common.tsp
  specification/cognitiveservices/Language.AnalyzeConversations-authoring/models/project.tsp
  specification/cognitiveservices/Language.AnalyzeConversations-authoring/routes.tsp
  specification/cognitiveservices/data-plane/Language/preview/2024-11-15-preview/analyzeconversations-authoring.json
  specification/cognitiveservices/data-plane/Language/preview/2025-05-15-preview/analyzeconversations-authoring.json
  specification/cognitiveservices/data-plane/Language/stable/2023-04-01/analyzeconversations-authoring.json
Labels: Cognitive Services, data-plane, TypeSpec, PublishToCustomers

#37795 Add missing `outContentType` to getSecret in client.tsp
  specification/keyvault/Security.KeyVault.Secrets/client.tsp
Labels: KeyVault, TypeSpec

#37799 enable new mpg emitter for dell
  specification/dell/Dell.Storage.Management/tspconfig.yaml
Labels: TypeSpec

#37802 Generate .NET SDK for arizeaiobservabilityeval using new management generator
  specification/liftrarize/ArizeAi.ObservabilityEval.Management/tspconfig.yaml
Labels: TypeSpec

#37808 recoveryserivce, Update main.tsp, remove useDependency
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/RecoveryServices/main.tsp
Labels: ARMSignedOff, RecoveryServices, ARMReview, resource-manager, TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk, PublishToCustomers

#37806 enable new csharp mpg emitter for informatica
  specification/informatica/Informatica.DataManagement.Management/client.tsp
  specification/informatica/Informatica.DataManagement.Management/tspconfig.yaml
Labels: TypeSpec, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk

#36993 [AI Projects] dotnet naming changes
  specification/ai/Azure.AI.Projects/client.tsp
  specification/ai/Azure.AI.Projects/tspconfig.yaml
Labels: TypeSpec

#37227 Adding more Service Group examples for CheckNameAvailability in Microsoft.Management
  specification/managementgroups/resource-manager/Microsoft.Management/ManagementGroups/preview/2024-02-01-preview/examples/CheckServiceGroupNameAvailability_Available.json
  specification/managementgroups/resource-manager/Microsoft.Management/ManagementGroups/preview/2024-02-01-preview/examples/CheckServiceGroupNameAvailability_Unavailable.json
  specification/managementgroups/resource-manager/Microsoft.Management/ManagementGroups/preview/2024-02-01-preview/management.json
Labels: ARMSignedOff, ARMReview, resource-manager, Versioning-Approved-BugFix, VersioningReviewRequired, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk, PublishToCustomers

#37578 Evaluators CRUD Typespec
  package-lock.json
  specification/ai/Azure.AI.Projects/common/models.tsp
  specification/ai/Azure.AI.Projects/evaluators/models.tsp
  specification/ai/Azure.AI.Projects/evaluators/routes.tsp
  specification/ai/Azure.AI.Projects/main.tsp
  specification/ai/cspell.yaml
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-10-15-preview/azure-ai-projects.json
Labels: data-plane, TypeSpec

#37835 Update client settings for releasing Azure.ResourceManager.OracleDatabase
  specification/oracle/Oracle.Database.Management/client.tsp
  specification/oracle/Oracle.Database.Management/tspconfig.yaml
Labels: TypeSpec, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Python-Sdk-Approved, BreakingChange-JavaScript-Sdk, BreakingChange-Python-Sdk

#37463 TrustedSigning GA 2025-10-13 stable version added
  specification/codesigning/CodeSigning.Management/examples/2025-10-13/CertificateProfiles_Create.json
  specification/codesigning/CodeSigning.Management/examples/2025-10-13/CertificateProfiles_Delete.json
  specification/codesigning/CodeSigning.Management/examples/2025-10-13/CertificateProfiles_Get.json
  specification/codesigning/CodeSigning.Management/examples/2025-10-13/CertificateProfiles_ListByCodeSigningAccount.json
  specification/codesigning/CodeSigning.Management/examples/2025-10-13/CertificateProfiles_RevokeCertificate.json
  specification/codesigning/CodeSigning.Management/examples/2025-10-13/CodeSigningAccounts_CheckNameAvailability.json
  specification/codesigning/CodeSigning.Management/examples/2025-10-13/CodeSigningAccounts_Create.json
  specification/codesigning/CodeSigning.Management/examples/2025-10-13/CodeSigningAccounts_Delete.json
  specification/codesigning/CodeSigning.Management/examples/2025-10-13/CodeSigningAccounts_Get.json
  specification/codesigning/CodeSigning.Management/examples/2025-10-13/CodeSigningAccounts_ListByResourceGroup.json
  specification/codesigning/CodeSigning.Management/examples/2025-10-13/CodeSigningAccounts_ListBySubscription.json
  specification/codesigning/CodeSigning.Management/examples/2025-10-13/CodeSigningAccounts_Update.json
  specification/codesigning/CodeSigning.Management/examples/2025-10-13/Operations_List.json
  specification/codesigning/CodeSigning.Management/main.tsp
  specification/codesigning/resource-manager/Microsoft.CodeSigning/stable/2025-10-13/codeSigningAccount.json
  specification/codesigning/resource-manager/Microsoft.CodeSigning/stable/2025-10-13/examples/CertificateProfiles_Create.json
  specification/codesigning/resource-manager/Microsoft.CodeSigning/stable/2025-10-13/examples/CertificateProfiles_Delete.json
  specification/codesigning/resource-manager/Microsoft.CodeSigning/stable/2025-10-13/examples/CertificateProfiles_Get.json
  specification/codesigning/resource-manager/Microsoft.CodeSigning/stable/2025-10-13/examples/CertificateProfiles_ListByCodeSigningAccount.json
  specification/codesigning/resource-manager/Microsoft.CodeSigning/stable/2025-10-13/examples/CertificateProfiles_RevokeCertificate.json
  specification/codesigning/resource-manager/Microsoft.CodeSigning/stable/2025-10-13/examples/CodeSigningAccounts_CheckNameAvailability.json
  specification/codesigning/resource-manager/Microsoft.CodeSigning/stable/2025-10-13/examples/CodeSigningAccounts_Create.json
  specification/codesigning/resource-manager/Microsoft.CodeSigning/stable/2025-10-13/examples/CodeSigningAccounts_Delete.json
  specification/codesigning/resource-manager/Microsoft.CodeSigning/stable/2025-10-13/examples/CodeSigningAccounts_Get.json
  specification/codesigning/resource-manager/Microsoft.CodeSigning/stable/2025-10-13/examples/CodeSigningAccounts_ListByResourceGroup.json
  specification/codesigning/resource-manager/Microsoft.CodeSigning/stable/2025-10-13/examples/CodeSigningAccounts_ListBySubscription.json
  specification/codesigning/resource-manager/Microsoft.CodeSigning/stable/2025-10-13/examples/CodeSigningAccounts_Update.json
  specification/codesigning/resource-manager/Microsoft.CodeSigning/stable/2025-10-13/examples/Operations_List.json
  specification/codesigning/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, RPaaS, new-api-version, TypeSpec, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk, PublishToCustomers, ARMAutoSignedOff

#37852 Synchronous delete and typo fix
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2025-10-01-preview/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2025-10-01-preview/examples/AgentApplication/delete.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2025-10-01-preview/examples/ManagedNetwork/deleteRuleV2.json
Labels: Cognitive Services, resource-manager, brownfield

#37820 Sync eng/common directory with azure-sdk-tools for PR 12246
  eng/common/mcp/azure-sdk-mcp.ps1
Labels: EngSys, Central-EngSys
