Repository Azure/azure-rest-api-specs, pull requests merged in 2025-04, with the labels that each got.

#33473 Gate updates for the fleet-2025-04-01-preview API
  specification/containerservice/Fleet.Management/examples/2025-04-01-preview/Gates_Get.json
  specification/containerservice/Fleet.Management/examples/2025-04-01-preview/Gates_ListByFleet.json
  specification/containerservice/Fleet.Management/examples/2025-04-01-preview/Gates_Update.json
  specification/containerservice/Fleet.Management/gate.tsp
  specification/containerservice/Fleet.Management/update/common.tsp
  specification/containerservice/Fleet.Management/update/run.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2025-04-01-preview/examples/Gates_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2025-04-01-preview/examples/Gates_ListByFleet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2025-04-01-preview/examples/Gates_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2025-04-01-preview/fleets.json
Labels: Container Service, resource-manager, TypeSpec

#33560 [AzureLoadTesting] Required Renames for the new SDK client
  specification/loadtestservice/LoadTestService/client.tsp
Labels: Load Test Service, TypeSpec, PublishToCustomers

#30296 Adding changes for external soft delete
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/elasticsan.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/ElasticSans_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/ElasticSans_Create_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/ElasticSans_Delete_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/ElasticSans_Delete_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/ElasticSans_Get_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/ElasticSans_Get_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/ElasticSans_ListByResourceGroup_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/ElasticSans_ListByResourceGroup_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/ElasticSans_ListBySubscription_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/ElasticSans_ListBySubscription_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/ElasticSans_Update_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/ElasticSans_Update_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/Operations_List_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/Operations_List_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/PrivateEndpointConnections_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/PrivateEndpointConnections_Create_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/PrivateEndpointConnections_Delete_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/PrivateEndpointConnections_Delete_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/PrivateEndpointConnections_Get_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/PrivateEndpointConnections_Get_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/PrivateEndpointConnections_List_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/PrivateEndpointConnections_List_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/PrivateLinkResources_ListByElasticSan_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/PrivateLinkResources_ListByElasticSan_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/RestoreVolume_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/RestoreVolume_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/Skus_List_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/Skus_List_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/VolumeGroups_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/VolumeGroups_Create_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/VolumeGroups_Delete_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/VolumeGroups_Delete_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/VolumeGroups_Get_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/VolumeGroups_Get_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/VolumeGroups_ListByElasticSan_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/VolumeGroups_ListByElasticSan_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/VolumeGroups_Update_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/VolumeGroups_Update_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/VolumeSnapshots_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/VolumeSnapshots_Create_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/VolumeSnapshots_Delete_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/VolumeSnapshots_Delete_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/VolumeSnapshots_Get_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/VolumeSnapshots_Get_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/VolumeSnapshots_ListByVolumeGroup_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/VolumeSnapshots_ListByVolumeGroup_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/Volumes_Create_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/Volumes_Create_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/Volumes_Delete_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/Volumes_Delete_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/Volumes_Get_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/Volumes_Get_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/Volumes_ListByVolumeGroup_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/Volumes_ListByVolumeGroup_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/Volumes_PreBackup_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/Volumes_PreRestore_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/Volumes_Update_MaximumSet_Gen.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/examples/Volumes_Update_MinimumSet_Gen.json
  specification/elasticsan/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, PublishToCustomers, brownfield

#33457 [AI] [Project] add tool def for Bing Custom Search
  specification/ai/Azure.AI.Projects/agents/tools/models.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2024-07-01-preview/azure-ai-projects.json
Labels: data-plane, TypeSpec

#33600 [AI] [Projects] add openApi schema changes
  specification/ai/Azure.AI.Projects/agents/tools/models.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2024-07-01-preview/azure-ai-projects.json
Labels: data-plane, TypeSpec

#33628 [AI] [Assistants] add bing custom search and openApi tool changes
  specification/ai/Azure.AI.Assistants/tools/models.tsp
  specification/ai/data-plane/Azure.AI.Assistants/stable/latest/azure-ai-assistants.json
Labels: data-plane, TypeSpec

#33629 [AI] [Assistants] OpenAPI schema sync
  specification/ai/Azure.AI.Assistants/tools/models.tsp
  specification/ai/data-plane/Azure.AI.Assistants/stable/latest/azure-ai-assistants.json
Labels: data-plane, TypeSpec

#33634 Revert "Separate /copilotSettings and /extensions service Readme into separat…"
  specification/portalservices/resource-manager/Microsoft.PortalServices/extensions/preview/readme.md
  specification/portalservices/resource-manager/readme.md
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, RPaaS, Approved-Suppression, SuppressionReviewRequired, PublishToCustomers

#33635 Sync eng/common directory with azure-sdk-tools for PR 10181
  eng/common/scripts/logging.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#33640 Sync eng/common directory with azure-sdk-tools for PR 10176
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#33584 nguyenquang/2025 02 02 preview ACNS L7 Policy API
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2025-02-02-preview/managedClusters.json
Labels: Container Service, resource-manager, BreakingChange-Python-Sdk, brownfield

#33593 [Storage] Omit response headers for certain headers
  specification/storage/Microsoft.BlobStorage/routes.tsp
Labels: Storage, TypeSpec

#32822 New Microsoft.Resources/deployments stable API version 2025-03-01
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/CalculateTemplateHash.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/CreateResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/DeleteTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/DeleteTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/ExportResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/ExportResourceGroupAsBicep.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/ExportResourceGroupWithFiltering.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/ForceDeleteVMsAndVMSSInResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/ForceDeleteVMsInResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/GetNamedProviderAtTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/GetProvider.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/GetProviderPermissions.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/GetProviderResourceTypes.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/GetProviders.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/GetTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/GetTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PatchTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PatchTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PostDeploymentValidateOnManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PostDeploymentValidateOnResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PostDeploymentValidateOnScope.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PostDeploymentValidateOnSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PostDeploymentValidateOnTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PostDeploymentWhatIfOnManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PostDeploymentWhatIfOnResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PostDeploymentWhatIfOnSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PostDeploymentWhatIfOnTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PutDeploymentAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PutDeploymentAtScope.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PutDeploymentAtTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PutDeploymentResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PutDeploymentResourceGroupTemplateSpecsWithId.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PutDeploymentSubscriptionTemplateSpecsWithId.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PutDeploymentWithOnErrorDeploymentLastSuccessful.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PutDeploymentWithOnErrorDeploymentSpecificDeployment.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PutTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PutTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/resources.json
  specification/resources/resource-manager/readme.md
  specification/resources/resource-manager/readme.python.md
Labels: ARMSignedOff, Approved-Avocado, ARMReview, resource-manager, Approved-Suppression, SuppressionReviewRequired, new-api-version, BreakingChange-Go-Sdk-Approved, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-Go-Sdk, BreakingChange-JavaScript-Sdk, PublishToCustomers, brownfield

#33594 add namespace to swagger 2025-02-02-preview
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2025-02-02-preview/examples/NamespacesCreate_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2025-02-02-preview/examples/NamespacesDelete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2025-02-02-preview/examples/NamespacesGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2025-02-02-preview/examples/NamespacesList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2025-02-02-preview/examples/NamespacesListCredentialResult.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2025-02-02-preview/examples/NamespacesUpdateTags.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2025-02-02-preview/managedClusters.json
Labels: Container Service, resource-manager, BreakingChange-Python-Sdk, brownfield

#33642 Set the api-version used by emitted SDKs
  specification/ai/Azure.AI.Projects/tspconfig.yaml
Labels: TypeSpec

#32233 RecoveryServices Swagger Release api-version: 2025-01-01
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/Capabilities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/CheckNameAvailability_Available.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/CheckNameAvailability_NotAvailable.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/DeleteRegisteredIdentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/DeleteVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/GETVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/GETVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/GetOperationResult.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/GetOperationStatus.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/GetPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/ListBySubscriptionIds.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/ListOperations.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/ListPrivateLinkResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/ListReplicationUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/ListResources.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/ListUsages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/PATCHVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/PATCHVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/PATCHVault_WithCMK3.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/PATCHVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/PATCHVault_WithRedundancySettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/PATCHVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/PUTVault.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/PUTVaultCred.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/PUTVault_ResourceGuardEnabled.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/PUTVault_WithCMK.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/PUTVault_WithMonitoringSettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/PUTVault_WithRedundancySettings.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/PUTVault_WithUserAssignedIdentity.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/PatchVault_WithCMK2.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/examples/UpdateVaultExtendedInfo.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/registeredidentities.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/replicationusages.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/vaults.json
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-01-01/vaultusages.json
  specification/recoveryservices/resource-manager/readme.md
Labels: ARMSignedOff, RecoveryServices, ARMReview, resource-manager, ReadyForApiTest, new-api-version, PublishToCustomers, brownfield

#33658 [eg] remove versioning from readme
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/README.md
Labels: Event Grid

#33664 Fix broken folder structure in emitted Python SDK
  specification/ai/Azure.AI.Projects/tspconfig.yaml
Labels: TypeSpec

#33680 Sync eng/common directory with azure-sdk-tools for PR 10191
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#33621 [LintDiff] Only filter "after" violations by affected swaggers + Refactor
  eng/tools/lint-diff/src/correlateResults.ts
  eng/tools/lint-diff/src/generateReport.ts
  eng/tools/lint-diff/src/lint-diff.ts
  eng/tools/lint-diff/src/runChecks.ts
  eng/tools/lint-diff/src/types.ts
  eng/tools/lint-diff/src/util.ts
  eng/tools/lint-diff/test/correlateResults.test.ts
  eng/tools/lint-diff/test/generateReport.test.ts
Labels: PipelineBotTrigger

#33686 upgrade spec-gen-sdk
  package-lock.json
  package.json
Labels: PipelineBotTrigger

#33582 [BUG] Support new ApiVersion like yyyy-mm-dd-preview
  eng/scripts/Copy-ApiVersion-Functions.ps1
  eng/scripts/Tests/Copy-ApiVersion.Tests.ps1
Labels: PipelineBotTrigger

#33675 Adding two new service-level readMe while maintaining the top-level r…
  specification/portalservices/resource-manager/Microsoft.PortalServices/copilotSettings/readme.md
  specification/portalservices/resource-manager/Microsoft.PortalServices/extensions/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, Approved-Suppression, SuppressionReviewRequired, PipelineBotTrigger, PublishToCustomers, ARMAutoSignedOff

#33687 [hybridconnectivity] Fix. net SDK renaming issue
  specification/hybridconnectivity/HybridConnectivity.Management/PublicCloud.tsp
  specification/hybridconnectivity/HybridConnectivity.Management/client.tsp
  specification/hybridconnectivity/resource-manager/Microsoft.HybridConnectivity/stable/2024-12-01/hybridconnectivity.json
Labels: TypeSpec, PipelineBotTrigger

#33693 openai, java, customization for UploadFileRequest, after TypeSpec syntax change
  specification/ai/OpenAI.Assistants/client.tsp
  specification/ai/OpenAI.Assistants/tspconfig.yaml
  specification/cognitiveservices/OpenAI.Inference/client.tsp
  specification/cognitiveservices/OpenAI.Inference/tspconfig.yaml
Labels: TypeSpec

#33688 Remove function from the OpenApi request.
  specification/ai/Azure.AI.Projects/agents/files/routes.tsp
  specification/ai/Azure.AI.Projects/agents/tools/models.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2024-07-01-preview/azure-ai-projects.json
Labels: data-plane, new-api-version, TypeSpec, PipelineBotTrigger

#32999 Added new headers to Datalake Path_GetProperties
  specification/storage/data-plane/Azure.Storage.Files.DataLake/stable/2025-05-05/DataLakeStorage.json
Labels: Storage, data-plane, PublishToCustomers, brownfield

#33707 Update comment for endpoint for target evaluations
  specification/ai/Azure.AI.Projects/evaluations/model.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2024-07-01-preview/azure-ai-projects.json
Labels: data-plane, TypeSpec

#33673 Sync eng/common directory with azure-sdk-tools for PR 10184
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#33685 Sync eng/common directory with azure-sdk-tools for PR 10190
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#33709 Sync eng/common directory with azure-sdk-tools for PR 10206
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#33712 Make sure this TypeSpec PR is green with regards to Python SDK emitter
  specification/ai/Azure.AI.Projects/tspconfig.yaml
  specification/ai/cspell.yaml
Labels: TypeSpec

#33645 Fix agent path and prevent generation of samples
  specification/ai/Azure.AI.Assistants/main.tsp
  specification/ai/Azure.AI.Assistants/tools/models.tsp
  specification/ai/Azure.AI.Assistants/tspconfig.yaml
  specification/ai/data-plane/Azure.AI.Assistants/stable/latest/azure-ai-assistants.json
Labels: data-plane, TypeSpec, NotReadyForARMReview, PipelineBotTrigger

#33729 remove eval result from public
  specification/ai/Azure.AI.Projects/evaluation-results/models.tsp
  specification/ai/Azure.AI.Projects/evaluation-results/routes.tsp
  specification/ai/Azure.AI.Projects/evaluations/models.tsp
  specification/ai/Azure.AI.Projects/main.tsp
  specification/ai/Azure.AI.Projects/red-teams/models.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-05-15-preview/azure-ai-projects-1dp.json
Labels: data-plane, TypeSpec

#33739 Remove 'create' from startPendingUpload docstrings
  specification/ai/Azure.AI.Projects/datasets/routes.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-05-15-preview/azure-ai-projects-1dp.json
  specification/ai/data-plane/Azure.AI.Projects/stable/2025-05-01/azure-ai-projects-1dp.json
  specification/ai/data-plane/Azure.AI.Projects/stable/latest/azure-ai-projects-1dp.json
Labels: ARMReview, resource-manager, data-plane, RPaaS, BreakingChangeReviewRequired, SuppressionReviewRequired, new-api-version, new-rp-namespace, TypeSpec, NotReadyForARMReview

#33734 Rename agents to assistants
  specification/ai/Azure.AI.Assistants/client.tsp
  specification/ai/Azure.AI.Assistants/common/models.tsp
  specification/ai/Azure.AI.Assistants/files/main.tsp
  specification/ai/Azure.AI.Assistants/files/models.tsp
  specification/ai/Azure.AI.Assistants/files/routes.tsp
  specification/ai/Azure.AI.Assistants/main.tsp
  specification/ai/Azure.AI.Assistants/messages/models.tsp
  specification/ai/Azure.AI.Assistants/messages/routes.tsp
  specification/ai/Azure.AI.Assistants/models.tsp
  specification/ai/Azure.AI.Assistants/routes.tsp
  specification/ai/Azure.AI.Assistants/run_steps/models.tsp
  specification/ai/Azure.AI.Assistants/runs/models.tsp
  specification/ai/Azure.AI.Assistants/runs/routes.tsp
  specification/ai/Azure.AI.Assistants/streaming/events.tsp
  specification/ai/Azure.AI.Assistants/threads/models.tsp
  specification/ai/Azure.AI.Assistants/threads/routes.tsp
  specification/ai/Azure.AI.Assistants/tools/models.tsp
  specification/ai/Azure.AI.Assistants/tools/tool_resources.tsp
  specification/ai/data-plane/Azure.AI.Assistants/stable/latest/azure-ai-assistants.json
Labels: data-plane, TypeSpec, NotReadyForARMReview

#33752 [power platform] Update readme.python.md
  specification/powerplatform/resource-manager/readme.python.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#33482 Fix prettier failures for 2025-04-01-preview
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/CapabilityHost/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/CapabilityHost/delete.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/CapabilityHost/get.json
Labels: ARMSignedOff, ARMReview, resource-manager, PipelineBotTrigger

#33126 Add Defender for Storage Settings API Spec for Filtering Public Preview Version
  specification/security/resource-manager/Microsoft.Security/preview/2024-08-01-preview/defenderForStorageSettings.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-08-01-preview/examples/DefenderForStorage/GetDefenderForStorageSettings_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-08-01-preview/examples/DefenderForStorage/PutDefenderForStorageSettings_example.json
  specification/security/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, Versioning-Approved-BugFix, PublishToCustomers, brownfield

#33747 Fix empty file generation
  specification/ai/Azure.AI.Assistants/client.tsp
  specification/ai/Azure.AI.Assistants/vector_stores/main.tsp
Labels: TypeSpec

#33660 Merge from feature branch
  specification/ai/ModelClient/client.tsp
  specification/ai/ModelClient/main.tsp
  specification/ai/ModelClient/models/chat_completions.tsp
  specification/ai/ModelClient/models/embeddings.tsp
  specification/ai/ModelClient/models/image_embeddings.tsp
  specification/ai/ModelClient/routes.tsp
  specification/ai/ModelClient/tspconfig.yaml
  specification/ai/cspell.yaml
  specification/ai/data-plane/AI.Model/preview/2024-05-01-preview/openapi.json
Labels: data-plane, TypeSpec

#33765 Sync eng/common directory with azure-sdk-tools for PR 10182
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#33663 Remove references to Render v2, instead use 'latest'.
  specification/maps/data-plane/Render/preview/1.0/render.json
Labels: customer-reported, Maps, data-plane, PublishToCustomers

#33771 Update additional directory implementation for tsp-client
  specification/ai/HealthInsights/HealthInsights.RadiologyInsights/tspconfig.yaml
  specification/contosowidgetmanager/Contoso.WidgetManager/tspconfig.yaml
  specification/keyvault/Security.KeyVault.Administration/tspconfig.yaml
  specification/keyvault/Security.KeyVault.BackupRestore/tspconfig.yaml
  specification/keyvault/Security.KeyVault.Certificates/tspconfig.yaml
  specification/keyvault/Security.KeyVault.Keys/tspconfig.yaml
  specification/keyvault/Security.KeyVault.RBAC/tspconfig.yaml
  specification/keyvault/Security.KeyVault.Secrets/tspconfig.yaml
  specification/keyvault/Security.KeyVault.Settings/tspconfig.yaml
  specification/oracle/Oracle.Database.Management/tspconfig.yaml
  specification/playwrighttesting/PlaywrightTesting.AuthManager/tspconfig.yaml
Labels: TypeSpec, PipelineBotTrigger

#33773 Revert v5 tag change from Copy-ApiVersion.ps1 auto code
  specification/sql/resource-manager/readme.md
Labels: SQL, resource-manager

#33754 Remove use-write-core config for .NET SDK
  specification/deviceregistry/DeviceRegistry.Management/tspconfig.yaml
  specification/iotoperations/IoTOperations.Management/tspconfig.yaml
  specification/kubernetesruntime/KubernetesRuntime.Management/tspconfig.yaml
  specification/liftrarize/ArizeAi.ObservabilityEval.Management/tspconfig.yaml
  specification/liftrhyperexecute/LambdaTest.HyperExecute.Management/tspconfig.yaml
  specification/liftrpinecone/Pinecone.VectorDb.Management/tspconfig.yaml
  specification/liftrweightsandbiases/Liftr.WeightsAndBiases.Management/tspconfig.yaml
  specification/playwrighttesting/PlaywrightTesting.Management/tspconfig.yaml
  specification/servicenetworking/ServiceNetworking.Management/tspconfig.yaml
Labels: TypeSpec, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-JavaScript-Sdk, PipelineBotTrigger

#33719 [Microsoft.StorageActions] Model enum as string
  specification/storageactions/resource-manager/Microsoft.StorageActions/stable/2023-01-01/storageactions.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChangeReviewRequired, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk, BreakingChange-Approved-BranchPolicyException, PipelineBotTrigger, PublishToCustomers, brownfield

#33778 [iothub] Update readme.python.md
  specification/iothub/resource-manager/readme.python.md
Labels: ARMSignedOff, IoTHub, ARMReview, resource-manager, ReadyForApiTest, BreakingChange-Go-Sdk-Approved, BreakingChange-Go-Sdk, PipelineBotTrigger, PublishToCustomers

#31976 Marketplace - PrivateStore - Get Collection Offer 2025-01-01
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/Marketplace.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/AcknowledgeNotification.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/AdminRequestApprovalsList.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/AnyExistingOffersInTheCollections.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/ApproveAllItems.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/BillingAccounts.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/BulkCollectionsAction.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/CollectionsToSubscriptionsMapping.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/CreateApprovalRequest.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/CreatePrivateStoreCollection.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/DeletePrivateStore.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/DeletePrivateStoreCollection.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/DeletePrivateStoreOffer.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/DisableApproveAllItems.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/FetchAllSubscriptionsInTenant.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/GetAdminRequestApproval.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/GetApprovalRequestsList.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/GetCollectionRules.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/GetOperations.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/GetPrivateStore.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/GetPrivateStoreCollection.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/GetPrivateStoreCollectionOffer.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/GetPrivateStoreCollectionOfferContextsView.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/GetPrivateStoreCollectionOffersWithFullContext.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/GetPrivateStoreCollectionsList.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/GetPrivateStoreOffers.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/GetPrivateStores.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/GetRequestApproval.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/ListNewPlansNotifications.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/ListStopSellOffersPlansNotifications.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/ListSubscriptionsContext.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/NotificationsState.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/PostPrivateStoreCollection.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/PostPrivateStoreCollectionOffer.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/PrivateStoreOffer_update.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/PrivateStores_update.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/QueryApprovedPlans.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/QueryOffers.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/QueryRequestApproval.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/QueryUserOffers.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/QueryUserRules.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/SetCollectionRules.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/TransferOffers.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/UpdateAdminRequestApproval.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/UpsertOfferWithMultiContext.json
  specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2025-01-01/examples/WithdrawPlan.json
  specification/marketplace/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, new-api-version, PublishToCustomers, brownfield

#33256 Add new API version 2025-04-01 for fluxConfigurations
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/fluxConfigurations/readme.md
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/fluxConfigurations/stable/2025-04-01/examples/CreateFluxConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/fluxConfigurations/stable/2025-04-01/examples/CreateFluxConfigurationWithBucket.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/fluxConfigurations/stable/2025-04-01/examples/CreateFluxConfigurationWithOCIRepository.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/fluxConfigurations/stable/2025-04-01/examples/CreateFluxConfigurationWithProvider.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/fluxConfigurations/stable/2025-04-01/examples/DeleteFluxConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/fluxConfigurations/stable/2025-04-01/examples/GetFluxConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/fluxConfigurations/stable/2025-04-01/examples/GetFluxConfigurationAsyncOperationStatus.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/fluxConfigurations/stable/2025-04-01/examples/ListFluxConfigurations.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/fluxConfigurations/stable/2025-04-01/examples/PatchFluxConfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/fluxConfigurations/stable/2025-04-01/fluxconfiguration.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/operations/readme.md
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/operations/stable/2025-04-01/examples/ListAsyncOperationStatus.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/operations/stable/2025-04-01/examples/OperationsList.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/operations/stable/2025-04-01/operations.json
  specification/kubernetesconfiguration/resource-manager/readme.go.md
  specification/kubernetesconfiguration/resource-manager/readme.java.md
  specification/kubernetesconfiguration/resource-manager/readme.md
  specification/kubernetesconfiguration/resource-manager/readme.python.md
  specification/kubernetesconfiguration/resource-manager/readme.ruby.md
  specification/kubernetesconfiguration/resource-manager/readme.typescript.md
Labels: ARMSignedOff, Approved-Avocado, ARMReview, resource-manager, new-api-version, PublishToCustomers, brownfield

#33483 Fix prettier failures for 2025-04-01
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2025-04-01/examples/Compute/createOrUpdate/AKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2025-04-01/examples/Compute/createOrUpdate/AmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2025-04-01/examples/Compute/createOrUpdate/BasicAKSCompute.json
Labels: ARMSignedOff, ARMReview, resource-manager, PipelineBotTrigger

#33796 Sync eng/common directory with azure-sdk-tools for PR 10238
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#33756 [BUG] Fix Prettier issue cause by script copy-apiversion
  eng/scripts/Copy-ApiVersion.ps1
Labels: PipelineBotTrigger

#33781 Update service upgrade properties
  specification/search/resource-manager/Microsoft.Search/stable/2025-05-01/examples/SearchCreateOrUpdateService.json
  specification/search/resource-manager/Microsoft.Search/stable/2025-05-01/examples/SearchCreateOrUpdateServiceAuthOptions.json
  specification/search/resource-manager/Microsoft.Search/stable/2025-05-01/examples/SearchCreateOrUpdateServiceDisableLocalAuth.json
  specification/search/resource-manager/Microsoft.Search/stable/2025-05-01/examples/SearchCreateOrUpdateServiceToAllowAccessFromPrivateEndpoints.json
  specification/search/resource-manager/Microsoft.Search/stable/2025-05-01/examples/SearchCreateOrUpdateServiceToAllowAccessFromPublicCustomIPs.json
  specification/search/resource-manager/Microsoft.Search/stable/2025-05-01/examples/SearchCreateOrUpdateServiceToAllowAccessFromPublicCustomIPsAndBypass.json
  specification/search/resource-manager/Microsoft.Search/stable/2025-05-01/examples/SearchCreateOrUpdateServiceWithCmkEnforcement.json
  specification/search/resource-manager/Microsoft.Search/stable/2025-05-01/examples/SearchCreateOrUpdateServiceWithDataExfiltration.json
  specification/search/resource-manager/Microsoft.Search/stable/2025-05-01/examples/SearchCreateOrUpdateServiceWithIdentity.json
  specification/search/resource-manager/Microsoft.Search/stable/2025-05-01/examples/SearchCreateOrUpdateWithSemanticSearch.json
  specification/search/resource-manager/Microsoft.Search/stable/2025-05-01/examples/SearchGetService.json
  specification/search/resource-manager/Microsoft.Search/stable/2025-05-01/examples/SearchListServicesByResourceGroup.json
  specification/search/resource-manager/Microsoft.Search/stable/2025-05-01/examples/SearchListServicesBySubscription.json
  specification/search/resource-manager/Microsoft.Search/stable/2025-05-01/examples/SearchUpdateService.json
  specification/search/resource-manager/Microsoft.Search/stable/2025-05-01/examples/SearchUpdateServiceAuthOptions.json
  specification/search/resource-manager/Microsoft.Search/stable/2025-05-01/examples/SearchUpdateServiceDisableLocalAuth.json
  specification/search/resource-manager/Microsoft.Search/stable/2025-05-01/examples/SearchUpdateServiceToAllowAccessFromPrivateEndpoints.json
  specification/search/resource-manager/Microsoft.Search/stable/2025-05-01/examples/SearchUpdateServiceToAllowAccessFromPublicCustomIPs.json
  specification/search/resource-manager/Microsoft.Search/stable/2025-05-01/examples/SearchUpdateServiceToAllowAccessFromPublicCustomIPsAndBypass.json
  specification/search/resource-manager/Microsoft.Search/stable/2025-05-01/examples/SearchUpdateServiceToRemoveIdentity.json
  specification/search/resource-manager/Microsoft.Search/stable/2025-05-01/examples/SearchUpdateServiceWithCmkEnforcement.json
  specification/search/resource-manager/Microsoft.Search/stable/2025-05-01/examples/SearchUpdateServiceWithDataExfiltration.json
  specification/search/resource-manager/Microsoft.Search/stable/2025-05-01/examples/SearchUpdateServiceWithSemanticSearch.json
  specification/search/resource-manager/Microsoft.Search/stable/2025-05-01/examples/SearchUpdateServiceWithSku.json
  specification/search/resource-manager/Microsoft.Search/stable/2025-05-01/examples/UpgradeSearchServiceToLatestVersion.json
  specification/search/resource-manager/Microsoft.Search/stable/2025-05-01/search.json
Labels: Search, resource-manager, brownfield

#33738 [AVNM] name mismatch change
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NetworkManagerConnectivityConfigurationGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NetworkManagerConnectivityConfigurationList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NetworkManagerConnectivityConfigurationPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NetworkManagerEffectiveConnectivityConfigurationsList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/networkManagerConnectivityConfiguration.json
Labels: Network, ARMSignedOff, ARMReview, resource-manager, brownfield

#33804 Use Common 2025-03-15-preview
  specification/communication/data-plane/CallAutomation/preview/2025-03-30-preview/communicationservicescallautomation.json
Labels: brownfield

#33798 Rust renames for Key Vault
  specification/keyvault/Security.KeyVault.Certificates/client.tsp
  specification/keyvault/Security.KeyVault.Keys/client.tsp
  specification/keyvault/Security.KeyVault.Secrets/client.tsp
Labels: KeyVault, TypeSpec, PipelineBotTrigger

#33802 Sync eng/common directory with azure-sdk-tools for PR 10241
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#33741 [Private 1DP] Simulation + Annotation APIs
  specification/ai/Azure.AI.Projects/common/models.tsp
  specification/ai/Azure.AI.Projects/evaluation-results/models.tsp
  specification/ai/Azure.AI.Projects/evaluation-results/routes.tsp
  specification/ai/Azure.AI.Projects/evaluations/models.tsp
  specification/ai/Azure.AI.Projects/evaluations/routes.tsp
  specification/ai/Azure.AI.Projects/main.tsp
  specification/ai/Azure.AI.Projects/red-teams/models.tsp
  specification/ai/Azure.AI.Projects/red-teams/routes.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-05-15-preview/azure-ai-projects-1dp.json
Labels: data-plane, TypeSpec

#33811 Sync eng/common directory with azure-sdk-tools for PR 10246
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#33807 Merging #31080 , #31062 and #30912 for new API release
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-08-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/DatabaseAdvisors.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/DatabaseRecommendedActions.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/LocationCapabilities.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/ServerAdvisors.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/examples/DatabaseRecommendedActionListExpand.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/examples/ServerRecommendedActionListExpand.json
Labels: SQL, resource-manager, brownfield

#33783 add config
  specification/containerservice/Fleet.Management/tspconfig.yaml
Labels: Container Service, TypeSpec, BreakingChange-Go-Sdk-Approved, BreakingChange-Go-Sdk

#33784 java, mgmt, DependencyMap, client
  specification/azuredependencymap/DependencyMap.Management/client.tsp
  specification/azuredependencymap/DependencyMap.Management/tspconfig.yaml
Labels: TypeSpec

#33817 Merging #30969, #31008, #31181 for new API release
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-11-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-05-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-02-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-08-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/DatabaseOperations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/LocationCapabilities.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/examples/ListDatabaseOperations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/examples/LocationCapabilityListByLocation.json
Labels: SQL, resource-manager, brownfield

#33725 [Review] Update NSP documentation and cleanups
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/networkSecurityPerimeter.json
Labels: Network, ARMSignedOff, ARMReview, resource-manager, AzCoreIDC, brownfield

#33240 add @@clientName to avoid JS SDK breakings
  specification/computeschedule/ComputeSchedule.Management/client.tsp
  specification/healthdataaiservices/HealthDataAIServices.Management/client.tsp
  specification/playwrighttesting/PlaywrightTesting.Management/client.tsp
  specification/servicenetworking/ServiceNetworking.Management/client.tsp
Labels: TypeSpec

#33818 [RecoveryServices-Backup] Update readme.python.md
  specification/recoveryservicesbackup/resource-manager/readme.python.md
Labels: Recovery Services Backup, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, PublishToCustomers

#33819 [Private 1DP] add download
  specification/ai/Azure.AI.Projects/common/models.tsp
  specification/ai/Azure.AI.Projects/datasets/routes.tsp
  specification/ai/Azure.AI.Projects/evaluation-results/routes.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-05-15-preview/azure-ai-projects-1dp.json
Labels: data-plane, TypeSpec

#33834 [EngSys] Watcher - Exclude action_required conclusion as it generates false failures
  .github/workflows/_reusable-verify-run-status.yaml
Labels: PipelineBotTrigger

#33844 Durabletask 2025-04-01-preview
  specification/durabletask/DurableTask.Management/examples/2025-04-01-preview/Operations_List.json
  specification/durabletask/DurableTask.Management/examples/2025-04-01-preview/RetentionPolicies_CreateOrReplace_MaximumSet_Gen.json
  specification/durabletask/DurableTask.Management/examples/2025-04-01-preview/RetentionPolicies_Delete_MaximumSet_Gen.json
  specification/durabletask/DurableTask.Management/examples/2025-04-01-preview/RetentionPolicies_Get_MaximumSet_Gen.json
  specification/durabletask/DurableTask.Management/examples/2025-04-01-preview/RetentionPolicies_ListByScheduler_MaximumSet_Gen.json
  specification/durabletask/DurableTask.Management/examples/2025-04-01-preview/RetentionPolicies_Update_MaximumSet_Gen.json
  specification/durabletask/DurableTask.Management/examples/2025-04-01-preview/Schedulers_CreateOrUpdate.json
  specification/durabletask/DurableTask.Management/examples/2025-04-01-preview/Schedulers_Delete.json
  specification/durabletask/DurableTask.Management/examples/2025-04-01-preview/Schedulers_Get.json
  specification/durabletask/DurableTask.Management/examples/2025-04-01-preview/Schedulers_ListByResourceGroup.json
  specification/durabletask/DurableTask.Management/examples/2025-04-01-preview/Schedulers_ListBySubscription.json
  specification/durabletask/DurableTask.Management/examples/2025-04-01-preview/Schedulers_Update.json
  specification/durabletask/DurableTask.Management/examples/2025-04-01-preview/TaskHubs_CreateOrUpdate.json
  specification/durabletask/DurableTask.Management/examples/2025-04-01-preview/TaskHubs_Delete.json
  specification/durabletask/DurableTask.Management/examples/2025-04-01-preview/TaskHubs_Get.json
  specification/durabletask/DurableTask.Management/examples/2025-04-01-preview/TaskHubs_ListByScheduler.json
  specification/durabletask/DurableTask.Management/main.tsp
  specification/durabletask/resource-manager/Microsoft.DurableTask/preview/2025-04-01-preview/durabletask.json
  specification/durabletask/resource-manager/Microsoft.DurableTask/preview/2025-04-01-preview/examples/Operations_List.json
  specification/durabletask/resource-manager/Microsoft.DurableTask/preview/2025-04-01-preview/examples/RetentionPolicies_CreateOrReplace_MaximumSet_Gen.json
  specification/durabletask/resource-manager/Microsoft.DurableTask/preview/2025-04-01-preview/examples/RetentionPolicies_Delete_MaximumSet_Gen.json
  specification/durabletask/resource-manager/Microsoft.DurableTask/preview/2025-04-01-preview/examples/RetentionPolicies_Get_MaximumSet_Gen.json
  specification/durabletask/resource-manager/Microsoft.DurableTask/preview/2025-04-01-preview/examples/RetentionPolicies_ListByScheduler_MaximumSet_Gen.json
  specification/durabletask/resource-manager/Microsoft.DurableTask/preview/2025-04-01-preview/examples/RetentionPolicies_Update_MaximumSet_Gen.json
  specification/durabletask/resource-manager/Microsoft.DurableTask/preview/2025-04-01-preview/examples/Schedulers_CreateOrUpdate.json
  specification/durabletask/resource-manager/Microsoft.DurableTask/preview/2025-04-01-preview/examples/Schedulers_Delete.json
  specification/durabletask/resource-manager/Microsoft.DurableTask/preview/2025-04-01-preview/examples/Schedulers_Get.json
  specification/durabletask/resource-manager/Microsoft.DurableTask/preview/2025-04-01-preview/examples/Schedulers_ListByResourceGroup.json
  specification/durabletask/resource-manager/Microsoft.DurableTask/preview/2025-04-01-preview/examples/Schedulers_ListBySubscription.json
  specification/durabletask/resource-manager/Microsoft.DurableTask/preview/2025-04-01-preview/examples/Schedulers_Update.json
  specification/durabletask/resource-manager/Microsoft.DurableTask/preview/2025-04-01-preview/examples/TaskHubs_CreateOrUpdate.json
  specification/durabletask/resource-manager/Microsoft.DurableTask/preview/2025-04-01-preview/examples/TaskHubs_Delete.json
  specification/durabletask/resource-manager/Microsoft.DurableTask/preview/2025-04-01-preview/examples/TaskHubs_Get.json
  specification/durabletask/resource-manager/Microsoft.DurableTask/preview/2025-04-01-preview/examples/TaskHubs_ListByScheduler.json
  specification/durabletask/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, TypeSpec, PublishToCustomers, ARMAutoSignedOff

#33794 TypeSpec updates for Java SDK
  specification/healthdataaiservices/HealthDataAIServices.DeidServices/client.tsp
  specification/healthdataaiservices/HealthDataAIServices.DeidServices/models_document_flow.tsp
  specification/healthdataaiservices/HealthDataAIServices.DeidServices/tspconfig.yaml
Labels: TypeSpec

#33839 Updated Neon Organization patch call with marketplace details
  specification/liftrneon/Neon.Postgres.Management/LiftrBase/main.tsp
  specification/liftrneon/Neon.Postgres.Management/examples/2024-12-22-preview/Organizations_Update_MaximumSet_Gen.json
  specification/liftrneon/Neon.Postgres.Management/examples/2025-03-01-preview/Organizations_Update_MaximumSet_Gen.json
  specification/liftrneon/Neon.Postgres.Management/examples/2025-03-01/Organizations_Update_MaximumSet_Gen.json
  specification/liftrneon/resource-manager/Neon.Postgres/preview/2024-12-22-preview/examples/Organizations_Update_MaximumSet_Gen.json
  specification/liftrneon/resource-manager/Neon.Postgres/preview/2024-12-22-preview/neon.json
  specification/liftrneon/resource-manager/Neon.Postgres/preview/2025-03-01-preview/examples/Organizations_Update_MaximumSet_Gen.json
  specification/liftrneon/resource-manager/Neon.Postgres/preview/2025-03-01-preview/neon.json
  specification/liftrneon/resource-manager/Neon.Postgres/stable/2025-03-01/examples/Organizations_Update_MaximumSet_Gen.json
  specification/liftrneon/resource-manager/Neon.Postgres/stable/2025-03-01/neon.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, TypeSpec, VersioningReviewRequired, Versioning-Approved-BranchPolicyException, PipelineBotTrigger, PublishToCustomers, ARMAutoSignedOff

#33812 Set the version on the API
  specification/ai/Azure.AI.Assistants/client.tsp
  specification/ai/Azure.AI.Assistants/main.tsp
  specification/ai/Azure.AI.Assistants/vector_stores/main.tsp
  specification/ai/data-plane/Azure.AI.Assistants/preview/2025-05-15-preview/azure-ai-assistants.json
Labels: data-plane, TypeSpec, NotReadyForARMReview, PipelineBotTrigger

#33615 Add uri format for keyvaulturl
  specification/app/resource-manager/Microsoft.App/preview/2025-02-02-preview/CommonDefinitions.json
Labels: ARMSignedOff, ARMReview, resource-manager, brownfield

#33651 [DAPR] Add support for configuring max-concurrency
  specification/app/resource-manager/Microsoft.App/preview/2025-02-02-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2025-02-02-preview/examples/ContainerApps_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2025-02-02-preview/examples/ContainerApps_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2025-02-02-preview/examples/ContainerApps_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/preview/2025-02-02-preview/examples/ContainerApps_Patch.json
  specification/app/resource-manager/Microsoft.App/preview/2025-02-02-preview/examples/ContainerApps_Stop.json
Labels: ARMSignedOff, ARMReview, resource-manager, brownfield

#33793 Remove UserCreatedStorageAccount and UserCreatedAcr field from swagger
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/examples/Registries/createOrUpdate-UserCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/examples/Registries/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/examples/Registries/get-UserCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/examples/Registries/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/examples/Registries/list-UserCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/examples/Registries/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/examples/Registries/removeRegions.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/examples/Registries/update-UserCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/examples/Registries/update.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-01-01-preview/registries.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, Versioning-Approved-BugFix, VersioningReviewRequired, PipelineBotTrigger, PublishToCustomers, brownfield

#33845 Get download sas API
  specification/ai/Azure.AI.Projects/common/models.tsp
  specification/ai/Azure.AI.Projects/datasets/routes.tsp
Labels: TypeSpec

#33608 Correct package-preview-2025-03-01 to package-2025-03-01-preview
  specification/databricks/resource-manager/readme.md
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk, PublishToCustomers

#33853 [LintDiff] New warnings pass
  eng/tools/lint-diff/src/generateReport.ts
  eng/tools/lint-diff/test/generateReport.test.ts
Labels: PipelineBotTrigger

#32742 Set `KeyAttestation`'s visibility to "read"
  specification/keyvault/Security.KeyVault.Keys/models.tsp
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.6-preview.2/keys.json
Labels: KeyVault, data-plane, TypeSpec, PipelineBotTrigger, PublishToCustomers

#33607 [CDN] Fix ResourceNameRestriction for profileName Parameter
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2025-04-15/afdx.json
Labels: Network - CDN, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, BreakingChange-Approved-BugFix, PublishToCustomers, brownfield

#33524 [CogSvc] 2025-04-01-preview Contract change
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2025-04-01-preview/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2025-04-01-preview/examples/CreateProject.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2025-04-01-preview/examples/CreateProjectMin.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2025-04-01-preview/examples/GetProject.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2025-04-01-preview/examples/ListProjects.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2025-04-01-preview/examples/UpdateProjects.json
  specification/cognitiveservices/resource-manager/readme.md
Labels: Cognitive Services, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, Approved-Suppression, SuppressionReviewRequired, Versioning-Approved-BugFix, VersioningReviewRequired, PublishToCustomers, brownfield

#33705 StandbyPool update NET SDK contracts 2025-03-01
  specification/standbypool/StandbyPool.Management/client.tsp
Labels: TypeSpec, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk, PipelineBotTrigger

#33881 mgmt, java, tspconfig, add back namespace option
  specification/agricultureplatform/AgriculturePlatform.Management/tspconfig.yaml
  specification/computeschedule/ComputeSchedule.Management/tspconfig.yaml
  specification/deviceregistry/DeviceRegistry.Management/tspconfig.yaml
  specification/durabletask/DurableTask.Management/tspconfig.yaml
  specification/informatica/Informatica.DataManagement.Management/tspconfig.yaml
  specification/kubernetesruntime/KubernetesRuntime.Management/tspconfig.yaml
  specification/liftrneon/Neon.Postgres.Management/client.tsp
  specification/liftrneon/Neon.Postgres.Management/tspconfig.yaml
  specification/liftrpinecone/Pinecone.VectorDb.Management/client.tsp
  specification/liftrpinecone/Pinecone.VectorDb.Management/tspconfig.yaml
  specification/playwrighttesting/PlaywrightTesting.Management/tspconfig.yaml
  specification/servicenetworking/ServiceNetworking.Management/tspconfig.yaml
  specification/standbypool/StandbyPool.Management/tspconfig.yaml
Labels: TypeSpec, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk

#33821 add new apiVersion for dell "2025-03-21-preview"
  specification/dell/Dell.Storage.Management/LiftrBase.Storage/main.tsp
  specification/dell/Dell.Storage.Management/LiftrBase/main.tsp
  specification/dell/Dell.Storage.Management/examples/2025-03-21-preview/FileSystems_CreateOrUpdate_MaximumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-03-21-preview/FileSystems_CreateOrUpdate_MinimumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-03-21-preview/FileSystems_Delete_MaximumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-03-21-preview/FileSystems_Delete_MinimumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-03-21-preview/FileSystems_Get_MaximumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-03-21-preview/FileSystems_Get_MinimumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-03-21-preview/FileSystems_ListByResourceGroup_MaximumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-03-21-preview/FileSystems_ListByResourceGroup_MinimumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-03-21-preview/FileSystems_ListBySubscription_MaximumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-03-21-preview/FileSystems_ListBySubscription_MinimumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-03-21-preview/FileSystems_Update_MaximumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-03-21-preview/FileSystems_Update_MinimumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-03-21-preview/Operations_List_MaximumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-03-21-preview/Operations_List_MinimumSet_Gen.json
  specification/dell/Dell.Storage.Management/main.tsp
  specification/dell/Dell.Storage.Management/tspconfig.yaml
  specification/dell/cspell.yaml
  specification/dell/resource-manager/Dell.Storage/preview/2025-03-21-preview/Dell.Storage.json
  specification/dell/resource-manager/Dell.Storage/preview/2025-03-21-preview/examples/FileSystems_CreateOrUpdate_MaximumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/preview/2025-03-21-preview/examples/FileSystems_CreateOrUpdate_MinimumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/preview/2025-03-21-preview/examples/FileSystems_Delete_MaximumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/preview/2025-03-21-preview/examples/FileSystems_Delete_MinimumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/preview/2025-03-21-preview/examples/FileSystems_Get_MaximumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/preview/2025-03-21-preview/examples/FileSystems_Get_MinimumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/preview/2025-03-21-preview/examples/FileSystems_ListByResourceGroup_MaximumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/preview/2025-03-21-preview/examples/FileSystems_ListByResourceGroup_MinimumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/preview/2025-03-21-preview/examples/FileSystems_ListBySubscription_MaximumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/preview/2025-03-21-preview/examples/FileSystems_ListBySubscription_MinimumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/preview/2025-03-21-preview/examples/FileSystems_Update_MaximumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/preview/2025-03-21-preview/examples/FileSystems_Update_MinimumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/preview/2025-03-21-preview/examples/Operations_List_MaximumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/preview/2025-03-21-preview/examples/Operations_List_MinimumSet_Gen.json
  specification/dell/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, Approved-Suppression, SuppressionReviewRequired, new-api-version, new-rp-namespace, TypeSpec, IDCDevDiv, PipelineBotTrigger, PublishToCustomers

#33509 [Microsoft.DataProtection] Adding Identity Details Info in all examples. Adding status code for operation status for ValidateForModifyBackup API.
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2023-08-01-preview/dataprotection.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2023-08-01-preview/examples/BackupInstanceOperations/GetBackupInstance.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2023-08-01-preview/examples/BackupInstanceOperations/PutBackupInstance.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2023-08-01-preview/examples/BackupInstanceOperations/TriggerRestore.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2023-08-01-preview/examples/BackupInstanceOperations/ValidateForBackup.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2023-08-01-preview/examples/BackupInstanceOperations/ValidateForModifyBackup.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2023-08-01-preview/examples/BackupInstanceOperations/ValidateRestore.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2024-02-01-preview/dataprotection.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2024-02-01-preview/examples/BackupInstanceOperations/GetBackupInstance.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2024-02-01-preview/examples/BackupInstanceOperations/PutBackupInstance.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2024-02-01-preview/examples/BackupInstanceOperations/TriggerRestore.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2024-02-01-preview/examples/BackupInstanceOperations/ValidateForBackup.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2024-02-01-preview/examples/BackupInstanceOperations/ValidateForModifyBackup.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2024-02-01-preview/examples/BackupInstanceOperations/ValidateRestore.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2025-01-01/dataprotection.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2025-02-01/dataprotection.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2025-02-01/examples/BackupInstanceOperations/GetBackupInstance.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2025-02-01/examples/BackupInstanceOperations/PutBackupInstance.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2025-02-01/examples/BackupInstanceOperations/TriggerRestore.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2025-02-01/examples/BackupInstanceOperations/ValidateForBackup.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2025-02-01/examples/BackupInstanceOperations/ValidateForModifyBackup.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2025-02-01/examples/BackupInstanceOperations/ValidateRestore.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, AzCoreIDC, PublishToCustomers, brownfield

#33779 Add Registry ManagedGroupSettings to 2025-04-01 GA swagger
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2025-04-01/registries.json
Labels: ARMSignedOff, ARMReview, resource-manager, PipelineBotTrigger, brownfield

#33895 Remove UserCreatedStorage and ACR from swagger file
  eng/pipelines/swagger-prettier-check.yml
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/Registries/createOrUpdate-SystemCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/Registries/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/Registries/get.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/Registries/list-UserCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/Registries/list.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/Registries/removeRegions.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/Registries/update-SystemCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/Registries/update-UserCreated.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/Registries/update.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/registries.json
Labels: ARMSignedOff, ARMReview, resource-manager, PipelineBotTrigger, brownfield

#33370 Update resultLifespan for PolicyDefinition Properties
  specification/resources/resource-manager/Microsoft.Authorization/stable/2025-03-01/policyDefinitionVersions.json
  specification/resources/resource-manager/Microsoft.Authorization/stable/2025-03-01/policyDefinitions.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, BreakingChange-Approved-BugFix, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-JavaScript-Sdk, PipelineBotTrigger, PublishToCustomers, brownfield

#33701 Update enterprisePolicy.json - updating VirtualNetworkPropertiesList
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/enterprisePolicy.json
  specification/powerplatform/suppressions.yaml
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, Versioning-Approved-BugFix, VersioningReviewRequired, PublishToCustomers

#33755 Fixing casing for properties in expand OData parameter
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/virtualMachineImage.json
Labels: Compute, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChangeReviewRequired, BreakingChange-Approved-BugFix, PublishToCustomers, brownfield

#33870 nguyenquang/2025 02 02 preview ACNS Transit Encryption API
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2025-02-02-preview/managedClusters.json
Labels: Container Service, resource-manager, BreakingChange-Python-Sdk, brownfield

#33874 [containerregistry] Update readme.python.md
  specification/containerregistry/resource-manager/readme.python.md
Labels: Container Registry, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk, PublishToCustomers

#33563 Update tspconfig with kebab style option
  specification/ai/OpenAI.Assistants/tspconfig.yaml
  specification/cognitiveservices/OpenAI.Inference/tspconfig.yaml
  specification/loadtestservice/LoadTestService/tspconfig.yaml
  specification/schemaregistry/SchemaRegistry/tspconfig.yaml
  specification/translation/Azure.AI.TextTranslation/tspconfig.yaml
Labels: TypeSpec

#33856 Swagger changes for FTS
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2025-04-15/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2025-04-15/examples/CosmosDBSqlContainerCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2025-04-15/examples/CosmosDBSqlContainerGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2025-04-15/examples/CosmosDBSqlContainerList.json
Labels: Cosmos, customer-reported, resource-manager

#33919 [PortalServices] Create client.tsp
  specification/portalservices/CopilotSettings.Management/client.tsp
Labels: TypeSpec

#33696 [Microsoft.OperationalInsights] Add missing actions to Operational Insights 20250201 stable API version
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2025-02-01/WorkspacesFailover.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2025-02-01/examples/WorkspacesFailback.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2025-02-01/examples/WorkspacesFailover.json
  specification/operationalinsights/resource-manager/readme.md
Labels: Monitor - Operational Insights, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, Versioning-Approved-BugFix, VersioningReviewRequired, PipelineBotTrigger, PublishToCustomers, brownfield

#33833 Service Fabric Managed Clusters - Fix Swagger request schema for startFaultSimulation action - FaultSimulationContentWrapper to allow polymorphism
  specification/servicefabricmanagedclusters/ServiceFabricManagedClusters.Management/ManagedCluster.tsp
  specification/servicefabricmanagedclusters/ServiceFabricManagedClusters.Management/NodeType.tsp
  specification/servicefabricmanagedclusters/ServiceFabricManagedClusters.Management/examples/2024-11-01-preview/faultSimulation/ManagedClusterStartFaultSimulation_example.json
  specification/servicefabricmanagedclusters/ServiceFabricManagedClusters.Management/examples/2024-11-01-preview/faultSimulation/NodeTypeStartFaultSimulation_example.json
  specification/servicefabricmanagedclusters/ServiceFabricManagedClusters.Management/examples/2025-03-01-preview/faultSimulation/ManagedClusterStartFaultSimulation_example.json
  specification/servicefabricmanagedclusters/ServiceFabricManagedClusters.Management/examples/2025-03-01-preview/faultSimulation/NodeTypeStartFaultSimulation_example.json
  specification/servicefabricmanagedclusters/ServiceFabricManagedClusters.Management/models.tsp
  specification/servicefabricmanagedclusters/ServiceFabricManagedClusters.Management/tspconfig.yaml
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2024-11-01-preview/examples/faultSimulation/ManagedClusterStartFaultSimulation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2024-11-01-preview/examples/faultSimulation/NodeTypeStartFaultSimulation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2024-11-01-preview/servicefabricmanagedclusters.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2025-03-01-preview/examples/faultSimulation/ManagedClusterStartFaultSimulation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2025-03-01-preview/examples/faultSimulation/NodeTypeStartFaultSimulation_example.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2025-03-01-preview/servicefabricmanagedclusters.json
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, TypeSpec, Versioning-Approved-BugFix, VersioningReviewRequired, PublishToCustomers, ARMAutoSignedOff

#33538 Image Analysis: add customization class to java emitter in tspconfig
  specification/ai/ImageAnalysis/tspconfig.yaml
Labels: TypeSpec, no-recent-activity

#33572 Update AttributebasedVMSize Recommender example and add descriptions
  specification/compute/resource-manager/Microsoft.Compute/DiagnosticRP/preview/2025-02-01-preview/diagnostic.json
  specification/compute/resource-manager/Microsoft.Compute/DiagnosticRP/preview/2025-02-01-preview/examples/GenerateAttributeBasedVMSizeRecommender.json
Labels: Compute, ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, Versioning-Approved-BugFix, VersioningReviewRequired, PipelineBotTrigger, PublishToCustomers

#33906 Sync eng/common directory with azure-sdk-tools for PR 10293
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#33934 Changes in files: databaseadvisors.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/DatabaseAdvisors.json
Labels: SQL, resource-manager, brownfield

#33935 Changes in files: virtualcluster.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/VirtualClusters.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/examples/VirtualClusterCreate.json
Labels: SQL, resource-manager, brownfield

#33899 Revert tag change.
  specification/resources/resource-manager/readme.md
Labels: ARMSignedOff, Approved-LintDiff, ARMReview, resource-manager, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-JavaScript-Sdk, PublishToCustomers

#33518 Added RBAC support for Gremlin, Cassandra and MongoMI
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/cassandrarbac.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/cassandrarbac/CosmosDBCassandraRoleAssignmentCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/cassandrarbac/CosmosDBCassandraRoleAssignmentDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/cassandrarbac/CosmosDBCassandraRoleAssignmentGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/cassandrarbac/CosmosDBCassandraRoleAssignmentList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/cassandrarbac/CosmosDBCassandraRoleDefinitionCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/cassandrarbac/CosmosDBCassandraRoleDefinitionDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/cassandrarbac/CosmosDBCassandraRoleDefinitionGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/cassandrarbac/CosmosDBCassandraRoleDefinitionList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/gremlinrbac/CosmosDBGremlinRoleAssignmentCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/gremlinrbac/CosmosDBGremlinRoleAssignmentDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/gremlinrbac/CosmosDBGremlinRoleAssignmentGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/gremlinrbac/CosmosDBGremlinRoleAssignmentList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/gremlinrbac/CosmosDBGremlinRoleDefinitionCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/gremlinrbac/CosmosDBGremlinRoleDefinitionDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/gremlinrbac/CosmosDBGremlinRoleDefinitionGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/gremlinrbac/CosmosDBGremlinRoleDefinitionList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/mongoMIrbac/CosmosDBMongoMIRoleAssignmentCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/mongoMIrbac/CosmosDBMongoMIRoleAssignmentDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/mongoMIrbac/CosmosDBMongoMIRoleAssignmentGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/mongoMIrbac/CosmosDBMongoMIRoleAssignmentList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/mongoMIrbac/CosmosDBMongoMIRoleDefinitionCreateUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/mongoMIrbac/CosmosDBMongoMIRoleDefinitionDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/mongoMIrbac/CosmosDBMongoMIRoleDefinitionGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/mongoMIrbac/CosmosDBMongoMIRoleDefinitionList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/gremlinrbac.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/mongoMIrbac.json
  specification/cosmos-db/resource-manager/readme.md
Labels: Cosmos, resource-manager, SuppressionReviewRequired, PipelineBotTrigger, brownfield

#33497 Update tspconfig for AnomalyDetector and HealthInsights.RadiologyInsights
  specification/ai/HealthInsights/HealthInsights.RadiologyInsights/tspconfig.yaml
  specification/cognitiveservices/AnomalyDetector/tspconfig.yaml
Labels: Cognitive Services, TypeSpec

#33562 Update tspconfig for keyvault
  specification/keyvault/Security.KeyVault.Administration/tspconfig.yaml
  specification/keyvault/Security.KeyVault.Certificates/tspconfig.yaml
  specification/keyvault/Security.KeyVault.Keys/tspconfig.yaml
  specification/keyvault/Security.KeyVault.Secrets/tspconfig.yaml
  specification/machinelearning/Azure.AI.ChatProtocol/tspconfig.yaml
  specification/scvmm/ScVmm.Management/tspconfig.yaml
Labels: KeyVault, TypeSpec, BreakingChange-Python-Sdk-Approved, BreakingChange-Python-Sdk

#33495 Update tspconfig with kebab case style option
  specification/cognitiveservices/ContentSafety/tspconfig.yaml
  specification/communication/Communication.JobRouter/tspconfig.yaml
  specification/devcenter/DevCenter/tspconfig.yaml
  specification/translation/Azure.AI.DocumentTranslation/tspconfig.yaml
Labels: TypeSpec

#33477 Update with kebab case style option
  specification/machinelearningservices/AzureAI.Assets/tspconfig.yaml
  specification/programmableconnectivity/Azure.ProgrammableConnectivity/tspconfig.yaml
Labels: TypeSpec

#33471 update monitor tspconfig
  specification/chaos/Chaos.Management/tspconfig.yaml
  specification/monitor/Microsoft.Monitor.Management/tspconfig.yaml
  specification/vmware/Microsoft.AVS.Management/tspconfig.yaml
Labels: Monitor, TypeSpec

#33941 Update mixed sku api sizes to size and remove osDisk related fields
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2025-02-02-preview/examples/AgentPoolsCreate_TypeVirtualMachines.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2025-02-02-preview/examples/AgentPoolsCreate_TypeVirtualMachines_Autoscale.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2025-02-02-preview/managedClusters.json
Labels: Container Service, resource-manager, BreakingChange-Python-Sdk, brownfield

#33940 [python] do not generate Python SDK from swagger if typespec exists
  specification/connectedcache/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, PipelineBotTrigger, PublishToCustomers, ARMAutoSignedOff

#33945 mgmt, update tspconfig.yaml for LambdaTest.HyperExecute.Management
  specification/liftrhyperexecute/LambdaTest.HyperExecute.Management/client.tsp
  specification/liftrhyperexecute/LambdaTest.HyperExecute.Management/tspconfig.yaml
Labels: TypeSpec

#33496 Update tspconfig
  specification/informatica/Informatica.DataManagement.Management/tspconfig.yaml
  specification/kubernetesruntime/KubernetesRuntime.Management/tspconfig.yaml
Labels: TypeSpec

#33949 Update tspconfig with kebab case style
  specification/azuredependencymap/DependencyMap.Management/tspconfig.yaml
  specification/migrate/AssessmentProjects.Management/AKSAssessments.Management/tspconfig.yaml
  specification/migrate/AssessmentProjects.Management/AssessmentProjects.Management/tspconfig.yaml
  specification/migrate/AssessmentProjects.Management/AvsAssessments.Management/tspconfig.yaml
  specification/migrate/AssessmentProjects.Management/BusinessCases.Management/tspconfig.yaml
  specification/migrate/AssessmentProjects.Management/Collectors.Management/tspconfig.yaml
  specification/migrate/AssessmentProjects.Management/HeterogeneousAssessments.Management/tspconfig.yaml
  specification/migrate/AssessmentProjects.Management/MachineAssessments.Management/tspconfig.yaml
  specification/migrate/AssessmentProjects.Management/SqlAssessments.Management/tspconfig.yaml
  specification/migrate/AssessmentProjects.Management/WebAppAssessments.Management/tspconfig.yaml
  specification/migrate/AssessmentProjects.Management/WebAppCompoundAssessments.Management/tspconfig.yaml
  specification/servicefabricmanagedclusters/ServiceFabricManagedClusters.Management/tspconfig.yaml
Labels: TypeSpec

#33561 Update tspconfig for eventgrid
  specification/eventgrid/Azure.Messaging.EventGrid/tspconfig.yaml
Labels: Event Grid, TypeSpec

#33590 add targetthroughput to physicalPartitionThroughputInfo
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/cosmos-db.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/CosmosDBMongoDBCollectionRedistributeThroughput.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/CosmosDBMongoDBCollectionRetrieveThroughputDistribution.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/CosmosDBMongoDBDatabaseRedistributeThroughput.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/CosmosDBMongoDBDatabaseRetrieveThroughputDistribution.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/CosmosDBSqlContainerRedistributeThroughput.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/CosmosDBSqlContainerRetrieveThroughputDistribution.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/CosmosDBSqlDatabaseRedistributeThroughput.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/CosmosDBSqlDatabaseRetrieveThroughputDistribution.json
Labels: Cosmos, resource-manager, brownfield

#33965 Durable Task: Fix up docstring
  specification/durabletask/DurableTask.Management/main.tsp
  specification/durabletask/resource-manager/Microsoft.DurableTask/preview/2025-04-01-preview/durabletask.json
Labels: PublishToCustomers

#33946 Users/singankit/evaluation create return 201
  specification/ai/Azure.AI.Projects/evaluations/routes.tsp
  specification/ai/Azure.AI.Projects/red-teams/routes.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-05-15-preview/azure-ai-projects-1dp.json
Labels: data-plane, TypeSpec, NotReadyForARMReview

#33966 [Storage] `set_metadata` TypeSpec Changes
  specification/storage/Microsoft.BlobStorage/routes.tsp
Labels: Storage, TypeSpec

#33939 [Storage] `set_properties` TypeSpec Change
  specification/storage/Microsoft.BlobStorage/client.tsp
  specification/storage/Microsoft.BlobStorage/routes.tsp
Labels: Storage, TypeSpec

#33722 Adding managed network settings updates for the april version
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2025-04-01/examples/ManagedNetwork/createOrUpdateRule.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2025-04-01/examples/ManagedNetwork/deleteRule.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2025-04-01/examples/ManagedNetwork/getRule.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2025-04-01/examples/ManagedNetwork/listRule.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2025-04-01/examples/ManagedNetwork/provision.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2025-04-01/workspaceRP.json
Labels: ARMSignedOff, ARMReview, resource-manager, brownfield

#33970 [Storage] [ContainerClient] `set_metadata` TypeSpec Changes
  specification/storage/Microsoft.BlobStorage/routes.tsp
Labels: Storage

#33107 Microsoft.Advisor new api version 2024-11-18-preview
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/advisor.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/assessments.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/CreateConfiguration.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/CreateSuppression.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/DeleteAssessment.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/DeleteSuppression.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/EmptyResponse.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/GenerateRecommendations.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/GetAdvisorScoreDetail.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/GetAssessment.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/GetRecommendationDetail.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/GetRecommendationMetadataEntity.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/GetSuppressionDetail.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/ListAdvisorScore.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/ListAssessmentTypes.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/ListAssessments.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/ListConfigurations.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/ListRecommendationMetadata.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/ListRecommendations.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/ListSuppressions.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/ListWorkloads.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/OperationsList.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/Predict.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/PutAssessment.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/ResiliencyReviewsGet.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/ResiliencyReviewsList.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/TriageRecommendationsApprove.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/TriageRecommendationsGet.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/TriageRecommendationsList.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/TriageRecommendationsReject.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/TriageRecommendationsReset.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/TriageResourcesGet.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/TriageResourcesList.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/examples/UpdateTrackedRecommendation.json
  specification/advisor/resource-manager/Microsoft.Advisor/preview/2024-11-18-preview/resiliencyReviews.json
  specification/advisor/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, Approved-Suppression, SuppressionReviewRequired, new-api-version, PublishToCustomers, brownfield

#33938 Add AdminDistrictTruck objects and merge CountryRegion object the document look better
  specification/maps/data-plane/Route/stable/2025-01-01/route.json
Labels: Maps, data-plane, BreakingChangeReviewRequired, BreakingChange-Approved-BugFix, PublishToCustomers

#33803 publish first version of aco stable api and set tag name with beta postfix as this is initial SDK before GA
  specification/carbon/Carbon.Management/client.tsp
  specification/carbon/Carbon.Management/examples/2025-04-01/carbonEmissionsDataAvailableDateRange.json
  specification/carbon/Carbon.Management/examples/2025-04-01/listOperations.json
  specification/carbon/Carbon.Management/examples/2025-04-01/queryCarbonEmissionsLocationItemDetailsReport.json
  specification/carbon/Carbon.Management/examples/2025-04-01/queryCarbonEmissionsMonthlySummaryReport.json
  specification/carbon/Carbon.Management/examples/2025-04-01/queryCarbonEmissionsMonthlySummaryReportWithOtherOptionalFilter.json
  specification/carbon/Carbon.Management/examples/2025-04-01/queryCarbonEmissionsOverallSummaryReport.json
  specification/carbon/Carbon.Management/examples/2025-04-01/queryCarbonEmissionsOverallSummaryReportWithOtherOptionalFilter.json
  specification/carbon/Carbon.Management/examples/2025-04-01/queryCarbonEmissionsResourceGroupItemDetailsReport.json
  specification/carbon/Carbon.Management/examples/2025-04-01/queryCarbonEmissionsResourceItemDetailsReport.json
  specification/carbon/Carbon.Management/examples/2025-04-01/queryCarbonEmissionsResourceItemDetailsReportWithPaginationToken.json
  specification/carbon/Carbon.Management/examples/2025-04-01/queryCarbonEmissionsResourceTypeItemDetailsReport.json
  specification/carbon/Carbon.Management/examples/2025-04-01/queryCarbonEmissionsSubscriptionItemDetailsReportReport.json
  specification/carbon/Carbon.Management/examples/2025-04-01/queryCarbonEmissionsTopNLocationItemsMonthlyReport.json
  specification/carbon/Carbon.Management/examples/2025-04-01/queryCarbonEmissionsTopNLocationItemsReport.json
  specification/carbon/Carbon.Management/examples/2025-04-01/queryCarbonEmissionsTopNResourceGroupItemsMonthlyReport.json
  specification/carbon/Carbon.Management/examples/2025-04-01/queryCarbonEmissionsTopNResourceGroupItemsReport.json
  specification/carbon/Carbon.Management/examples/2025-04-01/queryCarbonEmissionsTopNResourceItemsMonthlyReport.json
  specification/carbon/Carbon.Management/examples/2025-04-01/queryCarbonEmissionsTopNResourceItemsReport.json
  specification/carbon/Carbon.Management/examples/2025-04-01/queryCarbonEmissionsTopNResourceTypeItemsMonthlyReport.json
  specification/carbon/Carbon.Management/examples/2025-04-01/queryCarbonEmissionsTopNResourceTypeItemsReport.json
  specification/carbon/Carbon.Management/examples/2025-04-01/queryCarbonEmissionsTopNSubscriptionItemsMonthlyReport.json
  specification/carbon/Carbon.Management/examples/2025-04-01/queryCarbonEmissionsTopNSubscriptionItemsReport.json
  specification/carbon/Carbon.Management/main.tsp
  specification/carbon/Carbon.Management/tspconfig.yaml
  specification/carbon/resource-manager/Microsoft.Carbon/stable/2025-04-01/examples/carbonEmissionsDataAvailableDateRange.json
  specification/carbon/resource-manager/Microsoft.Carbon/stable/2025-04-01/examples/listOperations.json
  specification/carbon/resource-manager/Microsoft.Carbon/stable/2025-04-01/examples/queryCarbonEmissionsLocationItemDetailsReport.json
  specification/carbon/resource-manager/Microsoft.Carbon/stable/2025-04-01/examples/queryCarbonEmissionsMonthlySummaryReport.json
  specification/carbon/resource-manager/Microsoft.Carbon/stable/2025-04-01/examples/queryCarbonEmissionsMonthlySummaryReportWithOtherOptionalFilter.json
  specification/carbon/resource-manager/Microsoft.Carbon/stable/2025-04-01/examples/queryCarbonEmissionsOverallSummaryReport.json
  specification/carbon/resource-manager/Microsoft.Carbon/stable/2025-04-01/examples/queryCarbonEmissionsOverallSummaryReportWithOtherOptionalFilter.json
  specification/carbon/resource-manager/Microsoft.Carbon/stable/2025-04-01/examples/queryCarbonEmissionsResourceGroupItemDetailsReport.json
  specification/carbon/resource-manager/Microsoft.Carbon/stable/2025-04-01/examples/queryCarbonEmissionsResourceItemDetailsReport.json
  specification/carbon/resource-manager/Microsoft.Carbon/stable/2025-04-01/examples/queryCarbonEmissionsResourceItemDetailsReportWithPaginationToken.json
  specification/carbon/resource-manager/Microsoft.Carbon/stable/2025-04-01/examples/queryCarbonEmissionsResourceTypeItemDetailsReport.json
  specification/carbon/resource-manager/Microsoft.Carbon/stable/2025-04-01/examples/queryCarbonEmissionsSubscriptionItemDetailsReportReport.json
  specification/carbon/resource-manager/Microsoft.Carbon/stable/2025-04-01/examples/queryCarbonEmissionsTopNLocationItemsMonthlyReport.json
  specification/carbon/resource-manager/Microsoft.Carbon/stable/2025-04-01/examples/queryCarbonEmissionsTopNLocationItemsReport.json
  specification/carbon/resource-manager/Microsoft.Carbon/stable/2025-04-01/examples/queryCarbonEmissionsTopNResourceGroupItemsMonthlyReport.json
  specification/carbon/resource-manager/Microsoft.Carbon/stable/2025-04-01/examples/queryCarbonEmissionsTopNResourceGroupItemsReport.json
  specification/carbon/resource-manager/Microsoft.Carbon/stable/2025-04-01/examples/queryCarbonEmissionsTopNResourceItemsMonthlyReport.json
  specification/carbon/resource-manager/Microsoft.Carbon/stable/2025-04-01/examples/queryCarbonEmissionsTopNResourceItemsReport.json
  specification/carbon/resource-manager/Microsoft.Carbon/stable/2025-04-01/examples/queryCarbonEmissionsTopNResourceTypeItemsMonthlyReport.json
  specification/carbon/resource-manager/Microsoft.Carbon/stable/2025-04-01/examples/queryCarbonEmissionsTopNResourceTypeItemsReport.json
  specification/carbon/resource-manager/Microsoft.Carbon/stable/2025-04-01/examples/queryCarbonEmissionsTopNSubscriptionItemsMonthlyReport.json
  specification/carbon/resource-manager/Microsoft.Carbon/stable/2025-04-01/examples/queryCarbonEmissionsTopNSubscriptionItemsReport.json
  specification/carbon/resource-manager/Microsoft.Carbon/stable/2025-04-01/main.json
  specification/carbon/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, new-api-version, new-rp-namespace, TypeSpec, PipelineBotTrigger, PublishToCustomers

#32746 Add deleting provisioningstate for resources storage/cerificate/dapr …
  specification/app/resource-manager/Microsoft.App/preview/2025-02-02-preview/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/preview/2025-02-02-preview/ConnectedEnvironmentsDaprComponents.json
  specification/app/resource-manager/Microsoft.App/preview/2025-02-02-preview/ConnectedEnvironmentsStorages.json
Labels: ARMSignedOff, ARMReview, resource-manager, brownfield

#33329 Add suppressions from previous api version
  specification/machinelearningservices/resource-manager/readme.md
Labels: ARMSignedOff, Approved-Avocado, Approved-LintDiff, ARMReview, resource-manager, PipelineBotTrigger

#33961 Sync eng/common directory with azure-sdk-tools for PR 10314
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#33998 [Azure Load Testing] Update sensitive terms with GUIDs
  specification/loadtestservice/LoadTestService.Management/models.tsp
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2023-12-01-preview/loadtestservice.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2024-12-01-preview/loadtestservice.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/loadtestservice.json
Labels: Load Test Service

#33963 [1FDP] Add operationId
  specification/ai/Azure.AI.Projects/evaluations/models.tsp
  specification/ai/Azure.AI.Projects/evaluations/routes.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-05-15-preview/azure-ai-projects-1dp.json
Labels: data-plane, TypeSpec

#33929 Add connection operations with credentials
  specification/ai/Azure.AI.Projects/connections/models.tsp
  specification/ai/Azure.AI.Projects/connections/routes.tsp
  specification/ai/Azure.AI.Projects/evaluations/models.tsp
  specification/ai/Azure.AI.Projects/main.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-05-15-preview/azure-ai-projects-1dp.json
  specification/ai/data-plane/Azure.AI.Projects/stable/2025-05-01/azure-ai-projects-1dp.json
  specification/ai/data-plane/Azure.AI.Projects/stable/latest/azure-ai-projects-1dp.json
Labels: data-plane, TypeSpec

#34003 Sync eng/common directory with azure-sdk-tools for PR 10345
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys, PipelineBotTrigger

#34004 [Carbon] Update tsp config for python
  specification/carbon/Carbon.Management/client.tsp
  specification/carbon/Carbon.Management/tspconfig.yaml
Labels: TypeSpec

#33581 Remove some options in tspconfig for mgmt plane
  specification/appcomplianceautomation/AppComplianceAutomation.Management/tspconfig.yaml
  specification/azurefleet/AzureFleet.Management/tspconfig.yaml
  specification/chaos/Chaos.Management/tspconfig.yaml
  specification/codesigning/CodeSigning.Management/tspconfig.yaml
  specification/computeschedule/ComputeSchedule.Management/tspconfig.yaml
  specification/confidentialledger/Microsoft.CodeTransparency/tspconfig.yaml
  specification/contosowidgetmanager/Contoso.Management/tspconfig.yaml
  specification/databasefleetmanager/DatabaseFleetManager.Management/tspconfig.yaml
  specification/databasewatcher/DatabaseWatcher.Management/tspconfig.yaml
  specification/deviceregistry/DeviceRegistry.Management/tspconfig.yaml
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/tspconfig.yaml
  specification/edge/Microsoft.Edge.Management/tspconfig.yaml
  specification/edge/Microsoft.Edge.Sites.Management/tspconfig.yaml
  specification/edgezones/EdgeZones.Management/tspconfig.yaml
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/tspconfig.yaml
  specification/fabric/Microsoft.Fabric.Management/tspconfig.yaml
  specification/healthdataaiservices/HealthDataAIServices.Management/tspconfig.yaml
  specification/informatica/Informatica.DataManagement.Management/tspconfig.yaml
  specification/iotoperations/IoTOperations.Management/tspconfig.yaml
  specification/kubernetesruntime/KubernetesRuntime.Management/tspconfig.yaml
  specification/liftrastronomer/Astronomer.Astro.Management/tspconfig.yaml
  specification/liftrqumulo/Qumulo.Storage.Management/tspconfig.yaml
  specification/loadtestservice/LoadTestService.Management/tspconfig.yaml
  specification/mongocluster/DocumentDB.MongoCluster.Management/tspconfig.yaml
  specification/monitor/Microsoft.Monitor.Management/tspconfig.yaml
  specification/oracle/Oracle.Database.Management/tspconfig.yaml
  specification/playwrighttesting/PlaywrightTesting.Management/tspconfig.yaml
  specification/scvmm/ScVmm.Management/tspconfig.yaml
  specification/servicenetworking/ServiceNetworking.Management/tspconfig.yaml
  specification/sphere/Sphere.Management/tspconfig.yaml
  specification/standbypool/StandbyPool.Management/tspconfig.yaml
  specification/terraform/Microsoft.AzureTerraform.Management/tspconfig.yaml
  specification/verifiedid/Microsoft.VerifiedId.Management/tspconfig.yaml
  specification/vmware/Microsoft.AVS.Management/tspconfig.yaml
  specification/workloads/Workloads.SAPDiscoverySite.Management/tspconfig.yaml
  specification/workloads/Workloads.SAPMonitor.Management/tspconfig.yaml
  specification/workloads/Workloads.SAPVirtualInstance.Management/tspconfig.yaml
Labels: TypeSpec

#34009 mgmt, java, Update tspconfig.yaml
  specification/carbon/Carbon.Management/client.tsp
  specification/carbon/Carbon.Management/tspconfig.yaml
Labels: TypeSpec

#33840 Adding OnlineExperimentation Management SDK specs.
  specification/onlineexperimentation/OnlineExperimentation.Management/OnlineExperimentWorkspace.tsp
  specification/onlineexperimentation/OnlineExperimentation.Management/examples/2025-05-31-preview/OnlineExperimentWorkspaces_CreateOrUpdate.json
  specification/onlineexperimentation/OnlineExperimentation.Management/examples/2025-05-31-preview/OnlineExperimentWorkspaces_CreateOrUpdateWithEncryption.json
  specification/onlineexperimentation/OnlineExperimentation.Management/examples/2025-05-31-preview/OnlineExperimentWorkspaces_Delete.json
  specification/onlineexperimentation/OnlineExperimentation.Management/examples/2025-05-31-preview/OnlineExperimentWorkspaces_Get.json
  specification/onlineexperimentation/OnlineExperimentation.Management/examples/2025-05-31-preview/OnlineExperimentWorkspaces_ListByResourceGroup.json
  specification/onlineexperimentation/OnlineExperimentation.Management/examples/2025-05-31-preview/OnlineExperimentWorkspaces_ListBySubscription.json
  specification/onlineexperimentation/OnlineExperimentation.Management/examples/2025-05-31-preview/OnlineExperimentWorkspaces_OperationsList.json
  specification/onlineexperimentation/OnlineExperimentation.Management/examples/2025-05-31-preview/OnlineExperimentWorkspaces_Update.json
  specification/onlineexperimentation/OnlineExperimentation.Management/examples/2025-05-31-preview/OnlineExperimentWorkspaces_UpdateWithEncryption.json
  specification/onlineexperimentation/OnlineExperimentation.Management/main.tsp
  specification/onlineexperimentation/OnlineExperimentation.Management/models.tsp
  specification/onlineexperimentation/OnlineExperimentation.Management/query.kql
  specification/onlineexperimentation/OnlineExperimentation.Management/tspconfig.yaml
  specification/onlineexperimentation/cspell.yaml
  specification/onlineexperimentation/resource-manager/Microsoft.OnlineExperimentation/preview/2025-05-31-preview/OnlineExperimentWorkspace.json
  specification/onlineexperimentation/resource-manager/Microsoft.OnlineExperimentation/preview/2025-05-31-preview/examples/OnlineExperimentWorkspaces_CreateOrUpdate.json
  specification/onlineexperimentation/resource-manager/Microsoft.OnlineExperimentation/preview/2025-05-31-preview/examples/OnlineExperimentWorkspaces_CreateOrUpdateWithEncryption.json
  specification/onlineexperimentation/resource-manager/Microsoft.OnlineExperimentation/preview/2025-05-31-preview/examples/OnlineExperimentWorkspaces_Delete.json
  specification/onlineexperimentation/resource-manager/Microsoft.OnlineExperimentation/preview/2025-05-31-preview/examples/OnlineExperimentWorkspaces_Get.json
  specification/onlineexperimentation/resource-manager/Microsoft.OnlineExperimentation/preview/2025-05-31-preview/examples/OnlineExperimentWorkspaces_ListByResourceGroup.json
  specification/onlineexperimentation/resource-manager/Microsoft.OnlineExperimentation/preview/2025-05-31-preview/examples/OnlineExperimentWorkspaces_ListBySubscription.json
  specification/onlineexperimentation/resource-manager/Microsoft.OnlineExperimentation/preview/2025-05-31-preview/examples/OnlineExperimentWorkspaces_OperationsList.json
  specification/onlineexperimentation/resource-manager/Microsoft.OnlineExperimentation/preview/2025-05-31-preview/examples/OnlineExperimentWorkspaces_Update.json
  specification/onlineexperimentation/resource-manager/Microsoft.OnlineExperimentation/preview/2025-05-31-preview/examples/OnlineExperimentWorkspaces_UpdateWithEncryption.json
  specification/onlineexperimentation/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, Approved-Suppression, SuppressionReviewRequired, new-api-version, new-rp-namespace, TypeSpec, PipelineBotTrigger, PublishToCustomers

#33860 Use 1DP endpoint
  specification/ai/Azure.AI.Assistants/main.tsp
  specification/ai/data-plane/Azure.AI.Assistants/preview/2025-05-15-preview/azure-ai-assistants.json
Labels: data-plane, TypeSpec

#33994 [AI] [Projects] make list threads internal for .NET
  specification/ai/Azure.AI.Projects/agents/client.tsp
Labels: TypeSpec

#33968 Initial commit - Fleet APIs
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/fleet/CosmosDBFleetAnalyticsCreate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/fleet/CosmosDBFleetAnalyticsDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/fleet/CosmosDBFleetAnalyticsGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/fleet/CosmosDBFleetAnalyticsList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/fleet/CosmosDBFleetCreate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/fleet/CosmosDBFleetDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/fleet/CosmosDBFleetGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/fleet/CosmosDBFleetList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/fleet/CosmosDBFleetUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/fleet/CosmosDBFleetspaceAccountCreate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/fleet/CosmosDBFleetspaceAccountDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/fleet/CosmosDBFleetspaceAccountGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/fleet/CosmosDBFleetspaceAccountList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/fleet/CosmosDBFleetspaceCreate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/fleet/CosmosDBFleetspaceDelete.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/fleet/CosmosDBFleetspaceGet.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/fleet/CosmosDBFleetspaceList.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/examples/fleet/CosmosDBFleetspaceUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2025-05-01-preview/fleet.json
  specification/cosmos-db/resource-manager/readme.md
Labels: Cosmos, resource-manager, brownfield

#34021 Add PATCH for Asset Create/Update
  specification/ai/Azure.AI.Projects/common/models.tsp
  specification/ai/Azure.AI.Projects/indexes/models.tsp
  specification/ai/Azure.AI.Projects/servicepatterns.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-05-15-preview/azure-ai-projects-1dp.json
  specification/ai/data-plane/Azure.AI.Projects/stable/2025-05-01/azure-ai-projects-1dp.json
  specification/ai/data-plane/Azure.AI.Projects/stable/latest/azure-ai-projects-1dp.json
Labels: data-plane, TypeSpec

#33815 Update for Online Experimentation CODEOWNERS
  .github/CODEOWNERS
Labels: PipelineBotTrigger

#34038 [Programmable Connectivity] update tsp config
  specification/programmableconnectivity/ProgrammableConnectivity.Management/client.tsp
  specification/programmableconnectivity/ProgrammableConnectivity.Management/tspconfig.yaml
Labels: TypeSpec, PublishToCustomers

#34041 add link to error message for validation
  eng/tools/typespec-validation/src/rules/sdk-tspconfig-validation.ts
Labels: PipelineBotTrigger

#33982 java, mgmt, Portal Services Copilot in Azure, client
  specification/portalservices/CopilotSettings.Management/client.tsp
  specification/portalservices/CopilotSettings.Management/tspconfig.yaml
Labels: TypeSpec

#33769 Merge Java into main inference feature branch
  specification/ai/ModelClient/client.tsp
  specification/ai/ModelClient/main.tsp
  specification/ai/ModelClient/tspconfig.yaml
Labels: TypeSpec

#34046 Sync eng/common directory with azure-sdk-tools for PR 10287
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#34007 New prettier fixes
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2025-04-01/examples/Compute/createOrUpdate/BasicAmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2025-04-01/examples/Compute/createOrUpdate/BasicDataFactoryCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2025-04-01/examples/Compute/createOrUpdate/ComputeInstance.json
Labels: ARMSignedOff, ARMReview, resource-manager

#34065 [computeschedule] Remove python configuration for swagger
  specification/computeschedule/resource-manager/readme.md
Labels: ARMSignedOff, ARMReview, resource-manager, ReadyForApiTest, RPaaS, BreakingChange-JavaScript-Sdk-Approved, BreakingChange-JavaScript-Sdk, PublishToCustomers, ARMAutoSignedOff

#34066 [IoTFirmwareDefense] update tsp config
  specification/fist/IotFirmwareDefense.Management/client.tsp
  specification/fist/IotFirmwareDefense.Management/tspconfig.yaml
Labels: TypeSpec
