Repository Azure/azure-rest-api-specs, changes with the owners that CODEOWNERS names for each.
All owners: @Azure/api-stewardship-board, @hmlam, @nickghardwick, @lmazuel, @deyaaeldeen, @JoshLove-msft, @swathipil, @conniey, @minhanh-phan, @assafi, @rokulka, @ChongTang, @annatisch, @heaths, @kristapratico, @mssfang, @joseharriaga, @Azure/adp, @taiwu, @ofirmanor, @olalavi, @erangon, @orieldar, @ilaizi, @shakednai1, @orenhor, @promoisha, @solankisamir, @alexeldeib, @ramthi, @trask, @hectorhdzg, @lzchen, @athipp, @darshanhs90, @stankovski, @vrdmr, @deathly809, @wiboris, @dpwatrous, @skapur12, @cRui861, @wanghoppe, @alexanderyukhanov, @wilcobmsft, @asarkar84, @jorinmejia, @yunhemsft, @jessicl-ms, @rrahulms, @t-bzhan, @ChenglongLiu, @felixwa, @yangyuan, @bojunehsu, @nizi1127, @johanste, @bilaakpan-ms, @sandido, @dkulkarni-ms, @haagha, @MS-syh2qs, @grizzlytheodore, @mabhard, @danielli90, @smotwani, @ppatwa, @vikramd-ms, @yunusm, @ZhidongPeng, @nkuchta, @maheshnemichand, @najams, @changov, @kjeur, @panda-wang, @novinc, @djyou, @palma21, @weinong, @seguler, @alvinli222, @justindavies, @matthchr, @robbiezhang, @paulgmiller, @yizhang4321, @circy9, @qike-ms, @pjohari-ms, @MehaKaushik, @tjlvtao, @Frey-Wang, @zhangyd2015, @davidzhaoyue, @ro-joowan, @hitenjava, @netrock, @mikekistler, @dmakwana, @jihochang, @Kishp01, @ahamad-MS, @v-ajnava, @dsouzaarun, @damodaravadhani, @yugangw-msft, @amarzavery, @pulkittomar, @wawon-msft, @gucalder, @vrmurthy01, @rkmanda, @randallilama, @jlichwa, @pankajsn, @tonytang-microsoft-com, @nonstatic2014, @shutchings, @jeffrey-ace, @giakas, @Joanna-Yang-Art, @amolr, @smithab, @sw47, @dashimi16, @rileymckenna, @pilor, @tarostok, @Azure/azure-sdk-write-postgresql, @kvish, @dragonfly91, @sonathan, @dheerendrarathor, @avneeshrai, @siddharthchatrolams, @timlovellsmith, @Azure/arm-template-deployments, @rajshah11, @vivsriaus, @pinwang81, @arv100kri, @bleroy, @BevLoh, @giulianob, @tjacobhi, @conor-joplin, @amitchat, @craigw, @asinn826, @daveirwin1, @juhacket, @samedder, @jamestao, @ericshape, @jeremyfrosti, @jasonyang-msft, @seanmcc-msft, @leoz-ms, @ankushbindlish2, @manaas-microsoft, @atpham256, @navysingla, @wonner, @yanjungao718, @sandshadow, @allencal, @hrkulkarmsft, @naveedaz, @Azure/azure-app-service-control-plane, @Azure/aml-compute-instance, @shahabhijeet, @qiaozha, @jsntcy, @tadelesh, @msyyc, @weshaggard, @mikeharder, @konrad-jamrozik

Add Capacity based round-robin load balancing settings
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2023-07-01-preview/afdx.json
Owners: @jorinmejia, @yunhemsft, @jessicl-ms, @rrahulms, @t-bzhan, @ChenglongLiu

prettier fix
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
Owners: @Frey-Wang, @zhangyd2015, @davidzhaoyue

fix error response schema
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-01-01-preview/management.json
Owners: none

fix error response schema
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-01-01-preview/management.json
Owners: none

Lint fixes
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-01-01-preview/management.json
Owners: none

Lint fixes
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-01-01-preview/management.json
Owners: none

Lint fixes
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-01-01-preview/management.json
Owners: none

tsv node 21
  eng/pipelines/templates/steps/npm-install.yml
  eng/tools/typespec-validation/ci.yml
  eng/tools/typespec-validation/package.json
Owners: @weshaggard, @mikeharder, @konrad-jamrozik

parameter
  eng/tools/typespec-validation/ci.yml
Owners: @weshaggard, @mikeharder, @konrad-jamrozik

Update 2023-10-01-preview API
  specification/mobilenetwork/resource-manager/Microsoft.MobileNetwork/preview/2023-10-01-preview/attachedDataNetwork.json
  specification/mobilenetwork/resource-manager/Microsoft.MobileNetwork/preview/2023-10-01-preview/common.json
  specification/mobilenetwork/resource-manager/Microsoft.MobileNetwork/preview/2023-10-01-preview/examples/RoutingInfoAttachedDataNetwork.json
  specification/mobilenetwork/resource-manager/Microsoft.MobileNetwork/preview/2023-10-01-preview/examples/RoutingInfoPacketCoreControlPlane.json
  specification/mobilenetwork/resource-manager/Microsoft.MobileNetwork/preview/2023-10-01-preview/examples/RoutingInfoPacketCoreDataPlane.json
  specification/mobilenetwork/resource-manager/Microsoft.MobileNetwork/preview/2023-10-01-preview/packetCoreDataPlane.json
Owners: none

package logck
  package-lock.json
Owners: @weshaggard, @mikeharder, @konrad-jamrozik

Update property names
  specification/mobilenetwork/resource-manager/Microsoft.MobileNetwork/preview/2023-10-01-preview/common.json
  specification/mobilenetwork/resource-manager/Microsoft.MobileNetwork/preview/2023-10-01-preview/examples/RoutingInfoPacketCoreControlPlane.json
Owners: none

Lint fixes
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-01-01-preview/management.json
Owners: none

Lint fixes
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-01-01-preview/examples/PutApplication.json
Owners: none

tsv path error message
  eng/tools/typespec-validation/src/index.ts
  eng/tools/typespec-validation/src/tsv-host.ts
  eng/tools/typespec-validation/src/tsv-runner-host.ts
  eng/tools/typespec-validation/src/utils.ts
  eng/tools/typespec-validation/test/tsv-test-host.ts
Owners: @weshaggard, @mikeharder, @konrad-jamrozik

added connection state
  specification/mission/Mission.Management/resourcetypes/enclaveConnection/enclaveConnection.tsp
  specification/mission/resource-manager/Microsoft.Mission/preview/2023-08-01-preview/openapi.json
  specification/mission/resource-manager/Microsoft.Mission/preview/2023-11-01-preview/openapi.json
Owners: none

Use absolute path when opening file
  eng/scripts/TypeSpec-Requirement.ps1
Owners: @weshaggard, @mikeharder, @konrad-jamrozik

Add PowerState
  specification/modsimworkbench/resource-manager/Microsoft.ModSimWorkbench/preview/2021-03-01-preview/chambers.json
  specification/modsimworkbench/resource-manager/Microsoft.ModSimWorkbench/preview/2021-03-01-preview/common-types.json
  specification/modsimworkbench/resource-manager/Microsoft.ModSimWorkbench/preview/2021-03-01-preview/connectors.json
  specification/modsimworkbench/resource-manager/Microsoft.ModSimWorkbench/preview/2021-03-01-preview/storages.json
  specification/modsimworkbench/resource-manager/Microsoft.ModSimWorkbench/preview/2021-03-01-preview/workloads.json
Owners: none

Moved powerState to under 'properties'
  specification/modsimworkbench/resource-manager/Microsoft.ModSimWorkbench/preview/2021-03-01-preview/chambers.json
  specification/modsimworkbench/resource-manager/Microsoft.ModSimWorkbench/preview/2021-03-01-preview/connectors.json
  specification/modsimworkbench/resource-manager/Microsoft.ModSimWorkbench/preview/2021-03-01-preview/storages.json
  specification/modsimworkbench/resource-manager/Microsoft.ModSimWorkbench/preview/2021-03-01-preview/workloads.json
Owners: none

update readme for updated TOC.
  specification/maps/data-plane/readme.md
Owners: @Azure/api-stewardship-board

Only check files we believe to be data-plane or resource-manager preview or stable specs
  eng/scripts/TypeSpec-Requirement.ps1
Owners: @weshaggard, @mikeharder, @konrad-jamrozik

Add ToDo for specs missing *.tsp sources
  eng/scripts/TypeSpec-Requirement.ps1
Owners: @weshaggard, @mikeharder, @konrad-jamrozik

switch ChatMessageImageUrl.url to be a string
  specification/cognitiveservices/OpenAI.Inference/models/completions/chat_messages.tsp
Owners: @felixwa, @yangyuan

Improve wording of "branch main" error
  eng/scripts/TypeSpec-Requirement.ps1
Owners: @weshaggard, @mikeharder, @konrad-jamrozik

[TypeSpec Requirement] Add check to require new specs use TypeSpec (#27227)
  eng/pipelines/typespec-requirement.yml
  eng/scripts/TypeSpec-Requirement.ps1
Owners: @weshaggard, @mikeharder, @konrad-jamrozik

add client visibility for c#
  specification/cognitiveservices/OpenAI.Inference/client/custom_visibility.tsp
Owners: @felixwa, @yangyuan

Add skeleton of check to require typespec
  eng/scripts/Require-TypeSpec.ps1
Owners: @weshaggard, @mikeharder, @konrad-jamrozik

Check file contents and path in main
  eng/scripts/Require-TypeSpec.ps1
Owners: @weshaggard, @mikeharder, @konrad-jamrozik

Rename script to TypeSpec-Requirement
  eng/scripts/Require-TypeSpec.ps1
Owners: @weshaggard, @mikeharder, @konrad-jamrozik

Support narrow data types
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchIndexSearchDocumentsPost.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/examples/SearchServiceCreateIndex.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/searchindex.json
  specification/search/data-plane/Azure.Search/preview/2024-03-01-Preview/searchservice.json
Owners: @arv100kri, @bleroy, @Azure/api-stewardship-board, @BevLoh, @giulianob

Cleanup pipeline yaml
  eng/pipelines/typespec-requirement.yml
Owners: @weshaggard, @mikeharder, @konrad-jamrozik

Add skeleton of check to require typespec
  eng/pipelines/typespec-requirement.yml
  eng/scripts/Require-TypeSpec.ps1
Owners: @weshaggard, @mikeharder, @konrad-jamrozik

Fix typo
  eng/pipelines/typespec-requirement.yml
Owners: @weshaggard, @mikeharder, @konrad-jamrozik

Add new non-typespec service family
  specification/testnewnontypespec/resource-manager/Microsoft.ADHybridHealthService/stable/2014-01-01/ADHybridHealthService.json
  specification/testnewnontypespec/resource-manager/readme.md
Owners: none

Check file contents and path in main
  eng/scripts/Require-TypeSpec.ps1
Owners: @weshaggard, @mikeharder, @konrad-jamrozik

Add skeleton of check to require typespec
  eng/pipelines/typespec-requirement.yml
  eng/scripts/Require-TypeSpec.ps1
Owners: @weshaggard, @mikeharder, @konrad-jamrozik

Check file contents and path in main
  eng/scripts/Require-TypeSpec.ps1
Owners: @weshaggard, @mikeharder, @konrad-jamrozik

Cleanup pipeline yaml
  eng/pipelines/typespec-requirement.yml
Owners: @weshaggard, @mikeharder, @konrad-jamrozik

Fix typo
  eng/pipelines/typespec-requirement.yml
Owners: @weshaggard, @mikeharder, @konrad-jamrozik

Add new service family with typespec
  testnewnontypespec/resource-manager/Microsoft.ADHybridHealthService/stable/2014-01-01/ADHybridHealthService.json
  testnewnontypespec/resource-manager/readme.md
Owners: none

CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

#########
# Specification
#########

#########
# Codeowner assignments are made from the _last_ matching entry in CODEOWNERS, so catch-all entries must come first
#########
/specification/*/data-plane/ @Azure/api-stewardship-board

# PRLabel: %Schema Registry
/specification/schemaregistry/ @hmlam @nickghardwick @lmazuel @deyaaeldeen @JoshLove-msft @swathipil @conniey @minhanh-phan

# PRLabel: %Cognitive Services
/dev/cognitiveservices/data-plane/Language/ @assafi @rokulka @ChongTang @annatisch @heaths @deyaaeldeen @kristapratico @mssfang @joseharriaga @minhanh-phan @Azure/api-stewardship-board

/specification/adp/ @Azure/adp

# PRLabel: %FarmBeats
/specification/agrifood/data-plane @Azure/api-stewardship-board

# PRLabel: %Analysis Services
/specification/analysisservices/ @taiwu

# PRLabel: %Alerts Management
/specification/alertsmanagement/ @ofirmanor @olalavi @erangon @orieldar @ilaizi @shakednai1 @orenhor

# PRLabel: %API Management
/specification/apimanagement/ @promoisha @solankisamir

# PRLabel: %Insights
/specification/applicationinsights/ @alexeldeib

# PRLabel: %Monitor - Exporter
/specification/applicationinsights/data-plane/Monitor.Exporters/ @ramthi @trask @hectorhdzg @lzchen @Azure/api-stewardship-board

# PRLabel: %Code Signing
/specification/codesigning/data-plane @Azure/api-stewardship-board

/specification/asazure/ @athipp

# PRLabel: %Authorization
/specification/authorization/ @darshanhs90 @stankovski

# PRLabel: %Automation
/specification/automation/ @vrdmr

/specification/azsadmin/ @deathly809

# PRLabel: %Batch
/specification/batch/ @wiboris @dpwatrous @skapur12 @cRui861 @wanghoppe

# PRLabel: %BatchAI
/specification/batchai/ @alexanderyukhanov

# PRLabel: %Billing
/specification/billing/ @wilcobmsft @asarkar84

# PRLabel: %Network - CDN
/specification/cdn/ @jorinmejia @yunhemsft @jessicl-ms @rrahulms @t-bzhan @ChenglongLiu

# PRLabel: %Cognitive Services
/specification/cognitiveservices/ @felixwa @yangyuan

# PRLabel: %Cognitive Services - Form Recognizer
/specification/cognitiveservices/data-plane/FormRecognizer/ @bojunehsu @nizi1127 @johanste

# PRLabel: %Cognitive - Language
/specification/cognitiveservices/data-plane/Language/ @assafi @rokulka @ChongTang @annatisch @heaths @deyaaeldeen @kristapratico @mssfang @joseharriaga @minhanh-phan @Azure/api-stewardship-board

# PRLabel: %Compute
/specification/compute/ @bilaakpan-ms @sandido @dkulkarni-ms @haagha @MS-syh2qs @grizzlytheodore @mabhard @danielli90 @smotwani @ppatwa @vikramd-ms @yunusm @ZhidongPeng @nkuchta @maheshnemichand @najams @changov

/specification/consumption/ @kjeur @panda-wang

# PRLabel: %Container Instances
/specification/containerinstance/ @novinc

# PRLabel: %Container Registry
/specification/containerregistry/ @djyou

# PRLabel: %Container Service
/specification/containerservice/ @palma21 @weinong @seguler @alvinli222 @justindavies @matthchr @robbiezhang @paulgmiller @yizhang4321 @circy9 @qike-ms

# PRLabel: %Cosmos
/specification/cosmos-db/ @pjohari-ms @MehaKaushik

# PRLabel: %Customer Insights
/specification/customer-insights/ @tjlvtao

# PRLabel: %Data Factory
/specification/datafactory/ @Frey-Wang @zhangyd2015 @davidzhaoyue

# PRLabel: %Data Lake Analytics
/specification/datalake-analytics/ @ro-joowan

# PRLabel: %Data Lake Store
/specification/datalake-store/ @ro-joowan

# PRLabel: %Data Migration
/specification/datamigration/ @hitenjava

/specification/deploymentmanager/ @netrock

# PRLabel: %Device Update
/specification/deviceupdate/data-plane/ @mikekistler @Azure/api-stewardship-board

/specification/documentdb/ @dmakwana

/specification/domainservices/ @jihochang

# PRLabel: %Event Grid
/specification/eventgrid/ @Kishp01 @ahamad-MS

# PRLabel: %Event Hubs
/specification/eventhub/ @v-ajnava @dsouzaarun @damodaravadhani

/specification/features/ @stankovski

/specification/graphrbac/ @lmazuel @yugangw-msft @amarzavery

# PRLabel: %HDInsight
/specification/hdinsight/ @pulkittomar @wawon-msft

/specification/insights/ @gucalder

# PRLabel: %Intune
/specification/intune/ @vrmurthy01

# PRLabel: %IotHub
/specification/iothub/ @rkmanda

# PRLabel: %KeyVault
/specification/keyvault/ @heaths @randallilama @jlichwa

# PRLabel: %Load Test Service
/specification/loadtestservice/data-plane/ @mikekistler @Azure/api-stewardship-board

# PRLabel: %Logic App
/specification/logic/ @pankajsn @tonytang-microsoft-com

# PRLabel: %Machine Learning
/specification/machinelearning/ @nonstatic2014

# PRLabel: %Machine Learning Compute
/specification/machinelearningcompute/ @shutchings

/specification/managementpartner/ @jeffrey-ace

# PRLabel: %Media Services
/specification/mediaservices/ @giakas

# PRLabel: %Monitor
/specification/monitor/ @gucalder

# PRLabel: %Network
/specification/network/ @Joanna-Yang-Art

# PRLabel: %Notification Hub
/specification/notificationhubs/ @amolr @smithab

# PRLabel: %Monitor - Operational Insights
/specification/operationalinsights/ @sw47

# PRLabel: %Operations Management
/specification/operationsmanagement/ @dashimi16

# PRLabel: %Peering
/specification/peering/ @rileymckenna

# PRLabel: %Policy Insights
/specification/policyinsights/ @pilor

/specification/powerbidedicated/ @tarostok

# PRLabel: %Purview
/specification/purview/data-plane @mikekistler @Azure/api-stewardship-board

# PRLabel: %PostgreSQL
/specification/postgresql/** @Azure/azure-sdk-write-postgresql

/specification/provisioningservices/ @kvish

# PRLabel: %RecoveryServices
/specification/recoveryservices/ @dragonfly91 @sonathan

# PRLabel: %Recovery Services Backup
/specification/recoveryservicesbackup/ @dheerendrarathor

# PRLabel: %Recovery Services Site-Recovery
/specification/recoveryservicessiterecovery/ @avneeshrai

# PRLabel: %Redis Cache
/specification/redis/ @siddharthchatrolams @timlovellsmith

# PRLabel: %Relay
/specification/relay/ @v-ajnava @dsouzaarun @damodaravadhani

/specification/resources/ @Azure/arm-template-deployments @rajshah11 @vivsriaus

# PRLabel: %Scheduler
/specification/scheduler/ @pinwang81

# PRLabel: %Search
/specification/search/data-plane/ @arv100kri @bleroy @Azure/api-stewardship-board @BevLoh @giulianob

# PRLabel: %Search
/specification/search/resource-manager/ @tjacobhi @conor-joplin @BevLoh

/specification/serialconsole/ @amitchat @craigw @asinn826

# PRLabel: %Service Map
/specification/service-map/ @daveirwin1

# PRLabel: %Service Bus
/specification/servicebus/ @v-ajnava @dsouzaarun @damodaravadhani

# PRLabel: %Service Fabric
/specification/servicefabric/ @juhacket @samedder

# PRLabel: %SQL
/specification/sql/ @jamestao @ericshape @jeremyfrosti

# PRLabel: %Storage
/specification/storage/ @jasonyang-msft
/specification/storage/data-plane/ @seanmcc-msft @Azure/api-stewardship-board

# PRLabel: %Import Export
/specification/storageimportexport/ @leoz-ms

# PRLabel: %StorageSync
/specification/storagesync/ @ankushbindlish2

# PRLabel: %Storsimple
/specification/storsimple8000series/ @manaas-microsoft

# PRLabel: %Stream Analytics
/specification/streamanalytics/ @atpham256

# PRLabel: %Subscription
/specification/subscriptions/ @navysingla

# PRLabel: %Synapses
/specification/synapse/ @wonner @yanjungao718

# PRLabel: %TimeseriesInsights
/specification/timeseriesinsights/ @sandshadow

# PRLabel: %Network - Traffic Manager
/specification/trafficmanager/ @allencal @hrkulkarmsft

# PRLabel: %Web Apps
/specification/web/ @naveedaz @Azure/azure-app-service-control-plane

# PRLabel: %AzureML - Compute Instance
/specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/**/machineLearningServices.json @Azure/aml-compute-instance

# PRLabel: %Profile
/profile/ @shahabhijeet

/specification/**/resource-manager/**/readme.typescript.md @qiaozha
/specification/**/resource-manager/**/readme.az.md @jsntcy @qiaozha
/specification/**/resource-manager/**/readme.cli.md @jsntcy @qiaozha
/specification/**/resource-manager/**/readme.go.md @tadelesh
/specification/**/resource-manager/**/readme.python.md @msyyc

###########
# Eng Sys
###########
/.gitattributes     @weshaggard @mikeharder @konrad-jamrozik
/.gitignore         @weshaggard @mikeharder @konrad-jamrozik
/.prettierrc.json   @weshaggard @mikeharder @konrad-jamrozik
/package-lock.json  @weshaggard @mikeharder @konrad-jamrozik
/package.json       @weshaggard @mikeharder @konrad-jamrozik
/tsconfig.json      @weshaggard @mikeharder @konrad-jamrozik
/.azure-pipelines/  @weshaggard @mikeharder @konrad-jamrozik
/.github/           @weshaggard @mikeharder @konrad-jamrozik
/eng/               @weshaggard @mikeharder @konrad-jamrozik
/scripts/           @weshaggard @mikeharder @konrad-jamrozik
