Repository Azure/azure-rest-api-specs, changes with the owners that CODEOWNERS names for each.
All owners: @Azure/adp, @taiwu, @ofirmanor, @olalavi, @erangon, @orieldar, @ilaizi, @shakednai1, @khaboasb, @orenhor, @promoisha, @solankisamir, @alexeldeib, @ramthi, @trask, @hectorhdzg, @lzchen, @athipp, @darshanhs90, @stankovski, @vrdmr, @deathly809, @matthchr, @xingwu1, @alexanderyukhanov, @wilcobmsft, @asarkar84, @csmengwan, @injyzarif, @prakharsharma10, @felixwa, @yangyuan, @bilaakpan-ms, @sandido, @dkulkarni-ms, @haagha, @madewithsmiles, @MS-syh2qs, @grizzlytheodore, @hyonholee, @mabhard, @danielli90, @smotwani, @ppatwa, @vikramd-ms, @savyasachisamal, @yunusm, @ZhidongPeng, @nkuchta, @maheshnemichand, @najams, @changov, @kjeur, @panda-wang, @novinc, @djyou, @yangl900, @dmakwana, @MehaKaushik, @wmengmsft, @shurd, @tjlvtao, @zhangyd2015, @ro-joowan, @hitenjava, @netrock, @iouri-s, @owolabi2, @jihochang, @Kishp01, @ahamad-MS, @v-ajnava, @lmazuel, @yugangw-msft, @amarzavery, @pulkittomar, @wawon-msft, @gucalder, @vrmurthy01, @rkmanda, @heaths, @randallilama, @jlichwa, @pankajsn, @tonytang-microsoft-com, @nonstatic2014, @shutchings, @jeffrey-ace, @giakas, @pshrosbree, @qingqingyuan, @MikhailTryakhov, @amolr, @smithab, @sw47, @dashimi16, @rileymckenna, @pilor, @tarostok, @kvish, @dragonfly91, @sonathan, @dheerendrarathor, @avneeshrai, @siddharthchatrolams, @timlovellsmith, @sethmanheim, @Azure/arm-template-deployments, @rajshah11, @vivsriaus, @pinwang81, @brjohnstmsft, @arv100kri, @bleroy, @AlexGhiondea, @Mohit-Chakraborty, @abhi1509, @tjacobhi, @amitchat, @craigw, @asinn826, @daveirwin1, @sazeesha, @juhacket, @samedder, @jamestao, @bcham, @apurvans, @blueww, @jasonyang-msft, @xiaonlimsft, @kasobol-msft, @seanmcc-msft, @leoz-ms, @ankushbindlish2, @manaas-microsoft, @atpham256, @navysingla, @idear1203, @sandshadow, @allencal, @hrkulkarmsft, @naveedaz, @Azure/azure-app-service-control-plane, @shahabhijeet, @qiaozha, @jsntcy, @ArcturusZhang, @msyyc, @zhangyan133, @RAY-316, @00Kai0

Made kinf property required and updated examples
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/enterprisePolicy.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/createOrUpdateEnterprisePolicy.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/getEnterprisePolicy.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/listEnterprisePoliciesByResourceGroup.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/listEnterprisePoliciesBySubscription.json
  specification/powerplatform/resource-manager/Microsoft.PowerPlatform/preview/2020-10-30-preview/examples/updateEnterprisePolicy.json
Owners: none

Align with service and documentation where Blob Quick Query XML elements are optional instead of required
  specification/storage/data-plane/Microsoft.BlobStorage/preview/2019-12-12/blob.json
  specification/storage/data-plane/Microsoft.BlobStorage/preview/2020-02-10/blob.json
  specification/storage/data-plane/Microsoft.BlobStorage/preview/2020-04-08/blob.json
  specification/storage/data-plane/Microsoft.BlobStorage/preview/2020-06-12/blob.json
  specification/storage/data-plane/Microsoft.BlobStorage/preview/2020-08-04/blob.json
  specification/storage/data-plane/Microsoft.BlobStorage/preview/2020-10-02/blob.json
Owners: @kasobol-msft, @seanmcc-msft

Key rotation swagger change (#11965)
  custom-words.txt
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.3-preview/examples/GetKeyRotationPolicy-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.3-preview/examples/RotateKey-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.3-preview/examples/UpdateKeyRotationPolicy-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.3-preview/keys.json
Owners: @heaths, @randallilama, @jlichwa

Fix model validation issues
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/createVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/createVaultWithNetworkAcls.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/purgeDeletedVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/updateAccessPoliciesAdd.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/updateVault.json
Owners: @heaths, @randallilama, @jlichwa

Remove extra 400 from deleted vault response
  specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-04-01-preview/examples/deleteVault.json
Owners: @heaths, @randallilama, @jlichwa

New Swagger Example Spec File
  specification/laurenttest/data-plane/Microsoft.FrenchTest/preview/2021-06-04/examples/OperationGroupGet.json
Owners: none

New Swagger Spec File
  specification/laurenttest/data-plane/Microsoft.FrenchTest/preview/2021-06-04/laurenttest.json
Owners: none

New Readme Config File
  specification/laurenttest/data-plane/readme.md
Owners: none

Adds base for updating Microsoft.Network from version stable/2020-11-01 to version 2021-06-04
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2021-06-04/examples/WafListManagedRuleSets.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2021-06-04/examples/WafListPolicies.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2021-06-04/examples/WafPolicyCreateOrUpdate.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2021-06-04/examples/WafPolicyDelete.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2021-06-04/examples/WafPolicyGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2021-06-04/network.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2021-06-04/webapplicationfirewall.json
Owners: none

Updates readme
  specification/frontdoor/resource-manager/readme.md
Owners: none

Updates API version in new specs and examples
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2021-06-04/examples/WafListManagedRuleSets.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2021-06-04/examples/WafListPolicies.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2021-06-04/examples/WafPolicyCreateOrUpdate.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2021-06-04/examples/WafPolicyDelete.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2021-06-04/examples/WafPolicyGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2021-06-04/network.json
  specification/frontdoor/resource-manager/Microsoft.Network/preview/2021-06-04/webapplicationfirewall.json
Owners: none

make updateStatuses/current endpoint a proxy, updateValidationResults, updateResults
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-05-13-preview/desktopvirtualization.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-05-13-preview/examples/UpdateResults_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-05-13-preview/examples/UpdateStatuses_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-05-13-preview/examples/UpdateValidationResults_Get.json
Owners: none

fix system data and variable
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-05-13-preview/desktopvirtualization.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2021-05-13-preview/examples/UpdateStatuses_Get.json
Owners: none

Separate dataplane changes to support GitHub BYOA in ADF/Synapse
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json
  specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/workspace.json
Owners: @zhangyd2015, @idear1203

Update the API version for Servers so that it works with OutboundFirewallRules
  specification/sql/resource-manager/readme.md
Owners: @jamestao, @bcham, @apurvans

Sort APIs
  specification/sql/resource-manager/readme.md
Owners: @jamestao, @bcham, @apurvans

haim's comments
  specification/vi/resource-manager/Microsoft.VideoIndexer/preview/2021-04-01-preview/vi.json
Owners: none

typo: multilanguage -> multi-language
  specification/cognitiveservices/data-plane/ComputerVision/stable/v3.0/Ocr.json
Owners: @felixwa, @yangyuan

resolving merge conflicts
  specification/billing/resource-manager/Microsoft.Billing/preview/2017-02-27-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2017-04-24-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-03-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-03-01-preview/billingV2.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/examples/AcceptTransfer.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/examples/InitiateTransfer.json
  specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/billing.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/billing.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/examples/BillingAccountsListWithExpandForEnrollmentDetails.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/examples/ReservationsListByBillingAccount.json
  specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/examples/ReservationsListByBillingProfile.json
  specification/billing/resource-manager/readme.az.md
  specification/billing/resource-manager/readme.cli.md
  specification/billing/resource-manager/readme.go.md
  specification/billing/resource-manager/readme.md
  specification/billing/resource-manager/readme.python.md
Owners: @wilcobmsft, @asarkar84, @jsntcy, @qiaozha, @ArcturusZhang, @msyyc, @zhangyan133, @RAY-316, @00Kai0

New Incidents stable version (#14000)
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-04-01/Incidents.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-04-01/examples/incidents/CreateIncident.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-04-01/examples/incidents/DeleteIncident.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-04-01/examples/incidents/GetAllIncidentAlerts.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-04-01/examples/incidents/GetAllIncidentBookmarks.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-04-01/examples/incidents/GetAllIncidentEntities.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-04-01/examples/incidents/GetIncidentById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-04-01/examples/incidents/GetIncidents.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-04-01/examples/incidents/comments/CreateIncidentComment.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-04-01/examples/incidents/comments/DeleteIncidentComment.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-04-01/examples/incidents/comments/GetAllIncidentComments.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-04-01/examples/incidents/comments/GetIncidentCommentById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-04-01/examples/incidents/relations/CreateIncidentRelation.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-04-01/examples/incidents/relations/DeleteIncidentRelation.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-04-01/examples/incidents/relations/GetAllIncidentRelations.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-04-01/examples/incidents/relations/GetIncidentRelationByName.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-04-01/operations.json
  specification/securityinsights/resource-manager/common/1.0/types.json
  specification/securityinsights/resource-manager/readme.md
Owners: none

Added Watchlist 2021-04-01 Stable version
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-04-01/Watchlists.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-04-01/examples/watchlists/CreateWatchlist.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-04-01/examples/watchlists/CreateWatchlistAndWatchlistItems.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-04-01/examples/watchlists/CreateWatchlistItem.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-04-01/examples/watchlists/DeleteWatchlist.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-04-01/examples/watchlists/DeleteWatchlistItem.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-04-01/examples/watchlists/GetWatchlistByAlias.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-04-01/examples/watchlists/GetWatchlistItemById.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-04-01/examples/watchlists/GetWatchlistItems.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2021-04-01/examples/watchlists/GetWatchlists.json
  specification/securityinsights/resource-manager/readme.md
Owners: none

[AzureStack] [Admin API] Compute ScaleUnit Open API Spec (#14133)
  specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/preview/2015-12-01-preview/Compute.json
  specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/preview/2015-12-01-preview/PlatformImages.json
  specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/preview/2015-12-01-preview/VMExtensions.json
  specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/preview/2015-12-01-preview/examples/Operations/List.json
  specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/preview/2018-07-30-preview/DiskMigrationJobs.json
  specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/preview/2018-07-30-preview/Disks.json
  specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/preview/2018-07-30-preview/examples/DiskMigrationJobs/Create.json
  specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/stable/2021-01-01/Quotas.json
  specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/stable/2021-03-30/ScaleUnits.json
  specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/stable/2021-03-30/examples/ScaleUnits/Get.json
  specification/azsadmin/resource-manager/compute/readme.md
Owners: @deathly809

lint and model vaidations
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/dataprotection.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/examples/BackupInstanceOperations/FindRestorableTimeRanges.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/examples/Operations/List.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/dataprotection.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/BackupInstanceOperations/FindRestorableTimeRanges.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/Operations/List.json
Owners: none

changes for prettier
  specification/dataprotection/resource-manager/Microsoft.DataProtection/preview/2021-02-01-preview/examples/Operations/List.json
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/Operations/List.json
Owners: none

changing version in example
  specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2021-01-01/examples/Operations/List.json
Owners: none

update authtype
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/SignalR_CreateOrUpdate.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/SignalR_Get.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/SignalR_ListByResourceGroup.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/SignalR_ListBySubscription.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/SignalR_Update.json
  specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/signalr.json
Owners: none

Add new ResourceType and new enum option (#3825)
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/CustomerEventCreate.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/CustomerEventDelete.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/CustomerEventGet.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/CustomerEventsList.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/EmailEventGet.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/EmailEventsList.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/TestBaseAccountCreate.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/TestBaseAccountGet.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/TestBaseAccountSKUsList.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/TestBaseAccountUpdate.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/TestBaseAccountsList.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/TestBaseAccountsListBySubscription.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/TestResultGet.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/TestResultsList.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/TestSummariesList.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/examples/TestSummaryGet.json
  specification/testbase/resource-manager/Microsoft.TestBase/preview/2020-12-16-preview/testbase.json
Owners: none

Update readme.md
  specification/hybridkubernetes/resource-manager/readme.md
Owners: none

Delete duplicate JSON files
  specification/security/resource-manager/readme.md
Owners: none

Update the API version for Servers so that it works with OutboundFirewallRules (#14687)
  specification/sql/resource-manager/readme.md
Owners: @jamestao, @bcham, @apurvans

fix example
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-10-01/examples/ClustersGet.json
Owners: @sw47

del test
  specification/security/resource-manager/readme.md
Owners: none

Update operation id for restore status op
  specification/netapp/resource-manager/Microsoft.NetApp/stable/2021-04-01/netapp.json
Owners: none

readme changes
  specification/edgeorder/resource-manager/readme.go.md
  specification/edgeorder/resource-manager/readme.md
  specification/edgeorder/resource-manager/readme.python.md
Owners: @ArcturusZhang, @jsntcy, @msyyc, @zhangyan133, @RAY-316, @00Kai0

Swagger refresh and update examples
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/preview/2020-12-01-preview/edgeorder.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/preview/2020-12-01-preview/examples/AddressCreate.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/preview/2020-12-01-preview/examples/AddressGetByName.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/preview/2020-12-01-preview/examples/AddressPatch.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/preview/2020-12-01-preview/examples/AddressesGetAtResourceGrouplevel.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/preview/2020-12-01-preview/examples/AddressesGetAtSubscriptionLevel.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/preview/2020-12-01-preview/examples/GetOrderByName.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/preview/2020-12-01-preview/examples/ListConfigurations.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/preview/2020-12-01-preview/examples/ListOperations.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/preview/2020-12-01-preview/examples/ListOrderAtResourceGroupLevel.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/preview/2020-12-01-preview/examples/ListOrderAtSubscriptionLevel.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/preview/2020-12-01-preview/examples/ListProductFamilies.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/preview/2020-12-01-preview/examples/ListProductFamiliesMetadata.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/preview/2020-12-01-preview/examples/OrderItemCancel.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/preview/2020-12-01-preview/examples/OrderItemCreate.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/preview/2020-12-01-preview/examples/OrderItemDelete.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/preview/2020-12-01-preview/examples/OrderItemGet.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/preview/2020-12-01-preview/examples/OrderItemGetByRG.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/preview/2020-12-01-preview/examples/OrderItemGetBySubscription.json
  specification/edgeorder/resource-manager/Microsoft.EdgeOrder/preview/2020-12-01-preview/examples/OrderItemUpdate.json
Owners: none

CODEOWNERS:

/specification/adp/ @Azure/adp
/specification/analysisservices/ @taiwu
/specification/alertsmanagement/ @ofirmanor @olalavi @erangon @orieldar @ilaizi @shakednai1 @khaboasb @orenhor
/specification/apimanagement/ @promoisha @solankisamir
/specification/applicationinsights/ @alexeldeib
/specification/applicationinsights/data-plane/Monitor.Exporters/ @ramthi @trask @hectorhdzg @lzchen
/specification/asazure/ @athipp
/specification/authorization/ @darshanhs90 @stankovski
/specification/automation/ @vrdmr
/specification/azsadmin/ @deathly809
/specification/batch/ @matthchr @xingwu1
/specification/batchai/ @alexanderyukhanov
/specification/billing/ @wilcobmsft @asarkar84
/specification/cdn/ @csmengwan @injyzarif @prakharsharma10
/specification/cognitiveservices/ @felixwa @yangyuan
/specification/compute/ @bilaakpan-ms @sandido @dkulkarni-ms @haagha @madewithsmiles @MS-syh2qs @grizzlytheodore @hyonholee @mabhard @danielli90 @smotwani @ppatwa @vikramd-ms @savyasachisamal @yunusm @ZhidongPeng @nkuchta @maheshnemichand @najams @changov
/specification/consumption/ @kjeur @panda-wang
/specification/containerinstance/ @novinc
/specification/containerregistry/ @djyou
/specification/containerservice/ @yangl900
/specification/cosmos-db/ @dmakwana @MehaKaushik @wmengmsft @shurd
/specification/customer-insights/ @tjlvtao
/specification/datafactory/ @zhangyd2015
/specification/datalake-analytics/ @ro-joowan
/specification/datalake-store/ @ro-joowan
/specification/datamigration/ @hitenjava
/specification/deploymentmanager/ @netrock
/specification/devtestlabs/ @iouri-s
/specification/dns/ @owolabi2
/specification/documentdb/ @dmakwana
/specification/domainservices/ @jihochang
/specification/eventgrid/ @Kishp01 @ahamad-MS
/specification/eventhub/ @v-ajnava
/specification/features/ @stankovski
/specification/graphrbac/ @lmazuel @yugangw-msft @amarzavery
/specification/hdinsight/ @pulkittomar @wawon-msft
/specification/insights/ @gucalder
/specification/intune/ @vrmurthy01
/specification/iothub/ @rkmanda
/specification/keyvault/ @heaths @randallilama @jlichwa
/specification/logic/ @pankajsn @tonytang-microsoft-com
/specification/machinelearning/ @nonstatic2014
/specification/machinelearningcompute/ @shutchings
/specification/managementpartner/ @jeffrey-ace
/specification/mediaservices/ @giakas
/specification/mobileengagement/ @pshrosbree
/specification/monitor/ @gucalder
/specification/mysql/ @qingqingyuan
/specification/network/ @MikhailTryakhov
/specification/notificationhubs/ @amolr @smithab
/specification/operationalinsights/ @sw47
/specification/operationsmanagement/ @dashimi16
/specification/peering/ @rileymckenna
/specification/policyinsights/ @pilor
/specification/postgresql/ @qingqingyuan
/specification/powerbidedicated/ @tarostok
/specification/provisioningservices/ @kvish
/specification/recoveryservices/ @dragonfly91 @sonathan
/specification/recoveryservicesbackup/ @dheerendrarathor
/specification/recoveryservicessiterecovery/ @avneeshrai
/specification/redis/ @siddharthchatrolams @timlovellsmith
/specification/relay/ @sethmanheim @v-ajnava
/specification/resources/ @Azure/arm-template-deployments @rajshah11 @vivsriaus
/specification/scheduler/ @pinwang81
/specification/search/data-plane/ @brjohnstmsft @arv100kri @bleroy @heaths @AlexGhiondea @Mohit-Chakraborty
/specification/search/resource-manager/ @abhi1509 @tjacobhi
/specification/serialconsole/ @amitchat @craigw @asinn826
/specification/service-map/ @daveirwin1
/specification/servicebus/ @sazeesha @v-ajnava
/specification/servicefabric/ @juhacket @samedder
/specification/sql/ @jamestao @bcham @apurvans
/specification/storage/ @blueww @jasonyang-msft @xiaonlimsft
/specification/storage/data-plane/ @kasobol-msft @seanmcc-msft
/specification/storageimportexport/ @leoz-ms
/specification/storagesync/ @ankushbindlish2
/specification/storsimple8000series/ @manaas-microsoft
/specification/streamanalytics/ @atpham256
/specification/subscriptions/ @navysingla
/specification/synapse/ @idear1203
/specification/timeseriesinsights/ @sandshadow
/specification/trafficmanager/ @allencal @hrkulkarmsft
/specification/web/ @naveedaz @Azure/azure-app-service-control-plane
/profile/ @shahabhijeet
/specification/**/resource-manager/**/readme.typescript.md @qiaozha
/specification/**/resource-manager/**/readme.az.md @jsntcy @qiaozha
/specification/**/resource-manager/**/readme.cli.md @jsntcy @qiaozha
/specification/**/resource-manager/**/readme.go.md @ArcturusZhang
/specification/**/resource-manager/**/readme.python.md @jsntcy @msyyc @zhangyan133 @RAY-316 @00Kai0
