Repository Azure/azure-rest-api-specs, changes with the owners that CODEOWNERS names for each.
All owners: @daschult, @davidwa-msft, @kejiun, @prasanna-padmanabhan, @vladbarosan, @xiaoyu-huang, @athipp, @erickson-doug, @michael-falk, @shihying, @taiwu, @ziyuanms, @darrelmiller, @dmakwana, @himanshumisra1, @jihochang, @kedarjoshi, @lukaszstem, @maboja-msft, @owolabi2, @promoisha, @sethmanheim, @solankisamir, @vitaliykurokhtin, @d3r3kk, @frankguodongchen, @alexeldeib, @jpiyali, @tiffanyachen, @yanivid3, @darshanhs90, @stankovski, @tfitzmac, @vivsriaus, @anatolib, @bmanikm, @chandrasekarsrinivasan, @d1v38om83r, @developertommy, @francisco-gamino, @kunyuchen, @miaromero, @mikekinsman, @murilogr, @najams, @vivlingaiah, @vrdmr, @deathly809, @brnleehng, @kiwidev, @matthchr, @xingwu1, @alexanderyukhanov, @panda-wang, @shawns1, @wilcobmsft, @camsoper, @csmengwan, @injyzarif, @prakharsharma10, @areddish, @ashku-ms, @daniel-ms, @davidlicig, @eisber, @felixwa, @gmainar, @lebronj, @luiscabrer, @omarelhariry137, @pcostantini, @q3blend, @ro-joowan, @shakao, @stefanvalianu, @sudhansu88, @v-sodsou, @xiaojinghe, @brjohnstmsft, @bryanla, @pargall, @bganapa, @brendandburns, @carissasun, @deepakrajendranmsft, @dlepow, @evgenyagafonchikov, @gatneil, @gbowerman, @huangpf, @hyonholee, @koralski, @mboersma, @nepomuceno, @nkuchta, @pratnala, @priydes, @tbombach, @thraka, @vinatara, @wangjun198389, @waynekuo, @yolo3301, @kc786, @kjeur, @ms-premp, @sandeepnl, @v-anpasi, @jluk, @samkreter, @xizhamsft, @djyou, @mmacy, @molly-moen, @tjlvtao, @jeffpang, @maxlims, @bgold09, @chinadragon0515, @eva-xiao, @fan130, @fhljys, @gadongji, @haoqian-ms, @haricr, @hvermis, @milantomic6, @najian, @nicolaszhang, @peshen, @sharmm, @wenbof, @wezou2, @wuchunchunt19, @xiaoyinglj, @yuanliu-ms, @zhangyd2015, @matt1883, @hitenjava, @netrock, @kvish, @montgomp, @ajay-arora, @iouri-s, @ryanvog, @steved0x, @karravi-msft, @mikhailtryakhov, @nkindberg, @vladrai, @cpjagan, @kalyanaj, @scottholden, @biberli, @sazeesha, @v-ajnava, @ppathan, @jeffrey-ace, @jovillas, @pakdliu, @pulkittomar, @wawon-msft, @gucalder, @vrmurthy01, @mastermanu, @rajeevmv, @rkmanda, @ssankar1984, @vishal-gandhi, @xscript, @dragav, @msfcolombo, @rijethma, @schaabs, @seanbamsft, @jcookit, @jp94, @daviburg, @pankajsn, @shimedh, @tonytang-microsoft-com, @ericwill-msft, @garyericson, @nonstatic2014, @ragargms, @tudordid, @shutchings, @muazmian, @rajshah11, @prbansa, @brianblum, @jonpayne, @amandeeps, @ronehr, @guperrot, @mehrdadmzfr, @pshrosbree, @asafst, @davmc, @johnkemnetz, @micongjie, @pkamath13, @shriku11, @varunkch, @qingqingyuan, @rahulgouthamdotgs, @sasankv-ms, @suna-ms, @ajinkyapotdarvjti, @akshaysngupta, @allanbomsft, @anavinahar, @ankurchoubeymsft, @azhao155, @dedhar, @dihan0604, @georgewallace, @gimotwanmsft, @henry416, @irrogozh, @jobatzil, @kagamsft, @lamchester, @manjushachava, @mattreatmsft, @nilambari, @number213, @pacort, @pashukl, @priyanag, @ritwikbasu, @rupalivohra, @skomarag, @vinayada1, @amolr, @smithab, @sw47, @dashimi16, @bulentelmaci, @revas89, @selasagi, @tarostok, @mattmazzola, @minewiskan, @dragonfly91, @sonathan, @dheerendrarathor, @markgalioto, @avneeshrai, @bsiva, @mukum, @alfantp, @siddharthchatrolams, @timlovellsmith, @amarsi, @calexan, @corquiri, @rajithanitc, @sankalpsoni, @chidmdxx, @cyl3392207, @everfor, @grzegorzzygmunt, @jaredmoo, @luanshixia, @mjfrb, @pilor, @sendhil, @wenwu449, @zjpjack, @derek1ee, @pinwang81, @seansaleh, @r22016, @daveirwin1, @juhacket, @samedder, @vipulm-msft, @akromm, @btasdoven, @dnayantara, @emgu-ms, @ferno-ms, @jcyang75, @jiahli, @jiawang003, @jugeorge, @kisantia, @kosta-bizetic, @markobender, @mihymel, @nathannfan, @payiazure, @pixia, @sarvesh-s, @tomapaunovic, @vsporeddy, @yaakoviyun, @yiwuti, @zhensun-sql, @bingosummer, @blueww, @emgerner-msft, @jasonyang-msft, @robinsh, @leoz-ms, @renashahmsft, @manaas-microsoft, @atpham256, @sandshadow, @yeskarthik, @allencal, @hrkulkarmsft, @amaljg, @niblak, @ericsten-msft, @hforeste, @michimune, @mn263, @naveedaz, @nking92, @shcummin, @stevenernst131, @zooba

CODEOWNERS:

/specification/advisor/ @daschult @davidwa-msft @kejiun @prasanna-padmanabhan @vladbarosan @xiaoyu-huang
/specification/analysisservices/ @athipp @daschult @erickson-doug @michael-falk @shihying @taiwu @vladbarosan @ziyuanms
/specification/apimanagement/ @darrelmiller @daschult @dmakwana @himanshumisra1 @jihochang @kedarjoshi @lukaszstem @maboja-msft @owolabi2 @promoisha @sethmanheim @solankisamir @vitaliykurokhtin @vladbarosan
/specification/appinsights/ @d3r3kk @frankguodongchen @vladbarosan
/specification/applicationinsights/ @alexeldeib @d3r3kk @daschult @frankguodongchen @jpiyali @owolabi2 @tiffanyachen @yanivid3
/specification/asazure/ @athipp @erickson-doug
/specification/authorization/ @darshanhs90 @daschult @stankovski @tfitzmac @vivsriaus
/specification/automation/ @anatolib @bmanikm @chandrasekarsrinivasan @d1v38om83r @daschult @developertommy @francisco-gamino @kunyuchen @miaromero @mikekinsman @murilogr @najams @tiffanyachen @vivlingaiah @vladbarosan @vrdmr
/specification/azsadmin/ @daschult @deathly809
/specification/azurestack/ @deathly809
/specification/azurestackadmin/ @deathly809
/specification/batch/ @brnleehng @chandrasekarsrinivasan @daschult @jihochang @kiwidev @matthchr @murilogr @tfitzmac @vladbarosan @xingwu1
/specification/batchai/ @alexanderyukhanov @daschult @jihochang
/specification/billing/ @daschult @panda-wang @shawns1 @tiffanyachen @vladbarosan @wilcobmsft
/specification/cdn/ @camsoper @csmengwan @daschult @erickson-doug @injyzarif @prakharsharma10 @shawns1 @stankovski @vladbarosan
/specification/cognitiveservices/ @areddish @ashku-ms @chandrasekarsrinivasan @daniel-ms @daschult @davidlicig @eisber @felixwa @gmainar @jihochang @lebronj @luiscabrer @murilogr @omarelhariry137 @pcostantini @q3blend @ro-joowan @shakao @stefanvalianu @sudhansu88 @tiffanyachen @v-sodsou @vladbarosan @xiaojinghe
/specification/commerce/ @brjohnstmsft @bryanla @daschult @pargall @vladbarosan
/specification/common-types/ @vladbarosan
/specification/compute/ @bganapa @brendandburns @brjohnstmsft @carissasun @chandrasekarsrinivasan @daschult @deepakrajendranmsft @dlepow @dmakwana @evgenyagafonchikov @gatneil @gbowerman @himanshumisra1 @huangpf @hyonholee @koralski @lukaszstem @maboja-msft @mboersma @murilogr @nepomuceno @nkuchta @pratnala @priydes @sethmanheim @shawns1 @stankovski @sudhansu88 @tbombach @thraka @tiffanyachen @vinatara @vladbarosan @wangjun198389 @waynekuo @yolo3301
/specification/consumption/ @daschult @kc786 @kjeur @ms-premp @panda-wang @sandeepnl @v-anpasi @vladbarosan
/specification/containerinstance/ @daschult @francisco-gamino @jluk @samkreter @xizhamsft @yolo3301
/specification/containerregistry/ @daschult @djyou @jihochang @mmacy @ro-joowan @vladbarosan
/specification/containerservices/ @daschult @mboersma @vladbarosan
/specification/cosmos-db/ @daschult @dmakwana @molly-moen @vladbarosan
/specification/customer-insights/ @daschult @tjlvtao @vladbarosan
/specification/databricks/ @jeffpang
/specification/datacatalog/ @daschult @maxlims
/specification/datafactory/ @bgold09 @chandrasekarsrinivasan @chinadragon0515 @daschult @eva-xiao @fan130 @fhljys @gadongji @haoqian-ms @haricr @hvermis @jihochang @milantomic6 @murilogr @najian @nicolaszhang @peshen @sharmm @tiffanyachen @wenbof @wezou2 @wuchunchunt19 @xiaoyinglj @yuanliu-ms @zhangyd2015
/specification/datalake-analytics/ @brjohnstmsft @daschult @jihochang @matt1883 @ro-joowan @stankovski @vladbarosan
/specification/datalake-store/ @brjohnstmsft @daschult @jihochang @ro-joowan @stankovski @vladbarosan
/specification/datamigration/ @daschult @hitenjava @tiffanyachen
/specification/deploymentmanager/ @netrock
/specification/deviceprovisioningservices/ @kvish @mikekinsman @montgomp
/specification/devtestlabs/ @ajay-arora @daschult @iouri-s @ryanvog @steved0x
/specification/dns/ @daschult @karravi-msft @mikhailtryakhov @nkindberg @owolabi2 @stankovski @tbombach @vladbarosan @vladrai
/specification/documentdb/ @dmakwana
/specification/domainservices/ @daschult @jihochang
/specification/eventgrid/ @cpjagan @daschult @djyou @kalyanaj @scottholden
/specification/eventhub/ @biberli @daschult @gmainar @jihochang @sazeesha @sethmanheim @tiffanyachen @v-ajnava @vladbarosan
/specification/features/ @stankovski
/specification/graphrbac/ @brjohnstmsft @darshanhs90 @daschult @himanshumisra1 @lukaszstem @maboja-msft @mmacy @ppathan @sethmanheim @stankovski @vladbarosan
/specification/gsm/ @jeffrey-ace
/specification/hanaonazure/ @daschult @jovillas @pakdliu @tiffanyachen
/specification/hdinsight/ @daschult @pulkittomar @vladbarosan @wawon-msft
/specification/insights/ @gucalder @vladbarosan
/specification/intune/ @daschult @stankovski @vrmurthy01
/specification/iothub/ @brjohnstmsft @daschult @jihochang @kvish @mastermanu @rajeevmv @rkmanda @ssankar1984 @vishal-gandhi @xscript
/specification/keyvault/ @brjohnstmsft @daschult @dragav @jihochang @msfcolombo @rijethma @schaabs @seanbamsft @tiffanyachen @vladbarosan
/specification/locationbasedservices/ @daschult @jcookit @jp94
/specification/logic/ @brjohnstmsft @daschult @daviburg @pankajsn @shimedh @stankovski @steved0x @tbombach @tonytang-microsoft-com @vladbarosan
/specification/machinelearning/ @brjohnstmsft @daschult @ericwill-msft @garyericson @nonstatic2014 @ragargms @tudordid @vladbarosan
/specification/machinelearningcompute/ @daschult @shutchings
/specification/machinelearningexperimentation/ @daschult @ragargms
/specification/management/ @muazmian
/specification/managementgroups/ @rajshah11
/specification/managementpartner/ @jeffrey-ace
/specification/marketplaceordering/ @daschult @prbansa @tiffanyachen
/specification/mediaservices/ @brianblum @brjohnstmsft @daschult @jonpayne @vladbarosan
/specification/migrate/ @amandeeps @ronehr
/specification/mobileengagement/ @brjohnstmsft @daschult @guperrot @mehrdadmzfr @pshrosbree @stankovski
/specification/monitor/ @asafst @daschult @davmc @gucalder @jihochang @johnkemnetz @micongjie @pkamath13 @ro-joowan @shriku11 @tiffanyachen @vladbarosan
/specification/msi/ @daschult @varunkch @vladbarosan
/specification/mysql/ @daschult @jihochang @qingqingyuan @rahulgouthamdotgs @sasankv-ms @suna-ms @tiffanyachen @vladbarosan
/specification/network/ @ajinkyapotdarvjti @akshaysngupta @allanbomsft @anavinahar @ankurchoubeymsft @azhao155 @bganapa @brjohnstmsft @chandrasekarsrinivasan @daschult @dedhar @deepakrajendranmsft @dihan0604 @dmakwana @evgenyagafonchikov @georgewallace @gimotwanmsft @gmainar @henry416 @himanshumisra1 @irrogozh @jihochang @jobatzil @kagamsft @lamchester @lukaszstem @maboja-msft @manjushachava @mattreatmsft @mikhailtryakhov @murilogr @nilambari @number213 @pacort @pashukl @priyanag @ritwikbasu @ro-joowan @rupalivohra @sethmanheim @skomarag @stankovski @sudhansu88 @tfitzmac @vinatara @vinayada1 @vladbarosan
/specification/notificationhubs/ @amolr @daschult @smithab @stankovski
/specification/operationalinsights/ @alexeldeib @chandrasekarsrinivasan @daschult @murilogr @sw47 @vladbarosan @xizhamsft
/specification/operationsmanagement/ @daschult @dashimi16
/specification/policyinsights/ @bulentelmaci @tiffanyachen
/specification/postgresql/ @daschult @himanshumisra1 @jihochang @lukaszstem @maboja-msft @qingqingyuan @rahulgouthamdotgs @revas89 @sasankv-ms @sethmanheim @suna-ms @tiffanyachen @vladbarosan
/specification/powerbidedicated/ @daschult @selasagi @tarostok
/specification/powerbiembedded/ @daschult @mattmazzola @minewiskan
/specification/powerbipremium/ @michael-falk
/specification/provisioningservices/ @daschult @francisco-gamino @kvish @montgomp
/specification/recoveryservices/ @daschult @dragonfly91 @sonathan @vladbarosan
/specification/recoveryservicesbackup/ @daschult @dheerendrarathor @dragonfly91 @gmainar @markgalioto @vladbarosan
/specification/recoveryservicessiterecovery/ @avneeshrai @bsiva @daschult @dmakwana @himanshumisra1 @lukaszstem @maboja-msft @mikekinsman @mukum @sethmanheim @sudhansu88 @vladbarosan
/specification/redis/ @alfantp @brjohnstmsft @daschult @siddharthchatrolams @stankovski @steved0x @tiffanyachen @timlovellsmith @vladbarosan
/specification/relay/ @daschult @gmainar @sethmanheim @v-ajnava @vladbarosan
/specification/remoteapp/ @amarsi @calexan
/specification/reservations/ @corquiri @daschult
/specification/resourcehealth/ @daschult @himanshumisra1 @lukaszstem @maboja-msft @rajithanitc @sankalpsoni @sethmanheim @vladbarosan
/specification/resources/ @bganapa @brjohnstmsft @chandrasekarsrinivasan @chidmdxx @cyl3392207 @daschult @everfor @grzegorzzygmunt @jaredmoo @jihochang @luanshixia @mjfrb @muazmian @murilogr @pilor @rajshah11 @sendhil @stankovski @tbombach @tfitzmac @tudordid @vivsriaus @vladbarosan @wenwu449 @wilcobmsft @zjpjack
/specification/scheduler/ @daschult @derek1ee @pinwang81 @stankovski @tudordid
/specification/search/ @brjohnstmsft @daschult @seansaleh @tiffanyachen @tudordid @vladbarosan
/specification/servermanagement/ @daschult @r22016 @steved0x
/specification/service-map/ @daschult @daveirwin1
/specification/servicebus/ @brjohnstmsft @daschult @gmainar @himanshumisra1 @jihochang @lukaszstem @maboja-msft @sazeesha @sethmanheim @sudhansu88 @tiffanyachen @v-ajnava @vladbarosan
/specification/servicefabric/ @daschult @jihochang @juhacket @ro-joowan @samedder @vipulm-msft @vladbarosan
/specification/siterecovery/ @avneeshrai
/specification/sql/ @akromm @btasdoven @chandrasekarsrinivasan @daschult @dnayantara @emgu-ms @ferno-ms @gmainar @jaredmoo @jcyang75 @jiahli @jiawang003 @jugeorge @kisantia @kosta-bizetic @maboja-msft @markobender @mihymel @mmacy @murilogr @nathannfan @payiazure @pixia @ro-joowan @sarvesh-s @scottholden @stankovski @tiffanyachen @tomapaunovic @tudordid @vladbarosan @vsporeddy @yaakoviyun @yiwuti @zhensun-sql
/specification/storage/ @bganapa @bingosummer @blueww @brjohnstmsft @daschult @emgerner-msft @jasonyang-msft @robinsh @stankovski @tudordid @vladbarosan
/specification/storageimportexport/ @daschult @leoz-ms @renashahmsft
/specification/storsimple/ @manaas-microsoft
/specification/storsimple8000series/ @daschult @dmakwana @himanshumisra1 @lukaszstem @maboja-msft @manaas-microsoft @sethmanheim @vladbarosan
/specification/streamanalytics/ @atpham256 @daschult @vladbarosan
/specification/subscription/ @daschult @wilcobmsft
/specification/subscriptions/ @stankovski
/specification/timeseriesinsights/ @daschult @sandshadow @vladbarosan @yeskarthik
/specification/trafficmanager/ @allencal @brjohnstmsft @daschult @hrkulkarmsft @tbombach @vladbarosan
/specification/visualstudio/ @amaljg @daschult @gmainar @himanshumisra1 @lukaszstem @maboja-msft @niblak @sethmanheim
/specification/web/ @csmengwan @daschult @ericsten-msft @gmainar @hforeste @lukaszstem @michimune @mikekinsman @mn263 @naveedaz @nking92 @shcummin @stankovski @stevenernst131 @tiffanyachen @vladbarosan @zooba

New api version for redis 2018-03-01 (#2581)
  specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/examples/RedisCacheCheckNameAvailability.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/examples/RedisCacheCreate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/examples/RedisCacheDelete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/examples/RedisCacheExport.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/examples/RedisCacheFirewallRuleCreate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/examples/RedisCacheFirewallRuleDelete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/examples/RedisCacheFirewallRuleGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/examples/RedisCacheFirewallRulesList.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/examples/RedisCacheForceReboot.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/examples/RedisCacheGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/examples/RedisCacheImport.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/examples/RedisCacheLinkedServer_Create.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/examples/RedisCacheLinkedServer_Delete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/examples/RedisCacheLinkedServer_Get.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/examples/RedisCacheLinkedServer_List.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/examples/RedisCacheList.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/examples/RedisCacheListByResourceGroup.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/examples/RedisCacheListKeys.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/examples/RedisCacheListUpgradeNotifications.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/examples/RedisCachePatchSchedulesCreateOrUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/examples/RedisCachePatchSchedulesDelete.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/examples/RedisCachePatchSchedulesGet.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/examples/RedisCacheRegenerateKey.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/examples/RedisCacheUpdate.json
  specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/redis.json
  specification/redis/resource-manager/readme.md
Owners: @alfantp, @brjohnstmsft, @daschult, @siddharthchatrolams, @stankovski, @steved0x, @tiffanyachen, @timlovellsmith, @vladbarosan

Add "x-ms-parameter-location": "client" to subId and apiVersion parameters
  specification/resources/resource-manager/Microsoft.Resources/stable/2016-06-01/subscriptions.json
Owners: @bganapa, @brjohnstmsft, @chandrasekarsrinivasan, @chidmdxx, @cyl3392207, @daschult, @everfor, @grzegorzzygmunt, @jaredmoo, @jihochang, @luanshixia, @mjfrb, @muazmian, @murilogr, @pilor, @rajshah11, @sendhil, @stankovski, @tbombach, @tfitzmac, @tudordid, @vivsriaus, @vladbarosan, @wenwu449, @wilcobmsft, @zjpjack

Updated from jHendrix feedback
  specification/mediaservices/resource-manager/readme.md
Owners: @brianblum, @brjohnstmsft, @daschult, @jonpayne, @vladbarosan

Use tag variables instead of exact versions
  specification/datalake-analytics/data-plane/readme.nodejs.md
Owners: @brjohnstmsft, @daschult, @jihochang, @matt1883, @ro-joowan, @stankovski, @vladbarosan

Removed extra whitespace
  specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-03-31/examples/ReservationRecommendationsList.json
Owners: @daschult, @kc786, @kjeur, @ms-premp, @panda-wang, @sandeepnl, @v-anpasi, @vladbarosan

Merging subscriptions.json swagger from Microsoft.Resources in Microsoft.Subscriptions swagger so that --package-all-subscriptions tag can produce a single package
  specification/subscription/resource-manager/Microsoft.Subscription/stable/2016-06-01/subscriptions.json
  specification/subscription/resource-manager/readme.md
Owners: @daschult, @wilcobmsft

add swagger->sdk config for go
  specification/consumption/resource-manager/readme.md
Owners: @daschult, @kc786, @kjeur, @ms-premp, @panda-wang, @sandeepnl, @v-anpasi, @vladbarosan
